﻿@model List<ExamRoomViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamInputMarkAssignedArea
@using SMAS.Web.Areas.ExamInputMarkAssignedArea.Models

@{
    
}
<div class="vt-ResultPanel">
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExamRoom")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                c.Bound(o => o.ExamRoomCode).HtmlAttributes(new { style = "text-align:center" }).Width(60);
                c.Bound(o => o.ExamGroupName).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Template(@<text>
                                @{
                                    <label class="custom-checkbox">
                                    <input type='checkbox' class='checkedIds' name="lstExamRoomID" checked value="@item.ExamRoomID"/>
                                    <span class="checkmark mg-l-15"></span> 
                                    </label>
                                 }
                            </text>).HeaderTemplate("<p style='text-align:center; margin-top:25px;'>" + "Chọn" + "</p><p style='text-align:center; margin-bottom:5px'><label class='custom-checkbox'><input type='checkbox' id='chekAll' checked/><span class='checkmark mg-l-15'></span></label></p>")
                     .HtmlAttributes(new { style = "text-align:center" }).Width(30);
            })
            .DataKeys(keys => keys.Add(o => o.ExamRoomID))
            .Scrollable(u => u.Height(120))
            .Render();
                      
    }
</div>

<script type="text/javascript">
    $("#GridExamRoom").find('#chekAll').click(function () {
        $(this).parents('#GridExamRoom').find(':checkbox').attr('checked', this.checked);

    });
    $("#GridExamRoom").find('.checkedIds').change(function () {

        //Kiem tra check/uncheck checkbox all

        if ($("#GridExamRoom").find(".checkedIds:not(:checked)").length == 0) {
            $('#GridExamRoom #chekAll').attr('checked', true);
        }
        else {
            $('#GridExamRoom #chekAll').attr('checked', false);
        }

    });
</script>
