﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamInputMarkAssignedArea
@using SMAS.Web.Areas.ExamInputMarkAssignedArea.Models

@{   
    bool checkButton = (bool)ViewData[ExamInputMarkAssignedConstants.PER_CHECK_BUTTON];
    bool checkDelete = (bool)ViewData[ExamInputMarkAssignedConstants.PER_CHECK_DELETE];
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">

        <div class="vt-ResultPanel-Title-Button">
        @{
            if (checkButton)
            {
                @Html.ViettelButton(Res.Get("ExamInputMarkAssigned_Button_AutoAssign"), "button", "AutoAssignOnClick()", "btn btn-info btn-round")
            }
            else
            {
                @Html.ViettelButton(Res.Get("ExamInputMarkAssigned_Button_AutoAssign"), "button", "", "btn btn-info btn-round")
            }
         }
            
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;
        long curSubjectID = 0;
        Html.Telerik()
            .Grid(Model)
            .Name("GridExamInputMarkAssigned")
            .Columns(c =>
            {
                c.Template(
                    @<text>
                                @if (item.SubjectID != curSubjectID)
                                {
                                    index = 1;
                                    curSubjectID = item.SubjectID;
                                }
                                else
                                {
                                    index++;
                                }
                                @index
                            </text>
                    ).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.EmployeeCode).HtmlAttributes(new { style = "text-align:center" }).Width(150);
                c.Bound(o => o.EmployeeName);
                c.Bound(o => o.SchoolFacultyName).Sortable(false).HtmlAttributes(new { style = "text-align:center" }).Width(150);
                c.Bound(o => o.StrExamRoom).Sortable(false).Width(150);
                 c.Template(@<text>
                                @if (checkDelete)
                                {
                                    <span id="btnDelete" class=" t-icon icon icon-trash"  onclick ="btnDeleteClick('@item.ExamInputMarkAssignedID')" />
                                } 
                            </text>).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70);

                c.Template(@<text><input class="hiddenSubjectID"  type ="hidden" value="@item.SubjectID"/>
                                  <input class="hiddenSubjectName"  type ="hidden" value="@item.SubjectName"/>
                           </text>)
                            .Title(String.Empty)
                            .Hidden(true);
                c.Template(@<text><input class="hiddenExamInputMarkAssignedID"  type ="hidden" value="@item.ExamInputMarkAssignedID"/></text>)
                            .Title(String.Empty)
                            .Hidden(true);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
             )

            .DataKeys(keys => keys.Add(o => new {o.ExamInputMarkAssignedID,o.SubjectID}))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(450))
            .Groupable(grouping => grouping
              .Groups(groups =>
              {
                  groups.Add(c => c.SubjectOrder);
              }).Visible(false)
        )
            .Render();
                      
    }
</div>

<script type="text/javascript">
    function btnDeleteClick(ID) {
        smas.confirm('@Html.Raw(Res.Get("ExamInputMarkAssigned_Message_DeleteConfirm"))', function () {
            smas.post('@Url.Action("Delete")', { id: ID }, search, null);
        });
    }

    $(document).ready(function () {
        $(".t-grouping-row").each(function () {
            var subjectName = $(this).next().find(".hiddenSubjectName").val();
            var html = '<a href="#" class="t-icon t-collapse">' + subjectName + '</a>' + subjectName;
            $(this).find(".t-reset").html(html);

            $(this).find("td").attr("colspan", 5);
            var data = $(this).html();
 
            var subjectID = $(this).next().find(".hiddenSubjectID").val();
            
             @{
                 if (checkButton)
                 {
                    <text>
            data = data + '<td style="font-weight:bold;" colspan="2">' + '<a onclick="btnCreateClick(' + subjectID.toString() + ',this)"' + 'href="javascript:void(0);" >' + '@Res.Get("ExamInputMarkAssigned_Label_AddNew")' + '</a>' + '</td>';
                    </text>
                 }
                 else
                 {
                    <text>
                        data = data + '<td style="font-weight:bold;" colspan="2"></td>';
                    </text>
                }
              }
            
            $(this).html(data);
        });

        //Xoa dong khong co du lieu
        $("#GridExamInputMarkAssigned").find("table").find("tr").not(".t-grouping-row").each(function () {
            $dataRow = $(this);
            var examInputMarkAssignedID = $dataRow.find(".hiddenExamInputMarkAssignedID").val();
            if (examInputMarkAssignedID == 0) {
                $dataRow.remove();
            }
        });
    });

</script>
<style type="text/css">
    #GridExamInputMarkAssigned .t-grouping-row td {
    background: 0 0;
    }
    #GridExamInputMarkAssigned .t-grouping-row .t-reset {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
    #GridExamInputMarkAssigned .t-grouping-row td {
        border-left:none;
    }
    #GridExamInputMarkAssigned .t-grouping-row td:nth-child(2) {
        text-align:center;
    }
</style>