﻿@model SMAS.Web.Areas.AcademicYearArea.Models.AcademicYearForm
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Constants
@using SMAS.Business.Common

@{
    IDictionary<string, object> html = new Dictionary<string, object>();
    if (!Model.hasLastYear)
    {
        html["disabled"] = true;
    }
    var checkEdit = Model.canEdit;

    var checkid = 0;
    if (Model != null & Model.AcademicYearID != 0)
    {
        checkid = Model.AcademicYearID;
    }
}

<div class="gray small">
    @{
        int level1 = 1;
        int level2 = 1<<1;
        int level3 = 1<<2;
        int nhatre = 1<<3;
        int maugiao = 1<<4;
        <b>Dữ liệu được kế thừa nếu chọn bao gồm:</b>
        <div>-  Danh sách lớp học</div>
        SchoolProfile sp = ViewBag.SchoolProfile;
        if (sp != null)
        {
            if ((sp.EducationGrade & level1) == level1 || (sp.EducationGrade & level2) == level2 || (sp.EducationGrade & level3) == level3)
            {
                <div>-  Danh sách môn học cho trường</div>
                <div>-  Danh sách môn học cho lớp</div>
            }
            if ((sp.EducationGrade & nhatre) == nhatre || (sp.EducationGrade & maugiao) == maugiao)
            {
                <div>-  Danh sách món ăn</div>
                <div>-  Danh sách thực đơn ngày </div>
            }
        }   
    }
</div>
<br />

<div class="row">
    <div class="col-sm-4 no-padding">
        @Html.ViettelEditorFor(model => model.Year, new Dictionary<string, object> { { "onchange", "OnChangeYear(this)" }, { "class", "integer" }, { "maxlength", "4" } }, false)
    </div>
    <div class="col-sm-3 full">
        @Html.ViettelTextbox(null, "yearEnd", (Model == null || Model.Year == null ? null : Model.Year + 1), null, false, true)
    </div>
    <div class="col-sm-5 no-padding">
        <div class="p-t-8">
        @{
            if (Model == null || Model.AcademicYearID == 0)
            {
            @Html.ViettelCheckBoxFor(model => model.chkGetlast, html, Res.Get("AcademicYear_Control_GetLast"), false)
            }
        }
        </div>
    </div>
</div>

<div class="f-16 light-green mg-t-10 mg-b-10">@Res.Get("Common_Label_DetailInfo")</div>
<div class="row semesterDates">
    <div class="col-sm-5 col-sm-offset-1">
        @Html.ViettelDatePickerFor(model => model.FirstSemesterStartDate, true, html)
    </div>

    <div class="col-sm-5">
        @Html.ViettelDatePickerFor(model => model.FirstSemesterEndDate, true, html)
    </div>
</div>

<div class="row semesterDates">
    <div class="col-sm-5 col-sm-offset-1">
        @Html.ViettelDatePickerFor(model => model.SecondSemesterStartDate, true, html)
    </div>

    <div class="col-sm-5">
       @Html.ViettelDatePickerFor(model => model.SecondSemesterEndDate, true, html)
    </div>
</div>


<script type="text/javascript">
    var acaid = '@checkid';
    var checkEdit = '@checkEdit';
    $(document).ready(
        function () {
            if (acaid != 0) {
                $("#Year").attr("readonly", true);
            }else {
                $("#chkGetlast").attr("checked", "checked");
            }
            if (checkEdit == "False") {
                smas.readonlyDatePicker("#FirstSemesterStartDate");
                smas.readonlyDatePicker("#FirstSemesterEndDate");
                smas.readonlyDatePicker("#SecondSemesterStartDate");
                smas.readonlyDatePicker("#SecondSemesterEndDate");
            }
        }
    )

    function formatDateString(s) {
        var pad = function (x) { return ((x.length < 2) ? "0" : "") + x; }
    , dt = new Date("" + s), d, m, y;
        if (dt.getTime()) {
            d = pad(dt.getDate());
            m = pad(dt.getMonth() + 1);
            y = dt.getFullYear();
            return [d, m, y].join('/');
        }
        return null;
    }

    function fixDate(strErrDate) {
        pattern = strErrDate.substring(6, strErrDate.length - 2);

        return new Date(pattern * 1);
    }
    function OnChangeYear(txtYear) {
        if (txtYear.value * 1 > 0) {
            $("#yearEnd").val(txtYear.value * 1 + 1);
            var token = $('[name=__RequestVerificationToken]').val();
            $.ajax({
                url: '@Url.Action("LoadProvinceAcademicYear", "AcademicYear")',
                type: 'post',
                data: { Year: txtYear.value * 1, '__RequestVerificationToken': token},

                success: function (data) {
                    if (data.FirstSemesterStartDate != null) {
                        $("#FirstSemesterStartDate").val(dateUtils.formatDate(fixDate(data.FirstSemesterStartDate)));
                        $("#FirstSemesterEndDate").val(dateUtils.formatDate(fixDate(data.FirstSemesterEndDate)));
                        $("#SecondSemesterStartDate").val(dateUtils.formatDate(fixDate(data.SecondSemesterStartDate)));
                        $("#SecondSemesterEndDate").val(dateUtils.formatDate(fixDate(data.SecondSemesterEndDate)));
                    }

                    if (!data.canEdit) {

                        smas.readonlyDatePicker("#FirstSemesterStartDate");
                        smas.readonlyDatePicker("#FirstSemesterEndDate");
                        smas.readonlyDatePicker("#SecondSemesterStartDate");
                        smas.readonlyDatePicker("#SecondSemesterEndDate");
                    } else {

                        smas.enableDatePicker("#FirstSemesterStartDate");
                        smas.enableDatePicker("#FirstSemesterEndDate");
                        smas.enableDatePicker("#SecondSemesterStartDate");
                        smas.enableDatePicker("#SecondSemesterEndDate");
                    }
                    if (!data.hasLastYear) {
                        $("#chkGetlast").attr("disabled", true);
                    }
                    else {
                        $("#chkGetlast").attr("disabled", false);
                    }


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
    
</script>
