﻿@model SMAS.Web.Areas.AcademicYearArea.Models.AcademicYearForm
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils


@using (Ajax.BeginForm("Edit",
                       "AcademicYear",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="EditAcademicYear" class="vt-EditorPanel vt-EditorPanel-1 academic-year-edit-window">
        <div class="vt-EditorPanel-Control">
	        @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrEdit", Model)
            @Html.ViettelHiddenFor(o => o.AcademicYearID)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog'); search();", "btn btn-basic  btn-round")
        </div>
    </div>
}


<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        //console.log(ajaxContext);
        //smas.alert(ajaxContext.responseText);
    }

    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
</script>
