﻿@model PhysicalTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalTestArea.Models
@using SMAS.Web.Areas.PhysicalTestArea

@{
    int total = 0;
    int page = 1;
    List<PhysicalTestViewModel> ls = ViewData[PhysicalTestConstants.LIST_EARNOSE] as List<PhysicalTestViewModel>;
    int count = ls.Count();
    if (ViewData[PhysicalTestConstants.TOTALRECORD] != null)
    {
        total = (int)ViewData[PhysicalTestConstants.TOTALRECORD];
    }    
    bool chckLink = false;
    if (ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST] != null)
    {
        chckLink = (bool)ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST];
    }
}

@*<div class="vt-ResultPanel-Title">
    <div class="vt-ResultPanel-Title-Message">
          @string.Format(Res.Get("Common_Message_RowCount"), total)
    </div>
    <div class="Clear"></div>
</div>*@
@{
    var index = 1;

    Html.Telerik()
        .Grid(ls)
        .Name("GridEarNose")
        .HtmlAttributes(new { @class = "custom-table-border" })
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd4++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(o => o.MonitoringDateStr).HeaderTemplate(Res.Get("Common_Column_DateTest")).HtmlAttributes(new { style = "text-align:center" }).Width(120);
            c.Bound(o => o.FullName).Template(@<text><center>@item.FullName</center></text>).HeaderTemplate(Res.Get("Common_Column_FullName")).Width(150);
            c.Bound(o => o.DisplayName).Sortable(false).HtmlAttributes(new { style = "text-align:center" }).Width(80);
            c.Template(@<text>
                        @{
                              <table cellspacing="0" style="border-collapse: collapse;">
                                    <tr>           
                @if (item.LCapacityHearing.HasValue)
                {                  
                                            <td style="text-align:right; border: none !important; width: 50%; border-right: solid 1px #A7BAC5 !important; padding-right: 10px">
                                               @(item.LCapacityHearing + " dB")
                                            </td>
                }
                else
                {
                                            <td style="text-align:right; border: none !important; width: 50%; border-right: solid 1px #A7BAC5 !important;padding-right: 10px; height: 19px;">
                                               @item.LCapacityHearing
                                           </td>
                }

                @if (item.RCapacityHearing.HasValue)
                {
                                            <td style="text-align:right; border: none !important; width: 50%; padding-right: 10px">
                                                @(item.RCapacityHearing + " dB")
                                            </td> 
                }
                else
                {
                                            <td style="text-align:right; border: none !important; width: 50%; padding-right: 10px">
                                              @item.RCapacityHearing
                                            </td>
                }                               
                                    </tr>
                                </table>                           
                        }
                        </text>)
                        .ClientTemplate("<#= CapacityHearing(LCapacityHearing,RCapacityHearing)#>")
                        .HeaderTemplate(
                                @<text>
                                        <table cellspacing="0">
                                            <tr>
                                                <td colspan="2" style="border: none !important">
                                                    <center>
                                                            @Res.Get("Physical_Label_EarCapacity")
                                                        </center>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left: none !important; border-bottom: none !important; width: 50%; border-top: solid 1px #A7BAC5; border-right: solid 1px #A7BAC5;">
                                                    <center>
                                                            @Res.Get("Physical_Label_LeftEar")
                                                        </center>
                                                </td>
                                                <td style="border-right: none !important; border-bottom: none !important; width: 50%; border-top: solid 1px #A7BAC5; border-right: solid 1px #A7BAC5;">
                                                    <center>
                                                            @Res.Get("Physical_Label_RightEar")
                                                        </center>
                                                </td>
                                            </tr>
                                        </table>
                            </text>).Width(140);

            c.Template(@<text>
                    @{
                        if (item.IsDeaf.Value == true)
                        {
                             @Html.ViettelLabel("x")
                        }
                        else
                        {
                             <p></p>
                        }
                    }
                </text>).ClientTemplate("<#= HtmlIsDeaf(IsDeaf) #>").HeaderTemplate(@<text>
                            @Res.Get("Common_Column_IsDeaf")
                            </text>).HtmlAttributes(new { style = "text-align:center" }).Width(100);

            c.Template(@<text>
                        @{
                            if (item.IsSick.Value == true)
                            {
                                <label>@item.Description</label>
                            }
                            else
                            {
                                <label>@Res.Get("ENTTest_Label_Normal")</label>
                            }
                        }
                        </text>).ClientTemplate("<#= HtmlSick(IsSick,Description)#>").HeaderTemplate(@<text>@Res.Get("Common_Column_OtherENTDiseases")</text>).Width(120);

        })
        .DataBinding(b => b.Ajax().Select("EarNoseAjax", "PhysicalTest"))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBindingEar").OnDataBound("Grid_DataBound").OnCommand("Grid_onCommand"))
        .DataKeys(keys => keys.Add(o => o.ENTTestID))
        .Sortable()
        .Pageable(p => p.PageSize(PhysicalTestConstants.PAGE_SIZE).Total(total).PageTo(page))
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .EnableCustomBinding(true)
        .Scrollable(c => c.Enabled(true).Height("auto"))
        .Render();
    <div style="text-align: right; margin-top: 10px;">
          @if (total > 0)
          {
                @Html.ViettelButton(Res.Get("CandidateRoom_Label_Export"), new Dictionary<string, object> { { "id", "btnExport" } }, "button", "ClickExport()", "btn btn-info btn-icon btn-round btn-icon-excel")
          }
    </div>
}
<script type="text/javascript">

    function HtmlSick(IsSick, Description) {
        var html = '';
        if (IsSick) {
            html = Description;
        } else {
            html='@Res.Get("ENTTest_Label_Normal")'
        }
        return html;
    }
    function HtmlIsDeaf(IsDeaf) {
        var html = '<p></p>';
        if (IsDeaf) {
            html = 'x';
        }
        return html;
    }

    function CapacityHearing(LCapacityHearing, RCapacityHearing) {
        var html = '';
        if (LCapacityHearing == null) {
            LCapacityHearing = '';
        }
        if (RCapacityHearing == null) {
            RCapacityHearing = '';
        }

        if(LCapacityHearing!= "" && LCapacityHearing != null) {

            html = '<table cellspacing="0" style="border-collapse: collapse;"><tr><td style="text-align:right; border: none !important; width: 50%; border-right: solid 1px #A7BAC5 !important; padding-right: 10px">'
                   + LCapacityHearing + ' dB</td>';
        }else{
            html = '<table cellspacing="0" style="border-collapse: collapse;"><tr> <td style="text-align:right; border: none !important; width: 50%; border-right: solid 1px #A7BAC5 !important;padding-right: 10px; height: 19px;">'
                   + LCapacityHearing + '</td>';
        }

        if (RCapacityHearing != "" && RCapacityHearing != null) {
            html += '<td style="text-align:right; border: none !important; width: 50%; padding-right: 10px">' 
                + RCapacityHearing + ' dB</td></tr></table>';
        }else{
            html+= '<td style="text-align:right; border: none !important; width: 50%; padding-right: 10px">' + RCapacityHearing + '</td></tr></table>';
        }

        return html;
    }

    function EarNoseDate(MonitoringBookID, Date) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<a href="/HealthTestArea/HealthTest/DetailHealthTest?monitoringBookID=' + MonitoringBookID + '">' + formatDate(Date) + '</a>';
        } else {
            html = formatDate(Date);
        }
        return html;
    }

    function EarNoseFullName(PupilID, ClassID, FullName) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<a href="/HealthTestArea/HealthTest/Index/' + PupilID + '?ClassID=' + ClassID + '&tab=0">' + FullName + '</a>';
        } else {
            html = FullName;
        }
        return html;
    }

    function Grid_onCommand(e) {

    }
    function ClickExport() {

        if (!validateUtils.validateForm('frmSearch')) {
            return false;
        }

        $("#frmSearch").serialize();

        var EducationLevelID = $("#frmSearch #EducationLevelID").val();
        var ClassID = $("#frmSearch #ClassID").val();
        var PeriodExaminationID = $("#frmSearch #PeriodExaminationID").val();
        var FullName = $("#frmSearch #FullName").val();
        var IsSick = $('#IsSick:checked').val();
        var IsDeaf = $('#IsDeaf:checked').val();
        if (IsSick == "true") {
            IsSick = true;
        } else {
            IsSick = false;
        }
        if (IsDeaf == "true") {
            IsDeaf = true;
        } else {
            IsDeaf = false;
        }

        window.open('@Url.Action("ExportEarNoseExcel", "PhysicalTest")' + '?EducationLevelID=' + EducationLevelID
        + '&ClassID=' + ClassID + '&PeriodExaminationID=' + PeriodExaminationID + '&FullName=' + FullName + '&IsSick=' + IsSick + '&IsDeaf=' + IsDeaf);

    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
</script>
