﻿@model OverallTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalTestArea.Models
@using SMAS.Web.Areas.PhysicalTestArea

@{
    int total = 0;
    int page = 1;
    IEnumerable<OverallTestViewModel> lst = (IEnumerable<OverallTestViewModel>)ViewData[PhysicalTestConstants.LIST_OVERTALL];
    if (ViewData[PhysicalTestConstants.TOTALRECORD]!= null)
    {
        total = (int)ViewData[PhysicalTestConstants.TOTALRECORD];
    }

    bool chckLink = false;
    if (ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST] != null)
    {
        chckLink = (bool)ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST];
    }
}
@*<div class="vt-ResultPanel-Title">
    <div class="vt-ResultPanel-Title-Message">
          @string.Format(Res.Get("Common_Message_RowCount"), total)
    </div>
    <div class="Clear"></div>
</div>*@
@{
    
    var index = 1;

    Html.Telerik()
        .Grid(lst)
        .Name("GridOverallTest")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd3++ #>").Title(Res.Get("STT")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(o => o.MonitoringDateStr).HeaderTemplate(Res.Get("Common_Column_DateTest")).Width(120);
            c.Bound(o => o.FullName).HeaderTemplate(Res.Get("Common_Column_FullName")).Width(120);
            c.Bound(o => o.DisplayName).HtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("PhysicalTest_Label_Class"), 1)).Sortable(false).Width(90);
            c.Bound(o => o.OverallInternal).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_OverallInternal"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.OverallForeign).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_OverallForeign"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.SkinDiseases).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_SkinDiseases"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.IsHeartDiseases).HtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_IsHeartDiseases"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.IsBirthDefect).HtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_IsBirthDefect"), 3)).Sortable(false).Width(120);
            c.Bound(o => o.Other).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_Other"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.EvaluationHealth).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_EvaluationConfigName"), 2)).Sortable(false).Width(120);
            c.Bound(o => o.RequrieOfDoctor).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("OverallTest_Label_RequireOfDoctor"), 2)).Sortable(false).Width(160);



        })
        .DataBinding(b => b.Ajax().Select("OverAllAjax", "PhysicalTest"))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBindingOverall").OnDataBound("Grid_DataBound"))
        .DataKeys(keys => keys.Add(o => o.DisplayName))
        .Pageable(p => p.PageSize(PhysicalTestConstants.PAGE_SIZE).Total(total).PageTo(page))
        .EnableCustomBinding(true)
         .Scrollable(c => c.Enabled(true).Height("auto"))
        .Selectable()
        .Render();
        <div style="text-align: right; margin-top:10px;">
              @if (total > 0)
              {
                   @Html.ViettelButton(Res.Get("CandidateRoom_Label_Export"), new Dictionary<string, object> { { "id", "btnExport" } }, "button", "ClickExportOverAll()", "btn btn-info btn-icon btn-round btn-icon-excel")
              }
        </div>
}
<script type="text/javascript">
    var lstInd = 0;

    function OverAllDate(MonitoringBookID, Date) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<center><a href="/HealthTestArea/HealthTest/DetailHealthTest?monitoringBookID=' + MonitoringBookID + '">' + formatDate(Date) + '</a></center>';
        } else {
            html = formatDate(Date);
        }
        return html;
    }

    function OverAllFullName(PupilID, ClassID, FullName) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<a href="/HealthTestArea/HealthTest/Index/' + PupilID + '?ClassID=' + ClassID + '&tab=0">' + FullName + '</a>';
        } else {
            html = FullName;
        }
        return html;
    }

    function Grid_onCommand(e) {

    }
    function ClickExportOverAll() {

        if (!validateUtils.validateForm('frmSearch')) {
            return false;
        }
        $("#frmSearch").serialize();
        var EducationLevelID = $("#frmSearch #EducationLevelID").val();
        var ClassID = $("#frmSearch #ClassID").val();
        var PeriodExaminationID = $("#frmSearch #PeriodExaminationID").val();
        var FullName = $("#frmSearch #FullName").val();
        var ItemExaminationID = $("#frmSearch #ItemExaminationID").val();
        var EvaluationHealth = $("#frmSearch #EvaluationHealth").val();
        var SkinDiseases = $('#frmSearch #SkinDiseases').is(":checked");
        var IsHearDiseases = $('#frmSearch #IsHearDiseases').is(":checked");
        var IsBirthDefect = $('#frmSearch #IsBirthDefect').is(":checked");

        window.open('@Url.Action("ExportExcelOverallTest", "PhysicalTest")' + '?EducationLevelID=' + EducationLevelID
        + '&ClassID=' + ClassID + '&PeriodExaminationID=' + PeriodExaminationID + '&FullName=' + FullName
        + '&ItemExaminationID=' + ItemExaminationID + '&EvaluationHealth=' + EvaluationHealth + '&SkinDiseases=' + SkinDiseases
        + '&IsHearDiseases=' + IsHearDiseases + '&IsBirthDefect=' + IsBirthDefect );

    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
</script>
