﻿@model PhysicalTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalTestArea.Models
@using SMAS.Web.Areas.PhysicalTestArea


@{
    IEnumerable<PhysicalTestViewModel> lst = (IEnumerable<PhysicalTestViewModel>)ViewData[PhysicalTestConstants.LIST_PHYSICALTEST];
    int count = lst.Count();
    int total = 0;
    if (ViewData[PhysicalTestConstants.TOTALRECORD] != null)
    {
        total = (int)ViewData[PhysicalTestConstants.TOTALRECORD];
    }
    int page = 1;
    bool chckLink = false;
    if (ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST] != null)
    {
        chckLink = (bool)ViewData[PhysicalTestConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST];
    }
}
@*<div class="vt-ResultPanel-Title">
    <div class="vt-ResultPanel-Title-Message">
          @string.Format(Res.Get("Common_Message_RowCount"), total)
    </div>
    <div class="Clear"></div>
</div>*@
<div class="text-right mg-b-10">
    @if(total > 0)
    {
        @Html.ViettelButton(Res.Get("CandidateRoom_Label_Export"), new Dictionary<string, object> { { "id", "btnExport" } }, "button", "ClickExportPhysical()", "btn btn-info btn-round btn-icon btn-icon-excel")       
    }
</div>
@{
    var index = 1;
    Html.Telerik()
        .Grid(lst)
        .Name("GridPhysicalTest")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd5++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center" } }).Width(30);
            c.Bound(o => o.MonitoringDateStr).Title(Res.Get("Common_Column_DateTest")).Width(100);
            c.Bound(o => o.FullName).Title(Res.Get("Common_Column_FullName")).Width(200);
            c.Bound(o => o.DisplayName).Sortable(true).Width(80).HtmlAttributes(new { style = "text-align:center" });
            c.Bound(o => o.Height).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:right" } }).Sortable(true).Width(120);
            c.Bound(o => o.Weight).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:right" } }).Sortable(true).Width(110);
            c.Bound(o => o.Breast).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:right" } }).Sortable(true).Width(120);
            c.Bound(o => o.PhysicalClassification).Sortable(true).Width(180);
            c.Bound(o => o.Nutrition).Sortable(true).Width(140);
        })
        .DataBinding(databingding => databingding.Ajax().Select("PhysicalTestAjax", "PhysicalTest"))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnDataBound("Grid_DataBound").OnComplete("GridLoad_Complete"))
        .DataKeys(keys => keys.Add(o => o.PhysicalTestID))
      //  .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Pageable(p => p.PageSize(PhysicalTestConstants.PAGE_SIZE).Total(total).PageTo(page))
        .EnableCustomBinding(true)
        .Scrollable(c => c.Enabled(true).Height("auto"))
        .Render();
    
}
<script type="text/javascript">

    function PhysicalDate(MonitoringBookID, Date) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<a href="/HealthTestArea/HealthTest/DetailHealthTest?monitoringBookID=' + MonitoringBookID + '">' + formatDate(Date) + '</a>';
        } else {
            html = formatDate(Date);
        }
        return html;
    }

    function PhysicalFullName(PupilID, ClassID, FullName) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = '<a href="/HealthTestArea/HealthTest/Index/' + PupilID + '?ClassID=' + ClassID + '&tab=0">' + FullName + '</a>';
        } else {
            html = FullName;
        }
        return html;
    }

    function GridLoad_Complete(e) {
        smas.hideProcessingDialog();
    }

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("PhysicalTest_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.PhysicalTestID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
    function ClickExportPhysical() {

        if (!validateUtils.validateForm('frmSearch')) {
            return false;
        }

        $("#frmSearch").serialize();
        var EducationLevelID = $("#frmSearch #EducationLevelID").val();
        var ClassID = $("#frmSearch #ClassID").val();
        var PeriodExaminationID = $("#frmSearch #PeriodExaminationID").val();
        var FullName = $("#frmSearch #FullName").val();
        var ItemExaminationID = $("#frmSearch #ItemExaminationID").val();
        var PhysicalClassificationID = $("#frmSearch #PhysicalClassificationID").val();
        var NutritionID = $("#frmSearch #NutritionID").val();
        var HeightMin = $("#frmSearch #HeightMin").val();
        var HeightMax = $("#frmSearch #HeightMax").val();
        var WeightMin = $("#frmSearch #WeightMin").val();
        var WeightMax = $("#frmSearch #WeightMax").val();

        window.open('@Url.Action("ExportExcelPhysical", "PhysicalTest")' + '?EducationLevelID=' + EducationLevelID
        + '&ClassID=' + ClassID + '&PeriodExaminationID=' + PeriodExaminationID + '&FullName=' + FullName
        + '&ItemExaminationID=' + ItemExaminationID + '&PhysicalClassificationID=' + PhysicalClassificationID + '&NutritionID=' + NutritionID
        + '&HeightMin=' + HeightMin + '&HeightMax=' + HeightMax + '&WeightMin=' + WeightMin + '&WeightMax=' + WeightMax);

    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
</script>
