﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalTestArea.Models
@using SMAS.Web.Areas.PhysicalTestArea
@using SMAS.Models.Models
@using SMAS.Web.Constants

@{
    string labelForEducationLevel;
    if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
           || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        labelForEducationLevel = Res.Get("PupilProfile_Label_EducationLevel_MN");
    }
    else
    {
        labelForEducationLevel = Res.Get("PhysicalTest_Label_EducationLevel");
    }
}

<div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
@using (Ajax.BeginForm("Search",
                           "PhysicalTest",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "general",
                               OnBegin = "SearchOBject",
                               OnComplete = "smas.hideProcessingDialog"
                               // OnBegin = "smas.showProcessingDialog();",
                               // OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel-Title"><span class="icon icon-search-file"></span>Thông tin tìm kiếm <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span></div>
    <div class="vt-SearchPanel-Content">
      <div class="GeneralForm SProfile2Form">
        <div class="row">
            <div class="general col-md-6">
                @Html.ViettelComboboxFor(o => o.EducationLevelID, labelForEducationLevel,
    new SelectList((IEnumerable<EducationLevel>)ViewData[PhysicalTestConstants.CBO_EDUCATIONLEVEL], "EducationLevelID", "Resolution")
            , GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "onChange", "AjaxLoadClass()" }}, false)
            </div>
            <div class="general col-md-6">
                @Html.ViettelComboboxFor(o => o.ClassID, Res.Get("PhysicalTest_Label_Class")
                    , new SelectList((IEnumerable<ClassProfile>)ViewData[PhysicalTestConstants.CBO_CLASS], "ClassProfileID", "DisplayName")
, GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "onChange", "AjaxSelectClass()" }}, false)
            </div>
            <div class="general col-md-6">
                @Html.ViettelEditorFor(o => o.FullName, new Dictionary<string, object> { })
            </div>
            <div class="general col-md-6">@Html.ViettelComboboxFor(o => o.PeriodExaminationID, Res.Get("PhysicalTest_Label_PeriodExamination"),
            new SelectList((IEnumerable<SelectListItem>)ViewData[PhysicalTestConstants.CBO_PERIODEXAMINATION], "Value", "Text")
, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { }, false)
            </div>
            <div class="general col-md-6">@Html.ViettelComboboxFor(o => o.ItemExaminationID, Res.Get("PhysicalTest_Label_ItemExamination"),
            new SelectList((IEnumerable<ComboObject>)ViewData[PhysicalTestConstants.CBO_ITEMEXAMINATION], "key", "value", 1)
, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "onChange", "AjaxSelectItem()" } }, false)
            </div>
            <div class="col-md-6" style="vertical-align: top;">
                <div class="PhysicalTest">
                    @Html.ViettelComboboxFor(o => o.PhysicalClassificationID, Res.Get("PhysicalTest_Label_PhysicalClassification"),
            new SelectList((IEnumerable<ComboObject>)ViewData[PhysicalTestConstants.CBO_PHYSICALCLASSIFICATION], "key", "value")
                , GlobalConstants.PLACEHOLDER_ALL,
new Dictionary<string, object> {}, false)
                </div>
                <div class="EyeTest">
                    @Html.ViettelComboboxFor(o => o.IsTreatment, Res.Get("EyeTest_Label_EyeIsTreatment"),
new SelectList((IEnumerable<SelectListItem>)ViewData[PhysicalTestConstants.CBO_ISTREATMENT], "Value", "Text")
                , GlobalConstants.PLACEHOLDER_ALL,
new Dictionary<string, object> { { "onChange", "AjaxSelectIsTreatment()" }, { "class", "EyeTest" } }, false)
                </div>
                <div class="OverallTest">
                    @Html.ViettelComboboxFor(o => o.EvaluationHealth, Res.Get("OverallTest_Label_EvaluationHealth"),
new SelectList((IEnumerable<SelectListItem>)ViewData[PhysicalTestConstants.CBO_EVALUATIONHEALTH], "Value", "Text")
                , GlobalConstants.PLACEHOLDER_ALL,
new Dictionary<string, object> {  { "class", "OverallTest" } }, false)
                </div>
            </div>
            <div class="col-md-6" style="vertical-align: top;">
                <div class="PhysicalTest">
                    <div class="vt-control">
                        <div class="editor-label">
                            @Html.ViettelLabel(Res.Get("PhysicalTest_Label_Height"))
                        </div>
                        <div class="editor-field mutiple-field">
                            <div class="col-sm-3 no-padding">
                                @Html.ViettelTextboxFor(o => o.HeightMin, "", new Dictionary<string, object> {{"onpaste","OnPasteHW(this)"} }, false, false)
                            </div>
                            <span class="col-sm-2 p-t-10 text-center">-&nbsp;&nbsp;</span>
                            <div class="col-sm-3 no-padding ">
                                @Html.ViettelTextboxFor(o => o.HeightMax, "", new Dictionary<string, object> { {"onpaste","OnPasteHW(this)"} }, false, false)
                            </div>
                            <span class="col-sm-2 p-t-10">cm</span>
                        </div>
                    </div>
                </div>
                <div class="EyeTest">
                    <div class="vt-control">
                        <div class="editor-label">
                            @Html.ViettelLabel(Res.Get("EyeTest_Label_Eyesight"))
                        </div>
                        <div class="editor-field mutiple-field">
                            <div class="col-sm-3 no-padding">
                                @Html.ViettelTextbox(null, "EyesightLeft", "", new Dictionary<string, object> { {  "class", "text-center" },{"onkeyup","OnKeyUp(this)"},{"onpaste","OnPaste(this)"} }, false, false)
                            </div>
                            <div class="col-sm-2 p-t-10 text-center">
                                <span>/10</span>
                            </div>
                            <div class="col-sm-2 p-t-10">
                                <span style="margin-right: 5px;">&nbsp;-</span>
                            </div>
                            <div class="col-sm-3 no-padding">
                                @Html.ViettelTextbox(null, "EyesightRight", "", new Dictionary<string, object> { {  "class", "text-center" },{"onkeyup","OnKeyUp(this)"},{"onpaste","OnPaste(this)"}}, false, false)
                            </div>
                            <div class="col-sm-2 p-t-10">
                                <span>/10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="vertical-align: top;">
                 <div class="PhysicalTest">
                    <div class="vt-control">
                        <div class="editor-label">
                            @Html.ViettelLabel(Res.Get("PhysicalTest_Label_Weight"))
                        </div>
                        <div class="editor-field mutiple-field">
                            <div class="col-sm-3 no-padding">
                                @Html.ViettelTextbox(null, "WeightMin", "", new Dictionary<string, object> { {"onpaste","OnPasteHW(this)"}}, false, false)
                            </div>
                            <div class="col-sm-2 p-t-10 text-center">
                                <span>-&nbsp;&nbsp;</span>
                            </div>
                            <div class="col-sm-3 no-padding">
                                @Html.ViettelTextbox(null, "WeightMax", "", new Dictionary<string, object> { {"onpaste","OnPasteHW(this)"}}, false, false)
                            </div>
                            <div class="col-sm-2 p-t-10">
                                <span>kg</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EyeTest">
                    @Html.ViettelComboboxFor(o => o.DisabledRefractive, Res.Get("EyeTest_Label_DisabledRefractive"),
                    new SelectList((IEnumerable<ComboObject>)ViewData[PhysicalTestConstants.CBO_DISABLEDREFRACTIVE], "key", "value")
                            , GlobalConstants.NO_PLACEHOLDER,
                    new Dictionary<string, object> { { "onChange", "SetValue()" },  { "class", "EyeTest" }, { "multiple", "multiple" } }, false)
                </div>
            </div>
            <div class="col-md-6">
               
                <div class="PhysicalTest">
                    @Html.ViettelComboboxFor(o => o.NutritionID, Res.Get("PhysicalTest_Label_Nutrition"),
                    new SelectList((IEnumerable<ComboObject>)ViewData[PhysicalTestConstants.CBO_NUTRITION], "key", "value")
                            , GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> {  { "class", "PhysicalTest" } }, false)
                </div>
                <div class="EyeTest">
                    @*  @Html.ViettelCheckBox("OtherEyeDiseases", false, new Dictionary<string, object> { { "id", "OtherEyeDiseases" }, { "class", "EyeTest" } }, Res.Get("EyeTest_Label_OtherEyeDiseases"), false, false, true)*@
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="vt-control">
                        <div class="editor-label"></div>
                        <div class="editor-field ">
                            <div class="DentalTest">
                                @Html.ViettelCheckBox("OtherToothDiseases", "", new Dictionary<string, object> { { "id", "OtherToothDiseases" }, { "class", "DentalTest" } }, Res.Get("DentalTest_Label_OtherToothDiseases"), false, false, true)
                            </div>
                            <div class="DentalTest">
                                @Html.ViettelCheckBox("ToothDecay", "", new Dictionary<string, object> { { "id", "ToothDecay" }, { "class", "DentalTest" } }, Res.Get("DentalTest_Label_ToothDecay"), false, false, true)
                            </div>
                            <div class="DentalTest">
                                @Html.ViettelCheckBox("IsScraptTeeth", "", new Dictionary<string, object> { { "id", "IsScraptTeeth" }, { "class", "DentalTest" } }, Res.Get("DentalTest_Label_IsScraptTeeth"), false, false, true)
                            </div>
                            <div class="DentalTest">
                                @Html.ViettelCheckBox("IsTreatmentTooth", "", new Dictionary<string, object> { { "id", "IsTreatmentTooth" }, { "class", "DentalTest" } }, Res.Get("DentalTest_Label_IsTreatment"), false, false, true)
                            </div>
                            <div class="EarNose">
                                @Html.ViettelCheckBoxFor(o => o.IsSick, new Dictionary<string, object> { { "class", "EarNose" } }, Res.Get("Common_Column_OtherENTDiseases"), false, true)
                            </div>
                             <div class="EarNose">
                                @Html.ViettelCheckBoxFor(o => o.IsDeaf, new Dictionary<string, object> { { "class", "EarNose" } }, Res.Get("Common_Column_IsDeaf"), false, true)
                            </div>
                            <div class="SpineTest">
                                @Html.ViettelCheckBox("IsDeformityOfTheSpine", "", new Dictionary<string, object> { { "id", "IsDeformityOfTheSpine" }, { "class", "SpineTest" } }, Res.Get("SpineTest_Label_IsDeformityOfTheSpine"), false, false, true)
                            </div>
                              <div class="SpineTest">
                                @Html.ViettelCheckBox("OtherSpine", "", new Dictionary<string, object> { { "id", "OtherSpine" }, { "class", "SpineTest" } }, Res.Get("SpineTest_Label_Other"), false, false, true)
                            </div>
                            <div class="OverallTest">
                                @Html.ViettelCheckBoxFor(o => o.SkinDiseases, new Dictionary<string, object> { { "class", "OverallTest" } }, Res.Get("OverallTest_Label_SkinDiseases"), false, true)
                            </div>
                            <div class="OverallTest">
                                @Html.ViettelCheckBoxFor(o => o.IsHearDiseases, new Dictionary<string, object> { { "class", "OverallTest" } }, Res.Get("OverallTest_Label_IsHeartDiseases"), false, true)
                            </div>
                            <div class="OverallTest">
                                @Html.ViettelCheckBoxFor(o => o.IsBirthDefect, new Dictionary<string, object> { { "class", "OverallTest" } }, Res.Get("OverallTest_Label_IsBirthDefect"), false, true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
     <div class="vt-SearchPanel-Button">
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "button", "Search()", "btn btn-info btn-round btn-icon btn-icon-search")
            @Html.ViettelHiddenFor(o => o.HfDisabledRefractive)
        </div>
      </div>

}
    </div>
<script type="text/javascript">

    
    function SetValue() {
        var text = '';
        $('#DisabledRefractive :selected').each(function () {
            text += $(this).val() + ',';
        })
        $('#HfDisabledRefractive').val(text);
    }


    $('#OtherEyeDiseases').change(function () {

        if (this.checked) {
            $('#OtherEyeDiseases').val(true);
        }
        else {
            $('#OtherEyeDiseases').val(false);
        }

    });
    $(document).ready(function () {
        var item = $("#ItemExaminationID").val();

        if (item == "1") {
            $(".PhysicalTest").css("display", "");
            $(".EyeTest").css("display", "none");
            $(".DentalTest").css("display", "none");
            $(".EarNose").css("display", "none");
            $(".OverallTest").css("display", "none");
            $(".SpineTest").css("display", "none");
        }
    });
    function Search() {
        objSearch = jsonUtils.serializeObject("frmSearch");
        var item = $("#ItemExaminationID").val();
        $.ajax({
            url: '@Url.Action("Search", "PhysicalTest")',
            type: 'post',
            data: $("#frmSearch").serialize(),
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                if (item == "1") {
                    $("#lstPhysicalTest").html(data);
                }
                if (item == "2") {
                    $("#lstEyeTest").html(data);
                }
                if (item == "3") {
                    $("#lstDentalTest").html(data);
                }
                if (item == "4") {
                    $("#lstEarNose").html(data);
                }
                if (item == "5") {
                    $("#lstSpineTest").html(data);
                }
                if (item == "6") {
                    $('#lstOverallTest').html(data);
                }
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }


    function AjaxLoadClass() {

        var idEducationLevel = $("#EducationLevelID").val();


        controlUtils.loadComboBox(
            $("#ClassID"),
            '@Url.Action("AjaxLoadClass", "PhysicalTest")',
            { idEducationLevel: idEducationLevel },
            '@Res.Get("All")'
        );
        }

        function AjaxSelectItem() {
            var item = $("#ItemExaminationID").val();
            $(".EyeTest").css("display", "none");
            $(".PhysicalTest").css("display", "none");
            $(".DentalTest").css("display", "none");
            $(".EarNose").css("display", "none");
            $(".OverallTest").css("display", "none");
            $(".SpineTest").css("display", "none");
            if (item == "1") {
                $(".PhysicalTest").css("display", "");
            }
            if (item == "2") {
                $(".EyeTest").css("display", "");
                $('#DisabledRefractive option:selected').removeAttr('selected');
                $('#HfDisabledRefractive').val("");
                $('#DisabledRefractive option:first-child').attr("selected", "selected");               
            }
            if (item == "3") {

                $(".DentalTest").css("display", "");
            }
            if (item == "4") {
                $(".EarNose").css("display", "");
            }
            if (item == "5") {
                $(".SpineTest").css("display", "");
            }
            if (item == "6") {
                $(".OverallTest").css("display", "");
            }
            Search();

        }
        function OnKeyUp(thisObj) {
            var temp = $(thisObj).val();
            if (temp != "" && parseInt(temp) > 10) {
                smas.alertColor('Thị lực phải nhỏ hơn hoặc bằng 10','red')
                $(thisObj).val('');
            }
        }
        
        function OnPaste(thisObj) {
            setTimeout(function () {
                var temp = $(thisObj).val();
                if (isNaN(temp)) {
                    smas.alertColor('Thị lực phải nhỏ hơn hoặc bằng 10', 'red')
                    $(thisObj).val('');
                }
            }, 200);
        }
        
        function OnPasteHW(thisObj) {
            setTimeout(function () {
                var temp = $(thisObj).val();
                if (isNaN(temp)) {
                    $(thisObj).val('');
                    return false;
                }
            }, 200);
        }
        $(".PhysicalTest input[type=text]").keyup(function (e) {
            var id = this.id;
            if (this.value.startsWith('.') == true) {
                $('#' + id).val('');
            }
        });

        var oldValue = "";
        $(".PhysicalTest input[type=text]").keypress(function (e) {

            var key;
            if (window.event)
                key = window.event.keyCode;     //IE
            else
                key = e.which;     //firefox
            if (e.ctrlKey) // ctrl + v,c,x
            {
                if (key == 118 || key == 99 || key == 67 || key == 88 || key == 86 || key == 120) {
                    return true;
                }
            }
            if (key == 13) {
                return false;
            }
            if (key < 48 || 57 < key) {
                if (key != 8 && key != 0 && key != 32 && e.key != '.') {                    
                    return false;
                }
            }
            if (e.key == '.' && this.value.indexOf(e.key) > 0) {
                return false;
            }
            oldValue = this.value;            
        });
        $(".EyeTest input[type=text]").keypress(function (e) {

            var key;
            if (window.event)
                key = window.event.keyCode;     //IE
            else
                key = e.which;     //firefox
            if (e.ctrlKey) // ctrl + v,c,x
            {
                if (key == 118 || key == 99 || key == 67 || key == 88 || key == 86 || key == 120) {
                    return true;
                }
            }
            if (key == 13) {
                return false;
            }
            if (key < 48 || 57 < key) {
                if (key != 8 && key != 0 && key != 32) {
                    return false;
                }
            }

            oldValue = this.value;
        });



</script>
<style type="text/css">
   

</style>
