@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalTestArea.Models
@{
    ViewBag.Title = Res.Get("PhysicalTest_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentSectionBtm physical-test">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="GenaralInfoSection mg-b-10">
                    @Html.Partial("_Search")
                </div>
                <div id="GridSection">
                    <div id="general">
                        <div id="lstPhysicalTest" class="PhysicalTest vt-ResultPanel">
                        </div>
                        <div id="lstEarNose" class="EarNose vt-ResultPanel">
                        </div>
                        <div id="lstEyeTest" class="EyeTest vt-ResultPanel">
                        </div>
                        <div id="lstOverallTest" class="OverallTest vt-ResultPanel">
                        </div>
                        <div id="lstDentalTest" class="DentalTest vt-ResultPanel">
                        </div>
                        <div id="lstSpineTest" class="SpineTest vt-ResultPanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("PhysicalTest_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)
@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("PhysicalTest_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)
<script type="text/javascript">
    var objSearch;

    $(document).ready(function () {
        AjaxSelectItem();
        var item = $("#ItemExaminationID").val();
        $.ajax({
            url: '@Url.Action("Search", "PhysicalTest")',
            type: 'post',
            data: $("#frmSearch").serialize(),
            success: function (data) {
                if (item == "1") {
                    $("#lstPhysicalTest").html(data);
                }

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        });
    });
    var lstInd = 0;
    function Grid_onDataBindingEyeTest(e) {
        smas.showProcessingDialog();
        var grid = $('#GridEyeTest').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch; //jsonUtils.serializeObject("frmSearch");
    }
    var lstInd1 = 0;
    function Grid_onDataBindingDental(e) {
        smas.showProcessingDialog();
        var grid = $('#GridDentalTest').data('tGrid')
        lstInd1 = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
    }
    var lstInd2 = 0;
    function Grid_onDataBindingSpine(e) {
        smas.showProcessingDialog();
        var grid = $('#GridSpineTest').data('tGrid')
        lstInd2 = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
    }
    var lstInd3 = 0;
    function Grid_onDataBindingOverall(e) {
        smas.showProcessingDialog();
        var grid = $('#GridOverallTest').data('tGrid')
        lstInd3 = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
        e.data.SkinDiseases = $('#frmSearch #SkinDiseases').is(":checked");
        e.data.IsHearDiseases = $('#frmSearch #IsHearDiseases').is(":checked");
        e.data.IsBirthDefect = $('#frmSearch #IsBirthDefect').is(":checked");
    }
    var lstInd4 = 0;
    function Grid_onDataBindingEar(e) {
        smas.showProcessingDialog();
        var grid = $('#GridEarNose').data('tGrid')
        lstInd4 = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
        e.data.IsSick = $('#frmSearch #IsSick').is(":checked");
        e.data.IsDeaf = $('#frmSearch #IsDeaf').is(":checked");
    }
    var lstInd5 = 0;
    function Grid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridPhysicalTest').data('tGrid')
        lstInd5 = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = objSearch; //jsonUtils.serializeObject("frmSearch");
    }
    function Grid_DataBound(e) {
        smas.hideProcessingDialog();
    }
    function formatDate(inputFormat) {
        function pad(s) { return (s < 10) ? '0' + s : s; }
        var d = new Date(inputFormat);
        return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
    }

</script>

