﻿@model SMAS.Models.Models.Religion
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ReligionArea
@using SMAS.Models.Models

<div>
<table>
    <tr style = "height:40px">
        <td>@Resources.Resource.ResourceManager.GetString("Religion_Zone_name") </td>
        <td> @Html.ViettelEditorFor(model => model.Resolution, "Religion_Zone_name")</td>
    </tr>

    <tr style = "height:40px">
        <td>@Resources.Resource.ResourceManager.GetString("Common_Label_Description")</td>
        <td> @Html.ViettelEditorFor(model => model.Description,"Common_Label_Description")</td>
    </tr>

   

</table>
</div>