@model SMAS.Models.Models.Religion
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ReligionArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@{
    ViewBag.Title = @Res.Get("Religion_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divError" style="color: Red;">
</div>
@*label va nut*@
<div>
   <fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    <div align="center" style = "height : 40px" >
    @Html.ViettelLabel(@Res.Get("Religion_Zone_name"))
   <input type="text" name="religion_search_tb" id="religion_search_id" value="" size="50" />
    </div>
     

    <div align="center">
    <p>
        <button class="t-button t-state-default" name="tbSearch" type="button" onclick="onSearch()">
            @Res.Get("Common_Button_Search")
        </button>
    </p>
</div>

</fieldset>
</div>

<div align="right">
    <p>
        <button class="t-button t-state-default" type="button" onclick="onCreate()">
            @Res.Get("CreateRK")
        </button>
    </p>
</div>

@*than html*@
<div id="divGridReligion">
    @Html.Partial("_GridReligion");
</div>

@*cua so popup khi an nut create*@
@{
    Html.Telerik().Window()
       .Name("WindowCreate")
       .Title(@Res.Get("CreateRK"))
       .Content(
    @<text>
    @using (Ajax.BeginForm("CreateReligion", "Religion", new AjaxOptions
            {
                HttpMethod = "post",
                OnComplete = "funcComplete",
                OnSuccess = "funcSuccess",
                OnBegin = "funcBegin",
                OnFailure = "funcFailure",
                UpdateTargetId = "divGridReligion",
                Confirm = @Res.Get("Religion_Create_Confirm")
                
            }))
    {          
       @Html.AntiForgeryToken()
       
        @Html.ValidationSummary()
                
        <fieldset>
           @* <div id="divMsg" style="color: Blue;">
            </div>*@
            <div id="divCreateOrEditIndex">   
                @Html.Partial("_CreateOrEdit")
            </div>
            <p>
                <input type="submit" value="@Res.Get("SaveRK")"  
                 @*onclick="return confirm('@Res.Get("Religion_Create_Confirm")');" *@
                 />
                <input type="button" value="@Res.Get("CloseRK")"  onclick = "onClose()"  />
            </p>
        </fieldset>                  
    }
    </text>

           )
       .Width(400)
       .Draggable(true)
       .Modal(true)
       .Visible(false)
       .Render();
}
<script type="text/javascript">
    function onCreate() {
        $('#divCreateOrEditIndex').load('@Url.Action("CreateOrEdit", "Religion")');
//        $('#divMsg').html(" ");
        $('#WindowCreate').data('tWindow').center().open();


    }
    function onClose() {
        $('#WindowCreate').data('tWindow').center().close();
    }

    function funcBegin() {

    }
    function funcFailure(XMLHttpRequest, textStatus, errorThrown) {
        $('#divError').html(XMLHttpRequest.responseText);
        $('#WindowCreate').data('tWindow').center().close();
    }
    function funcSuccess() {
        $('#divCreateOrEditIndex').load('@Url.Action("CreateOrEdit", "Religion")');
      
       // $('#divMsg').html("Them moi thanh cong");
    }
        function funcComplete() {
            $('#WindowCreate').data('tWindow').center().close();
        }


</script>

<script type="text/javascript">

    function onSearch() {
       // var tbSearch =  ('religion_search_tb');

        var searchData = $(religion_search_id).val();

        $.ajax({
            url: '@Url.Action("GetReligionSearch", "Religion")',
            data: "searchData=" + searchData,
            success: function (data) {
                $('#divGridReligion').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }

        });

        //alert("search is run ");
    }
</script>
