﻿@model SMAS.Web.Areas.PupilRepeatersArea.Models.ViewModel
@using SMAS.Web.Areas.PupilRepeatersArea

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> list = new List<SelectListItem>();
    if (ViewData[PupilRepeaterConstant.LIST_EDUCATIONLEVEL] != null)
    {
        list = (List<SelectListItem>)ViewData[PupilRepeaterConstant.LIST_EDUCATIONLEVEL];
    }
}

<form id="frmInfo" name="frmInfo">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 pupil-repeaters-page">
        <div class="vt-SearchPanel-Title f-16">
            Học sinh ở lại
        </div>
        <div class="vt-SearchPanel-Content panel-content-1">
            <div class="vt-control">
                <div class="editor-label"><label>Khối</label></div>
                <div class="editor-field">
                    <select id="EducationLevel" class="combobox" name="EducationLevel" onchange="LoadClass()">
                        <option value="0">[Tất cả]</option>
                        @{
                            for (int i = 0; i < list.Count; i++)
                            {
                            <option value="@list[i].Value">@list[i].Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label>Lớp</label></div>
                <div class="editor-field">
                    <select id="ClassID" class="combobox" name="ClassID" onchange="GetName()">
                        <option value="0">[Tất cả]</option>
                    </select>
                </div>
            </div>
            <div id="messageReportType">&nbsp;</div>
            <input type="hidden" name="ClassName" id="ClassName" value="[Tất cả]" />
        </div>
        
        <div class="vt-SearchPanel-Button">
            <input class="btn btn-info btn-icon btn-round btn-icon-excel" type="button" id="btnExport" name="btnExport" value="Xuất Excel" onclick="ExportExcel()" />
        </div>
    </div>
</form>

<script>
    function GetName() {
        var ClassName = $.trim($("select[name='ClassID'] option:selected").text());
        $('#ClassName').val(ClassName);
    }

    function LoadClass() {
        var EducationLevel = $('#EducationLevel').val();
        controlUtils.loadComboBox($("#ClassID"), '@Url.Action("AjaxLoadClass", "PupilRepeaters")', { EducationLevel: EducationLevel }, '[Tất cả]');
    }

    function ExportExcel() {
        var ClassID = $("#Class").val();
        var EducationLevel = $("#EducationLevel").val();

        if (EducationLevel == "" || EducationLevel == null) {
            EducationLevel = 0;
        }

        if (ClassID != "" && EducationLevel != "") {
            smas.getReport('frmInfo', '@Url.Action("ExportExcel", "PupilRepeaters")', '@Url.Action("GetNewReport", "PupilRepeaters")', '@Url.Action("DownloadReport", "PupilRepeaters")');
        }
    }
</script>
