@model SMAS.Web.Areas.PraiseTypeArea.Models.PraiseTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PraiseTypeArea.Models

@using (Ajax.BeginForm("Create",
                       "PraiseType", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreatePraiseSuccess",
                           OnFailure = "CreatePraiseFail"
                       },
                       new { id = "frmPraiseTypeCreate" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1 praise-type-create-page">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorFor(model => model.Resolution)
            @Html.ViettelCheckBox("chkConductMark", null, new Dictionary<string, object> { { "onchange", "chk_onchangeConductMarkCreate(this)" } }, Res.Get("PraiseType_Label_ConductMark"), false, false)
            @Html.ViettelTextboxFor(model => model.ConductMark, Res.Get("PraiseType_Label_PlusMark"), new Dictionary<string, object> { { "disabled", "true" }, { "maxlength", 2 }, { "onkeypress", "return runScript(event);" }, { "onChange", "return fixNumber(this);" }, { "class", "InputConductMark" } }, false, false, true)
            @Html.ViettelCheckBox("chkGraduationMark", null, new Dictionary<string, object> { { "onchange", "chk_onchangeGraduationMarkCreate(this)" } }, Res.Get("PraiseType_Label_GraduationMark"), false, false)
            @Html.ViettelTextboxFor(model => model.GraduationMark, Res.Get("PraiseType_Label_PlusMark"), new Dictionary<string, object> { { "disabled", "true" }, { "maxlength",2 }, { "onkeypress", "return runScript(event);" }, { "onChange", "return fixNumber(this);" } }, false, false, true)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmPraiseTypeCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "closeCreatePraise()", "btn btn-basic btn-round")
        </div>
    </div>


}
<script type="text/javascript">
    function CreatePraiseSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmPraiseTypeCreate");
            $("#frmPraiseTypeCreate #ConductMark").attr("disabled", "disabled");
            $("#frmPraiseTypeCreate #GraduationMark").attr("disabled", "disabled");
            formUtils.focusForm("frmPraiseTypeCreate");
            searchPraise();

        }
    }
    function CreatePraiseFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function closeCreatePraise() {
        smas.closeDialog('createPraiseTypeDialog');
        searchPraise();

    }

    function chk_onchangeConductMarkCreate(chkConductMark) {
        var check = chkConductMark.checked;
        if (check) {
            $("#frmPraiseTypeCreate #ConductMark").removeAttr("disabled");
        } else {
            $("#frmPraiseTypeCreate #ConductMark").val("");
            $("#frmPraiseTypeCreate #ConductMark").attr("disabled", "disabled");
        }

    }

    function chk_onchangeGraduationMarkCreate(chkGraduationMark) {
        var check = chkGraduationMark.checked;
        if (check) {
            $("#frmPraiseTypeCreate #GraduationMark").removeAttr("disabled");
        } else {
            $("#frmPraiseTypeCreate #GraduationMark").val("");
            $("#frmPraiseTypeCreate #GraduationMark").attr("disabled", "disabled");
        }

    }


    function fixNumber(inputtext) {
        alert(1);
        var Number = parseFloat($(inputtext).val());
        if (Number > 0 && Number < 100) {

        } else {
            smas.alert('@Res.Get("MarkRecordPeriod_Label_InputValidate")');
            $(inputtext).val("");
        }
    }
    var oldValue = "";
    $(".InputConductMark").keypress(function (e) {
        //alert(e.which);
        if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 0 && e.which !=44) {
            return false;
        }
        oldValue = this.value;
    });
    function runScript(e) {
        alert(e);
        var key;
        
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0 && key !=44) {
                return false;
            }
        }
    }
</script>
