@model PraiseTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PraiseTypeArea.Models

@using (Ajax.BeginForm("Edit",
                       "PraiseType", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditPraiseSuccess",
                           OnFailure = "EditPraiseFail"
                       },
                       new { id = "frmPraiseTypeEdit" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1 praise-type-create-page">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelHidden("PraiseTypeID")
            @Html.ViettelEditorFor(model => model.Resolution)
            @Html.ViettelCheckBox("chkConductMark", null, new Dictionary<string, object> { { "onchange", "chk_onchangeConductMarkEdit(this)" } }, Res.Get("PraiseType_Label_ConductMark"), false, false)
            @Html.ViettelTextboxFor(model => model.ConductMark, Res.Get("PraiseType_Label_PlusMark"), new Dictionary<string, object> { { "disabled", "true" }, { "maxlength", 2 }, { "onkeypress", "return runScript(event);" }, { "onChange", "return fixNumber(this);" } }, false)
            @Html.ViettelCheckBox("chkGraduationMark", null, new Dictionary<string, object> { { "onchange", "chk_onchangeGraduationMarkEdit(this)" } }, Res.Get("PraiseType_Label_GraduationMark"), false, false)
            @Html.ViettelTextboxFor(model => model.GraduationMark, Res.Get("PraiseType_Label_PlusMark"), new Dictionary<string, object> { { "disabled", "true" }, { "maxlength", 2 }, { "onkeypress", "return runScript(event);" }, { "onChange", "return fixNumber(this);" } }, false)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmPraiseTypeEdit')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editPraiseTypeDialog');", "btn btn-basic btn-round")
        </div>
    </div>

}

<script type="text/javascript">
    function EditPraiseSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editPraiseTypeDialog");', 500);
            searchPraise();
        }
    }
    function EditPraiseFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function chk_onchangeGraduationMarkEdit(chkGraduationMark) {
        var check = chkGraduationMark.checked;
        if (check) {
            $("#frmPraiseTypeEdit #GraduationMark").removeAttr("disabled");
        } else {
            $("#frmPraiseTypeEdit #GraduationMark").val("");

            $("#frmPraiseTypeEdit #GraduationMark").attr("disabled", "disabled");
        }

    }

    function chk_onchangeConductMarkEdit(chkConductMark) {
        var check = chkConductMark.checked;
        if (check) {
            $("#frmPraiseTypeEdit #ConductMark").removeAttr("disabled");
        } else {
            $("#frmPraiseTypeEdit #ConductMark").val("");
            $("#frmPraiseTypeEdit #ConductMark").attr("disabled", "disabled");
        }

    }

    function fixNumber(inputtext) {
        var Number = parseFloat($(inputtext).val());
        if (Number > 0 && Number < 100) {

        } else {
            smas.alert('@Res.Get("MarkRecordPeriod_Label_InputValidate")');
            $(inputtext).val("");
        }
    }

    function runScript(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0) {
                return false;
            }
        }
    }
</script>


