﻿@model RegistrationSpecializationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RegistrationOfSpecializationAndElectivesArea.Models
@using SMAS.Web.Areas.RegistrationOfSpecializationAndElectivesArea

@{
    List<RegistrationSpecializationViewModel> lstResult = (List<RegistrationSpecializationViewModel>)ViewData[RegistrationOfSpecializationAndElectivesConstants.LIST_RESULT];
    var count = 0;
    if (lstResult != null)
    {
        count = lstResult.Count;
    } 
}
<div class="vt-ResultPanel" style="width: 100%; margin-left: 0px;">
    <div class="vt-ResultPanel-Title">
        <div class="Clear">
        </div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(lstResult)
            .Name("GridRegistrationOfSpecializationAndElectives")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

                c.Bound(o => o.ClassName).HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.DisplayName).HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.Abbreviation).HtmlAttributes(new { style = "text-align:center" });
                c.Template(
        @<text>
        @{                 
            if (item.AppliedType == 1)
            {
<label id='@("AppliedType" + item.AppliedType)' class="text-center">Môn tự chọn</label>
<input type="hidden" id='@("TypeSubject_" + item.SubjectCatID + "_" + item.ClassID)' name="SubjectCatID" value="@item.AppliedType"  />          
            }

            if (item.AppliedType == 2)
            {
<label id='@("AppliedType" + item.AppliedType)'>Tự chọn cộng ưu tiên</label>
<input type="hidden" id='@("TypeSubject_" + item.SubjectCatID + "_" + item.ClassID)' name="SubjectCatID" value="@item.AppliedType"  />          
            }

            if (item.AppliedType == 3)
            {
<label id='@("AppliedType" + item.AppliedType)'>Tự chọn tính điểm</label>
<input type="hidden" id='@("TypeSubject_" + item.SubjectCatID + "_" + item.ClassID)' name="SubjectCatID" value="@item.AppliedType"  />          
            }
            if (item.AppliedType == 0 && item.IsSpecializedSubject == true)
            {
<label id='@("IsSpecializedSubject" + item.IsSpecializedSubject)' style ="text-align:center">Môn chuyên</label>
<input type="hidden" id='@("TypeSubject_" + item.SubjectCatID + "_" + item.ClassID)' name="SubjectCatID" value="@item.AppliedType"  />
            }      
        }
        <input type="hidden" id="SubjectID" name="SubjectCatID" value='@item.SubjectCatID'  />
        </text>).Title(Res.Get("ClassSubject_Label_AppliedType"))
                            .HeaderHtmlAttributes(new { style = "text-align:center" })
                            .ClientTemplate("<#= htmlAppliedType(AppliedType,IsSpecializedSubject,SubjectCatID,ClassID) #>")
                            .Width(180);

                c.Bound(o => o.NumberRegistration).Sortable(true).HtmlAttributes(new { style = "text-align:center" }).Width(80);

                c.Template(
        @<text>
        @if (item.AppliedType == 0 && item.IsSpecializedSubject == true)
        {                           
            @Html.ViettelButton(Res.Get("Đăng ký"), "button", "RegistrationSpecializedSubject(" + item.SubjectCatID + "," + item.ClassID + "," + item.EducationLevelID + ", '" + item.SubjectName + "')", "btn btn-success")
        }
        </text>).Title(Res.Get("RegistrationSpecialization_Label_Specialization"))
                           .HeaderHtmlAttributes(new { style = "text-align:center" })
                           .HtmlAttributes(new { style = "text-align:center" })
                           .ClientTemplate("<#= htmlIsSpecializedSubject(IsSpecializedSubject,SubjectCatID,ClassID,EducationLevelID,SubjectName) #>")
                           .Width(180);

                c.Template(
        @<text>
        @if (item.AppliedType == 1 || item.AppliedType == 2 || item.AppliedType == 3)
        {
            @Html.ViettelButton(Res.Get("Đăng ký"), "button", "RegistrationSpecializedSubject(" + item.SubjectCatID + "," + item.ClassID + "," + item.EducationLevelID + ", '" + item.SubjectName + "')", "btn btn-success")
        }
        </text>).Title(Res.Get("RegistrationSpecialization_Label_Electives"))
                           .HeaderHtmlAttributes(new { style = "text-align:center" })
                           .HtmlAttributes(new { style = "text-align:center" })
                           .ClientTemplate("<#= htmlIsElectiveSubject(AppliedType,SubjectCatID,ClassID,EducationLevelID,SubjectName) #>")
                           .Width(180);

            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "RegistrationOfSpecializationAndElectives")
             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding"))
            .DataKeys(keys => keys.Add(o => o.SubjectCatID))
            .Pageable(p => p.PageSize(15)).Resizable(o => o.Columns(true))
            .Selectable()
            .Render();                      
    }
</div>
<div id="NoteList">
    <span>
        <b>Lưu ý:</b><br />
        - Các học sinh đăng ký học môn chuyên sẽ được tổng kết với hệ số môn là hệ số khai báo trong chức năng <b>Khai báo môn học cho lớp</b>. Các học sinh không đăng ký sẽ được tổng kết với hệ số môn là 1 theo Thông tư 58.<br />
        - Các học sinh không đăng ký học môn tự chọn sẽ tính là không học môn đó.
        <br />
        - Nếu lớp đã thực hiện tổng kết, sau khi đăng ký môn chuyên/môn tự chọn cho học sinh, thầy cô vào chức năng <b>Tổng kết điểm</b> để thực hiện tổng kết lại.
    </span>
</div>
<script type="text/javascript">
    var lstInd = 0;
    function htmlIsSpecializedSubject(IsSpecializedSubject, SubjectCatID, ClassID, EducationLevelID, SubjectName) {
        var html = '';
        event = "RegistrationSpecializedSubject(" + SubjectCatID + "," + ClassID + "," + EducationLevelID + ",'" + SubjectName + "')";
        if (IsSpecializedSubject == true) {
            html = '<input class="btn btn-success " type="button" onclick="' + event + '" ' + 'value="Đăng ký">';
        }
        return html;
    }

    function htmlIsElectiveSubject(AppliedType, SubjectCatID, ClassID, EducationLevelID, SubjectName) {
        var html = '';
        event = "RegistrationSpecializedSubject(" + SubjectCatID + "," + ClassID + "," + EducationLevelID + ",'" + SubjectName + "')";
        if (AppliedType == 1 || AppliedType == 2 || AppliedType == 3) {
            html = '<input class="btn btn-success " type="button" onclick="' + event + '" ' + 'value="Đăng ký">';
        }
        return html;
    }

    function htmlAppliedType(AppliedType, IsSpecializedSubject, SubjectCatID, ClassID) {
        var html = '';
        if (AppliedType == 1) {
            html = '<label id="AppliedType"' + AppliedType + '">Môn tự chọn</label>' +
                   '<input id="TypeSubject_' + SubjectCatID + '_' + ClassID + '" type="hidden" value="' + AppliedType + '" name="SubjectCatID">' +
                   '<input id="SubjectID" type="hidden" value="' + SubjectCatID + '" name="SubjectCatID">';
        }

        if (AppliedType == 2) {
            html = '<label id="AppliedType"' + AppliedType + '">Tự chọn cộng ưu tiên</label>' +
                   '<input id="TypeSubject_' + SubjectCatID + '_' + ClassID + '" type="hidden" value="' + AppliedType + '" name="SubjectCatID">' +
                   '<input id="SubjectID" type="hidden" value="' + SubjectCatID + '" name="SubjectCatID">';
        }

        if (AppliedType == 3) {
            html = '<label id="AppliedType"' + AppliedType + '">Tự chọn tính điểm</label>' +
                   '<input id="TypeSubject_' + SubjectCatID + '_' + ClassID + '" type="hidden" value="' + AppliedType + '" name="SubjectCatID">' +
                   '<input id="SubjectID" type="hidden" value="' + SubjectCatID + '" name="SubjectCatID">';
        }
        if (AppliedType == 0 && IsSpecializedSubject == true) {
            html = '<label id="IsSpecializedSubjectTrue" style="text-align:center">Môn chuyên</label>' +
                    '<input id="TypeSubject_' + SubjectCatID + '_' + ClassID + '" type="hidden" value="' + AppliedType + '" name="SubjectCatID">' +
                    '<input id="SubjectID" type="hidden" value="' + SubjectCatID + '" name="SubjectCatID">';
        }
        return html;
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridRegistrationOfSpecializationAndElectives').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function SetTitlePopupRegister(subjectTypeID, subjectName) {
        var name = $('#editRegistration').find('.t-window-title');
        var subjectType = "";
        if (subjectTypeID != 0) {
            subjectType = "tự chọn";
        }
        else {
            subjectType = "chuyên";
        }
        var newName = String.format('@Html.Raw(Res.Get("RegisterSubjectSpecialize_Title_PopupRegister"))', subjectType, subjectName);

        name.text(newName);
    }

    function RegistrationSpecializedSubject(subjectID, classID, educationlevelID, subjectName) {
        var subjectTypeID = $('#TypeSubject_' + subjectID + '_' + classID).val();

        if (subjectTypeID != '0') {
            $('#editRegistration').find('.t-window-content').css('height', '536px');
        }
        else {
            $('#editRegistration').find('.t-window-content').css('height', '500px');
        }

        //alert(subjectID + "--" + classID + "--" + educationlevelID + "--" + subjectTypeID + "--" + subjectName);
        SetTitlePopupRegister(subjectTypeID, subjectName);
        $.ajax({
            url: '/RegistrationOfSpecializationAndElectivesArea/RegistrationOfSpecializationAndElectives/AjaxLoadSearchRegis',
            type: 'post',
            data: { subjectID: subjectID, classID: classID, educationlevelID: educationlevelID, subjectTypeID: subjectTypeID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#SearchPanelRegis').html(msg);
                smas.hideProcessingDialog();
                AjaxLoadGridRegis();
                smas.openDialog("editRegistration", "", {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function AjaxLoadGridRegis() {
        var subjectID = $('#HfSubjectID').val();
        var educationLevelID = $('#editRegistration #EducationLevel').val();
        var classID = $('#editRegistration #Class').val();
        var status = $('#editRegistration #Status').val();
        var subjectTypeID = subjectTypeID = $('#TypeSubject_' + subjectID + '_' + classID).val();

        //alert(subjectID);
        $.ajax({
            url: '/RegistrationOfSpecializationAndElectivesArea/RegistrationOfSpecializationAndElectives/AjaxLoadGridRegistrationSubject',
            type: 'post',
            data: { subjectID: subjectID, educationLevelID: educationLevelID, classID: classID, status: status, subjectTypeID: subjectTypeID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstRegis').html(msg);               
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
</script>
