﻿@model SearchRegisViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.RegistrationOfSpecializationAndElectivesArea
@using SMAS.Web.Areas.RegistrationOfSpecializationAndElectivesArea.Models


<form id="frmSearchRegis">
  <input type="hidden" value="@ViewData[RegistrationOfSpecializationAndElectivesConstants.SubjectID]" id="HfSubjectID" name="HfSubjectID" />   
  <input type="hidden" value="@ViewData[RegistrationOfSpecializationAndElectivesConstants.SubjectTypeID]" id="HfSubjectTypeID" name="HfSubjectTypeID" />    
    <div id="panelSearchRegister" style="float: left; width: 90%; margin: 20px 0 0 55px;">
        <div style="width: 99%;">
            @Html.ViettelEditorForModel()
        </div>
    </div>
</form>

<style type="text/css">
    #panelSearchRegister .vt-control { width: 30%; }

    #panelSearchRegister .vt-control .editor-label { width: 35%; }

    #panelSearchRegister .vt-control .editor-field { width: 60%; }

    #panelSearchRegister .EducationLevel .editor-label { width: 17%; }

    #panelSearchRegister .Class .editor-label { width: 15%; }   
</style>

<script type="text/javascript">
    
</script>
