﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@{
    ViewBag.Title = Res.Get("Registration_Label_SpecializationAndElectives");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dang-ki-mon-tu-chon" style="margin-top: 4px;">
    @Html.Partial("_Search")
</div>
<div id="lstRegistrationOfSpecializationAndElectives" class="vt-ResultPanel regis-of-spec-and-elec-page-table">
</div>


<script type="text/javascript">
    $(document).ready(function () {
        formUtils.resetForm("frmSearch");
        $('#frmSearch #Class').attr('disabled', 'disabled');
        AjaxLoadGirdSubject();
    });

    function AjaxLoadClass(cboEducationLevel) {
        var cboClass = $("#Class");
        cboClass.find("option").remove();
        if (cboEducationLevel.value == '') {
            $('#frmSearch #Class').attr('disabled', 'disabled');
        }
        else {
            $('#frmSearch #Class').removeAttr('disabled');
        }

        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Class"),
            '@Url.Action("AjaxLoadClass", "RegistrationOfSpecializationAndElectives")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("SelectAll")'
        );
    }
    
    function AjaxLoadClassRegis(cboEducationLevel) {
        var cboClass = $("#frmSearchRegis #Class");
        cboClass.find("option").remove();

        var subjectID = $("#frmSearchRegis #HfSubjectID").val();
        var subjectTypeID = $("#frmSearchRegis #HfSubjectTypeID").val();

        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Class"),
            '@Url.Action("AjaxLoadClassRegis", "RegistrationOfSpecializationAndElectives")',
            { EducationLevelID: $(cboEducationLevel).val(), subjectID: subjectID, subjectTypeID: subjectTypeID });
        setTimeout(function () {
            AjaxLoadGridRegis();
        }, 500);
        }

    function AjaxLoadGirdSubject() {
        var EducationLevel = $('#EducationLevel').val();
        var classID = $('#Class').val();
        $.ajax({
            url: '/RegistrationOfSpecializationAndElectivesArea/RegistrationOfSpecializationAndElectives/Search',
            type: 'post',
            data: { EducationLevel: EducationLevel, classID: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstRegistrationOfSpecializationAndElectives').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
</script>

@(Html.Telerik().Window()
                .Name("editRegistration")
                .Title(Res.Get("RegisterSubjectSpecialize_Title_PopupRegister"))
                .Content(@<text>@Html.Partial("_RegisEdit")</text>)                
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(500).ContentHtmlAttributes(new { style = "min-height:480px; min-width:760px;"}))

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>
<style type="text/css">
    #SearchPanelRegis {
        height: 30px;
    }
    #GridData .t-grid-content {
    height:290px!important;
    }
</style>