﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingAbsenceArea.Models
@using SMAS.Web.Areas.ApprenticeshipTrainingAbsenceArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("ApprenticeshipTrainingAbsence_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Insert",
                           "ApprenticeshipTrainingAbsence",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstApprenticeshipTrainingAbsence",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "InsertSuccess",
                               OnFailure = "InsertFail"
                           },
                           new { id = "frmSearch" }))
    {
      
        @Html.AntiForgeryToken()
<div id="SearchPanel">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox(Res.Get("ApprenticeshipTrainingAbsence_Control_Class"), "ApprenticeshipClassID",
             ((IEnumerable<SelectListItem>)ViewData[ApprenticeshipTrainingAbsenceConstants.LIST_CLASS]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                            new Dictionary<string, object>() { { "style", "width: 140px" }, { "onchange", "cboApprenticeshipClassOnchange(this);" } }, false, false)
            @Html.ViettelCombobox(Res.Get("ApprenticeshipTrainingAbsence_Control_Semester"), "Semester",
             ((IEnumerable<SelectListItem>)ViewData[ApprenticeshipTrainingAbsenceConstants.LIST_SEMESTER]),
                       GlobalConstants.NO_PLACEHOLDER,
                          new Dictionary<string, object>() { { "onchange", "cboSemesterOnchange(this, this.options[this.selectedIndex].value);" }, { "style", "width: 120px" } }, false, false)
            @Html.ViettelCombobox(Res.Get("ApprenticeshipTrainingAbsence_Control_Month"), "Month",
                                    ((IEnumerable<SelectListItem>)ViewData[ApprenticeshipTrainingAbsenceConstants.LIST_MONTH]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>() { { "style", "width: 120px" }, { "onchange", "cboMonthOnchange(this);" } }, false, false)
            
        </div>
    </div>
 </div>
    <div id="GridApprenticeshipTrainingAbsence" class="vt-ResultPanel">
    </div>
    }
    @(Html.Telerik().Window()
        .Name("AlertDialog")
        .Title(Res.Get("CreateRK"))
        .Content(@<text>
    <div>
        <div style="text-align:center;margin-bottom:10px">
            <div>
                <img src="@Url.Content("~/Content/images/alert-exel.png")" width="90" alt=""/></div>
            <div class="clear:both;">
            </div>
            <div>
                <a target="_blank" id="DownloadOldFile" onclick="smas.closeDialog('AlertDialog');"><span
                    style="float: left;">
                    <img width="30" src="@Url.Content("~/Content/images/download.png")" alt=""></span>
                    <span style="float: left;">
                        <h1>
                            <b>Tải file </b>
                        </h1>
                    </span></a>
            </div>
        </div>
        <div style="text-align:center">
            <div id="MessageForExportDiv">
            </div>
            <div class="clear:both;">
            </div>
            <div style="text-align: center;">
                <button id="ExportNewFile" onclick="smas.closeDialog('AlertDialog');LoadGrid();" class="btn btn-info btn-round">
                    Tổng hợp mới</button>
            </div>
        </div>
    </div>
    </text>)
        .Buttons(buttons => buttons.Maximize().Close())
        .Resizable()
        .Draggable(true)
        .ClientEvents(events => events.OnOpen("smas.onOpenDialog"))
        .Visible(false)
        .Modal(true)
        .Width(600)
        .Height(250)
)
    @(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("MarkRecord_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(120)
)
    @(Html.Telerik().Window()
                .Name("SelectImport")
                .Title(Res.Get("MarkRecord_Label_SelectImport"))
                .Content(@<text>@Html.Partial("SelectImport")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(150)
)
    @(Html.Telerik().Window()
                .Name("ViewData")
                .Title(Res.Get("MarkRecord_Label_ViewData"))
                .Content(@<text>@Html.Partial("ViewData")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(1124)
                .Height(470)
)
    <script type="text/javascript">

        $(document).ready(function(){
        
            setTimeout('$("#ApprenticeshipClassID").focus(); ', 1000);
            smas.setSelect("#Semester", '@(new GlobalInfo().Semester)');
            setTimeout(function () { cboSemesterOnchange($("#Semester"), '@(new GlobalInfo().Semester)'); }, 200);
            

        });

        

    

        var lstInd = 0;
        function InsertSuccess(msg) {
            smas.alert(msg);
            if (msg.Type == "success") {
            }
        }
        function Insert(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }

        function Insert() {
            $("#frmSearch input[type='submit']").click();
        }

        function cboApprenticeshipClassOnchange(cboApprenticeshipClass) {
            var Semester = $("#Semester").val();
            var Month = $("#Month").val();
            var ApprenticeshipClassID = $(cboApprenticeshipClass).val();

            if (Semester != "" && Month != "" && ApprenticeshipClassID != "" ) {
                ajaxSearch(ApprenticeshipClassID, Semester, Month, SectionInDay);
            } else {
                $('#GridApprenticeshipTrainingAbsence').attr("style", "display:none");
            }


        }

        function cboMonthOnchange(cboMonth) {
            var Semester = $("#Semester").val();
            var Month = $("#Month").val();
            var ApprenticeshipClassID = $("#ApprenticeshipClassID").val();

            if (Semester != "" && Month != "" && ApprenticeshipClassID != "" ) {
                ajaxSearch(ApprenticeshipClassID, Semester, Month);
            } else {
                $('#GridApprenticeshipTrainingAbsence').attr("style", "display:none");
            }

           
        }

        function cboSemesterOnchange(cbSemester, semester) {

            frmId = $(cbSemester).closest('form').get(0).id;
            controlUtils.loadComboBox(
            $("#" + frmId + " #Month"),
            '@Url.Action("GetMonth", "ApprenticeshipTrainingAbsence")',
            { semester: semester },
            '@Res.Get("CHOICE")'
        )
        ;
            var Semester = $("#Semester").val();
            var Month = $("#Month").val();
            var ApprenticeshipClassID = $("#ApprenticeshipClassID").val();

            if (Semester != "" && Month != "" && ApprenticeshipClassID != "" ) {
                ajaxSearch(ApprenticeshipClassID, Semester, Month);
            } else {
                $('#GridApprenticeshipTrainingAbsence').attr("style", "display:none");
            }
        }

     
        function ajaxSearch(ApprenticeshipClassID, Semester, Month) {
            if (Semester != "" && Month != "" && ApprenticeshipClassID != "" ) {
                $.ajax({
                    url: '@Url.Action("LoadGrid", "ApprenticeshipTrainingAbsence")',
                    type: 'post',
                    data: { Semester: Semester, Month: Month, ApprenticeshipClassID: ApprenticeshipClassID, SectionInDay: 0 },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (data) {
                        smas.hideProcessingDialog();
                        $('#GridApprenticeshipTrainingAbsence').attr("style", "display:");
                        $('#GridApprenticeshipTrainingAbsence').html(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }

        }

        function DataLoadGrid() {
            var Semester = $("#Semester").val();
            var Month = $("#Month").val();
            var ApprenticeshipClassID = $("#ApprenticeshipClassID").val();

            $.ajax({
                url: '@Url.Action("LoadGrid", "ApprenticeshipTrainingAbsence")',
                type: 'post',
                data: { Semester: Semester, Month: Month, ApprenticeshipClassID: ApprenticeshipClassID, SectionInDay: 0 },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    smas.hideProcessingDialog();
                    $('#GridApprenticeshipTrainingAbsence').html(data);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //smas.alert(XMLHttpRequest.responseText);
                }
            })


        }

        

    </script>
    <style type="text/css">
        #GridApprenticeshipTrainingAbsence tr td,#tblabc tr td{padding-left:0}#GridApprenticeshipTrainingAbsence .t-grid-content td{padding:0}#GridApprenticeshipTrainingAbsence .t-grid-content td input{width:15px;text-align:center;height:20px}#GridApprenticeshipTrainingAbsence .t-grid-content tr{height:42px!important}#GridApprenticeshipTrainingAbsence .t-grid-header .t-header{padding:0}.t-grid td{border-color:silver}div.t-grid-header .t-header{font-weight:700;text-align:center;padding-left:0;padding-right:0}#tblAbsence label{text-align:right!important}#tblAbsence input[type=text]{width:100%;border-width:0;background-color:transparent}#tblAbsence input[type=text]:focus{border:medium none!important;box-shadow:none}#searchPanel .vt-control .editor-label{width:25%}
    </style>
