﻿
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingAbsenceArea.Models

@using (Ajax.BeginForm("ImportDataPass",
                       "ApprenticeshipTrainingAbsence",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ImportDataPassSuccess",
                           OnFailure = "ImportDataPassFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
{
	@Html.AntiForgeryToken()      
            @Html.ViettelHidden("SemesterDataPass", -1)
            @Html.ViettelHidden("MonthDataPass", -1)    
            @Html.ViettelHidden("ApprenticeshipClassIDDataPass", -1)
            @Html.ViettelHidden("SectionInDayDataPass", -1)              
    <table>
        <tr style="padding: 10px">
            <td style="text-align: center; width:90%; color: Red; padding-top:20px;">
                    <p>File excel tồn tại dữ liệu không hợp lệ</p>
            </td>
        </tr>
    </table>
   <div id="button">        
    <table>
        <tr>                       
            <td style="width:34%;padding-left:20px">
                 @Html.ViettelButton(Res.Get("Common_Button_ViewDataImport"), "button", "ViewDataImportExcel()", "", "")
            </td>
            <td style="width:20%;padding-left:10px">
                  @Html.ViettelButton(Res.Get("Common_Button_ImportData"), "submit", "if(!validateUtils.validateForm('frmImportDataPass')) return false;", "")		                  
            </td>
            <td style="width:33%;padding-left:10px">                                                   
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "OnCloseClick()", "")   
            </td>
        </tr>
    </table>		
</div>   
}
<script type="text/javascript">
    function OnCloseClick() {
        smas.closeDialog("SelectImport");
    }
    function ViewDataImportExcel() {
        var Semester = $("#frmImportDataPass #SemesterDataPass").val();
        var Month = $("#frmImportDataPass #MonthDataPass").val();
        var ApprenticeshipClassID = $("#frmImportDataPass #ApprenticeshipClassIDDataPass").val();
        var SectionInDay = $("#frmImportDataPass #SectionInDayDataPass").val();
//        $('#frmViewData #SemesterDataPass1').val(Semester);
//        $('#frmViewData #MonthDataPass1').val(Month);
//        $('#frmViewData #ApprenticeshipClassIDDataPass1').val(ApprenticeshipClassID);
//        $('#frmViewData #SectionInDayDataPass1').val(SectionInDay);
//        formUtils.resetForm("ViewDataImport");
        smas.openDialog("ViewData", '@Url.Action("ViewDataImportExcel")', { Semester: Semester, Month: Month, ApprenticeshipClassID: ApprenticeshipClassID, SectionInDay: SectionInDay });
        setTimeout('smas.closeDialog("SelectImport");', 500);
    }
    function ImportDataPassSuccess(data) {
        smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
        setTimeout('smas.closeDialog("SelectImport");', 500);
        DataLoadGrid();
    }
    function ImportDataPassFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>

<style type"text/css">  
     .t-window .editor-label{width:45%}.t-window .editor-field{width:50%}#button{margin-top:20px}
</style>
