﻿@model DailyDishCostViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyDishCostArea.Models
@using SMAS.Web.Areas.DailyDishCostArea
@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<DailyDishCostViewModel>)ViewData[DailyDishCostConstants.LIST_DAILYDISHCOST])
        .Name("GridDailyDishCost")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
            c.Bound(o => o.EffectDate).Format("{0:dd/MM/yyyy}").HeaderTemplate(Res.Get("DailyDishCost_Label_EffectDate"));
            //c.Bound(o => o.EffectDate.ToShortDateString()).Sortable(true);
            c.Bound(o => o.Cost).Sortable(true).HtmlAttributes(new{style="text-align:right"});
            c.Bound(o => o.Note).Sortable(true);
            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "DailyDishCost")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
            }).Title(Res.Get("Common_Column_Edit")).Width(20);


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "DailyDishCost")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


            }).Title(Res.Get("Common_Column_Delete")).Width(20);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "DailyDishCost")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.DailyDishCostID))
        .Pageable(p => p.PageSize(Config.PageSize))
        .Sortable()
        .ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")</text>))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}
<script type="text/javascript">
  
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridDailyDishCost').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("DailyDishCost_Confirm_Delete"))')) {
                //smas.post('@Url.Action("Delete")', { id: item.DailyDishCostID }, null, null);
                $.ajax({
                    url: '@Url.Action("Delete", "DailyDishCost")',
                    type: 'post',
                    data: { id: item.DailyDishCostID },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.alert(msg);
                        smas.hideProcessingDialog();
                        window.location = "/DailyDishCostArea/DailyDishCost/Index";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
        var date = $("#datenow").val();     
        $("#EffectDate").val(date);      

    }
</script>
<style type="text/css">
    .t-grid-header .t-header .t-link{font-weight:700!important;padding:.3em .6em}.t-grid-header .t-header{font-weight:700!important}.t-grid td{max-width:120px!important;word-break:break-all!important;word-wrap:break-word!important;vertical-align:top;line-height:15px}
</style>