﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyDishCostArea.Models
@{
    ViewBag.Title = Res.Get("DailyDishCost_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="lstDailyDishCost">
    @Html.Partial("_List")
</div>
@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("DailyDishCost_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
)
@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("DailyDishCost_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
)
,
<script>
    $('document').ready(function () {
        $("#Cost").after("    đồng");
        $("#frmEdit #Cost").after("    đồng");     
    });
</script>
<style type="text/css">
    .t-window .editor-label{width:30%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:18%}#SearchPanel .editor-field{width:28%;margin-right:10px}
</style>
