﻿@model SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models.EmployeeProfileManagementForTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
<style type="text/css">
    .colspanAllLine .vt-control .editor-label{width:14%}.colspanAllLine .vt-control .editor-field{width:84%}
</style>
@{
    bool dis = (bool)ViewData[EmployeeProfileManagementForTeacherConstant.AUTO_GEN_CODE_CHECK];
}
<div style="padding-left: 10px;height:auto;">

    <div style="float: left; width: 18%;">
        @if (@Model != null && @Model.EmployeeID != null)
        {
            <img id="imageId" border="1" src="@Url.Action("Show", "Image", new { id = @Model.EmployeeID })" alt="Upload" width="100" height="120" />
        }
        else
        {
            <img id="imageId" border="1" src="@Url.Content("~/Content/images/question_mark.png")" alt="Upload" width="100" height="120" />
        }
        @(Html.Telerik().Upload()
        .Name("ImageUploader")
        .Multiple(false)
        .ShowFileList(false)
        .HtmlAttributes(new { @class = "btnUploaderCss" })
        .Async(async => async
        .Save("SaveImage", "EmployeeProfileManagementForTeacher")
        .AutoUpload(true)
        ).ClientEvents(events => events
            .OnLoad("onImageLoad")
            .OnUpload("onImageUpload")
            .OnSuccess("onImageUploadSuccess")
        ))
    </div>
    <div style="float: right; width: 80%;">
        <table>
            <tr>

                <td>
                    @{
                        DateTime dateForIntoSchoolDate = DateTime.Now;
                        Dictionary<string, object> dicEmployeeCode = new Dictionary<string, object>();
                        dicEmployeeCode["maxlength"] = 30;

                        Dictionary<string, object> dicAutoGenCode = new Dictionary<string, object>();
                        dicAutoGenCode["onChange"] = "cbAutoGenCodeChanged(this)";

                        if ((bool)ViewData[EmployeeProfileManagementForTeacherConstant.AUTO_GEN_CODE_CHECK])
                        {
                            dicEmployeeCode["disabled"] = "disabled";

                            dicAutoGenCode["checked"] = "checked";
                            if (!(bool)ViewData[EmployeeProfileManagementForTeacherConstant.IS_SCHOOL_MODIFIED])
                            {
                                dicAutoGenCode["disabled"] = "disabled";
                            }
                        }
                        else
                        {
                            dicAutoGenCode["disabled"] = "disabled";
                        } 
                    }
                    @Html.ViettelTextboxFor(model => model.EmployeeCode, Res.Get("Employee_Label_EmployeeCode"), dicEmployeeCode, true)
                </td>
                <td>
                    @Html.ViettelCheckBoxFor(pp => pp.AutoGenCode, dicAutoGenCode, Res.Get("Common_Label_AutoGenCode"), false, true)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model => model.FullName, Res.Get("Employee_Label_FullName"),
                    new Dictionary<string, object>()
                     {
                         {"maxlength","100"}
                     }, true)
                </td>
                <td>
                    @Html.ViettelEditorFor(x => x.BirthDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelComboboxFor(model => model.Genre, Res.Get("Employee_Label_Sex"),
                               ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementForTeacherConstant.LISTSEX]),
                               GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                     {

                     }, true)
                </td>
                <td>
                    @Html.ViettelTextboxFor(model => model.Alias, Res.Get("Employee_Label_Alias"),
                new Dictionary<string, object>()
                {
                    {"maxlength","100"}
                }, false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model => model.IdentityNumber, Res.Get("Employee_Label_IdentityNumber"),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
                </td>
                <td>
                    @Html.ViettelDatePickerFor(x => x.IdentityIssuedDate, false,
                new Dictionary<string, object> { })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model => model.IdentityIssuedPlace, Res.Get("Employee_Label_IdentityIssuedPlace"),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                </td>
                <td>
                    @Html.ViettelTextboxFor(model => model.HealthStatus, Res.Get("Employee_Label_HealthStatus"),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelComboboxFor(model => model.EthnicID, Res.Get("Employee_Label_Ethnic"),
                                    ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementForTeacherConstant.LS_ETHNIC]),
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object>()
                                    {
                                    }, true)
                </td>
                <td>
                    @Html.ViettelComboboxFor(model => model.ReligionID, Res.Get("Employee_Label_Religion"),
                                             ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementForTeacherConstant.LS_RELIGION]),
                                             GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object>()
                                    {
                                    }, false)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="colspanAllLine">
                    @Html.ViettelTextboxFor(model => model.HomeTown, Res.Get("Employee_Label_HomeTown"),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="colspanAllLine">
                    @Html.ViettelTextboxFor(model => model.PermanentResidentalAddress, Res.Get("Employee_Label_PermanentResidentalAddress"),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model => model.Telephone, Res.Get("Employee_Label_Telephone"),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
                </td>
                <td>
                    @Html.ViettelTextboxFor(model => model.Mobile, Res.Get("Employee_Label_Mobile"),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model => model.Email, Res.Get("Employee_Label_Email"),
                new Dictionary<string, object>()    
                {
                    {"maxlength","50"}
                }, false)
                </td>
                <td>
                    @Html.ViettelEditorFor(x => x.IntoSchoolDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelComboboxFor(model => model.SchoolFacultyID, Res.Get("Employee_Label_SchoolFaculty"),
                                                     ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementForTeacherConstant.LISTSCHOOLFACULTY]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, true)
                </td>
                <td>
                    @Html.ViettelTextboxFor(model => model.Description, Res.Get("Employee_Label_Description"),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                </td>
            </tr>
        </table>
    </div>
    <div class="Clear"></div>
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function onImageLoad(e) {
        // alert("Upload loaded");
    }
    function onSelect(e) {
        // alert("Select :: " + getFileInfo(e));
    }
    function onImageUpload(e) {
        // alert("Upload :: " + getFileInfo(e));
        // Array with information about the uploaded files
        var files = e.files;

        // Check the extension of each file and abort the upload if it is not .jpg
        $.each(files, function () {
            if ((this.extension == ".jpg") || (this.extension == ".bmp")
                || (this.extension == ".ico") || (this.extension == ".gif")
                || (this.extension == ".png") || (this.extension == ".jpeg")
                 || (this.extension == ".JPG") || (this.extension == ".BMP")
                || (this.extension == ".ICO") || (this.extension == ".GIF")
                || (this.extension == ".PNG") || (this.extension == ".JPEG")
                ) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    smas.error("Chỉ được upload tập tin < 1MB")
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.error("Chỉ tập tin đuôi bmp, png, ico, gif, jgp, jpeg mới được upload lên!")
                e.preventDefault();
                return false;
            }
        });
    }
    function onImageUploadSuccess(e) {
        var filepath = '@Url.Content("~/Uploads/Photos/")' + e.response.Message;
        $("#imageId").attr("src", filepath);

    }
    function onError(e) {
        //alert("Error (" + e.operation + ") :: " + getFileInfo(e));
        e.preventDefault(); // Suppress error message
    }
    function onComplete(e) {
        // alert("Complete");
    }
    function onCancel(e) {
        // alert("Cancel :: " + getFileInfo(e));
    }

    function onRemove(e) {
        //alert("Remove :: " + getFileInfo(e));
        var filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath)

    }
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;

            //            // File size is not available in all browsers
            //            if (file.size > 0) {
            //                info += " (" + Math.ceil(file.size/1024 ) + " KB)";
            //            }
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            // File size is not available in all browsers
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }


    function cbAutoGenCodeChanged(chkAutoGenCode) {
        frmId = $(chkAutoGenCode).closest('form').get(0).id;
        var b = $(chkAutoGenCode)[0].checked;
        if (b) {
            $("#" + frmId + " #EmployeeCode").attr("disabled", true);
        } else {
            $("#" + frmId + " #EmployeeCode").removeAttr("disabled");
        }
    }
    </text>);
</script>
<script type="text/javascript">
     @Html.JsMinify(@<text>
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text("...");
        $("#frmCreate input[id=IntoSchoolDate]").val('@dateForIntoSchoolDate.ToString("dd/MM/yyyy")');
        if ("@ViewData[EmployeeProfileManagementForTeacherConstant.AUTO_GEN_CODE_CHECK]" == "False") {
            setTimeout('$("#EmployeeCode").focus()', 500);
        }
    });
    </text>);
</script>
@if (Model != null && !string.IsNullOrEmpty(Model.EmployeeCode))
{
    <script type="text/javascript">
        @Html.JsMinify(@<text>
        $(document).ready(function () {
            if ("@ViewData[EmployeeProfileManagementForTeacherConstant.IS_SCHOOL_MODIFIED]" == "True")
                $("#frmEdit").find("#AutoGenCode").removeAttr("checked");
            if ("@ViewData[EmployeeProfileManagementForTeacherConstant.AUTO_GEN_CODE_CHECK]" == "False" || "@ViewData[EmployeeProfileManagementForTeacherConstant.IS_SCHOOL_MODIFIED]" == "True") {
                $("#frmEdit").find("#EmployeeCode").removeAttr("disabled");
            }
            if ("@ViewData[EmployeeProfileManagementForTeacherConstant.AUTO_GEN_CODE_CHECK]" == "False") {
                setTimeout('$("#EmployeeCode").focus()', 500);
            }
        });
        </text>);
    </script> 
}
