﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ConcurrentWorkTypeArea.Models
@using SMAS.Web.Areas.ConcurrentWorkTypeArea
@using SMAS.Web.Utils
@model IEnumerable<ConcurrentWorkTypeViewModel>
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
@{var list = (IEnumerable<ConcurrentWorkTypeViewModel>)ViewData[ConcurrentWorkTypeConstants.LIST_CONCURRENTWORKTYPE];}
<div class="vt-ResultPanel">
    <div class="mg-t-10 mg-b-10">
        <div class="text-right">
            @{
                if (checkCreate)
                {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus")
                }
            }
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(list)
            .Name("GridConcurrentWorkType")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.Resolution).Sortable(false).Width(100);
                c.Bound(o => o.SectionPerWeek).Sortable(false).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.Description).Sortable(false).Visible(true).Width(300);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ConcurrentWorkType")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit icon icon-edit" });


                }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(checkUpdate);


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "ConcurrentWorkType")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-delete icon icon-trash" });


                }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(checkDelete);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "ConcurrentWorkType")
             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.ConcurrentWorkTypeID))
            .Pageable().Resizable(o => o.Columns(true))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Selectable()
            .Render();
                      
    }
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridConcurrentWorkType').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");            
            $("#editDialog").find(".t-button").removeClass('t-button');
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            $("#ConfirmAlertDialog").find(".t-button").removeClass('t-button');
            smas.confirm('@Html.Raw(Res.Get("ConcurrentWorkType_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.ConcurrentWorkTypeID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        $("#createDialog").find(".t-button").removeClass('t-button');
        smas.openDialog("createDialog", "", {});
    }
</script>
