﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.StatisticsForUnitSecondaryArea.Models
@using SMAS.Web.Areas.StatisticsForUnitSecondaryArea
@model StatisticsForUnitSecondaryViewModel
@using (Ajax.BeginForm("SearchCapacity",
                       "StatisticsForUnitSecondary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           UpdateTargetId = "gridCapacityStatistic"
                       },
                       new { id = "frmSearchCapacityStatistic" }
                       ))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.AntiForgeryToken()
            @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[StatisticsForUnitSecondaryConstants.LIST_EDUCATION_LEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "ref", "capacity" } }, false)
            @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[StatisticsForUnitSecondaryConstants.LIST_SEMESTER_ALL], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "capacity" } }, true)
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
   
}
<div id="gridCapacityStatistic">
    @Html.Partial("_CapacityGrid")
</div>
<script type="text/javascript">
    function ExportCapacity() {
        var eduID = $("#frmSearchCapacityStatistic").find("#EducationLevelID").val();
        var semester = $("#frmSearchCapacityStatistic").find("#Semester").val();
        window.open("@Url.Action("ExportCapacity")?EducationLevelID="+eduID+"&Semester=" + semester);
    }
</script>
