﻿@model SemeterDeclarationObject
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SemeterDeclarationArea.Models
@using SMAS.Web.Areas.SemeterDeclarationArea
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
@{
    //string a =  (string)ViewData[SemeterDeclarationConstant.LS_DEFAULT_APPLIEDDATE];
    var ready = "";
    if (!checkCreate)
    {
        ready = "readonly";
    }
    if (ViewData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT] != null)
    {
        TempData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT] = ViewData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT];
    }
}
@using (Ajax.BeginForm("Save", "SemeterDeclaration", new AjaxOptions
{
    OnBegin = "BeginSubmit",
    OnSuccess = "onSuccess",
    OnFailure = "EditFail",
    OnComplete = "onComplete"
}, new { id = "SemeterDeclarationFormID" }))
{
        @Html.AntiForgeryToken()
    <div class="vt-ResultPanel vt-td-edit">
        <div>
            <div >
                <div id="message">
                    @if ((bool)ViewData[SemeterDeclarationConstant.SHOW_MESSAGE])
                    {
                        <p style="text-align: left; font-weight: bold; font-size: small; color: Red">@Res.Get("SemeterDeclaration_Label_Message")</p>
                    }
                </div>
            </div>
            <div class="Clear">
            </div>
        </div>
        @{
                    var index = 1;
                    Html.Telerik().Grid<SemeterDeclarationObject>((IEnumerable<SemeterDeclarationObject>)ViewData[SemeterDeclarationConstant.LS_SEMETERDECLARATION])
                        .Name("GridSemeterDeclaration")
                        .HtmlAttributes(new { @class = "custom-table-border" })
                        .DataKeys(keys =>
                        {
                            keys.Add(p => p.SemeterDeclarationID);
                        })
                        .DataBinding(dataBinding =>
                        {
                            dataBinding.Ajax();
                        })
                        .Columns(c =>
                        {
                            // c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                            c.Bound(o => o.SemeterDeclarationKindName).HtmlAttributes(new { style = "text-align:left" }).Width(430);
                            //he so
                            c.Template(
            @<text>
            <input type="text" name="SemeterDeclarationValueHS" class="integer custom-input-border" maxlength="2" style="text-align:center" value="@item.SemeterDeclarationValueHS" /><br />
            @Html.ViettelHidden("SemeterDeclarationKind", @item.SemeterDeclarationKind)
            </text>)
                             .HeaderHtmlAttributes(new { style = "text-align:center" })
                             .Title(Res.Get("PeriodDeclaration_Label_HS")).Width(60);

                            //so con diem
                            c.Template(
            @<text>
            @if (item.SemeterDeclarationKind == SemeterDeclarationConstant.DIEM_HK)
            {
                <input type="text" name="SemeterDeclarationValueSCD" class="integer custom-input-border" disabled="disabled"
                maxlength="2" style="text-align:center" value="@item.SemeterDeclarationValueSCD"
                />
            }
            else
            {
                <input type="text" name="SemeterDeclarationValueSCD" class="integer custom-input-border" maxlength="2"
                style="text-align:center" value="@item.SemeterDeclarationValueSCD" @ready />
            }
            </text>)
                            .HeaderHtmlAttributes(new { style = "text-align:center" })
                            .Title(Res.Get("PeriodDeclaration_Label_SCD")).Width(60);

                        })
                          .ToolBar(cmd => cmd.Template(
            @<text>
            @{
                if (checkCreate)
                {
                    if ((bool)ViewData[SemeterDeclarationConstant.ENABLE_BUTTON])
                    {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus buttonCreate")
                    }
                    else
                    {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", "btn btn-info btn-icon btn-round btn-icon-plus t-state-disabled buttonCreate")
                    }
                }
            }
        <div class="dialog-buttons">
        @{
                    
                    if ((bool)ViewData[SemeterDeclarationConstant.ENABLE_BUTTON])
                    {
                        if (checkCreate)
                        { 
                            @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "style", "display:none" } }, "submit", "", "")
                        }
                        if (checkUpdate)
                        {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "style", "" } }, "submit", "", "btn btn-info btn-icon btn-round btn-icon-save buttonEdit")
                        }

                        if (checkDelete)
                        {
            @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "OnDeleteClick()", "btn btn-basic btn-round buttonDelete  btn-icon btn-icon-times")
                        }
                    }
                    else
                    {
                        if (checkUpdate)
                        {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "style", "margin-right:8px" } }, "button", "", "btn btn-info btn-icon btn-round btn-icon-savet-state-disabled buttonEdit")
                         }
                        if (checkDelete)
                        {
            @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "", "btn btn-basic btn-round t-state-disabled buttonDelete  btn-icon btn-icon-times")
                        }
                    }
                    
        }
    </div>
            </text>))
                            .Pageable().Resizable(o => o.Columns(true))
                            .Sortable()
                            .ClientEvents(events => events.OnDataBinding("onDataBinding")
                            ).Selectable().Render();
        }
    </div>
    if (TempData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT] != null && TempData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT] != "") {
       <input type="hidden" name="AppliedDate" id="AppliedDate" value="@TempData[SemeterDeclarationConstant.APPLIEDDATE_DEFAULT]" />
    }else{
        <input type="hidden" name="AppliedDate" id="AppliedDate" value="" />
    }
    
}
<style type="text/css">
    #GridSemeterDeclaration .t-status-text{display:none!important}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //setTimeout(function () {
        //    $("#AppliedDate").val($("#cbAppliedDate").val());
        //}, 50);

        var HeSo = document.getElementsByName('SemeterDeclarationValueHS');
        for (var i = 0; i < HeSo.length; i++) {
            HeSo[i].onpaste = function (e) {
                e.preventDefault();
            }
        }

        var SoConDiem = document.getElementsByName('SemeterDeclarationValueSCD');
        for (var i = 0; i < SoConDiem.length; i++) {
            SoConDiem[i].onpaste = function (e) {
                e.preventDefault();
            }
        }
    });
</script>
