﻿@model SemeterDeclarationObject
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SemeterDeclarationArea.Models
@using SMAS.Web.Areas.SemeterDeclarationArea
@using SMAS.Web.Utils
@using SMAS.Web.Constants
<div id="frmSearch">
    @Html.ViettelCombobox(Res.Get("PeriodDeclaration_Label_AppliedDate"), "cbAppliedDate", (IEnumerable<SelectListItem>)ViewData[SemeterDeclarationConstant.LS_APPLIEDDATE], GlobalConstants.PLACEHOLDER_CHOICE,
new Dictionary<string, object>() { { "OnChange", "OncbAppliedDateChange(this)" } }, false, false)
</div>
<script type="text/javascript">
    function OncbAppliedDateChange(cbAppliedDate) {
        var AppliedDate = $(cbAppliedDate).val();
        $.ajax({
            url: '@Url.Action("ChangeAppliedDate", "SemeterDeclaration")',
            type: 'post',
            data: { AppliedDate: AppliedDate },
            beforeSend: function () {
                //smas.showProcessingDialog();
            },
            success: function (msg) {
                //smas.hideProcessingDialog();
                $("#grid").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
</script>
