﻿@model ResultViewModel
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.ActionHistoryArea.Models
@using SMAS.Web.Areas.ActionHistoryArea
@using SMAS.Web.Utils

<div class="vt-ResultPanel p-t-10">
    @{
        List<ResultViewModel> result = null;
        int total = 0;
        int page = 1;
        if (ViewData[ActionHistoryConstants.LIST_ACTIONAUDIT] != null)
        {
            result = (List<ResultViewModel>)ViewData[ActionHistoryConstants.LIST_ACTIONAUDIT];
        }
        if (ViewData[ActionHistoryConstants.TOTAL] != null)
        {
            total = (int)ViewData[ActionHistoryConstants.TOTAL];
        }

        var index = 1;
        Html.Telerik()
            .Grid(result)
            .Name("GridActionHistory")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.ActionDate).Title("Ngày thực hiện").HtmlAttributes(new { style = "text-align:center" }).Width(110).Visible(true);
                c.Bound(o => o.UserName).Title("Tên đăng nhập").HtmlAttributes(new { style = "text-align:left" }).Width(110);
                c.Bound(o => o.Name).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(130);
                c.Bound(o => o.FunctionName).Title("Chức năng").HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Bound(o => o.Action).Title("Hành động").HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Bound(o => o.Description).Title("Mô tả").HtmlAttributes(new { style = "text-align:left" }).Width(170);
                c.Bound(o => o.IP).Title("Địa chỉ máy truy cập").HtmlAttributes(new { style = "text-align:center" }).Width(80);
            })
            .DataBinding(a => a.Ajax().Select("SearchAjax", "ActionHistory"))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnDataBound("Grid_DataBound"))
            .DataKeys(keys => keys.Add(o => o.ActionAuditID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Pageable(p => p.PageSize(ActionHistoryConstants.PAGE_SIZE).Total(total).PageTo(page))
            .EnableCustomBinding(true)
            .Selectable()
            .Render();
    }
    @{
        if (total > 0)
        {
        <div style="float: right; margin-right: 0px; margin-top: 10px; margin-bottom: 10px;">
            <input type="button" class="btn btn-info btn-round btn-icon btn-icon-excel" value="@Res.Get("Common_Button_ExportExcel")" onclick="ExportExcel()" />
        </div>
        }
    }
</div>

<script type="text/javascript">
    var lstInd = 0;   

    function Grid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridActionHistory').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        // e.data = jsonUtils.serializeObject("frmSearch");       
        e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
    }
    function Grid_DataBound(e) {
        smas.hideProcessingDialog();
    }
    function ExportExcel() {
        var fromdate = $('#FromDate').val();
        var todate = $('#ToDate').val();
        var username = $('#UserName').val();
        var actionname = $('#ActionName').val();

        window.open('@Url.Action("ExportExcel", "ActionHistory")' + '?fromdate=' + fromdate
           + '&todate=' + todate + '&username=' + username + '&actionname=' + actionname);

    }
</script>
