﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.ActionHistoryArea.Models
@using SMAS.Web.Areas.ActionHistoryArea
@using SMAS.Web.Utils

<div class="vt-ResultPanel">
    @{
        List<ResultViewModel> result = null;
        int total = 0;
        int page = 1;
        if (ViewData[ActionHistoryConstants.LIST_ACTIONAUDIT] != null)
        {
            result = (List<ResultViewModel>)ViewData[ActionHistoryConstants.LIST_ACTIONAUDIT];
        }
        if (ViewData[ActionHistoryConstants.TOTAL] != null)
        {
            total = (int)ViewData[ActionHistoryConstants.TOTAL];
        }

        var index = 1;
        <div class="vt-ResultPanel-Title">
            <div class="vt-ResultPanel-Title-Message">
            </div>
            <div class="Clear"></div>
        </div>
        Html.Telerik()
            .Grid<ResultViewModel>(result)
            .Name("GridActionHistory")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.ActionDate).Title("Ngày thực hiện").HtmlAttributes(new { style = "text-align:left" }).Width(130).Visible(true);
                c.Bound(o => o.UserName).Title("Tên đăng nhập").HtmlAttributes(new { style = "text-align:left" }).Width(150);
                c.Bound(o => o.Name).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(150);
                c.Bound(o => o.FunctionName).Title("Chức năng").HtmlAttributes(new { style = "text-align:center" }).Width(80);
                c.Bound(o => o.Action).Title("Hành động").HtmlAttributes(new { style = "text-align:center" }).Width(80);
                c.Bound(o => o.Description).Title("Mô tả").HtmlAttributes(new { style = "text-align:left" }).Width(130);
                c.Bound(o => o.UserName).Sortable(true).HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.IP).Title("Địa chỉ máy truy cập").HtmlAttributes(new { style = "text-align:center" }).Width(80);
            })
            .DataBinding(a => a.Ajax().Select("SearchAjax", "ActionHistory"))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnDataBound("Grid_DataBound"))
            .DataKeys(keys => keys.Add(o => o.ActionAuditID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Pageable(p => p.PageSize(ActionHistoryConstants.PAGE_SIZE).Total(total).PageTo(page))
            .EnableCustomBinding(true)
            .Selectable()
            .Render();
    }

</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridActionHistory').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        // e.data = jsonUtils.serializeObject("frmSearch");       
       // e.data = objSearch;//jsonUtils.serializeObject("frmSearch");
    }
    function Grid_DataBound(e) {
        smas.hideProcessingDialog();
    }
</script>
