﻿@model NotEatingChildrenViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.NotEatingChildrenArea.Models
@using SMAS.Web.Areas.NotEatingChildrenArea

@{
    var DictionaryNotEat = (Dictionary<int, List<NotEatingChildrenViewModel>>)ViewData["lstNotEating"];
    var index = 1;


    List<NotEatingChildrenViewModel> listNotEatingChildrenViewModel = ViewData[NotEatingChildrenConstants.LIST_NOTEATINGCHILDREN] as List<NotEatingChildrenViewModel>;
    var count = 0;
    var ClassID = 0;
    var MonthYear = "";
    if (listNotEatingChildrenViewModel.Count() != 0)
    {
        count = listNotEatingChildrenViewModel.ToList().Count();

        ClassID = listNotEatingChildrenViewModel.FirstOrDefault().ClassID.Value;
        MonthYear = listNotEatingChildrenViewModel.FirstOrDefault().MonthYear;
    }


    bool CheckMonthLyLock = (bool)ViewData["checkMonthlyLock"];

    int numberOfDays = (int)ViewData["numberOfDays"];
    
    }
    <style type="text/css">
        #tblabc td th{padding:0}        
    </style>
@using (Ajax.BeginForm("Update",
                           "NotEatingChildren", null,
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstNotEatingChildren",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "UpdateSuccess",
                               OnFailure = "UpdateFail",
                           },
                           new { id = "frmUpdate" }))
{
    
        @Html.AntiForgeryToken()
    @Html.ViettelHidden("ClassID", @ClassID)
    @Html.ViettelHidden("MonthYear", @MonthYear)
  
    <p style = "color:Red">Tìm thấy @count kết quả</p>
    
         
                               Html.Telerik()
                                   .Grid((IEnumerable<NotEatingChildrenViewModel>)ViewData[NotEatingChildrenConstants.LIST_NOTEATINGCHILDREN])
                                   .Name("GridNotEatingChildren")
                                   .Columns(c =>
                                   {
                                       c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:left" }).Width(20);

                                       c.Bound(o => o.FullName).Sortable(true).Width(60);
                                       c.Bound(o => o.Birthdate).Sortable(true).Visible(true).Format("{0:dd/MM/yyyy}").Width(60);


                                       //List Checkbox
                                       c.Template(
                               @<text>
    <table cellspacing="0" id="tblabc" style ="padding-left:0px;padding-right:0px;">
        <tr>
            @{
                var dic_item = DictionaryNotEat.Where(o => o.Key == item.PupilID).Select(o => o.Value).FirstOrDefault();


                for (int i = 1; i <= @numberOfDays; i++)
                {
                    string checkName = "Accepted_" + @item.PupilID + "_" + i;
                    bool hasVal = false;
                    if(@CheckMonthLyLock == false)
                     {
                        if (dic_item != null)
                        {

                            foreach (var item_1 in dic_item)
                            {
                                if (item_1.NotEatingDate.Value.Day == i)
                                {
                                    <td style="text-align:center;width:5px;padding-left:0px;padding-right:0px;">
                                        <input type="hidden" class="testCheck" value="0"/> 
                                        <input name="@checkName" id = "@checkName" onclick = "chkOnClick(this.id,@item.PupilID)" type="checkbox" value="@item.PupilID" title="" checked="checked" />
                                    </td> 
                                    hasVal = true;
                                    break;
                                }
                            }

                            if (hasVal == false)
                            {
                                <td style="text-align:center;width:5px;padding-left:0px;padding-right:0px;"> 
									<input type="hidden" class="testCheck" value="0"/> 
                                    <input name="@checkName" id = "@checkName" onclick = "chkOnClick(this.id,@item.PupilID)" type="checkbox" value="" title=""  />
                                </td>
                            }

                        }

                        else
                        { 
                            <td style="text-align:center;width:5px;padding-left:0px;padding-right:0px;"> 
                                 <input name="@checkName" id = "@checkName" onclick = "chkOnClick(this.id,@item.PupilID)" type="checkbox" value="" title=""  />
                            </td>
                        }

                    }
                    
                    else{
                    
                    <td style="text-align:center;width:5px;padding-left:0px;padding-right:0px;" > 
                      <input name="@checkName"  type="checkbox" value="" title=""   disabled = "disabled" />
                     </td> 
                    
                    }


                }
                    
                   
            }
        </tr>
    </table>
    </text>)
                                                  .HeaderTemplate(
                               @<text>
    <table cellspacing="0" id="tblabc" style="padding-left:0px;padding-right:0px;">
        <tr>
            @{
                for (int i = 1; i <= @numberOfDays; i++)
                {   
                    <td style="text-align:center;width:5px;padding-left:0px;padding-right:0px;">@i</td>
                }
            }
        </tr>
    </table>
    </text>).Width(550);

                                       c.Template(

                               @<text>
    @{
       
        string idTS = @item.PupilID + "_TS";
                <table cellspacing="0" id="tblabc">
        <tr>
        <td style="border:none !important;" >
            @{  
              if(@CheckMonthLyLock == true){
                    <label id="@idTS">@item.sumDayNotEat</label> 
              }
              else{
                    <div style="margin:-5px;"><label  id="@idTS">@item.sumDayNotEat</label></div> 
              }    
                 
            }
            </td>
        </tr>
    </table>  
                
  
    
        }</text>

                               ).HeaderTemplate(
                                      @<text>
     <table cellspacing="0" id="tblabc" style = "text-align:left;padding-right:0px;" >
        <tr>
            @{  
              <td style="padding-left:0px;padding-right:0px;">TS
                </td>
            }
        </tr>
    </table>
                
 
    </text>).Width(22);


                                   })
                                  .DataBinding(b =>
                                       b.Ajax().OperationMode(GridOperationMode.Client)
                                    )
                                   .DataKeys(keys => keys.Add(o => o.PupilID))
                                   //.Pageable() //Tìm kiếm theo lớp => Ko phân trang
                                   .Sortable()
                                   .Scrollable(o => o.Enabled(true))
                                   .Editable(editing => editing.Mode(GridEditMode.PopUp))
                                   .Selectable()
                                   .Render();
                      


  <div align="right" class="vt-form-button" style="margin: 5px 0px 5px 0px;">
	@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit","",@CheckMonthLyLock) 
</div>   
   

}


<script type="text/javascript">
    var lstInd = 0;
    function UpdateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            search();
        }
        search();
    }
    function UpdateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        search();
    }



    function chkOnClick(id,PupilID) {
        var sum = 0;
        var check = $('#GridNotEatingChildren #' + id).val();
        if(check == null || check == "")
        {
            $('#GridNotEatingChildren #' + id).val(PupilID);
        }
        
        else{
            $('#GridNotEatingChildren #' + id).val("");
        }

        for (var i = 1; i <= 31; i++) {
            var value = $("#GridNotEatingChildren #Accepted_" + PupilID + "_" + i).val();

            if (value == PupilID) {
                sum++;
            }
        }

        document.getElementById(PupilID + "_TS").innerHTML = sum;
    
    }

</script>



