﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LearningResultReportArea
<form id="frmRewardReport">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div id="lblTitle" class="vt-SearchPanel-Title">
                    @Res.Get("LearningResultReport_Title_EvaluationRewardReport")
        </div>
        <div class="vt-SearchPanel-Content row no-margin">
            <div id ="semesterID" class="col-md-6 col-sm-10 ">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Semester"), "SemesterID", (SelectList)ViewData[LearningResultReportConstants.LIST_SEMESTER]
                                    ,
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> {                            
                                }, false, false))
                </div>
            <div class="col-md-6 col-sm-10">
            @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID", (SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object> { 
                                        {"onchange", "onEducationLevelChange()"}
                                    }, false, false))
                </div>
            <div class="col-md-6 col-sm-10">
            @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID", (SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                            ,
                        GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object>
                        {
                        }, false, false))
                </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-icon btn-round btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFClick()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>

<div style="height: 500px">
    <iframe style="width: 100%; height: 100%;" src="/HtmlTemplate/HS_TH_DanhsachkhenthuongTT22/BC_TH_Danhsachkhenthuong.htm"></iframe>
</div>  

<script type="text/javascript">
$(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        var semesterID = $('#frmRewardReport #SemesterID').val();
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    });
    function ExportClick() {
        smas.getReport("frmRewardReport", '@Url.Action("GetPupilRewardReport", "EvaluationRewardReport")',
                     '@Url.Action("GetNewPupilRewardReport", "EvaluationRewardReport")', '@Url.Action("DownloadReport", "EvaluationRewardReport")');

    }
    function ExportPDFClick() {
        var blank = '_blank';
        smas.getReportDocument("frmRewardReport", '@Url.Action("GetPupilRewardReport", "EvaluationRewardReport")',
                     '@Url.Action("GetNewPupilRewardReport", "EvaluationRewardReport")', '@Url.Action("DownloadPDFReport", "EvaluationRewardReport")',blank);

    }

    function onEducationLevelChange() {
        var educationLevelID = $("#EducationLevelID").val();
        controlUtils.loadComboBox(
                        $("#ClassID"),
                    '@Url.Action("AjaxLoadClass", "EvaluationRewardReport")',
        { educationLevelID: educationLevelID },
        '@Res.Get("All")', null)
    }

</script>

