﻿@model EmployeeRetireViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeRetireArea.Models
<style type="text/css">
    #frmRetireCreate .Description .editor-field textarea{width:270px;height:80px}#frmRetireCreate .ResolutionDocument .editor-field input{width:282px}
</style>
<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
    @using (Ajax.BeginForm("Create",
                       "EmployeeRetire",
                       new { area = "EmployeeRetireArea" },
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateEmployeeRetire"
                       },
                       new { id = "frmRetireCreate" }
                       ))
    {
      <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            <input type="hidden" name="TeacherID" id="TeacherID" />
            <input type="hidden" name="EmployeeWorkMovementID" id="EmployeeWorkMovementID" />
            @Html.ViettelEditorFor(o => o.ResolutionDocument)
            @Html.ViettelEditorFor(o => o.MovedDate)
            @Html.ViettelEditorFor(o => o.Description)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", " btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('retireCreateDialog');", " btn btn-basic btn-round")
        </div>
    }
</div>
<script type="text/javascript">
    function CreateEmployeeRetire(msg) {
        smas.alert(msg);
        if (msg.Type == 'success') {
            setTimeout(function () { smas.closeDialog('retireCreateDialog'); }, 300);
            setTimeout(function () { search(); }, 1000);
        }
    }
</script>
