@model EmployeeRetireViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeRetireArea.Models
@using SMAS.Web.Areas.EmployeeRetireArea

@{
    var index = 1;
    
    Html.Telerik()
        .Grid((IEnumerable<EmployeeRetireViewModel>)ViewData[EmployeeRetireConstants.LIST_EMPLOYEEWORKMOVEMENT])
        .Name("GridEmployeeRetire")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            c.Bound(o => o.TeacherName).Sortable(true).Visible(true).Width(70);
            c.Bound(o => o.TeacherCode).Sortable(true).Visible(true).Width(50);
            c.Bound(o => o.SchoolFacultyName).Sortable(true).Visible(true).Width(70);
            c.Bound(o => o.ResolutionDocument).Sortable(true).Width(70);
            c.Bound(o => o.MovedDate).Sortable(true).Width(50);
            c.Bound(o => o.Description).Sortable(true).Width(70);



            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "EmployeeRetire")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


            }).Title(Res.Get("Common_Column_Edit")).Width(20).Visible((bool)ViewData[EmployeeRetireConstants.IS_CURRENT_YEAR]);


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "EmployeeRetire")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


            }).Title(Res.Get("Common_Column_Delete")).Width(20).Visible((bool)ViewData[EmployeeRetireConstants.IS_CURRENT_YEAR]);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "EmployeeRetire")
                    
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.EmployeeWorkMovementID))
        .Pageable()
        .Sortable()
        .ToolBar(cmd => cmd.Template(@<text>
        @if((bool)ViewData[EmployeeRetireConstants.IS_CURRENT_YEAR])
        {
        @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate()", "t-button vt-button-addNew")
        }
        </text>))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridEmployeeRetire').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if(confirm('@Html.Raw(Res.Get("EmployeeRetire_Confirm_Delete"))')){
                smas.post('@Url.Action("Delete")', { id: item.EmployeeWorkMovementID }, smas.reloadPageTimeout(), null);
            }
        }
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>



