				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeRetireArea.Models
<style type="text/css">
    lstEmployeeWorkMovement .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
@{
    ViewBag.Title = @Res.Get("EmployeeRetire_Label_ListTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   #lstEmployeeWorkMovement .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
<div id="lstEmployeeWorkMovement">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("EmployeeRetire_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                                    .Height(300)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                    .Title(Res.Get("EmployeeRetire_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                                    .Height(300)
)

<script type="text/javascript">

    function AjaxLoadTeacherByFaculty(cboFaculty) {
        frmId = $(cboFaculty).closest('form').get(0).id;
        $("#" + frmId + " #TeacherID").find("option").each(function (ind, el) {
            if (ind > 0) {
                $(el).remove();
            }
        });
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadingTeacherByFaculty", "EmployeeRetire")',
            { SchoolFacultyID: $(cboFaculty).val() },
            '@Res.Get("SelectRK")'
        );
    }
    function seachEmployeeRetire()
    {
        $.ajax({
            url: '@Url.Action("Search", "EmployeeRetire")',
            success: function (data) {
                $('#lstEmployeeWorkMovement').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });
    }
 </script>

