﻿@model SMAS.Models.Models.StatisticLevelReport
@using Com.Viettel.Framework.HtmlHelpers;
@using Telerik.Web.Mvc.UI;
@using SMAS.Models.Models;
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.StatisticLevel.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/StatisticLevelArea/Views/Shared/_StatisticLevelLayout.cshtml";
}
@{
List<StatisticLevelReport> statisticLevelReports = ViewBag.StatisticLevelReports as List<StatisticLevelReport>;
var reports = statisticLevelReports.Select(p => new SelectListItem()
            {
                Value = Url.Action("List", new {id = p.StatisticLevelReportID}),
                Text = p.Resolution
            });
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Title">Cấu hình mức thống kê</div>
    <div class="vt-SearchPanel-Content cau-hinh-muc-thong-ke">
        <div style="color:red;font-style:italic; padding: 10px 0px;">
            Khi thực hiện thêm mới, sửa, hủy bỏ thông tin cấu hình, Thầy/cô cần nhấn Lưu để cập nhật thông tin cấu hình.
        </div>
        <div class="vt-control">
            <div class="editor-label">
                 @Html.Label("StatisticLevelReportID","Mức thống kê ")  
            </div>
            <div class="editor-field" style="width:35%">
                 @Html.DropDownListFor(m => m.StatisticLevelReportID, reports, new { onchange = "loadConfigs(this)", data_container = "div-configs" })
            </div>                
         </div>
        <div id="div-configs">
            @Html.Action("List", new { id = Model == null ? 0 : Model.StatisticLevelReportID })
        </div>
    </div>
</div>
<script>
     $(".editor-field").has("select").addClass("custom-select");
    function loadConfigs(sender) {
        var url = $(sender).val();
        var container = $(sender).attr("data-container");
        $("#" + container).load(url);
    }
    $(function () {
        $("[href*='/Config']").addClass("Active");
        $("#StatisticLevel-menu").css("height", "560px");
    });

    $(document).ready(function () {
        @if(Model!=null)
        {
            <text>$("#StatisticLevelReportID").val('@Url.Action("List", new {id = Model.StatisticLevelReportID})')</text>
        }
    });
   
</script>