﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject

@{
    ViewBag.Title = "Cập nhật phân môn";
}

@{
    List<EducationLevelBO> lstEdu = new List<EducationLevelBO>();
    if (ViewData["lstEducationEdit"] != null)
    {
        lstEdu = (List<EducationLevelBO>)ViewData["lstEducationEdit"];
    }
}

@{
    using (Ajax.BeginForm("UpdateDivisiveSubjectConfig",
                              "DivisiveConfiguaration",
                              new AjaxOptions
                              {
                                  HttpMethod = "post",
                                  OnBegin = "smas.showProcessingDialog",
                                  OnComplete = "OnComplete",
                                  OnSuccess = "SaveSuccess",
                                  OnFailure = "SaveFail"
                              },
                              new { id = "frmCreateDivisiveSubject" }
                              ))
    {
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValue", "")
    @Html.Hidden("hdfTypeID", 0)

    <div class="ListOverImport divisive-configuaration-page">
        <div class="comboboxSubject">
            @Html.ViettelCombobox("Môn học",
               "SubjectID_Edit", (IEnumerable<SelectListItem>)ViewData["lstSubjectEdit"],
               GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>() { { "onchange", "LoadSubject_Edit();" } }, true, true)
        </div>

        <div id="divtextBox" class="vt-control">
            <div class="editor-label">
                <label>Tên phân môn <span style="color: red">*</span></label>
            </div>
            <div class="editor-field">
                <input type="text" id="divisiveSubjectName_Update" name="assignSubjectName_Update" maxlength="100" />
            </div>
        </div>

        <div class="ListOptionImport ListSubjectClassImport" id="groupBox">
            <fieldset>
                <legend><span>Khối áp dụng </span><span style="color: red">*</span></legend>
                <div class="row">
                    @{
                        foreach (EducationLevelBO items in lstEdu)
                        {
                            <div class="col-md-3 col-sm-3">
                                <label class="custom-checkbox" id="@("span_" + items.EducationLevelID)">
                                    <input class="classEducationEdit" type="checkbox" value ="@(items.EducationLevelID)" 
                                            name="@("UpdateSubject_" + items.EducationLevelID)" onchange="changeEducationUpdate()">
                                    @items.DisplayName
                                    <span class="checkmark"></span>
                                </label>

                                    @*<span class="ClassListSubjectImport editor-field" id="@("span_" + items.EducationLevelID)">
                                        <input class="classEducationEdit" type="checkbox" value ="@(items.EducationLevelID)" 
                                            name="@("UpdateSubject_" + items.EducationLevelID)" onchange="changeEducationUpdate()">
                                    </span>
                                    <div class="editor-field">@items.DisplayName</div>*@
                            </div>
                        }
                    }
                </div>
            </fieldset>
        </div>

        <div style="text-align: center;">
            <input id="btnImportRated" class="btn btn-info btn-icon btn-round btn-icon-save" type="button" onclick="SetValueHidden()" value="Lưu">
            <input class="btn btn-basic btn-round" type="button" onclick="CancelPopup_Update()" value="Đóng">
        </div>
    </div>
    <div style="display: none">
        <input type="hidden" id="asignSubjectId_Update" name="asignSubjectId_Update" />
        <input type="hidden" id="subjectId_Old" name="subjectId_Old" />
        <input type="hidden" id="arrEducationId_Update" name="ArrEducationIdUpdate" />
        @*<input type="hidden" id="ArrClassIDImport" value="" />
            <input type="hidden" id="TypeImport" value="" />*@
        <input type="submit" id="btnSubmitFromUpdate" class="t-button" style="display: none;" />
    </div>
    }
}

<script>

    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");
        //var subjectId = $('#subjectIdUpdate').val();   
        var assignSubjectId = $('#assignSubjectId').val();
        $('#asignSubjectId_Update').val(assignSubjectId);
        FillData(assignSubjectId);
        // changeEducation();
    });

    function FillData(assignSubjectId) {
        $.ajax({
            url: '@Url.Action("GetInfo", "DivisiveConfiguaration")',
            type: 'post',
            data: { assignSubjectId: assignSubjectId },
            success: function (data) {
                $("#SubjectID_Edit option[value= " + data.subjectId + "]").attr("selected", "selected");
                $('#divisiveSubjectName_Update').val(data.divisiveSubject);
                $('#subjectId_Old').val(data.subjectId);

                $('#groupBox').find('span[id^="span_"]').css("display", "none");
                $('#groupBox').find('input[name^="UpdateSubject_"]').attr("checked", false);
                var arrSubjectImport = '';


                $.each(data.lstEducationIdBD, function (index, valDb) {
                    var item = 'span[id="span_' + valDb.EducationLevel + '"]';
                    var nameCheck = 'input[name="UpdateSubject_' + valDb.EducationLevel + '"]';
                    $('#groupBox').find(item).css("display", "");
                    $('#groupBox').find(nameCheck).attr("checked", false);
                });

                $.each(data.lstEducationId, function (index, val) {
                    var nameCheck = 'input[name="UpdateSubject_' + val + '"]';
                    $('#groupBox').find(nameCheck).attr("checked", true);
                    arrSubjectImport += val + ',';
                });
                $("#arrEducationId_Update").val('');
                $("#arrEducationId_Update").val(arrSubjectImport);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function LoadSubject_Edit() {
        var subjectId = $('#SubjectID_Edit').val();
        if (subjectId > 0) {
            $.ajax({
                url: '@Url.Action("GetEducationIdBySubjectID", "DivisiveConfiguaration")',
                type: 'post',
                data: { subjectId: subjectId },
                success: function (data) {
                    $('#groupBox').find('span[id^="span_"]').css("display", "none");
                    $('#groupBox').find('input[name^="UpdateSubject_"]').attr("checked", false);
                    var arrSubjectImport = '';
                    $("#arrEducationId_Update").val('');
                    $.each(data.lstEduInSubject, function (index, val) {
                        var item = 'span[id="span_' + val.EducationLevel + '"]';
                        var nameCheck = 'input[name="UpdateSubject_' + val.EducationLevel + '"]';
                        $('#groupBox').find(item).css("display", "");
                        $('#groupBox').find(nameCheck).attr("checked", true);
                        arrSubjectImport += val.EducationLevel + ',';
                    });
                    $("#arrEducationId_Update").val(arrSubjectImport);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $('#groupBox').find('span[id^="span_"]').css("display", "");
            $('#groupBox').find('input[name^="UpdateSubject_"]').attr("checked", true);
            changeEducationUpdate();
        }
    }

    function changeEducationUpdate() {
        var arrSubjectImport = '';
        $('#arrEducationId_Update').val(arrSubjectImport);
        $(".classEducationEdit").each(function () {
            var chcked = $(this).is(":checked");
            if (chcked) {
                arrSubjectImport += $(this).val() + ',';
            }
        });
        $("#arrEducationId_Update").val(arrSubjectImport);
    }

    function CancelPopup_Update() {
        smas.closeDialog('EditDivisive');
        LoadData();
    }

    function SetValueHidden() {
        if ($('#SubjectID_Edit').val() == null || $('#SubjectID_Edit').val() == '') {
            $('#SubjectID_Edit').focus();
            smas.alertColor('Thầy/cô chưa chọn môn học', 'red');
            return;
        }
        if ($('#divisiveSubjectName_Update').val() == null || $('#divisiveSubjectName_Update').val() == '') {
            $('#divisiveSubjectName_Update').focus();
            smas.alertColor('Thầy/cô chưa nhập tên phân môn', 'red');
            return;
        }
        if ($('#arrEducationId_Update').val() == null || $('#arrEducationId_Update').val() == '') {
            $('.ListOptionImport').focus();
            smas.alertColor('Thầy/cô chưa chọn khối áp dụng', 'red');
            return;
        }
        $('#btnSubmitFromUpdate').click();
    }

    function OnComplete() {
        smas.hideProcessingDialog();
    }

    function SaveSuccess(e) {
        smas.hideProcessingDialog();

        if (e.Type == 'success') {
            smas.alert(e.Message);
            CancelPopup_Update();
        }
        else
            smas.alertColor(e.Message, 'red');
    }

    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
