﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.DeclareEvaluationIndexArea.Models
@using SMAS.Web.Areas.PupilProfileReportArea
@using (Ajax.BeginForm("SearchforCB1",
                           "DeclareEvaluationIndex",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "listResult",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" id="PupilOfClassReportID">
        <div class="vt-SearchPanel-Content">
            <div class="row p-t-10">
                <div class="col-md-6">
                @Html.ViettelCombobox(Res.Get("HealthTestReport_Label_EducationLevel"), "EducationLevelID",(IEnumerable<SelectListItem>)ViewData["Evaluation"], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "LoadEvaluationGroup();" }, { "style", "width:100%" } }, false, false)                  
               </div>
                <div class="col-md-6">
                 @Html.ViettelCombobox(Res.Get("EvaluationDevelopmentGroupName"), "EvaluationGroupID", (IEnumerable<SelectListItem>)ViewBag.ClassID, SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { {"onchange", "LoadGrid();"}, {"enable","enable"} }, true, false)
                </div>
            </div>
                 <div id="stringWarning" style="color:red;"></div>
        </div>       
        <input type="submit" style="display:none" />
       
    </div>
}
<script>
     
    //load gird va cb2 khi onchange cb1
    function LoadEvaluationGroup() {
        var chk = true;
        var eduId = $("#PupilOfClassReportID #EducationLevelID").val();      
        $('#EvaluationGroupID').removeAttr('disabled');
        $.ajax({
            url: '@Url.Action("LoadEvaluationGroup", "DeclareEvaluationIndex")',
            type: 'post',
            data: { eduId: eduId },
            success: function (data) {            
                $("#EvaluationGroupID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                $.each(data, function (index, value) {
                    $('#EvaluationGroupID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {                    
                smas.alert(XMLHttpRequest.responseText);
            }
        });

        // load Gird khi reload cb1 
        $.ajax({
            url: '@Url.Action("SearchforCB1", "DeclareEvaluationIndex")',
            type: 'post',
            data: { EducationLevelID: eduId },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
                $("#listResult").html(msg);
                setTimeout(function () { controlUtils.AddMoveButtonEvent("#Grid"); }, 500);
            },
        });        
    }

    function LoadGrid() {
        var eduId = $("#PupilOfClassReportID #EducationLevelID").val();
        var eduEvaId = $("#PupilOfClassReportID #EvaluationGroupID").val();
        $.ajax({
            url: '@Url.Action("SearchforCB2", "DeclareEvaluationIndex")',
             type: 'post',
             data: { EducationLevelID: eduId, eduEvaId: eduEvaId },
             beforeSend: function () {
                 smas.showProcessingDialog();
             },
             success: function (msg) {
                 smas.hideProcessingDialog();
                 $("#listResult").html(msg);
                 setTimeout(function () { controlUtils.AddMoveButtonEvent("#Grid"); }, 500);
             },
         });
    }
</script>




