﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="hehe">

</div>
<script>
    function checkStatus() {
        $("#hehe").load("/ReportEmisGraduationResultArea/GraduationResult/Status?hehe=1");
    }
    var holdTheInterval = setInterval(checkStatus, 2000); 
</script>