﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilGraduationArea.Models
@using SMAS.Web.Areas.PupilGraduationArea
@using SMAS.Business.Common
@{    
    var index = 1;
    GlobalInfo glo = new GlobalInfo();
    List<SMAS.Business.BusinessObject.PupilGraduationBO> LSTPUPILGRADUATION = ViewData[PupilGraduationConstants.LIST_PUPILGRADUATION] as List<SMAS.Business.BusinessObject.PupilGraduationBO>;
    int permission = (int)ViewData[PupilGraduationConstants.GRADUATION_PERMISSION];
    bool enableSave = permission >= SMAS.Business.Common.SystemParamsInFile.PERMISSION_LEVEL_CREATE && glo.IsCurrentYear;
    bool enableDelete = permission >= SMAS.Business.Common.SystemParamsInFile.PERMISSION_LEVEL_DELETE && glo.IsCurrentYear;
}
<p style="color: green; font-style: italic">
    @Res.Get("PupilGraduation_Lable_WarrningMessage")
</p>
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            Tìm thấy @(LSTPUPILGRADUATION != null ? LSTPUPILGRADUATION.Count() : 0)
            kết quả
        </div>
        <div class="vt-ResultPanel-Title-Button">
        </div>
        <div class="Clear">
        </div>
    </div>
    @using (Ajax.BeginForm("Approve",
                       "PupilGraduation", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail",
                       },
                       new { id = "frmListGraduation" }
                       ))
    {
        @Html.AntiForgeryToken()
        Html.Telerik()
        .Grid((IEnumerable<SMAS.Business.BusinessObject.PupilGraduationBO>)ViewData[PupilGraduationConstants.LIST_PUPILGRADUATION])
        .Name("GridPupilGraduation")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Template(@<text><center>
                                                         @*<input name="PupilGraduations" type="checkbox" value="@item.PupilID" typecheck="checkbox" onclick="selectOne()" onkeypress="return runScript(event)" @(!item.ConductLevelID.HasValue || !item.CapacityLevelID.HasValue || (item.IsReceived.HasValue && item.IsReceived.Value == SystemParamsInFile.GRADUAION_RECEIVED) ? Html.Raw("disabled='disabled'") : Html.Raw("checked='checked'"))/>*@
                                                         <input name="PupilGraduations" type="checkbox" value="@item.PupilID" typecheck="checkbox" onclick="selectOne()" onkeypress="return runScript(event)" @(item.chkDisabled || (item.IsReceived.HasValue && item.IsReceived.Value == SystemParamsInFile.GRADUAION_RECEIVED) ? Html.Raw("disabled='disabled'") : Html.Raw("checked='checked'"))/>
                                                     </center></text>).ClientTemplate("<input name='PupilGraduations'   type='checkbox' value=''  typecheck='checkbox' onclick='selectOne()' onkeypress='return runScript(event)'/>")
                            .HeaderTemplate(@<text><input type="checkbox" id="chkAll" checked="checked" typecheck="checkboxAll"
                                                                         onclick="selectOneCol()" onkeypress="return runScript(event)" /></text>).Width(30).HeaderHtmlAttributes(new { style = "text-align: center" }).HtmlAttributes(new { style = "text-align: center" });
            c.Bound(o => o.PupilCode).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilProfile_Label_PupilCode")).Width(120);
            c.Bound(o => o.FullName).HeaderHtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilProfile_Label_FullName")).Sortable(false).Width(150);
            c.Bound(o => o.ClassName).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("ClassProfile_Label_AllTitle")).Width(60);
            c.Bound(o => o.CapacityLevel).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilGraduation_Label_CapacityLevel")).Width(60);
            c.Bound(o => o.ConductLevel).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilGraduation_Label_ConductLevel")).Width(60);
            c.Bound(o => o.AbsentDays).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align: right" }).Title(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("PupilGraduation_Label_CountAbsence"), 2)).Width(60);
            c.Template(@<text><center>
                                                         <input name="chkExemptions" @(!string.IsNullOrEmpty(item.ExemptionResolution) ? Html.Raw("checked='checked'") : null)  type="checkbox" value="@item.PupilID" onclick="fn_chkExemptionClick(this)" @(item.chkDisabled || (item.IsReceived.HasValue && item.IsReceived.Value == SystemParamsInFile.GRADUAION_RECEIVED) ? Html.Raw("disabled='disabled'") : null)/>
                                                     </center></text>).ClientTemplate("<input name='chkExemptions' type='checkbox' value='' onclick='fn_chkExemptionClick(this)' />").HeaderTemplate(@<text>@Res.Get("PupilGraduation_Label_Exemption")<br />
        <input type="checkbox" id="ExemptionAll" onclick='fn_ExemptionAllClick(this)' /></text>).Width(80);
            c.Template(@<text><center>
                                                         <input type="text" name="@("exemption_" + item.PupilID)" style="width:100px;text-align:left;word-spacing:normal;" maxlength = "200" value="@item.ExemptionResolution" ref="@item.PupilID" @(item.chkDisabled || (item.IsReceived.HasValue && item.IsReceived.Value == SystemParamsInFile.GRADUAION_RECEIVED) || string.IsNullOrEmpty(item.ExemptionResolution) ? Html.Raw("disabled='disabled'") : null) onchange="fn_ExemptionChanged(this)" />
                                                     </center></text>).ClientTemplate("<input type='text' name='Exemption_' style='width:100px;text-align:left;word-spacing:normal;' maxlength = '200' ref='' onchange='fn_ExemptionChanged(this)'/>").Title(Res.Get("PupilGraduation_Label_ExemptionResolution")).Width(150);
            c.Bound(o => o.MeritPoints).Format("{0:#.#}").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:right" }).Title(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("PupilGraduation_Label_MeritPoint"), 1)).Width(50);
            c.Bound(u => u.StatusString).Width(80).Title(Res.Get("PupilGraduation_Label_Status")).Width(200);
            c.Bound(o => o.Description).HeaderHtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilGraduation_Label_Description")).Sortable(false).Width(400);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnRowDataBound("fn_OnRowDataBound"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Scrollable(o => o.Enabled(true).Height(500))
        .Resizable(u => u.Columns(true))
        .Selectable()
        .Render();
        @Html.ViettelHiddenFor(u => u.ClassID)
        @Html.ViettelHiddenFor(u => u.FullName)
        @Html.ViettelHiddenFor(u => u.PupilCode)
        <div class="vt-ResultPanel-Footer text-right">
                @if (enableDelete)
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "return DeleteOnChange()", "btn btn-info btn-icon btn-round btn-icon-times")
                }
                @if (enableSave)
                {
                    @Html.ViettelButton(Res.Get("Common_Button_XetDuyet"), "submit", "return ApproveOnChange()", "btn btn-info btn-round")
                }
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "button", "ExportExcel()", "btn btn-info btn-icon btn-round btn-icon-excel", "btnExportExcel")
            <div class="Clear">
            </div>
        </div>
        <div class="dialog-buttons">
        </div>
    }
</div>
<script type="text/javascript">
    var lstInd = 0;

    function fn_ExemptionAllClick(e) {
        if (e.checked) {
            $("#GridPupilGraduation").find("input:enabled:checkbox[name='chkExemptions']").attr('checked', 'checked');
            //$("#GridPupilGraduation").find("input:text").removeAttr('disabled');
            $("#GridPupilGraduation").find("input:text").each(function (index, item) {
                if ($(item).closest("tr").find("input:checkbox:enabled[name='chkExemptions']").length > 0)
                    $(item).removeAttr("disabled");
            });
        } else {
            $("#GridPupilGraduation").find("input:enabled:checkbox[name='chkExemptions']").removeAttr('checked');
            //$("#GridPupilGraduation").find("input:text").attr('disabled', 'disabled');
            $("#GridPupilGraduation").find("input:text").each(function (index, item) {
                if ($(item).closest("tr").find("input:checkbox:enabled[name='chkExemptions']").length > 0)
                    $(item).attr("disabled", "disabled");
            });
        }
    }

    function selectOne() {
        var check = $("#GridPupilGraduation").find("input:checkbox:enabled:checked[typecheck='checkbox']").length;
        var checkAll = $("#GridPupilGraduation").find("input:checkbox:enabled[typecheck='checkbox']").length;
        if (check == checkAll) {
            $('input[typecheck=checkboxAll]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll]').attr('checked', false);
        }
    }

    function selectOneCol() {
        var chk = $('#chkAll');
        if ($(chk).is(':checked')) {
            $('input:enabled[typecheck=checkbox]').attr('checked', true);
        }
        else {
            $('input:enabled[typecheck=checkbox]').attr('checked', false);
        }
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }

    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }

    function ApproveOnChange() {
        if ($("#frmListGraduation").find("input:checkbox:checked[name='PupilGraduations']").length == 0) {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Validate_NoPupilSelected")' });
            return false;
        }

        var checkExemptReason = true;

        $.each($("#frmListGraduation").find("input:checkbox:checked[name='chkExemptions']"), function (index, item) {
            var pupilID = $(item).val();
            var txtReason = $("#frmListGraduation").find("input:text[ref='" + pupilID + "']").val();
            txtReason = txtReason.replace(/\s/g, '');
            if (txtReason == '')
                checkExemptReason = false;
        });

        if (!checkExemptReason) {
            smas.alert({ Type: "error", Message: '@Res.Get("PupilGraduation_Label_InvalidExemptionReason")' });
            return false;
        }
    }

    function DeleteOnChange() {
        if ($("#frmListGraduation").find("input:checkbox:checked[name='PupilGraduations']").length == 0) {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Validate_NoPupilSelected")' });
            return false;
        }

        smas.confirm('@Html.Raw(Res.Get("Area_Confirm_Delete"))', function () {
            var postData = [];
            $("#frmListGraduation").find("input:checkbox:checked:enabled[name='PupilGraduations']").each(function () {
                postData.push($(this).val());
            });
            $.ajax({
                url: '@Url.Action("Delete", "PupilGraduation")',
                type: 'post',
                data: { "PupilIDs": postData },
                traditional: true,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.alert(msg);
                    if (msg.Type == "success") {
                        $("#ApproveSearchButtonVisible").click();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        });
    }

    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function fn_chkExemptionClick(checkbox) {
        if (checkbox.checked) {
            $("#frmListGraduation").find("input[type='text'][name='exemption_" + checkbox.value + "']").removeAttr('disabled');
        } else {
            $("#frmListGraduation").find("input[type='text'][name='exemption_" + checkbox.value + "']").attr('disabled', 'disabled');
        }

        if ($("#frmListGraduation").find("input:checkbox:enabled:checked[name='chkExemptions']").length == $("#frmListGraduation").find("input:checkbox:enabled[name='chkExemptions']").length) {
            $("#ExemptionAll").attr("checked", "checked");
        }
        else {
            $("#ExemptionAll").removeAttr("checked");
        }
    }

    function fn_ExemptionChanged(elm) {
        if (elm.value.replace(/\s/g, '').length == 0) {
            $("#frmListGraduation").find("input:checkbox[name='chkExemptions'][value='" + $(elm).attr("ref") + "']").removeAttr('checked');
            $(elm).attr("disabled", "disabled");
        }
    }

    //hath8
    function ExportExcel() {
        var ClassID = $("#frmSearch #ClassID").val();
        var PupilCode = $("#frmSearch #idPupilCode").val();
        var FullName = $("#frmSearch #idFullName").val();
        window.open('@Url.Action("ExportExcel", "PupilGraduation")' + '?ClassID=' + ClassID
        + '&PupilCode=' + PupilCode + '&FullName=' + FullName);
    }
</script>
