﻿@model TransactionQueryModel

@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Controllers
@using SMS_SCHOOL.Utility.Common

@if (!string.IsNullOrEmpty(ViewBag.FatalError))
{
    <p class="message-of-error">@Html.Raw(ViewBag.FatalError)</p>
    return;
}
@if (ViewBag.queryResult != null)
{
    List<EwalletTransactionBO> transactionsInPage = ViewBag.queryResult as List<EwalletTransactionBO>;
    int totalTransaction = ViewBag.totalTransaction is int ? (int)ViewBag.totalTransaction : transactionsInPage.Count;
    int pageSize = Model.pagesize;
    int page = Model.page;
    <br />
    <div class="vt-ResultPanel">
 <!--       <div class="vt-ResultPanel-Title">
            <div class="vt-ResultPanel-Title-Message">
                 Tìm thấy @(totalTransaction) kết quả
            </div>

            <div class="Clear">
            </div>
        </div>
-->

        @{

    RouteValueDictionary routeValues = new RouteValueDictionary(5);
    string pageField = StaticReflection.GetMemberName<TransactionQueryModel>(m => m.page);
    routeValues.Add(pageField, Model.page);
    string pagesizeField = StaticReflection.GetMemberName<TransactionQueryModel>(m => m.pagesize);
    routeValues.Add(pagesizeField, Model.pagesize);
    string orderbyField = StaticReflection.GetMemberName<TransactionQueryModel>(m => m.orderby);
    routeValues.Add(orderbyField, Model.orderby);
    string fromdateField = StaticReflection.GetMemberName<TransactionQueryModel>(m => m.fromdate);
    routeValues.Add(fromdateField, Model.fromdate.HasValue ? Model.fromdate.Value.ToString() : "");
    string todateField = StaticReflection.GetMemberName<TransactionQueryModel>(m => m.todate);
    routeValues.Add(todateField, Model.todate.HasValue ? Model.todate.Value.ToString() : "");
    int index = pageSize * (page - 1);

    Html.Telerik().Grid<EwalletTransactionBO>(transactionsInPage)
    .Name("queryResult")
    .Columns(cbuilder =>
    {
        cbuilder.Template(@<text>@(++index)</text>)
            .ClientTemplate("<#= lstInd++ #>")
            .HtmlAttributes(new { style = "text-align:center;" }).Width(40)
            .Title("STT");

        cbuilder.Template(m => m.TransactionDateTime.ToString("dd/MM/yyyy HH:mm"))
            .ClientTemplate("<#= dateUtils.convertDateTime(TransactionDateTime,'dd/MM/yyyy hh:mm') #>")
            .HtmlAttributes(new { style = "text-align:center;" }).Width(120)
            .Title("Ngày giao dịch");

        cbuilder.Template((@<text>
                @{
                    if (item.TransTypeID == GlobalConstantsEdu.TRANSACTION_TYPE_AMOUNT_PLUS_TOPUP)
                    {
                        if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_AMOUNT_PLUS_BP)
                        {
                            @Res.Get("GD nạp tiền qua Bankplus")
                        }
                        else
                        { 
                            @Res.Get("GD nạp thẻ")
                        }
                    }
                    else if (item.TransTypeID == GlobalConstantsEdu.TRANSACTION_TYPE_AMOUNT_SUB)
                    {
                        @Res.Get("GD thanh toán")
                    }
                }
        </text>)).HtmlAttributes(new { style = "text-align:center;" })
            .ClientTemplate("<#= fillTransactionName(TransTypeID, ServiceType) #>").Width(140)
           .Title("Loại giao dịch");

        cbuilder.Template
             (@<text>
                @{
                    if (item.TransTypeID == GlobalConstantsEdu.TRANSACTION_TYPE_AMOUNT_PLUS_TOPUP)
                    {
                        if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_AMOUNT_PLUS_BP)
                        {
                            @Res.Get("Số tiền: " + item.TransactionAmount.ToString("#,##0.#") + " VNĐ")
                        }
                        else
                        {
                            @Res.Get("Số thẻ: " + item.CardSerial + ". Số tiền: " + item.TransactionAmount.ToString("#,##0.#") + " VNĐ")
                        }
                    }
                    else if (item.TransTypeID == GlobalConstantsEdu.TRANSACTION_TYPE_AMOUNT_SUB)
                    {
                        if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_TECHER)
                        {
                            <span>
                                Gửi tin nhắn cho giáo viên, số lượng @item.Quantity.ToString() SMS. <br>
                                Số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                            </span>
                        }
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_REGIS_CONTRACT)
                        {
                            if (item.TransactionAmount > 0)
                            {
                                <span>
                                    Đăng ký dịch vụ SLLĐT, số lượng @item.Quantity thuê bao, <br>
                                    số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                                </span>
                            }
                            else
                            {
                                <span>
                                Đăng ký dịch vụ SLLĐT, số lượng @item.Quantity thuê bao, <br>
                                số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ (trả chậm hoặc đăng ký gói cước miễn phí)
                            </span>
                            }
                        }
                        //20150702 - Bổ sung luồng gửi tin từ Phòng/Sở
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_SCHOOL)
                        {
                            <span>
                                Gửi tin nhắn cho trường, số lượng @item.Quantity.ToString() SMS. <br>
                                Số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                            </span>
                        }
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_DEPARTMENT)
                        {
                            <span>
                                Gửi tin nhắn cho phòng ban, số lượng @item.Quantity.ToString() SMS. <br>
                                Số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                            </span>
                        }
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_CHECKOUT_DEFERRED_PAYMENT)
                        {
                            <span>
                                Thanh toán nợ cước SLLĐT, số lượng @item.Quantity thuê bao,
                                số tiền @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                            </span>
                        }
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_BRANDNAME_PAYMENT)
                        {
                            <span>
                                @item.Description
                            </span>
                        }
                        else if (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_BUY_EXTRA)
                        {
                             <span>
                                    Mua thêm tin nhắn dịch vụ SLLĐT, số lượng @item.Quantity thuê bao, số tiền: @((item.BalanceBefore - item.BalanceAfter).ToString("#,##0.#")) VNĐ
                                </span>
                        }
                    }
}
            </text>)
                   .ClientTemplate("<#= fillTypeTrans(TransTypeID, ServiceType, CardSerial, TransactionAmount, Quantity, BalanceBefore, BalanceAfter) #>")
                   .HtmlAttributes(new { style = "text-align:left;" }).Width(280)
                   .Title("Nội dung giao dịch");

        cbuilder.Template
            (@<text>
                @{
                    @Res.Get((item.BalanceAfter - item.BalanceBefore).ToString("#,##0.#"))
                }
            </text>)
                    .ClientTemplate("<#= fillTranAmount(BalanceAfter, BalanceBefore) #>")
                    .HtmlAttributes(new { style = "text-align:right;" }).Width(80)
                    .Title("Số tiền (VNĐ)");

        cbuilder.Template
             (@<text>@{
                    @Res.Get(
                        item.TransTypeID == GlobalConstantsEdu.TRANSACTION_TYPE_AMOUNT_SUB ? 
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_TECHER ? "Tin nhắn GV" : 
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_SCHOOL ? "Tin nhắn cho trường" : 
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_SENT_TO_DEPARTMENT ? "Tin nhắn cho phòng ban" : 
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_REGIS_CONTRACT ? "SLLĐT" : 
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_CHECKOUT_DEFERRED_PAYMENT ? "SLLĐT" :
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_BUY_EXTRA ? "SLLĐT" :
                        (item.ServiceType == GlobalConstantsEdu.SERVICE_TYPE_BRANDNAME_PAYMENT ? "Brandname" : string.Empty))))))) : string.Empty)
            }

            </text>)
                   .ClientTemplate("<#= fillTypeOfEW(TransTypeID, ServiceType) #>")
                   .HtmlAttributes(new { style = "text-align:center;" }).Width(80)
                   .Title("Dịch vụ");
    })
           .DataBinding(dataBinding => dataBinding.Ajax().Select("CustomBinding", "Transaction"))
           .Pageable(p => p.PageSize(PaymentConstants.PAGESIZE_TRANSACTIONS).Total(totalTransaction).PageTo(page))
           .ClientEvents(e => e.OnDataBinding("clientDataBind").OnDataBound("clientDataBound").OnLoad("clientDataBound"))
           .EnableCustomBinding(true)
           .Scrollable(c => c.Enabled(true).Height("auto"))
           .Render();
        }
    </div>
}

<script type="text/javascript">
    $((function ($) {

        $("[data-val-date-localization]").each(function () {
            $(this).attr("data-val-date", $(this).attr("data-val-date-localization"));
        });
        ///////////////////////////////////////////////////////////////////////////////
        $(".field-validation-error").each(function () {
            var newInnerHTML = "<span>" + $(this).text() + "</span>";
            $(this).html(newInnerHTML);
        });

    })(jQuery));
</script>

<script type="text/javascript">
    var lstInd = 0;
    $(function () {
        var dateFormat = "dd/mm/yy";
        $.validator.addMethod(
            'date',
            function (value, element, params) {
                if (this.optional(element)) {
                    return true;
                };
                var result = false;
                try {
                    $.datepicker.parseDate(dateFormat, value);
                    result = true;
                } catch (err) {
                    result = false;
                }
                return result;
            },
            ''
        );
    });

    function clientDataBind(e) {
        smas.showProcessingDialog();

        var FromDate = $('#fromdate').val();
        var ToDate = $('#ToDate').val();
        var TypeID = $('#transTypeID').val();
        var grid = $('#queryResult').data('tGrid')

        FromDate = dateUtils.ConvertDateUS(FromDate);
        ToDate = dateUtils.ConvertDateUS(ToDate);
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = { fromDate: FromDate, toDate: ToDate, transTypeID: TypeID };
    }

    function clientDataBound() {
        smas.hideProcessingDialog();
    }

    ///////////////////// FILL DATA \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    function fillTransactionName(TransTypeID, ServiceType) {
        var htmlContent = [];
        if (TransTypeID == 1) {
            if (ServiceType == 2) {
                htmlContent.push("GD nạp tiền qua Bankplus");
            } else {
                htmlContent.push("GD nạp thẻ");
            } 
        }
        else if (TransTypeID == 2) {
            htmlContent.push("GD thanh toán");
        }
        return htmlContent;

    }
    function fillTypeTrans(TransTypeID, ServiceType, CardSerial, TransactionAmount, Quantity, BalanceBefore, BalanceAfter) {
        var htmlContent = [];
        var msg_DeferredPayment = '';
        if (TransactionAmount == 0) {
            msg_DeferredPayment = '(trả chậm hoặc đăng ký gói cước miễn phí)';
        }
        if (TransTypeID == 1) {
            if (ServiceType == 2) {
                htmlContent.push("Số tiền: " + TransactionAmount + " VNĐ");
            } else {
                htmlContent.push("Số thẻ: " + CardSerial + ". Số tiền: " + TransactionAmount + " VNĐ");
            }
        }
        if (TransTypeID == 2) {
            if (ServiceType == 1) {
                htmlContent.push("Gửi tin nhắn cho giáo viên, số lượng " + Quantity + " SMS. " + "<br>Số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ");
            }
            else if (ServiceType == 2)  {
                htmlContent.push("Đăng ký dịch vụ SLLĐT, số lượng " + Quantity + " thuê bao, " + "<br>số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ " + msg_DeferredPayment);
            }
            else if (ServiceType == 3) {
                htmlContent.push("Gửi tin nhắn cho trường, số lượng " + Quantity + " SMS. " + "<br>Số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ");
            }
            else if (ServiceType == 4) {
                htmlContent.push("Gửi tin nhắn cho phòng ban, số lượng " + Quantity + " SMS. " + "<br>Số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ");
            }
            else if (ServiceType == 5) {
                htmlContent.push("Thanh toán nợ cước SLLĐT, số lượng " + Quantity + " thuê bao, " + "số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ");
            }
            else if (ServiceType == 7) {
                htmlContent.push("Mua thêm tin nhắn dịch vụ SLLĐT, số lượng " + Quantity + " thuê bao, " + "số tiền: " + (BalanceBefore - BalanceAfter).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") + " VNĐ ");
            }
        }
        return htmlContent;
    }

    function fillTranAmount(BalanceAfter, BalanceBefore) {
        var htmlContent = [];
        var tmp = (BalanceAfter - BalanceBefore).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        htmlContent.push(tmp);
        return htmlContent;
    }

    function fillTypeOfEW(TransTypeID, ServiceType) {
        var htmlContent = [];
        if (TransTypeID == 2) {
            if (ServiceType == 1) {
                htmlContent.push("Tin nhắn GV")
            }
            else if (ServiceType == 2 || ServiceType == 5) {
                htmlContent.push("SLLĐT")
            }
            else if (ServiceType == 3) {
                htmlContent.push("Tin nhắn cho trường")
            }
            else if (ServiceType == 4) {
                htmlContent.push("Tin nhắn cho phòng ban")
            }
        }
        return htmlContent;
    }
</script>