﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
    <fieldset>
        <div style="text-align:center;padding-top:15px;" id="dialogForm">
            <div style="float:left;width:391px;padding-top:4px;margin-left: 240px;">
            @Html.ViettelTextbox(Res.Get("PrimaryJudgeRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { }, false,false)
            </div>
            <div style="float:left;">
                @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "PupilAbsence")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport")
            .OnUpload("OnImportUpload")
            .OnSuccess("OnImportSuccess")
            .OnError("OnImportError")
)
)
        </div>
                <div style="clear:both;"></div>
                <div style="text-align:center;">
               <span id="errorPanel" style="color:Red;font-weight:bold;"></span>
                    
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
            <div style="text-align:center;">
                <a href="javascript:exportFile()"> @Res.Get("Mẫu Import Chặn Cắt") </a> 
            </div>
            <div style="clear:both;"></div>
           <div style="text-align:center;padding-top:3px;">
           @Html.ViettelButton(Res.Get("Chặn cắt"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
           </div>
        </fieldset>
    <script type="text/javascript">
        function exportFile() {
            window.open("/DeactiveSMSTeacherContractArea/DeactiveSMSTeacherContract/ExportFile");
        }

        $(document).ready(function () {
            $(".btnUploaderCss").find('span:first').text('Browse').attr("style", "text-align:center");
            // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        });
        var _intervalId;
        var error = false;
        function OnSelectImport(e) {
            var files = e.files;
            // alert(files[0].name);
            $("#txtFilePath").val(files[0].name);
            _intervalId = setInterval("hideUploadButton();", 10);
        }
        function hideUploadButton() {
            // Try and find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Hide it.
                button.css({
                    visibility: 'hidden',
                    position: 'absolute'
                });

                // Terminate the interval.
                clearInterval(_intervalId);

                // Enable the OK button.
                $('#btImport').removeAttr('disabled');
                $('#btImport').removeClass('t-state-disabled');
            } else {
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
            }
        }
        function OnImportUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            var SectionId = $("#SectionId").val();
                            var classid = $("#ClassId").val();
                            var date = $("#AbsentDate").val();

                            var dataInput = { Section: SectionId, ClassID: classid, AbsentDate: date };
                            e.data = dataInput;
                            return true;
                        }
                        smas.alert("Dung lượng file excel không được lớn hơn 1MB")
                        error = true;
                        e.preventDefault();
                        return false;
                    }
                } else {
                    smas.alert("File không đúng định dạng")
                    error = true;
                    $('#btImport').attr('disabled');
                    $('#btImport').addClass('t-state-disabled');
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                if (file.size > 0) {
                    var info = " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function OnImportButtonClick() {
            // Find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Click it.
                button.click();
                if (!error) {
                    smas.showProcessingDialog();
                }
            }

        }

        function OnImportSuccess(e) {
            smas.hideProcessingDialog();
            if (e.response.Type == "success") {
                smas.alert(e.response.Message);
                $("#errorPanel").val("");
                AjaxLoadListPupilAbsence();
                setTimeout('smas.closeDialog("importDialog");smas.hideProcessingDialog();', 500);
            }
            else if (e.response.type == "ViewError") {
                $.ajax({
                    url: '@Url.Action("GetViewListToImport", "PupilAbsence")',
                    data: { ClassID: e.response.ClassID, Section: e.response.Section },
                    success: function (msg) {
                        $("#dvChooseAction").html(msg);
                        smas.hideProcessingDialog();
                    }
                });

                setTimeout('smas.openDialog("ChooseActionDialog", "", {});', 200);
            }
            else {
                formUtils.resetForm("importDialog");
                $("#errorPanel").html(e.response.success);

            }


        }
        function OnImportError(e) {
            //smas.hideProcessingDialog();
            smas.alert(e);
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    </script>

   <style>
    .btnUploaderCss span
    {
        padding-right:20px;
    }
    .t-widget.t-upload.newclass .t-button.t-upload-selected<br>
    {
        display:none;
    }
    .t-dropzone
    {
        width:65px;
        height:15px;
    }
    #dialogForm .editor-label
    {
        width:170px !important;
    }
    </style>