﻿@model PupilRankingViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilRankingArea.Models
@using SMAS.Web.Areas.PupilRankingArea
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
<input type="hidden" id="message" value="@ViewData[PupilRankingConstants.MESSAGE_ERROR]" />
<div style="display: none; background: #FFEDED; border: 1px solid #F27C7C" id="divMessageSupport">
    <div style="margin: 5px;">
        @Html.Raw(Res.Get("PupilRanking_Label_ExitsPupilNotCapacity_Support"))
    </div>
</div>
@*<div id="divnote">
       <div style="text-transform: uppercase; text-align: center; font-weight: bold; padding: 10px;
        border: 1px solid #71BFD2; padding-top: 5px; padding-bottom: 5px; margin-top: -7px;">
        @ViewData["TitleSearch"].ToString().ToUpper()
    </div>
    <div style="text-align: right; margin-top: 10px; color: red;">
        @Res.Get("PupilRanking_Label_Notification")
    </div>
    <div class="Clear">
    </div>
 
</div>*@
@using (Html.BeginForm("Create", "PupilRanking", FormMethod.Post, new { id = "frmCreatPupilRanking" }))
{
    {
        <div class="text-right mg-t-10 mg-b-10">
            @if (!string.IsNullOrEmpty(ViewData[PupilRankingConstants.DISABLESAVEBTN].ToString()))
            {
                if (bool.Parse(ViewData[PupilRankingConstants.DISABLESAVEBTN].ToString()) == false)
                {
                @Html.ViettelButton(Res.Get("PupilRanking_Button_Ranking"), "button", "SubmitFromCreatPupilRanking();", "btn btn-info btn-round btn-icon btn-icon-save", "btnCreatPupilRanking")
                }
            }
        </div>
        var index = 1;
        Html.Telerik()
            .Grid((List<PupilRankingBO>)ViewData[PupilRankingConstants.LIST_PUPILRANKING])
            .Name("GridClassEmulation")
            .Columns(c =>
            {
                if (int.Parse(ViewData["AppliedLevel"].ToString()) == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY)
                {
                    c.Template(@<text>@(index++)</text>).HeaderTemplate(@<text> @Res.Get("Common_Column_Order")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(20);
@*c.Template(@<text><span style="color: @item.ColorDisplay">@item.PupilCode</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_PupilCode")</text>).Width(70);*@
                    c.Template(@<text><span style="color: @item.ColorDisplay">@item.FullName</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_FullName")</text>).Width(50);
                    c.Template(@<text><span style="color: @item.ColorDisplay">@(String.Format("{0:dd/MM/yyyy}", item.BirthDate))</span></text>).HeaderTemplate(@<text>
    @Res.Get("PupilRanking_Label_BirthDay")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                    c.Template(@<text><span style="color: @item.ColorDisplay">@item.GenreDetail</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_Gender")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.ConductLevelName
                        }</span></text>)
                    .HtmlAttributes(new { style = "text-align:center" })
                    .HeaderTemplate(@<text>@Res.Get("PupilRanking_Lable_ConductLevel")</text>).Width(40);

                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.ToTalAbsentDay
                        }
                    </span></text>)
                    .HeaderTemplate(@<text>@Res.Get("PupilRanking_Lable_ToTalAbsentDay")</text>).HtmlAttributes(new { style = "text-align:right" }).Width(50);



                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.CapacityLevel
                        }</span></text>).HeaderTemplate(@<text>
                    @if (int.Parse(ViewData["AppliedLevel"].ToString()) == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY)
                    {
                        @Res.Get("PupilRanking_Lable_CapacityLevelII")
                    }
                    else
                    {
                        @Res.Get("PupilRanking_Lable_CapacityLevelI")
                    }</text>).Width(60);

                    c.Template(@<text><span style="color: @item.ColorDisplay">
                    @if (item.Enable.HasValue && item.Enable.Value)
                    {
                        @item.HonourAchivementTypeResolution
                    }</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_AchivementType")</text>).Width(60).Visible(bool.Parse(ViewData["EnableStudyingJudgement"].ToString()));


                    c.Template(@<text><span style="color: @item.ColorDisplay">
                    @if (item.Enable.HasValue && item.Enable.Value)
                    {
                        @item.StudyingJudgementResolution
                    }</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_StudyingJudgement")</text>).Width(40).Visible(bool.Parse(ViewData["EnableStudyingJudgement"].ToString()));

                    //c.Bound(o => o.StudyingJudgementResolution).Title(Res.Get("PupilRanking_Label_StudyingJudgement")).Width(40).Visible(int.Parse(ViewData["Semester"].ToString()) == SMAS.Web.Constants.GlobalConstants.SEMESTER_OF_YEAR_ALL);
                }


                else if (int.Parse(ViewData["AppliedLevel"].ToString()) == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_SECONDARY || int.Parse(ViewData["AppliedLevel"].ToString()) == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_TERTIARY)
                {
                    c.Template(@<text>@(index++)</text>).HeaderTemplate(@<text> @Res.Get("Common_Column_Order")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(20);
@*c.Template(@<text><span style="color: @item.ColorDisplay">@item.PupilCode</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_PupilCode")</text>).Width(70);*@
                    c.Template(@<text><span style="color: @item.ColorDisplay">@item.FullName</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_FullName")</text>).Width(60);
                    c.Template(@<text><span style="color: @item.ColorDisplay">@(String.Format("{0:dd/MM/yyyy}", item.BirthDate))</span></text>).HeaderTemplate(@<text>
                    @Res.Get("PupilRanking_Label_BirthDay")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                    c.Template(@<text><div style = "text-align:center"><span style="color: @item.ColorDisplay">@item.GenreDetail</span></div></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_Gender")</text>).Width(50);
                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.CapacityLevel
                        }
                    </span></text>).HeaderTemplate(@<text>
                    @if (int.Parse(ViewData["AppliedLevel"].ToString()) == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY)
                    {
                        @Res.Get("PupilRanking_Lable_CapacityLevelII")
                    }
                    else
                    {
                        @Res.Get("PupilRanking_Lable_CapacityLevelI")
                    }</text>).Width(60).HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center" });
                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.ConductLevelName
                        }
                    </span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Lable_ConductLevel")</text>).Width(40);

                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.ToTalAbsentDay
                        }
                    </span></text>)
                    .HeaderTemplate(@<text>@Res.Get("PupilRanking_Lable_ToTalAbsentDay")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(50);

                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.ToTalAbsentDay
                        }</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Lable_ToTalAbsentDay")</text>).Width(50).Visible(false).HtmlAttributes(new { style = "text-align:right" });
                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.HonourAchivementTypeResolution
                        }</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_AchivementType")</text>).Width(60);
                    c.Template(@<text><span style="color: @item.ColorDisplay">
                        @if (item.Enable.HasValue && item.Enable.Value)
                        {
                            @item.StudyingJudgementResolution}</span></text>).HeaderTemplate(@<text>@Res.Get("PupilRanking_Label_StudyingJudgement")</text>).Width(40).Visible(bool.Parse(ViewData["EnableStudyingJudgement"].ToString()));
                    //c.Bound(o => o.StudyingJudgementResolution).Title(Res.Get("PupilRanking_Label_StudyingJudgement")).Width(40).Visible(int.Parse(ViewData["Semester"].ToString()) == SMAS.Web.Constants.GlobalConstants.SEMESTER_OF_YEAR_ALL);
                }

            })
            .DataKeys(keys => keys.Add(o => o.PupilID))
            .Scrollable(o => o.Enabled(true).Height(400))
            .Resizable(o => o.Columns(true))
            .Selectable()
            .Render();
    }
    
    <div id="valueField">
    </div>
    <input type="hidden" id="txtclassid" name="txtclassid" value="@ViewData["ClassID"]" />
    <input type="hidden" id="txtsemester" name="txtsemester" value="@ViewData["Semester"]" />
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#valueField").html($("#hiddenPanel").html());
    });
    function SubmitFromCreatPupilRanking() {
        //BOOMR.plugins.RT.startTimer("PupilRanking");   //--> bắt đầu đo
        smas.showProcessingDialog();
        var datafrom = $("#frmCreatPupilRanking").serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "PupilRanking")',
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                smas.hideProcessingDialog();
                smas.alert(msg);
                if (msg.Type == "success") {
                    //BOOMR.plugins.RT.endTimer("PupilRanking");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                    LoadListPupilRankingAfter();
                    formUtils.focusForm("frmCreatPupilRanking");
                }
            }
        });
    }
    function LoadListPupilRankingAfter() {
        var classid = $("#ClassID").val();
        var semesterid = $("#Semester").val();
        
        if (classid > 0 && semesterid > 0 ) {
            $.ajax({
                url: '@Url.Action("Search", "PupilRanking")',
                type: 'post',
                data: { semesterid: semesterid, classid: classid },
                beforeSend: function () {
                    //BOOMR.plugins.RT.startTimer("PupilRankingSearch");   //--> bắt đầu đo
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#gridPupilRankingNew").html(msg);
                    $('#divSavePupilRanking').css('display', 'none');
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("PupilRankingSearch");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                    var _msg = $("#message").val();
                    if (_msg != "") {
                        smas.alert({ Type: "error", Message: _msg });
                        $("#divMessageSupport").show("slow");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
</script>
