﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilRankingArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.PupilRankingArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@{var listClass = (List<SMAS.Models.Models.ClassProfile>)ViewData[PupilRankingConstants.LIST_CLASS];}
<fieldset>
    <legend>@Res.Get("PupilRanking_Label_Class")</legend>
    @if (listClass != null && listClass.Count > 0)
    {
        foreach (var item in listClass)
        {
        <span class="boxitem" style="margin-left: 10px; float: left;margin-top:5px">
            @(Html.ViettelButton(@item.DisplayName, new Dictionary<string, object>() { {"style","margin:5px;"},{ "id", item.ClassProfileID.ToString() }, { "name", "ClassID" } }, "button", "LoadListPupilRanking(this);", "displaynameClass"))
        </span>
        }
    }
    <input type="hidden" id="_ClassID" value="" />
</fieldset>
