@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.PupilRankingArea
@using SMAS.Web.Areas.PupilRankingArea.Models
@using (Html.BeginForm("Index", "PupilRanking", FormMethod.Post, new { id = "frmSearch" }))
{
    <fieldset>
        <div style="width:1000px;">
            <div class="fieldsearch1">
                <fieldset style="height: 40px;">
                    @{var listSemester = (List<ViettelCheckboxList>)ViewData[PupilRankingConstants.LIST_SEMESTER];}
                    <legend>@Res.Get("PupilRanking_Label_Semester")</legend>
                    @(Html.ViettelRadioBox("SemesterID", "", new Dictionary<string, object>() { { "onChange", "SaveSemester(this)" } },
                    listSemester, false))
                    <input type="hidden" id="_SemesterID" name="_SemesterID" value="@ViewData["Semester"]" />
                </fieldset>
            </div>
            <div class="fieldsearch2">
                <fieldset style="height: 40px;width:666px;">
                    @{var listEducationlevel = (List<ViettelCheckboxList>)ViewData[PupilRankingConstants.LIST_EDUCATIONLEVEL];}
                    <legend>@Res.Get("PupilRanking_Label_EducationLevel")</legend>
                    @(Html.ViettelRadioBox("EducationlevelID", "", new Dictionary<string, object> { { "onchange", "LoadListClass(this);" } },
                    listEducationlevel, false))
                    <input type="hidden" id="_EducationlevelID" name="_EducationlevelID" value="@listEducationlevel.FirstOrDefault().Value" />
                </fieldset>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="ListClass">
            @Html.Partial("_ListClass")
        </div>
    </fieldset>
}