﻿@model SMAS.Web.Areas.SupervisingDeptAccountArea.Models.SupervisingDeptAccountViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SupervisingDeptAccountArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Business.Business
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers;
@{List<Employee> list = (List<Employee>)ViewData[SupervisingDeptAccountConstants.LISTEMPLOYEE];
  var index = 0;
  var totalEmployee = (list != null && list.Count > 0) ? list.Count : 0;
}
@{Html.Telerik().Grid<Employee>(list)
         .Name("GridListEmployee")
         .Columns(columns =>
         {
             //cot STT
             columns.Template(@<text>@(++index)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center;" }).Width(40);
             //ten đơn vị
             columns.Bound(o => o.SupervisingDept.SupervisingDeptName).Title(Res.Get("SupervisingDept_Label_SupervisingDeptName")).Width(220);
             //mã nhân viên
             columns.Bound(o => o.EmployeeCode).Title(Res.Get("Employee_Label_EmployeeCode")).Width(100);
             //Tên nhân viên
             columns.Bound(o => o.FullName).Title(Res.Get("Employee_Label_FullName")).Width(120);
             //tên đăng nhập
             columns.Template(@<text>@Html.ViettelTextbox("", "UserName_" + item.EmployeeID, null, new Dictionary<string, object> {{ "style", "width: 145px" } ,
                                           { "onChange" , "CheckValidationUserName('UserName_" + item.EmployeeID +"',"+ item.EmployeeID +")"}, {"maxlength", "50"} }, false, false)
    </text>)
                    .Title(Res.Get("SupervisingDeptAccount_Label_UserName"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(180);
             //nhóm người dùng
             columns.Template(@<text>@Html.ViettelComboboxMultipleSelection("Role_" + item.EmployeeID, "", (List<SelectListItem>)ViewData[SupervisingDeptAccountConstants.LISTROLEOFUSER], false, "[Lựa chọn]", 200)</text>)
                    .Title(Res.Get("SupervisingDept_Label_GroupUserName"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);

             //check
             columns.Template(
                 @<text>
                    <label class="custom-checkbox">
                        <input type="checkbox" onclick="Clickchk(@item.EmployeeID)" id="@item.EmployeeID" value="@item.EmployeeID" name="rptGroupOfDept" />
                        <span class="checkmark"></span>
                    </label>
                  </text>)
             .HeaderTemplate(
                  @<text>
                    <label class="custom-checkbox">
                        <input type="checkbox" value="true" name="chkAll" id="chkAll"onclick="CheckAll()" />
                        <span class="checkmark"></span>
                    </label>
                  </text>)
             .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(30);
         })
         .HtmlAttributes(new { @class = "supervising-dept-account-list-employee" })
         .Footer(false)
         .DataKeys(keys => { keys.Add(p => p.EmployeeID); })
        .Selectable()
         .Scrollable(p=>p.Height(350))
        .Render();
}
<input type="hidden" id="totalEmployee" name="totalEmployee" value=@totalEmployee />