﻿@model SMAS.Web.Areas.SupervisingDeptAccountArea.Models.SupervisingDeptAccountViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SupervisingDeptAccountArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Business.Business
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers;
@{
    ViewBag.Title = Res.Get("SupervisingDeptAccount_Label_Create");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Ajax.BeginForm("Create",
                       "SupervisingDeptAccount",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "BeginSubmit",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmCreate" }
                       ))
{*@
@{List<Employee> list = (List<Employee>)ViewData[SupervisingDeptAccountConstants.LISTEMPLOYEE];
  var totalEmployee = (list != null && list.Count > 0) ? list.Count : 0;
}
@using (Html.BeginForm("CreateUser", "SupervisingDeptAccount", FormMethod.Post, new { id = "frmCreate" }))
{
        @Html.AntiForgeryToken()
        <div id="lstSupervisingDeptAccount">
            <div class="t-toolbar t-grid-toolbar t-grid-top">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                         @(Html.ViettelCombobox(Res.Get("SupervisingDeptAccount_Label_SupervisingDeptName"), "SupervisingDeptID",
                            (SelectList)ViewData[SupervisingDeptAccountConstants.SUPERVISINGDEFTDEFT],
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> {{ "OnChange", "AjaxLoadListSupervisingDept();" } }, false, false))
                    </div>
                </div>
            </div>
            <div id="ListEmployees">
                @Html.Partial("_ListEmployee")
            </div>
        </div>
        <div style="padding: 10px;text-align:center;">
                @if (totalEmployee > 0)
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "SubmitForm();", "btn btn-info btn-icon btn-round btn-icon-save", "btnCreateSupervisingDeptAccount")
                }
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "OnCloseClick();", "btn btn-info btn-round", "btnCloseSupervisingDeptAccount")
            </div>
}
<script type="text/javascript">
    function Clickchk(id) {
        var totalEmployee = $("#totalEmployee").val();
        var boxes = $('#GridListEmployee input[name=rptGroupOfDept]:checked').size();
        if (totalEmployee == boxes) {
            $("#chkAll").attr('checked', true);
        }
        else {
            $("#chkAll").attr('checked', false);
        }

        if ($("#" + id.toString()).attr("checked")) {
            if ($("#UserName_" + id).val() == null || $("#UserName_" + id).val() == "" || $("#UserName_" + id).val() == " ") {
                $("#UserName_" + id).addClass("input-validation-error");
                $("#" + id.toString() + id.toString()).css("display", "block");
                $("#" + id.toString() + id.toString()).focus();
            }
            else {
                $("#UserName_" + id).removeClass("input-validation-error");
                $("#" + id.toString() + id.toString()).css("display", "none");
            }
        }
        else {
            $("#UserName_" + id).removeClass("input-validation-error");
            $("#" + id.toString() + id.toString()).css("display", "none");
        }
    }

    function CheckAll() {
        if ($('#chkAll').is(":checked")) {
            $('input[name=rptGroupOfDept]').attr('checked', true);
        }
        else {
            $('input[name=rptGroupOfDept]').attr('checked', false);
        }
    }

    function AjaxLoadListSupervisingDept() {
        var id = $("#SupervisingDeptID").val();
        smas.showProcessingDialog();
        $.ajax({
            url: '@Url.Action("GetListEmployeeBySupervisingDept", "SupervisingDeptAccount")',
            data: { id: id },
            dataType: 'html',
            success: function (data) {
                $("#ListEmployees").html(data);
            }
        });
        smas.hideProcessingDialog();
    }

    function EditSuccess(data) {
        smas.hideProcessingDialog();
        smas.alert('@Html.Raw(Res.Get("Common_Label_UpdateSuccessMessage"))');
    }

    function EditFail(data) {
        smas.hideProcessingDialog();
        smas.error('@Html.Raw(Res.Get("Common_Error_InternalError"))');
    }

    //    function BeginSubmit() {
    //        var flag = true;
    //        $('#GridListEmployee table tbody input[type="checkbox"]').each(function () {
    //            var id = $(this).attr("id");
    //            if ($(this).attr("checked")) {
    //                if ($("#UserName_" + id).val() == null || $("#UserName_" + id).val() == "" || $("#UserName_" + id).val() == " ") {
    //                    $("#UserName_" + id).addClass("input-validation-error");
    //                    //$("#" + id.toString() + id.toString()).css("display", "block");
    //                    $("#UserName_" + id).focus();
    //                    flag = false;
    //                }
    //                else {
    //                    $("#UserName_" + id).removeClass("input-validation-error");
    //                    //$("#" + id.toString() + id.toString()).css("display", "none");
    //                    flag = true;
    //                }
    //            }
    //            else {
    //                $("#UserName_" + id).removeClass("input-validation-error");
    //                //$("#" + id.toString() + id.toString()).css("display", "none");
    //                flag = true;
    //            }
    //        });
    //        if (flag == true) {
    //            return flag;
    //        }
    //        else return false;
    //    }
    function SubmitForm() {
        var flag = true; //BeginSubmit();
        if (flag) {
            //            smas.showProcessingDialog();
            //            $('#frmCreate').submit();
            var datafrom = $("#frmCreate").serialize();
            var token = $('[name=__RequestVerificationToken]').val();
            smas.showProcessingDialog();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateUser", "SupervisingDeptAccount")',
                data:datafrom,
                dataType: "json",
                success: function (msg) {
                    if (msg.Type == "Error") {
                        var array = msg.Message.split('_');
                        var mss = array[0];
                        var employeeid = array[1];
                        smas.alert({ Type: "error", Message: mss });
                        $("#Role_" + employeeid).addClass("input-validation-error");
                    }
                    else if (msg.Type == "ErrorUserName") {
                        var array = msg.Message.split('_');
                        var mss = array[0];
                        var employeeid = array[1];
                        smas.alert({ Type: "error", Message: mss });
                        $("#UserName_" + employeeid).addClass("input-validation-error");
                        $("#UserName_" + employeeid).focus();
                    }
                    else {
                        var array = msg.Message.split('_');
                        var mss = array[0];
                        var useraccountid = array[1];
                        var type = array[2];
                        smas.alert(mss);
                        setTimeout(function () {
                           window.location.href = "/SupervisingDeptAccountArea/SupervisingDeptAccount/Index?id=" + null + "&type=" + type + "&LoadSS=1";
                        }, 200);
                    }
                    smas.hideProcessingDialog();
                }
            });
        }
    }
    function CheckValidationUserName(name, id) {
        var spanid = id.toString() + id.toString();
        var usernameid = name.toString();
        //alert("#" + spanid);
        var username = $("#" + usernameid).val();
        if ($("#" + id.toString()).attr("checked")) {
            if (username != "" && username != " " && username != null) {
                $("#" + usernameid).removeClass("input-validation-error");
                $("#" + spanid).css("display", "none");
            }
            else {
                $("#" + usernameid).addClass("input-validation-error");
                $("#" + spanid).css("display", "block");
            }
        }
    }
    formUtils.focusForm("frmCreate");
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index","SupervisingDeptAccount")' + '?LoadSS=1');
    }
</script>
