﻿@*<fieldset style="height: 720px; padding-bottom: 0px;">
    <div id="criteria">
    </div>
    <div class="Clear">
    </div>
    <div id="grid" style="overflow: auto;">
    </div>
</fieldset>
*@

<iframe style="height:600px;width:800px;"src="@ViewData["url"]" scrolling="no" id="idFrame"></iframe> 