@model SMAS.Models.Models.DefaultGroupMenu
@using Com.Viettel.Framework.HtmlHelpers

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.ViettelLabelFor(model => model.Permission)
</div>
<div class="editor-field">
    @Html.ViettelEditorFor(model => model.Permission)
    @Html.ViettelValidationMessageFor(model => model.Permission)
</div>


