@model SMAS.Models.Models.DefaultGroupMenu

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("DetailsRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.ResourceManager.GetString("DetailsRK");</h2>

<fieldset>
    <legend>DefaultGroupMenu</legend>

    <div class="display-label">Permission</div>
    <div class="display-field">@Model.Permission</div>

    <div class="display-label">DefaultGroup</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.DefaultGroup).ToString()</div>

    <div class="display-label">Menu</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Menu).ToString()</div>
</fieldset>
<p>
    @Html.ViettelActionLink(@Resources.Resource.ResourceManager.GetString("EditRK"), "Edit", new { id=Model.DefaultGroupMenuID }) |
    @Html.ViettelActionLink(@Resources.Resource.ResourceManager.GetString("BackRK"), "Index")
</p>


