@model SMAS.Models.Models.DefaultGroupMenu

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("EditRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.ResourceManager.GetString("EditRK")</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DefaultGroupMenu</legend>

        @Html.ViettelHiddenFor(model => model.DefaultGroupMenuID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value=@Resources.Resource.ResourceManager.GetString("SaveRK")
			/>
        </p>
    </fieldset>
}

<div>
    @Html.ViettelActionLink(@Resources.Resource.ResourceManager.GetString("BackRK"), "Index")
</div>
