﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportGeneralArea
@using SMAS.Web.Constants
@{
    GlobalInfo glo = new GlobalInfo();
    string Title1 = string.Empty;
    string Title2 = string.Empty;
    string Title3 = string.Empty;
    if (glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_CRECHE || glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        Title1 = "I. Thông tin trẻ";
    }
    else if (glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY)
    {
        Title1 = "I. Thông tin học sinh";
        Title2 = "II. Thông tin môn học và HDGD";
        Title3 = "III. Năng lực - phẩm chất - kết quả cuối năm";
    }
    else
    {
        Title1 = "I. Thông tin học sinh";
        Title2 = "II. Thông tin môn học";
        Title3 = "III. Kết quả học tập - rèn luyện";
    }
    int TypeSelected = ViewData[ReportGeneralConstants.TYPE_SELECTED] != null ? (int)ViewData[ReportGeneralConstants.TYPE_SELECTED] : 0;
    bool isSystemTemplate = ViewData[ReportGeneralConstants.IS_SYSTEM_TEMPLATE] != null ? (bool)ViewData[ReportGeneralConstants.IS_SYSTEM_TEMPLATE] : false;
 }
<style type="text/css">
    #GridResultID input[type="text"] {
        height:28px !important;
        width:98%;
        text-align:left;
        padding-left:2px;
        word-spacing:normal;
        border:none;
        border-width:0px
    }
</style>
<div class="WorkBoxSection" id="GridResultID">
    <div class="box mg-t-15">
        <div class="box-header with-border t-grid-header p-10">
            <h3 class="box-title">@Title1</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool toogle">
                <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body bg-light p-t-5 p-b-5 p-l-10 p-r-10" style="display: block;">
            @Html.Partial("_GridTertiaryAndSecondary")
        </div>
    </div>
   @if (glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY || glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY
       || glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
   {
        <div class="box mg-t-15">
        <div class="box-header with-border t-grid-header p-10">
            <table>
                <tr>
                    <td style="width:20%;vertical-align:top;"><h3 class="box-title">@Title2</h3></td>
                    @if (glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY
                        || glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
                    {
                        <td style="width:15%;vertical-align:top;"><input type="radio" style="margin-right:5px;" id="rdo1" value="1" @((TypeSelected == 1 || TypeSelected == 0) ? "checked='checked'" : "")  onchange="ChangeRadio(this)" /><span>Điểm TBM</span></td>
                        <td><input type="radio" id="rdo2" value="2" style="margin-right:5px;" @(TypeSelected == 2 ? "checked='checked'" : "") onchange="ChangeRadio(this)" /><span>Điểm thi học kỳ</span></td>
                    }
                    <td style="vertical-align:top;">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool toogle" style="padding:0px !important;">
                            <i class="fa fa-minus"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-body bg-light p-t-5 p-b-5 p-l-10 p-r-10" style="display: block;" id="GridTS_ID">
            @Html.Partial("_GridSubject")
        </div>
    </div>
        <div class="box mg-t-15">
        <div class="box-header with-border t-grid-header p-10">
            <h3 class="box-title">@Title3</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool toogle">
                <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body bg-light p-t-5 p-b-5 p-l-10 p-r-10" style="display: block;">
            @Html.Partial("_GridResult")
        </div>
    </div>
   }
   else
   {
       <div class="box mg-t-15">
        <div class="box-header with-border t-grid-header p-10">
            <h3 class="box-title">II. Kết quả sức khoẻ</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool toogle">
                <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body bg-light p-t-5 p-b-5 p-l-10 p-r-10" style="display: block;">
            @Html.Partial("_GridPupilHealth")
        </div>
    </div>
   }
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var templateId = $("#frmSearch #ProfileTemplateId").val();
        if ('@isSystemTemplate' == 'True') {
            $('#btDeleteTemplate').hide();
            $('#btsave').hide();
            $('#btnOrderExcel').hide();
        }
        else {
            $('#btsave').show();
            $('#btnOrderExcel').show();
            if (templateId == '' || templateId == 0) {
                $('#btDeleteTemplate').hide();
            }
            else {
                $('#btDeleteTemplate').show();
            }
        }

        if (templateId == '' || templateId == 0) {
            $('#btnExportExcel').hide();
        }
        else {
            $('#btnExportExcel').show();
        }
    });
    $(".WorkBoxSection").find(".box-header").dblclick(function () {
        $(this).find(".toogle").click();
    });
    $(".WorkBoxSection").find(".toogle").click(function (event) {
        onCollapse(this);
        event.stopPropagation();
    });
    function onCollapse(btn) {
        $(btn).find("i").toggleClass("fa-square-o fa-minus");
        $wraper = $(btn).closest("section");
        //getting the next element
        $content = $(btn).closest(".box").find(".box-body");
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.

        $content.slideToggle(300, function () {
            resizeSidebar();
        });

        if ($(btn).find("i").hasClass("fa-minus")) {
            $(".WorkBoxSection").find("section:not(:last-child)").not($wraper[0]).find(".fa-minus").closest(".toogle").click();
        }

    };
    function resizeSidebar() {
        var contentH = $(".WorkBoxSectionWraper").outerHeight();
        $("#SideBarSection").height(contentH - 2);
    };
    function ChangeRadio(item)
    {
        $('#GridResultID').find('input[id^="rdo"]').prop('checked', false);
        $(item).prop('checked', true);
    }
</script>