﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CodeConfigArea.Models
@using SMAS.Web.Areas.CodeConfigArea
@model SchoolTeacherViewModel
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
@if (Model != null)
{
    using (Ajax.BeginForm("_SchoolTeacher", "CodeConfig",
    new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "smas.showProcessingDialog",
        OnComplete = "smas.hideProcessingDialog",
        OnSuccess = "CreateSuccess",
        OnFailure = "CreateFail"
    },
    new { id = "frmPupil" }))
    {
    @Html.AntiForgeryToken()
    <div class="hearderCode">
        Cấu hình giáo viên
    </div>
    <div class="Clear">
    </div>
    <div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            <label class="custom-checkbox">
            @Html.CheckBoxFor(u => u.Teacher_IsActive, new { disabled = "disabled" })
            @Html.LabelFor(m => m.Teacher_IsActive)
                <span class="checkmark">&nbsp;</span>
            </label>
        </div>
        <div style="color: Red; font-style: italic; padding-top: 10px; text-decoration: underline;">
            Phần đầu</div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            <label class="custom-checkbox">
            @Html.CheckBoxFor(u => u.Teacher_IsChoiseSchool.Value, new { disabled = "disabled" })
            @Html.LabelFor(m => m.Teacher_IsChoiseSchool)
                <span class="checkmark">&nbsp;</span>
            </label>
        </div>
        <div style="color: Red; font-style: italic; padding-top: 10px; text-decoration: underline;">
            Phần giữa</div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            <label class="custom-checkbox">
            @Html.CheckBoxFor(u => u.Teacher_IsStringIdentify, new { disabled = "disabled" })
            @Html.LabelFor(m => m.Teacher_IsStringIdentify) @Html.TextBoxFor(u => u.Teacher_StringIdentify, new { disabled = "disabled" })
            <span class="checkmark">&nbsp;</span>
            </label>
        </div>
        <div style="color: Red; font-style: italic; padding-top: 10px; text-decoration: underline;">
            Phần cuối</div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            @Html.LabelFor(m => m.Teacher_StartNumber) : @Html.TextBoxFor(m => m.Teacher_StartNumber, new { onkeyup = "fn_Teacher_StartNumber()", @class = "integer", maxlength = "5" })
            @Html.ValidationMessageFor(m => m.Teacher_StartNumber)
        </div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            @Html.LabelFor(m => m.Teacher_NumberLength) : @Html.TextBoxFor(u => u.Teacher_NumberLength, new { disabled = "disabled" })
            @Html.ViettelHiddenFor(o => o.Teacher_NumberLength)
        </div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            <label class="custom-checkbox">
            @Html.CheckBoxFor(u => u.Teacher_IsNotSchoolModify, new { disabled = "disabled" })
            <i>@Html.LabelFor(m => m.Teacher_IsNotSchoolModify)</i>
                <span class="checkmark">&nbsp;</span>
            </label>
        </div>
        <br />
        <hr />
        <div style="font-weight: bold; font-style: italic;">
            Ví dụ : <span id="buildTeacherConfigCodeExample"></span>
        </div>
    </div>
    <div class="dialog-buttons">
        @{if (checkCreate)
          {
              @Html.ViettelButton(Res.Get("Đánh lại mã GV toàn trường"), "button", "ApproveTeacherCode()", "btn btn-info btn-round")
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-save ")
          }
        }
    </div>
    }
    <script type="text/javascript">
        function CreateSuccess(msg) {
            smas.alert(msg);
            setTimeout('smas.reload()', 2000);
        }
        function CreateFail(ajaxContext) {
            // smas.alert(ajaxContext.responseText);
        }

        function fn_Teacher_StartNumber() {
            buildTeacherConfigCodeExample();
        }

        function buildTeacherConfigCodeExample() {
            var code = "XXXXX";

            if ($("#Teacher_IsStringIdentify").prop("checked") && $("#Teacher_StringIdentify").val() != "") code += "-" + $("#Teacher_StringIdentify").val();

            if (parseInt($("#Teacher_NumberLength").val()) > 0) {
                var startNumber = $("#Teacher_StartNumber").val().replace(/\s/g, "") != "" ? parseInt($("#Teacher_StartNumber").val(), 10) : 1;
                startNumber = startNumber > 0 ? startNumber : 1;
                var startNumberStr = startNumber.toString();
                var numberLength = parseInt($("#Teacher_NumberLength").val());
                numberLength = numberLength > 10 ? 9 : numberLength;
                for (i = 0; i < numberLength - startNumber.toString().length; i++) {
                    startNumberStr = "X" + startNumberStr;
                }
                code += "-" + startNumberStr;
            }
            $("#buildTeacherConfigCodeExample").html(code);
        }
        $(document).ready(function () {
            buildTeacherConfigCodeExample();

            //disable copy paste cho text box
            controlUtils.DisabledCopyPasteTextboxByID("Teacher_StartNumber");
            controlUtils.DisabledCopyPasteTextboxByID("Teacher_NumberLength");
        });
        function ApproveTeacherCode()
        {
            var text = 'Hệ thống sẽ thực hiện đánh lại mã của toàn bộ giáo viên theo cấu hình. Mã giáo viên cũ sẽ bị thay thế bằng mã mới do hệ thống sinh ra. Thầy/cô có chắc chắn muốn thực hiện không?';
            ConfirmApprove(text, function () {
                $.ajax({
                    url: '@Url.Action("ApproveTeacherCode","CodeConfig")',
                    type: 'post',
                    data: { },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    complete: function () {
                        smas.hideProcessingDialog();
                    },
                    success: function (msg) {
                        smas.alert(msg.Message);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            });
        }
    </script>
}
else
{
    <text>Sở chưa cấu hình đánh mã tự động giáo viên</text>
}