﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CodeConfigArea.Models
@using SMAS.Web.Areas.CodeConfigArea
@model SupervisingDeptPupilViewModel
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
@using (Ajax.BeginForm("_SupervisingDeptPupil", "CodeConfig",
new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "smas.showProcessingDialog",
    OnComplete = "smas.hideProcessingDialog",
    OnSuccess = "CreateSuccess",
    OnFailure = "CreateFail"
},
new { id = "frmPupil" }))
{
    @Html.AntiForgeryToken()
    <h2 style="text-align: center">@Res.Get("CodeConfig_label_tabPupil")</h2>
    <div>
        <div>
            <label class="custom-checkbox">
                @Html.CheckBox("Pupil_IsActive", true)
                @Html.LabelFor(m => m.Pupil_IsActive)
                @Html.ValidationMessageFor(m => m.Pupil_IsActive)
                <span class="checkmark"></span>
            </label>
        </div>
        <div style="color: Red; font-style: italic; padding-bottom: 5px; text-decoration: underline;">
            Phần đầu</div>
        <div>
            <label class="custom-checkbox">
                @Html.CheckBoxFor(u => u.Pupil_IsChoiseSchool.Value, new { disabled = "disabled" })
                @Html.LabelFor(m => m.Pupil_IsChoiseSchool)
                @Html.ValidationMessageFor(m => m.Pupil_IsChoiseSchool)
                <span class="checkmark"></span>
            </label>
        </div>
        <div style="color: Red; font-style: italic; text-decoration: underline;">
            Phần giữa</div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            <table>
                <tr>
                    <td style="width:25%;">
                        @Html.DropDownListFor(u => u.Pupil_MiddleCodeType, (SelectList)ViewData[CodeConfigConstants.LIST_MIDDLE_CODE_TYPE], new { onchange = "fn_Pupil_MiddleCodeTypeChange()" })
                    </td>
                    <td>
                        <div id="divCombobox" class="mg-l-5" style ="@(Model.Pupil_MiddleCodeType == 1 || Model.Pupil_MiddleCodeType == 2 ? "display:block;" : "display:none;")">
                            <select id="FormatNumber" name="FormatNumber" onchange="buildTeacherConfigCodeExample()">
                                <option value="1" @(Model.FormatNumber == 1 || Model.FormatNumber == 0 ? "selected=selected" : "")>Định dạng 2 chữ số</option>
                                <option value="2" @(Model.FormatNumber == 2 ? "selected=selected" : "")>Định dạng 4 chữ số</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <label class="custom-checkbox">
               @Html.CheckBoxFor(u => u.Pupil_IsStringIdentify, new { onclick = "fn_Pupil_IsStringIdentifyChange()" })
                @Html.LabelFor(m => m.Pupil_IsStringIdentify) 
                <span class="checkmark"></span>
            </label>
            @Html.TextBoxFor(u => u.Pupil_StringIdentify, Model.Pupil_IsStringIdentify ? (object)new { onchange = "fn_Pupil_StringModifyChange()" } : (object)new { onchange = "fn_Pupil_StringModifyChange()", disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.Pupil_IsStringIdentify)
            @Html.ValidationMessageFor(m => m.Pupil_StringIdentify)
        </div>
        <div style="color: Red; font-style: italic; padding-top: 12px; text-decoration: underline;">
            Phần cuối</div>
        <div style="padding-top: 5px; padding-bottom: 5px;">
            @Html.LabelFor(m => m.Pupil_NumberLength) : @Html.TextBoxFor(u => u.Pupil_NumberLength, new { onkeyup = "fn_Pupil_NumberLength()", @class = "integer", maxlength = "1" })
            @Html.ValidationMessageFor(m => m.Pupil_NumberLength)
        </div>
        <div>
            @if (Model.Pupil_IsNotSchoolModify == false)
            {
@*@Html.ViettelCheckBoxFor(u => u.Pupil_IsNotSchoolModify, new Dictionary<string, object> { }, Res.Get("CodeConfig_Label_IsNotSchoolModify"), false, true)*@
                
                <label class="custom-checkbox">
                    <input type="checkbox" value="true" name="Pupil_IsNotSchoolModify" id="Pupil_IsNotSchoolModify" /> 
                    @Html.LabelFor(m => m.Pupil_IsNotSchoolModify)
                    <span class="checkmark"></span>
                </label>
            }
            else
            { 
@*@Html.ViettelCheckBoxFor(u => u.Pupil_IsNotSchoolModify, new Dictionary<string, object> { {"checked","checked"}}, Res.Get("CodeConfig_Label_IsNotSchoolModify"), false, true)*@
                <label class="custom-checkbox">
                    <input type="checkbox" value="true" name="Pupil_IsNotSchoolModify" id="Pupil_IsNotSchoolModify"
                    checked="checked" />
                    @Html.LabelFor(m => m.Pupil_IsNotSchoolModify)
                    <span class="checkmark"></span>
                </label>
            }
            @*@Html.CheckBoxFor(u => u.Pupil_IsNotSchoolModify): @Html.LabelFor(m => m.Pupil_IsNotSchoolModify)*@
            @Html.ValidationMessageFor(m => m.Pupil_IsNotSchoolModify)
        </div>
        <hr />
        <div style="font-weight: bold; font-style: italic;">
            Ví dụ : <span id="pupilCodeConfigExample"></span>
        </div>
    </div>
    <div class="dialog-buttons" style="text-align:center">
        @{
            if (checkCreate)
            {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-save")
            }
        }
    </div>
}
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
    }
    function CreateFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    function fn_Pupil_MiddleCodeTypeChange() {
        var id = $('#Pupil_MiddleCodeType').val();
        if (id == 1 || id == 2) {
            $('#divCombobox').show();
            $('#FormatNumber').find('option[value="1"]').prop('selected', true);
        }
        else {
            $('#divCombobox').hide();
        }
        buildTeacherConfigCodeExample();
    }

    function fn_Pupil_IsStringIdentifyChange() {
        if ($("#Pupil_IsStringIdentify").prop("checked"))
            $("#Pupil_StringIdentify").prop("disabled", false);
        else
            $("#Pupil_StringIdentify").prop("disabled", true);
        buildTeacherConfigCodeExample();
    }

    function fn_Pupil_StringModifyChange() {
        buildTeacherConfigCodeExample();
    }

    function fn_Pupil_NumberLength() {
        buildTeacherConfigCodeExample();
    }

    function buildTeacherConfigCodeExample() {
        var code = "XXXXX";
        if ($("#Pupil_MiddleCodeType").val() == 1 || $("#Pupil_MiddleCodeType").val() == 2) {
            if ($('#FormatNumber').val() == 1) {
                code += "-01";
            }
            else {
                code += "-0001";
            }
        }
        if ($("#Pupil_IsStringIdentify").prop("checked") && $("#Pupil_StringIdentify").val() != "") code += "-" + $("#Pupil_StringIdentify").val();

        if (!isNaN($("#Pupil_NumberLength").val()) && parseInt($("#Pupil_NumberLength").val()) > 0) {
            code += "-";
            var numberLength = parseInt($("#Pupil_NumberLength").val());
            numberLength = numberLength > 10 ? 9 : numberLength;
            for (i = 0; i < numberLength; i++) {
                code += "X";
            }
        }
        $("#pupilCodeConfigExample").html(code);
    }
    $(document).ready(function () {
        buildTeacherConfigCodeExample();

        //disable copy paste cho text box
        controlUtils.DisabledCopyPasteTextboxByID("Pupil_NumberLength");
    });
</script>
