﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SituationOfViolationArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PupilAwayArea;
@{
    GlobalInfo glo = new GlobalInfo();
    AcademicYear objAcademicYear = new AcademicYear();
    if (ViewData["AcademicYear"] != null)
    {
        objAcademicYear = (AcademicYear)ViewData["AcademicYear"];
    }
    DateTime startDate = new DateTime();
    DateTime endDate = new DateTime();
    DateTime dateTimeNow = DateTime.Now.Date;
    DateTime dateMin = new DateTime();
    DateTime dateMax = DateTime.Now;
    if (glo.IsCurrentYear)
    {
        startDate = objAcademicYear.FirstSemesterStartDate.Value.Date;
        endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
        dateMin = (startDate > DateTime.Now ? DateTime.Now : startDate);
    }
    else
    {
        startDate = endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
        dateMin = objAcademicYear.FirstSemesterStartDate.Value.Date;
        dateMax = objAcademicYear.SecondSemesterEndDate.Value.Date;
    }
        
}

@{
    
    DateTime firstDateOfMonth = Convert.ToDateTime("01/" + DateTime.Now.Date.Month + "/" + DateTime.Now.Date.Year);
}

<style>
    .vt-control .editor-label-2, .vt-control .editor-label {
        width: 32%;
    }

    .vt-control .editor-field {
        width: 63%;
    }

    .vt-InfoPanel-2 .vt-control .editor-field input[type="text"] {
        padding-right: 0px;
    }

    .vt-SearchPanel .vt-SearchPanel-Content {
        padding: 20px 0px 10px 0px;
    }

    .ContentSectionSmallLoop2 {
        min-height: 790px!important;
    }

    .SideBarLoopMenu {
        background: none repeat scroll 0 0 #eaf2f5;
        height: 791px !important;
    }

    .ContentSectionSmallTop .ContentSectionSmallBtm {
        padding-bottom: 0px!important;
    }
</style>
<form id="StatisticalChildrenAbsentForm">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3" id="PupilAwayParams">
        <div class="vt-SearchPanel-Title">
            @Res.Get("Thống kê trẻ nghỉ học")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox(Res.Get("Thống kê theo"), "TypeStatiscalID", (IEnumerable<SelectListItem>)ViewData["ChooseStatiscal"],
        GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "changeType();" } }, false, false)
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("PupilAway_Label_FromDate")
                    </label>
                </div>
                <div class="editor-field">
                    @{
                        Html.Telerik().DatePicker()
                        .Name("FromDate")
                            //.Value(DateTime.Now)
                        .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                        .TodayButton("Now")
                        .Max(dateMax)
                        .Min(dateMin)
                        .Format("dd/MM/yyyy")
                        .ClientEvents(p => p.OnChange("CheckValidate"))
                            //.InputHtmlAttributes(new { onblur = "alert($(this).val());"})
                        .Render();
                    }
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("PupilAway_Label_ToDate")
                    </label>
                </div>
                <div class="editor-field">
                    @{
                        Html.Telerik().DatePicker()
                        .Name("ToDate")
                        .Value(endDate < DateTime.Now ? endDate : DateTime.Now)
                        .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                        .TodayButton("Now")
                        .Format("dd/MM/yyyy")
                        .Max(endDate < DateTime.Now ? endDate : DateTime.Now)
                        .ClientEvents(p => p.OnChange("CheckValidate"))
                        .Render();
                    }
                    @* </div>*@
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()", "")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDF()", "")
        </div>
    </div>
</form>
@*<iframe id="HtmlPattern" style="width:820px;height:590px" src="@Url.Action("ViewPattern", "PupilAway", new {area="PupilAwayArea" })">
</iframe>*@
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align: center; margin-left: 50px" id="formTypeByDay">
    <iframe  style="width: 100%; height: 600px;" src="/HtmlTemplate/TRE_MN_TKTreNghiHocTheoNgay/Tre_TKTreNghiHocTheoNgay.htm"></iframe>
</div>
<div style="text-align: center; margin-left: 50px" id="formTypeBySession" hidden>
    <iframe style="width: 100%; height: 600px;" src="/HtmlTemplate/TRE_MN_TKTreNghiHoc/TRE_MN_TKTreNghiHoc.htm"></iframe>
</div>
<script>

    function changeType() {
        if ($('#TypeStatiscalID').val() == 1) {
            $('#formTypeByDay').show();
            $('#formTypeBySession').hide();
        }
        else {
            $('#formTypeByDay').hide();
            $('#formTypeBySession').show();
        }
    }

    function validateValue() {
        var check = CheckValidate();
        if (check == 1) {
            return ExportExcel();
        }
        else {
            return false;
        }
    }
    //Load ngay dau tien cua thang
    $(document).ready(function () {
        if ('@glo.IsCurrentYear' == 'True') {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            if (mm.toString().length == 1)
            {
                mm = "0" + mm;
            }
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate.toString("dd/MM/yyyy"));
            
            $('#ClassID').attr("disabled", "disabled");
        }
        else {
            $('#FromDate').val('@endDate.ToString("dd/MM/yyyy")');
        }
    });

    function CheckValidate() {
        if (!validateUtils.isDate($('#FromDate').val())) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Từ ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
            return 0;
        }
        if (!validateUtils.isDate($('#ToDate').val())) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Đến ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = dd + '/' + mm + "/" + yyyy;
            $('#ToDate').val(currentDate);
            return 0;
        }
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        arrfromdate = fDate.split("/");
        arrtodate = tDate.split("/");

        var dd1 = arrfromdate[0];
        var mm1 = arrfromdate[1];
        var yyyy1 = arrfromdate[2];
        var strdate1 = yyyy1 + "-" + mm1 + "-" + dd1;
        var fromday = strdate1.split('-');

        var dd = arrtodate[0];
        var mm = arrtodate[1]; //January is 0!
        var yyyy = arrtodate[2];
        var strdate = yyyy + "-" + mm + "-" + dd;
        var CurrentDate = strdate.split('-');

        var firstDate = new Date();
        firstDate.setFullYear(fromday[0], (fromday[1] - 1), fromday[2]);

        var secondDate = new Date();
        secondDate.setFullYear(CurrentDate[0], (CurrentDate[1] - 1), CurrentDate[2]);

        if (firstDate > secondDate) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Giá trị Từ ngày phải nhỏ hơn Đến ngày" });
            return 0;
        }

        var today = new Date();
        var FromDate = dateUtils.Parse($('#FromDate').val());
        if (FromDate > today) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải trước ngày hiện tại" });
            return 0;
        }
        return 1;
    }

    function SubmitClick() {
        var check = CheckValidate();
        if (check == 1) {
            var type = $("#StatisticalChildrenAbsentForm #TypeStatiscalID").val();
            if (type == 1) // Day
            {
                smas.getReport('StatisticalChildrenAbsentForm', '@Url.Action("GetReportPupil", "StatisticalChildrenAbsent")',
                '@Url.Action("GetNewReportPupil", "StatisticalChildrenAbsent")', '@Url.Action("DownloadReportByDay", "StatisticalChildrenAbsent")');
            }
            else { // Section
                smas.getReport('StatisticalChildrenAbsentForm', '@Url.Action("GetReportPupil", "StatisticalChildrenAbsent")',
                '@Url.Action("GetNewReportPupil", "StatisticalChildrenAbsent")', '@Url.Action("DownloadReportBySession", "StatisticalChildrenAbsent")');
            }
           
        }
    }

    function ExportPDF() {
        var check = CheckValidate();
        if (check == 1) {
            var type = $("#StatisticalChildrenAbsentForm #TypeStatiscalID").val();
            var blank = '_blank';
            if (type == 1) // Day
            {
                smas.getReportDocument('StatisticalChildrenAbsentForm', '@Url.Action("GetReportPupil", "StatisticalChildrenAbsent")',
                 '@Url.Action("GetNewReportPupil", "StatisticalChildrenAbsent")', '@Url.Action("DownloadPDFReportByDay", "StatisticalChildrenAbsent")', blank);
            }
            else { // Section
                smas.getReportDocument('StatisticalChildrenAbsentForm', '@Url.Action("GetReportPupil", "StatisticalChildrenAbsent")',
                 '@Url.Action("GetNewReportPupil", "StatisticalChildrenAbsent")', '@Url.Action("DownloadPDFReportBySession", "StatisticalChildrenAbsent")', blank);
            }
           
        }
    };
</script>
