﻿@model PupilAbsenceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilAbsenceArea.Models
@using SMAS.Web.Areas.PupilAbsenceArea


<style type="text/css">
    #abc select{width:44px}.t-grid-header-wrap th{padding:0}.t-grid .t-status{display:none}.t-grid-pager{height:20px}#GridPupilAbsence tr{height:40px}#GridPupilAbsence .t-grid-header th{padding-top:0;padding-bottom:0;font-weight:700}
</style>
<div id="p_button" class="text-right">
    @if (ViewData[PupilAbsenceConstants.CHECK_PERMISSION] != null && (bool)ViewData[PupilAbsenceConstants.CHECK_PERMISSION])
    {
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "", "btnSave", "btn btn-info btn-icon btn-round btn-icon-save")
        @Html.ViettelButton(Res.Get("PupilAbsence_Label_InputExcel"), "button", "importReport()", "", "btnInputExcel", "")
        @Html.ViettelButton(Res.Get("PupilAbsence_Label_ExportExcel"), "button", "exportReport()", "", "btnExportExcel")
    }
    else
    { 
        //@Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "id", "btnSave" }, { "addtionalData", "t-button vt-button-save" }, { "disabled", "disabled" } }, "submit", "", "t-state-disabled")
        //@Html.ViettelButton(Res.Get("PupilAbsence_Label_InputExcel"), new Dictionary<string, object>() { { "id", "btnInputExcel" }, { "onclick", "importReport()" }, { "disabled", "disabled" } }, "button", "", "t-state-disabled")
        @Html.ViettelButton(Res.Get("PupilAbsence_Label_ExportExcel"), new Dictionary<string, object>() { { "id", "exportReport()" }, { "onclick", "exportReport" }, { "disabled", "disabled" } }, "button", "", "t-state-disabled")
    }

</div>
@using (Ajax.BeginForm("Create",
                           "PupilAbsence",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "PupilAbsentOnBegin",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
        @Html.AntiForgeryToken()


    
    <div id="abc" style="width: 100%">
        @{
    var index = 1;
    var cntCol = 31;
    int dteChoice = DateTime.Now.Day;
    var cnt = (int?)ViewData["cnt"];
    var dte = (int?)ViewData["dteChoice"];
    if (cnt != null)
    {
        cntCol = cnt.Value;
    }
    if (dte != null)
    {
        dteChoice = dte.Value;
    }
    var _class = ViewData["_class"];
    var _date = ViewData["_date"];
    var _section = ViewData["_section"];
            <input type="hidden" name="section" id="section" value="@_section"/>
            <input type="hidden" name="date" id="date" value="@_date"/>
            <input type="hidden" name="class" id="class" value="@_class"/>
    Html.Telerik()
        .Grid(((IEnumerable<PupilAbsenceViewModel>)ViewData[PupilAbsenceConstants.LIST_PUPILABSENCE]))
        .Name("GridPupilAbsence")
        .HtmlAttributes(new { style = "padding-top:0px;width:1024" })
        .Columns(c =>
        {
            c.Template(@<text>@(index++) </text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);


            c.Bound(o => o.PupilName).Width(140).HtmlAttributes(new { style = "padding-left:5px;" });
            c.Bound(o => o.PupilCode).Width(100).HtmlAttributes(new { style = "padding-left:5px;" });
            c.Template(@<text>
            <table style="padding-left: 7px; padding-right: 7px;">
                <tr>
                    @for (int i = 1; i <= cntCol; i++)
                    {
                        if (dte == i && item.DateAbsent[i] != 3 && (DateTime)_date <= DateTime.Now.Date)
                        {
                        <td style="width: 54px">@{int d1 = @item.DateAbsent[i];}
                            <select style="width:50px" name="@item.PupilID" @item.Disabled >
                                <option value="0">--</option>
                                @if (d1 == 1)
                                {<option selected="selected" value="1">@PupilAbsenceConstants.DateAbsent_K</option>}
                                else
                                {<option value="1">@PupilAbsenceConstants.DateAbsent_K</option>} @if (d1 == 2)
                                {<option selected="selected" value="2">@PupilAbsenceConstants.DateAbsent_P</option>}
                                else
                                {<option value="2">@PupilAbsenceConstants.DateAbsent_P</option>}
                            </select>
                            <input type="hidden" value="@(item.Disabled)" name="@(item.PupilID)_Disabled"/>

                        </td>
                        }
                        else if (dte == i && (item.DateAbsent[i] == 3 || (DateTime)_date > DateTime.Now.Date))
                        {
                        <td style="width: 54px"></td>
                        }
                        else
                        { 
                        <td style="width: 17px; text-align: center;">
                            @if (@item.DateAbsent[i] == 1)
                            {@PupilAbsenceConstants.DateAbsent_K}
                            else if (@item.DateAbsent[i] == 2)
                            {@PupilAbsenceConstants.DateAbsent_P}

                        </td>
                        }

                    }
                    <td style="text-align: right; width: 32px;">@item.DateAbsent[32].ToString()</td>
                    <td style="text-align: right; width: 32px;">@item.DateAbsent[33].ToString()</td>
                    <td style="text-align: right; width: 35px;">@item.DateAbsent[34].ToString()</td>
                </tr>
            </table>
            </text>)
                //.Title("abc");
                                                           .HeaderTemplate(
@<text>
            <table>
                <tr>
                    @for (int i = 1; i <= @cntCol; i++)
                    {
                        if (dte == i)
                        {
                        <td style="text-align: center; width: 54px;">@i.ToString()</td>
                        }
                        else
                        {
                        <td style="text-align: center; width: 17px;">@i.ToString()</td>
                        }
                    }
                    <td style="text-align: center; width: 32px;">@PupilAbsenceConstants.DateAbsent_K</td>
                    <td style="text-align: center; width: 32px;">@PupilAbsenceConstants.DateAbsent_P</td>
                    <td style="text-align: center; width: 35px;">TS</td>
                </tr>
            </table>
            </text>
                );




        })

            .DataKeys(keys => keys.Add(o => o.PupilID))

            //.Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
        //.Scrollable(c => c.Enabled(true))
            .Render();
                      
        }
    </div>

    <div>
        <div style="width: 70%; height: 10px; float: left">
        </div>
    </div>


    
}
<script type="text/javascript">
    //Them KPI
    function PupilAbsentOnBegin(){
        //BOOMR.plugins.RT.startTimer("Create_PupilAbsence");   //--> bắt đầu đo
        smas.showProcessingDialog();
    }
    //End Them KPI
    function importReport() {
        $("#errorPanel").html("");
        formUtils.resetForm("importDialog");
        smas.openDialog("importDialog", "", {});
    }
    function exportReport() {
        smas.showProcessingDialog();
        $("#frmSearchPupilAbsence input[type='submit']").click();
    }
    var lstInd = 0;
    if ($('#EducationLevelId').val() == 0) {
        var button = $('#btnSave');
        var button1 = $('#btnInputExcel');
        var button2 = $('#btnExportExcel');
        if (button != null) {
            button.hide();
            button1.hide();
            button2.hide();
        }
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            AjaxLoadListPupilAbsence();
            //BOOMR.plugins.RT.endTimer("Create_PupilAbsence");  //--> kết thúc đo
            //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridPupilAbsence').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearchPupilAbsence");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("PupilAbsence_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.PupilAbsenceID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
        //BOOMR.plugins.RT.startTimer("CreatePupilAbsence");   //--> bắt đầu đo
    }
</script>



