﻿@model ReportOptionViewModel
@using Com.Viettel.Framework.HtmlHelpers;
@using SMAS.Web.Utils;
@using SMAS.Models.Models;
@using SMAS.Web.Areas.PupilAbsenceArea;
@using SMAS.Web.Areas.PupilAbsenceArea.Models;

@using (Ajax.BeginForm("ApprovalTeachingSchedule",
                       "LookUpSchedules",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                       },
                       new { id = "frmReportOption", @class = "" }
                       ))
{
    <div class="">       
        <div class="padding5">
            @if(Model.type == "1")
            {
            <text>
                Thực hiện điểm danh tháng @(Model.monthyear) - @(Model.sectionName):
            </text>
            }
            else if (Model.type == "2")
            { 
            <text>
                Thực hiện xuất file điểm danh từ ngày @(Model.stringdate) - @(Model.sectionName):
            </text>
            }
        </div>
        <div class="paddingleft10">
            <label class="custom-radio-button">
            <input type="radio" name="typeReport" value="1" checked onclick="setSelected(this)" /> Lớp @Model.className 
            <span class="checkmark"></span>
            </label>
        </div>
        
        @if(Model.isAdmin == true){
            <text>
                <div class="paddingleft10">
            <label class="custom-radio-button">
                    <input type="radio" name="typeReport" value="2" onclick="setSelected(this)" /> Các lớp @Model.educationName 
                <span class="checkmark"></span>
            </label>
                </div>
                <div class="paddingleft10">
            <label class="custom-radio-button">
                    <input type="radio" name="typeReport" value="3" onclick="setSelected(this)" /> Tất cả các lớp 
                    <span class="checkmark"></span>
            </label>
                </div>                
            </text>
        }
        else
        {
            <text>
            <div class="paddingleft10">
            <label class="custom-radio-button">
                <input type="radio" name="typeReport" value="4" onclick="setSelected(this)"/> Các lớp được phân công quản lý 
                <span class="checkmark"></span>
            </label>
            </div>
            </text>
        }   
        <input type="hidden" id="valueOfRadio" value="1" />      
    </div>
    
    <div class="vt-EditorPanel-Button text-center">
        <button class="btn btn-info btn-icon btn-round btn-icon-excel" type="button" onclick="validateReportOption()">Xuất Excel</button>           
    </div>
}
<script type="text/javascript">   
    function setSelected(r)
    {
        $("#valueOfRadio").val($(r).val());
    }

    function validateReportOption() {
        
        smas.closeDialog('ReportOption');       
        $("#typeReportExcel").val($("#valueOfRadio").val());
        exportReport();
    }
</script>
<style>
    .vt-EditorPanel-content.approval {
        margin-top: 10px;
    }

        .vt-EditorPanel-content.approval > label {
            text-decoration: underline;
        }

        .vt-EditorPanel-content.approval > textarea {
            margin-top: 5px;
            width: 100%;
            padding: 3px;
        }

    .padding5 
    {
        color:blue;
        padding:5px;
    }
    .paddingleft10 
    {
        padding:5px;
        padding-left:10px;
    }


</style>
