﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportExamArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Business.Business
@{
    ViewBag.Title = @Res.Get("ReportExam_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ExportExcel", "ReportExam", FormMethod.Post, new { id = "ReportExamForm", name = "ReportExamForm" }))
{

    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            <table>
                <tr>
                    <td style="width: 80px">
                        @Res.Get("ReportExamViolate_Label_ReportType")
                    </td>
                    <td style="width: 30%; text-align: left">
                        @Html.ViettelRadioButton("rdoReportType", 1, true, new Dictionary<string, object> { { "onclick", "loadControlCombo();" }, { "id", "rdoListReport" } })
                        @Res.Get("ReportExam_Label_ListReport")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 2, false, new Dictionary<string, object> { { "onclick", "loadControlCombo();" }, { "id", "rdoRollReport" } })
                        @Res.Get("ReportExam_Label_RollReport")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 3, false, new Dictionary<string, object> { { "onclick", "loadControlCombo();" }, { "id", "rdoInputMarkFile" } })
                        @Res.Get("ReportExam_Label_InputMarkFile")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 4, false, new Dictionary<string, object> { { "onclick", "loadControlCombo();" }, { "id", "rdoAssignReport" } })
                        @Res.Get("ReportExam_Label_AssignReport")
                    </td>
                    <td class="cssClass" id="listcombo">
                        <div id="comoboList">
                            @Html.Partial("_ListControl")
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "submitForm();", "")
            <input type="hidden" id="ExaminationSubjectHidden" name="ExaminationSubjectHidden"
                   value="0" />
        </div>
    </div>
    @Html.ViettelHidden("checkExamID");
}
<script type="text/javascript">

    function submitForm() {
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();
        if (ExaminationID == null || ExaminationID == "") {
            smas.alert({ Type: "error", Message: "@Res.Get("Examination_Label_SetExaminationStageErrorMessage")" });
            $("#ExaminationID").focus();
            return false;
        }
        if (EducationLevelID == null || EducationLevelID == "") {
            smas.alert({ Type: "error", Message: "@Res.Get("InputExaminationMark_Label_EducationLevelNotAvailable")" });
            $("#EducationLevelID").focus();
            return false;
        }
        var ExaminationSubjectID = $("#ExaminationSubjectID").val();
        var rdoReportType = $('input:radio[name=rdoReportType]:checked').val();
        var checkExam = $("#checkExamID").val();
      
        if (rdoReportType == '3' && (ExaminationSubjectID == "" || ExaminationSubjectID == 0)) {
            smas.alert({ Type: "error", Message: "Chưa chọn môn học." });
        }else if (ExaminationSubjectID == 0 && checkExam != 1 && rdoReportType == '3') {
            smas.alert({ Type: "error", Message: "@Res.Get("Subject_Not_Null")" });
        }
        else {
            if (ExaminationSubjectID == 0 && rdoReportType != '4' && rdoReportType != '3') {

                smas.alert({ Type: "error", Message: "@Res.Get("Subject_Not_Null")" });
                $("#ExaminationSubjectID").focus();
            } else {

                $("#ReportExamForm").submit();
            }
        }
      
    }


    $(document).ready(function () {
        DisableControl();
    });

    //Kiểm tra disable của combobox túi phách
    function CheckDisableDetachableHeadBag() {
        var ExaminationID = $("#ExaminationID").val();
        $.ajax({
            url: '@Url.Action("LoadDisableDetachableHeadBag", "ReportExam")',
            type: 'post',
            data: { idExaminationID: ExaminationID },
            beforeSend: function () {
                //smas.showProcessingDialog();
            },
            success: function (msg) {

                if (msg == true) {
                    $("#DetachableHeadBagID").attr("disabled", "");
                    //$("#DetachableHeadBagID option:first").remove();
                }
                else
                    $("#DetachableHeadBagID").removeAttr("disabled");
                //smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }


    function loadControlCombo() {
        $.ajax({
            url: '@Url.Action("ControlCombo", "ReportExam")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#comoboList").html(msg);
                DisableControl();
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });

    }

    //Kiểm tra disable môn học
    function CheckDisableControl() {
        var ExaminationSubjectID = $("#ExaminationSubjectID");
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();
        var rdo = $('input:radio[name=rdoReportType]:checked').val();
        $.ajax({
            url: '@Url.Action("LoadDisableControl", "ReportExam")',
            type: 'post',
            data: { idExaminationID: ExaminationID },
            beforeSend: function () {
                //smas.showProcessingDialog();
            },
            success: function (msg) {

                if (msg == true) {
                    if ($("#ExaminationSubjectID option:last").html() != "[Lựa chọn]" && $("#ExaminationSubjectID option:first").html() == "[Lựa chọn]") {
                        $("#ExaminationSubjectID option:first").remove(); $("#ExaminationSubjectHidden").val($("#ExaminationSubjectID").val());

                        var ExaminationSubjectHidden = $("#ExaminationSubjectHidden").val();
                        //alert(ExaminationSubjectHidden);
                        controlUtils.loadComboBox(
                        $("#ExaminationRoomID"),
                        '@Url.Action("AjaxLoadExaminationRoom", "ReportExam")',
                            {
                                ExaminationSubjectHidden: ExaminationSubjectHidden,
                                idExaminationSubjectID: $(ExaminationSubjectID).val(),
                                idExaminationID: ExaminationID,
                                idEducationLevelID: EducationLevelID,
                                rdoReportType: rdo
                            }, '@Res.Get("All")');
                        $("#ExaminationSubjectID").attr("disabled", "");
                    }
                }
                else {

                    $("#ExaminationSubjectID").removeAttr("disabled");
                }
                //smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    //Disable các combobox tương ứng với từng loại báo cáo
    function DisableControl() {
        var rdoReportType = $('input:radio[name=rdoReportType]:checked').val();

        if (rdoReportType == '1') {

            $("#DetachableHeadBagID").attr("disabled", "");
            $("#ExaminationRoomID").removeAttr("disabled");
            $("#ExaminationSubjectID").removeAttr("disabled");
        }
        else if (rdoReportType == '2') {
            $("#DetachableHeadBagID").attr("disabled", "");
            $("#ExaminationRoomID").removeAttr("disabled");
            $("#ExaminationSubjectID").removeAttr("disabled");


        }
        else if (rdoReportType == '4') {
            $("#DetachableHeadBagID").attr("disabled", "");
            $("#ExaminationRoomID").attr("disabled", "");
            $("#ExaminationSubjectID").attr("disabled", "");
        }
        else {
            $("#DetachableHeadBagID").removeAttr("disabled");
            $("#ExaminationRoomID").attr("disabled", "");
            $("#ExaminationSubjectID").removeAttr("disabled");
            CheckDisableDetachableHeadBag();
        }

    }

    function AjaxLoadEducation(exam) {
        $('#EducationLevelID').find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');
        $('#ExaminationSubjectID').find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');
        $('#ExaminationRoomID').find('option').remove().end().append('<option value="">@Res.Get("All")</option>').val('whatever');
        $('#DetachableHeadBagID').find('option').remove().end().append('<option value="">@Res.Get("All")</option>').val('whatever');
        smas.showProcessingDialog();
        DisableControl();
        var examinationID = $(exam).val();
        checkExam();
        controlUtils.loadComboBox(
            $("#EducationLevelID"),
            '@Url.Action("LoadEducationLevel", "ReportExam")',
        { examinationID: examinationID },
        '@Res.Get("CHOICE")'
    );
        smas.hideProcessingDialog();
    }


    function AjaxLoadExaminationRoom(EducationLevelID) {
        frmId = $(EducationLevelID).closest('form').get(0).id;
        var ExaminationSubjectID = $("#ExaminationSubjectID");
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();

        var rdo = $('input:radio[name=rdoReportType]:checked').val();
        var checkExam = $("#checkExamID").val();
        smas.showProcessingDialog();
        if (checkExam == 1 && rdo == 3) {
            controlUtils.loadComboBox(
                $("#" + frmId + " #ExaminationSubjectID"),
                '@Url.Action("AjaxLoadExaminationSubject", "ReportExam")',
            {
                idExaminationID: ExaminationID,
                idEducationLevelID: EducationLevelID
            }, '@Res.Get("CHOICE")', function () {
                var rdoReportType = $('input:radio[name=rdoReportType]:checked').val();

                if (rdoReportType == '1') {
                    CheckDisableControl();
                }
                if (rdoReportType == '3') {
                    CheckDisableDetachableHeadBag();
                }

                $("#ExaminationSubjectHidden").val($("#" + frmId + " #ExaminationSubjectID").val());
                var ExaminationSubjectHidden = $("#ExaminationSubjectHidden").val();

                controlUtils.loadComboBox(
                    $("#" + frmId + " #ExaminationRoomID"),
                    '@Url.Action("AjaxLoadExaminationRoom", "ReportExam")',
                    {
                        ExaminationSubjectHidden: ExaminationSubjectHidden,
                        idExaminationSubjectID: $(ExaminationSubjectID).val(),
                        idExaminationID: ExaminationID,
                        idEducationLevelID: EducationLevelID,
                        rdoReportType: rdo
                    }, '@Res.Get("All")'
                );
                //Kiem tra doi voi tung loai bao cao
            }
        );
            smas.hideProcessingDialog();
        }
        else {
            smas.showProcessingDialog();
            controlUtils.loadComboBox(
               $("#" + frmId + " #ExaminationSubjectID"),
               '@Url.Action("AjaxLoadExaminationSubject", "ReportExam")',
           {
               idExaminationID: ExaminationID,
               idEducationLevelID: EducationLevelID
           }, '@Res.Get("SelectRK")', function () {
               var rdoReportType = $('input:radio[name=rdoReportType]:checked').val();

               if (rdoReportType == '1') {
                   CheckDisableControl();
               }
               if (rdoReportType == '3') {
                   CheckDisableDetachableHeadBag();
               }

               $("#ExaminationSubjectHidden").val($("#" + frmId + " #ExaminationSubjectID").val());
               var ExaminationSubjectHidden = $("#ExaminationSubjectHidden").val();

               controlUtils.loadComboBox(
                   $("#" + frmId + " #ExaminationRoomID"),
                   '@Url.Action("AjaxLoadExaminationRoom", "ReportExam")',
                   {
                       ExaminationSubjectHidden: ExaminationSubjectHidden,
                       idExaminationSubjectID: $(ExaminationSubjectID).val(),
                       idExaminationID: ExaminationID,
                       idEducationLevelID: EducationLevelID,
                       rdoReportType: rdo
                   }, '@Res.Get("All")'
               );
               //Kiem tra doi voi tung loai bao cao
           }
       );
        }
        smas.hideProcessingDialog();
    }

    //Load túi phách
    function AjaxLoadDetachableHeadBag(item) {

        frmId = $(item).closest('form').get(0).id;
        var ExaminationSubjectID = $("#ExaminationSubjectID").val();
        smas.showProcessingDialog();
        controlUtils.loadComboBox(
            $("#" + frmId + " #DetachableHeadBagID"),
            '@Url.Action("AjaxLoadDetachableHeadBag", "ReportExam")',
            {
                idExaminationSubjectID: ExaminationSubjectID
            }, '@Res.Get("All")'
        );
        smas.hideProcessingDialog();
    }
    //Load phòng thi
    function AjaxLoadExaminationOnlyRoom(ExaminationSubjectID) {
        frmId = $(ExaminationSubjectID).closest('form').get(0).id;
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();
        var ExaminationSubjectHidden = $("#ExaminationSubjectHidden").val();
        smas.showProcessingDialog();
        controlUtils.loadComboBox(
            $("#" + frmId + " #ExaminationRoomID"),
            '@Url.Action("AjaxLoadExaminationRoom", "ReportExam")',
        {
            idExaminationSubjectID: $(ExaminationSubjectID).val(),
            idExaminationID: ExaminationID,
            ExaminationSubjectHidden: ExaminationSubjectHidden,
            rdoReportType: $('input:radio[name=rdoReportType]:checked').val(),
            idEducationLevelID: EducationLevelID
        }, '@Res.Get("All")'
    );

        AjaxLoadDetachableHeadBag(ExaminationSubjectID);
        smas.hideProcessingDialog();
    }

    //bo sung 12/12/2013
    function checkExam() {

        var ExaminationID = $("#ExaminationID").val();
        $.ajax({
            url: '@Url.Action("checkExam", "ReportExam")',
            data: { idExaminationID: ExaminationID },
            success: function (msg) {
                $("#checkExamID").val(msg);
                //var a = $("checkExamID").val();
                // alert(msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });

    }

</script>
