﻿@model MonitoringBookViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookYearArea.Models
@using SMAS.Web.Areas.MonitoringBookYearArea
@{
    List<MonitoringBookViewModel> paging = (List<MonitoringBookViewModel>)ViewData[MonitoringBookYearConstants.LIST_MONITORINGBOOK];
    var count = (int)ViewData["totalRecord"];

    bool chckLink = false;
    if (ViewData[MonitoringBookYearConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST] != null)
    {
        chckLink = (bool)ViewData[MonitoringBookYearConstants.CHECK_PERMISSION_VIEW_HEALTH_TEST];
    }
    
    }
 <div class="vt-ResultPanel-Title">
    <div class="vt-ResultPanel-Title-Message">
       Tìm thấy @count kết quả
    </div>
    <div class="vt-ResultPanel-Title-Button">
        @{
            if(chckLink)
            {
       @Html.ViettelButton(Res.Get("Common_Button_PrintHealth"), "button", "PrintHealth();", "")
            }
        }
    </div>
    <div class="Clear">
    </div>
</div>
@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<MonitoringBookViewModel>)ViewData[MonitoringBookYearConstants.LIST_MONITORINGBOOK])
        .Name("GridMonitoringBook")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>)
                .ClientTemplate("<#= lstInd++ #>")
                .Title(Res.Get("Common_Index_Number"))
                .HtmlAttributes(new { style = "text-align:center" })
                .Width(35);
            c.Bound(o => o.PupilCode)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .Width(182);
            c.Template(@<text>
                @{
                    if (chckLink)
                    {
                    <a id="@item.PupilID" classID="@item.ClassID" href="javascript:redirectLinkOfHealthTest(@item.PupilID,@item.ClassID);">@item.FullName</a>
                    }
                    else
                    {
                    @item.FullName
                    }
                }
            </text>)
                .ClientTemplate("<#= FillFullName(PupilID,ClassID,FullName)#>")
                .HeaderTemplate(@<text>@Res.Get("PupilProfile_Label_FullName")</text>).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);
            c.Bound(o => o.BrithDate)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .Sortable(true).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.Sex).HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .Sortable(true);
            c.Bound(o => o.ClassName)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .Title("Lớp")
                .Sortable(true);
            c.Template(@<text>
                <center>
                    @{
                        if (chckLink)
                        {
                            if (item.MonitoringBookID != null)
                {
                    <a id="@item.PupilID" classID="@item.ClassID" 
                        title="Đã ghi kết quả khám sức khỏe. Click để xem chi tiết."
                        href="javascript:redirectLinkOfDetailHealthTest(@item.MonitoringBookID);">
                        <img src="../../../../Content/images/ok_icon.png" />
                    </a>
                }
                else
                {
                    <a id="@item.PupilID" classID="@item.ClassID" href="javascript:redirectLinkOfHealthTest(@item.PupilID,@item.ClassID);">
                        @Res.Get("MonitoringBook_Label_SaveHealthTest")
                    </a>
                }
                        }
                    }
                </center>
                </text>)
                .ClientTemplate("<#= renderLink(IsAction,PupilID,ClassID,DisabledLink,MonitoringBookID) #>")
                .HeaderTemplate(@<text>@Res.Get("MonitoringBook_Column_Manipulate")</text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);

            c.Template(
                @<text><center>
                @if (item.IsAction == true)
                {
                   <input name="Check" id="Check" class="chkStatus" type="checkbox" value="@item.MonitoringBookID" title="checkedPupil" typecheck="checkbox" onclick="selectOne(this)" onkeypress="return runScript(event)"/>
                }
                else
                {
                }
                </center></text>)
                .ClientTemplate("<#= renderCheckBox(IsAction,MonitoringBookID) #>")
                .HeaderTemplate(@<text><input type="checkbox" id="chkAll"  typecheck="checkboxAll" onclick="selectOneCol(this)" onkeypress="return runScript(event)" /></text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(30);
        })

        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding"))
        .DataBinding
                (databinding => databinding.Ajax().Select("CustomBindingSearch", "MonitoringBookYear")
                )
        .DataKeys(keys => keys.Add(o => o.MonitoringBookID))
        .Pageable(p => p.PageSize(Config.PageSize)
                        .Total((int)ViewData["totalRecord"])
                        .PageTo((int)ViewData["currentPage"]))       
        .EnableCustomBinding(true)
        .Selectable()
        .Render();
           
        @Html.ViettelHidden("lstMonitoringBookID", "");           
}

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridMonitoringBook').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }
    
    function FillFullName(PupilID, ClassID, FullName) {
        var html = '';
        if ('@chckLink' == 'True') {
            html = "<a id='" + PupilID + "' classID='" + ClassID + "' href='javascript:redirectLinkOfHealthTest(" + PupilID + "," + ClassID + ");'>" + FullName + "</a>";
        }
        return html;
    }

    function renderLink(IsAction, PupilID, ClassID, DisabledLink, MonitoringBookID) {
        var htmlContent = ''
        if ('@chckLink' == 'True') {
        if (IsAction == true) { // Hoc sinh da duoc ghi ket qua kham suc khoe
            var link = document.createElement("a");
            link.setAttribute("id", PupilID);
            link.setAttribute("classID", ClassID);
            link.setAttribute("title", "Đã ghi kết quả khám sức khỏe. Click để xem chi tiết.");
            link.setAttribute("href", "javascript:redirectLinkOfDetailHealthTest(" + MonitoringBookID + ");");
            var img = document.createElement("img");
            img.setAttribute("src", "../../../../Content/images/ok_icon.png");
            link.appendChild(img);
            var div = document.createElement("div");
            var center = document.createElement("center");
            div.appendChild(center);
            center.appendChild(link);
            htmlContent = div.innerHTML;
        }
        else {
            if (DisabledLink == false) {
                //var hrefCreate = "javascript:redirectLinkOfCreateHealthTest(" + PupilID + "," + ClassID + ");";
                var hrefCreate = "javascript:redirectLinkOfHealthTest(" + PupilID + "," + ClassID + ");";
                htmlContent = '<center> <a id="' + PupilID + '" classID="' + ClassID + '" href="' + hrefCreate + '">@{@Res.Get("MonitoringBook_Label_SaveHealthTest")}</a></center>';
            }
            else {
                htmlContent = "<center>@{@Res.Get("MonitoringBook_Label_SaveHealthTest")}</center>";
            }
        }
        }
        return htmlContent;
    }

    function renderCheckBox(IsAction, MonitoringBookID) {
        var htmlContent = ''
        if (IsAction == false) {
            htmlContent = "";
        }
        else {
            htmlContent = "<center><input name=\"Check\" id=\"Check\" class=\"chkStatus\" type=\"checkbox\" value=\""+ MonitoringBookID + "\" title=\"checkedPupil\" typecheck=\"checkbox\" onclick=\"selectOne(this)\" onkeypress=\"return runScript(event)\"/></center>";
        }
        return htmlContent;
    }

    function redirectLinkOfHealthTest(pupilID, classID) {
        smas.redirect('@Url.Action("Index", "HealthTest", new { area = "HealthTestArea" })?id=' + pupilID + '&classID=' + classID);
    }

    function redirectLinkOfCreateHealthTest(pupilID, classID) {
        smas.redirect('@Url.Action("CreateHealthTest", "HealthTest", new { area = "HealthTestArea" })?id=' + pupilID + '&classID=' + classID);
    }

    function redirectLinkOfDetailHealthTest(MonitoringBookID) {
        smas.redirect('@Url.Action("DetailHealthTest", "HealthTest", new { area = "HealthTestArea" })?monitoringBookID=' + MonitoringBookID);
    }

    
    function selectOneCol(e) {
        var a = document.getElementById('chkAll').checked;
        $(".chkStatus").attr("checked", a);
        var lstMonitoringBookID = $("#lstMonitoringBookID").val();
        if (a) {
            $(".chkStatus").each(function () {
                var mID = $(this).val();
                if (lstMonitoringBookID.indexOf(mID) == -1) {
                    lstMonitoringBookID += mID + ",";
                    $("#lstMonitoringBookID").val(lstMonitoringBookID);
                }
            });
        }
        else {
            lstMonitoringBookID = "";
            $("#lstMonitoringBookID").val(lstMonitoringBookID);
        }
    }


    function selectOne(e) {

        var check = $(".chkStatus:checked").length;
        var lstMonitoringBookID = $("#lstMonitoringBookID").val();
        var mID = $(e).val();
        if (e.checked) {
            if (lstMonitoringBookID.indexOf(mID) == -1) {
                lstMonitoringBookID += mID + ",";
                $("#lstMonitoringBookID").val(lstMonitoringBookID);
            }
        }
        else {
            lstMonitoringBookID = lstMonitoringBookID.replace(mID + ",", "");
            $("#lstMonitoringBookID").val(lstMonitoringBookID);
        }

        var totalCheck = $(".chkStatus").length;
        if (check == totalCheck) {
            $("#chkAll").attr("checked", true);
        }
        else {
            $("#chkAll").attr("checked", false);
        }
    }

    function PrintHealth() {
        var lstMonitoringBookID = $("#lstMonitoringBookID").val();
        if (lstMonitoringBookID=="") {
            return false;
        }
        else {
            var n = lstMonitoringBookID.split(",");
            var txtcontent = "";
            var j = 0;
            smas.showProcessingDialog(); 
            for (var i = 0; i < n.length - 1; i++) {
                if (!isNaN(n[i])) {
                    $.ajax({
                        url: '@Url.Action("PrintDetailHealthTest", "HealthTest", new { area = "HealthTestArea" })',
                        type: 'post',
                        data: { MonitoringBookID: n[i] },
                        beforeSend: function () {
                        },
                        success: function (msg) {
                            txtcontent = txtcontent + msg;
                            j++;
                            if (j == (n.length - 1)) {
                                var content = "";
                                content = content + "<html xmlns=\"http://www.w3.org/1999/xhtml\">";
                                content = content + "<head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" /><title></title><link rel=\"stylesheet\" type=\"text/css\" href=\"../../content/common.css\" /></head>";
                                content = content + "<body><div id=\"container\"> <div id=\"content\"><div class=\"ContentSectionBtm\"> <div class=\"Content2Section\"><div class=\"GroupContentSection\"><div class=\"HomeSection\"><div class=\"CntTabSection\">";
                                content = content + txtcontent + "</div></div> </div></div></div> </div></div></body></html>";
                                var WindowObject = window.open('', '',
                        "width=1300,height=650,top=0,left=0,toolbars=no,scrollbars=yes,status=no,resizable=yes");
                                WindowObject.document.writeln(content);
                                WindowObject.document.close();
                                WindowObject.focus();
                                WindowObject.print();
                                //WindowObject.close();
                                smas.hideProcessingDialog();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    })
                }
            }

        }
    }
</script>



