﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookYearArea.Models
@{
    string labelForEducationLevel;
    if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
           || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        labelForEducationLevel = Res.Get("PupilProfile_Label_EducationLevel_MN");
    }
    else
    {
        labelForEducationLevel = Res.Get("PupilProfile_Label_EducationLevel");
    }
}
<style type="text/css">
    #SearchPanel select {
        padding:3px !important;
        width: 200px;
        font-family: Arial;
        font-size: 12px;
    }
    #SearchPanel input[type='text'] {
        width: 180px;
    }
</style>
<div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="vt-SearchPanel-Title">Thông tin tìm kiếm </div>

    @using (Ajax.BeginForm("Search",
                           "MonitoringBookYear",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstMonitoringBook",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        <div class="vt-SearchPanel-Content">
            <div class="GeneralForm SProfile2Form">
                <label class="LabelStyle Label1Style">
                    @labelForEducationLevel</label>
                @Html.ViettelEditorFor(x => x.EducationLevel, new Dictionary<string, object>() { { "class", "MySelectBoxClass" } })
                <label class="LabelStyle Label1Style">
                    @Res.Get("PupilProfile_Label_Class")</label>
                @Html.ViettelEditorFor(x => x.Class, new Dictionary<string, object>() { { "class", "MySelectBoxClass" } })
                <label class="LabelStyle Label1Style">
                    @Res.Get("PupilProfile_Label_FullName")</label>
                @Html.ViettelEditorFor(x => x.Fullname, new Dictionary<string, object>() { { "class", "InputTextStyle InputText1Style" } })
                <div class="Clear">
                </div>
                <label class="LabelStyle Label1Style">
                    @Res.Get("HealthTest_Label_HealthPeriod")</label>
                @Html.ViettelEditorFor(x => x.HealthPeriodID, new Dictionary<string, object>() { { "class", "MySelectBoxClass" } })
                <label class="LabelStyle Label1Style">
                    @Res.Get("HealthTest_Label_Status")</label>
                @Html.ViettelEditorFor(x => x.Status, new Dictionary<string, object>() { { "class", "MySelectBoxClass" }, { "onchange", "statusChanged(this)" } })
                @Html.ViettelEditorFor(x => x.IsDreding, new Dictionary<string, object>() { { "class", "InputCbxStyle InputCbx1Style" }, { "disabled", "disabled" } })
                <label class="LabelStyle">
                    @Res.Get("HealthTest_Label_IsDreding")</label>
                <div class="Clear">
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    }

</div>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }

    function statusChanged(e) {
        var vl = $(e).val();
        if (vl == 1) {
            $("#IsDreding").removeAttr("disabled");
        }
        else {
            $("#IsDreding").attr("disabled", "disabled");
            $("#IsDreding").attr("checked", false);
        }
    }

    function AjaxLoadClass(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Class"),
            '@Url.Action("AjaxLoadClass", "MonitoringBookYear")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("All")'
        );

    }
</script>
