﻿@model TopupViewModel

@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Controllers

@{
    ViewBag.Title = "Nạp thẻ";
    Layout = "~/Areas/SMSEduArea/Views/Shared/Layout.cshtml";
}
<style type="text/css">
    .GeneralInCtnSection {
    padding: 10px;
}
</style>
<div class="MainContentSectionRight">
    <div class="TitleTab1SectionBtm Title2Style bg-green">Nạp thẻ</div>
    <div class="GeneralInCtnSection">
        @if (!string.IsNullOrEmpty(ViewBag.FatalError))
        {
            <p class="message-of-error">@Html.Raw(ViewBag.FatalError)</p>
            return;
        }
        <p>
            Hệ thống chỉ chấp nhận thẻ cào Viettel. Thầy/cô cào lớp tráng bạc trên thẻ để thấy mã thẻ.
            <br />
            Thầy/cô vui lòng nhập chính xác mã số in trên thẻ. Hệ thống chỉ cho phép nhập sai 3 lần.
        </p>

        <p class="message-of-success" data-fade-out-delay="5000" data-fade-out-speed="5000">
            @Html.Raw(ViewBag.MessageOfSuccess)
        </p>
        <p class="message-of-error">
            @Html.Raw(ViewBag.MessageOfError)
        </p>
        @{Html.BeginForm("Topup", "Topup", FormMethod.Post, new {id = "frmTopup"});}
        @Html.AntiForgeryToken()
        <table class="first-col-right cell-spacing-5">
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                <tr>

                    <td>@Html.LabelFor(m => m.PinCard)<span style="color:red">*</span></td>
                    <td>
                        @Html.TextBoxFor(m => m.PinCard, new { @class = "integer" })
                        @Html.ValidationMessageFor(m => m.PinCard)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.CardSerial)<span style="color:red">*</span></td>
                    <td>
                        @Html.TextBoxFor(m => m.CardSerial, new { @class = "integer" })
                        @Html.ValidationMessageFor(m => m.CardSerial)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ConfirmationCode)<span style="color:red">*</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ConfirmationCode)
                        <img id="captcha" class="mg-t-10" alt="captcha" src="@Url.Action("Captcha", new { id = DateTime.Now.Ticks % 10000000 })" />
                        <img alt="captcha" class="mg-t-10" height="24" width="25" src="/Content/Images/btn_refesh.jpg" title="Hiển thị mã xác nhận khác"
                             onclick="javascript: $('#captcha').attr('src', $('#captcha').attr('src')+'?rf' )" />
                        <br />
                        @Html.ValidationMessageFor(m => m.ConfirmationCode)
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @{
                            EPermission per = ViewBag.PermissionOfUser == null ? EPermission.None : ViewBag.PermissionOfUser;
                            if ((per & EPermission.Create) == EPermission.Create || (per & EPermission.Edit) == EPermission.Edit || (per & EPermission.Delete) == EPermission.Delete)
                            {
                                <input type="submit" class="btn btn-info btn-round mg-t-5" value="Nạp thẻ" title="Nạp thẻ" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-info btn-round mg-t-5" value="Nạp thẻ" title="Thầy/cô không có quyền thực hiện nạp thẻ." disabled="disabled"/>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        @{Html.EndForm();}
        <form></form>
    </div>
</div>

<script type="text/javascript">
    ///////////////////////////////////////////////////////
    // Tu dong an cac thong bao loi sau 5 giay
    jQuery(function () {
        jQuery(".fade-out").each(function (index, element) {
            console.log(element);
            var delay = jQuery(element).attr("data-fade-out-delay");
            console.log(delay);
            if (!delay) delay = 5000;
            console.log(delay);
            var speed = jQuery(element).attr("data-fade-out-speed");
            console.log(speed);
            if (isNaN(speed)) speed = 5000;
            else speed = Number(speed);
            console.log(speed);
            jQuery(element).delay(delay).fadeOut(speed);
        });
    });
    ////////////////////////////////////////////////////////
    // Bao cac thong bao loi trong te span de hien thi giao din cho dung
    jQuery(function () {
        $(".field-validation-error").each(function () {
            var newInnerHTML = "<span>" + $(this).text() + "</span>";
            $(this).html(newInnerHTML);
        });
       
    });
    ////////////////////////////////////////////////////////
    // Focus vao truong dau tien bi loi

    ////////////////////////////////////////////////////////
    jQuery(function () {
        $(".integer").live("paste", function (e) {
            var element = this;
            setTimeout(function () {
                var val = $(element).val();
                var newVal = val.replace(/[^0-9\.]+/g, "");
                $(element).val(newVal);
            }, 100);
        });
    });
    ////////////////////////////////////////////////////////
    // Chan nhap chu vao cac textbox thuoc lop integer
    $("input[type=text].integer").keypress(function (e) {
        //if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 0) {
        //    return false;
        //}
        // Cac phim dieu khien
        var commandKey = [8, 9, 13, 16, 17, 18, 19, 20, 32, 33, 34, 35, 36, 37, 38, 39, 40, 44, 45, 46, 145];
        // Cac phim so
        var numberKey = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57];
        var illegal = {
            reg: [106, 111, 191, 220],
            shift: [56, 59, 188, 190, 191, 220, 222]
        };
        var eKey = e.which || e.keyCode;
        if (numberKey.indexOf(eKey) == -1 && commandKey.indexOf(eKey) == -1) return false; // Chi cho phep nhap ky so hoac cac phim lenh
        if (illegal.reg.indexOf(eKey) > -1) return false;
        if (e.shiftKey && illegal.shift.indexOf(eKey) > -1) return false;
    });
    ////////////////////////////////////////////////////////
    // Chan khong cho nhap qua so ky tu toi da
    $("[data-val-maxlength-max]").each(function () {
        if ($(this).attr("data-val-maxlength-max") != null && $(this).attr("data-val-maxlength-max") != "") {
            $(this).attr("maxlength", $(this).attr("data-val-maxlength-max"));
        }
    });
</script>
