@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MovementAcceptanceArea.Models

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "MovementAcceptance",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstMovementAcceptance",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">            
			@Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




