				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MovementAcceptanceArea.Models

@{
    ViewBag.Title = Res.Get("MovementAcceptance_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}

<div id="lstMovementAcceptance">
    @Html.Partial("_List")
</div>
<script type="text/javascript">
    function search() {
        $.ajax({
            url: '@Url.Action("Search", "MovementAcceptance")',
//            data: "SchoolID=" + $("#SchoolProfileID").val(),
            success: function (data) {
                $('#lstMovementAcceptance').html(data);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //$('#divError').html(XMLHttpRequest.responseText);
            }
        });

    }
</script>