﻿@model StatisticViewModel
@using System.Collections
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SMSEduArea.Models.StatisticsCommunication
@using SMAS.Web.Areas.SMSEduArea;
@using SMAS.Web.Utils;
@using Microsoft.Security.Application;
@using SMAS.Web.Constants;
@using SMAS.Business.BusinessObject;
@using SMAS.Business.Common.Extension;
<style>
    #GridMessageParent td {
        vertical-align:middle;
        border-bottom:1px solid #a7bac5;
        border-color:#a7bac5;
    }
</style>

@{    
    List<SMSCommunicationBO> lstSMS = new List<SMSCommunicationBO>();
    if ((List<SMSCommunicationBO>)ViewData[StatisticsCommunicationConstants.LIST_SMSPARENT] != null)
    {
        lstSMS = ((List<SMSCommunicationBO>)ViewData[StatisticsCommunicationConstants.LIST_SMSPARENT]);
    }
    int page = 1;
    if (ViewData[StatisticsCommunicationConstants.Page] != null)
    {
        page = (int)ViewData[StatisticsCommunicationConstants.Page];
    }
    int Total = 0;
    if (ViewData[StatisticsCommunicationConstants.Total] != null)
    {
        Total = (int)ViewData[StatisticsCommunicationConstants.Total];
    }
}
@Html.Hidden("Total", Total)
@{
    int index = 1;
    Html.Telerik()
           .Grid<SMSCommunicationBO>(lstSMS)
           .Name("GridMessageParent")
           .HtmlAttributes(new { })
           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { @class = "ColsTd1 AlignCCols" }).Width(40).HtmlAttributes(new { @class = "AlignCCols", style = "text-align:center" });
               c.Template(@<text>@(item.IsAdmin == true ? Res.Get("Common_Label_School") : Sanitizer.GetSafeHtmlFragment(item.TeacherSenderName))</text>).ClientTemplate("<#= FillIsAdmin(IsAdmin,TeacherSenderName)#>")
                    .Title(Res.Get("Message_Label_UserNameSend")).HtmlAttributes(new { @class = "AlignCCols NameStyle" }).Width(120);
               c.Template(@<text>
    <div onmouseover="OnMoveUpSubscriber(this)" onmouseout="OnMoveOutSubscriber(this)" SMSCommunicationID="@index">
        @item.ParentReceiverName
        <div class="ContentMsgSectionSubcriber" id="Subscriber@{@index}" style="display: none">
            <p>@item.Subscriber</p>
        </div>
    </div>
    </text>).Title(Res.Get("PupilGraduation_Label_Receiver")).HtmlAttributes(new { @class = "AlignCCols NameStyle" }).Width(170).ClientTemplate("<#=FillContentMsgParentSubscriber(ParentReceiverName,lstInd, Subscriber) #>");
               c.Template(@<text>
               
               @if(item.IsOnSchedule.HasValue)
               {
                   @(item.IsOnSchedule.Value == true ? string.Empty : item.SendTime.ToString("HH:mm dd/MM/yyyy"))
               }
               else
               {
                   @item.CreateDate.ToString("HH:mm dd/MM/yyyy")
               }
               
               
               </text>).ClientTemplate("<#= FillSendTime(IsOnSchedule, SendTime, CreateDate) #>").Title(Res.Get("HistorySMS_Label_CreateDate")).HtmlAttributes(new { @class = "AlignCCols", style = "text-align:center" }).Width(130);
               c.Bound(o => o.SMSType)
                    .Title(Res.Get("HistorySMS_Label_SMSType")).HtmlAttributes(new { @class = "AlignCCols" }).Width(100);
               c.Bound(o => o.ContentCount).Title(Res.Get("HistorySMS_Label_SMSCount2")).HtmlAttributes(new { @class = "AlignCCols"}).Width(50);
               c.Template(@<text>
    <div onmouseover="OnMoveUp(this)" onmouseout="OnMoveOut(this)" SMSCommunicationID="@index">
        @item.Content.ToShortSMSContent(60)
        <div class="ContentMsgSection" id="Content@{@index}" style="display: none">
            <p>@item.Content</p>
        </div>
    </div>
    </text>).Title(Res.Get("DisciplineType_Column_Resolution")).HtmlAttributes(new { @class = "EndCols AlignCCols" })
                  .Width(250).HeaderHtmlAttributes(new { @class = "EndCols" }).ClientTemplate("<#=FillContentMsgParent(Content,lstInd) #>");

               c.Template(@<text>
                <div onmouseover="OnMoveUpStatus(this)" onmouseout="OnMoveOutStatus(this)" SMSCommunicationID="@index">
                    @item.Status
                    @if(item.IsOnSchedule.HasValue && item.IsOnSchedule.Value==true)
                    {
                        <div class="ContentMsgSectionStatus" id="Status@{@index}" style="display: none">
                            <p>@String.Format("Tin nhắn sẽ được gửi vào lúc {0}", item.SendTime.ToString("HH:mm dd/MM/yyyy"))</p>
                        </div>
                    }
                    
                </div>
                </text>).ClientTemplate("<#=FillStatus(Status,lstInd,SendTime,IsOnSchedule) #>")
                       .Title(Res.Get("Label_Tittle_Status")).HtmlAttributes(new { @class = "AlignCCols", style = "text-align:left" }).Width(90);

           })
           .DataBinding(databingding => databingding.Ajax().Select("SearchParentSMSAjax", "StatisticsCommunication"))
           .Pageable(p => p.Enabled(true).PageSize(StatisticsCommunicationConstants.PageSize).Total(Total))
           .ClientEvents(e => e.OnDataBinding("ParentDataBinding").OnDataBound("ParentClient").OnLoad("ParentClient"))
           .EnableCustomBinding(true)     
           .Render();
}
<div id="SummarySMS" class="HistorySection">
</div>

