﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@Html.Partial("_SearchParentSMS")
<!-- grid message teacher -->
<div id = "ContentGridParentAjax" class ="t-widget t-grid" style="border:none;">
</div>
<div class="Clear">
</div>
