﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea;
@using SMAS.Web.Utils;
@using Microsoft.Security.Application;
@using SMAS.Web.Constants;
@using SMAS.Business.BusinessObject
@{
    string Visible = (string)ViewData[StatisticsCommunicationConstants.Visible];
    List<SelectListItem> classList  = (List<SelectListItem>)ViewData[StatisticsCommunicationConstants.LIST_CLASS];
    List<SMSTypeBO> smsTypeList = (List<SMSTypeBO>)ViewData[StatisticsCommunicationConstants.LIST_SMS_TYPE];
    GlobalInfo GlobalInfo = new GlobalInfo();
}
<style type="text/css">
    /*.t-icon-calendar { background-image: url("/content/images/icon_calendar.jpg") !important; background-position: top !important; }*/
    .SearchParent .BoxSelect .MySelectBoxClass {
        font-size: 12px !important;
    }
</style>

<div id="SearchParent" style="margin:0px;margin-bottom:5px;" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
    <form id="frm1">
    </form>
    <div class="vt-SearchPanel-Content panel-content-1">
        <div class="vt-control">
            <div class="editor-label">
                <label>Từ ngày</label>
            </div>
            <div class="editor-field">
                @{
                    Html.Telerik().DatePicker()
                    .Name("FromDate")
                    .Value(DateTime.Now.AddDays(-7))
                    .InputHtmlAttributes(new Dictionary<string, object> { { "style", "padding-right:0px !important;" } })
                    .TodayButton("Now")
                    .Max(DateTime.Now)
                    .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                    .Render();
                }
            </div>
        </div>
        <div class="vt-control">
            <div class="editor-label">
                <label>Đến ngày</label>
            </div>
            <div class="editor-field">
                @{
                    Html.Telerik().DatePicker()
                    .Name("ToDate")
                    .Value(DateTime.Now)
                    .InputHtmlAttributes(new Dictionary<string, object> { { "style", "padding-right:0px !important;" } })
                    .TodayButton("Now")
                    .Max(DateTime.Now)
                    .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                    .Render();
                }
            </div>
        </div>
        <div class="vt-control">
            <div class="editor-label">
                <label>Lớp học</label>
            </div>
            <div class="editor-field">
                <select name="ClassSchool" id="ClassSchool" onchange="AjaxLoadPupil()" class="MySelectBoxClass">
                <option value="">[Tất cả]</option>
                @{
                    for (int j = 0; j < classList.Count; j++)
                    {
                        <option value="@classList[j].Value">@Sanitizer.GetSafeHtmlFragment(classList[j].Text) </option>
                    }
                }
            </select>
            </div>
        </div>
        <div class="vt-control">
            <div class="editor-label">
                <label>Học sinh</label>
            </div>
            <div class="editor-field">
                <select id="PupilSchool" name="PupilSchool" class="MySelectBoxClass" >
                    <option value="">[Tất cả]</option>           
                </select>
            </div>
        </div>
        <div class="vt-control">
            <div class="editor-label">
                <label>Bản tin</label>
            </div>
            <div class="editor-field">
                <select name="SMSType" id="SMSType" class="MySelectBoxClass" >
                    <option value="">[Tất cả]</option>
                    @{
                        for (int h = 0; h < smsTypeList.Count; h++) {
                            if (GlobalInfo.AppliedLevel == 1 && (smsTypeList[h].TypeID == 25 || smsTypeList[h].TypeID == 26))
                            {
                                continue;
                            }
                            <option value="@smsTypeList[h].TypeID" iscustom ="@smsTypeList[h].IsCustom">@Sanitizer.GetSafeHtmlFragment(smsTypeList[h].Name)</option>
                        }
                     }
                </select>
            </div>
        </div>
    </div>
    <div class="vt-SearchPanel-Button">
        <input type="submit" class="btn btn-info btn-round btn-icon btn-icon-search " onclick="searchParentSMS()" value="Tìm kiếm" />
        <input type="button" id="btnExportHS" class="btn btn-info btn-round btn-icon btn-icon-excel" style="visibility: @Html.Raw((Visible == "Visible") ? "hidden" : "visible")" onclick="ExportExceltoParent()" value="Xuất excel" />
    </div>
</div>