﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea.Constants;
@using SMAS.Web.Utils;
@{
    ViewBag.Title = "Lịch sử gửi tin nhắn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo GlobalInfo = new GlobalInfo();
}
<style type="text/css">
    .ContentMsgSection {
    display: block;
    border: 1px solid #AABFD4;
    padding: 5px;
    position: absolute;
    right:-10px;
    max-width: 350px;
    max-height: 65px;
    overflow:auto;
    z-index: 100;
    background: #FFF;
}
    .ContentMsgSectionSubcriber {
    display: block;
    border: 1px solid #AABFD4;
    padding: 5px;
    position: absolute;
    left: 275px;
    max-width: 320px;
    z-index: 100;
    background: #FFF;
    word-wrap: break-word;
}
.titleRecordStatistics {
    height: 20px;
    background: #e6f2fe;
    padding: 8px;
    border: 1px solid #AABFD4;
    border-bottom: none;
}
</style>
@{
    Html.Telerik().TabStrip()
        .Name("StatisticCommunication")
        //.ClientEvents(events => events
        //                .OnSelect("onSelect")
        //                )
        .Items(Tab =>
        {
            Tab.Add()
                .Text(Res.Get("SCSMailBox_Label_FromParent"))
                .HtmlAttributes(new { id = "SendSMSToParentID" })
                .Content(@<text>
                    <div id="lstParentContent">   
                        @{Html.RenderPartial("_ListParentSMS");}               
                    </div>
        </text>);
            Tab.Add()
                 .Text(Res.Get("SCSMailBox_Label_FromTeacher"))
                 .HtmlAttributes(new { id = "SendSMSToTeacherID" })
                 .Content(@<text>
                    <div id="lstTeacherContent">    
                        @{Html.RenderPartial("_ListTeacherSMS");}              
                    </div>
        </text>);
        })
        .SelectedIndex(0)
        .Render();
}
<script lang="javascript" type="text/javascript">

    var schoolAdmin = '@Html.Raw(GlobalInfo.IsAdminSchoolRole ? "true" : "false")';
    var rolePrincipal = '@Html.Raw(GlobalInfo.IsRolePrincipal ? "true" : "false")';
    var urlAjaxLoadPupil = '@Url.Action("AjaxLoadPupil", "StatisticsCommunication")';
    var all ='@Res.Get("All")';
    var urlExportExcel = '@Url.Action("ExportExcel", "StatisticsCommunication")';
    var urlExportExceltoParent = '@Url.Action("ExportExcel", "StatisticsCommunication")';
    var senderGroup = '';
    var urlshowListReceiverPopup = '@Url.Action("ViewReceiverPopup", "StatisticsCommunication")';
    var labelFillIsAdmin = '@Res.Get("Common_Label_School")';
    var lstInd = 0;
    var isFirstTimeTab = true;
    $(document).ready(function () {
        if (schoolAdmin || rolePrincipal) {
            AjaxLoadPupil();
        }
        $('#FromDate').mask('99/99/9999');
        $('#ToDate').mask('99/99/9999');
        $('#FromDateSMS').mask('99/99/9999');
        $('#ToDateSMS').mask('99/99/9999');
        $("#TeacherSchool").css("width","");
        $("#TeacherSchool").css("height","");
    });
    function AjaxLoadPupil() {
        var classID = $('#ClassSchool').val()
        if (classID == "") {
            classID = 0;
        }
        controlUtils.loadComboBox(
                $("#PupilSchool"),
                urlAjaxLoadPupil, { ClassID: classID }, all);
    }

    //GRIDMESSAGETEACHER ONLOAD - EVENT GRID ON LOAD COMPLETE
    function GridMessageTeacher_Onload() {
        $('#GridMessageParent').find('tbody').find('tr').each(function () {
            $(this).removeClass('t-alt');
        })
    }

    //function LoadTab(thisObject, isParent) {
    //    smas.showProcessingDialog();
    //    //load phhs
    //    if (isParent == true) {
    //        $('.GenaralInfoSection').find('.MenuTabSection').find('a').removeClass('Active');
    //        $(thisObject).addClass('Active');
    //        $('#lstTeacherContent').hide();
    //        $('#lstParentContent').show();
    //    }
    //        //load giao vien
    //    else {
    //        $('.GenaralInfoSection').find('.MenuTabSection').find('a').removeClass('Active');
    //        $(thisObject).addClass('Active');
    //        $('#lstTeacherContent').show();
    //        $('#lstParentContent').hide();
    //    }
    //    smas.hideProcessingDialog();
    //}
    //function ViewTranscript(tab, thisObject) {
    //    if (tab == 1) {
    //        smas.showProcessingDialog();
    //        $('.SemesterList').find('a').removeClass('Active')
    //        $(thisObject).addClass('Active');
    //        $('#lstTeacherContent').hide();
    //        $('#lstParentContent').show();
    //        smas.hideProcessingDialog();
    //    } else if (tab == 2) {
    //        smas.showProcessingDialog();
    //        $('.SemesterList').find('a').removeClass('Active')
    //        $(thisObject).addClass('Active');
    //        $('#lstTeacherContent').show();
    //        $('#lstParentContent').hide();
    //        smas.hideProcessingDialog();
    //    }
    //}

    function ParentDataBinding(e) {
        var flag = false;
        smas.showProcessingDialog();
        var total = $('#Total').val();
        var ClassSchool = $('#ClassSchool').val();
        var PupilSchool = $('#PupilSchool').val();
        var SMSTypeID = $('#SMSType').val();
        if (PupilSchool == null || PupilSchool.length == 0) {
            PupilSchool = 0;
        }
        if (ClassSchool == null || ClassSchool.length == 0) {
            ClassSchool = 0;
        }
        if (SMSTypeID == null || SMSTypeID.length == 0) {
            SMSTypeID = 0;
        }
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        FromDate = dateUtils.ConvertDateUS(FromDate);
        ToDate = dateUtils.ConvertDateUS(ToDate);

        var IsCustomType;
        if ($('#SMSType').find('option:selected').attr("iscustom") == 'True') {
            IsCustomType = 1;
        }
        else if ($('#SMSType').find('option:selected').attr("iscustom") == 'False') {
            IsCustomType = 0;
        }
        else {
            IsCustomType = -1;
        }


        var grid = $('#GridMessageParent').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = { FromDate: FromDate, ToDate: ToDate, ClassSchool: ClassSchool, PupilSchool: PupilSchool, SMSTypeID: SMSTypeID, total: total, Flag: flag, isCustomType: IsCustomType };
    }

    /* SearchTeacherSMS Page  */
    function Grid_onCommand(e) {

    }
    function search() {
        $("#frmSearchTeacher input[type='submit']").click();
    }
    function onSuccess(data) {
        $('#ContentGridTeacherAjax').html(data);
    }
    function clientDataBound() {
        smas.hideProcessingDialog();
    }
    function clientDataBind(e) {
        if (!isFirstTimeTab) {
            smas.showProcessingDialog();
            var ContactGroupID = $('#ContactGroup').val();
            var teacherID = $('#TeacherSchool').val();
            if (teacherID == null || teacherID.length == 0) {
                teacherID = "";
            }
            if (ContactGroupID == null || ContactGroupID.length == 0) {
                ContactGroupID = 0;
            }
            var FromDate = $('#FromDateSMS').val();
            var ToDate = $('#ToDateSMS').val();
            var grid = $('#GridMessageTeacher').data('tGrid')
            FromDate = dateUtils.ConvertDateUS(FromDate);
            ToDate = dateUtils.ConvertDateUS(ToDate);
            lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

            e.data = { ContactGroupID: ContactGroupID, teacherID: teacherID, FromDate: FromDate, ToDate: ToDate };
        }
        else {
            isFirstTimeTab = false;
            e.preventDefault();
        }
    }

    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1], mdy[0]);
    }
    function searchTeacherSMS() {

        if (!validateUtils.isDate($('#FromDateSMS').val())) {
            $('#FromDate').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Từ ngày không hợp lệ");
            return false;
        }
        if (!validateUtils.isDate($('#ToDateSMS').val())) {
            $('#ToDateSMS').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Đến ngày không hợp lệ");
            return false;
        }
        var fDate = parseDate($('#FromDateSMS').val()).getTime();
        var tDate = parseDate($('#ToDateSMS').val()).getTime();
        if (fDate > tDate) {
            $('#FromDateSMS').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Từ ngày phải nhỏ hơn Đến ngày");
            return false;
        }
        var ContactGroupID = $('#ContactGroup').val();
        var teacherID = $('#TeacherSchool').val();
        if (teacherID == null || teacherID.length == 0) {
            teacherID = "";
        }
        $('#FromDateSMS').removeClass('t-state-error');
        $('#ToDateSMS').removeClass('t-state-error');
        var FromDate = $('#FromDateSMS').val();
        var ToDate = $('#ToDateSMS').val();
        FromDate = dateUtils.ConvertDateUS(FromDate);
        ToDate = dateUtils.ConvertDateUS(ToDate);
        
        $.ajax({
            url: '@Url.Action("_GridTeacherSMS", "StatisticsCommunication")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            data: { ContactGroupID: ContactGroupID, teacherID: teacherID, FromDate: FromDate, ToDate: ToDate },
            datatype: 'html',
            beforeSend: function ()
            {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#ContentGridTeacherAjax').html(data);
                if ($('#GridMessageTeacher').find('.t-no-data').length > 0) {
                    $('#btnExportGV ').css("visibility", "hidden");
                }
                else {
                    $('#btnExportGV ').css("visibility", "visible");
                }
                smas.hideProcessingDialog();
            },
            error: function (jqXMLHttpRequest, textStatus, errorThrown) {
                smas.alert(jqXMLHttpRequest.responseText);
            }
        });
    }
    function ExportExcel() {
        smas.showProcessingDialog();
        var ContactGroupID = $('#ContactGroup').val();
        var teacherID = $('#TeacherSchool').val();
        if (teacherID == null || teacherID.length == 0) {
            teacherID = "";
        }
        var FromDate = $('#FromDateSMS').val();
        var ToDate = $('#ToDateSMS').val();
        FromDate = dateUtils.ConvertDateUS(FromDate);
        ToDate = dateUtils.ConvertDateUS(ToDate);
        $.ajax({
            url: '@Url.Action("CreateExceltoTeacher", "StatisticsCommunication")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            data: { ContactGroupID: ContactGroupID, teacherID: teacherID, FromDate: FromDate, ToDate: ToDate },
            datatype: 'html',
            success: function (data) {
                clientDataBound();
                if (data) {
                    $("#frm1").attr("action", urlExportExcel + '?fileKey=' + data);
                    $("#frm1").attr("method", "post");
                    $("#frm1").submit();
                }
                else {
                    smas.alert("Xuất excel không thành công.");
                }
            },
            error: function (jqXMLHttpRequest, textStatus, errorThrown) {
                smas.alert(jqXMLHttpRequest.responseText);
            }
        });

    }

    /*SearchParentSMS page*/

    function search() {
        $("#frmSearchParent input[type='submit']").click();
    }
    function onSuccess(data) {
        $('#ContentGridParentAjax').html(data);
    }
    function ParentClient() {//sự kiện cho cả OnDatabound và onload trên Grid
        smas.hideProcessingDialog();
    }
    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1], mdy[0]);
    }
    function searchParentSMS() {

        if (!validateUtils.isDate($('#FromDate').val())) {
            $('#FromDate').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Từ ngày không hợp lệ");
            return false;
        }
        if (!validateUtils.isDate($('#ToDate').val())) {
            $('#ToDate').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Đến ngày không hợp lệ");
            return false;
        }
        var fDate = parseDate($('#FromDate').val()).getTime();
        var tDate = parseDate($('#ToDate').val()).getTime();
        if (fDate > tDate) {
            $('#FromDate').addClass('t-input InputTextStyle InputText2Style t-state-error');
            smas.alert("Từ ngày phải nhỏ hơn Đến ngày");
            return false;
        }
        var flag = true;
        var ClassSchool = $('#ClassSchool').val();
        var PupilSchool = $('#PupilSchool').val();
        var SMSTypeID = $('#SMSType').val();
        var IsCustomType;
        if ($('#SMSType').find('option:selected').attr("iscustom") == 'True') {
            IsCustomType = 1;
        }
        else if ($('#SMSType').find('option:selected').attr("iscustom") == 'False') {
            IsCustomType = 0;
        }
        else {
            IsCustomType = - 1;
        }

        if (PupilSchool == null || PupilSchool.length == 0) {
            PupilSchool = 0;
        }
        if (ClassSchool == null || ClassSchool.length == 0) {
            ClassSchool = 0;
        }
        if (SMSTypeID == null || SMSTypeID.length == 0) {
            SMSTypeID = 0;
        }
        $('#FromDate').removeClass('t-state-error');
        $('#ToDate').removeClass('t-state-error');
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        FromDate = dateUtils.ConvertDateUS(FromDate);
        ToDate = dateUtils.ConvertDateUS(ToDate);
        $.ajax({
            url: '@Url.Action("_GridParentSMS", "StatisticsCommunication")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            beforeSend: function ()
            {
                smas.showProcessingDialog();
            },
            data: { FromDate: FromDate, ToDate: ToDate, ClassSchool: ClassSchool, PupilSchool: PupilSchool, SMSTypeID: SMSTypeID, Flag: flag, IsCustomType: IsCustomType },
            datatype: 'html',
            success: function (data) {
                $('#ContentGridParentAjax').html(data);
                if ($('#GridMessageParent').find('.t-no-data').length > 0) {
                    $('#btnExportHS').css("visibility", "hidden");
                }
                else {
                    $('#btnExportHS').css("visibility", "visible");
                }
                smas.hideProcessingDialog();
            },
            error: function (jqXMLHttpRequest, textStatus, errorThrown) {
                smas.alert(jqXMLHttpRequest.responseText);
            }
        });
    }
    function ExportExceltoParent() {
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        fromDate = dateUtils.ConvertDateUS(fromDate);
        toDate = dateUtils.ConvertDateUS(toDate);
        var classID = $('#ClassSchool').val();
        var pupilFileID = $('#PupilSchool').val();
        var SMSTypeID = $('#SMSType').val();
        $.ajax({
            url: '@Url.Action("ExportExceltoParent", "StatisticsCommunication")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { fromDate: fromDate, toDate: toDate, classID: classID, pupilID: pupilFileID, SMSTypeID: SMSTypeID },
            datatype: 'html',
            success: function (data) {
                smas.hideProcessingDialog();
                if (data) {
                    $("#frm1").attr("action", urlExportExceltoParent + '?fileKey=' + data);
                    $("#frm1").attr("method", "post");
                    $("#frm1").submit();
                }
                else {
                    smas.alert("Xuất excel không thành công.");
                }
            },
            error: function (jqXMLHttpRequest, textStatus, errorThrown) {
                smas.alert(jqXMLHttpRequest.responseText);
            }
        });
    }

    /* ListReceiverPopup */

    function showReceiverBinding(e) {
        e.data = { senderGroup: $(e.currentTarget).attr('senderGroup') };
    }

    function loadGrid() {
        if (senderGroup != '') {
            $.ajax({
                url: '@Url.Action("ViewReceiverGrid","StatisticsCommunication")',
                type: 'post',
                xhrFields: {
                    withCredentials: true
                },
                data: { senderGroup: senderGroup },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    smas.hideProcessingDialog();
                    $('#gridReceiver' + senderGroup).html(data);
                    smas.openDialog(senderGroup, "", {});
                },
                error: function () {
                    smas.hideProcessingDialog();
                    clientDataBound();
                }
            });
        }
    }

    /* GridTeacherSMSM */
    function FillIsAdminTeacherSMS(IsAdmin, TeacherSenderName, SenderID) {
        var htmlContent = '';
        htmlContent += (IsAdmin == true && SenderID == 0) ? labelFillIsAdmin : TeacherSenderName;
        return htmlContent;
    }
    function FillContent(Content, SMSCommunicationID) {
        var html = "";
        var strDot = Content.length > 60 ? '...' : '';
        html += '<div onmouseover="OnMoveUp(this)" onmouseout="OnMoveOut(this)" SMSCommunicationID=' + SMSCommunicationID + '>' + stringUtils.ToShortSMSContentChar(Content, 60) + strDot + '<div class="ContentMsgSection" id="Content' + SMSCommunicationID + '" style="display: none"><p>' + Content + '</p></div></div>'
        return html;
    }
    function FillUrl(ContactGroupName, SenderGroup) {
        var html = "";
        html += '<a href="javascript:" onclick="showListReceiverPopup(\'' + SenderGroup + '\')">' + ContactGroupName + '</a>';
        return html;
    }
    function OnMoveUp(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Content' + CommunicationID).css('display', 'block');
    }

    function clientDataBound() {
        smas.hideProcessingDialog();
    }
    function OnMoveOut(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Content' + CommunicationID).css('display', 'none');
    }
    function FillDate(DateTime) {
        return dateUtils.convertDateTime(DateTime);
    }
    function renderDate(createDate) {
        var htmlContent = [];
        htmlContent.push('<span>');
        htmlContent.push(dateUtils.convertDateTime(createDate, 'hh:mm dd/MM/yyyy'));
        htmlContent.push('</span>');
        return htmlContent.join('');
    }
    //SHOW LIST RECEIVER BY SENDER GROUP - ONCLICK CONTACTGROUP EVENT
    function showListReceiverPopup(senderGroup) {
        if ($('#' + senderGroup).length > 0) {
            smas.openDialog(senderGroup, "", {});
        }
        else {
            this.senderGroup = senderGroup;
            $.ajax({
                type: 'post',
                xhrFields: {
                    withCredentials: true
                },
                url: urlshowListReceiverPopup,
                data: { senderGroup: senderGroup },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    $('body').append(data);
                    loadGrid();
                },
                error: function (xmlHttpRequest, status, throwError) {
                    smas.hideProcessingDialog();
                }
            });
        }
    }
    //ONCLOSE POPUP RECEIVER CALL CLOSE IFRAME FUNTION - ONCLICK BUTTON CLOSE EVENT
    function onClosePopupReceiver() {
        smas.closeDialogIframe();
    }
    //CLOSE POPUP RECEIVER - ONCLICK BUTTON EVENT
    function closePopupReceiver() {
        $('.t-window').find('.t-header').find('.t-close').click();
    }

    /* GridParentSMS */

    function OnMoveUp(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Content' + CommunicationID).css('display', 'block');
    }

    function OnMoveOut(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Content' + CommunicationID).css('display', 'none');
    }
    function OnMoveUpSubscriber(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Subscriber' + CommunicationID).css('display', 'block');
    }

    function OnMoveOutSubscriber(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Subscriber' + CommunicationID).css('display', 'none');
    }

    function OnMoveUpStatus(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Status' + CommunicationID).css('display', 'block');
    }

    function OnMoveOutStatus(tdData) {
        var CommunicationID = $(tdData).attr('SMSCommunicationID');
        $('#Status' + CommunicationID).css('display', 'none');
    }

    function FillContentMsgParent(Content, SMSCommunicationID) {
        var html = "";
        var strDot = Content.length > 60 ? '...' : '';
        html += '<div onmouseover="OnMoveUp(this)" onmouseout="OnMoveOut(this)" SMSCommunicationID=' + SMSCommunicationID + '>' + stringUtils.ToShortSMSContentChar(Content, 60) + strDot + '<div class="ContentMsgSection" id="Content' + SMSCommunicationID + '" style="display: none"><p>' + Content + '</p></div></div>'
        return html;
    }
    function FillContentMsgParentSubscriber(Content, SMSCommunicationID, Subscriber) {
        var html = "";
        html += '<div onmouseover="OnMoveUpSubscriber(this)" onmouseout="OnMoveOutSubscriber(this)" SMSCommunicationID=' + SMSCommunicationID + '>' + Content + '<div class="ContentMsgSectionSubcriber" id="Subscriber' + SMSCommunicationID + '" style="display: none"><p>' + Subscriber + '</p></div></div>'
        return html;
    }
    function FillDate(DateTime) {
        return dateUtils.convertDateTime(DateTime);
    }
    function FillIsAdmin(IsAdmin, TeacherSenderName) {
        var htmlContent = '';
        htmlContent += IsAdmin == true ? labelFillIsAdmin : TeacherSenderName;
        return htmlContent;
    }
    function FillStatus(Status, SMSCommunicationID, SendTime, IsOnSchedule) {
        var html = "<div onmouseover='OnMoveUpStatus(this)' onmouseout='OnMoveOutStatus(this)' SMSCommunicationID='"
        + SMSCommunicationID + "'>"
        + Status;
        if (IsOnSchedule == true) {
            html += "<div class='ContentMsgSectionStatus' id='Status" + SMSCommunicationID + "' style='display: none'>"
            + "<p>Tin nhắn sẽ được gửi vào lúc " + renderDate(SendTime) + "</p>"
            + "</div>";
        }

        html += "</div>";

        return html;
    }

    function FillSendTime(IsOnSchedule, SendTime, CreateDate) {
        var content;
        if (IsOnSchedule != null) {
            if (IsOnSchedule == true) {
                content = "";
            }
            else {
                content = renderDate(SendTime);
            }
        }
        else {
            content = renderDate(CreateDate);
        }

        return content;
    }

    function renderDate(createDate) {
        var htmlContent = [];
        htmlContent.push('<span>');
        htmlContent.push(dateUtils.convertDateTime(createDate, 'hh:mm dd/MM/yyyy'));
        htmlContent.push('</span>');
        return htmlContent.join('');
    }

    function ValidateTextBox(obj) {
        var value = obj.value;
        if (value != '') {
            obj.value = $.trim(value)
        }
    }
</script>