﻿@model EmployeeBreatherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeBreatherArea.Models

@{
    var nowdate = DateTime.Now.Date.ToShortDateString();
}

<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
    @using (Ajax.BeginForm("InsertOrUpdate",
                       "EmployeeBreather",
                       new { area = "EmployeeBreatherArea" },
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateEmployeeBreather"
                       },
                       new { id = "frmBreatherCreate" }
                       ))
    {
      <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            <input type="hidden" name="TeacherID" id="TeacherID" />
            <input type="hidden" name="EmployeeBreatherID" id="EmployeeBreatherID" />
            <input type="hidden" name="EmployeeName" id="EmployeeName" />           
            @Html.ViettelEditorFor(o => o.DateBreather)
            @Html.ViettelEditorFor(o => o.VacationReasonID)
            @Html.ViettelEditorFor(o => o.Note)            
        </div>
        <div class="vt-EditorPanel-Button">
            <input type="button" class="t-button" name="btnSave" id="btnSave" value="@Res.Get("Common_Button_Save")" onclick="return ValidateBreather()" />
            <input type="submit" style="display:none" />
            @*@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")*@
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('breatherCreateDialog');", " btn btn-basic btn-round")
        </div>
    }
</div>
<script type="text/javascript">
    function CreateEmployeeBreather(msg) {
        smas.alert(msg.Message);
        if (msg.Type == 'success') {
            setTimeout(function () { smas.closeDialog('breatherCreateDialog'); }, 300);
            setTimeout(function () { search(); }, 1000);
        }
    }
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmBreatherCreate"));
    });

    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1] - 1, mdy[0]);
    }

    function ValidateBreather() {
        var DateBreather = $("#frmBreatherCreate #DateBreather").val();
        var ReasonBreather = $("#frmBreatherCreate #ReasonBreather").val();

      
        if ($('#frmBreatherCreate .DateBreather .field-validation-error span').length == 1) {
            $("#frmBreatherCreate .DateBreather .field-validation-error span").remove()
        }

        if ($('#frmBreatherCreate .ReasonBreather .field-validation-error span').length == 1) {
            $("#frmBreatherCreate .ReasonBreather .field-validation-error span").remove()
        }

        if (DateBreather == '') {
            $("#frmBreatherCreate .DateBreather .field-validation-valid").attr("class", "field-validation-error");
            $("#frmBreatherCreate .DateBreather .field-validation-error").append('<span class="" for="DateBreather" generated="true">Ngày tạm nghỉ không được để trống</span>')
            return;
        }
        if (validateUtils.isDate(DateBreather) == false) {
            $("#frmBreatherCreate .DateBreather .field-validation-valid").attr("class", "field-validation-error");
            $("#frmBreatherCreate .DateBreather .field-validation-error").append('<span class="" for="DateBreather" generated="true">Ngày tạm nghỉ không hợp lệ</span>');
            return;

        }      

        if (ReasonBreather == '')
        {
            $("#frmBreatherCreate .ReasonBreather .field-validation-valid").attr("class", "field-validation-error");
            $("#frmBreatherCreate .ReasonBreather .field-validation-error").append('<span class="" for="DateBreather" generated="true">Lý do tạm nghỉ không được để trống</span>')
            return;
        }
        $("#frmBreatherCreate input[type='submit']").click();
    }  
   
</script>

