﻿@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EducationProgramArea.Models
@using SMAS.Web.Areas.EducationProgramArea
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EducationProgramArea.Models
@using SMAS.Web.Areas.EducationProgramArea
@using SMAS.Business.BusinessObject
@using SMAS.Models.Models
@using SMAS.Business.Business
@{
    ViewBag.Title = Res.Get("EducationProgram_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Save",
                           "EducationProgram",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
        @Html.AntiForgeryToken()
<div id="SearchPanel" >
    @Html.Partial("_Search")
</div>

<div class="education-program-page" id="lstEducationProgram">
    @Html.Partial("_List")
</div>
}
<script type = "text/javascript">
    $(document).ready(function () {
        $('#IsGDTX').attr("OnChange", "search()");
    });

    function CreateSuccess(msg) {

        smas.alert('@Res.Get("Common_Label_AddNewMessage")');
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>

