﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PupilProfileReportArea
@using SMAS.Web.Areas.ReportMenuChildrenArea
<form id ="frmPupilOfClassReport">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" id ="PupilOfClassReportID">
     <div class="vt-SearchPanel-Title">
         @Res.Get("Danh sách trẻ diện chính sách")
     </div>
    <div class="vt-SearchPanel-Content row no-margin">
        <div class="col-md-6 col-sm-10">
        @Html.ViettelCombobox(
            Res.Get("EvaluationDevelopment_Label_EducationLevel_MN"), 
            "EducationLevelID", 
            (IEnumerable<SelectListItem>)ViewData[TheStatisticsPupilCountContans.LIST_EDUCATIONLEVEL],
            GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() {{ "onchange", "LoadClass();" }}
            , false, false)
            </div>
        <div class="col-md-6 col-sm-10">
        @Html.ViettelCombobox(
            Res.Get("PupilAway_ClassProfile_Label_AllTitle"), 
            "ClassID", new List<SelectListItem>(), 
            SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, 
            new Dictionary<string, object> { {"disabled","disabled"} }, 
            true, false)
            </div>
    </div>
    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()","btn btn-info btn-icon btn-round btn-icon-excel")
        @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn btn-info btn-round btn-icon btn-icon-pdf")
    </div>
</div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>

<div style="text-align:center">     
    <iframe style ="width:100%;height:600px;" src="/HtmlTemplate/TRE_MN_TKTreChinhSach/TRE_MN_TKTreChinhSach.htm">
    </iframe>
</div>

<script>
    function ExportExcel() {
        var educationLevelID = $('#EducationLevelID').val();
        var classID = $('#ClassID').val();;
        var downloadUrl = '@Url.Action("ExportExcel", "PupilOfClassReport")';
        downloadUrl += '?educationLevelID=' + educationLevelID;
        downloadUrl += '&classID=' + classID;
        window.open(downloadUrl);
    }
    //load Lop
    function LoadClass() {
        var eduId = $("#PupilOfClassReportID #EducationLevelID").val();
        if (eduId > 0) {
            $('#ClassID').removeAttr('disabled');
            $.ajax({
                url: '@Url.Action("LoadClass", "ChildrenPolicyReport")',
                type: 'post',
                data: { eduId: eduId },
                success: function (data) {
                    $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
            } else {
                $('#ClassID').attr('disabled', 'disabled');
                $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
        }
    }
    function SubmitClick() {
        smas.getReport('frmPupilOfClassReport', '@Url.Action("GetChildrenPolicyReport", "ChildrenPolicyReport")',
        '@Url.Action("GetNewReport", "ChildrenPolicyReport")', '@Url.Action("DownloadReport", "ChildrenPolicyReport")');
    }

    function SubmitPDFClick() {
        var blank = '_blank';
        smas.getReportDocument('frmPupilOfClassReport', '@Url.Action("GetChildrenPolicyReport", "ChildrenPolicyReport")',
        '@Url.Action("GetNewReport", "ChildrenPolicyReport")', '@Url.Action("DownloadPDFReport", "ChildrenPolicyReport")', blank);
    }
</script>
