﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DataRollbackArea.Models
@using SMAS.Web.Areas.DataRollbackArea
@{
    GlobalInfo globalInfo = new GlobalInfo();
}

@using (Ajax.BeginForm("Search",
                                                   "DataRollback",
                                                   new AjaxOptions
                                                   {
                                                       HttpMethod = "post",
                                                       UpdateTargetId = "listResult",
                                                       OnBegin = "smas.showProcessingDialog",
                                                       OnComplete = "smas.hideProcessingDialog",
                                                       OnFailure = "CreateFail"
                                                   },
                                                   new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.DataType)
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.RollbackState)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.FromDate)
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ToDate)
                </div>
            </div>
            <div>
                <div>
                    @if (globalInfo.IsSystemAdmin)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.ViettelEditorFor(model => model.ProvinceId)
                            </div>
                            <div class="col-md-6">
                                @Html.ViettelEditorFor(model => model.DistrictId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="vt-control SchoolId" id="SchoolIdWrapper">
                                    <div class="editor-label">
                                        Trường<span style="color: red">*</span>
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Telerik().ComboBoxFor(model => model.SchoolId)
                                                                .BindTo(new SelectList((IEnumerable<KeyValuePair<int, string>>)ViewData[DataRollbackConstants.CBO_SCHOOL], "Key", "Value"))
                                                        .AutoFill(false)
                                                        .Placeholder("a")
                                                        .HtmlAttributes(new Dictionary<string, object> {  })
                                                        .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.Contains))
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="ProvinceId" value="0" />
                        <input type="hidden" name="DistrictId" value="0" />
                        <input type="hidden" name="SchoolId" value="0" />
                    }
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            <input type="submit" id="btnSubmit" style="display: none;" />
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "button", "return validateSearch();", "btn btn-info btn-round btn-bold btn-icon btn-icon-search")
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#SchoolId-input").attr("placeholder", "Nhập tên trường");
    });
    function onProvinceChange() {
        var provinceId = $("#frmSearch").find("#ProvinceId").val();
        controlUtils.loadComboBox(
                     $("#DistrictId"),
                    '@Url.Action("AjaxLoadDistrict", "DataRollback")',
                                { provinceId: provinceId },
                                '@Res.Get("CHOICE")', function () { $("#DistrictId").change() })
                            };

                            function onDistrictChange() {
                                var provinceId = $("#frmSearch").find("#ProvinceId").val();
                                var districtId = $("#frmSearch").find("#DistrictId").val();

                                var data = {
                                    provinceId: provinceId,
                                    districtId: districtId
                                };

                                ajaxPostUpdateDiv('@Url.Action("AjaxLoadSchool")', data, "SchoolIdWrapper", null);
    };

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (data.type == '@JsonMessage.ERROR') {
                    smas.alertColor(XMLHttpRequest.responseText, 'red');
                } else {
                    smas.alert(XMLHttpRequest.responseText);

                }

                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
        };

        function search() {


            $("#frmSearch input[type='submit']").click();
        }
        function CreateFail(ajaxContext) {

            smas.alert(ajaxContext.responseText);
        }

        function validateSearch() {
            var FromDate = $("#frmSearch").find("#FromDate").val();
            var ToDate = $("#frmSearch").find("#ToDate").val();
            var SchoolId = $("#frmSearch").find("#SchoolId").val();
            if (!validateUtils.IsValidDate(FromDate)) {
                smas.alertColor('Thông tin tìm kiếm không hợp lệ, vui lòng kiểm tra lại', 'red');
                return false;
            }
            if (ToDate != '' && !validateUtils.IsValidDate(FromDate)) {
                smas.alertColor('Thông tin tìm kiếm không hợp lệ, vui lòng kiểm tra lại', 'red');
                return false;
            }
            if (FromDate != '' && ToDate != '' && dateUtils.ParseDate(FromDate) > dateUtils.ParseDate(ToDate)) {
                smas.alertColor('Thông tin tìm kiếm không hợp lệ, vui lòng kiểm tra lại', 'red');
                return false;
            }

            if (SchoolId == '' || SchoolId == 0) {
                smas.alertColor('Thông tin tìm kiếm không hợp lệ, vui lòng kiểm tra lại', 'red');
                return false;
            }

            $("#frmSearch input[type='submit']").click();
            return true;
        }

</script>




