﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DataRollbackArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="listResult">
    
</div>
@(Html.Telerik().Window()
                .Name("ConfirmDialog")
                .Title(Res.Get("Khôi phục dữ liệu"))
                .Content(@<text>@string.Empty</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(615)
                .Height(370).ContentHtmlAttributes(new { style = "min-width: 600px;"})
)
