﻿@model List<DeclareEvaluationCriteriaViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DeclareEvaluationCriteriaArea
@using SMAS.Web.Areas.DeclareEvaluationCriteriaArea.Models
@using SMAS.Business.Common
@{      
    bool isCheckAll = false;
    string checkedAll = isCheckAll ? "checked" : String.Empty;

    var lstIsCheck = Model.Where(x => x.IsCheck == true).ToList();
}

<style type="text/css">
    .txtComment {
        height: 50px;
    }

    #Grid td {
        background: white;
    }
</style>

<div class="vt-ResultPanel mg-t-10 mg-b-10">
    @{

        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("Grid")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number"))
                    .HtmlAttributes(new { style = "text-align:center" }).Width(30);
                c.Bound(o => o.EvaluationCode).Title(Res.Get("Mã")).HtmlAttributes(new { style = "text-align:left", @class = "txtComment" }).Width(70);
                c.Bound(o => o.EvaluationName).Title(Res.Get("Chỉ số (mục tiêu)")).HtmlAttributes(new { style = "text-align:left", @class = "txtComment" }).Width(200);
                c.Bound(o => o.EvaluationGroupName).Title(Res.Get("Lĩnh vực")).HtmlAttributes(new { style = "text-align:left", @class = "txtComment" }).Width(80);
                c.Template(@<text>@{
                    <label class="custom-checkbox no-padding">
                        <input type="checkbox" class="checkedIds_@(item.DeclareEducatioIndexID)" value="@item.DeclareEducatioIndexID" @(item.IsCheck ? "checked='checked'" : "") />                                   
                        <span class="checkmark"></span>
                    </label>
                    <input type="text" style="display:none" class="declareEducatioIndexID" value="@item.DeclareEducatioIndexID" />
                }</text>)
                .HeaderTemplate(@<text>
        @if (Model.Count() > 0)
        { 
            <label class="custom-checkbox no-padding">
                <input type ="checkbox" @(lstIsCheck.Count() == Model.Count() ? "checked='checked'" : "") id="chekAll" onclick ="OnClickAllSystem(this)" />
                <span class="checkmark"></span>
            </label> 
         }
        </text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            })
            .DataKeys(keys => keys.Add(o => o.EvaluationDevelopmentID))
            .Scrollable(u => u.Height(350))
            .Selectable()
            .Render();    
    }
</div>


<script>
    $(document).ready(function () {
        var count = 0;
        $('#Grid').find('.checkedIds:enabled:checked').each(function () {
            count = count + 1;
        });
    });


    function GetDataMultiClass(classSelected, typeMulti) {
        $("#frmSearch #ClassIDMulti").val(classSelected);
        AppliedEvaluation(typeMulti);
    }


    function AppliedEvaluation(typeChoose) {

      
        //$('#Grid').find('.checkedIds:enabled:checked').each(function () {
        //    var val = $(this).closest("td").find(".declareEducatioIndexID").val();
        //    arrayDeclareEvaluationIndexIDApply += val + ",";
        //});

        var arrayDeclareEvaluationIndexIDApply = "";
        var arrayDeclareEvaluationIndexIDDelete = "";
        $('#Grid').find('input[class^="checkedIds_"]').each(function () {
            if ($(this).is(":checked")) {
                arrayDeclareEvaluationIndexIDApply += $(this).attr('value') + ",";
            }
            else {
                arrayDeclareEvaluationIndexIDDelete += $(this).attr('value') + ",";
            }         
        });

        var arrayClassID = $("#frmSearch #ClassIDMulti").val();
        $.ajax({
            url: '@Url.Action("AppliedEvaluationForClass", "DeclareEvaluationCriteria")',
                type: 'post',
                data: {
                    educationLevelID: $("#frmSearch #EducationLevelID").val(),
                    arrayClassID: arrayClassID,
                    arrayDeclareEvaluationIndexIDApply: arrayDeclareEvaluationIndexIDApply,
                    arrayDeclareEvaluationIndexIDDelete: arrayDeclareEvaluationIndexIDDelete
                },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.hideProcessingDialog();
                    if (msg.Type == 'error') {
                        smas.alertColor(msg.Message, "red");
                    }
                    else {
                        smas.alertColor(msg.Message, "green");
                    }

                    if (typeChoose == 2) {
                        smas.closeDialog("AppliedMultiClass");
                    }
                    LoadGrid();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        };

        $("#Grid").find('#chekAll').click(function () {
            $(this).parents('#Grid').find(':checkbox').attr('checked', this.checked);
        });

        $("#Grid").find('input[class^="checkedIds_"]').change(function () {
            if ($("#Grid").find('input[class^="checkedIds_"]:not(:checked)').length == 0) {
                $('#Grid #chekAll').attr('checked', true);
            }
            else {
                $('#Grid #chekAll').attr('checked', false);
            }
        });
</script>
