﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportAbsencePupilForSupArea
@using SMAS.Web.Areas.ReportAbsencePupilForSupArea.Models
@model SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
     GlobalInfo glo = new GlobalInfo();
}
@{
    using (Html.BeginForm("ExportExcel", "ReportAbsencePupilForSup", FormMethod.Post, new { id = "frmEmisReport" }))
            {
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
                <div class="vt-SearchPanel-Title">Báo cáo học sinh nghỉ học</div>
                <div class="vt-SearchPanel-Content">
                    <div>
                        <div id="Report">
                            <fieldset style="padding-bottom:21px;padding-top:22px">
                               <legend>Loại báo cáo</legend>
                                @Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> { { "onchange", "ReportTypeChange(this)" } }, (List<ViettelCheckboxList>)ViewData[ReportAbsencePupilForSupConstant.LIST_TYPESTATICS], false, true, 1)
                            </fieldset>
                        </div>
                    </div>
                    <div>               
                           <fieldset>
                               <legend>Tiêu chí báo cáo</legend>
                               <div class="row">
                                   <div class="col-md-6">
                                        @Html.ViettelComboboxFor(u => u.AcademicYearID, Res.Get("AcademicYear_Label_Year"), (SelectList)ViewData[ReportAbsencePupilForSupConstant.LIST_AcademicYear], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false) 
                                   </div>
                                   <div class="col-md-6">
                                       @if (glo.IsSuperVisingDeptRole) {    
                                            @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("Quận/huyện"), (SelectList)ViewData[ReportAbsencePupilForSupConstant.LIST_DISTRICT], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
                                       }
                                       else
                                       {
                                            @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("Quận/huyện"), (SelectList)ViewData[ReportAbsencePupilForSupConstant.LIST_DISTRICT], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "disabled", "disabled" } }, false)
                                       }
                                   </div>
                                   <div class="col-md-6">
                                       <div class="vt-control">
                                            <div class="editor-label">
                
                                                                <label>
                                                                    @Res.Get("PupilAway_Label_FromDate")
                                                                </label>
                                                </div>
                                            <div class="editor-field">
                                                                @{
                                                                    Html.Telerik().DatePicker()
                                                                    .Name("FromDate")
                                                                    .Value(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))
                                                                    .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                                                                    .TodayButton("Now")
                                                                    .Format("dd/MM/yyyy")
                                                                    //.ClientEvents(p => p.OnChange("CheckValidate"))
                                                                    //.InputHtmlAttributes(new { onblur = "alert($(this).val());"})
                                                                    .Render();
                                                                }
                                                </div>
                                    </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="vt-control">
                                     <div class="editor-label">
                                                        <label>
                                                            @Res.Get("PupilAway_Label_ToDate")
                                                        </label>
                                         </div>
                                     <div class="editor-field">
                                                        @{
                                                            Html.Telerik().DatePicker()
                                                            .Name("ToDate")//DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1)
                                                            .Value(DateTime.Now)
                                                            .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style"})
                                                            .TodayButton("Now")
                                                            .Format("dd/MM/yyyy")
                                                            //.ClientEvents(p => p.OnChange("CheckValidate"))
                                                            .Render();
                                                        }
                                                   @* </div>*@
                                         </div>
                                     </div>
                                   </div>
                               </div>
                               <div>
                                   <fieldset>
                                       <legend> Cấp học</legend>  
                                       <div class="row"></div>   
                                       @if (glo.IsSuperVisingDeptRole) {  
                                              <label class="custom-checkbox">
                                                    @Html.ViettelCheckBox("Grade4", true) THPT
                                                    <span class="checkmark"></span>
                                               </label>                 
                                       }
                                       else
                                       {
                                           <label class="custom-checkbox">
                                                @Html.ViettelCheckBox("Grade4", false, new Dictionary<string, object> { { "disabled", "disabled" } }) THPT
                                                <span class="checkmark"></span>
                                            </label>   
                                            
                                       }
                                       <label class="custom-checkbox">
                                            @Html.ViettelCheckBox("Grade3", true) THCS
                                            <span class="checkmark"></span>
                                       </label>
                                       <label class="custom-checkbox">
                                           @Html.ViettelCheckBox("Grade2", true) TH 
                                           <span class="checkmark"></span>
                                       </label>
                                       <label class="custom-checkbox">
                                            @Html.ViettelCheckBox("Grade1", true) Mầm non
                                           <span class="checkmark"></span>
                                       </label>
                                  </fieldset>
                                </div>
                           </fieldset>             
                    </div>
                    <span id="Message"></span>
                </div>
                <div class="vt-SearchPanel-Button">
                    <div class="vt-form-button">
                        @Html.ViettelButton("Tổng hợp mới", "button", "GeneralReport()", "btn btn-info btn-round","btnGeneral")
                        @Html.ViettelButton("Xuất excel", "button", "SubmitExcelBySuperClick()", "btn btn-info btn-round btn-icon btn-icon-excel","btnExport")
                    </div>
                </div>

            </div>

        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
            <div class="vt-SearchPanel-Title">
                      @Res.Get("HTML_Pattern_Report")
            </div>
        </div>
         <div id="CapacityAllSchool" style="height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Bao_Cao_Danh_Sach_Hoc_Sinh_Nghi_Hoc/DSHSNghiHoc_PhongSo.htm">
            </iframe>
        </div> 
        <div id="CapacityEdu" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Bao_Cao_Danh_Sach_Hoc_Sinh_Nghi_Hoc/TKHSNghiHoc_PhongSo.htm">
            </iframe>
        </div> 
    
            }
}
<script>

    $(document).ready(function () {
        $("#Report").find(":input[id=1]").css("margin-bottom", "20px");
        //$("#Report").find(":label").css("margin-left", "5px");
        @*if ('@glo.IsCurrentYear' == 'True') {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
        }
        else {
            $('#FromDate').val('@endDate.ToString("dd/MM/yyyy")');
        }*@
    });

    function SubmitExcelBySuperClick() {
        var data = new Object();
        var reportType = 0;
        $("input[name='ReportType']").each(function () {
            var ischeck = $(this).is(':checked');
            if (ischeck) {
                reportType = $(this).val() * 1;
            }
        });
        data.ReportType = reportType;
        data.cboYear = $("#AcademicYearID").val();      
        data.cboDistrict = ($("#DistrictID").val() == null) ? 0 : $("#DistrictID").val();
        data.fromDate = $("#FromDate").val();
        data.toDate = $("#ToDate").val();
        data.Grade4 = $("#Grade4").is(":checked");
        data.Grade3 = $("#Grade3").is(":checked");
        data.Grade2 = $("#Grade2").is(":checked");
        data.Grade1 = $("#Grade1").is(":checked");

        var arrFromDate = new Array();
        var arrToDate = new Array();
        arrFromDate = data.fromDate.split("/");
        arrToDate = data.toDate.split("/");
        var testFromDate = arrFromDate[2] + "/" + arrFromDate[1] + "/" + arrFromDate[0];
        var testFToDate = arrToDate[2] + "/" + arrToDate[1] + "/" + arrToDate[0];
        var a = new Date(testFromDate);
        var b = new Date(testFToDate);

        if (CheckValidateAbsence() == 0) {
            return false;
        };
        if (((b - a) / 86400000 + 1) > 31) {
            smas.alert({ Type: "error", Message: "Từ ngày đến ngày không được cách nhau quá 31 ngày" });
            return false;
        }

        if (reportType == 2) {
            var downloadUrl = '@Url.Action("ExportReport", "ReportAbsencePupilForSup")';
            downloadUrl += '?reportType=' + data.ReportType;
            downloadUrl += '&year=' + data.cboYear;
            downloadUrl += '&district=' + data.cboDistrict;
            downloadUrl += '&fromDate=' + data.fromDate;
            downloadUrl += '&toDate=' + data.toDate;
            downloadUrl += '&SheetMN=' + data.Grade1;
            downloadUrl += '&SheetTH=' + data.Grade2;
            downloadUrl += '&SheetTHCS=' + data.Grade3;
            downloadUrl += '&SheetTHPT=' + data.Grade4;
            window.open(downloadUrl);
        }
        else if (reportType == 1)
        {
            var downloadUrl = '@Url.Action("GetReport", "ReportAbsencePupilForSup")';
            downloadUrl += '?reportType=' + data.ReportType;
            downloadUrl += '&year=' + data.cboYear;
            downloadUrl += '&district=' + data.cboDistrict;
            downloadUrl += '&fromDate=' + data.fromDate;
            downloadUrl += '&toDate=' + data.toDate;
            downloadUrl += '&SheetMN=' + data.Grade1;
            downloadUrl += '&SheetTH=' + data.Grade2;
            downloadUrl += '&SheetTHCS=' + data.Grade3;
            downloadUrl += '&SheetTHPT=' + data.Grade4;
            smas.getReport("frmEmisReport", downloadUrl,
                          '@Url.Action("GetNewReport", "ReportAbsencePupilForSup")', '@Url.Action("DownloadReport", "ReportAbsencePupilForSup")');
        }
}

    function CheckValidateAbsence() {
        var a = 1;
        if (!validateUtils.isDate($('#FromDate').val())) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Từ ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
            a = 0;
        }
        if (!validateUtils.isDate($('#ToDate').val())) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Đến ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = dd + '/' + mm + "/" + yyyy;
            $('#ToDate').val(currentDate);
            a = 0;
        }
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        arrfromdate = fDate.split("/");
        arrtodate = tDate.split("/");

        var dd1 = arrfromdate[0];
        var mm1 = arrfromdate[1];
        var yyyy1 = arrfromdate[2];
        var strdate1 = yyyy1 + "-" + mm1 + "-" + dd1;
        var fromday = strdate1.split('-');

        var dd = arrtodate[0];
        var mm = arrtodate[1]; //January is 0!
        var yyyy = arrtodate[2];
        var strdate = yyyy + "-" + mm + "-" + dd;
        var CurrentDate = strdate.split('-');

        var firstDate = new Date();
        firstDate.setFullYear(fromday[0], (fromday[1] - 1), fromday[2]);

        var secondDate = new Date();
        secondDate.setFullYear(CurrentDate[0], (CurrentDate[1] - 1), CurrentDate[2]);

        if (firstDate > secondDate) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Giá trị Từ ngày phải nhỏ hơn Đến ngày" });
            a = 0;
        }

        var today = new Date();
        var FromDate = dateUtils.Parse($('#FromDate').val());
        if (FromDate > today) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải trước ngày hiện tại" });
            a = 0;
        }
        var ToDate = dateUtils.Parse($('#ToDate').val());
        //if (ToDate - FromDate > 31) {
        //    //$('#FromDate').addClass('t-state-error');
        //    smas.alert({ Type: "error", Message: "Từ ngày đến ngày không được cách nhau quá 31 ngày" });
        //    return 0;
        //}

        return a;
    }

    var imageProcessing = '<img src="../../../../Content/images/smas_processing.gif" />';
    $(document).ready(function () {       
        $("input[name='ReportType']:first").attr("checked", "checked");
        $("#EducationLevelID").parent().parent().show();
    });
    function ReportTypeChange(obj)
    {
        var valueReport = $(obj).val() * 1;
        if (valueReport == 1 || valueReport == 4) {
            $("#EducationLevelID").parent().parent().show();
        } else {
            $("#EducationLevelID").parent().parent().hide();
        }
        ShowOrHideReportPatter(valueReport);
    }

    function GeneralReport() {
        var reportType = 0;
        $("input[name='ReportType']").each(function () {
            var ischeck = $(this).is(':checked');
            if (ischeck) {
                reportType = $(this).val() * 1;
            }
        });

        var data = new Object();
        data.year = $("#AcademicYearID").val();
        data.reportType = reportType;
        data.DistrictID = $("#DistrictID").val();
        data.fromDate = $("#FromDate").val();
        data.toDate = $("#ToDate").val();
        
        data.Grade4 = $("#Grade4").is(":checked");
        data.Grade3 = $("#Grade3").is(":checked");
        data.Grade2 = $("#Grade2").is(":checked");
        data.Grade1 = $("#Grade1").is(":checked");
        if (CheckValidateAbsence() == 0) {
            return false;
        };
        if (!data.Grade1 && !data.Grade2 && !data.Grade3 && !data.Grade4) {
            smas.alert({ Type: "error", Message: "Chưa chọn cấp học để tổng hợp dữ liệu" });
            return false;
        }
        var arrFromDate = new Array();
        var arrToDate = new Array();
        arrFromDate = data.fromDate.split("/");
        arrToDate = data.toDate.split("/");
        var testFromDate = arrFromDate[2] + "/" + arrFromDate[1] + "/" + arrFromDate[0];
        var testFToDate = arrToDate[2] + "/" + arrToDate[1] + "/" + arrToDate[0];
        var a = new Date(testFromDate);
        var b = new Date(testFToDate);

        
        //console.log(c/86400000);
        if (((b-a)/86400000 + 1 ) > 31)
        {
            smas.alert({ Type: "error", Message: "Từ ngày đến ngày không được cách nhau quá 31 ngày" });
            return false;
        }
        

        $.ajax({
            url: '@Url.Action("CreatedReport", "ReportAbsencePupilForSup")',
            type: 'post',
            data: data,
            beforeSend: function () {
                $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                $("#btnGeneral").attr("disabled", "disabled");
                $("#btnExport").attr("disabled", "disabled");
            },
            success: function (data) {
                if (data.Type == "success") {
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    $("#btnGeneral").removeAttr("disabled");
                    $("#btnExport").removeAttr("disabled");
                } else {
                    $('#Message').html("Lỗi tổng hợp báo cáo xin F5 để thử lại.");
                    $("#btnGeneral").attr("disabled", "disabled");
                    $("#btnExport").attr("disabled", "disabled");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function ShowOrHideReportPatter(reportValue) {
        if (reportValue == 1) {
            $("#CapacityAllSchool").show();
            $("#CapacityEdu").hide();
            
        } else if (reportValue == 2) {
            $("#CapacityEdu").show();
            $("#CapacityAllSchool").hide();
        }
    }


</script>