﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SCSDailyHealthArea
<style type="text/css">
    div.t-timepicker, div.t-datepicker
    {
        width: auto !important;
        float: left;
    }
    .t-input[type="text"]
    {
        padding: none;
    }
    .t-icon-calendar
    {
        background-image: url("/content/images/icon_calendar.jpg");
        background-position: top;
    }
</style>
<label class="LabelStyle Label1Style">
    Khối</label>
<div class="BoxSelect BoxSelect3">
    @Html.DropDownList("EducationLevel", (IEnumerable<SelectListItem>)ViewData[SCSDailyHealthConstants.LIST_BLOCK], new Dictionary<string, object>{
                                                        {"OnChange", "AjaxLoadClass()" },{"class","MySelectBoxClass"}
                                                        })
</div>
<label class="LabelStyle Label1Style">
    Lớp</label>
<div class="BoxSelect BoxSelect3">
    @Html.DropDownList("ClassSchool", (IEnumerable<SelectListItem>)ViewData[SCSDailyHealthConstants.LIST_CLASS], new Dictionary<string, object>{
                                                        {"OnChange", "SelectClass(this)" },{"class","MySelectBoxClass"}
                                                        })
</div>
<label class="LabelStyle Label5Style">
    Ngày</label>
@{    
    Html.Telerik().DatePicker()
    .Name("SearchDate")
    .Value(DateTime.Now.ToString("dd/MM/yyyy"))
    .ClientEvents(events => events.OnChange("SelectClass"))
    .InputHtmlAttributes(new { @class = "InputTextStyle InputText4Style" })
    .TodayButton("Now")
    .Max(DateTime.Now)
    .Render();
}
<div class="ButtonBox BtnRStyle">
    <a class="Sprite1 BackLink" onclick="previousDay()" href="javascript:"><span class="HideText">
        Preview</span></a> <a class="Sprite1 BackLink NextLink" onclick="nextDay()" href="javascript:">
            <span class="HideText">Next</span></a>
</div>
<input type="button" id="BtnSendSMS" class="t-button FloatLStyle" onclick="SendToParent()"
    value="Nhắn tin" />
<div class="BoxMenuSection">
    <!-- menu box-->
    <div style="float: right;">
        <div style="position: absolute; top: 3px; right: 0px;">
            @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
        </div>
    </div>
</div>
<div class="Clear">
</div>
<div class="MsgSuccess" style="display: none">
    <div class="MsgLeftSuccess">
        <div class="MsgRightSuccess" id="ActionResult">
            <p>
                @Res.Get("DailyHealth_Message_SaveSuccess")
           </p>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    function ShowMenu() {
        $('.MenuClassSection').css('display', 'block')
    }
    function HideMenu() {
        $('.MenuClassSection').css('display', 'none')
    }
    /// Next day
    function nextDay() {
        var datepicker = $("#SearchDate").data('tDatePicker');
        if (!datepicker) {
            alert("Ngày chọn không hợp lệ.");
            return;
        }
        var curDate = datepicker.value();
        if (!curDate) {
            alert("Ngày chọn không hợp lệ.");
            return;
        }
        var now = new Date();
        curDate.setHours(0, 0, 0, 0);
        now.setHours(0, 0, 0, 0);
        if (curDate >= now) { return; }
        curDate.setDate((new Date(curDate)).getDate() + 1);
        datepicker.value(curDate);
        validateTimeUI(now.getTime() == curDate.getTime());
        SelectClass();
    }
    //Previous day
    function previousDay() {
        var datepicker = $("#SearchDate").data('tDatePicker');
        if (!datepicker) {
            alert("Ngày chọn không hợp lệ.");
            return;
        }
        var curDate = datepicker.value();
        if (!curDate) {
            alert("Ngày chọn không hợp lệ.");
            return;
        }
        curDate.setDate((new Date(curDate)).getDate() - 1);
        datepicker.value(curDate);
        var now = new Date();
        curDate.setHours(0, 0, 0, 0);
        now.setHours(0, 0, 0, 0);
        validateTimeUI(now.getTime() == curDate.getTime());
        SelectClass();
    }
    //Kiem tra UI khi chon ngay
    function validateTimeUI(isNow) {
        if (!isNow) {
            //Neu ko phai ngay hien tai
            $("input:checkbox").removeAttr("checked");
            $("input:checkbox").attr("disabled", "disabled");
            $("#BtnSendSMS").attr("disabled", "disabled");
            $('#BtnSendSMS').css('background', 'url("@Url.Content("~/Content/images/bg-btngeneral.png")") repeat-x scroll left top transparent');
            $('#BtnSendSMS').css('border', '1px solid #D1D0D0');
            $("textarea[id^='SMSContent']").val('');
        } else {
            //Neu la ngay hien tai
            $("input:checkbox").each(function () {
                var txt = $(this).closest('tr').find('td:eq(4) textarea:first').val();
                if (txt && txt.length > 0 && txt.trim().length > 0) {
                    $(this).removeAttr("disabled");
                }
            });
            $("#BtnSendSMS").removeAttr("disabled");
            $("#BtnSendSMS").css('background', '');
            $("#BtnSendSMS").css('border', '');
        }
    }
    function AjaxLoadClass() {
        var levelID = $("#EducationLevel").val();
        controlUtils.loadComboBox(
            $("#ClassSchool"),
            '@Url.Action("AjaxLoadClass", "SCSDailyHealth")',
            { EducationLevelID: levelID },
            '@Res.Get("Common_Combo_All")'
        );
    }
</script>
