﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@{
    ViewBag.Title = SMAS.Web.Utils.Res.Get("MonitoringBook_Label_CreateTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@{
    GlobalInfo global = new GlobalInfo();
    string schoolName = global.SchoolName;
}
@Html.Hidden("SCHOOLNAME", schoolName)
<style type ="text/css">
    .t-autocomplete, .t-input[type="text"]
    {
        padding:0;
    }
    .BtnR3Section
    {
        padding: 10px 0 0;
    }
</style>
<div class="ContentSectionBtm">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="GenaralInfoSection">
                    <div class="GeneralForm SProfile2Form">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_CommonInfo")
                    </div>
                </div>
                <div class="GridSection">
                    <div id="fmlstPupil">
                        @Html.Partial("_ListPupil")
                    </div>
                </div>
                <div class="BtnR3Section">
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "SaveInfomation()", "")
                    @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "GoAction()", "")
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchDate").attr("readonly", "readonly");
        setMenuPath();
        setClass();
        SelectClass();
    });
    function setClass() {
        var educatioLevel = $("#EducationLevel").val();
                controlUtils.loadComboBox(
                    $("#ClassSchool"),
                    '@Url.Action("AjaxLoadClass", "SCSDailyHealth")',
                    { EducationLevelID: educatioLevel }
                );
    }
    function SelectClass() {
        var CLASSNAME = $('#ClassSchool>option:selected').text();        
        var classId = $('#ClassSchool>option:selected').val();
        var datepicker = $("#SearchDate").val();
        if (!datepicker) {
            alert("Ngày chọn không hợp lệ.");
            datepicker.value(new Date());
            return;
        }
        var curDate = datepicker;
        if (!datepicker) {
            alert("Ngày chọn không hợp lệ.");
            datepicker.value(new Date());
            return;
        }
        if (!isCurrent()) {
            $("#nextday").attr("disabled", "disabled");
        }
        else {
            $("#nextday").removeAttr("disabled");
        }
        $.ajax({
            url: '@Url.Action("ViewList", "SCSDailyHealth")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { ClassID: classId, selectedDate: curDate },
            success: function (data) {
                smas.hideProcessingDialog();
                validateTimeUI(isCurrent());
                $('#fmlstPupil').html(data);
                setMenuPath();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    function GoAction() {
        window.location.href = '@Url.Action("Index","MonitoringBook", new {area ="MonitoringBookArea"})';
    }
    function isCurrent() {
        var datepicker = $("#SearchDate").data('tDatePicker');
        if (datepicker) {
            var curDate = datepicker.value();
            var now = new Date();
            curDate.setHours(0, 0, 0, 0);
            now.setHours(0, 0, 0, 0);
            if (now.getTime() == curDate.getTime()) return true;
        }
        return false;
    }
    function setMenuPath() {
        var cls = document.getElementById("hidSelClassName");
        if (cls) {           
        }
    }

    function validate() {
        var schoolName = $('#SCHOOLNAME').val();
        var IsValidate = true;
        var NumRowText = 0;
        var ckSend = $("input:checkbox[name=checkedSend]");
        ckSend.each(function () {
            var pupilID = $(this).val();
            var symptom = $('#SMSSymptom' + pupilID).val().trim();
            var solution = $('#SMSSolution' + pupilID).val().trim();
            var content = $('#SMSContent' + pupilID).val().trim();
            if (symptom.length > 0 || solution.length > 0 || content.length > 0) { // neu co du lieu
                if (!(symptom.length > 0 && solution.length > 0)) { // du lieu ko day du
                    if (content.value != schoolName)
                        smas.alert({ Type: "error", Message: 'Bạn phải nhập đầy đủ thông tin sức khỏe của học sinh' });
                    IsValidate = false;
                    return false;
                }
            } else {
                NumRowText++;
            }
        });
        if (!IsValidate) return false;

        if (NumRowText == ckSend.length) {
            smas.alert({ Type: "error", Message: 'Bạn phải nhập đầy đủ thông tin sức khỏe của học sinh' });
            return false;
        }
        return IsValidate;
    }

    function SendToParent() {
        if (validate() == true) {
            var ckSend = $("input:checkbox[name=checkedSend]:checked");
            if (ckSend.length < 1) {
                smas.alert({ Type: "error", Message: 'Bạn phải chọn học sinh' });
                return;
            }
            //Xu ly noi dung tin nhan
            var classId = $('select[name="ClassSchool"]').val();
            var datepicker = $("#SearchDate").data('tDatePicker');
            if (!datepicker) {
                alert("Ngày chọn không hợp lệ.");
                datepicker.value(new Date());
                return;
            }
            var curDate = datepicker.value();
            if (!curDate) {
                alert("Ngày chọn không hợp lệ.");
                datepicker.value(new Date());
                return;
            }
            if (!isCurrent()) {
                $("#nextday").attr("disabled", "disabled");
            }
            else {
                $("#nextday").removeAttr("disabled");
            }
            var template = document.getElementById("hidTemplate").value;
            var errorContent = false;
            var listContent = [];
            var listSymptom = [];
            var listSolution = [];
            var lstPupilID = [];
            var lstMonitors = [];
            for (var i = 0; i < ckSend.length; i++) {
                var ppID = $(ckSend[i]).attr("value");
                //Lay Content
                var content = $('#SMSContent' + ppID).val().trim();
                var symptom = $('#SMSSymptom' + ppID).val().trim();
                var solution = $('#SMSSolution' + ppID).val().trim();
                var monitorID = $('#SMSContent' + ppID).attr("MonitoringBookID");
                if (monitorID == "0") {
                    //Danh dau cac Monitoringbook chưa save đã gui tin nhan
                    $('#SMSContent' + ppID).addClass("AlreadySent");
                }
                if (solution.length <= 0) {
                    smas.alert({ Type: "error", Message: 'Bạn chưa nhập nội dung SMS gửi PHHS' });
                    return;
                }

                lstPupilID.push(ppID);
                listContent.push(content);
                listSymptom.push(symptom);
                listSolution.push(solution);
                lstMonitors.push(monitorID);
                if (template && content.length <= template.length) {
                    errorContent = true;
                }
            }
            //Kiem tra so luong tin duoc gui
            if (lstPupilID.length < 1) {
                smas.alert({ Type: "error", Message: 'Bạn phải chọn học sinh' });
                return;
            }
            if (errorContent) {
                smas.alert({ Type: "error", Message: 'Bạn chưa nhập nội dung SMS gửi PHHS' });
                return;
            }
            //Gui tin nhan
            $.ajax({
                url: '@Url.Action("SendSMS", "SCSDailyHealth")',
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                traditional: true,
                data: { PupilIDs: lstPupilID, MonitoringBookIDs: lstMonitors, Contents: listContent, Symptoms: listSymptom, Solutions: listSolution, ClassID: classId, SelectedDate: curDate.toUTCString() },
                success: function (data) {

                    smas.hideProcessingDialog();
                    smas.alert(data);

                    //cap nhat trang thai
                    var IDs = data.IDs;
                    var lstID = IDs.split(';');
                    var DetaiSent = "Tin nhắn đã được gửi lúc " + data.Time;
                    for (var i = 0; i < lstID.length; i++) {
                        var pupilID = lstID[i];
                        $('#SMSContent' + pupilID).attr('disabled', 'disabled');
                        $('#MsgIcon' + pupilID).css('display', 'block');
                        $('#DetailSent' + pupilID).text(DetaiSent);
                        $('#SMSCount' + pupilID).css('display', 'none');
                        $('#chkRecord' + pupilID).attr('disabled', 'disabled');
                        $('#chkRecord' + pupilID).attr('checked', false);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    function SaveInfomation() {
        if (validate() == true) {
            var ckSend = $("input:checkbox[name=checkedSend]");
            if (ckSend.length < 1) {
                smas.alert({ Type: "error", Message: 'Chưa có học sinh' });
                return;
            }
            //Xu ly noi dung tin nhan
            var classId = $('select[name="ClassSchool"]').val();
            var datepicker = $("#SearchDate").data('tDatePicker');
            if (!datepicker) {
                alert("Ngày chọn không hợp lệ.");
                datepicker.value(new Date());
                return;
            }
            var curDate = datepicker.value();
            if (!curDate) {
                alert("Ngày chọn không hợp lệ.");
                datepicker.value(new Date());
                return;
            }
            if (!isCurrent()) {
                $("#nextday").attr("disabled", "disabled");
            }
            else {
                $("#nextday").removeAttr("disabled");
            }
            var listContent = [];
            var listSymptom = [];
            var listSolution = [];
            var lstPupilID = [];
            var lstMonitors = [];
            for (var i = 0; i < ckSend.length; i++) {
                var ppID = $(ckSend[i]).attr("value");
                //Lay Content
                var content = $('#SMSContent' + ppID).val().trim();
                var symptom = $('#SMSSymptom' + ppID).val().trim();
                var solution = $('#SMSSolution' + ppID).val().trim();
                var monitorID = $('#SMSContent' + ppID).attr("MonitoringBookID");
                if ($('#SMSContent' + ppID).hasClass("AlreadySent") && monitorID == 0) {
                    monitorID = -1; //Dánh dau cac Monitor moi gui
                }
                if (symptom.length > 0 && solution.length > 0) {
                    lstPupilID.push(ppID);
                    listContent.push(content);
                    listSymptom.push(symptom);
                    listSolution.push(solution);
                    lstMonitors.push(monitorID);
                }

            }
            //Kiem tra so luong tin duoc gui
            if (lstPupilID.length < 1) {
                smas.alert({ Type: "error", Message: 'Chưa có học sinh' });
                return;
            }
            var token = $('[name=__RequestVerificationToken]').val();
            //Luu thong tin
            $.ajax({
                url: '@Url.Action("SaveData", "SCSDailyHealth")',
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                traditional: true,
                data: { PupilIDs: lstPupilID, Contents: listContent, MonitoringBookIDs: lstMonitors, Symptoms: listSymptom, Solutions: listSolution, ClassID: classId, SelectedDate: curDate.toUTCString(), __RequestVerificationToken: token },
                success: function (data) {
                    smas.hideProcessingDialog();
                    smas.alert(data);
                    $('#BtnSendSMS').css('border-color', '#FF6A00');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }
</script>
