﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LearningResultReportArea
<form id="frmReport">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 mg-b-10">
        <div id="lblTitle" class="vt-SearchPanel-Title">
            @Res.Get("LearningResultReport_Title_PupilRewardReport")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
             
            <div class="row">
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID", (SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object> { 
                                        {"onchange", "onEducationLevelChange()"}
                                    }, false, false))
                </div>
                <div class="col-md-6">
                     @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID", (SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                            ,
                        GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object>
                        {
                        }, false, false))
                </div>
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Semester"), "SemesterID", (SelectList)ViewData[LearningResultReportConstants.LIST_SEMESTER]
                                    ,
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    {"onchange","onSemesterChange();"}}, false, false))
                </div>
                <div class="col-md-12">
                    <label class="custom-checkbox" id ="idchk">
                        Không thuộc danh sách khen thưởng cả năm
                        <input id ="chkChecked" name ="chkChecked" type ="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFClick()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
@{
    GlobalInfo _glo = new GlobalInfo();
    if (_glo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY)
    {
    <div style="margin-left: 88px; height: 500px">
        <iframe style="width: 100%; height: 100%;" src="/HtmlTemplate/Template_Mau_Cap_1/Bao_Cao_Ket_Qua_Hoc_Tap/Danh_Sach_Khen_Thuong/HS_TH_DanhSachKhenThuongTT30_Khoi1_HKII.htm"></iframe>
    </div>  
    }
    else
    {
    <div style="margin-left: 88px; height: 500px">
        <iframe style="width: 100%; height: 100%;" src="/HtmlTemplate/Danh_Sach_Khen_Thuong/HS_THCS_DanhSachKhenThuong_HKII.htm"></iframe>
    </div>  
    }
}

<script type="text/javascript">
     $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");
        var semesterID = $('#frmReport #SemesterID').val();
        if (semesterID != 2) {
            $('#frmReport #idchk').hide();
        }
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    });
    function onSemesterChange()
    {
        var semesterID = $('#frmReport #SemesterID').val();
        if (semesterID == '2') {
            $('#frmReport #idchk').show();
        }
        else {
            $('#frmReport #idchk #chkChecked').removeAttr('checked');
            $('#frmReport #idchk').hide();
        }
    }
    function ExportClick() {
        smas.getReport("frmReport", '@Url.Action("GetPupilRewardReport", "PupilRewardReport")',
                     '@Url.Action("GetNewPupilRewardReport", "PupilRewardReport")', '@Url.Action("DownloadReport", "PupilRewardReport")');

    }
    function ExportPDFClick() {
        var blank = '_blank';
        smas.getReportDocument("frmReport", '@Url.Action("GetPupilRewardReport", "PupilRewardReport")',
                     '@Url.Action("GetNewPupilRewardReport", "PupilRewardReport")', '@Url.Action("DownloadPDFReport", "PupilRewardReport")',blank);

    }


    function onEducationLevelChange() {
        var educationLevelID = $("#EducationLevelID").val();
        controlUtils.loadComboBox(
                        $("#ClassID"),
                    '@Url.Action("AjaxLoadClass", "PupilRewardReport")',
        { educationLevelID: educationLevelID },
        '@Res.Get("All")', null)
    }

</script>
