				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.AcademicYearOfProvinceArea.Models

@{
    ViewBag.Title = Res.Get("WorkType_Label_AcademicYearOfProvince");
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}

<div id="SearchPanel" style="display:none;">
    @Html.Partial("_Search")
</div>

<div id="lstAcademicYearOfProvince">
    @Html.Partial("_List")
</div>

    @*@Html.ViettelButton(Res.Get("Common_Button_Add"), "button", "smas.openDialog('createDialog', '"+Url.Action("Create")+"', {})","")*@

    @(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("AcademicYear_DialogTitle_Add"))
                .Content(" ")
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .ClientEvents(events => events.OnClose("smas.onCloseDialog"))
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(270)
                .ContentHtmlAttributes(new { style = "min-height:270px; min-width: 700px;" })
                .HtmlAttributes(new {@class = "academic-year-of-province-area-dialog"})
     )
      @(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("AcademicYear_DialogTitle_Edit"))
                         .Content(@<text></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .ClientEvents(events => events.OnClose("smas.onCloseDialog"))
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(270)
                .ContentHtmlAttributes(new { style="min-height:270px; min-width: 700px;"})
                .HtmlAttributes(new {@class = "academic-year-of-province-area-dialog"})
     )
    
<script language="javascript">
    function OnChangeYear(Year) {
        var NextYear = parseInt($(Year).val()) + 1;
        $("#Year2").val(NextYear);

        var date = Date.parseLocale($("#FirstSemesterStartDate").val(),"dd/MM/yyyy");
        date.setFullYear(NextYear - 1);
        $("#FirstSemesterStartDate").val(date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear());

        date = Date.parseLocale($("#FirstSemesterEndDate").val(), "dd/MM/yyyy");
        date.setFullYear(NextYear);
        $("#FirstSemesterEndDate").val(date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear());

        date = Date.parseLocale($("#SecondSemesterStartDate").val(), "dd/MM/yyyy");
        date.setFullYear(NextYear);
        $("#SecondSemesterStartDate").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());

        date = Date.parseLocale($("#SecondSemesterEndDate").val(), "dd/MM/yyyy");
        date.setFullYear(NextYear);
        $("#SecondSemesterEndDate").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());



    }
</script>
