﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DevelopmentOfChildrenArea.Models
@using SMAS.Web.Areas.DevelopmentOfChildrenArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@*@using SMAS.Web.Areas.RatedCommentPupilArea;*@
@{
    GlobalInfo _globalInfo = new GlobalInfo();

    bool IsGVCN = false;
    if (Session[DevelopmentOfChildrenConstants.GVCN_TEACHER] != null)
    {
        IsGVCN = true;
    }
}

@{
    ViewBag.Title = @Res.Get("DevelopmentOfChildren_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="HiddenPanel">
    @Html.ViettelHidden("ClassID", 0)
    @Html.ViettelHidden("ClassIDOld", 0)
    @Html.ViettelHidden("Semester", new GlobalInfo().Semester)
    @Html.ViettelHidden("SemesterOld", new GlobalInfo().Semester)
    @Html.ViettelHidden("EducationLevelID", 0)
    @Html.ViettelHidden("SubjectID", 0)
    @Html.ViettelHidden("EvaluationDevGroID", 0)
    @Html.ViettelHidden("EvaluationDevGroIDOld", 0)
    @Html.ViettelHidden("AppliedLevel", new GlobalInfo().AppliedLevel.Value)
    @Html.ViettelHidden("TypeImportValue", 0)
</div>

<div id="RightPanel" class="vt-RightPanel comment-of-pupil deve-of-chill"> 
    <div class="row">
        <div class="col-sm-2">
            <div id="ClassChoiceID" style="background-color: #548bd4; cursor: pointer;" onclick="SelectClass();">

                <div class="text-center light class-choice">
                    <span class="">☰ </span>
                    <span id="strClassNameID"> [Chọn lớp]</span>
                </div>
            </div>
            
        </div>
        <div class="col-sm-10 p-l-0">
            <div id="contentTitle">
                    <div id="SearchPanel" class="bg-green">
                        <div>
                            <div class="row" style="position:relative">
                                <div class="text-center">
                                    <h4 style="font-weight:700;text-align: center;color: white" id="titleMsg">ĐÁNH GIÁ SỰ PHÁT TRIỂN</h4>
                                </div>
                                <div class="setting-control">
                                    <div class="is-config text-right">
                                @*<i class="fa fa-cog" style="font-size: 17px;font-weight: 700; color: white;"></i><a href="" id="linkConfig" style ="color: white;font-weight: 700;"> Cấu hình chỉ số</a>       *@              
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>              
            </div>
        </div>
    </div>
     <div id="lstSubjectResult">
        @Html.Partial("_ListSubject")
    </div>
    <div class="Clear"></div>
    
            <div id="ClassPanel" class="vt-LeftPanel">
                <div class="SideBarTop" >
                    @Html.Partial("_ListClass")
                </div>
            </div>
     
    <div class="Clear"></div>
    <div class="message hidden" id="msg">
    </div>
    <div id="lstResult"></div>
</div>

<div class="Clear"></div>
@(Html.Telerik().Window().Name("ExportEvaluationGroup").Title("Xuất excel")
                .Content(@<text>@Html.Partial("_ExportEvaluationGroup")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(450)
)

@(Html.Telerik().Window().Name("ImportEvaluationDevelopmentGroup").Title("Import từ file excel")
                .Content(@<text>@Html.Partial("_ImportEvaluationDevelopmentGroup")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(600)
)

@(Html.Telerik().Window().Name("ImportOptionDialog").Title("Lựa chọn")
                .Content(@<text>@Html.Partial("_ImportOption")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(600)
)
@(Html.Telerik().Window().Name("ImportErrorDialog").Title("Danh sách lỗi")
                .Content(@<text><div id="lstError"></div></text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(700)
)
@(Html.Telerik().Window().Name("GridViewDetail").Title("Nội dung chỉ số đánh giá")
                .Content(@<text><div id="divViewDetailDialogID"></div></text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(1000).Height(700).ContentHtmlAttributes(new { style = " min-width: 800px" })
)
<script type="text/javascript">

    var arrAutocomlete = '';
    $("#SearchPanel").css("height", "42px")
                    .css("padding","10px")
                    
                    
    $(document).mousemove(function (event) {
        if ($(event.target).closest('#ClassPanel').html() == null
        && $(event.target).closest("#ClassChoiceID").html() == null) {
            $("#ClassPanel").css("display", "none");
        }
    });

    function LoadTitleDevelopmentOfChildren() {
        var txtName = $('#listSubjectWraper .ListSubject a.Active').text();
        txtName = txtName.trim();
        var classid = $('#HiddenPanel #ClassID').val();
        var className = $("#TreeClass input[value=" + classid + "]").prev().html().trim();
        var txtMsg = '';

        if (txtName != "") {
            var str = className.toUpperCase();
            var index = str.indexOf("LỚP");
            if (index != -1) {
                txtMsg = 'ĐÁNH GIÁ SỰ PHÁT TRIỂN ' + txtName.toUpperCase() + ' - ' + className.toUpperCase();
            }
            else {
                txtMsg = 'ĐÁNH GIÁ SỰ PHÁT TRIỂN ' + txtName.toUpperCase() + ' - LỚP ' + className.toUpperCase();
            }
        }
        else {
            txtMsg = 'ĐÁNH GIÁ SỰ PHÁT TRIỂN';
        }
        $('#titleMsg').html(txtMsg);
    }




    function HiddenMessage() {
        $('#msg').addClass("hidden");
        $('#msg').hide();
    }

    function RemoveHidden(msg) {
        $('#msg').removeClass("hidden");

        $('#msg').html(msg);
        $('#msg').show();
    }

    function OnSelectItem(item) {
        var htmlItem = $(item).html();
        $(item).closest('div[class="CommentDiv"]').parent().find('textarea').val(htmlItem);
        $(item).closest('div[class="CommentDiv"]').hide();
    }
    function MouseOver(item) {
        $(item).addClass('OverForLi');
    }
    function MouseOut(item) {
        $(item).removeClass("OverForLi");
    }

    $(".t-window-actions t-header").click(function () {
        $('#listSubjectWraper .ListSubject').find('li').first().find('a.Active').focus();
    });


    function selectClassForMarkRecord(e) {
        $('#lstResult').html('');
        var position = $('#ClassChoiceID').position();
        $('#ClassPanel').hide();
        var monthID = $('#MonthID').val();
        var item = $(e.item);
        var SubjectIDOld = 0;
        if ($(item).attr('id') == 'ClassID') {
            $('#ClassIDOld').val($('#ClassID').val());
            $("#HiddenPanel #ClassID").val(treeView().getItemValue(item));
            $("#EducationLevelID").val($(item).closest('ul').prev().find(".t-input").val());
            SubjectIDOld = $("#EvaluationDevGroID").val();
        } else {
            $("#listSubjectWraper").html("");
            $('#HiddenPanel #ClassID').val('0');
            $("#SubjectPanel").html("");
            smas.hideProcessingDialog();

            $("#pannerLeft").css('visibility', 'hidden');
            $("#pannerRight").css('visibility', 'hidden');
            $('#ClassChoiceID #strClassNameID').html('[Chọn lớp]');
            HiddenMessage();
            var title = "ĐÁNH GIÁ SỰ PHÁT TRIỂN";
            $('#titleMsg').html(title);
            $('#viewDetailA').hide();
            $("#menu12").css("margin-top", "0px");
            $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "42px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "#41b0c1" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);
            return;
        }

        //load lai danh gia khi thay doi lop
        var classid = $('#HiddenPanel #ClassID').val();
        var className = "";
        if (classid == 0) {
            className = "";
            isLoadEducation = true;
        }
        else {
            var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
            $('#ClassChoiceID #strClassNameID').html(temp);
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "LỚP " + $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            else {
                className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            isLoadEducation = false;
        }

        var _className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
        if (_className.length > 10) {
            @{
            <text>
            $("#menu12").css("margin-top", "10px");
            $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "42px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "#41b0c1" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);
            //$("#SearchPanel").css({"height:": "38px", "border": "1px solid rgb(217, 231, 255)", "background-color": "rgb(217, 231, 255)"});
            
            </text>
            }
        }
        else {
            @{
             <text>
            $("#menu12").css("margin-top", "0px");
            $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "42px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "#41b0c1" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);
            //$("#SearchPanel").css({ "height:": "28px", "border": "1px solid rgb(217, 231, 255)", "background-color": "rgb(217, 231, 255)" });
            
            </text>
            }
        }

        $('#ClassNameTitle').html(className);
        var oldEvaluationDevGroId = $('#HiddenPanel #EvaluationDevGroID').val();
        $.ajax({
            url: '@Url.Action("GetEvaluationPanel", "DevelopmentOfChildren")',
            type: 'post',
            data: { id: classid, oldSubjectID: oldEvaluationDevGroId },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#listSubjectWraper").html(msg);
                $('#ClassIDOld').val($('#ClassID').val());
                LoadGrid();
                var $width = $('#listSubjectWraper').outerWidth()
                var $scrollWidth = document.getElementById("listSubjectWraper").scrollWidth;
                var $scrollLeft = $('#listSubjectWraper').scrollLeft();

                if ($scrollWidth - $width === $scrollLeft) {
                    $("#pannerRight").css('visibility', 'hidden');
                }
                else {
                    $("#pannerRight").css('visibility', 'visible');
                }
                if ($scrollLeft === 0) {
                    $("#pannerLeft").css('visibility', 'hidden');
                }
                else {
                    $("#pannerLeft").css('visibility', 'visible');
                }

                var evaluationGroup = $('#listSubjectWraper .ListSubject').find('li').first().find('a').attr('value');
                IsConfigEvaluation(classid, evaluationGroup);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }


    function IsConfigEvaluation(classID, evaluationGroup)
    {
        $.ajax({
            url: '@Url.Action("IsConfigEvaluation", "DevelopmentOfChildren")',
             type: 'post',
             data: { ClassID: classID, evaluationGroupID: evaluationGroup },
             beforeSend: function () {
                 //smas.showProcessingDialog();
             },
             success: function (msg) {
                 $(".is-config").html(msg);
             },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 smas.alert(XMLHttpRequest.responseText);
                // smas.hideProcessingDialog();
             }
         });
    }

    function LoadGrid() {
        var classID = $('#HiddenPanel #ClassID').val();
        var EvaluationDevGroID = $('#HiddenPanel #EvaluationDevGroID').val();

        $('#btnSave').focus();
        $('#btnSave').css("background-color", "red");

        if (classID > 0) {
            if (EvaluationDevGroID > 0) {
                LoadAjax_1(classID, EvaluationDevGroID);
            }
            else {
                $('#lstResult').html('');
                smas.hideProcessingDialog();
            }
        }
    }

    function SelectClass() {
        $('#ClassPanel').show();
    }

    $(document).keydown(function (event) {
        if ($("#content").hasClass("fullscreen")) {
            if ((event.which == 91) || (event.ctrlKey == true && (event.which == '61' || event.which == '107' || event.which == '173' || event.which == '109' || event.which == '187' || event.which == '189'))) {
                event.preventDefault();
            }
        }
    });

    $(window).bind('mousewheel DOMMouseScroll', function (event) {
        if ($("#content").hasClass("fullscreen")) {
            if (event.ctrlKey == true) {
                event.preventDefault();
            }
        }
    });
    function FullScreen(btn) {
        $('#content').toggleClass('fullscreen', 200, "easeOutExpo", function () {
            var position = $('#ClassChoiceID').position();
            if ($('#content').hasClass("fullscreen")) {
                $(btn).val('@Html.Raw(Res.Get("Common_Button_ZoomOut"))');
                $('#imgTitleID').css('margin-top', '7%');
            }
            else {
                $(btn).val('@Html.Raw(Res.Get("Common_Button_ZoomIn"))');
                $('#imgTitleID').css('margin-top', '15%');
            }
        });
    };

    function DeleteCommentSubject() {
        var form = $('#frmDataSubjectAndEductiaonGroup');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var classID = $('#HiddenPanel #ClassID').val();
        var declareEvaluationGroupID = $('#HiddenPanel #EvaluationDevGroID').val();
        var arrPupiID = '';
        var pupilID = '';

        $('#GridGrowthEvaluation').find('input[id*="chk_"]').each(function () {
            if ($(this).is(':checked')) {
                pupilID = $(this).attr('defaultID');
                arrPupiID += pupilID + ',';
            }
        });

        if (arrPupiID == '') {
            smas.alertColor('Thầy/cô chưa chọn trẻ để xóa', 'red');
            return;
        }

        $.ajax({
            url: '@Url.Action("DeleteCommentPupil", "DevelopmentOfChildren")',
            type: 'post',
            data: { ClassID: classID, DeclareEvaluationGroupID: declareEvaluationGroupID, arrPupilID: arrPupiID, __RequestVerificationToken: token },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.alert(msg.Message);
                smas.hideProcessingDialog();
                LoadGrid();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
    function ScrollSubject() {

        var scrollHandle = 0,
            scrollStep = 5,
            parent = $("#listSubjectWraper");

        //Start the scrolling process
        $(".panner").on("mousedown touchstart", function () {
            var data = $(this).data('scrollModifier'),
                direction = parseInt(data, 10);

            startScrolling(direction, scrollStep);
        });

        //Kill the scrolling
        $(".panner").on("mouseup touchend", function () {
            stopScrolling();
        });

        //Actual handling of the scrolling
        function startScrolling(modifier, step) {
            if (scrollHandle === 0) {
                scrollHandle = setInterval(function () {
                    var newOffset = parent.scrollLeft() + (scrollStep * modifier);

                    parent.scrollLeft(newOffset);
                }, 10);
            }
        };

        function stopScrolling() {
            clearInterval(scrollHandle);
            scrollHandle = 0;
        };

        $('#listSubjectWraper').scroll(function () {
            var $width = $('#listSubjectWraper').outerWidth()
            var $scrollWidth = document.getElementById("listSubjectWraper").scrollWidth;
            var $scrollLeft = $('#listSubjectWraper').scrollLeft();

            if ($scrollWidth - $width === $scrollLeft) {
                $("#pannerRight").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerRight").css('visibility', 'visible');
            }
            if ($scrollLeft === 0) {
                $("#pannerLeft").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerLeft").css('visibility', 'visible');
            }
        });
    }

   @* function LoadAjax(classID, subjectID, semester) {
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid", "RatedCommentPupil")',
                data: { ClassID: classID, SemesterID: semester, SubjectID: subjectID },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $('#lstResult').html(msg);
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }*@

    function LoadAjax_1(classID, EvaluationDevGroID) {
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid", "DevelopmentOfChildren")',
            data: { ClassID: classID, EvaluationDevGroID: EvaluationDevGroID },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {

                $('#lstResult').html('');
                $('#lstResult').html(msg);
                smas.hideProcessingDialog();
                $('#listSubjectWraper .ListSubject').find('li').first().find('a.Active').focus();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    //importexcel
    function ImportSemester() {
        var classid = $("#HiddenPanel #ClassID").val();    
        var typeimport = $("#HiddenPanel #TypeImportValue").val();
        var dataInput = { typeImport: typeimport, ClassID: classid };

        if (typeimport == 1)
        {
            if (dataInput != null) {
                $.ajax({
                    url: '@Url.Action("ImportExcel", "DevelopmentOfChildren")',
                    type: 'post',
                    data: dataInput,
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        smas.closeDialog('ImportEvaluationDevelopmentGroup');
                        smas.closeDialog('ImportOptionDialog');

                        if (msg.Type == 'CreateViewError') {
                            $('#ImportErrorDialog #lstError').html(msg.Message);
                            setTimeout(function () {
                                smas.openDialog('ImportErrorDialog', '', {});
                            }, 300);

                        }
                        else {
                            if (msg.Type == 'error') {
                                smas.alertColor(msg.Message, 'red');
                            } else {
                                smas.alert(msg.Message);
                                LoadGrid();
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            }
            else
            {
                smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
            }

        }     
        else 
        {
            smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
        }  
}

function CheckAllSubjectImport() {
    var ArrEvaluationGroupIDImport = '';
    $("#ArrEvaluationGroupIDImport").val('');
    var chckAllSubject = $("#chckAllSubjectImport").is(":checked");
    if (chckAllSubject) {
        $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
            $(this).attr("checked", "checked");
            ArrEvaluationGroupIDImport += $(this).val() + ',';
        });
    } else {
        $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
            $(this).removeAttr("checked");
        });
    }
    $("#ArrEvaluationGroupIDImport").val(ArrEvaluationGroupIDImport);
}
function CheckAllClassImport() {
    var ArrClassIDImport = '';
    $("#ArrClassIDImport").val('');
    var chckAllClass = $("#chckAllClassImport").is(":checked");
    if (chckAllClass) {
        $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
            $(this).attr("checked", "checked");
            ArrClassIDImport += $(this).val() + ',';
        });
    } else {
        $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
            $(this).removeAttr("checked");
        });
    }
    $("#ArrClassIDImport").val(ArrClassIDImport);
}

function changeSubjectImport() {
    var arrSubjectImport = '';
    $("#ArrEvaluationGroupIDImport").val('');
    $(".classSubjectImport").each(function () {
        var chcked = $(this).is(":checked");
        if (chcked) {
            arrSubjectImport += $(this).val() + ',';
        }
    });
    $("#ArrEvaluationGroupIDImport").val(arrSubjectImport);

    var totalChecked = $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").length;
    var totalItemChecked = 0;
    $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
        var itemChecked = $(this).is(":checked");
        if (itemChecked) {
            totalItemChecked++;
        }
    });
    if (totalItemChecked == totalChecked) {
        $("#chckAllSubjectImport").attr("checked", "checked");
    } else {
        $("#chckAllSubjectImport").removeAttr("checked");
    }
}

function changeClasImport() {
    var arrClassImport = '';
    $("#ArrClassIDImport").val('');
    $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
        var chcked = $(this).is(":checked");
        if (chcked) {
            arrClassImport += $(this).val() + ',';
        }
    });
    $("#ArrClassIDImport").val(arrClassImport);

    var totalChecked = $(".ClassAllClassImport .ClassListClassOption .ClassImport").length;
    var totalItemChecked = 0;
    $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
        var itemChecked = $(this).is(":checked");
        if (itemChecked) {
            totalItemChecked++;
        }
    });
    if (totalItemChecked == totalChecked) {
        $("#chckAllClassImport").attr("checked", "checked");
    } else {
        $("#chckAllClassImport").removeAttr("checked");
    }
}

//var lstInd = 0;
//function Grid_onDataBinding(e) {
//    var grid = $('#GridSystemComment').data('tGrid')
//    lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
//}
</script>
