@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PolicyTargetArea.Models

@{
    ViewBag.Title = Res.Get("PolicyTarget_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstPolicyTarget">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("PolicyTarget_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(580)
                .Height(250).ContentHtmlAttributes(new { style = "min-width:500px;" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("PolicyTarget_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(580)
                .Height(250).ContentHtmlAttributes(new { style = "min-width:500px;" })
)

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>
