﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Constants

@using (Ajax.BeginForm("ExportExcel", "HeadTeacherReport",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        OnBegin = "smas.showProcessingDialog",
                                        OnComplete = "smas.hideProcessingDialog"
                                    },
                                    new { id = "frmHeadTeacher" }))
{
    @Html.AntiForgeryToken()
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
           
            @Res.Get("Danh sách giáo viên chủ nhiệm")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID",(SelectList)ViewData[ReportMenuDirectionConstant.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.PLACEHOLDER_ALL,
                                    new Dictionary<string, object> { }, false, false))
                </div>
            </div>
            
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportExcel()", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPdf()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="margin-left:3px;scrollbar-3dlight-color:yellow;height:693px">
    <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Danh_Sach_GVCN/GV_BaoCaoDanhSachGVCN.htm">
        </iframe>
</div>

<script type="text/javascript">
    function ExportExcel() {
        smas.getReport('frmHeadTeacher', '@Url.Action("GetHeadTeacherReport", "HeadTeacherReport")',
            '@Url.Action("GetNewHeadTeacherReport", "HeadTeacherReport")', '@Url.Action("DownloadReport", "HeadTeacherReport")');

    };
    function ExportPdf() {
        var blank = '_blank';
        smas.getReportDocument('frmHeadTeacher', '@Url.Action("GetHeadTeacherReport", "HeadTeacherReport")',
            '@Url.Action("GetNewHeadTeacherReport", "HeadTeacherReport")', '@Url.Action("DownloadReportPdf", "HeadTeacherReport")', blank);

    };

    $(function () {
        $(".editor-field").has("select").addClass("custom-select");
    })
</script>
