﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SortExaminationRoomArea.Models
@using SMAS.Web.Areas.SortExaminationRoomArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using (Ajax.BeginForm("Search",
                                   "ExaminationRoom",
                                   new AjaxOptions
                                   {
                                       HttpMethod = "post",
                                       OnBegin = "smas.showProcessingDialog",
                                       OnComplete = "smas.hideProcessingDialog",
                                       OnSuccess = "CreateSuccess",
                                       OnFailure = "CreateFail"
                                   },
                                   new { id = "frmMove" }
                                   ))
{
    @Html.AntiForgeryToken()
    <br />
    <table>
        <tr>
            <td style="width:45%">
                    @Html.ViettelCombobox(Res.Get("CandidateRoom_Label_ExaminationRoomFirst"), "ExaminationRoom1",
            new SelectList((IEnumerable<ExaminationRoom>)ViewData[SortExaminationRoomConstants.CBO_EXAMINATIONROOM], "ExaminationRoomID", "RoomTitle"),
                                   GlobalConstants.PLACEHOLDER_EXAM,
                               new Dictionary<string, object> { { "style", "width: 200px" }, { "OnChange", "AjaxLoadGrid1(this)" } }, false, true
                               )
                <div id="dvCandidate1">
                    @Html.Partial("_ListCandidate1")
                </div>
            </td>
            <td style="width: 10%; vertical-align: middle; padding-left: 20px; padding-right: 20px;">
                <div>
                    @Html.ViettelButton(">>>", new Dictionary<string, object> { { "style", "width:85px" }, { "disabled", "disabled" }, { "id", "btnMoveCandidateRight" } }, "button", "ClickMoveRight()", "")
                </div>
                <div>
                    <br />
                </div>
                <div>
                    @Html.ViettelButton("<<<", new Dictionary<string, object> { { "style", "width:85px" }, { "disabled", "disabled" }, { "id", "btnMoveCandidateLeft" } }, "button", "ClickMoveLeft()", "")
                </div>
            </td>
            <td style="width:45%">
                <div style="width: 400px">
                    @Html.ViettelCombobox(Res.Get("CandidateRoom_Label_ExaminationRoomSecond"), "ExaminationRoom2",
        new SelectList((IEnumerable<ExaminationRoom>)ViewData[SortExaminationRoomConstants.CBO_EXAMINATIONROOM], "ExaminationRoomID", "RoomTitle"),
                                   GlobalConstants.PLACEHOLDER_EXAM,
                               new Dictionary<string, object> { { "style", "width: 200px" }, { "OnChange", "AjaxLoadGrid2(this)" } }, false, true
                               )
                </div>
                <div id="dvCandidate2">
                    @Html.Partial("_ListCandidate2")
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">
                @Html.ViettelButton(Res.Get("CandidateRoom_Label_Average"), "button", "ClickAverage()", "")
            </td>
            <td>
            </td>
            <td style="text-align: right">
                @Html.ViettelButton(Res.Get("Common_Label_Back"), "button", "ClickBack()", "")
            </td>
        </tr>
    </table>
    @Html.ViettelHidden("checkSubjectCandidate")
    @Html.ViettelHidden("EducationLevelID")        
    @Html.ViettelHidden("ExaminationID")        
    @Html.ViettelHidden("ExaminationSubjectID")
       
}
<style type="text/css">
    #frmMove .vt-control .editor-label
    {
        margin-left: 5px;
    }
</style>
<script type="text/javascript">
    function ClickBack() {
        $(".SortExaminationRoom").css({ 'visibility': 'visible', display: '' });
        $("#CandidateRoom").css({ 'visibility': 'hidden', display: 'none' });
        AjaxSelectSubject();
        AjaxLoadGrid();
    }

    function AjaxLoadGrid1() {
        smas.showProcessingDialog();
        var checkSubject = $("#checkSubject").val();
        var idRoom = $("#ExaminationRoom1").val();
        var idEducationLevel = $("#EducationLevel").val();
        var idExamination = $("#Examination").val();
        var idExaminationSubject = $("#ExaminationSubject").val();
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid1", "SortExaminationRoom")',
            type: 'post',
            data: { idRoom: idRoom, idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject, checkSubject: checkSubject },
            success: function (msg) {
                $("#dvCandidate1").html(msg);
                smas.hideProcessingDialog();

                //Xoa phan tu ben kia
                $("#ExaminationRoom2").find('option').css("display", "");
                if ($("#ExaminationRoom1").val() != "") {
                    if ($("#ExaminationRoom1").val() == $("#ExaminationRoom2").val()) {
                        $("#ExaminationRoom2").val("");
                        AjaxLoadGrid2($("#ExaminationRoom2"));
                    }
                    $("#ExaminationRoom2").find('option[value="' + $("#ExaminationRoom1").val() + '"]').css("display", "none");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }

    function AjaxLoadGrid2() {
        smas.showProcessingDialog();
        var checkSubject = $("#checkSubject").val();
        var idExaminationSubject = $("#ExaminationSubject").val();
        var idRoom = $("#ExaminationRoom2").val();
        var idEducationLevel = $("#EducationLevel").val();
        var idExamination = $("#Examination").val();
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid2", "SortExaminationRoom")',
            type: 'post',
            data: { idRoom: idRoom, idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject, checkSubject: checkSubject },
            success: function (msg) {
                $("#dvCandidate2").html(msg);
                smas.hideProcessingDialog();

                //Xoa phan tu ben kia
                $("#ExaminationRoom1").find('option').css("display", "");
                if ($("#ExaminationRoom2").val() != "") {
                    if ($("#ExaminationRoom2").val() == $("#ExaminationRoom1").val()) {
                        $("#ExaminationRoom1").val("");
                        AjaxLoadGrid1($("#ExaminationRoom1"));
                    }
                    $("#ExaminationRoom1").find('option[value="' + $("#ExaminationRoom2").val() + '"]').css("display", "none");
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }

    function ClickMoveRight() {
        var idRoom1 = $("#ExaminationRoom1").val();
        var idRoom2 = $("#ExaminationRoom2").val();
        if (idRoom1 == idRoom2) {
            smas.alert('@Res.Get("Duplicate_Room")');
            return false;
        }
        var checkSubject = $("#checkSubject").val();
        $("#checkSubjectCandidate").val(checkSubject);
        var idExamination = $("#Examination").val();
        var idRoom = $("#ExaminationRoom2").val();
        var datafrom = $("#frmMove").serialize();
        smas.showProcessingDialog();
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("ClickMoveRight", "SortExaminationRoom")',
            type: 'post',
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                AjaxLoadGrid1();
                AjaxLoadGrid2();
                smas.hideProcessingDialog();
                smas.alert(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function ClickMoveLeft() {
        var checkSubject = $("#checkSubject").val();
        $("#checkSubjectCandidate").val(checkSubject);
        var idRoom1 = $("#ExaminationRoom1").val();
        var idRoom2 = $("#ExaminationRoom2").val();
        if (idRoom1 == idRoom2) {
            smas.alert('@Res.Get("Duplicate_Room")');
            return false;
        }
        smas.showProcessingDialog();
        var datafrom = $("#frmMove").serialize();
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("ClickMoveLeft", "SortExaminationRoom")',
            type: 'post',
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                AjaxLoadGrid1();
                AjaxLoadGrid2();
                smas.hideProcessingDialog();
                smas.alert(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }

    function ClickAverage() {
        if (!validateUtils.validateForm('frmSearch')) {
            return false;
        }
        var SubjectStatus = $("#checkSubject").val();
        $("#checkSubjectCandidate").val(SubjectStatus);
        var datafrom = $("#frmMove").serialize();
        smas.showProcessingDialog();
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("Average", "SortExaminationRoom")',
            type: 'post',
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                AjaxLoadGrid1();
                AjaxLoadGrid2();
                smas.hideProcessingDialog();
                smas.alert(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }

    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
</script>
