﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SortExaminationRoomArea.Models
@using SMAS.Web.Areas.SortExaminationRoomArea
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@{
    var disabledAutoAssign2 = (bool)ViewData[SortExaminationRoomConstants.BOOL_AUTOASSIGN];
    var disabledButton = (bool)ViewData[SortExaminationRoomConstants.BOOL_BUTTON];
    var disableExport = ViewData[SortExaminationRoomConstants.BUTTON_EXPORT] == null ? "" : ViewData[SortExaminationRoomConstants.BUTTON_EXPORT].ToString();
}
<br />
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            <span>@Res.Get("CandidateRoom_Panel_Room")</span>
        </div>
        <div class="Clear"></div>
    </div>
    <div class="t-widget t-grid">
          @Html.AntiForgeryToken()
        <div id="DataList" style="height:300px;width:300px">
            @(
 Html.ListBox("ListExaminationRoom", new SelectList((IEnumerable<DataListRoomBO>)ViewData[SortExaminationRoomConstants.LIST_EXAMINATIONROOM],
     "ExaminationRoomID", "RoomDetail"), new Dictionary<string, object> { { "onClick", "AjaxLoadGrid(this)" }, { "style", "width:100%;height:100%" } }))
        </div>
    </div>
    <br />
    <div class="vt-ResultPanel-Footer-Left" style="text-align: center;">
        @Html.ViettelButton(Res.Get("DefaultGroup_Column_Add"), new Dictionary<string, object> { { "disabled", "disabled" }, { "id", "btnAddData" }, { "style", "width:60px" } }, "button", "ClickAdd()", "")
        <span>&nbsp;</span> <span>&nbsp;</span>
        @Html.ViettelButton(Res.Get("Common_Label_Edit"), new Dictionary<string, object> { { "disabled", "disabled" }, { "id", "btnEditData" }, { "style", "width:60px" } }, "button", "ClickEdit()", "")
        <span>&nbsp;</span> <span>&nbsp;</span>
        @Html.ViettelButton(Res.Get("Common_Label_Delete"), new Dictionary<string, object> { { "disabled", "disabled" }, { "id", "btnDeleteData" }, { "style", "width:60px" } }, "button", "ClickDelete()", "")
    </div>
</div>
@Html.ViettelHidden("checkSubjectDataList")
<script type="text/javascript">

    var checkAutoAssign2 = '@disabledAutoAssign2';
    var checkButton = '@disabledButton';
    var _disableExport = '@disableExport';
    $(document).ready(function () {

        if (checkAutoAssign2 == "False") {
            $("#btnAutoAssign").removeAttr('disabled');
            $("#btnAutoAssign").removeClass('t-state-disabled');
            $("#btnChange").removeAttr('disabled');
            $("#btnChange").removeClass('t-state-disabled');
        }
        if (checkAutoAssign2 == "True") {
            $("#btnAutoAssign").attr('disabled', true);
            $("#btnAutoAssign").addClass('t-state-disabled');
            $("#btnChange").attr('disabled', true);
            $("#btnChange").addClass('t-state-disabled');
        }

        if (checkButton == "False") {
            $("#btnAddData").removeAttr('disabled');
            $("#btnAddData").removeClass('t-state-disabled');
            $("#btnEditData").removeAttr('disabled');
            $("#btnEditData").removeClass('t-state-disabled');
            $("#btnDeleteData").removeAttr('disabled');
            $("#btnDeleteData").removeClass('t-state-disabled');
        }
        if (checkButton == "True") {
            $("#btnAddData").attr('disabled', true);
            $("#btnAddData").addClass('t-state-disabled');
            $("#btnEditData").attr('disabled', true);
            $("#btnEditData").addClass('t-state-disabled');
            $("#btnDeleteData").attr('disabled', true);
            $("#btnDeleteData").addClass('t-state-disabled');
        }

    });
    function AjaxLoadGrid() {
        var idEducationLevel = $("#EducationLevel").val();
        var idExamination = $("#Examination").val();
        var idExaminationSubject = $("#ExaminationSubject").val();
        if (idEducationLevel.toString() == "" || idExamination.toString() == "") {
            return false;
        }
        var checkSubject = $("#checkSubject").val();
        if ($("#ListExaminationRoom").val() != null) {
            var idRoom = $("#ListExaminationRoom").val()[0];
            $("#RoomID").val(idRoom);
        }

        $.ajax({
            url: '@Url.Action("AjaxLoadGrid", "SortExaminationRoom")',
            type: 'post',
            data: { idRoom: idRoom, idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject, checkSubject: checkSubject },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
                $("#ListCandidate").html(msg);
                if (msg != null && msg.toString() != "" && _disableExport == "enabled") {
                    $("#btnExport").removeAttr('disabled');
                    $("#btnExport").removeClass('t-state-disabled');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.hideProcessingDialog();
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function ClickAdd() {
        var idEducationLevel = $("#EducationLevel").val();
        var idExamination = $("#Examination").val();
        var idExaminationSubject = $("#ExaminationSubject").val();
        var checkSubject = $("#checkSubject").val();
        var NumberOfSeat = $("#NumberOfSeat").val();
        if (!validateUtils.validateForm('frmSearch')) {
            return false;
        }
        if (checkSubject == "False") {
            if (idExaminationSubject == null || idExaminationSubject == "") {
                return smas.alert('@Res.Get("Validate_Select_ExamSubject")');
            }
            else {

                $.ajax({
                    url: '@Url.Action("PrepareCreate", "SortExaminationRoom")',
                    type: 'post',
                    data: { idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject },
                    success: function (msg) {
                        $("#Create").html(msg);
                        formUtils.resetForm("createDialog");
                        smas.openDialog("createDialog", "", {});
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }

                })

            }
        }
        else {

            $.ajax({
                url: '@Url.Action("PrepareCreate", "SortExaminationRoom")',
                type: 'post',
                data: { idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject },
                success: function (msg) {
                    $("#Create").html(msg);
                    formUtils.resetForm("createDialog");
                    smas.openDialog("createDialog", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        }

    }

    function ClickEdit() {
        var idEducationLevel = $("#EducationLevel").val();
        var idExamination = $("#Examination").val();
        var idExaminationSubject = $("#ExaminationSubject").val();
        if ($("#ListExaminationRoom").val() == null) {
            smas.alert('@Res.Get("Validate_RoomID")');
            return false;
        }
        var idRoom = $("#ListExaminationRoom").val()[0];
        if (idRoom == null || idRoom == "" || idRoom == 0 || idRoom == "0") {
            smas.alert('@Res.Get("Validate_RoomID")');
            return false;
        }
        else {
            $.ajax({
                url: '@Url.Action("PrepareEdit", "SortExaminationRoom")',
                type: 'post',
                data: { idEducationLevel: idEducationLevel, idExamination: idExamination, idExaminationSubject: idExaminationSubject, idRoom: idRoom },
                success: function (msg) {
                    $("#Edit").html(msg);
                    smas.openDialog("editDialog", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }

            })
        }

    }

    function ClickDelete() {
        var idRoom = $("#ListExaminationRoom").val()[0];

        if (idRoom == null || idRoom == "" || idRoom == 0 || idRoom == "0") {
            return smas.alert('@Res.Get("Validate_RoomID")');
        }
        else {
            var token = $('[name=__RequestVerificationToken]').val();
            if (confirm('@Html.Raw(Res.Get("ExaminationRoom_Confirm_Delete"))')) {
                smas.showProcessingDialog();
                $.ajax({
                    url: '@Url.Action("Delete", "SortExaminationRoom")',
                    type: 'post',
                    data: { idRoom: idRoom, __RequestVerificationToken: token },
                    success: function (msg) {
                        setTimeout('smas.hideProcessingDialog(),500');
                        AjaxSelectSubject();

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }

                })
            }
            else {
                return false;
            }
        }
    }



    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
    $(function () {
        jQuery.validator.unobtrusive.parse($("#Create"));
    });
    $(function () {
        jQuery.validator.unobtrusive.parse($("#Edit"));
    });
</script>
