﻿@model SupervisorViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SortExaminationRoomArea.Models
@using SMAS.Web.Areas.SortExaminationRoomArea
@using SMAS.Models.Models
@{
    List<InvigilatorAssignment> lstInvigilatorAssignment = ViewData[SortExaminationRoomConstants.LIST_INVI] as List<InvigilatorAssignment>;
    var disabledDelete = (bool)ViewData[SortExaminationRoomConstants.BOOL_DELETE];
    var lsSupervisor = (IEnumerable<SupervisorViewModel>)ViewData[SortExaminationRoomConstants.LIST_SUPERVISOR];
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @{
                @string.Format(Res.Get("Record_Result"), lsSupervisor.Count().ToString())
            }
        </div>
        <div class="vt-ResultPanel-Title-Button">
            @Html.ViettelButton(Res.Get("Common_Label_Add"), "button", "ClickAddSupervisor()", "AddSupervisor")
            @Html.AntiForgeryToken()
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        var index = 1;
        var chks = 0;
        Html.Telerik()
        .Grid((IEnumerable<SupervisorViewModel>)ViewData[SortExaminationRoomConstants.LIST_SUPERVISOR])
        .Name("GridSupervisor")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>)
                .ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order"))
                .HtmlAttributes(new { style = "text-align:center" })
                .Width(40);
            c.Template(@<text>
        @{
            @Html.ViettelHidden("chks", chks++);
                                               if (lstInvigilatorAssignment.Where(o => o.Invigilator.Employee.EmployeeID == item.EmployeeID).Count() > 0)
                                               {
            <input type="checkbox" onclick="checkStatusSuper1()" disabled="disabled" value =
            "@item.EmployeeID"/>
                                               }
                                               else
                                               {
            <input type="checkbox" class="chkStatusSuper1" onclick="checkStatusSuper1()" id="chks@chk"
            value = "@item.EmployeeID" name ="chkStatusSuper1" checked="checked" />
                                               }
        }
        </text>)
            .HtmlAttributes(new { style = "text-align:center" })
                .HeaderTemplate(
                    @<text>
                    @*@Html.ViettelCheckBox("chkStatusallSuper", "", new Dictionary<string, object> { { "onClick", "clickStatusSuper1()" }, { "id", "chkStatusallSuper" }, { "class", "chkStatusallSuper" } }, "", true, false, false, false)*@
                    @Html.CheckBox("chkStatusallSuper", true, new { onclick = "clickStatusSuper1()", @class = "chkStatusallSuper"})
                    </text>)
                .Width(40);
            c.Bound(o => o.EmployeeCode);
            c.Bound(o => o.FullName);
            c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "t-date" });
            c.Bound(o => o.FacultyName);
            c.Bound(o => o.Telephone);
            c.Bound(o => o.Adress);
        })
        .DataBinding(b =>
        b.Ajax().OperationMode(GridOperationMode.Client)
                .Select("SearchSupervisor", "SortExaminationRoom")
        )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.EmployeeID))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Scrollable(c => c.Enabled(true).Height(280))
        .Render();
                      
    }
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Left">
            @{
                if (!disabledDelete && lsSupervisor.Count() > 0)
                { 
                <div style="text-align: left">
                    @Html.ViettelButton(Res.Get("Common_Label_Delete"), new Dictionary<string, object> { { "id", "btnDeleteSupervisor" } }, "button", "DeleteSupervisor()", "")
                </div>
                }
            }
        </div>
        <div class="vt-ResultPanel-Footer-Right">
            @{
                if (lsSupervisor.Count() > 0)
                {
                <div style="text-align: right">
                    @Html.ViettelButton(Res.Get("CandidateRoom_Label_Export"), new Dictionary<string, object> { { "id", "btnExportGV" } }, "button", "ClickExportGV()", "")
                    <span>&nbsp;</span>
                    @Html.ViettelButton(Res.Get("CandidateRoom_Label_AssignInvigilator"), "button", "ClickAssignInvigilator()", "")
                </div>
                }
            }
        </div>
        <div class="Clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    var sum = '@chks';
    $(document).ready(function () {
        //        $('.editor-label').hide();
    })
    function Grid_onDataBinding(e) {
        var grid = $('#GridSupervisor').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearchSupervisor");
    }

    function clickStatusSuper1() {
        var a = document.getElementById('chkStatusallSuper').checked;
        $(".chkStatusSuper1").attr("checked", a);
    }


    function checkStatusSuper1() {
        var check = $(".chkStatusSuper1:checked").length;
        if (check == sum) {
            $(".chkStatusallSuper").attr("checked", true);
        }
        else {
            $(".chkStatusallSuper").attr("checked", false);
        }

    }

    function DeleteSupervisor() {
        var checkedOldPupil = $('#GridSupervisor').find('input[type="checkbox"]:checked');
        if (checkedOldPupil.length < 1) {
            smas.alert('@Res.Get("ExaminationRoom_Label_SupervisorUnChecked")');
            return;
        }
        var token = $('[name=__RequestVerificationToken]').val();

        if (confirm('@Html.Raw(Res.Get("ExaminationRoom_Label_DeleteSupervisor"))')) {
            var datafrom = $("#frmDeleteSupervisore").serialize();
            smas.showProcessingDialog();
            $.ajax({
                url: '@Url.Action("DeleteSupervisor", "SortExaminationRoom")',
                type: 'post',
                data: { datafrom: datafrom, __RequestVerificationToken: token },
                dataType: "json",
                success: function (msg) {

                    smas.alert(msg);
                    search();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        }
        else {
            return false;
        }
    }
    function ClickAssignInvigilator() {
        var idExamination = $("#ExaminationID").val();
        smas.redirect("/InvigilatorAssignmentArea/InvigilatorAssignment/Index?Tab=Tc&idExamination=" + idExamination);
    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearchGV"));
    });
</script>
