@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SortExaminationRoomArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Areas.SortExaminationRoomArea
<style type="text/css">
    .vt-control .editor-field
    {
        width: 75%;
    }


    .vt-control .editor-label
    {
        width: 20%;
    }
</style>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("Common_Label_SearchingCriteria")
    </div>
    <br />
    <table>
        <tr>
            <td>
                @(Html.ViettelComboboxFor(model => model.Examination, Res.Get("CandidateRoom_Label_Examination"), (SelectList)ViewData[SortExaminationRoomConstants.CBO_EXAMINATION],
                                   GlobalConstants.PLACEHOLDER_CHOICE,
                                       new Dictionary<string, object> { { "style", "width: 150px" }, { "OnChange", "AjaxLoadEduationLevelExam()" } }, true
                               ))
            </td>
            <td>
                @(Html.ViettelComboboxFor(model => model.EducationLevel, Res.Get("CandidateRoom_Label_EducationLevel"), (SelectList)ViewData[SortExaminationRoomConstants.CBO_EDUCATIONLEVEL],
                                       GlobalConstants.PLACEHOLDER_CHOICE,
                                   new Dictionary<string, object> { { "style", "width: 150px" }, { "OnChange", "AjaxLoadSubject()" } }, true
                               ))
            </td>
            <td>
                @Html.Partial("_ComboboxSubject")
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">



    function AjaxLoadEduationLevelExam() {
        $('#ListExaminationRoom').find('option').remove().end().val('whatever');
        $("#btnExport").attr("disabled", true);
        $("#btnExport").addClass('t-state-disabled');
        var idExamination = $("#Examination").val();
        $("#ExaminationID").val(idExamination);
        if (idExamination == null || idExamination.toString() == "") {
            $('#ExaminationSubject').find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');
    }
    controlUtils.loadComboBox(
        $("#EducationLevel"),
        '@Url.Action("AjaxLoadEduationLevelExam")',
            { ExaminationID: idExamination },
            '@Res.Get("CHOICE")', ""
        );
        }

        function AjaxLoadSubject() {
            $('#ListExaminationRoom').find('option').remove().end().val('whatever');
            $("#btnExport").attr("disabled", true);
            $("#btnExport").addClass('t-state-disabled');
            var idEducationLevel = $("#EducationLevel").val();
            var idExamination = $("#Examination").val();
            var checkSubject = $("#checkSubject").val();
            $("#ExaminationID").val(idExamination);
            if (idEducationLevel == null || idEducationLevel.toString() == ""
                || idExamination == null || idExamination.toString() == ""
                ) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("AjaxLoadSubject", "SortExaminationRoom")',
                type: 'post',
                data: { idEducationLevel: idEducationLevel, idExamination: idExamination, checkSubject: checkSubject },
                success: function (msg) {
                    $("#ComboSubject").html(msg);
                    AjaxSelectSubject();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        }


        // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
        $(function () {
            jQuery.validator.unobtrusive.parse($("#frmSearch"));
        });
</script>
