﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SortExaminationRoomArea.Models
@using SMAS.Web.Areas.SortExaminationRoomArea
@{
    
    ViewBag.Title = Res.Get("Supervisor_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var disabledDelete = (bool)ViewData[SortExaminationRoomConstants.BOOL_DELETE];
}
<div id="SearchSupervisor">
    @Html.Partial("_SearchSupervisor")
</div>

@using (Ajax.BeginForm("DeleteSupervisor",
                       "ExaminationRoom",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DeleteSupervisorSuccess",
                           OnFailure = "DeleteSupervisorFail"
                       },
                       new { id = "frmDeleteSupervisore" }
                       ))
{
        @Html.AntiForgeryToken()
@Html.Hidden("idExamination")
    <div id="ListSupervisor">
        @Html.Partial("_ListSupervisor")
    </div>
    
}
@(Html.Telerik().Window()
                .Name("createSupervisorDialog")
                .Title(Res.Get("createSupervisorDialog"))
                .Content(@<text>@Html.Partial("_CreateSupervisor")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(800)
                .Height(500)
)
<script type="text/javascript">
    $(document).ready(function () {
        $(".AddSupervisor").attr("style", "display:none");
        
    }
    );
    function ClickExportGV() {
        //        $(".btnSubmitExcelGV").click();
        var ExaminationID = $("#frmSearchGV #ExaminationID").val();
        var SchoolFacultyID = $("#frmSearchGV #SchoolFacultyID").val();
        var EmployeeName = $("#frmSearchGV #EmployeeName").val();
        var EmployeeCode = $("#frmSearchGV #EmployeeCode").val();

        var downloadUrl = '@Url.Action("ExportExcelGV", "SortExaminationRoom")';
        downloadUrl += '?ExaminationID=' + ExaminationID;
        downloadUrl += '&SchoolFacultyID=' + SchoolFacultyID;
        downloadUrl += '&EmployeeName=' + EmployeeName;
        downloadUrl += '&EmployeeCode=' + EmployeeCode;
        window.open(downloadUrl);
    }

    function ClickAddSupervisor() {

        if (!validateUtils.validateForm('frmSearchGV')) {
            return false;
        }

        var idExamination = $("#ExaminationID").val();
        $.ajax({
            url: '@Url.Action("PrepareCreateSupervisor", "SortExaminationRoom")',
            type: 'post',
            data: { idExamination: idExamination },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                formUtils.resetForm("createSupervisorDialog");
                smas.openDialog("createSupervisorDialog", "", {});
                $("#CreateSupervisor").html(msg);
                $("#HideExaminationID").val(idExamination);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }

        })

    }

    

    function DeleteSupervisorSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            search();
            formUtils.resetForm("frmDeleteSupervisore");
            formUtils.focusForm("frmDeleteSupervisore");

        }
    }
    function DeleteSupervisorFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearchGV"));
    });
</script>
