﻿@model InvigilatorAssignmentViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.InvigilatorAssignmentArea.Models
@using SMAS.Web.Areas.InvigilatorAssignmentArea
@using SMAS.Models.Models


<style type ="text/css">
#frmAutoAssign .vt-control .editor-label{width:40%}#frmAutoAssign .vt-control .editor-field{width:55%;padding-left:18px}
</style>

<div id="AutoAssign">
    @using (Ajax.BeginForm("Assign",
                       "InvigilatorAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "AutoAssignBegin()",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "AutoAssignSuccess",
                           OnFailure = "AutoAssignFail"
                       },
                       new { id = "frmAutoAssign" }
                       ))
    {
        @Html.AntiForgeryToken()
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
            <div class="vt-SearchPanel-Title">
                @Res.Get("InvigilatorAssignment_Label_TitleDetail")
            </div>
            <div class="vt-SearchPanel-Content">
            <fieldset>
                <table>
                    <tr>
                        <td>
                            @Html.ViettelLabel(Res.Get("InvigilatorAssignment_Label_RoomNumber")) :
                        </td>
                        <td>
                            @Html.ViettelDisplayFor(o => o.CountRoom)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ViettelLabel(Res.Get("InvigilatorAssignment_Label_Invigilator")) :
                        </td>
                        <td>
                            @Html.ViettelDisplayFor(o => o.CountTearcher)
                        </td>
                    </tr>
                </table>
                </fieldset>
                @Html.ViettelTextboxFor(o => o.NumberOfInvigilator, Res.Get("InvigilatorAssignment_Label_SelectInvigilator"), new Dictionary<string, object> { { "class", "integer" }, { "maxlength", "1" }}, true, false)
            </div>
            <div class="vt-SearchPanel-Button" style="text-align: right">
                @Html.ViettelButton(Res.Get("InvigilatorAssignment_Label_Assign"), "button", "AutoAssign()", "")
                @Html.HiddenFor(o => o.ExaminationID)
                <span>&nbsp; </span>
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('AutoAssignDialog');", "")
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function AutoAssignSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmAutoAssign");
            formUtils.focusForm("frmAutoAssign");
        }
        AjaxLoadGrid();
    }
    function AutoAssignFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }


    function AutoAssign() {

        if (!validateUtils.validateForm('frmAutoAssign')) {
            return false;
        }
        if (!confirm('@Html.Raw(Res.Get("InvigilatorAssignment_Confirm_AutoAssign"))')) {
            return false;

        }

        $.ajax({
            url: '@Url.Action("Assign", "InvigilatorAssignment")',
            type: 'post',
            data: $("#frmAutoAssign").serialize(),
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#lstInvigilatorAssignment").html(data);
                AjaxLoadGrid();
                smas.hideProcessingDialog();
                smas.alert('@Res.Get("Common_Label_AddNewMessage")');
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        });

    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmAutoAssign"));
    });
</script>
