﻿@model InvigilatorAssignmentViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.InvigilatorAssignmentArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.InvigilatorAssignmentArea
<div id="ChangeInvigilator">
    @using (Ajax.BeginForm("Change",
                       "InvigilatorAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog();",
                           OnSuccess = "ChangeSuccess",
                           OnFailure = "ChangeFail"
                       },
                       new { id = "frmChange" }
                       ))
    {
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
            <div class="vt-SearchPanel-Title">
                @Res.Get("InvigilatorAssign_Label_ChangeInvigilator") @Html.ViettelDisplayFor(model => model.InvigilatorName)
            </div>
            <div class="vt-SearchPanel-Content">
        @Html.AntiForgeryToken()
        
        @Html.ViettelHiddenFor(model => model.InvigilatorAssignmentID)
        @Html.ViettelHiddenFor(model => model.EducationLevelID)
        @Html.ViettelHiddenFor(model => model.RoomID)
            <table>
                <tr>
                    <td style="width: 35%; vertical-align: middle;">
                        @(Html.ListBox("LisChangeInvigilator", new SelectList((IEnumerable<InvigilatorAssignmentViewModel>)ViewData[InvigilatorAssignmentConstants.CHANGE_INVIGILATOR],
     "InvigilatorID", "FullName"),
             new Dictionary<string, object> { { "onChange", "AjaxLoadChangeSubject()" }, { "style", "width:300px;Height:150px" } }))
                    </td>
                    <td style="width: 65%; vertical-align: middle;">
                        <div id="lsChangeInvigilator">
                            @Html.Partial("_ListChangeInvigilator", Model)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="text-align: right">
                        @(Html.ViettelComboboxFor(model => model.SubjectID, Res.Get("InvigilatorAssignment_Label_ChangeSubject"),
                    new SelectList((IEnumerable<SMAS.Business.BusinessObject.InvigilatorAssignmentBO>)ViewData[InvigilatorAssignmentConstants.CBO_CHANGESUBJECT], "InvigilatorAssignmentID", "SubjectNameRoom"),
                                   SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                       new Dictionary<string, object> { { "style", "width:300px" } }, true
                               ))
                    </td>
                </tr>
            </table>
        </div>
         <div class="vt-SearchPanel-Button" style="text-align: right">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmChange')) return false;", "")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('changeDialog');", "")
        </div>
        </div>
     
    }
</div>
<script type="text/javascript">
    function abc()
    { }
    function ChangeSuccess(msg) {
        smas.alert(msg);

        setTimeout('smas.closeDialog("changeDialog");', 5000);
        AjaxLoadGrid();
    }
    function ChangeFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function AjaxLoadChangeSubject() {
        AjaxLoadListSubject();
        var idInvigilator = $("#LisChangeInvigilator :selected").val();
        var idEducationLevel = $("#EducationLevelID").val();
        var idRoom = $("#RoomID").val();
        var idExamination = $("#ExaminationID").val();
        controlUtils.loadComboBox(
            $("#SubjectID"),
            '@Url.Action("AjaxLoadChangeSubject", "InvigilatorAssignment")',
            { idInvigilator: idInvigilator, idEducationLevel: idEducationLevel, idRoom: idRoom, idExamination: idExamination },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadListSubject() {
        var idInvigilator = $("#LisChangeInvigilator :selected").val();
        var idEducationLevel = $("#EducationLevelID").val();
        var idRoom = $("#RoomID").val();
        $.ajax({
            url: '@Url.Action("AjaxLoadListSubject", "InvigilatorAssignment")',
            type: 'post',
            data: { idInvigilator: idInvigilator, idEducationLevel: idEducationLevel, idRoom: idRoom },
            success: function (msg) {
                $("#lsChangeInvigilator").html(msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })


    }
    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmChange"));
    });
</script>
