@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.InvigilatorAssignmentArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.InvigilatorAssignmentArea
<style type="text/css">
   #SearchInvi .vt-control .editor-label{width:40%!important}#SearchInvi .vt-control .editor-field{width:50%!important}
</style>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
@{
    int select = ViewData[InvigilatorAssignmentConstants.INDEX] != null ? (int)ViewData[InvigilatorAssignmentConstants.INDEX] : 0;
    }
   
    @using (Ajax.BeginForm("Search",
                           "InvigilatorAssignment",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstInvigilatorAssignment",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
         
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("Common_Label_SearchingCriteria")
    </div>
        <div class="vt-SearchPanel-Content">
            
        <div id="SearchInvi">
            <table>
                <tr>
                    <td>
                        @(Html.ViettelComboboxFor(model => model.ExaminationID, Res.Get("InvigilatorAssignment_Label_Examination"),
        new SelectList((IEnumerable<Examination>)ViewData[InvigilatorAssignmentConstants.CBO_EXAMINATION], "ExaminationID", "Title", select),
                                   GlobalConstants.PLACEHOLDER_CHOICE,
               new Dictionary<string, object> { { "onChange", "AjaxLoadEducationLevel()" }, { "style", "width:120px" } }, true
                               ))
                    </td>
                    <td>
                        @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("InvigilatorAssignment_Label_EducationLevel"),
            new SelectList((IEnumerable<EducationLevel>)ViewData[InvigilatorAssignmentConstants.CBO_EDUCATIONLEVEL], "EducationLevelID", "Resolution"),
                                   GlobalConstants.PLACEHOLDER_CHOICE,
new Dictionary<string, object> { { "onChange", "AjaxLoadSubject()" }, { "style", "width:120px" } }, true
                               ))
                    </td>
                    <td>
                        @(Html.ViettelComboboxFor(model => model.ExaminationSubjectID, Res.Get("InvigilatorAssignment_Label_Subject"),
new SelectList((IEnumerable<ExaminationSubject>)ViewData[InvigilatorAssignmentConstants.CBO_EXAMINATIONSUBJECT], "ExaminationSubjectID", "SubjectCat.DisplayName"),
                                   GlobalConstants.PLACEHOLDER_CHOICE,
new Dictionary<string, object> { { "onChange", "AjaxLoadRoom()" }, { "style", "width:120px" } }, true
                               ))
                    </td>
                    <td>
                        @(Html.ViettelComboboxFor(model => model.ExaminationRoomID, Res.Get("InvigilatorAssignment_Label_Room"),
        new SelectList((IEnumerable<ExaminationRoom>)ViewData[InvigilatorAssignmentConstants.CBO_ROOM], "ExaminationRoomID", "RoomTitle"),
                                   GlobalConstants.PLACEHOLDER_ALL,
new Dictionary<string, object> { { "onChange", "AjaxLoadGrid()" }, { "style", "width:120px" } }, false
                               ))
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td style="text-align: right">
                    @*@Html.ViettelButton(Res.Get("InvigilatorAssignment_Label_AutoAssign"),new Dictionary<string,object>{{"disabled","disabled"}}, "button", "ClickAutoAssign()", "btnAutoAssignInvigilatorAssignment")*@
                    </td>
                </tr>
            </table>
        </div>
        </div>
        
    }
        <div  class="vt-SearchPanel-Button" style="text-align: right">
            @Html.ViettelButton(Res.Get("InvigilatorAssignment_Label_AutoAssign"), new Dictionary<string, object> { { "disabled", "disabled" } }, "button", "ClickAutoAssign()", "btnAutoAssignInvigilatorAssignment")
        </div>
        </div>
<script type="text/javascript">
    var a = 0;
    function search() {

        
    }

    function ClickAutoAssign() {

        if (!validateUtils.validateForm('frmSearch')) {
          return false;
        }
      var idExamination = $("#frmSearch #ExaminationID").val();
      var EducationLevelID = $("#frmSearch #EducationLevelID").val();
      var ExaminationSubjectID = $("#frmSearch #ExaminationSubjectID").val();
      var ExaminationRoomID = $("#frmSearch #ExaminationRoomID").val();
      
        $.ajax({
            url: '@Url.Action("PrepareAutoAssign", "InvigilatorAssignment")',
            type: 'post',
            data: { idExamination: idExamination, EducationLevelID: EducationLevelID, ExaminationSubjectID: ExaminationSubjectID, ExaminationRoomID: ExaminationRoomID },
            success: function (msg) {
                $("#AutoAssign").html(msg);

                smas.openDialog("AutoAssignDialog", "", {});

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function AjaxLoadEducationLevel() {

        $("#btnExport").addClass("t-state-disabled");
        $("#btnExport").attr("disabled", true);
        //$("#ExaminationSubjectID").html("");
        //$("#ExaminationRoomID").html("");
        $("#lstInvigilatorAssignment").html("");

        var idExamination = $("#ExaminationID").val();
        
        if (idExamination != null && idExamination != "") {
            $.ajax({
                url: '@Url.Action("CheckButtonAdd", "InvigilatorAssignment")',
                type: 'post',
                data: { idExamination: idExamination },
                success: function (data) {
                    if (data == "success") {
                        $(".btnAutoAssignInvigilatorAssignment").removeClass('t-state-disabled');
                        $(".btnAutoAssignInvigilatorAssignment").attr("disabled", false);
                    }
                    if (data == "error") {
                        $(".btnAutoAssignInvigilatorAssignment").addClass('t-state-disabled');
                        $(".btnAutoAssignInvigilatorAssignment").attr("disabled", true);
                    }

                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            });
        }
        controlUtils.loadComboBox(
            $("#EducationLevelID"),
            '@Url.Action("AjaxLoadEducationLevel", "InvigilatorAssignment")',
            { idExamination: idExamination },
            '@Res.Get("SelectRK")'
        );
        var idEducationLevel = null;
        var idExaminationSubject = null;
        controlUtils.loadComboBox(
            $("#ExaminationSubjectID"),
            '@Url.Action("AjaxLoadSubject", "InvigilatorAssignment")',
            { idEducationLevel: idEducationLevel, idExamination: idExamination },
            '@Res.Get("SelectRK")'
        );
        controlUtils.loadComboBox(
            $("#ExaminationRoomID"),
            '@Url.Action("AjaxLoadRoom", "InvigilatorAssignment")',
            { idExaminationSubject: idExaminationSubject, idExamination: idExamination },
            '@Res.Get("All")'
        );
        }



    function AjaxLoadSubject() {

        $("#btnExport").addClass("t-state-disabled");
        $("#btnExport").attr("disabled", true);
        $("#ExaminationSubjectID").html("");
        //$("#ExaminationRoomID").html("");
        $("#lstInvigilatorAssignment").html("");
        var idEducationLevel = $("#EducationLevelID").val();

        var idExamination = $("#ExaminationID").val();
        if (idExamination != null && idExamination != "") {
            $.ajax({
                url: '@Url.Action("CheckButtonAdd", "InvigilatorAssignment")',
                type: 'post',
                data: { idExamination: idExamination },
                success: function (data) {
                    if (data == "success") {
                        $(".btnAutoAssignInvigilatorAssignment").removeClass('t-state-disabled');
                        $(".btnAutoAssignInvigilatorAssignment").attr("disabled", false);
                    }
                    if (data == "error") {
                        $(".btnAutoAssignInvigilatorAssignment").addClass('t-state-disabled');
                        $(".btnAutoAssignInvigilatorAssignment").attr("disabled", true);
                    }

                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            });
        }
        controlUtils.loadComboBox(
            $("#ExaminationSubjectID"),
            '@Url.Action("AjaxLoadSubject", "InvigilatorAssignment")',
            { idEducationLevel: idEducationLevel, idExamination: idExamination },
            '@Res.Get("SelectRK")'
        );
        var idExaminationSubject = null;

        controlUtils.loadComboBox(
            $("#ExaminationRoomID"),
            '@Url.Action("AjaxLoadRoom", "InvigilatorAssignment")',
            { idExaminationSubject: idExaminationSubject, idExamination: idExamination },
            '@Res.Get("All")'
        );

    }

    function AjaxLoadRoom() {
        var idExaminationSubject = $("#ExaminationSubjectID").val();
        $("#ExaminationRoomID").html("");

        var idExamination = $("#ExaminationID").val();
        controlUtils.loadComboBox(
            $("#ExaminationRoomID"),
            '@Url.Action("AjaxLoadRoom", "InvigilatorAssignment")',
            { idExaminationSubject: idExaminationSubject, idExamination: idExamination },
            '@Res.Get("All")'
        );
        AjaxLoadGrid();
        
    }



    function AjaxLoadGrid() {
        var ExaminationSubjectID = $("#frmSearch #ExaminationSubjectID").val();
        if (ExaminationSubjectID != "" && ExaminationSubjectID != null && ExaminationSubjectID != undefined) {
            smas.showProcessingDialog();
            var idExaminationSubject = $("#ExaminationSubjectID").val();
            var idExamination = $("#ExaminationID").val();
            var idRoom = $("#ExaminationRoomID").val();
            $.ajax({
                url: '@Url.Action("AjaxLoadGrid", "InvigilatorAssignment")',
                type: 'post',
                data: { idRoom: idRoom, idExamination: idExamination, idExaminationSubject: idExaminationSubject },
                success: function (msg) {
                    $("#lstInvigilatorAssignment").html(msg);

                    smas.hideProcessingDialog();
                    checkRow();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        } else {
            $("#lstInvigilatorAssignment").html("");
        }
        if (ExaminationSubjectID != "") {
            $("#btnNumbered").removeClass("t-state-disabled");
            $("#btnNumbered").removeAttr("disabled", "disabled");
            $("#btnExport").removeClass("t-state-disabled");
            $("#btnExport").removeAttr("disabled", "disabled");
        }
        else {
            $("#btnNumbered").addClass("t-state-disabled");
            $("#btnNumbered").attr("disabled", "disabled");
            $("#btnExport").addClass("t-state-disabled");
            $("#btnExport").attr("disabled", "disabled");
        }
    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearch"));
    });
</script>
