﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DetachableHeadBagArea
@using SMAS.Web.Areas.DetachableHeadBagArea.Models
@model AutoGenViewModel
           @{
               bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
               bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
               bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
<div>
    <div style="float: left; width: 47%">
        @Html.ViettelCombobox(Res.Get("DetachableHeadBag_Lable_DetachableHead"), "DetachableHeadBagID", (SelectList)ViewData[DetachableHeadBagContants.LIST_DETACHABLEHEADBAG], 0, null, false, false)
        @*@Html.ViettelComboboxFor(u => u.DetachableHeadBagID, Res.Get("DetachableHeadBag_Lable_DetachableHead"), (SelectList)ViewData[DetachableHeadBagContants.LIST_DETACHABLEHEADBAG], 0, null, true)*@
        <div id="GridAutoDetachable">
            @Html.Partial("_GridAutoDetachable")
        </div>
    </div>
    <div style="float: right; width: 48%">
        <fieldset>
            <legend>@Res.Get("DetachableHeadBag_Label_AutoDetachable")</legend>
            @* @Html.ViettelTextboxFor(u => u.DetachableHeadNumber, Res.Get("DetachableHeadBag_Lable_DetachableHeadNumber"), new Dictionary<string,object>(), true)*@
            @* @Html.ViettelTextboxFor(u => u.Prefix, Res.Get("DetachableHeadBag_Label_Prefix"), null, false)
            @Html.ViettelTextboxFor(u => u.StartingNumber, Res.Get("DetachableHeadBag_Lable_StartingNumber"), null, true)*@
            @Html.ViettelEditorFor(u => u.DetachableHeadNumber, new Dictionary<string, object>())
            @Html.ViettelEditorFor(u => u.Prefix, new Dictionary<string, object>())
            @Html.ViettelEditorFor(u => u.StartingNumber, new Dictionary<string, object>())
            @if(checkCreate)
            {
            <input type="button" value="@Res.Get("DetachableHeadBag_Label_AutoDetachableButton")" id="AutoGenButton" class="t-button" />
            }
        </fieldset>
    </div>
    <div style="clear: both">
    </div>
</div>
<script type="text/javascript">

    function fn_DetachableHeadBagChange() {
        var eId = $("#ExaminationID").val();
        var edId = $("#EducationLevelID").val();
        var esId = $("#ExaminationSubjectID").val();
        var dId = $("#DetachableHeadBagID").val();

        $.ajax({
            url: '@Url.Action("LoadAutoGrid", "DetachableHeadBag")',
            type: 'post',
            data: { examinationID: eId, educationLevelID: edId, examinationSubjectID: esId, DetachableHeadBagID: dId },
            success: function (data) {
                $("#GridAutoDetachable").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    $(document).ready(function () {

        $("#DetachableHeadNumber").change(function () {
            return fn_CheckDetachableHeadNumber();
        });

        $("#Prefix").change(function () {
            return fn_CheckPrefix();
        });

        $("#StartingNumber").change(function () {
            return fn_CheckStartingNumber();
        });

        $("#AutoGenButton").click(function () {

            if (!fn_CheckExaminationSubject() || !fn_CheckDetachableHeadNumber() || !fn_CheckPrefix() || !fn_CheckStartingNumber()) {
                return false;
            }

            var esId = $("#ExaminationSubjectID").val();
            var dhId = $("#DetachableHeadNumber").val();
            var prId = $("#Prefix").val();
            var snId = $("#StartingNumber").val();

            if (confirm('@Html.Raw(Res.Get("DetachableHeadBag_Label_Confirm"))')) {

                $.ajax({
                    url: '@Url.Action("AutoSave", "DetachableHeadBag")',
                    type: 'post',
                    data: { ExaminationSubjectID: esId, DetachableHeadNumber: dhId, Prefix: prId, StartingNumber: snId },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.alert(msg);
                        fn_DetachableHeadBag();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    },
                    complete: function () {
                        smas.hideProcessingDialog();
                    }
                });
            }
        });

        $("#DetachableHeadBagID").change(function () {
            fn_DetachableHeadBagChange();
        });
    });
</script>
