﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DetachableHeadBagArea
@using SMAS.Web.Areas.DetachableHeadBagArea.Models
@model SearchViewModel
@{
    ViewBag.Title = Res.Get("DetachableHeadBag_Label_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo glo = new GlobalInfo();
    
}
<style type="text/css" media="screen">
 
</style>


<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("Common_Label_SearchingCriteria")
    </div>
    <div class="vt-SearchPanel-Content">
        @Html.ViettelComboboxFor(u => u.ExaminationID, Res.Get("Examination_Label_TitleChoice"), (SelectList)ViewData[DetachableHeadBagContants.LIST_EXAMINATION],0, new Dictionary<string, object> {{"onChange", "AjaxLoadEducationLevel()"}}, true)
        @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("DetachableHeadBag_Label_EducationLevel"), (SelectList)ViewData[DetachableHeadBagContants.LIST_EDUCATION_LEVEL], 0, null, true)
        @Html.ViettelComboboxFor(u => u.ExaminationSubjectID, Res.Get("Candidate_Label_ExaminationSubject"), new List<SelectListItem>(), 0, null, true)
    </div>
    
</div>



@{
    Html.Telerik()
        .TabStrip()
        .Name("DetachableHeadBag")
        .Items(u =>
        {
            u.Add().Content(@<text>@Html.Partial("_AutoDetachable")</text>).Text(Res.Get("DetachableHeadBag_Label_AutoDetachable"));
            u.Add().Content(@<text>@Html.Partial("_ManualDetachable")</text>).Text(Res.Get("DetachableHeadBag_Label_ManualDetachable"));
        }).SelectedIndex(0).Render();
}
@if (glo.IsCurrentYear)
{
<div style="text-align: right; padding: 20px; display: none" id="divButtonExcel">
    @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object>() { }, "button", "fn_Export_Click()", "")
</div>
}
<script type="text/javascript">
   
    function fn_CheckExamination() {
        var eId = $("#ExaminationID").val();
        if (!eId || eId <= 0) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_Null"), Res.Get("Examination_Label_Title"))';
            smas.alert(msg);
            return false;
        }
        return true;
    }

    function fn_CheckEducationLevel() {
        var eduId = $("#EducationLevelID").val();
        if (!eduId || eduId <= 0) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_Null"), Res.Get("DetachableHeadBag_Label_EducationLevel"))';
            smas.alert(msg);
            return false;
        }
        return true;
    }

    function fn_CheckExaminationSubject() {
        var esId = $("#ExaminationSubjectID").val();
        if (!esId || esId <= 0) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_Null"), Res.Get("Candidate_Label_ExaminationSubject"))';
            smas.alert(msg);
            return false;
        }
        return true;
    }

    function fn_CheckDetachableHeadNumber() {
        var dhId = $("#DetachableHeadNumber").val();

        if (dhId.trim() == "") {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_Null"), Res.Get("DetachableHeadBag_Lable_DetachableHeadNumber"))';
            smas.alert(msg);
            return false;
        }

        if (!(dhId % 1 === 0)) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotIsNumber"), Res.Get("DetachableHeadBag_Lable_DetachableHeadNumber"))';
            smas.alert(msg);
            return false;
        }

        if (dhId <= 0 || dhId >= 100) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotInRange"), Res.Get("DetachableHeadBag_Lable_DetachableHeadNumber"), 1, 99)';
            smas.alert(msg);
            return false;
        }
        return true;
    }

    function fn_CheckStartingNumber() {
        var dhId = $("#StartingNumber").val();

        if (dhId.trim() == "") {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_Null"), Res.Get("DetachableHeadBag_Lable_StartingNumber"))';
            smas.alert(msg);
            return false;
        }

        if (!(dhId % 1 === 0)) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotIsNumber"), Res.Get("DetachableHeadBag_Lable_StartingNumber"))';
            smas.alert(msg);
            return false;
        }

        if (dhId <= 0 || dhId >= 1000) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotInRange"), Res.Get("DetachableHeadBag_Lable_StartingNumber"), 1, 999)';
            smas.alert(msg);
            return false;
        }
        return true;
    }

    function fn_CheckPrefix() {
        var prId = $("#Prefix").val();
        if (prId != "" ) {
            if (prId.length > 5) {
                msg = {};
                msg["Type"] = "error";
                msg["Message"] = '@string.Format(Res.Get("Common_Validate_MaxLength"), Res.Get("DetachableHeadBag_Label_Prefix"), 5)';
                smas.alert(msg);
                return false;
            }

            if (!prId.match(/[a-zA-Z0-9]+/g)) {
                msg = {};
                msg["Type"] = "error";
                msg["Message"] = '@string.Format(Res.Get("Common_Validation_InvalidCharacters"), Res.Get("DetachableHeadBag_Label_Prefix"))';
                smas.alert(msg);
                return false;
            }
        }
        return true;
    }

    function fn_CheckFromNumber() {
        var value = $("#FromNumber").val();
        if (!(value % 1 === 0)) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotIsNumber"), Res.Get("DetachableHeadBag_Label_FromNameListCode"))';
            smas.alert(msg);
            return false;
        }
        if (value != "") {
        if (value <= 0 || value >= 1000) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotInRange"), Res.Get("DetachableHeadBag_Label_FromNameListCode"), 1, 999)';
            smas.alert(msg);
            return false;
        }
        }
        return true;
    }

    function fn_CheckToNumber() {
        var value = $("#ToNumber").val();
        if (!(value % 1 === 0)) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotIsNumber"), Res.Get("DetachableHeadBag_Label_ToNameListCode"))';
            smas.alert(msg);
            return false;
        }
        if (value != "") {
        if (value <= 0 || value >= 1000) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@string.Format(Res.Get("Common_Validate_NotInRange"), Res.Get("DetachableHeadBag_Label_ToNameListCode"), 1, 999)';
            smas.alert(msg);
            return false;
        }
        }
        return true;
    }

    function fn_LoadExamSubject() {
        var eduId = $("#EducationLevelID").val();
        var eId = $("#ExaminationID").val();
        
        if (eduId>0 && eId>0) {
            $.ajax({
                url: '@Url.Action("LoadExamSubject", "DetachableHeadBag")',
                type: 'post',
                data: { educationLevelID: eduId, examinationID: eId },
                success: function (data) {              
                    $("#ExaminationSubjectID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_Choose")</option>");
                    $.each(data, function (index, value) {
                        $('#ExaminationSubjectID').append($("<option></option>").attr("value", value.key).text(value.value));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            $("#ExaminationSubjectID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_Choose")</option>");
        }
    }
     
    function fn_Prefix() {
        var esId = $("#ExaminationSubjectID").val();
        if (esId>0) {
            $.ajax({
                url: '@Url.Action("LoadPrefix", "DetachableHeadBag")',
                type: 'post',
                data: { examinationSubjectID: esId },
                success: function (data) {
                    console.log(data);
                    $("input[name='prefixNamedListCode']").val(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $("input[name='prefixNamedListCode']").val("");
        }
    }

    function fn_DetachableHeadBag() {
        var esId = $("#ExaminationSubjectID").val();
        var eId = $("#ExaminationID").val();
        var edId = $("#EducationLevelID").val();
        if (esId>0) {
            $.ajax({
                url: '@Url.Action("LoadDetachableHeadBag", "DetachableHeadBag")',
                type: 'post',
                data: { examinationID: eId, examinationSubjectID: esId, educationLevelID: edId},
                success: function (data) {
                    $("#DetachableHeadBagID").find('option').remove().end().append("<option value>@Res.Get("DetachableHeadBag_Label_NotDetached")</option>");
                    $.each(data, function (index, value) {
                        $("#DetachableHeadBagID").append($("<option></option>").attr("value", value.key).text(value.value));
                    });
                    fn_DetachableHeadBagChange()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $("input[name='BagTitle']").val("");
        }
    }

    function fn_Export_Click() {
        if (!fn_CheckExamination() || !fn_CheckEducationLevel() || !fn_CheckExaminationSubject()) {
            return false;
        }
        var esId = $("#ExaminationSubjectID").val();
        var eId = $("#ExaminationID").val();
        var edId = $("#EducationLevelID").val();
        window.open('@Url.Action("Export", "DetachableHeadBag")?ExaminationID=' + eId + "&EducationLevelID=" + edId + "&ExaminationSubjectID=" + esId);
    }

    function fn_CheckDisplayExcel() {
        var eId = $("#ExaminationID").val();
        if (eId>0) {
            $.ajax({
                url: '@Url.Action("CheckDisplayExcel", "DetachableHeadBag")',
                type: 'post',
                data: {   examinationID: eId },
                success: function (data) {              
                    if (data)
                        $("#AutoGenButton").show();
                    else 
                        $("#AutoGenButton").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
             $("#divButtonExcel").css("display", "none")
        }
    }

    $(document).ready(function () {
        $("#EducationLevelID").change(function () {
            fn_LoadExamSubject();
        });

        $("#ExaminationID").change(function () {         
            fn_LoadExamSubject();
            fn_CheckDisplayExcel();
        });

        $("#ExaminationSubjectID").change(function() {
            fn_Prefix();
            fn_DetachableHeadBag();
            //fn_LoadManualDetachGrid();
            fn_LoadManualDetachGridSelectSubjet();
        });
    });

    function AjaxLoadEducationLevel() {

        var idExamination = $("#ExaminationID").val();
        controlUtils.loadComboBox(
            $("#EducationLevelID"),
            '@Url.Action("AjaxLoadEducationLevel", "DetachableHeadBag")',
            { idExamination: idExamination },
            '@Res.Get("SelectRK")'
        );
        }

</script>
