﻿@model EmployeeWorkMovementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeWorkMovementArea.Models
@using (Ajax.BeginForm("Edit",
                       "EmployeeWorkMovement",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            <div class="vt-control TeacherName">
                <div class="editor-label">
                    @Html.ViettelLabel(Res.Get("WorkMovement_Label_EmployeeName"))
                </div>
                <div class="editor-field">
                    @Html.ViettelTextBox("TeacherName", "", new { @class = "vt-display-text", style = "border:0", disabled = "disabled" })
                </div>
            </div>
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("EmployeeWorkMovementID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "t-button vt-button-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');smas.reload();", "t-button vt-button-close")
        </div>
    </div>
}
<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            smas.reload();
        }
    }
    function EditFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });

    function OnEditDateChange(e) {
        if (e.date == undefined && $("#frmEdit #MovedDate").val() != "") {
            $("#frmEdit #MovedDate").val('');
            setTimeout('$("span[htmlfor=MovedDate]").html("Ngày chuyển không đúng định dạng")', 100);
            setTimeout('$("#frmEdit #MovedDate").focus();', 500);
        }
    }

    $(document).ready(function () {
        $("#frmEdit #MovedDate").attr("OnChange", "OnEditDateChange(this)");

    });
</script>
