﻿@model List<ExamSupervisoryViolateViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSupervisoryViolateArea
@using SMAS.Web.Areas.ExamSupervisoryViolateArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@{   
    int createOrEdit = (int)ViewData[ExamSupervisoryViolateConstants.CREATE_OR_EDIT];
    string action = createOrEdit == ExamSupervisoryViolateConstants.CREATE ? "Create" : "Edit";
    List<ExamViolationType> lst = (List<ExamViolationType>)ViewData[ExamSupervisoryViolateConstants.CBO_EXAM_VIOLATE_TYPE];
}
@if (lst.Count == 0)
{
    <div style ="margin-left:7px;">
        @Html.Raw(Res.Get("Note_Label_ExamPupilViolate"))
    </div>
}
@using (Ajax.BeginForm(action,
                       "ExamSupervisoryViolate",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        @Html.ViettelAntiForgeryToken()
        <div class="vt-ResultPanel">
      
            @{
            var index = 1;
            var id1 = 0;
            var id2= 0;
            var id3 = 0;
            var id4 = 0;
            var id5 = 0;

            Html.Telerik()
                .Grid(Model)
                .Name("GridExamSupervisory")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                    c.Bound(o => o.EmployeeCode).Width(150);
                    c.Bound(o => o.EmployeeName);
                    c.Template(@<text>
                                @{
                                    string name = "ResultList[" + id1 + "]." + "ContentViolated";
                                    id1++;
                                    <div class="editor-field">
                                        <input  name='@name' type="text" value="@item.ContentViolated" style="width:170px" class="ContentViolated" disabled="disabled"  maxlength="100">
                                        <span style="color: red;">*</span>
                                        <span class="field-validation-valid" data-valmsg-for="ResultList[0].ContentViolated" data-valmsg-replace="true"></span>
                                    </div>
                                }
                                </text>).Title(Res.Get("ExamSupervisoryViolate_Label_ContentViolated")).HtmlAttributes(new { style = "text-align:center" }).Width(200);

                    c.Template(@<text>
                                @{
                                    string name = "ResultList[" + id2 + "]." + "ExamViolatetionTypeID";
                                    id2++;
           
                                    @Html.ViettelCombobox("", name, new SelectList((IEnumerable<ExamViolationType>)ViewData[ExamSupervisoryViolateConstants.CBO_EXAM_VIOLATE_TYPE],"ExamViolationTypeID", "Resolution",item.ExamViolatetionTypeID),
                                        GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object> { {"style", "width:140px"},{"class","ExamViolatetionTypeID"},{"disabled", "disabled"} }, true, true)
                                    <span style="color: red">*</span>
                                }
                                </text>).Title(Res.Get("ExamSupervisoryViolate_Label_ExamViolatetionTypeResolusion")).HtmlAttributes(new { style = "text-align:center" }).Width(165);
                    c.Template(@<text>
                                @{
                                    string name = "ResultList[" + id3 + "]." + "IsCheck";
                                    id3++;
                                    if (createOrEdit == ExamSupervisoryViolateConstants.CREATE)
                                    {
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" name="@name"  class="IsCheck"/>
                                        <span class="checkmark"></span>  
                                    </label>
                                    }
                                    else if (createOrEdit == ExamSupervisoryViolateConstants.EDIT && item.ExamSupervisoryViolateID == 0)
                                    {
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                         <input type="checkbox" name="@name"  class="IsCheck"/>
                                        <span class="checkmark"></span>  
                                    </label>
                                    }
                                    else if (createOrEdit == ExamSupervisoryViolateConstants.EDIT && item.ExamSupervisoryViolateID != 0)
                                    {
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" name="@name"  class="IsCheck" checked="checked"/>
                                        <span class="checkmark"></span>  
                                    </label>
                                    }
                                }
                                </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" })
                               .HeaderTemplate("<label class='custom-checkbox p-r-0 p-l-15'><input type='checkbox' id='csCheckAll' /><span class='checkmark'></span></label>")
                               .Width(50);
                    c.Template(@<text>
                                @{
                                    string name = "ResultList[" + id4 + "]." + "ExamSupervisoryID";
                                    id4++;
                                    <input type="hidden" name="@name" value="@item.ExamSupervisoryID"/>
                                }
                                </text>).Hidden(true);

                    c.Template(@<text>
                                @{
                                    string name = "ResultList[" + id5 + "]." + "ExamSupervisoryViolateID";
                                    id5++;
                                    <input type="hidden" name="@name" value="@item.ExamSupervisoryViolateID"/>
                                }
                                </text>).Hidden(true);

                })

                .DataBinding(b =>
                    b.Ajax().OperationMode(GridOperationMode.Client)
                            .Select("CreateSearch", "ExamSupervisoryViolate")
                 )

                .DataKeys(keys => keys.Add(o => o.ExamSupervisoryID))
                .Scrollable(u => u.Height(350))
                .Render();            
            }
        </div>
        <div style="display:none" id="hiddenInfo">
            <input type="hidden" id="tmpExaminationsID" name="examinationsID"/>
            <input type="hidden" id="tmpExamGroupID" name="examGroupID" />
            <input type="hidden" id="tmpSubjectID" name="subjectID" />
            <input type="hidden" id="tmpExamRoomID" name="examRoomID" />
        </div>
        if (ViewData[ExamSupervisoryViolateConstants.CBO_EXAM_VIOLATE_TYPE] == null)
        {
            @Html.Raw(Res.Get("Note_Label_ExamSupervisoryViolate"));
        }
        <div class="dialog-buttons" style="text-align:center">
            <input type="submit" style="display:none" />
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "PrepareSubmitGrid()", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');search()", "btn btn-basic btn-round")
        </div>
    }
<script type="text/javascript">
    $(document).ready(function () {
        //PrepareCheckBoxState();
       
        $("#GridExamSupervisory").find('.IsCheck').change(function () {
            if ($(this).attr('checked')) {
                $(this).val('1');
                $(this).closest("tr").find(".ContentViolated").removeAttr("disabled");
                $(this).closest("tr").find(".ExamViolatetionTypeID").removeAttr("disabled");
            } else {
                $(this).val('0');
                $(this).closest("tr").find(".ContentViolated").attr("disabled", "disabled");
                $(this).closest("tr").find(".ExamViolatetionTypeID").attr("disabled", "disabled");
            }

            $(this).closest("tr").find(".ContentViolated").closest(".editor-field").find(".field-validation-error").attr("class", "field-validation-valid").html("");
            $(this).closest("tr").find(".ExamViolatetionTypeID").closest(".editor-field").find(".field-validation-error").attr("class", "field-validation-valid").html("");

            //Kiem tra check/uncheck checkbox all
            if ($("#GridExamSupervisory").find(".IsCheck:not(:checked)").length == 0) {
                $('#GridExamSupervisory #csCheckAll').attr('checked', true);
            }
            else {
                $('#GridExamSupervisory #csCheckAll').attr('checked', false);
            }
        });

        $('#csCheckAll').click(function () {
            $(this).parents('#GridExamSupervisory').find(':checkbox:enabled').attr('checked', this.checked);
            $(this).parents('#GridExamSupervisory').find(':checkbox:enabled').change();
        });
       
        $("#GridExamSupervisory").find(".ContentViolated").keypress(function () {
            $input = $(this);
            $input.closest(".editor-field").find(".field-validation-error").attr("class", "field-validation-valid").html("");
        });

        $("#GridExamSupervisory").find(".ExamViolatetionTypeID").change(function () {
            $input = $(this);
            $input.closest(".editor-field").find(".field-validation-error").attr("class", "field-validation-valid").html("");
        });

        $('.IsCheck').change();
         @{
             if (createOrEdit == ExamSupervisoryViolateConstants.EDIT)
             {
                <text>
                $("#GridExamSupervisory").find(':checkbox').attr("disabled", "disabled");
                </text>
             }
        };

        $("#frmCreate").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        //Trim noi dung vi pham
        $("#GridExamSupervisory").find(".ContentViolated").change(function () {
            var val = $(this).val();
            $(this).val($.trim(val));
        });

        //Enable button luu khi co giam thi duoc chon
        if ($("#GridExamSupervisory").find('.IsCheck:checked').length > 0) {
            EnableButton($("#createDialog").find(":button").first());
        }
        else {
            DisableButton($("#createDialog").find(":button").first());
        }

        $("#GridExamSupervisory").find(':checkbox').change(function () {
            if ($("#GridExamSupervisory").find('.IsCheck:checked').length > 0) {
                EnableButton($("#createDialog").find(":button").first());
            }
            else {
                DisableButton($("#createDialog").find(":button").first());
            }

        });

    });

    function PrepareSubmitGrid() {
     
        if (ValidateBeforeSubmit() == 0) {
            var examinationsID = $("#frmCreateSearch").find("#_ExaminationsID").val();
            var examGroupID = $("#frmCreateSearch").find("#_ExamGroupID").val();
            var subjectID = $("#frmCreateSearch").find("#_SubjectID").val();
            var examRoomID = $("#frmCreateSearch").find("#_ExamRoomID").val();

            $("#frmCreate").find("#tmpExaminationsID").val(examinationsID);
            $("#frmCreate").find("#tmpExamGroupID").val(examGroupID);
            $("#frmCreate").find("#tmpSubjectID").val(subjectID);
            $("#frmCreate").find("#tmpExamRoomID").val(examRoomID);

            $("#frmCreate input[type='submit']").click();
        }
        
    }

    function ValidateBeforeSubmit() {
        var errorNum = 0;
        $("#frmCreateSearch").find("select").each(function () {
            $input = $(this);
            if ($input.val() == '' || $input.val()==null) {
                errorNum++;
                var label = $input.closest(".vt-control").find(".editor-label").find("label").text();
                var html = ("<span>" + '@Res.Get("Common_Validate_Required")' + "</span>").replace("{0}", label);
                    $input.closest(".editor-field").find(".field-validation-valid").attr("class", "field-validation-error").html(html);
             }
        });

        $("#GridExamSupervisory").find(".ContentViolated").each(function ()
        {
            $input = $(this);
            if (!$input.is(':disabled'))
            {
                if ($.trim($input.val()) == '')
                {
                    errorNum++;
                    var html = "<span>" + '@Res.Get("ExamSupervisoryViolate_Validate_Required_ContentViolated")' + "</span>"
                    $input.closest(".editor-field").find(".field-validation-valid").attr("class", "field-validation-error").html(html);
                }
            }
        });

        $("#GridExamSupervisory").find(".ExamViolatetionTypeID").each(function () {
            $input = $(this);
            if (!$input.is(':disabled')) {
                if ($.trim($input.val()) == '') {
                    errorNum++;
                    var html="<span>"+'@Res.Get("ExamSupervisoryViolate_Validate_Required_ExamViolatetionTypeID")'+"</span>"
                    $input.closest(".editor-field").find(".field-validation-valid").attr("class", "field-validation-error").html(html);
                }
            }
        });

        return errorNum;
    }

    function DisableButton($button) {
        $button.attr("disabled", "disabled").addClass("t-state-disabled");
    }

    function EnableButton($button) {
        $button.removeAttr("disabled").removeClass("t-state-disabled");
    }
</script>
<style type="text/css">
    #GridExamSupervisory .vt-control {
        width:93%;
    }
</style>