﻿@model List<ExamSupervisoryViolateViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSupervisoryViolateArea
@using SMAS.Web.Areas.ExamSupervisoryViolateArea.Models
@{   
    bool checkCreate = (bool)ViewData[ExamSupervisoryViolateConstants.PER_CHECK_CREATE];
    bool checkEdit = (bool)ViewData[ExamSupervisoryViolateConstants.PER_CHECK_EDIT];
    bool checkDelete = (bool)ViewData[ExamSupervisoryViolateConstants.PER_CHECK_DELETE];

    int Total = 0;
    if (ViewData[ExamSupervisoryViolateConstants.TOTAL] != null)
    {
        Total = (int)ViewData[ExamSupervisoryViolateConstants.TOTAL];
    }

    int page = 1;
    if (ViewData[ExamSupervisoryViolateConstants.PAGE] != null)
    {
        page = (int)ViewData[ExamSupervisoryViolateConstants.PAGE];
    }
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
        @{
            if (checkCreate)
            {
                 @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();","btn btn-info btn-icon btn-round btn-icon-plus")
            }
            else
            {
                 @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", "btn btn-info btn-icon btn-round btn-icon-plus")
            }
         } 

            @{
                if (checkDelete)
                {
                        @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "PrepareDelete();", "btn btn-basic btn-icon btn-icon-times btn-round mg-r-5")
                }
                else
                {
                        @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "", "btn btn-basic btn-icon btn-icon-times btn-round mg-r-5")
                }
                } 
            @if (Total > 0)
            {
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-icon btn-round btn-icon-excel")
            }
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExamSupervisoryViolate")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.EmployeeCode).Width(120);
                c.Bound(o => o.EmployeeName).Width(150);
                c.Bound(o => o.SubjectName).Width(100);
                c.Bound(o => o.ExamRoomCode).Width(70);
                c.Bound(o => o.ContentViolated).Width(180).HtmlAttributes(new { style = "word-wrap:break-word" });
                c.Bound(o => o.ExamViolatetionTypeResolusion).Width(120);
                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ExamSupervisoryViolate")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" })
                       ;
                }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(checkEdit);
                c.Bound(o => o.ExamSupervisoryViolateID)
                    .HeaderTemplate("<label class='custom-checkbox no-padding'><input type='checkbox' id='checkAll' /><span class='checkmark'></span></label>")
                    .Template(@<text>
                                @{
                                    <label class="custom-checkbox no-padding">
                                    <input type='checkbox' class='checkedIds' value='@item.ExamSupervisoryViolateID'/>
                                        <span class="checkmark"></span>
                                    </label>
                                }
                            </text>)
                    .ClientTemplate("<#=FillCheckBox(ExamSupervisoryViolateID)#>")
                    .Width(80)
                    .HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchAjax", "ExamSupervisoryViolate"))
            .Pageable(p => p.PageSize(ExamSupervisoryViolateConstants.PageSize).Total(Total).PageTo(page))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnDataBound("Grid_onDataBound")
                                .OnLoad("Grid_onDataBound")
                                .OnCommand("Grid_onCommand")
            )
            .EnableCustomBinding(true)
            .DataKeys(keys => keys.Add(o => o.ExamSupervisoryViolateID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Scrollable(u => u.Height(465))
            .Selectable()
            .Render();
                      
    }
</div>

<div>
    <form id="reportForm" style="display:none">
        @Html.ViettelHidden("ExaminationsID", ViewData[ExamSupervisoryViolateConstants.HIDDEN_EXAMINATIONS_ID])
        @Html.ViettelHidden("ExamGroupID", ViewData[ExamSupervisoryViolateConstants.HIDDEN_EXAM_GROUP_ID])
        @Html.ViettelHidden("SubjectID", ViewData[ExamSupervisoryViolateConstants.HIDDEN_SUBJECT_ID])
        @Html.ViettelHidden("ExamRoomID", ViewData[ExamSupervisoryViolateConstants.HIDDEN_EXAM_ROOM_ID])
        @Html.ViettelHidden("SupervisoryName", ViewData[ExamSupervisoryViolateConstants.HIDDEN_SUPERVISORY_NAME])
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareCheckBoxState();
    });

    function ExportClick() {
        smas.getReport("reportForm", '@Url.Action("GetReport", "ExamSupervisoryViolate")',
                  '@Url.Action("GetNewReport", "ExamSupervisoryViolate")', '@Url.Action("DownloadReport", "ExamSupervisoryViolate")');
    }
</script>
