﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
<div>
    <table>
        <tr>
            <td>
                <div style="width: 100%;">
                    <div style="text-align:center; margin-bottom:10px">
                        <img src="@Url.Content("~/Content/images/alert-warning.png")" width="90" alt=""/>
                    </div>
                    <div style="text-align:center">
                        <span id="Message">Thông tin alert </span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: center; width: 100%;margin-top:10px;">
                    @Html.ViettelButton(Res.Get("Đồng ý"), "button", "", "btn btn-info btn-round", "OK", "")
                    @Html.ViettelButton(Res.Get("Huỷ bỏ"), "button", "smas.closeDialog('ConfirmDeleteAcademicYear');","btn btn-basic btn-round", "Cancel")
                </div>
            </td>
        </tr>
    </table>
</div>
