﻿@model SMAS.Web.Areas.ClassProfileArea.Models.ClassProfileForm
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ClassProfileArea
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers

@{
    var academicYear = (AcademicYear)ViewData[ClassProfileConstants.ACADEMICYEAR];
    string curYear = "";
    if (academicYear != null && academicYear.DisplayTitle != null)
    {
        curYear = academicYear.DisplayTitle;
    }
    var AppliedLevel = new GlobalInfo().AppliedLevel;
    int LopCoHSNghe = ClassProfileConstants.CLASS_APPRENTICESHIP1;
    IDictionary<string, object> htmlAtr = new Dictionary<string, object>();
    htmlAtr["style"] = "readonly:true";
    IDictionary<string, object> htmlAtrSub = new Dictionary<string, object>();
    //if (GlobalConstants.APPLIED_LEVEL_TERTIARY != AppliedLevel)
    //{
    //    htmlAtrSub["style"] = "display:none";
    //}
    LopCoHSNghe = ViewData[ClassProfileConstants.CLASS_PROPERTICAT_APPRENTICESHIP] != null
        ? (int)ViewData[ClassProfileConstants.CLASS_PROPERTICAT_APPRENTICESHIP]
        : 0;
    //if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY)
    //{
    //     LopCoHSNghe = ClassProfileConstants.CLASS_APPRENTICESHIP1;
    //}
    //if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY)
    //{
    //     LopCoHSNghe = ClassProfileConstants.CLASS_APPRENTICESHIP2;
    //}
    //if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
    //{
    //     LopCoHSNghe = ClassProfileConstants.CLASS_APPRENTICESHIP3;

    //}
    bool isMamnon;
    if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_CRECHE || AppliedLevel == GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        isMamnon = true;
    }
    else
    {
        isMamnon = false;
    }
    string labelForEducationID;
    if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
            || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        labelForEducationID = Res.Get("PupilProfile_Label_EducationLevel_MN");
    }
    else
    {
        labelForEducationID = Res.Get("ClassProfile_Control_EducationLevel");
    }
    string HeadTeacherName = (string)ViewData[ClassProfileConstants.HEAD_TEACHER_NAME];

    bool isNewModelSchool = (bool)ViewData[ClassProfileConstants.IS_NEW_MODEL_SCHOOL];

    GlobalInfo globalInfo = new GlobalInfo();

    var ApprenticeshipID = ViewData[ClassProfileConstants.STRTRAINING_TYPE_GDTX] != null ? (int)ViewData[ClassProfileConstants.STRTRAINING_TYPE_GDTX] : 0;
    var _isCombineClass = ViewData[ClassProfileConstants.IS_COMBINE_CLASS] != null ? (bool)ViewData[ClassProfileConstants.IS_COMBINE_CLASS] : false;

}



<div class="StudentsListSection">
    <div class="GenaralInfoSection">
        <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("ClassProfile_Control_Info_Standar")</span>
            </a>
        </div>
        @*Sắp xếp lại giao diện theo từng cấp chia ra từng section vì mỗi cấp thay đổi khác nhau*@
        @*Cấp Mầm non*@
        @if ((AppliedLevel == GlobalConstants.APPLIED_LEVEL_CRECHE || AppliedLevel == GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN) && ApprenticeshipID != ClassProfileConstants.TRAINING_TYPE_GDTX)
        { 
            <div class="GIInSection HealthInSection">
            <table class="tblInfo">
                <tr>
                    <td style="width: 0%"></td>
                    <td style="width: 48%">
                        <div class="vt-control">
                            <div class="editor-label editor-label-right ">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_AcademicYear"))
                                @Html.ViettelHiddenFor(model => model.ClassProfileID)
                                @Html.ViettelHiddenFor(model => model.AcademicYearID)
                                @Html.ViettelHiddenFor(model => model.SchoolID)
                                @*@Html.ViettelHiddenFor(model => model.EducationLevelID)*@
                                @*@Html.ViettelHidden("EducationLevelID",Model.EducationLevelID);*@
                            </div>
                            <div class="editor-field">
                                @curYear
                            </div>
                        </div>
                    </td>

                    <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.HeadTeacherName, Res.Get("ClassProfile_Control_HeaderMaster"), @htmlAtr, false, true)
                    </td>
                    <td>
                        <a href="#" onclick="openPopupSerachTeacher(this)">
                            <img src="../../../../Content/images/teacher.png" alt="@Res.Get("ClassProfile_Control_HeaderMaster")"/>
                        </a>
                        @Html.HiddenFor(model => model.HeadTeacherID)
                    </td>
                    @{
                        if (HeadTeacherName != null && HeadTeacherName != string.Empty)
                        {
                        <td>
                            <a href="#" onclick="onDeleteHeadTeacherByClass(this)">
                                <img src="../../../../Content/images/Delete.png" alt="@Res.Get("Xóa giáo viên chủ nhiệm")"/>
                            </a>
                        </td>
                        }
                    }
                    <td style="width: 4%;"></td>
                </tr>

                <tr>
                    <td></td>
                    <td style="width: 48%" class="td-editor-label-right display-education">
                        @if (ViewData["displayEducation"] != null && (bool)ViewData["displayEducation"] == true)
                        {
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("PupilProfile_Label_EducationLevel_Child")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, new Dictionary<string, object>() { { "disabled", "disabled" } }, true))
                            @Html.ViettelHiddenFor(model => model.EducationLevelID)
                        }
                        else
                        { 
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("PupilProfile_Label_EducationLevel_Child")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, null, true))
                        }

                    </td>


                </tr>

                <tr>
                    <td></td>
                     <td class="td-editor-label-right display-name">
                        @Html.ViettelTextboxFor(model => model.DisplayName, Res.Get("ClassProfile_Control_DisplayName"), null, true)
                    </td>
                    <td>
                        <span id="Note" style="width: 215px; margin-left: -30px;">Có thể thêm nhiều lớp cách nhau bởi dấu phẩy. Ví dụ: 10A1, 10A2,10A3</span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-editor-label-right class-saperate">
                        <div class="vt-control">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_Separate")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field" id="divSeperate">
                                @Html.ViettelListCheckBox("ArrClassSeperateID", "", new Dictionary<string, object>() { { "onchange", "OnCheckedChangeSeperate(this)" } }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsCombinedClass, new Dictionary<string, object>() { { "onclick", "displayCombileCode(this)" } }, @Res.Get("ClassProfile_Control_CombileClass"), false, true)
                         @*<span id="labelCombileClass">@Res.Get("ClassProfile_Control_CombileClass")</span>*@
                        @Html.Hidden("CheckIsCombinedClass", 0)
                    </td>
                </tr>

                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SchoolSubsidiaryID, Res.Get("ClassProfile_Control_Subschool"),
                               new SelectList((IEnumerable<SchoolSubsidiary>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBSCHOOL], "SchoolSubsidiaryID", "SubsidiaryName"),
                                               0, null, false
                                                )
                                                )
                    </td>
                     <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.CombinedClassCode, Res.Get("ClassProfile_Control_CombileCode"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "oninput", "upperCaseCombined(this)" } }, false)
                    </td>
                </tr>
                 <tr>
                <td></td>
                <td colspan="2" id="tdDesId" class="td-editor-label-right">
                    @Html.ViettelTextAreaFor(model => model.Description, Res.Get("ClassProfile_Control_Description"), false,
                new Dictionary<string, object>() { { "maxlength", "200" }, { "rows", "5" }, { "style", "height:30px;width:97%;" } })
                </td>
            </tr>


            </table>
        </div>
            
            <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("ClassProfile_Control_Info_Other")</span>
            </a>
        </div>

            <div class="GIInSection HealthInSection" style="padding:0 !important">
            @{
                        var dicPropertyGroupSectionLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_LEFT];
                        var dicPropertyGroupSectionRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_RIGHT];
                        var dicPropertyGroupCombileLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_LEFT];
                        var dicPropertyGroupCombileRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_RIGHT];
                        var ClassPropertyCatIDOtherLeft = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_LEFT];
                        var ClassPropertyCatIDOtherRight = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_RIGHT];   
             }
            <table style="width: 100%" class="tblProperty">
                <tr class="SectionLearnAndCombileClass" style="line-height: 25px;">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 35px;">
                            @Html.ViettelLabel(Res.Get("PupilAbsence_Label_SectionLearn"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionLeft != null && dicPropertyGroupSectionLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupSectionLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionRight != null && dicPropertyGroupSectionRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupSectionRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

                <tr class="SectionLearnAndCombileClass combine-class-custom" style="line-height: 30px;">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 22px;">
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_CombileClass"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;">
                            @{
                               
                        if (dicPropertyGroupCombileLeft != null && dicPropertyGroupCombileLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupCombileLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupCombileLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDCombileLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupCombileRight != null && dicPropertyGroupCombileRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupCombileRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupCombileRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDCombileRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>


                <tr class="ClassPropertyCatIDOther">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 32px;">
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_Property_Other"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherLeft != null && ClassPropertyCatIDOtherLeft.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherLeft)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherRight != null && ClassPropertyCatIDOtherRight.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherRight)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

            </table>
        </div>
        }
        @*End Cấp mầm non*@ 
        @*Cấp Tiểu học*@
        @if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY && ApprenticeshipID != ClassProfileConstants.TRAINING_TYPE_GDTX)
        { 
            <div class="GIInSection HealthInSection">
            <table class="tblInfo">
                <tr>
                    <td style="width: 0%"></td>
                    <td style="width: 48%">
                        <div class="vt-control">
                            <div class="editor-label td-editor-label-right">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_AcademicYear"))
                                @Html.ViettelHiddenFor(model => model.ClassProfileID)
                                @Html.ViettelHiddenFor(model => model.AcademicYearID)
                                @Html.ViettelHiddenFor(model => model.SchoolID)
                                @*@Html.ViettelHiddenFor(model => model.EducationLevelID)*@
                                @*@Html.ViettelHidden("EducationLevelID",Model.EducationLevelID);*@
                            </div>
                            <div class="editor-field mg-t-5">
                                @curYear
                            </div>
                        </div>
                    </td>

                    <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.HeadTeacherName, Res.Get("ClassProfile_Control_HeaderMaster"), @htmlAtr, false, true)
                    </td>
                    <td>
                        <a href="#" onclick="openPopupSerachTeacher(this)">
                            <img src="../../../../Content/images/teacher.png" alt="@Res.Get("ClassProfile_Control_HeaderMaster")"/>
                        </a>
                        @Html.HiddenFor(model => model.HeadTeacherID)
                    </td>
                    @{
                        if (HeadTeacherName != null && HeadTeacherName != string.Empty)
                        {
                        <td>
                            <a href="#" onclick="onDeleteHeadTeacherByClass(this)">
                                <img src="../../../../Content/images/Delete.png" alt="@Res.Get("Xóa giáo viên chủ nhiệm")"/>
                            </a>
                        </td>
                        }
                    }
                    <td style="width: 4%;"></td>
                </tr>

                <tr>
                    <td></td>
                    <td style="width: 48%" class="td-editor-label-right display-education-lv1">
                        @if (ViewData["displayEducation"] != null && (bool)ViewData["displayEducation"] == true)
                        {
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, new Dictionary<string, object>() { { "disabled", "disabled" } }, true))
                            @Html.ViettelHiddenFor(model => model.EducationLevelID)
                        }
                        else
                        { 
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, null, true))
                        }

                    </td>
                    <td class="cbCombineClass">
                        @if (isNewModelSchool)
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                            else
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { { "disabled", "disabled" } }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                    </td>

                </tr>

                <tr>
                    <td></td>
                     <td class="td-editor-label-right display-name-lv1">
                        @Html.ViettelTextboxFor(model => model.DisplayName, Res.Get("ClassProfile_Control_DisplayName"), null, true)
                    </td>
                    <td>
                        <span id="Note" style="width: 215px; margin-left: -30px;">Có thể thêm nhiều lớp cách nhau bởi dấu phẩy. Ví dụ: 10A1, 10A2,10A3</span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        <div class="vt-control divSeperate divSeperate-lv1">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_Separate")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field" id="divSeperate">
                                @Html.ViettelListCheckBox("ArrClassSeperateID", "", new Dictionary<string, object>() { { "onchange", "OnCheckedChangeSeperate(this)" } }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsITClass, null, Res.Get("ClassProfile_Control_InformationTechnology"), false,true)
                    </td>
                </tr>

                 <tr>
                    <td></td>  
                    <td class="td-editor-label-right">
                        <div class="vt-control divSeperate divSeperateKey-lv1">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("Buổi học chính")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field" id="divSeperateKey">
                                @Html.ViettelListCheckBox("ArrSeperateKeyID", "", new Dictionary<string, object>() { }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_KEY], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsCombinedClass, new Dictionary<string, object>() { { "onclick", "displayCombileCode(this)" } }, Res.Get("ClassProfile_Control_CombileClass"), false,true)
                        @Html.Hidden("CheckIsCombinedClass", 0)
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang1ID
                        , Res.Get("ClassProfile_Control_FirstLanguage"),
                                               new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                                 0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.CombinedClassCode, Res.Get("ClassProfile_Control_CombileCode"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "oninput", "upperCaseCombined(this)" } }, false)
                    </td>
                </tr>

                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang2ID, Res.Get("ClassProfile_Control_SeconLanguage"),
                                       new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                               0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SchoolSubsidiaryID, Res.Get("ClassProfile_Control_Subschool"),
                               new SelectList((IEnumerable<SchoolSubsidiary>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBSCHOOL], "SchoolSubsidiaryID", "SubsidiaryName"),
                                               0, null, false
                                )
                                )
                    </td>
                </tr>

                 <tr>
                <td></td>
                <td colspan="2" id="tdDesId" class="td-editor-label-right">
                    @Html.ViettelTextAreaFor(model => model.Description, Res.Get("ClassProfile_Control_Description"), false,
                new Dictionary<string, object>() { { "maxlength", "200" }, { "rows", "5" }, { "style", "height:30px;width:97%;" } })
                </td>
            </tr>


            </table>
        </div>
            
            <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("ClassProfile_Control_Info_Other")</span>
            </a>
        </div>

            <div class="GIInSection HealthInSection" style="padding:0 !important">
            @{
                var dicPropertyGroupSectionLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_LEFT];
                var dicPropertyGroupSectionRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_RIGHT];
                var dicPropertyGroupCombileLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_LEFT];
                var dicPropertyGroupCombileRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_RIGHT];
                var ClassPropertyCatIDOtherLeft = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_LEFT];
                var ClassPropertyCatIDOtherRight = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_RIGHT];   
             }
            <table style="width: 100%" class="tblProperty">
                <tr class="SectionLearnAndCombileClass" style="line-height: 25px;">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 35px;">
                            @Html.ViettelLabel(Res.Get("PupilAbsence_Label_SectionLearn"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionLeft != null && dicPropertyGroupSectionLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupSectionLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionRight != null && dicPropertyGroupSectionRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupSectionRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

                <tr class="SectionLearnAndCombileClass combine-class-custom" style="line-height: 40px;">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 9px;">
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_CombileClass"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;">
                            @{
                               
                        if (dicPropertyGroupCombileLeft != null && dicPropertyGroupCombileLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupCombileLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupCombileLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDCombileLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupCombileRight != null && dicPropertyGroupCombileRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupCombileRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupCombileRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDCombileRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>


                <tr class="ClassPropertyCatIDOther">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 44px;">
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_Property_Other"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherLeft != null && ClassPropertyCatIDOtherLeft.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherLeft)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherRight != null && ClassPropertyCatIDOtherRight.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherRight)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

            </table>
        </div>
        }
        @*End Cấp Tiểu học*@ 
        @*Cấp 2,3 *@
        @if ((AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || AppliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY) && ApprenticeshipID != ClassProfileConstants.TRAINING_TYPE_GDTX)
        { 
            <div class="GIInSection HealthInSection">
            <table class="tblInfo">
                <tr>
                    <td style="width: 0%"></td>
                    <td style="width: 48%" class="td-editor-label-right">
                        <div class="vt-control">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_AcademicYear"))
                                @Html.ViettelHiddenFor(model => model.ClassProfileID)
                                @Html.ViettelHiddenFor(model => model.AcademicYearID)
                                @Html.ViettelHiddenFor(model => model.SchoolID)
                                @*@Html.ViettelHiddenFor(model => model.EducationLevelID)*@
                                @*@Html.ViettelHidden("EducationLevelID",Model.EducationLevelID);*@
                            </div>
                            <div class="editor-field mg-t-5">
                                @curYear
                            </div>
                        </div>
                    </td>

                    <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.HeadTeacherName, Res.Get("ClassProfile_Control_HeaderMaster"), @htmlAtr, false, true)
                    </td>
                    <td>
                        <a href="#" onclick="openPopupSerachTeacher(this)">
                            <img src="../../../../Content/images/teacher.png" alt="@Res.Get("ClassProfile_Control_HeaderMaster")"/>
                        </a>
                        @Html.HiddenFor(model => model.HeadTeacherID)
                    </td>
                    @{
                        if (HeadTeacherName != null && HeadTeacherName != string.Empty)
                        {
                        <td>
                            <a href="#" onclick="onDeleteHeadTeacherByClass(this)">
                                <img src="../../../../Content/images/Delete.png" alt="@Res.Get("Xóa giáo viên chủ nhiệm")"/>
                            </a>
                        </td>
                        }
                    }
                    <td style="width: 4%;"></td>
                </tr>

                <tr>
                    <td></td>
                    <td style="width: 48%" class="td-editor-label-right display-education-lv1">
                        @if (ViewData["displayEducation"] != null && (bool)ViewData["displayEducation"] == true)
                        {
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, new Dictionary<string, object>() { { "disabled", "disabled" } }, true))
                            @Html.ViettelHiddenFor(model => model.EducationLevelID)
                        }
                        else
                        { 
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, null, true))
                        }

                    </td>
                    <td class="cbCombineClass">
                        @if (isNewModelSchool)
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                            else
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { { "disabled", "disabled" } }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                    </td>

                </tr>

                <tr>
                    <td></td>
                     <td class="td-editor-label-right display-name-lv1">
                        @Html.ViettelTextboxFor(model => model.DisplayName, Res.Get("ClassProfile_Control_DisplayName"), null, true)
                    </td>
                    <td>
                        <span id="Note" style="width: 215px; margin-left: -30px;">Có thể thêm nhiều lớp cách nhau bởi dấu phẩy. Ví dụ: 10A1, 10A2,10A3</span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-editor-label-right divSeperate-lv1">
                        <div class="vt-control">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_Separate")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field" id="divSeperate">
                                @Html.ViettelListCheckBox("ArrClassSeperateID", "", new Dictionary<string, object>() { { "onchange", "OnCheckedChangeSeperate(this)" } }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsITClass, null, Res.Get("ClassProfile_Control_InformationTechnology"), false, true)
                    </td>
                </tr>

                 <tr>
                    <td></td>  
                    <td class="td-editor-label-right divSeperateKey-lv1">
                        <div class="vt-control">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("Buổi học chính")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field" id="divSeperateKey">
                                @Html.ViettelListCheckBox("ArrSeperateKeyID", "", new Dictionary<string, object>() { }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_KEY], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsCombinedClass, new Dictionary<string, object>() { { "onclick", "displayCombileCode(this)" } }, Res.Get("ClassProfile_Control_CombileClass"), false,true)
                        @Html.Hidden("CheckIsCombinedClass", 0)
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang1ID
                        , Res.Get("ClassProfile_Control_FirstLanguage"),
                                               new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                                 0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.CombinedClassCode, Res.Get("ClassProfile_Control_CombileCode"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "oninput", "upperCaseCombined(this)" } }, false)
                    </td>
                </tr>

                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang2ID, Res.Get("ClassProfile_Control_SeconLanguage"),
                                       new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                               0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.ApprenticeshipGroupID, Res.Get("ClassProfile_Control_Vocational"),
                               new SelectList((IEnumerable<ApprenticeshipGroup>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_VOCATIONAL], "ApprenticeshipGroupID", "GroupName"),
                                       0, new Dictionary<string, object>() { { "disabled", "disabled" } }, false
                            )
                            )
                        @Html.Hidden("classApprenticeshipId", LopCoHSNghe)
                    </td>
                </tr>
                @if (AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY)
                {
                    <tr>
                        <td></td>
                         <td class="td-editor-label-right">
                            @(Html.ViettelComboboxFor(model => model.SchoolSubsidiaryID, Res.Get("ClassProfile_Control_Subschool"),
                                   new SelectList((IEnumerable<SchoolSubsidiary>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBSCHOOL], "SchoolSubsidiaryID", "SubsidiaryName"),
                                                   0, null, false
                                    )
                                    )
                        </td>
                    </tr>
                }
                else
                { 
                    <tr>
                        <td></td>
                        <td id="SubCommitteeID" class="td-editor-label-right sub-committee">
                            @(Html.ViettelComboboxFor(model => model.SubCommitteeID, Res.Get("String1ClassProfile_Control_Subcommitee"),
                                           new SelectList((IEnumerable<SubCommittee>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBCOMMITEE],
                                                               "SubCommitteeID", "Resolution"),
                                                           0, htmlAtrSub, true))
                        </td>
                         <td class="td-editor-label-right">
                            @(Html.ViettelComboboxFor(model => model.SchoolSubsidiaryID, Res.Get("ClassProfile_Control_Subschool"),
                                   new SelectList((IEnumerable<SchoolSubsidiary>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBSCHOOL], "SchoolSubsidiaryID", "SubsidiaryName"),
                                                   0, null, false
                                    )
                                    )
                        </td>
                    </tr>
                }
                
                
                <tr>
                    <td></td>
                    <td style="width: 48%;" class="cbCombineClass IsSpecializedClass">
                         @Html.ViettelCheckBoxFor(model => model.IsSpecializedClass, new Dictionary<string, object>() { { "onclick", "FnCheckIsSpecialClass(this)" } }, Res.Get("Is_specialty_classes"), false,true)
                         @Html.Hidden("CheckIsSpecialClass", 0)
                    </td>
                    <td class="td-editor-label-right">
                         @(Html.ViettelComboboxFor(model => model.ClassSpecialtyCatID, Res.Get("Specialists_classes")
                                , new SelectList((IEnumerable<ClassSpecialtyCat>)ViewData[ClassProfileConstants.LS_EDUCATION_CLASS_SPECIALTY_CAT], "ClassSpecialtyCatID", "Resolution")
                                , 0, new Dictionary<string,object>(){{"disabled","disabled"}}, false
                                ))
                    </td>

                </tr>

                 <tr>
                <td></td>
                <td colspan="2" id="tdDesId" class="td-editor-label-right">
                    @Html.ViettelTextAreaFor(model => model.Description, Res.Get("ClassProfile_Control_Description"), false,
                new Dictionary<string, object>() { { "maxlength", "200" }, { "rows", "5" }, { "style", "height:30px;width:97%;" } })
                </td>
            </tr>


            </table>
        </div>
            
            <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("ClassProfile_Control_Info_Other")</span>
            </a>
        </div>

            <div class="GIInSection HealthInSection" style="padding:0 !important">
            @{
                        var dicPropertyGroupSectionLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_LEFT];
                        var dicPropertyGroupSectionRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_RIGHT];
                        var dicPropertyGroupCombileLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_LEFT];
                        var dicPropertyGroupCombileRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_RIGHT];
                        var ClassPropertyCatIDOtherLeft = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_LEFT];
                        var ClassPropertyCatIDOtherRight = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_RIGHT];   
             }
            <table style="width: 100%" class="tblProperty">
                <tr class="SectionLearnAndCombileClass">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 35px;">
                            @Html.ViettelLabel(Res.Get("PupilAbsence_Label_SectionLearn"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionLeft != null && dicPropertyGroupSectionLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupSectionLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionRight != null && dicPropertyGroupSectionRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupSectionRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

                <tr class="ClassPropertyCatIDOther" style="border-top: 1px solid #ddd;">
                    <td style="width:15%">
                        <div class="editor-label label-custom" style="margin-top: 44px;">
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_Property_Other"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherLeft != null && ClassPropertyCatIDOtherLeft.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherLeft)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherRight != null && ClassPropertyCatIDOtherRight.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherRight)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

            </table>
        </div>
        }
        @*End Cấp 2, 3*@ 
            
        @*Cấp GDTX *@
        @if (ApprenticeshipID == ClassProfileConstants.TRAINING_TYPE_GDTX)
        { 
            <div class="GIInSection HealthInSection">
            <table class="tblInfo">
                <tr>
                    <td style="width: 0%"></td>
                    <td style="width: 48%">
                        <div class="vt-control">
                            <div class="editor-label td-editor-label-right">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_AcademicYear"))
                                @Html.ViettelHiddenFor(model => model.ClassProfileID)
                                @Html.ViettelHiddenFor(model => model.AcademicYearID)
                                @Html.ViettelHiddenFor(model => model.SchoolID)
                            </div>
                            <div class="editor-field mg-t-5">
                                @curYear
                            </div>
                        </div>
                    </td>

                    <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.HeadTeacherName, Res.Get("ClassProfile_Control_HeaderMaster"), @htmlAtr, false, true)
                    </td>
                    <td>
                        <a href="#" onclick="openPopupSerachTeacher(this)">
                            <img src="../../../../Content/images/user.png" alt="@Res.Get("ClassProfile_Control_HeaderMaster")" style="width:25px;padding: 0 0 15px 5px;"/>
                        </a>
                        @Html.HiddenFor(model => model.HeadTeacherID)
                    </td>
                    @{
                        if (HeadTeacherName != null && HeadTeacherName != string.Empty)
                        {
                        <td>
                            <a href="#" onclick="onDeleteHeadTeacherByClass(this)">
                                <img src="../../../../Content/images/userminimus.png" alt="@Res.Get("Xóa giáo viên chủ nhiệm")" style="width:25px; padding: 0 0 15px 5px;"/>
                            </a>
                        </td>
                        }
                    }
                    <td style="width: 4%;"></td>
                </tr>

                <tr>
                    <td></td>
                    <td style="width: 48%" class="td-editor-label-right display-education-lv1">
                        @if (ViewData["displayEducation"] != null && (bool)ViewData["displayEducation"] == true)
                        {
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, new Dictionary<string, object>() { { "disabled", "disabled" } }, true))
                            @Html.ViettelHiddenFor(model => model.EducationLevelID)
                        }
                        else
                        { 
                            @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("ApprenticeshipTraining_Label_Education")
                                , new SelectList((IEnumerable<EducationLevel>)ViewData[ClassProfileConstants.LS_EDUCATION_LEVEL], "EducationLevelID", "Resolution")
                                , 0, null, true))
                        }

                    </td>
                    <td class="cbCombineClass">
                        @if (isNewModelSchool)
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                            else
                            {
                            @Html.ViettelCheckBoxFor(model => model.IsVnenClass, new Dictionary<string, object>() { { "disabled", "disabled" } }, Res.Get("ClassProfile_Vnen_Class"), false,true)
                            }
                    </td>

                </tr>

                <tr>
                    <td></td>
                     <td class="td-editor-label-right display-name-lv1">
                        @Html.ViettelTextboxFor(model => model.DisplayName, Res.Get("ClassProfile_Control_DisplayName"), null, true)
                    
                        <span id="Note" class="f-12 p-l-15">Có thể thêm nhiều lớp cách nhau bởi dấu phẩy. Ví dụ: 10A1, 10A2,10A3</span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-editor-label-right divSeperate-lv1">
                        <div class="vt-control mg-t-10">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("ClassProfile_Control_Separate")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field p-t-5" id="divSeperate">
                                @Html.ViettelListCheckBox("ArrClassSeperateID", "", new Dictionary<string, object>() { { "onchange", "OnCheckedChangeSeperate(this)" } }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsITClass, null, Res.Get("ClassProfile_Control_InformationTechnology"), false,true)
                    </td>
                </tr>

                 <tr>
                    <td></td>  
                    <td class="td-editor-label-right divSeperateKey-lv1">
                        <div class="vt-control mg-t-5">
                            <div class="editor-label">
                                @Html.ViettelLabel(Res.Get("Buổi học chính")) <span style="color: red">*</span>
                            </div>
                            <div class="editor-field p-t-5" id="divSeperateKey">
                                @Html.ViettelListCheckBox("ArrSeperateKeyID", "", new Dictionary<string, object>() { }, (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_KEY], true)
                            </div>
                        </div>
                    </td>
                     <td class="cbCombineClass">
                        @Html.ViettelCheckBoxFor(model => model.IsCombinedClass, new Dictionary<string, object>() { { "onclick", "displayCombileCode(this)" } }, Res.Get("ClassProfile_Control_CombileClass"), false,true)
                        @Html.Hidden("CheckIsCombinedClass", 0)
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang1ID
                        , Res.Get("ClassProfile_Control_FirstLanguage"),
                                               new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                                 0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @Html.ViettelTextboxFor(model => model.CombinedClassCode, Res.Get("ClassProfile_Control_CombileCode"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "oninput", "upperCaseCombined(this)" } }, false)
                    </td>
                </tr>

                 <tr>
                    <td></td>
                    <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SubjectForeignLang2ID, Res.Get("ClassProfile_Control_SeconLanguage"),
                                       new SelectList((IEnumerable<SubjectCat>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_FOREIGNLANG], "SubjectCatID", "DisplayName"),
                                               0, null, false
                            )
                            )
                    </td>
                     <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.ApprenticeshipGroupID, Res.Get("ClassProfile_Control_Vocational"),
                               new SelectList((IEnumerable<ApprenticeshipGroup>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_VOCATIONAL], "ApprenticeshipGroupID", "GroupName"),
                                       0, new Dictionary<string, object>() { }, false
                            )
                            )
                        @Html.Hidden("classApprenticeshipId", LopCoHSNghe)
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="td-editor-label-right class-type">
                        @(Html.ViettelComboboxFor(model => model.ClassType, "Loại lớp",
                                       (SelectList)ViewData[ClassProfileConstants.LS_EDUCATION_CLASS_TYPE],
                                                       0, htmlAtrSub,true))
                    </td>
                     <td class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.SchoolSubsidiaryID, Res.Get("ClassProfile_Control_Subschool"),
                               new SelectList((IEnumerable<SchoolSubsidiary>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SUBSCHOOL], "SchoolSubsidiaryID", "SubsidiaryName"),
                                               0, null, false
                                )
                                )
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td  class="td-editor-label-right">
                        @(Html.ViettelComboboxFor(model => model.TrainingType, "Hình thức học tập",
                                       (SelectList)ViewData[ClassProfileConstants.LS_EDUCATION_TRAINING_TYPE],
                                                       0, htmlAtrSub, false))
                    </td>
                     <td class="td-editor-label-right lbl-training-program">
                        @(Html.ViettelComboboxFor(model => model.TrainingProgramID, Res.Get("CT đào tạo, bồi dưỡng"),
                               new SelectList((IEnumerable<TrainingProgram>)ViewData[ClassProfileConstants.LS_EDUCATION_TRAINING_PROGRAM], "TrainingProgramID", "Resolution"),
                                               0, null, false
                                )
                                )
                    </td>
                </tr>

                 <tr>
                <td></td>
                <td colspan="2" id="tdDesId" class="td-editor-label-right">
                    <div>
                    @Html.ViettelTextAreaFor(model => model.Description, Res.Get("ClassProfile_Control_Description"), false,
                new Dictionary<string, object>() { { "maxlength", "200" }, { "rows", "5" }, { "style", "padding:5px 0 5px 5px!important;" } })
               </div>
                         </td>
            </tr>


            </table>
        </div>
            
            <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("ClassProfile_Control_Info_Other")</span>
            </a>
        </div>

            <div class="GIInSection HealthInSection" style="padding:0 !important">
            @{
                        var dicPropertyGroupSectionLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_LEFT];
                        var dicPropertyGroupSectionRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_SECTION_RIGHT];
                        var dicPropertyGroupCombileLeft = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_LEFT];
                        var dicPropertyGroupCombileRight = (Dictionary<int, List<ViettelCheckboxList>>)ViewData[ClassProfileConstants.LS_CLASS_PROFILE_SEPARATE_GROUP_COMBILE_RIGHT];
                        var ClassPropertyCatIDOtherLeft = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_LEFT];
                        var ClassPropertyCatIDOtherRight = (List<ViettelCheckboxList>)ViewData[ClassProfileConstants.LS_CLASS_PROPERTY_CAT_OTHER_RIGHT];   
             }
            <table style="width: 100%" class="tblProperty">
                <tr class="SectionLearnAndCombileClass">
                    <td style="width:15%; padding-left:40px">
                        <div class="editor-label label-custom">
                            @Html.ViettelLabel(Res.Get("PupilAbsence_Label_SectionLearn"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionLeft != null && dicPropertyGroupSectionLeft.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionLeft.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionLeft = dicPropertyGroupSectionLeft[key];
                                if (listPropertyGroupSectionLeft.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionLeft, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionLeft", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (dicPropertyGroupSectionRight != null && dicPropertyGroupSectionRight.Count > 0)
                        {
                            foreach (int key in dicPropertyGroupSectionRight.Keys)
                            {
                                List<ViettelCheckboxList> listPropertyGroupSectionRight = dicPropertyGroupSectionRight[key];
                                if (listPropertyGroupSectionRight.Count > 1)
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" }, { "class", "classPropertyGroup" } }, listPropertyGroupSectionRight, false, true)
                                }
                                else
                                {
                                        @Html.ViettelRadioBox(key.ToString(), "", new Dictionary<string, object>() { { "onclick", "setValue(this)" } }, listPropertyGroupSectionRight, false, true)
                                }
                                        @Html.ViettelHidden("ArrClassPropertyCatGroupIDSectionRight", "", new Dictionary<string, object>() { { "id", "hidden_" + key.ToString() } })
                            }
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>
                </tr>

                <tr class="ClassPropertyCatIDOther" style="border-top: 1px solid #ddd;">
                    <td style="width:15%;padding-left:40px">
                        <div class="editor-label label-custom" >
                            @Html.ViettelLabel(Res.Get("ClassProfile_Control_Property_Other"))
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td style="width:55%">
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-left:15px;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherLeft != null && ClassPropertyCatIDOtherLeft.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherLeft)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                    </td>

                    <td>
                         <div class="vt-control">
                            <div class="editor-field" style="width:100%;margin-top: 10px;" >
                            @{
                               
                        if (ClassPropertyCatIDOtherRight != null && ClassPropertyCatIDOtherRight.Count > 0)
                        {
                                    @Html.ViettelListCheckBox("ArrClassPropertyCatID", "", false, ClassPropertyCatIDOtherRight)
                        }
                            }
                            </div>
                        </div>
                        <div class="Clear"></div>
                        @if (AppliedLevel != GlobalConstants.APPLIED_LEVEL_PRIMARY)
                        {
                        <script>
                            $('.ClassPropertyCatIDOther label:contains("Lớp có học sinh học nghề")').parent().parent().css('display', 'none')
                            $('label[for=L_p_chuy_n_bi_t]').parent().parent().css({ 'position': 'absolute', 'margin-left': '-15px' });
                        </script>
                        }
                    </td>
                </tr>

            </table>
        </div>
        }
        @*End Cấp GDTX*@ 
    </div>
</div>

@(Html.Telerik().Window()
                .Name("teacherDialog")
                .Title(Res.Get("ClassProfile_Control_HeaderMaster"))
                .Content(" ")
                .Buttons(buttons => buttons.Close())
                .ClientEvents(events => events.OnOpen("smas.onOpenDialog").OnClose("smas.onCloseDialog"))
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(400)
  )

<script type="text/javascript">
    function upperCaseCombined(a) {
        a.value = a.value.toUpperCase();
    }
    $(document).ready(function () {
        var AppliedLevel = '@AppliedLevel';
        //if (AppliedLevel != "3") {
        //    $("#frmCreate #SubCommitteeID").attr("style", "display:none");
        //    $("#frmCreate #SubCommitteeID").attr("disabled", "");
        //    $("#frmEdit #SubCommitteeID").attr("style", "display:none");
        //    $("#frmEdit #SubCommitteeID").attr("disabled", "");
        //}
        $("input[name=ArrClassPropertyCatID]").each(function () {
            frmId = $(this).closest('form').get(0).id;
            if (frmId == 'frmEdit') {
                displayApprenticeShip(this);
            }
            /////
            if (frmId == 'frmCreate') {
                displayApprenticeShip(this);
            }
            ////
            $(this).click(function () {
                displayApprenticeShip(this);
            });
        });

        // Xu ly doi voi truong hop sua, lay cac gia tri mac dinh ban dau
        $("#frmEdit .classPropertyGroup").each(function () {
            if (this.checked) {
                setValue(this);
            }
        });
        // Ma lop ghep
        if ($("#frmEdit #IsCombinedClass").get(0) != undefined) {
            var ccc = $("#frmEdit #IsCombinedClass").get(0);
            debugger;
            var isEdit = ccc.checked ? true : false;
            displayCombileCodeReady(ccc, isEdit);
        }
        // Disabled checkbox buổi học sáng chiều tối
        if ('@ViewData["displayChkMorning"]' == 'true') {
            $("#frmEdit #divSeperate input[value=1]").attr("disabled", "");
        } else {
            $("#frmEdit input[value=1]").removeAttr("disabled");
        }
        if ('@ViewData["displayChkAfternoon"]' == 'true') {
            $("#frmEdit #divSeperate input[value=2]").attr("disabled", "");
        } else {
            $("#frmEdit input[value=2]").removeAttr("disabled");
        }
        if ('@ViewData["displayChkEvening"]' == 'true') {
            $("#frmEdit #divSeperate input[value=3]").attr("disabled", "");
        } else {
            $("#frmEdit input[value=3]").removeAttr("disabled");
        }
        var chkS = $('#frmEdit #ArrClassSeperateID0').is(':checked');
        var chkC = $('#frmEdit #ArrClassSeperateID1').is(':checked');
        var chkT = $('#frmEdit #ArrClassSeperateID2').is(':checked');
        if (chkS) {
            $('#frmEdit #ArrSeperateKeyID0').removeAttr('disabled');
        }
        else {
            $('#frmEdit #ArrSeperateKeyID0').attr('disabled', 'disabled');
        }
        if (chkC) {
            $('#frmEdit #ArrSeperateKeyID1').removeAttr('disabled');
        }
        else {
            $('#frmEdit #ArrSeperateKeyID1').attr('disabled', 'disabled');
        }
        if (chkT) {
            $('#frmEdit #ArrSeperateKeyID2').removeAttr('disabled');
        }
        else {
            $('#frmEdit #ArrSeperateKeyID2').attr('disabled', 'disabled');
        }
    });
    function openPopupSerachTeacher(img) {
        frmId = $(img).closest('form').get(0).id;
        smas.openDialog('teacherDialog', '@Url.Action("PrepareSearchHeadTeacher")', { "formID": frmId });
    }
    function setValue(radio) {
        //Do thay đổi các arr lưu nên sẽ có nhiều ListCheckBox cùng dữ liệu nên xử lý bỏ chi co check 1 trong cùng 1 section
        var _valueCheck = $(radio).val();
        var _SecGetValue = $(radio).closest('tr').get(0);
        $(_SecGetValue).find('input:checked').removeAttr('checked');
        $(_SecGetValue).find('input[type="hidden"]').val('');
        $(radio).prop('checked', true);

        frmId = $(radio).closest('form').get(0).id;
        var hiden = $("#" + frmId + " #hidden_" + radio.name);
        hiden.val(radio.value);
        //console.log(hiden);
        //var preId = hiden.val();
        //if (radio.value == preId) {
        //    $(radio).removeAttr('checked');
        //    hiden.val("");
        //} else {
        //    hiden.val(radio.value);
        //    displayApprenticeShip(radio);
        //}
    }
    var _combineClassEdit = '@_isCombineClass';
    if (_combineClassEdit == true || _combineClassEdit.toLowerCase() == 'true') {
        $(".combine-class-custom input[type='radio']").removeAttr("disabled");
    }
    else {
        $(".combine-class-custom input[type='radio']").attr("disabled", true);
    }
    function displayCombileCode(chk, isEdit) {
        debugger;
        frmId = $(chk).closest('form').get(0).id;
        var CombinedClassCode = $("#" + frmId + " #CombinedClassCode");
        if (chk.checked) {
            $("#" + frmId + " #CheckIsCombinedClass").val(1);
            CombinedClassCode.removeAttr('disabled');
            $("#createDialog .combine-class-custom input[type='radio']").removeAttr("disabled");
            $("#createDialog .combine-class-custom input[type='radio']").eq(0).prop('checked', true);
                $("#editDialog .combine-class-custom input[type='radio']").removeAttr("disabled");
                $("#editDialog .combine-class-custom input[type='radio']").eq(0).prop('checked', true);
            var hiden = $("#" + frmId + " #hidden_3");
            var _value = 0;
            if ($("#editDialog .combine-class-custom input[type='radio']").eq(0).val() != undefined && $("#editDialog .combine-class-custom input[type='radio']").eq(0).val() > 0) {
                _value = $("#editDialog .combine-class-custom input[type='radio']").eq(0).val();
            }
            else {
                _value = $("#createDialog .combine-class-custom input[type='radio']").eq(0).val();
            }
            hiden.val(_value);
        } else {
            CombinedClassCode.attr('disabled', 'disabled');
            $("#" + frmId + " #CheckIsCombinedClass").val(0);
            $("#createDialog .combine-class-custom input[type='radio']").attr("disabled", true);
            $("#createDialog .combine-class-custom input[type='radio']").prop('checked', false);
            $("#editDialog .combine-class-custom input[type='radio']").attr("disabled", true);
            $("#editDialog .combine-class-custom input[type='radio']").prop('checked', false);
            var hiden = $("#" + frmId + " #hidden_3");
            hiden.val('');
        }
    }
    function displayCombileCodeReady(chk, isEdit) {
        debugger;
        frmId = $(chk).closest('form').get(0).id;
        if (frmId == 'frmEdit')
            isEdit = true;
        var CombinedClassCode = $("#" + frmId + " #CombinedClassCode");
        if (chk.checked) {
            $("#" + frmId + " #CheckIsCombinedClass").val(1);
            CombinedClassCode.removeAttr('disabled');
            $("#createDialog .combine-class-custom input[type='radio']").removeAttr("disabled");
            $("#createDialog .combine-class-custom input[type='radio']").eq(0).prop('checked', true);
            if (!isEdit) {
                $("#editDialog .combine-class-custom input[type='radio']").removeAttr("disabled");
                $("#editDialog .combine-class-custom input[type='radio']").eq(0).prop('checked', true);
            }
        } else {
            CombinedClassCode.attr('disabled', 'disabled');
            $("#" + frmId + " #CheckIsCombinedClass").val(0);
            $("#createDialog .combine-class-custom input[type='radio']").attr("disabled", true);
            $("#createDialog .combine-class-custom input[type='radio']").prop('checked', false);
            $("#editDialog .combine-class-custom input[type='radio']").attr("disabled", true);
            $("#editDialog .combine-class-custom input[type='radio']").prop('checked', false);
        }
    }
    function FnCheckIsSpecialClass(chk) {
        frmId = $(chk).closest('form').get(0).id;
        var ClassSpecialty = $("#" + frmId + " #ClassSpecialtyCatID");
        if (chk.checked) {
            $("#" + frmId + " #CheckIsSpecialClass").val(1);
            ClassSpecialty.removeAttr('disabled');
        } else {
            ClassSpecialty.attr('disabled', 'disabled');
            $("#" + frmId + " #CheckIsSpecialClass").val(0);
        }
    }
    ///anhnhp1_xoa giao vien chu nhiem
    function onDeleteHeadTeacherByClass(img) {
        var ClassProfileID = $("#frmEdit #ClassProfileID").val();
        var TeacherID = $("#frmEdit #HeadTeacherID").val();
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("DeleteHeadTecher", "ClassProfile")',
            type: 'post',
            data: { classProfileID: ClassProfileID, teacherID: TeacherID, __RequestVerificationToken: token },
            success: function (data) {
                $("#frmEdit #HeadTeacherID").val("");
                $("#frmEdit #HeadTeacherName").val("");
                AjaxSearchClass();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //$('#GridClassProfile').html(XMLHttpRequest.responseText);
            }
        });
    }

    function displayApprenticeShip(obj) {
        //frmId = $(obj).closest('form').get(0).id;
        //var classApprenticeshipId = $("#" + frmId + " #classApprenticeshipId");
        //var ApprenticeshipGroupID = $("#" + frmId + " #ApprenticeshipGroupID");
        //if ($(obj).val() == classApprenticeshipId.val()) {
        //    if ($(obj).is(':checked')) {
        //        ApprenticeshipGroupID.removeAttr('disabled');
        //    } else {
        //        ApprenticeshipGroupID.attr('disabled', 'disabled');
        //    }
        //}
    }

    $("input[name='ArrClassPropertyCatID']").each(function () {

        frmId = $(this).closest('form').get(0).id;
        var classApprenticeshipId = $("#" + frmId + " #classApprenticeshipId");
        var ApprenticeshipGroupID = $("#" + frmId + " #ApprenticeshipGroupID");
        if ($(this).val() == classApprenticeshipId.val()) {
            var _apprentieshipID = '@ApprenticeshipID';
            if ($(this).is(':checked')) {
                ApprenticeshipGroupID.removeAttr('disabled');
            } else {
                if (_apprentieshipID != 3)
                    ApprenticeshipGroupID.attr('disabled', 'disabled');
            }
        }
        $(this).change(function () {
            var _apprentieshipID = '@ApprenticeshipID';
            frmId = $(this).closest('form').get(0).id;
            var classApprenticeshipId = $("#" + frmId + " #classApprenticeshipId");
            var ApprenticeshipGroupID = $("#" + frmId + " #ApprenticeshipGroupID");
            if ($(this).val() == classApprenticeshipId.val()) {
                if ($(this).is(':checked')) {
                    ApprenticeshipGroupID.removeAttr('disabled');
                } else {
                    if(_apprentieshipID != 3)
                        ApprenticeshipGroupID.attr('disabled', 'disabled');
                }
            }
        });
    });
    // Fix bug: 16579: [Khai báo dữ liệu] Khai báo nhóm lớp: Label Nhóm lớp, lớp hiển thị chưa đúng
        @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
        {        
        <text>
    $(function () {
        //console.log($("#createDialog").find("#EducationLevelID"));
        // Thay doi cau thong bao khi du lieu khong hop le.
        $("#createDialog").find("#EducationLevelID").attr("data-val-required", "Nhóm lớp không được để trống");
    });
    </text>
        }
</script>
