﻿@using SMAS.Web.Areas.EmployeeArea.Models
@using SMAS.Web.Areas.ClassProfileArea
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@{
    List<EmployeeObject> paging = (List<EmployeeObject>)ViewData[ClassProfileConstants.LS_CLASS_HEADTEACHER];
    var index = 1;
}
<fieldset>
    @{
        Html.Telerik().Grid(paging).Name("GridHeadTeacher")
                       .Columns(colums =>
                       {
                           colums.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                           colums.Template(@<text><a href="#" onclick ='chooseTeacher("@item.EmployeeID", "@item.FullName")'>@item.FullName</a></text>)
                            .ClientTemplate("<a href='#' onclick='chooseTeacher(\"<#= EmployeeID #>\", \"<#= FullName #>\")'><#= FullName #></a>")
                            .Title(@Resources.Resource.ResourceManager.GetString("Employee_Column_FullName"))
                            .Width(70);
                           colums.Bound(o => o.BirthDate).Width(40).Title(@Res.Get("Employee_Column_BirthDay")).Sortable(true)
                               .HtmlAttributes(new { style = "text-align:center" });
                           colums.Bound(o => o.HeadClass).Width(40).Title(@Res.Get("ClassProfile_Control_TeacherHeading")).Sortable(true);

                       }).DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client)
                           //.Select("SearchHeadTeacher", "ClassProfile")
                           )
    .ClientEvents(e => e.OnDataBinding("GridHeadTeacher_onDataBinding"))
    .Sortable()
    .Pageable()
    .Selectable()
    .Render();
    }
</fieldset>
<script type="text/javascript">
    var lstInd = 0;
    function GridHeadTeacher_onDataBinding(e) {
        var grid = $('#GridHeadTeacher').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmHeadTeacherSearch");
    }
</script>
