﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
@using (Ajax.BeginForm("ImportExcel", "ClassProfile",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
      {
<style>
    #noFileSelect {
           position: absolute;
    }
    #ImportExcelClass .t-window-content {
        overflow:hidden !important;
    }
    .btnUploaderCss .t-upload-button {
        margin-left:70px;
    }
</style>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 windowImportClass">
    @*<div class="vt-SearchPanel-Title"> @Res.Get("ImportClass_Label_Info") </div>*@
    <div class="vt-SearchPanel-Content">
  
        @Html.AntiForgeryToken()
          
    <div style="float: left; padding-left: 21%; margin-left: -116px;">
        @Res.Get("ImportClass_Label_ImportClassFromExcel") 
    </div>
    <div style="float: right; width: 20%; height: 20px;margin:-6px 120px 0 0px ; padding-bottom: 10px; white-space: nowrap">
        @(Html.Telerik().Upload()
              .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async.Save("SaveFile", "ClassProfile").AutoUpload(false))
                .ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
        )
        )
    </div>
        <input type="text" id="noFileSelect" value="@Res.Get("Common_Label_NoFileSelect")" style="width:235px;background-color:White;float:left;margin-left: 50px;height:20px;margin-top:-3px;" disabled="disabled"/>
        <div class="Clear"></div>
        <span class="errorMsg hide" style="color: red;float: left;margin-left: 133px;margin-top: -7px;"></span>
    </div>

    <div class="vt-SearchPanel-Button">
       
    <div style="text-align: center; padding-top: 0px; margin-left: -30px;">
        @Html.ViettelButton("Tải file mẫu", new Dictionary<string, object>() { { "id", "CloseWindownImport" } }, "button", "fnDownloadTemplateFile()", "")
        @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
    </div>
    @Html.ViettelButton(Res.Get(""), new Dictionary<string, object> {{"style", "display: none;"} }, "submit", "return CheckFileExist()", "btnSubmitImportExcel")
    </div>
    
</div>
      }
          
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;width:200px");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });
    var _intervalId;
    function OnSelectImport(e) {
       // debugger;
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        $('#noFileSelect').val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
       // debugger;
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);
            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
            //$('#noFileSelect').attr('style', 'display:none');
            //  $('#txtFilePath').attr('style', 'display:inline'); 
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
            // $('#noFileSelect').attr('style', 'display:inline');
            //   $('#txtFilePath').attr('style', 'display:none'); 
        }
    }
    function OnImportUpload(e) {
        //debugger;
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    alert("Dung lượng file excel không được lớn hơn 1MB")
                    e.preventDefault();
                    return false;
                }
            } else {
                alert("File không đúng định dạng")
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                //$('#noFileSelect').val('@Res.Get("Common_Label_NoFileSelect")');
                $('#noFileSelect').val('Không có tệp tin nào được chọn');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
        }
    }
    function OnImportSuccess(e) {
        $(".btnSubmitImportExcel").click();
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.closeDialog('ImportExcelClass');
        AjaxSearchClass();
    }

    //----------------------
    function CreateSuccess(data) {
        $('#noFileSelect').val(stringUtils.HtmlDecode('@Res.Get("Common_Label_NoFileSelect")'));
        if (data.Type == '@JsonMessage.SUCCESS') {
            smas.alert(data.Message);
            $('#noFileSelect').attr('display', 'inline');
        }
        else
            if (data.Type == '@JsonMessage.ERROR') {
                formUtils.resetForm("ViewData");
                smas.openDialog("ViewData", '@Url.Action("ViewDataImportExcel")', {});
                smas.alert(data.Message);
            }
            else {
                smas.alert(data.Message);
            }
    }
    function CreateFail(ajaxContext) {
        $('#noFileSelect').val(stringUtils.HtmlDecode('@Res.Get("Common_Label_NoFileSelect")'));
    }
    function OnImportError(e) {
        debugger;
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }

    //kiem tra xem file con ton tai hay khong
    function CheckFileExist() {

    }
</script>

<style>
    .btnUploaderCss span {
        padding-right: 20px;
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected {
        display: none;
    }

    .t-dropzone {
        padding-left: 60px;
        padding-top: 0px;
    }

    #btnDowloadfile {
        border: none;
        background: none;
        color: Blue;
        font-weight: bold;
    }

        #btnDowloadfile:hover {
            text-decoration: none;
        }
    .btnUploaderCss .t-upload-button {
        margin-top: 7px;
    }
</style>
