@model SMAS.Models.Models.ClassProfile

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("DeleteRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.ResourceManager.GetString("DeleteRK")</h2>

<h3>@Resources.Resource.ResourceManager.GetString("DeleteMsgRK")</h3>
<fieldset>
    <legend>ClassProfile</legend>

    <div class="display-label">SchoolID</div>
    <div class="display-field">@Model.SchoolID</div>

    <div class="display-label">IsCombinedClass</div>
    <div class="display-field">@Model.IsCombinedClass</div>

    <div class="display-label">CombinedClassCode</div>
    <div class="display-field">@Model.CombinedClassCode</div>

    <div class="display-label">HeadTeacherID</div>
    <div class="display-field">@Model.HeadTeacherID</div>

    <div class="display-label">DisplayName</div>
    <div class="display-field">@Model.DisplayName</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">StartDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.StartDate)</div>

    <div class="display-label">EndDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.EndDate)</div>

    <div class="display-label">IsSpecializedClass</div>
    <div class="display-field">@Model.IsSpecializedClass</div>

    <div class="display-label">Candidates</div>
    <div class="display-field">@(Model.Candidates == null ? "None" : Model.Candidates.Count.ToString())</div>

    <div class="display-label">EducationLevel</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.EducationLevel).ToString()</div>

    <div class="display-label">SubCommittee</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SubCommittee).ToString()</div>

    <div class="display-label">ApprenticeshipTrainings</div>
    <div class="display-field">@(Model.ApprenticeshipTrainings == null ? "None" : Model.ApprenticeshipTrainings.Count.ToString())</div>

    <div class="display-label">ApprenticeshipTrainingAbsences</div>
    <div class="display-field">@(Model.ApprenticeshipTrainingAbsences == null ? "None" : Model.ApprenticeshipTrainingAbsences.Count.ToString())</div>

    <div class="display-label">ApprenticeshipTrainingSchedules</div>
    <div class="display-field">@(Model.ApprenticeshipTrainingSchedules == null ? "None" : Model.ApprenticeshipTrainingSchedules.Count.ToString())</div>

    <div class="display-label">ClassMovements</div>
    <div class="display-field">@(Model.ClassMovements == null ? "None" : Model.ClassMovements.Count.ToString())</div>

    <div class="display-label">ClassMovements1</div>
    <div class="display-field">@(Model.ClassMovements1 == null ? "None" : Model.ClassMovements1.Count.ToString())</div>

    <div class="display-label">ConductEvaluationDetails</div>
    <div class="display-field">@(Model.ConductEvaluationDetails == null ? "None" : Model.ConductEvaluationDetails.Count.ToString())</div>

    <div class="display-label">ExemptedSubjects</div>
    <div class="display-field">@(Model.ExemptedSubjects == null ? "None" : Model.ExemptedSubjects.Count.ToString())</div>

    <div class="display-label">JudgeRecords</div>
    <div class="display-field">@(Model.JudgeRecords == null ? "None" : Model.JudgeRecords.Count.ToString())</div>

    <div class="display-label">MarkRecords</div>
    <div class="display-field">@(Model.MarkRecords == null ? "None" : Model.MarkRecords.Count.ToString())</div>

    <div class="display-label">MovementAcceptances</div>
    <div class="display-field">@(Model.MovementAcceptances == null ? "None" : Model.MovementAcceptances.Count.ToString())</div>

    <div class="display-label">MovementAcceptances1</div>
    <div class="display-field">@(Model.MovementAcceptances1 == null ? "None" : Model.MovementAcceptances1.Count.ToString())</div>

    <div class="display-label">ParticularPupils</div>
    <div class="display-field">@(Model.ParticularPupils == null ? "None" : Model.ParticularPupils.Count.ToString())</div>

    <div class="display-label">PupilAbsences</div>
    <div class="display-field">@(Model.PupilAbsences == null ? "None" : Model.PupilAbsences.Count.ToString())</div>

    <div class="display-label">PupilDisciplines</div>
    <div class="display-field">@(Model.PupilDisciplines == null ? "None" : Model.PupilDisciplines.Count.ToString())</div>

    <div class="display-label">PupilEmulations</div>
    <div class="display-field">@(Model.PupilEmulations == null ? "None" : Model.PupilEmulations.Count.ToString())</div>

    <div class="display-label">PupilFaults</div>
    <div class="display-field">@(Model.PupilFaults == null ? "None" : Model.PupilFaults.Count.ToString())</div>

    <div class="display-label">PupilGraduations</div>
    <div class="display-field">@(Model.PupilGraduations == null ? "None" : Model.PupilGraduations.Count.ToString())</div>

    <div class="display-label">PupilLeavingOffs</div>
    <div class="display-field">@(Model.PupilLeavingOffs == null ? "None" : Model.PupilLeavingOffs.Count.ToString())</div>

    <div class="display-label">PupilOfClasses</div>
    <div class="display-field">@(Model.PupilOfClasses == null ? "None" : Model.PupilOfClasses.Count.ToString())</div>

    <div class="display-label">PupilPraises</div>
    <div class="display-field">@(Model.PupilPraises == null ? "None" : Model.PupilPraises.Count.ToString())</div>

    <div class="display-label">PupilProfiles</div>
    <div class="display-field">@(Model.PupilProfiles == null ? "None" : Model.PupilProfiles.Count.ToString())</div>

    <div class="display-label">PupilRankings</div>
    <div class="display-field">@(Model.PupilRankings == null ? "None" : Model.PupilRankings.Count.ToString())</div>

    <div class="display-label">PupilRetestRegistrations</div>
    <div class="display-field">@(Model.PupilRetestRegistrations == null ? "None" : Model.PupilRetestRegistrations.Count.ToString())</div>

    <div class="display-label">SchoolMovements</div>
    <div class="display-field">@(Model.SchoolMovements == null ? "None" : Model.SchoolMovements.Count.ToString())</div>

    <div class="display-label">SchoolMovements1</div>
    <div class="display-field">@(Model.SchoolMovements1 == null ? "None" : Model.SchoolMovements1.Count.ToString())</div>

    <div class="display-label">SummedUpRecords</div>
    <div class="display-field">@(Model.SummedUpRecords == null ? "None" : Model.SummedUpRecords.Count.ToString())</div>

    <div class="display-label">AcademicYear</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.AcademicYear).ToString()</div>

    <div class="display-label">Calendars</div>
    <div class="display-field">@(Model.Calendars == null ? "None" : Model.Calendars.Count.ToString())</div>

    <div class="display-label">ClassEmulations</div>
    <div class="display-field">@(Model.ClassEmulations == null ? "None" : Model.ClassEmulations.Count.ToString())</div>

    <div class="display-label">ClassEmulationDetails</div>
    <div class="display-field">@(Model.ClassEmulationDetails == null ? "None" : Model.ClassEmulationDetails.Count.ToString())</div>

    <div class="display-label">ClassForwardings</div>
    <div class="display-field">@(Model.ClassForwardings == null ? "None" : Model.ClassForwardings.Count.ToString())</div>

    <div class="display-label">ClassForwardings1</div>
    <div class="display-field">@(Model.ClassForwardings1 == null ? "None" : Model.ClassForwardings1.Count.ToString())</div>

    <div class="display-label">ClassForwardings2</div>
    <div class="display-field">@(Model.ClassForwardings2 == null ? "None" : Model.ClassForwardings2.Count.ToString())</div>

    <div class="display-label">Employee</div>
    <div class="display-field">@(Model.Employee == null ? "None" : Model.Employee.Name)</div>

    <div class="display-label">SchoolProfile</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SchoolProfile).ToString()</div>

    <div class="display-label">SchoolSubsidiary</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SchoolSubsidiary).ToString()</div>

    <div class="display-label">ClassSubjects</div>
    <div class="display-field">@(Model.ClassSubjects == null ? "None" : Model.ClassSubjects.Count.ToString())</div>

    <div class="display-label">ClassSupervisorAssignments</div>
    <div class="display-field">@(Model.ClassSupervisorAssignments == null ? "None" : Model.ClassSupervisorAssignments.Count.ToString())</div>

    <div class="display-label">HeadTeacherSubstitutions</div>
    <div class="display-field">@(Model.HeadTeacherSubstitutions == null ? "None" : Model.HeadTeacherSubstitutions.Count.ToString())</div>

    <div class="display-label">LockedMarkDetails</div>
    <div class="display-field">@(Model.LockedMarkDetails == null ? "None" : Model.LockedMarkDetails.Count.ToString())</div>

    <div class="display-label">PropertyOfClasses</div>
    <div class="display-field">@(Model.PropertyOfClasses == null ? "None" : Model.PropertyOfClasses.Count.ToString())</div>

    <div class="display-label">TeachingAssignments</div>
    <div class="display-field">@(Model.TeachingAssignments == null ? "None" : Model.TeachingAssignments.Count.ToString())</div>

    <div class="display-label">TeachingRegistrations</div>
    <div class="display-field">@(Model.TeachingRegistrations == null ? "None" : Model.TeachingRegistrations.Count.ToString())</div>

    <div class="display-label">TeachingTargetRegistrations</div>
    <div class="display-field">@(Model.TeachingTargetRegistrations == null ? "None" : Model.TeachingTargetRegistrations.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ViettelActionLink(@Resources.Resource.ResourceManager.GetString("BackRK"), "Index")
    </p>
}


