@model SMAS.Web.Areas.ClassProfileArea.Models.ClassProfileForm
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using (Ajax.BeginForm("Edit",
                       "ClassProfile",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail",
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CreateOrEdit", Model)
    @Html.ViettelHiddenFor(o => o.ClassProfileID)
    <div class="dialog-buttons text-center">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object> { {"id","btnEdit"}}, "submit", "return enableDisableSection();", "btn btn-info btn-icon btn-round btn-icon-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');AjaxSearchClass();", "btn btn-basic btn-round")
    </div>
}
<script type="text/javascript">
    function enableDisableSection() {
        var count = 0;
        $("#frmEdit #divSeperate input").each(function () {
            if ($(this).is(':checked')) {
                count++;
            }
        });
        
        if (count == 0) {
            smas.alertColor('@Res.Get("Validate_ArrClassSeperateID")', 'red');
            return false;
        }

       
        if(@GlobalInfo.getInstance().AppliedLevel==1 || @GlobalInfo.getInstance().AppliedLevel==2 || @GlobalInfo.getInstance().AppliedLevel==3){
        count = 0;
        $("#frmEdit #divSeperateKey input").each(function () {
            if ($(this).is(':checked')) {
                count++;
            }
        });
        if (count == 0) {
            smas.alertColor('@Res.Get("Validate_ArrClassSeperateKeyID")', 'red');
            return false;
        }
        else {
            $("#frmEdit #divSeperate input").each(function () {
                if ($(this).is(":checked")) {
                    $(this).removeAttr("disabled");
                }
            });
        }
        }

        if($("#frmEdit #CheckIsCombinedClass").val() == 1)
        {
            if($('#frmEdit #CombinedClassCode').val() == null 
                || $('#frmEdit #CombinedClassCode').val() == '' 
                || $('#frmEdit #CombinedClassCode').val().length == 0)
            {
                smas.alertColor('@Res.Get("YouNeedEnterCombinedClassCode")', 'red');
                return false;
            }
        }

        return true;
    }
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            $('.windowConfirmExport').parent().parent().parent().remove();
            $('.windowImportClass').parent().parent().parent().remove();
            AjaxSearchClass();
        }
    }

    function EditFail(data){
        smas.hideProcessingDialog();
    }

    formUtils.focusForm("frmEdit");
   

    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
    $(document).ready(function () {
        $("#editDialog #Note").hide();
    });
</script>
