﻿@model SMAS.Models.Models.ClassProfile
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ClassProfileArea
@using SMAS.Web.Utils
@using SMAS.Models.Models
@{
    ViewBag.Title = Res.Get("ClassProfile_Index_Title");
    Layout = "~/Areas/AcademicYearArea/Views/Shared/InitializationLayout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView) 
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    bool isCurrentYear = (bool)ViewData[ClassProfileConstants.IS_CURRENT_YEAR];
}

@*@{
    if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
            || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
        {
            <text>
                <style>
                    #createDialog .t-window-content {
                        height:500px !important;
                    }
                </style>
            </text>
        }
}*@

<div class="class-profile-area-page">
<div id="divClassProfileSearchError">
</div>
<div id="divGridClassProfile">
    @Html.Partial("_GridClassProfile")
</div>
<div style="text-align: right;padding-top:10px;">
    @if (isCurrentYear && (checkCreate || checkUpdate || checkDelete))
    {
        @Html.ViettelButton(Res.Get("Common_Button_ClassProfile_OrderNumber_Save"), "submit", "onOrderNumberClassProfileAppliedButtonClick('GridClassProfile')", "btn btn-info btn-round")
    }
</div>
@(Html.Telerik().Window().Name("createDialog")
                            .Title(Res.Get("ClassProfile_Label_Create_Title"))
                            .Content(@<text>@Html.Partial("Create")</text>)
                            .Draggable(true)
                            .Visible(false)
                            .Scrollable(false)
                            .Modal(true)
                            .Width(800)
                            .HtmlAttributes(new { @class = "class-profile-create-window popup-background" })
                            .ContentHtmlAttributes(new { style = "min-width:760px;" })
                            )
    @(Html.Telerik().Window().Name("editDialog")
                            .Title(Res.Get("ClassProfile_Dialog_Edit"))
                            .Content("")                            
                            .Scrollable(false)                    
                            .Draggable(true)
                            .Visible(false)
                            .Modal(true)
                            .Width(800)
                            //.Height(700)
                            .HtmlAttributes(new { @class = "class-profile-edit-window popup-background" })
                            .ContentHtmlAttributes(new { style = "min-width:760px;" })
                      )
@(Html.Telerik().Window()
                .Name("ConfirmDeleteClass")
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmDeleteClass")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .HtmlAttributes(new { @class = "class-profile-delete-window" })
                .ContentHtmlAttributes(new { style = "min-width:500px;" })
                )
    </div>
<script type="text/javascript">  
    function AjaxSearchClass() {
        var educationLevelId = $("#divGridClassProfile #EducationLevelID").val();
        $.ajax({
            url: '@Url.Action("GetClassProfileByEduLevel", "ClassProfile")',
            data: "educationLevelId=" + educationLevelId,
            success: function (data) {
                $('.windowConfirmExport').parent().parent().parent().remove();
                $('.windowImportClass').parent().parent().parent().remove();
                $('#divGridClassProfile').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divClassProfileSearchError').html(XMLHttpRequest.responseText);
            }

        });
    }
    
    // Congnv: Ajax cập nhật STT của lớp học
    function onOrderNumberClassProfileAppliedButtonClick(formId) {
        var form = $('#' + formId);
        var classProfileOrderNumberInputs = $('input[name="ClassProfileOrderNumber"][is-changed="1"]');
        var jsonObj = []; //declare object

        for (var i = 0; i < classProfileOrderNumberInputs.length; i++) {
            var id = classProfileOrderNumberInputs[i].getAttribute('class-profile-id');
            var val = classProfileOrderNumberInputs[i].value;
            var json = {ClassProfileID :id, OrderNumber:val};
            
            jsonObj.push(json);

        }
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            type: 'post',
            dataType: "json",
            url: '@Url.Action("UpdateOrderNumberInClassProfile", "ClassProfile")',
            data: { listClassProfileChangedOrderNumber: JSON.stringify(jsonObj), __RequestVerificationToken: token },
            beforeSend: smas.showProcessingDialog(),
            success: function (data) {
                smas.hideProcessingDialog();
                smas.alert(data);
                // Reload lại trang do Grid sử dụng Client Binding
                AjaxSearchClass();
                //smas.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.hideProcessingDialog();
                smas.alert(XMLHttpRequest.responseText);
            }

        });
    }
    ////////////////////////////////////////////////////////////////////////////////////////////
    // Fix bug: 185111 - Sua lai duong dan chuc nang tu Khai bao lop hoc thanh khai bao nhom lop
    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {        
        <text>
        $(function () {
            $(".Breadcrum").find(":contains('Khai báo lớp học')").filter(":last").html("Khai báo nhóm lớp");
        });
        </text>
        if(GlobalInfo.getInstance().TrainingType!=3)
        {
            <text>
            $(function () {
               
                $("#editDialog").find(".t-window-content").filter(".t-content").first().css("height", "480px");
                $("#createDialog").find(".t-window-content").filter(".t-content").first().css("height", "480px");
            });
            </text>
        }
        else
        {
            <text>
                $(function () {
                    $("#editDialog").find(".t-window-content").filter(".t-content").first().css("height", "520px");
                    $("#createDialog").find(".t-window-content").filter(".t-content").first().css("height", "555px");
                });
            </text>
        }
    }
    function OnCheckedChangeSeperate(chkCheckbox) {
        var frmid = $(chkCheckbox).closest('form').attr('id');
        var chkS = $('#' + frmid + ' #ArrClassSeperateID0').is(':checked');
        var chkC = $('#' + frmid + ' #ArrClassSeperateID1').is(':checked');
        var chkT = $('#' + frmid + ' #ArrClassSeperateID2').is(':checked');
        if (chkS) {
            $('#' + frmid + ' #ArrSeperateKeyID0').removeAttr('disabled');
            $('#' + frmid + ' #ArrSeperateKeyID0').attr('checked', 'checked');
        }
        else {
            $('#' + frmid + ' #ArrSeperateKeyID0').attr('disabled', 'disabled');
            $('#' + frmid + ' #ArrSeperateKeyID0').removeAttr('checked');
        }

        if (chkC) {
            $('#' + frmid + ' #ArrSeperateKeyID1').removeAttr('disabled');
            if (!chkS) {
                $('#' + frmid + ' #ArrSeperateKeyID1').attr('checked', 'checked');
            }
        }
        else {
            $('#' + frmid + ' #ArrSeperateKeyID1').attr('disabled', 'disabled');
            $('#' + frmid + ' #ArrSeperateKeyID1').removeAttr('checked');
        }

        if (chkT) {
            $('#' + frmid + ' #ArrSeperateKeyID2').removeAttr('disabled');
            if (!chkS && !chkC) {
                $('#' + frmid + ' #ArrSeperateKeyID2').attr('checked', 'checked');
            }
        }
        else {
            $('#' + frmid + ' #ArrSeperateKeyID2').attr('disabled', 'disabled');
            $('#' + frmid + ' #ArrSeperateKeyID2').removeAttr('checked');
        }
    }
</script>

