@model EmulationCriteriaViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmulationCriteriaArea.Models
@using SMAS.Web.Areas.EmulationCriteriaArea
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
<div class="vt-ResultPanel">
    <div class="mg-t-10 mg-b-10">
        <div class="vt-ResultPanel-Title-Message" style="display: none">
            @{var list = (IEnumerable<EmulationCriteriaViewModel>)ViewData[EmulationCriteriaConstants.LIST_EMULATIONCRITERIA];
                @string.Format(Res.Get("Record_Result"), list.Count().ToString())
            }
        </div>
        <div class="text-right">
        @{
            if(checkCreate){
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus")
            }
            }
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="t-widget t-grid">
        @{
            var index = 1;

            Html.Telerik()
                .Grid(list)
                .Name("GridEmulationCriteria")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

                    c.Bound(o => o.Resolution).Width(200);
                    c.Bound(o => o.Mark).HtmlAttributes(new { style = "text-align:center" }).Width(80);
                    c.Command(cmd =>
                    {
                        cmd.Custom("vtEdit")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Edit", "EmulationCriteria")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-edit icon icon-edit" });
                    }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(60).Visible(checkUpdate);
                    c.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Delete", "EmulationCriteria")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-delete icon icon-trash" });
                    }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(60).Visible(checkDelete);
                })
                .DataBinding(b =>
                    b.Ajax().OperationMode(GridOperationMode.Client)
                            .Select("Search", "EmulationCriteria")
                 )
                .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                    .OnCommand("Grid_onCommand")
                )
                .DataKeys(keys => keys.Add(o => o.EmulationCriteriaId))
                .Pageable().Resizable(o => o.Columns(true))
                .Editable(editing => editing.Mode(GridEditMode.PopUp))
                .Scrollable(c => c.Enabled(true).Height("auto"))
                .Selectable()
                .Render();
                      
        }
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridEmulationCriteria').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            var mark = item.Mark.toString().replace('.', ',').toString();
            smas.openDialog("editDialog", "", {});
            $("#editDialog #Mark").val(mark);

        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("EmulationCriteria_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.EmulationCriteriaId }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>
