﻿@using SMAS.Web.Areas.ReportFacilitiesSupervisingDeptArea
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int periodId = 0;
    if (ViewData[ReportFacilitiesSupervisingDeptConstant.PERIOD_ID] != null)
    {
        periodId = (int)ViewData[ReportFacilitiesSupervisingDeptConstant.PERIOD_ID];
    }
    List<SelectListItem> listYear = new List<SelectListItem>();
    List<SelectListItem> listPeriod = new List<SelectListItem>();
    if (ViewData[ReportFacilitiesSupervisingDeptConstant.LIST_YEAR] != null)
    {
        listYear = (List<SelectListItem>)ViewData[ReportFacilitiesSupervisingDeptConstant.LIST_YEAR];
    }
    if (ViewData[ReportFacilitiesSupervisingDeptConstant.LIST_PERIOD] != null)
    {
        listPeriod = (List<SelectListItem>)ViewData[ReportFacilitiesSupervisingDeptConstant.LIST_PERIOD];
    }
}
@using (Html.BeginForm("ExportExcel", "ReportFacilitiesSupervisingDept", FormMethod.Post, new { id = "ReportFacilitiesSupervisingDept", name = "ReportFacilitiesSupervisingDept" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 report-fac-sup-dept-page-search">
        <div class="vt-SearchPanel-Title">
           Báo cáo số liệu CSVC
        </div>        
        <div id="divCriteria"> 
            <div class="vt-control">
                <div class="editor-label">Năm học</div>
                <div class="editor-field">
                    <select id="Year" name="Year" >
                        @{
                            for (int i = 0; i < listYear.Count; i++)
                            {
                                <option value="@listYear[i].Value">@listYear[i].Text</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="vt-control">
                <div class="editor-label">Kỳ số liệu</div>
                <div class="editor-field">
                    <select id="PeriodID" name="PeriodID">
                        @{
                            for (int i = 0; i < listPeriod.Count; i++)
                            {
                                <option value="@listPeriod[i].Value">@listPeriod[i].Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>           
        <div class="vt-SearchPanel-Button">           
            <input class="btn btn-info btn-round btn-icon btn-icon-excel" type="submit" id="btnExport" name="btnExport" value="Xuất Excel" />
        </div>
    </div>	
}
<script>

    $(document).ready(function () {
        $("#PeriodID option[value=" + @periodId +"]").attr("selected", "selected");
    });
</script>