﻿@model EditViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SchoolAccountArea.Models
@using SMAS.Web.Areas.SchoolAccountArea

@{
    ViewBag.Title = @Res.Get("SchoolAccount_DialogTitle_Edit");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Edit",
                       "SchoolAccount",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            @Res.Get("UserAccountProfile_Label_User")
        </div>
        <div class="vt-SearchPanel-Content panel-content-1">
            @Html.AntiForgeryToken()
            @Html.ViettelTextboxFor(o => o.UserName, Res.Get("Employee_Column_LoginName"),
                    new Dictionary<string, object>()
                    {
                    }, true)
           

            <div class="vt-control">
                <div class="editor-label">
                    @Res.Get("EmployeeWorkMovement_Label_Employee")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">
                    @(Html.Telerik().AutoComplete()
                        .Name("EmployeeName")
                        .Encode(false)
                        .BindTo(Model.ListEmployee.Select(p => p.Text))
                        .AutoFill(false)
                        .HtmlAttributes(new { @readonly = "readonly" })
                        .HighlightFirstMatch(true)
                        .ClientEvents(events => events.OnChange("onSelect"))
                        .Value(Model.FullName)
                        .Filterable(filtering =>
                        {
                            {
                                filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                            }
                        })
                     )

                </div>
            </div>
            @Html.ViettelCheckBox("chkIsActive", 1, new Dictionary<string, object> { { "id", "chkIsActive" } }, @Res.Get("SchoolAccount_Label_Active"), @Model.IsActive, false)
        </div>
    </div>
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            @Res.Get("SchoolAccount_Label_InfoEmployee")
        </div>
        <div class="vt-SearchPanel-Content">
            <table id="tblEmployee">
                <tr>
                    <td>@Html.ViettelLabel(Res.Get("Employee_StaffPosition_Resolution")) :</td>
                    <td class="rowView" id="lbl_Position">@Model.Position</td>
                    <td class="">@Html.ViettelLabel(Res.Get("Employee_Label_Sex")) :</td>
                    <td class="rowView" id="lbl_Genre">@Model.Genre</td>
                </tr>
                <tr>
                    <td>@Html.ViettelLabel(Res.Get("Employee_Column_BirthDay")) :</td>
                    <td class="rowView" id="lbl_BirthDate">@Model.BirthDate</td>
                    <td class="">@Html.ViettelLabel(Res.Get("SchoolAccount_Label_Phone")) :</td>
                    <td class="rowView" id="lbl_PhoneNo">@Model.PhoneNo</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td class="rowView" id="lbl_Email">@Model.Email</td>
                    <td class="">@Html.ViettelLabel(Res.Get("Employee_Label_HomeTown")) :</td>
                    <td class="rowView" id="lbl_HomeTown">@Model.HomeTown</td>
                </tr>
                <tr>
                    <td>@Html.ViettelLabel(Res.Get("SupervisingDept_Label_Address")) :</td>
                    <td class="rowView" id="lbl_Address">@Model.PermanentResidentalAddress</td>
                    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
                         || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
                    {
                        <td>@Html.ViettelLabel(Res.Get("Lable_Faculty_MN")):</td>
                    }
                    else
                    {
                    <td>@Html.ViettelLabel(Res.Get("Employee_Label_SchoolFaculty")) :</td>
                    }
                    <td class="rowView" id="lbl_SchoolFaculty">@Model.SchoolFaculty</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            @Res.Get("Employee_Label_Group")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.Partial("_SelectList")
        </div>
    </div>
    <input type="hidden" id="id" value="@Model.UserAccountID" />
    @Html.ViettelHiddenFor(o => o.UserAccountID)
    @Html.ViettelHiddenFor(o => o.EmployeeID)
    @Html.ViettelHiddenFor(o => o.FullName)
    <div id="CreateUserAccount" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            <div class="mg-t-10 text-center">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit') || !checkSelectCheckbox()) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.redirect('" + Url.Action("Index") + "');", "btn btn-basic btn-round")
            </div>
        </div>
    </div>
}

<style type="text/css">
    .rowView
    {
        font-weight:bold;
        width:35%;
    }
</style>

<script type="text/javascript">

    function checkSelectCheckbox() {
        var check = false;
        $("#listCheckBox input[type=checkbox]").each(function () {
            if ($(this).is(":checked")) {
                check = true;
            }
        });
        if (!check) {
            smas.alert('@Res.Get("SchoolAccount_Label_NotChoiceGroupUser")');
            return false;
        }
        return true;
    }

    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            smas.redirect('@Url.Action("Index")');
            $("#frmSearch input[type='submit']").click();
        }
    }
    function EditFail(ajaxContext) {
        smas.setFocus("#UserName");
    }

    function onSelect() {
        var employ = document.getElementById("EmployeeName").value;
        if (employ != "") {
            $.ajax({
                type: "post",
                dataType: "json",
                url: '@Url.Action("GetEmployeeInfo", "SchoolAccount")',
                data: { employ: employ },
                success: function (data) {

                    document.getElementById("lbl_Position").innerHTML = data.Position;
                    document.getElementById("lbl_Genre").innerHTML = data.Genre;
                    document.getElementById("lbl_BirthDate").innerHTML = data.BirthDate;
                    document.getElementById("lbl_PhoneNo").innerHTML = data.PhoneNo;
                    document.getElementById("lbl_HomeTown").innerHTML = data.HomeTown;
                    document.getElementById("lbl_Email").innerHTML = data.Email;
                    document.getElementById("lbl_Address").innerHTML = data.PermanentResidentalAddress;
                    document.getElementById("lbl_SchoolFaculty").innerHTML = data.SchoolFaculty;

                    document.getElementById("EmployeeID").value = data.EmployeeID;
                    if (data.EmployeeID == 0) {
                        $("#EmployeeName").css('display', 'inline');
                    }
                    //$("#" + frmId + " #SalaryLevelID").val(data.SalaryLevelID);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            });
        } else {
            smas.error('Tên cán bộ không được để trống');
            setTimeout('$("#EmployeeName").focus();', 1000);
        }
        var id = document.getElementById("UserAccountID").value;

        //        
        //        $.ajax({
        //            url: '@Url.Action("SelectList", "SchoolAccount")',
        //            type: 'post',
        //            data: { id: id},
        //            //   data: jsonUtils.serializeObject("frmClassSubjectObject") ,


        ////            beforeSend: function () {
        ////               
        ////                smas.showProcessingDialog();
        ////            },
        //            success: function (msg) {
        //                $("#abc").html(msg);
        //            },
        //            error: function (XMLHttpRequest, textStatus, errorThrown) {
        //                smas.alert(XMLHttpRequest.responseText);
        //            }
        //        })

        function BeginSubmit() {
            smas.showProcessingDialog();
        }

    }
</script>



