﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalExaminationArea
@using SMAS.Web.Areas.PhysicalExaminationArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@*@using SMAS.Business.BusinessObject*@
@{
    
 }
@using (Ajax.BeginForm("SaveSinglePEPupil",
                       "PhysicalExamination",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnCompleteAdd",
                           OnSuccess = "SaveSuccessAdd",
                           OnFailure = "SaveFailAdd"
                       },
                       new { id = "frmAddPhysical" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValueAdd","")
    @Html.Hidden("hdfMonthNameAdd","")
    @Html.Hidden("hdfMonthID","")
    @Html.Hidden("Height","")
    @Html.Hidden("Weight","")
    @Html.Hidden("PhyExID","")
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3" style="border: none;">        
        <div class="vt-control" style="width:350px;">
            <table style="width:340px;">
                <tr>
                    <td style="width:60px">Họ và tên</td>
                    <td><label id="lblPupilName"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width:60px">Cao</td>
                    <td><input type="text" id="txtHeight" maxlength="5" value="" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số" style="width:60px" /> cm</td>
                    <td><label id="lblMessageHeight"/></td>
                </tr>
                <tr>
                    <td style="width:60px">Nặng</td>
                    <td><input type="text" id="txtWeight" maxlength="4" value="" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số" style="width:60px" /> kg</td>
                    <td><label id="lblMessageWeight"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <input type="submit" id="btnSubmit" style ="display:none;" />
        <input type="button" id="btnSaveAdd" class="t-button" onclick ="return SetDataValue();" value="Lưu" />
        <input type="button" id="btnClose" class="t-button" onclick ="CloseDialog();" value="Đóng" />
    </div>
}
<script type ="text/javascript">
    $(document).ready(function () {
        LoadPhysicalByPupil();
    });
    function SetDataValue()
    {
        $('#frmAddPhysical #hdfValueAdd').html($('#HiddenPanel').html());
        var monthID = $('#MonthID').val();
        var monthName = $('#MonthID').find('option[value=' + monthID + ']').text();
        $('#frmAddPhysical #hdfMonthNameAdd').val(monthName);
        $('#frmAddPhysical #hdfMonthID').val(monthID);
        $('#frmAddPhysical #Weight').val($('#txtWeight').val());
        $('#frmAddPhysical #Height').val($('#txtHeight').val());
        var pupilID = $('#PupilID').val();
        if (pupilID == '') {
            smas.alertColor('Thầy cô chưa chọn học sinh', 'red');
            return;
        }
        $('#frmAddPhysical #btnSubmit').click();
    }
    function SaveSuccessAdd(e) {
        smas.hideProcessingDialog();
        smas.alert(e.Message);
        smas.closeDialog('AddPhysicalDialog');
        //LoadGrid();
        AjaxLoadGridView();
    }
    function OnCompleteAdd() {
        smas.hideProcessingDialog();
    }
    function SaveFailAdd(e)
    {
        smas.hideProcessingDialog();
        smas.alert(e.responseText);
    }
    function CloseDialog()
    {
        smas.closeDialog('AddPhysicalDialog');
    }
</script>
