﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PhysicalExaminationArea
@using SMAS.Web.Areas.PhysicalExaminationArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@model IEnumerable<PhysicalExaminationViewModel>
@{
    GlobalInfo glo = new GlobalInfo();
    List<PhysicalExaminationViewModel> lstResult = new List<PhysicalExaminationViewModel>();
    Dictionary<int, int> lsMonthOfYear = new Dictionary<int, int>();
    bool disabled = false;
    int monSelect = (int)ViewData[PhysicalExaminationConstants.MONTH_SELECT_ID];
    bool isVisibleButton = true;
    if (ViewData[PhysicalExaminationConstants.IS_VISIBLED_BUTTON] != null)
    {
        isVisibleButton = (bool)ViewData[PhysicalExaminationConstants.IS_VISIBLED_BUTTON];
    }

    if (ViewData[PhysicalExaminationConstants.LIST_RESULT] != null)
    {
        lstResult = (List<PhysicalExaminationViewModel>)ViewData[PhysicalExaminationConstants.LIST_RESULT];
    }

    lsMonthOfYear = (Dictionary<int, int>)ViewData[PhysicalExaminationConstants.LIST_MONTH];

    int yearId = (int)ViewData["Year"];
}
<style type="text/css">
    #SendSMSCommentDialog .t-window-content.t-content {
        height: 275px !important;
    }

    #GridPE .t-grid-content tr td {
        padding: 0px;
        position:relative;
    }

    #GridPE .t-grid-header .t-header {
        white-space: normal;
    }

    #GridPE #tb tr td input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: medium;
        border: 0;
    }

    #GridPE table td {
        background-position: center;
    }

    .tooltip {
        width:190px;
        height:60px;
        padding:5px;
        background-color:white;
        border:1px solid #ccc;
        box-shadow: 0 0 3px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
        border-radius:3px;
        -webkit-border-radius:3px;
        position:absolute;
        top:10px;
        left:35px;
        display:none;
        z-index:1000;
    }

    .monthTitle 
    {
        text-shadow: -0px -1px 0px;
        color: blue;
    }

    #lblHeight, #lblWeight {
        text-shadow: -0px -1px 0px;
    }


</style>
@*<span id="strUpdateID" style="display:none">@Html.Raw(strLastUpdate)</span>*@

@{
    var index = 1;    
    Html.Telerik()
    .Grid(lstResult)
    .Name("GridPE")
    .Columns(c =>
    {
        c.Template(@<text>
    @{
        @index;
              index++;
              disabled = item.Status != SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;
    //styleColor = lstLasUpdateID.Contains(item.PupilID) ? "style = font-weight:bold;color:#d56900;" : "";
    }
    </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
        c.Template(@<text>
    <input type="hidden" id="PupilID"  name="PupilID" value="@item.PupilID" />
    @{
        if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
        {
        <span style="padding-left: 3px">@item.PupilName</span>
        }
        else
        {
        <span style="padding-left: 3px; color: red">@item.PupilName</span>
        }
    }
    </text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).Width(120);
        c.Template(@<text><span style="padding-left: 3px">@item.Birthday.ToString("dd/MM/yyyy")</span></text>).Title("Ngày sinh").Width(50);

        foreach (int x in lsMonthOfYear.Keys)
        {
            int wid = 0;
            string colH = "black";
            string colW = "black";
            if (x != monSelect) { wid = 25; } else { wid = 50; }
            c.Template(@<text>@{
                if (x != monSelect)
                {
                    if (item.listPE != null && item.listPE.Count > 0)
                    {
                        PhysicalExaminationModel mo = item.listPE.Where(o => o.MonthID == x).FirstOrDefault();
                        if (mo != null)
                        {
                            if (mo.Height == null || mo.Weight == null)
                            {
                                if (mo.MessageHeight == "Bình thường" || mo.MessageWeight == "Bình thường")
                                {
                                    <img id="iconStt-@item.PupilID-@x" src="/Content/images/icon-physicalExam/ok.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/>
                                    if (mo.Height != null) { colH = "green"; } else { colW = "green"; }
                                }
                                else
                                {
                                    <img id="iconStt-@item.PupilID-@x" src="/Content/images/icon-physicalExam/alert.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/>                    
                                    if (mo.Height != null) { colH = "red"; } else { colW = "red"; }
                                }    
                                <div class="tooltip" id="viewPhyDetail" style="text-align: center;">
                                    <span id="month" class="monthTitle">Cân đo sức khỏe tháng @(mo.MonthID +"/"+yearId)</span>
                                    <br />
                                    Cao: <label id="lblHeight">@mo.Height</label>cm - <label id="sttHeight" style="color:@colH;">@mo.MessageHeight</label>
                                    <br />
                                    Nặng: <label id="lblWeight">@mo.Weight</label>kg - <label id="sttWeight" style="color:@colW;">@mo.MessageWeight</label>
                                    <br />
                                </div>             
                            }
                            else if (mo.Height != null && mo.Weight != null)
                            {
                                if (mo.MessageHeight == "Bình thường" && mo.MessageWeight == "Bình thường")
                                {
                                    <img id="iconStt-@(item.PupilID)-@x" src="/Content/images/icon-physicalExam/ok.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/>
                                    colH = "green"; colW = "green";
                                }
                                else
                                {
                                    <img id="iconStt-@(item.PupilID)-@x" src="/Content/images/icon-physicalExam/alert.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/>
                                    if (mo.MessageHeight != "Bình thường") { colH = "red"; } else { colH = "green"; }
                                    if (mo.MessageWeight != "Bình thường") { colW = "red"; } else { colW = "green"; }
                                }
                                <div class="tooltip" id="viewPhyDetail" style="text-align: center;">
                                    <span id="month" class="monthTitle">Cân đo sức khỏe tháng @(mo.MonthID +"/"+yearId)</span>
                                    <br />
                                    Cao: <label id="lblHeight">@mo.Height</label>cm - <label id="sttHeight" style="color:@colH;">@mo.MessageHeight</label>
                                    <br />
                                    Nặng: <label id="lblWeight">@mo.Weight</label>kg - <label id="sttWeight" style="color:@colW;">@mo.MessageWeight</label>
                                    <br />
                                </div>
                            }
                            else if (mo.Height == null && mo.Weight == null)
                            {
                                <img id="iconStt-@(item.PupilID)-@x" src="/Content/images/icon-physicalExam/empty.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/>
                                <div class="tooltip" id="viewPhyDetail" style="text-align: center; height: 20px; width: 120px;">Chưa nhập dữ liệu</div>
                            }
                        }
                        else
                        { 
                            <img id="iconStt-@(item.PupilID)-@x" src="/Content/images/icon-physicalExam/empty.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/> 
                            <div class="tooltip" id="viewPhyDetail" style="text-align: center; height: 20px; width: 120px;">Chưa nhập dữ liệu</div>
                        }
                    }
                    else
                    { <img id="iconStt-@(item.PupilID)-@x" src="/Content/images/icon-physicalExam/empty.png" onclick="openPhysicalForm(@item.PupilID,@x);" onmouseover="viewPEdetail(@item.PupilID,@x);" width="25" height="25"/> 
                      <div class="tooltip" id="viewPhyDetail" style="text-align: center; height: 20px; width: 120px;">Chưa nhập dữ liệu</div>  
                    }
                }
                else
                {
                    if (item.listPE != null && item.listPE.Count > 0)
                    {
                        PhysicalExaminationModel mo = item.listPE.Where(o => o.MonthID == x).FirstOrDefault();
                        if (mo != null)
                        {
                <table id="tb" style="width: 100%; height: 100%;">
                    <tr>
                        <td>
                            <input id="@("valHeight_" + item.PupilID)" value="@mo.Height" type="text" maxlength="5" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số"/></td>
                        <td>
                            <input id="@("valWeight_" + item.PupilID)" value="@mo.Weight" type="text" maxlength="4" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số"/></td>
                    </tr>
                </table>
                        }
                        else
                        {
                <table id="tb" style="width: 100%; height: 100%;">
                    <tr>
                        <td>
                            <input id="@("valHeight_" + item.PupilID)" type="text" maxlength="5" value="" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số"/></td>
                        <td>
                            <input id="@("valWeight_" + item.PupilID)" type="text" maxlength="4" value="" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số"/></td>
                    </tr>
                </table>
                        }
                    }
                    else
                    {
                <table id="tb" style="width: 100%; height: 100%;">
                    <tr>
                        <td>
                            <input id="@("valHeight_" + item.PupilID)" type="text" maxlength="5" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số" /></td>
                        <td>
                            <input id="@("valWeight_" + item.PupilID)" type="text" maxlength="4" pattern='[+\-]?\d*\.?\d+' title="Chỉ nhập số" /></td>
                    </tr>
                </table>
                    }
                } 
            }

    </text>)
                .HtmlAttributes(new { style = "text-align:center" }).
                HeaderTemplate(@<text>
    @{
        if (x != monSelect)
        {
        <label id="@("lblThang" + x)">@("T" + x)</label>
        }
        else
        {
        <table style="width: 120%; height: 100%; border-left: none; border-right: none; margin: -0.3em -.6em -.3em -.6em;">
            <tr style="width: 50%;">
                <td colspan="2" style="text-align: center;">@("T" + x)</td>
            </tr>
            <tr>
                <td style="text-align: center;">Cao (cm)</td>
                <td style="text-align: center;">Nặng (kg)</td>
            </tr>
        </table>
        }
    }
    </text>).Width(wid);
        }
        c.Template(@<img id="imgChart" src="/Content/images/icon-physicalExam/chart.png" width="25" height="25" onclick="openChartForm(@item.PupilID);"/>).HtmlAttributes(new { style = "text-align:center" }).
            HeaderTemplate(@<text><label id="chart">Biểu đồ</label></text>).Title("Biểu đồ").Width(30).Hidden();
        c.Template(@<text>
    @if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
    {
        <input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" />    
    }
    </text>).HeaderTemplate(@<text>
    <input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);" />
    </text>).HtmlAttributes(new { style = "text-align:center" }).Width(20);

    })
    .DataKeys(keys => keys.Add(o => o.PupilID))
    .Scrollable(p => p.Height(450))
    .Selectable()
    .Footer(false)
   .Render();
}

<script type="text/ecmascript">
    $(document).ready(function () {
        @*if ('@DayOfMonthID' == 0) {
            $('#frmPhysicalExamination #btnSave').hide();
        }
        else {
            $('#frmPhysicalExamination #btnSave').show();
        }*@
        $('#frmPhysicalExamination #lblLastUpdateID').html($('#strUpdateID').html());
    });
    function openPhysicalForm(pupilID, monthId) {
        var classID = $('#HiddenPanel #ClassID').val();
        $('#HiddenPanel #PupilID').val(pupilID);
        $('#HiddenPanel #MonthID').val(monthId);
        var monthID = monthId;
        var windowPE = $('#AddPhysicalDialog').data('tWindow');
        var oldTitle = windowPE.title();
        windowPE.title("Cân đo sức khỏe tháng " + monthID + "/" + @yearId);
        $.ajax({
            url: '@Url.Action("AjaxLoadAddPhysical", "PhysicalExamination")',
            data: { ClassID: classID, MonthID: monthID, PupilID: pupilID },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstAddPhyEx').html(msg);
                smas.hideProcessingDialog();
                smas.openDialog('AddPhysicalDialog', '', {});
                $('#AddPhysicalDialog .t-header').css('text-align', 'center');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function viewPEdetail(pupilID, monthId) {        
        $('#iconStt-'+pupilID+'-'+monthId).hover(
            function () {
                $(this).next().show();
            },
            function () {
                $(this).next().hide();
            }
        );       
    }

    function openChartForm(pupilID) {
        var classid = $("#ClassID").val();
        smas.redirect('@Url.Action("Index", "GrowthChart", new { area = "PhysicalExaminationArea" })?pupilID=' + pupilID + '&type=1&classID=' + classid);
    }
</script>
