﻿@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.SCSMonthlyGrowthArea;
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.HealthTestArea;
@using SMAS.Web.Constants;
@using Com.Viettel.Framework.HtmlHelpers
@model SMAS.Web.Areas.PhysicalExaminationArea.Models.ChartByPupilDataSource


<div class="ContentSectionBtm" id="MonthlyGrowthChart">
    <div class="HomeSection">
                <div class="CntTabSection">                    
                    <div class="GenaralInfoSection">
                        <div class="GIInSection HealthInSection">
                            <p class="Text1Style">@Res.Get("HealthTest_Label_LegendWeight")</p>
                            <p class="Text2Style">@Res.Get("SCSMonthlyGrowth_Label_WeightBoyTip1") - @Html.Raw(Model.IsMale ? Res.Get("HealthTest_Label_BoyTitle") : Res.Get("HealthTest_Label_GirlTitle"))</p>
                            <p class="Text2Style" style="font-weight: normal;">@Res.Get("SCSMonthlyGrowth_Label_Weight_Legend_Notice")</p>
                            <div class="BoxMap @(Model.IsMale == true ? "BoxMap1" : "BoxMap3")">
                                <div class="MapContentSection">
                                    <!--Biểu dồ tăng trưởng cân nặng-->
                                    @{
    Html.Telerik().Chart(Model.DataChart)
        .Name("WeightChart")
        .HtmlAttributes(new { @style = "height: 495px; width: 860px; z-index: 1;" })
        .Legend(legend => legend.Visible(false)) 
        .AxisDefaults(axis=>{
            axis.MajorGridLines(p => p.Visible(false));
            axis.MinorGridLines(p => p.Visible(false));
            axis.MajorTickSize(0);
            axis.MinorTickSize(0);
            axis.Line(0, "#ddd", ChartDashType.Dash);
        })  
        .Title("")
        .Series(s => {
            s.Line(p => p.Weight)
                .Width(2)
                .Color("blue")
                .Labels(p => p.Visible(false).Color("#FF5567").Font("bold 14px Arial, sans-serif"))
                .Markers(p => p.Visible(true).Background("blue").Size(10))
                .MissingValues(ChartLineMissingValues.Interpolate);
        })
        .ValueAxis(axis => {
            axis.Numeric().Min(0).Max(30).Labels(false);                
        })
        .CategoryAxis(axis => {
            axis.Categories(p => p.Month);
            axis.Labels(false);           
                        
        })
        .Tooltip( t=> t.Visible(true))
        .Render();
}
                                    <div class="InfoPupil">
                                        <label class="LabelStyle">@Res.Get("MonitoringBook_Label_Fullname"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@Model.PupilName</p>
                                        <div class="Clear">                                        
                                        </div>
                                        <label class="LabelStyle">Địa chỉ:
                                        </label>
                                        <p style="font-weight: bold;" class="ValueStyle Value1Style">@Model.PupilAddress</p>
                                        <div class="Clear">
                                        </div>
                                        <label class="LabelStyle">@Res.Get("Common_Label_Brithday"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@(Model.PupilBirthday.ToString("dd/MM/yyyy"))</p>
                                    </div>
                                </div>
                            </div>
                            <div class="Clear">
                            </div>
                            
                            <!-- hidden chart for export all class -->
                            <div style="width: 1px; height: 1px; visibility: hidden;">
                                <div id="div_tmp_for_data">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of hidden chart -->
                    <input type="checkbox" id="ckExportAllClass" class="InputCkboxStyle InputCkbox1Style" />
                    <p class="Text2Style">
                        <span class="Temp1Style">@string.Format(Res.Get("SCSMonthlyGrowth_Label_ExportPicture"), "className")</span>
                    </p>
                    <div class="Clear">
                    </div>
                    <div class="BtnCenterSection">
                        <input type="button" class="BtnGeneralStyle t-button" onclick="ExportImage();" value="@Res.Get("HealthTest_Button_ExportImage")" style="width: 70px;"/>
                        @*<input type="button" class="BtnGeneralStyle BtnGeneralMStyle t-button" onclick="backToMonthlyGrowth()" value="@Res.Get("Common_Button_GoBack")" style="width: 70px;" />*@
                        <input type="button" class="t-button" onclick="CloseDialog('DialogPrintChart');" value="Đóng" />
                    </div>
                </div>
            </div>
</div>