﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Business.Common
@using SMAS.Business.BusinessObject
@model EmisReportViewModel
@{
    List<CapacityStatisticsBO> data = ViewData[ReportMenuDirectionConstant.GRID_STATISTICS_CAPACITY] == null ? new List<CapacityStatisticsBO>() : (List<CapacityStatisticsBO>)ViewData[ReportMenuDirectionConstant.GRID_STATISTICS_CAPACITY];
    int index = 1;
    bool alt = false;
    GlobalInfo _globalInfo = new GlobalInfo();
    bool isCheckTertiary = _globalInfo.AppliedLevel.Value == GlobalConstants.APPLIED_LEVEL_TERTIARY;
}
<style>
    .vt-ResultPanel .vt-ResultPanel-Footer {
        padding-top: 0;
}
    .t-grid-header .t-header:first-child {
    border-top-left-radius: 0;
}
    .t-grid-header .t-header:last-child {
     border-top-right-radius: 0; 
}
    .t-widget.t-grid{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .t-grid-header .t-header .t-link{
        color: white;
        font-weight: 700 !important;
    }
</style>
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <!-- <div class="vt-ResultPanel-Title-Message"> -->
            <!-- @ViewData[ReportMenuDirectionConstant.COUNT_DATA] -->
        <!-- </div> -->
        <!-- <div class="Clear">
        </div> -->
    <!-- </div> -->
        <div class="vt-ResultPanel-Footer">
            <div class="vt-ResultPanel-Footer-Right">
                @using (Ajax.BeginForm("SendCapacity",
                        "EmisReport",
                        new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnBegin = "smas.showProcessingDialog",
                            OnComplete = "smas.hideProcessingDialog",
                            OnSuccess = "PostSuccess",
                            OnFailure = "PostFail"
                        },
                        new { id = "frmSendCapacity" }
                        ))
                {
            @Html.AntiForgeryToken()
                    @Html.Hidden("EducationLevelID", Model != null && Model.EducationLevelID.HasValue ? Model.EducationLevelID.Value : 0)
                    @Html.Hidden("Semester", Model != null ? Model.Semester : 0)
                    @Html.Hidden("SubCommitteeID", Model != null ? Model.SubCommitteeID : 0)
            if (Model != null)
            {
                if (data != null && data.Count > 0)
                {
                    //@Html.ViettelButton(Res.Get("StatisticsForUnit_Label_Send"), "submit", "", "")
                    //<text>&nbsp;</text>    
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportCapacityStatistic()", "btn btn-info btn-round btn-icon btn-icon-excel")
                }
            }
                }
            </div>
            <div class="Clear">
            </div>
        </div>
    </div>
    <div class="GridThemes">
            <div class="t-widget t-grid" style="overflow-x: scroll; height: 478px;">
                <table>
                    <thead class="t-grid-header">
                        <tr>
                            <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                <a class="t-link" onclick="javascript:void(0)">@Res.Get("Common_Column_Order")</a>
                            </th>
                            @if (isCheckTertiary)
                            {
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("SubCommittee_Label_AllTitle")</a>
                                </th>
                            }
                             
                            <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                <a class="t-link" onclick="javascript:void(0)">@Res.Get("EducationLevel_Label_AllTitle")</a>
                            </th>
                            <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_TotalPupil")</a>
                            </th>
                            <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                <a class="t-link" onclick="javascript:void(0)">@Res.Get("Tiêu chí")</a>
                            </th>
                            @{
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_CAPACITY_LEVEL])
                                {
                                <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;">
                                    <a class="t-link" onclick="javascript:void(0)">@sc.DisplayName</a>
                                </th>
                                }
                            }
                            <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;">
                                <a class="t-link" onclick="javascript:void(0)">@Res.Get("MarkStatistics_Label_AboveAverage")</a>
                            </th>
                        </tr>
                        <tr>
                            @{
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_CAPACITY_LEVEL])
                                {
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 30px">
                                    <a class="t-link" onclick="javascript:void(0)">TS</a>
                                </th>
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 30px">
                                    <a class="t-link" onclick="javascript:void(0)">TL</a>
                                </th>
                                }
                            }
                            <th class="t-header" style="vertical-align: middle; text-align: center; width: 30px">
                                <a class="t-link" onclick="javascript:void(0)">TS</a>
                            </th>
                            <th class="t-header" style="vertical-align: middle; text-align: center; width: 30px">
                                <a class="t-link" onclick="javascript:void(0)">TL</a>
                            </th>
                        </tr>
                    </thead>
                    @{foreach (var item in data)
                      {
                          alt = !alt;
                        <tr class="@(alt ? "t-alt" : "")">
                            <td style="text-align:center">
                                @(index++)
                            </td>
                            @if (isCheckTertiary)
                            {
                                <td>
                                    @(item.SubCommittee != null ? item.SubCommittee.Resolution : string.Empty)
                                </td>
                            }
                            <td style="text-align:center">
                                @(item.EducationLevel.Resolution)
                            </td>
                            <td style="text-align:center">
                                @(item.PupilTotal)
                            </td>
                            <td>
                                @{
                                  if (item.Genre.HasValue && item.EthnicID.HasValue)
                                  {
                                        <span>Học sinh nữ dân tộc</span>
                                  }
                                  else if (item.Genre.HasValue)
                                  {
                                        <span>Học sinh nữ</span>
                                  }
                                  else if (item.EthnicID.HasValue)
                                  {
                                        <span>Học sinh dân tộc</span>
                                  }
                                  else
                                  {
                                        <span>Tất cả</span>
                                  }
                                 }
                            </td>
                            @{
                            List<int?> listCountMark = new List<int?>();
                            foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_CAPACITY_LEVEL])
                            {
                                int? markValue = (int?)typeof(CapacityStatistic).GetProperty(sc.MappedColumn).GetValue(item, null);
                                listCountMark.Add(markValue);
                            }
                            List<double?> listPercent = ReportUtils.GetPerCentInList(listCountMark, item.PupilTotal);
                            int pos = 0;
                            double totalAbovePercent = 0;
                            foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_CAPACITY_LEVEL])
                            {
                                int? markValue = (int?)typeof(CapacityStatistic).GetProperty(sc.MappedColumn).GetValue(item, null);
                                double? percent = listPercent[pos];
                                if (sc.MarkType == SystemParamsInFile.StatisticsConfig.MARK_TYPE_ABOVE_AVERAGE)
                                {
                                    if (percent.HasValue)
                                    {
                                        totalAbovePercent += percent.Value;
                                    }
                                }
                                pos++;                
                                <td style="text-align:center">
                                    @markValue
                                </td>                            
                          
                                <td style="text-align:center">
                                    @(percent.HasValue ? percent.Value + "%" : string.Empty)
                                </td>                          
                            }
                            }
                            <td style="text-align:center">
                                @(item.OnAverage)
                            </td>
                            <td style="text-align:center">
                                @(totalAbovePercent + "%")
                            </td>
                        </tr>
                      }
                    }
                </table>
            </div>
        </div>
   
</div>
