﻿@model EmisReportViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models

@using (Ajax.BeginForm("SearchCapacitySubjectStatistic",
                       "EmisReport",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           UpdateTargetId = "gridPeriodStatistic"
                       },
                       new { id = "frmCapacitySubjectStatistic" }
                       ))
{
    @Html.ViettelHidden("ReportTypeID",0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
           Thống kê học lực môn
                   
        </div>
        <div class="vt-SearchPanel-Content">
            <div>
                <div class="col-sm-6">
                    @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[ReportMenuDirectionConstant.LIST_SEMESTER],
                    GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "period" } }, true)
                </div>
                <div class="col-sm-6">
                    @Html.AntiForgeryToken()
                         @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[ReportMenuDirectionConstant.LIST_EDUCATION_LEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "ref", "period" } }, false)
                </div>
            </div>
   
             <div class="vt-control">
                    
                    <div class ="row">
                        <fieldset >
                    <legend>
                        <label>Bổ sung số liệu</label>
                    </legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label class="custom-checkbox">
                                    <label>@Res.Get("Học sinh nữ")</label>
                                    <input type="checkbox" name="FemaleType" id="Female" value="1" />                           
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label class="custom-checkbox">
                                    <label>@Res.Get("Học sinh dân tộc")</label>
                                    <input type="checkbox" name="EthnicType" id="Ethnic" value="2" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label class="custom-checkbox">
                                    <label>@Res.Get("Học sinh nữ dân tộc")</label>
                                    <input type="checkbox" name="FemaleEthnicType" id="FemaleEthnic" value="3" />
                                    <span class="checkmark"></span>
                                </label>   
                            </div>
                        </div>
                </fieldset>
                    </div>
               </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-search")
        </div>
    </div>
}
<div id="gridPeriodStatistic">
    @Html.Partial("_CapacitySubjectStatisticGrid")
</div>
<script type="text/javascript">
$(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        smas.setSelect("#frmCapacitySubjectStatistic #Semester", '@(new GlobalInfo().Semester)');
    });
    function ExportCapacitySubject() {
        var eduID = $("#frmCapacitySubjectStatistic").find("#EducationLevelID").val();
        var semester = $("#frmCapacitySubjectStatistic").find("#Semester").val();
        //window.open("@Url.Action("ExportPeriod")?EducationLevelID=" + eduID + "&Semester=" + semester);

        $("#frmCapacitySubjectStatistic #ReportTypeID").val(3);
        smas.getReport('frmCapacitySubjectStatistic', '@Url.Action("GetReport", "EmisReport")',
        '@Url.Action("GetNewReport", "EmisReport")', '@Url.Action("DownloadReport", "EmisReport")');

    }
</script>
