﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Business.Common
@using SMAS.Business.BusinessObject
@model EmisReportViewModel
<style>
    .t-grid>table>tbody tr td {
        text-align: center;
    }
    .t-grid-header .t-header:first-child {
    border-top-left-radius: 0;
}
    .t-grid-header .t-header:last-child {
     border-top-right-radius: 0; 
}
    .t-widget.t-grid{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .t-grid-header .t-header .t-link{
        text-align: center;
        color: white;
        font-weight: 700 !important;
    }
    table{
        min-width: 1500px;
    }

</style>
@{
    List<CapacityStatisticsBO> data = ViewData[ReportMenuDirectionConstant.GRID_STATISTICS_CAPACITY_SUBJECT] == null ? new List<CapacityStatisticsBO>() : (List<CapacityStatisticsBO>)ViewData[ReportMenuDirectionConstant.GRID_STATISTICS_CAPACITY_SUBJECT];    
    int index = 1;
    bool alt = false;    
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <!-- <div class="vt-ResultPanel-Title-Message">
            @ViewData[ReportMenuDirectionConstant.COUNT_DATA]
        </div>
        <div class="Clear">
        </div> -->
         <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Right">
            @using (Ajax.BeginForm("SendCapacitySubject",
                       "EmisReport",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "PostSuccess",
                           OnFailure = "PostFail"
                       },
                       new { id = "frmSendCapacitySubject" }
                       ))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("EducationLevelID", Model != null && Model.EducationLevelID.HasValue ? Model.EducationLevelID.Value : 0)
                @Html.Hidden("Semester", Model != null ? Model.Semester : 0)
                if (Model != null)
                {
                    if (data != null && data.Count > 0)
                    {
                    //@Html.ViettelButton(Res.Get("StatisticsForUnit_Label_Send"), "submit", "", "")
                    //<text>&nbsp;</text>    
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportCapacitySubject()", "btn btn-info btn-icon btn-round btn-icon-excel")
                    }
                }
           }
        </div>
        <div class="Clear">
        </div>
    </div>
    </div>
   
    @{
        <div class="t-widget t-grid">
            <div class="GridThemes">
                <div class="t-widget t-grid" style="overflow-x: scroll; height: 478px;">
                    <table>
                        <thead class="t-grid-header">
                            <tr>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("Common_Column_Order")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("EducationLevel_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("SubjectCat_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_TotalPupil")</a>
                                </th>
                                 <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">Tiêu chí</a>
                                </th>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_MARK])
                                    {
                                    <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;
                                       ">
                                        <a class="t-link" onclick="javascript:void(0)">@sc.DisplayName</a>
                                    </th>
                                    }
                                }
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_JUDGE])
                                    {
                                    <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;
                                        ">
                                        <a class="t-link" onclick="javascript:void(0)">@sc.DisplayName</a>
                                    </th>
                                    }
                                }
                                <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;
                                    ">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("MarkStatistics_Label_TotalAboveAverage")</a>
                                </th>
                            </tr>
                            <tr>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_MARK])
                                    {
                                    <th class="t-header" style="vertical-align: middle; text-align: center; ">
                                        <a class="t-link" onclick="javascript:void(0)">TS</a>
                                    </th>
                                    <th class="t-header" style="vertical-align: middle; text-align: center;">
                                        <a class="t-link" onclick="javascript:void(0)">TL</a>
                                    </th>
                                    }
                                }
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_JUDGE])
                                    {
                                    <th class="t-header" style="vertical-align: middle; text-align: center; ">
                                        <a class="t-link" onclick="javascript:void(0)">TS</a>
                                    </th>
                                    <th class="t-header" style="vertical-align: middle; text-align: center; ">
                                        <a class="t-link" onclick="javascript:void(0)">TL</a>
                                    </th>
                                    }
                                }
                                <th class="t-header" style="vertical-align: middle; text-align: center; ">
                                    <a class="t-link" onclick="javascript:void(0)">TS</a>
                                </th>
                                <th class="t-header" style="vertical-align: middle; text-align: center;">
                                    <a class="t-link" onclick="javascript:void(0)">TL</a>
                                </th>
                            </tr>
                        </thead>
                        @{foreach (var item in data)
                          {
                              alt = !alt;
                            <tr class="@(alt ? "t-alt" : "")" >
                                <td >
                                    @(index++)
                                </td>
                                <td>
                                    @(item.EducationLevel.Resolution)
                                </td>
                                <td>
                                    @(item.SubjectCat.SubjectName)
                                </td>
                                <td>
                                    @(item.PupilTotal)
                                </td>
                                 <td>
                                    @(item.Critea)
                                </td>
                                @{
                                List<int?> listCountMark = new List<int?>();
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_MARK])
                                {
                                    int? markValue = (int?)typeof(CapacityStatisticsBO).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    listCountMark.Add(markValue);
                                }
                                List<double?> listPercent = ReportUtils.GetPerCentInList(listCountMark, item.PupilTotal);
                                int pos = 0;
                                double totalAbovePercent = 0;
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_MARK])
                                {
                                    int? markValue = (int?)typeof(CapacityStatisticsBO).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    double? percent = listPercent[pos];
                                    if (sc.MarkType == SystemParamsInFile.StatisticsConfig.MARK_TYPE_ABOVE_AVERAGE)
                                    {
                                        if (percent.HasValue)
                                        {
                                            totalAbovePercent += percent.Value;
                                        }
                                    }
                                    pos++;                
                                    <td>
                                        @markValue
                                    </td>                            
                          
                                    <td>
                                        @(percent.HasValue ? percent.Value + "%" : string.Empty)
                                    </td>                          
                                }
                                listCountMark.Clear();
                                pos = 0;
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_JUDGE])
                                {
                                    int? markValue = (int?)typeof(CapacityStatisticsBO).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    listCountMark.Add(markValue);
                                }
                                listPercent = ReportUtils.GetPerCentInList(listCountMark, item.PupilTotal);
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[ReportMenuDirectionConstant.LIST_JUDGE])
                                {
                                    int? markValue = (int?)typeof(CapacityStatisticsBO).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    double? percent = listPercent[pos];
                                    pos++;                
                                    <td>
                                        @markValue
                                    </td>                            
                          
                                    <td>
                                        @(percent.HasValue ? percent.Value + "%" : string.Empty)
                                    </td>                          
                                }
                                }
                                <td>
                                    @{
                                if (item.IsCommenting.HasValue &&
                                    (item.IsCommenting.Value == SystemParamsInFile.ISCOMMENTING_TYPE_MARK || item.IsCommenting.Value == SystemParamsInFile.ISCOMMENTING_TYPE_MARK_JUDGE))
                                {
                                        @(item.OnAverage)
                                }
                                    }
                                </td>
                                <td>
                                    @{
                                if (item.IsCommenting.HasValue &&
                                    (item.IsCommenting.Value == SystemParamsInFile.ISCOMMENTING_TYPE_MARK || item.IsCommenting.Value == SystemParamsInFile.ISCOMMENTING_TYPE_MARK_JUDGE))
                                {
                                        @(totalAbovePercent.ToString() + "%")
                                }
                                    }
                                </td>
                            </tr>
                          }
                        }
                    </table>
                </div>
            </div>
        </div>
    }
    
</div>
