﻿@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models

@using (Html.BeginForm("GetReportPrimary",
"EmisReport", FormMethod.Post, new { id = "frmEducationQualityStatistic" }))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("ReportType", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" id ="SubjectStatisticReport">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
            @Res.Get("Thống kê CLGD")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-sm-6">
                    @Html.ViettelCombobox(Res.Get("Common_Label_Semester"),"Semester",(SelectList)ViewData[ReportMenuDirectionConstant.CBO_SEMESTER],
                    GlobalConstants.NO_PLACEHOLDER,new Dictionary<string,object>(){},false,false)
                </div>
                <div class="col-sm-6">
                    <div class="vt-control PupilCode">
                        <div class="editor-label">
                            <label for="PupilCode">@Res.Get("Common_Label_AcademicYear")</label>
                        </div>
                        <div class="editor-field">
                            <input class="text-box single-line"  type="text" value='@ViewData[ReportMenuDirectionConstant.ACADEMICYEAR]' disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-excel")
        </div>
    </div>
}

<script type="text/javascript">
$(".editor-field").has("select").addClass("custom-select");
    $('#frmEducationQualityStatistic').submit(function (event) {
        $('#ReportType').val(1);
        event.preventDefault();
        smas.getReport('frmEducationQualityStatistic', '@Url.Action("GetReportPrimary", "EmisReport")',
        '@Url.Action("GetNewReportPrimary", "EmisReport")', '@Url.Action("DownloadReport", "EmisReport")');
    });
</script>