﻿@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@{
    GlobalInfo _glo = new GlobalInfo();
    bool isProvince = false;
    if (_glo.ProvinceID.Value == SMAS.Web.Areas.EmisSchoolProfileArea.EmisSchoolProfileContants.PROVINCE_ID_LCU)
    {
        isProvince = true;
    }
    string error = "";
    if (ViewData[SMAS.Web.Areas.EmisSchoolProfileArea.EmisSchoolProfileContants.MESSAGE_ERROR] != null)
    {
        error = SMAS.Web.Areas.EmisSchoolProfileArea.EmisSchoolProfileContants.MESSAGE_ERROR;
    }

    string SchoolYear = "";
    int EducationGrade = 0;
    int StatusReport = 0;
    int ReportPeriod = 0;
    if (ViewData[ReportMenuDirectionConstant.YEAR] != null)
    {
        SchoolYear = (string)ViewData[ReportMenuDirectionConstant.YEAR];
    }
    if (ViewData[ReportMenuDirectionConstant.EDUCATION_GRADE] != null)
    {
        EducationGrade = (int)ViewData[ReportMenuDirectionConstant.EDUCATION_GRADE];
    }
    if (ViewData[ReportMenuDirectionConstant.StatusReport] != null)
    {
        StatusReport = (int)ViewData[ReportMenuDirectionConstant.StatusReport];
    }
    if (ViewData[ReportMenuDirectionConstant.REPORT_PERIOD] != null)
    {
        ReportPeriod = (int)ViewData[ReportMenuDirectionConstant.REPORT_PERIOD];
    }
}
<style>
    
</style>
<div style="margin-top: 4px;">
    @{
        if (!string.IsNullOrEmpty(error))
        {
            <div class="MessageError">
                Báo cáo không hỗ trợ cho cấp trường này.
            </div>
        }
        else
        {
            using (Html.BeginForm("ExportExcelOfPrimarySchoolReport",
            "EmisReport", FormMethod.Post, new { id = "frmEmisReport" }))
            {
                <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
                    <div id="lblTitle" class="vt-SearchPanel-Title">
                        @Res.Get("Báo cáo EQMS")
                    </div>
                    <div class="vt-SearchPanel-Content">
                        <div class="vt-control">
                            <div class="editor-label">
                                @Html.Label("Kỳ báo cáo")
                            </div>
                            <div class="editor-field">
                                <select id="ReportTime" name="ReportTime" onchange="ReportEQMSTimeChanged(this)" style="width: 101px; margin-left: 10px;">
                                    <option value="1">Đầu năm</option>
                                    <option value="2">Giữa năm</option>
                                    <option value="3">Cuối năm</option>
                                </select>
                            </div>
                        </div>
                        <div class="vt-control" style="width:276px;">
                            <div class="editor-label">
                                @Html.Label("Năm báo cáo:")
                            </div>
                            <div class="editor-field" style="margin-top: 5px;">
                                <span id="SchoolYear"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <span>
                        <div id="Message">
                        </div>
                    </span>
                    <div class="vt-SearchPanel-Button" id="divProcessBtn">
                        <input class="t-button" type="submit" id="btnExport" name="btnExport" value="Xuất Excel" />
                        <input class="t-button" type="button" id="btnSynthetic" name="btnSynthetic" value="Tổng hợp mới" onclick="CheckSynthetic()" />
                    </div>
                </div>
            }
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#RadReportType').attr("checked", "checked");
        $('#SchoolYear').html('@SchoolYear');
        if ('@StatusReport' == 0 || '@StatusReport' == -1) {
            $('#btnExport').attr("disabled", "disabled");
        } else {
            $('#btnExport').removeAttr("disabled");
        }

        if ('@ReportPeriod' == 1) {
            $("#reportfacilities").hide();
            checkStatusLCU();
        }
    });

    var StatusReport = 0;
    var imageProcessing = '<img src="../../../../Content/images/smas_processing.gif" />';
    var timer;
    function CheckSynthetic() {
        Synthetic();
        if (StatusReport == 0) {
            timer = setInterval(function () {
                CheckStatusSynthetic();
            }, 3000);
        }
    }

    function CheckStatusSynthetic() {
        var ReportTime = $('#ReportTime').val();
        $.ajax({
            url: '@Url.Action("CheckSyntheticPrimarySchoolReport", "EmisReport")',
            cache: false,
            type: "POST",
            dataType: 'json',
            data: { ReportTime: ReportTime },
            success: function (data) {
                if (data.StatusReport == 0) {
                    StatusReport = 0;
                    $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                    $('#btnExport').attr("disabled", "disabled");
                    $('#btnSynthetic').attr("disabled", "disabled");
                    $('#btnSynthetic').removeAttr("onclick");
                }
                if (data.StatusReport == 1) {
                    $('#btnExport').removeAttr("disabled");
                    $('#btnSynthetic').removeAttr("disabled");
                    $('#btnSynthetic').attr("onclick", "CheckSynthetic()");
                    clearInterval(timer);
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    // hien button xuat excel
                }
            },
            error: function (data) {
                StatusReport = 0;
                $('#Message').html("Lỗi tổng hợp, xin thử lại.");
            }
        });
    }


    function Synthetic() {
        var ReportTime = $('#ReportTime').val();

        $.ajax({
            url: '@Url.Action("SyntheticPrimarySchoolReport", "EmisReport")',
            type: "POST",
            data: { ReportTime: ReportTime },
            cache: false,
            success: function (data) {
                if (data.StatusReport == 0) {
                    StatusReport = 0;
                    $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                    $('#btnExport').attr("disabled", "disabled");
                    $('#btnSynthetic').attr("disabled", "disabled");
                    $('#btnSynthetic').removeAttr("onclick");
                }

                if (data.StatusReport == 1) {
                    $('#btnExport').removeAttr("disabled");
                    $('#btnSynthetic').removeAttr("disabled");
                    $('#btnSynthetic').attr("onclick", "CheckSynthetic()");
                    clearInterval(timer);
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    // hien button xuat excel
                }
            },
            error: function (data) {
                $('#Message').html("Lỗi tổng hợp, xin thử lại.");
            }
        });
    }

    function checkStatusLCU() {
        var ReportTime = $('#ReportTime').val();
        var chck = $("#chckFacilities").is(":checked");
        var chckFacilities = false;
        if (chck) {
            chckFacilities = true;
        }
        $.ajax({
            url: '@Url.Action("CheckSynthetic", "EmisReport")',
            cache: false,
            type: "POST",
            dataType: 'json',
            data: { ReportTime: ReportTime, chckFacilities: chckFacilities },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                if (data.StatusReport == 0 || data.StatusReport == -1) {
                    StatusReport = 0;
                    $('#btnExport').attr("disabled", "disabled");
                }
                if (data.StatusReport == 1) {
                    $('#btnExport').removeAttr("disabled");
                }
                smas.hideProcessingDialog();
            },
            error: function (data) {
                StatusReport = 0;
                $('#Message').html("Lỗi tổng hợp, xin thử lại.");
            }
        });
    }

    function ReportEQMSTimeChanged(obj) {
        var valReportTime = $(obj).val();
        if (valReportTime == 2 || valReportTime == 3) {
            $("#reportfacilities").show();
            $("#chckFacilities").removeAttr("checked");
            smas.alert({ Message: "Hệ thống chưa hỗ trợ báo cáo này", Type: "error" });

            $("#divProcessBtn").hide();
        } else {
            $("#divProcessBtn").show();
            $("#reportfacilities").hide();
            $("#chckFacilities").removeAttr("checked");
        }
    }
</script>