﻿@model PupilOfClassViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CandidateArea.Models
@using SMAS.Web.Areas.CandidateArea

@{
    List<PupilOfClassViewModel> paging = (List<PupilOfClassViewModel>)ViewData[CandidateConstants.LIST_PUPIL];
    var count = (paging != null) ? paging.Count() : 0;   
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @string.Format(Res.Get("Common_Message_RowCount"), count)
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 0;
        Html.Telerik().Grid<PupilOfClassViewModel>((IEnumerable<PupilOfClassViewModel>)ViewData[CandidateConstants.LIST_PUPIL])
        .Name("ListPupilGrid")
         .DataKeys(keys =>
         {
             keys.Add(p => p.PupilOfClassID);
         })
        .DataBinding(dataBinding => dataBinding
             .Ajax()
                   .OperationMode(GridOperationMode.Client) // <-- set the operation mode
        )
         .Columns(c =>
         {
             //cot STT
             c.Template(@<text>@(++index)</text>)
                 .ClientTemplate("<#= lstInd++ #>")
                 .Title(@Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center;" })
                 .HeaderHtmlAttributes(new { style = "text-align:center" });
             c.Bound(o => o.PupilCode).Sortable(true);
             c.Bound(o => o.FullName).Sortable(false);
             c.Bound(o => o.ClassName).Sortable(true);
             c.Bound(o => o.BirthDate).Sortable(true).Format("{0:dd/MM/yyyy}");

             c.Bound(o => o.GenreName).Sortable(true);
             c.Bound(o => o.BirthPlace).Sortable(true);
             //lua chon
             c.Template(
@<text>
        <div style="text-align: center">
            <input name="checkedPupil" type="checkbox"
                                                        value="@item.PupilOfClassID " title="checkedPupil" />
        </div>
        </text>
                    ).HeaderTemplate(
@<text>
        <input type="checkbox" title="check all " onclick="checkAllPupilGrid(this)" id="checkedAllPupil" />
        </text>
                                )
                 //.Title(Res.Get("SchoolSubject_Column_Choose"))
            .ClientTemplate("<input type=\"checkbox\"  name=\"checkedPupil\" value=\"<#=PupilOfClassID #>\" />")
             .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
         }
         )
          .Editable(editing => editing.Mode(GridEditMode.PopUp))
          .ClientEvents(events => events.OnDataBinding("onDataBinding").OnDataBound("clearCheckboxAll"))
          .Pageable(o => o.Enabled((bool)ViewData[CandidateConstants.CREATE_GRID_PAGING]))
       .Selectable()
       .Render();                    
    }
</div>

<script type="text/javascript">
    var lstInd = 0;
    function onDataBinding(e) {
        var grid = $('#ListPupilGrid').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    function clearCheckboxAll() {
        $("#checkedAllPupil").removeAttr("checked");// Bo chon checkbox lua chon tat ca hoc sinh
    }
    function checkAllPupilGrid(obj) {
        $("#ListPupilGrid tbody input:checkbox").attr("checked", obj.checked);
    }
</script>
