﻿				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CandidateArea.Models
@using SMAS.Web.Areas.CandidateArea

@{
    ViewBag.Title = Res.Get("Candidate_Label_NameListCodeTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pnTitle">
    @*<p style="text-align: center; font-weight: bold; font-size: large; color: Gray">@Res.Get("Candidate_Label_NameListCodeTitleH")</p>*@
</div>

<div id="SearchNameListCodePanel">
    @Html.Partial("_SearchNameListCode")
</div>

<div id="lstNameListCode">
    @Html.Partial("_ListNameListCode")
</div>
 

<script type="text/javascript">
    function NameListCodeExcelExport() {
        var ExaminationID = $("#frmSearchNameListCode #ExaminationID").val();
        var EducationLevel = $("#frmSearchNameListCode #EducationLevel").val();
        var ExaminationSubjectID = $("#frmSearchNameListCode #ExaminationSubjectID").val();
       
        var dataInput = { ExaminationID: ExaminationID, EducationLevel: EducationLevel
        , ExaminationSubjectID: ExaminationSubjectID
        };
        window.open('@Url.Action("ExportExcelNameListCode", "Candidate")' + '?ExaminationID=' + ExaminationID
        + '&EducationLevel=' + EducationLevel + '&ExaminationSubjectID=' + ExaminationSubjectID);
    }
</script>

@(Html.Telerik().Window()
                .Name("NameListCodeDialog")
                .Title(Res.Get("Candidate_Label_NameListCodeTitle"))
                .Content(@<text>@Html.Partial("_CreateNameListCode")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(480)
                .Height(240)
)
