﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
<style type="text/css">
#frmExportCommon .vt-control, #frmExportSubject .vt-control
{
    width: 45%;
}
</style>
@{
    ViewBag.Title = Res.Get("TranscriptOfClassPeriod_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.Telerik().TabStrip()
        .Name("TabPupilGraduation")
        .Items(tab =>
        {
            tab.Add()
                .Text(Res.Get("TranscriptOfClassPeriod_Label_CommonMarkTable"))
                .Content(@<text> @Html.Partial("_CommonMarkTable") </text>);
            tab.Add()
                 .Text(Res.Get("TranscriptOfClassPeriod_Label_SubjectMarkTable"))
                 .Content(@<text> @Html.Partial("_SubjectMarkTable") </text>);
        })
        .SelectedIndex(0)
        .Render();
}

<script type="text/javascript">

    function fn_LoadClass(ref) {
        var eduId = $("select[id='EducationLevelID'][ref='" + ref + "']").val();
        if (ref == "common") {
            $.ajax({
                url: '@Url.Action("LoadClass", "TranscriptOfClassPeriod")',
                type: 'post',
                data: { educationLevelID: eduId },
                success: function (data) {
                    $("select[id='ClassPeriodID'][ref='" + ref + "']").find('option').remove().end().append($("<option value></option>").html('@Res.Get("Common_Combo_All")'));
                    $.each(data, function (index, value) {
                        $("select[id='ClassPeriodID'][ref='" + ref + "']").append($("<option></option>").attr("value", value.key).text(value.value));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
            }
            else {
                $.ajax({
                    url: '@Url.Action("LoadClass", "TranscriptOfClassPeriod")',
                type: 'post',
                data: { educationLevelID: eduId },
                success: function (data) {
                    $("select[id='ClassProfileID'][ref='" + ref + "']").find('option').remove().end().append($("<option value></option>").html('@Res.Get("Common_Combo_Choose")'));
                    $.each(data, function (index, value) {
                        $("select[id='ClassProfileID'][ref='" + ref + "']").append($("<option></option>").attr("value", value.key).text(value.value));
                    });
                    fn_LoadSubject(ref);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    function fn_LoadSubject(ref) {
        if (ref == "common") {
            var cId = $("select[id='ClassPeriodID'][ref='" + ref + "']").val();
        }
        else {
            var cId = $("select[id='ClassProfileID'][ref='" + ref + "']").val();
        }
        $.ajax({
            url: '@Url.Action("LoadSubject", "TranscriptOfClassPeriod")',
            type: 'post',
            data: { ClassProfileID: cId },
            success: function (data) {
                $("select[id='SubjectCatID'][ref='" + ref + "']").find('option').remove().end().append($("<option value></option>").html('@Res.Get("Common_Combo_All")'));
                $.each(data, function (index, value) {
                    $("select[id='SubjectCatID'][ref='" + ref + "']").append($("<option></option>").attr("value", value.key).text(value.value));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }


    function fn_LoadPeriod(ref) {
        var sId = $("select[id='Semester'][ref='" + ref + "']").val();
        $.ajax({
            url: '@Url.Action("LoadPeriod", "TranscriptOfClassPeriod")',
            type: 'post',
            data: { semester: sId },
            success: function (data) {
                $("select[id='PeriodDeclarationID'][ref='" + ref + "']").find('option').remove();
                $.each(data, function (index, value) {
                    $("select[id='PeriodDeclarationID'][ref='" + ref + "']").append($("<option></option>").attr("value", value.key).text(value.value));
                }); 
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    $(document).ready(function () {
        $("select[id='EducationLevelID']").change(function () {
            var ref = $(this).attr("ref");
            fn_LoadClass(ref);
        });

        $("select[id='ClassProfileID']").change(function () {
            var ref = $(this).attr("ref");
            fn_LoadSubject(ref);
        });

        $("select[id='ClassPeriodID']").change(function () {
            var ref = $(this).attr("ref");
            fn_LoadSubject(ref);
        });

        $("select[id='Semester']").change(function () {
            var ref = $(this).attr("ref");
            fn_LoadPeriod(ref);
        });
    });
</script>
