﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileReportArea.Models;
@{
    GlobalInfo global = new GlobalInfo();
}
<style>
    #bg-container img{
        width: 160px;
        height: 160px;
    }
</style>
@using (Ajax.BeginForm("GetBackground",
                                "DiplomaExporting",
                                new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    OnBegin = "smas.showProcessingDialog",
                                    OnComplete = "smas.hideProcessingDialog",
                                    OnSuccess="getBgSuccess",
                                    OnFailure="getBgFail"
                                },
                                new { id = "frmGetBackground" }))
{
    <table id="bg-container">
        <tr>
            <td>
                <p><img src="/Content/images/phoigiaykhen/bg-1.png" class="system-bg"></p>
                <p>
                    <label class="custom-radio-button mg-l-10">
                        <input type="radio" id="rad-bg-1" name="TemplateType" value="1" checked="checked"/>Mẫu số 1
                        <span class="checkmark"></span>
                    </label>
                </p>
            </td>
            <td>
                <p><img src="/Content/images/phoigiaykhen/bg-2.png" class="system-bg"></p>
                <p>
                    <label class="custom-radio-button mg-l-10">
                        <input type="radio" id="rad-bg-2" name="TemplateType" value="2"/>Mẫu số 2
                        <span class="checkmark"></span>
                    </label>
                </p>
            </td>
            <td>
                <p><img src="/Content/images/phoigiaykhen/bg-3.png" class="system-bg"></p>
                <p>
                    <label class="custom-radio-button mg-l-10">
                        <input type="radio" id="rad-bg-3" name="TemplateType" value="3"/>Mẫu số 3
                        <span class="checkmark"></span>
                    </label>
                </p>
            </td>
        </tr>
    </table>
    
    <div style="vertical-align:middle;padding-top:18px">
        <div class="mg-l-10" style="float: left; width: 25%;vertical-align:middle; padding-top: 5px;">
                <label class="custom-radio-button">
                    <input type="radio" id="rad-upload-bg" name="TemplateType" value="4"/>Tải ảnh lên
                    <span class="checkmark"></span>
                </label>      
        </div>
        <div style="float: left; width: 70%; margin-left:5px; padding-bottom:5px">
            <input type="text" value="[Chọn file]" disabled="disabled" id="txtFilePath" style="width:300px;background-color:White;" />
            <img style="cursor:pointer;padding-bottom:7px" src="../../Content/images/icon-select-file.png" onclick="selectFile()" title="Chọn file">
            <input type="file" id="my_file" name="file"  style="display:none" accept="image/jpeg, image/png">
            
        </div>
    </div>

    
    <div style="text-align:center">
        @Html.ViettelButton("Đặt làm ảnh nền", new Dictionary<string, object>() { { "id", "btImport" }, { "style", "margin-left: 5px;" } }, "button", "uploadBackground()", "btn btn-info btn-round")
    </div>
       
}

<script>
    function getBgSuccess(msg) {
        $("#design-container").find("#content-background").find("img").attr("src", msg.URL);
        $("#design-container").find("#content-background").find("img").show();
        smas.closeDialog('addBg');
    }
    function getBgFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function selectFile() {
        $('input[id="my_file"]').click();
    };

    $('input[id="my_file"]').change(function (ev) {
        $("#txtFilePath").val($(this).val());
    });

    function uploadBackground() {
        var type = $('input[name=TemplateType]:checked', '#frmGetBackground').val();

        var formData = new FormData();
        formData.append('file', $('#my_file')[0].files[0]);
        formData.append('TemplateType', type);
        if (type == 4 && $('#my_file')[0].files[0].size > 5 * 1024 * 1024) {
            smas.alert({ Message: "Dung lượng file không được quá 5 MB", Type: "error" });
        }
        else {
            $.ajax({
                url: '@Url.Action("GetBackground")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    getBgSuccess(data);
                },
                error: function (ajaxContext) {
                    smas.alert(ajaxContext.responseText);
                }
            });
        }
    }
</script>




