﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileReportArea.Models
@using SMAS.Web.Areas.PupilProfileReportArea
@using SMAS.Models.Models
@{
    GlobalInfo global = new GlobalInfo();
    SelectList sl = (SelectList)ViewData[PupilProfileReportConstants.CBO_DILOPMA_TEMPLATE];
}

@using (Ajax.BeginForm("CopyFrom",
                                "DiplomaExporting",
                                new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    OnBegin = "smas.showProcessingDialog",
                                    OnComplete = "smas.hideProcessingDialog",
                                    OnSuccess="copySuccess",
                                    OnFailure="copyFail"
                                },
                                new { id = "frmCopyFrom" }))
{
    
    @Html.ViettelCombobox("Sao chép từ mẫu có sẵn", "CopyFromID", sl, SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>(), false, false)
    <div style="text-align:center">
        @Html.ViettelButton("Sao chép", new Dictionary<string, object>() {  { "style", "margin-left: 5px;" } }, "submit", "", "btn btn-info btn-round")
    </div>
       
}

<script type="text/javascript">

    function copySuccess(msg) {
        var html = htmlUnescape(msg.HTML);
        $("#content-container").html(html);
        smas.closeDialog('copyDialog');
        InitLayout();
    }
    function copyFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>


