﻿@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.PupilProfileReportArea
@using System.Configuration
@{
    //Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    GlobalInfo global = new GlobalInfo();
    SchoolProfile sp = (SchoolProfile)ViewData[PupilProfileReportConstants.SCHOOL_PROFILE];
    SelectList sl = (SelectList)ViewData[PupilProfileReportConstants.CBO_DILOPMA_TEMPLATE];
    string semester;
    if(global.Semester == 1)
    {
        semester = "Học kỳ I";
    }
    else
    {
        semester = "Học kỳ II";
    }
    
}

<style type="text/css">
    .parameterwrapper {
        position: absolute;
        display: inline-block;
    }

    .contenteditor {
        position: relative;
    }

    .parameter {
        padding: 5px 0px 5px 0px;
    }

  
    .parameter:hover + .icon-tool, /* when link is hovered select i */
    .parameter + .icon-tool:hover /* when space after link is hovered select i */ { /* when icon is hovered select i */
        visibility: visible;
    }

    .parameter + .icon-tool { /* in all other case hide it */
        visibility: hidden;
    }

    body {
        margin: 0;
    }

    #content-container {
        width: 842px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid #AABFD4;
        box-sizing:content-box;
    }

    .content-background {
        width: 100%;
        height:100%;
        position: absolute;
    }

    .content-background p {
        margin: 0;
        height:100%;
        display: block;
    }

    .content-background img {
        width: 100%;
        height:100%;
        vertical-align: middle;
        border: 0;
    }

    .breakhere {
        page-break-after: always;
    }

    .vt-SearchPanel .vt-SearchPanel-Content {
        padding: 10px 35px 5px 35px;
    }

    .vt-SearchPanel .vt-SearchPanel-Button {
        padding: 5px;
    }

    .button-left {
        float:left;
    }

    .button-right {
        float:right;
    }

    ul#ListContentType li:hover {
        background: #555;
        cursor: pointer;
    }
    .fa-arrows {
        color:green;
        cursor: move;
    }

    .fa-trash-o {
        color:red;
        cursor: pointer;
    }

    #designDialog .vt-control .editor-label {
    width: 32%;
    float: left;
}
    #content-container #gridline {
        width:100%;
        height:100%;
        border-collapse: collapse;
        position:absolute;
        border: 0.5px dotted rgba(35, 162, 189, 0.23);
    }

    #content-container #gridline  th, #content-container #gridline td {
        border: 0.5px dotted rgba(35, 162, 189, 0.23);
    }

    #OverLayLayout {
        z-index :100000;
    }

    #processingDialogLayoutSMAS {
        z-index :100000;
    }
    #btnDelete {
    display: inline !important;
}
</style>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" style="width:842px;margin:5px auto">
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox("Mẫu giấy khen", "DiplomaTemplateID", sl, SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> {{"onchange","onDesignTemplateIDChange()"} }, false, false)
            @Html.ViettelTextbox("Tên mẫu giấy khen", "TemplateName", null, new Dictionary<string, object>() { { "maxlength", 100 } }, true, false)
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Thay ảnh nền"), "button", "openAddBgDialog();", "btn btn-round btn-info")
            @Html.ViettelButton(Res.Get("Thêm nội dung"), "button", "addNewContent()", "btn btn-round btn-info")
            <ul class="ResetList ChildMenuSectionList" style="position:absolute; left:100px; top:90px;background-color:white;border:solid 1px;padding:5px;display:none;z-index:1000" id="ListContentType">
                <li style="padding:3px" onclick="addContent('Văn bản','Văn bản')">Văn bản</li>
                <li style="padding:3px" onclick="addImage('Hình ảnh')">Hình ảnh</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_NAME','Tên học sinh')">Tên học sinh</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_CLASS_NAME','Tên lớp')">Tên lớp</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_CONTENT','Nội dung khen thưởng')">Nội dung khen thưởng</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_SCHOOL_NAME', 'Tên trường')">Tên trường</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_HEAD_NAME', 'Tên hiệu trưởng')">Tên hiệu trưởng</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_SEMESTER', 'Học kỳ')">Học kỳ</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_ACADEMIC_YEAR', 'Năm học')">Năm học</li>
            </ul>
            @Html.ViettelButton(Res.Get("Sao chép"), new Dictionary<string, object> { {"title","Sao chép từ mẫu có sẵn"}}, "button", "openCopyDialog();", "btn btn-round btn-info")
            @Html.ViettelButton(Res.Get("Quay lại"), "button", "clearTinyMceInstances();smas.closeDialog('designDialog');", "btn btn-round btn-info")
            @Html.ViettelButton(Res.Get("Xóa"), "button", "DeleteTemplate()", "btn btn-basic btn-round btn-icon btn-icon-times  ", "btnDelete")
            @Html.ViettelButton(Res.Get("Lưu"), "button", "SaveTemplate()", "btn btn-round btn-info btn-icon btn-icon-save", "btnSave")
        </div>
</div>
<div id="content-container">
    <div class="contenteditor" id="design-container" style="width: 100%; height: 595px; display: block">
        <div class="content-background" id="content-background">
	        <p><img style="display:none"></p>
        </div>
    </div>
</div>
<input id="my-file" type="file" name="my-file" style="display: none;" onchange="" accept="image/jpeg, image/png"/>
<script>

    $(document).ready(function () {
        onDesignTemplateIDChange();
        $('body').unbind("ajaxSend");
    });

    function openCopyDialog() {
        smas.openDialog('copyDialog', '@Url.Action("CopyDialog")', {});
    }

    function openAddBgDialog() {
        smas.openDialog('addBg', '@Url.Action("AddBgDialog")', {});
    }
    
    $(document).mouseup(function (e) {
        var container = $("#ListContentType");

        if (!container.is(e.target)
            && container.has(e.target).length === 0) {
            container.hide();
        }

        container = $(".parameter");
        if (!container.is(e.target)
            && container.has(e.target).length === 0) {
            //tinymce.activeEditor.selection.collapse();
        }
    });

    function addNewContent() {
        $("#ListContentType").show();
    }

    function addContent(content, type) {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="'+type+'" style="left: 30px; top: 30px;">' +
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>' +
            '<div class="parameter mceNonEditable" style="position: relative;"><p><span style="font-size: 14pt" data-mce-style="font-size: 14pt"><strong>' + content + '</strong></span></p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();

        
    }

    function addImage() {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="Hình ảnh" style="left: 30px; top: 30px;">'+
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left;color:green"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> </span></div>' +
            '<div class="imageParameter mceNonEditable" style="position: relative;" ><p>'+
            '<img src="/PupilProfileReportArea/DiplomaExporting/ShowImage" style="width:99px; height:66px"' +
            '</p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function SaveTemplate() {
        var templateName = $("#TemplateName").val();
        var html = htmlEscape($("#content-container").html());
        console.log(html);
        var templateId = $("#designDialog #DiplomaTemplateID").val();
        var token = $('#frmSearch').find('[name="__RequestVerificationToken"]').val();
        var data = { templateId: templateId, templateName: templateName, html: html, __RequestVerificationToken: token };

        //smas.post('Url.Action("SaveTemplate")', data, null, null);
        $.ajax({
            url: '@Url.Action("SaveTemplate")',
            type: 'post',
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                smas.alert(data);
                clearTinyMceInstances();
                smas.closeDialog("designDialog");
                ReloadTemplateCombo();
            },
            error: function (XMLHttpRequest, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });

    };

    function DeleteTemplate() {
        var templateName = $("#designDialog #TemplateName").val();
        smas.confirm('Sẽ không thể khôi phục mẫu giấy khen sau khi xóa. Thầy/cô chắc chắn muốn xóa mẫu giấy khen ' + templateName + ' không?', function () {
            var templateId = $("#designDialog #DiplomaTemplateID").val();
            var token = $('#frmSearch').find('[name="__RequestVerificationToken"]').val();
            var data = { templateId: templateId, __RequestVerificationToken: token };

            //smas.post('Url.Action("SaveTemplate")', data, null, null);
            $.ajax({
                url: '@Url.Action("DeleteTemplate")',
                type: 'post',
                data: data,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    smas.alert(data);
                    clearTinyMceInstances();
                    smas.closeDialog("designDialog");
                    $(".t-overlay").hide();
                    ReloadTemplateCombo();
                },
                error: function (XMLHttpRequest, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        });
        

    };

    function onDesignTemplateIDChange() {
        var templateId = $("#designDialog #DiplomaTemplateID").val();

        if (templateId == 0) {
            var htmlDef =  '<div class="content-background" id="content-background">' +
	        '<p><img style="display:none"></p>' +
            '</div>' + buildGridLine();

            $("#design-container").html(htmlDef);
            $("#designDialog #TemplateName").val('');
            $("#designDialog #btnDelete").hide();
            $("#designDialog #btnSave").show();
            InitLayout();
        }
        else {
            $.ajax({
                url: '@Url.Action("LoadTemplate")',
                type: 'post',
                data: { id: templateId },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    var html = htmlUnescape(data.HTML);
                    $("#content-container").html(html);
                    $("#designDialog #TemplateName").val(data.Name);
                    if (data.IsSystem == true) {
                        $("#designDialog #btnDelete").hide();
                        $("#designDialog #btnSave").hide();
                    }
                    else {
                        $("#designDialog #btnDelete").show();
                        $("#designDialog #btnSave").show();
                    }

                    InitLayout();

                },
                error: function (XMLHttpRequest, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    };
    
    function deleteItem(sp) {
        $wrapper = $(sp).closest(".parameterwrapper");
        smas.confirm('Thầy/cô có chắc chắn muốn xóa ' + $wrapper.attr('contenttype') + ' không?', function () {
            $wrapper.remove();
        });
    };

    function buildGridLine() {
        var html = '<table id="gridline" class="gridlinetable">';
        for (var i = 0; i < 15; i++) {
            html = html + '<tr>';
            for (var j = 0; j < 20; j++) {
                html = html + '<td></td>';

            }
            html = html + '</tr>';
        }
        html = html + '</table>';

        return html;
    }
</script>
