﻿@model Dictionary<string, object>
@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = @Res.Get("Tinymce demo");
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";

    string htmlContent = (string)Model["HtmlContent"];
    bool withBg = (bool)Model["WithBackground"];
}
<style type="text/css">
    .parameterwrapper {
        position: absolute;
        display: inline-block;
    }

    .contenteditor {
        position: relative;
    }

    .parameter {
        padding: 5px 0px 5px 0px;
        font-family: times new roman, times;
        font-size: 18pt;
    }

    .icon-move {
        cursor: move;
    }

    .parameter:hover + .icon-move, /* when link is hovered select i */
    .parameter + .icon-move:hover /* when space after link is hovered select i */ { /* when icon is hovered select i */
        visibility: visible;
    }

    .parameter + .icon-move { /* in all other case hide it */
        visibility: hidden;
    }

    body {
        margin: 0;
    }

    #content-container {
        width: 842px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .content-background {
        width: 100%;
        height:100%;
        position: absolute;
    }

    .content-background p {
        margin: 0;
        height:100%;
        display: block;
    }

    .content-background img {
        width: 100%;
        height:100%;
        vertical-align: middle;
        border: 0;
    }

    .breakhere {
        page-break-after: always;
    }

    body, div, h1, h2, h3, h4, h5, h6, p, form, dl, dl dt, dl dd, pre {
    margin: 0;
    padding: 0;
    text-align: left;
    }
</style>
<div id="content-container">
    @Html.Raw(htmlContent)
</div>
<script type="text/javascript">
    @if (!withBg)
        {
            <text>
                [].forEach.call(document.querySelectorAll('.content-background'), function (el) {
                    el.style.visibility = 'hidden';
                });
            </text>
        }

    $(".gridlinetable").remove();
   
</script>
