﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileReportArea
@using SMAS.Web.Areas.PupilProfileReportArea.Models
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<input type="hidden" id="ListIDChecked" name="ListIDChecked"  value="" style="width:400px;"/>
<div id="listResult">
    @*@Html.Partial("_List", new List<ListViewModel>())*@
</div>

@(Html.Telerik().Window()
                .Name("designDialog")
                .Title(Res.Get("Mẫu giấy khen"))
                .Content(@<text><div id="divDesignDialog"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(900)
                .Height(650)
                .ContentHtmlAttributes(new { style="min-width: 900px;"})
)

@(Html.Telerik().Window()
                .Name("addBg")
                .Title(Res.Get("Thay ảnh nền"))
                .Content(@<text>@string.Empty</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(200)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("copyDialog")
                .Title(Res.Get("Sao chép"))
                .Content(@<text>@string.Empty</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(400)
                .Height(80)
                .ContentHtmlAttributes(new { style="min-width: 400px;"})
)

<script type="text/javascript">
     $(".editor-field").has("select").addClass("custom-select");

    $(document).ready(function () {
        $('body').unbind("ajaxSend");
    });

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };


    var arrIDChecked;

    var csLstInd = 0;
    

    function CsGrid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridExport').data('tGrid')
        csLstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function InitLayout() {
        clearTinyMceInstances();
        //tinymce.EditorManager.editors = [];

        tinymce.init({
            selector: '.parameter',
            language: 'vi_VN',
            inline: true,
            plugins: "imagetools image textcolor",
            toolbar: ['fontselect fontsizeselect | bold italic underline | forecolor backcolor | uppercase lowercase normalcase | alignleft aligncenter alignright alignjustify'
            ],
            font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier,monospace;Georgia=georgia,palatino;Impact=impact,chicago;Lucida Console=Monaco,monospace;Tahoma=tahoma,arial,helvetica,sans-serif;Times New Roman=times;Trebuchet MS=geneva;Verdana=verdana,geneva',
            fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt',
            menubar: false,
            content_style: ".parameter {font-family: times new roman, times; font-size: 18pt;}",
            setup: function (ed) {
               
                ed.on("click", function () {
                    if ($(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Tên học sinh'
                        || $(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Tên lớp'
                        || $(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Nội dung khen thưởng'
                        || $(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Tên trường'
                        || $(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Tên hiệu trưởng'
                        || $(this.bodyElement).closest(".parameterwrapper").attr("contenttype") == 'Học kỳ') {
                        tinyMCE.activeEditor.selection.select(tinyMCE.activeEditor.dom.select('p')[0]);
                    }
                });

                function uppercase() {
                    $(ed.bodyElement).find('span').css("text-transform", "uppercase");
                }

                function lowercase() {
                    $(ed.bodyElement).find('span').css("text-transform", "lowercase");
                }

                function normalcase() {
                    $(ed.bodyElement).find('span').css("text-transform", "none");
                }

                ed.addButton('uppercase', {
                    image: 'http://p.yusukekamiyamane.com/icons/search/fugue/icons/edit-uppercase.png',
                    tooltip: "In hoa",
                    onclick: uppercase
                });

                ed.addButton('lowercase', {
                    image: 'http://p.yusukekamiyamane.com/icons/search/fugue/icons/edit-lowercase.png',
                    tooltip: "In thường",
                    onclick: lowercase
                });

                ed.addButton('normalcase', {
                    image: 'http://p.yusukekamiyamane.com/icons/search/fugue/icons/edit-small-caps.png',
                    tooltip: "Mặc định",
                    onclick: normalcase
                });
            }
        });

        tinymce.init({
            selector: '.imageParameter',
            language: 'vi_VN',
            inline: true,
            plugins: "imagetools image",
            toolbar: false,
            menubar: false,
            file_picker_types: 'image',
            paste_data_images: true,
            file_picker_callback: function (callback, value, meta) {

                if (meta.filetype == 'image') {
                    var input = document.getElementById('my-file');
                    input.value = "";
                    input.click();
                    input.onchange = function () {
                        var file = input.files[0];
                        var formData = new FormData();
                        formData.append('file', file);
                        if (file.size > 1024 * 1024) {
                            smas.alert({ Message: "Dung lượng file không được quá 1 MB", Type: "error" });
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action("UploadImage")',
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                beforeSend: function () {
                                    smas.showProcessingDialog();
                                },
                                complete: function () {
                                    smas.hideProcessingDialog();
                                },
                                success: function (data) {
                                    callback(data.URL, {
                                        alt: file.name
                                    });
                                },
                                error: function (XMLHttpRequest, errorThrown) {
                                    smas.alert(XMLHttpRequest.responseText);
                                }
                            });
                        }
                    };
                }
            },
            setup: function (ed) {
            }
        });

        $('.draggable').each(function () {
            $(this).draggable({
                handle: ".icon-move",
                cancel: "parameter",
                containment: $(this).closest(".contenteditor")
            });
        });

        $(".parameterwrapper")
            .mouseover(function () {
                $(this).find(".icon-tool").css("visibility", "visible");
            })
            .mouseout(function () {
                $(this).find(".icon-tool").css("visibility", "hidden");
            });
    };

    function clearTinyMceInstances() {
        for (var i = tinymce.editors.length - 1 ; i > -1 ; i--) {
            var ed_id = tinymce.editors[i].id;
            tinyMCE.execCommand("mceRemoveEditor", true, ed_id);
        }
    }
    function searchClick() {
        $("#ListIDChecked").val("");
        arrIDChecked = null;
    }
    function CsGrid_onDataBound(e) {
        smas.hideProcessingDialog();
        CsPrepareCheckBoxState();

        var countCheckBox = 0;
        $(".csCheckedIds").each(function () {
            countCheckBox++;
        });
        //Check lai gia tri duoc check
        if (arrIDChecked != null && arrIDChecked.length > 0) {
            var id = '';
            var countcheckedChangepage = 0;
            $(".csCheckedIds").each(function () {
                var valueChecked = $(this).val();
                if (valueChecked > 0) {
                    var filter = arrIDChecked.indexOf('"' + valueChecked + '"');
                    if (filter >= 0) {
                        // ID trung nhau
                        countcheckedChangepage++;
                        $(this).attr("checked", "checked");
                    }
                }
            });
        }
        if (countcheckedChangepage == countCheckBox) {
            $("#csCheckAll").attr("checked", "checked");
        } else {
            $("#csCheckAll").removeAttr("checked");
        }

    }

    function CsPrepareCheckBoxState() {
        $('#csCheckAll').click(function () {
            $(this).parents('#GridExport').find(':checkbox').attr('checked', this.checked);
            GetIDByChange();
        });

        $("#GridExport").find('.csCheckedIds').change(function () {

            if ($("#GridExport").find(".csCheckedIds:not(:checked)").length == 0) {
                $('#GridExport #csCheckAll').attr('checked', true);
            }
            else {
                $('#GridExport #csCheckAll').attr('checked', false);
            }
            GetIDByChange()

        });
    }

    function GetIDByChange() {
        //du lieu
        var arrayIDSource = $("#ListIDChecked").val();// Danh sach ID duoc check
        $(".csCheckedIds").each(function () {
            var ischecked = $(this).is(":checked");
            var valueChecked = $(this).val();
            if (ischecked) {
                var filter = arrayIDSource.indexOf(valueChecked);
                if (filter < 0) {
                    //chua ton tai
                    if (valueChecked > 0) {
                        arrayIDSource = arrayIDSource + '"' + valueChecked + '"' + ',';
                    }
                }
            } else {
                var filter = arrayIDSource.indexOf(valueChecked);
                if (filter >= 0) {
                    // remove value duoc check ra khoi array
                    arrayIDSource = arrayIDSource.replace(valueChecked, "");
                }
            }
        });
        arrayIDSource = arrayIDSource.replaceAll('"",', '');
        $("#ListIDChecked").val(arrayIDSource);
        arrIDChecked = arrayIDSource.split(',');
    }

    function CsFillCheckBox(id) {
        html = "<input type='checkbox' onchange='GetIDByChange()' class='csCheckedIds' value='" + id + "' />";
        return html;
    }

    function CsPrepareCheckBoxState() {
        $('#csCheckAll').click(function () {
            $(this).parents('#GridExport').find(':checkbox').attr('checked', this.checked);
            GetIDByChange();
        });

        $("#GridExport").find('.csCheckedIds').change(function () {

            if ($("#GridExport").find(".csCheckedIds:not(:checked)").length == 0) {
                $('#GridExport #csCheckAll').attr('checked', true);
            }
            else {
                $('#GridExport #csCheckAll').attr('checked', false);
            }
            GetIDByChange()

        });
    };

    function onImageError(img, altUrl) {
        img.onerror = null;
        img.src = altUrl;
    };

    function htmlEscape(str) {
        return str
            .replace(/&/g, '&amp;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replaceAll('courier new', 'couriernew');
    };

    function htmlUnescape(str) {
        return str
            .replace(/&quot;/g, '"')
            .replace(/&#39;/g, "'")
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>')
            .replace(/&amp;/g, '&')
            .replaceAll('couriernew', 'courier new');
    };

    function getData($tr) {
        var pupilName = $tr.find('td:eq(2)').text();
        var className = $tr.find('td:eq(4)').text();
        var content = $tr.find('td:eq(6)').text();

        var data = {
            'PupilName': pupilName,
            'ClassName': className,
            'Content': content,
            'TypeID': 0,
            'EducationLevel': 0
        };

        return data;
    };

    function ExportPDF() {
        var arrData = new Array();
        $("#GridExport").find(".csCheckedIds:checked").each(function () {
            var $tr = $(this).closest('tr');

            arrData.push(getData($tr));

        });

        var templateId = $("#frmSearch #DiplomaTemplateID").val();
        var exportAll = false;
        var withBackground = 'False';
        if ($("#listResult #CheckAll").is(":checked")) {
            
            exportAll = true;
        }

        if ($("#listResult #WithBackground").is(":checked")) {
            
            withBackground = true;

        }

        var EducationLevelID = $("#frmSearch #EducationLevelID").val();
        var ClassID = $("#frmSearch #ClassID").val();
        var Semester = $("#frmSearch #Semester").val();
        var Type = $("#frmSearch #Type").val();
        var Appellation = $("#frmSearch #Appellation").val();

        

        $.ajax({
            url: '@Url.Action("SaveExport")',
            type: 'post',
            data: JSON.stringify({ 'lstModel': arrData, 'DiplomaTemplateID':templateId, 'exportAll': exportAll, 'EducationLevelID': EducationLevelID, 'ClassID': ClassID, 'Semester': Semester, 'Type': Type, 'Appellation': Appellation }),
            contentType: 'application/json',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {

                window.location.href = '@Url.Action("ExportPDF")' + '?templateId=' + templateId + '&exportAll=' + exportAll +
                    '&withBackground=' + withBackground + '&EducationLevelID=' + EducationLevelID + '&ClassID=' + ClassID +
                    '&Semester=' + Semester + '&Type=' + Type + '&Appellation=' + Appellation;
            },
            error: function (XMLHttpRequest, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    };

    function ReloadTemplateCombo() {
        var $ele = $("#frmSearch").find("#DiplomaTemplateID");

        controlUtils.loadComboBox(
                     $ele,
                    '@Url.Action("AjaxLoadDiplomaTemplateID", "DiplomaExporting")',
                                null,
                                null, function () { $ele.prop('selectedIndex', 0); }
        );
    };

    
</script>
