﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SummanyMarkArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Business.Business
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SummanyMarkArea.Models
@{
    GlobalInfo glo = new GlobalInfo();
    int level = glo.AppliedLevel.HasValue ? glo.AppliedLevel.Value : 0;    
}
<div style="text-align: right; margin-top: 5px; color: red">
    @if(level == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_PRIMARY) {
        @Html.Raw(Res.Get("SummanyMark_Label_ClassifyPrimaryDescription"))
    } else {
        @Html.Raw(Res.Get("SummanyMark_Label_ClassifyDescription"))
    }
    </div>
<div class="vt-ResultPanel">
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<CategoryOfPupilViewModel>)ViewData[SummanyMarkConstants.LS_CATEGORYOFPUPIL])
            .Name("GridCategoryOfPupil")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

                c.Template(@<text>@Utils.AutoInsertSpace(item.PupilCode, 22)</text>).Title(Res.Get("PupilProfile_Label_PupilCode")).Width(150);
                c.Template(@<text>@Utils.AutoInsertSpace(item.FullName, 25)</text>).Title(Res.Get("PupilProfile_Label_FullName")).Width(170);
                c.Bound(o => o.ClassName).Width(80);
                c.Bound(o => o.CapacityLevel).Title(@level == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_PRIMARY ? Res.Get("PupilRanking_Lable_CapacityPrimary") : Res.Get("CapacityLevel_CapacityLevel")).Sortable(true);
                c.Bound(o => o.ConductLevelName);
                c.Bound(o => o.StudyingJudgementName);
                //c.Bound(o => o.StatusName);
            })
            .DataKeys(keys => keys.Add(o => o.PupilID))
            .Scrollable(s => s.Enabled(true).Height("auto"))
            .Selectable()
            .Render();
    }
</div>
