﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.FlowSituationArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = Res.Get("FlowSituation_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="FlowSituationForm">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1" >
    <div class="vt-SearchPanel-Content" style="padding:0px!important;padding-top:20px!important;">
        <div style="margin-left: 210px;">
            @(Html.ViettelCombobox(Res.Get("FlowSituation_Label_Semester"), "Semester",
                                        new SelectList((IEnumerable<ComboObject>)ViewData[FlowSituationConstants.LIST_SEMESTER],
                                        "key", "value", ViewData[FlowSituationConstants.DF_SEMESTER]),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 150px" },
                                   
                                }, false, false))
            <br />
            <br />
            </div>
            <div style="margin-left: 400px;">
                @Html.ViettelRadioButton("rdoReportType", 1, true, new Dictionary<string, object> { 
              
                { "id", "rdoClassMovement" } , {"onclick", "DisabledSemester();"}
            })
                @Res.Get("FlowSituation_Label_ClassMovement")
            </div>
            <div style="margin-left: 400px;">
                @Html.ViettelRadioButton("rdoReportType", 2, false, new Dictionary<string, object>{
             {"id", "rdoSchoolMovement"}, {"onclick", "DisabledSemester();"}
             })
                @Res.Get("FlowSituation_Label_SchoolMovement")
            </div>
            <div style="margin-left: 400px;">
                @Html.ViettelRadioButton("rdoReportType", 3, false, new Dictionary<string, object>{
              {"id", "rdoMovementAcceptance"}, {"onclick", "DisabledSemester();"}
              })
                @Res.Get("FlowSituation_Label_MovementAcceptance")
            </div>
            <div style="margin-left: 400px;">
                @Html.ViettelRadioButton("rdoReportType", 4, false, new Dictionary<string, object>{
            {"id", "rdoPupilLeavingOff"}, {"onclick", "DisabledSemester();"}
                 })
                @Res.Get("FlowSituation_Label_PupilLeavingOff")
            </div>
            <div style="margin-left: 400px;">
                @Html.ViettelRadioButton("rdoReportType", 5, false, new Dictionary<string, object>{
           {"id", "rdoPolicyTarget"}, {"onclick", "DisabledSemester();"}
       })
                @Res.Get("FlowSituation_Label_PolicyTarget")
            </div>
            <br />
            <br />
    </div>
    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "")
    </div>
</div>
</form>
<script type="text/javascript">

    $('#FlowSituationForm').submit(function (event) {
        event.preventDefault();
        var reportType = $('input:radio[name = rdoReportType]:checked').val();
        console.log(reportType);
        if (reportType == 1) {
            smas.getReport('FlowSituationForm', '@Url.Action("GetClassMovement", "FlowSituation")',
            '@Url.Action("GetNewClassMovement", "FlowSituation")', '@Url.Action("DownloadReport", "FlowSituation")');
        }
        else if (reportType == 2) {
            smas.getReport('FlowSituationForm', '@Url.Action("GetSchoolMovement", "FlowSituation")',
            '@Url.Action("GetNewSchoolMovement", "FlowSituation")', '@Url.Action("DownloadReport", "FlowSituation")');
        }
        else if (reportType == 3) {
            smas.getReport('FlowSituationForm', '@Url.Action("GetMovementAcceptance", "FlowSituation")',
            '@Url.Action("GetNewMovementAcceptance", "FlowSituation")', '@Url.Action("DownloadReport", "FlowSituation")');
        }
        else if (reportType == 4) {
            smas.getReport('FlowSituationForm', '@Url.Action("GetPupilLeavingOff", "FlowSituation")',
            '@Url.Action("GetNewPupilLeavingOff", "FlowSituation")', '@Url.Action("DownloadReport", "FlowSituation")');
        }
        else if (reportType == 5) {
            smas.getReport('FlowSituationForm', '@Url.Action("GetPolicyTarget", "FlowSituation")',
            '@Url.Action("GetNewPolicyTarget", "FlowSituation")', '@Url.Action("DownloadReport", "FlowSituation")');
        }
    });

    function DisabledSemester() {
        var seclected = $('input[name=rdoReportType]:checked').val();
        if (parseInt(seclected) == 5) {
            $("#Semester").attr("disabled", "disabled");
        }
        else {
            $("#Semester").removeAttr("disabled");
        }
    }
</script>
