﻿@using SMAS.Web.Constants
@using SMAS.Web.Utils
@using SMAS.Business.BusinessObject
@using SMAS.Models.Models
@using Com.Viettel.Framework.HtmlHelpers
@{
    List<WorkFlow> lstChildWorkFlow = ViewData[GlobalConstants.CHILD_WORK_FLOW] as List<WorkFlow>;
    int workFlowUserCount = (int)ViewData[GlobalConstants.WORK_FLOW_USER_COUNT];
    WorkFlowUserBO objWorkFlowUser = ViewData[GlobalConstants.WORK_FLOW_USER] as WorkFlowUserBO;

    int? defaultInfo = objWorkFlowUser != null ? (int?)objWorkFlowUser.DefaultTab : null;
    int? order = objWorkFlowUser != null ? (int?)objWorkFlowUser.OrderID : null;

    List<ComboObject> lstOrder = new List<ComboObject>();
    
    for (int i = 1; i <= workFlowUserCount + (objWorkFlowUser !=null ? 0 : 1);i++ )
    {
        lstOrder.Add(new ComboObject(i.ToString(), i.ToString()));
    }

    SelectList slInfo = new SelectList(lstChildWorkFlow, "WorkFlowID", "WorkFlowName", defaultInfo);
    SelectList slOrder = new SelectList(lstOrder, "key", "value", order);
}
<div class="p-l-15 p-r-15" id="configWraper">

    <div class="mg-t-5 mg-b-5"><b>Theo dõi các thông báo từ nhà trường, thông báo từ hệ thống</b></div>
    <div id="leftContent">
        
         @using (Ajax.BeginForm("SaveWorkBoxConfig",
                       "Home",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveConfigSuccess",
                           OnFailure = "SaveConfigFail"
                       },
                       new { id = "frmSaveWorkBox" }
                       ))
         {
        <div id="CreateExamGroup" class="vt-EditorPanel vt-EditorPanel-1">
            <div class="vt-EditorPanel-Control">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6">
                        @Html.ViettelHidden("WorkFlowID", GlobalConstants.WORK_FLOW_NEWS_MESSAGE)
                        @Html.ViettelCombobox("Thông tin mặc định", "DefaultInfo", slInfo,
                        GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { }, false, false)
                    </div>
                    <div class="col-sm-6">
                        @Html.ViettelCombobox("Vị trí của khung", "OrderID", slOrder,
                        GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { }, false, false)
                    </div>
                </div>
                @Html.ViettelCheckBox("AutoDisplay", "true", new Dictionary<string, object> { },
                "Tự động hiển thị thông báo mới sau khi đăng nhập", objWorkFlowUser != null && objWorkFlowUser.IsAutoAlert,false,true)
            </div>
            <div class="vt-EditorPanel-Button text-center">
                @if(objWorkFlowUser!=null)
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit","onSaveClick()","btn btn-info btn-round btn-icon btn-icon-save mg-r-5")
                    
                    @Html.ViettelButton(Res.Get("Common_Button_Delete"), "submit", "onDeleteClick()", "btn btn-basic btn-round btn-icon btn-icon-times")
                }
                else
                {
                    @Html.ViettelButton("Thêm", "submit","onSaveClick()","btn btn-info btn-round btn-icon btn-icon-plus")
                }
            </div>
        </div>
         }
    </div>
    <div id="rightContent">
        <img alt="icon" src="../Content/images/BanTinThongBao.png" style="max-width:100%; max-height:100%"/>
        
    </div>
</div>
<script>
    function SaveConfigSuccess(msg) {
        smas.alert(msg);
        var $default = $(".SideBarListMenu li a.Active");
        var firstUrl = $default.attr("href");
        ajaxPostUpdateDiv(firstUrl, null, "ContentForm", function () { })
    }
    function SaveConfigFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function onSaveClick() {
        $("#frmSaveWorkBox").attr("action", '@Url.Action("SaveWorkBoxConfig")');
    }
    function onDeleteClick() {
        $("#frmSaveWorkBox").attr("action", '@Url.Action("DeleteWorkBoxConfig")');
    }
</script>