﻿@using SMAS.Web.Constants;
@using SMAS.Web.Utils;
@using SMAS.Business.BusinessObject;
<style type ="text/css">
    #lstCalendarWeek .BoxGeneralTTitle, .BoxGeneralTTitle table, .BoxGeneralTBody, .BoxGeneralTBody table {
        width:100% !important;
    }
</style>

<div id="cClassBox40Section" class="BoxGeneralTable">
<div class="BoxGeneralTTitle BoxGeneral2TTitle">
    <table border="0" cellspacing="0" cellpadding="0">
        <colgroup>
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
        </colgroup>
        <thead>
            <tr>
                <th class="ColsTh1">
                    @Res.Get("Home_Label_Section")
                </th>
                <th class="ColsTh2">
                    @Res.Get("Home_Label_SubjectOrder")
                </th>
                <th class="ColsTh3">
                    @Res.Get("Home_Label_Monday")
                </th>
                <th class="ColsTh4">
                    @Res.Get("Home_Label_Thursday")
                </th>
                <th class="ColsTh5">
                    @Res.Get("Home_Label_Webnesday")
                </th>
                <th class="ColsTh6">
                    @Res.Get("Home_Label_Tuesday")
                </th>
                <th class="ColsTh7">
                    @Res.Get("Home_Label_Friday")
                </th>
                <th class="ColsTh8 ColsEnd">
                    @Res.Get("Home_Label_Saturday")
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="BoxGeneralTBody BoxGeneral2TBody">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <colgroup>
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 60px;" />
        </colgroup>
        <tbody>
            @{
                DateTime day = DateTime.Now;
                int thu = 3;
                if (day.DayOfWeek != DayOfWeek.Sunday)
                {
                    thu = (int)day.DayOfWeek + 2;
                }

                var dayI = (((int)day.DayOfWeek) + 2).ToString();
                List<CalendarBO> lstCalendar = (List<CalendarBO>)ViewData[GlobalConstants.LIST_CALENDAR];
                List<CalendarBO> lstCalendarTemp = new List<CalendarBO>();
                for (int i = lstCalendar.Count - 1; i >= 0; i--)
                {
                    if (lstCalendar[i].Section == GlobalConstants.CALENDAR_SECTION_MORNING)
                    {
                        lstCalendarTemp.Add(lstCalendar[i]);
                    }
                }
                List<CalendarBO> lstCalendarTempOrder = new List<CalendarBO>();

                CalendarBO objCalendar = null;
                //buoi sang
                //if (lstCalendarTemp.Count > 0)
                //{
                    //xet tiet 1 dau tien - de tranh be giao dien
                    for (int i = lstCalendarTemp.Count - 1; i >= 0; i--)
                    {
                        if (lstCalendarTemp[i].SubjectOrder == 1)
                        {
                            lstCalendarTempOrder.Add(lstCalendarTemp[i]);
                        }
                    }                                   
                    <tr>
                    <td rowspan="5" class="ColsTd1">
                        @Res.Get("Home_Label_Morning")
                    </td>
                    <td class="ColsTd2">
                        1
                    </td>
                    @if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                    {
                        //Thu 2
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color"  >
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 3
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 4
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 5
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 6
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 7
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                        }
                    }
                    else
                    {                                       
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                    }
                </tr>
                         
                    //xet tiep tiet 2,3,4,5       
                    for (int i = 2; i <= 5; i++)
                    {                                        
                        <tr>
                    <td class="ColsTd2">@i
                    </td>
                    @{
                        lstCalendarTempOrder = new List<CalendarBO>();
                        for (int itemp = lstCalendarTemp.Count - 1; itemp >= 0; itemp--)
                        {
                            if (lstCalendarTemp[itemp].SubjectOrder == i)
                            {
                                lstCalendarTempOrder.Add(lstCalendarTemp[itemp]);
                            }
                        }
                        if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                        {
                            //Thu 2
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 3
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 4
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 5
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 6
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 7
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                            }
                        }
                        else
                        {                                            
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                        }
                    }
                </tr>                                      
                    }
                @*}*@

                //Buoi chieu
                lstCalendarTemp = new List<CalendarBO>();
                for (int i = lstCalendar.Count - 1; i >= 0; i--)
                {
                    if (lstCalendar[i].Section == GlobalConstants.CALENDAR_SECTION_AFTERNOON)
                    {
                        lstCalendarTemp.Add(lstCalendar[i]);
                    }
                }

                //if (lstCalendarTemp != null && lstCalendarTemp.Count > 0)
                //{
                    //xet tiet 1 dau tien
                    lstCalendarTempOrder = new List<CalendarBO>();
                    for (int i = lstCalendarTemp.Count - 1; i >= 0; i--)
                    {
                        if (lstCalendarTemp[i].SubjectOrder == 1)
                        {
                            lstCalendarTempOrder.Add(lstCalendarTemp[i]);
                        }
                    }                                  
                <tr>
                    <td rowspan="5" class="ColsTd1">
                        @Res.Get("Home_Label_Afternoon")
                    </td>
                    <td class="ColsTd2">
                        1
                    </td>
                    @if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                    {
                        //Thu 2
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 3
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 4
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 5
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 6
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 7
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                        }
                    }
                    else
                    {                                        
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                    }
                </tr>
                    //xet tiep tiet 2, 3, 4, 5          
                    for (int i = 2; i <= 5; i++)
                    {                                        
                <tr>
                    <td class="ColsTd2">@i
                    </td>
                    @{                                        
                        lstCalendarTempOrder = new List<CalendarBO>();
                        for (int itemp = lstCalendarTemp.Count - 1; itemp >= 0; itemp--)
                        {
                            if (lstCalendarTemp[itemp].SubjectOrder == i)
                            {
                                lstCalendarTempOrder.Add(lstCalendarTemp[itemp]);
                            }
                        }
                        if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                        {
                            //Thu 2
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 3
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 4
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 5
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 6
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 7
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                            }
                        }
                        else
                        {                                            
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                        }
                    }
                </tr>                                         
                    }
                //}

                //Buoi toi
                lstCalendarTemp = new List<CalendarBO>();
                for (int i = lstCalendar.Count - 1; i >= 0; i--)
                {
                    if (lstCalendar[i].Section == GlobalConstants.CALENDAR_SECTION_EVENING)
                    {
                        lstCalendarTemp.Add(lstCalendar[i]);
                    }
                }
                //if (lstCalendarTemp.Count > 0)
                //{
                    //xet tiet 1 dau tien
                    lstCalendarTempOrder = new List<CalendarBO>();
                    for (int i = lstCalendarTemp.Count - 1; i >= 0; i--)
                    {
                        if (lstCalendarTemp[i].SubjectOrder == 1)
                        {
                            lstCalendarTempOrder.Add(lstCalendarTemp[i]);
                        }
                    }                                    
                <tr>
                    <td rowspan="5" class="ColsTd1">
                        @Res.Get("Home_Label_Evening")
                    </td>
                    <td class="ColsTd2">
                        1
                    </td>
                    @if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                    {
                        //Thu 2
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 3
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 4
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 5
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 6
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                        }
                        //Thu 7
                        objCalendar = null;
                        for (int i = lstCalendarTempOrder.Count - 1; i >= 0; i--)
                        {
                            if (lstCalendarTempOrder[i].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                            {
                                objCalendar = lstCalendarTempOrder[i];
                            }
                        }

                        if (objCalendar != null)
                        {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                        }
                        else
                        {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                        }
                    }
                    else
                    {                                        
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                    }
                </tr>
                    //xet tiep tiet 2, 3, 4, 5           
                    for (int i = 2; i <= 5; i++)
                    {                                        
                <tr>
                    <td class="ColsTd2">@i
                    </td>
                    @{
                        lstCalendarTempOrder = new List<CalendarBO>();
                        for (int itemp = lstCalendarTemp.Count - 1; itemp >= 0; itemp--)
                        {
                            if (lstCalendarTemp[itemp].SubjectOrder == i)
                            {
                                lstCalendarTempOrder.Add(lstCalendarTemp[itemp]);
                            }
                        }
                        if (lstCalendarTempOrder != null && lstCalendarTempOrder.Count > 0)
                        {
                            //Thu 2
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_MONDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd3 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd3">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 3
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_TUESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd4 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd4">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 4
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_WEDNESDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd5 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd5">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 5
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_THURSDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd6 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd6">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 6
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_FRIDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd7 secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd7">
                            <span class="HideText"></span>
                        </td>
                            }
                            //Thu 7
                            objCalendar = null;
                            for (int itemp = lstCalendarTempOrder.Count - 1; itemp >= 0; itemp--)
                            {
                                if (lstCalendarTempOrder[itemp].DayOfWeek == GlobalConstants.DAY_OF_WEEK_SATURDAY)
                                {
                                    objCalendar = lstCalendarTempOrder[itemp];
                                }
                            }

                            if (objCalendar != null)
                            {
                        <td class="ColsTd8 ColsEnd secStl" style="color:@objCalendar.Color">
                            @objCalendar.SubjectName <br>@objCalendar.ClassName
                        </td>
                            }
                            else
                            {
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText"></span>
                        </td>
                            }
                        }
                        else
                        {                                            
                        <td class="ColsTd3">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd4">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd5">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd6">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd7">
                            <span class="HideText">Trống</span>
                        </td>
                        <td class="ColsTd8 ColsEnd">
                            <span class="HideText">Trống</span>
                        </td>
                        }
                    }
                </tr>                                         
                    }
                //}
                            
            }
        </tbody>
    </table>
</div>
</div>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('.@("ColsTd" + thu.ToString())').each(function () {
            $(this).addClass("classDefault");
        });
        $('.@("ColsTh" + thu.ToString())').addClass("dayDefault");
        $(".classDefault").last().addClass("endDayDefault");
    });
</script>