﻿@model WorkFlowParameterModel
@using SMAS.Web.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Business.Common

@{
    Layout = "~/Views/Shared/_LayoutContentBox.cshtml";
    int defaultTab = 1;
    if (Model.DefaultTab > 0)
    {
        if(Model.DefaultTab == WorkFlowConstants.TAB_MESSAGE_BOX)
	    {
            defaultTab = 2;
	    }
    }
    int countMailBox = ViewData[SMAS.Web.Constants.GlobalConstants.NEWNEWSNO] != null ? (int)ViewData[SMAS.Web.Constants.GlobalConstants.NEWNEWSNO] : 0;
    int countMessageBox = ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO] != null ? (int)ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO] : 0;
}
<style type ="text/css">
    #TabMailBox #MailBoxID, #MessageBoxID {
    cursor: pointer;
    }
    #ViewMessageDetail .ClUpViewMessage {
        margin-left: 0px !important;
    }
    #ViewMessageDetail {
        top:20% !important;
    }
    #FrameMailBoxID div[id^="TabMailBox"]  {
        border:none;
    }
</style>

<div id ="FrameMailBoxID">
    <form method="post" autocomplete="off"><input type="hidden" class="LoadComplete" value="0" /></form>
    @{
        Html.Telerik().TabStrip()
            .Name("TabMailBox")
            .ClientEvents(events => events
                            .OnSelect("onSelectMailBox")
                            )
            .Items(Tab =>
            {
                Tab.Add()
                .Text("Bảng tin của đơn vị")
                .HtmlAttributes(new { id = "MailBoxID" })
                .Content(@<text>
                <div id="lstMailBox">                  
                </div>
            </text>);
                Tab.Add()
                .Text("Thông báo từ hệ thống")
                .HtmlAttributes(new { id = "MessageBoxID" })
                .Content(@<text>
                <div id ="lstMessageBox">

                </div>
            </text>);
            })
            .SelectedIndex(0)
            .Render();
    }
</div>
@(Html.Telerik().Window()
                .Name("ViewMessageDetail")
                .Title("Xem thông báo")
                .Content("")
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(350)
                .Height(395)
)
<script type ="text/javascript">
    var curentPage = 0;
    $(document).ready(function () {
        var loadComplete = $("#FrameMailBoxID .LoadComplete").val();
        if (loadComplete == 0) {
            var htmlVal = '';
            if ('@defaultTab' == 1) {
                onSelectMailBox('', true);
            }
            else {
                $('#MessageBoxID').click();
            }

            if ('@countMessageBox' > 0) {
                htmlVal += '<span>Thông báo từ hệ thống ';
                htmlVal += '<span>';
                htmlVal += '( ' + '@countMessageBox' + ' thông báo mới)';
                    htmlVal += '</span>';
                    $('#MessageBoxID').find('a').html(htmlVal);
            }

            htmlVal = '';

            if ('@countMailBox' > 0) {
                htmlVal += '<span>Bảng tin của đơn vị ';
                htmlVal += '<span>';
                htmlVal += '(' + '@countMailBox' + ' thông báo mới)';
                    htmlVal += '</span>';
                    $('#MailBoxID').find('a').html(htmlVal);
            }

            $("#FrameMailBoxID .LoadComplete").val(1);
        }
    });
    function onSelectMailBox(e,load)
    {
        curentPage = 1;
        if (load == true) {
            idVal = 1;
        }
        else {
            idVal = e.item.id == "MailBoxID" ? 1 : 2;
        }
        
        $.ajax({
            url: '@Url.Action("AjaxLoadMailBoxOrMessageBox", "Home")',
            type: 'post',
            data: { id: parseInt(idVal) },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#TabMailBox').find('div[class*="active"]').find('div').html(msg);
                smas.hideProcessingDialog();
                resizeSidebar();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        })
    }
</script>