﻿@{
    SMAS.Web.Models.HomePageGroup2 HomePageGroup3Model = (SMAS.Web.Models.HomePageGroup2)ViewData["HomeModelData4Group3"];
    int appliedLevel = (ViewData["AppliedLevel"] == null) ? 0 : (int)ViewData["AppliedLevel"];
}
<div class="GeneralTabLoop ContentDiv">
    <div class="BoxImageInfo FixFloat">
        <p class="Avatar Sprite1">
            <span class="HideText">Hình ảnh</span>
        </p>
        <p class="ClassName">
            Tình hình nhập điểm
        </p>
    </div>
    <div class="InfoTabSection FixFloat">
        <p class="Text1Style">
            <span class="Temp1Style NonePaddingStyle">Các lớp chưa nhập điểm đầy đủ:</span>
            @if (HomePageGroup3Model != null)
            {
                if (HomePageGroup3Model.ListClassNotFullSummedUpRecord != null && HomePageGroup3Model.ListClassNotFullSummedUpRecord.Count > 0)
                {
                    foreach (var item in HomePageGroup3Model.ListClassNotFullSummedUpRecord)
                    {
                @(item.Key.Resolution + ": ")
                <span class="Temp2Style">
                    @if (item.Value != null && item.Value.Count > 0)
                    {
                        string end = ", ";
                        int i = 0;
                        foreach (var classProfile in item.Value)
                        {
                            i++;
                            if (i == item.Value.Count)
                            {
                                end = ".";
                            }
@*@(classProfile.DisplayName + end)*@
                            //DungVA
                        <a href="/BookRecordArea/BookRecord/Index?Tab=Hs&ClassID=@classProfile.CLASS_PROFILE_ID" >@(classProfile.DISPLAY_NAME)
                        </a>@end
                            //End DungVA
                        }
                    }
                </span>
                <br />
                    }
                }
            }
        </p>
        <div class="ButtonRSection">
            @if (appliedLevel != SMAS.Business.Common.GlobalConstants.APPLIED_LEVEL_PRIMARY)
            {
            <a href="/MarkInputSituationArea/MarkInputSituation/Index?Tab=1" class="ButtonStyle Sprite1">
                <span class="Sprite1">Giám sát</span></a>
            }
        </div>
    </div>
    <div class="Clear">
    </div>
</div>
