﻿@using SMAS.Business.Common
@{
    SMAS.Web.Models.HomePageGroup2 HomePageGroup2Model = (SMAS.Web.Models.HomePageGroup2)ViewData["HomePageGroup2Model"];
    SMAS.Web.Utils.GlobalInfo global = new SMAS.Web.Utils.GlobalInfo();
    int grade = global.AppliedLevel.GetValueOrDefault();
}
<div class="GeneralTabLoop ContentDiv">
    <div class="BoxImageInfo FixFloat">
        <p class="Avatar Sprite1">
            <span class="HideText">Hình ảnh</span>
        </p>
        <p class="ClassName">
            Nhập dữ liệu hồ sơ
        </p>
    </div>
    @if (HomePageGroup2Model != null)
    {
        <div class="InfoTabSection FixFloat">
            <div class="Text1Style" style="max-height: 130px; min-height: 80px; overflow: auto;">
                @{if (grade != SystemParamsInFile.APPLIED_LEVEL_KINDER_GARTEN && grade != SystemParamsInFile.APPLIED_LEVEL_CRECHE)
                  {
                    <span class="Temp1Style NonePaddingStyle">Hồ sơ học sinh:</span>
                  }
                  else
                  {
                    <span class="Temp1Style NonePaddingStyle">Hồ sơ trẻ:</span>
                  }}
                @if (HomePageGroup2Model.ListPupilProfileModel != null && HomePageGroup2Model.ListPupilProfileModel.Count > 0)
                {
                    foreach (var item in HomePageGroup2Model.ListPupilProfileModel)
                    {
                        int i = 0;
                        string end = ", ";
                                                
                    @(item.EducationLevelResolution + " (" + item.EducationLevelTotalPuppil + "): ")
                        if (item.ClassProfiles != null && item.ClassProfiles.Count > 0)
                        {
                            foreach (var ClassProfile in item.ClassProfiles)
                            {
                                i++;
                                if (i == item.ClassProfiles.Count)
                                {
                                    end = ".";
                                }
                                if (ClassProfile.Value != 0)
                                {
                                    if (item.lstCountPupil[ClassProfile.Value.ToString()] > 0)
                                    {
                    <a  href="/PupilProfileArea/PupilProfile/Index?Tab=Hs&ClassID=@ClassProfile.Value">@ClassProfile.Key.Replace(i + "_", "")
                        @end</a>
                                    }
                                    else
                                    {
                    <a style="color:red" href="/PupilProfileArea/PupilProfile/Index?Tab=Hs&ClassID=@ClassProfile.Value">@ClassProfile.Key.Replace(i + "_", "")
                        @end</a>
                                    }
                                }
                            }
                        }
                    <br />
                    }
                }
            </div>
            <p class="Text1Style PaddingTopStyle">
                <span class="Temp1Style TempTStyle">Hồ sơ giáo viên:</span> Tổng số:
                @if (HomePageGroup2Model.TotalProfiles > 0)
                {<span class="Temp2Style">@HomePageGroup2Model.TotalProfiles</span>}
                else
                {<span class="Temp3Style">@HomePageGroup2Model.TotalProfiles</span>}, Cán bộ quản
                lý:
                @if (HomePageGroup2Model.TotalEmployeeAdmin > 0)
                {<span class="Temp2Style">@HomePageGroup2Model.TotalEmployeeAdmin</span>}
                else
                {<span class="Temp3Style">@HomePageGroup2Model.TotalEmployeeAdmin</span>}, Giáo
                viên:
                @if (HomePageGroup2Model.TotalTeacher > 0)
                {<span class="Temp2Style">@HomePageGroup2Model.TotalTeacher</span>}
                else
                {<span class="Temp3Style">@HomePageGroup2Model.TotalTeacher</span>}, Nhân viên:
                @if (HomePageGroup2Model.TotalEmployee > 0)
                {<span class="Temp2Style">@HomePageGroup2Model.TotalEmployee</span>}
                else
                {<span class="Temp3Style">@HomePageGroup2Model.TotalEmployee</span>}
            </p>
            <div class="ButtonRSection">
                <a href="/ImportTeacherArea/ImportTeacher/Index" class="ButtonStyle Sprite1"><span
                    class="Sprite1">Nhập hồ sơ</span></a>
            </div>
        </div>
    }
    <div class="Clear">
    </div>
</div>
