﻿@{
    SMAS.Web.Models.HomePageGroup2 HomePageGroup456Model = (SMAS.Web.Models.HomePageGroup2)ViewData["HomePageModelGroup456"];
    int appliedLevel = (ViewData["AppliedLevel"] == null) ? 0 : (int)ViewData["AppliedLevel"];
}
<div class="GeneralTabLoop ContentDiv">
    <div class="BoxImageInfo FixFloat">
        <p class="Avatar Sprite1">
            <span class="HideText">Hình ảnh</span>
        </p>
        <p class="ClassName">
            Xếp loại học sinh
        </p>
    </div>
    <div class="InfoTabSection FixFloat">
        <p class="Text1Style">
            <span class="Temp1Style NonePaddingStyle">Các lớp có học sinh chưa được đánh giá xếp
                loại:</span>
            @if (HomePageGroup456Model != null)
            {
                if (HomePageGroup456Model.ListClassNotFullRankingCapacityConduct != null && HomePageGroup456Model.ListClassNotFullRankingCapacityConduct.Count > 0)
                {
                    foreach (var item in HomePageGroup456Model.ListClassNotFullRankingCapacityConduct)
                    {
                @(item.Key.Resolution + ": ")
                <span class="Temp2Style">
                    @if (item.Value != null && item.Value.Count > 0)
                    {
                        string end = ", ";
                        int i = 0;
                        foreach (var classProfile in item.Value)
                        {
                            i++;
                            if (i == item.Value.Count)
                            {
                                end = ".";
                            }
@*@(classProfile.DisplayName + end)*@
                            //DungVA
                        <a href="/PupilRankingNewArea/PupilRankingNew/Index?Tab=Hs&ClassID=@classProfile.ClassProfileID" >@(classProfile.DisplayName)
                        </a>@end
                            //End DungVA
                        }
                    }
                </span>
                <br />
                    }
                }
            }
        </p>

        <div class="ButtonRSection">
            @if (appliedLevel > 1 && appliedLevel <= 3)
            {
            <a href="/TranscriptsBySemesterArea/TranscriptsBySemester?Tab=Bc" class="ButtonStyle Sprite1">
                    <span class="Sprite1">Báo cáo</span></a> 
                <a href="/SummedUpEducationLevelNewArea/SummedUpEducationLevelNew/Index?Tab=2"
                    class="ButtonStyle ButtonMStyle Sprite1"><span class="Sprite1">Xếp loại</span></a>
            }
            else
            {
                 <a href="/ReportTranscriptOfPrimaryClassArea/ReportTranscriptOfPrimaryClass/Index?Tab=7" class="ButtonStyle Sprite1">
                    <span class="Sprite1">Báo cáo</span></a>
            }
        </div>

    </div>
    <div class="Clear">
    </div>
</div>
