﻿@{
    SMAS.Web.Models.HomePageGroup2 HomePageGroup456Model = (SMAS.Web.Models.HomePageGroup2)ViewData["HomePageModelGroup456"];
 
}
<div class="GeneralTabLoop ContentDiv">
    <div class="BoxImageInfo FixFloat">
        <p class="Avatar Sprite1">
            <span class="HideText">Hình ảnh</span>
        </p>
        <p class="ClassName">
            Tổng kết điểm
        </p>
    </div>
    <div class="InfoTabSection FixFloat">
        <p class="Text1Style">
            <span class="Temp1Style NonePaddingStyle">Các lớp chưa tổng kết đầy đủ:</span>
            @if (HomePageGroup456Model != null)
            {
                if (HomePageGroup456Model.ListClassNotFullRanking != null && HomePageGroup456Model.ListClassNotFullRanking.Count > 0)
                {
                    foreach (var item in HomePageGroup456Model.ListClassNotFullRanking)
                    {
                @(item.Key.Resolution + ": ")
                <span class="Temp2Style">
                    @if (item.Value != null && item.Value.Count > 0)
                    {
                        string end = ", ";
                        int i = 0;
                        foreach (var classProfile in item.Value)
                        {
                            i++;
                            if (i == item.Value.Count)
                            {
                                end = ".";
                            }
                            //DungVA
                        <a href="/SummaryArea/Summary/Index?Tab=Hs&ClassID=@classProfile.ClassProfileID" >@(classProfile.DisplayName)
                        </a>@end
                            //End DungVA
                        }
                    }
                </span>
                <br />
                    }
                }
            }
        </p>
        <div class="ButtonRSection">

            <a href="/TranscriptsBySemesterArea/TranscriptsBySemester?Tab=Bc" class="ButtonStyle Sprite1">
                <span class="Sprite1">Báo cáo</span></a>
            <a href="/SummedUpEducationLevelNewArea/SummedUpEducationLevelNew/Index?Tab=2" class="ButtonStyle ButtonMStyle  Sprite1"><span class="Sprite1">Tổng kết</span></a>


        </div>
    </div>
    <div class="Clear">
    </div>
</div>
