﻿<div class="GeneralTabLoop ContentDiv">
    <div class="BoxImageInfo FixFloat">
        <p class="Avatar Sprite1">
            <span class="HideText">Hình ảnh</span>
        </p>
        <p class="ClassName">
            Khai báo thông tin
        </p>
    </div>
    <div class="InfoTabSection FixFloat">
        <p class="Text1Style">
            Các thông tin được khai báo vào đầu năm học phục vụ cho quá trình quản lý cán bộ,
            học sinh trong năm học đó.
            <br />
            <span class="Temp1Style">Các thông tin sau chưa được khai báo:</span>
        </p>
        <ul class="ResetList InfoList">
            @if (ViewData["NotAcademicYear"] != null && (bool) ViewData["NotAcademicYear"])
            {
                <li><a href="/AcademicYearArea/AcademicYear/Index" title="Thời gian năm học">Thời gian
                    năm học</a></li>
            }
            @if (ViewData["NotAcademicYear"] != null && (bool) ViewData["NotFullClassProfiles"])
            {
                <li><a href="/ClassProfileArea/ClassProfile/Index?Tab=1&Pro=4" title="Danh sách lớp học">Danh sách
                    lớp học
                </a></li>
            }
            @if (ViewData["NotFullSchoolSubject"] != null && (bool) ViewData["NotFullSchoolSubject"])
            {
                <li><a href="/SchoolSubjectArea/SchoolSubject/IndexIndex?Tab=1&Pro=3" title="Danh sách môn học">Danh sách 
                    môn học</a></li>
            }
            @if (ViewData["NotFullClassSubjects"] != null && (bool) ViewData["NotFullClassSubjects"])
            {
                <li><a href="/ClassSubjectArea/ClassSubject/Index?Tab=1&Pro=5" title="Danh sách môn học cho lớp">
                    Danh sách môn học cho lớp</a></li>
            }
            @if (ViewData["NotFullTeachingAssignment"] != null && (bool) ViewData["NotFullTeachingAssignment"])
            {
                <li><a href="/TeachingAssignmentArea/TeachingAssignment/Index" title="Phân công giảng dạy">
                    Phân công giảng dạy</a></li>
            }
        </ul>
    </div>
    <div class="Clear">
    </div>
</div>
