﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.JudgeRecordArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.JudgeRecordArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@{List<AlertMessageBO> lstAlertMessage = (List<AlertMessageBO>)ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_MESSAGE];
  int countlistAlert = lstAlertMessage.Count;
  int pageNo = int.Parse(ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_CURRENT_PAGENO].ToString());
  int pageSize = int.Parse(ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_PAGESIZE].ToString());
  int totalItem = int.Parse(ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_TOTALITEM].ToString());
  int newsNo = 0;
  if (ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO] != null)
  {
      newsNo = (int)ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO];
  }  
}
@if (countlistAlert > 0)
{
    int m = 0;

    var classEndItem = "";
    <ul class="ResetList MessageList">
        @foreach (var alertM in lstAlertMessage.Take(pageSize / 2))
        {
            m++;
            if (m % 2 == 0)
            {
                classEndItem = "EndItem";
            }
            if (alertM.isRead)
            {
                 //tanla4 - 14/11/2014 - them truong isRead khi thuc hien ShowDialog, de kiem tra la tin da doc hay chua
                 <li><a onclick="ShowDialog(@alertM.AlertMessageID, '@alertM.isRead', @newsNo);" href="javascript:void(0)" class = "@classEndItem">@alertM.Title
                 (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a>                           
                 </li>
            }
            else
            {
                  <li><strong><a onclick="ShowDialog(@alertM.AlertMessageID,'@alertM.isRead', @newsNo);" href="javascript:void(0)" style ="color:black;" class = "@classEndItem">@alertM.Title
                  (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a></strong>
                  <img src="../../Content/images/icon_New.jpg" width ="50" height="28"/>
                  </li>
            }
        }
    </ul>
    <ul class="ResetList MessageList MessageMList">
        @foreach (var alertM in lstAlertMessage.Skip(pageSize / 2).Take(pageSize / 2))
        {
            m++;
            if (m % 2 == 0)
            {
                classEndItem = "EndItem";
            }
            if (alertM.isRead)
            {
                 //tanla4 - 14/11/2014 - them truong isRead khi thuc hien ShowDialog, de kiem tra la tin da doc hay chua
                 <li><a onclick="ShowDialog(@alertM.AlertMessageID, '@alertM.isRead', @newsNo);" href="javascript:void(0)" class = "@classEndItem">@alertM.Title
                 (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a>                           
                 </li>
             }
             else
             {
                 <li><strong><a onclick="ShowDialog(@alertM.AlertMessageID,'@alertM.isRead', @newsNo);" href="javascript:void(0)" style ="color:black;" class = "@classEndItem">@alertM.Title
                 (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a></strong>
                 <img src="../../Content/images/icon_New.jpg" width ="50" height="28"/>
                 </li>
             }
        }
    </ul>
}
<div class="Clear">
</div>
@if (countlistAlert > 0)
{
    var totalPage = (totalItem % pageSize == 0) ? totalItem / pageSize : totalItem / pageSize + 1;
    var classStyle = "";
    var l = 0;
    <ul class="ResetList PageList">
        @if (pageNo == 1)
        {
            <li><a href="javascript:void(0)" class="DisableStyle">&lt;&lt;</a></li>
        }
        else
        {
            <li><a href="javascript:void(0)" onclick="LoadAlertMessage(1, @newsNo)" class="">&lt;&lt;</a></li>
        }
        @for (int j = 1; j <= totalPage; j++)
        {
            l++;
            if (l == pageNo)
            {
            <li><a href="javascript:void(0)" class="Active">@j</a></li>
            }
            else
            {
            <li><a href="javascript:void(0)" onclick="LoadAlertMessage(@j, @newsNo)" class="@classStyle">@j</a></li>
            }
        }
        @if (pageNo == totalPage)
        {
            <li><a href="javascript:void(0)" class="DisableStyle">&gt;&gt;</a></li>
        }
        else
        {
            <li><a href="javascript:void(0)" onclick="LoadAlertMessage(@totalPage, @newsNo)" class="">&gt;&gt;</a></li>
        }
    </ul>
}
<div class="Clear">
</div>
