﻿@*
* list class of teacher _partialView of HomePageOfTeacher
* HaiVT
* 31/05/2013
*@
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Constants;
@using SMAS.Models.Models;
@using SMAS.Web.Utils;

@{
    List<ClassOfTeacherBO> lstClassOfTeacherBO = (List<ClassOfTeacherBO>)ViewData[GlobalConstants.LIST_CLASS_TEACHER];
    int oldEducationLevelID = 0;
}
@if (lstClassOfTeacherBO != null && lstClassOfTeacherBO.Count > 0)
{
    //lay list educationlevel tu lstClass de for theo khoi
    List<EducationLevel> lstEducationLevel = (from lst in lstClassOfTeacherBO
                                              orderby lst.EducationLevelID
                                              select new EducationLevel
                                              {
                                                  EducationLevelID = lst.EducationLevelID,
                                                  Resolution = lst.Resolution
                                              }).ToList();
    ClassOfTeacherBO objClassOfTeacherBO = null;
    EducationLevel objEducationLevel = null;
    GlobalInfo globalInfo = new GlobalInfo();
    int TeacherID = globalInfo.EmployeeID != null ? globalInfo.EmployeeID.Value : 0;

    for (int i = 0, count = lstEducationLevel.Count; i < count; i++)
    {
        List<ClassOfTeacherBO> lstClassOfTeacherBOByLevel = new List<ClassOfTeacherBO>();
        objEducationLevel = lstEducationLevel[i];
        //check neu khoi hoc da fill du lieu roi thi bo qua
        if (objEducationLevel.EducationLevelID == oldEducationLevelID)
        {
            continue;
        }
        else
        {
            oldEducationLevelID = objEducationLevel.EducationLevelID;
        }

        //tao list classofTeacher theo cap hoc
        for (int j = 0, jcount = lstClassOfTeacherBO.Count; j < jcount; j++)
        {
            objClassOfTeacherBO = lstClassOfTeacherBO[j];
            if (objClassOfTeacherBO.EducationLevelID == objEducationLevel.EducationLevelID)
            {
                lstClassOfTeacherBOByLevel.Add(objClassOfTeacherBO);
            }
        } 
        
    <div class="TabSection TitleTabSection">
        <a href="javascript:void(0)" onclick="javascript:ChangeMe(this)" class="Sprite1"><span class="Sprite1">@lstEducationLevel[i].Resolution</span></a>
        <div class="CollapseBtn">
            <div id='@("cClassBox" + i)' class="Sclose1 Sprite1 CollapseTab">
                <span class="HideText">Đóng/Mở</span>
            </div>
        </div>
    </div>
    <div id='@("cClassBox" + i + "Section")' class="BoxClassInfo">
        @for (int j = 0, jcount = lstClassOfTeacherBOByLevel.Count; j < jcount; j++)
        {
            objClassOfTeacherBO = lstClassOfTeacherBOByLevel[j];            
            <div class="BoxClassTop">
                <div class="BoxClassBtm">
                    <div class="BoxClassLoop" onclick="showFunctionButton(this, event)">
                        <p class="NameClass">
                            @objClassOfTeacherBO.DisplayName
                        </p>
                        <p class="InfoClass">
                            @Res.Get("Home_Label_CountPupil"): <span>@objClassOfTeacherBO.CountOfPupil</span><br />
                            @Res.Get("Common_Label_Male"): <span>@objClassOfTeacherBO.CountOfMale</span><br />
                            @Res.Get("Common_Label_Female"): <span>@objClassOfTeacherBO.CountOfFemale</span>
                        </p>
                        <div class="Clear">
                        </div>
                        <p>
                            @Res.Get("Common_Label_ShortHeadTeacher"): <span @(TeacherID == objClassOfTeacherBO.HeadTeacherID ? " class=classHeadTeacher " : "")>@(string.IsNullOrEmpty(objClassOfTeacherBO.HeadTeacherName) ? (string.IsNullOrEmpty(objClassOfTeacherBO.SubstituedHeadTeacherName) ? string.Empty : objClassOfTeacherBO.SubstituedHeadTeacherName) : objClassOfTeacherBO.HeadTeacherName)</span>
                        </p>
                    </div>
                    <div class="MenuClassSection" style="display: none;">
                        <ul class="ResetList ChildMenuSectionList">
                            @*neu khong phai gvcn thi an cac button diem danh, vi pham, tong ket, xep loai*@
                            @if (globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
                            {                        
                                <li><a href="@Url.Action("Index", "PupilProfileChildren", new { area = "PupilProfileChildrenArea", classID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item1">@Res.Get("Home_Label_ProfilePupil")</a></li>
                                <li><a href="@Url.Action("Index", "SCSDailyActivity", new { area = "SCSDailyActivityArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">@Res.Get("Home_Label_Activity")</a></li>
                                <li><a href="@Url.Action("Index", "PupilAbsence", new { area = "PupilAbsenceArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item3">@Res.Get("Home_Label_Absence")</a></li>
                                <!--<li><a href="@Url.Action("Index", "SCSMonthlyGrowth", new { area = "SCSMonthlyGrowthArea", classID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item4">@Res.Get("Home_Label_Growth")</a></li>-->
                                <li><a href="@Url.Action("Index", "MonitoringBook", new { area = "MonitoringBookArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item5">@Res.Get("Home_Label_DailyHealth")</a></li>
                                <!--<li><a href="@Url.Action("Index", "SkillAppraisement", new { area = "SkillAppraisementArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item6">@Res.Get("Home_Label_Skill")</a></li>-->
                                <!--<li><a href="@Url.Action("Index", "SCSSendSMSToParentPupil", new { area = "SCSSendSMSToParentPupilArea", classID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item6">@Res.Get("Home_Label_Communication")</a></li> -->
                            }
                            else if (globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY)
                            {
                                <li><a href="@Url.Action("Index", "PupilProfile", new { area = "PupilProfileArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item1">@Res.Get("Home_Label_ProfilePupil")</a></li>
                                <!--<li><a href="@Url.Action("Index", "BookRecord", new { area = "BookRecordArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">@Res.Get("Home_Label_Mark")</a></li>-->
                                <li><a href="@Url.Action("Index", "BookRecordTeachers", new { area = "BookRecordTeachersArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">Sổ GVBM</a></li>
                                <li><a href="@Url.Action("Index", "BookRecordHeadTeachers", new { area = "BookRecordHeadTeachersArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">Sổ GVCN</a></li>
                                <li><a href="@Url.Action("Index", "PupilAbsence", new { area = "PupilAbsenceArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item3">@Res.Get("Home_Label_Absence")</a></li>
                                <li><a href="@Url.Action("FaultEditor", "PupilFault", new { area = "PupilFaultArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item4">@Res.Get("Home_Label_Fault")</a></li>                                
                                <li><a href="@Url.Action("Index", "MonitoringBook", new { area = "MonitoringBookArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item5">@Res.Get("Home_Label_DailyHealth")</a></li>
                                <!--<li><a href="@Url.Action("Index", "ConductRanking", new { area = "ConductRankingArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">@Res.Get("Home_Label_Conduct")</a></li>-->
                                <!--<li><a href="@Url.Action("Index", "PupilRankingNew", new { area = "PupilRankingNewArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item3">@Res.Get("Home_Label_Ranking")</a></li>-->
                                                                                          
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "PupilProfile", new { area = "PupilProfileArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item1">@Res.Get("Home_Label_ProfilePupil")</a></li>
                                <li><a href="@Url.Action("Index", "BookRecord", new { area = "BookRecordArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">@Res.Get("Home_Label_Mark")</a></li>
                                <li><a href="@Url.Action("Index", "PupilAbsence", new { area = "PupilAbsenceArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item3">@Res.Get("Home_Label_Absence")</a></li>
                                <li><a href="@Url.Action("FaultEditor", "PupilFault", new { area = "PupilFaultArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item4">@Res.Get("Home_Label_Fault")</a></li>
                                <li><a href="@Url.Action("Index", "Summary", new { area = "SummaryArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item1">@Res.Get("Home_Label_Summary")</a></li>
                                <li><a href="@Url.Action("Index", "ConductRanking", new { area = "ConductRankingArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item2">@Res.Get("Home_Label_Conduct")</a></li>
                                <li><a href="@Url.Action("Index", "PupilRankingNew", new { area = "PupilRankingNewArea", ClassID = objClassOfTeacherBO.ClassID, Tab = "Hs" })" class="Sprite3 Item3">@Res.Get("Home_Label_Ranking")</a></li>
                                <li><a href="@Url.Action("Index", "MonitoringBook", new { area = "MonitoringBookArea", Tab = "Hs" })" class="Sprite3 Item5">@Res.Get("Home_Label_DailyHealth")</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="Clear">
                </div>
            </div>            
        }
    </div>
    <div class="Clear"></div>
    }
}

<script language="javascript" type="text/javascript">
    //SHOW AND HIDE TABCLASSSECTION - DIV ONCLICK EVENT
    $(".TabClassSection .TitleTabSection .CollapseTab").click(function () {
        var cls = $(this).attr("class");
        var id = $(this).attr("id");
        if ($(this).hasClass("Sclose1")) {
            $(this).removeClass("Sclose1");
            $(this).addClass("Eclose1");
            $('#' + id + 'Section').slideUp("slow");
        }
        else {
            $(this).removeClass("Eclose1");
            $(this).addClass("Sclose1");
            $('#' + id + 'Section').slideDown("slow");
        }
    });
</script>
