﻿@using Telerik.Web.Mvc.UI
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@{
    List<AlertMessageBO> lstAlertMessage = ViewData[GlobalConstants.ALERT_NEWS] as List<AlertMessageBO>;
    int pageNo = int.Parse(ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_CURRENT_PAGENO].ToString());
    int pageSize = int.Parse(ViewData[GlobalConstants.NEWS_PAGESIZE].ToString());
    int totalItem = int.Parse(ViewData[GlobalConstants.NEWS_TOTALITEM].ToString());
    int countlistAlert = lstAlertMessage.Count();
    bool isNewMessage = (bool)ViewData["isNewNews"];
    int newsNo = 0;
    string strMessage = string.Empty;
    if (ViewData[GlobalConstants.NEWNEWSNO] != null)
    {
        newsNo = (int)ViewData[GlobalConstants.NEWNEWSNO];
    }
    if (newsNo > 0)
    {
        strMessage = "(" + newsNo + " chưa đọc)";
    }
    //tanla4
    //18/11/2014
    //xu li hien thi noi dung cua bang tin duoc chon
    string id = ViewData[GlobalConstants.NEWS_ID].ToString();
    string title = ViewData[GlobalConstants.NEWS_TITLE].ToString();
    string createDate = ViewData[GlobalConstants.NEWS_CREATE_DATE].ToString();
    string createUser = ViewData[GlobalConstants.NEWS_CREATE_USER].ToString();
    string content = ViewData[GlobalConstants.NEWS_CONTENT].ToString();
    string url = string.Empty;
    if (ViewData[GlobalConstants.NEWS_URL] != null)
    {
        url = ViewData[GlobalConstants.NEWS_URL].ToString();
    }
    string strLinkView = GlobalConstants.VIEW_DETAIL;
}

  
 <input type="hidden" id="NewsID" value=@id />
        <table>
            <tr>
            <td style ="float:left;margin-left: 10px;" >           
               <li style="color:orange; margin-bottom:10px;width:471px" ><strong>@title.ToUpper()</strong></li>@*hien thi tua de cua tin*@
               <li style="margin-bottom:10px">
                   <table>
                    <tr>
                        <td style="width:200px">Ngày gửi: <strong>@createDate</strong></td>                      
                        <td>Người gửi: <strong>@createUser</strong></td>                   
                        <div id="contentIDFull" style="display:none;width:450px;word-wrap:break-word">
                           @Html.Raw(content)       
                             <br />                    
                        </div>                 
                    </tr>
                   </table>
               </li>
                @if(@url != string.Empty)
                {
                    <li style="margin-bottom:10px">File đính kèm: <a href="Javascript: saveFile();">@(SMAS.Web.Utils.Utils.ToShortSMSContent(Path.GetFileName(@url),30))</a></li>
                }
               <li style="margin-bottom:10px">Nội dung:</li>
               <li>
                   
                   <div id="contentID" class="ClUpViewMessage">
                      <div id="ContentView">
                       @{
                           IHtmlString strcontent = Html.Raw(content);
                            if (strcontent.ToString().Length > GlobalConstants.LETTER_NUMBER_LIMIT)
                          {
                             // string stravlue = Html.Raw(content).ToString().Trim().Substring(0, GlobalConstants.LETTER_NUMBER_LIMIT);
                              @Html.Raw(Html.Raw(content).ToString().Trim())
                          }else
                          {
                              @Html.Raw(content)
                          }
                        }                   
                       </div>      
                                                           
                   </div>
                       <div id="LinkView">
                           @{
                               if (strcontent.ToString().Length > GlobalConstants.LETTER_NUMBER_LIMIT)
                                {
                                    @Html.Raw(strLinkView)
                                }
                           }                               
                       </div>                                      
               </li>   
            </td>
              
            <td style ="float:right">
                @if (countlistAlert > 0)
                {
                    int m = 0;
                    var classEndItem = "";
                    <ul class="ResetList MessageList">
                        @foreach (var alertM in lstAlertMessage.Take(pageSize))
                        {
                            m++;
                            if (m % 2 == 0)
                            {
                                classEndItem = "EndItem";
                            }

                            if (alertM.isRead)
                            {
                                //tanla4 - 14/11/2014 - them truong isRead khi thuc hien ShowDialog, de kiem tra la tin da doc hay chua
                                <li><a onclick="ShowContent(@alertM.AlertMessageID, '@alertM.isRead', @newsNo);" href="javascript:void(0)" class = "@classEndItem">@alertM.Title
                                (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a>                           
                                </li>
                            }
                            else
                            {
                                <li><strong><a onclick="ShowContent(@alertM.AlertMessageID,'@alertM.isRead', @newsNo);" href="javascript:void(0)" style ="color:black;" class = "@classEndItem">@alertM.Title
                                (@String.Format("{0:d/M/yyyy}", alertM.PublishedDate))</a></strong>
                                    <img src="../../Content/images/icon_New.jpg" width ="50" height="28"/>
                                </li>
                            }

                        }
                    </ul>
                }    
            </td>
            </tr>
        </table>       
        <div class="Clear">
        </div>
        @if (totalItem > 0)
        {
            var totalPage = (totalItem % pageSize == 0) ? totalItem / pageSize : totalItem / pageSize + 1;
            var classStyle = "";
            var l = 0;
            <ul class="ResetList PageList">
                @if (pageNo == 1)
                {
                    <li><a href="javascript:void(0)" class="DisableStyle">&lt;&lt;</a></li>
                }
                else
                {
                    <li><a href="javascript:void(0)" onclick="LoadNewsPage(1, @newsNo)" class="">&lt;&lt;</a></li>
                }
                @for (int j = 1; j <= totalPage; j++)
                {
                    l++;
                    if (l == pageNo)
                    {
                    <li><a href="javascript:void(0)" class="Active">@j</a></li>
                    }
                    else
                    {
                    <li><a href="javascript:void(0)" onclick="LoadNewsPage(@j, @newsNo)" class="@classStyle">@j</a></li>
                    }
                }
                @if (pageNo == totalPage)
                {
                    <li><a href="javascript:void(0)" class="DisableStyle">&gt;&gt;</a></li>
                }
                else
                {
                    <li><a href="javascript:void(0)" onclick="LoadNewsPage(@totalPage, @newsNo)" class="">&gt;&gt;</a></li>
                }
            </ul>
        }
        <div class="Clear">
        </div>