﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.JudgeRecordArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.JudgeRecordArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using System.Web
@{AlertMessage AlertMessage = (AlertMessage)ViewData[SMAS.Web.Constants.GlobalConstants.ALERT_MESSAGE];
  //tanla4 - 14/11/2014 - lay so tin chua doc vua duoc cap nhat 
  int newsNo = 0;
  if (ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO] != null)
  {
      newsNo = (int)ViewData[SMAS.Web.Constants.GlobalConstants.NEWMESSAGENO];
  }
}
@Html.ViettelHidden("AlertMessageID", AlertMessage.AlertMessageID)
<div id="popup">
    <div class="GeneralDialog General1Dialog">
        <div class="DialogSMSPreview">
            <div class="DialogSMSInPreview">
                <div class="DialogBoxContent">
                    <h3>
                        @AlertMessage.Title</h3>
                    <p class="Text1Style">
                        Ngày ban hành: @String.Format("{0:d/M/yyyy}", AlertMessage.PublishedDate)<br />
                        @*File đính kèm*@
                        File đính kèm: <a href="Javascript: saveFile();">@Path.GetFileName(AlertMessage.FileUrl)</a>
                    </p>
                    <p class="Text1Style">
                        @*noi dung thong bao*@
                        @Html.Raw(AlertMessage.ContentMessage)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function saveFile() {
        var downloadUrl = '@Url.Action("SaveFileAlert", "Home")?id=' + $('#AlertMessageID').val().toString();
        window.open(downloadUrl);
    }
</script>
<script type ="text/javascript">
    $(document).ready(function () {
        newsNo = '@newsNo';
    });
</script>