﻿@using SMAS.Business.BusinessObject
@using Telerik.Web.Mvc.UI
@using SMAS.Business.Common;
@{
    List<FirstDataFunctionBO> lstWFUBO = (List<FirstDataFunctionBO>)ViewData["WorkFlowUser"];
    FirstDataFunctionBO objWFU = new FirstDataFunctionBO();
    
}
@if (lstWFUBO.Count > 0)
{
    int tabFunction = lstWFUBO.Select(p => p.TabFunction).FirstOrDefault();
    <div >

        <table>
            <tr>
                <td colspan="3" style="padding-bottom: 5px;">
                    @if (tabFunction != WorkFlowConstants.TAB_SYSTEM_CONFIG)
                    {
                        <span >[Bấm vào tên công việc để thực hiện công việc tương ứng]</span>
                    }
                    else
                    {
                        <span >Cho phép cấu hình tùy biến theo nhu cầu quản lý riêng của trường</span>
                    }
                </td>
            </tr>
            <tr>
                <td style="color: orange">Công việc</td>
                @if (tabFunction != WorkFlowConstants.TAB_SYSTEM_CONFIG)
                {
                    <td style="color: orange">Trạng thái</td>
                }
                <td style="color: orange">Thông tin chi tiết</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            @for (int i = 0; i < lstWFUBO.Count; i++)
            {
                objWFU = lstWFUBO[i];
                if (tabFunction != WorkFlowConstants.TAB_SYSTEM_CONFIG)
                {
                    <tr>
                        <td style="width: 30%; padding-bottom: 5px;">
                            <a href="@objWFU.Url" title="@objWFU.FunctionName">@objWFU.FunctionName</a>
                        </td>
                        <td style="width: 25%; padding-bottom: 5px;">@Html.Raw(objWFU.StatusName)</td>
                        <td style="width: 45%; padding-bottom: 5px;">@Html.Raw(objWFU.Contents)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="width: 25%; padding-bottom: 5px;">
                            <a href="@objWFU.Url" title="@objWFU.FunctionName">@objWFU.FunctionName</a>
                        </td>
                        <td colspan="2" style="width: 75%; padding-bottom: 5px;">@Html.Raw(objWFU.Contents)</td>
                    </tr>
                }
            }
        </table>
    </div>
}
else
{
    <div></div>
}