﻿@using Telerik.Web.Mvc.UI
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@{
    AlertMessageBO objAM = ViewData[GlobalConstants.OBJ_MESSAGE] != null ? (AlertMessageBO)ViewData[GlobalConstants.OBJ_MESSAGE] : null;
    string senderName = (string)ViewData[GlobalConstants.NEWS_CREATE_USER];
    int tab = ViewData[GlobalConstants.TAB_MESSAGE] != null ? (int)ViewData[GlobalConstants.TAB_MESSAGE] : 0;
 }
<style type ="text/css">
    #NewsContentAlertID TD {
        padding:2px;
    }
    #ViewMessageDetail .ClUpViewMessage {
        border-radius:0px;
        height: 300px !important;
    }
</style>
<div class="ContentMessageBox" id="NewsContentAlertID">
    <input type ="hidden" id ="MessageAlertID" value ="@(objAM != null ? objAM.AlertMessageID : 0)" />
    <span style="color: orange; margin-bottom: 10px;"><strong>@(objAM != null && !string.IsNullOrEmpty(objAM.Title) ? objAM.Title.ToUpper() : "")</strong></span>
    <table border="0" cellspacing="0" cellpadding="0">
        <colgroup>
            <col style="width: 30%;" />
            <col style="width: 30%" />
            <col style="width: 40%" />
        </colgroup>
        <thead>
        <tr>
            <td>Người gửi: <span style="color: orange;">@(tab == 1 ? senderName : objAM.SendName)</span></td>
            <td>Ngày gửi: <span style="color: orange;">@(objAM != null && objAM.PublishedDate != null ? objAM.PublishedDate.ToString("dd/MM/yyyy") : "")</span></td>
            <td>Loại: <span style="color: orange;">@(objAM!= null ? ( objAM.UnitID.HasValue ? "Thông báo của đơn vị" : "Thông báo từ hệ thống") : "")</span></td>
        </tr>
        @if (objAM != null && !string.IsNullOrEmpty(objAM.FileUrl))
        {
            if (tab==1)
            {
            <tr>
                <td colspan ="3">File đính kèm: <a href="Javascript: saveFile(@objAM.AlertMessageID);" id="NewsURL">@(SMAS.Web.Utils.Utils.ToShortSMSContentByCharNum(Path.GetFileName(objAM.ShortFileUrl), 27))</a></td>
            </tr>
            }
            else
            {
            <tr>
                <td colspan ="3">File đính kèm: <a href="Javascript: saveFile(@objAM.AlertMessageID);" id="NewsURL">@(SMAS.Web.Utils.Utils.ToShortSMSContentByCharNum(Path.GetFileName(objAM.FileUrl), 27))</a></td>
            </tr>
            }
        }
        <tr>
            <td colspan ="3">Nội dung:
                <div id="contentID" class="ClUpViewMessage" style ="margin-top:5px;overflow:auto;">
                <div id="ContentView">
                    @{
                        if (objAM != null)
                        {
                            IHtmlString strcontent = Html.Raw(objAM.ContentMessage);
                            if (strcontent.ToString() != null && strcontent.ToString().Trim().Length > GlobalConstants.LETTER_NUMBER_LIMIT)
                            {
                                //string stravlue = Html.Raw(content).ToString().Trim().Substring(0, GlobalConstants.LETTER_NUMBER_LIMIT);
                                @Html.Raw(Html.Raw(objAM.ContentMessage).ToString().Trim())
                            }
                            else
                            {
                                @Html.Raw(objAM.ContentMessage)
                            }
                        }
                    }
                </div>
                </div>
             </td>
        </tr>
        </thead>
    </table>
</div>