﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Utils
@{
    var _global = new GlobalInfo();
    Layout = string.Empty; //do not apply layout.
    List<ViettelCheckboxList> listAppliedLevelCheckBox =(ViewData[GlobalConstants.APPLIED_LEVELS]!=null)?ViewData[GlobalConstants.APPLIED_LEVELS] as List<ViettelCheckboxList>:new List<ViettelCheckboxList>();
    string theme = string.Empty;
    if (_global.ProductVersionID == 1) 
    {
        theme = "theme-2";
    }
    else if (_global.ProductVersionID == 2)
    {
        theme = "theme-1";
    }
    else {
        
    }
    
}
<title>@Res.Get("Common_Label_SelectLevel")</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="../../Content/common.css" rel="stylesheet" type="text/css" />
<link href="../../Content/themes/theme-1.css" rel="stylesheet" type="text/css" />
<link href="../../Content/themes/theme-2.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/2012.1.214/jquery-1.7.1.min.js")" type="text/javascript"></script>
<style type="text/css">
    .ContentLevelSection{text-align:center}.ContentLevelSection ul{display:inline-block;margin:0;padding:0;zoom:1;*display:inline}.ContentLevelSection li{float:left}
</style>
<body theme="@theme">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    
    <div class="container">
        <div class="mg-t-50 mg-b-40">
            <img class="img-responsive img-center" src="@Url.Content("~/Content/images/icon-logo.png")"/>
        </div>
        <div class="text-center f-22 mg-b-40" style="letter-spacing: 3px">HỆ THỐNG QUẢN LÝ NHÀ TRƯỜNG</div>
        <div class="text-center">
            @foreach (var itm in listAppliedLevelCheckBox)
            {
                <div value="@itm.Value" class="level-box level-@{@itm.Value}" onclick="javascript:OnSelectLevel(this)">
                    <div class="banner light bg-purple f-18">@itm.Label</div>
                </div>
            }
        </div>
    </div>
    <div>
        @Html.ViettelHidden("RdbSelectLevel", 0)
        <input type="submit" value="OK" style="display: none;" />
    </div>
}


<script type="text/javascript">
    function OnSelectLevel(buttonVal) {
        var value = $(buttonVal).attr('value');
        $("#RdbSelectLevel").val(value);
        $("input[type=submit]").click();
    }
</script>
<style type="text/css">
   #ListSelectLevel span{width:270px}#ListSelectLevel .vt-function-name{width:282px}
</style>
</body>
