﻿@{
    ViewBag.Title = "HomepageOfSchoolAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard">
    <div class="row">
        <div id="left-col" class="col-md-6">
            <!-- sample box 1 -->
            <section>
                <div class="box-header">
                    <h3 class="box-title">Sample Box 1</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-content">
                    <div class="t-widget t-grid" id="GridSchoolFaculty"><div class="t-grid-header" style="padding-right: 17px;">
                        <div class="t-grid-header-wrap">
                            <table cellspacing="0">
                                <colgroup>
                                    <col style="width:15px">
                                    <col style="width:60px">
                                    <col style="width:120px">
                                </colgroup>
                            <tbody>
                                <tr>
                                    <th class="t-header" scope="col" style="text-align:center"><span class="t-link">STT</span></th>
                                    <th class="t-header" scope="col" style="text-align:center"><a class="t-link" href="/SchoolFacultyArea/SchoolFaculty?GridSchoolFaculty-size=20&amp;Tab=1&amp;Pro=2&amp;GridSchoolFaculty-orderBy=FacultyName-asc">Tổ bộ môn</a></th>
                                    <th class="t-header" scope="col" style="text-align:left"><span class="t-link">Cán bộ quản lý tổ bộ môn</span></th>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="t-grid-content" style="height:auto">
                        <table cellspacing="0">
                            <colgroup>
                                    <col style="width:15px">
                                    <col style="width:60px">
                                    <col style="width:120px">
                                </colgroup>
                            <tbody>
                                <tr>
                                    <td style="text-align:center">1</td>
                                    <td>sdsadsad</td>
                                    <td>Nội dung 01</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">2</td>
                                    <td>sdsadsad</td>
                                    <td>Nội dung 02</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">3</td>
                                    <td>sdsadsad</td>
                                    <td>Test message</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">4</td>
                                    <td>sdsadsad</td>
                                    <td>lorem fdsaf fds fa fsafsd</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <div class="t-grid-pager t-grid-bottom"><div class="t-status"><a class="t-icon t-refresh" href="/SchoolFacultyArea/SchoolFaculty?GridSchoolFaculty-size=20&amp;Tab=1&amp;Pro=2">Làm mới</a></div><div class="t-pager t-reset"><a class="t-link" href="#"><span class="t-icon t-arrow-first">first</span></a><a class="t-link" href="#"><span class="t-icon t-arrow-prev">prev</span></a><div class="t-numeric"><a class="t-link">1</a><span class="t-state-active">2</span></div><a class="t-link t-state-disabled" href="/SchoolFacultyArea/SchoolFaculty?GridSchoolFaculty-size=20&amp;Tab=1&amp;Pro=2&amp;GridSchoolFaculty-page=2"><span class="t-icon t-arrow-next">next</span></a><a class="t-link t-state-disabled" href="/SchoolFacultyArea/SchoolFaculty?GridSchoolFaculty-size=20&amp;Tab=1&amp;Pro=2&amp;GridSchoolFaculty-page=2"><span class="t-icon t-arrow-last">last</span></a></div><div class="t-status-text">Hiển thị phần tử 21 - 25 của 25</div></div></div>
                </div>
            </section>
            <!-- //sample box 1 -->

            <!-- sample box 2 -->
            <section>
                <div class="dashboard-content">
                    <div class="box-header">
                    <h3 class="box-title">Sample Box 2</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th>Nội dung thông báo</th>
                                        <th>Ngày</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Có học sinh mới đăng ký chuyển lớp</td>
                                        <td>15/07/2018 10:08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Học sinh hủy môn thi</td>
                                        <td>10/08/2018 10:08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Chuẩn bị giáo đề cương & giáo án</td>
                                        <td>15/09/2018 10:08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Có học sinh mới đăng ký chuyển lớp</td>
                                        <td>15/10/2018 10:08</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>Thay đổi giáo viên chủ nhiệm lớp 10A1</td>
                                        <td>15/10/2018 10:08</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //sameple box 2 -->

            <!-- sample box 3 -->
            <section>
                <div class="dashboard-content">
                    <div class="box-header">
                    <h3 class="box-title">Sample Box 3</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="success">
                                    <td>Success</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr class="danger">
                                    <td>Danger</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr class="info">
                                    <td>Info</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                                <tr class="warning">
                                    <td>Warning</td>
                                    <td>Refs</td>
                                    <td>bo@example.com</td>
                                </tr>
                                <tr class="active">
                                    <td>Active</td>
                                    <td>Activeson</td>
                                    <td>act@example.com</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //sample box 3 -->
        </div>
        <div id="right-col" class="col-md-6">
            <!-- sample box 4 -->
            <section>
                <div class="box-header">
                    <h3 class="box-title">Sample Box 4</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-content">
                    <div id="chart1">
                        <svg></svg>
                    </div>
                </div>
            </section>
            <!-- //sample box 4 -->

            <!-- sample box 5 -->
            <section>
                <div class="box-header">
                    <h3 class="box-title">Sample Box 5</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-content">
                    <svg id="pieChart"></svg>
                </div>
            </section>
            <!-- //sample box 5 -->

            <!-- sample box 6 -->
            <section>
                <div class="box-header">
                    <h3 class="box-title">Sample Box 6</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool config"><i class="fa fa-cog"></i></button>
                        <button type="button" class="btn btn-box-tool toogle"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-content">
                    <ul>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 01 fdasf</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 02 fdasf</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 03fad fdsa </a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 04 fdasfdsa </a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 05 fadsfdas fds</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 06 fdasfsa fsad fsa</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 07 dsdsfdsaf  fas</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 08 dsdsfdsaf  fas</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 09 dsdsfdsaf  fas</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Thông báo số 10 dsdsfdsaf  fas</a></li>
                    </ul>
                </div>
            </section>
            <!-- //sample box 6 -->
        </div>
    </div>

    <div class="box-body">
        <div class="work-box">
            <div class="work-box-body">
                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                <div class="p-t-5">Bấm để tạo thêm khung làm việc</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //drag & drop scripts
    $(function () {
        $("#left-col").sortable({
            items: "section",
            handle: '.box-header',
            connectWith: '#right-col',
            opacity: 0.5,
            start: function(event, ui){
                $(".dashboard").addClass("dragging");    
            },
            stop: function(event, ui){
                $(".dashboard").removeClass("dragging");    
            }
        }).disableSelection();

        $("#right-col").sortable({
            items: "section",
            handle: '.box-header',
            connectWith: '#left-col',
            opacity: 0.5,
            start: function(event, ui){
                $(".dashboard").addClass("dragging");    
            },
            stop: function(event, ui){
                $(".dashboard").removeClass("dragging");    
            }
        }).disableSelection();
    });

    //hide / show box
    $("section .toogle").click(function (e) {
        var boxContentDiv = $(this).parent().parent().next('.box-content');
        $(this).find("i").toggleClass("fa-square-o fa-minus");
        boxContentDiv.slideToggle(300);
    });

    //remove box
    $("section .remove").click(function (e) {
        var sectionBox = $(this).parent().parent().parent();
        smas.confirm('Bạn có muốn xóa mẫu tin này ra khỏi dashboard không?', function () {
            sectionBox.toggle(300);
        });
    });

    //configure box
    $("section .config").click(function (e) {
        console.log('configure box clicked!');
    });

    //sample data for chart

    //bar chart data
    barChartData = [
        {
            key: "Cumulative Return",
            values: [
                {
                    "label" : "A" ,
                    "value" : 29.76
                } ,
                {
                    "label" : "B" ,
                    "value" : 0
                } ,
                {
                    "label" : "C" ,
                    "value" : 32.80
                } ,
                {
                    "label" : "D" ,
                    "value" : 196.45
                } ,
                {
                    "label" : "E" ,
                    "value" : 0.19
                } ,
                {
                    "label" : "F" ,
                    "value" : 98.07
                } ,
                {
                    "label" : "G" ,
                    "value" : 13.92
                } ,
                {
                    "label" : "H" ,
                    "value" : 5.13
                }
            ]
        }
    ];

    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            .showValues(true)
            .height(250)
            .duration(250);

        d3.select('#chart1 svg')
            .datum(barChartData)
            .call(chart);

        nv.utils.windowResize(chart.update);
        return chart;
    });

    //pie chart data
    var pieChartData = [
        {key: "One", y: 5},
        {key: "Two", y: 2},
        {key: "Three", y: 9},
        {key: "Four", y: 7},
        {key: "Five", y: 4}
    ];

    var height = 250;
    var width = 250;

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height)
            .showTooltipPercent(true);

        d3.select("#pieChart")
            .datum(pieChartData)
            .transition().duration(1200)
            .attr('height', height)
            .call(chart);

        // update chart data values randomly
        setInterval(function() {
            pieChartData[0].y = Math.floor(Math.random() * 10);
            pieChartData[1].y = Math.floor(Math.random() * 10);
            chart.update();
        }, 4000);

        return chart;
    });

</script>
