﻿@*
* home page of teacher
* HaiVT
* 31/05/2013
*@

@using SMAS.Web.Constants;
@using Telerik.Web.Mvc.UI;

@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isShowCalendar = (bool)ViewData[GlobalConstants.IS_SHOW_CALENDAR];
    bool RequestChangePass = (bool)Session[SMAS.Web.Constants.GlobalConstants.CHANGE_PASS_REQUEST];
    SMAS.Web.Utils.GlobalInfo global = new SMAS.Web.Utils.GlobalInfo();
    int grade = global.AppliedLevel.GetValueOrDefault();
}

@(Html.Telerik().Window()
                .Name("changePassDialog")
                .Title(@Resources.Resource.ResourceManager.GetString("Common_Label_Alert"))
                .Content(@<text>@Html.Partial("_AlertChangePass")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(590)
                .Height(100)
)

<div id="ContentSectionBtm">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                @if (global.ProductVersionID.HasValue && global.ProductVersionID.Value > Int32.Parse(GlobalConstants.PRODUCT_VERSION_ID_BASIC))
                {
                    if (isShowCalendar && grade != SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_KINDER_GARTEN
                    && grade != SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_CRECHE)
                    {
                    <div class="TabClassSection">
                        <img width="16" height="11" alt="loading..." src="@Url.Content("~/Content/images/icon_loading.gif")"/>
                        @*List class*@
                    </div>
                    <div class="Box2Table">
                        <img width="16" height="11" alt="loading..." src="@Url.Content("~/Content/images/icon_loading.gif")"/>
                        @*Calendar*@
                    </div>
                    }
                    else
                    {
                    <div class="TabClassSection TabFullClassSection">
                        <img width="16" height="11" alt="loading..." src="@Url.Content("~/Content/images/icon_loading.gif")"/>
                        @*List class*@
                    </div>               
                    }
                }

                
                <div class="Clear">
                </div>
            </div>
        </div>
        @*tanla4 - 13/11/2014 - vung hien thi ban tin*@        
        @RenderPage("_NewsBox.cshtml") 
        @* message box*@
        @Html.Partial("_MessageBox")
    </div>
    <div class="Clear">
    </div>
</div>

@(Html.Telerik().Window()
                .Name("ShowDialog")
                .Title("Thông báo")
                .Content(@<text><div id="contentMessage">
                </div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(false)
                .Width(750)
                .Height(400)
)

<script language="javascript" type="text/javascript">
    //LOAD LIST CLASS AND CALENDAR WHEN DOCUMENT READY
    $(document).ready(function () {
        //load list class of teacher
        $.ajax({
            url: '@Url.Action("GetClassOfTeacher", "Home")',
            type: 'get',
            success: function (data) {
                $('.HomeSection').find('.TabClassSection').hide();
                $('.HomeSection').find('.TabClassSection').html(data);
                $('.HomeSection').find('.TabClassSection').fadeIn("slow");
            }
        });
        //load calendar of teacher if config isShowCalendar
        if ($('.HomeSection').find('.Box2Table').length > 0) {
            $.ajax({
                url: '@Url.Action("GetCalendarOfTeacher", "Home")',
                type: 'get',
                success: function (data) {
                    $('.HomeSection').find('.Box2Table').hide();
                    $('.HomeSection').find('.Box2Table').html(data);
                    $('.HomeSection').find('.Box2Table').fadeIn("slow");
                }
            });
        }
    });

    //SHOW FUNCTION BUTTON WHEN CLICK CLASS - DIV ONCLICK EVENT
    function showFunctionButton(thisObject, event) {
        if ($(thisObject).parent().find('.MenuClassSection').is(':visible') == true) {
            $('.BoxClassTop').find('.MenuClassSection').hide();
        }
        else {
            $('.BoxClassTop').find('.MenuClassSection').hide();
            $(thisObject).parent().find('.MenuClassSection').fadeIn("fast");
        }
    }

    jQuery(document).ready(function () {

        if ('@RequestChangePass' == 'true' || !smas.checkBrowser()) {
            setTimeout(function () { smas.openDialog("changePassDialog", "", {}); }, 200);
        }

    });

</script>
