﻿@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="mg-b-20">
        <h4 class="mg-b-20">Buttons</h4>
        <div>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-basic">Basic</button>
            <button class="btn btn-disabled">Disabled</button>
        </div>
    </div>
    <div class="mg-b-20">
        <h4 class="mg-b-20">Bold buttons</h4>
        <div>
            <button class="btn btn-primary btn-bold">Primary</button>
            <button class="btn btn-success btn-bold">Success</button>
            <button class="btn btn-info btn-bold">Info</button>
            <button class="btn btn-basic btn-bold">Basic</button>
            <button class="btn btn-disabled btn-bold">Disabled</button>
        </div>
    </div>
    <div class="mg-b-20">
        <h4 class="mg-b-20">Round buttons</h4>
        <div>
            <button class="btn btn-primary btn-round">Primary</button>
            <button class="btn btn-success btn-round">Success</button>
            <button class="btn btn-info btn-round">Info</button>
            <button class="btn btn-basic btn-round">Basic</button>
            <button class="btn btn-disabled btn-round">Disabled</button>
        </div>
    </div>
    <div class="mg-b-20">
        <h4 class="mg-b-20">Buttons with icon</h4>
        <div>
            <button class="btn btn-primary btn-icon btn-icon-upload">Upload</button>
            <button class="btn btn-success btn-icon btn-icon-folder">Search file</button>
            <button class="btn btn-info btn-icon btn-round btn-icon-plus">Add</button>
             <button class="btn btn-info btn-icon btn-round btn-icon-save">Save</button>
            <button class="btn btn-info btn-round btn-icon btn-icon-search">Search</button>
            <button class="btn btn-info btn-icon btn-round btn-icon-excel">Excel</button>
            <button class="btn btn-info btn-icon btn-round btn-icon-pdf">PDF</button>
            <button class="btn btn-info btn-icon btn-round btn-icon-times">Remove</button>
            <button class="btn btn-info btn-icon btn-round btn-icon-inout">Nhập/Xuất</button>
        </div>
    </div>
    <div class="mg-b-20">
        <h4 class="mg-b-20">Font size</h4>
        <div>
            <p class="f-12">12px</p>
            <p>14px</p>
            <p class="f-16">16px</p>
            <p class="f-18">18px</p>
            <p class="f-20">20px</p>
            <p class="f-22">22px</p>
            <p class="f-24">24px</p>
        </div>
    </div>
     <div class="mg-b-20">
        <h4 class="mg-b-20">Icon</h4>
        <div>
            <div class="btn-edit"><span class="icon icon-edit"></span></div>
            <span class="icon icon-trash"></span>
        </div>
    </div>

    <div class="mg-b-20">
        <h4 class="mg-b-20">Custom checkbox</h4>
        <div>
            <label class="custom-checkbox">
                Custom checkbox 1
                <input type="checkbox" checked />
                <span class="checkmark"></span>
            </label>
            <label class="custom-checkbox">
                Custom checkbox 2
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <div class="mg-b-20">
        <h4 class="mg-b-20">Custom checkbox</h4>
        <div>
            <label class="custom-radio-button">
                Custom radio 1
                <input type="radio" name="radio" checked />
                <span class="checkmark"></span>
            </label>
            <label class="custom-radio-button">
                Custom radio 2
                <input type="radio" name="radio" />
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>