@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.FamilyTypeArea.Models

@{
    ViewBag.Title = @Res.Get("FamilyType_Label_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstFamilyType">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("FamilyType_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .Height(230).ContentHtmlAttributes(new { style = "min-width:500px;" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("FamilyType_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .Height(230).ContentHtmlAttributes(new { style = "min-width:500px;" })
)
<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>

