﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Classification_Label_Import");
}
@using (Ajax.BeginForm("ImportExcel",
                       "ClassificationCriteria",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           //OnBegin = "smas.showProcessingDialog",
                           //OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
{
        @Html.AntiForgeryToken()
            <div class ="Input" style="float:left;width:70%">
            @Html.ViettelTextbox(Res.Get("Choose_Label_ImportExcel"), "txtFilePath", null, new Dictionary<string, object>() { { "style", "width: 230px" } }, false, false)
            </div>
            <div style="float:right;width:30%;">
                @(Html.Telerik().Upload()
              .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async
                .Save("SaveFile", "ClassificationCriteria")
                .AutoUpload(false)
                 ).ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
)
)

            </div>        
           <div style="text-align:center;padding-top:7px;padding-left:100px">
            @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), new Dictionary<string, object>() { { "id", "btClose" } }, "button", "OnImportButtonCloseClick()", "")
           </div>
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")  
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnUploaderCss").find('span:first').text('Chọn file').attr("style", "text-align:center");
            // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        });
        var _intervalId;
        function OnSelectImport(e) {
            var files = e.files;
            // alert(files[0].name);
            $("#txtFilePath").val(files[0].name);
            _intervalId = setInterval("hideUploadButton();", 10);
        }
        function hideUploadButton() {
            // Try and find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Hide it.
                button.css({
                    visibility: 'hidden',
                    position: 'absolute'
                });

                // Terminate the interval.
                clearInterval(_intervalId);

                // Enable the OK button.
                $('#btImport').removeAttr('disabled');
                $('#btImport').removeClass('t-state-disabled');
            } else {
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
            }
        }
        function OnImportUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            return true;
                        }
                        alert("Dung lượng file excel không được lớn hơn 1MB")
                        e.preventDefault();
                        return false;
                    }
                } else {
                    alert("File không đúng định dạng")
                    $('#btImport').attr('disabled');
                    $('#btImport').addClass('t-state-disabled');
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                if (file.size > 0) {
                    var info = " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function OnImportButtonClick() {
            // Find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
            // If the upload button was found...
            if (button.length > 0) {
                // Click it.
                button.click();
            }
            smas.showProcessingDialog();
        }
        function OnImportButtonCloseClick()
        {
            smas.closeDialog("importDialog");
        }
        function OnImportSuccess(e) {
            $(".btnSubmitImportExcel").click();
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
        function CreateSuccess(data) {
            smas.hideProcessingDialog();
            if (data.success == 1) {
                setTimeout('smas.closeDialog("importDialog");', 500);
                smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
                smas.redirect('@Url.Action("Index", "ClassificationCriteria")');
            }
            else
                if (data.success == 0) {
                    setTimeout('smas.closeDialog("importDialog");', 500);
                    formUtils.resetForm("SelectImport");
                    smas.openDialog("SelectImport", "", {});
                }
                else {
                    smas.alert(data.success);
                }
        }
        function CreateFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }
        function OnImportError(e) {
            smas.hideProcessingDialog();
            smas.alert(e);
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    </script>

<style type"text/css">
    .btnUploaderCss span {
        padding-right: 20px;
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected {
        display: none;
    }
    #frmImportDataPass .editor-label {
        width:33%;
    }
    .Input {
        margin-top:5px;
    }
</style>
