﻿@model ClassificationCriteriaViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassificationCriteriaArea.Models
@using SMAS.Web.Areas.ClassificationCriteriaArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
<style type="text/css">
    #GridClassificationCriteriaDetail .t-header{vertical-align:middle;text-align:center}#GridClassificationCriteriaDetail .vt-control .editor-label{width:0}
</style>
@{
    var CountCCD = 0;
    }
<div>
@{
    var index = 1;
    List<ClassificationLevelHealth> LstLevel = ViewData[ClassificationCriteriaConstants.LIST_LEVEL] as List<ClassificationLevelHealth>;
    List<ClassificationCriteriaDetail> LstCCD = ViewData[ClassificationCriteriaConstants.LIST_CLASSIFICATIONCRITERIADETAIL] as List<ClassificationCriteriaDetail>;
    if (LstCCD != null)
    {
        if (LstCCD.Count > 0)
        {
            CountCCD = LstCCD.Count(); 
            @Html.ViettelHidden("ClassificationCriteriaID", LstCCD.FirstOrDefault().ClassificationCriteriaID)
        }
    }
    if (LstLevel != null)
    {
        var with = 400;
        var withcot = "0px";
        if (LstLevel.Count() > 0)
        {
            withcot = (400 / LstLevel.Count()) + "px";
        }
        Html.Telerik()
            .Grid((IEnumerable<ClassificationCriteriaViewModel>)ViewData[ClassificationCriteriaConstants.LIST_CLASSIFICATIONCRITERIA])
            .Name("GridImport")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(35);
                c.Bound(o => o.Month).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(70).Visible(true);

                c.Template(@<text>
            <table>
            <tr>                
                @for (int i = 0; i < LstLevel.Count; i++)
                {
                    decimal? IndexValue = null;
                    IEnumerable<ClassificationCriteriaDetail> LstCCD1 = LstCCD.Where(o => o.Month == item.Month && o.ClassificationLevelHealthID == LstLevel[i].ClassificationLevelHealthID);
                    if (LstCCD1 != null && LstCCD1.Count() > 0)
                    {
                        IndexValue = LstCCD1.FirstOrDefault().IndexValue;
                    }
                            
                    <td style="color: Black; text-align: center;">
                        <span name="Form_label">@IndexValue</span>
                        <div name="Form_input" style="display: none;">                         
                            <input type="text" name="@(LstLevel[i].Level.ToString() + "_" + item.Month.ToString())" id =@(LstLevel[i].Level.ToString() + "_" + item.Month.ToString()) style="width:80px;text-align:left;word-spacing:normal;" value="@IndexValue" maxlength="5" onkeypress="return _Onkeypress(event, this)" />
                        </div>
                    </td>                                              
                }
            </tr>
            <input type="hidden" name="Month" style="text-align:left;" value="@item.Month" /> 
        </table>
    </text>)
    .HeaderTemplate(@<text>
    <table style="padding: 0px">
        <tr>
            <td style="text-align: center; font-weight: bold" colspan="@LstLevel.Count">
                @Res.Get("ClassificationCriteria_Label_Level")
            </td>
        </tr>
        <tr>
            @for (int i = 0; i < LstLevel.Count; i++)
            {
                <td style="color: Black; text-align: center;">@LstLevel[i].Level
                </td>                        
            }
        </tr>
    </table>
    </text>).Width(with);
    
                c.Template(@<text><center>
                @if (item.Pass == true)
                { <input name="Check" disabled="disabled" checked="checked" type="checkbox" value="@item.Month" title="checkedPupil" typecheck="checkboxDis onkeypress="return runScript(event)""/>}
                else
                { <input name="Check" disabled="disabled" type="checkbox" value="@item.Month" title="checkedPupil" typecheck="checkboxDis onkeypress="return runScript(event)""/>}
                
            </center>
    </text>)
                  .HeaderTemplate(@<text> @Res.Get("Hợp lệ")
    </text>).Width(60);

                c.Template(@<text><center>
              <span style="color:Red"> @item.Note </span>
            </center>
    </text>)
         .HeaderTemplate(@<text> @Res.Get("Chi tiết lỗi")
    </text>).Width(120);
            })
            //.DataBinding(b =>
            //    b.Ajax().OperationMode(GridOperationMode.Client)         

            // )

            .DataKeys(keys => keys.Add(o => o.Month))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(o => o.Enabled(true).Height(400))
            .Scrollable()
            .Render();

    }
}
</div>
<script type="text/javascript">     
    //function _Onkeypress(e) {
    //    var key;
    //    if (window.event)
    //        key = window.event.keyCode;     //IE
    //    else
    //        key = e.which;     //firefox
    //    if (key == 13) {
    //        return false;
    //    }
    //    if (key < 48 || 57 < key) {
    //        if (key != 8 && key != 0 && key != 32 && key != 44) {
    //            return false;
    //        }
    //    }
    //}
   
  
</script>

