﻿@model ClassificationCriteriaViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassificationCriteriaArea.Models
@using SMAS.Web.Areas.ClassificationCriteriaArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject

@{
    List<ClassificationLevelHealth> LstLevel = ViewData[ClassificationCriteriaConstants.LIST_LEVEL] as List<ClassificationLevelHealth>;
    List<ClassificationCriteriaDetailBO> LstCCD = ViewData[ClassificationCriteriaConstants.LIST_CLASSIFICATIONCRITERIADETAIL] as List<ClassificationCriteriaDetailBO>;
    int percent = LstLevel != null ? (100 / LstLevel.Count) : 0;
    var CountCCD = 0;
    var index = 1;
}
@if(LstCCD != null && LstCCD.Count > 0)
{
    <style type="text/css">
        #GridClassificationCriteriaDetail .t-header {
            vertical-align: middle;
            text-align: center;
        }

        #GridClassificationCriteriaDetail .vt-control .editor-label {
            width: 0;
        }

        #lstClassificationCriteria .editor-label-right {
            margin-left: 5px;
        }

        #chkEditAll {
            margin-left: 5px;
        }

        #frmExport fieldset {
            margin: 0 5px 10px;
        }

        #GridClassificationCriteriaDetail {
            margin: 0 5px 0;
        }
    </style>
    <script type="text/javascript">
        var lstLevel = [];
    </script>
    <div>
        @{               
        if (LstCCD != null)
        {
            if (LstCCD.Count > 0)
            {
                CountCCD = LstCCD.Count(); 
            @Html.ViettelHidden("ClassificationCriteriaID", LstCCD.FirstOrDefault().ClassificationCriteriaID)
            }
        }
        if (LstLevel != null)
        {
            for (int i = 0, size = LstLevel.Count; i < size; i++)
            {
            <script type="text/javascript">
                lstLevel.push({ Level: '@LstLevel[i].Level', ClassificationLevelHealthID: '@LstLevel[i].ClassificationLevelHealthID' });
            </script>
            }
            var with = 600;
            var withcot = "0px";
            if (LstLevel.Count() > 0)
            {
                withcot = (600 / LstLevel.Count()) + "px";
            }
            Html.Telerik()
                .Grid<ClassificationCriteriaDetailBO>(LstCCD)
                .Name("GridClassificationCriteriaDetail")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center", @class = "ClassIndex" }).Width(35);
                    //c.Bound(o => o.Month).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(70);
                    c.Template(@<text>@item.Month</text>).Title("Tháng").HtmlAttributes(new { style = "text-align:center" }).Width(70).ClientTemplate("<#= fillMonth(Month) #>");
                    c.Template(@<text>
            <table>
                <colgroup>
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />
                </colgroup>
               <tbody>
                <tr>
                    @for (int i = 0; i < LstLevel.Count; i++)
                {
                    string[] arrIndex = item.IndexValueText != null ? item.IndexValueText.Split(new char[] { '#' }, StringSplitOptions.RemoveEmptyEntries) : null;
                    string indexText = arrIndex != null ? arrIndex.Where(p => p.Contains("_" + LstLevel[i].ClassificationLevelHealthID + "_")).FirstOrDefault() : "";
                    indexText = !string.IsNullOrEmpty(indexText) ? indexText.Replace("_" + LstLevel[i].ClassificationLevelHealthID + "_", "").Replace(",", ".") : "";
                    if (!string.IsNullOrEmpty(indexText) && indexText.Contains(".") && indexText.LastIndexOf(".") == (indexText.Length - 3) && indexText.LastIndexOf("0") == (indexText.Length - 1))
                    {
                        indexText = indexText.Substring(0, indexText.Length - 1);
                    }
                        <td style="color: Black; text-align: center;">
                            <span name="Form_label">@indexText</span>
                            <div name="Form_input" style="display: none; text-align: center;">
                                <input type="text" name="@(LstLevel[i].Level.ToString() + "_" + item.Month.ToString())"  style="width:55px;text-align:left;word-spacing:normal;" value="@indexText" maxlength="5" onkeypress="return _Onkeypress(event, this)" onblur ="return _Onblur(event,this)" />
                            </div>
                        </td>                                              
                }
                </tr>
                <input type="hidden" id = "month" name="Month" style="text-align:left;" value="@item.Month" />
                </tbody>
            </table>
            </text>).ClientTemplate(" <#= renderIndexValue(IndexValueText, Month, ClassificationCriteriaDetailID) #>")
        .HeaderTemplate(@<text>
            <table style="padding: 0px">
                <tr>
                    <td style="text-align: center; font-weight: bold" colspan="@LstLevel.Count">
                        @Res.Get("ClassificationCriteria_Label_Level")
                    </td>
                </tr>
                <tr>
                    @for (int i = 0; i < LstLevel.Count; i++)
                {
                        <td style="color: Black; text-align: center;">@LstLevel[i].Level
                        </td>                        
                }
                </tr>
            </table>
            </text>).Width(with);
                    c.Command(cmd =>
                    {
                        cmd.Edit()
                           .ButtonType(GridButtonType.Image);
                    }).Title(Res.Get("Common_Column_Edit")).Width(50).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center" } });
                })
                .DataBinding(b =>
                    b.Ajax().Select("SearchPaging", "ClassificationCriteria")
                    .Update("Save", "ClassificationCriteria")
                 )
                   .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
                                .OnEdit("Grid_onEdit")
                                .OnComplete("Grid_onComplete")                                
                    )
                .DataKeys(keys => keys.Add(o => o.ClassificationCriteriaID))
                .Selectable()
                .Pageable(p => p.PageSize(ClassificationCriteriaConstants.PAGE_SIZE)
                                .Total((int)ViewData[ClassificationCriteriaConstants.TOTAL_RECORD])
                                .PageTo((int)ViewData[ClassificationCriteriaConstants.CURRENT_PAGE]))
                .Scrollable(p=>p.Enabled(false))
                .EnableCustomBinding(true)
                .Render();

        }
        }
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 70%; padding-right: 10px">
                    @if (CountCCD > 0)
                {
                        @Html.ViettelCheckBox("chkEditAll", 1, new Dictionary<string, object> { { "id", "chkEditAll" }, { "onchange", "changechkEditAll(this)" } }, @Res.Get("ClassificationCriteria_Label_EditAll"), false, false, true)
                }
                else
                { 
                        @Html.ViettelCheckBox("chkEditAll", 1, new Dictionary<string, object> { { "id", "chkEditAll" }, { "onchange", "changechkEditAll(this)" } }, @Res.Get("ClassificationCriteria_Label_EditAll"), false, false, true, true)
                }
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        $('#btnSave').show();
        $('#btnDelete').show();
        $('#btnExportExcel').show();
        $('#btnImportExcel').show();
        var lstInd = 0;
        selectOneCol();
        function Grid_onDataBinding(e) {
            var grid = $('#GridClassificationCriteriaDetail').data('tGrid')
            lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
            //e.data = jsonUtils.serializeObject("frmSearch");
            var dateTime = $('#EffectDate').val();
            var genre = $('#Genre').val();
            var typeConfig = $('#TypeConfig').val();
            e.data = { EffectDate: dateTime, Genre: genre, TypeConfig: typeConfig };
        }
        if ('@CountCCD' == 0) {
            $('#btnDelete').attr('disabled', true);
            $('#btnDelete').addClass('t-state-disabled');
            //$('#btnDelete').attr('style', "color:gray;background-color:gray;border-color:gray;");
            $('#btnExportExcel').attr('disabled', true);
            $('#btnExportExcel').addClass('t-state-disabled');
            //$('#btnExportExcel').attr('style', "color:gray;background-color:gray;border-color:gray;");
        }
        function changechkEditAll(checkbox) {
            var chk = $('input[name=chkEditAll]');
            if ($(chk).is(':checked')) {
                $('span[name=Form_label]').css('display', 'none');
                $('div[name=Form_input]').css('display', 'block');
                $('#btnSave').removeAttr('disabled');
                $('#btnSave').removeClass('t-state-disabled');
                $('.t-button-icon').hide();
                //$('#btnSave').removeAttr('style');
                // fix 0186564
                /*$('#btnExportExcel').attr('disabled', true);
                $('#btnExportExcel').attr('style', "color:gray;background-color:gray;border-color:gray;");
                $('#btnImportExcel').attr('disabled', true);
                $('#btnImportExcel').attr('style', "color:gray;background-color:gray;border-color:gray;");*/
                // end fix 0186564
                $('#AddNew').attr('disabled', true);
                $('#AddNew').addClass('t-state-disabled');
                //$('#AddNew').attr('style', "color:gray;background-color:gray;border-color:gray;");
                $('#btnDelete').attr('disabled', true);
                $('#btnDelete').addClass('t-state-disabled');
                //$('#btnDelete').attr('style', "color:gray;background-color:gray;border-color:gray;");
                if (checkUnwrapForm) {
                    $('#GridClassificationCriteriaDetail').find('table:eq(0)').unwrap();
                    checkUnwrapForm = false;
                }
                
            }
            else {
                $('span[name=Form_label]').css('display', 'block');
                $('div[name=Form_input]').css('display', 'none');
                $('#btnSave').attr('disabled', true);
                $('#btnSave').addClass('t-state-disabled');
                $('.t-button-icon').show();
                //$('#btnSave').attr('style', "color:gray;background-color:gray;border-color:gray;");
                $('#btnExportExcel').removeAttr('disabled');
                $('#btnExportExcel').removeClass('t-state-disabled');
                //$('#btnExportExcel').removeAttr('style');
                $('#btnImportExcel').removeAttr('disabled');
                $('#btnImportExcel').removeClass('t-state-disabled');
                $('#AddNew').removeAttr('disabled');
                //$('#AddNew').removeAttr('style');
                $('#AddNew').removeClass('t-state-disabled');
                $('#btnDelete').removeAttr('disabled');
                $('#btnDelete').removeClass('t-state-disabled');
                //$('#btnDelete').removeAttr('style');
            }

        }
        function selectOne() {
            var check = $(".chkStatus:checked").length;
            if (check == (@index -1)) {
            $('input[typecheck=checkboxAll]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll]').attr('checked', false);
        }

    }
    function selectOneCol() {
        var chk = $('#chkAll');
        if ($(chk).is(':checked')) {
            $('input[typecheck=checkbox]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkbox]').attr('checked', false);
        }

    }
    function Grid_onCommand(e) {
        if (e.name == 'update') {
            checkUnwrapForm = false;
        }
    }
    //function _Onkeypress(e) {
    //    var key;
    //    if (window.event)
    //        key = window.event.keyCode;     //IE
    //    else
    //        key = e.which;     //firefox
    //    if (key == 13) {
    //        return false;
    //    }
    //    if (key < 48 || 57 < key) {
    //        if (key != 8 && key != 0 && key != 32 && key != 44) {
    //            return false;
    //        }
    //    }
    //}
    function fillMonth(month) {
        var htmlMonth = '';
        htmlMonth += month;
        return htmlMonth;
    }
    </script>
}
else
{
    <div class="vt-ResultPanel">
        <div class="vt-ResultPanel-Title" style="border-bottom:1px solid #AABFD4;">
            <div class="vt-ResultPanel-Title-Message">
                Bảng tiêu chí chưa được định nghĩa
            </div>
            <div class="vt-ResultPanel-Title-Button">
            </div>
            <div class="Clear"></div>
        </div>
    </div>
    <script type="text/javascript">
        $('#btnSave').hide();
        $('#btnDelete').hide();
        $('#btnExportExcel').hide();
        $('#btnImportExcel').hide();
    </script>
}