﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.JudgeRecordSemesterArea
@using SMAS.Web.Areas.JudgeRecordSemesterArea.Models
<div class="listsubject">
    <fieldset style="height: 40px;">
        <legend>@Res.Get("JudgeRecord_Label_Subject")</legend>
        @(Html.ViettelRadioBox("SubjectID", "", new Dictionary<string, object> { { "onclick", "LoadListJudgeSemesterRecord(this);" } },
                                    (List<ViettelCheckboxList>)ViewData[JudgeRecordSemesterConstants.LIST_SUBJECT], false))
        <input type="hidden" id="_SubjectID" name="_SubjectID" value="" />
    </fieldset>
</div>
<div class="addnewChk">
    @if (bool.Parse(ViewData[JudgeRecordSemesterConstants.HASPERMISION].ToString()))
    {
        <input type="checkbox" value="" id="btnaddnewChk" name="AddNew" disabled="disabled" onclick="AddNewChkClick()" />@Res.Get("JudgeRecord_Label_MarkInput")
    }
    else
    {
        <input type="checkbox" value="" id="btnaddnewChk" disabled="disabled" name="AddNew"
            onclick="AddNewChkClick()" />@Res.Get("JudgeRecord_Label_MarkInput")
    }
</div>
