﻿@model ListReligionViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ListReligionArea.Models

@using (Ajax.BeginForm("Detail",
                       "ListReligion",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DetailSuccess",
                           OnFailure = "DetailFail"
                       },
                       new { id = "frmDetail" }
                       ))
{
    <div id="DetailListReligion" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelTextboxFor(model => model.Resolution, Res.Get("Religion_Label_Resolution"), new Dictionary<string, object>()
  {{"disabled","disabled"}
  }, false)

            @Html.ViettelTextAreaFor(model => model.Description, Res.Get("Religion_Label_Description"), false, new Dictionary<string, object>()
  {{"disabled","disabled"}
      , {"class","multi-line"}
      ,{"rows","5"}
  })

            @Html.ViettelHidden("ReligionID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('detailDialog');", "")
        </div>
    </div>



}




