@model ListReligionViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ListReligionArea.Models
@using SMAS.Web.Areas.ListReligionArea
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    IEnumerable<ListReligionViewModel> lsEmployeeDis = (IEnumerable<ListReligionViewModel>)ViewData[ListReligionConstants.LIST_RELIGION];
    var count = lsEmployeeDis.Count();
}
    <div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="text-right">
            @{
                if (checkCreate)
                {
                <input type="button" class="btn btn-info btn-icon btn-round btn-icon btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
                }
            }
        </div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ListReligionViewModel>)ViewData[ListReligionConstants.LIST_RELIGION])
            .Name("GridReligion")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

                c.Bound(o => o.Resolution).Sortable(true);
                c.Bound(o => o.Description).Sortable(true);




                c.Command(cmd =>
                {
                    cmd.Custom("vtDetail")
                       .Text(Res.Get("Common_Column_Detail"))
                       .Ajax(true)
                       .Action("Detail", "ListReligion")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-details" });


                }).Title(Res.Get("Common_Column_Detail")).Width(20).Visible(false).HtmlAttributes(new { style = "text-align:center" });


                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ListReligion")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(70).Visible(checkUpdate).HtmlAttributes(new { style = "text-align:center" });


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "ListReligion")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" }).HtmlAttributes(new { style = "text-align:center" });


                }).Title(Res.Get("Common_Column_Delete")).Width(70).Visible(checkDelete).HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "ListReligion")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.ReligionID))
            .Pageable().Resizable(o => o.Columns(true))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Render();
                      
    }
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridReligion').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }
        if (e.name == "vtDetail") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("detailDialog");
            smas.bindTo(item, "detailDialog");
            smas.openDialog("detailDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("Religion_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.ReligionID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>
