﻿@*

- Mô hình thực hiện. Vì hiện tại chưa có thư viện chuyển chart data (json, object) sang svg data, 
  nên sử dụng jquery của client để thực hiện chuyển đổi ==> Tốn băng thông đường truyền + chậm.

- Có một số dll third party hổ trợ: SVG Rendering Engine http://svg.codeplex.com/ 
  Tuy nhiên rất ít support nên chưa apply vào sử dụng

- Chức năng bên dưới thực hiện parse dữ liệu từ telerik chart sang data json để jquery thực hiện 
  chuyển sang SVG data format. Sau khi client chuyển sẽ đẩy về server thực hiện tạo image

- Tốc độ xử lý 100 học sinh trong thời gian trung bình: 12s (đường truyền localhost: 120/400 down/up)

*@

@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.SCSMonthlyGrowthArea;

@{
    var strings = string.Empty;
    string c11 = string.Empty;
    List<PupilProfileBO> lstPupuil = (List<PupilProfileBO>)ViewData[SMAS.Web.Areas.HealthTestArea.HealthTestConstants.LIST_PUPIL];
    List<MonthlyGrowthBO> lstGrowthMonthly = (List<MonthlyGrowthBO>)ViewData[SMAS.Web.Areas.HealthTestArea.HealthTestConstants.LIST_CHART_CLASS];
    //Loop for render chart
    foreach(PupilProfileBO pp in lstPupuil)
    {
        // Chart weight
        ///////////////////////////////////////////////////////////
        List<MonthlyGrowthBO> lstDataOfClass = lstGrowthMonthly.Where(m=>m.PupilID == pp.PupilProfileID).ToList();
        if (lstDataOfClass != null && lstDataOfClass.Count > 0)
        {
            var female = pp.Genre == SMAS.Web.Constants.GlobalConstants.GENRE_FEMALE;
            <div style="width: 849px; height: 498px;">
                @{
                    Html.Telerik().Chart(lstDataOfClass)
                        .Name((female) ? "WF" + pp.PupilProfileID : "WM" + pp.PupilProfileID)
                        .Legend(legend => legend.Visible(false))
                        .AxisDefaults(axis =>
                        {
                            axis.MajorGridLines(p => p.Visible(false));
                            axis.MinorGridLines(p => p.Visible(false));
                            axis.MajorTickSize(0);
                            axis.MinorTickSize(0);
                            axis.Line(0, "#ddd", ChartDashType.Dash);
                        })
                        .Title("")
                        .Series(s =>
                        {
                            s.Line(p => p.Weight).Width(2).Color("blue").Labels(p => p.Visible(true)
                                .Color("#FF5567").Font("bold 14px Arial, sans-serif"))
                                .Markers(p => p.Visible(true).Background("blue").Size(10)).MissingValues(ChartLineMissingValues.Interpolate);
                        })
                        .ValueAxis(axis =>
                        {
                            axis.Numeric().Min(0).Max(30).Labels(false);
                        })
                        .CategoryAxis(axis =>
                        {
                            axis.Categories(p => p.Month);
                            axis.Labels(false);

                        })
                        .HtmlAttributes(new { style = "height:100%;weight:100%; z-index: 1;", PupilID = pp.PupilProfileID, name = "chart_pupil", mapwidth = "1", female = (female) ? "1" : "0" })
                        .Tooltip(t => t.Visible(false))
                        .Render();
                    }
             </div>
            //Chart height
            /////////////////////////////////////////////////////////////
            <div style="width: 849px; height: 597px;">
                @{
                    Html.Telerik().Chart(lstDataOfClass)
                        .Name((female) ? "HF" + pp.PupilProfileID : "HM" + pp.PupilProfileID)
                        .Legend(legend => legend.Visible(false))
                        .AxisDefaults(axis =>
                        {
                            axis.MajorGridLines(p => p.Visible(false));
                            axis.MinorGridLines(p => p.Visible(false));
                            axis.MajorTickSize(0);
                            axis.MinorTickSize(0);
                            axis.Line(0, "#ddd", ChartDashType.Dash);
                        })
                        .Title("")
                        .Series(s =>
                        {
                            s.Line(p => p.Height).Width(2).Color("blue").Labels(p => p.Visible(true)
                                .Color("#FF5567").Font("bold 14px Arial, sans-serif"))
                                .Markers(p => p.Visible(true).Background("blue").Size(10)).MissingValues(ChartLineMissingValues.Interpolate);
                        })
                        .ValueAxis(axis => axis.Numeric().Min(45).Max(125).Labels(false))
                        .CategoryAxis(axis =>
                        {
                            axis.Categories(p => p.Month);
                            axis.Labels(false);
                        })
                        .HtmlAttributes(new { style = "height:100%;weight:100%; z-index: 1;", PupilID = pp.PupilProfileID, name = "chart_pupil", female = (female) ? "1" : "0" })
                        .Tooltip(t => t.Visible(false))
                        .Render();
                    }
            </div>
        }
    }
    //End of loop
}