﻿@using Telerik.Web.Mvc.UI;
@using System.Collections;
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.SMSEduArea;
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
<div>
    <div style="float: left;">
        Đường dẫn file excel(<p style="color: Red; display: inline;">*</p>)
        <input type="text" id="noFileSelect" value="@Res.Get("Common_Label_NoFileSelect")" style="width:210px; background-color: white; height: 20px; margin: 4px 8px;" disabled="disabled" />
    </div>
    <div style="width: 110px; float: right; ">
        @(Html.Telerik().Upload()
              .Name("attachments")
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async.Save("ImportExcel", "SendSMSToParent")
                .AutoUpload(false))
                .ClientEvents(events => events
                    .OnSelect("OnSelectImport")
                    .OnUpload("OnUpload")
                    .OnSuccess("OnUploadSuccess")
                    .OnError("OnUploadError")
                    ))
    </div>

</div>
<script type="text/javascript">
    var _intervalId;
    var IsValid = true;
    function OnSelectImport(e) {
        var files = e.files;
        $('#noFileSelect').val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
        
    }
    function hideUploadButton() {
        // Try and find the upload button.
        $('#attachments').closest('div.t-upload').find('.t-button.t-upload-button').find('span:first').text('Chọn file');
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        if (button.length > 0) {
            // Replace button Upload file
            button.text('Chấp nhận');
            //$(button).attr("style", 'margin-left: -244px; margin-top: -30px; position: absolute;');
            button.css({
                'margin-left': '-190px',
                'margin-top': '-30px',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);
        }
    }

    function OnUpload(e) {
        smas.showProcessingDialog();
        /// set property
        e.data = { isSignMsg: $('#AllowSignMessage').is(':checked') };
        // validate
        IsValid = true;
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize > 1024) {
                        smas.alert({ Type: "error", Message: 'Dung lượng file excel không được lớn hơn 1MB' });
                        e.preventDefault();
                        IsValid = false;
                        return false;
                    } else {
                        return true;
                    }
                }
            } else {
                smas.alert({ Type: "error", Message: 'File không đúng định dạng' });
                e.preventDefault();
                IsValid = false;
                return false;
            }
        });
    }

    function OnUploadSuccess(e) {
        smas.hideProcessingDialog();
        if (e.response.Type == 'error') {
            smas.alert({ Type: "error", Message: e.response.Message });
        } else {
            smas.closeDialog("SelectImport");
            smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
            // Binding message
            $('#fmlstPupil').html(e.response.PartialViewHtml);
            //Chon bản tin trao đổi
            $('select[name="SMSType"] option[typecode="' + SMS_TYPE_COMUNICATION_CODE + '"]').attr("selected", true);
            $('#CalendarSelector').hide();
            $('#SemesterID').hide();
            $('#MonthID').hide();
            $('#ComboTimeMark').hide();
            $('#ComboExamID').hide();
            $("#AddtionalPanel").hide();
            // Remove combo lien quan
            $(document).find('td[class="ComboSelector"]').remove();
            // Hien checkbox Toàn lớp
            $("#commtype").css({ 'visibility': 'visible', display: '' });
            $("#toanlop").attr("checked", false);
            $("#commtype #lblTimerUsed").show();
            isImportClass = true;
            $('textarea[id^="SMS"]').each(function () {
                countSMS(this);
            });
            // Turn on show confirm when import success
            //Imported = true;
            //bindUnload();
        }
    }

    function OnUploadError(e) {
        smas.hideProcessingDialog();
        smas.alert({ Type: "error", Message: e.response.Message });
    }
</script>
@(Html.Telerik().Window()
    .Name("ImportNotSentConfirm")
    .Title("Thông báo")
    .Content(@<text>
        <div class="popup-content-fault" id="div-SMS-content">
            Nội dung tin nhắn Import vẫn chưa được gửi. Thầy/cô có chắc muốn tiếp tục.
        </div>
        <div style="width: 100%; text-align: center;">
            <input type="button" id="btOK" value="Đồng ý" class="t-button" onclick="okNextAction()" />
            <input type="button" id="btCancel" value="Hủy" class="t-button" onclick="okStopAction()" />
        </div>
    </text>)
    .Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
)
<script type="text/javascript">
    var Action = 0; /*  1: Check all class;
                        2: check change mesage type */
    // Item Message type previous
    var previousItemType = '';
    var Imported = false;
    var continueHandler = null;
    //Bind confirm action when imported
    function bindUnload() {
        $('a').click(function () {
            var url = $(this).attr('href');
            // not bind menu level 1 (non-working)
            if (!(url && url != "javascript:" && url.indexOf("#tabs-") != 0)) return;
            if (Imported && typeof (PopupImportedNoSend) == "function") {
                PopupImportedNoSend(function () {
                    window.location = url;
                });
            }
        });
        // Send request to  SMAS2
        iFrameUtils.postSpecialCode({ code: 3, value: "confirm import" });
    }
    // unbind when sent sms
    function unbindConfirm() {
        // reset value
        Imported = false;
        // remove binding popup confirm in SMAS2
        iFrameUtils.postSpecialCode({ code: -3, value: "unbind confirm" });
    }

    // Not send and next action
    function okNextAction() {
        smas.closeDialog("ImportNotSentConfirm");
		setTimeout(function(){
			Imported = false;
			// remove binding popup confirm in SMAS2
			iFrameUtils.postSpecialCode({ code: -3, value: "unbind confirm" });
			continueHandler();
			
		},400);
       
    }
    // stop action
    function okStopAction() {
        smas.closeDialog("ImportNotSentConfirm");
		//setTimeout(function(){
		//	if (Action == 1) {
		//		changeChkAllClass();
		//	} else if (Action == 2) {
		//		$('select[name="SMSType"] option[typecode="' + SMS_TYPE_COMUNICATION_CODE + '"]').attr("selected", true);
		//	}
		//},500);
        
    }
    //Change Imported and continous execute action
    function PopupImportedNoSend(handler) {
        showConfirmPopup();
        continueHandler = handler;
    }
    ////Show popup
    function showConfirmPopup() {
        smas.openDialog("ImportNotSentConfirm", "", {});
    }
</script>
