﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.LearningOutcomePrimaryReportArea
@using SMAS.Models.Models
@using SMAS.Business.Common
@using Telerik.Web.Mvc.UI
@using SMAS.Business.BusinessObject
@{
    var selectedSemester = ViewData[LearningOutcomePrimaryReportConstants.DF_SEMESTER];
    var semesters = new SelectList((IEnumerable<ComboObject>)ViewData[LearningOutcomePrimaryReportConstants.LS_SEMESTER], "key", "value", selectedSemester);
}
<form id="LearningOutcomePrimaryReportForm">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Content">
            <table>
                <tr>
                    <td style="width: 20%"></td>
                    <td style="width: 60%">
                        @(Html.ViettelCombobox(Res.Get("LearningOutcomePrimaryReport_Label_EducationLevel"), "EducationLevelID",
                                new SelectList((IEnumerable<EducationLevel>)ViewData[LearningOutcomePrimaryReportConstants.LS_EDUCATION_LEVEL],
                                "EducationLevelID", "Resolution"),
                                SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },
                                    {"disabled", "disabled"}
                                }, false, true))
                        @(Html.ViettelCombobox(Res.Get("LearningOutcomePrimaryReport_Label_Semester"), "Semester",
                                semesters,
                                SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },{"disabled", "disabled"}
                                }, true, false))
                        @(Html.ViettelCombobox(Res.Get("LearningOutcomePrimaryReport_Label_Subject"), "SubjectID",
                                        new SelectList((IEnumerable<SubjectCatBO>)ViewData[LearningOutcomePrimaryReportConstants.LS_SUBJECT],
                                        "SubjectCatID", "DisplayName"),
                                SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },
                                    {"disabled", "disabled"}
                                }, false, false))

                    </td>
                    <td style="width: 20%"></td>
                </tr>
                <tr>
                    <td style="text-align: left; padding-left: 400px;" colspan="3">
                        @Html.ViettelRadioButton("rdoReportType", 1, true, new Dictionary<string, object> { 
                { "onclick", "clickrdoPupilReward()" }, 
                { "id", "rdoPupilReward" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListPupilReward")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 14, true, new Dictionary<string, object> { 
                { "onclick", "clickrdoPupilRewardTT30()" }, 
                { "id", "rdoPupilRewardTT30" } 
            })
                        @Res.Get("Danh sách khen thưởng theo TT30")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 2, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoPupilRetest()" }, 
                { "id", "rdoListPupilRetest" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListPupilRetest")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 3, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoPupilRetestRegistration()" }, 
                { "id", "rdoListPupilRetestRegistration" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListPupilRetestRegistration")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 4, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoMarkSemester()" }, 
                { "id", "rdoMarkSemester" } 
            })
                       
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListMarkSemester")
                       <br />
                         @Html.ViettelRadioButton("rdoReportType", 12, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoMarkSemester()" }, 
                { "id", "rdoMarkSemester" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListMarkSemesterTT30")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 5, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoMarkSummedUpGroupByClass()" }, 
                { "id", "rdoMarkSummedUpGroupByClass" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListMarkSummedUpGroupByClass")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 6, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoCapacityLevel()" }, 
                { "id", "rdoCapacityLevel" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListCapacityLevel")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 7, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoConductLevel()" }, 
                { "id", "rdoConductLevel" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListConductLevel")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 8, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoMarkSummedUpGroupBySubject()" }, 
                { "id", "rdoMarkSummedUpGroupBySubject" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListMarkSummedUpGroupBySubject")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 9, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoMarkSummedUpGroupByEducationLevel()" }, 
                { "id", "rdoMarkSummedUpGroupByEducationLevel" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListMarkSummedUpGroupByEducationLevel")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 10, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoPupilEmulation()" }, 
                { "id", "rdoPupilEmulation" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListPupilEmulation")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 11, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoFinalResult()" }, 
                { "id", "rdoFinalResult" } 
            })
                        @Res.Get("LearningOutcomePrimaryReport_Label_ListFinalResult")
                        <br />
                         @Html.ViettelRadioButton("rdoReportType", 13, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoFinalResult()" }, 
                { "id", "rdoFinalResult" } 
            })
                        @Res.Get("Thống kê kết quả cuối năm TT30")
                        <br />
                    </td>
                </tr>
            </table>
            <div class="vt-SearchPanel-Button" style="text-align: center">
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "")
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $("input:radio[name=rdoReportType]:first").attr('checked', true);

    function clickrdoPupilReward() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $("#LearningOutcomePrimaryReportForm #Semester").get(0).selectedIndex = 1
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoPupilRetest() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $("#LearningOutcomePrimaryReportForm #Semester").get(0).selectedIndex = 1
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoPupilRetestRegistration() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $("#LearningOutcomePrimaryReportForm #Semester").get(0).selectedIndex = 1
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", false);
    }

    function clickrdoMarkSemester() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", false);
    }

    function clickrdoMarkSummedUpGroupByClass() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoCapacityLevel() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoConductLevel() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoMarkSummedUpGroupBySubject() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoMarkSummedUpGroupByEducationLevel() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoPupilEmulation() {

        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $("#LearningOutcomePrimaryReportForm #Semester").get(0).selectedIndex = 1
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoFinalResult() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", true);
        $("#LearningOutcomePrimaryReportForm #Semester").get(0).selectedIndex = 1
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", true);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    function clickrdoPupilRewardTT30() {
        $('#LearningOutcomePrimaryReportForm #EducationLevelID').attr("disabled", false);
        //$("#Semester").get(0).selectedIndex = 1;
        $('#LearningOutcomePrimaryReportForm #Semester').attr("disabled", false);
        $('#LearningOutcomePrimaryReportForm #SubjectID').attr("disabled", true);
    }

    $('#LearningOutcomePrimaryReportForm').submit(function (event) {
        try {
            event.preventDefault();
            var reportType = $('input:radio[name=rdoReportType]:checked').val();
            if (reportType == 1) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetPupilRewardReport", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewPupilRewardReport", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 2) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportPupilRetest", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportPupilRetest", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 3) {
                CustomValidate.checkRequire("SubjectID", 0, '@Res.Get("LearningOutcomePrimaryReport_Label_Subject")');
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportPupilRetestRegistration", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportPupilRetestRegistration", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 4) {
                CustomValidate.checkRequire("SubjectID", 0, '@Res.Get("LearningOutcomePrimaryReport_Label_Subject")');
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportMarkSemester", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportMarkSemester", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 5) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportMarkSummedUpGroupByClass", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportMarkSummedUpGroupByClass", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 6) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportCapacityLevel", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportCapacityLevel", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 7) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportConductLevel", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportConductLevel", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 8) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportMarkSummedUpGroupBySubject", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportMarkSummedUpGroupBySubject", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 9) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportMarkSummedUpGroupByEducationLevel", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportMarkSummedUpGroupByEducationLevel", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 10) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportPupilEmulation", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportPupilEmulation", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 11) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportFinalResult", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportFinalResult", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 12) {
                CustomValidate.checkRequire("SubjectID", 0, '@Res.Get("LearningOutcomePrimaryReport_Label_Subject")');
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportMarkSemesterTT30", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportMarkSemesterTT30", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            }
            else if (reportType == 14) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetPupilRewardReportTT30", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewPupilRewardReportTT30", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            } else if (reportType == 13) {
                smas.getReport('LearningOutcomePrimaryReportForm', '@Url.Action("GetReportFinalResultTT30", "LearningOutcomePrimaryReport")',
            '@Url.Action("GetNewReportFinalResultTT30", "LearningOutcomePrimaryReport")', '@Url.Action("DownloadReport", "LearningOutcomePrimaryReport")');
            }
} catch (ex) {
    console.log(ex);
}
    });

</script>
