﻿@model List<ExaminationsViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExaminationsArea
@using SMAS.Web.Areas.DOETExaminationsArea.Models

@{   
    bool isCurYear = (bool)ViewData[DOETExaminationsConstants.IS_CUR_YEAR];
}

<div class="vt-ResultPanel">
    <div class="text-right p-t-10 p-b-10">
    @{
        if(isCurYear)
        {
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", false, "btn btn-info btn-round btn-icon btn-icon-plus")
        }
        }
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExaminations")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                c.Bound(o => o.ExaminationsName).Sortable(false).Width(150);
                c.Template(@<text>
                    <table>
                        <tr>
                            <td style="text-align:center">
                                @{
                                    
                                    @String.Format("{0:dd/MM/yyyy}", item.FromDate)
                                }
                            </td>
                            <td style="text-align:center">
                                @{
                                    @String.Format("{0:dd/MM/yyyy}", item.ToDate)
                                    
                                 }
                            </td>
                        </tr>
                    </table>
                </text>).HeaderTemplate(@<text>
                        <table>
                            <tr>
                                <th class="t-header" scope="col" colspan="2">
                                   @Html.Raw(Res.Get("DOETExaminations_Time"))
                                </th>
                            </tr>
                            <tr>
                                <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">@Html.Raw(Res.Get("DOETExaminations_FromDate"))</th>
                                <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">@Html.Raw(Res.Get("DOETExaminations_ToDate"))</th>
                            </tr>
                        </table>
                </text>).HtmlAttributes(new { style = "padding: 0px;text-align:center" }).Width(200);
                c.Bound(o => o.Deadline).HtmlAttributes(new { style = "padding: 0px;text-align:center" }).Width(100);
                c.Bound(o => o.ExamCouncil).Width(150);
                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "DOETExaminations")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" })
                       ;
                }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(isCurYear);

                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Delete"))
                       .Ajax(true)
                       .Action("Delete", "DOETExaminations")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });
                }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(isCurYear);
            })
            .RowAction(row =>
            {
                row.HtmlAttributes["class"] = "";
                if (row.DataItem.EnableToDelete == false)
                {
                    row.HtmlAttributes["class"] = "notDelete";
                }

            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "DOETExaminations")
             )
            .ClientEvents(e => e.OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.ExaminationsID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(350))
            .Render();
                      
    }
</div>

<script type="text/javascript">

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            $("#createDialog #frmCreate").html("");
            openDialog("editDialog", '@Url.Action("Edit")', { examinationsId: item.ExaminationsID });
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("DOETExaminations_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.ExaminationsID }, search, null);
            });
        }
    }

    function PrepareCreate() {
        $("#editDialog #frmEdit").html("");
        openDialog("createDialog", '@Url.Action("Create")', {});
    }

    $(document).ready(function () {
        $(".notDelete").find(".t-grid-vtDelete").remove();
    });

</script>
