@model GraduationLevelViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GraduationLevelArea.Models
@using SMAS.Web.Areas.GraduationLevelArea
@using SMAS.Web.Constants

@using (Ajax.BeginForm("Create",
                       "GraduationLevel",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
	@Html.AntiForgeryToken()
         
    //@Html.ViettelEditorForModel()
     <div>
            <table>
                <tr>
                    <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_AppliedLevel"), "AppliedLevel",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_AppliedLevel]),
                                         GlobalConstants.PLACEHOLDER_CHOICE ,
                     new Dictionary<string, object>() { { "style", "width: 300px" } }, false, true)            
                    </td>
                    <tr>
                        <td>
                                @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_Resolution"), "Resolution",
                                            ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_Resolution]),
                      GlobalConstants.PLACEHOLDER_CHOICE,
                     new Dictionary<string, object>() { { "style", "width: 300px" } }, false, true)            
                        </td>
                    </tr>
                    <tr>
                    <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_FullfilmentStatus"), "FullfilmentStatus",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_FullfilmentStatus]),
                         GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>() { { "style", "width: 300px" } }, false,true )            
                    </td>
                </tr>
                </tr>
            </table>
        </div>
    <div class="dialog-buttons">
		@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
		@Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "")       
    </div>
}

<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            search();
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>


