@model GraduationLevelViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GraduationLevelArea.Models
@using SMAS.Web.Areas.GraduationLevelArea
@using SMAS.Web.Constants
@using (Ajax.BeginForm("Edit",
                       "GraduationLevel",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
         
    //@Html.ViettelEditorForModel()
     <div>
            <table>
                <tr>
                    <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_AppliedLevel"), "AppliedLevel",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_AppliedLevel]),
                                         GlobalConstants.PLACEHOLDER_CHOICE,
                     new Dictionary<string, object>() { { "style", "width: 300px" } }, false, true)            
                    </td>
                    <tr>
                        <td>
                                @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_Resolution"), "Resolution",
                                            ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_Resolution]),
                      GlobalConstants.PLACEHOLDER_CHOICE,
                     new Dictionary<string, object>() { { "style", "width: 300px" } }, false, true)            
                        </td>
                    </tr>
                    <tr>
                    <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_FullfilmentStatus"), "FullfilmentStatus",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_FullfilmentStatus]),
                         GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>() { { "style", "width: 300px" } }, false, true)            
                    </td>
                </tr>
                </tr>
            </table>
        </div>
    @Html.ViettelHidden("GraduationLevelID")

    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
    </div>

}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>


