@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GraduationLevelArea.Models
@using SMAS.Web.Areas.GraduationLevelArea
@using SMAS.Web.Constants
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "GraduationLevel",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstGraduationLevel",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        //@Html.ViettelEditorForModel()
        <div>
            <table>
                <tr>
                    <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_AppliedLevel"), "AppliedLevel",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_AppliedLevel]),
                                         GlobalConstants.PLACEHOLDER_ALL ,
                                        new Dictionary<string,object>() { { "style", "width: 200px" } }, false, false)            
                    </td>
                      <td>
                            @Html.ViettelCombobox(Res.Get("GraduationLevel_Label_Resolution"), "Resolution",
                                        ((IEnumerable<SelectListItem>)ViewData[GraduationLevelConstants.LIST_Resolution]),
                                         GlobalConstants.PLACEHOLDER_ALL,
                                        new Dictionary<string,object>()
                                        {{ "style", "width: 200px" }},false,false)            
                    </td>
                </tr>
            </table>
        </div>
        <div class="vt-form-button">            
			@Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




