				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GraduationLevelArea.Models

@{
    ViewBag.Title = @Res.Get("System_GraduationLevel");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstGraduationLevel">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("GraduationLevel_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("GraduationLevel_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
)

<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:30%}#SearchPanel .editor-field{width:30%;margin-right:10px}
</style>

