﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.MarkRecordCareerArea
@using SMAS.Models.Models
<fieldset>
    
    <div id="ListClass">
        @{
            List<ApprenticeshipClass> ListClass = (List<ApprenticeshipClass>)ViewData[MarkRecordCareerConstants.LIST_CLASS];
            List<ViettelCheckboxList> ListCl = new List<ViettelCheckboxList>();
            
            foreach (ApprenticeshipClass item in ListClass)
            {
                ViettelCheckboxList obj = new ViettelCheckboxList();
                obj.Label = item.ClassName;
                obj.Value = item.ApprenticeshipClassID;
                ListCl.Add(obj);
                //@Html.ViettelButton(item.ClassName, "button", "SelectClass(this, " + item.ApprenticeshipClassID + ")", "")
            }
            @Html.ViettelListButtonStyle2("ListClass", "", new Dictionary<string, object>(), "javascript:SelectClass(this)", (List<ViettelCheckboxList>)ListCl, false)
            
        }
        @Html.Hidden("ClassID")
    </div>
</fieldset>


<script type="text/javascript">
    $(document).ready(function () {
        var objectClass = $("#ListClass").find("a").first();
        if (objectClass != null && objectClass != undefined) {
            smas.showProcessingDialog();
            SelectClass($(objectClass));
        }
    });
</script>
