﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.MarkRecordCareerArea
@using SMAS.Models.Models

<style type="text/css">
    #frmEdit .t-header,#frmViewData .t-header{padding:0!important;text-align:center!important;vertical-align:middle!important}#frmEdit .t-header .t-link,#frmViewData .t-header .t-link{text-align:center!important;padding:0 13px!important}#lbltitle{font-weight:700;padding:5px;text-align:center}#frmEdit .t-grid th td,#frmViewData .t-grid th td{padding:0!important;text-align:center}#frmEdit .t-grid td table td,#frmViewData .t-grid td table td{padding:0!important}#frmEdit .t-grid .editor-label,#frmViewData .t-grid .editor-label{display:none}#frmEdit .editor-field,#frmViewData .editor-field{padding-bottom:0!important}#frmEdit .vt-control,#frmViewData .vt-control{width:80%}#frmEdit #ListClass .t-button,#frmViewData #ListClass .t-button{margin-right:5px}#frmEdit .t-grid td,#frmViewData .t-grid td{padding:0!important}#frmEdit .editor-field,#frmViewData .editor-field{width:100%!important;padding-left:1px}#frmEdit .subcol-content,#frmViewData .subcol-content{width:30px}#frmEdit .lblMark,#frmViewData .lblMark{display:block;text-align:right}#frmEdit,#frmViewData{width:100%}.ClassPanel{margin-top:5px}.t-header table{height:40px}
</style>


@{
    ViewBag.Title = Res.Get("MarkRecordCareer_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _check = (bool)ViewData[MarkRecordCareerConstants.MESSAGE];
}

@using (Ajax.BeginForm("Save",
                       "MarkRecordCareer",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "UpdateSuccess",
                           OnFailure = "UpdateFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ViettelHidden("Semester", new GlobalInfo().Semester)
    </div>
    <div id="SearchPanel">
        <div class="SemesterPanel">
            @Html.ViettelListButtonStyle2("ListSemester", new GlobalInfo().Semester.Value.ToString(), new Dictionary<string, object>(), "javascript:ChoiceSemester(this)", (List<ViettelCheckboxList>)ViewData[MarkRecordCareerConstants.LIST_SEMESTER], false)
            
        </div>
        <div class="Clear">
        </div>
        <div class="ClassPanel">
            @Html.Partial("_ListSubjectApprenticeShip")

        </div>
    </div>
    <div id="lstMarkRecord" style="padding: 8px;">
    </div>
    
}



<script type="text/javascript">
    var check = '@_check';


    function ChoiceSemester(button) {
        controlUtils.ChangeStyleButton(button);
        $('#Semester').val($(button).parent().val());
        loadClass();
    }

    $(document).ready(function () {
        if (check == true) {
            smas.alert('@Res.Get("SemeterDeclaration_Null")');
            $("#SearchPanel").find("input[type=radio]").attr("disabled", "disabled");
            $("#SearchPanel").find("input[type=radio]").addClass("t-state-disabled");
            $("#ListClass").find("input:button").attr("disabled", "disabled");
            $("#ListClass").find("input:button").addClass("t-state-disabled");
        }
        else {
            $("input[type=radio][value=@(new GlobalInfo().Semester.Value)]").attr("checked", "");
            $("#SearchPanel").find("input[type=radio]").removeAttr("disabled", "disabled");
            $("#SearchPanel").find("input[type=radio]").removeClass("t-state-disabled");
            $("#ListClass").find("input:button").removeAttr("disabled", "disabled");
            $("#ListClass").find("input:button").removeClass("t-state-disabled");
        }
    });
    function loadClass(chkSemester) {

        var semester = $('#Semester').val();
        $(".ClassPanel").load(
                '@Url.Action("GetListSubject", "MarkRecordCareer")',
                {
                    Semester: semester

                }, function () { smas.hideProcessingDialog(); }
            );
    }
    function Search() {
        ClassID = $("#ClassID").val();
        var semester = $('#Semester').val();
        if (ClassID != "") {
            $("#lstMarkRecord").load(
                '@Url.Action("Search", "MarkRecordCareer")',
                {
                    Semester: semester,
                    ClassID: ClassID
                },
                function () { smas.hideProcessingDialog(); }
            );
        }
    }
    function SelectClass(obj) {
        smas.showProcessingDialog();
        $("#ClassID").val($(obj).parent().val());
        controlUtils.ChangeStyleButton(obj);
        $("#ListClass input[type=button]").removeAttr("disabled");
        $("#ListClass input[type=button]").removeClass("t-state-disabled");
        $(obj).attr("disabled", "disabled");
        $(obj).addClass("t-state-disabled");
       
        Search();
        smas.hideProcessingDialog();
    }




    function UpdateSuccess(msg) {
        smas.alert(msg);
        Search();
    }
    function UpdateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

</script>
