﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.MarkRecordCareerArea
@using SMAS.Web.Areas.MarkRecordCareerArea.Models

@using (Ajax.BeginForm("ImportDataPass",
                       "MarkRecordCareer",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ImportSuccess",
                           OnFailure = "ImportFail"
                       },
                       new { id = "frmViewData" }
                       ))
{
            @Html.AntiForgeryToken()  
       var index = 1;
       int count = 0;
       List<GridColumn> ListColumn = (List<GridColumn>)ViewData[MarkRecordCareerConstants.LIST_COLUMN];
       int Semester = (int)ViewData[MarkRecordCareerConstants.SEMESTER];
       Html.Telerik()
           .Grid((List<MarkRecordCareerViewModel>)ViewData[MarkRecordCareerConstants.LIST_MARK])
           .Name("GridMarkRecordCareer")

           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

               c.Bound(o => o.FullName).Title(Res.Get("PupilRanking_Label_FullName")).Sortable(true).Width(50);
               c.Bound(o => o.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode")).Sortable(true).Width(50);


               c.Template(
                   @<text>
                    
                    <table>
                        <tr>
                            @{
                                foreach (GridColumn col in ListColumn)
                                {

                                    if (col.SubColumns.Count == 0)
                                    {
                                        object Mark = (item.MarkData.ContainsKey(col.Title) ? String.Format("{0:#.#}", item.MarkData[col.Title]) : null);
                                        <td class="subcol-content">
                                            <span class="lblMark">
                                            @(item.MarkData.ContainsKey(col.Code) ? String.Format("{0:#.#}", item.MarkData[col.Code]) : "")
                                            &nbsp;
                                            </span>
                                            
                                        </td>  
                                    }

                                    foreach (GridColumn subCol in col.SubColumns)
                                    {
                                        object Mark = (item.MarkData.ContainsKey(subCol.Title) ? String.Format("{0:#.#}", item.MarkData[subCol.Title]) : null);
                                        <td class="subcol-content">
                                            <span class="lblMark">
                                            @(item.MarkData.ContainsKey(subCol.Title) ? String.Format("{0:#.#}", item.MarkData[subCol.Title]) : "")
                                            &nbsp;
                                            </span>
                                            
                                        </td>  
                                    }
                                }
                            }
                        </tr>
                    </table>
                    
                </text>
               )
               .HeaderTemplate(
                   @<text>
                    
                    <table>
                        <tr>
                        @foreach (GridColumn col in ListColumn)
                        {
                            <td style="border-left: 0px;border-right: 1px solid #A7BAC5;" colspan="@(col.SubColumns.Count == 0 ? 1 : col.SubColumns.Count)" rowspan="@(col.SubColumns.Count == 0 ? 2 : 1)">
                                @(col.Title)
                            </td>
                        }
                        </tr>
                    
                        <tr>
                        @foreach (GridColumn col in ListColumn)
                        {
                            foreach (GridColumn subCol in col.SubColumns)
                            {
                                <td class="subcol-header" style="border-left: 0px;border-right: 1px solid #A7BAC5;border-top: 1px solid #A7BAC5;">
                                    @(subCol.Title)
                                </td>
                            }
                        }
                        </tr>
                    
                    </table>
                    
                </text>
               ).HtmlAttributes(new { style = "text-align:center" });

               c.Template(@<text>
        
             <center>
             @item.PASS
                @if (item.PASS && string.IsNullOrEmpty(item.Note))
                { <input name="Check" disabled="disabled" checked="checked" type="checkbox" />}
                else
                { <input name="Check" disabled="disabled" type="checkbox" />}
                
            </center>  
         
    </text>)

                     .HeaderTemplate(@<text> @Res.Get("Hợp lệ")
    </text>)
               .Width(60);


               c.Template(@<text>
           @{
               <center>
              <span> @item.Note </span>
              </center>
               }
           
    </text>)
                            .HeaderTemplate(@<text> @Res.Get("Chi tiết lỗi")
    </text>).Width(120);
           })
           .DataBinding(b =>
               b.Ajax().OperationMode(GridOperationMode.Client)
            )
           .Selectable()
           .Render();
                    
          <div class="dialog-buttons">		             
             @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmViewData')) return false;", "")		                            
             @Html.ViettelButton(Res.Get("Common_Button_Cancel"), "button", "OnCloseClickViewData()", "")     
          </div>        
}


<script type="text/javascript">
    function OnCloseClickViewData() {
        smas.closeDialog("ViewData");
    }
    function ImportSuccess(data) {
        Search();
        smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
        setTimeout('smas.closeDialog("ViewData");', 500);

    }
    function ImportFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }




</script>


