﻿\@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
<style>
    .SMSSuperUser .ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}


#ListTeacherReceiverSMS {
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 5px;
}

.SMSSuperUser .ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.GroupTeacherReceiver {
    margin-bottom: 10px;
}

.ContentListSection .ToolTipSendSMS span {
    font-weight: normal;
    color: Red;
}
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string message = "";
    if (ViewData[SendSMSToSuperVisingDeptConstants.LBL_MESSAGE_NOT_USE_SMS] != null)
    {
        message = (string)ViewData[SendSMSToSuperVisingDeptConstants.LBL_MESSAGE_NOT_USE_SMS];
    }
    string brandname = CommonMethods.GetBrandName();
    string prefixName = CommonMethods.GetPrefix(null);
    
}

<script type="text/javascript" language="javascript">
    var arrReceiverIDIsLoad = ''; // luu receiver da duoc load, use when call autoResizeFuntion
    var runningId = '@Guid.NewGuid().ToString()';
</script>
@{
    if (!string.IsNullOrEmpty(message))
    {

        <div class="ContentSection">
            <div class="GroupContentSection">
                <div class="TitleTabSection">
                    <p>
                        Thông báo
                    </p>
                </div>
                <div class="GeneralInCtnSection">
                    <div class="ContentListSection" style="display: block; padding: 0px;">
                        <p class="GroupPerson" style="text-align: center; margin:0px;">
                            <span>@message</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="ContentSectionBtm SMSSuperUser">
            <div class="GroupContentSection sms-edu-area">
                <div class="HomeSection" id="HomePanel">
                    <div class="SidebarSection">
                        @{Html.RenderPartial("_ListLevel");}
                    </div>
                    <div class="ContentIn1Section StudentsListSection send-sms-to-sup-dept">
                        @{Html.RenderPartial("_DetailLevel");}
                    </div>
                </div>
            </div>
        </div>
        @(Html.Telerik().Window()
    .Name("ConfirmToSendSMS")
        .Title(Res.Get("Common_Label_Alert"))
    .Content(@<text>
            <div style="text-align:center;margin-bottom:10px"><img src="/Content/images/alert-question.png" width="90" alt=""></div>
            <div class="popup-content-fault">@Html.Raw(Res.Get("SendSMSToSuperUser_Label_ConfirmBeforeSend"))</div>
            <div style="width: 100%; text-align: center;">
                <input type="button" id="btOK" value="Đồng ý" class="btn btn-info btn-round" onclick="continueSendSMS()" />
                <input type="button" id="btCancel" value="Hủy" class="btn btn-basic btn-round" onclick="cancelSendSMS()" />
            </div>
    </text>)
                                                        .Buttons(b => b.Clear())
                                                        .Draggable(true)
                                                        .Visible(false)
                                                        .Width(350)
                                                        .Height(100)
                                                        .Modal(true)
                                                        .Scrollable(false).ContentHtmlAttributes(new { style = "min-width: 350px;" })
        )
        @Html.AntiForgeryToken()
    }
}

<script type="text/javascript">       
    var url_LoadDetailLevelToSchool = '@Url.Action("LoadDetailLevelToSMS", "SendSMSToSupervisingDept")';
    var url_LoadListReceiver = '@Url.Action("LoadContentDetailView", "SendSMSToSupervisingDept")';    
    var url_loadContentScrollSearch = '@Url.Action("SearchReceiver", "SendSMSToSupervisingDept")';
    var lbl_validateBeforeSend = '@Res.Get("SendSMSToSuperUserl_Label_IsSelectNull")';
    var url_sendSMSToReceiver = '@Url.Action("SendSMS", "SendSMSToSupervisingDept")';
    var url_checksendStatus = '@Url.Action("GetCurrentProgress", "SendSMSToSupervisingDept")';
    var lbl_checksendStatus = "@Res.Get("Common_Label_Processing")";
    var url_loadContentScrollSearchContentDetail = '@Url.Action("LoadContentDetailScoll", "SendSMSToSupervisingDept")';
    var pageSize = '@SendSMSToSuperVisingDeptConstants.PAGE_SIZE';    
    var prefixName = '@Html.Raw(CommonMethods.GetPrefix(null))';
    brandNamePrefix = '@brandname';
</script>
@section script{
    @System.Web.Optimization.Scripts.Render("~/bundles/SendSMSToSupervisingDept")
}
