﻿@model ExaminationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExaminationArea.Models

@using (Ajax.BeginForm("Create",
                       "Examination",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="frmCreate" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            <div id="pnTitle">
                <p style="text-align: center; font-weight: bold; font-size: large; color: Gray">@Res.Get("Examination_DialogTitle_Add")</p>
            </div>
            @Html.Partial("_CreateOrEdit")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
            @Html.ViettelButton(Res.Get("Common_Button_NextStep"), "button", "ExaminationNextStepClick()", "CheckForJavaScript")
            @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "OnCreateGoBack()", "")
        </div>
    </div>
}

<script type="text/javascript">
   
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            reloadGrid(true);
            //            $("#frmCreate #Title").val("");
            //            $("#frmCreate #FromDate").val("");
            //            $("#frmCreate #ToDate").val("");
            //            $("#frmCreate #Location").val("");
            //            $("#frmCreate #Description").val("");
            $("#frmCreate .CheckForJavaScript").removeClass("t-state-disabled");
            $("#frmCreate .CheckForJavaScript").removeAttr("disabled", "true");
            formUtils.resetForm("frmCreate");
            //formUtils.focusForm("frmCreate");
        }
        var $radios = $('input:radio[name=MarkImportType]');
        $radios.filter('[value=1]').prop('checked', true);
    }
    function CreateFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }

    $(document).ready(function () {
        //        $("#frmCreate #bUsingSeparateList").attr("checked", "checked");
        $("#frmCreate #1").attr("checked", "checked");
        $("#frmCreate .CheckForJavaScript").addClass("t-state-disabled");
        $("#frmCreate .CheckForJavaScript").attr("disabled", "true");
    });

    function ExaminationNextStepClick() {
        smas.redirect('@Url.Action("Index", "ExaminationSubject", new { area = "ExaminationSubjectArea" })' + '?Tab=Tc');
    }
    function OnCreateGoBack() {
        formUtils.resetForm("frmCreate");
        smas.closeDialog('createDialog');
        reloadGrid(true);
    }
    function reloadGrid(IsReload) {
        var grid = $('#GridExamination').data('tGrid');
        var RowInPage = grid.data.length;
        var currentPage = grid.currentPage;
        $.ajax({
            url: '@Url.Action("Search", "Examination")',
                type: 'post',
            data: { currentPage: currentPage, IsReload: IsReload, RowInPage: RowInPage },
                beforeSend: function () {
                    //smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#lstExamination").html(msg);
                    var str = $('.t-grid-pager').find('.t-status-text').html();
                    var Total= $.trim(str.substr(str.lastIndexOf(' '), str.length));
                    $("#TotalRows").html("Tìm thấy " + Total + " kết quả ");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
</script>
