@model ExaminationViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExaminationArea.Models
@using SMAS.Web.Areas.ExaminationArea

@using (Ajax.BeginForm("Edit",
                       "Examination",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
    <div id="pnTitle">
                <p style="text-align: center; font-weight: bold;font-size:large;color:Gray">@Res.Get("Examination_DialogTitle_Edit")</p>
            </div>      
   @Html.Partial("_CreateOrEdit")
    @Html.ViettelHidden("ExaminationID")

    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_NextStep"), "button", "ExaminationNextStepClick()", "")
        @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "smas.closeDialog('editDialog');", "")
    </div>

}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            //setTimeout('smas.closeDialog("editDialog");', 500);
            reloadGrid(true);
            $("#frmEdit .dungnt_nextstep").removeClass("t-state-disabled");
            $("#frmEdit .dungnt_nextstep").removeAttr("disabled", "true");
            formUtils.focusForm("frmEdit");
        }
    }
    function EditFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }

    $(document).ready(function () {
        var enable_using_separate_list = '@ViewData[ExaminationConstants.ENABLE_USINGSEPARATELIST]';
        if (enable_using_separate_list == "False") {
            $("#frmEdit #bUsingSeparateList").attr("disabled", "true");
        } else {
            $("#frmEdit #bUsingSeparateList").removeAttr("disabled");
        }

        var enable_candidate_from_multi = '@ViewData[ExaminationConstants.ENABLE_CANDIDATEFROMMULTIPLELEVEL]';
        if (enable_candidate_from_multi == "False") {
            $("#frmEdit #bCandidateFromMultipleLevel").attr("disabled", "true");
        } else {
            $("#frmEdit #bCandidateFromMultipleLevel").removeAttr("disabled");
        }
    });
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
</script>


