﻿@model ExaminationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExaminationArea.Models
@using SMAS.Web.Areas.ExaminationArea
@using SMAS.Business.Common
<style type="text/css">
    .CssDisabledLink{color:#08088A;padding-top:5px;padding-bottom:5px}.CssPaddingLink,.disable_link{margin-top:8px}.disable_link a{pointer-events:none;cursor:default;color:#08088A!important}
</style>
<fieldset>
    <legend>@Res.Get("Examination_Label_FunctionInfomation")</legend>
    @if (Model.CurrentStage == SystemParamsInFile.EXAMINATION_STAGE_MARK_COMPLETED || Model.CurrentStage == SystemParamsInFile.EXAMINATION_STAGE_FINISHED)
    {
        for (int i = 1; i <= 16; i++)
        {
            if (i> 12)
            {
        <div class="CssPaddingLink">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, new { id = "FunctionInfomationLink"+i })
        </div>
            }
            else
            {
        <div class="disable_link">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, null)
        </div>
            }
        }
    }
    else if (Model.CurrentStage == SystemParamsInFile.EXAMINATION_STAGE_HEAD_ATTACHED)
    {
        for (int i = 1; i <= 16; i++)
        {
            if (i < 13)
            {
        <div class="CssPaddingLink">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, new { id = "FunctionInfomationLink" + i })
        </div>
            }
            else
            {
        <div class="disable_link">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, null)
        </div>
            }
        }
    }
    else
    {
        for (int i = 1; i <= 16; i++)
        {
            if (i < 9)
            {
        <div class="CssPaddingLink">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, new { id = "FunctionInfomationLink" + i })
        </div>
            }
            else
            {
        <div class="disable_link">
            @Html.ViettelActionLink(Res.Get("Examination_Label_FunctionInfomation" + i), "", "", null, null)
        </div>
            }
        }
    }
</fieldset>

<script type ="text/javascript">
    $(function () {
        $('#FunctionInfomationLink1').click(function () {
            smas.redirect('@Url.Action("Index", "Candidate", new { area = "CandidateArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink2').click(function () {
            smas.redirect('@Url.Action("RedirectNameListCodePage", "Candidate", new { area = "CandidateArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink3').click(function () {
            smas.redirect('@Url.Action("Index", "SortExaminationRoom", new { area = "SortExaminationRoomArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink4').click(function () {
            smas.redirect('@Url.Action("Supervisor", "SortExaminationRoom", new { area = "SortExaminationRoomArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink5').click(function () {
            smas.redirect('@Url.Action("Index", "InvigilatorAssignment", new { area = "InvigilatorAssignmentArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink6').click(function () {
            smas.redirect('@Url.Action("Index", "DetachableHeadBag", new { area = "DetachableHeadBagArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink7').click(function () {
            smas.redirect('@Url.Action("GetExaminationStage", "Examination")' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink8').click(function () {
            smas.redirect('@Url.Action("Index", "ReportExam", new { area = "ReportExamArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink9').click(function () {
            smas.redirect('@Url.Action("Index", "CandidateAbsence", new { area = "CandidateAbsenceArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink10').click(function () {
            smas.redirect('@Url.Action("Index", "ViolatedCandidate", new { area = "ViolatedCandidateArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink11').click(function () {
            smas.redirect('@Url.Action("Index", "ViolatedInvigilator", new { area = "ViolatedInvigilatorArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink12').click(function () {
            smas.redirect('@Url.Action("Index", "InputExaminationMark", new { area = "InputExaminationMarkArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink13').click(function () {
            smas.redirect('@Url.Action("Index", "TransferMarkToBookMark", new { area = "TransferMarkToBookMarkArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink14').click(function () {
            smas.redirect('@Url.Action("Index", "SearchCandidateMark", new { area = "SearchCandidateMarkArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink15').click(function () {
            smas.redirect('@Url.Action("Index", "ReportExamResult", new { area = "ReportExamResultArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
        $('#FunctionInfomationLink16').click(function () {
            smas.redirect('@Url.Action("Index", "ReportExamViolate", new { area = "ReportExamViolateArea" })' + '?Tab=Tc');
            return false; // to cancel the default action of the link
        });
    });

</script>