@model HonourAchivementTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HonourAchivementTeacherArea.Models
<style type="text/css">
    #frmCreate .Description .editor-field textarea{height:80px}
    #frmCreate .vt-control .editor-label {width:30%}
</style>
@using (Ajax.BeginForm("Create",
                       "HonourAchivementTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    function AjaxLoadTeacherOfFaculty(TeacherOfFacultyID) {
        frmId = $(TeacherOfFacultyID).closest('form').get(0).id;

        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherOfFacultyID"),
            '@Url.Action("AjaxLoadTeacherOfFaculty", "HonourAchivementTeacher")',
            { SchoolFacultyId: $(TeacherOfFacultyID).val() },
            '@Res.Get("SelectRK")'
        );
    }
    function CreateSuccess(msg) {
        smas.alert(msg);
        search();
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
