﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HonourAchivementTeacherArea.Models
@using SMAS.Web.Areas.HonourAchivementTeacherArea
@using (Ajax.BeginForm("Search",
                           "HonourAchivementTeacher",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstHonourAchivement",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title f-16">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row no-margin">
                <div class="col-sm-6 col-sm-offset-3">
                    @(Html.ViettelCombobox(Res.Get("HonourAchivement_Label_FacultyName"), "Faculty", (SelectList)ViewData[HonourAchivementTeacherConstants.LIST_FACULTY],
                                   1,
                               new Dictionary<string, object> {{ "OnChange", "search()" } }, false, false
                               ))
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", " btn btn-info btn-round btn-icon btn-icon-search")
        </div>
    </div>
        
}
<script type="text/javascript">
    function search() {
        var b = document.getElementById('Faculty').value;
        var FacultyID = b;
        if (FacultyID.toString() == "") {
            FacultyID = 0;
        }
        $.ajax({
            url: '@Url.Action("Search", "HonourAchivementTeacher")',
            data: "FacultyID=" + FacultyID,
            type: 'post',
            success: function (data) {
                $('#lstHonourAchivement').html(data);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });
    }
</script>
