﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportConductStatisticsArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportConductStatisticsArea
@model SearchViewModel
<fieldset style="height: 120px;">
    <legend>@Res.Get("Common_Label_ReportSearch")</legend>
    <div>
        @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("District_Label_AllTitle"), (SelectList)ViewData[ReportConductStatisticsConstants.LIST_DISTRICT], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
        @Html.ViettelComboboxFor(u => u.Year, Res.Get("AcademicYear_Label_Year"), (List<SelectListItem>)ViewData[ReportConductStatisticsConstants.LIST_ACADEMIC_YEAR], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
        @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[ReportConductStatisticsConstants.LIST_EDUCATION_LEVEL], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
        @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[ReportConductStatisticsConstants.LIST_SEMESTER], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
        @Html.ViettelComboboxFor(u => u.TrainingTypeID, Res.Get("SchoolProfile_Label_TrainingType"), (SelectList)ViewData[ReportConductStatisticsConstants.LIST_TRAINING_TYPE], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
        @Html.ViettelComboboxFor(u => u.SubCommitteeID, Res.Get("SubCommittee_Label_AllTitle"), (SelectList)ViewData[ReportConductStatisticsConstants.LIST_SUB_COMMITTEE], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
    </div>
</fieldset>
