﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportConductStatisticsArea.Models
@using SMAS.Web.Areas.ReportConductStatisticsArea
@{
    var list = (IEnumerable<SMAS.Business.BusinessObject.ConductStatisticsOfProvince23BO>)ViewData[ReportConductStatisticsConstants.LIST_CONDUCTSTATISTICSOFPROVINCETERTIARY];

    var index = 1;
    Html.Telerik().Grid(list).Name("GridConductStatistics")
    .Columns(c =>
    {
        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>")
.HeaderTemplate(
    @<text><center>
        <b>@Html.Raw(Res.Get("Common_Column_Order"))</b></center></text>).Width(20);
        c.Template(@<text>@item.SchoolName</text>)
        .HeaderTemplate(
    @<text><center>
        <b>@Html.Raw(Res.Get("ConductStatistics_Label_SchoolName"))</b></center></text>).Width(80);
        c.Template(@<text>@(String.Format("{0:dd/MM/yyyy}", item.SentDate))</text>)
.HeaderTemplate(
    @<text><center>
        <b>@Html.Raw(Res.Get("ConductStatistics_Label_SentDate"))</b></center></text>).Width(60);
        c.Template(@<text><span style="float:right;">@item.TotalPupil</span></text>)
.HeaderTemplate(
    @<text><center>
        <b>@Html.Raw(Res.Get("ConductStatistics_Label_TotalPupil"))</b></center></text>).Width(40);
        c.Template(@<text>
    <table cellspacing="0">
        <tr>
            <td style="width: 50%; text-align: right;">
                @item.TotalGood
            </td>
            <td style="width: 50%; text-align: right;">
                @(item.PercentGood.HasValue ? Math.Round(item.PercentGood.Value * 100, 1).ToString() : "")
            </td>
        </tr>
    </table></text>).HeaderTemplate(
    @<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Good")
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Total")
                    </b>
                </center>
            </td>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Percent")
                    </b>
                </center>
            </td>
        </tr>
    </table>
    </text>).Width(80);
        c.Template(@<text>
    <table cellspacing="0">
        <tr>
             <td style="width: 50%; text-align: right;">
                @item.TotalFair
            </td>
             <td style="width: 50%; text-align: right;">
                @(item.PercentFair.HasValue ? Math.Round(item.PercentFair.Value * 100, 1).ToString() : "")
            </td>
        </tr>
    </table></text>).HeaderTemplate(
    @<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Fair")
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%;">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Total")
                    </b>
                </center>
            </td>
            <td style="width: 50%;">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Percent")
                    </b>
                </center>
            </td>
        </tr>
    </table>
    </text>).Width(80);
        c.Template(@<text>
    <table cellspacing="0">
        <tr>
             <td style="width: 50%; text-align: right;">
                @item.TotalNormal
            </td>
             <td style="width: 50%; text-align: right;">
                @(item.PercentNormal.HasValue ? Math.Round(item.PercentNormal.Value * 100, 1).ToString() : "")
            </td>
        </tr>
    </table></text>).HeaderTemplate(
    @<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Normal")
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Total")
                    </b>
                </center>
            </td>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Percent")
                    </b>
                </center>
            </td>
        </tr>
    </table>
    </text>).Width(80);
        c.Template(@<text>
    <table cellspacing="0">
        <tr>
             <td style="width: 50%; text-align: right;">
                @item.TotalWeak
            </td>
             <td style="width: 50%; text-align: right;">
                @(item.PercentWeak.HasValue ? Math.Round(item.PercentWeak.Value * 100, 1).ToString() : "")
            </td>
        </tr>
    </table></text>).HeaderTemplate(
    @<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Weak")
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Total")
                    </b>
                </center>
            </td>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Percent")
                    </b>
                </center>
            </td>
        </tr>
    </table>
    </text>).Width(80);
        c.Template(@<text>
    <table cellspacing="0">
        <tr>
             <td style="width: 50%; text-align: right;">
                @item.TotalAboveAverage
            </td>
             <td style="width: 50%; text-align: right;">
                @(item.PercentAboveAverage.HasValue ? Math.Round(item.PercentAboveAverage.Value * 100, 1).ToString() : "")
            </td>
        </tr>
    </table></text>).HeaderTemplate(
    @<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_AboveAverage")
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Total")
                    </b>
                </center>
            </td>
            <td style="width: 50%">
                <center>
                    <b>
                        @Res.Get("ConductStatistics_Label_Percent")
                    </b>
                </center>
            </td>
        </tr>
    </table>
    </text>).Width(80);

    }).DataKeys(keys => keys.Add(o => o.SchoolID)).Scrollable()
    .Selectable().Render();
    <div class="vt-form-button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "exportReport();", "")
    </div>  
}
<script language="javascript">
    function exportReport() {
        window.open("@Url.Action("DownloadReport", "ReportConductStatistics")"+"?ProcessedReportID="+@ViewData[ReportConductStatisticsConstants.GRID_REPORT_ID]);
    }
</script>
