﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportConductStatisticsArea.Models
@using SMAS.Web.Areas.ReportConductStatisticsArea
@{
    var list = (IEnumerable<SMAS.Business.BusinessObject.ConductStatisticsOfProvinceGroupByDistrict23BO>)ViewData[ReportConductStatisticsConstants.LIST_CONDUCTSTATISTICSOFPROVINCETERTIARY];

    var index = 1;
    Html.Telerik().Grid(list).Name("GridConductStatistics")
    .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Bound(o => o.DistrictName).Title(Res.Get("District_Label_DistrictName")).Width(200);
            c.Bound(o => o.TotalPupil).Title(Res.Get("ConductStatistics_Label_TotalPupil")).Width(60);
            c.Bound(o => o.TotalGood).Title(Res.Get("ConductStatistics_Label_TotalGood")).Width(35);
            c.Bound(o => o.PercentGood).Title(Res.Get("ConductStatistics_Label_PercentGood")).Width(35);
            c.Bound(o => o.TotalFair).Title(Res.Get("ConductStatistics_Label_TotalFair")).Width(35);
            c.Bound(o => o.PercentFair).Title(Res.Get("ConductStatistics_Label_PercentFair")).Width(35);
            c.Bound(o => o.TotalNormal).Title(Res.Get("ConductStatistics_Label_TotalNormal")).Width(35);
            c.Bound(o => o.PercentNormal).Title(Res.Get("ConductStatistics_Label_PercentNormal")).Width(35);
            c.Bound(o => o.TotalWeak).Title(Res.Get("ConductStatistics_Label_TotalWeak")).Width(35);
            c.Bound(o => o.PercentWeak).Title(Res.Get("ConductStatistics_Label_PercentWeak")).Width(35);
            c.Bound(o => o.TotalAboveAverage).Title(Res.Get("ConductStatistics_Label_TotalAboveAverage")).Width(35);
            c.Bound(o => o.PercentAboveAverage).Title(Res.Get("ConductStatistics_Label_PercentAboveAverage")).Width(35);
        })
        .DataKeys(keys => keys.Add(o => o.DistrictID))
        .Selectable(u=> u.Enabled(true))
        .Scrollable(u=> u.Enabled(true))
        .Render();
    <div class="vt-form-button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "exportReport();", "")
    </div>  
}
<script language="javascript">
    function exportReport() {
        window.open("@Url.Action("DownloadReport", "ReportConductStatistics")"+"?ProcessedReportID="+@ViewData[ReportConductStatisticsConstants.GRID_REPORT_ID]);
    }
</script>
