﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportConductStatisticsArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportConductStatisticsArea
@model SearchViewModel
<style type="text/css">
    #frmSearch .vt-control{width:45%}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "ReportConductStatistics",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "Grid_ListConducts",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "SearchSuccess"
                           },
                           new { id = "frmSearch" }))
    {
        <div style="float: left; width: 25%">
            @Html.Partial("_ReportType")
        </div>
        <div style="float: left; width: 73%; margin-left: 10px;" id="divCriteria">
            @Html.Partial("_Criteria")
        </div>
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    }
</fieldset>
<script type="text/javascript">

    $(document).ready(function() {
    
        $('input[name=ReportType]', '#frmSearch').change(function() {
            var checkedVal  = $('input[name=ReportType]:checked', '#frmSearch').val();

            if (checkedVal==1) {
                $('#DistrictID', '#frmSearch').val(0).removeAttr("disabled");
                $('#Year', '#frmSearch').val(0).removeAttr("disabled");
                $('#Semester', '#frmSearch').val(0).removeAttr("disabled");
                $('#TrainingTypeID', '#frmSearch').val(0).removeAttr("disabled");
                $('#EducationLevelID', '#frmSearch').val(0).removeAttr("disabled");
                $('#SubCommitteeID', '#frmSearch').val(0).removeAttr("disabled");
            }

            if (checkedVal==2) {
                $('#DistrictID', '#frmSearch').val(0).removeAttr("disabled");
                $('#Year', '#frmSearch').val(0).removeAttr("disabled");
                $('#Semester', '#frmSearch').val(0).removeAttr("disabled");
                $('#TrainingTypeID', '#frmSearch').val(0).removeAttr("disabled");

                $('#EducationLevelID', '#frmSearch').val(0).attr("disabled","disabled");
                $('#SubCommitteeID', '#frmSearch').val(0).attr("disabled","disabled");
            }

            if (checkedVal==3) {
                $('#SubCommitteeID', '#frmSearch').val(0).removeAttr("disabled");
                $('#Year', '#frmSearch').val(0).removeAttr("disabled");
                $('#Semester', '#frmSearch').val(0).removeAttr("disabled");
                $('#TrainingTypeID', '#frmSearch').val(0).removeAttr("disabled");
                $('#EducationLevelID', '#frmSearch').val(0).removeAttr("disabled");

                $('#DistrictID', '#frmSearch').val(0).attr("disabled","disabled");
            }
        });
        
    });

    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    function LoadGrid() {
        $.ajax({
            url: '@Url.Action("LoadGrid", "ReportConductStatistics")',
            type: 'post',
            data: $("#frmSearch").serialize(),
             beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#Grid_ListConducts").html(data);
            },
             complete : function() {
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    function SearchSuccess(data) {
        if (data.ProcessedReportID != 0) {
            $("#DownloadOldFile").attr("href","@Url.Action("DownloadReport", "ReportConductStatistics")"+"?ProcessedReportID="+data.ProcessedReportID);
            $("#ReportProcessedDate").html(data.ReportProcessedDate);
            smas.openDialog("AlertDialog", "", {});
        } else {
            LoadGrid();
        }
    }
    function OnFailure(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
