@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeQualificationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementArea.Models
@using SMAS.Web.Areas.EmployeeProfileManagementArea

@{
    int hdfIsEmployee = ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] != null ? (int)ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] : 0;
 }
@using (Ajax.BeginForm("Edit",
                       "EmployeeQualification",
                       null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditQualificationSuccess",
                           OnFailure = "EditQualificationFail"
                       },
                       new { id = "frmEditQualification" }
                       ))
{
    <div id="EditEmulationCriteria" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control" style="width:90%">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("EmployeeQualificationID")
            @Html.ViettelHidden("hdfIsEmployeeQualificationEdit",hdfIsEmployee)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editQualificationDialog');searchQualification();", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    function EditQualificationSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editQualificationDialog");', 500);
            searchQualification();
        }
    }
    function EditQualificationFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
</script>
