﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SkillManagementArea.Models
@using SMAS.Web.Areas.SkillManagementArea
@using SMAS.Models.Models
@model DataViewModel
@{
    ViewBag.Title = @Res.Get("SkillManagement_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="text"]
    {
        height: 20px;
    }
    #InfoDescription .vt-control .editor-label
    {
        width: 14.4%;
    }
    #InfoDescription .editor-field input
    {
        width: 820px;
    }
</style>
<div class="ContentSectionBtm">
    <div class="ContentSectionNotOver">
        <div class="GroupContentSection">
            <fieldset>
                <legend>Thông tin kế hoạch kỹ năng</legend>
                <div class="clear">
                </div>
                @Html.Hidden("SkillTitleID", Model.SkillTitleID)
                <table id="SkillTitleInfoTB">
                    <tr>
                        <td style="width: 48%">
                            @Html.ViettelEditorFor(o => o.SkillTitle, new Dictionary<string, object> { { "onkeyup", "checkMaxLength(this, 100)" } })
                        </td>
                        <td>
                            @Html.ViettelEditorFor(o => o.FromDate, new Dictionary<string, object> { }, true, false)
                        </td>
                        <td>
                            @Html.ViettelEditorFor(o => o.ToDate, new Dictionary<string, object> { }, true, true)
                        </td>
                    </tr>
                </table>
                <div class="Clear">
                </div>
                <table id="InfoDescription">
                    <tr>
                        <td>
                            @Html.ViettelEditorFor(o => o.Description, new Dictionary<string, object> { })
                        </td>
                    </tr>
                </table>
                <div class="Clear">
                </div>
            </fieldset>
            <div class="Clear">
            </div>
            <div class="SideBarTopMenu">
                <fieldset>
                    <legend>Lớp áp dụng</legend>
                    <div class="SideBarBtmMenu">
                        <div class="SideBarLoopMenu" style="height: auto">
                            @{
                                Html.Telerik().TreeView()
                                .Name("ListClass")
                                .ShowCheckBox(true)
                                .BindTo((IEnumerable)Model.ListEducationLevel, mappings =>
                                {
                                    mappings.For<EducationLevelItem>(binding => binding
                                            .ItemDataBound((item, educationLevel) =>
                                            {
                                                item.Text = educationLevel.Resolution;
                                                item.Expanded = true;
                                                item.Checked = educationLevel.Checked != null ? educationLevel.Checked.Value : false;
                                            })
                                            .Children(educationLevel => educationLevel.LstClass));
                                    mappings.For<ClassProfileItem>(binding => binding
                                            .ItemDataBound((item, classprofile) =>
                                            {
                                                item.Text = classprofile.ClassName;
                                                item.Value = classprofile.ClasslID.ToString();
                                                item.Checked = classprofile.Checked != null ? classprofile.Checked.Value : false;
                                            }));
                                })
                                .ClientEvents(e => e.OnChecked("onCheckTreeView"))
                                .Render();
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="MainContentSectionRight">
                <div class="ContentSectionSmallTop">
                    <div class="ContentSectionSmallBtm">
                        <div class="ContentSectionSmallLoop ContentSectionSmallLoop2">
                            <div class="t-widget t-grid">
                                <table width="100%" border="1" cellspacing="0" cellpadding="0" id="tbSkill" class="t-table">
                                    <colgroup>
                                        <col style="width: 80px;" />
                                        <col style="width: 150px;" />
                                        <col style="width: 150px;" />
                                        <col style="width: 350px;" />
                                    </colgroup>
                                    <thead class="t-grid-header">
                                        <tr>
                                            <th class="t-header" scope="col">
                                                Đợt
                                            </th>
                                            <th class="t-header" scope="col">
                                                Bắt đầu
                                            </th>
                                            <th class="t-header" scope="col">
                                                Kết thúc
                                            </th>
                                            <th class="t-header" scope="col">
                                                Tiêu chí
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            IEnumerable<SkillViewModel> lstSkill = Model.ListSkill;
                                            int Index = 0;
                                            if (lstSkill == null || lstSkill.Count() <= 0)
                                            {
                                                lstSkill = new List<SkillViewModel>(){
                        new SkillViewModel(){
                            FromDate = null,
                            ToDate = null,
                            Description = string.Empty
                        }
                    };
                                            }

                                            foreach (var skill in lstSkill)
                                            {
                                                Index++;
                                            <tr  id="@skill.SkillID">
                                                <td>
                                                    <input type="text" name="period" value="@skill.Period" style="width: 70px" />
                                                </td>
                                                <td>
                                                    @Html.ViettelDatePicker("DateFrom" + @Index, "", @skill.FromDate, false, new Dictionary<string, object> { })
                                                </td>
                                                <td>
                                                    @Html.ViettelDatePicker("DateTo" + @Index, "", @skill.ToDate, false, new Dictionary<string, object> { })
                                                </td>
                                                <td>
                                                    <div>
                                                        <textarea rows="3" cols="53">@skill.Description</textarea>
                                                        <a href="javascript:" onclick="AppendRow(this)">
                                                            <img src="@Url.Content("~/Content/images/icon_Add.png")" width="15" height="15" alt="Add"/></a>
                                                        <a href="javascript:" onclick="DeleteRow(this)">
                                                            <img src="@Url.Content("~/Content/images/icon_DeleteButton.png")" width="15" height="15" alt="Delete"/></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "InsertORUpdate()", "")
                    @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnGoBackClick()", "")
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        checkRow();
    });

    var ROWINDEX = 1;
    var ROWS = '<tr><td><input type="text" name="period" value="" style="width: 70px"/></td>'
            + '<td>@Html.ViettelDatePicker("DateFrom_New", "", null, false, new Dictionary<string, object> { })'
            + '</td><td>@Html.ViettelDatePicker("DateTo_New", "", null, false, new Dictionary<string, object> { })'
            + '</td><td><div><textarea rows="3" cols="53"></textarea>'
            + '<a href="javascript:" onclick="AppendRow(this)"><img src="@Url.Content("~/Content/images/icon_Add.png")" width="15" height="15" alt="Add"/></a>'
            + '<a href="javascript:" onclick="DeleteRow(this)"><img src="@Url.Content("~/Content/images/icon_DeleteButton.png")" width="15" height="15" alt="Delete"/></a>'
            + '</div></td></tr>';

    var DelIMG = '<a href="javascript:" onclick="DeleteRow(this)"><img src="@Url.Content("~/Content/images/icon_DeleteButton.png")" width="15" height="15" alt="Delete"/></a>';
    function AppendRow(object) {
        var trCurrent = $(object).closest('tr');
        $(trCurrent).after(ROWS);
        var trNext = $(trCurrent).next(); 
        $(trNext).find('input[id^="Date"]').each(function () {
            $(this).tDatePicker({ format: 'dd/MM/yyyy', minValue: new Date(1899, 11, 31), maxValue: new Date(2100, 0, 1) });
        });
        // them image delete neu chua co
        var numTR = $(object).parents('table').find('tr').length;
        if (numTR == 3) { // 1 row header + 2 row data
            $(object).after(DelIMG); 
        }

        // set id cho thoi gian bat dau - ket thuc
        ROWINDEX++;
        $(trNext).find('td').eq(1).find('input:first').attr('id', 'DateFrom' + ROWINDEX);
        $(trNext).find('td').eq(2).find('input:first').attr('id', 'DateFrom' + ROWINDEX);
    }

    function DeleteRow(object) {
        var trCurrent = $(object).closest('tr');
        $(trCurrent).remove();
        checkRow();
    }

    function checkRow(object) {
        // neu con 1 thi xoa image delete
        var numTR = $('#tbSkill tbody tr').length;
        if (numTR == 1) { //still 1 row
            $('#tbSkill tbody tr:first').find('td').eq(3).find('a').eq(1).remove();
        }
    }

    function OnGoBackClick() {
        var Tab = smas.getCookie("Tab");
        var EducationLevelID = smas.getCookie("ppEducationLevel");
        var ClassID = smas.getCookie("ppClass");
        var Subject =  smas.getCookie("ppSubject");
        var FromDate = smas.getCookie("ppFromDate");
        var ToDate = smas.getCookie("ppToDate");
        $("#frmSearch #EducationLevelID").val(EducationLevelID);
        $("#frmSearch #ClassID").val(ClassID);
        $("#frmSearch #Subject").val(Subject);
        $("#frmSearch #FromDate").val(FromDate);
        $("#frmSearch #ToDate").val(ToDate);
        smas.redirect('@Url.Action("Index", "SkillManagement")?Tab='+Tab);
    }

    // vung lop ap dung
    function onCheckTreeView(e) {
        if ($(e.item).closest('ul').hasClass('t-treeview-lines') == false) {
            var isCheckParrent = true;
            if (e.checked) {
                $(e.item).closest('ul').find('li').each(function () {
                    if ($(this).find('span.t-checkbox').find('input[type="checkbox"]').is(':checked') == false
                        && $(this).find('span.t-checkbox').find('input[type="checkbox"]').is(':checked')[0] != $(e.item).find('span.t-checkbox').find('input[type="checkbox"]')[0]) {
                        //set checkbox to parrent to uncheck
                        isCheckParrent = false;
                        return;
                    }
                });
            }
            else {
                isCheckParrent = false;
            }

            if (isCheckParrent) {
                $(e.item).closest('ul').closest('li').find('div').first().find('span.t-checkbox').find('input[type="checkbox"]').attr('checked', 'checked');
            }
            else {
                $(e.item).closest('ul').closest('li').find('div').first().find('span.t-checkbox').find('input[type="checkbox"]').removeAttr('checked');
            }
        }
        else {
            //truong hop la check parrent
            if (e.checked) {
                $(e.item).closest('li').find('input[type="checkbox"]').attr('checked', 'checked');
            }
            else {
                $(e.item).closest('li').find('input[type="checkbox"]').removeAttr('checked');
            }
        }
    }

    // kiem tra maxlength
    function checkMaxLength(txt, MaxLength) {
        var str = $(txt).val();
        if (str.length > MaxLength) {
            $(txt).val(str.substr(0, MaxLength));
        }
    }

    function GetToDate() {
        var fromDate = $('#FromDate').data('tDatePicker').value();
        if (fromDate != null && fromDate !='' && typeof(fromDate) != "undefined") {
            var ToDate = new Date(fromDate.getFullYear(), fromDate.getMonth() + 1, fromDate.getDate());
            date = ToDate.getDate();
            date = date < 10 ? "0" + date : date;
            mon = ToDate.getMonth() + 1;
            mon = mon < 10 ? "0" + mon : mon;
            $("#ToDate").val(date + '/' + mon + '/' + ToDate.getFullYear());
        }
    }

    function checkValidate() {
        var IsValidate = true;
        // chu de 
        var subject = $('#SkillTitle').val().trim();
        if (subject.length <= 0) {
            smas.alert({ Type: "error", Message: 'Bạn chưa nhập thông tin chủ đề' });
            return false;
        }
        // thoi gian
        var FromDate = $('#FromDate').data('tDatePicker').value();
        if (FromDate == null || FromDate =='' || typeof(FromDate) == "undefined") {
            smas.alert({ Type: "error", Message: 'Bạn chưa nhập thông tin thời gian' });
            return false;
        }
        // lop ap dung
        var lstClassApplied = [];
        $('#ListClass :checked').closest('li').find('input[name="itemValue"]').each(function () {
            lstClassApplied.push($(this).val());
        });
        if (lstClassApplied.length < 1) {
            smas.alert({ Type: "error", Message: 'Bạn chưa chọn lớp áp dụng' });
            return false;
        }

        //thoi gian ke hoach
        var ToDate = new Date(FromDate.getFullYear(), FromDate.getMonth() + 1, FromDate.getDate()); // add 1 month

        // thong tin ky nang
        $('#tbSkill tbody').find('tr').each(function () {
            var period = $(this).find('td:first input:first').val().trim();
            var fromDate = $(this).find('td').eq(1).find('input:first');
            var toDate = $(this).find('td').eq(2).find('input:first');
            var content = $(this).find('td').eq(3).find('textarea:first').val().trim();

            // neu ko nhap thong tin
            if (period.length < 1 && fromDate.val().trim().length < 1  && toDate.val().trim().length < 1  && content.length < 1 ) {
                smas.alert({ Type: "error", Message: 'Bạn chưa nhập thông tin kỹ năng' });
                IsValidate = false;
                return false;
            // neu nhap thong tin khong day du
            } else if (period.length < 1 || $(fromDate).val().trim().length < 1 || $(toDate).val().trim().length < 1 || content.length < 1 ) {
                smas.alert({ Type: "error", Message: 'Bạn chưa nhập đầy đủ thông tin kỹ năng' });
                IsValidate = false;
                return false;
            } // thoi gian bat dau ko nho hon ket thuc
            else if ($(fromDate).data('tDatePicker').value() > $(toDate).data('tDatePicker').value()) {
                smas.alert({ Type: "error", Message: 'Thời gian kết thúc phải không nhỏ hơn thời gian bắt đầu' });
                IsValidate = false;
                return false;
            } else if ($(fromDate).data('tDatePicker').value() < FromDate ||  $(toDate).data('tDatePicker').value() > ToDate) {
                smas.alert({ Type: "error", Message: 'Thời gian hoạt động kỹ năng không được nằm ngoài kế hoạch' });
                IsValidate = false;
                return false;
            }
        });
        return IsValidate;
    }

    // cap nhat - them moi
    function InsertORUpdate() { 
        if (checkValidate()) {
            var data = new Object();
            var SkillTitleID = $('#SkillTitleID').val();
            if (SkillTitleID != '') {  // update
                data.SkillTitleID = SkillTitleID;
            }
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            data.SkillTitle = $('#SkillTitle').val();
            data.FromDate = FromDate;
            data.ToDate = ToDate;
            data.Description = $('#Description').val();
            // danh sach lop co quyen thao tac
            data.lstClassInRole = @Html.Raw(Json.Encode(Model.lstClassInRole));
             var lstClassApplied = [];
            $('#ListClass :checked').closest('li').find('input[name="itemValue"]').each( function (){
                lstClassApplied.push($(this).val());
            });// lay nhung lop duoc check
            data.lstClassApplied = lstClassApplied;

            // danh sach ky nang
            var lstSkill = [];
            var objSkill;
             $('#tbSkill tbody').find('tr').each(function () {
                var SkillId = $(this).attr('id');
                if (SkillId == '') { // neu chua co
                    SkillId = 0;
                }
                var period = $(this).find('td:first input:first').val().trim();
                var fromDate = $(this).find('td').eq(1).find('input:first').val().trim();
                var toDate = $(this).find('td').eq(2).find('input:first').val().trim();
                var content = $(this).find('td').eq(3).find('textarea:first').val().trim();
                objSkill = {Period: period, SkillID: SkillId, FromDate: fromDate, ToDate: toDate, Description: content};       
                lstSkill.push(objSkill); 
            });
            data.ListSkill = lstSkill;
            $.ajax({
                url: '@Url.Action("InsertORUpdate", "SkillManagement")',
                type: 'post',
                data: JSON.stringify(data),
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                contentType: 'application/json; charset=utf-8',
                //traditional: true,
                success: function (result) {           
                     if (result.Type == 'success'){
                        smas.redirect('@Url.Action("Edit", "SkillManagement")?SkillTitleID=' + result.Id);
                     }
                        smas.alert(result.Message);
                }               
            });
        }  
    }
    
    
</script>
