@model EvaluationDevelopmentViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentArea.Models
@using SMAS.Web.Areas.EvaluationDevelopmentArea

@using (Ajax.BeginForm("Create",
                       "EvaluationDevelopment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    @Html.AntiForgeryToken()
         
//@Html.ViettelEditorForModel()
    <div>
        <table border="0">
            <tr>
                <td>
                    <div class="inline-block mg-checkbox">
                        @Html.ViettelCheckBoxFor(model => model.IsRequired, new Dictionary<string, object> { }, @Res.Get("EvaluationDevelopment_Label_IsRequired"), false)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(model=>model.EvaluationDevelopmentName,Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentName"), new Dictionary<string, object> { { "id", "idEvaluationDevelopmentName" }}, true, false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextbox(@Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentCode"), "EvaluationDevelopmentCode", "", new Dictionary<string, object> { { "id", "idEvaluationDevelopmentCode" }}, true, false)
                </td>
            </tr>
            <tr>
                <td>
                    @*@(Html.ViettelCombobox(@Res.Get("EvaluationDevelopment_Label_EducationLevel"), "EducationLevelID", ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.LIST_EducationLevel]),
                            0,
        new Dictionary<string, object> { { "style", "width: 282px" } },false, true
                               ))*@
                @Html.ViettelComboboxFor(pp => pp.EducationLevelID, Res.Get("EvaluationDevelopment_Label_EducationLevel"),
                ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.LIST_EducationLevel]), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                new Dictionary<string, object>()
                {
                    {"onchange", "AjaxLoadEvaluationGroup(this);"}
                },true)

                </td>
            </tr>
            <tr>
                <td>
                  @*  @(Html.ViettelCombobox(@Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentGroup"), "EvaluationDevelopmentGroupID", ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.List_EvaluationDevelopmentGroup]),
                                   0,
                               new Dictionary<string, object> { { "style", "width: 282px" } }, false, true
                               ))*@
                 @Html.ViettelComboboxFor(pp => pp.EvaluationDevelopmentGroupID, Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentGroup"),
            ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.List_EvaluationDevelopmentGroup]), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                new Dictionary<string, object>()
                {
                },true)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextAreaFor(model => model.Description, Res.Get("EvaluationDevelopment_Label_Description"), true, new Dictionary<string, object>() { { "maxlength", "400" } })
                </td>
            </tr>
            <tr>               
                <td>                                
                    @if (ViewData[EvaluationDevelopmentConstants.List_Input] != null)
                    {
                        @Html.ViettelRadioBox("InputType", Res.Get("EvaluationDevelopment_Label_InputType"), new Dictionary<string, object>() { { "onChange", "rdoInput_onChange(this)" } }, (List<SMAS.VTUtils.HtmlHelpers.ViettelCheckboxList>)ViewData[EvaluationDevelopmentConstants.List_Input],true)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ViettelTextboxFor(o=>o.InputMin, Res.Get("EvaluationDevelopment_Label_InputMin"), new Dictionary<string, object> { { "id", "InputMin" }, { "onKeypress", "return InputMin_onKeypress(event)" },{"maxlength", "5"} },false, false, true)
                </td>
                </tr>
                <tr>
                <td>
                    @Html.ViettelTextboxFor(o => o.InputMax, Res.Get("EvaluationDevelopment_Label_InputMax"), new Dictionary<string, object> { { "id", "InputMax" }, { "onKeypress", "return InputMax_onKeypress(event)" } ,{"maxlength", "5"} }, false, false, true)
                </td>                
            </tr>
        </table>
    </div>

    <div class="text-center mg-t-10 mg-b-10">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
    </div>
}
<script type="text/javascript">
    $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        $("#frmCreate #IsRequired").attr("checked", true);
    });

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            document.getElementById('1').checked = true;
            $("#InputMin").attr("disabled", true);
            $("#InputMax").attr("disabled", true);
            $("#frmCreate #IsRequired").attr("checked", true);
            search();
            //smas.closeDialog('createDialog');
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function rdoInput_onChange(Input) {       
        Input = $(Input).val();     
        if (Input == 2) {
            $("#InputMin").removeAttr("disabled");
            $("#InputMax").removeAttr("disabled");
        }
        else {
            $("#InputMin").attr("class", "valid");
            $("#InputMin").next().html("");
            $("#InputMax").attr("class", "valid");
            $("#InputMax").next().html("");
            $("#InputMin").attr("disabled", true);
            $("#InputMax").attr("disabled", true);
        }
    }


    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmCreate"));
        
    });
    $(".validtext").keyup(function (e) {
        if (this.value * 1 > 10 || this.value * 1 == 0) {
            return false;
        }
        oldValue = this.value;
    });
   

//    $(document).ready(function () {

//        $.validator.methods.number = function (e) {
//            return true;
//        };
    //    });
    function InputMin_onKeypress(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0 && key != 44 && key != 127) {
                return false;
            }
        }
        if (key == 44) {
            if ($("#InputMin").val().indexOf(",") > 0) {

                return false;
            }
        }
        oldValue = this.value;
    }

   

    function InputMax_onKeypress(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0 && key != 44 && key != 127) {
                return false;
            }
        }
        if (key == 44) {
            if ($("#InputMax").val().indexOf(",") > 0) {

                return false;
            }
        }
        oldValue = this.value;
    }
</script>

