﻿@model EvaluationDevelopmentViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentArea.Models
@using SMAS.Web.Areas.EvaluationDevelopmentArea
@{
    int count = 0;
    if (ViewData[EvaluationDevelopmentConstants.LIST_EVALUATIONDEVELOPMENT] != null)
    {
        List<EvaluationDevelopmentViewModel> listEvalution = (List<EvaluationDevelopmentViewModel>)ViewData[EvaluationDevelopmentConstants.LIST_EVALUATIONDEVELOPMENT];
        count = listEvalution.Count;
    }
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
            @{
                <input type="button" class="btn btn-info btn-round btn-icon btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
            }
        </div>
        <div class="Clear"></div>
    </div>
@{
    
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<EvaluationDevelopmentViewModel>)ViewData[EvaluationDevelopmentConstants.LIST_EVALUATIONDEVELOPMENT])
        .Name("GridEvaluationDevelopment")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

            c.Bound(o => o.EvaluationDevelopmentName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(200);
            c.Bound(o => o.EvaluationDevelopmentCode).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(80);
            c.Bound(o => o.Description).HeaderHtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(Res.Get("EvaluationDevelopment_Label_Description"));
            //c.Template(o => o.Description).HeaderHtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(Res.Get("EvaluationDevelopment_Label_Description"));
            c.Bound(o => o.InputTypeName).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(110);
            c.Bound(o => o.InputMin).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Format("{0:N1}").Width(70);
            c.Bound(o => o.InputMax).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Format("{0:N1}").Width(70);

            //c.Bound(o => o.IsRequired).Sortable(true);															
            //c.Bound(o => o.EducationLevelID).Sortable(true);									
            //c.Bound(o => o.EvaluationDevelopmentGroupID).Sortable(true);									
            //c.Bound(o => String.Format("{0:g}", o.CreatedDate)).Sortable(true);									
            //c.Bound(o => o.IsActive).Sortable(true);									
            //c.Bound(o => String.Format("{0:g}", o.ModifiedDate)).Sortable(true);									



            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "EvaluationDevelopment")
                   .ButtonType(GridButtonType.Image)
                   .HtmlAttributes(new { @class = "btn-edit" })
                   .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" });


            }).Title(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" });


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "EvaluationDevelopment")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });


            }).Title(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" });
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "EvaluationDevelopment")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.EvaluationDevelopmentID))
        .Pageable(o => o.PageSize(20))
        //.Sortable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Sortable()
        .Scrollable(o => o.Enabled(true).Height(450))
        .Selectable()
        .Render();
                 
}
       </div>  
<script type="text/javascript">
    var lstInd = 0;

    function onDataLoadPageLast() {
        var grid = $('#GridEvaluationDevelopment').data('tGrid');
        grid.pageTo(grid.totalPages());
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridEvaluationDevelopment').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", '@Url.Action("_Edit")', { id: item.EvaluationDevelopmentID });
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("EvaluationDevelopment_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.EvaluationDevelopmentID }, search, null);
            })
            
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        //smas.openDialog("createDialog", "", {});
        smas.openDialog("createDialog", '@Url.Action("_Create")', {});
    }
</script>
