@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentArea.Models
@using SMAS.Web.Areas.EvaluationDevelopmentArea

@using (Ajax.BeginForm("Search",
                           "EvaluationDevelopment",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstEvaluationDevelopment",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    //@Html.ViettelEditorForModel()
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                     @(Html.ViettelCombobox(@Res.Get("EvaluationDevelopment_Label_EducationLevel"), "EducationLevelID", ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.LIST_EducationLevel]),
                            1,
                               new Dictionary<string, object> {{"onchange", "AjaxLoadEvaluationGroup_Search(this)"}  }, false, false
                               ))
                </div>
                <div class="col-md-6">
                     @(Html.ViettelCombobox(@Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentGroup"), "EvaluationDevelopmentGroupID", ((IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentConstants.List_EvaluationDevelopmentGroup]),
                                   1,
                               new Dictionary<string, object> { }, false, false
                               ))
                </div>
                <div class="col-md-6">
                    @Html.ViettelTextbox(@Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentName"), "EvaluationDevelopmentName", "", new Dictionary<string, object> { { "id", "idEvaluationDevelopmentName" } }, false, false)
                </div>
                <div class="col-md-6">
                    @Html.ViettelTextbox(@Res.Get("EvaluationDevelopment_Label_EvaluationDevelopmentCode"), "EvaluationDevelopmentCode", "", new Dictionary<string, object> { { "id", "idEvaluationDevelopmentCode" } }, false, false)
                </div>
            </div>
        </div>
         <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-icon btn-round btn-icon btn-icon-search")
        </div>
    </div>
}


<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
   
</script>




