				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentArea.Models

@{
    ViewBag.Title = @Res.Get("System_EvaluationDevelopment");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstEvaluationDevelopment">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("EvaluationDevelopment_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(425).ContentHtmlAttributes(new { style = "min-width:760px;" })
                .HtmlAttributes(new { @class = "evalution-development-create-window" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("EvaluationDevelopment_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(425).ContentHtmlAttributes(new { style = "min-width:760px;" })
                .HtmlAttributes(new { @class = "evalution-development-edit-window" })                
)
<script type="text/javascript">
    function AjaxLoadEvaluationGroup(educationLevelID) {
            frmId = $(educationLevelID).closest('form').get(0).id;
            controlUtils.loadComboBox(
                $("#" + frmId + " #EvaluationDevelopmentGroupID"),
                '@Url.Action("AjaxLoadEvaluationGroup", "EvaluationDevelopment")',
                { EducationLevelID: $(educationLevelID).val() },
                '@Res.Get("SelectRK")'
            );
    }
    function AjaxLoadEvaluationGroup_Search(educationLevelID) {
        frmId = $(educationLevelID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #EvaluationDevelopmentGroupID"),
            '@Url.Action("AjaxLoadEvaluationGroup", "EvaluationDevelopment")',
            { EducationLevelID: $(educationLevelID).val() },
            '@Res.Get("All")'
        );
        }
</script>
