﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
<div style="float: left; width: 75%">
    @Html.ViettelTextbox(Res.Get("PrimaryJudgeRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { { "disable", "disable" } }, false, false)
</div>
<div style="float: left; width: 96px;height:40px;">
    @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "JudgeRecord")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport4")
            .OnUpload("OnImportUpload4")
            .OnSuccess("OnImportSuccess4")
            .OnError("OnImportError4")
)
)
</div>
<div class="Clear"></div>
<div style="text-align: center; padding-top: 10px; padding-left: 100px">
    @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() {{ "id", "btImport" }, {"disabled", "disabled"} }, "button", "return OnImportButtonClick();", "t-state-disabled")
</div>
<style>
    .btnUploaderCss span
    {
        padding-right:20px;
    }
    .t-widget.t-upload.newclass .t-button.t-upload-selected<br>
    {
        display:none;
    }
</style>
