﻿@model JudgeRecordViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.JudgeRecordArea.Models
@using SMAS.Web.Areas.JudgeRecordArea
@using SMAS.Business.Common
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject;
<div id="GridImportData" style="width: 1000px; overflow: auto;">
    @{
        var period = (SMAS.Models.Models.PeriodDeclaration)ViewData[JudgeRecordConstants.LIST_PERIODDECLARATION];


        var index = 1;
        Html.Telerik()
            .Grid((IEnumerable<SMAS.Business.BusinessObject.JudgeRecordBO>)ViewData[JudgeRecordConstants.LIST_JUDGERECORDOFCLASS])
            .Name("GridJudgeRecord")
            .Columns(c =>
            {
                c.Template(@<text><center>@(index++)</center></text>).HeaderTemplate(@<text>
        <center><b>@Res.Get("Common_Column_Order")</b></center>
        </text>).Width(30);
                c.Bound(o => o.PupilCode)
                    .HeaderTemplate(
        @<text><center><b>@Res.Get("ApprenticeshipTest_Label_PupilCode")</b></center></text>).Width(100);
                c.Bound(o => o.FullName)
                    .HeaderTemplate(
        @<text><center><b>@Res.Get("ClassMovement_Label_FullName")</b></center></text>).Width(100);
                c.Template(
        @<text>
        <table cellspacing="0">
            <tr>
                @for (var m = 0; m < period.InterviewMark; m++)
                {
                    List<SelectListItem> items = new List<SelectListItem>();
                    <td>
                        <center>
                            <span name="JudgementMark">
                                @if (item.InterviewMark != null && item.InterviewMark[m] != "-1" && item.InterviewMark.Count() > 0)
                                {
                                    @item.InterviewMark[m]
                                }
                                else
                                {
                                    <label>
                                        --</label>
                                }
                            </span>
                        </center>
                    </td>
                }
            </tr>
        </table>
        </text>)
                            .HeaderTemplate(
        @<text>
        <table cellspacing="0">
            <tr>
                <td colspan="@period.InterviewMark">
                    <center>
                        <strong>@Res.Get("JudgeRecord_Label_M")</strong>
                    </center>
                </td>
            </tr>
            <tr>
                @{
                    for (var i = 0; i < period.InterviewMark; i++)
                    {
                    <td>
                        <center>@(string.Format("M{0}", period.StartIndexOfInterviewMark + i))</center>
                    </td>
                    }
                }
            </tr>
        </table>
        </text>).Width(150);
                c.Template(
        @<text>
        <table cellspacing="0">
            <tr>
                @{var pi = 0;}
                @for (var p = (int)period.InterviewMark; p < period.InterviewMark + period.WritingMark; p++)
                {
                    List<SelectListItem> items = new List<SelectListItem>();
                    <td>
                        <center>
                            <span name="JudgementMark">
                                @if (item.WritingMark != null && item.WritingMark[pi] != "-1" && item.WritingMark.Count() > 0)
                                {
                                    @item.WritingMark[pi]
                                }
                                else
                                {
                                    <label>
                                        --</label>
                                }
                            </span>
                        </center>
                    </td>
                                pi++;
                }
            </tr>
        </table>
        </text>)
                                    .HeaderTemplate(
        @<text>
        <table cellspacing="0">
            <tr>
                <td colspan="@period.WritingMark">
                    <center>
                        <strong>@Res.Get("JudgeRecord_Label_P")</strong>
                    </center>
                </td>
            </tr>
            <tr>
                @{
                    for (var i = 0; i < period.WritingMark; i++)
                    {
                    <td>
                        <center>
                            @(string.Format("P{0}", period.StartIndexOfWritingMark + i))</center>
                    </td>
                    }
                }
            </tr>
        </table>
        </text>).Width(150);
                c.Template(
        @<text>
        <table cellspacing="0">
            <tr>
                @{var vi = 0;}
                @for (var v = (int)(period.WritingMark + period.InterviewMark); v < period.InterviewMark + period.WritingMark + period.TwiceCoeffiecientMark; v++)
                {
                    List<SelectListItem> items = new List<SelectListItem>();
                    <td>
                        <center>
                            <span name="JudgementMark">
                                @if (item.TwiceCoeffiecientMark != null && item.TwiceCoeffiecientMark[vi] != "-1" && item.TwiceCoeffiecientMark.Count() > 0)
                                {
                                    @item.TwiceCoeffiecientMark[vi]
                                }
                                else
                                {
                                    <label>
                                        --</label>
                                }
                            </span>
                        </center>
                    </td>
                                vi++;
                }
            </tr>
        </table>
        </text>)
                                            .HeaderTemplate(
        @<text>
        <table cellspacing="0">
            <tr>
                <td colspan="@period.TwiceCoeffiecientMark">
                    <center>
                        <strong>@Res.Get("JudgeRecord_Label_V")</strong>
                    </center>
                </td>
            </tr>
            <tr>
                @{
                    for (var i = 0; i < period.TwiceCoeffiecientMark; i++)
                    {
                    <td>
                        <center>
                            @(string.Format("V{0}", period.StartIndexOfTwiceCoeffiecientMark + i))</center>
                    </td>
                    }
                }
            </tr>
        </table>
        </text>).Width(150);

                if (period.ContaintSemesterMark.HasValue && period.ContaintSemesterMark.Value)
                {
                    c.Bound(u => u.SemesterMark).Title(Res.Get("HK")).Width(50);
                }

                c.Template(
        @<text>
        @{var lstSummedUpRecord = (List<SummedUpRecordBO>)ViewData[JudgeRecordConstants.LIST_SUMMEDUPRECORDOFCLASSIMPORT];
          var SumUpRecord = lstSummedUpRecord.Where(o => o.PupilID == item.PupilID).FirstOrDefault();}
        <center>
            <span name="JudgementMark">
                @if (SumUpRecord != null && SumUpRecord.JudgementResult != "-1" && SumUpRecord.JudgementResult != "-1")
                {
                    @SumUpRecord.JudgementResult
                }</span></center>
        </text>)
                                                    .HeaderTemplate(
        @<text>
        <center><b>@Res.Get("JudgeRecordSemester_Label_TBM")</b></center>
        </text>).Width(30);
                c.Template(@<text>
        <center>
            @if (item.IsLegalBot.HasValue && item.IsLegalBot.Value)
            {
                <input type="checkbox" disabled="disabled" id="@item.PupilID" value="@item.PupilID" name="rptJudgeRecord" checked="checked" />
            }
            else
            {
                <input type="checkbox" disabled="disabled" id="@item.PupilID" value="@item.PupilID" name="rptJudgeReport_disabled" />
            }
        </center>
        </text>)
                .HeaderTemplate(@<text><b>@Res.Get("JudgeRecordSemester_Label_IsLegalBot")</b></text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Template(@<text>
        <span style="color:Red"> @Html.Raw(item.ErrorDescription)</span>
        </text>)
                .HeaderTemplate(@<text><b>@Res.Get("JudgeRecordSemester_Label_ErrorDescription")</b></text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);
            }).DataKeys(keys => keys.Add(o => o.PupilID)).Scrollable(scrolling => scrolling.Height("300px")).Selectable().Render();
    }
</div>
<center>
    <div style="margin-top: 10px;">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "ajaxImportLegalData()", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "CloseDataBeforeImportDialog()", "")
    </div>
</center>
<style type="text/css">
    #GridImportData td{padding:0}.t-grid .t-status{display:none}.t-grid-pager{height:20px}#GridImportData .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
