@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.JudgeRecordArea.Models
@{
    ViewBag.Title = Res.Get("JudgeRecord_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div class="clear">
</div>
<div id="lstJudgeRecord">
</div>

@(Html.Telerik().Window()
                .Name("ImportExcelDialog")
                .Title(Res.Get("Common_Label_ChooseExcel"))
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(80)
       )
@(Html.Telerik().Window()
                .Name("ChooseActionDialog")
                .Title(Res.Get("Common_Label_ChooseAction"))
                .Content(@<text>@Html.Partial("_ChooseAction")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(200)
       )
@(Html.Telerik().Window()
                .Name("DataBeforeImportDialog")
                .Title(Res.Get("JudgeRecord_Label_DataBeforeImport"))
                .Content(@<text><div id="divDataBeforeImport">
                </div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(1100)
                .Height(500)
       )
<script type="text/javascript">
    $(document).ready(function () {
        var EducationlevelID = $("#_EducationlevelID").val();
        var DefaultEducationLevelID = $("#DefaultEducationLevelID").val();
        if (EducationlevelID != DefaultEducationLevelID) {
            setTimeout(function () {
                LoadListClassByEducationLevel(EducationlevelID);
            }, 500);

        }
    });
    function CloseDataBeforeImportDialog() {
        formUtils.resetForm("ImportExcelDialog");
        smas.closeDialog("DataBeforeImportDialog");
    }
    function ImportExcel() {
        formUtils.resetForm("ImportExcelDialog");
        smas.openDialog("ImportExcelDialog", "", {});
    }
    function callExport() {
        $("#btnSubmitForm").click();
    }
    function LoadPeriod(SemesterID) {
        var semesterid = $(SemesterID).attr('value');
        $("#_SemesterID").attr("value", semesterid);
        $('#divAddNewJudgeRecord').css('display', 'none');
        $('#divDeleteJudgeRecord').css('display', 'none');
        $('#btnExcel').css('display', 'none');
        $.ajax({
            url: '@Url.Action("GetListPeriod", "JudgeRecord")',
            type: 'post',
            data: { SemesterID: semesterid },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ListPeriod").html(msg);
                $("#ListSubject").html("");
                $("#lstJudgeRecord").html("");
                var ClassID = $("#_ClassID").val();
                if (ClassID != "") {
                    setTimeout(function () {
                        LoadListSubjectByClassID(ClassID);
                    }, 200);
                }
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function LoadListClass(EucationLevelID) {
        var educationlevelid = $(EucationLevelID).val();
        $("#_EducationlevelID").attr("value", educationlevelid);
        $.ajax({
            url: '@Url.Action("GetListClass", "JudgeRecord")',
            type: 'post',
            data: { id: educationlevelid },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ListClass").html(msg);
                $("#ListSubject").html("");
                $("#lstJudgeRecord").html("");
                $('#btnExcel').css('display', 'none');
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function LoadListClassByEducationLevel(EucationLevelID) {
        $.ajax({
            url: '@Url.Action("GetListClass", "JudgeRecord")',
            type: 'post',
            data: { id: EucationLevelID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ListClass").html(msg);
                $("#ListSubject").html("");
                $("#lstJudgeRecord").html("");
                $('#btnExcel').css('display', 'none');
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function LoadListSubject(ClassProfileID) {
        var classid = $(ClassProfileID).attr('id');
        $("input[name=btnClass]").removeAttr("disabled");
        $("input[name=btnClass]").removeClass("t-state-disabled");
        $('#divAddNewJudgeRecord').css('display', 'none');
        $('#divDeleteJudgeRecord').css('display', 'none');
        var semesterid = $("#_SemesterID").val();
        if ($.browser.msie) {
            var clss = document.getElementById("_ClassID");
            clss.setAttribute('value', classid);
        }
        else {
            $("#_ClassID").attr("value", classid);
        }
        $.ajax({
            url: '@Url.Action("GetListSubject", "JudgeRecord")',
            type: 'post',
            data: { id: classid, semesterid: semesterid },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $(ClassProfileID).addClass("t-state-disabled");
                $(ClassProfileID).attr("disabled", "disabled");
                $("#ListSubject").html(msg);
                $("#lstJudgeRecord").html("");
                $('#btnImport').addClass("t-state-disabled");
                $('#btnImport').removeAttr("onclick");
                $('#btnExport').addClass("t-state-disabled");
                $('#btnExport').removeAttr("onclick");
                $('#btnExcel').css('display', 'none');
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function LoadListSubjectByClassID(classid) {
        $("input[name=btnClass]").removeAttr("disabled");
        $("input[name=btnClass]").removeClass("t-state-disabled");
        $('#divAddNewJudgeRecord').css('display', 'none');
        $('#divDeleteJudgeRecord').css('display', 'none');
        var semesterid = $("#_SemesterID").val();
        if ($.browser.msie) {
            var clss = document.getElementById("_ClassID");
            clss.setAttribute('value', classid);
        }
        else {
            $("#_ClassID").attr("value", classid);
        }
        $.ajax({
            url: '@Url.Action("GetListSubject", "JudgeRecord")',
            type: 'post',
            data: { id: classid, semesterid: semesterid },
            beforeSend: function () {
                //smas.showProcessingDialog();
            },
            success: function (msg) {
                var ClassProfile = document.getElementById("" + classid + "");
                $(ClassProfile).addClass("t-state-disabled");
                $(ClassProfile).attr("disabled", "disabled");
                $("#ListSubject").html(msg);
                $("#lstJudgeRecord").html("");
                $('#btnImport').addClass("t-state-disabled");
                $('#btnImport').removeAttr("onclick");
                $('#btnExport').addClass("t-state-disabled");
                $('#btnExport').removeAttr("onclick");
                $('#btnExcel').css('display', 'none');
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function LoadListJudgeRecord(SubjectID) {
        var classid = $("#_ClassID").val();
        var subjectid = $(SubjectID).attr('value');
        var semesterid = $("#_SemesterID").val();
        var educationlevelid = $("#_EducationlevelID").val();
        var periodid = $("#PeriodID").val();
        if (periodid == null) {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("JudgeRecord_Validate_PeriodEmpty"))' });
        }
        else if (classid != "" && subjectid != "" && semesterid != "" && educationlevelid != "" && periodid != "") {

            $("input[id=btnaddnewChk][permis=true]").removeAttr("disabled");
            $('#divAddNewJudgeRecord').css('display', 'block');
            $('#divDeleteJudgeRecord').css('display', 'block');
            $('#btnAddNewJudgeRecord').attr('disabled', 'disabled');
            $('#btnAddNewJudgeRecord').addClass("t-state-disabled");
            $('#btnDelJudgeRecord').removeClass("t-state-disabled");
            $('#btnDelJudgeRecord').removeAttr("disabled");
            $('#btnExcel').css('display', 'block');
            $('#btnaddnewChk').attr('checked', false);

            $.ajax({
                url: '@Url.Action("Search", "JudgeRecord")',
                type: 'post',
                data: { Classid: classid, semesterid: semesterid, subjectid: subjectid, educationlevelid: educationlevelid, periodid: periodid },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#lstJudgeRecord").html(msg);
                    $("#_SubjectID").attr("value", subjectid);
                    setpermision();
                    smas.hideProcessingDialog();
                    if ($("#IsLockSemster").val() == "1")  {
                        $('#btnImport').addClass("t-state-disabled");
                        $('#btnImport').removeAttr("onclick");
                        //Author: Tamhm1 Comment
                        //$('#btnExport').addClass("t-state-disabled");
                        //$('#btnExport').removeAttr("onclick");
                        $('#btnAddNewJudgeRecord').attr('disabled', 'disabled');
                        $('#btnAddNewJudgeRecord').addClass("t-state-disabled");
                        $('#btnDelJudgeRecord').addClass("t-state-disabled");
                        $('#btnDelJudgeRecord').attr('disabled', 'disabled');
                    }
                    else {
                        $('#btnImport').removeClass("t-state-disabled");
                        $('#btnImport').attr("onclick", "ImportExcel();");
                        $('#btnExport').removeClass("t-state-disabled");
                        $('#btnExport').attr("onclick", "callExport();");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
    function setpermision() {
        var permision = $("#hidden_permision").val();
        if (permision == "1") {
            $("#btnaddnewChk").removeAttr("disabled");
        }
        else if (permision == "0") {
            $("#btnaddnewChk").attr("disabled", "disabled");
        }
    }

    function LoadListJudgeRecordAfter() {
        var subjectid = $("#_SubjectID").val();
        var semesterid = $("#_SemesterID").val();
        var educationlevelid = $("#_EducationlevelID").val();
        var periodid = $("#PeriodID").val();
        var classid = $("#_ClassID").val();
        $('#btnaddnewChk').attr('checked', false);
        if (periodid == null) {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("JudgeRecord_Validate_PeriodEmpty"))' });
        }
        else if (subjectid > 0 && semesterid > 0 && educationlevelid > 0 && classid > 0 && periodid > 0) {
            if (subjectid > 0 && semesterid > 0 && educationlevelid > 0 && classid > 0) {
                $('#divAddNewJudgeRecord').css('display', 'block');
                $('#divDeleteJudgeRecord').css('display', 'block');
                $('#btnAddNewJudgeRecord').attr('disabled', 'disabled');
                $('#btnAddNewJudgeRecord').addClass("t-state-disabled");
                $('#btnDelJudgeRecord').removeClass("t-state-disabled");
                $('#btnDelJudgeRecord').removeAttr("disabled");
                $('#btnExcel').css('display', 'block');
            }
            $.ajax({
                url: '@Url.Action("Search", "JudgeRecord")',
                type: 'post',
                data: { subjectid: subjectid, semesterid: semesterid, educationlevelid: educationlevelid, periodid: periodid, classid: classid },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#lstJudgeRecord").html(msg);
                    setpermision();
                     if ($("#IsLockSemster").val() == "1")  {
                        $("#btnaddnewChk").attr('disabled', 'disabled');
                        $('#btnImport').addClass("t-state-disabled");
                        $('#btnImport').removeAttr("onclick");
                        //$('#btnExport').addClass("t-state-disabled");
                        //$('#btnExport').removeAttr("onclick");
                        $('#btnAddNewJudgeRecord').attr('disabled', 'disabled');
                        $('#btnAddNewJudgeRecord').addClass("t-state-disabled");
                        $('#btnDelJudgeRecord').addClass("t-state-disabled");
                        $('#btnDelJudgeRecord').attr('disabled', 'disabled');
                    }
                    else {
                        $('#btnImport').removeClass("t-state-disabled");
                        $('#btnImport').attr("onclick", "ImportExcel();");
                        $('#btnExport').removeClass("t-state-disabled");
                        $('#btnExport').attr("onclick", "callExport();");
                    }
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }

    function Clickchk(id) {
        $("#chkAll").attr('checked', false);
    }

    function CheckAll() {
        if ($('#chkAll').is(":checked")) {
            $('input[name=rptJudgeRecord]').attr('checked', true);
        }
        else {
            $('input[name=rptJudgeRecord]').attr('checked', false);
        }
    }
    function AddNewChkClick() {
        if ($('#btnaddnewChk').is(":checked")) {
            $('div[name=judgerecordmark]').css('display', 'block');
            $('span[name=JudgementMark]').css('display', 'none');
            $('#divAddNewJudgeRecord').css('display', 'block');
            $('#divDeleteJudgeRecord').css('display', 'block');
            $('#btnDelJudgeRecord').attr('disabled', 'disabled');
            $('#btnAddNewJudgeRecord').removeAttr('disabled');
            $('#btnDelJudgeRecord').addClass("t-state-disabled");
            $('#btnAddNewJudgeRecord').removeClass("t-state-disabled");
            $('#btnImport').addClass("t-state-disabled");
            $('#btnExport').addClass("t-state-disabled");
            $('#btnImport').removeAttr("onclick");
            $('#btnExport').removeAttr("onclick");
        }
        else {
            $('div[name=judgerecordmark]').css('display', 'none');
            $('span[name=JudgementMark]').css('display', 'block');
            $('#divAddNewJudgeRecord').css('display', 'block');
            $('#divDeleteJudgeRecord').css('display', 'block');
            $('#btnAddNewJudgeRecord').attr('disabled', 'disabled');
            $('#btnAddNewJudgeRecord').addClass("t-state-disabled");
            $('#btnDelJudgeRecord').removeAttr('disabled');
            $('#btnDelJudgeRecord').removeClass("t-state-disabled");
            $('#btnImport').removeClass("t-state-disabled");
            $('#btnExport').removeClass("t-state-disabled");
            $('#btnImport').attr("onclick", "ImportExcel();");
            $('#btnExport').attr("onclick", "callExport();");
        }
    }
    function CaculateTBM(Mark) {
        var m_coefficient = $("#m_coefficient").val();
        var p_coefficient = $("#p_coefficient").val();
        var v_coefficient = $("#v_coefficient").val();
        var hk_coefficient = $("#hk_coefficient").val();
        var m_type = $("#m_type").val();
        var p_type = $("#p_type").val();
        var v_type = $("#v_type").val();
        var hk_type = $("#hk_type").val();
        var value = $(Mark).attr('value');
        var name = $(Mark).attr('name');
        var param = name.split('_');
        var pupilid = param[0];
        var title = param[1];
        var type = param[2];
        var tbm = pupilid + "TBM";
        var tbmD = pupilid + "TBM_D";
        var tbmCD = pupilid + "TBM_CD";
        var total_D = 0;
        var total_CD = 0;
        var diem_HK = "";
        var hasSemester = $("#hasSemester").val();
        $("select[idvt='" + pupilid + "mark']").each(function () {
            var elment_name = $(this).attr("name");
            var element_value = $(this).attr('value');
            var element_param = elment_name.split('_');
            var element_pupilid = element_param[0];
            var element_title = element_param[1];
            var element_type = element_param[2];
            if (element_value != "") {
                //neu kieu là M
                if (element_type == m_type) {
                    //lấy hệ số của M
                    if (element_value == "D") {
                        total_D = parseInt(total_D) + parseInt(m_coefficient);
                        $("#" + tbmD).attr("value", total_D);
                    }
                    if (element_value == "CD") {
                        total_CD = parseInt(total_CD) + parseInt(m_coefficient);
                        $("#" + tbmCD).attr("value", total_CD);
                    }
                }
                //neu kieu là P
                if (element_type == p_type) {
                    //lấy hệ số của P 
                    if (element_value == "D") {
                        total_D = parseInt(total_D) + parseInt(p_coefficient);
                        $("#" + tbmD).attr("value", total_D);
                    }
                    if (element_value == "CD") {
                        total_CD = parseInt(total_CD) + parseInt(p_coefficient);
                        $("#" + tbmCD).attr("value", total_CD);
                    }
                }
                //neu kieu là V
                if (element_type == v_type) {
                    //lấy hệ số của V
                    if (element_value == "D") {
                        total_D = parseInt(total_D) + parseInt(v_coefficient);
                        $("#" + tbmD).attr("value", total_D);
                    }
                    if (element_value == "CD") {
                        total_CD = parseInt(total_CD) + parseInt(v_coefficient);
                        $("#" + tbmCD).attr("value", total_CD);
                    }
                }
                //neu kieu là HK
                if (element_type == hk_type) {
                    //lấy hệ số của V
                    if (element_value == "D") {
                        total_D = parseInt(total_D) + parseInt(hk_coefficient);
                        $("#" + tbmD).attr("value", total_D);
                    }
                    if (element_value == "CD") {
                        total_CD = parseInt(total_CD) + parseInt(hk_coefficient);
                        $("#" + tbmCD).attr("value", total_CD);
                    }
                    diem_HK = element_value;
                }
            }
        });
        total_D = 0;
        total_CD = 0;
        var tbmd = $("#" + tbmD).val();
        var tbmcd = $("#" + tbmCD).val();
        var int_tbm_d = parseInt(tbmd);
        var int_tbm_cd = parseInt(tbmcd);
        var total_d_cd = int_tbm_d + int_tbm_cd;
        if (hasSemester == "1") {
            if (diem_HK != "") {
                if (diem_HK == "D" && (int_tbm_d - Math.round(total_d_cd * 2 / 3)) >= 0) {
                    $("#" + pupilid.toString() + "TBM option").each(function () {
                        if ($(this).val() == "D") {
                            $(this).attr("selected", "selected");
                        }
                    });
                }
                else {
                    $("#" + pupilid.toString() + "TBM option").each(function () {
                        if ($(this).val() == "CD") {
                            $(this).attr("selected", "selected");
                        }
                    });
                }
            }
            else {
                $("#" + pupilid.toString() + "TBM option").each(function () {
                    if ($(this).val() == "") {
                        $(this).attr("selected", "selected");
                    }
                });
            }
        }
        else if (hasSemester == "0") {
            if (int_tbm_d - Math.round(total_d_cd * 2 / 3) >= 0) {
                $("#" + pupilid.toString() + "TBM option").each(function () {
                    if ($(this).val() == "D") {
                        $(this).attr("selected", "selected");
                    }
                });
            }
            else {
                $("#" + pupilid.toString() + "TBM option").each(function () {
                    if ($(this).val() == "CD") {
                        $(this).attr("selected", "selected");
                    }
                });
            }
        }
    }
    function AddNewJudgeRecord() {
        var isSave = false;
        $("input[name=rptJudgeRecord]:checked").each(function () {
            isSave = true;
        });
        if (isSave == false) {
            alert('@Html.Raw(Res.Get("JudgeRecord_Validation_Require_Check"))');
        }
        else {
            smas.showProcessingDialog();
            var datafrom = $("#frmCreateJudgeRecord").serialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateJudgeRecord", "JudgeRecord")',
                data: datafrom,
                dataType: "json",
                success: function (msg) {
                    smas.hideProcessingDialog();
                    smas.alert(msg);
                    if (msg.Type == "success") {
                        LoadListJudgeRecordAfter();
                        formUtils.focusForm("frmCreateJudgeRecord");
                    }
                }
            });
        }
    }

    function DeleteJudgeRecord() {
        if (confirm('@Html.Raw(Res.Get("JudgeRecord_Label_DeleteConfirm"))')) {
            smas.showProcessingDialog();
            var datafrom = $("#frmCreateJudgeRecord").serialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "JudgeRecord")',
                data: datafrom,
                dataType: "json",
                success: function (msg) {
                    smas.hideProcessingDialog();
                    smas.alert(msg);
                    if (msg.Type == "success") {
                        LoadListJudgeRecordAfter();
                        formUtils.focusForm("frmCreateJudgeRecord");
                    }
                }
            });
        }
    }
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('@Html.Raw(Res.Get("Common_Label_ChooseFileImport"))').attr("style", "text-align:center");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        $("#btnImport").addClass("t-state-disabled");
        $("#btnExport").addClass("t-state-disabled");
        $('#btnImport').removeAttr("onclick");
        $('#btnExport').removeAttr("onclick");
        var semester = $("#_SemesterID").val();
        if (semester == 1) {
            setTimeout(function () {
                $("#SearchPanel #SemesterID0").focus();
            }, 500);
        }
        else if (semester == 2) {
            setTimeout(function () {
                $("#SearchPanel #2").focus();
            }, 500);
        }
    });
    var _intervalId;
    function OnSelectImport(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
        if ($("#txtFilePath").val() != "") {
            $('#btImport').removeClass('t-state-disabled');
            $('#btnImport').attr("onclick", "ImportExcel();");
        }
        else {
            $('#btnImport').addClass('t-state-disabled');
            $('#btnImport').removeAttr("onclick");
        }
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
        }
    }
    function OnImportUpload(e) {
        if ($("#txtFilePath").val() != "") {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            var subjectid = $("#_SubjectID").val();
                            var semesterid = $("#_SemesterID").val();
                            var educationlevelid = $("#_EducationlevelID").val();
                            var classid = $("#_ClassID").val();
                            var periodid = $("#PeriodID").val();
                            var dataInput = { semesterid: semesterid, educationlevelid: educationlevelid
        , classid: classid, subjectid: subjectid, periodid: periodid
                            };
                            e.data = dataInput;
                            // return true;
                        }
                        else {
                            //smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("JudgeRecord_Validate_FileMaxSize"))' });
                            //e.preventDefault();
                            //smas.hideProcessingDialog();
                            //return false;
                        }
                    }
                } else {
                    //smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("JudgeRecord_Validate_FileNotExtends"))' });
                    //e.preventDefault();
                    //smas.hideProcessingDialog();
                    //return false;
                }
            });
        }
        else {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))' });
        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            smas.showProcessingDialog();
        }
        else {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))' });
        }
    }

    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        if (e.response.Type == "grid") {
            LoadListJudgeRecordAfter();
            //formUtils.resetForm("ChooseActionDialog");
            $("#frmImport").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog", "", {});
        } else {
            //formUtils.resetForm("ImportExcelDialog");
            //$('#btImport').attr('disabled');
            //$('#btImport').addClass('t-state-disabled');
            //smas.alert(e.response.Message);
            LoadListJudgeRecordAfter();
            setTimeout(function () { smas.closeDialog("ImportExcelDialog"); }, 800);
        }

    }
    function OnImportError(e) {
        smas.hideProcessingDialog();
        smas.alert({ Type: "error", Message: e.XMLHttpRequest.response });
        formUtils.resetForm("ImportExcelDialog");
        e.preventDefault();
    }
</script>
<style type="text/css">
    .t-grid-header table{width:100%}.vt-control .editor-field{padding-bottom:0;padding-top:0}.editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}.t-grid-content td{padding:1px}.t-grid-content .editor-label{width:0}.t-grid-content .editor-field{width:100%}#SearchPanel .editor-label{width:0}#SearchPanel .editor-field{width:100%;padding-bottom:0}.fieldsearch1{float:left;width:20%;margin-right:20px}.fieldsearch2{float:left;width:45%;margin-right:20px}.fieldsearch3{float:left;width:30%}.clear{clear:both}.displaynameClass{width:60px;margin-bottom:10px}.boxitem{margin-right:10px}.listsubject{width:85%;float:left}.addnewChk{width:10%;float:left;margin-top:40px;margin-left:20px}.searchtitle{font-weight:700;text-align:center;margin-bottom:10px}
</style>
