﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedUpRecordArea.Models
@using SMAS.Web.Areas.SummedUpRecordArea
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common

@{
    bool NotChooseClassYet = ViewData["NotChooseClassYet"] is bool ? (bool)ViewData["NotChooseClassYet"] : false;
    if (NotChooseClassYet)
    {
        return;
    }
    var index = 1;
    double m;
    IHtmlString leavedOffStyle = Html.Raw("style='color: red'");
    IHtmlString movedSchoolStyle = Html.Raw("style='color: red'");
    IHtmlString movedClassStyle = Html.Raw("style='color: red'");
    GlobalInfo globalInfo = new GlobalInfo();
    List<ClassSubjectBO> ListClassSubject = ViewData[SummedUpRecordConstants.LIST_SUBJECT] as List<ClassSubjectBO>;
    List<PupilOfClassBO> ListPupilOfClass = ViewData[SummedUpRecordConstants.LIST_PUPIL_CLASS] as List<PupilOfClassBO>;
    List<PupilOfClassRanking> ListPupilRanking = ViewData[SummedUpRecordConstants.LIST_PUPIL_RANKING] as List<PupilOfClassRanking>;
    List<SummedUpRecordBO> ListSummedUpRecord = ViewData[SummedUpRecordConstants.LIST_SUMMEDUPRECORD] as List<SummedUpRecordBO>;
    Dictionary<string, bool> dicExemptedSubject = ViewData[SummedUpRecordConstants.DIC_EXEMPTED_SUBJECT] as Dictionary<string, bool>;
    List<RegisterSubjectSpecializeBO> lstRegisterBO = new List<RegisterSubjectSpecializeBO>();
    if (ViewData[SummedUpRecordConstants.LIST_REGISTER_SUBJECT] != null)
    {
        lstRegisterBO = (List<RegisterSubjectSpecializeBO>)ViewData[SummedUpRecordConstants.LIST_REGISTER_SUBJECT];
    }
    int countRegis = 0;  
}

@using (Ajax.BeginForm("SummarizeMark",
                           "SummedUpRecord",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "OnBeginSumUp",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmSearch" }))
{
    @Html.AntiForgeryToken()

    bool enabled = ViewData[SummedUpRecordConstants.ENABLE_SUMMEDUP] != null && (bool)ViewData[SummedUpRecordConstants.ENABLE_SUMMEDUP];
    <div class="text-center light-green f-16">
        @ViewData[SummedUpRecordConstants.TITLE_PAGE].ToString().ToUpper()
    </div>
    <hr />
    <div style="text-align: right; margin-top: 10px; margin-right: 8px;">
        @Html.Raw(Res.Get("PupilRanking_Label_DesSubjectMark"))
    </div>
    <div class="Clear">
    </div> 
    <div id="GridSummedUp">

        <div class="text-right mg-t-10 mg-b-10">
             @{
              if ((bool)ViewData[SummedUpRecordConstants.ENABLE_RANK])
              {
                <input type="button" value="@Res.Get("PupilRanking_Button_Rank")" @(Html.Raw("class='btn btn-info btn-round mg-r-5'")) onclick="Rank()" />
              }
              else
              {
                <input type="button" value="@Res.Get("PupilRanking_Button_Rank")" @(Html.Raw("disabled='disabled' class='btn btn-info btn-round mg-r-5 t-state-disabled'")) onclick="Rank()" />
              }
            }
            <input type="submit" value="@Res.Get("PupilRanking_Button_SumUp")" @( !enabled ? Html.Raw("disabled='disabled' class='btn btn-info btn-round mg-r-5 t-state-disabled'") : Html.Raw("class='btn btn-info btn-round'")) />
            <input type="button" value="@Res.Get("PupilRanking_Button_ExportExcel")" @( !(bool)ViewData[SummedUpRecordConstants.ENABLE_EXCEL] ? Html.Raw("disabled='disabled' class='btn btn-basic btn-round btn-icon btn-icon-excel t-state-disabled'") : Html.Raw("class='btn btn-basic btn-round btn-icon btn-icon-excel'")) onclick="exportReport()" />
    </div>

        @{Html.Telerik()
        .Grid(ListPupilOfClass)
        .Name("GridSummedUpRecord")
        .HtmlAttributes(new Dictionary<string, object>() { { "style", "width:99%" } })
        .Columns(columns =>
        {

            columns.Template(@<text>@(index++)</text>)
                .Title(Res.Get("Common_Column_Order"))
                .Width(30)
                .HeaderHtmlAttributes(new { style = "text-align:center", valign = "middle" })
                .HtmlAttributes(new { style = "text-align:center", valign = "middle" });
            columns.Template(@<text>
            @{
                IHtmlString pupilStyle = null;
                if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF) { pupilStyle = leavedOffStyle; }
                if (item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS) { pupilStyle = movedClassStyle; }
                if (item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL) { pupilStyle = movedSchoolStyle; }
            }
            <span @pupilStyle>@item.PupilFullName</span>
            </text>)
            .Title(Res.Get("SummedUpRecord_Label_PupilName")).Width(120)
            .HeaderHtmlAttributes(new { style = "text-align:center", valign = "middle" });
            columns.Template(
            @<text>
            <table cellspacing="0">
                <tr>
                    @{
                        if (ListClassSubject != null)
                        {
                            foreach (var subject in ListClassSubject)
                            {
                                string hidId = item.PupilID + "_" + subject.SubjectID;
                                string markInfo = string.Empty;
                                string textAlign = "left";
                                string hidVal = "0";
                                bool isExemptedSubject = dicExemptedSubject.ContainsKey(hidId) ? dicExemptedSubject[hidId] : false;
                                if (isExemptedSubject)
                                {
                                    // Mien giam
                                    markInfo = "<font color='Green'><b>" + Res.Get("Common_Label_MG") + "</b></font>";
                                    hidVal = "1";
                                }

                                countRegis = lstRegisterBO.Where(p => p.PupilID == item.PupilID && p.SubjectID == subject.SubjectID && p.SubjectTypeID == subject.AppliedType).Count();
                                SummedUpRecordBO summedUpRecord = null;
                                
                                if (!(subject.Is_Specialize_Subject.HasValue && subject.Is_Specialize_Subject.Value) && (subject.AppliedType == GlobalConstants.APPLIED_SUBJECT_ELECTIVE 
                                                                       || subject.AppliedType == GlobalConstants.APPLIED_SUBJECT_ELECTIVE_PRIORITIE
                                                                       || subject.AppliedType == GlobalConstants.APPLIED_SUBJECT_ELECTIVE_SCORE) && countRegis == 0)
                                {
                                    markInfo = "<font color='Blue'><b>KH</b></font>";
                                }
                                else
                                {
                                    summedUpRecord = ListSummedUpRecord != null ?
                                    ListSummedUpRecord.FirstOrDefault(s => s.PupilID == item.PupilID && s.SubjectID == subject.SubjectID) : null;
                                    if (summedUpRecord != null)
                                    {
                                        if (summedUpRecord.SummedUpMark.HasValue || summedUpRecord.JudgementResult != null)
                                        {
                                            hidVal = "1";
                                            if (summedUpRecord.SummedUpMark.HasValue)
                                            {
                                                markInfo = summedUpRecord.SummedUpMark.Value.ToString();

                                            }
                                            else if (summedUpRecord.JudgementResult != null)
                                            {
                                                markInfo = summedUpRecord.JudgementResult;
                                            }
                                        }
                                        else
                                        {
                                            markInfo = "<font color='red'><b>" + Res.Get("Common_Label_CT") + "</b></font>";
                                        }

                                    }

                                    if (summedUpRecord == null && !isExemptedSubject)
                                    {
                                        markInfo = "<font color='red'><b>" + Res.Get("Common_Label_CT") + "</b></font>";
                                    }
                                }

                                if (!string.IsNullOrEmpty(markInfo) && !"<font color='red'><b>CT</b></font>".Equals(markInfo) && markInfo != "<font color='Green'><b>MG</b></font>" && markInfo != "Đ" && markInfo != "CĐ" && !"KH".Equals(markInfo))
                                {
                                    textAlign = "left";
                                }
                        <td style="text-align:@textAlign">
                            @{
                                if (!string.IsNullOrEmpty(markInfo) && !"<font color='red'><b>CT</b></font>".Equals(markInfo) && !"<font color='Green'><b>MG</b></font>".Equals(markInfo) && !"Đ".Equals(markInfo) && !"CĐ".Equals(markInfo) && !"<font color='Blue'><b>KH</b></font>".Equals(markInfo))
                                {
                                    m = double.Parse(markInfo);
                                    if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                    {
                                        if (m != 10.0)
                                        {
                                @Html.Raw("<font color='red'>" + @m.ToString("0.0").Replace(",",".") + "</font>")
                                        }
                                        else
                                        {
                                @Html.Raw("<font color='red'>" + @m.ToString("0") + "</font>")
                                        }
                                    }
                                    else
                                    {
                                        if (m != 10.0)
                                        {
                                @Html.Raw(@m.ToString("0.0").Replace(",","."))
                                        }
                                        else
                                        {
                                @Html.Raw(@m.ToString("0"))
                                        }
                                    }

                                }
                                else
                                {
                                    if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                    {
                                @Html.Raw("<font color='red'>" + markInfo + "</font>")
                                    }
                                    else
                                    {
                                @Html.Raw(markInfo)
                                    }
                                }                        
                            }
                            @Html.ViettelHidden(hidId, hidVal, new Dictionary<string, object> { { "class", "hiddenMarkClass" } })
                        </td>
                            }
                            PupilOfClassRanking pupilRanking = ListPupilRanking != null ?
                                ListPupilRanking.FirstOrDefault(s => s.PupilID == item.PupilID) : null;
                            string averageMark = string.Empty;
                            string capacityLevel = string.Empty;
                            string capacityLevelID = string.Empty;
                            string conductLevel = string.Empty;
                            string conductLevelID = string.Empty;
                            string rank = string.Empty;

                            if (pupilRanking != null)
                            {
                                if (pupilRanking.AverageMark.HasValue)
                                {
                                    averageMark = pupilRanking.AverageMark.Value.ToString();
                                }
                                if (pupilRanking.Rank.HasValue)
                                {
                                    rank = pupilRanking.Rank.Value.ToString();
                                }
                                if (pupilRanking.CapacityLevelID.HasValue)
                                {
                                    capacityLevelID = pupilRanking.CapacityLevelID.Value.ToString();
                                }
                                if (pupilRanking.ConductLevelID.HasValue)
                                {
                                    conductLevelID = pupilRanking.ConductLevelID.Value.ToString();
                                }
                                conductLevel = pupilRanking.ConductLevel;
                                capacityLevel = pupilRanking.CapacityLevel;
                            }
                            string rankingVal = item.PupilID + "_" + averageMark + "_" + capacityLevelID + "_" + conductLevelID + "_" + rank;
                        <td title="@averageMark" style="text-align:left;" valign="middle">
                            @Html.ViettelHidden("ArrPupilRanking", rankingVal)
                            @{
                            if (item.isShow == true)
                            {
                                if (averageMark != null && averageMark != "")
                                {
                                    if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                    {
                                @Html.Raw("<font color='red'>" + double.Parse(averageMark).ToString("0.#").Replace(",",".") + "</font>")
                                    }
                                    else
                                    {
                                @double.Parse(averageMark).ToString("0.#").Replace(",",".")
                                    }
                                }
                            }       
                            }
                        </td>
                        <td title="@capacityLevel" valign="middle">
                            @if (item.isShow == true)
                            {
                                if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                {
                                @Html.Raw("<font color='red'>" + capacityLevel + "</font>")
                                }
                                else
                                {
                                @capacityLevel
                                }
                            }
                        </td>
                        <td title="@conductLevel" valign="middle">
                            @if (item.isShow == true)
                            {
                                if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                {
                                @Html.Raw("<font color='red'>" + conductLevel + "</font>")
                                }
                                else
                                {
                                @conductLevel
                                }
                            }
                        </td>
                        <td title="@rank" style="text-align:left" valign="middle">
                            @if (item.isShow == true)
                            {
                                if (item.Status == SystemParamsInFile.PUPIL_STATUS_LEAVED_OFF || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_CLASS
                                                || item.Status == SystemParamsInFile.PUPIL_STATUS_MOVED_TO_OTHER_SCHOOL)
                                {
                                @Html.Raw("<font color='red'>" + rank + "</font>")
                                }
                                else
                                {
                                @rank
                                }
                            }
                        </td>
                        }
                    }
                </tr>
            </table>
            </text>)
                    .HeaderTemplate(@<text>
            <table>
                <tr>
                    @{
                        if (ListClassSubject != null)
                        {
                            bool isbreakLine = ListClassSubject.Count > 5 ? true : false;
                            foreach (var subject in ListClassSubject)
                            {
                                string subName = subject.DisplayName;    
                        <td title="@subject.DisplayName">
                            @{;
                              if (isbreakLine)
                              {

                                  string[] subjectNameSplit = subName.Split(' ');

                                  foreach (string name in subjectNameSplit)
                                  { 
                                <div style="text-align:center;">
                                    <span>@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(name, 2))</span>
                                </div>
                                  }
                              }
                              else
                              { 
                                <div style="text-align:center;">
                                    <span>@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(subName, 2))</span>
                                </div>
                              }
                            }
                        </td>    
                            }
                        <td style="text-align:center" title='@Res.Get("SummedUpRecord_Column_AvrerageMark")' valign="middle" >
                            @Res.Get("SummedUpRecord_Column_AvrerageMark")
                        </td>
                        <td title='@Res.Get("SummedUpRecord_Column_CapacityLevel")' valign="middle">
                            @{string subName2 = Res.Get("SummedUpRecord_Column_CapacityLevel");
                              string[] subjectNameSplit2 = subName2.Split(' ');
                              foreach (string name in subjectNameSplit2)
                              { 
                                <div style="text-align:center;">
                                    <span>@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(name, 2))</span>
                                </div>
                              }
                            }
                        </td>
                        <td title='@Res.Get("SummedUpRecord_Column_ConductLevel")' valign="middle">
                            @{string subName4 = Res.Get("SummedUpRecord_Column_ConductLevel");
                              string[] subjectNameSplit4 = subName4.Split(' ');
                              foreach (string name in subjectNameSplit4)
                              { 
                                <div style="text-align:center;">
                                    <span>@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(name, 2))</span>
                                </div>
                              }
                            }
                        </td>
                        <td title='@Res.Get("SummedUpRecord_Column_Rank")' valign="middle">
                            @{string subName3 = Res.Get("SummedUpRecord_Column_Rank");
                              string[] subjectNameSplit3 = subName3.Split(' ');
                              foreach (string name in subjectNameSplit3)
                              { 
                                <div style="text-align:center;">
                                    <span>@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(name, 2))</span>
                                </div>
                              }
                            }
                        </td>
                        }
                    }
                </tr>
            </table>
            </text>);
        })
        .DataKeys(keys => keys.Add(o => o.PupilOfClassID))
        .Selectable()
        .Scrollable(o => o.Enabled(true).Height(400))
        .Render();
        }
    </div>
    
    <div id="valueField">
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#valueField").html($("#hiddenPanel").html());
    });
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridSummedUpRecord').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function ExportExcel() {
        window.open('@Url.Action("DownloadReport")');
    }
    function exportReport() {
        window.open("@Url.Action("DownloadReport", "SummedUpRecord")");
    }
    function OnBeginSumUp() {
        //BOOMR.plugins.RT.startTimer("SumUp_PupilRankingPeriod");   //--> bat dau do
        smas.showProcessingDialog();
    }
    function CreateSuccess(msg) {
       // BOOMR.plugins.RT.endTimer("SumUp_PupilRankingPeriod");  //--> ket thúc do
       // BOOMR.plugins.RT.done();	//--> Gui du lieu
        smas.alert(msg);
        id = $("#ClassID").val();
        var semesterId = $("#Semester").val();
        var periodId = $("#PeriodID").val();
        $.ajax({
            url: '@Url.Action("LoadGridData", "SummedUpRecord")',
            type: 'post',
            data: { classId: id, semesterId: semesterId, periodId: periodId },
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#gridPupilForSummary").html(msg);
                setTimeout('smas.hideProcessingDialog();', 200);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function CreateFail(ajaxContext) {
    }

    function Rank() {
        ClassID = $("#ClassID").val();
        SemesterID = $("#Semester").val();
        var PeriodID = $("#PeriodID").val();
        if (ClassID > 0 && SemesterID > 0 && PeriodID > 0) {
            $.ajax({
                url: '@Url.Action("Rank", "SummedUpRecord")',
                type: 'POST',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                data: { ClassID: ClassID, Semester: SemesterID, PeriodID: PeriodID },
                success: function (data) {
                    smas.alert(data);
                    id = $("#ClassID").val();
                    var semesterId = $("#Semester").val();
                    var periodId = $("#PeriodID").val();
                    $.ajax({
                        url: '@Url.Action("LoadGridData", "SummedUpRecord")',
                            type: 'post',
                            data: { classId: id, semesterId: semesterId, periodId: periodId },
                            success: function (msg) {
                                $("#gridPupilForSummary").html(msg);
                                smas.hideProcessingDialog();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                                smas.hideProcessingDialog();
                            }
                        })
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
            }
        }
</script>
