@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedUpRecordArea.Models
<style type="text/css">
    #lstSummedUpRecord .t-link
    {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    .displaynameClass
    {
        width: 70px;
        margin-bottom: 10px;
    }
    #SearchPanel .editor-field
    {
        width: 100%;
        padding-bottom: 0px;
    }
    #lstSummedUpRecord div.t-grid-header .t-header
    {
        font-weight: bold;
        text-align: center;
        vertical-align:middle;
    }
</style>
@{
    ViewBag.Title = Res.Get("SummedUpRecord_Label_Title");
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
    string disabled = "";
    string cssDisable = "";
    GlobalInfo globalInfo = new GlobalInfo();
    if (!globalInfo.IsCurrentYear)
    {
        disabled = "disabled";
        cssDisable = " t-state-disabled";
    }  
}
@using (Ajax.BeginForm("SummarizeMark",
                           "SummedUpRecord",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmSearch" }))
{
    @Html.AntiForgeryToken()
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div id="lstSummedUpRecord">
        @Html.Partial("_List")
    </div>
    <br />
@*    <div id="divButton" style="text-align: center">
        @Html.ViettelButton(@Res.Get("PupilRanking_Button_SumUp"), new Dictionary<string, object>() { { disabled, "" } }, "submit", "return validateSummarize()", "vt-button" + cssDisable)
        @Html.ViettelButton(@Res.Get("PupilRanking_Button_ExportExcel"), new Dictionary<string, object>() { { disabled, "" } }, "button", "exportReport()", "vt-button" + cssDisable)
        @Html.ViettelHidden("classId")
    </div>*@
}
<script type="text/javascript">
    function validateSummarize() {
        var isValid = true;
        $(".hiddenMarkClass").each(function () {
            if ($(this).val() != '1') {
                isValid = false;
                return;
            }
        }
        )
        if (!isValid) {
            smas.alert({ Type: "error", Message: '@Res.Get("SummedUpRecord_Label_NotTbm")' });
            return false;
        }
        return true;
    }

      function exportReport() {
        window.open('@Url.Action("DownloadReport", "SummedUpRecord")');
        
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        // Tim kiem lai
        id = $("#classId").val();
        var semesterId = $('input[name=rdoSemester]:checked', '#' + frmId).val();
        var periodId = $("#cboPeriod").val();
        $.ajax({
            url: '@Url.Action("LoadGridData", "SummedUpRecord")',
            type: 'post',
            data: { classId: id, semesterId: semesterId, periodId: periodId },
            beforeSend: function () {

                    smas.showProcessingDialog();
                },
            success: function (msg) {
                $("#lstSummedUpRecord").html(msg);
                setTimeout('smas.hideProcessingDialog();',200);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function CreateFail(ajaxContext) {
    }

</script>
