﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sms-edu-wrapper school-info-conf-page">
    <div>
    @{ Html.RenderPartial("_Create"); }
    </div>

    @section script{
        @System.Web.Optimization.Scripts.Render("~/bundles/SchoolInfoConfig")
    }
    @section style{
        @System.Web.Optimization.Styles.Render("~/bundles/SchoolInfoConfigcss")
    }
</div>
