﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils

@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}

@using (Ajax.BeginForm("ImportExcel", "TeacherGrading",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportData" }
                       ))
{
    <input type ="hidden" id ="FacultyID" name ="FacultyID" />
    @Html.AntiForgeryToken()
    <div style="text-align:center; padding-top:15px;">
        <div style="float:left; width:440px; padding-top:4px;">
            @Html.ViettelTextbox("Import từ file Excel", "txtFilePath", null, new Dictionary<string, object>() { }, false,false)
        </div>
        <div style="float:left;">
            @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
                .Save("SaveFile", "TeacherGrading")
                .AutoUpload(false))
            .ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
                )
            )
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="text-align:center; padding-top:3px;">
        @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string,object>(){{"disabled","disabled"}, {"id","btImport"}}, "button", "OnImportButtonClick()", "t-state-disabled")
        @Html.ViettelButton(Res.Get(""), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")
    </div>
}
   
<style>
    #frmImportData .vt-control .editor-label { width:35%; margin-left:15px; }
    #frmImportData .vt-control .editor-field { width:60%; }
    .t-widget.t-upload.newclass .t-button.t-upload-selected { display:none; }
    .t-dropzone { width:65px; height:15px; }
</style>
          
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;width:200px");
    });

    // Các sự kiện kiểm tra
    function hideUploadButton() {
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        if (button.length > 0) {
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            clearInterval(_intervalId);

            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        }
        else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    // Sự kiện nhấn chọn file để Import
    function OnImportButtonClick() {
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        if (button.length > 0) {
            button.click();
        }
    }

    // 4 sự kiện khi nhấn nút Import
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    alert("Dung lượng file excel không được lớn hơn 1MB")
                    e.preventDefault();
                    return false;
                }
            } else {
                alert("File không đúng định dạng")
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    var _intervalId;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        $('#noFileSelect').val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }

    function OnImportSuccess(e) {
        var facultyID = $('#Faculty').val();
        if (facultyID == '' || facultyID == null) {
            facultyID = 0;
        }
        $('#FacultyID').val(facultyID);
        $(".btnSubmitImportExcel").click();
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }

    function OnImportError(e) {
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        $('#frmImportData #txtFilePath').val('');
    }

    // Thông báo kết quả Import
    function CreateSuccess(data) {
        if (data.Type == "success") {
            smas.alert(data);
            setTimeout('search();', 200);
        } else if (data.Type == "ImportError") {
            smas.openDialog("ViewImportError", "", null);
            $("#gridErr").html(data.Message);
        } else {
            smas.alert({Message:data.Message,Type:data.Type});
        }
        $('#frmImportData #txtFilePath').val('');
        smas.closeDialog("importDialog", "", {});
    }

    function CreateFail(ajaxContext) {
        $('#frmImportData #txtFilePath').val('');
        smas.closeDialog("importDialog", "", {});
    }
</script>