﻿@model EmployeeEvaluationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeacherGradingArea.Models
@using SMAS.Web.Areas.TeacherGradingArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@using SMAS.VTUtils.HtmlHelpers
@{
    string selected = string.Empty;
    List<EmployeeEvaluationViewModel> lst = ViewData[TeacherGradingConstants.LIST_TEACHERGRADING] != null ? (List<EmployeeEvaluationViewModel>)ViewData[TeacherGradingConstants.LIST_TEACHERGRADING] : new List<EmployeeEvaluationViewModel>();
    List<EvaluationField> lstEvaluationField = (List<EvaluationField>)ViewData[TeacherGradingConstants.LIST_EVALUATION_FIELD];
    List<EvaluationLevel> lstEvaluationLevel = (List<EvaluationLevel>)ViewData[TeacherGradingConstants.LIST_EVALUATION_LEVEL];
    List<EvaluationLevel> lsttmp = new List<EvaluationLevel>();
    EvaluationLevel objtmp = null;
    var strJson = Newtonsoft.Json.JsonConvert.SerializeObject(lstEvaluationField);
    int Permition = ViewData[TeacherGradingConstants.HAS_PERMISSION] != null ? (int)ViewData[TeacherGradingConstants.HAS_PERMISSION] : 0;
 }
<table class="mg-b-10">
    <tr>
        <td style="vertical-align:middle; max-width: 300px;">
            <span style="color:red;">
                @Res.Get("Common_Label_TeacherGrading_Note")
            </span>
        </td>
        <td>
            @if (lst.Count > 0)
            {
                <div id="p_button" style="float: right;margin-top:5px;">
                    @if (Permition == 1)
                    {
                        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object>() { { "id", "btnInOut" } }, "button", "ShowInOutBoxChoice(this)", " btn btn-info btn-round btn-icon btn-icon-inout")
                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                        @{
                        List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                        }
                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                    </div>
                    }
                    else if (Permition == 2)
                    {
                        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object>() { { "id", "btnInOut" } }, "button", "ShowInOutBoxChoice(this)", " btn btn-info btn-round btn-icon btn-icon-inout")
                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                        @{
                        List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                        }
                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                        </div>
                        @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "id", "btnSave" } }, "button", "CreateTeacherGrading()", " btn btn-info btn-round btn-icon btn-icon-save")
                    }
                    else if (Permition == 3 || Permition == 4)
                    {
                        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object>() { { "id", "btnInOut" } }, "button", "ShowInOutBoxChoice(this)", " btn btn-info btn-round btn-icon btn-icon-inout")
                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                            @{
                        List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                            }
                            @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                        </div>
                        @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "id", "btnSave" } }, "button", "CreateTeacherGrading()", " btn btn-info btn-round btn-icon btn-icon-save")
                        @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object>() { { "id", "btnDelete" } }, "button", "Delete()", " btn btn-basic btn-round btn-icon btn-icon-times mg-l-5")
                    }
                </div>
            }
        </td>
    </tr>
</table>
@using (Ajax.BeginForm("Create",
                       "TeacherGrading",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "OnSuccess",
                           OnFailure = "OnFail"
                       },
                       new { id = "frmCreateTeacherGrading" }
                       ))
{
<div class="t-widget t-grid">
    <input type ="hidden" id ="hdfFacultyID" name ="hdfFacultyID" value ="0"/>
    @Html.AntiForgeryToken()
    @{
    var index = 1;

    Html.Telerik()
       .Grid((IEnumerable<EmployeeEvaluationViewModel>)ViewData[TeacherGradingConstants.LIST_TEACHERGRADING])
       .Name("GridTeacherGrading")
       .Columns(c =>
       {
           c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

           c.Bound(o => o.EmployeeCode).Title(Res.Get("Employee_Label_EmployeeCode")).HtmlAttributes(new Dictionary<string, object> { { "style", "word-wrap:break-word;" } }).Visible(true).Width(50);
           c.Bound(o => o.FullName).Title(Res.Get("Employee_Column_FullName")).HtmlAttributes(new Dictionary<string, object> { { "style", "word-wrap:break-word;" } }).Visible(true).Width(110);
           //c.Bound(o => o.GenreName).Visible(true).HtmlAttributes(new { style = "text-align:center" }).Width(70);
           foreach (var objEvaluationField in lstEvaluationField)
           {
               c.Template(@<text>
                @if (objEvaluationField.FieldType == 1)
                {
                    <div id ="@("cbo" + objEvaluationField.EvaluationFieldId)" class ="@(objEvaluationField.EvaluationFieldId)" style ="text-align:center;">
                        <select style ="width:100%;" id ="@(objEvaluationField.EvaluationFieldId + "_" + item.EmployeeID)" name ="@(objEvaluationField.EvaluationFieldId + "_" + item.EmployeeID)">
                            <option value ="0"></option>
                            @{
                    lsttmp = lstEvaluationLevel.Where(p => p.EvaluationField == objEvaluationField.EvaluationFieldId).ToList();
                    for (int j = 0; j < lsttmp.Count; j++)
                    {
                        objtmp = lsttmp[j];
                        var objEvaluationtmp = item.lstEvaluationField.Where(p => p.EmployeeID == item.EmployeeID
                            && p.EvaluationFieldID == objEvaluationField.EvaluationFieldId && p.EvaluationLevelID == objtmp.EvaluationLevelId).FirstOrDefault();
                                    <option value ="@(objtmp.EvaluationLevelId)" @(objEvaluationtmp != null ? "selected=selected" : "") >@objtmp.Resolution</option>
                    }
                            }
                        </select>
                    </div>
                }
                else
                {
                    var objEvaluationtmp = item.lstEvaluationField.Where(p => p.EmployeeID == item.EmployeeID
                                && p.EvaluationFieldID == objEvaluationField.EvaluationFieldId).FirstOrDefault();
                    <input type="text" style="width:100%;height:20px;" id ="@(objEvaluationField.EvaluationFieldId + "_" + item.EmployeeID)" 
                        name ="@(objEvaluationField.EvaluationFieldId + "_" + item.EmployeeID)" value="@(objEvaluationtmp != null ? objEvaluationtmp.EvaluationText : "")" maxlength="20" />
                }
                
                </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(objEvaluationField.Resolution, 2))</text>).HeaderHtmlAttributes(new Dictionary<string, object> { { "id", "Header" + objEvaluationField.EvaluationFieldId } }).Width(100);
           }
           c.Template(@<text>
                        <label style="padding-left:15px;" class="custom-checkbox p-r-0">
                            <input type="checkbox" id = '@("chk_" + item.EmployeeID)' name = '@("chk_" + item.EmployeeID)' class="chkStatus"  typecheck="checkbox" onclick = "selectOne()" checked ="checked" value ="@item.EmployeeID"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </text>)
           .HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).HeaderTemplate(@<text>
                <label style="padding-left:15px;" class="custom-checkbox p-r-0">
                        <input type="checkbox" id="chkAll" onchange="checkall();" typecheck="checkall" style="" checked="checked" />
                    <span class="checkmark">&nbsp;</span>
                </label>
            </text>).Width(50);
       })
       .Scrollable(p => p.Height(400))
       .Render();
                      
        }
    </div>
    <input type ="submit" id ="btnSubmit" style ="display:none;" />
}
<script type="text/javascript">
    var arr = $.parseJSON('@Html.Raw(strJson)');
    $(document).ready(function () {
        $('#chkAll').attr('checked', 'checked');
        checkall();
    });
    function checkall()
    {
        if ($('#chkAll').is(':checked')) {
            $('.chkStatus').attr('checked', 'checked');
        }
        else {
            $('.chkStatus').removeAttr('checked');
        }
    }
    function selectOne()
    {
        var countchk = $('.chkStatus').length;
        var countChecked = 0;
        $('.chkStatus').each(function () {
            if ($(this).is(':checked')) {
                countChecked++;
            }
        })

        if (countchk == countChecked) {
            $('#chkAll').attr('checked', 'checked');
        }
        else {
            $('#chkAll').removeAttr('checked');
        }
    }
    function CreateTeacherGrading()
    {
        var countchecked = $('input.chkStatus:checkbox:checked').length;
        if (countchecked == 0) {
            smas.alertColor('Thầy cô cần chọn cán bộ để thực hiện lưu thông tin.', 'red');
        }
        else {
            $('#hdfFacultyID').val($('#Faculty').val());
            $('#btnSubmit').click();
        }
    }
    function Delete()
    {
        var token = $('[name=__RequestVerificationToken]').val();
        var countchecked = $('input.chkStatus:checkbox:checked').length;
        if (countchecked == 0) {
            smas.alertColor('Thầy cô cần chọn cán bộ để xóa thông tin xếp loại.', 'red');
        }
        else {
            var strTeacherGrading = "";
            var id = "";
            $('.chkStatus').each(function () {
                if ($(this).is(':checked')) {
                    id = $(this).val();
                    strTeacherGrading += id + ",";
                }
            })
            $.ajax({
                url: '@Url.Action("Delete", "TeacherGrading")',
                data: {strEmployeeID:strTeacherGrading, __RequestVerificationToken: token },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    if (data.Type == 'success') {
                        smas.alert(data.Message);
                    }
                    setTimeout('search();', 200);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }
    function OnSuccess(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
            setTimeout('search();', 200);
        }
        else {
            smas.alertColor(msg.Message,'red');
        }
    }
    function OnFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        setTimeout('search();', 200);
    }
    function OnSelectedChange(chk)
    {
        $(chk).closest('tr').find('[id^="chk"]').attr('checked', 'checked');
    }
    function ExportExcel()
    {
        var FacultyID = $('#Faculty').val();
        if (FacultyID == '') {
            FacultyID = 0;
        }
        window.location = "@Url.Action("ExportExcel", "TeacherGrading")"
                + "?FacultyID=" + parseInt(FacultyID);
    }
    function ImportExcel()
    {
        smas.openDialog("importDialog", "", null);
    }
    @{
        for (var i = 0; i < lstEvaluationField.Count; i++)
        {
            var objarr = lstEvaluationField[i];
            string strHeader = "Header" + objarr.EvaluationFieldId;
            <text>
                $('@(".t-grid-header #" + strHeader)').click(function (e) {
                var position = $(this).position();
                    $('@("#" + objarr.EvaluationFieldId)').css({ position: "absolute", left: position.left + 10, display: "block", top: position.top + 179, width: "115px", "z-index": "10000" });
                });
            </text>
        };
    }
    $(document).click(function (event) {
        for (var i = 0; i < arr.length; i++) {
            var objarr = arr[i];
            if (event.target.id != ('Header' + objarr.EvaluationFieldId)) {
                $('#' + objarr.EvaluationFieldId).css("display", "none");
            }
        }
    });
    @{
        
        for (var i = 0; i < lstEvaluationField.Count; i++)
        {
            var objarr = lstEvaluationField[i];
            string strFunction = "FillSelected" + i;
        <text>
            function @(strFunction)(Boxchoice)
            {
                var value = $(Boxchoice).attr('value');
                $('@("." + objarr.EvaluationFieldId)').each(function () {
                    $(this).find('option[value = ' + value + ']').attr('selected', 'selected');
                    $(this).closest('tr').find('[id^="chk"]').attr('checked', 'checked');
                    selectOne();
                });
            }
        </text>
        };
    }
    $(document).click(function (event) {
        if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
            $("#InOutBoxChoice").css("display", "none");
        }
    });
    function ShowInOutBoxChoice(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left + 5, top: position.top + 30, width: "115px", "z-index": "1000" });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("li a").attr("onclick", "InOutHandle(this)");
    };
    function InOutHandle(item) {
        if ($(item).attr('value') == 1) {
            ImportExcel();
        }
        else if ($(item).attr('value') == 2) {
            ExportExcel();
        }
    }
</script>
