﻿				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeacherGradingArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.TeacherGradingArea
@using SMAS.Business.BusinessObject

@{
    ViewBag.Title = Res.Get("TeacherGrading_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<EvaluationField> lstEvaluationField = (List<EvaluationField>)ViewData[TeacherGradingConstants.LIST_EVALUATION_FIELD];
    EvaluationField objEvaluationField = null;
    List<EvaluationLevel> lstEvaluationLevel = (List<EvaluationLevel>)ViewData[TeacherGradingConstants.LIST_EVALUATION_LEVEL];
    List<EvaluationLevel> lsttmp = null;
    EvaluationLevel objEvaluationLevel = null;
    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstTeacherGrading" style ="margin:7px;">
    @Html.Partial("_List")
</div>
<div id="BoxchoiceTeacherGradingID">
@for (int i = 0; i < lstEvaluationField.Count; i++)
{
    objEvaluationField = lstEvaluationField[i];
    listSelectList = new List<ViettelCheckboxList>();
    listSelectList.Add(new ViettelCheckboxList("", "0", false, false));
    lsttmp = lstEvaluationLevel.Where(p => p.EvaluationField == objEvaluationField.EvaluationFieldId).ToList();
    if (objEvaluationField.FieldType == 1)
    {
        <div id="@objEvaluationField.EvaluationFieldId" style="display: none;">
        @for (int j = 0; j < lsttmp.Count; j++)
		{
            objEvaluationLevel = lsttmp[j];
            listSelectList.Add(new ViettelCheckboxList(objEvaluationLevel.Resolution, objEvaluationLevel.EvaluationLevelId, false, false));
		}
        @Html.ViettelListButtonStyle2(("BoxChoice" + i), "", new Dictionary<string, object>() { }, ("FillSelected" + i + "(this)"), listSelectList, true)
        </div>
    }
}
</div>
@(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("MarkRecord_Label_SelectImport"))
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(645)
                .Height(100)
)

@(Html.Telerik().Window()
                .Name("ViewImportError")
                .Title(Res.Get("Có lỗi khi import, file không hợp lệ"))
                .Content(@<text><div id ="gridErr"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Resizable()
                .Width(900)
                .Height(700)
)
<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
    $('#BoxchoiceTeacherGradingID').find('a').attr('style', 'width:130px;');
    $('#BoxchoiceTeacherGradingID').find('li').attr('style', 'height:28px;');
</script>