﻿@model AutoAssignViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models
@using SMAS.Web.Areas.ExamSupervisoryAssignArea
@using SMAS.Models.Models


<div id="AutoAssign">
    @using (Ajax.BeginForm("AutoAssign",
                       "ExamSupervisoryAssign",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "AutoAssignSuccess",
                           OnFailure = "AutoAssignFail"
                       },
                       new { id = "frmAutoAssign" }
                       ))
    {

        @Html.AntiForgeryToken()
        <fieldset>
            <legend>@Html.Label(Res.Get("ExamSupervisoryAssign_Label_RoomAndSupervisoryInfo"))</legend>

            <table>
                <tr>
                    <td style="width:260px">Tổng số phòng thi cần phân công giám thị: </td>
                    <td id="totalRoom"></td>
                </tr>
                <tr>
                    <td>Tổng số giám thị hiện có: </td>
                    <td id="totalSupervisory"></td>
                </tr>
            </table>
        </fieldset>
         <fieldset>
            <legend>@Html.Label(Res.Get("ExamSupervisoryAssign_Label_Assign"))</legend>
             <p>
                 @Html.ViettelEditorFor(model => model.SupervisoryPerRoom)
             </p>
             <p>
                 <label class="custom-radio-button">
                @Html.ViettelLabel(Res.Get("ExamSupervisoryAssign_Label_AssignScale_Current"))
                @Html.ViettelRadioButtonFor(model=>model.AssignScale, ExamSupervisoryAssignConstants.ASSIGN_SCALE_CURRENT_SUBJECT,new Dictionary<string, object> { { "class", "RadioAssignScale" }})
                <span class="checkmark"></span>
                 </label>
             </p>
             <p>
                 <label class="custom-radio-button">
                @Html.ViettelLabel(Res.Get("ExamSupervisoryAssign_Label_AssignScale_AllSubject"))
                @Html.ViettelRadioButtonFor(model=>model.AssignScale, ExamSupervisoryAssignConstants.ASSIGN_SCALE_ALL_SUBJECT,new Dictionary<string, object> { { "class", "RadioAssignScale" }})
                 <span class="checkmark"></span>
                 </label>
             </p>
             <p>
                 <label class="custom-radio-button">
                @Html.ViettelLabel(Res.Get("ExamSupervisoryAssign_Label_AssignScale_AllRoom"))
                @Html.ViettelRadioButtonFor(model=>model.AssignScale, ExamSupervisoryAssignConstants.ASSIGN_SCALE_ALL_ROOM,new Dictionary<string, object> { { "class", "RadioAssignScale" }})
                  <span class="checkmark"></span>
                 </label>
             </p>
        </fieldset>
        @Html.ViettelHiddenFor(model => model._ExaminationsID,new Dictionary<string, object> { { "id", "_ExaminationsID" }});
        @Html.ViettelHiddenFor(model => model._ExamGroupID, new Dictionary<string, object> { { "id", "_ExamGroupID" }});
        @Html.ViettelHiddenFor(model => model._SubjectID, new Dictionary<string, object> { { "id", "_SubjectID" }});
        <div class="dialog-buttons" style="text-align:center">
            <input type="submit" style="display:none" id="btnSubmit" />
            @Html.ViettelButton(Res.Get("ExamSupervisoryAssign_Button_Assign"), "button", "if(!validateUtils.validateForm('frmAutoAssign')){ return false;}else{confirm();}","btn btn-info btn-round")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('autoAssignDialog');", "btn btn-info btn-round")
        </div>
    }
</div>
<script>
    function submitForm() {
        $("#frmAutoAssign input[type='submit']").click();
    }
    function confirm() {
        var data = jsonUtils.serializeObject("frmAutoAssign");
        $.ajax({
            url: '@Url.Action("ValidateBeforeAssign")',
            type: 'post',
            data: data,
            success: function () {
                smas.confirm('@Html.Raw(Res.Get("ExamSupervisoryAssign_Message_AssignConfirm"))', submitForm);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });

    };

   
    $(document).ready(function () {

        //called when key is pressed in textbox
        $("#frmAutoAssign :text").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 49 || e.which > 57)) {
                return false;
            };
        });
    });

    $("#frmAutoAssign :text").keyup(function (e) {
        var $assignBtn = $("#frmAutoAssign").find(":button").first();
        if ($(this).val() == "") {
            DisableButton($assignBtn);
        }
        else {
            EnableButton($assignBtn);
        }
    });
</script>
