﻿@model List<ListSupervisoryViewModel>
@using SMAS.Models.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.VTUtils.HtmlHelpers
@using System.Text.RegularExpressions
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models
@using SMAS.Web.Areas.ExamSupervisoryAssignArea
@using SMAS.Business.Common
@{
    GlobalInfo _gloabalInfo = new GlobalInfo();
    int Total = 0;
    if (ViewData["Total"] != null)
    {
        Total = (int)ViewData["Total"];
    }

    int page = 1;
    if (ViewData["page"] != null)
    {
        page = (int)ViewData["page"];
    }
    //var disCurrentYear = !(new GlobalInfo().IsCurrentYear);
    //bool create = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
    //bool update = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
    //bool delete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
}

<div class="">
    @{using (Ajax.BeginForm("Delete",
                       "HealthInsuranceManagement",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnFailure = "EditFail",
                           OnComplete = "onEmployeeComplete"

                       },
                       new { id = "frmSwapNew" }
                       ))
      { 
           
                    var index = 1;

                    Html.Telerik()
                    .Grid(Model)
                    .Name("GridExamSupervisoryNew")
                    .Columns(c =>
                    {
                        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                        //720
                        c.Bound(o => o.EmployeeCode).HtmlAttributes(new { style = "", @class = "EmployeeCode" }).Width(100);
                        c.Bound(o => o.EmployeeFullName).HtmlAttributes(new { style = "", @class = "EmployeeFullName" }).Width(200);
                        c.Bound(o => o.SchoolFacultyName).HtmlAttributes(new { style = "text-align:center", @class = "SchoolFacultyName" }).Width(100);
                        c.Bound(o => o.ExamGroupName).HtmlAttributes(new { style = "", @class = "ExamGroupName" }).Width(100);
                        c.Bound(o => o.ExamRoomName).HtmlAttributes(new { style = "", @class = "ExamRoomName" }).Width(100);
                        c.Bound(o => o.SubjectName).HtmlAttributes(new { style = "", @class = "SubjectName" }).Width(100);
                        c.Bound(o => o.Note).HtmlAttributes(new { style = "", @class = "Note" }).Width(250);

                        c.Template(@<text>
                        @{                                                                                                     
                               <input id="btnSwap" class="t-button t-button-icon t-ajax t-grid-vtChange t-icon" type ="image" src=@Url.Content("~/Content/images/change.ico") onclick ="btnSwapSaveClickNew('@item.ExamSupervisoryAssignmentID')" />                                            
                        }
                        </text>).ClientTemplate("<#= FillImage(ExamSupervisoryAssignmentID) #>")
                                .HeaderTemplate("<p style='text-align:center'>Đổi</p>")
                                .HtmlAttributes(new { style = "text-align:center" }).Width(60);                       
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("PagingSwapSearchNew", "ExamSupervisoryAssign"))
                    .Pageable(p => p.PageSize(15).Total(Total).PageTo(page))
                    .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                    .OnDataBound("Grid_onDataBound")
                                    .OnLoad("Grid_onDataBound"))

                    .DataKeys(keys => keys.Add(o => o.ExamRoomID))
                    .EnableCustomBinding(true)
                    .Editable(editing => editing.Mode(GridEditMode.PopUp))
                    .Selectable()
                    .Scrollable(u => u.Height(350))
                    .Render();
      }                           
    }
</div>
<script>
    var lstInd = 0;
    function btnSwapSaveClickNew(desExamSupervisoryAssignmentID) {
        //var dataItem = $('#SwapLeftGrid').data('tGrid').dataItem($('#SwapLeftGrid').find(".t-state-selected"));
        //var examSupervisoryID = '';
        //if (dataItem != null && dataItem != 'undefined') {
        //    examSupervisoryID = dataItem["ExamSupervisoryID"];
        //}

        var examSupervisoryAssignmentID1 = $("#frmSearchNew").find("#examSupervisoryAssignmentIDOld").val();
        var examSupervisoryAssignmentID2 = desExamSupervisoryAssignmentID;
        var data =
            {
                examSupervisoryAssignmentID1: examSupervisoryAssignmentID1,
                examSupervisoryAssignmentID2: examSupervisoryAssignmentID2,
                //examSupervisoryID: examSupervisoryID
            }
        smas.post('@Url.Action("SwapNewAjax")', data, function () { smas.closeDialog('swapDialogNew'); search(); }, null);
    }

    function FillImage(ExamSupervisoryAssignmentID)
    {
        var text = '<input id="btnSwap" class="t-button t-button-icon t-ajax t-grid-vtChange t-icon" type ="image" src="/Content/images/change.ico" onclick ="btnSwapSaveClickNew(' + ExamSupervisoryAssignmentID + ')" />';

        return text;
    }

</script>