﻿@model CreateSwapReplaceContentViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models
@using SMAS.Web.Utils

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Title">
            @String.Format(Res.Get("ExamSupervisoryAssign_Label_ReplaceTitle"),Model.ExamSupervisoryName)
    </div>
 
    <div>
        @Html.Partial("_ReplaceList",Model.listExamSupervisory)
        <input type="hidden" id="sourceExamSupervisoryAssignmentID" value="@Model.ExamSupervisoryAssignmentID" />
    </div>

     <div class="vt-SearchPanel-Button" style="text-align: right">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "btnReplaceSaveClick()", "btn btn-info btn-icon btn-round btn-icon-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('replaceDialog');", "btn btn-info btn-round")
     </div>
</div>