﻿@model List<ExamSupervisoryViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSupervisoryAssignArea;
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models;

<div class="vt-ResultPanel">
    @{
        Html.Telerik()
            .Grid(Model)
            .Name("ReplaceGrid")
            .Columns(c =>
            {
                c.Bound(o => o.EmployeeCode).Width(150);
                c.Bound(o => o.EmployeeFullName).Width(200);
                c.Bound(o => o.SchoolFacultyName).Width(150);

            })
            .DataBinding(dataBinding => dataBinding.Ajax().OperationMode(GridOperationMode.Client))
            .DataKeys(keys => keys.Add(o => o.ExamSupervisoryID))
            .Selectable()
            
            .Footer(false)
            .Scrollable(u => u.Height(300))
            .Render();              
    }
</div>
<style type="text/css">
    #ReplaceGrid .t-state-selected {
        background-color:#4EB2E4 !important;
    }
</style>