﻿@model SwapSearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models

@using (Ajax.BeginForm("SwapSearchNew",
                           "ExamSupervisoryAssign",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstExaminationNew",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearchNew" }))
{

        <div class="vt-SearchPanel-Content">
            <div class="row">
            <div class="col-md-6">                 
                <div class="vt-control" id="divTeacherCb">
                        @Html.Partial("_TeacherCombobox")
                </div>    
            </div>
            <div class="col-md-6">                         
            @Html.ViettelEditorFor(model => model.ExamGroupIDNew) 
            </div>
                </div>
            <div class="row">
            <div class="col-md-6 mg-t-10">                 
            @Html.ViettelEditorFor(model => model.SubjectIDNew)
             </div>   
            <input name="ExaminationsIDNew" type="hidden" id="ExaminationsIDNew" value="@ViewData["ExaminationsNew"]" />
            <input name="examSupervisoryAssignmentIDOld" type="hidden" id="examSupervisoryAssignmentIDOld" value="@ViewData["examSupervisoryAssignmentIDOld"]" />
            </div>
                <div class="Clear">
            </div>
            <div style="margin-left:50px;" class="textTeacher">
                [Nhập họ tên hoặc Mã GV để tìm kiếm]
            </div>  
            <div class="Clear">
            </div>                           
        </div>
    
        <div class="vt-SearchPanel-Button">
            <input type="submit" class="btn btn-info btn-round btn-icon btn-icon-search" id="searchBtn" value="@Res.Get("Common_Button_Search")" />  
        </div>
    
    
}

<script type="text/javascript">
    //function search() {
    //    $("#frmSearchNew input[type='submit']").click();
    //}

    function onExamGroupChangeNew()
    {
        var examinationsID = $("#frmSearch").find("#ExaminationsID").val();
        var examGroupID = $("#frmSearchNew").find("#ExamGroupIDNew").val();
        $.ajax({
            url: '@Url.Action("AjaxLoadExamSubjectNew", "ExamSupervisoryAssign")',
            type: 'post',
            data: { examinationsID: examinationsID, examGroupID: examGroupID },
            success: function (data) {
                $("#SubjectIDNew").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                $.each(data, function (index, value) {
                    $('#SubjectIDNew').append($("<option></option>").attr("value", value.Value).text(value.Text));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

</script>




