﻿@model CreateSwapReplaceContentViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ExamSupervisoryAssignArea.Models
@using SMAS.Web.Utils

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Title">
            @String.Format(Res.Get("ExamSupervisoryAssign_Label_SwapTitle"),Model.ExamSupervisoryName)
    </div>
    <div id="lstLeft" style="float:left; width:380px; overflow:hidden">
        @Html.Partial("_SwapLeftList", Model.listExamSupervisory)
        <input type="hidden" id="sourceExamSupervisoryAssignmentID" value="@Model.ExamSupervisoryAssignmentID" />
    </div>

    <div id="lstRight" style="float:left;width:600px">
        @Html.Partial("_SwapRightList",Model.listAssignedOfSupervisory)
    </div>
     <div class="vt-SearchPanel-Button" style="text-align: right">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "btnSwapSaveClick()", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('swapDialog');", "")
     </div>
</div>