﻿@model List<PupilViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamPupilArea
@using SMAS.Web.Areas.ExamPupilArea.Models
@using SMAS.Web.Constants

@{
    int Total = 0;
    if (ViewData[ExamPupilConstants.CREATE_TOTAL] != null)
    {
        Total = (int)ViewData[ExamPupilConstants.CREATE_TOTAL];
    }

    int page = 1;
    if (ViewData[ExamPupilConstants.CREATE_PAGE] != null)
    {
        page = (int)ViewData[ExamPupilConstants.CREATE_PAGE];
    }

    bool pagingEnable = true;
    if (ViewData[ExamPupilConstants.PAGING_ENABLE] != null)
    {
        pagingEnable = (bool)ViewData[ExamPupilConstants.PAGING_ENABLE];
    }
}
<div class="vt-ResultPanel">  
    @{
        var index = 1;
        Telerik.Web.Mvc.UI.Fluent.GridBuilder<PupilViewModel> gridBuilder=
        Html.Telerik()
            .Grid(Model)
            .Name("GridPupil")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= csLstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
               
                c.Bound(o => o.CsClassDisplayName).HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Bound(o => o.CsPupilCode).HtmlAttributes(new { style = "text-align:center" }).Width(150);
                c.Bound(o => o.CsPupilName);
                c.Bound(o => o.CsBirthDay).HtmlAttributes(new { style = "text-align:center" }).Width(150);
                c.Bound(o => o.CsDisplayGenre).HtmlAttributes(new { style = "text-align:center" }).Width(100);       
                c.Bound(o => o.PupilID)
                    .HeaderTemplate("<label class='custom-checkbox p-r-0 p-l-15'><input type='checkbox' id='csCheckAll' /><span class='checkmark'></span></label>")
                    .Template(@<text><label class="custom-checkbox p-r-0 p-l-15"><input type='checkbox' class='csCheckedIds' value='@item.PupilID'/><span class="checkmark"></span></label></text>)
                    .ClientTemplate("<#=CsFillCheckBox(PupilID)#>")
                    .Width(60)
                    .HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchPupilAjax", "ExamPupil"))
            .ClientEvents(e => e.OnDataBinding("CsGrid_onDataBinding")
                                .OnDataBound("CsGrid_onDataBound")
                                .OnLoad("CsGrid_onDataBound")
            )
            .EnableCustomBinding(true)
            .DataKeys(keys => keys.Add(o => o.PupilID))
            .Resizable(resize => resize.Columns(false))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(350));
            if(pagingEnable)
            {
                gridBuilder = gridBuilder.Pageable(p => p.PageSize(ExamPupilConstants.PageSize).Total(Total).PageTo(page));
            }
            gridBuilder.Render();
                      
    }

    <div class="vt-ResultPanel">
        <div class="vt-ResultPanel-Footer">
            <label id="choosedNum" style="float:left"></label>
            <div class="text-center mg-b-10 mg-t-10">
                <label class="custom-checkbox">
                    Lấy tất cả danh sách
                    @Html.ViettelCheckBox("isGetAll")
                    <span class="checkmark"></span>
                </label>
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "onPopupClose()", "btn btn-basic btn-round")
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "saveExamPupil()", "btn btn-info btn-icon btn-round btn-icon-save")
            </div>
            <div class="Clear">
            </div>
        </div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        CsPrepareCheckBoxState();
    });

</script>
