﻿@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.PupilProfileReportArea
@using System.Configuration
@{
    //Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    GlobalInfo global = new GlobalInfo();
    SchoolProfile sp = (SchoolProfile)ViewData[PupilProfileReportConstants.SCHOOL_PROFILE];
    SelectList sl = (SelectList)ViewData[PupilProfileReportConstants.CBO_DILOPMA_TEMPLATE];
    string semester;
    if(global.Semester == 1)
    {
        semester = "Học kỳ I";
    }
    else
    {
        semester = "Học kỳ II";
    }
    
}

<style type="text/css">
 

    #content-container {
        width: 700px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid #AABFD4;
        box-sizing:content-box;
    }
    #btnDelete{
        display: inline !important;
    }
    .ui-icon { width: 16px; height: 16px; background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
    .ui-resizable { position: relative;}
    .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
    .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
    .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
    .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
    .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
    .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
    .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
    .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
    .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
    .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
    .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

   

</style>

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" style="margin:5px auto">
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox("Mẫu thẻ học sinh", "DiplomaTemplateID", sl, SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> {{"onchange","onDesignTemplateIDChange()"} }, false, false)
            @Html.ViettelTextbox("Tên mẫu thẻ học sinh", "TemplateName", null, new Dictionary<string, object>() { { "maxlength", 100 } }, true, false)
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Thay ảnh nền"), "button", "openAddBgDialog();", "btn btn-info btn-round button-left")
            @Html.ViettelButton(Res.Get("Thêm nội dung"), "button", "addNewContent()", "btn btn-info btn-round  button-left")
            <ul style="position:absolute; left:100px; top:90px;background-color:white;border:solid 1px;padding:5px;display:none;z-index:1000;height:230px;overflow-y:scroll" id="ListContentType">
                <li style="padding:3px" onclick="addContent('Văn bản','Văn bản')">Văn bản</li>
                <li style="padding:3px" onclick="addImage('Hình ảnh')">Hình ảnh</li>
                <li style="padding:3px" onclick="addPupilImage('Ảnh học sinh')">Ảnh học sinh</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_NAME','Tên học sinh')">Tên học sinh</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_CODE','Mã học sinh')">Mã học sinh</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_BIRTH_DAY','Ngày sinh HS')">Ngày sinh HS</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_GENRE','Giới tính HS')">Giới tính HS</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_CLASS_NAME','Tên lớp')">Tên lớp</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_SCHOOL_NAME', 'Tên trường')">Tên trường</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_ACADEMIC_YEAR', 'Năm học')">Năm học</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_SUPERVISING_DEPT', 'Tên đơn vị quản lý')">Tên đơn vị quản lý</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_HEAD_NAME', 'Tên hiệu trưởng')">Tên hiệu trưởng</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_HEAD_TEACHER_NAME', 'Tên GV chủ nhiệm')">Tên GV chủ nhiệm</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_TEMP_LIVE_PLACE', 'Địa chỉ tạm trú HS')">Địa chỉ tạm trú HS</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_PUPIL_LIVE_PLACE', 'Địa chỉ thường trú HS')">Địa chỉ thường trú HS</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_FATHER_NAME', 'Họ tên cha')">Họ tên cha</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_FATHER_MOBILE', 'SĐT cha')">SĐT cha</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_MOTHER_NAME', 'Họ tên mẹ')">Họ tên mẹ</li>
                <li style="padding:3px" onclick="addContent('@PupilProfileReportConstants.TEMPLATE_KEY_MOTHER_MOBILE', 'SĐT mẹ')">SĐT mẹ</li>
                <li style="padding:3px" onclick="addBarcode('Barcode mã HS')">Barcode mã HS</li>
                <li style="padding:3px" onclick="addQrcode('QR code mã HS')">QR code mã HS</li>

            </ul>
            @Html.ViettelButton(Res.Get("Sao chép"), new Dictionary<string, object> { {"title","Sao chép từ mẫu có sẵn"}}, "button", "openCopyDialog();", "btn btn-info btn-round  button-left")
            @Html.ViettelButton(Res.Get("Quay lại"), "button", "clearTinyMceInstances();smas.closeDialog('designDialog');", "btn btn-info btn-round button-right")
            @Html.ViettelButton(Res.Get("Xóa"), "button", "DeleteTemplate()", "btn btn-basic btn-round btn-icon btn-icon-times ", "btnDelete")
            @Html.ViettelButton(Res.Get("Lưu"), "button", "SaveTemplate()", "btn btn-info btn-round btn-icon btn-icon-save", "btnSave")
        </div>
</div>
<div id="content-container">
    <div class="contenteditor" id="design-container" style="width: 100%; height: 315.303738318px; display: block">
        <div class="content-background" id="content-background">
	        <p><img style="display:none"></p>
        </div>
    </div>
</div>
<input id="my-file" type="file" name="my-file" style="display: none;" onchange="" accept="image/jpeg, image/png"/>
<script>
    $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        onDesignTemplateIDChange();
        $('body').unbind("ajaxSend");
        
    });

    function openCopyDialog() {
        smas.openDialog('copyDialog', '@Url.Action("CopyDialog")', {});
    }

    function openAddBgDialog() {
        smas.openDialog('addBg', '@Url.Action("AddBgDialog")', {});
    }
    
    $(document).mouseup(function (e) {
        var container = $("#ListContentType");

        if (!container.is(e.target)
            && container.has(e.target).length === 0) {
            container.hide();
        }

        container = $(".parameter");
        if (!container.is(e.target)
            && container.has(e.target).length === 0) {
            //tinymce.activeEditor.selection.collapse();
        }
    });

    function addNewContent() {
        $("#ListContentType").show();
    }

    function addContent(content, type) {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable resizableparam" contenttype="' + type + '" style="left: 30px; top: 30px;">' +
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>' +
            '<div class="parameter mceNonEditable" title="' + type + '" style="position: relative;"><p><span style="font-size: 14pt" data-mce-style="font-size: 14pt"><strong>' + content + '</strong></span></p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function addImage() {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="Hình ảnh" style="left: 30px; top: 30px;">'+
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left;color:green"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> </span></div>' +
            '<div class="imageParameter mceNonEditable" title="Hình ảnh" style="position: relative;" ><p>'+
            '<img src="/PupilProfileReportArea/PupilCard/ShowImage" style="width:99px; height:66px"' +
            '</p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function addPupilImage() {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="Ảnh học sinh" style="left: 30px; top: 30px;">' +
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left;color:green"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> </span></div>' +
            '<div class="nonEditImageParameter mceNonEditable" title="Ảnh học sinh" style="position: relative;" ><p>' +
            '<img src="/PupilProfileReportArea/PupilCard/ShowPupilImage" style="width:88px; height:103.5px"' +
            '</p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function addBarcode() {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="Barcode mã HS" style="left: 30px; top: 30px;">' +
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left;color:green"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> </span></div>' +
            '<div class="nonEditImageParameter mceNonEditable" title="Barcode mã HS" style="position: relative;" ><p>' +
            '<img src="/PupilProfileReportArea/PupilCard/ShowBarcode" style="width:102px; height:34.1666666667px"' +
            '</p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function addQrcode() {
        var html = '<div class="parameterwrapper draggable ui-widget-content ui-draggable" contenttype="QR code mã HS" style="left: 30px; top: 30px;">' +
            '<div class="icon-tool" style="height:15px;visibility: hidden;position: relative;"><span class="icon-move" style="float:left;color:green"><i class="fa fa-arrows" aria-hidden="true"></i></span><span class="icon-delete" style="float:right" onclick="deleteItem(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> </span></div>' +
            '<div class="nonEditImageParameter mceNonEditable" title="QR code mã HS" style="position: relative;" ><p>' +
            '<img src="/PupilProfileReportArea/PupilCard/ShowQrcode" style="width:66px; height:66px"' +
            '</p></div>' +
        '</div>';

        $(html).appendTo(".contenteditor");
        $("#ListContentType").hide();

        InitLayout();
    }

    function SaveTemplate() {
        var templateName = $("#TemplateName").val();
        var html = htmlEscape($("#content-container").html());
        console.log(html);
        var templateId = $("#designDialog #DiplomaTemplateID").val();
        var token = $('#frmSearch').find('[name="__RequestVerificationToken"]').val();
        var data = { templateId: templateId, templateName: templateName, html: html, __RequestVerificationToken: token };

        //smas.post('Url.Action("SaveTemplate")', data, null, null);
        $.ajax({
            url: '@Url.Action("SaveTemplate")',
            type: 'post',
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                smas.alert(data);
                clearTinyMceInstances();
                smas.closeDialog("designDialog");
                ReloadTemplateCombo();
            },
            error: function (XMLHttpRequest, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });

    };

    function DeleteTemplate() {
        var templateName = $("#designDialog #TemplateName").val();
        smas.confirm('Sẽ không thể khôi phục mẫu thẻ học sinh sau khi xóa. Thầy/cô chắc chắn muốn xóa mẫu thẻ học sinh ' + templateName + ' không?', function () {
            var templateId = $("#designDialog #DiplomaTemplateID").val();
            var token = $('#frmSearch').find('[name="__RequestVerificationToken"]').val();
            var data = { templateId: templateId, __RequestVerificationToken: token };

            //smas.post('Url.Action("SaveTemplate")', data, null, null);
            $.ajax({
                url: '@Url.Action("DeleteTemplate")',
                type: 'post',
                data: data,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    smas.alert(data);
                    clearTinyMceInstances();
                    smas.closeDialog("designDialog");
                    $(".t-overlay").hide();
                    ReloadTemplateCombo();
                },
                error: function (XMLHttpRequest, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        });
        

    };

    function onDesignTemplateIDChange() {
        var templateId = $("#designDialog #DiplomaTemplateID").val();

        if (templateId == 0) {
            var htmlDef =  '<div class="content-background" id="content-background">' +
	        '<p><img style="display:none"></p>' +
            '</div>' + buildGridLine();

            $("#design-container").html(htmlDef);
            $("#designDialog #TemplateName").val('');
            $("#designDialog #btnDelete").hide();
            $("#designDialog #btnSave").show();
            InitLayout();
        }
        else {
            $.ajax({
                url: '@Url.Action("LoadTemplate")',
                type: 'post',
                data: { id: templateId },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    var html = htmlUnescape(data.HTML);
                    $("#content-container").html(html).promise().done(function () {
                        InitLayout();
                    });

                    $("#designDialog #TemplateName").val(data.Name);
                    if (data.IsSystem == true) {
                        $("#designDialog #btnDelete").hide();
                        $("#designDialog #btnSave").hide();
                    }
                    else {
                        $("#designDialog #btnDelete").show();
                        $("#designDialog #btnSave").show();
                    }
                },
                error: function (XMLHttpRequest, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    };
    
    function deleteItem(sp) {
        $wrapper = $(sp).closest(".parameterwrapper");
        smas.confirm('Thầy/cô có chắc chắn muốn xóa ' + $wrapper.attr('contenttype') + ' không?', function () {
            $wrapper.remove();
        });
    };

    function buildGridLine() {
        var html = '<table id="gridline" class="gridlinetable">';
        for (var i = 0; i < 15; i++) {
            html = html + '<tr>';
            for (var j = 0; j < 20; j++) {
                html = html + '<td></td>';

            }
            html = html + '</tr>';
        }
        html = html + '</table>';

        return html;
    }
</script>
