﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileReportArea
@using SMAS.Web.Areas.PupilProfileReportArea.Models
@{   
  
    int Total = 0;
    if (ViewData[PupilProfileReportConstants.TOTAL] != null)
    {
        Total = (int)ViewData[PupilProfileReportConstants.TOTAL];
    }

    int page = 1;
    if (ViewData[PupilProfileReportConstants.PAGE] != null)
    {
        page = (int)ViewData[PupilProfileReportConstants.PAGE];
    }

    bool enablePaging = true;
    if(ViewData[PupilProfileReportConstants.ENABLE_PAGING] != null)
    {
        enablePaging = (bool)ViewData[PupilProfileReportConstants.ENABLE_PAGING];
    }
}

<style>
    #listResult .vt-ResultPanel-Title .vt-control {
    width: 27%;
}

   #listResult .editor-checkbox-field {
    margin-right: 5px;
}
    .t-header .custom-checkbox .checkmark {
        position: absolute;
        top: -5px;
        left: 10px;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 3px;
}
     td > .custom-checkbox .checkmark {
        position: absolute;
        top: -5px;
        left: 10px;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 3px;
}
</style>
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        @if(Total > 0)
        {
        <div class="vt-ResultPanel-Title-Message" style="font-weight:normal">
            <div class="row">
                <div class="col-sm-4">@Html.ViettelCheckBox("CheckAll", null, new Dictionary<string, object> { {"id","CheckAll"}}, "Chọn tất cả", true, false, true, false, false)</div>
                <div class="col-sm-4">@Html.ViettelCheckBox("FrontSide", null, new Dictionary<string, object> { {"id","FrontSide"}}, "Mặt trước", true, false, true, false, false)</div>
                <div class="col-sm-4">@Html.ViettelCheckBox("BackSide", null, new Dictionary<string, object> { {"id","BackSide"}}, "Mặt sau", false, false, true, false, false)</div>
            </div>     
        </div>
        <div class="vt-ResultPanel-Title-Button">
            @Html.ViettelButton("In thẻ học sinh", "button", "ExportPDF();", "btn btn-info btn-round")
        </div>
        }
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;
        Telerik.Web.Mvc.UI.Fluent.GridBuilder<ListViewModel> gridBuilder=
        Html.Telerik()
            .Grid(Model)
            .Name("GridExport")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= csLstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                c.Bound(o => o.PupilID)
                    .HeaderTemplate("<label class='custom-checkbox'><input type='checkbox' id='csCheckAll' /><span class='checkmark'></span></label>")
                    .Template(@<text><label class='custom-checkbox'><input type='checkbox' class='csCheckedIds' value='@item.PupilID'/><span class='checkmark'></span></label></text>)
                    .ClientTemplate("<#=CsFillCheckBox(PupilID)#>")
                    .Width(30)
                    .HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.PupilName);
                c.Bound(o => o.PupilCode).Width(200).HtmlAttributes(new { style = "text-align:left" });
                c.Bound(o => o.StrBirthDate).Width(100).HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.Genre).Width(100).HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.ClassName).Width(100).HtmlAttributes(new { style = "text-align:center" });
                
            })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchAjax", "PupilCard"))
            //.Pageable(p => p.PageSize(PupilProfileReportConstants.PageSize).Total(Total).PageTo(page))
            .ClientEvents(e => e.OnDataBinding("CsGrid_onDataBinding")
                                .OnDataBound("CsGrid_onDataBound")
                                .OnLoad("CsGrid_onDataBound")
            )
           .DataKeys(keys => keys.Add(o => o.PupilCode))
            .EnableCustomBinding(true)
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable();
            
            if(enablePaging)
            {
                gridBuilder = gridBuilder.Pageable(p => p.PageSize(PupilProfileReportConstants.PageSize).Total(Total).PageTo(page));
            }

            gridBuilder.Render();
                      
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        CsPrepareCheckBoxState();
    });
    $(".editor-field").has("select").addClass("custom-select");

    

</script>