﻿@model AreaViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.AreaArea.Models


@using (Ajax.BeginForm("Detail",
                       "Area",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                       },
                       new { id = "frmDetail" }
                       ))
{
    <div id="DetailArea" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.ViettelDetailFor(o => o.AreaName)
            @Html.ViettelDetailFor(o => o.AreaCode)
            @Html.ViettelDetailFor(o => o.Description)

        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('detailDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
