				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.AreaArea.Models

@{
    ViewBag.Title = @Res.Get("System_Area");
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstArea">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("Area_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250).ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("Area_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250).ContentHtmlAttributes(new { style="min-width: 500px;"})
)
@(Html.Telerik().Window()
                .Name("detailDialog")
                .Title(Res.Get("Area_DialogTitle_Detail"))
                .Content(@<text>@Html.Partial("_Detail")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250).ContentHtmlAttributes(new { style="min-width: 500px;"})
)

