@model PupilLeavingOffEditModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilLeavingOffArea.Models

@using (Ajax.BeginForm("Edit",
                       "PupilLeavingOff",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
         
    @Html.ViettelEditorForModel()
    @Html.ViettelHidden("PupilLeavingOffID")

    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
    </div>

}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    $(document).ready(function () {
        if ($.browser.msie) {
            var oForm = document.forms["frmEdit"];
            oForm.elements("EducationLevelID").setAttribute("disabled", "true");
            oForm.elements("ClassID").setAttribute("disabled", "true");
            oForm.elements("PupilID").setAttribute("disabled", "true");
        }
        else {
            $("#frmEdit #EducationLevelID").attr("disabled", true);
            $("#frmEdit #ClassID").attr("disabled", true);
            $("#frmEdit #PupilID").attr("disabled", true);
        }

    });

    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
</script>


