﻿@model PupilLeavingOffViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilLeavingOffArea.Models
@using SMAS.Web.Areas.PupilLeavingOffArea
@{
    List<PupilLeavingOffViewModel> paging = (List<PupilLeavingOffViewModel>)ViewData[PupilLeavingOffConstants.LIST_PUPILLEAVINGOFF];
    int count = paging.Count;
     <p style="color: Red">
        Tìm thấy @count kết quả</p>
    }
@{
    var index = 1;
    Html.Telerik()
        .Grid((IEnumerable<PupilLeavingOffViewModel>)ViewData[PupilLeavingOffConstants.LIST_PUPILLEAVINGOFF])
        .Name("GridPupilLeavingOff")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            c.Bound(o => o.FullName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.PupilCode).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.DisplayName).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.DisplayTile).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.Semester).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.LeavingDate).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.LeavingReason).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);

            //c.Bound(o => o.PupilID).Sortable(true);									
            //c.Bound(o => o.ClassID).Sortable(true);									
            //c.Bound(o => o.EducationLevelID).Sortable(true);									
            //c.Bound(o => o.SchoolID).Sortable(true);									
            //c.Bound(o => o.AcademicYearID).Sortable(true);									
            //c.Bound(o => o.LeavingReasonID).Sortable(true);																													
            //c.Bound(o => o.Description).Sortable(true);											



            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "PupilLeavingOff")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


            }).Title(Res.Get("Common_Column_Edit")).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(20);


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "PupilLeavingOff")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


            }).Title(Res.Get("Common_Column_Delete_LeavingOff")).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(20);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "PupilLeavingOff")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.PupilLeavingOffID))
        .Pageable(p => p.PageSize(Config.PageSize))
        .Sortable()
        .ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "", "AddNew")</text>))
        //.Scrollable(o=>o.Enabled(true))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<script type="text/javascript">
    var lstInd = 0;
    var Disable_AddNew = "@ViewData[PupilLeavingOffConstants.Disable_AddNew]";
    if (Disable_AddNew.toLowerCase() == "true") {
        $('#AddNew').attr('disabled', true);
        $('#AddNew').attr('style', "color:gray;background-color:gray;border-color:gray;");
    }
    else {
        $('#AddNew').removeAttr('disabled');
        $('#AddNew').removeAttr('style');
    } 
    function Grid_onDataBinding(e) {
        var grid = $('#GridPupilLeavingOff').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("frmEdit");
            smas.openDialog("editDialog", '@Url.Action("_Edit")', { id: item.PupilLeavingOffID });        
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if(confirm('@Html.Raw(Res.Get("PupilLeavingOff_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', {id: item.PupilLeavingOffID}, search, null);
            }
        }
    }    
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", '@Url.Action("_Create")', {});
    }
</script>



