@model ClassEmulationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassEmulationArea.Models
@using SMAS.Web.Areas.ClassEmulationArea
@{
    ViewBag.Title = Res.Get("ClassEmulation_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @Html.Partial("_Search")
@*<div id="lstClassEmulation">*@
<div class="vt-ResultPanel vt-td-edit class-emulation-page-list">
    @{int errordate = bool.Parse(ViewData["ErrorDate"].ToString()) ? 1 : 0;}
    <input type="hidden" id="ErrorDate" value="@errordate" />
    @Html.Partial("_List", Model)
</div>
<script type="text/javascript">
    $(document).ready(function () {
    controlUtils.AddMoveButtonEvent("#GridClassEmulation");
    controlUtils.AddMoveButtonEvent("#GridMarkMonth");
    
        $("#EducationLevelID option").each(function () {
            if ($(this).val() == $("#educationlelvelid").val()) {
                $(this).attr("selected", "selected");
            }
        });
        $("#OrdertTypeID option").each(function () {    
            if ($(this).val() == $("#orderttypeid").val()) {
                $(this).attr("selected", "selected");
            }
        });
        var errorDate = $("#ErrorDate").val();
        //alert(errorDate);
        if (parseInt(errorDate) == 0 && $("#EducationLevelID").val() != "") {
            AjaxLoadFromDateToDate
            onready();
        }
        else if (parseInt(errorDate) == 1) {
            var curdate="@ViewData["CurrentDate"]";
            $("#dtpDate").attr("value", curdate);
            $("#dtpDate").focus();
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("ClassEmulation_Validate_Date"))' });
        }
         setTimeout(function(){
            $("#EducationLevelID").focus();
          } ,500);
    });
    function numbersonly(e) {
        var unicode = e.keyCode ? e.keyCode : e.charCode;
        if ((unicode < 48 || unicode > 57) && unicode != 8 && unicode != 9 && unicode != 16 && unicode != 127 && unicode != 44 && unicode == 46) {
            return false;
        }
    }
    function SetTotalMark(id, totalid) {
        //giá trị nhập vào mỗi loại đánh giá
        var text_value = $("#" + id).val();
        if (text_value == "") {
            text_value = "0,0";
        }
        text_value = text_value.replace(",", ".");
        var id_current = id.toString() + "_current";
        //khởi tạo mảng chứa các giá trị tổng điểm
        var Rank_Array = [];
        //gia tri nhap vao la string thi gan lai gia tri bang gia tri cu
        if (isNaN(text_value)) {
            //$("#" + id).attr("value", $("#" + id_current).val());
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("ClassEmulation_Err_NumberRequire"))' });
            setTimeout(function () { $("#" + id).focus(); }, 200);
        }
        else {
            var total_value = $("#TotalMark_" + totalid).attr('oldvalue');
            //cờ để xác định việc có đc push dữ liệu vào mảng ko.
            var flag = true;
            //nếu giá trị ban đầu của mỗi loại đánh giá là 0
            if ($("#" + id_current).val() == 0) {
                // gán giá trị vừa nhập vào trường giá trị cũ
                $("#" + id_current).attr("value", text_value);
                //gán giá trị cho trường tổng điểm tương ứng bằng tổng điểm đã có cộng với giá trị vừa nhập vào textbox
                var total_val = parseFloat(total_value) + parseFloat(text_value);
                $("#TotalMark_" + totalid).attr("oldvalue", total_val);
                $("#TotalMark_" + totalid).attr("value", total_val.toFixed(2).toString().replace(".", ","));
            }
            //nếu giá trị ban đầu của loại đánh giá >0
            else if ($("#" + id_current).val() > 0) {
                //gán giá trị cho trường tổng điểm tương ứng bằng tổng điểm đã có trừ đi điểm cũ, sau đó cộng với giá trị vừa nhập vào textbox
                var total_val = parseFloat(total_value) - parseFloat($("#" + id_current).val()) + parseFloat(text_value);
                $("#TotalMark_" + totalid).attr("oldvalue", total_val);
                $("#TotalMark_" + totalid).attr("value", total_val.toFixed(2).toString().replace(".", ","));
                // gán giá trị vừa nhập vào trường giá trị cũ
                $("#" + id_current).attr("value", text_value);
            }
            $("input[name='TotalMark']").each(function () {
                var id = $(this).attr("id").split('_')[1];
                //push giá trị vừa nhập vào mảng
                var val_ = $("#TotalMark_" + id).attr("oldvalue");
                Rank_Array.push(parseFloat(val_));
                //sắp xếp lại mảng theo giá trị giảm dần
                Rank_Array.sort(function (a, b) { return b - a });
            });
            //kiểm tra với mỗi giá trị tổng điểm, sắp xếp lại cột xếp hạng theo thứ tự của mảng đã được sắp xếp
            var j = 0;
            $("input[name='TotalMark']").each(function () {
                var id = $(this).attr("id").split('_')[1];
                for (var i = 0; i < Rank_Array.length; i++) {
                    if (Rank_Array[i] == parseFloat($("#TotalMark_" + id).attr("oldvalue"))) {
                        //đếm số giá trị giống nhau trong mảng
                        for (var k = 0; k < Rank_Array.length; k++) {
                            if (Rank_Array[k] == Rank_Array[i])
                                j = j + 1;
                        }
                        //gán giá trị cho trường xếp hạng tương ứng
                        $("#Rank_" + id).attr("value", i + 1);
                        //tăng số thứ tự lặp
                        i = i + j;
                    }
                }
            });
        }
    }
    function onready() {
        var lstid = $("#listitemid").val().split('_');
        var Rank_Array = [];
        for (var i = 0; i < lstid.length - 1; i++) {
            var total_val = -1 * parseFloat($("#TotalPenalizedMark" + lstid[i]).val());
            $("input[ndv='OldMark" + lstid[i] + "']").each(function () {
                var id = $(this).attr("id");
                total_val += parseFloat($("#" + id).val());
            });
            $("#TotalMark_" + lstid[i]).attr("value", total_val.toFixed(2).toString().replace(".", ","));
            $("#TotalMark_" + lstid[i]).attr("oldvalue", total_val);
        }
        $("input[name='TotalMark']").each(function () {
            var id = $(this).attr("id").split('_')[1];
            //push giá trị vừa nhập vào mảng
            var val_ = $("#TotalMark_" + id).attr("oldvalue");
            Rank_Array.push(parseFloat(val_));
            //sắp xếp lại mảng theo giá trị giảm dần
            Rank_Array.sort(function (a, b) { return b - a });
        });
        //kiểm tra với mỗi giá trị tổng điểm, sắp xếp lại cột xếp hạng theo thứ tự của mảng đã được sắp xếp
        var j = 0;
        $("input[name='TotalMark']").each(function () {
            var id = $(this).attr("id").split('_')[1];
            for (var i = 0; i < Rank_Array.length; i++) {
                if (Rank_Array[i] == parseFloat($("#TotalMark_" + id).attr("oldvalue"))) {
                    //đếm số giá trị giống nhau trong mảng
                    for (var k = 0; k < Rank_Array.length; k++) {
                        if (Rank_Array[k] == Rank_Array[i])
                            j = j + 1;
                    }
                    //gán giá trị cho trường xếp hạng tương ứng
                    $("#Rank_" + id).attr("value", i + 1);
                    //tăng số thứ tự lặp
                    i = i + j;
                }
            }
        });
    }
    function AjaxLoadFromDateToDate() {
        var date = $("#dtpDate").val();
        var a = Date.parseLocale(date, "dd/MM/yyyy");
        if(a==null)
        {
            $("#dtpDate").focus();
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("ClassEmulation_Validate_Date"))' });
        }
        else
        {
            var txtDateOld = $("#txtFromDate").attr("value");
            var orderttypeid = $("#OrdertTypeID").val();
            var educationlevelid = $("#EducationLevelID").val();
            var type = $("#OrdertTypeID").val();
            smas.showProcessingDialog();
            $.ajax({
                url: '@Url.Action("GetStartEndOfDate", "ClassEmulation")',
                data: { date: date, orderttypeid: orderttypeid },
                dataType: 'html',
                success: function (msg) {
                    var startend = msg.split(',');
                    $("#txtFromDate").attr("value", startend[0]);
                    $("#txtToDate").attr("value", startend[1]);
                    
                }
            });
            if (educationlevelid > 0) {
                
                document.getElementById("frmSearch").submit();
            }
            smas.hideProcessingDialog();
        }
    }

    function SubmitFromCreatByWeek() {
        smas.showProcessingDialog();
        $("#buttonType").attr("value", "1");
        var datafrom = $("#frmCreateByWeek").serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateByWeek", "ClassEmulation")',
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                smas.hideProcessingDialog();
                if (msg.Type == "emptyerror") {
                    smas.alert({ Type: "error", Message: msg.Message.split('.')[0] });
                    $("#" + msg.Message.split('.')[1]).focus();
                }
                else if (msg.Type == "success") {
                    smas.alert(msg);
                    AjaxLoadFromDateToDate();
                    formUtils.focusForm("frmCreateByWeek");
                }
                else {
                    smas.alert({ Type: "error", Message: msg.Message });
                }
            }
        });
    }
</script>