﻿@model HealthTestReportForSchoolViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestReportForSchoolArea.Models

@{
    ViewBag.Title = @Res.Get("HealthTestReport_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>@Res.Get("Search_Label_ConditionLegend")</legend>
    <form id="frmSearch">
         @Html.ViettelEditorForModel()

        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcelReport"), "submit", "if(!validateUtils.validateForm('frmSearch')) return false;", "")
        </div>
    </form>
</fieldset>
<style type="text/css"> fieldset{margin:24px 22px 10px;width:930px}#frmSearch .vt-control{width:30%!important}.t-grid-edit-row select{width:100%}.Type .editor-field{position:absolute}#frmSearch .editor-label{text-align:right;margin-right:10px}</style>

<script type="text/javascript">
    @Html.JsMinify(@<text>

    $('#frmSearch').submit(function (event) {
        var ReportType = $("[name=ReportType]:checked").val();
        if (ReportType == null) {
            alert('@Html.Raw(Res.Get("HealthTestReportForSchool_Status_ErrorInput"))');
        }
        else {
            event.preventDefault();
            smas.getReport('frmSearch', '@Url.Action("GetReport", "HealthTestReportForSchool")',
            '@Url.Action("GetNewReport", "HealthTestReportForSchool")', '@Url.Action("DownloadReport", "HealthTestReportForSchool")');
        }
    });

    $(document).ready(function () {
        $("<br/>").insertBefore('#ReportType1');
        $('#ReportType0').click();
    });
@*
    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE 
        || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        <text>
        $(function () { 
            $("label[for=EducationLevelID]").text("@Html.Raw(Res.Get("PupilProfile_Label_Class_MN"))")
        });
        </text>
    }*@

    </text>)
</script>