﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.VTUtils.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.HeadTeacherAssignmentArea
@using SMAS.Business.Common
@{
    ViewBag.Title = Res.Get("Phân công chủ nhiệm");
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    List<SchoolFaculty> lstSF = ViewData[HeadTeacherAssignmentConstants.LIST_SCHOOL_FACULTY] != null ? (List<SchoolFaculty>)ViewData[HeadTeacherAssignmentConstants.LIST_SCHOOL_FACULTY] : new List<SchoolFaculty>();
    GlobalInfo glo = new GlobalInfo();

    bool isCreate = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
    bool isUpdate = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
    bool isDelete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
}
<div style="padding: 5px;">
    <table>
        <tr>
            <td style ="width:50%">
                <div class="vt-control" style ="width:49%">
                <div class="editor-label">
                    <label for="Falculty">Tổ bộ môn</label>
                </div>
                <div class="editor-field">
                    <select id="SchoolFacultyID" onchange="AjaxLoadGrid(this);">
                        <option value ="0">[Tất cả]</option>
                        @for (int i = 0; i < lstSF.Count; i++)
                        {
                            <option value ="@lstSF[i].SchoolFacultyID">@lstSF[i].FacultyName</option>
                        }
                    </select>
                </div>
                </div>
                <div class="vt-control" style ="width:49%">
            <div class="editor-label">
                <label for="EducationLevel" style ="margin-left:30px;">Khối</label>
            </div>
            <div class="editor-field">
                <select id="EducationLevelID" onchange="AjaxLoadGrid(this);">
                    @for (int i = 0; i < listEducation.Count; i++)
                    {
                        <option value ="@listEducation[i].EducationLevelID">@listEducation[i].Resolution</option>
                    }
                </select>
            </div>
        </div>
            </td>
            <td style ="text-align:right;vertical-align:top;">
                @if (glo.IsCurrentYear)
                {
                    if (isDelete)
                    {
                        <input type="button" id="btnDelete" class="t-button " onclick="OnDeleteHeadTeacher()" value="Xóa phân công" />    
                    }
                    if (isCreate || isUpdate)
                    {
                        <input type="button" id="btnSave" class="t-button " onclick="OnSaveHeadTeacher()" value="Lưu" />        
                    }
                    <input type="button" id="btnExport" class="t-button " onclick="ExportExcel()" value="Xuất excel" />
                }
                
            </td>
        </tr>
        <tr>
            <td></td>
            <td style ="text-align:right;">
                <input type ="button" class="assignment-head-teacher"/>
                <span style ="margin-right:5px;">Lớp đã phân công</span>
            </td>
        </tr>
    </table>
    <div class ="Clear"></div>
    <div id="lstResult" style ="margin-top:5px;">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        AjaxLoadGrid();
    });
    function AjaxLoadGrid() {
        var facultyID = $('#SchoolFacultyID').val();
        var educationLevelID = $('#EducationLevelID').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadGridHeadTeacher", "HeadTeacherAssignment")',
            data: { FacultyID: facultyID, EducationLevelID: educationLevelID },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstResult').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
    function OnSaveHeadTeacher()
    {
        var facultyID = $('#SchoolFacultyID').val();
        var educationLevelID = $('#EducationLevelID').val();
        $('#hdfFacultyID').val(facultyID);
        $('#hdfEducationLevelID').val(educationLevelID);
        $('#btnSubmit').click();
    }
    function OnDeleteHeadTeacher()
    {
        var educationLevelID = $('#EducationLevelID').val();
        var educationName = $('#EducationLevelID').find('option[value="'+ educationLevelID +'"]').html();
        var confirmHTML = 'Hệ thống sẽ thực hiện xóa phân công chủ nhiệm của các lớp ' + educationName;
        confirmHTML+= '. Thầy cô có chắc muốn thực hiện không?';
        smas.confirm(confirmHTML, function () {
            $.ajax({
                url: '@Url.Action("DeleteHeadTeacherByEducationLevelID", "HeadTeacherAssignment")',
                data: { EducationLevelID: educationLevelID },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.alert(msg.Message);
                    smas.hideProcessingDialog();
                    AjaxLoadGrid();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        });
    }
    function ExportExcel()
    {
        var url = "/HeadTeacherAssignmentArea/HeadTeacherAssignment/ExportHeadTeacher";
        window.location = url;
    }
</script>
