﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HeadTeacherAssignmentArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@{
    List<Employee> lstResult = ViewData[HeadTeacherAssignmentConstants.LIST_RESULT] != null ? (List<Employee>)ViewData[HeadTeacherAssignmentConstants.LIST_RESULT] : new List<Employee>();
    List<ClassProfileBO> lstClassProfile = ViewData[HeadTeacherAssignmentConstants.LIST_CLASS_PROFILE] != null ? (List<ClassProfileBO>)ViewData[HeadTeacherAssignmentConstants.LIST_CLASS_PROFILE] : new List<ClassProfileBO>();
    ClassProfileBO objCP = null;
}
<style type ="text/css">
    .t-grid-header th {
        padding-bottom:0 !important;
    }

    
    #GridHeadTeacherAssignment td {
        padding: 0;
    }
    .t-grid-content td, .t-grid-header td {
        padding: 0;
    }
    .t-header {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .t-grid-content td, .t-grid-header td {
        padding: 0;
    }
    .t-grid table {
        border-collapse:collapse !important;
    }
</style>
@using (Ajax.BeginForm("SaveAssignment",
                       "HeadTeacherAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmHeadTeacherAssignment" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("hdfFacultyID", 0)
    @Html.ViettelHidden("hdfEducationLevelID", 0)
    <input id="btnSubmit" type="submit" value="Lưu" style="display: none;" />
    <div class="vt-ResultPanel" style="margin: 0px">
        @{
    var index = 1;
    Html.Telerik()
    .Grid(lstResult)
    .Name("GridHeadTeacherAssignment")
    .Columns(c =>
    {
        c.Template(@<text>
            @{
                @index;
                      index++;
            }
            </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
        c.Template(@<text>

            @{
<span style="padding-left:3px">@item.FullName</span>
            }
            </text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).Width(130);
        c.Template(@<text>
            @{
                string chkChecked = "";
            <table cellspacing="0">
                <tr>
                    @for (int i = 0; i < lstClassProfile.Count; i++)
                    {
                        chkChecked = "";
                        objCP = lstClassProfile[i];
                        if (objCP.classProfile.HeadTeacherID.HasValue && objCP.classProfile.HeadTeacherID.Value == item.EmployeeID)
                        {
                            chkChecked = "checked = checked";
                        }
                        <td style ="text-align:center;">
                            <input type ="checkbox" id ="@("chk_" + item.EmployeeID)" @chkChecked class ="@("chk_" + objCP.classProfile.ClassProfileID)" name ="@("chk_" + item.EmployeeID + "_" + objCP.classProfile.ClassProfileID)" onclick ="OnClick(this,@item.EmployeeID,@objCP.classProfile.ClassProfileID)" />
                        </td>
                    }
                </tr>
            </table>
            }
            </text>)
        .HeaderTemplate(@<text>
            <table>
                <tr>
                    <td colspan ="@lstClassProfile.Count" style ="text-align:center;border:none;padding:3px;">Lớp được phân công</td>
                </tr>
                <tr>
                    @for (int i = 0; i < lstClassProfile.Count; i++)
                    {
                        objCP = lstClassProfile[i];
                        if (i < lstClassProfile.Count - 1)
                        {
                            <td style ="text-align:center;border-right: 1px solid #a7bac5;">
                                @objCP.classProfile.DisplayName
                                <br />
                                @if (objCP.classProfile.HeadTeacherID.HasValue && lstResult.Count > 0 && !string.IsNullOrEmpty(objCP.strTitle))
                                {      
                                    <input type ="button" class="assignment-head-teacher" title="@objCP.strTitle"/>
                                }
                                else
                                {
                                    <input type ="button" class="assignment-head-teacher" style="visibility:hidden"/>
                                }
                            </td>
                        }
                        else
                        {
                            <td style ="text-align:center;">
                                @objCP.classProfile.DisplayName
                                <br />
                                @if (objCP.classProfile.HeadTeacherID.HasValue && lstResult.Count > 0 && !string.IsNullOrEmpty(objCP.strTitle))
                                {      
                                    <input type ="button" class="assignment-head-teacher" title="@objCP.strTitle"/>
                                }
                                else
                                {
                                    <input type ="button" class="assignment-head-teacher" style="visibility:hidden"/>
                                }
                            </td>
                        }
                    }
                </tr>
            </table>
            </text>)
            //.Title(objCP.DisplayName)
    .HtmlAttributes(new { style = "text-align:center" }).Width(370);
    })
    .DataKeys(keys => keys.Add(o => o.EmployeeID))
    .Scrollable(p => p.Height(350))
    .Selectable()
    .Footer(false)
   .Render();
        }
    </div>
}
<script type ="text/javascript">
    function OnClick(item,employeeID,classid)
    {
        $('#GridHeadTeacherAssignment').find('input[class=chk_' + classid +']').parent().find(':not(input[id=chk_' + employeeID +'])').removeAttr('checked');
    }
    function SaveSuccess(msg)
    {
        smas.alert(msg.Message);
        smas.hideProcessingDialog();
        AjaxLoadGrid();
    }
    function SaveFail(msg)
    {

    }
</script>