@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EthnicArea.Models

@{
    ViewBag.Title = Res.Get("Ethnic_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstEthnic">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("Ethnic_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(280).ContentHtmlAttributes(new { style = "min-width:435px;" })
                .HtmlAttributes(new { @class = "ethnic-area-window" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("Ethnic_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(280).ContentHtmlAttributes(new { style = "min-width:435px;" })
                .HtmlAttributes(new { @class = "ethnic-area-window" })
                
)

@(Html.Telerik().Window()
                .Name("detailDialog")
                .Title(Res.Get("Ethnic_DialogTitle_Detail"))
                .Content(@<text>@Html.Partial("_Detail")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(280).ContentHtmlAttributes(new { style = "min-width:435px;" })
                .HtmlAttributes(new { @class = "ethnic-detail-window" })
)



<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>

