﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyMenuArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
@using (Ajax.BeginForm("ImportExcel",
                       "DailyMenu",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           //OnBegin = "smas.showProcessingDialog",
                           //OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
{
        @Html.AntiForgeryToken()
             <div>
                 @(Html.ViettelCombobox(Res.Get("DailyMenu_Label_MenuType"), "cboMenuType",
                    (SelectList)ViewData[DailyMenuConstants.LIST_MENUTYPE], GlobalConstants.NO_PLACEHOLDER,
                new Dictionary<string, object> { { "style", "width: 200px" } }, true, false))
            </div>
            <div>
                  @(Html.ViettelCombobox(Res.Get("DailyMenu_Label_EatingGroupName"), "cboEatingGroup",
                    (SelectList)ViewData[DailyMenuConstants.LIST_EATINGGROUP], GlobalConstants.NO_PLACEHOLDER,
                new Dictionary<string, object> { { "style", "width: 200px" } }, true, false))
            </div>
            <div style="float:left;width:70%">
                 @Html.ViettelTextbox(Res.Get("DailyMenu_Label_SelectFile"), "txtFilePath", null, new Dictionary<string, object>() { { "style", "width: 230px" } }, false, false)
            </div>
            <div style="float:right;width:30%;">
                @(Html.Telerik().Upload()
              .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async
                .Save("SaveFile", "DailyMenu")
                .AutoUpload(false)
                 ).ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
)
)
            </div>     
@Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")      
}
            <div  style="float:left;width:50%;padding-top: 13px; padding-left:0px;">
                <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "DailyMenu")' method="post"> 
                </form>
                   <label id="dowloadFile" onclick="downloadFileTemplate();">@Res.Get("DownloadFileTemplate")</label>
            </div>               
            <div style="float:left;width:50%;margin-left: 170px">
               @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
               @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "")   
           </div>          

    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnUploaderCss").find('span:first').text('@Html.Raw(Res.Get("Common_Label_ChooseFileImport"))').attr("style", "text-align:center");
            // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        });
        var _intervalId;
        function OnSelectImport(e) {
            var files = e.files;
            // alert(files[0].name);
            $("#txtFilePath").val(files[0].name);
            _intervalId = setInterval("hideUploadButton();", 10);
        }

        function downloadFileTemplate() {
            $("#frmDownloadFile").submit();
        }
        function hideUploadButton() {
            // Try and find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Hide it.
                button.css({
                    visibility: 'hidden',
                    position: 'absolute'
                });

                // Terminate the interval.
                clearInterval(_intervalId);

                // Enable the OK button.
                $('#btImport').removeAttr('disabled');
                $('#btImport').removeClass('t-state-disabled');
            } else {
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
            }
        }
        function OnImportUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            return true;
                        }
                        alert("Dung lượng file excel không được lớn hơn 1MB")
                        e.preventDefault();
                        setTimeout(function () {
                            smas.hideProcessingDialog();
                        }, 1000);
                        return false;
                    }
                } else {
                    alert("File không đúng định dạng")
                    $('#btImport').attr('disabled');
                    $('#btImport').addClass('t-state-disabled');
                    e.preventDefault();
                    setTimeout(function () {
                        smas.hideProcessingDialog();
                    }, 1000);
                    return false;
                }
            });
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                if (file.size > 0) {
                    var info = " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function OnImportButtonClick() {
            // Find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Click it.
                button.click();
            }
            smas.showProcessingDialog();
        }
        function OnImportSuccess(e) {
            $(".btnSubmitImportExcel").click();
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
        function CreateSuccess(data) {
            smas.hideProcessingDialog();
            if (data.success == 1) {
                setTimeout('smas.closeDialog("importDialog");', 500);
                smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
                search()
            }
            else
                if (data.success == 0) {
                    setTimeout('smas.closeDialog("importDialog");', 500);
                    formUtils.resetForm("SelectImport");
                    smas.openDialog("SelectImport", "", {});
                }
                else {
                    smas.alert(data.success);
                }
        }
        function CreateFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }
        function OnImportError(e) {
            smas.hideProcessingDialog();
            smas.alert(e);
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
        function OnCloseClick() {
            smas.closeDialog("importDialog");
        }
    </script>

<style type"text/css">  
   .btnUploaderCss span{padding-right:20px}#dowloadFile{color:#00f}#dowloadFile:hover{text-decoration:underline;cursor:pointer}.t-widget.t-upload.newclass .t-button.t-upload-selected<br>{display:none}.t-dropzone{padding-left:55px;padding-top:0}#txtFilePath{margin-left:43px}
</style>
