﻿@model DailyMenuViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyMenuArea.Models
@using SMAS.Web.Areas.DailyMenuArea
@{
    var index = 1;
    List<DailyMenuViewModel> lstDailyMenu = ViewData[DailyMenuConstants.LIST_DAILYMENU] as List<DailyMenuViewModel>;
    var count = lstDailyMenu.Count;
    if(count>0)
    {
       <p>@string.Format(Res.Get("Common_Message_RowCount"), count)</p>
    }
    Html.Telerik()
        .Grid((IEnumerable<DailyMenuViewModel>)ViewData[DailyMenuConstants.LIST_DAILYMENU])
        .Name("GridDailyMenu")
        .Columns(c =>
        {
            c.Template(@<text>@(index++) @Html.ViettelHidden("DeleteAble", item.DeleteAble)</text>).ClientTemplate("<#= lstInd++ #> <input type='hidden' id='DeleteAble' value='<#= DeleteAble #>'/>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            c.Bound(o => o.DailyMenuCode).Sortable(true);            
            c.Bound(o => o.EatingGroupName);
            c.Bound(o => o.MenuTypeName);
            c.Bound(o => o.NumberOfChildren).HtmlAttributes(new { style = "text-align:right" });
            c.Bound(o => o.DailyCostOfChildren).HtmlAttributes(new { style = "text-align:right" });

            c.Template(@<text><center>
                <a href ="/DailyMenuArea/DailyMenu/Create?id=@item.DailyMenuID&type=detail" class="t-button t-button-icon t-grid-details">
                    <span class="t-icon t-details"></span></a>
            </center></text>).Title(Res.Get("Common_Column_Detail")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
            c.Template(@<text><center>
                <a href ="@("/DailyMenuArea/DailyMenu/Edit?id=" + item.DailyMenuID + "&type=detail&option=" + item.EditOption)" class="t-button t-button-icon t-grid-edit">
                    <span class="t-icon t-edit"></span></a>
            </center></text>).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "DailyMenu")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });
            }).Title(Res.Get("Common_Column_Delete")).Width(20);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "DailyMenu")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.DailyMenuID))
        .Pageable(o => o.PageSize(20))
        .Sortable()
        .ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("DailyMenu_Label_ImportFromExcel"), "button", "PrepareImportFromExcel();", "")@Html.ViettelButton(Res.Get("DailyMenu_Label_AddNew"), "button", "PrepareCreate();", "")
    @Html.ViettelButton(Res.Get("DailyMenu_Label_AddNewFromDish"), "button", "PrepareCreateFromDish();", "")
    </text>))
        .Selectable()
        .Render();
}
<script type="text/javascript">
    var lstInd = 0;
    $(document).ready(function () {
        onChangePage();
    });
    function onChangePage() {
        $(".t-grid table tbody tr").each(function () {
            var deleteAble = $(this).find("#DeleteAble").val();
            if (deleteAble == "false" || deleteAble == "False") {
                $(this).find(".t-grid-vtDelete").parent().html("");
                $(this).find(".t-grid-edit").parent().html("");
            }
        });
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridDailyMenu').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
        setTimeout(function () { onChangePage(); }, 200);
    }
    function Grid_onCommand(e) {
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("DailyMenu_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.DailyMenuID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        window.location = "/DailyMenuArea/DailyMenu/Create?type=bydaily";
    }
    function PrepareCreateFromDish() {
        window.location = "/DailyMenuArea/DailyMenu/Create?type=byfood";
    }
    function PrepareImportFromExcel() {
        formUtils.resetForm("_ImportExcel");
        smas.openDialog("importDialog", "", {});
    }   
</script>
