﻿@model FoodAdditionalViewModel
@using SMAS.Web.Areas.DailyMenuArea.Models
@using SMAS.Web.Utils
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.DailyMenuArea
@using Telerik.Web.Mvc.UI
@{List<SelectListItem> lstCboNutritionalToAdd = (List<SelectListItem>)ViewData[DailyMenuConstants.CBONUTRITIONALTOADD];}
<div style="margin: 20px 200px 20px 200px;">
    @Res.Get("DailyMenu_Title_NutritionalToAdd")
    @(Html.DropDownList("cboNutritionalToAdd", lstCboNutritionalToAdd, new { onchange = "LoadListNutritionalToAdd();", style = "width:200px" }))
    <input type="hidden" value="@ViewData[DailyMenuConstants.DAILYMENUID]" name="dailymenuid" id="dailymenuid" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.PROTEINANIMALMIN]" name="proteinanimalmin" id="proteinanimalmin" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.PROTEINPLANTMIN]" name="proteinplantmin" id="proteinplantmin" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.FATANIMALMIN]" name="fatanimalmin" id="fatanimalmin" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.FATPLANTMIN]" name="fatplantmin" id="fatplantmin" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.SUGARMIN]" name="sugarmin" id="sugarmin" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.LSTNUTRITIONALTOADD]" name="lstnutritionaltoadd" id="lstnutritionaltoadd" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.LSTCONTENTTOADD]" name="lstcontenttoadd" id="lstcontenttoadd" />
    <input type="hidden" value="@ViewData[DailyMenuConstants.NUMBEROFCHILDREN]" name="numberOfChilden" id="numberOfChilden" />
</div>
<div>
    <fieldset>
        <legend>@Res.Get("DailyMenu_Title_ListFoodAdd")</legend>
        <div id="ListFoodAdd">
        </div>
        <div id="btnbackifnull" style="margin-left: 500px; margin-top: 20px; display: none;">
            @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "location.reload();", "", "btnBack", "")
        </div>
    </fieldset>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadListNutritionalToAdd();
    });
    function LoadListNutritionalToAdd() {
        var id = $("#cboNutritionalToAdd").val();
        if (parseInt(id) > 0) {
            var dailymenuid = $("#dailymenuid").val();
            var proteinanimalmin = $("#proteinanimalmin").val();
            var proteinplantmin = $("#proteinplantmin").val();
            var fatanimalmin = $("#fatanimalmin").val();
            var fatplantmin = $("#fatplantmin").val();
            var sugarmin = $("#sugarmin").val();
            smas.showProcessingDialog();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListNutritionalToAdd", "DailyMenu")',
                data: { id: id, dailymenuid: dailymenuid, proteinanimalmin: proteinanimalmin, proteinplantmin: proteinplantmin, fatanimalmin: fatanimalmin, fatplantmin: fatplantmin, sugarmin: sugarmin },
                dataType: "html",
                success: function (msg) {
                    smas.hideProcessingDialog();
                    $("#ListFoodAdd").html(msg);
                }
            });
        }
        else {
            $("#btnbackifnull").css("display", "block");
            $("#ListFoodAdd").html('@Html.Raw(Res.Get("Không có chất nào cần bổ xung"))');
        }
    }

    function SaveNutritionToAdd() {
        var lstFoodID = "";
        $("input[name='rptFoodID']:checked").each(function () {
            var foodid = $(this).attr("id");
            lstFoodID = lstFoodID + foodid + ",";
        });
        var lstnutritionaltoadd = $("#lstnutritionaltoadd").val();
        var lstcontenttoadd = $("#lstcontenttoadd").val();
        var numberOfChilden = $("#numberOfChilden").val();
        smas.showProcessingDialog();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CaculateWeight", "DailyMenu")',
            data: { lstFoodID: lstFoodID, lstnutritionaltoadd: lstnutritionaltoadd, lstcontenttoadd: lstcontenttoadd, numberOfChilden: numberOfChilden },
            dataType: "json",
            success: function (msg) {
                smas.hideProcessingDialog();
                if (msg.Message == "empty") {
                    smas.alert({ Type: "error", Message: "Không có giá trị phù hợp, vui lòng cập nhật lại thực phẩm" });
                    setTimeout(function () {
                        reLoad(msg.Message);
                    }, 3 * 1000);
                }
                else {
                    reLoad(msg);
                }
            }
        });
    }

    function reLoad(msg) {
        var newURL = updateURLParameter(window.location.href, 'lstweight', msg);
        window.location = newURL;
    }
    function updateURLParameter(url, param, paramVal) {
        var newAdditionalURL = "";
        var tempArray = url.split("?");
        var baseURL = tempArray[0];
        var additionalURL = tempArray[1];
        var temp = "";
        if (additionalURL) {
            tempArray = additionalURL.split("&");
            for (i = 0; i < tempArray.length; i++) {
                if (tempArray[i].split('=')[0] != param) {
                    newAdditionalURL += temp + tempArray[i];
                    temp = "&";
                }
            }
        }
        var rows_txt = temp + "" + param + "=" + paramVal;
        return baseURL + "?" + newAdditionalURL + rows_txt;
    }
</script>
