﻿@using SMAS.Web.Utils
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.DailyMenuArea
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
<div id="page">
    @{DailyMenu dailymenu = (DailyMenu)ViewData[DailyMenuConstants.DAILYMENU]; }
    @{
        ViewBag.Title = string.Format("{0} {1}", Res.Get("DailyMenu_Label_Food_Info"), dailymenu.DailyMenuCode).ToUpper();
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @{List<SelectListItem> lstFood = (List<SelectListItem>)ViewData[DailyMenuConstants.LIST_FOOD];
      List<OtherService> lstOtherService = (List<OtherService>)ViewData[DailyMenuConstants.LIST_OTHERSERVICE];
      NutritionalNorm nn = (NutritionalNorm)ViewData[DailyMenuConstants.NUTRITIONALNORM];
      var flag = bool.Parse(ViewData["Flag"].ToString());
      var type = ViewData[DailyMenuConstants.ADD_BY];
      var isedit = false;
      if (!string.IsNullOrWhiteSpace(ViewData[DailyMenuConstants.OPTION].ToString()))
      {
          if (int.Parse(ViewData[DailyMenuConstants.OPTION].ToString()) >= 1)
          {
              isedit = true;
          }
      }
    }
    @using (Html.BeginForm("Food", "DailyMenu", FormMethod.Post, new { id = "frmSaveFood", style = "width: 1024px;" }))
    {
        <fieldset>
            <div>
                <fieldset>
                    @{var index = 1;}
                    <legend>@Res.Get("DailyMenu_Label_ListFoodInfo")</legend>
                    @if (type.ToString().ToLower() == DailyMenuConstants.TYPE_DETAIL.ToString().ToLower())
                    {
                        var lst_model = (IEnumerable<SMAS.Business.BusinessObject.DailyMenuFoodBO>)ViewData[DailyMenuConstants.LIST_KEY_4GRID];
                        <input type="hidden" id="flag" name="flag" value="true" />
                        @(Html.Telerik().Grid(lst_model)
                        .Name("Grid")
                        .DataKeys(keys =>
                        {
                            keys.Add(p => p.FoodCat == null ? p.DailyMenuFood.DailyMenuFoodID : p.FoodCat.FoodID);
                        })
                            .ToolBar(cmd => cmd.Template(@<text>@if (isedit)
                                                                {<a href="javascript:(AddToGrid())" class="t-button
                            t-button-icontext t-grid-add"><span style="margin-left: 0" class="t-icon t-add"></span>Thêm
                            mới</a>}</text>))
                           .Columns(c =>
                           {
                               c.Template(
                           @<text><span name="STT">
                               <center>@(index++)</center>
                           </span>
                        <td style="width: 17%">
                            @{if (!isedit)
                              {
                                  var _text = "";
                                  var _val = "";
                                  foreach (var i in lstFood)
                                  {
                                      if (item.FoodCat == null)
                                      {
                                          if (int.Parse(i.Value) == item.DailyMenuFood.FoodID)
                                          {
                                              _text = i.Text;
                                              _val = i.Value;
                                              break;
                                          }
                                      }
                                      else
                                      {
                                          if (int.Parse(i.Value) == item.FoodCat.FoodID)
                                          {
                                              _text = i.Text;
                                              _val = i.Value;
                                              break;
                                          }
                                      }
                                  }
                                @_text
                                <input type="hidden" id="@("Food_" + (index - 1).ToString())" name="@("Food_" + (index - 1).ToString())" value="@_val" />
                              }
                              else
                              {
                                  var newlstFood = new List<SelectListItem>();
                                  foreach (var i in lstFood)
                                  {
                                      if (item.FoodCat == null)
                                      {
                                          if (int.Parse(i.Value) == item.DailyMenuFood.FoodID)
                                          {
                                              i.Selected = true;
                                          }
                                          else { i.Selected = false; }
                                          newlstFood.Add(i);
                                      }
                                      else
                                      {
                                          if (int.Parse(i.Value) == item.FoodCat.FoodID)
                                          {
                                              i.Selected = true;
                                          }
                                          else { i.Selected = false; }
                                          newlstFood.Add(i);
                                      }
                                  }
                                <center>
                                    @(Html.DropDownList("Food_" + (index - 1).ToString(), newlstFood, new { onchange = "CaculatePricePerOne(this);", style = "width:150px" }))
                                </center>
                              }
                            }
                        </td>
                        <td style="width: 10%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    if (!isedit)
                                    { 
                                    @item.DailyMenuFood.Weight
                                    <input type="hidden" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" value="@item.DailyMenuFood.Weight" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)" onchange="CaculateKLkgAndPrice(this);" value="@item.DailyMenuFood.Weight" class="right w55" />
                                    }
                                }
                                else
                                {
                                    if (!isedit)
                                    {
                                    @item.WeightPerRation.Value
                                    <input type="hidden" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" value="@item.WeightPerRation.Value" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLkgAndPrice(this);" value="@item.WeightPerRation.Value" class="right w55" />
                                    }
                                }
                            </center>
                        </td>
                        <td style="width: 10%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    if (!isedit)
                                    {
                                    @((item.DailyMenuFood.Weight * 1000 / item.NumberOfChildren))
                                    <input type="hidden" id="@("G_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" value="@((item.DailyMenuFood.Weight * 1000 / item.NumberOfChildren))" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("G_" + (index - 1).ToString())" name="@("G_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLAndPrice(this);" value="@((item.DailyMenuFood.Weight * 1000 / item.NumberOfChildren))" class="right w55" />
                                    }
                                }
                                else
                                {
                                    if (!isedit)
                                    {
                                    @((item.WeightPerRation.Value * 1000 / item.NumberOfChildren))
                                    <input type="hidden" id="@("G_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" value="@((item.WeightPerRation.Value * 1000 / item.NumberOfChildren))" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("G_" + (index - 1).ToString())" name="@("G_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLAndPrice(this);" value="@((item.WeightPerRation.Value * 1000 / item.NumberOfChildren))" class="right w55" />
                                    }
                                }
                            </center>
                        </td>
                        <td style="width: 10%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    if (!isedit)
                                    {
                                    @((item.DailyMenuFood.Weight * item.DiscardedRate / 100).Value)
                                    <input type="hidden" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.DailyMenuFood.Weight * item.DiscardedRate / 100).Value)" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.DailyMenuFood.Weight * item.DiscardedRate / 100).Value)" disabled="disabled" class="right w55" />
                                    <input type="hidden" id="@("DiscardedRate_" + (index - 1).ToString())" name="@("DiscardedRate_" + (index - 1).ToString())" value="@item.DiscardedRate" class="right" />
                                    }
                                }
                                else
                                {
                                    if (!isedit)
                                    {
                                    @((item.WeightPerRation.Value * item.DiscardedRate / 100).Value)
                                    <input type="hidden" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.WeightPerRation.Value * item.DiscardedRate / 100).Value)" />
                                    }
                                    else
                                    {
                                    <input type="text" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.WeightPerRation.Value * item.DiscardedRate / 100).Value)" disabled="disabled" class="right w55" />
                                    <input type="hidden" id="@("DiscardedRate_" + (index - 1).ToString())" name="@("DiscardedRate_" + (index - 1).ToString())" value="@item.DiscardedRate" class="right" />
                                    }
                                }
                            </center>
                        </td>
                        <td style="width: 16%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    if (!isedit)
                                    {
                                    @item.DailyMenuFood.PricePerOnce
                                    <input type="hidden" id="@("PricePerOne_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@item.DailyMenuFood.PricePerOnce"/>
                                    }
                                    else
                                    {
                                    <input type="text" id="@("PricePerOne_" + (index - 1).ToString())" name="@("PricePerOne_" + (index - 1).ToString())" value="@item.DailyMenuFood.PricePerOnce" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculatePrice(this);" class="right" />
                                    }
                                }
                                else
                                {
                                    if (!isedit)
                                    {
                                    @item.FoodCat.Price
                                    <input type="hidden" id="@("PricePerOne_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@item.FoodCat.Price"/>
                                    }
                                    else
                                    {
                                    <input type="text" id="@("PricePerOne_" + (index - 1).ToString())" name="@("PricePerOne_" + (index - 1).ToString())" value="@item.FoodCat.Price" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculatePrice(this);" class="right" />
                                    }
                                }
                            </center>
                        </td>
                        <td style="width: 16%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    if (!isedit)
                                    {
                                    @(item.DailyMenuFood.PricePerOnce * item.DailyMenuFood.Weight)
                                    <input type="hidden" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.DailyMenuFood.PricePerOnce * item.DailyMenuFood.Weight)"/>
                                    }
                                    else
                                    {
                                    <input type="text" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.DailyMenuFood.PricePerOnce * item.DailyMenuFood.Weight)" class="right" />
                                    }
                                }
                                else
                                {
                                    if (!isedit)
                                    {
                                    @(item.FoodCat.Price * item.WeightPerRation.Value)
                                    <input type="hidden" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.FoodCat.Price * item.WeightPerRation.Value)"/>
                                    }
                                    else
                                    {
                                    <input type="text" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.FoodCat.Price * item.WeightPerRation.Value)" class="right" />
                                    }
                                }
                            </center>
                        </td>
                        @if (isedit)
                        {
                            <td style="width: 5%"> <center> <button type="button" class="t-button t-button-icon"
                            onclick="@("DeleteRow(" + (index - 1).ToString() + ")")"> <span class="t-icon
                        t-delete"></span> </button> </center> </td>
                        }
                        </text>)
                        .HeaderTemplate(
                        @<text>
                        <center>@Res.Get("STT")</center>
                        <td style="width: 17%">
                            <center>
                                @Res.Get("DailyMenu_Title_Food")
                            </center>
                        </td>
                        <td style="width: 10%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLKg")
                            </center>
                        </td>
                        <td style="width: 10%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLg")
                            </center>
                        </td>
                        <td style="width: 10%">
                            <center>
                                @Res.Get("DailyMenu_Title_DiscardedWeight")
                            </center>
                        </td>
                        <td style="width: 16%">
                            <center>
                                @Res.Get("DailyMenu_Title_PricePerOne")
                            </center>
                        </td>
                        <td style="width: 16%">
                            <center>
                                @Res.Get("DailyMenu_Title_Price")
                            </center>
                        </td>
                        @if (isedit)
                        {
                            <td style="width: 5%"> <center>@Res.Get("Common_Column_Delete")</center> </td>
                        }
                        </text>);
                           }).Editable(editing => editing.Mode(GridEditMode.InLine)).Scrollable().Selectable())
                    }
                    else
                    {
                        if (!flag && type.ToString().ToLower() == DailyMenuConstants.ADD_BYDAILY.ToString().ToLower())
                        {
                        <input type="hidden" id="flag" name="flag" value="false" />
                        @(Html.Telerik().Grid((IEnumerable<Key4Grid>)ViewData[DailyMenuConstants.LIST_KEY_4GRID])
        .Name("Grid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.ID);
        })
               .ToolBar(cmd => cmd.Template(@<text><a href="javascript:(AddToGrid())" class="t-button t-button-icontext t-grid-add"><span
                   style="margin-left: 0" class="t-icon t-add"></span>Thêm mới</a></text>))
               .Columns(c =>
               {
                   c.Template(
               @<text> <span name="STT">
                   <center>@(index++)</center>
               </span>
                        <td style="width: 18%">
                            <center>
                                @(Html.DropDownList("Food_" + (index - 1).ToString(), lstFood, new { onchange = "CaculatePricePerOne(this);", style = "width:150px" }))
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                <input type="text" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" onchange="CaculateKLkgAndPrice(this);" value="" class="right w55" />
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                <input type="text" id="@("G_" + (index - 1).ToString())" name="@("G_" + (index - 1).ToString())" onchange="CaculateKLAndPrice(this);" value="" class="right w55" />
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                <input type="text" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="" disabled="disabled" class="right w55" />
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                <input type="text" id="@("PricePerOne_" + (index - 1).ToString())" name="@("PricePerOne_" + (index - 1).ToString())" value="@ViewData[DailyMenuConstants.PRICEPERONE]" onchange="CaculatePrice(this);" class="right" />
                                <input type="hidden" id="@("DiscardedRate_" + (index - 1).ToString())" name="@("DiscardedRate_" + (index - 1).ToString())" value="@ViewData[DailyMenuConstants.DISCARDEDRATE]" class="right" />
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                <input type="text" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="" class="right" />
                            </center>
                        </td>
                        <td style="width: 5%">
                            <center>
                                <button type="button" class="t-button t-button-icon" onclick="@("DeleteRow(" + (index - 1).ToString() + ")")">
                                    <span class="t-icon t-delete"></span>
                                </button>
                            </center>
                        </td>
                        </text>)
                                                                       .HeaderTemplate(
               @<text>
                        <center>@Res.Get("Common_Column_Order")</center>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_Food")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLKg")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLg")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_DiscardedWeight")
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_PricePerOne")
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_Price")
                            </center>
                        </td>
                        <td style="width: 5%">
                            <center>@Res.Get("Common_Column_Delete")</center>
                        </td>
                        </text>);
               })
                                        .Editable(editing => editing.Mode(GridEditMode.InLine))
                            .Scrollable()
                            .Selectable()
                    )
                        }
                        else
                        {
                            var lst_model = (IEnumerable<SMAS.Business.BusinessObject.DailyMenuFoodBO>)ViewData[DailyMenuConstants.LIST_KEY_4GRID];
                        <input type="hidden" id="flag" name="flag" value="true" />
                        @(Html.Telerik().Grid(lst_model)
        .Name("Grid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.FoodCat == null ? p.DailyMenuFood.DailyMenuFoodID : p.FoodCat.FoodID);
        })
               .ToolBar(cmd => cmd.Template(@<text><a href="javascript:(AddToGrid())" class="t-button t-button-icontext t-grid-add"><span
                   style="margin-left: 0" class="t-icon t-add"></span>Thêm mới</a></text>))
               .Columns(c =>
               {
                   c.Template(
               @<text> <span name="STT">
                   <center>@(index++)</center>
               </span>
                        <td style="width: 18%">
                            @{var lstf = new List<SelectListItem>();
                              List<SelectListItem> lstFood1 = (List<SelectListItem>)ViewData[DailyMenuConstants.LIST_FOOD];
                              foreach (var i in lstFood1)
                              {
                                  if (item.FoodCat == null)
                                  {
                                      if (int.Parse(i.Value) == item.DailyMenuFood.FoodID)
                                      {
                                          i.Selected = true;
                                      }
                                      else { i.Selected = false; }
                                  }
                                  else
                                  {
                                      if (int.Parse(i.Value) == item.FoodCat.FoodID)
                                      {
                                          i.Selected = true;
                                      }
                                      else { i.Selected = false; }
                                  }
                                  lstf.Add(i);
                              }
                            }
                            <center>
                                @(Html.DropDownList("Food_" + (index - 1).ToString(), lstf, new { onchange = "CaculatePricePerOne(this);", style = "width:150px" }))
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    <input type="text" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLkgAndPrice(this);" value="@item.DailyMenuFood.Weight" class="right w55" />
                                }
                                else
                                {
                                    <input type="text" id="@("KG_" + (index - 1).ToString())" name="@("KG_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLkgAndPrice(this);" value="@item.WeightPerRation.Value" class="right w55" />
                                }
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    <input type="text" id="@("G_" + (index - 1).ToString())" name="@("G_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLAndPrice(this);" value="@((item.DailyMenuFood.Weight * 1000 / item.NumberOfChildren))" class="right w55" />
                                }
                                else
                                {
                                    <input type="text" id="@("G_" + (index - 1).ToString())" name="@("G_" + (index - 1).ToString())" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculateKLAndPrice(this);" value="@((item.WeightPerRation.Value * 1000 / item.NumberOfChildren))" class="right w55" />
                                }
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    <input type="text" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.DailyMenuFood.Weight * item.DiscardedRate / 100).Value)" disabled="disabled" class="right w55" />
                                }
                                else
                                {
                                    <input type="text" id="@("DiscardedWeight_" + (index - 1).ToString())" name="@("DiscardedWeight_" + (index - 1).ToString())" value="@((item.WeightPerRation.Value * item.DiscardedRate / 100).Value)" disabled="disabled" class="right w55" />
                                }
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    <input type="text" id="@("PricePerOne_" + (index - 1).ToString())" name="@("PricePerOne_" + (index - 1).ToString())" value="@item.DailyMenuFood.PricePerOnce" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculatePrice(this);" class="right" />
                                }
                                else
                                {
                                    <input type="text" id="@("PricePerOne_" + (index - 1).ToString())" name="@("PricePerOne_" + (index - 1).ToString())" value="@item.FoodCat.Price" onkeyup = "return convertInputText(this,event,true)" onkeydown = "return convertInputText(this,event,false)"  onchange="CaculatePrice(this);" class="right" />
                                }
                                <input type="hidden" id="@("DiscardedRate_" + (index - 1).ToString())" name="@("DiscardedRate_" + (index - 1).ToString())" value="@item.DiscardedRate" class="right" />
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @if (item.FoodCat == null)
                                {
                                    <input type="text" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.DailyMenuFood.PricePerOnce * item.DailyMenuFood.Weight)" class="right" />
                                }
                                else
                                {
                                    <input type="text" id="@("Price_" + (index - 1).ToString())" name="@("Price_" + (index - 1).ToString())" value="@(item.FoodCat.Price * item.WeightPerRation.Value)" class="right" />
                                }
                            </center>
                        </td>
                        <td style="width: 5%">
                            <center>
                                <button type="button" class="t-button t-button-icon" onclick="@("DeleteRow(" + (index - 1).ToString() + ")")">
                                    <span class="t-icon t-delete"></span>
                                </button>
                            </center>
                        </td>
                        </text>)
                        .HeaderTemplate(
               @<text>
                        <center>@Res.Get("Common_Column_Order")</center>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_Food")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLKg")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_KLg")
                            </center>
                        </td>
                        <td style="width: 7%">
                            <center>
                                @Res.Get("DailyMenu_Title_DiscardedWeight")
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_PricePerOne")
                            </center>
                        </td>
                        <td style="width: 18%">
                            <center>
                                @Res.Get("DailyMenu_Title_Price")
                            </center>
                        </td>
                        <td style="width: 5%">
                            <center>@Res.Get("Common_Column_Delete")</center>
                        </td>
                        </text>);
               }).Editable(editing => editing.Mode(GridEditMode.InLine)).Scrollable().Selectable())
                        }
                    }
                </fieldset>
                @if (!flag)
                {
                    if (type.ToString().ToLower() == DailyMenuConstants.ADD_BYDAILY.ToString().ToLower())
                    {
                    <input type="hidden" id="lstSTT" name="lstSTT" value="1" />
                    <input type="hidden" id="MaxSTT" name="MaxSTT" value="1" />
                    }
                    else if (type.ToString().ToLower() == DailyMenuConstants.ADD_BYFOOD.ToString().ToLower())
                    {
                        var lst_model1 = ((IEnumerable<SMAS.Business.BusinessObject.DailyMenuFoodBO>)ViewData[DailyMenuConstants.LIST_KEY_4GRID]).ToList();
                        var _str = "";
                        var count = lst_model1.Count;
                        for (var l = 1; l <= count - 1; l++)
                        {
                            _str += l.ToString() + ",";
                        }
                        _str += count.ToString();
                    <input type="hidden" id="lstSTT" name="lstSTT" value="@_str" />
                    <input type="hidden" id="MaxSTT" name="MaxSTT" value="@lst_model1.Count" />
                    }
                    else if (type.ToString().ToLower() == DailyMenuConstants.TYPE_DETAIL.ToString().ToLower())
                    {
                    <input type="hidden" id="lstSTT" name="lstSTT" value="1" />
                    <input type="hidden" id="MaxSTT" name="MaxSTT" value="1" />
                    }
                }
                else if (flag || type.ToString().ToLower() == DailyMenuConstants.TYPE_DETAIL.ToString().ToLower())
                {
                    var lst = ((IEnumerable<SMAS.Business.BusinessObject.DailyMenuFoodBO>)ViewData[DailyMenuConstants.LIST_KEY_4GRID]).ToList();
                    var _str = "";
                    var count = lst.Count;
                    for (var l = 1; l <= count - 1; l++)
                    {
                        _str += l.ToString() + ",";
                    }
                    _str += count.ToString();
                    <input type="hidden" id="lstSTT" name="lstSTT" value="@_str" />
                    <input type="hidden" id="MaxSTT" name="MaxSTT" value="@lst.Count" />
                }
                <input type="hidden" id="_PricePerOne" name="_PricePerOne" value="@ViewData[DailyMenuConstants.PRICEPERONE]" />
                <input type="hidden" id="_DiscardedRate" name="_DiscardedRate" value="@ViewData[DailyMenuConstants.DISCARDEDRATE]" />
                @{var listcbo = new List<SelectListItem>(); var ii = 1;
                  foreach (var i in lstFood)
                  {
                      if (ii == 1)
                      {
                          i.Selected = true;
                      }
                      else
                      {
                          i.Selected = false;
                      }
                      listcbo.Add(i);
                      ii++;
                  }
                }
                <label style="display: none;" id="drpFood">@(Html.Raw(Html.DropDownList("{0}", listcbo, new { onchange = "CaculatePricePerOne(this);", style = "width:150px", id = "{0}" }).ToString().Replace("\"", "'")))</label>
            </div>
            <div>
                <div style="float: left; width: 70%;">
                    @{SMAS.Business.BusinessObject.MineralOfDailyMenuBO mineralbo = (SMAS.Business.BusinessObject.MineralOfDailyMenuBO)ViewData[DailyMenuConstants.LIST_FOODCAT];}
                    <fieldset>
                        <legend>@Res.Get("DailyMenu_Title_Nutritional_Balance")</legend>
                        <div style="float: left; width: 39%; margin-right: 5px;">
                            <div style="margin-bottom: 5px;">
                                @Res.Get("DailyMenu_Title_Content")</div>
                            <div id="tblGrid" class="t-widget t-grid">
                                <div class="t-grid-header" style="padding-right: 17px;">
                                    <div class="t-grid-header-wrap">
                                        <table>
                                            <tr>
                                                <td style="width: 55px;">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_TP")</center>
                                                </td>
                                                <td style="width: 50px;">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_HL")</center>
                                                </td>
                                                <td class="dm">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_DM")</center>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="t-grid-content">
                                    <table>
                                        <tr>
                                            <td style="width: 55px;">
                                                @Res.Get("DailyMenu_Title_ProteinAnimal")
                                            </td>
                                            <td class="number" style="width: 50px;">
                                                <div id="tdProteinAnimal">
                                                    @mineralbo.ProteinAnimal
                                                </div>
                                                <input type="hidden" value="@mineralbo.ProteinAnimal" id="txtProteinAnimal" name="txtProteinAnimal" />
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmProteinAnimal">
                                                    @mineralbo.ProteinAnimalMin - @mineralbo.ProteinAnimalMax
                                                </div>
                                                <input type="hidden" value="@mineralbo.ProteinAnimalMin" id="txtProteinAnimalMin" name="txtProteinAnimalMin" />
                                                <input type="hidden" value="@mineralbo.ProteinAnimalMax" id="txtProteinAnimalMax" name="txtProteinAnimalMax" />
                                            </td>
                                        </tr>
                                        <tr class="t-alt">
                                            <td>
                                                @Res.Get("DailyMenu_Title_ProteinPlant")
                                            </td>
                                            <td class="number">
                                                <div id="tdProteinPlant">
                                                    @mineralbo.ProteinPlant
                                                </div>
                                                <input type="hidden" value="@mineralbo.ProteinPlant" id="txtProteinPlant" name="txtProteinPlant" />
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmProteinPlant">
                                                    @mineralbo.ProteinPlantMin - @mineralbo.ProteinPlantMax
                                                </div>
                                                <input type="hidden" value="@mineralbo.ProteinPlantMin" id="txtProteinPlantMin" name="txtProteinPlantMin" />
                                                <input type="hidden" value="@mineralbo.ProteinPlantMax" id="txtProteinPlantMax" name="txtProteinPlantMax" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Res.Get("DailyMenu_Title_FatAnimal")
                                            </td>
                                            <td class="number">
                                                <div id="tdFatAnimal">
                                                    @mineralbo.FatAnimal
                                                </div>
                                                <input type="hidden" value="@mineralbo.FatAnimal" id="txtFatAnimal" name="txtFatAnimal" />
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmFatAnimal">
                                                    @mineralbo.FatAnimalMin - @mineralbo.FatAnimalMax
                                                </div>
                                                <input type="hidden" value="@mineralbo.FatAnimalMin" id="txtFatAnimalMin" name="txtFatAnimalMin" />
                                                <input type="hidden" value="@mineralbo.FatAnimalMax" id="txtFatAnimalMax" name="txtFatAnimalMax" />
                                            </td>
                                        </tr>
                                        <tr class="t-alt">
                                            <td>
                                                @Res.Get("DailyMenu_Title_FatPlant")
                                            </td>
                                            <td class="number">
                                                <div id="tdFatPlant">
                                                    @mineralbo.FatPlant
                                                </div>
                                                <input type="hidden" value="@mineralbo.FatPlant" id="txtFatPlant" name="txtFatPlant" />
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmFatPlant">
                                                    @mineralbo.FatPlantMin - @mineralbo.FatPlantMax
                                                </div>
                                                <input type="hidden" value="@mineralbo.FatPlantMin" id="txtFatPlantMin" name="txtFatPlantMin" />
                                                <input type="hidden" value="@mineralbo.FatPlantMax" id="txtFatPlantMax" name="txtFatPlantMax" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Res.Get("DailyMenu_Title_Sugar")
                                            </td>
                                            <td class="number">
                                                <div id="tdSugar">
                                                    @mineralbo.Sugar
                                                </div>
                                                <input type="hidden" value="@mineralbo.Sugar" id="txtSugar" name="txtSugar" />
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmSugar">
                                                    @mineralbo.SugarMin - @mineralbo.SugarMax
                                                </div>
                                                <input type="hidden" value="@mineralbo.SugarMin" id="txtSugarMin" name="txtSugarMin" />
                                                <input type="hidden" value="@mineralbo.SugarMax" id="txtSugarMax" name="txtSugarMax" />
                                            </td>
                                        </tr>
                                        @{var jk = 2;}
                                        @if (mineralbo.lstFoodMineral != null && mineralbo.lstFoodMineral.Count > 0)
                                        {
                                            foreach (var foodmineral in mineralbo.lstFoodMineral)
                                            {
                                            <tr class="@(jk % 2 == 0 ? "t-alt" : "")">
                                                <td>
                                                    @foodmineral.MineralName
                                                </td>
                                                <td class="number">
                                                    <div id="@("td" + foodmineral.MineralID)">
                                                        @foodmineral.Value
                                                    </div>
                                                </td>
                                                <td class="number dm">
                                                    <div id="@("tddm" + foodmineral.MineralID)">
                                                        @foodmineral.ValueFrom - @foodmineral.ValueTo
                                                    </div>
                                                </td>
                                            </tr>
                                                jk++;
                                            }
                                        }
                                        <tr class="@(jk % 2 == 0 ? "t-alt" : "")">
                                            <td>
                                                @Res.Get("DailyMenu_Title_Calo")
                                            </td>
                                            <td class="number">
                                                <div id="tdCalo">
                                                    @mineralbo.Calo
                                                </div>
                                            </td>
                                            <td class="number dm">
                                                <div id="tddmCalo">
                                                    @mineralbo.CaloMin - @mineralbo.CaloMax
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="float: left; width: 60%;">
                            <div style="margin-bottom: 5px;">
                                @Res.Get("Daily_Title_Rate") (%)</div>
                            <div id="tbl1Grid" class="t-widget t-grid">
                                <div class="t-grid-header" style="padding-right: 17px;">
                                    <div class="t-grid-header-wrap">
                                        <table>
                                            <tr>
                                                <td style="width: 40px;">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_TP")</center>
                                                </td>
                                                <td style="width: 40px;">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_TL")</center>
                                                </td>
                                                <td style="width: 70px;" class="dm">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_DM")</center>
                                                </td>
                                                <td style="font-size: 10px; width: 25px;">
                                                    <center>@Html.Raw("Trong<br/> đó")</center>
                                                </td>
                                                <td style="width: 40px;">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_TL")</center>
                                                </td>
                                                <td style="width: 70px;" class="dm">
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_DM")</center>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="t-grid-content">
                                    <table>
                                        <tr>
                                            <td style="width: 40px;">
                                                @Res.Get("DailyMenu_Title_Food_Protein")
                                            </td>
                                            <td class="number" style="width: 40px;">
                                                <div id="tddamtl">
                                                </div>
                                            </td>
                                            <td style="width: 70px;" class="number dm">
                                                <div id="tddamdm">
                                                </div>
                                            </td>
                                            <td style="width: 21px;">
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <center>
                                                                @Res.Get("DailyMenu_Title_DV")</center>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <center>
                                                                @Res.Get("DailyMenu_Title_TV")</center>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 40px;">
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tddamtldv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tddamtltv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 70px;" class="dm">
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td class="number">
                                                            <div id="tddamdmdv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tddamdmtv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="t-alt">
                                            <td>
                                                @Res.Get("DailyMenu_Title_Food_Fat")
                                            </td>
                                            <td class="number">
                                                <div id="tdbeotl">
                                                </div>
                                            </td>
                                            <td class="number dm">
                                                <div id="tdbeodm">
                                                </div>
                                            </td>
                                            <td>
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td style="padding-left: 0px;">
                                                            @Res.Get("DailyMenu_Title_DV")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left: 0px;">
                                                            @Res.Get("DailyMenu_Title_TV")
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tdbeotldv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tdbeotltv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="number dm">
                                                <table class="tblChildren">
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tdbeodmdv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="number" style="padding-left: 0px;">
                                                            <div id="tdbeodmtv">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Res.Get("DailyMenu_Title_Sugar")
                                            </td>
                                            <td class="number">
                                                <div id="tdduongtl">
                                                </div>
                                            </td>
                                            <td class="number dm">
                                                <div id="tdduongdm">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div style="margin-bottom: 5px; margin-top: 5px;">
                                @Res.Get("Daily_Title_Rate_Meal")</div>
                            <div id="tbl2Grid" class="t-widget t-grid">
                                <div class="t-grid-header" style="padding-right: 17px;">
                                    <div class="t-grid-header-wrap">
                                        <table>
                                            <tr>
                                                <td>
                                                    <center>
                                                        @Res.Get("Daily_Title_At")</center>
                                                </td>
                                                <td>
                                                    <center>
                                                        @Res.Get("Daily_Title_Rate") (%)</center>
                                                </td>
                                                <td>
                                                    <center>
                                                        @Res.Get("DailyMenu_Title_DM") (%)</center>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="t-grid-content">
                                    <table>
                                        @{var j = 2;}
                                        @if (type.ToString().ToLower() == DailyMenuConstants.ADD_BYFOOD.ToString().ToLower() || type.ToString().ToLower() == DailyMenuConstants.TYPE_DETAIL.ToString().ToLower())
                                        {

                                            var lstRateByMeal = (List<SMAS.Business.BusinessObject.RateByMealBO>)ViewData[DailyMenuConstants.LSTRATEBYMEAL];
                                            if (lstRateByMeal != null && lstRateByMeal.Count > 0)
                                            {
                                                foreach (var RateByMeal in lstRateByMeal)
                                                {
                                            <tr class="@(j % 2 == 0 ? "t-alt" : "")">
                                                <td>
                                                    @RateByMeal.MealName
                                                </td>
                                                <td>
                                                    <div style="text-align: center;">
                                                        @RateByMeal.Rate
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="text-align: center;">
                                                        @RateByMeal.EnergyDemandFrom - @RateByMeal.EnergyDemandTo
                                                    </div>
                                                </td>
                                            </tr>
                                                    j++;
                                                }
                                            }
                                        }
                                        <tr class="@(j % 2 == 0 ? "t-alt" : "")">
                                            <td>
                                                @Res.Get("Daily_Title_Food_Total")
                                            </td>
                                            <td>
                                                <div id="tdTile" style="text-align: center;">
                                                </div>
                                            </td>
                                            <td>
                                                <div id="tdDM" style="text-align: center;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div style="float: left; width: 30%;">
                    <div style="margin: 0 0 10px 10px;">
                        @{var total_price_otherservice = 0;}
                        <fieldset>
                            <legend>@Res.Get("DailyMenu_Title_OrtherService_Price")</legend>
                            <div id="tbl3Grid" class="t-widget t-grid">
                                <div class="t-grid-header" style="padding-right: 17px;">
                                    <div class="t-grid-header-wrap">
                                        <table>
                                            <tr>
                                                <td>
                                                    @Res.Get("Daily_Title_ServiceName")
                                                </td>
                                                <td>
                                                    @Res.Get("DailyMenu_Title_Food_DailyCostOfChildren")
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="t-grid-content">
                                    <table>
                                        @if (lstOtherService != null && lstOtherService.Count > 0)
                                        {
                                            var iii = 2;
                                            foreach (var otherservice in lstOtherService)
                                            {
                                                total_price_otherservice += otherservice.Price;
                                            <tr class="@(iii % 2 == 0 ? "t-alt" : "")">
                                                <td>@otherservice.OtherServiceName
                                                </td>
                                                <td class="number">@otherservice.Price
                                                </td>
                                            </tr>
                                                iii++;
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" value="@total_price_otherservice" id="total_price_otherservice" />
                    </div>
                    <div style="margin: 0 0 0 10px;">
                        <fieldset>
                            <legend>@Res.Get("DailyMenu_Title_Balance_Sheet")</legend>
                            <table class="tblThu">
                                <tr>
                                    <td style="width: 100px;">
                                        @Res.Get("DailyMenu_Title_Food_DailyCostOfChildren"):
                                    </td>
                                    <td class="number dm" style="text-align:left;">
                                        @ViewData[DailyMenuConstants.DAILYDISHCOST]
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">
                                        @Res.Get("DailyMenu_Title_Food_DailyCostOfChildren_Out"):
                                    </td>
                                     <td class="number">
                                        <div id="tienthu1tre" style="text-align:left;">
                                        </div>
                                    </td>
                                   
                                </tr>
                            </table>
                            <span style="float: left; margin-top: 10px; font-style: italic;">@Res.Get("DailyMenu_Title_Food_Note")</span>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
            <input type="hidden" id="dailymenuid" name="dailymenuid" value="@dailymenu.DailyMenuID" />
            <input type="hidden" id="txtnumberOfChilden" name="txtnumberOfChilden" value="@dailymenu.NumberOfChildren" />
            <div style="margin-left: 365px;">
                @if (type.ToString().ToLower() == DailyMenuConstants.TYPE_DETAIL.ToString().ToLower() && !isedit)
                {
                    <div style="float: left; margin-right: 10px;">
                        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "DailyMenuDetailExport();", "", "btnExport", "")
                    </div>
                }
                else
                {
                    <div style="float: left; margin-right: 10px;">
                        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "SaveFood();", "", "btnSave", "")
                    </div>
                    <div style="float: left; margin-right: 10px;">
                        @if (!flag)
                        {
                            @Html.ViettelButton(Res.Get("DailyMenu_Label_FoodAdditional"), "button", "OpenFoodAdditionalView();", "t-state-disabled", "btnFoodAdditional", "")
                        }
                        else
                        {
                            @Html.ViettelButton(Res.Get("DailyMenu_Label_FoodAdditional"), "button", "OpenFoodAdditionalView();", "", "btnFoodAdditional", "")
                        }
                    </div>
                }
                <div style="float: left; margin-right: 10px;">
                    @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "history.back()", "", "btnBack", "")
                </div>
            </div>
        </fieldset>
    }
    <script type="text/javascript" language="javascript">
    String.prototype.format = function (args) {
        var str = this;
        return str.replace(String.prototype.format.regex, function (item) {
            var intVal = parseInt(item.substring(1, item.length - 1));
            var replace;
            if (intVal >= 0) {
                replace = args[intVal];
            } else if (intVal === -1) {
                replace = "{";
            } else if (intVal === -2) {
                replace = "}";
            } else {
                replace = "";
            }
            return replace;
        });
    };
    String.prototype.format.regex = new RegExp("{-?[0-9]+}", "g");


    $(document).ready(function () {
        if($(".t-grid-content tbody tr:first").hasClass('t-no-data')){
            $(".t-grid-content tbody tr:first").remove();
        }
        var i = 0;
        $(".t-grid-content tbody tr").each(function () {
            i++;
            $(this).attr("id", "tr_" + i);
        });
        if($("#flag").val() == "true"){
            CaculateAfter();
            setTimeout(CaculateRate, 1.5 * 1000);
        }
    });
    function order() {
        var i = 0;
        var j = 0;
        $("span[name='STT']").each(function () {
            j++;
            $(this).html("<center>" + j + "</center>");
        });
    }

    function DeleteRow(id) {
        if (confirm('@Html.Raw(Res.Get("DailyMenu_Confirm_Delete_Row"))')) {
            var lstStt = $("#lstSTT").val();
            $("#lstSTT").attr("value", lstStt.replace(id.toString(), "0"));
            $("#tr_" + id).remove();
            order();
            CaculateAfter();
            setTimeout(CaculateRate, 1000);
        }
    }
    function AddToGrid() {
        var Array = [];
        var lstSTT = $("#lstSTT").val();
        var max_Stt = 0;
        if(lstSTT!="" || lstSTT!="undefined")
        {
            lstSTT = lstSTT.split(',');
            for (var i = 0; i < lstSTT.length; i++) {
                Array.push(parseInt(lstSTT[i]));
            }
            Array.sort(function (a, b) { return b - a });
            max_Stt = Array[0];
        }
        var lastGridRow = $("#Grid .t-grid-content tbody tr:last");
        var gridItems = $("#Grid .t-grid-content tbody");
        var lastIsAlternateRow = lastGridRow.hasClass("t-alt");
        var id_item = parseInt(max_Stt) + 1;
        var rowClass = "";
        var priceperone = $("#_PricePerOne").val();
        var discardedrate = $("#_DiscardedRate").val();
        if (!lastIsAlternateRow)
            rowClass = "t-alt";
        var str = "<tr id=\"tr_" + id_item + "\" class='" + rowClass + "'><td><span name='STT'><center>" + id_item + "</center></span></td>";
        var html_drp_food = $("#drpFood").html();

        html_drp_food = html_drp_food.format(["Food_" + id_item]);
        str = str + "<td style=\"width: 17%\"><center>" + html_drp_food + "</center></td>";
        var input_kl_kg = "<input type=\"text\" id=\"KG_" + id_item + "\" name=\"KG_" + id_item + "\"  onkeyup = \"return convertInputText(this,event,true)\" onkeydown = \"return convertInputText(this,event,false)\"  onchange=\"CaculateKLkgAndPrice(this);\" value=\"\" class=\"right w55\" />";
        str = str + "<td style=\"width: 10%\"><center>" + input_kl_kg + "</center></td>";

        var input_kl_g = "<input type=\"text\" id=\"G_" + id_item + "\" name=\"G_" + id_item + "\"  onkeyup = \"return convertInputText(this,event,true)\" onkeydown = \"return convertInputText(this,event,false)\"  onchange=\"CaculateKLAndPrice(this);\" value=\"\" class=\"right w55\" />";
        str = str + "<td style=\"width: 10%\"><center>" + input_kl_g + "</center></td>";

        var input_DiscardedWeight = "<input type=\"text\" id=\"DiscardedWeight_" + id_item + "\" name=\"DiscardedWeight_" + id_item + "\" value=\"\" disabled=\"disabled\" class=\"right w55\" />";
        str = str + "<td style=\"width: 10%\"><center>" + input_DiscardedWeight + "</center></td>";

        var input_PricePerOne = "<input type=\"text\" id=\"PricePerOne_" + id_item + "\" name=\"PricePerOne_" + id_item + "\"  onkeyup = \"return convertInputText(this,event,true)\" onkeydown = \"return convertInputText(this,event,false)\"  onchange=\"CaculatePrice(this);\" value=\"" + priceperone + "\" class=\"right\" />";
        var input_DiscardedRate= "<input type=\"hidden\" id=\"DiscardedRate_" + id_item + "\" name=\"DiscardedRate_" + id_item + "\" value=\"" + discardedrate + "\" class=\"right\" />";
        str = str + "<td style=\"width: 16%\"><center>" + input_PricePerOne + input_DiscardedRate + "</center></td>";

        var input_Price = "<input type=\"text\" id=\"Price_" + id_item + "\" name=\"Price_" + id_item + "\" value=\"\" class=\"right\" />";
        str = str + "<td style=\"width: 16%\"><center>" + input_Price + "</center></td>";

        var button = "<button type=\"button\" id=\"" + id_item + "\" class=\"t-button t-button-icon\" onclick=\"DeleteRow(" + id_item + ")\"><span class=\"t-icon t-delete\"></span></button>";
        str = str + "<td style=\"width: 5%\"><center>" + button + "</center></td>";
        str = str + "</tr>";
        $("#lstSTT").attr("value", $("#lstSTT").val() + "," + id_item);
        $("#MaxSTT").attr("value", id_item);
        gridItems.append(str);
        order();
    }

    function convertInputText(object, event, isKeyUp) {
    //chi show 1 dau cham
            if (isKeyUp == false) {
            if ($(object).val().trim().length == 10) {
                        event.preventDefault();
            }

                if (event.keyCode == 188) {
                    if ($(object).val().trim().length == 0) {
                        event.preventDefault();
                    }
                    if ($(object).val().indexOf(',') > -1) {
                        event.preventDefault();
                    }
                }
            }

            if (event.shiftKey && ((event.keyCode >= 48 && event.keyCode <= 57)
             || (event.keyCode >= 186 && event.keyCode <= 222))) {
                // Ensure that it is a number and stop the Special chars
                event.preventDefault();
            }
            else if ((event.shiftKey || event.ctrlKey) && (event.keyCode > 34 && event.keyCode < 40)) {
                // let it happen, don't do anything
            }
            else {
                // Allow only backspace , delete, numbers, dot               
                if (event.keyCode == 9 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 39 || event.keyCode == 37 || event.keyCode == 188
                || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 188) {
                    // let it happen, don't do anything
                }
                else {
                    // Ensure that it is a number and stop the key press
                    event.preventDefault();
                }
            }

             //lam tron so thap phan           
            if (isKeyUp) {
                value = $(object).val();
                if (value != '') {
                    var indexDot = value.indexOf(',');
                    if (indexDot < value.length - 1 && indexDot != -1) {
                       var vlafter =  value.replace(',', '.');
                       var roundValue = numberUtils.mathRound(vlafter, 2).toString();
                       var roundvlafter = roundValue.replace('.', ',');
                        $(object).val(roundvlafter);
                    }
                }
            }
        }
    function SaveFood() {
        smas.showProcessingDialog();
        var datafrom = $("#frmSaveFood").serialize();
        var dailymenuid = $("#dailymenuid").val();
        var eatinggroupid = @dailymenu.EatingGroupID;
        var value = dailymenuid +'_'+ eatinggroupid;
        $.ajax({
            type: "POST",
            url: '@Url.Action("Food", "DailyMenu")' + '?id='+ value,
            data: datafrom,
            dataType: "json",
            success: function (msg) {
                smas.hideProcessingDialog();
                if (msg.Type == "success") {
                    smas.alert(msg);
                    $("#btnFoodAdditional").removeClass("t-state-disabled");
                    formUtils.focusForm("frmSaveFood");
                }
            }
        });
    }

    function CaculatePricePerOne(FoodID) {
        var id = $(FoodID).attr("id");
        var value = $("#" + id).val();
        var stt = id.split("_")[1];
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadPricePerOne", "DailyMenu")',
            data: { id: value },
            dataType: "json",
            success: function (msg) {
                if (msg.Type == "success") {
                    var discardedrate_val = msg.Message.split(",")[1];
                    $("#PricePerOne_" + stt).attr("value", msg.Message.split(",")[0]);
                    $("#DiscardedRate_" + stt).attr("value", discardedrate_val);
                    var klkg = $("#KG_" + stt).val();
                    if(klkg!="")
                    {
                        var discardedrate = (parseFloat(klkg) * parseFloat(discardedrate_val))/100;
                            $("#DiscardedWeight_" + stt).attr("value", discardedrate.toFixed(2).toString().replace(".",","));
                        var PricePerOne_val=$("#PricePerOne_" + stt).val();
                        var new_price_val=parseFloat($("#KG_" + stt).val()) * parseFloat(PricePerOne_val);
                        $("#Price_" + stt).attr("value", new_price_val.toFixed(2).toString().replace(".",","));
                    }
                    CaculateAfter();
                }
            }
        });
    }

    function CaculateKLkgAndPrice(KLID){    
        var id = $(KLID).attr("id");
        var value = $("#" + id).val().replace(",",".");
        var stt = id.split("_")[1];
        if(parseFloat(value) > 0){
            var numnerofchildren = @dailymenu.NumberOfChildren;
            var new_g_val= parseFloat(value)*1000/parseFloat(numnerofchildren);
            $("#G_" + stt).attr("value", new_g_val.toString().replace(".",","));
            var DiscardedRate =$("#DiscardedRate_" + stt).val();
            var new_DiscardedRate_val=(parseFloat(value) * parseFloat(DiscardedRate))/100;
            $("#DiscardedWeight_" + stt).attr("value", new_DiscardedRate_val.toFixed(2).toString().replace(".",","));
            var PricePerOne_val=$("#PricePerOne_" + stt).val();
            var new_price_val=parseFloat(value) *parseFloat(PricePerOne_val);
            $("#Price_" + stt).attr("value", new_price_val.toFixed(2).toString().replace(".",","));
        }
        else{
             $("#G_" + stt).attr("value", "");
             $("#Price_" + stt).attr("value", "");
             $("#DiscardedWeight_" + stt).attr("value", "");
        }
        CaculateAfter();
        setTimeout(function() {
              CaculateRate();
        }, 1000);
    }

    function CaculateKLAndPrice(KLgID){
        var id = $(KLgID).attr("id");
        var value = $("#" + id).val().replace(",",".");
        var stt = id.split("_")[1];
        if(value !=""){
            var numnerofchildren = @dailymenu.NumberOfChildren;
            var new_kg_val= parseFloat(value)*parseFloat(numnerofchildren)/1000;
            $("#KG_" + stt).attr("value", new_kg_val.toString().replace(".",","));
            var DiscardedRate =$("#DiscardedRate_" + stt).val();
            var new_DiscardedRate_val=(parseFloat(new_kg_val) * parseFloat(DiscardedRate))/100;
            $("#DiscardedWeight_" + stt).attr("value", new_DiscardedRate_val.toFixed(2).toString().replace(".",","));
            var PricePerOne_val=$("#PricePerOne_" + stt).val();
            var new_price_val=parseFloat(new_kg_val) * parseFloat(PricePerOne_val);
            $("#Price_" + stt).attr("value", new_price_val.toFixed(2).toString().replace(".",","));
        }
        else{
             $("#KG_" + stt).attr("value", "");
             $("#Price_" + stt).attr("value", "");
             $("#DiscardedWeight_" + stt).attr("value", "");
        }
        CaculateAfter();
        setTimeout(function() {
              CaculateRate();
        }, 1000);
    }

    function CaculatePrice(Price){
        var id = $(Price).attr("id");
        var value = $("#" + id).val().replace(",",".");
        var stt = id.split("_")[1];
        if(value !=""){
            var kg_item ="KG_" + stt;
            var kg_val =$("#"+kg_item).val();
            if(kg_val!=""){
                var new_price = parseFloat(kg_val.replace(",",".")) * parseFloat(value);
                $("#Price_" + stt).attr("value", new_price.toString().replace(".",","));
            }
        }
        CaculateAfter();
        setTimeout(function() {
              CaculateRate();
        }, 1000);
    }


    function CaculateAfter() {
       var EatingGroupID=@dailymenu.EatingGroupID;
        var Array = [];
        var Foods = "";
        var KLs = "";
        var lstSTT = $("#lstSTT").val();
        if(lstSTT!="" || lstSTT!="undefined")
        {
            lstSTT = lstSTT.split(',');
        }
        for (var i = 0; i < lstSTT.length; i++) {
            var item = parseInt(lstSTT[i]);
            if (item > 0)
                Array.push(item);
        }
        var food = "";
        var kl = "";
        var food_val = 0;
        var kl_val = 0;
        for (var j = 0; j < Array.length; j++) {
            food = "Food_" + Array[j].toString();
            kl = "G_" + Array[j].toString();
            if($("#" + food).length > 0 && $("#" + kl).length > 0) {
                food_val =parseInt($("#" + food).val().replace(",","."));
                kl_val = parseFloat($("#" + kl).val().replace(",","."));
                if (food_val > 0 && kl_val > 0) {
                    Foods = Foods + food_val.toString() + "_";
                    KLs = KLs + kl_val.toString() + "_";
                }
            }
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadNutritionalBalance", "DailyMenu")',
            data: { foods: Foods, kls: KLs, eatinggroupid: EatingGroupID },
            dataType: "json",
            success: function (bo) {
                $("#tdProteinAnimal").html(bo.ProteinAnimal.toString().replace(".",","));
                $("#txtProteinAnimal").attr("value",bo.ProteinAnimal.toString().replace(".",","));
                $("#tddmProteinAnimal").html(parseFloat(bo.ProteinAnimalMin.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.ProteinAnimalMax.toString()).toString().replace(".",","));
                $("#txtProteinAnimalMin").attr("value",bo.ProteinAnimalMin.toString().replace(".",","));
                $("#txtProteinAnimalMax").attr("value",bo.ProteinAnimalMax.toString().replace(".",","));
                $("#tdProteinPlant").html(bo.ProteinPlant.toString().replace(".",","));
                $("#txtProteinPlant").attr("value",bo.ProteinPlant.toString().replace(".",","));
                $("#tddmProteinPlant").html(parseFloat(bo.ProteinPlantMin.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.ProteinPlantMax.toString()).toString().replace(".",","));
                $("#txtProteinPlantMin").attr("value",bo.ProteinPlantMin.toString().replace(".",","));
                $("#txtProteinPlantMax").attr("value",bo.ProteinPlantMax.toString().replace(".",","));
                $("#tdFatAnimal").html(bo.FatAnimal.toString().replace(".",","));
                $("#txtFatAnimal").attr("value",bo.FatAnimal.toString().replace(".",","));
                $("#tddmFatAnimal").html(parseFloat(bo.FatAnimalMin.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.FatAnimalMax.toString()).toString().replace(".",","));
                $("#txtFatAnimalMin").attr("value",bo.FatAnimalMin.toString().replace(".",","));
                $("#txtFatAnimalMax").attr("value",bo.FatAnimalMax.toString().replace(".",","));
                $("#tdFatPlant").html(bo.FatPlant.toString().replace(".",","));
                $("#txtFatPlant").attr("value",bo.FatPlant.toString().replace(".",","));
                $("#tddmFatPlant").html(parseFloat(bo.FatPlantMin.toString()).toString().replace(".",",") + " - " + parseFloat(bo.FatPlantMax.toString()).toString().replace(".",","));
                $("#txtFatPlantMin").attr("value",bo.FatPlantMin.toString().replace(".",","));
                $("#txtFatPlantMax").attr("value",bo.FatPlantMax.toString().replace(".",","));
                $("#tdSugar").html(bo.Sugar.toString().replace(".",","));
                $("#txtSugar").attr("value",bo.Sugar.toString().replace(".",","));
                $("#tddmSugar").html(parseFloat(bo.SugarMin.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.SugarMax.toString()).toString().replace(".",","));
                $("#txtSugarMin").attr("value",bo.SugarMin.toString().replace(".",","));
                $("#txtSugarMax").attr("value",bo.SugarMax.toString().replace(".",","));
                $("#tdCalo").html(bo.Calo.toString().replace(".",","));
                $("#tddmCalo").html(parseFloat(bo.CaloMin.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.CaloMax.toString()).toString().replace(".",","));
                for(var i=0; i<bo.CountOfLstFoodMineral; i++){
                    $("#td"+bo.lstFoodMineral[i].MineralID.toString()).html(bo.lstFoodMineral[i].Value.toString().replace(".",","));
                    $("#tddm"+bo.lstFoodMineral[i].MineralID.toString()).html(parseFloat(bo.lstFoodMineral[i].ValueFrom.toString()).toString().replace(".",",")+ " - " + parseFloat(bo.lstFoodMineral[i].ValueTo.toString()).toString().replace(".",","));
                }
            }
        });
    }

    function CaculateRate()
    {
        if(@nn != null) {
            var calo=$("#tdCalo").html().replace(",", ".");
            var DailyDemandFrom=@nn.DailyDemandFrom;
            var new_tile_val= parseFloat(calo) * parseFloat(DailyDemandFrom);
            $("#tdTile").html(new_tile_val.toString().replace(".", ","));

            var RateFrom= @nn.RateFrom;
            var RateTo = @nn.RateTo;
            $("#tdDM").html(RateFrom.toString().replace(".", ",") + " - " + RateTo.toString().replace(".", ","));
            CaculateDetailRate();
        }
    }

    function CaculateDetailRate(){
        //if(@nn != null) {
            //(DailyMenu_Title_ProteinAnimal + DailyMenu_Title_ProteinPlant)*4/Calo * 100
            var damdv = parseFloat($("#tdProteinAnimal").html());
            var damtv = parseFloat($("#tdProteinPlant").html());
            var calo= parseFloat($("#tdCalo").html());
            var new_dam_tl_val = calo > 0 ? (damdv + damtv)*4/calo*100 : 0;
            $("#tddamtl").html(new_dam_tl_val.toFixed(2).toString().replace(".", ","));
            //nn.ProteinFrom – nn.ProteinTo
            var ProteinFrom= @nn.ProteinFrom;
            var ProteinTo = @nn.ProteinTo;
            $("#tddamdm").html(ProteinFrom.toString().replace(".", ",") + " - " + ProteinTo.toString().replace(".", ","));
            //DailyMenu_Title_ProteinAnimal/(DailyMenu_Title_ProteinAnimal + DailyMenu_Title_ProteinPlant) * 100
            var new_dam_tl_dv_val = (damdv + damtv) > 0 ? damdv/(damdv + damtv)*100 : 0;
            $("#tddamtldv").html(new_dam_tl_dv_val.toFixed(2).toString().replace(".", ","));
            //nn.AnimalProteinFrom – nn.AnimalProteinTo
            var AnimalProteinFrom= @nn.AnimalProteinFrom;
            var AnimalProteinTo = @nn.AnimalProteinTo;
            $("#tddamdmdv").html(AnimalProteinFrom.toString().replace(".", ",") + " - " + AnimalProteinTo.toString().replace(".", ","));
            //DailyMenu_Title_ProteinPlant/(DailyMenu_Title_ProteinAnimal + DailyMenu_Title_ProteinPlant) * 100
            var new_dam_tl_tv_val= (damdv + damtv) > 0 ? damtv/(damdv + damtv)*100 : 0;
            $("#tddamtltv").html(new_dam_tl_tv_val.toFixed(2).toString().replace(".", ","));
            //nn.PlantProteinFrom – nn.PlantProteinTo
            var PlantProteinFrom= @nn.PlantProteinFrom;
            var PlantProteinTo = @nn.PlantProteinTo;
            $("#tddamdmtv").html(PlantProteinFrom.toString().replace(".", ",") + " - " + PlantProteinTo.toString().replace(".", ","));

            //(DailyMenu_Title_FatAnimal + DailyMenu_Title_FatPlant) * 9/ Calo * 100
            var beodv = parseFloat($("#tdFatAnimal").html());
            var beotv = parseFloat($("#tdFatPlant").html());
            var new_beo_tl_val = calo > 0 ? (beodv + beotv)*9/calo*100 :0;
            $("#tdbeotl").html(new_beo_tl_val.toFixed(2).toString().replace(".", ","));
            //nn.FatFrom – nn.FatTo
            var FatFrom= @nn.FatFrom;
            var FatTo = @nn.FatTo;
            $("#tdbeodm").html(FatFrom.toString().replace(".", ",") + " - " + FatTo.toString().replace(".", ","));
            //DailyMenu_Title_FatAnimal/(DailyMenu_Title_FatAnimal + DailyMenu_Title_FatPlant) * 100
            var new_beo_tl_dv_val = (beodv + beotv) > 0 ? beodv/(beodv + beotv)*100 : 0;
            $("#tdbeotldv").html(new_beo_tl_dv_val.toFixed(2).toString().replace(".", ","));
            //nn.AnimalFatFrom – nn.AnimalFatTo
            var AnimalFatFrom= @nn.AnimalFatFrom;
            var AnimalFatTo = @nn.AnimalFatTo;
            $("#tdbeodmdv").html(AnimalFatFrom.toString().replace(".", ",") + " - " + AnimalFatTo.toString().replace(".", ","));
            //DailyMenu_Title_FatPlant/(DailyMenu_Title_FatAnimal + DailyMenu_Title_FatPlant) * 100
            var new_beo_tl_tv_val= (beodv + beotv) > 0 ? beotv/(beodv + beotv)*100 : 0;
            $("#tdbeotltv").html(new_beo_tl_tv_val.toFixed(2).toString().replace(".", ","));
            //nn.PlantFatFrom – nn.PlantFatTo
            var PlantFatFrom= @nn.PlantFatFrom;
            var PlantFatTo = @nn.PlantFatTo;
            $("#tdbeodmtv").html(PlantFatFrom.toString().replace(".", ",") + " - " + PlantFatTo.toString().replace(".", ","));

             //DailyMenu_Title_Sugar * 4 / Calo * 100
            var duong = parseFloat($("#tdSugar").html());
            var new_duong_tl_val = calo > 0 ? duong*4/calo*100 : 0;
            $("#tdduongtl").html(new_duong_tl_val.toFixed(2).toString().replace(".", ","));
            //nn.SugarFrom – nn.SugarTo
            var SugarFrom= @nn.SugarFrom;
            var SugarTo = @nn.SugarTo;
            $("#tdduongdm").html(SugarFrom.toString().replace(".", ",") + " - " + SugarTo.toString().replace(".", ","));
            TinhTienThu();
       // }
    }

    function TinhTienThu(){
        var lstSTT = $("#lstSTT").val().split(',');
        var total=0;
        for (var i = 0; i < lstSTT.length; i++) {
            var item = parseInt(lstSTT[i]);
            if (item > 0){
                if(parseFloat($("#Price_"+item).val()) > 0){
                    total = total + parseFloat($("#Price_"+item).val());
                }
            }
        }
        total = total + parseFloat($("#total_price_otherservice").val());
        $("#tienthu1tre").html(parseFloat(total).toFixed(2).toString().replace(".", ","));
    }

    function OpenFoodAdditionalView(){
        smas.showProcessingDialog();
        var dailymenuid = $("#dailymenuid").val();
        var txtProteinAnimal= $("#txtProteinAnimal").val();
        var txtProteinPlant= $("#txtProteinPlant").val();
        var txtFatAnimal= $("#txtFatAnimal").val();
        var txtFatPlant= $("#txtFatPlant").val();
        var txtSugar= $("#txtSugar").val();
        var txtProteinAnimalMin= $("#txtProteinAnimalMin").val();
        var txtProteinAnimalMax= $("#txtProteinAnimalMax").val();
        var txtProteinPlantMin= $("#txtProteinPlantMin").val();
        var txtProteinPlantMax= $("#txtProteinPlantMax").val();
        var txtFatAnimalMin= $("#txtFatAnimalMin").val();
        var txtFatAnimalMax= $("#txtFatAnimalMax").val();
        var txtFatPlantMin= $("#txtFatPlantMin").val();
        var txtFatPlantMax= $("#txtFatPlantMax").val();
        var txtSugarMin= $("#txtSugarMin").val();
        var txtSugarMax= $("#txtSugarMax").val();
        var numberOfChilden=$("#txtnumberOfChilden").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("FoodAdditional", "DailyMenu")',
            data: {dailymenuid:dailymenuid,txtProteinAnimal:txtProteinAnimal,txtProteinPlant:txtProteinPlant,txtFatAnimal:txtFatAnimal,txtFatPlant:txtFatPlant, txtSugar:txtSugar,txtProteinAnimalMin:txtProteinAnimalMin,txtProteinAnimalMax:txtProteinAnimalMax ,txtProteinPlantMin:txtProteinPlantMin,txtProteinPlantMax:txtProteinPlantMax,txtFatAnimalMin:txtFatAnimalMin,txtProteinPlantMax:txtProteinPlantMax,txtFatAnimalMin:txtFatAnimalMin,txtFatAnimalMax:txtFatAnimalMax,txtFatPlantMin:txtFatPlantMin,txtFatPlantMax:txtFatPlantMax,txtSugarMin:txtSugarMin,txtSugarMax:txtSugarMax,numberOfChilden:numberOfChilden},
            dataType: "html",
            success: function (msg) {
                smas.hideProcessingDialog();
                $("#page").html(msg);
            }
        });
    }
    function DailyMenuDetailExport() {
        var dailymenuid = $("#dailymenuid").val();
        window.open("/DailyMenuArea/DailyMenu/ExportReport?DailyMenuID=" + dailymenuid);
    }

    
    </script>
    <style type="text/css">
        input.right{text-align:right}.tblNutritionalBalance{border-collapse:collapse}.th1{background:none repeat scroll 0 0 transparent;border-color:-moz-use-text-color;border-style:none;border-width:0;font-size:100%;margin:0;outline-style:none;outline-width:0;padding:0;vertical-align:baseline}.tblNutritionalBalance th{border-style:solid;border-width:0 0 0 1px;line-height:1.6em;overflow:hidden;padding:.25em .6em;text-overflow:ellipsis;vertical-align:middle}.tblNutritionalBalance td{height:25px;vertical-align:bottom;border:1px solid #000}.number{text-align:right}.dm{color:Red}.tblChildren th{height:25px;vertical-align:bottom;border:1px solid #000}.tblChildren td{border-collapse:collapse;border-top:0;border-right:0;border-left:0}.tblThu td,.tblThu th{height:25px;vertical-align:bottom}.w55{width:55px}
    </style>
</div>
