@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyMenuArea.Models
@{
    ViewBag.Title = Res.Get("DailyMenu_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="lstDailyMenu">
<fieldset>
<legend>@Res.Get("Record_Result")</legend>
    @Html.Partial("_List")
</fieldset>
</div>
@(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("DailyMenu_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(200)
)
@(Html.Telerik().Window()
                .Name("SelectImport")
                .Title(Res.Get("MarkRecord_Label_SelectImport"))
                .Content(@<text>@Html.Partial("SelectImport")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(150)
)
@(Html.Telerik().Window()
                .Name("ViewData")
                .Title(Res.Get("MarkRecord_Label_ViewData"))
                .Content(@<text>@Html.Partial("ViewDataImport")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(1200)
                .Height(580)
                .Scrollable(true)
)
<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:34%}#SearchPanel .editor-field{width:60%;margin-right:10px}#SearchPanel .vt-control{width:45%}
</style>

