﻿
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyMenuArea.Models

	@Html.AntiForgeryToken()  
 <form id="frmViewExcel" action='@Url.Action("ViewFileExcelError", "DailyMenu")' method="post">                      
    <table>
        <tr style="padding: 10px">
            <td style="text-align: center; width:90%; color: Red; padding-top:20px;">
                    <p>File excel tồn tại dữ liệu không hợp lệ</p>
            </td>
        </tr>
    </table>
  <div class="dialog-buttons">		
      @Html.ViettelButton(Res.Get("Common_Button_ViewDataImport"), new Dictionary<string, object>() {}, "submit", "", "")                           
       @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "OnCloseClickSelectImport()", "")      		
</div>  
</form> 
<script type="text/javascript">
    function OnCloseClickSelectImport() {
        smas.closeDialog("SelectImport");
    }  
</script>

<style type"text/css">     
    #button{margin-top:20px}    
</style>
