﻿@model ApprovalCancelTeachingScheduleModel
@using Com.Viettel.Framework.HtmlHelpers;
@using SMAS.Web.Utils;
@using SMAS.Models.Models;
@using SMAS.Web.Areas.LookUpSchedulesArea;
@using SMAS.Web.Areas.LookUpSchedulesArea.Models;

@using (Ajax.BeginForm("ApprovalCancelTeachingSchedule",
                       "LookUpSchedules",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ApprovalCancelTeachingScheduleSuccess",
                           OnFailure = "ApprovalCancelTeachingScheduleFail"
                       },
                       new { id = "frmApprovalCancelTeachingSchedule", @class = "" }
                       ))
{
    <div class="vt-EditorPanel vt-EditorPanel-1">
        @Html.AntiForgeryToken()
        @{
            string lstTeacherID = "";
            foreach (var i in Model.lstTeacher) {
                lstTeacherID = lstTeacherID + i + ",";
            }           
            <input type="hidden" value="@lstTeacherID" name="lstTeacherVM" />          
         }

        @{
            string lstFromDate = "";
            foreach (var i in Model.lstFromDate) {
                lstFromDate = lstFromDate + i + ",";
            }           
            <input type="hidden" value="@lstFromDate" name="lstFromDateVM" />          
         }

        <input name="SchoolID" type="hidden" value="@Model.SchoolID" />
        <input name="Year" value="@Model.Year" type="hidden" />
        <div class="vt-EditorPanel-Control">
            <p>@Model.DisplayNote</p>
            <div class="vt-EditorPanel-content approval-cancel">
                @Html.LabelFor(m=>m.Note,"Ghi chú:")
                @Html.TextAreaFor(m => m.Note, 4, 20, new {maxlength = "500" })
            </div>
        </div>
        <div class="vt-EditorPanel-Button">
            <button class="t-button" type="button" onclick="validateApprovalCancelTeachingSchedule()">Đồng ý</button>
            <button class="t-button" type="button" onclick="smas.closeDialog('ApprovalCancelTeachingSchedule');">Đóng</button>
            <div style="display: none">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function ApprovalCancelTeachingScheduleSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            
            smas.closeDialog('ApprovalCancelTeachingSchedule');
            $("#searchBtn").click();
        }
    }
    function ApprovalCancelTeachingScheduleFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function validateApprovalCancelTeachingSchedule() {
        $("#frmApprovalCancelTeachingSchedule input[type='submit']").click();
    }
</script>
<style>
    .vt-EditorPanel-content.approval-cancel {
        margin-top:10px;
    }
        .vt-EditorPanel-content.approval-cancel > label {
            text-decoration:underline;
        }
        .vt-EditorPanel-content.approval-cancel > textarea {
            margin-top:5px;
            width:100%;
            padding:3px;
        }
</style>
