﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.LookUpSchedulesArea.Models
@using SMAS.Web.Areas.LookUpSchedulesArea
@using SMAS.Web.Areas.LookUpSchedulesArea.Controllers
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.Common
@{
    var isTeacher = (bool)(ViewData[LookUpSchedulesConstants.IS_TEACHER] ?? false);
    var lstResult = (ViewData[LookUpSchedulesConstants.LIST_TEACHING_SCHEDULE] ?? new List<TeachingScheduleViewModel>()) as List<TeachingScheduleViewModel>;
    var lstSection = (ViewData[LookUpSchedulesConstants.LIST_SECTION_GRID] ?? new List<int>()) as List<int>;
    var lstDate = (ViewData[LookUpSchedulesConstants.LIST_DATE] ?? new List<LookUpSchedulesController.DateName>()) as List<LookUpSchedulesController.DateName>;
    var curDay = -1;
    var curSection = -1;
    LookUpSchedulesController.DateName objDate = null;
    TeachingScheduleViewModel objTSVM = null;
    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
    bool isEditByApprovaled = !(bool)(ViewData[LookUpSchedulesConstants.TEACHING_SCHEDULE_APPROVALED] ?? false);
    var enabledButton = (bool)ViewData[LookUpSchedulesConstants.ENABLED_BUTTON];
    var isCreate = (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE]; //&& isEditByApprovaled;
    var isDelete = (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE];// isEditByApprovaled;
    var isUpdate = (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE];//&& isEditByApprovaled;
    var TeacherID = (int)(ViewData[LookUpSchedulesConstants.TEACHER_ID] ?? 0);
    if (isTeacher && enabledButton && (isCreate || isDelete || isUpdate) && TeacherID > 0 && isEditByApprovaled)
    {
        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));

    }
    //listSelectList.Add(new ViettelCheckboxList(Res.Get("Xuất mẫu nhập"), "2", false, false));
    //listSelectList.Add(new ViettelCheckboxList(Res.Get("ExportBookTeachingSchedule"), "3", false, false));
    bool showBtnApproval = (bool)(ViewData[LookUpSchedulesConstants.TEACHING_SCHEDULE_PERMISSION_APPROVAL] ?? false);
    string description = string.Empty;
    var lstApprovalContent = (ViewData["lstApprovalContent"] ?? new List<ViewDetailApprovalViewModel>()) as List<ViewDetailApprovalViewModel>;
    
        
}
<style>
    .t-grid-content {
        overflow-y:hidden;
    }
    div.t-grid-header {
        padding-right:0px;
    }

    .fixwidth {
        width:80%;
    }

    .fixtd td {
    
        padding:15px;
    }

</style>
<div style="padding:5px;" class="tagData">
    <label>Giáo viên: <strong>@ViewData["teacherName"]</strong></label>
    <label style="margin-left:100px">Tuần: @Html.Raw((string)ViewData["fromToWeek"])</label>
    <input type="hidden" value="@ViewData["teacherID"]" class="teacherID" />
    <input type="hidden" value="@ViewData["weekID"]" class="weekID" />
    <input type="hidden" value="@ViewData["schoolID"]" class="schoolID" />
    <input type="hidden" value="@ViewData["academic"]" class="academic" />
</div>
<div style="padding:5px;">
    <div>
        <table>
            <tr>
                @{
                    if (ViewData[LookUpSchedulesConstants.TEACHING_SCHEDULE_LOG_APPROVAL] == null)
                    {
                    <td> @Res.Get("SchoolProfile_Label_Status"): <span style="color: #ea700d">chưa phê duyệt</span></td>                        
                    }
                    else
                    {
                    <td>@Res.Get("SchoolProfile_Label_Status"): <span style="color: #ea700d">@Html.Raw((string)ViewData[LookUpSchedulesConstants.TEACHING_SCHEDULE_LOG_APPROVAL])</span></td>   
                    }        
                    <td style="text-align: right;">
                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                            @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { { "style", "text-transform: none;" } }, "", listSelectList, true)
                        </div>                                               
                        @*@if (TeacherID > 0)
                        {
                            @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" }, { "style", "width:106px;" } }, "button", "onInOutScheduleClick(this)")    
                        }*@
                    </td>        
                }
            </tr>
        </table>

    </div><br />
    <div style="margin-left:20px"><strong>I. Nội dung báo giảng</strong></div>
    <div class="GeneralTable" style="margin-top: 5px;">
        <div class="t-grid-header">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 30px;">
                    <col style="width: 30px;">
                    <col style="width: 40px;">
                    <col style="width: 40px;">
                    <col style="width: 50px;">
                    <col style="width: 30px;">
                    <col style="width: 90px;">
                    <col style="width: 90px;">
                    <col style="width: 35px;">
                    
                    @*<col style="width: 20px;">*@
                </colgroup>
                <thead>
                    <tr>
                        <th>@Res.Get("Common_Label_DayOfWeek")</th>
                        <th>@Res.Get("Common_Label_Section")</th>
                        <th>@Res.Get("Common_Label_TimeUnit")</th>
                        <th>@Res.Get("Common_Column_Subject")</th>
                        <th>@Res.Get("Common_Column_AssignSubject")</th>
                        <th>@Res.Get("Common_Column_Class")</th>
                        <th>@Res.Get("Teaching_Schedule_TIET_PHAN_PHOI")</th>
                        <th>@Res.Get("Teaching_Schedule_TEN_BAI")</th>
                        <th>@Res.Get("Teaching_Schedule_DO_DUNG")</th>
                        <th>@Res.Get("Trạng thái")</th>
                        
                        @*<th class="EndCols">@Res.Get("Common_Column_Delete")</th>*@
                    </tr>
                </thead>
            </table>
        </div>
        <div class="t-grid-content">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 30px;">
                    <col style="width: 30px;">
                    <col style="width: 40px;">
                    <col style="width: 40px;">
                    <col style="width: 50px;">
                    <col style="width: 30px;">
                    <col style="width: 90px;">
                    <col style="width: 90px;">
                    <col style="width: 35px;">
                    
                </colgroup>
                <tbody>
                    @for (int i = 0; i < lstDate.Count; i++)
                    {
                        objDate = lstDate[i];
                        curSection = -1;
                        curDay = -1;
                        for (int s = 0; s < lstSection.Count; s++)
                        {
                            for (int t = 1; t <= 5; t++)
                            {
                                objTSVM = lstResult.FirstOrDefault(p => p.ScheduleDate == objDate.Date && p.Section == lstSection[s] && p.SubjectOrder == t);
                                <tr style="height: 30px;">
                                    @if (curDay != i)
                                    {
                                        <td style ="word-wrap:break-word;" rowspan="@(lstSection.Count * 5)">@(objDate.Name)</td>
                                        curDay = i;
                                    }
                                    @if (curSection != s)
                                    {
                                        <td rowspan="5">@(lstSection[s] == 1 ? "Sáng" : lstSection[s] == 2 ? "Chiều" : "Tối")</td>
                                        curSection = s;
                                    }
                                    <td>@t</td>
                                    <td>@(objTSVM != null ? objTSVM.SubjectName : "")</td>
                                    <td>@(objTSVM != null ? objTSVM.AssignSubjectName : "")</td>
                                    <td>@(objTSVM != null ? objTSVM.ClassName : "")</td>
                                    <td>@(objTSVM != null ? objTSVM.TeachingScheduleOrder.ToString() : "")</td>
                                    <td style="text-align: left; padding: 2px;">@(objTSVM != null ? objTSVM.LessonName : "")</td>
                                    <td style="text-align: left; padding: 2px;">
                                        @{
                                    if (objTSVM != null)
                                    {
                                        if (!string.IsNullOrEmpty(objTSVM.TeachingUtensil))
                                        {
                                            description += "[" + objTSVM.TeachingUtensil + "]";
                                        }

                                        if (objTSVM.Number > 0)
                                        {
                                            description += " Số lượng:[" + objTSVM.Number + "]";
                                        }

                                        if (objTSVM.InRoom.HasValue && objTSVM.InRoom.Value == true)
                                        {
                                            description += " có ở phòng thiết bị";
                                        }
                                    }
                                            @(description)                            
                                        }
                                    </td>
                                    <td>
                                        @(objTSVM != null ? (objTSVM.Status == 1 ? Res.Get("Offset_Teaching") : objTSVM.Status == 2 ? Res.Get("Cease_Teaching") : "") : "")
                                        <input type="hidden" id="teachingScheduleID" value="@(objTSVM != null && objTSVM.TeachingScheduleID > 0 ? objTSVM.TeachingScheduleID : 0)"/>
                                        <input type="hidden" id="hdfscheduleDate" value="@objDate.Date"/>
                                        <input type="hidden" id="hdfsectionID" value="@lstSection[s]"/>
                                        <input type="hidden" id="hdfsubjectOrder" value="@t"/>
                                    </td>
                                    

                                                                     
                                </tr>
                                    description = string.Empty;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div style="margin-left:20px"><strong>II. Nội dung phê duyệt</strong></div>
    <div class="GeneralTable fixwidth" style="margin-top: 5px;">
        <div class="t-grid-header">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                <colgroup>
                    <col style="width: 30px;">
                    <col style="width: 130px;">
                    <col style="width: 130px;">
                    <col style="width: 130px;">
                    <col style="width: 350px;">
                    
                    @*<col style="width: 20px;">*@
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Trạng thái</th>
                        <th>Người thực hiện</th>
                        <th>Thời gian</th>
                        <th>Ghi chú</th>
                        
                        @*<th class="EndCols">@Res.Get("Common_Column_Delete")</th>*@
                    </tr>
                </thead>
            </table>
        </div>
        <div class="t-grid-content fixtd">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                <colgroup>
                    <col style="width: 30px;">
                    <col style="width: 130px;">
                    <col style="width: 130px;">
                    <col style="width: 130px;">
                    <col style="width: 350px;">
                    
                </colgroup>
                <tbody>
                    @{
                        var stt = 0;
                        foreach(var item in lstApprovalContent){
                            stt++;
                            <tr>
                                <td>@stt</td>
                                <td style = "text-align:left"><label>@(item.Status == LookUpSchedulesConstants.TEACHING_SCHEDULE_APPROVAL ? "Phê duyệt" : "Hủy phê duyệt")</label></td>
                                <td style = "text-align:left"><label>@(item.EmployeeID == 0 ? "Quản trị trường" : item.EmployeeName)</label></td>
                                <td style = "text-align:left"><label>@(item.CreatedDate.ToString("HH:mm dd/MM/yyyy"))</label></td>
                                <td style = "text-align:left"><label>@item.Note</label></td>
                            </tr>
                        }   
                     }
                </tbody>
            </table>
        </div>
    </div>
    <br />     
</div>
<div class="vt-EditorPanel-Button" style="text-align:center; padding:5px;">
            <button class="t-button" type="button" onclick="smas.closeDialog('DetailOfSchedule');">Đóng</button>         
            <input type="button" id="btnExcel" class="t-button " onclick="ExportBookClick()" value="Xuất Excel" />
            @*@if (showBtnApproval && Session["CheckLevel"] != "1" && Session["CheckLevel"] != "2")*@
            @if (Session["CheckLevel"] != "1" && Session["CheckLevel"] != "2" && Session["CheckLevel"] != "4")
            {
                if ((bool)ViewData[LookUpSchedulesConstants.TEACHING_SCHEDULE_SHOW_APPROVAL] == true)
                {
                <input type="button" id="btnApproval" class="t-button " onclick="onclickApproval(this)" value="Phê duyệt" />
                }
                else
                { 
                <input type="button" id="btnApprovalCacel" class="t-button " onclick="onclickApprovalCacel(this)" value="Hủy phê duyệt" />
                }
            }
        </div>
<script type="text/javascript">

    function ExportBookClick() {
        
        var teacherID = $('.tagData .teacherID').val();
        var currentWeekID = $('.tagData .weekID').val();
        var schoolID = $('.tagData .schoolID').val();
        var academic = $('.tagData .academic').val();

        window.location = "/LookUpSchedulesArea/LookUpSchedules/ExportExcelBookTeachingSchedule?TeacherID="
                        + teacherID + "&CurrentWeekID=" + currentWeekID
                        + "&TypeExport=" + 1
                        + "&SchoolID=" + schoolID
                        + "&AcademicID=" + academic;
    }

    $(document).ready(function () {
        $('#InOutBoxChoice').find('a').attr('style', 'width:125px;');
        $(".t-overlay").css("width", "100%");
    });
    $(document).click(function (event) {
        if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
            $("#InOutBoxChoice").css("display", "none");
        }
    });

   
    function getDataFromFormSearch() {
        var WeekID = $('.tagData .weekID').val();
        var EmployeeID = $('.tagData .teacherID').val();
        var SchoolID = $('.tagData .schoolID').val();
        var Academic = $('.tagData .academic').val();
        return { WeekID: WeekID, TeacherID: EmployeeID, SchoolID: SchoolID, Academic: Academic };
    }
    function onclickApproval(cbo) {
        smas.openDialog("ApprovalTeachingDetail", '@Url.Action("GetApprovalTeachingScheduleDetail")', getDataFromFormSearch());
    }
    function onclickApprovalCacel(cbo) {
        //console.log(getDataFromFormSearch());
        smas.openDialog("ApprovalCancelTeachingDetail", '@Url.Action("GetApprovalCancelTeachingScheduleDetail")', getDataFromFormSearch());
    }
   
    function onclickViewDetailApproval() {
        smas.openDialog("WindowViewDetailApproval", '@Url.Action("GetViewDetailApproval")', getDataFromFormSearch());
        return false;
    }
</script>
