﻿@model IEnumerable<ForTeacherViewModel>
@using SMAS.Models.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.LookUpSchedulesArea.Models
@using SMAS.Web.Areas.LookUpSchedulesArea
@{
    GlobalInfo _gloabalInfo = new GlobalInfo();
    int Total = 0;
    if (ViewData["Total"] != null)
    {
        Total = (int)ViewData["Total"];
    }

    int page = 1;
    if (ViewData["page"] != null)
    {
        page = (int)ViewData["page"];
    } 
}

@{using (Ajax.BeginForm("Save",
                       "FillingLock",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnFailure = "EditFail",
                           OnComplete = "onEmployeeComplete"

                       },
                       new { id = "frmCreate" }
                       ))
  {
      @*@Html.ViettelHidden("Year",year)
      @Html.ViettelHidden("SchoolLevel",schoolLevel)
      @Html.ViettelHidden("District",district)
      @Html.ViettelHidden("SchoolName",schoolName)
      @Html.ViettelHidden("AdminName",adminName)
      @Html.ViettelHidden("Status",status)
      @Html.ViettelHidden("Semester",semester)*@
    
      <div class="vt-ResultPanel-Title" id="frmDataSubjectAndEductiaonGroup">
             <div class="text-right mg-t-5 mg-b-10">
                    @if (_gloabalInfo.IsSubSuperVisingDeptRole != true && _gloabalInfo.IsSuperVisingDeptRole != true && @Session["CheckLevel"] != "4")
                    {
                        //@Html.ViettelButton(Res.Get("Hủy phê duyệt"), "button", "", "", "btnCancelAppro")                      
                        //@Html.ViettelButton(Res.Get("Phê duyệt"), "submit", "", "", "btnAppro")
                 
                        <input type="button" id="btnApprovalCacel" class="btn btn-info btn-round " onclick="onclickApprovalCacel(this)" value="Hủy phê duyệt" />
                        <input type="button" id="btnApproval" class="btn btn-info btn-round " onclick="onclickApproval(this)" value="Phê duyệt" />
                    }
                    <input type="button" id="btnExportExel" class="btn btn-info btn-icon btn-round btn-icon-excel " onclick="exportCalendar()" value="Xuất Excel" />
            </div>
            <div class="Clear"></div>
        </div>
    
                    var index = 1;

                    Html.Telerik()
                    .Grid(Model)
                    .Name("GridClassAssigment")
                    .HtmlAttributes(new { @class = "look-up-schedules-list-to-techer" })
                    .Columns(c =>
                    {
                        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(50);

                        c.Bound(o => o.Week).Sortable(true).HtmlAttributes(new { style = "padding:1em", @class = "Week" }).Width(280);
                        c.Bound(o => o.teacherName).Sortable(true).HtmlAttributes(new { style = "padding:1em", @class = "teacherName" }).Width(270);
                        c.Bound(o => o.numberOfLession).Sortable(true).HtmlAttributes(new { style = "padding:1em;text-align:center", @class = "numberOfLession" }).Width(50);
                        c.Bound(o => o.Status).Sortable(true).HtmlAttributes(new { style = "padding:1em;color:orange", @class = "numberOfLession" }).Width(503);

                        c.Template(@<text>
        @{                   
            if(item.statusApproval == 3 || item.statusApproval == 4 || item.statusApproval == 5)
            {              
                <img src="../../../../Content/images/ChiTiet.png" style="cursor: pointer;height:25px;width:25px;" onclick="PopupDetail(this)" />    
                <input type="hidden" class="Weekend" value="@item.Week" />
                <input type="hidden" class="Teacher" value="@item.teacherID" /> 
            }                  
        }
    </text>).ClientTemplate("<#= FillDetail(teacherID, statusApproval, Week, teacherID) #>")
                        .HeaderTemplate("<p style='text-align:center'>Chi <br/> tiết</p>")
                        .HtmlAttributes(new { style = "text-align:center" }).Width(80);

                        if (_gloabalInfo.IsSubSuperVisingDeptRole != true && _gloabalInfo.IsSuperVisingDeptRole != true)
                        {
                            c.Template(@<text>
        @{
            if (item.isSuperVising != "1" && item.isSuperVising != "2")
            {
                if (item.statusApproval != 2)
                {
                    <input type='checkbox' class="ckID" onclick="changechecked(this)" value="@item.statusApproval" />
                    <input type="hidden" class="Weekend" value="@item.Week" />
                    <input type="hidden" class="Teacher" value="@item.teacherID" />               
                }
            }                                
        }
    </text>).HeaderTemplate("<p style=''>"+"</p><p style='text-align:center'><label class='custom-checkbox'><input type='checkbox' id='chekAll'/><span class='checkmark'></span></label></p>")
            .ClientTemplate("<#= FillCheckbox(teacherID,statusApproval,isSuperVising,Week,teacherID) #>")
                            .HtmlAttributes(new { style = "text-align:center" }).Width(100);
                        }

                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchExamPupilAjax", "LookUpSchedules"))
                    .Pageable(p => p.PageSize(20).Total(Total).PageTo(page))
                    .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                    .OnDataBound("Grid_onDataBound")
                                    .OnLoad("Grid_onDataBound"))

                    .DataKeys(keys => keys.Add(o => o.teacherID))
                    .EnableCustomBinding(true)
                    .Editable(editing => editing.Mode(GridEditMode.PopUp))
                    .Selectable()
                    .Render();
  }                           
}


<script type="text/javascript">

    $('#chekAll').click(function () {
        $(this).parents('#frmCreate').find(':checkbox').attr('checked', this.checked);
    });

    $('.ckID').change(function () {
        //Kiem tra check/uncheck checkbox all
        if ($("#frmCreate").find(".ckID:not(:checked)").length == 0) {
            $('#frmCreate #chekAll').attr('checked', true);
        }
        else {
            $('#frmCreate #chekAll').attr('checked', false);
        }
    });

    //function getDataFromFormSearch() {
    //    var WeekID = $('#FromWeekIDVM').val();
    //    var EmployeeID = $('#frmSearchTeachingSchedule #EmployeeID').val();
    //    return { WeekID: WeekID, TeacherID: 1039326 };
    //}

    function exportCalendar() {
        var schoolVM = $("#SchoolVM").val();
        var academicVM = $("#YearVM").val();
        var fromWeekIDVM = $("#FromWeekIDVM").val();
        var toWeekIDVM = $("#ToWeekIDVM").val();
        var teacherIDVM = $("#EmployeeID").val();
        var statusVM = $("#StatusVM").val();
        
        
        //return false;

        if (!schoolVM && ('@Session["CheckLevel"]' == "1" || '@Session["CheckLevel"]' == "2"))
        {
            smas.alertColor("Thầy cô chưa chọn trường", "red");
            return;
        }
        if (schoolVM == undefined || schoolVM == "")
            schoolVM = 0;
        if (academicVM == undefined || academicVM == "")
            academicVM = 0;
        if (teacherIDVM == "" || teacherIDVM == undefined)
            teacherIDVM = 0;
        if (statusVM == "" || status == undefined)
            status = 0;

        
        
        //alert(classid);
        window.location = '@Url.Action("ExportFileForTeacher", "LookUpSchedules")' +
            "?schoolVM=" + schoolVM +
            "&academicVM=" + academicVM +
            "&fromWeekIDVM=" + ((fromWeekIDVM) ? fromWeekIDVM : "") +
            "&toWeekIDVM=" + ((toWeekIDVM) ? toWeekIDVM : "") +
            "&teacherIDVM=" + teacherIDVM +
            "&statusVM=" + statusVM ;
    }

    function getDataFromFormSearch() {
        //var weekStr = "";
        var weekendArr = new Array();
        var teacherArr = new Array();
        var FromWeekIDVM = $("#FromWeekIDVM").val();
        var ToWeekIDVM = $("#ToWeekIDVM").val();
        var schoolID = $("#SchoolVM").val();
        var yearCB = $("#YearVM").val();
        if (schoolID == undefined)
            schoolID = 0;
        if (yearCB == undefined)
            yearCB = 0;
        // Lấy dữ liệu từ Grid note va' evaluationGroupID
        $('#frmCreate').find('.ckID:enabled:checked').each(function () {
            var weekend = $(this).parent().find(".Weekend").val();

            var teacher = $(this).parent().find(".Teacher").val();

            weekendArr.push(weekend);
            teacherArr.push(teacher);
            
        }); 

        
        return {
            WeekID: JSON.stringify(weekendArr), TeacherID: JSON.stringify(teacherArr),
            FromWeekIDVM: FromWeekIDVM, ToWeekIDVM: ToWeekIDVM,
            YearVM: yearCB, SchoolVM: schoolID
        };
    }

    function CheckCkAppro() {
        var count = 0;
        $('#frmCreate').find('.ckID:enabled:checked').each(function () {
            count++;
        });
        if (count == 0) {
            smas.alertColor('Thầy cô chưa chọn Lịch báo giảng để phê duyệt', "red");
            return false;
        }
        else
            return true;
    }

    function CheckCkNotOrCancelAppro()
    {
        var count = 0;
        $('#frmCreate').find('.ckID:enabled:checked').each(function () {
            if ($(this).val() == 3)
            {
                count++;
            }
        });
        if (count != 0) {
            smas.alertColor('Thầy/cô chỉ được chọn Lịch báo giảng có trạng thái Chưa phê duyệt và Hủy phê duyệt', "red");
            return false;
        }
        else
            return true
    }

    function CheckCkHaveAppro() {
        var count = 0;
        $('#frmCreate').find('.ckID:enabled:checked').each(function () {
            if (($(this).val() == 4) || ($(this).val() == 5)) {
                count++;
            }
        });
        if (count != 0) {
            smas.alertColor('Thầy/cô chỉ được chọn Lịch báo giảng có trạng thái Đã phê duyệt', "red");
            return false;
        }
        else
            return true
    }

    function CheckCkReject() {
        var count = 0;
        $('#frmCreate').find('.ckID:enabled:checked').each(function () {
            count++;
        });
        if (count == 0) {
            smas.alertColor('Thầy cô chưa chọn Lịch báo giảng để Hủy phê duyệt', "red");
            return false;
        }
        else
            return true;
    }

 

    function onclickApproval(cbo) {
        if (CheckCkAppro() && CheckCkNotOrCancelAppro()) {
            smas.openDialog("ApprovalTeachingSchedule", '@Url.Action("GetApprovalTeachingSchedule")', getDataFromFormSearch());
        }
        //alert(getDataFromFormSearch());
    }
    function onclickApprovalCacel(cbo) {
        if (CheckCkReject() && CheckCkHaveAppro()) {
            smas.openDialog("ApprovalCancelTeachingSchedule", '@Url.Action("GetApprovalCancelTeachingSchedule")', getDataFromFormSearch());
        }
    }

    function PopupDetail(es) {
        smas.openDialog("DetailOfSchedule", '@Url.Action("DetailOfSchedule")', getDataForDetail(es));
    }

    function getDataForDetail(es) {

        var WeekendID = $(es).parent().find(".Weekend").val();
        var TeacherID = $(es).parent().find(".Teacher").val();

        var schoolID = $("#SchoolVM").val();
        var yearCB = $("#YearVM").val();
        if (schoolID == undefined)
            schoolID = 0;
        if (yearCB == undefined)
            yearCB = 0;
        // Lấy dữ liệu từ Grid note va' evaluationGroupID
       
        return {
            WeekID: WeekendID, teacherID: TeacherID,
            YearVM: yearCB, SchoolVM: schoolID
        };
    }

    function changechecked(e) {
        if ($(e).is(':checked')) {
            $(e).attr('checked', true)          
            // $(e).parent().parent().find(".chkhiddenC1HK1").attr("value", "1");
        }
        else {
            $(e).attr('checked', false)           
            // $(e).parent().parent().find(".chkhiddenC1HK1").attr("value", "0");
        }

        if ($("#frmCreate").find(".ckID:not(:checked)").length == 0) {
            $('#frmCreate #chekAll').attr('checked', true);
        }
        else {
            $('#frmCreate #chekAll').attr('checked', false);
        }

    }
    var lstInd = 0;
    $(document).ready(function () {       
        //onChangePage();
        }
    );

    

    function Grid_onDataBound(e) {
        //onChangePage();  
        $('#frmCreate #chekAll').attr('checked', false);
    }

    function Grid_onDataBinding(e) {
        $(this).parents('#frmCreate').find(':checkbox').attr('checked', false);
        $('#chekAll').click(function () {
            $(this).parents('#frmCreate').find(':checkbox').attr('checked', this.checked);
        });
        if (!firstLoadGrid) {
            var grid = $('#GridClassAssigment').data('tGrid');
            lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
            e.data = jsonUtils.serializeObject("frmSearch");
                        
        }
        else {
            e.preventDefault();
            firstLoadGrid = false;
        }
    }

    function Grid_onCommand(e) {
        
    }

    function onEmployeeComplete() {
        smas.alertColor('@Html.Raw(Res.Get("Common_Label_Save"))', "green");
        $("#btnSearchID").click();

    }

    function EditFail() {
        smas.alertColor('@Html.Raw(Res.Get("Common_Error_InternalError"))', "red");
    }
    
    function setitle(item) {
        var strtitle = "";
        var id = "";
        $(item).parent().parent().find('#strTitleID').html('');
        $(item).parent().find('input[type="checkbox"]').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).attr('id');
                strtitle += $(this).parent().find('span[class="' + id + '"]').text() + ",";
                
            }
        });
        strtitle = strtitle.substring(0, strtitle.length - 1);
        $(item).parent().parent().find('#strTitleID').html(strtitle);

        $(item).parent().parent().parent().parent().find(":input[class='appliLevelID']").attr("value",strtitle);
    }

</script>

<script>
    function FillDetail(teacherID, statusApproval, Week, teacherID) {
        var text = "";
        if(statusApproval == 3 || statusApproval == 4 || statusApproval == 5){              
            text = '<img src="../../../../Content/images/ChiTiet.png" style="cursor: pointer;height:25px;width:25px;" onclick="PopupDetail(this)" />';
            text = text + '<input type="hidden" class="Weekend" value="' + Week + '" />';
            text = text + '<input type="hidden" class="Teacher" value="' + teacherID + '" />';
        }
        return text;
    }

    function FillCheckbox(teacherID, statusApproval, isSuperVising, Week, teacherID)
    {
        var text = "";
        
        if (isSuperVising != "1" && isSuperVising != "2")
        {
            if (statusApproval != 2)
            {
                text =  '<input type="checkbox" class="ckID" onclick="changechecked(this)" value="' + statusApproval +'" />';
                text = text + '<input type="hidden" class="Weekend" value="' + Week + '" />';
                text = text + '<input type="hidden" class="Teacher" value="' + teacherID + '" />';
            }
        }       
        return text;
    }

</script>