﻿@model List<CalendarModel>
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.LookUpSchedulesArea;
@using SMAS.Web.Areas.LookUpSchedulesArea.Models;
@using SMAS.Web.Areas.LookUpSchedulesArea.Controllers;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Models.Models;
@using SMAS.Business.Business;
@using Com.Viettel.Framework.HtmlHelpers;
@using SMAS.Business.BusinessObject;

<style type="text/css">
    .subjectname{font-weight:700;font-size:13px;padding-bottom:0}.tkb_dr_show{margin-bottom:5px}.tkb_dr_show p{text-align:center}
</style>

@{    
    List<ClassProfileTempBO> lstClass = (List<ClassProfileTempBO>)ViewData["lstClassSearch"];
    List<CalendarBusiness.ClassSection> lstSection = (List<CalendarBusiness.ClassSection>)ViewData["lstSectionSearch"];
    CalendarModel tempModel = new CalendarModel();
    int? Semester = (int?)ViewData["Semester"];
    var countSection = (lstSection != null) ? lstSection.Count : 0;
    var countClass = (lstClass != null) ? lstClass.Count : 0;
    var classWidth = countClass > 0 ? 800 / countClass : 800;
    int currentPage = (int)ViewData["CurrentPage"];
    int totalPage = (int)ViewData["TotalPage"];
    int curDay = -1;
    int curSection = -1;
    // AnhVD 20140311 - Quyền sửa/xóa
    GlobalInfo _globalInfo = new GlobalInfo();
    bool IsEditRole = false;
    // Chỉ có quyền admin trường hoặc BGH mới sửa thông tin Thời khóa biểu
    if (_globalInfo.IsAdminSchoolRole || _globalInfo.IsRolePrincipal || _globalInfo.IsEmployeeManager)
    {
        IsEditRole = true;
    }
}
@Html.ViettelHidden("hidSemester", Semester)
@if (Model == null)
{
    
    <div class="TitleTab1SectionBtm Title2Style">
        <p style="padding-left: 10px;">@Res.Get("Common_Label_ResultSearching")</p>
    </div>
    <div class="GeneralInCtnSection">
        <div class="ContentListSection" style="display: block;">
            <p class="GroupPerson" style="text-align: center;"><span>@Res.Get("Common_Validate_NoRecord")</span></p>
        </div>
    </div>
}
else
{
    
    <input type="hidden" id="IsChangeGrid" value="0"/>
    <div class="CalendarResult">
        <div class="GeneralTable" id="frmGridCalendarID">
            <!-- Start of Calendar -->
            <div class="t-grid-header" style="border-bottom-width:0px;">
                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>@Res.Get("Common_Label_DayOfWeek")</th>
                            <th>@Res.Get("Common_Label_Section")</th>
                            <th>@Res.Get("Common_Label_TimeUnit")</th>
                            @for (int i = 0; i < countClass; i++)
                            {
                                if (i == countClass - 1)
                                {
                                <th class="EndCols" style="width:@(classWidth + "px;")">@lstClass[i].DisplayName</th>
                                }
                                else
                                {
                                <th style="width:@(classWidth + "px;")">@lstClass[i].DisplayName</th>
                                }
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="t-grid-content" style="overflow: auto; height: 600px;">
                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                    </colgroup>
                    <tbody>
                        @for (int i = LookUpSchedulesConstants.DAY_IN_WEEK_START; i <= LookUpSchedulesConstants.DAY_IN_WEEK_END; i++)
                        {
                            curSection = -1;
                            curDay = -1;
                            if (countSection > 0)
                            {
                                for (int s = 0; s < countSection; s++)
                                {
                                    for (int t = 1; t <= LookUpSchedulesConstants.NUMBER_OF_TIME_UNIT_IN_SECTION; t++)
                                    {
                            <tr>
                                @if (curDay != i)
                                {
                                    if(i==8)
                                    {
                                        <td rowspan="@(countSection * LookUpSchedulesConstants.NUMBER_OF_TIME_UNIT_IN_SECTION)">Chủ nhật</td>
                                        curDay = i;
                                    }
                                    else{
                                        <td rowspan="@(countSection * LookUpSchedulesConstants.NUMBER_OF_TIME_UNIT_IN_SECTION)">Thứ @i</td>
                                        curDay = i;
                                    }
                                }
                                @if (curSection != s)
                                {
                                    <td rowspan="@LookUpSchedulesConstants.NUMBER_OF_TIME_UNIT_IN_SECTION">@lstSection[s].SectionName</td>
                                    curSection = s;
                                }
                                <!-- Thứ i buoi sang tiet 1 -->
                                <td>@t</td>
                                @for (int k = 0; k < countClass; k++)
                                {
                                    string nameCtrl = string.Format("{0}_{1}_{2}_{3}", i, lstSection[s].Section, t, lstClass[k].ClassProfileID);
                                    var lstSubject = (List<SubjectCat>)ViewData["Subject" + lstClass[k].ClassProfileID];
                                    SubjectCat choi = new SubjectCat();
                                    choi.SubjectCatID = 0;
                                    choi.SubjectName = "[Lựa chọn]";
                                    if (lstSubject.Where(a => a.SubjectCatID == 0).FirstOrDefault() == null)
                                    {
                                        lstSubject.Insert(0, choi);
                                    }
                                    bool isSection = tempModel.CheckSeperate(lstClass[k].Section, lstSection[s].Section);
                                    var calendarItem = Model.Where(a => a.ClassID == lstClass[k].ClassProfileID && a.Section.HasValue && a.Section.Value == lstSection[s].Section && a.DayOfWeek == i && a.NumberOfPeriod.HasValue && a.NumberOfPeriod.Value == t).FirstOrDefault();
                                        
                                    <td 
                                            style="width:@{@classWidth}px;background-color:white;"
                                            class="@Html.Raw((k == countClass - 1) ? "EndCols" : string.Empty)" nameCtrl="@{@nameCtrl}" onmouseover="checkSubject(this);" onmouseout="checkSubjectOut(this);"
                                        >
                                        @if (calendarItem != null)
                                        {
                                            var countTeacher = calendarItem.TeacherNames.Count;
                                            var namtesTooltip = string.Empty;
                                            for (int q = 0; q < countTeacher; q++)
                                            {
                                                namtesTooltip += string.IsNullOrEmpty(calendarItem.TeacherNames[q]) ? string.Empty : calendarItem.TeacherNames[q] + Environment.NewLine;
                                            }
                                            <div class="tkb_dr_show" id="txt@{@nameCtrl}" name="divText" hasDrop="@Html.Raw((isSection) ? "1" : "0")">
                                                <p class="tkb_dr_show subjectname" style="width: @{@classWidth}px; @Html.Raw((isSection) ? ((calendarItem == null) ? "" : "color: " + calendarItem.SubjectColor) : "color: #EAEAEA;")">@calendarItem.SubjectName</p>
                                                <div class="Clear"></div>
                                                <div class="div_subject_combobox hello" id="dr@{@nameCtrl}">
                                                    <div class="SubjectSelect">
                                                        @Html.ViettelDropDownList("dropSubject" + nameCtrl, new SelectList(lstSubject, "SubjectCatID", "SubjectName"),
                                                            new
                                                            {
                                                                @class = "SubjectSelect",
                                                                @style = "width: " + (classWidth - 10).ToString() + "px; text-align:left;",
                                                                @customcss = "1",
                                                                @onchange = "ChangeDrop(this)",
                                                                @nameCtrl = nameCtrl,
                                                                @ClassID = lstClass[k].ClassProfileID,
                                                                @DayOfWeek = i,
                                                                @NumberOfPeriod = t,
                                                                @Section = lstSection[s].Section,
                                                                @CalendarID = (calendarItem != null) ? calendarItem.CalendarID : 0,
                                                                @SubjectID = (calendarItem != null) ? calendarItem.SubjectID : 0
                                                            })
                                                    </div>
                                                </div>
                                                <div id="divtxt_@{@nameCtrl}" style="width: @{@classWidth}px;" title="@namtesTooltip" class="listTeacher">
                                                    <p>
                                                        @for (int q = 0; q < countTeacher; q++)
                                                        {
                                                            if (q <= 2)
                                                            {
                                                                if (q == 2)
                                                                {
                                                            <div style="width: 100%; text-align: center;">@Html.Raw("...")</div> 
                                                                
                                                                    break;
                                                                }
                                                                if (!string.IsNullOrEmpty(calendarItem.TeacherNames[q]))
                                                                {
                                                            <p class="txt_teacher_names">@Html.Raw(calendarItem.TeacherNames[q])</p>                                                                                            
                                                                }

                                                            }
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        else if (isSection)
                                        {
                                            <div class="Clear"></div>
                                            <div class="div_subject_combobox" id="dr@{@nameCtrl}">
                                                <div class="SubjectSelect">
                                                    @Html.ViettelDropDownList("dropSubject" + nameCtrl, new SelectList(lstSubject, "SubjectCatID", "SubjectName"),
                                                            new
                                                            {
                                                                @class = "SubjectSelect",
                                                                @style = "width: " + (classWidth - 10).ToString() + "px; text-align:left;",
                                                                @customcss = "1",
                                                                @onchange = "ChangeDrop(this)",
                                                                @nameCtrl = nameCtrl,
                                                                @ClassID = lstClass[k].ClassProfileID,
                                                                @DayOfWeek = i,
                                                                @NumberOfPeriod = t,
                                                                @Section = lstSection[s].Section,
                                                                @CalendarID = (calendarItem != null) ? calendarItem.CalendarID : 0,
                                                                @SubjectID = (calendarItem != null) ? calendarItem.SubjectID : 0
                                                            })
                                                </div>
                                            </div>
                                            <div class="Clear"></div>
                                            <div class="listTeacher"></div>
                                        }
                                    </td>
                                }
                                <!-- End Of Tiet -->
                            </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- End of calendar -->
        </div>
        <div class="BtnCenterSection">
            @{
                        string disabled = "";
                        string btn_class = "";

                        string disabledExp = "";
                        string btn_classExpt = "";
                        if (!new GlobalInfo().IsCurrentYear || countSection == 0)
                        {
                            disabled = "disabled";
                            btn_class = "t-state-disabled";
                        }

                        if (countSection == 0)
                        {
                            disabledExp = "disabled=''";
                            btn_classExpt = "t-state-disabled";
                        }
            }
            <!-- bottom paging -->
            <div style="float: right; width: 30%; text-align: right;">
                @if (IsEditRole)
                {
                @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "id", "btnSave" }, { disabled, "" } }, "button", "SaveCalendar()", btn_class)
                <input type="submit" class="t-button BtnGeneralMStyle @btn_classExpt" onclick="exportCalendar();  return false;" value="@Res.Get("Common_Button_ExportExcel")" @disabledExp />
                }
                <div class="TopSection Paging" style="display: none;">

                    <a href="#" class="BackLink Sprite3 BtnPreview1" name="PagePrevious" onclick="PreviousCalendarPage();"><span class="HideText">Preview</span></a>
                    <label class="LabelStyle Label1Style" name="lblCurrPage" style="padding-top: 4px;"></label>
                    <a href="#" class="BackLink Sprite3 BtnNext1" name="pageNext" onclick="NextCalendarPage();"><span class="HideText">Next</span></a>
                    <div class="Clear"></div>
                </div>
            </div>

            <!-- end of bottom paging -->
        </div>
    </div>
    
    @(Html.Telerik().Window()
                .Name("messageDialog")
                .Title(Res.Get("Gửi lịch giảng"))
                .Content(@<text><div id="ContentMessage"></div>
    <div id="ContentBeta"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .Height(250)
)
}

<script type="text/javascript">
    //Parameter
    var drChange = {};
    var changed = false;
    //Redy function

    function ImportExcel(){
        $("#lblError").html("");
        var classID = $('#frmSearch #ClassID').val();
        controlUtils.loadComboBox(
                    $('#strAppliedDate'),
                    '@Url.Action("AjaxLoadAppliedDate")',
                    { ClassID: classID }, '');
        smas.openDialog("importDialog", "", {});
    }


    $(document).ready(function () {
        //Document Ready Function        
        $('.MySelectBoxClass').each(function () {
            if ($(this).attr('customcss') == '1') $(this).customStyle();
        });
        //An tat ca cac combox chon mon (an sau khi customcss)
        $('.div_subject_combobox').removeClass('tkb_dr_show').addClass('tkb_dr_hide');
        //Apply button show/hide giao vien
        $("#btTeacher").val((showTeacher) ? stringUtils.HtmlDecode("@Res.Get("Calendar_Hide_Teacher")") : stringUtils.HtmlDecode("@Res.Get("Calendar_Show_Teacher")"));
        setTimeout(function () {
            if (showTeacher) {
                $('.txt_teacher_names').removeClass('tkb_dr_hide').addClass('tkb_dr_show');
            }
            else {
                $(".txt_teacher_names").removeClass('tkb_dr_show').addClass('tkb_dr_hide');
            }
        }, 10);
        //View button
        $("#btTeacher").css("display", "");
        //Lay tong so trang
        BindPaging();
    });
    
    function BindPaging() 
    {
        if(@totalPage > 1)
        {
            $(".Paging").css("display", "");
            $('[name="lblCurrPage"]').html("Trang " + @currentPage.ToString() + "/" + @totalPage.ToString());
            //Kiem tra trang dau/cuoi
            $('[name="PagePrevious"]').removeAttr("disabled");
            $('[name="pageNext"]').removeAttr("disabled");
            //neu trang cuoi
            if('@totalPage'=='@currentPage')
            {
                $('[name="pageNext"]').attr("disabled", "disabled");
        }
        else if('@currentPage' == 1)
        {
            $('[name="PagePrevious"]').attr("disabled", "disabled");
        }
    }
    else
    {
            $(".Paging").css("display", "none");
    }
    }

    function SearchGrid(){
        $("#searchBtn").click();
    }

    //Trang truoc
    function PreviousCalendarPage()
    {
        if('@currentPage' == '1') return;
        var curPage = document.getElementById("CurrentPage");
        if(curPage)
        {
            if(!curPage.value) curPage.value = 1;
            curPage.value = parseInt(curPage.value) - 1;
            needResetPaging = false;
            //Submit query
            if($("#IsChangeGrid").val() == 1){
                smas.confirm("Thầy/cô có muốn lưu lại thay đổi?", SaveCalendar, SearchGrid);
            } else {
                $("#searchBtn").click();
            }
        }
    }
    //Trang sau
    function NextCalendarPage()
    {
        if('@totalPage' == '@currentPage') return;
        var curPage = document.getElementById("CurrentPage");
    
        if(curPage)
        {
            if(!curPage.value)curPage.value = 1;
            curPage.value = parseInt(curPage.value) + 1;
            needResetPaging = false;
            //Submit query
            if($("#IsChangeGrid").val() == 1){
                smas.confirm("Thầy/cô có muốn lưu lại thay đổi?", SaveCalendar, SearchGrid);
            } else {
                $("#searchBtn").click();
            }
        }
    }
    //Export file to client
    function exportCalendar() {
        var semester = document.getElementById("hidSemester").value;
        var level = $("#Level").val();
        var classID = $("#ClassID").val();
        var section = $("#Section").val();
        var teacherName = $("#TeacherName").val();
        
        //alert(classid);
        window.location = '@Url.Action("ExportFile", "SchoolCalendar")' + "?semester=" + ((semester) ? semester : 0) + "&level=" + ((level) ? level : 0) + "&classID=" + ((classID) ? classID : 0) + "&section=" + ((section) ? section : 0) + "&teacherName=" + ((teacherName) ? teacherName : "");
    }
    //Show or hide Text
    function ShowTeacher(bt) {
        var lbl = $(bt).html();
        if (lbl == stringUtils.HtmlDecode("@Res.Get("Calendar_Hide_Teacher")")) {
            $(bt).html(stringUtils.HtmlDecode("@Res.Get("Calendar_Show_Teacher")"));
            showTeacher = false;
            $(".txt_teacher_names").removeClass('tkb_dr_show').addClass('tkb_dr_hide');       
        }
        if (lbl == stringUtils.HtmlDecode("@Res.Get("Calendar_Show_Teacher")")) {
            $(bt).html(stringUtils.HtmlDecode("@Res.Get("Calendar_Hide_Teacher")"));
            showTeacher = true;
            $(".txt_teacher_names").removeClass('tkb_dr_hide').addClass('tkb_dr_show');
        }
    }
    //Save all calendar changed
    function SaveCalendar() {
        if (!changed) {
            smas.alert({ Type: "error", Message: '@Res.Get("Calendar_Not_Changed_Error")' });
            return;
        }
        var model = [];

        var index = 0;
        for (var i in drChange) {

            model.push(drChange[i]);
        }


        var appliedDate = $('#AppliedDate').val();
        $.ajax({
            url: '@Url.Action("SaveData", "SchoolCalendar")',
            type: 'post',
            datatype: 'json',
            data: {model:JSON.stringify(model),AppliedDate:appliedDate},
            //data:  {model:JSON.stringify(model)},            
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                smas.hideProcessingDialog();
                smas.alert(data);
                var countOption = $('#AppliedDate').find('option').length;
                if (countOption == 0) {
                    var option = document.createElement("option");
                    var dateNow = dateUtils.getCurrentDate();
                    option.text = dateNow;
                    option.value = dateNow;
                    var select = document.getElementById("AppliedDate");
                    select.appendChild(option);
                }
                //Refresh Data
                $('form#frmSearch').find('#searchBtn').click();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    //Save change
    //Change value of dropdownlist
    function ChangeDrop(dr) {


        var nameCtrl = $(dr).attr('nameCtrl');
        var classID = $(dr).attr('ClassID');
        var dayOfWeek = $(dr).attr('DayOfWeek');
        var numberOfPeriod = $(dr).attr('NumberOfPeriod');
        var section = $(dr).attr('Section');
        var calendarID = $(dr).attr('CalendarID');
        var semester = $("#Semester").val();;
        


        //call ajax get thong tin mon hoc
        if (parseInt($(dr).val())>-3 && parseInt($(dr).val())!=0)
        {
            $("#IsChangeGrid").val(1);
            $.ajax({
                url: '@Url.Action("GetInfoSubject", "SchoolCalendar")',
                type: 'post',
                datatype: 'json',
                data: {SubjectID:$(dr).val(),ClassID:classID,Semester:semester},
           
                success: function (data) {

                    //hien thong tin len
                    var td = $(dr).closest("td");
                    if ($("[name=divText]",td).length<=0)
                    {
                        $(".SubjectSelect option[value="+$(dr).val()+"]",td).attr("selected","");
                        var strTd = $(td).html();
                        var detailTd = '<div class="tkb_dr_show" hasdrop="1" name="divText"><p class="tkb_dr_hide subjectname" style="width: 100%;"></p><div id="" title=" Huế " style="width: 133px;"></div><div class="Clear"></div>';
                        $(td).html(detailTd+strTd);
                    }

                    var nameCtrl = $(td).attr('nameCtrl');
                    var drName = "#dr" + nameCtrl;
                    var drTxt = "#txt" + nameCtrl;

                    var bc = data.SubjectColor;
                    var sn = data.SubjectName;
                    var nt = data.NameTeacher;
                    var tt = data.TeacherTooltip;
                    var detailSubject = $(td).find(".listTeacher");
                    $(detailSubject).css("text-align:center;");
                    //$(detailSubject).css("margin-bottom:5px;margin-top:5px;");
                    $(detailSubject).html(nt);
                    detailSubject.attr("title",tt);

                    //$(td).css("background-color",bc);

                    var lblSName =  $(drTxt+" .subjectname",td);
                    if ($(lblSName).hasClass('tkb_dr_show'))
                    {
                        $(lblSName).removeClass('tkb_dr_show').addClass('tkb_dr_hide');
                    }
                    $(td).find(".subjectname").css("background-color",bc);
                    $(td).find(".subjectname").html(sn);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        var obj = {CalendarID: calendarID, Semester: semester,  ClassID: classID, DayOfWeek: dayOfWeek, NumberOfPeriod: numberOfPeriod, Section: section, SubjectID: $(dr).val() , Sbj: $(dr).val()};
        drChange["dr" + nameCtrl] = obj;        
        changed = true;
    }
    //Mouse over on the checkbox
    function checkSubject(td) {        
        var nameCtrl = $(td).attr('nameCtrl');
        var drName = "#dr" + nameCtrl;
        var drTxt = "#txt" + nameCtrl;
        var subjectID = $("#dropSubject" + nameCtrl).attr("SubjectID");
        if ($(drName).hasClass('tkb_dr_hide')) {
            $(drName).removeClass('tkb_dr_hide').addClass('tkb_dr_show');
        }
        var lblSName =  $(drTxt+" .subjectname",td);
        if ($(lblSName).hasClass('tkb_dr_show'))
        {
            $(lblSName).removeClass('tkb_dr_show').addClass('tkb_dr_hide');
        }
        if (!drChange["dr" + nameCtrl])
        {
            $("#dropSubject" + nameCtrl).val('');
            if (subjectID) {
                $("#dropSubject" + nameCtrl).val(subjectID);
            
            }
        }
    }
    //Mouse out from the td tag
    function checkSubjectOut(td) {
        var nameCtrl = $(td).attr('nameCtrl');
        var drName = "#dr" + nameCtrl;
        var drTxt = "#txt" + nameCtrl;

        if (!drChange["dr" + nameCtrl]) {
            if ($(drName).hasClass('tkb_dr_show')) {
                $(drName).removeClass('tkb_dr_show').addClass('tkb_dr_hide');
            }
            if ($(drTxt).attr('hasDrop') == "1") {
                if ($(drTxt).hasClass('tkb_dr_hide')) {
                    $(drTxt).removeClass('tkb_dr_hide').addClass('tkb_dr_show');
                }
            }
            var lblSName =  $(drTxt+" .subjectname",td);
            if ($(lblSName).hasClass('tkb_dr_hide'))
            {
                $(lblSName).removeClass('tkb_dr_hide').addClass('tkb_dr_show');
            }
        }
    }

</script>
