﻿@model SearchModel
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.LookUpSchedulesArea;
@using SMAS.Web.Areas.LookUpSchedulesArea.Models;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using Com.Viettel.Framework.HtmlHelpers;

@{
    DateTime dtNow = DateTime.Now.Date;   
 }

@using (Ajax.BeginForm("Search", "LookUpSchedules",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "mainCalendar",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                           },
                           new { id = "frmSearch" }))
{
    @Html.ViettelHidden("requestClassID", ViewData["requestClassID"]);
    @Html.ViettelHiddenFor(model => model.CurrentPage);
    <div class="CalendarSearch">
        <div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3 look-up-schedules-page">
            
            <div class="vt-SearchPanel-Title"><span class="icon icon-search-file"></span> Thông tin tìm kiếm<span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span> </div>
            <div class="vt-SearchPanel-Content panel-content-1">

                <!--Đăng nhập là sở hoặc phòng-->
                @if (Session["CheckLevel"] == "1" || Session["CheckLevel"] == "2")  
                {
                    @Html.ViettelCombobox(Res.Get("Năm học"), "YearVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.ACADEMIC], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "LoadSchool();" }, { "style", "width:100%" } }, false, false)

                    if (Session["CheckLevel"] == "1")
                    {
                        @Html.ViettelCombobox(Res.Get("Quận/ Huyện"), "DistrictVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.DISTRICT], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadSchool();" }, { "style", "width:100%" } }, false, false)                  
                    }
                    else if (Session["CheckLevel"] == "2")
                    {
                        @Html.ViettelCombobox(Res.Get("Quận/ Huyện"), "DistrictVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.DISTRICT], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() {{ "disabled", "disabled" }, { "style", "width:100%" } }, true, false)                  
                    }

                    @Html.ViettelCombobox(Res.Get("Trường"), "SchoolVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.SCHOOL], GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>() {{"onchange","LoadFromToWeek()"}, { "style", "width:100%" } }, false, true)

                }

                @Html.ViettelCombobox(Res.Get("Loại báo cáo"), "TypeReportVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.TYPEOFREPORT], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "SelectTypeMenu(this);" }, { "style", "width:100%" } }, false, false)                  
                @Html.ViettelCombobox(Res.Get("Từ tuần"), "FromWeekIDVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.FROMLISTWEEKNAME], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:100%"},{ "class","type1" } }, false, false)
                @Html.ViettelCombobox(Res.Get("Đến tuần"), "ToWeekIDVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.TOLISTWEEKNAME], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:100%"},{ "class","type1" } }, false, false)
                @Html.ViettelCombobox(Res.Get("Tuần"), "WeekVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.WEEKFORSCHOOL], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:100%"},{ "class","type2" }}, false, false)
                @Html.ViettelCombobox(Res.Get("Thứ"), "DayOfWeekVM", (IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.DAYOFWEEK], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "style", "width:100%"},{ "class","type2" } }, false, false)
                

                @*@Html.ViettelCombobox(Res.Get("Giáo viên"), "TypeReportVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.TYPEOFREPORT], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:100%" },{ "class","type1" } }, false, false)                  *@

                <div class="vt-control" id="divTeacherCb">
                    @Html.Partial("_TeacherCombobox")
                    <label class="textTeacher">[Nhập họ tên hoặc Mã GV để tìm kiếm]</label>
                </div>

                @Html.ViettelCombobox(Res.Get("Trạng thái"), "StatusVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.STATUSSCHEDULES], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "style", "width:100%" },{ "class","type1" } }, false, false)                  
                @Html.ViettelCombobox(Res.Get("Khối"), "EducationLevelVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.EDUCATIONLEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadClass();" }, { "style", "width:100%" },{ "class","type2" } }, false, false)                  
                @Html.ViettelCombobox(Res.Get("Lớp"), "ClassVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.CLASS], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadSection();" }, { "style", "width:100%" },{ "class","type2" } }, false, false)                  
                @Html.ViettelCombobox(Res.Get("Buổi"), "SectionVM",(IEnumerable<SelectListItem>)ViewData[LookUpSchedulesConstants.SECTION], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() {  { "style", "width:100%" },{ "class","type2" } }, false, false)                  
                
                @*@Html.ViettelHidden("EmployeeCode", "0")*@    

                @*@Html.ViettelCombobox(Res.Get("Trạng thái"), "StatusVM",(IEnumerable<SelectListItem>)ViewData["Evaluation"], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:100%" } }, false, false)                  *@

                
            </div>
            <div class="vt-SearchPanel-Button">
                <input type="submit" class="btn btn-info btn-round btn-icon btn-icon-search " id="searchBtn" value="@Res.Get("Common_Button_Search")" onclick="ResetPaging(); return true;" />
                @*<input type="submit" class="t-button " id="searchBtn" value="@Res.Get("Common_Button_Search")" onclick="ResetPaging(); return true;" />
                    <a href="javascript:void(0)" onclick="ShowTeacher(this);" id="btTeacher" style="display: none;">@Res.Get("Calendar_Hide_Teacher")</a>*@
                @*<input type="submit"  class="t-button " onclick="ShowTeacher(this); return false;" id="btTeacher" style="display: none;" value="@Res.Get("Calendar_Hide_Teacher")"/>*@
            </div>
        </div>
        <div class="Clear">
        </div>

        <div class="Clear"></div>
    </div>
}
<script>
    var firstLoadGrid = true;
    var strNameOld = "   ";

    var needResetPaging = true;
    //Reset Paging
    function ResetPaging() {
        var curPage = document.getElementById("CurrentPage");
        if (curPage && needResetPaging) curPage.value = 1;
        needResetPaging = true;
        $("#IsChangeGrid").val(0);
    }

    $(document).ready(function () {
        $(".type2").parent().parent().css("display", "none");
    })

    $("#searchBtn").click(function () {
        var SchoolVM = $("#SchoolVM").val();
        if (!SchoolVM && ('@Session["CheckLevel"]' == "1" || '@Session["CheckLevel"]' == "2")) {
            smas.alertColor("Thầy cô chưa chọn trường", "red");
            return false;
        }
        else
            return true;
    })

    function SelectTypeMenu(d) {
        var typeMenu = $(d).val();
        if (typeMenu == 1) {
            $(".type1").parent().parent().css("display", "");
            $(".type2").parent().parent().css("display", "none");
            $(".textTeacher").css("display", "");
            $("#mainCalendar").html("");
        }
        else if (typeMenu == 2) {
            $(".type1").parent().parent().css("display", "none");
            $(".type2").parent().parent().css("display", "");
            $(".textTeacher").css("display", "none");
            $("#mainCalendar").html("");
        }

    }

    function LoadTeacher()
    {
        var schoolID = $("#SchoolVM").val();
        if (schoolID == "")
            schoolID = 0;
        
            $.ajax({
                url: '@Url.Action("LoadTeacher", "LookUpSchedules")',
                type: 'post',
                data: { schoolID: schoolID },
                success: function (data) {
                    $('#divTeacherCb').html(data);
               }
            });
    }

    function LoadSchool() {
        var yearCB = $("#YearVM").val();
        var districtCB = $("#DistrictVM").val();

        $.ajax({
            url: '@Url.Action("LoadSchool", "LookUpSchedules")',
            type: 'post',
            data: { yearCB: yearCB, districtCB: districtCB },
            success: function (data) {
                $("#SchoolVM").find('option').remove().end().append("<option value>@Res.Get("[Lựa chọn]")</option>");
                $.each(data, function (index, value) {
                    $('#SchoolVM').append($("<option></option>").attr("value", value.Value).text(value.Text));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
          
        }

        function LoadEducationLevel()
        {
            var schoolID = $("#SchoolVM").val();
            $("#EducationLevelVM").html("<option value>@Res.Get("Common_Combo_All")</option>");
            if (schoolID == "" || schoolID == undefined)
                schoolID = 0;

            
                $.ajax({
                    url: '@Url.Action("LoadEducationLevel", "LookUpSchedules")',
                    type: 'post',
                    data: { schoolID: schoolID },
                    success: function (data) {
                        $("#EducationLevelVM").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                        $.each(data, function (index, value) {
                            $('#EducationLevelVM').append($("<option></option>").attr("value", value.Value).text(value.Text));
                        });
                        LoadClass();
                    }
                });              
            
            
        }

        function LoadClass() {
            var eduId = $("#EducationLevelVM").val();
            var schoolID = $("#SchoolVM").val();
            var yearCB = $("#YearVM").val();
            if (eduId == "")
                eduId = 0;
            if (schoolID == "" || schoolID == undefined)
                schoolID = 0;
            if (yearCB == undefined)
                yearCB = 0;

            //alert(eduId + "-" + schoolID + "-" + yearCB +"-")

            $("#ClassVM").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");

            
            $.ajax({
                url: '@Url.Action("LoadClass", "LookUpSchedules")',
                type: 'post',
                data: { eduId: eduId, schoolID: schoolID, year: yearCB },
                success: function (data) {
                    $("#ClassVM").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassVM').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                       
                    LoadSection();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });                                           
        }

        function LoadSection() {

            var classVM = $('#ClassVM').val();
            var educationLevelVM = $('#EducationLevelVM').val();
            var schoolID = $("#SchoolVM").val();
            var yearCB = $("#YearVM").val();

            if (schoolID == "" || schoolID == undefined)
                schoolID = 0;
            if (yearCB == undefined)
                yearCB = 0;
            if (classVM == "")
                classVM = 0;

            $("#SectionVM").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");         
                $.ajax({
                    url: '@Url.Action("LoadSection", "LookUpSchedules")',
                    type: 'post',
                    data: { ClassID: classVM, EducationLevelID: educationLevelVM, schoolID: schoolID, year: yearCB },
                    success: function (data) {
                        $("#SectionVM").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                        $.each(data, function (index, value) {
                            $('#SectionVM').append($("<option></option>").attr("value", value.Section).text(value.SectionName));
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            
        }


        function LoadFromToWeek() {
            var yearCB = $("#YearVM").val();
            var schoolID = $("#SchoolVM").val();
            $("#FromWeekIDVM").find('option').remove().end();
            $("#ToWeekIDVM").find('option').remove().end();
            $("#WeekVM").find('option').remove().end();
                $.ajax({
                    url: '@Url.Action("LoadFromToWeek", "LookUpSchedules")',
                    type: 'post',
                    data: { yearCB: yearCB, schoolID: schoolID },
                    success: function (data) {

                        $.each(data, function (index, value) {                           
                            if (value.SelectedWeek) {
                                $('#FromWeekIDVM').append($("<option selected></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                                $('#ToWeekIDVM').append($("<option selected></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                                $('#WeekVM').append($("<option selected></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                            }
                            else
                            {
                                $('#FromWeekIDVM').append($("<option></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                                $('#ToWeekIDVM').append($("<option></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                                $('#WeekVM').append($("<option></option>").attr("value", value.WeekDefaultID).text(value.WeekDefaultName));
                            }                          
                        });
                        LoadTeacher();                       
                        if ($("#TypeReportVM").val() == 2)
                        {
                            LoadEducationLevel();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
                
            }

    
</script>
