﻿@model SearchModel
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LookUpSchedulesArea.Models
@using SMAS.Web.Areas.LookUpSchedulesArea

<div class ="editor-label">Giáo viên: </div>
<div class ="editor-field custom-select">
    @(Html.Telerik().ComboBoxFor(model => model.EmployeeID)
                                        .BindTo(new SelectList((IEnumerable<TeacherComboboxViewModel>)ViewData[LookUpSchedulesConstants.LIST_TEACHER], "EmployeeID", "DisplayName"))
                                        .AutoFill(false)
                                        .HtmlAttributes(new Dictionary<string,object> { {"style", "width: 195px; float: left" },{"class","type1"}})
                                        .SelectedIndex(0)
                                        .ClientEvents(events => events.OnChange("TeacherChange"))
                                        .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.Contains))
)
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#EmployeeID-input').attr('maxlength', '100');
        $(".t-arrow-down").each(function () {

            $(this).closest(".t-header").css({'background': 'white' });
            $(this).closest(".t-combobox").css({ 'background': 'white' });
            $("#EmployeeID-input").css({});
        });
  

    });
    function TeacherChange() {
        var combobox = $(this).data('tComboBox');
        var dataArr = combobox.data;
        var idArr = [];
        for (i = 0; i < dataArr.length; i++) {
            if (dataArr[i].Value != "") {
                idArr.push(dataArr[i].Value);
            }
        }
        var inputed = combobox.value();
        if (idArr.indexOf(inputed) == -1) {
            $('#EmployeeID').val('');
        }
    }
    $('#EmployeeID-input').focusout(function () {
        if ($('#EmployeeID-input').val() == "") {
            var combobox = $('#EmployeeID').data('tComboBox');
            var dataArr = combobox.data;
            var idArr = [];
            for (i = 0; i < dataArr.length; i++) {
                if (dataArr[i].Value != "") {
                    idArr.push(dataArr[i].Value);
                }
            }
            var inputed = combobox.value();
            if (idArr.indexOf(inputed) == -1) {
                $('#EmployeeID').val('');
            }
        }
    });
</script>