﻿@using SMAS.Web.Utils;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Web.Areas.LookUpSchedulesArea
@{
    ViewBag.Title = Res.Get("Tra cứu lịch báo giảng");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.GeneralTable th, .GeneralTable td
{
    height: 20px;
}
.TopSection
{
    padding: 0px;
    padding-left: 10px;
}
.GeneralTable th.EndCols, .GeneralTable td.EndCols
{
    position: inherit;
}
.listTeacher {
    margin-top:1px;
}
.listTeacher p{
    padding-top:1px;
    font-size:9px;
}
#ContentBeta {
    display:none;
}
    .ContentCalendar {
    padding:8px;
}
.vt-SearchPanel {
    margin:0 0 8px 0px !important;
}
.t-grid-content select{
    padding:0 0 0 3px;
    height:18px;
}
#CreateDialog .t-content {
    height:auto;
}
</style>
@Html.AntiForgeryToken()
<div class="ContentSectionBtm">
    <div class="ContentCalendar">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="SchoolCalendarSearch GenaralInfoSection">
                    @Html.Partial("_Search")
                </div>
                <div id="mainCalendar" class="SchoolCalendarResult">
                </div>      
            </div>
        </div>
    </div>
</div>

@(Html.Telerik().Window()
        .Name("ApprovalTeachingSchedule")
            .Title("Phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
       )

@(Html.Telerik().Window()
        .Name("ApprovalTeachingDetail")
            .Title("Phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
       )

@(Html.Telerik().Window()
        .Name("ApprovalCancelTeachingSchedule")
            .Title("Hủy phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
       )

@(Html.Telerik().Window()
        .Name("ApprovalCancelTeachingDetail")
            .Title("Hủy phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
       )

@(Html.Telerik().Window()
        .Name("DetailOfSchedule")
            .Title("Xem chi tiết lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(1000)
        .Height(900)
        
       )