@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassAssigmentArea.Models



@using (Ajax.BeginForm("Search",
                           "ClassAssigment",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstClassAssigment",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3 class-assi-page-search">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-round btn-bold btn-icon btn-icon-search")
        </div>
    </div>
}


<script type="text/javascript">
    function search() { $("#frmSearch input[type='submit']").click() }
</script>

