@model WeeklyMenuViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuArea.Models
@using SMAS.Web.Areas.WeeklyMenuArea
@{
    ViewBag.Title = @Res.Get("WeeklyMenu_Label_Insert");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{    
    DateTime DateFirstOfWeek = DateTime.Parse((string)ViewData[WeeklyMenuConstants.DateFirstOfWeek]);
    DateTime DateSaOfWeek = DateFirstOfWeek.AddDays(5);
}
@using (Ajax.BeginForm("Create",
                       "WeeklyMenu",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
	@Html.AntiForgeryToken()
    @Html.Partial("_CreateOrEdit", Model)

    <div class="dialog-buttons">		             
             @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")	            
                @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "")     
    </div>
}

<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            $('#StartDate').val('@DateFirstOfWeek'.substr(0, 10));
            $('#EndDate').val('@DateSaOfWeek'.substr(0, 10));
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "WeeklyMenu")');
    }
</script>


