@model WeeklyMenuViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuArea.Models

@{
    ViewBag.Title = @Res.Get("WeeklyMenu_Label_Update");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Edit",
                       "WeeklyMenu",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
           
    @Html.Partial("_CreateOrEdit", Model)
    @Html.ViettelHidden("WeeklyMenuID")

    <div class="dialog-buttons">
         @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")	            
                @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "")     
    </div>

}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            smas.redirect('@Url.Action("Index", "WeeklyMenu")');
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "WeeklyMenu")');
    }
</script>


