﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LearningResultReportArea

<form id="frmReport">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 point-note-report-page-search">
        <div class="vt-SearchPanel-Title">
            <label>@Res.Get("LearningResultReport_Title_PointNoteReport")</label>
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="col-md-6">
                @(Html.ViettelCombobox(Res.Get("Common_Label_Semester"), "SemesterID", (SelectList)ViewData[LearningResultReportConstants.LIST_SEMESTER]
                                        ,
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object> { 
                                        { "style", "" },
                                        {"onchange", "onSemesterChange()"}
                                   
                                    }, false, false))
            </div>
            <div class="col-md-6">
                <label class="custom-checkbox">
                    @Html.CheckBox("cbPeriod", false, new Dictionary<string, object>() { { "style", "float: left;margin-top:6px;" }, { "onclick", "LoadHtmlTemplate(this)" } })
                    <span class="checkmark">&nbsp;</span>
                </label>
                @(Html.ViettelCombobox(Res.Get("Common_Label_Period"), "PeriodID", (SelectList)ViewData[LearningResultReportConstants.LIST_PERIOD]
                                        ,
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object> { 
                                        { "style", "" },
                                        {"disabled", "disabled"}
                                   
                                    }, false, false))
            </div>
            <div class="col-md-6">
                @(Html.ViettelCombobox(Res.Get("Mẫu"), "ReportPatternID", (SelectList)ViewData[LearningResultReportConstants.LIST_REPORT_PATTERN]
                                            ,
                                        GlobalConstants.NO_PLACEHOLDER,
                                        new Dictionary<string, object> { 
                                            { "style", "" },
                                            {"onchange", "onReportPatternChange()"}
                                        }, false, false))
            </div>
            <div class="col-md-6">
                @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID", (SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                            ,
                                        GlobalConstants.NO_PLACEHOLDER,
                                        new Dictionary<string, object> { 
                                            { "style", "" },
                                            {"onchange", "onEducationLevelChange()"}
                                        }, false, false))
            </div>
            <div class="col-md-6">
                @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID", (SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                                ,
                            GlobalConstants.PLACEHOLDER_ALL,
                            new Dictionary<string, object> { 
                                { "style", "" },
                                   
                            }, false, false))
            </div>
            <div class="col-md-6">
                @{
                    List<Object> lstPaperSize = new List<Object> {
                            new {key=SMAS.Business.Common.SystemParamsInFile.PAPER_SIZE_A4, value="A4"},
                            new {key=SMAS.Business.Common.SystemParamsInFile.PAPER_SIZE_A5, value="A5"}
                        };   
                }
            </div>
            <div class="col-md-6">
                @(Html.ViettelCombobox(Res.Get("Common_Label_PaperSize"), "PaperSize", new SelectList(lstPaperSize, "key", "value")
                                ,
                            GlobalConstants.NO_PLACEHOLDER,
                            new Dictionary<string, object> { 
                                { "style", "" },
                                   
                            }, false, false))
            </div>
            <div class="col-md-6">
        </div>

        <div class="vt-SearchPanel-Button">
            @*@Html.ViettelButton("Xem", "button", "ViewReport()", "")*@
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", " btn btn-info btn-round btn-icon btn-icon-excel mg-r-5")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFClick()", " btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>
<div id="htmlTemplate">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
        <div class="vt-SearchPanel-Title">
            @Res.Get("HTML_Pattern_Report")
        </div>
    </div>
    <div>
        <div id="ContentSemester" style="margin-left: 20px">
            <iframe style="width: 100%; height: 972px;" src="/HtmlTemplate/Phieu_Bao_Diem_Theo_Ky/HS_THPT_PhieuBaoDiem_10A01_HKII.htm"></iframe>

        </div>
        <div id="ContentPeriod" style="display: none; margin-left: 20px">
            <iframe style="width: 100%; height: 972px;" src="/HtmlTemplate/Phieu_Bao_Diem_Theo_Dot/HS_THPT_PhieuBaoDiem_Khoi10_HKII_1.htm"></iframe>
        </div>

        <div id="ContentSemesterNewPattern" style="display: none;margin-left: 20px">
            <iframe style="width: 100%; height: 972px;" src="/HtmlTemplate/Phieu_Bao_Diem_Theo_Ky_MauMoi/HS_THCS_PhieuBaoDiem_mauso2.htm"></iframe>
        </div>
    </div>
</div>
<div id="reportResult" style="display: none">
    <iframe id="reportFrame" style="height: 885px"></iframe>
</div>
<script type="text/javascript">
    function LoadHtmlTemplate(obj) {
        var chcked = $(obj).is(":checked");
        if (chcked) {
            if ($("#ContentPeriod").length > 0) {
                $("#ContentPeriod").show();
            }
            if ($("#ContentSemester").length > 0) {
                $("#ContentSemester").hide();
            }
        } else {
            if ($("#ContentPeriod").length > 0) {
                $("#ContentPeriod").hide();
            }
            if ($("#ContentSemester").length > 0) {
                $("#ContentSemester").show();
            }
        }
    }

    function LoadHtmlTemplateNewPattern(val) {       
        if (val == 2) {
            $("#ContentSemesterNewPattern").show();
            $("#ContentPeriod").hide();
            $("#ContentSemester").hide();
           
        } else {
            $("#ContentSemesterNewPattern").hide();
            LoadHtmlTemplate($("#cbPeriod"));
        }
    }

    function ViewReport() {
        var semester = $("#SemesterID").val();
        var periodID = $("#PeriodID").val();
        var educationLevelID = $("#EducationLevelID").val();
        var classID = $("#ClassID").val();
        var paperSize = $("#PaperSize").val();
        var isPeriod = 0;
        if ($("#cbPeriod").is(':checked')) {
            isPeriod = 1;
        }

        var url;

        if (isPeriod == 0) {

            periodID = 0;
            url = '@Url.Action("Report", "PointNoteReport")' + '?semester=' + semester + "&periodID=" + periodID +
                                                                '&educationLevelID=' + educationLevelID + '&classID=' + classID +
                                                                '&paperSize=' + paperSize + "&isPeriod=" + isPeriod;
            $("#reportFrame").attr("src", url);
            $("#reportResult").show();
            $("#htmlTemplate").hide();

        }
        else if (periodID != null && periodID != '') {
            url = '@Url.Action("Report", "PointNoteReport")' + '?semester=' + semester + "&periodID=" + periodID +
                                                                '&educationLevelID=' + educationLevelID + '&classID=' + classID +
                                                                '&paperSize=' + paperSize + "&isPeriod=" + isPeriod;
            $("#reportFrame").attr("src", url);
            $("#reportResult").show();
            $("#htmlTemplate").hide();

        }
        else {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Null_PeriodID")' });
        }

}

function ExportClick() {
    var ReportPatternID = $("#ReportPatternID").val();
    if (ReportPatternID == 1) {
        if ($("#cbPeriod").is(':checked')) {
            smas.getReport("frmReport", '@Url.Action("GetReportByPeriod", "PointNoteReport")',
                              '@Url.Action("GetNewReportByPeriod", "PointNoteReport")', '@Url.Action("DownloadReport", "PointNoteReport")');
        }
        else {
            smas.getReport("frmReport", '@Url.Action("GetReportBySemester", "PointNoteReport")',
                        '@Url.Action("GetNewReportBySemester", "PointNoteReport")', '@Url.Action("DownloadReport", "PointNoteReport")');
        }
    }
    else {
        smas.getReport("frmReport", '@Url.Action("GetReportBySemester", "PointNoteReport")',
                        '@Url.Action("GetNewReportBySemester", "PointNoteReport")', '@Url.Action("DownloadReport", "PointNoteReport")');
        }

    }

    function ExportPDFClick() {
        var blank = '_blank';

        var ReportPatternID = $("#ReportPatternID").val();
        if (ReportPatternID == 1) {
            if ($("#cbPeriod").is(':checked')) {
                smas.getReportDocument("frmReport", '@Url.Action("GetReportByPeriod", "PointNoteReport")',
                              '@Url.Action("GetNewReportByPeriod", "PointNoteReport")', '@Url.Action("DownloadPDFReport", "PointNoteReport")', blank);
            }
            else {

                smas.getReportDocument("frmReport", '@Url.Action("GetReportBySemester", "PointNoteReport")',
                                 '@Url.Action("GetNewReportBySemester", "PointNoteReport")', '@Url.Action("DownloadPDFReport", "PointNoteReport")', blank);
            }
        }
        else {
            smas.getReportDocument("frmReport", '@Url.Action("GetReportBySemester", "PointNoteReport")',
                                '@Url.Action("GetNewReportBySemester", "PointNoteReport")', '@Url.Action("DownloadPDFReport", "PointNoteReport")', blank);
        }

    }

    function onSemesterChange() {

        var semester = $("#SemesterID").val();

        controlUtils.loadComboBox(
                     $("#PeriodID"),
                    '@Url.Action("AjaxLoadPeriod", "PointNoteReport")',
                                      { semester: semester },
                                      '@Res.Get("")', function () {
                                          if ($("#PeriodID").find("option").length == 0) {
                                              $("#cbPeriod").hide();
                                              $("#PeriodID").closest(".vt-control").hide();
                                          }
                                          else {
                                              $("#cbPeriod").show();
                                              $("#PeriodID").closest(".vt-control").show();
                                          }
                                      });
    }

                                  function onReportPatternChange() {
                                      var ReportPatternID = $("#ReportPatternID").val();
                                      if (ReportPatternID > 1) {
                                          $("#cbPeriod").attr("disabled", true);
                                          $("#cbPeriod").removeAttr("checked");
                                          $("#PeriodID").attr("disabled", true);
                                          $("#PaperSize").attr("disabled", true);
                                      }
                                      else {
                                          $("#cbPeriod").attr("disabled", false);
                                          $("#PaperSize").attr("disabled", false);
                                      }

                                      LoadHtmlTemplateNewPattern(ReportPatternID);
                                  }

                                  function onEducationLevelChange() {
                                      var educationLevelID = $("#EducationLevelID").val();
                                      controlUtils.loadComboBox(
                                                   $("#ClassID"),
                                                  '@Url.Action("AjaxLoadClass", "PointNoteReport")',
                                { educationLevelID: educationLevelID },
                                '@Res.Get("All")', null)
                            }

                            $("#cbPeriod").change(function () {
                                if ($(this).is(':checked')) {
                                    $("#PeriodID").removeAttr("disabled");
                                }
                                else {
                                    $("#PeriodID").attr("disabled", "disabled");
                                }
                            });

                            $(document).ready(function () {

                                $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
                                    var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
                                    var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
                                    panel_content.slideToggle(200);
                                    panel_footer.slideToggle(200);
                                    if ($(this).hasClass('icon-arrow-up')) {
                                        $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
                                    } else {
                                        $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
                                    }
                                });

                                $("#PeriodID").closest(".vt-control").find(".editor-label").css("width", "10%");
                                //$("#SemesterID").closest(".vt-control").css("margin-right", "-110px");
                                $("#EducationLevelID").closest(".vt-control").css("margin-left", "10px");
                                $("#EducationLevelID").closest(".vt-control").css("width", "150px");

                                //An checkbox va combobox neu chua khai bao dot
                                if ($("#PeriodID").find("option").length == 0) {
                                    $("#cbPeriod").hide();
                                    $("#PeriodID").closest(".vt-control").hide();
                                }
                                else {
                                    $("#cbPeriod").show();
                                    $("#PeriodID").closest(".vt-control").show();
                                }
                            });
</script>
