﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringMarkArea
@using SMAS.Web.Areas.MonitoringMarkArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Models.Models

<div id="SearchHasMark">
        <div>
            @Html.ViettelCombobox(Res.Get("Học kỳ"), "Semester", new SelectList((IEnumerable<ViettelCheckboxList>)ViewData[MonitoringMarkConstants.ListSemester], "Value", "Label"), GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {  }, false, false)
        </div>
        <div>
            @Html.ViettelCombobox(Res.Get("Khối"), "EducationLevelID", new SelectList((IEnumerable<EducationLevel>)ViewData[MonitoringMarkConstants.ListEducation], "EducationLevelID", "Resolution"), GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "LoadClassCombo(this)" } }, false, false)
        </div>
        <div>
            @Html.ViettelCombobox(Res.Get("Lớp học"), "ClassID", new SelectList((IEnumerable<ClassProfile>)ViewData[MonitoringMarkConstants.ListClass], "ClassProfileID", "DisplayName"), GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { }, false, false)
        </div>
        <div style="clear:both;"> 
            @Html.ViettelButton(Res.Get("Xem"), "submit", "", "")
        </div>
</div>
<script type="text/javascript">
    function LoadClassCombo(comboEducation) {
        var frmId = $(comboEducation).closest('form').get(0).id;
        var EducationLevelID = $(comboEducation).val();
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("GetcboClassProfile", "MonitoringMark")',
            { EducationLevelID: EducationLevelID },
            null, ""
        );
    }
</script>