﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringMarkArea

@{
    ViewBag.Title = Res.Get("Giám sát nhập điểm");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Search",
                       "MonitoringMark",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmSearch" }
                       ))
{
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
}
<script type="text/javascript">
   
</script>