﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.EmployeePraiseDisciplineArea.Models
@using SMAS.Web.Utils
@model EmployeePraiseViewModel
@using (Ajax.BeginForm("CreateDis",
                       "EmployeePraiseDiscipline",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccessDis",
                           OnFailure = "CreateFailDis"
                       },
                       new { id = "frmCreateDiscip" }
                       ))
{
    <div id="frmCreateDiscip" class="vt-EditorPanel vt-EditorPanel-1 employee-praise-dis-page-dis-create">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.Partial("_Discipline")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "return checkSubmit()", "btn btn-info btn-icon btn-round btn-icon-save", "btnAddDis")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialogDis')", "btn btn-basic btn-round", "btnPraise")
        </div>
    </div>


}
<script type="text/javascript">
    function checkSubmit() {
        var check = $("#DisStartDate").val();

        if (check != "" && check != null) {
            var bool = isValidDate(check);
            if (bool == true) {
                $("#DisStartDate").parent().parent().next().css({ 'visibility': 'hidden', display: 'none' });
                $("#DisStartDate").parent().parent().next().removeClass("field-validation-error");
                return true;
            }
            if (bool == false) {
                setTimeout(function () {
                    var object = $("#DisStartDate").parent().parent().next();

                    object.attr("class", "field-validation-error");
                    object.html("<span>Ngày kỷ luật Không đúng định dạng ngày tháng</span>");
                    object.css({ 'visibility': 'visible', display: '' });
                }, 300);
                return false;
            }
        }
        else {
            return true;
        }


    }
    function isValidDate(s) {
        // format D(D)/M(M)/(YY)YY
        var dateFormat = /^\d{1,4}[\.|\/|-]\d{1,2}[\.|\/|-]\d{1,4}$/;

        if (dateFormat.test(s)) {
            // remove any leading zeros from date values
            s = s.replace(/0*(\d*)/gi, "$1");
            var dateArray = s.split(/[\.|\/|-]/);

            // correct month value
            dateArray[1] = dateArray[1] - 1;

            // correct year value
            if (dateArray[2].length < 4) {
                // correct year value
                dateArray[2] = (parseInt(dateArray[2]) < 50) ? 2000 + parseInt(dateArray[2]) : 1900 + parseInt(dateArray[2]);
            }

            var testDate = new Date(dateArray[2], dateArray[1], dateArray[0]);
            if (testDate.getDate() != dateArray[0] || testDate.getMonth() != dateArray[1] || testDate.getFullYear() != dateArray[2]) {
                return false;
            } else {
                return true;
            }
        } else {
            return false;
        }
    }
    function AjaxLoadTeacherOfFacultyDis() {

        controlUtils.loadComboBox(
            $("#TeacherOfFacultyDis"),
            '@Url.Action("AjaxLoadTeacherOfFaculty", "EmployeePraiseDiscipline")',
            { SchoolFacultyId: $("#FacultyDisID").val() },
            '@Res.Get("SelectRK")'
        );
        }
        function CreateSuccessDis(msg) {
            smas.alert(msg);
            SearchDis();
            if (msg.Type == "success") {
                formUtils.resetForm("frmCreateDiscip");
                formUtils.focusForm("frmCreateDiscip");
            }

        }
        function CreateFailDis(ajaxContext) {
            //smas.alert(ajaxContext.responseText);
        }
        $(function () {
            jQuery.validator.unobtrusive.parse($("#frmCreateDiscip"));
        });

</script>
