﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.EmployeePraiseDisciplineArea.Models
@using SMAS.Web.Utils
@model EmployeePraiseViewModel

@{
    if (Model == null || Model.EmployeePraiseDisciplineID == 0)
    {
    @(Html.ViettelCombobox(Res.Get("EmployeePraiseDiscipline_Label_Faculty"), "FacultyDisID", (SelectList)ViewData[SMAS.Web.Areas.EmployeePraiseDisciplineArea.EmployeePraiseDisciplineConstants.LS_FACULTY],
                                   SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                               new Dictionary<string, object> { { "style", "width: 232px" }, { "OnChange", "AjaxLoadTeacherOfFacultyDis()" } }, false, true
                               ))
    }
}
@{
    if (Model != null && Model.EmployeePraiseDisciplineID != 0)
    {
    <div class="vt-control">
        <div class="editor-label">
            @Html.ViettelLabel(Res.Get("Employee_Label_FullName"))
        </div>
        <div class="editor-field">
            @Html.ViettelTextBoxFor(o => o.FullName, new { @class = "vt-display-text", style = "border:0", disabled = "disabled" })
        </div>
    </div>
    }
    else
    {
    @(Html.ViettelCombobox(Res.Get("EmployeePraiseDiscipline_Label_TeacherOfFaculty"), "TeacherOfFacultyDis", (SelectList)ViewData[SMAS.Web.Areas.EmployeePraiseDisciplineArea.EmployeePraiseDisciplineConstants.LS_TEACHEROFFACULTYDIS],
                                   SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                               new Dictionary<string, object> { { "style", "width: 232px" }, { "OnChange", "" } }, false, true
                               ))
    }
}
@Html.ViettelEditorFor(model => model.DisDetailContent)
@Html.ViettelEditorFor(model => model.DisForm)
@Html.ViettelEditorFor(model => model.DisResolution)
@Html.ViettelEditorFor(o => o.DisStartDateEdit)
@Html.ViettelEditorFor(model => model.Description)
