﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.EmployeePraiseDisciplineArea.Models
@using SMAS.Web.Utils
@model EmployeePraiseViewModel

<div id="createDialogDis" class="vt-EditorPanel vt-EditorPanel-1">
    <div class="vt-EditorPanel-Control">
        @{
            if (Model == null || Model.EmployeePraiseDisciplineID == 0)
            {
            @(Html.ViettelCombobox(Res.Get("EmployeePraiseDiscipline_Label_Faculty"), "FacultyDisID", (SelectList)ViewData[SMAS.Web.Areas.EmployeePraiseDisciplineArea.EmployeePraiseDisciplineConstants.LS_FACULTY],
                                   SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                               new Dictionary<string, object> { { "OnChange", "AjaxLoadTeacherOfFacultyDis()" } }, false, true
                               ))
            }
        }
        @{
            if (Model != null && Model.EmployeePraiseDisciplineID != 0)
            {
            @Html.ViettelLabel(Res.Get("Employee_Label_FullName"))

            @Html.ViettelTextBoxFor(o => o.FullName, new { @class = "vt-display-text", style = "border:0", disabled = "disabled" })
            }
            else
            {
            @(Html.ViettelCombobox(Res.Get("EmployeePraiseDiscipline_Label_TeacherOfFaculty"), "TeacherOfFacultyDis", (SelectList)ViewData[SMAS.Web.Areas.EmployeePraiseDisciplineArea.EmployeePraiseDisciplineConstants.LS_TEACHEROFFACULTYDIS],
                                   SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                               new Dictionary<string, object> { { "OnChange", "" } }, false, true
                               ))
            }
        }
        @Html.ViettelEditorFor(model => model.DisDetailContent)
        @Html.ViettelEditorFor(model => model.DisForm)
        @Html.ViettelEditorFor(model => model.DisResolution)
        @Html.ViettelEditorFor(o => o.DisStartDate)
        @Html.ViettelEditorFor(model => model.Description)

    </div>

</div>

