﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ExamSupervisoryArea.Models
@using SMAS.Web.Areas.ExamSupervisoryArea
@using SMAS.Web.Utils;
@{
    var lstStatus = new SelectList(CommonList.AssignmentStatus(), "key", "value");
    var a = (List<PupilAutoComplete>)ViewData["PupilAutoComplete"];
}

<div id="fixmargin">
    @Html.ViettelCombobox("Trạng thái", "Status",
                                (IEnumerable<SelectListItem>)lstStatus, SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, 
                                new Dictionary<string, object>() {{ "style", "width:60%" }, {"onchange","SendInfo();"} }, false, false)  

        <div class="vt-control mg-b-10">
                @(Html.Telerik().AutoComplete().Name("SearchInfoTextbox")
                        .HtmlAttributes(new { @style = "", @placeholder = "Nhập tên cán bộ hoặc mã cán bộ hoặc tổ bộ môn" })
                        .BindTo(a.Select(x => x.DisplayName))
                        .AutoFill(true)
                        .ClientEvents(events => events.OnChange("onSelect"))
                        .Encode(false)
                        .HighlightFirstMatch(true)
                        .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.Contains))
                    )
        <input type="hidden" name="EmployeeCode" id="EmployeeCode" />
       </div>   
</div>
         
        

<script type="text/javascript">
    var strNameOld = "   ";
    $(document).ready(function () {
        onSelect()
    });
    $("#SearchInfoTextbox").keyup(function () { onSelect() });
    
</script>
