﻿@model SubjectReportViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@{
    int checkindex = (int)ViewData[ReportMenuDirectionConstant.CHECK_DEFAULT];
}
<style>
    #nav-bav .editor-field.custom-select{
        width: 100%;
    }
</style>
@using (Html.BeginForm("GetReportBySemester",
"SubjectStatisticReport", FormMethod.Post, new { id = "frmClassifiedConductAndCapacity" }))
{
    @Html.ViettelHidden("rdoReportBySemester", 0)
    @Html.ViettelHidden("Period", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1" id ="SubjectStatisticReport">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
                    Thống kê xếp loại học lực - hạnh kiểm
            </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    @Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportResultLearningByPeriod_Label_Semester"),
                      new SelectList((IEnumerable<ComboObject>)ViewData[ReportMenuDirectionConstant.CBO_SEMESTER], "key", "value", ViewData[ReportMenuDirectionConstant.DEFAULT_SEMESTER]),
                        GlobalConstants.NO_PLACEHOLDER,
                                      new Dictionary<string, object> {{"onChange", "onSemesterChange(this)" }}, false)
                </div>
                <div class="col-md-6 col-sm-7 " id="Period">
                     <div id="periodArea" class="vt-control">
                            <div class="editor-label">
                                @Html.ViettelCheckBox("chkPeriod", "", new Dictionary<string, object>() { { "onclick", "CheckPeriod(this,8);" }, { "id", "chkPeriod" } }, Res.Get("Đợt"), false, false, true, false)
                            </div>
                            <div class="editor-field" id="nav-bav">
                                @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[ReportMenuDirectionConstant.CBO_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {}, false, false)
                            </div>
                        </div>
                </div>
            </div>
        </div> 
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "if(!validateUtils.validateForm('frmClassifiedConductAndCapacity')) return false;", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFClassifiedCC();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center">
    <div id="ContentSemester" style="margin-left:3px;height:512px;">
        <iframe style ="width:100%;height:90%;" src="/HtmlTemplate/Thong_Ke_Hoc_Luc_Hanh_Kiem_Theo_Ky/HS_THCS_ThongKeTongHopHL_HK_HKII.htm">
        </iframe>
    </div>
    <div id="ContentPeriod" style="margin-left:3px;display:none;height:512px;">
        <iframe style ="width:100%;height:90%;" src="/HtmlTemplate/Thong_Ke_Hoc_Luc_Hanh_Kiem_Theo_Dot/HS_THCS_ThongKeTongHopHL_HK_HKII_Dot2.htm">
        </iframe>
    </div>    
</div>

<script type="text/javascript">
    var index = '@checkindex';
    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");

        if ($("#cboPeriod").find("option").length == 0) {
            $("#cboPeriod").hide();
            $("#chkPeriod").closest(".vt-control").hide();
        }
        else {
            $("#cboPeriod").show();
            $("#chkPeriod").closest(".vt-control").show();
            CheckPeriod($("input[name=chkPeriod]"));
        }

        if (index != 0) {
            smas.setSelect($("input[name=chkPeriod]"), index);
        }
    });
    $('#frmClassifiedConductAndCapacity').submit(function (event) {
        $('#rdoReportBySemester').val(3);//Hoc luc-hạnh kiểm
        $('#Period').val($('#cboPeriod').val());
        event.preventDefault();
        smas.getReport('frmClassifiedConductAndCapacity', '@Url.Action("GetReportBySemester", "LearningCapacityReport")',
        '@Url.Action("GetNewReportBySemester", "LearningCapacityReport")', '@Url.Action("DownloadReport", "LearningCapacityReport")');
    });
    function ExportPDFClassifiedCC() {
        if (!validateUtils.validateForm('frmClassifiedConductAndCapacity')) return;
        $('#rdoReportBySemester').val(3);//Hoc luc-hạnh kiểm
        $('#Period').val($('#cboPeriod').val());
        var blank = '_blank';
        smas.getReportDocument('frmClassifiedConductAndCapacity', '@Url.Action("GetReportBySemester", "LearningCapacityReport")',
        '@Url.Action("GetNewReportBySemester", "LearningCapacityReport")', '@Url.Action("DownloadPDFReport", "LearningCapacityReport")');
    }
</script>