﻿@model SubjectReportViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@{
    int checkindex = (int)ViewData[ReportMenuDirectionConstant.CHECK_DEFAULT];
}

@using (Html.BeginForm("GetReportBySemester",
"SubjectStatisticReport", FormMethod.Post, new { id = "frmReportResultEndOfYear" }))
{
    @Html.ViettelHidden("rdoReportBySemester", 0)
    @Html.ViettelHidden("Period", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1" id ="SubjectStatisticReport">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
                    Thống kê học sinh lên lớp - ở lại
            </div>
        <div class="vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                   @Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportResultLearningByPeriod_Label_Semester"),
                      new SelectList((IEnumerable<ComboObject>)ViewData[ReportMenuDirectionConstant.CBO_SEMESTER], "key", "value", ViewData[ReportMenuDirectionConstant.DEFAULT_SEMESTER]),
                        GlobalConstants.NO_PLACEHOLDER,
                                      new Dictionary<string, object> {}, false)
                </div>
                </div>
                <div class="vt-control">
                    <div>
                        <fieldset>
                    <legend>
                        <label>Bổ sung số liệu</label>
                    </legend>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh nữ")
                                <input type="checkbox" name="FemaleType" id="Female" value="1" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh dân tộc")
                                <input type="checkbox" name="EthnicType" id="Ethnic" value="2" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh nữ dân tộc")
                                <input type="checkbox" name="FemaleEthnicType" id="FemaleEthnic" value="3" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                </fieldset>
                    </div>
               </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "if(!validateUtils.validateForm('frmReportResultEndOfYear')) return false;", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFResultEndOfYear();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center">
    <div style="margin-left:83px;height:580px;">
        <iframe style ="width:100%;height:90%;" src="/HtmlTemplate/Thong_Ke_Hoc_Sinh_Len_Lop_O_Lai/HS_THCS_ThongKeKetQuaCuoiNam.htm">
        </iframe>
    </div>
</div>
<script type="text/javascript">
    var index = '@checkindex';
    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");

        $('#frmReportResultEndOfYear #Semester').attr('disabled','disabled');
        $('#frmReportResultEndOfYear #Semester').find('option[value=3]').attr('selected', 'selected');
        CheckPeriod($("input[name=chkPeriod]"));
        if (index != 0) {
            smas.setSelect($("input[name=chkPeriod]"), index);
        }
    });
    $('#frmReportResultEndOfYear').submit(function (event) {
        $('#rdoReportBySemester').val(5);//Hoc sinh lên lớp-ở lại
        event.preventDefault();
        smas.getReport('frmReportResultEndOfYear', '@Url.Action("GetReportBySemester", "LearningCapacityReport")',
        '@Url.Action("GetNewReportBySemester", "LearningCapacityReport")', '@Url.Action("DownloadReport", "LearningCapacityReport")');
    });
    function ExportPDFResultEndOfYear() {
        if (!validateUtils.validateForm('frmReportResultEndOfYear')) return;
        $('#rdoReportBySemester').val(5);//Hoc luc mon
        $('#Period').val($('#cboPeriod').val());
        var blank = '_blank';
        smas.getReportDocument('frmReportResultEndOfYear', '@Url.Action("GetReportBySemester", "LearningCapacityReport")',
        '@Url.Action("GetNewReportBySemester", "LearningCapacityReport")', '@Url.Action("DownloadPDFReport", "LearningCapacityReport")',blank);
    }
</script>