﻿@model JudgeRecordViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PrimaryJudgeRecordArea.Models
@using SMAS.Web.Areas.PrimaryJudgeRecordArea
@using SMAS.Business.Common
<style type="text/css">
    #GridImportData td{padding:0;text-align:center}.t-grid .t-status{display:none}.t-grid-pager{height:20px}
</style>
<style type="text/css">
    #GridImportData .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}.t-grid-header .t-header{padding:0!important}
</style>
    <div id="GridImportData" style="overflow:auto;">
        @{
            var index = 1;

            Html.Telerik()
                .Grid((IEnumerable<JudgeRecordViewModel>)ViewData[JudgeRecordConstants.LIST_IMPORTDATA])
                .HtmlAttributes(new {style="width:800px"})
                .Name("GridImportDataJudgeRecord")
                .Columns(c =>
                {

                    c.Template(@<text>
            @(index++)
            </text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(30);

                    c.Template(
            @<text>
              @if (item.Status.Value == SystemParamsInFile.PUPIL_STATUS_STUDYING)
                {
                      <table>
                <tr>
                    <td  style="color:Blue">
                        @item.PupilCode
                    </td>
                </tr>
            </table>
                }
              else
              {
                      <table>
                <tr>
                    <td style="color:Gray">
                        @item.PupilCode
                    </td>
                </tr>
            </table>
              }
        
            </text>).Title(Res.Get("PupilProfile_Label_PupilCode")).Visible(false).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" });

                    c.Template(
            @<text>
                @if (item.Status.Value == SystemParamsInFile.PUPIL_STATUS_STUDYING)
                {
                <table> <tr> <td  style="color:Blue">
                @item.FullName
                </td> </tr> </table>
                }
                else
                {
                <table> <tr> <td style="color:Gray">
                @item.FullName
            </td> </tr> </table>
                }
            </text>).Title(Res.Get("PupilProfile_Label_FullName")).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" });

                    //diem hky 1
                    c.Template(
            @<text>
            <table cellspacing="0" class="data-row">
                <tr>
                    <td>@item.strH11
                    </td>
                    <td>@item.strH12
                    </td>
                    <td>@item.strH13
                    </td>
                    <td>@item.strH14
                    </td>
                    @if (!(bool)ViewData[JudgeRecordConstants.CLASS_12])
                    {
                        <td>@item.strH15
                        </td>
                    }
                </tr>
            </table>
            </text>
                    ).Width(120)
                  .HeaderTemplate(
            @<text>
            <table cellspacing="0" class="data-header">
                @if ((bool)ViewData[JudgeRecordConstants.CLASS_12])
                {
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <strong>@Res.Get("Common_Label_Combo_FirstSemester")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            4
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align: center">
                            <strong>@Res.Get("Common_Label_Combo_FirstSemester")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            5
                        </td>
                    </tr>
                }
            </table>
            </text>);

                    c.Template(@<text>
            <table cellspacing="0" class="data-row">
                <tr>
                    <td style="text-align: center">@item.strMarkSemester1
                    </td>
                </tr>
            </table>
            </text>).HeaderTemplate(
            @<text>
            <table cellspacing="0" class="data-header">
                <tr>
                    <td style="width: 55px;">
                        <strong>HLM HKI</strong>
                    </td>
                </tr>
                @* <tr>
                    <td>
                        HKI
                    </td>
                </tr>*@
            </table>
            </text>).Width(60);

                    //diem hky 2
                    c.Template(
            @<text>
            <table cellspacing="0" class="data-row">
                <tr>
                    <td>@item.strH21
                    </td>
                    <td>@item.strH22
                    </td>
                    <td>@item.strH23
                    </td>
                    <td>@item.strH24
                    </td>
                    @if (!(bool)ViewData[JudgeRecordConstants.CLASS_12])
                    {
                        <td>@item.strH25
                        </td>
                    }
                </tr>
            </table>
            </text>
                        ).Width(120)
                  .HeaderTemplate(
            @<text>
            <table cellspacing="0" class="data-header">
                @if ((bool)ViewData[JudgeRecordConstants.CLASS_12])
                {
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <strong>@Res.Get("Common_Label_Combo_SecondSemester")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            7
                        </td>
                        <td>
                            8
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align: center">
                            <strong>@Res.Get("Common_Label_Combo_SecondSemester")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            7
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            9
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                }
            </table>
            </text>)
                        .Visible(!(bool)ViewData[JudgeRecordConstants.SEMESTER_1])
                  ;

                    //hk2-tbm
                    c.Template(@<text>
            <table cellspacing="0" class="data-row">
                <tr>
                    <td style="text-align: center">@item.strMarkSemester2
                    </td>
                </tr>
            </table>
            </text>).HeaderTemplate(
            @<text>
            <table cellspacing="0" class="data-header">
                <tr>
                    <td style="width: 60px;">
                        <strong>HLM HKII</strong>
                    </td>
                </tr>
                @*<tr>
                    <td>
                        HKII
                    </td>
                </tr>*@
            </table>
            </text>).Visible(!(bool)ViewData[JudgeRecordConstants.SEMESTER_1]).Width(80);

                    c.Bound(o => o.isLegal).Title(Res.Get("JudgeRecord_Label_IsLegal")).HtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(70);
                    c.Template(@<text>
            <table cellspacing="0" class="data-header">
                @Html.Raw(item.ErrorDescription)
            </table>
            </text>).Title(Res.Get("JudgeRecord_Label_ErrorDescription")).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(130);

                })
                .DataBinding(b =>
                    b.Ajax().OperationMode(GridOperationMode.Client)
                 )
                .DataKeys(keys => keys.Add(o => o.PupilID))
                //.Sortable()
                .Editable(editing => editing.Mode(GridEditMode.PopUp))
                .Selectable()
                .Scrollable(u=>u.Height(390))
                .Render();
        }
    </div>