﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PrimaryJudgeRecordArea.Models
@using SMAS.Web.Areas.PrimaryJudgeRecordArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@{
    List<ViettelCheckboxList> listSJ = (List<ViettelCheckboxList>)ViewData[JudgeRecordConstants.LIST_SUBJECT];
    if ((listSJ != null) && (listSJ.Count() > 0))
    {
    <fieldset>
        <legend>@Res.Get("JudgeRecord_Label_Subject")</legend>
        @Html.ViettelRadioBox("rdbSubject", "", new Dictionary<string, object>() { { "onChange", "loadDataToGrid(this)" } }, (List<ViettelCheckboxList>)ViewData[JudgeRecordConstants.LIST_SUBJECT], false)
    </fieldset>
    }
}
