﻿@model ClassMovementModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models

<div class="vt-EditorPanel vt-EditorPanel-1">
    @using (Ajax.BeginForm("ClassMovement",
                       "PupilProfileChildren",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ClassMovementSuccess",
                           OnFailure = "ClassMovementFail"
                       },
                       new { id = "frmClassMovement" }
                       ))
    {
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.ClassMovementID)
            @Html.HiddenFor(p => p.PupilID)
            @Html.HiddenFor(p => p.FromClassID)
            @Html.HiddenFor(p => p.EducationLevelID)
            @Html.ViettelEditorFor(o => o.MovedDate1)
            @Html.ViettelComboboxFor(o => o.Semester, Res.Get("ClassMovement_Label_Semester"), (SelectList)ViewData["LISTSEMESTER"], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object> { }, false)
            @{
        Dictionary<string, object> dicClassTo = new Dictionary<string, object>();
        if (Model.ClassMovementID > 0)
        {
            dicClassTo["disabled"] = "disabled";
                @Html.HiddenFor(o => o.ToClassID)
        }
                @Html.ViettelComboboxFor(o => o.ToClassID, Res.Get("ClassMovement_Label_NewClass"), (IEnumerable<SelectListItem>)ViewData["LISTCLASSTO"], GlobalConstants.PLACEHOLDER_CHOICE, dicClassTo, true)
                @Html.ViettelEditorFor(model => model.Reason, new Dictionary<string, object> { { "rows", "5" } }, false, false)
            }
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", " if (!validateUtils.validateForm('frmClassMovement')) return false;", "btn btn-info btn-icon btn-round btn-icon-save", "btnAddClassMovement")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('DialogClassMovement');", "btn btn-basic btn-round", "")
        </div> 
    }
</div>
<script type="text/javascript">
   
    $(document).ready(function () {
        //Validate form
        $.validator.unobtrusive.parse($("#frmClassMovement"));

        //Tieu de cua dialog
        $("#DialogClassMovement").data('tWindow').title('@Html.Raw(Res.Get("PupilProfile_Dialog_ClassMovement"))' + " " + "@Html.Raw(Model.FullName)" + " - Lớp " + "@Html.Raw(Model.ClassName)");
    });

    function ClassMovementSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == 'success') {
            search();
            setTimeout(function () { smas.closeDialog('DialogClassMovement'); }, 300);
        }
    }

    function ClassMovementFail(ajaxContext) {
    }
</script>
