@model PupilProfileChildrenViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@{
    ViewBag.Title = @Res.Get("PupilProfileChildren_Label_Insert");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Create",
                       "PupilProfileChildren",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    @Html.AntiForgeryToken()
         
    //@Html.ViettelEditorForModel()
    
    @Html.Partial("_CreateOrEdit", Model)

    <div class="dialog-buttons mg-t-10 text-right">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
        @Html.ViettelButton(Res.Get("Common_Button_Redo"), "button", " OnRedoClick()", "btn btn-basic btn-round")
        @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "btn btn-basic btn-round")
    </div>
}
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            filepath = '@Url.Content("~/Content/images/question_mark.png")';
            $("#imageId").attr("src", filepath);
            $("#frmCreate #AutoGenCode").attr("checked", true);
            $("#frmEdit #AutoGenCode").attr("checked", true);
            $("#frmCreate #CheckIsResidentIn").attr("checked", true);
            oncbIsDisabledChange($("#frmCreate #IsDisabled"));
            formUtils.focusForm("frmCreate");
        }

    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "PupilProfileChildren")');
    }
    function OnRedoClick() {
        formUtils.resetForm("frmCreate");
        filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath);
        $("#frmCreate #AutoGenCode").attr("checked", true);
        $("#frmEdit #AutoGenCode").attr("checked", true);
        $("#frmCreate #CheckIsResidentIn").attr("checked", true);
        formUtils.focusForm("frmCreate");
    }
</script>
