﻿@using SMAS.Web.Utils;
@using SMAS.Web.Areas.PupilProfileChildrenArea;
@using SMAS.Web.Constants;
@using Com.Viettel.Framework.HtmlHelpers
@{
    var classID = (int)ViewData[PupilProfileChildrenConstants.CLASS_ID];
    int pupilID = (int)ViewData[PupilProfileChildrenConstants.PUPIL_ID];
    string className = (string)ViewData[PupilProfileChildrenConstants.CLASS_NAME];
    bool isMale = false;
    if (((string)ViewData[PupilProfileChildrenConstants.GENRE]).Equals(GlobalConstants.GENRE_MALE_TITLE))
    {
        isMale = true;
    }
}
@Html.ViettelHidden("hid_classID", classID)
<style type="text/css">
    .ContentSection{overflow:visible;background:0 0}.GIInSection .BoxMap .MapContentSection{position:relative;width:800px}.GIInSection .BoxMap{padding:26px 60px 70px 62px}.GIInSection .BoxMap1 .MapContentSection,.GIInSection .BoxMap3 .MapContentSection{height:498px}.GIInSection .BoxMap2 .MapContentSection,.GIInSection .BoxMap4 .MapContentSection{height:597px;margin-top:11.4px}.GIInSection .BoxMap1 .InfoPupil,.GIInSection .BoxMap3 .InfoPupil{margin-bottom:19px;margin-right:17px}.GIInSection .BoxMap2 .InfoPupil,.GIInSection .BoxMap4 .InfoPupil{margin-bottom:20px;margin-right:17px}.Content2Section{padding:0}.GenaralInfoSection{padding-right:8px}#MonthlyGrowthChart .GenaralInfoSection .HealthInSection{width:940px}
</style>
<div class="ContentSectionBtm" id="MonthlyGrowthChart">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="CntTabSection">
                    <div class="GenaralInfoSection">
                        <div class="TabSection TitleTabSection">
                            <a class="Sprite1"><span class="Sprite1">@Res.Get("Common_Label_PupilInfo")</span></a>
                        </div>
                        <div class="GIInSection HealthInSection">
                            <label class="LabelStyle Label1Style">@Res.Get("MonitoringBook_Label_Fullname"):</label>
                            <p class="ValueStyle Value1Style">
                                @ViewData[PupilProfileChildrenConstants.FULL_NAME]</p>
                            <label class="LabelStyle Label2Style">@Res.Get("Common_Label_Brithday"):</label>
                            <p class="ValueStyle Value2Style" style="width: 135px;">
                                @(((DateTime)ViewData[PupilProfileChildrenConstants.BIRTH_DAY]).ToString("dd/MM/yyyy"))</p>
                            <label class="LabelStyle Label2Style">
                                @Res.Get("Common_Label_Genre"):</label>
                            <p class="ValueStyle Value2Style" style="width: 135px;">@ViewData[PupilProfileChildrenConstants.GENRE]</p>
                            <label class="LabelStyle Label2Style">
                                @Res.Get("MonitoringBook_Label_Class"):</label>
                            <p class="ValueStyle Value2Style" style="width: 135px;">@ViewData[PupilProfileChildrenConstants.CLASS_NAME]</p>
                            <div class="Clear">
                            </div>
                            <label class="LabelStyle Label1Style">@Res.Get("OverallTest_Label_HistoryYourSelf"):</label>
                            <p class="ValueStyle Value3Style">@ViewData[PupilProfileChildrenConstants.HISTORY_YOUR_SELF]</p>
                            <div class="Clear">
                            </div>
                        </div>
                    </div>
                    <div class="GenaralInfoSection">
                        <div class="TabSection TitleTabSection">
                            <a class="Sprite1"><span class="Sprite1">@Res.Get("SCSPupilOfClass_GrowthMonitoring")</span></a>
                        </div>
                        <div class="GIInSection HealthInSection">
                            <p class="Text1Style">@Res.Get("HealthTest_Label_LegendWeight")</p>
                            <p class="Text2Style">@Res.Get("SCSMonthlyGrowth_Label_WeightBoyTip1") - @Html.Raw(isMale ? Res.Get("HealthTest_Label_BoyTitle") : Res.Get("HealthTest_Label_GirlTitle"))</p>
                            <p class="Text2Style" style="font-weight: normal;">@Res.Get("SCSMonthlyGrowth_Label_Weight_Legend_Notice")</p>
                            <div class="BoxMap @(isMale == true ? "BoxMap1" : "BoxMap3")">
                                <div class="MapContentSection">
                                    <!--Biểu dồ tăng trưởng cân nặng-->
                                    @Html.Partial("_WeightChart", ViewData[PupilProfileChildrenConstants.LIST_CHART])
                                    <div class="InfoPupil">
                                        <label class="LabelStyle">@Res.Get("MonitoringBook_Label_Fullname"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@ViewData[PupilProfileChildrenConstants.FULL_NAME]</p>
                                        <div class="Clear">
                                        </div>
                                        <label class="LabelStyle">@Res.Get("Common_Label_Brithday"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@(((DateTime)ViewData[PupilProfileChildrenConstants.BIRTH_DAY]).ToString("dd/MM/yyyy"))</p>
                                    </div>
                                </div>
                            </div>
                            <div class="Clear">
                            </div>
                            <p class="Text1Style">@Res.Get("HealthTest_Label_LegendHeight")
                            </p>
                            <p class="Text2Style">@Res.Get("SCSMonthlyGrowth_Label_HeightBoyTip1") - @Html.Raw(isMale ? Res.Get("HealthTest_Label_BoyTitle") : Res.Get("HealthTest_Label_GirlTitle"))</p>
                            <p class="Text2Style" style="font-weight: normal;">@Res.Get("SCSMonthlyGrowth_Label_Height_Legend_Notice")</p>
                            <div class="BoxMap @(isMale == true ? "BoxMap2" : "BoxMap4")">
                                <div class="MapContentSection">
                                    <!--Biểu dồ tăng trưởng chiều cao-->
                                    @Html.Partial("_HeightChart", ViewData[PupilProfileChildrenConstants.LIST_CHART])
                                    <div class="InfoPupil Info2Pupil">
                                        <label class="LabelStyle">@Res.Get("MonitoringBook_Label_Fullname"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@ViewData[PupilProfileChildrenConstants.FULL_NAME]</p>
                                        <div class="Clear">
                                        </div>
                                        <label class="LabelStyle">@Res.Get("Common_Label_Brithday"):
                                        </label>
                                        <p class="ValueStyle Value1Style" style="font-weight: bold;">@(((DateTime)ViewData[PupilProfileChildrenConstants.BIRTH_DAY]).ToString("dd/MM/yyyy"))</p>
                                    </div>
                                </div>
                            </div>
                            <!-- hidden chart for export all class -->
                            <div style="width: 1px; height: 1px; visibility: hidden;">
                                <div id="div_tmp_for_data">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Clear">
                    </div>
                    <div class="BtnCenterSection">
                        <input class="BtnGeneralStyle t-button" onclick="ExportImage();" value="@Res.Get("HealthTest_Button_ExportImage")" style="width: 70px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">    
    var dataChart = {};
    function ExportImage() {
        var cls = document.getElementById("hid_classID");
        //Expport current Pupil
        _exportImg(cls.value, @pupilID);
    }

    function _exportImg(__classID, __pupilID) {
        $.ajax({
            url: '@Url.Action("LoadSvgData", "GrowthChart")',
            type: 'post',
            data: { classId: __classID, pupilID: __pupilID },
            beforeSend: function () {
                smas.showProcessingDialog();
                $("#div_tmp_class_chart").html("");
                //clear data
                dataChart = {};
            },
            success: function (data) {
                var dataSVG = [];
                var dataPP = [];
                var lstWMap = [];
                $("#div_tmp_for_data").html(data);
                function createSVG(idchart, isW, ppId) {
                    //Get map data                            
                    var chart = $("#" + idchart).data("tChart");
                    dataSVG.push(escape(chart.svg()));
                    //Clear map
                    dataPP.push(ppId);
                    lstWMap.push(isW);
                    $("#" + idchart).parent().css("display", "none");
                    $("#" + idchart).html("");
                }
                $("[name=chart_pupil]").each(function () {
                    var female = false;
                    var isW = false;
                    var ppID = $(this).attr('pupilid');
                    var chartId = $(this).attr('id');
                    if ($(this).attr('female') == 1) female = true;
                    if ($(this).attr('mapwidth') == 1) isW = true;                    
                    //Create chart
                    createSVG(chartId, isW, ppID);
                });
                //Tao file images
                if (dataSVG.length > 0) {
                    $.ajax({
                        url: '@Url.Action("CreateSVG", "GrowthChart")',
                        type: 'post',
                        traditional: true,
                        datatype: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ lstSvg: dataSVG, classId: __classID, lstPP: dataPP, lstMapW: lstWMap }),
                        beforeSend: function () {
                            smas.showProcessingDialog();
                        },
                        success: function (data) {
                            smas.hideProcessingDialog();
                            window.open("/SCSMonthlyGrowthArea/GrowthChart/DowloadZipped" + "?classId=" + __classID);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    });
                }
                else {
                    smas.alert({ Type: "error", Message: 'Không có dữ liệu.' });
                    smas.hideProcessingDialog();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.hideProcessingDialog();
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
</script>
