﻿@model PupilProfileChildrenViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@using SMAS.Web.Areas.PupilProfileChildrenArea
@using SMAS.Models.Models
@using SMAS.Business.Common
@{
    var listHabitGroup = (IEnumerable<HabitGroup>)ViewData[PupilProfileChildrenConstants.LIST_HABITGROUP];
    var listHabitDetail = (IEnumerable<HabitDetail>)ViewData[PupilProfileChildrenConstants.LIST_HABITDETAIL];
    var listTypeOfDish = (IEnumerable<TypeOfDish>)ViewData[PupilProfileChildrenConstants.LIST_TYPEOFDISH];

    IEnumerable<FoodHabitOfChildren> ListTypeOfDishOfPupil = (IEnumerable<FoodHabitOfChildren>)ViewData[PupilProfileChildrenConstants.LIST_TYPEOFDISHOFPUPIL];
    IEnumerable<HabitOfChildren> ListHabitDetailOfPupil = (IEnumerable<HabitOfChildren>)ViewData[PupilProfileChildrenConstants.LIST_HABITDETAILOFPUPIL];
    var HabitGroupName = "Thói quen ăn";
}

<div class="pupil-profile-children-editDetail-page" > 

@{ Html.Telerik().PanelBar()
            .Name("PanelBarDetail")
            .SelectedIndex(0)
            .Items(items =>
            {
                items.Add()
                    .Text(@Res.Get("PupilProfile_Label_GeneralInfo"))
                    .Content(@<text>
    @{
<div id="pnGeneralInfo">
        <table>
            <tr>
                <td style='width: 180px'>
                    @if (@Model != null && @Model.PupilProfileID != null)
                    {
                        <img id="imageId" border="1" src="@Url.Action("Show", "Image", new { id = @Model.PupilProfileID })" alt="Upload" width="180" height="200" />
                    }
                    else
                    {
                        <img id="imageId" border="1" src="@Url.Content("~/Content/images/question_mark.png")" alt="Upload" width="180" height="200"  />
                    }
                </td>
                <td style="vertical-align: top;">
                    <div class="vt-EditorPanel vt-EditorPanel-3" id="tabGeneralInfo">
                        <div class="vt-EditorPanel-Control">     
                            <div class="row no-margin">  
                                <div class="col-md-6 col-sm-10 no-padding">               
                            @Html.ViettelTextboxFor(pp => pp.EducationLevelName, Res.Get("PupilProfile_Label_EducationLevel_MN"), new Dictionary<string, object>()
                            {
                               
                            }, false, false, true, false)
                                    </div>   
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.ClassName, Res.Get("PupilProfile_Label_Class_MN_Edit"), new Dictionary<string, object>()
                            {
                               
                            }, false, false, true, false)
                                    </div>
                                    <div class="col-md-6 col-sm-10 no-padding"> 
                             @Html.ViettelTextboxFor(pp => pp.StatusName, Res.Get("PupilProfile_Label_Status"), new Dictionary<string, object>()
                            {
                               
                            }, false, false, true, false)      
                                        </div>                    
                              
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.PupilCode, Res.Get("PupilProfileChildren_Label_PupilCode"), new Dictionary<string, object>()
                                {
                                    {"maxlength","30"}
                                }, false, false, true, false)    
                                    </div>
                            <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.StorageNumber, Res.Get("PupilProfile_Label_StorageName"), new Dictionary<string, object>()
                                {
                                    {"maxlength","30"}
                                }, false, false, true, false)
                                        </div>          
                            
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.FullName, Res.Get("PupilProfile_Label_FullName"), new Dictionary<string, object>()
                            {
                                {"maxlength","100"}
                            }, false, false, true, false)
                                    </div>
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelEditorFor(pp => pp.BirthDate, new Dictionary<string, object>()
                            {
                            }, false, true)
                                    </div>
                            @*@Html.ViettelDatePickerFor(pp => pp.BirthDate, "Ngày sinh", false, new Dictionary<string, object> { }, "dd/MM/yyyy")*@
                            
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.GenreName, Res.Get("PupilProfile_Label_Genre"), new Dictionary<string, object>()
                            {
                            }, false, false, true, false)
                                        </div>
                                </div>
                            <div class="row no-margin">
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.ProvinceName, Res.Get("PupilProfile_Label_Province"), new Dictionary<string, object>()
                            {
                            }, false, false, true, false)
                                    </div>
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.DistrictName, Res.Get("PupilProfile_Label_District"), new Dictionary<string, object>()
                            {
                            }, false, false, true, false)                          
                                    </div>
                                
                                    <div class="col-md-6 col-sm-10 no-padding"> 
                                @Html.ViettelTextboxFor(pp => pp.CommuneName, Res.Get("PupilProfile_Label_Commune"), new Dictionary<string, object>()
                                {
                                }, false, false, true, false)    
                                        </div>
                                    <div class="col-md-6 col-sm-10 no-padding"> 
                                @Html.ViettelTextboxFor(pp => pp.VillageName, Res.Get("PupilProfile_Label_VillageName"), new Dictionary<string, object>()
                                {
                                    {"maxlength","50"}
                                }, false, false, true, false)
                                </div>
                            </div>

                            <div class="row no-margin">
                                
                                <div class="col-md-6 col-sm-10 no-padding notify-field"> 
                            @Html.ViettelEditorFor(pp => pp.EnrolmentDate, new Dictionary<string, object>()
                            {
                            }, false, true) 
                            <i class="f-12 mg-b-10" style="display:block;width:65%;float:right">(Ngày vào trường là căn cứ tổng hợp số liệu trong các báo cáo thống kê)</i>
                            </div>
                                <div class="col-md-6 col-sm-10 no-padding"> 
                           @Html.ViettelTextboxFor(pp => pp.EnrolmentTypeName, Res.Get("Hình thức"), new Dictionary<string, object>()
                            {
                                {"maxlength","50"}
                            }, false, false, true, false)
                                    </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.BirthPlace, Res.Get("PupilProfile_Label_BirthPlace"), new Dictionary<string, object>()
                              {
                                  {"maxlength","256"},{"style",""}
                              }, false, false, true, false)
                            </div> 
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.HomeTown, Res.Get("PupilProfile_Label_HomeTown"), new Dictionary<string, object>()
                              {
                                  {"maxlength","256"},{"style", ""}
                              }, false, false, true, false)
                            </div>
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.PermanentResidentalAddress, Res.Get("PupilProfile_Label_PermanentResidentalAddress"), new Dictionary<string, object>()
                          {
                              {"maxlength","256"},{"style", ""}
                          }, false, false, true, false)
                            </div>
                                <div class="col-md-6 col-sm-10 no-padding"> 
                            @Html.ViettelTextboxFor(pp => pp.TempResidentalAddress, Res.Get("PupilProfile_Label_TempResidentalAddress"), new Dictionary<string, object>()
                          {
                              {"maxlength","256"}, {"style", ""}
                          }, false, false, true, false)
                                    </div>
                            </div>


                            @* @Html.ViettelCheckBoxFor(model => model.CheckIsResidentIn, new Dictionary<string, object> { }, @Res.Get("PupilProfileChildren_Label_IsResidentIn"), false)
                        <div style="padding-left:5px">
                        <font color="red" size="12">@Html.Label("(Ngày vào trường của trẻ làm căn cứ lấy số liệu thống kê trong báo cáo)")</font>
                            </div>*@
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        </div>
    }

    </text>);
                items.Add()
                    .Text(Res.Get("PupilProfile_Label_PersionalInfo"))
                    .Expanded(true)
                    .Content(@<text>
    <div class="vt-EditorPanel vt-EditorPanel-3 disjust-textbox" id="tabPersionaleInfo">
        <div class="vt-EditorPanel-Control">
            <div class="row no-margin">
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.EthnicName, Res.Get("PupilProfile_Label_Ethnic"), new Dictionary<string, object>()
            {
            }, false, false, true, false)
                    </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.OtherEthnicName, Res.Get("Tên gọi khác (Dân tộc)"), new Dictionary<string, object>()
            {
            }, false, false, true, false)
                    </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.ReligionName, Res.Get("PupilProfile_Label_Religion"), new Dictionary<string, object>()
            {
            }, false, false, true, false)
                    </div>
                </div>
            <div class="row no-margin">
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.PriorityTypeName, Res.Get("PupilProfile_Label_PriorityType"), new Dictionary<string, object>()
            {
            }, false, false, true, false)
                    </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.PolicyTargetName, Res.Get("PupilProfile_Label_PolicyTarget"), new Dictionary<string, object>()
            {
            }, false, false, true, false)
                    </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.PolicyRegimeName, Res.Get("PupilProfile_Label_PolicyRegime"), new Dictionary<string, object>()
            {
            }, false, false, true, false)     
                    </div>   
                </div>
            <div class="row no-margin">   
            <div class="col-md-4 col-sm-6 no-padding">
                <div class="inline-block mg-checkbox">
            @Html.ViettelCheckBoxFor(model => model.CheckIsDisabled,
                                 new Dictionary<string, object>()
                                 {
                                      {"disabled", "disabled"}
                                     
                                 }, Res.Get("PupilProfile_Label_IsDisabled"),
                                 false, true)</div>
            </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.DisabledTypeName, Res.Get("PupilProfile_Label_DisabledType"), new Dictionary<string, object>()
            {
                {"margin-left", "0px"}
            }, false, false, true, false)  
                    </div>
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.DisabledSeverity, Res.Get("PupilProfile_Label_DisabledSeverity"), new Dictionary<string, object>()
            {
            }, false, false, true, false) 
                    </div> 
                </div>
            <div class="row no-margin">
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.AreaName, Res.Get("PupilProfile_Label_Area"), new Dictionary<string, object>()
            {
            }, false, false, true, false) 
                    </div> 
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.Telephone, Res.Get("PupilProfile_Label_Telephone"), new Dictionary<string, object>()
            {
            }, false, false, true, false)   
                    </div>          
                <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.ChildOrder, Res.Get("PupilProfile_Label_ChildOrder"),
                new Dictionary<string, object>()
                {   {"class","integer"},  
                    {"maxlength","2"}                               
                }, false, false, true, false)
            </div>
                </div>
                <div class="row no-margin">
            <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(pp => pp.BloodTypeName, Res.Get("PupilProfile_Label_BloodType"), new Dictionary<string, object>()
            {
            }, false, false, true, false)   
            </div>
            <div class="col-md-4 col-sm-6 no-padding">
            <div class="vt-control" style="width:100%">
                <div class="editor-label">
                    <label for="">Chiều cao lúc mới sinh (cm)</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id ="HeightAtBirth" value ="@Model.HeightAtBirth" name="HeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>
                </div>
            </div>
                </div>
            <div class="col-md-4 col-sm-6 no-padding">
             <div class="vt-control" style="width:100%">
                <div class="editor-label">
                    <label for="">Cân nặng lúc mới sinh (kg)</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id ="WeightAtBirth" value ="@Model.WeightAtBirth" name="WeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>
                </div>
            </div>
           </div>
                </div>
        </div>
    </div>
    </text>);

                items.Add()
                    .Text(Res.Get("PupilProfile_Label_FamilyInfo"))
                    .Expanded(true)
                    .Content(@<text>
    <div class="vt-EditorPanel vt-EditorPanel-5 familyTab">
        <!-- id ="tabFamilyInfo"-->
        <div class="vt-EditorPanel-Control">
            <div class="row no-margin">
            <div class="col-md-4 col-sm-6 no-padding">
            @Html.ViettelTextboxFor(model => model.FamilyTypeID, Res.Get("PupilProfile_Label_FamilyType"),
                    new Dictionary<string, object>()
                    {
                        {"maxlength","50"}
                    }, false, false, true, false)
                </div>
            <div class="col-md-4 col-sm-6">
                <div class="inline-block mg-checkbox">
            @Html.ViettelCheckBoxFor(model => model.MinorityFather, new Dictionary<string, object>()
                {
                    {"class", "MinorityFather"},
                    {"disabled", "disabled"}
                }, Res.Get("Có bố là dân tộc"), false, true)   
                    </div>  
                </div>     
                <div class="col-md-4 col-sm-6">
                <div class="inline-block mg-checkbox">
            @Html.ViettelCheckBoxFor(model => model.MinorityMother, new Dictionary<string, object>()
                {
                    {"class", "MinorityMother"},
                    {"disabled", "disabled"}
                }, Res.Get("Có mẹ là dân tộc"), false, true)
                    </div>
            </div>
                </div>
            <br/>

            <div class="row no-margin parents-info">
                <div class="col-md-3 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.FatherFullName, Res.Get("Họ tên bố"),
                    new Dictionary<string, object>()
                    {
                        {"maxlength","50"}
                    }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">

            @Html.ViettelTextboxFor(model => model.iFatherBirthDate, " ",
                new Dictionary<string, object>()
                {
                   {"maxlength","4"},
                    {"class","integer"},   
                    {"placeholder", Res.Get("Năm sinh bố")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">

            @Html.ViettelTextboxFor(model => model.FatherJob, " ",
                new Dictionary<string, object>()
                {
                    {"maxlength","50"},
                     {"placeholder", Res.Get("Nghề nghiệp bố")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.FatherMobile, " ",
                new Dictionary<string, object>()
                {
                    {"maxlength","15"},{"style",""},
                    {"class","integer"},
                    {"placeholder", Res.Get("SĐT bố")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(pp => pp.FatherEmail, " ", new Dictionary<string, object>(){
        {"maxlength","50"},
            {"placeholder", Res.Get("Email bố")},
               }, false, false, true, false)
                    </div>
                </div>
            <br/>

            <div class="row no-margin parents-info">
                <div class="col-md-3 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.MotherFullName, Res.Get("PupilProfile_Label_MotherFullName"),
                new Dictionary<string, object>()
                {
                      {"maxlength","50"}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.iMotherBirthDate, " ",
                new Dictionary<string, object>()
                {
                    {"maxlength","4"},
                     {"class","integer"},   
                     {"placeholder", Res.Get("Năm sinh mẹ")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.MotherJob, " ",
                new Dictionary<string, object>()
                {
                      {"maxlength","50"},
                      {"placeholder", Res.Get("Nghề nghiệp mẹ")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.MotherMobile, " ",
        new Dictionary<string, object>()
        {
                {"maxlength","15"},
            {"class","integer"},
             {"placeholder", Res.Get("SĐT mẹ")}
        }, false, false, true, false)
                </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(pp => pp.MotherEmail, " ", new Dictionary<string, object>(){
            {"maxlength","50"},
                {"placeholder", Res.Get("Email mẹ")}
               }, false, false, true, false)
                    </div>
                </div>
            <br/>
            <div class="row no-margin parents-info">
                <div class="col-md-3 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.SponsorFullName, Res.Get("PupilProfile_Label_SponsorFullName"),
                new Dictionary<string, object>()
                {
                    {"maxlength","50"}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.iSponsorBirthDate, " ",
                new Dictionary<string, object>()
                {
                    {"maxlength","4"},
                       {"class","integer"},
                        {"placeholder", Res.Get("PupilProfile_Label_SponsorBirthDate")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.SponsorJob, " ",
                new Dictionary<string, object>()
                {
                    {"maxlength","50"},
                    {"placeholder", Res.Get("PupilProfile_Label_SponsorJob")}
                }, false, false, true, false)
                    </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(model => model.SponsorMobile, " ",
                new Dictionary<string, object>()
                {
                     {"maxlength","15"},
                    {"class","integer"},     
                    {"placeholder", Res.Get("PupilProfile_Label_SponsorMobile")}             
                }, false, false, true, false)
                </div>
                <div class="col-md-2 col-sm-8 no-padding">
            @Html.ViettelTextboxFor(pp => pp.SponsorEmail, " ", new Dictionary<string, object>(){
            {"maxlength","50"},
            {"placeholder", Res.Get("Email người bảo hộ")}   
               }, false, false, true, false)
                    </div>
                </div>

            @*@Html.ViettelCheckBoxFor(model => model.IsFatherSMS, new Dictionary<string, object>() {{"disabled", "disabled"} }, Res.Get("PupilProfile_Label_RegisterSMS"), false, true)

        @Html.ViettelCheckBoxFor(model => model.IsMotherSMS, new Dictionary<string, object>()
   {
       {"disabled", "disabled"}
   }, Res.Get("PupilProfile_Label_RegisterSMS"), false, true)

        @Html.ViettelCheckBoxFor(model => model.IsSponsorSMS, new Dictionary<string, object>()
   {
       {"disabled", "disabled"}
   }, Res.Get("PupilProfile_Label_RegisterSMS"), false, true)*@
        </div>
    </div>
    </text>
                    );
                items.Add()
                    .Text(Res.Get("PupilProfile_Control_PsychologicalInformation"))
                    .Expanded(true)
                    .Content(
    @<text>
   
     <div style="width: 100%; margin-top: 8px;" id="dvPsychologicalInformation">
        <table class="tblPsychologicalInformation">  
        @{
            int count = 0;
            string tdBorderbottom = "";
            int countListHabitGroup = listHabitGroup.Count();
            <tr>
                <td class="tdPsychologicalInformation">
            @foreach (var itemHabitGroup in listHabitGroup)
            {
                count++;
                if (countListHabitGroup == count)
                {
                    tdBorderbottom = "";
                }
                else
                {
                    tdBorderbottom = "tdBorderbottom";
                }
                <table style="margin-top: 0px;">
                <tr>
                    <td class="tdPsychologicalInformationright tdPadding @tdBorderbottom" style="width: 235px; vertical-align: middle; padding-right: 15px; text-align: right;">
                        @itemHabitGroup.HabitGroupName
                    </td>
                    <td class="tdPadding @tdBorderbottom">
                        <table>
                            <tr>
                                @{   
                                    if (listHabitDetail != null)
                                    {
                                        List<int> listhabitdetailofpupil;
                                        var LSTHABITDETAIL = listHabitDetail.Where(o => o.HabitGroupID == itemHabitGroup.HabitGroupID).ToList();
                                        if (LSTHABITDETAIL != null && LSTHABITDETAIL.Count > 0)
                                        {
                                            for (int i = 0; i < listHabitDetail.Where(o => o.HabitGroupID == itemHabitGroup.HabitGroupID).Count(); i++)
                                            {
                                                var st = LSTHABITDETAIL[i];
                                                var a = 100 / listHabitDetail.Where(o => o.HabitGroupID == itemHabitGroup.HabitGroupID).Count();
                                                if (@itemHabitGroup.HabitGroupName.ToUpper() == HabitGroupName.ToUpper())
                                                {
                                                    if (@Model != null && @Model.EatingHabit != null)
                                                    {
                                                        if (@Model != null && @Model.EatingHabit.HasValue && @Model.EatingHabit.Value == st.HabitDetailID)
                                                        { 
                                                        <td style="float:left; width:@a%">
                                                            <label class="custom-radio-button">
                                                            @Html.ViettelRadioButton("rptEatingHabit", st.HabitDetailID, true, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }) <span>@st.HabitDetailName</span>
                                                            <span class="checkmark"></span>
                                                            </label>
                                                        </td>
                                                        }
                                                        else
                                                        { 
                                                        <td style="float:left; width:@a%">
                                                            <label class="custom-radio-button">
                                                            @Html.ViettelRadioButton("rptEatingHabit", st.HabitDetailID, false, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }) <span>@st.HabitDetailName</span>
                                                            <span class="checkmark"></span>
                                                            </label> 
                                                       </td>
                                                        }
                                                    }
                                                    else
                                                    { 
                                                        <td style="float:left; width:@a%">
                                                            <label class="custom-radio-button">
                                                            @Html.ViettelRadioButton("rptEatingHabit", st.HabitDetailID, false, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }) <span>@st.HabitDetailName</span>
                                                            <span class="checkmark"></span>
                                                            </label>
                                                        </td>
                                                    }

                                                }
                                                else
                                                {
                                                    if (ListHabitDetailOfPupil != null)
                                                    {
                                                        listhabitdetailofpupil = ListHabitDetailOfPupil.Select(e => e.HabitDetailID).ToList();
                                                        if (listhabitdetailofpupil.Contains(st.HabitDetailID))
                                                        {
                                                        <td style="float:left; width:@a%">
                                                            @Html.ViettelCheckBox("rptHabitDetail", st.HabitDetailID, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }, st.HabitDetailName, true, false, true)
                                                        </td>
                                                        }
                                                        else
                                                        {
                                                        <td style="float:left; width:@a%">
                                                            @Html.ViettelCheckBox("rptHabitDetail", st.HabitDetailID, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }, st.HabitDetailName, false, false, true)
                                                        </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td style="float:left; width:@a%">
                                                            @Html.ViettelCheckBox("rptHabitDetail", st.HabitDetailID, new Dictionary<string, object> { { "id", "Habit" + st.HabitDetailID.ToString() }, { "disabled", "disabled" } }, st.HabitDetailName, false, false, true)
                                                        </td>
                                                    }
                                                }


                                            }
                                        }
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            }
                </td>
            </tr> 
            <tr>
                <td class="tdPsychologicalInformation">
            @*Dua ra checklist Món ăn chính*@
                <table>
                <tr>
                    <td class="tdPsychologicalInformationright tdPadding" style="width: 235px; vertical-align: middle; padding-right: 15px; text-align: right;">
                        @Res.Get("PupilProfile_Label_MainTypeOfDish")
                    </td>
                    <td>
                        <table>
                            <tr>
                                @{
    
                                    if (listTypeOfDish != null)
                                    {
                                        List<int> listtypedishofpupil;
                                        var LSTTYPEOFDISH = listTypeOfDish.ToList();
                                        if (LSTTYPEOFDISH != null && LSTTYPEOFDISH.Count > 0)
                                        {
                                            var countDish = listTypeOfDish.Count();
                                            if (countDish == 2){
                                                countDish = 3;
                                            }
                                            var widthTOD = 100 / countDish;
                                            for (int i = 0; i < listTypeOfDish.Count(); i++)
                                            {
                                                var st = LSTTYPEOFDISH[i];
                                                if (ListTypeOfDishOfPupil != null)
                                                {
                                                    listtypedishofpupil = ListTypeOfDishOfPupil.Where(o => o.HabitType == SystemParamsInFile.FOOD_HABIT_OF_CHILDREN_MAIN).Select(e => e.TypeOfDishID).ToList();
                                                    if (listtypedishofpupil.Contains(st.TypeOfDishID))
                                                    {
                                    <td style="float:left; width:@widthTOD%">
                                        @Html.ViettelCheckBox("rptTypeOfDishMain", st.TypeOfDishID, new Dictionary<string, object> { { "id", "MAIN" + i.ToString() }, { "disabled", "disabled" } }, st.TypeOfDishName, true, false, true)
                                    </td>
                                                    }
                                                    else
                                                    {
                                    <td style="float:left; width:@widthTOD%">
                                        @Html.ViettelCheckBox("rptTypeOfDishMain", st.TypeOfDishID, new Dictionary<string, object> { { "id", "MAIN" + i.ToString() }, { "disabled", "disabled" } }, st.TypeOfDishName, false, false, true)
                                    </td>
                                                    }
                                                }
                                                else
                                                {
                                    <td style="float:left; width:@widthTOD%">
                                        @Html.ViettelCheckBox("rptTypeOfDishMain", st.TypeOfDishID, new Dictionary<string, object> { { "id", "MAIN" + i.ToString() }, { "disabled", "disabled" } }, st.TypeOfDishName, false, false, true)
                                    </td>
                                                }
                                            }
                                        }
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                </td>
            </tr>

            
            //Dua ra checklist phản ứng khi tập một thói quen      
            <tr>
                <td class="tdPsychologicalInformation">
                <table>
                <tr>
                    <td class="tdPadding tdPsychologicalInformationright" style="width: 235px; padding-right: 15px; text-align: right; vertical-align: middle;">
                        @Res.Get("PupilProfile_Label_ReactionTrainingHabit")
                    </td>
                    <td class="tdPadding">
                        <table>
                            <tr>
                                @{    
                                    if (@Model != null && @Model.ReactionTrainingHabit != null)
                                    {
                                        if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL)
                                        {
                                    <td style="float: left; width: 33%;">
                                       <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL, true, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_NORMAL")</span>
                                          <span class="checkmark"></span>
                                       </label>
                                    </td>
                                        }
                                        else
                                        {
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_NORMAL")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT)
                                        {
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT, true, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_DISCOMFORT")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        else
                                        {
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_DISCOMFORT")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE)
                                        {
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE, true, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_POSITIVE")</span>
                                         <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        else
                                        {
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE.ToString() }, { "disabled", "disabled" } })       <span>@Res.Get("REACTION_TRAINING_HABIT_POSITIVE")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                    }
                                    else
                                    {
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_NORMAL")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                     </td>
                                    <td style="float: left; width: 33%;">
                                         <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT.ToString() }, { "disabled", "disabled" } })<span>@Res.Get("REACTION_TRAINING_HABIT_DISCOMFORT")</span>
                                    <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptReactionTraining", SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE, false, new Dictionary<string, object> { { "id", "REACTION" + SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("REACTION_TRAINING_HABIT_POSITIVE")</span>
                                    <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    }
                                }

                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                </td>
            </tr>      
            
            //Dua ra checklist thái độ khi rơi vào khung cảnh lạ
            <tr>
                <td class="tdPsychologicalInformation">
                <table>
                <tr>
                    <td class="tdPadding tdPsychologicalInformationright" style="width: 235px; padding-right: 15px; text-align: right; vertical-align: middle;">
                        @Res.Get("PupilProfile_Label_AttitudeInStrangeScene")
                    </td>
                    <td class="tdPadding">
                        <table>
                            <tr>
                                @{    
                                    if (@Model != null && @Model.AttitudeInStrangeScene != null)
                                    {
                                        if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL)
                                        {
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL, true, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_NORMAL")</span>
                                    <span class="checkmark"></span>
                                        </label>
                                            </td>
                                        }
                                        else
                                        {
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_NORMAL")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY)
                                        {
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY, true, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_HAPPY")</span>
                                     <span class="checkmark"></span>
                                        </label>
                                    </td>
                                        }
                                        else
                                        {   
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_HAPPY")</span>
                                         <span class="checkmark"></span>
                                        </label>
                                    </td>  
                                        }
                                        if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE)
                                        {
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE, true, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_SCALE")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td> 
                                        }
                                        else
                                        {                           
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_SCALE")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td> 
                                        }
                                    }
                                    else
                                    {       
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_NORMAL")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                     </td>
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                        @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_HAPPY")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>  
                                    <td style="float: left; width: 33%;">
                                        <label class="custom-radio-button">
                                         @Html.ViettelRadioButton("rptAttitudeInStrangeScene", SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE, false, new Dictionary<string, object> { { "id", "ATTITUDE" + SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE.ToString() }, { "disabled", "disabled" } }) <span>@Res.Get("ATTITUDE_IN_STRANGE_SCENE_SCALE")</span>
                                        <span class="checkmark"></span>
                                        </label>
                                    </td> 
                                
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                </td>
            </tr>
            <tr>
                <td class="tdPsychologicalInformation">
                    <table>
                        <tr>
                            <td style=" vertical-align:middle; width:25%" class="tdPsychologicalInformationright tdPadding text-right">
                                <label class="mg-r-10">Món ăn thích nhất</label> 
                            </td>
                            <td style="width:25%" class="tdPsychologicalInformationright ">
                                @Html.ViettelTextBoxFor(pp => pp.FavouriteTypeOfDish, new Dictionary<string, object>()
                            {
                             {"disabled", "disabled" },
                             {"style",""} 
                            })
                            </td>
                            <td style=" vertical-align:middle; text-align:right;width:25%" class="tdPsychologicalInformationright tdPadding">
                                <label class="mg-r-10">Món ăn ghét nhất</label>
                            </td>
                            <td class="width:25%">
                                @Html.ViettelTextBoxFor(pp => pp.HateTypeOfDish, new Dictionary<string, object>()
                            {
                             {"disabled", "disabled" } ,                            
                             {"style",""}
                            })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="tdPsychologicalInformation">
                    <table>
                        <tr>
                            <td style="width:25%;vertical-align:middle;" class="tdPsychologicalInformationright tdPadding text-right">
                                <label class="mg-r-10">Thói quen khác</label>
                            </td>
                            <td style="width:25%" class="tdPsychologicalInformationright">
                                @Html.ViettelTextBoxFor(pp => pp.OtherHabit, new Dictionary<string, object>()
                            {
                             {"disabled", "disabled" } ,
                             {"style"," margin-top:10px"} 
                            })
                            </td>
                            <td style="width:25%;vertical-align:middle; text-align:right" class="tdPsychologicalInformationright tdPadding">
                                <label class="mg-r-10">Đồ chơi yêu thích</label>
                            </td>
                            <td class="width:25%">
                                @Html.ViettelTextBoxFor(pp => pp.FavoriteToy, new Dictionary<string, object>()
                            {
                             {"disabled", "disabled" } ,                            
                             {"style",""}
                            })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
        </table>
    </div>

    </text>
                    );
            })
            .Render();
}
    </div>      
<script type="text/javascript">
    $(document).ready(function () {
        $(".disjust-textbox").removeClass("editor-label-2");       
        $(".familyTab input[type='text']").css("padding", "1px");
        $("#FamilyTypeID").closest(".vt-control").css("width", "100%");
        //$("#FamilyTypeID").parent(".editor-field").css("width", "31%");
        $(".MinorityFather").closest(".vt-control").css("width", "100%").find(".editor-label-right");
        $(".MinorityMother").closest(".vt-control").css("width", "100%").find(".editor-label-right");
        $("#FatherFullName,#SponsorFullName,#MotherFullName").closest(".vt-control").css("width", "100%");
        //$("#FatherFullName,#SponsorFullName,#MotherFullName").parent(".editor-field").css("width", "24.5%");
        $("#iFatherBirthDate,#iMotherBirthDate,#iSponsorBirthDate").closest(".vt-control").css("width", "100%");
        $("#FatherJob,#MotherJob,#SponsorJob").closest(".vt-control").css("width", "100%");
        $("#FatherMobile,#SponsorMobile,#MotherMobile").closest(".vt-control").css("width", "100%");
        $("#FatherEmail,#MotherEmail,#SponsorEmail").closest(".vt-control").css("width", "100%");
        $("#DisabledTypeName").closest(".vt-control").css("width", "100%");
        //$("#FavouriteTypeOfDish").css("margin-left", "8px").css("width", "208px");
        //$("#OtherHabit").css("margin-left", "9px").css("width", "208px");
        //$("#HateTypeOfDish,#FavoriteToy").css("width", "208px");
        $("#CheckIsDisabled").closest(".vt-control").css("width", "100%");
        $("#DisabledTypeName").closest(".vt-control").css("width", "33%");
        $(".BirthDate").find(".editor-label span").html("");
        $(".EnrolmentDate").find(".editor-label span").html("");
    })
</script>

@*<div id ="detail">
<fieldset>
    <legend>@Res.Get("PupilProfile_Label_GeneralInfo")</legend>
    <div>
        <table>
            <tr>
                <td>
                    @if (@Model != null && @Model.PupilProfileID != null)
                    {
                        <img id="imageId" border="1" src="@Url.Action("Show", "Image", new { id = @Model.PupilProfileID })" alt="Upload" width="100" height="120" />
                    }
                    else
                    {
                        <img id="imageId" border="1" src="@Url.Content("~/Content/images/question_mark.png")" alt="Upload" width="100" height="120" />
                    }
                </td>
            </tr>
            <tr>
                <td >
                    @Res.Get("PupilProfile_Label_EducationLevel"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.EducationLevelName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_ClassName"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.ClassName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Status"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.StatusName)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_PupilCode"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.PupilCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_FullName"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FullName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Genre"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.GenreName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_BirthDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.BirthDate_String)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_BirthPlace"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.BirthPlace)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_HomeTown"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.HomeTown)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_EnrolmentDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.EnrolmentDate_string)
                </td>
                <td>
                    @Res.Get("PupilProfileChildren_Label_IsResidentIn"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.ResidentInName)
                </td>
            </tr>
        </table>
    </div>
</fieldset>
<fieldset>
    <legend>@Res.Get("PupilProfile_Label_PersionalInfo")</legend>
    <div>
        <table>

            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_Ethnic"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.EthnicName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Religion"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.ReligionName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_PolicyTarget"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.PolicyTargetName)
                </td>
            </tr>
  
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_IsDisabled"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.IsDisabledName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_DisabledType"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.DisabledTypeName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_DisabledSeverity"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.DisabledSeverity)
                </td>
            </tr>
       
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_Area"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.AreaName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Telephone"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.Telephone)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_BloodType"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.BloodTypeName)
                </td>
            </tr>
     
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_Province"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.ProvinceName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_District"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.DistrictName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Commune"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.CommuneName)
                </td>
            </tr>
        
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_PermanentResidentalAddress"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.PermanentResidentalAddress)
                </td>
            </tr>
      
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_TempResidentalAddress"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.TempResidentalAddress)
                </td>
            </tr>
    
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_FamilyType"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FamilyTypeName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_HeightAtBirth"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.HeightAtBirth)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_WeightAtBirth"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.WeightAtBirth)
                </td>
            </tr>
          
        </table>
    </div>
</fieldset>
<fieldset>
    <legend>@Res.Get("PupilProfile_Label_FamilyInfo")</legend>
    <div>
        <table>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_FatherFullName"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FatherFullName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_FatherBirthDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.iFatherBirthDate)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_FatherJob"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FatherJob)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_FatherMobile"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FatherMobile)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Email"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.FatherEmail)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_MotherFullName"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.MotherFullName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_MotherBirthDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.iMotherBirthDate)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_MotherJob"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.MotherJob)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_MotherMobile"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.MotherMobile)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Email"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.MotherEmail)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_SponsorFullName"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.SponsorFullName)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_SponsorBirthDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.iSponsorBirthDate)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_SponsorJob"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.SponsorJob)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_SponsorMobile"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.SponsorMobile)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Email"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.SponsorEmail)
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_ChildOrder"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.ChildOrder)
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_NumberOfChild"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.NumberOfChild)
                </td>
            </tr>
        </table>
    </div>
</fieldset>
<fieldset>
    <legend>@Res.Get("PupilProfile_Control_PsychologicalInformation")</legend>
    @{   
        foreach (var itemHabitGroup in listHabitGroup)
        {     
        <div style="float: left; width: 50%; margin-top: 8px;">
            <div style="float: left; width: 150px">
                @itemHabitGroup.HabitGroupName:
            </div>
            <div style="width: 100%;">            
         @{          
           var HabitName = "";
           if (listHabitDetail != null)
           {
               List<int> listhabitdetailofpupil;
               var LSTHABITDETAIL = listHabitDetail.Where(o => o.HabitGroupID == itemHabitGroup.HabitGroupID).ToList();
               if (LSTHABITDETAIL != null && LSTHABITDETAIL.Count > 0)
               {
                   for (int i = 0; i < listHabitDetail.Where(o => o.HabitGroupID == itemHabitGroup.HabitGroupID).Count(); i++)
                   {
                       var st = LSTHABITDETAIL[i];
                       if (@itemHabitGroup.HabitGroupName.ToUpper() == HabitGroupName.ToUpper())
                       {
                           if (@Model != null && @Model.ReactionTrainingHabit != null)
                           {
                               if (@Model != null && @Model.EatingHabit.HasValue && @Model.EatingHabit.Value == st.HabitDetailID)
                               { 
                                   HabitName = st.HabitDetailName;
                               }
                           }
                       }
                       else
                       {
                           if (ListHabitDetailOfPupil != null)
                           {
                               listhabitdetailofpupil = ListHabitDetailOfPupil.Select(e => e.HabitDetailID).ToList();
                               if (listhabitdetailofpupil.Contains(st.HabitDetailID))
                               {
                                   if (HabitName == "")
                                   {
                                       HabitName = st.HabitDetailName;
                                   }
                                   else
                                   {
                                       HabitName = HabitName + ", " + st.HabitDetailName;
                                   }

                               }
                           }
                       }
                   }
               }
           }
           if (HabitName == "")
           {
               @Res.Get("Common_Label_NoChoice")
           }
           else
           {
              @HabitName
           }
                               
           }
           </div>
          </div>
        }
                        //Dua ra checklist Món ăn chính
            <div style="float: left; width: 50%; margin-top: 8px;">
                <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_MainTypeOfDish"):
                </div>              
                <div style="width:100%;">
                        @{    
                            var FoodHabitName = "";
                            if (listTypeOfDish != null)
                            {
                                List<int> listtypedishofpupil;
                                var LSTTYPEOFDISH = listTypeOfDish.ToList();
                                if (LSTTYPEOFDISH != null && LSTTYPEOFDISH.Count > 0)
                                {
                                    for (int i = 0; i < listTypeOfDish.Count(); i++)
                                    {
                                        var st = LSTTYPEOFDISH[i];
                                        if (ListTypeOfDishOfPupil != null)
                                        {
                                            listtypedishofpupil = ListTypeOfDishOfPupil.Where(o => o.HabitType == SystemParamsInFile.FOOD_HABIT_OF_CHILDREN_MAIN).Select(e => e.TypeOfDishID).ToList();
                                            if (listtypedishofpupil.Contains(st.TypeOfDishID))
                                            {
                                                if (FoodHabitName == "")
                                                {
                                                    FoodHabitName = st.TypeOfDishName;
                                                }
                                                else
                                                {
                                                    FoodHabitName = FoodHabitName + ", " + st.TypeOfDishName;
                                                }
                                            }
                                        }
                                    }
                                }
                                if (FoodHabitName == "")
                                {
                                    @Res.Get("Common_Label_NoChoice")
                                }
                                else
                                {
                                      @FoodHabitName
                                }
                            }
                        }
                    </div>
                </div>  
        
                        //Dua ra checklist Món ăn ưa thích            
            <div style="float: left; width: 50%; margin-top: 8px;">
                <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_FavoriteTypeOfDish"):
                </div>                
                <div style="width: 100%;">
                        @{
                            var FoodHabitNameFavorite = "";
                            if (listTypeOfDish != null)
                            {
                                List<int> listtypedishofpupil;
                                var LSTTYPEOFDISH = listTypeOfDish.ToList();
                                if (LSTTYPEOFDISH != null && LSTTYPEOFDISH.Count > 0)
                                {
                                    for (int i = 0; i < listTypeOfDish.Count(); i++)
                                    {
                                        var st = LSTTYPEOFDISH[i];
                                        if (ListTypeOfDishOfPupil != null)
                                        {
                                            listtypedishofpupil = ListTypeOfDishOfPupil.Where(o => o.HabitType == SystemParamsInFile.FOOD_HABIT_OF_CHILDREN_LIKE).Select(e => e.TypeOfDishID).ToList();
                                            if (listtypedishofpupil.Contains(st.TypeOfDishID))
                                            {
                                                if (FoodHabitNameFavorite == "")
                                                {
                                                    FoodHabitNameFavorite = st.TypeOfDishName;
                                                }
                                                else
                                                {
                                                    FoodHabitNameFavorite = FoodHabitNameFavorite + ", " + st.TypeOfDishName;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            if (FoodHabitNameFavorite == "")
                            {
                                @Res.Get("Common_Label_NoChoice")
                            }
                            else
                            {
                                @FoodHabitNameFavorite
                            }
                        }
                    </div>
                </div>   
                        //Dua ra checklist Món ăn ghét nhất            
                <div style="float: left; width: 50%; margin-top: 8px;">
                <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_HateTypeOfDish"):
                </div>                
                    <div style="width: 100%;">
                        @{
                            var FoodHabitNameHate = "";
                            if (listTypeOfDish != null)
                            {
                                List<int> listtypedishofpupil;
                                var LSTTYPEOFDISH = listTypeOfDish.ToList();
                                if (LSTTYPEOFDISH != null && LSTTYPEOFDISH.Count > 0)
                                {
                                    for (int i = 0; i < listTypeOfDish.Count(); i++)
                                    {
                                        var st = LSTTYPEOFDISH[i];
                                        if (ListTypeOfDishOfPupil != null)
                                        {
                                            listtypedishofpupil = ListTypeOfDishOfPupil.Where(o => o.HabitType == SystemParamsInFile.FOOD_HABIT_OF_CHILDREN_HATE).Select(e => e.TypeOfDishID).ToList();
                                            if (listtypedishofpupil.Contains(st.TypeOfDishID))
                                            {
                                                if (FoodHabitNameHate == "")
                                                {
                                                    FoodHabitNameHate = st.TypeOfDishName;
                                                }
                                                else
                                                {
                                                    FoodHabitNameHate = FoodHabitNameHate + ", " + st.TypeOfDishName;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            if (FoodHabitNameHate == "")
                            {
                                @Res.Get("Common_Label_NoChoice")
                            }
                            else
                            {
                                @FoodHabitNameHate
                            }
                        }
                    </div>                
                </div> 
        var ReactionTrainingHabit = "";
        var AttitudeInStrangeScene = "";
                        //Dua ra checklist phản ứng khi tập một thói quen            
                <div style="float: left; width: 50%; margin-top: 8px;">
                <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_ReactionTrainingHabit"):
                </div>                
                    <div style="width: 100%;">
                        @{    
                            if (@Model != null && @Model.ReactionTrainingHabit != null)
                            {
                                if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_NORMAL)
                                {
                                    ReactionTrainingHabit = Res.Get("REACTION_TRAINING_HABIT_NORMAL");
                                }
                                if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_DISCOMFORT)
                                {
                                    ReactionTrainingHabit = Res.Get("REACTION_TRAINING_HABIT_DISCOMFORT");
                                }
                                if (@Model != null && @Model.ReactionTrainingHabit.Value == SystemParamsInFile.REACTION_TRAINING_HABIT_POSITIVE)
                                {
                                    ReactionTrainingHabit = Res.Get("REACTION_TRAINING_HABIT_POSITIVE");
                                }
                            }
                            if (ReactionTrainingHabit == "")
                            {
                                @Res.Get("Common_Label_NoChoice")
                            }
                            else
                            {
                                @ReactionTrainingHabit
                            }
                        }
                    </div>              
            </div>
            
                        //Dua ra checklist thái độ khi rơi vào khung cảnh lạ
            <div style="float: left; width: 50%; margin-top: 8px;">
                <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_AttitudeInStrangeScene"):
                </div>                
                    <div style=" width: 100%;">
                        @{    
                            if (@Model != null && @Model.AttitudeInStrangeScene != null)
                            {
                                if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_NORMAL)
                                {
                                    AttitudeInStrangeScene = Res.Get("ATTITUDE_IN_STRANGE_SCENE_NORMAL");
                                }
                                if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_HAPPY)
                                {
                                    AttitudeInStrangeScene = Res.Get("ATTITUDE_IN_STRANGE_SCENE_HAPPY");
                                }
                                if (@Model != null && @Model.AttitudeInStrangeScene.Value == SystemParamsInFile.ATTITUDE_IN_STRANGE_SCENE_SCALE)
                                {
                                    AttitudeInStrangeScene = Res.Get("ATTITUDE_IN_STRANGE_SCENE_SCALE");
                                }
                            }
                            if (AttitudeInStrangeScene == "")
                            {
                                @Res.Get("Common_Label_NoChoice")
                            }
                            else
                            {
                                @AttitudeInStrangeScene
                            }                         
                        }
                    </div>              
            </div>   
            <div style="float: left; width: 100%; margin-top: 8px;">
                 <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_OtherHabit"):
                </div>  
                  <div style=" width: 100%;">
                    @Html.ViettelDisplayFor(pp => pp.OtherHabit)
                  </div>                   
            </div>
             <div style="float: left; width: 100%; margin-top: 8px;">
              <div style="float: left; width: 150px">
                    @Res.Get("PupilProfile_Label_FavoriteToy"):
                </div>  
                  <div style=" width: 100%;">
                    @Html.ViettelDisplayFor(pp => pp.FavoriteToy)
                  </div>                    
            </div>               
    }
</fieldset>
</div>
*@
@*<style type="text/css">
#detail tr{height:20px}
</style>*@