﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileChildrenArea
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@model LeavingOffModel
@{
    var listSemesters = ViewData[PupilProfileChildrenConstants.LISTSEMESTER] as SelectList;
}
<div class="vt-EditorPanel vt-EditorPanel-1" style="padding: 10px 40px 0 0;">
    @using (Ajax.BeginForm("LeavingOffPupil",
                       "PupilProfileChildren",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "LeavingOffPupilSuccess",
                           OnFailure = "LeavingOffPupilFailure"
                       },
                       new { id = "frmLeavingOffPupil" }
                       ))
    {
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelHiddenFor(u => u.PupilLeavingOffID)
            @Html.ViettelHiddenFor(u => u.EducationLevelID)
            @Html.ViettelHiddenFor(u => u.ClassID)
            @Html.ViettelHiddenFor(u => u.PupilID)
            @Html.ViettelEditorFor(o => o.LeavingDate)
            @Html.ViettelComboboxFor(u => u.Semester, Res.Get("PupilLeavingOff_Label_Semester")
                            , listSemesters
                            , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER
                            , new Dictionary<string, object>() { }, true)
            @Html.ViettelComboboxFor(u => u.LeavingReasonID, Res.Get("PupilLeavingOff_Label_LeavingReason")
                            , (SelectList)ViewData[PupilProfileChildrenConstants.LISTLEAVINGREASON]
                            , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>() { }
                            , true)
            @Html.ViettelEditorFor(model => model.Description, new Dictionary<string, object> { {"rows", "5"}}, false, false)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmLeavingOffPupil')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @if (Model.PupilLeavingOffID.HasValue && Model.PupilLeavingOffID.Value > 0)
            {
                @Html.ViettelButton(Res.Get("PupilLeavingOff_Label_Delete"), "button", "fn_PupilLeavingOffDelete(" + Model.PupilLeavingOffID.Value + ")", "btn btn-basic btn-round")
            }
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('DialogLeavingOffPupil');", "btn btn-basic btn-round")
        </div>
    }
    <script type="text/javascript">
        function LeavingOffPupilSuccess(msg) {
            smas.alert(msg);
            if (msg.Type == 'success') {
                search();
                setTimeout(function () { smas.closeDialog('DialogLeavingOffPupil'); }, 300);
            }
        }

        function LeavingOffPupilFailure(ajaxContext) {

        }

        function fn_PupilLeavingOffDelete(pupilLeavingOffID) {
            var Semester_checked = $("#Semester").val();
        
            smas.confirm('@Html.Raw(Res.Get("Common_Delete_Children"))', function () {

                $.ajax({
                    url: '@Url.Action("Delete", "PupilLeavingOff", new { area = "PupilLeavingOffArea" })',
                     type: 'post',
                     data: { id: pupilLeavingOffID, semester: Semester_checked },
                     beforeSend: function () {
                         smas.showProcessingDialog();
                     },
                     success: function () {
                         smas.alertColor('@Res.Get("Common_Label_DeleteSuccessMessage")', 'green');
                         smas.closeDialog('DialogLeavingOffPupil');
                         smas.hideProcessingDialog();
                         search();
                 },
                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                         smas.alert(XMLHttpRequest.responseText);
                     }
                 });
            })
        }

        $(document).ready(function () {
            //Validate form
            $.validator.unobtrusive.parse($("#frmLeavingOffPupil"));

            //Tieu de cua dialog
            $("#DialogLeavingOffPupil").data('tWindow').title("@Html.Raw(Res.Get("PupilProfile_Dialog_LeavingOffPupil"))" + "@Html.Raw(Model.FullName)");

            // Dat gia tri cua combobox hoc ky
            $("#Semester").val("@listSemesters.SelectedValue");
        });
    </script>
