﻿@model PupilProfileChildrenViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@using SMAS.Web.Areas.PupilProfileChildrenArea
@{
    decimal? weight = null;
    decimal? height = null;
    if(Model != null)
    {
        weight = Model.WeightAtBirth;
        height = Model.HeightAtBirth;
    }
}
<div>
    <div class="row">
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.EthnicID, Res.Get("PupilProfile_Label_Ethnic"),
                     ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTETHNIC]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
                 {"OnChange","oncboEthnicChange(this);"}
            }, false)
        </div>
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.OtherEthnicID, Res.Get("Tên gọi khác (Dân tộc)"),
                     ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTOTHERETHNIC]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)
        </div>
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.ReligionID, Res.Get("PupilProfile_Label_Religion"),
                     ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTRELIGION]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.PriorityTypeID, Res.Get("PupilProfile_Label_PriorityType"), ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTPRIORITYTYPE]),GlobalConstants.PLACEHOLDER_CHOICE,
                 new Dictionary<string, object>() { }, false)
        </div>
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.PolicyTargetID, Res.Get("PupilProfile_Label_PolicyTarget"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTPOLICYTARGET]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {}, false)      
        </div>
        <div class="col-md-4">
             @Html.ViettelComboboxFor(pp => pp.PolicyRegimeID, Res.Get("PupilProfile_Label_PolicyRegime"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTPOLICYREGIME]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="inline-block mg-checkbox p-t-5">
                 @Html.ViettelCheckBoxFor(model => model.CheckIsDisabled,
                new Dictionary<string, object>()
                {
                    {"OnChange","oncbIsDisabledChange(this);"}
                    
                }, Res.Get("PupilProfile_Label_IsDisabled"),
                false, true) 
            </div>
        </div>
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.DisabledTypeID, Res.Get("PupilProfile_Label_DisabledType"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTDISABLEDTYPE]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {}, false)
        </div>
        <div class="col-md-4">
            @Html.ViettelTextboxFor(pp => pp.DisabledSeverity, Res.Get("PupilProfile_Label_DisabledSeverity"), new Dictionary<string, object>()
            {
            }, false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ViettelComboboxFor(pp => pp.AreaID, Res.Get("PupilProfile_Label_Area"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTAREA]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)
        </div>
        <div class="col-md-4">
             @Html.ViettelTextboxFor(pp => pp.Telephone, Res.Get("PupilProfile_Label_Telephone"), new Dictionary<string, object>()
                  {
                      {"maxlength","15"},
                      {"class","integer"}
                  }, false)
        </div>
        <div class="col-md-4">
            @Html.ViettelTextboxFor(pp => pp.ChildOrder, Res.Get("PupilProfile_Label_ChildOrder"),
            new Dictionary<string, object>()
            {   {"class","integer"},  
                {"maxlength","2"}                               
            }, false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          @Html.ViettelComboboxFor(pp => pp.BloodType, Res.Get("PupilProfile_Label_BloodType"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTBLOODTYPE]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)
        </div>
        <div class="col-md-4">
            <div class="vt-control">
                <div class="editor-label">
                    <label for="">Chiều cao lúc mới sinh (cm)</label>
                </div>
                <div class="editor-field">
                    <input type="text" id ="HeightAtBirth" value ="@height" name="HeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="vt-control">
                <div class="editor-label">
                    <label for="">Cân nặng lúc mới sinh (kg)</label>
                </div>
                <div class="editor-field">
                    <input type="text" id ="WeightAtBirth" value ="@weight" name="WeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>
                </div>
            </div>
        </div>
    </div>
    <div class="vt-EditorPanel-Control">
         

      @*  @Html.ViettelComboboxFor(pp => pp.ProvinceID, Res.Get("PupilProfile_Label_Province"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTPROVINCE]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
                {"OnChange","oncboProvinceChange(this);"}
            }, true)

        @Html.ViettelComboboxFor(pp => pp.DistrictID, Res.Get("PupilProfile_Label_District"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTDISTRICT]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
                {"OnChange","oncboDistrictChange(this);"}
            }, false)

        @Html.ViettelComboboxFor(pp => pp.CommuneID, Res.Get("PupilProfile_Label_Commune"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTCOMMUNE]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)*@

        @*@Html.ViettelTextboxFor(pp => pp.PermanentResidentalAddress, Res.Get("PupilProfile_Label_PermanentResidentalAddress"), new Dictionary<string, object>()
                  {
                      {"maxlength","256"}
                  }, false)
        <br />
        @Html.ViettelTextboxFor(pp => pp.TempResidentalAddress, Res.Get("PupilProfile_Label_TempResidentalAddress"), new Dictionary<string, object>()
                  {
                      {"maxlength","256"}
                  }, false)
        <br />*@

       @* @Html.ViettelComboboxFor(pp => pp.FamilyTypeID, Res.Get("PupilProfile_Label_FamilyType"),
            ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTFAMILYTYPE]), GlobalConstants.PLACEHOLDER_CHOICE,
            new Dictionary<string, object>()
            {
            }, false)*@

@*        @Html.ViettelTextboxFor(pp => pp.HeightAtBirth, Res.Get("PupilProfile_Label_HeightAtBirth"), new Dictionary<string, object>()
                  {                  
                      {"class","decimal"}
                      //{ "onkeypress", "return ValidationDecimal(event)" }
                  }, false)<span>cm</span>*@
        
       @* <div style="float: left; padding-top: 3px;">cm</div>*@

    @*    @Html.ViettelTextboxFor(pp => pp.WeightAtBirth, Res.Get("PupilProfile_Label_WeightAtBirth"), new Dictionary<string, object>()
                  {                  
                   {"class","decimal"}
                   //{ "onkeypress", "return ValidationDecimal(event)" }
                  }, false)
        <div style="float: left; padding-top: 3px;">kg</div>*@
        @*<div class="vt-control">
        <table>
            <tr>
                <td style="width:200px;">Chiều cao, cân nặng lúc mới sinh</td>
                <td>
                    <input type="text" style="width:70px; height:20px;" id ="HeightAtBirth" value ="@height" name="HeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>cm
                    <input type="text" style="width:70px; height:20px;" id ="WeightAtBirth" value ="@weight" name="WeightAtBirth" class="decimal" onkeypress="return ValidationDecimal(event);" maxlength="4"/>kg
                </td>
            </tr>
        </table>
            </div>*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#CheckIsDisabled").is(":checked")) {
            $("#DisabledTypeID").removeAttr("disabled");
            $("#DisabledSeverity").removeAttr("disabled");
        }
        else {
            $("#DisabledTypeID").attr("disabled", "disabled");
            $("#DisabledSeverity").attr("disabled", "disabled");
        }
        if (parseInt($("#PolicyTargetID").val()) > 0) {
            $("#PolicyRegimeID").removeAttr("disabled");

        }
        else {
            $("#PolicyRegimeID").attr("disabled", "disabled");
        }
        var hei = $("#HeightAtBirth").val();
        var maxlength = hei.length;
        if (parseInt(hei.length) > 4) {
            $("#HeightAtBirth").val(hei.substring(0, 4))
            
        }
        if (hei.substring(maxlength - 1, maxlength) == "0" && parseInt(hei.indexOf(",")) > 0) {
            $("#HeightAtBirth").val(hei.substring(0, maxlength - 1))
        }
        var wei = $("#WeightAtBirth").val();
        var maxlength_hei = wei.length;
        if (parseInt(wei.length) > 4) {
            $("#WeightAtBirth").val(wei.substring(0, 4))

        }
        if (wei.substring(maxlength_hei - 1, maxlength_hei) == "0" && parseInt(wei.indexOf(",")) > 0) {
            $("#WeightAtBirth").val(wei.substring(0, maxlength_hei - 1))
        }
    });

    $("#PolicyTargetID").change(function () {
        if (parseInt($("#PolicyTargetID").val()) > 0) {
            $("#PolicyRegimeID").removeAttr("disabled");

        }
        else {
            $("#PolicyRegimeID").attr("disabled", "disabled");
        }
    });

    $("#HeightAtBirth").removeAttr("data-val");
    $("#WeightAtBirth").removeAttr("data-val");
        function ValidationDecimal(e) {
            var key;
            if (window.event)
                key = window.event.keyCode;     //IE
            else
                key = e.which;     //firefox      
            if (key == 13) {
                return false;
            }
            if (key < 48 || 57 < key) {            
                if (key != 8 && key != 0 && key !=32 && key !=44) {
                    return false;
                }
            }
        } 
    function oncboProvinceChange(cboProvince) {
        frmId = $(cboProvince).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #DistrictID"),
            '@Url.Action("AjaxLoadDistrict", "PupilProfileChildren")',
            { ProvinceID: $(cboProvince).val() },
            '@Res.Get("SelectRK")'
        );
            $("#" + frmId + " #CommuneID").html("<option value=''>@Res.Get("SelectRK")</option>");
    }

    function oncboDistrictChange(cboDistrict) {
        frmId = $(cboDistrict).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #CommuneID"),
            '@Url.Action("AjaxLoadCommune", "PupilProfileChildren")',
            { DistrictID: $(cboDistrict).val() },
            '@Res.Get("SelectRK")'
        );
    }

        function oncboEthnicChange(cboEthnic) {
            frmId = $(cboEthnic).closest('form').get(0).id;
            controlUtils.loadComboBox(
                $("#" + frmId + " #OtherEthnicID"),
                '@Url.Action("AjaxLoadOtherEthnic", "PupilProfileChildren")',
                { EthnicID: $(cboEthnic).val() },
                '@Res.Get("SelectRK")'
            );
        }

        function cbIsYoungPioneerMemberChanged(chkIsYoungPioneerMember) {
            frmId = $(chkIsYoungPioneerMember).closest('form').get(0).id;
            var b = $(chkIsYoungPioneerMember)[0].checked;
            if (!b) {

                $("#" + frmId + " #YoungPioneerJoinedDate").attr("disabled", true);
                $("#" + frmId + " #YoungPioneerJoinedDate").parent().find(".t-select").attr("style", "display:none");
            } else {

                $("#" + frmId + " #YoungPioneerJoinedDate").removeAttr("disabled");
                $("#" + frmId + " #YoungPioneerJoinedDate").parent().find(".t-select").attr("style", "display:");
            }
        }

        function cbIsYouthLeageMemberChanged(chkIsYouthLeageMember) {
            frmId = $(chkIsYouthLeageMember).closest('form').get(0).id;
            var b = $(chkIsYouthLeageMember)[0].checked;
            if (!b) {

                $("#" + frmId + " #YouthLeagueJoinedDate").attr("disabled", true);
                $("#" + frmId + " #YouthLeagueJoinedDate").parent().find(".t-select").attr("style", "display:none");
            } else {

                $("#" + frmId + " #YouthLeagueJoinedDate").removeAttr("disabled");
                $("#" + frmId + " #YouthLeagueJoinedDate").parent().find(".t-select").attr("style", "display:");
            }
        }

        function cbIsCommunistPartyMemberChanged(chkIsCommunistPartyMember) {
            frmId = $(chkIsCommunistPartyMember).closest('form').get(0).id;
            var b = $(chkIsCommunistPartyMember)[0].checked;
            if (!b) {

                $("#" + frmId + " #CommunistPartyJoinedDate").attr("disabled", true);
                $("#" + frmId + " #CommunistPartyJoinedDate").parent().find(".t-select").attr("style", "display:none");
            } else {

                $("#" + frmId + " #CommunistPartyJoinedDate").removeAttr("disabled");
                $("#" + frmId + " #CommunistPartyJoinedDate").parent().find(".t-select").attr("style", "display:");
            }
        }

        function oncbIsDisabledChange(cbIsDisabled) {
            frmId = $(cbIsDisabled).closest('form').get(0).id;
            var b = $(cbIsDisabled)[0].checked;
            if (!b) {
                $("#" + frmId + " #DisabledTypeID").attr("disabled", true);
                $("#" + frmId + " #DisabledSeverity").attr("disabled", true);
            } else {
                $("#" + frmId + " #DisabledTypeID").removeAttr("disabled");
                $("#" + frmId + " #DisabledSeverity").removeAttr("disabled");
            }
        }

</script>
