﻿@model PupilProfileChildrenViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@using SMAS.Web.Areas.PupilProfileChildrenArea
@{
    GlobalInfo global = new GlobalInfo();
    var day = (DateTime)ViewData[PupilProfileChildrenConstants.FirstStartDate];
    int date = day.Day;
    int month = day.Month;
    int year = day.Year;
    
}
<div id="pnGeneralInfo">
    <div class="row">
        <div class="col-sm-3">
            <div class="image-box">
                <div class="position-avata">
                    @if (@Model != null && @Model.PupilProfileID != null)
                    {
                        <img id="imageId"  height="180px" width="180px" border="1" src="@Url.Action("Show", "Image", new { id = @Model.PupilProfileID })" alt="Hình ảnh"/>
                    }
                    else
                    {
                        <img id="imageId"  height="180px" width="180px" border="1" src="@Url.Content("~/Content/images/default_avatar.png")" alt="Hình ảnh"/>
                    }
                </div>
                <div class="image-selector">
                    @(
                        Html.Telerik().Upload()
                          .Name("ImageUploader")
                          .Multiple(false)
                          .ShowFileList(false)
                          .HtmlAttributes(new {@class = "ButtonStyle Button2Style Sprite1" })
                          .Async(async => async
                          .Save("SaveImage", "PupilProfileChildren")
                          .AutoUpload(true)).ClientEvents(events => events
                          .OnLoad("onImageLoad")
                           .OnUpload("onImageUpload")
                            .OnSuccess("onImageUploadSuccess"))
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-9 p-l-0">
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.EducationLevel, Res.Get("PupilProfile_Label_EducationLevel_MN"),
                                ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LIST_EDUCATION_LEVEL]), GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>()
                                {
                                {"OnChange","oncboEducationLevelChange(this);"}
                                }, true)
                </div>
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.CurrentClassID, Res.Get("PupilProfile_Label_Class_MN_Edit"),
                                        ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTCLASS]), GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>()
                                {
                                }, true)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelTextboxFor(pp => pp.PupilCode, Res.Get("PupilProfileChildren_Label_PupilCode"), new Dictionary<string, object>()
                                {
                                    {"maxlength","30"}
                                }, true)
                </div>
                <div class="col-md-6 p-t-5">
                    <div class="inline-block mg-checkbox">
                        @Html.ViettelCheckBoxFor(pp => pp.AutoGenCode, new Dictionary<string, object>()
                                {
                                      {"onChange","cbAutoGenCodeChanged(this)"}
                                }, Res.Get("Common_Label_AutoGenCode"), false, true) 
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.ProfileStatus, Res.Get("PupilProfile_Label_Status"),
                     ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTSTATUS]), GlobalConstants.NO_PLACEHOLDER,
                    new Dictionary<string, object>()
                    {
                    }, true)
                    
                </div>
                <div class="col-md-6">
                    @Html.ViettelTextboxFor(pp => pp.StorageNumber, Res.Get("PupilProfile_Label_StorageName"), new Dictionary<string, object>()
                                {
                                    {"maxlength","30"}
                                }, false)
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                     @Html.ViettelTextboxFor(pp => pp.FullName, Res.Get("PupilProfile_Label_FullName"), new Dictionary<string, object>()
                    {
                        {"maxlength","100"}
                    }, true)
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(pp => pp.BirthDate, new Dictionary<string, object>()
                    {
                    })
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                     @Html.ViettelComboboxFor(pp => pp.Genre, Res.Get("PupilProfile_Label_Genre"),
                     ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTGENRE]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                    }, true)    
                </div>
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.ProvinceID, Res.Get("PupilProfile_Label_Province"),
                    ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTPROVINCE]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                        {"OnChange","oncboProvinceChange(this);"}
                    }, true)
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.DistrictID, Res.Get("PupilProfile_Label_District"),
                    ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTDISTRICT]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                        {"OnChange","oncboDistrictChange(this);"}
                    }, false)
                </div>
                <div class="col-md-6">
                     @Html.ViettelComboboxFor(pp => pp.CommuneID, Res.Get("PupilProfile_Label_Commune"),
                    ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTCOMMUNE]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                    }, false)
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelHiddenFor(p=>p.VillageID)
                    @Html.ViettelTextboxFor(pp => pp.VillageName, Res.Get("PupilProfile_Label_VillageName"), new Dictionary<string, object>()
                    {
                        {"maxlength","50"}
                    }, false)
                </div>
                <div class="col-md-6">
                     @Html.ViettelEditorFor(pp => pp.EnrolmentDate, new Dictionary<string, object>()
                        {
                        }) 
                        <i class="descriptions mg-b-10">(Ngày vào trường là căn cứ tổng hợp số liệu trong các báo cáo thống kê)</i>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelComboboxFor(pp => pp.EnrolmentType, Res.Get("Hình thức"),
                        ((IEnumerable<SelectListItem>)ViewData[PupilProfileChildrenConstants.LISTENROLMENTTYPE]), GlobalConstants.PLACEHOLDER_CHOICE,
                        new Dictionary<string, object>()
                        {
                        }, false)
                </div>
                <div class="col-md-6">
                     @Html.ViettelTextboxFor(pp => pp.BirthPlace, Res.Get("PupilProfile_Label_BirthPlace"), new Dictionary<string, object>()
                  {
                      {"maxlength","256"}
                  }, false)
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelTextboxFor(pp => pp.HomeTown, Res.Get("PupilProfile_Label_HomeTown"), new Dictionary<string, object>()
                    {
                        {"maxlength","256"}
                    }, false)
                </div>
                <div class="col-md-6">
                    @Html.ViettelTextboxFor(pp => pp.PermanentResidentalAddress, Res.Get("PupilProfile_Label_PermanentResidentalAddress"), new Dictionary<string, object>()
                    {
                        {"maxlength","256"}
                    }, false)
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelTextboxFor(pp => pp.TempResidentalAddress, Res.Get("PupilProfile_Label_TempResidentalAddress"), new Dictionary<string, object>()
                  {
                      {"maxlength","256"}
                  }, false)
                </div>
                <div class="col-md-6"></div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6"></div>
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">

    function onImageLoad(e) {
    }
    function onSelect(e) {
    }
    function onImageUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".jpg") || (this.extension == ".bmp")
                || (this.extension == ".ico") || (this.extension == ".gif")
                || (this.extension == ".png") || (this.extension == ".jpeg")
                || (this.extension == ".JPG") || (this.extension == ".BMP")
                || (this.extension == ".ICO") || (this.extension == ".GIF")
                || (this.extension == ".PNG") || (this.extension == ".JPEG")
                ) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize <= 1024) {
                        return true;
                    }
                    smas.alert('@Res.Get("PupilProfile_Label_ImageUploadSize")')
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert('@Res.Get("PupilProfile_Label_ImageUploadFormat")')
                e.preventDefault();
                return false;
            }
        });
    }
    function onImageUploadSuccess(e) {
        var filepath = '@Url.Content("~/Uploads/Photos/")' + e.response.Message;
        $("#imageId").attr("src", filepath);

    }
    function onError(e) {
        e.preventDefault(); // Suppress error message
    }
    function onComplete(e) {
    }
    function onCancel(e) {
    }

    function onRemove(e) {
        var filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath)

    }
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }
</script>
<script type="text/javascript">

    //    $(document).ready(function () {

    //        $(".btnUploaderCss").find('span:first').text("...");

    //    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".t-upload").find('span:first').text("Tải hình");
        var id = $("#CommuneID").val();
        if (parseInt(id) > 0) {
            $("#VillageName").removeAttr("disabled");
        }
        else {
            $("#VillageName").attr("disabled", "disabled");
        }
        var enrolDate = $("#EnrolmentDate").val();
        if (enrolDate == null || enrolDate == "" || enrolDate.length == 0) {
            var today = new Date(parseInt(@year), parseInt(@month), parseInt(@date));
            var date = ('0' + today.getDate()).slice(-2) + '/' +  ('0' + today.getMonth()).slice(-2) + '/'+ today.getFullYear() ;
            $("#EnrolmentDate").val(date);
        }

        
    });
    function oncboEducationLevelChange(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #CurrentClassID"),
            '@Url.Action("AjaxLoadClassCreate", "PupilProfileChildren")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("SelectRK")'
        );
        }
   

        function cbAutoGenCodeChanged(chkAutoGenCode) {
            frmId = $(chkAutoGenCode).closest('form').get(0).id;
            var b = $(chkAutoGenCode)[0].checked;
            if (b) {
                $("#" + frmId + " #PupilCode").attr("disabled", true);
            } else {
                $("#" + frmId + " #PupilCode").removeAttr("disabled");
            }
        }

        $("#CommuneID").change(function () {
            var id = $("#CommuneID").val();
            if (parseInt(id) > 0) {
                $("#VillageName").removeAttr("disabled");
            }
            else {
                $("#VillageName").attr("disabled", "disabled");
            }
        });

</script>
@*<style type="text/css">
    .vt-span .vt-control {
        width: 100% !important;
    }

        .vt-span .vt-control .editor-label {
            width: 13% !important;
        }

        .vt-span .vt-control .editor-field {
            width: 87% !important;
        }
</style>*@
<style type="text/css">
    .t-dropzone{text-align:center}.t-upload-button{left:28px}
    .vt-control .editor-field input { width: 100%}
</style>
