﻿@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.PupilProfileChildrenArea;
@{
    List<MonthlyGrowthBO> lstMonthlyGrowthBO = (List<MonthlyGrowthBO>)ViewData[PupilProfileChildrenConstants.LIST_CHART];
    Html.Telerik().Chart<MonthlyGrowthBO>(lstMonthlyGrowthBO)
        .Name("WeightChart")
        .HtmlAttributes(new { @style = "height: 490px; weight: 705px; width: 827px;  z-index: 1;" })
        .Legend(legend => legend.Visible(false))
        .AxisDefaults(axis =>
        {
            axis.MajorGridLines(p => p.Visible(false));
            axis.MinorGridLines(p => p.Visible(false));
            axis.MajorTickSize(0);
            axis.MinorTickSize(0);
            axis.Line(0, "#ddd", ChartDashType.Dash);
        })
        .Title("")
        .Series(s =>
        {
            s.Line(p => p.Weight)
                .Color("blue")
                .Labels(p => p.Visible(false).Color("#FF5567").Font("bold 14px Arial, sans-serif"))
                .Markers(p => p.Visible(true).Background("blue"));
        })
        .ValueAxis(axis =>
        {
            axis.Numeric().Min(0).Max(30).Labels(false);
        })
        .CategoryAxis(axis =>
        {
            axis.Categories(p => p.Month);
            axis.Labels(false);

        })
        .Tooltip(t => t.Visible(true))
        .Render();
}
