﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileChildrenArea.Models
@using SMAS.Web.Areas.PupilProfileChildrenArea
@{
    PupilProfileChildrenViewModel thisPupil = ViewData[PupilProfileChildrenConstants.PUPILPROFILE_MODEL_FOR_DETAIL] as PupilProfileChildrenViewModel;
 }
@Html.ViettelHidden("hidPupil", thisPupil.PupilProfileID)
<div id="divDetail">

    @{ Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            //chi tiet ho so tre
            tabstrip.Add()
                .Text(Res.Get("PupilProfileChildren_Label_Detail"))
                .Content(
        @<text>
        @Html.Partial("_Detail", thisPupil)
        </text>
                );

            //tang truong thang - baolvt - chức năng này không còn dùng nữa
            /*tabstrip.Add()
                .Text(Res.Get("PupilProfileChildren_Label_MonthlyGrowth"))

                .Content(
        @<text>
        @Html.Partial("_DetailChildrenMonthlyGrowth")
        </text>
                );*/

            // suc khoe dinh ky
            tabstrip.Add()
           .Text(Res.Get("PupilProfileChildren_Label_PeriodicHealth"))

           .Content(
        @<text>
        @Html.Partial("_DetailChildrenPeriodicHealth")
        </text>
           );
        })

        .SelectedIndex(0)
        .Render();
    }
</div>
<div class="dialog-buttons text-right">
    @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "btn btn-basic btn-round")
</div>
<script type="text/javascript">
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "PupilProfileChildren")?forceLoad=1'); // Bien forceLoad la de tim lai danh sach hoc sinh theo cac tieu chi tim kiem truoc do
    }
</script>