﻿@model UsageStatisticModel
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
@{
    DateTime nowDate = DateTime.Now;
    DateTime startMonthDate = new DateTime(nowDate.Year, nowDate.Month, 1);
    GlobalInfo _globalInfo = new GlobalInfo();
    
}
<style type="text/css">

</style>


<div style="width:100%;">
        <div class="vt-SearchPanel vt-InfoPanel">
             <div class="vt-SearchPanelEdit">
            <div class="block">
                <div class="vt-SearchPanel-Title" style="text-transform:none">Báo cáo tình hình sử dụng dịch vụ nhắn tin</div>
                <div class="vt-SearchPanel-Content">
                    <div class="search-term">
                        @{
                            Html.BeginForm("Export", "UsageStatistic", FormMethod.Post, new { id = "frmExport" });
                        }
                        @*@Html.HiddenFor(m => m.pagesize)
                            @Html.HiddenFor(m => m.orderby)*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="vt-control">
                                            <div class="editor-label">
                                                @Html.LabelFor(m => m.fromdate)
                                                <span style="color: red; vertical-align: sub; padding-left: 3px;">*</span>
                                            </div>
                                            <div class="editor-field custom-select">
                                                @{
                                                    Html.Telerik().DatePicker()
                                                    .Name("fromdate")
                                                    .Value(startMonthDate)
                                                        //.ClientEvents(events => events.OnChange("SelectClass"))
                                                    .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style"})
                                                    .Max(DateTime.Now)
                                                    .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                                                    .Render();
                                                }
                                                @*@Html.ValidationMessageFor(m => m.fromdate)*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="vt-control">
                                            <div class="editor-label">
                                                @Html.LabelFor(m => m.todate)
                                                <span style="color: red; vertical-align: sub; padding-left: 3px;">*</span>
                                            </div>
                                            <div class="editor-field custom-select" >
                                            @{
                                                Html.Telerik().DatePicker()
                                                .Name("todate")
                                                .Value(DateTime.Now)
                                                    //.ClientEvents(events => events.OnChange("SelectClass"))
                                                .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                                                .Max(DateTime.Now)
                                                .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                                                .Render();
                                                }
                                                
                                                @*@Html.ValidationMessageFor(m => m.todate)*@
                                            </div>
                                        </div>                                           
                                    </div>
                                </div>                 
                    </div>              
                </div>
                <div class="vt-SearchPanel-Button">
                        @if (_globalInfo.IsRolePrincipal || _globalInfo.IsAdmin)
                                    {
                                    <input type="submit"  class="btn btn-info btn-round btn-icon btn-icon-excel" value="Xuất Excel" style="display:none"/>
                                    <input type="button" class="btn btn-info btn-round btn-icon btn-icon-excel" onclick="CheckValidate()" value="Xuất Excel" />
                                    }
                     
                        @{
                            Html.EndForm();
                        }
                    </div>   
            </div>
        </div>
        </div>    
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
            <div class="vt-SearchPanel-Title " style="text-transform:none">Mẫu báo cáo</div>
            <div>
                <iframe id="ContentSemester" style="width:100%;height:600px;" src="/HtmlTemplate/BC_Chi_Tiet/BC_Chi_Tiet.htm"></iframe>    
            </div>
        </div>     
</div>

<script>
    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1] - 1, mdy[0]);
    };
    function isDate(txtDate) {
        var currVal = txtDate;
        //Declare Regex 
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern); // is format OK?

        if (dtArray == null)
            return 0;

        //Checks for dd/mm/yyyy format.
        dtDay = dtArray[1];
        dtMonth = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12)
            return 1;
        else if (dtDay < 1 || dtDay > 31)
            return 1;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return 1;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return 1;
        }
        return 2;
    };
    //CHECK FORMAT DATE
    function CheckValidate() {
        var checkVali = true;
        var fromD = $('#fromdate').val().toString();
        var toD = $('#todate').val().toString();
        var fDate = parseDate(fromD).getTime();
        var tDate = parseDate(toD).getTime();
        var d = new Date();
        var day = d.getDate().toString();
        var month = (d.getMonth() + 1).toString();
        if (day.length == 1) {
            day = '0' + day;
        }
        if (month.length == 1) {
            month = '0' + month;
        }
        var nDate = day + '/' + month + '/' + d.getFullYear();

        if (fromD == '' || toD == '') {
            smas.alert("Thầy cô phải chọn Khoảng thời gian để xuất báo cáo");
            checkVali = false;
        }
        else if (isDate(fromD) == 0 && fromD != '') {
            smas.alert("Ngày tháng không hợp lệ");
            checkVali = false;
        }
        else if (isDate(fromD) == 1) {
            smas.alert("Ngày tháng không hợp lệ");
            checkVali = false;
        }

        else if (isDate(toD) == 0) {
            smas.alert("Ngày tháng không hợp lệ");
            checkVali = false;
        }
        else if (isDate(toD) == 1) {
            smas.alert("Ngày tháng không hợp lệ");
            checkVali = false;
        }
        else if (fDate > tDate) {
            smas.alert("Thông tin Từ ngày phải nhỏ hơn Đến ngày");
            checkVali = false;
        }
         if (checkVali == true) {
             var FromDate = $('#fromdate').val();
             var ToDate = $('#todate').val();
             FromDate = dateUtils.ConvertDateUS(FromDate);
             ToDate = dateUtils.ConvertDateUS(ToDate);
             window.open('@Url.Action("Export")' + "?fromdate=" + FromDate + "&todate=" + ToDate);
        }
        return checkVali;
    }
</script>