﻿@model ReportInfoViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamResultReportArea.Models
@using SMAS.Web.Areas.ExamResultReportArea
@using SMAS.Web.Constants

@{
    Layout = "~/Areas/ExamResultReportArea/Views/Shared/_ReportLayout.cshtml";

    int appliedLevel = (int)ViewData[ExamResultReportConstants.APPLIED_LEVEL];
    int infoPanel = (appliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || appliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY) ? 3 : 2;
}

<form id="frmReport">
    @Html.AntiForgeryToken()
   <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-@infoPanel exam-mark-by-class-statistic-report">
       <div class="vt-SearchPanel-Title">
           <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            @Res.Get("ExamResultReport_Title_ExamMarkByClassStatistic")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorFor(model => model.ExaminationsID)    
            @Html.ViettelEditorFor(model => model._SubjectID, new Dictionary<string, object>() {{"id", "_SubjectID"} })
            @if (appliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || appliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
            {
            @Html.ViettelEditorFor(model => model.StatisticLevelReportID)
            }
            <fieldset>
                <legend>@Res.Get("ExamResultReport_Label_AddCondition")</legend>
                 @Html.ViettelCheckBoxFor(model => model.FemalePupil, new Dictionary<string, object>(), Res.Get("ExamResultReport_Label_FemalePupil"), false, true)
                @Html.ViettelCheckBoxFor(model => model.EthnicPupil, new Dictionary<string, object>(), Res.Get("ExamResultReport_Label_EthnicPupil"), false, true)
            </fieldset>
        </div>
        <div class="vt-SearchPanel-Button">
           @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", false, "btn btn-info btn-icon btn-round btn-icon-excel")
           @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>

<script type="text/javascript">
    function ExportClick() {
        smas.getReport("frmReport", '@Url.Action("GetReport", "ExamMarkByClassStatisticReport")',
                  '@Url.Action("GetNewReport", "ExamMarkByClassStatisticReport")', '@Url.Action("DownloadReport", "ExamMarkByClassStatisticReport")');
    }

    function SubmitPDFClick() {
        var blank = '_blank';
        smas.getReportDocument('frmReport', '@Url.Action("GetReport", "ExamMarkByClassStatisticReport")',
        '@Url.Action("GetNewReport", "ExamMarkByClassStatisticReport")', '@Url.Action("DownloadPDFReport", "ExamMarkByClassStatisticReport")', blank);
    }

    function onExaminationsChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        controlUtils.loadComboBox(
                     $("#_SubjectID"),
                    '@Url.Action("AjaxLoadSubject", "ExamMarkByClassStatisticReport")',
                                { examinationsID: examinationsID },
                                '@Res.Get("All")', '')
                            }

</script>


