﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Utils

@{
    ViewBag.Title = Res.Get("Common_Label_SelectLevel");
    Layout = "";
}
<head>
   <title>SMAS - Hệ thống quản lý nhà trường</title>
</head>

              

<body onload='document.forms["form"].submit()'>
    <form name='form' action='@ViewData["mainUrl"]' method='post'>
        
            

    

        <div id="container">
            <div class="ImageFirst">
                <img src="../../Content/Images/loading_big.gif" style="width: 130px" />
            </div>
            <div class="Clear"></div>
            <div class="Title">
                Hệ thống đang xử lý...
            </div>
            </div>
     </form>
    
</body>


<div class="Clear"></div>


<script type="text/javascript">
    
</script>
<style type="text/css">
    .ImageFirst{padding-top:250px;text-align:center}.Title{padding-top:20px;text-align:center;color:#205175;font-size:20px;font-weight:700}#container{width:1000px;margin:0 auto}body{background:#fff url(../../Content/images/bg_body.jpg) top center no-repeat}
</style>

<script type="text/javascript">     
    

</script>
