﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.KinderGartenReportArea.Models
@using SMAS.Web.Areas.KinderGartenReportArea
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers

@{
    ViewBag.Title = Res.Get("ReportInputMonitoringSituation_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo globalInfo = new GlobalInfo();
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
    <div class="vt-SearchPanel-Title">Tiêu chí báo cáo</div>
    <div class="vt-SearchPanel-Content">
        <div class="row">
            <div class="col-md-6">
                @Html.ViettelComboboxFor(u => u.AcademicYearID, Res.Get("AcademicYear_Label_Year"), (SelectList)ViewData[KinderGartenReportConstants.LS_YEAR], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                    null, false)
            </div>
            <div class="col-md-6">
                 @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("ReportInputMonitoringSituation_Label_District"), (SelectList)ViewData[KinderGartenReportConstants.LS_DISTRICT],
                                (globalInfo.IsSuperVisingDeptRole || globalInfo.IsAdmin) ? SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL : SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                            null, false)
            </div>
        </div>
        <span id="Message"></span>
    </div>
    <div class="vt-SearchPanel-Button">
        <div class="vt-form-button">
            @Html.ViettelButton("Tổng hợp mới", "button", "CreateReport()", "btn btn-info btn-round", "btnGeneral")
            @Html.ViettelButton("Xuất excel", "button", "ExportReport()", "btn btn-info btn-round btn-icon btn-icon-excel", "btnExport")
        </div>
    </div>

</div>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="margin-left: 37px; height: 500px">
    <iframe id="TemplateId" name="TemplateId" src="/HtmlTemplate/TongHopSoLieu/KinterGarten_Report.htm" style="width: 100%; height: 100%;"></iframe>
</div>
<script>
    var imageProcessing = '<img src="../../../../Content/images/smas_processing.gif" />';
    function CreateReport() {
        var data = new Object();
        data.AcademicYearID = $("#AcademicYearID").val();
        data.DistrictID = ($("#DistrictID").val() == null) ? 0 : $("#DistrictID").val();
        if ($("#AcademicYearID").val() == null || $("#AcademicYearID").val() == '') {
            return smas.alertColor('Năm học chưa được khai báo.', 'red');
        }

        $.ajax({
            url: '@Url.Action("CreatedReport", "KinderGartenReport")',
            type: 'post',
            data: data,
            beforeSend: function () {
                $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                $("#btnGeneral").attr("disabled", "disabled");
                $("#btnExport").attr("disabled", "disabled");
            },
            success: function (data) {
                if (data.Type == "success") {
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    $("#btnGeneral").removeAttr("disabled");
                    $("#btnExport").removeAttr("disabled");
                } else {
                    $('#Message').html("Lỗi tổng hợp báo cáo xin F5 để thử lại.");
                    $("#btnGeneral").attr("disabled", "disabled");
                    $("#btnExport").attr("disabled", "disabled");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function ExportReport() {
        var AcademicYearID = $("#AcademicYearID").val();
        var DistrictID = $("#DistrictID").val();
        if ($("#AcademicYearID").val() == null || $("#AcademicYearID").val() == '') {
            return smas.alertColor('Năm học chưa được khai báo.', 'red');
        }
        if (DistrictID == "") {
            DistrictID = 0;
        }
        var downloadUrl = '@Url.Action("ExportReport", "KinderGartenReport")';
        downloadUrl += '?academicYearID=' + AcademicYearID;
        downloadUrl += '&districtID=' + DistrictID;

        window.open(downloadUrl);
    }
</script>
