﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PointReportArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = Res.Get("PointReport_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="PointReportForm">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Content">
        <table>
            <tr>
                <td style="width: 50%">
                    @Html.ViettelRadioButton("rdoReportType", 1, true, new Dictionary<string, object> { 
                { "onclick", "clickrdoPeriod()" }, 
                { "id", "rdoPeriod" } 
            })
                    @Res.Get("PointReport_Label_ByPeriod")
                    <br />
                    @Html.ViettelRadioButton("rdoReportType", 2, false, new Dictionary<string, object> { 
                { "onclick", "clickrdoSemester()" }, 
                { "id", "rdoSemester" } 
            })
                    @Res.Get("PointReport_Label_BySemester")
                </td>
                <td style="width: 50%">
                    @(Html.ViettelCombobox(Res.Get("PointReport_Label_EducationLevel"), "EducationLevelID",
                                new SelectList((IEnumerable<EducationLevel>)ViewData[PointReportConstants.LS_EDUCATION_LEVEL],
                                "EducationLevelID", "Resolution"),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" }, 
                                    { "OnChange", "AjaxLoadClass(this)" } 
                                }, false, false))
                    @(Html.ViettelCombobox(Res.Get("PointReport_Label_Class"), "ClassID",
                                new SelectList((IEnumerable<ClassProfile>)ViewData[PointReportConstants.LS_CLASS],
                                "ClassProfileID", "DisplayName"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" } 
                                }, false, false))
                    @(Html.ViettelCombobox(Res.Get("PointReport_Label_Semester"), "Semester",
                                new SelectList((IEnumerable<ComboObject>)ViewData[PointReportConstants.LS_SEMESTER],
                                "key", "value", ViewData[PointReportConstants.DF_SEMESTER]),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },
                                    { "OnChange", "AjaxLoadPeriod(this)" } 
                                }, false, false))
                    @(Html.ViettelCombobox(Res.Get("PointReport_Label_Period"), "PeriodDeclarationID",
                                new SelectList((IEnumerable<PeriodDeclaration>)ViewData[PointReportConstants.LS_PERIOD],
                                "PeriodDeclarationID", "Resolution"),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" }
                                }, false, false))
                    @(Html.ViettelCombobox(Res.Get("PointReport_Label_PaperSize"), "PaperSize",
                                new SelectList((IEnumerable<ComboObject>)ViewData[PointReportConstants.LS_PAPER_SIZE],
                                "key", "value"),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" }
                                }, false, false))
                </td>
            </tr>
        </table>
    </div>
    <div class="vt-SearchPanel-Button">
     @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "submit", "", "", "")
    </div>
</div>
</form>
<script type="text/javascript">
    function AjaxLoadClass(EducationLevel) {
        frmId = $(EducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "PointReport")',
            { idEducationLevel: $(EducationLevel).val() },
            '@Res.Get("All")'
        );
    }

    function AjaxLoadPeriod(Semester) {
        frmId = $(Semester).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #PeriodDeclarationID"),
            '@Url.Action("AjaxLoadPeriod", "PointReport")',
            { idSemester: $(Semester).val() }
        );
    }

    function clickrdoPeriod() {
        $('#PeriodDeclarationID').attr("disabled", false);
    }

    function clickrdoSemester() {
        $('#PeriodDeclarationID').attr("disabled", true);
    }

    $('#PointReportForm').submit(function (event) {
        event.preventDefault();
        var reportType = $('input:radio[name=rdoReportType]:checked').val();
        console.log(reportType);
        if (reportType == 1) {
            smas.getReport('PointReportForm', '@Url.Action("GetReportByPeriod", "PointReport")',
            '@Url.Action("GetNewReportByPeriod", "PointReport")', '@Url.Action("DownloadReport", "PointReport")');
        } else {
            smas.getReport('PointReportForm', '@Url.Action("GetReportBySemester", "PointReport")',
            '@Url.Action("GetNewReportBySemester", "PointReport")', '@Url.Action("DownloadReport", "PointReport")');
        }
    });

    //$(document).ready(function () {
    //    AjaxLoadClass($("#EducationLevelID"));
    //    AjaxLoadPeriod($("#Semester"));
    //});   

</script>
