﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryTeacherArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryTeacherArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@using System.Text.RegularExpressions


@{
    List<MonthComments> monthList = new List<MonthComments>();
    List<ClassSubject> subjectList = new List<ClassSubject>();
    List<EvaluationGridModel> result = new List<EvaluationGridModel>();
    GlobalInfo glo = new GlobalInfo();
    int MonthSelect = 0;
    int SubjectID = 0;
    int classId = 0;
    bool checkIsCommenting = false;
    int semester = 0;

    bool isVisibleButton = true;
    string LockMarkTitle = "";
    string DisabledLock = "";
    string TiteComment1 = "";
    string TiteComment2 = "";

    string TiteComment3 = "";
    string TiteComment4 = "";
    string TiteComment5 = "";
    string TiteKTĐK = "";
    string MonthPopup1 = " nhất";
    string MonthPopup2 = " hai";
    string MonthPopup3 = " ba";
    string MonthPopup4 = " tư";
    string MonthPopup5 = " năm";
    int columnWidth1 = 160;
    int columnWidth2 = 160;
    int columnWidth3 = 160;
    int columnWidth4 = 160;
    int columnWidth5 = 160;
    int columnWidthCK = 160;
    bool checkLockSemester = false;
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.LOCK_MARK_TITLE] != null)
    {
        LockMarkTitle = (string)ViewData[MarkRecordOfPrimaryTeacherConstants.LOCK_MARK_TITLE];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.IS_VISIBLED_BUTTON] != null)
    {
        isVisibleButton = (bool)ViewData[MarkRecordOfPrimaryTeacherConstants.IS_VISIBLED_BUTTON];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.CHECK_ISCOMMENTING] != null)
    {
        if ((int)ViewData[MarkRecordOfPrimaryTeacherConstants.CHECK_ISCOMMENTING] == GlobalConstants.SUBJECTCAT_ISCOMMENTING_MARK)
        {
            checkIsCommenting = true;
        }
        else
        {
            checkIsCommenting = false;
        }
    }

    if (ViewData[MarkRecordOfPrimaryTeacherConstants.MONTH_SELECT] != null)
    {
        MonthSelect = (int)ViewData[MarkRecordOfPrimaryTeacherConstants.MONTH_SELECT];
        if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_1 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_6)
        {
            columnWidth1 = 200;
        }
        else if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_2 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_7)
        {
            columnWidth2 = 200;
        }
        else if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_3 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_8)
        {
            columnWidth3 = 200;
        }
        else if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_4 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_9)
        {
            columnWidth4 = 200;
        }
        else if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_5 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_10)
        {
            columnWidth5 = 200;
        }
        else if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_11)
        {
            columnWidthCK = 200;
        }
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.SUBJECT_ID] != null)
    {
        SubjectID = (int)ViewData[MarkRecordOfPrimaryTeacherConstants.SUBJECT_ID];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.CLASS_ID] != null)
    {
        classId = (int)ViewData[MarkRecordOfPrimaryTeacherConstants.CLASS_ID];
    }
    bool VisiableEnding = false;
    if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_11)
    {
        VisiableEnding = true;
    }

    if (ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_PUPIL_EVALUATION] != null)
    {
        result = (List<EvaluationGridModel>)ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_PUPIL_EVALUATION];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_MONTH] != null)
    {
        monthList = (List<MonthComments>)ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_MONTH];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_SUBJECT] != null)
    {
        subjectList = (List<ClassSubject>)ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_SUBJECT];
    }
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[MarkRecordOfPrimaryTeacherConstants.SEMESTER_ID];
    }
    if (semester == 1)
    {
        TiteComment1 = "Tháng<br/>thứ<br/>nhất";
        TiteComment2 = "Tháng<br/>thứ<br/>hai";
        TiteComment3 = "Tháng<br/>thứ<br/>ba";
        TiteComment4 = "Tháng<br/>thứ<br/>tư";
        TiteComment5 = "Tháng<br/>thứ<br/>năm";
        TiteKTĐK = "KTĐK<br/>CKI";
        checkLockSemester = LockMarkTitle.Contains("HK1");
    }
    else
    {
        MonthPopup1 = " sáu";
        MonthPopup2 = " bảy";
        MonthPopup3 = " tám";
        MonthPopup4 = " chín";
        MonthPopup5 = " mười";
        TiteComment1 = "Tháng<br/>thứ<br/>sáu";
        TiteComment2 = "Tháng<br/>thứ<br/>bảy";
        TiteComment3 = "Tháng<br/>thứ<br/>tám";
        TiteComment4 = "Tháng<br/>thứ<br/>chín";
        TiteComment5 = "Tháng<br/>thứ<br/>mười";
        TiteKTĐK = "KTĐK<br/>CKII";
        checkLockSemester = LockMarkTitle.Contains("HK2");
    }

    int columnSubject = 3;
    int heightDialog = 270;
    int totalSubject = subjectList.Count;
    if (totalSubject <= 9)
    {
        heightDialog = 290;
    }
    else
    {

        int totalColumn = 0;
        if (totalSubject % columnSubject == 0)
        {
            totalColumn = totalSubject / columnSubject - columnSubject;
        }
        else
        {
            totalColumn = 1 + (int)(totalSubject / columnSubject);
        }
        heightDialog += 30 * totalColumn;
    }
    List<string> lstComment = (List<string>)ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_COMMENT];
    string tmpComment = "";
    for (int i = 0; i < lstComment.Count; i++)
    {
        tmpComment += lstComment[i] + "@@IdComment_" + i + "©";
    }
    if (!string.IsNullOrEmpty(tmpComment))
    {
        tmpComment = Regex.Replace(tmpComment, @"\t|\n|\r", " ");
        tmpComment = tmpComment.Replace(@"\x", GlobalConstants.STR_SPECIAL_COMMENT_X);
        tmpComment = tmpComment.Replace(@"\u", GlobalConstants.STR_SPECIAL_COMMENT_U);
        tmpComment = tmpComment.Replace(@"'s", "is");
        tmpComment = tmpComment.Replace(@"''", "");
        tmpComment = tmpComment.Replace(@"'", "");
    }
}

@using (Ajax.BeginForm("SaveCommentsbyMonth",
                       "MarkRecordOfPrimaryTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmSubjectAndEducationGroup" }
                       ))
{
    <input type="hidden" name="Tab" id="Tab" value="@MarkRecordOfPrimaryTeacherConstants.TAB_EDUCATION" />
    <input type="hidden" name="HfClassID" id="HfClassID" value="@classId" />
    <input type="hidden" name="HfSemesterID" id="HfSemesterID" value="@semester"/>
    <input type="hidden" name="HfEducationLevelID" id="HfEducationLevelID" value="" />
    <input type="hidden" name="HfIsCommenting" id="HfIsCommenting" value="@ViewData[MarkRecordOfPrimaryTeacherConstants.CHECK_ISCOMMENTING]" />
    @Html.AntiForgeryToken()
    <div id="ContentMark">
        <div id="HeadGrid" class="mg-b-10">
            Tháng:
        <select id="Month" onchange="SearchSubjectAndEducationGroup(false)" name="Month" style="width: 140px;">
            @{ 
    for (int i = 0; i < monthList.Count; i++)
    {
                <option value="@monthList[i].MonthID">@monthList[i].Name</option>   
    }
            }
        </select>&nbsp&nbsp

                Môn:
        <select id="Subject_ID" onchange="SearchSubjectAndEducationGroup(false)" name="Subject_ID" style="width: 140px;">
            @{ 
    for (int i = 0; i < subjectList.Count; i++)
    {
                <option value="@subjectList[i].SubjectID">@subjectList[i].SubjectCat.SubjectName</option>   
    }
            }
        </select>
        </div>
        <div id="GridData">
            <div id="Notes">
                <span>
                    <img src="/Content/images/folder_evaluation.png" width="25" height="25" />Đã nhập nhận xét</span>
                <span>
                    <img src="/Content/images/folder2_evaluation2.png" width="25" height="25"/>Chưa nhập nhận xét</span>
                <span style="float: right">
                    Bấm vào tiêu đề cột <b>Đánh giá</b> đề thực hiện đánh giá cho cả lớp.<br />
                    Trong cột đánh giá,  <b>Hoàn thành</b> thầy cô nhập <b>H</b>, <b>Chưa hoàn thành </b>nhập <b>C.</b> 
                </span>     
            </div>
            @{
    var index = 1;
    Html.Telerik()
        .Grid(result)
        .Name("GridSubjectAndEducationGroup")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Template(@<text>@{
                if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {
<span style ="margin-left:5px;">@item.FullName</span>
                }
                else
                {
<span style="color:red;margin-left:5px;"> @item.FullName</span>
                }          
            }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(200);
            c.Template(@<text>@{ 
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "T1", item.Status, checkIsCommenting, "");
                if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_1 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_6)
                {
<textarea id='@("AreaCommentsM16_" + item.PupilID)' onkeyup="ShowAutoComplete(this,event)" class ="txtComment"  name='@("AreaCommentsM16_" + item.PupilID)' @DisabledLock maxlength="500">@item.Comment1</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment1))
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_1)" />                                           
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_1)" />
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowComments(@item.PupilID,@item.MonthID_1)">
                                                <div id='@("Popup_" + item.MonthID_1 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Môn <span class="TitelSubject"></span> - Tháng thứ @MonthPopup1</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea class="txtComment"  style="border:1px solid #D7D7D7!important" onkeyup="ShowAutoComplete(this,event)" id='@("txapopup_" + item.MonthID_1 + "_" + item.PupilID)' cols="37" rows="6" maxlength="500">@item.Comment1</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                            @if (string.IsNullOrEmpty(DisabledLock) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneComments(@item.PupilID,@item.MonthID_1)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialog(@item.PupilID,@item.MonthID_1)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).Title(TiteComment1).HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth1);
            c.Template(@<text>@{ 
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "T2", item.Status, checkIsCommenting, "");
                if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_2 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_7)
                {
<textarea  id='@("AreaCommentsM27_" + item.PupilID)' class ="txtComment" onkeyup="ShowAutoComplete(this,event)" name='@("AreaCommentsM27_" + item.PupilID)' @DisabledLock maxlength="500">@item.Comment2</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment2))
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_2)" />                                             
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_2)" />
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowComments(@item.PupilID,@item.MonthID_2)">
                                                <div id='@("Popup_" + item.MonthID_2 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Môn <span class="TitelSubject"></span> - Tháng thứ @MonthPopup2</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea class="txtComment"  style="border:1px solid #D7D7D7!important" onkeyup="ShowAutoComplete(this,event)" id='@("txapopup_" + item.MonthID_2 + "_" + item.PupilID)' cols="37" rows="6" maxlength="500">@item.Comment2</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span >
                                                            @if (string.IsNullOrEmpty(DisabledLock) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneComments(@item.PupilID,@item.MonthID_2)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialog(@item.PupilID,@item.MonthID_2)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).Title(TiteComment2).HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth2);
            c.Template(@<text>@{ 
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "T3", item.Status, checkIsCommenting, "");
                if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_3 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_8)
                {
<textarea id='@("AreaCommentsM38_" + item.PupilID)' class ="txtComment" onkeyup="ShowAutoComplete(this,event)" name='@("AreaCommentsM38_" + item.PupilID)' @DisabledLock maxlength="500">@item.Comment3</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment3))
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_3)"/>                                            
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_3)"/>
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowComments(@item.PupilID,@item.MonthID_3)">
                                                <div id='@("Popup_" + item.MonthID_3 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Môn <span class="TitelSubject"></span> - Tháng thứ @MonthPopup3</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea class="txtComment" style="border:1px solid #D7D7D7!important" onkeyup="ShowAutoComplete(this,event)" id='@("txapopup_" + item.MonthID_3 + "_" + item.PupilID)' cols="37" rows="6" maxlength="500">@item.Comment3</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span >
                                                            @if (string.IsNullOrEmpty(DisabledLock) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneComments(@item.PupilID,@item.MonthID_3)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialog(@item.PupilID,@item.MonthID_3)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).Title(TiteComment3).HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth3);
            c.Template(@<text>@{ 
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "T4", item.Status, checkIsCommenting, "");
                if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_4 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_9)
                {
<textarea id='@("AreaCommentsM49_" + item.PupilID)' class ="txtComment" onkeyup="ShowAutoComplete(this,event)" name='@("AreaCommentsM49_" + item.PupilID)' @DisabledLock maxlength="500">@item.Comment4</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment4))
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_4)"/>
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_4)"/>
                                        
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowComments(@item.PupilID,@item.MonthID_4)">
                                                <div id='@("Popup_" + item.MonthID_4 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Môn <span class="TitelSubject"></span> - Tháng thứ @MonthPopup4</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea class="txtComment" style="border:1px solid #D7D7D7!important" onkeyup="ShowAutoComplete(this,event)" id='@("txapopup_" + item.MonthID_4 + "_" + item.PupilID)' cols="37" rows="6" maxlength="500">@item.Comment4</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                            @if (string.IsNullOrEmpty(DisabledLock) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneComments(@item.PupilID,@item.MonthID_4)" value="Lưu" />    
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialog(@item.PupilID,@item.MonthID_4)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).Title(TiteComment4).HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth4);
            c.Template(@<text>@{ 
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "T5", item.Status, checkIsCommenting, "");
                if (MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_5 || MonthSelect == MarkRecordOfPrimaryTeacherConstants.MONTH_10)
                {
                    
                    <textarea id='@("AreaCommentsM510_" + item.PupilID)' class ="txtComment" onkeyup="ShowAutoComplete(this,event)" name='@("AreaCommentsM510_" + item.PupilID)' @DisabledLock maxlength="500">@item.Comment5</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment5))
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25"  onclick="ShowComments(@item.PupilID,@item.MonthID_5)"/>
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments(@item.PupilID,@item.MonthID_5)"/>
                                            
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowComments(@item.PupilID,@item.MonthID_5)">
                                                <div id='@("Popup_" + item.MonthID_5 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Môn <span class="TitelSubject"></span> - Tháng thứ @MonthPopup5</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea class="txtComment" style="border:1px solid #D7D7D7!important" onkeyup="ShowAutoComplete(this,event)" id='@("txapopup_" + item.MonthID_5 + "_" + item.PupilID)' cols="37" rows="6" maxlength="500">@item.Comment5</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span >
                                                            @if (string.IsNullOrEmpty(DisabledLock) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneComments(@item.PupilID,@item.MonthID_5)" value="Lưu" />    
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialog(@item.PupilID,@item.MonthID_5)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).Title(TiteComment5).HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth5);
            c.Template(@<text>
                @{
                    DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "", item.Status, checkIsCommenting, "CK");
                }
                <textarea class ="txtComment"  id='@("AreaCommentsEnding_" + item.PupilID)' onkeyup="ShowAutoComplete(this,event)" name='@("AreaCommentsEnding_" + item.PupilID)' @DisabledLock maxlength="500">@item.CommentsEnding</textarea>
                </text>).Title("Nhận xét cuối kỳ").HtmlAttributes(new { style = "text-align:center" }).Visible(VisiableEnding).Width(columnWidthCK);
            c.Template(@<text>
                @{
                    DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "", item.Status, checkIsCommenting, "CK");
                }
                <input type="text" value="@{if (item.RetestMark.HasValue)
                                            {@item.RetestMark}
                                            else
                                            {@item.PeriodicEndingMark}}" style ="text-align:center;" maxlength="2" onkeypress="return requestNumber(event);" onblur="ConverM(this); return controlUtils.fillMark(this, true)" class="txtInputMark" @DisabledLock id='@("txtPiriodicEndingMark_" + item.PupilID)' name='@("txtPiriodicEndingMark_" + item.PupilID)' >
                </text>).Title(TiteKTĐK).Visible(checkIsCommenting).HtmlAttributes(new { style = "text-align:center;" }).Width(50);
            c.Template(@<text>@{
                
                DisabledLock = SMAS.Web.Utils.Utils.CheckLockMarkBySemester(semester, LockMarkTitle, "", item.Status, checkIsCommenting, "CK");
                if (string.IsNullOrEmpty(DisabledLock))
                { 
                    <input type="text" onkeyup="return ValidateKey(this, event)" onblur="CheckEvaluation(this)" value="@if (!string.IsNullOrEmpty(item.EvaluationReTraining))
                                                                                                                       {@item.EvaluationReTraining }
                                                                                                                       else
                                                                                                                       {@item.EvaluationEnding}"  class="txtInputMark cmtNote" maxlength="3" id='@("txtEvaluation_" + item.PupilID)' name='@("txtEvaluation_" + item.PupilID)'  />
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.EvaluationReTraining))
                    {
                        @item.EvaluationReTraining 
                    }
                    else
                    {
                        @item.EvaluationEnding
                    }
                }
            }</text>).Title("Đánh<br/>giá").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new Dictionary<string, object> { { "class", "headerComment" } }).Width(70);
            c.Template(@<text>
                @{
                    if (item.Status == 1)
                    {
                        DisabledLock = SMAS.Web.Utils.Utils.CheckVisibledCheckBox(semester, LockMarkTitle, MonthSelect, item.Status);
                        if (string.IsNullOrEmpty(DisabledLock))
                        {
                            //chi hien cac checkbox voi hoc sinh dang hoc
                            <label class="custom-checkbox p-r-0" style="padding-left:15px">
                            <input type="checkbox" id='@("ChkCLGD_" + item.PupilID)' defaultValue="@item.PupilID" onchange="SelectOne(this)" class="ChkItem" name='@("ChkCLGD_" + item.PupilID)' checked="checked" />
                            <span class="checkmark"></span>
                            </label>
                        }
                    }
                }
                </text>)
            .HeaderTemplate(@<text>
            <label class="custom-checkbox p-r-0" style="padding-left:15px">
            <input type="checkbox" id="ChkAllCLGD" onchange="SelectAll()" name="ChkAllCLGD" checked="checked" />
                <span class="checkmark"></span>
                            </label>
                </text>).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            
         })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        // .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding"))
        // .DataKeys(keys => keys.Add(o => o.PupilID))
         .Selectable()
        .Scrollable(o => o.Enabled(true).Height("400px"))
       .Render();
            }
        </div>

        @if (!String.IsNullOrEmpty(LockMarkTitle))
        {
            string tmp = LockMarkTitle.Remove(LockMarkTitle.Length - 1);
            if (!("CK1".Equals(tmp) || "CK2".Equals(tmp)))
            {
                tmp = "Tháng " + tmp;
            }
            <div>
                <span style="color: red;">@tmp đang bị khóa
                </span>
            </div>
        }

        @if (result.Count > 0)
        {
            <div id="ListButton" class="mg-t-5" style="text-align:right">

                @if (glo.IsCurrentYear && isVisibleButton)
                {

                    if (!checkLockSemester)
                    {
                    <span>
                        <input type="button" id="btnImport" class="btn btn-info btn-round" value="@Res.Get("MarkRecordPeriod_Label_Import")" onclick="ImportEducationQuality()">
                    </span>
                    }
                    <span>
                        <input type="button" id="btnExport" class="btn btn-info btn-icon btn-round btn-icon-excel " value="@Res.Get("MarkRecordPeriod_Label_Export")" onclick="ExportExcel()">
                    </span>
                    <span id="ListButtonRight">
                        <input type="button" id="btnCopy" class="btn btn-info btn-round" onclick ="OnLoadCopyData(1);" value="@Res.Get("Sao chép")" >
                        <input type="submit" id="btnSave" class="btn btn-info btn-icon btn-round btn-icon-save" onclick ="return validateCheckbox();" value="@Res.Get("Common_Button_Save")" >
                        <input type="button" id="btnDelete" class="btn btn-info btn-icon btn-round btn-icon-times" value="@Res.Get("Common_Button_Delete")" onclick="DeleteEducationQuality()">
                    </span>
                }
                else
                {
                    <span>
                        <input type="button" id="btnExport" class="btn btn-info btn-icon btn-round btn-icon-excel" value="@Res.Get("MarkRecordPeriod_Label_Export")" onclick="ExportExcel()">
                    </span>
                }

            </div>
        }
    </div>
    <div id="ImportSubject" style="display: none">
        @Html.Partial("_SubjectClass")
    </div>
    
    <div id="contentautocomplete" style="display: none">
        <div id="listComment" class="PopupAutoComplete ClCommentPopup">
            <ul>
                @{
        for (int i = 0; i < lstComment.Count; i++)
        {
                    <li onclick="GetCommentForArea(this)" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" commentId='@("@@IdComment_" + i)' comment="@lstComment[i]"  id='@("comment_" + i)'>@lstComment[i]</li>
        }
                }
            </ul>
        </div>
    </div>
}
<script>
    var isValidateCheckBox = true;
    var EducationLevelID = $('#EducationLevelID').val();
    var classID = $('#ClassID').val();
    $("HfClassID").val(classID);
    $('#HfEducationLevelID').val(EducationLevelID);
    var strAutoCompleteTmp = stringUtils.HtmlDecode('@Html.Raw(tmpComment)');
    strAutoCompleteTmp = stringUtils.StripVNSign(strAutoCompleteTmp);
    strAutoCompleteTmp = strAutoCompleteTmp.replaceAll('@GlobalConstants.STR_SPECIAL_COMMENT_X',"\ x");
    strAutoCompleteTmp = strAutoCompleteTmp.replaceAll('@GlobalConstants.STR_SPECIAL_COMMENT_U',"\ u");
    $(function () {
        $("document").ready(function () {
            $('#Month option[value='+ @MonthSelect +']').attr("selected","selected"); 
            $('#Subject_ID option[value='+ @SubjectID +']').attr("selected","selected");
            var subject_name = $("#Subject_ID option:selected").text();
            $(".TitelSubject").html(subject_name);
            controlUtils.AddMoveButtonEvent("#GridSubjectAndEducationGroup");
            controlUtils.AddMoveTabEvent("#GridSubjectAndEducationGroup");
        });
    });

    function ImportEducationQuality()
    {
        
        var html = $('#ImportSubject').html();
        $('#EducationQuality').html(html);
        smas.openDialog("importDialog", "", {});
        $('#importDialog #btSaveImport').attr('disabled');
        $('#importDialog #btSaveImport').addClass('t-state-disabled');
    }
  
    function SaveOneComments(pupilID,MonthID)
    {        
        var comments = $('#txapopup_'+ MonthID +'_'+ pupilID).val();
        var subjectID = $('#Subject_ID').val();
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        var semester = $('#Semester').val();
        $.ajax({
            url:  '@Url.Action("SaveOneComments", "MarkRecordOfPrimaryTeacher")',
            data: { comments : comments,pupilID :pupilID, monthID : MonthID, subjectID : subjectID , classID : classID, educationLevelID : educationLevelID,semester :semester, tab : @MarkRecordOfPrimaryTeacherConstants.TAB_EDUCATION },
            type: 'post',
            success: function (msg) {
                smas.alert(msg.Message);
                if(msg.Type =="success")
                {
                    SearchSubjectAndEducationGroup();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function DeleteEducationQuality()
    {
        if (!isValidateCheckBox) {
            smas.alertColor('Thầy/cô chưa chọn học sinh','red');
            return;
        }        
        if(!confirm('@Html.Raw(Res.Get("EvaluationComments_Confirm_Delete"))'))
        {
            return;
        }
        var semesterID = $('#HfSemesterID').val();;
        var classID = $('#HfClassID').val();
        var evaluationCriteriaID = $('#Subject_ID').val();
        
        var educationLevelID = $('#HfEducationLevelID').val();
        var evaluationID = $('#Tab').val();
        var monthId=$('#Month').val();        
        var arrayID = "";
        $('.ChkItem').each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                var id = $(this).attr('defaultValue');
                if(id > 0)
                {
                    arrayID += id + ",";
                }
            }
        });
        if(arrayID != "" && arrayID != null)
        {

            $.ajax({
                url:  '@Url.Action("DeleteEvaluationCommments", "MarkRecordOfPrimaryTeacher")',
                data: { arrayID:arrayID,semesterID:semesterID,classID:classID,evaluationCriteriaID:evaluationCriteriaID,educationLevelID:educationLevelID,evaluationID:evaluationID, monthId:monthId },
                type: 'post',
                success: function (msg) {
                    smas.alert(msg.Message);
                    if(msg.Type =="success")
                    {
                        SearchSubjectAndEducationGroup();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    function ExportExcel() {
        
        var educationLevelID = $('#EducationLevelID').val();
        var classID = $('#ClassID').val();;
        var semester = $('#Semester').val();
        var subjectID = $('#Subject_ID').val();
        var evaluationID = $('#Tab').val();
        var monthID = $('#Month').val();
        var className = $('#ClassNameTitle').html();
        var subjectName = $("#Subject_ID option:selected").text();
        var isCommeting = '@ViewData[MarkRecordOfPrimaryTeacherConstants.CHECK_ISCOMMENTING]';
        
        var downloadUrl = '@Url.Action("ExportExcel", "MarkRecordOfPrimaryTeacher")';
        downloadUrl += '?classID=' + classID;
        downloadUrl += '&semester=' + semester;
        downloadUrl += '&className=' + className;
        window.open(downloadUrl);
    }

    function validateCheckbox()
    {
        if (isValidateCheckBox) {
            return true;
        }
        else {
            smas.alertColor('Thầy/cô chưa chọn học sinh','red');
            return false;
        }
        
    }

    function SelectAll()
    {
        var cheked = $("#ChkAllCLGD").is(':checked');
        if(cheked)
        {
            $('.ChkItem').attr("checked","checked");
            isValidateCheckBox = true;
        }else
        {
            $('.ChkItem').removeAttr("checked");
            isValidateCheckBox = false;
        }
    }
    function SelectOne()
    {
        var  numberCheckboxItem = $('.ChkItem').length;
        var countcheckItem = 0;
       
        $('.ChkItem').each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            isValidateCheckBox = true;
        }
        else {
            isValidateCheckBox = false;
        }

        if(countcheckItem == numberCheckboxItem)
        {
            $("#ChkAllCLGD").attr("checked","checked");
        }else
        {
            $("#ChkAllCLGD").removeAttr("checked");
        }

    }
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridSubjectAndEducationGroup').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function ShowComments(idPupil,monthID)
    {
        $('.ClassPopup').css('display', 'none');      
        $('#Popup_'+ monthID +'_' + idPupil).css('display', 'block');
      
    }    
    function CloseDialog(idPupil,monthID)
    {
        $('#Popup_'+ monthID +'_' + idPupil).css('display', 'none');
       
    }
    
    function SaveSuccess(data) {
        smas.alert(data.Message);
        SearchSubjectAndEducationGroup();
    }
    function OnComplete(data)
    {
        smas.hideProcessingDialog();
    }
    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function ConverM(txtMark) {
        var text = txtMark.value;
        var num = "0123456789";
        
        if (num.indexOf(text.charAt(0)) == -1 || num.indexOf(text.charAt(1)) == -1) {
            txtMark.value = "";
        }
        if(text.length == 1)
        {
            if(text.charAt(0) == '0')
            {
                txtMark.value = "";
            }
        }
        if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0);
            }else if (text.charAt(0) == '0' && text.charAt(1) == '0') {
                txtMark.value = "";
            }
            else if (text.charAt(0) == '0' && num.indexOf(text.charAt(1)) > -1) {
                txtMark.value = text.charAt(1);
            }
        } else if (text.length == 3) {
            if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0);
            } else txtMark.value = text.charAt(0);
        }
    }

    function Conver22(txtMark) {
        var text = txtMark.value;
        var num = "0123456789";
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }
        

        /*if (text.length == 2) {
        if (num.indexOf(text.charAt(1)) == -1) {
        txtMark.value = text.charAt(0);  //+ ',0';
        }
        }*/

        if(text.length ==1)
        {
            txtMark.value = text.charAt(0)+ ',' + '0';
        }
        else if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            } else if (text.charAt(0) == '0' && num.indexOf(text.charAt(1)) > -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            }

        } else if (text.length == 3) {
            
            if (text.charAt(2) == ',') {
                txtMark.value = "";
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        }

        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }

        if (text == '100') {
            txtMark.value = '10';
        }

    }

    function requestNumber(e) {
        /*
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;
    
    return true;
    */
        if (window.event) { // IE
            var charCode = window.event.keyCode;            
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }
      
        if (e.ctrlKey && (charCode == 44)) {
            return true;
        }
        if (e.ctrlKey && (charCode == 118 || charCode == 99)) {
            return true;
        }
        //confirm(charCode);

        //46 dau cham
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function requestNumber2(e) {
        /*
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;
    
    return true;
    */
        if (window.event) { // IE
            var charCode = window.event.keyCode;
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }

        if (charCode == 44) {
            {
                return true;
            }
        }
        if (e.ctrlKey && (charCode == 118 || charCode == 99)) {
            return true;
        }
        //confirm(charCode);

        //46 dau cham
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('td').click( function() {
        if($('td').find('input[type=text]').length > 0)
        {
            $(this).find('input[type=text]').focus();
        }
    });

    $('textarea').change(function(){
        checkmaxlength($(this));
    });  

    $('textarea').blur(function(){
        checkmaxlength($(this));
    });


    function checkmaxlength(obj)
    {
        var text = $(obj).val();        
        if(text != "")
        {
            var leng = $(obj).val().match(/(\r\n|\n|\r)/g);
            if(leng != null)
            {
                leng = leng.length;
            }else
            {
                leng = 0;
            }
            $(obj).val($.trim(text).substring(0,500 - leng));
        }
    }

    function onCloseEducation(e)
    {    
        $('#importDialog #btSaveImport').attr('disabled');
        $('#importDialog #btSaveImport').addClass('t-state-disabled');
        $("#importDialog #txtFilePath").val("");
    }
    function onCloseCapacities(e)
    {   
        $('#importDialogCapacity #btSaveCapacity').attr('disabled');
        $('#importDialogCapacity #btSaveCapacity').addClass('t-state-disabled');
        $("#importDialogCapacity #txtFilePathCapacity").val("");
    }
    function onCloseQualities(e)
    {   
        $('#importDialogQuality #btSaveQuality').attr('disabled');
        $('#importDialogQuality #btSaveQuality').addClass('t-state-disabled');
        $("#importDialogQuality #txtFilePathQuality").val("");
    }

    function OnLoad()
    {
        SetHeightDialogImport();
    }

    function SetHeightDialogImport()
    {
        setTimeout(function () {
            $('#importDialog').find('.t-content').css("height", "auto");
        }, 1000);
    }

    function ValidateKey(obj, event)
    {
        // MSIE hack
        if (window.event)
        {
            event = window.event;
        }
        if(event.keyCode >= 37 && event.keyCode <= 40) {
            return false;
        }else if (event.keyCode == 67)//c,C
        {
            $(obj).val("CHT");

        } else if (event.keyCode === 72)//h,H
        {
            $(obj).val("HT");

        } else
        {
            $(obj).val("");
        }
        return true;
    }
    function CheckEvaluation(obj)
    {
        var txt = $.trim($(obj).val());
        if(txt == "HT")
        {
            $(obj).val("HT");
        }else if(txt == "CHT")
        {
            $(obj).val("CHT");
        }else 
        {
            $(obj).val("");
        }
    }
    $(".headerComment").click(function (e) {
        $("#HeaderChoice").show();
        var position = $(this).offset();
        $("#HeaderChoice").css({ position: "absolute", left: position.left - 170, top: 220, width: "100px", "z-index": "1000" });
    });
    $(document).click(function (event) {
        if ($(event.target).closest(".headerComment").html() == null || $(event.target).closest(".headerComment").html() == "undefined") {
            $("#HeaderChoice").css("display", "none");
        }
    });
    function FillCommentForGrid(typeMark) {
        var typemarkName = "";
        if ($(typeMark).html() == "HT") {
            typemarkName = "HT";
        } else if ($(typeMark).html() == "CHT") {
            typemarkName = "CHT";
        }
        $('input[class*="cmtNote"]:enabled').each(function () {
            $(this).val(typemarkName);
        });
    }
    function OnLoadCopyData(evaluationID)
    {
        var classID = $('#HiddenPanel #ClassID').val();
        var semesterID = $('#HiddenPanel #Semester').val();
        var subjectID = 0;
        if (evaluationID == 1) {
            subjectID = $('#HeadGrid #Subject_ID').find('option[selected="selected"]').val();
        }
        else if (evaluationID == 2) {
            subjectID = $('#HeadGrid #SubjectCapacities').find('option[selected="selected"]').val();
        }
        else {
            subjectID = $('#HeadGrid #SubjectQualities').find('option[selected="selected"]').val();
        }
        
        $.ajax({
            url:  '@Url.Action("LoadCopyData", "MarkRecordOfPrimaryTeacher")',
            data: { ClassID : classID,SemesterID : semesterID,SubjectID:parseInt(subjectID),EvaluationID:evaluationID},
            type: 'post',
            success: function (msg) {
                $('#idCopyData').html(msg);
                smas.openDialog('DialogCopyData',"",{});
                setData(evaluationID);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    //NC 
    function MouseOver(obj)
    {
        $(obj).addClass("OverForLi");
    }
    //NC
    function MouseOut(obj)
    {
        $(obj).removeClass("OverForLi");
    }
    //NC
    function GetCommentForArea(obj)
    {
        var valu = $(obj).attr("comment");            
        $(obj).parent().parent().parent().children("textarea").val(valu);
        $(".txtComment").nextAll().remove();        
    }
    //NC
    function ShowAutoComplete(obj,event)
    {
        if(event.keyCode != 33 && event.keyCode != 34)
        {
            var valComment = $.trim($(obj).val());  
            valComment = stringUtils.StripVNSign(valComment);
            if(valComment != "" && valComment != null)
            {
                var arr = strAutoCompleteTmp.split('©');
                var strText = '';
                var textNotStrip ='';
                var commentId = '';
                var countElement = 0;
                var i=0 ;
                for(i =0 ; i < arr.length;i++)
                {
                    val = arr[i];
                    commentId = val.substr(val.indexOf("@@"),val.length);
                    val = val.substr(0,val.indexOf("@@"));                  
                    if (val.toUpperCase().indexOf(valComment.toUpperCase()) >= 0)
                    {
                        textNotStrip = $("#contentautocomplete #listComment").find('li[commentId="'+commentId+'"]').html();                        
                        strText += textNotStrip + "©";
                        countElement++;
                        if(countElement == 10)
                        {
                            i = arr.length;
                        }
                    }
                }

               
                //Lay chuoi text duoc chon them vao html
                var arrStrText = '';
                var strHtml = '';
                if(strText != "" && strText != null)
                {
                    arrStrText = strText.split('©');    
                    console.log(arrStrText);
                    //Lay 10 phan tu gan nhan roi gan vao autocomplete
                    arrStrText = arrStrText.slice(0,10);
                    strHtml = '<div id="listComment" class="PopupAutoComplete ClCommentPopup"><ul>{0}</ul></div>';
                    var strHtmlLi ='';
                    jQuery.each( arrStrText, function( j, strval ) {
                        if(j == 0)
                        {
                            strHtmlLi += '<li onclick="GetCommentForArea(this)" class="OverForLi" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)" comment="'+ $.trim(strval) +'"  id="comment_'+ j +'" >'+ $.trim(strval) +'</li>';
                        }
                        else
                        {
                            strHtmlLi += '<li onclick="GetCommentForArea(this)" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)" comment="'+ $.trim(strval) +'"  id="comment_'+ j +'" >'+ $.trim(strval) +'</li>';
                        }
                    });
                    strHtml = strHtml.replace('{0}',strHtmlLi);
                }
                $(obj).nextAll().remove();
                $(obj).after(strHtml);                    
            }
            else
            {
                $(".txtComment").nextAll().remove();
            }
        }
        else
        {
            $(".txtComment").nextAll().remove();
        }
    }
    //NC
    $(document).click(function(){
        $(".txtComment").nextAll().remove();
    });
    function setData(evaluationID)
    {
        var className = $('#TreeClass').find('li').find('ul').find('.t-state-selected').html();
        $('#DialogCopyData .t-window-title').html(' Sao chép nhận xét - Lớp ' + className);
        $('#DialogCopyData .t-window-title').css('text-align', 'left');
        var objID = $("#idCopyData input[class='rdo_Object']:checked").val();
        var LID = $("#idCopyData input[class='rdo_Limit']:checked").val();
        $('#idCopyData #hdfObjectID').val(objID);
        $('#idCopyData #hdfLimitID').val(LID);
        var S_name = "";
        var MonthName = "";
        var MonthID = 0;
        if (evaluationID == 1) {
            MonthName = $('#HeadGrid #Month').find('option[selected="selected"]').html();
            MonthID = $('#HeadGrid #Month').find('option[selected="selected"]').val();
            S_name = $('#HeadGrid #Subject_ID').find('option[selected="selected"]').html();
        }
        else if (evaluationID == 2) {
            MonthName = $('#HeadGrid #MonthCapacities').find('option[selected="selected"]').html();
            MonthID = $('#HeadGrid #MonthCapacities').find('option[selected="selected"]').val();
            S_name = $('#HeadGrid #SubjectCapacities').find('option[selected="selected"]').html();
        }
        else {
            MonthName = $('#HeadGrid #MonthQualities').find('option[selected="selected"]').html();
            MonthID = $('#HeadGrid #MonthQualities').find('option[selected="selected"]').val();
            S_name = $('#HeadGrid #SubjectQualities').find('option[selected="selected"]').html();
        }
        $('#subjectName').html(S_name);
        $('#idMonth').html(MonthName);
    }
</script>


@(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("MarkRecord_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
        //.Height(heightDialog)
                .ClientEvents(o => o.OnClose("onCloseEducation"))
                .ContentHtmlAttributes(new { style = "min-width:600px;" })
                .HtmlAttributes(new { @class = "subject-and-education-group-importDialog-window" })
)
@(Html.Telerik().Window()
                .Name("importDialogCapacity")
                .Title(Res.Get("MarkRecord_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("_ImportExcelCapacities")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
        //.Height(heightDialog)
                .ClientEvents(o => o.OnClose("onCloseCapacities"))
                .ContentHtmlAttributes(new { style = "min-width:600px;" })
                .HtmlAttributes(new { @class = "subject-and-education-group-importDialogCapacity-window" })
)
@(Html.Telerik().Window()
                .Name("importDialogQuality")
                .Title(Res.Get("MarkRecord_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("_ImportExcelQualities")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
        //.Height(heightDialog)
                .ClientEvents(o => o.OnClose("onCloseQualities"))
                .ContentHtmlAttributes(new { style = "min-width:600px;" })
                .HtmlAttributes(new { @class = "subject-and-education-group-importDialogQualities-window" })
)
@(Html.Telerik().Window()
                .Name("ChooseActionDialog")
                .Title("Dữ liệu lỗi")
                .Content(@<text><div id="GridSubjectAndEducationGroupErr"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(400)
                .ContentHtmlAttributes(new { style = "min-width:760px;" })
       )

       @(Html.Telerik().Window()
                .Name("DialogCopyData")
                .Title(Res.Get("Sao chép nhận xét"))
                .Content(@<text><div id ="idCopyData" style="padding:10px;"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(420)
                .ContentHtmlAttributes(new { style = "min-width:600px;" })
       )