﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryTeacherArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
<div style="text-align: center; padding-top: 15px; margin-left: 10px; margin-bottom: 12px;">
    <div style="float: left; width: 70%; margin:5px 0 0 0;">
        @Html.ViettelTextbox(Res.Get("PrimaryMarkRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { }, true, true)
    </div>
    <div style="float: left; width:25%">
        @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "MarkRecordOfPrimaryTeacher")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport")
            .OnUpload("OnImportUpload")
            .OnSuccess("OnImportSuccess")
            .OnError("OnImportError")
            .OnLoad("OnLoad")
)
)
    </div>
    <div style="clear: both;"></div>
</div>

<div id="EducationQuality"></div>

<div style="text-align: center; padding-top: 5px;">
    @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btSaveImport" } }, "button", "OnImportSubjectAndEducation()", "t-state-disabled btn btn-info btn-round")
    @*@Html.ViettelButton(Res.Get("Common_Button_Close"), new Dictionary<string, object>() { { "id", "btClose" } }, "button", "OnCloseClick()", "")*@
</div>


<style>
    /*.btnUploaderCss span {
        padding-right: 20px;
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected {
        display: none;
    }

    .t-dropzone {
        width: 65px;
        height: 15px;
    }

    .TitelEvaluation {
        color: #294356;
        font-size: 14px;
        font-weight: bold;
    }

    .TitlEducation {
        color: #24bbbb;
        font-size: 12px;
        font-weight: bold;
    }*/
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('@Html.Raw(Res.Get("Chọn file"))').attr("style", "text-align:center");
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#importDialog #txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButtonImport();", 10);
    }
    function hideUploadButtonImport() {
        // Try and find the upload button.
        var button = $('#importDialog #attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#importDialog #btSaveImport').removeAttr('disabled');
            $('#importDialog #btSaveImport').removeClass('t-state-disabled');
            $('#importDialog #btSaveImport').attr('onclick', 'OnImportSubjectAndEducation()');
        }
        else {

            $('#importDialog #btSaveImport').attr("disabled", "disabled");
            $('#importDialog #btSaveImport').addClass('t-state-disabled');
            $('#importDialog #btSaveImport').removeAttr('onclick');
        }
        // kiem tra button khi chon file
        SelectOneSubject();
    }

    function OnImportUpload(e) {
        var files = e.files;
        var arrayID = "";
        $('#importDialog .chkSubject').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                var id = $(this).attr('defaultValue');
                if (id > 0) {
                    arrayID += id + ",";
                }
            }
        });

        if (arrayID == "" || arrayID == null) {
            smas.alertColor('@Html.Raw(Res.Get("MarkRecord_Label_NoSubject"))', 'red');            
            error = true;            
            //smas.hideProcessingDialog();
            e.preventDefault();
            return false;
        }
        var importCapacities = $("#importDialog #chkCapacities").is(':checked');
        var importQualities = $("#importDialog #chkQualities").is(':checked');
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size /1024);
                    if (fileSize < '@MarkRecordOfPrimaryTeacherConstants.FILE_UPLOAD_MAX_SIZE') {
                        var educationLevelID = $("#EducationLevelID").val();
                        var semester = $("#Semester").val();
                        var classID = $("#ClassID").val();                                                                                                                      
                        var dataInput = { classID: classID, semester: semester, educationLevelID: educationLevelID, arrayID: arrayID, importCapacities: importCapacities, importQualities: importQualities };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alertColor("Dung lượng file excel không được lớn hơn 5MB", "red");
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                //smas.alert("File không đúng định dạng")

                smas.alertColor('@Html.Raw(Res.Get("Common_Label_File_Upload_Incorrect_format"))',"red")
                error = true;
                $('#importDialog #btSaveImport').attr("disabled", "disabled");
                $('#importDialog #btSaveImport').addClass('t-state-disabled');
                $('#importDialog #btSaveImport').removeAttr('onclick');
                e.preventDefault();
                return false;
            }
        });
        // alert("cccc");
    }
    function OnImportSubjectAndEducation() {
        // Find the upload button.
        var button = $('#importDialog #attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            if (!error) {
                smas.showProcessingDialog();
            }
        }
    }
    function OnCloseClick() {
        setTimeout(function () { smas.closeDialog("importDialog"); }, 200);
        $("#importDialog #txtFilePath").val("");
        $('#importDialog #btSaveImport').attr("disabled", "disabled");
        $('#importDialog #btSaveImport').addClass('t-state-disabled');
        $('#importDialog #btSaveImport').removeAttr('onclick');
    }

    function OnImportSuccess(e) {
        smas.hideProcessingDialog();

        if (e.response.Type == "error") {
            //$("#lblError").html(e.response.Message);      
            //$('#GridSubjectAndEducationGroupErr').html(e.response.Message);
            //smas.openDialog("ChooseActionDialog", "", {});
            //smas.closeDialog('importDialog');
            //$("#importDialog #txtFilePath").val("");
            smas.alertColor(e.response.Message,"red");

        }
        else {
            setTimeout(function () { smas.closeDialog("importDialog"); }, 200);
            if (e.response.Type == "success") {
                smas.alert(e.response.Message);
                $("#importDialog #txtFilePath").val("");
                $('#importDialog #btSaveImport').attr("disabled", "disabled");
                $('#importDialog #btSaveImport').addClass('t-state-disabled');
                $('#importDialog #btSaveImport').removeAttr('onclick');
                SearchSubjectAndEducationGroup();
            } else {
                smas.openDialog("ChooseActionDialog", "", {});
                $('#GridSubjectAndEducationGroupErr').html(e.response.Message);
                //Search();
            }
            
        }
    }
    function OnImportError(e) {
        smas.alert(e);
        // formUtils.resetForm("ImportExcelDialog");
        $('#importDialog #btSaveImport').attr("disabled","disabled");
        $('#importDialog #btSaveImport').addClass('t-state-disabled');
        $('#importDialog #btSaveImport').removeAttr('onclick');
        $("#importDialog #txtFilePath").val("");
    }
</script>
