﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryTeacherArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryTeacherArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@{
    List<ClassSubject> lstSubject = new List<ClassSubject>();
    int column = 3;
    if (ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_SUBJECT_IMPORT] != null)
    {
        lstSubject = (List<ClassSubject>)ViewData[MarkRecordOfPrimaryTeacherConstants.LIST_SUBJECT_IMPORT];
    }
}

<div class="titleFinalSemester">
    <label>Lựa chọn lưu dữ liệu từ file:</label>
    <hr />
</div>

<div style="margin:10px 7px 0 10px">
    <div class="TitleTabSection">
         <div class="TitleTabSection" style="height: 30px; margin-top:20px;">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">I.Môn học và hoạt động giáo dục</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk" style="vertical-align: central">
                    <label class="custom-checkbox p-r-0" style="padding-left: 15px;margin-bottom: 15px;">
                    <input type="checkbox" id="chkCheckAllSubject" onchange="ValidateDatebtImportDialog()"  name="chkCheckAllSubject" checked="checked"  />
                    <span class="checkmark"></span>
                        </label>
                        </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            
            </div>
        </div>

        <div class="GeneralTable General1Table" style="text-align:left!important;margin-bottom:10px;">
            <table>
            @for (int i = 0; i < lstSubject.Count; i++)
            {
                if (i % column == 0)
                {
                @Html.Raw("<tr>")
                }
        
                <td class="ColStyle" align="left">
                    <label class="custom-checkbox p-r-0" style="margin-bottom:13px">
                    <input type="checkbox" id='@("chkSubject" + lstSubject[i].SubjectID)' onchange="SelectOneSubject(this)" checked="checked" defaultValue='@lstSubject[i].SubjectID' class="chkSubject" name='@("chkSubject" + lstSubject[i].SubjectID)' style="text-align:left"/>
                        <span class="checkmark"></span>
                        </label>
                    @lstSubject[i].SubjectCat.DisplayName
                </td>
                if ((i != 0 && ((i + 1) % column == 0)) || i == lstSubject.Count - 1)
                {
                @Html.Raw("</tr>")
                }
            }
                </table>
        </div>

    </div>

    <div class="TitleTabSection" style="height: 40px; margin-top:20px;">
        <div class="TitleTabSection">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">II.Năng lực</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk">
                    <label class="custom-checkbox" style="margin-bottom:15px">
                    <input type="checkbox" id="chkCapacities" name="chkCapacities" checked="checked" />
                        <span class="checkmark"></span>
                        </label>
                </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            </div>
        </div>
    </div>

    <div class="TitleTabSection" style="height: 40px; margin-top:20px;">
        <div class="TitleTabSection">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">III.Phẩm chất</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk" style="vertical-align: central">
                    <label class="custom-checkbox" style="margin-bottom:15px">
                    <input type="checkbox" id="chkQualities" name="chkQualities" checked="checked" />
                        <span class="checkmark"></span>
                        </label>
                </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="clear">
</div>
<script>
    function ValidateDatebtImportDialog()
    {
        var textpathlength = $.trim($('#txtFilePath').val()).length;
        var countchecked = 0;
        var cheked = $("#importDialog #chkCheckAllSubject").is(':checked');
        if (cheked) {
            $('#importDialog .chkSubject').attr("checked", "checked");
            if (textpathlength > 0) {
                $('#importDialog #btSaveImport').removeAttr('disabled');
                $('#importDialog #btSaveImport').removeClass('t-state-disabled');
                $('#importDialog #btSaveImport').attr('onclick', 'OnImportSubjectAndEducation()');
            } else {
                $('#importDialog #btSaveImport').attr('disabled');
                $('#importDialog #btSaveImport').addClass('t-state-disabled');
                $('#importDialog #btSaveImport').removeAttr('onclick');
            }
        } else {
            $('#importDialog .chkSubject').removeAttr("checked");
            $('#importDialog .chkSubject').each(function () {
                var ischecked = $(this).is(':checked');
                if (ischecked) {
                    countchecked++;
                }
            });
            if (countchecked > 0 && textpathlength > 0) {
                $('#importDialog #btSaveImport').removeAttr('disabled');
                $('#importDialog #btSaveImport').removeClass('t-state-disabled');
                $('#importDialog #btSaveImport').attr('onclick', 'OnImportSubjectAndEducation()');
            } else {
                $('#importDialog #btSaveImport').attr('disabled');
                $('#importDialog #btSaveImport').addClass('t-state-disabled');
                $('#importDialog #btSaveImport').removeAttr('onclick');
            }
        }
    };

    function SelectAllSubject() {
        var cheked = $("#importDialog #chkCheckAllSubject").is(':checked');
        if (cheked) {
            $('#importDialog .chkSubject').attr("checked", "checked");            
        } else {
            $('#importDialog .chkSubject').removeAttr("checked");            
        }
    }
    function SelectOneSubject() {
        var textpathlength = $.trim($('#txtFilePath').val()).length;
        var numberCheckboxItem = $('#importDialog .chkSubject').length;
        var countcheckItem2 = 0;
        $('#importDialog .chkSubject').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem2++;
            }
        });

        if (countcheckItem2 == numberCheckboxItem) {
            $("#importDialog #chkCheckAllSubject").attr("checked", "checked");
        } else {
            $("#importDialog #chkCheckAllSubject").removeAttr("checked");
        }

        if (countcheckItem2 > 0 && textpathlength > 0) {
            $('#importDialog #btSaveImport').removeAttr('disabled');
            $('#importDialog #btSaveImport').removeClass('t-state-disabled');
            $('#importDialog #btSaveImport').attr('onclick', 'OnImportSubjectAndEducation()');
        } else {
            $('#importDialog #btSaveImport').attr('disabled');
            $('#importDialog #btSaveImport').addClass('t-state-disabled');
            $('#importDialog #btSaveImport').removeAttr('onclick');
        }
    }
</script>

<style type="text/css">
    .clear {
        clear: both;
    }

    .leftalign .vt-control {
        margin-left: 10px;
    }

    .leftalign {
        height: 28px;
    }

    .labelleftalign {
        float: left;
        padding-top: 2px;
        font-weight: 700;
    }

    .TitlePanel {
        float: left;
    }

    .GeneralTable td {
        border: 0!important;
        text-align:left;
        padding-bottom:5px;
    }

    .GeneralTable {
        width: 97%;
        padding: 5px;
        border-bottom: 1px solid #AABFD4;
        text-align:left;
    }

    .vt-SearchPanel {
        width: 98%;
        margin-left: 0;
    }

    .controlChk {
        float: left;
        padding-top: 10px;
        padding-left:10px;
    }

    .ColStyle {        
        padding-top: 20px;
        height:20px;
        padding-left:10px;
        text-align:left;
    }

    .vt-checkbox-item .editor-field {
        margin-top: 7px;
        margin-right: -6px;
    }

    .editor-label-right {
        padding-left: 3px;
    }

</style>
