﻿@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeProfileManagementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    bool isEmployee = ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] != null ? (bool)ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] : false;
    int hdfisEmployee = isEmployee ? 1 : 0;
    int hasPermission = (int)ViewData[EmployeeProfileManagementConstant.HAS_PERMISSION];
    bool isEmployeeWorking = ViewData[EmployeeProfileManagementConstant.EMPLOYEE_WORKING] == "true" ? true : false;
 }
@using (Ajax.BeginForm("Edit",
                       "EmployeeProfileManagement",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{

    @Html.AntiForgeryToken()
    @Html.ViettelHidden("EmployeeID")
    @Html.Hidden("hdfisEmployee", hdfisEmployee);
                                                             Html.Telerik()
                                                             .PanelBar()
                                                             .Name("PanelBarCreateOrEdit")
                                                             .SelectedIndex(0)
                                                             .ExpandAll(true)
                                                             .Items(items =>
                                                             {
                                                                 items.Add()
                                                                     .Text(Res.Get("I. THÔNG TIN CHUNG"))
                                                                     .Expanded(true)
                                                                     .Content(@<text>@Html.Partial("EmployeeGeneralInfo", Model)
            
    </text>);

                                                                 items.Add()
                                                                         .Text(Res.Get("II. VỊ TRÍ LÀM VIỆC, TIÊU CHUẨN CHỨC DANH"))
                                                                         .Content(@<text>@Html.Partial("EmployeeWorkPositionInfo")
    </text>);
                                                                 items.Add()
                                                                         .Text(Res.Get("III. LƯƠNG VÀ PHỤ CẤP"))
                                                                         .Content(@<text>@Html.Partial("EmployeeSalaryInfo")
    </text>);
                                                                 items.Add()
                                                                       .Text(Res.Get("IV. ĐÀO TẠO, BỒI DƯỠNG"))
                                                                       .Content(@<text>@Html.Partial("EmployeeTrainingInfo")
    </text>);
                                                                 items.Add()
                                                                         .Text(Res.Get("V. ĐÁNH GIÁ, PHÂN LOẠI"))
                                                                         .Content(@<text>@Html.Partial("EmployeeEvaluationInfo")
    </text>);
                                                                 items.Add()
                                                                     .Text(Res.Get("VI. THÔNG TIN KHÁC"))
                                                                     .Expanded(true)
                                                                     .Content(@<text>@Html.Partial("EmployeeFamilyInfo", Model)
    </text>);



                                                             })
                                                             .Render();
    <div style="text-align: right;margin-top:5px;">
        @if (isEmployee)
        {
            if ((bool)ViewData[EmployeeProfileManagementConstant.IS_CURRENT_YEAR] && hasPermission >= GlobalConstants.PERMISSION_LEVEL_CREATE && isEmployeeWorking)
            {
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!ValidateDateEdit()) return false;if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            }   
        }
        else
        {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!ValidateDateEdit()) return false;if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Redo"), "button", " OnRedoClick()", "btn btn-info btn-round mg-l-5")
            @Html.ViettelButton(Res.Get("BackRK"), "button", "OnCloseClick()", "btn btn-basic btn-round mg-l-5")
        }
    </div>
} 
<style type="text/css">
    #frmEdit .editor-label{text-align:right;padding-right:5px}
</style>
<script type="text/javascript"> 
    function EditSuccess(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
        } else if (msg.Type = 'error') {
            smas.alertColor(msg.Message,'red');
        }
    }
    function EditFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
//        smas.redirect('@Url.Action("Index", "EmployeeProfileManagement")?Tab=Cb');
        smas.redirect('@Url.Action("Index", "EmployeeProfileManagement")' + '?LoadSS=1');
    }
   
    function OnRedoClick() {
        formUtils.resetForm("frmEdit");

        $("#frmEdit").find("#EthnicID").val(@SMAS.Business.Common.SystemParamsInFile.DEFAULT_ETHNIC);
        $("#frmEdit").find("#ReligionID").val(@SMAS.Business.Common.SystemParamsInFile.DEFAULT_RELIGION);

        if ('@ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK]'=='True')
        {
            $("#frmEdit").find("#EmployeeCode").attr("disabled","disabled");
            $("#frmEdit").find("#AutoGenCode").attr("checked","checked");
            if ('@ViewData[EmployeeProfileManagementConstant.IS_SCHOOL_MODIFIED]'=='False')
            {
                $("#frmEdit").find("#AutoGenCode").attr("disabled", "disabled");
            }
        }
        else
        {
            $("#frmEdit").find("#EmployeeCode").removeAttr("disabled");
            $("#frmEdit").find("#AutoGenCode").removeAttr("checked");
            $("#frmEdit").find("#AutoGenCode").attr("disabled","disabled");
        }
        cbIsYouthLeageMemberChanged();
        cbIsCommunistPartyMemberChanged();
        filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath);
        formUtils.focusForm("frmEdit");
    }
    function ValidateDateEdit() {
        var joinedDate = dateUtils.ParseDate($('#JoinedDate').val());
        var startingDate = dateUtils.ParseDate($('#StartingDate').val());
        if (joinedDate != null && startingDate != null) {
            if (joinedDate < startingDate) {
                smas.alertColor('Ngày vào biên chế phải lớn hơn hoặc bằng ngày vào nghề.', 'red')
                return false;
            }
        }

        var WorkGroupTypeID = $("#WorkGroupTypeID").val();
        var worktypeId = $("#WorkTypeID").val();
        var appliedLevel = $("#AppliedLevel").val();
        if ((worktypeId == 10 || worktypeId == 12 || WorkGroupTypeID == 2)&& appliedLevel==0) {
            smas.alertColor('Thầy/cô chưa chọn cấp dạy chính', 'red')
            return false;
        }
        return true;

    }
    function AjaxLoadScaleCodeGeneral(cboEmployeeScale) {
        frmId = $(cboEmployeeScale).closest('form').get(0).id;
        var employeeScaleID = $("#" + frmId + " #EmployeeScaleID").val();
        if (employeeScaleID == 0 || employeeScaleID == '') {
            $("#" + frmId + " #EmployeeScaleCode").val('');
        }
        else {
            $.ajax({
                url: '@Url.Action("GetEmployeeScaleCode","EmployeeSalary")',
                type: 'get',
                data: { EmployeeScaleID: employeeScaleID },
                success: function (data) {
                    $("#" + frmId + " #EmployeeScaleCode").val(data)
                },
                error: function (XMLHttpRequest) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
</script>
