﻿@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using System.Configuration
@using SMAS.Web.Areas.EmployeeProfileManagementArea;
@{

    SelectList template = (SelectList)ViewData[EmployeeProfileManagementConstant.LIST_PROFILE_TEMPLATE];



}
@using (Ajax.BeginForm("SaveExcelTemplate", "EmployeeProfileManagement",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "ExcelTemplateOnBegin",
                               OnComplete = "ExcelTemplateCompleted",
                               OnSuccess = "ExcelTemplateCreateSuccess",
                               OnFailure = "ExcelTemplateCreateFail"
                           },
                           new { id = "frmExcelTemplate" }))
{
    @Html.AntiForgeryToken()
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox("Mẫu xuất excel", "ProfileTemplateId", template, SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "onchange", "OnchangeTemplate()" } }, false, false)
            @Html.ViettelTextbox("Tên mẫu", "ProfileTemplateName", null, new Dictionary<string, object>() { { "maxlength", 256 } }, true, false)
        </div>
    </div>
    <div id="divTemplate">
        @Html.Partial("_ListTemplate")
    </div>
}
    <script>

        $(document).ready(function () {
            OnchangeTemplate();
        });

    function OnchangeTemplate() {
        var templateId = $("#ProfileTemplateId").val();
       
        $.ajax({
                url: '@Url.Action("LoadTemplate")',
                type: 'post',
                data: { id: templateId },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {

                    $("#divTemplate").html(data);
                    if (templateId > 0) {
                        var profileName = $("#ProfileTemplateId :selected").text();
                        $("#ProfileTemplateName").val(profileName);
                        $("#btExportExcel2").show();
                        $("#btSaveTemplate").show();
                    }
                    else {

                        $("#ProfileTemplateName").val('');
                        $("#btExportExcel2").hide();
                        $("#btDeleteTemplate").hide();
                        $("#btSaveTemplate").show();
                    }
                },
                error: function (XMLHttpRequest, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
        });

        


    };

     function ReloadTemplateCombo() {
        // var $ele = $("#OpenDialogExcel").find("#ProfileTemplateId");
        //controlUtils.loadComboBox($ele,'@Url.Action("ReLoadTemplate", "EmployeeProfileManagement")',null,null, OnchangeTemplate());

         var frm = "#OpenDialogExcel #ProfileTemplateId";
         $.ajax({
             url: '@Url.Action("ReLoadTemplate")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (result) {

                console.log(result);
                $(frm).find('option').remove().end();
                $.each(result, function (index, value) {
                    if (value.Selected == true) {
                        $(frm).append($("<option selected = 'selected'></option>").attr("value", value.Value).text(value.Text));
                    }
                    else {
                        $(frm).append($("<option></option>").attr("value", value.Value).text(value.Text));
                    }
                });
                OnchangeTemplate();
            },
            error: function (XMLHttpRequest, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });

     }

        function ExcelTemplateOnBegin() {
            smas.showProcessingDialog();
        }

        function ExcelTemplateCompleted() {
            smas.hideProcessingDialog();
        }

        function ExcelTemplateCreateSuccess(data) {

            if (data.Type == "success") {
                smas.alert(data.Message);
                ReloadTemplateCombo();

                //setTimeout('AjaxLoadGrid();', 200);
            } else {
                smas.alertColor(data.Message, 'red');
            }
        }
        function ExcelTemplateCreateFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
            //setTimeout('AjaxLoadGrid();', 200);
        }
    </script>
