﻿@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeProfileManagementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    
    int employeeId =  Model != null ? Model.EmployeeID : 0;
    List<ComboObject> lstMariageStatus = new List<ComboObject>
    {
        new ComboObject("1", "Đang có vợ"),
        new ComboObject("2", "Đang có chồng"),
        new ComboObject("3", "Chưa đăng ký kết hôn lần nào"),
        new ComboObject("4", "Đã đăng ký kết hôn"),
        new ComboObject("5", "Đã ly hôn"),
        new ComboObject("6", "Chồng mất"),
        new ComboObject("7", "Vợ mất"),
    };
    
    SelectList sl = new SelectList(lstMariageStatus, "key", "value");

    Dictionary<string, object> dicCd = (Dictionary<string, object>)ViewData[EmployeeProfileManagementConstant.LIST_COLUMN_DESCRIPTION];
 }
<style>
</style>
<div style="padding-left: 10px" id="wrapEmployeeFamilyInfor">
    <div class="row">
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.AppliedLevel, SMAS.Business.Common.Utils.GetString(dicCd, "AppliedLevel", string.Empty),
                    ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_APPLIEDLEVEL]),
                    GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                        {"OnChange","onAppliedLevelChange(this)"}
                    }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.PrimarilyAssignedSubjectID, SMAS.Business.Common.Utils.GetString(dicCd, "PrimarilyAssignedSubjectID", string.Empty),
                                            ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_PRIMARILYASSIGNEDSUBJECT]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.FamilyTypeID, SMAS.Business.Common.Utils.GetString(dicCd, "FamilyTypeID", string.Empty), ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_FAMILYTYPE]),
                GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>()
                {
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.MariageStatus, SMAS.Business.Common.Utils.GetString(dicCd, "MariageStatus", string.Empty), sl,
                GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>()
                {
                 {"onchange","onMariageStatusChange(this)"}
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.FatherFullName, SMAS.Business.Common.Utils.GetString(dicCd, "FatherFullName", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","100"},
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.iFatherBirthDate, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","4"},
                    {"onkeypress", "return runScript(event);"},
                    {"placeholder", "Năm sinh"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.FatherJob, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","200"},
                    {"placeholder", "Nghề nghiệp"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.FatherWorkingPlace, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","400"},
                    {"placeholder", "Nơi làm việc"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.MotherFullName, SMAS.Business.Common.Utils.GetString(dicCd, "MotherFullName", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","100"},
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.iMotherBirthDate, string.Empty,
                new Dictionary<string, object>()
                {
                      { "maxlength", "4" },
                       {"onkeypress", "return runScript(event);"},
                       {"placeholder", "Năm sinh"},
                       { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.MotherJob, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","200"},
                    {"placeholder", "Nghề nghiệp"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.MotherWorkingPlace, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","400"},
                    {"placeholder", "Nơi làm việc"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.SpouseFullName, SMAS.Business.Common.Utils.GetString(dicCd, "SpouseFullName", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","100"},
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.iSpouseBirthDate, string.Empty,
                new Dictionary<string, object>()
                {
                      { "maxlength", "4" },
                       {"onkeypress", "return runScript(event);"},
                       {"placeholder", "Năm sinh"},
                       { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.SpouseJob, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","200"},
                    {"placeholder", "Nghề nghiệp"},
                    { "class", "no-label" }
                }, false)
        </div>
        <div class="col-md-6 text-content">
            @Html.ViettelTextboxFor(model => model.SpouseWorkingPlace, string.Empty,
                new Dictionary<string, object>()
                {
                    {"maxlength","400"},
                    {"placeholder", "Nơi làm việc"},
                    { "class", "no-label" }
                }, false)
        </div>
        
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.Note, SMAS.Business.Common.Utils.GetString(dicCd, "Note", string.Empty), new Dictionary<string, object> {{"maxlength","500"} }, false)
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                @Html.ViettelCheckBoxFor(model => model.RegularRefresher, new Dictionary<string, object>() { }, SMAS.Business.Common.Utils.GetString(dicCd, "RegularRefresher", string.Empty), false, true)
            </div>
            <div class="col-md-6">
                @Html.ViettelCheckBoxFor(model => model.TeacherDuties,new Dictionary<string, object>(){{"style","margin-left:56px"},{"onchange","checkTeacherDuties()"}}, SMAS.Business.Common.Utils.GetString(dicCd, "TeacherDuties", string.Empty), false, true)
            </div>
            <div class="col-md-6">
                @Html.ViettelCheckBoxFor(model => model.MotelRoomOutsite,new Dictionary<string, object>(){{"onchange","checkMotelRoomOutsite()"}}, SMAS.Business.Common.Utils.GetString(dicCd, "MotelRoomOutsite", string.Empty), false, true)
            </div>
            <div class="col-md-6">
                @Html.ViettelCheckBoxFor(model => model.NeedTeacherDuties,new Dictionary<string, object>(){{"disabled","disabled"}}, SMAS.Business.Common.Utils.GetString(dicCd, "NeedTeacherDuties", string.Empty), false, true)
            </div>
    </div>

</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    $(document).ready(function () {
       
        $("#wrapEmployeeFamilyInfor .no-label").closest(".vt-control").find(".editor-field").css('width', '65%');
        $("#MariageStatus").closest(".vt-control").find(".editor-label").css('width', '35%');
        $("#MariageStatus").closest(".vt-control").find(".editor-field").css('width', '65%s');
        $("#PrimarilyAssignedSubjectID").closest(".vt-control").find(".editor-label").css('width', '35%');
        $("#PrimarilyAssignedSubjectID").closest(".vt-control").find(".editor-field").css('width', '65%');
        $("#MariageStatus").change();
    });

    setTimeout(function () {
        if ('@employeeId' > 0) {
            checkMotelRoomOutsite();
            checkTeacherDuties();
        }
    }, 500);

    function checkMotelRoomOutsite() {
        var chcked = $("#MotelRoomOutsite").is(":checked");
        if (chcked) {
            $("#TeacherDuties").removeAttr("checked");
            $("#NeedTeacherDuties").removeAttr("disabled");
        } else {
            $("#NeedTeacherDuties").attr("disabled", "disabled");
            $("#NeedTeacherDuties").removeAttr("checked");
        }
    }

    function onMariageStatusChange(cb) {
        if ($(cb).val() == 3) {
            $("#SpouseFullName").attr('disabled', 'disabled');
            $("#SpouseFullName").val('');

            $("#iSpouseBirthDate").attr('disabled', 'disabled');
            $("#iSpouseBirthDate").val('');

            $("#SpouseJob").attr('disabled', 'disabled');
            $("#SpouseJob").val('');

            $("#SpouseWorkingPlace").attr('disabled', 'disabled');
            $("#SpouseWorkingPlace").val('');
        }
        else {
            $("#SpouseFullName").removeAttr('disabled');

            $("#iSpouseBirthDate").removeAttr('disabled');

            $("#SpouseJob").removeAttr('disabled');

            $("#SpouseWorkingPlace").removeAttr('disabled');
        }
    };

    function checkTeacherDuties() {
        var chcked = $("#TeacherDuties").is(":checked");
        if (chcked) {
            $("#MotelRoomOutsite").removeAttr("checked");
            $("#NeedTeacherDuties").removeAttr("checked");
            $("#NeedTeacherDuties").attr("disabled", "disabled");
        } else {
            $("#NeedTeacherDuties").removeAttr("disabled");
        }
    }

    function runScript(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0) {
                return false;
            }
        }
    }


    </text>);
</script>