﻿@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeProfileManagementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@{
    bool dis = (bool)ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK];
    Dictionary<string, object> dicCd = (Dictionary<string, object>)ViewData[EmployeeProfileManagementConstant.LIST_COLUMN_DESCRIPTION];
    SelectList lstProvince = (SelectList)ViewData[EmployeeProfileManagementConstant.LIST_PROVINCE];
    SelectList lstDistrict = new SelectList(new List<District>(), "DistrictID", "DistrictName");
    if (ViewData.ContainsKey(EmployeeProfileManagementConstant.LIST_DISTRICT))
    {
        lstDistrict = (SelectList)ViewData[EmployeeProfileManagementConstant.LIST_DISTRICT];
    }

    SelectList lstCommune = new SelectList(new List<Commune>(), "CommuneID", "CommuneName"); ;
    if (ViewData.ContainsKey(EmployeeProfileManagementConstant.LIST_COMMUNE))
    {
        lstCommune = (SelectList)ViewData[EmployeeProfileManagementConstant.LIST_COMMUNE];
    }
    
}
<style>
    .col-md-6{
        height: 42px;
    }
</style>
<div style="padding-left: 10px;height:auto;" id="wrapEmployeeGeneralInfor">
    <div class="row">
        <div class="col-sm-3">
            <div class="image-box">
                <div class="position-avata">
                     @if (@Model != null && @Model.EmployeeID != null)
                        {
                            <img id="imageId" border="1" src="@Url.Action("Show", "Image", new { id = @Model.EmployeeID })" alt="Upload" width="180" height="180" />
                        }
                        else
                        {
                            <img id="imageId" border="1" src="@Url.Content("~/Content/images/default_avatar.png")" alt="Upload" width="180" height="180" />
                        }
                </div>
                <div class="image-selector">
                    @(Html.Telerik().Upload()
                    .Name("ImageUploader")
                    .Multiple(false)
                    .ShowFileList(false)
                    .HtmlAttributes(new { @class = "btnUploaderCss" })
                    .Async(async => async
                    .Save("SaveImage", "EmployeeProfileManagement")
                    .AutoUpload(true)
                    ).ClientEvents(events => events
                        .OnLoad("onImageLoad")
                        .OnUpload("onImageUpload")
                        .OnSuccess("onImageUploadSuccess")
                    ))                   
                        </div>
                   
                </div>
                @* <a class="ButtonStyle Button2Style Sprite1"><span class="Sprite1">Tải hình</span>
                        </a>
                        <input id="avatarFile" class="InputFileStyle" type="file" name="avatarFile" size="0" />*@
               
        </div>
 
     <div  class="col-sm-9 p-l-0 ">
         <div class="row">
             <div class="col-md-6">
                  @{
                        DateTime dateForIntoSchoolDate = DateTime.Now;
                        Dictionary<string, object> dicEmployeeCode = new Dictionary<string, object>();
                        dicEmployeeCode["maxlength"] = 30;

                        Dictionary<string, object> dicAutoGenCode = new Dictionary<string, object>();
                        dicAutoGenCode["onChange"] = "cbAutoGenCodeChanged(this)";

                        if ((bool)ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK])
                        {
                            dicEmployeeCode["disabled"] = "disabled";

                            dicAutoGenCode["checked"] = "checked";
                            if (!(bool)ViewData[EmployeeProfileManagementConstant.IS_SCHOOL_MODIFIED])
                            {
                                dicAutoGenCode["disabled"] = "disabled";
                            }
                        }
                        else
                        {
                            dicAutoGenCode["disabled"] = "disabled";
                        } 
                    }
                    @Html.ViettelTextboxFor(model => model.EmployeeCode, SMAS.Business.Common.Utils.GetString(dicCd, "EmployeeCode", string.Empty), dicEmployeeCode, true)
             </div>
             <div class="col-md-6 col-md-6 p-t-5">
                 <div class="vt-control">
                     <div class="editor-label"></div>
                     <div class="editor-field">
                        @Html.ViettelCheckBoxFor(pp => pp.AutoGenCode, dicAutoGenCode, Res.Get("Common_Label_AutoGenCode"), false, true)
                     </div>
                 </div>  
             </div>
             <div class="col-md-6">
                 @Html.ViettelTextboxFor(model => model.FullName, SMAS.Business.Common.Utils.GetString(dicCd, "FullName", string.Empty),
                    new Dictionary<string, object>()
                     {
                         {"maxlength","100"}
                     }, true)
             </div>
             <div class="col-md-6">
                 @Html.ViettelTextboxFor(model => model.Alias, SMAS.Business.Common.Utils.GetString(dicCd, "Alias", string.Empty),
                    new Dictionary<string, object>()
                    {
                        {"maxlength","100"}
                    }, false)
             </div>
             <div class="col-md-6">
                 @Html.ViettelEditorFor(x => x.BirthDate, SMAS.Business.Common.Utils.GetString(dicCd, "BirthDate", string.Empty), new Dictionary<string, object>() { }, false, false)
                    @*@Html.ViettelComboboxFor(model => model.Genre, SMAS.Business.Common.Utils.GetString(dicCd, "Genre", string.Empty),
                               ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LISTSEX]),
                               GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                     {

                     }, true)*@
             </div>
             <div class="col-md-6">
                  @*@Html.ViettelTextboxFor(model => model.Alias, SMAS.Business.Common.Utils.GetString(dicCd, "Alias", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","100"}
                }, false)*@
                    @Html.ViettelComboboxFor(model => model.SchoolFacultyID, SMAS.Business.Common.Utils.GetString(dicCd, "SchoolFacultyID", string.Empty),
                                                     ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LISTSCHOOLFACULTY]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, true)
             </div>
             <div class="col-md-6">
                 @Html.ViettelComboboxFor(model => model.Genre, SMAS.Business.Common.Utils.GetString(dicCd, "Genre", string.Empty),
                               ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LISTSEX]),
                               GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                     {

                     }, true)
             </div>
             <div class="col-md-6">
                 @Html.ViettelEditorFor(x => x.IntoSchoolDate, SMAS.Business.Common.Utils.GetString(dicCd, "IntoSchoolDate", string.Empty), new Dictionary<string, object>() { }, false, false)
             </div>
             <div class="col-md-6">
                   @Html.ViettelTextboxFor(model => model.IdentityNumber, SMAS.Business.Common.Utils.GetString(dicCd, "IdentityNumber", string.Empty),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
             </div>
             <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        @Html.ViettelDatePickerFor(x => x.IdentityIssuedDate, "", false,
                        new Dictionary<string, object> {{ "placeholder", SMAS.Business.Common.Utils.GetString(dicCd, "IdentityIssuedDate", string.Empty)}, { "class", "no-label" }})
                    </div>
                    <div class="col-sm-6">
                        @Html.ViettelTextboxFor(model => model.IdentityIssuedPlace, "",
                    new Dictionary<string, object>()
                    {
                        {"maxlength","400"},
                        { "placeholder", SMAS.Business.Common.Utils.GetString(dicCd, "IdentityIssuedPlace", string.Empty)},
                        { "class", "no-label" }
                    }, false)
                    </div>
                </div>                   
             </div>
             <div class="col-md-6">
                   @Html.ViettelTextboxFor(model => model.Mobile, SMAS.Business.Common.Utils.GetString(dicCd, "Mobile", string.Empty),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
             </div>
             <div class="col-md-6">
                  @Html.ViettelTextboxFor(model => model.Telephone, SMAS.Business.Common.Utils.GetString(dicCd, "Telephone", string.Empty),
                new Dictionary<string, object>()
                {
                     {"class","integer"},
                     {"maxlength","15"}
                }, false)
             </div>
             <div class="col-md-6">
                 @Html.ViettelTextboxFor(model => model.Email, SMAS.Business.Common.Utils.GetString(dicCd, "Email", string.Empty),
                new Dictionary<string, object>()    
                {
                    {"maxlength","50"}
                }, false)
             </div>
             <div class="col-md-6">
                  @Html.ViettelTextboxFor(model => model.PermanentResidentalAddress, SMAS.Business.Common.Utils.GetString(dicCd, "PermanentResidentalAddress", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
                    @*@Html.ViettelEditorFor(x => x.IntoSchoolDate, SMAS.Business.Common.Utils.GetString(dicCd, "IntoSchoolDate", string.Empty), new Dictionary<string, object>() { }, false, false)*@
             </div>
             <div class="col-md-6">
                 @Html.ViettelComboboxFor(model => model.EthnicID, SMAS.Business.Common.Utils.GetString(dicCd, "EthnicID", string.Empty),
                                    ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_ETHNIC]),
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object>()
                                    {
                                    }, true)
             </div>
             <div class="col-md-6">
                  @Html.ViettelTextboxFor(model => model.HealthStatus, SMAS.Business.Common.Utils.GetString(dicCd, "HealthStatus", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
             </div>
             
             <div class="col-md-6">
                 @Html.ViettelTextboxFor(model => model.HomeTown, SMAS.Business.Common.Utils.GetString(dicCd, "HomeTown", string.Empty),
                new Dictionary<string, object>()
                {
                    {"maxlength","400"}
                }, false)
             </div>
             <div class="col-md-6 ">
                 <div class="vt-control mg-b-10">
                     @Html.DropDownListFor(m => m.ProvinceId, lstProvince, "[Tỉnh/TP]", new {style ="width:33%", onchange = "ajaxLoadDistrict(this)" })
                        @Html.DropDownListFor(m => m.DistrictId, lstDistrict, "[Quận/huyện]", new {style ="width:33%", onchange = "ajaxLoadCommune(this)" })
                        @Html.DropDownListFor(m => m.CommuneId, lstCommune, "[Xã/phường]", new {style ="width:32%" })
                 </div>                
             </div>
             <div class="col-md-6">
                 <div class="editor-label">
                    @Html.ViettelCheckBoxFor(model => model.IsYouthLeageMember,
                        new Dictionary<string, object>()
                        {
                            {"onChange","cbIsYouthLeageMemberChanged(this)"}
                        }, SMAS.Business.Common.Utils.GetString(dicCd, "IsYouthLeageMember", string.Empty), false, true)
                @{
                        Dictionary<string, object> dicYouth = (Model == null || (Model != null && !Model.IsYouthLeageMember)) ? new Dictionary<string, object> { { "disabled", "disabled" }, { "class", "no-label" } } : new Dictionary<string, object> { { "class", "no-label" } };
                        }
                    </div>
                    <div class="editor-field" style="width:65%">
                        @Html.ViettelDatePickerFor(model => model.YouthLeagueJoinedDate, "", false, dicYouth)
                    </div>
             </div>
             <div class="col-md-6">
                 @{dicYouth.Remove("class");}
                                @Html.ViettelTextboxFor(model => model.YouthLeagueJoinedPlace, SMAS.Business.Common.Utils.GetString(dicCd, "YouthLeagueJoinedPlace", string.Empty), dicYouth, false)
             </div>
             <div class="col-md-6">
                  <div class="editor-label">
                    @Html.ViettelCheckBoxFor(model => model.IsCommunistPartyMember,
                                 new Dictionary<string, object>()
                                 {
                                  {"onChange","cbIsCommunistPartyMemberChanged(this)"}
                                 }, SMAS.Business.Common.Utils.GetString(dicCd, "IsCommunistPartyMember", string.Empty), false, true)
                    </div>
                    <div class="editor-field" style="width:65%">
                    @{
                        Dictionary<string, object> dicCommunist = (Model == null || (Model != null && !Model.IsCommunistPartyMember)) ? new Dictionary<string, object> { { "disabled", "disabled" }, { "class", "no-label" } } : new Dictionary<string, object> { { "class", "no-label" } };
                    }
                    @Html.ViettelDatePickerFor(model => model.CommunistPartyJoinedDate, "", false, dicCommunist)
                    </div>
             </div>
             <div class="col-md-6">
                 @{dicCommunist.Remove("class");}
                     @Html.ViettelTextboxFor(model => model.CommunistPartyJoinedPlace, SMAS.Business.Common.Utils.GetString(dicCd, "CommunistPartyJoinedPlace", string.Empty), dicCommunist, false)
             </div>
             <div class="col-md-6">
                 @Html.ViettelComboboxFor(model => model.ReligionID, SMAS.Business.Common.Utils.GetString(dicCd, "ReligionID", string.Empty),
                                             ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_RELIGION]),
                                             GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object>()
                                    {
                                    }, false)
             </div>
            
             <div class="col-md-6">
                 @Html.ViettelTextboxFor(model => model.InsuranceNumber, SMAS.Business.Common.Utils.GetString(dicCd, "InsuranceNumber", string.Empty),
                    new Dictionary<string, object>()
                    {
                        {"maxlength","50"}
                    }, false)
             </div>
             <div class="col-md-6">
                 <div class="editor-label">
                    @Html.ViettelCheckBoxFor(model => model.IsSyndicate,
                                 new Dictionary<string, object>()
                                 {
                                  {"onChange","cbSyndicateChanged()"}
                                 }, SMAS.Business.Common.Utils.GetString(dicCd, "IsSyndicate", string.Empty), false, true)
                    </div>
                    <div class="editor-field" style="width:65%">
                    @Html.ViettelDatePickerFor(model => model.SyndicateDate, "" , false,new Dictionary<string, object>(){ { "class", "no-label" }})
                    </div>
             </div>
               <div class="col-md-6">
                 @* @Html.DropDownListFor(m => m.ProvinceId, lstProvince, "Tỉnh/TP", new {style ="width:120px", onchange = "ajaxLoadDistrict(this)" })
                    @Html.DropDownListFor(m => m.DistrictId, lstDistrict, "Quận/huyện", new {style ="width:120px", onchange = "ajaxLoadCommune(this)" })
                    @Html.DropDownListFor(m => m.CommuneId, lstCommune, "Xã/phường", new {style ="width:120px" })*@
             </div>
             <div class="col-md-6"></div>


         </div>
    </div>
    </div>

    
   
 
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function onImageLoad(e) {
        // alert("Upload loaded");
    }
    function onSelect(e) {
        // alert("Select :: " + getFileInfo(e));
    }
    function onImageUpload(e) {
        // alert("Upload :: " + getFileInfo(e));
        // Array with information about the uploaded files
        var files = e.files;

        // Check the extension of each file and abort the upload if it is not .jpg
        $.each(files, function () {
            if ((this.extension == ".jpg") || (this.extension == ".bmp")
                || (this.extension == ".ico") || (this.extension == ".gif")
                || (this.extension == ".png") || (this.extension == ".jpeg")
                 || (this.extension == ".JPG") || (this.extension == ".BMP")
                || (this.extension == ".ICO") || (this.extension == ".GIF")
                || (this.extension == ".PNG") || (this.extension == ".JPEG")
                ) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    smas.error("Chỉ được upload tập tin < 1MB")
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.error("Chỉ tập tin đuôi bmp, png, ico, gif, jgp, jpeg mới được upload lên!")
                e.preventDefault();
                return false;
            }
        });
    }
    function onImageUploadSuccess(e) {
        var filepath = '@Url.Content("~/Uploads/Photos/")' + e.response.Message;
        $("#imageId").attr("src", filepath);

    }
    function onError(e) {
        //alert("Error (" + e.operation + ") :: " + getFileInfo(e));
        e.preventDefault(); // Suppress error message
    }
    function onComplete(e) {
        // alert("Complete");
    }
    function onCancel(e) {
        // alert("Cancel :: " + getFileInfo(e));
    }

    function onRemove(e) {
        //alert("Remove :: " + getFileInfo(e));
        var filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath)

    }
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;

            //            // File size is not available in all browsers
            //            if (file.size > 0) {
            //                info += " (" + Math.ceil(file.size/1024 ) + " KB)";
            //            }
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            // File size is not available in all browsers
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }


    function cbAutoGenCodeChanged(chkAutoGenCode) {
        frmId = $(chkAutoGenCode).closest('form').get(0).id;
        var b = $(chkAutoGenCode)[0].checked;
        if (b) {
            $("#" + frmId + " #EmployeeCode").attr("disabled", true);
        } else {
            $("#" + frmId + " #EmployeeCode").removeAttr("disabled");
        }
    }

    function ajaxLoadDistrict(sl) {
        frmId = $(sl).closest('form').get(0).id;
        var provinceId = $(sl).val();
        controlUtils.loadComboBox(
                     $("#" + frmId + " #DistrictId"),
                    '@Url.Action("AjaxLoadDistrict", "EmployeeProfileManagement")',
                                { provinceId: provinceId },
                                '[Quận/huyện]', function () { $("#" + frmId + " #DistrictId").prop('selectedIndex', 0); $("#" + frmId + " #DistrictId").change();}
        );
    }

    function ajaxLoadCommune(sl) {
        frmId = $(sl).closest('form').get(0).id;
        var provinceId = $("#" + frmId + " #ProvinceId").val();
        var districtId = $("#" + frmId + " #DistrictId").val();

        controlUtils.loadComboBox(
                     $("#" + frmId + " #CommuneId"),
                    '@Url.Action("AjaxLoadCommune", "EmployeeProfileManagement")',
                                { provinceId: provinceId, districtId: districtId },
                                '[Xã/phường]', function () { $("#" + frmId + " #CommuneId").prop('selectedIndex', 0); }
        );
    }

    function cbIsCommunistPartyMemberChanged(chkIsCommunistPartyMember) {
        frmId = $(chkIsCommunistPartyMember).closest('form').get(0).id;
        var b = $(chkIsCommunistPartyMember)[0].checked;
        if (!b) {
            $("#" + frmId + " #CommunistPartyJoinedPlace").attr("disabled", true);
            $("#" + frmId + " #CommunistPartyJoinedDate").attr("disabled", true);
            $("#" + frmId + " #CommunistPartyJoinedDate").parent().find(".t-select").attr("style", "display:none");
        } else {
            $("#" + frmId + " #CommunistPartyJoinedPlace").removeAttr("disabled");
            $("#" + frmId + " #CommunistPartyJoinedDate").removeAttr("disabled");
            $("#" + frmId + " #CommunistPartyJoinedDate").parent().find(".t-select").attr("style", "display:");
        }
    }

    function cbIsYouthLeageMemberChanged(chkIsYouthLeageMember) {
        frmId = $(chkIsYouthLeageMember).closest('form').get(0).id;
        var b = $(chkIsYouthLeageMember)[0].checked;
        if (!b) {
            $("#" + frmId + " #YouthLeagueJoinedPlace").attr("disabled", true);
            $("#" + frmId + " #YouthLeagueJoinedDate").attr("disabled", true);
            $("#" + frmId + " #YouthLeagueJoinedDate").parent().find(".t-select").attr("style", "display:none");
        } else {
            $("#" + frmId + " #YouthLeagueJoinedPlace").removeAttr("disabled");
            $("#" + frmId + " #YouthLeagueJoinedDate").removeAttr("disabled");
            $("#" + frmId + " #YouthLeagueJoinedDate").parent().find(".t-select").attr("style", "display:");
        }
    };

    function cbSyndicateChanged() {
        var chcked = document.getElementById('IsSyndicate').checked;
        if (!chcked) {
            $("#SyndicateDate").attr("disabled", true);
            $("#SyndicateDate").attr("disabled", true);
            $("#SyndicateDate").parent().find(".t-select").attr("style", "display:none")
        } else {
            $("#SyndicateDate").removeAttr("disabled");
            $("#SyndicateDate").removeAttr("disabled");
            $("#SyndicateDate").parent().find(".t-select").attr("style", "display:")
        }
    }
    </text>);
</script>
<script type="text/javascript">
     @Html.JsMinify(@<text>
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text("Tải hình");
        
        $("#frmCreate input[id=IntoSchoolDate]").val('@dateForIntoSchoolDate.ToString("dd/MM/yyyy")');
        if ("@ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK]" == "False") {
            setTimeout('$("#EmployeeCode").focus()', 500);
        }

        $(".no-label").closest(".vt-control").find(".editor-label").remove();
        $("#IdentityIssuedDate").attr("placeholder", '@Html.Raw(SMAS.Business.Common.Utils.GetString(dicCd, "IdentityIssuedDate", string.Empty))');
        $("#IdentityIssuedDate").closest(".vt-control").css("width", "100%");
        $("#IdentityIssuedDate").closest(".editor-field").css("width", "100%");
        $("#IdentityIssuedPlace").closest(".vt-control").css("width", "100%");
        $("#IdentityIssuedPlace").closest(".editor-field").css("width", "100%");
        $("#YouthLeagueJoinedDate").closest(".editor-field").css("width", "100%");
        $("#CommunistPartyJoinedDate").closest(".editor-field").css("width", "100%");
        $("#SyndicateDate").closest(".editor-field").css("width", "100%");
        $("#YouthLeagueJoinedDate").attr("placeholder", '@Html.Raw(SMAS.Business.Common.Utils.GetString(dicCd, "YouthLeagueJoinedDate", string.Empty))');
        $("#CommunistPartyJoinedDate").attr("placeholder", '@Html.Raw(SMAS.Business.Common.Utils.GetString(dicCd, "CommunistPartyJoinedDate", string.Empty))');
        $("#SyndicateDate").attr("placeholder", '@Html.Raw(SMAS.Business.Common.Utils.GetString(dicCd, "SyndicateDate", string.Empty))');

        $("#IsYouthLeageMember").change();
        $("#IsCommunistPartyMember").change();
        $("#IsSyndicate").change();
    });
    </text>);
</script>
@if (Model != null && !string.IsNullOrEmpty(Model.EmployeeCode))
{
    <script type="text/javascript">
        @Html.JsMinify(@<text>
        $(document).ready(function () {
            

            if ("@ViewData[EmployeeProfileManagementConstant.IS_SCHOOL_MODIFIED]" == "True")
                $("#frmEdit").find("#AutoGenCode").removeAttr("checked");
            if ("@ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK]" == "False" || "@ViewData[EmployeeProfileManagementConstant.IS_SCHOOL_MODIFIED]" == "True") {
                $("#frmEdit").find("#EmployeeCode").removeAttr("disabled");
            }
            if ("@ViewData[EmployeeProfileManagementConstant.AUTO_GEN_CODE_CHECK]" == "False") {
                setTimeout('$("#EmployeeCode").focus()', 500);
            }

        });
        </text>);
    </script> 
}
