﻿@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeProfileManagementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
<style type="text/css">
    #wrapEmployeeWorkInfor .vt-control .editor-label {
        width: 33%
    }

    #Note .vt-control .editor-label {
        width: 10%;
        text-align: right;
        padding-right: 8px
    }

    #Note .vt-control .editor-field {
        width: 89%;
        margin-top: 8px
    }
</style>
<div style="padding-left: 10px" id="wrapEmployeeWorkInfor">
    <table>
        <tr>
            <td style="width: 33%">
                @Html.ViettelComboboxFor(model => model.TrainingLevelID, Res.Get("Employee_Label_GraduationLevel"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_GRADUATIONLEVEL]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td style="width: 33%">
                @Html.ViettelComboboxFor(model => model.QualificationTypeID, Res.Get("Employee_Label_QualificationType"),
                                       ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_QUALIFICATIONTYPE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.SpecialityCatID, Res.Get("Employee_Label_SpecialityCat"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_SPECIALITYCAT]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ViettelComboboxFor(model => model.ContractTypeID, Res.Get("Employee_Label_ContractType"),
                                               ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LISTCONTRACTTYPE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                            {"onchange","onCboContractTypeChange(this);"}
                                        }, true)
                @{var a = Model;}
            </td>
            <td>
                @Html.ViettelDatePickerFor(model => model.JoinedDate, false,
                                        new Dictionary<string, object>()
                                        {
                                        })
            </td>
            <td>
                @Html.ViettelDatePickerFor(model => model.StartingDate, false,
                                        new Dictionary<string, object>()
                                        {
                                        })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ViettelComboboxFor(model => model.QualificationLevelID, Res.Get("Employee_Label_QualificationLevel"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_QUALIFICATIONLEVEL]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.ForeignLanguageGradeID, Res.Get("Employee_Label_ForeignLanguageGrade"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_FOREIGNLANGUAGEGRADE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.ITQualificationLevelID, Res.Get("Employee_Label_ITQualificationLevel"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_ITQUALIFICATIONLEVEL]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ViettelComboboxFor(model => model.PoliticalGradeID, Res.Get("Employee_Label_PoliticalGrade"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_POLITICALGRADE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.StateManagementGradeID, Res.Get("Employee_Label_StateManagementGrade"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_STATEMANAGEMENTGRADE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.EducationalManagementGradeID, Res.Get("Employee_Label_EducationalManagementGrade"),
                                        ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_EDUCATIONALMANAGEMENTGRADE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ViettelComboboxFor(model => model.WorkGroupTypeID, Res.Get("Employee_Label_WorkGroupType"),
                                               ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_WORKGROUPTYPE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                              {"OnChange","oncboWorkGroupTypeCascadeChange(this.options[this.selectedIndex].value);"}
                                        }, true)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.WorkTypeID, Res.Get("Employee_Label_WorkType"),
                                   ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_WORKTYPE]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                            {"OnChange","onChangeWorkType()"}
                                        }, true)
            </td>
            <td>
                @Html.ViettelComboboxFor(model => model.AppliedLevel, Res.Get("Employee_Label_AppliedLevel"),
                    ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_APPLIEDLEVEL]),
                    GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                        {"OnChange","onAppliedLevelChange(this)"}
                    }, false)
            </td>

        </tr>
        <tr>

            <td>
                @Html.ViettelComboboxFor(model => model.PrimarilyAssignedSubjectID, Res.Get("Employee_Label_PrimarilyAssignedSubject"),
                                            ((IEnumerable<SelectListItem>)ViewData[EmployeeProfileManagementConstant.LS_PRIMARILYASSIGNEDSUBJECT]),
                                        GlobalConstants.PLACEHOLDER_CHOICE,
                                        new Dictionary<string, object>()
                                        {
                                        }, false)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.ViettelCheckBoxFor(model => model.DedicatedForYoungLeague, new Dictionary<string, object>() { }, Res.Get("Employee_Label_DedicatedForYoungLeague"), false, true)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.ViettelCheckBoxFor(model => model.RegularRefresher, new Dictionary<string, object>() { }, Res.Get("Employee_Label_RegularRefresher"), false, true)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" style="width: 99%; margin-top: 8px;" id="Note">
                @Html.ViettelTextboxFor(model => model.Note, Res.Get("Employee_Label_Note"),
                new Dictionary<string, object>()
                {
                    {"maxlength","500"}
                }, false)
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        onChangeWorkType();
        @if (Model == null || (Model != null && Model.ContractTypeID != 6))
        {
            <text>
            $("#wrapEmployeeWorkInfor").find("#JoinedDate").val("");
            $("#wrapEmployeeWorkInfor").find("#JoinedDate").attr("disabled", "disabled");
            var datePicker = $("#JoinedDate").data("tDatePicker");
            datePicker.disable();
            </text>
        }
    })
    
    @Html.JsMinify(@<text>
    function oncboWorkGroupTypeCascadeChange(GroupTypeId) {
        controlUtils.loadComboBox(
            $("#WorkTypeID"),
            '@Url.Action("_GetcboWorkType", "EmployeeProfileManagement")',
            { GroupTypeId: GroupTypeId },
            '@Res.Get("SelectRK")'
        );
        onChangeWorkType();
    }

        function onAppliedLevelChange(cbAppliedLevel) {
            var AppliedLevel = $(cbAppliedLevel).val();
            controlUtils.loadComboBox(
                $("#PrimarilyAssignedSubjectID"),
                '@Url.Action("_GetPrimarilyAssignedSubject", "EmployeeProfileManagement")',
            { AppliedLevel: AppliedLevel },
            '@Res.Get("SelectRK")'
        );
        }
    </text>);

    function onCboContractTypeChange(sl) {
        //bien che
        if ($(sl).val() == 6) {
            $("#wrapEmployeeWorkInfor").find("#JoinedDate").removeAttr("disabled");
            var datePicker = $("#JoinedDate").data("tDatePicker");
            datePicker.enable();
        }
        else {
            $("#wrapEmployeeWorkInfor").find("#JoinedDate").val("");
            $("#wrapEmployeeWorkInfor").find("#JoinedDate").attr("disabled", "disabled");
            var datePicker = $("#JoinedDate").data("tDatePicker");
            datePicker.disable();
        }
    }

    function onChangeWorkType() {
        var WorkGroupTypeID = $("#WorkGroupTypeID").val();
        var worktypeId = $("#WorkTypeID").val();
        
        if (worktypeId == 10 || worktypeId == 12 || WorkGroupTypeID == 2) {
            //$('#AppliedLevel').removeAttr('class')
            
            //$('#AppliedLevel').removeAttr('data-val-number','Cấp dạy chính không được để trống');
            //$('#AppliedLevel').attr('data-val-required', 'Cấp dạy chính không được để trống');
            //$('#AppliedLevel').attr('class', 'field-validation-valid');
            $('#AppliedLevel').parent().parent().find('.editor-label').find('span').remove()
            $('#AppliedLevel').parent().parent().find('.editor-label').find('label').after('<span style="color: red;">*</span>')
        } else {
            //$('#AppliedLevel').removeAttr('data-val-number')
            //$('#AppliedLevel').removeAttr('data-val-required');
            //$('#AppliedLevel').removeAttr('data-val-number','Cấp dạy chính không được để trống');
            //$('#AppliedLevel').attr('class', 'valid');
            $('#AppliedLevel').parent().parent().find('.editor-label').find('span').remove()
        }
    }
</script>
