﻿@model EmployeeProfileManagementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.EmployeeProfileManagementArea.Models
@{
    Dictionary<string, object> dicColumn = (Dictionary<string, object>)ViewData[EmployeeProfileManagementConstant.LIST_COLUMN_DESCRIPTION];
    bool isEdit = (bool)ViewData[EmployeeProfileManagementConstant.IS_EDIT];
    string strAjaxLoadScaleCode = string.Empty;
    if (isEdit)
    {
        strAjaxLoadScaleCode = "AjaxLoadScaleCodeGeneral(this)";
    }
    else
    {
        strAjaxLoadScaleCode = "AjaxLoadScaleCodeCreate(this)";
    }
 }
<style type="text/css">

</style>
<div style="padding-left: 10px" id="SalaryInfoID">
    <div class="row">
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.EmployeeScaleID, SMAS.Business.Common.Utils.GetString(dicColumn,"EmployeeScaleID"),
                               ((IEnumerable<SelectListItem>)ViewData[EmployeeSalaryConstants.LIST_SALARYSCALE]),
                               GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                     {
                         {"onchange",strAjaxLoadScaleCode}
                     }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.SENIORITY_ALLOWANCE, SMAS.Business.Common.Utils.GetString(dicColumn,"SENIORITY_ALLOWANCE"),
                new Dictionary<string, object>()
                {
                    {"maxlength","3"}
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.SalaryAmount, SMAS.Business.Common.Utils.GetString(dicColumn,"SalaryAmount"),
                new Dictionary<string, object>()
                {
                    {"maxlength","3"}
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.EmployeeScaleCode, SMAS.Business.Common.Utils.GetString(dicColumn,"EmployeeScaleCode"),
                new Dictionary<string, object>()
                {
                }, false,true,true)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.Coefficient, SMAS.Business.Common.Utils.GetString(dicColumn,"Coefficient"),
                new Dictionary<string, object>()
                {
                    {"maxlength","5"}
                }, false)
        </div>
        <div class="col-md-6">
            @Html.ViettelComboboxFor(model => model.SubLevel, SMAS.Business.Common.Utils.GetString(dicColumn,"SubLevel"),
                               ((IEnumerable<SelectListItem>)ViewData[EmployeeSalaryConstants.LIST_SALARYLEVEL]),
                               GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                     {
                     }, false)
        </div>
        <div class="col-md-6">
             @Html.ViettelTextboxFor(model => model.VOCATIONAL_ALLOWANCE, SMAS.Business.Common.Utils.GetString(dicColumn,"VOCATIONAL_ALLOWANCE"),
                new Dictionary<string, object>()
                {
                    {"maxlength","3"}
                }, false)
        </div>
        <div class="col-md-6">
             @Html.ViettelDatePickerFor(x => x.AppliedDateID,SMAS.Business.Common.Utils.GetString(dicColumn,"AppliedDate"), false,
                new Dictionary<string, object> { {"style","width:102px;"} })
        </div>
        <div class="col-md-6">
            @Html.ViettelTextboxFor(model => model.PREFERENTIAL_ALLOWANCE, SMAS.Business.Common.Utils.GetString(dicColumn,"PREFERENTIAL_ALLOWANCE"),
                new Dictionary<string, object>()
                {
                    {"maxlength","3"}
                }, false)
        </div>
        <div class="col-md-6">
        <span style="color:red;font-style:italic;">Để nhập thông tin lương cần phải nhập đủ các trường thông tin: Ngày hưởng, Ngạch/hạng, Bậc lương, Hệ số, % vượt khung</span>
      
       
        @if (isEdit)
        {
   
                <span>Diễn biến quá trình lương: </span>
                    <img src="/Content/images/icon_3.png" width="25" height="25" style="cursor:pointer;" onclick="$('#TabStripDiv4ID').click();" />
              
          
        @*<tr>
            <td colspan="3">
                <div class="t-widget t-grid">
                    @{
                        var index = 1;
                        Html.Telerik()
                            .Grid((IEnumerable<EmployeeGeneralInfoSalaryViewModel>)ViewData[EmployeeSalaryConstants.LIST_EMPLOYEESALARY])
                            .Name("GridEmployeeSalaryInfo")
                            .Columns(c =>
                            {
                                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                                c.Bound(o => o.AppliedDate).Width(50).HtmlAttributes(new { style = "text-align:center" });
                                c.Bound(o => o.EmployeeScaleName).Title(Res.Get("Salary_Label_Scale")).Width(50);
                                c.Bound(o => o.SalaryLevelName).Width(70);
                                c.Bound(o => o.Coefficient).Width(50).HtmlAttributes(new {style = "text-align:right"});
                                c.Bound(o => o.SalaryAmount).Width(50).HtmlAttributes(new {style="text-align:right"});
                            })
                            .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
                            .DataKeys(keys => keys.Add(o => o.EmployeeSalaryID))
                            .Render();
                    }
                </div>
            </td>
        </tr>*@
        }
            </div>
    </div>
                
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        var item = $('#EmployeeScaleID');
        if ('@isEdit' == 'True') {
            AjaxLoadScaleCodeGeneral(item);
        }
        else {
            AjaxLoadScaleCodeCreate(item);
        }
    })
</script>