﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MinMarkNumberArea
@using SMAS.Web.Areas.MinMarkNumberArea.Models
@using SMAS.Business.Common
@{   
    bool isEnableButton = (bool)ViewData[MinMarkNumberConstants.PER_CHECK_BUTTON];
    int classId = 0;
    if(ViewData[MinMarkNumberConstants.CLASS_ID] != null)
    {
        classId = (int)ViewData[MinMarkNumberConstants.CLASS_ID];
    }
    int educationLevel = 0;
    if(ViewData[MinMarkNumberConstants.EDUCATION_LEVEL] != null)
    {
        educationLevel = (int)ViewData[MinMarkNumberConstants.EDUCATION_LEVEL];
    }
}

@using (Ajax.BeginForm("",
                       "MinMarkNumber",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "formSave" }
                       ))
{
    @Html.ViettelAntiForgeryToken()
    <input type="hidden" value="False" name="isConfirm" id="isConfirm"/>
    <input type="hidden" value="@classId" name="classId" />
    <input type="hidden" value="@educationLevel" name="educationLevel" />
    <div class="vt-ResultPanel">
        <div class="text-right mg-b-10 mg-t-10">
             <input type="submit" style="display:none" />
            <input type="button" value="Áp dụng toàn trường" onclick="saveSchool()" class="btn btn-info btn-round mg-t-5"/>
            <input type="button" value="Áp dụng toàn khối" onclick="saveEdu()" class="btn btn-info btn-round mg-t-5"/>
            <input type="button" value="Lưu" onclick="save()" class="btn btn-info btn-icon btn-round btn-icon-save mg-t-5"/>  
        </div>
    @{

    var index = 1;

    var id0 = 0;
    var id1 = 0;
    var id2 = 0;
    var id3 = 0;
    var id4 = 0;
    var id5 = 0;
    var id6 = 0;

    string name;

    Html.Telerik()
        .Grid(Model)
        .Name("Grid")
        .HtmlAttributes(new { @class = "custom-table-border" })
        .Columns(c =>
        {
            c.Template(@<text>
            @{
                @index;
                index++;
                name = "lstModel[" + id0 + "]." + "ClassSubjectID";
                <input type="hidden" name="@name" value="@item.ClassSubjectID" />
                
                name = "lstModel[" + id0 + "]." + "SubjectID";
                <input type="hidden" name="@name" value="@item.SubjectID" />
                
                id0++;
            }
            </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
            
            c.Bound(o => o.SubjectName).Width(80);
            c.Bound(o => o.Abbreviation).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            c.Bound(o => o.StrAppliedType).HtmlAttributes(new { style = "text-align:center" }).Width(100);
            c.Bound(o => o.StrFirstSemesterSectionPerWeek).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            c.Bound(o => o.StrSecondSemesterSectionPerWeek).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            c.Template(@<text>
                        <table>
                            <tr>
                                <td style="text-align:center">
                                    @{
                                        if (item.FirstSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id1 + "]." + "FirstSemesterMinM";
                                            <input type="text" class="GridText" value="@item.FirstSemesterMinM" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 5)"/>
                                        }
                                        id1++;
                                    }
                                </td>
                                <td style="text-align:center">
                                    @{
                                        if (item.FirstSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id2 + "]." + "FirstSemesterMinP";
                                            <input type="text" class="GridText" value="@item.FirstSemesterMinP" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 5)"/>
                                        }
                                        id2++;
                                    }
                                </td>
                                <td style="text-align:center">
                                    @{
                                        if (item.FirstSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id3 + "]." + "FirstSemesterMinV";
                                            <input type="text" class="GridText" value="@item.FirstSemesterMinV" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 8)"/>
                                        }
                                        id3++;
                                    }
                                </td>
                            </tr>
                        </table>
                    </text>).HeaderTemplate(@<text>
                            <table>
                                <tr>
                                    <th class="t-header" scope="col" colspan="3">Số con điểm tối<br />thiểu HK I</th>
                                </tr>
                                <tr>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">M</th>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">15P</th>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">1T</th>
                                </tr>
                            </table>
                    </text>).HtmlAttributes(new { style = "padding: 0px;text-align:center" }).Width(120);

            c.Template(@<text>
                        <table>
                            <tr>
                                <td style="text-align:center">
                                    @{
                                        if(item.SecondSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id4 + "]." + "SecondSemesterMinM";
                                            <input type="text" class="GridText" value="@item.SecondSemesterMinM" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 5)"/>
                                        }
                                        id4++;
                                    }
                                </td>
                                <td style="text-align:center">
                                    @{
                                        if (item.SecondSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id5 + "]." + "SecondSemesterMinP";
                                            <input type="text" class="GridText" value="@item.SecondSemesterMinP" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 5)"/>
                                        }
                                        id5++;
                                     }
                                </td>
                                <td style="text-align:center">
                                    @{
                                        if (item.SecondSemesterSectionPerWeek > 0)
                                        {
                                            name = "lstModel[" + id6 + "]." + "SecondSemesterMinV";
                                            <input type="text" class="GridText" value="@item.SecondSemesterMinV" name="@name" maxlength="1" onkeypress="return isNumberKey(event, 8)"/>
                                        }
                                        id6++;
                                     }
                                </td>
                            </tr>
                        </table>
                    </text>).HeaderTemplate(@<text>
                            <table>
                                <tr>
                                    <th class="t-header" scope="col" colspan="3">Số con điểm tối<br />thiểu HK II</th>
                                </tr>
                                <tr>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">M</th>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">15P</th>
                                    <th class="t-header" scope="col" style="border-top:1px solid;border-color: #a7bac5">1T</th>
                                </tr>
                            </table>
                    </text>).HtmlAttributes(new { style = "padding: 0px;text-align:center" }).Width(120);

        })
        .DataKeys(keys => keys.Add(o => o.ClassSubjectID))
        .Scrollable(u => u.Height(350))
        .Selectable()
        .Render(); 
        
        }
    </div>
}
<script>
    function SaveSuccess(msg) {
        if (msg.Type == "ERROR") {
            smas.confirm(msg.Message, function () {
                $("#formSave").find("#isConfirm").val("True");
                $("#formSave input[type='submit']").click();
            });
        }
        else {
            smas.alert(msg);
            if (msg.Type == "success") {
                search();
            }
        }
    }
    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }


    function save() {
        $("#formSave").attr('action', '@Url.Action("Save")');
        $("#formSave").find("#isConfirm").val("False");
        $("#formSave input[type='submit']").click();
    }

    function saveEdu() {
        $("#formSave").attr('action', '@Url.Action("SaveEdu")');
        $("#formSave").find("#isConfirm").val("False");
        $("#formSave input[type='submit']").click();
    };

    function saveSchool() {
        $("#formSave").attr('action', '@Url.Action("SaveSchool")');
        $("#formSave").find("#isConfirm").val("False");
        $("#formSave input[type='submit']").click();
    };

    function isNumberKey(evt, max) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 8 || charCode == 46) {
            return true;
        }
        if ((max == 5 && (charCode < 48 || charCode > 53)) || (max == 8 && (charCode < 48 || charCode > 56)))
        {
            return false;
        }

        return true;
    }

    $(document).ready(function () {

        controlUtils.AddMoveButtonEvent("#Grid");

    });
</script>
