﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MinMarkNumberArea.Models

@using (Ajax.BeginForm("Search",
                           "MinMarkNumber",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "listResult",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-xs-6 ">
                    @Html.ViettelEditorFor(model => model.EducationLevelID)
                  
                </div>
                <div class="col-xs-6 ">
                  
                    @Html.ViettelEditorFor(model => model.ClassID)
                </div>
            </div>
            <div class="Note mg-b-10">
            <span>Lưu ý:</span> <br />
            <span>
                - Số con điểm tối thiểu = 0 hoặc bỏ trống: không kiểm tra số con điểm khi tính TBM
            </span>
        </div>
        </div>
        
        <input type="submit" style="display:none" />
    </div>
}





