﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MinMarkNumberArea.Models
@using SMAS.Web.Areas.MinMarkNumberArea
@{
    Layout = "~/Areas/AcademicYearArea/Views/Shared/InitializationLayout.cshtml";

    List<ListViewModel> lstResult = (List<ListViewModel>)ViewData[MinMarkNumberConstants.LIST_RESULT];
}


<div class="minmark-number-page">
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div id="listResult">
        @Html.Partial("_List",lstResult)
    </div>
</div>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }

    function onEducationLevelChange() {
        var educationLevelID = $("#frmSearch").find("#EducationLevelID").val();
        controlUtils.loadComboBox(
                     $("#ClassID"),
                    '@Url.Action("AjaxLoadClass", "MinMarkNumber")',
                                { educationLevelID: educationLevelID },
                                '@Res.Get("")', function () { $("#ClassID").change() });
    }

    function onClassChange() {
        search();
    }
   
</script>
