﻿@model ExamineeCodeNameViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamineeCodeNameArea.Models
@using SMAS.Web.Areas.ExamineeCodeNameArea
@using SMAS.VTUtils.HtmlHelpers

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    bool isEnableCommon = (bool)ViewData[ExamineeCodeNameConstants.BTN_COMMON_ENABLE];
    bool isCheckRoom = false;
    if (ViewData[ExamineeCodeNameConstants.IS_CHECK_ROOM] != null)
    {
        isCheckRoom = (bool)ViewData[ExamineeCodeNameConstants.IS_CHECK_ROOM];
    }
    bool isChoose = false;
    if (ViewData[ExamineeCodeNameConstants.IS_CHOOSE] != null)
    {
        isChoose = (bool)ViewData[ExamineeCodeNameConstants.IS_CHOOSE];
    }

    int Total = 0;
    if (ViewData[ExamineeCodeNameConstants.TOTAL] != null)
    {
        Total = (int)ViewData[ExamineeCodeNameConstants.TOTAL];
    }

    int page = 1;
    if (ViewData[ExamineeCodeNameConstants.PAGE] != null)
    {
        page = (int)ViewData[ExamineeCodeNameConstants.PAGE];
    }
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
            <table>
                <tr>
                    <td>
                        @{
                            if (checkCreate == true && isEnableCommon == true && isChoose == true)
                            {
                                <div>
                                    <input type="button" value="Nhập/xuất" onclick="onInOutClick(this)" class="btn btn-info btn-round btn-icon btn-icon-inout mg-r-5" id="btnInOut"/>
                                    <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        <div class="btn-group" id="InOutBoxChoiceID">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                        <a href="javascript:void(0);" onclick="InOutHandle(this)" value="1" class="btn btn-primary ">Nhập từ Excel</a>
                                        <a href="javascript:void(0);" onclick="InOutHandle(this)" value="2" class="btn btn-primary ">Xuất Excel</a>
                                        }
                                        </div>
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" }, { "disabled", "disabled" } }, "button", "onInOutClick(this)","btn btn-info btn-icon btn-round btn-icon-inout mg-r-10")                          
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (checkCreate == true && isEnableCommon == true && isChoose == true)
                            {
                            <input type="button" class="btn btn-info btn-round" value="@Res.Get("ExamineeCodeName_Title_Page")" onclick="CheckCodeName()" />
                            }
                            else
                            {
                            <input disabled="disabled" type="button" class="btn btn-info btn-round" value="@Res.Get("ExamineeCodeName_Title_Page")" onclick="CheckCodeName()"/>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ExamineeCodeNameViewModel>)ViewData[ExamineeCodeNameConstants.LIST_EXAM_PUPIL])
            .Name("GridExamineeCodeName")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(50);

                c.Bound(o => o.ExamineeNumber).Sortable(false)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" }).Width(130);

                c.Bound(o => o.PupilCode).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left; word-wrap: break-word;" }).Width(140);

                c.Bound(o => o.FullName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:left;" }).Width(140);

                c.Template(@<text>
        <label>@item.Birthday.ToString("dd/MM/yyyy")</label>
        </text>)
                .Title(Res.Get("Employee_Column_BirthDay"))
                    .ClientTemplate("<#= htmlBirthday(Birthday) #>")
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" }).Width(100);

                c.Template(@<text>
        @{
            if (item.Genre == 1)
            {
<label>Nam</label>
            }
            else
            {
<label>Nữ</label>
            }
        }
        </text>)
                .Title(Res.Get("Employee_Label_Sex"))
                    .ClientTemplate("<#= htmlGenre(Genre) #>")
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" }).Width(80);

                c.Bound(o => o.ClassName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" }).Width(100);

                /* c.Template(
                 @<text>
                     <input type="checkbox" class="CheckItem" id='@("CheckExamineeCodeName" + item.ExamPupilID)' name="CheckExamineeCodeName" onchange="SelectOne(this)" value="@item.ExamPupilID" />
                 </text>)
                 .HeaderTemplate(@<text>
                     <input type="checkbox" name="CheckAllExamineeCodeName" id="CheckAllExamineeCodeName" onchange="SelectAll(this)" />
                 </text>)
                     .HeaderHtmlAttributes(new { style = "text-align:center" })
                     .ClientTemplate("<#= htmlCheckBox(ExamPupilID) #>")
                     .HtmlAttributes(new { style = "text-align:center" })
                     .Width(30);*/
            })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchAjax", "ExamineeCodeName"))
            .Pageable(p => p.PageSize(ExamineeCodeNameConstants.PAGE_SIZE).Total(Total).PageTo(page))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnDataBound("Grid_onDataBound")
                                .OnLoad("Grid_onDataBound")
            )
            .EnableCustomBinding(true)
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Pageable(o => o.PageSize(20)).Resizable(o => o.Columns(false))
            .DataKeys(keys => keys.Add(o => o.ExamPupilID))
            .Scrollable(o => o.Height(365))
            .Selectable()
            .Render();
                      
    }
    @*<div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Right">
            <input type="button" class="t-button t-state-disabled" value="@Res.Get("Common_Button_Delete")" onclick="PrepareDelete()" disabled="disabled" id="CommonDelete" />
        </div>
        <div class="Clear"></div>
    </div>*@
</div>

<script type="text/javascript">
    /*function htmlPupilCode(PupilCode) {
        var html = '';
        html = '<label>' + PupilCode.toUpperCase() + '</label>';
        return html;
    }*/

    $(document).click(function (event) {
        if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
            $("#InOutBoxChoice").css("display", "none");
        }
    });

    function onInOutClick(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 30, "z-index": "1", width: '115px' });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
    };

    function InOutHandle(item) {
        if ($(item).attr('value') == 1) {
            $('#ImportCheckCode .t-window-content.t-content').css('width', '600px');
            //$('#ImportCheckCode .t-window-content.t-content').css('height', 'auto !important');
            smas.openDialog('ImportCheckCode', '', {});
        }
        else {
            var examinationsID = $("#SearchPanel #Examinations").val();
            var examGroupID = $("#SearchPanel #ExamGroup").val();

            if (examinationsID > 0 && examGroupID > 0) {
                window.location = "/ExamineeCodeNameArea/ExamineeCodeName/ExportCheckCode?ExaminationsID="
                                + examinationsID + "&ExamGroupID=" + examGroupID;
            }
        }
    };

    function htmlBirthday(Birthday) {
        var date = new Date(Birthday);
        var html = '<label>' + date.format("dd/MM/yyyy") + '</label>';
        return html;
    }

    function htmlGenre(Genre) {
        var html = '';
        if (Genre == true) {
            html = '<label>Nam</label>';
        }
        else {
            html = '<label>Nữ</label>';
        }
        return html;
    }

    function htmlCheckBox(ExamSupervisoryID) {
        var html = '';
        html = '<input id="CheckExamSupervisory' + ExamSupervisoryID + '" class="CheckItem" type="checkbox" value="' + ExamSupervisoryID + '" onchange="SelectOne(this)" name="CheckExamSupervisory">';
        return html;
    }

    var lstInd = 0;

    // Lay du lieu phan trang
    function Grid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridExamineeCodeName').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");

        // Xet lai trang thai checkbox CheckAll
        ResetCheckBoxAll();
    }

    function Grid_onDataBound(e) {
        smas.hideProcessingDialog();
    }

    function ResetCheckBoxAll() {
        $("#CheckAllExamineeCodeName").removeAttr("checked");
        $("#ListExamineeCodeName #CommonDelete").attr("disable", "disable");
    }

    function PrepareDelete() {
        smas.confirm('@Html.Raw(Res.Get("ExamineeCode_Confirm_Delete"))', function () {
            var examinationsID = $("#SearchPanel #Examinations").val();
            var examGroupID = $("#SearchPanel #ExamGroup").val();
            var listExamPupil = "";
            $('.CheckItem').each(function () {
                var ischecked = $(this).is(':checked');
                if (ischecked) {
                    listExamPupil = listExamPupil + $(this).val() + ",";
                }
            });

            $.ajax({
                url: '@Url.Action("DeleteCheck", "ExamineeCodeName")',
                type: 'post',
                data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID, stringExamPupil: listExamPupil },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    smas.alert(data);
                    search();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    if (failCallBack != null) {
                        failCallBack(XMLHttpRequest.responseText);
                    }
                }
            });
        })
    }

    function CheckCodeName() {
        if (!validateUtils.validateForm('frmSearch')) {
            return false
        }
        else {
            formUtils.resetForm("frmCheckCodeName");
            var examinationsID = $("#SearchPanel").find("#Examinations").find("option:selected").val();
            var examGroupID = $("#SearchPanel").find("#ExamGroup").find("option:selected").val();
            if (examinationsID == "") {
                examinationsID = 0;
            }
            if (examGroupID == "") {
                examGroupID = 0;
            }
            $.ajax({
                url: '@Url.Action("GetDataInsert", "ExamineeCodeName")',
                type: 'post',
                data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    $("#checkCodeNameDialog").find(".t-window-content").html(data);
                    smas.openDialog("checkCodeNameDialog", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    if (failCallBack != null) {
                        failCallBack(XMLHttpRequest.responseText);
                    }
                }
            });
        }
    }

    function CheckButtonDelete() {
        var countCheckItem = 0;
        $('.CheckItem').each(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                countCheckItem++;
            }
        });
        var btnDelete = '@checkDelete';
        var isEnable = '@isEnableCommon';
        var isCheckRoom = '@isCheckRoom';
        if (btnDelete == 'True' && isEnable == 'True' && isCheckRoom == 'False' && countCheckItem > 0) {
            $("#ListExamineeCodeName #CommonDelete").removeAttr("disabled");
            $("#ListExamineeCodeName #CommonDelete").attr("class", "t-button vt-button-addNew");
        }
        else {
            $("#ListExamineeCodeName #CommonDelete").attr("disabled", "disabled");
            $("#ListExamineeCodeName #CommonDelete").attr("class", "t-button t-state-disabled");
        }
    }

    function SelectAll() {
        var checked = $("#CheckAllExamineeCodeName").is(':checked');

        if (checked) {
            $('.CheckItem').attr("checked", "checked");
            isValidateCheckBox = true;
        } else {
            $('.CheckItem').removeAttr("checked");
            isValidateCheckBox = false;
        }
        CheckButtonDelete();
    }

    function SelectOne() {
        var numberCheckboxItem = $('.CheckItem').length;
        var countcheckItem = 0;

        $('.CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            isValidateCheckBox = true;
        }
        else {
            isValidateCheckBox = false;
        }

        if (countcheckItem == numberCheckboxItem) {
            $("#CheckAllExamineeCodeName").attr("checked", "checked");
        } else {
            $("#CheckAllExamineeCodeName").removeAttr("checked");
        }
        CheckButtonDelete();
    }
</script>
