﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamineeCodeNameArea.Models
@using SMAS.Web.Areas.ExamineeCodeNameArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.RatedCommentPupilArea;
@using SMAS.Business.BusinessObject;
@using System.Linq

@{
    GlobalInfo glo = new GlobalInfo();
    List<ListErrorExamBO> lstError = new List<ListErrorExamBO>();

    if (ViewData[ExamineeCodeNameConstants.LIST_ERROR_IMPORT] != null)
    {
        lstError = (List<ListErrorExamBO>)ViewData[ExamineeCodeNameConstants.LIST_ERROR_IMPORT];
    }
}
    @Html.AntiForgeryToken()
    <div id="ContentMark">
        @{
                var index = 1;
                Html.Telerik()
                           .Grid(lstError)
                           .Name("GridError")
                           .Columns(c =>
                           {
                               c.Template(@<text>@{
                                   @index;
                                         index++;
                               }</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                               // lỗi
                               c.Template(@<text>@{<span style="padding-left:3px">@item.PupilCode</span>}</text>).Title("Mã học sinh").Width(70);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.PupilName</span>}</text>).Title("Họ và tên").Width(100);
                               c.Template(@<text>@{@Html.Raw(item.Description)}</text>).Title("Mô tả lỗi").Width(150);
                           }).DataKeys(keys => keys.Add(o => o.PupilName)).Scrollable(p => p.Height(320))
                               .Selectable().Footer(false).Render();
        }
    </div>
    <div id="ListButton">
        <span id="ListButtonRight">
            <input type="button" id="btnDelete" class="t-button " onclick="CloseDialogQC()" value="Đóng">
        </span>
    </div>

<script>
    function CloseDialogQC() {
        smas.closeDialog("ImportErrorDialog");       
    }
</script>
<style>
    .listbutton {
        margin-top: 122px;
    }

    .textComments {
        margin: 5px;
    }

    .ErrorPupup {
        background-color: white;
        display: none;
        position: absolute;
        width: 290px;
        height: auto;
        border: 1px solid #f5ecec;
    }

    .txtInputMark {
        width: 80%;
        border: none;
        background-color: transparent;
        border-width: 0px;
    }

    #ListButton {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #ListButtonRight {
        margin-left: 300px
    }
</style>



