﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Business.Common.Extension
@using Microsoft.Security.Application;
<style>
    .GridThemes .t-grid-header .t-header {
        padding: 0px 0;
    }

    #GridSearchSMSParent.GeneralTable td, #Grid.GeneralTable td {
        padding: 0px 0;
    }

   
</style>
@{
    bool currentYear = false;
    int semester = 0;
    List<int> lstSMSParentContractID = new List<int>();
    List<ServicePackageBO> lstPackage = (List<ServicePackageBO>)ViewData[SMSParentManageContractConstant.ListServicePackage];
    List<ServicePackageBO> lstPackageFull = (List<ServicePackageBO>)ViewData[SMSParentManageContractConstant.ListServicePackageFull];
    List<SMSParentContractGroupBO> lstSMSParentContractGroupBO = new List<SMSParentContractGroupBO>();
    int total = (int)ViewData[SMSParentManageContractConstant.TOTAL];
    int currentPage = (int)ViewData[SMSParentManageContractConstant.CURRENT_PAGE];
    int count = 0;
    bool paging = true;
    string className = string.Empty;
    paging = (bool)ViewData[SMSParentManageContractConstant.PAGING];
    if (ViewData[SMSParentManageContractConstant.ListSearch] != null)
    {
        lstSMSParentContractGroupBO = (List<SMSParentContractGroupBO>)ViewData[SMSParentManageContractConstant.ListSearch];
        count = lstSMSParentContractGroupBO.Count;
    }
    int index = 1;
    if ((bool)ViewData[SMSParentManageContractConstant.PAGING])
    {
        index = (currentPage - 1) * 20 + 1;
    }
    if (ViewData[SMSParentManageContractConstant.CLASSNAME] != null)
    {
        className = ViewData[SMSParentManageContractConstant.CLASSNAME].ToString();
    }
    if (ViewData[SMSParentManageContractConstant.CURRENTYEAR] != null)
    {
        currentYear = (bool)ViewData[SMSParentManageContractConstant.CURRENTYEAR];
    }
    GlobalInfo globalInfo = new GlobalInfo();
    semester = globalInfo.Semester.Value;

    List<int> lstPupilRegisterSMSFreeID = ViewData[SMSParentManageContractConstant.ListPupilRegisterSMSFree] != null ? (List<int>)ViewData[SMSParentManageContractConstant.ListPupilRegisterSMSFree] : new List<int>();
}
<div class="vt-ResultPanelEdit sms-parent-ma-contact-page-list">

    <div class="vt-ResultPanel-TitleEdit" style="border:none">
       @* <div class="vt-ResultPanel-Title-MessageEdit">

        </div>*@
        <div style="float: right;">
                @{
        if (currentYear)
        {
                    <!-- 20160219 Anhvd9 - Bổ sung thanh toán Hủy nhiều thuê bao -->
                    <input type="button" class="btn btn-basic btn-round" name="btnCancelSub" id="btnCancelSub" disabled="disabled" value="Hủy đăng ký" onclick="return CheckValidCancel()" />

                    <!-- Bổ sung thanh toán Nợ cước -->
                    <input type="button" class="btn btn-info btn-round" name="btnClickToCheckout" id="btnClickToCheckout" value="Thanh toán nợ" onclick="return RedirectToCheckout()" />

                    <input type="button" class="btn btn-info btn-icon btn-icon-save btn-round" name="btnsaveregis" id="btnSaveRegis" value="Lưu" onclick="return CheckValidSubmit()" />
        }
                }
            </div>
        <div class="custom-buttongroup" style="float:right; position:relative">
            @{
        var allowToExportExcel = ViewBag.AllowToExportExcel is bool ? (bool)ViewBag.AllowToExportExcel : true;
        if (allowToExportExcel)
        {
            <div class="mg-r-5">
                <input type="button" name="BtnExcel" class="btn btn-info btn-icon btn-icon-excel btn-round" id="BtnExcel" onclick="ExportExcel()" value="@Res.Get("Common_Button_ExportExcel")" />
                @{
            if (currentYear)
            {
                <input type="button" class="btn btn-info btn-round" name="btnShowFrmImport" id="btnShowFrmImport" value="Import" onclick="ShowDialogImport()" />
            }
                }

            </div>
            <div id="ExcelPop" style="display:none" onmouseover="ExportExcel()" onmouseout="ExportOut()">
                <div class="DVexcel" onclick="ExportExcelRegis()">Mẫu danh sách đăng ký </div>
                <div class="DVline"></div>
                <div class="DVexcel" onclick="ExportExcelRegisted()">Danh sách thuê bao đã đăng ký </div>
                <div class="DVline"></div>
                <div class="DVexcel" onclick="ExportExtra()">Mẫu danh sách mua thêm tin nhắn </div>
            </div>
        }
    }
            </div>
        <div class="Clear">
        </div>
    </div>
    @using (Ajax.BeginForm("Save",
                           "SMSParentManageContract",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "loadWaiting",
                               OnComplete = "SaveComplete",
                               OnFailure = "failureRequest"
                           },
                           new { id = "FormGridContract" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("HSchoolID", ViewData[SMSParentManageContractConstant.SchoolID])
        @Html.Hidden("HYear", ViewData[SMSParentManageContractConstant.Year])
        @Html.Hidden("HEducationLevel", ViewData[SMSParentManageContractConstant.Level])
        @Html.Hidden("HClassID", ViewData[SMSParentManageContractConstant.ClassID])
        @Html.Hidden("HStatus", ViewData[SMSParentManageContractConstant.Status])
        @Html.Hidden("HPupilName", ViewData[SMSParentManageContractConstant.PupilName])
        @Html.Hidden("HPupilCode", ViewData[SMSParentManageContractConstant.PupilCode])
        @Html.Hidden("HMobilePhone", ViewData[SMSParentManageContractConstant.MobilePhone])
        <input type="hidden" name="CurrentPage" value="@currentPage" />
        <input type="hidden" id="HfClassName" name="HfClassName" value="@className" />
        Html.Telerik()
               .Grid<SMSParentContractGroupBO>(lstSMSParentContractGroupBO)
               .Name("GridSearchSMSParent")
               .HtmlAttributes(new { @class = "GeneralTable General1Table custom-table-border" })
               .Columns(c =>
               {
                   c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Column_Order")).HeaderHtmlAttributes(new { style = "vertical-align:middle;" })
                      .HtmlAttributes(new { @class = "ColsTd1 AlignCCols", style = "text-align:center;word-wrap: break-word;" }).Width(40);

                   c.Bound(p => p.PupilName).Title(Res.Get("Label_FullName_Pupil")).Width(200).HeaderHtmlAttributes(new { style = "vertical-align:middle;" })
                       .HtmlAttributes(new { style = "word-wrap: break-word;text-align:left;padding-left:5px" }).Width(140);
                   c.Bound(p => p.ClassName).Title(Res.Get("Label_Class")).HeaderHtmlAttributes(new { style = "vertical-align:middle;" })
                       .HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(60);

                   c.Template(@<text>
                        <input type="hidden" class="pupilName" id="pupilName-@item.PupilID" name="pupilName-@item.PupilID" value="@item.PupilName" />
                        <input type="hidden" class="pupilID" name="pupilID" value="@item.PupilID" />
                        <input type="hidden" id="ClassName-@item.PupilID" name="ClassName-@item.PupilID" value="@item.ClassName" />
                        <input type="hidden" name="ClassID-@item.PupilID" value="@item.ClassID" />
                        <input type="hidden" name="ContractorName-@item.PupilID" value="@item.MotherName" />
                        <input type="hidden" name="StatusPupil-@item.PupilID" id="StatusPupil-@item.PupilID" value="@item.StatusPupil" />
                        <input type="hidden" name="PupilOfClassID-@item.PupilID" id="PupilOfClassID-@item.PupilOfClassID" value="@item.PupilOfClassID" />
                        <table id="TabInfo" style="border-collapse: collapse;table-layout:fixed;">
                            @{
                                for (int i = 0; i < item.contractDetailList.Count; i++)
                                {
                                    string styleNoborder = "";
                                    if (i == item.contractDetailList.Count - 1)
                                    {
                                        styleNoborder = "border-bottom:0px !important;";
                                    }
                                    <tr>
                                        <td >
                                            @{
                                    string strFatherSelected = string.Empty;
                                    string strMotherSelected = string.Empty;
                                    string strOtherSelected = string.Empty;
                                    string strSelected = "selected='selected'";

                                    strFatherSelected = string.Empty;
                                    strMotherSelected = string.Empty;
                                    strOtherSelected = string.Empty;

                                    if (item.contractDetailList[i].RelationShip == SMSParentManageContractConstant.IS_FATHER)
                                    {
                                        strFatherSelected = strSelected;
                                    }
                                    else if (item.contractDetailList[i].RelationShip == SMSParentManageContractConstant.IS_MOTHER)
                                    {
                                        strMotherSelected = strSelected;
                                    }
                                    else if (item.contractDetailList[i].RelationShip == SMSParentManageContractConstant.IS_OTHER)
                                    {
                                        strOtherSelected = strSelected;
                                    }
                                    if (item.contractDetailList[i].SMSParentContractID > 0)
                                    {



                                        if (!string.IsNullOrEmpty(strFatherSelected))
                                        {
                                            <label>@Res.Get("Lbl_Father") </label>
                                        }
                                        else if (!string.IsNullOrEmpty(strMotherSelected))
                                        {
                                            <label>@Res.Get("Lbl_Mother")</label>
                                        }
                                        else if (!string.IsNullOrEmpty(strOtherSelected))
                                        {
                                            <label> @Res.Get("Lbl_Other")</label>
                                        }
                                        else
                                        {
                                            <label>@Res.Get("Lbl_Other")</label>
                                        }


                                    }
                                    else
                                    {


                                        <div class="MessageError">&nbsp;</div>
                                                <select name="Relationship-@item.PupilID" id="Relationship-@item.contractDetailList[i].SMSParentContractID-@item.PupilID-@index" onchange="LoadRelationshipPhone(this)">
                                                    <option value="@SMSParentManageContractConstant.IS_FATHER" phone="@item.contractDetailList[i].PhoneFather" @strFatherSelected>@Res.Get("Lbl_Father")</option>
                                                    <option value="@SMSParentManageContractConstant.IS_MOTHER" phone="@item.contractDetailList[i].PhoneMother" @strMotherSelected>@Res.Get("Lbl_Mother")</option>
                                                    <option value="@SMSParentManageContractConstant.IS_OTHER" phone="@item.contractDetailList[i].PhoneOther" @strOtherSelected>@Res.Get("Lbl_Other")</option>
                                                </select>

                                    }
                                    <input type="hidden" id="HfSMSParentContactID-@item.PupilID" value="@item.contractDetailList[i].SMSParentContractID" />


                                            }
                                        </td>
                                        <td >
                                            @{
                                    if (item.contractDetailList[i].SMSParentContractID > 0)
                                    {

                                        <label id="PhoneReceiver-@item.contractDetailList[i].SMSParentContractID-@item.PupilID-@index">@item.contractDetailList[i].PhoneReceiver.ExtensionMobile() </label>

                                    }
                                    else
                                    {

                                        <div class="MessageError ClassMessage" id="MessageError-@item.PupilID-@index">&nbsp;</div>
                                                <input type="text" onfocus="OnFocusCheckValidate(this,@item.PupilID,@index)" onchange="CheckValidatePhoneGrid(this,@item.PupilID,@index)"
                                                       onblur="ValidateForm()" onkeypress="return AllowNumbersOnly(event)" class="PhoneReceiver" id="PhoneReceiver-@item.PupilID-@index"
                                                       name="PhoneReceiver-@item.PupilID" value="@item.contractDetailList[i].PhoneReceiver" maxlength="15" />

                                    }

                                            }
                                        </td>
                                        <td>
                                            @{
                                    int? servicesPackageID = 0;
                                    ServicePackageBO objServicePackage = null;
                                    string strcheked = string.Empty;



                                    if (item.contractDetailList[i].SMSParentContractID > 0)
                                    {
                                        servicesPackageID = 0;
                                        if (item.contractDetailList[i].ServicesPakageID.HasValue)
                                        {
                                            servicesPackageID = item.contractDetailList[i].ServicesPakageID;
                                            objServicePackage = lstPackageFull.FirstOrDefault(o => o.ServicePackageID == servicesPackageID);
                                        }

                                        if (objServicePackage != null)
                                        {
                                            <select disabled="disabled" name="ServicesPackage" id="ServicesPackage-@item.contractDetailList[i].SMSParentContractID-@item.PupilID-@index" >
                                                <option value="@objServicePackage.ServicePackageID" selected="selected">@objServicePackage.ServiceCode</option>
                                            </select>
                                        }

                                        for (int j = 0; j < item.contractDetailList[i].ListExtraServicePackageCode.Count; j++)
                                        {
                                            <span>@item.contractDetailList[i].ListExtraServicePackageCode[j]</span><br />
                                        }

                                    }
                                    else
                                    {

                                        <div class="MessageError">&nbsp;</div>
                                                <select onchange="ValidateForm()" name="ServicesPackage-@item.PupilID"  class="ServicesPackage" id="ServicesPackage-@item.PupilID-@index">
                                                    @{
                                        servicesPackageID = 0;
                                        if (item.contractDetailList[i].ServicesPakageID.HasValue)
                                        {
                                            servicesPackageID = item.contractDetailList[i].ServicesPakageID;
                                        }
                                        for (int k = 0; k < lstPackage.Count; k++)
                                        {
                                            if (servicesPackageID == lstPackage[k].ServicePackageID)
                                            {
                                                strcheked = "selected='selected'";

                                            }
                                            if (lstPupilRegisterSMSFreeID.Contains(item.PupilID))
                                            {
                                                <option value="@lstPackage[k].ServicePackageID" @strcheked wholeyear="@lstPackage[k].IsWholeYearPackage">@lstPackage[k].ServiceCode</option>
                                            }
                                            else
                                            {
                                                if (!"SMSFree".Equals(lstPackage[k].ServiceCode))
                                                {
                                                    <option value="@lstPackage[k].ServicePackageID" @strcheked wholeyear="@lstPackage[k].IsWholeYearPackage">@lstPackage[k].ServiceCode</option>
                                                }
                                            }

                                        }
                                                    }
                                                </select>

                                    }

                                            }
                                        </td>

                                        <td style="@styleNoborder">
                                            @{
                                    string _disabled = string.Empty;

                                    List<int?> semeseter1 = new List<int?>();

                                    _disabled = string.Empty;
                                    if (item.contractDetailList[i].SubscriptionStatus != 0
                                        || item.StatusPupil != GlobalConstantsEdu.COMMON_PUPIL_STATUS_STUDYING
                                        || semester == GlobalConstants.SEMESTER_OF_YEAR_SECOND
                                        )
                                    {
                                        _disabled = "disabled='disabled'";
                                    }


                                    if (item.contractDetailList[i].FirstSemester == GlobalConstants.SEMESTER_OF_YEAR_FIRST)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" checked="checked" @_disabled onchange="ChangeSemesterItem1(this)" class="Semester1" name="Semester1-@item.PupilID" id="Semester1-@item.PupilID-@index"  />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" @_disabled onchange="ChangeSemesterItem1(this)" class="Semester1" name="Semester1-@item.PupilID" id="Semester1-@item.PupilID-@index" />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }

                                            }
                                        </td>
                                        <td style="@styleNoborder">
                                            @{

                                    _disabled = string.Empty;

                                    if (item.contractDetailList[i].SubscriptionStatus != 0
                                        || item.StatusPupil != GlobalConstantsEdu.COMMON_PUPIL_STATUS_STUDYING
                                        )
                                    {
                                        _disabled = "disabled='disabled'";
                                    }

                                    if (item.contractDetailList[i].SecondSemester == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" checked="checked" @_disabled onchange="ChangeSemesterItem2(this)" class="Semester2" name="Semester2-@item.PupilID" id="Semester2-@item.PupilID-@index" />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" @_disabled onchange="ChangeSemesterItem2(this)" class="Semester2" name="Semester2-@item.PupilID" id="Semester2-@item.PupilID-@index" />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }



                                            }
                                        </td>
                                        <td style="@styleNoborder">
                                            @{

                                    _disabled = string.Empty;


                                    if (item.contractDetailList[i].SubscriptionStatus != 0
                                        || item.StatusPupil != GlobalConstantsEdu.COMMON_PUPIL_STATUS_STUDYING
                                        )
                                    {
                                        _disabled = "disabled='disabled'";
                                    }

                                    if (item.contractDetailList[i].AllSemester == GlobalConstants.SEMESTER_OF_YEAR_ALL)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" checked="checked" @_disabled onchange="ChangeSemesterItem3(this)" class="Semester3" name="Semester3-@item.PupilID" id="Semester3-@item.PupilID-@index" />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type="checkbox" @_disabled onchange="ChangeSemesterItem3(this)" class="Semester3" name="Semester3-@item.PupilID" id="Semester3-@item.PupilID-@index" />
                                            <span class="checkmark">&nbsp;</span>
                                        </label>
                                    }



                                            }
                                        </td>
                                        <td style="width:100px">
                                            <span id="@("StatusContractDetail" + "-" + item.contractDetailList[i].SMSParentContractID + "-" + item.PupilID + "-" + index)">
                                                @item.contractDetailList[i].SubscriptionStatus.GetStatusContractDetail()
                                            </span>
                                        </td>

                                        <td style="width:70px">
                                            @{
                                    if (item.contractDetailList[i].SMSParentContractDetailID > 0
                                        && currentYear)
                                    {
                                        int isRegis = lstPupilRegisterSMSFreeID.Contains(item.PupilID) ? 1 : 0;
                                        <div style="text-align:center;" id="@("AddEdit-" + item.PupilID + "-" + index)">
                                            <a onclick="OpenUpdateDialog(@item.ClassID, @item.PupilID,@item.contractDetailList[i].SMSParentContractID,@item.contractDetailList[i].ServicesPakageID,'@item.contractDetailList[i].ServiceCode', '@item.contractDetailList[i].IsLimitPackage.ToString()', '@item.contractDetailList[i].IsWholeYearPackage.ToString()','@isRegis',@item.contractDetailList[i].SMSParentContractID,'@item.contractDetailList[i].PhoneReceiver', @item.contractDetailList[i].SubscriptionStatus)" class="t-button t-button-icon t-ajax t-grid-vtEdit"><span class="t-icon t-vtEdit"></span></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="margin-top: 10px;">
                                            &nbsp;
                                        </div>
                                    }
                                            }
                                        </td>

                                        <td style="width:60px">
                                            @{
                                    long detailID = 0;
                                    if (item.contractDetailList[i].FirstSemester == GlobalConstants.SEMESTER_OF_YEAR_FIRST && item.contractDetailList[i].SecondSemester == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                                    {
                                        detailID = 0;
                                    }
                                    else
                                    {
                                        detailID = item.contractDetailList[i].SMSParentContractDetailID;
                                    }
                                    if (item.contractDetailList[i].SMSParentContractDetailID > 0
                                            && item.contractDetailList[i].SubscriptionStatus < GlobalConstantsEdu.STATUS_DELETE_CONTRACT_DETAIL
                                            && currentYear)
                                    {
                                        <div style="margin-top: 0px;" id="@("DeleteRow-" + item.PupilID + "-" + index)">
                                            @if (!"SMSFree".Equals(item.contractDetailList[i].ServiceCode))
                                            {
                                                @*<a onclick="DeleteRow(@item.contractDetailList[i].SMSParentContractID,'@item.contractDetailList[i].PhoneReceiver',@item.ClassID,@item.PupilID,@item.contractDetailList[i].ServicesPakageID)" class="t-button t-button-icon t-ajax t-grid-vtDelete"><span class="t-icon t-vtDelete"></span></a>*@
                                                <label class="custom-checkbox p-r-0 p-l-15">
                                                    <input type="checkbox" id="@("Row-" + item.PupilID + "-" + index)" name="CancelRow_@item.PupilID" value="@item.contractDetailList[i].SMSParentContractID-@item.contractDetailList[i].PhoneReceiver-@item.contractDetailList[i].ServicesPakageID-@detailID" onchange="CheckCancelSubscriber(this)" />
                                                    <span class="checkmark">&nbsp;</span>
                                                </label>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="margin-top: 0px;">
                                            &nbsp;
                                        </div>
                                    }
                                            }
                                        </td>

                                        <td style="width:60px">
                                            @{
                                    if (item.contractDetailList[i].SMSParentContractID <= 0)
                                    {
                                        if (item.StatusPupil == GlobalConstantsEdu.COMMON_PUPIL_STATUS_STUDYING && currentYear)
                                        {
                                            <label class="custom-checkbox p-r-0 p-l-15">
                                                <input type="checkbox" class="chekbox" id="@("Register-" + item.PupilID + "-" + index)" name="@("Register_" + item.PupilID)" onchange="CheckChangeItem()"  />
                                                <span class="checkmark">&nbsp;</span>
                                            </label>
                                        }
                                    }
                                            }
                                        </td>

                                    </tr>
                                }
                            }
                        </table>
                </text>).HeaderTemplate(@<text>
        <table border="1" id="TabInfo" style="table-layout:fixed;border-collapse:collapse">
            <tr>
                <td colspan="3" class="t-header" ><span class="t-link">Thông tin đăng ký</span></td>
                <td colspan="3" class="t-header" ><span class="t-link" >Thời hạn</span></td>
                <td rowspan="2" class="t-header" style="width:100px"><span class="t-link">Trạng thái</span></td>
                <td rowspan="2" class="t-header" style="width:70px"><span class="t-link">Sửa</span></td>
                <td rowspan="2" class="t-header" style="width:60px">
                    <span class="t-link">Hủy ĐK</span>
                    <label class="custom-checkbox p-r-0 p-l-15">
                        <input type="checkbox" id="CancelAll" onchange="CheckCancelAll(this)" />
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td rowspan="2" class="t-header" style="width:60px">
                    <span class="t-link">Đăng ký</span>
                    <label class="custom-checkbox p-r-0 p-l-15">
                        <input type="checkbox" id="RegisAll" onchange="CheckAll()" />
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="t-header" style="border-left:none;">

                    <span  class="t-link" id="LocationShowRelation" onclick="ShowListRelatives()">Quan hệ<br />với HS </span>
                    <div id="ListRelatives" class="ListRelatives" onmouseout="HideListRelatives()" onmouseover="ShowListRelatives()" style="display:none">
                        <div class="PersonItem" onclick="ChangePersonType('Father')" id="1">Bố</div>
                        <div class="PersonItem" onclick="ChangePersonType('Mother')" id="2">Mẹ</div>
                        <div class="PersonItem" onclick="ChangePersonType('Other')" id="3">Khác</div>
                    </div>
                </td>
                <td class="t-header">

                    <span class="t-link"> SĐT nhận tin </span>
                </td>
                <td class="t-header">
                    <span class="t-link" id="LocationShowService" onclick="ShowListServicePackage()">Gói cước</span>
                    <div id="ListMenuContextServicePackage" class="ListMenuContextServicePackage" onmouseout="HideListServicePackage()" onmouseover="ShowListServicePackage()" style="display:none">
                        @{
                            for (int i = 0; i < lstPackage.Count; i++)
                            {
                                <div class="ServiceItem" onclick="ChangeServicePackage(@lstPackage[i].ServicePackageID)" id="@lstPackage[i].ServicePackageID">@lstPackage[i].ServiceCode</div>
                            }
                        }
                    </div>
                </td>
                <td class="t-header">
                    @*<div class="VerticalLineSemHeader"></div>*@
                    <span class="t-link">
                        HKI<br />
                        @{
                            if (semester == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                            {
                                <label class="custom-checkbox p-r-0 p-l-15">
                                    <input type="checkbox" disabled="disabled" id="CheckAllSemeseter1" onchange="ChangeSemeseter1All()" />
                                    <span class="checkmark"></span>
                                </label>
                            }
                            else
                            {
                                <label class="custom-checkbox p-r-0 p-l-15">
                                    <input type="checkbox" id="CheckAllSemeseter1" onchange="ChangeSemeseter1All()" />
                                    <span class="checkmark"></span>
                                </label>
                            }
                        }

                    </span>
                </td>
                <td class="t-header">
                    <span class="t-link">
                        HKII<br />
                        <label class="custom-checkbox p-r-0 p-l-15">
                            <input type="checkbox" id="CheckAllSemeseter2" onchange="ChangeSemeseter2All()" />
                            <span class="checkmark"></span>
                        </label>
                    </span>
                </td>
                <td class="t-header">
                    <span class="t-link">
                        Cả năm<br />
                        <label class="custom-checkbox p-r-0 p-l-15">
                            <input type="checkbox" id="CheckAllSemeseter3" onchange="ChangeSemeseter3All()" />
                            <span class="checkmark"></span>
                        </label>
                    </span>
                </td>
            </tr>
        </table>
                </text>).Width(1000);
               })
            .DataBinding(dataBinding => dataBinding.Server().Select("Search", "SMSParentManageContract"))
            .Selectable(p => p.Enabled(true))
            .DataKeys(p => p.Add("PupilID"))
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Pageable(p => p.Enabled(paging).PageSize(SMSParentManageContractConstant.PageSize).PageTo(currentPage).Total(total))
            .EnableCustomBinding(true)
            .ClientEvents(p => p.OnDataBinding("onDataBinding").OnLoad("LoadComplete"))
            .Render();

            <input type="submit" value="hidden" id="FormGridContract-submit" style="display: none;" />
            
    }

</div>
<div id="MesageForCustomer">
    @Html.Raw(Res.Get("Message_For_Customer"))
</div>

<!--    Sử dụng để lưu Thông tin về gói cước -->
<div id="listServicePackage" style="display:none">
    @{
        for (int i = 0; i < lstPackageFull.Count; i++)
        {
            <div id="SVPVT-@lstPackageFull[i].ServicePackageID">@lstPackageFull[i].ViettelPrice.Value.ToString("#,##0")</div>
            <div id="SVPOther-@lstPackageFull[i].ServicePackageID">@lstPackageFull[i].OtherPrice.Value.ToString("#,##0")</div>
            <div id="SVPMaxSMS-@lstPackageFull[i].ServicePackageID">@lstPackageFull[i].MaxSMS</div>
            <div id="SVPIsWholeYear-@lstPackageFull[i].ServicePackageID">@lstPackageFull[i].IsWholeYearPackage</div>
        }
    }
</div>



<script type="text/javascript">
    count = '@count';
    $('#FormGridContract').on('keydown', function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    $(document).click(function (event) {
        if ($(event.target).attr("id") != 'LocationShowService' && $(event.target).attr("class") != 'ServiceItem') {
            $("#ListMenuContextServicePackage").css("display", "none");
        }

        if ($(event.target).attr("id") != 'LocationShowRelation' && $(event.target).attr("class") != 'PersonItem') {
            $("#ListRelatives").css("display", "none");
        }
    });
</script>
