﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using Microsoft.Security.Application;
<style>
    .sms-parent-manage-contact-page-calc {
    line-height: 35px;
    margin-top: 0;
    padding: 0;
    text-align: right;
}
</style>
@{
    List<LevelBO> levelList = (List<LevelBO>)ViewData[SMSParentManageContractConstant.ListLevel];
    List<SelectListItem> statusContractList = (List<SelectListItem>)ViewData[SMSParentManageContractConstant.ListStatusContract];
    List<ServicePackageBO> lstPackage = (List<ServicePackageBO>)ViewData[SMSParentManageContractConstant.ListServicePackage];
    int balance = (int)ViewData[SMSParentManageContractConstant.BALANCE];
    int ewalletid = 0;
    if (ViewData[SMSParentManageContractConstant.EWALLETID] != null)
    {
        ewalletid = (int)ViewData[SMSParentManageContractConstant.EWALLETID];
    }
}

<div class="sms-parent-manage-contact-page-search ">
    @using (Ajax.BeginForm("Search",
                           "SMSParentManageContract",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog()",
                               OnSuccess = "searchSuccess(data)",
                               OnComplete = "smas.hideProcessingDialog()",
                               OnFailure = "failureRequest"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()
        <div class="vt-SearchPanelEdit vt-SearchPanel vt-InfoPanel">
            <div class="vt-SearchPanel-TitleEdit vt-SearchPanel-Title">
                <span class="icon icon-search-file"></span>
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
                @Res.Get("Common_Label_SearchingCriteria")
            </div>
            <div class="vt-SearchPanel-ContentEdit vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Common_Label_EducationShort")
                                    </div>
                                    <div class="editor-field">
                                        <select name="CboEducationLevel" id="CboEducationLevel" onchange="AjaxLoadClass(this)">
                                            @*<option value="">[Tất cả]</option>*@
                                            @{for (int i = 0; i < levelList.Count; i++)
                                            {
                                                <option value="@levelList[i].EducationLevelID">@Sanitizer.GetSafeHtmlFragment(levelList[i].EducationLevelName)</option>
                                            }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Label_Class")
                                    </div>
                                    <div class="editor-field">
                                        <select name="CboClassID" id="CboClassID" onchange="ClassChange(this)">
                                            <option value="">[Tất cả]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Label_Tittle_Status")
                                    </div>
                                    <div class="editor-field">
                                        <select name="CboStatus" id="CboStatus">
                                            @for (int j = 0; j < statusContractList.Count; j++)
                                            {
                                                <option value="@statusContractList[j].Value">@statusContractList[j].Text</option> 
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Label_Pupil_Code")
                                    </div>
                                    <div class="editor-field">
                                        <input type="text" name="txtPupilCode" id="txtPupilCode" value="" onchange="TrimSpace(this)" maxlength="30" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Employee_Column_FullName")
                                    </div>
                                    <div class="editor-field">@Html.TextBox("PupuilName", string.Empty, new Dictionary<string, object> { { "maxlength", "30" }, { "onchange", "TrimSpace(this)" } })</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="vt-control">
                                    <div class="editor-label">
                                        @Res.Get("Số điện thoại")
                                    </div>
                                    <div class="editor-field">@Html.TextBox("MobilePhone", string.Empty, new Dictionary<string, object> { { "maxlength", "15" }, { "onchange", "TrimSpace(this)" }, {"onkeypress", "return AllowNumbersOnly(event)"} })</div>
                                </div>
                            </div>
                        </div>                                     
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="MessageCalculator sms-parent-manage-contact-page-calc ">
                            <input type="hidden" id="EWallet" value="@ewalletid"/>
                            <div class="ContentCalculator">
                                <div id="ContentDetail">
                                    <span>Số dư tài khoản: </span><span id="TotalMoney">@balance.ToString("#,##0")</span><span id="TotalMoney"> VND</span>
                                    <input type="hidden" id="Balance" value="@balance.ToString("#,##0").Replace(".", "")" />
                                </div>
                                <div id="ContentDetail">
                                    <span id="TitleSubscriberInfo">Số phụ huynh đăng ký: </span><span id="CountParent">0</span>
                                </div>

                                <div id="ContentDetailBottom">
                                    <span>Tổng số tiền cần thanh toán: </span><span id="PayMoney">0</span><span id="PayMoney"> VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="vt-SearchPanel-ButtonEdit">
                    <input type="submit" onclick="checkResetSearch()" class="btn btn-info btn-round btn-icon btn-icon-search" name="BtnSearch" id="BtnSearch" value="Tìm kiếm" />
                </div>
                <div class="clear"></div>
                
            </div>

            
            <div class="clear"></div>
            <input type="hidden" id="CurrentPage" name="CurrentPage" value="" />
            <input type="hidden" id="HfSClassName" name="HfSClassName" value="" />
        </div>
    }
</div>



