﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using Microsoft.Security.Application;

@{
    List<LevelBO> levelList = (List<LevelBO>)ViewData[SMSParentManageContractConstant.ListLevel];
    List<SelectListItem> statusContractList = (List<SelectListItem>)ViewData[SMSParentManageContractConstant.ListStatusContract];
    List<ServicePackageBO> lstPackage = (List<ServicePackageBO>)ViewData[SMSParentManageContractConstant.ListServicePackage];
    int balance = (int)ViewData[SMSParentManageContractConstant.BALANCE];
    int ewalletid = 0;
    if (ViewData[SMSParentManageContractConstant.EWALLETID] != null)
    {
        ewalletid = (int)ViewData[SMSParentManageContractConstant.EWALLETID];
    }
}
<style>
    /*.import-page .vt-control .editor-field {
    width: 65%;
}
    #DeferredPaymentPopup #frmSearch input[type=text] {
        height: 32px;
    }*/
</style>
<div >
    @using (Ajax.BeginForm("SearchPostage",
                           "SMSParentManageContract",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog()",
                               OnSuccess = "searchPostageSuccess(data)",
                               OnComplete = "smas.hideProcessingDialog()",
                               OnFailure = "failureRequest"
                           },
                           new { id = "frmSearch" }))
    {
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 import-page ">
            <div class="ContentForm " id="PostagePane">
        <div class="vt-SearchPanel-Title f-16">
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-ContentEdit vt-SearchPanel-Content">
            <div class="vt-SearchPanel-Content row no-padding">
                <div class="col-md-7">
                    <div >
                        <div class="vt-control">
                            <div class="editor-label">
                            <div class="lbContain">@Res.Get("Common_Label_EducationShort")</div>
                            </div>            
                            <div class="editor-field custom-select">
                                <select name="CboEducationLevel" id="CboEducationLevel" onchange="AjaxLoadClass(this)" >
                                    @*<option value="">[Tất cả]</option>*@
                                    @{for (int i = 0; i < levelList.Count; i++)
                                    {
                                        <option value="@levelList[i].EducationLevelID">@Sanitizer.GetSafeHtmlFragment(levelList[i].EducationLevelName)</option>
                                    }
                                    }
                                </select>
                            </div>
                    </div>
                    </div>
                    <div>
                        <div class="vt-control">
                        <div class="editor-label">
                        <div class="lbContain">@Res.Get("Label_Class")</div>
                        </div>
                        <div class="editor-field">
                            <select name="CboClassID" id="CboClassID">
                                <option value="">[Tất cả]</option>
                            </select>
                        </div>
                    </div> 
                    </div>
                    <div>
                        <div class="vt-control">
                            <div class="editor-label" >
                                <div class="lbContain">@Res.Get("Label_Tittle_Status")</div>
                            </div>
                            <div class="editor-field" >
                                <select name="CboStatus" id="CboStatus">
                                    <option value="0">[Tất cả]</option>
                                    <option value="5">Nợ cước</option>
                                    <option value="6">Nợ cước quá hạn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="vt-control">
                            <div class="editor-label">
                                <div class="lbContain">@Res.Get("Label_Pupil_Code")</div>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="txtPupilCode" id="txtPupilCode" value="" onchange="TrimSpace(this)" maxlength="30" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="vt-control">
                            <div class="editor-label">
                                <div class="lbContain">@Res.Get("Employee_Column_FullName")</div>
                            </div>
                            <div class="editor-field">@Html.TextBox("PupuilName", string.Empty, new Dictionary<string, object> { { "maxlength", "30" }, { "onchange", "TrimSpace(this)" } })</div>
                        </div>
                    </div>
                    <div>
                        <div class="vt-control">
                            <div class="editor-label" >
                            <div class="lbContain">@Res.Get("Số điện thoại")</div>
                        </div>
                        <div class="editor-field" >@Html.TextBox("MobilePhone", string.Empty, new Dictionary<string, object> { { "maxlength", "30" }, { "onchange", "TrimSpace(this)" } })</div>
                        </div>
                    </div>
                </div>
                <div class="MessageCalculator col-md-4">
    <input type="hidden" id="EWallet" value="@ewalletid"/>
  <div class="ContentCalculator">
      <div id="ContentDetail">
          <span>Số dư tài khoản: </span><span id="TotalMoney">@balance.ToString("#,##0")</span><span> VND</span>
          <input type="hidden" id="Balance" value="@balance.ToString("#,##0").Replace(".","")" />
      </div>
      <div id="ContentDetail">
          <span id="TitleSubscriberInfo">Thanh toán cho: </span><span id="CountParent">0</span> thuê bao
</div> 


      <div id="ContentDetailBottom">
          <span>Tổng số tiền cần thanh toán: </span><span id="PayMoney">0</span><span> VND</span>
      </div>
  </div>
</div>  
                </div>
           
            <div class="clear"></div>        
        </div>
    
        <div class="vt-SearchPanel-ButtonEdit text-center mg-b-10">
            <input type="submit" onclick="" class="btn btn-icon btn-info btn-round btn-round btn-icon-search" name="BtnSearchPostage" id="BtnSearchPostage" value="Tìm kiếm" />
            </div>
            <div class="clear"></div>
    </div>
        </div>

    }   
</div>



<script type="text/javascript">
    $(document).ready(function () {
        controlUtils.loadComboBox($("#PostagePane #CboClassID"), urlLoadClassList, { 'educationLevelID': $("#PostagePane #CboEducationLevel").val() }, getAll);
    });
</script>

