﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Business.Common.Extension
@using Microsoft.Security.Application;
<style>
    #ViewImportError #GridSearchSMSParent.GeneralTable td, #ViewImportError #Grid.GeneralTable td {
        padding: 0px 5px;
    }
</style>

@{
    List<ServicePackageBO> lstPackage = (List<ServicePackageBO>)ViewData[SMSParentManageContractConstant.ListServicePackage];
    List<SMSParentContractGroupBO> lstSMSParentContractGroupBO = new List<SMSParentContractGroupBO>();
     int index = 1;
     if (ViewData[SMSParentManageContractConstant.ListStatusContract] != null)
     {
         lstSMSParentContractGroupBO = (List<SMSParentContractGroupBO>)ViewData[SMSParentManageContractConstant.ListStatusContract];
     }
}
<div>@Res.Get("Title_Warning_Import_Error")</div>
<div class="vt-ResultPanelEdit">
   @{
       Html.Telerik()
               .Grid<SMSParentContractGroupBO>(lstSMSParentContractGroupBO)
               .Name("GridSearchSMSParent")
               .HtmlAttributes(new { @class = "GeneralTable General1Table" })
               .Columns(c =>
               {
                   c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { @class = "ColsTd1 AlignCCols", style = "text-align:center;word-wrap: break-word;" }).Width(30);
                   c.Bound(p => p.PupilCode).Title(Res.Get("Label_Pupil_Code")).Width(110).HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(100);
                   c.Bound(p => p.PupilName).Title(Res.Get("Label_FullName_Pupil")).Width(130).HtmlAttributes(new { style = "word-wrap: break-word;" }).Width(150);
                   c.Bound(p => p.ClassName).Title(Res.Get("Label_Class")).HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(50);
                   c.Template(@<text>@item.contractDetailList[0].RelationShip</text>).Title(Res.Get("Label_Reationship_GridView")).Width(50);
                   c.Template(@<text>@item.contractDetailList[0].PhoneReceiver.ExtensionMobile()</text>).HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Title("SĐT nhận tin").Width(100);                                                       
                   c.Template(@<text>@item.contractDetailList[0].ServiceCode</text>).Title("Gói cước").Width(70);
                   c.Template(@<text>
                        @{
                           
                            if (item.contractDetailList[0].AllSemester == GlobalConstants.SEMESTER_OF_YEAR_ALL)
                            {
                            @SMSParentManageContractConstant.STR_SEMESTER_ALL;
                            }
                            else if (item.contractDetailList[0].FirstSemester == GlobalConstants.SEMESTER_OF_YEAR_FIRST)
                            {
                            @SMSParentManageContractConstant.HKI;
                            }
                            else if (item.contractDetailList[0].SecondSemester == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                            {
                            @SMSParentManageContractConstant.HKII;
                            }
                            else
                            {
                                @item.contractDetailList[0].InputSemester
                            }
                        }
                    </text>).Title("Thời hạn").Width(70);                                                                
                   c.Template(@<text>
                        @{
                           
                          if (!string.IsNullOrEmpty(item.MessageError))
                            {
                                    @item.MessageError;
                            }
                            @item.contractDetailList[0].MessageDetail
                        }
                    </text>).Title("Mô tả lỗi");                           
                                         
               })
            .Selectable(p => p.Enabled(true))
            .DataKeys(p => p.Add("PupilID"))
            .Scrollable(p => p.Enabled(true).Height(350))
            .EnableCustomBinding(true)
            .Render();

           
            <div style="float: right; margin-top: 8px; margin-bottom:8px;">
                <input type="button" class="btn btn-basic btn-round" name="btnCloseError" id="btnCloseError" value="Đóng" onclick="CloseDialogError()" />

            </div>
  
   }
</div>



