﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentYear = (string)ViewData[SMSParentManageContractConstant.CURRENTYEAR];
    bool check = (bool)ViewData[SMSParentManageContractConstant.IS_SMS_PARENT];
    GlobalInfo globalInfo = new GlobalInfo();
    int semester = globalInfo.Semester.Value;
}
<link href="@Url.Content("~/Areas/SMSEduArea/Content/SMSParentManageContract/Index.css")" rel="stylesheet" />

@{
    if (check)
    {
        <div>
            <div>@{ Html.RenderPartial("_Search"); }</div>
            <div id="Search" class="sms-parent-ma-contact-page">
                <div id="msg">

                </div>
                <div class="clear"></div>
            </div>

        </div>
    }
    else
    {
        <div>
            <center>
                <h3 style="color: Red; font-weight: bold;">Nhà trường chưa đăng ký dịch vụ SMS Parent. Vui lòng liên hệ 18008000 nhánh 1 (miễn phí) để được hỗ trợ đăng ký dịch vụ.</h3>
            </center>
        </div>
    }

}


@(Html.Telerik().Window()
                .Name("UpdateDialog")
                .Title(" ")
                .Buttons(b => b.Close())
                .Content(@<text>@string.Empty</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(640)
                .HtmlAttributes(new { @class = "sms-parent-ma-contact-update-window" })
                .ContentHtmlAttributes(new { style="min-width: 640px;"})
)

@(Html.Telerik().Window()
                .Name("CreateDialog")
                .Title(Res.Get("Title_Lbl_Register"))
                .Buttons(b => b.Clear())
                .Content(@<text>@Html.Partial("_ViewAndExtra")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(650)
                
                .ContentHtmlAttributes(new { style="min-width: 650px;"})
)


@(Html.Telerik().Window()
                .Name("EditDialog")
                .Buttons(b => b.Clear())
                .Title(Res.Get("Title_Lbl_Update_Register"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .ContentHtmlAttributes(new { style="min-width: 550px;"})
)

@(Html.Telerik().Window()
                .Name("ConfirmDialog")
                .Buttons(b => b.Clear())
                .Title(Res.Get("Title_Lbl_Update_Register"))
                .Content(@<text>@Html.Partial("_ConfirmDialog")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .ContentHtmlAttributes(new { style="min-width: 550px;"})
)

@(Html.Telerik().Window()
                .Name("ConfirmAlertDialog")
                .Buttons(b => b.Clear())
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmAlert")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
            .Name("WarningAlertDialog")
            .Buttons(b => b.Clear())
            .Title("Thông báo")
            .Content(@<text>@Html.Partial("_WarningAlert")</text>)
            .Draggable(true)
            .Visible(false)
            .Modal(true)
            .Width(500)
            .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("SelectImport")
                .Buttons(b => b.Clear())
                .Title("Import từ file Excel")
                .Content(@<text>@Html.Partial("_Attachment")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700)
                .HtmlAttributes(new { @class = "sms-parent-ma-contact-import-window" })
                .ContentHtmlAttributes(new { style="min-width: 700px;"})
                //.ClientEvents(p=>p.OnClose("OnClosePopUpImport"))
)

@(Html.Telerik().Window()
                .Name("ViewImportError")
                    .Buttons(b => b.Clear())
                    .Title(Res.Get("Title_Grid_Error_Import_SMSParent"))
                .Content(@<text><div id="lstError"></div></text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                
                .ContentHtmlAttributes(new { style="min-width: 760px;"})

)
@(Html.Telerik().Window()
                .Name("ConfirmAlertRedirect")
                    .Buttons(b => b.Clear())
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmAlertRedirect")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("ConfirmAlertAddSubsciber")
                .Buttons(b => b.Clear())
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmAlertAddSubsciber")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
            .Name("ConfirmAllowDeferredPayment")
            .Buttons(b => b.Clear())
            .Title("Thông báo")
            .Content(@<text>@Html.Partial("_ConfirmAllowDeferredPayment")</text>)
            .Draggable(true)
            .Visible(false)
            .Modal(true)
            .Width(500)
        
            .ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
            .Name("DeferredPaymentPopup")
            .Buttons(b => b.Close())
            .Title("Thanh toán nợ cước")
            .Content(@<text>@Html.Partial("DeferredPayment")</text>)
            .Draggable(true)
            .Visible(false)
            .Modal(true)
            .Width(760)
            .HtmlAttributes(new { @class = "sms-parent-ma-contact-payment-window" })
            .ContentHtmlAttributes(new { style="min-width: 760px;"})
)


<script type="text/javascript">
    var currentSemester = '@semester';
    currentSemester = parseInt(currentSemester);
    var FirstSemester = '@GlobalConstantsEdu.SEMESTER_OF_YEAR_FIRST';
    FirstSemester = parseInt(FirstSemester);
    var SecondSemester = '@GlobalConstantsEdu.SEMESTER_OF_YEAR_SECOND';
    SecondSemester = parseInt(SecondSemester);

    var isResetSearchContract = true; // check is search is reset
    var lstInd = 0;
    var isFirstTime = true;
    var count = '';
    var urlLoadClassList = '@Url.Action("GetListClassByEducationLevelID", "SMSParentManageContract")';
    var getAll = '[Tất cả]';
    //var urlLoadMaxSMSByPackageID = '@Url.Action("GetMoneyAndTotalSMS", "SMSParentManageContract")';
    var strMaxSMSTotalMoney = '@Res.Get("ĐG: {0} VNĐ/{1} SMS/Học kỳ")';
    var messagePhoneInValid = stringUtils.HtmlDecode('@Res.Get("blb_Message_Phone_Invalid")');
    var messagevalidatephone = "SĐT không hợp lệ";
    var messageValidatePhoneEmpty = "Chưa nhập SĐT";
    var messageCreatePhoneError = "Số điện thoại không hợp lệ, thầy cô vui lòng kiểm tra lại";
    var messagePupilCodeEmpty = "Mã học sinh không để trống;";
    var urlUpdateDialog = '@Url.Action("OpenUpdateContractDialog", "SMSParentManageContract")';

    var urlSaveAddNewSubscriber = '@Url.Action("AddSubscriber", "SMSParentManageContract")';
    var urlDeleteContract = '@Url.Action("DeleteContractDetail", "SMSParentManageContract")';
    var urlCancelSubscriber = '@Url.Action("CancelListSubscriber", "SMSParentManageContract")';
    var urlGetDataEdit = '@Url.Action("Edit", "SMSParentManageContract")';
    var urlGetDataCreate = '@Url.Action("LoadCreateView", "SMSParentManageContract")';
    var urlSaveEdit = '@Url.Action("SaveEdit", "SMSParentManageContract")';
    var urlCheckMobile = '@Url.Action("AjaxCheckMobile", "SMSParentManageContract")';
    var urlLoadExtraMoney = '@Url.Action("LoadExtraMoney", "SMSParentManageContract")';
    var confirmAdd = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Message_AddConfirm"))');
    var confirmAddSuccess = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Message_AddConfirm_Success"))');
    var messageDeleteContractDetail = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Message_Delete_Detail_Contract"))');
    var MessageUpdateContactFail = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Message_Update_Contract"))');
    var MessgaeUpdateContractConfirm = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Message_Update_Contact_Confirm"))');
    var urlSaveImport = '@Url.Action("SaveImport", "SMSParentManageContract")';
    var urlSaveImportExtra = '@Url.Action("SaveImportExtra", "SMSParentManageContract")';
    var urlSaveRegis = '@Url.Action("SaveFormRegis", "SMSParentManageContract")';
    var urlUpdatePupilOfClass = '@Url.Action("UpdatePupilOfClass", "SMSParentManageContract")';
    var urlSaveAddExtra = '@Url.Action("SaveExtra", "SMSParentManageContract")';
    var messagePhoneEmpty = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Validate_Phone_Receiver"))');
    var messgeSubscriberTimeEmpty = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Validate_Subscription_Time_Empty"))');
    var messageValidateButtonSaveGrid = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Validate_BtnSave_Grid_Contract"))')
    var messageValidateSubscritioTime = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Validate_BtnSave_Grid_SubscriberTime"))');

    var messageConfirmProcess = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Confirm_RegisList_SMSParent"))');// confirm co muon thanh toan khong
    var messageConfirmRegisNotSuccess = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Confirm_RegisList_SMSParent_Not_Success"))');// thanh toan khong thanh cong
    var messageRegisSuccess = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Lbl_Regis_Success"))');// dang ky thanh cong

    var urlGetEwallet = '@Url.Action("GetEwallet", "SMSParentManageContract")';

    var PricePaiedEditOrCretae = "(ĐG: {0} VNĐ – {1} VNĐ/{2} SMS/Học kỳ)"; // 0: gia noi mang, 1 gia ngoai mang, 2 so tin nhan

    var titelUpdate = "Cập nhật đăng ký SLLĐT";
    var titeInsert = "Đăng ký SLLĐT";

    var urlCreateSparent = '@Url.Action("CreateAccountSparent", "SMSParentManageContract")';

    // AnhVD9 Bổ sung trả chậm

    var mesg_ToDeferPayment_Ndays = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Title_SMSParent_Contract_ToDeferPayment_Ndays"))');
    var mesg_ToDeferPayment_Notes = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Title_SMSParent_Contract_ToDeferPayment_Notes"))');
    var DEFERRED_PAYMENT_DAYS = '@System.Web.Configuration.WebConfigurationManager.AppSettings[GlobalConstantsEdu.DEFERRED_PAYMENT_DAYS_KEY]';
    var urlRedirectToCheckout = '@Url.Action("RedirectToCheckout", "SMSParentManageContract")';

    var msg_SMSParentContract_ConfirmCheckout = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Message_SMSParentContract_ConfirmCheckout"))');
    var msg_SMSParentContract_CheckoutNotSuccess = stringUtils.HtmlDecode('@Html.Raw(Res.Get("Message_SMSParentContract_CheckoutNotSuccess"))');
    var urlCheckout = '@Url.Action("Checkout", "SMSParentManageContract")';
    var IMPORTING = false;
    var iPupilID;
    var iContractDetailID;
    var iServicesPakageID;
    var iServicesPakageCode;
    var isRegis;
    var iContractID;
    var iPhone;
    var iClassID;
    var iIsWholeYearPackage;
</script>
@section script{
    @System.Web.Optimization.Scripts.Render("~/bundles/SMSParentManageContract")
}
