﻿@model ProvinceSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ProvinceSubjectArea.Models
@using SMAS.Web.Areas.ProvinceSubjectArea
@using SMAS.Web.Constants

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
}


<div class="vt-ResultPanel">
    <div class="text-right mg-b-10 mg-t-10">
        @{if (checkCreate)
                  {
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "SaveButton()", "btn btn-info btn-icon btn-round btn-icon-save")
                  }
                }
    </div>
@{using (Ajax.BeginForm("Save",
                           "ProvinceSubject",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstProvinceSubject",
                           },
                           new { id = "frmList" }))
  {
    
    
        @Html.AntiForgeryToken()
      var index = 1;

      Html.Telerik()
          .Grid((IEnumerable<ProvinceSubjectViewModel>)ViewData[ProvinceSubjectConstants.LIST_PROVINCESUBJECT])
          .Name("GridProvinceSubject")
          .HtmlAttributes(new { @class = "province-subject-list" })
          .Columns(c =>
          {
              c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
              //c.Bound(o => o.OrderInSubject).Sortable(true).HeaderTemplate("Kiem Tra").Width(180);
              c.Bound(o => o.DisplayName).Sortable(true).HeaderTemplate(Res.Get("ProvinceSubject_Label_DisplayName")).Width(120);
              c.Bound(o => o.Abbreviation).Sortable(true).HeaderTemplate(Res.Get("ProvinceSubject_Label_Abbreviation")).Width(60);
              c.Template(@<text>
    @{
        IEnumerable<ComboObject> list = (IEnumerable<ComboObject>)ViewData[ProvinceSubjectConstants.LIST_IsCommenting];
        List<SelectListItem> listIsCommenting = new List<SelectListItem>();
        if (list != null && list.Count() > 0)
        {
            foreach (ComboObject it in list)
            {
                SelectListItem combo = new SelectListItem();
                combo.Value = it.key;
                combo.Text = it.value;
                combo.Selected = false;
                if (item.IsCommenting != null)
                {
                    if (it.key == item.IsCommenting.Value.ToString())
                    {
                        combo.Selected = true;
                    }
                }
                listIsCommenting.Add(combo);
            }

        }
    }
    @if (item.IsEditIsCommenting)
    {
        @Html.ViettelCombobox("", "IsCommenting" + item.SubjectID, (IEnumerable<SelectListItem>)listIsCommenting, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {}, false, false)
    }
    else
    {
        @Html.ViettelCombobox("", "IsCommenting" + item.SubjectID, (IEnumerable<SelectListItem>)listIsCommenting, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "disabled", "disabled" } }, false, false)
    }
    </text>).HeaderTemplate(Res.Get("ProvinceSubject_Label_SubjectType")).HtmlAttributes(new {@class = "col-combo-box"}).Width(100);
              c.Template(@<text>
    @{
        IEnumerable<ComboObject> list = (IEnumerable<ComboObject>)ViewData[ProvinceSubjectConstants.LIST_AppliedType];
        List<SelectListItem> listAppliedType = new List<SelectListItem>();
        if (list != null && list.Count() > 0)
        {
            foreach (ComboObject it in list)
            {
                SelectListItem combo = new SelectListItem();
                combo.Value = it.key;
                combo.Text = it.value;
                combo.Selected = false;
                if (item.AppliedType != null)
                {
                    if (it.key == item.AppliedType.Value.ToString())
                    {
                        combo.Selected = true;
                    }
                }
                listAppliedType.Add(combo);
            }

        }
    }
    @Html.ViettelCombobox("", "AppliedType" + item.SubjectID, (IEnumerable<SelectListItem>)listAppliedType, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {}, false, false)
    </text>).HeaderTemplate(Res.Get("ProvinceSubject_Label_SubjectMode")).HtmlAttributes(new { @class = "col-combo-box" }).Width(100);
              c.Template(@<text>@Html.ViettelTextbox("", "Coefficient" + item.SubjectID, item.Coefficient, new Dictionary<string, object>() { { "maxlength", "1" }, { "class", "integer innumber" } }, true, false)
    </text>).Visible((bool)ViewData[ProvinceSubjectConstants.Visible_ColCoefficient]).HeaderTemplate(Res.Get("ProvinceSubject_Label_Coefficient")).Width(100);
              c.Template(@<text>@Html.ViettelTextbox("", "SectionPerWeekFirstSemester" + item.SubjectID, item.SectionPerWeekFirstSemester, new Dictionary<string, object>() { { "maxlength", "3" }, { "onkeypress", "return requestNumber(event);" }, { "onchange", "validateNumber(this);" } }, true, false)
    </text>).HeaderTemplate(Res.Get("ProvinceSubject_Label_SectionPerWeekFirstSemester")).Width(80);
              c.Template(@<text>@Html.ViettelTextbox("", "SectionPerWeekSecondSemester" + item.SubjectID, item.SectionPerWeekSecondSemester, new Dictionary<string, object>() { { "maxlength", "3" }, { "onkeypress", "return requestNumber(event);" }, { "onchange", "validateNumber(this);" } }, true, false)
    </text>).HeaderTemplate(Res.Get("ProvinceSubject_Label_SectionPerWeekSecondSemester")).Width(80);

              c.Template(@<text>
    @{
        if (@item.IsChoice == true)
        {
           <label class="custom-checkbox">
                <input type="checkbox" name="@("chk_" + item.SubjectID.ToString())" typemode="check" checked/>
                <span class="checkmark"></span>
            </label> 
        }
        else
        {
            <label class="custom-checkbox">
                <input type="checkbox" name="@("chk_" + item.SubjectID.ToString())" typemode="check"/>
                <span class="checkmark"></span>
            </label>
        }
    }
    </text>)
  .HeaderTemplate(@<text>
            <label class="custom-checkbox">
                <input type="checkbox" name="chkAll" onchange="checkAll(this);"typemode="check" />
                <span class="checkmark"></span>
            </label>
    
    </text>).Width(50);

          })
          .DataBinding(b =>
              b.Ajax().OperationMode(GridOperationMode.Client)
                      .Select("Search", "ProvinceSubject")

           )
          .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                              .OnCommand("Grid_onCommand")
          )
          .DataKeys(keys => keys.Add(o => o.ProvinceSubjectID))
          .Sortable()
          .Editable(editing => editing.Mode(GridEditMode.PopUp))
          .Scrollable(c => c.Enabled(true).Height(500))
          .Selectable()
          .Render();
  }
}
 </div>   

<script type="text/javascript">
    var lstInd = 0;
    function enabledCombo() {
        $("select[disabled=disabled]").removeAttr("disabled");
    }
    $(".innumber").keyup(function (e) {
        if ((this.value * 1) > 2) {
            this.value = "";
        }
    });
    function SaveButton() {
        var AcademicYearOfProvinceID = $("#AcademicYearOfProvinceID").val();
        var AppliedLevelID = $("#AppliedLevelID").val();
        setTimeout(function () { EducationLevelID = $("#frmSearch #EducationLevelID").val(); }, 400);
        var EducationLevelID = $("#frmSearch #EducationLevelID").val();
        var IsRegularEducation = $("input[name=IsRegularEducation]").val();
        enabledCombo();
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("Save")',
            type: 'post',
            data: { form: jsonUtils.serializeObject("frmList"), AcademicYearOfProvinceID: AcademicYearOfProvinceID, AppliedLevelID: AppliedLevelID, EducationLevelID: EducationLevelID, IsRegularEducation: IsRegularEducation, __RequestVerificationToken: token },



            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.alert(msg);
                LoadData();
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })

    }

    function validateNumber(obj) {
        var val = $(obj).val();
        //        alert(val);
        if (val != "") {
            var number = parseInt(val);
            if (number > 10 || number < 0) {
                smas.alert("@Html.Raw(Res.Get("ProvinceSubject_Validate_Time"))");
                $(obj).val("");
            }

        }
    }

    function requestNumber(e) {

        if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 44 && e.which != 0) {
            return false;
        }
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridProvinceSubject').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("ProvinceSubject_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.ProvinceSubjectID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>
