﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PupilProfileReportArea
@using SMAS.Web.Areas.PhysicalExaminationArea;

<form id ="frmPupilOfClassReport">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" id ="PupilOfClassReportID">
     <div class="vt-SearchPanel-Title">
         @Res.Get("Kết quả cân đo sức khoẻ")
     </div>
    <div class="vt-SearchPanel-Content">
        <div class="row">
            <div class="col-md-6">
            @Html.ViettelCombobox(
            Res.Get("EvaluationDevelopment_Label_EducationLevel_MN"), 
            "EducationLevelID", 
            (IEnumerable<SelectListItem>)ViewData[PupilProfileReportConstants.LIST_EDUCATIONLEVEL],
            GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "onchange", "LoadClass();" }}
            , false, false)
            </div>
            <div class="col-md-6">
            @Html.ViettelCombobox(Res.Get("PupilAway_ClassProfile_Label_AllTitle"), "ClassID", new List<SelectListItem>(), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { {"disabled","disabled"} }, true, false)
            
            </div>
            <div class="col-md-6">
            @Html.ViettelCombobox(Res.Get("Đợt cân đo"), "MonthID", 
                (IEnumerable<SelectListItem>)ViewData[PhysicalExaminationConstants.LIST_MONTH],
                GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "onchange", "Load()" }}
                , false, false)
            </div>
        </div>
    </div>
    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()","btn btn-icon btn-icon-excel btn-info btn-round")
        @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn  btn-info btn-round btn-icon btn-icon-pdf")
    </div>
</div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 mg-t-10">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>

<div class="text-center">     
    <iframe  src="/HtmlTemplate/Bao_Cao_YTe_Can_Do_Suc_Khoe/BC_Yte_KetQuaCanDoSK.htm">
    </iframe>
</div>

<script>

    $(document).ready(function () {
        LoadClass();
    });
    function LoadClass() {
        var eduId = $("#PupilOfClassReportID #EducationLevelID").val();

        if (eduId > 0) {
            $('#ClassID').removeAttr('disabled');
            $.ajax({
                url: '@Url.Action("LoadClass", "MonthlyHealthDetailsReport")',
                type: 'post',
                data: { eduId: eduId },
                success: function (data) {
                    $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
            } else {
                $('#ClassID').attr('disabled', 'disabled');
                $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
            }
    }

    function SubmitClick() {
        smas.getReport('frmPupilOfClassReport', '@Url.Action("GetMonthlyHealthyReport", "MonthlyHealthDetailsReport")',
        '@Url.Action("GetNewReport", "MonthlyHealthDetailsReport")', '@Url.Action("DownloadReport", "MonthlyHealthDetailsReport")');
    }

    function SubmitPDFClick() {
        var blank = '_blank';
        smas.getReportDocument('frmPupilOfClassReport', '@Url.Action("GetMonthlyHealthyReport", "MonthlyHealthDetailsReport")',
        '@Url.Action("GetNewReport", "MonthlyHealthDetailsReport")', '@Url.Action("DownloadPDFReport", "MonthlyHealthDetailsReport")', blank);
    }
    $("#EducationLevelID").focus();
</script>
