﻿@model SendSMSToTeacherViewModel           
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants

@{
    const string COMMA = ", ";    
}

<div class="GroupPerson ReceiverGroup">
    <p>
        <span>@Res.Get("Common_Label_Receiver"): </span>
        @if (Model.TeacherBOList.Count == 0)
        {            
            @Html.Raw(Res.Get("Send_SMS_Group_No_Teacher_In_Group"))
        }
        else
        {
            for (int i = 0; i < Model.TeacherBOList.Count; i++)
            {
                @Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(Model.TeacherBOList[i].FullName)
                if (i < Model.TeacherBOList.Count - 1)
                {
                    @(COMMA)
                }
            }
        }
    </p>
    <div class="CollapseBtnSMS">
        <div id="colapseFuncSMS" class="Sprite1 Sclose" onclick="ColapseFuncSMS(this)">
            <span class="HideText">@Res.Get("Import_Label_Close")/@Res.Get("Common_Label_Open")</span>
        </div>
    </div>
</div>
