﻿@model SendSMSToTeacherViewModel
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@{
    int numTeacher = 0;
    bool allowSend = false;
    const string STR_ONE = "1";
    string brandname = CommonMethods.GetBrandName();
    string prefixName = (string)ViewData[SendSMSToTeacherConstants.PREFIX_NAME_OF_SCHOOL];
    GlobalInfo globalInfo = new GlobalInfo();
}

<style>
    .ContentListSection .GroupPerson {
    overflow: hidden;
    background: white;
    width:100%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    /*padding: 7px 10px;*/
    /*border: 1px solid #d1d0d0;*/
    position: relative;
    /*margin-left: 10px;
    margin-right: 10px;*/
}
    .GroupTeacherReceiver {
    margin-bottom: 10px;
    }

    .ContentListSection {
    padding-top: 10px;
    }
    .ContentListSection .ToolTipSendSMS span {
    font-weight: normal;
    color: Red;
    }

    #ListTeacherReceiverSMS {
    background-color: #fff;
    margin: 7px -14px;
    }

    .ContentListSection .GroupPerson p {
    /*padding-right: 7px;*/
    }


</style>
@using (Ajax.BeginForm("SendSMS", "SendSMSToTeacher",
        new AjaxOptions
        {

            HttpMethod = "post",
            OnBegin = "loadWaiting",
            OnComplete = "smas.hideProcessingDialog",
            OnSuccess = "SaveSuccess",
            OnFailure = "SaveFail"
        },
        new { id = "frmMessage" }
        ))
{
     @Html.AntiForgeryToken()
    if (Model == null)
    {
        <div class="TitleTab1SectionBtm bg-green">
            <p style="padding-left: 10px;">
                @Res.Get("Common_No_Teacher")
            </p>
        </div>
        <div class="GeneralInCtnSection">
            <div class="ContentListSection" style="display: block; padding: 0px;">
                <p class="GroupPerson" style="text-align: center; margin: 0px;">
                    <span>@Res.Get("Send_SMS_Group_No_Group")</span>
                </p>
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.ContactGroupID)
        @Html.HiddenFor(m => m.FalcultyID)
        @Html.HiddenFor(m => m.GroupCode)
        @Html.HiddenFor(m => m.GroupName)
        <!-- TITLE -->
        <div style="color:white;border-top-left-radius: 7px;border-top-right-radius: 7px;" class="TitleTab1SectionBtm bg-green">
            <p style="padding-left: 10px;">@Model.GroupName - @Model.NumOfTeacher @Res.Get("Common_Label_Teacher_Lowwer")</p>
        </div>
        <!-- CONTENT -->
        <div class="GeneralInCtnSection">
            <div class="ContentListSection" style="display: block;">
                @{
                    Html.RenderPartial("_DefaultGroupDetail", Model);    
                }

                <div class="GroupPerson ToolTipSendSMS" style="border-top:none;"> 
                    <p>
                        <span>@Res.Get("SendSMSToTeacher_Label_Balance"): <span class="BalanceOfEWallet mg-l-5 mg-r-5">@Model.Balance.ToString("#,##0")</span> VNĐ</span>
                    </p>   
                    <p>
                        <span>@Model.ContentPromotion</span>
                    </p>
                   
                </div>
                <div class="SendSMSSection ContentSMS">
                    <div class="AvatarSection SMSLogo">
                        @if (globalInfo.IsAdmin)
                        {
                            <img src="@Url.Action("GetSchoolImage", "SendSMSToTeacher", new { id = globalInfo.SchoolID.Value})" width="31" height="30" alt="Avatar" />
                        }
                        else
                        {
                            <img src="@Url.Action("GetEmployeeImage", "SendSMSToTeacher", new { id = globalInfo.EmployeeID.GetValueOrDefault()})" width="31" height="30" alt="Avatar" />
                        }
                    </div>
                    <div style="width:100%;" class="Field">
                        @{
                allowSend = Model.NumOfTeacher > 0 || Model.isDefaultGroup;
                numTeacher = Model.NumOfTeacher;
                        }
                        @if (allowSend)
                        {
                            @Html.TextAreaFor(m => m.SMSContent, new
                           {
                               @style = "width:100%",
                               @class = "TextareaStyle",
                               @row = STR_ONE,
                               @col = STR_ONE,
                               @onkeyup = "validateUtils.SetPrefixSMSBySchool(this); enalbeButtonSend();validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked')) ",
                               @onblur = "validateUtils.SetPrefixSMSBySchool(this);validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked'))"
                           })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.SMSContent, new
                           {
                               @style = "width:100%",
                               @class = "TextareaStyle",
                               @row = STR_ONE,
                               @col = STR_ONE,
                               @disabled = "disabled",
                               @onkeyup = "validateUtils.SetPrefixSMSBySchool(this);enalbeButtonSend();validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked'));",
                               @onblur = "validateUtils.SetPrefixSMSBySchool(this);validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked'))"
                           })
                        }
                        <div class="Clear">
                        </div>
                        <p class="Text1Style">
                            
                        </p>

                        @*Cho phép gửi tin nhắn có dấu*@
                        <div style="padding:5px 0px">
                            <label class="custom-checkbox">
                                <input type="checkbox" id="AllowSignMessage" name="AllowSignMessage" value="true" onchange="checkAllowSignMsg(this)"
                                        @(ViewData[SendSMSToTeacherConstants.IS_ALLOW_SEND_UNICODE_MSG] != null && (bool)ViewData[SendSMSToTeacherConstants.IS_ALLOW_SEND_UNICODE_MSG] ? "" : "disabled='disabled'") /> Gửi tin nhắn có dấu
                                <span style="color: red;" id="ContentInfoMsg"></span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <input type="hidden" value="False" name="RemoveSpecialChar" id="RemoveSpecialChar" />
                        <div class="BtnCenterSection">
                            @if (allowSend)
                            {
                                <input type="submit" id="btSendSMS" class="btn btn-info btn-round" value="@Res.Get("Home_Notification_Label_Send")" disabled="disabled" onclick="document.getElementById('RemoveSpecialChar').value = 'False'; return CheckTeacher(event);" />
                                <input type="submit" id="btHidSendSMS" style="display:none" onclick="document.getElementById('RemoveSpecialChar').value = 'True';" />
                                
                                @*<input type="submit" id="btsendSilient" style="visibility: hidden;" />*@
                            }
                            else
                            {
                                <input type="submit" id="btSendSMS" class="btn btn-info btn-round" value="@Res.Get("Home_Notification_Label_Send")" disabled="disabled" />
                            }
                        </div>
                    </div>
                    <div class="Clear">
                    </div>
                </div>
            </div>
        </div>
        <!-- Editor Form -->
    }
}
@(Html.Telerik().Window()
    .Name("largeOfTeacherConfirm")
    .Title("Thông báo")
    .Content(@<text>
        <div class="popup-content-fault">@Res.Get("Send_SMS_Group_Send_To_Large_Teacher")</div>
        <div style="width: 100%; text-align: center;">
            <input type="button" id="btOK" value="Đồng ý" class="t-button" onclick="okContinue()" />
            <input type="button" id="btCancel" value="Hủy" class="t-button" onclick="onCancel()" />
            <input type="hidden" id="HNumberOdTeacher" value="@numTeacher"/>
            <input type="hidden" id="isDefaultGroup" value="@(Model != null && Model.isDefaultGroup == true ? "true" : "false")">
        </div>
    </text>)
    .Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
)
@(Html.Telerik().Window()
    .Name("OutOfBalanceMsg")
    .Title("Thông báo")
    .Content(@<text>
        <div class="popup-content-fault">
			@Html.Raw(string.Format(Res.Get("SendSMS_Label_OutOfBalanceUrlError"), "onclick=\"redirectPayment();\""))
		</div>
        <div style="width: 100%; text-align: center;">            
            <input type="button" id="btCancel" value="OK" class="t-button" onclick="onCancel('OutOfBalanceMsg')" />            
        </div>
    </text>)
    .Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
)

<script language="javascript" type="text/javascript">
    _isDefaultGroup = "true";
    var allowSend = '@(allowSend == true ? "true" : "false")';
    NUMBER_OF_TEACHER = '@numTeacher';
    brandNamePrefix = stringUtils.HtmlDecode('@brandname');
    var prefixName = stringUtils.HtmlDecode('@prefixName');
</script>