﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SummedUpRecordByEducationLevelArea.Models
@using SMAS.Web.Areas.SummedUpRecordByEducationLevelArea
@using SMAS.Web.Utils

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @Html.ViettelEditorForModel()
</fieldset>
<script type="text/javascript">
    function SearchSum() {
        var EducationLevel = document.getElementById('EducationLevel').value;
        var Semester = document.getElementById('Semester').value;
        if (EducationLevel.toString() == "") {
            EducationLevel = 0;
        }
        $.ajax({
            url: '@Url.Action("Search", "SummedUpRecordByEducationLevel")',
            data: { EducationLevel: EducationLevel, Semester: Semester },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#lstSummedUpRecord').html(data);
                $("#BTNSummedUpRecord").css("display", "block");
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });

    }

</script>
