﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SummedUpRecordByEducationLevelArea.Models
@using SMAS.Web.Areas.SummedUpRecordByEducationLevelArea
@using SMAS.Web.Utils

@model SearchRankingViewModel

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>              
        @Html.ViettelEditorForModel()
</fieldset>
<script type="text/javascript">
    function SearchRanking() {        
        var EducationLevel = document.getElementById('EducationLevel1').value;
        var Semester = document.getElementById('Semester1').value;
        if (EducationLevel.toString() == "") {
            EducationLevel = 0;
        }            
        $.ajax({
            url: '@Url.Action("SearchRanking", "SummedUpRecordByEducationLevel")',
            data: { EducationLevel: EducationLevel, Semester: Semester },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#lstRanking').html(data);
                $("#BTNRanking").css("display","block");
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });

    }  
</script>