﻿		
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedUpRecordByEducationLevelArea.Models

@{
    ViewBag.Title = Res.Get("System_SummedUpRecordByEducationLevel");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.Telerik().TabStrip()
        .Name("TabPupil")
        .ClientEvents(events => events
                        .OnSelect("onSelect")
                        )
        .Items(TabSchoolProfileInfo =>
        {
            TabSchoolProfileInfo.Add()
                .Text(Res.Get("SummedUpRecordByEducationLevel"))
                .Content(@<text>
              <div id="dvSummedUpRecord">
                @Html.Partial("SummedUpRecord")
              </div>             
    
    </text>);
            TabSchoolProfileInfo.Add()
                .Text(Res.Get("RankingByEducationLevel"))
                .Content(@<text>
                 <div id="dvRanking">
                @Html.Partial("Ranking")
              </div>     
    </text>);

        })
        .SelectedIndex(0)
        .Render();
        
}

<style type="text/css">        
     #SearchPanelSummedUpRecord .vt-control,#SearchPanelRanking .vt-control
    {
        width:30%;
    }
    #SearchPanelSummedUpRecord .vt-control .editor-label, #SearchPanelRanking .vt-control .editor-label 
    {
        width:30% !important; 
    }
    #SearchPanelSummedUpRecord .vt-control .editor-field, #SearchPanelRanking .vt-control .editor-field
    {
        width:65% !important;
    }    
</style>
<script type="text/javascript">
</script>
