@model SMAS.Web.Areas.EmployeeProfileManagementArea.Models.EmployeeWorkingHistoryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementArea.Models

@using (Ajax.BeginForm("EditEmployeeWorkingHistory",
                       "EmployeeProfileManagement",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccessEmployeeWorkingHistory",
                           OnFailure = "EditFailEmployeeWorkingHistory"
                       },
                       new { id = "frmEditEmployeeWorkingHistory" }
                       ))
{
	@Html.AntiForgeryToken()
         
    @*@Html.ViettelEditorForModel()*@
    <div>
   @Html.Partial("../EmployeeWorkingHistory/_CreateOrEditEmployeeWorkingHistory")
   </div>
    @Html.ViettelHidden("EmployeeWorkingHistoryID")
    <div class="dialog-buttons text-center">
       @* <input type="submit" class="t-button vt-button-save" value="@Res.Get("Common_Button_Save")" />
        <input type="button" class="t-button vt-button-close" onclick="smas.closeDialog('editDialogEmployeeWorkingHistory')" value="@Res.Get("Common_Button_Close")" />*@
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "onEmployeeWorkingHistoryEditCloseClick()", "btn btn-basic btn-round")
    </div>
}

<script type="text/javascript">
    function EditSuccessEmployeeWorkingHistory(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialogEmployeeWorkingHistory");', 500);
            reload();
           

        }
    }
    function EditFailEmployeeWorkingHistory(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    function onEmployeeWorkingHistoryEditCloseClick() {
        smas.closeDialog('editDialogEmployeeWorkingHistory');
    }

    //jQuery.validator.unobtrusive.parse($("#frmEditEmployeeWorkingHistory"));
</script>


