@model SMAS.Web.Areas.EmployeeArea.Models.EmployeeObject
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeArea
@using SMAS.Models.Models
@using SMAS.Web.Utils

@{    
    Html.Telerik()
    .PanelBar()
    .Name("PanelBar")
    .SelectedIndex(0)
    .ExpandAll(true)
    .HtmlAttributes(new {@class="employee-create-or-edit"})
    .Items(items =>
    {
        items.Add()
            .Text(Res.Get("Employee_Panel_GeneralInfo"))
            .Content(@<text>@Html.Partial("EmployeeGeneralInfo")
    </text>);
        items.Add()
            .Text(Res.Get("Employee_Panel_PartyInfo"))
            .Content(@<text>@Html.Partial("EmployeePartyInfo")
    </text>);
        items.Add()
            .Text(Res.Get("Employee_Panel_FamilyInfo"))
            .Content(@<text>@Html.Partial("EmployeeFamilyInfo")
    </text>);
        items.Add()
            .Text(Res.Get("Employee_Panel_WorkInfo"))
            .Content(@<text>@Html.Partial("EmployeeWorkInfo")
    </text>);})
    .Render();
    }


