﻿@model SMAS.Web.Areas.EmployeeArea.Models.EmployeeObject
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("System_Employee_Update");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="editform" style="padding: 10px;">
    @using (Ajax.BeginForm("EditEmployee", "Employee", new AjaxOptions
{
    OnBegin = "BeginSubmit",
    OnSuccess = "onEmployeeSuccess",
    UpdateTargetId = "divGridEmployee",
    OnFailure = "EditFail",
    OnComplete = "onEmployeeComplete"
}, new { id = "frmEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ViettelHiddenFor(model => model.EmployeeID)
        <div id="divCreateOrEditIndex">
            @Html.Partial("_CreateOrEdit", Model)
        </div>
        <div style="text-align: right">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Redo"), "button", " OnRedoClick()", "btn btn-basic btn-round")
            @Html.ViettelButton(Res.Get("BackRK"), "button", "OnCloseClick()", "btn btn-basic btn-round")
        </div>
    }
</div>
<script type="text/javascript">

    function onEmployeeSuccess(msg) {
        //  smas.hideProcessingDialog();
        smas.alert(msg);
        if (msg.Type == "success") {
            // formUtils.resetForm("frmEdit");
            formUtils.focusForm("frmEdit");
        }
    }
    function onEmployeeComplete() {
    }
    function EditFail(ajaxContext) {
        smas.hideProcessingDialog();
        //smas.alert('@Html.Raw(Res.Get("Common_Error_InternalError"))');
        smas.alert(ajaxContext.responseText);
    }

    function BeginSubmit() {
        smas.showProcessingDialog();
    }

    function OnRedoClick() {
        formUtils.resetForm("frmEdit");
        filepath = '@Url.Content("~/Content/images/question_mark.png")';
        $("#imageId").attr("src", filepath)
        formUtils.focusForm("frmEdit");
        $("#frmEdit #EthnicID").val('@SMAS.Business.Common.SystemParamsInFile.DEFAULT_ETHNIC');
        $("#frmEdit #ReligionID").val('@SMAS.Business.Common.SystemParamsInFile.DEFAULT_RELIGION')
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index","Employee")' + '?LoadSS=1');
    }

    $(document).ready(function () {
        cbIsYouthLeageMemberChanged($("#frmEdit #IsYouthLeageMember"));
        cbIsCommunistPartyMemberChanged($("#frmEdit #IsCommunistPartyMember"));
    });
</script>
