﻿@model SMAS.Models.Models.Employee
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
<div class="vt-EditorPanel vt-EditorPanel-3">
    <div class="vt-EditorPanel-Control">
        @Html.CheckBox("checkbox")
        <label for="DatePickerAttributes_ShowButton">@Res.Get("Common_Label_IsYouthLeageMember")</label>
        @Res.Get("Employee_Label_YouthLeagueJoinedDate")
        @(Html.Telerik().DatePicker()
            .Name("DatePicker")
            .HtmlAttributes(new { id = "DatePicker_wrapper" })
            .ShowButton(true)
            .Value(DateTime.Now)
            .OpenOnFocus(true)
            .TodayButton("d")
)
        @Res.Get("Employee_Label_YouthLeagueJoinedPlace")@Html.ViettelEditorFor(model => model.YouthLeagueJoinedPlace)
        @Html.CheckBox("checkbox")
        <label for="DatePickerAttributes_ShowButton">@Res.Get("Common_Label_IsCommunistPartyMember")</label>
        @Res.Get("Employee_Label_CommunistPartyJoinedDate")
        @(Html.Telerik().DatePicker()
                .Name("Employee_Label_CommunistPartyJoinedDatePicker")
            .HtmlAttributes(new { id = "DatePicker_wrapper" })
            .ShowButton(true)
            .Value(DateTime.Now)
            .OpenOnFocus(true)
            .TodayButton("d")
)
        @Res.Get("Employee_Label_CommunistPartyJoinedPlace")
        @Html.ViettelEditorFor(model => model.CommunistPartyJoinedPlace)
    </div>
</div>
