﻿@model SMAS.Web.Areas.EmployeeArea.Models.EmployeeObject
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
<div class="vt-EditorPanel vt-EditorPanel-3">
    <div class="vt-EditorPanel-Control row no-margin">
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.FatherFullName, Res.Get("Employee_Label_FatherFullName"),
                new Dictionary<string, object>()
                {
                     {"maxlength",100}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.iFatherBirthDate, Res.Get("Employee_Label_FatherBirthDate"),
                new Dictionary<string, object>()
                {
                    { "maxlength", "4" }
                    ,{"class","integer"}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.FatherJob, Res.Get("Employee_Label_FatherJob"),
                new Dictionary<string, object>()
                {
                     {"maxlength",60}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.FatherWorkingPlace, Res.Get("Employee_Label_FatherWorkingPlace"),
                new Dictionary<string, object>()
                {
                     {"maxlength",60}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.MotherFullName, Res.Get("Employee_Label_MotherFullName"),
                new Dictionary<string, object>()
                {
                     {"maxlength",100}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.iMotherBirthDate, Res.Get("Employee_Label_MotherBirthDate"),
                new Dictionary<string, object>()
                {
                     { "maxlength", "4" }
                     ,{"class","integer"}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.MotherJob, Res.Get("Employee_Label_MotherJob"),
                new Dictionary<string, object>()
                {
                     {"maxlength",60}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.MotherWorkingPlace, Res.Get("Employee_Label_MotherWorkingPlace"),
                new Dictionary<string, object>()
                {
                     {"maxlength",400}
                }, false)
            </div>

        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.SpouseFullName, Res.Get("Employee_Label_SpouseFullName"),
                new Dictionary<string, object>()
                {
                     {"maxlength",100}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.iSpouseBirthDate, Res.Get("Employee_Label_SpouseBirthDate"),
                new Dictionary<string, object>()
                {
                     { "maxlength", "4" }
                     ,{"class","integer"}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.SpouseJob, Res.Get("Employee_Label_SpouseJob"),
                new Dictionary<string, object>()
                {
                     {"maxlength",60}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelTextboxFor(model => model.SpouseWorkingPlace, Res.Get("Employee_Label_SpouseWorkingPlace"),
                new Dictionary<string, object>()
                {
                     {"maxlength",60}
                }, false)
            </div>
        <div class="col-md-6 col-sm-10 no-padding">
        @Html.ViettelComboboxFor(model => model.FamilyTypeID, Res.Get("Employee_Label_FamilyType"), ((IEnumerable<SelectListItem>)ViewData[EmployeeConstant.LS_FamilyTypeBusiness]),
                GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>(){}, true)
            </div> 
    </div>
</div>
