﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LearningResultReportArea

<form id="frmReport">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 mg-b-10" >
        <div class="vt-SearchPanel-Title">
            @Res.Get("LearningResultReport_Title_PupilRetestReport")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID",(SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.PLACEHOLDER_ALL,
                                    new Dictionary<string, object> {
                                        {"onchange", "onEducationLevelChange()"}
                                    }, false, false))
                </div>
                <div class="col-md-6">
                     @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID",(SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                            ,
                        GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> {
                        }, false, false))
                </div>
            </div>
        </div>

        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPupilRetestPDFClick()", "btn btn-info btn-round btn-icon btn-icon-pdf ")
        </div>
    </div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center;height:663px;">
    <div id="ContentSemester" style="margin-left:3px;height:665px">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Danh_Sach_Hoc_Sinh_Thi_Lai/HS_THCS_DSHocSinhThiLai.htm">
        </iframe>
    </div>     
   @* <div id="ContentPeriod" style="display:none;margin-left:3px;height:665px">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Danh_Sach_Hoc_Sinh_Thi_Lai/HS_THCS_DSHocSinhThiLai.htm">
        </iframe>
    </div>    *@ 
</div>
<script type="text/javascript">
     $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    });

    function ExportClick() {
        smas.getReport("frmReport", '@Url.Action("GetReport", "PupilRetestReport")',
                     '@Url.Action("GetNewReport", "PupilRetestReport")', '@Url.Action("DownloadReport", "PupilRetestReport")');

        }
    function ExportPupilRetestPDFClick() {
        var blank = '_blank';
        smas.getReportDocument("frmReport", '@Url.Action("GetReport", "PupilRetestReport")',
                     '@Url.Action("GetNewReport", "PupilRetestReport")', '@Url.Action("DownloadPDFReport", "PupilRetestReport")',blank);

    }

        function onEducationLevelChange() {
            var educationLevelID = $("#EducationLevelID").val();
            controlUtils.loadComboBox(
                            $("#ClassID"),
                        '@Url.Action("AjaxLoadClass", "PupilRetestReport")',
        { educationLevelID: educationLevelID },
        '@Res.Get("All")', null)
    }

</script>