﻿@model SearchViewModel
           

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.MarkStatisticsBySemesterTertiaryArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.MarkStatisticsBySemesterTertiaryArea

@using (Ajax.BeginForm("Search",
                           "MarkStatisticsBySemesterTertiary",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstList",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "SearchSuccess",
                               OnFailure = "SearchFailure"
                           },
                           new { id = "frmSearch" }))
{
<fieldset>
<legend>@Res.Get("Common_Label_ReportSearch")</legend>


<table>
    <tr>
        <td>@Html.ViettelComboboxFor(model => model.DistrictID, Res.Get("MarkStatistics_Label_District"),
            new SelectList((IEnumerable<District>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_DISTRICT], "DistrictID", "DistrictName"),
      GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, false)
        </td>
        <td>@Html.ViettelComboboxFor(model => model.Year, Res.Get("MarkStatistics_Label_AcademicYear"),
  new SelectList((IEnumerable<AcademicYearOB>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_ACADEMICYEAR], "AcademicYearID", "Year", 1),
      GlobalConstants.NO_PLACEHOLDER,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, true)
        </td>
        <td>@Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("MarkStatistics_Label_EducationLevel"),
  new SelectList((IEnumerable<EducationLevel>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_EDUCATIONLEVEL], "EducationLevelID", "Resolution"),
      GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, false)
        </td>
    </tr>

    <tr>
        <td>@Html.ViettelComboboxFor(model => model.TrainingTypeID, Res.Get("MarkStatistics_Label_TrainingType"),
       new SelectList((IEnumerable<TrainingType>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_TRAININGTYPE], "TrainingTypeID", "Resolution"),
      GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, false)
        </td>
        <td>@Html.ViettelComboboxFor(model => model.SemesterID, Res.Get("MarkStatistics_Label_Semester"),
  new SelectList((IEnumerable<ComboObject>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_SEMESTER], "key", "value", 1),
      GlobalConstants.NO_PLACEHOLDER,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, true)
        </td>
        <td>@Html.ViettelComboboxFor(model => model.SubjectID, Res.Get("MarkStatistics_Label_Subject"),
  new SelectList((IEnumerable<SubjectCat>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_SUBJECT], "SubjectCatID", "SubjectName"),
      GlobalConstants.PLACEHOLDER_CHOICE,
                        new Dictionary<string, object> { { "style", "width: 200px" } }, true)
        </td>
    </tr>

    <tr>
        <td>@Html.ViettelComboboxFor(model => model.SubCommitteeID, Res.Get("MarkStatistics_Label_SubCommittee"),
       new SelectList((IEnumerable<SubCommittee>)ViewData[MarkStatisticsBySemesterTertiaryConstants.CBO_SUBCOMMITTEE], "SubCommitteeID", "Resolution"),
           GlobalConstants.PLACEHOLDER_CHOICE,
                        new Dictionary<string, object> { { "style", "width: 200px" }, { "onChange", "AjaxLoadSubject()" } }, true)
        </td>
       <td></td>
        <td></td>
    </tr>

</table>
</fieldset>
    <div class="vt-form-button">
            <input type="submit" class="t-button vt-button-search" value="@Res.Get("Common_Button_Combine")" />
        </div>
    <br />
}
<script type="text/javascript">
    function AjaxLoadSubject() {
        var Year = $("#Year").val();
        var EducationLevelID = $("#EducationLevelID").val();
        var TrainingTypeID = $("#TrainingTypeID").val();
        var SemesterID = $("#SemesterID").val();
        var SubCommitteeID = $("#SubCommitteeID").val();


        if (SubCommitteeID.toString() == "") {
            return false;
        }
        controlUtils.loadComboBox(
            $("#SubjectID"),
            '@Url.Action("AjaxLoadSubject", "MarkStatisticsBySemesterTertiary")',
            { Year: Year, EducationLevelID: EducationLevelID, TrainingTypeID: TrainingTypeID, SubCommitteeID: SubCommitteeID, SemesterID: SemesterID },
            '@Res.Get("SelectRK")'
        );
    }
    function LoadGrid() {
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid", "MarkStatisticsBySemesterTertiary")',
            type: 'post',
            data: $("#frmSearch").serialize(),
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#lstList").html(data);
                smas.hideProcessingDialog();
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    function SearchSuccess(data) {
        if (data.ProcessedReportID != 0) {
            $('#MessageForExportDiv').html("Báo cáo này đã được tổng hợp từ ngày " + data.ProcessedDate + ". Bạn có thể tải file đã tổng hợp hoặc tổng hợp lại.");
            $("#DownloadOldFile").attr("href", '@Url.Action("DownloadReport", "MarkStatisticsBySemesterTertiary")' + "?ProcessedReportID=" + data.ProcessedReportID)
            smas.openDialog("AlertDialog", "", {});
        } else {
            LoadGrid();
        }
    }
    function OnFailure(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>