﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkStatisticsBySemesterTertiaryArea.Models
@using SMAS.Web.Areas.MarkStatisticsBySemesterTertiaryArea;


@{
    
    ViewBag.Title = Res.Get("MarkStatisticsBySemesterTertiary_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="Search">
@Html.Partial("_Search")
</div>

<div id="lstList">
@Html.Partial("_List")
</div>

<div class="vt-form-button" style=" margin-top:20px">   
         @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "button","exportReport()", "", "btnExportExcel")                          
</div>
@(Html.Telerik().Window()
        .Name("AlertDialog")
        .Title(Res.Get("CreateRK"))
        .Content(@<text>
                    <div>
                        <div style="text-align:center;margin-bottom:10px">
                            <div>
                                <img src="@Url.Content("~/Content/images/alert-exel.png")" width="90" alt=""/></div>
                            <div class="clear:both;">
                            </div>
                            <div>
                                <a target="_blank" id="DownloadOldFile" onclick="smas.closeDialog('AlertDialog');" ><span style="float: left;">
                                    <img width="30" src="@Url.Content("~/Content/images/download.png")" alt=""></span> <span style="float: left;">
                                        <h1>
                                            <b> @Res.Get("DownloadFile")</b>
                                        </h1>
                                    </span></a>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <div id="MessageForExportDiv">                                                                
                            </div>
                            <div class="clear:both;">
                            </div>
                            <div style="text-align: center;">
                                <button id="ExportNewFile" onclick="smas.closeDialog('AlertDialog');LoadGrid();" class="btn btn-info btn-round">
                                    @Res.Get("NewSynthesis")</button>
                            </div>
                        </div>
                    </div>
                    </text>)
        .Buttons(buttons => buttons.Maximize().Close())
        .Resizable()
        .Draggable(true)
        .ClientEvents(events => events.OnOpen("smas.onOpenDialog"))
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(250)
)

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnExportExcel').attr('disabled', true);
        $('#btnExportExcel').attr('style', "color:gray;background-color:gray;border-color:gray;");
    });
   
</script>