﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamInputMarkTransferArea
@using SMAS.Web.Areas.ExamInputMarkTransferArea.Models

@{   
    
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">

        <div class="vt-ResultPanel-Title-Message">
                @string.Format(Res.Get("Record_Result"), Model.Count().ToString())
        </div>

        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExamInputMark")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.PupilID)
                    .HeaderTemplate("<label class='custom-checkbox p-r-0 p-l-15'><input type='checkbox' id='checkAll' /><span class='checkmark'></span></label>")
                    .Template(@<text>
                                @{
                                    if (item.ExamMark != null && item.ActualMark != null)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                            <input type='checkbox' class='checkedIds' value='@item.ExamInputMarkID'/>
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15">
                                             <input type='checkbox' class='checkedIds' value='@item.ExamInputMarkID' disabled="disabled"/>
                                             <span class="checkmark"></span>
                                        </label>
                                            }
                                }
                            </text>)
                    .Width(40)
                    .HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.PupilCode).HtmlAttributes(new { style = "word-wrap: break-word;" }).Width(150);
                c.Bound(o => o.PupilName).Width(200);
                c.Bound(o => o.ClassName).HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Bound(o => o.ExamRoomCode).HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Bound(o => o.ExamineeNumber).HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" }).Width(70);
                c.Bound(o => o.ExamMark).HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Bound(o => o.ActualMark).HtmlAttributes(new { style = "text-align:center" }).Width(120);

            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
             )
            .DataKeys(keys => keys.Add(o => o.ExamPupilID))
            .Selectable()
            .Scrollable(u => u.Height(450))
            .Render();           
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#GridExamInputMark #checkAll').click(function () {
            $(this).parents('#GridExamInputMark').find(':checkbox:enabled').attr('checked', this.checked);
            $(this).change();
        });

        if ($("#GridExamInputMark").find('.checkedIds:enabled').length == 0) {
            $('#GridExamInputMark #checkAll').attr("disabled", "disabled");
        }
    });

    $("#GridExamInputMark").find(':checkbox').change(function () {
        if ($("#GridExamInputMark").find(':checkbox:checked').length > 0) {
            if (!$("#btnSubmit").hasClass("nerverEnabled")) {
                EnableButton("btnSubmit");
            }
        }
        else {
            DisableButton("btnSubmit");
        }

        //Kiem tra check/uncheck checkbox all
        if ($(this).hasClass("checkedIds")) {
            if ($("#GridExamInputMark").find(".checkedIds:enabled:not(:checked)").length == 0) {
                $('#GridExamInputMark #checkAll').attr('checked', true);
            }
            else {
                $('#GridExamInputMark #checkAll').attr('checked', false);
            }
        }
    });
</script>