﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamInputMarkTransferArea
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers
@{
    GlobalInfo _global = new GlobalInfo();
    int applyLevel = (int)ViewData[ExamInputMarkTransferConstants.APPLY_LEVEL];
    List<ViettelCheckboxList> listMarkType = new List<ViettelCheckboxList>();
    ViettelCheckboxList cl = new ViettelCheckboxList();
    cl.Label = "15P";
    cl.Value = ExamInputMarkTransferConstants.MARK_TYPE_15P;
    listMarkType.Add(cl);

    cl = new ViettelCheckboxList();
    cl.Label = "V";
    cl.Value = ExamInputMarkTransferConstants.MARK_TYPE_V;
    listMarkType.Add(cl);

    cl = new ViettelCheckboxList();
    cl.Label = "HK";
    cl.Value = ExamInputMarkTransferConstants.MARK_TYPE_HK;
    listMarkType.Add(cl);

    string semester = String.Empty;
    if (ViewData[ExamInputMarkTransferConstants.SEMESTER_NAME] != null)
    {
        semester = (string)ViewData[ExamInputMarkTransferConstants.SEMESTER_NAME];
    }
    bool checkButton = (bool)ViewData[ExamInputMarkTransferConstants.PER_CHECK_BUTTON];

    bool isNewSchoolModel = ViewData[ExamInputMarkTransferConstants.IS_NEW_SCHOOL_MODEL] != null ? (bool)ViewData[ExamInputMarkTransferConstants.IS_NEW_SCHOOL_MODEL] : false;

    int valueCheckVNEN = ViewData[ExamInputMarkTransferConstants.VALUE_CHECK_VNEN] != null ? (int)ViewData[ExamInputMarkTransferConstants.VALUE_CHECK_VNEN] : 0;
    
}
@using (Ajax.BeginForm("Transfer",
                    "ExamInputMarkTransfer",
                    new AjaxOptions
                    {
                        HttpMethod = "post",
                        OnBegin = "smas.showProcessingDialog",
                        OnComplete = "smas.hideProcessingDialog",
                        OnSuccess = "TransferSuccess",
                        OnFailure = "TransferFail"
                    },
                    new { id = "frmTransfer" }
                    ))
{

    @Html.AntiForgeryToken()
    <fieldset>
        <legend style="border:0;">@Html.Label(Res.Get("ExamInputMarkTransfer_Label_TransferInfo"))</legend>
        @if (isNewSchoolModel && (applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY))
        { 
            <div style="display: flex;margin-bottom:15px;">
                <label class="custom-checkbox">Lớp VNEN
                <input type="checkbox" id="chkVNEN" name="chkVNEN" onclick="onCheckClassVNEN(this)"  />
                <span class="checkmark"></span>
                    </label>
            </div>                    
        }
        <div style="display: flex;margin-bottom:15px;" class="forSemester">
            <div style="width:40%">
                @Html.Label(Res.Get("ExamInputMarkTransfer_Label_Semester"))
            </div>
            <div style="width:60%">
                @Html.Label((string)ViewData[ExamInputMarkTransferConstants.SEMESTER_NAME])
            </div>
        </div>       
        @if (applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || applyLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
        {
            <div style="display: flex; margin-bottom:15px;" class="forMarkType">
                <div style="width:40%;line-height:32px;">
                    @Html.Label(Res.Get("ExamInputMarkTransfer_Label_MarkType"))
                </div>
                <div style="width:60%">
                    @Html.ViettelListButtonStyle2("ListMarkType", ExamInputMarkTransferConstants.MARK_TYPE_HK.ToString(), new Dictionary<string, object>(), "javascript:onMarkTypeSelect(this)", listMarkType, false)
                </div>
            </div>                  
        }
        @if (applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || applyLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
        {
            <div style="display: flex;" class="forMarkColumn">
                <div style="width:40%; line-height:32px;">
                    @Html.Label(Res.Get("ExamInputMarkTransfer_Label_MarkColumn"))
                </div>
                <div style="width:60%">
                    @Html.ViettelCombobox("", "MarkColumn", (SelectList)ViewData[ExamInputMarkTransferConstants.CBO_MARK_COLUMN],
                                            GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {}, false, false)
                </div>
            </div>                
        }
        @if ((isNewSchoolModel && applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY) || applyLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY)
        {
            List<Object> listMarkColumn2 = new List<object>();
            //Cap 1 && VNEN
            listMarkColumn2.Add(new { key = 1, value = "KTĐK GK" });
            listMarkColumn2.Add(new { key = 2, value = "KTĐK CK" });
            SelectList lstMarkKTDK = new SelectList(listMarkColumn2, "key", "value", 2);
            
             <div style="@(applyLevel == 1 ? "display: flex;" : "display: none;")" class="forMarkColumn2">
                @Html.Label(Res.Get("ExamInputMarkTransfer_Label_MarkColumn"))
                @Html.ViettelCombobox("", "MarkColumn2ID", lstMarkKTDK, GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {}, false, false)
            </div>                 
        }
    </fieldset>
    <fieldset>
        <legend style="border:0;">@Html.Label(Res.Get("ExamInputMarkTransfer_Label_Transfer"))</legend>
        <p>
            <label class="custom-radio-button">
                @Html.ViettelRadioButton("TransferType", ExamInputMarkTransferConstants.TRANSFER_CURRENT_SUBJECT, true)
                <span class="checkmark"></span>
                @Html.ViettelLabel(Res.Get("ExamInputMarkTransfer_Label_Current_Subject"))
            </label>
        </p>
        <p>
            <label class="custom-radio-button">
                @Html.ViettelRadioButton("TransferType", ExamInputMarkTransferConstants.TRANSFER_CURRENT_EXAM_GROUP, false)
                <span class="checkmark"></span>
                @Html.ViettelLabel(Res.Get("ExamInputMarkTransfer_Label_Current_Group"))
            </label>
        </p>
        <p>
            <label class="custom-radio-button">
                @Html.ViettelRadioButton("TransferType", ExamInputMarkTransferConstants.TRANSFER_ALL, false)
                <span class="checkmark"></span>
                @Html.ViettelLabel(Res.Get("ExamInputMarkTransfer_Label_All"))
            </label>
        </p>
    </fieldset>
    <div style="display: none">
        @Html.Hidden("SelectedID")
        @if (applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY || applyLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
        {
            @Html.Hidden("MarkType", ExamInputMarkTransferConstants.MARK_TYPE_HK)
        }
        @Html.Hidden("Semester", ViewData[ExamInputMarkTransferConstants.SEMESTER])
        @Html.Hidden("examinationsID")
        @Html.Hidden("examGroupID")
        @Html.Hidden("subjectID")
        @if((isNewSchoolModel && applyLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY))
        { 
             @Html.Hidden("SelectVNEN", 0)
        }
    </div>
    <div class="dialog-buttons" style="text-align:center">
        <input type="submit" style="display: none" />
        @{
        if (!checkButton)
        {
            @Html.ViettelButton(Res.Get("ExamInputMarkTransfer_Button_Transfer"), new Dictionary<string, object>() { { "id", "btnSubmit" } }, "button", "", "btn btn-info btn-round ")
        }
        else
        {
            @Html.ViettelButton(Res.Get("ExamInputMarkTransfer_Button_Transfer"), new Dictionary<string, object>() { { "id", "btnSubmit" } }, "button", "", "btn btn-info btn-round ")
        }
        }

    </div>
}
<script>

    $(document).ready(function () {
        if ('@valueCheckVNEN' == 1) {
            $("#chkVNEN").attr('checked', true);

            $('div[class="forMarkType"]').css("display", "none");
            $('div[class="forMarkColumn"]').css("display", "none");
            $('div[class="forMarkColumn2"]').css("display", "flex");
            $("#frmTransfer #SelectVNEN").val(1);
            $("#frmSearch #SelectVNEN").val(1);
        }
        else {
            $("#chkVNEN").attr('checked', false);

            $('div[class="forMarkType"]').css("display", "flex");
            $('div[class="forMarkColumn2"]').css("display", "none");
            $('div[class="forMarkColumn"]').css("display", "flex");
            $("#frmTransfer #SelectVNEN").val(0);
            $("#frmSearch #SelectVNEN").val(0);
        }
    });


    function onCheckClassVNEN(item) {
        if ($(item).is(':checked')) {
            $('div[class="forMarkType"]').css("display", "none");
            $('div[class="forMarkColumn"]').css("display", "none");
            $('div[class="forMarkColumn2"]').css("display", "flex");        
            $("#frmTransfer #SelectVNEN").val(1);
            $("#frmSearch #SelectVNEN").val(1);         
        }
        else {
            $('div[class="forMarkType"]').css("display", "flex");
            $('div[class="forMarkColumn2"]').css("display", "none");
            $('div[class="forMarkColumn"]').css("display", "flex");
            $("#frmTransfer #SelectVNEN").val(0);
            $("#frmSearch #SelectVNEN").val(0);
        }

        search();
    }


    function submitForm() {
        var selectedID = '';
        $("#GridExamInputMark").find('.checkedIds:checked').each(function () {
            selectedID += $(this).val() + ",";
        });

        $("#frmTransfer #SelectedID").val(selectedID);

        var examinationsID = $("#frmSearch #ExaminationsID").val();
        var examGroupID = $("#frmSearch #ExamGroupID").val();
        var subjectID = $("#frmSearch #SubjectID").val();

        $("#frmTransfer #examinationsID").val(examinationsID);
        $("#frmTransfer #examGroupID").val(examGroupID);
        $("#frmTransfer #subjectID").val(subjectID);
        $("#frmTransfer input[type='submit']").click();
    }
    function prepareSubmit() {
        smas.confirm('@Html.Raw(Res.Get("ExamInputMarkTransfer_Message_Confirm"))', submitForm);
        $('#ConfirmAlertDialog').addClass("exam-input-mark-transfer-area-confirm-window");
    }

    function onMarkTypeSelect(button) {
        controlUtils.ChangeStyleButton(button);
        $('#frmTransfer #MarkType').val($(button).parent().val());
        var markType = $('#frmTransfer #MarkType').val();
        var semester = $('#frmTransfer #Semester').val();
        controlUtils.loadComboBox(
                     $("#MarkColumn"),
                    '@Url.Action("AjaxLoadMarkColumn")',
                                { markType: markType, semester: semester },
                                '@Res.Get("")', function () { smas.hideProcessingDialog(); });

                            }

                            function DisableButton(id) {
                                $("#" + id).attr("disabled", "disabled").addClass("btn btn-info btn-round t-state-disabled").removeAttr("onclick");
                            }

                            function EnableButton(id) {
                                $("#" + id).removeAttr("disabled").removeClass("t-state-disabled").attr("onclick", "prepareSubmit()");
                            }

                            function TransferSuccess(msg) {
                                smas.alert(msg);
                            }
                            function TransferFail(ajaxContext) {
                                smas.alert(ajaxContext.responseText);
                            }

                            $(document).ready(function () {
                                DisableButton("btnSubmit");
                            });
</script>

