@model IEnumerable<GroupCatViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GroupCatArea.Models
@using SMAS.Web.Areas.GroupCatArea
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        @*<div class="vt-ResultPanel-Title-Message">
            @{
                IEnumerable<GroupCatViewModel> lstCroupCat = (IEnumerable<GroupCatViewModel>)ViewData[GroupCatConstants.LIST_GROUPCAT];
                int RowCount = 0;
                if(lstCroupCat != null)
                {
                    RowCount = lstCroupCat.Count();
                }
              @string.Format(Res.Get("Common_Message_RowCount"), RowCount)
            }
        </div>*@
        <div class="vt-ResultPanel-Title-Button">
        @if(checkCreate){
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-round btn-icon btn-icon-plus")
        }
            
        </div>
        <div class="Clear"></div>
    </div>
    <div class="vt-table-over-size">
        @{
            var index = 1;

            Html.Telerik()
                .Grid((IEnumerable<GroupCatViewModel>)ViewData[GroupCatConstants.LIST_GROUPCAT])
                .Name("GridGroupCat")
                .Columns(c =>
                {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.GroupName).Visible(true);
                c.Bound(o => o.Description);
                c.Template(@<text><a id="btnPrivileges" class="t-button t-button-icon t-ajax t-grid-vtChange" onclick="privileges('@item.GroupCatID')" ><span class=" t-icon t-vtChange"></span></a></text>).Width(30).Title(Res.Get("DefaultGroup_Column_Privileges"))
                         .ClientTemplate("<a id='btnDelete' type='image' class='t-button t-button-icon t-ajax t-grid-vtChange'  onclick='privileges(\"<#= GroupCatID #>\")'/><span class=' t-icon t-vtChange'></span></a>")
                         .Title(Res.Get("DefaultGroup_Column_Privileges"))
                         .Width(50)
                         .HtmlAttributes(new { style = "text-align:center" });

                    c.Command(cmd =>
                    {
                        cmd.Custom("vtEdit")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Edit", "GroupCat")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-edit icon icon-edit" });


                    }).Title(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" }).Visible(checkUpdate);


                    c.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .Text(Res.Get("Common_Column_Delete"))
                           .Ajax(true)
                           .Action("Delete", "GroupCat")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-delete icon icon-trash" });


                    }).Title(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" }).Visible(checkDelete);
                })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "GroupCat")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.GroupCatID))
            .Pageable(paging => paging.PageSize(20))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();

        }
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridGroupCat').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("GroupCat_Confirm_Delete"))', function() {
                smas.post('@Url.Action("Delete")', { id: item.GroupCatID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }

    function privileges(id) {
        smas.redirect("/GroupCatArea/GroupCat/ManagePrivileges?GroupCatID=" + id.toString());
    }

</script>
