
		
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.GroupCatArea
@using SMAS.Web.Areas.GroupCatArea.Models
@using SMAS.VTUtils.Utils
@{
    ViewBag.Title = Res.Get("GroupCat_DialogTitle_All");
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
    int? fromSavePriv = ViewData["FromSavePriv"] != null ? (int?)ViewData["FromSavePriv"] : null;
     
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstGroupCat">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("GroupCat_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(150)
                .HtmlAttributes(new {@class = "group-cat-dialog" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("GroupCat_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(150)
                .HtmlAttributes(new {@class = "group-cat-dialog" })
)

<script type="text/javascript">
    $(document).ready(function () {
        if ('@(fromSavePriv.HasValue && fromSavePriv.Value == 1)' == 'True') {
            smas.alert('@Res.Get("Common_Label_Save")');
        }
    });
</script>