﻿#DivBorder
{
    /*background: none repeat scroll 0 0 #C1D7DB;
    height: 1px;
    margin-left: -7px;
    width: 140%;
    margin-top:5px;
    background: none repeat scroll 0 0 #c1d7db;*/
    height: 1px;
    margin-left: -17px;
    margin-top: 5px;
    position: absolute;
    width: 138px;
    border-bottom: 1px double #c5dadd;
}

#DivBorderEnd
{
    /*background: none repeat scroll 0 0 #c1d7db;*/
    height: 1px;
    margin-left: -25px;
    margin-top: 5px;
    position: absolute;
    width: 58px;
}

#DivBorderNextEnd {
    /*background: none repeat scroll 0 0 #c1d7db;*/
    height: 1px;
    margin-left: -16px;
    margin-top: 5px;
    position: absolute;
    width: 80px;
}


#GridSearchSMSParent.GeneralTable td, #Grid.GeneralTable td
{
    border-right: 0 solid #C5DADD !important;
}

div.lbContain
{
    padding-top: 6px;
    text-align: right;
    height: 25px;
}

.formSearchTdLabel *
{
    width: 100%;
}

.formSearchTdInput *
{
    width:110%;
}

.formSearchTdInputPostage *
{
    width:100%;
}
.formSearchTdInput input
{
    height: 15px;
    width: 100%;
}

.sameImage, .sameSelect, .sameCheckbox, .sameInput
{
    text-align: center !important;
}

.sameSelect div
{
    text-align: center !important;
}

div.formSearchTd
{
    float: left;
}

.sameW1
{
    width: 150px;
}

.samecontain
{
    line-height: 2.6em;
}

.separate
{
    height: 1px;
    border-top: 1px solid red;
}

#GridSearchSMSParent .t-grid-content
{
    height: 300px !important;
}

.vt-SearchPanelEdit {
    border: 1px solid #aabfd4;
    margin: 8px;
}


.vt-SearchPanelEdit .vt-SearchPanel-TitleEdit {
    background-color: #036fbd;
    border-bottom: 1px solid #aabfd4;
    color: #fff;
    font-weight: bold;
    height: 20px;
    padding: 6px 4px 1px 8px;
    text-decoration: none;
    vertical-align: middle;
}

.vt-SearchPanelEdit .vt-SearchPanel-ContentEdit {
    padding: 5px 7px 5px;
}

.vt-SearchPanel-ContentEdit {
    background-color: #f7fbff;
}


.vt-SearchPanelEdit .vt-SearchPanel-ButtonEdit {
    background-color: #e6f2fe;
    clear: both;
    padding: 8px;
    text-align: center;
    margin-top: 6px;
}

.vt-ResultPanelEdit {
    margin: 8px;
}


.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit {
    background: none repeat scroll 0 0 #e6f2fe;
    border-bottom: medium none;
}
.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit {
    background-color: #a9d0f5;
    border: 1px solid #aabfd4;
    color: Black;
    font-weight: bold;
    padding: 8px;
    position: relative;
    text-decoration: none;
}

.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit .vt-ResultPanel-Title-MessageEdit {
    float: left;
    height: 14px !important;
    width: 70%;
}
.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit .vt-ResultPanel-Title-ButtonEdit {
    float: right;
    width: 30%;
}

#CboClassID, #CboStatus {
width : 100px;
}

#PupuilName {
 width: 280px;
}
.MessageCalculator {
    background-color: aliceblue;
    border: 1px solid #aabfd4;
    float: right;
    height: 153px;
    margin-right: 9px;
    margin-top: -163px;
    width: 35%;
}

.ContentCalculator
{
    height: 142px;
    overflow-y: scroll;
    padding: 5px;
}

#TotalMoney, #PayMoney,#TotalPay,#TotalPayEdit {
 color:red;
 font-weight:bold;
}

#CountParent, .CountDescriptiorViettel {
color:purple;
font-weight:bold;
}

#ContentDetail {
 padding-bottom:3px;
}

#ContentDetailBottom {
padding-top:3px;
}

#DvMarginAddRow {
   /* text-align: center; 
    height: 25px;*/
    margin-top:5px;
}

.DvMarginAddRowGrid {
    margin-top:10px;
}

#ListBuutonCenter {
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.LblTitle {
   float: left;
    width: 142px;
}

.CreateContent {
    background-color: blue;
    float: right;
    margin-right: 450px;
    width: 277px;
}
#PhoneReceiver,#ReceiverName,#ReceiverNameEdit,#PhoneReceiverEdit
{
   width: 350px;
}

.CRequest {
color:red;
}

#ExcelPop {
    background-color: #e6f2fe;
    border: 1px solid #aabfd4;
    margin-left: 60px;
    margin-top: 18px;
    position: absolute;
    width: 196px;
}
.DVexcel:hover {
background-color:#aabfd4;
cursor:pointer;
}

.DVexcel {
   height: 21px;
   padding: 4px;
}
#ConfirmMoney {
    height: 71%;
}

.MessageError {
    color: red;
    font-size: 9px;
    font-style: italic;
    margin-top: -10px;
}
#MesageForCustomer {
    margin-left: 10px;
    margin-top: 43px;
}
.Semester2 {
    margin-left: 10px;
}

#ListMenuContextServicePackage {
    background-color: #f1f5fb;
    border: 1px solid #c1d7db;
    width: 100px;
    cursor: pointer;
    position: absolute;
}

.ServiceItem {    
    border: 1px solid #cfcfcf;
    padding: 3px;
}

.ServiceItem:hover {    
 background-color:#c5dadd ;
}

#PaiedSMS, #PaiedSMSEdit {
    height: 14px;
    margin-left: 140px;
    margin-top: 3px;
}

.FormDetail {
    margin-left: 25px;
    text-align: center;
}


/************** HEADER GRID ******************/
.VerticalLineSemHeader {
    border-right: 1px double #aabfd4;
    height: 55px !important;
    margin-left: 35px;
    position: absolute;

}

.VerticalLineRelationshipHeader {
    border-right: 1px double #aabfd4;
    height: 55px !important;
    margin-left: 66px;
    position: absolute;
}


.VerticalLineSubscriberHeader {
    border-right: 1px double #aabfd4;
    height: 55px !important;
    margin-left: 88px;
    position: absolute;
}


/**************END HEADER GRID ******************/

/************** GRID VIEW ERROR ******************/
.VerticalLineRelationshipErrorHeader {
    border-right: 1px double #aabfd4;
    height: 55px !important;
    margin-left: 62px;
    position: absolute;
}


.VerticalLineSubscriberErrorHeader {
    border-right: 1px double #aabfd4;
    height: 55px !important;
    margin-left: 92px;
    position: absolute;
}

.VerticalLineRelationshipError {
    border-right: 1px double #c1d7db;
    height: 41px !important;
    margin-left: 54px;
    margin-top: -12px;
    position: absolute;
}


.VerticalLineSubscriberError {
    border-right: 1px double #c1d7db;
    height: 55px !important;
    margin-left: 92px;
    margin-top: -26px;
    position: absolute;
}


/**************END GRID VIEW ERROR ******************/

/**************DRAW LINE ON GRID ******************/

.VerticalLineSemI {
    border-right: 1px double #c1d7db;
    height: 46px !important;
    margin-left: 27px;
    margin-top: -10px;
    position: absolute;

}

.VerticalLineSemII {
    border-right: 1px double #c1d7db;
    height: 49px !important;
    margin-left: 33px;
    margin-top: -20px;
    position: absolute;

}

.VerticalLineRelationship {
    border-right: 1px double #c1d7db;
    height: 49px !important;
    margin-left: 59px;
    margin-top: -10px;
    position: absolute;
}


.VerticalLineSubscriber {
    border-right: 1px double #c1d7db;
    height: 49px !important;
    margin-left: 89px;
    margin-top: -10px;
    position: absolute;
}
/**************END DRAW LINE ON GRID ******************/


.TextItalicStyle {
    font-style: italic;
}


/****************  CONTEXT MENU ON RELATIONSHIP COLUMN ************/
.PersonItem {    
    border: 1px solid #cfcfcf;
    padding: 3px;
}

.PersonItem:hover {    
 background-color:#c5dadd ;
}

.ListRelatives {
    background-color: #f1f5fb;
    border: 1px solid #c1d7db;
    width: 100px;
    cursor: pointer;
    position: absolute;
}

.vt-button-fn {
    margin-right: 8px !important; 
    text-align: right !important;
}

.total {
        float: left;
    display: inline-block;
    padding-top: 4px;
    padding-left: 12px;
    font-weight: bold;
    color: darkblue;
}

.total .n-total {
    color: red;
}
.rsf-note {
    color: red;
    font-size: 85%;
    float: left;
    padding-left: 8px;
}