﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea.Models
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea
@model StatisticsForUnitPrimaryViewModel
@using (Ajax.BeginForm("SearchPeriodMark",
                       "StatisticsForUnitPrimary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           UpdateTargetId = "gridPeriodStatistic"
                       },
                       new { id = "frmSearchPeriodMark" }
                       ))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
    @Html.AntiForgeryToken()
    @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[StatisticsForUnitPrimaryConstants.LIST_EDUCATION_LEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "ref", "period" } }, false)
    @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[StatisticsForUnitPrimaryConstants.LIST_SEMESTER], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "period" } }, false)
    </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
}
<div id="gridPeriodStatistic">
    @Html.Partial("_PeriodMarkGrid")
</div>
<script type="text/javascript">
    function ExportPeriod() {
        var eduID = $("#frmSearchPeriodMark").find("#EducationLevelID").val();
        var semester = $("#frmSearchPeriodMark").find("#Semester").val();
        window.open("@Url.Action("ExportPeriod")?EducationLevelID="+eduID+"&Semester=" + semester);
    }

</script>
