﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea
@model StatisticsForUnitPrimaryViewModel
@{
    List<MarkStatistic> data = ViewData[StatisticsForUnitPrimaryConstants.GRID_STATISTICS_SEMESTER] == null ? new List<MarkStatistic>() : (List<MarkStatistic>)ViewData[StatisticsForUnitPrimaryConstants.GRID_STATISTICS_SEMESTER];
    int index = 1;
    bool alt = false;
    
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @ViewData[StatisticsForUnitPrimaryConstants.COUNT_DATA]
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        <div class="t-widget t-grid">
            <div class="GridThemes">
                <div class="t-widget t-grid" style="overflow-x: scroll; min-height: 480px;">
                    <table>
                        <thead class="t-grid-header">
                            <tr>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("Common_Column_Order")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("EducationLevel_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("SubjectCat_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_TotalMark")</a>
                                </th>
                                <th class="t-header" colspan="@(((List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_BELOW_AVERAGE]).Count + 2)" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_BelowAverage")</a>
                                </th>
                                <th class="t-header" colspan="@(((List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_ABOVE_AVERAGE]).Count + 2)" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_AboveAverage")</a>
                                </th>
                            </tr>
                            <tr>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_BELOW_AVERAGE])
                                    {
                                    <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                        <a class="t-link" onclick="javascript:void(0)">@(string.Format("{0:0.0}", sc.MinValue))</a>
                                    </th>
                                    }
                                }
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                    <a class="t-link" onclick="javascript:void(0)">TS</a>
                                </th>
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                    <a class="t-link" onclick="javascript:void(0)">TL</a>
                                </th>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_ABOVE_AVERAGE])
                                    {
                                    <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                        <a class="t-link" onclick="javascript:void(0)">@(string.Format((sc.MinValue >= 10)? "{0:0}" : "{0:0.0}", sc.MinValue))</a>                                        
                                    </th>
                                    }
                                }
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                    <a class="t-link" onclick="javascript:void(0)">TS</a>
                                </th>
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 20px">
                                    <a class="t-link" onclick="javascript:void(0)">TL</a>
                                </th>
                            </tr>
                        </thead>
                        @{foreach (var item in data)
                          {
                              alt = !alt;
                            <tr class="@(alt ? "t-alt" : "")">
                                <td style="text-align: center">
                                    @(index++)
                                </td>
                                <td>
                                    @(item.EducationLevel.Resolution)
                                </td>
                                <td>
                                    @(item.SubjectCat.SubjectName)
                                </td>
                                <td>
                                    @(item.MarkTotal)
                                </td>
                                @{
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_BELOW_AVERAGE])
                                {
                                    <td>
                                        @(typeof(MarkStatistic).GetProperty(sc.MappedColumn).GetValue(item, null))
                                    </td>
                                }
                                }
                                <td>
                                    @item.BelowAverage
                                </td>
                                <td>
                                    @(item.MarkTotal > 0 && item.BelowAverage.HasValue ? Math.Round((100.0 * item.BelowAverage.Value / item.MarkTotal.Value), 1, MidpointRounding.AwayFromZero).ToString() + "%" : string.Empty)
                                </td>
                                @{
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitPrimaryConstants.LIST_ABOVE_AVERAGE])
                                {
                                    <td>
                                        @(typeof(MarkStatistic).GetProperty(sc.MappedColumn).GetValue(item, null))
                                    </td>
                                }
                                }
                                <td>
                                    @item.OnAverage
                                </td>
                                <td>
                                    @(item.MarkTotal > 0 && item.BelowAverage.HasValue ? Math.Round((100 - (100.0 * item.BelowAverage.Value / item.MarkTotal.Value)), 1, MidpointRounding.AwayFromZero).ToString() + "%" : string.Empty)
                                </td>
                            </tr>
                          }
                        }
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Left">
            @using (Ajax.BeginForm("SendSemester",
                       "StatisticsForUnitPrimary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "PostSuccess",
                           OnFailure = "PostFail"
                       },
                       new { id = "frmSendPeriod" }
                       ))
            {
        @Html.AntiForgeryToken()
                @Html.Hidden("EducationLevelID", Model != null && Model.EducationLevelID.HasValue ? Model.EducationLevelID.Value : 0)
                @Html.Hidden("Semester", Model != null ? Model.Semester : 0)
           if (Model != null)
           {
               if (data != null && data.Count > 0)
               {
                @Html.ViettelButton(Res.Get("StatisticsForUnit_Label_Send"), "submit", "", "") <text>&nbsp;</text>
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportSemester()", "")
               }
           }
            }
        </div>
        <div class="Clear">
        </div>
    </div>
</div>
