﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea.Models
@using SMAS.Web.Areas.StatisticsForUnitPrimaryArea
@model StatisticsForUnitPrimaryViewModel
@using (Ajax.BeginForm("SearchSubjectCapacity",
                       "StatisticsForUnitPrimary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           UpdateTargetId = "gridSubjectCapacity"
                       },
                       new { id = "frmSearchSubjectCapacity" }
                       ))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.AntiForgeryToken()
            <div style="width: 30%; float: left;">
                <input type="radio" name="rdType" value="1" checked="checked" onclick="Search(this)" />Tính
                điểm
                <input type="radio" name="rdType" value="2" onclick="Search(this)" />Nhận xét
                <input type="hidden" name="_rdType" id="_rdType" value="1" />
            </div>
            <div style="width: 70%; float: left;">
                @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[StatisticsForUnitPrimaryConstants.LIST_EDUCATION_LEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "ref", "semester" } }, false)
                @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[StatisticsForUnitPrimaryConstants.LIST_SEMESTER], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "semester" } }, false)
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
}
<div id="gridSubjectCapacity">
    @Html.Partial("_SubjectCapacityGrid")
</div>
<script type="text/javascript">
    function Search(obj) {
        var type = $(obj).attr("value");
        $("#_rdType").attr("value", type);
        $("#frmSearchSubjectCapacity input[type='submit']").click();
    }
</script>
<script type="text/javascript">
    function ExportCapacitySubject() {
        var rdType = $("#_rdType").val();
        var eduID = $("#frmSearchSubjectCapacity").find("#EducationLevelID").val();
        var semester = $("#frmSearchSubjectCapacity").find("#Semester").val();
        if(rdType == 1){
            window.open("@Url.Action("ExportMarkCapacitySubject")?EducationLevelID="+eduID+"&Semester=" + semester);
        }
        else if(rdType == 2){
            window.open("@Url.Action("ExportJudgeCapacitySubject")?EducationLevelID="+eduID+"&Semester=" + semester);
        }
    }
</script>
