﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseActionImport");
}
@using (Ajax.BeginForm("ImportLegalData",
                           "MarkRecordOfPrimary",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "onBeginImportLegalData",
                               OnSuccess = "onSuccessImportLegalData",
                               OnFailure = "onFailImportLegalData",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmImport" }))
{
        @Html.AntiForgeryToken()
    <div>
        <fieldset>  
            @{
    var temp = (string)ViewData[MarkRecordOfPrimaryConstants.ERROR_IMPORT_MESSAGE];
            <div id="pnImportErrorTitle">
                <p style="text-align: left; font-weight: bold;color:Red">@Html.Raw(temp)</p>
            </div>
            }
            @if ((bool)ViewData[MarkRecordOfPrimaryConstants.ERROR_BASIC_DATA])
            {
            @Html.ViettelButton(Res.Get("Common_Label_ShowDataBeforeImport"), "button", "", "t-state-disabled")
            @Html.ViettelButton(Res.Get("Common_Label_ImportLegalData"), "button", "", "t-state-disabled")
            }
            else
            {
            @Html.ViettelButton(Res.Get("Common_Label_ShowDataBeforeImport"), "button", "ShowDataBeforeImport()", "")
            @Html.ViettelButton(Res.Get("Common_Label_ImportLegalData"), "button", "ajaxImportLegalData()", "")
            }
            @Html.ViettelButton(Res.Get("Common_Label_Close"), "button", "CloseChooseAction()", "")
        </fieldset>
    </div>

}

<script type="text/javascript">
    function ShowDataBeforeImport() {
//        $("#ChooseActionDialog .t-content").attr("style", "overflow: auto; width: 750.033px; height: 549.633px;");
        //        $("#listDataBeforeImport").removeAttr("style");
        var subjectid = $("#SubjectID").val();
        var classid = $("#ClassID").val();
        var idSemester = $("#Semester").val();
        var idEdu = $("#EducationLevelID").val();
        $.ajax({
            url: '@Url.Action("ReturnImportData", "MarkRecordOfPrimary")',
            data: { ClassIDImport: classid, SubjectIDImport: subjectid, SemesterIDImport: idSemester, EducationLevelIDImport: idEdu },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#lstMarkRecordImport").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
        smas.hideProcessingDialog();
        formUtils.resetForm("ViewData");
        smas.openDialog("ViewData", "", {});
    }

    function CloseChooseAction() {
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        setTimeout(function () { smas.closeDialog("ChooseActionDialog"); },200);
    }
    function onBeginImportLegalData() {
        smas.showProcessingDialog();
    }
    function onSuccessImportLegalData(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
        }
    }
    function onFailImportLegalData(ajaxContext) {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }

    function ajaxImportLegalData() {
        var subjectid = $("#SubjectID").val();
        var classid = $("#ClassID").val();
        var idSemester = $("#Semester").val();
        var idEdu = $("#EducationLevelID").val();
        setTimeout(function () { smas.closeDialog("ChooseActionDialog"); }, 200);
        setTimeout(function () { smas.closeDialog("importDialog"); }, 500);
        $.ajax({
            url: '@Url.Action("ImportLegalData", "MarkRecordOfPrimary")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { ClassIDImport: classid, SubjectIDImport: subjectid, SemesterIDImport: idSemester, EducationLevelIDImport: idEdu },
            success: function (msg) {
                if (msg.Type == "success") {
                    smas.alert(msg);
                    setTimeout('AjaxLoadGrid();', 200);
                    setTimeout(function () { smas.closeDialog("ViewData"); }, 500);
                    smas.reload();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

</script>
