﻿@model SearchViewModel
           
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
<fieldset id="fclass">
<legend>@Res.Get("MarkRecord_Label_Class")</legend>
@{
    IEnumerable<ClassProfile> listClass = (IEnumerable<ClassProfile>)ViewData[MarkRecordOfPrimaryConstants.LIST_CLASS];
   if (listClass.Count() > 0 && listClass != null)
   {
       int firstClassID = 0;
       foreach (ClassProfile item in listClass)
       {
           if (firstClassID == 0)
           {
               firstClassID = item.ClassProfileID;
           }
            <div style="margin-left:10px;float:left;margin-bottom:5px">
            @Html.ViettelButton(item.DisplayName, "button", "AjaxLoadSubject(this);", "", item.ClassProfileID.ToString(), "")  
            </div>
       }
       @Html.ViettelHidden("firstClassID", firstClassID)
   }
}
</fieldset>
