﻿@model MarkRecordOfPrimaryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea
<style type="text/css">
   #list td{padding:0;text-align:center}
</style>
@{
    var boolHKI = (bool)ViewData[MarkRecordOfPrimaryConstants.BOOL_HKI];
    var boolHKII = (bool)ViewData[MarkRecordOfPrimaryConstants.BOOL_HKII];
    var disabledButton = (bool)ViewData[MarkRecordOfPrimaryConstants.DISABLED_BUTTON];
    Dictionary<string, object> attrbs = new Dictionary<string, object>();
    attrbs["style"] = "Width:25px;text-align:center;";
    attrbs["maxlength"] = "4";
    Dictionary<string, object> dicMonth = new Dictionary<string, object>();
    dicMonth["style"] = "Width:100%;text-align:center;";
    string LockMarkTitle = (string)ViewData[MarkRecordOfPrimaryConstants.LOCK_MARK_TITLE];
}
@{
    var index = 1;
    var chk = 0;
}
@using (Ajax.BeginForm("Create",
                           "MarkRecordOfPrimary",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "MarkRecordOnBegin",
                               OnComplete = "MarkRecordCompleted",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFailPrimary"
                           },
                           new { id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    // Khoa con diem
    if (LockMarkTitle.Length > 0)
    {
    @Html.ViettelHidden("LockTitle", LockMarkTitle)
    }
    @Html.ViettelHidden("btncheckdis", disabledButton)
    <div style="overflow: auto;">
        @Html.Partial("Index")
        @{ 
    Html.Telerik()
        .Grid((IEnumerable<MarkRecordOfPrimaryViewModel>)ViewData[MarkRecordOfPrimaryConstants.LIST_MARKRECORD])
        .Name("GridMarkRecordTV")
        .HtmlAttributes(new Dictionary<string, object>() { })
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(40);

            c.Template(@<text>
            @{
                if (item.Red.HasValue && item.Red == true)
                {
<span style="color: Red;">@item.PupilCode</span>
                }
                else
                { 
<span>@item.PupilCode</span>
                }
        
            }
            </text>).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align: left;" } })
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_PupilCode"))</strong>
            </div>
            </text>).Visible(false);

            c.Template(@<text>
            @{
                if (item.Red.HasValue && item.Red == true)
                {
<span style="color: Red;">@item.PupilName</span>
                }
                else
                { 
<span>@item.PupilName</span>
                }
        
            }
            </text>)
             .HtmlAttributes(new Dictionary<string, object> { { "style", "text-align: left;" } })
             .Title(Res.Get("MarkRecord_Column_FullName")).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" })
                    .Width(140);

            //HK1
            //thang 1

            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month1)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month1)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month1)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M1", String.Format("{0:0}", item.Month1), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
               .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month1"))</strong>
            </div>
            </text>).Visible(boolHKI);
            //thang 2
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month2)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month2)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month2)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M2", String.Format("{0:0}", item.Month2), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
                         .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month2"))</strong>
            </div>
            </text>).Visible(boolHKI);

            //thang 3
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month3)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month3)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month3)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M3", String.Format("{0:0}", item.Month3), dicMonth)
                </div>
                      }
                  }
              }
            }
            </text>)
                     .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month3"))</strong>
            </div>
            </text>).Visible(boolHKI);

            //KTDK GKI
            c.Template(@<text>
            <table>
                <tr>
                    <td>
                        @{ 
                            if (item.Show == null || item.Show != false)
                            {
                                if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKI_D"))
                                {

                                    if (item.Red.HasValue && item.Red == true)
                                    {
                            <span style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_D"])</span>
                                    }
                                    else
                                    {
                                        if (item.checkbox == true)
                                        {
                            <span>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_D"])</span>
                                        }
                                        else
                                        {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_D"])</span>                            
                    
                            <div class="text_markGKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKI_D", String.Format("{0:0.#}",
                                                    item.MarkDK[item.PupilID.ToString() + "GKI_D"]), attrbs)
                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                    {      
                            <span class="span_mark"></span>
                            <div class="text_markGKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKI_D", "", attrbs)
                            </div>
                                    }

                                }
                            }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKI_V"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_V"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_V"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_V"])</span>                          
                            <div class="text_markGKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKI_V", String.Format("{0:0.#}",
                                                  item.MarkDK[item.PupilID.ToString() + "GKI_V"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) & item.checkbox == false)
                                  {     
                                             
                            <span class="span_mark"></span>
                            <div class="text_markGKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKI_V", "", attrbs)
                            </div>
                                  }

                              }
                          }
                        }
                    </td>
                    <td>
                        @{
                            if (item.Show == null || item.Show != false)
                            {
                                if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKI_G"))
                                {

                                    if (item.Red.HasValue && item.Red == true)
                                    {
                            <span style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_G"])</span>
                                    }
                                    else
                                    {
                                        if (item.checkbox == true)
                                        {
                            <span>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_G"])</span>
                                        }
                                        else
                                        {
                            <span id='@(item.PupilID.ToString() + "GKI_G")'>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKI_G"])</span>
                                        }
                                    }
                                }
                                else
                                {
                                    if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                    {                   
                            <span id='@(item.PupilID.ToString() + "GKI_G")'></span>
                                    }

                                }
                            }
                        }
                    </td>
                </tr>
            </table>
            </text>)
             .HeaderTemplate(@<text>
            <table>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <strong>@Res.Get("MarkRecord_Column_KTDKGKI")</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_GKIMark")</span>
                    </td>
                </tr>
            </table>
            </text>).Visible(boolHKI).Width(120);
            //thang 4
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month4)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month4)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month4)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M4", String.Format("{0:0}", item.Month4), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
             .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month4"))</strong>
            </div>
            </text>).Visible(boolHKI);

            //thang 5
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month5)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month5)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month5)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M5", String.Format("{0:0}", item.Month5), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
              .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month5"))</strong>
            </div>
            </text>).Visible(boolHKI);

            //KTDK CKI
            c.Template(@<text>
            <table>
                <tr>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_D"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                          
                            <div class="text_markCKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKI_D", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "CKI_D"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  { 
                            <span class="span_mark"></span>
                            <div class="text_markCKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKI_D", "", attrbs)
                            </div>
                                  }
                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_V"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                          
                            <div class="text_markCKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKI_V", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "CKI_V"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  { 
                            <span class="span_mark"></span>
                            <div class="text_markCKI" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKI_V", "", attrbs)
                            </div>
                                  }
                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_C"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_C"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_C"])</span>
                                      }
                                      else
                                      {
                            <span id='@(item.PupilID.ToString() + "CKI_C")'>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKI_C"])</span>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  { 
                            <span id='@(item.PupilID.ToString() + "CKI_C")'></span>
                                  }
                              }
                          }
                        }
                    </td>
                </tr>
            </table>
            </text>)
             .HeaderTemplate(@<text>
            <table>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <strong>@Res.Get("MarkRecord_Column_KTDKCKI")</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_CKIMark")</span>
                    </td>
                </tr>
            </table>
            </text>).Visible(boolHKI).Width(120);

            //HLM KI
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@String.Format("{0:0}", @item.HLMKI)</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@String.Format("{0:0}", @item.HLMKI)</span>
                        }
                        else
                        {
<span>@String.Format("{0:0}", @item.HLMKI)</span>
                        }
                    }
                }
        
            }
            </text>)
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMKI"))</strong>
            </div>
            </text>).Visible(boolHKI).Width(50);

            //XLHLM KI
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@item.XLHLMKI</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@item.XLHLMKI</span>
                        }
                        else
                        {
<span>@item.XLHLMKI</span>
                        }
                    }
                }
            }
            </text>)
                            .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMHKI"))</strong>
            </div>
            </text>).Visible(boolHKI).Width(60);

            //HK2
            //thang 6
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month6)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month6)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month6)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M6", String.Format("{0:0}", item.Month6), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
             .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month6"))</strong>
            </div>
            </text>).Visible(boolHKII);

            //thang 7
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month7)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month7)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month7)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M7", String.Format("{0:0}", item.Month7), dicMonth)
                </div>
                      }
                  }
              }}
            </text>)
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month7"))</strong>
            </div>
            </text>).Visible(boolHKII);

            //KTDK GKII
            c.Template(@<text>
            <table>
                <tr>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKII_D"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_D"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_D"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_D"])
                            </span>
                          
                            <div class="text_markGKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKII_D", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "GKII_D"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {                    
                            <span class="span_mark"></span>
                            <div class="text_markGKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKII_D", "", attrbs)
                            </div>
                                  }
                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKII_V"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_V"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_V"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_V"])</span>
                          
                            <div class="text_markGKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKII_V", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "GKII_V"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {
                            <span class="span_mark"></span>
                            <div class="text_markGKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "GKII_V", "", attrbs)
                            </div>
                                  }

                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKII_G"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_G"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_G"])</span>
                                      }
                                      else
                                      {
                            <span id='@(item.PupilID.ToString() + "GKII_G")' >@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "GKII_G"])</span>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {
                            <span id='@(item.PupilID.ToString() + "GKII_G")' ></span>
                                  }

                              }
                          }
                        }
                    </td>
                </tr>
            </table>
            </text>)
             .HeaderTemplate(@<text>
            <table>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <strong>@Res.Get("MarkRecord_Column_KTDKGKII")</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_GKIIMark")</span>
                    </td>
                </tr>
            </table>
            </text>).Visible(boolHKII).Width(110);

            //thang 8

            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month8)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month8)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month8)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M8", String.Format("{0:0}", item.Month8), dicMonth)
                </div>
                      }
                  }
              }
            }
            </text>)
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month8"))</strong>
            </div>
            </text>).Visible(boolHKII);

            //thang 9
            c.Template(@<text>
            @{if (item.Show == null || item.Show != false)
              {

                  if (item.Red.HasValue && item.Red == true)
                  {
<span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0}", item.Month9)</span>
                  }
                  else
                  {
                      if (item.checkbox == true)
                      {
<span class="span_markM">@String.Format("{0:0}", item.Month9)</span>
                      }
                      else
                      {
<span class="span_mark">@String.Format("{0:0}", item.Month9)</span>
          
<div class="text_mark" style="display: none;">
                @Html.ViettelTextBox(item.PupilID + "M9", String.Format("{0:0}", item.Month9), dicMonth)
                </div>
                      }
                  }
              }
            }
            </text>)
                     .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month9"))</strong>
            </div>
            </text>).Visible(boolHKII);

            //KTDK CKII
            c.Template(@<text>
            <table>
                <tr>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_D"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_D"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_D"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_D"])</span>
                          
                            <div class="text_markCKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKII_D", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "CKII_D"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {
                            <span class="span_mark"></span>
                            <div class="text_markCKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKII_D", "", attrbs)
                            </div>
                                  }
                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_V"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span class="span_markM" style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_V"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_V"])</span>
                                      }
                                      else
                                      {
                            <span class="span_mark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_V"])</span>
                          
                            <div class="text_markCKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKII_V", String.Format("{0:0.#}",
                        item.MarkDK[item.PupilID.ToString() + "CKII_V"]), attrbs)
                            </div>
                                      }
                                  }
                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {
                            <span class="span_mark"></span>
                            <div class="text_markCKII" style="display: none;">
                                @Html.ViettelTextBox(item.PupilID + "CKII_V", "", attrbs)
                            </div>
                                  }
                              }
                          }
                        }
                    </td>
                    <td>
                        @{if (item.Show == null || item.Show != false)
                          {
                              if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_C"))
                              {

                                  if (item.Red.HasValue && item.Red == true)
                                  {
                            <span style="color: Red;" type="SpanMark">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_C"])</span>
                                  }
                                  else
                                  {
                                      if (item.checkbox == true)
                                      {
                            <span class="span_markM">@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_C"])</span>
                                      }
                                      else
                                      {
                            <span id='@(item.PupilID.ToString() + "CKII_C")'>@String.Format("{0:0.#}", item.MarkDK[item.PupilID.ToString() + "CKII_C"])</span>
                                      }
                                  }

                              }
                              else
                              {
                                  if ((!item.Red.HasValue || item.Red != true) && item.checkbox == false)
                                  {
                            <span id='@(item.PupilID.ToString() + "CKII_C")'></span>
                                  }
                              }
                          }
                        }
                    </td>
                </tr>
            </table>
            </text>)
            .HeaderTemplate(@<text>
            <table>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <strong>@Res.Get("MarkRecord_Column_KTDKCKII")</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
                    </td>
                    <td>
                        <span>@Res.Get("MarkRecord_Label_CKIIMark")</span>
                    </td>
                </tr>
            </table>
            </text>).Visible(boolHKII).Width(110);

            //HLM KII
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@String.Format("{0:0}", @item.HLMKII)</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@String.Format("{0:0}", @item.HLMKII)</span>
                        }
                        else
                        {
<span>@String.Format("{0:0}", @item.HLMKII)</span>
                        }
                    }
                }
            }
            </text>)
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMKII"))</strong>
            </div>
            </text>).Visible(boolHKII).Width(50);

            //XLHLM KII
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@item.XLHLMKII</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@String.Format("{0:0}", @item.XLHLMKII)</span>
                        }
                        else
                        {
<span>@item.XLHLMKII</span>
                        }
                    }
                }
            }
            </text>)
                            .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMHKII"))</strong>
            </div>
            </text>).Visible(boolHKII).Width(60);

            //HLMN
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@String.Format("{0:0}", @item.HLMN)</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@String.Format("{0:0}", @item.HLMN)</span>
                        }
                        else
                        {
<span>@String.Format("{0:0}", @item.HLMN)</span>
                        }
                    }
                }
            }
            </text>)
                    .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMN"))</strong>
            </div>
            </text>).Visible(boolHKII).Width(50);

            //XLHLMN
            c.Template(@<text>
            @{
                if (item.Show == null || item.Show != false)
                {
                    if (item.Red.HasValue && item.Red == true)
                    {
<span style="color: Red;" type="SpanMark">@item.XLHLMN</span>
                    }
                    else
                    {
                        if (item.checkbox == true)
                        {
<span>@String.Format("{0:0}", @item.XLHLMN)</span>
                        }
                        else
                        {
<span>@item.XLHLMN</span>
                        }
                    }
                }
        
            }
            </text>)
                            .HeaderTemplate(@<text>
            <div style="text-align: center;">
                <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMN"))</strong>
            </div>
            </text>).Visible(boolHKII).Width(60);

            //check box
            c.Template(@<text>
            @{
                if (!item.Red.HasValue && item.checkbox == false)
                {
                @Html.ViettelHidden("chk", chk++);
<input type="checkbox" class="chkStatus" onclick="checkStatus()" id="chk@chk" value
                = "@item.PupilID" name ="chkSatus" checked="checked" />
                }
                else
                {
                @Html.ViettelCheckBox("abc", new Dictionary<string, object> { { "disabled", "disabled" } })
                }  
            }
            </text>).HeaderTemplate(@<text>
            @Html.ViettelCheckBox("chkStatusall", "", new Dictionary<string, object> { { "onClick", "clickStatus()" }, { "id", "chkStatusall" }, { "class", "chkStatusall" } }, "", true, false, false, false)
            </text>).HtmlAttributes(new { style = "text-align:center;" }).Width(30);
        })
            .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Selectable()
        .Scrollable(c => c.Enabled(true).Height("450px"))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Render();
                      
        }
    </div>    
}
@{if (LockMarkTitle.Length > 0)
  {
    <div class="Clear"></div>
    <div style="padding-top: 5px">
        <span style="color: Red;" type="SpanMark">
            @String.Format(Res.Get("MarkRecordPrimary_Label_LockMark"), LockMarkTitle)
        </span>
    </div>
    <div class="Clear"></div>
  }
  if (!disabledButton)
  {
    <div style="padding-top: 5px;">
        <table>
            <tr>
                <td>
                    <div style="text-align: left;">
                        @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object> { { "id", "btnImportMark" } }, "button", "importReportTV2()", "")
                        <span>&nbsp;</span>
                        @Html.ViettelButton(Res.Get("Common_Button_Export"), new Dictionary<string, object> { { "id", "btnExportMark" } }, "button", "ClickExport()", "")
                    </div>
                </td>
                <td>
                    <div style="text-align: right;">
                        @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object> { { "id", "btnSave" } }, "button", "submitForm()", "")
                        <span>&nbsp;</span>
                        @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object> { { "id", "btnDelete" } }, "button", "Delete()", "")
                    </div>
                </td>
            </tr>
        </table>
    </div>
  }
  else
  {
    <table style="padding-top: 5px">
        <tr>
            <td>
                <div style="text-align: left;">
                    @*@Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object> { { "id", "btnImportMark" } }, "button", "", "t-state-disabled")
                    <span>&nbsp;</span>*@
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), new Dictionary<string, object> { { "id", "btnExportMark" } }, "button", "ClickExport()", "")
                </div>
            </td>
            @*<td>
                <div style="text-align: right;">
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object> { { "disabled", "disabled" }, { "id", "btnSave" } }, "button", "", "t-state-disabled")
                    <span>&nbsp;</span>
                    @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object> { { "id", "btnDelete" } }, "button", "", "t-state-disabled")
                </div>
            </td>*@
        </tr>
    </table>
  }

}
<script type="text/javascript">

    //Bat dau do KPI
    function MarkRecordOnBegin() {
        smas.showProcessingDialog();
        //BOOMR.plugins.RT.startTimer("Create_MarkRecord_Primary");   //--> bắt đầu đo
    }

    //Ket thuc do KPI
    function MarkRecordCompleted() {
        smas.hideProcessingDialog();
    }


    function disableColumnLock() {
        var lockTitle = $("#LockTitle").val();
        if (lockTitle != null && lockTitle != undefined) {
            var title = lockTitle.split(',');
            if (title.length > 0) {
                for (i = 0; i < title.length; i++) {
                    var t = title[i].replace('T', 'M').replace('K2', 'KII').replace('K1', 'KI').replace('CN', 'CKII');
                    $("input[type=text][name*=" + t + "]:enabled").each(function () {
                        $(this).attr('disabled', 'disabled');
                    });
                }
            }
        }
    }


    var lstInd = 0;
    var sum = '@chk';


    function submitForm() {
        //if (checkValidateMark(".text_markGKII input[type=text]:visible") && checkValidateMark(".text_markCKII input[type=text]:visible") && checkValidateMark(".text_markCKI input[type=text]:visible") && checkValidateMark(".text_markGKI input[type=text]:visible"))
        $("#submitForm").click();
    }

    function checkValidateMark(MarkName) {
        if ($(MarkName) != null && $(MarkName).length > 0) {
            $(MarkName).each(function () {
                var mark = $(this).val().toString().replace(',', '.');
                if (mark != "") {
                    if (!(mark >= 0 && mark <= 10)) {
                        smas.alert('@Res.Get("Clas")');
                        return false;
                    }
                }
            });
        } else { return true; }
    }

    $(document).ready(function () {
        disableColumnLock();
        controlUtils.AddMoveButtonEvent("#GridMarkRecordTV");
        
    });

    function Grid_onDataBinding(e) {
        var gridtv = $('#GridMarkRecordTV').data('tGrid');
        lstInd = (gridtv.currentPage - 1) * gridtv.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    $(document).ready(
    function () {
        var disabledcheck = '@disabledButton';
        if (disabledcheck == "False") {
            $("#chkEntryMark").attr("disabled", false);
            $("#chkEntryMark").removeClass('t-state-disabled');
        }
        if (disabledcheck == "True") {
            $("#chkEntryMark").attr("disabled", true);
            $("#chkEntryMark").addClass('t-state-disabled');
        }
    }
    );
        function Delete() {
            smas.confirm('@Html.Raw(Res.Get("BookMarkReacord_Confirm_Delete"))', function () {
            var datafrom = $("#frmCreate").serialize();
            $.ajax({
                url: '@Url.Action("Delete", "MarkRecordOfPrimary")',
                type: 'post',
                data: datafrom,
                dataType: "json",
                beforeSend: function () {

                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.hideProcessingDialog();
                    AjaxLoadGrid();
                    smas.alert(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        })
    }

    function clickStatus() {
        var a = document.getElementById('chkStatusall').checked;
        $(".chkStatus").attr("checked", a);
    }


    function checkStatus() {
        var check = $(".chkStatus:checked").length;
        if (check == sum) {
            $(".chkStatusall").attr("checked", true);
        }
        else {
            $(".chkStatusall").attr("checked", false);
        }

    }

    var oldValue = "";
    $(".text_mark input[type=text]").keypress(function (e) {
        if (window.event) { // IE
            var charCode = window.event.keyCode;
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }
        if (e.ctrlKey) {
            if (charCode == 118 || charCode == 99) {
                return true;
            }
        }
        //43 dấu +
        if (charCode == 43) {
            return true;
        }

        if (charCode == 44) {
            return true;
        }
        //46 dau cham 32 Space; 
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 32)
            return false;
        return true;
    });
    $(".text_mark input[type=text]").keyup(function (e) {
        //var obj = $(this).val();
        //var text = stringUtils.replaceAll(obj, "+", "10");
        //obj = text;
        //if (this.value * 1 > 10 || this.value *1  ==0) {
        //    this.value = oldValue;
        //}
        return true;
    });
    $(".text_mark input[type=text]").blur(function (e) {
        checkMarkM(this);

    });
    var oldValue = "";
    $(".text_markGKI input[type=text]").keypress(function (e) {

        if (e.which == 46) {
            return false;
        }

        if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 0 && e.which != 44) {

            return false;
        }
        if (e.which == 44) {
            if (this.value.indexOf(",") > 0) {
                return false;
            }
        }
        oldValue = this.value;

    });

    $(".text_markGKI input[type=text]").keyup(function (e) {
        //if (this.value.indexOf(",") == 0) {
        //    this.value = "";
        //}

        //if (this.value.indexOf(",") >= 0 && e.which == 44) {
        //    this.value = oldValue;
        //}
        //if (this.value * 1 > 10 || this.value *1  ==0) {
        //    this.value = oldValue;
        //}

        //xoa tinh trung binh
    });

    var oldValue = "";
    $(".text_markCKI input[type=text]").keypress(function (e) {

        if (e.which == 46) {
            return false;
        }
        if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 0 && e.which != 44) {
            return false;
        }
        if (e.which == 44) {
            if (this.value.indexOf(",") > 0) {
                return false;
            }
        }
        oldValue = this.value;

    });

    $(".text_markCKI input[type=text]").keyup(function (e) {
        //if (this.value.indexOf(",") == 0) {
        //    this.value = "";
        //}
        //if (this.value.indexOf(",") >= 0 && e.which == 44) {
        //    this.value = oldValue;
        //}
        //if (this.value * 1 > 10 || this.value *1  ==0) {
        //    this.value = oldValue;
        //}

    });

    var oldValue = "";
    $(".text_markGKII input[type=text]").keypress(function (e) {
        if (window.event) { // IE
            var charCode = window.event.keyCode;
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }
        if (e.ctrlKey) {
            if (charCode == 118 || charCode == 99) {
                return true;
            }
        }
        if (e.which == 44) {
            if (this.value.indexOf(",") > 0) {
                return false;
            }
        }
        if (charCode == 44) {
            return true;
        }

        //46 dau cham
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;


    });

    $(".text_markGKII input[type=text]").keyup(function (e) {

        //if (this.value * 1 > 10 || this.value * 1 == 0) {
        //    this.value = oldValue;
        //}
        //if (this.value.indexOf(",") == 0) {
        //    this.value = "";
        //}
        //var strType = "G";
        //if ($(this).parent().attr("id") != null && $(this).parent().attr("id") == 't2') {
        //    strType = 'C';
        //}

        //tinh o onblur
    });

    $(".text_markGKII input[type=text]").blur(function (txtMark) {
        txtMark = this;
        var text = this.value;
        var num = "0123456789";
        var num1 = "123456789";
        /*if (text.length == 2) {
        if (num.indexOf(text.charAt(1)) == -1) {
        txtMark.value = text.charAt(0);  //+ ',0';
        }
        }*/
        if (text.length == 0 || this.value * 1 == 0) {
            txtMark.value = "";
        }
        if (this.value.length > 3)
            this.value = "";

        if (text.length == 1) {
            if (text.charAt(0) == ',') {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0') {
                txtMark.value = '';
            }
            else if (num1.indexOf(text.charAt(0)) != -1) {
                txtMark.value = text.charAt(0) + ',' + '0';
            }
        }

        if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            } else if (text.charAt(0) == '0' && (text.charAt(1) == ',' || text.charAt(1) == '0')) {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0' && num1.indexOf(text.charAt(1)) != -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            }
            else if (text.charAt(0) == ',') {
                txtMark.value = '';
            }

        } else if (text.length == 3) {
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        } else if (text.length == 4) {
            if (text.indexOf(',') == -1) {
                text = text.substring(0, text.length - 1);

            }
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        }
        calculator(this);

    });

    $(".text_markGKI input[type=text]").blur(function (txtMark) {
        txtMark = this;
        var text = this.value;
        var num = "0123456789";
        var num1 = "123456789";
        /*if (text.length == 2) {
        if (num.indexOf(text.charAt(1)) == -1) {
        txtMark.value = text.charAt(0);  //+ ',0';
        }
        }*/
        if (text.length == 0 || this.value * 1 == 0) {
            txtMark.value = "";
        }
        if (this.value.length > 3)
            this.value = "";

        if (text.length == 1) {
            if (text.charAt(0) == ',') {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0') {
                txtMark.value = '';
            }
            else if (num1.indexOf(text.charAt(0)) != -1) {
                txtMark.value = text.charAt(0) + ',' + '0';
            }
        }

        if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            } else if (text.charAt(0) == '0' && (text.charAt(1) == ',' || text.charAt(1) == '0')) {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0' && num1.indexOf(text.charAt(1)) != -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            }
            else if (text.charAt(0) == ',') {
                txtMark.value = '';
            }

        } else if (text.length == 3) {
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        } else if (text.length == 4) {
            if (text.indexOf(',') == -1) {
                text = text.substring(0, text.length - 1);

            }
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        }
        calculator(this);
    });

    var oldValue = "";
    var countC = 0;
    //8 backspace
    //0 tab
    //46 .
    //44 ,
    $(".text_markCKII input[type=text]").keypress(function (e) {
        if (e.which == 46) {
            return false;
        }

        if ((e.which < 48 || e.which > 57) && e.which != 8 && e.which != 127 && e.which != 0 && e.which != 44) {

            return false;
        }
            if (e.which == 44) {
                if (this.value.indexOf(",") > 0) {
                return false;
            }
        }
        oldValue = this.value;

    });

    $(".text_markCKII input[type=text]").keyup(function (e) {

        //if (this.value.indexOf(",") == 0) {
        //    this.value = "";
        //}



        //if (this.value.indexOf(",") >= 0 && e.which == 44) {
        //    this.value = oldValue;
        //}
        //if (this.value * 1 > 10 || this.value * 1 == 0) {
        //    this.value = oldValue;
        //}
        //if (this.value.length > 3)
        //    this.value = "";

    });

    $(".text_markCKII input[type=text]").blur(function (txtMark) {
        txtMark = this;
        var text = this.value;
        var num = "0123456789";
        var num1 = "123456789";
        /*if (text.length == 2) {
        if (num.indexOf(text.charAt(1)) == -1) {
        txtMark.value = text.charAt(0);  //+ ',0';
        }
        }*/
        if (text.length == 0 || this.value * 1 == 0) {
            txtMark.value = "";
        }

        if (text.length == 1) {
            if (text.charAt(0) == ',') {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0') {
                txtMark.value = '';
            }
            else if (num1.indexOf(text.charAt(0)) != -1) {
                txtMark.value = text.charAt(0) + ',' + '0';
            }
        }

        if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            } else if (text.charAt(0) == '0' && (text.charAt(1) == ',' || text.charAt(1) == '0')) {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0' && num1.indexOf(text.charAt(1)) != -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            }
            else if (text.charAt(0) == ',') {
                txtMark.value = '';
            }

        } else if (text.length == 3) {
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        } else if (text.length == 4) {
            if (text.indexOf(',') == -1) {
                text = text.substring(0, text.length - 1);

            }
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        }
        calculator(this);
        // AnhVD 20131224
        fillTVMark($(this).closest('tr').find("span").last(), 2);

    });

    function calculator(txtMark) {

        var TextName1 = txtMark.name;
        var tempstart = TextName1.substring(0, TextName1.length - 1);
        var tempend = TextName1.substring(TextName1.length - 1, TextName1.length);

        var TextName2 = "";
        if (tempend == "D") {
            TextName2 = tempstart + "V";
        }
        if (tempend == "V") {
            TextName2 = tempstart + "D";
        }

        var val1 = $("[name=" + TextName1 + "]").val().toString().replace(",", ".");
        var val2 = $("[name=" + TextName2 + "]").val().toString().replace(",", ".");
        var sumCKI = 0;
        if (val1 == "" || val1 == null) {
            if (val2 != "" && val2 != null) {
                sumCKI = val2;
            }
        }
        if (val2 == "" || val2 == null) {
            if (val1 != "" && val1 != null) {
                sumCKI = val1;
            }
        }

        //tinh tong lam tron so
        if (val1 != "" && val1 != null && val2 != "" && val2 != null) {
            sumCKI = (val1 * 1 + val2 * 1) / 2;
        }
        sumCKI = numberUtils.roundNumber(sumCKI, 0);

        var object = $("[name=" + TextName1 + "]");
        var lblSum = $(object).closest("tr").find("span").last();
        $(lblSum).html(sumCKI);
        if ((val1 == "" || val1 == null) && (val2 == "" || val2 == null)) {
            $(lblSum).html("");
        }
    }

    $(".text_markCKI input[type=text]").blur(function (txtMark) {
        txtMark = this;
        var text = this.value;
        var num = "0123456789";
        var num1 = "123456789";
        /*if (text.length == 2) {
        if (num.indexOf(text.charAt(1)) == -1) {
        txtMark.value = text.charAt(0);  //+ ',0';
        }
        }*/
        if (text.length == 0 || this.value * 1 == 0) {
            txtMark.value = "";
        }
        if (this.value.length > 3)
            this.value = "";

        if (text.length == 1) {
            if (text.charAt(0) == ',') {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0') {
                txtMark.value = '';
            }
            else if (num1.indexOf(text.charAt(0)) != -1) {
                txtMark.value = text.charAt(0) + ',' + '0';
            }
        }

        if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            } else if (text.charAt(0) == '0' && (text.charAt(1) == ',' || text.charAt(1) == '0')) {
                txtMark.value = '';
            }
            else if (text.charAt(0) == '0' && num1.indexOf(text.charAt(1)) != -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(1);
            }
            else if (text.charAt(0) == ',') {
                txtMark.value = '';
            }

        } else if (text.length == 3) {
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        } else if (text.length == 4) {
            if (text.indexOf(',') == -1) {
                text = text.substring(0, text.length - 1);

            }
            if (text.charAt(0) == '0') {
                if (text.charAt(1) == '0') {
                    txtMark.value = '';
                }
                else if (text.charAt(1) == ',') {
                    if (text.charAt(2) == ',') {
                        txtMark.value = '';
                    }
                    else if (text.charAt(2) == '0') {
                        txtMark.value = '';
                    }
                    else {
                        txtMark.value = text;
                    }
                }
                else {
                    txtMark.value = '';
                }
            }
            else if (text.charAt(0) == '.') {
                txtMark.value = '';
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + ',' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + ',' + text.charAt(1);
        }
        calculator(this);
        // AnhVD 20131224
        fillTVMark($(this).closest('tr').find("span").last(), 1);

    });

   

    function checkMarkM(txtMark) {

        var txt1 = txtMark.value;
        var text1 = "";
        var ii = 0, jj = 0;
        if (txt1 != null && txt1.length > 0) {
            for (ii; ii < txt1.length; ii++) {
                if (txt1.charAt(ii) != 0) {
                    jj = ii;
                    break;
                }
            }

            for (jj; jj < txt1.length; jj++) {
                text1 = text1 + txt1[jj];
            }
        }

        var num = "0123456789";
        var text = "";
        var i = 0;
        if (text1 != null) {
            for (i; i < text1.length; i++) {
                if (!isNaN(parseInt(text1[i]))) {
                    text = text + "" + text1[i];
                }
            }
        }

        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }
        if (text.lenght <= 0) return;
        var aryTest = text.split(" ");
        var strVal = "";
        var mark;
        if (aryTest.length <= 0) return;

        for (i = 0; i < aryTest.length; i++) {
            if ((aryTest[i] != '' || aryTest[i] != ' ') && (aryTest[i] <= 0 || aryTest[i] > 10)) {
                for (j = 0; j < aryTest[i].length; j++) {
                    if (j + 1 <= aryTest[i].length) {
                        if (aryTest[i].charAt(j) == 1 && aryTest[i].charAt(j + 1) == 0) {
                            mark = aryTest[i].charAt(j) + aryTest[i].charAt(j + 1);
                            strVal += mark + " ";
                        }
                        else if (aryTest[i].charAt(j) > 1 && aryTest[i].charAt(j + 1) == 0) {
                            mark = aryTest[i].charAt(j);
                            strVal += mark + " ";
                        }
                        else if (aryTest[i].charAt(j) == 0) {
                            strVal += "";
                        }
                        else {
                            strVal += aryTest[i].charAt(j) + " ";
                        }

                    }
                }
            }
            else {
                if (aryTest[i].length == 2 && aryTest[i].charAt(0) == 0) {
                    mark = "" + aryTest[i].charAt(1)
                    strVal += mark + " ";
                }
                else if (aryTest[i].length == 3 && aryTest[i].charAt(0) == 0) {
                    mark = "" + aryTest[i].charAt(1) + aryTest[i].charAt(2)
                    strVal += mark + " ";
                }
                else {
                    strVal += aryTest[i] + " ";
                }
            }
        }


        txtMark.value = strVal.substring(0, strVal.length - 1);
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }


    }

    function fillTVMark(control, semester) {
        var value = $(control).text();
        var HLMHK = $(control).parents('td').parents('td').next('td');
        $(HLMHK).text(value);
        var XL = "";
        if (value >= 9) {
            XL = "Giỏi";
        } else if (value >= 7) {
            XL = "Khá";
        } else if (value >= 5) {
            XL = "Trung Bình";
        } else if (value > 0) {
            XL = "Yếu";
        } else {
            XL = "";
        }

        $(HLMHK).next('td').text(XL);
        if (semester == 2) {
            $(HLMHK).next('td').next('td').text(value);
            $(HLMHK).next('td').next('td').next('td').text(value);
        }
    }
    function CreateFailPrimary(XMLHttpRequest) {
        smas.alert(XMLHttpRequest.responseText);
        AjaxLoadGrid();
    }
</script>
