﻿@model MarkRecordOfPrimaryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea
<style type="text/css">
  
</style>
@{
    var boolHKI = (bool)ViewData[MarkRecordOfPrimaryConstants.BOOL_HKI];
    var boolHKII = (bool)ViewData[MarkRecordOfPrimaryConstants.BOOL_HKII];
    Dictionary<string, object> attrbs = new Dictionary<string, object>();
    attrbs["style"] = "Width:25px;text-align:center;";
    Dictionary<string, object> dicMonth = new Dictionary<string, object>();
    dicMonth["style"] = "Width:65px;text-align:center;";
}
<div style=" width: 1024px; overflow:auto;">
@{
    var index = 1;
    var chk = 0;

    Html.Telerik()
        .Grid((IEnumerable<MarkRecordOfPrimaryViewModel>)ViewData[MarkRecordOfPrimaryConstants.LIST_MARKRECORD])
        .Name("GridMarkRecordTVForImport")
        .HtmlAttributes(new Dictionary<string, object>() { { "style", " width: 1150px;" } })
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@item.PupilCode</span>
        }
        else
        { 
        <span>@item.PupilCode</span>
        }
        
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_PupilCode"))</strong>
    </div>
    </text>).Visible(false).Width(80);

            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@item.PupilName</span>
        }
        else
        { 
        <span>@item.PupilName</span>
        }
        
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_FullName"))</strong>
    </div>
    </text>).Width(70);

            //HK1
            //thang 1

            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month1)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month1)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M1", String.Format("{0:0}", item.Month1), dicMonth)
        </div>
          }
      }}
    </text>)
               .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month1"))</strong>
    </div>
    </text>).Visible(boolHKI);
            //thang 2
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month2)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month2)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M2", String.Format("{0:0}", item.Month2), dicMonth)
        </div>
          }
      }}
    </text>)
                         .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month2"))</strong>
    </div>
    </text>).Visible(boolHKI);

            //thang 3
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month3)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month3)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M3", String.Format("{0:0}", item.Month3), dicMonth)
        </div>
          }
      }}
    </text>)
                     .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month3"))</strong>
    </div>
    </text>).Visible(boolHKI);

            //KTDK GKI
            c.Template(@<text>
    <table>
        <tr>
            <td>
                @{ 
                    if (item.Show == null || item.Show != false)
                    {
                        if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_D"))
                        {

                            if (item.Red.HasValue && item.Red == true)
                            {
                    <span style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                            }
                            else
                            { 
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>                            
                    
                    <div class="text_markGKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKI_D", String.Format("{0:0}",
                                       item.MarkDK[item.PupilID.ToString() + "CKI_D"]), attrbs)
                    </div>
                            }
                        }
                        else
                        {
                            if (!item.Red.HasValue || item.Red != true)
                            {                    
                    <span class="span_mark"></span>
                    <div class="text_markGKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKI_D", "", attrbs)
                    </div>
                            }

                        }
                    }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_V"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>                          
                    <div class="text_markGKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKI_V", String.Format("{0:0}",
                                       item.MarkDK[item.PupilID.ToString() + "CKI_V"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {                    
                    <span class="span_mark"></span>
                    <div class="text_markGKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKI_V", "", attrbs)
                    </div>
                          }

                      }
                  }
                }
            </td>
            <td>
                @{
                    if (item.Show == null || item.Show != false)
                    {
                        if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_G"))
                        {
                            if (item.Red.HasValue && item.Red == true)
                            {
                    <span style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_G"])</span>
                            }
                            else
                            {
                    <span id="sumGKI">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_G"])</span>
                            }
                        }
                        else
                        {
                            if (!item.Red.HasValue || item.Red != true)
                            {                   
                    <span id="sumGKI"></span>
                            }

                        }
                    }
                }
            </td>
        </tr>
    </table>
    </text>)
             .HeaderTemplate(@<text>
    <table>
        <tr>
            <td colspan="3" style="text-align: center;">
                <strong>@Res.Get("MarkRecord_Column_KTDKGKI")</strong>
            </td>
        </tr>
        <tr>
            <td>
                <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_GKIMark")</span>
            </td>
        </tr>
    </table>
    </text>).Visible(boolHKI).Width(120);
            //thang 4
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month4)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month4)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M4", String.Format("{0:0}", item.Month4), dicMonth)
        </div>
          }
      }}
    </text>)
             .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month4"))</strong>
    </div>
    </text>).Visible(boolHKI);

            //thang 5
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month5)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month5)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M5", String.Format("{0:0}", item.Month5), dicMonth)
        </div>
          }
      }}
    </text>)
              .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month5"))</strong>
    </div>
    </text>).Visible(boolHKI);

            //KTDK CKI
            c.Template(@<text>
    <table>
        <tr>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_D"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_D"])</span>
                          
                    <div class="text_markCKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKI_D", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "CKI_D"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          { 
                    <span class="span_mark"></span>
                    <div class="text_markCKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKI_D", "", attrbs)
                    </div>
                          }
                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_V"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_V"])</span>
                          
                    <div class="text_markCKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKI_V", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "CKI_V"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          { 
                    <span class="span_mark"></span>
                    <div class="text_markCKI" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKI_V", "", attrbs)
                    </div>
                          }
                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKI_C"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_C"])</span>
                          }
                          else
                          {
                    <span id="sumCKI">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKI_C"])</span>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          { 
                    <span id="sumCKI"></span>
                          }
                      }
                  }
                }
            </td>
        </tr>
    </table>
    </text>)
             .HeaderTemplate(@<text>
    <table>
        <tr>
            <td colspan="3" style="text-align: center;">
                <strong>@Res.Get("MarkRecord_Column_KTDKCKI")</strong>
            </td>
        </tr>
        <tr>
            <td>
                <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_CKIMark")</span>
            </td>
        </tr>
    </table>
    </text>).Visible(boolHKI).Width(120);

            //HLM KI
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span class="span_markM" style="color: Red;">@item.strHLMKI</span>
        }
        else
        { 
        <span class="span_mark">@item.strHLMKI</span>
        }
        
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMKI"))</strong>
    </div>
    </text>).Visible(boolHKI).Width(60);

            //XLHLM KI
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span class="span_markM" style="color: Red;">@item.XLHLMKI</span>
        }
        else
        { 
        <span class="span_mark">@item.XLHLMKI</span>
        }
        
    }
    </text>)
                            .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMHKI"))</strong>
    </div>
    </text>).Visible(boolHKI).Width(60);

            //HK2
            //thang 6
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month6)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month6)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M6", String.Format("{0:0}", item.Month6), dicMonth)
        </div>
          }
      }}
    </text>)
             .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month6"))</strong>
    </div>
    </text>).Visible(boolHKII);

            //thang 7
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month7)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month7)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M7", String.Format("{0:0}", item.Month7), dicMonth)
        </div>
          }
      }}
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month7"))</strong>
    </div>
    </text>).Visible(boolHKII);

            //KTDK GKII
            c.Template(@<text>
    <table>
        <tr>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKII_D"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "GKII_D"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "GKII_D"])</span>
                          
                    <div class="text_markGKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKII_D", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "GKII_D"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {                    
                    <span class="span_mark"></span>
                    <div class="text_markGKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKII_D", "", attrbs)
                    </div>
                          }
                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "GKII_V"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "GKII_V"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "GKII_V"])</span>
                          
                    <div class="text_markGKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKII_V", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "GKII_V"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {
                    <span class="span_mark"></span>
                    <div class="text_markGKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "GKII_V", "", attrbs)
                    </div>
                          }

                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_G"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_G"])</span>
                          }
                          else
                          {
                    <span id="sumGKII">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_G"])</span>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {
                    <span id="sumGKII"></span>
                          }

                      }
                  }
                }
            </td>
        </tr>
    </table>
    </text>)
             .HeaderTemplate(@<text>
    <table>
        <tr>
            <td colspan="3" style="text-align: center;">
                <strong>@Res.Get("MarkRecord_Column_KTDKGKII")</strong>
            </td>
        </tr>
        <tr>
            <td>
                <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_GKIIMark")</span>
            </td>
        </tr>
    </table>
    </text>).Visible(boolHKII).Width(120);

            //thang 8

            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month8)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month8)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M8", String.Format("{0:0}", item.Month8), dicMonth)
        </div>
        
          }
      }
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month8"))</strong>
    </div>
    </text>).Visible(boolHKII);

            //thang 9
            c.Template(@<text>
    @{if (item.Show == null || item.Show != false)
      {
          if (item.Red.HasValue && item.Red == true)
          {
        <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.Month9)</span>
          }
          else
          { 
        <span class="span_mark">@String.Format("{0:0}", item.Month9)</span>
          
        <div class="text_mark" style="display: none;">
            @Html.ViettelTextBox(item.PupilID + "M9", String.Format("{0:0}", item.Month9), dicMonth)
        </div>
          }
      }
    }
    </text>)
                     .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_Month9"))</strong>
    </div>
    </text>).Visible(boolHKII);

            //KTDK CKII
            c.Template(@<text>
    <table>
        <tr>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_D"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_D"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_D"])</span>
                          
                    <div class="text_markCKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKII_D", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "CKII_D"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {
                    <span class="span_mark"></span>
                    <div class="text_markCKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKII_D", "", attrbs)
                    </div>
                          }
                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_V"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span class="span_markM" style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_V"])</span>
                          }
                          else
                          {
                    <span class="span_mark">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_V"])</span>
                          
                    <div class="text_markCKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKII_V", String.Format("{0:0}",
                        item.MarkDK[item.PupilID.ToString() + "CKII_V"]), attrbs)
                    </div>
                          }
                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {
                    <span class="span_mark"></span>
                    <div class="text_markCKII" style="display: none;">
                        @Html.ViettelTextBox(item.PupilID + "CKII_V", "", attrbs)
                    </div>
                          }
                      }
                  }
                }
            </td>
            <td>
                @{if (item.Show == null || item.Show != false)
                  {
                      if (item.MarkDK.ContainsKey(item.PupilID.ToString() + "CKII_C"))
                      {
                          if (item.Red.HasValue && item.Red == true)
                          {
                    <span style="color: Red;">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_C"])</span>
                          }
                          else
                          {
                    <span id="sumCKII">@String.Format("{0:0}", item.MarkDK[item.PupilID.ToString() + "CKII_C"])</span>
                          }

                      }
                      else
                      {
                          if (!item.Red.HasValue || item.Red != true)
                          {
                    <span id="sumCKII"></span>
                          }
                      }
                  }
                }
            </td>
        </tr>
    </table>
    </text>)
            .HeaderTemplate(@<text>
    <table>
        <tr>
            <td colspan="3" style="text-align: center;">
                <strong>@Res.Get("MarkRecord_Column_KTDKCKII")</strong>
            </td>
        </tr>
        <tr>
            <td>
                <span>@Res.Get("MarkRecord_Label_ReadMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_WriteMark")</span>
            </td>
            <td>
                <span>@Res.Get("MarkRecord_Label_CKIIMark")</span>
            </td>
        </tr>
    </table>
    </text>).Visible(boolHKII).Width(120);

            //HLM KII
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@item.strHLMKII</span>
        }
        else
        { 
        <span>@item.strHLMKII</span>
        }
        
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMKII"))</strong>
    </div>
    </text>).Visible(boolHKII).Width(60);

            //XLHLM KII
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@item.XLHLMKII</span>
        }
        else
        { 
        <span>@item.XLHLMKII</span>
        }
        
    }
    </text>)
                            .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMHKII"))</strong>
    </div>
    </text>).Visible(boolHKII).Width(60);


            //HLMN
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@String.Format("{0:0}", @item.strHLMKII)</span>
        }
        else
        { 
        <span>@String.Format("{0:0}", @item.strHLMKII)</span>
        }
        
    }
    </text>)
                    .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_HLMN"))</strong>
    </div>
    </text>).Visible(boolHKII).Width(60);

            //XLHLMN
            c.Template(@<text>
    @{
        if (item.Red.HasValue && item.Red == true)
        {
        <span style="color: Red;">@item.XLHLMKII</span>
        }
        else
        { 
        <span>@item.XLHLMKII</span>
        }
        
    }
    </text>)
                            .HeaderTemplate(@<text>
    <div align="center">
        <strong>@Html.Raw(Res.Get("MarkRecord_Column_XLHLMN"))</strong>
    </div>
    </text>).Visible(boolHKII).Width(60);



            c.Bound(o => o.isLegal).Title(Res.Get("JudgeRecord_Label_IsLegal")).HtmlAttributes(new { style = "text-align:center;font-weight:bold" });
            c.Template(@<text> <div style="color: Red;text-align:left">
                @Html.Raw(item.ErrorDescription)
            </div>
    </text>).Title(Res.Get("JudgeRecord_Label_ErrorDescription")).Width(170)
                //.HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" })
            ;

        })
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Scrollable(u => u.Height(440))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<br />
</div>