﻿@model SearchViewModel		
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
<table>
    <tr>
        <td style="width: 20%;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_Semester")</legend>
                @(Html.ViettelRadioBox("rptSemester", "", new Dictionary<string, object> { { "onclick", "clickSemester(this);" } }, ViewData[MarkRecordOfPrimaryConstants.LIST_SEMESTER] as List<ViettelCheckboxList>, true))
            </fieldset>
        </td>
        <td style="width: 5%;">
        </td>
        <td style="width: 75%;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_EducationLevel")</legend>
                @(Html.ViettelRadioBox("rptEducationLevel", "", new Dictionary<string, object> { { "onChange", "AjaxLoadClass(this);" } }, ViewData[MarkRecordOfPrimaryConstants.LIST_EDUCATIONLEVEL] as List<ViettelCheckboxList>, true))
            </fieldset>
        </td>
    </tr>
</table>
<div id="ClassPanel">
    @Html.Partial("_ClassPanel")
</div>
<input type="hidden" name="classid" id="classid" value="0" />
<div id="SubjectPanel">
</div>
@Html.ViettelHidden("HidClassProfileID")
<script type="text/javascript">

    $(document).ready(function () {
        // load lai trang nhung van chon dung lop cua khoi
        var rptEducationLevel = $('input[name=rptEducationLevel]');
        var idEducationLevel = rptEducationLevel.filter(':checked').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadClass", "MarkRecordOfPrimary")',
            type: 'post',
            data: { idEducationLevel: idEducationLevel },
            success: function (msg) {
                $("#ClassPanel").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    });

    function clickSemester(rptSemester) {
        
        var idSemester = $('[name=rptSemester]:checked').val();
        $("#chkEntryMark").attr("checked", false);
        var EducationLevel = $("[name=rptEducationLevel]:checked");
        AjaxLoadClass(EducationLevel);
    }

    function AjaxLoadSubject(rptClass) {
        $("#fclass input[type=button]").removeAttr('disabled');
        $("#fclass input[type=button]").removeClass('t-state-disabled');
        $("#btnImportMark").attr("disabled", false);
        $("#btnImportMark").removeClass('t-state-disabled');
        $("#btnExportMark").attr("disabled", false);
        $("#btnExportMark").removeClass('t-state-disabled');
        $("#lstMarkRecord").html("");
        var frmId = $(rptClass).closest('form').get(0).id;
        var idClassProfile = $(rptClass).attr('id');
        var idSemester = $('[name=rptSemester]:checked').val();

        $("#HidClassProfileID").val(idClassProfile);

        $(rptClass).attr('disabled', true);
        $(rptClass).addClass('t-state-disabled');

        $.ajax({
            url: '@Url.Action("AjaxLoadSubject", "MarkRecordOfPrimary")',
            type: 'post',
            data: { idClassProfile: idClassProfile, idSemester: idSemester },
            success: function (msg) {
                $("#SubjectPanel").html(msg);
                $("input[name='rptSubject']:first").attr("checked", "checked");
                AjaxLoadGrid();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        })
    }

    function AjaxLoadClass(rptEducationLevel) {// thuc hien su kien onchang cho radiobutton khoi hoc
        $("#SubjectPanel").html("");
        $("#lstMarkRecord").html("");
        $("#btnImportMark").attr("disabled", true);
        $("#btnImportMark").addClass('t-state-disabled');
        $("#btnExportMark").attr("disabled", true);
        $("#btnExportMark").addClass('t-state-disabled');
        frmId = $(rptEducationLevel).closest('form').get(0).id;
        var idEducationLevel = $(rptEducationLevel).val();
        $.ajax({
            url: '@Url.Action("AjaxLoadClass", "MarkRecordOfPrimary")',
            type: 'post',
            data: { idEducationLevel: idEducationLevel },
            success: function (msg) {
                $("#ClassPanel").html(msg);
                if ($("#ClassPanel input[type=button]").size() > 0) {
                    var idlop = $("#ClassPanel input[type=button]").get(0);
                    AjaxLoadSubject(idlop);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function AjaxLoadGrid() {
        var idSubject = $('[name=rptSubject]:checked').val();
        var idSemester = $('[name=rptSemester]:checked').val();
        var ClassProfileID = $('#HidClassProfileID').val();
        if (idSubject != "" && idSubject != null) {
            smas.showProcessingDialog();
            $.ajax({
                url: '@Url.Action("AjaxLoadGrid", "MarkRecordOfPrimary")',
                type: 'post',
                data: { idSubject: idSubject, idSemester: idSemester, idClassProfile: ClassProfileID },
                success: function (msg) {
                    $("#lstMarkRecord").css({ 'visibility': 'visible', display: '' });
                    $("#lstMarkRecord").html(msg);
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            })
        }
    }

    function onCloseImportDialog() {
        AjaxLoadGrid();
    }
</script>
