﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportTeacherArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("Common_Label_ImportTeacher");
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 import-page">
    <div class="vt-SearchPanel-Title f-16">
        <span class="icon icon-search-file"></span>@Res.Get("Common_Label_ImportTeacherInfo")
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
    </div>
     <div class="Clear"></div>  
<div class="vt-SearchPanel-Content bottom-border-radius">
    <div>
     @using (Ajax.BeginForm("ImportExcel",
                       "ImportTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           //OnBegin = "smas.showProcessingDialog",
                           //OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
    { 
        @Html.AntiForgeryToken()
            <div class="row  p-b-10">
                <div class="col-sm-3 text-right p-t-8 gray">
                    @Res.Get("ImportPupil_Label_ImportFromExcel")
                </div>
                <div class="col-md-6 col-sm-5">
                    <input type="text" placeholder="Tải file từ máy tính" disabled="disabled" id="txtFilePath" class="col-sm-12 p-l-20 bg-light"/>
                </div>
                <div class="col-md-3 col-sm-4 file-upload">   
                    <button type="button" class="btn btn-success btn-icon btn-icon-folder" onclick="$('#attachments').click();">Chọn file</button>
                </div>
            </div>
            <div class="hidden">
                    @(Html.Telerik().Upload()
                      .Name("attachments")
                        .HtmlAttributes(new { @class = "btnUploaderCss" })
                        .ShowFileList(false)
                        .Multiple(false)
                        .Async(async => async
                      .Save("SaveFile", "ImportTeacher")
                        .AutoUpload(false)
                         ).ClientEvents(events => events
                        .OnSelect("OnSelectImport")
                        .OnUpload("OnImportUpload")
                        .OnSuccess("OnImportSuccess")
                        .OnError("OnImportError")
                    )
                    )
                </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-9">
                    <p class="gray f-12 "><strong>Kiểu file:</strong> .xls, .xlsx. <strong>Dung lượng tối đa:</strong> 10 MB</p>
                </div>
            </div>
            <div class="row mg-t-10">
               <div class="col-sm-3 text-right p-r-10 gray"> @Res.Get("ImportPupil_Label_SampleFile")</div>
               <div class="col-sm-9">
                 <span onclick="$('#btnDowloadfile').click();" class="text-link">Bấm để tải</span>
                </div>
            </div>
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")

                }
            </div>
             <div class="row mg-t-10 mg-b-10">
                <div class="hidden">
                    <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "ImportTeacher")' method="post">
                        @Html.ViettelButton(Res.Get("DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btnDowloadfile" }, { "style", "margin-left: -37px;" } }, "submit", "", "")
                    </form>
                </div>
                <div style="text-align:center">
                    @Html.ViettelButton("Tải lên", new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" }, { "style", "margin-left: 5px;" } }, "button", "OnImportButtonClick()", "btn btn-info btn-icon btn-icon-upload btn-round")
                </div>
            </div>
        </div>
    </div>
<div class="Clear"></div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewData[SMAS.Web.Areas.ImportTeacherArea.ImportTeacherConstants.ROLE]' == 'False') {
            $(".btnUploaderCss").hide();
        } else {
            $(".btnUploaderCss").show();
        }
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled', 'disabled');
            $('#btImport').addClass('t-state-disabled');
            $("#txtFilePath").val("");
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize <= 10*1024) {
                        return true;
                    }
                    smas.alert("Dung lượng file excel không được lớn hơn 10MB");
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng");
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });

        hideUploadButton();
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();

            hideUploadButton();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess(e) {

        if (e.response != null) {
            if (e.response.Type == "RoleError") {
                smas.alert({ Message: e.response.Message, Type: "error" })
            } else {
        $(".btnSubmitImportExcel").click();
    }
        }
    }

    function CreateSuccess(data) {
        smas.hideProcessingDialog();
        if (data.Type == '@JsonMessage.SUCCESS') {
            smas.alert(data.Message);            
            setTimeout('smas.redirect(\'@Url.Action("Index", "ImportTeacher")\')', 4000);
        }
        else
            if (data.Type == '@JsonMessage.ERROR') {
                formUtils.resetForm("SelectImport");
                smas.openDialog("SelectImport", "", {});
            }
            else {
                smas.alert(data.success);
            }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        $('#txtFilePath').val(stringUtils.HtmlDecode('@Res.Get("Common_Label_NoFileSelect")'));
    }
    function OnImportError(e) {
        smas.hideProcessingDialog();
        smas.alert(e);
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>

<style>
    .btnUploaderCss span {
        /*padding-right: 20px;*/
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected {
        display: none;
    }

    .t-dropzone {
        margin-left: 0px;
        margin-top: -6px;

    }

    #frmDownloadFile {
        margin-left: 320px;
    }
</style>
