﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SupervisingDeptArea.Models
@model SupervisingDeptViewModel
@using (Ajax.BeginForm("CreateSub",
                       "SupervisingDept",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSubSDSuccess",
                           OnFailure = "CreateSubSDFail"
                       },
                       new { id = "frmCreateSub" }
                       ))
{
    
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()

            @Html.Partial("_CreateOrEditSub")
        </div>
        <div class="vt-EditorPanel-Button">
            <div class="dialog-buttons">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreateSub')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createSubDialog');search();", "btn btn-info btn-round btn-icon btn-icon-save")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function CreateSubSDSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            //            formUtils.resetForm("frmCreateSub");
            //            formUtils.focusForm("frmCreateSub");
            setTimeout('smas.closeDialog("createSubDialog");', 500);
            LoadTreeView();
            search();
        }
    }

    function CreateSubSDFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }

    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmCreateSub"));
    });
</script>
