﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SupervisingDeptArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Constants
@model SMAS.Web.Areas.SupervisingDeptArea.Models.SupervisingDeptViewModel

@{
    GlobalInfo GlobalInfo = new GlobalInfo();
    var IsAdmin = GlobalInfo.IsSystemAdmin;
    var IsSuper = GlobalInfo.IsSuperVisingDeptRole;
    bool check = true;
    if (Model != null && Model.SupervisingDeptID != 0)
    {
        check = false;
    }
    int count = Model != null ? 1 : 0;
    
}

<fieldset>
    <legend>@Res.Get("SupervisingDept_Label_Property")</legend>
    @{
        //Truong hop the moi
        if (Model == null) 
        {
            if (IsAdmin == true && IsSuper == false)
            {
                <label class="custom-radio-button">
                     @Html.ViettelLabel(Res.Get("SupervisingDept_UnitType_SubSuperDept"))
                     @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "1", new Dictionary<string, object> { { "disabled", "disabled" } })
                    <span class="checkmark"></span>
                </label>
        
                <label class="custom-radio-button">
                    @Html.ViettelLabel(Res.Get("SupervisingDept_Label_SupervisingDept"))
                     @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "2", new Dictionary<string, object> { { "onclick", "AjaxLoadParentDept()" },{"checked","checked"} })
                    <span class="checkmark"></span>
                </label>
            }
                else if (IsAdmin == false && IsSuper == true)
                    {
                        <label class="custom-radio-button">
                            @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "1", new Dictionary<string, object> { { "onclick", "AjaxLoadParentDept()" } })
                            @Html.ViettelLabel(Res.Get("SupervisingDept_UnitType_SubSuperDept"))
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio-button">
                             @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "2", new Dictionary<string, object> { { "onclick", "AjaxLoadParentDept()" },{"checked","checked"} })
                             @Html.ViettelLabel(Res.Get("SupervisingDept_Label_SupervisingDept"))
                            <span class="checkmark"></span>
                        </label>
                    }
        }
        // Truong hop edit
        else 
        {
            if (Model.rdoSubSuper == 1)
            {   
                <label class="custom-radio-button">
                    @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "1")
                    @Html.ViettelLabel(Res.Get("SupervisingDept_UnitType_SubSuperDept"))
                    <span class="checkmark"></span>
                </label>
                
                <label class="custom-radio-button">
                    @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "2", new Dictionary<string, object> { { "disabled", "disabled" } })
                    @Html.ViettelLabel(Res.Get("SupervisingDept_Label_SupervisingDept"))
                    <span class="checkmark"></span>
                </label>
            }
            else
            {
                <label class="custom-radio-button">
                    @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "1", new Dictionary<string, object> { { "disabled", "disabled" } })
                    @Html.ViettelLabel(Res.Get("SupervisingDept_UnitType_SubSuperDept"))
                    <span class="checkmark"></span>
                </label>
        
                <label class="custom-radio-button">
                    @Html.ViettelRadioButtonFor(m => m.rdoSubSuper, "2")
                    @Html.ViettelLabel(Res.Get("SupervisingDept_Label_SupervisingDept"))
                    <span class="checkmark"></span>
                </label>
            }
        }
    }
</fieldset>
<table border="0" class="supervising-dept-create-or-edit">
    <tr>
        <td width="50%">
            @Html.ViettelEditorFor(o => o.SupervisingDeptCode)
        </td>
        <td>
            @Html.ViettelEditorFor(model => model.SupervisingDeptName)
        </td>
    </tr>
    <tr>
        <td>
            @{
                if (IsAdmin == true && IsSuper == false)
                {
                @Html.ViettelComboboxFor(o => o.UnitType, Res.Get("SupervisingDept_Label_UnitType"),
           (SelectList)ViewData[SupervisingDeptConstants.LST_UNIT_TYPE],
                    GlobalConstants.NO_PLACEHOLDER,
                    new Dictionary<string, object> { { "OnChange", "AjaxLoadParentDept()" }, { ((Model != null && Model.VisUnitType != null && Model.VisUnitType.Value) ? "disabled" : "true"), "" } }, true)
                }
                if (IsAdmin == false && IsSuper == true)
                {
                @Html.ViettelComboboxFor(o => o.ProvinceID, Res.Get("SupervisingDept_Label_Province"),
           new SelectList((IEnumerable<Province>)ViewData[SupervisingDeptConstants.LST_PROVINCE], "ProvinceID", "ProvinceName"),
           GlobalConstants.NO_PLACEHOLDER,
           new Dictionary<string, object> { { "OnChange", "AjaxLoadDistrict(this)" }, { "disabled", "disabled" } }, true)
                }
            }
        </td>
        <td>
            @{
                if (IsAdmin == true && IsSuper == false)
                {
                @Html.ViettelComboboxFor(o => o.ProvinceID, Res.Get("SupervisingDept_Label_Province"),
           new SelectList((IEnumerable<Province>)ViewData[SupervisingDeptConstants.LST_PROVINCE], "ProvinceID", "ProvinceName"),
                    GlobalConstants.NO_PLACEHOLDER,
           new Dictionary<string, object> { { "OnChange", "AjaxLoadDistrict(this)" }}, true)
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            @{
                if (IsAdmin == true && IsSuper == false)
                {
                @Html.ViettelComboboxFor(o => o.ParentID, Res.Get("SupervisingDept_Label_CreateSupervisingDept"),
            new SelectList((IEnumerable<SupervisingDept>)ViewData[SupervisingDeptConstants.LST_PARENT_DEPT], "SupervisingDeptID", "SupervisingDeptName"),
           GlobalConstants.NO_PLACEHOLDER,
                    new Dictionary<string, object> { { ((Model != null && Model.VisUnitType != null && Model.VisUnitType.Value) ? "disabled" : "true"), "" } }, true)
                }
                if (IsAdmin == false && IsSuper == true)
                {
                @Html.ViettelComboboxFor(o => o.ParentID, Res.Get("SupervisingDept_Label_CreateSupervisingDept"),
            new SelectList((IEnumerable<SupervisingDept>)ViewData[SupervisingDeptConstants.LST_PARENT_DEPT], "SupervisingDeptID", "SupervisingDeptName"),
                               GlobalConstants.NO_PLACEHOLDER,
                    new Dictionary<string, object> { { ((Model != null && Model.VisUnitType != null && Model.VisUnitType.Value) ? "disabled" : "true"), "" } }, true)
                }
            }
        </td>
        <td>
            @Html.ViettelComboboxFor(o => o.DistrictID, Res.Get("SupervisingDept_Label_District"),
           new SelectList((IEnumerable<District>)ViewData[SupervisingDeptConstants.LST_DISTRICT], "DistrictID", "DistrictName"),
                    GlobalConstants.NO_PLACEHOLDER,
           new Dictionary<string, object> {{"style","width:98%;"}}, true)
            @Html.Hidden("DistrictID2", 0)
            @Html.Hidden("ProvinceID2", 0)
        </td>
    </tr>
    <tr>
        <td>
            <div class="Address">
                @Html.ViettelTextboxFor(model => model.Address, Res.Get("SupervisingDept_Label_Address"), new Dictionary<string, object>(), true, false, false)
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ViettelTextboxFor(model => model.Telephone, Res.Get("SupervisingDept_Label_Telephone"), new Dictionary<string, object>(), true, false, false)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td >
            <div class="Statusdisplay">
                @{
                    if (Model != null && Model.SupervisingDeptID > 0)
                    {
                    @Html.ViettelEditorFor(model => model.UserName, new Dictionary<string, object>() { { "class", "Statusdisplay" } }, false, true)
                    }
                    else
                    {
                    @Html.ViettelEditorFor(model => model.UserName, new Dictionary<string, object>() { { "class", "Statusdisplay" } }, false, false)            
                    }
                }
            </div>
        </td>
        <td style="position:relative">
            <div class="Statusdisplay checkbox-status">
                <label class="custom-checkbox">
                    Kích hoạt tài khoản
                    <input class="check-box" data-val="true" data-val-required="The K&amp;#237;ch hoạt t&amp;#224;i khoản field is required." id="ActiveAccount" name="ActiveAccount" type="checkbox" value="true">
                    <input name="ActiveAccount" type="hidden" value="false">
                    <span class="field-validation-valid" data-valmsg-for="ActiveAccount" data-valmsg-replace="true"></span>
                    <span class="checkmark"></span>
                </label>
                
                @*@Html.ViettelEditorFor(model => model.ActiveAccount)*@
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="Statusdisplay">
                @{
                    if (Model != null)
                    {
                        
                        <label class="custom-checkbox">
                            Cấp lại mật khẩu
                            <input class="Statusdisplay" onchange="HideShowPassword()" data-val="true" data-val-required="The Cấp lại mật khẩu field is required." id="GetPassword" name="GetPassword" type="checkbox" value="true" >
                            <input class="Statusdisplay" onchange="HideShowPassword()" name="GetPassword" type="hidden" value="false" style="display: block;">
                            <span class="field-validation-valid" data-valmsg-for="GetPassword" data-valmsg-replace="true"></span>
                            <span class="checkmark"></span>
                        </label>
                        //@Html.ViettelEditorFor(model => model.GetPassword, new Dictionary<string, object> { { "class", "Statusdisplay" },{"onchange","HideShowPassword()"} }, false, false)
                    }
                }
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class ="Statusdisplay Passwordc">
                @{
                    if (Model != null)
                    {
                        @Html.ViettelTextboxFor(model => model.Password, Res.Get("UserAccountProfile_Label_NewPassWord"), new Dictionary<string, object> { { "class", "Statusdisplay" } }, true)
                    }
                    else
                    {
                        @Html.ViettelTextboxFor(model => model.Password, Res.Get("UserLogin_Label_Password"), new Dictionary<string, object> { { "class", "Statusdisplay" } }, true, false, true)
                    }
                    
                }
            </div>
        </td>
        <td>
            <div class ="Statusdisplay Passwordc">
            @{
                if (Model != null)
                {
                    @Html.ViettelTextboxFor(model => model.ConfirmChangePassword, Res.Get("ConfirmPassword"), new Dictionary<string, object> { { "class", "Statusdisplay" } }, true) 
                }
                else
                {
                    @Html.ViettelTextboxFor(model => model.ConfirmChangePassword, Res.Get("ConfirmPassword"), new Dictionary<string, object> { { "class", "Statusdisplay" } }, true, false, true) 
                }
                
            }
            </div>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td>
            <div class ="Statusdisplay Passwordc mg-b-10">
                <span class="descriptions">Mật khẩu phải có tối thiểu 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt. Ví dụ: Cphong@1217</span>
            </div>
        </td>
        <td></td>
    </tr>
    @{
        if (IsAdmin == true || IsSuper == true)
        {
        <tr>
            <td>
                <div class="Statusdisplay">
                    @Html.ViettelComboboxFor(p => p.IsActiveSMAS, Res.Get("SupervisingDept_Label_ActiveSMAS"),
           (SelectList)ViewData["SMAS"],
                    GlobalConstants.NO_PLACEHOLDER,
                              new Dictionary<string, object> { { "class", "Statusdisplay" } }, false)
                </div>
            </td>
            <td>
                <div class="Statusdisplay">
                    @Html.ViettelComboboxFor(p => p.SMSActiveType, Res.Get("SupervisingDept_Label_ActiveSMS"),
           (SelectList)ViewData["SMS"],
                    GlobalConstants.NO_PLACEHOLDER,
            new Dictionary<string, object> { { "class", "Statusdisplay" } }, false)
                </div>
            </td>
        </tr>
        }
    }
</table>
<script type="text/javascript">
var checkcb ='@check';
    $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(function () {
        var check = $("[name=rdoSubSuper]:checked").val();
        var DsID = '@(Model != null ? Model.DistrictID : 0)';
        var PrID = '@(Model != null ? Model.ProvinceID : 0)';
        var IsActiveSmas = '@(Model != null ? (Model.IsActiveSMAS != null ? (Model.IsActiveSMAS.Value ? "true" : "false") : "false") : "false")';
            if(checkcb=="False"||checkcb =="false") {
            $("#ProvinceID").attr("disabled",true);
        }
        smas.setSelect("#IsActiveSMAS",IsActiveSmas);
        var UnitType = $("#UnitType").val();
        controlUtils.loadComboBox(
                $("#ParentID")
                , "@Url.Action("AjaxLoadSupervisingDept", "SupervisingDept")"
                , { check: check, UnitType: UnitType, ProvinceID: PrID }
                , null
                , function(){
                var ParentID = @(Model != null ? Model.ParentID : 0);
                    if (ParentID!=0) {
                    smas.setSelect("#frmEdit #ParentID",ParentID);
                }
            }
            );
        var ProvinceID = $("#ProvinceID").val();
        //display username
        if ($("[name=rdoSubSuper]:checked").val() == 1) {
            $(".Statusdisplay").css("display", "none");
            AjaxLoadDistrictForPronvice(
                $("#ProvinceID")
                , 1
                , function(){
                    $(".Statusdisplay input").attr("disabled","");
                    $(".Statusdisplay select").attr("disabled","");
                    $("#frmEdit #UserName").attr("disabled","");
                    if (DsID!=0){            
                        smas.setSelect("#frmEdit #DistrictID",DsID);
                    }
                    $("#DistrictID2").val($("#DistrictID").val());
                });
        }
        else if ($("[name=rdoSubSuper]:checked").val() == 2) {
            $(".Statusdisplay").css("display", "block");
            AjaxLoadDistrictForPronvice(
                $("#ProvinceID")
                , 0
                , function(){
                    $(".Statusdisplay input").removeAttr("disabled");
                    $(".Statusdisplay select").removeAttr("disabled");
                    if ($("#SupervisingDeptID").val()=='0'|| $("#SupervisingDeptID").val()==''|| $("#SupervisingDeptID").val()==null)
                    {
                        $("#GetPassword").attr("disabled","");
                    }
                    $("#frmEdit #UserName").removeAttr("disabled");
                    if (DsID!=0){            
                        smas.setSelect("#frmEdit #DistrictID",DsID);
                    }    
                    $("#DistrictID2").val($("#DistrictID").val());
                    HideShowPassword();
                });
        }
        });
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function AjaxLoadParentDept() {
            var check = $("[name=rdoSubSuper]:checked").val();
            if (check == "1") {
                $("#UserName").attr("disabled", true);
                $('#Password').attr('disabled',true);
                $('#ConfirmChangePassword').attr('disabled',true);
            }
            else {
                $("#UserName").removeAttr("disabled");
                $('#Password').removeAttr('disabled');
                $('#ConfirmChangePassword').removeAttr('disabled');
            }
            var ProvinceID = $("#ProvinceID").val();
            //display username
            if ($("[name=rdoSubSuper]:checked").val() == 1) {
                $(".Statusdisplay").css("display", "none");
                AjaxLoadDistrictForPronvice($("#ProvinceID"),1
                    , function(){
                    $(".Statusdisplay input").attr("disabled","");
                    $(".Statusdisplay select").attr("disabled","");
                    });
            }
            else if ($("[name=rdoSubSuper]:checked").val() == 2) {
                $(".Statusdisplay").css("display", "block");
                AjaxLoadDistrictForPronvice($("#ProvinceID"),0
                    , function(){
                    $(".Statusdisplay input").removeAttr("disabled");
                    $(".Statusdisplay select").removeAttr("disabled");
                    //if ($("#SupervisingDeptID").val()=='0'|| $("#SupervisingDeptID").val()==''|| $("#SupervisingDeptID").val()==null)
                    //{
                    //    $("#Password").attr("disabled","");
                        //    $("#ConfirmChangePassword").attr("disabled","");
                    //}
                    $("#frmEdit #UserName").attr("disabled","");
                    });
            }
            var UnitType = $("#UnitType").val();
            controlUtils.loadComboBox(
                $("#ParentID")
                , '@Url.Action("AjaxLoadSupervisingDept", "SupervisingDept")'
                , { check: check, UnitType: UnitType, ProvinceID: ProvinceID }
                , null
                , function(){
            var PrID = @(Model != null ? Model.ParentID : 0);
                    if (PrID!=0){    
                smas.setSelect("#frmEdit #ParentID",PrID);
        }
        }
            );
        }
    function HideShowPassword() {
        if ('@count' == 1) {
            if ($('#GetPassword').is(':checked')) {
                $('.Passwordc').show();
                $('#Password').removeAttr('disabled');
                $('#ConfirmChangePassword').removeAttr('disabled');
            }
            else {
                $('.Passwordc').hide();
                $('#Password').attr('disabled', 'disabled');
                $('#Password').removeClass('input-validation-error');
                $('#Password').parent().find('.field-validation-error').children().remove();
                $('#ConfirmChangePassword').attr('disabled', 'disabled');
                $('#ConfirmChangePassword').removeClass('input-validation-error');
                $('#ConfirmChangePassword').parent().find('.field-validation-error').children().remove();
            }
        }
        else {
            $('.Passwordc').show();
            $('#Password').removeAttr('disabled');
            $('#ConfirmChangePassword').removeAttr('disabled');
        }
        
    }
</script>
