﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Business.Business
@using SMAS.Web.Areas.ReportInputMonitoringSituationArea
@using SMAS.Web.Areas.ReportInputMonitoringSituationArea.Models
@{
    GlobalInfo globalInfo = new GlobalInfo();
}
@using (Ajax.BeginForm("Search",
                           "ReportInputMonitoringSituation",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "divGridContent",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">        
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            @Html.AntiForgeryToken()
        </div>
        <div style="float: left; width: 35%; margin-top: 5px;">
            <fieldset style="height: 79px; margin-left: 5px;">
                <legend>@Res.Get("Loại thống kê")</legend>
                <div>
                    @(Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> { { "id", "rptReportType" }, { "class", "listrpt" }, {"onchange", "changeReportType(this)"} }, ViewData[ReportInputMonitoringSituationConstants.LS_TYPE] as List<SMAS.VTUtils.HtmlHelpers.ViettelCheckboxList>, true, true, 1))
                </div>
            </fieldset>
        </div>
        <div style="float: left; width: 63%; margin-left: 15px; margin-top: 5px;" id="divCriteria">
            <fieldset style="height: 79px;">
                <legend>@Res.Get("Common_Label_ReportCriteria")</legend>
                <div>                                      
                    @Html.ViettelCombobox(Res.Get("ReportInputMonitoringSituation_Label_District"), "DistrictID"
                                    , new SelectList((IEnumerable<District>)ViewData[ReportInputMonitoringSituationConstants.LS_DISTRICT], "DistrictID", "DistrictName", globalInfo.IsSubSuperVisingDeptRole ? globalInfo.DistrictID : 0)
                                    , globalInfo.IsSubSuperVisingDeptRole ? SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER : SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL
                                    , new Dictionary<string, object>()
                                    , false, false)

                    @Html.ViettelCombobox(Res.Get("ReportInputMonitoringSituation_Label_AcademicYear"), "Year"
                                    , (SelectList)ViewData[ReportInputMonitoringSituationConstants.LS_YEAR]
                                    , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>()
                                    , false, false)

                    @Html.ViettelCombobox(Res.Get("ReportInputMonitoringSituation_Label_EducationLevelID"), "EducationGradeID"
                                    , new SelectList((IEnumerable<ComboObject>)ViewData[ReportInputMonitoringSituationConstants.LS_EDU], "key", "value")
                                    , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>()
                                    , false, false)

                    @Html.ViettelTextbox(Res.Get("ReportInputMonitoringSituation_Label_ReportDate"), "ReportDate", DateTime.Now.ToString("dd/MM/yyyy"), new Dictionary<string, object> { {"style", "width: 184px;"} }, false, true)

@*                    @Html.ViettelDatePicker("ReportDate", Res.Get("ReportInputMonitoringSituation_Label_ReportDate"), DateTime.Now.Date, false, new Dictionary<string, object> { }, "dd/MM/yyyy")                    *@
                </div>
            </fieldset>
        </div>
        <div class="vt-SearchPanel-Button">            
            <input type="submit" class="t-button vt-button-search" value="@Res.Get("SearchRK")" />
            <span id ="button-export" style="visibility:hidden">
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "button", "exportReport()", "", "btnExportExcel")
            </span>
        </div>
    </div>
}