﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportInputMonitoringSituationArea.Models
@using SMAS.Web.Areas.ReportInputMonitoringSituationArea
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers

@{
    ViewBag.Title = Res.Get("ReportInputMonitoringSituation_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo globalInfo = new GlobalInfo();
    bool isDisableProvince = (bool)ViewData[ReportInputMonitoringSituationConstants.DISABLE_PROVINCE];
    bool isDisableDistrict = (bool)ViewData[ReportInputMonitoringSituationConstants.DISABLE_DISTRICT];
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="vt-SearchPanel-Title">Tiêu chí báo cáo</div>
    <div class="vt-SearchPanel-Content">
        @*<div style="float: left; width: 35%;">
            <div id="Report">
                <fieldset>
                    <legend>Loại báo cáo</legend>
                    @Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> {  }, (List<ViettelCheckboxList>)ViewData[ReportInputMonitoringSituationConstants.REPORT_TYPE], false, true)
                </fieldset>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-6">
                @Html.ViettelComboboxFor(u => u.AcademicYearID, Res.Get("AcademicYear_Label_Year"), (SelectList)ViewData[ReportInputMonitoringSituationConstants.LS_YEAR], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                        null, false)
            </div>
            <div class="col-md-6">
                @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[ReportInputMonitoringSituationConstants.LIST_SEMESTER], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                        null, false)
            </div>
            <div class="col-md-6">
                @if (isDisableProvince)
                {
                    @Html.ViettelComboboxFor(u => u.ProvinceID, "Tỉnh/thành", (SelectList)ViewData[ReportInputMonitoringSituationConstants.LIST_PROVINCE], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                                     new Dictionary<string, object> { { "disabled", "disabled" } }, false);
                }
                else
                {
                    @Html.ViettelComboboxFor(u => u.ProvinceID, "Tỉnh/thành", (SelectList)ViewData[ReportInputMonitoringSituationConstants.LIST_PROVINCE], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                                                 new Dictionary<string, object> { { "OnChange", "AjaxLoadDistrict();" } }, false);
            }
            </div>
            <div class="col-md-6">
                 @if (isDisableDistrict)
                {
                    @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("ReportInputMonitoringSituation_Label_District"), (SelectList)ViewData[ReportInputMonitoringSituationConstants.LS_DISTRICT], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                         new Dictionary<string, object> { { "disabled", "disabled" } }, false);
                }
                else
                {
                    @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("ReportInputMonitoringSituation_Label_District"), (SelectList)ViewData[ReportInputMonitoringSituationConstants.LS_DISTRICT],
                                            (globalInfo.IsSuperVisingDeptRole || globalInfo.IsAdmin) ? SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL : SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                                     null, false);
                }
            </div>
            <div class="col-md-6">
                @Html.ViettelComboboxFor(u => u.AppliedLevel, Res.Get("ReportInputMonitoringSituation_Label_EducationLevelID"), (SelectList)ViewData[ReportInputMonitoringSituationConstants.LS_EDU], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER,
                                                                 new Dictionary<string, object> { { "onchange", "ViewTemplate();LoadSemester();" } }, false)
            </div>
        </div>
        
         <span id="Message"></span>
    </div>
   
    <div class="vt-SearchPanel-Button">
        <div class="vt-form-button">
            @Html.ViettelButton("Tổng hợp mới", "button", "CreateReport()", "btn btn-info btn-round", "btnGeneral")
            @Html.ViettelButton("Xuất excel", "button", "ExportReport()", "btn btn-info btn-round btn-icon btn-icon-excel", "btnExport")
        </div>
    </div>

</div>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="margin-left: 37px; height: 500px">
    <iframe id="TemplateId" name="TemplateId" style="width: 100%; height: 100%;"></iframe>
</div>
<script>

    $(document).ready(function () {
        ViewTemplate();
        AjaxLoadDistrict();
    });

    var imageProcessing = '<img src="../../../../Content/images/smas_processing.gif" />';


    function ViewTemplate() {
        var appliedLevel = $("#AppliedLevel").val();
        if (appliedLevel == 1) {
            $('#TemplateId').attr('src', "/HtmlTemplate/TinhHinhNhapLieu/SGD_TH_ThongKeChiTietTinhHinhNhapLieu.htm")
        }
        else if (appliedLevel == 2 || appliedLevel == 3) {
            $('#TemplateId').attr('src', "/HtmlTemplate/TinhHinhNhapLieu/SGD_THPT_ThongKeChiTietTinhHinhNhapLieu .htm")
        }
        else if (appliedLevel == 4 || appliedLevel == 5) {
            $('#TemplateId').attr('src', "/HtmlTemplate/TinhHinhNhapLieu/SGD_NT_ThongKeChiTietTinhHinhNhapLieu.htm")
        }
    }
    function LoadSemester() {
        var appliedLevel = $('#AppliedLevel').val();
        controlUtils.loadComboBox(
                $("#Semester"),
                '@Url.Action("AjaxLoadSemester", "ReportInputMonitoringSituation")',
                    {AppliedLevelID:appliedLevel}, '', smas.hideProcessingDialog
        );
    }
    function AjaxLoadDistrict() {
        var provinceId = $("#ProvinceID").val();

        smas.showProcessingDialog();
        controlUtils.loadComboBox(
            $("#DistrictID"),
            '@Url.Action("AjaxLoadDistrict", "ReportInputMonitoringSituation")',
                { provinceId: provinceId }, 'Tất cả', smas.hideProcessingDialog
    );
    }

    function CreateReport() {
        var reportType = 0;
        $("input[name='ReportType']").each(function () {
            var ischeck = $(this).is(':checked');
            if (ischeck) {
                reportType = $(this).val() * 1;
            }
        });

        var data = new Object();
        data.ReportType = reportType;
        data.Semester = $("#Semester").val();
        data.AcademicYearID = $("#AcademicYearID").val();
        data.AppliedLevel = $("#AppliedLevel").val();
        data.ProvinceID = $("#ProvinceID").val();
        data.DistrictID = ($("#DistrictID").val() == null) ? 0 : $("#DistrictID").val();
        if ($("#AcademicYearID").val() == null || $("#AcademicYearID").val() == '') {
            return smas.alertColor('Năm học chưa được khai báo.', 'red');
        }

        $.ajax({
            url: '@Url.Action("CreatedReport", "ReportInputMonitoringSituation")',
            type: 'post',
            data: data,
            beforeSend: function () {
                $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                $("#btnGeneral").attr("disabled", "disabled");
                $("#btnExport").attr("disabled", "disabled");
            },
            success: function (data) {
                if (data.Type == "success") {
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    $("#btnGeneral").removeAttr("disabled");
                    $("#btnExport").removeAttr("disabled");
                } else {
                    $('#Message').html("Lỗi tổng hợp báo cáo xin F5 để thử lại.");
                    $("#btnGeneral").attr("disabled", "disabled");
                    $("#btnExport").attr("disabled", "disabled");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function ExportReport() {
        var reportType = 0;
        $("input[name='ReportType']").each(function () {
            var ischeck = $(this).is(':checked');
            if (ischeck) {
                reportType = $(this).val() * 1;
            }
        });
        var ReportType = reportType;
        var Semester = $("#Semester").val();
        var AcademicYearID = $("#AcademicYearID").val();
        var AppliedLevel = $("#AppliedLevel").val();
        var ProvinceID = $("#ProvinceID").val();
        var DistrictID = $("#DistrictID").val();
        if ($("#AcademicYearID").val() == null || $("#AcademicYearID").val() == '') {
            return smas.alertColor('Năm học chưa được khai báo.', 'red');
        }

        if (DistrictID == "") {
            DistrictID = 0;
        }
        var downloadUrl = '@Url.Action("ExportReport", "ReportInputMonitoringSituation")';
        downloadUrl += '?reportType=' + ReportType;
        downloadUrl += '&year=' + AcademicYearID;
        downloadUrl += '&semester=' + Semester;
        downloadUrl += '&appliedLevel=' + AppliedLevel;
        downloadUrl += '&provinceID=' + ProvinceID;
        downloadUrl += '&districtID=' + DistrictID;

        window.open(downloadUrl);
    }
</script>
