@model SearchViewModel		
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.BookMarkRecordArea.Models
@using SMAS.Web.Areas.BookMarkRecordArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
<table>
    <tr>
        <td style="width: 20%;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_Semester")</legend>
                @(Html.ViettelRadioBox("rptSemester", "", new Dictionary<string, object> { { "onclick", "clickSemester(this);" } }, ViewData[BookMarkRecordConstants.LIST_SEMESTER] as List<ViettelCheckboxList>, true))
            </fieldset>
        </td>
        <td style="width: 5%;">
        </td>
        <td style="width: 75%;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_EducationLevel")</legend>
                @(Html.ViettelRadioBox("rptEducationLevel", "", new Dictionary<string, object> { { "onclick", "AjaxLoadClass(this);" } }, ViewData[BookMarkRecordConstants.LIST_EDUCATIONLEVEL] as List<ViettelCheckboxList>, true))
            </fieldset>
        </td>
    </tr>
</table>
<div id="ClassPanel">
    @Html.Partial("_ClassPanel")
</div>
<input type="hidden" name="classid" id="classid" value="0" />
<div id="SubjectPanel">
</div>
@Html.ViettelHidden("HidClassProfileID")
<input type="submit" id="btnSubmitFormExport" style="display: none;" />
<script type="text/javascript">

    $(document).ready(function () {
        // load lai trang nhung van chon dung lop cua khoi
        var rptEducationLevel = $('input[name=rptEducationLevel]');
        var idEducationLevel = rptEducationLevel.filter(':checked').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadClass", "BookMarkRecord")',
            type: 'post',
            data: { idEducationLevel: idEducationLevel },
            success: function (msg) {
                $("#ClassPanel").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    });

    function clickSemester(rptSemester) {
        $("#btnImportMark").attr("disabled", true);
        $("#btnImportMark").addClass('t-state-disabled');
//        $("#btnExportMark").attr("disabled", true);
//        $("#btnExportMark").addClass('t-state-disabled');
        var idSemester = $('[name=rptSemester]:checked').val();
        $("#chkEntryMark").attr("checked", false);
        AjaxLoadSubject();
    }

    //neu co rptClass thi duoc goi tu su kien button class click. Neu khong thi goi tu ham clickSemester()
    function AjaxLoadSubject(rptClass) {
        $("#btnImportMark").attr("disabled", true);
        $("#btnImportMark").addClass('t-state-disabled');
//        $("#btnExportMark").attr("disabled", true);
//        $("#btnExportMark").addClass('t-state-disabled');
        $("#lstBookMarkRecord").html("");
        $("#SubjectPanel").html("");

        idClassProfile = 0;
        var idSemester = $('[name=rptSemester]:checked').val();
        if (rptClass) { //button class click
            $("#fclass input[type=button]").removeAttr('disabled');
            $("#fclass input[type=button]").removeClass('t-state-disabled');

            var idClassProfile = $(rptClass).attr('id');
            $("#HidClassProfileID").val(idClassProfile);
            $(rptClass).attr('disabled', true);
            $(rptClass).addClass('t-state-disabled');
        } else {
            idClassProfile = $("#HidClassProfileID").val();
        }
        if (idClassProfile && idClassProfile > 0) {
            $.ajax({
                url: '@Url.Action("AjaxLoadSubject", "BookMarkRecord")',
                type: 'post',
                data: { idClassProfile: idClassProfile, idSemester: idSemester },
                success: function (msg) {
                    $("#SubjectPanel").html(msg);
                    $("input[name='rptSubject']:first").attr("checked", "checked");
                    AjaxLoadGrid();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }

    function AjaxLoadClass(rptEducationLevel) {// thuc hien su kien onchang cho radiobutton khoi hoc
        $("#btnImportMark").attr("disabled", true);
        $("#btnImportMark").addClass('t-state-disabled');
//        $("#btnExportMark").attr("disabled", true);
//        $("#btnExportMark").addClass('t-state-disabled');
        frmId = $(rptEducationLevel).closest('form').get(0).id;
        var idEducationLevel = $(rptEducationLevel).val();
        $.ajax({
            url: '@Url.Action("AjaxLoadClass", "BookMarkRecord")',
            type: 'post',
            data: { idEducationLevel: idEducationLevel },
            success: function (msg) {
                $("#ClassPanel").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }


</script>
