﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.BookMarkRecordArea.Models
@using SMAS.Web.Areas.BookMarkRecordArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@{
    ViewBag.Title = Res.Get("BookMarkRecord_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Create",
                           "BookMarkRecord",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div>
    </div>
    <div id="lstBookMarkRecord" style="display: none;">
        @Html.Partial("_List")
    </div> 
}
<script type="text/javascript">
    function CreateSuccess(msg) {
        $("#chkEntryMark").attr("checked", false);
        AjaxLoadGrid();
    }

    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>

@(Html.Telerik().Window()
                .Name("ChooseActionDialog")
                .Title(Res.Get("Common_Label_ChooseAction"))
                .Content(@<text><div id="ChooseActionDialogContent">@Html.Partial("_ChooseAction")</div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(850)
                .Height(450)
                .Resizable(u => u.Enabled(true))
        //.ClientEvents(o=>o.OnClose("onCloseChooseActionDialog"))
       )

@(Html.Telerik().Window()
                .Name("ViewErrorImport")
                .Title(Res.Get("Common_Label_ChooseAction"))
                .Content(@<text>@Html.Partial("_ViewError")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(850)
                .Height(450)
                .Resizable(u => u.Enabled(true))        
       )