@model HeadTeacherSubstitutionViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HeadTeacherSubstitutionArea.Models

@using (Ajax.BeginForm("Create",
                       "HeadTeacherSubstitution", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail",
                           //Confirm = Res.Get("HeadTeacherSubstitution_Confirm_Insert")
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="frmCreate" class="vt-EditorPanel vt-EditorPanel-1 head-teacher-sub-page-popup">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.Partial("_CreatePartial", Model)
        </div>
        <div class="vt-EditorPanel-Button mg-b-10">
            <input type="submit" class="btn btn-info btn-icon btn-round btn-icon-save" value="@Res.Get("Common_Button_Save")" onclick="if (!validateUtils.validateForm('frmCreate')) return false;"/>
            <input type="button" class="btn btn-basic btn-round" onclick="CloseCreateDialog()" value="@Res.Get("Common_Button_Close")" />
        </div>
    </div>


}
<script type="text/javascript">
    function CloseCreateDialog() {
        smas.closeDialog('createDialog');
        setTimeout("reloadGrid();", 500);

    }
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            var chosenEducation = $("#chosenEducationID").val();
            var item = { "cboEducationLevel": chosenEducation };
            smas.bindTo(item, "createDialog");
            formUtils.focusForm("frmCreate");
            setTimeout("reloadGrid();", 500);
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function reloadGrid() {
        $.ajax({
            url: '@Url.Action("Search", "HeadTeacherSubstitution")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
                $("#lstHeadTeacherSubstitution").html(msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
</script>

