﻿@model HeadTeacherSubstitutionViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.HeadTeacherSubstitutionArea
@using SMAS.Web.Areas.HeadTeacherSubstitutionArea.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants

<div>
    <table>
        <tr>
            <td>
             @Html.ViettelEditorFor(model => model.EducationLevelName, new Dictionary<string, object>()
                     {
                            {"style", "width:302px;"}
                     }, true, true)
            </td>
        </tr>
        <tr>
            <td>
               @Html.ViettelEditorFor(model => model.ClassDisplayName, new Dictionary<string, object>()
                     {
                            {"style", "width:302px;"}
                     }, true, true)
              
            </td>
        </tr>
        <tr>
            <td>
                @Html.ViettelEditorFor(model => model.HeadTeacherFullName, new Dictionary<string, object>()
                     {
                            {"style", "width:302px;"}
                     }, true, true)
            </td>
        </tr>
    </table>
</div>
@Html.Partial("_CreateOrEdit",Model)

