				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HeadTeacherSubstitutionArea.Models

@{
    ViewBag.Title = Res.Get("HeadTeacherSubstitution_System");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstHeadTeacherSubstitution">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("HeadTeacherSubstitution_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .ContentHtmlAttributes(new { style = " min-width:500px;", @class = "head-teacher-sub-page-popup"})
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("HeadTeacherSubstitution_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(490).ContentHtmlAttributes(new { style = " min-width:500px;", @class = "head-teacher-sub-page-popup"})
)

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>

