﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.ExamInputMarkArea.Models
@using SMAS.Web.Areas.ExamInputMarkArea
@using SMAS.Business.BusinessObject

@{
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    ExamSubjectBO firstSubject = (ExamSubjectBO)ViewData[ExamInputMarkConstants.FIRST_SUBJECT];
    ExamRoom firstRoom = (ExamRoom)ViewData[ExamInputMarkConstants.FIRST_ROOM];
    GlobalInfo _global = new GlobalInfo();

    // Lay loai mon tu ViewData
    int isCommenting = ExamInputMarkConstants.SUBJECT_IS_COMMENTING_MARK;
    if (ViewData[ExamInputMarkConstants.SUBJECT_TYPE_IS_COMMENTING] != null)
    {
        isCommenting = (int)ViewData[ExamInputMarkConstants.SUBJECT_TYPE_IS_COMMENTING];
    }

    // Xet dieu kien Vao diem thi
    bool checkCri = false;
    if (ViewData[ExamInputMarkConstants.IS_ANABLE_BUTTON] != null)
    {
        checkCri = (bool)ViewData[ExamInputMarkConstants.IS_ANABLE_BUTTON];
    }
    
    // So luong bai thi tim kiem dc
    int count = 0;
    List<ExamInputMarkViewModel> list = null;
    if (ViewData[ExamInputMarkConstants.LIST_EXAM_INPUT_MARK] != null)
    {
        list = (List<ExamInputMarkViewModel>)ViewData[ExamInputMarkConstants.LIST_EXAM_INPUT_MARK];
        count = list.Count;
    }
}

@using (Ajax.BeginForm("InputMark",
                           "ExamInputMark",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "SaveSuccess",
                               OnFailure = "SaveFail"
                           },
                           new { id = "frmInputMark" }))
{
    <div class="vt-ResultPanel vt-td-edit">
        <div class="vt-ResultPanel-Title" style="text-align:center;">
            @{
                if (firstSubject != null && firstSubject.SubjectID != 0 && firstRoom != null && firstRoom.ExamRoomID != 0)
                {
                    <span id="ExamInputMarkTitleGrid">@string.Format(Res.Get("ExamInputMark_TitleGrid_ExamRoom"), firstSubject.SubjectName.ToUpper(), firstRoom.ExamRoomCode.ToUpper())</span>
                }
            }
            <input name="ExaminationsID" id="ExaminationsID" type="hidden" />
            <input name="ExamGroupID" id="ExamGroupID" type="hidden" />
            <input name="SubjectID" id="SubjectID" type="hidden" />
            <div class="Clear"></div>
        </div>
        @{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<ExamInputMarkViewModel>)ViewData[ExamInputMarkConstants.LIST_EXAM_INPUT_MARK])
        .Name("GridExamInputMark")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

            c.Bound(o => o.ExamineeNumber)
                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(190)
                .HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" });

            c.Template(@<text>
            @{
                if (item.isAbsence != 1)
                {
                    if (isCommenting == ExamInputMarkConstants.SUBJECT_IS_COMMENTING_MARK)
                    {
                        // Truong cap I cho phep nhap diem la so nguyen tu 0 - 9, maxlength la 2 ki tu
                        if (_global.AppliedLevel == ExamInputMarkConstants.TRUONG_CAP_I)
                        {
                            <input type="text" id="@("ExamMark" + item.PupilID)" name="ExamMark" class="markInteger" maxlength="2" value="@item.ExamMarkInput" onblur="@("AfterInputMarkPoint(event, this," + item.PupilID + ", " + item.penalizedMark + ")")" />
                        }
                        // Truong cap II, III cho phep nhap diem la so thap phan co phan thap phan la 1, maxlength la 3 ki tu
                        else
                        {
                            <input type="text" id="@("ExamMark" + item.PupilID)" name="ExamMark" class="markDecimal" maxlength="3" value="@item.ExamMarkInput" onblur="@("AfterInputMarkPoint(event, this," + item.PupilID + ", " + item.penalizedMark + ")")" />
                        }
                    }
                    else if (isCommenting == ExamInputMarkConstants.SUBJECT_IS_COMMENTING_JUDGE)
                    {
                        if (_global.AppliedLevel == ExamInputMarkConstants.TRUONG_CAP_I)
                        {
                            <input type="text" id="@("ExamMark" + item.PupilID)" name="ExamMark" disabled="disabled" />
                        }
                        else
                        {
                            <input type="text" id="@("ExamMark" + item.PupilID)" name="ExamMark" class="comment" onkeyup="InputMarkABC(event, this)" onblur="@("AfterInputMarkComment(event, this," + item.PupilID + ")")" maxlength="2" value="@item.ExamMarkInput" />
                        }
                    }
                }
                else
                {
                    <input type="text" id="@("ExamMark" + item.PupilID)" name="ExamMark" disabled="disabled" />
                }
            }     
            </text>)
            .Title(Res.Get("InputExaminationMark_Label_ExamMark"))
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" });

            c.Template(@<text>
            @{
                if (item.isAbsence != 1)
                {
                    <label id="@("ActualMark" + item.PupilID)" style="color:red;">@item.ActualMarkInput</label>
                    <input type="hidden" name="HiddenActualMark" id="@("HiddenActualMark" + item.PupilID)" value="@item.ActualMarkInput" />
                }
                else
                {
                    <label id="@("ActualMark" + item.PupilID)" style="color:red;"></label>
                }
            }
            </text>)
            .Title(Res.Get("InputExaminationMark_Label_RealMark"))
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" });

            c.Template(@<text>
            @{
                if (item.isAbsence != 1)
                {  
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" class="CheckItem" id='@("CheckPupil" + item.PupilID)' name="CheckPupil" onchange="SelectOne(this)" value="@item.PupilID" />
                    <span class="checkmark"></span>    
                </label>
                    <input type="hidden" name="HiddenPupilID" id="@("HiddenPupilID" + item.PupilID)" value="@item.PupilID" />
                    <input type="hidden" name="HiddenClassID" id="@("HiddenClassID" + item.PupilID)" value="@item.ClassID" />
                }
                else
                {
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" disabled="disabled" />
                    <span class="checkmark"></span>    
                </label>
                }      
            }
            </text>)
            .HeaderTemplate(
            @<text>
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" name="CheckAllPupil" id="CheckAllPupil" onchange="SelectAll(this)" />
                    <span class="checkmark"></span>    
                </label>

            </text>)
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" })
            .ClientTemplate("<#= htmlCheckBox(PupilID) #>")
            .Width(30);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "ExamInputMark"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Selectable()
        .Scrollable(o => o.Height(450))
        .Render();
                      
        }
        <div class="vt-ResultPanel-Footer">
            <div class="vt-ResultPanel-Footer-Left">
            @{
                
    // Button Export
    if (isCommenting == ExamInputMarkConstants.SUBJECT_IS_COMMENTING_MARK)
    {
        if (count > 0)
        {
                        <input type="button" class="t-button" name="ExportExcel" id="ExportExcel" value="@Res.Get("Common_Button_Export")" onclick="Export()" />
        }
    }
    else
    {
        if (_global.AppliedLevel == ExamInputMarkConstants.TRUONG_CAP_I)
        {
                        <input type="button" class="t-button t-state-disabled" name="ExportExcel" id="ExportExcel" value="@Res.Get("Common_Button_Export")" onclick="Export()" disabled="disabled" />
        }
        else if (count > 0)
        {
                        <input type="button" class="t-button" name="ExportExcel" id="ExportExcel" value="@Res.Get("Common_Button_Export")" onclick="Export()" />
        }
    }

    // Button Import
    if (isCommenting == ExamInputMarkConstants.SUBJECT_IS_COMMENTING_MARK)
    {
        if (count > 0 && checkCri)
        {
                        <input type="button" class="t-button" name="ImportExcel" id="ImportExcel" value="@Res.Get("Common_Button_Import")" onclick="Import()" />
        }
    }
    else
    {
        if (_global.AppliedLevel == ExamInputMarkConstants.TRUONG_CAP_I)
        {
                        <input type="button" class="t-button t-state-disabled" name="ImportExcel" id="ImportExcel" value="@Res.Get("Common_Button_Import")" onclick="Import()" disabled="disabled" />
        }
        else if (count > 0 && checkCri)
        {
                        <input type="button" class="t-button" name="ImportExcel" id="ImportExcel" value="@Res.Get("Common_Button_Import")" onclick="Import()" />
        }
    }

            } 
            </div>
            <div class="vt-ResultPanel-Footer-Right">
            @{
    if (isCommenting == ExamInputMarkConstants.SUBJECT_IS_COMMENTING_MARK)
    {
                    <input type="submit" class="btn btn-info btn-icon btn-round btn-icon-save t-state-disabled" name="Save" id="Save" value="@Res.Get("Common_Button_Save")" disabled="disabled" />
    }
    else
    {
        if (_global.AppliedLevel == ExamInputMarkConstants.TRUONG_CAP_I)
        {
                        <input type="submit" class="btn btn-info btn-icon btn-round btn-icon-save t-state-disabled" name="Save" id="Save" value="@Res.Get("Common_Button_Save")" disabled="disabled" />
        }
        else
        {
                        <input type="submit" class="btn btn-info btn-icon btn-round btn-icon-save t-state-disabled" name="Save" id="Save" value="@Res.Get("Common_Button_Save")" disabled="disabled" />
        }
    }
            } 
            </div>
            <div class="Clear"></div>
        </div>
    </div>
}
<script type="text/javascript">
    controlUtils.AddMoveButtonEvent("#ListInputMark");

    function CheckButtonSave() {
        var countCheckItem = 0;
        $('.CheckItem').each(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                countCheckItem++;
            }
        });

        var count = '@count';
        var isEnable = '@checkCri';
        var isComment = '@isCommenting';
        var appliedLevel = '@_global.AppliedLevel';
        /*alert(isEnable + " --- " + countCheckItem);*/

        if (isComment == 0) { // Mon tinh diem 
            if (isEnable == 'True' && count > 0 && countCheckItem > 0) {
                $("#ListInputMark #Save").removeAttr("disabled");
                $("#ListInputMark #Save").attr("class", "t-button");
            }
            else {
                $("#ListInputMark #Save").attr("disabled", "disabled");
                $("#ListInputMark #Save").attr("class", "t-button t-state-disabled");
            }
        }
        else {
            if (appliedLevel == 2 || appliedLevel == 3) { // Cap 2, 3
                if (isEnable == 'True' && count > 0 && countCheckItem > 0) {
                    $("#ListInputMark #Save").removeAttr("disabled");
                    $("#ListInputMark #Save").attr("class", "t-button");
                }
                else {
                    $("#ListInputMark #Save").attr("disabled", "disabled");
                    $("#ListInputMark #Save").attr("class", "t-button t-state-disabled");
                }
            }
        }
    }

    function SelectAll() {
        var checked = $("#CheckAllPupil").is(':checked');

        if (checked) {
            $('.CheckItem').attr("checked", "checked");
        } else {
            $('.CheckItem').removeAttr("checked");
        }
        CheckButtonSave()
    }

    function SelectOne() {
        var numberCheckboxItem = $('.CheckItem').length;
        var countcheckItem = 0;

        $('.CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem == numberCheckboxItem) {
            $("#CheckAllPupil").attr("checked", "checked");
        }
        else {
            $("#CheckAllPupil").removeAttr("checked");
        }
        CheckButtonSave()
    }
</script>