﻿@model ExamInputMarkViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.ExamInputMarkArea.Models
@using SMAS.Web.Areas.ExamInputMarkArea
@using SMAS.Business.BusinessObject

@{
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    ExamCandenceBag firstCandenceBag = (ExamCandenceBag)ViewData[ExamInputMarkConstants.FIRST_CANDENCE_BAG];
    ExamSubjectBO firstSubject = (ExamSubjectBO)ViewData[ExamInputMarkConstants.FIRST_SUBJECT];
}

<div id="InputMarkExamDetachableBag">
    <div class="mg-t-40" id="ListCandenceBag" style="float:left; width:25%;">
        <div class="vt-ResultPanel">
            @{
                Html.Telerik()
                    .Grid((IEnumerable<ExamCandenceBag>)ViewData[ExamInputMarkConstants.LIST_EXAM_CANDENCE_BAG])
                    .Name("GridExamCandenceBag")
                    .Columns(c =>
                    {
                        c.Template(@<text>
                            <input type="hidden" name="HiddenExamCandenceBagID" id="HiddenExamDetachableBagID" value="@item.ExamCandenceBagID" />
                            <span id="ExamCandenceBagCode">@(Res.Get("DetachableHeadBag_Lable_DetachableHead") + " " + item.ExamCandenceBagCode)</span>
                        </text>)
                        .Title(Res.Get("DetachableHeadBag_Lable_DetachableHead"))
                            .HeaderHtmlAttributes(new { style = "text-align:center" })
                            .HtmlAttributes(new { style = "text-align:left; word-wrap: break-word;" }).Width(90);
                    })
                    .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("SearchDetachable", "ExamInputMark"))
                    .RowAction(row => row.Selected = row.DataItem.ExamCandenceBagID == firstCandenceBag.ExamCandenceBagID)
                    .ClientEvents(e => e.OnRowSelect("CandenceBagGrid_OnRowSelect"))
                    .DataKeys(keys => keys.Add(o => o.ExamCandenceBagID))
                    .Scrollable(o => o.Height(483))
                    .Selectable()
                    .Render();
            }
            <div class="vt-ResultPanel-Footer">
                @Html.ViettelCheckBox("getall", null, new Dictionary<string,object>{ {"id", "isGetAll"} }, "Tất cả túi phách", false, false, true)
            </div>
        </div>
    </div>
    <div id="ListInputMark" style="float:right; width:73%;">
        @Html.Partial("_ListInputMarkDetachableBag")
    </div>
    <div class="Clear"></div>
</div>
