﻿@model List<ExamPupilViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamRoomAssignArea
@using SMAS.Web.Areas.ExamRoomAssignArea.Models
@using SMAS.Web.Constants
@{     
 

}
<div class="vt-ResultPanel">

    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("RightGridExamPupil")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= rightLstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.ExamPupilID)
                    .HeaderTemplate("<label class='custom-checkbox p-l-0'><input type='checkbox' id='checkAll' /><span class='checkmark'></span></label>")
                    .Template(@<text>
                    <label class="custom-checkbox p-l-0">
                        <input type='checkbox' class='checkedIds' value='@item.ExamPupilID'/>
                        <span class="checkmark"></span>
                    </label>
                    </text>)
                    .ClientTemplate("<#=FillCheckBox(ExamPupilID)#>")
                    .Width(60)
                    .HtmlAttributes(new { style = "text-align:center" });
                c.Bound(o => o.ExamineeNumber).Sortable(false).HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" }).Width(75);
                c.Bound(o => o.PupilName).Sortable(false).Width(75);
                c.Bound(o => o.BirthDay).Sortable(false).Width(95).HtmlAttributes(new { style = "text-align:center" }); ;
                c.Bound(o => o.ClassDisplayName).Width(50).HtmlAttributes(new { style = "text-align:center" });
                
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("SearchByRoom", "ExamRoomAdjust")
             )
            .DataKeys(keys => keys.Add(o => o.ExamPupilID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(350))
            .Render();
                      
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareCheckBoxState("RightGridExamPupil");
    });
 
</script>