﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LearningResultReportArea
<form id="frmReport">
    <div class="vt-SearchPanel vt-InfoPanel" >
        <div class="vt-SearchPanel-Title">
            @Res.Get("Sổ đánh giá học sinh")
         </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Semester"), "SemesterID",(SelectList)ViewData[LearningResultReportConstants.LIST_SEMESTER]
                                    ,
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                }, false, false))
                </div>
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID",(SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.NO_PLACEHOLDER,
                                    new Dictionary<string, object> { 
                                        {"onchange", "onEducationLevelChange()"}
                                    }, false, false))
                </div>
                <div class="col-md-6">
                     @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID",(SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                            ,
                        GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> {       
                        }, false, false))
                </div>
            </div>
        </div>

        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), new Dictionary<string, object> { {"id","btnExport"} }, "button", "ExportClick()","btn btn-info btn-round btn-icon btn-icon-excel")   
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), new Dictionary<string, object> { {"id","btnExportPDF"} }, "button", "ExportPDFClick()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>
<div id="htmlTemplate">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
        <div class="vt-SearchPanel-Title">
                  @Res.Get("HTML_Pattern_Report")
        </div>
    </div>
    <div>
        <div>
            <iframe style ="width:100%;height:680px;" src="/HtmlTemplate/HS_THCS_SoDanhGiaHS_Lop6A_CN/HS_THCS_SoDanhGiaHS_Lop6A_CN.htm">
            </iframe>    

        </div>       
    </div>
</div>
<div id="reportResult" style="display:none">
    <iframe id="reportFrame" style="height:885px"></iframe>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        onEducationLevelChange();
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    })
    function onEducationLevelChange() {
        var educationLevelID = $("#EducationLevelID").val();
        controlUtils.loadComboBox(
                     $("#ClassID"),
                    '@Url.Action("AjaxLoadClass", "EvaluationBookReport")',
                                { educationLevelID: educationLevelID },
                                '@Res.Get("All")', function () {
                                    if ($('#ClassID').find('option').length > 1) {
                                        $('#btnExport').removeAttr('disabled');
                                        $('#btnExport').removeClass('t-state-disabled');
                                        $('#btnExport').attr('onclick', 'ExportClick()');
                                        $('#btnExportPDF').removeAttr('disabled');
                                        $('#btnExportPDF').removeClass('t-state-disabled');
                                        $('#btnExportPDF').attr('onclick', 'ExportPDFClick()');
                                    }
                                    else {
                                        $('#btnExport').attr('disabled', 'disabled');
                                        $('#btnExport').addClass('t-state-disabled');
                                        $('#btnExport').removeAttr('onclick');
                                        $('#btnExportPDF').attr('disabled', 'disabled');
                                        $('#btnExportPDF').addClass('t-state-disabled');
                                        $('#btnExportPDF').removeAttr('onclick');
                                    }
                                })
    }
    function ExportClick() {
        smas.getReport("frmReport", '@Url.Action("GetEvaluationBookReport", "EvaluationBookReport")',
                     '@Url.Action("GetNewEvaluationBookReport", "EvaluationBookReport")', '@Url.Action("DownloadReport", "EvaluationBookReport")');
    }
    function ExportPDFClick() {
        smas.getReport("frmReport", '@Url.Action("GetEvaluationBookReport", "EvaluationBookReport")',
                     '@Url.Action("GetNewEvaluationBookReport", "EvaluationBookReport")', '@Url.Action("DownloadPDFReport", "EvaluationBookReport")');
    }

</script>