﻿<div id="menu12" >
    <div style="width: 3%; visibility: hidden" class="panner" id="pannerLeft" data-scroll-modifier='-1'>
        <ul style="text-align: center">
            <li style="margin: 0"><a href="javascript:void(0);" style="padding: 0; margin: 0; text-align: center">&#9668;</a></li>
        </ul>
    </div>
    <div style="width: 94%;" id="listSubjectWraper">
    </div>
    <div style="width: 3%;visibility: hidden;" class="panner" id="pannerRight" data-scroll-modifier='1'>
        <ul style="text-align: center">
            <li style="margin: 0"><a href="javascript:void(0);" style="padding: 0; margin: 0; text-align: center">&#9658;</a></li>
        </ul>
    </div>
</div>
<script type ="text/javascript">
    $(document).ready(function () {
        var scrollHandle = 0,
            scrollStep = 5,
            parent = $("#listSubjectWraper");

        //Start the scrolling process
        $(".panner").on("mousedown touchstart", function () {
            var data = $(this).data('scrollModifier'),
                direction = parseInt(data, 10);

            startScrolling(direction, scrollStep);
        });

        //Kill the scrolling
        $(".panner").on("mouseup touchend", function () {
            stopScrolling();
        });

        //Actual handling of the scrolling
        function startScrolling(modifier, step) {
            if (scrollHandle === 0) {
                scrollHandle = setInterval(function () {
                    var newOffset = parent.scrollLeft() + (scrollStep * modifier);

                    parent.scrollLeft(newOffset);
                }, 10);
            }
        };

        function stopScrolling() {
            clearInterval(scrollHandle);
            scrollHandle = 0;
        };

        $('#listSubjectWraper').scroll(function () {
            var $width = $('#listSubjectWraper').outerWidth()
            var $scrollWidth = document.getElementById("listSubjectWraper").scrollWidth;
            var $scrollLeft = $('#listSubjectWraper').scrollLeft();

            if ($scrollWidth - $width === $scrollLeft) {
                $("#pannerRight").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerRight").css('visibility', 'visible');
            }
            if ($scrollLeft === 0) {
                $("#pannerLeft").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerLeft").css('visibility', 'visible');
            }
        });

    });
    function ChoiceSubject(button)
    {
        var subjectID = $(button).attr('value');
        controlUtils.ChangeStyleButton(button);
        var typeID = $('#TypeID').val();
        if (typeID == 1) {
            $('#HiddenPanel #SubjectID').val(subjectID);
        }
        else if (typeID == 2) {
            $('#HiddenPanel #SubjectCapID').val(subjectID);
        }
        else {
            $('#HiddenPanel #SubjectQuaID').val(subjectID);
        }
        $('#lstResult').html('');
        AjaxLoadGrid();
    }
</script>