﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.MenuArea.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MenuArea
@using (Ajax.BeginForm("Delete",
                       "Menu",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DeleteSuccess",
                           OnFailure = "DeleteFail",
                           UpdateTargetId = "treeMenu"
                       },
                       new { id = "frmDelete" }
                       ))
{
    @Html.AntiForgeryToken()

    <div class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            Bạn có chắc muốn xóa chức năng này không?
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Delete"), "submit", "", "btn btn-basic btn-icon btn-icon-times btn-round")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('WindowDelete')", "btn btn-basic btn-round", "")
        </div>
    </div>
}
<script type="text/javascript">
    function DeleteSuccess(msg) {
        smas.alert("Xóa thành công");
        formUtils.resetForm("frmDelete");
        formUtils.focusForm("frmDelete");
    }
    function DeleteFail(ajaxContext) {
        //alert("delete failure");
        smas.alert(ajaxContext.responseText);
    }    
    
</script>
