@model SMAS.Models.Models.Menu
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.VTUtils.Utils
@using SMAS.Web.Areas.MenuArea
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MenuArea.Models
@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("IndexRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="float:right" class="mg-b-10">
    @Html.ViettelButton(Res.Get("Common_Button_Add"), "button", "CreateMenu()", "btn btn-info btn-round btn-icon btn-icon-plus")
</div>
<div id="treeMenu" class="menu-tree-page col-sm-12">
    @Html.Partial("_TreeMenu")
</div>
@(Html.Telerik().Window()
    .Name("createMenu")
    .Title(Res.Get("Common_Button_Add"))
    .Content(@<div id="divCreateMenu">
    </div>)
    .Buttons(buttons => buttons.Close())
    .Draggable(true)
    .Visible(false)
    .Modal(true)
    .Width(750)
    .ContentHtmlAttributes(new { style="min-width: 750px;"})
            .Height(450)
)
<script type="text/javascript">
    $(".editor-field").has("select").addClass("custom-select");
    function CreateMenu() {
        formUtils.resetForm("frmCreate");
        var window = $('#createMenu').data('tWindow');
        window.ajaxRequest("/MenuArea/Menu/Create");
        window.center().open();
    }

    function editBtnClick() {
        var id = $("#menuID").val();
        formUtils.resetForm("frmEdit");
        var window = $('#WindowEdit').data('tWindow');
        window.ajaxRequest("/MenuArea/Menu/Edit", { menuId: id });
        window.center().open();
    }

    function deleteBtnClick() {
        var id = $("#menuID").val();
        var window = $('#WindowDelete').data('tWindow');
        window.ajaxRequest("/MenuArea/Menu/Delete", { menuId: id });
        window.center().open();
    }
    function deleteCancel() {
        var window = $("#WindowDelete").data("tWindow");
        window.close();
    }

    function editCancel() {
        $('#WindowEdit').data('tWindow').center().close();
    }
    function onComplete() {
        $('#WindowEdit').data('tWindow').center().close();
    }
    function Window_onActivate() {
        alert("on activate");
    };

    function WindowEdit_onClose() {
        //$('#WindowEdit').data('tWindow').center().close();
    }
</script>
