﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportApprenticeshipMarkArea.Models

@{
    ViewBag.Title = Res.Get("ReportApprenticeshipMark_List");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ExportExcel", "ReportApprenticeshipMark", FormMethod.Post, new { id = "frmReportApprenticeshipMark" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "", "btnSave")
        </div>
    </div>                  
}



<script type="text/javascript">
    function ExportExcel() {
        var datafrom = $("#frmReportApprenticeshipMark").serialize();
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportApprenticeshipMark")',
            type: 'post',
            data: datafrom,
            beforeSend: function () {
                //smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#NumberOfPupilByTeacher").html(msg);
                //smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
    function AjaxLoadClass(Semester) {
        var Semester = $("#frmReportApprenticeshipMark #Semester").val();
        controlUtils.loadComboBox(
        $("#frmReportApprenticeshipMark #ApprenticeshipClassID"),
        '@Url.Action("GetApprenticeshipClassList", "ReportApprenticeshipMark")',
            { Semester: Semester },
            '@Res.Get("CHOICE")'
        );
    }
    function AjaxLoadSemester(ApprenticeshipClassID) {
        var ApprenticeshipClassID = $("#frmReportApprenticeshipMark #ApprenticeshipClassID").val();
        controlUtils.loadComboBox(
        $("#frmReportApprenticeshipMark #Semester"),
        '@Url.Action("GetSemester", "ReportApprenticeshipMark")',
            { ApprenticeshipClassID: ApprenticeshipClassID },
            '@Res.Get("CHOICE")'
        );
        }

</script>

<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .vt-control{width:30%}#SearchPanel .vt-control .editor-label{width:80px;padding-top:5px;padding-left:40px}#SearchPanel .vt-control .editor-field{margin-left:5px}
</style>
