@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilRankingConductArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.PupilRankingConductArea
@using SMAS.Business.BusinessObject
<style type="text/css">
    .t-grid th td{padding:0!important}.vt-control{width:45%}#fieldsetClass .t-button{margin-right:5px}.editor-label{display:none}
</style>
@{
    ViewBag.Title = Res.Get("PupilRanking_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Save",
                       "PupilRanking",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "UpdateSuccess",
                           OnFailure = "UpdateFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <div id="SearchPanel">
        <table>
            <tr>
                <td width="30%">
                    <fieldset style="width: 90%">
                        <legend>
                            @Res.Get("PupilRanking_Label_Semester")
                        </legend>
                        @Html.ViettelRadioBox("Semester", null, new Dictionary<string, object> { { "OnChange", "Search()" } }, (List<ViettelCheckboxList>)ViewData[PupilRankingConstants.LIST_SEMESTER], false)
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        <legend>
                            @Res.Get("PupilRanking_Label_EducationLevel")
                        </legend>
                        @Html.ViettelRadioBox("EducationLevelID", null, new Dictionary<string, object> { { "OnChange", "AjaxLoadClass(this.value)" } }, (List<ViettelCheckboxList>)ViewData[PupilRankingConstants.LIST_EDUCATIONLEVEL], false)
                    </fieldset>
                </td>
            </tr>
        </table>
        <div id="ListClass">
            @Html.Partial("_ListClass")
        </div>
    </div>

    <div id="lstPupilRanking">
        @{
    var list = (IEnumerable<PupilRankingBO>)ViewData[PupilRankingConstants.LIST_PUPILRANKING];
    if (list != null && list.Count() > 0)
    {
        Html.Partial("_List");

    }
        }
    </div>
    
    <div class="dialog-buttons">
    </div>
}
<script type="text/javascript">

    function Search() {
        ClassID = $("#ClassID").val();
        if (ClassID != "") {
            $("#lstPupilRanking").load(
                '@Url.Action("Search", "PupilRanking")',
                {
                    Semester: $("[name=Semester]:checked").val(),
                    EducationLevelID: $("[name=EducationLevelID]:checked").val(),
                    ClassID: ClassID
                }
            );
        }

        //        var ClassID = $("#ClassID").val();
        //        var SemesterID = $("[name=Semester]:checked").val();
        //        var EducationlevelID = $("[name=EducationLevelID]:checked").val();
        //        if (ClassID > 0 && SemesterID > 0 && EducationlevelID > 0) {
        //            $.ajax({
        //                url: '@Url.Action("Search", "PupilRanking")',
        //                type: 'post',
        //                data: { semesterid: SemesterID, educationlevelid: EducationlevelID, classid: ClassID },
        //                beforeSend: function () {
        //                    smas.showProcessingDialog();
        //                },
        //                success: function (msg) {
        //                    $("#GridPupilRanking").html(msg);
        //                    smas.hideProcessingDialog();
        //                    smas.alert($("#message").val());
        //                },
        //                error: function (XMLHttpRequest, textStatus, errorThrown) {
        //                    smas.alert(XMLHttpRequest.responseText);
        //                }
        //            })
        //        }

    }
    function AjaxLoadClass(EducationLevelID) {
        $("#ListClass").load(
            '@Url.Action("AjaxLoadClass", "PupilRanking")',
            {
                EducationLevelID: EducationLevelID
            }
        );
    }

    function UpdateSuccess(msg) {
        smas.alert(msg);
        ClassID = $("#ClassID").val();
        if (ClassID != "") {
            $("#lstPupilRanking").load(
                '@Url.Action("Search", "PupilRanking")',
                {
                    Semester: $("[name=Semester]:checked").val(),
                    EducationLevelID: $("[name=EducationLevelID]:checked").val(),
                    ClassID: ClassID
                }
            );
        }
    }
    function UpdateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
