﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportChildrenArea
@using SMAS.Web.Areas.ImportChildrenArea.Models
@using (Ajax.BeginForm("Save",
                       "ImportChild",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "GridActionSuccess",
                           OnFailure = "GridActionFail"
                       },
                       new { id = "fromSave" }
                       ))
{
    @Html.AntiForgeryToken();
    GlobalInfo glo = new GlobalInfo();
    //var list = (IEnumerable<ImportChildrenViewModel>)Session[ImportChildrenConstants.LIST_IMPORTED_PUPIL];
    List<ImportChildrenViewModel> list = new List<ImportChildrenViewModel>();
    if (Session[ImportChildrenConstants.LIST_IMPORTED_PUPIL] != null)
    {
        list = (List<ImportChildrenViewModel>)Session[ImportChildrenConstants.LIST_IMPORTED_PUPIL];
    }

    if (list != null && list.Count > 0)
    {
        list = list.Where(i => !i.IsValid).ToList(); // Khong hien thi cac hoc sinh co du lieu hop le
    }

    Html.Telerik()
        .Grid(list)
        .Name("GridImportedPupil")
        .Columns(c =>
        {
            c.Bound(o => o.IndexStr).Title(Res.Get("#")).Width(40);
            c.Bound(o => o.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode")).Width(250);
            c.Bound(o => o.FullName).Title(Res.Get("PupilProfile_Label_FullName")).Width(90);
            c.Bound(o => o.BirthDateStr).Title(Res.Get("PupilProfile_Label_BirthDate")).Width(90);
            c.Bound(o => o.GenreName).Title(Res.Get("PupilProfile_Label_Genre")).Width(90);
            c.Bound(o => o.ClassName).Title(Res.Get("PupilProfile_Label_ClassName")).Width(90);
            c.Bound(o => o.EnrolmentTypeName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("ImportPupil_Label_EnrolmentType"), 2))</text>).Width(90);
            c.Bound(o => o.EnrolmentDateStr).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("ImportPupil_Label_EnrolmentDate"), 2))</text>).Format("{0:dd/MM/yyyy}").Width(90);
            c.Bound(o => o.ProvinceName).Title(Res.Get("PupilProfile_Label_Province")).Width(90);
            c.Bound(o => o.DistrictName).Title(Res.Get("PupilProfile_Label_District")).Width(90);
            c.Bound(o => o.CommuneName).Title(Res.Get("PupilProfile_Label_Commune")).Width(90);
            c.Bound(o => o.VillageName).Title(Res.Get("PupilProfile_Label_Village")).Width(90);
            c.Bound(o => o.StorageNumber).Title(Res.Get("PupilProfile_Label_StorageName")).Width(90);
            c.Bound(o => o.PolicyTargetName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_PolicyTarget"), 2))</text>).Width(90);
            c.Bound(o => o.EthnicName).Title(Res.Get("PupilProfile_Label_Ethnic")).Width(90);
            c.Bound(o => o.ReligionName).Title(Res.Get("PupilProfile_Label_Religion")).Width(90);
            c.Bound(o => o.BirthPlace).Title(Res.Get("PupilProfile_Label_BirthPlace")).Width(150);
            c.Bound(o => o.HomeTown).Title(Res.Get("PupilProfile_Label_HomeTown")).Width(150);
            c.Bound(o => o.PermanentResidentalAddress).Title(Res.Get("PupilProfile_Label_PermanentResidentalAddress")).Width(150);
            c.Bound(o => o.PermanentResidentalAddress).Title(Res.Get("PupilProfile_Label_TempResidentalAddress")).Width(150);
            c.Bound(o => o.Mobile).Title(Res.Get("PupilProfile_Label_Mobile")).Width(90);
            c.Bound(o => o.FatherFullName).Title(Res.Get("PupilProfile_Label_FatherFullName")).Width(90);
            c.Bound(o => o.FatherBirthDateStr).Title(Res.Get("PupilProfile_Label_FatherBirthdateName")).Width(120);
            c.Bound(o => o.FatherJob).Title(Res.Get("PupilProfile_Label_FatherJob")).Width(90);
            c.Bound(o => o.FatherMobile).Title(Res.Get("PupilProfile_Label_FatherMobile")).Width(90);
            c.Bound(o => o.MotherFullName).Title(Res.Get("PupilProfile_Label_MotherFullName")).Width(90);
            c.Bound(o => o.MotherBirthDateStr).Title(Res.Get("PupilProfile_Label_MotherBirthdateName")).Width(120);
            c.Bound(o => o.MotherJob).Title(Res.Get("PupilProfile_Label_MotherJob")).Width(90);
            c.Bound(o => o.MotherMobile).Title(Res.Get("PupilProfile_Label_MotherMobile")).Width(90);
            c.Bound(o => o.BloodTypeName).Title(Res.Get("PupilProfile_Label_BloodType")).Width(90);
            c.Bound(o => o.ProfileStatusName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_ProfileStatus"), 2))</text>).Width(90);
            c.Template(@<text>
    <input type="checkbox" @(item.IsValid ? Html.Raw("checked='checked' ") : Html.Raw("disabled='disabled'")) disabled="disabled" name="pupilcodes" pupilcode="@item.PupilCode" />
                </text>)
            .ClientTemplate("<input type='checkbox'  name='pupilcodes' pupilcode='' disabled='disabled'/>").Title(Res.Get("ImportPupil_Label_IsValid")).Width(50);
            c.Bound(o => o.PupilCodeNew).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("Mã học sinh mới"), 2))</text>).Width(90);
            c.Bound(o => o.ErrorMessage).Title(Res.Get("ImportPupil_Label_ErrorMessage")).Width(600);
        })
        .DataBinding(u => u.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(u => u.Enabled(true).PageSize(10))
        .ClientEvents(u => u.OnRowDataBound("fn_OnRowDataBound"))
        .Scrollable(u => u.Enabled(true).Height(480))
        .DataKeys(keys => keys.Add(o => o.PupilProfileID))
        .Render();
    <div class="dialog-buttons" style="margin-top:8px;">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('fromSave')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "OnCloseClick()", "")
        @Html.ViettelButton(Res.Get("DownloadDataErr_Label_ImportTeacher"), "button", "ExportExcelError()", "")
    </div>
}

<script type="text/javascript">
    function ExportExcelError() {
        var educationLevelID = $("#formImportFile").find("#EducationLevelID").val();
        window.open("@Url.Action("DowloadFileErr", "ImportChildren")?EducationLevelID="+ parseInt(educationLevelID) +"");
    }
</script>