﻿@model ImportChildrenViewModel
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportChildrenArea
@using SMAS.Web.Areas.ImportChildrenArea.Models
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
@using (Ajax.BeginForm("ImportExcel",
                       "ImportChildren",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           //OnBegin = "smas.showProcessingDialog",
                           //OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
{
        @Html.AntiForgeryToken()
          <div style="width:300px; padding-left:34%;"> 
            @(Html.ViettelCombobox(@Res.Get("GoodChildrenTicket_Label_EducationLevel"), "EducationLevelID"
                   , ((IEnumerable<SelectListItem>)ViewData[ImportChildrenConstants.LST_EDUCATIONLEVEL])
        , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER
, new Dictionary<string, object> { { "id", "EducationLevelID" }, { "OnChange", "getID(this.options[this.selectedIndex].value)" } }
        , false, true))
          </div>
            <div style="float:left; padding-left: 21%;">@Res.Get("ImportChildren_Label_ImportChildrenFromExcel") ( <p style="color:Red; display:inline;">*</p>)</div>
            <div style="float:left;width:20%; height:20px;padding-bottom : 10px;">
                @(Html.Telerik().Upload()
              .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async
                .Save("SaveFile", "ImportChildren")
                .AutoUpload(false)
                 ).ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
)
)

            </div>
    <input type="text" id="noFileSelect" value=" @Res.Get("Common_Label_NoFileSelect")" disabled ="disabled" style="width:200px;"/>
  //  <div id="noFileSelect" > @Res.Get("Common_Label_NoFileSelect")</div>
    <div style="clear:both"></div>
    
     @* <div style="padding-left:250px;">
            @Html.ViettelTextbox(Res.Get("Tên File: "), "txtFilePath", null, new Dictionary<string, object>() { {"disabled","true"},{"width","300px"},{"display","none"} }, false,false)
            </div>*@
    <input type="hidden" id="txtFilePath" name="txtFilePath" />
   
           <div style="text-align:center;padding-top:20px;">
           @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
           </div>
    
          @Html.ViettelButton(Res.Get(""), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")  
}
            <div  style="text-align:center;">
                <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "ImportChildren")' method="post"> 
                 <input type="hidden" id="eduID" name="eduID" />
                   @Html.ViettelButton(Res.Get("ImportChildren_Label_DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btnDowloadfile" } }, "submit", "", "")
                   </form>
            </div> 
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnUploaderCss").find('span:first').text('Chọn file').attr("style", "text-align:center");
            // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        });
        var _intervalId;
        function OnSelectImport(e) {
            alert('selected');
            var files = e.files;
            // alert(files[0].name);
            $("#txtFilePath").val(files[0].name);
            $('#noFileSelect').val(files[0].name);
            _intervalId = setInterval("hideUploadButton();", 10);
        }
        function hideUploadButton() {
            // Try and find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Hide it.
                button.css({
                    visibility: 'hidden',
                    position: 'absolute'
                });

                // Terminate the interval.
                clearInterval(_intervalId);

                // Enable the OK button.
               
                $('#btImport').removeAttr('disabled');
                $('#btImport').removeClass('t-state-disabled');
                // $('#noFileSelect').attr('style', 'display:none');
//                var fileName = $("#txtFilePath").val();
//                $('#noFileSelect').val(fileName);
              //  $('#txtFilePath').attr('style', 'display:inline'); 
            } else {
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
            }
        }
        function OnImportUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 3072) {
                            return true;
                        }
                        alert("Dung lượng file excel không được lớn hơn 3MB")
                        e.preventDefault();
                        return false;
                    }
                } else {
                    alert("File không đúng định dạng")
                    $('#btImport').attr('disabled');
                    $('#btImport').addClass('t-state-disabled');
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                if (file.size > 0) {
                    var info = " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function OnImportButtonClick() {
            // Find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Click it.
                button.click();
            }
           // smas.showProcessingDialog();
        }
        function OnImportSuccess(e) {
            if (e.response != null) {
                if (e.response.Type == "error") {
                    smas.alert({ Type: "error", Message: e.response.Message });
                } else {
            $(".btnSubmitImportExcel").click();
                }
            }
           // formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }

        //----------------------
        function CreateSuccess(data) {
            // smas.hideProcessingDialog();
            $('#noFileSelect').val('Không có tệp tin nào được chọn');
        if (data.success == 1) {
              //  setTimeout('smas.closeDialog("importDialog");', 500);
            smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
            
                //DataGrid();
            }
            else
                if (data.success == 0) {
             //       setTimeout('smas.closeDialog("importDialog");', 500);
                    formUtils.resetForm("ViewData");
                   smas.openDialog("ViewData", '@Url.Action("ViewDataImportExcel")', {});
                }
                else {
                    smas.alert(data.success);
                }                 
        }
        function CreateFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }
        function OnImportError(e) {
           // smas.hideProcessingDialog();
           // smas.alert(e);
            //formUtils.resetForm("ImportExcelDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
        function getID(EducationLevelId) {
            $("#eduID").val(EducationLevelId);
        }
    </script>

<style type"text/css">  
    .btnUploaderCss span{padding-right:20px}.t-widget.t-upload.newclass .t-button.t-upload-selected{display:none}.t-dropzone{padding-left:60px;padding-top:0}#GridImportChildren .t-grid-header .t-header{font-weight:700;text-align:center}
</style>
