@model MonitoringBookViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookArea.Models
@using SMAS.Web.Areas.MonitoringBookArea
@using SMAS.Models.Models

@{
    string labelForEducation;
    if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
           || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        labelForEducation = Res.Get("PupilProfile_Label_EducationLevel_MN");
    }
    else
    {
        labelForEducation = Res.Get("MonitoringBook_Label_EducationLevel");
    }
}

@using (Ajax.BeginForm("Edit",
                       "MonitoringBook",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
         
    @*@Html.ViettelEditorForModel()*@
    <div class="row">
        <div class="col-md-6">
            @Html.ViettelDatePicker("MonitoringDate", Res.Get("MonitoringBook_Label_CreateDate"), null, true, new Dictionary<string, object>() { })
        </div>
        <div class="col-md-6">
            @Html.ViettelCombobox(labelForEducation, "EducationLevelID", (SelectList)ViewData[MonitoringBookConstants.LIST_EDUCATIONLEVEL], 1, new Dictionary<string, object>() { {"disabled", "disabled"} }, true, true)
        </div>
        <div class="col-md-6">
            @Html.ViettelCombobox(Res.Get("MonitoringBook_Label_Class"), "ClassID", (SelectList)ViewData[MonitoringBookConstants.LIST_CLASS], 1, new Dictionary<string, object>() { {"disabled","disabled"} }, true, true)
        </div>
        <div class="col-md-6">
            @Html.Partial("_FullNameEdit")
        </div>
        <div class="col-md-6">
            @Html.ViettelTextbox(Res.Get("MonitoringBook_Label_CreateSymptoms"),"Symptoms",null,new Dictionary<string, object>() { },true,false)
        </div>
        <div class="col-md-6">
            @Html.ViettelTextbox(Res.Get("MonitoringBook_Label_CreateSolution"), "Solution", null, new Dictionary<string, object>() { }, true, false)
        </div>
    </div>
    <div class="dialog-buttons text-center">
		@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
		@Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")       
    </div>
    @Html.ViettelHidden("MonitoringBookID")
    @Html.ViettelHidden("ClassID2","0")
}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }

    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    
</script>


