﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookArea.Models
@using SMAS.Web.Areas.MonitoringBookArea
<div class="vt-control">
    <input id="Edit_PupilName" type="hidden" name="Edit_PupilName" value="0"/>
    <div class="editor-label">
        @Res.Get("MonitoringBook_Label_CreateFullName")
        <span style="color: red;">*</span>
    </div>
    <div class="editor-field">
        @(Html.Telerik().AutoComplete()
        .Name("FullNameEdit")
        .Encode(false)
        .BindTo((IEnumerable<string>)ViewData[MonitoringBookConstants.CREATE_FULLNAME])
        .AutoFill(false)
        .HtmlAttributes(new {disabled = "disabled"})
                //.HtmlAttributes(new { style = string.Format("width:{0}px", "200px") })
        .HighlightFirstMatch(true)
                //.ClientEvents(events => events.OnChange("onSelect"))
                //.Value(Model.FullName)
        )
        <span data-valmsg-replace="true" data-valmsg-for="FullNameEdit" class="field-validation-valid"></span>
    </div>
    
</div>
