﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookArea.Models
@using SMAS.Web.Areas.MonitoringBookArea
@{
    ViewBag.Title = Res.Get("MonitoringBook_Label_IndexTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentSectionBtm monitoring-book">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="GenaralInfoSection">
                    @{
                        SearchViewModel model = new SearchViewModel();

                        //model.FirstDayOfSemester = (DateTime)ViewData[MonitoringBookConstants.DateFirstAcad];
                        //model.EndDayOfSemester = (DateTime)ViewData[MonitoringBookConstants.DateEndAcad];
                        //model.FirstDayOfSemester = DateTime.Now.Date;
                        model.FromDate = model.FirstDayOfSemester = (DateTime)ViewData[MonitoringBookConstants.DATEFIRSTACAD];
                        model.ToDate = (DateTime)ViewData[MonitoringBookConstants.DATEENDACAD];
                    }
                    @Html.Partial("_Search", model)
                </div>
                <div id="GridSection">
                    @Html.Partial("_List")
                </div>
                <div class="Clear">
                </div>
            </div>
        </div>
    </div>
</div>
@{
    MonitoringBookViewModel model1 = new MonitoringBookViewModel();

    model1.FirstDayOfSemesterCreate = (DateTime)ViewData[MonitoringBookConstants.DATEFIRSTACAD];
    model1.MonitoringDateForCreate = DateTime.Now.Date;
}
@(Html.Telerik().Window()
                .Name("createDialog")
                    .Title(Res.Get("MonitoringBook_Label_CreateTitle"))
                .Content(@<text>@Html.Partial("_Create", model1)</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(187)
                .ContentHtmlAttributes(new { style = "min-width:760px;", @class = "t-window-content t-content monitoring-book-page-create" })
)
@(Html.Telerik().Window()
                .Name("editDialog")
                    .Title(Res.Get("MonitoringBook_Label_UpdateTitle"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(187)
                .ContentHtmlAttributes(new { style = "min-width:760px;", @class = "t-window-content t-content monitoring-book-page-edit" })
)
@(Html.Telerik().Window()
                .Name("viewDialog")
                    .Title(Res.Get("MonitoringBook_Label_UpdateTitle"))
                .Content(@<text><div id="linkView">
                </div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(560)
                .Height(250)
                .ContentHtmlAttributes(new { style = "min-width:560px;" })
)
<script type="text/javascript">
    $(document).ready(function () {
        var educatioLevel = "@ViewData["EDUCATION_OF_SELECTED_CLASSID"]";
        $("#SearchForm").find("#EducationLevel").val(educatioLevel);
        educatioLevel = $("#SearchForm").find("#EducationLevel").val();
        if (educatioLevel != null && educatioLevel != '' && educatioLevel > 0) {
            controlUtils.loadComboBox(
                $("#SearchForm").find("#Class")
                , '@Url.Action("AjaxLoadClass", "MonitoringBook")'
                , { EducationLevelID: educatioLevel }
                , '@Res.Get("All")'
                , function () {
                    var classid = "@ViewData["SELECTED_CLASSID"]";
                    //alert("classid = " + classid);
                    $("#SearchForm").find("#Class").val(classid);
                }
            );
        }
        //else {
        //    smas.alert('Chưa chọn lớp học');
        //}

    });
            @Html.JsMinify(@<text>
    function GoAction() {
        smas.openDialog('createDialog', "", {});
    }
    function onChangePupilName(e) {
        var text = $(e.currentTarget).val();
        text = text.replaceAll('<span style="display:none;">', '');
        text = text.replaceAll('</span>', '');
        var splitText = text.split('©');
        $(e.currentTarget).val(splitText[0]);
        if (splitText.length > 1) {
            $('input[id="Create_PupilID"]').val(splitText[1]);
        }
    }

    function AjaxLoadClassEdit(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "MonitoringBook")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("All")'
        );
            setTimeout("loadClassID()", 300);
    }

    function loadClassID() {
        if ($("#ClassID2") != 0) {
            var classid = $("#ClassID2").val();
            $("#" + frmId + " #ClassID option").each(function () {
                if ($(this).val() == classid) {

                    $(this).attr("selected", "");
                }

            });
        }
    }

    function AjaxLoadClassCreate(cboEducationLevel) {
        if ($(cboEducationLevel).val() == '') {
            $('#createDialog #ClassID').html('<option value="">[Lựa chọn]</option>');            
            return;
        }
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "MonitoringBook")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("CHOICE")'
            );
        setTimeout(function () {
            $('#createDialog #ClassID option:nth-child(1)').text('[Lựa chọn]');
        }, 200);
    }

    function AjaxClassChange(cbClass) {
        frmId = $(cbClass).closest('form').get(0).id;
        var EducationLevelID = $("#" + frmId + " #EducationLevelID").val();
        var ClassID = $("#" + frmId + " #ClassID").val();
        LoadAutoCompletePupilName(EducationLevelID, ClassID, frmId);
    }

    function LoadAutoCompletePupilName(EducationLevelID, ClassID, frmID) {
        if (frmID == "frmCreate") {
            $.ajax({
                url: '@Url.Action("AjaxLoadPupil", "MonitoringBook")',
                type: 'post',
                data: { EducationLevelID: EducationLevelID, ClassID: ClassID },
                beforeSend: function () {
                    //smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#CreateViewPupilName").html(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }

    @*function AjaxLoadPupil(cboClass) {
        frmId = $(cboClass).closest('form').get(0).id;
        $.ajax({
            url: '@Url.Action("AjaxLoadPupil", "MonitoringBook")',
            type: 'post',
            data: { classID: $(cboClass).val() },
            //data: jsonUtils.serializeObject("frmClassSubjectObject") ,


            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {

                $("#autocomplet").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }*@
    </text>)
</script>
