﻿
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportCapacityStatisticsSecondaryArea.Models
@using SMAS.Web.Areas.ReportCapacityStatisticsSecondaryArea
@using SMAS.Business.BusinessObject

<div class="vt-ResultPanel">
@{
    List<CapacityStatisticsBO> lst = ViewData[ReportCapacityStatisticsSecondaryConstants.LIST_CAPACITYSTATISTIC] as List<CapacityStatisticsBO>;
   
    var index = 1;
    Html.Telerik()
        .Grid(lst)
        .Name("GridEducationLevel")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(15);

            c.Bound(o => o.EducationLevelName).Sortable(true).Width(25).Title(@Res.Get("CapacityStatistics_Label_EducationLevel"));
            c.Bound(o => o.TotalPupil).Sortable(true).Width(50).Title(@Res.Get("CapacityStatistics_Label_TotalPupil"));

            c.Bound(o => o.TotalExcellent).Sortable(true).Width(30).Title(@Res.Get("CapacityStatistics_Label_TotalExcellent"));
            c.Bound(o => o.PercentExcellent).Format("{0:0.##}%").Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_PercentExcellent"));
            c.Bound(o => o.TotalGood).Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_TotalGood"));
            c.Bound(o => o.PercentGood).Format("{0:0.##}%").Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_PercentGood"));
            c.Bound(o => o.TotalNormal).Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_TotalNormal"));
            c.Bound(o => o.PercentNormal).Format("{0:0.##}%").Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_PercentNormal"));
            c.Bound(o => o.TotalWeak).Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_TotalWeak"));
            c.Bound(o => o.PercentWeak).Format("{0:0.##}%").Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_PercentWeak"));
            c.Bound(o => o.TotalPoor).Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_TotalPoor"));
            c.Bound(o => o.PercentPoor).Format("{0:0.##}%").Sortable(true).Width(28).Title(@Res.Get("CapacityStatistics_Label_PercentPoor"));
            c.Bound(o => o.TotalAboveAverage).Sortable(true).Width(32).Title(@Res.Get("CapacityStatistics_Label_TotalAboveAverage"));
            c.Bound(o => o.PercentAboveAverage).Format("{0:0.##}%").Sortable(true).Width(32).Title(@Res.Get("CapacityStatistics_Label_PercentAboveAverage"));
            })
        
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "ReportCapacityStatisticsSecondary")

         )
        .DataKeys(keys => keys.Add(o => o.EducationLevelName))
       
        //.Sortable()
      
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        //.Selectable()
        .Scrollable()
        .Render();
                      
}
  


<div style="text-align:center; padding-top:5px; margin-left:15px;">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button","exportReport()", "")
</div>
      </div>
<script language="javascript">
    function exportReport() {
        window.open("@Url.Action("DownloadReport", "ReportCapacityStatisticsSecondary")"+"?ProcessedReportID="+@ViewData[ReportCapacityStatisticsSecondaryConstants.GRID_REPORT_ID]);
    }
</script>





