﻿@model SurveyViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SurveyArea.Models
@using SMAS.Web.Areas.SurveyArea
@using SMAS.Web.Constants

    @using (Ajax.BeginForm("Create",
                       "Survey",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        <div id="CreateExamGroup" class="vt-EditorPanel vt-EditorPanel-1">
            <div class="vt-EditorPanel-Control">
                @Html.AntiForgeryToken()
                @Html.ViettelEditorFor(model=>model.Title)
                @Html.ViettelEditorFor(model=>model.Content)
                @Html.ViettelEditorFor(model=>model.URL)
                @Html.ViettelEditorFor(model => model.StartDate)
                @Html.ViettelEditorFor(model => model.EndDate)
            </div>

            <div class="vt-EditorPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
            </div>
        </div>
    }

    <script type="text/javascript">
        function CreateSuccess(msg) {
            smas.alert(msg);
            if (msg.Type == "success") {
                formUtils.resetForm("frmCreate");
                setTimeout("smas.closeDialog('createDialog')", 300);
                search();
            }
        }
        function CreateFail(ajaxContext) {
                smas.alert(ajaxContext.responseText);
        }
    </script>
