﻿@model SurveyViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SurveyArea.Models
@using SMAS.Web.Areas.SurveyArea
@using SMAS.Web.Constants

@using (Ajax.BeginForm("Edit",
                       "Survey",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="EditFaultGroup" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorFor(model=>model.Title)
            @Html.ViettelEditorFor(model=>model.Content)
            @Html.ViettelEditorFor(model=>model.URL)
            @Html.ViettelEditorFor(model => model.StartDate)
            @Html.ViettelEditorFor(model => model.EndDate)

            @Html.ViettelHidden("SurveyID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
