﻿@model Survey
@using SMAS.Models.Models
@{
    string url = (string)ViewData["SurveyURL"];
}
<style>
    /* Inset, by Dan Eden */

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.333;
        color: #252323a6; 
        margin-bottom:10px;
        font-family: Roboto;
    }
</style>
<div style="width: 70%; margin: 0 auto">
    <h2 style="">@Model.Content</h2>
    <hr />
    <p>
        <iframe src="@Model.URL" style="width:100%;height:500px"></iframe>
    </p>
</div>
