﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI

@using SMAS.Web.Areas.PupilProfileReportArea
<form id ="frmPupilOfClassReport">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3" id ="PupilOfClassReportID">
     <div class="vt-SearchPanel-Title">
         @Res.Get("Phiếu liên lạc")
     </div>
    <div class="vt-SearchPanel-Content row no-margin">   
        <div class="col-md-6 col-sm-10">
        @Html.ViettelCombobox("Tháng", "Month", (IEnumerable<SelectListItem>)ViewData["listMonth"], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "onchange", "LoadClass();" }}, false, false)  
        </div>
        <div class="col-md-6 col-sm-10">
        @Html.ViettelCombobox(Res.Get("EvaluationDevelopment_Label_EducationLevel_MN"), "EducationLevelID", (IEnumerable<SelectListItem>)ViewData[PupilProfileReportConstants.LIST_EDUCATIONLEVEL], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "onchange", "LoadClass();" }}, false, false)
        </div>
        <div class="col-md-6 col-sm-10">
            @Html.ViettelCombobox(Res.Get("PupilAway_ClassProfile_Label_AllTitle"), "ClassID",  (IEnumerable<SelectListItem>)ViewData["classgroup"], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { {"enable","enable"} }, true, false)
        </div>
    </div>
    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()", "btn btn-info btn-icon btn-round btn-icon-excel")
        @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn btn-info btn-icon btn-round btn-icon-pdf")
    </div>
</div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>

<div style="text-align:center;">     
    <iframe style ="width:100%;height:600px;" src="/HtmlTemplate/Phieu_lien_lac_MG/TRE_MN_Phieulienlac_Mam1.htm">
    </iframe>
</div>

<script>

    $(document).ready(function () {
        $("#ClassID").parent(".editor-field").parent(".vt-control").addClass('custom');
        $('.custom').css('margin', '0');
        $('.btnReport').focus();
    })

    //load Lop
    function LoadClass() {
        var eduId = $("#PupilOfClassReportID #EducationLevelID").val();

        if (eduId > 0) {
            //$('#ClassID').removeAttr('disabled');
            $.ajax({
                url: '@Url.Action("LoadClass", "ChildrenContact")',
                type: 'post',
                data: { eduId: eduId },
                success: function (data) {
                    $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
            } else {
                //$('#ClassID').attr('disabled', 'disabled');
                $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
        }
    }
    function SubmitClick() {
        smas.getReport('frmPupilOfClassReport', '@Url.Action("GetNumberOfClassReport_03", "ChildrenContact")',
        '@Url.Action("GetNewReport", "ChildrenContact")', '@Url.Action("DownloadReport", "ChildrenContact")');
    }
    function SubmitPDFClick() {
        var blank = '_blank';
        smas.getReportDocument('frmPupilOfClassReport', '@Url.Action("GetNumberOfClassReport_03", "ChildrenContact")',
        '@Url.Action("GetNewReport", "ChildrenContact")', '@Url.Action("DownloadPDFReport", "ChildrenContact")', blank);
    }
</script>
