
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ChildrenMoneyPerMonthArea.Models
@using SMAS.Web.Areas.ChildrenMoneyPerMonthArea

@{
    var index = 1;
    Html.Telerik()
        .Grid((IEnumerable<ChildrenMoneyPerMonthViewModel>)ViewData[ChildrenMoneyPerMonthConstants.LIST_CHILDRENMONEYPERMONTH])
        .Name("GridNotEatingChildren")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);	
					
						c.Bound(o => o.PupilCode).Sortable(true);
                        c.Bound(o => o.FullName).Sortable(true);
                        c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").Sortable(true).HtmlAttributes(new { style = "text-align:center" });
                        c.Bound(o => o.GenreName).Sortable(true);
                        c.Bound(o => o.ClassName).Sortable(true);	
						c.Bound(o => o.MonthAndYear).Sortable(true);
                        c.Bound(o => o.NumberEating).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
                        c.Bound(o => o.Cost).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
                        c.Bound(o => o.SumMoneyPerMonth).Sortable(true).HtmlAttributes(new { style = "text-align:right" });					
            
            
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "ChildrenMoneyPerMonth")
                    
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.NotEatingChildrenID))
        .Pageable()
        .Sortable()       
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridNotEatingChildren').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
</script>



