@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ChildrenMoneyPerMonthArea.Models
@using SMAS.Web.Areas.ChildrenMoneyPerMonthArea
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "NotEatingChildren",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstNotEatingChildren",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()
        @Html.ViettelEditorForModel()
        <div class="vt-control MonthAndYear">
            <div class="editor-label">
                <label for="MonthAndYear">
                    @Res.Get("ChildrenMoneyPerMonth_Label_MonthAndYear")
                 </label>
                <span style="color: red;">*</span>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(Model => Model.Month, (SelectList)ViewData[ChildrenMoneyPerMonthConstants.LIST_MONTH], new { style = "width:30%" })
                &nbsp;/&nbsp;
                @Html.DropDownListFor(Model => Model.Year, (SelectList)ViewData[ChildrenMoneyPerMonthConstants.LIST_YEAR], new { style = "width:60%" })
            </div>
        </div>
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    }
</fieldset>
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
