@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ChildrenMoneyPerMonthArea.Models
@{
    ViewBag.Title = Res.Get("ChildrenMoneyPerMonth_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<form id="frmDetail" action='@Url.Action("DownloadReport", "ChildrenMoneyPerMonth")' method="post"> 
<div id="lstNotEatingChildren">
    @Html.Partial("_List")
</div>
<div id="btnExport" style="text-align: right">
    @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "")
</div>
</form>
<script type="text/javascript">
    function AjaxClassLoading(cbo) {
        frmId = $(cbo).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadingClassByEducation", "ChildrenMoneyPerMonth")',
            { EducationLevelId: $(cbo).val() },
            ''
        );
    }

    $(document).ready(function () {
        search();
    });

</script>
<style type="text/css">
    #SearchPanel .vt-control{width:45%;margin-right:10px;margin-left:10px}
</style>
