﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RegistrationContestArea
@using SMAS.Web.Areas.DOETRegistrationContestArea.Models
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject

@{
    
    List<DOETExamSupervisoryBO> listResult = new List<DOETExamSupervisoryBO>();
    if(ViewData[RegistrationSupervisoryConstant.CREATE_LIST_EMPPLOYEE] != null)
    {
        listResult = (List<DOETExamSupervisoryBO>)ViewData[RegistrationSupervisoryConstant.CREATE_LIST_EMPPLOYEE];
    }
    bool isCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];   
}
<div class="vt-ResultPanel">  
    @{
        var index = 1;

        Html.Telerik()
            .Grid(listResult)
            .Name("CrGridExamEmployee")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.EmployeeCode).Title("Mã cán bộ").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(150);
                c.Bound(o => o.FullName).Title("Họ và tên");
                c.Bound(o => o.BirthDay).Format("{0:dd/MM/yyyy}").Title("Ngày sinh").HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Bound(o => o.GenreName).Title("Giới tinh").HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Template(@<text>
                     @{
                         if (isCreate)
                         {
                            <input type="checkbox" class="csCheckedIds" value ="@item.TeacherID" />
                       }
                     }
                </text>).ClientTemplate("<#= htmlDeleteItemCreate(TeacherID) #>").HeaderTemplate(@<text><input type="checkbox" id="csCheckAll" name="csCheckAll" class="csCheckAll" /> </text>)
                .HtmlAttributes(new { style = "text-align:center" }).Width(50);
            })
            
            .DataKeys(keys => keys.Add(o => o.TeacherID))
            .Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Scrollable(u => u.Height(350))
            .Selectable()
            .Resizable(resize => resize.Columns(false))
            .Render();

    }

    <div class="vt-ResultPanel">
        <div class="vt-ResultPanel-Footer">
            <label id="choosedNum" style="float:left"></label>
            <div class="vt-ResultPanel-Footer-Right">
                @Html.ViettelCheckBox("isGetAll")
                @Html.ViettelLabel("Lấy tất cả danh sách")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "onPopupClose()", "")
                @{
                    if (isCreate)
                    {
                        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "saveExamPupil()", "")
                    }
                }
            </div>
            <div class="Clear">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CsPrepareCheckBoxState();
    });
    function htmlDeleteItemCreate(TeacherID) {
        var html = '';
        if (TeacherID > 0 && '@isCreate' == 'True') {
            html = '<input type="checkbox" class="csCheckedIds" value ="' + TeacherID + '" />';
        }
        return html;
    }

    function CrGrid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#CrGridExamEmployee').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmCreateSearch");
    }

    function CrGrid_onDataBound(e) {
        smas.hideProcessingDialog();
        CsPrepareCheckBoxState();
        var countCheckBox = 0;
        $(".csCheckedIds").each(function () {
            countCheckBox++;
        });
        //Check lai gia tri duoc check
        if (arrIDChecked != null && arrIDChecked.length > 0) {
            var id = '';
            var countcheckedChangepage = 0;
            $(".csCheckedIds").each(function () {
                var valueChecked = $(this).val();
                if (valueChecked > 0) {
                    var filter = arrIDChecked.indexOf('"' + valueChecked + '"');
                    if (filter >= 0) {
                        // ID trung nhau
                        countcheckedChangepage++;
                        $(this).attr("checked", "checked");
                    }
                }
            });
        }
        if (countcheckedChangepage == countCheckBox) {
            $("#csCheckAll").attr("checked", "checked");
        } else {
            $("#csCheckAll").removeAttr("checked");
        }

        var checkedNum = 0;
        if (arrIDChecked != null) checkedNum = unique(arrIDChecked).length;
        $("#choosedNum").html('Tổng số giám thị")'.replace("{0}", checkedNum));

    }

    function unique(list) {
        var result = [];
        $.each(list, function (i, e) {
            if ($.inArray(e, result) == -1 && e != "") result.push(e);
        });
        return result;
    }

    function CsPrepareCheckBoxState() {      
        $('#csCheckAll').click(function () {
            $(this).parents('#CrGridExamEmployee').find(':checkbox').attr('checked', this.checked);
            GetIDByChange();
        });

        $("#CrGridExamEmployee").find('.csCheckedIds').change(function () {

            if ($("#CrGridExamEmployee").find(".csCheckedIds:not(:checked)").length == 0) {
                $('#CrGridExamEmployee #csCheckAll').attr('checked', true);
            }
            else {
                $('#CrGridExamEmployee #csCheckAll').attr('checked', false);
            }
            GetIDByChange()

        });
    }

    function GetIDByChange() {
        //du lieu
        var arrayIDSource = $("#ListIDChecked").val();// Danh sach ID duoc check
        $(".csCheckedIds").each(function () {
            var ischecked = $(this).is(":checked");
            var valueChecked = $(this).val();
            if (ischecked) {
                var filter = arrayIDSource.indexOf(valueChecked);
                if (filter < 0) {
                    //chua ton tai
                    if (valueChecked > 0) {
                        arrayIDSource = arrayIDSource + '"' + valueChecked + '"' + ',';
                    }
                }
            } else {
                var filter = arrayIDSource.indexOf(valueChecked);
                if (filter >= 0) {
                    // remove value duoc check ra khoi array
                    arrayIDSource = arrayIDSource.replace(valueChecked, "");
                }
            }
        });
        arrayIDSource = arrayIDSource.replaceAll('"",', '');
        $("#ListIDChecked").val(arrayIDSource);
        arrIDChecked = arrayIDSource.split(',');

        var checkedNum = 0;
        if (arrIDChecked != null) checkedNum = unique(arrIDChecked).length;
        $("#choosedNum").html('Tổng số giám thị ' + checkedNum);
    }

    function saveExamPupil() {
        var selectedArr = "";
        var examinationsID = $("#frmCreateSearch input[name='CsExaminationsID']").val()
        var employeeType = $("#frmCreateSearch").find("#cCsEmployeeType").val();
        var getAll = 0;
        var listIdSave = $("#ListIDChecked").val();
        if ($("#createDialog").find("#isGetAll").is(':checked')) {
            var getAll = 1;
        }

        $('#GridPupil').find('.csCheckedIds:enabled:checked').each(function () {
            selectedArr += $(this).val() + ",";
        });

        var data = {
            arrayID: listIdSave,
            examinationsId: examinationsID,
            employeeType: employeeType,
            isGetAll: getAll
        };

        smas.post('@Url.Action("Create")', data, function () { $("#ListIDChecked").val(""); arrIDChecked = null; csSearch(); }, null);
        arrIDChecked = null;
    }

</script>