﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RegistrationContestArea
@using SMAS.Web.Constants;
<style>
   .cCsExamGroupID {   
    float: right;
    margin-top: -33px;
    width: 39%;
}
   .cCsExaminationsID {   
    width: 46%;
}
   .cEducationLevelID {  
    clear: right;
    width: 20%;
}
   .cClassID {  
    margin-left: 247px;
    margin-top: -33px;
    width: 20%;
}
   
.cPupilCodeOrName {
    float: right;
    margin-top: -28px;
    width: 42px;
}
    .cEducationLevelID #EducationLevelID {
     margin-left:14px;
    }
    #listData #CrGridExamPupil .t-grid-content {
    height:300px!important;
    }
    #viewDetail {
        padding-left:20px;
        border: 1px solid #c3c3c3;
    }
     #FromDate, #ExamConcil, #Dealline, #ExamNote {
        margin-left:60px;
    }
    #ToDate {
        margin-left:34px;
    }
    #ExaminationName {
        margin-left:75px;
        color:red;
    }
    #titeToDate {
        margin-left:30px;
    }
    #ExaminationName, #FromDate, #ToDate, #ExamConcil, #Dealline, #ExamNote {
        color:red;
    }
    #viewinfoExaminations {
      border:none;
    }
    #ExamNote
    {
        margin-left:88px;
    }
</style>
<div class="registration-supervisory-page">
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Search")
<div id="lstExamPupil">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title("Thêm mới giám thị")
                .Content(@<text>@Html.Partial("_DialogCreate")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(900)
                .Height(551)
)

    </div>
<script>
    var arrIDChecked; 
</script>