﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.SMSEduArea.Constants;
@{
    ViewBag.Title = Res.Get("SMS_History_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasRole = (bool)ViewData[StatisticsCommunicationSupervisingDeptConstants.DATEROLE];
 }
@{
    if (!hasRole)
    {
        <div class="ContentSection">
            <div class="GroupContentSection">
                <div class="TitleTab1SectionBtm" style="padding-left: 5px;">
                    <p>@Res.Get("Message_Notice_Label")</p>
                </div>
                <div class="GeneralInCtnSection">
                    <div class="ContentListSection" style="display: block; padding: 0px;">
                        <p class="GroupPerson" style="text-align: center; margin: 0px;">
                            <span>@Res.Get("NoRoleErrorMessage")</span></p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="lstParentContent" style="padding:4px;">
            <div>
                @Html.Partial("SearchForm")
            </div>
            <div id="ContentGridParentAjax" style="padding-top: 10px;">
            </div>
            <div class="Clear">
            </div>
        </div>
    }
}
<script language="javascript" type="text/javascript">

    function OnClientBinding(e) {
        var flag = false;
        smas.showProcessingDialog();
        var total = $('#Total').val();
        var msgType = $('#msgTypeSelect').val();
        var senderID = $('#idSender').val();
        if (senderID == null || senderID.length == 0) {
            senderID = "";
        }
        if (msgType == null || msgType.length == 0) {
            msgType = 0;
        }
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();

        var grid = $('#gridHistorySMS').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = { FromDate: FromDate, ToDate: ToDate, msgType: msgType, senderID: senderID, total: total };
    }

</script>
