﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExamSubjectArea
@using SMAS.Web.Areas.DOETExamSubjectArea.Models
@{
    bool enabledCreate=(bool)ViewData[DOETExamSubjectConstants.ENABLE_BUTTON_CREATE];
}
<div class="vt-ResultPanel">
        <div class="text-right p-t-10 p-b-10">
        @{
            if(enabledCreate)
            {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", false, "btn btn-info btn-round btn-icon btn-icon-plus")
            }
            else
            {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", true, "btn btn-info btn-round btn-icon btn-icon-plus")
            }
         }
        <input type="submit" style="display:none" />
        <input type="button" value="@Res.Get("Common_Button_Delete")" onclick="PrepareDelete();" class="btn btn-basic btn-round btn-icon btn-icon-times t-state-disabled" id ="btnDelete" disabled ="disabled">
        </div>
@using (Ajax.BeginForm("Delete",
                       "DOETExamSubject",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DeleteSuccess",
                           OnFailure = "DeleteFail"
                       },
                       new { id = "frmDelete" }
                       ))
{
    @Html.ViettelAntiForgeryToken()

    var index = 1;
    var id0 = 0;
    var id1 = 0;
    var id2 = 0;
    string name;
    Html.Telerik()
        .Grid(Model)
        .Name("GridExamSubject")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Bound(o => o.ExamGroupName).Sortable(false).Width(60);
            c.Bound(o => o.SubjectName).Width(80);
            c.Bound(o => o.SubjectCode).Width(60);
            c.Bound(o => o.SchedulesExam).Width(140);
            c.Command(cmd =>
            {

                cmd.Custom("vtEdit")
                    .Text(Res.Get("Common_Column_Edit"))
                    .Ajax(true)
                    .Action("Edit", "DOETExaminations")
                    .ButtonType(GridButtonType.Image)
                    .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" })
                    ;
            }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(50);

            c.Template(@<text>
            @{
                string disabled = "";
                if (item.EnableToEditOrDelete == false)
                {
                    disabled = "disabled";
                }


                name = "lstDeleteViewModel[" + id0++ + "]." + "isCheck";
                <label class="custom-checkbox no-padding">
                    <input type="checkbox" class="GridCheckBox" value="true" name="@name" @disabled/>
                    <span class="checkmark"></span>
                </label>
                
                name = "lstDeleteViewModel[" + id1++ + "]." + "EnableToEditOrDelete";
                <input type="hidden" value="@item.EnableToEditOrDelete" name="@name" />

                name = "lstDeleteViewModel[" + id2++ + "]." + "ExamSubjectID";
                <input type="hidden" value="@item.ExamSubjectID" name="@name" />
                
                }
            </text>)
                .Width(50)
                .HeaderTemplate("<label class='custom-checkbox no-padding'><input type='checkbox' id='chekAll'/><span class='checkmark'></span></label>")
                .HtmlAttributes(new { style = "text-align:center" });
        })
        .RowAction(row =>
        {
            row.HtmlAttributes["class"] = "";
            if (row.DataItem.EnableToEditOrDelete == false)
            {
                row.HtmlAttributes["class"] = "notEdit";
            }

        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "DOETExamSubject")
            )
        .ClientEvents(e => e.OnCommand("Grid_onCommand"))
        .DataKeys(keys => keys.Add(o => o.ExamSubjectID))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Scrollable(u => u.Height(350))
        .Render();
}
</div>

<script type="text/javascript">

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            var examSubjectID=item.ExamSubjectID;
            var data = {
              
                examSubjectID: examSubjectID
            };

            openDialog("editDialog", '@Url.Action("Edit")', data);
        }

    }

    function PrepareCreate() {
        var year = $("#frmSearch #Year").val();
        var examinationsID = $("#frmSearch #ExaminationsID").val();
        var examGroupID = $("#frmSearch #ExamGroupID").val();
        var data = {
            year:year,
            examinationsID: examinationsID,
            examGroupID: examGroupID
        };

        openDialog("createDialog", '@Url.Action("Create")', data);
    }

    $("#GridExamSubject").find(':checkbox').change(function () {
        if ($("#GridExamSubject").find(':checkbox:checked').length > 0) {
            EnableButton("btnDelete");
        }
        else {
            DisableButton("btnDelete");
        }
    });
    function DisableButton(id) {
        $("#" + id).attr("disabled", "disabled").addClass("t-state-disabled");
    }

    function EnableButton(id) {
        $("#" + id).removeAttr("disabled").removeClass("t-state-disabled");
    }
    function PrepareDelete() {
        smas.confirm('@Html.Raw(Res.Get("DOETExamSubject_Message_DeleteConfirm"))', function () {
            $("#frmDelete input[type='submit']").click();
        });
    }
    function DeleteSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            search();
        }
    }
    function DeleteFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function PrepareCheckBoxState() {
        //uncheck checkboxes
        $("#GridExamSubject").find(':checkbox').attr('checked', false);

        $("#GridExamSubject").find("#chekAll").removeAttr("disabled");
        if ($("#GridExamSubject").find(':checkbox:enabled').length == 1) {
            $("#GridExamSubject").find(':checkbox').attr("disabled", "disabled");
        }
        $('#chekAll').click(function () {
            $(this).parents('#GridExamSubject').find(':checkbox:enabled').attr('checked', this.checked);
            $(this).change();
        });
        $("#GridExamSubject").find(':checkbox').change(function () {
            if ($("#GridExamSubject").find(':checkbox:checked').length > 0) {
                EnableButton("btnDelete");
            }
            else {
                DisableButton("btnDelete");
            }

            //Kiem tra check/uncheck checkbox all
            if ($(this).hasClass("GridCheckBox")) {
                if ($("#GridExamSubject").find(".GridCheckBox:enabled:not(:checked)").length == 0) {
                    $('#GridExamSubject #chekAll').attr('checked', true);
                }
                else {
                    $('#GridExamSubject #chekAll').attr('checked', false);
                }
            }
        });
    }

    $(document).ready(function () {
        PrepareCheckBoxState();
        $(".notEdit").find(".t-grid-vtEdit").remove();
    });
</script>
