﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExamSubjectArea.Models

@using (Ajax.BeginForm("Search",
                           "DOETExamSubject",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "listResult",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            @Res.Get("DOETExamSubject_Label_Title")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model=>model.Year)
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExaminationsID)
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExamGroupID)
                </div>
            </div>
        </div>
       <input type="submit" style="display:none" />
    </div>
}

<script>
    function onYearChange() {
        var year = $("#frmSearch").find("#Year").val();
        controlUtils.loadComboBox(
                     $("#ExaminationsID"),
                    '@Url.Action("AjaxLoadExaminations", "DOETExamSubject")',
                                { year: year },
                                '@Res.Get("")', function () { $("#ExaminationsID").change() })
                            }

    function onExaminationsChange() {
        var examinationsID = $("#frmSearch").find("#ExaminationsID").val();
        var data = {examinationsID: examinationsID };
        controlUtils.loadComboBox(
                        $("#ExamGroupID"),
                    '@Url.Action("AjaxLoadExamGroup", "DOETExamSubject")', data,
        '@Res.Get("All")', function () { $("#ExamGroupID").change() });
    }

    function onExamGroupChange() {
        search();
    }

    $(document).ready(function () {
        $("#frmSearch .Year .editor-label").find("span").remove();
    });
</script>