﻿@model SchoolMovementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SchoolMovementArea.Models
@using SMAS.Web.Areas.SchoolMovementArea
@using SMAS.Web.Constants
@using (Ajax.BeginForm("EditSchoolOut",
                       "SchoolMovement",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEditSchoolOut" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHiddenFor(o => o.SchoolMovementID)
    @(Html.ViettelComboboxFor(model => model.EducationLevelID, Res.Get("SchoolMovement_Label_EducationLevel")
                , ((IEnumerable<SelectListItem>)ViewData[SchoolMovementConstants.LST_EDUCATIONLEVEL])
        , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE
, new Dictionary<string, object> { { "id", "cbEducationLevel4" }, { "disabled", "true" } }
        , true))
    @Html.ViettelComboboxFor(model => model.ClassID, Res.Get("SchoolMovement_Label_Class"),
                              (IEnumerable<SelectListItem>)ViewData[SchoolMovementConstants.LS_CBOLDCLASS],
                    GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>()
                     {
                         {"id","cbOldClass4"}, {"disabled","true"}

                     }
                     , true)
    @Html.ViettelComboboxFor(model => model.PupilID, Res.Get("SchoolMovement_Label_Pupil"),
                              (IEnumerable<SelectListItem>)ViewData[SchoolMovementConstants.LS_CBNEWPUPILOFCLASS],
                     GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>()
                     {  {"id","cbPupilOfClass4"}   , {"disabled","true"}
                     }
                     , true)
@(Html.ViettelDatePickerFor(model => model.MovedDate, true, new Dictionary<string, object> { }))
//@Html.ViettelEditorFor(pp => pp.MovedDateOut, new Dictionary<string, object>{ { "id","a1"}})
@*if (Model != null)
{
    @(Html.ViettelDateTimePicker(
                                                           "MovedDateEditOut", Res.Get("SchoolMovement_Label_MovedDate"),
                                    Model.MovedDateEditOut,
                                    true,
                                            new Dictionary<string, object> { { "style", "width: 195px;" } }
                                )
                             )
}*@
    @(Html.ViettelComboboxFor(model => model.Semester, Res.Get("SchoolMovement_Label_Semester"),
                              (IEnumerable<SelectListItem>)ViewData[SchoolMovementConstants.LST_SEMESTER],
                     GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>()
                     {  {"id","cbSemester4"}
                     }
                     , true))
    @(Html.ViettelTextboxFor(model => model.MovedToSchoolName, Res.Get("SchoolMovement_Label_SchoolName"),
    new Dictionary<string, object> { { "width", "100%" } }, true))
    @(Html.ViettelTextboxFor(model => model.MovedToSchoolAddress, Res.Get("SchoolMovement_Label_Address"),
                new Dictionary<string, object> { { "width", "100%" } }, true))
    @(Html.ViettelTextboxFor(model => model.MovedToClassName, Res.Get("SchoolMovement_Label_Class"),
                new Dictionary<string, object> { { "width", "100%" } }, true))
    @(Html.ViettelTextAreaFor(model => model.Description, Res.Get("SchoolMovement_Label_Description"), false, new Dictionary<string, object> { { "style", "width:95%;height:50px" }, { "id", "txaReason3" } }))

    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEditSchoolOut')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');search();", "")
    </div>
}
<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);

    }
    function EditFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEditSchoolOut"));
    });
</script>
