				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SchoolMovementArea.Models

@{
    ViewBag.Title = Res.Get("SchoolMovement_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstSchoolMovement">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("SchoolMovement_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("SchoolType")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(450)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("SchoolMovement_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(450)
)
<script type = "text/javascript">
    window.onload = function () { formUtils.focusForm("frmSearch"); document.getElementById('FullName').focus(); };
    $(document).ready(function () {
        document.getElementById('FullName').focus();
    });
</script>
<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:18%}#SearchPanel .editor-field{width:28%;margin-right:10px}
</style>