﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingArea.Models
@{
    ViewBag.Title = Res.Get("ApprenticeshipTraining_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.Telerik().TabStrip()
    .Name("TabStrip")
    .ClientEvents(events => events.OnSelect("onSelect"))
    .Items(tabstrip =>
    {
        tabstrip.Add()
            .Text(Res.Get("ApprenticeshipTraining_Label_RegisterForm"))
            .Content(@<text>@Html.Partial("RegisterForm")</text>);

        tabstrip.Add()
            .Text(Res.Get("ApprenticeshipTraining_Label_SearchForm"))
            .Content(@<text>@Html.Partial("SearchForm")</text>);
    })
    .SelectedIndex(0)
    .Render();
}
<script type="text/javascript">
    function onSelect(e) {
        var item = $(e.item);
        var tab = item.find('> .t-link').text();
        //alert(tab);
        var tab2vi = "Tra cứu";
        var tab2en = "SubsidiarySchool";

        var tab1vi = "Đăng ký";
        var tab1en = "SchoolProfile";

        if (tab == tab2vi || tab == tab2en) {
            smas.setFocus($("#ApprenticeshipTrainingClassID"));
        }
        if (tab == tab1vi || tab == tab1en) {
            smas.setFocus($("#EducationLevelID"));
        }
    }
</script>
