﻿@model IEnumerable<SMAS.Web.Areas.ApprenticeshipTrainingArea.Models.ApprenticeshipTrainingViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingArea.Models
@using SMAS.Web.Areas.ApprenticeshipTrainingArea
@{
    List<ApprenticeshipTrainingViewModel> lsTraining = ViewData[ApprenticeshipTrainingConstants.LS_LISTOLDCLASS] as List<ApprenticeshipTrainingViewModel>;
    var index = 1;
}
@{Html.Telerik().Grid<ApprenticeshipTrainingViewModel>(lsTraining)
        .Name("OldClassGird")
        .DataKeys(keys =>{keys.Add(p => p.PupilID);})
        .Columns(columns =>
        {
            columns.Template(@<text>@(index++)</text>)
                    .ClientTemplate("<#= lstInd++ #>")
                    .Title(@Res.Get("Common_Index_Number"))
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(25);
            columns.Bound(p => p.PupilCode).Width(100).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.FullName).Width(150).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.GenderName).Width(80).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(p => p.ClassName).Width(120).HtmlAttributes(new { style = "text-align:left" });
            columns.Template(
       @<text>
    <input name="checkedOldPupil" type="checkbox"  value="@item.PupilID" checked ="checked"/>
    </text>
                       )
                       .HeaderTemplate(
       @<text>
    <input type="checkbox" title="Chọn tất cả" onclick="checkAllOldPupil(this)" id="checkedOldPupilAll"
        checked="checked"/>
    </text>
                       )
                       .Width(50)
                       .HeaderHtmlAttributes(new { style = "text-align:center" })
                       .HtmlAttributes(new { style = "text-align:center" });
            })
        .ClientEvents(events => events.OnDataBinding("OldClassGrid_onDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Resizable(resizing => resizing.Columns(true))
        .Render();                 
}
<script type="text/javascript">
    var lstInd = 0;
    function OldClassGrid_onDataBinding(e) {
        var grid = $('#OldClassGird').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmRegister");
    }

    function checkAllOldPupil(obj) {
        $("#OldClassGird tbody input:checkbox").attr("checked", obj.checked);
    }

</script>
