﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingArea.Models
@using SMAS.Web.Areas.ApprenticeshipTrainingArea
@using SMAS.Web.Constants
<div id="listAll">
    <table>
        <tr>
            <td id="lsOldClassGrid">
            <div class="vt-ResultPanel">
                @Html.Partial("OldClassGrid")
            </div>
            </td>
            <td style="text-align: center;">
                <div style="margin-left:6px; margin-right:6px;">
                @Html.ViettelButton(">>", "button", "OnForwardButtonClick()", "vt-button")
                </div>
               <br />
                 <div style="margin-left:6px; margin-right:6px;">
                @Html.ViettelButton("<<", "button", "OnBackwardButtonClick()", "vt-button")
                </div>
                <br />
                <br />
            </td>
            <td id="lsNewClassGrid">
             <div class="vt-ResultPanel">
                @Html.Partial("NewClassGird")
             </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    function ReloadBothGrid() {

        var appClassID = $("#frmRegister").find("#ApprenticeshipClassID").val();

        onDropDownListNewClassChange(appClassID);

        $("#frmRegister").find("input:submit").click();
    }

    function OnForwardButtonClick() {
        var myCheckboxes = $('#lsOldClassGrid').find('input[type="checkbox"][name="checkedOldPupil"]:checked');
        if (myCheckboxes.length < 1) {
            smas.alert('@Res.Get("Common_Label_ErrorCheckMessage")');
            return;
        }

        var educationLevelID = $("#frmRegister").find("#EducationLevelID").val();
        var classID = $("#frmRegister").find("#ClassID").val();
        var apprenticeshipClassID = $("#frmRegister").find("#ApprenticeshipClassID").val();

        // create an new object with properties id and price
        var postData = {
            EducationLevelID: educationLevelID,
            OldClassID: classID,
            ApprenticeshipClassID: apprenticeshipClassID,
            checkedOldPupil: []
        };

        $.each(myCheckboxes, function (index, el) {
            postData.checkedOldPupil.push($(el).val().replace(/\s/g, ''));
        });

        $.ajax({
            url: '@Url.Action("TransferDataForward", "ApprenticeshipTraining")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: $.param(postData, true),
            success: function (data) {
                smas.alert(data);
                smas.hideProcessingDialog();

                ReloadBothGrid();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function OnBackwardButtonClick() {
        var myCheckboxes = $('#lsNewClassGrid').find('input[type="checkbox"][name="checkedNewPupil"]:checked');
        if (myCheckboxes.length < 1) {
            smas.alert('@Res.Get("Common_Label_ErrorCheckMessage")');
            return;
        }

        var educationLevelID = $("#frmRegister").find("#EducationLevelID").val();
        var classID = $("#frmRegister").find("#ClassID").val();
        var apprenticeshipClassID = $("#frmRegister").find("#ApprenticeshipClassID").val();

        // create an new object with properties id and price
        var postData = {
            EducationLevelID: educationLevelID,
            OldClassID: classID,
            ApprenticeshipClassID: apprenticeshipClassID,
            checkedNewPupil: []
        };

        $.each(myCheckboxes, function (index, el) {
            postData.checkedNewPupil.push($(el).val().replace(/\s/g, ''));
        });

        $.ajax({
            url: '@Url.Action("TransferDataBackward", "ApprenticeshipTraining")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: $.param(postData, true),
            success: function (data) {
                smas.alert(data);
                ReloadBothGrid();
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    $(document).ready(function () {
        var permit = '@ViewData[ApprenticeshipTrainingConstants.ENABLE_BUTTON_ABORT]';
        if (permit.toLowerCase() == "false") {
            $('.vt-button').attr("disabled", "disabled");
            $('.vt-button').attr('style', "color:gray;background-color:gray;border-color:gray;");
        } else {
            $('.vt-button').removeAttr("disabled");
            $('.vt-button').removeAttr("style");
        }
    })
</script>
