﻿@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Web.Areas.HealthTestArea.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.Business.Common
@model SMAS.Web.Areas.PhysicalExaminationArea.Models.ChartByPupilDataSource


<div>
    @(Html.Telerik()
               .TabStrip()
               .Name("TabChart")
               //.ClientEvents(events => events.OnSelect("onSelectTabStrip"))
               .Items(t =>
               {
                   t.Add()
                      .Text("Chiều cao")
                      .Content(@<text><div id="DialogPrintChart_height">
                          @Html.Partial("_HeightChart", Model);
                                      </div></text>);
                   t.Add()
                       .Text("Cân nặng")
                      .Content(@<text><div id="DialogPrintChart_weight">
                          @Html.Partial("_WeightChart", Model);
                                      </div></text>);
                   if (Model.IsBigger60)
                   {
                       t.Add()
                          .Text("Chiều cao(2)")
                         .Content(@<text><div id="DialogPrintChart_weight_2">
                          @Html.Partial("_HeightChart2", Model);
                                      </div></text>);
                       t.Add()
                          .Text("Cân nặng(2)")
                         .Content(@<text><div id="DialogPrintChart_height_2">
                          @Html.Partial("_WeightChart2", Model);
                                      </div></text>);
                       t.Add()
                          .Text("BMI")
                         .Content(@<text><div id="DialogPrintChart_BMI">
                          @Html.Partial("_BMI", Model);
                                      </div></text>);
                   }

               })
               .SelectedIndex(0))
</div>

<script type="text/javascript">
    function ExportImage() {
        _exportImg(@Model.ClassId, @Model.PupilId);
    }
</script>
