﻿@model SendSMSToTeacherViewModel
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.UsingMarkBookManagementArea.Models
@using SMAS.Web.Areas.UsingMarkBookManagementArea
@using SMAS.Web.Utils

@{
    List<SListViewModel> lstModel = (List<SListViewModel>)ViewData[UsingMarkBookManagementConstants.LIST_TEACHER];
    string brandname = CommonMethods.GetBrandName();
    string prefixName = (string)ViewData[UsingMarkBookManagementConstants.PREFIX_NAME_OF_SCHOOL];
}


@using (Ajax.BeginForm("SendSMS",
                                "UsingMarkBookManagement",
                                new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    OnBegin = "smas.showProcessingDialog",
                                    OnComplete = "smas.hideProcessingDialog",
                                    OnSuccess = "SaveSuccess",
                                    OnFailure = "SaveFail"
                                },
                                new { id = "frmSend" }))
{
    <input type="hidden" id="LstTeacherReceiverID" value="" name="LstTeacherReceiverID" />
    <span class="f-16 light-green mg-l-5">Danh sách nhận tin</span>
<table class="using-mark-book-management-sendMess-window">
        <tr>
            <td style="width:17%;vertical-align:top;"></td>
            <td>
                <div id="SearchPanel">
                    @Html.Partial("_SSearch", new SSearchViewModel())
                </div>
                <div id="listResult">
                    @Html.Partial("_SList", lstModel)
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:right;padding:11px 10px 0 0;vertical-align:top">Nội dung</td>
            <td style="padding-top:10px">
                @Html.TextArea("SMSContent", new
                           {
                               @class = "TextareaStyle",
                               @row = "1",
                               @col = "1",
                               @onkeyup = "validateUtils.SetPrefixSMSBySchool(this); enalbeButtonSend();validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked')) ",
                               @onblur = "validateUtils.SetPrefixSMSBySchool(this);validateUtils.CountSMS('SMSContent','LengSMSToTeacher', $('#AllowSignMessage').is(':checked'))"
                    })
                <div class="Clear">
                </div>
                <p class="Text1Style">
                    <span id="smsCounter"><span id="LengSMSToTeacher">@Model.SMSContent.Trim().Length/1</span></span>
                </p>

                @*Cho phép gửi tin nhắn có dấu*@
                <div style="margin-top:5px;">
                    <label class="custom-checkbox">
                    <input type="checkbox" id="AllowSignMessage" name="AllowSignMessage" value="true" onchange="checkAllowSignMsg(this)"
                           @(ViewData[UsingMarkBookManagementConstants.IS_ALLOW_SEND_UNICODE_MSG] != null && (bool)ViewData[UsingMarkBookManagementConstants.IS_ALLOW_SEND_UNICODE_MSG] ? "" : "disabled='disabled'") /> Gửi tin nhắn có dấu
                    <span class="checkmark"></span>
                       </label>
                        <span style="color: red;" id="ContentInfoMsg"></span>
                        
                </div>
                <input type="hidden" value="False" name="RemoveSpecialChar" id="RemoveSpecialChar" />
            </td>
        </tr>
    </table>
    <div class="BtnCenterSection" style="text-align:center">
                    <input type="submit" id="btSendSMS" class="btn btn-info btn-round t-state-disabled" value="@Res.Get("Home_Notification_Label_Send")" disabled="disabled" onclick="document.getElementById('RemoveSpecialChar').value = 'False'; return CheckTeacher(event);" />
                    <input type="submit" id="btHidSendSMS" style="display:none" onclick="document.getElementById('RemoveSpecialChar').value = 'True';" />
                </div>
}

@(Html.Telerik().Window()
                .Name("ShowErrorConfirm")
                .Title("Thông báo lỗi")
                .Content(@<text>@String.Empty</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Height(100)
                .Width(440)
)

@(Html.Telerik().Window()
    .Name("OutOfBalanceMsg")
    .Title("Thông báo")
    .Content(@<text>
        <div class="popup-content-fault">
            @Html.Raw(string.Format(Res.Get("SendSMS_Label_OutOfBalanceUrlError"), "onclick=\"redirectPayment();\""))
        </div>
        <div style="width: 100%; text-align: center;">
            <input type="button" id="btCancel" value="OK" class="btn btn-basic btn-round" onclick="onCancel('OutOfBalanceMsg')" />
        </div>
    </text>)
    .Buttons(b => b.Close())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
)
<script>
    brandNamePrefix = stringUtils.HtmlDecode('@brandname');
    var prefixName = stringUtils.HtmlDecode('@prefixName');
    function CheckTeacher(e) {
        var strReceiverID = [];
        $('#GridTeacher').find('.checkedEmployee:checked').each(function () {
            strReceiverID.push($(this).val() + ',');
        });
        //set num of receiver
        $('#LstTeacherReceiverID').val(strReceiverID.join(''));
        return true;
    }

    function enalbeButtonSend() {
        //neu khong thay doi noi dung thi disable button send
        preFixSendSMS = $.trim(prefixName);
        if ($.trim($('#SMSContent').val().toUpperCase()) == preFixSendSMS.toUpperCase()
            || $.trim($('#SMSContent').val().toUpperCase()) == $.trim(brandNamePrefix.toUpperCase())) { //prefix nam o layout
            $('#btSendSMS').attr('disabled', 'disabled');
            $('#btSendSMS').addClass('t-state-disabled');
        }
        else {
            $('#btSendSMS').removeAttr('disabled');
            $('#btSendSMS').removeClass('t-state-disabled');
        }
    };

    //VALIDATE CONTENT WHEN PASTE - ONPASTE EVENT TEXTAREA
    $('#SMSContent').on('cut paste', function () {
        //vi su kien chay truoc khi text dang paste vao nen phai settimeout
        setTimeout(function () {
            validateUtils.CountSMS('SMSContent', 'LengSMSToTeacher', $('#AllowSignMessage').is(':checked'));
            enalbeButtonSend();

        }, 200);
    });

    function SaveSuccess(msg) {
        smas.closeDialog("ShowErrorConfirm");
        var urlShowErrorConfirm = '@Url.Action("ShowErrorConfirm")';
        if (msg.Type == "ContentError") {
            openDialog("ShowErrorConfirm", urlShowErrorConfirm, { contentError: msg.Message });
        }
        else if (msg.Type == 'success') {
            smas.alert(msg);
            preFixSendSMS = stringUtils.HtmlDecode(prefixName);
            $('#CountSMSToTeacher').html(1);
            // Xóa nội dụng SMS vừa mới gửi.
            $('#SMSContent').val($.trim(preFixSendSMS));
            validateUtils.CountSMS('SMSContent', 'LengSMSToTeacher', $('#AllowSignMessage').is(':checked'));
            // Disable button gửi
            $('#btSendSMS').attr('disabled', 'disabled');
            $('#btSendSMS').addClass('t-state-disabled');
        }
        else {
            if (msg.OutOfBalance) {
                smas.openDialog('OutOfBalanceMsg', '', {});
            }
            else {
                smas.alert(msg);
            }
        }
    }


    function openDialog(dialogName, url, data, callback) {
        w = $("#" + dialogName).data("tWindow");
        if (w != undefined) {
            w.center().open();
            if (url != "") {
                $.ajax({
                    url: url,
                    type: 'post',
                    data: data,
                    beforeSend: function () {
                        var strLoad = '<div class="loadingAjax"><img width="16" height="11" src="/Content/images/icon_loading.gif" alt="loading..." style="vertical-align:midle;"/></div>'
                        $("#" + dialogName + " .t-content").html(strLoad);
                    },
                    success: function (data) {
                        $("#" + dialogName + " .t-content").html(data);
                        formUtils.focusForm($("#" + dialogName + " form").attr("id"));
                        validateUtils.fixCommonValidate();
                        if(callback != undefined) { callback(); }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            } else {
            }
            formUtils.focusForm($("#" + dialogName + " form").attr("id"));

            //fix loi import het session
            var object = $("#btImport");
            if (object.length > 0) {
                if ($("#btImport").attr("onclick").toString().indexOf(";smas.checkSessionAjax();") == -1) {
                    $("#btImport").attr("onclick", "smas.checkSessionAjax();" + $("#btImport").attr("onclick"));
                }
            }
        }
    }


    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function SendToTeacherWithoutSpecialChar() {
        $("#btHidSendSMS").click();
    }

    function checkAllowSignMsg(chk) {
        var isCheck = $(chk).is(':checked');
        if (isCheck) {
            $('#ContentInfoMsg').text('(67 ký tự/SMS. Chỉ gửi được tin nhắn có dấu cho các mạng Viettel, Vina, Mobi.)');
        } else {
            $('#ContentInfoMsg').text('');
        }
        validateUtils.CountSMS('SMSContent', 'LengSMSToTeacher', isCheck);
    }
</script>