﻿@model SSearchViewModel
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.UsingMarkBookManagementArea.Models
@using SMAS.Web.Areas.UsingMarkBookManagementArea

@{
    int semester = (int)ViewData[UsingMarkBookManagementConstants.SELECTED_SEMESTER];
    SelectList sl = (SelectList)ViewData[UsingMarkBookManagementConstants.CBO_EDUCATION_LEVEL];
    int selectedEducationLevel = (int)sl.SelectedValue;
}


    @Html.AntiForgeryToken()
    <input type="hidden" value="@semester" name="Semester"/>
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3" style="margin:0px;margin-bottom:5px;" id="frmSSearch">

    <div class="vt-SearchPanel-Content">
        <div class="row">
            <div class="col-md-6 col-sm-10">
        <div class="vt-control EducationLevel">
            <div class="editor-label"><label for="EducationLevel">Khối</label></div>
            <div class="editor-field">
               @Html.DropDownListFor(model => model.EducationLevel, (SelectList)ViewData[UsingMarkBookManagementConstants.CBO_EDUCATION_LEVEL], null, new { onchange = "SMSSendEducationLevelChange()" })
            </div>
        </div>
                </div>
            <div class="col-md-6 col-sm-10">
        <div class="vt-control ClassID">
            <div class="editor-label"><label for="ClassID">Lớp</label></div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ClassID, (SelectList)ViewData[UsingMarkBookManagementConstants.CBO_CLASS], null, new { onchange = "onClassChange()" })
            </div>
        </div>
                </div>
            <div class="col-md-6 col-sm-10">
        <div class="vt-control SubjectID">
            <div class="editor-label"><label for="SubjectID">Môn dạy</label></div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SubjectID, (SelectList)ViewData[UsingMarkBookManagementConstants.CBO_SUBJECT], "[Tất cả]", new { onchange = "onSubjectChange()" })
            </div>
        </div>
                </div>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function(){
        $("#SearchPanel #EducationLevel").val(@selectedEducationLevel);
    });
    function SMSSendEducationLevelChange() {

        var educationLevelID = $("#frmSSearch").find("#EducationLevel").val();
        var $classID = $("#frmSSearch").find("#ClassID");
        controlUtils.loadComboBox(
                     $classID,
                    '@Url.Action("AjaxLoadClass", "UsingMarkBookManagement")',
                                { EducationLevelID: educationLevelID },
                                null, function () { $classID.change(); },null
        );
    }

    function onClassChange() {
        var educationLevelID = $("#frmSSearch").find("#EducationLevel").val();
        var classID = $("#frmSSearch").find("#ClassID").val();
        var $subjectID = $("#frmSSearch").find("#SubjectID");
        controlUtils.loadComboBox(
                     $subjectID,
                    '@Url.Action("AjaxLoadSubject", "UsingMarkBookManagement")',
                                { EducationLevelID: educationLevelID, ClassID: classID, Semester:'@semester' },
                                "[Tất cả]", function () {$subjectID.change(); },null
        );
    }

    function onSubjectChange() {
        search();
    }

    function search()
    {
        var url = '@Url.Action("SSearch")';
        var educationLevelID = $("#frmSSearch").find("#EducationLevel").val();
        var classID = $("#frmSSearch").find("#ClassID").val();
        var subjectID = $("#frmSSearch").find("#SubjectID").val();

        var data = {EducationLevel:educationLevelID,ClassID:classID,SubjectID:subjectID, Semester:'@semester'};

        ajaxPostUpdateDiv(url, data, "GridSendSMSID", null);
    }

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    };
</script>



