﻿@model string
@using Telerik.Web.Mvc.UI
@{
}

<div>
    <table style="padding:10px">
        <tr>
            <td>
                <div style="width: 100%;">
                    <div style="float: left; width: 100%; text-align: center; margin-bottom: 20px">
                        <span id="Message" style="font-size:100%;text-align:left">@Model. Hệ thống sẽ thực hiện cắt bỏ các ký tự đặc biệt khi gửi tin.</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: center; width: 100%;">
                    @{
                        <input type="button" class="btn btn-info btn-round" value="Tiếp tục gửi" onclick=" SendToTeacherWithoutSpecialChar();" />
                    }
                    <input type="button" onclick="smas.closeDialog('ShowErrorConfirm')" class="btn btn-basic btn-round" value='Đóng' />
                </div>
            </td>
        </tr>
    </table>
</div>