﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.TeachingScheduleArea
@using SMAS.Web.Constants
@using SMAS.Web.Utils
@{
    int sectionID = ViewData[TeachingScheduleConstants.SECTION_ID] != null ? (int)ViewData[TeachingScheduleConstants.SECTION_ID] : 0;
    int subjectOrder = ViewData[TeachingScheduleConstants.SUBJECT_ORDER] != null ? (int)ViewData[TeachingScheduleConstants.SUBJECT_ORDER] : 0;
    TeachingScheduleBO objTS = new TeachingScheduleBO();

    bool objNew = true;
    if (ViewData[TeachingScheduleConstants.OBJ_TEACHING_SCHEDULE] != null)
    {
        objTS = (TeachingScheduleBO)ViewData[TeachingScheduleConstants.OBJ_TEACHING_SCHEDULE];
        objNew = false;
    }
    else
    {
        objTS.Status = 0;
        objNew = true;
    }



    bool isResult = ViewData[TeachingScheduleConstants.IS_RESULT] != null ? (bool)ViewData[TeachingScheduleConstants.IS_RESULT] : false;
    string SchoolWeekName = (string)ViewData[TeachingScheduleConstants.SCHOOL_WEEK_NAME];
    var teachingScheduleId = (int)(ViewData[TeachingScheduleConstants.TS_ID] ?? 0);
    bool isApproval = (bool)ViewData[TeachingScheduleConstants.APPLIEd_APPROVALED];
}

<style>
    .class-div-status {
        display: flex;
        padding: 15px;
        margin-left: 70px;
        height: 15px;
    }

    .div-status {
        width: 100px;
    }

    .div-msg {
        margin-left: 10px;
        margin-top: -5px;
    }

    .msgSpan {
        color: red;
    }
</style>
@using (Ajax.BeginForm("EditTeachingSchedule",
                           "TeachingSchedule",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "EditSuccess",
                               OnFailure = "EditFail"
                           },
                           new { id = "frmEditSchedule" }))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("TeachingScheduleID", objTS.TeachingScheduleID);
    @Html.ViettelHidden("hdfTeacherID", 0)
    @Html.ViettelHidden("hdfSchoolWeekID", 0)
    @Html.ViettelHidden("hdfisResult", isResult)
    @Html.ViettelHidden("hdfStatus", 0);
    
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" style="border: none;">

        <div class="vt-control">
            <div class="editor-label">
                <label for="WeekName">@Res.Get("Teaching_Schedule_TUAN")</label>
            </div>
            <div class="editor-field">
                <input type="text" id ="SchoolWeekID" disabled="disabled" value ="@SchoolWeekName" style ="width: 384px;" />
            </div>
        </div>
        <div class="Clear" />
        @Html.ViettelCombobox(Res.Get("Teaching_Schedule_THU"), "ScheduleDateID",
                         ((IEnumerable<SelectListItem>)ViewData[TeachingScheduleConstants.LIST_DATE]),
                                   GlobalConstants.NO_PLACEHOLDER,
                                   new Dictionary<string, object>() { }, false, false)

        @Html.ViettelCombobox(Res.Get("Teaching_Schedule_BUOI"), "SectionID",
                         ((IEnumerable<SelectListItem>)ViewData[TeachingScheduleConstants.LIST_SECTION]),
                                   GlobalConstants.NO_PLACEHOLDER,
                            new Dictionary<string, object>() { }, false, false)

        <div class="vt-control">
            <div class="editor-label">
                <label for="SubjectOrder">@Res.Get("Teaching_Schedule_TIET_HOC")</label>
            </div>
            <div class="editor-field">
                <select id="SubjectOrderID" name="SubjectOrderID" onchange="LoadData()">
                    @for (int i = 1; i < 6; i++)
                    {
                        if (subjectOrder == i)
                        {
                        <option selected ="selected" value="@i">@i</option>    
                        }
                        else
                        {
                        <option value="@i">@i</option>
                        }

                    }
                </select>
            </div>
        </div>
        @Html.ViettelCombobox(Res.Get("Lớp"), "ClassID",
             ((IEnumerable<SelectListItem>)ViewData[TeachingScheduleConstants.LIST_CLASS_PROFILE]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                            new Dictionary<string, object>() { { "onchange", "LoadScheduleOrder(false)" } }, false, true)
        <div class="Clear" />
        @Html.ViettelCombobox(Res.Get("Môn"), "SubjectID",
             ((IEnumerable<SelectListItem>)ViewData[TeachingScheduleConstants.LIST_SUBJECT]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                            new Dictionary<string, object>() { { "onchange", "AjaxLoadAssignSubjectSearch(this)" } }, false, true)
        <div class="vt-control">
            <div class="editor-label">
                <label for="AssignSubjectID">@Res.Get("Phân môn")</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("AssignSubjectID",
                        ((IEnumerable<SelectListItem>)ViewData[TeachingScheduleConstants.LIST_ASSIGN_SUBJECT]),
                        Res.Get("ItSelf"),
                        new Dictionary<string, object>() { { "onchange", "LoadScheduleOrder(false)" } })
            </div>
        </div>

        <div class="vt-control">
            <div class="editor-label">
                <label for="TeachingScheduleOrder">@Res.Get("Teaching_Schedule_TIET_PPCT")</label>
            </div>
            <div class="editor-field">
                <select id="ScheduleOrderID" name="ScheduleOrderID" onchange="LoadLessonName()" style="width: 395px;">
                </select>
            </div>
        </div>
        <div class="Clear" />
        <div class="vt-control">
            <div class="editor-label">
                <label for="LessonName">@Res.Get("Teaching_Schedule_TEN_BAI_HOC")</label>
            </div>
            <div class="editor-field">
                <input type="text" id ="LessonID" style="width: 384px;" disabled ="disabled" value="@(objTS.LessionName)"/>
            </div>
        </div>
        <div class="Clear" />

        <div class="vt-control" >
            <div class="editor-field" style="width: 100%; margin-left: 78px;">
                <input type="checkbox" name ="RegisterID" id ="RegisterID" @(!string.IsNullOrEmpty(objTS.TeachingUtensil) ? "checked=checked" : "") onclick ="onClickRegister(this)"/>
                @Res.Get("Teaching_Schedule_DK_THIET_BI")
            </div>
        </div>
        <div class="Clear" />

        <div class="vt-control" style="margin-top:-15px;">
            <div class="editor-label">
                <label for="">@Res.Get("Teaching_Schedule_DO_DUNG")</label>
            </div>
            <div class="editor-field">
                <input id ="TeachingUtensilID" name ="TeachingUtensilID" value ="@objTS.TeachingUtensil"  type="text" style ="width: 384px;margin-top: 10px" maxlength ="300" />
            </div>
        </div>
        <div class="Clear" />
    </div>
    <div style="margin-top:-10px;">
        <label style="margin-left: 25px;">@Res.Get("Teaching_Schedule_SO_LUONG")</label>
        <input id ="NumberID" name ="NumberID" type="text" value ="@(objTS.Quantity.HasValue && objTS.Quantity.Value > 0 ? objTS.Quantity.Value.ToString() : "")"
                disabled="@(objTS.Status != 0 ? "disabled" : "")" style ="width: 80px;height:20px;margin-left:5px;" maxlength ="2" onblur ="validateNumber(this);" />
        <input disabled="@(objTS.Status != 0 ? "disabled" : "")" id ="InRoomID" name ="InRoomID" style ="margin-left:25px;" onclick ="onClickRadio(1)" @(objTS.InRoom.HasValue && objTS.InRoom.Value ? "checked=checked" : "") type ="radio"/>
        @Res.Get("Teaching_Schedule_CO_PTB")
        <input disabled="@(objTS.Status != 0 ? "disabled" : "")" id ="IsSelfMade" name ="IsSelfMade" style ="margin-left:25px;" onclick ="onClickRadio(2)" @(objTS.IsSelfMade.HasValue && objTS.IsSelfMade.Value ? "checked=checked" : "") type ="radio" />
        @Res.Get("Teaching_Schedule_TU_LAM")
    </div>
    
                    if (objTS.TeachingScheduleID <= 0)
                    { // dạy bù
    <div class="class-div-status">
        <div class="div-status">
            <input name="Status" type="checkbox" value="1" class="checkboxStatus" onchange="onCheckStatus()" />
            <span style="margin-left: 3px">@Res.Get("Offset_Teaching")</span>
        </div>
        <div class="div-msg">
            <span class="msgSpan"></span>
        </div>
    </div>      
                    }
                    else if (objTS.TeachingScheduleID > 0)
                    {
                        // dạy bù && nghĩ dạy đã được lên lịch
                        if (objTS.Status == 1 || objTS.Status == 2)
                        {
    <div class="class-div-status">
        <div class="div-status">
            <input name="Status" checked="checked" type="checkbox" value="@(objTS.Status == 1 ? 1 : 2)" class="checkboxStatus" onchange="onCheckStatus()"/>
            <span style="margin-left: 3px">@(objTS.Status == 1 ? Res.Get("Offset_Teaching") : Res.Get("Cease_Teaching"))</span>
        </div>
        <div class="div-msg"></div>
    </div> 
                        }
                        else
                        {
    <div class="class-div-status">
        <div class="div-status">
            <input name="Status" type="checkbox" value="2" class="checkboxStatus" onchange="onCheckStatus()" />
            <span style="margin-left: 3px">@Res.Get("Cease_Teaching")</span>
        </div>
        <div class="div-msg">
            <span class="msgSpan"></span>
        </div>
    </div>
                        }
                    }
    <br />
    <div style="text-align: center;margin-top:-5px">
        <input type="submit" id="btnEdit" style="display: none;">
        @if (teachingScheduleId > 0 && objTS.Status != 2 && isApproval == false)
        {
            <input type="button" class="t-button vt-button-search" value="@Res.Get("Common_Button_Delete")" onclick=" OnClickDeleteTeachingScheduleOnEditView(this) " />
        }

        @if (teachingScheduleId > 0 && objTS.Status == 1 && isApproval)
        {
            <input type="button" class="t-button vt-button-search" value="@Res.Get("Common_Button_Delete")" onclick=" OnClickDeleteTeachingScheduleOnEditView(this) " />
        }

        @if (objTS.Status != 1)
        { 
            <input type="button" id="btnSave" class="btn btn-info btn-icon btn-round btn-icon-save" onclick=" return validateEdit(); " value="@Res.Get("Common_Button_Save")"/>
        }

        <input type="button" class="btn btn-info btn-round" value="@Res.Get("Common_Button_Close")" onclick ="smas.closeDialog('EditTeachingSchedule')">
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var teacherID = $('#EmployeeID').val();
        var schoolweekID = $('#WeekID').val();
        $('#frmEditSchedule #hdfTeacherID').val(teacherID);
        $('#frmEditSchedule #hdfSchoolWeekID').val(schoolweekID);
        $('#frmEditSchedule #SectionID').find('option[value="@sectionID"]').attr('selected', 'selected');
        var ischeckRegister = $('#RegisterID').is(':checked');
        if (!ischeckRegister) {
            $('#TeachingUtensilID').attr('disabled', 'disabled');
            $('#NumberID').attr('disabled', 'disabled');
            $('#InRoomID').attr('disabled', 'disabled');
            $('#IsSelfMade').attr('disabled', 'disabled');
        }
        LoadScheduleOrder(true);

        // lên lịch dạy bù dạy
        if ('@objTS.Status' != '0' && '@isApproval' == 'True') {
            $("#btnSave").css("display", "none");
        }
    });

    function onCheckStatus() {
        var check = $(".checkboxStatus").is(":checked");
        if (check == true) {
            var valCheck = $(".checkboxStatus").val();
            $("#hdfStatus").val(valCheck);

            var txt = "";
            if (valCheck == 1) {
                txt = "Các tiết PPCT [Môn] - [Phân môn] [Lớp] lớn hơn [x] sẽ được cộng thêm 1";

                var status = parseInt(@objTS.Status);
                if ('@isApproval' == 'True') {
                    $("#btnSave").css("display", "initial");;
                    $("#RegisterID").removeAttr('disabled');
                    $("#ScheduleOrderID").removeAttr('disabled');
                    $("#AssignSubjectID").removeAttr('disabled');
                    $("#SubjectID").removeAttr('disabled');
                    $("#ClassID").removeAttr('disabled');
                    $("#SubjectOrderID").removeAttr('disabled');
                    $("select[name='SectionID']").removeAttr('disabled');
                    $("#ScheduleDateID").removeAttr('disabled');
                }
            }
            else {
                txt = "Các tiết PPCT [Môn] - [Phân môn] [Lớp] lớn hơn [x] sẽ được trừ đi 1";

                if ('@isApproval' == 'True') {
                    $("#btnSave").css("display", "initial");
                }
            }

            var subjectID = $("#SubjectID").val();
            if (subjectID != null && subjectID != 'undefined' && subjectID != '') {
                txt = txt.replace("[Môn]", $("#SubjectID :selected").text());
            }

            var assignSubjectID = $("#AssignSubjectID").val();
            if (assignSubjectID != null && assignSubjectID != 'undefined' && assignSubjectID != '') {
                txt = txt.replace("[Phân môn]", $("#AssignSubjectID :selected").text());
            }

            var classID = $("#ClassID").val();
            if (classID != null && classID != 'undefined' && classID != '') {
                var className = "lớp " + $("#ClassID :selected").text();
                txt = txt.replace("[Lớp]", className);
            }

            var scheduleOrderID = $("#ScheduleOrderID").val();
            if (scheduleOrderID != null && scheduleOrderID != 'undefined' && scheduleOrderID != '') {
                var val = $("#ScheduleOrderID :selected").text();
                txt = txt.replace("[x]", val);
            }

            $('.msgSpan').html(txt);
        } else {
            $('.msgSpan').html('');
            $("#hdfStatus").val(0);

            var status = parseInt(@objTS.Status);
            if ('@isApproval' == 'True' && status == 0) {
                $("#btnSave").css("display", "none");
                $("#TeachingUtensilID").attr("disabled", true);
                $("#RegisterID").attr("disabled", true);
                $("#ScheduleOrderID").attr("disabled", true);
                $("#AssignSubjectID").attr("disabled", true);
                $("#SubjectID").attr("disabled", true);
                $("#ClassID").attr("disabled", true);
                $("#SubjectOrderID").attr("disabled", true);
                $("select[name='SectionID']").attr("disabled", true);
                $("#ScheduleDateID").attr("disabled", true);
            }
        }

        Disabled();
    }

    function Disabled() {
        if ('@isApproval' === 'True') {
            $("#TeachingUtensilID").attr("disabled", true);
            $("#RegisterID").attr("disabled", true);
            $("#ScheduleOrderID").attr("disabled", true);
            $("#AssignSubjectID").attr("disabled", true);
            $("#SubjectID").attr("disabled", true);
            $("#ClassID").attr("disabled", true);
            $("#SubjectOrderID").attr("disabled", true);
            $("select[name='SectionID']").attr("disabled", true);
            $("#ScheduleDateID").attr("disabled", true);
            $("#frmEditSchedule #NumberID").attr("disabled", true);
            $("#frmEditSchedule #IsSelfMade").attr("disabled", true);
            $("#frmEditSchedule #InRoomID").attr("disabled", true);

            if ('@objNew' === 'True') {
                $("#ScheduleOrderID").removeAttr('disabled');
                $("#AssignSubjectID").removeAttr('disabled');
                $("#SubjectID").removeAttr('disabled');
                $("#ClassID").removeAttr('disabled');
                $("#SubjectOrderID").removeAttr('disabled');
                $("select[name='SectionID']").removeAttr('disabled');
                $("#ScheduleDateID").removeAttr('disabled');
                $("#RegisterID").removeAttr('disabled');
            }
        }
        else {
            if (('@objTS.Status' === '0')) {
                $("#ScheduleOrderID").removeAttr('disabled');
                $("#AssignSubjectID").removeAttr('disabled');
                $("#SubjectID").removeAttr('disabled');
                $("#ClassID").removeAttr('disabled');
                $("#SubjectOrderID").removeAttr('disabled');
                $("select[name='SectionID']").removeAttr('disabled');
                $("#ScheduleDateID").removeAttr('disabled');
                $("#RegisterID").removeAttr('disabled');
                if ($("#RegisterID").is(':checked')) {
                    $("#frmEditSchedule #NumberID").removeAttr('disabled');
                    $("#frmEditSchedule #IsSelfMade").removeAttr('disabled');
                    $("#frmEditSchedule #InRoomID").removeAttr('disabled');
                    $("#frmEditSchedule #TeachingUtensilID").removeAttr('disabled');
                }
                else {
                    $("#frmEditSchedule #NumberID").attr("disabled", true);
                    $("#frmEditSchedule #IsSelfMade").attr("disabled", true);
                    $("#frmEditSchedule #InRoomID").attr("disabled", true);
                    $("#frmEditSchedule #TeachingUtensilID").attr("disabled", true);
                }
            }

            if (('@objTS.Status' === '1') || ('@objTS.Status' === '2')) {
                $("#TeachingUtensilID").attr("disabled", true);
                $("#ScheduleOrderID").attr("disabled", true);
                $("#AssignSubjectID").attr("disabled", true);
                $("#SubjectID").attr("disabled", true);
                $("#ClassID").attr("disabled", true);
                $("#SubjectOrderID").attr("disabled", true);
                $("select[name='SectionID']").attr("disabled", true);
                $("#ScheduleDateID").attr("disabled", true);
                $("#RegisterID").attr("disabled", true);
                $("#frmEditSchedule #NumberID").attr("disabled", true);
                $("#frmEditSchedule #IsSelfMade").attr("disabled", true);
                $("#frmEditSchedule #InRoomID").attr("disabled", true);
            }
        }
    }


    // Ấn nút xóa trên form chỉnh sửa
    function OnClickDeleteTeachingScheduleOnEditView(button) {
        var teachingScheduleID = '@teachingScheduleId' - 0;
        if (!teachingScheduleID || teachingScheduleID <= 0) {
            return;
        }
        var weekID = $('#frmEditSchedule #hdfSchoolWeekID').val();

        var token = $('[name=__RequestVerificationToken]').val();
        smas.confirmProcess('@Res.Get("Teaching_Schedule_XOA_1_TIET")', function () {
            $.ajax({
                url: '@Url.Action("DeleteOneTeachingSchedule", "TeachingSchedule")',
                data: { teachingScheduleID: teachingScheduleID, weekID: weekID, __RequestVerificationToken: token },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.alert({ Type: msg.Type, Message: msg.Message });
                    //smas.hideProcessingDialog();
                    setTimeout(function () {
                        smas.closeDialog('EditTeachingSchedule');
                        $('#btnSearchScheduleID').click();
                    }, 500);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        });
    };

    function onClickRegister(input) {
        if ($(input).is(':checked')) {
            $('#TeachingUtensilID').removeAttr('disabled');
            $('#NumberID').removeAttr('disabled');
            $('#InRoomID').removeAttr('disabled');
            $('#IsSelfMade').removeAttr('disabled');
            $('#InRoomID').attr('checked', 'checked');
        }
        else {
            // $('#TeachingUtensilID').val('');
            // $('#NumberID').val('');
            $('#InRoomID').removeAttr('checked');
            $('#IsSelfMade').removeAttr('checked');
            $('#TeachingUtensilID').attr('disabled', 'disabled');
            $('#NumberID').attr('disabled', 'disabled');
            $('#InRoomID').attr('disabled', 'disabled');
            $('#IsSelfMade').attr('disabled', 'disabled');
        }
    }
    function onClickRadio(id) {
        if (id == 1) {
            $('#IsSelfMade').removeAttr('checked');
        }
        else {
            $('#InRoomID').removeAttr('checked');
        }
    }
    function EditSuccess(msg) {
        smas.alert(msg.Message);
        smas.hideProcessingDialog
        ResetFormEdit();
        smas.closeDialog('EditTeachingSchedule');
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        smas.hideProcessingDialog
    }

    function LoadScheduleOrder(isAuto) {
        if (isAuto == undefined) isAuto = false;
        var teacherID = $('#frmSearchTeachingSchedule #EmployeeID').val();

        var scheduleDate = $('#frmEditSchedule #ScheduleDateID').val();
        var subjectID = $('#frmEditSchedule #SubjectID').val();
        var AssignSubjectID = $('#frmEditSchedule #AssignSubjectID').val() || null;
        var classID = $('#frmEditSchedule #ClassID').val();
        var subjectOrder = $('#frmEditSchedule #SubjectOrderID').val();
        var sectionID = $('#frmEditSchedule #SectionID').val();
        if (subjectID != 0 && classID != 0) {
            controlUtils.loadComboBox(
                $("#ScheduleOrderID"),
                '@Url.Action("AjaxLoadSchedule", "TeachingSchedule")',
                { ScheduleDate: scheduleDate, SectionID: sectionID, SubjectOrder: subjectOrder, SubjectID: subjectID, AssignSubjectID: AssignSubjectID, ClassID: classID, TeacherID: teacherID, IsAuto: isAuto, IsGetAll: true }
                , "", LoadLessonName, "");
            }
            else {
                $('#frmEditSchedule #ScheduleOrderID').html('');
            }
            onCheckStatus();
        }

        function LoadLessonName() {
            var schoolWeekID = $('#frmSearchTeachingSchedule #WeekID').val();
            var subjectID = $('#frmEditSchedule #SubjectID').val();
            var assignSubjectID = $('#frmEditSchedule #AssignSubjectID').val() || null;
            var classID = $('#frmEditSchedule #ClassID').val();
            var scheduleOrder = $('#frmEditSchedule #ScheduleOrderID').val();
            $.ajax({
                url: '@Url.Action("AjaxLoadLessonName", "TeachingSchedule")',
                data: { SubjectID: subjectID, AssignSubjectID: assignSubjectID, ClassID: classID, ScheduleOrder: scheduleOrder },
                type: 'post',
                beforeSend: function () {
                },
                success: function (msg) {
                    $('#frmEditSchedule #LessonID').val(msg.Message);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });

            onCheckStatus();
        }
        function LoadData() {
            var scheduleDate = $('#frmEditSchedule #ScheduleDateID').val();
            var section = $('#frmEditSchedule #SectionID').val();
            var teacherID = $('#EmployeeID').val();
            var subjectOrder = $('#frmEditSchedule #SubjectOrderID').val();
            $.ajax({
                url: '@Url.Action("LoadEditTeachingSchedule", "TeachingSchedule")',
                data: { ScheduleDate: scheduleDate, SectionID: section, SubjectOrder: subjectOrder, TeacherID: teacherID },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $('#lstEditTS').html('');
                    //$('#lstEditTS').html(msg);
                    LoadScheduleOrder(true);
                    var isResult = $('#hdfisResult').val();
                    console.log(isResult);
                    if (isResult == false) {
                        $('#frmEditSchedule #SubjectID').children().first().attr('selected', 'selected');
                        $('#frmEditSchedule #ClassID').children().first().attr('selected', 'selected');
                        $('#TeachingUtensilID').val('');
                        $('#NumberID').val('');
                        $('#InRoomID').removeAttr('checked');
                        $('#IsSelfMade').removeAttr('checked');
                        $('#TeachingUtensilID').attr('disabled', 'disabled');
                        $('#NumberID').attr('disabled', 'disabled');
                        $('#InRoomID').attr('disabled', 'disabled');
                        $('#IsSelfMade').attr('disabled', 'disabled');
                    }
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        function validateEdit() {

            var subjectID = $('#frmEditSchedule #SubjectID').val();
            var classID = $('#frmEditSchedule #ClassID').val();
            var scheduleOrder = $('#frmEditSchedule #ScheduleOrderID').val();
            if (subjectID == 0) {
                smas.alertColor('@Res.Get("Teaching_Schedule_CHUA_CHON_MON")', 'red');
            return;
        }
        if (classID == 0) {
            smas.alertColor('@Res.Get("Teaching_Schedule_CHUA_CHON_LOP")', 'red');
            return;
        }
        if (scheduleOrder == 0) {
            smas.alertColor('@Res.Get("Teaching_Schedule_CHUA_CHON_PPCT")', 'red');
            return;
        }
        if ($('#frmEditSchedule #RegisterID').is(':checked')) {
            var TeachingUtensil = $('#frmEditSchedule #TeachingUtensilID').val();
            if (TeachingUtensil == '') {
                smas.alertColor('@Res.Get("Teaching_Schedule_CHUA_DUNG_CU")', 'red');
                return;
            }
        }

        if ('@isApproval' == 'True') {
            var check = $(".checkboxStatus").is(":checked");
            if (check == false) {
                var valCheck = $(".checkboxStatus").val();
                if (valCheck == 1) {
                    smas.alertColor('@Res.Get("Thầy cô chỉ được phép lên lịch dạy bù")', 'red');
                    return;
                }
                else if (valCheck == 2) {
                    if ('@objTS.Status' != '2') {
                        smas.alertColor('@Res.Get("Thầy cô chỉ được phép báo nghỉ tiết")', 'red');
                        return;
                    }
                }
        }
    }


    $("#TeachingUtensilID").attr("disabled", false);
    $("#RegisterID").attr("disabled", false);
    $("#ScheduleOrderID").attr("disabled", false);
    $("#AssignSubjectID").attr("disabled", false);
    $("#SubjectID").attr("disabled", false);
    $("#ClassID").attr("disabled", false);
    $("#SubjectOrderID").attr("disabled", false);
    $("select[name='SectionID']").attr("disabled", false);
    $("#ScheduleDateID").attr("disabled", false);

    $('#btnEdit').click();
}
function validateNumber(txtNumber) {
    var text = txtNumber.value;
    var num = "0123456789";
    var i = 0;
    if (num.indexOf(text.charAt(0)) == -1) {
        txtNumber.value = "";
    }
}
$('#NumberID').keypress(function (e) {
    return validateUtils.numbersOnlyN(e);
});
function ResetFormEdit() {
    $('#frmEditSchedule #SubjectID').find('option').first().attr('selected', 'selected');
    $('#frmEditSchedule #AssignSubjectID').html('');
    $('#frmEditSchedule #AssignSubjectID').prepend('<option>@Res.Get("ItSelf")</option>');
        $('#frmEditSchedule #ClassID').find('option').first().attr('selected', 'selected');
        $('#frmEditSchedule #ScheduleOrderID').html('');
        $('#frmEditSchedule #ScheduleOrderID').prepend('<option>@Res.Get("Teaching_Schedule_CHON")</option>');
        $('#frmEditSchedule #LessonID').val('');
        $('#frmEditSchedule #TeachingUtensilID').val('');
        $('#frmEditSchedule #NumberID').val('');
        $('#frmEditSchedule #InRoomID').removeAttr('checked');
        $('#frmEditSchedule #IsSelfMade').removeAttr('checked');
        $('#frmEditSchedule #TeachingUtensilID').attr('disabled', 'disabled');
        $('#frmEditSchedule #NumberID').attr('disabled', 'disabled');
        $('#frmEditSchedule #InRoomID').attr('disabled', 'disabled');
        $('#frmEditSchedule #IsSelfMade').attr('disabled', 'disabled');
        $('#frmEditSchedule #RegisterID').removeAttr('checked');
        var subjectOrder = $('#frmEditSchedule #SubjectOrderID').val();
        var tmp = parseInt(subjectOrder) < 5 ? (parseInt(subjectOrder) + 1) : subjectOrder;
        $('#frmEditSchedule #SubjectOrderID').find('option[value=' + tmp + ']').attr('selected', 'selected');
    }
    function AjaxLoadAssignSubjectSearch(cbo) {
        frmId = $(cbo).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #AssignSubjectID"),
            '@Url.Action("AjaxLoadAssignSubjectSearch", "TeachingSchedule")',
            { subjectID: $(cbo).val() },
            '@Res.Get("ItSelf")',
            LoadScheduleOrder
        );
            onCheckStatus();
        }
</script>
