﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportTeacherArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("Common_Label_ImportTeacher");
}

<style type="text/css">
    .btnUploaderCss span {
        /*padding-right: 20px;*/
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected {
        display: none;
    }

    .t-dropzone {
        margin-left: 0px;
        margin-top: -6px;
    }

    #frmDownloadFile {
        margin-left: 320px;
    }
</style>

<div>
    <div>
        <div style="float: left; text-align:right; width: 30%;vertical-align:middle;">
            @Res.Get("ImportPupil_Label_ImportFromExcel")
        </div>
        <div style="float: left; width: 58%; margin-left:5px; padding-bottom:5px">
            <input type="text" value="[Chọn file]" disabled="disabled" id="txtFilePath" style="height:20px;width:307px;background-color:White;" />
            <img style="cursor:pointer" src="../../Content/images/icon-select-file.png" onclick="$('#attachments').click();" title="@Res.Get("Common_Label_ChooseFileImport")">
            <div style="display:none">
                @(Html.Telerik().Upload()
                    .Name("attachments")
                    .HtmlAttributes(new { @class = "btnUploaderCss" })
                    .ShowFileList(false)
                    .Multiple(false)
                    .Async(async => async
                    .Save("ImportExcel", "TeachingSchedule")
                    .AutoUpload(false)
                        ).ClientEvents(events => events
                    .OnSelect("OnSelectImport")
                    .OnUpload("OnImportUpload")
                    .OnSuccess("OnImportSuccess")
                    .OnError("OnImportError")
                )
                )
            </div>
        </div>

        <div class="Clear"></div>

        <div style="float: left; text-align:right; width: 30%;vertical-align:middle;">
            <span style="color:gray;font-style: italic;">&nbsp;</span>
        </div>
        <div style="float: left; width: 58%; margin-left:5px; padding-bottom:5px">
            <span style="color:gray;font-style: italic;">@Res.Get("Teaching_Schedule_GIOI_HAN_TEP")</span>
        </div>
        <div class="Clear"></div>
        <div style="float: left; text-align:right; width: 30%;vertical-align:middle;">
            @Res.Get("ImportPupil_Label_SampleFile")
        </div>
        <div style="float: left; width: 48%; margin-left:5px">
            <span onclick="onClickDownloadFile()" style="text-decoration:underline; color:#6e9dd8;cursor: pointer;">@Res.Get("Teaching_Schedule_TAI_MAU")</span>
        </div>
        @*<div class="Clear"></div>
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")
        </div>*@
       <div class="Clear"></div>
     </div>
    
    <div class="vt-SearchPanel-Button">
        <div style="text-align:center">
            <div style="display:none">
                <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "TeachingSchedule")' method="post">
                    @Html.ViettelHidden("hdfImportWeekID",0)
                    @Html.ViettelHidden("hdfImportSectionID",0)
                    @Html.ViettelHidden("hdfImportTeacherID",0)
                    @Html.ViettelButton(Res.Get("DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btnDowloadfile" }, { "style", "margin-left: -37px;" } }, "submit", "", "")
                </form>
            </div>
            @Html.ViettelButton("Tải lên", new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" }, { "style", "text-align:center;margin-top:15px;" } }, "button", "OnImportButtonClick()", "t-state-disabled")
        </div>
        <div class="Clear"></div>
     </div>
    <div class="Clear"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnUploaderCss").hide();
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled', 'disabled');
            $('#btImport').addClass('t-state-disabled');
            $("#txtFilePath").val("");
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var weekImportID = $('#frmSearchTeachingSchedule #WeekID').val();
                        var sectionID = $('#frmSearchTeachingSchedule #SectionID').val();
                        var teacherID = $('#frmSearchTeachingSchedule #EmployeeID').val();
                        var dataInput = { SchoolWeekID: weekImportID, SectionID: sectionID, TeacherID: teacherID };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alertColor('@Res.Get("Teaching_Schedule_LOI_DUNG_LUONG")', 'red');
                    //alert();
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alertColor('@Res.Get("Teaching_Schedule_LOI_DINH_DANG")', 'red');
                //alert();
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });

        hideUploadButton();
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();

            hideUploadButton();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        smas.closeDialog('importDialogTeachingSchedule');
        if (e.response.Type == 'Success') {
            smas.alert(e.response.Message);
            $('#btnSearchScheduleID').click();
        }
        else
            if (e.response.Type == 'Error') {
                setTimeout(function () {
                    smas.openDialog("ImportErrorDialog", "", {});
                }, 500);
            }
            else {
                smas.alertColor(e.response.Message, 'red');
            }
    }
    function OnImportError(e) {
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.alert(e.responseText);
        smas.hideProcessingDialog
    }
    function onClickDownloadFile() {
        var weekID = $('#frmSearchTeachingSchedule #WeekID').val();
        var sectionID = $('#frmSearchTeachingSchedule #SectionID').val();
        var teacherID = $('#frmSearchTeachingSchedule #EmployeeID').val();
        $('#hdfImportWeekID').val(weekID);
        $('#hdfImportSectionID').val(sectionID);
        $('#hdfImportTeacherID').val(teacherID);
        $('#btnDowloadfile').click();
    }
</script>
