﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
<div>
    <table>
        <tr>
            <td>
                <div style="width: 100%;">
                    <div style="text-align:center;margin-bottom:10px">
                        <img src="@Url.Content("~/Content/images/alert-warning.png")" width="90" alt=""/>
                    </div>
                    <div style="text-align:center">
                        <span id="Message">@Res.Get("Teaching_Schedule_KHONG_HOP_LE")</span>
                        <div class ="Clear"/>
                        <span>@Res.Get("Teaching_Schedule_TAI_MO_TA_LOI")</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: center; width: 100%;margin-top:10px;">
                    <form id="frmDownloadFileErr" action='@Url.Action("DowloadFileImportErr", "TeachingSchedule")' method="post">
                    @Html.ViettelHidden("hdfImportErrWeekID",0)
                    @Html.ViettelHidden("hdfImportErrSectionID",0)
                    @Html.ViettelHidden("hdfImportErrTeacherID",0)
                    <input type ="submit" style ="display:none" id ="btnDownloadFileErrID" />
                    </form>
                    <input type ="button" onclick ="DownloadFileErr()" class ="btn btn-info btn-round" value ="@Res.Get("Teaching_Schedule_OK")" />
                    @Html.ViettelButton(Res.Get("Teaching_Schedule_HUY"), "button", "smas.closeDialog('ImportErrorDialog');", "btn btn-basic btn-round", "Cancel","")
                </div>
            </td>
        </tr>
    </table>
</div>
<script type ="text/javascript">
    function DownloadFileErr() {
        var weekID = $('#frmSearchTeachingSchedule #WeekID').val();
        var sectionID = $('#frmSearchTeachingSchedule #SectionID').val();
        var teacherID = $('#frmSearchTeachingSchedule #EmployeeID').val();
        $('#hdfImportErrWeekID').val(weekID);
        $('#hdfImportErrSectionID').val(sectionID);
        $('#hdfImportErrTeacherID').val(teacherID);
        $('#btnDownloadFileErrID').click();
    }
</script>
