﻿@model ScheduleAutoTeachingScheduleModel
@using Com.Viettel.Framework.HtmlHelpers;
@using SMAS.Web.Utils;
@using SMAS.Models.Models;
@using SMAS.Web.Areas.TeachingScheduleArea;
@using SMAS.Web.Areas.TeachingScheduleArea.Models;

@using (Ajax.BeginForm("ScheduleAutoTeachingSchedule",
                       "TeachingSchedule",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ScheduleAutoTeachingScheduleSuccess",
                           OnFailure = "ScheduleAutoTeachingScheduleFail"
                       },
                       new { id = "frmScheduleAutoTeachingSchedule", @class = "" }
                       ))
{
    <div class="vt-EditorPanel vt-EditorPanel-1">
        @Html.AntiForgeryToken()
        @Html.ViettelHiddenFor(m => m.StrFromDate)
         @Html.ViettelHiddenFor(m => m.WeekIDDate)
        @Html.ViettelHiddenFor(m => m.EmployeeID)
        <div class="vt-EditorPanel-Control">
            <p>Thực hiện lên lịch báo giảng cho:</p>
            <div class="vt-EditorPanel-content" style="margin-top:10px; line-height:20px;">
                <p>
                    @Html.RadioButtonFor(m => m.IsPresent, true, "Tuần hiện tại " + Model.IsPresent)
                    @Html.LabelFor(m => m.IsPresent, Model.SchoolWeekName)
                </p>
                <p>
                    @Html.RadioButtonFor(m => m.IsPresent, false, new { id = "IsAllWeek" })
                    <label for="IsAllWeek">Tất cả các tuần.</label>
                </p>
            </div>
            <p style="color:red; text-decoration:underline;margin-top:10px;">Lưu ý:</p>
            <p style="color:red;">- Hệ thống dựa vào thời khóa biểu và phân phối chương trình để thực hiện lên lịch tự động.</p>
            <p style="color:red;">- Các tuần có lịch báo giảng đã được phê duyệt sẽ không được thực hiện.</p>
            <p style="color:red;">- Lịch báo giảng mới sẽ thay thế cho lịch báo giảng cũ nếu có.</p>
        </div>
        <div class="vt-EditorPanel-Button">
            <button class="t-button" type="button" onclick="validateScheduleAutoTeachingSchedule()">Thực hiện</button>
            <button class="t-button" type="button" onclick="smas.closeDialog('ScheduleAutoTeachingSchedule');">Đóng</button>
            <div style="display: none">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $("#IsPresent").attr("checked", true);
    function ScheduleAutoTeachingScheduleSuccess(msg) {
        smas.closeDialog('ScheduleAutoTeachingSchedule');
        if (msg.Type == "success") {
            smas.alert(msg);
            $('#frmSearchTeachingSchedule #SectionID').val("");
            $("#frmSearchTeachingSchedule input[type='submit']").click();
            smas.closeDialog('ScheduleAutoTeachingSchedule');
        } else {
            if (msg.Message == "2") {
                $("#WindowErrorScheduleAuto .msg").html("Hệ thống chưa có phân phối chương trình");
            }
            else if (msg.Message == "1") {
                $("#WindowErrorScheduleAuto .msg").html('Thầy/cô chưa được xếp "Thời khóa biểu" nên không thể lên lịch báo giảng tự động.');
            }
            smas.openDialog("WindowErrorScheduleAuto", "");
        }
    }
    function ScheduleAutoTeachingScheduleFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function validateScheduleAutoTeachingSchedule() {
        $("#frmScheduleAutoTeachingSchedule input[type='submit']").click();
    }
</script>
