﻿@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = @Res.Get("DistributeProgram_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="lstTeachingSchedule" style ="padding:5px;">
</div>
@(Html.Telerik().Window()
        .Name("EditTeachingSchedule")
            .Title(Res.Get("Teaching_Schedule_CAP_NHAP_LBG"))
        .Content(@<text><div id ="lstEditTS"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(390)
        .ClientEvents(o=>o.OnClose("onCloseDialogEdit"))
       )
@(Html.Telerik().Window()
        .Name("importDialogTeachingSchedule")
        .Title(Res.Get("ImportExcel"))
        .Content(@<text>@Html.Partial("_ImportExcel")</text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(600)
        .Height(115).ContentHtmlAttributes(new { style = "min-width: 600px;"})
       )
@(Html.Telerik().Window()
        .Name("BookTeachingSchedule")
        .Title(Res.Get("ExportBookTeachingSchedule"))
        .Content(@<text>@Html.Partial("_BookTeachingSchedule")</text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(430)
        .Height(115).ContentHtmlAttributes(new { style = "min-width: 600px;"})
       )

@(Html.Telerik().Window()
        .Name("ImportErrorDialog")
        .Title(Res.Get("Teaching_Schedule_NHAP_LBG_EXCEL"))
        .Content(@<text>@Html.Partial("_ImportError")</text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(400)
        .Height(115)
       )
@(Html.Telerik().Window()
        .Name("ApprovalTeachingSchedule")
            .Title("Phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
        .ContentHtmlAttributes(new { style = "min-width:500px;" })
       )
@(Html.Telerik().Window()
        .Name("ApprovalCancelTeachingSchedule")
            .Title("Hủy phê duyệt lịch báo giảng")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(195)
       )
@(Html.Telerik().Window()
        .Name("ScheduleAutoTeachingSchedule")
            .Title("Lên lịch tự động")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(230)
       )
@(Html.Telerik().Window()
        .Name("WindowViewDetailApproval")
            .Title("Chi tiết nội dung phê duyệt")
        //.Content(@<text><div id ="lstApproval"></div></text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(670)
        //.Height(250)
       )
@(Html.Telerik().Window()
        .Name("WindowErrorScheduleAuto")
            .Title("Lên lịch tự động")
        .Content(@<text>
<div class="vt-EditorPanel vt-EditorPanel-1">
    <div class="vt-EditorPanel-Control">
        <div class="vt-EditorPanel-content approval-cancel">
            <p class="msg"></p>
        </div>
    </div>
    <div class="vt-EditorPanel-Button">
        <button class="btn btn-basic btn-round" type="button" onclick="smas.closeDialog('WindowErrorScheduleAuto');">Đóng</button>
    </div>
</div>
</text>)
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(400)
        .Height(100)
       )
<script type ="text/javascript">
    function onCloseDialogEdit() {
        $('#btnSearchScheduleID').click();
    };
</script>
<style>
    a.skipVisited:visited {
        color:#0066cc;
    }
    #WindowViewDetailApproval .t-window-content {
        height:auto !important;
    }
    .GeneralTable .t-grid-header {
        border-bottom:none;
    }
    div.t-grid-footer, div.t-grid-header {
        padding-right:16px;
    }

    #lstTeachingSchedule #InOutBoxChoice #InOutBoxChoiceID .ButtonStyle1 {
        text-align: left;
        text-transform: initial;
        width:125px;
    } 
</style>