﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models

@{
    GlobalInfo global = GlobalInfo.getInstance();
    int appliedLevel = global.AppliedLevel.Value;
}

<div id="pupilRankingNew-container" class="row pupil-ranking-new-page">
    <div id="ClassPanel" class="vt-LeftPanel col-md-2 col-sm-3">
         <div class="SideBarTop">
            @Html.Partial("_ListClass")
        </div>
    </div>
    <div id="RightPanel" class="vt-RightPanel col-md-10 col-sm-9">
        @Html.ViettelHidden("ClassIDOld", 0)
        @Html.ViettelHidden("ClassID", 0)
        @if (@appliedLevel == 1)
        {
            @Html.ViettelHidden("Semester", new GlobalInfo().Semester.Value)
        }
        else
        {
            @Html.ViettelHidden("Semester", new GlobalInfo().Semester.Value)
        }
        @Html.ViettelHidden("EducationLevelID", 0)
        @Html.ViettelHidden("PeriodID", 0)
        <div id="SearchPanel">
            @Html.Partial("_Search")
        </div>
        <div class="Clear">
        </div>
        <div id="TitleGridPupilRankingNew" class="text-center mg-t-10 f-16 light-green">
        </div>
        <hr />
        <div style="padding-right: 10px;">
            <p style="text-align: right; color: Red;" id="pnTitle">
            </p>
        </div>
        <div class="Clear">
        </div>
        <div>
            <div id="gridPupilRankingNew">
            </div>
        </div>
    </div>
    </div>
@*</div>*@