﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.PupilRankingNewArea
@using SMAS.Web.Constants
@{
    IEnumerable<ClassProfile> listClass = ViewData[PupilRankingNewConstants.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<ViettelCheckboxList> listSemester = ViewData[PupilRankingNewConstants.LIST_SEMESTER] as List<ViettelCheckboxList>;
    int appliedLevel = (int)ViewData[PupilRankingNewConstants.LIST_APPLIEDLEVEL];
}
<div class="row no-margin">
    <div class="col-sm-11">
         @Html.ViettelListButtonStyle2("ListSemesterForPupilRankingSemester"
        , new GlobalInfo().Semester.Value.ToString()
        , new Dictionary<string, object>()
        , "javascript:ChoiceSemesterForPupilRankingNew(this)", listSemester, false)
    </div>
    <div class="col-sm-1 no-padding text-right">
    @if (ViewData[PupilRankingNewConstants.HAS_PERMISSION].ToString() == "true")
    {
        <div class="BoxMenuSection">
            <!-- menu box-->
            <div style="float: right;">
                <div style="position: absolute; top: 10px; right: 15px;">
                    @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
                </div>
            </div>
        </div>
    }
    @Html.ViettelHidden("ClassID", 0)
</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var applied = '@appliedLevel';
        if( applied== 1)
        {
            // Ẩn button cả năm
            $("#ListSemesterForPupilRankingSemester li[value=3]").css("display", "none");
        }
        else
        {
            // Hiện button cả năm
            $("#ListSemesterForPupilRankingSemester li[value=3]").css("display", "");
        }
        //GeneralClick();
    });
    function ChoiceSemesterForPupilRankingNew(button) {
        controlUtils.ChangeStyleButton(button);
        //$('#Semester').val($(button).parent().val());
        $('#Semester').val($(button).attr('value'));
        var Semester =  $('#Semester').val();
        $('#ClassIDOld').val($('#ClassID').val());
        GeneralClick();
        //        alert($(button).parent().val());
        @*$.ajax({
            url: '/PupilRankingNewArea/PupilRankingNew/AjaxLoadClass',
            type: 'post',
            data: { semesterid: Semester, appliedlevelid: @appliedLevel, classid:  $('#ClassIDOld').val()},

            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ClassPanel").html(msg);
                smas.hideProcessingDialog();
                GeneralClick();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })*@
    }
    function chkboxClick() {
        if ($("#chkPeriod").is(":checked")) {
            $("#cboPeriod").removeAttr("disabled");
            onPeriod();
        }
        else {
            $("#cboPeriod").attr("disabled", "");
            GeneralClick();
        }
    }
    function GeneralClick() {
        var ClassID = $("#ClassID").val();
        var Semester = $("#Semester").val();
        $("#TitleGridPupilRankingNew").html("");
        $("#pnTitle").html("");
        if(ClassID != 0 && ClassID != null && ClassID != "" && Semester != 0 && Semester != null && Semester != "")
        {
            var title = "@Html.Raw(Res.Get("PupilRanking_Label_TitleSearch"))";
            var semesterName = $("#ListSemesterForPupilRankingSemester a[value=" + Semester + "]").first().text();
            var className = $("#TreeClassForPupilRankingNew input[value=" + ClassID + "]").prev().html();
            title = title +" - "+semesterName+" - Lớp "+ className;
            $("#TitleGridPupilRankingNew").html(title);
            $("#TitleGridPupilRankingNew").css("display","block");
        }
        //alert("ClassiD= "+ClassID+";Semester="+Semester);
        if( !isNaN(ClassID) && !isNaN(Semester))
        {
            $.ajax({
                url: '/PupilRankingArea/PupilRanking/Search',
                type: 'post',
                data: { classid: ClassID, semesterid: Semester, appliedlevelid: @appliedLevel },
                beforeSend: function () {
                    //BOOMR.plugins.RT.startTimer("SearchPupilRanking");   //--> bắt đầu đo
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    if(@appliedLevel != 1)
                    {
                        $("#pnTitle").html('@Res.Get("PupilRanking_Label_Notification")');
                    }
                    $("#gridPupilRankingNew").html(msg);
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("SearchPupilRanking");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }


</script>
