﻿@model SearchCandidateMarkViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SearchCandidateMarkArea.Models
@using SMAS.Web.Areas.SearchCandidateMarkArea
@{
    IEnumerable<SearchCandidateMarkViewModel> lst = (IEnumerable<SearchCandidateMarkViewModel>)ViewData[SearchCandidateMarkConstants.LISTSEARCHCANDIDATEMARK];
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @string.Format(Res.Get("Common_Message_RowCount"), lst != null ? lst.Count() : 0)
        </div>
        <div class="vt-ResultPanel-Title-Button">
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        var index = 1;
        Html.Telerik().Grid<SearchCandidateMarkViewModel>(lst)
        .Name("GridSearchCandidateMark")
         .DataKeys(keys =>
         {
             keys.Add(p => p.PupilID);
         })
        .DataBinding(dataBinding => dataBinding
             .Ajax().OperationMode(GridOperationMode.Client)
        )
         .Columns(c =>
         {
             c.Template(@<text>@(index++)</text>)
                 .ClientTemplate("<#= lstInd++ #>")
                 .Title(@Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center;" })
                 .HeaderHtmlAttributes(new { style = "text-align:center" });
             c.Bound(o => o.PupilCode).Width(120).Sortable(true);
             c.Bound(o => o.FullName).Width(150).Sortable(true);
             c.Bound(o => o.ClassName).Width(80).Sortable(true);
             c.Bound(o => o.RoomTitle).Width(100).Sortable(true);
             c.Bound(o => o.NamedListCode).Width(100).Sortable(true);
             c.Bound(o => o.ExamMark).Width(90).Sortable(true);
             c.Bound(o => o.RealMark).Width(90).Sortable(true);
             c.Bound(o => o.Note).Sortable(true);
         })
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .ClientEvents(events => events.OnDataBinding("Grid_onDataBinding"))
        .Pageable(o => o.Enabled((bool)ViewData[SearchCandidateMarkConstants.PAGING_ENABLE]))
        .Selectable()
        .Render();      
        <div class="vt-ResultPanel-Footer">
            <div class="vt-ResultPanel-Footer-Left">
            </div>
            <div class="vt-ResultPanel-Footer-Right">
                @if ((bool)ViewData[SearchCandidateMarkConstants.ENABEL_EXCEL])
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "excelExport()", "")
                }
                else
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "", "t-state-disabled")
                }
            </div>
            <div class="Clear">
            </div>
        </div>
        <div class="dialog-buttons">
        </div>              
    }
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        e.data = jsonUtils.serializeObject("frmSearch");
        var grid = $('#GridSearchCandidateMark').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
</script>
