﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SearchCandidateMarkArea.Models
@using SMAS.Web.Areas.SearchCandidateMarkArea
@using (Ajax.BeginForm("Search",
                           "SearchCandidateMark",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstSearchCandidateMark",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
}
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }

    $(document).ready(function () {
        var examinationID = '@ViewData[SearchCandidateMarkConstants.DEFAULT_EXAMINATION]';
        var educationLevelID = '@ViewData[SearchCandidateMarkConstants.DEFAULT_EDUCATIONLEVEL]';
        $("#frmSearch #ExaminationID").val(parseInt(examinationID));
        $("#frmSearch #EducationLevel").val(parseInt(educationLevelID));
        controlUtils.loadComboBox(
            $("#frmSearch #ClassID"),
            '@Url.Action("AjaxLoadClass", "SearchCandidateMark")',
            { EducationLevelID: EducationLevelID, ExaminationID: ExaminationID },
            '@Res.Get("All")'
        );
    });

    function onExaminationChange(cbExamination) {
        var examinationID = $(cbExamination).val();
        $("#frmSearch #EducationLevel").find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');
        $('#ExaminationSubjectID').find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');
        $('#ExaminationRoomID').find('option').remove().end().append('<option value="">@Res.Get("All")</option>').val('whatever');
        $('#ClassID').find('option').remove().end().append('<option value="">@Res.Get("All")</option>').val('whatever');
        controlUtils.loadComboBox(
            $("#frmSearch #EducationLevel"),
            '@Url.Action("LoadEducationLevel", "SearchCandidateMark")',
            {examinationID: examinationID },
            '@Res.Get("CHOICE")'
        );
    }

    function onEducationLevelChange(cnEducationLevel) {
        var ExaminationID = $("#frmSearch #ExaminationID").val();
        var EducationLevelID = $(cnEducationLevel).val();

        controlUtils.loadComboBox(
            $("#frmSearch #ClassID"),
            '@Url.Action("AjaxLoadClass", "SearchCandidateMark")',
            { EducationLevelID: EducationLevelID, ExaminationID: ExaminationID },
            '@Res.Get("All")'
        );
        if (EducationLevelID != "" && ExaminationID != "") {
            LoadExaminationSubject(EducationLevelID, ExaminationID);
        }
    }

    function LoadExaminationSubject(EducationLevelID, ExaminationID) {
        controlUtils.loadComboBox(
            $("#frmSearch #ExaminationSubjectID"),
            '@Url.Action("AjaxLoadExaminationSubject", "SearchCandidateMark")',
            { EducationLevelID: EducationLevelID, ExaminationID: ExaminationID },
            '@Res.Get("SelectRK")'
        );
    }

    function onExaminationSubjectChange(cboExaminationSubject) {
        var ExaminationSubjectID = $(cboExaminationSubject).val();
        var ExaminationID = $("#frmSearch #ExaminationID").val();
        var EducationLevelID = $("#frmSearch #EducationLevel").val();
        controlUtils.loadComboBox(
            $("#frmSearch #ExaminationRoomID"),
            '@Url.Action("AjaxLoadExaminationRoom", "SearchCandidateMark")',
            { ExaminationSubjectID: ExaminationSubjectID, ExaminationID: ExaminationID, EducationLevelID: EducationLevelID },
            '@Res.Get("All")'
        );
    }

    function onExaminationRoomChange(cboExaminationRoom) {

    }

    function onClassChange(cboClass) {

    }
</script> 