﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthInsuranceManagementArea.Models
@using SMAS.Web.Areas.HealthInsuranceManagementArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseActionImport");
}

<style type="text/css">
   #button input{width:190px}#button{text-align:center}
</style>

@using (Ajax.BeginForm("ImportLegalData",
                           "PrimaryJudgeRecord",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "onBeginImportLegalData",
                               OnSuccess = "onSuccessImportLegalData",
                               OnFailure = "onFailImportLegalData",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmImport" }))
{
        @Html.AntiForgeryToken()
    <div id="button">
        <fieldset>
            @{
                var temp = (string)ViewData["ERROR_IMPORT_MESSAGE"];
                <div id="pnImportErrorTitle">
                    <p style="text-align: center; font-weight: bold; color: Red">@Res.Get("MarkRecord_Label_ImportErrorData")</p>
                    @*<p style="text-align: center; font-weight: bold;color:Red">@Html.Raw(temp)</p>*@
                </div>
            }

            @Html.ViettelButton(Res.Get("Common_Label_ShowDataBeforeImport"), "button", "ShowDataBeforeImport()", "")
            @*@Html.ViettelButton(Res.Get("Common_Label_ImportLegalData"), "button", "ajaxImportLegalData()", "")*@
            @Html.ViettelButton(Res.Get("Common_Label_Close"), "button", "CloseChooseAction()", "")
        </fieldset>
    </div>
        <div id="listDataBeforeImport" style="display: none; overflow: scroll;">
        @Html.Partial("_ListViewData")
    </div>


}

<script type="text/javascript">
    function ShowDataBeforeImport() {
        var buttonType = $("#ImportButtonType").val();
            $("#divListImport").html($("#listDataBeforeImport").html());
            smas.openDialog("ListImportDialog", "", {});     
    }

    function CloseChooseAction() {
        formUtils.resetForm("ImportExcelDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.closeDialog("ChooseActionDialog");
    }
    function onBeginImportLegalData() {
        smas.showProcessingDialog();
    }
    function onSuccessImportLegalData(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
            setTimeout('smas.closeDialog("importDialog");smas.hideProcessingDialog();', 100);
            ResetGrid();
        }
    }
    function onFailImportLegalData(ajaxContext) {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }

</script>
