﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".btnUploaderCss").hide();
        //$(".btnUploaderCss").find('span:first').text('Chọn file').attr("style", "text-align:center").attr("display","none");
        //$(".btnUploaderCss").find('span:first').html();
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });
            // Terminate the interval.
            clearInterval(_intervalId);
            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var dataInput = {  };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alert("Chỉ được import file excel có dung lượng <1MB")
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng")
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            button.click();
           
            if (!error) {
                smas.showProcessingDialog();
            }
        }

    }

    function OnImportError(e) {
        smas.alertImport(e);
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>

<div class="row p-t-10">
    <div class="col-sm-4 text-right">
        @Res.Get("File dữ liệu")&nbsp;
    </div>
    <div class="col-sm-8">
        @*@Html.ViettelTextbox(Res.Get("File dữ liệu"), "txtFilePath", null, new Dictionary<string, object>() {}, false, true)*@
        <input type="text" disabled="disabled" id="txtFilePath" class="bg-light" />&nbsp; &nbsp; &nbsp;
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        <button type="button" class="btn btn-success btn-icon btn-icon-folder" title="@Res.Get("Teaching_Schedule_CHON_TEP")" onclick="$('#attachments').click();">Chọn file</button>
        <p class="p-t-10"><i style="color:gray;">Kiểu file .xls, .xlsx. Dung lượng tối đa: 1MB</i></p><br />
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss fixtext" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "HealthInsuranceManagement")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport")
            .OnUpload("OnImportUpload")
            .OnSuccess("OnImportSuccess")
            .OnError("OnImportError")
)
)
    </div>

    <div style="text-align: center;">
        <span id="errorPanel" style="color: Red; font-weight: bold;"></span>

    </div>


</div>

<div class="col-sm-offset-4 col-sm-8 p-b-10">
    @Html.ViettelButton(Res.Get("Tải lên"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled btn btn-info btn-round")
</div>




