﻿@using SMAS.Web.Utils;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Web.Areas.HealthInsuranceManagementArea
@{
    ViewBag.Title = Res.Get("Quản lý BHYT");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="ContentSectionBtm health-insurance-management">
    <div class="ContentCalendar">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="SchoolCalendarSearch GenaralInfoSection">
                    @Html.Partial("_Search")
                </div>
                <div id="mainCalendar" class="SchoolCalendarResult">
                </div>      
            </div>
        </div>
    </div>
</div>

<script>
    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        if (e.response.Type == "success") {
            smas.alert(e.response.Message);
            setTimeout('smas.closeDialog("importDialog")', 200);
            setTimeout('smas.hideProcessingDialog();', 200);
            $("#searchBtn").click();
            //BOOMR.plugins.RT.endTimer("ImportPupilAbsence");  //--> kết thúc đo
            //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
        }
        else if (e.response.type == "ViewError") {
            //e.response.classID
            $.ajax({
                url: '@Url.Action("GetViewListToImport", "HealthInsuranceManagement")',
                data: { },
                success: function (msg) {
                    $("#dvChooseAction").html(msg);
                    smas.hideProcessingDialog();
                }
            });
            setTimeout('smas.openDialog("ChooseActionDialog", "", {});', 200);
            setTimeout('smas.closeDialog("importDialog")', 200);
        }
        else {

            formUtils.resetForm("importDialog");
            $("#errorPanel").html(e.response.Message);
        }
}
</script>

@(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("Nhập từ Excel"))
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(120)
                .ContentHtmlAttributes(new Dictionary<string, object>
                {
                    {"style", "padding: 0px 20px 0px 20px; min-width:430px;"}
                })
)
@(Html.Telerik().Window()
                .Name("ChooseActionDialog")
                .Title(Res.Get("Common_Label_ChooseAction"))
                .Content(@<text><div id="dvChooseAction">
                </div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(150)
                .ContentHtmlAttributes(new { style = "min-width:760px;" })
       )
@(Html.Telerik().Window()
                .Name("ListImportDialog")
                .Title(Res.Get("Common_Label_ShowDataBeforeImport"))
                .Content(@<text><div id="divListImport">
                </div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(500)
                .Resizable(u => u.Enabled(true))
                .ContentHtmlAttributes(new { style = "min-width:760px;" })
       )

@(Html.Telerik().Window()
        .Name("InsertPopUp")
            .Title("Thêm mới thẻ BHYT")
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(760)
        .Height(320).ContentHtmlAttributes(new { style = "min-width:760px;" })
       )


@(Html.Telerik().Window()
        .Name("UpdatePopUp")
            .Title("Cập nhật thẻ BHYT")
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(760)
        .Height(320)
        .ContentHtmlAttributes(new { style = "min-width:760px;" })
       )
