﻿@model SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models.EmployeeQualificationForTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models
<style type="text/css">
    #frmEditQualification .EmployeeName .editor-field input{width:315px}#frmEditQualification .QualifiedAt .editor-field input,#frmEditQualification .Result .editor-field input{width:314px}#frmEditQualification .Description .editor-field textarea{width:300px;height:80px}
</style>
@using (Ajax.BeginForm("Edit",
                       "EmployeeQualificationForTeacher",
                       null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditQualificationSuccess1",
                           OnFailure = "EditQualificationFail"
                       },
                       new { id = "frmEditQualification" }
                       ))
{
    <div id="EditEmulationCriteria" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("EmployeeQualificationID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "t-button vt-button-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editQualificationDialog');searchQualification();", "t-button vt-button-close")
        </div>
    </div>
}
<script type="text/javascript">
    function EditQualificationSuccess1(msg) {
        smas.alert(msg.Message);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editQualificationDialog");', 500);
            searchQualification();
        }
    }
    function EditQualificationFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
</script>
