﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea
@using SMAS.Web.Constants
@{
    int create = GlobalConstants.PERMISSION_LEVEL_CREATE;
    int edit = GlobalConstants.PERMISSION_LEVEL_EDIT;
    int delete = GlobalConstants.PERMISSION_LEVEL_DELETE;
    int hasPermission = (int)ViewData[EmployeeQualificationForTeacherConstants.HAS_PERMISSION];
    var list = (IEnumerable<EmployeeQualificationForTeacherViewModel>)ViewData[EmployeeQualificationForTeacherConstants.LIST_EMPLOYEEQUALIFICATION];
    bool IsCurrentYear = new GlobalInfo().IsCurrentYear;
    bool isEmployeeWorking = ViewData[EmployeeProfileManagementForTeacherConstant.EMPLOYEE_WORKING] == "true" ? true : false;
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            <p>@string.Format(Res.Get("Record_Result"), list.Count())
            </p>
        </div>
        <div class="vt-ResultPanel-Title-Button" style="text-align: right">
            @if (IsCurrentYear && hasPermission >= create && isEmployeeWorking)
            {
                if ((bool)ViewData["checkReadonly"])
                {
                    @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", "t-state-disabled")                    
                }
                else
                {
                    @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareQualificationCreate()", "t-button vt-button-addNew")
                }
            }
            else
            {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", "t-state-disabled")
            }
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="t-widget t-grid">
        @{
            var index = 1;

            var test = (IEnumerable<EmployeeQualificationForTeacherViewModel>)ViewData[EmployeeQualificationForTeacherConstants.LIST_EMPLOYEEQUALIFICATION];
            Html.Telerik()
                .Grid((IEnumerable<EmployeeQualificationForTeacherViewModel>)ViewData[EmployeeQualificationForTeacherConstants.LIST_EMPLOYEEQUALIFICATION])
                .Name("GridEmployeeQualification")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(18);
                    c.Bound(o => o.TrainingLevelName).Sortable(true).Visible(true).Width(49);
                    c.Bound(o => o.SpecialityName).Sortable(true).Visible(true).Width(65);
                    c.Bound(o => o.QualificationTypeName).Sortable(true).Visible(true).Width(53);
                    //c.Bound(o => o.QualifiedBy).Sortable(true).Width(50);
                    c.Bound(o => o.QualifiedAt).Sortable(true).Width(38);
                    c.Bound(o => o.FromDate).Sortable(true).Width(32);
                    c.Bound(o => o.QualifiedDate).Sortable(true).Width(32);
                    c.Bound(o => o.IsRequalifiedName).Sortable(true).Visible(true).Width(80);
                    c.Bound(o => o.Result).Sortable(true).Width(28);

                    c.Command(cmd =>
                    {
                        cmd.Custom("vtEdit")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Edit", "EmployeeQualificationForTeacher")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-vtEdit" });


                    }).Title(Res.Get("Common_Column_Edit")).Width(20);


                    c.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Delete", "EmployeeQualificationForTeacher")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-vtDelete" });


                    }).Title(Res.Get("Common_Column_Delete")).Width(20);
                })
                .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
                .ClientEvents(e => e.OnDataBinding("Grid_onQDataBinding")
                                    .OnCommand("Grid_onQCommand")
                                     .OnDataBound("Grid_OnDataBoundEmployeeQualification")
                )
                .DataKeys(keys => keys.Add(o => o.EmployeeQualificationID))
                .Scrollable(u => u.Enabled(true))
                .Pageable()
                .Sortable()
                .Editable(editing => editing.Mode(GridEditMode.PopUp))
                .Selectable()
                .Render();
                      
        }
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    var hasPermis = '@hasPermission';
    var jedit = '@edit';
    var jdelete = '@delete';
    var isEmployeeWorking = '@isEmployeeWorking';
    function Grid_OnDataBoundEmployeeQualification(e) {
        var isCurrentYear = '@ViewData[EmployeeProfileManagementForTeacherConstant.IS_CURRENT_YEAR]';
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit) || isEmployeeWorking == "False") {
            disableLinkEmployeeQualification();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete) || isEmployeeWorking == "False") {
            disableLinkEmployeeQualificationDetele();
        }
    }

    function Grid_onQDataBinding(e) {
        var grid = $('#GridEmployeeQualification').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = { EmployeeID: $("#EmployeeID").val() };

    }
    function Grid_onQCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editQualificationDialog");
            if (item.IsRequalified != null) {
                item.IsRequalified = item.IsRequalified.toString();
            }
            smas.bindTo(item, "editQualificationDialog");
            smas.openDialog("editQualificationDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            var s = '@Html.Raw(Res.Get("EmployeeQualification_Confirm_Delete1"))' + ' ' + item.EmployeeName + ' ' + '@Html.Raw(Res.Get("EmployeeQualification_Confirm_Delete2"))';
            if (confirm(s)) {
                smas.post('@Url.Action("Delete", "EmployeeQualificationForTeacher")', { id: item.EmployeeQualificationID }, searchQualification, null);
            }
        }
    }

    function PrepareQualificationCreate() {
        formUtils.resetForm("createQualificationDialog");
        var item = { EmployeeID: $("#EmployeeID").val(), EmployeeName: $("#EmployeeName").html() };
        smas.bindTo(item, "createQualificationDialog");
        smas.openDialog("createQualificationDialog", "", {});
    }
    function disableLinkEmployeeQualification() {
        $("#GridEmployeeQualification .t-grid-vtEdit .t-icon").removeClass("t-vtEdit");
        $("#GridEmployeeQualification .t-grid-vtEdit .t-icon").addClass("t-vtEditDisabled");
        $("#GridEmployeeQualification .t-grid-vtEdit").selectable(false);
    }
    function disableLinkEmployeeQualificationDetele() {
        $("#GridEmployeeQualification .t-grid-vtDelete .t-icon").removeClass("t-vtDelete");
        $("#GridEmployeeQualification .t-grid-vtDelete .t-icon").addClass("t-vtDeleteDisabled");
        $("#GridEmployeeQualification .t-grid-vtDelete").selectable(false);
    }
    $(document).ready(function () {
        var isCurrentYear = '@ViewData[EmployeeProfileManagementForTeacherConstant.IS_CURRENT_YEAR]';
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit) || isEmployeeWorking == 'False') {
            disableLinkEmployeeQualification();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete) || isEmployeeWorking == 'False') {
            disableLinkEmployeeQualificationDetele();
        }
    });
</script>
