﻿
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportConductStatisticsSecondaryArea.Models
@using SMAS.Web.Areas.ReportConductStatisticsSecondaryArea
@using SMAS.Business.BusinessObject

@{
    List<ConductStatisticsOfProvince23BO> lst = ViewData[ReportConductStatisticsSecondaryConstants.LIST_CONDUCTSTATISTIC_BY_SCHOOL] as List<ConductStatisticsOfProvince23BO>;
    var count = lst.Count;
   
    var index = 1;
    Html.Telerik()
        .Grid(lst)
        .Name("GridConductStatisticsOfProvince23")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(10);

            c.Bound(o => o.SchoolName).Sortable(true).Width(40).Title(@Res.Get("ReportConductStatisticsSecondary_Label_SchoolName"));
            c.Bound(o => o.SentDate).Sortable(true).Width(40).Title(@Res.Get("ReportConductStatisticsSecondary_Label_SentDate")).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.TotalPupil).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalPupil"));
            c.Bound(o => o.TotalGood).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalGood"));
            c.Bound(o => o.PercentGood).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_PercentGood"));
            c.Bound(o => o.TotalFair).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalFair"));
            c.Bound(o => o.PercentFair).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_PercentFair"));
            c.Bound(o => o.TotalNormal).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalNormal"));
            c.Bound(o => o.PercentNormal).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_PercentNormal"));
            c.Bound(o => o.TotalWeak).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalWeak"));
            c.Bound(o => o.PercentWeak).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_PercentWeak"));
            c.Bound(o => o.TotalAboveAverage).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_TotalAboveAverage"));
            c.Bound(o => o.PercentAboveAverage).Sortable(true).Width(30).Title(@Res.Get("ReportConductStatisticsSecondary_Label_PercentAboveAverage"));
            })
          
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding2")                         
        )
        .DataKeys(keys => keys.Add(o => o.SchoolID))
        .Scrollable(o => o.Enabled(true))
        .Render();
                      
}
<input id="btnExcel" type="button" title="@Res.Get("Common_Button_Export")" value="@Res.Get("Common_Button_Export")" onclick="exportExcel()" />

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding2(e) {
        var grid = $('#GridConductStatisticsOfProvince23').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    $(document).ready(function () {
            $('#btnExcel').attr('display','none');
        if (@count > 0) {
            $('#btnExcel').attr('display','inline');
            $('#btnExcel').attr('padding-left','50%');
        }
    })

    function exportExcel() {
        window.open("@Url.Action("DownloadReport", "ReportConductStatisticsSecondary")"+"?ProcessedReportID="+@ViewData[ReportConductStatisticsSecondaryConstants.FILE_ID]);
        
    }

    
    
   
</script>



