﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportConductStatisticsSecondaryArea.Models
@using SMAS.Web.Areas.ReportConductStatisticsSecondaryArea
@using SMAS.Business.BusinessObject

@*<form action="/ReportConductStatisticsSecondary/DownloadReport" method="post">*@

@{
    List<ConductStatisticsOfProvinceGroupByDistrict23BO> lst = ViewData[ReportConductStatisticsSecondaryConstants.LIST_CONDUCTSTATISTIC] as List<ConductStatisticsOfProvinceGroupByDistrict23BO>;
   
    var index = 1;
    //bool teacherPermision = (bool)ViewData[SchoolMovementConstants.PERMISSION]; 
    //<input type="hidden" value=@teacherPermision id="teacherPermision" name="teacherPermision"/>
    Html.Telerik()
        .Grid(lst)
        .Name("GridConductStatisticsOfProvinceGroupByDistrict23")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(15);
            c.Bound(o => o.DistrictName).Width(40).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_DistrictName"),2));
            c.Bound(o => o.TotalPupil).Width(30).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalPupil"),2));           
            c.Bound(o => o.TotalGood).Sortable(true).Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalGood"));
            c.Bound(o => o.PercentGood).Format("{0:N2}%").Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentGood"));
            c.Bound(o => o.TotalFair).Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalFair"));
            c.Bound(o => o.PercentFair).Format("{0:N2}%").Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentFair"));
            c.Bound(o => o.TotalNormal).Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalNormal"));
            c.Bound(o => o.PercentNormal).Format("{0:N2}%").Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentNormal"));
            c.Bound(o => o.TotalWeak).Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalWeak"));
            c.Bound(o => o.PercentWeak).Format("{0:N2}%").Width(30).HeaderTemplate(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentWeak"));
            c.Bound(o => o.TotalAboveAverage).Width(30).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalAboveAverage"),2));
            c.Bound(o => o.PercentAboveAverage).Format("{0:N2}%").Width(30).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentAboveAverage"),2));
            })
        
        
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                           
        )
        .DataKeys(keys => keys.Add(o => o.DistrictName))
   
        .Scrollable()
        .Render();
                      
}
<div style="text-align:center; padding-left: 150px; padding-top:5px; margin-right:180px; margin-left:20px;">
<input type="button" value='@Res.Get("Common_Button_Export")' onclick="exportReport()"/>
</div>
<script language="javascript">

    function exportReport() {
        window.open("@Url.Action("DownloadReport", "ReportConductStatisticsSecondary")"+"?ProcessedReportID="+@ViewData[ReportConductStatisticsSecondaryConstants.GRID_REPORT_ID]);        
    }
</script>

@*<div style="padding-top:5px;text-align:center;">
    @Html.HiddenFor(o=>o.EducationLevelID)
    @Html.HiddenFor(o => o.TrainingTypeID)
    @Html.HiddenFor(o => o.Semester)
    @Html.HiddenFor(o => o.AcademicYearID)
    @Html.HiddenFor(o => o.DistrictID)
    @Html.ViettelButton(Res.Get("Xuất Excel"), "button", "ExportExcel()","")
</div>
<div>
    <input type="submit" id="btnSub" />
</div>
</form>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridConductStatisticsOfProvinceGroupByDistrict23').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }


    function ExportExcel() {
        $("#btnSub").click();
    }
</script>*@



