﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportConductStatisticsSecondaryArea

@{

    ViewBag.Title = @Res.Get("ReportConductStatisticsSecondary_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Html.Partial("_Search")

<div id="gridReportConduct">
</div>

@(Html.Telerik().Window()
        .Name("AlertDialog")
        .Title(Res.Get("CreateRK"))
        .Content(@<text>
                    <div>
                        <div style="text-align:center;margin-bottom:10px">
                            <div>
                                <img src="@Url.Content("~/Content/images/alert-exel.png")" width="90" alt=""/></div>
                            <div class="clear:both;">
                            </div>
                            <div>
                                <a target="_blank" id="DownloadOldFile" onclick="smas.closeDialog('AlertDialog');" ><span style="float: left;">
                                    <img width="30" src="@Url.Content("~/Content/images/download.png")" alt=""></span> <span style="float: left;">
                                        <h1>
                                            <b>@Res.Get("Common_Button_DownloadFile") </b>
                                        </h1>
                                    </span></a>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <div id="MessageForExportDiv" >
        Báo cáo này đã được tổng hợp từ ngày <span id="ReportProcessedDate"></span>. Bạn có thể tải file đã tổng hợp hoặc tổng hợp lại.

                            </div>
                            <div class="clear:both;">
                            </div>
                            <div style="text-align: center;">
                                <button id="ExportNewFile" onclick="smas.closeDialog('AlertDialog');LoadGrid();" class="btn btn-info btn-round">
                                   @Res.Get("Common_Button_Resolve")</button>
                            </div>
                        </div>
                    </div>
                    </text>)
        .Buttons(buttons => buttons.Maximize().Close())
        .Resizable()
        .Draggable(true)
        .ClientEvents(events => events.OnOpen("smas.onOpenDialog"))
        .Visible(false)
        .Modal(true)
        .Width(600)
        .Height(250)
)
