﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.VTUtils.HtmlHelpers
<style type ="text/css">
    input[type="radio"] {
        margin-left:30px;
    }
    .t-header {
        text-align:left;
    }
</style>
<table>
    <tr>
        <td style ="padding:3px;">
            <label class="custom-radio-button">
            <label id="lblClassID">môn của lớp</label>
                <input type ="radio" id="rdoClassID" value ="1" checked ="checked" onchange ="RadioChangeCap(this)" />
                <span class="checkmark"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td style ="padding:3px;">
            <label class="custom-radio-button">
            <label id="lblAllClassID">Tất cả các môn</label>
            <input type ="radio" id="rdoAllClassID" value ="2" onchange ="RadioChangeCap(this)" />
            <span class="checkmark"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td style ="text-align:right;">
            <input type="button" style ="margin-top:10px;" id="btnExportCapAndQua" class="t-button btn btn-info btn-icon btn-round btn-icon-excel" value="Xuất Excel" onclick ="ExportCapAndQua()" />
        </td>
    </tr>
</table>
<script type ="text/javascript">
    function ExportCapAndQua()
    {
        var typeExport = 0;
        $('#ExportCapacityAndQuality').find('input[type="radio"]').each(function () {
            if ($(this).is(':checked')) {
                typeExport = $(this).val();
                return false;
            }
        });
        var classID = $('#HiddenPanel #ClassID').val();
        var semesterID = $('#HiddenPanel #Semester').val();
        var educationLevelID = $('#HiddenPanel #EducationLevelID').val();

        if (typeExport == 1) {
            window.location = "/RatedCommentPupilArea/RatedCommentPupil/ExportCapacityAndQuality?ClassID=" + classID + "&SemesterID="
                                + semesterID + "&TypeExport=" + typeExport + "&EducationLevelID=" + educationLevelID;
        }
        else {
            $.ajax({
                url: '@Url.Action("CheckGVBM", "RatedCommentPupil")',
                type: 'post',
                data: { ClassID: classID, SemesterID: semesterID, TypeExport: typeExport, EducationLevelID: educationLevelID },
                beforeSend: function () {
                },
                success: function (msg) {
                    if (msg.Type == 'success') {
                        window.location = "/RatedCommentPupilArea/RatedCommentPupil/ExportCapacityAndQuality?ClassID=" + classID + "&SemesterID="
                                + semesterID + "&TypeExport=" + typeExport + "&EducationLevelID=" + educationLevelID;
                    }
                    else {
                        smas.alertColor(msg.Message, 'red');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }
    }
    function RadioChangeCap(item) {
        $('#ExportCapacityAndQuality').find('input[type="radio"]').removeAttr('checked');
        $(item).attr('checked', 'checked');
    }
</script>