﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RatedCommentPupilArea
@using SMAS.Web.Areas.RatedCommentPupilArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Business.BusinessObject
@using SMAS.Web.Constants

@{
    GlobalInfo glo = new GlobalInfo();
    string strLastUpdate = ViewData[RatedCommentPupilConstants.LAST_UPDATE_STRING] != null ? (string)ViewData[RatedCommentPupilConstants.LAST_UPDATE_STRING] : "";
    List<EvaluationGridModel> lstResult = new List<EvaluationGridModel>();
    List<EvaluationCriteriaModel> lstEvaluationCriteriaModel = new List<EvaluationCriteriaModel>();
    EvaluationCriteriaModel objCriteriaModel = new EvaluationCriteriaModel();
    List<int> lstLasUpdateID = ViewData[RatedCommentPupilConstants.LAST_UPDATE_PERIOD_MARK] != null ? (List<int>)ViewData[RatedCommentPupilConstants.LAST_UPDATE_PERIOD_MARK] : new List<int>();
    List<EvaluationCriteiaBO> lstEvaluationCriteria = ViewData[RatedCommentPupilConstants.EVALUATION_CRITERIA] != null ? (List<EvaluationCriteiaBO>)ViewData[RatedCommentPupilConstants.EVALUATION_CRITERIA] : new List<EvaluationCriteiaBO>();
    List<CommentAutocompleteModel> lstAutocomplete = (List<CommentAutocompleteModel>)ViewData[RatedCommentPupilConstants.LIST_AUTOCOMPLETE];
    int currentSemester = glo.Semester.Value;
    int semester = 0;
    int isPrincipal = 0;
    bool isSuperVisingDept = glo.IsSuperVisingDeptRole;
    bool isSubSuperVisingDept = glo.IsSubSuperVisingDeptRole;
    bool isVisibleButton = true;
    bool GVCN = false;
    string TitleMarkGK = "";
    string TitleMarkCK = "";
    string LockTitle = string.Empty;
    bool disabled = false;
    string titleEvaluation = "";
    bool isLockInput = (bool)ViewData[RatedCommentPupilConstants.IS_LOCK_INPUT];
    string LockUserName = (string)ViewData[RatedCommentPupilConstants.LOCK_USER_NAME];
    titleEvaluation = "PC1 PC2 PC3 PC4";
    if (ViewData[RatedCommentPupilConstants.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[RatedCommentPupilConstants.SEMESTER_ID];
    }
    if (semester == GlobalConstants.SEMESTER_OF_YEAR_FIRST)
    {
        TitleMarkGK = "Giữa học kỳ I";
        TitleMarkCK = "Cuối học kỳ I";
    }
    else
    {
        TitleMarkGK = "Giữa học kỳ II";
        TitleMarkCK = "Cuối học kỳ II";
    }
    if (ViewData[RatedCommentPupilConstants.IS_VISIBLED_BUTTON] != null)
    {
        isVisibleButton = (bool)ViewData[RatedCommentPupilConstants.IS_VISIBLED_BUTTON];
    }
    if (ViewData[RatedCommentPupilConstants.GVCN_TEACHER] != null)
    {
        GVCN = (bool)ViewData[RatedCommentPupilConstants.GVCN_TEACHER];
    }
    if (ViewData[RatedCommentPupilConstants.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[RatedCommentPupilConstants.SEMESTER_ID];
    }
    if (ViewData[RatedCommentPupilConstants.LIST_PUPIL_EVALUATION] != null)
    {
        lstResult = (List<EvaluationGridModel>)ViewData[RatedCommentPupilConstants.LIST_PUPIL_EVALUATION];
    }
    if (ViewData[RatedCommentPupilConstants.LOCK_MARK_TITLE] != null)
    {
        LockTitle = (string)ViewData[RatedCommentPupilConstants.LOCK_MARK_TITLE];
    }
}
@using (Ajax.BeginForm("SaveComentsPupil",
                       "RatedCommentPupil",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnComplete",
                           OnSuccess = "SaveSuccessQua",
                           OnFailure = "SaveQuaFail"
                       },
                       new { id = "frmQualities" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValue", "")
    @Html.Hidden("hdfTypeID", 0)
    <div id="ContentMark">
        <div id="GridData"><div id="Notes" class="p-b-10 row">
                <div class="col-sm-12">
                    <div class="inline-block p-t-15">
                        <span id="lblLastUpdateID">@Html.Raw(strLastUpdate)</span>
                    </div>
                    <div id="buttonID" class="inline-block pull-right mg-t-10 mg-b-10">
                        @{
                                if (glo.IsCurrentYear)
                                {
                                    <input type="button" id="FastCommentID" class="btn btn-info btn-round" onclick="OnClickFastComment(this)" value="@Res.Get("Nhận xét nhanh")" />
                                }
                                <input type="button" id="btnZoomIn" class="btn btn-info btn-round" onclick="FullScreen(this)" value="@Res.Get("Common_Button_ZoomIn")" />
    if (lstResult.Count > 0)
    {
        if (glo.IsCurrentYear && !(isSuperVisingDept && isSubSuperVisingDept))
        {
            if ((GVCN && currentSemester == semester && isVisibleButton) || glo.IsAdminSchoolRole)
            {  
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClickQua(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
                List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                if (!isLockInput)
                {
                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));    
                }
                listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
                if (!isLockInput)
                {
                    <input type="submit" id="btnQuaSubmit" class="t-button" style="display: none;" />
                    <input type="button" id="btnQuaSave" class="btn btn-info btn-round btn-icon btn-icon-save" value="Lưu" onclick="return SetValueHiddenQua();" />
                    <input type="button" id="btnDelete" class="btn btn-basic btn-round btn-icon btn-icon-times" onclick="DeleteCommentSubject()" value="Xóa" />
                }
            }
            else
            {
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClickQua(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
                List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
            }
        }
        else
        {
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClickQua(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
            List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
            listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
        }
    }
                            }
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                 <span>Trong cột <b>@titleEvaluation</b>, <b>Tốt</b> nhập <span style="color: #d56900;"><b>T</b></span> hoặc <span style="color: #d56900;"><b>1</b></span>
                                , <b>Đạt</b> nhập <span style="color: #d56900;"><b>D</b></span> hoặc <span style="color: #d56900;"><b>2</b></span>
                                , <b>Cần cố gắng</b> nhập <span style="color: #d56900;"><b>C</b></span> hoặc <span style="color: #d56900;"><b>3</b></span>
                            </span>
                </div>
            </div>
            
            @{
    var index = 1;
    string styleColor = "";
    Html.Telerik()
    .Grid(lstResult)
    .Name("GridQualities")
    .Columns(c =>
    {
        c.Template(@<text>
                @{
                    @index;
                          index++;
                          disabled = item.Status != SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;
                          styleColor = lstLasUpdateID.Contains(item.PupilID) ? "style = font-weight:bold;color:#d56900;" : "";
                }
                </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
        c.Template(@<text>

                @{
                    if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                    {
<span style="padding-left:3px">@item.FullName</span>
                    }
                    else
                    {
<span style="padding-left:3px;color:red">@item.FullName</span>
                    }
                }
                </text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).Width(130);
        c.Template(@<text>
                @{
<table cellspacing="0">
                <tr>

                    @{
                        lstEvaluationCriteriaModel = item.lstEvalutionCriteria.ToList();
                        for (int i = 0; i < lstEvaluationCriteria.Count; i++)
                        {
                            objCriteriaModel = lstEvaluationCriteriaModel.Where(p => p.EvaluationCriteriaID == lstEvaluationCriteria[i].EvaluationCriteriaID).FirstOrDefault();
<td>
                                <input class ="@("inputText PCGK" + (i + 1))" @((LockTitle.Contains("PCGK" + semester) || disabled) ? "disabled=disabled" : "") @styleColor type ="text" id="@("QualityGK_" + lstEvaluationCriteria[i].EvaluationCriteriaID + "_" + item.PupilID)" name ="@("QualityGK_" + lstEvaluationCriteria[i].EvaluationCriteriaID + "_" + item.PupilID)" value ="@(objCriteriaModel != null ? objCriteriaModel.GKName : "")" />
                            </td>
                        }
                    }
                    </tr>
            </table>
                }
                </text>)
        .HeaderTemplate(@<text>
                <table>
                    <tr>
                        <td colspan="@lstEvaluationCriteria.Count" style ="text-align:center;">@TitleMarkGK
                            @if (LockTitle.Contains("PCGK" + semester))
                            {
                                <br />
                                <input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Comment"))"/>
                            }
                            else
                            {
                                <br />
                                <input type="button" class="mark-lock-button tooltip" style="visibility: hidden" />
                            }
                        </td>

                    </tr>
                    <tr>
                        @for (int i = 0; i < lstEvaluationCriteria.Count; i++)
                        {
                            <td style="text-align: center;" class ="@(glo.IsCurrentYear && isVisibleButton && !LockTitle.Contains("PCGK" + semester) ? "HeaderQuality" : "")" value="@("PCGK" + (i + 1))">
                                <span title="@lstEvaluationCriteria[i].CriteriaName">@("PC" + (i + 1))</span>
                            </td>    
                        }
                    </tr>
                </table>
                </text>)
    .HtmlAttributes(new { style = "text-align:center" }).Width(200);
        c.Template(@<text>
                @{
<table cellspacing="0">
                <tr>

                    @{
                        lstEvaluationCriteriaModel = item.lstEvalutionCriteria.ToList();
                        for (int i = 0; i < lstEvaluationCriteria.Count; i++)
                        {
                            objCriteriaModel = lstEvaluationCriteriaModel.Where(p => p.EvaluationCriteriaID == lstEvaluationCriteria[i].EvaluationCriteriaID).FirstOrDefault();
<td>
                                <input class ="@("inputText PCCK" + (i + 1))" @((LockTitle.Contains("PCCK" + semester) || disabled) ? "disabled=disabled" : "") @styleColor type ="text" id="@("QualityCK_" + lstEvaluationCriteria[i].EvaluationCriteriaID + "_" + item.PupilID)" name ="@("QualityCK_" + lstEvaluationCriteria[i].EvaluationCriteriaID + "_" + item.PupilID)" value ="@(objCriteriaModel != null ? objCriteriaModel.CKName : "")" />
                            </td>
                        }
                    }
                    </tr>
            </table>
                }
                </text>)
            .HeaderTemplate(@<text>
                <table>
                    <tr>
                        <td colspan="@lstEvaluationCriteria.Count" style ="text-align:center;">@TitleMarkCK
                            @if (LockTitle.Contains("PCCK" + semester))
                            {
                                <br />
                                <input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Comment"))"/>
                            }
                            else
                            {
                                <br />
                                <input type="button" class="mark-lock-button tooltip" style="visibility: hidden" />
                            }
                        </td>
                    </tr>
                    <tr>
                        @for (int i = 0; i < lstEvaluationCriteria.Count; i++)
                        {
                            <td style="text-align: center;" class ="@(glo.IsCurrentYear && isVisibleButton && !LockTitle.Contains("PCCK" + semester) ? "HeaderQuality" : "")" value="@("PCCK" + (i + 1))">
                                <span title="@lstEvaluationCriteria[i].CriteriaName">@("PC" + (i + 1))</span>
                            </td>    
                        }
                    </tr>
                </table>
                </text>)
        .HtmlAttributes(new { style = "text-align:center" }).Width(200);
        c.Template(@<text>
                @{
                    string disabledtext = "disabled=disabled";
                    if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                    {
                        if (!LockTitle.Contains("PCGK" + semester) || !LockTitle.Contains("PCCK" + semester))
                        {
                            disabledtext = "";
                        }
                    }
                }
                <textarea class ="txtCommentQua" style="text-align:left !important;@(!string.IsNullOrEmpty(styleColor) ? "font-weight:bold;color:#d56900;" : "");width:100% !important;" 
                    id="@("txtCommentQuaID_" + item.PupilID)" name="@("txtCommentQuaID_" + item.PupilID)" @disabledtext maxlength="1500">@item.Comment</textarea>
                <div class="CommentDiv" style="display:none;position:absolute;background:ghostwhite;">
                </text>).HeaderTemplate(@<text>
                <table>
                    <tr>
                        <td colspan="2" rowspan="2" style="text-align: center;">Nhận xét
                        @if (LockTitle.Contains("PCGK" + semester) && LockTitle.Contains("PCCK" + semester))
                        {
                            <br />
                            <input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Comment"))"/>
                        }
                        else
                        {
                            <br />
                            <input type="button" class="mark-lock-button tooltip" style="visibility: hidden" />
                        }
                        </td>
                    </tr>
                </table>
                </text>)
        .HtmlAttributes(new { style = "text-align:center" }).Width(300);
        c.Template(@<text>
                @if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {   <label class="custom-checkbox"><input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneCheckedQua();" />
<span class="checkmark"></span></label>
                }
                </text>).HeaderTemplate(@<text><label class="custom-checkbox"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAllQua(this);" /><span class="checkmark"></span></label>
                
                </text>).HtmlAttributes(new { style = "text-align:center" }).Width(55);
    })
    .DataKeys(keys => keys.Add(o => o.PupilID))
    .Scrollable(p => p.Height(350))
    .Selectable()
    .Footer(false)
   .Render();
            }
            <div id="titleNoteCap" style="margin-top: 5px;">
                <span><span style="color: #d56900;"><b>PC1</b></span> - Chăm học, chăm làm, tích cực tham gia hoạt động giáo dục; 
                    <span style="color: #d56900;"><b>PC2</b></span> - Tự trọng, tự tin, tự chịu trách nhiệm; 
                    <span style="color: #d56900;"><b>PC3</b></span> - Trung thực, kỷ luật, đoàn kết;
                    <span style="color: #d56900;"><b>PC4</b></span> - Tình cảm, thái độ
                </span>
            </div>
        </div>
    </div>
}
<script type="text/ecmascript">
    if ('@isLockInput' == 'True') {
        $('#bntlockInputRatedComment').attr('title', stringUtils.HtmlDecode('@LockUserName'));
        $('#bntlockInputRatedComment').show();
    }
    else {
        $('#bntlockInputRatedComment').hide();
    }
    $(document).ready(function (event) {
        controlUtils.AddMoveButtonEvent("#frmQualities");
        controlUtils.AddMoveTabEvent("#frmQualities");
        arrAutocomlete = @Html.Raw(Json.Encode(lstAutocomplete));
        if ('@isPrincipal' == 1) {
            $('.btnPopup').hide();
        }
        var classID = $('#ClassID').val();
        if (classID == 0) {
            $("#ClassNameTitle").html("");
        }

        //Xu ly nut zoom
        if ($('#content').hasClass("fullscreen")) {
            $("#btnZoomIn").val('@Html.Raw(Res.Get("Common_Button_ZoomOut"))');
        }
        else {
            $("#btnZoomIn").val('@Html.Raw(Res.Get("Common_Button_ZoomIn"))');
        }
    });
    function onInOutClickQua(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 40, "z-index": "1",width:'115px' });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandleQua(this)");
    };
    function InOutHandleQua(item) {
        if ($(item).attr('value') == 1) {
            $('#ImportCapacityAndQuality .t-window-content.t-content').css('width', '600px');
            $('#ImportCapacityAndQuality .t-window-content.t-content').css('height', 'auto !important');
            smas.openDialog('ImportCapacityAndQuality', '', {});
        }
        else {
            var classid = $('#HiddenPanel #ClassID').val();
            var className = "";
            var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
            $('#ClassChoiceID #strClassNameID').html(temp);

            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "lớp " + $("#TreeClass input[value=" + classid + "]").prev().html();
            }
            else {
                className = $("#TreeClass input[value=" + classid + "]").prev().html();
            }

            var str1 = 'Sổ đánh giá <span style="font-weight: 600">Năng lực - Phẩm chất</span> của ' + '<span style="font-weight: 600">' + className + '</span>';
            $('#ExportCapacityAndQuality #lblClassID').html(str1);
            var str2 = 'Sổ đánh giá <span style="font-weight: 600">Năng lực - Phẩm chất </span>của tất cả các lớp được phân chủ nhiệm';
            $('#ExportCapacityAndQuality #lblAllClassID').html(str2);
            smas.openDialog("ExportCapacityAndQuality", "", {});
        }
    }
    function OnclickAllQua(item) {
        if ($(item).is(':checked')) {
            $('#frmQualities').find('input[id^="chk_"]').attr('checked', 'checked');
        }
        else {
            $('#frmQualities').find('input[id^="chk_"]').removeAttr('checked');
        }
    }
    function OneCheckedQua() {
        var countTotal = $('#frmQualities').find('input[id^="chk_"]').length;
        var countChecked = 0;
        $('#frmQualities').find('input[id^="chk_"]').each(function () {
            if ($(this).is(':checked')) {
                countChecked++;
            }
        });
        if (countChecked == countTotal) {
            $('#frmQualities #chkAll').attr('checked', 'checked');
        }
        else {
            $('#frmQualities #chkAll').removeAttr('checked');
        }
    }
    function SetValueHiddenQua() {
        var countChecked = 0;
        $('#frmQualities').find('input[id^="chk_"]').each(function () {
            if ($(this).is(':checked')) {
                countChecked++;
            }
        });
        if (countChecked == 0) {
            smas.alertColor('Thầy/cô chưa chọn học sinh', 'red');
            return;
        }
        var typeID = $('#TypeID').val();
        $('#frmQualities #hdfValue').html($('#HiddenPanel').html());
        $('#frmQualities #hdfTypeID').val(typeID);
        $('#frmQualities #btnQuaSubmit').click();
    }
    function SaveSuccessQua(e) {
        smas.hideProcessingDialog();
        smas.alert(e.Message);
        LoadGrid();
    }
    $('#frmQualities .inputText').keyup(function (e) {
        if (e.which == 37 || e.which == 38 || e.which == 39 || e.which == 40) {
            return true;
        }
        var valueText = this.value;
        var htmlVal = '';
        if (valueText == '1' || valueText == 'T' || valueText == 't') {
            htmlVal = 'T';
        }
        else if (valueText == '2' || valueText == 'D' || valueText == 'd' || valueText == 'Đ' || valueText == 'đ') {
            htmlVal = 'Đ';
        }
        else if (valueText == '3' || valueText == 'C' || valueText == 'c') {
            htmlVal = 'C';
        }
        this.value = htmlVal;
    });
    $('#frmQualities .inputText').blur(function (e) {
        var valueText = this.value;
        var htmlVal = '';
        if (valueText == '1' || valueText == 'T' || valueText == 't') {
            htmlVal = 'T';
        }
        else if (valueText == '2' || valueText == 'D' || valueText == 'd' || valueText == 'Đ' || valueText == 'đ') {
            htmlVal = 'Đ';
        }
        else if (valueText == '3' || valueText == 'C' || valueText == 'c') {
            htmlVal = 'C';
        }
        this.value = htmlVal;
    });
    function SaveQuaFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    $("#GridData .HeaderQuality").click(function (e) {
        if ($(this).hasClass("HeaderQuality")) {
            var position = $(this).offset();
            $("#BoxChoiceQua").css({ position: "absolute", left: position.left - 230, top:position.top - 107, width: "95px", "z-index": "1" });
            $("#BoxChoiceQua").show();
        }
        var htmlVal = $(this).attr('value');

        if ($(this).hasClass("HeaderQuality")) {
            $("#BoxChoiceQua").find("a").attr("onclick", 'FillQuality(this,"' + htmlVal + '")');
        }
    });
    function FillQuality(valitem, item) {
        $('#GridQualities .' + item + ':not(:disabled)').val($(valitem).html());
    }
    $(document).click(function (event) {
        if (!$(event.target).hasClass("HeaderQuality") && !$(event.target).parent().hasClass("HeaderQuality")) {
            $("#BoxChoiceQua").css("display", "none");
        }
        if (!$(event.target).hasClass("CommentQuaDiv")) {
            $('.CommentQuaDiv').hide();
        }
    });
</script>
