﻿
<div id="menu12">
    <div style="visibility: hidden" class="panner" id="pannerLeft" data-scroll-modifier='-1'>
        <ul style="text-align: center">
            <li><a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-left"></a></li>
        </ul>
    </div>
    <div id="listSubjectWraper" class="text-center">
    </div>
    <div style="visibility: hidden;" class="panner" id="pannerRight" data-scroll-modifier='1'>
        <ul style="text-align: center">
            <li ><a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-right"></a></li>
        </ul>
    </div>
</div>
<script type ="text/javascript">
    $(document).ready(function () {
        ScrollSubject();
    });
    function ChoiceSubject(button)
    {
        var subjectID = $(button).attr('value');
        var isCommenting = $('.ListSubject #' + subjectID).val();
        $('#HiddenPanel #IsCommenting').val(isCommenting);
        controlUtils.ChangeStyleButton(button);
        var typeID = $('#TypeID').val();
        if (typeID == 1) {
            $('#HiddenPanel #SubjectID').val(subjectID);
        }
        $('#lstResult').html('');
        LoadGrid();
    }
</script>