@model EducationalManagementGradeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EducationalManagementGradeArea.Models
@using SMAS.Web.Areas.EducationalManagementGradeArea

@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    IEnumerable<EducationalManagementGradeViewModel> lsEmployeeDis = (IEnumerable<EducationalManagementGradeViewModel>)ViewData[EducationalManagementGradeConstants.LIST_EDUCATIONALMANAGEMENTGRADE];
    var count = lsEmployeeDis.Count();
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="text-right">
            @{
                if (checkCreate)
                {
                <input type="button" class="btn btn-info btn-icon btn-round btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
                }
            }
        </div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<EducationalManagementGradeViewModel>)ViewData[EducationalManagementGradeConstants.LIST_EDUCATIONALMANAGEMENTGRADE])
            .Name("GridEducationalManagementGrade")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HeaderTemplate(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                c.Bound(o => o.Resolution);
                c.Bound(o => o.Description).Visible(true);
                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "EducationalManagementGrade")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
                }).HeaderTemplate(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" });
                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "EducationalManagementGrade")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-delete" });
                }).HeaderTemplate(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "EducationalManagementGrade"))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.EducationalManagementGradeID))
            .Pageable()
            .Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Selectable()
            .Render();
    }

</div>

<script type="text/javascript">
    var lstInd = 0;
    function onDataLoadPageLast() {
        var grid = $('#GridEducationalManagementGrade').data('tGrid');
        grid.pageTo(grid.totalPages());
    }

    function Grid_onDataBinding(e) {
        var grid = $('#GridEducationalManagementGrade').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("DeleteMsgRK"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.EducationalManagementGradeID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>



