﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.RewardCommentFinalArea;
@using SMAS.Web.Areas.RewardCommentFinalArea.Models;
@{
    List<RewardCommentFinalViewModel> lstResult = new List<RewardCommentFinalViewModel>();
    if (ViewData[RewardCommentFinalConstant.LIST_REWARDCOMMENT_FINAL] != null)
    {
        lstResult = (List<RewardCommentFinalViewModel>)ViewData[RewardCommentFinalConstant.LIST_REWARDCOMMENT_FINAL];
    }
 }
<style>
    [id^=OutStanding] {
        width: 99%;
        height: 60px;
    }
    [id^=RewardMod] {
     height:100%;
    }
    .divCheckBox {
        background-color: seashell;
        border: 1px solid;
        display: block;
        margin: 10px;
        margin-left: 30px;
        padding: 10px;
        position: absolute;
        width: 180px;
    }

</style>
@using (Ajax.BeginForm("ImportError",
                       "RewardCommentFinal",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "OnBegin",
                           OnComplete = "OnComplete",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmChooseAction" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("ClassID", 0)
    @Html.ViettelHidden("SemesterID", 0)
    @Html.ViettelHidden("ClassName", "")
        <div id="GridData">
            @{
    var index = 1;
    Html.Telerik()
        .Grid(lstResult)
        .Name("GridRewardCommentFinalErr")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Template(@<text>@{
                if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    <span id ='@("PupilName_" + item.PupilID)'> @item.FullName </span>
                }
                else
                {
                    <span id ='@("PupilName_" + item.PupilID)' style="color:red"> @item.FullName </span>
                }
            }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left;padding-left:5px;" }).Width(150);
            c.Template(@<text>@{ 
                @*<textarea id='@("OutStanding_" + item.PupilID)' name='@("OutStanding_" + item.PupilID)'>@item.OutstandingAchievement</textarea>*@
                <span>@item.OutstandingAchievement</span>
                <input type ="hidden" id='@("OutStanding_" + item.PupilID)' name='@("OutStanding_" + item.PupilID)' value ="@item.OutstandingAchievement" />
            }</text>).Title("Các thành tích nổi bật,<br/>điều cần khắc phục,giúp đỡ").HtmlAttributes(new { style = "text-align:center" }).Width(200);
            c.Template(@<text>@{ 
                    <div id ='@("RewardMod_" + item.PupilID)' style="height:50px" onclick ="ShowDivCheckBox(@item.PupilID)">  
                        <label id = '@("lblReward_" + item.PupilID)'>@item.RewardMode</label> 
                        <input type ="hidden" id ='@("hfRewardID_" + item.PupilID)' name ='@("RewardID_" + item.PupilID)' value ="@item.RewardID" />      
                    </div>
                    
            }</text>).Title("Khen thưởng").HtmlAttributes(new { style = "text-align:center" }).Width(180);
            c.Template(@<text>@{ 
                        <span style ="color:red;">@item.MessageError</span>   
            }</text>).Title("Mô tả").HtmlAttributes(new { style = "text-align:center" }).Width(180);
            c.Template(@<text>
                @{
                    if (item.Status == 1 && string.IsNullOrEmpty(item.MessageError))
                    {
                        //chi hien cac checkbox voi hoc sinh dang hoc
                        <input type="checkbox" id='@("chk_" + item.PupilID)' disabled ="disabled" checked="checked" />
                        <input type="hidden" name='@("chk_" + item.PupilID)' value="on" />
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisabled" disabled ="disabled" />
                    }
                }
                </text>)
            .HeaderTemplate(@<text>#</text>).HtmlAttributes(new { style = "text-align:center" }).Width(30);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .Scrollable(p => p.Height(400))
        .Selectable()
       .Render();
            }
        </div>
    <br />
        <div id="ListButton" style ="float:right;">
                <input type="submit" id="btnSave" class="t-button " value="Lưu"/>
                <input type="button" id="btnClose" class="t-button " onclick="OnClose()" value="Đóng"/>
        </div>
}

<script type ="text/javascript">
    function OnClose()
    {
        smas.closeDialog("importErr");
    }
    function OnBegin()
    {
        var className = $('#ClassNameTitle').html();
        $('#SemesterID').val($('#Semester').val());
        $('#ClassName').val(className);
        smas.showProcessingDialog();
    }
    function SaveFail(ajaxContext) {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }
    function SaveSuccess(data) {
        if (data.Type == "error") {
            smas.alertColor(data.Message, "red");
        }
        else {
            smas.alert(data.Message);
            smas.closeDialog("importErr");
        }
        AjaxLoadGridForRewardCommentFinal();
    }
</script>