﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.RewardCommentFinalArea;
@using SMAS.Web.Areas.RewardCommentFinalArea.Models;
@using SMAS.Business.Common;
@{
    bool isEnabled = true;
    string disabled = "";
    List<RewardCommentFinalViewModel> lstResult = new List<RewardCommentFinalViewModel>();
    List<RewardFinal> lstRewardFinal = new List<RewardFinal>();
    RewardFinal objReward = new RewardFinal();
    bool disabled_button = false;
    if (ViewData[RewardCommentFinalConstant.DISABLED_BUTTON] != null)
    {
        disabled_button = (bool)ViewData[RewardCommentFinalConstant.DISABLED_BUTTON];
    }
    if (ViewData[RewardCommentFinalConstant.LIST_REWARDCOMMENT_FINAL] != null)
    {
        lstResult = (List<RewardCommentFinalViewModel>)ViewData[RewardCommentFinalConstant.LIST_REWARDCOMMENT_FINAL];
    }
    if (ViewData[RewardCommentFinalConstant.LIST_REWARD_FINAL] != null)
    {
        lstRewardFinal = (List<RewardFinal>)ViewData[RewardCommentFinalConstant.LIST_REWARD_FINAL];
    }
    if (ViewData[RewardCommentFinalConstant.DISABLED_BUTTON] != null)
    {
        isEnabled = (bool)ViewData[RewardCommentFinalConstant.DISABLED_BUTTON];
        if (!isEnabled)
        {
            disabled = "disabled='disabled'";
        }
    }
    string isChecked = string.Empty;
 }

@using (Ajax.BeginForm("InsertOrUpdateRewardCommentFinal",
                       "RewardCommentFinal",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "OnBegin",
                           OnComplete = "OnComplete",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail",
                       },
                       new { id = "frmDataRewardCommentFinal" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("ClassID", 0)
    @Html.ViettelHidden("SemesterID", 0)
    @Html.ViettelHidden("ClassName", "")
        <div id="GridData">
            @{
    var index = 1;
    Html.Telerik()
        .Grid(lstResult)
        .Name("GridRewardCommentFinal")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Template(@<text>@{
                if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    <span id ='@("PupilName_" + item.PupilID)'> @item.FullName </span>
                }
                else
                {
                    <span id ='@("PupilName_" + item.PupilID)' style="color:red"> @item.FullName </span>
                }
            }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left;padding-left:5px;" }).Width(150);
            c.Template(@<text>@{ 
                if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    if (item.IsCommentSubject && item.IsCommentEvaluation)
                    {
                            <img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowComments('@item.PupilID')" />                                           
                    }
                    else
                    {
                            <img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowComments('@item.PupilID')" />
                    }
                }
                
            }</text>).Title("Đánh giá").HtmlAttributes(new { style = "text-align:center" }).Width(90);
            c.Template(@<text>@{ 
                if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    <textarea id='@("OutStanding_" + item.PupilID)' class="OutStanding" name='@("OutStanding_" + item.PupilID)' onblur ="OnBlur(this)" @disabled maxlength ="500">@item.OutstandingAchievement</textarea>
                }
                else
                {
                    <span style ="text-align:left;">@item.OutstandingAchievement</span>
                }
                
            }</text>).Title("Các thành tích nổi bật, điều cần khắc phục, giúp đỡ").Width(350);
            c.Template(@<text>@{ 
                if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    if (string.IsNullOrEmpty(disabled))
                    {
                        <div id ='@("RewardMod_" + item.PupilID)' style="height:auto" onclick ="ShowDivCheckBox(@item.PupilID)">  
                        <label id = '@("lblReward_" + item.PupilID)' @disabled>@(string.IsNullOrEmpty(item.RewardID) ? "[Lựa chọn]" : item.RewardMode)</label> 
                        <input type ="hidden" id ='@("hfRewardID_" + item.PupilID)' name ='@("RewardID_" + item.PupilID)' value ="@item.RewardID" /> 
                        <div id ='@("divCheckBox_" + item.PupilID)' class="divCheckBox mg-b-10" style ="display:none;" onmouseover="ShowDivCheckBox(@item.PupilID)" onmouseleave ="OnMouseLeave(@item.PupilID);">       
                            @if(lstRewardFinal.Count == 0)
                            {
                                <div id = '@("MsgRewardEmpty_" + item.PupilID)'></div>
                            }
                            else
                            {
                                string[] RewardIDArr = !string.IsNullOrEmpty(item.RewardID) ? item.RewardID.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries) : null;
                                string tmp = string.Empty;
                                for (int i = 0; i < lstRewardFinal.Count; i++)
                                {
                                    objReward = lstRewardFinal[i];
                                    if (RewardIDArr != null)
                                    {
                                        for (int j = 0; j < RewardIDArr.Count(); j++)
                                        {
                                            tmp = RewardIDArr[j];
                                            if (item.RewardID != null && objReward.RewardFinalID.ToString() == tmp)
                                            {
                                                isChecked = "checked = 'checked'";
                                                break;
                                            }
                                        }
                                    }
                                    <label class="custom-checkbox p-r-0" style="margin-bottom:12px">
                                    <input type="checkbox" name="chkReward" class =@("chk_RewardFinalID_" + item.PupilID) id ="@("chk_" + objReward.RewardFinalID)" onclick ="OnChecked(@objReward.RewardFinalID,@item.PupilID)" textdefaul="@objReward.RewardMode" value="@objReward.RewardFinalID" @isChecked/>
                                        <span class="checkmark"></span>
                                    </label>
                                    @objReward.RewardMode<br/>
                                    isChecked = string.Empty;
                                }
                            }                       
                        </div>                   
                    </div>
                    }
                    else
                    {
                        <label>@(string.IsNullOrEmpty(item.RewardID) ? "[Lựa chọn]" : item.RewardMode)</label> 
                    }
                }
                else
                {
                    <span style ="text-align:left;">@item.RewardMode</span>
                }
                    
                    
            }</text>).Title("Khen thưởng").Width(180);
                
            if (!GlobalInfo.getInstance().IsSuperVisingDeptRole && !GlobalInfo.getInstance().IsSubSuperVisingDeptRole)
            {            
            c.Template(@<text>
                @{
                    if (item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
                    {
                        //chi hien cac checkbox voi hoc sinh dang hoc
                        <label class="custom-checkbox p-r-0" style="padding-left:15px">
                        <input type="checkbox" id='@("chk_" + item.PupilID)' defaultValue ="@item.RewardCommentFinalID"  onchange="SelectOne(this)" class="ChkItem" name='@("chk_" + item.PupilID)' checked="checked" />
                        <span class="checkmark"></span>
                        </label>
                    }
                }
                </text>)
            .HeaderTemplate(@<text>
                <label class="custom-checkbox p-r-0" style="padding-left:15px">
                <input type="checkbox" id="ChkAll" onchange="SelectAll()" name="ChkAll" checked="checked" />
                    <span class="checkmark"></span>
                    </label>
                    </text>).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            }   
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(p => p.OnLoad("LoadComplete"))
        // .DataKeys(keys => keys.Add(o => o.PupilID))
        .Scrollable(p => p.Height(400))
        .Selectable()
       .Render();
            }
        </div>
    <br />
    if (lstResult.Count > 0)
    {
            <div id="ListButton" style="text-align:right">
              @if (disabled_button)
              {
                
                    <input type="button" id="btnImportView" onclick="ImportExcel()" class="btn btn-info btn-round" value="Import"/>
                  <span id="ListButtonRight">
                    <input type="submit" id="btnSave" onclick ="return CheckValidate();" class="btn btn-info btn-icon btn-round btn-icon-save" value="Lưu"/>
                    <input type="button" id="btnDelete" class="btn btn-info btn-icon btn-round btn-icon-times " onclick="DeleteRewardCommentFinal()" value="Xóa"/>
                </span>
              }
                <span><input type="button" id="btnExport" class="btn btn-info btn-icon btn-round btn-icon-excel" value="@Res.Get("MarkRecordPeriod_Label_Export")" onclick="ExportExcel()"></span>
            </div>
    }
}

<script type ="text/javascript">
    var isValidateCheckBox = true;

    $(document).ready(function(){
        controlUtils.AddMoveTabEvent("#GridRewardCommentFinal");  
    });

    function OnMouseLeave(pupilID)
    {
        $("#divCheckBox_" + pupilID).hide();
    }
    function ShowDivCheckBox(pupilID)
    {
        var countCheckBox = $('.chk_RewardFinalID_' + pupilID).length;
        if (countCheckBox > 0) {
            $('.divCheckBox').hide();
            //this.find('divCheckBox').show();
            $("#divCheckBox_" + pupilID).show();
        }
        else {
            $('.divCheckBox').hide();
            $('#MsgRewardEmpty_' + pupilID).html('Hình thức khen thưởng chưa được khai báo.Thầy cô sử dụng chức năng Danh mục >> Khen thưởng cuối kỳ để khai báo trước khi cập nhật khen thưởng cho học sinh');
            $("#divCheckBox_" + pupilID).show();          
            //smas.alertColor('Hình thức khen thưởng chưa được khai báo.Thầy cô sử dụng chức năng Danh mục >> Khen thưởng cuối kỳ để khai báo trước khi cập nhật khen thưởng cho học sinh','red');
        }
    }
    function OnBegin()
    {
        var className = $('#ClassNameTitle').html();
        $('#SemesterID').val($('#Semester').val());
        $('#ClassName').val(className);
        smas.showProcessingDialog();
    }
    function SaveFail(ajaxContext)
    {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }
    function SaveSuccess(data) {
        if (data.Type == "error") {
            smas.alertColor(data.Message,"red");
        }
        else {
            smas.alert(data.Message);
        }
        AjaxLoadGridForRewardCommentFinal();
        SetHightAreaInGrid();
    }
    function OnChecked(id,pupilID)
    {
        //var checked = $("#chk_" + id).is(':checked');
        //var text = $('#chk_' + id).attr('textdefaul')
        //var result = "";
        //if (checked) {
        //    result = result + text + ";"; 
        //}
        var text = "";
        var rewardID = "";
        $('.chk_RewardFinalID_' + pupilID).each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                text = text + $(this).attr('textdefaul') + "; "
                rewardID = rewardID + $(this).val() + ",";
            }
        });

        $('#lblReward_' + pupilID).html(text);
        $('#hfRewardID_' + pupilID).val("");
        $('#hfRewardID_' + pupilID).val(rewardID);
        if ($('#lblReward_' + pupilID).html() == "") {
            $('#lblReward_' + pupilID).html("[Lựa chọn]");
        }

        var setHeight =  $('#lblReward_' + pupilID).height();
        if(setHeight > 50) // Chon khen thuong co chieu cao lon hon 50 thi set lai chieu cao
        {
            $('#OutStanding_' + pupilID).height(setHeight);
        }
    }

    function SelectAll()
    {
        var cheked = $("#ChkAll").is(':checked');
        if(cheked)
        {
            $('.ChkItem').attr("checked","checked");
            isValidateCheckBox = true;
        }else
        {
            $('.ChkItem').removeAttr("checked");
            isValidateCheckBox = false;
        }
    }
    function SelectOne()
    {
        var  numberCheckboxItem = $('.ChkItem').length;
        var countcheckItem = 0;
       
        $('.ChkItem').each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            isValidateCheckBox = true;
        }
        else {
            isValidateCheckBox = false;
        }

        if(countcheckItem == numberCheckboxItem)
        {
            $("#ChkAll").attr("checked","checked");
        }else
        {
            $("#ChkAll").removeAttr("checked");
        }

    }

    function ShowComments(pupilID)
    {
        var classID = $('#ClassID').val();
        var semesterID = $('#Semester').val();
        var pupilName = $('#PupilName_'+ pupilID).html();
        var text = "";
        if (semesterID == 1) {
            text = pupilName + " - Học kỳ 1";
        }
        else {
            text = pupilName + " - Học kỳ 2";
        }
        $('#frmComment .t-window-titlebar').css('text-align','left');
        $('#frmComment .t-header .t-window-title').html(text);

        $.ajax({
            url: '/RewardCommentFinalArea/RewardCommentFinal/AjaxLoadComment',
            type: 'post',
            data: { PupilID:pupilID, ClassID: classID, SemesterID: semesterID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#GridCommentFinal').html(msg);
                smas.hideProcessingDialog();
                smas.openDialog("frmComment", "", {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function DeleteRewardCommentFinal()
    { 
        if (!isValidateCheckBox) {
            smas.alertColor('Thầy/cô chưa chọn học sinh', 'red');
            return false;
        }

        smas.confirm('@Html.Raw(Res.Get("EvaluationComments_Confirm_Delete"))', function () {
            var classID = $('#ClassID').val();
            var semesterID = $('#Semester').val();
            var classname = $('#ClassNameTitle').html();
            var arrayID = "";
            $('.ChkItem').each(function(){
                var ischecked = $(this).is(':checked');
                if(ischecked)
                {
                    var id = $(this).attr('defaultValue');
                    if(id > 0)
                    {
                        arrayID += id + ",";
                    }
                }
            });
            var token = $('[name=__RequestVerificationToken]').val();
            if(arrayID != "" && arrayID != null)
            {
                $.ajax({
                    url:  '@Url.Action("DeleteRewardComment", "RewardCommentFinal")',
                    data: { ArrayID: arrayID, SemesterID: semesterID, ClassID: classID, ClassName: classname, __RequestVerificationToken: token },
                type: 'post',
                success: function (msg) {
                    
                    if(msg.Type =="success")
                    {
                        AjaxLoadGridForRewardCommentFinal();
                        smas.alert(msg.Message);                    }
                    else if(msg.Type == "error") {
                        smas.alertColor(msg.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }})
    }
    function ImportExcel()
    {
        smas.openDialog("importDialog", "", {});
        $('#btSaveImport').attr('disabled');
        $('#btSaveImport').addClass('t-state-disabled');
    }
    function ExportExcel() {
        ClassID = $("#ClassID").val();
        SemesterID = $("#Semester").val();
        ClassName = "";

        var temp = $("#TreeClassForSummedEvaluation input[value=" + ClassID + "]").prev().html();
        if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
            ClassName = "LỚP " + $("#TreeClassForSummedEvaluation input[value=" + ClassID + "]").prev().html().toUpperCase();
        }
        else {
            ClassName = $("#TreeClassForSummedEvaluation input[value=" + ClassID + "]").prev().html().toUpperCase();
        }

        if (ClassID > 0 && SemesterID > 0) {
            window.open('@Url.Action("ExportExcel", "RewardCommentFinal")?ClassID=' + ClassID + '&SemesterID=' + SemesterID + '&ClassName=' + ClassName);
        }
    }

    function OnBlur(item){
        var text = item.value;
        item.value = text.trim();
    };
   
    function OnComplete()
    {
        smas.hideProcessingDialog();
    }
    function CheckValidate()
    {
        if (!isValidateCheckBox) {
            smas.alertColor('Thầy/cô chưa chọn học sinh', 'red');
            return false;
        }
        return true;
    }
   
</script>
