﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.SummedEvaluationArea;
@{
    IEnumerable<ClassProfile> listClass = ViewData[SummedEvaluationConstant.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    ClassProfile cp = (ClassProfile)ViewData[SummedEvaluationConstant.CLASS_PROFILE];
    int ClassID = 0;
    int EducationLevelID = 0;
    GlobalInfo glo = new GlobalInfo();
    if (cp!=null)
    {
        ClassID = cp.ClassProfileID;
        EducationLevelID = cp.EducationLevelID;
    }
}

<script type="text/javascript">
    $(function () {
        if ('@ClassID'!= '0') {
            $("#ClassID").val('@ClassID');
            $("#HiddenPanel #ClassID").val('@ClassID');
        }
        if ('@EducationLevelID' != '0') {
            $("#EducationLevelID").val('@EducationLevelID');
        }
        /////////////////////
        var classid = $('#ClassID').val();
        var title = "";
        var className = "";
        if (classid == 0) {
            className = "";
        }
        else {
            if ($('#Semester').val() == "1") {
                title = "I ";
            }
            else {
                title = "II ";
            }
            var temp = $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html();
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "LỚP " + $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html().toUpperCase();
            }
            else {
                className = $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html().toUpperCase();
            }
        }
        $('#ClassNameTitle').html(title + className);
        AjaxLoadGridForRewardCommentFinal();
    });
    function treeView() {
        return $('#TreeClassForSummedEvaluation').data('tTreeView');
    }
    function selectClass(e) {
        smas.showProcessingDialog();
        var item = $(e.item);
        
        var objectChild = $(item).find('ul');
        if (!$(item).next().hasClass('t-group') && objectChild.length == 0) {
            $('#ClassIDOld').val($('#ClassID').val());

            $('#ClassID').val(treeView().getItemValue(item));
            $('#HiddenPanel #ClassID').val(treeView().getItemValue(item));

            $('#EducationLevelID').val($(item).closest('ul').prev().find(".t-input").val());
            var SubjectIDOld = $("#SubjectID").val();
           
        } else {
            
            $('#HiddenPanel #ClassID').val('0');
            $("#SubjectPanel").html("");
        }
        AjaxLoadGridForRewardCommentFinal();

        var classid = $('#ClassID').val();
        var className = "";
        var title = "";
        if (classid == 0) {
            className = "";
        }
        else {
            if ($('#Semester').val() == "1") {
                title = "I ";
            }
            else {
                title = "II ";
            }
            var temp = $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html();
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "LỚP " + $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html().toUpperCase();
            }
            else {
                className = $("#TreeClassForSummedEvaluation input[value=" + classid + "]").prev().html().toUpperCase();
            }

        }
        $('#ClassNameTitle').html(title + className);
    }
    
</script>

<div style="overflow:auto; height:100%" >
    @if (listEducation != null && listEducation.Count > 0 && cp != null)
    {
        @(Html.Telerik().TreeView()
        .Name("TreeClassForSummedEvaluation")
        .Items(item =>
        {
            foreach (EducationLevel EducationLevel in listEducation)
            {
                var expanded = EducationLevel.EducationLevelID == cp.EducationLevelID;
                item.Add()
                    .Text(EducationLevel.Resolution)
                    .Value(EducationLevel.EducationLevelID.ToString())
                    .HtmlAttributes(new { style = "font-weight:bold;" })
                    .Items(child =>
                    {
                        var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
                        if (listClassChild != null && listClassChild.Count() > 0)
                        {
                            foreach (ClassProfile cl in listClassChild)
                            {
                                var selected = cl.ClassProfileID == cp.ClassProfileID;
                                child.Add()
                                    .Text(cl.DisplayName)
                                    .Value(cl.ClassProfileID.ToString()).Selected(selected)
                                    ;
                            }
                        }
                    }).Expanded(expanded);
            }
        }
        )
        
        .ClientEvents(events=>events.OnSelect("selectClass"))
        
        );
    }
    else
    {
        @Res.Get("BookRecord_Error_NoClass");
    }
</div>





