﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils

@model SMAS.Web.Areas.ReportTranscriptOfPrimaryClassArea.Models.ViewModel

<div id="tabDetail">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmExport" }))
    {
        @Html.ViettelEditorForModel()

        <div class="dialog-buttons">
		    @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "")
        </div>
    }
</div>

<script type="text/javascript">
    $('#frmExport').submit(function (event) {
        event.preventDefault();
        if (!validateUtils.validateForm("frmExport")) {
            return;
        }
        smas.getReport(
            'frmExport',
            '@Url.Action("Export", "ReportTranscriptOfPrimaryClass")',
            '@Url.Action("Export", "ReportTranscriptOfPrimaryClass")' + '?GetNew=1',
            '@Url.Action("DownloadReport", "ReportTranscriptOfPrimaryClass")'
        );
    });
</script>