﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils

@{
    ViewBag.Title = @Res.Get("ReportTranscriptOfPrimaryClass_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   #TabStrip .vt-control{width:45%!important}
</style>

@{
Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add()
                .Text(Res.Get("ReportTranscriptOfPrimaryClass_Label_Sumary"))
                .Content(@<text>
                    @Html.Partial("_TabSumary")
                </text>);

            tabstrip.Add()
                .Text(Res.Get("ReportTranscriptOfPrimaryClass_Label_Detail"))
                .Content(@<text>
                    @Html.Partial("_TabDetail")
                </text>);
            
        })
        .SelectedIndex(0)
        .Render();
}

<script type="text/javascript">
    function AjaxLoadClass(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        placeHolder = "@Res.Get("All")";
        if(frmId == "frmExport") {
            placeHolder = "@Res.Get("SelectRK")";
        }
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "ReportTranscriptOfPrimaryClass")',
            { EducationLevelID: $(cboEducationLevel).val() },
            placeHolder
        );
    }

    function AjaxLoadSubject(cboClass) {
        frmId = $(cboClass).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #SubjectID"),
            '@Url.Action("AjaxLoadSubject", "ReportTranscriptOfPrimaryClass")',
            { ClassID: $(cboClass).val() },
            '@Res.Get("All")'
        );
    }
</script>