﻿@using SMAS.Web.Utils;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@{
    ViewBag.Title = Res.Get("SchoolCalendar_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="ContentSectionBtm school-calendar-page">
    <div class="ContentCalendar">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="SchoolCalendarSearch GenaralInfoSection">
                    @Html.Partial("_Search")
                </div>
                <div id="mainCalendar" class="SchoolCalendarResult">
                </div>                
            </div>
        </div>
    </div>
</div>
@(Html.Telerik().Window()
                .Name("importDialog")
                .Title("Import thời khóa biểu")
                .Content(@<text>@Html.Partial("_ImportDialog")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true).ContentHtmlAttributes(new { style="min-width: 500px;"})
                .HtmlAttributes(new { @class = "school-calendar-import-window" })
)
@(Html.Telerik().Window()
                .Name("CreateDialog")
                .Title("Thêm mới TKB")
                .Content(@<text><div id="divCreateDialog"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550).ContentHtmlAttributes(new { style="min-width: 500px;"})
)