﻿@using SMAS.Web.Utils;
@using SMAS.Web.Areas.SchoolCalendarScheduleArea;
@using SMAS.Web.Areas.SchoolCalendarScheduleArea.Models;
@using SMAS.Web.Areas.SchoolCalendarScheduleArea.Controllers;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Models.Models;
@using Com.Viettel.Framework.HtmlHelpers;
@{
    ViewBag.Title = Res.Get("CalendarSchedule_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ScheduleModel> lstSchedule = (List<ScheduleModel>)ViewData["ScheduleList"];
}
<style>
.GeneralTable th, .GeneralTable td
{
    height: 20px;
}
.TopSection
{
    padding: 0px;
    padding-left: 10px;
}
.GeneralTable th.EndCols, .GeneralTable td.EndCols
{
    position: inherit;
}
.GeneralForm select
{
	padding: 3px !important;
}
    .ContentCalendar {
        padding:8px;
    }
</style>
@Html.AntiForgeryToken()
<div class="ContentSectionBtm">
    <div class="ContentCalendar">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="GenaralInfoSection">
                    @Html.Partial("_Search")
                </div>
                <div id="mainSchedule">
                    @Html.Partial("_Schedule", lstSchedule)
                </div>                
            </div>
        </div>
    </div>
</div>
