@model SMAS.Web.Areas.SubjectCatArea.Models.SubjectCatViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.Web.Areas.SubjectCatArea
@using (Ajax.BeginForm("Edit",
                       "SubjectCat",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
   
    <div id="EditSubjectCat" class="vt-EditorPanel vt-EditorPanel-1 subject-cat-page-edit">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelHidden("SubjectCatID")
            <div id="frmEdit">
                <table id="tblSubjectEdit">
                    <tr>
                        <td>
                            @Html.ViettelTextboxFor(model => model.DisplayName, Res.Get("SubjectCat_Label_SubjectName"),
                new Dictionary<string, object> { { "width", "100%" } }, true, false)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ViettelTextboxFor(model => model.Abbreviation, Res.Get("SubjectCat_Label_Abbreviation"),
                new Dictionary<string, object> { { "width", "100%" } }, true, false)
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 0%">
                            @Html.ViettelComboboxFor(model => model.IsCommenting, Res.Get("SubjectCat_Label_Commenting"), ((IEnumerable<SelectListItem>)ViewData[SubjectCatConstants.LIST_TWOCOMMENTING]),
                SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object> { { "OnChange", "ClickComment()" } }, true)
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 30%">
                            @(Html.ViettelCheckBoxFor(model => model.IsEditIsCommentting, new Dictionary<string, object> { { "id", "IsEditIsCommenttingEdit" } }, @Res.Get("SubjectCat_Label_IsEditIsCommentting"), false, true))
                        </td>
                    </tr>
                </table>
                <fieldset class="AppliedLevel">
                    <legend>@Html.Raw(Res.Get("SubjectCat_Label_AppliedLevelRequire"))</legend>
                    <table>
                        <tr>
                            <td>
                                @(Html.ViettelCheckBoxFor(model => model.chkPrimary, new Dictionary<string, object> { { "id", "chkPrimaryEdit" }, { "onclick", "enableApprenshipSubjectEdit()" } }, @Res.Get("SubjectCat_Label_Primary"), false))
                            </td>
                            <td>
                                @(Html.ViettelCheckBoxFor(model => model.chkSecondary, new Dictionary<string, object> { { "id", "chkSecondaryEdit" }, { "onclick", "enableApprenshipSubjectEdit()" } }, @Res.Get("SubjectCat_Label_Secondary"), false))
                            </td>
                            <td>
                                @(Html.ViettelCheckBoxFor(model => model.chkTertiary, new Dictionary<string, object> { { "id", "chkTertiaryEdit" }, { "onclick", "enableApprenshipSubjectEdit()" } }, @Res.Get("SubjectCat_Label_Tertiary"), false))
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <div style="float: left; width: 54%;" class="Property">
                    <fieldset>
                        <legend>@Res.Get("SubjectCat_Label_Property")</legend>
                        <table>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.chkIsForeignLanguage, new Dictionary<string, object> { { "id", "chkIsForeignLanguageEdit" }, { "width", "100%" } }, Res.Get("SubjectCat_Label_IsForeignLanguage"), false))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.chkMiddleSemesterTest, new Dictionary<string, object> { { "id", "chkMiddleSemesterTestEdit" }, { "width", "100%" }, { "onclick", "enableReadAndWriteEdit()" } }, Res.Get("SubjectCat_Label_MiddleSemesterTest"), false))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.chkIsCommentingMarkAndComment, new Dictionary<string, object> { { "id", "chkIsCommentingMarkAndCommentEdit" }, { "width", "100%" } }, Res.Get("SubjectCat_Label_IsCommentingMarkAndComment"), false))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.IsApprenticeshipSubject, new Dictionary<string, object> { { "id", "chkIsApprenticeshipSubjectEdit" }, { "width", "100%" }, { "onclick", "enableApprenticeshipGroup()" } }, Res.Get("SubjectCat_Label_IsApprenticeshipSubject"), false))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.ReadAndWriteMiddleTest, new Dictionary<string, object> { { "id", "ReadAndWriteMiddleTestEdit" }, { "width", "100%" } }, Res.Get("SubjectCat_Column_ReadAndWriteMiddleTest"), false))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.IsCoreSubject, new Dictionary<string, object> { { "id", "IsCoreSubject" }, { "width", "100%" } }, Res.Get("SubjectCat_Column_IsCoreSubject"), false))
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div style="float: left; width: 43%; margin-left: 10px;" class="Property">
                    <fieldset>
                        <legend>@Res.Get("SubjectCat_Label_IsExemptible")</legend>
                        <table>
                            <tr>
                                <td>
                                    @(Html.ViettelCheckBoxFor(model => model.chkIsExemptible, new Dictionary<string, object> { { "id", "chkIsExemptibleEdit" }, { "onload", "loadCheckbox()" }, { "onclick", "clickAutoEdit()" } }, @Res.Get("SubjectCat_Label_IsExemptible"), false))
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>

            @Html.ViettelComboboxFor(model => model.ApprenticeshipGroupID, Res.Get("SubjectCat_Label_ApprenticeshipGroup"), ((IEnumerable<SelectListItem>)ViewData[SubjectCatConstants.LIST_APPRENTICESHIPGROUPID]),
             SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "disabled", "true" }, { "id", "ApprenticeshipGroupIDEdit" } }, false)
            @(Html.ViettelTextAreaFor(model => model.Description, @Res.Get("SubjectCat_Label_Description"), false, new Dictionary<string, object> { { "style", "width:100%" }, { "rows", "4" } }))

        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#chkTertiaryEdit").attr('disabled', true);
        $("#chkSecondaryEdit").attr('disabled', true);
        $("#chkPrimaryEdit").attr('disabled', true);
        $("#ReadAndWriteMiddleTestEdit").attr('disabled', true);
        $("#chkMiddleSemesterTestEdit").attr('disabled', true);
        $("#chkIsApprenticeshipSubjectEdit").attr('disabled', true);
        var disable_cbb = "@ViewData[SubjectCatConstants.CHECKCBB]";
        if (disable_cbb.toLowerCase() == "1") {
            $("#ReadAndWriteMiddleTestEdit").attr('disabled', false);
            $("#chkMiddleSemesterTestEdit").attr('disabled', false);
        }
        if (disable_cbb.toLowerCase() == "2") {
            $("#chkIsApprenticeshipSubjectEdit").attr('disabled', false);

        }
        if (disable_cbb.toLowerCase() == "3") {
            $("#chkIsApprenticeshipSubjectEdit").attr('disabled', false);
        }

        var chkIsApprenticeshipSubjectEdit = document.getElementById('chkIsApprenticeshipSubjectEdit').checked;
        if (chkIsApprenticeshipSubjectEdit) {
            $("#ApprenticeshipGroupIDEdit").attr('disabled', false);
        }
        else {
            $("#ApprenticeshipGroupIDEdit").attr('disabled', true);
            $('#ApprenticeshipGroupIDEdit option[value=""]').attr('selected', 'selected');
        }

        //dungnt them
        var IsSecondary = document.getElementById('chkSecondaryEdit').checked;
        var IsTertiary = document.getElementById('chkTertiaryEdit').checked;

        var IsTertiaryOrSecondary = IsSecondary || IsTertiary;
        var IsPrimary = document.getElementById('chkPrimaryEdit').checked;

        if (IsPrimary) { //cap 1 check
            if (IsTertiaryOrSecondary) //neu check ca cap 2 va 3 
            {
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").removeAttr('disabled');
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").removeAttr('disabled');
                $("#frmEdit #ReadAndWriteMiddleTestEdit").removeAttr('disabled');
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            } else {      //ko check cap 2,3
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").removeAttr('disabled');
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").attr('disabled', true);
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            }
        } else {        //cap 1 khong check
            if (IsTertiaryOrSecondary) {        //neu cap 2,3 check
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").attr('disabled', true);
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").removeAttr('disabled');
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            } else {    //cap 2,3 ko check
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").attr('disabled', true);
                $("#frmEdit #chkMiddleSemesterTestEdit").attr('disabled', true);
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").attr('disabled', true);
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").attr('disabled', true);
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").attr('disabled', true);
                $("#frmEdit #chkIsExemptibleEdit").attr('disabled', true);
            }
        }

        enableReadAndWriteEdit();

    })

    function ClickComment() {
        var cb = $("#editDialog #IsCommenting").val();
        if (cb == "1")
        {
            $("#editDialog #chkIsCommentingMarkAndCommentEdit").attr("disabled", true);
        }
        if (cb == "0") {
            $("#editDialog #chkIsCommentingMarkAndCommentEdit").attr("disabled",false);
        }
    }

    function enableApprenshipSubjectEdit() {
        var IsSecondary = document.getElementById('chkSecondaryEdit').checked;
        var IsTertiary = document.getElementById('chkTertiaryEdit').checked;

        var IsTertiaryOrSecondary = IsSecondary || IsTertiary;
        var IsPrimary = document.getElementById('chkPrimaryEdit').checked;

        if (IsPrimary) { //cap 1 check
            if (IsTertiaryOrSecondary) //neu check ca cap 2 va 3 
            {
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").removeAttr('disabled');
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").removeAttr('disabled');
                $("#frmEdit #ReadAndWriteMiddleTestEdit").removeAttr('disabled');
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            } else {      //ko check cap 2,3
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").removeAttr('disabled');
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").attr('disabled', true);
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            }
            enableReadAndWriteEdit();
        } else {        //cap 1 khong check
            if (IsTertiaryOrSecondary) {        //neu cap 2,3 check
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").removeAttr('disabled');
                $("#frmEdit #chkMiddleSemesterTestEdit").attr('disabled', true);
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").removeAttr('disabled');
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").removeAttr('disabled');
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").removeAttr('disabled');
                $("#frmEdit #chkIsExemptibleEdit").removeAttr('disabled');
            } else {    //cap 2,3 ko check
                RemoveAllCheckEdit();
                $("#frmEdit #chkIsForeignLanguageEdit").attr('disabled', true);
                $("#frmEdit #chkMiddleSemesterTestEdit").attr('disabled', true);
                $("#frmEdit #chkIsCommentingMarkAndCommentEdit").attr('disabled', true);
                $("#frmEdit #chkIsApprenticeshipSubjectEdit").attr('disabled', true);
                $("#frmEdit #ReadAndWriteMiddleTestEdit").attr('disabled', true);
                $("#frmEdit #IsCoreSubject").attr('disabled', true);
                $("#frmEdit #chkIsExemptibleEdit").attr('disabled', true);
            }
        }

    }
    function RemoveAllCheckEdit() {

    }
    function enableReadAndWriteEdit() {
        var a = document.getElementById('chkMiddleSemesterTestEdit').checked;
        if (a == true)
            $("#ReadAndWriteMiddleTestEdit").attr('disabled', false);
        else
            $("#ReadAndWriteMiddleTestEdit").attr('disabled', true);
    }
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function clickAutoEdit() {
    }
    function loadCheckbox() {
        var b = document.getElementById('chkIsExemptibleEdit').checked;
        if (b == true) {
            $("#chkHasPracticeEdit").attr('disabled', false);
        }
        else
            $("#chkHasPracticeEdit").attr('disabled', true);
    }
    function enableApprenticeshipGroup() {
        var chkIsApprenticeshipSubjectEdit = document.getElementById('chkIsApprenticeshipSubjectEdit').checked;
        if (chkIsApprenticeshipSubjectEdit) {
            $("#ApprenticeshipGroupIDEdit").attr('disabled', false);
        }
        else {
            $("#ApprenticeshipGroupIDEdit").attr('disabled', true);
            $('#ApprenticeshipGroupIDEdit option[value=""]').attr('selected', 'selected');
        }
    }
    $(function () {
        $(".editor-field").has("select").addClass("custom-select");
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
</script>


