﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.Web.Areas.SubjectCatArea

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        @Html.AntiForgeryToken()
            @{
                bool enablePading = (bool.Parse(ViewData[SubjectCatConstants.ENABLEPADING].ToString()));
                IEnumerable<SubjectCatViewModel> list;
                int count = 0;
                var index = 1;
                int pagsize = 10;
                if (enablePading)
                {
                    Paginate<SubjectCatViewModel> paging = (Paginate<SubjectCatViewModel>)ViewData[SubjectCatConstants.LIST_SUBJECTCAT];
                    count = paging.total;
                    index = (paging.page - 1) * paging.size + 1;
                    list = paging.List;
                    pagsize = paging.size;
                }
                else
                {
                    IEnumerable<SubjectCatViewModel> listSubjectCat = (IEnumerable<SubjectCatViewModel>)ViewData[SubjectCatConstants.LIST_SUBJECTCAT];
                    list = listSubjectCat;
                    count = list.Count();
                }
    
            }

        <div class="vt-ResultPanel-Title-Button">
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus")
        </div>
        <div class="Clear"></div>
    </div>
    @{
        Html.Telerik().Grid(list)
            .Name("GridSubjectCat")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>)
    .ClientTemplate("<#= lstInd++ #>")
    .Title(Res.Get("Common_Index_Number"))
    .HtmlAttributes(new { style = "text-align:center" })
    .Width(30);

                c.Bound(o => o.DisplayName).Visible(true).Width(110);
                c.Bound(o => o.Abbreviation).Width(60);
                c.Bound(o => o.AppliedLevel).Width(80).Visible(true).HtmlAttributes(new { style = "text-align:center" }); //Cap hoc

                //Co mien giam hay khong
                c.Template(@<text>
        @Html.ViettelCheckBox("chkIsExemptible", item.chkIsExemptible, new Dictionary<string, object> { { "disabled", true }, { "id", "chkIsExemptible" } }, "", item.chkIsExemptible, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_IsExemptible")))</text>)
                                .ClientTemplate("<input type='checkbox' name='chkIsExemptible' value='<#= chkIsExemptible #>' <#= chkIsExemptible == true ? \"checked\" : null #>  disabled='disabled' />")

                                .HtmlAttributes(new { style = "text-align:center" }).Width(50);
                //La mon ngoai ngu hay ko
                c.Template(@<text>
        @Html.ViettelCheckBox("chkIsForeignLanguage", item.chkIsForeignLanguage, new Dictionary<string, object> { { "disabled", true }, { "id", "chkIsForeignLanguage" } }
                , "", item.chkIsForeignLanguage, false, false, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_IsForeignLanguage")))</text>)
    .ClientTemplate("<input type='checkbox' name='chkIsForeignLanguage' value='<#=chkIsForeignLanguage#>' <#= chkIsForeignLanguage == true ? \"checked\" : null #> disabled='disabled'").Title(Res.Get("SubjectCat_Column_IsForeignLanguage")).Visible(true).Width(60).HtmlAttributes(new { style = "text-align:center" });
                //Mon co nhan xet danh gia
                c.Template(@<text>
        @Html.ViettelCheckBox("chkIsCommentingMarkAndComment", item.chkIsCommentingMarkAndComment, new Dictionary<string, object> { { "disabled", true }, { "id", "chkIsCommentingMarkAndComment" } }
                         , "", item.chkIsCommentingMarkAndComment, false, false, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_IsCommentingMarkAndComment")))</text>)
            .ClientTemplate("<input type='checkbox' name='chkIsCommentingMarkAndComment' value='<#=chkIsCommentingMarkAndComment#>' <#= chkIsCommentingMarkAndComment == true ? \"checked\" : null #>  disabled='disabled' />")
                                       .HtmlAttributes(new { style = "text-align:center" }).Visible(false).Width(60);
                //Diem thi giua ki gom doc va viet
                c.Template(@<text>
        @Html.ViettelCheckBox("ReadAndWriteMiddleTest", item.ReadAndWriteMiddleTest, new Dictionary<string, object> { { "disabled", true }, { "id", "ReadAndWriteMiddleTest" } }
                                  , "", item.ReadAndWriteMiddleTest, false, false, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_ReadAndWriteMiddleTest")))</text>)
                .ClientTemplate("<input type='checkbox' name='ReadAndWriteMiddleTest' value='<#=ReadAndWriteMiddleTest#>' <#= ReadAndWriteMiddleTest == true ? \"checked\" : null #>  disabled='disabled' />")
                .HtmlAttributes(new { style = "text-align:center" }).Visible(false).Width(50);


                //Co kiem tra giua ki khong
                c.Template(@<text>
        @Html.ViettelCheckBox("chkMiddleSemesterTest", item.chkMiddleSemesterTest, new Dictionary<string, object> { { "disabled", true } }, "", item.chkMiddleSemesterTest, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_MiddleSemesterTest")))</text>)
                .ClientTemplate("<input type='checkbox' name='chkMiddleSemesterTest' value='<#=chkMiddleSemesterTest#>' <#= chkMiddleSemesterTest == true ? \"checked\" : null #> disabled='disabled' />")
                .HtmlAttributes(new { style = "text-align:center" }).Visible(false).Width(50);
                //Mon nghe hay khong
                c.Template(@<text>
        @Html.ViettelCheckBox("IsApprenticeshipSubject", item.IsApprenticeshipSubject, new Dictionary<string, object> { { "disabled", true } }, "", item.IsApprenticeshipSubject, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_IsApprenticeshipSubject")))</text>)
                .ClientTemplate("<input type='checkbox' name='IsApprenticeshipSubject' value='<#= IsApprenticeshipSubject #>' <#= IsApprenticeshipSubject == true ? \"checked\" : null #> disabled='disabled' />")
                .HtmlAttributes(new { style = "text-align:center" }).Width(50);
                //Mon chinh
                c.Template(@<text>
        @Html.ViettelCheckBox("IsCoreSubject", item.IsCoreSubject, new Dictionary<string, object> { { "disabled", true } }, "", item.IsCoreSubject, false)
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_IsCoreSubject")))</text>)
                .ClientTemplate("<input type='checkbox' name='IsCoreSubject' value='<#= IsCoreSubject#>' <#= IsCoreSubject == true ? \"checked\" : null #> disabled='disabled' />")
                .HtmlAttributes(new { style = "text-align:center" }).Width(50);

                c.Bound(o => o.IsCommentingName).Visible(true); //Loai mon
                //so thu tu
                c.Template(@<text>
        @Html.ViettelTextBox("OrderInSubject_" + item.SubjectCatID, item.OrderInSubject, new Dictionary<string, object> { { "style", "width: 25px; text-align: right;" }, { "onkeypress", "return numbersonly(event)" }, { "maxlength", "4" } })
        </text>).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("SubjectCat_Column_OrderInSubject")))</text>)
                .ClientTemplate("<input type='text' name='OrderInSubject' value='<#= OrderInSubject#>' <#= OrderInSubject == true ? \"checked\" : null #> onkeypress = 'return numbersonly(event)' style='width: 25px; text-align: right;' maxlength='4' />")
                .HtmlAttributes(new { style = "text-align:center" }).Visible(!enablePading).Width(50);

                c.Bound(o => o.Description).Visible(false);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "SubjectCat")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" });


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "SubjectCat")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });


                }).Title(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(b => b.Ajax().Select("_GridBinding", "SubjectCat"))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand"))
                            .DataKeys(keys => keys.Add(o => o.SubjectCatID))
        .Pageable(p => p.Enabled(enablePading).PageSize(pagsize).Total(count))
            .Sortable()
        .EnableCustomBinding(true).Resizable(o => o.Columns(true))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
       .Scrollable(c => c.Enabled(true).Height(330))
        .Render();
        if (!enablePading)
        {
        <input class="t-button" type="button" value="@Res.Get("ClassSubject_Column_UpdateOderInSubject")" id="btnUpdateOrderInSubject" style="float: right; margin-top:10px;"
        onclick="UpdateOrderInSubject();" />
        <input type="hidden" id="listSubjectCatID" name="listSubjectCatID" value="@ViewData[SubjectCatConstants.LIST_SUBJECTCATID]" />
        }
    }
</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridSubjectCat').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function checkAddress() {
        var chkBox = document.getElementById('chkIsExemptible');
        if (chkBox.checked) {
            document.getElementById("CTchkIsExemptible").checked = true
        } else {
            document.getElementById("CTchkIsExemptible").checked = false
        }
    }

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", '@Url.Action("Edit")', { id: item.SubjectCatID });
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("SubjectCat_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.SubjectCatID }, search, null);
            })
        }
    }

    function numbersonly(e) {
        var unicode = e.keyCode ? e.keyCode : e.charCode;
        if ((unicode < 48 || unicode > 57) && unicode != 8 && unicode != 9 && unicode != 16 && unicode != 127 && unicode != 44 && unicode != 46) {
            return false;
        }
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", '@Url.Action("Create")', {});
    }
    function UpdateOrderInSubject() {
        var listSubjectCatID = $("#listSubjectCatID").val();
        var listvalue = "";
        var array = listSubjectCatID.split(',');
        for (var i = 0; i < array.length; i++) {
            if (parseInt(array[i]) > 0) {
                var orderinsubject = $("#OrderInSubject_" + array[i]).val();
                listvalue = listvalue + array[i] + "_" + orderinsubject + ",";
            }
        }
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateOrderInSubject", "SubjectCat")',
            data: { listvalue: listvalue, __RequestVerificationToken: token },
            dataType: "json",
            success: function (msg) {
                smas.hideProcessingDialog();
                if (msg.Type == "success") {
                    smas.alert(msg);
                    search();
                }
                else {
                    smas.alert({ Type: "error", Message: msg.Message.split('.')[0] });
                    $("#OrderInSubject_" + msg.Message.split('.')[1]).focus();
                }
            }
        });
    }
</script>
