@model SubjectCatViewModel				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models

@{
    ViewBag.Title = @Res.Get("System_SubjectCat");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-radio-button, .custom-checkbox {
    
    padding-right: 0; 
    margin-bottom: 18px;
  
}
</style>
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div class="subject-cat-page" id="lstSubjectCat">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("SubjectCat_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create",Model)</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .Height(1000).ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("SubjectCat_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit",Model)</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)
                .Height(1850).ContentHtmlAttributes(new { style="min-width: 500px;"})
)