﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportExamResultArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Business.Business
@using SMAS.Business.BusinessObject
@(Html.ViettelCombobox(Res.Get("ReportExamResult_Label_Examination"), "ExaminationID",
                                new SelectList((IEnumerable<Examination>)ViewData[ReportExamResultConstants.LIST_EXAMINATION],
                                                "ExaminationID", "Title"),
                                GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" }, 
                                    {"OnChange", "AjaxLoadEducation(this)"},
                                    
                                
                                }, false, true))
@(Html.ViettelCombobox(Res.Get("ReportExamResult_Label_EducationLevel"), "EducationLevelID",
                                    new SelectList((IEnumerable<EducationLevel>)ViewData[ReportExamResultConstants.LIST_EDUCATION_LEVEL],
                                "EducationLevelID", "Resolution"),
                                GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },
                                    {"OnChange", "AjaxLoadExaminationRoom(this)"}
                                  
                                }, false, true))
@(Html.ViettelCombobox(Res.Get("ReportExamResult_Label_ExaminationSubject"), "ExaminationSubjectID",
                                    new SelectList((IEnumerable<ExaminationSubjectBO>)ViewData[ReportExamResultConstants.LIST_EXAMINATION_SUBJECT],
                                               "ExaminationSubjectID", "DisplayName"),
                                    GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" } ,
                                    {"OnChange", "AjaxLoadExaminationOnlyRoom(this)"}
                                }, false, false))
@(Html.ViettelCombobox(Res.Get("ReportExamResult_Label_ExaminationRoom"), "ExaminationRoomID",
                                            new SelectList((IEnumerable<ExaminationRoom>)ViewData[ReportExamResultConstants.LIST_EXAMINATION_ROOM],
                                                "ExaminationRoomID", "RoomTitle"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" },
                                }, false, false))
@(Html.ViettelCombobox(Res.Get("ReportExamResult_Label_Class"), "ClassID",
                new SelectList((IEnumerable<ClassProfile>)ViewData[ReportExamResultConstants.LIST_CLASS],
                                            "ClassProfileID", "DisplayName"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 300px" }
                                }, false, false))
