@model QualificationLevelViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.QualificationLevelArea.Models
@using SMAS.Web.Areas.QualificationLevelArea

@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    IEnumerable<QualificationLevelViewModel> lsEmployeeDis = (IEnumerable<QualificationLevelViewModel>)ViewData[QualificationLevelConstants.LIST_QUALIFICATIONLEVEL];
    var count = lsEmployeeDis.Count();
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="text-right">
            @{
                if (checkCreate)
                {
                <input type="button" class="btn btn-info btn-icon btn-round btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
                }
            }
        </div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<QualificationLevelViewModel>)ViewData[QualificationLevelConstants.LIST_QUALIFICATIONLEVEL])
            .Name("GridQualificationLevel")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

                c.Bound(o => o.Resolution).Width(300);
                c.Bound(o => o.Description).Width(500);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "QualificationLevel")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" });


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "QualificationLevel")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


                }).Title(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" });
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "QualificationLevel")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.QualificationLevelID))
            .Pageable()
           .Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Selectable()
            .Render();
                      
    }

</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridQualificationLevel').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("QualificationLevel_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.QualificationLevelID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>



