﻿@model ExamViolationTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamViolationTypeArea.Models

<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1 exam-violation-type-create-page">
    @using (Ajax.BeginForm("Create",
                       "ExamViolationType",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        <div id="CreateExamViolationType" class="vt-EditorPanel vt-EditorPanel-1">
            <div class="vt-EditorPanel-Control">               
                @Html.AntiForgeryToken()
                <div class="vt-control Object">
                    <div class="editor-label">
                        <label for="Object">Đối tượng</label>
                        <span style="color:red;"> </span>
                    </div>
                    <div class="editor-field">
                        <label class="custom-radio-button">
                            @Html.RadioButton("IsAppliedForCreate", true, false,new Dictionary<string, object>() {{"id","chkPupilCreate"},{"onclick","ChangeColumnMark(this)" }}) Thí sinh
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio-button">
                            @Html.RadioButton("IsAppliedForCreate",false,false,new Dictionary<string, object>() {{"id","chkTeacherCreate"},{"onclick","ChangeColumnMark(this)" }})  Giám thị
                            <span class="checkmark"></span>
                        </label>
                </div>
                </div>
                @Html.ViettelEditorForModel()
               
            </div>
            <div class="vt-EditorPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
            </div>
        </div>


    }
</div>
<script type="text/javascript">
    function CreateSuccess(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
            formUtils.resetForm("frmCreate");
            //            formUtils.focusForm("frmCreate");
            setTimeout("smas.closeDialog('createDialog')", 300);
            search();
        }
        else {
            smas.alert({ Type: "error", Message: msg.Message });
            formUtils.focusForm("frmCreate");
        }
    }
    function CreateFail(ajaxContext) {
                smas.alert(ajaxContext.responseText);
    }

    $(document).ready(function () {
        $('#frmCreate #PenalizedMark').attr("maxlength", "3");
    });
</script>
