﻿@model ExamViolationTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamViolationTypeArea.Models

@using (Ajax.BeginForm("Edit",
                       "ExamViolationType",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="EditExamViolationType" class="vt-EditorPanel vt-EditorPanel-1 exam-violation-type-create-page">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
             <div class="vt-control Object">
                    <div class="editor-label">
                        <label for="Object">Đối tượng</label>
                        <span style="color:red;"> </span>
                    </div>
                    <div class="editor-field">
                        <label class="custom-radio-button">
                            @Html.RadioButton("IsAppliedForEdit", true, true,new Dictionary<string, object>() {{"onclick","ChangeColumnMarkEdit(this)" },{"id","IsAppliedForEdit1"}})Thí sinh
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio-button">
                            @Html.RadioButton("IsAppliedForEdit",false,false,new Dictionary<string, object>() {{"onclick","ChangeColumnMarkEdit(this)" },{"id","IsAppliedForEdit2"}})Giám thị
                            <span class="checkmark"></span>
                        </label>
                    </div>
            </div>

            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("ExamViolationTypeID")
            @Html.ViettelHidden("AppliedForCandidate")
            @Html.ViettelHidden("AppliedForInvigilator")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
        else {
            smas.alert({ Type: "error", Message: msg.Message });
            formUtils.focusForm("frmCreate");
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    $(document).ready(function () {
        $('#frmEdit #PenalizedMark').attr("maxlength","3");
    });
</script>


