﻿@model ExamViolationTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamViolationTypeArea.Models
@using SMAS.Web.Areas.ExamViolationTypeArea
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    bool CheckVisiablePenalizedMark = true;
    if(ViewData[ExamViolationTypeConstants.VISIABLE_MARK] != null)
    {
        CheckVisiablePenalizedMark = (bool)ViewData[ExamViolationTypeConstants.VISIABLE_MARK];
    }
}
@{var list = (IEnumerable<ExamViolationTypeViewModel>)ViewData[ExamViolationTypeConstants.LIST_EXAMVIOLATIONTYPE];}
<div class="vt-ResultPanel">
    <div class="mg-t-10 mg-b-10">
        <div class="text-right">
        @{
            if(checkCreate){
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus")
            }
            }
            
        </div>
        <div class="Clear">
            </div>
    </div>
    <div class="t-widget t-grid">
        @{
            var index = 1;

            Html.Telerik()
                .Grid(list)
                .Name("GridExamViolationType")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                    c.Bound(o => o.Resolution).Sortable(false).Width(200);
                    c.Bound(o => o.PenalizedMark).Sortable(false).Visible(CheckVisiablePenalizedMark).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                    c.Bound(o => o.Description).Sortable(false).Width(540);
                    c.Bound(o => o.AppliedForCandidate).Sortable(false).Visible(false).Width(100);
                    c.Bound(o => o.AppliedForInvigilator).Sortable(false).Visible(false).Width(100);
                    c.Command(cmd =>
                    {
                        cmd.Custom("vtEdit")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Edit", "ExamViolationType")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-edit icon icon-edit no-padding" });


                    }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(checkUpdate);


                    c.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Delete", "ExamViolationType")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-icon t-delete icon icon-trash no-padding" });


                    }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70).Visible(checkDelete);
                })
                .DataBinding(b =>
                    b.Ajax().OperationMode(GridOperationMode.Client)
                            .Select("Search", "ExamViolationType")

                 )
                .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                    .OnCommand("Grid_onCommand")
                )
                .DataKeys(keys => keys.Add(o => o.ExamViolationTypeID))
                .Pageable(p=>p.PageSize(20)).Resizable(o => o.Columns(true))
                .Sortable()
                .Editable(editing => editing.Mode(GridEditMode.PopUp))
                .Scrollable(c => c.Enabled(true).Height("auto"))
                .Selectable()
                .Render();
        }
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridExamViolationType').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            $("#EditExamViolationType").find(".PenalizedMark").show();
            smas.openDialog("editDialog", "", {});
            CheckPenalizedMark();
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("ExamViolationType_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.ExamViolationTypeID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        $("#CreateExamViolationType #Description").attr("maxlength", "400");
        $("#CreateExamViolationType").find(".PenalizedMark").show();
        smas.openDialog("createDialog", "", {});
        $("#IsAppliedForCreate").attr("checked", "checked");
        if (isCheckedPupil) {
            $('#chkPupilCreate').attr('checked', 'checked');
        }
        else {
            $('#chkTeacherCreate').attr('checked', 'checked');
        }
    }
</script>
