﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.ConductRankingArea
@{
    IEnumerable<ClassProfile> listClass = ViewData[ConductRankingConstants.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    ClassProfile cp = (ClassProfile)ViewData["ClassProfile"];
    string ClassID = cp == null ? "" : cp.ClassProfileID.ToString();
}


<script type="text/javascript">
    $(document).ready(function () {
        if ('@ClassID' != '') {
            $("#ClassID").val('@ClassID');
        }
    });
    function treeView() {
        return $('#TreeClassForConductRankingArea').data('tTreeView');
    }
    function selectClassForConductRankingArea(e) {
        var item = $(e.item);
        if (!$(item).parents("ul").first().hasClass('t-treeview-lines')) {
            $('#ClassID').val(treeView().getItemValue(item));
            $('#EducationlevelID').val($(item).closest('ul').prev().find(".t-input").val());
            setTimeout(function () {
                reloadConductRanking();
            }, 100);
            
        } else {
            $('#ClassID').val('0');
            $("#containerForGridOfConductRanking").html("");
            $("#TitleGrid").html("");
            $("#pnTitle").html("");
        }
        setTimeout('ReloadMenu();', 100);
    }
</script>

<div style="overflow:auto; height:100%" >
    @if (listEducation != null && listEducation.Count > 0 && cp != null)
    {
        @(Html.Telerik().TreeView()
        .Name("TreeClassForConductRankingArea")
        .Items(item =>
        {
            foreach (EducationLevel EducationLevel in listEducation)
            {
                var expanded = EducationLevel.EducationLevelID == cp.EducationLevelID;
                item.Add()
                    .Text(EducationLevel.Resolution)
                    .Value(EducationLevel.EducationLevelID.ToString())
                    .HtmlAttributes(new { style = "font-weight:bold;" })
                    .Items(child =>
                    {
                        var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
                        if (listClassChild != null && listClassChild.Count() > 0)
                        {
                            foreach (ClassProfile cl in listClassChild)
                            {
                                var selected = cl.ClassProfileID == cp.ClassProfileID;
                                child.Add().Text(cl.DisplayName).Value(cl.ClassProfileID.ToString()).Selected(selected);
                            }
                        }
                    }).Expanded(expanded);
            }
        })
        .ClientEvents(events => events.OnSelect("selectClassForConductRankingArea")));
    }
    else
    {
        @Res.Get("PupilRankingConduct_Error_NoClass");
    }
</div>
