﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ConductRankingArea
@using SMAS.Web.Constants
@{
    List<ViettelCheckboxList> listSemester = ViewData[ConductRankingConstants.LIST_SEMESTER] as List<ViettelCheckboxList>;
    int appliedLevel = (int)ViewData[ConductRankingConstants.LIST_APPLIEDLEVEL];
}
<div class="mg-b-15">
    @Html.ViettelListButtonStyle2("ListSemester", new GlobalInfo().Semester.Value.ToString(), new Dictionary<string, object>(), "javascript:ChoiceSemester(this)", listSemester, false)
</div>
<div class="row no-margin conduct-ranking-page">
    <div class="col-md-3 col-sm-5 p-t-10 conduct-ranking-check-box">
        @if (appliedLevel == 1)
        {
            <div id="checkboxid">
                @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "chkboxClick(this)" }, { "id", "chkPeriod" }, { "disabled", "" }, { "style", "display:none;" } }, "", false, false, true)
            </div>
        }
        else
        { 
            <div id="checkboxid">
                @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "chkboxClick(this)" }, { "id", "chkPeriod" } }, Res.Get("ConductRanking_Label_chkSearch"), false, false, true)
            </div>
            
        }
    </div>
    <div class="col-md-6 col-sm-6 conduct-ranking-combo-box">
        @if (appliedLevel == 1)
        {
            @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[ConductRankingConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "display:none; " }, { "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
        }
        else
        { 
            @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[ConductRankingConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
        }
    </div>
    <span>
        <button id="bntlockInputConduct" class="lock-input-mark tooltip" title="" style="display:none;width:26px;height:27px;" ></button>
    </span>
    <div class="col-md-2 col-sm-1 p-t-10 text-right">
        @if (ViewData[ConductRankingConstants.HAS_PERMISSION].ToString() == "true")
        {
            <div class="BoxMenuSection">
                <!-- menu box-->
                <div style="float: right;">
                    <div style="position: absolute; top: -55px; right: -75px;">
                        @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*  <div class="Clear">
    </div>*@ @*</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        chkboxClick("Input[name=chkPeriod]");
    });

    function ChoiceSemester(button) {
        controlUtils.ChangeStyleButton(button);
        $('#Semester').val($(button).attr('value'));
        if ($(button).attr('value') == 3 || $(button).attr('value') == 4) {
            $("#cboPeriod").css("display", "none");
            $("#cboPeriod").parent().removeClass("custom-select");
            $("#checkboxid").css("display", "none");
        }
        else if('@appliedLevel'=='1')
        {
            $("#cboPeriod").css("display", "none");
            $("#cboPeriod").parent().removeClass("custom-select");
            $("#chkPeriod").css("display", "none");
        }
        else{
            $("#cboPeriod").css("display", "");
            $("#cboPeriod").parent().addClass("custom-select");
            $("#chkPeriod").css("display", "");
        }
        onLoadCboPeriod();
    }
    function onLoadCboPeriod() {
        semesterid = $('#Semester').val();

        controlUtils.loadComboBox(
            $("#cboPeriod"),
            '@Url.Action("GetcboPeriod")',
            { SemesterID: semesterid },
            null, reloadConductRanking
        );

        setTimeout(function () {
            if ($("#cboPeriod").find('option') == null) {
                $("#chkPeriod").attr("disabled", "");
            } else {
                $("#chkPeriod").removeAttr("disabled");
                $("#PeriodID").val($("#cboPeriod").val());
            }
        }, 200);
    }
    function chkboxClick() {
        $("#TitleGrid").html("");
        $("#pnTitle").html("");
        if ($("#chkPeriod").is(":checked")) {
            // disable combobox
            $("#cboPeriod").removeAttr("disabled");
            onPeriod();
            // ẩn button cột cả năm
            $("#ListSemester li[value=3]").css("display", "none");
            $("#ListSemester li[value=4]").css("display", "none");
        } 
        else {
            // bỏ disable combobox
            $("#cboPeriod").attr("disabled", "");
            // hiển thị button cả năm
            $("#ListSemester li[value=3]").css("display", "");
            $("#ListSemester li[value=4]").css("display", "");
            reloadConductRanking();
        }
    }

    function reloadConductRanking() {
        $("#TitleGrid").html("");
        $("#pnTitle").html("");
        var ClassID = $("#ClassID").val();
        var Semester = $("#Semester").val();
        if (ClassID == 0)
        {
            $('.t-first').find('ul').find('.t-top').find('span').click();//.addClass('t-state-selected');
            var idClass = $('.t-first').find('ul').find('.t-top').find('input').val();
            ClassID = idClass;
        }
        if(ClassID != 0 && Semester != 0)
        {
            var title = "@Html.Raw(Res.Get("PupilRankingPeriod_List"))";      
            var semesterName = $("#ListSemester a[value=" + Semester + "]").first().text();
            var className = $("#TreeClassForConductRankingArea input[value=" + ClassID + "]").prev().html();
            title = title +" "+semesterName+" Lớp "+ className;
            $("#TitleGrid").html(title);
            $("#TitleGrid").css("display","block");
        }
        // Neu khong co du lieu ve dot thi an checkbox va combobox dot di
        var cboPeriod = $("#cboPeriod");
        if (cboPeriod != null && cboPeriod != undefined) {
            if (cboPeriod.find('option').length == 0) {
                $("#cboPeriod").css("display", "none");
                $("#checkboxid").css("display", "none");
            }
            else {
                $("#cboPeriod").css("display", "");
                $("#checkboxid").css("display", "");
            }
        }

        // Nếu là cấp 2,3 và checkbox = unchecked --> Xếp loại theo kỳ
        // Nếu là cấp 2,3 và checkbox = checked --> Xếp loại theo đợt
        if ('@appliedLevel' != '1') {
            if (!$("#chkPeriod").is(":checked") || cboPeriod.find('option').length == 0) {
                if(ClassID != 0 && ClassID != "" && ClassID != null)
                {
                    $.ajax({
                        url: '/PupilRankingOfSemesterArea/PupilRankingOfSemester/LoadGrid',
                        type: 'post',
                        data: { ClassID: ClassID, ranking: 0, Semester: Semester },

                        beforeSend: function () {
                            //BOOMR.plugins.RT.startTimer("PupilRankingOfSemester_LoadGrid");   //--> bắt đầu đo
                            smas.showProcessingDialog();
                        },
                        success: function (msg) {
                           $("#pnTitle").html('@Res.Get("Common_Label_Notification")');
                            $("#containerForGridOfConductRanking").html(msg);
                            smas.hideProcessingDialog();
                            //BOOMR.plugins.RT.endTimer("PupilRankingOfSemester_LoadGrid");  //--> kết thúc đo
                            //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    })
                }
            }
            else {
                onPeriod();
            }

        }
        else 
        {
            $("#cboPeriod").attr("disabled", "");
            $("#cboPeriod").css("display", "none");
            if(ClassID != 0 && ClassID != null && ClassID != "") {
                $.ajax({
                    url: '/PupilRankingConductArea/PupilRanking/Search',
                    type: 'post',
                    data: { ClassID: ClassID, EducationLevelID: 0, Semester: Semester },

                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("PupilRanking_Search");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $("#containerForGridOfConductRanking").html(msg);
                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("PupilRanking_Search");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }
        }
    }
    
    function onPeriod() {
        $("#TitleGrid").html("");
        $("#pnTitle").html("");
        var ClassID = $("#ClassID").val();
        var Semester = $("#Semester").val();
        $("#PeriodID").val($("#cboPeriod").val());
        var PeriodID = $("#PeriodID").val();
        if(ClassID != 0 && Semester != 0 && PeriodID != 0)
        {
            var title = "@Html.Raw(Res.Get("PupilRankingPeriod_List"))";
            var semesterName = $("#ListSemester li[value=" + Semester + "]").children().first().html();
            var className = $("#TreeClassForConductRankingArea input[value=" + ClassID + "]").prev().html();
            var period = $("#cboPeriod:visible option[value=" + PeriodID + "]");
            var periodName = "";
            if (period != null && period!=undefined && period.html()!=null) {
                var periodIndex = period.html().indexOf('(');
            }
            if (periodIndex != -1 && period.html()!=undefined) {
                periodName = period.html().substr(0, periodIndex);
            }
            title = title + " "+periodName+" "+semesterName+" Lớp "+ className;
            $("#TitleGrid").html(title);
            $("#TitleGrid").css("display","block");
        }

        if(ClassID != 0 && ClassID != "" && ClassID != null && PeriodID != 0 && PeriodID != "" && PeriodID != null)
        {
            $.ajax({
                url: '/PupilRankingPeriodArea/PupilRankingPeriod/LoadGrid',
                type: 'post',
                data: { cid: ClassID, sid: Semester, pid: PeriodID,ranking:0 },
                beforeSend: function () {
                    //BOOMR.plugins.RT.startTimer("PupilRankingPeriod_LoadGrid");   //--> bắt đầu đo
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#pnTitle").html('@Res.Get("Common_Label_Notification")');
                    $("#containerForGridOfConductRanking").html(msg);
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("PupilRankingPeriod_LoadGrid");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
</script>
