﻿@model ParticularPupilViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ParticularPupilArea.Models
@using SMAS.Web.Areas.ParticularPupilArea
@{
    List<ParticularPupilViewModel> paging = (List<ParticularPupilViewModel>)ViewData[ParticularPupilConstants.LIST_PARTICULARPUPIL];
    var count = paging.Count();
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            Tìm thấy @count kết quả
        </div>
        <div class="vt-ResultPanel-Title-Button">
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        var index = 1;
        Html.Telerik()
            .Grid((IEnumerable<ParticularPupilViewModel>)ViewData[ParticularPupilConstants.LIST_PARTICULARPUPIL])
            .Name("GridParticularPupil")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HeaderTemplate(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

                c.Bound(o => o.FullName).Sortable(true);
                c.Bound(o => o.PupilCode).Sortable(true);
                c.Bound(o => o.DisplayName).Sortable(true);
                c.Bound(o => o.PsychologyCharacteristic).Sortable(false);
                c.Bound(o => o.RealUpdatedDate).Sortable(true).Visible(true).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" });
                c.Command(cmd =>
                {
                    cmd.Custom("vtTreatment")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("SearchTreatment", "ParticularPupil")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-details" })
                       .HtmlAttributes(new { style = "text-align:center" });
                }).Title(Res.Get("ParticularPupil_Column_Treatment")).HtmlAttributes(new { style = "text-align:center" }).Width(80);
            })
            .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.ParticularPupilID))
            .Pageable(o => o.PageSize(20))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(o => o.Enabled(true))
            .Render();
    }
</div>
<script type="text/javascript">
    var lstInd = 0;

    function Grid_onDataBinding(e) {
        var grid = $('#GridParticularPupil').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function Grid_onCommand(e) {
        if (e.name == "vtTreatment") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("ParticularPupilTreatmentDialog");
            smas.bindTo(item, "ParticularPupilTreatmentDialog");
            smas.openDialog("ParticularPupilTreatmentDialog", '@Url.Action("SearchTreatment")', { ParticularPupilID: item.ParticularPupilID });
        }
    }

    function PrepareCreate() {
        cboEducationLevelOnchangeCreat($("#EducationLevelID"), 0);
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>
