﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTestListArea.Models
@using SMAS.Web.Areas.ApprenticeshipTestListArea
@using SMAS.Business.Common

@{
    ViewBag.Title = Res.Get("ApprenticeshipTestList_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div id="lstApprenticeshipTraining" class="vt-ResultPanel">

        @Html.Partial("_List")
    </div>
    
}
<script type="text/javascript">
    $(document).ready(
        function () {
            search();
        }
        );

    function exportReport() {
        var academicYearID = $("#frmSearch #AcademicYearID").val();
        var apprenticeshipClassID = $("#frmSearch #ClassID").val();
        var fullName = $("#frmSearch #FullName").val();
        var pupilCode = $("#frmSearch #PupilCode").val();

        var downloadUrl = '@Url.Action("ExportExcel", "ApprenticeshipTestList")';
        downloadUrl += '?academicYearID=' + academicYearID;
        downloadUrl += '&apprenticeshipClassID=' + apprenticeshipClassID;
        downloadUrl += '&fullName=' + fullName;
        downloadUrl += '&pupilCode=' + pupilCode;
        window.open(downloadUrl);
    }


</script>
