﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.LookupInfoReportArea.Models
<form id="frmSearch" name="frmSearch">
    <div class="GenaralInfoSection lookup-info-report-page-search" style="padding:8px  8px 0px;">
        <div class="TitleTabSection">
            <a class="Sprite1"><span class="Sprite1">@Res.Get("Common_Label_SearchingCriteria")</span></a>
        </div>
        <div class="GIInSection HealthInSection">
             @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
        </div>
        <div class="TitleTabSection mg-t-15">
            <a class="Sprite1"><span class="Sprite1">@Res.Get("LookupInfoReport_Label_ShowInformation")</span></a>
        </div>
        <div class="GIInSection HealthInSection">
            @Html.ViettelCheckBox("chkFullName", "", new Dictionary<string, object>() { { "checked", true }, { "disabled", "disabled" } }, Res.Get("LookupInfo_Label_chkFullName"), false, false, true)
            @Html.ViettelCheckBox("chkEmployeeCode", "", new Dictionary<string, object>() { { "checked", true }, { "disabled", "disabled" } }, Res.Get("LookupInfo_Label_chkEmployeeCode"), false, false, true)
            @Html.ViettelCheckBox("chkBirthDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkBirthDate"), false, false, true)
            @Html.ViettelCheckBox("chkSex", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkSex"), false, false, true)
            @Html.ViettelCheckBox("chkEthnic", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkEthnic"), false, false, true)
            @Html.ViettelCheckBox("chkReligion", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkReligion"), false, false, true)
            @Html.ViettelCheckBox("chkIdentifyNumber", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkIdentifyNumber"), false, false, true)
            @Html.ViettelCheckBox("chkIdentifyIssuedDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkIdentifyIssuedDate"), false, false, true)
            @Html.ViettelCheckBox("chkIdentifyIssuedPlace", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkIdentifyIssuedPlace"), false, false, true)
            @Html.ViettelCheckBox("chkMobile", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkMobile"), false, false, true)
            @Html.ViettelCheckBox("chkEmail", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkEmail"), false, false, true)
            @Html.ViettelCheckBox("chkHomeTown", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkHomeTown"), false, false, true)
            @Html.ViettelCheckBox("chkPermanentResidentalAddress", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkPermanentResidentalAddress"), false, false, true)
            @Html.ViettelCheckBox("chkYouthLeageMember", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkYouthLeageMember"), false, false, true)
            @Html.ViettelCheckBox("chkYouthLeagueJoinedDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkYouthLeagueJoinedDate"), false, false, true)
            @Html.ViettelCheckBox("chkCommunistPartyMember", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkCommunistPartyMember"), false, false, true)
            @Html.ViettelCheckBox("chkCommunistPartyJoinedDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkCommunistPartyJoinedDate"), false, false, true)
            @Html.ViettelCheckBox("chkFatherFullName", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkFatherFullName"), false, false, true)
            @Html.ViettelCheckBox("chkFatherBirthDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkFatherBirthDate"), false, false, true)
            @Html.ViettelCheckBox("chkMotherFullName", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkMotherFullName"), false, false, true)
            @Html.ViettelCheckBox("chkMotherBirthDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkMotherBirthDate"), false, false, true)
            @Html.ViettelCheckBox("chkSpouseFullName", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkSpouseFullName"), false, false, true)
            @Html.ViettelCheckBox("chkSpouseBirthDate", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkSpouseBirthDate"), false, false, true)
            @Html.ViettelCheckBox("chkGraduationLevel", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkGraduationLevel"), false, false, true)
            @Html.ViettelCheckBox("chkQualificationLevel", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkQualificationLevel"), false, false, true)
            @Html.ViettelCheckBox("chkForeignLanguageGrade", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkForeignLanguageGrade"), false, false, true)
            @Html.ViettelCheckBox("chkITQualificationLevel", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkITQualificationLevel"), false, false, true)
            @Html.ViettelCheckBox("chkPoliticalGrade", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkPoliticalGrade"), false, false, true)
            @Html.ViettelCheckBox("chkSpecialityCat", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkSpecialityCat"), false, false, true)
            @Html.ViettelCheckBox("chkContractType", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkContractType"), false, false, true)
            @Html.ViettelCheckBox("chkWorkType", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkWorkType"), false, false, true)
            @Html.ViettelCheckBox("chkSchoolFaculty", "", new Dictionary<string, object>() { }, Res.Get("LookupInfo_Label_chkSchoolFaculty"), false, false, true)
            @Html.ViettelCheckBox("chkSchool", "", new Dictionary<string, object>() { { "checked", true } }, Res.Get("LookupInfo_Label_chkSchool"), false, false, true)
        </div>
    </div>
    <div class="dialog-buttons mg-t-10 text-center">
        @Html.ViettelButton(Res.Get("Common_Button_Search"), "button", "SearchClick()", " btn btn-info btn-round btn-icon btn-icon-search")
    </div>
</form>
@*<input type="hidden" name="PupilID" value="" />*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#frmSearch #EmployeeCode").attr("maxlength", "30");
        $("#frmSearch #FullName").attr("maxlength", "100");
        
    });
    function SearchClick() {
        $.ajax({
            url: '@Url.Action("Search", "LookupInfoReport")',
            type: 'post',
            data: jsonUtils.serializeObject("frmSearch"),



            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {

                $("#lstLookupInfo").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function ExportExcel() {
        alert(1);
    }
    function AjaxLoadDistrict(cboDistrict) {
        var EducationGradeID = $("#frmSearch #EducationGrade").val();
        var DistrictID = $(cboDistrict).val();
        AjaxLoadSchool(EducationGradeID, DistrictID);
        //        if (DistrictID != "" && EducationGradeID != "") {
        //            AjaxLoadSchool(EducationGradeID, DistrictID);
        //        }
    }
    function AjaxLoadGrade(cboEducationGrade) {
        var EducationGradeID = $(cboEducationGrade).val();
        var DistrictID = $("#frmSearch #District").val();
        AjaxLoadSchool(EducationGradeID, DistrictID);
        //        if (DistrictID != "" && EducationGradeID != "") {
        //            AjaxLoadSchool(EducationGradeID, DistrictID);
        //        }
    }
    function AjaxLoadSchool(EducationGradeID, DistrictID) {

        controlUtils.loadComboBox(
            $("#frmSearch #School"),
            '@Url.Action("AjaxLoadSchool", "LookupInfoReport")',
            { EducationGradeID: EducationGradeID, DistrictID: DistrictID },
            '@Res.Get("All")'
        );
        }

        function OnCboSchoolChange(cboSchool) {
            frmId = $(cboSchool).closest('form').get(0).id;
            controlUtils.loadComboBox(
                $("#" + frmId + " #SchoolFaculty"),
                '@Url.Action("LoadSchoolFaculty", "LookupInfoReport")',
            { SchoolID: $(cboSchool).val() },
            '@Res.Get("All")'
        );
        }
        $(document).ready(function () {
            var districtID = '@ViewData[SMAS.Web.Areas.LookupInfoReportArea.LookupInfoReportConstants.LIST_DEFAULT_PDISTRICT]';
            //        alert(districtID);
            $("#frmSearch #District").val(parseInt(districtID));
            var t = '@ViewData[SMAS.Web.Areas.LookupInfoReportArea.LookupInfoReportConstants.LIST_ACCOUNTTYPE]';
            //        alert(t);
            if (t == "False") {
                $("#frmSearch #District").attr("disabled", "disabled");
            } else {
                $("#frmSearch #District").removeAttr("disabled");
            }

        });

</script>
<style type="text/css">
    #frmSearch .vt-control{width:30%}#frmSearch .vt-control .editor-label{width:30%!important}#frmSearch .vt-control .editor-field{width:65%!important}
</style>
