﻿@{
    GlobalInfo _glo = new GlobalInfo();
    ViewBag.Title = Res.Get("SituationStatisticsPupil");
    if (_glo.IsSubSuperVisingDeptRole || _glo.IsSuperVisingDeptRole)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.SituationStatisticsPupilArea
@using SMAS.Web.Areas.SituationStatisticsPupilArea.Models

<form id="frmSituationStatistic">
    <div id="frmSearch">
        @{
            if (_glo.IsSubSuperVisingDeptRole || _glo.IsSuperVisingDeptRole)
            {
            <div class="vt-SearchPanel vt-InfoPanel situation-statistics-pupil-page">
                <div class="vt-SearchPanel-Title">
                    @Res.Get("SituationStatisticsPupil")
                </div>
                <div class="vt-SearchPanel-Content">
                    @Html.ViettelEditorForModel()
                    <fieldset id="box-infoPupil">
                        <legend><span>@Res.Get("DataSupplement")</span></legend>
                        <div class="row">
                            <div class="p-l-15">
                                 <label class="custom-checkbox">
                                   <input class="chkPupilFemale" id="chkPupilFemale" name="chkPupilFemale" type="checkbox">
                                    @Res.Get("PupilFemale")
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="p-l-15">
                                <label class="custom-checkbox">
                                    <input class="chkPupilEthenic" id="chkPupilEthenic" name="chkPupilEthenic" type="checkbox">
                                     @Res.Get("PupilEthnic")
                                    <span class="checkmark"></span>
                                
                                </label>
                            </div>
                            <div class="p-l-15">
                                 <label class="custom-checkbox">
                                    <input class="chkFemaleEthenic" id="chkFemaleEthenic" name="chkFemaleEthenic" type="checkbox">
                                    @Res.Get("PupilFemaleEthnic")
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                       
                    </fieldset>
                </div>

                <div class="vt-SearchPanel-Button">
                    @Html.ViettelButton(Res.Get("Tổng hợp mới"), "button", "CreateReport()", "btn btn-info btn-round", "btnGeneral")
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitExcelBySuperClick()", "btn btn-info btn-round btn-icon btn-icon-excel", "btnExportEXCEL")
                </div>
            </div>
            <script>
                
                function CreateReport() {
                    var data = new Object();
                    data.cboYear = $("#cboYear").val();
                    data.cboMonth = ($("#cboMonth").val() == null) ? 0 : $("#cboMonth").val();
                    data.cboDistrict = ($("#cboDistrict").val() == null) ? 0 : $("#cboDistrict").val();
                    data.cboAppliedLevel = ($("#cboAppliedLevel").val() == null) ? 0 : $("#cboAppliedLevel").val();
                    data.chkFemale = ($("#chkPupilFemale").is(':checked') ? true : false);
                    data.chkEthenic = ($("#chkPupilEthenic").is(':checked') ? true : false);
                    data.chkFemaleEthenic = ($("#chkFemaleEthenic").is(':checked') ? true : false);
                    $.ajax({
                        url: '@Url.Action("CreatedReport", "SituationStatisticsPupil")',
                        type: 'post',
                        data: {
                            year: data.cboYear,
                            month: data.cboMonth,
                            districtID: data.cboDistrict,
                            appliedLevelID: data.cboAppliedLevel,
                            chkFemale: data.chkFemale,
                            chkEthenic: data.chkEthenic,
                            chkFemaleEthenic: data.chkFemaleEthenic
                        },
                        beforeSend: function () {
                            $("#btnGeneral").attr("disabled", "disabled");
                            $("#btnExportEXCEL").attr("disabled", "disabled");
                            $("#btnExportPDF").attr("disabled", "disabled");

                            $("#btnGeneral").addClass("t-state-disabled");
                            $("#btnExportEXCEL").addClass("t-state-disabled");
                            $("#btnExportPDF").addClass("t-state-disabled");
                            smas.showProcessingDialog();
                        },
                        success: function (data) {
                            if (data.Type == "success") {
                                $("#btnGeneral").removeAttr("disabled");
                                $("#btnExportEXCEL").removeAttr("disabled");
                                $("#btnExportPDF").removeAttr("disabled");

                                $("#btnGeneral").removeClass("t-state-disabled");
                                $("#btnExportEXCEL").removeClass("t-state-disabled");
                                $("#btnExportPDF").removeClass("t-state-disabled");
                            } else {
                                $("#btnGeneral").attr("disabled", "disabled");
                                $("#btnExportEXCEL").attr("disabled", "disabled");
                                $("#btnExportPDF").attr("disabled", "disabled");

                                $("#btnGeneral").addClass("t-state-disabled");
                                $("#btnExportEXCEL").addClass("t-state-disabled");
                                $("#btnExportPDF").addClass("t-state-disabled");
                            }
                            smas.alert('Tổng hợp báo cáo thành công');
                            smas.hideProcessingDialog();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    });
                }

                function SubmitExcelBySuperClick() {
                    var data = new Object();
                    data.cboYear = $("#cboYear").val();
                    data.cboMonth = ($("#cboMonth").val() == null) ? 0 : $("#cboMonth").val();
                    data.cboDistrict = ($("#cboDistrict").val() == null) ? 0 : $("#cboDistrict").val();
                    data.cboAppliedLevel = ($("#cboAppliedLevel").val() == null) ? 0 : $("#cboAppliedLevel").val();
                    data.chkFemale = ($("#chkPupilFemale").is(':checked') ? true : false);
                    data.chkEthenic = ($("#chkPupilEthenic").is(':checked') ? true : false);
                    data.chkFemaleEthenic = ($("#chkFemaleEthenic").is(':checked') ? true : false);

                    var downloadUrl = '@Url.Action("ExportReport", "SituationStatisticsPupil")';
                    downloadUrl += '?year=' + data.cboYear;
                    downloadUrl += '&month=' + data.cboMonth;
                    downloadUrl += '&district=' + data.cboDistrict;
                    downloadUrl += '&appliedLevel=' + data.cboAppliedLevel;
                    downloadUrl += '&showPupilFemale=' + data.chkFemale;
                    downloadUrl += '&showPupilEthenic=' + data.chkEthenic;
                    downloadUrl += '&showFemaleEthenic=' + data.chkFemaleEthenic;
                    window.open(downloadUrl);
                }

                function onChangeYear() {
                    var _year = $("#frmSituationStatistic #cboYear").val();

                    if (_year > 0) {
                        $('#ClassID').removeAttr('disabled');
                        $.ajax({
                            url: '@Url.Action("LoadMonthByYear", "SituationStatisticsPupil")',
                                type: 'post',
                                data: { year: _year },
                                success: function (data) {
                                    $("#cboMonth").find('option').remove().end();
                                    $.each(data.lstMonth, function (index, value) {
                                        $('#cboMonth').append($("<option></option>").attr("value", value.Value).text(value.Text));
                                    });

                                    $('#cboMonth').find('option[value=' + data.valueSelected + ']').attr('selected', 'selected');
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    smas.alert(XMLHttpRequest.responseText);
                                }
                            });
                        } else {
                            $("#cboMonth").find('option').remove().end().append("<option value></option>");
                        }
                    }
            </script>
            }
            else
            {
            <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
                <div class="vt-SearchPanel-Title">
                    @Res.Get("Thống kê tình hình biến động học sinh")
                </div>
                <div class="vt-SearchPanel-Content">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.ViettelCombobox(Res.Get("MarkRecord_Label_Month"),
                            "MonthID",
                            (SelectList)ViewData[SituationStatisticsPupilConstants.LIST_MONTH],
                            GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { }, false, false)
                        </div>
                        <div class="col-sm-6">
                            @Html.ViettelCombobox(Res.Get("ApprenticeshipTraining_Label_Education"),
                            "EducationLevelID",
                            (IEnumerable<SelectListItem>)ViewData[SituationStatisticsPupilConstants.LIST_EDUCATION_LEVEL],
                            GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { }, false, false)
                        </div>                 
                    </div>
                    <fieldset id="box-infoPupil">
                        <legend><span>@Res.Get("DataSupplement")</span></legend>
                        <div class="row">
                            <div class="col-sm-4">
                                 <label class="custom-checkbox">
                                    <input class="chkPupilFemale" name="chkPupilFemale" type="checkbox">
                                    @Res.Get("PupilFemale")
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="custom-checkbox">
                                    <input class="chkPupilEthenic" name="chkPupilEthenic" type="checkbox">
                                    @Res.Get("PupilEthnic")
                                    <span class="checkmark"></span>
                                
                                </label>
                            </div>
                            <div class="col-sm-4">
                                 <label class="custom-checkbox">
                                    <input class="chkFemaleEthenic" name="chkFemaleEthenic" type="checkbox">
                                    @Res.Get("PupilFemaleEthnic")
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                       
                        
                        
                    </fieldset>
                </div>
                <div class="vt-SearchPanel-Button">
                    @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitExcelBySchoolClick()", "btn btn-info btn-round btn-icon btn-icon-excel")
                    @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFBySchoolClick()", "btn btn-info btn-round btn-icon btn-icon-pdf")
                </div>
            </div>
        
            <script>
                $(".editor-field").has("select").addClass("custom-select");
                function SubmitExcelBySchoolClick() {
                    smas.getReport('frmSituationStatistic', '@Url.Action("GetSituationStatisticReportBySchool", "SituationStatisticsPupil")',
                 '@Url.Action("GetNewReportBySchool", "SituationStatisticsPupil")', '@Url.Action("DownloadReportBySchool", "SituationStatisticsPupil")');
                }
                function SubmitPDFBySchoolClick() {
                    var blank = '_blank';
                    smas.getReportDocument('frmSituationStatistic', '@Url.Action("GetSituationStatisticReportBySchool", "SituationStatisticsPupil")',
            '@Url.Action("GetNewReportBySchool", "SituationStatisticsPupil")', '@Url.Action("DownloadPDFReportBySchool", "SituationStatisticsPupil")', blank);
                }
            </script>
            }
        }
    </div>
</form>

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="height:700px">
    @if (_glo.IsSubSuperVisingDeptRole || _glo.IsSuperVisingDeptRole)
    {
        <iframe style="width: 100%; height: 100%;" src="/HtmlTemplate/TK_Tinh_Hinh_Bien_Dong_HS_SO-PHONG/SGD_TKBienDongHS_112017.htm"></iframe>
    }
    else
    { 
        <iframe style="width: 100%; height: 100%;" src="/HtmlTemplate/TK_Tinh_Hinh_Bien_Dong_HS_TRUONG/HS_THCS_TKBiendongHS_112017.htm"></iframe>
    }

</div>

