﻿@model FaultCriteriaViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.FaultCriteriaArea.Models

    @using (Ajax.BeginForm("Create",
                       "FaultCriteria",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        <div id="CreateFaultCriteria" class="vt-EditorPanel vt-EditorPanel-1 fault-criteria-create-page">
            <div class="vt-EditorPanel-Control">
                @Html.AntiForgeryToken()
                @Html.ViettelEditorForModel()
            </div>
            <div class="vt-EditorPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
            </div>
        </div>
    }
<script type="text/javascript">

    $(document).ready(function () {
        $("#CreateFaultCriteria #PenalizedMark").addClass("decimal");

    });
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            setTimeout("smas.closeDialog('createDialog')", 300);
            search();
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    $(document).ready(function () {
//        $("#frmCreate #PenalizedMark").attr("class", "integer");

        $('#CreateFaultCriteria #PenalizedMark')[0].dataset.valNumber = "Trường Điểm trừ phải là số.";
    });
</script>
