@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.FaultCriteriaArea.Models
@using (Ajax.BeginForm("Search",
                           "FaultCriteria",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstFaultCriteria",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 fault-criteria-search-page">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-search")
        </div>
    </div>
}
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
