@model SMAS.Models.Models.Role

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.DetailsRK; 
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@Resources.Resource.DetailsRK</h2>

<fieldset>
    <legend>Role</legend>

    <div class="display-label">ParentID</div>
    <div class="display-field">@Model.ParentID</div>

    <div class="display-label">RoleName</div>
    <div class="display-field">@Model.RoleName</div>

    <div class="display-label">RolePath</div>
    <div class="display-field">@Model.RolePath</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Groups</div>
    <div class="display-field">@(Model.GroupCats == null ? "None" : Model.GroupCats.Count.ToString())</div>

    <div class="display-label">Menus</div>
    <div class="display-field">@(Model.RoleMenus == null ? "None" : Model.RoleMenus.Count.ToString())</div>

    <div class="display-label">aspnet_Users</div>
    <div class="display-field">@(Model.UserRoles == null ? "None" : Model.UserRoles.Count.ToString())</div>
</fieldset>
<p>
    @Html.ViettelActionLink(@Resources.Resource.EditRK, "Edit", new { id=Model.RoleID }) |
    @Html.ViettelActionLink(@Resources.Resource.BackRK, "Index")
</p>


