﻿         
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.RoleArea.Models
@using SMAS.Web.Areas.RoleArea
@using SMAS.Web.Areas.RoleArea.Models
@using SMAS.Web.Utils
@using System.Collections
@using SMAS.Models.Models
@using Com.Viettel.Framework.HtmlHelpers

@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("IndexRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
    IQueryable<RoleViewModel> RolesViewData =  ViewData[RoleConstants.LS_ROLES_PARENT_SEARCH] as IQueryable<RoleViewModel>;
    List<RoleViewModel> listRoles = new List<RoleViewModel>();
    if (RolesViewData != null) {
        listRoles = RolesViewData.ToList();
        listRoles.Add(new RoleViewModel{ RoleID = 0, RoleName = "[Tất cả]"})  ;
    }
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
     <table>
        <tr>
            <td> @Html.ViettelLabel(@Resources.Resource.ResourceManager.GetString("Role_Label_Name"))
                @Html.TextBox("RoleNameTextBox")
             </td>
            <td>
                @Html.ViettelLabel(@Resources.Resource.ResourceManager.GetString("Role_Label_ParentName"))
                @{               
               Html.Telerik().DropDownList()
                   .Name("cboRole")
                   .BindTo(new SelectList(listRoles.ToList(), "RoleID", "RoleName"))
                   .SelectedIndex(listRoles.Count -1)
                   .Render();
                    }
            </td>
        </tr>   
        <tr>
            <td align = "center">
                <input type="submit"  class="vt-button-search" id = "btnSearch" value = "@Resources.Resource.ResourceManager.GetString("Common_Button_Search")" />
            </td>
        </tr> 
    </table>
    </fieldset>
}
<p></p>
<div>
@(
 Html.Telerik().Grid<RoleViewModel>().Name("Grid")
                    .ToolBar(commands => commands.Insert())
                    .DataKeys(keys => keys.Add(o => o.RoleID))
                    .DataBinding(dataBinding => dataBinding
                        .Ajax()
                           .Select("Select", "Role", new { RoleName = (string) ViewData[RoleConstants.ROLE_NAME] , RoleParentID = (int) ViewData[RoleConstants.ROLE_PARENT_ID]})
                           .Insert("Insert", "Role")
                           .Update("Edit", "Role")
                           .Delete("Delete", "Role")
                           .OperationMode(GridOperationMode.Client)
                           )
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.RoleID).ReadOnly(true).Visible(false).Width(80);
                        columns.Bound(o => o.RoleName).Width(150).Title(Res.Get("Role_Column_Name"));
                        columns.ForeignKey(o => o.ParentID, (IEnumerable)ViewData[RoleConstants.LS_ROLES_PARENT_SEARCH], "RoleID", "RoleName")
                            .Width(150).Title(Res.Get("Role_Column_Parent"));
                        columns.Bound(o => o.Description).Width(150).Title(Res.Get("Role_Column_Description"));
                        columns.Command(commands => commands.Edit().ButtonType(GridButtonType.Image)).Width(100).Title(Res.Get("EditRK"));
                        columns.Command(commands => commands.Delete().ButtonType(GridButtonType.Image)).Width(100).Title(Res.Get("DeleteRK"));
                    })
                    .Editable(editing => editing.Mode(GridEditMode.PopUp))
                    .Scrollable()
                    .Pageable()
                    .Sortable()
     )
</div>

@*(Html.Telerik().ScriptRegistrar()
        .Role(group => group
            .Add("telerik.examples.js")
            .Compress(true))
            .OnDocumentReady(
            @<text>
                prettyPrint();
            </text>)
)*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var grid = $('#Grid').data('tGrid');
            var params = {
                RoleName: $('#RoleNameTextBox').val(),
                RoleParentID: $('#cboRole').val()
            };
            grid.rebind(params);
            return false;
        });
    });
</script>
