@model DailyExpenseViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyExpenseArea.Models

@using (Ajax.BeginForm("Edit",
                       "DailyExpense",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
	@Html.AntiForgeryToken()
         
    @Html.ViettelEditorForModel()
    @Html.ViettelHidden("DailyExpenseID")

    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
    </div>

}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>


