﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Areas.DailyExpenseArea
@using SMAS.Business.BusinessObject
<fieldset>
    <legend>@Res.Get("DishInspectionBusiness_Label_PayedMoney")</legend>
    @{
        int NumberOfChild = (int) ViewData[DailyExpenseConstants.NUMBER_CHILD];
        int DailyPrice = (int)ViewData[DailyExpenseConstants.MAX_PRICE];
        List<object> listData = new List<object>();
        listData.Add(null);

        Html.Telerik()
            .Grid(listData)
            .Name("GridOtherService")
            .Columns(c =>
            {
                c.Template(o => DailyPrice).Title(Res.Get("DishInspectionBusiness_Label_PricePerChildren")).HtmlAttributes(new { style = "text-align:right" });
                c.Template(o => NumberOfChild).Title(Res.Get("DishInspectionBusiness_Label_NumberOfChildrent")).HtmlAttributes(new { style = "text-align:right" });
                c.Template(o => NumberOfChild * DailyPrice).Title(Res.Get("DishInspectionBusiness_Label_MoneyVn")).HtmlAttributes(new { style = "text-align:right" });
            })
             .DataKeys(keys => keys.Add(o => 1))
            .Selectable()
            .Scrollable(o => o.Enabled(true).Height(40))          
            .Render();
            
    }
</fieldset>
