@model DailyExpenseViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyExpenseArea.Models
@using SMAS.Web.Areas.DailyExpenseArea

@{
    var index = 1;
    
    Html.Telerik()
        .Grid((IEnumerable<DailyExpenseViewModel>)ViewData[DailyExpenseConstants.LIST_DAILYEXPENSE])
        .Name("GridDailyExpense")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);	
					
						c.Bound(o => String.Format("{0:g}", o.ExpenseDate)).Sortable(true);									
						c.Bound(o => o.Receipt).Sortable(true);									
						c.Bound(o => o.Expense).Sortable(true);									
						c.Bound(o => o.Balance).Sortable(true);									
						c.Bound(o => o.SchoolID).Sortable(true);									
						c.Bound(o => o.AcademicYearID).Sortable(true);									
					
					
            
            c.Command(cmd => {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit","DailyExpense")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new {@class = "t-icon t-edit"});
                
                
            }).Title(Res.Get("Common_Column_Edit")).Width(20);


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "DailyExpense")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


            }).Title(Res.Get("Common_Column_Delete")).Width(20);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "DailyExpense")
                    
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.DailyExpenseID))
        .Pageable()
        .Sortable()
        .ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")</text>))	        
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<script type="text/javascript">

</script>



