@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DailyExpenseArea.Models
@using SMAS.Web.Areas.DailyExpenseArea
@using SMAS.Web.Areas.DailyExpenseArea
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common

<Style type="text/css">
    .t-header{vertical-align:middle}.abc .t-grid td{padding:0}.abc .t-grid-header .t-header,.abc .t-header td th{padding:0}#GridDishInspection{width:711px}#GridDishInspection .t-grid-content tr{height:45px}
</Style>

<fieldset style="padding:5px;">
    <legend>@Res.Get("DishExpense_Label_FoodUsedList")</legend>
    <div class="abc" style="width:712px;">
    @{
        var index = 1;
        List<EatingGroupBO> listEatingGroup = (List<EatingGroupBO>)ViewData[DailyExpenseConstants.LIST_EATINGGROUP];
        int widthSize = 150 * listEatingGroup.Count;
        if (listEatingGroup == null)
        {
            listEatingGroup = new List<EatingGroupBO>();
        }
        listEatingGroup = listEatingGroup.OrderByDescending(o => o.EatingGroupID).ToList();
        List<DishInspectionBO> listOtherService = (List<DishInspectionBO>)ViewData[DailyExpenseConstants.LIST_OTHERSERVICE];

        Html.Telerik()
            .Grid((IEnumerable<DishInspectionViewModel>)ViewData[DailyExpenseConstants.LIST_DISHINSPECTION])
            .Name("GridDishInspection")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                c.Template(o => o.FoodName).Title(Res.Get("Common_Columnl_Food")).Width(100);
                c.Template(o => o.SumWeight).Title(Res.Get("Common_Column_WeightSum")).HtmlAttributes(new { style = "text-align:right" }).Width(70);
                c.Template(o => o.TotalMoney).Title(Res.Get("DishInspectionBusiness_Label_Money")).HtmlAttributes(new { style = "text-align:right" }).Width(70);
                c.Template(
        @<text>
        <table cellspacing="0">
            <tr>
                @{
                    if (listEatingGroup != null && listEatingGroup.Count > 0)
                    {
                        List<DishInspectionViewModel> ListChild = item.ListDishInspectionViewModel;
                        if (ListChild == null)
                        {
                            ListChild = new List<DishInspectionViewModel>();
                        }
                        foreach (var EatingGroup in listEatingGroup)
                        {
                            DishInspectionViewModel child = ListChild.Find(o => o.EatingGroupID == EatingGroup.EatingGroupID);
                            string sumWeight = child != null ? child.SumWeight.ToString() : string.Empty;
                            string sumPrice = child != null ? child.SumPrice.ToString() : string.Empty;
                            string TotalMoney = child != null ? child.TotalMoney.ToString() : string.Empty;
                            int MenuType = child != null ? child.MenuType : SystemParamsInFile.MENU_TYPE_ADDITIONAL;
                            if (SystemParamsInFile.MENU_TYPE_ADDITIONAL == MenuType)
                            {
                                sumWeight = string.Empty;
                                sumPrice = string.Empty;
                                TotalMoney = string.Empty;
                            }
                    <td style="text-align:right; width: 100px;" title="@sumWeight" valign="middle">
                        @sumWeight
                    </td>
                    <td style="text-align:right" title="@sumPrice" valign="middle">
                        @sumPrice
                    </td>
                    <td style="text-align:right" title="@TotalMoney" valign="middle">
                        @TotalMoney
                    </td>
                        }

                        foreach (var EatingGroup in listEatingGroup)
                        {
                            DishInspectionViewModel child = ListChild.Find(o => o.EatingGroupID == EatingGroup.EatingGroupID);
                            string sumWeight = child != null ? child.SumWeight.ToString() : string.Empty;
                            string sumPrice = child != null ? child.SumPrice.ToString() : string.Empty;
                            string TotalMoney = child != null ? child.TotalMoney.ToString() : string.Empty;
                            int MenuType = child != null ? child.MenuType : SystemParamsInFile.MENU_TYPE_GENERAL;
                            if (SystemParamsInFile.MENU_TYPE_GENERAL == MenuType)
                            {
                                sumWeight = string.Empty;
                                sumPrice = string.Empty;
                                TotalMoney = string.Empty;
                            }
                    <td style="text-align:right" title="@sumWeight" valign="middle">
                        @sumWeight
                    </td>
                    <td style="text-align:right" title="@sumPrice" valign="middle">
                        @sumPrice
                    </td>
                    <td style="text-align:right" title="@TotalMoney" valign="middle">
                        @TotalMoney
                    </td>
                        }
                    }
                }
            </tr>
        </table>
        </text>)
                .HeaderTemplate(@<text>
                    <table>
                        <tr>
                            @{
                                if (listEatingGroup != null && listEatingGroup.Count > 0)
                                {
                                    int size = listEatingGroup.Count;
                                    int colSpan = size * 3;
                                    
                                <td style="text-align:center;font-weight:bold; width:@(widthSize)px" colspan="@colSpan" title='@Res.Get("DishInspectionBusiness_Label_NormalMenu")'>
                                    @Res.Get("DishInspectionBusiness_Label_NormalMenu")
                                </td>
                                <td style="text-align:center;font-weight:bold;" colspan="@colSpan" title='@Res.Get("DishInspectionBusiness_Label_AddedMenu")'>
                                    @Res.Get("DishInspectionBusiness_Label_AddedMenu")
                                </td>
                                }
                            }
                        </tr>
                        <tr>
                            @{
                                if (listEatingGroup != null && listEatingGroup.Count > 0)
                                {
                                    foreach (var EatingGroup in listEatingGroup)
                                    {
                                        string EatingGroupname = EatingGroup.EatingGroupName;    
                                <td style="text-align:center;font-weight:bold;width: 150px;" title="@EatingGroupname" colspan="3">
                                    @EatingGroupname
                                </td>
                                    }

                                    foreach (var EatingGroup in listEatingGroup)
                                    {
                                        string EatingGroupname = EatingGroup.EatingGroupName;    
                                <td style="text-align:center;font-weight:bold;width: 150px;" title="@EatingGroupname" colspan="3">
                                    @EatingGroupname
                                </td>
                                    }
                                } 
                            }
                        </tr>
                        <tr>
                            @{
                                if (listEatingGroup != null && listEatingGroup.Count > 0)
                                {
                                    foreach (var EatingGroup in listEatingGroup)
                                    {
                                <td style="text-align:center" title='@Res.Get("Common_Column_WeightSum")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("Common_Column_WeightSum")))
                                </td>
                                <td style="text-align:center" title='@Res.Get("DishInspectionBusiness_Label_Price")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("DishInspectionBusiness_Label_Price")))
                                </td>
                                <td style="text-align:center" title='@Res.Get("DishInspectionBusiness_Label_Money")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("DishInspectionBusiness_Label_Money")))
                                </td>
                                    }

                                    foreach (var EatingGroup in listEatingGroup)
                                    {
                                <td style="text-align:center" title='@Res.Get("Common_Column_WeightSum")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("Common_Column_WeightSum")))
                                </td>
                                <td style="text-align:center" title='@Res.Get("DishInspectionBusiness_Label_Price")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("DishInspectionBusiness_Label_Price")))
                                </td>
                                <td style="text-align:center" title='@Res.Get("DishInspectionBusiness_Label_Money")' valign="middle">
                                    @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("DishInspectionBusiness_Label_Money")))
                                </td>
                                    }
                                }
                            }
                        </tr>
                    </table>
        </text>).Width(widthSize);

            })
            
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.FoodID))
            .Pageable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable()
            .Render();
                      
    }
    </div>

</fieldset>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridDishInspection').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("DishInspection_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.DishInspectionID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>
