﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.DistrictArea.Models
@using SMAS.Web.Utils


@using (Ajax.BeginForm("NumberMod",
                       "DailyExpense",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmNumberMod" }
                       ))
{
        @Html.AntiForgeryToken()
    
    <div>
        @Res.Get("DailyExpense_Label_NumberModInfo")
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:center;">
        @Res.Get("DailyExpense_Label_NumberModMoney")
        <input type="text" name="numberModEndYear" id ="numberModEndYear" maxlength="9"/>
        
    </div>
    <div style="clear:both;"></div>
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "CallSaveNumberMod();", "t-button vt-button-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('NumberMod');", "t-button vt-button-close")
    </div>
}

<script type="text/javascript">

    function CallSaveNumberMod() {
        var datecal = $("#datechoice").val();
        var year = $('#yearPicker').val();
        var month = $('#monthPicker').val();
        var balance = $('#numberModEndYear').val();
        if (datecal != null && balance != null) {
            $.ajax({
                url: '@Url.Action("NumberModSave", "DailyExpense")',
                type: 'post',
                data: { year: year, month: month, balance: balance },
                //data: jsonUtils.serializeObject("frmClassSubjectObject") ,


                beforeSend: function () {
                },
                success: function (msg) {
                    if (msg.Type == "error") {
                        smas.alert({ Type: "error", Message: msg.Message.split('.')[0] });
                    }
                    else {
                        smas.alert(msg);
                    }
                    smas.closeDialog("NumberMod");
                    ChangeMonthYearPicker();
                    $("#numberModEndYear").val(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            });
        }
    }
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("NumberMod");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        console.log(ajaxContext);
        smas.alert(ajaxContext.responseText);
    }

    $(document).ready(function () {
        $('#numberModEndYear').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
    });
</script>
