@model WeeklyMenuAdditionalViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
@{
    ViewBag.Title = @Res.Get("WeeklyMenuAdditional_Label_Insert");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Create",
                       "WeeklyMenuAdditional",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
	@Html.AntiForgeryToken()
    @Html.Partial("_CreateOrEdit", Model)

    <div class="dialog-buttons">		             
             @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")	       
             @Html.ViettelButton(Res.Get("Common_Button_ChooseChildren"), "button", "OnChooseChildrenClick()","", "btnChooseChildren")           
             @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "")     
    </div>
}

<script type="text/javascript">
    var WeeklyMenuID = 0;
    $(document).ready(function () {
        $('#btnChooseChildren').attr('disabled', true);
        $('#btnChooseChildren').attr('style', "color:gray;background-color:gray;border-color:gray;");
    });
    function CreateSuccess(msg) {
       // smas.alert(msg);
       // if (msg.Type == "success") 
        {
            //formUtils.resetForm("frmCreate");
            $('#btnChooseChildren').removeAttr('disabled');
            $('#btnChooseChildren').removeAttr('style');
            formUtils.focusForm("frmCreate");
            WeeklyMenuID = msg;
            smas.alert('@Res.Get("Common_Label_AddNewMessage")');           
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "WeeklyMenuAdditional")');
    }
    function OnChooseChildrenClick() {              
        smas.redirect('@Url.Action("ChooseChildren", "WeeklyMenuAdditional")?WeeklyMenuID=' + WeeklyMenuID);
    }
</script>


