﻿@model WeeklyMenuAdditionalViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@*@using SMAS.Utils.HtmlHelpers*@
@using SMAS.Web.Constants
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea

<div id="divWeeklyMenu">    
    @Html.Partial("WeeklyMenu", Model)    
</div>
<div id="divWeeklyMenuDetail">        
    @Html.Partial("WeeklyMenuDetail", Model)
</div>


