﻿@model PupilProfileViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea

 <fieldset>
    <legend>@Res.Get("WeeklyMenu_Label_ListPupil")</legend>
@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<PupilProfileViewModel>)ViewData[WeeklyMenuAdditionalConstants.List_PupilInsert])
        .Name("GridPupil")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            c.Bound(o => o.PupilCode).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(110);
            c.Bound(o => o.FullName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(120);
            c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(85);
            c.Bound(o => o.GenreName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(85);
            c.Bound(o => o.ClassName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(100);
            c.Bound(o => o.EvaluationConfigName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(100);
            c.Template(@<text><center>
               <input name="Check" id="Check" class="chkStatus" type="checkbox" value="@item.PupilID" title="checkedPupil" typecheck="checkbox" onclick="selectOne()" onkeypress="return runScript(event)"/>
            </center>
            </text>)
                   .HeaderTemplate(@<text><input type="checkbox" id="chkAll" typecheck="checkboxAll" onclick="selectOneCol()" onkeypress="return runScript(event)" />
            </text>).Width(30);
    
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
        //.Select("Search", "WeeklyMenuAdditional")

         )
        //.ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        //                    .OnCommand("Grid_onCommand")
        //)
        .DataKeys(keys => keys.Add(o => o.PupilID))
        //.Pageable()
        .Scrollable(o => o.Enabled(true))
        //.Sortable()
        //.ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")</text>))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Pageable()
        .Selectable()
        .Render();        
                      
}
 </fieldset>
<script type="text/javascript">

    var lstInd = 0;
      var sum =@index;    
//    function Grid_onDataBinding(e) {
//        var grid = $('#GridPupil').data('tGrid')
//        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

//        e.data = jsonUtils.serializeObject("frmSearchChildren");
//    }
//    
    function runScript(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0 && key != 32) {
                return false;
            }
        }
    }

    function selectOne() {
        var check = $(".chkStatus:checked").length;
        if (check == sum-1) {
            $('input[typecheck=checkboxAll]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll]').attr('checked', false);
        }

    }
    function selectOneCol() {
        var chk = $('#chkAll');
        if ($(chk).is(':checked')) {
            $('input[typecheck=checkbox]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkbox]').attr('checked', false);
        }

    }
</script>



