﻿@model WeeklyMenuAdditionalViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc.UI.Fluent
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
@{
    IEnumerable<WeeklyMenuAdditionalViewModel> lstWeeklyMenu = (IEnumerable<WeeklyMenuAdditionalViewModel>)ViewData[WeeklyMenuAdditionalConstants.LIST_WEEKLYMENU];
    <p>Tìm thấy @lstWeeklyMenu.Count() kết quả</p>      
    bool NowInCurrentYear = (bool)ViewData[WeeklyMenuAdditionalConstants.NowInCurrentYear];
    int index = 1;
    GridBuilder<WeeklyMenuAdditionalViewModel> gridBuiler = Html.Telerik().Grid(lstWeeklyMenu);
    // Tên grid
    gridBuiler.Name("GridWeeklyMenu");
    // Định nghĩa các cột của list
    gridBuiler.Columns
        (c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
            c.Bound(o => o.WeeklyMenuCode).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(110);
            c.Bound(o => o.EatingGroupName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(120);
            c.Bound(o => o.DateApply).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(130);
            c.Bound(o => o.Note).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(200);
            c.Command(cmd =>
            {
                cmd.Custom("vtDetail")
                    .Text(Res.Get("Common_Column_Detail"))
                    .Ajax(true)
                    .Action("Detail", "WeeklyMenu")
                    .ButtonType(GridButtonType.Image)
                    .ImageHtmlAttributes(new { @class = "t-icon t-details" });
            }).Title(Res.Get("Common_Column_Detail")).Width(40);
        }
          );
    // 
    if (NowInCurrentYear)
    {
        gridBuiler.Columns(c =>
        {
            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                    .Text(Res.Get("Common_Column_Edit"))
                    .Ajax(true)
                    .Action("Edit", "WeeklyMenu")
                    .ButtonType(GridButtonType.Image)
                    .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
            }).Title(Res.Get("Common_Column_Edit")).Width(40);
            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                    .Text(Res.Get("Common_Column_Edit"))
                    .Ajax(true)
                    .Action("Delete", "WeeklyMenu")
                    .ButtonType(GridButtonType.Image)
                    .ImageHtmlAttributes(new { @class = "t-icon t-delete" });
            }).Title(Res.Get("Common_Column_Delete")).Width(40);
        }
                   );
        gridBuiler.ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")</text>));
    }
    // Định nghĩa các sự kiện
    gridBuiler.DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "WeeklyMenuAdditional"))
              .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                    .OnCommand("Grid_onCommand"))
              .DataKeys(keys => keys.Add(o => o.WeeklyMenuID))
              .Pageable(paging => paging.PageSize(20))
              .Scrollable(o => o.Enabled(true))
              .Sortable()
              .Editable(editing => editing.Mode(GridEditMode.PopUp))
              .Selectable();
    // Render
    gridBuiler.Render();
}



<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridWeeklyMenu').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            smas.redirect('@Url.Action("EditPage", "WeeklyMenuAdditional")?WeeklyMenuID=' + item.WeeklyMenuID);
        }
        if (e.name == "vtDetail") {
            e.preventDefault();
            var item = e.dataItem;
            smas.redirect('@Url.Action("DetailPage", "WeeklyMenuAdditional")?WeeklyMenuID=' + item.WeeklyMenuID);
        }
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("WeeklyMenu_Confirm_Delete"))')) {
                smas.post('@Url.Action("Delete")', { id: item.WeeklyMenuID }, search, null);
            }
        }
    }
    function PrepareCreate() {
        smas.redirect('@Url.Action("CreatePage", "WeeklyMenuAdditional")');
    }
</script>



