@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
<style type="text/css">
    #frmSearch .vt-control{width:45%}#frmSearch .vt-control .editor-label{width:30%!important}#frmSearch .vt-control .editor-field{width:50%!important}
</style>
@{
    //var DateFirstOfMonth = (string)ViewData[WeeklyMenuConstants.DateFirstOfMonth];
    DateTime DateFirstOfMonth = DateTime.Parse((string)ViewData[WeeklyMenuAdditionalConstants.DateFirstOfMonth]);
    }
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "WeeklyMenuAdditional",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstWeeklyMenu",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">            
			@Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $('#StartDate').val('@DateFirstOfMonth');
    });    
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




