﻿@model SearchInsertChildrenViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
<style type="text/css">
    #frmSearchInsertChildren .vt-control{width:45%}#frmSearchInsertChildren .vt-control .editor-label{width:30%!important}#frmSearchInsertChildren .vt-control .editor-field{width:50%!important}
</style>
@{
    var EatingGroupName = (string)ViewData[WeeklyMenuAdditionalConstants.EatingGroup];
    }
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("SearchInsertChildren",
                           "WeeklyMenuAdditional",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstInsertChildren",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearchInsertChildren" }))
    {
        @Html.ViettelEditorForModel()
        @Html.ViettelHidden("WeeklyMenuID")
        <div class="vt-form-button">            
			@Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $('#EatingGroupName').attr('disabled', true);
        $('input[name="EatingGroupName"]').val(stringUtils.HtmlDecode('@EatingGroupName'));
    });
    function searchInsertChildren() {
        $("#frmSearchInsertChildren input[type='submit']").click();
    }
</script>




