﻿@model WeeklyMenuAdditionalViewModel
           
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
@using SMAS.Web.Constants
@using SMAS.Models.Models

<style type="text/css">
    #GridWeeklyMenuDetail .t-header 
    {
        vertical-align:middle;
        text-align:center;
    }
</style>
<fieldset>
    <legend>@Res.Get("WeeklyMenu_Label_DetailWeeklyMenu")</legend>
    @{
        var index = 1;
        List<MealCat> LstMealcat = ViewData[WeeklyMenuAdditionalConstants.List_MealCat] as List<MealCat>;
        List<DailyMenuDetail> LstDailyMenuDetail = ViewData[WeeklyMenuAdditionalConstants.List_DailyMenuDetailALL] as List<DailyMenuDetail>;
        var with = 600;
        var withcot = "0px";
        if (LstMealcat.Count() > 0)
        {
            withcot = (600 / LstMealcat.Count()) + "px";   
        }        
        Html.Telerik()
            .Grid((IEnumerable<WeeklyMenuDetailViewModel>)ViewData[WeeklyMenuAdditionalConstants.LIST_WEEKLYMENUDETAIL])
            .Name("GridWeeklyMenuDetail")
            .Columns(c =>
            {
                //c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);              
                c.Bound(o => o.DayName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(50);

                c.Template(@<text>                                                            
                    <select name="DailyMenuID" id="@("DailyMenu" + item.DayOfWeek);" onchange ="AjaxLoadMeal(this, this.options[this.selectedIndex].value,@item.DayOfWeek);" style="width: 140px;">
                        @foreach (var DailyMenuID in (List<ComboObject>)ViewData[WeeklyMenuAdditionalConstants.LIST_DalyMenu])
                        {                         
                              <option value="@DailyMenuID.value" @(item.DailyMenuID.HasValue && item.DailyMenuID.ToString() == DailyMenuID.value ? "selected='selected'" : "") >
                                 @DailyMenuID.key
                               </option>
                        }
                    </select>                
                </text>).Title(@Res.Get("WeeklyMenu_Column_DalyMenuCode")).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(120);

                c.Template(@<text>
               <input type="hidden" name="DayOfWeek" style="text-align:left;" value="@item.DayOfWeek" />
               <table>
                <tr>
                    @for (int i = 0; i < LstMealcat.Count; i++)
                    {
                        var DishName = "";
                        if (@item.DailyMenuID != null)
                        {
                            foreach (var item1 in LstDailyMenuDetail.Where(o => o.DailyMenuID == @item.DailyMenuID && o.MealID == LstMealcat[i].MealCatID))
                            {
                                if (item1.DailyMenu.GetFromDishCat == true)
                                {
                                    if (DishName == "")
                                    {
                                        DishName = "- " + item1.DishCat.DishName;
                                    }
                                    else
                                    {
                                        DishName = DishName + "\n" + "- " + item1.DishCat.DishName;
                                    }

                                }
                                else
                                {
                                    if (DishName == "")
                                    {
                                        DishName = "- " + item1.DishName;
                                    }
                                    else
                                    {
                                        DishName = DishName + "\n" + "- " + item1.DishName;
                                    }
                                }
                            }
                        }
                       //<span name="form_label" id =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID)>@DishName</span>                             
                        <td style="width:@withcot; color: Black; text-align: left;">                                                                                                                                                                       
                             <textarea type="text" name =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) id =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) style="width:200px; height:60px; text-align:left;word-spacing:normal" disabled="disabled"   onchange="requestNumberDK(this);" > @DishName</textarea>
                        </td>
                    }
                </tr>
               </table>
                            
    </text>)
    .HeaderTemplate(@<text>
      <table style="padding: 0px">       
        <tr>
            @for (int i = 0; i < LstMealcat.Count; i++)
            {
                <td style="color: Black; text-align: center;">@LstMealcat[i].MealName
                </td>                        
            }            
        </tr>
    </table>
            </text>).Width(with);

            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)

             )
            //.ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
            // .OnCommand("Grid_onCommand")
            //)
            .DataKeys(keys => keys.Add(o => o.WeeklyMenuDetailID))
            //.Editable(editing => editing.Mode(GridEditMode.PopUp))
            //.Selectable()
            .Scrollable(o => o.Enabled(true).Height(510))
            .Render();
                      
}

 </fieldset>

 <style type="text/css">
    #GridWeeklyMenuDetail .vt-control .editor-label 
    {
        width:0px;
    }
  
 </style>

 <script type="text/javascript">
     //     $(document).ready(function () {
     //         $('#DailyMenuID').attr('disabled', true);
     //     });
     function AjaxLoadMeal(cboDailyMenu, dailyMenuID, dayofweek) {
         var id = $(cboDailyMenu).attr("id");
         var token = $('[name=__RequestVerificationToken]').val();
         $.ajax({
             type: "POST",
             url: '@Url.Action("AjaxLoadMeal", "WeeklyMenuAdditional")',
             data: { dailyMenuID: dailyMenuID, __RequestVerificationToken: token },
             dataType: "json",
             success: function (data) {
                 for (var i = 0; i < data.length; i++) {
                     $("#GridWeeklyMenuDetail #" + dayofweek + "_" + data[i].MealID).val("");
                 }
                 for (var i = 0; i < data.length; i++) {

                     //$("#GridWeeklyMenuDetail #" + dayofweek + "_" + data[i].MealID).val(data[i].DishName);
                     var value = $("#GridWeeklyMenuDetail #" + dayofweek + "_" + data[i].MealID).val();

                     if (value == "") {

                         $("#GridWeeklyMenuDetail #" + dayofweek + "_" + data[i].MealID).val("- " + data[i].DishName);
                     }
                     else {

                         $("#GridWeeklyMenuDetail #" + dayofweek + "_" + data[i].MealID).val(value + "\n" + "- " + data[i].DishName);
                     }

                 }

             }
         });


     }  
</script>