﻿@model WeeklyMenuAdditionalViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea.Models
@using SMAS.Web.Areas.WeeklyMenuAdditionalArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
<style type="text/css">
    #GridWeeklyMenuDetail .t-header 
    {
        vertical-align:middle;
        text-align:center;
    }
</style>
<fieldset>
    <legend>@Res.Get("PupilProfile_Label_GeneralInfo")</legend>
    <div id = "Detail">
        <table>
             <tr style="height: 30px">
               <td  style="width: 15%">
                    @Res.Get("WeeklyMenu_Label_WeeklyMenuCode"):
                </td>
                <td  style="width: 35%">
                    @Html.ViettelDisplayFor(pp => pp.WeeklyMenuCode)
                </td>     
                  <td  style="width: 10%">
                    @Res.Get("WeeklyMenu_Label_EatingGroup"):
                </td>
                  <td  style="width: 40%">
                    @Html.ViettelDisplayFor(pp => pp.EatingGroupName)
                </td>                                                                              
            </tr>
             <tr style="height: 30px">
                <td >
                    @Res.Get("WeeklyMenu_Label_StartDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.StartDate_string)
                </td>      
                 <td >
                    @Res.Get("WeeklyMenu_Label_EndDate"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.EndDate)
                </td>                                 
            </tr>
            <tr style="height: 30px">
                <td >
                    @Res.Get("WeeklyMenu_Label_Note"):
                </td>
                <td>
                    @Html.ViettelDisplayFor(pp => pp.Note)
                </td>                                  
            </tr>
        </table>
    </div>
</fieldset>

<fieldset>
    <legend>@Res.Get("WeeklyMenu_Label_DetailWeeklyMenu")</legend>
    @{
        var index = 1;
        List<MealCat> LstMealcat = ViewData[WeeklyMenuAdditionalConstants.List_MealCat] as List<MealCat>;
        List<DailyMenuDetail> LstDailyMenuDetail = ViewData[WeeklyMenuAdditionalConstants.List_DailyMenuDetailALL] as List<DailyMenuDetail>;
        var with = 600;
        var withcot = (600/LstMealcat.Count()) + "px";
        Html.Telerik()
            .Grid((IEnumerable<WeeklyMenuDetailViewModel>)ViewData[WeeklyMenuAdditionalConstants.LIST_WEEKLYMENUDETAIL])
            .Name("GridWeeklyMenuDetail")
            .Columns(c =>
            {
                //c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);              
                c.Bound(o => o.DayName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(50);
                c.Bound(o => o.DailyMenuCode).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(100);

                c.Template(@<text>
               <input type="hidden" name="DayOfWeek" style="text-align:left;" value="@item.DayOfWeek" />
                <input type="hidden" name="WeeklyMenuID" style="text-align:left;" value="@item.WeeklyMenuID" />
               <table>
                <tr>
                    @for (int i = 0; i < LstMealcat.Count; i++)
                    {
                        var DishName = "";
                        if (@item.DailyMenuID != null)
                        {
                            foreach (var item1 in LstDailyMenuDetail.Where(o => o.DailyMenuID == @item.DailyMenuID && o.MealID == LstMealcat[i].MealCatID))
                            {
                                if (item1.DailyMenu.GetFromDishCat == true)
                                {
                                    if (DishName == "")
                                    {
                                        DishName = "- " + item1.DishCat.DishName;
                                    }
                                    else
                                    {
                                        DishName = DishName + "\n" + "- " + item1.DishCat.DishName;
                                    }

                                }
                                else
                                {
                                    if (DishName == "")
                                    {
                                        DishName = "- " + item1.DishName;
                                    }
                                    else
                                    {
                                        DishName = DishName + "\n" + "- " + item1.DishName;
                                    }
                                }
                            }
                        }
                        //<input type="text" name =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) id =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) style="width:200px; height:60px; text-align:left;word-spacing:normal" disabled="disabled" value="@DishName"  onchange="requestNumberDK(this);"/>                         
                        <td style="width:@withcot; color: Black; text-align: left;">                                                                                                                                           
                           <textarea type="text" name =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) id =@(item.DayOfWeek.ToString() + "_" + LstMealcat[i].MealCatID) style="width:200px; height:60px; text-align:left;word-spacing:normal" disabled="disabled"   onchange="requestNumberDK(this);" > @DishName</textarea>
                        </td>
                    }
                </tr>
               </table>
                            
    </text>)
    .HeaderTemplate(@<text>
      <table style="padding: 0px">       
        <tr>
            @for (int i = 0; i < LstMealcat.Count; i++)
            {
                <td style="color: Black; text-align: center;">@LstMealcat[i].MealName
                </td>                        
            }            
        </tr>
    </table>
            </text>).Width(with);

            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)

             )
            //.ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
            // .OnCommand("Grid_onCommand")
            //)
            .DataKeys(keys => keys.Add(o => o.WeeklyMenuDetailID))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(o => o.Enabled(true).Height(510))
            .Render();
                      
}

 </fieldset>

 <style type="text/css">
    #GridWeeklyMenuDetail .vt-control .editor-label 
    {
        width:0px;
    }
 </style>

