﻿@model ExamPupilAbsenceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamPupilAbsenceArea.Models
@using SMAS.Web.Areas.ExamPupilAbsenceArea

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    bool isEnableCommon = (bool)ViewData[ExamPupilAbsenceConstants.BTN_COMMON_ENABLE];
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
            @{
                if (checkCreate && isEnableCommon == true)
                {
                    <input type="button" class="btn btn-info btn-icon btn-round btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
                }
                else
                {
                    <input type="button" class="btn btn-info btn-icon btn-round btn-icon-plus t-state-disabled" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()" disabled="disabled" />
                }
            }
            <input id="CommonDelete" type="button" class="btn btn-info btn-icon btn-round btn-icon-times t-state-disabled" value="@Res.Get("Common_Button_Delete")" onclick="PrepareDelete()" disabled="disabled" />
            @if (((IEnumerable<ExamPupilAbsenceViewModel>)ViewData[ExamPupilAbsenceConstants.LIST_EXAM_PUPIL_ABSENCE]).Count() > 0)
            {
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-round btn-icon btn-icon-excel")
            }
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ExamPupilAbsenceViewModel>)ViewData[ExamPupilAbsenceConstants.LIST_EXAM_PUPIL_ABSENCE])
            .Name("GridExamPupilAbsence")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(40);

                c.Bound(o => o.PupilCode).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left; word-wrap: break-word;" }).Width(100);
                c.Bound(o => o.FullName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left" }).Width(160);
                c.Bound(o => o.ClassName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left" }).Width(80);
                c.Bound(o => o.SubjectName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left" }).Width(90);
                c.Bound(o => o.ExamRoomCode).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left; word-wrap: break-word;" }).Width(90);

                c.Template(@<text>
                @{
                    if (item.ReasonAbsence.HasValue && item.ReasonAbsence == true)
                    {
                        <label class="custom-checkbox no-padding">
                        <input type="checkbox" class="CheckItemAbsence" id='@("CheckReasonAbsence" + item.ExamPupilAbsenceID)' name="CheckReasonAbsence" value="@item.ExamPupilAbsenceID" checked="checked" />
                        <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-checkbox no-padding">
                        <input type="checkbox" class="CheckItemAbsence" id='@("CheckReasonAbsence" + item.ExamPupilAbsenceID)' name="CheckReasonAbsence" value="@item.ExamPupilAbsenceID" />
                        <span class="checkmark"></span>
                        </label>
                    }
                }
                </text>)
                .Title(Res.Get("ExamPupilAbsence_Column_ReasonAbsence"))
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .ClientTemplate("<#= htmlCheckBoxAbsence(ExamPupilAbsenceID, ReasonAbsence) #>")
                .Width(120);

                c.Bound(o => o.ContentReasonAbsence).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:left" })
                    .Width(170);
                c.Bound(o => o.SBD).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(80);

                c.Template(
                @<text>
                @{
                    if (checkUpdate && isEnableCommon)
                    {
                        <a class="t-button t-button-icon t-ajax t-grid-vtEdit" href="@("/ExamPupilAbsenceArea/ExamPupilAbsence/Edit/" + item.ExamPupilAbsenceID)">
                            <span class="t-icon t-edit"></span>
                        </a>
                    }
                }
                </text>
                ).Title(Res.Get("Common_Column_Edit"))
                .ClientTemplate("<#= htmlButtonEdit(ExamPupilAbsenceID) #>")
                .Width(70).Visible(true);

                /*c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ExamSubject")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(40).Visible(checkUpdate);*/

                c.Template(@<text>
                    <label class="custom-checkbox no-padding">
                    <input type="checkbox" class="CheckItem" id='@("CheckPupilAbsence" + item.ExamPupilAbsenceID)' name="CheckPupilAbsence" onchange="SelectOne(this)" value="@item.ExamPupilAbsenceID" />
                    <span class="checkmark"></span>
                    </label>
                        </text>)
                .HeaderTemplate(@<text>
                    <label class="custom-checkbox no-padding">
                    <input type="checkbox" name="CheckAllPupilAbsence" id="CheckAllPupilAbsence" onchange="SelectAll(this)" />
                    <span class="checkmark"></span>
                    </label>
                        </text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" })
                .ClientTemplate("<#= htmlCheckBox(ExamPupilAbsenceID) #>")
                .Width(70);
            })
            .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "ExamPupilAbsence"))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.ExamPupilAbsenceID))
            .Pageable(o => o.PageSize(20)).Resizable(o => o.Columns(true))
            .Scrollable(o => o.Height(465))
            .Selectable()
            .Render();
                      
    }
</div>

<script type="text/javascript">
    function htmlCheckBox(ExamPupilAbsenceID) {
        var html = '';
        html = '<label class="custom-checkbox no-padding"><input id="CheckPupilAbsence' + ExamPupilAbsenceID + '" class="CheckItem" type="checkbox" value="' + ExamPupilAbsenceID + '" onchange="SelectOne(this)" name="CheckPupilAbsence"/><span class="checkmark"></span></label>';
        return html;
    }

    function htmlButtonEdit(ExamPupilAbsenceID) {
        var html = '';
        var checkUpdate = '@checkUpdate';
        var isEnable = '@isEnableCommon';
        if (checkUpdate == 'True' && isEnable == 'True') {
            html = '<a class="btn-edit" href="/ExamPupilAbsenceArea/ExamPupilAbsence/Edit/"' + ExamPupilAbsenceID + '"><span class="t-icon icon icon-edit"></span></a>';
        }
        return html;
    }

    function htmlCheckBoxAbsence(ExamPupilAbsenceID, ReasonAbsence) {
        var html = '';
        if (ReasonAbsence == true) {
            html = '<label class="custom-checkbox no-padding"><input id="CheckReasonAbsence' + ExamPupilAbsenceID + '" class="CheckItemAbsence" type="checkbox" value="' + ExamPupilAbsenceID + '" onchange="SelectOneAbsence(this)" name="CheckReasonAbsence" checked="checked" /><span class="checkmark"></span></label>';
        }
        else {
            html = '<label class="custom-checkbox no-padding"><input id="CheckReasonAbsence' + ExamPupilAbsenceID + '" class="CheckItemAbsence" type="checkbox" value="' + ExamPupilAbsenceID + '" onchange="SelectOneAbsence(this)" name="CheckReasonAbsence"/><span class="checkmark"></span></label>';
        }
        return html;
    }

    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridExamPupilAbsence').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            PrepareUpdate(item.ExamPupilAbsenceID, item.ExaminationsID, item.ExamGroupID, item.SubjectID, item.ExamRoomID);
            smas.openDialog("editDialog", "", {});
        }
    }

    function CheckButtonDelete() {
        var countCheckItem = 0;
        $('.CheckItem').each(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                countCheckItem++;
            }
        });
        var btnDelete = '@checkDelete';
        var isEnable = '@isEnableCommon';
        if (btnDelete == 'True' && isEnable == 'True' && countCheckItem > 0) {
            $("#ListExamPupilAbsence #CommonDelete").removeAttr("disabled");
            $("#ListExamPupilAbsence #CommonDelete").attr("class", "btn btn-basic btn-icon btn-icon-times btn-round");
        }
        else {
            $("#ListExamPupilAbsence #CommonDelete").attr("disabled", "disabled");
            $("#ListExamPupilAbsence #CommonDelete").attr("class", "btn btn-basic btn-icon btn-icon-times btn-round t-state-disabled");

        }
    }

    function SelectAll() {
        var checked = $("#CheckAllPupilAbsence").is(':checked');

        if (checked) {
            $('.CheckItem').attr("checked", "checked");
            isValidateCheckBox = true;
        } else {
            $('.CheckItem').removeAttr("checked");
            isValidateCheckBox = false;
        }
        CheckButtonDelete();
    }

    function SelectOne() {
        var numberCheckboxItem = $('.CheckItem').length;
        var countcheckItem = 0;

        $('.CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            isValidateCheckBox = true;
        }
        else {
            isValidateCheckBox = false;
        }

        if (countcheckItem == numberCheckboxItem) {
            $("#CheckAllPupilAbsence").attr("checked", "checked");
        }
        else {
            $("#CheckAllPupilAbsence").removeAttr("checked");
        }
        CheckButtonDelete();
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        var examinationsID = $("#SearchPanel").find("#Examinations  option:selected").val();
        var examGroupID = $("#SearchPanel").find("#ExamGroup option:selected").val();
        var examSubjectID = $("#SearchPanel").find("#ExamSubject option:selected").val();
        var examRoomID = $("#SearchPanel").find("#ExamRoom option:selected").val();

       @* $.ajax({
            url: '@Url.Action("GetDataInsert", "ExamPupilAbsence")',
            type: 'post',
            data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID, SubjectID: examSubjectID, ExamRoomID: examRoomID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("#createDialog .t-window-content").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });

        smas.openDialog("createDialog", "", {});*@

        var data = { ExaminationsID: examinationsID, ExamGroupID: examGroupID, SubjectID: examSubjectID, ExamRoomID: examRoomID };
        smas.openDialog("createDialog", '@Url.Action("GetDataInsert")', data);
    }

    function PrepareUpdate(examPupilAbsenceID, examinationsID, examGroupID, subjectID, examRoomID) {
        $.ajax({
            url: '@Url.Action("GetDataUpdate", "ExamPupilAbsence")',
            type: 'post',
            data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID, SubjectID: subjectID, ExamRoomID: examRoomID, ExamPupilAbsenceID: examPupilAbsenceID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("#editDialog .t-window-content").html(data);
                $("#EditExamPupilAbsence").find("#ExaminationsID").attr("disabled", "disabled");
                $("#EditExamPupilAbsence").find("#ExamGroupID").attr("disabled", "disabled");
                $("#EditExamPupilAbsence").find("#ExamSubjectID").attr("disabled", "disabled");
                $("#EditExamPupilAbsence").find("#ExamRoomID").attr("disabled", "disabled");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    }

    function PrepareDelete() {

        var listExamPupilAbsence = "";
        $('#ListExamPupilAbsence .CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                listExamPupilAbsence = listExamPupilAbsence + $(this).val() + ",";
            }
        });

        if (listExamPupilAbsence != null && listExamPupilAbsence != "") {
            smas.confirm('@Html.Raw(Res.Get("ViolatedCandidate_DeleteMsgRK"))', function () {
                $.ajax({
                    url: '@Url.Action("DeleteCheck", "ExamPupilAbsence")',
                    type: 'post',
                    data: { stringExamPupilAbsence: listExamPupilAbsence },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    complete: function () {
                        smas.hideProcessingDialog();
                    },
                    success: function (data) {
                        smas.alert(data);
                        search();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        if (failCallBack != null) {
                            failCallBack(XMLHttpRequest.responseText);
                        }
                    }
                });
            });
        } else {
            smas.alert({ Type: "error", Message: '@Res.Get("Validate_Exam_Pupil_Absence_Error_Choice_Delete")' });
        }
    };

    function ExportClick() {
        smas.getReport("frmSearch", '@Url.Action("GetReport", "ExamPupilAbsence")',
                   '@Url.Action("GetNewReport", "ExamPupilAbsence")', '@Url.Action("DownloadReport", "ExamPupilAbsence")');
    }
</script>