﻿@model ExamPupilAbsenceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamPupilAbsenceArea.Models
@using SMAS.Web.Areas.ExamPupilAbsenceArea
@using SMAS.Models.Models

@{
    List<ExamPupilAbsenceViewModel> listEdit = new List<ExamPupilAbsenceViewModel>();
    if (ViewData[ExamPupilAbsenceConstants.LIST_EXAM_PUPIL_ABSENCE_UPDATE] != null)
    {
        listEdit = (List<ExamPupilAbsenceViewModel>)ViewData[ExamPupilAbsenceConstants.LIST_EXAM_PUPIL_ABSENCE_UPDATE];
    }
}

<div class="vt-ResultPanel">
    @{
        var index = 1;

        Html.Telerik()
            .Grid(listEdit)
            .Name("GridExamPupilAbsenceUpdate")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#"))
                    .HtmlAttributes(new { style = "text-align:center" }).Width(40)
                    .HeaderHtmlAttributes(new { style = "text-align:center" });

                c.Bound(o => o.SBD).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(120)
                    .HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" });
                    
                c.Bound(o => o.FullName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);
                    
                c.Template(@<text>
                @{
                        <div class="editor-field" style="width:100%;">
                            <input class="TextItem" type="text" name="ContentReasonAbsence" onkeyup="CheckValidateTextBoxReasonUpdate(this)" id="@("ContentReasonAbsence" + item.ExamPupilAbsenceID)" value="@item.ContentReasonAbsence" maxlength="100"  style="width:96%;" />
                            <span style="color: red;">*</span>
                       </div>
                }
                </text>)
                .Title(Res.Get("ExamPupilAbsence_Column_ContentReason"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(280)
                    .HtmlAttributes(new { style = "text-align:left" });

                c.Template(@<text>
                @{
                        if (item.ReasonAbsence.HasValue && item.ReasonAbsence == true)
                        {
                            <label class="custom-checkbox">
                            <input type="checkbox" class="CheckItemAbsence" id='@("CheckReasonAbsence" + item.ExamPupilAbsenceID)' name="CheckReasonAbsence" value="@item.ExamPupilAbsenceID" checked="checked" />
                            <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {   <label class="custom-checkbox">
                            <input type="checkbox" class="CheckItemAbsence" id='@("CheckReasonAbsence" + item.ExamPupilAbsenceID)' name="CheckReasonAbsence" value="@item.ExamPupilAbsenceID"/>
                            <span class="checkmark"></span>    
                            </label>
                        }
                }
                </text>)
                .Title(Res.Get("ExamPupilAbsence_Column_ReasonAbsence"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(120);

                c.Template(@<text>
                @* <input type="hidden" name="HiddenExamPupilID" id="@("HiddenExamPupilID" + @item.ExamPupilAbsenceID)" value="@item.ExamPupilAbsenceID" />*@
                @{
                    <label class="custom-checkbox">
                        <input type="checkbox" class="CheckItem" checked="checked" disabled="disabled" defaultValue="@item.ExamPupilAbsenceID" />
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" name="CheckPupilAbsenceUpdate" value="@item.ExamPupilAbsenceID"/>
                    <input type="hidden" id="HfExaminationsID" name="ExaminationsID" value="@item.ExaminationsID" />
                }
                </text>)
                .HeaderTemplate(@<text>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="CheckAllPupilAbsenceUpdate" id="CheckAllPupilAbsenceUpdate" disabled="disabled" />
                        <span class="checkmark"></span>
                    </label>
                </text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(30);
            })
            .Editable(editing => editing.Mode(GridEditMode.PopUp))            
            .DataKeys(keys => keys.Add(o => o.ExamPupilID))
            .Selectable()
            .Render();
    }
</div>