﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportPupilArea
@using SMAS.Web.Areas.ImportPupilArea.Models
@{
    GlobalInfo _globalInfo = new GlobalInfo();
}
@using (Ajax.BeginForm("Save",
                       "ImportPupil",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveDataSuccess",
                           OnFailure = "SaveDataFail"
                       },
                       new { id = "fromSave" }
                       ))
{
    @Html.AntiForgeryToken();
                            GlobalInfo glo = new GlobalInfo();
    @Html.ViettelHidden("hdfIsAddPupil", 0);
    <div>
        <p style="color: Red; text-align: center;">@Res.Get("ImportClass_Validation_Error")</p>
    </div>

                                           Html.Telerik()
                                               .Grid((IEnumerable<ImportPupilViewModel>)Session[ImportPupilConstants.LIST_IMPORTED_PUPIL])
                                               .Name("GridImportedPupil")
                                               .Columns(c =>
                                               {
                                                   c.Bound(o => o.IndexStr).Title(Res.Get("#")).Width(40);
                                                   c.Bound(o => o.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode")).Width(90);
                                                   c.Bound(o => o.FullName).Title(Res.Get("PupilProfile_Label_FullName")).Width(120);
                                                   c.Bound(o => o.BirthDateStr).Title(Res.Get("PupilProfile_Label_BirthDate")).Width(90);
                                                   c.Bound(o => o.GenreNameReal).Title(Res.Get("PupilProfile_Label_Genre")).Width(70);
                                                   c.Bound(o => o.ClassName).Title(Res.Get("PupilProfile_Label_ClassName")).Width(90);
                                                   c.Bound(o => o.EnrolmentTypeName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("ImportPupil_Label_EnrolmentType"), 2))</text>).Width(90);
                                                   c.Bound(o => o.EnrolmentDateStr).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("ImportPupil_Label_EnrolmentDate"), 2))</text>).Format("{0:dd/MM/yyyy}").Width(90);
                                                   c.Bound(o => o.ProfileStatusName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_ProfileStatus"), 2))</text>).Width(90);
                                                   c.Bound(o => o.ProvinceName).Title(Res.Get("PupilProfile_Label_Province")).Width(90);
                                                   c.Bound(o => o.DistrictName).Title(Res.Get("PupilProfile_Label_District")).Width(90);
                                                   c.Bound(o => o.CommuneName).Title(Res.Get("PupilProfile_Label_Commune")).Width(90);
                                                   c.Bound(o => o.VillageName).Title(Res.Get("PupilProfile_Label_Village")).Width(90);
                                                   c.Bound(o => o.StorageNumber).Title(Res.Get("PupilProfile_Label_StorageName")).Width(90);
                                                   c.Bound(o => o.BirthPlace).Title(Res.Get("PupilProfile_Label_BirthPlace")).Width(150);
                                                   c.Bound(o => o.HomeTown).Title(Res.Get("PupilProfile_Label_HomeTown")).Width(150);
                                                   c.Bound(o => o.PermanentResidentalAddress).Title(Res.Get("PupilProfile_Label_PermanentResidentalAddress")).Width(150);
                                                   c.Bound(o => o.PermanentResidentalAddress).Title(Res.Get("PupilProfile_Label_TempResidentalAddress")).Width(150);
                                                   if (_globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_SECONDARY
                                                       || _globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_TERTIARY)
                                                   {
                                                       c.Bound(o => o.ForeignLanguageTrainingName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_ForeignLanguageTraining"), 2))</text>).Width(90);
                                                       c.Bound(o => o.PupilLearningTypeName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_PupilLearningType"), 2))</text>).Width(90);
                                                   }

                                                   if (_globalInfo.AppliedLevel <= SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_TERTIARY)
                                                   {
                                                       c.Bound(o => o.YoungPioneerJoinedDateStr)
                                                           .HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Date_YoungPioneer"), 2))</text>).Width(90);
                                                   }
                                                   if (_globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_SECONDARY
                                                       || _globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_TERTIARY)
                                                   {
                                                       c.Bound(o => o.YoungLeagueJoinedDateStr)
                                                           .HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Date_YouthLeague"), 2))</text>).Width(90);
                                                   }
                                                   if (_globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_TERTIARY)
                                                   {
                                                       c.Bound(o => o.CommunistPartyJoinedDateStr)
                                                          .HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Date_CommunistParty"), 2))</text>).Width(90);
                                                   }
                                                   c.Bound(o => o.EthnicName).Title(Res.Get("PupilProfile_Label_Ethnic")).Width(90);
                                                   c.Bound(o => o.ReligionName).Title(Res.Get("PupilProfile_Label_Religion")).Width(90);
                                                   c.Bound(o => o.PolicyTargetName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_PolicyTarget"), 2))</text>).Width(90);
                                                   c.Bound(o => o.PolicyRegimeName).HeaderTemplate(@<text>@Html.Raw((Res.Get("Chế độ chính sách")))</text>).Width(90);
                                                   c.Bound(o => o.IsSupportForLearning).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_IsSupportForLearning"), 2))</text>).Width(90);
                                                   c.Bound(o => o.IsResettlementTarget).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_InResettlementProgram"), 2))</text>).Width(90);
                                                   c.Bound(o => o.AreaName).Title(Res.Get("Khu vực")).Width(90);
                                                   c.Bound(o => o.ClassTypeName).Title(Res.Get("ImportPupil_Label_CLassType")).Width(90);
                                                   c.Bound(o => o.DisabilityTypeName).Title(Res.Get("Loại khuyết tật")).Width(90);
                                                   c.Bound(o => o.Mobile).Title(Res.Get("PupilProfile_Label_Mobile")).Width(90);
                                                   c.Bound(o => o.BloodTypeName).Title(Res.Get("PupilProfile_Label_BloodType")).Width(90);
                                                   c.Template(@<text>
    <input type="checkbox" @(item.IsUsedMoetProgram.HasValue && item.IsUsedMoetProgram.Value == true ? "checked='checked'" : "")
                disabled="disabled" class="check-box" /></text>).Title(Res.Get("Học chương trình giá dục của Bộ")).Width(90);
                                                   c.Bound(o => o.IsSwimmingName).Title(Res.Get("PupilProfile_Label_IsSwimming")).Width(90);
                                                   if (_globalInfo.AppliedLevel == SMAS.Business.Common.SystemParamsInFile.APPLIED_LEVEL_TERTIARY)
                                                   {
                                                       c.Bound(o => o.IdentityNumber).Title(Res.Get("Pupil_Label_IdentityNumber")).HtmlAttributes(new Dictionary<string, object>() { { "style", "word-wrap: break-word;" } }).Width(90);
                                                       c.Bound(o => o.Email).Title(Res.Get("PupilProfile_Label_Email")).HtmlAttributes(new Dictionary<string, object>() { { "style", "word-wrap: break-word;" } }).Width(90);
                                                   }

                                                   c.Bound(o => o.FatherFullName).Title(Res.Get("PupilProfile_Label_FatherFullName")).Width(90);
                                                   c.Bound(o => o.FatherBirthDateStr).Title(Res.Get("PupilProfile_Label_FatherBirthdateName")).Width(120);
                                                   c.Bound(o => o.FatherJob).Title(Res.Get("PupilProfile_Label_FatherJob")).Width(90);
                                                   c.Bound(o => o.FatherMobile).Title(Res.Get("PupilProfile_Label_FatherMobile")).Width(90);

                                                   c.Bound(o => o.MotherFullName).Title(Res.Get("PupilProfile_Label_MotherFullName")).Width(90);
                                                   c.Bound(o => o.MotherBirthDateStr).Title(Res.Get("PupilProfile_Label_MotherBirthdateName")).Width(120);
                                                   c.Bound(o => o.MotherJob).Title(Res.Get("PupilProfile_Label_MotherJob")).Width(90);
                                                   c.Bound(o => o.MotherMobile).Title(Res.Get("PupilProfile_Label_MotherMobile")).Width(90);

                                                   c.Bound(o => o.SponsorFullName).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_SponsorFullName"), 2))</text>).Width(90);
                                                   c.Bound(o => o.SponsorBirthDateStr).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("PupilProfile_Label_SponsorBirthDateName"), 2))</text>).Width(90);
                                                   c.Bound(o => o.SponsorJob).Title(Res.Get("PupilProfile_Label_SponsorJob")).Width(90);
                                                   c.Bound(o => o.SponsorMobile).Title(Res.Get("PupilProfile_Label_SponsorMobile")).Width(90);

                                                   c.Template(@<text>
    <input type="checkbox" @(item.IsMinorityFather.HasValue && item.IsMinorityFather.Value == true ? "checked='checked'" : "")
                                                        disabled="disabled" class="check-box" /></text>).Title(Res.Get("Có cha dân tộc")).Width(90);
                                                   c.Template(@<text>
    <input type="checkbox" @(item.IsMinorityMother.HasValue && item.IsMinorityMother.Value == true ? "checked='checked'" : "")
                                                        disabled="disabled" class="check-box" /></text>).Title(Res.Get("Có mẹ dân tộc")).Width(90);
                                                   c.Template(@<text>
    <input type="checkbox" @(item.IsValid ? Html.Raw("checked='checked' ") : Html.Raw("disabled='disabled'")) disabled="disabled" name="pupilcodes" pupilcode="@item.PupilCode" />
    </text>)
           .ClientTemplate("<input type='checkbox'  name='pupilcodes' pupilcode='' disabled='disabled'/>").Title(Res.Get("ImportPupil_Label_IsValid")).Width(50);
                                                   c.Bound(o => o.PupilCodeNew).HeaderTemplate(@<text>@Html.Raw(Utils.ConvertTitle2Display(Res.Get("Mã học sinh mới"), 2))</text>).Width(90);
                                                   c.Bound(o => o.ErrorMessage).Title(Res.Get("ImportPupil_Label_ErrorMessage")).HtmlAttributes(new Dictionary<string, object>() { { "style", "color:red" } }).Width(600);
                                               })
                                               //.Pageable(u => u.Enabled(true).PageSize(10))
                                               .ClientEvents(u => u.OnRowDataBound("fn_OnRowDataBound"))
                                               .Scrollable(u => u.Enabled(true).Height(480))
                                               .DataKeys(keys => keys.Add(o => o.PupilProfileID))
                                               .Render();
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "return ValidateValue();", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "OnCloseClick()", "")
        @Html.ViettelButton(Res.Get("DownloadDataErr_Label_ImportTeacher"), "button", "ExportExcelError()", "")
        <input type="submit" id="btnSubmitValue" style="display: none;" />
    </div>
}
<style type="text/css">
    .hidden {
        display: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        // An cac hang du lieu hop le
        $("[name=pupilcodes]:checked").parents('tr').addClass("hidden");
        $("[name=pupilcodes]:not(:checked)").parents('tr').addClass("display");
        var i = 0;
        $(".display").each(function () {
            console.log($(this).find("td:first"));
            $(this).find("td:first").text(++i);
        });
        $(".display:even").removeClass("t-alt");
        $(".display:odd").addClass("t-alt");
    });
    function ExportExcelError() {
        var educationLevelID = $('#formImportFile #EducationLevelID').val();

        if (educationLevelID == null || educationLevelID == "" || educationLevelID == undefined)
            educationLevelID = 0;

        window.open("@Url.Action("DowloadFileErr", "ImportPupil")?EducationLevelID=" + parseInt(educationLevelID) + "");
    }
    function ValidateValue() {
        if (!validateUtils.validateForm('fromSave'))
            return false;
        else {
            var isAddPupil = $('#formImportFile #ImportExcel #rdoAddPupil').is(':checked') ? 1 : 0;
            $('#fromSave #hdfIsAddPupil').val(isAddPupil);
            $('#fromSave #btnSubmitValue').click();
        }

    }
    function SaveDataSuccess(msg) {
        if (msg.Type == "notSuccess") {
            smas.alertColor(msg, 'red');
        } else {
            smas.alert(msg);
        }
        setTimeout("smas.closeDialog('importedDialog')", 300);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
        }
    }
    function SaveDataFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        $('#txtFilePath').val('@Res.Get("Common_Label_NoFileSelect")');
        smas.closeDialog("importedDialog", "", {});
    }
</script>
