﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportPupilArea
@using SMAS.Business.Common
@{
    ViewBag.Title = Res.Get("ImportPupil_Label_Index");
    Layout = "~/Areas/DataImportArea/Views/Shared/_Index.cshtml";
    bool check = (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] || (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] || (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE];
}
<script type="text/javascript">
    var isFirstTimeVisit = true;

    function fn_UploadDone() {
        if (isFirstTimeVisit) {
            isFirstTimeVisit = false;
            return;
        }

        var retHtml = $(frames["upload_iframe"].document.getElementsByTagName("body")[0]).text();
        smas.hideProcessingDialog();
        var data = null;
        try {
            data = $.parseJSON(retHtml);
        } catch (err) { }

        if (data.Type == 'success') {
            smas.alert({ Type: data.Type, Message: data.Message });
            return;
        }
        else if (retHtml != "" && (data == null || data.Type == 'error')) {
            $.ajax({
                url: '@Url.Action("LoadImportedGrid", "ImportPupil")',
                type: 'post',
                success: function (data) {
                    $("#divImportedGrid").html(data);
                    smas.openDialog("importedDialog", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            smas.alertColor(data.Message,'red');
            return false;
        }   
    }
</script>
<form method="post" enctype="multipart/form-data" action="@Url.Action("Import")" target="upload_iframe" id="formImportFile" style="width:100%;">
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 vt-import">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("ImportPupil_Label_FieldSet")
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
    </div>
    <div class="vt-SearchPanel-Content">
        <div id="ImportExcel" style="text-align: center;">
            <div style="margin: 0 auto; text-align: center">
                

                    @Html.AntiForgeryToken()
                    <table style="width: 100%;">
                        <tr>
                            <td  style="vertical-align:top; text-align:right; padding-right:10px; padding-top: 8px">
                                @Res.Get("EducationLevel_Label_AllTitle")
                            </td>
                            <td>
                                @Html.ViettelCombobox("", "EducationLevelID", (SelectList)ViewData[ImportPupilConstants.LIST_EDUCATION_LEVEL], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false, true)
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top; text-align:right; padding-right:10px; padding-top: 8px">
                                @Res.Get("ImportPupil_Label_ImportFromExcel")
                            </td>
                            <td>
                                <div style="float:left;"><input type="text" value="Chọn file" disabled="disabled" id="uploadFile" /></div>
                                <div style="float:left;">
                                    <iframe id="upload_iframe" name="upload_iframe" src="" style="display: none;" onload="fn_UploadDone()"></iframe>
                                    <input id="uploadBtn" class="upload" type="file" name="ImportFile" style="display:none">
                                    @if (check)
                                    {
                                        <div class="file-upload mg-l-10" style="cursor:pointer">
                                            @*<img src="../../Content/images/icon-select-file.png" onclick="$('#uploadBtn').click();" title="Chọn file">*@
                                            <button type="button" class="btn btn-success btn-icon btn-icon-folder"onclick="$('#uploadBtn').click();">Chọn file</button>
                                        </div>
                                    }
                                </div>
                                <div class="Clear"></div>
                                @*<input type="file"  style="border-width: 1px ;border-color: #C0C0C0 #D9D9D9 #D9D9D9;background-color:white;" />*@
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:right; padding-right:10px">
                                
                            </td>
                            <td style="padding:10px 0">
                                <p class="gray f-12 "><strong>Kiểu file:</strong> .xls, .xlsx. <strong>Dung lượng tối đa:</strong> 3 MB</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:right; padding:0 10px 10px 0;">
                                @Res.Get("ImportPupil_Label_SampleFile")
                            </td>
                            <td  style="padding-left:5px">
                                <span onclick='onSampleImportClicked()' style="text-decoration:underline; color:#6e9dd8;cursor: pointer;">[Bấm để tải]</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <label class="custom-radio-button">Thêm học sinh mới
                                <input type ="radio" id ="rdoAddPupil" name ="rdoAddPupil" checked ="checked" onclick ="rdoCheckedChange(this)"/>
                                <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <label class="custom-radio-button">Cập nhật thông tin hồ sơ học sinh
                                <input type ="radio" id ="rdoUpdatePupil" name ="rdoUpdatePupil" onclick ="rdoCheckedChange(this)"/>
                                <span class="checkmark"></span>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center"></td>
                        </tr>
                    </table>
             
            </div>
        </div>
    </div>
    <div class="vt-SearchPanel-Button" style="text-align:center;margin:0 auto;border:0">
        <input type="submit" id="btImport" style="margin-left: 5px;" value="Tải lên" onclick="return fn_OnBeginUpload()" class="btn btn-primary btn-icon btn-icon-upload btn-round t-state-disabled"
               disabled="disabled" />
    </div>
</div>
       </form>


@(Html.Telerik()
        .Window()
        .Name("importedDialog")
        .Title(Res.Get("ImportPupil_Label_FieldSet"))
        .Content(@<div id="divImportedGrid">
        </div>)
            .Buttons(buttons => buttons.Maximize().Close())
        .Draggable(true)
        .Visible(false)
        .Modal(true)
        .Width(1100)
        .Height(610)
        .Resizable(u => u.Enabled(true))
        .Scrollable(true)
)
<script type="text/javascript">
    function fn_OnRowDataBound(e) {
        $(e.row).find("input:checkbox").attr("pupilcode", e.dataItem.PupilCode);

        if (e.dataItem.IsValid)
            $(e.row).find("input:checkbox").attr("checked", "checked");
    }
    function fn_OnBeginUpload() {
        var educationLevelID = $("#formImportFile").find("#EducationLevelID").val();

        if (educationLevelID == null || educationLevelID == "" || educationLevelID == undefined)
        {
            educationLevelID = 0;
        }

        @*if (educationLevelID == undefined || educationLevelID == 0) {
            smas.alert({ Type: 'error', Message: '@Res.Get("InputExaminationMark_Label_EducationLevelNotAvailable")' });
            return false;
        }*@

        var fileUpload = $("#formImportFile").find("input:file").get(0);

        if (fileUpload.value == '') {
            smas.alert({ Type: 'error', Message: '@Res.Get("ImportPupil_Label_NoFileSelected")' });
            return false;
        }

        if (!(fileUpload.value.match(/.+\.xls$/) || fileUpload.value.match(/.+\.xlsx$/))) {
            smas.alert({ Type: 'error', Message: '@Res.Get("Common_Label_ExtensionError")' });
            return false;
        }

        if (fileUpload.files[0].size > 3145728) {
            smas.alert({ Type: 'error', Message: '@string.Format(Res.Get("Common_Label_MaxSizeExceeded"), "3 MB")' });
            return false;
        }

        smas.showProcessingDialog();
        return true;
    }


    function onSampleImportClicked() {
        var educationLevelID = $("#formImportFile").find("#EducationLevelID").val();

        if (educationLevelID == null || educationLevelID == "" || educationLevelID == undefined)
            educationLevelID = 0;

        @*if (educationLevelID == undefined || educationLevelID == 0) {
            smas.alert({ Type: 'error', Message: '@Res.Get("InputExaminationMark_Label_EducationLevelNotAvailable")' });
            return false;
        }*@

        window.location=("@Url.Action("Export", "ImportPupil")" + "?EducationLevelID=" + educationLevelID);
    }

    function OnCloseClick() {
        smas.closeDialog('importedDialog');
        setTimeout("smas.hideProcessingDialog()", 500);
    }
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
        $('#btImport').removeAttr('disabled');
        $('#btImport').removeClass('t-state-disabled');
    };
    function rdoCheckedChange(rdoID)
    {
        $('#ImportExcel').find('input[type="radio"]').removeAttr('checked');
        $(rdoID).attr('checked', 'checked');
    }
</script>

