﻿@model PeriodSearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportResultLearningBySemesterArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.ReportResultLearningBySemesterArea
@{
    int selectedPeriodID = 0;
    if (ViewData[ReportResultLearningBySemesterConstants.CBO_PERIOD_SELECTED] != null)
    {
        selectedPeriodID = (int)ViewData[ReportResultLearningBySemesterConstants.CBO_PERIOD_SELECTED];
    }
}
<div class="vt-SearchPanel-Content">
    <table>
        <tr>
            <td>@Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportResultLearningByPeriod_Label_Semester"),
 new SelectList((IEnumerable<ComboObject>)ViewData[ReportResultLearningBySemesterConstants.CBO_SEMESTER], "key", "value", new GlobalInfo().Semester),
      GlobalConstants.NO_PLACEHOLDER,
                   new Dictionary<string, object> { { "onChange", "AjaxLoadPeriod(this)" } }, true)
            </td>
            <td>@Html.ViettelComboboxFor(model => model.Period, Res.Get("ReportResultLearningByPeriod_Label_Period"),
     new SelectList((IEnumerable<PeriodDeclaration>)ViewData[ReportResultLearningBySemesterConstants.CBO_PERIOD], "PeriodDeclarationID", "Resolution", selectedPeriodID),
      GlobalConstants.PLACEHOLDER_CHOICE,
                   new Dictionary<string, object> { }, true)
            </td>
            <td>@Html.ViettelComboboxFor(model => model.EducationLevel, Res.Get("ClassProfile_Control_EducationLevel"),
     new SelectList((IEnumerable<EducationLevel>)ViewData[ReportResultLearningBySemesterConstants.CBO_EDUCATIONLEVEL], "EducationLevelID", "Resolution"),
      GlobalConstants.NO_PLACEHOLDER,
                   new Dictionary<string, object> { }, true)
            </td>
            <td>@Html.ViettelComboboxFor(model => model.Subject, Res.Get("ReportResultLearningByPeriod_Label_Subject"),
     new SelectList((IEnumerable<SubjectCat>)ViewData[ReportResultLearningBySemesterConstants.CBO_SUBJECT], "SubjectCatID", "SubjectName"),
      GlobalConstants.PLACEHOLDER_CHOICE,
                  new Dictionary<string, object> { }, true)
            </td>
        </tr>
    </table>
    <div style="padding-left: 40%" id="ListRadio">
        @(Html.ViettelRadioBox("rptReport", "", new Dictionary<string, object> { { "id", "rptReport" }, { "onClick", "SelectReport()" } }, ViewData[ReportResultLearningBySemesterConstants.LIST_RADIOREPORT] as List<SMAS.VTUtils.HtmlHelpers.ViettelCheckboxList>, false, true))
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#idReportResultLearningBySemester #Semester option[value='3']").remove();
    });
    function AjaxLoadPeriod(obj) {
        var idSemester = $(obj).val();
        controlUtils.loadComboBox(
            $("#Period"),
            '@Url.Action("AjaxLoadPeriod", "ReportResultLearningByPeriod")',
            { idSemester: idSemester },
            '@Res.Get("SelectRK")'
        );
    }
</script>
