﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportResultLearningBySemesterArea.Models
@using SMAS.Web.Areas.ReportResultLearningBySemesterArea;
@using (Html.BeginForm("GetReportByPeriod",
"ReportResultLearningByPeriod", FormMethod.Post, new { id = "frmExport" }))
{ 
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div id="Search">
            @Html.Partial("../ReportResultLearningByPeriod/_SearchByPeriod")
        </div>
        <br />
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "submit", "if(!validateUtils.validateForm('frmExport')) return false;", "")
        </div>
    </div>
}
<script type="text/javascript">
    var MaBC = 1;
    $('#frmExport #EducationLevel').attr('disabled', true);
    $(document).ready(function () {
        SelectReport();
    });
    function SelectReport() {
        $("#frmExport #Subject").attr("disabled", false);
        $("#frmExport #EducationLevel").attr("disabled", false);
        var Report = $("[name=rptReport]:checked").val();
        if (Report <= 7 && Report >= 3) {
            $("#frmExport #Subject").attr("disabled", true);
            $("#frmExport #EducationLevel").attr("disabled", true);
        }
        if (Report == 1) {
            $("#frmExport #EducationLevel").attr("disabled", true);
        }
        if (Report == 2) {
            $("#frmExport #Subject").attr("disabled", true);
        }
    }

    $(document).ready(function () {
        // Kiem tra neu khong co bao cao nao duoc chon mac dinh thi chon bao cao dau tien khong bi disabled lam mac dinh.
        // Dong thoi goi ham SelectReport() de xu ly giao dien cho dung (cac bao cao khac nhau thi co the co disable cac input khac nhau
        if ($("[name=rptReport]:enabled:checked").length == 0) {
            $("[name=rptReport]:enabled").first().attr("checked", "checked");
            SelectReport();
        }
    });

    $('#frmExport').submit(function (event) {
        var id = $("[name=rptReport]:checked").val();
        MaBC = id;
        event.preventDefault();
        smas.getReport('frmExport', '@Url.Action("GetReportByPeriod", "ReportResultLearningByPeriod")',
            '@Url.Action("GetNewReportByPeriod", "ReportResultLearningByPeriod")', '@Url.Action("DownloadReport", "ReportResultLearningByPeriod")');
    });
    
        
</script>
