﻿@model InfectiousDiseasesViewModel
@using SMAS.Web.Areas.InfectiousDiseasesArea.Models
@using SMAS.Web.Areas.InfectiousDiseasesArea
@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
    <div class="vt-control" colspan="2">
        <div class="editor-label">
            @Res.Get("InfectiousDiseas_Label_DiseasesName")
            <span style="color: red;">*</span>
        </div>
        <div class="editor-field">
            @(Html.Telerik().AutoComplete()
                        .Name("DiseasesNameForCoE")
                        .Encode(false)
                        .BindTo((IEnumerable<string>)ViewData[InfectiousDiseasesConstants.AUTOCOMPLETE_DISEASESNAME])
                        .AutoFill(false)
                        //.HtmlAttributes(new { maxlength="500"})
                        .HighlightFirstMatch(true)
                        //.ClientEvents(events => events.OnChange("onDiseasesNameSelect"))
                        .Value(Model!=null?Model.DiseasesNameForCoE:(string)ViewData[InfectiousDiseasesConstants.VALUE_DISEASESNAME])
                        .Filterable(filtering =>
                        {
                            //if (Model.AutoCompleteAttributes.FilterMode != 0)
                            {
                                filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                            }
                        })
                     )
        </div>
    </div>
