﻿@model SearchViewModel
@using SMAS.Web.Areas.InfectiousDiseasesArea.Models
@using SMAS.Web.Areas.InfectiousDiseasesArea
@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
    <div class="vt-control" colspan="2">
        <div class="editor-label">
            @Res.Get("InfectiousDiseas_Label_DiseasesName")
        </div>
        <div class="editor-field">
            @(Html.Telerik().AutoComplete()
                        .Name("DiseasesName")
                        .Encode(false)
                        .BindTo((IEnumerable<string>)ViewData[InfectiousDiseasesConstants.AUTOCOMPLETE_DISEASESNAME])
                        .AutoFill(false)
                        //.HtmlAttributes(new { style = string.Format("width:{0}px", "200px") })
                        .HighlightFirstMatch(true)
                        //.ClientEvents(events => events.OnChange("onDiseasesNameSelect"))
                        //.Value(Model.DiseasesName)
                        .Filterable(filtering =>
                        {
                            //if (Model.AutoCompleteAttributes.FilterMode != 0)
                            {
                                filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                            }
                        })
                     )
        </div>
    </div>
