﻿@model SearchViewModel
@using SMAS.Web.Areas.InfectiousDiseasesArea.Models
@using SMAS.Web.Areas.InfectiousDiseasesArea
@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
<div class="vt-control" id="searchViewPupilName">
    <div class="editor-label">
        @Res.Get("InfectiousDiseas_Label_PupilID")
    </div>
    <div class="editor-field">
        @(Html.Telerik().AutoComplete()
                        .Name("PupilName")
                        .Encode(false)
                        .BindTo((IEnumerable<string>)ViewData[InfectiousDiseasesConstants.AUTOCOMPLETE_PUPILNAME])
                        .AutoFill(false)
                        //.HtmlAttributes(new { style = string.Format("width:{0}px", "200px") })
                        .HighlightFirstMatch(true)
                       // .ClientEvents(events => events.OnChange("onPupilNameSelect"))
                        //.Value(Model!=null?Model.Fullname:"")
                        .Filterable(filtering =>
                        {
                            //if (Model.AutoCompleteAttributes.FilterMode != 0)
                            {
                                filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                            }
                        })
                     )
    </div>
</div>