﻿@model InfectiousDiseasesViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.InfectiousDiseasesArea.Models
@using SMAS.Web.Areas.InfectiousDiseasesArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="Search1Form">
        <div class="vt-SearchPanel-Content">
            @Html.ViettelDetailFor(o => o.EducationLevelName)
            @Html.ViettelDetailFor(o => o.ClassName)
            @Html.ViettelDetailFor(o => o.PupilNameForCoE)
            @Html.ViettelDetailFor(o => o.Address)
            @Html.ViettelDetailFor(o => o.ProvinceName)
            @Html.ViettelDetailFor(o => o.DistrictName)
            @Html.ViettelDetailFor(o => o.CommuneName)
            @Html.ViettelDetailFor(o => o.InfectionDate)
            @Html.ViettelDetailFor(o => o.OffDate)
            @Html.ViettelDetailFor(o => o.DiseasesNameForCoE)
            @Html.ViettelDetailFor(o => o.Note)
        </div>
    </div>
</div>

<div class="dialog-buttons">
    @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('viewDialog');", "")
</div>
<style type="text/css">
    .vt-span .vt-control{width:100%!important}.vt-span .vt-control .editor-label{width:13%!important}.vt-span .vt-control .editor-field{width:87%!important}
</style>
