﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.InfectiousDiseasesArea
@using SMAS.Web.Areas.InfectiousDiseasesArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models;

@{
    DateTime fromDate = (DateTime)ViewData[InfectiousDiseasesConstants.DATEFIRSTACAD];
    DateTime toDate = (DateTime)ViewData[InfectiousDiseasesConstants.DATEENDACAD];
    var isCurrentYear = (bool)ViewData[InfectiousDiseasesConstants.PERMISSION_ALLOW];
 }
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">

    <div class="Search1Form">
        @using (Ajax.BeginForm("Search",
                           "InfectiousDiseases",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstInfectiousDiseases",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "SetCalendar"
                           },
                           new { id = "frmSearch" }))
        {
            <div class="vt-SearchPanel-Title">
                <span class="icon icon-search-file"></span>@Res.Get("Common_Label_SearchingCriteria")
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            </div>
            <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
            </div>
            <div class="vt-SearchPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "return checkValidate();", " btn btn-info btn-round btn-icon btn-icon-search")
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>    </text>);
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    function AjaxEducationLevelChange(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Class"),
            '@Url.Action("AjaxLoadClass", "InfectiousDiseases")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("All")'
        );
            //var ClassID = $("#" + frmId + " #Class").val();
            //var EducationLevelID = $("#" + frmId + " #EducationLevel").val();
            //LoadAutoCompletePupilName(EducationLevelID, ClassID, frmId);

        }
        function AjaxClassChange(cbClass) {
            frmId = $(cbClass).closest('form').get(0).id;
            var EducationLevelID = $("#" + frmId + " #EducationLevel").val();
            var ClassID = $("#" + frmId + " #Class").val();
            LoadAutoCompletePupilName(EducationLevelID, ClassID, frmId);
        }

        function AjaxLoadDistrict(cbProvince) {
            frmId = $(cbProvince).closest('form').get(0).id;
            controlUtils.loadComboBox(
                $("#" + frmId + " #DistrictID"),
                '@Url.Action("AjaxLoadDistrict", "InfectiousDiseases")',
            { ProvinceID: $(cbProvince).val() },
            '@Res.Get("SelectRK")'
        );
            var cbDistrict = $("#" + frmId + " #DistrictID");
            AjaxLoadCommune(cbDistrict);
        }

        function AjaxLoadCommune(cbDistrict) {
            frmId = $(cbDistrict).closest('form').get(0).id;
            controlUtils.loadComboBox(
                $("#" + frmId + " #CommuneID"),
                '@Url.Action("AjaxLoadCommune", "InfectiousDiseases")',
            { DistrictID: $(cbDistrict).val() },
            '@Res.Get("SelectRK")'
        );
        }

    function LoadAutoCompletePupilName(EducationLevelID, ClassID, frmID) {
        if (frmID == "frmCreate") {
            $.ajax({
                url: '@Url.Action("LoadAutoCompletePupilNameInCoE", "InfectiousDiseases")',
                type: 'post',
                data: { EducationLevelID: EducationLevelID, ClassID: ClassID },
                beforeSend: function () {
                    //smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#CoEViewPupilName").html(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }

    function checkValidate() {
        var fromDate = $('#FromDate').val();
        if (fromDate != '') {
            if (isDate(fromDate) == 0) {
                smas.alertColor("Từ ngày không hợp lệ.Vui lòng nhập theo định dạng dd/mm/yyyy", 'red');
                return false;
            }
            else if (isDate(fromDate) == 1) {
                smas.alertColor("Từ ngày không tồn tại.Vui lòng nhập theo định dạng dd/mm/yyyy", 'red');
                return false;
            }
        }
        
        var toDate = $('#ToDate').val();

        if (toDate != '') {
            if (isDate(toDate) == 0) {
                smas.alertColor("Đến ngày không hợp lệ.Vui lòng nhập theo định dạng dd/mm/yyyy", 'red');
                return false;
            }
            else if (isDate(toDate) == 1) {
                smas.alertColor("Đến ngày không tồn tại.Vui lòng nhập theo định dạng dd/mm/yyyy", 'red');
                return false;
            }

        }
        
        var fDate = dateUtils.ParseDate(fromDate);
        var tDate = dateUtils.ParseDate(toDate);
        if (fDate > tDate && fDate != null && tDate != null) {
            smas.alertColor("Từ ngày phải nhỏ hơn hoặc bằng đến ngày",'red');
            return false;
        }
        var firtDate = dateUtils.ParseDate('@fromDate.ToString("dd/MM/yyyy")');
        var endDate = dateUtils.ParseDate('@toDate.ToString("dd/MM/yyyy")');
        if (fDate != null && firtDate != null) {
            if (fDate < firtDate) {
                smas.alertColor("Từ ngày phải lớn hơn hoặc bằng ngày bắt đầu thời gian năm học @fromDate.ToString("dd/MM/yyyy")", 'red');
                return false;
            }

            if (tDate > endDate) {
                if ('@isCurrentYear' == 'True') {
                    smas.alertColor("Đến ngày phải nhỏ hơn hoặc bằng ngày hiện tại @toDate.ToString("dd/MM/yyyy")", 'red');
                    return false;
                }
                else {
                    smas.alertColor("Đến ngày phải nhỏ hơn hoặc bằng ngày kết thúc thời gian năm học @toDate.ToString("dd/MM/yyyy")", 'red');
                    return false;
                }

            }
        }
        return true;
    }

    function isDate(txtDate) {
        var currVal = txtDate;
        //Declare Regex 
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern); // is format OK?

        if (dtArray == null)
            return 0;

        //Checks for dd/mm/yyyy format.
        dtDay = dtArray[1];
        dtMonth = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12)
            return 1;
        else if (dtDay < 1 || dtDay > 31)
            return 1;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return 1;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return 1;
        }
        return 2;
    }

function excelExport() {
    var EducationLevel = $("#frmSearch #EducationLevel").val();
    var Class = $("#frmSearch #Class").val();
    var PupilName = $("#frmSearch #PupilName").val();
    var FromDate = $("#frmSearch #FromDate").val();
    var ToDate = $("#frmSearch #ToDate").val();
    var DiseasesName = $("#frmSearch #DiseasesName").val();

    var downloadUrl = '@Url.Action("ExportExcel", "InfectiousDiseases")';
    downloadUrl += '?EducationLevel=' + EducationLevel;
    downloadUrl += '&Class=' + Class;
    downloadUrl += '&PupilName=' + PupilName;
    downloadUrl += '&FromDate=' + FromDate;
    downloadUrl += '&ToDate=' + ToDate;
    downloadUrl += '&DiseasesName=' + DiseasesName;
    window.open(downloadUrl);
}

    function SetCalendar() {
        var dateTo = $('#FromDate').val();
        var dateEnd = $('#ToDate').val();
        if (dateTo == "") {
            $('#FromDate').val('@fromDate.ToString("dd/MM/yyyy")');
        }
        if (dateEnd == "") {
            $('#ToDate').val('@toDate.ToString("dd/MM/yyyy")');
        }
        smas.hideProcessingDialog();
    }

    ////////////////////////////////////////////////////////////
    // Doi label Khoi thanh Nhom lop doi voi cap mam non
    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
         || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        <text>
    $(function () {
        $("label[for=EducationLevel]").text("@Html.Raw(Res.Get("PupilProfile_Label_EducationLevel_MN"))");
        });
    </text>
    }
    ////////////////////////////////////////////////////////////

</script>
