﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SituationOfViolationArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PupilAwayArea;
@{
    GlobalInfo glo = new GlobalInfo();
    AcademicYear objAcademicYear = new AcademicYear();
    if (ViewData[PupilAwayConstants.ACADEMIC_YEAR] != null)
    {
        objAcademicYear = (AcademicYear)ViewData[PupilAwayConstants.ACADEMIC_YEAR];
    }
    DateTime startDate = new DateTime();
    DateTime endDate = new DateTime();
    DateTime dateTimeNow = DateTime.Now.Date;
    DateTime dateMin = new DateTime();
    DateTime dateMax = DateTime.Now;
    if (glo.IsCurrentYear)
    {
        startDate = objAcademicYear.FirstSemesterStartDate.Value.Date;
        endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
        dateMin = (startDate > DateTime.Now ? DateTime.Now : startDate);
    }
    else
    {
        startDate = endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
        dateMin = objAcademicYear.FirstSemesterStartDate.Value.Date;
        dateMax = objAcademicYear.SecondSemesterEndDate.Value.Date;
    }
        
}

@{
    DateTime firstDateOfMonth = Convert.ToDateTime("01/" + DateTime.Now.Date.Month + "/" + DateTime.Now.Date.Year);
}

<style>
    .vt-control .editor-label-2, .vt-control .editor-label {
        width: 32%;
    }

    .vt-control .editor-field {
        width: 63%;
    }

    .vt-SearchPanel .vt-SearchPanel-Content {
        padding: 20px 0px 10px 0px;
    }

    .ContentSectionSmallLoop2 {
        min-height: 790px!important;
    }

    .SideBarLoopMenu {
        background: none repeat scroll 0 0 #eaf2f5;
        height: 791px !important;
    }

    .ContentSectionSmallTop .ContentSectionSmallBtm {
        padding-bottom: 0px!important;
    }
</style>
<form id="ChildrenAbsentForm">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4" id="PupilAwayParams">
        <div class="vt-SearchPanel-Title">
            @Res.Get("Danh sách trẻ nghỉ học")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox(Res.Get("ClassAssignment_Label_EducationLevel"), "EducationLevelID", (IEnumerable<SelectListItem>)ViewData["listEducation"],
        GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadClass();" } }, false, false)
            @Html.ViettelCombobox(Res.Get("PupilAway_ClassProfile_Label_AllTitle"), "ClassID", new List<SelectListItem>(), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { {"disabled", "disabled"} }, true, false)
            @*@Html.ViettelDatePicker("FromDate", Res.Get("PupilAway_Label_FromDate"), DateTime.Now, true, new Dictionary<string, object> { { "OnChange", "CheckValidate" } }, "dd/MM/yyyy")
        @Html.ViettelDatePicker("ToDate", Res.Get("PupilAway_Label_ToDate"), DateTime.Now.Date, true, new Dictionary<string, object> { { "OnChange", "CheckValidate" } }, "dd/MM/yyyy")*@
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("PupilAway_Label_FromDate")
                    </label>
                </div>
                <div class="editor-field">
                    @{
                        Html.Telerik().DatePicker()
                        .Name("FromDate")
                            //.Value(DateTime.Now)
                        .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                        .TodayButton("Now")
                        .Max(dateMax)
                        .Min(dateMin)
                        .Format("dd/MM/yyyy")
                        .ClientEvents(p => p.OnChange("CheckValidate"))
                            //.InputHtmlAttributes(new { onblur = "alert($(this).val());"})
                        .Render();
                    }
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("PupilAway_Label_ToDate")
                    </label>
                </div>
                <div class="editor-field">
                    @{
                        Html.Telerik().DatePicker()
                        .Name("ToDate")
                        .Value(endDate < DateTime.Now ? endDate : DateTime.Now)
                        .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                        .TodayButton("Now")
                        .Format("dd/MM/yyyy")
                        .Max(endDate < DateTime.Now ? endDate : DateTime.Now)
                        .ClientEvents(p => p.OnChange("CheckValidate"))
                        .Render();
                    }
                    @* </div>*@
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()", "")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDF()", "")
        </div>
    </div>
</form>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align: center; margin-left: 50px">
    <iframe id="ContentSemester" style="width: 100%; height: 600px;" src="/HtmlTemplate/TRE_MN_DStreNghiHoc/TRE_MN_DanhSachTreNghiHoc.htm"></iframe>
</div>
<script>

    function validateValue() {
        var check = CheckValidate();
        if (check == 1) {
            return ExportExcel();
        }
        else {
            return false;
        }
    }

    //Load ngay dau tien cua thang
    $(document).ready(function () {
        if ('@glo.IsCurrentYear' == 'True') {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            if (mm.toString().length == 1) {
                mm = "0" + mm;
            }           
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            //console.log(currentDate.ToString("dd/MM/yyyy"));
            $('#FromDate').val(currentDate);
        }
        else {
            $('#FromDate').val('@endDate.ToString("dd/MM/yyyy")');
        }
    });

    //load Lop
    function LoadClass() {
        var eduId = $("#ChildrenAbsentForm").find("#EducationLevelID").val();
        if (eduId > 0) {
            $('#ClassID').removeAttr('disabled');
            $.ajax({
                url: '@Url.Action("LoadClass", "ChildrenAbsent")',
                type: 'post',
                data: { eduId: eduId },
                success: function (data) {
                    $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            $('#ClassID').attr('disabled', 'disabled');
            $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
        }
    }


    function CheckValidate() {
        if (!validateUtils.isDate($('#FromDate').val())) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Từ ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
            return 0;
        }
        if (!validateUtils.isDate($('#ToDate').val())) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Đến ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = dd + '/' + mm + "/" + yyyy;
            $('#ToDate').val(currentDate);
            return 0;
        }
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        arrfromdate = fDate.split("/");
        arrtodate = tDate.split("/");

        var dd1 = arrfromdate[0];
        var mm1 = arrfromdate[1];
        var yyyy1 = arrfromdate[2];
        var strdate1 = yyyy1 + "-" + mm1 + "-" + dd1;
        var fromday = strdate1.split('-');

        var dd = arrtodate[0];
        var mm = arrtodate[1]; //January is 0!
        var yyyy = arrtodate[2];
        var strdate = yyyy + "-" + mm + "-" + dd;
        var CurrentDate = strdate.split('-');

        var firstDate = new Date();
        firstDate.setFullYear(fromday[0], (fromday[1] - 1), fromday[2]);

        var secondDate = new Date();
        secondDate.setFullYear(CurrentDate[0], (CurrentDate[1] - 1), CurrentDate[2]);

        if (firstDate > secondDate) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Giá trị Từ ngày phải nhỏ hơn Đến ngày" });
            return 0;
        }

        var today = new Date();
        var FromDate = dateUtils.Parse($('#FromDate').val());
        if (FromDate > today) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải trước ngày hiện tại" });
            return 0;
        }
       @* if (firstDate < dateUtils.Parse('@startD')) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải lớn sau ngày bắt đầu năm học" });
            return 0;
        }

        if (secondDate > dateUtils.Parse('@endD')) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Đến ngày phải trước ngày kết thúc năm học" });
            return 0;
        }*@

        return 1;
    }

@*    $('#PupilAwayForm').submit(function (event) {
        var check = CheckValidate();
        if (check == 1) {
            smas.getReport('PupilAwayForm', '@Url.Action("GetReportPupilAway", "PupilAway")',
            '@Url.Action("GetNewReportPupilAway", "PupilAway")', '@Url.Action("DownloadReport", "PupilAway")');
        }
    });*@

    function SubmitClick() {
        var check = CheckValidate();
        if (check == 1) {
            smas.getReport('ChildrenAbsentForm', '@Url.Action("GetReportPupilAway", "ChildrenAbsent")',
            '@Url.Action("GetNewReportPupilAway", "ChildrenAbsent")', '@Url.Action("DownloadReport", "ChildrenAbsent")');
        }
    }
    function ExportPDF() {
        var check = CheckValidate();
        if (check == 1) {
            var blank = '_blank';
            smas.getReportDocument('ChildrenAbsentForm', '@Url.Action("GetReportPupilAway", "ChildrenAbsent")',
            '@Url.Action("GetNewReportPupilAway", "ChildrenAbsent")', '@Url.Action("DownloadPDFReport", "ChildrenAbsent")', blank);
        }
    };
</script>
