﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.JudgeRecordArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.JudgeRecordArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
<div>
    <table>
        <tr>
            <td style="width: 100px">
                <img src="../../Content/images/question.png" style="width: 70px;" />
            </td>
            <td style="vertical-align: top;">


                <span id="titleAlert"></span>
                
                
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <div style="float:left;width:40%;" class="chkAlert">
                    

                    @Html.ViettelCheckBox("chkRequest", false, new Dictionary<string, object>() { {"onclick","SetSession(this)"}},Res.Get("TeachingAssignment_Label_NoMessage"),false,false,true)

                </div>
                <div style="float:left;width:50%;">
                    @Html.ViettelButton(Res.Get("Commbon_Button_Cancel"), "button", "CloseDialog()", "btn btn-basic btn-round")
                </div>
            </td>
        </tr>
    </table>

</div>

<script type="text/javascript">
    function CloseDialog() {
        setTimeout('smas.closeDialog("alertAssignmentMessageDialog");', 200);
    }
    function SetSession(checkbox) {
        if ($(checkbox).is(":checked")) {
            localStorage["requestAlert"] = "no";

        } else {
            localStorage["requestAlert"] = "";
        }

    }
</script>
<style type="text/css">
    .chkAlert editor-label{width:80%}.chkAlert editor-field{width:15px}
</style>