@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeachingAssignmentArea.Models
@model TeachingAssignmentViewModel
           <style type="text/css">
               /*#frmCreate .SemesterName .editor-field input{
                   width:285px !important;
               }
               #frmCreate .ClassName .editor-field input{
                   width:285px !important;
               }
               #frmCreate .SubjectName .editor-field input{
                   width:285px !important;
               }*/
           </style>
@using (Ajax.BeginForm("Create",
                       "TeachingAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="CreateExamViolationType" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("TeacherIDHid", 0)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#createDialog input[name='ApplyToAllSemester']").attr("onchange", "OnChangeApplyToAllSemester(this)");
    });

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            smas.closeDialog("createDialog");
            setTimeout('search()', 300);
            setTimeout('onDataLoadPageLast()', 500);
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnChangeApplyToAllSemester(cbApp) {
        $("#createDialog input[name='ApplyToAllSemester']").val(cbApp.checked);

    }
</script>
