﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@{
    GlobalInfo glo = new GlobalInfo();
 }
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
<div class="vt-SearchPanel-Content">
    <div>
     @using (Ajax.BeginForm("ImportExcel",
                       "TeachingAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnSuccess = "CreateImportTeachingAssSuccess",
                           OnFailure = "CreateImportTeachingAssFail"
                       },
                       new { id = "frmImportDataPass" }
                       ))
    { 
        @Html.AntiForgeryToken()
            <div style="float: left; text-align:right; width: 20%; padding-top:7px">
                @Res.Get("ImportPupil_Label_ImportFromExcel")
            </div>
            <div style="float: left; width: 75%;">
                <input type="text" value="[Chọn file]" disabled="disabled" id="txtFilePath"  style="width:70%;margin-left:10px"/>
                <span style="cursor:pointer;line-height:26px;float:right" class="btn btn-success btn-icon btn-icon-folder" onclick="$('#attachments').click();" >Chọn file</span>
                <div style="display:none">
                    @(Html.Telerik().Upload()
                        .Name("attachments")
                        .HtmlAttributes(new { @class = "btnUploaderCss" })
                        .ShowFileList(false)
                        .Multiple(false)
                        .Async(async => async
                        .Save("SaveFile", "TeachingAssignment")
                        .AutoUpload(false)
                            ).ClientEvents(events => events
                        .OnSelect("OnSelectImport")
                        .OnUpload("OnImportUpload")
                        .OnSuccess("OnImportSuccess")
                        .OnError("OnImportError"))
                    )
                </div>
            </div>

            <div class="Clear"></div>

            <div style="float: left; text-align:right; width: 22%;vertical-align:middle;">
                <span style="color:gray;font-style: italic;">&nbsp;</span>
            </div>
            <div style=" width: 100%;margin-top:5px;">
                <span style="color:gray;font-style: italic;">Kiểu file .xls, .xlsx. Dung lượng tối đa: 1 MB</span>
            </div>
            <div class="Clear"></div>
            <div class="Clear"></div>
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")

                }
            </div>
   <div class="Clear"></div>
 </div>
    
    <div class="vt-SearchPanel-Button">
        <div style="text-align:center">
            <div style="display:none">
                <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "ImportClassSubjectAndTeacher", new {Area = "ImportClassSubjectAndTeacherArea" })' method="post">
                    @Html.ViettelButton(Res.Get("DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btnDowloadfile" }, { "style", "margin-left: 270px;display:none;" } }, "submit", "", "")
                </form>
            </div>
            @Html.ViettelButton("Tải lên", new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" }, { "style", "margin-left: 5px;" } }, "button", "OnImportButtonClick()", " btn btn-info btn-round t-state-disabled")
        </div>
        <div class="Clear"></div>
     </div>
    
</div>
<div class="Clear"></div>
<script type="text/javascript">
    
</script>