﻿@model SearchByTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeachingAssignmentArea.Models
@using SMAS.Web.Areas.TeachingAssignmentArea
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers
<style type="text/css">
    div.Message {
        margin-bottom: 0;
    }
</style>
@{
    var list = (IEnumerable<TeachingAssignmentByTeacherViewModel>)ViewData[TeachingAssignmentConstants.LT_TABY_TEACHER];
    int haspermission = (int)ViewData[TeachingAssignmentConstants.HAS_PERMISSION];
    int create = (int)GlobalConstants.PERMISSION_LEVEL_CREATE;
    bool isCurrentYear = new GlobalInfo().IsCurrentYear;
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @string.Format(Res.Get("Record_Result"), list.Count().ToString())
            @Html.AntiForgeryToken()
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="t-widget t-grid">
        @{
            var count = 0;
            var index = 1;
            var strCheck = "";
            var strDisabled = "";
            var checkCount = 0;

            int numberOfCheck = Convert.ToInt32(ViewData[TeachingAssignmentConstants.NumberOfCheck]);
            IEnumerable<TeachingAssignmentByTeacherViewModel> lstTeachingAssignByTeacher = (IEnumerable<TeachingAssignmentByTeacherViewModel>)ViewData[TeachingAssignmentConstants.LT_TABY_TEACHER];
            if (lstTeachingAssignByTeacher != null)
            {
                count = lstTeachingAssignByTeacher.Count();
                if (count > 0)
                {
                    Html.Telerik()
                        .Grid(lstTeachingAssignByTeacher)
                        .Name("GridTeachingAssignmentByTeacher")
                        .Columns(c =>
                        {
                            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                            c.Bound(o => o.ClassName).Sortable(false);
                            c.Bound(o => o.ClassID).Sortable(false).Visible(false);
                            c.Bound(o => o.SubjectName).Sortable(false);
                            c.Template(@<text><span id="@("teacher_" + item.ClassID + "_" + item.SubjectID)">@item.TeacherName</span></text>)
                                 .HeaderTemplate(@<text>@Res.Get("TeachingAssignment_Column_Teacher")</text>).Width(300);
                            c.Template(@<text><input type="hidden" id="semester1" value="@item.NumberSection1" />
            <input type="hidden" id="semester2" value="@item.NumberSection2" />
            @{
                strCheck = "";
                strDisabled = "";
                checkCount = 0;
                if (item.FirstSemester)
                {
                    strCheck = "checked";
                    checkCount++;
                }
                if (item.DisableFirstSemester)
                {
                    strDisabled = " disabled";
                }
            }



            <input type="checkbox" @(strCheck) @(strDisabled) hiddenValue="@(item.ClassID + "_" + item.SubjectID + "_1")" class="ckbTA"
                    onchange="changeValue(this, '@item.ClassID','@item.SubjectID', 1)"/>
            </text>)
                                 .HeaderTemplate(@<text>@Res.Get("TeachingAssignment_Column_FirstSemester")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                            c.Template(@<text>
            @{
                strDisabled = "";
                strCheck = "";
                if (item.SecondSemester)
                {
                    strCheck = "checked";
                    checkCount++;
                }
                if (item.DisableSecondSemester)
                {
                    strDisabled = " disabled";
                }
            }
            <input type="checkbox" @(strCheck) @(strDisabled) hiddenValue="@(item.ClassID + "_" + item.SubjectID + "_2")" class="ckbTA"
                     onchange="changeValue(this, '@item.ClassID','@item.SubjectID', 2)"/>
            <input type="hidden" id="@("checkCount_" + item.ClassID + "_" + item.SubjectID)" value="@checkCount"/>
            </text>)
                                        .HeaderTemplate(@<text>@Res.Get("TeachingAssignment_Column_SecondSemester")</text>).HtmlAttributes(new { style = "text-align:center" }).Width(60);
                        })
                        //.DataBinding(b =>
                        //    b.Ajax().OperationMode(GridOperationMode.Client)
                        //            .Select("SearchByTeacher", "TeachingAssignment")

                        // )
                        .DataKeys(keys => keys.Add(o => o.ClassID))
                        .Scrollable(u => u.Height(385))
                        .Selectable()
                        .Render();
       
            <input type="hidden" id="L_SubjectID" value="@ViewData["SubjectID"]" />
            <input type="hidden" id="L_TeacherID" value="@ViewData["TeacherID"]" />
            <input type="hidden" id="TeacherName" value="@ViewData["TeacherName"]" />
            
                }
            }
        }
    </div>
    <div class="vt-ResultPanel-Footer-Right" style="text-align: right;margin-top:10px;">
        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOutTeacher" } }, "button", "onInOutTeacherClick(this)","btn btn-info btn-round btn-icon btn-icon-inout")
            <div id="InOutTeacherBoxChoice" style="display: none;" class="NameSection">
                @{
                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();

                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));    
                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Xuất mẫu nhập"), "2", false, false));
                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Xuất báo cáo"), "3", false, false));
                }
                @Html.ViettelListButtonStyle2("InOutTeacherBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
            </div>
        @if (isCurrentYear && haspermission >= create)
        {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "Save()", "", "btnSave")
        }
    </div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    $(document).ready(function () {
        $('#InOutTeacherBoxChoice').find('a').css('text-align', 'left');
    });
    function changeValue(cbo, classID, subjectID, semester) {
        var checkCount = $("#checkCount_" + classID + "_" + subjectID);
        var teacherName = $("#teacher_" + classID + "_" + subjectID);

        var NumberSemester1 = $("#NumberSemester1").val();
        var NumberSemester2 = $("#NumberSemester2").val();
        var SumSection = $("#SumSection").val();
        var name = $("#TeacherName").val();
        var count = parseInt(checkCount.val());
        if ($(cbo).is(':checked')) {
            if (count == 0) {
                var html = teacherName.html();
                if (html != "") {
                    html += ", ";
                }
                html += name;
                teacherName.html(html);
            }
            checkCount.val(count + 1);
            //lay thong tin so tiet cua tung lop 

            //cong vao gia tri tong
            if (semester == 1) {
                var SubjectSemester = $(cbo).closest("tr").find("#semester1").val();
                NumberSemester1 = parseFloat(NumberSemester1.replace(',', '.')) + parseFloat(SubjectSemester.replace(',', '.'));
                $("#NumberSemester1").val(Number(NumberSemester1.toFixed(1)));
            } else if (semester == 2) {
                var SubjectSemester = $(cbo).closest("tr").find("#semester2").val();
                NumberSemester2 = parseFloat(NumberSemester2.replace(',', '.')) + parseFloat(SubjectSemester.replace(',', '.'));
                $("#NumberSemester2").val(Number(NumberSemester2.toFixed(1)));
            }
        } else {
            if (count == 1) {
                var html = teacherName.html().toString();
                if (html.length > name.length) {
                    html = html.substr(0, html.length - name.length - 2);
                } else {
                    html = "";
                }
                teacherName.html(html);
            }
            checkCount.val(count - 1);
            if (semester == 1) {
                var SubjectSemester = $(cbo).closest("tr").find("#semester1").val();
                NumberSemester1 = parseFloat(NumberSemester1.replace(',', '.')) - parseFloat(SubjectSemester.replace(',', '.'));
                $("#NumberSemester1").val(Number(NumberSemester1.toFixed(1)));
            } else if (semester == 2) {
                var SubjectSemester = $(cbo).closest("tr").find("#semester2").val();
                NumberSemester2 = parseFloat(NumberSemester2.replace(',', '.')) - parseFloat(SubjectSemester.replace(',', '.'));
                $("#NumberSemester2").val(Number(NumberSemester2.toFixed(1)));
            }
        }
        CheckAssignmentTeacher();

    }

    function CheckAssignmentTeacher() {
        var NumberSemester1 = $("#NumberSemester1").val();
        var NumberSemester2 = $("#NumberSemester2").val();
        var SumSection = $("#SumSection").val();
        var lbl = "";
        if (parseFloat(NumberSemester1.replace(',', '.')) > parseFloat(SumSection.replace(',', '.')) && '@(new GlobalInfo().Semester)' == '1') {
            lbl = '@Res.Get("TeachingAssignment_Label_EmployeeTeaching")' + " " + NumberSemester1 + " " + '@Res.Get("TeachingAssignment_Label_LessonPerWeek1")' + " " + '@Res.Get("TeachingAssignment_Label_TeachingPeriod")' + " " + SumSection + " " + '@Res.Get("TeachingAssignment_Label_LessonPerWeek")' + "</br>";

        }

        if (parseFloat(NumberSemester2.replace(',', '.')) > parseFloat(SumSection.replace(',', '.'))) {
            lbl = lbl + '@Res.Get("TeachingAssignment_Label_EmployeeTeaching")' + " " + NumberSemester2 + " " + '@Res.Get("TeachingAssignment_Label_LessonPerWeek2")' + " " + '@Res.Get("TeachingAssignment_Label_TeachingPeriod")' + " " + SumSection + " " + '@Res.Get("TeachingAssignment_Label_LessonPerWeek")' + "</br>";
        }
        if (lbl != "") {
            $("#titleAlert").html(lbl);
            if (localStorage["requestAlert"] != undefined && localStorage["requestAlert"] == "no") {

            } else {
                smas.openDialog("alertAssignmentMessageDialog", "");
            }
        }



    }

    function Save() {
        var data = "";
        $(".ckbTA").each(function () {
            if ($(this).is(':checked')) {
                data += $(this).attr('hiddenValue') + ",";
            }
        });
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("SaveTeacher", "TeachingAssignment")',
            type: 'post',
            data: {
                data: data,
                SubjectID: $('#L_SubjectID').val(),
                TeacherID: $('#L_TeacherID').val(),
                __RequestVerificationToken: token
            },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.alert(msg);
                GetTeacherInfo();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            },
            complete: function () {
                smas.hideProcessingDialog();
            }
        })
    }
    function onInOutTeacherClick(btn) {
        $('#InOutTeacherBoxChoice').find('a').css('width', '100%');
        $("#InOutTeacherBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutTeacherBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 24, "z-index": "1000", "width": "105px" });
        $("#InOutTeacherBoxChoice").show();
        $("#InOutTeacherBoxChoice").find("a").attr("onclick", "InOutTeacherHandle(this)");
    }
    function InOutTeacherHandle(item) {
        if ($(item).attr('value') == 1) {
            smas.openDialog('ImportTeachingAssignment', '', {});
        }
        else if ($(item).attr('value') == 2) {
            $('#frmDownloadFile').find('input[type="submit"]').click();
        }
        else {
            var downloadUrl = '@Url.Action("ExportExcel", "TeachingAssignment")';
            window.open(downloadUrl);
        }
}
$(document).click(function (event) {
    if ($(event.target).closest("#btnInOutTeacher").html() == null || $(event.target).closest("#btnInOutTeacher").html() == "undefined") {
        $("#InOutTeacherBoxChoice").css("display", "none");
    }
});
</script>
