﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeachingAssignmentArea.Models
@using SMAS.Web.Areas.TeachingAssignmentArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers;
@model SearchByTeacherViewModel
@{
    var SubjectCount = 0;
}
<style type="text/css">
   .DivSubject{background-color:#fff;border-color:#00f;border-style:solid;border-width:1px;float:left;height:20px;margin:2px;position:relative;text-align:center}.SpanSubject{display:block;height:15px;margin:2px auto 0;padding-left:8px;padding-right:8px;text-align:center}.SelectedSubject{background-color:#00f;color:#fff}.Clear{clear:both;padding:0!important}
</style>
<div class="search-by-teacher-subject" style="width: 100%;">
    @using (Ajax.BeginForm("SearchByTeacher",
                           "TeachingAssignment",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstTeachingAssignmentByTeacher",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearchByTeacher" }))
    {
        <input type="hidden" id="TeacherID" name="TeacherID" value="0" />
        <input type="hidden" id="SubjectID" name="SubjectID" value="0" />
        @Html.ViettelHidden("NumberSemester1", 0)
        @Html.ViettelHidden("NumberSemester2", 0)
        @Html.ViettelHidden("SumSection", 0)
        List<SubjectCat> listSubject = (List<SubjectCat>)ViewData[TeachingAssignmentConstants.LIST_SUBJECT];
        SubjectCount = listSubject.Count;

        List<ViettelCheckboxList> vcl = listSubject.Select(x => new ViettelCheckboxList(x.DisplayName, x.SubjectCatID, false, false)).ToList();
            
        @Html.ViettelListButtonStyle2("ListSubject", "", new Dictionary<string, object>(), "javascript:ChoiceSubject(this)", vcl, false)

        <div class="Clear">
        </div>
    }
</div>
<br />
<div class="Message">
    <span id="L_Message">
  
    </span>
</div>
<div class="Message">
    <span id ="Lesson_Message">

    </span>
</div>
<div id="datalist">
</div>
<script type="text/javascript">

    ChoiceSubject($('#ListSubject a').first());

    function ChoiceSubject(button) {

        controlUtils.ChangeStyleButton(button);
        var subjectID = $(button).parent().val();
        var currentValue = $('#frmSearchByTeacher #SubjectID').val();
        if (currentValue != subjectID) {
            $('#frmSearchByTeacher #SubjectID').val(subjectID);
            searchTeacher();
        }
        smas.hideProcessingDialog();        
    }

    function AjaxLoadTeacherSearch(cboFaculty) {
        frmId = $(cboFaculty).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadTeacherSearch", "TeachingAssignment")',
            { FacultyID: $(cboFaculty).val() },
            '@Res.Get("All")'
        );
    }
    function searchTeacher() {
        
        if ($("#frmSearchByTeacher #TeacherID").val() != 0
            && $("#frmSearchByTeacher #SubjectID").val() != 0) {
            SearchLoadGrid();

        } else {
            smas.hideProcessingDialog();
            $("#datalist").html("");
        }
    }
    function GetTeacherInfo() {
        if ($("#frmSearchByTeacher #TeacherID").val() != "0") {
            $.ajax({
                url: '@Url.Action("GetTeacherInfo", "TeachingAssignment")',
                type: 'post',
                //data: { id: id, semester: semester },
                data: jsonUtils.serializeObject("frmSearchByTeacher"),
                beforeSend: function () {
                    //smas.showProcessingDialog();
                },
                success: function (data) {
                    $("#L_Message").html(data.Message);
                    //lay ra thong tin giao vien da phan cong giang day ra bien so
                    var numberSemester = data.Type.split('-');
                    $("#NumberSemester1").val(numberSemester[0]);
                    $("#NumberSemester2").val(numberSemester[1]);
                    $("#TreeClass .t-state-selected #hk1").html(numberSemester[0]);
                    $("#TreeClass .t-state-selected #hk2").html(numberSemester[1]);
                    //smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            $('#L_Message').html('');
        }
    }

    function GetTeachingPeriod() {
        if ($("#frmSearchByTeacher #TeacherID").val() != "0") {
            $.ajax({
                url: '@Url.Action("GetTeachingPeriod", "TeachingAssignment")',
                type: 'post',
                //data: { id: id, semester: semester },
                data: jsonUtils.serializeObject("frmSearchByTeacher"),
                beforeSend: function () {
                    //smas.showProcessingDialog();
                },
                success: function (data) {
                    $("#Lesson_Message").html(data.Message);

                    $("#SumSection").val(data.Type);
                    //smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            $('#Lesson_Message').html('');
        }
    }
</script>
