﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeachingAssignmentArea.Models
@using SMAS.Web.Areas.TeachingAssignmentArea

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstTeachingAssignment">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("TeachingAssignment_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(300)
                .ContentHtmlAttributes(new { style = "min-width:500px;" })
)


<script type="text/javascript">
    function AjaxLoadTeacher(cboFaculty) {
        var TeacherIDHid = $("#frmCreate #TeacherIDHid").val();
        frmId = $(cboFaculty).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadTeacher", "TeachingAssignment")',
            { FacultyID: $(cboFaculty).val(), TeacherIDHid: TeacherIDHid },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadTeacherAdd(cboFaculty, cboTeacher) {
        frmId = $(cboFaculty).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadTeacherAdd", "TeachingAssignment")',
            { FacultyID: $(cboFaculty).val(), TeacherID: $(cboTeacher).val() },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadTeacherName(cboFaculty) {
        frmId = $(cboFaculty).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherName"),
            '@Url.Action("AjaxLoadTeacher", "TeachingAssignment")',
            { FacultyID: $(cboFaculty).val() },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadClass(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "TeachingAssignment")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("All")'
        );
    }
</script>