﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.SyntheticdataTertiaryArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.SyntheticdataTertiaryArea.Views;
@model SearchViewModel
    <div>
        @Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> { { "onchange", "LoadData4Report(this)" } }, (List<ViettelCheckboxList>)ViewData[SyntheticdataTertiaryConstants.LIST_TYPESTATICS], false, true)
    </div>
