﻿@model SearchViewModel
@using SMAS.Web.Areas.ReportConductStatisticsArea.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
<style type="text/css">
   #frmSearch .vt-control{width:45%}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "ReportConductStatistics",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstSubjectCat",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    }
</fieldset>
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
