﻿@model List<DOETExamGroupViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExamGroupArea
@using SMAS.Web.Areas.DOETExamGroupArea.Models
@using SMAS.Web.Constants

@{   
    bool checkCreate = true;
    if(ViewData[DOETExamGroupConstants.PER_CHECK_CREATE] != null)
    {
        checkCreate = (bool)ViewData[DOETExamGroupConstants.PER_CHECK_CREATE];    
    }
    bool dealineIsDisable = false;
    if (ViewData[DOETExamGroupConstants.DISABLE_ADD_NEWW] != null)
    {
        dealineIsDisable = (bool)ViewData[DOETExamGroupConstants.DISABLE_ADD_NEWW];
    }
    int examinationID = 0;
    if (ViewData[DOETExamGroupConstants.EXAMINATION_ID] != null)
    {
        examinationID = (int)ViewData[DOETExamGroupConstants.EXAMINATION_ID];
    }
}

<div class="vt-ResultPanel">
    <div class="text-right p-t-10 p-b-10">
         @{
            if (!dealineIsDisable && examinationID > 0)
            {
              @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", !checkCreate, "btn btn-info btn-round btn-icon btn-icon-plus")
            }
         }
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExamGroup")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Bound(o => o.ExamGroupCode).Sortable(false).HtmlAttributes(new { style = "text-align:center" }).Width(200);
                c.Bound(o => o.ExamGroupName).Sortable(false);
                c.Bound(o => o.ExaminationsID).Visible(false);
                c.Bound(o => o.disableGrade).Visible(false);
                c.Template(@<text>
                            @{
                                if(item.AppliedLevel == GlobalConstants.APPLIED_LEVEL_PRIMARY)
                                {
                                    @Res.Get("APPLIED_LEVEL_PRIMARY")
                                }else if(item.AppliedLevel == GlobalConstants.APPLIED_LEVEL_SECONDARY)
                                {
                                    @Res.Get("APPLIED_LEVEL_SECONDARY")
                                }else if(item.AppliedLevel == GlobalConstants.APPLIED_LEVEL_TERTIARY)
                                {
                                    @Res.Get("APPLIED_LEVEL_TERTIARY")
                                }
                             }
                </text>).Title(Res.Get("EmployeeHistoryStatus_Label_AppliedLevel")).HtmlAttributes(new { style = "text-align:center" }).Width(100);
                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "DOETExamGroup")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" })
                       ;
                }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(70);

                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "DOETExamGroup")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });
                }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "DOETExamGroup")
             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .RowAction(row =>
            {
                row.HtmlAttributes["class"] = "";
                //if (row.DataItem.checkEdit == false || dealineIsDisable)
                //{
                //    row.HtmlAttributes["class"] = "notEdit";
                //}
                
                if (dealineIsDisable)
                {
                    row.HtmlAttributes["class"] = "notEdit";
                }

                if (row.DataItem.checkDelete == false || dealineIsDisable)
                {
                    row.HtmlAttributes["class"] = row.HtmlAttributes["class"].ToString() + " " + "notDelete";
                }
            })
            .DataKeys(keys => keys.Add(o => o.ExamGroupID))
            .Sortable().Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(350))
            .Render();
                      
    }
</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridExamGroup').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            var appliedLevel = item.AppliedLevel;
            if (appliedLevel == 1) {
                $("#chkPrimaryEdit").attr("checked", "checked");
                $("#chkSecondaryEdit").removeAttr("checked");
                $("#chkTeriaryEdit").removeAttr("checked");
                $("#HfEducationGradeEdit").val(1);
            } else if (appliedLevel == 2) {
                $("#chkSecondaryEdit").attr("checked", "checked");
                $("#chkPrimaryEdit").removeAttr("checked");
                $("#chkTeriaryEdit").removeAttr("checked");
                $("#HfEducationGradeEdit").val(2);
            } else if (appliedLevel == 3) {
                $("#chkTeriaryEdit").attr("checked", "checked");
                $("#chkPrimaryEdit").removeAttr("checked");
                $("#chkSecondaryEdit").removeAttr("checked");
                $("#HfEducationGradeEdit").val(3);
            }

            var isdiableGrade = item.disableGrade;
            if (isdiableGrade)
            {
                $("#chkTeriaryEdit").attr("disabled", "disabled");
                $("#chkPrimaryEdit").attr("disabled", "disabled");
                $("#chkSecondaryEdit").attr("disabled", "disabled");
                $("#chkTeriaryEdit").removeAttr("onclick");
                $("#chkPrimaryEdit").removeAttr("onclick");
                $("#chkSecondaryEdit").removeAttr("onclick");
            } else
            {
                $("#chkTeriaryEdit").removeAttr("disabled");
                $("#chkPrimaryEdit").removeAttr("disabled");
                $("#chkSecondaryEdit").removeAttr("disabled");
                $("#chkTeriaryEdit").attr("onclick", "CheckChangeEdit(this)");
                $("#chkPrimaryEdit").attr("onclick", "CheckChangeEdit(this)");
                $("#chkSecondaryEdit").attr("onclick", "CheckChangeEdit(this)");
            }


            var htmlOption = $("#examinationsID").html();            
            $("#editDialog #tempExaminationsID").html(htmlOption);

            var examinationsID = $("#frmSearch").find('[name="examinationsID"]').val();
            $("#editDialog").find('[name="tempExaminationsID"]').val(examinationsID).prop('disabled', 'disabled');
            $("#editDialog").find('[name="ExaminationsID"]').val(examinationsID)
            smas.openDialog("editDialog", "", {});

            $("#editDialog #tempExaminationsID option[value='" + examinationsID + "']").attr("selected", "selected");
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            var examinationsID = $("#frmSearch").find('[name="examinationsID"]').val();
            smas.confirm('@Html.Raw(Res.Get("ExamGroup_Message_DeleteConfirm"))', function () {
                smas.post('@Url.Action("Delete")', { examGroupId: item.ExamGroupID, examinationsId: examinationsID }, search, null);
            });
        }
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        var examinationsID = $("#frmSearch").find('[name="examinationsID"]').val();
        $("#createDialog").find('[name="tempExaminationsID"]').val(examinationsID).prop('disabled', 'disabled');
        $("#createDialog").find('[name="ExaminationsID"]').val(examinationsID)
        smas.openDialog("createDialog", "", {});
        $("#chkTeriary").attr("checked", "checked");
        $("#HfEducationGrade").val(3);
        var htmlOption = $("#examinationsID").html();
        $("#createDialog #tempExaminationsID").html(htmlOption);
        $("#createDialog #tempExaminationsID option[value='" + examinationsID + "']").attr("selected", "selected");
    }

    $(document).ready(function () {
        $(".notEdit").find(".t-grid-vtEdit").remove();
        $(".notDelete").find(".t-grid-vtDelete").remove();
    });

</script>
