﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExamGroupArea
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Models.Models

@{
    Layout = "~/Areas/DOETExamMenuArea/Views/Shared/DOETExamLayout.cshtml";
}
@{
    SelectList listYear = new SelectList(new List<YearBO>(), "YearID", "DisplayYear");
    if (ViewData[DOETExamGroupConstants.LIST_YEAR] != null)
    {
        listYear = (SelectList)ViewData[DOETExamGroupConstants.LIST_YEAR];
    }
    SelectList listExam = new SelectList(new List<DOETExaminations>(), "ExaminationsID", "ExaminationsName");
    if(ViewData[DOETExamGroupConstants.CBO_EXAMINATIONS] != null)
    {
        listExam = (SelectList)ViewData[DOETExamGroupConstants.CBO_EXAMINATIONS];
    }
}
<div id="SearchPanel">

    @using (Ajax.BeginForm("Search",
                           "DOETExamGroup",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstExamGroup",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
            <div class="vt-SearchPanel-Title">
                @Res.Get("ExamGroup_Label_Title")
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            </div>
            <div class="vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-6">
                        @Html.ViettelCombobox(Res.Get("AcademicYear_Label_AcademicYearID"), "YearID",
                    listYear,
                    GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> {{ "onChange", "OnchangeYear(this)" }}, false, false)
                    </div>
                    <div class="col-md-6">
                        @Html.ViettelCombobox(Res.Get("ExamGroup_Label_Examinations"), "examinationsID",
                        listExam,
                        GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "onChange", "onExaminationsChange()" } }, false, false)
                    </div>
                </div>
            </div>
        </div>
        <input id="btnSubmit" type="submit" style="display: none;" />
    }
</div>

<div id="lstExamGroup">
    @Html.Partial("_List", ViewData[DOETExamGroupConstants.LIST_EXAM_GROUP])
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ExamGroup_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(468)
                .Height(200)
)
@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ExamGroup_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(468)
                .Height(200)
)
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    function onExaminationsChange() {
        search();
    }

    function OnchangeYear(obj) {
        var year = $(obj).val();
        $.ajax({
            url: '@Url.Action("OnchangeYear", "DOETExamGroup")',
            data: { Year: year },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                if (msg.Type == 'success') {
                    $("#examinationsID").html(msg.Message);
                    $("#tempExaminationsID").html(msg.Message);                                        
                    setTimeout(function () {
                        search();
                        smas.hideProcessingDialog();
                    }, 500);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function CheckChange(obj) {
        var chkVal = $(obj).val();
        if (chkVal == 1) {
            $("#chkPrimary").attr("checked", "checked");
            $("#chkSecondary").removeAttr("checked");
            $("#chkTeriary").removeAttr("checked");
            $("#HfEducationGrade").val(1);
        } else if (chkVal == 2) {
            $("#chkSecondary").attr("checked", "checked");
            $("#chkPrimary").removeAttr("checked");
            $("#chkTeriary").removeAttr("checked");
            $("#HfEducationGrade").val(2);
        } else if (chkVal == 3) {
            $("#chkTeriary").attr("checked", "checked");
            $("#chkPrimary").removeAttr("checked");
            $("#chkSecondary").removeAttr("checked");
            $("#HfEducationGrade").val(3);
        }
    }

    function CheckChangeEdit(obj) {
        var chkVal = $(obj).val();
        if (chkVal == 1) {
            $("#chkPrimaryEdit").attr("checked", "checked");
            $("#chkSecondaryEdit").removeAttr("checked");
            $("#chkTeriaryEdit").removeAttr("checked");
            $("#HfEducationGradeEdit").val(1);
        } else if (chkVal == 2) {
            $("#chkSecondaryEdit").attr("checked", "checked");
            $("#chkPrimaryEdit").removeAttr("checked");
            $("#chkTeriaryEdit").removeAttr("checked");
            $("#HfEducationGradeEdit").val(2);
        } else if (chkVal == 3) {
            $("#chkTeriaryEdit").attr("checked", "checked");
            $("#chkPrimaryEdit").removeAttr("checked");
            $("#chkSecondaryEdit").removeAttr("checked");
            $("#HfEducationGradeEdit").val(3);
        }
    }
</script>
