﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationRewardArea;
@using SMAS.Web.Constants;
@if (ViewData[EvaluationRewardConstants.CLASS_NULL] == null)
{
    <div id="RightPanel" class="row vt-RightPanel evaluation-reward" >
        <div id="HiddenPanel">
            @Html.ViettelHidden("ClassID", 0)
            @Html.ViettelHidden("ClassIDOld", 0)
            @Html.ViettelHidden("Semester", new GlobalInfo().Semester)
            @Html.ViettelHidden("SemesterOld", new GlobalInfo().Semester)
            @Html.ViettelHidden("EducationLevelID", 0)
            @Html.ViettelHidden("AppliedLevel", new GlobalInfo().AppliedLevel.Value)
        </div>
        <div class="col-sm-12 ">
            <div id="ClassChoiceID" class="inline-block mg-r-10 " onclick ="SelectClass();">
                <div class="text-center light class-choice">
                    <span class="">&#9776; </span>
                    <span id ="strClassNameID"> [Chọn lớp]</span>
                </div>
            </div>
            <div id="SearchPanel" class="inline-block">
                @Html.Partial("_Search")
            </div>
        </div>
        <div class="col-sm-12 mg-t-15">
            <div id="menu12" >
            <span id="strTitle" ></span>
            </div>
        </div>
        <div id="ClassPanel" class="vt-LeftPanel" style="top:50px;">
            <div class="SideBarTop">
                @Html.Partial("_ListClass")
            </div>
        </div>
        <div id="lstResult" class="col-sm-12"></div>
    </div>
}
else
{
    <div class="vt-RightPanel">
        <div id="Message">Trường chưa khai báo lớp học hoặc giáo viên chưa phân công phụ trách lớp</div>
    </div>
}
@(Html.Telerik().Window()
            .Name("ViewRatedComment")
            .Title("load dữ liệu")
            .Content(@<text><div id="lstViewRatedComment"></div></text>)
            .Buttons(buttons => buttons.Close())
            .Draggable(true)
            .Visible(false)
            .Modal(true)
            .Width(600).ContentHtmlAttributes(new { style="min-width: 600px;"})
)
@(Html.Telerik().Window()
                .Name("FastRewardDialog")
                .Title("Gợi ý nhanh khen thưởng")
                .Content(@<text>@Html.Partial("_GridFastReward")</text>)
                .Buttons(buttons => buttons.Close())
                .ClientEvents(p=>p.OnClose("LoadGrid"))
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(1000)
                .Height(600).ContentHtmlAttributes(new { style="min-width: 600px;"})
)
@(Html.Telerik().Window()
                .Name("ImportCCDialog")
                .Title("Import nhận xét")
                .Content(@<text>@Html.Partial("_ImportRewardComment")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600).ContentHtmlAttributes(new { style="min-width: 600px;"})
)
<script type ="text/javascript">
    var arrAutocomlete = '';
    $(document).mousemove(function (event) {
        if ($(event.target).closest('#ClassPanel').html() == null
            && $(event.target).closest("#ClassChoiceID").html() == null) {
            $("#ClassPanel").css("display", "none");
        }
    });
    function SelectClassForEvaluationReward(e) {
        var position = $('#ClassChoiceID').position();
        $('#ClassPanel').css('left', position.left +5).css('top', position.top + 50);
        $('#ClassPanel').hide();
        var item = $(e.item);
        if ($(item).attr('id') == 'ClassID') {
            $('#ClassIDOld').val($('#ClassID').val());
            $("#HiddenPanel #ClassID").val(treeView().getItemValue(item));
            $("#EducationLevelID").val($(item).closest('ul').prev().find(".t-input").val());
        } else {
            $('#HiddenPanel #ClassID').val('0');
            smas.hideProcessingDialog();
            $('#lstResult').html('');
            $('#ClassChoiceID #strClassNameID').html('[Chọn lớp]');
            return;
        }

        var classid = $('#HiddenPanel #ClassID').val();
        var className = "";
        if (classid == 0) {
            className = "";
            isLoadEducation = true;
        }
        else {
            var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
            $('#ClassChoiceID #strClassNameID').html(temp);
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "LỚP " + $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            else {
                className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            isLoadEducation = false;
        }
        $('#ClassNameTitle').html(className);
        $('#strTitle').html('QUẢN LÝ KHEN THƯỞNG ' + className);
        var semesterID = $('#Semester').val();
        LoadGrid();
    }
    function LoadGrid() {
        var classID = $('#HiddenPanel #ClassID').val();
        var semester = $('#Semester').val();
        if (classID > 0) {
            $.ajax({
                url: '@Url.Action("AjaxLoadGrid","EvaluationReward")',
                data: { ClassID: classID, SemesterID: semester},
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $('#lstResult').html(msg);
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }
        else {
            smas.hideProcessingDialog();
        }
    }
    function SelectClass() {
        $('#ClassPanel').show();
    }
    $(document).keydown(function (event) {
        if ($("#content").hasClass("fullscreen")) {
            if ((event.which == 91) || (event.ctrlKey == true && (event.which == '61' || event.which == '107' || event.which == '173' || event.which == '109' || event.which == '187' || event.which == '189'))) {
                event.preventDefault();
            }
        }
    });

    $(window).bind('mousewheel DOMMouseScroll', function (event) {
        if ($("#content").hasClass("fullscreen")) {
            if (event.ctrlKey == true) {
                event.preventDefault();
            }
        }
    });
    function FullScreen(btn) {
        $('.page').toggleClass('page-fullscreen', 200, "easeOutExpo", function () {

            if ($('.page').hasClass("page-fullscreen")) {
                $(btn).val('@Html.Raw(Res.Get("Common_Button_ZoomOut"))');
            }
            else {
                $(btn).val('@Html.Raw(Res.Get("Common_Button_ZoomIn"))');
            }
        });

    };
    function DeleteReward() {
        var classID = $('#HiddenPanel #ClassID').val();
        var semesterID = $('#HiddenPanel #Semester').val();
        var arrPupiID = '';
        var pupilID = '';
        $('#GridEvaluationReward').find('input[id*="chk_"]').each(function () {
            if ($(this).is(':checked')) {
                pupilID = $(this).attr('defaultID');
                arrPupiID += pupilID + ',';
            }
        });
        if (arrPupiID == '') {
            smas.alertColor('Thầy/cô chưa chọn học sinh', 'red');
            return;
        }
        $.ajax({
            url: '@Url.Action("DeleteReward", "EvaluationReward")',
            type: 'post',
            data: { ClassID: classID, SemesterID: semesterID, SubjectID: subjectID, arrPupilID: arrPupiID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.alert(msg.Message);
                smas.hideProcessingDialog();
                LoadGrid();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
    function SetIDListSubmit() {
        var i = 0;
        var tmp = '';
        $('#GridEvaluationReward .cRewardID').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].RewardID', 'lstRewardPupilContent[' + i + '].RewardID'));
            i++;
        });

        i = 0;
        $('#GridEvaluationReward .cContent').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].Content', 'lstRewardPupilContent[' + i + '].Content'));
            i++;
        });

        i = 0;
        $('#GridEvaluationReward .cChecked').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].isChecked', 'lstRewardPupilContent[' + i + '].isChecked'));
            i++;
        });

        i = 0;
        $('#GridEvaluationReward .cPupilID').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].PupilID', 'lstRewardPupilContent[' + i + '].PupilID'));
            i++;
        });

        i = 0;
        $('#GridEvaluationReward .cEvaluationRewardID').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].EvaluationRewardID', 'lstRewardPupilContent[' + i + '].EvaluationRewardID'));
            i++;
        });

        i = 0;
        $('#GridEvaluationReward .cOrderID').each(function () {
            $(this).attr('name', $(this).attr('name').replace('lstRewardPupilContent[].OrderID', 'lstRewardPupilContent[' + i + '].OrderID'));
            $(this).val(i);
            i++;
        });
    }
    function LoadReward() {
        LoadSystemComment();
        LoadEmployeeComment();
    }
    function LoadSystemComment() {
        var typeSystemID = $('#typeSystemID').val();
        var typeEmployeeID = $('#typeTeacherID').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadSystemReward", "EvaluationReward")',
            type: 'post',
            data: { TypeSystemID: typeSystemID, TypeEmployeeID: typeEmployeeID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstSystemRewardID').html(msg);
                smas.hideProcessingDialog();

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
    function LoadEmployeeComment() {
        var typeID = $('#typeTeacherID').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadEmployeeReward", "EvaluationReward")',
            type: 'post',
            data: { TypeID: typeID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstEmployeeRewardID').html(msg);
                LoadSystemComment();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
    $(document).keyup(function (e) {
        var item = $(e.target).attr('id');
        var typeID = $('#' + item).attr('TypeID');
        var note = $('#' + item).parent().find('.CommentDiv').find('td[class="t-state-selected"]').closest('tr');
        if (e.keyCode == 38 || e.keyCode == 40) {
            if (e.keyCode == 38)//prev
            {
                var pos = $(note).prev();
                if ($(pos).length > 0) {
                    $('#' + item).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
                    $(note).prev().find('td').attr('class', 't-state-selected');
                }
            }
            else {//next
                var pos = $(note).next();
                if ($(pos).length > 0) {
                    $('#' + item).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
                    $(note).next().find('td').attr('class', 't-state-selected');
                }
            }
        }
        else if (e.keyCode == 13) {//enter
            var pos = $('#' + item).parent().find('.CommentDiv').find('td[class="t-state-selected"]');
            if ($(pos).length > 0) {
                $('#' + item).val($(note).find('td').html());
                $('#' + item).parent().find('.CommentDiv').hide();
                $('#' + item).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
            }
        }
        else {
            var itemVal = $('#' + item).val();
            var posShow = $('#' + item).parent().find('.CommentDiv');
            $(posShow).html('');
            var count = 0;
            var isSelected = 0;
            var breakout = 0;
            if (itemVal != '' && (arrAutocomlete != '' || arrAutocomlete != null || arrAutocomlete != 'null')) {
                var htmlAppend = '<table style="border:1px solid #a7bac5">';
                for (var i = 0; i < arrAutocomlete.length; i++) {
                    if (breakout == 5) {
                        break;
                    }
                    var objAutocomlete = arrAutocomlete[i];
                    if (objAutocomlete.TypeID == typeID) {
                        if (objAutocomlete.CommentCode.toUpperCase().indexOf(itemVal.toUpperCase()) >= 0
                        || objAutocomlete.Comment.toUpperCase().indexOf(itemVal.toUpperCase()) >= 0) {
                            breakout++;
                            if (isSelected == 0) {
                                htmlAppend += '<tr><td style="border-bottom:0.1px solid #a7bac5" onclick="OnSelectItem(this)" class="t-state-selected" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)">' + objAutocomlete.Comment;
                                isSelected = 1;
                            }
                            else {
                                htmlAppend += '<tr><td style="border-bottom:0.1px solid #a7bac5" onclick="OnSelectItem(this)" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)">' + objAutocomlete.Comment;
                            }
                            htmlAppend += '</td></tr>';
                            count++;
                        }

                    }
                }
                htmlAppend += '</table>';
                if (count > 0) {
                    $(posShow).append(htmlAppend);
                    $(posShow).show();
                }
            }
        }
    });
    function OnSelectItem(item) {
        var htmlItem = $(item).html();
        $(item).closest('div[class="CommentDiv"]').parent().find('textarea').val(htmlItem);
        $(item).closest('div[class="CommentDiv"]').hide();
    }
    function MouseOver(item) {
        $(item).addClass('OverForLi');
    }
    function MouseOut(item) {
        $(item).removeClass("OverForLi");
    }

    function AddColumn(pupilID) {
        var countID = $('#GridEvaluationReward').find('#tblselect_' + pupilID).find('tr').length;
        if (countID > 9) {
            smas.alertColor("Số lượng khen thưởng của học sinh không được > 10", "red");
            return;
        }
        var strhtml = '<tr id="' + countID + '"><td style="height:31px;border-top:1px solid #a7bac5;">';
        strhtml += '<select style="width:96%;margin-left:5px;" onclick="EnabledText(this)" defaultval="' + countID;
        strhtml += '" name="lstRewardPupilContent[].RewardID" class="cRewardID">';
        strhtml += '<option value="0">[Lựa chọn]</option><option value="1">Khen thưởng đột xuất</option><option value="2">Học sinh có thành tích vượt trội</option>';
        strhtml += '</select>';
        strhtml += '<input type="hidden" value="' + pupilID;
        strhtml += '" class="cPupilID" name="lstRewardPupilContent[].PupilID" style="display:none;" />';
        strhtml += '<input type="hidden" value=""';
        strhtml += ' class="cOrderID" name="lstRewardPupilContent[].OrderID" style="display:none;" />';
        strhtml += '<input type="hidden" value=""';
        strhtml += ' class="cEvaluationRewardID" name="lstRewardPupilContent[].EvaluationRewardID" style="display:none;" />';
        strhtml += '</td></tr>';
        $('#GridEvaluationReward').find('#tblselect_' + pupilID).find('tr').last().after(strhtml);

        strhtml = '';
        strhtml = '<tr class="trContent" id="' + countID + '"><td style="height:31px;border-top:1px solid #a7bac5;">';
        strhtml += '<textarea style="width:100%;height:31px;border:none;" disabled="disabled" defaultval="' + countID;
        strhtml += '" maxlength="150" id="CommentReward_' + pupilID + "_" + countID;
        strhtml += '" name="lstRewardPupilContent[].Content" TypeID="0" class="cContent"></textarea>';
        strhtml += '<div class="CommentDiv" style="display: none; position: absolute; background: ghostwhite;"></div>';
        strhtml += '</td></tr>';
        $('#GridEvaluationReward').find('#tbltxt_' + pupilID).find('tr[class*="trContent"]').last().after(strhtml);

        strhtml = '';
        strhtml = '<tr id="' + countID + '"><td style="height:31px;text-align:center;border-top:1px solid #a7bac5;">';
        strhtml += '<label class="custom-checkbox"><input type ="checkbox" id="chk_';
        strhtml += pupilID + '" name="lstRewardPupilContent[].isChecked"';
        strhtml += ' checked ="checked" name="lstRewardPupilContent[].isChecked" class="cChecked" value="True" defaultID ="' + pupilID + '" onchange ="OneChecked(this);"/>';
        strhtml += '<span class="checkmark"></span></label></td></tr>';
        $('#GridEvaluationReward').find('#tblCheckbox_' + pupilID).find('tr').last().after(strhtml);


        strhtml = '';
        strhtml = '<tr id="' + countID + '"><td style="text-align:center;border-top:1px solid #a7bac5;height:31px">';
        strhtml += '<input type="button" style="cursor: pointer;" class="Evaluation_Reward_Remove-button" onclick ="RemoveColumn(' + pupilID + ',' + countID + ');"/>';
        strhtml += '</td></tr>';
        $('#GridEvaluationReward').find('#tblbutton_' + pupilID).find('tr').last().after(strhtml);
    }
</script>