﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DishInspectionArea
@using SMAS.Web.Areas.DishInspectionArea.Models
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("DishInspection_Label_Create");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DishInspectionViewModel
<style type="text/css">
   #frmCreate .vt-control{width:48%}
</style>
@using (Ajax.BeginForm("Create",
                       "DishInspection",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" })
)
{
    <fieldset>
        <legend>
            @Res.Get("Common_Label_GeneralInfo")
        </legend>
        @Html.AntiForgeryToken()
        <div class="vt-control">
            <div class="editor-label">
                @Html.ViettelLabelFor(u => u.InspectedDate)
                <span style="color: red;">*</span>
                <input type="hidden" name="id" value="@Model.DishInspectionID"/>
            </div>
            <div class="editor-field">
                @*@Html.Telerik().DatePicker().Name("InspectedDate").Value(DateTime.Now).Format("dd/MM/yyyy").ClientEvents(u => u.OnChange("InspectDate_Changing")).Max(DateTime.Now).InputHtmlAttributes(new { @ref = "create" })*@
                @Html.Telerik().DatePicker().Name("InspectedDate").Value(DateTime.Now).Format("dd/MM/yyyy").ClientEvents(u => u.OnChange("InspectDate_Changing")).InputHtmlAttributes(new { @ref = "create" })
            </div>
        </div>
        @Html.ViettelComboboxFor(u => u.EatingGroupID, Res.Get("EatingGroup_Label_AllTitle"), (SelectList)ViewData[DishInspectionConstants.LIST_EATING_GROUP], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "create" } }, true)
        @Html.ViettelComboboxFor(u => u.MenuType, Res.Get("DishInspection_Label_MenuType"), (SelectList)ViewData[DishInspectionConstants.LIST_MENU_TYPE], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "create" } }, true)
        @Html.ViettelComboboxFor(u => u.DailyMenuID, Res.Get("DailyMenu_Label_DailyMenuCode"), (SelectList)ViewData[DishInspectionConstants.LIST_DAILY_MENU], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "create" } }, true)
        @Html.ViettelTextboxFor(u => u.NumberOfChildren, Res.Get("DishInspection_Label_NumberOfChildren"), new Dictionary<string, object> { { "ref", "create" }, {"style", "height: 22px;"} }, true)
        <input type="hidden" id="DailymenuCode" name="DailyMenuName" />
    </fieldset>
    <fieldset>
        <legend>
            @Res.Get("DishInspection_Label_DailyMenuDetail")
        </legend>
        <div class="t-widget t-grid" id="GridDailyMenuDetail" ref="create">
            @Html.Partial("_GridDailyMenuDetail")
        </div>
    </fieldset>
    <div class="dialog-buttons">
        @*@Html.ViettelButton(Res.Get("DailyMenu_Label_Food"), "button", "OpenFoodView();", "t-state-disabled"
                            , "btnFood", "")*@
        @Html.ViettelButton(Res.Get("DailyMenu_Label_Food")
                            , new Dictionary<string,object> (2) {{"disabled","disabled"},{"id", "btnFood"}}
                            , "button"
                            , "OpenFoodView();"
                            , "t-state-disabled")
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
        <a href="@Url.Action("Index", "DishInspection")">
            @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "", "")
        </a>
    </div>
}
<script type="text/javascript">
    $(function () {
        $("#DailymenuCode").val($("#DailyMenuID option:selected").text());
        $("#DailyMenuID").change(function () {
            $("#DailymenuCode").val("");
            var DailyMenuID = $("#DailyMenuID option:selected").text();
            $("#DailymenuCode").val(DailyMenuID);
        })

    })
    function OpenFoodView() {
        var inspecteddate = $("#InspectedDate").val().replace("/", "-");
        inspecteddate = inspecteddate.replace("/", "-");
        var dailymenuid = $("#DailyMenuID").val();
        var numberofchildren = $("#NumberOfChildren").val();
        var menutype = $("#MenuType").val();
        var eatinggroupid = $("#EatingGroupID").val();
        window.location = "/DishInspectionArea/DishInspection/Food?date=" + inspecteddate + "&dailymenuid=" + dailymenuid + "&numberofchildren=" + numberofchildren + "&eatinggroupid=" + eatinggroupid + "&type=@DishInspectionConstants.FOOD_ACTION_TYPE_CREATE";
    }
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            //formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            $("#btnFood").removeClass("t-state-disabled");
            $("#btnFood").removeAttr("disabled");
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function LoadDailyMenu(ref) {
        var egID = $("select[id='EatingGroupID'][ref='" + ref + "']").val();
        var mtID = $("select[id='MenuType'][ref='" + ref + "']").val();

        if (egID > 0 && mtID > 0) {
            $.ajax({
                url: '@Url.Action("LoadDailyMenu", "DishInspection")',
                type: 'post',
                data: { eatingGroupID: egID, menuType: mtID },
                success: function (data) {
                    $("select[id='DailyMenuID'][ref='" + ref + "']").find('option').remove();
                    $.each(data, function (index, value) {
                        $("select[id='DailyMenuID'][ref='" + ref + "']").append($("<option></option>").attr("value", value.key).text(value.value));
                        LoadDailyMenuDetail(ref);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            alert('Common_Label_Error_Parameter');
        }
    }

    function InspectDate_Changing(e) {
        CountChildrenEating(e.currentTarget.attributes.ref.value);
    }

    function CountChildrenEating(ref) {
        var egID = $("select[id='EatingGroupID'][ref='" + ref + "']").val();
        var mtID = $("select[id='MenuType'][ref='" + ref + "']").val();
        var pDate = $("input[id='InspectedDate'][ref='" + ref + "']").val();
        if (egID > 0 && mtID > 0) {
            $.ajax({
                url: '@Url.Action("CountChildrenEating", "DishInspection")',
                type: 'post',
                data: { date: pDate, eatingGroupID: egID, menuType: mtID },
                success: function (data) {
                    $("input[id='NumberOfChildren'][ref='" + ref + "']").val(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    function EmptyDailyMenuDetailGrid(ref) {
        $("div[id='GridDailyMenuDetail'][ref='" + ref + "']").find("table tbody tr").remove();
    }

    function LoadDailyMenuDetail(ref) {
        var dmID = $("select[id='DailyMenuID'][ref='" + ref + "']").val();
        EmptyDailyMenuDetailGrid(ref);
        if (dmID > 0) {
            $.ajax({
                url: '@Url.Action("LoadDailyMenuDetail", "DishInspection")',
                type: 'post',
                data: { dailyMenuID: dmID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    $("div[id='GridDailyMenuDetail'][ref='" + ref + "']").html(data);
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    $(document).ready(function (e) {
        CountChildrenEating("create");
        $("input[id='InspectedDate']").change(function () {
            var ref = $(this).attr("ref");
            CountChildrenEating(ref);
        });

        $("select[id='EatingGroupID']").change(function () {
            var ref = $(this).attr("ref");
            LoadDailyMenu(ref);
            EmptyDailyMenuDetailGrid(ref);
            CountChildrenEating(ref);
        });

        $("select[id='MenuType']").change(function () {
            var ref = $(this).attr("ref");
            LoadDailyMenu(ref);
            CountChildrenEating(ref);
        });

        $("select[id='DailyMenuID']").change(function () {
            var ref = $(this).attr("ref");
            LoadDailyMenuDetail(ref);
        });

        $('#NumberOfChildren').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
    });
</script>
