﻿
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Areas.LearningResultReportArea

<script type="text/javascript">
    $(document).ready(function () {
        $(".t-arrow-down").each(function () {
           
            $(this).closest(".t-header").css({ 'border': 'none', 'background': 'white' });
            $(this).closest(".t-combobox").css({ 'border': 'none', 'background': 'white' });
            $("#EmployeeID-input").css({})
        });

       
    }); 
    function CbEmployeeChange() {
        var combobox = $(this).data('tComboBox');
        var dataArr = combobox.data;
        var idArr = [];
        for (i = 0; i < dataArr.length; i++) {
            if (dataArr[i].Value != "") {
                idArr.push(dataArr[i].Value);
            }
        }
        var inputed = combobox.value();
        if (idArr.indexOf(inputed) == -1) {
            combobox.dataBind(dataArr);
            combobox.select(0);
        }
   
    }
    $('#TeacherID-input').focusout(function () {
        if ($('#TeacherID-input').val() == "") {
            var combobox = $('#TeacherID').data('tComboBox');
            var dataArr = combobox.data;
            var idArr = [];
            for (i = 0; i < dataArr.length; i++) {
                if (dataArr[i].Value != "") {
                    idArr.push(dataArr[i].Value);
                }
            }
            var inputed = combobox.value();
            if (idArr.indexOf(inputed) == -1) {
                combobox.dataBind(dataArr);
                combobox.select(0);
            }
        }
    });
</script>
<div class="vt-control">
    <div class="editor-label">@Html.ViettelLabel(Res.Get("Common_Label_Teacher")) <span style="color: red">*</span></div>
    <div class="editor-field custom-select">
        @(Html.Telerik().ComboBox().BindTo(new SelectList((IEnumerable<ComboObject>)ViewData[LearningResultReportConstants.LIST_TEACHER], "key", "value"))
                            .AutoFill(false)
                            .Placeholder(Res.Get("CHOICE"))
                            .Name("TeacherID")
                            .SelectedIndex(0)
                            .ClientEvents(events => events.OnChange("CbEmployeeChange"))
                            .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.Contains))
 )
        <label>
                            @Html.ViettelLabel(Res.Get("SubjectStatisticReport_Label_EmployeeHint"))
                        </label>
    </div>
</div>