@model ConcurrentWorkReplacementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ConcurrentWorkReplacementArea.Models
@using SMAS.Web.Areas.ConcurrentWorkReplacementArea

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), new Dictionary<string, object> { { "id", "btnCreate" } }, "button", "PrepareCreate();", "")
        </div>
        <div class="Clear" ></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ConcurrentWorkReplacementViewModel>)ViewData[ConcurrentWorkReplacementConstants.LIST_CONCURRENTWORKREPLACEMENT])
            .Name("GridConcurrentWorkReplacement")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

                c.Bound(o => o.ConcurrentWorkTypeName).Sortable(true).Visible(true);
                c.Bound(o => o.TeacherName).Sortable(true).Visible(true);
                c.Bound(o => o.ReplacedTeacherName).Sortable(true).Visible(true);
                c.Bound(o => o.FromDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Sortable(true);
                c.Bound(o => o.ToDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Sortable(true);
                c.Bound(o => o.Description).Sortable(true).Visible(true);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ConcurrentWorkReplacement")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(20);


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "ConcurrentWorkReplacement")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


                }).Title(Res.Get("Common_Column_Delete")).Width(20);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "ConcurrentWorkReplacement")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.ConcurrentWorkReplacementID))
            .Pageable(p => p.PageSize(Config.PageSize))
            .Sortable()
            .Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();
                      
    }


    @(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ConcurrentWorkReplacement_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(320)
)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @if (SessionObject.GetBool(SMAS.Web.Constants.GlobalConstants.IsCurrentYear))
        {
            <text>
        $("#btnCreate").removeAttr("disabled");
        $("#btnCreate").removeClass("t-state-disabled");
            </text>
        }
        else
        {
            <text>
        $("#btnCreate").attr("disabled", "disabled");
        $("#btnCreate").addClass("t-state-disabled");
            </text>
        }
    });
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridConcurrentWorkReplacement').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            frmId = "frmEdit";

            controlUtils.loadComboBox(
                $("#" + frmId + " #ReplacedTeacherID"),
                '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkReplacement")',
                { SchoolFacultyID: item.SchoolFacultyID },
                '@Res.Get("SelectRK")',
                SetReplacedTeacherID,
                item.ReplacedTeacherID
            );

                controlUtils.loadComboBox(
                    $("#" + frmId + " #TeacherID"),
                    '@Url.Action("AjaxLoadAsignedTeacher", "ConcurrentWorkReplacement")',
                { ConcurrentWorkTypeID: item.ConcurrentWorkTypeID },
                '@Res.Get("SelectRK")',
                SetTeacherID,
                item.TeacherID
            );
                smas.openDialog("editDialog", "", {});
            }

            if (e.name == "vtDelete") {
                e.preventDefault();
                var item = e.dataItem;
                if (confirm('@Html.Raw(Res.Get("Common_Label_Confirm"))')) {
                    smas.post('@Url.Action("Delete")', { id: item.ConcurrentWorkReplacementID }, search, null);
                }
            }
        }
        function PrepareCreate() {
            formUtils.resetForm("createDialog");
            smas.openDialog("createDialog", "", {});
        }

        function SetReplacedTeacherID(val) {
            $("#frmEdit #ReplacedTeacherID").val(val);

        }

        function SetTeacherID(val) {
            $("#frmEdit #TeacherID").val(val);

        }

        function search() {

            $("#lstConcurrentWorkReplacement").load(
                '@Url.Action("Search", "ConcurrentWorkReplacement")',
            {}

        );
    }
</script>



