				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ConcurrentWorkReplacementArea.Models

@{
    ViewBag.Title = Res.Get("ConcurrentWork_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Url(Url.RouteUrl("ConcurrentWorkAssignmentArea_default", new { controller = "ConcurrentWorkAssignment", action = "Index" }))
                .Text(Res.Get("ConcurrentWorkAssignment_Label"))
                .Content(" ");
            
            tabstrip.Add()
                .Text(Res.Get("ConcurrentWorkReplacement_Label"))
                .Content(@<text>
                    <div id="lstConcurrentWorkReplacement">
                        @Html.Partial("_List")
                    </div>
                </text>);
        })
        .SelectedIndex(1)
        .Render();
}

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ConcurrentWorkReplacement_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(400)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ConcurrentWorkReplacement_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(320)
)

<script type="text/javascript">
    function AjaxLoadReplacedTeacher(cboSchoolFacultyID) {
        frmId = $(cboSchoolFacultyID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ReplacedTeacherID"),
            '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkReplacement")',
            { SchoolFacultyID: $(cboSchoolFacultyID).val() },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadAsignedTeacher(cboConcurrentWorkTypeID) {
        frmId = $(cboConcurrentWorkTypeID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadAsignedTeacher", "ConcurrentWorkReplacement")',
            { ConcurrentWorkTypeID: $(cboConcurrentWorkTypeID).val() },
            '@Res.Get("SelectRK")'
        );
    }
</script>