﻿@model int
@using Telerik.Web.Mvc.UI
@using System.Collections

<div>
    <table>
        <tr>
            <td>
                <div style="width: 100%;">
                    <div style="text-align:center;margin-bottom:10px">
                        <img src="@Url.Content("~/Content/images/alert-warning.png")" width="90" alt=""/>
                    </div>
                    <div style="text-align:center">
                        <span id="Message">Thông tin đăng ký sau khi hủy sẽ không được khôi phục.<br /><br/>Thầy cô có thực sự muốn hủy không?</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: center; width: 100%;margin-top:10px;">
                    <input type="button" class="btn btn-info btn-round " value="Không" id="NoButton" onclick="smas.closeDialog('CancelPopup')"/>
                    <input type="button" class="btn btn-basic btn-round " value="Hủy" id="CancelButton" onclick="cancelRegist(@Model)" />
                    </div>
            </td>
        </tr>
    </table>
</div>
