﻿@model List<BrandnameRegisListViewModel>
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string contractNumberPrefix = string.Format("{0}/VT-", DateTime.Now.Date.ToString("ddMMyyyy"));
}
@section style{
    @System.Web.Optimization.Styles.Render("~/bundles/BrandnameRegistrationCss")
}
<style>
   
</style>
<div class="vt-ResultPanel" style="padding-top:30px">
    <div>
        <div style="text-align:right">
            <input type="button"class="btn btn-info btn-round" value="Đăng ký" onclick="openRegistPopup()" />
        </div>
        <div style="margin-bottom:5px"><a href="@Url.Action("Policy")" target="_blank">Điều khoản sử dụng dịch vụ</a></div>
        <div class="Clear"></div>
    </div>
    <div id="dataGrid">
        @Html.Partial("_DataGrid", Model)
    </div>
    

    @section script{
        @System.Web.Optimization.Scripts.Render("~/bundles/BrandnameRegistration")
    }
</div>

@(Html.Telerik().Window()
                .Name("RegistPopup")
                .Title("Đăng ký Brandname")
                .Content(@<text>@String.Empty</text>)
                .Buttons(buttons => buttons.Clear())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .ContentHtmlAttributes(new { style="min-width: 760px;"})
                .HtmlAttributes(new { @class = "brandname-registration-regist-window" })
)

@(Html.Telerik().Window()
                .Name("ExtendPopup")
                .Title("Gia hạn đăng ký Brandname")
                .Content(@<text>@String.Empty</text>)
                .Buttons(buttons => buttons.Clear())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .ContentHtmlAttributes(new { style="min-width: 760px;"})
)

@(Html.Telerik().Window()
                .Name("UpdatePopup")
                .Title("Cập nhật đăng ký Brandname")
                .Content(@<text>@String.Empty</text>)
                .Buttons(buttons => buttons.Clear())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .ContentHtmlAttributes(new { style="min-width: 760px;"})
                .HtmlAttributes(new { @class = "brandname-registration-update-window" })
)

@(Html.Telerik().Window()
                .Name("CancelPopup")
                .Title("Cập nhật đăng ký Brandname")
                .Content(@<text>@String.Empty</text>)
                .Buttons(buttons => buttons.Clear())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Height(103)
                .Width(340)
                .ContentHtmlAttributes(new { style="min-width: 500px;"})
)
<script type="text/javascript">
    var urlRegist = '@Url.Action("Regist")';
    var urlExtend = '@Url.Action("Extend")';
    var urlSearch = '@Url.Action("Search")';
    var urlUpdate = '@Url.Action("Update")';
    var urlCancel = '@Url.Action("Cancel")';
    var contractNumberPrefix = '@contractNumberPrefix';
</script>