﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.PupilRankingOfSemesterArea.Models
@using SMAS.Web.Areas.PupilRankingOfSemesterArea
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
@using SMAS.Models.Models
@model IEnumerable<PupilRankingBO>
@{
    IHtmlString gdtxAboveAgeStyle = Html.Raw("style='color: green'");
    IHtmlString redStyle = Html.Raw("style='color: red'");
    GlobalInfo global = new GlobalInfo();
    int semesterID = (int)ViewData[PupilRankingOfSemesterConstants.SEMESTER_ID];
    bool isConfigConduct = ViewData[PupilRankingOfSemesterConstants.IS_CONFIG_RANKING] != null ? (bool)ViewData[PupilRankingOfSemesterConstants.IS_CONFIG_RANKING] : false;
    string strSemesterName = semesterID > SystemParamsInFile.SEMESTER_OF_YEAR_SECOND ? "Cả năm" : semesterID == SystemParamsInFile.SEMESTER_OF_YEAR_FIRST ? "Học kỳ I" : "Học kỳ II";
    int appliedLevel = global.AppliedLevel.Value;
    string btnclass = "";
    string disabled = (string)ViewData[PupilRankingOfSemesterConstants.BUTTON];

    if (disabled == "disabled")
    {
        btnclass += " t-state-disabled";
    }
    bool isHK2ToAll = false;
    if (ViewData[PupilRankingOfSemesterConstants.ISHK2TOALL] != null)
    {
        isHK2ToAll = (bool)ViewData[PupilRankingOfSemesterConstants.ISHK2TOALL];
    }

    bool isRetraning = false;
    if (ViewData[PupilRankingOfSemesterConstants.IS_RETRANING] != null)
    {
        isRetraning = (bool)ViewData[PupilRankingOfSemesterConstants.IS_RETRANING];
    }

    int widthRetraning = isRetraning ? 0 : 125;

    List<int> listLearningType = new List<int>() { SystemParamsInFile.PUPIL_LEARNING_TYPE_SELF_LEARNING, SystemParamsInFile.PUPIL_LEARNING_TYPE_WORKING_AND_LEARNING };
}
@using (Ajax.BeginForm("InsertRanking",
                           "PupilRankingOfSemester",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstPupilRankingOfSemester",
                               OnBegin = "InsertRankingOnbegin",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
        @Html.AntiForgeryToken()
    <input type ="hidden" id ="hdfComment" name ="hdfComment" />
    <div id="valueField">
    </div>
    <div>
        @if (Model != null)
        {
            <div class="mg-b-10 mg-t-10 text-right">
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object>() { }, "button", "exportReport()", "btn btn-info btn-round btn-icon btn-icon-excel mg-r-5")
                @if (isConfigConduct)
                {
		     
                    @Html.ViettelButton(Res.Get("Common_Button_Ranking"), new Dictionary<string, object> { { "disabled", "disabled" } }, "button", "", "btn btn-info btn-round mg-r-5 t-state-disabled")
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "disabled", "disabled" } }, "button", "", "btn btn-info btn-round t-state-disabled")
                }
                else
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Ranking"), new Dictionary<string, object>() { { disabled, "" } }, "button", "ajaxSearch(1)", "btn btn-info btn-round mg-r-5" + btnclass)
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { disabled, "" } }, "submit", "btnSave", "btn btn-info btn-round" + btnclass)
                }
            </div>
        }
            
        
        @{
        var index = 1;
        DateTime? semesterEnddate = (DateTime?)ViewData[PupilRankingOfSemesterConstants.SEMESTER_END_DATE];
        Html.Telerik()
            .Grid(Model)
            .Name("GridFault")
            .Columns(c =>
            {
                c.Template(@<text>
            <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @(index++)</label>
            </text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(38);

                // Cột tên học sinh
                c.Template(@<text>
            <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.FullName</label>
            </text>).Title(Res.Get("PupilProfile_Label_FullName")).HtmlAttributes(new { style = "text-align:left" }).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(150);

                // Cột số ngày nghỉ có phép
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.TotalAbsentDaysWithPermission</label>
            }</text>).Title(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("PupilRanking_Label_TotalAbsentDaysP"), 2)).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:center", @class = "double-title" }).Width(70);

                // Cột số ngày nghỉ không phép
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.TotalAbsentDaysWithoutPermission</label>
            }</text>).Title(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("PupilRanking_Label_TotalAbsentDaysK"), 3)).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { @class = "double-title", style = "text-align:center" }).Width(85);

                // Cột điểm cộng
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.sumConductMark</label>
            }</text>).Title(Res.Get("PupilRanking_Column_ConductMark")).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { @class = "double-title", style = "text-align:center" }).Width(75);

                // Cột điểm trừ
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.sumConductMinusMark</label>
            }</text>).Title(Res.Get("PupilRanking_Column_ConductMinusMark")).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { @class = "double-title", style = "text-align:center" }).Width(75);

                //Cột điểm vi phạm
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.sumTotalPenalizedMark</label>
            }</text>).Title(Res.Get("PupilRanking_Column_PenalizedMark")).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { @class = "double-title", style = "text-align:center" }).Width(70);

                // Cột tổng kết
                c.Template(@<text>
            @if (item.IsShow)
            {
                <label @(((item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsKXLHK) ? gdtxAboveAgeStyle : (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING || item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED) ? null : redStyle))>
                @item.TotalMark</label>
            }</text>).Title(SMAS.Web.Utils.Utils.ConvertTitle2Display(Res.Get("PupilRanking_Column_TotalMark"), 1)).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(50);
                if (semesterID != GlobalConstants.SEMESTER_OF_YEAR_ALL)
                {
                    c.Template(@<text>
                @if (item.IsShow)
                {
                    if (!isRetraning)
                    {
                        if (item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_STUDYING)
                        {
                        <input type ="text" class ="PupilComment" oninput ="txtKeyup(this)" style ="width:118px;height:22px;" maxlength ="200" name = "@("PupilComment_" + item.PupilID)"
                        value ="@item.Comment" />
                        }
                        else
                        {
                        <label @(item.ProfileStatus == SystemParamsInFile.PUPIL_STATUS_GRADUATED ? null : redStyle)>
                            @item.Comment
                            </label>
                        }
                    }

                }</text>).HeaderTemplate(@<text>
                                    <table>
                                        <tr>
                                            <td>
                                                <div style ="text-align:center;">Nhận xét đánh giá</div>
                                                <div style ="float:right;">
                                                    <label >Toàn lớp</label>
                                                    <label class="custom-checkbox">
                                                        <input type ="checkbox" id ="chkAll" onchange ="TextboxChangeCap(this)" name ="chkAll"/>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        
                                        </tr>
                                    </table>
                                </text>)
                                .HtmlAttributes(new { style = "text-align:left;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(widthRetraning);
                }
                // Cột hạnh kiểm
                c.Template(@<text>
            @if (!item.IsKXLHK && item.IsShow)
            {
                <select ref="1" name='@("ConductLevel_" + @item.PupilID)' id='@("ConductLevel_" + @item.PupilID)'
                style="width: 98%" @(item.ProfileStatus != SystemParamsInFile.PUPIL_STATUS_STUDYING ? "disabled='disabled'" : "")>
                <option value>@Res.Get("Common_Combo_Choose")</option>
                @foreach (var conduct in (List<ConductLevel>)ViewData[PupilRankingOfSemesterConstants.LIST_CONDUCT])
                {
                    <option value="@conduct.ConductLevelID" @(item.ConductLevelID.HasValue && item.ConductLevelID == conduct.ConductLevelID ? " selected='selected' " : "")
                    >
                    @(conduct.Resolution.ToLower().Equals(Res.Get("Common_Label_ConductGood").ToLower()) ? "T" :
                    conduct.Resolution.ToLower().Equals(Res.Get("Common_Label_ConductFair").ToLower()) ? "K" :
                     conduct.Resolution.ToLower().Equals(Res.Get("Common_Label_ConductNormal").ToLower()) || conduct.Resolution.ToLower().Equals("tb") ? "TB" :
                    "Y")
                </option>
                }
            </select>
            }</text>).Title(Res.Get("PupilConductByViolation_Column_Conduct")).HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);
            })
            .DataKeys(u => u.Add(o => o.PupilRankingID))
            .Sortable()
            .Resizable(o => o.Columns(true))
            .Scrollable(o => o.Enabled(true).Height(400))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();
        }
    </div>
        if (Model != null)
        {
    
    <div class ="Clear"></div>
            if (isConfigConduct)
            {
	    <span>
            <span style ="font-weight:bold;">Lưu ý:</span><span style ="color:red;"> Hạnh kiểm @strSemesterName hiện đang bị khóa.<br />
                    <span style ="margin-left:42px;">Thầy cô cần vào chức năng <a href ="/ConfigConductRankingArea/ConfigConductRanking/Index?Tab=1&Pro=6">Khóa hạnh kiểm</a>  để mở khóa trước khi cập nhật.</span>
                    </span>
	    </span>
            }
            if (isHK2ToAll)
            {        
        <text>
        <div style="color: Red;margin-left: 43px;">
            @Res.Get("PupilRankingOfSemester_Label_Semeser2ToAll")
        </div>
        </text>
            }
        }
}
<script type="text/javascript">
    //DungVA
    var textChangeFaultSemester = false;
    $(document).ready(function () {
        $("#valueField").html($("#hiddenPanel").html());
        controlUtils.AddMoveButtonEventDownOrUp("#GridFault");
    });

    function InsertRankingOnbegin() {
        //BOOMR.plugins.RT.startTimer("InsertRanking_PupilRankingOfSemester");   //--> bắt đầu đo
        smas.showProcessingDialog();
    }

    function CreateSuccess(msg) {
        textChangeFaultSemester = false;
        smas.alert(msg);
        if (msg.Type == "success") {
            //BOOMR.plugins.RT.endTimer("InsertRanking_PupilRankingOfSemester");  //--> kết thúc đo
            //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function ajaxSearch(ranking) {

        var Semester = $("#valueField").find("#Semester").val();
        var ClassID = $("#valueField").find("#ClassID").val();
//        alert("sid: "+Semester+", cid: "+ClassID+", rid: "+ranking);
        if (ClassID != 0) {
            if (textChangeFaultSemester) {
                smas.confirmProcess("Nhận xét đánh giá chưa được lưu vào CSDL. Nếu thực hiện xếp loại nhận xét sẽ bị mất. Thầy/cô có tiếp tục thực hiện không?", function () {
                    $.ajax({
                        url: '@Url.Action("LoadGrid", "PupilRankingOfSemester")',
                        type: 'post',
                        data: { ClassID: ClassID, Semester: Semester, ranking: ranking },
                        beforeSend: function () {
                            smas.showProcessingDialog();
                        },
                        success: function (data) {
                            smas.hideProcessingDialog();
                            $('#containerForGridOfConductRanking').html(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    })
                })
            }
            else {
                $.ajax({
                    url: '@Url.Action("LoadGrid", "PupilRankingOfSemester")',
                    type: 'post',
                    data: { ClassID: ClassID, Semester: Semester, ranking: ranking },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (data) {
                        smas.hideProcessingDialog();
                        $('#containerForGridOfConductRanking').html(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }
        }
    }
    function exportReport() {
        var Semester = $("#valueField").find("#Semester").val();
        var ClassID = $("#valueField").find("#ClassID").val();
        if(Semester != 0 && ClassID != 0)
        {
        window.open("@Url.Action("DownloadReport", "PupilRankingOfSemester")"+"?Semester="+Semester+"&ClassID="+ClassID);
        }
    }
    
    $('.t-grid-header .t-header:last').click(function(e){
            var position = $(this).offset();
            $("#BoxChoice").css({position:"absolute", left:position.left-170,display:"block",top:position.top-180,width:"100px","z-index":"1000"});
            $("#colMark").val($(this).closest("td").attr("id"));
    });
    $(document).click(function(event) { 
            
        if ($(event.target).closest(".t-header").html()==null || $(event.target).closest(".t-header").html()=="undefined")
        {
            $("#BoxChoice").css("display","none");
        }
    });
    function TextboxChange(chkAll) {
        var content = $('#GridFault').find('.t-grid-content').find('tr').find('.PupilComment').val();
        if (chkAll.checked) {
            var firstContent;
            $('#GridFault').find('.PupilComment').each(function (index) {
                if (index != 0) {
                    $(this).attr("disabled", "disabled");
                    $(this).css("background-color", "#EBEBE4");
                    $('#GridFault').find('.PupilComment').val(content);
                }
            });
            $('#hdfComment').val(content);
        }
        else {
            $('#GridFault').find('.PupilComment').each(function () {
                $(this).removeAttr("disabled", "disabled");
                $(this).css("background-color", "#FFF");
            });
        }
    }
    function txtKeyup(txtComment) {
        var content = $(txtComment).val();
        textChangeFaultSemester = true;
        if ($('#chkAll').is(':checked')) {
            $('#GridFault').find('.PupilComment:not(:first)').val(content);          
            $('#hdfComment').val(content);
        }
        else {
            trObject = $(txtComment).closest('tr');
            $('#hdfComment').val('');
        }
    }
//End DungVA
</script>
