﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilRankingOfSemesterArea.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PupilRankingOfSemesterArea
@{
    ViewBag.Title = @Res.Get("PupilRankingOfSemester_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("InsertRanking",
                           "PupilRankingOfSemester",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstPupilRankingOfSemester",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
        @Html.AntiForgeryToken()
    <fieldset>
        <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
        <table>
            <tr class="searchclass">
                <td style="width: 190px;">
                    @Html.ViettelCombobox(Res.Get("PupilConductByViolation_label_EducationLevel"), "EducationlevelID",
            ((IEnumerable<SelectListItem>)ViewData[PupilRankingOfSemesterConstants.LIST_EDUCATIONLEVEL]),
                    GlobalConstants.NO_PLACEHOLDER,
                          new Dictionary<string, object>() { { "onchange", "cboEducationLevelOnchange(this, this.options[this.selectedIndex].value);" }, { "style", "width: 100px" } }, false, false)
                </td>
                <td style="width: 190px;">
                    @Html.ViettelCombobox(Res.Get("PupilConductByViolation_label_Class"), "ClassID",
                           ((IEnumerable<SelectListItem>)ViewData[PupilRankingOfSemesterConstants.LIST_CLASS]),
                                       GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>() { { "onchange", "cboClassOnchange();" }, { "style", "width: 100px" } }, false, false)
                </td>
                <td style="width: 190px;">
                    @Html.ViettelCombobox(Res.Get("PupilConductByViolation_label_Semester"), "Semester",
                           ((IEnumerable<SelectListItem>)ViewData[PupilRankingOfSemesterConstants.LIST_SEMESTER]),
                               GlobalConstants.NO_PLACEHOLDER,
                                        new Dictionary<string, object>() { { "onchange", "cboSemesterOnchange();" }, { "style", "width: 100px" } }, false, false)
                </td>
                <td style="text-align: left;padding-left:50px;vertical-align:top;color:#133725">
                    @Res.Get("PupilConductByViolation_label_Warning") <br />

                    @Res.Get("PupilConductByViolation_label_Warning_Part1") <br />
                    @Res.Get("PupilConductByViolation_label_Warning_Part2")
                </td>
    
            </tr>
      
        </table>
               
        
   
    </fieldset>


    <div id="GridPupilRankingOfSemester">
    </div>



}
<script type="text/javascript">



    function cboEducationLevelOnchange(EducationLevelID, educationLevelID) {

        frmId = $(EducationLevelID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("GetClassList", "PupilRankingOfSemester")',
            { educationLevelID: educationLevelID },
            '@Res.Get("CHOICE")'
        )
        ;
    }

    function cboClassOnchange() {
    var Semester = $("#Semester").val();
    if(Semester != 0){
      ajaxSearch(0);
    }
   else{
//      alert('@Html.Raw(Res.Get("PupilRankingOfSemester_Error_Semester"))');
   }
    }


    function cboSemesterOnchange() {
    
        var Semester = $("#Semester").val();
        var ClassID = $("#ClassID").val();
        if(Semester != 0 && ClassID != 0 && ClassID != null ){
         ajaxSearch(0);
        }

    }


    function ajaxSearch(ranking) {
        var Semester = $("#Semester").val();
        var ClassID = $("#ClassID").val();
        if (ClassID != 0) {
            $.ajax({
                url: '@Url.Action("LoadGrid", "PupilRankingOfSemester")',
                type: 'post',
                data: { ClassID: ClassID, Semester: Semester, ranking: ranking },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    smas.hideProcessingDialog();
                    $('#GridPupilRankingOfSemester').html(data);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }


    function exportReport() {
        var Semester = $("#Semester").val();
        var ClassID = $("#ClassID").val();
        if(Semester != 0 && ClassID != 0)
        {
        window.open("@Url.Action("DownloadReport", "PupilRankingOfSemester")"+"?Semester="+Semester+"&ClassID="+ClassID);
        }
        
    }


    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
//            formUtils.resetForm("frmCreate");
//            formUtils.focusForm("frmCreate");
//            search();
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function Creat() {
        $("#frmCreate input[type='submit']").click();
    }

     function validateSummarize() {
        var isValid = true;
        $("select[ref='1']:not(:disabled)").each(function () {
            if ($(this).val() == '' || isNaN($(this).val())) {
                isValid = false;
                return;
            }
        });

        if (!isValid) {
            smas.alert({ Type: "error", Message: '@Res.Get("PupilRankingPeriod_Label_NotConducted")' });
            return false;
        }
        return true;
     }

</script>
<style media="screen" type="text/css">
    .searchclass .editor-label{padding-top:5px!important}#GridPupilRankingOfSemester .t-header{height:35px}#GridPupilRankingOfSemester .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:18%}#SearchPanel .editor-field{width:28%;margin-right:10px}
</style>
