﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils

@model SMAS.Web.Areas.PraiseTypeArea.Models.DisciplineTypeViewModel

@using (Ajax.BeginForm("Edit",
                       "DisciplineType", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmDisciplineTypeEdit" }
                       ))
{
    <div id="EditDisciplineType" class="vt-EditorPanel vt-EditorPanel-1 praise-type-create-page">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()

            @Html.ViettelHiddenFor(model => model.DisciplineTypeID)

            @Html.ViettelEditorFor(model => model.Resolution)
            @Html.ViettelCheckBox("chkConductMinusMark", null, new Dictionary<string, object> { { "onchange", "chk_onchangeEdit(this)" } }, Res.Get("DisciplineType_Label_ConductMinusMark"), false, false)
            @Html.ViettelTextboxFor(model => model.ConductMinusMark, Res.Get("DisciplineType_Label_MinusMark"), new Dictionary<string, object> { { "disabled", "true" }, { "maxlength", 2 }, { "onkeypress", "return runScript(event);" }, { "onChange", "return fixNumber(this);" } }, false, false, true)

        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmDisciplineTypeEdit')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDisciplineTypeDialog');", "btn btn-info btn-round")
        </div>
    </div>
}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDisciplineTypeDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function chk_onchangeEdit(chkConductMinusMark) {
        var check = chkConductMinusMark.checked;
        if (check) {
            $("#frmDisciplineTypeEdit #ConductMinusMark").removeAttr("disabled");
        } else {
            $("#frmDisciplineTypeEdit #ConductMinusMark").val("");
            $("#frmDisciplineTypeEdit #ConductMinusMark").attr("disabled", "disabled");
        }

    }
    function fixNumber(inputtext) {
        var Number = parseFloat($(inputtext).val());
        if (Number > 0 && Number < 100) {

        } else {
            smas.alert('@Res.Get("MarkRecordPeriod_Label_InputValidate")');
            $(inputtext).val("");
        }
    }

    function runScript(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0) {
                return false;
            }
        }
    }
</script>


