﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportVEmisArea
<style>
    .col-sm-4.col-md-2{
        min-height: 75px;
    }
</style>
<div id="PupilProfilePanel" class="TitleTabSection">
    <div class="TitleTabSection">
            <a class="Sprite1">
                <span class="Sprite1">@Res.Get("Vemis_Label_PupilProfile")</span>
                 
            </a>
    </div>
    <div class="Clear"></div>
    <div class="t-widget t-grid GeneralTable General1Table p-t-15 p-r-15 p-b-15 p-l-15">
        <div>
            @Html.ViettelCheckBox("chkAll", "on", new Dictionary<string, object> { { "allframe", "frame1" }, { "checktype", "frame1" }, { "onchange", "checkallframe(this)" } }, Res.Get("ReportPupilSynthesis_Label_ChoiceAll"), true, false, true, false)
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkPupilCode", "on", new Dictionary<string, object> { }, Res.Get("SchoolMovement_Label_PupilCode"), true, false, true, true)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkPupilName", "on", new Dictionary<string, object> { }, Res.Get("Candidate_Label_FullName"), true, false, true, true)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkBirthDate", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ChildrenMoneyPerMonth_Label_BirthDate"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkBirthPlace", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("PupilProfile_Label_BirthPlace"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkGenre", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Employee_Label_Sex"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkEthnic", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Employee_Label_Ethnic"), true, false, true, false)</div>
        </div>
        <div class="row ">
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkReligion", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Employee_Label_Religion"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkAddress", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Employee_Label_HomeTown"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkProvince", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("PupilProfile_Label_Province"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkDistrict", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("SupervisingDept_Label_District"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkCommnune", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Common_Label_Commnune"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkIsYoungPioneerMember", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Vemis_Label_IsYoungMember"), true, false, true, false)</div>
        </div>
        <div class="row ">
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkDateInYoungPioneerMember", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Vemis_Label_DateYoungMember"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkIsCommunistPartyMember", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_IsYoungMax"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkDateCommunistPartyMember", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Ngày kết nạp đảng"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkPolicyTarget", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("PupilProfile_Label_PolicyTarget"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkPriority", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("Vemis_Label_PriorityType"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkDisabled", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("PupilProfile_Label_Disabled"), true, false, true, false)</div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkMobile", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("SchoolAccount_Label_Phone"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkFatherFullName", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_FatherFullName"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkFatherBirthDate", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_FatherBirth"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkFatherJob", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_FatherJob"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkFatherMobile", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_FatherPhone"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkMotherFullName", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_FatherMother"), true, false, true, false)</div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkMotherBirthDate", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_MotherBirth"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3">@Html.ViettelCheckBox("chkMotherJob", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_MotherJob"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"> @Html.ViettelCheckBox("chkMotherMobile", "on", new Dictionary<string, object> { { "checktype", "frame1" }, { "onchange", "checkOne(this)" } }, Res.Get("ReportPupilSynthesis_Label_MotherPhone"), true, false, true, false)</div>
            <div class="col-sm-4 col-md-3"></div>
            <div class="col-sm-4 col-md-3"></div>
            <div class="col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
