﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.InputStatisticsDetailArea;

@{
    var index = 1;

    Html.Telerik()
        .Grid((List<InputStatistics>)ViewData[InputStatisticsDetailConstants.LIST_INPUT_STATISTICS])
        .Name("GridInputStatisticsDetail")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" }).Width(40);
            c.Bound(o => o.DistrictName).Width(100).Title(@Res.Get("InputStatistics_Label_District")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Bound(o => o.SchoolName).Width(120).Title(@Res.Get("InputStatistics_Label_SchoolName")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Bound(o => o.NumberOfPupil).Width(50).Title(@Res.Get("InputStatistics_Label_NumberOfPupil")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Bound(o => o.NumberOfTeacher).Width(60).Title(@Res.Get("InputStatistics_Label_NumberOfTeacher")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Bound(o => o.NumberOfClass).Width(60).Title(@Res.Get("InputStatistics_Label_NumberOfClass")).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Bound(o => o.NumberOfClassHasSubject).Width(80)
            .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center">
                @Html.Raw(Res.Get("InputStatistics_Label_NumberOfClassHasSubject"))
            </td>
        </tr>
    </table>
    </text>
                ).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Template
                    (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasAssignForFirstSemester
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasAssignForSecondSemester
            </td>
        </tr>
    </table>
    </text>
                ).Width(100)
                .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_NumberOfClassHasAssign"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKI")
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKII")
            </td>
        </tr>
    </table>
    </text>
                );
            c.Template
                (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasMarkForFirstSemester
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasMarkForSecondSemester
            </td>
        </tr>
    </table>
    </text>
            ).Width(100)
            .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_NumberOfClassHasMark"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKI")
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKII")
            </td>
        </tr>
    </table>
    </text>
            );
            c.Template
                    (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasConductForFirstSemester
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasConductForSecondSemester
            </td>
        </tr>
    </table>
    </text>
                ).Width(100)
                .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_NumberOfClassHasConduct"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKI")
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKII")
            </td>
        </tr>
    </table>
    </text>
                );
            c.Template
                (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasSumMarkForFirstSemester
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfClassHasSumMarkForSecondSemester
            </td>
        </tr>
    </table>
    </text>
            ).Width(100)
            .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_NumberOfClassHasSumMark"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKI")
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("JudgeRecordSemester_Label_HKII")
            </td>
        </tr>
    </table>
    </text>
            );
            c.Template
                    (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfUser
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfLoggedUser
            </td>
        </tr>
    </table>
    </text>
                ).Width(120)
                .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_UserHasAccount"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Html.Raw(Res.Get("InputStatistics_Label_NumberOfUser"))
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Html.Raw(Res.Get("InputStatistics_Label_NumberOfLoggedUser"))
            </td>
        </tr>
    </table>
    </text>
                );
            c.Bound(o => o.NumberOfPupilHasMobile).Width(80)
                .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center">
                @Html.Raw(Res.Get("InputStatistics_Label_NumberOfPupilHasMobile"))
            </td>
        </tr>
    </table>
    </text>
                ).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Template(@<text>
      @{
          int total = item.NumberOfPupilHasFatherMobile + item.NumberOfPupilHasMotherMobile;
      }
      @total
    </text>).Width(90)
    .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center">
                @Html.Raw(Res.Get("InputStatistics_Label_NumberOfPupilHasFamilyMobile"))
            </td>
        </tr>
    </table>
    </text>
                ).HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle" });
            c.Template
                    (@<text>
    <table cellspacing="0">
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfPupilHasFatherMobile
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @item.NumberOfPupilHasMotherMobile
            </td>
        </tr>
    </table>
    </text>
                ).Width(100)
                .HeaderTemplate(@<text>
    <table cellspacing="0">
        <tr>
            <td colspan="2" style="text-align: center">
                <strong>@Html.Raw(Res.Get("InputStatistics_Label_NumberOfPupilHasFamilyMobile"))</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("InputStatistics_Label_Parent")
            </td>
            <td style="text-align: center; vertical-align:middle; width: 49%">
                @Res.Get("InputStatistics_Label_Mother")
            </td>
        </tr>
    </table>
    </text>
                );

        })
        //.DataBinding(b =>
        //    b.Ajax().OperationMode(GridOperationMode.Client)
        //            .Select("Search", "InputStatisticsDetail")

        // )
        //.ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        //)
        .DataKeys(keys => keys.Add(o => o.DistrictID + "_" + o.SchoolID))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Scrollable()
        .Render();
                      
}
<script type="text/javascript">
//    var lstInd = 0;
//    function Grid_onDataBinding(e) {
//        var grid = $('#GridInputStatisticsDetail').data('tGrid')
//        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

//        e.data = jsonUtils.serializeObject("frmSearch");
//    }
</script>
<style type="text/css">
#lstInputStatisticsDetail .t-grid-content {height: 500px !important}
</style>