﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.InputStatisticsDetailArea;
@{
   
    string htmllist = ((ContentResult)ViewData[SMAS.Web.Areas.InputStatisticsDetailArea.InputStatisticsDetailConstants.LISTSEARCHBYSCHOOL]).Content;
}
<script>
    $("#TableInputOfSchool tr").hover(
      function () {
          $(this).addClass("t-state-hover");
      },
      function () {
          $(this).removeClass("t-state-hover");
      });
      $("#TableInputOfSchool tr").click(function () {
        if ($(this).hasClass('t-state-selected')) {
        }
        else {
            $("#TableInputOfSchool tr").removeClass('t-state-selected');
            $(this).addClass('t-state-selected');
        }
    });
    $(document).ready(function () {
        var table = document.getElementById("TableInputOfSchool");
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {

            if (i % 2 == 0) {
            }
            else {

                $("tr:eq(" + i + ")").addClass("t-alt");

            }
        }
    });
</script>
<style>
    tr:hover {cursor:pointer;}  
</style>
<div class="t-grid-header" style="padding-right: 17px;">
    <div class="t-grid-header-wrap">
    <table class="report-html-view" border="1">
	
      <tr class="report-header">
        <td rowspan="2" class="t-header" width="31">@Res.Get("Common_Column_Order")</td>
        <td rowspan="2" class="t-header" width="52"> Quận<br /> /Huyện </td>
        <td rowspan="2" class="t-header" width="108">Tên <br /> trường</td>
        <td rowspan="2" class="t-header" width="45">Cấp <br /> học</td>
        <td rowspan="2" class="t-header" width="45">Số <br /> HS</td>
        <td rowspan="2" class="t-header" width="42">Số <br /> GV</td>
        <td rowspan="2" class="t-header" width="43">Số <br /> lớp</td>
        <td rowspan="2" class="t-header" width="49">Số <br />lớp <br /> đã <br />khai  <br />báo <br /> môn <br /> học</td>
        <td colspan="4" class="t-header" width="158" > @Res.Get("JudgeRecordSemester_Label_HKI")</td>
        <td colspan="4" class="t-header" width="161" >@Res.Get("JudgeRecordSemester_Label_HKII")</td>
        <td colspan="2" class="t-header" width="81" >User <br /> đã <br /> cấp</td>
        <td rowspan="2" class="t-header" width="45">Số  <br />học <br /> sinh<br /> đã <br />nhập<br /> SĐT<br /> cá <br />nhân</td>
        <td colspan="2" class="t-header" width="90">Số <br />học<br /> sinh<br /> đã <br />nhập<br /> SĐT<br /> phụ<br /> huynh</td>
    </tr>
    
    <tr class="report-header">
        <td class="t-header" width="35">Số <br />lớp <br />đã <br /> phân<br /> công <br />GD</td>
        <td class="t-header" width="36">Số<br /> lớp<br /> đã <br />nhập <br />điểm</td>
        <td class="t-header" width="36">Số <br />lớp <br />đã <br />nhập<br /> hạnh<br /> kiểm</td>
        <td class="t-header" width="36"> Số <br />lớp<br /> đã <br />tổng<br /> kết</td>
        <td class="t-header" width="34">Số<br /> lớp <br />đã <br />phân<br /> công <br />GD</td>
        <td class="t-header" width="36">Số<br /> lớp<br /> đã<br /> nhập<br /> điểm</td>
        <td class="t-header" width="41">Số<br /> lớp<br /> đã<br /> nhập<br /> hạnh<br /> kiểm</td>
        <td class="t-header" width="37">Số<br /> lớp<br /> đã <br />tổng<br /> kết</td>
        <td class="t-header" width="36"> Số <br />User<br /> GV</td>
        <td class="t-header" width="41">Số <br />User<br /> đã <br />login</td>
        <td class="t-header" width="40">@Res.Get("InputStatistics_Label_Parent")</td>
        <td class="t-header" width="36"> @Res.Get("InputStatistics_Label_Mother")</td>
    </tr>    </table>
</div>
</div>
<div style="height: 500px; overflow: scroll;">
   <p>@MvcHtmlString.Create(htmllist)</p>
</div>
