@model EatingGroupViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EatingGroupArea.Models
@{List<TreeViewItem> checkedNodes = ViewData["TreeView1_checkedNodes"] as List<TreeViewItem>;
  List<EatingGroupTreeViewModel> listGrade = ViewData[SMAS.Web.Areas.EatingGroupArea.EatingGroupConstants.LT_TREE] as List<EatingGroupTreeViewModel>;
  int ID_OF_GRADE = -1;
  int ID_OF_EDUCATIONLEVEL = -2;
  }
<div id="info">
    <fieldset>
        <legend>@Res.Get("EatingGroup_Label_Info")</legend>
        @Html.ViettelTextboxFor(model => model.EatingGroupName, Res.Get("EatingGroup_Label_EatingGroupName"),
                new Dictionary<string, object> { { "width", "100%" } }, true, false)
        @Html.ViettelTextboxFor(model => model.MonthFrom, Res.Get("EatingGroup_Label_MonthFrom"),
                                                    new Dictionary<string, object> { { "width", "100%" }, { "onkeypress", "return runScript(event)" } }, false, false, false)
        @Html.ViettelTextboxFor(model => model.MonthTo, Res.Get("EatingGroup_Label_MonthTo"),
                         new Dictionary<string, object> { { "width", "100%" } }, false, false, false)
    </fieldset>z
<div id="eatingclass">
    <fieldset>
        <legend>@Res.Get("EatingGroup_Label_ClassInfo")</legend>
        <table width="100%" border="0">
            <tr>
                <td width="30%" style="vertical-align: top">
                    @(
                    
 Html.Telerik()
                    .TreeView()
                    .Name("trvDept")//.DataBinding(dataBinding => dataBinding.Ajax().Select("LoadGrade", "EatingGroup"))
                    .ClientEvents(events => events
                                //.OnDataBinding("onDataBinding")
                        .OnLoad("ExpandRoot")
                                                        .OnChecked("TreeView_onChecked"))

                                .BindTo((listGrade), mapping =>
                    {
                        mapping.For<EatingGroupTreeViewModel>(binding => binding.ItemDataBound((item, dept) =>
                        {
                            item.Text = dept.ClassName;
                            item.Value = dept.ClassID.ToString();
                            item.Enabled = true;
                            item.Checked = false;
                            //List chua danh sach tat ca cac lop thuoc cap hoc 
                            List<EatingGroupTreeViewModel> list = ViewData[SMAS.Web.Areas.EatingGroupArea.EatingGroupConstants.LIST_CLASS] as List<EatingGroupTreeViewModel>;
                           //Neu item la checkbox cua cap
                            if (dept.ClassID == ID_OF_GRADE)
                            {
                                if (!dept.Enabled)
                                {
                                    item.Checkable = false;
                                    item.Checked = false;
                                    item.Enabled = false;
                                    
                                }
                            }
                                //Neu item la checkbox cua khoi
                            else if (dept.ClassID == ID_OF_EDUCATIONLEVEL)
                            {
                                if (!dept.Enabled)
                                {
                                    item.Checkable = false;                                    
                                    item.Checked = false;
                                    item.Enabled = false;
                                }
                            } 
                            else
                            {
                                foreach (EatingGroupTreeViewModel EatingGroup in list)
                                {

                                    if (EatingGroup.ClassID == Int32.Parse(item.Value))
                                    {
                                        //Neu la hanh vi create thi chi disable cac checkbox cua cac lop da co nhom an
                                        if (EatingGroup.isCreate)
                                        {
                                            //Neu lop do da co nhom an
                                            if (!EatingGroup.Enabled)
                                            {
                                                item.Checkable = false;
                                                // input class="t-input" type="checkbox" value="True" name="trvDept_checkedNodes[0:3:0].Checked" checked="checked"
                                                item.Checked = false;
                                                item.Enabled = false;

                                            }
                                            break;
                                        }
                                            //Neu la hanh vi edit thi chi enable cac checkbox cua cac lop co nhom an dang sua
                                        else
                                        {
                                            //Neu lop do ko thuoc nhom an
                                            if (!EatingGroup.Enabled)
                                            {
                                                item.Checkable = false;
                                                item.Checked = false;
                                                item.Enabled = false;
                                            }
                                            else
                                            {
                                                item.Checkable = true;
                                                item.Checked = true;
                                                item.Enabled = true;
                                            }
                                            break;
                                        }
                                    }
                                }
                            }
                        }).Children(dept => dept.ListChildren));

                    }).ShowCheckBox(true)
             )
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<script type="text/javascript">

    function treeView() {
        return $('#trvDept').data('tTreeView');
    }

    function ExpandRoot(e) {
        var treeview = $('#trvDept').data('tTreeView');
        var firstNodeElement = $("li:first", treeview.element)[0];
        treeview.expand(firstNodeElement);
    }

    function TreeView_onChecked(e) {
        var treeView = $(this).data("tTreeView");
        var childNodes = $(e.item).find(">.t-group input").filter(":checkbox");
        childNodes.each(function (index, element) {
            treeView.nodeCheck(element, e.checked);
        });
    }

//    function onDataBinding(e) {
//        var url = 'Url.Action("LoadGrade", "EatingGroup")';
//        var result;
//        $.ajax({
//            url: url,
//            data: {  },
//            success: function (data) {
//                var treeview = $("#trvDept").data("tTreeView");
//                treeview.bindTo(data);
//            }
//        });
//    }    
</script>
<style type="text/css">
    div#info fieldset,div#trvDept{border:1px solid silver;width:90%;height:280px}div#info{float:left;width:60%}div#eatingclass{width:40%;float:right}
</style>
