﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
<div>
    <table>
        <tr>
            <td>
                <div style="width: 100%;">
                    <div style="float: left; width: 45%; margin-left:20px">
                        <input type="radio" name="chkDeclare" class="chkDeclare" value="2" /> Áp dụng nhóm lớp <span id="Resolation">Hiển thị Ren của lớp</span>
                    </div>
                    <div style="float: right; width: 45%;">
                        <input type="radio" name="chkDeclare" class="chkDeclare" value="1" checked /> Áp dụng tất cả các nhóm lớp
                    </div>
                    <br />
                </div>
            </td>
        </tr>
        <tr>
            <td style="margin-top:50px">
                <div style="width: 100%;">
                    <div style="float: left; width: 99%;">
                        <span id="Message">Thông tin alert </span>
                    </div>
                    <br />
                </div>
            </td>
        </tr>
        <tr>
            <td style="margin-top:50px">
                <div style="text-align: center; width: 100%;">
                    @Html.ViettelButton(Res.Get("Áp dụng"), "button", "", "", "OK", "")
                    @Html.ViettelButton(Res.Get("Huỷ bỏ"), "button", "smas.closeDialog('ConfirmAlertDialog_Declare');","", "Cancel")
                </div>
            </td>
        </tr>
    </table>
</div>
