﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SMAS - Hệ thống quản lý nhà trường</title>
    <!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="../../Content/styles/fixed_ie7.css" />
	<![endif]-->
    <!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="../../Content/styles/fixed_ie8.css" />
	<![endif]-->
    <link href="@Url.Content("~/Content/main.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2012.1.214/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/smas.css?v=1.0.0.0")" rel="stylesheet" type="text/css" />
    @* <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/JScriptTable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/2012.1.214/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2012.1.214/telerik.common.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2012.1.214/telerik.list.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2012.1.214/telerik.window.min.js")" type="text/javascript"></script>       
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../Content/scripts/jquery-ui-1.8.24.custom.min.js"></script>
    <script src="../../Content/jScrollPane/jquery.mousewheel.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../Content/jScrollPane/jScrollPane.js"></script>
    <script type="text/javascript" src="../../Content/fancybox/jquery.fancybox.js"></script>
    <script src="@Url.Content("~/Scripts/customSelect.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/main.js")" type="text/javascript"></script>

    @*extensionMethod script *@
    <script src="@Url.Content("~/Scripts/SMAS/extensions/extensionMethods.js")" type="text/javascript"></script>    
    @*smas script*@
    <script src="@Url.Content("~/Scripts/SMAS/smas.js?v=1.0.0.7")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/SessionChange.js")" type="text/javascript"></script>       
    @*utils script *@
    <script src="@Url.Content("~/Scripts/SMAS/Utils/arrUtils.js")" type="text/javascript"></script>   
    <script src="@Url.Content("~/Scripts/SMAS/Utils/byteUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/controlUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/dateUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/formUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/jsonUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/numberUtils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SMAS/Utils/stringUtils.js")" type="text/javascript"></script>    

    <script type="text/javascript">
        $(document).ready(function () {
            $("#divErrorLayout").ajaxError(function (event, xhr, options, exc) {
                if (xhr.status == 453) smas.alert({ Type: "error", Message: "Access denied" });
                else if (xhr.status == 451) smas.redirect("/Home/LogOn");
                else if (xhr.status == 454) smas.redirect("/Home/LogOn");
            }
            )
        });

        function writeCookieEn() {
            d = new Date();
            d1 = new Date(d.getTime() + 30 * 24 * 60 * 60 * 1000);

            document.cookie = "UserSettings=language=" + "en;expires=" + d1.toUTCString() + "; path=/";
            window.location.reload()
        }

        function writeCookieVi() {
            d = new Date();
            d1 = new Date(d.getTime() + 30 * 24 * 60 * 60 * 1000);

            document.cookie = "UserSettings=language=" + "vi;expires=" + d1.toUTCString() + "; path=/";
            window.location.reload()
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divErrorLayout").ajaxComplete(function () {
                validateUtils.fixCommonValidate();
            });
            validateUtils.fixCommonValidate();
        });

        var CustomValidate = {};

        CustomValidate.format = function () {
            var s = arguments[0];
            for (var i = 0; i < arguments.length - 1; i++) {
                var reg = new RegExp("\\{" + i + "\\}", "gm");
                s = s.replace(reg, arguments[i + 1]);
            }

            return s;
        }

        CustomValidate.checkRequire = function (id, defaultValue, message) {
            var value = $('#' + id).val();
            if (value == undefined || value == null || value == defaultValue) {
                var msg = CustomValidate.format('@Res.Get("Common_Validate_Null")', message);
                smas.alert(msg);
                $('#' + id).focus();
                throw msg;
            }
        }
        function ConfirmExportDialog_OnClose() {
            smas.reload();
        }
    </script>
    @*    <script src="@Url.Content("~/Content/plugins/ui.dropdownchecklist-1.4-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/plugins/ui.dropdownchecklist.standalone.css")" rel="stylesheet" type="text/css" />*@
    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.Vista.css"))
    @RenderSection("JS", required: false)
    @RenderSection("CSS", required: false)
    @(Html.Telerik().StyleSheetRegistrar()
                      .DefaultGroup(group => group
                          .Add("telerik.examples.css")
                          .Add("telerik.common.css")
                          .Add("telerik.windows7.min.css")
                          .Combined(true)
                          .Compress(true))
                     )
    @*<link href="../../Content/common.css" rel="stylesheet" type="text/css" />*@
</head>
<body>
    @(Html.Telerik().Window()
                .Name("processingDialog")
                .Title(Res.Get("Common_Label_Alert"))
                .Content(Res.Get("Common_Label_Processing"))
                .Draggable(false)
                .Visible(false)
                .Modal(true)
                .Width(150)
                .Height(30)
        )
    @(Html.Telerik().Window()
                .Name("ConfirmExportDialog")
                .Title("   ")
                .Content(@<text>@Html.Partial("_ExportConfirm")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250)
       )
    <div id="container">
        <div id="content">
            @RenderBody()
        </div>
    </div>
    @(Html.Telerik().ScriptRegistrar().jQuery(false)
        .DefaultGroup(group => group
            .Add("telerik.examples.min.js")
            .Compress(true))
            .OnDocumentReady(
            @<text> prettyPrint();
    </text>)
)
    </div>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>   
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/ui.dropdownchecklist-1.4-min.js")" type="text/javascript"></script>
    @*utils script *@
    <script src="@Url.Content("~/Scripts/SMAS/Utils/validateUtils.js")" type="text/javascript"></script>
    @*extensionjQuery script *@
    <script src="@Url.Content("~/Scripts/SMAS/extensions/extensionjQuery.js")" type="text/javascript"></script> 
</body>
</html>
