﻿<style type="text/css">
    .ajxWait{position:fixed;width:100%;height:100%;top:0;left:0;display:none;z-index:100000}.ajxCover{z-index:1000;position:absolute;height:100%;width:100%;top:0;left:0;background-color:Gray;filter:alpha(opacity=60);opacity:.6}.ajxloading{position:absolute;width:100%;background:transparent url(@Url.Content("~/Content/images/loading_bg.png")) no-repeat center center;top:0;left:0;height:100%;z-index:100001}.textloading{position:relative;width:321px;height:55px;margin:auto;padding-left:170px;color:#030;font-family:Arial;font-size:11px;text-align:justify}.textloading img,.textloading span{position:relative;top:5px}
</style>
<div class="ajxWait">
    <div class="ajxloading">
        <div class="textloading">
            <img style="border-width: 0px;" src="@Url.Content("~/Content/images/loading5.gif")">&nbsp; 
            <span style="font-weight: bold;">@Html.Raw(SMAS.Web.Utils.Res.Get("_LoadingProcess"))</span>
        </div>
    </div>
    <div class="ajxCover">
    </div>
</div>

