﻿@using SMAS.Models.Models.CustomModels
@using SMAS.Web.Constants
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Controllers
@{
    //Lay danh sach Menu trong Session de build Menu
    List<SMAS.Models.Models.Menu> menuByRole = Session[GlobalConstants.MENUS] as List<SMAS.Models.Models.Menu>;
    List<SMAS.Models.Models.Menu> lstSubMenu = new List<SMAS.Models.Models.Menu>();
    List<SMAS.Models.Models.Menu> lstSubSecondLevelMenu = new List<SMAS.Models.Models.Menu>();
    List<ItemMenuModel> lstSubRibbonMenuModel = new List<ItemMenuModel>();
    List<ItemMenuModel> lstSubSecondRibbonMenuModel = new List<ItemMenuModel>();
    //Build Menu
    SMAS.VTUtils.Utils.MenuRibbonBuilder menuRibbonBuilder = new SMAS.VTUtils.Utils.MenuRibbonBuilder(menuByRole);
    List<ItemMenuModel> lstParentRibbonMenuModel = new List<ItemMenuModel>();

    if (lstParentRibbonMenuModel != null)
    {
        if (lstParentRibbonMenuModel.Count == 1)
        {
            lstParentRibbonMenuModel.RemoveAt(0);
        }
    }

    if (lstParentRibbonMenuModel == null || lstParentRibbonMenuModel.Count == 0)
    {
        lstParentRibbonMenuModel = new List<ItemMenuModel>();
        lstParentRibbonMenuModel = menuRibbonBuilder.ParentMenuModel;
    }
    Session[GlobalConstants.MENUS_MODEL] = lstParentRibbonMenuModel;
    int firstMenu = 0;
    GlobalInfo glo = new GlobalInfo();

    string Urlx = "/Index";

    //if (glo.IsSchoolRole)
    //{
    //    if (!glo.IsAdminSchoolRole && !glo.IsEmployeeManager)
    //    {
    //        Url = "/HomePageOfTeacher";
    //    }
    //}
    int countMenuChild = 0;
    BaseController bc = new BaseController();
    bool isNewSchoolModel = bc.IsNewSchoolModel();
}

<script type="text/javascript">
    @Html.JsMinify(@<text>
    $(init);

    function init() {

    } //end init
    </text>);
    var viewDetail = "@Html.Raw(SMAS.Web.Constants.GlobalConstants.VIEW_DETAIL)";
    var viewShort = "@Html.Raw(SMAS.Web.Constants.GlobalConstants.VIEW_SHORT_DETAIL)"; 
</script>

<div class="main-menu">
    <div class="menu-header">
        <a href="/"><img class="img-responsive logo-extend" src="@Url.Content("~/Content/images/logo_smas.png")" /></a>
        <a href="/"><img class="img-responsive logo-collapse" src="@Url.Content("~/Content/images/logo-smas-collapsed.png")" /></a>
        <i id="collapse-btn" class="fa fa-lg fa-bars dark" title="Thu gọn"></i>
    </div>
    <ul class="menu-body mg-l-10">
        @{
            
            if (lstParentRibbonMenuModel.Where(o => o.ItemMenuID == 2) != null && lstParentRibbonMenuModel.Where(o => o.ItemMenuID == 2).Count() > 0)
            {
                lstParentRibbonMenuModel = lstParentRibbonMenuModel;
            }
            else
            {
                ItemMenuModel ItemMenuModel = new ItemMenuModel();
                ItemMenuModel.Text = Res.Get("HomeRK");
                ItemMenuModel.ItemMenuID = 2;
                lstParentRibbonMenuModel.Insert(0, ItemMenuModel);
            }

            bool checkTabIndex = false;
            foreach (ItemMenuModel MenuModels in lstParentRibbonMenuModel)
            {
                if (firstMenu == 0)
                {

                }
                else
                {
                    countMenuChild = menuByRole.Where(p => p.ParentID == MenuModels.ItemMenuID && p.IsVisible).Count();
                    if (countMenuChild > 0)
                    {

                        //lay ky tu dau cua menu
                        var titleMenu = MenuModels.Text;
                        var lstTitle = titleMenu.Split(' ');
                        System.Text.StringBuilder titleTab = new System.Text.StringBuilder();

                        lstTitle.ToList().ForEach(u =>
                        {
                            if (u.Length > 0 && u != " ")
                            {
                                titleTab.Append(u[0].ToString());
                            }
                        });

                        if (titleTab.ToString() == SMAS.Business.Common.GlobalConstants.TAB_MENU_INDEX && !checkTabIndex)
                        {
                            glo.TabIndexTC = firstMenu.ToString();
                            checkTabIndex = true;
                        }

                        if (titleTab.ToString() == SMAS.Business.Common.GlobalConstants.TAB_MENU_INDEX_REPORT)
                        {
                            glo.TabIndexReport = firstMenu.ToString();
                        }

                        if (titleTab.ToString() == SMAS.Business.Common.GlobalConstants.TAB_MENU_INDEX_DOET_EXAM)
                        {
                            glo.TabIndexDOETExam = firstMenu.ToString();
                        }
                    
                    <li id='@("mItem" + firstMenu.ToString())' tab="@titleTab.ToString()" indTab="@firstMenu.ToString()">
                        
                        <a class="dropdown-btn" id='@("linkItem" + firstMenu.ToString())'>
                            <span class="icon-background">
                                <span class="icon icon-menu-@MenuModels.ItemMenuID.ToString()"></span>
                            </span>
                            <span class="dropdown-text">@MenuModels.Text.ToUpper()</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <div class="dropdown-container" id='@("linkItem" + firstMenu.ToString())'>
                            <!--sub menu-->
                            <div>
                                @{
                        lstSubMenu = menuByRole.Where(a => a.ParentID == MenuModels.ItemMenuID).Where(p => p.IsVisible).ToList();
                        int GroupNumber = 0;
                        //lay danh sach theo nhom fix cung tu 1->9
                        List<Menu> listMenuSubGroup = new List<Menu>();
                        for (int numberGroup = 0; numberGroup <= 9; numberGroup++)
                        {
                            var lstSubMenuGroup = lstSubMenu.Where(u => u.BlockMenu == numberGroup).ToList();
                            lstSubRibbonMenuModel = menuRibbonBuilder.SetItemsData(lstSubMenuGroup, false);
                            if (lstSubMenuGroup != null && lstSubMenuGroup.Count() > 0)
                            {
                                foreach (var menu in lstSubRibbonMenuModel)
                                {
                                    //viethd4 kiem tra cac menu cua Mo hinh truong hoc moi
                                    if (!isNewSchoolModel && (menu.MenuUrl.Contains("/TeacherNoteBookArea/TeacherNoteBook/Index")
                                        || menu.MenuUrl.Contains("/PupilEvaluationBookArea/PupilEvaluationBook/Index")
                                        || menu.MenuUrl.Contains("/UpdateRewardArea/UpdateReward/Index")))
                                    {
                                        continue;
                                    }
                                    menu.MenuUrl = menu.MenuUrl.Trim();
                                    if (menu.MenuUrl.Last() == '/')
                                    {
                                        menu.MenuUrl = menu.MenuUrl.Remove(menu.MenuUrl.Length - 1);
                                    }
                                    //fix lỗi trang Thống Kê Liên Lạc bị sai đường dẫn
                                    if (menu.ItemMenuID == 1897)
                                    {
                                        
                                        menu.MenuUrl = "/SMSEduArea/StatisticsCommunication/Index";
                                    }
                                    //End Fix
                                    <div class="item @(menu.MenuUrl != "" ? "" : "dropdown-btn")" id="@menu.ItemMenuID">
                                        <a href="@(menu.MenuUrl != "" ? menu.MenuUrl + "?" + "Tab=" + firstMenu : "#")">
                                            @menu.Text
                                            <i class="fa @(menu.MenuUrl != "" ? "" : "fa-angle-right")"></i>
                                        </a>
                                    </div>
                                   
                                    //xu ly cac menu con
                                    var lstSubMenuChild = menuByRole.Where(a => a.ParentID == menu.ItemMenuID && a.IsVisible == true).ToList();
                                    if (lstSubMenuChild != null && lstSubMenuChild.Count > 0)
                                    {
                                        var lstSubRibbonMenuChildModel = menuRibbonBuilder.SetItemsData(lstSubMenuChild, false);
                                        int indexChild = 0;
                                        <div class="dropdown-container" id="@menu.ItemMenuID">
                                            @foreach (var childMenu in lstSubRibbonMenuChildModel)
                                            {
                                                GroupNumber++;
                                                indexChild++;
                                                childMenu.MenuUrl = childMenu.MenuUrl.Trim();
                                                if (childMenu.MenuUrl.Last() == '/')
                                                {
                                                    childMenu.MenuUrl = childMenu.MenuUrl.Remove(childMenu.MenuUrl.Length - 1);
                                                }
                                                <div class="item">
                                                    <a class="icon-gold small" id='@("t" + firstMenu + "Group" + GroupNumber + "MenuLV3Link" + indexChild)' href='@(childMenu.MenuUrl + "?" + "Tab=" + firstMenu)'>
                                                        <i class="fa fa-arrow-right"></i>
                                                        <span>@childMenu.Text </span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        var lstSubMenuGroupNone = lstSubMenu.Where(u => u.BlockMenu == null || (u.BlockMenu != null && u.BlockMenu < 0 && u.BlockMenu >= 10)).OrderBy(u => u.OrderNumber);
                        if (lstSubMenuGroupNone != null && lstSubMenuGroupNone.Count() > 0)
                        {
                            lstSubRibbonMenuModel = menuRibbonBuilder.SetItemsData(lstSubMenuGroupNone.ToList(), false);
                            foreach (var menu in lstSubRibbonMenuModel)
                            {
                                if (!isNewSchoolModel && (menu.MenuUrl.Contains("/TeacherNoteBookArea/TeacherNoteBook/Index")
                                        || menu.MenuUrl.Contains("/PupilEvaluationBookArea/PupilEvaluationBook/Index")
                                        || menu.MenuUrl.Contains("/UpdateRewardArea/UpdateReward/Index")))
                                {
                                    continue;
                                }
                                menu.MenuUrl = menu.MenuUrl.Trim();
                                if (menu.MenuUrl.Last() == '/')
                                {
                                    menu.MenuUrl = menu.MenuUrl.Remove(menu.MenuUrl.Length - 1);
                                }

                                <div class="item @(menu.MenuUrl != "" ? "" : "dropdown-btn")" id="@menu.ItemMenuID">
                                    <a href="@(menu.MenuUrl != "" ? menu.MenuUrl + "?" + "Tab=" + firstMenu : "#")">
                                        @menu.Text
                                        <i class="fa @(menu.MenuUrl != "" ? "" : "fa-angle-right")"></i>
                                    </a>
                                </div>
                                //xu ly cac menu con
                                var lstSubMenuChild = menuByRole.Where(a => a.ParentID == menu.ItemMenuID && a.IsVisible == true).ToList();
                                if (lstSubMenuChild != null && lstSubMenuChild.Count > 0)
                                {
                                    var lstSubRibbonMenuChildModel = menuRibbonBuilder.SetItemsData(lstSubMenuChild, false);
                                    int indexChild = 0;
                                                    
                                    <div class="dropdown-container" id="@menu.ItemMenuID">
                                        @foreach (var childMenu in lstSubRibbonMenuChildModel)
                                        {
                                            GroupNumber++;
                                            indexChild++;
                                            childMenu.MenuUrl = childMenu.MenuUrl.Trim();
                                            if (childMenu.MenuUrl.Last() == '/')
                                            {
                                                childMenu.MenuUrl = childMenu.MenuUrl.Remove(childMenu.MenuUrl.Length - 1);
                                            }
                                            <div class="item">
                                                <a class="icon-gold small" id='@("t" + firstMenu + "Group" + GroupNumber + "MenuLV3Link" + indexChild)' href='@(childMenu.MenuUrl + "?" + "Tab=" + firstMenu)' >
                                                    <span>@childMenu.Text </span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                    }

                            </div>
                            <!-- end sub menu-->
                        </div>

                        
                    </li>
                    }
                }
                firstMenu++;
            }
        }
        @*<div class="InforTitle">
            @Html.Partial("_LogOnPartial")
        </div>*@
    </ul>
</div>

 <!-- <div class="helpDocument">
        <a target ="_blank" href="/HelpArea/Help/Index" onmouseover="this.style.color='#F6D14F'" title="Click vào để xem hướng dẫn sử dụng"  onmouseout="this.style.color='#FFF'" style="color:rgb(255, 255, 255); font-size:11px;">Hướng dẫn</a>
        @*<span onmouseover="this.style.color='#F6D14F'" title="Click vào để xem hướng dẫn sử dụng" onclick ="RedirectLink();"  onmouseout="this.style.color='#FFF'" style="color:rgb(255, 255, 255); font-size:11px;">Hướng dẫn</span>*@
    </div> -->

<script type="text/javascript">
    @Html.JsMinify(@<text>
    setCollapseButtonTitle();

    function setCollapseButtonTitle () {
        var is_collapsed = $(".page").hasClass("page-collapsing");
        if (is_collapsed) {
            console.log(1);
            $("#collapse-btn").attr("title", "Mở rộng");
        } else {
            $("#collapse-btn").attr("title", "Thu gọn");
        }
    }

    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    $(document).ready(function () {
        setActiveMenu();
        lastWidth = 0;
        resizeMenu();
        var tabIndex = GetURLParameter("Tab");
        if (tabIndex != null && tabIndex != undefined && tabIndex >= 0) {
            $(".ParentMenu").tabs("option", "selected", tabIndex);
        } else if (tabIndex != null && tabIndex != undefined){
            var tab = $("li[Tab=" + tabIndex + "]", $(".ParentMenu"));
            if (tab.length > 0)
            {
                var indexTab = $(tab).attr("indTab");
                $(".ParentMenu").tabs("option", "selected", indexTab);
            }
        }
        var autoShow = smas.getCookie("autoShow");
        var showMenu= localStorage["autoShow"];
        $('.ResetShow').fadeIn(200,
        function(){
            if (autoShow != undefined && autoShow != null) {
                if (showMenu != undefined && showMenu != null) {
                    if (autoShow != showMenu) {
                        autoShow = showMenu;
                        smas.setCookie("autoShow", true, 30);
                        
                    }
                }

                if (autoShow == 'true') {
                    StatusHover = false;
                    CloseMenu();
                    $("#chkAuto").attr("checked", "");
                    localStorage["autoShow"] = true;
                } else {

                    $("#chkAuto").removeAttr("checked");
                    localStorage["autoShow"] = false;
                }
            }
            else {
                smas.setCookie("autoShow", true, 30);
                localStorage["autoShow"] = true;
                StatusHover = false;
            }
        }
            );

        //Menu collapse
        $("#collapse-btn").on('click', function () {
            var is_collapsed = $(".page").hasClass("page-collapsing");
            if (is_collapsed) {
                $(".page").removeClass("page-collapsing");
            } else {
                $(".page").addClass("page-collapsing");
                $(".dropdown-container").css('display', 'none');
                $(".dropdown-btn .fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
                $(".page-collapsing .page-menu .main-menu ul li").removeClass("active");
            }
            setActiveMenu();
            setCollapseButtonTitle();
        });

        //Menu dropdown
        $(".dropdown-btn").on('click', function () {
            var id = $(this).attr('id');
            var is_collapsed = $(".page").hasClass("page-collapsing");
            var is_submenu = $(this).hasClass("item");
            var dropdown_content = $(".dropdown-container[id=" + id + "]");
            
            if (dropdown_content.css('display') == 'none') {
                if (is_collapsed) {
                    if (!is_submenu) {
                        $(".dropdown-container").css('display', 'none');
                        $(".page-collapsing .page-menu .main-menu ul li").removeClass("active");
                        $(this).parent().addClass("active");
                        $(".dropdown-btn .fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
                        var position = $(this).position();
                        dropdown_content.css("height", "calc(100vh - " + (position.top -10) + "px");
                    }
                }
                dropdown_content.css('display', 'block');
                $(this).find(".fa-angle-right").removeClass("fa-angle-right").addClass("fa-angle-down");
            } else {
                if (is_collapsed) {
                    $(this).parent().removeClass("active");
                    setActiveMenu();
                }
                dropdown_content.css('display', 'none');
                $(this).find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
            }
        });

        // Screen resize event
        var lastWidth = 0;
        $( window ).resize(function() {
            resizeMenu();
        });

        function resizeMenu () {
            var WIDTH = 1024;
            var page = $(".page");
            var currentWidth = $(window).width();
            if (currentWidth > WIDTH) {
                if(lastWidth < WIDTH) page.removeClass("page-collapsing");
            }
            if (currentWidth <= WIDTH) {
                if(lastWidth > currentWidth || lastWidth == 0) page.addClass("page-collapsing");
            }
            lastWidth = currentWidth;
        };

        function setActiveMenu() {
            var is_collapsed = $(".page").hasClass("page-collapsing");
            var current = location.pathname;

            $('.page-menu .main-menu ul li .dropdown-container .item a').each(function () {
                var $this = $(this);
                // if the current path is like this link, make it active
                if ($this.attr('href') && current != "/" && $this.attr('href').indexOf(current) !== -1) {
                    $this.parent().addClass('active');
                }
            });
        };

    });


    function CloseMenu() {
        $("#colapseFunc").removeClass("Sclose");
        $("#colapseFunc").addClass("Eclose");
        $(document).ready(function () {
            var j;
            var move = false;
            $(document).mousemove(function () {
                move = true;
                if (!justHidden) {
                    justHidden = false;
                    clearTimeout(j);
                    $('html').css({ cursor: 'default' });
                    j = setTimeout(function () { if (!StatusHover && $("#chkAuto").is(":checked")) { $("[id*=tabs]").slideUp(1000); $(".TabChildMenu").hide("fast"); } }, 4000);
                }
            });
            if (!move) {
                j = setTimeout(function () { if (!StatusHover && $("#chkAuto").is(":checked")) { $("[id*=tabs]").slideUp(1000); $(".TabChildMenu").hide("fast"); } }, 4000);
            }
        });
    }

    function changeCheckAuto(chk) {
        if ($(chk).is(":checked")) {
            localStorage["autoShow"] = true;
            smas.setCookie("autoShow", true, 30);
        } else {
            localStorage["autoShow"] = false;
            smas.setCookie("autoShow", false, 30);
        }
    }
    function functionPath(textPath) {
        $.post('/Home/SetVariable',
           { key: "PathMenu", value: textPath }, function (data) {
           });
    }

    $("#linkItem0").click(function () {
        window.location.href = '/Home' + '@Urlx';
    })
    var param = 0;
    var StatusHover = true;
    var MenuHover = true;
    var j;
    var idLink;
    $(".LinkTab").hover(function () {
        MenuHover = true;
        idLink = $(this).attr("id");
        var ObjMenu = $(this);
        var autoShow = localStorage["autoShow"];
        var obj = $(this);
        //if (autoShow == 'true')
        {
            j = setTimeout(function () {
                //if (MenuHover && autoShow == 'true' && $(obj).attr("id") == idLink) {
                if (MenuHover && $(obj).attr("id") == idLink && autoShow == 'true') {
                    $("#" + idLink).click();
                }
            }, 1000);
        }
    });
    $(".LinkTab").mouseleave(function () {
        clearTimeout(j);
        MenuHover = false;
    });
    $(".Navigation").hover(function () {
        var autoShow = localStorage["autoShow"];
        StatusHover = true;
        if ($("#colapseFunc").hasClass("Eclose") && autoShow=='true') {
            $("#colapseFunc").removeClass("Eclose");
            $("#colapseFunc").addClass("Sclose");
            setTimeout(function () {
                if (StatusHover) {
                    $("[id*=tabs]").slideDown("fast");
                    $(".TabChildMenu").show("fast");
                }
            }, 200);
            
        }
        
    });
    var justHidden = false;
    $("#header").mouseleave(function () {
        var autoShow = localStorage["autoShow"];
        StatusHover = false;
        if ($("#colapseFunc").hasClass("Sclose") && autoShow == 'true') {
            $("#colapseFunc").removeClass("Sclose");
            $("#colapseFunc").addClass("Eclose");

            $(document).ready(function () {
                var j;
                $(document).mousemove(function () {
                    if (!justHidden ) {
                        justHidden = false;
                        clearTimeout(j);
                        $('html').css({ cursor: 'default' });
                        j = setTimeout(function () { autoShow = localStorage["autoShow"]; if (!StatusHover && autoShow == 'true' && $("#chkAuto").is(":checked")) { $("[id*=tabs]").slideUp(1000); $(".TabChildMenu").hide("fast"); } }, 4000);
                    }
                });
            });
            
            
            
        }
    });
    </text>);
</script>
