﻿@using SMAS.Web.Utils
@{
    ViewBag.Title = "ProcessBar";
}

@*START processbar*@
<div id="OverLayLayout">
    @*div chua class overlay*@
</div>
<div id="processingDialogLayout" class="LoadingSection" style="display: none;">
    <div class="LoadingInSection">
        <img src="@Url.Content("~/Content/images/loading_new.gif")" width="32" height="32" alt="loading"/>
        @Res.Get("Common_Label_Processing")
    </div>
</div>
@*END processbar*@
