﻿@using SMAS.Web.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Areas.AcademicYearArea.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@{
    /*UserAccountID
    RoleID
    GroupID
    SchoolID
    AcademicYearID
    Semester
    AppliedLevel
    EducationLevel
    ClassID
    EducationLevels
    AppliedLevels*/

    GlobalInfo globalInfo = new GlobalInfo();
    List<AppliedLevel> lsAppliedLevel = new List<AppliedLevel>();
    string AppliedLevelName = "";
    if (globalInfo.UserAccountID != 0 || globalInfo.ClassID != null)
    {
        //cap hoc
        /*Nếu là người dùng trường học:
            o	Nếu là người dùng thường: 
                    - Cấp học (UserInfo.Appliedlevel)
            o	Nếu là người dùng cấp admin: 
                    - Cấp học: combobox chọn cấp học (UserInfo.Appliedlevels) */
        if (globalInfo.IsSchoolRole)
        {
            //if (globalInfo.IsAdmin)
            {
                // lay tat ca cac AppliedLevel
                ListAppliedLevel allAppliedLevel = new ListAppliedLevel();
                //lay appliedLevel theo thong tin trong session
                if (globalInfo.AppliedLevels != null)
                {
                    lsAppliedLevel = allAppliedLevel.GetListAppliedLevel(globalInfo.AppliedLevels);
                    //Neu da biet cap hoc
                    if (globalInfo.AppliedLevel.HasValue)
                    {
                        globalInfo.Selected_appliedLevel_Index = lsAppliedLevel.IndexOf(lsAppliedLevel.Where(ap => ap.AppliedLevelID == globalInfo.AppliedLevel.Value).First());
                    }
                    lsAppliedLevel = lsAppliedLevel.ToList();
                }
            }
            //else
            //{
            //    //neu ko phai admin truong
            //    // lay tat ca cac AppliedLevel
            //    ListAppliedLevel allAppliedLevel = new ListAppliedLevel();
            //    if (globalInfo.AppliedLevel.HasValue)
            //    {
            //        AppliedLevelName = allAppliedLevel.GetAppliedName(globalInfo.AppliedLevel.Value);
            //    }
            //}
        }

    }
    IEnumerable<SelectListItem> listAcaForm = Session[GlobalConstants.LIST_ACADEMICYEAR] as IEnumerable<SelectListItem>;
    // listAcaForm = listAcaForm.OrderBy(o => int.Parse(o.Text.Substring(0, 4)));
    /*
    if (globalInfo.IsSchoolRole && listAcaForm != null && listAcaForm.Count() > 0)
    {
        selectListAcaForm = new SelectList(listAcaForm, "Value", "Text", listAcaForm.ElementAt(globalInfo.Selected_academicYear_Index));
    }*/

}
@using (Html.BeginForm("ResetAcademicYear", "Home", new { area = "" }, FormMethod.Post, new { id = "resetFunctionPathForm" }))
{         
    @Html.AntiForgeryToken()
    <div style="padding-top: 3px">
        <table>
            <tr>
                <td style="vertical-align: middle">
                    @{
    if (!String.IsNullOrEmpty(globalInfo.FunctionPath))
    {
        string Path = globalInfo.FunctionPath.ToString().Replace(">>", ">");
        string[] ArrayPath = Path.Split('>');
                        <text><div class="Breadcrum">
                            @if (ArrayPath.Length <= 1)
                            {
                                @((string)globalInfo.FunctionPath) 
                            }
                            else
                            {
                                <ul class="ResetList BreadcrumList">
                                    @for (int i = 0; i < ArrayPath.Length; i++)
                                    {
                                        string cclass = "Sprite1";
                                        if (i == ArrayPath.Length - 1)
                                        {
                                            cclass = "";
                                        }
                                        if (i == 0)
                                        {
                                        <li class="Parent">
                                            <span class="@cclass">@ArrayPath[i].ToString()</span>
                                        </li>
                                        }
                                        else
                                        {
                                        <li class="EndItem">
                                            <span class="@cclass">@ArrayPath[i].ToString()</span>
                                        </li>
                                        }
                                    }
                                </ul>
                            }

                        </div>
                        </text>
    }
    else
    {
        string showDate = String.Format("{0}, ngày {1}", SMAS.Web.Utils.Utils.GetDayVN(DateTime.Now.DayOfWeek), DateTime.Now.ToString("dd/MM/yyyy"));
        <text>
                <label class="LabelStyle Label1Style" style="padding-left:5px;">@showDate</label>
        </text>
    }
                    }
                </td>
                 @{
                        if (globalInfo.Survey != null && !globalInfo.IsSystemAdmin)
                        {
                            <td style="vertical-align:middle;color: red; padding-right:40px;padding-bottom:5px; font-size: 10pt;width:35%">
                            <marquee behavior="scroll" scrollamount="3" direction="left" width="100%"><a href="@Url.Action("ViewSurvey", "Survey", new {area = "SurveyArea", id = globalInfo.Survey.SurveyID})" target="_blank">@globalInfo.Survey.Title</a></marquee>
                            </td>
                        }
                    }
                
                <td align="right" width="35%" style="vertical-align: middle">
                    <!--Department Info
                    *	Nếu là nhân viên quản trị hệ thống – Để trống
                    *	Nếu là người dùng phòng/sở: hiển thị tên phòng/sở mà nhân viên 
                    trực thuộc hoặc được gán với account đăng nhập
                    *   •	Nếu là người dùng trường học:
                            o	Nếu là người dùng thường: hiển thị Tên trường 
                            o	Nếu là người dùng cấp admin: hiển thị Tên trường 
                 -->
                    <table>
                        <tr>
                            @{
                        if (globalInfo.IsSuperRole)
                        {
                                <text></text>
                        }
                            }
                            <!--
                            * Nếu là người dùng trường học:
                                o	Nếu là người dùng thường: 
                                     - Cấp học (UserInfo.Appliedlevel)
                                o	Nếu là người dùng cấp admin: 
                                     - Cấp học: combobox chọn cấp học (UserInfo.Appliedlevels)
                        -->
                            @{
                        if (globalInfo.IsSchoolRole)
                        {
                            if (lsAppliedLevel.Count() > 0)
                            {
                                <td>
                                    <label class="LabelStyle Label1Style">
                                        Cấp học</label>
                                    <div style="float: left" class="AppliedlevelDiv">
                                        @Html.ViettelCombobox(" ", "cboAppliedLevel",
                new SelectList(lsAppliedLevel, "AppliedLevelID", "AppliedLevelName", globalInfo.AppliedLevel),
                2, new Dictionary<string, object> { { "OnChange", "cboLayout_onChange()" }, { "style", "width:110px" } },
                false, false)
                                    </div>
                                </td>
                                
                            }

                        }
                        else if (globalInfo.IsSuperVisingDeptRole)
                        {
@*<text><span class="vt-dept-name">@globalInfo.SuperVisingDeptName</span></text>*@
                        }
                        else if (globalInfo.IsSchoolRole)
                        {
                                <td>
                                    @*<text><span class="vt-school-name">@globalInfo.SchoolName</span></text>*@
                                </td>
                        }                        
                            }
                            <!--
                        Nếu là người dùng trường học:
                                    o	Nếu là người dùng thường: 
                                        -  Năm học:  combobox chọn năm học (hiển thị theo kiểu 2000-2001, 2001-2002)
                                    o	Nếu là người dùng cấp admin:                           
                                        -  Năm học: combobox chọn năm học (hiển thị theo kiểu 2000-2001, 2001-2002)

                        -->
                            <td>
                                <div class="vt-academic-year">
                                    @{
                        if (globalInfo.IsSchoolRole)
                        {
                            if (listAcaForm == null)
                            {
                                listAcaForm = new List<SelectListItem>();
                            }
                            string selectedVal = null;
                            if (listAcaForm.Count() > 0)
                            {

                                SelectListItem itemSelected = listAcaForm.ElementAt(globalInfo.Selected_academicYear_Index);
                                selectedVal = itemSelected.Value;

                            }
                                        <label class="LabelStyle Label1Style">@Res.Get("Common_Label_AcademicYear")</label>
                                        <div style="float: right">
                                            @Html.ViettelCombobox("",
                                         "cboAcademicYear",
                                            new SelectList(listAcaForm, "Value", "Text", selectedVal),
                                         2,
                                            new Dictionary<string, object> { { "OnChange", "cboLayout_onChangAcademicYear()" } },
                                         false, false)
                                        </div>
       
                            // Comment lai do dung ViettelCombobox
                            //* <div class="vt-academic-year"> @Res.Get("Common_Label_AcademicYear"):  </div>   
                            /*            Html.Telerik().ComboBox()
                                         .Name("cboAcademicYear")
                                           .BindTo(listAcaForm)
                                          .SelectedIndex(globalInfo.Selected_academicYear_Index)
                                          .ClientEvents(events => events.OnChange("cboAcademicYear_onChange"))
                                          .Render(); */

                        }                            
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </div>

}
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function cboLayout_onChange() {
        var form = $('#resetFunctionPathForm');
        form.submit();
    }

    function cboLayout_onChangAcademicYear() {
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '/Home/ChangeAcademicYear',
            type: 'post',
            data: { AcademicYearID: $("#resetFunctionPathForm #cboAcademicYear").val(), __RequestVerificationToken: token },
            beforeSend: function () {

            },
            success: function (msg) {
                formUtils.resetForm("content");
                if (document.URL.indexOf('Home/AuthorizeAdmin') > 0 || document.URL.indexOf('Home/Logon') > 0 || document.URL.indexOf('Home/CheckLoginStatus') > 0) {
                    window.location = "/Home/Index";
                } else {
                    location.reload();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    </text>);

    (function ($) {
        $.fn.marquee = function (klass) {
            var newMarquee = [],
                last = this.length;

            // works out the left or right hand reset position, based on scroll
            // behavior, current direction and new direction
            function getReset(newDir, marqueeRedux, marqueeState) {
                var behavior = marqueeState.behavior, width = marqueeState.width, dir = marqueeState.dir;
                var r = 0;
                if (behavior == 'alternate') {
                    r = newDir == 1 ? marqueeRedux[marqueeState.widthAxis] - (width * 2) : width;
                } else if (behavior == 'slide') {
                    if (newDir == -1) {
                        r = dir == -1 ? marqueeRedux[marqueeState.widthAxis] : width;
                    } else {
                        r = dir == -1 ? marqueeRedux[marqueeState.widthAxis] - (width * 2) : 0;
                    }
                } else {
                    r = newDir == -1 ? marqueeRedux[marqueeState.widthAxis] : 0;
                }
                return r;
            }

            // single "thread" animation
            function animateMarquee() {
                var i = newMarquee.length,
                    marqueeRedux = null,
                    $marqueeRedux = null,
                    marqueeState = {},
                    newMarqueeList = [],
                    hitedge = false;

                while (i--) {
                    marqueeRedux = newMarquee[i];
                    $marqueeRedux = $(marqueeRedux);
                    marqueeState = $marqueeRedux.data('marqueeState');

                    if ($marqueeRedux.data('paused') !== true) {
                        // TODO read scrollamount, dir, behavior, loops and last from data
                        marqueeRedux[marqueeState.axis] += (marqueeState.scrollamount * marqueeState.dir);

                        // only true if it's hit the end
                        hitedge = marqueeState.dir == -1 ? marqueeRedux[marqueeState.axis] <= getReset(marqueeState.dir * -1, marqueeRedux, marqueeState) : marqueeRedux[marqueeState.axis] >= getReset(marqueeState.dir * -1, marqueeRedux, marqueeState);

                        if ((marqueeState.behavior == 'scroll' && marqueeState.last == marqueeRedux[marqueeState.axis]) || (marqueeState.behavior == 'alternate' && hitedge && marqueeState.last != -1) || (marqueeState.behavior == 'slide' && hitedge && marqueeState.last != -1)) {
                            if (marqueeState.behavior == 'alternate') {
                                marqueeState.dir *= -1; // flip
                            }
                            marqueeState.last = -1;

                            $marqueeRedux.trigger('stop');

                            marqueeState.loops--;
                            if (marqueeState.loops === 0) {
                                if (marqueeState.behavior != 'slide') {
                                    marqueeRedux[marqueeState.axis] = getReset(marqueeState.dir, marqueeRedux, marqueeState);
                                } else {
                                    // corrects the position
                                    marqueeRedux[marqueeState.axis] = getReset(marqueeState.dir * -1, marqueeRedux, marqueeState);
                                }

                                $marqueeRedux.trigger('end');
                            } else {
                                // keep this marquee going
                                newMarqueeList.push(marqueeRedux);
                                $marqueeRedux.trigger('start');
                                marqueeRedux[marqueeState.axis] = getReset(marqueeState.dir, marqueeRedux, marqueeState);
                            }
                        } else {
                            newMarqueeList.push(marqueeRedux);
                        }
                        marqueeState.last = marqueeRedux[marqueeState.axis];

                        // store updated state only if we ran an animation
                        $marqueeRedux.data('marqueeState', marqueeState);
                    } else {
                        // even though it's paused, keep it in the list
                        newMarqueeList.push(marqueeRedux);
                    }
                }

                newMarquee = newMarqueeList;

                if (newMarquee.length) {
                    setTimeout(animateMarquee, 25);
                }
            }

            // TODO consider whether using .html() in the wrapping process could lead to loosing predefined events...
            this.each(function (i) {
                var $marquee = $(this),
                    width = $marquee.attr('width') || $marquee.width(),
                    height = $marquee.attr('height') || $marquee.height(),
                    $marqueeRedux = $marquee.after('<div ' + (klass ? 'class="' + klass + '" ' : '') + 'style="display: block-inline; width: ' + width + 'px; height: ' + height + 'px; overflow: hidden;"><div style="float: left; white-space: nowrap;">' + $marquee.html() + '</div></div>').next(),
                    marqueeRedux = $marqueeRedux.get(0),
                    hitedge = 0,
                    direction = ($marquee.attr('direction') || 'left').toLowerCase(),
                    marqueeState = {
                        dir: /down|right/.test(direction) ? -1 : 1,
                        axis: /left|right/.test(direction) ? 'scrollLeft' : 'scrollTop',
                        widthAxis: /left|right/.test(direction) ? 'scrollWidth' : 'scrollHeight',
                        last: -1,
                        loops: $marquee.attr('loop') || -1,
                        scrollamount: $marquee.attr('scrollamount') || this.scrollAmount || 2,
                        behavior: ($marquee.attr('behavior') || 'scroll').toLowerCase(),
                        width: /left|right/.test(direction) ? width : height
                    };

                // corrects a bug in Firefox - the default loops for slide is -1
                if ($marquee.attr('loop') == -1 && marqueeState.behavior == 'slide') {
                    marqueeState.loops = 1;
                }

                $marquee.remove();

                // add padding
                if (/left|right/.test(direction)) {
                    $marqueeRedux.find('> div').css('padding', '0 ' + width + 'px');
                } else {
                    $marqueeRedux.find('> div').css('padding', height + 'px 0');
                }

                // events
                $marqueeRedux.bind('stop', function () {
                    $marqueeRedux.data('paused', true);
                }).bind('pause', function () {
                    $marqueeRedux.data('paused', true);
                }).bind('start', function () {
                    $marqueeRedux.data('paused', false);
                }).bind('unpause', function () {
                    $marqueeRedux.data('paused', false);
                }).data('marqueeState', marqueeState); // finally: store the state

                // todo - rerender event allowing us to do an ajax hit and redraw the marquee

                newMarquee.push(marqueeRedux);

                marqueeRedux[marqueeState.axis] = getReset(marqueeState.dir, marqueeRedux, marqueeState);
                $marqueeRedux.trigger('start');

                // on the very last marquee, trigger the animation
                if (i + 1 == last) {
                    animateMarquee();
                }
            });

            return $(newMarquee);
        };
    }(jQuery));

</script>
<style>
    .vt-dept-name {
        font-weight: 700;
    }

    .BreadcrumFunc {
        vertical-align: middle;
        height: auto;
    }

        .BreadcrumFunc select {
            vertical-align: middle;
            height: 23px;
        }
</style>
