﻿@*
* Banner infor, notificationInbox, privateNotification
* HaiVT
* 08/06/2013
*@
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Models

@{
    string samlRequest = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["IsSSOLogin"] != null && System.Configuration.ConfigurationManager.AppSettings["IsSSOLogin"].Equals("true"))
    {
        string assertionConsumerServiceUrl = System.Configuration.ConfigurationManager.AppSettings["assertionConsumerServiceUrl"].ToString();
        string serviceProviderIdentity = System.Configuration.ConfigurationManager.AppSettings["serviceProviderIdentity"].ToString();
        string serviceProviderName = System.Configuration.ConfigurationManager.AppSettings["serviceProviderName"].ToString();
        string certificateLocation = (System.Configuration.ConfigurationManager.AppSettings["certificateLocation"] ?? string.Empty).ToString();
        System.Security.Cryptography.X509Certificates.X509Certificate2 signingCert = Core.SAML.Library.CertificateUtility.GetCertificateForSigning(@certificateLocation, "12345678");
        samlRequest = HttpContext.Current.Server.UrlEncode(Core.SAML.Library.SAML20Assertion.CreateSAML20LogoutRequest(serviceProviderIdentity, "Recipient", assertionConsumerServiceUrl, serviceProviderName, signingCert));
    }
}

<div id="BannerDivNF">
    <div class="InfoSchool">
        <h1>
            <a href="/" class="Sprite1">
                @{ 
                    GlobalInfo globalInfo = new GlobalInfo();
                    if (globalInfo.IsSuperRole)
                    {
                    <text></text>
                    }
                    else if (globalInfo.IsSuperVisingDeptRole)
                    {
                    <text>@globalInfo.SuperVisingDeptName</text>
                    }
                    else if (globalInfo.IsSchoolRole)
                    {
                    <text>@globalInfo.SchoolName</text>
            
                    }
                    else
                    {
                    <text>@globalInfo.SchoolName</text>    
                    }
                }
            </a>
        </h1>
    </div>
    <div id="AccountFuncNF" class="AccountFunc" style="z-index: 21;">
        <ul class="ResetList AccountFuncList">
            <li class="Item1"><a class="Item1" href="javascript:">
                @{
                    //O man hinh chon cap hoc: 
                    //vi khi chua chon cap hoc khong the map giua RoleID va AppliedID 
                    //Nen kiem tra neu EmployeeName != NullOrEmpty thi hien ten employee                    
                    if (!string.IsNullOrEmpty(globalInfo.EmployeeName))
                    {
                    <text>@globalInfo.EmployeeName</text>     
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                    <text>@User.Identity.Name</text>    
                    }
                    else if (Session[GlobalConstants.USERNAME] != null)
                    {
                    <text>@Session[GlobalConstants.USERNAME].ToString()</text>
                    }
                }
            </a></li>
            <li class="Item2">
                <div id="NumOfSMSNotificationDiv" style="display: none">
                </div>
            </li>
            <li class="Item3"><a class="Sprite1 EndItem" href="javascript:" onclick="showPrivateNotification()">
                <img src="@Url.Action("GetEmployeeImage", "Home", new { area = "", id = globalInfo.EmployeeID, isAdmin = string.IsNullOrEmpty(globalInfo.EmployeeName) ? true : false })" width="40" height="40" alt="Avatar" />
            </a></li>
        </ul>
        <div id="privateNotificationDiv">
            @Html.Partial("_PrivateNotification", new ChangePasswordModel { })
        </div>
        <div id="NotificationInboxLoading" class="MessageBoxSection" style="display: none;">
            <div class="ChildMenuSectionList" style="text-align: center;">
                <a class="Sprite3 ItemLoading">&nbsp;</a>
                <img width="16" height="11" alt="loading..." src="@Url.Content("~/Content/images/icon_loading.gif")"/>
            </div>
        </div>
        @*List mailbox*@
        <div id="NotificationInbox">
        </div>
    </div>
    <div class="Clear">
    </div>
</div>

<script type="text/javascript"> 
    @Html.JsMinify(@<text>
    var ishowNotification = true; //dang show inbox
    var isShowPrivateNotification = true; // dhow private        
    var numOfSMSNotification; // so dien nhan chua doc
    //prefix to sendSMS
    var preFixNotification = stringUtils.HtmlDecode('@globalInfo.SchoolName');
    //dung de check khi gui tin nhan
    var contactGroupCode = '';

    //refresh notitication when load page
    $(document).ready(function () {

        //RefreshNotificationPartial();

        //        setInterval(function () {
        //            RefreshNotificationPartial();
        //        }, 30000);
    });

    // LogOff khoi he thong
    function logOffNF() {
        smas.showProcessingDialog();
        if ($.cookie('isSmsEduAvailable') == '1' && '@samlRequest'.length > 0) {
            var ifr = $('<iframe/>', {
                id: 'iframeLOSSORS',
                src: '@System.Configuration.ConfigurationManager.AppSettings["smsEduUrl"]/SSOServices/LogOff?sr=@samlRequest',
                style: 'display:none',
                load: function () {
                    $.cookie('isSmsEduAvailable', '');
                    window.location.href = '@Url.Action("LogOff", "Home", new { area = "" })';
                }
            });
            $('body').append(ifr);
        }
        else {
            window.location.href = '@Url.Action("LogOff", "Home", new { area = "" })';
        }
    }

    //new sms when select radio
    function SendNewSMSNF() {
        var isCheck = $('.MsgBtmFirstCols #RadioToParentNF:checked').val();
        if (isCheck == 'on') {
            window.location.href = '@Url.Action("Index", "SCSSendSMSToParentPupil", new { area = "SCSSendSMSToParentPupilArea" })';
        }
        else {
            window.location.href = '@Url.Action("Index", "SendSMSToGroup", new { area = "SCSSendSMSToGroupArea" })';
        }
    }

    //refesh lai tin nhan chua doc
    function RefreshNotificationPartial() {
        $.post('@Url.Action("RefreshNotificationPartial", "Notification", new { area = "" })', function (data) {
            $('#NumOfSMSNotificationDiv').html(data);
        });
    }

    //click outSide notification - hide notification - HTML Event
    $('html').click(function () {
        $('#ListNotificationInbox').fadeOut();
        $('#PrivateNotification').fadeOut();
        $('#ChangePassNotification').fadeOut();
        $('#NotificationInbox .MessageBox2Section').fadeOut();

        //reset variable
        ishowNotification = true;
        isShowPrivateNotification = true;

    });

    //stopPropagation onclick event html - when click notifiacation and privateNotification
    $('#AccountFuncNF').click(function (e) {
        e.stopPropagation();
    });

    //show notification mail inbox
    function showNotificationInbox() {
        //set trang thai click -> se an notification, show privateNotification
        isShowPrivateNotification = true;
        $('#PrivateNotification').fadeOut();
        $('#ChangePassNotification').fadeOut();
        $("#NotificationInboxLoading").hide();
        if (ishowNotification) {
            $("#NotificationInboxLoading").show();
            var textUrl = '@Url.Action("GetNotificationInbox", "Notification", new { area = "", numSMS = "numOfSMS" })';
                numOfSMSNotification = $('#NumOfSMSNotification').text().trim();
                textUrl = textUrl.replace('numOfSMS', numOfSMSNotification);
                $.post(textUrl, function (data) {
                    $('#NotificationInbox').html(data);
                    $("#NotificationInboxLoading").hide();
                });
            //set trang thai click -> an notification
                ishowNotification = false;
            }
            else {
                $('#ListNotificationInbox').fadeOut();
                $('#NotificationInbox .MessageBox2Section').fadeOut();
            //set trag thai click -> hien notification
                ishowNotification = true;
            }
        }

        //show detail mail box
        function showDetailNotificationInbox(idValue, object, contactGroupName) {
            //contactGroupCode prefix textArea
            contactGroupCode = stringUtils.StripVNSign(contactGroupName.trim().toLowerCase().replaceAll(' ', ''));
            if (contactGroupCode.length > 0) {
                preFixNotification = schoolNameSendSMS + '-' + contactGroupCode + ': ';
            }
            else {
                preFixNotification = schoolNameSendSMS + ': ';
            }
            numOfSMSNotification = $('#NumOfSMSNotification').text().trim();
            var textUrl = '@Url.Action("UpdateSMSStatusNotification", "Notification", new { area = "", id = "idValue" })';
        textUrl = textUrl.replace('idValue', idValue);
        $.post(textUrl);
        $('#ListNotificationInbox').fadeOut();
        $('#DetailNotificationInbox-' + idValue).fadeIn();
        $(object).removeClass('NewMsgItem');
        //refresh lai unread sms
        RefreshNotificationPartial();
        //set preFix cho textArea
    }

    //back to mail box
    function backToNotificationInbox(id) {
        $('#NotificationInbox .MessageBox2Section').fadeOut();
        $('#ListNotificationInbox').fadeIn();
    }

    //gui sms
    function SendSMSNotification(id, idSenderValue, idReceiverValue, typeValue) {
        //an button gui
        $('#NotificationInbox .btnStyleNofitication-' + id).attr('disabled', 'disabled');
        $('#ImgNotification-' + id).show();
        $('#MsgNotification-' + id).html('');
        var content = $('#textarea-' + id).val().trim();
        var textUrl = '@Url.Action("SendSMSNotification", "Notification", new { area = "" })';
        textUrl = textUrl + '?senderID=' + idSenderValue + '&receiverID=' + idReceiverValue + '&content=' + content + '&type=' + typeValue + '&contactGroupName=' + contactGroupCode;
        $.post(textUrl, function (data) {
            if (data.isSuccess) {
                $('#MsgNotification-' + id).parent().parent().removeClass('ErrorMsgSection');
                $('#MsgNotification-' + id).parent().parent().addClass('SuccessMsgSection');
            }
            else {
                $('#MsgNotification-' + id).parent().parent().removeClass('SuccessMsgSection');
                $('#MsgNotification-' + id).parent().parent().addClass('ErrorMsgSection');
            }
            $('#MsgNotification-' + id).html(data.msg);
            $('#ImgNotification-' + id).hide();
            //hien button gui
            $('#NotificationInbox .btnStyleNofitication-' + id).removeAttr('disabled');
        });
    }

    //validation sms
    function validationSMSNotification(id) {
        //fix prefix
        $('#MsgNotification-' + id).html('');
        var content = $('#textarea-' + id).val();
        //max length 1280
        if (content.length > 1280) {
            content = content.substring(0, 1280);
            $('#textarea-' + id).val(content);
        }

        var SubPrefixNotification = content.substring(0, preFixNotification.length);
        if (SubPrefixNotification != preFixNotification) {
            $('#textarea-' + id).val(preFixNotification + content.substring(preFixNotification.length + 1, content.length));
            $('#MsgNotification-' + id).html('@Res.Get("Home_Notification_Lable_PreFix_Error")');
            $('#MsgNotification-' + id).parent().parent().removeClass('SuccessMsgSection');
            $('#MsgNotification-' + id).parent().parent().addClass('ErrorMsgSection');
        }
        else {
            $('#MsgNotification-' + id).html('');
            $('#MsgNotification-' + id).parent().parent().removeClass('ErrorMsgSection');
            $('#MsgNotification-' + id).parent().parent().addClass('SuccessMsgSection');
        }

        //count sms
        var lengthContent = $('#textarea-' + id).val().trim().length;
        $('#TxtLengthNofitication-' + id).html(lengthContent);
        if (lengthContent % 160 == 0) {
            $('#SMSCountNotification-' + id).html(lengthContent / 160 + 1);
        }
        else {
            $('#SMSCountNotification-' + id).html(parseInt(lengthContent / 160) + 1);
        }

        //disable button neu chua nhap noi dung - so sanh voi prefix
        if ($('#textarea-' + id).val().trim() == preFixNotification.trim()) {
            $('#NotificationInbox .btnStyleNofitication-' + id).attr('disabled', 'disabled');
        }
        else {
            $('#NotificationInbox .btnStyleNofitication-' + id).removeAttr('disabled');
        }
    }

    /*
    *Start privateNotification region
    */
    //show private Notification event - li event on click
    function showPrivateNotification() {


        //set trang thai click Notification -> hien notification, an privateNotification
        ishowNotification = true;
        $('#ListNotificationInbox').fadeOut();
        $('#NotificationInbox .MessageBox2Section').fadeOut();

        if (isShowPrivateNotification) {
            $('#PrivateNotification').fadeIn();
            $('#ChangePassNotification').fadeOut();
            //set trang thai click -> an privateNotification
            isShowPrivateNotification = false;
        }
        else {
            $('#PrivateNotification').fadeOut();
            $('#ChangePassNotification').fadeOut();
            //set trang thai click -> hien privateNotification
            isShowPrivateNotification = true;
        }
    }

    //show changepass
    function showChangePassNotification() {
        ReloadCapchaImageChangePass();
        $('#PrivateNotification').fadeOut();
        $('#ChangePassNotification').fadeIn();
        $("#MsgChangePassValidNF").html('');
        ResetFormChangePass();
    }

    //back to private
    function backPrivateNotification() {
        $('#ChangePassNotification').fadeOut();
        $('#PrivateNotification').fadeIn();
    }

    //show process bar when change pass
    function showProcessChangePassNF() {
        //Todo
        $('#MsgChangePassValidNF').html('');
        $('#ImgChangePasswrodNotification').show();
    }

    //hide process after chang pass
    function hideProcessChangePassNF() {
        //Todo
        $('#ImgChangePasswrodNotification').hide();
    }

    //change password success
    function successChangePassNotification(data) {

        //if (data.trim() == stringUtils.HtmlDecode('@Res.Get("Home_Notification_Label_ChangePassword_Success")').trim()) {
        $('#MsgChangePassValidNF').html(data.Message);
        ReloadCapchaImageChangePass();
        if (data.Type == 'error') {
            $('#MsgChangePassValidNF').css('color', 'red');
        } else {
            $('#MsgChangePassValidNF').css('color', 'green');
        }
        ResetFormChangePass();
        //}
        //else {
        //    $('#MsgChangePassValidNF').removeAttr('style');
        //    $('#MsgChangePassValidNF').html(data);
        //}
    }

    function ResetFormChangePass()
    {
        //reset input
        $('#ChangePassNotification #OldPassword').prop('type', 'text');
        $('#ChangePassNotification #OldPassword').addClass('PlaceHolder');
        $('#ChangePassNotification #OldPassword').val(stringUtils.HtmlDecode('@Res.Get("Home_Notification_Label_OldPasswordHint")'));

        $('#ChangePassNotification #NewPassword').prop('type', 'text');
        $('#ChangePassNotification #NewPassword').addClass('PlaceHolder');
        $('#ChangePassNotification #NewPassword').val(stringUtils.HtmlDecode('@Res.Get("Home_Notification_Label_NewPasswordHint")'));

        $('#ChangePassNotification #ConfirmPassword').prop('type', 'text');
        $('#ChangePassNotification #ConfirmPassword').addClass('PlaceHolder');
        $('#ChangePassNotification #ConfirmPassword').val(stringUtils.HtmlDecode('@Res.Get("Home_Notification_Label_ConfirmPasswordHint")'));

        $('#ChangePassNotification #CaptchaChangPass').prop('type', 'text');
        $('#ChangePassNotification #CaptchaChangPass').addClass('PlaceHolder');
        $('#ChangePassNotification #CaptchaChangPass').val(stringUtils.HtmlDecode('Mã xác thực'));
    }
        //event focus textbox password
        function TxtFocusNofitication(object) {
            if ($(object).prop('type') == 'text') {
                $(object).val('');
                $(object).prop('type', 'password');
                $(object).removeClass('PlaceHolder');
            }
        }

        

        //event blur textbox password
        function TxtBlurNofitication(object, hintTip) {
            if ($(object).prop('type') == 'password') {
                var txtValue = $(object).val().trim();
                if (txtValue == '') {
                    $(object).prop('type', 'text');
                    $(object).addClass('InputTextErrorStyle').addClass('PlaceHolder');
                    $(object).val(hintTip);
                @*$('#MsgChangePassValidNF').removeAttr('style');
                $('#MsgChangePassValidNF').html('@Res.Get("Home_Notification_Label_Password_Required")');    *@
            }
           @* else {
                if (txtValue.length < 8) {
                    $(object).addClass('InputTextErrorStyle');
                    $('#MsgChangePassValidNF').removeAttr('style');                   
                    $('#MsgChangePassValidNF').html('@Res.Get("Home_Notification_Label_Password_Maxlength")');                   
                }
                else {
                    $(object).removeClass('InputTextErrorStyle');
                }
            }*@
        }
    }

    //event press textbox password
    function TxtPressNotification(object) {
        if ($(object).prop('type') == 'password') {
            if ($(object).val().trim().length >= 8) {
                $(object).removeClass('InputTextErrorStyle').removeClass('PlaceHolder');
                $('#MsgChangePassValidNF').html('');
            }
        }
        return true;
    }

    //event focus textbox captcha
    function TxtFocusNofiticationCaptcha(object) {
        $(object).val('');
        $(object).prop('type', 'text');
        $(object).removeClass('PlaceHolder');
    }

    //event blur textbox captcha
    function TxtBlurNofiticationCaptcha(object, hintTip) {
        var txtValue = $(object).val().trim();
        if (txtValue == '') {
            $(object).prop('type', 'text');
            $(object).addClass('InputTextErrorStyle').addClass('PlaceHolder');
            $(object).val(hintTip);
        }
    }

    //event validation when press button save change password - button event
    function validateBtnNotification() {
        if ($('#ChangePassNotification #OldPassword').prop('type') == 'password'
            && $('#ChangePassNotification #NewPassword').prop('type') == 'password'
            && $('#ChangePassNotification #ConfirmPassword').prop('type') == 'password'
            ) {
            //check max length
            if ($('#ChangePassNotification #OldPassword').val().length < 8 || $('#ChangePassNotification #NewPassword').val().length < 8
                || $('#ChangePassNotification #ConfirmPassword').val().length < 8) {
                $('#MsgChangePassValidNF').removeAttr('style');
                $('#MsgChangePassValidNF').html('@Res.Get("Home_Notification_Label_Password_Maxlength")');
                return false;
            }
                //compare password
            else if ($('#ChangePassNotification #NewPassword').val() != $('#ChangePassNotification #ConfirmPassword').val()) {
                $('#MsgChangePassValidNF').removeAttr('style');
                $('#MsgChangePassValidNF').html('@Res.Get("Home_Notification_Label_Newpassword_Confirm")');
                return false;
            }
            else {
                $('#MsgChangePassValidNF').html('');
                return true;
            }
    }
    else {
        $('#MsgChangePassValidNF').removeAttr('style');
        $('#MsgChangePassValidNF').html('@Res.Get("Home_Notification_Label_ChangePassword_Error")');
            return false;
        }
    }

    function ReloadCapchaImageChangePass() {

        $.ajax({
            url: '/Home/LogonGetCapcha',
            type: 'post',
            beforeSend: function () {
            },
            success: function (msg) {
                setTimeout(function () { $("#PanelImage").html(msg); }, 200);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }

        });

    }
    /*
    *End change password region
    */
    </text>);
</script>
