﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.PrimaryTranscriptsArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.PrimaryTranscriptsArea
@using SMAS.Business.BusinessObject


<div class="editor-label">
    @Html.ViettelLabelFor(o => o.Pupil, new Dictionary<string, object>() { {"class", "label-for-required-field"} })
    <span style="color: red;">*</span>
</div>
<div class="editor-field">
    @{
        Html.Telerik().ComboBoxFor(m => m.Pupil)
            .Enable(true)
            .DataBinding(con => con.Ajax().Delay(500).Select("AjaxLoadPupil", "PrimaryTranscripts"))
            .ClientEvents(eventAction => eventAction.OnDataBinding("onPupilDataBinding").OnChange("onPupilChange").OnDataBound("onPupilDataBound"))
            .AutoFill(true)
            .HighlightFirstMatch(true)
            .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
            .OpenOnFocus(true)
            .InputHtmlAttributes(new { placeholder = Res.Get("PrimaryTranscripts_PlaceHolder_Pupil"), maxlength = 50 })
            .HtmlAttributes(new { @class = "drop-down-list" })
            .Render();
    }
    @Html.ValidationMessageFor(m => m.Pupil)
</div>

<script type="text/javascript">
    function onPupilDataBinding(e) {
        $(".drop-down-list .t-select").css("height", "24px");
        // Them cac tham so de lay danh sach hoc sinh
        var dropDownListClass = $('#frmReport #Class');
        var classID = $(dropDownListClass).val(); // Lay gia tri lop dang chon
        e.data = $.extend({}, e.data, { ClassID: classID });
    }

    function onPupilDataBound(e) {
        if (reloadingDropDownListPupil) {
            var dropDownListPupil = $('#Pupil').data('tComboBox');
            dropDownListPupil.value("");
            var pupilID = dropDownListPupil.value();
            if (isNaN(pupilID)) {
                return;
            }
            var found = false;
            $(dropDownListPupil.data).each(function (index, element) {
                if (element.Value == pupilID) {
                    found = true;
                }
            });
            if (found == false) {
                dropDownListPupil.value("");
            }
            reloadingDropDownListPupil = false;
        }        
    }

    function onPupilChange(e) {
        var dropDownListPupil = $('#Pupil').data('tComboBox');
        var pupilName = dropDownListPupil.text().trim();
        $(dropDownListPupil.data).each(function (index, element) {
            if (element.Text == pupilName || $.trim(pupilName) == '') {
                $("[name=Pupil-input]").removeClass("input-validation-error"); // Xoa border mau do quanh hop chon
                $("[data-valmsg-for=Pupil]").removeClass("field-validation-error").addClass("field-validation-valid"); // Xoa thong bao loi cua Pupil
            }
        });
    }

    var reloadingDropDownListPupil = false;
    function reloadDropDownListPupil() {
        var dropDownListPupil = $('#Pupil').data('tComboBox');
        reloadingDropDownListPupil = true;
        dropDownListPupil.reload();        
    }
</script>

<style type="text/css">
    /*label[for]{
        display:inline-block;
        width:120px;
    }*/
    .drop-down-list {
        background: initial !important;
        padding: initial !important;
        width: 230px !important;
        vertical-align: sub;
    }
    .drop-down-list .t-select {
        height:22px;
        padding:initial !important;
    }
    .t-button {
        background: -moz-linear-gradient(center bottom, #0f84d8 30%, #3ca0e8 70%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        margin: 5px!important;
    }
    .hide-selector span{
        display:none;
    }
    .label-for-required-field:after {
        color: red;
        content: "*";
    }
    .center{
        text-align:center;
    }
    .t-dropdown-wrap .t-icon {
        margin-top: 3px;
        vertical-align: top;
    }
</style>