﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilGraduationArea.Models

<div id="TemporaryGraduationPaperSearchPanel">
    @Html.Partial("../ApproveGraduation/_SearchTemporaryGraduation")
</div>

<div id="divTemporaryGraduationPaper">
</div>
