﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilGraduationArea.Models
@using SMAS.Web.Areas.PupilGraduationArea
@using SMAS.Web.Constants
@using (Ajax.BeginForm("Search",
                           "ApproveGraduation", null,
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstApproveGraduation",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmApproveSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title f-16">
            <span class="icon icon-search-file"></span>Thông tin tìm kiếm<span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1">
                    @Html.ViettelComboboxFor(u => u.ClassID, Res.Get("ClassProfile_Label_DisplayName"), ((IEnumerable<SelectListItem>)ViewData[PupilGraduationConstants.LIST_CLASS]), GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>(), false)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1 ">
                    @Html.ViettelEditorFor(model => model.PupilCode)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1 ">
                    @Html.ViettelEditorFor(model => model.FullName)
                </div>
            </div>      
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), new Dictionary<string, object> { { "id", "ApproveSearchButtonVisible" } }, "submit", "", "btn btn-info btn-round btn-icon btn-icon-search btn-long")
        </div>
    </div>
}
