﻿@model GridViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StatisticalPeriodicMarkOfPrimarySchoolArea.Models
@using SMAS.Web.Areas.StatisticalPeriodicMarkOfPrimarySchoolArea
@using SMAS.VTUtils.HtmlHelpers
<fieldset id="GridStatisticalPeriodic">
    @{
        var index = 1;
        Html.Telerik().Grid<GridViewModel>((IEnumerable<GridViewModel>)ViewData[StatisticalPeriodicMarkOfPrimarySchoolConstant.LIST_GRIDVIEWMODEL])
        .Name("GridStatisticalPeriodic")
         .DataKeys(keys => keys.Add(o => o.SchoolID))
        .DataBinding(dataBinding => dataBinding
             .Ajax()
                   .OperationMode(GridOperationMode.Client) // <-- set the operation mode
            //.Select("SelectMethod", "Controller")
        )
         .Columns(c =>
         {
             //cot STT
             c.Template(@<text>@(index++)</text>)
                 .ClientTemplate("<#= lstInd++ #>")
                 .Title(@Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center;" })
                 .HeaderHtmlAttributes(new { style = "text-align:center" });

             c.Bound(o => o.DistrictName).Visible((bool)ViewData[StatisticalPeriodicMarkOfPrimarySchoolConstant.ACCOUNTSO]).Width(60);
             c.Bound(o => o.SchoolName).Visible((bool)ViewData[StatisticalPeriodicMarkOfPrimarySchoolConstant.ACCOUNTPHONG]).Width(80);
             c.Bound(o => o.TotalSchool).Visible((bool)ViewData[StatisticalPeriodicMarkOfPrimarySchoolConstant.ACCOUNTSO]).Width(65);
             c.Bound(o => o.TotalTest).Width(55);

             Action<int> addAdjustmentColumn = (i) => {
                 if(i<20)
                 {
                     c.Template(d => d.MarkAll[i]).Title(string.Format("{0:0.0}", (decimal)i / 2)); 
                 }else
                 {
                     c.Template(d => d.MarkAll[i]).Title(string.Format("{0:0}", (decimal)i / 2)); 
                 }
             };
             for (int i = 0; i < 10; i++)
             {
                 addAdjustmentColumn(i);
             }

             c.Bound(o => o.BelowAverage).Width(50);
             c.Bound(o => o.PercentBelowAverage).Width(60);

             for (int i = 10; i <= 20; i++)
             {
                 addAdjustmentColumn(i);
             }

             c.Bound(o => o.AboveAverage).Width(50);
             c.Bound(o => o.PercentAboveAverage).Width(60);
         }
         )
          .Editable(editing => editing.Mode(GridEditMode.PopUp))
              .ClientEvents(events => events.OnDataBinding("Grid_onDataBinding"))
       .Selectable()
       .Scrollable(scrolling => scrolling.Enabled(true).Height("auto"))
       .Render();
    }
</fieldset>
<div style="text-align: right">
    @if ((bool)ViewData[StatisticalPeriodicMarkOfPrimarySchoolConstant.SHOW_EXCEL])
    {
        @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "button", "ExportExcel()", "")
    }
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        e.data = jsonUtils.serializeObject("frmSearch");
        var grid = $('#GridStatisticalPeriodic').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    function ExportExcel() {
    var AcademicYear = $("#frmSearch #AcademicYear").val();
       var Semester = $("#frmSearch #Semester").val();
          var EducationLevel = $("#frmSearch #EducationLevel").val();
             var TrainingType = $("#frmSearch #TrainingType").val();
                var Subject = $("#frmSearch #Subject").val();
                $.ajax({
                    url: '@Url.Action("ExportExcel", "StatisticalPeriodicMarkOfPrimarySchool")',
                    type: 'post',
                    data: { AcademicYear: AcademicYear, Semester: Semester, EducationLevel: EducationLevel, TrainingType: TrainingType, Subject: Subject },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        var downloadUrl = '@Url.Action("DownloadReport", "StatisticalPeriodicMarkOfPrimarySchool")';
                        window.location = downloadUrl + '?idProcessedReport=' + msg.Message;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
    }
</script>
<style type="text/css">
    #GridStatisticalPeriodic .t-link
    {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
</style>