﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTrainingScheduleArea.Models
@using SMAS.Web.Areas.ApprenticeshipTrainingScheduleArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("ApprenticeshipTrainingSchedule_Lable");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("Insert",
                           "ApprenticeshipTrainingSchedule",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstApprenticeshipTrainingSchedule",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmSearch" }))
{
        @Html.AntiForgeryToken()
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelCombobox(Res.Get("ApprenticeshipTrainingSchedule_Control_Semester"), "Semester",
            ((IEnumerable<SelectListItem>)ViewData[ApprenticeshipTrainingScheduleConstants.LIST_SEMESTER]),
             GlobalConstants.NO_PLACEHOLDER,
                          new Dictionary<string, object>() { { "onchange", "cboSemesterOnchange(this, this.options[this.selectedIndex].value);" }, { "style", "width: 100px" } }, false, false)
            @Html.ViettelCombobox(Res.Get("ApprenticeshipTrainingSchedule_Control_Month"), "Month",
                            ((IEnumerable<SelectListItem>)ViewData[ApprenticeshipTrainingScheduleConstants.LIST_MONTH]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>() { { "onchange", "cboMonthOnchange();" }, { "style", "width: 100px" } }, false, false)
        </div>
    </div>


    <div id="GridApprenticeshipTrainingSchedule" class = "vt-ResultPanel">
    </div>



}
<script type="text/javascript">
    window.onload = function () { formUtils.focusForm("frmSearch"); };
    $(document).ready(function () {
        document.getElementById("Semester").focus();
        smas.setFocus($("#Semester"));
    });
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function Insert() {
        $("#frmSearch input[type='submit']").click();
    }

    function cboSemesterOnchange(Semester, semester) {

        frmId = $(Semester).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Month"),
            '@Url.Action("GetMonth", "ApprenticeshipTrainingSchedule")',
            { semester: semester },
            '@Res.Get("CHOICE")'
        )
        ;
    }

    function cboMonthOnchange() {

        ajaxSearch();

    }

    function ajaxSearch() {

        var Semester = $("#Semester").val();
        var Month = $("#Month").val();
        if (Month != 0) {
            $.ajax({
                url: '@Url.Action("LoadGrid", "ApprenticeshipTrainingSchedule")',
                type: 'post',
                data: { Semester: Semester, Month: Month },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    smas.hideProcessingDialog();
                    $('#GridApprenticeshipTrainingSchedule').html(data);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }


    }


</script>
<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#frmSearch .editor-label{text-align:right;vertical-align:middle;padding-right:15px;padding-top:7px}
</style>
