﻿@*
* theo doi tang truong hang thang - index
* HaiVT
* 17/04/2013

*@
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Areas.SCSMonthlyGrowthArea;
@using SMAS.Web.Areas.SCSMonthlyGrowthArea.Models;
@using SMAS.Web.Constants;
@{
    ViewBag.Title = Res.Get("MonthlyGrowth_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo globalInfo = new GlobalInfo();
    List<ClassProfile> lstClassProfile = (List<ClassProfile>)ViewData[SCSMonthlyGrowthConstants.LIST_CLASS];
    var selLevel = (SelectList)ViewData[SCSMonthlyGrowthConstants.LIST_EDUCATION_LEVEL];
    int? currLevelID = (int?)ViewData[SCSMonthlyGrowthConstants.FIRST_LEVEL_SELECTED];
    int? classID_Select = (int?)ViewData[SCSMonthlyGrowthConstants.CLASSID_SELECT];
    lstClassProfile = (lstClassProfile != null) ? lstClassProfile : new List<ClassProfile>();
    classID_Select = (classID_Select.HasValue) ? classID_Select : 0;
    currLevelID = (currLevelID.HasValue) ? currLevelID : 0;
    ClassProfile objClassProfile = null;
    string class_Name = string.Empty;
    DateTime currentDate = DateTime.Now;
    currentDate = new DateTime(currentDate.Year, currentDate.Month, 1);
}
<style>
    div.t-timepicker, div.t-datepicker, .vt-control
    {
        width: 110px !important;
    }
    
    .ContentSection .ButtonBox, .Content2Section .ButtonBox
    {
        margin: 0;
    }
</style>
<div class="ContentSectionBtm">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <!-- serach zone -->
                <div class="GenaralInfoSection">
                    <div class="GeneralForm SProfile2Form">
                        <label class="LabelStyle Label1Style">
                            @Res.Get("SCSMonthlyGrowth_Label_EducationLevelID")</label>
                        <div class="BoxSelect BoxSelect3">
                            <select class="MySelectBoxClass" onchange="LoadEditClass(this)">
                                @*<option value="0" classid="0">@Res.Get("All")</option>*@
                                @foreach (var item in selLevel)
                                {
                                    if (item.Value == currLevelID.ToString())
                                    {
                                    <option selected="selected" value="@item.Value">@item.Text
                                    </option>
                                    }
                                    else
                                    {
                                    <option value="@item.Value">@item.Text
                                    </option>
                                    }
                                }
                            </select>
                        </div>
                        <label class="LabelStyle Label1Style">
                            @Res.Get("SCSMonthlyGrowth_Label_Class")</label>
                        <div class="BoxSelect BoxSelect3">
                            <select id="classSelector" class="MySelectBoxClass" name="LevelSchool" onchange="changeClassSelect(this)">
                                @for (int i = 0, size = lstClassProfile.Count; i < size; i++)
                                {
                                    objClassProfile = lstClassProfile[i];
                                    if (objClassProfile.ClassProfileID == classID_Select)
                                    {
                                        class_Name = objClassProfile.DisplayName;                       
                                    <option value="@objClassProfile.ClassProfileID" selected="selected">@objClassProfile.DisplayName</option>                                                    
                                    }
                                    else
                                    {
                                    <option value="@objClassProfile.ClassProfileID">@objClassProfile.DisplayName</option>        
                                    }
                                }
                            </select>
                        </div>
                        <table style="width: 243px;">
                            <tr>
                                <td style="vertical-align: top;">
                                    <div class="ViewWeekForm">
                                        <label class="LabelStyle Label5Style">
                                            @Res.Get("SCSMonthlyGrowth_Label_Day")</label>
                                        @Html.ViettelCombobox("", "txtMonthSelect", new SelectList((IDictionary<string, object>)ViewData[SCSMonthlyGrowthConstants.LIST_MONTH], "Key", "Value", currentDate.Ticks), 2,
                                                 new Dictionary<string, object>() { { "style", "width:118px" }, { "onchange", "onChangeMonthSelect(this)" }, { "class", "MySelectBoxClass" } }, false, false)
                                    </div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div class="ButtonBox BtnRStyle">
                                        <a class="Sprite1 BackLink" href="#" onclick="preMonth();"><span class="HideText">Preview</span></a>
                                        <a class="Sprite1 BackLink NextLink" href="#" onclick="nextMonth();"><span class="HideText">
                                            Next</span></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="BoxMenuSection">
                            <!-- menu box-->
                            <div style="float: right;">
                                <div style="position: absolute; top: -34px; right: 0px;">
                                    @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
                                </div>
                            </div>
                        </div>
                        <div class="Clear">
                        </div>
                    </div>
                </div>
                <!-- end of serach -->
                <div id="ContentMG" style="display: none;">
                    <div class="GridSection" style="margin: auto;">
                        @Html.Partial("_ListPupil", new MonthlyGrowthViewModel() { }, new ViewDataDictionary() { { SCSMonthlyGrowthConstants.LIST_PUPIL, ViewData[SCSMonthlyGrowthConstants.LIST_PUPIL] } })
                        <p class="WarningStyle FloatRStyle">
                                	@*@Res.Get("SCSMonthlyGrowth_Notice_Content")*@
                                    Chỉ cần nhập liên tiếp dãy số, không cần nhập dấu.<br />
                                    Nhập 788cm -> hệ thống hiểu 78.8 cm<br />
                                    Nhập 216kg -> hệ thống hiểu 21.6 cm
                                </p>
                    </div>
                    <div class="BtnR3Section">
                        <input type="submit" class="BtnGeneralStyle BtnGeneral4Style t-button" onclick="saveMonthlyGrowth()" value="@Res.Get("Common_Button_Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //luu classid duoc chon vao variable de su dung
    var classID_Select = parseInt('@classID_Select');
    //monthselect duoc luu vao variable de su dung
    var dateTicks = '@currentDate.Ticks';
    //object dung cho ajax post
    var lstMonthlyGrowth = [];
    //variable check required input - set value in onblur event
    var isInputError = false;

    //Load class from level
    function LoadEditClass(cboEducationLevel) {
        controlUtils.loadComboBox(
            $("#classSelector"),
            '@Url.Action("LoadClass", "SCSMonthlyGrowth")',
            { EducationLevelID: $(cboEducationLevel).val() },
            null,
            function () {
                changeClassSelect($("#classSelector"));                
            }
        );
    }
    //function reload lai grid - dung cho su kien change class va change month
    function reloadGridMG() {
        $.ajax({
            url: '@Url.Action("ReloadGrid", "SCSMonthlyGrowth")',
            type: 'post',
            data: { classID: classID_Select, dateTicks: dateTicks },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#ContentMG .GridSection').html(data);
            },
            complete: function () {
                smas.hideProcessingDialog();
            }
        });
        //reset lai list monthly growth
        lstMonthlyGrowth = [];
    }

    //thay doi lop hoc
    function changeClassSelect(ctrl) {
        var classID = $(ctrl).val();
        //gan lai id moi cho variable classidSelect
        classID_Select = classID;
        //goi ham reload grid theo class moi
        reloadGridMG();
    }

    //select pre month - < event
    function preMonth() {
        var selectedIndex = $('#txtMonthSelect').find('option:selected').index();
        //chi cho phep chon thang chon danh sach thang
        if (selectedIndex > 0) {
            $('#txtMonthSelect').find('option').removeAttr('selected', 'selected');
            $('#txtMonthSelect').find('option').eq(selectedIndex - 1).attr('selected', 'selected');
            //gan thang moi
            dateTicks = $('#txtMonthSelect').find('option').eq(selectedIndex - 1).val();
            //reload grid
            reloadGridMG();
        }
        else {
            smas.alert({ Message: '@Res.Get("SCSMonthlyGrowth_Label_MonthMSG")', Type: 'error' });
        }
    }

    //select next month - > event
    function nextMonth() {
        var selectedIndex = $('#txtMonthSelect').find('option:selected').index();
        //chi cho phep chon thang chon danh sach thang
        if (selectedIndex < 12) {
            $('#txtMonthSelect').find('option').removeAttr('selected', 'selected');
            $('#txtMonthSelect').find('option').eq(selectedIndex + 1).attr('selected', 'selected');
            //gan thang moi
            dateTicks = $('#txtMonthSelect').find('option').eq(selectedIndex + 1).val();
            //reload grid
            reloadGridMG();
        }
        else {
            smas.alert({ Message: '@Res.Get("SCSMonthlyGrowth_Label_MonthMSG")', Type: 'error' });
        }
    }

    //on change month select
    function onChangeMonthSelect(e) {
        if (e.value != null) {
            //gan lai variable monthselect moi
            dateTicks = e.value;
            //goi ham load lai grid theo thang moi
            reloadGridMG();
        }
    }

    //on load grid
    function OnLoad() {
        $.each($(this).find('tbody').find('tr'), function () {
            if (($(this).find('img').eq(1)).length == 0) {
                //thay doi tr doi voi hoc sinh khac trang thai dang hoc
                $(this).removeClass('t-alt');
                $(this).addClass('OutOfSchollTr');
                //disable cac textbox
                $(this).find('input').attr("disabled", "disabled");
                $(this).find('textarea').attr("disabled", "disabled");
            }
        });

        //hien grid bi an len
        $('.HomeSection #ContentMG').fadeIn();
        //hien tip text
        $('.HomeSection .BtnCenterSection .Text1Style').html('@Html.Raw(Res.Get("SCSMonthlyGrowth_Label_TipMsg"))');
    }

    //only numberic, add object to post - input onkeyup event 
    function convertInputText(object, event, isKeyUp) {
        //neu la textare thi khong validation
        if ($(object).is('textarea') == false) {
            //only numberic
            //chi show 1 dau cham
            if (isKeyUp == false) {
                if (event.keyCode == 190 || event.keyCode == 110) {
                    if ($(object).val().trim().length == 0) {
                        event.preventDefault();
                    }
                    if ($(object).val().indexOf('.') > -1) {
                        event.preventDefault();
                    }
                }
            }

            if (event.shiftKey && ((event.keyCode >= 48 && event.keyCode <= 57)
             || (event.keyCode >= 186 && event.keyCode <= 222))) {
                // Ensure that it is a number and stop the Special chars
                event.preventDefault();
            }
            else if ((event.shiftKey || event.ctrlKey) && (event.keyCode > 34 && event.keyCode < 40)) {
                // let it happen, don't do anything
            }
            else {
                // Allow only backspace , delete, numbers, dot               
                if (event.keyCode == 9 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 39 || event.keyCode == 37 || event.keyCode == 190
                || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 110) {
                    // let it happen, don't do anything
                }
                else {
                    // Ensure that it is a number and stop the key press
                    event.preventDefault();
                }
            }

            //max length and dot
            var value = $(object).val();
            if (value.length > 1) {
                if ((value.charAt(0) == '0' && value.charAt(1) == '0') || (value.charAt(0) == '0' && value.charAt(1) != '.')) {
                    $(object).val('0');
                }
                else {
                    //neu la chieu cao thi check max value 125, can nang max value la 30 
                    if ($(object).attr('name') == 'Height') {
                        if (value > 125) {
                            if (value.length == 3) {
                                $(object).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2));
                            }
                            else if (value.length == 4) {
                                $(object).val(value.charAt(0) + value.charAt(1) + value.charAt(2) + '.' + value.charAt(3));
                            }
                            else if (value.length == 5) {
                                if (value.charAt(3) == '.') {
                                    $(object).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2) + value.charAt(4));
                                }
                            }
                        }
                    }
                    else {
                        if (value > 30) {
                            if (value.length == 2) {
                                $(object).val(value.charAt(0) + '.' + value.charAt(1));
                            }
                            else if (value.length == 3) {
                                $(object).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2));                                
                            }
                            else {
                                if (value.length == 4) {
                                    if (value.charAt(2) == '.') {
                                        $(object).val(value.charAt(0) + '.' + value.charAt(1) + value.charAt(3));
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //lam tron so thap phan           
            if (isKeyUp) {
                value = $(object).val();
                if (value != '') {
                    var indexDot = value.indexOf('.');
                    if (indexDot < value.length - 1 && indexDot != -1) {
                        var roundValue = numberUtils.mathRound(value, 1);
                        $(object).val(roundValue);
                    }
                }
            }

            //tinh dinh duong cho tre
            if ($(object).attr('name') == 'Weight') {
                var month = $(object).closest('tr').find('td').eq(11).html().trim();
                var genre = $(object).closest('tr').find('td').eq(10).html().trim();

                var isBoy = false;
                if (genre == parseInt('@GlobalConstants.GENRE_MALE')) {
                    isBoy = true;
                }
                var isResult = numberUtils.calculatorNutrition($(object).val(), month, isBoy);
                switch (isResult) {
                    case parseInt('@GlobalConstants.PHYSICALTEST_MAL_NUTRITION'):
                        {
                            $(object).closest('tr').find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_MALNUTRITION")');
                            break;
                        }
                    case parseInt('@GlobalConstants.PHYSICALTEST_NORMAL_WEIGHT'):
                        {
                            $(object).closest('tr').find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_NORMALWEIGHT")');
                            break;
                        }
                    case parseInt('@GlobalConstants.PHYSICALTEST_OVER_WEIGHT'):
                        {
                            $(object).closest('tr').find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_OVERWEIGHT")');
                            break;
                        }
                    case parseInt('@GlobalConstants.PHYSICALTEST_UNDENTIFY_NUTRITION'):
                        {
                            $(this).find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_UNDENTIFY")');
                            break;
                        }
                    default:
                }
            }
        }

        //tao obj de post ve server
        var monitoringID = $(object).closest('tr').find('td').eq(0).html().trim();
        var pupilID = $(object).closest('tr').find('td').eq(1).html().trim();
        var birthDay = $(object).closest('tr').find('td').eq(2).html().trim();
        var height = $(object).closest('tr').find('input').eq(0).val().trim();
        var weight = $(object).closest('tr').find('input').eq(1).val().trim();
        var solution = $(object).closest('tr').find('textarea').eq(0).val().trim();
        var genre = $(object).closest('tr').find('td').eq(10).html().trim();
        //kiem tra co ton tai doi tuong trong list object chua
        var objMonthlyGrowth = null;
        //update
        for (var i = lstMonthlyGrowth.length - 1; i >= 0; i--) {
            if (lstMonthlyGrowth[i].PupilID == pupilID) {
                lstMonthlyGrowth[i].Height = height.replace('.', ',');
                lstMonthlyGrowth[i].Weight = weight.replace('.', ',');
                lstMonthlyGrowth[i].Solution = solution;
                objMonthlyGrowth = {};
                break;
            }
        }
        //them moi
        if (objMonthlyGrowth == null) {
            objMonthlyGrowth = { MonitoringBookID: monitoringID, PupilID: pupilID, BirthDate: birthDay, Height: height.replace('.', ','), Weight: weight.replace('.', ','), Solution: solution, Genre: genre };
            lstMonthlyGrowth.push(objMonthlyGrowth);
        }
    }

    //required - input onblue event
    function validateInputText(e) {
        //kiem tra neu da nhap can nang/chieu cao thi bat buoc fai nhap chieu cao/can nang
        if ($(e).val().trim() == '') {
            //neu la chieu cao thi kiem tra can nang
            if ($(e).attr('name').trim() == 'Height') {
                if ($(e).closest('tr').find('td input[name="Weight"]').val().trim() != '') {
                    //set background va set error
                    $(e).closest('div').addClass('InputTextErrorStyle');
                    //isInputError = true;
                }
                else {
                    //neu truong hop ca 2 input deu '' thi remove backgroud va set no error
                    $(e).closest('div').removeClass('InputTextErrorStyle');
                    $(e).closest('tr').find('td input[name="Weight"]').closest('div').removeClass('InputTextErrorStyle');
                    //isInputError = false;                    
                }
            }
            //neu la can nang thi kiem tra chieu cao
            else {
                if ($(e).closest('tr').find('td input[name="Height"]').val().trim() != '') {
                    $(e).closest('div').addClass('InputTextErrorStyle');
                    //isInputError = true;
                }
                else {
                    //neu truong hop ca 2 input deu '' thi remove backgroud va set no error
                    $(e).closest('div').removeClass('InputTextErrorStyle');
                    $(e).closest('tr').find('td input[name="Height"]').closest('div').removeClass('InputTextErrorStyle');
                    //isInputError = false;
                }
            }
        }
        else {
            //value textbox
            var value = $(e).val();
            if ((value.charAt(0) == '0' && value.charAt(1) == '0') || (value.charAt(0) == '0' && value.charAt(1) != '.')) {
                $(e).val('0');
            }

            //neu la chieu cao thi kiem tra can nang
            if ($(e).attr('name').trim() == 'Height') {
                //validate value textbox
                if (value > 125) {
                    if (value.length == 3) {
                        $(e).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2));
                    }
                    else if (value.length == 4) {
                        $(e).val(value.charAt(0) + value.charAt(1) + value.charAt(2) + '.' + value.charAt(3));
                    }
                    else if (value.length == 5) {
                        if (value.charAt(3) == '.') {
                            $(e).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2) + value.charAt(4));
                        }
                    }
                }

                //lam tron so thap phan
                var value = $(e).val();
                if (value != '') {
                    if (value.indexOf('.') > -1) {
                        var roundValue = numberUtils.mathRound(value, 1);
                        $(e).val(roundValue);
                    }
                }

                //set style if error
                if ($(e).closest('tr').find('td input[name="Weight"]').val().trim() == '') {
                    //set background va set error
                    $(e).closest('tr').find('td input[name="Weight"]').closest('div').addClass('InputTextErrorStyle');
                    //isInputError = true;
                }
                else {
                    //neu truong hop ca 2 input deu !='' thi remove backgroud va set no error
                    $(e).closest('div').removeClass('InputTextErrorStyle');
                    $(e).closest('tr').find('td input[name="Weight"]').closest('div').removeClass('InputTextErrorStyle');
                    //isInputError = false;
                }
            }
            //neu la can nang thi kiem tra chieu cao
            else {
                //validate value textbox
                if (value > 30) {
                    if (value.length == 2) {
                        $(e).val(value.charAt(0) + '.' + value.charAt(1));
                    }
                    else if (value.length == 3) {
                        $(e).val(value.charAt(0) + value.charAt(1) + '.' + value.charAt(2));
                    }
                    else {
                        if (value.length == 4) {
                            if (value.charAt(2) == '.') {
                                $(e).val(value.charAt(0) + '.' + value.charAt(1) + value.charAt(3));
                            }
                        }
                    }
                }

                //lam tron so thap phan
                var value = $(e).val();
                if (value != '') {
                    if (value.indexOf('.') > -1) {
                        var roundValue = numberUtils.mathRound(value, 1);
                        $(e).val(roundValue);
                    }
                }

                //set style if error
                if ($(e).closest('tr').find('td input[name="Height"]').val().trim() == '') {
                    $(e).closest('tr').find('td input[name="Height"]').closest('div').addClass('InputTextErrorStyle');
                }
                else {
                    //neu truong hop ca 2 input deu !='' thi remove backgroud va set no error
                    $(e).closest('div').removeClass('InputTextErrorStyle');
                    $(e).closest('tr').find('td input[name="Height"]').closest('div').removeClass('InputTextErrorStyle');
                }
            }
        }
    }

    //save monthly growth
    function saveMonthlyGrowth() {
        //kiem tra neu chua nhap day du thi khong cho save
        isInputError = false;
        $('#PupilOfClassGrid .InputTextStyle').each(function () {
            if ($(this).closest('div').hasClass('InputTextErrorStyle')) {
                //neu input error thi thong bao loi                
                isInputError = true;
                return;
            }
        });

        //chi luu khi input day du du lieu
        if (isInputError) {
            smas.alert({ Type: 'error', Message: '@Res.Get("SCSMonthlyGrowth_Label_ErrorSave")' });
        }
        else {
            //neu chua nhap gi ma bam luu thi thong bao loi
            if (lstMonthlyGrowth.length > 0) {
                $.ajax({
                    url: '/SCSMonthlyGrowthArea/SCSMonthlyGrowth/SaveMonthlyGrowth?classID=' + classID_Select + '&dateTicks=' + dateTicks,
                    type: 'post',
                    data: JSON.stringify(lstMonthlyGrowth),
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result.Type == 'error') {
                            smas.alert(result);
                        }
                        else {
                            //update lai dinh duong cua tre
                            var arrObject = $.parseJSON(result.data);
                            for (var i = arrObject.length - 1; i >= 0; i--) {
                                $('#PupilOfClassGrid').find('tbody').find('tr').each(function () {
                                    if (arrObject[i].PupilID == $(this).find('td').eq(1).html().trim()) {
                                        //set nutrition
                                        switch (arrObject[i].Nutrition) {
                                            case parseInt('@GlobalConstants.PHYSICALTEST_MAL_NUTRITION'):
                                                {
                                                    $(this).find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_MALNUTRITION")');
                                                    break;
                                                }
                                            case parseInt('@GlobalConstants.PHYSICALTEST_NORMAL_WEIGHT'):
                                                {
                                                    $(this).find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_NORMALWEIGHT")');
                                                    break;
                                                }
                                            case parseInt('@GlobalConstants.PHYSICALTEST_OVER_WEIGHT'):
                                                {
                                                    $(this).find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_OVERWEIGHT")');
                                                    break;
                                                }
                                            case parseInt('@GlobalConstants.PHYSICALTEST_UNDENTIFY_NUTRITION'):
                                                {
                                                    $(this).find('td').eq(7).find('div').html('@Res.Get("NUTRITION_TYPE_UNDENTIFY")');
                                                    break;
                                                }
                                            default:
                                                {
                                                    $(this).find('td').eq(7).find('div').html('');
                                                    break;
                                                }
                                        }
                                    }
                                })
                            }
                            smas.alert(result);
                        }
                    }
                });
            }
            else {
                smas.alert({ Type: 'error', Message: '@Res.Get("SCSMonthlyGrowth_Label_ErrorSave")' });
            }
        }
    }

    //view growth chart
    function viewGrowthChart(object) {
        var pupilID = $(object).closest('tr').find('td').eq(1).html().trim();
        window.location.href = '/SCSMonthlyGrowthArea/GrowthChart/Index?pupilID=' + pupilID;
    }
</script>
