﻿@model SubjectReportViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@{
    int checkindex = (int)ViewData[ReportMenuDirectionConstant.CHECK_DEFAULT];
}

@using (Html.BeginForm("GetReportBySemester",
"SubjectStatisticReport", FormMethod.Post, new { id = "frmSemesterGradeForm" }))
{
    @Html.ViettelHidden("rdoReportBySemester", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" id ="SubjectStatisticReport">
        <div id="Search">
            <div id ="lblTitle" class="vt-SearchPanel-Title">
                        Thống kê điểm thi học kỳ
            </div>
            <div class="vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-6">
                       @Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportResultLearningByPeriod_Label_Semester"),
                          new SelectList((IEnumerable<ComboObject>)ViewData[ReportMenuDirectionConstant.CBO_SEMESTER], "key", "value", ViewData[ReportMenuDirectionConstant.DEFAULT_SEMESTER]),
                            GlobalConstants.NO_PLACEHOLDER,
                                      new Dictionary<string, object> {}, false)
                    </div>
                    <div class="col-md-6 ">
                       @Html.ViettelComboboxFor(model => model.StatisticLevelReportID, Res.Get("ReportResultLearningByPeriod_Label_StatisticLevel"),
                                new SelectList((IEnumerable<StatisticLevelReport>)ViewData[ReportMenuDirectionConstant.CBO_STATISTIC_LEVEL], "StatisticLevelReportID", "Resolution", ViewData[ReportMenuDirectionConstant.DEFAULT_STATSICTIC_LEVEL]),
                                GlobalConstants.NO_PLACEHOLDER,new Dictionary<string, object> { }, false)
                   </div>
                </div>
               
                <div class="vt-control">
                    <div>
                        <fieldset>
                    <legend>
                        <label>Bổ sung số liệu</label>
                    </legend>
                       <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh nữ")
                                <input type="checkbox" name="FemaleType" id="Female" value="1" />
                                <span class="checkmark"></span>
                            </label>
                       </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh dân tộc")
                                <input type="checkbox" name="EthnicType" id="Ethnic" value="2" />
                                <span class="checkmark"></span>
                            </label>
                       </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">
                                @Res.Get("Học sinh nữ dân tộc")
                                <input type="checkbox" name="FemaleEthnicType" id="FemaleEthnic" value="3" />
                                <span class="checkmark"></span>
                            </label>
                       </div>
                </fieldset>
                    </div>
               </div>
        </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "if(!validateUtils.validateForm('frmSemesterGradeForm')) return false;", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFSemesterGradeForm();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center;height:623px;">
    <div id="ContentSemester" style="margin-left:3px;width:100%;height:100%;">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_Ke_Diem_Thi_Hoc_Ky/HS_THCS_ThongKeDiemThi_HKII.htm">
        </iframe> 
    </div> 
        
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".editor-field").has("select").addClass("custom-select");

        $('#frmSemesterGradeForm #Semester').find('option[value=3]').remove()
    });
    $('#frmSemesterGradeForm').submit(function (event) {
        $('#rdoReportBySemester').val(4);//Điểm thi học kỳ
        event.preventDefault();
        smas.getReport('frmSemesterGradeForm', '@Url.Action("GetReportBySemester", "SubjectStatisticReport")',
        '@Url.Action("GetNewReportBySemester", "SubjectStatisticReport")', '@Url.Action("DownloadReport", "SubjectStatisticReport")');
    });
    function ExportPDFSemesterGradeForm() {
        if (!validateUtils.validateForm('frmSemesterGradeForm')) return;
        $('#rdoReportBySemester').val(4);//Điểm thi học kỳ
        var blank = '_blank';
        smas.getReportDocument('frmSemesterGradeForm', '@Url.Action("GetReportBySemester", "SubjectStatisticReport")',
        '@Url.Action("GetNewReportBySemester", "SubjectStatisticReport")', '@Url.Action("DownloadPDFReport", "SubjectStatisticReport")', blank);
    }
</script>
<style>
    .vt-SearchPanel-Title .editor-field.custom-select {
        padding-bottom:0;
    }
</style>