﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CapacityStatisticsSubjectTertiaryArea.Models
@using SMAS.Web.Areas.CapacityStatisticsSubjectTertiaryArea
<style type="text/css">
   #frmSearch .vt-control{width:30%}#frmSearch .vt-control .editor-label{width:30%!important}#frmSearch .vt-control .editor-field{width:65%!important}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_ReportCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "CapacityStatisticsSubjectTertiary",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstList1",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "SearchSuccess",
                               OnFailure = "SearchFailure"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">            
		    @Html.ViettelButton(Res.Get("Common_Button_EmisCollect"), "submit", "", "btnExportExcel")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    var DisableDistrict = "@ViewData[CapacityStatisticsSubjectTertiaryConstants.DisableDistrict]";
    if (DisableDistrict.toLowerCase() == "true") {
        $('#DistrictID').attr('disabled', true);
    }
    else {
        $('#DistrictID').removeAttr('disabled');
    }
    function search() {
        $("#frmSearch input[type='submit']").click();
    }   
    function AjaxLoadSubject(cbo) {
        var academicYearID = $("#AcademicYearID").val();
        var educationLevelID = $("#EducationLevelID").val();
        var trainingTypeID = $("#TrainingTypeID").val();
        var subCommitteeID = $("#SubcommitteeID").val();
        var semester = $("#Semester").val();

        frmId = $(cbo).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #SubjectID"),
            '@Url.Action("AjaxLoadSubject", "CapacityStatisticsSubjectTertiary")',
            { academicYearID: academicYearID, educationLevelID: educationLevelID, trainingTypeID: trainingTypeID, semester: semester, subCommitteeID: subCommitteeID },
            '@Res.Get("SelectRK")'
        );
    }
    function LoadGrid() {
        $.ajax({
            url: '@Url.Action("LoadGrid", "CapacityStatisticsSubjectTertiary")',
            type: 'post',
            data: $("#frmSearch").serialize(),
            success: function (data) {
                $("#lstList").html(data);
                $('#btnExportExcel').show();  
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    function SearchSuccess(data) {
        if (data.ProcessedReportID != 0) {                
                $("#DownloadOldFile").attr("href","@Url.Action("DownloadReport", "CapacityStatisticsSubjectTertiary")"+"?ProcessedReportID="+data.ProcessedReportID)
            smas.openDialog("AlertDialog", "", {});
        } else {
            LoadGrid();
        }
    }
    function OnFailure(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>

