﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
<form method="post" enctype="multipart/form-data" action="@Url.Action("Import")" target="upload_iframe" id="formImportFile">
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-2">
        <div class="vt-EditorPanel-Control">
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("EducationLevel_Label_AllTitle")
                        @Html.AntiForgeryToken()
                    </label>
                </div>
                <div class="editor-field">
                    <input type="text" value="" id="ImportDialogEducationLevelID" disabled="disabled" />
                    <input type="hidden" name="EducationLevelID" id="EducationLevelID" value="" />
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("ClassProfile_Label_AllTitle")
                    </label>
                </div>
                <div class="editor-field">
                    <input type="text" value="" id="ImportDialogClassID" disabled="disabled" />
                    <input type="hidden" name="ClassID" id="ClassID" value="" />
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label">
                    <label>
                        @Res.Get("Common_Label_Semester")
                    </label>
                </div>
                <div class="editor-field">
                    <input type="text" value="" id="ImportDialogSemester" disabled="disabled" />
                    <input type="hidden" name="Semester" id="Semester" value="" />
                </div>
            </div>
            @Html.ViettelCombobox(Res.Get("MarkType_Label_AllTitle"), "MarkType", new List<SelectListItem>(), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object> { { "onchange", "LoadColMark(this)" } }, false, true)
            <div class="Clear"></div>
            <div class="ShowAlert" style="display: none; text-align: center;">
                <span style="color: red;">Hệ thống chỉ import các môn học có cột điểm <span class="titleCol"></span></br>bị khóa trong chức năng khóa dữ liệu</span>
            </div>

            <div class="vt-control" style="width: 100%">
                <div class="editor-label" style="width: 100%; text-align: left; padding-left: 17%; padding-top: 0">
                    <label>
                        @Res.Get("ImportSemesterTestMark_Label_ImportFromExcel")
                    </label>
                </div>
                <div class="row p-t-10">
                    <div class="col-md-3 col-md-offset-2" style="text-align: right; ">
                        <button type="button" class="btn btn-success btn-icon btn-icon-folder" onclick="$('#attachments').click();">Chọn file</button>
                    </div>
                    <div class="col-md-7" style="width: 57%">
                        <input type="text" name="ImportFile" placeholder="Tải file từ máy tính" disabled="disabled" id="txtFilePath" class="col-sm-12 p-l-20 bg-light" />
                    </div>
                </div>
            </div>
            <iframe id="upload_iframe" name="upload_iframe" src="" style="display: none;"></iframe>
            @*<input type="file" name="ImportFile" style="border: none" />*@
            <div class="hidden">
                @(Html.Telerik().Upload()
                      .Name("attachments")
                        .HtmlAttributes(new { @class = "btnUploaderCss" })
                        .ShowFileList(false)
                        .Multiple(false)
                        .Async(async => async
                      .Save("SaveFile", "ImportTeacher")
                        .AutoUpload(false)
                         ).ClientEvents(events => events
                        .OnSelect("OnSelectImport")
                        .OnUpload("OnImportUpload")
                        .OnSuccess("OnImportSuccess")
                        .OnError("OnImportError"))
                    )
            </div>
        </div>
        <div class="vt-EditorPanel-Button">
            <input type="submit" value="Import" onclick="return fn_OnBeginUpload()" class="btn btn-info btn-round" />
            <input type="button" value="@Res.Get("CloseRK")" onclick="smas.closeDialog('importDialog');" class="btn btn-basic btn-round">
        </div>
    </div>
</form>


<script type="text/javascript">
    function LoadColMark(cbo) {
        if ($(cbo).val() != "") {
            $(".titleCol").html($("option[value=" + $(cbo).val() + "]", cbo).html());
            $(".ShowAlert").show();
        } else {
            $(".ShowAlert").hide();
        }
    }
</script>

<script type="text/javascript">
    @*$(document).ready(function () {
        if ('@ViewData[SMAS.Web.Areas.ImportTeacherArea.ImportTeacherConstants.ROLE]' == 'False') {
            $(".btnUploaderCss").hide();
        } else {
            $(".btnUploaderCss").show();
        }
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });*@
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled', 'disabled');
            $('#btImport').addClass('t-state-disabled');
            $("#txtFilePath").val("");
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize <= 10 * 1024) {
                        return true;
                    }
                    smas.alert("Dung lượng file excel không được lớn hơn 10MB");
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng");
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });

        hideUploadButton();
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();

            hideUploadButton();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess(e) {

        if (e.response != null) {
            if (e.response.Type == "RoleError") {
                smas.alert({ Message: e.response.Message, Type: "error" })
            } else {
                $(".btnSubmitImportExcel").click();
            }
        }
    }

    function CreateSuccess(data) {
        smas.hideProcessingDialog();
        if (data.Type == '@JsonMessage.SUCCESS') {
            smas.alert(data.Message);
            setTimeout('smas.redirect(\'@Url.Action("Index", "ImportSemesterTestMark")\')', 4000);
        }
        else
            if (data.Type == '@JsonMessage.ERROR') {
                formUtils.resetForm("SelectImport");
                smas.openDialog("SelectImport", "", {});
            }
            else {
                smas.alert(data.success);
            }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
        $('#txtFilePath').val(stringUtils.HtmlDecode('@Res.Get("Common_Label_NoFileSelect")'));
    }
    function OnImportError(e) {
        smas.hideProcessingDialog();
        smas.alert(e);
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>
