﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordArea.Models
@using SMAS.Web.Areas.MarkRecordArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseActionImport");
}

<style type="text/css">
    #button input{width:190px}#button{text-align:center}
</style>

@using (Ajax.BeginForm("ImportLegalData",
                           "PrimaryJudgeRecord",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "onBeginImportLegalData",
                               OnSuccess = "onSuccessImportLegalData",
                               OnFailure = "onFailImportLegalData",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmImport" }))
{
        @Html.AntiForgeryToken()
    <div id="button">
        <fieldset>
            @{
    var temp = (string)ViewData[MarkRecordConstants.ERROR_IMPORT_MESSAGE];
            <div id="pnImportErrorTitle">
                <p style="text-align: center; font-weight: bold;color:Red">@Res.Get("MarkRecord_Label_ImportErrorData")</p>
                <p style="text-align: left; font-weight: bold;color:Red">@Html.Raw(temp)</p>
            </div>
            }
            @if ((bool)ViewData[MarkRecordConstants.ERROR_BASIC_DATA])
            {
            @Html.ViettelButton(Res.Get("Common_Label_ShowDataBeforeImport"), "button", "ShowDataBeforeImport()", "t-state-disabled")
            @Html.ViettelButton(Res.Get("Common_Label_ImportLegalData"), "button", "", "t-state-disabled")
            }
            else
            {
            @Html.ViettelButton(Res.Get("Common_Label_ShowDataBeforeImport"), "button", "ShowDataBeforeImport()", "")
            @Html.ViettelButton(Res.Get("Common_Label_ImportLegalData"), "button", "ajaxImportLegalData()", "")
            }
            @Html.ViettelButton(Res.Get("Common_Label_Close"), "button", "CloseChooseAction()", "")
        </fieldset>
    </div>

    <div id="listDataBeforeImport" >
        @if (!(bool)ViewData[MarkRecordConstants.ERROR_IMPORT])
        {
            @Html.Partial("ListViewDataTX")
        }
    </div>

}

<script type="text/javascript">
    function ShowDataBeforeImport() {
        $("#listDataBeforeImport").removeAttr("style");
    }

    function CloseChooseAction() {
        formUtils.resetForm("ImportExcelDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        setTimeout('smas.closeDialog("ChooseActionDialog2");', 200);
    }
    function onBeginImportLegalData() {
        smas.showProcessingDialog();
    }
    function onSuccessImportLegalData(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
            loadData();
        }
    }
    function onFailImportLegalData(ajaxContext) {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }

    function ajaxImportLegalData() {
        setTimeout('smas.closeDialog("ChooseActionDialog2");', 500);
        var periodID = $('#HiddenPanel #PeriodID').val();
        var semesterID = $('#HiddenPanel #Semester').val();
        var arrSubjectID = $('#GridDataImport #ArrSubjectPeriodID').val();
     $.ajax({
         url: '@Url.Action("SetDataInputToDb", "MarkRecord")',
         type: 'post',
         data: {PeriodID:periodID,SemesterID:semesterID,ArrSubjectID:arrSubjectID},
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
               
                if (msg.Type == "success") {
                    smas.alert(msg);
                    //setTimeout('smas.closeDialog("SelectImport");', 500);
                    AjaxLoadGrid();
                    setTimeout('smas.closeDialog("ChooseActionDialog");',500);
                    loadData();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }


</script>
