﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.MarkRecordArea
@using SMAS.Web.Constants
@using SMAS.Models.Models
<style type="text/css">
    #pnPeriod .editor-label{width:0}#EntryMark .editor-label{width:84px}.clear{clear:both}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    <form id="frmSearch" action="@Url.Action("ExportFile", "MarkRecord")" method="post">
    <div>
        <div style="float: left; width: 200px; padding-right: 5px;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_SemesterLB")</legend>
                @Html.ViettelRadioBox("rdoSemester", "", new Dictionary<string, object>() { { "onChange", "onCboPeriod(this)" } }, (List<ViettelCheckboxList>)ViewData[MarkRecordConstants.LIST_SEMESTER], false)
            </fieldset>
        </div>
        <div style="float: left; width: 490px; padding-right: 5px;" id="pnEducationLevel">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_Grade")</legend>
                @Html.ViettelRadioBox("rdoEucationLevel", "", new Dictionary<string, object>() { { "onclick", "onClassPanel(this)" } }, (List<ViettelCheckboxList>)ViewData[MarkRecordConstants.LIST_EDUCATIONLEVEL], false)
                @{
                    ViettelCheckboxList firstitem = ((List<ViettelCheckboxList>)ViewData[MarkRecordConstants.LIST_EDUCATIONLEVEL]).FirstOrDefault();
                    <input type="hidden" id="hdEucationLevel" value=@firstitem.Value />
                    <input type="hidden" id="DefaulthdEucationLevel" value=@firstitem.Value />
                }
            </fieldset>
        </div>
        <div style="float: left; width: 280px; height: 29px;" id="pnPeriod">
            <fieldset style="height: 29px;">
                <legend>@Res.Get("MarkRecord_Label_Period")</legend>@* @Html.ViettelCombobox("", "cboPeriod", new SelectList((IEnumerable<PeriodDeclaration>)ViewData[MarkRecordConstants.LIST_PERIOD], "PeriodDeclarationID", "Resolution"), GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:260px" },{"onchange","onPeriod(this)"} }, false, false)*@
                @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[MarkRecordConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:260px" }, { "onchange", "onPeriod(this)" } }, false, false)
            </fieldset>
        </div>
        <div class="clear">
        </div>
        <div style="margin-right: 10px;">
            <fieldset>
                <legend>@Res.Get("MarkRecord_Label_ClassP")</legend>
                <div id="ClassPanel">
                    @Html.Partial("_ListClass")
                </div>
                <input type="hidden" name="classid" id="classid" value="0" />
            </fieldset>
        </div>
        <div id="panelFooterSearch">
            <div style="float: left; width: 70%">
                <fieldset>
                    <legend>@Res.Get("MarkRecord_Label_SubjectT")</legend>
                    <div id="SubjectPanel">
                        <input type="hidden" name="subjectid" id="subjectid" value="0" />
                    </div>
                    @Html.Partial("_ListSubject")
                </fieldset>
            </div>
            <div style="float: left; width: 3%; padding-top: 0px; margin-left: 40px" id="EntryMark">
                @Html.ViettelCheckBox("chkEntryMark", false, new Dictionary<string, object>() { { "onclick", "changeChkEntryMark(this)" } }, "", false, false)
            </div>
            <div style="float: right; width: 10%; padding-top: 15px; margin-right: 125px;">
                <label>@Res.Get("JudgeRecord_Label_MarkInput")</label>
            </div>
        </div>
    </div>
    <div class="">
        <input type="submit" style="display: none;" id="btnSubmitForm" />
    </div>
    </form>
</fieldset>
<script type="text/javascript">
    var semesterid = @(new GlobalInfo().Semester);
    var educationlevelid = 0;
    var educationLevel = $("#hdEucationLevel");
    var classid = 0;
    var classname = "";
    var periodid = 0;
    var subjectid = 0;

    $('#btnSave').attr('disabled', true); 
    $('#btnDelete').attr('disabled', true); 
    if (educationLevel != null) {
        educationlevelid = educationLevel.val();
    }

    function onCboPeriod(rdoSemester) {

        frmId = $(rdoSemester).closest('form').get(0).id;
        semesterid = $(rdoSemester).val();
        controlUtils.loadComboBox(
            $("#" + frmId + " #cboPeriod"),
            '@Url.Action("GetcboPeriod", "MarkRecord")',
            { SemesterID: $(rdoSemester).val() },
            null, loadData
        );
        var ClassID = $("#classid").val();
        if (ClassID != "0") {
            setTimeout(function () {
                onSubjectPanelByClassID(ClassID);
            }, 200);
        }
    }

    function onPeriod(cboPeriod) {

        periodid = $(cboPeriod).val();

        if (subjectid != 0 && periodid != 0 && educationlevelid != 0 && classid != 0 && semesterid != 0) {
            loadData();
        } else {
            $("#lstMarkRecord").hide();
        }
    }

    function resetDisable() {
        $('input[tpbutton=dis]').removeAttr('disabled');
        $('input[tpbutton=dis]').removeClass('t-state-disabled');
    }

    function onSubjectPanel(ClassProfileID) {
        frmId = $(ClassProfileID).closest('form').get(0).id;
        var id = $(ClassProfileID).attr('id');
        classid = id;
        classname = $(ClassProfileID).val();
        resetDisable();
        $(ClassProfileID).attr('disabled', 'disabled');
        $(ClassProfileID).attr('tpbutton', 'dis');
        $(ClassProfileID).addClass('t-state-disabled');
        var semester = semesterid;
        $.ajax({
            url: '@Url.Action("GetSubjectPanel", "MarkRecord")',
            type: 'post',
            data: { id: id, semester: semester },
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#classid").attr("value", classid);
                $("#panelFooterSearch").show();
                $("#lstMarkRecord").hide();
                $("#SubjectPanel").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
     function onSubjectPanelByClassID(classid) {
        resetDisable();
        var ClassProfileID = document.getElementById(""+classid+"");
        $(ClassProfileID).attr('disabled', 'disabled');
        $(ClassProfileID).attr('tpbutton', 'dis');
        $(ClassProfileID).addClass('t-state-disabled');
        var semester = semesterid;
        $.ajax({
            url: '@Url.Action("GetSubjectPanel", "MarkRecord")',
            type: 'post',
            data: { id: classid, semester: semester },
            beforeSend: function () {
            },
            success: function (msg) {
                $("#panelFooterSearch").show();
                $("#lstMarkRecord").hide();
                $("#SubjectPanel").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })
    }
    function onClassPanel(rdoEucationLevel) {

        frmId = $(rdoEucationLevel).closest('form').get(0).id;
        var id = $(rdoEucationLevel).val();
        educationlevelid = id;

        $.ajax({
           url: '@Url.Action("GetClassPanel", "MarkRecord")',
            type: 'post',
            data: { id: id},
               //data: jsonUtils.serializeObject("frmClassSubjectObject") ,


            beforeSend: function () {
               
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#hdEucationLevel").attr("value",id );
                $("#panelFooterSearch").hide();
                $("#lstMarkRecord").hide();
                $("#ClassPanel").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
           
        })
    }
     function onClassPanelByEducationLevel(educationlevelid) {
        $.ajax({
           url: '@Url.Action("GetClassPanel", "MarkRecord")',
            type: 'post',
            data: { id: educationlevelid},
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {

                $("#panelFooterSearch").hide();
                $("#lstMarkRecord").hide();
                $("#ClassPanel").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
           
        })
    }
    function changeSubject(rdoSubject) {
        subjectid = $(rdoSubject).val();
        $("#subjectid").val(subjectid);
        $("#lstMarkRecord").show();
        loadData();
    }

    function loadData() {

        
         periodid = $('#cboPeriod').val();
         $('input[name=chkEntryMark]').attr('checked', false);

         semesterid = $("input[name=rdoSemester]:checked").val();
        if (subjectid != 0 && periodid != 0 && educationlevelid != 0 && classid != 0 & semesterid !=0) {
            //alert(periodid);
            $.ajax({
                url: '@Url.Action("GetData", "MarkRecord")',
                type: 'post',
                data: { subjectid: subjectid, periodid: periodid, educationlevelid: educationlevelid, classname: classname, classid: classid, semesterid: semesterid },
                //data: jsonUtils.serializeObject("frmClassSubjectObject") ,


                beforeSend: function () {

                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    
                    $("#lstMarkRecord").html(msg);
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }

            })
        }
    }

    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
