﻿@model ViolatedInvigilatorCreateModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ViolatedInvigilatorArea.Models
@using SMAS.Web.Areas.ViolatedInvigilatorArea
@using (Ajax.BeginForm("Create",
                       "ViolatedInvigilator",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelComboboxFor(u => u.CreateExaminationID, Res.Get("Examination_Label_Title"), (SelectList)ViewData[ViolatedInvigilatorConstants.LIST_EXAMINATION_CREATE], 0, null, true)
            @Html.ViettelComboboxFor(u => u.CreateEducationLevelID, Res.Get("DetachableHeadBag_Label_EducationLevel"), (SelectList)ViewData[ViolatedInvigilatorConstants.LIST_EDUCATION_LEVEL], 0, null, true)
            @Html.ViettelComboboxFor(u => u.CreateExaminationSubjectID, Res.Get("Candidate_Label_ExaminationSubject"), new List<SelectListItem>(), 0, null, true)
            @Html.ViettelComboboxFor(u => u.CreateRoomID, Res.Get("ExaminationRoom_Label_AllTitle"), new List<SelectListItem>(), 0, null, true)
            @Html.ViettelTextboxFor(u => u.ViolationDetail, Res.Get("ViolatedInvigilator_Label_ViolationDetail"), null, true)
            @Html.ViettelTextboxFor(u => u.DisciplinedForm, Res.Get("ViolatedInvigilator_Label_DisciplinedForm"), null, true)
        </div>
        <div id="lstTreatment" class="vt-ResultPanel">
            <div id="gridInvigilatorCreate">
                @Html.Partial("_InvigilatorAsignments")
            </div>
            <div class="vt-ResultPanel-Footer">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "return ValidateSummary();", "")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "")
            </div>
        </div>
    </div>
}

@*@using (Ajax.BeginForm("Create",
                       "ViolatedInvigilator",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    @Html.AntiForgeryToken()
         
    @Html.ViettelComboboxFor(u => u.CreateExaminationID, Res.Get("Examination_Label_Title"), (SelectList)ViewData[ViolatedInvigilatorConstants.LIST_EXAMINATION], 0, null, true);
    @Html.ViettelComboboxFor(u => u.CreateEducationLevelID, Res.Get("DetachableHeadBag_Label_EducationLevel"), (SelectList)ViewData[ViolatedInvigilatorConstants.LIST_EDUCATION_LEVEL], 0, null, true);
    @Html.ViettelComboboxFor(u => u.CreateExaminationSubjectID, Res.Get("Candidate_Label_ExaminationSubject"), new List<SelectListItem>(), 0, null, true); 
    @Html.ViettelComboboxFor(u => u.CreateRoomID, Res.Get("ExaminationRoom_Label_AllTitle"), new List<SelectListItem>(), 0, null, true);  
    @Html.ViettelTextboxFor(u => u.ViolationDetail, Res.Get("ViolatedInvigilator_Label_ViolationDetail"), null, true)                                                                                                                                                                                                     
    @Html.ViettelTextboxFor(u => u.DisciplinedForm, Res.Get("ViolatedInvigilator_Label_DisciplinedForm"), null, true); 
    
    <div id="gridInvigilatorCreate">
        @Html.Partial("_InvigilatorAsignments")
    </div>                         
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "return ValidateSummary();", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "")
    </div>
}*@
<script type="text/javascript">
    function ValidateSummary() {
        if (!validateUtils.validateForm('frmCreate'))
            return false;

        if ($("#gridInvigilatorCreate input:checkbox[name='CreateInvigilatorAssignmentIDs']:checked").length == 0) {
            msg = {};
            msg["Type"] = "error";
            msg["Message"] = '@Res.Get("Common_Validate_NoRecordSelected")';
            smas.alert(msg);
            return false;
        }

        return true;
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            var createdExamID = $("#frmCreate #CreateExaminationID").val();
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            $("#frmCreate #CreateExaminationID").val(createdExamID);
            var ExaminationID = $("#frmSearch #ExaminationID").val();
            if (createdExamID == ExaminationID) {
                search();
            }
            fn_EmptyCreateInvigilator();
        }
    }

    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function fn_EmptyCreateInvigilator() {
        $("#gridInvigilatorCreate div.t-grid-content").find("tr").remove();
    }

    function fn_LoadCreateExamSubject(eduId, eId) {
        $.ajax({
            url: '@Url.Action("LoadExamSubject", "ViolatedInvigilator")',
            type: 'post',
            data: { educationLevelID: eduId, examinationID: eId },
            success: function (data) {
                $("#CreateExaminationSubjectID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
                $.each(data, function (index, value) {
                    $('#CreateExaminationSubjectID').append($("<option></option>").attr("value", value.key).text(value.value));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
        }

        function fn_LoadCreateRoom(esId) {
            $.ajax({
                url: '@Url.Action("LoadRoom", "ViolatedInvigilator")',
            type: 'post',
            data: { examSubjectID: esId },
            success: function (data) {
                $("#CreateRoomID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
                $.each(data, function (index, value) {
                    $('#CreateRoomID').append($("<option></option>").attr("value", value.key).text(value.value));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
        }

        function fn_LoadCreateInvigilator(rId) {
            $.ajax({
                url: '@Url.Action("LoadInvigilator", "ViolatedInvigilator")',
            type: 'post',
            data: { roomID: rId },
            success: function (data) {
                $("#gridInvigilatorCreate").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function fn_LoadEducationLevel(eId) {
        controlUtils.loadComboBox(
            $("#CreateEducationLevelID"),
            '@Url.Action("LoadEducationLevel", "ViolatedInvigilator")',
            { examinationID: eId },
            '@Res.Get("Common_Combo_Choose")'
        );
        }

        $(document).ready(function () {
            $("#CreateExaminationID").change(function () {
                var examinationID = $(this).val();
                fn_EmptyCreateInvigilator();
                $("#CreateEducationLevelID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
            $("#CreateExaminationSubjectID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
            $("#CreateRoomID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
            if (examinationID > 0) {
                fn_LoadEducationLevel(examinationID);
            }
        });

        $("#CreateEducationLevelID").change(function () {
            fn_EmptyCreateInvigilator();
            $("#CreateExaminationSubjectID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
            $("#CreateRoomID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');

            var educationLevelID = $(this).val();
            var examinationID = $("#CreateExaminationID").val();
            if (educationLevelID > 0 && examinationID > 0) {
                fn_LoadCreateExamSubject(educationLevelID, examinationID);
            }
        });

        $("#CreateExaminationSubjectID").change(function () {
            var examinationSubjectID = $(this).val();
            fn_EmptyCreateInvigilator();
            $("#CreateRoomID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
            if (examinationSubjectID > 0) {
                fn_LoadCreateRoom(examinationSubjectID);
            }
        });

        $("#CreateRoomID").change(function () {
            var roomID = $(this).val();
            fn_EmptyCreateInvigilator();
            if (roomID > 0) {
                fn_LoadCreateInvigilator(roomID);
            }
        });
    });
</script>
