@model ViolatedInvigilatorViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ViolatedInvigilatorArea.Models
<style type="text/css" media="screen">
    table.ViolatedInvigilator tr td
    {
        padding: 10px;
    }
    
    .no-label .editor-label
    {
        display: none;
    }
</style>
@using (Ajax.BeginForm("Edit",
                       "ViolatedInvigilator",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            <table class="ViolatedInvigilator">
                <tr>
                    <td width="150px">@Html.LabelFor(u => u.EducationLevelResolution)
                        @Html.ViettelHidden("ViolatedInvigilatorID")
                    </td>
                    <td>
                        <span id="EducationLevelResolution"></span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.ExaminationTitle)
                    </td>
                    <td>
                        <span id="ExaminationTitle"></span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.SubjectName)
                    </td>
                    <td>
                        <span id="SubjectName"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.RoomTitle)
                    </td>
                    <td>
                        <span id="RoomTitle"></span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.FullName)
                    </td>
                    <td>
                        <span id="FullName"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.ViolationDetail)&nbsp;<span style="color: red;">*</span>
                    </td>
                    <td class="no-label">
                        @Html.ViettelTextboxFor(u => u.ViolationDetail, "", new Dictionary<string, object> { }, true)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.DisciplinedForm)&nbsp;<span style="color: red;">*</span>
                    </td>
                    <td class="no-label">
                        @Html.ViettelTextboxFor(u => u.DisciplinedForm, "", new Dictionary<string, object> { }, true)
                    </td>
                </tr>
            </table>
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
        </div>
    </div>
}
@*@using (Ajax.BeginForm("Edit",
                       "ViolatedInvigilator",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <table class="ViolatedInvigilator">
        <tr>
            <td width="150px">@Html.LabelFor(u => u.EducationLevelResolution)
                @Html.ViettelHidden("ViolatedInvigilatorID")
            </td>
            <td>
                <span id="EducationLevelResolution"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.ExaminationTitle)
            </td>
            <td>
                <span id="ExaminationTitle"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.SubjectName)
            </td>
            <td>
                <span id="SubjectName"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(u => u.RoomTitle)
            </td>
            <td>
                <span id="RoomTitle"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.FullName)
            </td>
            <td>
                <span id="FullName"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(u => u.ViolationDetail)&nbsp;<span style="color: red;">*</span>
            </td>
            <td class="no-label">
                @Html.ViettelTextboxFor(u => u.ViolationDetail, "", new Dictionary<string, object> { }, true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(u => u.DisciplinedForm)&nbsp;<span style="color: red;">*</span>
            </td>
            <td class="no-label">
                @Html.ViettelTextboxFor(u => u.DisciplinedForm, "", new Dictionary<string, object> { }, true)
            </td>
        </tr>
    </table>
    
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
    </div>

}*@
<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
