﻿@model ViolatedInvigilatorViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ViolatedInvigilatorArea.Models
@using SMAS.Web.Areas.ViolatedInvigilatorArea

@{
    int CountGrid = 0;
    if (ViewData[ViolatedInvigilatorConstants.LIST_VIOLATED_INVIGILATOR] != null)
    {
        List<ViolatedInvigilatorViewModel> list = (List<ViolatedInvigilatorViewModel>)ViewData[ViolatedInvigilatorConstants.LIST_VIOLATED_INVIGILATOR];
        CountGrid = list.Count;
    }
 }
@using (Ajax.BeginForm("DeleteAll",
                       "ViolatedCandidate",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DeleteAllSuccess",
                           OnFailure = "DeleteAllFail"
                       },
                       new { id = "frmDelete" }
                       ))
{
    @Html.AntiForgeryToken()
    var index = 1;
    GlobalInfo glo = new GlobalInfo();

    Html.Telerik()
    .Grid((List<ViolatedInvigilatorViewModel>)ViewData[ViolatedInvigilatorConstants.LIST_VIOLATED_INVIGILATOR])
    .Name("GridViolatedInvigilator")
    .Columns(c =>
    {
        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

        c.Bound(o => o.FullName).Title(Res.Get("Employee_Label_FullName")).Width(150);
        c.Bound(o => o.BirthDay).Title(Res.Get("Employee_Label_BirthDate")).Format("{0:dd/MM/yyyy}").Sortable(true).Width(100);
        c.Template(@<text> @(item.Genre ? Res.Get("Common_Label_Male") : Res.Get("Common_Label_Female"))</text>).ClientTemplate("<#= HtmlGenre(Genre)#>").Title(Res.Get("Employee_Label_Sex")).Width(60);
        c.Bound(o => o.EducationLevelResolution).Title(Res.Get("DetachableHeadBag_Label_EducationLevel")).Width(70);
        c.Bound(o => o.SubjectName).Title(Res.Get("Candidate_Label_ExaminationSubject")).Width(70);
        c.Bound(o => o.RoomTitle).Title(Res.Get("ExaminationRoom_Label_AllTitle")).Width(70);
        c.Bound(o => o.ViolationDetail).Title(Res.Get("ViolatedInvigilator_Label_ViolationDetail"));
        c.Bound(o => o.DisciplinedForm).Title(Res.Get("ViolatedInvigilator_Label_DisciplinedForm"));

        if (glo.IsCurrentYear)
        {
            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "ViolatedInvigilator")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
            }).Title(Res.Get("Common_Column_Edit")).Width(40);
        }
        c.Template(@<text>
    <input type="checkbox" name="ViolatedInvigilators" value="@item.ViolatedInvigilatorID" onclick="fn_ViolatedInvigilatorssClick(this)" />
    </text>).ClientTemplate("<#= HtmlViolatedInvigilators(ViolatedInvigilatorID)#>").HeaderTemplate(@<text>
    <input type="checkbox" id="ViolatedInvigilatorCheckAll" onclick="fn_ViolatedInvigilatorsAllClick()" />
    </text>).Width(40);
    })
    .DataBinding(b =>
        b.Ajax().OperationMode(GridOperationMode.Client)
                .Select("Search", "ViolatedInvigilator")
     )
    .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                        .OnCommand("Grid_onCommand")
    )
    .DataKeys(keys => keys.Add(o => o.ViolatedInvigilatorID))
    .Pageable()
    .Sortable()
    .Editable(editing => editing.Mode(GridEditMode.PopUp))
    .Selectable()
    .Scrollable(u => u.Enabled(true).Height(500))
    .Resizable(u => u.Columns(true))
    .Render();
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Center">
           @{
                if (CountGrid > 0)
            {
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object>() { { "name", "export" } }, "button", "fn_Export_Click()", "")
                      if (glo.IsCurrentYear && (bool)ViewData[ViolatedInvigilatorConstants.ENABLE_DELETE])
                      {
                @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object>() { { "name", "deleteall" } }, "submit", "return fn_DeleteAll_Sumarize();", "")
            }
            }
            }
           
        </div>
        <div class="Clear">
        </div>
    </div>
}
@*@using (Ajax.BeginForm("DeleteAll",
                       "ViolatedCandidate",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "DeleteAllSuccess",
                           OnFailure = "DeleteAllFail"
                       },
                       new { id = "frmDelete" }
                       ))
{
    @Html.AntiForgeryToken()
var index = 1;
GlobalInfo glo = new GlobalInfo();

Html.Telerik()
    .Grid((List<ViolatedInvigilatorViewModel>)ViewData[ViolatedInvigilatorConstants.LIST_VIOLATED_INVIGILATOR])
    .Name("GridViolatedInvigilator")
    .Columns(c =>
    {
        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

        c.Bound(o => o.FullName).Title(Res.Get("Employee_Label_FullName")).Width(150);
        c.Bound(o => o.BirthDay).Title(Res.Get("Employee_Label_BirthDate")).Format("{0:dd/MM/yyyy}").Sortable(true).Width(100);
        c.Template(@<text> @(item.Genre ? Res.Get("Common_Label_Female") : Res.Get("Common_Label_Male"))</text>).Title(Res.Get("Employee_Label_Sex")).Width(60);
        c.Bound(o => o.EducationLevelResolution).Title(Res.Get("DetachableHeadBag_Label_EducationLevel")).Width(70);
        c.Bound(o => o.SubjectName).Title(Res.Get("Candidate_Label_ExaminationSubject")).Width(70);
        c.Bound(o => o.RoomTitle).Title(Res.Get("ExaminationRoom_Label_AllTitle")).Width(70);
        c.Bound(o => o.ViolationDetail).Title(Res.Get("ViolatedInvigilator_Label_ViolationDetail"));
        c.Bound(o => o.DisciplinedForm).Title(Res.Get("ViolatedInvigilator_Label_DisciplinedForm"));

        if (glo.IsCurrentYear)
        {
            c.Command(cmd =>
            {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit", "ViolatedInvigilator")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
            }).Title(Res.Get("Common_Column_Edit")).Width(40);
        }
        c.Template(@<text>
    <input type="checkbox" name="ViolatedInvigilators" value="@item.ViolatedInvigilatorID" onclick="fn_ViolatedInvigilatorssClick(this)" />
    </text>).HeaderTemplate(@<text>
    <input type="checkbox" id="ViolatedInvigilatorCheckAll" onclick="fn_ViolatedInvigilatorsAllClick()" />
    </text>).Width(40);
    })
    .DataBinding(b =>
        b.Ajax().OperationMode(GridOperationMode.Client)
                .Select("Search", "ViolatedInvigilator")
     )
    .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                        .OnCommand("Grid_onCommand")
    )
    .DataKeys(keys => keys.Add(o => o.ViolatedInvigilatorID))
    .Pageable()
    .Sortable()
    .Editable(editing => editing.Mode(GridEditMode.PopUp))
    .Selectable()
    .Scrollable(u => u.Enabled(true).Height(500))
    .Resizable(u => u.Columns(true))
    .Render();

if (glo.IsCurrentYear && (bool)ViewData[ViolatedInvigilatorConstants.ENABLE_DELETE])
{
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object>() { { "name", "export" } }, "button", "fn_Export_Click()", "")
        @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object>() { { "name", "deleteall" } }, "submit", "return fn_DeleteAll_Sumarize();", "")
    </div>
}
}*@
<script type="text/javascript">

    function HtmlGenre(Genre) {
        var html = '';
        if (Genre == 0) {
            html = '@Res.Get("Common_Label_Female")';
        } else {
            html = '@Res.Get("Common_Label_Male")';
        }
        return html;
    }

    function HtmlViolatedInvigilators(ViolatedInvigilatorID)
    {
        var html='';
        html = '<input type="checkbox" name="ViolatedInvigilators" value="' + ViolatedInvigilatorID + '" onclick="fn_ViolatedInvigilatorssClick(this)" />';
        return html;
    }

    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridViolatedInvigilator').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        $("#gridInvigilatorCreate div.t-grid-content").find("tr").remove();
        $("#CreateExaminationSubjectID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
        $("#CreateRoomID").find('option').remove().end().append('<option value>@Res.Get("Common_Combo_Choose")</option>');
        smas.openDialog("createDialog", "", {});
    }

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            $("#editDialog").find("#FullName").html(item.FullName);
            $("#editDialog").find('#EducationLevelResolution').html(item.EducationLevelResolution);
            $("#editDialog").find('#ExaminationTitle').html(item.ExaminationTitle);
            $("#editDialog").find('#SubjectName').html(item.SubjectName);
            $("#editDialog").find('#RoomTitle').html(item.RoomTitle);
            $("#editDialog").find('#ViolationDetail').val(item.ViolationDetail);
            $("#editDialog").find('#DisciplinedForm').val(item.DisciplinedForm);
            $("#editDialog").find('#ViolatedInvigilatorID').val(item.ViolatedInvigilatorID);
            smas.openDialog("editDialog", "", {});
        }
    }

    function fn_DeleteAll_Sumarize() {
        if ($("input:checkbox[name='ViolatedInvigilators']:checked").length > 0) {
            return confirm('@Html.Raw(Res.Get("DeleteMsgRK"))');
        } else {
            alert('@Html.Raw(Res.Get("Common_Validate_NoRecordSelected"))');
            return false;
        }
    }

    function fn_Export_Click() {
        window.open('@Url.Action("Export", "ViolatedInvigilator")?' + $("#frmSearch").serialize());
    }

    function fn_ViolatedInvigilatorsAllClick() {
        if ($("#ViolatedInvigilatorCheckAll").attr('checked')) {
            $("input:checkbox[name='ViolatedInvigilators']").each(function (index, item) {
                $(item).attr('checked', "checked")
            });
        }
        else {
            $("input:checkbox[name='ViolatedInvigilators']").each(function (index, item) {
                $(item).removeAttr('checked')
            });
        }
    }


    function fn_ViolatedInvigilatorssClick(element) {
        if (element.checked) {
            if ($("input:checkbox[name='ViolatedInvigilators']").length == $("input:checkbox[name='ViolatedInvigilators']:checked").length)
                $("#ViolatedInvigilatorCheckAll").attr('checked', 'checked');
        }
        else
            $("#ViolatedInvigilatorCheckAll").removeAttr('checked');
    }

    function DeleteAllSuccess(msg) {
        smas.alert(msg);
        search();
    }

    function DeleteAllFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
