				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ViolatedInvigilatorArea.Models
<style type="text/css">
    #SearchPanel .vt-control, #frmCreate .vt-control
    {
        width:48%;
    }
    
    #SearchPanel .editor-label
    {
        width:30%;
    }
    #SearchPanel .editor-field
    {
        width:60%;
    }
</style>
@{
    ViewBag.Title = Res.Get("ViolatedInvigilator_Label_AllTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

@*<div id="lstViolatedInvigilator">*@
<div class="vt-ResultPanel" id="lstViolatedInvigilator">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ViolatedInvigilator_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(900)
                .Height(800)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ViolatedInvigilator_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(900)
                .Height(800)
)
 