﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportPreliminarySendSGDArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@{
    int checkindex = (int)ViewData[ReportMenuDirectionConstant.EDUCATION_GRADE];
}

<div class=" vt-InfoPanel mg-b-10">
    <div style="text-align:right;">
        <input type="submit" value="Xuất Excel" onclick="exportGraduationReport()" class="btn btn-info btn-round btn-icon btn-icon-excel ">
        
    </div>
</div>

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        @Res.Get("HTML_Pattern_Report")
    </div>
</div>
@{
    if (checkindex == 2)
    {
        <iframe id="HtmlPattern" style="width:100%;height:1000px" src="@Url.Action("ViewHtmTemplateTHCS", "GraduationReport", new {area="ReportMenuDirectionArea" })"></iframe>
    }
    else
    {
        <iframe id="HtmlPattern" style="width:100%;height:600px" src="@Url.Action("ViewHtmTemplateTHPT", "GraduationReport", new {area="ReportMenuDirectionArea" })"></iframe>
    }
}

<script type="text/javascript">
    function exportGraduationReport() {
        $.ajax({
            url: '@Url.Action("GetReport", "GraduationReport")',
            type: 'post',
            dataType: 'json',
            data: null,
            success: function (data) {
                if (data.Type == "new") {
                    smas.showProcessingDialog();
                    setTimeout(function () {
                        window.location = '@Url.Action("DownloadFileExcel", "GraduationReport")';
                        smas.hideProcessingDialog();
                    }, 10000);
                } else if (data.Type == "error") {
                    smas.alert(data.Message);
                } else {
                    $('#MessageForExportDiv').html("Báo cáo này đã được tổng hợp từ ngày " + data.ProcessedDate
                                                + ". Bạn có thể tải file đã tổng hợp hoặc tổng hợp lại.");
                    $('#OldExportButton').unbind('click');
                    $('#OldExportButton').click(function (evt) {
                        window.location = '@Url.Action("DownloadFileExcel", "GraduationReport")';
                        smas.closeDialog("ConfirmExportDialog");
                    });

                    $('#NewExportButton').unbind('click');
                    $('#NewExportButton').click(function (evt) {
                        smas.showProcessingDialog();
                        window.location = '@Url.Action("ExportExcel", "GraduationReport")';
                        setTimeout(function () {
                            smas.hideProcessingDialog();
                            smas.closeDialog("ConfirmExportDialog");
                        }, 19000);
                    });
                    smas.openDialog("ConfirmExportDialog", "", {});
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    };
</script>
