﻿@using System.Collections;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants

@{
    List<ProvinceApplyBO> lstProvince = (List<ProvinceApplyBO>)ViewData[PromotionProgramConstant.LIST_PROVINCE_APPLY_EDIT] != null ? (List<ProvinceApplyBO>)ViewData[PromotionProgramConstant.LIST_PROVINCE_APPLY_EDIT] : new List<ProvinceApplyBO>();
    int index = 1;
}

<style type="text/css">
  
</style>

<div class="vt-control ProvinceApply">
    <div><span>Tỉnh/TP áp dụng:</span></div>
    @{
        Html.Telerik().Grid(lstProvince)
        .Name("GridProvinceApplyEdit")
        .Columns(column =>
        {
            column.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).Width(30);
            column.Bound(p => p.ProvinceName).Title("Tỉnh/TP").HtmlAttributes(new { style = "text-align:left;" }).Width(130);
            column.Template(@<text>
                @{
                    if (item.IsApply.HasValue && item.IsApply == true)
                    {
                        <input type="checkbox" class="CheckItemEdit" name="CheckEdit" onchange="checkChildEdit(this)" value="@item.ProvinceID" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" class="CheckItemEdit" name="CheckEdit" onchange="checkChildEdit(this)" value="@item.ProvinceID" />
                    }
}
            </text>)
            .HeaderTemplate(@<text>
                <span>Áp dụng</span><br />
                <input type="checkbox" id="CheckAllEdit" name="AllEdit" onchange="checkAllEdit(this)" />
            </text>)
            .HeaderHtmlAttributes(new { style = "text-align:center;" })
            .HtmlAttributes(new { style = "text-align:center;" })
            .Width(70);
        })
        .DataKeys(keys => keys.Add(o => o.ProvinceID))
        .Scrollable(p => p.Height(155))
        .Selectable()
        .Render();
    }
</div>
