﻿@using System.Collections;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    List<ProvinceApplyBO> lstProvince = ViewData[PromotionProgramConstant.LIST_PROVINCE_APPLY] != null ? (List<ProvinceApplyBO>)ViewData[PromotionProgramConstant.LIST_PROVINCE_APPLY] : new List<ProvinceApplyBO>();
    int PromotionID = ViewData[PromotionProgramConstant.PROMOTION_ID] != null ? (int)ViewData[PromotionProgramConstant.PROMOTION_ID] : 0;
}
<style type="text/css">
   
</style>
@using (Ajax.BeginForm("SearchSchoolApplied",
                           "PromotionProgram",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstSchoolApplied",
                               OnBegin = "smas.showProcessingDialog()",
                               OnSuccess = "smas.hideProcessingDialog()",
                               OnComplete = "smas.hideProcessingDialog()",
                               OnFailure = "failureRequest"
                           },
                           new { id = "frmSearch" }))
{
    <div class="promotion-program-shoolApplied-window">
    <input type="hidden" id="PromotionID" name="PromotionID" value="@PromotionID" />
    <div class="vt-SearchPanelEdit" style="width:98%;">
    <div class="vt-SearchPanel-ContentEdit row">
        <div class="col-md-6 col-sm-10">
             <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Tên chương trình")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <input type="text" id="txtPromotionID" disabled="disabled" />
        </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Tỉnh/tp")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <select name="ProvinceID" id="ProvinceID" onchange="AjaxLoadDistrict()">
                <option value="0">[Tất cả]</option>
                @for (int i = 0; i < lstProvince.Count; i++)
                {
                    <option value="@lstProvince[i].ProvinceID">@lstProvince[i].ProvinceName</option>    
                }
            </select>
        </div>
            </div>
        <div class="col-md-6 col-sm-10">
                    <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Quận huyện")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <select name="DistrictID" id="DistrictID">
                <option value="">[Tất cả]</option>
            </select>
        </div>
        </div>        

        <div class="col-md-6 col-sm-10">
        <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Loại")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <select name="TypeID" id="TypeID">
                <option value="0">[Tất cả]</option>
                <option value="1">Trường</option>
                <option value="2">Phòng sở</option>
            </select>
        </div>
            </div>
        <div class="col-md-6 col-sm-10">
        <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Trạng thái")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <select name="StatusID" id="StatusID">
                <option value="0">[Tất cả]</option>
                <option value="1">Đang áp dụng</option>
                <option value="2">Chưa áp dụng</option>
            </select>
        </div>
            </div>
        <div class="col-md-6 col-sm-10">
        <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Tên trường/ Đơn vị")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <input type="text" maxlength="300" id="SchoolName" name="SchoolName"/>
        </div>
            </div>
        <div class="col-md-6 col-sm-10">
        <div class="formSearchTd formSearchTdLabelPostage">
            <div class="lbContain">@Res.Get("Tài khoản")</div>
        </div>
        <div class="formSearchTd formSearchTdInputPostage">
            <input type="text" id="Account" name="Account" maxlength="50" />
        </div>
            </div>
    </div>
    <div class="vt-SearchPanel-ButtonEdit">
        <input type="submit" class="btn btn-info btn-round btn-icon btn-icon-search" name="BtnSearch" id="BtnSearch" value="Tìm kiếm" />
    </div>
    <div class="clear"></div>
    </div>
    <div id="lstSchoolApplied" style="margin-left:8px;width:739px;"></div>
        </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        AjaxLoadDistrict();
    });
    function AjaxLoadDistrict()
    {
        var provinceID = $('#frmSearch #ProvinceID').val();
        controlUtils.loadComboBox($('#DistrictID'), '@Url.Action("AjaxLoadDistrictID","PromotionProgram")', { 'ProvinceID': provinceID }, "[Tất cả]");
    }
</script>
