﻿@model ReportInfoViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamResultReportArea.Models
@using SMAS.Web.Areas.ExamResultReportArea

@{
    Layout = "~/Areas/ExamResultReportArea/Views/Shared/_ReportLayout.cshtml";
}

<form id="frmReport">
    @Html.AntiForgeryToken()
   <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 ticket-take-exam-paper-page">
        <div class="vt-SearchPanel-Title">
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            @Res.Get("PHIẾU THU BÀI THI")
        </div>
        <div class="vt-SearchPanel-Content">
           
            @Html.ViettelEditorFor(model => model.ExaminationsID)
                   
            @Html.ViettelEditorFor(model => model.ExamGroupID)
                   
            @*@Html.ViettelEditorFor(model => model.ExamRoomID)*@

            @Html.ViettelEditorFor(model => model.SubjectIDCustom)
             
        </div>
        <div class="vt-SearchPanel-Button">
           @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", false, "btn btn-info btn-icon btn-round btn-icon-excel")
           @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>

<script type="text/javascript">
    function ExportClick() {
        
        var ExamGroupID = $("#ExamGroupID").val();
        var ExaminationsID = $("#ExaminationsID").val();
        if (ExamGroupID == null || ExamGroupID == "" || ExamGroupID == "null" || ExamGroupID == undefined)
        {
            smas.alertColor("Thầy/cô chưa chọn Nhóm thi","red");
        }
        else if (ExaminationsID == null || ExaminationsID == "" || ExaminationsID == "null" || ExaminationsID == undefined)
        {
            smas.alertColor("Thầy/cô chưa chọn Kỳ thi","red");
        }
        else
        {
            smas.getReport("frmReport", '@Url.Action("GetReport", "TicketTakeExamPaper")',
                 '@Url.Action("GetNewReport", "TicketTakeExamPaper")', '@Url.Action("DownloadReport", "TicketTakeExamPaper")');
        }      
    }

    function SubmitPDFClick() {
        var ExamGroupID = $("#ExamGroupID").val();
        var ExaminationsID = $("#ExaminationsID").val();
        if (ExamGroupID == null || ExamGroupID == "" || ExamGroupID == "null" || ExamGroupID == undefined) {
            smas.alertColor("Thầy/cô chưa chọn Nhóm thi", "red");
        }
        else if (ExaminationsID == null || ExaminationsID == "" || ExaminationsID == "null" || ExaminationsID == undefined) {
            smas.alertColor("Thầy/cô chưa chọn Kỳ thi", "red");
        }
        else {
            var subject = $("#frmReport").find("#SubjectIDCustom").val();
            var blank = (subject != "") ? '_blank' : '';
            smas.getReportDocument('frmReport', '@Url.Action("GetReport", "TicketTakeExamPaper")',
            '@Url.Action("GetNewReport", "TicketTakeExamPaper")', '@Url.Action("DownloadPDFReport", "TicketTakeExamPaper")', blank);
        }
    }

    function onExaminationsChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        controlUtils.loadComboBox(
                     $("#ExamGroupID"),
                    '@Url.Action("AjaxLoadExamGroup", "TicketTakeExamPaper")',
                                { examinationsID: examinationsID },
                                '@Res.Get("")', function () { $("#ExamGroupID").change() })
                            }

    function onExamGroupChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        var examGroupID = $("#frmReport").find("#ExamGroupID").val();
        var data = { examinationsID: examinationsID, examGroupID: examGroupID };
       
        controlUtils.loadComboBox(
                            $("#SubjectIDCustom"),
                            '@Url.Action("AjaxLoadExamSubject", "TicketTakeExamPaper")',
                                    data, '@Res.Get("All")', "");

    }
</script>

