@model PupilDisciplineViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilPraiseArea.Models
@using SMAS.Web.Areas.PupilPraiseArea
@using SMAS.Web.Constants
<style type="text/css">
    .vt-EditorPanel .vt-control.EducationLevelID{width:58%}.vt-EditorPanel .vt-control.EducationLevelID .editor-label{width:51%}.vt-EditorPanel .vt-control.EducationLevelID .editor-field{width:38%}.vt-EditorPanel .vt-control.ClassID{width:37.4%}#frmCreateDis #Description{height:80px;width:335px}
</style>
@using (Ajax.BeginForm("CreateDis",
                       "PupilPraise",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreateDis" }
                       ))
{
    @Html.AntiForgeryToken()
         
    <div class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.ViettelComboboxFor(pp => pp.EducationLevelID, Res.Get("PupilDiscipline_Label_EducationLevel"),
                 ((IEnumerable<SelectListItem>)ViewData[PupilPraiseConstants.LIST_EducationLevel_Create_Discipline]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                      {"OnChange","AjaxLoadClassCreate(this, this.options[this.selectedIndex].value);"}
                    }, true)
            @Html.ViettelComboboxFor(pp => pp.ClassID, Res.Get("PupilPraise_Label_Class"),
                    ((IEnumerable<SelectListItem>)ViewData[PupilPraiseConstants.LIST_Class_Create_Discipline]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                      {"OnChange","AjaxLoadPupil(this, this.options[this.selectedIndex].value);"}
                    }, true)
            @Html.ViettelComboboxFor(pp => pp.PupilID, Res.Get("PupilDiscipline_Label_Pupil"),
           ((IEnumerable<SelectListItem>)ViewData[PupilPraiseConstants.LIST_Pupil_Create_Discipline]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                    }, true)
            @Html.ViettelComboboxFor(pp => pp.DisciplineTypeID, Res.Get("PupilDiscipline_Label_DisciplineType"),
                    ((IEnumerable<SelectListItem>)ViewData[PupilPraiseConstants.LIST_DisciplineType_Create]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {
                    }, true)
            @Html.ViettelComboboxFor(pp => pp.DisciplineLevel, Res.Get("PupilDiscipline_Label_DisciplineLevel"),
                 ((IEnumerable<SelectListItem>)ViewData[PupilPraiseConstants.LIST_DisciplineLevel_Create]), GlobalConstants.PLACEHOLDER_CHOICE,
                    new Dictionary<string, object>()
                    {                  
                    }, true)
            @Html.ViettelDatePicker("DisciplineDate", @Res.Get("PupilDiscipline_Label_DisciplineDate"), DateTime.Now, true, new Dictionary<string, object>())
            <div class="vt-control">
                <div class="editor-label">
                </div>
                <div class="editor-field">
                    <div style="float: left">
                        @Html.CheckBoxFor(model => model.IsRecordedInSchoolReport, new Dictionary<string, object>(){
                        { "style" , "margin-bottom: 0px; margin-top: 2px; margin-right: 8px;" }
                   })
                    </div>
                    <div style="float: left">
                        @Html.Label(@Res.Get("PupilPraise_Label_RecordedInSchoolReport"))
                    </div>
                </div>
            </div>
            @Html.ViettelTextAreaFor(model => model.Description, @Res.Get("PupilDiscipline_Label_Description"), true, new Dictionary<string, object>() { { "rows", "5" }, { "maxlength", "256" } })
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreateDis')) return false;", "")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialogDis');", "")
        </div>
    </div>
}
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreateDis");
            formUtils.focusForm("frmCreateDis");
            searchDis();
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
