﻿@model PupilPraiseViewModel           
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilPraiseArea.Models
@using SMAS.Web.Areas.PupilPraiseArea
<div id="DetailPraise" class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @Html.ViettelLabel(@Res.Get("PupilPraise_Label_ListPraise")):
            @Html.ViettelDisplayFor(o => o.FullName)
        </div>
        <div class="vt-ResultPanel-Title-Button">
        </div>
        <div class="Clear">
        </div>
    </div>
    <div>
        @{
            if (ViewData[PupilPraiseConstants.LIST_PUPILPRAISE_DETAIL] != null)
            {
                var index = 1;

                Html.Telerik()
                    .Grid((IEnumerable<PupilPraiseViewModel>)ViewData[PupilPraiseConstants.LIST_PUPILPRAISE_DETAIL])
                    .Name("GridPupilPraiseDetail")
                    .Columns(c =>
                    {
                        c.Template(@<text>@(index++)
            @Html.ViettelHidden("AbleEdit", item.CanEdit) </text>)
            .ClientTemplate("<#= lstInd++ #> <input type='hidden' id='AbleEdit' value='<#= CanEdit #>'/>")
            .Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);

                        c.Bound(o => o.PraiseType).Sortable(true).Visible(true);
                        c.Bound(o => o.PraiseLevelString).Sortable(true).Visible(true);
                        c.Bound(o => o.PraiseDate).Sortable(true).Visible(true).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "t-date" });

                        if (!(bool)ViewData[SMAS.Web.Constants.GlobalConstants.PER_UPDATE]) 
                        {
                            c.Command(cmd =>
                            {
                                cmd.Custom("vtEdit")
                                   .Text(Res.Get("Common_Column_Edit"))
                                   .Ajax(true)
                                   .Action("Edit", "PupilPraise")
                                   .ButtonType(GridButtonType.Image)
                                   .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
                            }).Title(Res.Get("Common_Column_Edit")).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(50);
                        }
                        
                        if (!(bool)ViewData[SMAS.Web.Constants.GlobalConstants.PER_DELETE]) 
                        {
                            c.Command(cmd =>
                            {
                                cmd.Custom("vtDelete")
                                   .Text(Res.Get("Common_Column_Edit"))
                                   .Ajax(true)
                                   .Action("Delete", "PupilPraise")
                                   .ButtonType(GridButtonType.Image)
                                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });
                            }).Title(Res.Get("Common_Column_Delete")).Width(50);
                        }
                    })
                    .DataBinding(b =>
                        b.Ajax().OperationMode(GridOperationMode.Client)
                                .Select("Search", "PupilPraise")

                     )
                    .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding1")
                                        .OnCommand("Grid_onCommand1")
                    )
                    .DataKeys(keys => keys.Add(o => o.PupilPraiseID))
                    .Sortable()   
                    .Editable(editing => editing.Mode(GridEditMode.PopUp))
                    .Selectable()
                    .Scrollable(o => o.Height("auto"))
                    .Render();
            } 
        }
    </div>
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Left">
        </div>
        <div class="vt-ResultPanel-Footer-Center">
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('detailDialog');", "")
        </div>
        <div class="vt-ResultPanel-Footer-Right">
        </div>
        <div class="Clear">
        </div>
    </div>
</div>
<script type="text/javascript">


    var lstInd = 0;

    function onchangePage() {
        $("#GridPupilPraiseDetail .t-grid-content tbody tr").each(function () {
            var ableEdity = $(this).find("#AbleEdit").val();

            if (ableEdity == "False" || ableEdity == "false") {
                $(this).find(".t-grid-vtEdit").parent().html("");
                $(this).find(".t-grid-vtDelete").parent().html("");
            }
        });
    }


    $(document).ready(function () {
        onchangePage();
    });
    function Grid_onDataBinding1(e) {
        var grid = $('#GridPupilPraiseDetail').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        //e.data = jsonUtils.serializeObject("frmSearchD");
    }
    function Grid_onCommand1(e) {

        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("frmEdit");
            smas.openDialog("editDialog", '@Url.Action("EditPraise")', { id: item.PupilPraiseID });
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("PupilPraise_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.PupilPraiseID }, 
                    function () {
                        searchDetail(item.PupilID, item.ClassID);
                        search();
                        ReLoadGridPraise();
                    }, null);
            });
        }
    }
    function searchDetail(PupilID, ClassID) {
        $.ajax({
            url: '@Url.Action("Detail", "PupilPraise")',
            data: { PupilID: PupilID, ClassID: ClassID },
            success: function (data) {
                $('#DetailPraise').html(data);
                ReLoadGridPraise();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });
    }
    function ReLoadGridPraise() {
        if ('@ViewData[PupilPraiseConstants.COUNT_PRAISE]' == '0') {
            smas.closeDialog('detailDialog');
        }
    }
    function Reload() {
        search();
    }

</script>
