﻿				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilPraiseArea.Models
@using SMAS.Web.Areas.PupilPraiseArea

<div id="SearchPanelDis">
    @Html.Partial("_SearchDis")
</div>

<div id="lstPupilDis" class="vt-ResultPanel">
    @Html.Partial("_ListDis")
</div>
@(Html.Telerik().Window()
                .Name("detailDialogDis")
                .Title(Res.Get("PupilDiscipline_DialogTitle_Detail"))
                .Content(@<text>@Html.Partial("_DetailDis")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700)
                .Height(350)
)

@(Html.Telerik().Window()
                .Name("createDialogDis")
                 .Title(Res.Get("PupilDiscipline_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_CreateDis")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(395)
)

@(Html.Telerik().Window()
                .Name("editDialogDis")
                .Title(Res.Get("PupilDiscipline_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_EditDis")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(395)
)


