﻿@model PupilDisciplineViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilPraiseArea.Models
@using SMAS.Web.Areas.PupilPraiseArea
@{
    List<PupilDisciplineViewModel> paging = (List<PupilDisciplineViewModel>)ViewData[PupilPraiseConstants.LIST_PUPILDISCIPLINE];
    var count = paging.Count();
}
<div class="vt-ResultPanel-Title">
    <div class="vt-ResultPanel-Title-Message">
        @if (paging != null)
        {
            @string.Format(Res.Get("Common_Message_RowCount"), count)
        }
    </div>
    <div class="vt-ResultPanel-Title-Button">
        @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreateDis();",
            (bool) ViewData[SMAS.Web.Constants.GlobalConstants.PER_CREATE])
    </div>
    <div class="Clear">
    </div>
</div>
@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<PupilDisciplineViewModel>)ViewData[PupilPraiseConstants.LIST_PUPILDISCIPLINE])
        .Name("GridPupilDis")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);

            c.Bound(o => o.FullName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true).Width(200);
            c.Bound(o => o.PupilCode).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.BirthDate).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { @class = "t-date" }).Sortable(true).Visible(true).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.GT).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.ClassName).HeaderHtmlAttributes(new { style = "text-align:center" }).Sortable(true).Visible(true);
            c.Bound(o => o.DisciplineTotal).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { @class = "t-number" }).Sortable(true).Visible(true);
            c.Command(cmd =>
            {
                cmd.Custom("vtDetail")
                    .Text(Res.Get("Common_Column_Detail"))
                    .Ajax(true)
                    .Action("DetailDis", "PupilPraise")
                    .ButtonType(GridButtonType.Image)
                    .ImageHtmlAttributes(new { @class = "t-icon t-details" });
            }).Title(Res.Get("Common_Column_ViewDetail")).HtmlAttributes(new { @class = "vt-icon" }).Width(20);

        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("SearchDis", "PupilPraise")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding2")
                            .OnCommand("Grid_onCommand2")
        )
        .DataKeys(keys => keys.Add(o => o.PupilDisciplineID))
        .Pageable(p => p.PageSize(Config.PageSize))
        .Sortable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Resizable(resizing => resizing.Columns(true))
        .Render();
       
                      
}
<script type="text/javascript">
    var lstInd = 0;

    function Grid_onDataBinding2(e) {
        var grid = $('#GridPupilDis').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearchDis");
    }
    function Grid_onCommand2(e) {

        if (e.name == "vtDetail") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("detailDialogDis");
            smas.bindTo(item, "detailDialogDis");
            // smas.openDialog("detailDialogDis", "", {});
            smas.openDialog("detailDialogDis", '@Url.Action("DetailDis")', { PupilID: item.PupilID, ClassID: item.ClassID });
        }
        //        if (e.name == "vtEdit") {
        //            e.preventDefault();
        //            var item = e.dataItem;

        //            formUtils.resetForm("editDialog");
        //            smas.bindTo(item, "editDialog");
        //            smas.openDialog("editDialog", "", {});
        //        }

        //        if (e.name == "vtDelete") {
        //            e.preventDefault();
        //            var item = e.dataItem;
        //            if(confirm('@Html.Raw(Res.Get("PupilDiscipline_Confirm_Delete"))')) {
        //                smas.post('@Url.Action("Delete")', {id: item.PupilPraiseID}, search, null);
        //            }
        //        }
    }
    function PrepareCreateDis() {
        formUtils.resetForm("createDialogDis");
        smas.openDialog("createDialogDis", '@Url.Action("_CreateDis")', {});
    }
</script>
<style type="text/css">
    .t-vtDetail{background-image:url(../../../../Content/images/Detail.gif)}
</style>
