﻿@model CommunicationNoteReportViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.LearningResultReportArea
@using SMAS.Web.Areas.LearningResultReportArea.Models

@using (Ajax.BeginForm("ExportExcel", "VnenCommunicationNoteReport",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        OnBegin = "smas.showProcessingDialog",
                                        OnComplete = "smas.hideProcessingDialog"
                                    },
                                    new { id = "frmReport" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("TypeExport")
    @Html.Hidden("MonthName")
    <div class="vt-SearchPanel vt-InfoPanel">
        <div class="vt-SearchPanel-Title">
            @Res.Get("CommunicationNote_Label_Title")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row Type" id="TypeID">
                <div class="col-md-3">
                    <div>
                        <label class="custom-radio-button">
                            <span>Học kỳ</span>
                            <input type="radio" id="rdoSemesterID" value ="1" checked="checked" onchange="OnChangRadio(this,1)" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="custom-radio-button">
                            <span>Tháng</span>
                            <input type="radio" id="rdoMonthID" value ="2" onchange="OnChangRadio(this,2)" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.ViettelEditorForModel()
                </div>
            </div>
            
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportExcel()", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDF()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="Clear"/>
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="margin-left:3px;scrollbar-3dlight-color:yellow;height:693px" id="htmlTemplateSemesterID">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Phieu_Lien_Lac_Vnen/HS_THCS_Phieulienlac_Khoi6_HK_VNEN.htm">
        </iframe>
</div>
<div style="margin-left:3px;scrollbar-3dlight-color:yellow;height:693px;display:none;" id="htmlTemplateMonthID">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Phieu_Lien_Lac_Vnen/HS_THCS_Phieulienlac_Thang_VNEN.htm">
        </iframe>
</div>
<script type="text/javascript">
    function ExportExcel() {
        var monthID = $('#MonthID').val();
        var monthName = $('#MonthID').find('option[value=' + monthID + ']').text()
        $('#MonthName').val(monthName);
        smas.getReport('frmReport', '@Url.Action("GetReport", "VnenCommunicationNoteReport")',
            '@Url.Action("GetNewReport", "VnenCommunicationNoteReport")', '@Url.Action("DownloadReport", "VnenCommunicationNoteReport")');

    };
    function ExportPDF() {
        var blank = '_blank';
        var monthID = $('#MonthID').val();
        var monthName = $('#MonthID').find('option[value=' + monthID + ']').text()
        $('#MonthName').val(monthName);
        smas.getReportDocument('frmReport', '@Url.Action("GetReport", "VnenCommunicationNoteReport")',
            '@Url.Action("GetNewReport", "VnenCommunicationNoteReport")', '@Url.Action("DownloadPDFReport", "VnenCommunicationNoteReport")',blank);

    };
    function AjaxLoadClass(cboEducationLevel) {
        var educationLevel = $(cboEducationLevel).val();
        controlUtils.loadComboBox(
                        $("#Class"),
                    '@Url.Action("AjaxLoadClass", "VnenCommunicationNoteReport")',
        { educationLevel: educationLevel },
        '@Res.Get("All")', null)
        }
    $(document).ready(function () {
        $('#MonthID').parent().parent().hide();
        var typeExport = $('#rdoSemesterID').is(':checked') ? 1 : 2;
        $('#TypeExport').val(typeExport);
        var monthID = $('#MonthID').val();
        var monthName = $('#MonthID').find('option[value=' + monthID + ']').text()
        $('#MonthName').val(monthName);
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    });
    function OnChangRadio(item,typeExportID)
    {
        $('#TypeExport').val(typeExportID);
        $('#TypeID').find('input[type="radio"]').removeAttr('checked');
        $(item).attr('checked', 'checked');
        if (typeExportID == 1) {
            $('#MonthID').parent().parent().hide();
            $('#Semester').parent().parent().show();
            $('#htmlTemplateSemesterID').show();
            $('#htmlTemplateMonthID').hide();
        }
        else {
            $('#MonthID').parent().parent().show();
            $('#Semester').parent().parent().hide();
            $('#htmlTemplateSemesterID').hide();
            $('#htmlTemplateMonthID').show();
            var monthID = $('#MonthID').val();
            var monthName = $('#MonthID').find('option[value=' + monthID + ']').text()
            $('#MonthName').val(monthName);
        }
    }
</script>
