﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.BookRecordTeachersArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
@{
    IEnumerable<ClassProfile> listClass = ViewData[BookRecordTeachersConstant.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    List<SubjectCatBO> lsClassSubject = (List<SubjectCatBO>)ViewData["ListSubjectComment"];
    GlobalInfo glo = new GlobalInfo();
}

<div>
    @{ 
       if(glo.AppliedLevel.Value > 1)
       { 
        @Html.ViettelListButtonStyle2("ListSubject", "", new Dictionary<string, object>(){}, "javascript:ChoiceSubject(this)", ViewData[BookRecordTeachersConstant.LIST_SUBJECT] as List<ViettelCheckboxList>, false)
        
            foreach(SubjectCatBO cs in lsClassSubject)
            {
                @Html.ViettelHidden(cs.SubjectCatID.ToString(),(cs.IsCommenting == SystemParamsInFile.ISCOMMENTING_TYPE_MARK || cs.IsCommenting == SystemParamsInFile.ISCOMMENTING_TYPE_MARK_JUDGE)?"1":"2")
            }
        }
    }
</div>
<script type="text/javascript">
    function ChoiceSubject(button) {
        controlUtils.ChangeStyleButton(button);
        $('#SubjectID').val($(button).parent().val());
        var subjectID = $('#SubjectID').val();
        $('#IsCommenting').val($("input[name="+subjectID+"]").val());
        //AjaxLoadGrid();
    }
    
    $(document).ready(function () {
        setTimeout(function () {
            if ($("#SubjectID").val() != "0") {
                //alert("#ListSubject a[value=" + $("#SubjectID").val() + "]");
                $("#ListSubject a[value=" + $("#SubjectID").val() + "]").addClass("Active");
                if ($("#ListSubject a[value=" + $("#SubjectID").val() + "]").length == 0)
                {
                    $("#list").html("");
                    $("#TitleGrid").html("");
                    $("#SubjectID").val("0");
                }
            } else {
                $("#list").html("");
            }
        }, 200);
        smas.hideProcessingDialog();
       
    }
    )
    
</script>
