﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.MarkRecordArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.BookRecordTeachersArea
@{
    ViewBag.Title = Res.Get("MarkRecord_Label_MarkRecordPeriod");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo glo = new GlobalInfo();

    int subjectID = 0;
    DateTime FirtSemesterStartDate = new DateTime();
    DateTime FirtSemesterEndDate = new DateTime();
    DateTime SecondSemesterStartDate = new DateTime();
    DateTime SecondSemesterEndDate = new DateTime();
    bool checkClassNull = false;
    if (ViewData[BookRecordTeachersConstant.CLASS_NULL] != null)
    {
        checkClassNull = (bool)ViewData[BookRecordTeachersConstant.CLASS_NULL];
    }
    if (ViewData[BookRecordTeachersConstant.SubjectID] != null)
    {
        subjectID = (int)ViewData[BookRecordTeachersConstant.SubjectID];
    }
    if (ViewData[BookRecordTeachersConstant.FIRT_SEMESTER_STARTDATE] != null)
    {
        FirtSemesterStartDate = (DateTime)ViewData[BookRecordTeachersConstant.FIRT_SEMESTER_STARTDATE];
    }
    if (ViewData[BookRecordTeachersConstant.FIRT_SEMESTER_ENDDATE] != null)
    {
        FirtSemesterEndDate = (DateTime)ViewData[BookRecordTeachersConstant.FIRT_SEMESTER_ENDDATE];
    }
    if (ViewData[BookRecordTeachersConstant.SECOND_SEMESTER_STARTDATE] != null)
    {
        SecondSemesterStartDate = (DateTime)ViewData[BookRecordTeachersConstant.SECOND_SEMESTER_STARTDATE];
    }
    if (ViewData[BookRecordTeachersConstant.SECOND_SEMESTER_ENDDATE] != null)
    {
        SecondSemesterEndDate = (DateTime)ViewData[BookRecordTeachersConstant.SECOND_SEMESTER_ENDDATE];
    }
    
}


    <div id="ClassPanel" class="vt-LeftPanel" style="width: 15%;">
    <div class="CollapseSideBar">
        <a class="Sprite1 Sclose2" href="#">
            <span class="HideText">Đóng/Mở</span>
        </a>
    </div>
    <div style="width: 100%;" class="SideBarTop">
        @Html.Partial("_ListClass")
    </div>
</div>
@if (!checkClassNull)
{
    <div id="RightPanel" class="vt-RightPanel" style="width: 85%;float: right;">
    <div id="HiddenPanel">

        @Html.ViettelHidden("ClassID", 0)
        @Html.ViettelHidden("ClassIDOld", 0)
        @Html.ViettelHidden("Semester", new GlobalInfo().Semester)
        @Html.ViettelHidden("SemesterOld", new GlobalInfo().Semester)
        @Html.ViettelHidden("EducationLevelID", 0)
        @Html.ViettelHidden("PeriodID", 0)
        @Html.ViettelHidden("SubjectID", 0)
        @Html.ViettelHidden("AppliedLevel", new GlobalInfo().AppliedLevel.Value)
        @Html.ViettelHidden("IsCommenting", 0)
        @Html.ViettelHidden("colMark", "")
    </div>
    <div id="SearchPanel" >
        @Html.Partial("_Search")
    </div>
    <div class="Clear"></div>
    @{
    if (glo.AppliedLevel.Value > 1)
    {
        <div id="SubjectPanel" style="margin-top: 5px;" class="noLoad">
            <img width="16" height="11" alt="loading..." src="/Content/images/icon_loading.gif">
        </div>

        <div class="Clear"></div>
        <div id="TitleGrid" style="height: 20px; display: none; margin-top: 10px;">
        </div>
        <hr />

        <div style="padding-right: 10px;">
            <p style="text-align: right;" id="pnTitle"></p>
        </div>
        <div class="Clear"></div>
        <div id="list" style="overflow: auto; padding: 5px 0 0 0;">
        </div>
        <div class="Clear"></div>
    }
    else
    {
        <div id="TitelEvaluation" style="margin:10px; text-align:center">SỔ THEO DÕI CHẤT LƯỢNG GIÁO DỤC <span id="ClassNameTitle"></span> </div>
        Html.Telerik().TabStrip()
        .Name("Evaluation")
        .ClientEvents(events => events
                        .OnSelect("onSelect")
                        )
        .Items(Tab =>
        {
            Tab.Add()
                .Text("Môn học & HĐGD")
                .HtmlAttributes(new { id = "SubjectAndEducationGroupClick" })
                .Content(@<text>
                    <div id="SubjectAndEducationGroup">
                        @* @Html.Partial("../ReViewTranscript/Index")*@                      
                    </div>
        </text>);
            Tab.Add()
                 .Text("Năng lực")
                 .HtmlAttributes(new { id = "DvCapacitiesClick" })
                 .Content(@<text>
                    <div id="DvCapacities">
                        @*  @Html.Partial("CourseTranscript")*@                      
                    </div>
        </text>);
            Tab.Add()
                 .Text("Phẩm chất")
                 .HtmlAttributes(new { id = "DvQualitiesClick" })
                 .Content(@<text>
                    <div id="DvQualities">
                        @* @Html.Partial("../AverageTranscript/Index")*@                       
                    </div>
        </text>);
        })
        .SelectedIndex(0)
        .Render();
    }
    }
</div>
    <div class="Clear"></div>
    <div id="HeaderChoice" style="display: none;" class="NameSection">
            @{
                List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                listSelectList.Add(new ViettelCheckboxList(Res.Get("HT"), "HT", false, false));
                listSelectList.Add(new ViettelCheckboxList(Res.Get("CHT"), "CHT", false, false));
            }
            @Html.ViettelListButtonStyle2("HeaderChoice", "", new Dictionary<string, object>() { }, "FillCommentForGrid(this)", listSelectList, true)
        </div>
}
else
{
    <div id="RightPanel" class="vt-RightPanel" style="width: 85%;float: right;">
         <div id="Message">Trường chưa khai báo lớp học hoặc giáo viên chưa phân công phụ trách lớp</div>
     </div>
}
<style type="text/css">
    .t-widget.t-grid{
        width: 100%;
    }
    #SearchPanel{
        margin-top: -20px;
    }
</style>

<script type="text/javascript">
    var check = true;
    var checkCapacity = true;
    var checkQuality = true;
    var checkTab1 = true;
    var checkTab2 = false;
    var checkTab3 = false;
    $(document).ready(function () {
        //gan ten lop cho tieu trong so diem cap 1 khi vua vao lan dau tien
        if ('@glo.AppliedLevel.Value' == 1)
        {
            var classid = $('#ClassID').val();
            var className = "";
            if (classid == 0) {
                className = "";
            }
            else {
                var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
                if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                    className = "LỚP " + $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
                }
                else {
                    className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
                }

            }
            $('#ClassNameTitle').html(className);
        }
        $(".btnUploaderCss span").html('@Res.Get("Chon file")');      
        $('#SubjectAndEducationGroupClick').click();
      });

    $('#SubjectAndEducationGroupClick').click(function () {
        SearchSubjectAndEducationGroup(false);
        checkTab1 = true;
        checkTab2 = false;
        checkTab3 = false;
    });
    $('#DvQualitiesClick').click(function () {
        GetQualities(false);
        checkTab1 = false;
        checkTab2 = false;
        checkTab3 = true;
    });
    $('#DvCapacitiesClick').click(function () {
        GetCapacities(false);
        checkTab1 = false;
        checkTab2 = true;
        checkTab3 = false;
    });

    function SearchSubjectAndEducationGroup(isGetFirstSubject)
    {
        var classID = $('#ClassID').val();
        var semester = $('#Semester').val();
        var subjectID = 0;
        var monthID = 0;
        if (check) {
            subjectID = '@subjectID';          
            monthID = GetAutoMonth(semester);
            check = false;
        }
        else {
            subjectID = $('#Subject_ID').val();
            monthID = $('#Month').val();
        }
        
        $.ajax({
            url: '/MarkRecordOfPrimaryTeacherArea/MarkRecordOfPrimaryTeacher/GetSubjectAndEducationGroup',
            data: { classID: classID, semester: semester, subjectID: subjectID, monthID: monthID, isGetFirstSubject: isGetFirstSubject },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
                //BOOMR.plugins.RT.startTimer("PrimaryTeacher_GetSubjectAndEducationGroup");   //--> bắt đầu đo
            },
            success: function (msg) {
                console.log(msg);
                $('#SubjectAndEducationGroup').html(msg);
                smas.hideProcessingDialog();
                //BOOMR.plugins.RT.endTimer("PrimaryTeacher_GetSubjectAndEducationGroup");  //--> kết thúc đo
                //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function GetCapacities(isGetFirstSubject)
    {
        var classID = $('#ClassID').val();
        var semester = $('#Semester').val();
        var monthID = 0;
        if (checkCapacity) {
            subjectID = '@subjectID';   
            monthID = GetAutoMonth(semester);
            checkCapacity = false;
        }
        else {
            subjectID = $('#SubjectCapacities').val();
            monthID = $('#MonthCapacities').val();
        }

        $.ajax({
            url: '/MarkRecordOfPrimaryTeacherArea/MarkRecordOfPrimaryTeacher/GetCapacities',
            type: 'post',
            data: { classID: classID, semester: semester, monthID: monthID ,subjectID:subjectID,isGetFirstSubject: isGetFirstSubject},
            beforeSend: function () {
                smas.showProcessingDialog();
                //BOOMR.plugins.RT.startTimer("PrimaryTeacher_GetCapacities");   //--> bắt đầu đo
            },
            success: function (msg) {
                $('#DvCapacities').html(msg);
                smas.hideProcessingDialog();
                //BOOMR.plugins.RT.endTimer("PrimaryTeacher_GetCapacities");  //--> kết thúc đo
                //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }


    function GetQualities(isGetFirstSubject)
        {
            var classID = $('#ClassID').val();
            var semester = $('#Semester').val();
            var monthID = 0;
            if (checkQuality) {
                subjectID = '@subjectID';
                monthID = GetAutoMonth(semester);
                checkQuality = false;
            }
            else {
                subjectID = $('#SubjectQualities').val();
                monthID = $('#MonthQualities').val();
            }

            $.ajax({
                url: '/MarkRecordOfPrimaryTeacherArea/MarkRecordOfPrimaryTeacher/GetQualities',
                data: { classID: classID, semester: semester, monthID: monthID, subjectID: subjectID, isGetFirstSubject: isGetFirstSubject },
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                    //BOOMR.plugins.RT.startTimer("PrimaryTeacher_GetQualities");   //--> bắt đầu đo
                },
                success: function (msg) {
                    $('#DvQualities').html(msg);
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("PrimaryTeacher_GetQualities");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }
    function GetAutoMonth(semesterID) {
        var monthID = 0;
        var dateTimeNow = new Date();
        var monthCurrent = dateTimeNow.getMonth() + 1;
        if (semesterID == 1) {

            if (dateTimeNow <= dateUtils.Parse('@FirtSemesterStartDate')) {
                monthID = 1;
            }
            else if (dateTimeNow >= dateUtils.Parse('@FirtSemesterEndDate')) {
                monthID = 5;
            }
            else if (monthCurrent == 8) {
                monthID = 1;
            }
            else if (monthCurrent == 9) {
                monthID = 2;
            }
            else if (monthCurrent == 10) {
                monthID = 3;
            }
            else if (monthCurrent == 11) {
                monthID = 4;
            }
            else if (monthCurrent == 12) {
                monthID = 5;
            }
            else if (monthCurrent < 8) {
                monthID = 1;
            }
            else {
                monthID = 5;
            }
        }
        else if (semesterID == 2) {
            if (dateTimeNow <= dateUtils.Parse('@SecondSemesterStartDate')) {
                monthID = 6;
            }
            else if (dateTimeNow >= dateUtils.Parse('@SecondSemesterEndDate')) {
                monthID = 10;
            }
            else if (monthCurrent == 1) {
                monthID = 6;
            }
            else if (monthCurrent == 2) {
                monthID = 7;
            }
            else if (monthCurrent == 3) {
                monthID = 8;
            }
            else if (monthCurrent == 4) {
                monthID = 9;
            }
            else if (monthCurrent == 5) {
                monthID = 10;
            }
            else if (monthCurrent > 5) {
                monthID = 10;
            }
            else {
                monthID = 6;
            }
        }
    return monthID;
}

        function LoadTitleForGrid(ClassID, Semester, PeriodID, SubjectID) {
            var title = "@Html.Raw(Res.Get("BookRecord_Title_Mark"))";
            var subjectName = $("#SubjectPanel li[value=" + SubjectID + "]").children().first().html();
            var semesterName = $("#ListSemester li[value=" + Semester + "]").children().first().html();
            var className = $("#TreeClass input[value=" + ClassID + "]").prev().html();
            var period = $("#cboPeriod:visible option[value=" + PeriodID + "]");
            var periodName = "";
            if (period != null && period != undefined && period.html() != null) {
                var periodIndex = period.html().indexOf('(');
            }
            if (periodIndex != -1 && period.html() != undefined) {
                periodName = period.html().substr(0, periodIndex);
            }
            if (period != null && period != undefined && period.html() != null) {
                title = title + " " + subjectName + " " + semesterName + " Đợt " + periodName + " Lớp " + className;
            }
            else {
                title = title + " " + subjectName + " " + semesterName + periodName + " Lớp " + className;
            }
            $("#TitleGrid").html(title);
            $("#TitleGrid").css("display", "block");
        }

        function FillMarkForGrid(typeMark) {
            var markName = $("#colMark").val();
            var typemarkName = "";
            if ($(typeMark).html() == "Đ") {
                typemarkName = "Đ";
            } else if ($(typeMark).html() == "CĐ") {
                typemarkName = "CĐ";
            } else if ($(typeMark).html() == "Xóa điểm") {
                typemarkName = "";
            }
            $("#" + markName).addClass("clicked");
            $("input[name*=" + markName + "]:enabled").each(function () {
                $(this).val(typemarkName);
                $(this).change();
            });
        }

        function DeleteMarkOnGrid() {
            var markName = $("#colMark").val();
            // Tô màu title cột điểm thao tác
            $("#" + markName).addClass("clicked");
            $("input[name*=" + markName + "][type=text]:enabled").each(function () {
                $(this).val("");
                $(this).change();
                $(this).blur();
            });
        }

        function LoadEntryMarkPrimary() {
            $(".text_mark").css({ 'visibility': 'visible', display: '' });
            $(".span_mark").css({ 'visibility': 'hidden', display: 'none' });
            $(".text_markGKI").css({ 'visibility': 'visible', display: '' });
            $(".text_markGKII").css({ 'visibility': 'visible', display: '' });
            $(".text_markCKI").css({ 'visibility': 'visible', display: '' });
            $(".text_markCKII").css({ 'visibility': 'visible', display: '' });
        }

        function ReLoadData() {
            //$("#SubjectID").val('0');
            setTimeout('AjaxLoadGrid();', 200);
        }
        function AjaxLoadGrid(message) {
          @*  $("#pnTitle").html("");
            var ClassID = $("#ClassID").val();
            var Semester = $("#Semester").val();
            var ClassIDOld = $("#ClassIDOld").val();
            var SemesterOld = $("#SemesterOld").val();
            var PeriodID = $("#PeriodID").val();
            var SubjectID = $("#SubjectID").val();
            var AppliedLevel = $("#AppliedLevel").val();
            var IsCommenting = $("#IsCommenting").val();
            var EducationLevelID = $("#EducationLevelID").val();
            $("#ImportExcelDialog").remove();
            $("#ChooseActionDialog").remove();
            $("#DataBeforeImportDialog").remove();
            $("#importDialog2").remove();
            $("#ChooseActionDialog2").remove();
            $("#importDialog").remove();
            if (ClassID != 0 && Semester != 0 && SubjectID != 0) {
                LoadTitleForGrid(ClassID, Semester, PeriodID, SubjectID);
            }

            if (SubjectID == 0) {
                smas.hideProcessingDialog();
            }

            if (ClassID == 0 || Semester == 0 || SubjectID == 0) {
                $("#TitleGrid").html("");
                $("#list").html("");
                $("#pnTitle").html("");
            }
            if (ClassID != 0 && Semester != 0 && (ClassID != ClassIDOld || SemesterOld != Semester || $("#SubjectPanel").attr("class") == "noLoad")) {
                //load danh sach mon hoc

                $.ajax({
                    url: '@Url.Action("GetSubjectPanel", "BookRecord")',
                    type: 'post',
                    data: { id: ClassID, semester: Semester },
                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("GetSubjectPanel");   //--> bắt đầu đo
                    },
                    success: function (msg) {
                        $("#SubjectPanel").html(msg);
                        $("#SubjectPanel").hide();
                        $("#SubjectPanel").fadeIn("slow");
                        $('#SemesterOld').val($('#Semester').val());
                        $('#ClassIDOld').val($('#ClassID').val());
                        setTimeout('CallBack();', 200);
                        $("#SubjectPanel").attr("class", "loaded");
                        if (SubjectID != 0) {
                            LoadTitleForGrid(ClassID, Semester, PeriodID, SubjectID);
                        }
                        //BOOMR.plugins.RT.endTimer("GetSubjectPanel");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }
                })
            } else {
                CallBack();
            }*@

        }

        function DisMark() {
            var btncheckdis = $("#btncheckdis");
            if (btncheckdis != undefined && btncheckdis != null && (btncheckdis.val() == 'true' || btncheckdis.val() == 'True')) {
                $("#list input[type=text]").attr("disabled", "");
            }
            $(".btnUploaderCss span").html('@Html.Raw(Res.Get("Chọn file"))');
        }

        function CallBack() {
            var ClassID = $("#ClassID").val();
            var Semester = $("#Semester").val();
            var PeriodID = $("#PeriodID").val();
            var SubjectID = $("#SubjectID").val();
            var AppliedLevel = $("#AppliedLevel").val();
            var IsCommenting = $("#IsCommenting").val();
            var EducationLevelID = $("#EducationLevelID").val();

            if (AppliedLevel == 1 && IsCommenting == 2) {
                $(".periodClass").hide();
            } else {
                if (!$(".periodClass").hasClass("hidClass")) {
                    $(".periodClass").show();
                }
            }
            if (ClassID != 0 && Semester != 0 && SubjectID != 0 && PeriodID != 0 && IsCommenting == 1 && AppliedLevel != 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/MarkRecordArea/MarkRecord/GetDataNew',
                    type: 'post',
                    data: { subjectid: SubjectID, periodid: PeriodID, educationlevelid: 0, classname: "", classid: ClassID, semesterid: Semester },
                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("GetDataNew");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {

                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("GetDataNew");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                        setTimeout(function () {
                            $("#list").hide();
                            $("#list").html(msg);
                            $("#list").fadeIn("slow", function () { controlUtils.AddMoveButtonEvent("#GridMarkRecord"); });
                            $("#pnTitle").html('@Res.Get("BookRecord_Label_MarkRecordTitle")');
                            DisMark();
                        }, 200);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }
            else if (ClassID != 0 && Semester != 0 && SubjectID != 0 && PeriodID != 0 && IsCommenting == 2 && AppliedLevel != 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/JudgeRecordArea/JudgeRecord/Search',
                    type: 'post',
                    data: { subjectid: SubjectID, periodid: PeriodID, educationlevelid: EducationLevelID, classname: "", Classid: ClassID, semesterid: Semester },
                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("JudgeRecord_Search");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("JudgeRecord_Search");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                        setTimeout(function () {
                            $("#list").hide();
                            $("#list").html(msg);
                            $("#list").fadeIn("slow", function () { controlUtils.AddMoveButtonEvent("#GridJudgeRecord"); });
                            $("#pnTitle").html('@Res.Get("BookRecord_Label_JudgeRecordTitle")');
                            DisMark();
                        }, 200);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }
            else if (ClassID != 0 && Semester != 0 && SubjectID != 0 && PeriodID == 0 && IsCommenting == 1 && AppliedLevel != 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/BookMarkRecordArea/BookMarkRecord/AjaxLoadGridDemo',
                    type: 'post',
                    data: { idSubject: SubjectID, idClassProfile: ClassID, idSemester: Semester },


                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("BookMarkRecord_AjaxLoadGridDemo");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("BookMarkRecord_AjaxLoadGridDemo");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu 
                        setTimeout(function () {
                            $("#list").hide();
                            $("#list").html(msg);

                            $("#list").fadeIn("slow", function () { controlUtils.AddMoveButtonEvent("#GridBookMarkRecord"); });
                            $("#GridBookMarkRecord #GridBookMarkRecord").css("width", "99.7%");
                            $("#pnTitle").html('@Res.Get("BookRecord_Label_MarkRecordTitle")');
                            DisMark();
                        }, 200);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }
            else if (ClassID != 0 && Semester != 0 && SubjectID != 0 && PeriodID == 0 && IsCommenting == 2 && AppliedLevel != 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/JudgeRecordSemesterArea/JudgeRecordSemester/SearchNew',
                    type: 'post',
                    data: { subjectid: SubjectID, educationlevelid: 0, classname: "", Classid: ClassID, semesterid: Semester },


                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("SearchNew_JudgeRecordSemester_BookRecord");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $("#list").hide();
                        $("#list").html(msg);
                        //BOOMR.plugins.RT.endTimer("SearchNew_JudgeRecordSemester_BookRecord");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
                        setTimeout(function () {
                            $("#pnTitle").html('@Res.Get("BookRecord_Label_JudgeRecordTitle")');
                            DisMark();
                            $("#list").fadeIn("slow", function () { setTimeout(function () { smas.hideProcessingDialog(); controlUtils.AddMoveButtonEvent("#GridJudgeRecord"); }, 200) });
                        }, 200);


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }
            else if (ClassID != 0 && Semester != 0 && SubjectID != 0 && IsCommenting == 1 && AppliedLevel == 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/MarkRecordOfPrimaryArea/MarkRecordOfPrimary/AjaxLoadGrid',
                    type: 'post',
                    data: { idSubject: SubjectID, idClassProfile: ClassID, idSemester: Semester },


                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("AjaxLoadGrid_MarkRecordOfPrimary_BookRecord");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        //dong bo period

                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("AjaxLoadGrid_MarkRecordOfPrimary_BookRecord");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
                        setTimeout(function () {
                            $("#list").hide();
                            $("#list").html(msg);

                            $("#list").fadeIn("slow");
                            DisMark();
                            LoadEntryMarkPrimary();
                            smas.autoHeightTable("#GridMarkRecordTV");
                        }, 100);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }
            else if (ClassID != 0 && Semester != 0 && SubjectID != 0 && IsCommenting == 2 && AppliedLevel == 1) {

                //load danh sach mon hoc
                $.ajax({
                    url: '/PrimaryJudgeRecordArea/PrimaryJudgeRecord/LoadDataToGrid',
                    type: 'post',
                    data: { SubjectID: SubjectID, EducationlevelID: EducationLevelID, ClassID: ClassID, SemesterID: Semester },


                    beforeSend: function () {
                        //BOOMR.plugins.RT.startTimer("LoadDataToGrid_PrimaryJudgeRecordr_BookRecord");   //--> bắt đầu đo
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $("#list").hide();
                        smas.hideProcessingDialog();
                        $("#list").html(msg);
                        $("#list").fadeIn();
                        $.ajax({
                            url: '/PrimaryJudgeRecordArea/PrimaryJudgeRecord/ReloadButton',
                            type: 'post',
                            beforeSend: function () {
                            },
                            data: { SubjectID: SubjectID, EducationlevelID: EducationLevelID, ClassID: ClassID, SemesterID: Semester },
                            success: function (msg) {
                                $("#lsButton").css("display", "block");
                                $("#lsButton").html(msg);
                                //BOOMR.plugins.RT.endTimer("LoadDataToGrid_PrimaryJudgeRecordr_BookRecord");  //--> kết thúc đo
                                //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }

                        })
                        $("#pnTitle").html('@Res.Get("SummedUpRecord_Label_LabelGrid2")');
                        LoadEntryMarkPrimary();
                        smas.hideProcessingDialog();
                        //BOOMR.plugins.RT.endTimer("LoadDataToGrid_PrimaryJudgeRecordr_BookRecord");  //--> kết thúc đo
                        //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        $("#list").html("");
                        smas.hideProcessingDialog();
                    }

                })
            }

        }

</script>
<script type="text/javascript">

    function OnSelectImport3(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }



    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    var error = false;
    function OnImportUpload3(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {

                        var subjectid = $("#SubjectID").val();
                        var periodid = $("#PeriodID").val();
                        var classid = $("#ClassID").val();
                        var semesterid = $("#Semester").val();
                        var dataInput = { subjectid: $("#SubjectID").val(), periodid: periodid, classid: classid, semesterid: semesterid };
                        e.data = dataInput;
                        return true;
                    }
                    smas.error("Dung lượng file excel không được lớn hơn 1MB")
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.error("File không đúng định dạng")
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            if (!error) {
                smas.showProcessingDialog();
            }
        }

    }

    function OnImportSuccess3(e) {
        smas.hideProcessingDialog();
        smas.closeDialog("importDialog2");
        //setTimeout(function () { smas.closeDialog("importDialog2"); }, 200);
        if (e.response.Type == "grid") {
            formUtils.resetForm("ChooseActionDialog2");
            $("#frmImport").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog2", "", {});
        }
        else {
            smas.alert(e.response.Message);
            setTimeout('AjaxLoadGrid();', 200);
        }
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
    }

    function OnImportError3(e) {
        //smas.hideProcessingDialog();
        smas.alertImport(e);
        formUtils.resetForm("ImportExcelDialog");
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>


<script type="text/javascript">
    var _intervalId;
    function OnSelectImport4(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
        if ($("#txtFilePath").val() != "") {
            $('#btImport').removeClass('t-state-disabled');
            $('#btnImport').attr("onclick", "ImportExcel();");
        }
        else {
            $('#btnImport').addClass('t-state-disabled');
            $('#btnImport').removeAttr("onclick");
        }
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
        }
    }



    function OnImportUpload4(e) {
        if ($("#txtFilePath").val() != "") {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            var subjectid = $("#SubjectID").val();
                            var semesterid = $("#Semester").val();
                            var educationlevelid = $("#EducationLevelID").val();
                            var classid = $("#ClassID").val();
                            var periodid = $("#PeriodID").val();
                            //alert($("#SubjectID").val());
                            var dataInput = {
                                semesterid: semesterid, educationlevelid: educationlevelid
        , classid: classid, subjectid: subjectid, periodid: periodid
                            };
                            e.data = dataInput;
                            // return true;
                        }
                        else {

                        }
                    }
                } else {
                    ;
                }
            });
        }
        else {
            smas.error('@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))');
        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            smas.showProcessingDialog();
        }
        else {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))' });
        }
    }


    function OnImportSuccess4(e) {
        smas.hideProcessingDialog();
        smas.closeDialog("ImportExcelDialog");
        //setTimeout(function () { smas.closeDialog("ImportExcelDialog"); }, 200);
        if (e.response.Type == "grid") {
            //formUtils.resetForm("ChooseActionDialog");
            $("#frmImport").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog", "", {});
        } else {
            //formUtils.resetForm("ImportExcelDialog");
            //$('#btImport').attr('disabled');
            //$('#btImport').addClass('t-state-disabled');
            smas.alert(e.response.Message);
            setTimeout('AjaxLoadGrid();', 200);
        }
    }

    function OnImportError4(e) {
        smas.hideProcessingDialog();
        smas.alertImport(e);
        //smas.alert({ Type: "error", Message: e.XMLHttpRequest.response });
        formUtils.resetForm("ImportExcelDialog");
        e.preventDefault();
    }
</script>

<script type="text/javascript">
    //import cho mon nhan xet theo ky

    function OnSelectImport5(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
        if ($("#txtFilePath").val() != "") {
            $('#btImport').removeClass('t-state-disabled');
        }
        else {
            $('#btImport').addClass('t-state-disabled');
        }
    }


    function hideUploadButton() {

        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload5(e) {
        if ($("#txtFilePath").val() != "") {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            var subjectid = $("#SubjectID").val();
                            var semesterid = $("#Semester").val();
                            var educationlevelid = $("#EducationLevelID").val();
                            var classid = $("#ClassID").val();
                            var dataInput = {
                                semesterid: semesterid, educationlevelid: educationlevelid
        , classid: classid, subjectid: subjectid
                            };
                            e.data = dataInput;
                            //return true;
                        }
                        else {
                        }
                        //smas.error('@Html.Raw(Res.Get("JudgeRecord_Validate_FileMaxSize"))');
                        //e.preventDefault();
                        //smas.hideProcessingDialog();
                        //return false;
                    }
                } else {
                    @*smas.error('@Html.Raw(Res.Get("JudgeRecord_Validate_FileNotExtends"))');
                    //e.preventDefault();
                    smas.hideProcessingDialog();
                    //                    $('#btImport').attr('disabled');
                    //                    $('#btImport').addClass('t-state-disabled');
                    return false;*@
                }
            });
        }
        else {
            smas.alert('@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))');
        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            smas.showProcessingDialog();
        }
        else {
            smas.error('@Html.Raw(Res.Get("Common_Validate_ChooseFileImport"))');
        }
    }

    function OnImportSuccess5(e) {
        smas.hideProcessingDialog();
        smas.closeDialog("ImportExcelDialog");

        if (e.response.Type == "grid") {
            //formUtils.resetForm("ChooseActionDialog");
            $("#frmImport").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog", "", {});
        } else {
            //formUtils.resetForm("ImportExcelDialog");
            //$('#btImport').attr('disabled');
            //$('#btImport').addClass('t-state-disabled');
            smas.alert(e.response.Message);
            AjaxLoadGrid();
        }
    }
    function OnImportError5(e) {
        smas.hideProcessingDialog();
        smas.alertImport(e);
        //smas.alert({ Type: "error", Message: e.XMLHttpRequest.response });
        //formUtils.resetForm("ImportExcelDialog");
        //        $('#btImport').attr('disabled');
        //        $('#btImport').addClass('t-state-disabled');
        formUtils.resetForm("ImportExcelDialog");
        e.preventDefault();
    }


</script>


<script type="text/javascript">
    //mon cap 1

    var _intervalId;
    function OnSelectImport6(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload6(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    alert("Dung lượng file excel không được lớn hơn 1MB");
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                alert("File không đúng định dạng");
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess6(e) {
        //            $(".btnSubmitImportExcel").click();
        var subjectid = $("#SubjectID").val();
        var classid = $("#ClassID").val();
        var idSemester = $("#Semester").val();
        var idEdu = $("#EducationLevelID").val();

        $.ajax({
            url: '/MarkRecordOfPrimaryArea/MarkRecordOfPrimary/ImportExcel',
            type: 'post',
            data: { ClassID: classid, SubjectID: subjectid, SemesterID: idSemester, EducationLevelID: idEdu },
            success: function (msg) {
                CreateImportSuccess6(msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }

        })


        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
    function CreateImportSuccess6(e) {
        if (e.Type == "grid") {
            smas.hideProcessingDialog();
            formUtils.resetForm("ChooseActionDialog");
            $("#frmImport").html(e.Message);
            smas.openDialog("ChooseActionDialog", "", {});
        } else {
            formUtils.resetForm("importDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
            smas.alert(e.Message);
            setTimeout('smas.closeDialog("importDialog");', 500);
            setTimeout('AjaxLoadGrid();', 1000);
        }
    }
    function CreateImportFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function OnImportError6(e) {
        smas.hideProcessingDialog();
        smas.alertImport(e);
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }

</script>

<script type="text/javascript">
    //mon nhan xet cap 1
    var error = false;
    function OnSelectImport7(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton2();", 10);
    }
    function hideUploadButton2() {

        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload7(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var subjectid = $('#SubjectID').val();
                        var semesterid = $('#Semester').val();
                        var educationlevelid = $('#EducationLevelID').val();
                        var classid = $("#ClassID").val();

                        var dataInput = {
                            Semester: semesterid, EducationLevel: educationlevelid
    , ClassID: classid, SubjectID: subjectid
                        };
                        e.data = dataInput;
                        return true;
                    }
                    alert("Dung lượng file excel không được lớn hơn 1MB")
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                alert("File không đúng định dạng");
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick2() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }

    function OnImportSuccess7(e) {

        smas.hideProcessingDialog();
        if (e.response.Type == "grid") {
            $("#ChooseActionDialog2 .t-content").attr("style", "overflow: auto; width: 480px; height: 120px;");
            formUtils.resetForm("ChooseActionDialog2");
            $("#frmImport").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog2", "", {});
        }
        else {
            setTimeout('AjaxLoadGrid();', 200);
            smas.alert(e.response.Message);
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
            formUtils.resetForm("ImportExcelDialog2");
            setTimeout('smas.closeDialog("ImportExcelDialog2");', 500);
        }

    }
    function OnImportError7(e) {
        smas.hideProcessingDialog();
        smas.alertImport(e);
        formUtils.resetForm("ImportExcelDialog2");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>

<script type="text/javascript">
    // AnhVD 20131223 - Fib bug: Error import when redirec time mark type to semester mark type
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('@Html.Raw(Res.Get("Chọn file"))').attr("style", "text-align:center");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });

    var _intervalId;
    var error = false;
    function OnSelectImport2(e) {
        var files = e.files;
        // alert(files[0].name);
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload2(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var subjectid = $("#SubjectID").val();
                        var classid = $("#ClassID").val();
                        var semesterid = $("#Semester").val();
                        var dataInput = { subjectid: subjectid, classid: classid, semesterid: semesterid };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alert("Dung lượng file excel không được lớn hơn 1MB")
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng")
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }



    function OnImportSuccess2(e) {
        smas.hideProcessingDialog();
        if (e.response.Type == "grid") {
            formUtils.resetForm("ChooseActionDialog");
            $("#ChooseActionDialogContent").html(e.response.Message);
            $("#listDataBeforeImport").attr("style", "display:none");
            smas.openDialog("ChooseActionDialog", "", {});
            $("#txtFilePath").val("");
        }
        else {
            setTimeout('smas.closeDialog("importDialog");AjaxLoadGrid();', 300);
            smas.alert(e.response.Message);

            $("#txtFilePath").val("");
        }
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
    }

    function OnImportError2(e) {
        //smas.hideProcessingDialog();
        smas.alertImport(e);
        formUtils.resetForm("ImportExcelDialog");
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
        $("#txtFilePath").val("");
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('AjaxLoadGrid();', 200);
        }
    }

    //import
    function importReportTV2() {
        var subjectid = $("#frmCreate [name=rptSubject]:checked").val();
        var classid = $("#frmCreate #HidClassProfileID").val();
        var idSemester = $("#frmCreate [name=rptSemester]:checked").val();
        var idEdu = $("#frmCreate [name=rptEducationLevel]:checked").val();

        $('#SubjectIDImport').val(subjectid);
        $('#ClassIDImport').val(classid);
        $('#SemesterIDImport').val(idSemester);
        $('#EducationLevelIDImport').val(idEdu);

        formUtils.resetForm("_ImportExcel");
        smas.openDialog("importDialog", "", {});
    }
    function onSelect() {

    }
</script>
