﻿@model List<ClassProfile>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.UpdateRewardArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI.Fluent
@{
  
    List<EducationLevel> lstEducationLevel = (List<EducationLevel>)ViewData[UpdateRewardConstants.LIST_EDUCATION_LEVEL];

    ClassProfile selectedCp = (ClassProfile)ViewData[UpdateRewardConstants.SELECTED_CLASS];
}
 @(Html.Telerik().TreeView()
                  .Name("ClassTree")
                  .Items(items =>
                      {
                          for (int i = 0; i < lstEducationLevel.Count; i++)
                          {
                              EducationLevel el = lstEducationLevel[i];
                              bool isExpanded = false;
                              TreeViewItemBuilder pBuilder = items.Add().Value(el.EducationLevelID.ToString()).Text(el.Resolution)
                                  .Items(childs =>
                                  {
                                      List<ClassProfile> lstClassOfEl = Model.Where(o => o.EducationLevelID == el.EducationLevelID).ToList();
                                      for (int j = 0; j < lstClassOfEl.Count; j++)
                                      {
                                          ClassProfile cp = lstClassOfEl[j];
                                          TreeViewItemBuilder builder = childs.Add().Value(cp.ClassProfileID.ToString()).Text(cp.DisplayName)
                                              .HtmlAttributes(new { style = "font-weight:bold;" });
                                          if (cp.ClassProfileID == selectedCp.ClassProfileID)
                                          {
                                              builder = builder.Selected(true);
                                              isExpanded = true;
                                          }
                                      }
                                  })
                                 
                                  .HtmlAttributes(new { style = "font-weight:bold;" });
                              if (isExpanded)
                              {
                                  pBuilder = pBuilder.Expanded(true);
                              }

                          }
                      }
                  )
                  .ClientEvents(e => e.OnSelect("onClassSelected"))
                  
  )

<script type="text/javascript">
    function onClassSelected(e) {
        var level = $(e.item).parents(".t-item").length;
        
        if (level == 1) {
            var treeview = $(this).data('tTreeView');
            var classId = treeview.getItemValue(e.item);
            var className = treeview.getItemText(e.item);
            var semester = GetSemester();

            $("#RightPanel #TitleGrid #titleClassName").text(className);
            $("#RightPanel #hiddenDiv #ClassID").val(classId);

            search(classId, semester);
        }
        else {
            e.preventDefault();
        }

    }

    
</script>