﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.UpdateRewardArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers

@{
    int defaultSemester = (int)ViewData[UpdateRewardConstants.DEFAULT_SEMESTER];
    List<ViettelCheckboxList> lstSemester = (List<ViettelCheckboxList>)ViewData[UpdateRewardConstants.LIST_SEMESTER];
    ClassProfile cp = (ClassProfile)ViewData[UpdateRewardConstants.SELECTED_CLASS];
}



<div id="SearchPanel">
    <div style="float: left; width: 50%;">
        @Html.ViettelListButtonStyle2("ListSemester", defaultSemester.ToString(), new Dictionary<string, object>(), "javascript:ChoiceSemester(this)", lstSemester, false)
        <input type="hidden" id="hdSemester" value="@defaultSemester" />
     </div>
    <div class="BoxMenuSection">
        <!-- menu box-->
        <div style="float: right;">
            <div style="position: absolute; top: 3px; right: 25px;">
                @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", ViewData["isMenu"] = true)
            </div>
        </div>
    </div>
</div>
<div class="Clear"></div>
<div id="TitleGrid" style="margin-bottom: 10px; margin-top: 10px;">
    CẬP NHẬT KHEN THƯỞNG LỚP <span id="titleClassName">@cp.DisplayName</span>
</div>
<div id="lstResult">
    
</div>
<div id="hiddenDiv">
    <input type="hidden" id="ClassID" value="@cp.ClassProfileID" />
</div>
<script type="text/javascript">
    
    function ChoiceSemester(btn) {
        var $btn = $(btn);

        var classId = GetClass();
        var $semester1 = $($("#ListSemester").find(".ButtonStyle1").get(0));
        var $semester2 = $($("#ListSemester").find(".ButtonStyle1").get(1));
        var semester;
        if ($btn.attr("value") == 1) {
            $semester1.addClass("Active");
            $semester2.removeClass("Active");
            semester = 1;
        }
        else {
            $semester2.addClass("Active");
            $semester1.removeClass("Active");
            semester = 2;
        }
     
        search(classId, semester);

    }

    $(document).ready(function () {
        @if(defaultSemester==1)
        {
            <text>$("#SearchPanel").find("#ListSemester").find("li:eq(0)").find("a").attr("style", "color: red !important;font-weight: normal !important;");</text>
        }
        else
        {
            <text>$("#SearchPanel").find("#ListSemester").find("li:eq(1)").find("a").attr("style", "color: red !important;font-weight: normal !important;");</text>
        }
    });
</script>