﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.UpdateRewardArea
@using SMAS.Models.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ClassProfile> lstClass = (List<ClassProfile>)ViewData[UpdateRewardConstants.LIST_CLASS];
    int defaultSemester = (int)ViewData[UpdateRewardConstants.DEFAULT_SEMESTER];
    ClassProfile selectedCp = (ClassProfile)ViewData[UpdateRewardConstants.SELECTED_CLASS];

}

<div class="row">
    <div id="ClassPanel" class="vt-LeftPanel col-sm-3 col-md-2">
        <div class="CollapseSideBar">
            <a class="Sprite1 Sclose2" href="#">
                <span class="HideText">Đóng/Mở</span>
            </a>
        </div>
        <div class="SideBarTop">
            @if (lstClass.Count > 0)
            {
                @Html.Partial("_ClassTree", lstClass)
            }
            else
            {
                <div style="overflow: auto; height: 100%">@Res.Get("UpdateReward_Label_NoClass")</div>
        
            }
        </div>
    </div>
    <div id="RightPanel" class="vt-RightPanel col-sm-9 col-md-10 no-padding">
        @if (lstClass.Count > 0)
        {
            @Html.Partial("_Content")
        }
        else
        {
            <div style="background-color: #d7e9f1; text-align: center; font-weight: bold; vertical-align: middle; padding: 10px;">
                @Res.Get("UpdateReward_Label_NoResult")
            </div>
        }
    </div>
</div>


<script>
    function search(classId, semester) {

        $("#RightPanel #hiddenDiv #ClassID").val(classId);

        var data = {
            classId: classId,
            semester: semester

        }

        ajaxPostUpdateDiv('@Url.Action("Search")', data, "lstResult", null);

    }

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    }

    function GetClass() {
        return $("#ClassTree").find(".t-state-selected").closest("div").find(".t-input").val();
    }
    function GetSemester() {
        return $("#ListSemester").find(".Active").attr("value");
    }

    $(document).ready(function () {
        @{
            if (selectedCp != null)
            {
                <text>search('@selectedCp.ClassProfileID', '@defaultSemester');</text>
            }
            
        }

    });
</script>
