﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ExaminationsArea.Models;
<div class="examinations-page">
@{
    ViewBag.Title = Res.Get("Examinations_Title");
    Layout = "~/Areas/ExaminationsArea/Views/Shared/InitializationLayout.cshtml";
}

<div id="divGridExamGroupSearchError">
</div>

<div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="vt-SearchPanel-Title">
        @Res.Get("Examinations_Title").ToUpper()
    </div>
</div>

<div id="ListExaminations">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("Examination_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .ContentHtmlAttributes(new { style = "min-width:760px;" })
)
@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("Examination_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(800)
                .ContentHtmlAttributes(new { style = "min-width:760px;" })
                
)
    </div>
<style>
    .t-window-content {
        overflow:auto!important;
    }
</style>

<script type="text/javascript">
    function ShowInheritance(ckb){
        var check = $(ckb).attr("checked");

        if (check == "checked") {
            // Show phần kế thừa
            $('#CreateExaminations').find('#Inheritance').show();
            $('#createDialog').find('.t-window-content').css('height', '500');
            $('#EditExaminations').find('#Inheritance').show();
            $('#editDialog').find('.t-window-content').css('height', '500');

            // Check và disabled kế thừa đầu tiên
            $('#CreateExaminations .InheritanceData #InheritanceData0').attr('checked', 'checked');
            $('#CreateExaminations .InheritanceData #InheritanceData0').attr('disabled', 'disabled');
            $('#EditExaminations .InheritanceData #InheritanceData0').attr('checked', 'checked');
            $('#EditExaminations .InheritanceData #InheritanceData0').attr('disabled', 'disabled');
        }
        else {
            $('#CreateExaminations').find('#Inheritance').hide();
            $('#createDialog').find('.t-window-content').css('height', '370');
            $('#EditExaminations').find('#Inheritance').hide();
            $('#editDialog').find('.t-window-content').css('height', '370');

            $('#CreateExaminations .InheritanceData #InheritanceData0').removeAttr('checked');
            $('#CreateExaminations .InheritanceData #InheritanceData0').removeAttr('disabled');
            $('#EditExaminations .InheritanceData #InheritanceData0').removeAttr('checked');
            $('#EditExaminations .InheritanceData #InheritanceData0').removeAttr('disabled');
        }

        return false;
    }

    function MarkInputChange(ckb) {
        var check = $(ckb).attr("checked");

        if (check == "checked") {
            $('#CreateExaminations').find('#allowInput').hide();
            $('#CreateExaminations').find('#notAllowInput').show();
            $('#EditExaminations').find('#allowInput').hide();
            $('#EditExaminations').find('#notAllowInput').show();
        }
        else {
            $('#CreateExaminations').find('#allowInput').show();
            $('#CreateExaminations').find('#notAllowInput').hide();
            $('#EditExaminations').find('#allowInput').show();
            $('#EditExaminations').find('#notAllowInput').hide();
        }

        return false;
    }
</script>