﻿@using System.Collections;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    
    //int isLimitSMS = GlobalInfo.SupervisingDept.SMSActiveType;
    //if (ViewData[SendSMSToSchoolConstants.IS_LIMIT_SMS] != null)
    //{
    //    isLimitSMS = (int)ViewData[SendSMSToSchoolConstants.IS_LIMIT_SMS];
    //}
    //int numOfSMSAllowSend = ViewData[SendSMSToSchoolConstants.NUM_SMS_ALLOW_SEND] != null ? (int)ViewData[SendSMSToSchoolConstants.NUM_SMS_ALLOW_SEND] : 0;
    //int numOfSent = ViewData[SendSMSToSchoolConstants.SENT_RECORD] != null ? (int)ViewData[SendSMSToSchoolConstants.SENT_RECORD] : 0;
    decimal balanceOfEwallet = ViewData[SendSMSToSchoolConstants.BALANCE_OF_EWALLET] != null ? decimal.Parse(ViewData[SendSMSToSchoolConstants.BALANCE_OF_EWALLET].ToString()) : 0;
    int numOfPromSMS = ViewData[SendSMSToSchoolConstants.NUMBER_PROMOTION_SMS] != null ? (int)ViewData[SendSMSToSchoolConstants.NUMBER_PROMOTION_SMS] : 0;
    bool allowSend = balanceOfEwallet >= 0 || numOfPromSMS >= 0;
    string contentPromotion = ViewData[SendSMSToSchoolConstants.CONTENT_PROMOTION] != null ?(string) ViewData[SendSMSToSchoolConstants.CONTENT_PROMOTION] : "";
}
<style>
    .ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

    .GroupTeacherReceiver {
    margin-bottom: 10px;
}

    .ContentListSection .ToolTipSendSMS span {
    font-weight: normal;
    color: Red;
}

    .SMSSuperUser .ContentListSection .GroupPerson {
    overflow: hidden;
    background: #efefef;
    padding: 7px 10px;
    border: 1px solid #d1d0d0;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
  

    #ListTeacherReceiverSMS {
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 5px;
}
</style>
<!-- TITLE -->
<div class="TitleTab1SectionBtm t-grid-header">
    <p style="padding-left: 10px;">
        <span class="TittleDetailLevel">0</span> @Res.Get("Common_Label_SchoolLower")
    </p>
</div>

<!-- CONTENT -->
<div class="GeneralInCtnSection">
    <div class="ContentListSection" style="display: block;padding-top:10px">
        <div class="GroupPerson GroupTeacherReceiver">
            <p onclick="loadListReceiver()" class="TitleStyleGroup CursorStyle">@Res.Get("SCSSendSMSToSchool_Label_ListSchool")</p>
            <div class="IconLoadingReceiver" style="display: none;">
                <img src="@Url.Content("~/Content/images/icon_loading.gif")" alt="loading" />
            </div>
            <!-- START ContentDetail -->
            <div id="ListTeacherReceiverSMS" style="display: none;"></div>
            <!-- END ContentDetail -->
            <div class="CollapseBtnSMS">
                <div id="colapseFunListTeacher" class="Eclose" onclick="loadListReceiver()" style="width: 25px;">
                    <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
                </div>
            </div>
        </div>
        <div class="GroupPerson">
            <p>
                <span>
                    @Res.Get("Common_Label_SchoolReceiver"): <span class="NumOfHeadMasterReceiver">0</span>
                    @Res.Get("Common_Label_SchoolLower")
                </span>
            </p>
        </div>

        <!--AnhVD9 20150629 - Sửa luồng nhắn tin cho Phòng/Sở -->
        @*@if (isLimitSMS == GlobalConstants.COMMON_SCHOOL_SMS_ACTIVE_LIMIT)
        {*@
            <div class="GroupPerson ToolTipSendSMS mg-t-10">
                <p>
                    <span>
                        @*@Res.Get("SendSMSFromSuperUser_Label_NumOfSMSAllowSend") <span class="NumOfSMSAllowSend">@numOfSMSAllowSend</span>*@
                        @Res.Get("Balance_Of_EWallet"): <span class="BalanceOfEWallet"> @balanceOfEwallet.ToString("#,##0")</span> VNĐ
                    </span>
                </p>
                <p>
                    <span>
                        @*@Res.Get("SendSMSFromSuperUser_Label_NumOfSMSSent") <span class="NumOfSMSSent">@numOfSent</span>*@
                        @*@Res.Get("SendSMSToTeacher_Label_NumberOfPromotionInternalSMS"): <span class="NumOfPromotionInternalSMS">@numOfPromSMS</span> @Res.Get("SMSTeacher_Label_SMS")*@
                    </span>
                </p>
				 <p>
                        <span style="font-size: 11.5px;">@contentPromotion</span>
                    </p>   
            </div>
        @*}*@

        <div class="SendSMSSection ContentSMS">
            <div class="Field Field1">
                <textarea id="txtContentToSend" class="TextareaStyle TextAreaStyle1" rows="1" cols="1"
                          onkeyup="validateUtils.SetPrefixSMS(this); validateUtils.CountSMS('txtContentToSend', 'LengSMSToTeacher', $('#AllowSignMessage').is(':checked')); enableButtonSend();"
                          onblur="validateUtils.SetPrefixSMS(this); validateUtils.CountSMS('txtContentToSend', 'LengSMSToTeacher', $('#AllowSignMessage').is(':checked')); enableButtonSend();">@CommonMethods.GetPrefix(null)</textarea>
                <div class="Clear">
                </div>
                <p class="Text1Style">
                    <span id="smsCounter">
                        <span id="LengSMSToTeacher">@(CommonMethods.GetPrefix(null).Length + 1)</span>
                    </span>
                </p>
                @*Cho phép gửi tin nhắn có dấu*@
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="AllowSignMessage" name="AllowSignMessage" value="true" onchange="checkAllowSignMsg(this)"  style="margin:3px"/> Gửi tin nhắn có dấu
                        <span class="checkmark">&nbsp;</span>
                    </label>
                    <span style="color: red;" id="ContentInfoMsg"></span>
                </div>
                <div class="BtnCenterSection">
                    @if (allowSend)
                    {
                        <input type="submit" id="btSendSMS" class="btn btn-info btn-round" value="@Res.Get("Home_Notification_Label_Send")" onclick="validateBeforeSend()" disabled="disabled" />
                    }
                    else
                    {
                        <input type="submit" class="t-button" value="@Res.Get("Home_Notification_Label_Send")" disabled="disabled" />
                    }
                </div>
            </div>
            <div class="Clear">
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    var s_validateSMS = '@CommonMethods.GetPrefix(null)';
    $("#btn-panel-collapse").click(function () {
        if ($(this).hasClass('icon-arrow-up')) {
            $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
        } else {
            $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
        }
    });
</script>
