﻿@using System.Collections;
@using Telerik.Web.Mvc.UI;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string brandname = CommonMethods.GetBrandName();
    string prefixName = CommonMethods.GetPrefix(null);
    int pageSize = SendSMSToSchoolConstants.PAGE_SIZE;
}
<script type="text/javascript" language="javascript">
    var arrReceiverIDIsLoad = ''; // luu receiver da duoc load, use when call autoResizeFuntion
</script>
<div class="ContentSectionBtm SMSSuperUser">
    <div class="GroupContentSection sms-edu-area">
        <div class="HomeSection" id="HomePanel">
            <div class="SidebarSection">
                @{Html.RenderPartial("_ListLevel");}
            </div>
            <div class="ContentIn1Section StudentsListSection send-sms-to-school-page-list">
                @{Html.RenderPartial("_DetailLevel");}
            </div>
        </div>
    </div>
</div>
@(Html.Telerik().Window()
    .Name("ConfirmToSendSMS")
        .Title(Res.Get("Common_Label_Alert"))
    .Content(@<text>
            <div style="text-align:center;margin-bottom:10px"><img src="/Content/images/alert-question.png" width="90" alt=""></div>
            <div class="popup-content-fault">@Html.Raw(Res.Get("SendSMSToSchool_Label_ConfirmBeforeSend"))</div>
            <div style="width: 100%; text-align: center;">
                <input type="button" id="btOK" value="@Res.Get("Commbon_Button_Accept")" class="btn btn-info btn-round" onclick="continueSendSMS()" />
                <input type="button" id="btCancel" value="@Res.Get("Commbon_Button_Cancel")" class="btn btn-basic btn-round" onclick="cancelSendSMS()" />
            </div>
    </text>)
    .Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false).ContentHtmlAttributes(new { style = "min-width: 350px;" })
)

@Html.AntiForgeryToken()

<script type="text/javascript">
    var url_LoadDetailLevelToSchool = '@Url.Action("LoadDetailLevelToSchool", "SendSMSToSchool")';
    var url_LoadListReceiver = '@Url.Action("LoadContentDetailView", "SendSMSToSchool")';
    var url_loadContentScrollSearch = '@Url.Action("SearchReceiver", "SendSMSToSchool")';
    var lblValidateBeforeSend = '@Res.Get("SendSMSToSchool_Label_IsSelectNull")';
    var url_sendSMSToReceiver = '@Url.Action("SendSMS", "SendSMSToSchool")';
    var url_loadContentScrollSearchContentDetail = '@Url.Action("LoadContentDetailScoll", "SendSMSToSchool")';       
    brandNamePrefix = '@brandname';
    var prefixName = '@Html.Raw(prefixName)';
    var pageSize = '@pageSize';
</script>
@section script{
    @System.Web.Optimization.Scripts.Render("~/bundles/SendSMSToSchool")
}


