﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Areas.ReportNumberOfPupilByTeacherArea
@using SMAS.Web.Areas.ReportNumberOfPupilByTeacherArea.Models
@using (Ajax.BeginForm("Search",
                           "ReportNumberOfPupilByTeacher",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "NumberOfPupilByTeacher",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title" id="lblTitle">
        @Res.Get("Báo cáo số lượng học sinh theo giáo viên")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @(Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportNumberOfPupilByTeacher_Label_Semester"),
                                        new SelectList((IEnumerable<ComboObject>)ViewData[ReportNumberOfPupilByTeacherConstants.LS_SEMESTER],
                                                "key", "value", ViewData[ReportNumberOfPupilByTeacherConstants.DF_SEMESTER]),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> {}, false))
                </div>
                <div class="col-md-6">
                     @(Html.ViettelComboboxFor(model => model.FacultyID, Res.Get("ReportNumberOfPupilByTeacher_Label_Faculty"),
                                                new SelectList((IEnumerable<SchoolFaculty>)ViewData[ReportNumberOfPupilByTeacherConstants.LS_FACULTY],
                                        "SchoolFacultyID", "FacultyName"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> {}, false))
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "button", "fnSearch()", "btn btn-info btn-icon btn-round btn-icon-search")
        </div>
    </div>
}
<script type="text/javascript">
    function fnSearch() {
        var datafrom = $("#frmSearch").serialize();
        $.ajax({
            url: '@Url.Action("Search", "ReportNumberOfPupilByTeacher")',
            type: 'post',
            data: datafrom,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#NumberOfPupilByTeacher").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function ExportExcel() {
        var datafrom = $("#frmListPupilOfTeacher").serialize();
        alert(datafrom);
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportNumberOfPupilByTeacher")',
            type: 'post',
            data: datafrom,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#NumberOfPupilByTeacher").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    $(function () {
        $(".editor-field").has("select").addClass("custom-select");
    });
</script>
