﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StatisticsForUnitTertiaryArea.Models
@using SMAS.Models.Models
@using SMAS.Web.Areas.StatisticsForUnitTertiaryArea
@using SMAS.Business.Common
@model StatisticsForUnitTertiaryViewModel
@{
    List<CapacityStatistic> data = ViewData[StatisticsForUnitTertiaryConstants.GRID_STATISTICS_CAPACITY] == null ? new List<CapacityStatistic>() : (List<CapacityStatistic>)ViewData[StatisticsForUnitTertiaryConstants.GRID_STATISTICS_CAPACITY];
    int index = 1;
    bool alt = false;    
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @ViewData[StatisticsForUnitTertiaryConstants.COUNT_DATA]
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        <div class="t-widget t-grid">
            <div class="GridThemes">
                <div class="t-widget t-grid" style="overflow-x: scroll; min-height: 480px;">
                    <table>
                        <thead class="t-grid-header">
                            <tr>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("Common_Column_Order")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("SubCommittee_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("EducationLevel_Label_AllTitle")</a>
                                </th>
                                <th class="t-header" rowspan="2" style="vertical-align: middle; text-align: center">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("StatisticsForUnit_Label_TotalPupil")</a>
                                </th>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitTertiaryConstants.LIST_CAPACITY_LEVEL])
                                    {
                                    <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;">
                                        <a class="t-link" onclick="javascript:void(0)">@sc.DisplayName</a>
                                    </th>
                                    }
                                }
                                <th class="t-header" colspan="2" style="vertical-align: middle; text-align: center;">
                                    <a class="t-link" onclick="javascript:void(0)">@Res.Get("MarkStatistics_Label_AboveAverage")</a>
                                </th>
                            </tr>
                            <tr>
                                @{
                                    foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitTertiaryConstants.LIST_CAPACITY_LEVEL])
                                    {
                                    <th class="t-header" style="vertical-align: middle; text-align: center; width: 15px">
                                        <a class="t-link" onclick="javascript:void(0)">TS</a>
                                    </th>
                                    <th class="t-header" style="vertical-align: middle; text-align: center; width: 15px">
                                        <a class="t-link" onclick="javascript:void(0)">TL</a>
                                    </th>
                                    }
                                }
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 15px">
                                    <a class="t-link" onclick="javascript:void(0)">TS</a>
                                </th>
                                <th class="t-header" style="vertical-align: middle; text-align: center; width: 15px">
                                    <a class="t-link" onclick="javascript:void(0)">TL</a>
                                </th>
                            </tr>
                        </thead>
                        @{foreach (var item in data)
                          {
                              alt = !alt;
                            <tr class="@(alt ? "t-alt" : "")">
                                <td>
                                    @(index++)
                                </td>
                                <td>
                                    @(item.SubCommittee != null ? item.SubCommittee.Resolution : string.Empty)
                                </td>
                                <td>
                                    @(item.EducationLevel.Resolution)
                                </td>
                                <td>
                                    @(item.PupilTotal)
                                </td>
                                @{
                                List<int?> listCountMark = new List<int?>();
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitTertiaryConstants.LIST_CAPACITY_LEVEL])
                                {
                                    int? markValue = (int?)typeof(CapacityStatistic).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    listCountMark.Add(markValue);
                                }
                                List<double?> listPercent = ReportUtils.GetPerCentInList(listCountMark, item.PupilTotal);
                                int pos = 0;
                                double totalAbovePercent = 0;
                                foreach (StatisticsConfig sc in (List<StatisticsConfig>)ViewData[StatisticsForUnitTertiaryConstants.LIST_CAPACITY_LEVEL])
                                {
                                    int? markValue = (int?)typeof(CapacityStatistic).GetProperty(sc.MappedColumn).GetValue(item, null);
                                    double? percent = listPercent[pos];
                                    if (sc.MarkType == SystemParamsInFile.StatisticsConfig.MARK_TYPE_ABOVE_AVERAGE)
                                    {
                                        if (percent.HasValue)
                                        {
                                            totalAbovePercent += percent.Value;
                                        }
                                    }
                                    pos++;                
                                    <td>
                                        @markValue
                                    </td>                            
                          
                                    <td>
                                        @(percent.HasValue ? percent.Value + "%" : string.Empty)
                                    </td>                          
                                }
                                }
                                <td>
                                    @(item.OnAverage)
                                </td>
                                <td>
                                    @(totalAbovePercent + "%")
                                </td>
                            </tr>
                          }
                        }
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Left">
            @using (Ajax.BeginForm("SendCapacity",
                       "StatisticsForUnitTertiary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "PostSuccess",
                           OnFailure = "PostFail"
                       },
                       new { id = "frmSendCapacity" }
                       ))
            {
        @Html.AntiForgeryToken()
                @Html.Hidden("EducationLevelID", Model != null && Model.EducationLevelID.HasValue ? Model.EducationLevelID.Value : 0)
                @Html.Hidden("Semester", Model != null ? Model.Semester : 0)
                @Html.Hidden("SubCommitteeID", Model != null ? Model.SubCommitteeID : 0)
           if (Model != null)
           {
               if (data != null && data.Count > 0)
               {
                @Html.ViettelButton(Res.Get("StatisticsForUnit_Label_Send"), "submit", "", "")
                <text>&nbsp;</text>    
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportCapacity()", "")
               }
           }
            }
        </div>
        <div class="Clear">
        </div>
    </div>
</div>
