﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.StatisticsForUnitTertiaryArea.Models
@using SMAS.Web.Areas.StatisticsForUnitTertiaryArea
@model StatisticsForUnitTertiaryViewModel
@using (Ajax.BeginForm("SearchCapacitySubject",
                       "StatisticsForUnitTertiary",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           UpdateTargetId = "gridCapacitySubjectStatistic"
                       },
                       new { id = "frmSearchCapacitySubjectStatistic" }
                       ))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.AntiForgeryToken()
            @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[StatisticsForUnitTertiaryConstants.LIST_EDUCATION_LEVEL], GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "ref", "capacitySubject" } }, false)
            @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[StatisticsForUnitTertiaryConstants.LIST_SEMESTER_ALL], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "ref", "capacitySubject" } }, true)
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
}
<div id="gridCapacitySubjectStatistic">
    @Html.Partial("_CapacitySubjectGrid")
</div>
<script type="text/javascript">
    function ExportCapacitySubject() {
        var eduID = $("#frmSearchCapacitySubjectStatistic").find("#EducationLevelID").val();
        var semester = $("#frmSearchCapacitySubjectStatistic").find("#Semester").val();
        window.open("@Url.Action("ExportCapacitySubject")?EducationLevelID="+eduID+"&Semester=" + semester);
    }
</script>
