﻿
		
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkStatisticsSecondaryDKArea
@using SMAS.Web.Areas.MarkStatisticsSecondaryDKArea.Models
@using SMAS.VTUtils.Utils
@{
    ViewBag.Title = @Res.Get("MarkStatisticsSecondaryDK_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<div id="SearchPanel">
    @Html.Partial("Search")
</div>

<div id="lstList">
@if (MarkStatisticsSecondaryDKConstants.Show_List == true)
{ 
   @Html.Partial("List")   
} 
  
</div>
<div class="vt-form-button" style=" margin-top:20px">   
   @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "button","exportReport()", "", "btnExportExcel")                          
</div>
@(Html.Telerik().Window()
        .Name("AlertDialog")
        .Title(Res.Get("CreateRK"))
        .Content(@<text>
                    <div>
                        <div style="text-align:center;margin-bottom:10px">
                            <div>
                                <img src="@Url.Content("~/Content/images/alert-exel.png")" width="90" alt=""/></div>
                            <div class="clear:both;">
                            </div>
                            <div>
                                <a target="_blank" id="DownloadOldFile" onclick="smas.closeDialog('AlertDialog');" ><span style="float: left;">
                                    <img width="30" src="@Url.Content("~/Content/images/download.png")" alt=""></span> <span style="float: left;">
                                        <h1>
                                            <b> @Res.Get("DownloadFile")</b>
                                        </h1>
                                    </span></a>
                            </div>
                        </div>
                        <div style="text-align-last:center">
                            <div id="MessageForExportDiv" >                                
                            </div>
                            <div class="clear:both;">
                            </div>
                            <div style="text-align: center;">
                                <button id="ExportNewFile" onclick="smas.closeDialog('AlertDialog');LoadGrid();" class="btn btn-info btn-round">
                                    @Res.Get("NewSynthesis")</button>
                            </div>
                        </div>
                    </div>
                    </text>)
        .Buttons(buttons => buttons.Maximize().Close())
        .Resizable()
        .Draggable(true)
        .ClientEvents(events => events.OnOpen("smas.onOpenDialog"))
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(250)
)
<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}#SearchPanel .editor-label{width:18%}#SearchPanel .editor-field{width:28%;margin-right:10px}
</style>
<script type="text/javascript">
    $(document).ready(function () {       
        $('#btnExportExcel').hide();        
    });
   
</script>


