﻿<style type="text/css">
.t-subject{vertical-align:middle}.t-grid-header .t-header{border-style:solid;border-width:1px;font-weight:400;overflow:hidden;padding:.1em;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}.t-cell-number{text-align:right}.t-grid th,.t-table{border:1px solid #A7BAC5}.t-grid td{border-bottom:1px solid #A7BAC5;border-left:1px solid #A7BAC5}.t-grid tbody td:first-child{border-left-width:1px}.t-grid tbody td:last-child{border-right-width:1px}.t-grid-header th:first-child{border-left-width:1px}.t-grid-header th:last-child{border-right-width:1px!important}
</style>
<div style="text-align:center;">
@Html.Raw((string) ViewData["ListMissingMark"])
</div>
<style>
    #listResult .t-grid {
    position: relative;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    height: 350px;
}
</style>