﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.VnenClassSubjectArea.Models
@using SMAS.Web.Areas.VnenClassSubjectArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ListViewModel> lstResult = (List<ListViewModel>)ViewData[VnenClassSubjectConstants.LIST_CLASS_SUBJECT];
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="listResult">
</div>

