@model TypeOfFoodViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TypeOfFoodArea.Models

@using (Ajax.BeginForm("Create",
                       "TypeOfFood",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
	@Html.AntiForgeryToken()
         
    @Html.ViettelEditorFor(model => model.TypeOfFoodName)
    @Html.ViettelTextArea(Res.Get("TypeOfFood_Label_Description"), "Description", "", false, new Dictionary<string, object> {{"maxlength","500"},{"style","width:279px; height:80px"} }) 

    <div class="dialog-buttons">
		@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
		@Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "")       
    </div>
}

<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            search();
            setTimeout(smas.closeDialog('createDialog'),1000);
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>


