﻿@model SMSTypeViewModel
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject

<ul class="ResetList NavigationList" id="SMSTypeList" style="overflow-y:auto">
    <div class="editor-field" style="padding-bottom:0px; width:100%;">
                    <li style="padding:6px 12px;" class="bg-green"><span class="TitleStyle" style="font-weight:bold;color:white;">@Res.Get("Message_ListMessage_Label")</span> </li>
    </div>
  
    @{
        int counter = 0;
        var global = new GlobalInfo(); ;
        List<SMSTypeBO> lstSMSTypeBO = (List<SMSTypeBO>)ViewData["lstSMSType"];
        SMSTypeBO objSMSTypeBO = null;
        counter = lstSMSTypeBO.Count;
        string defaultTypeCode = null;
        if(ViewData.ContainsKey("DefaultTypeCode"))
        { 
            defaultTypeCode = (string)ViewData["DefaultTypeCode"];
        }
        if (counter > 0)
        {            
        <li class="EndItem">
            <ul class="ResetList">
                @{
                    string style;
                    string onclick;
                    for (int i = 0; i < counter; i ++ )
                    {
                        objSMSTypeBO = lstSMSTypeBO[i];
                        style = objSMSTypeBO.IsCustom ? "style = color:#ff8309" : string.Empty;
                        onclick = objSMSTypeBO.IsCustom ? "LoadCustomType(this)" : "LoadEditor(this)";
                        string isDefault = objSMSTypeBO.TypeCode == defaultTypeCode ? "class = isdefault" : string.Empty;
                        <li><a href="javascript:" name="itemSMSType" id="itemSMSType@(objSMSTypeBO.TypeID)" typeid="@objSMSTypeBO.TypeID" onclick="@onclick" @style @isDefault>@objSMSTypeBO.Name</a>
                        </li>
                    }
                    
                    if(global.AppliedLevel == 1 || global.AppliedLevel == 2 || global.AppliedLevel == 3)
                    { 
                        if(defaultTypeCode == "THEMMOI")
                        {
                            <li><a href="javascript:" name="itemSMSType" onclick="CraeteNewSMSType(this)" class="isdefault">+Thêm mới</a>
                        </li>
                        }
                        else
                        { 
                        <li><a href="javascript:" name="itemSMSType" onclick="CraeteNewSMSType(this)">+Thêm mới</a>
                        </li>
                        }
                    }
                }
            </ul>
        </li>             
        }
    }
</ul>
