﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportFirstHighSchoolArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
            <div id="errorMsg">
            @Html.Partial("_ErrorMessage")
            </div>
            <div style="float:left;width:65%">
            @Html.ViettelTextbox(Res.Get("PrimaryJudgeRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { }, false,false)
            </div>
            <div style="float:right;width:30%">
                @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "ReportFirstHighSchool")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport")
            .OnUpload("OnImportUpload")
            .OnSuccess("OnImportSuccess")
            .OnError("OnImportError")
)
)

            </div>
           <div style="text-align:center;padding-top:7px;padding-left:100px">
           @Html.ViettelButton(Res.Get("Common_Button_Import"),new Dictionary<string,object>(){{"disabled","disabled"},{"id","btImport"}},"button","OnImportButtonClick()","t-state-disabled")
           </div>
        
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnUploaderCss").find('span:first').text('Chọn file').attr("style", "text-align:center");
           // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
        });
        var _intervalId;
        var error = false;
        function OnSelectImport(e) {
            var files = e.files;
           // alert(files[0].name);
            $("#txtFilePath").val(files[0].name);
            _intervalId = setInterval("hideUploadButton();", 10);
        }
        function hideUploadButton() {
            // Try and find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Hide it.
                button.css({
                    visibility: 'hidden',
                    position: 'absolute'
                });

                // Terminate the interval.
                clearInterval(_intervalId);

                // Enable the OK button.
                $('#btImport').removeAttr('disabled');
                $('#btImport').removeClass('t-state-disabled');
            } else {
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
            } 
        }
        function OnImportUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                    //check file size
                    if (this.size > 0) {
                        var fileSize = Math.ceil(this.size / (1024));
                        if (fileSize < 1024) {
                            return true;
                        }
                        alert("Dung lượng file excel không được lớn hơn 1MB")
                        error = true;
                        e.preventDefault();
                        return false;
                    }
                } else {
                    alert("File không đúng định dạng");
                    error = true;
                    $('#btImport').attr('disabled');
                    $('#btImport').addClass('t-state-disabled');
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                if (file.size > 0) {
                    var info = " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function OnImportButtonClick()
        {
            // Find the upload button.
            var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

            // If the upload button was found...
            if (button.length > 0) {
                // Click it.
                button.click();
            }
            if (!error) {
                smas.showProcessingDialog();
            }
        }

        function OnImportSuccess(e) {
            smas.hideProcessingDialog();
            if (e.response.Type == "success") {
                setTimeout('smas.closeDialog(\"ImportExcelDialog\")',500);
                $("#idTotal").html(e.response.Message);
            }
            else{
                formUtils.resetForm("ImportExcelDialog");
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                $("#errorMsg").html(e.response.Message);
               // smas.alert(e.response.Message);
            }

        }
        function OnImportError(e) {
            smas.hideProcessingDialog();
            smas.alert(e);
            formUtils.resetForm("ImportExcelDialog");
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    </script>

   <style>
    .btnUploaderCss span
    {
        padding-right:20px;
    }
    .t-widget.t-upload.newclass .t-button.t-upload-selected<br>
    {
        display:none;
    }
    </style>