﻿@model FirstHighSchoolViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportFirstHighSchoolArea.Models
@using SMAS.Web.Areas.ReportFirstHighSchoolArea
@{
    List<FirstHighSchoolViewModel> lst = ViewData[ReportFirstHighSchoolConstants.LIST_TEACHER] as List<FirstHighSchoolViewModel>;
}
<style type="text/css">
    .tableMaterialBase td{border:1px solid!important;vertical-align:middle;text-align:center;padding:5px;font-weight:700}.tableMaterialBase .vt-control .editor-label{display:none}.tableMaterialBase{width:75%}
</style>
<div style="font-weight: bold; padding-left: 300px">
    @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_MateriaBase").ToUpper())
</div>
<br />
<table class="tableMaterialBase">
    <tr>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_ComputerRoom"))
        </td>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_NumberOfComputer"))
        </td>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_NumberOfComputerInternetConnected"))
        </td>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_HasWebsite"))
        </td>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_HasDatabase"))
        </td>
        <td>
            @Html.ViettelLabel(Res.Get("FirstHighSchool_Label_LearningRoom"))
        </td>
    </tr>
    <tr>
        @{
            if (lst != null && lst.Count > 0)
            {
            
            <td>
                @Html.ViettelTextbox("", "ComputerRoom", lst.FirstOrDefault().ComputerRoom, new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelTextbox("", "NumberOfComputer", lst.FirstOrDefault().NumberOfComputer, new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelTextbox("", "NumberOfComputerInternet", lst.FirstOrDefault().NumberOfComputerInternet, new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelCheckBox("HasWebsite", lst.FirstOrDefault().HasWebsite)
            </td>
            <td>
                @Html.ViettelCheckBox("HasDatabase", lst.FirstOrDefault().HasDatabase)
            </td>
            <td>
                @Html.ViettelTextbox("", "LearningRoom", lst.FirstOrDefault().LearningRoom, new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
           
            }
            else
            {
           
            <td>
                @Html.ViettelTextbox("", "ComputerRoom", "", new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelTextbox("", "NumberOfComputer", "", new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelTextbox("", "NumberOfComputerInternet", "", new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            <td>
                @Html.ViettelCheckBoxFor(o=>o.HasWebsite)
            </td>
            <td>
                @Html.ViettelCheckBoxFor(o => o.HasDatabase)
            </td>
            <td>
                @Html.ViettelTextbox("", "LearningRoom", "", new Dictionary<string, object> { { "OnKeyUp", "Total()" } }, false, false)
            </td>
            }
        }
    </tr>
</table>
