﻿@model FirstHighSchoolViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportFirstHighSchoolArea.Models
@using SMAS.Web.Areas.ReportFirstHighSchoolArea
@using SMAS.Models.Models
@{
    
    List<SubjectCat> ListSubjectCat = ViewData[ReportFirstHighSchoolConstants.LIST_SUBJECT_TITLE] as List<SubjectCat>;
    List<FirstHighSchoolViewModel> lst = ViewData[ReportFirstHighSchoolConstants.LIST_TEACHER] as List<FirstHighSchoolViewModel>;
    var colspan = 0;
    if (ListSubjectCat != null)
    {
        colspan = ListSubjectCat.Count;
    } 
}
<fieldset>
    <legend style="font-weight: bold;">
        @Res.Get("FirstHighSchool_Label_TeacherTitle").ToUpper()
    </legend>
    @{
        Html.Telerik()
           .Grid((IEnumerable<FirstHighSchoolViewModel>)ViewData[ReportFirstHighSchoolConstants.LIST_TEACHER])
           .Name("GridTeacher")
           .Columns(c =>
           {


               //trong bien che
               c.Template(
        @<text>
        @{
            if (item.NumOfStaff != null)
            {
            <input type="text" name = "NumOfStaff" id="NumOfStaff" style="width:70px;" value="@item.NumOfStaff"/>
            }
            else
            {
            <input type="text" name = "NumOfStaff" id="NumOfStaff" style="width:70px;" value="@item.NumOfStaff"/>
            }
        }
        </text>)
    .Title(Res.Get("StatisticOfTertiary_Label_NumOfStaff")).Width(100);
               //co cau gv theo mon
               c.Template(
      @<text>
        <table cellspacing="0" class="data-row">
            <tr>
                @{
                    foreach (SubjectCat sc in ListSubjectCat)
                    {
                        item.SpecialType = "";
                        if (item.TotalNumOfTeacherPerSubject != null && item.TotalNumOfTeacherPerSubject.Count > 0)
                        {
                            if (sc.SubjectCatID == 0)
                            {
                                item.SpecialType = "1";
                            }
                        
                    <td>
                    @if (!item.TotalNumOfTeacherPerSubject.ContainsKey(sc.SubjectCatID.ToString() + "_" + item.SpecialType))
                    {
                        item.TotalNumOfTeacherPerSubject[sc.SubjectCatID.ToString() + "_" + item.SpecialType] = 0;
                    }
                    
                    @Html.ViettelTextBox(sc.SubjectCatID.ToString() + "_" + item.SpecialType,
                        item.TotalNumOfTeacherPerSubject[sc.SubjectCatID.ToString() + "_" + item.SpecialType],
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", sc.SubjectCatID.ToString() + "_" + item.SpecialType }})
                       
                    </td>
                        }
                        else
                        {
                    <td>
                        @Html.ViettelTextBox(sc.SubjectCatID.ToString() + "_" + item.SpecialType,
                        "",
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", sc.SubjectCatID.ToString() + "_" + item.SpecialType } })
                    </td>
                        }
                    }
                }
            </tr>
        </table>
        </text>)
            .HeaderTemplate(
      @<text>
        <table cellspacing="0" class="data-header">
            <tr>
                <td colspan=@colspan style="text-align:center;">
                    <strong>@Res.Get("StatisticOfTertiary_Label_TotalNumOfTeacherPerSubject")</strong>
                </td>
            </tr>
            <tr>
                @foreach (SubjectCat sc in ListSubjectCat)
                {
                    <td style="width: 40px; text-align: center;">
                        @sc.SubjectName
                    </td>
                }
            </tr>
        </table>
        </text>).Width(1000);

               //thong tin chuan dao tao
               c.Template(
      @<text>
        <table cellspacing="0" class="data-row">
            <tr>
                <td>
                @Html.ViettelTextBox("NumOfStandard",
                        item.NumOfStandard,
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", "NumOfStandard" },{"attrItem", "TeacherItem"},
                        { "OnKeyUp", "SumTeacher(this)" } })
                    
                </td>
                <td>
                @Html.ViettelTextBox("NumOfOverStandard",
                                 item.NumOfOverStandard,
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", "NumOfOverStandard" },{"attrItem", "TeacherItem"},
                        { "OnKeyUp", "SumTeacher(this)" } })
                    
                </td>
                <td>
                 @Html.ViettelTextBox("NumOfUnderStandard",
                                 item.NumOfUnderStandard,
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", "NumOfUnderStandard" },{"attrItem", "TeacherItem"},
                        { "OnKeyUp", "SumTeacher(this)" } })
                    
                </td>
            </tr>
        </table>
        </text>)
                     .HeaderTemplate(
      @<text>
        <table cellspacing="0" class="data-header">
            <tr>
                <td colspan="3" style="text-align: center;">
                    <strong>@Res.Get("StatisticOfTertiary_Label_TotalNumOfStandard")</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Res.Get("StatisticOfTertiary_Label_NumOfStandard")
                </td>
                <td>
                    @Res.Get("StatisticOfTertiary_Label_NumOfOverStandard")
                </td>
                <td>
                    @Res.Get("StatisticOfTertiary_Label_NumOfUnderStandard")
                </td>
            </tr>
        </table>
        </text>).Width(280);

               //tong gv
               c.Template(@<text>
               <div id="tonggv">
               @Html.ViettelLabel(item.TotalTeacher.ToString())
               </div>
               </text>).Width(100).Title(Res.Get("StatisticSubjectOfTertiary_Label_TotalTeacher"));

           }
           )
                .DataKeys(keys => keys.Add(o => o.NumOfStaff))
                .Scrollable(c => c.Enabled(true).Height(35))
                .Selectable()
                .Render();
    }
</fieldset>

<script type="text/javascript">
    function SumTeacher(subject) {
        var totalTeacher = 0;
        $("input[attrItem='TeacherItem']").each(function () {
            var item = $(this).attr("value");
            if (item != "" && parseInt(item) > 0) {
                totalTeacher += parseInt(item);
            }
        })
        $("#tonggv").html(totalTeacher);
    }
</script>