﻿@model FirstHighSchoolViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportFirstHighSchoolArea.Models
@using SMAS.Web.Areas.ReportFirstHighSchoolArea
@using SMAS.Models.Models
@{
    int CountSub = (int)ViewData[ReportFirstHighSchoolConstants.COUNT_SUB];
    List<SubCommittee> ListSubCommitee = ViewData[ReportFirstHighSchoolConstants.LIST_SUB] as List<SubCommittee>;
}
<fieldset>
    <legend style="font-weight: bold;">@Res.Get("FirstHighSchool_Label_PupilTitle").ToUpper()</legend>
    @{
        if (CountSub > 0)
        {
            Html.Telerik()
                .Grid((IEnumerable<FirstHighSchoolViewModel>)ViewData[ReportFirstHighSchoolConstants.LIST_PUPIL])
                .Name("GridPupil")
                .Columns(c =>
                {
                    c.Bound(o => o.EducationLevel);

                    c.Template(@<text>
        <table>
            <tr>
                @{
                    foreach (SubCommittee sc in ListSubCommitee)
                    {
                        item.SpecialType = "";
                        if (item.NumberClass != null && item.NumberClass.Count > 0)
                        {
                            if (sc.SubCommitteeID == -1)
                            {
                                item.SpecialType = "1";
                            }
                            if (sc.SubCommitteeID == 0)
                            {
                                item.SpecialType = "2";
                            }
                    <td>
                    @if( !item.NumberClass.ContainsKey(item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType))
                    {
                        item.NumberClass[item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType] = 0;
                    }
                        @Html.ViettelTextBox(item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType,
                        item.NumberClass[item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType],
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType },{"attrItem", "ClassItem_"+item.EducationLevelID},
                        { "OnKeyUp", "SumClass("+item.EducationLevelID+")" } })
                    </td>
                        }
                        else
                        {
                    <td>
                       @if( !item.NumberClass.ContainsKey(item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType))
                    {
                        item.NumberClass[item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType] = 0;
                    }
                        @Html.ViettelTextBox(item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType, "",
                        new Dictionary<string, object> { { "style", "Width:36px" },
                       { "id", item.EducationLevelID + sc.Resolution + "Class" + "_" + item.SpecialType },{"attrItem", "ClassItem_"+item.EducationLevelID},
                       { "OnKeyUp", "SumClass("+item.EducationLevelID+")" } })
                    </td>
                        }
                        if (item.NumberPupil != null && item.NumberPupil.Count > 0)
                        {
                            if (sc.SubCommitteeID == -1)
                            {
                                item.SpecialType = "1";
                            }
                            if (sc.SubCommitteeID == 0)
                            {
                                item.SpecialType = "2";
                            }
                    <td>
                       @if (!item.NumberPupil.ContainsKey(item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType))
                    {
                        item.NumberPupil[item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType] = 0;
                    }
                        @Html.ViettelTextBox(item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType,
                        item.NumberPupil[item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType],
                        new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType },{"attrItem", "PupilItem_"+item.EducationLevelID},
                        { "OnKeyUp", "SumPupil("+item.EducationLevelID+")" } })
                    </td>
                        }
                        else
                        {
                    <td>
                       @if (!item.NumberPupil.ContainsKey(item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType))
                    {
                        item.NumberPupil[item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType] = 0;
                    }
                        @Html.ViettelTextBox(item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType,
                        "", new Dictionary<string, object> { { "style", "Width:36px" },
                        { "id", item.EducationLevelID + sc.Resolution + "Pupil" + "_" + item.SpecialType },{"attrItem", "PupilItem_"+item.EducationLevelID},
                       { "OnKeyUp", "SumPupil("+item.EducationLevelID+")" } })
                    </td>
                        }

                    }
                }
            </tr>
        </table>
        </text>)
    .HeaderTemplate(@<text>
        <table>
            <tr>
                @{
                
                    for (int i = 0; i < CountSub; i++)
                    {
                
                    <td colspan="2" style="width: 72px; text-align: center;">
                        <span>@ListSubCommitee[i].Resolution</span>
                    </td>
                
                
                    }
                }
            </tr>
            <tr>
                @{
                    for (int i = 0; i < CountSub; i++)
                    {
                
                    <td>
                        <span>@Res.Get("FirstHighSchool_Label_NumberClass")</span>
                    </td>
                    <td>
                        <span>@Res.Get("FirstHighSchool_Label_NumberPupil")</span>
                    </td>
                
                
                    }
                }
            </tr>
        </table>
        </text>);
                    c.Template(@<text>
                    <div id="idSumClass">
                    @Html.ViettelLabel(item.SumClass.ToString())
                    </div>
                    
                    </text>).Title(Res.Get("FirstHighSchool_Label_SumClass"));
                    c.Template(@<text>
                    <div id="idSumPupil">
                    @Html.ViettelLabel(item.SumPupil.ToString())
                    </div>
                    </text>).Title(Res.Get("FirstHighSchool_Label_SumPupil"));
                })
                .DataKeys(keys => keys.Add(o => o.EducationLevelID))
                .Selectable()
                .Render();
        }
        else
        {
            Html.Telerik()
                .Grid((IEnumerable<FirstHighSchoolViewModel>)ViewData[ReportFirstHighSchoolConstants.LIST_PUPIL])
                .Name("GridPupil")
                .Columns(c =>
                {
                    c.Bound(o => o.EducationLevel);
                    c.Bound(o => o.SumClass);
                    c.Bound(o => o.SumPupil);
                })

                .DataKeys(keys => keys.Add(o => o.EducationLevelID))
                .Selectable()
                .Render();
        }     
    }
</fieldset>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridExaminationRoom').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function SumClass(educationLevel) {
        var totalClass = 0;
        $("input[attrItem='ClassItem_" + educationLevel + "']").each(function () {
            var item = $(this).attr("value");
            if (item != "" && parseInt(item) > 0) {
                totalClass += parseInt(item);
            }
        })
        $("#idSumClass").html(totalClass);
    }
    function SumPupil(educationLevel) {
        var totalPupil = 0;
        $("input[attrItem='PupilItem_" + educationLevel + "']").each(function () {
            var item = $(this).attr("value");
            if (item != "" && parseInt(item) > 0) {
                totalPupil += parseInt(item);
            }
        })
        $("#idSumPupil").html(totalPupil);
    }
</script>
