﻿@model CreateOrEditModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PeriodDeclarationArea.Models
@using SMAS.Web.Areas.PeriodDeclarationArea
@using SMAS.Web.Utils
@using SMAS.Models.Models
@{
    bool check = false;
    if (ViewData[PeriodDeclarationConstant.MESSAGE_NOTE] != null && (bool)ViewData[PeriodDeclarationConstant.MESSAGE_NOTE])
    {
        check = true;
    }
    
    int InterviewMarkDefault = ViewData[PeriodDeclarationConstant.INTERVIEW_MARK] != null ? (int)ViewData[PeriodDeclarationConstant.INTERVIEW_MARK] : 0;
    int WritingMarkDefault =  ViewData[PeriodDeclarationConstant.WRITING_MARK] != null ?(int)ViewData[PeriodDeclarationConstant.WRITING_MARK] : 0;
    int TwiceCoMarkDefault = ViewData[PeriodDeclarationConstant.TWICE_COEFFIECIENT_MARK] != null ?  (int)ViewData[PeriodDeclarationConstant.TWICE_COEFFIECIENT_MARK] : 0;

    string strInterviewMarkAll = ViewData[PeriodDeclarationConstant.STR_INTERVIEW_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_INTERVIEW_MARK_ALL] : "";
    string strWritingMarkAll = ViewData[PeriodDeclarationConstant.STR_WRITING_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_WRITING_MARK_ALL] : "";
    string strTwiceMarkAll = ViewData[PeriodDeclarationConstant.STR_TWICE_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_TWICE_MARK_ALL] : "";
    AcademicYear objAca = (AcademicYear)ViewData[PeriodDeclarationConstant.ACADEMIC_YEAR];
}
@if (check)
{
    <span>
        Trường chưa Cấu hình số con điểm. Thầy/cô vui lòng vào chức năng
        <a href="/SemeterDeclarationArea/SemeterDeclaration/Index?Tab=1&Pro=1" style ="font-weight:bold;"> 
            Hệ thống > Cấu hình hệ thống > Cấu hình số con điểm<a/>
         để thực hiện cấu hình số con điểm.
    </span>
}
else
{
    using (Ajax.BeginForm("_InsertAjaxEditing",
                           "PeriodDeclaration",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }
                           ))
    {
        <form id="frmCreate">
        @Html.Hidden("strInterviewMark","")
        @Html.Hidden("strWritingMark","")
        @Html.Hidden("strTwiceMark","")
        @Html.Hidden("SemesterID",0)
        @Html.Hidden("InterviewMark",0)
        @Html.Hidden("WritingMark",0)
        @Html.Hidden("TwiceMark",0)
        @Html.Hidden("chkLock",0)
        @Html.Hidden("chkKTHK",0)
       
        @Html.AntiForgeryToken()
        <div class="vt-control semester-name mg-b-10">
            <div class="editor-label">
                <label>Tên đợt</label><span style ="color:red;"> *</span>
            </div>
            <div class="editor-field">
                <input id="PeriodName" name="PeriodDeclarationName" type="text"/>
            </div>
        </div>
        <table>
            <tr class="semeter-date">
                <td>
                    @Html.ViettelDatePicker("FromDate", "Từ ngày", null, true, new Dictionary<string, object> { })
                </td>
                <td>@Html.ViettelDatePicker("EndDate", "Đến ngày", null, true, new Dictionary<string, object> { })</td>
            </tr>
        </table>
            <div class="vt-control select-options">
                <div class="editor-label">
                </div>
                <div class="editor-field">
                    <label class="custom-checkbox">
                        <input id="Lock" name="chkLock" type="checkbox"/>
                        Khóa đợt
                        <span class="checkmark">&nbsp;</span>
                    </label>
                </div>
                
            </div>
            <div class="vt-control select-options">
                <div class="editor-label">
                </div>
                <div class="editor-field">
                    <label class="custom-checkbox">
                        <input id="IsEditMark" name="IsEditMark" type="checkbox" value="true"/>
                        Cho phép GV cập nhật điểm khi thời gian đợt kết thúc
                        <span class="checkmark">&nbsp;</span>
                    </label>
                </div>
            </div>
        <div class="light-green p-t-10 p-b-10">Các cột điểm của đợt:</div>
        <div class="clear"></div>
        <table>
            <tr>
                <td style ="width:15%;">Miệng:</td>
                    @for (int i = 1; i <= InterviewMarkDefault; i++)
                    {
                        if (strInterviewMarkAll.Contains("M" + i))
                        {
                            <td style ="color:red;">
                                <label class="custom-checkbox">
                                    <input type="checkbox" disabled ="disabled" />@(" M" + i)
                                    <span class="checkmark">&nbsp;</span>
                                </label>
                            </td>
                        }
                        else
                        {
                            <td>
                                <label class="custom-checkbox">
                                    <input type="checkbox" id ="@("M"+i)" value ="@("M" + i)" />@(" M" + i)
                                    <span class="checkmark">&nbsp;</span>
                                </label>
                            </td>
                        }
                    
                    }
            </tr>
            <tr>
                <td style ="width:15%">15P:</td>
                @for (int i = 1; i <= WritingMarkDefault; i++)
                {
                    if (strWritingMarkAll.Contains("P"+i))
                    {
                        <td style ="color:red;">
                            <label class="custom-checkbox">
                                <input type="checkbox" disabled ="disabled" />@(" P" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="custom-checkbox">
                                <input type="checkbox" id ="@("P" + i)" value ="@("P" + i)" />@(" P" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                
                }
            </tr>
            <tr>
                <td style ="width:15%">1 tiết:</td>
                @for (int i = 1; i <= TwiceCoMarkDefault; i++)
                {
                    if (strTwiceMarkAll.Contains("V" + i))
                    {
                        <td style ="color:red;">
                            <label class="custom-checkbox">
                                <input type="checkbox" disabled ="disabled" />@(" V" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="custom-checkbox">
                                <input type="checkbox" id ="@("V" + i)" value ="@("V" + i)" />@(" V" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                
                }
            </tr>
        </table>
        <div class="vt-control">
            <div class="editor-label" style="width: 15%; text-align: left;">
                Học kỳ:
            </div>
            <div class="editor-field" style="width: 50%;margin-top:5px;">
                <label class="custom-checkbox">
                    <input id ="KTHK" name ="chkKTHK" type ="checkbox" value="KTHK"/>
                    <span class="checkmark">&nbsp;</span>
                </label>
            </div>
        </div>
        <hr />
        <div id ="message">
            <span>Lưu ý: Các cột <span style ="color:red;">màu đỏ</span> đã được khai báo cho đợt khác</span>
            
        </div>
        <div class="text-center mg-b-10 mg-t-10">
            <input type="button" class="btn btn-info btn-icon btn-round btn-icon-save" onclick="CheckInsertPeriod();" value="Lưu">
            <input type="submit" name="CommonSave" id="CommonSave" style="display:none;" value="@Res.Get("Common_Button_Save")" class="t-button" />
        </div>
    </form>
    }

}
<script>
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            $('#ListSemesterForPeriodDeclaration').find('.Active').click();
            smas.closeDialog("createDialog", "", {});
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function CheckInsertPeriod() {
        var periodName = $('#frmCreate #PeriodName').val();
        var fromDate = $('#frmCreate #FromDate').val();
        var toDate = $('#frmCreate #EndDate').val();
        var strView = "";
        var semesterID = parseInt($('#ListSemesterForPeriodDeclaration').find('.Active').attr('value'));
        var count = 0;
        var startDateTime;
        var endDateTime;
        if (semesterID == 1) {
            startDateTime = '@objAca.FirstSemesterStartDate';
            endDateTime = '@objAca.FirstSemesterEndDate';
        }
        else if (semesterID == 2) {
            startDateTime = '@objAca.SecondSemesterStartDate';
            endDateTime = '@objAca.SecondSemesterEndDate';
        }
        if (periodName == null || periodName == "") {
            smas.alertColor('@Res.Get("Thầy cô chưa nhập tên đợt")', "red");
            return;
        }
        else if (fromDate == null || fromDate == "") {
            smas.alertColor('@Res.Get("Thầy cô chưa chọn thời gian của đợt")', "red");
            return;
        }
        else if (toDate == null || toDate == "") {
            smas.alertColor('@Res.Get("Thầy cô chưa chọn thời gian của đợt")', "red");
            return;
        }
        else if (!validateUtils.IsValidDate(fromDate)) {
            smas.alertColor('@Res.Get("Từ ngày không hợp lệ")', "red");
            return;
        }
        else if (!validateUtils.IsValidDate(toDate)) {
            smas.alertColor('@Res.Get("Đến ngày không hợp lệ")', "red");
            return;
        }
        else if (dateUtils.ParseDate(fromDate) > dateUtils.ParseDate(toDate)) {
            smas.alertColor('@Res.Get("Từ ngày phải nhỏ hơn Đến ngày")', "red");
            return;
        }
        else if (dateUtils.ParseDate(fromDate) < dateUtils.ParseDate(startDateTime) || dateUtils.ParseDate(fromDate) > dateUtils.ParseDate(endDateTime)) {
            if (semesterID == 1) {
                smas.alertColor('@Res.Get("Từ ngày phải nằm trong khoảng thời gian học kỳ I")', "red");
            }
            else {
                smas.alertColor('@Res.Get("Từ ngày phải nằm trong khoảng thời gian học kỳ II")', "red");
            }
            return;
        }
        else if (dateUtils.ParseDate(toDate) < dateUtils.ParseDate(startDateTime) || dateUtils.ParseDate(toDate) > dateUtils.ParseDate(endDateTime)) {
            if (semesterID == 1) {
                smas.alertColor('@Res.Get("Đến ngày phải nằm trong khoảng thời gian học kỳ I")', "red");
            }
            else {
                smas.alertColor('@Res.Get("Đến ngày phải nằm trong khoảng thời gian học kỳ II")', "red");
            }
            return;
        }
        else {

            $('#frmCreate').find('input[id^="M"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            $('#frmCreate #InterviewMark').val(count);
            $('#frmCreate #strInterviewMark').val(strView);
            count = 0;
            strView = '';
            $('#frmCreate').find('input[id^="P"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            $('#frmCreate #WritingMark').val(count);
            $('#frmCreate #strWritingMark').val(strView);
            count = 0;
            strView = '';
            $('#frmCreate').find('input[id^="V"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            $('#frmCreate #TwiceMark').val(count);
            $('#frmCreate #strTwiceMark').val(strView);

            $('#frmCreate #SemesterID').val(semesterID);
            var isLock = $('#frmCreate #Lock').is(':checked');
            var isKTHK = $('#frmCreate #KTHK').is(':checked');
            //var isEditMark = $('#frmCreate #IsEditMark').is(':checked');
            $('#frmCreate #chkLock').val(isLock);
            $('#frmCreate #chkKTHK').val(isKTHK);
            //$('#frmCreate #IsEditMark').val(isEditMark);
            $("#frmCreate input[type='submit']").click();
        }
    }
</script>





