﻿@model CreateOrEditModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PeriodDeclarationArea.Models
@using SMAS.Web.Areas.PeriodDeclarationArea
@using SMAS.Web.Utils
@using SMAS.Models.Models
@{
    int InterviewMarkDefault = (int)ViewData[PeriodDeclarationConstant.INTERVIEW_MARK];
    int WritingMarkDefault = (int)ViewData[PeriodDeclarationConstant.WRITING_MARK];
    int TwiceCoMarkDefault = (int)ViewData[PeriodDeclarationConstant.TWICE_COEFFIECIENT_MARK];

    string strInterviewMarkAll = ViewData[PeriodDeclarationConstant.STR_INTERVIEW_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_INTERVIEW_MARK_ALL] : "";
    string strWritingMarkAll = ViewData[PeriodDeclarationConstant.STR_WRITING_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_WRITING_MARK_ALL] : "";
    string strTwiceMarkAll = ViewData[PeriodDeclarationConstant.STR_TWICE_MARK_ALL] != null ? (string)ViewData[PeriodDeclarationConstant.STR_TWICE_MARK_ALL] : "";

    bool chk_kthk = (bool)ViewData[PeriodDeclarationConstant.CHK_KTHK];
    string attrCheckDisabled = "";
    string attrColor = "";
    if (chk_kthk)
    {
        attrCheckDisabled = "disabled=disalbled";
        attrColor = "style =color:red;";
    }
    AcademicYear objAca = (AcademicYear)ViewData[PeriodDeclarationConstant.ACADEMIC_YEAR];
}
@using (Ajax.BeginForm("_EditAjaxEditing",
                                   "PeriodDeclaration",
                                   new AjaxOptions
                                   {
                                       HttpMethod = "post",
                                       OnBegin = "smas.showProcessingDialog",
                                       OnComplete = "smas.hideProcessingDialog",
                                       OnSuccess = "EditSuccess",
                                       OnFailure = "EditFail"
                                   },
                                   new { id = "frmEdit" }
                                   ))
{
    <form id="frmEdit" style="padding-left: 10px; width: auto;">
        @Html.Hidden("strInterviewMark", Model.strInterviewMark)
        @Html.Hidden("strWritingMark", Model.strWritingMark)
        @Html.Hidden("strTwiceMark", Model.strTwiceMark)
        @Html.Hidden("SemesterID", 0)
        @Html.Hidden("InterviewMark", 0)
        @Html.Hidden("WritingMark", 0)
        @Html.Hidden("TwiceMark", 0)
        @Html.Hidden("FromDate", Model.FromDate)
        @Html.Hidden("EndDate", Model.EndDate)
        @Html.Hidden("PeriodDeclarationID", Model.PeriodDeclarationID)
        @Html.Hidden("chkLock", false)
        @Html.Hidden("chkKTHK", false)
        @Html.AntiForgeryToken()
        <div class="vt-control">
            <div class="editor-label" style="width: 0;">
                Tên đợt<span style="color: red;"> *</span>
            </div>
            <div class="editor-field">
                <input id="PeriodDeclarationName" name="PeriodDeclarationName" maxlength="200" value="@Model.PeriodDeclarationName" type="text" />
            </div>
        </div>
        <table>
            <tr>
                <td>@Html.ViettelDatePicker("FromDateEdit", "Từ ngày", Model.FromDate, true, new Dictionary<string, object> { })</td>
                <td>@Html.ViettelDatePicker("EndDateEdit", "Đến ngày", Model.EndDate, true, new Dictionary<string, object> { })</td>
            </tr>
        </table>
        <div class="vt-control select-options">
            <div class="editor-label">
            </div>
            <div class="editor-field">
                @if (Model.chkLock.HasValue && Model.chkLock.Value)
                {
                    <input id="chkLockPeriod" name="chkLock" type="checkbox" checked="checked" />
                    <span>Khóa đợt</span>
                }
                else
                {
                    <input id="chkLockPeriod" name="chkLock" type="checkbox" />
                    <span>Khóa đợt</span>
                }

            </div>

        </div>
        <div class="vt-control">
            <div class="editor-label">
            </div>
            <div class="editor-field select-options">
                @if (Model.IsEditMark)
                {
                    <input id="IsEditMark" name="IsEditMark" type="checkbox" checked="checked" value="true" />
                    <span>Cho phép GV cập nhật điểm khi thời gian đợt kết thúc</span>
                }
                else
                {
                    <input id="IsEditMark" name="IsEditMark" type="checkbox" value="true" />
                    <span>Cho phép GV cập nhật điểm khi thời gian đợt kết thúc</span>
                }                
                
            </div>
        </div>
        <div class="light-green p-t-10 p-b-10">Các cột điểm của đợt:</div>
        <div class="clear"></div>
        <table>
            <tr>
                <td style="width: 15%;">Miệng:</td>
                @for (int i = 1; i <= InterviewMarkDefault; i++)
                {
                    if (strInterviewMarkAll.Contains("M" + i))
                    {
                        <td style="color: red;">
                            <label class="custom-checkbox">
                                <input type="checkbox" disabled="disabled" />@(" M" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="custom-checkbox">
                                <input type="checkbox" id="@("M" + i)" value="@("M" + i)" @(!String.IsNullOrEmpty(Model.strInterviewMark) && Model.strInterviewMark.Contains("M" + i) ? "checked='checked'" : "") />@(" M" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }

                }
            </tr>
            <tr>
                <td style="width: 15%">15P:</td>
                @for (int i = 1; i <= WritingMarkDefault; i++)
                {
                    if (strWritingMarkAll.Contains("P" + i))
                    {
                        <td style="color: red;">
                            <label class="custom-checkbox">
                                <input type="checkbox" disabled="disabled" />@(" P" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="custom-checkbox">
                                <input type="checkbox" id="@("P" + i)" value="@("P" + i)" @(!String.IsNullOrEmpty(Model.strWritingMark) && Model.strWritingMark.Contains("P" + i) ? "checked='checked'" : "") />@(" P" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }

                }
            </tr>
            <tr>
                <td style="width: 15%">1 tiết:</td>
                @for (int i = 1; i <= TwiceCoMarkDefault; i++)
                {
                    if (strTwiceMarkAll.Contains("V" + i))
                    {
                        <td style="color: red;">
                            <label class="custom-checkbox">
                                <input type="checkbox" disabled="disabled" />@(" V" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="custom-checkbox">
                                <input type="checkbox" id="@("V" + i)" value="@("V" + i)" @(!String.IsNullOrEmpty(Model.strTwiceMark) && Model.strTwiceMark.Contains("V" + i) ? "checked='checked'" : "") />@(" V" + i)
                                <span class="checkmark">&nbsp;</span>
                            </label>
                        </td>
                    }

                }
            </tr>
        </table>
        <div class="vt-control">
            <div class="editor-label" style="width: 15%; text-align: left;">
                Học kỳ:
            </div>
            <div class="editor-field" style="width: 50%; margin-top: 5px; margin-left: 5px;">
                @if (Model.chkKTHK.HasValue && Model.chkKTHK.Value)
                {
                    <label class="custom-checkbox">
                        <input id="chkHKPeriod" name="chkHK" type="checkbox" checked="checked" />
                        <span>KTHK</span>
                        <span class="checkmark">&nbsp;</span>
                    </label>
                }
                else
                {
                    <label class="custom-checkbox">
                        <input id="chkHKPeriod" name="chkHK" type="checkbox" @attrCheckDisabled />
                        <span @attrColor>KTHK</span>
                        <span class="checkmark">&nbsp;</span>
                    </label>
                }

            </div>
        </div>
        <hr />
        <div id="message">
            <span>Lưu ý: Các cột <span style="color: red;">màu đỏ</span> đã được khai báo cho đợt khác</span>
            
        </div>
        <div class="text-center mg-b-10 mg-t-10">
            <input style="float: right;" type="button" class="btn btn-info btn-icon btn-round btn-icon-save" onclick="checkEditPeriod();" value="Lưu">
            <input type="submit" name="CommonSave" id="CommonSave" style="display:none;" value="@Res.Get("Common_Button_Save")" class="t-button" />
        </div>
    </form>
}

<script>
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            //gọi hàm load grid loadGrid
            $('#ListSemesterForPeriodDeclaration').find('.Active').click();
            smas.closeDialog("editDialog", "", {});
            $('#ConfirmAlertDialog').find('img').parent().css('text-align', 'left').css('width', '30%')
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function checkEditPeriod(btn) {
        var periodName = $('#frmEdit #PeriodDeclarationName').val();
        var fromDate = $('#frmEdit #FromDateEdit').val();
        var toDate = $('#frmEdit #EndDateEdit').val();
        var strViewMDB = $('#frmEdit #strInterviewMark').val();
        var strViewPDB = $('#frmEdit #strWritingMark').val();
        var strViewVDB = $('#frmEdit #strTwiceMark').val();
        var strView = "";
        var semesterID = parseInt($('#ListSemesterForPeriodDeclaration').find('.Active').attr('value'));
        var count = 0;
        var isCheckMChange = false;
        var isCheckPChange = false;
        var isCheckVChange = false;
        var startDateTime;
        var endDateTime;
        if (semesterID == 1) {
            startDateTime = '@objAca.FirstSemesterStartDate';
            endDateTime = '@objAca.FirstSemesterEndDate';
        }
        else if (semesterID == 2) {
            startDateTime = '@objAca.SecondSemesterStartDate';
            endDateTime = '@objAca.SecondSemesterEndDate';
        }

        if (periodName == null || periodName == "") {
            smas.alertColor('@Res.Get("Tên đợt không được để trống")', "red");
            return;
        }
        else if (fromDate == null || fromDate == "") {
            smas.alertColor('@Res.Get("Thầy cô chưa chọn thời gian của đợt")', "red");
            return;
        }
        else if (toDate == null || toDate == "") {
            smas.alertColor('@Res.Get("Thầy cô chưa chọn thời gian của đợt")', "red");
            return;
        }
        else if (!validateUtils.IsValidDate(fromDate)) {
            smas.alertColor('@Res.Get("Từ ngày không hợp lệ")', "red");
            return;
        }
        else if (!validateUtils.IsValidDate(toDate)) {
            smas.alertColor('@Res.Get("Đến ngày không hợp lệ")', "red");
            return;
        }
        else if (dateUtils.ParseDate(fromDate) > dateUtils.ParseDate(toDate)) {
            smas.alertColor('@Res.Get("Từ ngày phải nhỏ hơn Đến ngày")', "red");
            return;
        }
        else if (dateUtils.ParseDate(fromDate) < dateUtils.ParseDate(startDateTime) || dateUtils.ParseDate(fromDate) > dateUtils.ParseDate(endDateTime)) {
            if (semesterID == 1) {
                smas.alertColor('@Res.Get("Từ ngày phải nằm trong khoảng thời gian học kỳ I")', "red");
            }
            else {
                smas.alertColor('@Res.Get("Từ ngày phải nằm trong khoảng thời gian học kỳ II")', "red");
            }
            return;
        }
        else if (dateUtils.ParseDate(toDate) < dateUtils.ParseDate(startDateTime) || dateUtils.ParseDate(toDate) > dateUtils.ParseDate(endDateTime)) {
            if (semesterID == 1) {
                smas.alertColor('@Res.Get("Đến ngày phải nằm trong khoảng thời gian học kỳ I")', "red");
            }
            else {
                smas.alertColor('@Res.Get("Đến ngày phải nằm trong khoảng thời gian học kỳ II")', "red");
            }
            return;
        }
        else {

            $('#frmEdit').find('input[id^="M"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            if (strViewMDB != strView) {
                isCheckMChange = true;
            }
            $('#frmEdit #InterviewMark').val(count);
            $('#frmEdit #strInterviewMark').val(strView);
            count = 0;
            strView = '';
            $('#frmEdit').find('input[id^="P"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            if (strViewPDB != strView) {
                isCheckPChange = true;
            }
            $('#frmEdit #WritingMark').val(count);
            $('#frmEdit #strWritingMark').val(strView);
            count = 0;
            strView = '';
            $('#frmEdit').find('input[id^="V"]').each(function () {
                if ($(this).is(':checked')) {
                    strView += $(this).val() + ",";
                    count++;
                }
            });
            if (strViewVDB != strView) {
                isCheckVChange = true;
            }
            $('#frmEdit #TwiceMark').val(count);
            $('#frmEdit #strTwiceMark').val(strView);

            $('#frmEdit #FromDate').val($('#frmEdit #FromDateEdit').val());
            $('#frmEdit #EndDate').val($('#frmEdit #EndDateEdit').val());
            $('#frmEdit #SemesterID').val(semesterID);
            $('#frmEdit #chkLock').val($('#chkLockPeriod').is(':checked'));
            $('#frmEdit #chkKTHK').val($('#chkHKPeriod').is(':checked'));
            //$('#frmEdit #IsEditMark').val($('#IsEditMark').is(':checked'));
            if (isCheckMChange || isCheckPChange || isCheckVChange) {
                var message = "Thầy cô đã thay đổi cấu hình điểm của đợt. Nếu thực hiện cập nhật, kết quả điểm, đánh giá, xếp loại của đợt " + periodName + " sẽ bị thay đổi theo. Thầy cô có muốn cập nhật cấu hình và tính lại kết quả đánh giá của đợt không?";
                smas.confirm(message, function () {
                    $("#frmEdit input[type='submit']").click();
                },
                function () {
                    setTimeout("smas.closeDialog('editDialog')", 200);
                    $('#ConfirmAlertDialog').find('img').parent().css('text-align', 'left').css('width', '30%')
                });
                $('#ConfirmAlertDialog').find('img').parent().css('text-align', 'center').css('width', '20%')
            }
            else {
                $("#frmEdit input[type='submit']").click();
            }

        }
    }
</script>









