﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DOETExamPupilArea
@using SMAS.Web.Areas.DOETExamPupilArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@using System.Text.RegularExpressions
@using SMAS.Business.BusinessObject
@{
    List<DOETExamPupilBO> result = ViewData[DOETExamPupilConstants.LIST_EXAMPUPIL] as List<DOETExamPupilBO>;
}
<style type="text/css">
    #ViewErr .t-content {
        height: auto !important;
    }
</style>
@using (Ajax.BeginForm("SaveErrImport",
                       "DOETExamPupil",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveErrSuccess",
                           OnFailure = "SaveErrFail"
                       },
                       new { id = "frmExamPupilErr" }
                       ))
{

    @Html.AntiForgeryToken()
    @Html.ViettelHidden("hdfExaminationsID", 0)
    @Html.ViettelHidden("hdfExamGroupID", 0)
    @Html.ViettelHidden("hdfExamSubjectID", 0)
    @Html.ViettelHidden("hdfYearID", 0)
    @Html.ViettelHidden("hdfSchoolName", "")
    @Html.ViettelHidden("hdfSchoolCode", "")
    @Html.ViettelHidden("hdfFullName", "")
    <div id="ContentMarkErr">
        <div id="GridDataErr">
            @{
    var index = 1;
    Html.Telerik()
        .Grid(result)
        .Name("GridExamPupilError")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(p => p.PupilCode).Title("Mã HS").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(80);
            c.Bound(p => p.FullName).Title("Họ tên").HtmlAttributes(new { style = "text-align:left;word-wrap: break-word;" }).Width(130);
            c.Bound(p => p.BirthDay).Title("Ngày sinh").HtmlAttributes(new { style = "text-align:center" }).Format("{0:dd/MM/yyyy}").Width(100);
            c.Bound(p => p.SchoolCode).Title("Mã trường").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(100);
            c.Bound(p => p.ExamineeNumber).Title("SBD").HtmlAttributes(new { style = "text-align:center" }).Width(80);
            c.Bound(p => p.ExamRoomName).Title("Phòng thi").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;" }).Width(70);
            c.Bound(p => p.Location).Title("Địa điểm thi").HtmlAttributes(new { style = "text-align:left;word-wrap: break-word;" }).Width(200);
            c.Bound(p => p.DisplayMark).Title("Điểm").Format("{0:0.00}").HtmlAttributes(new { style = "text-align:center" }).Width(50);
            c.Template(@<text>
                <span style="color: red; text-align: left;">@Html.Raw(item.ErrorMessage)</span>
                </text>).HeaderTemplate("Mô tả").Width(150);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
         .Selectable()
         //.Pageable(p => p.Enabled(true).PageSize(DOETExamPupilConstants.PageSize))
        .Scrollable(o => o.Height("400px"))
       .Render();
            }
            <div style="text-align: center; margin-top: 5px;">
                <input type="submit" class="t-button " value="@Res.Get("Common_Button_ImportData")" onclick ="SetDataImport()" />
                <input type="button" id="btnClose" class="t-button " value="@Res.Get("Common_Button_Close")" onclick="smas.closeDialog('ViewErr')"/>
            </div>
        </div>
    </div>
    
}
<script type="text/javascript">
    function SaveErrSuccess(e) {
        smas.closeDialog('ViewErr');
        smas.alert({ Type: e.Type, Message: e.Message });
        $('#btnSearch').click();
    }
    function SaveErrFail(e) {
        smas.closeDialog('ViewErr');
        smas.alert({ Type: e.Type, Message: e.Message });
    }
    function SetDataImport() {
        var examinationsID = $('#frmSearchDTOExamPupil #cboExaminations').val();
        var examGroupID = $('#frmSearchDTOExamPupil #cboExamGroupID').val();
        var yearID = $('#frmSearchDTOExamPupil #cboYear').val();
        var subjectID = $('#frmSearchDTOExamPupil #cboSubjectID').val();
        var schoolName = $('#frmSearchDTOExamPupil #SchoolName').val();
        var schoolCode = $('#frmSearchDTOExamPupil #SchoolCode').val();
        var fullName = $('#frmSearchDTOExamPupil #PupilName').val();
        $('#frmExamPupilErr #hdfExaminationsID').val(examinationsID);
        $('#frmExamPupilErr #hdfExamGroupID').val(examGroupID);
        $('#frmExamPupilErr #hdfExamSubjectID').val(subjectID);
        $('#frmExamPupilErr #hdfYearID').val(yearID);
        $('#frmExamPupilErr #hdfSchoolName').val(schoolName);
        $('#frmExamPupilErr #hdfSchoolCode').val(schoolCode);
        $('#frmExamPupilErr #hdfFullName').val(fullName);
    }
</script>
