﻿@using SMAS.Web.Utils
@{    
    GlobalInfo globalInfo = new GlobalInfo();  
    ViewBag.Title = SMAS.Web.Utils.Res.Get("DataImport_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="contentImport">
    <div class="ContentSectionBtm">
        <div class="GroupContentSection">
                <!--Tiêu đề menu trái-->
                <div class="SideBarTopMenu">
                    <div class="SideBarBtmMenu">
                        <div class="SideBarLoopMenu">
                            <ul class="ResetList SideBarListMenu">
                                <li><a href="/ImportTeacherArea/ImportTeacher/index?Tab=1&Pro=1">Import hồ sơ cán bộ</a></li>
                                <li><a href="/ImportClassArea/ImportClass/index?Tab=1&Pro=2">Import lớp học</a></li>
                                @if (globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
                                {
                                    <li><a href="/ImportChildrenArea/ImportChildren/index?Tab=1&Pro=3">Import hồ sơ trẻ</a></li>
                                }
                                else
                                {
                                    <li><a href="/ImportPupilArea/ImportPupil/index?Tab=1&Pro=3">Import học sinh</a></li>
                                }
                                 @if (globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
                                 {
                               
                                 }
                                else
                                {
                                    if (globalInfo.ProductVersionID == SMAS.Business.Common.GlobalConstants.PRODUCT_VERSION_ID_ADVANCE || globalInfo.ProductVersionID == SMAS.Business.Common.GlobalConstants.PRODUCT_VERSION_ID_FULL)
                                    {
                                      <li><a href="/ImportClassSubjectAndTeacherArea/ImportClassSubjectAndTeacher/index?Tab=1&Pro=4">Import phân công giảng dạy</a></li>  
                                    }
                                }
                                @if (globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY
                                    || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_SECONDARY
                                    || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_TERTIARY)
                                {
                                    <li><a href="/ImportFromOtherSystemArea/ImportFromOtherSystem/index?Tab=1&Pro=5">Import dữ liệu từ hệ thống khác</a></li>  
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Hết Tiêu đề menu trái-->
                <div class="MainContentSectionRight">
                    <div class="">
                        <div class="ContentSectionSmallBtm">
                            <div class="ContentSectionSmallLoop ContentSectionSmallLoop2">
                                <div class="ContentForm">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        var pro = GetURLParameter("Pro");
        if (pro != null && pro != undefined) {
            var index = 0;
            $(".SideBarListMenu li a").each(function () {
                index++;
                $(this).removeClass("Active");
                if (pro == index) {
                    $(this).addClass("Active");
                    if (pro == 1)
                    {
                        $(".Breadcrum .BreadcrumList .EndItem span").addClass("Sprite1");

                        var objLi = "<li class='EndItem'><span>" + $(".SideBarListMenu li a").first().html() + "</span></li>";
                        $(".Breadcrum .BreadcrumList").append(objLi);
                    }
                } 
            });
        } else {
            $(".SideBarListMenu li a").first().addClass("Active");

            $(".Breadcrum .BreadcrumList .EndItem span").addClass("Sprite1");

            var objLi = "<li class='EndItem'><span>" + $(".SideBarListMenu li a").first().html() + "</span></li>";
            $(".Breadcrum .BreadcrumList").append(objLi);
        }
        //fix loi import het session
        setTimeout(function () {
            var object = $("input[type=button][value=Import]");
            if (object.length > 0) {
                if ($(object).attr("onclick").toString().indexOf(";smas.checkSessionAjax();") == -1) {
                    $(object).attr("onclick", "smas.checkSessionAjax();" + $("#btImport").attr("onclick"));
                }
            }
        }, 500);
    });
</script>