﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportClassSubjectAndTeacherArea.Models
@using SMAS.Web.Areas.ImportClassSubjectAndTeacherArea
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 import-page import-subject-teacher">
    <div class="vt-SearchPanel-Title f-16"><span class="icon icon-search-file"></span>@Res.Get("ClassSubject_Label_ImportClassSubject") <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span></div>
    @Html.Partial("_ErrorMessage")
    <div class="vt-SearchPanel-Content bottom-border-radius">
        <div class="row">
            <div class="col-md-3 col-sm-5 text-right lable">            
                @Html.Raw(Res.Get("ImportClass_Label_ExcelFilePath"))<span class="text-danger"> * </span>
            </div>
            <div class="col-md-6 col-sm-7 file-select">
                <input type="text" id="noFileSelect" value="@Res.Get("Common_Label_NoFileSelect")" class="truncate bg-light" disabled="disabled" />
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-offset-5 col-sm-7 file-upload">
                <button type="button" class="btn btn-success btn-icon btn-icon-folder" onclick="$('#attachments').click();">Chọn file</button>
            </div>
        </div>
        <div class="hidden">
            @(Html.Telerik().Upload()
                                .Name("attachments")
                                .HtmlAttributes(new { @class = "btnUploaderCss" })
                                .ShowFileList(false)
                                .Multiple(false)
                                .Async(async => async
                                .Save("ImportExcel", "ImportClassSubjectAndTeacher")
                                .AutoUpload(false)
                                 ).ClientEvents(events => events
                                .OnSelect("OnSelectImport")
                                .OnUpload("OnImportUpload")
                                .OnSuccess("OnImportSuccess")
                                .OnError("OnImportError")
                                .OnLoad("OnImportLoad")
                            )
            )
        </div>
        <div class="row mg-t-5">
            <div class="col-md-offset-3 col-sm-offset-5 col-sm-8">
                <form id="frmDownloadFile" action='@Url.Action("DownloadFileTemplate", "ImportClassSubjectAndTeacher")' method="post">
                    @Html.ViettelButton(Res.Get("DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btDowloadfile" }, { "style", "" } }, "submit", "", "btn btn-info btn-icon btn-icon-upload btn-round")
                </form>
                <div class="pull-left">
                    @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled btn btn-primary btn-round")
                </div>

            </div>
        </div>
        @*<div class="CssPaddingLink" style="text-align: center; font-size: 12px;">
            @Html.ViettelActionLink(Res.Get("ClassSubject_Label_DataTemplateImport"), "", "", null, new { id = "DataTemplateImport" })
        </div>

        <div class="CssPaddingLink" style="text-align: center; font-size: 12px;">
            @Html.ViettelActionLink(Res.Get("ClassSubject_Label_EmptyTemplateImport"), "", "", null, new { id = "EmptyTemplateImport" })
        </div>*@
    </div>
</div>


<script type="text/javascript">
    var error = false;
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('Chọn tệp tin').attr("style", "text-align:center");
        // $(".btnUploaderCss .t-upload-button").removeClass('t-button t-upload-button')
    });
    var _intervalId;
    function OnImportLoad(e) {
        var isPermiss = '@ViewData[ImportClassSubjectAndTeacherConstants.IS_PERMISSION]';
        if (isPermiss == "True") {
            $("#attachments").data("tUpload").enable();
        } else {
            $("#attachments").data("tUpload").disable();
        }
    }

    function OnSelectImport(e) {
        var files = e.files;
        _intervalId = setInterval("hideUploadButton();", 10);
        $('#noFileSelect').val(files[0].name);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize <= 1024) {
                        return true;
                    }
                    alert("Dung lượng file excel không được lớn hơn 1MB");
                    error = true;
                    smas.hideProcessingDialog();
                    e.preventDefault();
                    return false;
                }
            } else {
                alert("File không đúng định dạng");
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    $("#Cancel").bind("click", (function () {
        $('#btImport').attr("disabled", true)
        $("#btImport").addClass("t-state-disabled");
        formUtils.resetClassForm("MainContentSectionRight");
    }));
    function OnImportSuccess(e) {
        $('#btImport').attr("disabled", true)
        $("#btImport").addClass("t-state-disabled");
        
        smas.hideProcessingDialog();

        if (e.response.Type == "grid") {
            formUtils.resetForm("ChooseActionDialog");
            $("#frmImport").html(e.response.Message);
            //setTimeout("smas.openDialog(\"ChooseActionDialog\", \"\", {})", 500);
            // smas.openDialog("ChooseActionDialog", "", {});
            setTimeout(function() { 
                smas.openDialog("ChooseActionDialog", "", {});
                $("#ChooseActionDialog .t-content").scrollTop(0);
            }, 500); 
        }
        else if (e.response.Type == "require") {
            smas.confirm('@Html.Raw(Res.Get("ImportClassSubject_Confirm_ChangeIsCommenting"))', function () {
                $.ajax({
                    url: '@Url.Action("SaveLegalDataImport", "ImportClassSubjectAndTeacher")',
                    type: 'post',
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == "success") {
                            smas.alert(msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            });
        }
        else if (e.response.Type == "errortemplate") {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
            $('#pnImportErrorTitle').html(e.response.Message);
        }
        else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
            $('#noFileSelect').val('Không có tệp tin nào được chọn');
            smas.alert(e.response.Message);
            $('#pnImportErrorTitle').hide();
        }
}
function OnImportError(e) {
    smas.hideProcessingDialog();
    smas.alert(e);
    $('#btImport').attr('disabled');
    $('#btImport').addClass('t-state-disabled');
}

$('#DataTemplateImport').click(function () {
    var downloadUrl = '@Url.Action("DownloadTemplateReportWithData", "ImportClassSubjectAndTeacher")';
        window.open(downloadUrl);
        return false; // to cancel the default action of the link
    });
        $('#EmptyTemplateImport').click(function () {
            var downloadUrl = '@Url.Action("DownloadEmptyTemplateReport", "ImportClassSubjectAndTeacher")';
            window.open(downloadUrl);
            return false; // to cancel the default action of the link
        });
</script>
