﻿@model ImportClassSubjectAndTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportClassSubjectAndTeacherArea.Models
@using SMAS.Web.Areas.ImportClassSubjectAndTeacherArea
@using SMAS.Business.Common
<form id="frmImport">
<style type="text/css">
   #GridImportData td{padding:0}.t-grid .t-status{display:none}.t-grid-pager{height:20px}
</style>
<style type="text/css">
    #GridImportData .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
<input type="hidden" runat="server"  id="hdnPos"/>
  @{
      var temp = (string)ViewData[ImportClassSubjectAndTeacherConstants.ERROR_IMPORT_DATA_IN_GRID];
            <div id="pnImportErrorTitle">
                <p style="text-align: center;color:Red">@Html.Raw(temp)</p>
            </div>
    }
<fieldset style ="border:0px !important;">
    <div id="GridImportData">
        @{
            var index = 1;

            Html.Telerik()
                .Grid((IEnumerable<ImportClassSubjectAndTeacherViewModel>)ViewData[ImportClassSubjectAndTeacherConstants.LIST_IMPORTDATA])
                .Name("GridImportData")
                .Columns(c =>
                {
                    //-----------STT----------------
                    c.Template(@<text>
            @(index++)
            </text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(35);

                    //--------------ma gv,ten gv,to bo mon, pcgd HKI, pcgd HKII--------------        
                    c.Template(o => SMAS.Web.Utils.Utils.AutoInsertSpace(o.TeacherCode, 10, 1)).HeaderTemplate(Res.Get("Mã giáo viên")).Width(100);
                    c.Bound(o => o.TeacherName).Width(100).Title(Res.Get("Họ và tên <br/> giáo viên"));
                    c.Bound(o => o.FacultyName).Width(80).Title(Res.Get("Tổ bộ môn"));
                    c.Bound(o => o.AssginSemesterI).Width(120).Title("Phân công <br/> giảng dạy HKI").HtmlAttributes(new { style = "word-wrap: break-word" });
                    c.Bound(o => o.AssignSemesterII).Width(120).Title("Phân công <br/> giảng dạy HKII").HtmlAttributes(new { style = "word-wrap: break-word" });                  

                    //---------hop le----------
                    c.Bound(o => o.isLegal).Title(Res.Get("JudgeRecord_Label_IsLegal")).HtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(60); ;
                    //--------mieu ta loi-----------
                    c.Template(@<text>
            <table cellspacing="0" class="data-header">
                @Html.Raw(item.ErrorDescription)
            </table>
            </text>).Title(Res.Get("JudgeRecord_Label_ErrorDescription")).HeaderHtmlAttributes(new { style = "text-align:center;font-weight:bold" }).Width(260);
                    //------------------------------
                })
                .DataBinding(b =>
                    b.Ajax().OperationMode(GridOperationMode.Client)
                 )
                .DataKeys(keys => keys.Add(o => o.ClassSubjectID))
                //.Sortable()
                .Editable(editing => editing.Mode(GridEditMode.PopUp))
                .Selectable()
                .Scrollable(u => u.Height("auto"))
                .Render();
        }
    </div>
</fieldset>
<div style ="text-align: center">
    @Html.AntiForgeryToken()
    @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "ajaxImportLegalData()", "")
    @Html.ViettelButton(Res.Get("Common_Label_Close"), "button", "CloseChooseAction()", "")    
</div>
</form>


<script type="text/javascript">
    $('document').ready(function () {
        $("#ChooseActionDialog .t-content").scrollTop(0);
    });

    function CloseChooseAction() {
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.closeDialog("ChooseActionDialog");
    }

    function ajaxImportLegalData() {
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            url: '@Url.Action("ImportLegalData", "ImportClassSubjectAndTeacher")',
            type: 'post',
            data: { __RequestVerificationToken: token },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                if (msg.Type == "success") {
                    smas.alert(msg);
                    smas.hideProcessingDialog();
                    smas.closeDialog("ChooseActionDialog");                   
                }
                else if (msg.Type == "require") {
                    smas.hideProcessingDialog();
                    smas.confirm('@Html.Raw(Res.Get("ImportClassSubject_Confirm_ChangeIsCommenting"))', function () {

                        $.ajax({
                            url: '@Url.Action("SaveLegalDataImport", "ImportClassSubjectAndTeacher")',
                    type: 'post',
                    data: { __RequestVerificationToken: token },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == "success") {
                            smas.alert(msg);                            
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                            }
                        })
                    });
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }  

</script>
