﻿<style>
    .ListOption {
        margin-left:10px;
    }
    .ListOver {
        border:1px solid #808080;
        padding:5px;
    }
    .ListSubjectClass, .ClassAllClass {
       border:1px solid #808080;
        padding:5px;
    }
</style>
<div class="ListOver">
    <div class="ListOption">
        <label class="custom-radio-button">
            <input id="RadFirstExportOption" name="RadOptionExport" type="radio" value="1" checked="checked" onchange="SelectOptionExport(this)" /> Sổ điểm môn <span class="SubjectNamePopup"></span> của lớp <span class="ClassNamePopup"></span>.<br />
            <span class="checkmark"></span>
        </label>
        <label class="custom-radio-button">
            <input name="RadOptionExport" type="radio" value="2" onchange="SelectOptionExport(this)" /> Sổ điểm các môn học của lớp <span class="ClassNamePopup"></span>.<br />
            <span class="checkmark"></span>
        </label>
        <label class="custom-radio-button">
            <input name="RadOptionExport" type="radio" value="3" onchange="SelectOptionExport(this)"  /> Sổ điểm môn <span class="SubjectNamePopup"></span> của tất cả các lớp.<br />
            <span class="checkmark"></span>
        </label>
    </div>
    <div id="OptionSubject" style="margin-top:10px;margin-left:10px;display:none">Lựa chọn môn học:  <label class="custom-checkbox"><input type="checkbox" id="chckAllSubject" onchange="CheckAllSubject()"/> Tất cả <span class="checkmark"></span></label></div>
    <div class="ListOption ListSubjectClass" id="SubjectByClass" style="display:none" ></div>

    <div id="OptionClass" style="margin-top:10px;margin-left:10px;display:none">Lựa chọn lớp học:  <label class="custom-checkbox"> <input type="checkbox" id="chckAllClass" onchange="CheckAllClass()" /> Tất cả <span class="checkmark"></span></label></div>
    <div class="ListOption ClassAllClass " id="ListAllClass" style="display:none"></div>
   <div style="text-align: center;margin-top:10px">
        <input id="btnExportMark" class="t-button btn btn-info btn-icon btn-round btn-icon-excel" type="button" onclick="return exportReport()" value="Xuất Excel">
     @*   <input id="btnCloseExportMark" class="t-button " type="button" onclick="CloseExportReport()" value="Đóng">*@
   </div>
</div>

<div style="display:none">
    <input type="hidden" id="ArrSubjectID" value="" />
    <input type="hidden" id="ArrClassID" value="" />
</div>