﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.BookRecordArea
@using SMAS.Business.Common;
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@{
    int TypeReport = ViewData["TypeReport"] != null ? (int)ViewData["TypeReport"] : 0;
}
<style>
    #GridDataImport .vt-control {
        width:33% !important;
    }
</style>
<div>
    <span id ="lblText"></span>
    <input type="checkbox" id="chkAllPeriod" onclick="OnClickAllPeriod()" />
    Tất cả
</div>
@using (Ajax.BeginForm("SaveImportFile", "MarkRecord",new {area ="MarkRecordArea"},                           
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnSuccess = "ImportSuccess",
                               OnFailure = "CreateFail",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmImportPRIOD" }))
{
    @Html.AntiForgeryToken()
<div id ="ListAllClass" class="vt-EditorPanel-Control" style="border: 1px solid #000000; padding: 10px;">
    <div id ="input"></div>
    <input type="hidden" id="ArrSubjectPeriodID" name ="arrSubjectID" value="" />
    <input type="hidden" id="ArrClassPeriodID" name ="arrClassID" value="" />

    @{
        if (TypeReport == 2)
        {
            List<SubjectCatBO> lstSubjectCat = ViewData[BookRecordConstants.LIST_SUBJECT] as List<SubjectCatBO>;
            SubjectCatBO objSCBO = null;
            if (lstSubjectCat != null)
            {
                for (int i = 0; i < lstSubjectCat.Count; i++)
                {
                    objSCBO = lstSubjectCat[i];
        @Html.ViettelCheckBox("", objSCBO.SubjectCatID, new Dictionary<string, object> { { "id", "SubjectID_" + objSCBO.SubjectCatID }, { "class", "listcheck" }, { "onclick", "OnClickCheckbox()" } }, objSCBO.DisplayName, false, false, true)
                }
            }
        }
        else
        {
            List<ClassProfileTempBO> lstClassProfile = ViewData[BookRecordConstants.LIST_CLASS] as List<ClassProfileTempBO>;
            ClassProfileTempBO objClass = null;
            if (lstClassProfile != null)
            {
                for (int i = 0; i < lstClassProfile.Count; i++)
                {
                    objClass = lstClassProfile[i];
                    <span class="ClassListClassOption editor-field">
                        <input type ="checkbox" id ='@("ClassProfileID_" + objClass.ClassProfileID)' value ="@objClass.ClassProfileID" class ="ClassExport" onclick ="OnClickCheckbox()" />
                        <span>@objClass.DisplayName</span>
                    </span>
                }
            }
        }
                        
    }
</div>
<div style="text-align: center; padding-top: 3px;">
        @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "id", "btIP" } }, "button", "OnImportData()","t-button")
        <input type ="submit" id ="btnSavaImport" style ="display:none;" />
</div>
}
<script>
    var chk = true;
    $(document).ready(function () {
        if ('@TypeReport' == 2) {
            $('#GridDataImport #lblText').html('Lựa chọn môn học: ')
        }
        else if ('@TypeReport' == 3) {
            $('#GridDataImport #lblText').html('Lựa chọn lớp học: ')
        }
    });
    function OnClickCheckbox() {
        var checked = false;
        var strID = "";
        var count = 0;
        var chklength = 0;
        if ('@TypeReport' == 2) {
            $('#GridDataImport').find('input[id^="SubjectID"]').each(function () {
                checked = $(this).is(':checked');
                if (checked) {
                    strID += $(this).attr('value') + ",";
                    count++;
                }
            });
            $('#GridDataImport #ArrSubjectPeriodID').val(strID);
            chklength = $('#GridDataImport').find('input[id^="SubjectID"]').length;
            if (chklength == count) {
                $('#GridDataImport #chkAllPeriod').attr('checked', 'checked');
            }
            else {
                $('#GridDataImport #chkAllPeriod').removeAttr('checked', 'checked');
            }
        }
        else {
            $('#GridDataImport').find('input[id^="ClassProfileID"]').each(function () {
                checked = $(this).is(':checked');
                if (checked) {
                    strID += $(this).attr('value') + ",";
                    count++;
                }
            });
            $('#GridDataImport #ArrClassPeriodID').val(strID);
            chklength = $('#GridDataImport').find('input[id^="ClassProfileID"]').length;
            if (chklength == count) {
                $('#GridDataImport #chkAllPeriod').attr('checked', 'checked');
            }
            else {
                $('#GridDataImport #chkAllPeriod').removeAttr('checked', 'checked');
            }
        }
        if (strID.length == '0' || strID == '') {
            chk = true;
        }
        else {
            chk = false;
        }
    }
    function OnClickAllPeriod() {
        var strID = "";
        if ($('#GridDataImport #chkAllPeriod').is(':checked')) {
            if ('@TypeReport' == 2) {
                $('#GridDataImport').find('input[id^="SubjectID"]').each(function () {
                    strID += $(this).attr('value') + ",";
                });
                $('#CheckImportFile #ArrSubjectPeriodID').val(strID);
                $('#GridDataImport').find('input[id^="SubjectID"]').attr('checked', 'checked');
            }
            else {
                $('#GridDataImport').find('input[id^="ClassProfileID"]').each(function () {
                    strID += $(this).attr('value') + ",";
                });
                $('#CheckImportFile #ArrClassPeriodID').val(strID);
                $('#GridDataImport').find('input[id^="ClassProfileID"]').attr('checked', 'checked');
            }
            chk = false;
        }
        else {
            if ('@TypeReport' == 2) {
                $('#GridDataImport').find('input[id^="SubjectID"]').removeAttr('checked', 'checked');
                $('#CheckImportFile #ArrSubjectPeriodID').val('');

            }
            else {
                $('#GridDataImport').find('input[id^="ClassProfileID"]').removeAttr('checked', 'checked');
                $('#CheckImportFile #ArrClassPeriodID').val('');
            }
            chk = true;
        }
    }
    function OnImportData() {
        if (chk) {
            if ('@TypeReport' == 2) {
                smas.alertColor('Thầy cô cần chọn môn để thực hiện import', 'red')
            }
            else {
                smas.alertColor('Thầy cô cần chọn lớp để thực hiện import', 'red')
            }
            
        }
        else {
            $('#frmImportPRIOD #input').html($('#HiddenPanel').html())
            //var arrSubjectID = $('#ArrSubjectPeriodID').val();
            //var arrClassID = $('#ArrClassPeriodID').val();
            //$('#frmImportPRIOD #ArrSubjectPeriodID').val(arrSubjectID);
            //$('#frmImportPRIOD #ArrClassPeriodID').val(arrClassID);
            $('#frmImportPRIOD #btnSavaImport').click();
            $('#ArrClassID').val('');
        }
    }
    function ImportSuccess(e)
    {
        smas.hideProcessingDialog();
        smas.closeDialog("CheckImportFile");
        if (e.Type == "grid") {
            smas.openDialog("ViewErrorImportMark", "", {});
            $("#ErrorImportMark").html(e.Message);
        }
        else {
            smas.alert(e.Message);
            setTimeout('AjaxLoadGrid();', 200);
        }
        formUtils.resetForm("ImportExcelPriod");
        $('#btImportPeriod').attr('disabled', 'disabled');
        $('#btImportPeriod').addClass('t-state-disabled');
        $('#txtFilePathPeriod').val('');
    }
    function CreateFail(e)
    {
        smas.alert(e.Message);
        smas.hideProcessingDialog();
    }
</script>
