﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}

<style>
    .ListOptionImport {
        margin-left:10px;
    }
    .ListOverImport {
        border:1px solid #808080;
        padding:5px;
    }
    .ListSubjectClassImport, .ClassAllClassImport {
       border:1px solid #808080;
        padding:5px;
    }
</style>
<div class="ListOverImport">  
    <div id="OptionSubjectImport" style="margin-top:10px;margin-left:10px;display:none">Lựa chọn môn học:  <input type="checkbox" id="chckAllSubjectImport" onchange="CheckAllSubjectImport()"/> Tất cả </div>
    <div class="ListOptionImport ListSubjectClassImport" id="SubjectByClassImport" style="display:none" ></div>

    <div id="OptionClassImport" style="margin-top:10px;margin-left:10px;display:none">Lựa chọn lớp học:  <input type="checkbox" id="chckAllClassImport" onchange="CheckAllClassImport()" /> Tất cả </div>
    <div class="ListOptionImport ClassAllClassImport" id="ListAllClassImport" style="display:none"></div>   

    <div style="text-align:center;padding-top:3px;">
  @*       <input id="btnCloseImportMark" class="t-button " type="button" onclick="closePopupOptionImport()" value="Đóng">    *@    
         <input id="btnImportMark" class="t-button " type="button" onclick="ImportSemester()" value="Import">        
    </div>
</div>
<div style="display:none">
    <input type="hidden" id="ArrSubjectIDImport" value="" />
    <input type="hidden" id="ArrClassIDImport" value="" />
    <input type="hidden" id="TypeImport" value="" />
</div>        
   
