﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.BookRecordArea
@{
    IEnumerable<ClassProfile> listClass = ViewData[BookRecordConstants.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    ClassProfile cp = (ClassProfile)ViewData["ClassProfile"];
    int ClassID = 0;
    int EducationLevelID = 0;
    
    if (cp!=null)
    {
        ClassID = cp.ClassProfileID;
        EducationLevelID = cp.EducationLevelID;
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ClassID'!= '0') {
            $("#HiddenPanel #ClassID").val('@ClassID');
        }
        if ('@EducationLevelID' != '0') {
            $("#HiddenPanel #EducationLevelID").val('@EducationLevelID');
        }
    });
    function treeView() {
        return $('#TreeClassForBookRecord').data('tTreeView');
    }
    function selectClassForBookRecord(e) {
        clearAllIntervals();
        var strtext = "@Res.Get("ConfirmAlert_BookMarkRecord")";
        if (smas.isCheckedChange) {
            Load(e);
        }
        else {
            if (smas.isChange) {
                confirmYesNo(strtext, function () {
                    var subjectID = $('#ListSubject').find('.Active').attr('value');
                    var isCommenting = $('#SubjectPanel').find('#' + subjectID + '').val();
                    var isCboChecked = $('#divcboPeriodid #cboPeriod').is(':enabled');
                    if (isCommenting == '1') {
                        if (isCboChecked) {
                            $('#frmCreateMarkRecordPeriod #btnSave').click();
                        }
                        else {
                            CreateMarkRecord();
                        }
                    }
                    else if (isCommenting == '2') {
                        if (isCboChecked) {
                            AddNewJudgeRecord();
                        }
                        else {
                            AddNewJudgeSemesterRecord();
                        }
                    }
                    Load(e);
                }, function () {
                    Load(e);
                })
                smas.isChange = false;
            }
            else {
                Load(e);
            }
        }
    }
    function Load(e)
    {
        $("#list").html("");//clear list truoc khi load du lieu moi
        smas.showProcessingDialog();
        var item = $(e.item);

        var objectChild = $(item).find('ul');
        if (!$(item).next().hasClass('t-group') && objectChild.length == 0) {
            $('#HiddenPanel #ClassIDOld').val($('#HiddenPanel #ClassID').val());
            $('#HiddenPanel #ClassID').val(treeView().getItemValue(item));
            $('#HiddenPanel #EducationLevelID').val($(item).closest('ul').prev().find(".t-input").val());
            var SubjectIDOld = $("#HiddenPanel #SubjectID").val();
        } else {
            $('#HiddenPanel #ClassID').val('');
            $("#SubjectPanel").html("");
        }
        //ReLoadData();
        AjaxLoadGrid();
        //ReloadMenu();
        setTimeout(function () {
            if (SubjectIDOld != 0) {
                var subjectHas = $("#ListSubject a[value=" + SubjectIDOld + "]");
                if (subjectHas != null && subjectHas != 'undefined' && subjectHas.length > 0) {
                    // todo: haivt9 review code, co the xay ra bat dong bo voi ham AjaxLoadGrid -> sai subjectID -> fix comment lai                    
                    $("#HiddenPanel #SubjectID").val(SubjectIDOld);

                    //AjaxLoadGrid();
                } else {
                    smas.hideProcessingDialog();
                    $("#HiddenPanel #SubjectID").val("0");
                    $("#list").html("");
                }
            }
        }, 1000);
    }
</script>


<div>
    @if (listEducation != null && listEducation.Count > 0 && cp != null)
    {
        @(Html.Telerik().TreeView()
        .Name("TreeClassForBookRecord")
        .Items(item =>
        {
            foreach (EducationLevel EducationLevel in listEducation)
            {
                var expanded = EducationLevel.EducationLevelID == cp.EducationLevelID;
                item.Add()
                    .Text(EducationLevel.Resolution)
                    .Value(EducationLevel.EducationLevelID.ToString())
                    .HtmlAttributes(new { style = "" })
                    .Items(child =>
                    {
                        var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
                        if (listClassChild != null && listClassChild.Count() > 0)
                        {
                            foreach (ClassProfile cl in listClassChild)
                            {
                                var selected = cl.ClassProfileID == cp.ClassProfileID;
                                child.Add()
                                    .Text(cl.DisplayName)
                                    .Value(cl.ClassProfileID.ToString()).Selected(selected)
                                    ;
                            }
                        }
                    })
                    .Expanded(expanded);
            }
        })
        .ClientEvents(events=>events.OnSelect("selectClassForBookRecord"))
        );
    }
    else
    {
        @Res.Get("BookRecord_Error_NoClass");
    }
</div>


<div id="ListClassOption" style="display:none">
    @{
        foreach (EducationLevel EducationLevel in listEducation)
        {
            var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
            if (listClassChild != null && listClassChild.Count() > 0)
            {
                <div id='@("EducationLevel_" + EducationLevel.EducationLevelID)'>
                    @{
                        foreach (ClassProfile cl in listClassChild)
                        {
                             <span class="ClassListClassOption editor-field">
                                 <label class="custom-checkbox p-r-0" style="padding-left:15px">
                              <input type="checkbox" onchange="changeClasExport()" class="ClassExport" name='@("OptionClass_" + cl.ClassProfileID)' value="@cl.ClassProfileID" /> @cl.DisplayName
                             <span class="checkmark"></span>
                            </label>
                             </span>
                        }
                     }
                </div>
            }
        }
    }
</div>



