﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DownloadFileTemplateArea
@{
    ViewBag.Title = Res.Get("DownloadFileTemplate_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #btnDowloadfile {
        padding: 7px 10px 8px 40px;
        background-position-y: 5px!important;
}
</style>

<div id ="frmDownloadFileTemplate">
<fieldset>
    <legend>Thông tin file mẫu</legend>
    <div class="row">
            <form id="frmDownloadFile" class="text-center" action='@Url.Action("DownloadFileTemplate", "DownloadFileTemplate")' method="post">
            @Html.ViettelButton(Res.Get("DownloadFileTemplate"), new Dictionary<string, object>() { { "id", "btnDowloadfile" } }, "submit", "", "btn btn-info ntn-round btn-icon btn-icon-upload")
        </form>      
    </div>
 </fieldset>
</div>