﻿@model List<ExamGroupViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamGroupArea
@using SMAS.Web.Areas.ExamGroupArea.Models

@{   
    bool checkCreate = (bool)ViewData[ExamGroupConstants.PER_CHECK_CREATE];
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
        @*@{
             @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", !checkCreate)
         }
            *@
            <input type="button" value="Thêm mới" onclick="PrepareCreate();" class="btn btn-info btn-icon btn-round btn-icon-plus"/>
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("GridExamGroup")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Bound(o => o.ExamGroupCode).Sortable(false).HtmlAttributes(new { style = "text-align:center" }).Width(200);
                c.Bound(o => o.ExamGroupName).Sortable(false);
                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "ExamGroup")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" })
                       ;
                }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { style = "text-align:center" }).Width(100);

                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "ExamGroup")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });
                }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { style = "text-align:center" }).Width(70);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "ExamGroup")
             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .RowAction(row =>
            {
                row.HtmlAttributes["class"] = "";
                if (row.DataItem.checkEdit == false)
                {
                    row.HtmlAttributes["class"] = "notEdit";
                }
                
                if (row.DataItem.checkDelete == false)
                {
                    row.HtmlAttributes["class"] = row.HtmlAttributes["class"].ToString()+ " " +"notDelete";
                }
            })
            .DataKeys(keys => keys.Add(o => o.ExamGroupID))
            .Sortable().Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(350))
            .Render();
                      
    }
</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridExamGroup').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            var examinationsID = $("#frmSearch").find('[name="examinationsID"]').val();
            $("#editDialog").find('[name="tempExaminationsID"]').val(examinationsID).prop('disabled', 'disabled');
            $("#editDialog").find('[name="ExaminationsID"]').val(examinationsID);
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("ExamGroup_Message_DeleteConfirm"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.ExamGroupID }, search, null);
            })
        }
    }

    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        var examinationsID = $("#frmSearch").find('[name="examinationsID"]').val();
        $("#createDialog").find('[name="tempExaminationsID"]').val(examinationsID).prop('disabled', 'disabled');
        $("#createDialog").find('[name="ExaminationsID"]').val(examinationsID)
        smas.openDialog("createDialog", "", {});
    }

    $(document).ready(function () {
        $(".notEdit").find(".t-grid-vtEdit").remove();
        $(".notDelete").find(".t-grid-vtDelete").remove();
    });

</script>
