﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.VnenClassSubjectArea
@using SMAS.Web.Areas.VnenClassSubjectArea.Models
@using SMAS.Business.Common
@{   
    bool isEnableButton = (bool)ViewData[VnenClassSubjectConstants.PER_CHECK_BUTTON];
    bool isCheckAll = false;
    int isVnenSubjectCount = Model.Where(o => o.IsVnenSubject == true).Count();
    if(isVnenSubjectCount == Model.Count)
    {
        isCheckAll = true;
    }
    string checkedAll = isCheckAll ? "checked" : String.Empty;
}
<div class="vt-ResultPanel">
    <div class="text-center mg-t-10 mg-b-10">
         @Html.ViettelButton(Res.Get("Common_Button_SchoolApplied"), "button", "saveSchool()", "btn btn-info btn-round")
        @Html.ViettelButton(Res.Get("Common_Button_LevelApplied"), "button", "saveEdu()","btn btn-info btn-round")
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "save()","btn btn-info btn-round btn-icon btn-icon-save")
    </div>
    @{

        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("Grid")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.SubjectName).Width(150);
                c.Bound(o => o.Abreviation).HtmlAttributes(new { style = "text-align:center" }).Width(80);
                c.Bound(o => o.StrAppliedType).HtmlAttributes(new { style = "text-align:center" }).Width(120);
                c.Bound(o => o.StrIsCommenting).HtmlAttributes(new { style = "text-align:center" }).Width(120);
                c.Bound(o => o.ClassSubjectID)
                    .Template(@<text>
                                @{
                                    string check = String.Empty;
                                    if(item.IsVnenSubject == true)
                                    {
                                        <label class="custom-checkbox no-padding">
                                        <input type='checkbox' class='checkedIds' checked="checked"/>
                                        <span class="checkmark"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox no-padding">
                                        <input type='checkbox' class='checkedIds'/>
                                        <span class="checkmark"></span>
                                        </label>
                                    }
                                    <input type="text" style="display:none" class="hdClassSubjectID" value="@item.ClassSubjectID" />
                                    <input type="text" style="display:none" class="hdSubjectID" value="@item.SubjectID" />
                                }
                            </text>).HeaderTemplate("<p style='margin-top:19px;margin-bottom: 4px;'>" + Res.Get("VnenClassSubject_Is_Vnen") + "</p><p style='text-align:center'><label class='custom-checkbox no-padding p-l-0'><input type='checkbox' id='chekAll' " + checkedAll + "/><span class='checkmark'></span></label></p>")
                    .HtmlAttributes(new { style = "text-align:center" }).Width(220);

            })
            .DataKeys(keys => keys.Add(o => o.ClassSubjectID))
            .Scrollable(u => u.Height(350))
            .Selectable()
            .Render();
            
    }
</div>
<script>
    function save() {
        var selectedArr = "";
        $('#Grid').find('.checkedIds:enabled:checked').each(function () {
            var val = $(this).closest("td").find(".hdClassSubjectID").val();
            selectedArr += val + ",";
        });

        var classID = $("#frmSearch").find("#ClassID").val();
        smas.post('@Url.Action("Save")', { selectedIDs: selectedArr, classID: classID }, search, null);

    };

    function saveEdu() {
        var selectedArr = "";
        var notSelectedArr = "";
        $('#Grid').find('.checkedIds:checked').each(function () {
            var val = $(this).closest("td").find(".hdSubjectID").val();
            selectedArr += val + ",";
        });

        $('#Grid').find('.checkedIds:not(:checked)').each(function () {
            var val = $(this).closest("td").find(".hdSubjectID").val();
            notSelectedArr += val + ",";
        });

        var educationLevelID = $("#frmSearch").find("#EducationLevelID").val();
        smas.post('@Url.Action("SaveEdu")', { selectedIDs: selectedArr, notSelectedIDs: notSelectedArr, educationLevelID: educationLevelID }, search, null);
    };

    function saveSchool() {
        var selectedArr = "";
        var notSelectedArr = "";
        $('#Grid').find('.checkedIds:checked').each(function () {
            var val = $(this).closest("td").find(".hdSubjectID").val();
            selectedArr += val + ",";
        });

        $('#Grid').find('.checkedIds:not(:checked)').each(function () {
            var val = $(this).closest("td").find(".hdSubjectID").val();
            notSelectedArr += val + ",";
        });

        smas.post('@Url.Action("SaveSchool")', { selectedIDs: selectedArr, notSelectedIDs: notSelectedArr}, search, null);
    };

    $("#Grid").find('#chekAll').click(function () {
        $(this).parents('#Grid').find(':checkbox').attr('checked', this.checked);

    });
    $("#Grid").find('.checkedIds').change(function () {

        //Kiem tra check/uncheck checkbox all

        if ($("#Grid").find(".checkedIds:not(:checked)").length == 0) {
            $('#Grid #chekAll').attr('checked', true);
        }
        else {
            $('#Grid #chekAll').attr('checked', false);
        }

    });
</script>
