﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.SummedUpEducationLevelNewArea
@using SMAS.Web.Constants
@{
    List<ViettelCheckboxList> listTab = ViewData[SummedUpEducationLevelNewConstants.LIST_TAB] as List<ViettelCheckboxList>;
    int appliedLevel = (int)ViewData[SummedUpEducationLevelNewConstants.LIST_APPLIEDLEVEL];
    SelectList lstPeriod = (SelectList)ViewData[SummedUpEducationLevelNewConstants.LIST_PERIOD];
}
<div class="row summed-up-education-level-new-page">
    <div class="col-sm-12 mg-b-20">
        @Html.ViettelListButtonStyle2("ListSemester", "0", new Dictionary<string, object>(), "javascript:ChoiceTab(this)", listTab, false)
    </div>
    <div class="col-md-3 col-sm-6">
        @(Html.ViettelCombobox(Res.Get("SummedUpEducationLevelNew_Label_EducationLevel"), "EducationLevel"
                                                        , ((IEnumerable<SelectListItem>)ViewData[SummedUpEducationLevelNewConstants.LIST_EDUCATIONLEVEL])
        , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE
                        , new Dictionary<string, object> { { "OnChange", "EducationLevelChange(this.options[this.selectedIndex].value);" } }
        , false, false))
    </div>
    <div class="col-md-3 col-sm-6">
        @(Html.ViettelCombobox(Res.Get("SummedUpEducationLevelNew_Label_Semester"), "Semester", ((IEnumerable<SelectListItem>)ViewData[SummedUpEducationLevelNewConstants.LIST_SEMESTER])
        , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER
        , new Dictionary<string, object> { { "OnChange", "LoadPeriod(this.options[this.selectedIndex].value);" } }
        , false, false))
    </div>
    <div class="col-md-3 col-sm-4 p-t-10 " id="checkboxid">
        @if (appliedLevel == 1)
        {
            @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "chkboxClick(this)" }, { "id", "chkPeriod" }, { "disabled", "" }, { "style", "display:none" } }, Res.Get("Tổng kết điểm theo đợt"), false, false, true)
        }
        else
        { 
            @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "chkboxClick(this)" }, { "id", "chkPeriod" } }, Res.Get("Tổng kết điểm theo đợt"), false, false, true)
        }
    </div>
    <div class="col-md-3 col-sm-6 period">
        @if (appliedLevel == 1)
        {
            @Html.ViettelCombobox("", "Period", (SelectList)ViewData[SummedUpEducationLevelNewConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "width:260px;display:none;" }, { "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
        }
        else
        { 
            @Html.ViettelCombobox("", "Period", (SelectList)ViewData[SummedUpEducationLevelNewConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() {{ "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#TabID').val(1);
        $("#SearchPanel").find("#ListSemester a:first").addClass("Active");
        if ($("#Period").find("option").length == 0) fn_HidePeriod();
    });

    function EducationLevelChange(educationLevel) {
        fn_LoadData();
    }

    function ChoiceTab(button) {
        controlUtils.ChangeStyleButton(button);

        $('#TabID').val($(button).attr('value'));

        if ($("#TabID").val() == 2) {
            fn_HidePeriod();

            if ($('#Semester').find("option[value='3']").length == 0) {
                $('#Semester').find("option").end().append($('<option value="3">Cả năm</option>'));
            }

            fn_LoadData();
        }
        else {
            if ($('#Semester').val() != 3) {
                fn_ShowPeriod();
            }
            LoadPeriod($('#Semester').val());
            fn_LoadData();
        }

        smas.hideProcessingDialog();
    }

    function chkboxClick() {
        if ($("#chkPeriod").is(":checked")) {
            $("#Period").removeAttr("disabled");
            $('#Semester').find("option[value='3']").remove();
            fn_LoadData();
        } else {
            $('#Semester').find("option[value='3']").remove();
            $('#Semester').find("option").end().append($('<option value="3">Cả năm</option>'));
            $("#Period").attr("disabled", "");
            fn_LoadData();
        }
    }

    function LoadPeriod(semester) {
        var tabId = $('#TabID').val();
        if (tabId == 1) {
            if (semester == 3) {
                fn_HidePeriod();
            } else {
                fn_ShowPeriod()
            }
        }
        controlUtils.loadComboBox(
            $("#Period"),
            '@Url.Action("LoadPeriod", "SummedUpEducationLevelNew")',
            { semester: semester },
            null, function () {
                if ($("#Period").find("option").length == 0)
                    fn_HidePeriod();
                fn_LoadData();
            }
        );
    }

    function fn_HidePeriod() {
        $("#Period").css("display", "none");
        $("#Period").parent().removeClass("custom-select");
        $("#checkboxid").css("display", "none");
        $("#checkboxid").removeAttr("checked");
    }

    function fn_ShowPeriod() {
        $("#Period").css("display", "");
        $("#Period").parent().addClass("custom-select");
        $("#checkboxid").css("display", "");
    }

    function onPeriod(element) {
        fn_LoadData();
    }

    function fn_LoadData() {
        $('#EducationLevelID').val($('#EducationLevel').val());
        $('#SemesterID').val($('#Semester').val());
        $('#PeriodID').val($('#Period').val());

        if ($("#chkPeriod").is(":checked") && $("#Semester").val() != 3) {
            fn_LoadSummedUpEducationPeriod();

        } else {
            fn_LoadSummedUpEducationSemester();
        }
    }

    function fn_LoadSummedUpEducationSemester() {
        var educationLevelID = $('#EducationLevelID').val();
        var tabID = $('#TabID').val();
        var semester = $('#SemesterID').val();
        if (semester == 3) {
            fn_HidePeriod();
        }
        var action = tabID == 1 ? "Search" : "SearchRanking";
        if (educationLevelID > 0 && semester > 0) {
            $.ajax({
                url: '/SummedUpRecordByEducationLevelArea/SummedUpRecordByEducationLevel/' + action,
                type: 'post',
                data: { EducationLevel: educationLevelID, Semester: semester },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#gridnew").html(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                },
                complete: function () {
                    smas.hideProcessingDialog();
                }
            });
        }
    }

    function fn_LoadSummedUpEducationPeriod() {
        var educationLevelID = $('#EducationLevelID').val();
        var tabID = $('#TabID').val();
        var periodID = $('#PeriodID').val();
        var semester = $('#SemesterID').val();
        if (tabID != 2 && educationLevelID > 0 && semester > 0 && periodID > 0) {
            $.ajax({
                url: '/SummedUpEducationLevelByPeriodArea/SummedUpEducationLevelByPeriod/SearchSummedUpRecord',
                type: 'post',
                data: { EducationLevel: educationLevelID, Semester: semester, Period: periodID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#gridnew").html(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                },
                complete: function () {
                    smas.hideProcessingDialog();
                }
            });
        }
        if (tabID == 2 && educationLevelID > 0 && semester > 0) {
            var action = "SearchRanking";
            $.ajax({
                url: '/SummedUpRecordByEducationLevelArea/SummedUpRecordByEducationLevel/' + action,
                type: 'post',
                data: { EducationLevel: educationLevelID, Semester: semester },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#gridnew").html(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                },
                complete: function () {
                    smas.hideProcessingDialog();
                }
            });
        }

    }

    function SumSuccess(msg) {
        smas.alert(msg.Message);        
        if (msg.Type == "success") {
            var bool = $("#chkPeriod").is(":checked");
            if (bool == false) {
                var tabID = $('#TabID').val();
                var action = tabID == 1 ? "Search" : "SearchRanking";
                $.ajax({
                    url: '/SummedUpRecordByEducationLevelArea/SummedUpRecordByEducationLevel/' + action,
                    type: 'post',
                    data: { EducationLevel: $('#EducationLevelID').val(), Semester: $('#Semester').val(), Period: $('#Period').val() },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $("#gridnew").html(msg);
                        smas.hideProcessingDialog();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }
            else {
                $.ajax({
                    url: '/SummedUpEducationLevelByPeriodArea/SummedUpEducationLevelByPeriod/SearchSummedUpRecord',
                    type: 'post',
                    data: { EducationLevel: $('#EducationLevelID').val(), Semester: $('#Semester').val(), Period: $('#Period').val() },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $("#gridnew").html(msg);
                        smas.hideProcessingDialog();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            }
        } else {
            smas.checkStatusThread(msg.Type, 2000, fn_LoadData);
        }
    }

    function SumFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function RankingFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
