﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@{
    ViewBag.Title = Res.Get("PupilRankingNew_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="summedup-education-level-new-page">
    <div id="hiddenPanel">
        @Html.ViettelHidden("ClassID", 0)
        @Html.ViettelHidden("TabID", 0)
        @Html.ViettelHidden("SemesterID", new GlobalInfo().Semester.Value)
        @Html.ViettelHidden("EducationLevelID", 0)
        @Html.ViettelHidden("PeriodID", 0)
    </div>
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div id="gridnew">
    </div>
</div>
