﻿@model SummedUpEducationLevelByPeriodViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedUpEducationLevelByPeriodArea.Models
@using SMAS.Web.Areas.SummedUpEducationLevelByPeriodArea
@using (Ajax.BeginForm("SummedUpRecord",
                       "SummedUpEducationLevelByPeriod",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SumSuccess",
                           OnFailure = "SumFail",
                       },
                       new { id = "frmSummedUpRecord" }
                       ))
{
        @Html.AntiForgeryToken()
    @Html.ViettelHiddenFor(o => o.EducationLevel2)
    @Html.ViettelHiddenFor(o => o.Semester2)
    @Html.ViettelHiddenFor(o => o.PeriodID2)
    <fieldset>
        <legend>@Res.Get("SummedUpEducationLevelByPeriod_Label_ClassList")</legend>
        @{
    var index = 1;
    var list = (IEnumerable<SummedUpEducationLevelByPeriodViewModel>)ViewData[SummedUpEducationLevelByPeriodConstants.LIST_SUMMEDUP];
    var totalcheck = 0;
    int CountList = 0;
    if (list != null)
    {
        totalcheck = list.Where(o => o.tick_checkbox && o.enable_checkbox).Count();
        CountList = list.Count();
    }
    Html.Telerik()
        .Grid(list)
        .Name("GridSummedUpRecord")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).HeaderTemplate(@<text><center>
                <b>@Res.Get("Common_Index_Number")</b></center></text>).Width(20);
            c.Template(@<text>@(item.ClassName)</text>).HeaderTemplate(@<text><center>
                <b>@Res.Get("SummedUpEducationLevelByPeriod_Label_ClassName")</b></center></text>);
            c.Template(@<text>@(item.SummedUpStatus)</text>).HeaderTemplate(@<text><center>
                <b>@Res.Get("SummedUpEducationLevelByPeriod_Label_Status")</b></center></text>);
            c.Template(@<text>@(item.Status == SMAS.Business.Common.SystemParamsInFile.STATUS_SUR_CLASS_COMPLETE ? item.ModDate : "")</text>).HeaderTemplate(@<text><center>
                <b>@Res.Get("SummedUpEducationLevelByPeriod_Label_LastSummedUp")</b></center></text>);
            c.Template(@<text>@(item.Status == SMAS.Business.Common.SystemParamsInFile.STATUS_SUR_CLASS_COMPLETE ? item.TotalSummedPupil : "")</text>).HeaderTemplate(@<text><center>
                <b>@Res.Get("SummedUpEducationLevelByPeriod_Label_TotalPupilSummedUp")</b></center></text>);
            c.Template(@<text><center>
                @{
                    if (item.tick_checkbox && item.enable_checkbox)
                    {
                        <label class="custom-checkbox">
                            <input name="@("Check_" + item.ClassID)"  class="chkStatus" type="checkbox"  checked="checked" onclick="CheckItem();"/>
                            <span class="checkmark"></span>
                        </label>
                    }
                    else if (!item.tick_checkbox && item.enable_checkbox)
                    {
                        <label class="custom-checkbox">
                            <input name="@("Check_" + item.ClassID)"  class="chkStatus" type="checkbox"  onclick="CheckItem();" />
                            <span class="checkmark"></span>
                        </label>
                    
                    }
                    else if (item.tick_checkbox && !item.enable_checkbox)
                    {
                        <label class="custom-checkbox">
                            <input name="@("Check_" + item.ClassID)" type="checkbox" checked="checked" disabled="disabled"  />
                            <span class="checkmark"></span>
                        </label>
                    }
                    else if (!item.tick_checkbox && !item.enable_checkbox)
                    {
                        <label class="custom-checkbox">
                            <input name="@("Check_" + item.ClassID)"   type="checkbox"  disabled="disabled"  />
                            <span class="checkmark"></span>
                        </label>
                    }
                }
            </center>
            </text>)
                .HeaderTemplate(@<text>
            <center>
                @if (CountList == totalcheck)
                {
                    <label class="custom-checkbox">
                        <input type="checkbox" value="true" name="chkAll" id="chkAll" checked="checked" onclick="CheckAll()" />
                        <span class="checkmark"></span>
                    </label>
                    
                }
                else
                {
                    <label class="custom-checkbox">
                        <input type="checkbox" value="true" name="chkAll" id="chkAll" onclick="CheckAll()" />
                        <span class="checkmark"></span>
                    </label>
                }
            </center>
            </text>).Width(100);

        })
        .DataKeys(keys => keys.Add(o => o.ClassID))
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
        }
        @if (CountList > 0)
        {
            <div class="dialog-buttons" id="BTNSummedUpRecord">
                @Html.ViettelButton(Res.Get("Common_Button_Sum"), "submit", "ChangeStatus();if(!validateUtils.validateForm('frmSummedUpRecord')) return false;", "btn btn-info btn-round", "btnSummedUp", "")
            </div>
        }
    </fieldset>
}
<script type="text/javascript">
    function ChangeStatus() {
        var tbody = $(".t-grid-header").next();
        $("tr", tbody).each(function () {
            var chk = $(this).find("input[type=checkbox]");
            if (chk != undefined && $(chk).is(":checked")) {
                var td = $(this).find("td:eq(2)");
                $(td).html("Đang tổng kết");
            }
        });
    }
    $(document).ready(function () {
        var a = $('#Period').val();
        var b = $('#Semester').val();
        var c = $('#EducationLevelID').val();
        $("#EducationLevel2").val(c);
        $("#PeriodID2").val(a);
        $("#Semester2").val(b);
        var enable_button = '@ViewData[SummedUpEducationLevelByPeriodConstants.ENABLE_BUTTON_SUMMEDUP]';
        if (enable_button.toLowerCase() == "false") {
            $("#btnSummedUp").attr("disabled", "disabled");
            $("#btnSummedUp").attr('style', "color:gray;background-color:gray;border-color:gray;");
        } else {
            $('#btnSummedUp').removeAttr("disabled");
            $('#btnSummedUp').removeAttr("style");
        }
    });

    function CheckAll() {
        if ($('#chkAll').is(":checked")) {
            $('input[class=chkStatus]').attr('checked', 'checked');
        }
        else {
            $('input[class=chkStatus]').removeAttr('checked');
        }
    }

    function CheckItem() {
        if ($('#GridSummedUpRecord input[class=chkStatus]:checkbox:enabled:checked').length == $('#GridSummedUpRecord input[class=chkStatus]:checkbox:enabled').length) {
            $("#chkAll").attr('checked', 'checked');
        }
        else {
            $("#chkAll").removeAttr('checked');
        }
    }
</script>
