﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedUpEducationLevelByPeriodArea.Models
@{
    ViewBag.Title = Res.Get("System_SummedUpRecordByEducationLevel");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="searchPanel">
    @Html.Partial("SummedUpRecord")
</div>
<script type="text/javascript">
    window.onload = function () { formUtils.focusForm("frmSearch"); }
    function onSelect() {


    }  
</script>
