﻿
#DivBorder
{
    background: none repeat scroll 0 0 #C1D7DB;
    height: 1px;
    margin-left: -7px;
    width: 140%;
}

#GridPromotionProgram.GeneralTable td, #Grid.GeneralTable td
{
    border-right: 0 solid #C5DADD !important;
}

div.lbContain
{
    padding-top: 6px;
    text-align: right;
    height: 25px;
}

.formSearchTdLabel
{
    margin: 0px;
    padding: 5px;
    text-align: right;
    height: 25px;
    width: 150px;
}
.formSearchTdLabel *
{
    width: 100%;
}

.formSearchTdInput
{
    margin: 0px;
    padding: 5px;
    text-align: left;
    height: 25px;
    width: 250px;
}

.formSearchTdInput *
{
    width:99%;
}
.formSearchTdInput input
{
    height: 15px;
    width: 96%;
}

.sameImage, .sameSelect, .sameCheckbox, .sameInput
{
    text-align: center !important;
}

.sameSelect div
{
    text-align: center !important;
}

div.formSearchTd
{
    float: left;
}

.sameW1
{
    width: 150px;
}

.samecontain
{
    line-height: 2.6em;
}

.separate
{
    height: 1px;
    border-top: 1px solid red;
}

#GridPromotionProgram .t-grid-content
{
    height: 300px !important;
}

.vt-SearchPanelEdit {
    border: 1px solid #aabfd4;
    margin: 8px;
}


.vt-SearchPanelEdit .vt-SearchPanel-TitleEdit {
    background-color: #036fbd;
    border-bottom: 1px solid #aabfd4;
    color: #fff;
    font-weight: bold;
    height: 20px;
    padding: 6px 4px 1px 8px;
    text-decoration: none;
    vertical-align: middle;
}

.vt-SearchPanelEdit .vt-SearchPanel-ContentEdit {
    padding: 5px 20px 5px;
}

.vt-SearchPanel-ContentEdit {
    background-color: #f7fbff;
}


.vt-SearchPanelEdit .vt-SearchPanel-ButtonEdit {
    background-color: #e6f2fe;
    clear: both;
    padding: 8px;
    text-align: center;
}

.vt-ResultPanelEdit {
    margin: 8px;
}

.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit {
    background-color: #a9d0f5;
    border: 1px solid #aabfd4;
    color: Black;
    font-weight: bold;
    padding: 8px;
    position: relative;
    text-decoration: none;
    background: none repeat scroll 0 0 #e6f2fe;
}

.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit .vt-ResultPanel-Title-MessageEdit {
    float: left;
    height: 14px !important;
    width: 70%;
}
.vt-ResultPanelEdit .vt-ResultPanel-TitleEdit .vt-ResultPanel-Title-ButtonEdit {
    float: right;
    width: 30%;
}

