@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeQualificationArea.Models

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "EmployeeQualification",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstEmployeeQualification",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">
            <input type="submit" class="t-button vt-button-search" value="@Res.Get("Common_Button_Search")" />
        </div>
    }
</fieldset>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




