@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeQualificationArea.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="lstEmployeeQualification">
    @Html.Partial("_List")
</div>
