@using SMAS.Web.Areas.SchoolSubjectArea.Models
@using SMAS.Web.Areas.SchoolSubjectArea
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
}


@{
    ViewBag.Title = Res.Get("SchoolSubject_Label_Title");
    Layout = "~/Areas/AcademicYearArea/Views/Shared/InitializationLayout.cshtml";

    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
    
}
@using (Ajax.BeginForm("SetSchoolSubject", "SchoolSubject", new AjaxOptions
{
    UpdateTargetId = "divGridSchoolSubject",
    HttpMethod = "post",
    OnBegin = "",
    OnComplete = "smas.hideProcessingDialog",
    OnSuccess = "CreateSSSuccess",
    OnFailure = "CreateSSFail"
}, new { id = "frmSchoolSubject" }))
{
    GlobalInfo global = new GlobalInfo();
    <div class="school-subject-area-page ">
        <div id="divSearch" style="width: 100%">
            @Html.Partial("_Search")
        </div>
        @if(global.IsCurrentYear)
        {
            <div id="divSaveBtn" style="text-align: right; margin:10px;">
                @if(checkCreate) {
                    @Html.ViettelButton(SMAS.Web.Utils.Res.Get("Common_Button_Save"), "submit", "NextSubmit()", "btn btn-info btn-icon btn-round btn-icon-save")
                }
            </div>
        }
        @Html.AntiForgeryToken()
        <div id="divGridSchoolSubject" style="width: 100%">
            @Html.Partial("_GridSchoolSubject")
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        controlUtils.AddMoveButtonEvent("#GridSchoolSubject");
    });
    function NextSubmit()
    {
        smas.showProcessingDialog();
        $(".onesubjectdisabled").attr("disabled", false);
        $(".onesubject").attr("disabled", false);
        $("[name=ArrCommenting]").attr("disabled", false);
        setTimeout(function () { controlUtils.AddMoveButtonEvent("#GridSchoolSubject"); }, 500);
    }
</script>
 