@model ExaminationSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExaminationSubjectArea.Models
@using SMAS.Web.Areas.ExaminationSubjectArea
  @{
      var count = 0;
      if (((IEnumerable<ExaminationSubjectViewModel>)ViewData[ExaminationSubjectConstants.LIST_EXAMINATIONSUBJECT]) != null)
      {
          count = ((IEnumerable<ExaminationSubjectViewModel>)ViewData[ExaminationSubjectConstants.LIST_EXAMINATIONSUBJECT]).Count();
      }
   }
<div class="vt-ResultPanel">

    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ExaminationSubjectViewModel>)ViewData[ExaminationSubjectConstants.LIST_EXAMINATIONSUBJECT])
            .Name("GridExaminationSubject")
            .Footer(false)
            .Columns(c =>
            {
                c.Template(@<text>
        @(index++)
        @Html.Hidden("SubjectID", item.SubjectID)
        </text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                //lua chon
                c.Template(
        @<text>
        @if (item.Choose)
        {
<div style="text-align: center">
        <input name="checkedExaminationSubject" type="checkbox" checked="checked"
                                value="@item.SubjectID" title="checkedExaminationSubject" />
    </div>
        }
        else
        {
<div style="text-align: center">
        <input name="checkedExaminationSubject" type="checkbox"
                                value="@item.SubjectID" title="checkedExaminationSubject" />
    </div>
        }
        </text>
           ) @*.HeaderTemplate(
                 @<text>
                 <input type="checkbox" title="check all records" onclick="checkAll(this)" id="checkedNewPupil"/>
                 </text>
                   )*@
.Title(Res.Get("ExaminationSubject_Label_Choice")).HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });


                c.Bound(o => o.SubjectName);
                c.Template(
        @<text>
        @*<table class="data-row">
        <tr>
            <td style="color: Black; text-align: left;">
                <input type="text" name="StartTimeDate" style="width:80px;text-align:left" value="@item.StartTimeDate" maxlength="10"/><br />
            </td>
        </tr>
    </table>*@
        @Html.ViettelDatePicker("StartTimeDate" + @item.SubjectID, "", @item.StartTime, false, new Dictionary<string, object>())
        </text>)
              .HeaderHtmlAttributes(new { style = "text-align:center" })
              .Title(@Res.Get("ExaminationSubject_Label_StartTime"));

                c.Template(
        @<text>
        @*<table class="data-row">
        <tr>
            <td style="color: Black; text-align: left;">
                <input type="text" name="StartTimeHour" style="width:80px;text-align:left" value="@item.StartTimeHour" maxlength="8"/><br />
            </td>
        </tr>
    </table>*@
        @Html.ViettelTimePicker("StartTimeHour" + @item.SubjectID, "", @item.StartTime, false, new Dictionary<string, object>(), "HH:mm")
        </text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .Title(@Res.Get("ExaminationSubject_Label_StartHour"));

                //thoi gian du kien
                c.Template(
        @<text>
        @*<table class="data-row">
            <tr>
                <td style="color: Black; text-align: center;">
                    <input type="text" name="DurationInMinute" style="width:80px;text-align:left" value="@item.DurationInMinute" class="integer" maxlength="3"/><br />
                </td>
            </tr>
        </table>*@
        <input type="text" name="DurationInMinute" style="width:80px;text-align:left" value="@item.DurationInMinute" class="integer" maxlength="3"/>
        @* @Html.ViettelTimePicker("DurationInMinute", "", @item.StartTime, false, new Dictionary<string, object>())*@
        </text>)
               .HeaderHtmlAttributes(new { style = "text-align:center" })
               .Title(@Res.Get("ExaminationSubject_Label_DurationInMinute"));

                //duoc doc phach
             @*   c.Template(
        @<text>
        @if (item.HasDetachableHead)
        {
<div style="text-align: center">
            <input name="HasDetachableHead" type="checkbox" checked ="checked"
                                value="@item.SubjectID " title="HasDetachableHead" />
        </div>
        }
        else
        {      <div style="text-align: center">
                          <input name="HasDetachableHead" type="checkbox"
                                value="@item.SubjectID " title="HasDetachableHead" />
                      </div>
        }
        </text>
           ) @*.HeaderTemplate(
                 @<text>
                 <input type="checkbox" title="check all records" onclick="checkAll(this)" id="checkedNewPupil"/>
                 </text>
                   )*@
                //.Title(Res.Get("ExaminationSubject_Label_HasDetachableHead")).HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });*@


            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
            //  .Select("Search", "ExaminationSubject")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
            )
            .DataKeys(keys => keys.Add(o => o.SubjectID))
            .Resizable(o => o.Columns(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();
    }
    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Left">
            @if ((bool)ViewData[ExaminationSubjectConstants.ENABLE_SAVE] && @count > 0)
            {
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "submitForm(this); ", "")
                @Html.ViettelButton(Res.Get("Common_Button_Cancel"), "button", "CancelButtonClick(this)", "")
            }
            else
            {
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "", "t-state-disabled")
                @Html.ViettelButton(Res.Get("Common_Button_Cancel"), "button", "", "t-state-disabled")
            }

        </div>
        <div class="vt-ResultPanel-Footer-Right">
            @Html.ViettelButton(Res.Get("ExaminationSubject_Label_Candidate"), "button", "CandidateClick()", "")
            @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "GoBackToExaminationArea()", "")
        </div>
        <div class="Clear"></div>
        <div class="hidden"></div>
    </div>
</div>

<script type="text/javascript">
    var lstInd = 0;
    function submitForm(btn) {

        if ('@ViewData[ExaminationSubjectConstants.HAS_CANDIDATE]' == '1') {
            smas.confirm('@Html.Raw(Res.Get("ExaminationSubject_Label_Confirm"))', function () {
                validateUtils.validateSForm(btn);
            })
        } else {
            validateUtils.validateSForm(btn);
        }
    }
    function Grid_onDataBinding(e) {
        var grid = $('#GridExaminationSubject').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function CancelButtonClick(frm) {
            var i = 0;
            $(".hidden").html("");
            $("input[name=checkedExaminationSubject]:checked").each(function () {
                $(".hidden").append("<input type='hidden' value='" + $(this).val() + "' name='hiddenExaminationSubject[" + i + "]'/>");
                    i++;
            });
            
        smas.confirm('@Html.Raw(Res.Get("ExaminationSubject_Label_DeleteConfirm"))', function () {
            
            $.ajax({
                url: '@Url.Action("CancelButtonClick", "ExaminationSubject")',
                type: 'post',
                data: jsonUtils.serializeObject("frmID"),

                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#lstExaminationSubject").html(msg);
                    smas.hideProcessingDialog();
                    if (msg.Type == "success") {
                        smas.alert(msg);
                    }
                    var ExaminationID = $("#ExaminationID").val();
                    var EducationLevel = $("#EducationLevel").val();
                    reloadGrid(ExaminationID, EducationLevel);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        });

     
    }

</script>
<style type="text/css">
    #GridExaminationSubject .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
