@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExaminationSubjectArea.Models
@using SMAS.Web.Areas.ExaminationSubjectArea
@{
    ViewBag.Title = Res.Get("ExaminationSubject_Label_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("SaveExaminationSubject", "ExaminationSubject", new AjaxOptions
{
    OnBegin = "BeginSubmit",
    OnSuccess = "onSuccess",
    UpdateTargetId = "lstExaminationSubject",
    OnFailure = "EditFail",
    OnComplete = "onComplete"
}, new { id = "frmID" }))
{
    @Html.AntiForgeryToken()
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>

    <div id="lstExaminationSubject">
        @Html.Partial("_List")
    </div>

   
}
<script type="text/javascript">
    function onSuccess(msg) {
        if (msg.Type == "success") {
            smas.alert(msg);
        }
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevel = $("#EducationLevel").val();
        reloadGrid(ExaminationID,  EducationLevel);
    }
    function onComplete() {
    }
    function EditFail(ajaxContext) {
        smas.hideProcessingDialog();
        smas.alert(ajaxContext.responseText);
    }
    function BeginSubmit() {
        var checkedCandidate = $('#GridExaminationSubject').find('input[type="checkbox"]:checked');
//        if (checkedCandidate.length < 1) {
//            smas.alert({ Message: '@Res.Get("ExaminationSubject_Label_ErrorCheckMessage")', Type: "error" });
//            return false;
        //        } else 
                {
            smas.showProcessingDialog();
        }
    }
    function CandidateClick() {
        var ExaminationID = $("#ExaminationID").val();
        smas.redirect('@Url.Action("Index", "Candidate", new { area = "CandidateArea" })' + '?ExaminationID=' + ExaminationID + '&Tab=Tc');
    }

    function onExaminationChange(cbExamination) {
        var ExaminationID = $(cbExamination).val();
        var EducationLevel = $("#EducationLevel").val();
        reloadGrid(ExaminationID, EducationLevel);

    }


    function onEducationLevelChange(cbEducationLevel) {
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevel = $(cbEducationLevel).val();
        reloadGrid(ExaminationID, EducationLevel);
    }
    function GoBackToExaminationArea() {        
        smas.redirect('@Url.Action("Index", "Examination", new { area = "ExaminationArea" })' + '?Tab=Tc');
    }
    function reloadGrid(ExaminationID, EducationLevel) {
        $.ajax({
            url: '@Url.Action("ReloadGrid", "ExaminationSubject")',
            type: 'post',
            data: { ExaminationID: ExaminationID, EducationLevel: EducationLevel },
            beforeSend: function () {
                //  smas.showProcessingDialog();
            },
            success: function (msg) {
                //smas.hideProcessingDialog();
                //smas.alert(msg);
                $("#lstExaminationSubject").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
//    $(document).ready(function () {
//        $("#EducationLevel").attr("disabled", "disabled");
//    });
</script>
@*<style type="text/css">
    .editor-label, .editor-field
    {
        float: left;
    }

    /* CSS cho form thêm mới và form sửa */
    .t-window .editor-label
    {
        width: 30%;
    }

    .t-window .editor-field
    {
        width: 60%;
    }

    .editor-field select
    {
        width: 100%;
    }
    .editor-field input, .editor-field textarea
    {
        width: 97%;
    }

    #frmEdit, #frmCreate
    {
        padding-left: 20px;
    }

    /* CSS cho form tìm kiếm */
    #SearchPanel .editor-label
    {
        width: 18%;
    }
    #SearchPanel .editor-field
    {
        width: 28%;
        margin-right: 10px;
    }
</style>*@