@model SMAS.Web.Areas.SMSDepartmentArea.Models.SchoolSearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSDepartmentArea.Models
@using SMAS.Web.Areas.SMSDepartmentArea

<style type="text/css">
    #frmSearch .vt-control
    {
        width:33%;
    }
    #frmSearch .vt-control .editor-label 
    {
        width:33% !important; 
    }
    #frmSearch .vt-control .editor-field
    {
        width:60% !important;
    }
</style>

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "SMSSchool",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstSchool",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
       
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "vt-button vt-button-search")
        </div>
    }
</fieldset>

<label id="sendInfo">@ViewData[SMSDepartmentConstants.SEND_INFO]</label>

<script type="text/javascript">
    changeSearchButtonStatus();

    function search() {
        $("#frmSearch input[type='submit']").click();
    }

    function changeSearchButtonStatus() {
        if ($('#sendInfo').text() != null && $('#sendInfo').text() != "") {
            $("#frmSearch input[type='submit']").removeAttr("disabled");
        }
        else {
            $("#frmSearch input[type='submit']").attr("disabled", "disabled");
        }
    }
</script>
