﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.LearningResultReportArea.Models
@using SMAS.Web.Areas.LearningResultReportArea
@{
    List<LearningResultCertificateListViewModel> lstResult = (List<LearningResultCertificateListViewModel>)ViewData[LearningResultReportConstants.LIST_PUPIL];
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="listResult">
    @Html.Partial("_List", lstResult)
</div>

