﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StaffPositionArea.Models


@using (Ajax.BeginForm("Search",
                           "StaffPosition",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstStaffPosition",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelTextbox(@Res.Get("StaffPosition_Label_Resolution"), "Resolution", "", new Dictionary<string, object> { { "id", "idResolution" } }, false, false)
            
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
        </div>
    </div>
}

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




