﻿@model CapacityStatisticsSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CapacityStatisticsSubjectSecondaryArea.Models
@using SMAS.Web.Areas.CapacityStatisticsSubjectSecondaryArea

@{
    var index = 1;       
    Html.Telerik()
        .Grid((IEnumerable<CapacityStatisticsSubjectViewModel>)ViewData[CapacityStatisticsSubjectSecondaryConstants.LIST_MARKSTATISTICS])
        .Name("GridMarkStatistics")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);																				
						c.Bound(o => o.SchoolName).Sortable(true).Width(110);
                        c.Bound(o => o.SentDate).Sortable(true).Format("{0:dd/MM/yyyy}").Width(85);
                        c.Bound(o => o.TotalPupil).Sortable(true).Width(80);
                         c.Bound(o => o.TotalExcellent).Sortable(true).Width(50);
                         c.Bound(o => o.PercentExcellent).Sortable(true).Width(60);
                         c.Bound(o => o.TotalGood).Sortable(true).Width(50);
                         c.Bound(o => o.PercentGood).Sortable(true).Width(60);
                         c.Bound(o => o.TotalNormal).Sortable(true).Width(50);
                         c.Bound(o => o.PercentNormal).Sortable(true).Width(60);
                         c.Bound(o => o.TotalWeak).Sortable(true).Width(50);
                         c.Bound(o => o.PercentWeak).Sortable(true).Width(60);
                         c.Bound(o => o.TotalPoor).Sortable(true).Width(50);
                         c.Bound(o => o.PercentPoor).Sortable(true).Width(60);
                         c.Bound(o => o.TotalPass).Sortable(true).Width(50);
                         c.Bound(o => o.PercentPass).Sortable(true).Width(60);
                         c.Bound(o => o.TotalFail).Sortable(true).Width(50);
                         c.Bound(o => o.PercentFail).Sortable(true).Width(60);                                                                           
                         c.Bound(o => o.TotalAboveAverage).Sortable(true).Width(80);
                         c.Bound(o => o.PercentAboveAverage).Sortable(true).Width(80);
                        
  
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    //.Select("Search", "Area")
                    
         )
        //.ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        //                    .OnCommand("Grid_onCommand")
        //)
        .DataKeys(keys => keys.Add(o => o.SchoolID))
        //.Pageable()
        .Scrollable(o => o.Enabled(true))
        .Sortable()
        //.ToolBar(cmd => cmd.Template(@<text>@Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")</text>))	        
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}

<script type="text/javascript">
    var lstInd = 0;      
    function Grid_onDataBinding(e) {
        var grid = $('#GridMarkStatistics').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        //e.data = jsonUtils.serializeObject("frmSearch");
    }    
      function exportReport() {        
        window.open("@Url.Action("DownloadReport", "CapacityStatisticsSubjectSecondary")"+"?ProcessedReportID="+@ViewData[CapacityStatisticsSubjectSecondaryConstants.GRID_REPORT_ID]);        
    }  
</script>



