﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
@using SMAS.Web.Areas.MarkRecordRetestArea
@model IEnumerable<PupilRetestRegistrationSubjectBO>
@{
    bool enable = ViewData[MarkRecordRetestContants.ENABLE_BUTTON] == "true" ? true : false;
    int appliedLevel = new GlobalInfo().AppliedLevel.Value;
}
@{    
    var index = 1;
    <div class="text-right mg-t-10 mg-b-10">
         @Html.ViettelButton(Res.Get("Common_Button_Export"), new Dictionary<string, object> { { "style", "" } }, "button", "ExportExcel()", "btn btn-info btn-icon btn-round btn-icon-excel")
        @if (enable)
        {
            
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "return validateSummarize()", "btn btn-info btn-icon btn-round btn-icon-save")
            
        }
        else
        {
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "", "t-state-disabled btn btn-info btn-icon btn-round btn-icon-save")
        }
    </div>
    Html.Telerik()
        .Grid(Model)
        .Name("gridMarkRecordRetest")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
            c.Bound(v => v.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode")).Width(120);
            c.Bound(v => v.FullName).Title(Res.Get("PupilProfile_Label_FullName")).Width(180);
            c.Bound(v => v.ClassName).Title(Res.Get("ClassProfile_Label_DisplayName")).HtmlAttributes(new { style = "text-align: center;" }).Width(100);
            c.Template(@<text> @(item.IsCommenting == 1 ? item.JudgementResult : (item.SummedUpMark.HasValue)?item.SummedUpMark.Value.ToString("0.#").Replace(",","."):"")
    </text>).Title(Res.Get("PupilRetestRegistration_Label_BeforeRetestMark")).HtmlAttributes(new { style = "text-align: center;" }).Width(140);
            c.Template(@<text>
    @if (enable)
    {
        string disabled = "";
        if (item.isAbsentContest.HasValue && item.isAbsentContest.Value)
        {
            disabled = "disabled=disabled";
        }
        if (item.IsCommenting != 1)
        {
            if(appliedLevel == 1)
            {
                <input type="text" id ='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' @disabled style="text-align:center" onkeypress ="return OnKeyPress(event);" onblur ="checkMarkPrimary(this)" maxlength ="2" name='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' value='@( item.IsCommenting == 1 ? item.ReTestJudgement : (item.ReTestMark.HasValue ? item.ReTestMark.Value.ToString("0.#").Replace(",",".") : ""))' style="text-align: right;"/>
            }
            else
            {
                <input type="text" class ="text_mark" style="text-align:center"  id ='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' @disabled onkeypress ="return OnKeyPress(event);" onblur ="checkvalidateMark(this)" name='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' maxlength ="3" value='@( item.IsCommenting == 1 ? item.ReTestJudgement : (item.ReTestMark.HasValue ? item.ReTestMark.Value.ToString("0.#").Replace(",",".") : ""))' style="text-align: right;"/>
            }
        }
        else
        {
           
        <select name='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)'  id ='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' @disabled style="width: 100%" onchange="onSemester2MarkChange(this)">
            @if (appliedLevel == SystemParamsInFile.APPLIED_LEVEL_PRIMARY)
            {
                foreach (var single in CommonList.ListMark())
                {
                    if (@item.ReTestJudgement != null && @item.ReTestJudgement.ToString() == single.value)
                    {
                        <option selected="selected" value="@single.value">@single.value</option>
                    }
                    else
                    {
                        <option value="@single.value">@single.value</option>
                    }
                }
            }
            else
            {
                foreach (var single in CommonList.JudgeRecordMark(true))
                {
                    if (@item.ReTestJudgement != null && @item.ReTestJudgement.ToString() == single.value)
                    {
                        <option selected="selected" value="@single.value">@single.value</option>
                    }
                    else
                    {
                        <option value="@single.value">@single.value</option>
                    }

                }
            }
        </select>
        }
    }
    else
    {
        <input type="text" disabled="disabled" name='@("txt_RetestMark_" + @item.PupilRetestRegistrationID)' value='@( item.IsCommenting == 1 ? item.ReTestJudgement : (item.ReTestMark.HasValue ? item.ReTestMark.Value.ToString("0.#") : ""))' style="text-align: right;"/>
    }
    </text>).Title(Res.Get("PupilRetestRegistration_Label_RetestMark")).HtmlAttributes(new { style = "text-align: center;" }).Width(80);
            c.Template(@<text>
            <label class="custom-checkbox p-r-0" style="padding-left:15px">
            <input type="checkbox" id="@("chkAbsentContent_" + item.PupilRetestRegistrationID)" defaultValue ="@item.PupilRetestRegistrationID"
                onchange ="OnChange(this)" name="@("chkAbsentContent_" + item.PupilRetestRegistrationID)"
                @(item.isAbsentContest.HasValue && item.isAbsentContest.Value ? "checked=checked" : "") value="on" />
                <span class="checkmark"></span>
                </label>
    </text>).HtmlAttributes(new Dictionary<string,object>{{"style","text-align:center;"}}).Title("Vắng thi").Width(80);
            c.Template(@<text>
            @{
                string disabled = "";
                if (!item.isAbsentContest.HasValue || !item.isAbsentContest.Value)
                {
                    disabled = "disabled=disabled";
                }
             }
            <input type="text" id="@("txtReason_" + item.PupilRetestRegistrationID)" @disabled style="width:100%;" maxlength="100" name ="@("txtReason_" + item.PupilRetestRegistrationID)" value ="@item.Reason" />
    </text>).Title("Lý do").Width(180);
        })
        .DataKeys(u => u.Add(o => o.PupilRetestRegistrationID))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(o => o.Enabled(true).Height("400px"))
        .Render(); 
}
<script type ="text/javascript">
    function   onSemester2MarkChange(cbSemester2) {
        var id = $(cbSemester2).attr('id');
        var e = document.getElementById(id);
        var choose = e.options[e.selectedIndex].value;
        $("#Semester2MarkChoose").val(choose);
    }


    function checkMarkPrimary(txtMark) {
        var text = txtMark.value;
        var num = "0123456789";
        var i = 0;
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }
        if (text.length == 2) {
            if (text != "10") {
                txtMark.value = text.charAt(0)
            }
        }
    }

    function checkvalidateMark(txtMark) {
        var text = txtMark.value;
        var num = "0123456789";
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }
            if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(1);
            } else if (text.charAt(0) == '0' && num.indexOf(text.charAt(1)) > -1) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(1);
            }

        } else if (text.length == 3) {
            if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + '.' + text.charAt(1);
        }
        if (text == '100') {
            txtMark.value = '10';
        }
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }
    }
    function ExportExcel()
    {
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        var downloadUrl = '@Url.Action("ExportExcel", "MarkRecordRetest")';
        downloadUrl += '?EducationLevelID=' + educationLevelID;
        downloadUrl += '&ClassID=' + classID;

        window.open(downloadUrl);
    }
    function OnKeyPress(e) {
        if (window.event) { // IE
            var charCode = window.event.keyCode;
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }

        if (charCode == 46) {
            {
                return true;
            }
        }
        if (e.ctrlKey && (charCode == 118 || charCode == 99)) {
            return true;
        }

        //46 dau cham
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function OnChange(item)
    {
        var id = $(item).attr('defaultValue');
        if ($(item).is(':checked')) {
            $('#txt_RetestMark_' + id).attr('disabled', 'disabled');
            $('#txtReason_' + id).removeAttr('disabled');
        }
        else {
            $('#txt_RetestMark_' + id).removeAttr('disabled', 'disabled');
            $('#txtReason_' + id).val('');
            $('#txtReason_' + id).attr('disabled', 'disabled');
        }
    }
</script>