﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Business.Common
@using SMAS.Web.Areas.MarkRecordRetestArea
@using SMAS.Web.Areas.MarkRecordRetestArea.Models
@{
    ViewBag.Title = Res.Get("MarkRecordRetest_List");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo glo = new GlobalInfo();
}
@model MarkRecordRetestViewModel
@using (Ajax.BeginForm("Create",
                           "MarkRecordRetest",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("SubjectID", 0)
    <div class="mark-record-retest">
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 mark-record-retest">
            <div class="vt-SearchPanel-Title">
                <span class="icon icon-search-file"></span>
                @Res.Get("Common_Label_SearchingCriteria")
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            </div>
            <div class="vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-6 col col-sm-6">
                        @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[MarkRecordRetestContants.LIST_EDUCATION_LEVEL], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>(), false)
                    </div>
                    <div class="col-md-6 col-sm-6">
                        @Html.ViettelComboboxFor(u => u.ClassID, Res.Get("ClassProfile_Label_AllTitle"), new List<SelectListItem>(), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>(), false)
                    </div>
                </div>
            </div>
            <div class="vt-control" id="subject">
                <div class="editor-label p-t-5" style="width: 150px;">
                    <label for="Kh_i_h_c">
                        @Res.Get("Candidate_Label_Subject"):</label>
                </div>
                <div class="editor-field">
                    <div id="btnSubjects" class="mg-t-5">
                        @*@Html.Raw(Res.Get("common_Validate_NoData"))*@
                    </div>
                    <div>
                        <label id="labelID"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="vt-ResultPanel" id="gridPupilRetest">
        </div>
    </div>
}
<script type="text/javascript">

    function validateSummarize() {

        var subjectID = $('#btnSubjects').find('.Active').attr('value');
        $('#SubjectID').val(subjectID);

        if (!validateUtils.validateForm('frmCreate'))
            return false;

        var isComment = $('#btnSubjects').find('.Active').attr("IsComment");

        if (isComment == null || isComment == '') {
            alert('@Html.Raw(string.Format(Res.Get("Common_Validate_Required"), Res.Get("Candidate_Label_ExaminationSubject")))');
            return false;
        }

        var isMarkValid = true;
        if (isComment != "1") {
            $.each($("#gridMarkRecordRetest").find('input[id^="txt_RetestMark_"]:enabled'), function (index, item) {
                if ($(item).val() != '' && !validateUtils.isValidMark($(item).val(), '@glo.AppliedLevel.Value', isComment)) {
                    isMarkValid = false;
                }
            });
            }

            if (!isMarkValid) {
                msg = {};
                msg["Type"] = "error";
                msg["Message"] = '@Res.Get("ErrorMsg_ImportTestMark_MarkInvalid")';
            smas.alert(msg);
            return false;
        }
    }

    function fn_GetClasses(firstTime) {
        var educationLevelID = $('#EducationLevelID').val();
        $("#ClassID").find('option').remove().end().append($("<option value>[Tất cả]</option>"));
        if (educationLevelID > 0) {
            $.ajax({
                url: '@Url.Action("LoadClass", "MarkRecordRetest")',
                type: 'post',
                data: { eid: educationLevelID },
                beforeSend: function () {
                    if (!firstTime)
                        smas.showProcessingDialog();
                },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.key).text(value.value));
                    });
                },
                complete: function () {
                    if (!firstTime)
                        smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        fn_GetSubjects();
    }

    function fn_GetSubjects() {
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        $.ajax({
            url: '@Url.Action("LoadSubject", "MarkRecordRetest")',
            type: 'post',
            data: { eid: educationLevelID, cid: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#btnSubjects").empty();
                $("#gridPupilRetest").empty();
                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        var radio = $("<a class='btn btn-info btn-bold' value=" + value.Value + " onclick='javascript:ChoiceSubjectForRetest(this)' href='javascript:void(0);'>" + value.Label + " </a> ").attr("IsComment", value.IsComment);
                        $('#btnSubjects').append(radio);
                    });
                }
                else {
                    $("#btnSubjects").text('@Html.Raw(Res.Get("common_Validate_NoData"))');
                }
                $('#labelID').html('');
                $('#btnSubjects').find('a').eq(0).click();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function fn_LoadGrid() {
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        var subjectID = $('#btnSubjects').find('.Active').attr('value');
        $.ajax({
            url: '@Url.Action("LoadGrid", "MarkRecordRetest")',
            type: 'post',
            data: { eid: educationLevelID, cid: classID, sid: parseInt(subjectID) },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#gridPupilRetest").html(data);
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        fn_LoadGrid();
    }

    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText.Message);
    }

    function ChoiceSubjectForRetest(button) {
        $('#labelID').html('');
        $("#gridPupilRetest").html("");//clear list truoc khi load du lieu moi
        controlUtils.ChangeStyleButton(button);
        var subjectID = $(button).attr('value');
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        var isCommenting = $(button).attr('iscomment');
        if (parseInt(subjectID) > 0) {
            $.ajax({
                url: '@Url.Action("LoadGrid", "MarkRecordRetest")',
                type: 'post',
                data: { eid: educationLevelID, cid: classID, sid: parseInt(subjectID) },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    $("#gridPupilRetest").html(data);
                    if (isCommenting == '1') {
                        $('#labelID').html('');
                    }
                    else {
                        $('#labelID').html('Thầy/cô nhập 90-> 9.0');
                    }
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }

    $(document).ready(function () {
        window.setTimeout(function () { $("#EducationLevelID").focus(); }, 1000);

        fn_GetClasses(true);

        $('#EducationLevelID').change(function () {
            fn_GetClasses(false);
        });

        $('#ClassID').change(function () {
            fn_GetSubjects();
        });
    });

</script>
<style type="text/css">
    #frmCreate .vt-control
    {
    }
</style>
