@model OtherServiceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.OtherServiceArea.Models
@using SMAS.Web.Areas.OtherServiceArea
@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    var list = (IEnumerable<OtherServiceViewModel>)ViewData[OtherServiceConstants.LIST_OTHERSERVICE];
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">

<div class="vt-ResultPanel-Title-Message">
            @string.Format(Res.Get("Record_Result"), list.Count().ToString())
        </div>
        <div class="vt-ResultPanel-Title-Button">
            @if(checkCreate)
            {
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "")
            }
        </div>
        <div class="Clear"></div>
    </div>

    @{
        var index = 1;

        Html.Telerik()
            .Grid(list)
            .Name("GridOtherService")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

                c.Bound(o => o.OtherServiceName).Sortable(true).Visible(true);
                c.Bound(o => o.EffectDate).Sortable(true);
                c.Bound(o => o.Price).Sortable(true);
                c.Bound(o => o.Note).Sortable(true).Width(450);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Edit", "OtherService")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-edit" });


                }).Title(Res.Get("Common_Column_Edit")).Width(20).Visible(checkUpdate);


                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("Delete", "OtherService")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


                }).Title(Res.Get("Common_Column_Delete")).Width(20).Visible(checkDelete);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("Search", "OtherService")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnCommand("Grid_onCommand")
            )
            .DataKeys(keys => keys.Add(o => o.OtherServiceID))
            .Pageable(p=>p.PageSize(10)).Resizable(o => o.Columns(true))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();
                      
    }
</div>

<script type="text/javascript">
    var lstInd = 0;
  
    function Grid_onDataBinding(e) {
        var grid = $('#GridOtherService').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }
        //        alert(e.name);
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("OtherService_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.OtherServiceID }, search, null);
            })
        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
        var EffectDay = $('#frmCreate #EffectDateHidden').val();
        $("#frmCreate #EffectDate").val(EffectDay);
        $("#frmCreate #EffectDate").mask('99/99/9999');
    }
   
</script>



