﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.CommentOfPupilArea
@{
    IEnumerable<ClassProfile> listClass = ViewData[CommentOfPupilConstants.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    ClassProfile cp = (ClassProfile)ViewData["ClassProfile"];
    int ClassID = 0;
    int EducationLevelID = 0;
    GlobalInfo glo = new GlobalInfo();
    if (cp!=null)
    {
        ClassID = cp.ClassProfileID;
        EducationLevelID = cp.EducationLevelID;
    }
}

<script type="text/javascript">
function treeView() {
    return $('#TreeClass').data('tTreeView');
}
</script>

<div style="overflow:auto; height:100%" >
    @if (listEducation != null && listEducation.Count > 0 && cp != null)    
    {    
        @(Html.Telerik().TreeView()
            .Name("TreeClass")
            .Items(item =>
            {
                foreach (EducationLevel EducationLevel in listEducation)
                {
                    var expanded = EducationLevel.EducationLevelID == cp.EducationLevelID;
                    item.Add()
                        .Text(EducationLevel.Resolution)
                        .Value(EducationLevel.EducationLevelID.ToString())
                        .HtmlAttributes(new Dictionary<string,object> {{ "style","font-weight:bold;" },{"id","EducationLevelID"}})
                        .Items(child =>
                        {
                            var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
                            if (listClassChild != null && listClassChild.Count() > 0)
                            {
                                foreach (ClassProfile cl in listClassChild)
                                {
                                    var selected = cl.ClassProfileID == cp.ClassProfileID;
                                    child.Add()
                                        .Text(cl.DisplayName)
                                        .HtmlAttributes(new Dictionary<string, object> { { "id", "ClassID" } })
                                        .Value(cl.ClassProfileID.ToString());
                                }
                            }
                        });
                }
            })
        .ClientEvents(events=>events.OnSelect("SelectClassForComment")));   
    }    
    else 
    {
        @Res.Get("BookRecord_Error_NoClass");    
    }
</div>
