﻿@model PupilCommentViewModel
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.CommentOfPupilArea.Models
@using SMAS.Web.Areas.CommentOfPupilArea
@{
    int pupilSelect = (int)ViewData[CommentOfPupilConstants.PUPIL_ID];
 }
<style>
    #EmployeeID-input {
        border-color: #C0C0C0 #D9D9D9 #D9D9D9;
        height: 20px;
        font-family: Arial !important;
        font-size: 12px;
    }
</style>

<div class ="editor-label">Học sinh</div>
<div class ="editor-field">
    @(Html.Telerik().ComboBoxFor(model => model.PupilID)
                                        .BindTo(new SelectList((IEnumerable<PupilCommentViewModel>)ViewData[CommentOfPupilConstants.LIST_PUPIL], "PupilID", "FullName",pupilSelect))
                                        .AutoFill(false)
                                        .HtmlAttributes(new Dictionary<string,object> { {"style", "float: left" }})
                                        .SelectedIndex(0)
                                        .ClientEvents(events => events.OnChange("PupilChange"))
                                        .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.Contains))
)
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#PupilID-input').attr('maxlength', '100');
        $(".t-arrow-down").each(function() {
            $(this).closest(".t-header").css({ 'border': 'none', 'background': 'white' });
            $(this).closest(".t-combobox").css({ 'border': 'none', 'background': 'white' });
            $("#PupilID-input").css({});
        });
    });
    function PupilChange() {
        var combobox = $(this).data('tComboBox');
        var dataArr = combobox.data;
        var idArr = [];
        for (i = 0; i < dataArr.length; i++) {
            if (dataArr[i].Value != "") {
                idArr.push(dataArr[i].Value);
            }
        }
        var inputed = combobox.value();
        if (idArr.indexOf(inputed) == -1) {
            $('#PupilID').val('');
        }
        if ($('#PupilID').val() != '') {
            LoadCommentByPupil();
        }
    }
    $('#PupilID-input').focusout(function () {
        if ($('#PupilID-input').val() == "") {
            var combobox = $('#PupilID').data('tComboBox');
            var dataArr = combobox.data;
            var idArr = [];
            for (i = 0; i < dataArr.length; i++) {
                if (dataArr[i].Value != "") {
                    idArr.push(dataArr[i].Value);
                }
            }
            var inputed = combobox.value();
            if (idArr.indexOf(inputed) == -1) {
                $('#PupilID').val('');
            }
        }
    });
</script>