﻿@using SMAS.Web.Areas.CommentOfPupilArea
@{
    int ClassID = (int)ViewData[CommentOfPupilConstants.ClassID];
    int SubjectID = (int)ViewData[CommentOfPupilConstants.SubjectID];
    int SemesterID = (int)ViewData[CommentOfPupilConstants.SEMESTER_ID];
    string FromDate = (string)ViewData[CommentOfPupilConstants.FROM_DATE];
    string ToDate = (string)ViewData[CommentOfPupilConstants.TO_DATE];
    int DayOfMonthID = (int)ViewData[CommentOfPupilConstants.DAY_OF_MONTH];
    string SubjectName = (string)ViewData[CommentOfPupilConstants.SUBJECT_NAME];
}
<style>
.SendSMSComment .custom-checkbox {margin-left: 95px;}
.SendSMSComment .mg-t-10 .row {margin:0}
</style>
<div id="SendSMSCommentWraper" class="comment-of-pupil-send-sms">
   
</div>