﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CommentOfPupilArea
@using SMAS.Web.Areas.CommentOfPupilArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@{
    GlobalInfo glo = new GlobalInfo();
    List<CommentOfPupilViewModel> lstResult = new List<CommentOfPupilViewModel>();
    string strLastUpdate = ViewData[CommentOfPupilConstants.LAST_UPDATE_STRING] != null ? (string)ViewData[CommentOfPupilConstants.LAST_UPDATE_STRING] : "";
    List<int> lstLasUpdateID = ViewData[CommentOfPupilConstants.LAST_UPDATE] != null ? (List<int>)ViewData[CommentOfPupilConstants.LAST_UPDATE] : new List<int>();
    int DayOfMonthID = ViewData[CommentOfPupilConstants.DAY_OF_MONTH] != null ? (int)ViewData[CommentOfPupilConstants.DAY_OF_MONTH] : 0;
    int SubjectID = ViewData[CommentOfPupilConstants.SubjectID] != null ? (int)ViewData[CommentOfPupilConstants.SubjectID] : 0;
    bool disabled = false;
    int currentSemester = glo.Semester.Value;
    int semester = 0;
    bool isVisibleButton = true;
    if (ViewData[CommentOfPupilConstants.IS_VISIBLED_BUTTON] != null)
    {
        isVisibleButton = (bool)ViewData[CommentOfPupilConstants.IS_VISIBLED_BUTTON];
    }
    if (ViewData[CommentOfPupilConstants.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[CommentOfPupilConstants.SEMESTER_ID];
    }
    if (ViewData[CommentOfPupilConstants.LIST_RESULT] != null)
    {
        lstResult = (List<CommentOfPupilViewModel>)ViewData[CommentOfPupilConstants.LIST_RESULT];
    }
    string FromDate = (string)ViewData[CommentOfPupilConstants.FROM_DATE];
    string ToDate = (string)ViewData[CommentOfPupilConstants.TO_DATE];

    int ClassID = (int)ViewData[CommentOfPupilConstants.ClassID];
    int SemesterID = (int)ViewData[CommentOfPupilConstants.SEMESTER_ID];
    string SubjectName = (string)ViewData[CommentOfPupilConstants.SUBJECT_NAME];
 }

<span id="strUpdateID" style="display:none">@Html.Raw(strLastUpdate)</span>
<input type="hidden" id="hdfFromDate" value="@FromDate" />
<input type="hidden" id="hdfToDate" value="@ToDate" />
@{
    var index = 1;
    string styleColor = "";
    Html.Telerik()
    .Grid(lstResult)
    .Name("GridCommentOfPupil")
    .Columns(c =>
    {
        c.Template(@<text>
    @{
        @index;
              index++;
              disabled = item.Status != SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;
              styleColor = lstLasUpdateID.Contains(item.PupilID) ? "style = font-weight:bold;color:#d56900;" : "";
    }
    </text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
        c.Template(@<text>

    @{
        if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
        {
        <span style="padding-left: 3px">@item.FullName</span>
        }
        else
        {
        <span style="padding-left: 3px; color: red">@item.FullName</span>
        }
    }
    </text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).Width(250);
        c.Template(@<text>
    @{
        string disabledtext = "disabled=disabled";
        if (SubjectID > 0 && DayOfMonthID > 0 && item.Status == GlobalConstants.PUPIL_STATUS_STUDYING)
        {
            disabledtext = "";
        }
     }
    <textarea class ="txtComment" id="@("txtCommentID_" + item.PupilID)" name="@("txtCommentID_" + item.PupilID)" @styleColor @disabledtext maxlength="500">@item.Comments</textarea>
    </text>).Title("Nội dung nhận xét");
        if (currentSemester == semester && isVisibleButton && DayOfMonthID == 0 && SubjectID > 0 && glo.IsCurrentYear)
        {
            c.Template(@<text>
            @if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
            {
                <input type ="button" style ="cursor: pointer;" class="teachingSchedule" onclick ="AddCommentPupil(@item.PupilID)"/>    
            }
            </text>).Title("Thêm nhận<br/>xét").HtmlAttributes(new { style = "text-align:center" }).Width(40);
        }
        c.Template(@<text>
    @if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
    {
        <label class="custom-checkbox p-r-0 p-l-15"><input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" />    
        <span class="checkmark"></span></label>
    }
    </text>).HeaderTemplate(@<text>
        <label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);" /><span class="checkmark"></span></label>
    
    </text>).HtmlAttributes(new { style = "text-align:center" }).Width(70);

    })
    .DataKeys(keys => keys.Add(o => o.PupilID))
    .Scrollable(p => p.Height(450))
    .Selectable()
    .Footer(false)
   .Render();
}
@(Html.Telerik().Window()
                .Name("SendSMSCommentDialog")
                .Title("Nhập nhận xét từ Excel")
                //.Content(@<text><div id="lstSendSMS"></div></text>)
                .Content(@<text>@Html.Partial("_SendSMSCommentOfPupil")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(200).ContentHtmlAttributes(new { style="min-width: 600px;"})
)
<script type ="text/ecmascript">
    $(document).ready(function () {
        if ('@DayOfMonthID' == 0) {
            $('#frmCommentOfPupil #btnSave').hide();
        }
        else {
            $('#frmCommentOfPupil #btnSave').show();
        }
        $('#frmCommentOfPupil #lblLastUpdateID').html($('#strUpdateID').html());

        //load grid
        var data = {ClassID:'@ClassID', SubjectID:'@SubjectID', SemesterID:'@SemesterID', DayOfMonthID:'@DayOfMonthID', FromDate:'@FromDate', ToDate: '@ToDate', SubjectName:'@Html.Raw(SubjectName)'}

        ajaxPostUpdateDiv('@Url.Action("Index", "SendSMSCommentOfPupil", new {area = "SMSEduArea" })', data, 'SendSMSCommentWraper', null);
    });
    function AddCommentPupil(pupilID)
    {
        var classID = $('#HiddenPanel #ClassID').val();
        var monthID = $('#MonthID').val();
        var monthName = $('#MonthID').find('option[value=' + monthID + ']').text();
        var semesterID = $('#Semester').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadAddComment","CommentOfPupil")',
            data: {ClassID:classID,MonthName:monthName,PupilID:pupilID,SemesterID:semesterID},
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstAddCommentID').html(msg);
                smas.hideProcessingDialog();
                $('#AddCommentPupilDialog #MonthAddComment').find('option').text(monthName);
                smas.openDialog('AddCommentPupilDialog', '', {});
                $('#AddCommentPupilDialog .t-header').css('text-align', 'left');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    };

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        console.log(url);
        console.log(data);
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (data.type == '@JsonMessage.ERROR') {
                    smas.alertColor(XMLHttpRequest.responseText, 'red');
                } else {
                    smas.alert(XMLHttpRequest.responseText);

                }
            }
        });
        };



</script>
