﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
@using SMAS.Web.Areas.CommentOfPupilArea
@{
    List<SubjectCatBO> lsClassSubject = (List<SubjectCatBO>)ViewData["ListSubjectComment"];
    int oldSubjectID = ViewData[CommentOfPupilConstants.OLD_SUBJECT_ID] != null ? (int)ViewData[CommentOfPupilConstants.OLD_SUBJECT_ID] : 0;
    bool isSubject = (lsClassSubject.Count > 0 && lsClassSubject.Where(p => p.SubjectCatID == oldSubjectID).Count() > 0);   
    GlobalInfo glo = new GlobalInfo();
    bool isGVCN = (bool)ViewData[CommentOfPupilConstants.GVCN_TEACHER];
    bool isAdmin = glo.IsAdmin || glo.IsAdminSchoolRole;
    <ul class="ListSubject">
        @{
            if (isAdmin || isGVCN || UtilsBusiness.IsBGH(glo.UserAccountID))
            {
                <li value="0"><a href="javascript:void(0);" onclick="javascript:ChoiceSubject(this)" value="0">Tất cả</a></li>    
            }
            foreach (SubjectCatBO cs in lsClassSubject)
            {
                <li value="@cs.SubjectCatID"><a href="javascript:void(0);" onclick="javascript:ChoiceSubject(this)" value="@cs.SubjectCatID">@SMAS.Web.Utils.Utils.StrimContent(cs.DisplayName, 25)</a></li>      
                <input type="hidden" id ="@(cs.SubjectCatID.ToString())" value="@((cs.IsCommenting == SystemParamsInFile.ISCOMMENTING_TYPE_MARK || cs.IsCommenting == SystemParamsInFile.ISCOMMENTING_TYPE_MARK_JUDGE) ? "1" : "2")" name="@cs.SubjectCatID.ToString()" />
            }
        }
    </ul>
}
<script type="text/javascript">
    $(document).ready(function () {
        var div = document.getElementById('listSubjectWraper');
        var typeID = $('#TypeID').val();
        var oldSubjectSelected = $('#HiddenPanel #SubjectID').val();
        var subjectID = 0;
        if (oldSubjectSelected > 0 && '@isSubject' == 'True') {
            $("#listSubjectWraper a[value=" + oldSubjectSelected + "]").addClass('Active');
        }
        else {
            $('#listSubjectWraper .ListSubject').find('li').first().find('a').addClass('Active');
            subjectID = $('#listSubjectWraper .ListSubject').find('li').first().find('a').attr('value');
            var isCommenting = $('.ListSubject #' + subjectID).val();
            $('#HiddenPanel #IsCommenting').val(isCommenting);
            $('#HiddenPanel #SubjectID').val(subjectID);
            parent = $("#listSubjectWraper");
            parent.scrollLeft(0);
        }
        var hasHorizontalScrollbar = div.scrollWidth > div.clientWidth;
        if (!hasHorizontalScrollbar) {
            $("#pannerRight").css('visibility', 'hidden');
        }
        else {
            $("#pannerRight").css('visibility', 'visible');
        }
    });
</script>
