@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HonourAchivementArea.Models
@using SMAS.Web.Areas.HonourAchivementArea
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("Common_Label_SearchingCriteria")
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
    </div>
    <div class="vt-SearchPanel-Content">
        <div class="row no-margin">
            <div class="col-sm-6 col-sm-offset-3">
                @(Html.ViettelCombobox(Res.Get("HonourAchivement_Label_FacultyName"), "Faculty", (SelectList)ViewData[HonourAchivementConstants.LIST_FACULTY],
                                   1,
                               new Dictionary<string, object> {{ "OnChange", "search()" } }, false, false
                               ))
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function search() {
        var b = document.getElementById('Faculty').value;
        var FacultyID = b;
        if (FacultyID.toString() == "") {
            FacultyID = 0;
        }
        $.ajax({
            url: '@Url.Action("Search", "HonourAchivement")',
            data: "FacultyID=" + FacultyID,
            type: 'post',
            success: function (data) {
                $('#lstHonourAchivement').html(data);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });
    }
</script>
