@model PupilProfileViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@{
    ViewBag.Title = @Res.Get("PupilProfile_Label_Insert");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo glo = new GlobalInfo();
}
@using (Ajax.BeginForm("Create",
                       "PupilProfile",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CreateOrEdit", Model)
}
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            location.reload(true);
        }
    }
    function CreateFail(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "PupilProfile")?Tab=2&forceLoad=1');
    }
    
    $(document).ready(function () {
        setTimeout(function () { formUtils.focusForm("frmCreate"); }, 500);
        cbIsYoungPioneerMemberChanged($("#frmCreate #IsYoungPioneerMember"));
        cbIsYouthLeageMemberChanged($("#frmCreate #IsYouthLeageMember"));
        cbIsCommunistPartyMemberChanged($("#frmCreate #IsCommunistPartyMember"));
        oncbIsDisabledChange($("#frmCreate #IsDisabled"));
        OncbPolicyTargetChange($("#frmCreate #PolicyTargetID"));
    });
    </text>);
</script>
