﻿@model  PupilAbsenceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea

<style type="text/css">
    .stl_P{font-weight:700;color:#0094ff!important}.stl_K{font-weight:700;color:red!important}.rowFooter td{padding:0}.rowFooter td.colTbl{color:#000}.rowFooter td.colTbl,.tblFooter{background-color:#D6E9FC}
    .t-grid .t-grid-content tr td, .t-grid>table>tbody tr td {   
        padding: 0px;
    }
</style>

@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<PupilAbsenceViewModel>)ViewData[PupilProfileConstants.LIST_PUPIL_ABSENCE])
        .Name("GridAbsenceProfile")
        .HtmlAttributes(new { @class = "GeneralTable General1Table custom-border-table" })
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(o => o.AbsentDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(200);
            c.Template(@<text><span class="@("stl_"+item.Morning) stlM">@item.Morning</span></text>).HeaderTemplate(Res.Get("ClassProfile_Control_Separate_Morning")).Visible((bool)ViewData[PupilProfileConstants.HAS_MORNING]);
            c.Template(@<text><span class="@("stl_" + item.Afternoon) stlP">@item.Afternoon</span></text>).HeaderTemplate(Res.Get("ClassProfile_Control_Separate_Afternoon")).Visible((bool)ViewData[PupilProfileConstants.HAS_AFTERNOON]);
            c.Template(@<text><span class="@("stl_" + item.Evening) stlE">@item.Evening</span></text>).HeaderTemplate(Res.Get("ClassProfile_Control_Separate_Night")).Visible((bool)ViewData[PupilProfileConstants.HAS_EVENING]);
        })
         
        .ClientEvents(e => e.OnDataBinding("GridAbsenceProfile_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Sortable()
        .Selectable()
        .Render();
                      
}
<script type="text/javascript">
    @Html.JsMinify(@<text>
    var lstInd = 0;

    $(document).ready(function () {

        var cntPM = $('#GridAbsenceProfile').find('.stl_P.stlM').length;
        var cntKM = $('#GridAbsenceProfile').find('.stl_K.stlM').length;
        var cntPP = $('#GridAbsenceProfile').find('.stl_P.stlP').length;
        var cntKP = $('#GridAbsenceProfile').find('.stl_K.stlP').length;
        var cntPE = $('#GridAbsenceProfile').find('.stl_P.stlE').length;
        var cntKE = $('#GridAbsenceProfile').find('.stl_K.stlE').length;
        var TrStr = "<tr class='rowFooter'><td colspan='2' class='colTbl'>Tổng số buổi nghỉ</td>";

        if ('@(((bool)ViewData[PupilProfileConstants.HAS_MORNING]).ToString().ToLower())' == 'true') {
            TrStr = TrStr + "<td><table class='tblFooter'><tr><td class='stl_P'>" + cntPM + "P</td><td class='stl_K'>" + cntKM + "K</td></tr></table> </td>";
        }
        if ('@(((bool)ViewData[PupilProfileConstants.HAS_AFTERNOON]).ToString().ToLower())' == 'true') {
            TrStr = TrStr + "<td><table class='tblFooter'><tr><td class='stl_P'>" + cntPP + "P</td><td class='stl_K'>" + cntKP + "K</td></tr></table> </td>";
        }
        if ('@(((bool)ViewData[PupilProfileConstants.HAS_EVENING]).ToString().ToLower())' == 'true') {
            TrStr = TrStr + "<td><table class='tblFooter'><tr><td class='stl_P'>" + cntPE + "P</td><td class='stl_K'>" + cntKE + "K</td></tr></table> </td>";
        }
        TrStr = TrStr + "</tr>";
        $("#GridAbsenceProfile tbody").last().append(TrStr);
    });

    function GridAbsenceProfile_onDataBinding(e) {
        var grid = $('#GridAbsenceProfile').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    </text>);
</script>
