﻿@model PupilTranscriptModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
<style type="text/css">
    .tblMark td{padding:0!important;width:30px;text-align:right}.tblMark td:last-child{border-right-width:0!important}#GridPupilTranscript .t-grid-content td{padding:0;height:20px}#GridPupilTranscript .t-header{padding:0}.titleMark{padding-right:5px}
</style>
<div style="overflow: auto;">
    @{
        GlobalInfo glo = new GlobalInfo();
        int semester = (int)ViewData["PupilProfile_DetailTranscript_Semester"];

        int[] countnumberMark = (int[])ViewData["CountNumberMark"];
        int numberMark = countnumberMark != null ? countnumberMark.Sum() : 0;
        string widthAuto = "width:auto;";
        if (numberMark > 15)
        {
            widthAuto = "width:900px;";
        }
        var isNotPrimary = glo.AppliedLevel != 1;
        if (((IEnumerable<PupilTranscriptModel>)ViewData[PupilProfileConstants.LIST_PUPIL_TRANSCRIPT]).Count() > 0)
        {
            Html.Telerik()
                .Grid((IEnumerable<PupilTranscriptModel>)ViewData[PupilProfileConstants.LIST_PUPIL_TRANSCRIPT])
                .Name("GridPupilTranscript")
                .HtmlAttributes(new { style = widthAuto })
                .Columns(c =>
                {
                    c.Bound(o => o.Mon).HtmlAttributes(new { style = "padding-left: 5px" }).Sortable(true).Width(isNotPrimary ? 100 : 200);
                    c.Template(@<text>
        @{
            string[] markArr = item.DiemMieng.Split(' ');
        }
        <table class="tblMark">
            <tr>
                @for (int i = 0; i < countnumberMark[0]; i++)
                {
                    <td>
                        @{
                    if (markArr.Length > i)
                    {
                            <span class="titleMark">@markArr[i].Replace(" ", "")</span>
                    }
                        }
                    </td>
                }
            </tr>
        </table>
        </text>).HeaderTemplate(Res.Get("LockedMarkDetail_Column_M")).Width(countnumberMark[0] > 2 ? countnumberMark[0] * 30 : 70).Visible(isNotPrimary);
                    c.Template(@<text>
        @{
            string[] markArr = item.Diem15Phut.Split(' ');
        }
        <table class="tblMark">
            <tr>
                @for (int i = 0; i < countnumberMark[1]; i++)
                {
                    <td>
                        @{
                    if (markArr.Length > i)
                    {
                            <span class="titleMark">@markArr[i].Replace(" ", "")</span>
                    }
                        }
                    </td>
                }
            </tr>
        </table>
        </text>).HeaderTemplate(Res.Get("LockedMarkDetail_Column_P")).Width(countnumberMark[1] > 2 ? countnumberMark[1] * 30 : 70).Visible(isNotPrimary);
                    c.Template(@<text>
        @{
            string[] markArr = item.Diem1Tiet.Split(' ');
        }
        <table class="tblMark">
            <tr>
                @for (int i = 0; i < countnumberMark[2]; i++)
                {
                    <td>
                        @{
                    if (markArr.Length > i)
                    {
                            <span class="titleMark">@markArr[i].Replace(" ", "")</span>
                    }
                        }
                    </td>
                }
            </tr>
        </table>
        </text>).HeaderTemplate(Res.Get("LockedMarkDetail_Column_V")).Width(countnumberMark[2] > 2 ? countnumberMark[2] * 30 : 70).Visible(isNotPrimary);
                    c.Bound(o => o.DiemCuoiKy).Width(70).HtmlAttributes(new { style = "text-align:right; padding-right: 5px" }).Visible(isNotPrimary).Width(50);
                    c.Bound(o => o.DiemTBHK1).HtmlAttributes(new { style = "text-align:center" }).Visible(!isNotPrimary);
                    c.Bound(o => o.DiemTBHK2).HtmlAttributes(new { style = "text-align:center" }).Title(Res.Get("PupilProfile_DetailTranscript_DTBCN")).Visible(!isNotPrimary);
                    c.Template(@<text>
        <table class="tblMark">
            <tr>
                <td>
                    <span class="titleMark">@item.DiemTBHK1</span>
                </td>
                @if (semester != 1)
                {
                    <td>
                        <span class="titleMark">@item.DiemTBHK2</span>
                    </td>
                    <td>
                        <span class="titleMark">@item.DiemTBCN</span>
                    </td>
                }
            </tr>
        </table>
        </text>).HeaderTemplate(@<text>
        <table>
            <tr>
                <td @(semester != 1 ? Html.Raw("colspan='3'") : null) style="text-align: center">
                    @Res.Get("PupilProfile_DetailTranscript_DTBHK")
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    @Res.Get("JudgeRecordSemester_Label_HKI")
                </td>
                @if (semester != 1)
                {
                    <td style="text-align: center">
                        @Res.Get("JudgeRecordSemester_Label_HKII")
                    </td>
                    <td style="text-align: center">
                        @Res.Get("MarkRecordCareer_Label_AllYear")
                    </td>
                }
            </tr>
        </table>
        </text>).Visible(isNotPrimary).Width(semester == 1 ? 50 : 120);
                })
                .ClientEvents(e => e.OnDataBinding("GridPupilTranscript_onDataBinding"))
                .DataKeys(keys => keys.Add(o => o.PupilID))
                .Sortable()
                .Selectable()
                .Scrollable(u => u.Height("auto"))
                .Render();
        }
    }
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    var lstInd = 0;
    function GridPupilTranscript_onDataBinding(e) {
        var grid = $('#GridPupilTranscript').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    </text>);
</script>
