﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@using SMAS.Business.Common
@model PupilHealthPeriodicViewModel
<style type="text/css">
    table.pupilprofile td{padding:5px}table.healthtest td{padding:5px;border:1px solid;border-collapse:collapse}table.healthtest td td{border:none}
    .custom-checkbox{
        margin-bottom: 0px;
    }
</style>
@{
    PupilHealthPeriodicViewModel item = (PupilHealthPeriodicViewModel)ViewData[PupilProfileConstants.DETAIL_HEALTH_PERIODIC_PUPIL];

    <fieldset>
        <legend>@Res.Get("HealthTest_Label_PupilInformation")</legend>
        <table width="100%" class="pupilprofile">
            <tr>
                <td>
                    @Res.Get("PupilProfile_Label_FullName") : @item.FullName
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_BirthDate") : @item.BirthDate
                </td>
                <td>
                    @Res.Get("PupilProfile_Label_Genre") : @item.GenreName
                </td>
                <td>
                    @Res.Get("ClassProfile_Label_DisplayName") : @item.ClassName
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    @Res.Get("OverallTest_Label_HistoryYourSelf") : @(item.OverallTest != null ? item.OverallTest.HistoryYourSelf : string.Empty)
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>@Res.Get("HealthTest_Label_HealthInformation")</legend>
        <table class="healthtest" width="100%">
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("HealthTest_Label_PhysicalTest")
                </td>
                <td>
                    @{ if (item.PhysicalTest != null)
                   {
                        <table>
                            <tr>
                                <td>
                                    @Res.Get("PhysicalTest_Label_Height") : @item.PhysicalTest.Height
                                </td>
                                <td>
                                    @Res.Get("PhysicalTest_Label_Weight") : @item.PhysicalTest.Weight
                                </td>
                                <td>
                                    @Res.Get("PhysicalTest_Label_Breast") : @item.PhysicalTest.Breast
                                </td>
                            </tr>
                        </table>
                   }
                   else
                   {
                        <text>@Res.Get("HealthTest_Label_NotYetTested")</text>
                   }
                    }
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("HealthTest_Label_EyeTest")
                </td>
                <td>
                    @{ if (item.EyeTest != null)
                   {
                        <table cellpadding="5">
                            <tr>
                                <td>
                                    @(item.EyeTest.IsTreatment ? Res.Get("Eyetest_Label_HasGlasses") : Res.Get("Eyetest_Label_NoGlasses"))
                                </td>
                                <td>
                                    @Res.Get("Common_Label_LeftEye") : @item.EyeTest.LEye
                                </td>
                                <td>
                                    @Res.Get("Common_Label_RightEye"): @item.EyeTest.REye
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Res.Get("Common_Column_Myopic")
                                </td>
                                <td>
                                    @Res.Get("Common_Label_LeftEye") : @item.EyeTest.LMyopic
                                </td>
                                <td>
                                    @Res.Get("Common_Label_RightEye") : @item.EyeTest.RMyopic
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Res.Get("Common_Column_Farsightedness")
                                </td>
                                <td>
                                    @Res.Get("Common_Label_LeftEye") : @item.EyeTest.LFarsightedness
                                </td>
                                <td>
                                    @Res.Get("Common_Label_RightEye"): @item.EyeTest.RFarsightedness
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Res.Get("EyeTest_Label_Astigmatism")
                                </td>
                                <td>
                                    @Res.Get("Common_Label_LeftEye") : @item.EyeTest.LAstigmatism
                                </td>
                                <td>
                                    @Res.Get("Common_Label_RightEye"): @item.EyeTest.RAstigmatism
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @Res.Get("Eyetest_Label_Other") : @item.EyeTest.Other
                                </td>
                            </tr>
                        </table>
                   }
                   else
                   {
                        <text>@Res.Get("HealthTest_Label_NotYetTested")</text>
                   }
                    }
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">@Res.Get("HealthTest_Label_ENTTest")
                </td>
                <td>
                    @{ if (item.ENTTest != null)
                   {
                        <table cellpadding="5">
                            <tr>
                                <td>
                                    @Res.Get("Common_Column_CapacityHearing")
                                </td>
                                <td>
                                    @Res.Get("Common_Label_LeftEar") : @item.ENTTest.LCapacityHearing
                                </td>
                                <td>
                                    @Res.Get("Common_Label_RightEar") : @item.ENTTest.RCapacityHearing
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <label class="custom-checkbox">
                                    <input type="checkbox" @(item.ENTTest.IsDeaf.HasValue && item.ENTTest.IsDeaf.Value ? "checked='checked'" : "")  disabled="disabled"/>
                                    @(item.ENTTest.IsDeaf.HasValue && item.ENTTest.IsDeaf.Value ? Res.Get("Common_Column_IsDeaf") : "")
                                <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @Res.Get("Common_Column_CapacityHearing") : @item.ENTTest.Description
                                </td>
                            </tr>
                        </table>
                   }
                   else
                   {
                        <text>@Res.Get("HealthTest_Label_NotYetTested")</text>
                   }
                    }
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">@Res.Get("HealthTest_Label_SpineTest")
                </td>
                <td>
                    @{ if (item.SpineTest != null)
                   {
                        <table cellpadding="5">
                            <tr>
                                <td>
                                    @Res.Get("SpineTest_Label_ExaminationStraight") : @item.SpineTest.ExaminationStraight
                                </td>
                                <td>
                                    @Res.Get("SpineTest_Label_ExaminationItalic") : @item.SpineTest.ExaminationItalic
                                </td>
                                <td>
                                    <label class="custom-checkbox">
                                    <input type="checkbox" @(item.SpineTest.IsDeformityOfTheSpine ? "checked='checked'" : "")  disabled="disabled"/>
                                    @Res.Get("SpineTest_Label_IsDeformityOfTheSpine")
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @Res.Get("Spine_Label_Other") : @item.SpineTest.Other
                                </td>
                            </tr>
                        </table>
                   }
                   else
                   {
                        <text>@Res.Get("HealthTest_Label_NotYetTested")</text>
                   }
                    }
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("HealthTest_Label_DentalTest")
                </td>
                <td>
                    @if (item.DentalTest != null)
                {
                        <table cellpadding="5">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="border-bottom: 1px solid black; border-right: 1px solid black;">
                                                <div class="dentalCheck">
                                                    <table>
                                                        <tr>
                                                            @for (var i = 8; i > 0; i--)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @i
                                                                </td>
                                                        }
                                                        </tr>
                                                        <tr>
                                                            @for (var i = 8; i > 0; i--)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @if (!string.IsNullOrWhiteSpace(item.DentalTest.NumDentalFillingOne) && item.DentalTest.NumDentalFillingOne.Contains(i.ToString()))
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" value="x" disabled="disabled" />
                                                                }
                                                                else
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" disabled="disabled" />
                                                                }
                                                                </td>
                                                        }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="border-bottom: 1px solid black;">
                                                <div class="dentalCheck">
                                                    <table>
                                                        <tr>
                                                            @for (var i = 1; i <= 8; i++)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @i
                                                                </td>
                                                        }
                                                        </tr>
                                                        <tr>
                                                            @for (var i = 1; i <= 8; i++)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @if (!string.IsNullOrWhiteSpace(item.DentalTest.NumDentalFillingTwo) && item.DentalTest.NumDentalFillingTwo.Contains(i.ToString()))
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" value="x" disabled="disabled" />
                                                                }
                                                                else
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" disabled="disabled" />
                                                                }
                                                                </td>
                                                        }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-right: 1px solid black;">
                                                <div class="dentalCheck">
                                                    <table>
                                                        <tr>
                                                            @for (var i = 8; i > 0; i--)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @i
                                                                </td>
                                                        }
                                                        </tr>
                                                        <tr>
                                                            @for (var i = 8; i > 0; i--)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @if (!string.IsNullOrWhiteSpace(item.DentalTest.NumDentalFillingFour) && item.DentalTest.NumDentalFillingFour.Contains(i.ToString()))
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" value="x" disabled="disabled" />
                                                                }
                                                                else
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" disabled="disabled" />
                                                                }
                                                                </td>
                                                        }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dentalCheck">
                                                    <table>
                                                        <tr>
                                                            @for (var i = 1; i <= 8; i++)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @i
                                                                </td>
                                                        }
                                                        </tr>
                                                        <tr>
                                                            @for (var i = 1; i <= 8; i++)
                                                        {
                                                                <td style="width: 15px; text-align: center;">
                                                                    @if (!string.IsNullOrWhiteSpace(item.DentalTest.NumDentalFillingThree) && item.DentalTest.NumDentalFillingThree.Contains(i.ToString()))
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" value="x" disabled="disabled" />
                                                                }
                                                                else
                                                                {
                                                                        <input type="text" style="width: 15px; text-align: center;" disabled="disabled" />
                                                                }
                                                                </td>
                                                        }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <i>@Res.Get("DentalTest_Label_Note")</i>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="padding: 5px">
                                        @Res.Get("DentalTest_Label_NumDentalFilling") : @item.DentalTest.NumDentalFilling
                                    </div>
                                    <div style="padding: 5px">
                                        @Res.Get("DentalTest_Label_NumPreventiveDentalFilling") : @item.DentalTest.NumPreventiveDentalFilling
                                    </div>
                                    <div style="padding: 5px">
                                        @Res.Get("DentalTest_Label_NumTeethExtracted") : @item.DentalTest.NumTeethExtracted
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" @(item.DentalTest.IsScraptTeeth ? "checked='checked'" : "") disabled="disabled"/>
                                                    @Res.Get("DentalTest_Label_IsScraptTeeth")
                                                    <span class="checkmark"></span>
                                                </label>                                               
                                            </td>
                                            <td>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" @(item.DentalTest.IsTreatment ? "checked='checked'" : "")  disabled="disabled"/>
                                                    @Res.Get("DentalTest_Label_IsTreatment")
                                                    <span class="checkmark"></span>
                                                </label>                                             
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Res.Get("DentalTest_Label_Other") : @item.DentalTest.Other
                                </td>
                            </tr>
                        </table>
                }
                else
                {
                        <text>@Res.Get("HealthTest_Label_NotYetTested")</text>
                }
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_OverallInternal")
                </td>
                <td>
                    @( item.OverallTest != null ? (item.OverallTest.OverallInternal == SystemParamsInFile.HEALTH_STATE_DISEASE ? item.OverallTest.DescriptionOverallInternall : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_OverallForeign")
                </td>
                <td>
                    @( item.OverallTest != null ? (item.OverallTest.OverallForeign == SystemParamsInFile.HEALTH_STATE_DISEASE ? item.OverallTest.DescriptionForeign : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_SkinDiseases")
                </td>
                <td>
                    @( item.OverallTest != null ? (item.OverallTest.SkinDiseases == SystemParamsInFile.HEALTH_STATE_DISEASE ? item.OverallTest.DescriptionSkinDiseases : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_Other")
                </td>
                <td>
                    <table cellpadding="5">
                        <tr>
                            <td style="padding-top: 15px;">
                                <label class="custom-checkbox">
                                    <input type="checkbox" @( item.OverallTest != null && item.OverallTest.IsHeartDiseases ? "checked='checked'" : "")  disabled="disabled"/>
                                    @Res.Get("OverallTest_Label_IsHeartDiseases")
                                    <span class="checkmark"></span>
                                </label>                              
                            </td>
                            <td>
                                <label class="custom-checkbox">
                                    <input type="checkbox" @( item.OverallTest != null && item.OverallTest.IsBirthDefect ? "checked='checked'" : "")  disabled="disabled"/>
                                    @Res.Get("OverallTest_Label_IsBirthDefect")
                                    <span class="checkmark"></span>
                                </label>                              
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @( item.OverallTest != null ? item.OverallTest.Other : string.Empty)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_EvaluationHealth")
                </td>
                <td>
                    <table cellpadding="5">
                        <tr>
                            <td>
                                @Res.Get("PhysicalTest_Label_PhysicalClassification") : @((item.PhysicalTest != null && CommonList.PhysicalClassification().Where(u => u.key.Equals(item.PhysicalTest.PhysicalClassification.ToString())).FirstOrDefault() != null )? CommonList.PhysicalClassification().Where(u => u.key.Equals(item.PhysicalTest.PhysicalClassification.ToString())).FirstOrDefault().value : string.Empty)
                            </td>
                            <td>
                                @Res.Get("PhysicalTest_Label_Nutrition") : @(item.PhysicalTest != null && item.PhysicalTest.Nutrition.HasValue && item.PhysicalTest.Nutrition.Value > 0 ? CommonList.NutritionType().Where(u => u.key.Equals(item.PhysicalTest.Nutrition.Value.ToString())).FirstOrDefault().value : string.Empty)
                            </td>
                            <td>
                                @Res.Get("OverallTest_Label_EvaluationHealth") : @((item.OverallTest != null && CommonList.EvaluationHealth().Where(u => u.key.Equals(item.OverallTest.EvaluationHealth.ToString())).FirstOrDefault() != null )? CommonList.EvaluationHealth().Where(u => u.key.Equals(item.OverallTest.EvaluationHealth.ToString())).FirstOrDefault().value : string.Empty)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase; vertical-align: middle">
                    @Res.Get("OverallTest_Label_RequireOfDoctor")
                </td>
                <td>
                    @(item.OverallTest != null ? item.OverallTest.RequireOfDoctor : string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div style="font-style: italic; padding: 5px">
                        @(item.OverallTest != null && item.OverallTest.MonitoringBook != null &&  item.OverallTest.MonitoringBook.MonitoringDate.HasValue ? item.OverallTest.MonitoringBook.MonitoringDate.Value.ToString("dd/MM/yyyy") : string.Empty)
                    </div>
                    <div style="padding: 5px">
                        @Res.Get("OverallTest_Label_Doctor") : <span style="font-weight: bold">@(item.OverallTest != null ? item.OverallTest.Doctor : string.Empty)
                        </span>
                    </div>
                    <div style="padding: 5px">
                        @Res.Get("MonitoringBook_Label_UnitName") : <span style="font-weight: bold">@(item.OverallTest != null ? item.OverallTest.MonitoringBook.UnitName : string.Empty)
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
