﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
<div class="GIInSection HealthInSection">
    <div class="GeneralForm SProfile2Form">
        <div class="row">
            <div class="col-md-6">
                <div class="vt-control">
                    <div class="editor-label">
                        Năm học
                    </div>
                    <div class="editor-field">
                        @Html.ViettelDropDownList("AcademicYear", (IEnumerable<SelectListItem>)ViewData[PupilProfileConstants.LIST_ACADEMICYEAR], new Dictionary<string, object>{
                                                                {"class", "MySelectBoxClass" },
                                                                {"onchange", "AjaxLoadPeriod(this)" }
                                                                })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="vt-control">
                    <div class="editor-label">
                        Đợt khám
                    </div>
                    <div class="editor-field">
                        @Html.ViettelDropDownList("HealthPeriodic", (IEnumerable<SelectListItem>)ViewData[PupilProfileConstants.LIST_HEALTH_PERIODIC], new Dictionary<string, object>{
                                                                {"class", "MySelectBoxClass" },
                                                                })
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <input type="button" class="btn btn-info btn-round " onclick="GetPupilHealthPeriodic(this)" value="Xem" />
        </div>
        <div class="Clear">
        </div>
    </div>
    <div id="divHealthPeriodic">
        @Html.Partial("_DetailPeriodicHealth")
    </div>
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function AjaxLoadPeriod(cboAcademicYear) {
        var AcademicYearID = $(cboAcademicYear).val();
        controlUtils.loadComboBox(
            $("#HealthPeriodic"),
            '@Url.Action("AjaxLoadPeriod", "PupilProfile")',
            { AcademicYearID: AcademicYearID }
        );
    }

    function GetPupilHealthPeriodic(Info) {
        var healthPeriodID = $('#HealthPeriodic').val();
        var academicYearID = $('#AcademicYear').val();
        var pupilID = $('#hidPupil').val();
        if (healthPeriodID == null || healthPeriodID <= 0
            || academicYearID == null || academicYearID <= 0
            || pupilID == null || pupilID <= 0) return;
        $.ajax({
            url: '@Url.Action("GetPupilHealthPeriodic", "PupilProfile")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { HealthPeriodID: healthPeriodID, AcademicYearID: academicYearID, PupilProfileID: pupilID },
            success: function (data) {
                $('#divHealthPeriodic').html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    </text>);
</script>
