﻿@model PupilOfClassViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea

<style type="text/css">
    a.Active {
    background: white !important;
}
</style>

@{
    List<PupilOfClassViewModel> lstCLDH = (List<PupilOfClassViewModel>)ViewData[PupilProfileConstants.LIST_PUPIL_CLDH];
    PupilOfClassViewModel pupilOfClass = null;
    <div class="HomeSection">
        <div class="SideBarTopMenu" id="LstCLDH">
            <div class="SideBarLoopMenu">
                <ul class="ResetList SideBarListMenu" style="border-radius:5px !important;">
                    <li class="EndItem" style="padding:6px 12px;background:#41B0C1">
                        <span class="TitleStyle" style="font-weight:bold;color:white;font-size:14px !important;">Năm học</span>
                    </li>
                    <li class="ResetList">
                        <ul class="ResetList">
                            @{
                                int Count = lstCLDH.Count;
                                for (int i = 0; i < Count; i++)
                                {
                                    pupilOfClass = lstCLDH[i];
                                    if (i == Count)
                                    {
                                <li class="EndItem">
                                    @{if (i == 0)
                                    {
                                        <a class="Active" ClassID="@pupilOfClass.ClassID" AcademicYearID="@pupilOfClass.AcademicYearID" onclick="GetPupilHistoryLearn(this)">
                                            <table>
                                                <tr>
                                                    <td class="yeartd">@pupilOfClass.Year - @(pupilOfClass.Year + 1)</td>
                                                </tr>
                                                <tr>
                                                    <td class="classtd">@pupilOfClass.ClassName</td>
                                                </tr>
                                            </table>
                                        </a>
                                    }
                                    else
                                    { 
                                        <a ClassID="@pupilOfClass.ClassID" AcademicYearID="@pupilOfClass.AcademicYearID" onclick="GetPupilHistoryLearn(this)">
                                        <table>
                                                <tr>
                                                    <td class="yeartd">@pupilOfClass.Year - @(pupilOfClass.Year + 1)</td>
                                                </tr>
                                                <tr>
                                                    <td class="classtd">@pupilOfClass.ClassName</td>
                                                </tr>
                                            </table></a>
                                    }
                                    }
                                </li>
                                    }
                                    else
                                    {
                                <li>
                                    @{if (i == 0)
                                    {
                                        <a class="Active" ClassID="@pupilOfClass.ClassID" AcademicYearID="@pupilOfClass.AcademicYearID" onclick="GetPupilHistoryLearn(this)">
                                        <table>
                                                <tr>
                                                    <td class="yeartd">@pupilOfClass.Year - @(pupilOfClass.Year + 1)</td>
                                                </tr>
                                                <tr>
                                                    <td class="classtd">@pupilOfClass.ClassName</td>
                                                </tr>
                                            </table></a>
                                    }
                                    else
                                    { 
                                        <a ClassID="@pupilOfClass.ClassID" AcademicYearID="@pupilOfClass.AcademicYearID" onclick="GetPupilHistoryLearn(this)">
                                        <table>
                                                <tr>
                                                    <td class="yeartd">@pupilOfClass.Year - @(pupilOfClass.Year + 1)</td>
                                                </tr>
                                                <tr>
                                                    <td class="classtd">@pupilOfClass.ClassName</td>
                                                </tr>
                                            </table></a>
                                    }
                                    }
                                </li>
                                    }
                                }
                            }
                </ul>
                    </li>
                </ul>
            </div>        
        </div>
    </div>
                    
}
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function GetPupilHistoryLearn(AcademicYear) {
        controlUtils.ChangeStyleButton(AcademicYear);
        // append Class 
        $(AcademicYear).closest('ul').find('a.Active').removeAttr('class');
        $(AcademicYear).attr('class', 'Active');

        var classID = $(AcademicYear).attr("ClassID");
        var academicYearID = $(AcademicYear).attr("AcademicYearID");
        var pupilID = $('#hidPupil').val();
        if (classID == null || classID <= 0
            || academicYearID == null || academicYearID <= 0
            || pupilID == null || pupilID <= 0) return;
        $.ajax({
            url: '@Url.Action("GetDetailHLHKByAcademicYear", "PupilProfile")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { ClassID: classID, AcademicYearID: academicYearID, PupilProfileID: pupilID },
            success: function (data) {
                $('#divHistoryLearn').html(data);
                ViewTranscript(1); // HK 1
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
    </text>);
</script>
