﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
<div class="GroupContentSection">
    <div class="GIInSection HealthInSection">
        @Html.Partial("_DetailPupilCLDH")
        <div class="MainContentSectionRight">
            <div class="StudentsListSection">
                @Html.Partial("_DetailViolationAbsenceRemission")
            </div>
        </div>
    </div>
</div>

<div class="Clear"></div>