﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Constants
@{
    GlobalInfo glo = new GlobalInfo();
}
<div class="GenaralInfoSection" id="divHistoryLearn">
    <div class="GridSection" style="margin-bottom: 20px;">
        @Html.Partial("_DetailPupilHistoryLearnHLHK")
    </div>
    <div class="Clear">
    </div>
    @{
        List<ViettelCheckboxList> listSemester = new List<ViettelCheckboxList>();
        listSemester.Add(new ViettelCheckboxList(Res.Get("MarkRecordPeriod_Label_Semester1"), 1, glo.Semester == 1 || !glo.Semester.HasValue, false));
        listSemester.Add(new ViettelCheckboxList(Res.Get("MarkRecordPeriod_Label_Semester2"), 2, glo.Semester == 2, false));
    }
    <div style="text-align: center; width: 500px;">
        @if (glo.AppliedLevel != 1)
        {
            @Html.ViettelListButtonStyle2("divSemester", glo.Semester.HasValue ? glo.Semester.Value.ToString() : GlobalConstants.SEMESTER_OF_YEAR_FIRST.ToString(), new Dictionary<string, object>() { { "style", "width:400px;" } }, "javascript:controlUtils.ChangeStyleButton(this);ViewTranscript(this.value);", listSemester)
        }
    </div>
    <div class="Clear">
    </div>
    <div class="GridSection" id="divTranscript" style="margin-top: 20px;">
        @Html.Partial("_DetailTranscript")
    </div>
</div>
