﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea

@Html.Partial("_Search")
<div id="lstPupilProfile" class="vt-ResultPanel">
    @Html.Partial("_List")
</div>
@(Html.Telerik().Window().Name("importedDialog").Title(Res.Get("ImportPupil_Label_FieldSet"))
        .Content(@<div id="divImportedGrid"></div>).Buttons(buttons => buttons.Maximize().Close())
        .Draggable(true).Visible(false).Modal(true).Width(1100).Height(610)
        .Resizable(u => u.Enabled(true)).Scrollable(true))

@(Html.Telerik().Window()
                .Name("DialogImportExcel")
                .Title("Nhập thông tin học sinh từ Excel")
                .Content(@<text><div id="optionImportExcel"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(700)
                .Height(205)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 700px;"}))

@(Html.Telerik().Window()
                .Name("DialogClassMovement")
                .Title("Chuyen lop")
                .Content(@<text><div id="DialogClassMovementContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(550)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 550px;"}))
@(Html.Telerik().Window()
                .Name("DialogParticularPupil")
                .Title("Ca biet")
                .Content(@<text><div id="DialogParticularPupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(650)
                .HtmlAttributes(new { @class = "pupil-profile-particular-pupil-window" })
                .Height(600).Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 650px;"}))
@(Html.Telerik().Window()
                .Name("DialogSchoolMovement")
                .Title("Chuyen truong")
                .Content(@<text><div id="DialogSchoolMovementContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(550)           
                .Height(360)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 550px;"}))
@(Html.Telerik().Window()
                .Name("DialogLeavingOffPupil")
                .Title("Thoi hoc")
                .Content(@<text><div id="DialogLeavingOffPupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)       
                .Modal(true)
                .Width(550)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 550px;"}))
@(Html.Telerik().Window()
                .Name("DialogExemptedPupil")
                .Title("Thoi hoc")
                .Content(@<text><div id="DialogExemptedPupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(750)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 750px;"}))
@(Html.Telerik().Window()            
                .Name("DialogPraisePupil")
                .Title("Thoi hoc")
                .Content(@<text><div id="DialogPraisePupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(550)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 550px;"}))
@(Html.Telerik().Window()
                .Name("DialogDisciplinePupil")
                .Title("Thoi hoc")
                .Content(@<text><div id="DialogDisciplinePupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(550)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 550px;"})
            )
@(Html.Telerik().Window()                
                .Name("DialogDetailPraisePupil")        
                .Title(Res.Get("PupilPraise_Label_ListPraise"))
                .Content(@<text><div id="DialogDetailPraisePupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(750)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 750px;"}))
@(Html.Telerik().Window()
                .Name("DialogDetailDisciplinePupil")    
                .Title(Res.Get("PupilDiscipline_Label_ListDiscipline"))
                .Content(@<text><div id="DialogDetailDisciplinePupilContent"></div></text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)        
                .Modal(true)
                .Width(650)
                .Resizable(u => u.Enabled(true)).ContentHtmlAttributes(new { style="min-width: 650px;"})
            )
<style type="text/css">
   #frmCreate,#frmEdit{padding-left:20px}
</style>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    var serializedData = null;
    var isFirstTime = true;

    $(document).ready(function () {
        setTimeout('$("#frmSearch #EducationLevel").focus()', 500);
        var PupilCode = smas.getParameterByName("PupilCode");
        var Fullname = smas.getParameterByName("Fullname");
        $("#frmSearch #PupilCode").val(PupilCode);
        $("#frmSearch #Fullname").val(Fullname);

        if (window.location.search.indexOf("forceLoad") > 0) {
            fn_ReloadDataFromCookie();
        }
    });

    function fn_ReloadDataFromCookie() {
        var ppEducationLevel = $.cookie("ppEducationLevel");
        var ppClass = $.cookie("ppClass");
        var ppGenre = $.cookie("ppGenre");
        var ppPupilCode = $.cookie("ppPupilCode");
        var ppFullname = $.cookie("ppFullname");
        var ppStatus = $.cookie("ppStatus");
        var ppCurrentPage = $.cookie("ppCurrentPage");

        $("#frmSearch").find("#EducationLevel").val(ppEducationLevel);
        controlUtils.loadComboBox(
            $("#frmSearch #Class"),
            '@Url.Action("AjaxLoadClass", "PupilProfile")',
            { EducationLevelID: ppEducationLevel },
            '@Res.Get("All")',
            function () {
                $("#frmSearch").find("#Class").val(ppClass);
                $("#frmSearch").find("#Genre").val(ppGenre);
                $("#frmSearch").find("#PupilCode").val(ppPupilCode);
                $("#frmSearch").find("#Fullname").val(ppFullname);
                $("#frmSearch").find("#Status").val(ppStatus);

                var ppCurPage = ppCurrentPage != undefined && ppCurrentPage != null && ppCurrentPage != "" ? parseInt(ppCurrentPage) : 1;

                fn_SearchPupilProfile(ppCurrentPage);
            }
        );
        }

        function checkedDeleteClicked() {
            if ($('#GridPupilProfile').find('input[type="checkbox"][CheckForJavaScript="CheckForJavaScript"]:checked').length == $('#GridPupilProfile').find('input[type="checkbox"][CheckForJavaScript="CheckForJavaScript"]').length) {
                $("#checkAllPupil").attr("checked", "checked");
            } else {
                $("#checkAllPupil").removeAttr("checked");
            }

            if ($('#GridPupilProfile').find('input[type="checkbox"][CheckForJavaScript="CheckForJavaScript"]:checked').length > 0) {
                $("#deletePupilButton").removeAttr("disabled");
                $("#deletePupilButton").removeClass("t-state-disabled");
            } else {
                $("#deletePupilButton").attr("disabled", "disabled");
                $("#deletePupilButton").addClass("t-state-disabled");
            }
        }

        function checkedExemptedSubject() {
            if ($("input:checkbox:enabled:checked[name='chkExemptedSubject']").length > 0) {
                $("#btnDeleteCheckExempted").removeAttr("disabled");
                $("#btnDeleteCheckExempted").removeClass("t-state-disabled");
            } else {
                $("#btnDeleteCheckExempted").attr("disabled", "disabled");
                $("#btnDeleteCheckExempted").addClass("t-state-disabled");
            }
            if ($(this).attr('checked')) {
                if ($("input:checkbox:enabled[name='chkExemptedSubject']").length == $("input:checkbox:enabled[name='chkExemptedSubject']:checked").length)
                    $("#checkAllPupilExempted").attr('checked', 'checked');
            }
            else {
                $("#checkAllPupilExempted").removeAttr('checked');
            }
        }

        function onDeleteClick() {
            var checkedDelete = $('#GridPupilProfile').find('input[type="checkbox"][CheckForJavaScript="CheckForJavaScript"]:checked');
            if (checkedDelete.length < 1) {
                smas.alert({ Type: "error", Message: '@Res.Get("TransferMarkToBookMark_Label_ErrorCheckMessage")' });
            return;
        }
        loadPopupConfirm();
        smas.confirm('@Html.Raw(Res.Get("PupilProfile_Confirm_Delete"))', function () {
            $.ajax({
                url: '@Url.Action("DeleteCheckPupil", "PupilProfile")',
                type: 'post',
                beforeSend: function () {
                    //BOOMR.plugins.RT.startTimer("DeleteCheckPupil");   //--> bắt đầu đo
                    smas.showProcessingDialog();
                },
                data: checkedDelete,
                success: function (data) {
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("DeleteCheckPupil");  //--> kết thúc đo
                    //BOOMR.plugins.RT.done();	//--> gửi dữ liệu
                    smas.alert(data);
                    search();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        });
    }

    function AjaxLoadProvince(form, target) {
        controlUtils.loadComboBox(
            $(form).find("#" + target),
            '@Url.Action("AjaxLoadProvince", "PupilProfile", new { area = "PupilProfileArea" })',
            {},
            '@Res.Get("SelectRK")'
        );
        }

        function AjaxLoadDistrict(cboProvince, targetDistrict, targetSchool) {
            form = $(cboProvince).closest('form');
            controlUtils.loadComboBox(
                form.find("#" + targetDistrict),
                '@Url.Action("AjaxLoadDistrict", "PupilProfile", new { area = "PupilProfileArea" })',
            { ProvinceId: $(cboProvince).val() },
            '@Res.Get("SelectRK")',
            function () {
                form.find("#" + targetSchool).find("option").remove();
                form.find("#" + targetSchool).append($("<option value></option>").text('@Res.Get("SelectRK")'));
            }
        );
        }

        function AjaxLoadSchool(cboDistrict, targetSchool) {
            form = $(cboDistrict).closest('form');
            controlUtils.loadComboBox(
                form.find("#" + targetSchool),
                '@Url.Action("AjaxLoadSchool", "PupilProfile", new { area = "PupilProfileArea" })',
            { DistrictID: $(cboDistrict).val() },
            '@Res.Get("SelectRK")'
        );
        }

    function loadPopupConfirm() {
        var imgConfirm = document.getElementById('ConfirmAlertDialog').getElementsByTagName('img');
        var divImg = $(imgConfirm).closest('div');
        var spanConfirm = $('#ConfirmAlertDialog').find('.t-content').find('#Message');
        var divSpan = $(spanConfirm).closest('div');
        divSpan.css('width', '79%');
    }


        </text>);
</script>
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-114689816-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>


