﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@using SMAS.Models.Models
@using SMAS.Web.Constants
@{
    List<ReservePupilViewModel> listPupilReserve = (List<ReservePupilViewModel>)ViewData[PupilProfileConstants.LIST_PUPIL_RESERVE];
    var count = listPupilReserve != null ? listPupilReserve.Count() : 0;

    List<ClassProfile> lstAcceptClass = (List<ClassProfile>)ViewData[PupilProfileConstants.LIST_ACCEPT_CLASS];
    GlobalInfo global = new GlobalInfo();
}
<script type="text/javascript">
    var lstInd = 0;

    function GridReserve_onDataBinding(e) {
        var grid = $('#GridPupilReserve').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }
</script>
<div class="vt-ResultPanel-Title">
</div>
@{
    var index = 1;
    var id = 0;
    Html.Telerik()
        .Grid(listPupilReserve)
        .Name("GridPupilReserve")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HeaderTemplate(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(o => o.FullName).Width(130);
            c.Bound(o => o.PupilCode).HtmlAttributes(new { style = "text-align:center" }).Width(100);
            c.Bound(o => o.StrGenre).HtmlAttributes(new { style = "text-align:center" }).Width(70);
            c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Width(80);
            c.Bound(o => o.ClassName).HtmlAttributes(new { style = "text-align:center" }).Width(60);
            c.Bound(o => o.LeavingDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Width(90);
            c.Bound(o => o.LeavingReason).Width(150);
            c.Template(@<text>
                @{
                    List<ClassProfile> lstCp = lstAcceptClass.Where(o => o.EducationLevelID == item.AcceptEducationLevel).ToList();
                    SelectList sl = new SelectList(lstCp, "ClassProfileID", "DisplayName", item.AcceptClassID);
                    string name = "lstReservePupilModel[" + id++ + "]." + "PupilID";
                    <input type="hidden" value="@item.PupilID" name="@name" />
                    name = "lstReservePupilModel[" + id++ + "]." + "AcceptClassID";
                    if(item.AcceptClassID.HasValue)
                    {
                    @Html.ViettelCombobox(null, name, sl, GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>() {{"class","AcceptClassID"},{"disabled","disabled"} }, false, false)
                    }
                    else
                    {
                        @Html.ViettelCombobox(null, name, sl, GlobalConstants.PLACEHOLDER_CHOICE, new Dictionary<string, object>() {{"class","AcceptClassID"}}, false, false)
                    }
                }
                
            </text>).Title("Lớp tiếp nhận").HtmlAttributes(new { style = "text-align:center" }).Width(150);
            c.Template(@<text>
                @{
                    string text = item.AcceptClassID.HasValue && item.AcceptClassID != 0 ? "Hủy tiếp nhận" : "Tiếp nhận";
                    string onClick = item.AcceptClassID.HasValue && item.AcceptClassID != 0 ? "OnUnAccept(" + item.PupilID + "," + item.AcceptClassID + "," + item.PupilLeaveOffID + ")" : "OnAccept(this," + item.PupilID + "," + item.ClassID + "," + item.PupilLeaveOffID + ",'" + item.IsVnenClass + "','" + item.IsDataInherit + "')";
                    @Html.ViettelButton(text, "button", onClick, "btn btn-info");
                }
            </text>).Title("").HtmlAttributes(new { style = "text-align:center" }).Width(100).Visible(global.IsCurrentYear);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(e => e.OnDataBinding("GridReserve_onDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilOfClassID))
        .Pageable(o => o.PageSize(20))
        .Selectable()
        .Scrollable(o => o.Height(450))
        .Render();
} 
<script type="text/javascript">
    function OnAccept(btn, pupilId, oldClassId, pupilLeavingOffID, isVnenClass, isDataInherit) {
        var classId = $(btn).closest("tr").find(".AcceptClassID").val();
        var data =
            {
                pupilId: pupilId,
                classId: classId,
                isVnenClass: isVnenClass,
                isDataInherit: isDataInherit,
                oldClassId: oldClassId,
                pupilLeavingOffID: pupilLeavingOffID
            };
        smas.post('@Url.Action("AcceptReserve")', data, search, null);
    }

    function OnUnAccept(pupilId, classId, pupilLeaveOffId) {
        var data =
            {
                pupilId: pupilId,
                classId: classId,
                pupilLeaveOffId: pupilLeaveOffId
               
            };
        smas.post('@Url.Action("UnAcceptReserve")', data, search, null);
    }
</script>
<style>
   #GridPupilReserve table td .editor-field {width:100%}
</style>