﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@{
    List<PraisePupilViewModel> listPraisePupil = (List<PraisePupilViewModel>)ViewData[PupilProfileConstants.LIST_PUPIL_PRAISE];
    var count = listPraisePupil != null ? listPraisePupil.Count() : 0;
}
<script type="text/javascript">
    var lstInd = 0;

    function GridPraise_onDataBinding(e) {
        var grid = $('#GridPraisePupil').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
</script>
<div class="vt-ResultPanel-Title">
    
</div>
@{
    var index = 1;
    Html.Telerik()
        .Grid(listPraisePupil)
        .Name("GridPraisePupil")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HeaderTemplate(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Template(@<text><a href="javascript:void(0)" onclick="fn_DetailPraisePupil(@item.PupilID, @item.ClassID)">@item.FullName</a> </text>).ClientTemplate("<a href='javascript:void(0)' onclick='fn_DetailPraisePupil(<#= PupilID #>, <#= ClassID #>)'><#= FullName #></a>").Width(250).Title(Res.Get("PupilProfile_Label_FullName"));
            c.Bound(o => o.PupilCode).Width(200);
            c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Width(100);
            c.Bound(o => o.ClassName).Width(100);
            c.Bound(o => o.GenreDisplay).Width(100).HtmlAttributes(new { style = "text-align:center" });
            c.Bound(o => o.PraiseTotal).HtmlAttributes(new { style = "text-align:center" }).Width(120);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(e => e.OnDataBinding("GridPraise_onDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Pageable(o => o.PageSize(20))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Scrollable(o => o.Enabled(true))
        .Render();
} 

<script type="text/javascript">
    function fn_DetailPraisePupil(pupilID, classID) {
        $.ajax({
            url: '@Url.Action("DetailPraisePupil", "PupilProfile")',
            type: 'get',
            data: { pupilID: pupilID, classID: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#DialogDetailPraisePupilContent").html(msg);
                smas.hideProcessingDialog();
                setTimeout(function () { smas.openDialog("DialogDetailPraisePupil", "", {}); }, 300);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function fn_ReloadDetailPraisePupil(pupilID, classID) {
        $.ajax({
            url: '@Url.Action("DetailPraisePupil", "PupilProfile")',
            type: 'get',
            data: { pupilID: pupilID, classID: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#DialogDetailPraisePupilContent").html(msg);
                search();
                smas.hideProcessingDialog();
                ReloadGridPraise();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
</script>