﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@{
    List<DisciplinePupilViewModel> listDisciplinePupil = (List<DisciplinePupilViewModel>)ViewData[PupilProfileConstants.LIST_PUPIL_DISCIPLINE];
    var count = listDisciplinePupil != null ? listDisciplinePupil.Count() : 0;
}
<script type="text/javascript">
    var lstInd = 0;

    function GridDiscipline_onDataBinding(e) {
        var grid = $('#GridDisciplinePupil').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }
</script>
<div class="vt-ResultPanel-Title">
</div>
@{
    var index = 1;
    Html.Telerik()
        .Grid(listDisciplinePupil)
        .Name("GridDisciplinePupil")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HeaderTemplate(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Template(@<text><a href="javascript:void(0)" onclick="fn_DetailDisciplinePupil(@item.PupilID, @item.ClassID)">@item.FullName</a> </text>).ClientTemplate("<a href='javascript:void(0)' onclick='fn_DetailDisciplinePupil(<#= PupilID #>, <#= ClassID #>)'><#= FullName #></a>").Width(280).Title(Res.Get("PupilProfile_Label_FullName"));
            c.Bound(o => o.PupilCode).Width(200);
            c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Width(120);
            c.Bound(o => o.ClassName).HtmlAttributes(new { style = "text-align:center" }).Width(150);
            c.Bound(o => o.GenreDisplay).HtmlAttributes(new { style = "text-align:center" }).Width(140);
            c.Bound(o => o.DisciplineTotal).HtmlAttributes(new { style = "text-align:center" }).Width(120);
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(e => e.OnDataBinding("GridDiscipline_onDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Pageable(o => o.PageSize(20))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Scrollable(o => o.Enabled(true))
        .Render();
} 
<script type="text/javascript">
    function fn_DetailDisciplinePupil(pupilID, classID) {
        $.ajax({
            url: '@Url.Action("DetailDisciplinePupil", "PupilProfile")',
            type: 'get',
            data: { pupilID: pupilID, classID: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#DialogDetailDisciplinePupilContent").html(msg);
                smas.hideProcessingDialog();
                setTimeout(function () { smas.openDialog("DialogDetailDisciplinePupil", "", {}); }, 300);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function fn_ReloadDetailDisciplinePupil(pupilID, classID) {
        $.ajax({
            url: '@Url.Action("DetailDisciplinePupil", "PupilProfile")',
            type: 'get',
            data: { pupilID: pupilID, classID: classID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#DialogDetailDisciplinePupilContent").html(msg);
                search();
                smas.hideProcessingDialog();
                ReloadGridDis();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
</script>