﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilProfileArea.Models
@using SMAS.Web.Areas.PupilProfileArea
@{
    PupilProfileViewModel thisPupil = ViewData[PupilProfileConstants.PUPILPROFILE_MODEL_FOR_DETAIL] as PupilProfileViewModel;
}
@Html.ViettelHidden("hidPupil", thisPupil.PupilProfileID)
<div id="divDetail" class="get-detail-pupil-profile-page">
    @{ Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            //chi tiet ho so hoc sinh
            tabstrip.Add()
                .Text(Res.Get("PupilProfile_Label_Detail"))
                .Content(
        @<text>
        @Html.Partial("_Detail", thisPupil)
        </text>
                );

            //qua trinh hoc tap
            tabstrip.Add()
                .Text(Res.Get("PupilProfile_Label_HistoryLearn"))
                .Content(
        @<text>
        @Html.Partial("_DetailPupilHistoryLearn")
        </text>
                );

            //khen thuong, ky luat
            tabstrip.Add()
           .Text(Res.Get("PupilProfile_Label_PraiseDiscipline"))
           .Content(
        @<text>
        @Html.Partial("_DetailPraiseDiscipline")
        </text>
           );

            //vi pham, nghi hoc, mien giam
            tabstrip.Add()
           .Text(Res.Get("PupilProfile_Label_ViolationAbsenceRemission"))

           .Content(
        @<text>
        @Html.Partial("_DetailPupilViolationAbsenceRemission")
        </text>
           );

            // thong tin kham suc khoe dinh ky
            tabstrip.Add()
           .Text(Res.Get("PupilProfile_Label_PeriodicHealth"))

           .Content(
        @<text>
        @Html.Partial("_DetailPupilHealth")
        </text>
           );

        })

        .SelectedIndex(0)
        .Render();
    }
</div>
<div class="dialog-buttons text-right mg-t-10">
    @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "btn btn-basic btn-round")
</div>
<script type="text/javascript">
    @Html.JsMinify(@<text>
    function OnCloseClick() {
        smas.redirect('@Url.Action("Index", "PupilProfile")?Tab=2&forceLoad=1');
    }
    </text>);
</script>
