﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamDetachableBagArea
@using SMAS.Web.Areas.ExamDetachableBagArea.Models

@{   
    bool checkButton = (bool)ViewData[ExamDetachableBagConstants.PER_CHECK_BUTTON];
    bool checkDelete=(bool)ViewData[ExamDetachableBagConstants.PER_CHECK_DELETE];
    bool checkExport = (bool)ViewData[ExamDetachableBagConstants.PER_CHECK_EXPORT];
    
    int Total = 0;
    if (ViewData[ExamDetachableBagConstants.TOTAL] != null)
    {
        Total = (int)ViewData[ExamDetachableBagConstants.TOTAL];
    }

    int page = 1;
    if (ViewData[ExamDetachableBagConstants.PAGE] != null)
    {
        page = (int)ViewData[ExamDetachableBagConstants.PAGE];
    }
    bool pagingEnable = true;
    if (ViewData[ExamDetachableBagConstants.PAGING_ENABLE] != null)
    {
        pagingEnable = (bool)ViewData[ExamDetachableBagConstants.PAGING_ENABLE];
    }
    
}

<div class="vt-ResultPanel">
    @{
        var index = 1;
        Telerik.Web.Mvc.UI.Fluent.GridBuilder<ListViewModel> gridBuilder =
        Html.Telerik()
            .Grid(Model)
            .Name("GridExamDetachableBag")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(70);
                c.Bound(o => o.ExamineeNumber).HtmlAttributes(new { style = "text-align:center" }).Width(130);
                c.Bound(o => o.ExamDetachableBagCode);
               
            })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchAjax", "ExamDetachableBag"))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                                .OnDataBound("Grid_onDataBound")
                                .OnLoad("Grid_onDataBound")
            )
            .DataKeys(keys => keys.Add(o => o.ExamineeNumber))
            .EnableCustomBinding(true)
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Scrollable(u => u.Height(450));

            if (pagingEnable)
            {
                gridBuilder = gridBuilder.Pageable(p => p.PageSize(ExamDetachableBagConstants.PageSize).Total(Total).PageTo(page).Style(GridPagerStyles.Numeric));
            }
            gridBuilder.Render();
                      
    }

    <div class="vt-ResultPanel-Footer">
        <div class="vt-ResultPanel-Footer-Right">
            @if(checkExport)
            {
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", "btn btn-info btn-icon btn-round btn-icon-excel")
            }
            else
            {
                @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "", "btn btn-info btn-icon btn-round btn-icon-excel")
            }
        </div>
    </div>  
</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridExamDetachableBag').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onDataBound() {
        smas.hideProcessingDialog();
    }

    $(document).ready(function () {
        @if (checkButton)
        {
            <text>
        $("#frmAutoDetachable").find(":button:eq(1)").first().removeClass("t-state-disabled").attr("onclick", "btnAutoDetachableClick()");
            </text>
        }
        else
        {
            <text>
        $("#frmAutoDetachable").find(":button:eq(1)").first().addClass("t-state-disabled").removeAttr("onclick").addClass("t-state-disabled");
            </text>
        }

        @if (checkDelete)
        {
            <text>
            $("#frmAutoDetachable").find(":button:eq(2)").removeClass("t-state-disabled").attr("onclick", "btnDeleteClick()");
            </text>
        }
        else
        {
            <text>
            $("#frmAutoDetachable").find(":button:eq(2)").addClass("t-state-disabled").removeAttr("onclick").addClass("t-state-disabled");
             </text>
        }
     });
</script>
