﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea.Models
@using SMAS.Web.Constants
@{
    List<EvaluationDevelopmentFormViewModel> lstResult = ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EVALUATION_APPLY] != null
        ? (List<EvaluationDevelopmentFormViewModel>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EVALUATION_APPLY] : new List<EvaluationDevelopmentFormViewModel>();
    int index = 0;
    int orderID = 1;

    List<string> lstCode = lstResult.Select(x => x.EvaluationCode).ToList();
 }
<style type="text/css">
    #GridEvaluationApply .textcomment {
        width:98%;
        border:none;
        background: transparent;
    }

    #GridEvaluationApply table > tbody > tr > td {
        padding: 0 !important;
    }
    
     #GridEvaluationApply table > tbody > tr {
        height:50px;
    }

</style>
@using (Ajax.BeginForm("SaveMultiEvaluationDevelopment",
                       "EvaluationDevelopmentOfAdmin",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnComplete",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmEvaluationApply" }
                       ))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ViettelHidden("provinceID")
        @Html.ViettelHidden("educationID")
        @Html.ViettelHidden("evaluationGroupID")
        @{
        Html.Telerik()
        .Grid(lstResult)
        .Name("GridEvaluationApply")
        .Columns(c =>
        {
            c.Template(@<text>@(++index)</text>).Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Template(@<text>
            @{
                <input type="hidden" value="@item.EvaluationDevelopmentID" name="lstEvaluationDevelopmentVM[@(index - 1)].EvaluationDevelopmentID" style="display:none;" />
                <input type="text"  value="@item.EvaluationCode" maxlength="20"  class="textcomment" id="txtCommentCode" name="lstEvaluationDevelopmentVM[@(index - 1)].EvaluationCode" />
                orderID++;
            }</text>).Title("Mã").HtmlAttributes(new { style = "text-align:center" }).Width(50);
            c.Template(@<text>
                <textarea  class="textcomment"  rows="2" id="txtComment" maxlength="200" name="lstEvaluationDevelopmentVM[@(index - 1)].EvaluationName" >@item.EvaluationName</textarea>            
            </text>).Title("Nội dung chỉ số").HtmlAttributes(new { style = "text-align:center" }).Width(170);

            c.Template(@<text>          
                <input class="textcomment input-orderId"  id="txtOrderID" maxlength="4" style="text-align:center;" name="lstEvaluationDevelopmentVM[@(index - 1)].OrderID" value="@item.OrderID"/>
            </text>).Title("TT").HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Template(@<text>
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type ="checkbox" id="@("chkOneAccount_" + item.EvaluationDevelopmentID)" value ="True" checked="checked" defaultvalue ="@item.EvaluationDevelopmentID"
                        name="lstEvaluationDevelopmentVM[@(index - 1)].isChecked" onclick ="OneClickAccount(this)" />
                    <span class="checkmark">&nbsp;</span>
                </label>
            </text>)
            .HeaderTemplate(@<text>
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type ="checkbox" id="chkAllAccountID" onclick ="OnClickAllAccount(this)" checked="checked" />
                    <span class="checkmark">&nbsp;</span>
                </label>
            </text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
        })
        .DataKeys(keys => keys.Add(o => o.EvaluationDevelopmentID))
        .Scrollable(p => p.Height(300))
        .Selectable()
        .Footer(false)
        .Render();
        }
    </div>
    <input type="submit" id="btnSubmitEvaluationApply" style="display:none;" />
}
<script type ="text/javascript">
    $(document).ready(function () {

        $("#txtCommentCode").on("input", function () {
            var valCode = $('#txtCommentCode').val();
            var res = valCode.toUpperCase();
            $('#txtCommentCode').val(res);
        });

        $("#txtCommentCode").keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
            }
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 32
                && (e.which < 65 || e.which > 90) && (e.which < 97 || e.which > 122)) {
                return false;
            }
        });

        $("#txtComment").keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
            }
        });

        $('.input-orderId').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
            }   
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $('.addNewIndex').html("");
        var htmlAppend = '<a href="javascript:" onclick="onClickAddComment(this)" style="padding: 5px; width: 100px; text-decoration: underline;">[+] Thêm chỉ số</a>';
        $('.addNewIndex').html(htmlAppend);
    });

    function onClickAddComment()
    {
        var index = $('#GridEvaluationApply').find('input[id*="chkOneAccount_"]').length; 
        var subjectCode = "CS ";
        var appendpos = $('#GridEvaluationApply .t-grid-content').find('tr').last();

        var html = '<tr class><td style="text-align:center">' + (index + 1) + '</td><td style="text-align:center">';
        html += '<input type="hidden" value="" name="lstEvaluationDevelopmentVM[' + index + '].EvaluationDevelopmentID" style="display:none;">';
        html += '<input type="text"   maxlength="20" value="' + subjectCode + (index + 1) + '" class="textcomment" id="txtCommentCode" name="lstEvaluationDevelopmentVM[' + index + '].EvaluationCode">';
        html += '</td><td style="text-align:center">';
        html += '<textarea  class="textcomment" rows="2"  maxlength="200" id="txtComment" name="lstEvaluationDevelopmentVM[' + index + '].EvaluationName" ></textarea>';
        html += '</td><td style="text-align:center">';
        html += '<input class="textcomment input-orderId"  style=" text-align:center" maxlength="4" id="txtOrderID" value="' + (index + 1) + '" style="text-align:center" name="lstEvaluationDevelopmentVM[' + index + '].OrderID"/>';
        html += '</td><td style="text-align:center">';
        html += '<label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkOneAccount_" value="True" checked="checked" defaultvalue="" name="lstEvaluationDevelopmentVM[' + index + '].isChecked" onclick="OneClickAccount(this)"/><span class="checkmark"></span></label>';
        html += '</td></tr>';
        var nodata = $('#GridEvaluationApply .t-grid-content').find('tr[class="t-no-data"]').length;
        if (nodata > 0) {
            $('#GridEvaluationApply .t-grid-content').find('tr[class="t-no-data"]').before(html);
            $('#GridEvaluationApply .t-grid-content').find('tr[class="t-no-data"]').remove();
        }
        else {
            appendpos.after(html);
        }    
    }

    function OneClickAccount()
    {
        var countchk = $('#GridEvaluationApply').find('input[id*="chkOneAccount_"]').length;
        var countChecked = 0;
        $('#GridEvaluationApply').find('input[id*="chkOneAccount_"]').each(function () {
            if ($(this).is(':checked')) {
                countChecked++;
            }
        });
        if (countchk == countChecked) {
            $('#chkAllAccountID').attr('checked', 'checked');
        }
        else {
            $('#chkAllAccountID').removeAttr('checked');
        }
    }
    function OnClickAllAccount(item)
    {
        if ($(item).is(':checked')) {
            $('#GridEvaluationApply').find('input[id*="chkOneAccount_"]').attr('checked', 'checked');
        }
        else {
            $('#GridEvaluationApply').find('input[id*="chkOneAccount_"]').removeAttr('checked');
        }
    }
    function SaveSuccess(e)
    {
        smas.alert({ Type: e.Type, Message: e.Message });

        if (e.Type == 'success')
        {
            LoadEvaluationSystem();
            LoadEvaluationApply();
        }

    }
    function OnComplete() {
        smas.hideProcessingDialog();
    }
</script>