﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea.Models
@using SMAS.Web.Constants
@{
    List<EvaluationDevelopmentFormViewModel> lstResult = new List<EvaluationDevelopmentFormViewModel>();
 
        if(ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EVALUATION_SYSTEM] != null)
        {
            lstResult = (List<EvaluationDevelopmentFormViewModel>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EVALUATION_SYSTEM];
        }
        List<EvaluationDevelopmentFormViewModel> lstIsEnabled = lstResult.Where(x => x.IsEnabled == true).ToList();
}
<style>
     #GridEvaluationSystem table > tbody > tr {
        height:50px;
    }
</style>
@{     
    var index = 1;
    Html.Telerik()
    .Grid(lstResult)
    .Name("GridEvaluationSystem")
    .Columns(c =>
    {
        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
        c.Template(@<text>
            @if (item.IsEnabled)
            {
                <span>@item.EvaluationName</span>    
            }
            else
	        {
                <span style="color:red;">@item.EvaluationName</span>
	        }</text>).Title("Chỉ số").HtmlAttributes(new { style = "padding:5px;" }).Width(190);
    
        c.Template(@<text>
            @if (item.IsEnabled)
            {
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type ="checkbox" id="@("chkOneSystem_" + item.EvaluationDevelopmentID)" value ="@item.EvaluationDevelopmentID"
                         name="@("chkOneSystem_" + item.EvaluationDevelopmentID)" onclick ="OneClickSystem(this)" def="false"/>
                    <span class="checkmark">&nbsp;</span>
                </label>
            }
            else
            {
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input style="display:none" type ="checkbox" id="@("chkOneSystem_" + item.EvaluationDevelopmentID)" def="true"
                        value ="@item.EvaluationDevelopmentID" name="@("chkOneSystem_" + item.EvaluationDevelopmentID)"/>
                    <span class="checkmark">&nbsp;</span>
                </label>
            }
        </text>)
        .HeaderTemplate(@<text>
            @if (lstResult.Count() > 0 && lstIsEnabled.Count() > 0)
            {
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type ="checkbox" id="chkAllSystem" onclick ="OnClickAllSystem(this)" />
                    <span class="checkmark">&nbsp;</span>
                </label>
            }           
        </text>).HtmlAttributes(new { style = "text-align:center" }).Width(40);
    })
    .DataKeys(keys => keys.Add(o => o.EvaluationDevelopmentID))
    .Selectable()
    .Scrollable(p=>p.Height(300))
    .Footer(false)
    .Render();
    }
<script type ="text/javascript">
    
    function OneClickSystem()
    {
        var countchk = $('#GridEvaluationSystem').find('input[id*="chkOneSystem_"]').length;
        var countChecked = 0;
        $('#GridEvaluationSystem').find('input[id*="chkOneSystem_"]').each(function () {
            if ($(this).is(':checked')) {
                countChecked++;
            }
        });
        if (countchk == countChecked) {
            $('#chkAllSystem').attr('checked', 'checked');
        }
        else {
            $('#chkAllSystem').removeAttr('checked');
        }
    }
    function OnClickAllSystem(item)
    {
        if ($(item).is(':checked')) {
            $('#GridEvaluationSystem').find('input[id*="chkOneSystem_"]').attr('checked', 'checked');
        }
        else {
            $('#GridEvaluationSystem').find('input[id*="chkOneSystem_"]').removeAttr('checked');
        }
    }
</script>