﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea.Models
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea.Controllers
@using SMAS.Business.Common
@using SMAS.VTUtils.HtmlHelpers
@{
    GlobalInfo glo = new GlobalInfo();

    var index = 1;
    List<EvaluationDevelopmentOfAdminViewModel> lst = ((IEnumerable<EvaluationDevelopmentOfAdminViewModel>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_RESULT]).ToList();
    int Total = ViewData[EvaluationDevelopmentOfAdminConstants.TOTAL] != null ? (int)ViewData[EvaluationDevelopmentOfAdminConstants.TOTAL] : 1;
    int PageNum = ViewData[EvaluationDevelopmentOfAdminConstants.PAGE_NUMBER] != null ? (int)ViewData[EvaluationDevelopmentOfAdminConstants.PAGE_NUMBER] : 1;
    var countRecord = lst.Count();
    bool showOrder = ViewData[EvaluationDevelopmentOfAdminConstants.SHOW_ORDER] != null ? (bool)ViewData[EvaluationDevelopmentOfAdminConstants.SHOW_ORDER] : false;
    bool chooseProvince = ViewData[EvaluationDevelopmentOfAdminConstants.CHECK_CHOOSE_PROVINCE] != null ? (bool)ViewData[EvaluationDevelopmentOfAdminConstants.CHECK_CHOOSE_PROVINCE] : false;

    bool isLocked = ViewData[EvaluationDevelopmentOfAdminConstants.IS_LOCK] != null ? (bool)ViewData[EvaluationDevelopmentOfAdminConstants.IS_LOCK] : false;
   }
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message" style="width: 50%; display:flex">

            @if(chooseProvince)
            {
                <div class="p-t-8" style="margin-left:20px;display:flex">
                    <div>
                        <label class="custom-checkbox">
                            Nhà trường được phép khai báo chỉ số
                            <input type="checkbox" class="checkLocked" @(isLocked ? "checked='checked'": "") value="@(isLocked ? "1": "0")"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </div>
                </div>
            }
           
        </div>
        <div class="text-right">
             @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "Create()", "btnCreate btn btn-info btn-icon btn-round btn-icon-plus")
            @if (chooseProvince)
            {
                 @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", " btn btn-round btn-info btn-icon btn-icon-inout")
                 <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                 @{
                     List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                     listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                     listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                  }
                  @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                 </div>
            }            
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="eval-dev-of-ad-page-table">
        @{
            if (showOrder)
            {
                using (Ajax.BeginForm("EditOrderBy",
                           "EvaluationDevelopmentOfAdmin",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "OnCompleteOrderBy",
                               OnSuccess = "SaveSuccessOrderBy",
                               OnFailure = "SaveFailOrderBy"
                           },
                           new { id = "frmEditOrderBy" }
                           ))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("hdfValue", "")
                    @Html.Hidden("hdfTypeID", 0)
                
                    Html.Telerik()
                       .Grid(lst)
                   .Name("GridData")
                   .Columns(c =>
                   {
                       c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                       c.Template(@<text>@(item.ProvinceName)</text>).Title(Res.Get("PupilProfile_Label_Province")).HtmlAttributes(new { style = "padding-left:3px" }).Width(50);
                       c.Template(@<text>@(item.EvaluationGroupName)</text>).Title(Res.Get("Lĩnh vực")).HtmlAttributes(new { style = "padding-left:3px" }).Width(90);
                       c.Template(@<text>@(item.EvaluationName)</text>).Title(Res.Get("Tên chỉ số")).HtmlAttributes(new { style = "padding-left:3px" }).Width(200);
                       c.Template(@<text>@(item.EvaluationCode)</text>).Title(Res.Get("Ký hiệu")).HtmlAttributes(new { style = "padding-left:3px" }).Width(40);
                       c.Template(@<text>@(item.EducationName)</text>).Title(Res.Get("Nhóm lớp")).HtmlAttributes(new { style = "padding-left:3px" }).Width(50);
                       c.Template(@<text>@{                      
                            <input  oninput="onValidateOrder('@item.EvaluationID', event)" onkeypress="ValidateOrder('@item.EvaluationID', event)" id="@("orderBy_" + item.EvaluationID)" name="@("orderBy_" + item.EvaluationID)" value ="@(item.OrderBy)" style="height: 100% !important; width:100%;text-align:center" maxlength="2"/>
                       }</text>).Title(Res.Get("Thứ tự")).Width(40);
                       c.Template(@<text>@(item.StatusName)</text>).ClientTemplate("<#= StatusName #>").Title(Res.Get("Trạng thái")).HtmlAttributes(new { style = "padding-left:3px" }).Width(70);
                       c.Template(@<text>@{
                            <a id = "btnEdit" class="t-button t-button-icon t-ajax t-grid-vtEdit" href="" onclick="edit('@item.EvaluationID')">
                                                        <span class="t-icon icon icon-edit"></span></a>
                       }</text>).Title(Res.Get("EditRK")).Width(30).HtmlAttributes(new { style = "text-align:center" });
                       c.Template(@<text>@{
                            <a id="btnDelete" class="t-button t-button-icon t-ajax t-grid-vtDelete" href="" onclick="removeAssign('@item.EvaluationID')">
                                            <span class="t-icon icon icon-trash"></span></a>
                       }</text>)
                      .Title(Res.Get("DeleteRK")).Width(30).HtmlAttributes(new { style = "text-align:center" });
                   }).DataKeys(keys => keys.Add(o => o.EvaluationID)).Footer(false).Scrollable(x => x.Height(500)).Render();

                    if (lst.Count > 0)
                    {
                    <div class="vt-ResultPanel-Title">
                        <div class="vt-ResultPanel-Title-Message">
                        </div>
                        <div class="vt-ResultPanel-Title-Button" style="text-align: right">
                            @Html.ViettelButton(Res.Get("Cập nhật STT"), "button", "UpdateSTT()", "btnCreate")
                        </div>
                        <div class="Clear">
                        </div>
                    </div>
                    <div id="inforstt" style="display: none">
                        <input type="hidden" id="provinceSTT" name="provinceSTT" />
                        <input type="hidden" id="educationSTT" name="educationSTT" />
                        <input type="hidden" id="evaluationDevGroIdSTT" name="evaluationDevGroIdSTT" />
                        <input type="hidden" id="statusSTT" name="statusSTT" />
                        <input type="hidden" id="codeSTT" name="codeSTT" />
                        <input type="hidden" id="nameSTT" name="nameSTT" />
                        <input type="submit" id="submitOrderBy" hidden/>
                    </div>
            
                    <script>
                        $(document).ready(function () {
                            $("#provinceSTT").val($('#frmSeach #ProvinceID').val());
                            $("#educationSTT").val($('#frmSeach #EducationLevelID').val());
                            $("#evaluationDevGroIdSTT").val($('#frmSeach #EvaluationDevelopmentGroupID').val());
                            $("#statusSTT").val($('#frmSeach #StatusID').val());
                            $("#codeSTT").val($('#frmSeach #evalDevelopementGroCode').val());
                            $("#nameSTT").val($('#frmSeach #evalDevelopementGroName').val());

                            $('#frmEditOrderBy').find('input[name*="orderBy_"]').keypress(function (e) {
                                if (e.which == 13) {
                                    e.preventDefault();
                                }
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $('#frmEditOrderBy').find('input[name*="orderBy_"]').bind('paste', function () { return false; });                          
                        });
                    </script>
                    }

                }
            }
            else
            {
                Html.Telerik()
                   .Grid(lst)
               .Name("GridData")
               .Columns(c =>
               {
                   c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(15);
                   c.Template(@<text>@(item.ProvinceName)</text>).ClientTemplate("<#= ProvinceName #>").Title(Res.Get("PupilProfile_Label_Province")).HtmlAttributes(new { style = "padding-left:3px" }).Width(100);
                   c.Template(@<text>@(item.EvaluationGroupName)</text>).ClientTemplate("<#= EvaluationGroupName #>").Title(Res.Get("Lĩnh vực")).HtmlAttributes(new { style = "padding-left:3px" }).Width(80);
                   c.Template(@<text>@(item.EvaluationName)</text>).ClientTemplate("<#= EvaluationName #>").Title(Res.Get("Tên chỉ số")).HtmlAttributes(new { style = "padding-left:3px" }).Width(200);
                   c.Template(@<text>@(item.EvaluationCode)</text>).ClientTemplate("<#= EvaluationCode #>").Title(Res.Get("Ký hiệu")).HtmlAttributes(new { style = "padding-left:3px" }).Width(60);
                   c.Template(@<text>@(item.EducationName)</text>).ClientTemplate("<#= EducationName #>").Title(Res.Get("Nhóm lớp")).HtmlAttributes(new { style = "padding-left:3px" }).Width(60);
                   c.Template(@<text>@(item.StatusName)</text>).ClientTemplate("<#= StatusName #>").Title(Res.Get("Trạng thái")).HtmlAttributes(new { style = "padding-left:3px" }).Width(80);
                   c.Template(@<text>@{
                        <a id = "btnEdit" class="t-button t-button-icon t-ajax t-grid-vtEdit" href="" onclick="edit('@item.EvaluationID')">
                                                <span class="t-icon icon icon-edit"></span></a>
                   }</text>)
                  .ClientTemplate(" <#= fillUpdate(EvaluationID) #>")
                  .Title(Res.Get("EditRK")).Width(70).HtmlAttributes(new { style = "text-align:center" });
                   c.Template(@<text>@{
                        <a id="btnDelete" class="t-button t-button-icon t-ajax t-grid-vtDelete" href="" onclick="removeAssign('@item.EvaluationID')">
                                    <span class="t-icon icon icon-trash"></span></a>
                   }</text>)
                  .ClientTemplate("<#= fillDelete(EvaluationID) #>")
                  .Title(Res.Get("DeleteRK")).Width(70).HtmlAttributes(new { style = "text-align:center" });
               })
               .DataBinding(b => b.Ajax().Select("_GridBinding", "EvaluationDevelopmentOfAdmin"))
               .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding"))
               .DataKeys(keys => keys.Add(o => o.EvaluationGroupID))
               .Pageable(p => p.Enabled(true).PageSize(15).PageTo(PageNum).Total(Total))
               .EnableCustomBinding(true)
               .Scrollable(c => c.Enabled(true).Height("auto"))
               .Sortable().Render();
            }
                       
        }
    </div>
</div>

<script type="text/javascript">

    $(document).click(function (event) {
        if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
            $("#InOutBoxChoice").css("display", "none");
        }
    });

    function onInOutClick(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left + 8, top: position.top + 24, "z-index": "1000" });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("li a").attr("onclick", "InOutHandle(this)");
    };

    function InOutHandle(item) {
        if ($(item).attr('value') == 1) {
            $('#ImportExcel .t-window-content.t-content').css('width', '600px');
            $('#ImportExcel .t-window-content.t-content').css('height', 'auto !important');
            smas.openDialog('ImportExcel', '', {});
        }
        else {
            var provinceID = $('#frmSeach #ProvinceID').val();
            if (provinceID != 0)
            {
                window.location = "/EvaluationDevelopmentOfAdminArea/EvaluationDevelopmentOfAdmin/ExportExcel?ProvinceID=" + provinceID;
            } 
            }
     }



    $(".checkLocked").click(function () {
        var valCheck = $(".checkLocked").attr("value");
        if (valCheck == 1) {
            $(".checkLocked").attr("checked", false);
            $(".checkLocked").attr("value", 0);
        }
        else {
            $(".checkLocked").attr("checked", true);
            $(".checkLocked").attr("value", 1);
        }

        UpdateLock();
    });

    function UpdateLock()
    {
        var valCheck = $(".checkLocked").attr("value");
        var provinceID = $("#frmSeach #ProvinceID").val();
        $.ajax({
            url: '@Url.Action("CheckLock", "EvaluationDevelopmentOfAdmin")',
            type: 'post',
            data: { provinceID: provinceID, valCheck: valCheck },
             beforeSend: function () {
                 smas.showProcessingDialog();
             },
             success: function (msg) {
                 smas.hideProcessingDialog();
                 smas.alert(msg);
             },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 smas.alert(XMLHttpRequest.responseText);
                 smas.hideProcessingDialog();
             }
         });
    }


    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridData').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSeach");
    }

    function onValidateOrder(id, event) {
        var valTxt = $('#orderBy_' + id).val();
        if (valTxt == '' || valTxt == 'undefined' || valTxt == null) {
            if (event.which == 48) {
                $('#orderBy_' + id).val('');
            }
        }
        if (valTxt == "0") {
            $('#orderBy_' + id).val('');
        }
    }
    function ValidateOrder(id, event) {
        var valTxt = $('#orderBy_' + id).val();
        if (valTxt == '' || valTxt == 'undefined' || valTxt == null) {
            if (event.which == 48) {
                $('#orderBy_' + id).val('');
            }
        }
        if (valTxt == "0") {
            $('#orderBy_' + id).val('');
        }
    }

    function UpdateSTT() {
        var count = 0;
        $('#frmEditOrderBy').find('input[name*="orderBy_"]').each(function () {
            if ($(this).val().length == 0) {                
                count++;
            }
        });

        if (count != 0) {
            smas.alertColor('Thầy/cô chưa nhập hết số thứ tự', 'red');
        }
        else {
            $('#submitOrderBy').click();
        } 
    }

    function OnCompleteOrderBy() {
        smas.hideProcessingDialog();
    }

    function SaveSuccessOrderBy(e) {
        smas.hideProcessingDialog();

        if (e.Type == 'success') {
            smas.alert(e.Message);
        }
        else
            smas.alertColor(e.Message, 'red');
    }

    function SaveFailOrderBy(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function Create() {
        CreateDiv();
    }
    function CreateDiv() {
        $.ajax({
            url: '@Url.Action("GetInfoCreate", "EvaluationDevelopmentOfAdmin")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
                $('#divCreateEval').html(msg);
                smas.openDialog('CreateEval', '', {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function edit(id) {
        $('#evalID').val(id);
        EditDiv(id);
    }

    function EditDiv(id) {
        $.ajax({
            url: '@Url.Action("GetInfoEdit", "EvaluationDevelopmentOfAdmin")',
            type: 'post',
            data: { evaluationId: id },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();
                $('#divEditEval').html(msg);
                smas.openDialog('EditEval', '', {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function removeAssign(id) {
        var htmlMessage = "<br/>Thầy/cô có thực sự muốn xóa Chỉ số đánh giá này?";
        confirmDelete(htmlMessage, function () {
            $.ajax({
                url: '@Url.Action("Delete", "EvaluationDevelopmentOfAdmin")',
                type: 'post',
                data: { id: id },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {
                    smas.hideProcessingDialog();

                    if (data.Type == 'success') {
                        smas.alert(data.Message);
                        LoadDataOrder();
                    }
                    else {
                        smas.alertColor(data.Message, 'red');
                    }

                    smas.closeDialog("ConfirmDelete");

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        });
        }

        function confirmDelete(message, func, func2) {
            $("#ConfirmDelete .t-window-content").css("height", "auto");
            $("#ConfirmDelete #Message").html(message);
            $("#ConfirmDelete #OK").unbind("click").click(function () {
                smas.closeDialog("ConfirmAlertDialog");
                func();
            });
            $("#ConfirmDelete #Cancel").unbind("click").click(function () {
                smas.closeDialog("ConfirmDelete");
                if (func2 != undefined) {
                    func2();
                }
            });
            smas.openDialog("ConfirmDelete", "", {});
        }

        function ReasonChange(obj) {
            var reasonId = $(obj).val();
            if (reasonId == "" || reasonId == null) {
                $("#idcreatebreath").css("display", "none");
            } else {
                $("#idcreatebreath").css("display", "block");
            }
        }

        function fillOrderBy(EvaluationID, OrderBy) {
            var html = '<input maxlength="2" name="orderBy_' + EvaluationID + '"' + 'value ="' + OrderBy + '"' + 'style="height: 100% !important; width:100%; text-align:center"/>';
            return html;
        }

        function fillUpdate(EvaluationID) {
            var iconX = '<span class="t-icon t-edit"></span>';
            var onClickEdit = 'onclick="edit(' + "'" + EvaluationID + "'" + ')"';
            html = '<a id="btnEdit" class="t-button t-button-icon t-ajax t-grid-vtEdit" href=""' + onClickEdit + "'>" + iconX + "</a>";
            return html;
        }

        function fillDelete(EvaluationID) {
            var iconX = '<span class="t-icon t-delete"></span>';
            var onClickRemove = 'onclick="removeAssign(' + "'" + EvaluationID + "'" + ')"';
            html = '<a id="btnDelete" class="t-button t-button-icon t-ajax t-grid-vtDelete" href=""' + onClickRemove + "'>" + iconX + "</a>";
            return html;
        }
</script>
