﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea

@{
       GlobalInfo glo = new GlobalInfo();
}

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        @Res.Get("Thông tin tìm kiếm")
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
    </div>
    <div class="vt-SearchPanel-Content eval-dev-of-ad-page-search">
        @using (Ajax.BeginForm("Search",
                           "EvaluationDevelopmentOfAdmin",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstTeachingSchedule",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSeach" }))
        {
            if (glo.IsSuperVisingDeptRole)
            { 
                @Html.ViettelCombobox(Res.Get("PupilProfile_Label_Province"), "ProvinceID",
                (IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentOfAdminConstants.LISTPROVINCE], GlobalConstants.NO_PLACEHOLDER,
                new Dictionary<string, object>() { { "disabled", "disabled" } }, true, false)               
            }
            else
            { 
                 @Html.ViettelCombobox(Res.Get("PupilProfile_Label_Province"), "ProvinceID",
                (IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentOfAdminConstants.LISTPROVINCE], GlobalConstants.PLACEHOLDER_ALL,
                new Dictionary<string, object>() { { "OnChange", "ProvinceChange();" } }, false, false)
            }       
                             
            @Html.ViettelCombobox("Nhóm lớp", "EducationLevelID",
               (IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EDUCATIONLEVEL],
               GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadEducation();" } },
               false, false)
          
              @*@Html.ViettelCombobox("Lĩnh vực", "EvaluationDevelopmentGroupID",
               (IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_EVALUATION_DEVELOPMENT_GROUP],
               GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() { { "onchange", "LoadEvaluationDevGro();" } },
               false, false)*@

             <div class="clear"></div>
            <div>
                <div class="vt-control">
                    <div class="editor-label">
                        <span>Ký hiệu</span>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="evaluationDevCode"/>
                    </div>
                </div>
                <div class="vt-control">
                    <div class="editor-label">
                        <span>Tên chỉ số</span>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="evaluationDevName"/>
                    </div>
                </div>
                <div>
                    @Html.ViettelCombobox("Trạng thái", "StatusID",
               (IEnumerable<SelectListItem>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_STATUS],
               GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() {{"style", ""}},
               false, false)
                @Html.ViettelCombobox("Lĩnh vực", "EvaluationDevelopmentGroupID", new List<SelectListItem>(), 
            SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, 
            new Dictionary<string, object> { { "onchange", "LoadEvaluationDevGro();" } }, false, false)

            </div>
            </div>
            
            <div class="clear"></div>
            <div class="text-center">
                <input type="submit" id="btnSearchScheduleID" style="display: none;">
                <input type="button" class="btn btn-info btn-round btn-icon btn-icon-search" id="btnSearch" value="@Res.Get("Common_Button_Search")" />
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $('#btnSearch').click(function () {
        LoadDataOrder();
    });

    $("#evaluationDevCode").on("input", function () {
        var valCode = $('#evaluationDevCode').val();
        var res = valCode.toUpperCase();
        $('#evaluationDevCode').val(res);
    });

    $("#evaluationDevCode").keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
        }
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 32
            && (e.which < 65 || e.which > 90) && (e.which < 97 || e.which > 122)) {
            return false;
        }
    });

    function LoadDataOrder() {
        var province = $('#frmSeach #ProvinceID').val();
        var education = $('#frmSeach #EducationLevelID').val();
        var evaluaDevGroId = $('#frmSeach #EvaluationDevelopmentGroupID').val();
        if ((province.length != 0 && education.length != 0 && evaluaDevGroId.length != 0)
            && (province != 'undefined' && education != 'undefined' && evaluaDevGroId != 'undefined')) {
            LoadData(true);
            return;
        }
        LoadData(false);
    }

    function ProvinceChange() {
        FillEvaluationDevGroup_Search();
       // LoadDataOrder();
    }

    function LoadEducation() {
        FillEvaluationDevGroup_Search();
      //  LoadDataOrder();
    }

    function LoadEvaluationDevGro() {
      //  LoadDataOrder();
    }

    function FillEvaluationDevGroup_Search() {
        var provinceId = $('#frmSeach #ProvinceID').val();
        var educationId = $('#frmSeach #EducationLevelID').val();
        if (provinceId >= -1 && educationId > 0 && provinceId != 0) {
            $.ajax({
                url: '@Url.Action("GetInfoEvaluationDevGro", "EvaluationDevelopmentOfAdmin")',
                type: 'post',
                data: { provinceId: provinceId, educationId: educationId },
                success: function (data) {
                    $("#frmSeach #EvaluationDevelopmentGroupID").find('option').remove().end().append("<option value>[Tất cả]</option>");
                    $.each(data, function (index, value) {
                        $("#frmSeach #EvaluationDevelopmentGroupID").append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $("#frmSeach #EvaluationDevelopmentGroupID").find('option').remove().end().append("<option value>[Tất cả]</option>");
        }
    }


</script>



