﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea.Models
@using SMAS.Web.Areas.EvaluationDevelopmentOfAdminArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.BusinessObject;
@using System.Linq

@{
    List<ErrorViewModel> lstError = new List<ErrorViewModel>();

    if (ViewData[EvaluationDevelopmentOfAdminConstants.LIST_ERROR_IMPORT] != null)
    {
        lstError = (List<ErrorViewModel>)ViewData[EvaluationDevelopmentOfAdminConstants.LIST_ERROR_IMPORT];
    }
}
    @Html.AntiForgeryToken()
    <div id="ContentMark">
        @{
                var index = 1;
                Html.Telerik()
                           .Grid(lstError)
                           .Name("GridError")
                           .Columns(c =>
                           {
                               c.Template(@<text>@{@index; index++;}</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(20);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.EvaluationNameGroup</span>}</text>).Title("Lĩnh vực").Width(70);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.EvaluationCode</span>}</text>).Title("Chỉ số").Width(40);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.EvaluationName</span>}</text>).Title("Nội dung chỉ số").Width(100);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.Description</span>}</text>).Title("Mô tả lỗi").Width(100);
                               c.Template(@<text>@{<span style="padding-left:3px">@item.SheetName</span>}</text>).Title("Tên sheet excel").Width(50);

                           }).DataKeys(keys => keys.Add(o => o.EvaluationNameGroup)).Scrollable(p => p.Height(320))
                               .Selectable().Footer(false).Render();
        }
    </div>
    <div id="ListButton">
        <span id="ListButtonRight">
            <input type="button" id="btnDelete" class="t-button " onclick="CloseDialogQC()" value="Đóng">
        </span>
    </div>

<script>
    function CloseDialogQC() {
        smas.closeDialog("ImportErrorDialog");       
    }
</script>
<style>
    .ErrorPupup {
        background-color: white;
        display: none;
        position: absolute;
        width: 290px;
        height: auto;
        border: 1px solid #f5ecec;
    }

    #ListButton {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #ListButtonRight {
        margin-left: 300px
    }
</style>
