﻿@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Chỉ số đánh giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="lstResult"></div>
<div style="display: none">
    <input type="hidden" id="evalID" />
</div>

@(Html.Telerik().Window().Name("ImportExcel").Title("Import từ file excel")
                .Content(@<text>@Html.Partial("_ImportExcel")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(600)
)

@(Html.Telerik().Window().Name("ImportErrorDialog").Title("Danh sách lỗi")
                .Content(@<text><div id="lstError"></div></text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(800)
)

@(Html.Telerik().Window().Name("CreateEval").Title("Thêm mới chỉ số đánh giá")
                .Content(@<text><div id="divCreateEval" class="eval-dev-of-ad-page-create"></div></text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(760).Height(500).ContentHtmlAttributes(new { style="min-width: 760px;"})
)

@(Html.Telerik().Window().Name("EditEval").Title("Cập nhật chỉ số đánh giá")
                .Content(@<text><div id="divEditEval" class="eval-dev-of-ad-page-edit"></div></text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(760).Height(500).ContentHtmlAttributes(new { style="min-width: 760px;"})
)

@(Html.Telerik().Window()
                .Name("ConfirmDelete")
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmDelete")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500))
<script>

    $(document).ready(function () {
        var showOrder = false;
        LoadData(showOrder);
    });

    function LoadData(showOrder) {
        var eduId = $('#frmSeach #EducationLevelID').val();
        var provinceId = $('#frmSeach #ProvinceID').val();
        var statusId = $('#frmSeach #StatusID').val();
        var evaluaCode = $('#frmSeach #evaluationDevCode').val();
        var evaluaName = $('#frmSeach #evaluationDevName').val();
        var evaluaDevGroId = $('#frmSeach #EvaluationDevelopmentGroupID').val();

        $.ajax({
            url: '@Url.Action("Search", "EvaluationDevelopmentOfAdmin")',
            type: 'post',
            data: {
                eduId: eduId,
                provinceId: provinceId,
                statusId: statusId,
                evaluaCode: evaluaCode,
                evaluaName: evaluaName,
                evaluaDevGroId: evaluaDevGroId,
                showOrder: showOrder,
            },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#lstResult').html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }


    function ImportSemester() {
        var provinceID = $('#frmSeach #ProvinceID').val();
        var dataInput = null;
        //var typeimport = $("#HiddenPanel #TypeImportValue").val();

        dataInput = { provinceID: provinceID };
        if (dataInput != null) {
            $.ajax({
                url: '@Url.Action("ImportExcel", "EvaluationDevelopmentOfAdmin")',
                    type: 'post',
                    data: dataInput,
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        smas.closeDialog('ImportExcel');

                        if (msg.Type == 'CreateViewError') {
                            $('#ImportErrorDialog #lstError').html(msg.Message);
                            setTimeout(function () {
                                smas.openDialog('ImportErrorDialog', '', {});
                            }, 300);

                        }
                        else {
                            if (msg.Type == 'error') {
                                smas.alertColor(msg.Message, 'red');
                            } else {
                                smas.alert(msg.Message);
                                //LoadGrid();
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            }
            else {
                smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
            }
        }
</script>
