@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassMovementArea.Models
<style type="text/css">
   #searchPanel .vt-control{width:45%}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "ClassMovement",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstClassMovement",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        <div id="searchPanel">
            @Html.ViettelEditorForModel()
            <div class="vt-form-button">
                @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")
            </div>
            <div id="lstClassMovement">
                @Html.Partial("_List")
            </div>
            
        </div>
    }
</fieldset>
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    function AjaxLoadClass(cboEducationLevel, educationLevelId) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
             $("#" + frmId + " #ToClassID"),
            '@Url.Action("AjaxLoadingToClass", "ClassMovement")',
            { educationLevelId: educationLevelId },
             '@Res.Get("All")'
        )
        ;
    }
    
</script>
