﻿@model ClassMovementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassMovementArea.Models
@using SMAS.Web.Constants
<table width="95%">
    <tr>
        <td id="lsOldClassGrid" style="width: 46%">
            @Html.Partial("OldClassGrid")
        </td>
        <td style="text-align: center; width: 8%; vertical-align: middle">
            @*<input  type="button" class="_button" value=">>" onclick="OnForwardButtonClick()"/>*@
            <div style="text-align:center">@Html.ViettelButton(">>", "button", "OnForwardButtonClick()", "vt-button")</div>            
            <br />
            @* <input  type="button" class="_button" value="<<" onclick="OnBackwardButtonClick()"/>*@
            <div style="text-align:center">@Html.ViettelButton("<<", "button", "OnBackwardButtonClick()", "vt-button")</div>
        </td>
        <td id="lsNewClassGrid" style="width: 46%">
            @Html.Partial("NewClassGrid")
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <br />
            @Html.ViettelLabel(@Res.Get("ClassMovement_Label_Reason"))
        </td>
    </tr>
    <tr>
        <td colspan="3">
            @*@(Html.ViettelTextArea("txaReason", "", new Dictionary<string, object> { { "style", "width:100%;height:50px" } }))*@
            @(Html.ViettelTextAreaFor( m => m.Reason, new Dictionary<string, object> { { "style", "width:100%;height:50px" },{"onkeyup","CheckLength(this)"} }))
        </td>
    </tr>
</table>
<script type="text/javascript">
    function CheckLength(text) {
        var str = text.value;        
        if (str.length == 0) {
            return;
        }      
        var len = str.length;
        if (len > 256) {
            var n = str.substr(0, 256);
            //alert(n);
            document.getElementById("Reason").value = "";
            document.getElementById("Reason").value = n;
        }
    }
    function OnForwardButtonClick() {
        contentReasionClassMove = $('#Reason').val().trim();
        var newClassID = $("#cbNewClass").val();
        if (newClassID == "") {
            smas.alert('@Res.Get("ClassMovement_Validate_NewClass")');
            return;
        }
        var checkedOldPupil = $('#lsOldClassGrid').find('input[type="checkbox"]:checked');
        if (checkedOldPupil.length < 1) {
            smas.alert('@Res.Get("Common_Label_ErrorCheckMessage")');
            return;
        }

        $.ajax({
            url: '@Url.Action("TransferDataForward", "ClassMovement")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },

            data: checkedOldPupil,
            success: function (data) {
                smas.hideProcessingDialog();
                $('#lsGird').html(data);
                $('#Reason').val(contentReasionClassMove);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })



    }

    function OnBackwardButtonClick() {

        contentReasionClassMove = $('#Reason').val().trim();
        var checkedNewPupil = $('#lsNewClassGrid').find('input[type="checkbox"]:checked');

        if (checkedNewPupil.length < 1) {
            smas.alert('@Res.Get("Common_Label_ErrorCheckMessage")');
            return;
        }

        $.ajax({
            url: '@Url.Action("TransferDataBackward", "ClassMovement")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },

            data: checkedNewPupil,
            success: function (data) {
                smas.hideProcessingDialog();
                $('#lsGird').html(data);
                $('#Reason').val(contentReasionClassMove);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })

    }


   
</script>
