﻿
 @model IEnumerable<SMAS.Web.Areas.ClassMovementArea.Models.ClassMovementObject>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassMovementArea.Models
@using SMAS.Web.Areas.ClassMovementArea

@*@(Html.ViettelListBox("listBoxOldClassGrid",(IEnumerable<SelectListItem>)ViewData[ClassMovementConstants.LS_LISTOLDCLASS]
  ,new Dictionary<string,object> { {"style","width:450px;height:300px"} }))*@
@{
       
    //Paginate<ClassMovementObject> paging = (Paginate<ClassMovementObject>)ViewData[ClassMovementConstants.LS_LISTOLDCLASS];
    //var index = 0;
    //index = (paging.page - 1) * paging.size + 1;        
    List<ClassMovementObject> lsTraining = ViewData[ClassMovementConstants.LS_LISTOLDCLASS] as List<ClassMovementObject>;
    var index = 1;
}



@{Html.Telerik().Grid<ClassMovementObject>(lsTraining)
        .Name("OldClassGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.PupilProfileID);
        })
            .Columns(columns =>
            {
                columns.Template(@<text>@(index++)</text>)
                     .ClientTemplate("<#= lstInd++ #>")
                     .Title(@Res.Get("Common_Column_Order"))
                     .HtmlAttributes(new { style = "text-align:center" })
                     .Width(20);
                columns.Bound(p => p.PupilCode).Width(80);
                columns.Bound(p => p.FullName).Width(120);
             columns.Template(
                        @<text>
                            <input name="checkedOldPupil" type="checkbox" 
                                value="@item.PupilOfClassID " title="checkedOldPupil"                        
                                                                />
                        </text>
                    )
                    .HeaderTemplate(
                        @<text>
                            <input type="checkbox" title="check all records" onclick="checkAllOldPupil(this)" id="checkedOldPupil"
                                />
                        </text>
                    )
                    .Width(50)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" });

              
            })

             .ClientEvents(events => events.OnDataBinding("OldClassGrid_onDataBinding"))
         //   .Pageable(p => p.Total(paging.total).PageTo(paging.page).PageSize(paging.size))
         //   .EnableCustomBinding(true)
       .Render();
     }

<script type="text/javascript">
    var lstInd = 0;
    function OldClassGrid_onDataBinding(e) {
        var grid = $('#OldClassGrid').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }

    function checkAllOldPupil(obj) {
        $("#OldClassGrid tbody input:checkbox").attr("checked", obj.checked);
    }
</script>
  

 
  