﻿@model FoodCatViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.FoodCatArea.Models
@using SMAS.Web.Areas.FoodCatArea
@using SMAS.Models.Models
@using SMAS.Web.Constants

@using (Ajax.BeginForm("Create",
                       "FoodCat",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
	@Html.AntiForgeryToken()
 <div id = "a">       
 <div style="float:left;width:100%">
 <div style="float:left;width:50%">
    @Html.ViettelEditorFor(model => model.FoodName) 
</div>
 <div style="float:left;width:50%">
    @Html.ViettelEditorFor(model => model.ShortName) 
</div>
</div>

     <div style="float:left;width:100%">   
 <div style="float:left;width:50%"> 
    @Html.ViettelCombobox(Res.Get("FoodCat_Lable_TypeOfFood"), "TypeOfFoodID",
                   ((IEnumerable<SelectListItem>)ViewData[FoodCatConstants.LIST_TYPEOFFOOD]),
                       GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>(), true, true) 
</div>
  <div style="float:left;width:20%">        
    @Html.ViettelCombobox(Res.Get("FoodCat_Lable_GroupType"), "GroupType",
                   ((IEnumerable<SelectListItem>)ViewData[FoodCatConstants.LIST_GROUPTYPE]),
                           GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object>(), true, true)   
  </div>
  <div style="float:left;width:20%" id="DiscardedRate" >  
   @Html.ViettelEditorFor(model => model.DiscardedRate, new Dictionary<string, object>() { { "style", "width: 30px; height: 22px;" }, { "onkeypress", "return onkeynumber(event, this.value)" } }) 
   </div>
<div style="float:left;width:5%">  
(%)
</div>
   </div>

<div style="float:left;width:100%"> 
    <div style="float:left;width:50%"> 
    @Html.ViettelCombobox(Res.Get("FoodCat_Lable_FoodPacking"), "FoodPackingID",
                   ((IEnumerable<SelectListItem>)ViewData[FoodCatConstants.LIST_FOODPACKING]),
                           GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object>(), false, false)   
</div>
<div style="float:left;width:50%"> 
</div>
</div>    

  <div style="float:left;width:100%">   
    
  <div style="float:left;width:50%"> 
    @Html.ViettelCombobox(Res.Get("FoodCat_Lable_FoodGroup"), "FoodGroupID",
                   ((IEnumerable<SelectListItem>)ViewData[FoodCatConstants.LIST_FOODGROUP]),
                           GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object>(), false, false)   

</div>

 <div style="float:left;width:16%" id = "price"> 
    @Html.ViettelEditorFor(model => model.Price, new Dictionary<string, object>() { { "style", "width: 40px" }, { "onkeypress", "return onkeynumber(event, this.value)" }, { "maxlength", "9" } }) 
</div>
<div style="float:left;width:8%"> 
(đồng)
</div>

<div style="float:left;width:23%"> 

 @Html.ViettelCombobox(Res.Get("FoodCat_Lable_CalculationUnit"), "CalculationUnit",
                   ((IEnumerable<SelectListItem>)ViewData[FoodCatConstants.LIST_CalculationUnit]),
                                   GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object>(), false, false)   

</div>
   

    </div> 
    
  </div> 
    <div style="clear:both;">
    </div>
    <div id= "b">                             
    <fieldset>
    
  <div style="float:left;width:100%">
  <div style="float:left;width:10%;">
    @Html.ViettelLabel("", Res.Get("FoodCat_Label_PLG"))
    </div>
    <div style="float:left;width:85%">
    <fieldset style="border: 1px solid #EEE; padding: 0px 5px 0px 5px;">
  <div style="float:left;width:100%">
  <div style ="float:left;width:15%">@Html.ViettelLabel("", Res.Get("FoodCat_Label_Concentration"))</div>
   <div style ="float:left;width:13%">@Html.ViettelEditorFor(model => model.Protein, new Dictionary<string, object>() { { "style", "width: 30px" }, { "onkeypress", "return onkeynumber(event, this.value)" } }) </div>
   <div style ="float:left;width:5%">(g)</div>
    <div style ="float:left;width:13%">@Html.ViettelEditorFor(model => model.Fat, new Dictionary<string, object>() { { "style", "width: 30px" }, { "onkeypress", "return onkeynumber(event, this.value)" } }) </div>
    <div style ="float:left;width:5%">(g)</div>
     <div style ="float:left;width:13%">@Html.ViettelEditorFor(model => model.Sugar, new Dictionary<string, object>() { { "style", "width: 30px" }, { "onkeypress", "return onkeynumber(event, this.value)" } }) </div>
     <div style ="float:left;width:5%">(g)</div>
      <div style ="float:left;width:13%"> @Html.ViettelEditorFor(model => model.Calo, new Dictionary<string, object>() { { "disabled", "disabled" }, { "style", "width: 30px" } }) </div>
      <div style ="float:left;width:5%">(Kcal)</div>
   </div>
   
    </fieldset>
    </div>
    </div>

  <div style="float:left;width:100%">
  <div style="float:left;width:10%">
    @Html.ViettelLabel("", Res.Get("FoodCat_Label_Mineral"))
  </div>
   <div style="float:left;width:90%">
        <fieldset>
            <div style="float:left;width:100%">   
                @{
                    List<MinenalCat> lstMinenalCat = ViewData[FoodCatConstants.LIST_MINERALCAT] as List<MinenalCat>;
                    foreach (var itemMineralCat in lstMinenalCat)
                    {
                         <div style="float:left;width:20%">
                        @Html.ViettelTextbox(itemMineralCat.MinenalName, itemMineralCat.MinenalName, "", new Dictionary<string, object> { { "id", itemMineralCat.MinenalCatID }, { "style", "width: 30px" }, { "maxlength", "3" }, { "onkeypress", "return onkeynumber(event, this.value)" } }, false, false) 
                        </div>
                        <div style="float:left;width:7%; margin-left: -30px">(mg)</div>
                    }
                }
            </div>
        </fieldset>
    </div>
    </div>
    <div style="padding-right: auto"> 
        <label style = "color:#FAAC58">@Res.Get("FoodCat_Label_Note")</label>
    </div>
    </fieldset>
 </div>   

    <div class="dialog-buttons">
		@Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
		@Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "")       
    </div>
}

<script type="text/javascript">
    $("#FoodPackingID").removeAttr("data-val-required");
    $("#Price").removeAttr("data-val-required");
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            formUtils.focusForm("frmCreate");
            search();
            setTimeout(smas.closeDialog('createDialog'),1000);
        }
    }
    

    function CreateFail(ajaxContext) {
       // smas.alert(ajaxContext.responseText);
    }

    function CalculateCalo() {
        var Protein = $('#Protein').val();
        if (Protein.length == 0) {
            Protein = 0;
        }
        var Fat = $('#Fat').val();
        if (Fat.length == 0) {
            Fat = 0;
        }
        var Sugar = $('#Sugar').val();
        if (Sugar.length == 0) {
            Sugar = 0;
        }
        var calo = Protein * 4 + Fat * 9 + Sugar * 4;
        $('#Calo').val(calo);
    }

    $(document).ready(function () {
        $('#Protein').keyup(function (e) {
            return CalculateCalo();
        });
        $('#Fat').keyup(function (e) {
            return CalculateCalo();
        });
        $('#Sugar').keyup(function (e) {
            return CalculateCalo();
        });

        $('#Protein').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
        $('#Fat').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
        $('#Sugar').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
        $('#Price').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
        $('#DiscardedRate').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
    });

//    function onkeynumber(evt, input) {
//        var charCode = (evt.which) ? evt.which : event.keyCode
////        if (charCode > 31 && (charCode < 48 || charCode > 57))
////            return false;

//        //        return true;
////        alert(input.match(/^0*\d(,\d?)?$/));
////        alert(input.match(/^0*100(,0?)?$/));
//        //        alert(input.match(/^0*\d(,\d?)?$/) || input.match(/^0*100(,0?)?$/));
//        //alert(input.toString());

//        var curVal = input + String.fromCharCode(charCode);
//        alert(curVal);
//        if (curVal.match(/^0*\d{1,2}(,\d?)?$/) || curVal.match(/^0*100(,0?)?$/))
//            return true;
//        else
//            return false;
//    }

    function onkeynumber(e, input) {
//        var code = (e.keyCode ? e.keyCode : e.which);
//        var curVal = input + String.fromCharCode(code);

//        if (curVal.match(/^0*\d{1,2}(,\d?)?$/) || curVal.match(/^0*100(,0*)?$/))
//            return true;
//        else
//            return false;
    }
</script>

<style type="text/css">
    .t-window #b .editor-field{width:30%}.t-window #b .editor-field input{height:22px}.t-window #b .editor-label{width:48%!important;padding-top:0}.t-window #a .editor-field{width:60%}.t-window #DiscardedRate .editor-field{width:20%}.t-window #DiscardedRate .vt-control{width:100%}.t-window #DiscardedRate .editor-label{width:50%}.t-window #price .editor-field{width:20%}.t-window #price .vt-control{width:100%}.t-window #price .editor-label{width:55%;padding-top:1px}.editor-field input[type=text],.editor-field textarea{height:22px}.t-window .editor-label{padding-top:1px}
</style>