﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportSupervisingDeptArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportSupervisingDeptArea
@model SearchViewModel
<fieldset style="height: 120px;">
    <legend>@Res.Get("ReportSupervisingDept_Label_Search")</legend>
    <div>
        @Html.ViettelComboboxFor(u => u.AcademicYearID, Res.Get("AcademicYear_Label_Year"), (List<SelectListItem>)ViewData[ReportSupervisingDeptConstants.LIST_ACADEMIC_YEAR], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
        @Html.ViettelComboboxFor(u => u.AppliedLevel, Res.Get("AcademicYear_Label_AppliedLevel"), (SelectList)ViewData[ReportSupervisingDeptConstants.LIST_Applied_Level], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "OnChange", "loadEducationLevel(this.options[this.selectedIndex].value);" } }, false)
        @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[ReportSupervisingDeptConstants.LIST_EDUCATION_LEVEL], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
        @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[ReportSupervisingDeptConstants.LIST_SEMESTER], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
        @Html.ViettelComboboxFor(u => u.DistrictID, Res.Get("District_Label_AllTitle"), (SelectList)ViewData[ReportSupervisingDeptConstants.LIST_DISTRICT], SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, null, false)
    </div>
</fieldset>
