﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportSupervisingDeptArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportSupervisingDeptArea
@model SearchViewModel
<fieldset style="height: 120px;">
    <legend>@Res.Get("Loại báo cáo")</legend>
    <div>
        @Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> { { "onchange", "LoadData4Report(this)" } }, (List<ViettelCheckboxList>)ViewData[ReportSupervisingDeptConstants.LIST_TYPESTATICS], false, true)
    </div>
</fieldset>
