﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SubjectCatArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.ReportSupervisingDeptArea.Models
@using SMAS.Business.Common
@using SMAS.Web.Areas.ReportSupervisingDeptArea
@model SearchViewModel
<style type="text/css">
    #frmSearch .vt-control{width:30%}
</style>
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
    @using (Ajax.BeginForm("Search",
                           "ReportSupervisingDept",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "gridReport",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "SearchSuccess",
                               OnFailure = "OnFailure"

                           },
                           new { id = "frmSearch" }))
    {
        <div style="float: left; width: 25%">
            @Html.Partial("_ReportType")
        </div>
        <div style="float: left; width: 73%; margin-left: 10px;" id="divCriteria">
            @Html.Partial("_Criteria")
        </div>
        <div class="vt-form-button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")

        </div>
    }
</fieldset>
<script type="text/javascript">
    var isSupervisingDept = true; //bien xac dinh tai khoan la so
    $(document).ready(function () {
        $('#ReportType2').attr('disabled', true);
        var disable_cbb = "@ViewData[ReportSupervisingDeptConstants.DISABLE_COMBOBOX]";
        if (disable_cbb.toLowerCase() == "true") {
        isSupervisingDept = false; //gan lai la tai khoan 
        $("#DistrictID").attr('disabled', '');    
                       
                }
         })
    
    function LoadData4Report(e) {
        var type = $(e).val();
        if (type == 3) {
            controlUtils.loadComboBox(
            $("#AppliedLevel"),
            '@Url.Action("_LoadAppliedLevel", "ReportSupervisingDept")',
            {}
        );
        } else {
            controlUtils.loadComboBox(
            $("#AppliedLevel"),
            '@Url.Action("_LoadAppliedLevelFor23", "ReportSupervisingDept")',
            {}
        );
        }
    }

    function LoadGrid() {
//        $.ajax({
//            url: '@Url.Action("LoadGrid", "ReportSupervisingDept")',
//            type: 'post',
//            data: $("#frmSearch").serialize(),
//             beforeSend: function() {
//                smas.showProcessingDialog();
//            },
//            success: function (data) {
//                $("#gridReportCapacity").html(data);
//            },
//            complete : function() {
//                smas.hideProcessingDialog();
//            },
//            error: function (XMLHttpRequest, textStatus, errorThrown) {
//                smas.alert(XMLHttpRequest.responseText);
//            }
//        });
    }
    function SearchSuccess(data) {
        var item = $("#ReportType").val();
        if (item == "1") {
            $("#lstDK").html(data);
        }
        if (item == "2") {
            $("#lstHK").html(data);
        }
        if (item == "3") {
            $("#lstTBM").html(data);
        }
    }

    function loadEducationLevel(AppliedLevel) {
        if (AppliedLevel == 1) {
            $('#ReportType2').attr('disabled', true);
        } else {
            $('#ReportType2').removeAttr('disabled');
        }
        controlUtils.loadComboBox(
            $("#EducationLevelID"),
            '@Url.Action("_LoadEducationLevel", "ReportSupervisingDept")',
            { AppliedLevel: AppliedLevel },
            '@Res.Get("All")'
        );

        controlUtils.loadComboBox(
            $("#Semester"),
            '@Url.Action("_LoadSemester", "ReportSupervisingDept")',
            { AppliedLevel: AppliedLevel }
        );
    }
    function OnFailure(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

</script>