﻿@model ContentViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ExamRoomAssignArea.Models

<div id="lstExamRoom" style="float:left;width:24%">
    @Html.Partial("_RoomList", Model.listExamRoom)
</div>

<div id="lstExamPupil" style="float:right;width:75%">
    @Html.Partial("_ExamPupilList",Model.listExamPupil)
</div>