				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DishInspectionCostArea.Models

@{
    ViewBag.Title = @Res.Get("DishInspectionBusiness_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstDishInspection">
    @Html.Partial("_ListAll")
</div>
<style type="text/css">
    #SearchPanel .vt-control{width:45%;margin-right:10px;margin-left:10px}#GridOtherService .t-grid-pager.t-grid-bottom{width:auto!important}
</style>