﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.ExemptedSubjectArea.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExemptedSubjectArea
@model SearchViewModel
@using (Ajax.BeginForm("Search",
                           "ExemptedSubject",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstExemptedSubject",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelComboboxFor(u => u.ExemptScope, Res.Get("ExemptedSubject_Label_ExemptScope"), (SelectList)ViewData[ExemptedSubjectConstants.LIST_EXEMPTED_SCOPE], 1, null, false)
            @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("EducationLevel_Label_AllTitle"), (SelectList)ViewData[ExemptedSubjectConstants.LIST_EDUCATION_LEVEL], 1, new Dictionary<string, object>() { { "onchange", "fn_CbEducation_Change()" } }, false)
            @Html.ViettelComboboxFor(u => u.ClassID, Res.Get("ClassProfile_Label_AllTitle"), (SelectList)ViewData[ExemptedSubjectConstants.LIST_CLASS_PROFILE], 1, null, false)
            @Html.ViettelTextboxFor(u => u.PupilCode, Res.Get("PupilProfile_Label_PupilCode"), null, false)
            @Html.ViettelTextboxFor(u => u.FullName, Res.Get("PupilProfile_Label_FullName"), null, false)
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "if(!validateUtils.validateForm('frmSearch')) return false;", "")
        </div>
    </div>
}
</fieldset>
<script type="text/javascript">

    window.onload = function () { formUtils.focusForm("frmSearch"); };

    function fn_CbEducation_Change() {
        var eduID = $("#EducationLevelID").val().replace(/^\s+|\s+$/g, "");
        if (eduID == "" || isNaN(eduID) || parseInt(eduID, 10) <= 0) eduID = -1;
        $.ajax({
            url: '@Url.Action("LoadClass", "ExemptedSubject")',
            type: 'post',
            data: { eid: eduID },
            success: function (data) {
                $("#ClassID").find('option').remove().end().append($('<option value>@Res.Get("Common_Combo_All")</option>'));
                $.each(data, function (index, value) {
                    $('#ClassID').append($("<option></option>").attr("value", value.key).text(value.value));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
