@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RewardFinalArea.Model

    @using (Ajax.BeginForm("Search",
                           "RewardFinal",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstRewardFinal",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1 reward-final-search-page">
            <div class="vt-SearchPanel-Title">
                <span class="icon icon-search-file"></span>
                @Res.Get("Common_Label_SearchingCriteria")
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            </div>
            <div class="vt-SearchPanel-Content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.ViettelEditorForModel()
                    </div>
                </div>
            </div>
            <div class="vt-SearchPanel-Button">
                @*@Html.ViettelButton(Res.Get("Common_Button_Search"), "button", "SearchRewardFinal()", "")*@
                @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-search")
            </div>
        </div>
    }

<script type ="text/javascript">
    //function SearchRewardFinal() {
    //    AjaxLoadGrid();
    //    //$("#frmSearch input[type='submit']").click();
    //}  
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>
