﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.RewardFinalArea
@using SMAS.Models.Models
@using SMAS.Business.Business
@using SMAS.Web.Constants

@{
    ViewBag.Title = Res.Get("RewardFinal_Label");//Resource INDEX
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstRewardFinal">
    @Html.Partial("_List")
</div>

<script type ="text/javascript">

    $(document).ready(function () {
        formUtils.resetForm("frmSearch");
      
    });
</script>

@*<script type ="text/javascript">

    $(document).ready(function () {
        formUtils.resetForm("frmSearch");
        AjaxLoadGrid();
    });

    function AjaxLoadGrid()
    {
        var rewardFinalMode = $('#RewardMode').val();
        $.ajax({
            url: '/RewardFinalArea/RewardFinal/Search',
            data: { rewardFinalMode: rewardFinalMode },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                console.log(msg);
                $('#lstRewardFinal').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
</script>*@

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("RewardFinal_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(580)
                .Height(200)
                .HtmlAttributes(new {@class = "reward-final-window" })
)
@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("RewardFinal_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(580)
                .Height(200)
                .HtmlAttributes(new {@class = "reward-final-window" })
)

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>
