@model SMAS.Web.Areas.CommuneArea.Models.SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CommuneArea
@using SMAS.Models.Models
@using (Ajax.BeginForm("Search",
                                       "Commune",
                                       new AjaxOptions
                                       {
                                           HttpMethod = "post",
                                           UpdateTargetId = "lstCommune",
                                           OnBegin = "smas.showProcessingDialog",
                                           OnComplete = "smas.hideProcessingDialog"
                                       },
                                       new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelTextbox(@Res.Get("Commune_Label_CommuneName"), "CommuneName", "", new Dictionary<string, object> { { "id", "idCommuneName" } }, false, false)
                </div>
                <div class="col-md-6">
                    @Html.ViettelTextbox(@Res.Get("Commune_Label_CommuneCode"), "CommuneCode", "", new Dictionary<string, object> { { "id", "idCommuneCode" } }, false, false)
                </div>
                <div class="col-md-6">
                    @(Html.ViettelCombobox(@Res.Get("Commune_Label_Province"), "ProvinceID2", ((IEnumerable<SelectListItem>)ViewData[CommuneConstants.LIST_PROVINCE]),
                                   1,
                               new Dictionary<string, object> { { "OnChange", "AjaxLoadDistrict(this, this.options[this.selectedIndex].value);" } }, false, false
                               ))
                </div>
                <div class="col-md-6">
                    @(Html.ViettelCombobox(@Res.Get("Commune_Label_District"), "DistrictID2", ((IEnumerable<SelectListItem>)ViewData[CommuneConstants.LIST_DISTRICT]),
                                   1,
                               new Dictionary<string, object> { }, false, false
                               ))
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-search")
        </div>
    </div>
}

<script type="text/javascript">
    function AjaxLoadDistrict(cboProvince, provinceId) {
        frmId = $(cboProvince).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #DistrictID2"),
            '@Url.Action("AjaxLoadingDistrict", "Commune")',
            { provinceId: provinceId },
            '@Res.Get("All")'
        )
            ;
        }
        function AjaxLoadDistrictCreate(cboProvince, provinceId) {
            frmId = $(cboProvince).closest('form').get(0).id;
            controlUtils.loadComboBox(
                 $("#" + frmId + " #DistrictID"),
                '@Url.Action("AjaxLoadingDistrict", "Commune")',
            { provinceId: provinceId },
             '@Res.Get("SelectRK")'
        )
            ;
        }
        function search() {
            $("#frmSearch input[type='submit']").click();
        }
</script>




