@model SupplierViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SupplierArea.Models

@using (Ajax.BeginForm("Edit",
                       "Supplier",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="EditSupplier" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()

            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("SupplierID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
        </div>
    </div>
}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function NumberInputText(object, event, isKeyUp) {

        if (event.shiftKey && ((event.keyCode >= 48 && event.keyCode <= 57)
             || (event.keyCode >= 186 && event.keyCode <= 222))) {
            // Ensure that it is a number and stop the Special chars
            event.preventDefault();
        }
        else if ((event.shiftKey || event.ctrlKey) && (event.keyCode > 34 && event.keyCode < 40)) {
            // let it happen, don't do anything
        }
        else {
            // Allow only backspace , delete, numbers, dot               
            if (event.keyCode == 9 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 39 || event.keyCode == 37
                || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)) {
                // let it happen, don't do anything
            }
            else {
                // Ensure that it is a number and stop the key press
                event.preventDefault();
            }
        }
        var value = $(object).val();
        if (value.length == 2) {
            if ((value.charAt(0) == '0' && value.charAt(1) != '0')) {
                $(object).val(value.charAt(1));
            }
            else
                if ((value.charAt(0) == '0' && value.charAt(1) == '0')) {
                    $(object).val('0');
                }
        }

    }
</script>


