﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SupplierArea.Models
<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>
@using (Ajax.BeginForm("Search",
                           "Supplier",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstSupplier",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    @Html.ViettelEditorForModel() 	        
    @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "") 
}
</fieldset>
<style type="text/css">
    #SearchPanel .editor-label{width:28%}#frmSearch #TypeOfDishName{width:300px!important}#SearchPanel .editor-field{width:60%;margin-right:10px}#frmSearch .vt-control{width:50%;float:left}#SearchPanel form{padding-left:170px}#searchButton{float:right;width:20%}
</style>
<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }

     $(document).ready(function () {
         setTimeout(function () { $("#SupplierName").focus(); }, 500); 
        });
</script>
