﻿@using SMAS.Web.Areas.SMSEduArea;
@{
    ViewBag.Title = "BrandnameRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string smsEduUrl =(string)ViewData[SMSEduConstanst.SMS_SCHOOL_URL];
    smsEduUrl = smsEduUrl + "/BrandnameRegistrationArea/BrandnameRegistration";
}
<div class="IframeContentStyle">
    <iframe id="SmsEduFrameBrandname" src="@smsEduUrl"
            height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" style="height:600px;"
            width="100%" onload="iFrameUtils.checkAvailableEDU()"></iframe>
</div>

