﻿@using SMAS.Web.Areas.SMSEduArea;
@{
    ViewBag.Title = "SchoolContractManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string smsEduUrl = (string)ViewData[SMSEduConstanst.SMS_SCHOOL_URL];
    smsEduUrl = smsEduUrl + "/SMSParentManageContract/SMSParentManageContract";
}
<div class="IframeContentStyle">
    <iframe id="SmsEduFrame" src="@smsEduUrl"
            height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"
            width="100%" onload="iFrameUtils.checkAvailableEDU()"></iframe>
</div>
<style type="text/css">
.IframeContentStyle{
height:765px !important;
}
#SmsEduFrame{
height:760px !important;
}
</style>
