﻿@using SMAS.Web.Areas.SMSEduArea;
@{
    ViewBag.Title = "SendSMSToSchool";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string smsEduUrl = (string)ViewData[SMSEduConstanst.SMS_SCHOOL_URL];
    smsEduUrl = smsEduUrl + "/SendSMSToSchool/SendSMSToSchool";
}

<div class="IframeContentStyle">
    <iframe id="SmsEduFrame" src="@smsEduUrl"
            height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"
            width="100%" onload="iFrameUtils.checkAvailableEDU()"></iframe>
    <div id="ScrollToDiv">
    </div>
</div>
