﻿@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Controllers
@using SMAS.Web.Utils;
@{
    ViewBag.Title = SMAS.Web.Utils.Res.Get("DataImport_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var RequireAcad = false;
    GlobalInfo globalInfo = new GlobalInfo();
    if (globalInfo.AcademicYearID == null)
    {
        RequireAcad = true;
    }

    BaseController bc = new BaseController();
    bool isNewSchoolModel = bc.IsNewSchoolModel();
    bool version23 = false;
    bool version3 = false;
}

            <div class="GroupContentSection">
                <!--Tiêu đề menu trái-->
                @{
                    GlobalInfo global = new GlobalInfo();
                    if(global.IsSchoolRole)
                    {
                      <div class="SideBarTopMenu">
                    <div class="SideBarBtmMenu">
                        <div class="SideBarLoopMenu">
                            <ul class="ResetList SideBarListMenu">
                            @if (global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
                            {
                                <li><a href="/AcademicYearArea/AcademicYear/Index?Tab=1&Pro=1">Thời gian năm học</a></li>
                                <li><a href="/SchoolFacultyArea/SchoolFaculty/Index?Tab=1&Pro=2">Khai báo tổ nhóm</a></li>
                                <li><a href="/ClassProfileArea/ClassProfile/Index?Tab=1&Pro=3">Khai báo lớp học</a></li>
                                <li><a href="/DeclareEvaluationGroupArea/DeclareEvaluationGroup/Index?Tab=1&Pro=4">Khai báo lĩnh vực đánh giá</a></li>
                                <li><a href="/DeclareEvaluationIndexArea/DeclareEvaluationIndex/Index?Tab=1&Pro=5">Khai báo chỉ số đánh giá</a></li>
                                <li><a href="/DeclareEvaluationCriteriaArea/DeclareEvaluationCriteria/Index?Tab=1&Pro=6">Khai báo chỉ số đánh giá cho lớp</a></li>
                            }
                            else
                            {
                                <li><a href="/AcademicYearArea/AcademicYear/Index?Tab=1&Pro=1">Thời gian năm học</a></li>
                                <li><a href="/SchoolFacultyArea/SchoolFaculty/Index?Tab=1&Pro=2">Khai báo tổ bộ môn</a></li>
                                if (global.ProductVersionID == SMAS.Business.Common.GlobalConstants.PRODUCT_VERSION_ID_ADVANCE || global.ProductVersionID == SMAS.Business.Common.GlobalConstants.PRODUCT_VERSION_ID_FULL)
                                {
                                    <li><a href="/SchoolSubjectArea/SchoolSubject/Index?Tab=1&Pro=3">Khai báo môn học cho trường</a></li>    
                                    version23 = true;
                                }
                                <li><a href="/ClassProfileArea/ClassProfile/Index?Tab=1&Pro=4">Khai báo lớp học</a></li>
                                if (version23)
                                {
                                    <li><a href="/ClassSubjectArea/ClassSubject/Index?Tab=1&Pro=5">Khai báo môn học cho lớp</a></li>
                                }
                                int pro = 6;
                                if (global.AppliedLevel != SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_PRIMARY && global.ProductVersionID == SMAS.Business.Common.GlobalConstants.PRODUCT_VERSION_ID_FULL)
                                {
                                    <li><a href="/DeclareSubjectIncreaseArea/DeclareSubjectIncrease/Index?Tab=1&Pro=@pro">Khai báo môn tăng cường</a></li>
                                    pro++;
                                    version3 = true;
                                }
                                if (isNewSchoolModel && global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_SECONDARY && version23)
                                {
                                    <li><a href="/VnenClassSubjectArea/VnenClassSubject/Index?Tab=1&Pro=@pro">Khai báo môn học lớp VNEN</a></li>
                                    pro++;
                                }
                                if ((global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_SECONDARY
                                    || global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_TERTIARY) && version3)
                                {
                                    <li><a href="/MinMarkNumberArea/MinMarkNumber/Index?Tab=1&Pro=@pro">Số con điểm tối thiểu</a></li>
                                    pro++;
                                }
                            }
                            </ul>
                        </div>
                    </div>
                </div>  
                    }
                    else if (global.IsSubSuperVisingDeptRole || global.IsSuperVisingDeptRole)
                    {
                           <div class="SideBarTopMenu">
                    <div class="SideBarBtmMenu">
                        <div class="SideBarLoopMenu">
                            <ul class="ResetList SideBarListMenu">
                                <li><a href="/AcademicYearOfProvinceArea/AcademicYearOfProvince/Index?Tab=1&Pro=1">Thời gian năm học</a></li>
                                <li><a href="/ProvinceSubjectArea/ProvinceSubject/Index?Tab=1&Pro=2">Khai báo môn học</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
                    }
                }
                
                <!--Hết Tiêu đề menu trái-->
                <div class="MainContentSectionRight">
                    <div class="ContentSectionSmallTop">
                        <div class="ContentSectionSmallBtm">
                            <div class="ContentSectionSmallLoop ContentSectionSmallLoop2">
                                <div class="ContentForm">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@RequireAcad' == 'true' || '@RequireAcad' == 'True') {
            setTimeout(function () { smas.alert('@Html.Raw(Res.Get("AcademicYear_Label_Require"))'); }, 200);

        }
       });
    $(document).ready(function () {
        var pro = GetURLParameter("Pro");
        var html = '';
        var index = '';
        if (pro != null && pro != undefined) {
            $(".SideBarListMenu li a").each(function () {
                $(this).removeClass("Active");
                html = $(this).attr('href');
                index = html.substr(html.length - 1, html.length);
                if (pro == parseInt(index)) {
                    $(this).addClass("Active");
                    if (pro == 1) {
                        $(".Breadcrum .BreadcrumList .EndItem span").addClass("Sprite1");

                        var objLi = "<li class='EndItem'><span>" + $(".SideBarListMenu li a").first().html() + "</span></li>";
                        $(".Breadcrum .BreadcrumList").append(objLi);
                    }
                }
            });
        } else {
            $(".SideBarListMenu li a").first().addClass("Active");

            $(".Breadcrum .BreadcrumList .EndItem span").addClass("Sprite1");

            var objLi = "<li class='EndItem'><span>" + $(".SideBarListMenu li a").first().html() + "</span></li>";
            $(".Breadcrum .BreadcrumList").append(objLi);
        }

    });
</script>