﻿@model CapacityStatisticsSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CapacityStatisticsSubjectSecondaryArea.Models
@using SMAS.Web.Areas.CapacityStatisticsSubjectSecondaryArea
@using SMAS.Web.Areas.SyntheticdataSecondaryArea
<script type="text/javascript" language="javascript">
    grid_Report_ID = '@ViewData[SyntheticdataSecondaryConstants.GRID_REPORT_ID]';
</script>


@{
    var list = (IEnumerable<CapacityStatisticsSubjectViewModel>)ViewData[SyntheticdataSecondaryConstants.LIST_MARKSTATISTICS];
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">Tìm thấy @list.Count() kết quả </div>
        <div class="Clear"></div>
    </div>
    <div style="overflow: auto">
        @{
            var index = 1;
            Html.Telerik()
                .Grid((IEnumerable<CapacityStatisticsSubjectViewModel>)ViewData[SyntheticdataSecondaryConstants.LIST_MARKSTATISTICS])
                .Name("GridMarkStatistics")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                    c.Bound(o => o.SchoolName).Sortable(false).Width(130);
                    c.Bound(o => o.SentDate).Sortable(false).Format("{0:dd/MM/yyyy}").Width(75);
                    c.Bound(o => o.TotalPupil).Sortable(false).Width(60);
                    c.Bound(o => o.TotalExcellent).Sortable(false).Width(35);
                    c.Bound(o => o.PercentExcellent).Sortable(false).Width(45).Format("{0:0.##}%");
                    c.Bound(o => o.TotalGood).Sortable(false).Width(35);
                    c.Bound(o => o.PercentGood).Sortable(false).Width(45).Format("{0:0.##}%");
                    c.Bound(o => o.TotalNormal).Sortable(false).Width(40);
                    c.Bound(o => o.PercentNormal).Sortable(false).Width(45).Format("{0:0.##}%");
                    c.Bound(o => o.TotalWeak).Sortable(false).Width(35);
                    c.Bound(o => o.PercentWeak).Sortable(false).Width(45).Format("{0:0.##}%");
                    c.Bound(o => o.TotalPoor).Sortable(false).Width(35);
                    c.Bound(o => o.PercentPoor).Sortable(false).Width(45).Format("{0:0.##}%");
                    c.Bound(o => o.TotalPass).Sortable(false).Width(40);
                    c.Bound(o => o.PercentPass).Sortable(false).Width(40).Format("{0:0.##}%");
                    c.Bound(o => o.TotalFail).Sortable(false).Width(40);
                    c.Bound(o => o.PercentFail).Sortable(false).Width(40).Format("{0:0.##}%");
                    c.Bound(o => o.TotalAboveAverage).Sortable(false).Width(50);
                    c.Bound(o => o.PercentAboveAverage).Sortable(false).Width(50).Format("{0:0.##}%");


                })
                .DataKeys(keys => keys.Add(o => o.SchoolID))
                .Scrollable(o => o.Height(400))
                .Selectable()
                .Render();
                      
        }
    </div>
</div>
