﻿@model SyntheticdataSecondaryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SyntheticdataSecondaryArea.Models
@using SMAS.Web.Areas.SyntheticdataSecondaryArea

<script type="text/javascript" language="javascript">
    grid_Report_ID = '@ViewData[SyntheticdataSecondaryConstants.GRID_REPORT_ID]';
</script>
@{
    var list = (IEnumerable<SyntheticdataSecondaryViewModel>)ViewData[SyntheticdataSecondaryConstants.LIST_MARKSTATISTICS];
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">Tìm thấy @list.Count() kết quả </div>
        <div class="Clear"></div>
    </div>
    <div style="overflow:auto">
        @{    
            var index = 1;
            Html.Telerik()
                .Grid((IEnumerable<SyntheticdataSecondaryViewModel>)ViewData[SyntheticdataSecondaryConstants.LIST_MARKSTATISTICS])
                .Name("GridSyntheticdataSecondary")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                    c.Bound(o => o.SchoolName).Sortable(true).Width(150);
                    c.Bound(o => o.SentDate).Sortable(true).Format("{0:dd/MM/yyyy}").Width(75);
                    c.Bound(o => o.TotalTest).Sortable(true).Width(95);
                    c.Bound(o => o.M00).Sortable(true).Width(30);
                    c.Bound(o => o.M03).Sortable(true).Width(30);
                    c.Bound(o => o.M05).Sortable(true).Width(30);
                    c.Bound(o => o.M08).Sortable(true).Width(30);
                    c.Bound(o => o.M10).Sortable(true).Width(30);
                    c.Bound(o => o.M13).Sortable(true).Width(30);
                    c.Bound(o => o.M15).Sortable(true).Width(30);
                    c.Bound(o => o.M18).Sortable(true).Width(30);
                    c.Bound(o => o.M20).Sortable(true).Width(30);
                    c.Bound(o => o.M23).Sortable(true).Width(30);
                    c.Bound(o => o.M25).Sortable(true).Width(30);
                    c.Bound(o => o.M28).Sortable(true).Width(30);
                    c.Bound(o => o.M30).Sortable(true).Width(30);
                    c.Bound(o => o.M33).Sortable(true).Width(30);
                    c.Bound(o => o.M35).Sortable(true).Width(30);
                    c.Bound(o => o.M38).Sortable(true).Width(30);
                    c.Bound(o => o.M40).Sortable(true).Width(30);
                    c.Bound(o => o.M43).Sortable(true).Width(30);
                    c.Bound(o => o.M45).Sortable(true).Width(30);
                    c.Bound(o => o.M48).Sortable(true).Width(30);
                    c.Bound(o => o.TotalBelowAverage).Sortable(true).Width(60);
                    c.Bound(o => o.PercentBelowAverage).Sortable(true).Width(70);

                    c.Bound(o => o.M50).Sortable(true).Width(30);
                    c.Bound(o => o.M53).Sortable(true).Width(30);
                    c.Bound(o => o.M55).Sortable(true).Width(30);
                    c.Bound(o => o.M58).Sortable(true).Width(30);
                    c.Bound(o => o.M60).Sortable(true).Width(30);
                    c.Bound(o => o.M63).Sortable(true).Width(30);
                    c.Bound(o => o.M65).Sortable(true).Width(30);
                    c.Bound(o => o.M68).Sortable(true).Width(30);
                    c.Bound(o => o.M70).Sortable(true).Width(30);
                    c.Bound(o => o.M73).Sortable(true).Width(30);
                    c.Bound(o => o.M75).Sortable(true).Width(30);
                    c.Bound(o => o.M78).Sortable(true).Width(30);
                    c.Bound(o => o.M80).Sortable(true).Width(30);
                    c.Bound(o => o.M83).Sortable(true).Width(30);
                    c.Bound(o => o.M85).Sortable(true).Width(30);
                    c.Bound(o => o.M88).Sortable(true).Width(30);
                    c.Bound(o => o.M90).Sortable(true).Width(30);
                    c.Bound(o => o.M93).Sortable(true).Width(30);
                    c.Bound(o => o.M95).Sortable(true).Width(30);
                    c.Bound(o => o.M98).Sortable(true).Width(30);
                    c.Bound(o => o.M100).Sortable(true).Width(30);
                    c.Bound(o => o.TotalAboveAverage).Sortable(true).Width(60);
                    c.Bound(o => o.PercentAboveAverage).Sortable(true).Width(70);


                })
                .DataKeys(keys => keys.Add(o => o.SchoolID))
                .Scrollable(o => o.Height(380))
                .Selectable()
                .Render();
                      
        }
        </div>
</div>


