@model SMSDeptViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSDepartmentArea.Models
@using SMAS.Web.Areas.SMSDepartmentArea
@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<SMSDeptViewModel>)ViewData[SMSDepartmentConstants.LIST_EMPLOYEE])
        .Name("GridEmployee")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            // Check
            c.Template(
                @<text>
                    @if (item.Mobile != null && item.Mobile.Trim().Length > 0)
                    {
                        <input name="checkedToSend" type="checkbox" value="@item.EmployeeID " title="checked"/>
                    }
                </text>
            ).HeaderTemplate(
                @<text>
                    <input type="checkbox" title="check all" onclick="checkAll(this)" id="checkAllPupil" />
                </text>
            ).ClientTemplate("<# if(Mobile != null && Mobile != \"\"){"
                     + "#><input type=\"checkbox\" name=\"checkedToSend\" value=\"<#=EmployeeID #>\" />" + "<#} #>");

            c.Bound(o => o.FullName).Sortable(true);
            c.Bound(o => o.BirthDate).Sortable(true).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.PermanentResidentalAddress).Sortable(true);
            c.Bound(o => o.Mobile).Sortable(true);

        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "SMSDept")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
        )
        .DataKeys(keys => keys.Add(o => o.EmployeeID))
        .Pageable(paging =>
            paging.PageSize(10)
                  .Style(GridPagerStyles.NextPreviousAndNumeric)
                  .Position(GridPagerPosition.Bottom)
        )
        .Sortable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
}
<br />
<fieldset>
    <legend>@Res.Get("SMSParents_Label_SMSContent")</legend>
    <div align="center">
        @Html.ViettelTextArea("message", new { cols = 180, rows = 4 })
    </div>
    <div class="vt-form-button">
        @Html.ViettelButton(Res.Get("SMSParents_Button_SendSMS"), "submit", "if (validate()) return false;", "")
    </div>
</fieldset>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {

        var grid = $('#GridEmployee').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function checkAll(obj) {
        $("#GridEmployee tbody input:checkbox[name=checkedToSend]").attr("checked", obj.checked);
    }

    function validate() {
        var checkedList = $('#GridEmployee tbody').find('input[type="checkbox"]:checked');
        if (checkedList.length < 1) {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Label_ErrorCheckRow")' });
            return true;
        }
    }
    
</script>
