﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.UserAccountArea.Models
@using SMAS.Web.Areas.UserAccountArea
@using SMAS.Web.Areas.ReportCapacityStatisticsTertiaryArea
@using SMAS.Web.Areas.ReportCapacityStatisticsTertiaryArea.Models
@using SMAS.Business.BusinessObject
<style type="text/css">
    #rowTemplate{text-align:right;padding:3px;border-bottom:1px solid #A7BAC5}
    .t-grid-header-wrap{font-weight:700}
    .t-grid-pager{height:15px}
    .t-grid-content td{padding:0}
    #GridCommittee .t-header{font-weight:700}
</style>
<div class="vt-ResultPanel">
@{
    IEnumerable<CapacityStatisticsBO> list = (IEnumerable<CapacityStatisticsBO>)ViewData[ReportCapacityStatisticsTertiaryConstants.GRID_REPORT_COMITTEE];
    IEnumerable<CommitteModel> listEducationLevel = (IEnumerable<CommitteModel>)ViewData[ReportCapacityStatisticsTertiaryConstants.GRID_REPORT_COMITTEE_EDUCATIONLEVEL];
    var index = 1;

    Html.Telerik()
        .Grid(listEducationLevel)
        .Name("GridCommittee")
        .Columns(c =>
        {
            c.Template(@<text>
             <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td style="text-align: center; " id="rowTemplate">
                    @(index++)
                </td>
            </tr>
        }
    </table>
                        </text>)
                .HeaderTemplate(Res.Get("STT"))
                .Width(40);
            
            c.Bound(u => u.EducationLevelName).HeaderTemplate(Res.Get("CapacityStatistics_Label_EducationLevel"))
                .HtmlAttributes(new Dictionary<string, object>() { { "style", "padding:3px; border-bottom:2px solid #A7BAC5;" } })
                .Width(50);

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                                    <td id="rowTemplate" style="text-align: left; padding:3px; ">
                    @CapacityStatistics.SubCommitteeTitle
                </td>
            </tr>
        }
    </table>
                        </text>)
                .HeaderTemplate(Res.Get("MarkStatistics_Label_SubCommittee"))
                .Width(160);

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalPupil
                </td>
            </tr>
        }
    </table>
                        </text>)
                .HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("ReportConductStatisticsSecondary_Label_TotalPupil"), 2))
                .Width(60);

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalExcellent
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_TotalExcellent")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentExcellent%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_PercentExcellent")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalGood
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_TotalGood")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentGood%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentFair")));


            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalNormal
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_TotalNormal")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentNormal%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("ReportConductStatisticsSecondary_Label_PercentNormal")));


            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalWeak
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("ReportConductStatisticsSecondary_Label_TotalWeak")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentWeak%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_PercentWeak")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalPoor
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_TotalPoor")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentPoor%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_PercentPoor")));
            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.TotalAboveAverage
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("CapacityStatistics_Label_TotalAboveAverage")));

            c.Template(@<text>
    <table>
        @foreach (var CapacityStatistics in (list.Where(o => o.EducationLevel == item.EducationLevelID)))
        {
            <tr>
                <td id="rowTemplate">@CapacityStatistics.PercentAboveAverage%
                </td>
            </tr>
        }
    </table>
    </text>).HeaderTemplate(Utils.ConvertTitle2Display(Res.Get("GridConductStatisticsOfProvinceGroupByDistrict23_Column_PercentAboveAverage")));
        })
        .DataKeys(keys => keys.Add(o => o.EducationLevelID))
        .Sortable()
        //.Scrollable(o => o.Enabled(true))
        .Scrollable(o => o.Height(400))
        .Render();
       
                      
}
<div class="vt-form-button">
    @if (listEducationLevel != null && listEducationLevel.Count() > 0)
    {
        <input type="button" value="@Res.Get("LookupInfoReport_Label_ExportExcel")" onclick="exportReport()" class="t-button" style="margin-top:8px; margin-bottom:4px;"/>
    }
</div>
    </div>
<script language="javascript">

    function exportReport() {
        window.open("@Url.Action("DownloadReport", "ReportCapacityStatisticsTertiary")"+"?ProcessedReportID="+@ViewData[ReportCapacityStatisticsTertiaryConstants.GRID_REPORT_ID]);
        
    }
</script>
