﻿@using SMAS.Web.Utils
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = Res.Get("ReportCapacityStatisticsTertiary_Label_AllTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<br />
<div id="gridReportCapacity">
</div>
