﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeacherNoteBookArea
@using SMAS.Web.Areas.TeacherNoteBookArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@using System.Text.RegularExpressions
@{
    List<TeacherNoteBookViewModel> result = ViewData[TeacherNoteBookConstant.LIST_TEACHER_NOTE_BOOK] as List<TeacherNoteBookViewModel>;
    int MonthID = ViewData[TeacherNoteBookConstant.MONTH_ID] != null ? (int)ViewData[TeacherNoteBookConstant.MONTH_ID] : 0;
    int isCommenting = ViewData[TeacherNoteBookConstant.IS_COMMENTING] != null ? (int)ViewData[TeacherNoteBookConstant.IS_COMMENTING] : 0;
    int maxlength = isCommenting == 0 ? 3 : 2;
    int semesterID = ViewData[TeacherNoteBookConstant.SEMESTERID] != null ? (int)ViewData[TeacherNoteBookConstant.SEMESTERID] : 0;
    int curYear = ViewData["CurrentYear"] != null ? (int)ViewData["CurrentYear"] : 0;
    string titleGK = string.Empty;
    string titleCK = string.Empty;
    string titleTBM = string.Empty;
    string enableImport = ViewData[TeacherNoteBookConstant.LOCK_IMPORT].ToString();
    bool isLockInput = (bool)ViewData[TeacherNoteBookConstant.IS_LOCK_INPUT];
    string LockUserName = (string)ViewData[TeacherNoteBookConstant.LOCK_USER_NAME];
    if (semesterID == GlobalConstants.SEMESTER_OF_YEAR_FIRST)
    {
        titleGK = "KTĐK<br/>GKI";
        titleCK = "KTĐK<br/>CKI";
        titleTBM = "TBM<br/>HKI";
    }
    else if (semesterID == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
    {
        titleGK = "KTĐK<br/>GKII";
        titleCK = "KTĐK<br/>CKII";
        titleTBM = "TBM<br/>HKII";
    }
    string disabled = "";

    string titleComment = "Nhận xét về môn học & HĐGD";
    string titleHighlights = "Biểu hiện nổi bật, mức độ hình<br/>thành phẩm chất, năng lực";
    
    // nhận xét
    bool isLockComment = (bool)ViewData[TeacherNoteBookConstant.IS_DATA_LOCK_COMMENT];
    // KTĐK Giữa kỳ
    bool isLockGK = (bool)ViewData[TeacherNoteBookConstant.IS_DATA_LOCK_KTGK];
    // KTĐK cuối kỳ
    bool isLockCK = (bool)ViewData[TeacherNoteBookConstant.IS_DATA_LOCK_KTCK];

    if (isLockComment)
    {
        titleComment += "<br/><input type='text' class='mark-lock-button' disabled  title='Cột dữ liệu bị khóa'/>";
        titleHighlights += "<br/><input type='text' class='mark-lock-button' disabled title='Cột dữ liệu bị khóa'/>";
    }

    if (isLockGK)
    {
        titleGK += "<br/><input type='text' class='mark-lock-button' disabled title='Cột dữ liệu bị khóa'/>";
    }

    if (isLockCK)
    {
        titleCK += "<br/><input type='text' class='mark-lock-button' disabled title='Cột dữ liệu bị khóa'/>";
    }
}
<style type="text/css">
    #frmTeacherNoteBook .txtKTDK {
        width: 51px;
        height: 18px;
        margin-left: -6px;
        border: none;
        background-color: transparent;
        border-width: 0px;
        text-align: center;
    }

    #frmTeacherNoteBook input[class^="txtKTDK"]:focus {
        border: none !important;
        box-shadow: none !important;
    }
</style>

@using (Ajax.BeginForm("SaveTeacherNoteBook",
                       "TeacherNoteBook",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "SetHiddenValue",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmTeacherNoteBook" }
                       ))
{

    @Html.AntiForgeryToken()
    @Html.ViettelHidden("ClassID", 0)
    @Html.ViettelHidden("SemesterID", 0)
    @Html.ViettelHidden("MonthID", 0)
    @Html.ViettelHidden("SubjectID", 0)
    @Html.ViettelHidden("IsCommenting", isCommenting)
  
    <div id="ContentMark">
        <div id="GridData">
            <div class="text-right mg-b-10">
                @if (!isLockInput)
                {
                    if (string.IsNullOrEmpty(enableImport))
                    {                                  
                        <input type="submit" id="btnSave" class="btn btn-info btn-icon btn-round btn-icon-save " value="@Res.Get("Common_Button_Save")" onclick = "return checkValidate();" />
                        <input type="button" id="btnDelete" class="btn btn-basic btn-icon btn-round btn-icon-times" value="@Res.Get("Common_Button_Delete")" onclick="DeleteTeacherNoteBook()"/>
                    }
                    <input type="button" id="btnImport" class="btn btn-info btn-round " value="@Res.Get("Common_Button_Import")" onclick ="ImportExcel()" />    
                    <input type="button" id="btnExport" class="btn btn-info btn-icon btn-round btn-icon-excel " value="@Res.Get("Common_Button_ExportExcel")" onclick="ExportExcel()"/>
                }
            </div>              
            @{
    var index = 1;
    Html.Telerik()
        .Grid(result)
        .Name("GridTeacherNoteBook")
        .HtmlAttributes(new {@class = "mg-b-10"})
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(40);
            
            // Họ tên học sinh    
            c.Template(@<text>
                @if (item.Status == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsExempted == false)
                {
                    <span style ="margin-left:5px;">@item.FullName</span>
                    disabled = "";
                }
                else if (item.Status != SystemParamsInFile.PUPIL_STATUS_STUDYING)
                {
                    <span style="color:red;margin-left:5px;"> @item.FullName</span>
                    disabled = "disabled=disabled";
                }
                else
                {
                    <span> @item.FullName</span>
                    disabled = "disabled=disabled";
                }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(150);
                
             // Nhận xét 1   
            c.Template(@<text>
                <textarea name ="@("CommentSubjectHDGD_" + item.PupilID)" maxlength ="1500" 
                    @disabled id ="@("CommentSubject_" + item.PupilID)" @(isLockComment == true ? "disabled" : "")>@item.CommentSubjectHDGD</textarea>
                </text>)
            .Title(titleComment)
            .HtmlAttributes(new { style = "text-align:left" }).Width(200);
            
            // Nhận xét 2
            c.Template(@<text>
                <textarea name ="@("CommentCQ_" + item.PupilID)" id ="@("CommentCQ_" + item.PupilID)" 
                    @disabled maxlength ="1500"   @(isLockComment == true ? "disabled" : "")>@item.CommentCQ</textarea>
                </text>).Title(titleHighlights)
            .HtmlAttributes(new { style = "text-align:left" }).Width(200);
            
            // Chọn tháng
            if (MonthID != 15 && MonthID != 16)
            {
                if (isCommenting == 0)
                {
                    c.Template(@<text>
                    <input type ="text" class ="txtKTDK" onkeypress="return requestNumber2(event);" onblur="ConvertMark(this, @MonthID, null);"
                         @disabled name ="@("GK_" + item.PupilID)" id ="@("GK_" + item.PupilID)" maxlength ="@maxlength" 
                        value ="@(!string.IsNullOrEmpty(item.KTDKGK) ? item.KTDKGK.Replace(",", ".") : "")" 
                        @(isLockGK == true ? "disabled" : "")/>
                    </text>).Title(titleGK).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                }
                else
                {
                    c.Template(@<text>
                    <input type ="text" class ="txtKTDK" onkeyup ="return KeyupJudge(this,event)" onblur="ConvertJudge(this, @MonthID);" 
                        @disabled name ="@("JUDGE_GK_" + item.PupilID)" id ="@("JUDGE_GK_" + item.PupilID)" maxlength ="@maxlength" 
                        value ="@item.KTDKGK_JUDGE" @(isLockGK == true ? "disabled" : "")/>
                    </text>).Title(titleGK).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                }
            }
            else
            { // Chọn đánh giá cuối kỳ
                if (isCommenting == 0)
                {
                    // Giữa kỳ
                    c.Template(@<text>
                        <input type ="text" class ="txtKTDK" onkeypress="return requestNumber2(event);" 
                            onblur="ConvertMark(this, @MonthID, '@(!string.IsNullOrEmpty(item.TBM_OTHER) ? item.TBM_OTHER.Replace(",", ".") : "")', '@item.IsExemptedSem1');" 
                            @disabled name ="@("GK_" + item.PupilID)" id ="@("GK_" + item.PupilID)" maxlength ="@maxlength" 
                            value ="@(!string.IsNullOrEmpty(item.KTDKGK) ? item.KTDKGK.Replace(",", ".") : "")"
                            @(isLockGK == true ? "disabled" : "")/>
                    </text>).Title(titleGK).HtmlAttributes(new { style = "text-align:center", @class = "diemGKCol" }).Width(50);

                    // Cuối kỳ
                    c.Template(@<text>
                        <input type ="text" class ="txtKTDK" onkeypress="return requestNumber2(event);" 
                            onblur="ConvertMark(this, @MonthID, '@(!string.IsNullOrEmpty(item.TBM_OTHER) ? item.TBM_OTHER.Replace(",", ".") : "")', '@item.IsExemptedSem1');"
                            @disabled name ="@("CK_" + item.PupilID)" id ="@("CK_" + item.PupilID)" maxlength ="@maxlength" 
                            value ="@(!string.IsNullOrEmpty(item.KTDKCK) ? item.KTDKCK.Replace(",", ".") : "")"
                            @(isLockCK == true ? "disabled" : "") />
                </text>).Title(titleCK).HtmlAttributes(new { style = "text-align:center", @class = "diemCKCol" }).Width(50);

                    c.Template(@<text>@(!string.IsNullOrEmpty(item.TBM) ? item.TBM.Replace(",", ".") : "")</text>).Title(titleTBM)
                    .HtmlAttributes(new { style = "text-align:center", @class = "AverageMarkCol" }).Width(50);

                    if (semesterID == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                    {
                        c.Template(@<text>@(!string.IsNullOrEmpty(item.TBM_YEAR) ? item.TBM_YEAR.Replace(",", ".") : "")</text>).Title("TBM<br/>CN")
                            .HtmlAttributes(new { style = "text-align:center", @class = "AverageMarkYearCol" }).Width(50);
                    }
                }
                else
                {
                    c.Template(@<text>
                        <input type ="text" class ="txtKTDK" onkeyup ="return KeyupJudge(this,event)" onblur="ConvertJudge(this, @MonthID);" 
                            @disabled name ="@("JUDGE_GK_" + item.PupilID)" id ="@("JUDGE_GK_" + item.PupilID)" maxlength ="@maxlength"
                             value ="@item.KTDKGK_JUDGE" @(isLockGK == true ? "disabled" : "")/>
                    </text>).Title(titleGK).HtmlAttributes(new { style = "text-align:center", @class = "diemGKCol" }).Width(50);

                    c.Template(@<text>
                        <input type ="text" class ="txtKTDK" onkeyup ="return KeyupJudge(this,event)" onblur="ConvertJudge(this, @MonthID);" 
                            @disabled name ="@("JUDGE_CK_" + item.PupilID)" id ="@("JUDGE_CK_" + item.PupilID)" maxlength ="@maxlength" 
                            value ="@item.KTDKCK_JUDGE" @(isLockCK == true ? "disabled" : "")/>
                    </text>).Title(titleCK).HtmlAttributes(new { style = "text-align:center", @class = "diemCKCol" }).Width(50);

                    c.Template(@<text>@(item.TBM_JUDGE)</text>).Title(titleTBM).HtmlAttributes(new { style = "text-align:center", @class = "AverageMarkCol" }).Width(50);

                    if (semesterID == GlobalConstants.SEMESTER_OF_YEAR_SECOND)
                    {
                        c.Template(@<text>@(item.TBM_YEAR_JUDGE)</text>).Title("TBM<br/>CN")
                            .HtmlAttributes(new { style = "text-align:center", @class = "AverageMarkYearCol" }).Width(50);
                    }
                }

            }

            if (!isLockInput)
            {
                c.Template(@<text>
                @{
                    if (item.Status == SystemParamsInFile.PUPIL_STATUS_STUDYING && item.IsExempted == false)
                    {
                        //chi hien cac checkbox voi hoc sinh dang hoc
                        <label class="custom-checkbox p-r-0" style="padding-left:15px">
                            <input type="checkbox" id='@("chk_" + item.PupilID)' defaultvalue ="@item.PupilID" onchange="SelectOne()" class="ChkItem" name='@("chk_" + item.PupilID)' checked="checked" />
                            <span class="checkmark">
                            </span>
                        </label>
                    }   
                }
                </text>)
                .HeaderTemplate(@<text><label class="custom-checkbox p-r-0" style="padding-left:15px"><input type="checkbox" id="ChkAll" onchange="SelectAll()" name="ChkAll" checked="checked" /><span class="checkmark"></span></label></text>)
                .HtmlAttributes(new { style = "text-align:center" }).Width(50);
            }


        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
         .Selectable()
        .Scrollable(o => o.Enabled(true).Height("400px"))
       .Render();
            }
            
            @if (result != null && result.Count > 0)
            {
                <table id="tblButton">
                    <tr>
                        <td style="width: 75%;">
                            Lưu ý:
                            <br />
                            - Các môn học phải được khai báo học theo chương trình VNEN trong chức năng <b>Khai báo dữ liệu/ Khai báo môn học lớp VNEN</b>.
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <span>Lưu ý:
                    <br />
                    - Các môn học phải được khai báo học theo chương trình VNEN trong chức năng <b>Khai báo dữ liệu/ Khai báo môn học lớp VNEN</b>.  
                </span>
            }
        </div>
    </div>
    <div id="ImportSubject" style="display: none">
        @Html.Partial("_SubjectClass")
    </div>
}
<script type="text/javascript">
    //hien thi icon lock input
    if ('@isLockInput' == 'True') {
        $('#bntlockInputTeacherNoteBook').attr('title', stringUtils.HtmlDecode('@LockUserName'));
            $('#bntlockInputTeacherNoteBook').show();
    }
    else {
        $('#bntlockInputTeacherNoteBook').hide();
    }
    $(document).ready(function () {
        controlUtils.AddMoveTabEvent("#GridTeacherNoteBook");
        controlUtils.AddMoveButtonEvent("#GridTeacherNoteBook");
    });
    function checkValidate() {
        var check = 0;
        var strPupilID = 0;
        $('#GridTeacherNoteBook').find('input[id^="chk_"]').each(function () {
            if ($(this).is(':checked')) {
                check++;
            }
        })
        if (check == 0) {
            if ('@MonthID' != 15 && '@MonthID' != 16) {
                smas.alertColor('Thầy cô cần chọn học sinh để lưu thông tin nhận xét.', 'red');
            }
            else {
                smas.alertColor('Thầy cô cần chọn học sinh để lưu thông tin nhận xét, đánh giá.', 'red');
            }
            return false;
        }
        else {
            return true;
        }
    }
    function SetHiddenValue() {
        var monthID = $('#SearchPanel #cboMonthID').val();
        var subjectID = $('#SearchPanel #cboSubjectID').val();
        var semesterID = $('#ListSemester').find('.Active').attr('value');
        var classID = $('#HiddenPanel #ClassID').val();
        $('#frmTeacherNoteBook #ClassID').val(classID);
        $('#frmTeacherNoteBook #MonthID').val(monthID);
        $('#frmTeacherNoteBook #SemesterID').val(semesterID);
        $('#frmTeacherNoteBook #SubjectID').val(subjectID);
        smas.showProcessingDialog();
    }
    function SaveSuccess(data) {
        smas.alert({ Type: data.Type, Message: data.Message });
        LoadGrid();
    }
    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function SelectOne() {
        var length = $('#GridTeacherNoteBook').find('input[id^="chk"]').length;
        var count = 0;
        $('#GridTeacherNoteBook').find('input[id^="chk"]').each(function () {
            if ($(this).is(':checked')) {
                count++;
            }
        });
        if (count == length) {
            $('#GridTeacherNoteBook #ChkAll').attr('checked', 'checked');
        }
        else {
            $('#GridTeacherNoteBook #ChkAll').removeAttr('checked');
        }
    }
    function SelectAll() {
        if ($('#GridTeacherNoteBook #ChkAll').is(':checked')) {
            $('#GridTeacherNoteBook').find('input[id^="chk"]').attr('checked', 'checked');
        }
        else {
            $('#GridTeacherNoteBook').find('input[id^="chk"]').removeAttr('checked');
        }
    }
    function ValidateKey(obj, event) {
        // MSIE hack
        if (window.event) {
            event = window.event;
        }
        if (event.keyCode >= 37 && event.keyCode <= 40) {
            return false;
        } else if (event.keyCode == 67)//c,C
        {
            $(obj).val("CHT");

        } else if (event.keyCode == 72)//h,H
        {
            $(obj).val("HT");

        } else if (event.keyCode != 9) {
            $(obj).val("");
        }
        return true;
    }
    function KeyupJudge(obj, event) {
        if (window.event) {
            event = window.event;
        }
        console.log(event.keyCode);
        if (event.keyCode == 68)//d,D
        {
            $(obj).val("Đ");

        } else if (event.keyCode == 67)//c,C
        {
            $(obj).val("CĐ");

        } else if (event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40 && event.keyCode != 9) {
            $(obj).val("");
        }
        return true;
    }
    function CheckEvaluation(obj) {
        var txt = $.trim($(obj).val());
        if (txt == "HT" || txt == "H" || txt == "h" || txt == "ht") {
            $(obj).val("HT");
        } else if (txt == "CHT" || txt == "cht" || txt == "C" || txt == "c" || txt == "CH" || txt == "ch") {
            $(obj).val("CHT");
        } else {
            $(obj).val("");
        }
    }
    function requestNumber2(e) {
        if (window.event) { // IE
            var charCode = window.event.keyCode;
        } else if (e.which) { // Safari 4, Firefox 3.0.4
            var charCode = e.which
        }
        if ('@isCommenting' == 0) {
            if (charCode == 44 || charCode == 46) {
                {
                    return true;
                }
            }
            if (e.ctrlKey && (charCode == 118 || charCode == 99)) {
                return true;
            }

            //46 dau cham
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        else {
            if (charCode == 99 || charCode == 100 || charCode == 67 || charCode == 68 || charCode == 8) {
                return true;
            }
            else {
                return false;
            }
        }

    }
    function ConvertMark(txtMark, monthId, tbm_other, isExemSem1) {
        var text = txtMark.value;
        var num = "0123456789";
        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }

        if (text.length == 1) {
            txtMark.value = text.charAt(0) + '.' + '0';
        }
        else if (text.length == 2) {
            if (text > 10) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(1);
            } else if (text.charAt(0) == '0' && num.indexOf(text.charAt(1)) > -1) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(1);
            }

        } else if (text.length == 3) {

            if (text.charAt(2) == '.') {
                txtMark.value = "";
            }
            else if (num.indexOf(text.charAt(1)) == -1) {
                txtMark.value = text.charAt(0) + '.' + text.charAt(2);
            } else txtMark.value = text.charAt(0) + '.' + text.charAt(1);
        }

        if (num.indexOf(text.charAt(0)) == -1) {
            txtMark.value = "";
        }

        if (text == '100') {
            txtMark.value = '10';
        }

        //viethd31: tinh diem TBM
        if (monthId == 15 || monthId == 16) {
            var diemGK = parseFloat($(txtMark).closest("tr").find(".diemGKCol").find("input").val());
            var diemCK = parseFloat($(txtMark).closest("tr").find(".diemCKCol").find("input").val());

            @if (semesterID == 1 && curYear == 2016)
            {
                <text>
                var averageMark;
                if (diemCK != 0 && diemCK != 10) {
                    var averageMark = diemCK.toFixed(1);
                }
                else {
                    averageMark = diemCK;
                }
                if (isNaN(diemCK)) {
                    averageMark = '';
                }
                </text>
            }
            else
            {
                <text>
                var averageMark = CalculateAverageMark(diemGK, diemCK);
                </text>
            }

            $(txtMark).closest("tr").find(".AverageMarkCol").text(averageMark);

            if (monthId == 16) {
                var tbmSem1 = parseFloat(tbm_other);
                var tbmSem2 = parseFloat(averageMark);

                if (isExemSem1 == 'True') {
                    $(txtMark).closest("tr").find(".AverageMarkYearCol").text(averageMark);
                }
                else {
                    var averageMarkYear = CalculateAverageMark(tbmSem1, tbmSem2);
                    $(txtMark).closest("tr").find(".AverageMarkYearCol").text(averageMarkYear);
                }
            }
        }
    }

    function CalculateAverageMark(coef1Mark, coef2Mark) {
        if (isNaN(coef1Mark) || isNaN(coef2Mark)) {
            return '';
        }

        var avr = Math.round(((coef1Mark + (coef2Mark * 2)) / 3) * 10) / 10;

        if (avr != 0 && avr != 10) {
            return (Math.round(((coef1Mark + (coef2Mark * 2)) / 3) * 10) / 10).toFixed(1);
        }
        else {
            return avr;
        }
    }
    
    function ConvertJudge(txtMark, monthId) {
        var text = txtMark.value;
        if (text == 'd' || text == 'D' || text == 'đ' || text == 'Đ') {
            txtMark.value = 'Đ';
        }
        else if (text == 'cd' || text == 'cđ' || text == 'CD' || text == 'CĐ' || text == 'c' || text == 'C') {
            txtMark.value = 'CĐ';
        }
        else {
            txtMark.value = '';
        }

        if (monthId == 15 || monthId == 16) {
            var diemCK = $(txtMark).closest("tr").find(".diemCKCol").find("input").val();
            $(txtMark).closest("tr").find(".AverageMarkCol").text(diemCK);

            if (monthId == 16) {
                var tbmSem2 = diemCK;
                $(txtMark).closest("tr").find(".AverageMarkYearCol").text(diemCK);
            }
        }
    }
    $(".t-header td,.headerComment").click(function (e) {
        if ($(this).closest("td").hasClass('headerComment') || $(this).hasClass('headerComment')) {
            $("#BoxChoice").hide();
            var position = $(this).offset();
            $("#BoxChoice").css({ position: "absolute", left: position.left - 170, top: 140, width: "100px", "z-index": "1000" });
            $("#BoxChoice").show(200);
        }
    });

    $(document).click(function (event) {
        if ($(event.target).closest(".headerComment").html() == null || $(event.target).closest(".headerComment").html() == "undefined") {
            $("#BoxChoice").css("display", "none");
        }
    });
    function ExportExcel() {
        var monthID = $('#SearchPanel #cboMonthID').val();
        var semesterID = $('#ListSemester').find('.Active').attr('value');
        var classID = $('#HiddenPanel #ClassID').val();
        window.location = '/TeacherNoteBookArea/TeacherNoteBook/ExportExcel' + "?ClassID=" + classID + "&SemesterID=" + semesterID + "&MonthID=" + monthID;
    }
    function ImportExcel() {
        var html = $('#ImportSubject').html();
        $('#TeacherNoteBook').html(html);
        smas.openDialog("ImportTeacherNote", "", {});
        $('#ImportTeacherNote #btSaveImport').attr('disabled');
        $('#ImportTeacherNote #btSaveImport').addClass('t-state-disabled');
    }
</script>
