﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeacherNoteBookArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
<div class="row">
    <div class="col-md-8">
        @Html.ViettelTextbox(Res.Get("PrimaryMarkRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { }, true, true)
    </div>
    <div class="col-md-4">
        @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss"})
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "TeacherNoteBook")
                    .AutoUpload(false)
                     ).ClientEvents(events => events
                    .OnSelect("OnSelectImport")
                    .OnUpload("OnImportUpload")
                    .OnSuccess("OnImportSuccess")
                    .OnError("OnImportError")
                    .OnLoad("OnLoad")
                    )
)
    </div>
</div>
<div id="TeacherNoteBook"></div>

<div style="text-align: center; padding-top: 3px;">
    @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButton()", "t-state-disabled btn btn-info btn-round")
</div>
<style>
    .btnUploaderCss
    {
        height: 0;
    }
    .btnUploaderCss .t-dropzone
    {
        padding: 0;
    }
</style>


<script type="text/javascript">

    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('@Html.Raw(Res.Get("Chọn file"))').attr("style", "text-align:center");
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        var arrayID = "";
        $('#ImportTeacherNote .cbSubject').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                var id = $(this).attr('defaultValue');
                if (id > 0) {
                    arrayID += id + ",";
                }
            }
        });

        if (arrayID == "" || arrayID == null) {
            smas.alertColor('@Html.Raw(Res.Get("MarkRecord_Label_NoSubject"))', 'red');
            error = true;
            //smas.hideProcessingDialog();
            e.preventDefault();
            return false;
        }
        var importCapacities = $("#ImportTeacherNote #chkCapacities").is(':checked');
        var importQualities = $("#ImportTeacherNote #chkQualities").is(':checked');
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / 1024);
                    if (fileSize < '@TeacherNoteBookConstant.FILE_UPLOAD_MAX_SIZE') {
                        //var monthID = $('#SearchPanel #cboMonthID').val();
                        var semesterID = $('#ListSemester').find('.Active').attr('value');
                        var classID = $('#HiddenPanel #ClassID').val();

                        var dataInput = { ClassID: classID, SemesterID: semesterID, arrayID: arrayID }
                        e.data = dataInput;
                        return true;
                    }
                    smas.alertColor("Dung lượng file excel không được lớn hơn 5MB", "red");
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                //smas.alert("File không đúng định dạng")

                smas.alertColor('@Html.Raw(Res.Get("Common_Label_File_Upload_Incorrect_format"))', "red")
                error = true;
                $('#ImportTeacherNote #btImport').attr("disabled", "disabled");
                $('#ImportTeacherNote #btImport').addClass('t-state-disabled');
                $('#ImportTeacherNote #btImport').removeAttr('onclick');
                e.preventDefault();
                return false;
            }
        });
    }
    function OnImportButton() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            if (!error) {
                smas.showProcessingDialog();
            }
        }
    }
    function OnCloseClick() {
        setTimeout(function () { smas.closeDialog("ImportTeacherNote"); }, 200);
        $("#ImportTeacherNote #txtFilePath").val("");
        $('#ImportTeacherNote #btImport').attr("disabled", "disabled");
        $('#ImportTeacherNote #btImport').addClass('t-state-disabled');
        $('#ImportTeacherNote #btImport').removeAttr('onclick');
    }
    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        smas.closeDialog("ImportTeacherNote");
        if (e.response.Type == "ViewPopupError") {
            setTimeout(function () { smas.openDialog("ViewErr", "", {}); }, 200);
            $("#GridDataErr").html(e.response.Message);
        }
        else {
            smas.alert({ Type: e.response.Type, Message: e.response.Message });
        }
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
        $('#txtFilePath').val('');
        LoadGrid();
    }
    function OnImportError(e) {
        smas.alert({ Type: 'error', Message: e.response.Message });
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
        $('#txtFilePath').val('');
    }
</script>
