﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.TeacherNoteBookArea
@using SMAS.Web.Constants
@{
    List<ViettelCheckboxList> listSemester = ViewData[TeacherNoteBookConstant.LIST_SEMESTER] as List<ViettelCheckboxList>;
    string semesterChecked = (string)ViewData[TeacherNoteBookConstant.SELECTED_SEMESTER];
    bool isClass = (bool)ViewData[TeacherNoteBookConstant.isClass];
    
}
<style type="text/css">
    #combobox .vt-control {
        width: 30%;
    }
</style>
@if (isClass)
{
    <div class="row  mg-b-5">
        <div class="col-sm-6">@Html.ViettelListButtonStyle2("ListSemester", semesterChecked, new Dictionary<string, object>(), "javascript:ChoiceSemester(this)", listSemester, false)</div>
        <div class="col-sm-4"><span style="font-weight: bold;">SỔ TAY GIÁO VIÊN</span>
        <span style="float:right;padding-left:2px;">
            <button id="bntlockInputTeacherNoteBook" class="lock-input-mark tooltip" title="" style="display:none;width:25px;height:26px;" ></button>
        </span></div>
        <div class="col-sm-2">
            
        <div class="BoxMenuSection" style="float:right;">
            <!-- menu box-->
            <div style="float: right;">
                <div style="position: absolute; top: 10px; right: 20px;">
                    @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", ViewData["isMenu"] = true)
                </div>
            </div>
        </div>
        </div>
        
        
    </div>
    <div class="Clear"></div>
    <div id="combobox" style="text-align: center;">
        @Html.ViettelCombobox(Res.Get("Tháng:"), "cboMonthID",
                                     (IEnumerable<SelectListItem>)ViewData[TeacherNoteBookConstant.LIST_MONTH], 2, new Dictionary<string, object>() { { "OnChange", "LoadGrid()" } }, false, false)

        @Html.ViettelCombobox(Res.Get("Môn:"), "cboSubjectID",
                                     (IEnumerable<SelectListItem>)ViewData[TeacherNoteBookConstant.LIST_SUBJECT], 2, new Dictionary<string, object>() { { "OnChange", "LoadGrid()" } }, false, false)
    </div>
}
else
{
    <span>
        @Res.Get("TeacherNoteBook_Error_NoSubject")
    </span>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#ListSemester').find('.Active').addClass('SubTea');
        $('#ListSemester').find('.Active').click();
    });
    function ChoiceSemester(button) {
        controlUtils.ChangeStyleButton(button);
        var semesterid = $('#ListSemester').find('.Active').attr('value');
        //load combobox thang
        controlUtils.loadComboBox(
                $("#cboMonthID"),
                '@Url.Action("AjaxLoadMonth", "TeacherNoteBook")',
                { SemesterID: parseInt(semesterid) },
                null, function () {
                    setTimeout(function () {
                        loadSubject();
                    }, 500);
                }
            );
            }
</script>
