﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TeacherNoteBookArea
@using SMAS.Web.Areas.TeacherNoteBookArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@using System.Text.RegularExpressions
@{
    List<ImportViewModel> result = ViewData[TeacherNoteBookConstant.LIST_TEACHER_NOTE_BOOK] as List<ImportViewModel>;
    if (ViewData[TeacherNoteBookConstant.LIST_TEACHER_NOTE_BOOK] != null)
    {
        result = (List<ImportViewModel>)ViewData[TeacherNoteBookConstant.LIST_TEACHER_NOTE_BOOK];
    }
}

<div id="ContentMark">
    @{
        var index = 1;

        Html.Telerik()
            .Grid(result)
            .Name("GridDataErr")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(20);
                c.Template(@<text>@{@item.FullName}</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(200);
                c.Template(@<text>@{@item.PupilCode}</text>).Title("Mã học sinh").HtmlAttributes(new { style = "text-align:left" }).Width(100);
                c.Template(@<text><span style="color: red; text-align: center"> @item.ErrorMessage</span></text>).Title("Mô tả lỗi").HtmlAttributes(new { style = "text-align:left" });

            })
            .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client)).Selectable().Render();
    }

</div>
<div id="ListButton">
    <span id="ListButtonRight">
        <input type="button" id="btnClose" class="t-button " value="@Res.Get("Common_Button_Close")" onclick="smas.closeDialog('ViewErr')"/>
    </span>
</div>
<style>
    #GridData, #HeadGrid {
        margin-top: 20px;
    }

    .popfullname {
        padding-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        background-color: #cacaca;
        font-weight: bold;
    }

    .listbutton {
        margin-top: 122px;
    }

    .DvEvaluationText {
        padding-left: 10px;
        float: left;
        width: 60px;
        height: 92px;
    }

    .DvShowComments {
        float: right;
        margin-right: 5px;
    }

    .ErrorPupup {
        background-color: white;
        display: none;
        position: absolute;
        width: 290px;
        height: auto;
        border: 1px solid #f5ecec;
    }

    .ClassPopup {
        background-color: #fafafa;
        display: none;
        position: absolute;
        width: 400px;
        height: 220px;
        border: 1px solid #f5ecec;
    }

    #ListButton {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #ListButtonRight {
        float: right;
    }

    #GridData .t-header {
        padding: 0;
        vertical-align: middle;
        text-align: center;
    }

        #GridData .t-header div, #list .t-header strong {
            text-align: center;
        }

        #GridData .t-header td {
            font-weight: 700;
            text-align: center;
        }
</style>
