@model MessageViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MessageArea.Models

@Html.ViettelHiddenFor(o => o.MessageID)
<fieldset>
    <div>
        <table>              
            <tr style="height:30px">                    
                <td style="width:30%">@Html.ViettelLabel(@Res.Get("Message_Label_Title")) : </td>
                <td style="width:70%">@Html.ViettelDisplayFor(o => o.TitleMessage)</td>
            </tr>                           
            <tr style="height:30px">                      
                <td>@Html.ViettelLabel(@Res.Get("Message_Label_SendDate")) : </td>
                <td>@Html.ViettelDisplayFor(o => o.SendDate)</td>
            </tr>
            <tr style="height:30px">                    
                <td>@Html.ViettelLabel(@Res.Get("Message_Label_UserNameSend")) : </td>
                <td>@Html.ViettelDisplayFor(o => o.UserNameSend)</td>
            </tr>   
            <tr style="height:30px">                    
                <td>@Html.ViettelLabel(@Res.Get("Message_Label_Status")) : </td>
                <td>@Html.ViettelDisplayFor(o => o.Status)</td>
            </tr>      
            <tr style="height:30px">                    
                <td>@Html.ViettelLabel(@Res.Get("Message_Label_Content")) : </td>
                <td>@Html.ViettelDisplayFor(o => o.Content)</td>
            </tr> 
        </table>
    </div>
</fieldset>

<div class="dialog-buttons">
    @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('detailDialog');", "")
</div>


