@model MessageViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MessageArea.Models
@using SMAS.Web.Areas.MessageArea

@{
    var index = 1;
    
    Html.Telerik()
        .Grid((IEnumerable<MessageViewModel>)ViewData[MessageConstants.LIST_MESSAGE])
        .Name("GridMessage")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            // Check
            c.Template(
                @<text>
                    <input name="checkedToDelete" type="checkbox" value="@item.MessageID " title="checked"/>
                </text>
            ).HeaderTemplate(
                @<text>
                    <input type="checkbox" title="check all" onclick="checkAllMessage(this)" id="checkAll" />
                </text>
            ).ClientTemplate("<input type=\"checkbox\" name=\"checkedToDelete\" value=\"<#=MessageID #>\" />");

            c.Bound(o => o.TitleMessage).Sortable(true);
            c.Bound(o => o.UserNameSend).Sortable(true);
            c.Bound(o => o.SendDate).Sortable(true).Format("{0:dd/MM/yyyy}");
            c.Bound(o => o.Status).Sortable(true);

            c.Command(cmd =>
            {
                cmd.Custom("details")
                   .Text(Res.Get("Common_Column_Detail"))
                   .Ajax(true)
                   .Action("Detail", "Message")
                   .ButtonType(GridButtonType.Image)
                  .ImageHtmlAttributes(new { @class = "t-icon t-details" });
            }).Title(Res.Get("Common_Column_Detail")).Width(20);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "Message")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.MessageID))
        .Pageable()
        .Sortable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Selectable()
        .Render();
                      
}
<br />
<div class="vt-form-button" align="right">
    @Html.ViettelButton(Res.Get("Common_Label_Delete"), "button", "onDeleteClick()", "")
</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var gridMessage = $('#GridMessage').data('tGrid')
        lstInd = (gridMessage.currentPage - 1) * gridMessage.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "details") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("detailDialog");
            smas.bindTo(item, "detailDialog");
            //smas.openDialog("detailDialog", "", {});
            smas.openDialog("detailDialog", '@Url.Action("Detail")', { id: item.MessageID });
        }
    }

    function checkAllMessage(obj) {
        $("#GridMessage tbody input:checkbox[name=checkedToDelete]").attr("checked", obj.checked);
    }

    function closeDetailDialog(e) {
        var messageId = $('#MessageID').val();
        if (messageId == null)
            return;
        $.ajax({
            url: '@Url.Action("UpdateMessageStatus", "Message")',
            type: 'post',
            data: { MessageID: messageId },
            beforeSend: function () {
                //  smas.showProcessingDialog();
            },
            success: function (msg) {
                //smas.hideProcessingDialog();
                //smas.alert(msg);
                //$("#lstMessage").html(msg);
                search();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
        search();
    }

    function onDeleteClick() {
        var checkedDelete = $('#GridMessage tbody').find('input[type="checkbox"]:checked');
        if (checkedDelete.length < 1) {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Label_ErrorCheckMessage")' });
            return;
        }
        if (confirm('@Html.Raw(Res.Get("Common_Confirm_Delete"))')) {
            $.ajax({
                url: '@Url.Action("DeleteMessage", "Message")',
                type: 'post',
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                data: checkedDelete,
                success: function (data) {
                    smas.hideProcessingDialog();
                    $('#lstMessage').html(data);
                    smas.alert('@Res.Get("Common_Label_DeleteSuccessMessage")');

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            })
        }
    }
</script>



