﻿@model LockTrainingModelSave
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.LockTrainingArea.Models
@using SMAS.Web.Areas.LockTrainingArea
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("LockTraining_Label_Title");
    Layout = "~/Areas/ConductConfigArea/Views/Shared/ConfigLayout.cshtml";
    bool checkYear = new GlobalInfo().IsCurrentYear;  
}
@using (Ajax.BeginForm("Save",
                           "LockTraining",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "save",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmSave" }))
{
    @Html.AntiForgeryToken()
    <div id="divSave" style="width: 100%" class="lock-training-page-save">
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
            <div class="vt-SearchPanel-Title">
                @Res.Get("LockTraining_Label_Title")
                <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            </div>
            <div class="vt-SearchPanel-Content panel-content-1">
                @Html.ViettelEditorForModel()
            </div>
            <div class="vt-SearchPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "saveLockTraining();", "btn btn-info btn-icon btn-round btn-icon-save", "butSave")
            </div>
        </div>
    </div>
    <div id="divGridLock" style="width: 100%" class="lock-training-page">
        @Html.Partial("_List")
    </div>
}
<style type="text/css">
    .t-grid-actions{width:35%!important}#divSave .editor-field input[type=text]{padding-right:0!important}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var check = '@checkYear';
        if (check == "False" || check == 'false') {
            $("#butSave").css("display", "none");
        }

    });

    function save() {
        if (!validateUtils.validateForm("frmSave")) {
            $('.FromDateSave').find('.t-datepicker').after('<span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="FromDateSave"><span class="" generated="true" htmlfor="FromDateSave">Ngày tháng không đúng định dạng</span></span>');
            return false;
        } else {
            $('.FromDateSave').find('.field-validation-error').remove();
            return true;
        }
        
    }

    function CreateSuccess(msg) {
        AjaxLoadGrid();
        smas.alert(msg);
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function saveLockTraining() {
        var isCheckOne = false;
        $("input[name=IsAbsence]").each(function () {
            if (this.checked) {
                isCheckOne = true;
                return;
            }
        });
        if (!isCheckOne) {
            $("input[name=IsViolation]").each(function () {
                if (!this.checked) {
                    isCheckOne = true;
                    return;
                }
            });
        }
        if (!isCheckOne) {
            // Chua chon thong tin diem danh vi pham nao
            smas.alert({ Type: "error", Message: '@Res.Get("LockTraining_Label_NotChoose")' });
            return false;
        }
        return true
        ;
    }
</script>
