﻿@model ReportEmployeeSalaryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportEmployeeSalaryArea.Models
@using SMAS.Web.Areas.ReportEmployeeSalaryArea;
@{
    var list = (IEnumerable<ReportEmployeeSalaryViewModel>)ViewData[ReportEmployeeSalaryConstants.LIST_EMPLOYEESALARY];
    var str_error = (string)ViewData["Error"];
    bool visibleButton=false;
    if (list!=null && list.Count()>0)
    {
        visibleButton = true;
    }
}
<div class="vt-ResultPanel">
    <div class="text-right mg-t-10 mg-b-10">
         @if (visibleButton)
            {
                @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-excel")
            }
    </div>
    <div class="t-widget t-grid vt-table-over-size">
<form action="@Url.Action("ExportExcel","ReportEmployeeSalary")" method="post" id="frmExportExcel" style="overflow: auto;">
@{ 
    var index = 1;
    Html.Telerik()
        .Grid(list)
        .Name("GridReportEmployeeSalary")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" }).Width(20);
            c.Bound(o => o.FullName).HeaderTemplate(Res.Get("Họ và tên")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.BirthDate).HeaderTemplate(Res.Get("Ngày sinh")).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.Genre).HeaderTemplate(Res.Get("Giới tính")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.FacultyName).HeaderTemplate(Res.Get("Tổ bộ môn")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.Resolution).HeaderTemplate(@Utils.ConvertTitle2Display(Res.Get("Mã ngạch lương"),2)).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.SubLevel).HeaderTemplate(Res.Get("Bậc lương")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.Coefficent).HeaderTemplate(Res.Get("Hệ số")).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.SalaryAmount).HeaderTemplate(@Utils.ConvertTitle2Display(Res.Get("Lương thực tế"), 2)).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.AppliedDate).Format("{0:dd/MM/yyyy}").HeaderTemplate(@Utils.ConvertTitle2Display(Res.Get("Ngày xếp lương"), 2)).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
            c.Bound(o => o.SalaryResolution).HeaderTemplate(@Utils.ConvertTitle2Display(Res.Get("QĐ xếp lương"),2)).HeaderHtmlAttributes(new { style = "text-align:center; font-weight: bold" });
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "ReportEmployeeSalary")
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding2"))
        .DataKeys(keys => keys.Add(o => o.EmployeeID))
        .Pageable()
        .Sortable()
        .Selectable()
        .Render();


    <div>
        <input type="hidden" value="@ViewData[ReportEmployeeSalaryConstants.ReportDate]" name="ReportDate" />
        <input type="hidden" value="@ViewData[ReportEmployeeSalaryConstants.FacultyID]" name="FacultyID" />
        <input type="hidden" value="1" name="rdoEmployeeSalary" />
        
    </div>
        }
        </form>
    </div>
</div>

<script type="text/javascript">
    var lstInd = 0;
    $(document).ready(function () {
        if ('@str_error' != null && '@str_error' != "") {
            smas.alert('@str_error');
            $("#GridReportEmployeeSalary").css('display', 'none');
        } else {
            $("#GridReportEmployeeSalary").css('display', 'block');
        }
    });
</script>