﻿@model HonourAchivementTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HonourAchivementTypeArea.Models
@using SMAS.Web.Areas.HonourAchivementTypeArea

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
            @{
                List<HonourAchivementTypeViewModel> list = ViewData[HonourAchivementTypeConstants.LIST_HONOURACHIVEMENTTYPE] as List<HonourAchivementTypeViewModel>;
                var count = list.Count;
                var index = 1;
            }

        <div class="text-right">
            @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreate();", "btn btn-info btn-icon btn-round btn-icon-plus")
        </div>
    </div>
    @{
        Html.Telerik()
           .Grid((IEnumerable<HonourAchivementTypeViewModel>)ViewData[HonourAchivementTypeConstants.LIST_HONOURACHIVEMENTTYPE])
           .Name("GridHonourAchivementType")
           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

               c.Bound(o => o.Resolution).Sortable(true);
               c.Bound(o => o.TypeName).Sortable(true).Visible(true);
               c.Bound(o => o.Description).Sortable(true);


               c.Command(cmd =>
               {
                   cmd.Custom("vtEdit")
                      .Text(Res.Get("Common_Column_Edit"))
                      .Ajax(true)
                      .Action("Edit", "HonourAchivementType")
                      .ButtonType(GridButtonType.Image)
                      .ImageHtmlAttributes(new { @class = "t-icon icon icon-edit" });


               }).Title(Res.Get("Common_Column_Edit")).Width(70).HtmlAttributes(new { style = "text-align:center" });


               c.Command(cmd =>
               {
                   cmd.Custom("vtDelete")
                      .Text(Res.Get("Common_Column_Edit"))
                      .Ajax(true)
                      .Action("Delete", "HonourAchivementType")
                      .ButtonType(GridButtonType.Image)
                      .ImageHtmlAttributes(new { @class = "t-icon icon icon-trash" });


               }).Title(Res.Get("Common_Column_Delete")).Width(70).HtmlAttributes(new { style = "text-align:center" });
           })
           .DataBinding(b =>
               b.Ajax().OperationMode(GridOperationMode.Client)
                       .Select("Search", "HonourAchivementType")

            )
           .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                               .OnCommand("Grid_onCommand")
           )
           .DataKeys(keys => keys.Add(o => o.HonourAchivementTypeID))
           .Pageable().Resizable(o => o.Columns(true))
           .Sortable()
           .Editable(editing => editing.Mode(GridEditMode.PopUp))
           .Selectable()
           .Scrollable(c => c.Enabled(true).Height("auto"))
           .Render();
                      
    }

</div>

<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridHonourAchivementType').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            smas.bindTo(item, "editDialog");
            smas.openDialog("editDialog", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm('@Html.Raw(Res.Get("HonourAchivementType_Confirm_Delete"))', function () {
                smas.post('@Url.Action("Delete")', { id: item.HonourAchivementTypeID }, search, null);
            })

        }
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        smas.openDialog("createDialog", "", {});
    }
</script>



