﻿@model List<ListViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DeclareEvaluationGroupArea
@using SMAS.Web.Areas.DeclareEvaluationGroupArea.Models
@using SMAS.Business.Common
@{   
    bool isEnableButton = (bool)ViewData[VnenClassSubjectConstants.PER_CHECK_BUTTON];
    bool isCheckAll = false;
    
    
    if(@ViewBag.totalcolumn == Model.Count&&Model.Count != 0)
    {
        isCheckAll = true;
    }
    string checkedAll = isCheckAll ? "checked" : String.Empty;
}

<style type="text/css">
    .txtComment {
        height : 50px;
    }

    #Grid td {
        background:white;
    }

</style>

<div id="DeclareEvalutionG" class="vt-ResultPanel mg-t-10">

    @{

        var index = 1;

        Html.Telerik()
            .Grid(Model)
            .Name("Grid")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(50);
                c.Bound(o => o.EvaluationDevelopmentGroupName).Width(200);
                c.Bound(o => o.Note).HtmlAttributes(new { style = "text-align:left", @class = "txtComment" }).Width(460);
                c.Template(@<text>
                                @{
                                    var dem = 0;
                                    string check = String.Empty;
                                    if(@ViewBag.compare == null){
                                        <label class="custom-checkbox">
                                            <input type='checkbox' class='checkedIds' checked="checked" data-index="@item.DeclareEvaluationGroupID"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                    else{
                                    foreach (var ia in @ViewBag.compare)
                                    {
                                        if (@ia.DeclareEvaluationGroupID == @item.DeclareEvaluationGroupID)
                                        {
                                            dem++;
                                        }
                                        else
                                        {
                                            continue;
                                        }
                                    }

                                    if (dem != 0)
                                    {
                                        <label class="custom-checkbox no-padding">
                                            <input type='checkbox' class='checkedIds' checked="checked" data-index="@item.DeclareEvaluationGroupID"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox no-padding">
                                            <input type='checkbox' class='checkedIds' data-index="@item.DeclareEvaluationGroupID"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    }

                                    }   /*DeclareEvaluationGroupID dung de lay ID update*/
                                    <input type="text" style="display:none" class="hdClassSubjectID" value="@item.DeclareEvaluationGroupID" />
                                    <input type="text" style="display:none" class="hdSubjectID" value="@item.SubjectID" />
                                    <input type="text" style="display:none" class="hdnote" value="@item.Note" />
                                }
                            </text>).HeaderTemplate("<label class='custom-checkbox no-padding'><input type='checkbox' id='chekAll' " + checkedAll + "/><span class='checkmark'></span></label>")
                    .HtmlAttributes(new { style = "text-align:center" }).Width(70);
            })
            .DataKeys(keys => keys.Add(o => o.DeclareEvaluationGroupID))
            .Scrollable(u =>
            {
                if (Model.Count < 20)
                {
                    u.Enabled(false);
                }
                else
                {
                    u.Enabled(true).Height(350);
                }
            })
            .Selectable()
            .Render();
            <br />

                

            <span class="vt-ResultPanel-Footer-Right" style="float:right" >
                    <input type="button" value="Lưu" onclick="save()" class="btn btn-info btn-icon btn-round btn-icon-save"/>
                    <input hidden type="text" value="@ViewBag.educationID" id="eduforCb1" class="eduforCb1" />                  
            </span>
            
      
    }
</div>
<script>


    function changeforCbAcademic() {
        var t = document.getElementById('ChoiceSubjectIncrea');
        var selectedText = t.options[t.selectedIndex].text;
        $('#YearofCb').html(selectedText);
    }

    function save() {
        var selectedArr = "";
        var note = new Array();
        var tenp = 0;
        var AcademicYearID = $(".ChoiceSubjectIncrea").val();
        // Lấy dữ liệu từ Grid note va' evaluationGroupID
        $('#Grid').find('.checkedIds:enabled:checked').each(function () {
            
            var val = $(this).closest("td").find(".hdClassSubjectID").val();

            //var nameId = $(this).attr("data-index");
            var valnote = $(this).closest("td").find(".hdnote").val();
            //if (valnote === 'undefined') {
            //    valnote = '';
            //}
            selectedArr += val + ",";
            note.push(valnote);
        });
        var eduforCb1 = $('#EducationLevelID').val();
           $.ajax({
                url: '@Url.Action("Save", "DeclareEvaluationGroup")',
                type: 'post',
            data: { selectedIDs: selectedArr, eduforCb1: eduforCb1, selectedNotes: JSON.stringify(note), allOrNot: 0, AcademicYearID: AcademicYearID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.hideProcessingDialog();
                    smas.alertColor(msg.Message, "green");

                // load lai form
                OnEducationLevelChange();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
    }

    //su kien khi check checkbox chk
    function checkSubjectIncrease() {
        if ($('.chk').is(':checked'))
        {
            $('.OnAndOff').show();
            var t = document.getElementById('ChoiceSubjectIncrea');
            var selectedText = t.options[t.selectedIndex].text;
            $('#YearofCb').html(selectedText);
        }
        else
            $('.OnAndOff').hide();
    }

    function dataForGrid() {
        var AcademicYearID = $(".ChoiceSubjectIncrea").val();
        var educationId = $('#EducationLevelID').val();
        var t = document.getElementById('ChoiceSubjectIncrea');
        var selectedText = t.options[t.selectedIndex].text;
        var tt = document.getElementById('EducationLevelID');
        var selectedTextEdu = tt.options[tt.selectedIndex].text;

        var note = new Array();

        $('#YearofCb').html(selectedText);
        var strConfirm = '<i><u>Lưu ý:</u> Hệ thống sẽ kế thừa dữ liệu Lĩnh vực đánh giá, Chỉ tiêu đánh giá của tất cả các nhóm lớp năm học ' + selectedText + '. Các dữ liệu đã khai báo sẽ bị thay thế.</i>';     
        smas.confirmDecalre(strConfirm, selectedTextEdu, function () {

            var a = $("input[name=chkDeclare]:checked").val();
            if (a == 2) {
            $.ajax({
                url: '@Url.Action("SearchforCB1", "DeclareEvaluationGroup")',
                type: 'post',
                data: { ecademicId: AcademicYearID, educationId: educationId },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {

                    smas.hideProcessingDialog();
                    var a = '';
                    if (msg != '') {
                        $.each(msg, function (key, item) {
                            a += item['DeclareEvaluationGroupID'] + ',';
                            note.push(item['Note']);
                        });
                           var eduforCb1 = $('#EducationLevelID').val();
                        $.ajax({
                            url: '@Url.Action("Save", "DeclareEvaluationGroup")',
                            type: 'post',
                            data: { selectedIDs: a, eduforCb1: eduforCb1, selectedNotes: JSON.stringify(note), allOrNot: 1, AcademicYearID: AcademicYearID },
                            
                            success: function (msg) {
                             
                                smas.alertColor(msg.Message, "green");

                                OnEducationLevelChange();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    }
                    else {
                        var strOK = 'Năm học ' + selectedText + ' không có thông tin dữ liệu Lĩnh vực đánh giá, Chỉ tiêu đánh giá.';
                        smas.info(strOK);
                    }
                },
                   error: function (XMLHttpRequest, textStatus, errorThrown) {
                       smas.alert(XMLHttpRequest.responseText);
                   }
               });
            }
            else {
              
                saveAll();
            }

        })
                  
    }

    function saveAll() {
        var t = document.getElementById('ChoiceSubjectIncrea');
        var selectedText = t.options[t.selectedIndex].text;
        var AcademicYearID = $(".ChoiceSubjectIncrea").val();
        var noteAll = new Array();
        var lstEduID = new Array();
        var a = '';
        $.ajax({
            url: '@Url.Action("SearchforCB1All", "DeclareEvaluationGroup")',
            type: 'post',
            data: { ecademicId: AcademicYearID},
                            beforeSend: function () {
                                smas.showProcessingDialog();
                            },
                            success: function (msg) {
                                smas.hideProcessingDialog();
                var a = '';
                if (msg != '') {
                    $.each(msg, function (key, item) {
                        a += item['DeclareEvaluationGroupID'] + ',';
                        noteAll.push(item['Note']);
                        lstEduID.push(item['EducationId']);
                    });
                    $.ajax({
                        url: '@Url.Action("SaveAll", "DeclareEvaluationGroup")',
                        type: 'post',
                        data: { selectedIDs: a, AcademicYearID: AcademicYearID },
                       
                        success: function (msg) {
                                smas.alertColor(msg.Message, "green");
                            OnEducationLevelChange();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    }
                    else {
                        var strOK = 'Năm học ' + selectedText + ' không có thông tin dữ liệu Lĩnh vực đánh giá, Chỉ tiêu đánh giá.';
                        smas.info(strOK);                       
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
    }
        
    $("#Grid").find('#chekAll').click(function () {
        $(this).parents('#Grid').find(':checkbox').attr('checked', this.checked);

    });

    $("#Grid").find('.checkedIds').change(function () {

        //Kiem tra check/uncheck checkbox all
        if ($("#Grid").find(".checkedIds:not(:checked)").length == 0) {
            $('#Grid #chekAll').attr('checked', true);
        }
        else {
            $('#Grid #chekAll').attr('checked', false);
        }
    });
</script>
