﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DeclareEvaluationGroupArea.Models
@using SMAS.Web.Constants

@using (Ajax.BeginForm("Search",
                           "DeclareEvaluationGroup",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "listResult",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Content">
         <div class="panelsearch">
             <div class="row">
                 <div class="col-md-6 col-md-offset-3 col-sm-10">
             @Html.ViettelCombobox("EducationLevelID", "EducationLevelID",(IEnumerable<SelectListItem>)ViewData["Evaluation"], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "OnChange", "OnEducationLevelChange()" }, { "style", "" } }, false, false)
                 </div>
             </div>
         </div>
           @*@Html.ViettelEditorFor(model => model.EducationLevelID)*@
            
                             
        </div>
        
        <input type="submit" style="display:none" />
    </div>
}
<style>

</style>
<script>
    $(document).ready(function () {
    });
    function OnEducationLevelChange() {
        var EducationLevelID = $('#EducationLevelID').val();
        $.ajax({
            url: '@Url.Action("Search", "DeclareEvaluationGroup")',
            type: 'post',
            data: { EducationLevelID: EducationLevelID },
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (msg) {
                smas.hideProcessingDialog();

                $("#listResult").html(msg);

                setTimeout(function () { controlUtils.AddMoveButtonEvent("#Grid"); }, 500);
                //controlUtils.AddMoveButtonEvent("#Grid");
            },
            //error: function (XMLHttpRequest, textStatus, errorThrown) {
            //    //smas.alert(XMLHttpRequest.responseText);
            //}
        })
    }
</script>




