﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DeclareEvaluationGroupArea.Models
@using SMAS.Web.Areas.DeclareEvaluationGroupArea
@{
    Layout = "~/Areas/AcademicYearArea/Views/Shared/InitializationLayout.cshtml";

    List<ListViewModel> lstResult = (List<ListViewModel>)ViewData[VnenClassSubjectConstants.LIST_CLASS_SUBJECT];
}
<div class="declareEvalution-group-page">
    <div id="SearchPanel">
        @Html.Partial("_Search")
    </div>
    <div id="listResult">
        @Html.Partial("_List",lstResult)
    </div>
</div>