@model SMAS.Models.Models.UserAccount

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.DeleteRK;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@Resources.Resource.DeleteRK</h2>

<h3>@Resources.Resource.DeleteMsgRK</h3>
<fieldset>
    <legend>UserAccount</legend>

    <div class="display-label">GUID</div>
    <div class="display-field">@Model.GUID</div>

    <div class="display-label">CreatedUserID</div>
    <div class="display-field">@Model.CreatedUserID</div>

    <div class="display-label">IsAdmin</div>
    <div class="display-field">@Model.IsAdmin</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">ActionAudits</div>
    <div class="display-field">@(Model.ActionAudits == null ? "None" : Model.ActionAudits.Count.ToString())</div>

    <div class="display-label">GroupCats</div>
    <div class="display-field">@(Model.GroupCats == null ? "None" : Model.GroupCats.Count.ToString())</div>

    <div class="display-label">Menus</div>
    <div class="display-field">@(Model.Menus == null ? "None" : Model.Menus.Count.ToString())</div>

    <div class="display-label">Employee</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Employee).ToString()</div>

    <div class="display-label">UserAccount1</div>
    <div class="display-field">@(Model.UserAccount1 == null ? "None" : Model.UserAccount1.Count.ToString())</div>

    <div class="display-label">UserAccount2</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.UserAccount2).ToString()</div>

    <div class="display-label">UserGroups</div>
    <div class="display-field">@(Model.UserGroups == null ? "None" : Model.UserGroups.Count.ToString())</div>

    <div class="display-label">UserRoles</div>
    <div class="display-field">@(Model.UserRoles == null ? "None" : Model.UserRoles.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ViettelActionLink(@Resources.Resource.BackRK, "Index")
    </p>
}


