@model SMAS.Models.Models.UserAccount

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.EditRK;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@Resources.Resource.EditRK</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>UserAccount</legend>

        @Html.ViettelHiddenFor(model => model.UserAccountID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value=@Resources.Resource.SaveRK
			/>
        </p>
    </fieldset>
}

<div>
    @Html.ViettelActionLink(@Resources.Resource.BackRK, "Index")
</div>
