﻿@model ReportInfoViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamResultReportArea.Models
@using SMAS.Web.Areas.ExamResultReportArea

@{
    Layout = "~/Areas/ExamResultReportArea/Views/Shared/_ReportLayout.cshtml";
}

<form id="frmReport">
    @Html.AntiForgeryToken()
   <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2 exam-pupil-by-room-report-page">
        <div class="vt-SearchPanel-Title">
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
            @Res.Get("ExamResultReport_Title_ExamPupilByRoom")
        </div>
        <div class="vt-SearchPanel-Content">
            
            @Html.ViettelEditorFor(model => model.ExaminationsID)
                    
            @Html.ViettelEditorFor(model => model.ExamGroupID)

            <div class="vt-control radio-exam-pupil-by-room-report">
                <label class="custom-radio-button">
                    <input type="radio" class="radio-check" onclick="radioCheck(this)" name="reportType" checked value="1" />
                    Theo phòng thi
                    <span class="checkmark"></span>
                </label>
            </div>
                   
            @Html.ViettelEditorFor(model => model.ExamRoomID)

            <div class="vt-control radio-exam-pupil-by-room-report">
                <label class="custom-radio-button">
                    <input type="radio" class="radio-check" onclick="radioCheck(this)" name="reportType" value="2" />
                    Theo lớp
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="vt-control" id="byClassArea">
                 @Html.ViettelEditorFor(model => model.EducationLevelID, null, false, true)

                @Html.ViettelEditorFor(model => model.ClassID, null, false, true)
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
           @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportClick()", false, "btn btn-info btn-icon btn-round btn-icon-excel")
           @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "SubmitPDFClick()","btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
</form>

<script type="text/javascript">
    function ExportClick() {
        smas.getReport("frmReport", '@Url.Action("GetReport", "ExamPupilByRoomReport")',
                  '@Url.Action("GetNewReport", "ExamPupilByRoomReport")', '@Url.Action("DownloadReport", "ExamPupilByRoomReport")');
    }

    function SubmitPDFClick() {
        var blank = '_blank';
        smas.getReportDocument('frmReport', '@Url.Action("GetReport", "ExamPupilByRoomReport")',
        '@Url.Action("GetNewReport", "ExamPupilByRoomReport")', '@Url.Action("DownloadPDFReport", "ExamPupilByRoomReport")', blank);
    }

    function onExaminationsChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        controlUtils.loadComboBox(
                     $("#ExamGroupID"),
                    '@Url.Action("AjaxLoadExamGroup", "ExamPupilByRoomReport")',
                                { examinationsID: examinationsID },
                                '@Res.Get("")', function () { $("#ExamGroupID").change() })
                            }

    function onExamGroupChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        var examGroupID = $("#frmReport").find("#ExamGroupID").val();
        var educationLevelID = $("#frmReport").find("#EducationLevelID").val();
        var data = { examinationsID: examinationsID, examGroupID: examGroupID, educationLevelID: educationLevelID };
        controlUtils.loadComboBox(
                            $("#ExamRoomID"),
                            '@Url.Action("AjaxLoadExamRoom", "ExamPupilByRoomReport")',
                                    data, '@Res.Get("All")', "");

        controlUtils.loadComboBox(
                             $("#ClassID"),
                             '@Url.Action("AjaxLoadClass", "ExamPupilByRoomReport")',
                                    data, '@Res.Get("All")', "");
    };

    function onEducationLevelChange() {
        var examinationsID = $("#frmReport").find("#ExaminationsID").val();
        var examGroupID = $("#frmReport").find("#ExamGroupID").val();
        var educationLevelID = $("#frmReport").find("#EducationLevelID").val();
        var data = { examinationsID: examinationsID, examGroupID: examGroupID, educationLevelID: educationLevelID };
        
        controlUtils.loadComboBox(
                             $("#ClassID"),
                             '@Url.Action("AjaxLoadClass", "ExamPupilByRoomReport")',
                                    data, '@Res.Get("All")', "");
    }
    function radioCheck(rd) {
        if ($(rd).val() == 1) {
            $("#frmReport #ExamRoomID").prop('disabled', false);
            $("#frmReport #EducationLevelID").prop('disabled', 'disabled');
            $("#frmReport #ClassID").prop('disabled', 'disabled');
        }
        else {
            $("#frmReport #ExamRoomID").prop('disabled', 'disabled');
            $("#frmReport #EducationLevelID").prop('disabled', false);
            $("#frmReport #ClassID").prop('disabled', false);
        }
    }
</script>


