﻿@model DistributeProgramViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DistributeProgramArea.Models

@using (Ajax.BeginForm("Edit",
                       "DistributeProgram",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit", @class = "frmCustomize" }
                       ))
{
    <div id="CreateContractType" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelHidden("DistributeProgramID")
            @Html.ViettelEditorForModel()

        </div>
        <div class="vt-EditorPanel-Button">
            <button class="btn btn-info btn-icon btn-round btn-icon-save" type="button" onclick="validateEdit()">Lưu</button>
            <div style="display:none">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
            </div>
        </div>
    </div>


}

<script type="text/javascript">
    $(document).ready(function () {
        $("#frmEdit #SubjectID").attr("disabled","");
        $("#frmEdit #EducationLevelID").attr("disabled", "");
        $("#frmEdit #AssignSubjectID").attr("disabled", "");
        $("#frmEdit #ClassID").attr("disabled", "");
    });
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            $("#frmSearch input[type='submit']").click();
        }
    }
    function validateEdit() {
        if ($("#frmEdit #LessonName").val().length == 0 || $("#frmEdit #LessonName").val().trim().length == 0) {
            smas.alertColor("Tên bài học không được bỏ trống","red");
            return false;
        } else if ($("#frmEdit #LessonName").val().length > 250) {
            smas.alertColor("Tên bài học không được dài quá 250 ký tự","red");
            return false;
        } else if ($("#frmEdit #Note").val().length > 250) {
            smas.alertColor("Ghi chú không được dài quá 250 ký tự","red");
            return false;
        } else {
            $("#frmEdit input[type='submit']").click();
        }
    }
    function EditFail(ajaxContext) {
             smas.alert(ajaxContext.responseText);
    }
</script>