﻿@model DistributeProgramBO
@using Com.Viettel.Framework.HtmlHelpers;
@using Telerik.Web.Mvc.UI;
@using System.Collections;
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.DistributeProgramArea.Models;
@using SMAS.Web.Areas.DistributeProgramArea;
@using SMAS.Web.Constants;
@using SMAS.Models.Models;
@using SMAS.Business.BusinessObject;
@using SMAS.VTUtils.HtmlHelpers;
@using SMAS.Business.Common
@{
    string selected = string.Empty;
    List<DistributeProgramBO> lst = ViewData[DistributeProgramConstants.LIST_DISTRIBUTE_PROGRAM] != null ? (List<DistributeProgramBO>)ViewData[DistributeProgramConstants.LIST_DISTRIBUTE_PROGRAM] : new List<DistributeProgramBO>();
    int total = 0;
    //int page = 1;
    GlobalInfo global = new GlobalInfo();
    var iscuryear = global.IsCurrentYear;
    bool isCreate = (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE];
    bool isDelete = (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE];
    bool isUpdate = (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE];
    bool isPPCTFromSytem = (bool)(ViewData[DistributeProgramConstants.PERMISSION_PPCT_FROM_SYSTEM] ?? false);
    total = lst.Count;
    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();

    if (isCreate || isUpdate || isDelete)
    {
        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
    }
    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
    
}

<div id="note" class="mg-t-10 mg-b-10 distribute-program-page">
    <div class="text-right">
        @if (isDelete && iscuryear)
        {
            @Html.ViettelButton("Áp dụng nhiều lớp", "button", "onClickClassMultiApplied();","btn btn-info btn-round")  
            if (isPPCTFromSytem)
            {
                @Html.ViettelButton("PPCT từ hệ thống", "button", "onclickPPCTFromSystem();", "btn btn-info btn-round")  
            }
            @Html.ViettelButton(Res.Get("Common_Button_Delete"), "button", "deleteAll();"," btn btn-basic btn-round btn-icon btn-icon-times")    
        }
        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", " btn btn-info btn-round btn-icon btn-icon-inout")
        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
            @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
        </div>
        @if (iscuryear && (isCreate || isUpdate || isDelete))
        {
            @Html.ViettelButton(Res.Get("Common_Label_Add"), "button", "PrepareCreateDistributeProgram();", " btn btn-info btn-round btn-icon btn-icon-plus")    
        }
    </div>
    <div class="result mg-t-20 mg-b-20">
        @{
            var index = 1;

            Html.Telerik()
                .Grid((IEnumerable<DistributeProgramBO>)ViewData[DistributeProgramConstants.LIST_DISTRIBUTE_PROGRAM])
                .Name("DistributeProgram")
                .Columns(c =>
                {
                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                    c.Bound(o => o.WeekName).Sortable(true).Title("Tuần").Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                    c.Bound(o => o.DistributeProgramOrder).Sortable(true).Title("Tiết PCCT").HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);
                    c.Bound(o => o.LessonName).Sortable(true).Width(120).Title("Tên bài học");
                    c.Bound(o => o.Note).Sortable(true).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(150).Title("Ghi chú");
                    c.Command(cmd =>
                    {
                        cmd.Custom("vtEdit")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("GetEdit", "DistributeProgram")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "icon icon-edit" });


                    }).Title(Res.Get("Common_Column_Edit")).Width(70).Visible(true).HtmlAttributes(new { style = "text-align:center" });
                    c.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Delete", "DistributeProgram")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "icon icon-trash" });


                    }).Title(Res.Get("Common_Column_Delete")).Width(70).Visible(true).HtmlAttributes(new { style = "text-align:center" });
                })
        .Scrollable(p => p.Height(400))
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "DistributeProgram"))
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
        .DataKeys(keys => keys.Add(o => o.DistributeProgramID))
        .Pageable(p => p.PageSize(15))
        .Render();
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@isUpdate' == 'False') {
            $('#DistributeProgram .t-grid-vtEdit').hide();
        }

        if ('@isDelete' == 'False') {
            $('#DistributeProgram .t-grid-vtDelete').hide();
        }
    });
    $(document).click(function (event) {
        if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
            $("#InOutBoxChoice").css("display", "none");
        }

    });
    function onInOutClick(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 24, "z-index": "1000" });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
    };
    function InOutHandle(item) {
        if ($(item).attr('value') == 1) {

            PrepareImporrtDistributeProgram();
        }
        else {
            exportExcel();
        }
    }
    var lstInd = 1;
    function Grid_onDataBinding(e) {
        e.data = jsonUtils.serializeObject("frmSearch");
        var grid = $('#DistributeProgram').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            smas.openDialog("editDialog", '@Url.Action("GetEditView")', { id: item.DistributeProgramID });
            PrepareEditDistributeProgram();
        }
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            var subjectName = $('#SubjectID').find('option[value=' + item.SubjectID + ']').text();
            var educationName = $('#EducationLevelID').find('option[value=' + item.EducationLevelID + ']').text();
            var orderWeek = item.DistributeProgramOrder;
            var cmf = "Thầy cô có chắc muốn xóa PPCT của môn " + subjectName + ", " + educationName + ", tuần " + item.WeekName + ", tiết " + orderWeek + " không?"
            confirmDelete(cmf, function () {
                smas.post('@Url.Action("Delete")', { DistributeProgramID: item.DistributeProgramID }, search, null);
            });
        }
    }
    function search() {
        smas.closeDialog('ConfirmDeleteDistributeProgram');
        $("#frmSearch input[type='submit']").click();
    }
    function deleteAll() {
        var cmf = "";
        if ($("#SchoolWeekID").val() == "") {
            cmf = "Thầy cô có chắc muốn xóa toàn bộ PPCT của môn " + $("#SubjectID option:selected").text() + ", khối " + $("#EducationLevelID option:selected").val() + " không?";
        } else {
            cmf = "Thầy cô có chắc muốn xóa toàn bộ PPCT của môn " + $("#SubjectID option:selected").text() + ", khối " + $("#EducationLevelID option:selected").val() + ", tuần " + $("#SchoolWeekID option:selected").text() + " không?";
        }
        confirmDelete(cmf, function () {
            var serializedString = $("#frmSearch").serialize();
            $.ajax({
                url: '@Url.Action("DeleteAll", "DistributeProgram")',
                type: 'post',
                data: serializedString,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (data) {

                    $("#frmSearch input[type='submit']").click();
                    smas.alert(data);
                    smas.hideProcessingDialog();
                    smas.closeDialog('ConfirmDeleteDistributeProgram');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        })

    }
    function confirmDelete(message, func, func2) {
        $("#ConfirmDeleteDistributeProgram .t-window-content").css("height", "auto");
        $("#ConfirmDeleteDistributeProgram #Message").html(message);
        $("#ConfirmDeleteDistributeProgram #OK").unbind("click").click(function () {
            smas.closeDialog("ConfirmAlertDialog");
            func();
        });
        $("#ConfirmDeleteDistributeProgram #Cancel").unbind("click").click(function () {
            smas.closeDialog("ConfirmDeleteDistributeProgram");
            if (func2 != undefined) {
                func2();
            }
        });
        smas.openDialog("ConfirmDeleteDistributeProgram", "", {});
    }
    function exportExcel() {
        var schoolWeek = $("#frmSearch #SchoolWeekID").val() || 0;
        var downloadUrl = '@Url.Action("ExportExcel")';
        downloadUrl += '?SubjectID=' + $("#frmSearch #SubjectID").val();
        downloadUrl += '&EducationLevelID=' + $("#frmSearch #EducationLevelID").val();
        downloadUrl += '&SchoolWeekID=' + schoolWeek;
        downloadUrl += '&AssignSubjectID=' + $("#frmSearch #AssignSubjectID").val();
        downloadUrl += '&ClassID=' + $("#frmSearch #ClassID").val();

        window.open(downloadUrl);
    }
    function PrepareCreateDistributeProgram() {
        var data;
        var subjectID = $("#frmSearch #SubjectID").val();
        var assignSubjectID = $("#frmSearch #AssignSubjectID").val() || null;
        var educationLevelID = $("#frmSearch #EducationLevelID").val();
        var classID = $("#frmSearch #ClassID").val();
        var schoolWeekID = $("#frmSearch #SchoolWeekID").val() || 0;

        data = { subjectId: subjectID, educationLevelId: educationLevelID, schoolWeekId: schoolWeekID, assignSubjectID: assignSubjectID, classID: classID }
        //formUtils.resetForm("createDialog");
        //var serializedString = $("#frmSearch").serialize();
        smas.openDialog("createDialog", '@Url.Action("GetCreateView")', data);
    }
    function PrepareEditDistributeProgram() {
        formUtils.resetForm("editDialog");
        smas.openDialog("editDialog", "", {});
    }
    function PrepareImporrtDistributeProgram() {
        formUtils.resetForm("importDialog");
        smas.openDialog("importDialog", "", {});
    }

    function getDataFromFormSearch() {
        var data;
        var subjectID = $("#frmSearch #SubjectID").val();
        var assignSubjectID = $("#frmSearch #AssignSubjectID").val() || null;
        var educationLevelID = $("#frmSearch #EducationLevelID").val();
        var classID = $("#frmSearch #ClassID").val();
        var schoolWeekID = $("#frmSearch #SchoolWeekID").val() || 0;

        data = { subjectId: subjectID, educationLevelId: educationLevelID, schoolWeekId: schoolWeekID, assignSubjectID: assignSubjectID, classID: classID }
        return data;
    }

    function onClickClassMultiApplied() {
        function openDialog_Callback() {
            setTimeout(function () {
                var height_Form = $("#WindowClassMultiApplied #frmClassMultiApplied").height() || 169;
                height_Form += 31;
                $("#WindowClassMultiApplied .t-window-content").css("height", height_Form);
            }, 200);
        };
        smas.openDialog("WindowClassMultiApplied", '@Url.Action("GetWindowClassMultiApplied")', getDataFromFormSearch(), openDialog_Callback);
    }
    function onclickPPCTFromSystem() {
        function openDialog_Callback() {
            setTimeout(function () {
                if ($("#WindowConfirmPPCTFromSystem #frmConfirmPPCTFromSystem select#DistributeProgramSystemBO_AssignSubjectName").length > 0) {
                    $("#WindowConfirmPPCTFromSystem .t-window-content").css("height", 180);
                } else {
                    $("#WindowConfirmPPCTFromSystem .t-window-content").css("height", 140);
                }
            }, 200);
        };
        smas.openDialog("WindowConfirmPPCTFromSystem", '@Url.Action("GetWindowConfirmPPCTFromSystem")', getDataFromFormSearch(), openDialog_Callback);
    }
</script>
