﻿@model WindowClassMultiAppliedModel
@using Com.Viettel.Framework.HtmlHelpers;
@using SMAS.Web.Utils;
@using SMAS.Models.Models;
@using SMAS.Web.Areas.DistributeProgramArea;
@using SMAS.Web.Areas.DistributeProgramArea.Models;

@using (Ajax.BeginForm("WindowClassMultiApplied",
                       "DistributeProgram",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ClassMultiAppliedSuccess",
                           OnFailure = "ClassMultiAppliedFail"
                       },
                       new { id = "frmClassMultiApplied", @class = "" }
                       ))
{
    <div class="vt-EditorPanel vt-EditorPanel-1 mg-l-10 mg-r-10 mg-b-10 mg-t-10">
        @Html.AntiForgeryToken()
        @Html.ViettelHiddenFor(m => m.SearchModel.AssignSubjectID)
        @Html.ViettelHiddenFor(m => m.SearchModel.ClassID)
        @Html.ViettelHiddenFor(m => m.SearchModel.EducationLevelID)
        @Html.ViettelHiddenFor(m => m.SearchModel.SchoolWeekID)
        @Html.ViettelHiddenFor(m => m.SearchModel.SubjectID)
        <div class="vt-EditorPanel-Control">
            <p>Thực hiện áp dụng phân phối chương trình môn @Model.SubjectName phân môn @Model.AssignSubjectName lớp @Model.ClassName cho các lớp:</p>
            <div class="item-cbox" style="margin-top: 10px; font-weight: bold; font-size: 12px">
                <label class="custom-checkbox">
                    <input type="checkbox" id="cbox_select_all" onchange="onToggle_Checkbox(this)"/>
                    Toàn @Model.EducationLevelName
                    <span class="checkmark"></span>
                </label>
                @*<input type="checkbox" id="cbox_select_all" onchange="onToggle_Checkbox(this)"/>
                <label for="cbox_select_all">Toàn @Model.EducationLevelName</label>*@
            </div>
            <div class="container-class">
                <div class="class-list">
                    <div class="row">
                    @{
                        int classItem = 1;
                        for (int i = 0; i < Model.ClassList.Count; i++)
                        {
                            <div class="col-md-4">
                                 <label class="custom-checkbox item-cbox item-@(classItem++)">
                                    @Html.ViettelCheckBoxFor(m => m.ClassList[i].Checked, new { onchange = "onChange_CheckboxItem()" })
                                    @Html.ViettelLabelFor(m => m.ClassList[i].Checked, Model.ClassList[i].ClassName)
                                    @Html.ViettelHiddenFor(m => m.ClassList[i].ClassID)
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           
                                            @*<div class="item-cbox item-@(classItem++)">
                                                @Html.ViettelCheckBoxFor(m => m.ClassList[i].Checked, new { onchange = "onChange_CheckboxItem()" })
                                                @Html.ViettelLabelFor(m => m.ClassList[i].Checked, Model.ClassList[i].ClassName)
                                                @Html.ViettelHiddenFor(m => m.ClassList[i].ClassID)
                                            </div>*@
                            if (classItem % 4 == 0)
                            {
                                classItem = 1;
                            }
                        }
                    }
                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <p style="margin-top:10px;color:red;">Lưu ý: phân phối chương trình trước đó của thầy/cô nếu có sẽ bị thay thế.</p>
        </div>
        <div class="vt-EditorPanel-Button">
            <button class="btn btn-info btn-icon btn-round btn-icon-save" type="button" onclick="validateClassMultiApplied()">Lưu</button>
            <button class="btn btn-basic btn-round" type="button" onclick="smas.closeDialog('WindowClassMultiApplied');">Đóng</button>
            <div style="display: none">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function ClassMultiAppliedSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            $("#frmSearch input[type='submit']").click();
        }
    }
    function ClassMultiAppliedFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function validateClassMultiApplied() {
        $("#frmClassMultiApplied input[type='submit']").click();
    }
    function onToggle_Checkbox(source) {
        var checkboxes = $("#frmClassMultiApplied .class-list .item-cbox input[type='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    function onChange_CheckboxItem() {
        var checkboxToggle = $("#cbox_select_all"); if (checkboxToggle.length == 0) return;
        var checkboxes = $("#frmClassMultiApplied .class-list .item-cbox input[type='checkbox']");
        var checkboxToggle_Checked = !0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == !1) {
                checkboxToggle_Checked = !1;
                break;
            }
        }
        checkboxToggle[0].checked = checkboxToggle_Checked;
    }
</script>
<style>
    #frmClassMultiApplied .item-cbox input[type='checkbox'] {
        vertical-align: bottom;
    }

    #frmClassMultiApplied .container-class {
        margin-top: 5px;
        border: 1px solid #036fbd;
        padding-left:10px;
        padding-right:10px;
    }

    #frmClassMultiApplied .class-list {
        margin-left:-10px;
        margin-right:-10px;
    }
</style>
