﻿@model ApprenticeshipClassViewModel

@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipClassArea.Models
@using SMAS.Web.Areas.ApprenticeshipClassArea
@*<style type="text/css">
#GridApprenticeshipClass .t-header
{
    font-weight:bold;
}
#GridApprenticeshipClass .vt-ResultPanel .t-grid {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 981px;
}
</style>*@


@{
    var index = 1;
    string display="";
    Html.Telerik()
        .Grid((IEnumerable<ApprenticeshipClassViewModel>)ViewData[ApprenticeshipClassConstants.LIST_APPRENTICESHIPCLASS])
        .Name("GridApprenticeshipClass")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

            c.Bound(o => o.ClassName).Sortable(true).HeaderTemplate(Res.Get("ApprenticeshipClass_Label_ClassNameO")).Width(340);
            c.Bound(o => o.HeadTeacherFullName).HeaderTemplate(Res.Get("ApprenticeshipClass_Label_Teacher")).Width(250).Visible(true);
            c.Bound(o => o.SubjectName).Sortable(true).HeaderTemplate(Res.Get("ApprenticeshipClass_Label_Subject")).Width(120).Visible(true);
            c.Bound(o => o.Year).Sortable(true).HeaderTemplate(Res.Get("ApprenticeshipClass_Label_Year")).Width(130).Visible(true);									
					
					
            
            c.Command(cmd => {
                cmd.Custom("vtEdit")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Edit","ApprenticeshipClass")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new {@class = "t-icon t-edit"});


            }).Title(Res.Get("Common_Column_Edit")).Width(20).Visible((bool)ViewData[ApprenticeshipClassConstants.VISIBLE_BUTTON]);


            c.Command(cmd =>
            {
                cmd.Custom("vtDelete")
                   .Text(Res.Get("Common_Column_Edit"))
                   .Ajax(true)
                   .Action("Delete", "ApprenticeshipClass")
                   .ButtonType(GridButtonType.Image)
                   .ImageHtmlAttributes(new { @class = "t-icon t-delete" });


            }).Title(Res.Get("Common_Column_Delete")).Width(20).Visible((bool)ViewData[ApprenticeshipClassConstants.VISIBLE_BUTTON]);
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
                    .Select("Search", "ApprenticeshipClass")
                    
         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .DataKeys(keys => keys.Add(o => o.ApprenticeshipClassID))
        .Sortable()
        .Resizable(resizing => resizing.Columns(true))
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Pageable(u=>u.PageSize(20))
        .Selectable()
        .Render();
                      
}

<div class="vt-ResultPanel-Footer">
 <div class="vt-ResultPanel-Footer-Right">
@if ((bool)ViewData[ApprenticeshipClassConstants.VISIBLE_BUTTON])
{
    display = "display:inline"; 
}
else
{
    display = "display:none"; 
}
 
@Html.ViettelButton(Res.Get("Common_Button_AddNew"),new Dictionary<string,object>(){{"style",display}}, "button", "PrepareCreate();")
@Html.ViettelButton(Res.Get("ApprenticeshipClass_Label_Create_By_Class"),new Dictionary<string,object>(){{"style",display}}, "button", "PrepareCreateByClass();")
</div>
<div  class="Clear"></div>
</div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridApprenticeshipClass').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialog");
            controlUtils.loadComboBox(
          $("#frmEdit #HeadTeacherID"),
          '@Url.Action("GetDataTeacher", "ApprenticeshipClass")',
            { id: item.FacultyName },
            '@Res.Get("ApprenticeshipClass_Label_Choice")', BindToItem,item
        );
            smas.openDialog("editDialog", "", {});
            
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            if (confirm('@Html.Raw(Res.Get("ApprenticeshipClass_Label_RequireAsk"))?')) {
                smas.post('@Url.Action("Delete")', {id: item.ApprenticeshipClassID}, search, null);
            }
        }
    }
    function BindToItem(item) {
        var HeadTeacherID = item.HeadTeacherID;
        smas.bindTo(item, "editDialog");
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        setTimeout(function () {
            AjaxLoadTeacher($("#frmCreate" + " #FacultyName"));
        }, 700);
        smas.openDialog("createDialog", "", {});
        $("#frmCreate").focus();
        $("#Semester option:last").attr("selected", "selected");

    }
    function PrepareCreateByClass() {
        formUtils.resetForm("createByClassDialog");
        setTimeout(function () {
            AjaxLoadTeacher($("#frmCreateByClass" + " #FacultyName"));
        }, 700);
        
        smas.openDialog("createByClassDialog", "", {});
        $("#frmCreateByClass #ClassName").blur();
        $("#frmCreateByClass #Semester option:last").attr("selected", "selected");
    }
</script>



