				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipClassArea.Models

@{
    ViewBag.Title = Res.Get("ApprenticeshipClass_Label_Class");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="lst" style="display:none;">
    @Html.Partial("_Search")
</div>

<div id="lstApprenticeshipClass" class="vt-ResultPanel">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ApprenticeshipClass_Label_Create"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(520)
                .Height(370)
)

@(Html.Telerik().Window()
                .Name("createByClassDialog")
                .Title(Res.Get("ApprenticeshipClass_Label_Create_By_Class"))
                .Content(@<text>@Html.Partial("_Create_By_Class")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(520)
                .Height(370)
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ApprenticeshipClass_Label_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(520)
                .Height(370)
)

<style type="text/css">
    .editor-field,.editor-label{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#frmCreate,#frmEdit{padding-left:20px}.t-grid-pager{height:20px}#SearchPanel .editor-label{width:18%}#SearchPanel .editor-field{width:28%;margin-right:10px}
</style>

