﻿@model PupilViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SkillAppraisementArea.Models
@using SMAS.Web.Areas.SkillAppraisementArea
<div class="GeneralTable General3Table General3TTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tbListRanking">
        <colgroup>
            <col style="width: 41px;" />
            <col style="width: 45px;" />
            <col style="width: 194px;" />
        </colgroup>
        <thead>
            <tr>
                <th class="FirstCol">
                    Đạt
                </th>
                <th>
                    Hạng
                </th>
                <th>
                    Phần thưởng
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<PupilViewModel> lstPupil = (List<PupilViewModel>)ViewData[SkillAppraisementConstants.LIST_PUPIL];
                foreach (var pupil in lstPupil)
                {
                <tr PupilID="@pupil.PupilID">
                    <td class="AlignCCols">
                        @{if (pupil.IsPass.HasValue && pupil.IsPass.Value)
                          {
                            <input type="checkbox" class="InputCkboxStyle" checked="checked" id="IsPass@{@pupil.PupilID}"/>
                          }
                          else
                          { 
                            <input type="checkbox" class="InputCkboxStyle" id="IsPass@{@pupil.PupilID}"/>
                          }
                        }
                    </td>
                    <td class="">
                        <div class="BgInputSection">
                            <input type="text" class="InputTextStyle InputText2Style" value="@pupil.Rank" id="Rank@{@pupil.PupilID}" /></div>
                    </td>
                    <td class="VerticalTop">
                        <div class="BgTextareaSection">
                            <textarea cols="1" rows="1" class="TextareaStyle" id="Prize@{@pupil.PupilID}">@pupil.Prize</textarea>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[id^="Rank"]').keypress(function (e) {
            return validateUtils.numbersOnly(e);
        });
    });
</script>
