﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("Home_Label_Skill");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    select, input, textarea
    {
        padding: 0px;
    }
    .GeneralTable .BgTextareaSection, .GeneralTable .BgInputSection
    {
        padding: 0px;
    }
    .GeneralTable .BgFocusInputSection
    {
        background: none;
        border: 0px solid #0BB8EB;
        padding: 0px;
    }
</style>
<div class="ContentSectionBtm">
    <div class="Content2Section">
        <div class="GroupContentSection">
            <div class="HomeSection">
                <div class="GenaralInfoSection">
                    @Html.Partial("_CommonInfo")
                </div>
                <div class="SlideSection Slide2Section" id="divSkillDetail">
                    @Html.Partial("_SkillInfo")
                </div>
                <div class="HomeIn2Section">
                    @Html.Partial("_Detail")
                </div>
                <div class="BtnCenterSection">
                     @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "SaveData()", "t-button")
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var INDEX_OF_LIST_SKILL = 0;
    function ViewDetail() {
        var classID = $('#ClassSchool').val();
        var skillID = $('#CurrentSkillID').val();
        if (skillID == null || skillID <= 0) return;
        if (classID == null || classID <= 0) return;
        $.ajax({
            url: '@Url.Action("ViewDetail", "SkillAppraisement")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { ClassID: classID, SkillID: skillID },
            success: function (data) {
                $('#divListPupil').html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function SaveData() {
        // thong tin luu tru
        var data = new Object();
        var educationID = $('#LevelSchool').val();
        var classID = $('#ClassSchool').val();
        var skillID = $('#CurrentSkillID').val();
        var skillTitleID = $('#SubjectList').val();
        // validate info
        if (skillTitleID == null || skillTitleID <= 0) return;
        if (skillID == null || skillID <= 0) return;
        if (classID == null || classID <= 0) return;
        // set data
        data.EducationLevelID = educationID;
        data.ClassID = classID;
        data.SkillID = skillID;
        data.SkillTitleID = skillTitleID;

        // init data
        var lstPupil = [];
        var lstTeacherComment = [];
        var lstRank = [];
        var lstIsPass = [];
        var lstPrize = [];
        $('#tbListComment tbody tr').each(function () {
            var text = $(this).find('td:eq(1) textarea:first').val(); // comment of teacher
            if ($(text).length > 0) {
                var ppId = $(this).attr('PupilID');
                lstPupil.push(ppId);
                lstTeacherComment.push(text);
            }
        });

        //        $('#tbListRanking tbody tr').each(function () {
        //            var varPass = $(this).find('td:first input:checkbox').checked; // pass or fail
        //            var varRank = $(this).find('td:eq(1) input:first').val(); // ranking 
        //            var varPrize = $(this).find('td:eq(2) textarea:first').val(); // prize for pupil
        //            lstIsPass.push(varPass);
        //            lstRank.push(varRank);
        //            lstPrize.push(varPrize);
        //        });
        var pupilID = 0;
        for (var i = 0; i < lstPupil.length; i++) {
            pupilID = lstPupil[i];
            var varPass = $('#IsPass' + pupilID).checked; // pass or fail
            var varRank = $('#Rank' + pupilID).val(); // ranking 
            var varPrize = $('#Prize' + pupilID).val(); // prize for pupil
            lstIsPass.push(varPass);
            lstRank.push(varRank);
            lstPrize.push(varPrize);
        }

        // set data
        data.LSTPupilID = lstPupil;
        data.LSTCommentOfTeacher = lstTeacherComment;
        data.LSTIsPass = lstIsPass;
        data.LSTRank = lstRank;
        data.LSTPrizes = lstPrize;

        if (lstPupil.length != lstTeacherComment.length || lstPupil.length != lstIsPass.length ||
            lstPupil.length != lstRank.length || lstPupil.length != lstPrize.length) {
            smas.alert({ Type: 'error', Message: '@Res.Get("Common_Validate_NotCompatible")' });
            return;
        }
        if (lstPupil.length <= 0) {
            smas.alert({ Type: 'error', Message: '@Res.Get("common_Validate_NoData")' });
            return;
        }
        if (lstPupil.length > 0) {
            $.ajax({
                url: '@Url.Action("SaveData", "SkillAppraisement")',
                type: 'post',
                data: JSON.stringify(data),
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.Type == 'error') {
                        smas.alert({ Type: 'error', Message: '@Res.Get("SCSMonthlyGrowth_Label_ErrorSave")' });
                    } else {
                        smas.alert(result);
                    }
                    smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }
</script>
