﻿@model StatisticLevelDefinition
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StatisticLevel.Models
@using SMAS.Web.Constants
@{
    string message = ViewBag.Message;
    bool closeDialog = false;
    if (ViewBag.CloseDialog != null)
    {
        closeDialog = ViewBag.CloseDialog;
    }

}
@*danh sach cac muc thong ke*@
<div id ="definition-create-edit">
@using (Ajax.BeginForm(
    "Save"
    ,null
    ,new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "definition-create-edit",
        OnBegin = "smas.showProcessingDialog",
        OnSuccess = "refreshDefinitionList",
        OnComplete = "smas.hideProcessingDialog",
    },
    new { id = "statistic-level-form" })
    )
    {
        
        if (!string.IsNullOrEmpty(message))
        {
            <div class ="center" style="height:30px;text-align:center;">
            @message
            </div>
        }
        else
        {
            <div class ="center" style="text-align:center;">
            @Html.ValidationSummary()
            </div>
        }
        
        @*AntiForgeryToken*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.StatisticLevelReportID, new { value = Model.StatisticLevelReportID})
        @*<input type ="hidden" name ="StatisticLevelReportID" value ="@Model.StatisticLevelReportID" />*@
        <div>
            <div class="editor-label">
                <div style="float:right;">
                    @Html.LabelFor(m=>m.Resolution)<span style="color:red;"> * </span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="editor-field">@Html.TextBoxFor(m => m.Resolution, new {maxlength = 50 })</div>
        </div>
        <div class="vt-control">
            <div class="editor-label"></div>
            <div class="editor-field">
                <label class="custom-checkbox">
                    Tạo cấu hình mức tự động
                    <input type="checkbox" name="IsAutoConfig" id="IsAutoConfig" value="True">
                    <span class="checkmark"></span>
                </label>  
            </div>
        </div>
        <div>
            <div class="editor-label">
                <div style="float: right;">
                    <label>Khoảng cách</label>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="editor-field custom-select">
                <select id="Distance" name="Distance" onchange="onDistanceChange(this);">
                    <option value="0,25">0.25</option>
                    <option value="0,5">0.5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2,5">2.5</option>
                </select>
                <span id="distance-note"></span>
            </div>
        </div>
    
        <div>
            <div class="editor-label">
                <div style="float:right;">
                @Html.LabelFor(m=>m.Description)
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="editor-field">@Html.TextBoxFor(m => m.Description, new { maxlength = 100 })</div>
        </div>
        <div class="text-center">
            <input type ="submit" value="Lưu" class ="btn btn-info btn-round btn-icon btn-icon-save" />
            <input type ="button" value="Đóng" class ="btn btn-basic btn-round" onclick="$('.t-close').click();" />
        </div>
    }
</div>
<style type="text/css">
    .editor-label {
        width:30%;
        
    }
    .editor-field {
        width:60%;
    }
</style>
<script>
    
    $(function () {
        $(".input-validation-error").focus();
        $(".input-validation-error").on("keypress", function () {
            $(this).removeClass("input-validation-error");
        });
        @if (closeDialog==true)
        {
            <text>
            smas.alert("@message");
            smas.closeDialog("edit-window");
            smas.closeDialog("create-window");
            </text>
        }
    });
    function onDistanceChange(sl) {
        var d025 = "Các khoảng thống kê: 0 - 0.25, 0.25 - 0.5, ...";
        var d05 = "Các khoảng thống kê: 0 - 0.5, 0.5 - 1, ...";
        var d1 = "Các khoảng thống kê: 0 - 1, 1 - 2, ...";
        var d2 = "Các khoảng thống kê: 0 - 2, 2 - 4, ...";
        var d25 = "Các khoảng thống kê: 0 - 2.5, 2.5 - 5, ...";
        if ($(sl).val() == '0,25') {
            $("#distance-note").text(d025);
        }
        else if ($(sl).val() == '0,5') {
            $("#distance-note").text(d05);
        }
        else if ($(sl).val() == '1') {
            $("#distance-note").text(d1);
        }
        else if ($(sl).val() == '2') {
            $("#distance-note").text(d2);
        }
        else {
            $("#distance-note").text(d25);
        }
    }

    $(document).ready(function () {
        $("#distance-note").text("Các khoảng thống kê: 0 - 0.25, 0.25 - 0.5, ...");
        $("#Resolution").val($("#Resolution").val());
        setTimeout(function () {
            $("#Resolution").focus();
            $("#IsAutoConfig").change();
        }, 0);
        
    });

    $("#IsAutoConfig").change(function () {
        if ($(this).is(':checked')) {
            $("#Distance").removeAttr("disabled");
        }
        else {
            $("#Distance").attr("disabled", "disabled");
        }
    });
</script>