﻿@model List<StatisticLevelDefinition>
@using Com.Viettel.Framework.HtmlHelpers;
@using Telerik.Web.Mvc.UI;
@using SMAS.Models.Models;
@using SMAS.Web.Utils;
@using SMAS.Web.Areas.StatisticLevel.Models;
@using SMAS.Business.Common;
@{
    int index = -1;
    int permission = ViewBag.Permission;
}
@*danh sach cac muc thong ke*@
@{Ajax.BeginForm(
    "Delete"
    , "Definiton"
    , new AjaxOptions()
    {
        UpdateTargetId = "definition-list",
        //OnBegin = "TransferClassForwardBegin",
        OnSuccess = "smas.alert('Xóa thành công')",
        //OnFailure = "TransferClassForwardFailure",
        //OnComplete = "TransferClassForwardComplete"
    }
    , new { id = "statistic-level-form" });}
    @*button them moi*@
<div class="text-right mg-t-10 mg-b-10">
    <input type ="button" value ="Thêm mới"
        data-url ="@Url.Action("Create")"
        @Html.Raw(permission >= SystemParamsInFile.PER_CREATE ?
            " class = 'btn btn-info btn-round btn-icon btn-icon-plus' onclick = 'openCreateWindow(this); return false;' "
            : " class = 't-button t-state-disabled' disabled = disabled ") />

<input id="submit-delete" type ="submit" value ="Xóa" 
        class ="t-button" 
        style ="float:right; margin:5px; display:none;" />
    <input type ="button" value ="Xóa" 
        @Html.Raw(permission >= SystemParamsInFile.PER_DELETE ?
            " class = 'btn btn-basic btn-round  btn-icon btn-icon-times' onclick = 'deleteDefinition();' "
            : " class = 'btn btn-basic btn-round t-state-disabled  btn-icon btn-icon-times'  disabled=disabled ") />
    </div>
    <div style="clear:both;" ></div>
    
    @Html.AntiForgeryToken()
    @{
        Html.Telerik().Grid(Model)
        .Name("statistic-level-definition-list")
        .DataKeys(keys => { keys.Add(m => m.StatisticLevelReportID); })
        .Columns(columns =>
        {

            // Column STT
            columns.Template(
                    @<text>
                    @(++index + 1)
                    @Html.HiddenFor(m => m[index].StatisticLevelReportID)
                </text>)
                    .Title(@Res.Get("Common_Column_Order"))
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(30);

            // Ten muc thong ke
            columns.Template(
                    @<text>
                    @Html.DisplayFor(m => m[index].Resolution)
                </text>
                )
                .Title("Mức thống kê")
                .Width(120).HtmlAttributes(new { style = "text-align:left" });
            // Mo ta
            columns.Template(
                    @<text>
                    @Html.DisplayFor(m => m[index].Description)
                </text>
                )
                .Width(100)
                .HeaderTemplate("Ghi chú")
                .HtmlAttributes(new { style = "text-align:left;" });
                
            columns.Command(cmd =>
            {
                cmd.Custom("vtConfig")
                   .Ajax(false)
                   .Action("Index", "Config")
                   .DataRouteValues(route => 
                        {
                           route.Add(o => o.StatisticLevelReportID);
                        })
                   .ButtonType(GridButtonType.Text)
                   .Text("...")
                   .ImageHtmlAttributes(new { @class = "t-icon t-edit " })
                   ;
            }).Title("Cấu hình").HtmlAttributes(new { style = "text-align:center" }).Width(100);
            
            if (permission >= SystemParamsInFile.PER_UPDATE)
            {
                // Column edit
                columns.Template(
                    @<text>
                    @if (Model[index].Editable)
                    {
                        <span class ="btn-edit">
                        @Html.ActionLink(" ", "Edit", new { id = item.StatisticLevelReportID }
                            , new
                            {
                                onclick = "openEditWindow(this); return false;",
                                @class = "icon icon-edit"
                            })
                        </span>
                    }
                    @Html.HiddenFor(m => m[index].Editable)
                </text>
                    )
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Title("Sửa")
                    .Width(60)
                    .HeaderHtmlAttributes(new { style = "text-align:center" });
            }
            if (permission >= SystemParamsInFile.PER_DELETE)
            {
                // cot checkbox delete
                columns.Template(
                        @<text>
                    @if (Model[index].Deleteable)
                    {
                        <label class="custom-checkbox no-padding">
                            @Html.CheckBoxFor(m => m[index].WillBeDeleted,
                            new { title = "Chọn", data_group = "check", data_group_role = "each" })
                            @Html.HiddenFor(m => m[index].Deleteable)
                            <span class="checkmark"></span>
                        </label>
                        
                    }
                    else
                    {
                        @Html.HiddenFor(m => m[index].WillBeDeleted)
                        @Html.HiddenFor(m => m[index].Deleteable)
                    }
                </text>
                    )
                    .HeaderTemplate(
                        @<text>
                    <label class="custom-checkbox no-padding">
                        @Html.CheckBox("checkAll", false
                        , new { title = "Chọn tất cả", data_group = "check", data_group_role = "all" })
                        <span class="checkmark"></span>
                    </label>
                    
                </text>
                    )
                    .Width(50)
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" });
            }
        })
        .Scrollable(o => o.Height(300))
        .Selectable()
        .Render();
    }
    
    @*button xoa*@
    
    <div style="clear:both;" ></div>

@{Html.EndForm();}

<script>
    $(".t-grid-vtConfig").addClass("btn-edit")
    function openCreateWindow(sender) {
        var window = "create-window";
        var url = $(sender).attr('data-url');
        smas.openDialog(window, url, {});
    }
    function deleteDefinition() {
        if ($("[data-group='check']").filter("[data-group-role='each']:checked").size() > 0) {
            smas.confirm("Thầy/cô có chắc chắn muốn xóa mức thông kê được chọn không?", function () {
                $("#submit-delete").click();
            });
        }
        else {
            smas.error("Thầy/cô chưa chọn mức thông kê để xóa")
        }
    }
    $("[data-group]").on("change", function () {
        var group = $(this).attr("data-group");
        if ($(this).attr("data-group-role") == "all") {
            $("[data-group='" + group + "']").filter("[data-group-role='each']").filter(":enabled").attr("checked", $(this).is(":checked"));
        }
        else {
            var numberCheckboxChecked = $("[data-group='" + group + "']")
                .filter("[data-group-role='each']").filter(":enabled").filter(":checked").size();
            var totalNumberOfCheckbox = $("[data-group='" + group + "']")
                .filter("[data-group-role='each']").filter(":enabled").size();
            if (numberCheckboxChecked == totalNumberOfCheckbox) {
                $("[data-group='" + group + "']").filter("[data-group-role='all']").attr("checked", true);
            }
            else {
                $("[data-group='" + group + "']").filter("[data-group-role='all']").attr("checked", false);
            }
        }
    });
    // disable cac tag thuoc lop disable
    $(function () {
        $(".disabled").attr("disabled", true);
        $(".disabled").attr("href", "javascript:void(0)");
    });
</script>
