﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.WeeklyMealMenuArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
<style>
    #ApplyClassesDialog .vt-control {
        margin-bottom:7px;
    }
 
  
</style>
@{
    List<ClassProfile> lstClass = (List<ClassProfile>)ViewData[WeeklyMealMenuConstants.LIST_CLASS];
    int classId = (int)ViewData[WeeklyMealMenuConstants.CURRENT_CLASS_ID];
    string fromDate = (string)ViewData[WeeklyMealMenuConstants.FROM_DATE];
    string toDate = (string)ViewData[WeeklyMealMenuConstants.TO_DATE];
    GlobalInfo globalInfo = new GlobalInfo();
    
}

<p>Thực hiện áp dụng thực đơn tuần (từ ngày @fromDate - @toDate) cho các lớp:</p>
<div style="padding:10px">
    <div class="vt-control" style="text-align: left;">
        <div class="editor-checkbox-field">
            <label class="custom-checkbox">
                 Toàn trường
                <input type="checkbox" id="CheckAllSchool" onclick="CheckAllSchool(this)">
                <span class="checkmark"></span>
            </label>   
        </div>
    </div>
    <div style="padding:5px 10px 15px 10px;border: 1px solid #a7bac5;" id="AllCheckboxWrapper">
    @for (int i = 0; i < globalInfo.EducationLevels.Count;i++ )
    {
        List<ClassProfile> lstClassLevel = lstClass.Where(o => o.EducationLevelID == globalInfo.EducationLevels[i].EducationLevelID).ToList();
        <div class="LevelWrapper">
            <div class="vt-control" style="text-align: left;">
                <div class="editor-checkbox-field">
                    <label class="custom-checkbox">
                        @globalInfo.EducationLevels[i].Resolution
                        <input type="checkbox" name="IsAllLevel" value="@globalInfo.EducationLevels[i].EducationLevelID" class="CheckAllLevel" onclick="CheckAllLevel(this)">
                        <span class="checkmark"></span>
                    </label>
                    
                </div>
            </div>
            <div style="padding:5px 10px;border: 1px solid #a7bac5;">
                <table>
                    <tr>
                    @for (int j = 0; j < lstClassLevel.Count; j++)
                    {
                        string state = lstClassLevel[j].ClassProfileID == classId ? "checked disabled" : string.Empty;
                        <td >
                            <div class="vt-control" style="text-align: left;">
                                <div class="editor-checkbox-field">
                                    <label class="custom-checkbox">
                                        @lstClassLevel[j].DisplayName
                                        <input type="checkbox" name="lstCheckClasses" value="@lstClassLevel[j].ClassProfileID" class="CheckClass" onclick="CheckClass(this)" @state>
                                        <span class="checkmark"></span>
                                    </label>   
                                </div>
                            </div>
                        </td>
                    }
                    </tr>
                </table>
            </div>
        </div>
    }
    </div>
</div>
<div class="dialog-buttons text-right">
    @Html.ViettelButton("Lưu", "button", "SaveApplyClasses()", "btn btn-info btn-round btn-icon btn-icon-save")
    @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('ApplyClassesDialog');", "btn btn-basic btn-round")
</div>

<script>
    function SaveApplyClasses() {
        $('#frmSave').find(".TempInput").remove();

        $("#ApplyClassesDialog").find(".CheckClass:checked").each(function () {
            $('<input />').attr('type', 'hidden')
           .attr('name', 'lstCheckClasses')
           .attr('value', $(this).val())
           .attr('class', 'TempInput')
           .appendTo('#frmSave');
        });

        $("#frmSave #applyMultiClasses").val("True");
        document.getElementById('btnSubmit').click();
    };

    function CheckAllSchool(cb) {
        if ($(cb).is(":checked")) {
            $(".CheckAllLevel:enabled").attr("checked", true);
            $(".CheckClass:enabled").attr("checked", true);
        }
        else {
            $(".CheckAllLevel:enabled").attr("checked", false);
            $(".CheckClass:enabled").attr("checked", false);
        }
    };

    function CheckAllLevel(cb) {
        if ($(cb).is(":checked")) {
            $(cb).closest(".LevelWrapper").find(".CheckClass:enabled").attr("checked", true);
        }
        else {
            $(cb).closest(".LevelWrapper").find(".CheckClass:enabled").attr("checked", false);
        }

        if ($("#AllCheckboxWrapper").find("input[type=checkbox]:not(:checked)").length == 0) {
            $("#CheckAllSchool").attr("checked", true);
        }
        else {
            $("#CheckAllSchool").attr("checked", false);
        }
    };

    function CheckClass(cb) {
        if ($(cb).closest(".LevelWrapper").find(".CheckClass:not(:checked)").length == 0) {
            $(cb).closest(".LevelWrapper").find(".CheckAllLevel").attr("checked", true);
        }
        else {
            $(cb).closest(".LevelWrapper").find(".CheckAllLevel").attr("checked", false);
        }

        if ($("#AllCheckboxWrapper").find("input[type=checkbox]:not(:checked)").length == 0) {
            $("#CheckAllSchool").attr("checked", true);
        }
        else {
            $("#CheckAllSchool").attr("checked", false);
        }
    };
</script>