﻿@model List<QuickHintViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMealMenuArea
@using SMAS.Web.Areas.WeeklyMealMenuArea.Models
@using SMAS.Models.Models
<style>
    #GridQuickHint table td {
    margin:0;
    padding:0;
    }
    #GridQuickHint input[type=text] {
        width:100%;
        height:30px;
        border:none;
        box-sizing:border-box;
        padding-left:5px;
    }

    #GridQuickHint .t-alt {
        background:none;
    }
 </style>
 @using (Ajax.BeginForm("SaveQuickHint",
                       "MealCategory",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveQuickHintSuccess",
                           OnFailure = "SaveQuickHintFail"
                       },
                       new { id = "frmSaveQuickHint" }
                       ))
 {
     @Html.ViettelAntiForgeryToken()

    var index = 1;
    var id0 = 0;
    var id1 = 0;
    var id2 = 0;
    string name;
    Html.Telerik()
        .Grid(Model)
        .Name("GridQuickHint")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center",@class="OrderNumber" }).Width(50);
            c.Template(@<text>
                @{
                    name = "listQuickHint[" + id0 + "].HintCode";
                    <input type="text" name="@name" value="@item.HintCode" class="HintCode"/>
                    
                    name = "listQuickHint[" + id0 + "].QuickHintID";
                    <input type="hidden" name="@name" value="@item.QuickHintID" class ="QuickHintID"/>
                    
                    id0++;
                }
            </text>).Title("Mã").HtmlAttributes(new { style = "text-align:center" }).Width(100);
     
            c.Template(@<text>
                @{
                    name = "listQuickHint[" + id1 + "].Content";
                    <input type="text" name="@name" value="@item.Content" class="Content"/>
                    
                    id1++;
                }
            </text>).Title("Món ăn").HtmlAttributes(new { style = "text-align:center" });
     
            c.Template(@<text>
                @{
                    name = "listQuickHint[" + id2 + "].IsChecked";
                    <input type="checkbox" name="@name" value="True" class="checkRow" checked/>
                    
                    id2++;
                }
            </text>).HeaderTemplate("<input type='checkbox' id='checkall' onclick='checkAll(this)' checked/>").HtmlAttributes(new { style = "text-align:center" }).Width(50);
     
        })
        .Scrollable(u => u.Height(350))
        .DataKeys(keys => keys.Add(o => o.QuickHintID))
        .NoRecordsTemplate(string.Empty)
        .Footer(false)
        .Render();
    

<p style="text-align:right"><a href="javascript:void(0);" onclick="AddNewRow()">[+] Thêm món ăn</a></p>
<div style="float:right;width:40%;text-align:right;margin-top:10px">
    <input type="submit" id="btnQuickHintSubmit" style="display:none"/>
    @Html.ViettelButton("Lưu", "button", "document.getElementById('frmSaveQuickHint').action = '" + Url.Action("SaveQuickHint") + "';document.getElementById('btnQuickHintSubmit').click();"btn btn-info btn-round btn-icon btn-icon-save", "")
   @Html.ViettelButton("Xóa", "button", "document.getElementById('frmSaveQuickHint').action = '" + Url.Action("DeleteQuickHint") + "';document.getElementById('btnQuickHintSubmit').click();"btn btn-round btn-basic  btn-icon btn-icon-times", "")
</div>

<div style="float:left;width:40%;text-align:left;margin-top:10px">
    @Html.ViettelButton("Xuất Excel", "button", "ExportQuickHint()", "btn btn-info btn-icon btn-round btn-icon-excel")
    @Html.ViettelButton("Import", "button", "ImportQuickHint()", "")
</div>
}
<script>
    function AddNewRow() {
        var index = 1;
        var code = 'MON' + index;
        while (checkExistCode(code) == true) {
            index = index + 1;
            code = 'MON' + index;
        }
        var html = '<tr class=""><td style="text-align:center" class="OrderNumber"></td><td style="text-align:center">' +
                    '<input type="text" name="listQuickHint[0].HintCode" value="' + code + '" class="HintCode">' +
                    '<input type="hidden" name="listQuickHint[0].QuickHintID" value="0" class="QuickHintID">' +
            '</td><td style="text-align:center">' +
                    '<input type="text" name="listQuickHint[0].Content" value="" class="Content" onkeyup="onContentChange(this)">' +
            '</td><td style="text-align:center">' +
                 '<input type="checkbox" name="listQuickHint[0].IsChecked" value="True" class="checkRow">' +
            '</td></tr>';

        console.log(html);
        $("#GridQuickHint").find(".t-grid-content").find(".t-no-data").remove();
        $("#GridQuickHint").find(".t-grid-content").find("tbody").append(html);

        ReIndex();
    };

    function checkExistCode(code) {
        var ret = false;
        $("#GridQuickHint").find(".HintCode").each(function () {
            if ($(this).val() == code) {
                ret = true;
            }
        });

        return ret;
    };

    function ReIndex() {
        var index = 0;
        $("#GridQuickHint").find(".t-grid-content").find("tr").each(function () {
            $(this).find(".HintCode").attr("name", "listQuickHint[" + index + "].HintCode");
            $(this).find(".QuickHintID").attr("name", "listQuickHint[" + index + "].QuickHintID");
            $(this).find(".Content").attr("name", "listQuickHint[" + index + "].Content");
            $(this).find(".checkRow").attr("name", "listQuickHint[" + index + "].IsChecked");
            $(this).find(".OrderNumber").text(index + 1);

            index++;
        });
    };

    function SaveQuickHintSuccess(msg) {
        console.log(msg);
        smas.alert(msg);
        if (msg.Type == "success") {
            $.ajax({
                url: '@Url.Action("OpenQuickHintPopup")',
                type: 'post',
                data: null,
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    $("#QuickHintDialog").find(".t-window-content").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    if (failCallBack != null) {
                        failCallBack(XMLHttpRequest.responseText);
                    }
                }
            });
        }
    };

    function SaveQuickHintFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    };

    function ExportQuickHint() {
        window.location = '@Url.Action("ExportQuickHint")';
    };

    function ImportQuickHint() {
        smas.openDialog("ImportQuickHint", '', {});
    };

    function checkAll(cb) {
        var $grid = $(cb).closest(".t-grid");
        if ($(cb).is(":checked")) {
            $grid.find(".checkRow").each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $grid.find(".checkRow").each(function () {
                $(this).prop("checked", false);
            });
        }
    };

    $('.checkRow').change(function () {
        var $grid = $(this).closest(".t-grid");
        if ($grid.find(".checkRow:not(:checked)").length == 0) {
            $grid.find("#checkall").attr('checked', true);
        }
        else {
            $grid.find("#checkall").attr('checked', false);
        }
    });

    function onContentChange(t) {
        if ($(t).val() != '') {
            $(t).closest("tr").find(".checkRow").attr('checked', true);
        }
        else {
            $(t).closest("tr").find(".checkRow").attr('checked', false);
        }
    }
</script>