﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
}

<div>
    <div>
        <div class="col-sm-3 text-right p-t-10">
             @Res.Get("ImportPupil_Label_ImportFromExcel")
        </div>
        <div class="col-sm-9 p-b-10">
            <input type="text" value="[Chọn file]" disabled="disabled" id="txtFilePath"class="bg-light" />
        </div>
        <div class="col-sm-9 col-sm-offset-3 p-b-10">   
            <button type="button" class="btn btn-success btn-icon btn-icon-folder"onclick="$('#attachment').click();" title="@Res.Get("Teaching_Schedule_CHON_TEP")">Chọn file</button>
        </div>
        <div style="display:none">
                @(Html.Telerik().Upload()
                    .Name("attachment")
                    .HtmlAttributes(new { @class = "btnUploaderCss" })
                    .ShowFileList(false)
                    .Multiple(false)
                    .Async(async => async
                    .Save("Import", "WeeklyMealMenu")
                    .AutoUpload(false)
                        ).ClientEvents(events => events
                    .OnSelect("OnSelectImport")
                    .OnUpload("OnImportUpload")
                    .OnSuccess("OnImportSuccess")
                    .OnError("OnImportError")
                )
                )
            </div>

        <div class="col-sm-9 col-sm-offset-3">
            <p class="gray">@Res.Get("Teaching_Schedule_GIOI_HAN_TEP")</p>
        </div>
    </div>

    <div class="vt-SearchPanel-Button">
        <div class="text-center">
             @Html.ViettelButton("Import", new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" }, { "style", "" } }, "button", "OnImportButtonClick()", "t-state-disabled btn btn-info btn-round mg-t-15 mg-b-15")
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".btnUploaderCss").hide();
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;");
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachment').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled', 'disabled');
            $('#btImport').addClass('t-state-disabled');
            $("#txtFilePath").val("[Chọn file]");
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var form = $('#frmSave');
                        var token = $('input[name="__RequestVerificationToken"]', form).val();
                        var month = $("#frmSearchControl #Month").val();
                        var dataInput = { __RequestVerificationToken: token, classId: selectedClassID, monthAndYear: month, week: selectedWeek };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alertColor('@Res.Get("Teaching_Schedule_LOI_DUNG_LUONG")', 'red');
                    //alert();
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alertColor('File không đúng định dạng', 'red');
                //alert();
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });

        hideUploadButton();
    }
    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachment').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();

            hideUploadButton();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        smas.alert({ Type: e.response.Type, Message: e.response.Message });
        smas.closeDialog("ImportDialog");
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
        LoadGrid();
    }
    function OnImportError(e) {
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.alert(e.responseText);
        smas.hideProcessingDialog();
    }
</script>
