﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WeeklyMealMenuArea;
@using SMAS.Web.Constants;
@using SMAS.VTUtils.HtmlHelpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    int defaultWeek = (int)ViewData[WeeklyMealMenuConstants.DEFAULT_WEEK];
}
    <div id="RightPanel" class="vt-RightPanel weekly-menu" >
        <div class="col-sm-12 no-padding">
            <div id="ClassChoiceID" class="inline-block mg-r-10 mg-b-10" onclick="OpenClassPanel();">
                <div class="text-center light class-choice">
                    <span class="">☰ </span>
                    <span id="strClassNameID">[Chọn lớp]</span>
                </div>
            </div>
        <div  class="inline-block">
           <div id="SearchPanel">
                @Html.Partial("_Search")
            </div>
        </div>
    </div>
     <div id="ListWeek">
        @Html.Partial("_ListWeek")
    </div>
    <div id="ClassPanel" class="vt-LeftPanel">
        <div class="SideBarTop">
            @Html.Partial("_ListClass")
        </div>
    </div>
    <div id="lstResult" class="weekly-menu-area-page-list"></div>
</div>

@(Html.Telerik().Window()
                .Name("ApplyClassesDialog")
                .Title("Áp dụng nhiều lớp")
                .Content(@<text>@string.Empty</text>)
                .Buttons(buttons => buttons.Clear())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .ContentHtmlAttributes(new { style="min-width: 700px;"})
                .Height(345)
    )

@(Html.Telerik().Window()
                .Name("QuickHintDialog")
                .Title("Nhập nhanh món ăn")
                .Content(@<text>@string.Empty</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(450)
                .ContentHtmlAttributes(new { style="min-width: 700px;"})
                .Height(450)
                .ClientEvents(e=>e.OnClose("LoadGrid"))
    )

@(Html.Telerik().Window()
                .Name("ImportQuickHint")
                .Title("Import từ file excel")
                .Content(@<text>@Html.Partial("_ImportQuickHint")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .ContentHtmlAttributes(new { style="min-width: 700px;"})
)

@(Html.Telerik().Window()
                .Name("ImportDialog")
                .Title("Import từ file Excel")
                .Content(@<text>@Html.Partial("Import")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .ContentHtmlAttributes(new { style="min-width: 700px;"})
)
<script type ="text/javascript">
    var selectedClassID = 0;
    var selectedWeek = @defaultWeek;
    var arrAutocomlete = '';
    $(document).mousemove(function (event) {
        if ($(event.target).closest('#ClassPanel').html() == null
            && $(event.target).closest("#ClassChoiceID").html() == null) {
            $("#ClassPanel").css("display", "none");
        }
    });
    $(document).keyup(function (e) {
        var item = $(e.target).attr('id');
        var note = $(e.target).parent().find('.CommentDiv').find('td[class="t-state-selected"]').closest('tr');
        if (e.keyCode == 38 || e.keyCode == 40) {
            if (e.keyCode == 38)//prev
            {
                var pos = $(note).prev();
                if ($(pos).length > 0) {
                    $(e.target).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
                    $(note).prev().find('td').attr('class', 't-state-selected');
                }
            }
            else {//next
                var pos = $(note).next();
                if ($(pos).length > 0) {
                    $(e.target).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
                    $(note).next().find('td').attr('class', 't-state-selected');
                }
            }
        }
        else if (e.keyCode == 13) {//enter
            var pos = $(e.target).parent().find('.CommentDiv').find('td[class="t-state-selected"]');
            if ($(pos).length > 0) {
                $(e.target).val($(note).find('td').html());
                $(e.target).parent().find('.CommentDiv').hide();
                $(e.target).parent().find('.CommentDiv').find('td').removeClass('t-state-selected');
            }
        }
        else {
            var itemVal = $(e.target).val();
            var posShow = $(e.target).parent().find('.CommentDiv');
            $(posShow).html('');
            var count = 0;
            var isSelected = 0;
            var breakout = 0;
            if (itemVal != '' && (arrAutocomlete != '' || arrAutocomlete != null)) {
                var htmlAppend = '<table style="border:1px solid #a7bac5; width:170px">';
                for (var i = 0; i < arrAutocomlete.length; i++) {
                    if (breakout == 5) {
                        break;
                    }
                    var objAutocomlete = arrAutocomlete[i];
                    if (objAutocomlete.HintCode.toUpperCase().indexOf(itemVal.toUpperCase()) >= 0
                        || objAutocomlete.Content.toUpperCase().indexOf(itemVal.toUpperCase()) >= 0) {
                        breakout++;
                        if (isSelected == 0) {
                            htmlAppend += '<tr><td style="border:1px solid #a7bac5" onclick="OnSelectItem(this)" class="t-state-selected" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)">' + objAutocomlete.Content;
                            isSelected = 1;
                        }
                        else {
                            htmlAppend += '<tr><td style="border:1px solid #a7bac5" onclick="OnSelectItem(this)" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)">' + objAutocomlete.Content;
                        }
                        htmlAppend += '</td></tr>';
                        count++;
                    }
                }
                htmlAppend += '</table>';
                if (count > 0) {
                    $(posShow).append(htmlAppend);
                    $(posShow).show();
                }
            }
        }
    });

    function OnSelectItem(item) {
        var htmlItem = $(item).html();
        $(item).closest('div[class="CommentDiv"]').parent().find('textarea').val(htmlItem);
        $(item).closest('div[class="CommentDiv"]').hide();
    }
    function MouseOver(item) {
        $(item).addClass('OverForLi');
    }
    function MouseOut(item) {
        $(item).removeClass("OverForLi");
    }

    function OpenClassPanel() {
        $('#ClassPanel').show();
    };
   
    function SelectClass(e) {
        var item = $(e.item);
        if(item.hasClass("ClassID"))
        {
            var className = item.find("span").text();
            $("#strClassNameID").text(className);

            selectedClassID = treeView().getItemValue(item);
            LoadGrid();
        }
    };

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    };

    function LoadGrid() {
        $("#lstResult").html('');
        if (selectedClassID != 0 && selectedWeek != 0) {
            var month = $("#frmSearchControl #Month").val();
            var data = {
                classId: selectedClassID,
                monthAndYear: month,
                week: selectedWeek
            };
            console.log(data);
            ajaxPostUpdateDiv('@Url.Action("Search")', data, "lstResult", null);
        }
    };

    function AjaxLoadWeek(){
        var month = $("#frmSearchControl #Month").val();
        var data = {
            monthAndYear: month,
            week: selectedWeek
        };
        ajaxPostUpdateDiv('@Url.Action("AjaxLoadWeek")', data, "listWeekWraper", null);
    }
</script>