﻿@model ExamSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSubjectArea
@using SMAS.Web.Areas.ExamSubjectArea.Models

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
}
<div class="exam-subject-area-window">
@using (Ajax.BeginForm("Create",
                       "ExamSubject",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    @Html.AntiForgeryToken()
    <div id="CreateExamSubject" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            <div class="row">
                <div class="col-md-6">
                @Html.ViettelEditorFor(model => model.ExaminationsID, new Dictionary<string, object>() { })
                 </div>
                <div class="col-md-6 ">
                @Html.ViettelEditorFor(model => model.ExamGroupID, new Dictionary<string, object>() { })
                </div>
            </div>
            
            <div class="vt-control HiddenExaminationsID" style="display:none">
                <div class="editor-field">
                    <input type="hidden" name="HiddenExaminationsID" value="" id="HiddenExaminationsID" />
                </div>
            </div>
            <div class="vt-control CheckAllExamGroup">
                <div class="editor-field">
                    <label class="custom-checkbox">
                        @Res.Get("ExamSubject_Label_CheckAllExamGroup")
                        <input id="CheckAllExamGroup" type="checkbox" name="CheckAllExamGroup" value="1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div id="ListExamSubjectInsert">
            @Html.Partial("_ListInsert")
        </div>
        <div class="vt-EditorPanel-Button text-center">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "button", "CheckValidateSubmit()", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
            <input type="submit" id="HfSubmit" style="display:none" />
        </div>
    </div>
}
</div>
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            // Bo check cho checkbox "Ap dung cho tat ca cac nhom thi"
            $("#CreateExamSubject #CheckAllExamGroup").removeAttr("checked");
            AjaxLoadExamSubjectInsert(this);
            search();
        }
    }

    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function reloadGridInsert(IsReload) {
        var grid = $('#ListExamSubjectInsert').data('tGrid');
        $.ajax({
            url: '@Url.Action("SearchSchoolSubject", "ExamSubject")',
            type: 'post',
            data: {},
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ListExamSubjectInsert").html(msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

  
</script>