﻿@model ExamSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSubjectArea
@using SMAS.Web.Areas.ExamSubjectArea.Models
@using SMAS.Models.Models

@{
    ExamSubjectViewModel exam = (ExamSubjectViewModel)ViewData[ExamSubjectConstants.EXAMSUBJECT_UPDATE];
}

@using (Ajax.BeginForm("Update",
                       "ExamSubject",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <div id="UpdateExamSubject" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            <div class="row">
                <div class="col-md-10">
            <div class="vt-control Examinations">
                <div class="editor-label">
                    <label>@Res.Get("ExamSubject_Label_Examinations")</label>
                </div>
                <div class="editor-field">
                    <input type="hidden" name="HiddenExamSubject" id="HiddenExamSubject" value="@exam.ExamSubjectID" />
                    <input type="hidden" name="HiddenExaminations" id="HiddenExaminations" value="@exam.ExaminationsID" />
                    <input type="hidden" name="HiddenExamGroupID" id="HiddenExamGroupID" value="@exam.ExamGroupID" />
                    <input type="text" disabled="disabled" value="@exam.ExaminationsName" id="Examinations" name="Examinations" style="padding-left:5px;" />
                </div>
            </div>
                    </div>
                <div class="col-md-10">
            <div class="vt-control ExamGroup">
                <div class="editor-label">
                    <label>@Res.Get("ExamSubject_Label_ExamGroup")</label>
                </div>
                <div class="editor-field">
                    <input type="hidden" name="HiddenExamGroup" id="HiddenExamGroup" value="@exam.ExamGroupID" />
                    <input type="text" disabled="disabled" value="@exam.ExamGroupName" id="ExamGroup" name="ExamGroup" style="padding-left:5px;" />
                </div>
            </div>
                    </div>
                <div class="col-md-10">
            <div class="vt-control Subject ">
                <div class="editor-label">
                    <label>@Res.Get("ExamSubject_Label_ExamSubjectName")</label>
                </div>
                <div class="editor-field">
                    <input type="hidden" name="HiddenSubject" id="HiddenSubject" value="@exam.SubjectID" />
                    <input type="text" disabled="disabled" value="@exam.SubjectName" id="Subject" name="Subject" style="padding-left:5px;" />
                </div>
            </div>
                    </div>
                <div class="col-md-10">
            <div class="vt-control ExamSubjectCode ">
                <div class="editor-label">
                    <label>@Res.Get("ExamSubject_Label_ExamSubjectID")</label>
                </div>
                <div class="editor-field">
                    <input name="ExamSubjectCode" id="ExamSubjectCode" onchange="ValidateSchedules(this)" 
                        value="@{ if(!string.IsNullOrEmpty(exam.SubjectCode))
                                  {
                                      @exam.SubjectCode
                                  }else{
                                      @exam.Abbreviation
                                  }
                                 }" 
                        maxlength="10"/>
                </div>
            </div>
                </div>
                <div class="col-md-10">
            <div class="vt-control SchedulesExam">
                <div class="editor-label">
                    <label>@Res.Get("ExamSubject_Label_SchedulesExam")</label>
                </div>
                <div class="editor-field">
                    <input name="SchedulesExam" id="SchedulesExam" onchange="ValidateSchedules(this)" value="@exam.SchedulesExam" maxlength="200"/>
                </div>
            </div>
                    </div>
                <div class="col-md-10">
            <div class="vt-control CheckAllExamGroup">
                <div class="editor-label"></div>
                <div class="editor-field">
                    <label class="custom-checkbox">@Res.Get("ExamSubject_Label_CheckAllExamGroup")
                        <input id="CheckAllExamGroup" type="checkbox" name="CheckAllExamGroup" value="1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
                    </div>
        </div>
            </div>
        <div class="vt-EditorPanel-Button text-center">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "button","SaveEdit()", "btn btn-info btn-icon btn-round btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
            <input type="submit"  id="submitEdit" style="display:none" />
        </div>
    </div>
}

<style type="text/css">
    #SchedulesExam, #ExamSubjectCode{
        font-family: UTM !important;
        border: 1px solid #D7D7D7;
        height: 40px;
        border-radius: 3px;
        background-color: #fff;
        padding: 0 30px 0 10px;
        font-size: 1em;
        color: #6c6c6c;
        width: 100%;
    }
    #Examinations, #ExamGroup, #Subject {
        width:100%;
    }
    .t-window-content {
        height: 380px!important;
    }
</style>

<script type="text/javascript">
    function SaveEdit()
    {
        var subjectCode = $.trim($("#ExamSubjectCode").val());
        if (subjectCode == "" || subjectCode == null) {
            smas.alert({ Type: "error", Message: '@Res.Get("Validate_Exam_Subject_Code")' });
            $("#ExamSubjectCode").focus();
        } else {
            $("#submitEdit").click();
        }
    }

    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        } 
    }

    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>