﻿@model ExamSubjectViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSubjectArea.Models
@using SMAS.Web.Areas.ExamSubjectArea
@using SMAS.Business.BusinessObject

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    IEnumerable<ExamSubjectViewModel> listResult = (IEnumerable<ExamSubjectViewModel>)ViewData[ExamSubjectConstants.LIST_EXAMSUBJECT];
    int countList = listResult.Count();
    GlobalInfo globalInfo = new GlobalInfo();
    ExaminationsBO examinationsObj = null;
    bool checkDisableEdit = false;
    if (ViewData[ExamSubjectConstants.DATA_EXAMINATIONS] != null)
    {
        examinationsObj = (ExaminationsBO)ViewData[ExamSubjectConstants.DATA_EXAMINATIONS];
    }

    //Duoc hien
    if ((checkUpdate || checkDelete) && (examinationsObj != null && (!examinationsObj.MarkInput.HasValue || examinationsObj.MarkInput == false) && (!examinationsObj.MarkClosing.HasValue || examinationsObj.MarkClosing == false)) && globalInfo.IsCurrentYear)
    {
        checkDisableEdit = true;
    }
}

<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
        @*<div class="vt-ResultPanel-Title-Message">
            @string.Format(Res.Get("Common_Label_CountResult"), countList)
        </div>*@
        <div class="vt-ResultPanel-Title-Button">
            @{
                if (checkDisableEdit)
                {
                    <input type="button" class="btn btn-basic btn-icon btn-icon-times btn-round mg-r-5" id="btnDeleteAll" onclick="DeleteExamSubject()" disabled="disabled" value="@Res.Get("Common_Button_Delete")" />
                }
            }
            @{
                if (checkCreate && globalInfo.IsCurrentYear && ( examinationsObj != null && (!examinationsObj.MarkInput.HasValue || examinationsObj.MarkInput == false) && (!examinationsObj.MarkClosing.HasValue || examinationsObj.MarkClosing == false)))
                {
                  <input type="button" class="btn btn-info btn-icon btn-round btn-icon-plus" value="@Res.Get("Common_Button_AddNew")" onclick="PrepareCreate()"/>
                }
                else
                {
                  <input type="button" disabled="disabled" class="btn btn-info btn-icon btn-round btn-icon-plus" value="@Res.Get("Common_Button_AddNew")"/>
                }
            }
        </div>
        <div class="Clear"></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid(listResult)
            .Name("GridExamSubject")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

                c.Bound(o => o.ExamGroupName).Sortable(true)
                    .HtmlAttributes(new { style = "text-align:center" }).Width(60);
                c.Bound(o => o.SubjectName).Sortable(true)
                    .HtmlAttributes(new { style = "text-align:center" }).Width(80);
                c.Bound(o => o.SubjectCode).Sortable(true)
                    .HtmlAttributes(new { style = "text-align:center" }).Width(60);
                c.Bound(o => o.SchedulesExam).Sortable(true)
                    .HtmlAttributes(new { style = "text-align:center" }).Width(140);

                c.Template(@<text>
                    @{
                        if (checkDisableEdit)
                        {
                          <a class="btn-edit" onclick="GetDataUpdate('@item.ExamSubjectID')"><span class="icon icon-edit"></span></a>
                        }
                    }
                 </text>).Title(Res.Get("Common_Column_Edit")).Width(50);
                
                c.Template(@<text>
                @{
                    if(!item.CheckExist && checkDelete)
                    {
                        <label class="custom-checkbox no-padding">
                            <input type="checkbox" id="checkItemGrid-@item.ExamSubjectID" default="@item.ExamSubjectID" onclick="CheckEnabledButton()" class="checkItemGrid" />
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-checkbox no-padding">
                            <input type="checkbox" disabled="disabled" />
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                </text>).HeaderTemplate(@<text>
                @{
                    if(checkDelete && globalInfo.IsCurrentYear)
                    {
                        <label class="custom-checkbox no-padding">
                            <input type="checkbox" name="CheckAllItemGrid" id="CheckAllItemGrid" onclick="checkAll()"/>
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                </text>).HtmlAttributes(new { style = "text-align:center" }).Width(50);
            })
            .Editable(editing => editing.Mode(GridEditMode.PopUp))            
            .DataKeys(keys => keys.Add(o => o.ExamSubjectID))
            .Selectable()
            .Scrollable()        
            .Render();
                      
}
</div>

<script type="text/javascript">
    var lstInd = 0;   
    function GetDataUpdate(ExamSubjectID) {
        formUtils.resetForm("editDialog");
        smas.openDialog("editDialog", '@Url.Action("GetDataUpdate")', { ExamSubjectID: ExamSubjectID });
    }

    function CheckEnabledButton() {
        var counthCheckItem = 0
        $(".checkItemGrid").each(function () {
            var isDisabled = $(this).is(":disabled");
            if (!isDisabled) {
                counthCheckItem++;
            }
        });

        var countcheckboxGrid = 0;
        $(".checkItemGrid").each(function () {
            var isDisabled = $(this).is(":disabled");
            var isChecked = $(this).is(":checked");
            if (!isDisabled && isChecked) {
                countcheckboxGrid++;
            }
        });

        if (counthCheckItem == countcheckboxGrid && counthCheckItem > 0) {
            $("#CheckAllItemGrid").attr("checked", "checked");
        } else {
            $("#CheckAllItemGrid").removeAttr("checked");
        }

        if (countcheckboxGrid > 0) {
            $("#btnDeleteAll").removeAttr("disabled");
            $("#btnDeleteAll").removeClass("t-state-disabled");
        } else {
            $("#btnDeleteAll").attr("disabled", "disabled");
            $("#btnDeleteAll").addClass("t-state-disabled");
        }
    }

    function checkAll()
    {
        var countcheckboxGrid = 0;
        var isCheckAll = $("#CheckAllItemGrid").is(":checked");
        if (isCheckAll) {
            $(".checkItemGrid").each(function () {
                var isDisabled = $(this).is(":disabled");
                if (!isDisabled) {
                    $(this).attr("checked", "checked");
                    countcheckboxGrid++;
                }
            });

            if (countcheckboxGrid > 0) {
                $("#btnDeleteAll").removeAttr("disabled");
                $("#btnDeleteAll").removeClass("t-state-disabled");
            } else {
                $("#btnDeleteAll").attr("disabled", "disabled");
                $("#btnDeleteAll").addClass("t-state-disabled");
            }
        } else {
            $(".checkItemGrid").each(function () {
                var isDisabled = $(this).is(":disabled");
                if (!isDisabled) {
                    $(this).removeAttr("checked");
                }
            });
            $("#btnDeleteAll").attr("disabled", "disabled");
            $("#btnDeleteAll").addClass("t-state-disabled");
        }
    }

    function DeleteExamSubject() {
        var idarray = '';
        var idchecked = 0;
        $(".checkItemGrid").each(function () {
            var isChecked = $(this).is(":checked");
            var isDisabled = $(this).is(":disabled");
            if (!isDisabled && isChecked) {
                idchecked = $(this).attr("default");
                idarray += idchecked + ",";
            }
        });

        if (idarray != null) {
            //submit delete
            smas.confirmProcess('@Res.Get("Message_Confirm_Delete_Exam_Subject")', function () {
                $.ajax({
                    url: '@Url.Action("Delete", "ExamSubject")',
                    type: 'post',
                    data: { strExamSubjectID: idarray },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    complete: function () {
                        smas.hideProcessingDialog();
                    },
                    success: function (data) {
                        smas.alert(data.Message);
                        search();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        if (failCallBack != null) {
                            failCallBack(XMLHttpRequest.responseText);
                        }
                    }
                });
            });
        } else {
            smas.alert({ Type: 'error', Message: '@Res.Get("Message_Error_Exam_Subject_Empty")' });
        }
    }
</script>