﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamSubjectArea.Models

@{
    ViewBag.Title = @Res.Get("ExamSubject_Title_Page");
    Layout = "~/Areas/ExaminationsArea/Views/Shared/InitializationLayout.cshtml";
    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}
<div class="exam-subject-area-page">
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="ListExamSubject">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ExamSubject_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(760)
                .Height(500)
                .ClientEvents(p => p.OnActivate("OnActivate")).ContentHtmlAttributes(new { style = "min-width:760px;" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ExamSubject_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(270).ContentHtmlAttributes(new { style = "min-width:500px;" })
)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SearchPanel').find('.vt-control').find('.editor-label').find('span').remove();
    });

    function OnActivate() {
        /*var examinationsID = $("#SearchPanel").find("#Examinations").find("option:selected").val();
        var examGroupID = $("#SearchPanel").find("#ExamGroup").find("option:selected").val();
        if (examinationsID != "") {
            $('#CreateExamSubject').find('#ExaminationsID option[value="' + examinationsID + '"]').attr("selected", "true");
            $('#CreateExamSubject').find('#ExaminationsID').attr("disabled", "disabled");
            $('#CreateExamSubject').find('#HiddenExaminationsID').val(examinationsID);
            $('#CreateExamSubject').find('#ExamGroupID option[value="' + examGroupID + '"]').attr("selected", "true");
            var cbxExam = $('#CreateExamSubject').find('#ExaminationsID');
            AjaxLoadExamGroupInsert(cbxExam);
            setTimeout(function () {
                $('#CreateExamSubject').find('#ExamGroupID option[value="' + examGroupID + '"]').attr("selected", "true");
            }, 300);
            AjaxLoadExamSubjectInsert(this);
        }*/
    }

    function AjaxLoadExamGroup(cboExaminations) {
        var cboExamGroup = $("#ExamGroup");
        cboExamGroup.find("option").remove();

        frmId = $(cboExaminations).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ExamGroup"),
            '@Url.Action("AjaxLoadExamGroup", "ExamSubject")',
            { ExaminationsID: $(cboExaminations).val() },
            '@Res.Get("All")'
        );
        search();
    }

    function AjaxLoadExamGroupInsert(cboExaminations) {
        var cboExamGroup = $("#ExamGroupID");
        cboExamGroup.find("option").remove();

        frmId = $(cboExaminations).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ExamGroupID"),
            '@Url.Action("AjaxLoadExamGroup", "ExamSubject")',
        { ExaminationsID: $(cboExaminations).val() }
    );
    }

    function AjaxLoadExamSubject(cboExamGroup) {
        search();
    }

    function AjaxLoadExamSubjectInsert(cboExamGroup) {
        var examinationsID = $("#CreateExamSubject").find("#ExaminationsID").find("option:selected").val();
        var examGroupID = $("#CreateExamSubject").find("#ExamGroupID").find("option:selected").val();
        if (examinationsID > 0 && examGroupID > 0) {
            $.ajax({
                url: '@Url.Action("GetDataInsert", "ExamSubject")',
                type: 'post',
                data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    $("#ListExamSubjectInsert").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    if (failCallBack != null) {
                        failCallBack(XMLHttpRequest.responseText);
                    }
                }
            });
        }
    }

    function ValidateSchedules(obj)
    {
        var value = $(obj).val();
        $(obj).val($.trim(value));
    }

    function PrepareCreate() {
        // Bo check cho checkbox "Ap dung cho tat ca cac nhom thi"
        $("#CreateExamSubject #CheckAllExamGroup").removeAttr("checked");

        var examinationsID = $("#SearchPanel").find("#Examinations").find("option:selected").val();
        var examGroupID = $("#SearchPanel").find("#ExamGroup").find("option:selected").val();
        if (examinationsID == "") {
            examinationsID = 0;
        }
        if (examGroupID != "" && examGroupID != null) {
            $.ajax({
                url: '@Url.Action("GetDataInsert", "ExamSubject")',
                type: 'post',
                data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    $('#CreateExamSubject').find('#ExaminationsID option[value="' + examinationsID + '"]').attr("selected", "selected");
                    $('#frmCreate').find('#ExamGroupID option[value="' + examGroupID + '"]').attr("selected", "selected");
                    $('#CreateExamSubject').find('#ExaminationsID').attr("disabled", "disabled");
                    $('#CreateExamSubject').find('#HiddenExaminationsID').val(examinationsID);
                    $("#frmCreate #ExamGroupID option[value='']").remove();
                    $("#ListExamSubjectInsert").html(data);
                    smas.openDialog("createDialog", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    if (failCallBack != null) {
                        failCallBack(XMLHttpRequest.responseText);
                    }
                }
            });
        } else {
            smas.openDialog("createDialog", "", {});
            //Get data combobox examinations
            $("#frmCreate #ExaminationsID").html('');
            var htmlCb = $("#frmSearch #Examinations").html();
            $("#frmCreate #ExaminationsID").html(htmlCb);
            //Get data examGroup
            $("#frmCreate #ExamGroup").html('');
            var htmlCbG = $("#frmSearch #ExamGroup").html();
            $("#frmCreate #ExamGroupID").html(htmlCbG);
            $("#frmCreate #ExamGroupID option[value='']").remove();

            $('#CreateExamSubject').find('#ExaminationsID option[value="' + examinationsID + '"]').attr("selected", "selected");
            $('#CreateExamSubject').find('#ExaminationsID').attr("disabled", "disabled");
            $('#CreateExamSubject').find('#HiddenExaminationsID').val(examinationsID);

            var examGroupID = $("#SearchPanel").find("#ExamGroup").find("option:selected").val();
            if (examinationsID != "") {
                $('#frmCreate').find('#ExamGroupID option[value="' + examGroupID + '"]').attr("selected", "selected");
            }
            setTimeout(function () { AjaxLoadExamSubjectInsert(this) }, 300);
        }
    }

    function CheckValidateSubmit() {
        //dem tat cac cac checkbox co trong item
        var countCheckItem = 0;
        var examGroupID = $("#ExamGroupID").val();
        $(".CheckItem").each(function () {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                countCheckItem++;
            }
        });
        if (examGroupID > 0 && examGroupID != null && examGroupID != 'undefined') {
            if (countCheckItem > 0) {
                //cho submit form
                var countsubjectCodeChecked = 0;
                $(".CheckItem").each(function () {
                    var isChecked = $(this).is(":checked");
                    if (isChecked) {
                        var subjectIdChecked = $(this).val();
                        var valueSubjectCode = $("#Abbreviation" + subjectIdChecked).val();
                        if (valueSubjectCode == "" || valueSubjectCode == null) {
                            countsubjectCodeChecked++;
                        }
                    }
                });

                if (countsubjectCodeChecked == 0) {
                    $("#HfSubmit").click();
                }
                else {
                    smas.alert('@Res.Get("Validate_Exam_Subject_Code")');
                }
            }
            else {
                smas.alert('@Res.Get("Message_Error_Exam_Subject_Empty")');
            }
        }
        else {
            smas.alert('@Res.Get("ExamInputMarkAssigned_Validate_Required_ExamGroupID")');
            $("#ExamGroupID").focus();
        }
    }
</script>
