﻿<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1258">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="HS_THCS_BaoCaoHSNghiHoc_Lop6a_files/filelist.xml">
<style id="HS_THCS_BaoCaoHSNghiHoc_Lop6a_32056_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.xl6332056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6432056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6532056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6632056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6732056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6832056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6932056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7032056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7132056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7232056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7332056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7432056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7532056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:normal;}
.xl7632056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:normal;}
.xl7732056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7832056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7932056
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
-->
</style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Excel's Publish as Web
Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="HS_THCS_BaoCaoHSNghiHoc_Lop6a_32056" align=center
x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=659 class=xl6432056
 style='border-collapse:collapse;table-layout:fixed;width:496pt'>
 <col class=xl6532056 width=50 style='mso-width-source:userset;mso-width-alt:
 1828;width:38pt'>
 <col class=xl6532056 width=83 style='mso-width-source:userset;mso-width-alt:
 3035;width:62pt'>
 <col class=xl6432056 width=161 style='mso-width-source:userset;mso-width-alt:
 5888;width:121pt'>
 <col class=xl6532056 width=99 style='mso-width-source:userset;mso-width-alt:
 3620;width:74pt'>
 <col class=xl6532056 width=40 style='mso-width-source:userset;mso-width-alt:
 1462;width:30pt'>
 <col class=xl6532056 width=46 span=2 style='mso-width-source:userset;
 mso-width-alt:1682;width:35pt'>
 <col class=xl6432056 width=134 style='mso-width-source:userset;mso-width-alt:
 4900;width:101pt'>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6532056 width=50 style='height:15.75pt;width:38pt'></td>
  <td class=xl6532056 width=83 style='width:62pt'></td>
  <td class=xl6432056 width=161 style='width:121pt'></td>
  <td class=xl6532056 width=99 style='width:74pt'></td>
  <td class=xl6532056 width=40 style='width:30pt'></td>
  <td class=xl6532056 width=46 style='width:35pt'></td>
  <td class=xl6532056 width=46 style='width:35pt'></td>
  <td class=xl6432056 width=134 style='width:101pt'></td>
 </tr>
 <tr height=22 style='mso-height-source:userset;height:16.5pt'>
  <td colspan=8 height=22 class=xl7732056 style='height:16.5pt'>Trường
  D&#7919; Li&#7879;u M&#7851;u</td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.0pt'>
  <td height=20 class=xl6332056 style='height:15.0pt'></td>
  <td class=xl6632056 width=83 style='width:62pt'></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
 </tr>
 <tr height=22 style='mso-height-source:userset;height:16.5pt'>
  <td colspan=8 height=22 class=xl7832056 style='height:16.5pt'>BÁO CÁO DANH
  SÁCH H&#7884;C SINH NGH&#7880; H&#7884;C</td>
 </tr>
 <tr height=26 style='mso-height-source:userset;height:19.5pt'>
  <td colspan=8 height=26 class=xl7832056 style='height:19.5pt'>L&#7899;p 6a</td>
 </tr>
 <tr height=21 style='mso-height-source:userset;height:15.75pt'>
  <td colspan=8 height=21 class=xl6332056 style='height:15.75pt'>T&#7915; ngày
  01/03/2015 đ&#7871;n ngày 19/05/2015</td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.0pt'>
  <td height=20 class=xl6332056 style='height:15.0pt'></td>
  <td class=xl6632056 width=83 style='width:62pt'></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
  <td class=xl6332056></td>
 </tr>
 <tr height=45 style='mso-height-source:userset;height:33.75pt'>
  <td rowspan=2 height=66 class=xl6732056 style='height:49.5pt'>STT</td>
  <td rowspan=2 class=xl7532056 width=83 style='width:62pt'>L&#7899;p</td>
  <td rowspan=2 class=xl6732056>H&#7885; tên</td>
  <td rowspan=2 class=xl6732056>Ngày ngh&#7881;</td>
  <td colspan=3 class=xl7232056 style='border-right:.5pt solid black;
  border-left:none'>Bu&#7893;i ngh&#7881;</td>
  <td rowspan=2 class=xl7532056 width=134 style='width:101pt'>Ghi chú</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6732056 style='height:15.75pt;border-left:none'>Sáng</td>
  <td class=xl6732056 style='border-left:none'>Chi&#7873;u</td>
  <td class=xl6732056 style='border-left:none'>T&#7889;i</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt'>1</td>
  <td class=xl6832056 style='border-left:none'>6a</td>
  <td class=xl6932056 style='border-left:none'>Nguy&#7877;n Ng&#7885;c
  Hi&#7871;u</td>
  <td class=xl7032056 style='border-left:none'>3/4/2015</td>
  <td class=xl6832056 style='border-left:none'>P</td>
  <td class=xl6832056 style='border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>2</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Nguy&#7877;n
  Qu&#7889;c Huy</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/14/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>3</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Bùi Th&#7883;
  Lan Hương</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/26/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>K</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>4</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Bùi Th&#7883;
  Lan Hương</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/21/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>5</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Bùi Th&#7883;
  Lan Hương</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/19/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>6</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Bùi Hoàng Long</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/18/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>7</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Nguy&#7877;n
  Th&#7883; Thúy M&#7915;ng</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/14/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>8</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Nguy&#7877;n
  Th&#7883; Th&#7843;o</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/25/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>9</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Bùi Qu&#7923;nh
  Trang</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/9/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>K</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6832056 style='height:15.75pt;border-top:none'>10</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>6a</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>Nguy&#7877;n
  Th&#7883; H&#7843;i Y&#7871;n</td>
  <td class=xl7032056 style='border-top:none;border-left:none'>3/19/2015</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>P</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6832056 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6932056 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td colspan=2 height=21 class=xl6332056 style='height:15.75pt'></td>
  <td class=xl6432056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6432056></td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td colspan=2 height=21 class=xl6332056 style='height:15.75pt'>T&#7893;ng
  c&#7897;ng:<span style='mso-spacerun:yes'> </span></td>
  <td class=xl7132056>Ngh&#7881; có phép:<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6532056>10</td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6432056></td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6532056 style='height:15.75pt'></td>
  <td class=xl6532056></td>
  <td class=xl7132056>Ngh&#7881; không phép:<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6532056>2</td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6432056></td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6532056 style='height:15.75pt'></td>
  <td class=xl6532056></td>
  <td class=xl6432056>T&#7893;ng:<span style='mso-spacerun:yes'> </span></td>
  <td class=xl6532056>12</td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6532056></td>
  <td class=xl6432056></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=50 style='width:38pt'></td>
  <td width=83 style='width:62pt'></td>
  <td width=161 style='width:121pt'></td>
  <td width=99 style='width:74pt'></td>
  <td width=40 style='width:30pt'></td>
  <td width=46 style='width:35pt'></td>
  <td width=46 style='width:35pt'></td>
  <td width=134 style='width:101pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>
