﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SituationOfViolationArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.PupilAwayArea;
    @{
        GlobalInfo glo = new GlobalInfo();
        AcademicYear objAcademicYear = new AcademicYear();
        if (ViewData[PupilAwayConstants.ACADEMIC_YEAR] != null)
        {
            objAcademicYear = (AcademicYear)ViewData[PupilAwayConstants.ACADEMIC_YEAR];
        }
        DateTime startDate = new DateTime();
        DateTime endDate = new DateTime();
        DateTime dateTimeNow = DateTime.Now.Date;
        DateTime dateMin = new DateTime();
        DateTime dateMax = DateTime.Now;
        if (glo.IsCurrentYear)
        {
            startDate = objAcademicYear.FirstSemesterStartDate.Value.Date;
            endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
            dateMin = (startDate > DateTime.Now ? DateTime.Now : startDate);
        }
        else
        {
            startDate = endDate = objAcademicYear.SecondSemesterEndDate.Value.Date;
            dateMin = objAcademicYear.FirstSemesterStartDate.Value.Date;
            dateMax = objAcademicYear.SecondSemesterEndDate.Value.Date;
        }
        
    }

@{
    DateTime firstDateOfMonth = Convert.ToDateTime("01/" + DateTime.Now.Date.Month + "/" + DateTime.Now.Date.Year);
    }


<form id="PupilAwayForm">
<div class="vt-SearchPanel vt-InfoPanel" id ="PupilAwayParams">
     <div class="vt-SearchPanel-Title">
            @Res.Get("PupilProfileReport_Title_PupilAway")
     </div>
    <div class="vt-SearchPanel-Content">
        
        @*@Html.ViettelDatePicker("FromDate", Res.Get("PupilAway_Label_FromDate"), DateTime.Now, true, new Dictionary<string, object> { { "OnChange", "CheckValidate" } }, "dd/MM/yyyy")
        @Html.ViettelDatePicker("ToDate", Res.Get("PupilAway_Label_ToDate"), DateTime.Now.Date, true, new Dictionary<string, object> { { "OnChange", "CheckValidate" } }, "dd/MM/yyyy")*@
        <div class="row">
             <div class="col-sm-6 ">
                @Html.ViettelCombobox(Res.Get("PupilAway_Label_EducationLevel"), "EducationLevelID", (IEnumerable<SelectListItem>)ViewData["listEducation"],
        GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object>() {{ "onchange", "LoadClass();" } }, false, false)
            </div>
            <div class="col-sm-6">
                @Html.ViettelCombobox(Res.Get("PupilAway_ClassProfile_Label_AllTitle"), "ClassID", new List<SelectListItem>(), SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { }, true, false)
            </div>
            <div class="col-sm-6 ">
                <div class="vt-control">
                    <div class="editor-label">
                
                                <label>
                                    @Res.Get("PupilAway_Label_FromDate")
                                </label>
                </div>
                <div class="editor-field">
                                @{
                                    Html.Telerik().DatePicker()
                                    .Name("FromDate")
                                    //.Value(DateTime.Now)
                                    .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                                    .TodayButton("Now")
                                    .Max(dateMax)
                                    .Min(dateMin)
                                    .Format("dd/MM/yyyy")
                                    .ClientEvents(p => p.OnChange("CheckValidate"))
                                    //.InputHtmlAttributes(new { onblur = "alert($(this).val());"})
                                    .Render();
                                }
                </div>
                </div>
                
            </div>
            <div class="col-sm-6 ">
                <div class="vt-control">
                    <div class="editor-label">
                    <label>
                         @Res.Get("PupilAway_Label_ToDate")
                    </label>
                 </div>
                <div class="editor-field">
                                @{
                                    Html.Telerik().DatePicker()
                                    .Name("ToDate")
                                    .Value(endDate < DateTime.Now ? endDate : DateTime.Now)
                                    .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style"})
                                    .TodayButton("Now")
                                    .Format("dd/MM/yyyy")
                                    .Max(endDate < DateTime.Now ? endDate : DateTime.Now)
                                    .ClientEvents(p => p.OnChange("CheckValidate"))
                                    .Render();
                                }
                           @* </div>*@
                 </div>
                </div>
                 
            </div>
           
            
        </div>
  
         
    </div>
    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "SubmitClick()","btn btn-info btn-round btn-icon btn-icon-excel")
        @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDF()", "btn btn-info btn-round btn-icon btn-icon-pdf")
    </div>
</div>
</form>
@*<iframe id="HtmlPattern" style="width:820px;height:590px" src="@Url.Action("ViewPattern", "PupilAway", new {area="PupilAwayArea" })">
</iframe>*@
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center;margin-left:50px">     
    <iframe id="ContentSemester" style ="width:100%;height:600px;" src="/HtmlTemplate/Hos_Sinh_Nghi_Hoc/HS_THCS_BaoCaoHSNghiHoc_Lop6a.htm">
    </iframe>    
</div>
<script>
    $(".editor-field").has("select").addClass("custom-select");
    function ExportExcel() {
        var educationLevelID = $('#EducationLevelID').val();
        var classID = $('#ClassID').val();;
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        var downloadUrl = '@Url.Action("ExportExcel", "PupilAway")';
        downloadUrl += '?educationLevelID=' + educationLevelID;
        downloadUrl += '&classID=' + classID;
        downloadUrl += '&fromDate=' + fromDate;
        downloadUrl += '&toDate=' + toDate;
        window.open(downloadUrl);
        //setTimeout(function () { $("#FromDate").unbind(); }, 1000);
    }

    function validateValue()
    {
        var check = CheckValidate();
        if (check == 1) {
            return ExportExcel();
        }
        else {
            return false;
        }
    }

    //Load ngay dau tien cua thang
    $(document).ready(function () {
        if ('@glo.IsCurrentYear'=='True') {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
            $('#ClassID').attr("disabled", "disabled");
        }
        else {
            $('#FromDate').val('@endDate.ToString("dd/MM/yyyy")');
        }
    });

    //load Lop
    function LoadClass() {
        var eduId = $("#PupilAwayParams").find("#EducationLevelID").val();
        if (eduId > 0) {
            $('#ClassID').removeAttr('disabled');
            $.ajax({
                url: '@Url.Action("LoadClass", "PupilAway")',
                type: 'post',
                data: { eduId: eduId },
                success: function (data) {
                    $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
                    $.each(data, function (index, value) {
                        $('#ClassID').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        } else {
            $('#ClassID').attr('disabled', 'disabled');
                $("#ClassID").find('option').remove().end().append("<option value>@Res.Get("Common_Combo_All")</option>");
           @*$('#MarkType').append("<option value>@Res.Get("Common_Combo_Choose")</option>");*@
           // $("#gridData").html("");
        }
    }


    function CheckValidate() {
        if (!validateUtils.isDate($('#FromDate').val())) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Từ ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = '01/' + mm + "/" + yyyy;
            $('#FromDate').val(currentDate);
            return 0;
        }
        if (!validateUtils.isDate($('#ToDate').val())) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Đến ngày không hợp lệ" });
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var currentDate = dd + '/' + mm + "/" + yyyy;
            $('#ToDate').val(currentDate);
            return 0;
        }
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        arrfromdate = fDate.split("/");
        arrtodate = tDate.split("/");

        var dd1 = arrfromdate[0];
        var mm1 = arrfromdate[1];
        var yyyy1 = arrfromdate[2];
        var strdate1 = yyyy1 + "-" + mm1 + "-" + dd1;
        var fromday = strdate1.split('-');

        var dd = arrtodate[0];
        var mm = arrtodate[1]; //January is 0!
        var yyyy = arrtodate[2];
        var strdate = yyyy + "-" + mm + "-" + dd;
        var CurrentDate = strdate.split('-');

        var firstDate = new Date();
        firstDate.setFullYear(fromday[0], (fromday[1] - 1), fromday[2]);

        var secondDate = new Date();
        secondDate.setFullYear(CurrentDate[0], (CurrentDate[1] - 1), CurrentDate[2]);

        if (firstDate > secondDate) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Giá trị Từ ngày phải nhỏ hơn Đến ngày" });
            return 0;
        }

        var today = new Date();
        var FromDate = dateUtils.Parse($('#FromDate').val());
        if (FromDate > today) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải trước ngày hiện tại" });
            return 0;
        }
       @* if (firstDate < dateUtils.Parse('@startD')) {
            $('#FromDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Từ ngày phải lớn sau ngày bắt đầu năm học" });
            return 0;
        }

        if (secondDate > dateUtils.Parse('@endD')) {
            $('#ToDate').addClass('t-state-error');
            smas.alert({ Type: "error", Message: "Gía trị Đến ngày phải trước ngày kết thúc năm học" });
            return 0;
        }*@
       
        return 1;
    }

@*    $('#PupilAwayForm').submit(function (event) {
        var check = CheckValidate();
        if (check == 1) {
            smas.getReport('PupilAwayForm', '@Url.Action("GetReportPupilAway", "PupilAway")',
            '@Url.Action("GetNewReportPupilAway", "PupilAway")', '@Url.Action("DownloadReport", "PupilAway")');
        }
    });*@

    function SubmitClick()
    {
        var check = CheckValidate();
        if (check == 1) {
            smas.getReport('PupilAwayForm', '@Url.Action("GetReportPupilAway", "PupilAway")',
            '@Url.Action("GetNewReportPupilAway", "PupilAway")', '@Url.Action("DownloadReport", "PupilAway")');
        }
    }
    function ExportPDF() {
        var check = CheckValidate();
        if (check == 1) {
            var blank = '_blank';
            smas.getReportDocument('PupilAwayForm', '@Url.Action("GetReportPupilAway", "PupilAway")',
            '@Url.Action("GetNewReportPupilAway", "PupilAway")', '@Url.Action("DownloadPDFReport", "PupilAway")',blank);
        }
    };
</script>
