@model ExperienceTypeViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExperienceTypeArea.Models

<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1 experience-type-create-page">
    @using (Ajax.BeginForm("Create",
                       "ExperienceType",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        <div id="CreateExperienceType" class="vt-EditorPanel vt-EditorPanel-1">
            <div class="vt-EditorPanel-Control">
                @Html.AntiForgeryToken()
                @Html.ViettelEditorForModel()
            </div>
            <div class="vt-EditorPanel-Button">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-icon btn-round btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
            </div>
        </div>


    }
</div>
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            //            formUtils.focusForm("frmCreate");
            setTimeout("smas.closeDialog('createDialog')", 300);
            search();
        }
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
</script>
