﻿@model ENTTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea.Models
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Web.Constants
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@{
    string message = ViewBag.Message;
    List<HealthPeriod> ListHealthPeriod = ViewBag.HealthPeriods;
    int PupilID = Model == null ? ViewBag.PupilID : Model.PupilID;
    int DefaultHealthPeriodID = ViewBag.DefaultHealthPeriodID is int ? ViewBag.DefaultHealthPeriodID : ListHealthPeriod[0].HealthPeriodID;
    DateTime DefaultMonitoringDate = ViewBag.DefaultMonitoringDate is DateTime ? ViewBag.DefaultMonitoringDate : DateTime.Now;
    bool EnableToEditMonitoringDate = ViewBag.EnableToEditMonitoringDate is bool ? ViewBag.EnableToEditMonitoringDate : true;
    string DefaultUnitName = ViewBag.DefaultUnitName is string ? ViewBag.DefaultUnitName : string.Empty;
    bool EnableToEditUnitName = ViewBag.EnableToEditUnitName is bool ? ViewBag.EnableToEditUnitName : true;
}
<style>
    #divENTTest * {
        float:none;
    }
    #divENTTest label {
        display: inline-block;
        width: 110px;
        text-align: right;
        vertical-align: top;
    }
    #divENTTest label[for='MonitoringDate'] {
            width: 100px;
    }
    #divENTTest label[for='LCapacityHearing'],#divENTTest label[for='RCapacityHearing'] {
            width: 100px;
    }
    #divENTTest label[for='IsSick1'],#divENTTest label[for='IsSick2'] {
        text-align:left;
    }
    #divENTTest label[for='dB'], #divENTTest label[for='IsDeaf'] {
        width:30px;
        text-align:left;
    }
    #divENTTest select[name='HealthPeriodID'] {
        width: 30%;
        vertical-align: top;
    }
    #divENTTest [name='UnitName'] {
        width: 535px;
    }
    .capacity-hearing {
        width: 15%;
    }
    #divENTTest .row {
        padding: 8px;
    }
    .validation-container {
        display:inline-block
    }
    .validation-container input[type='text'], .validation-container select {
        margin-bottom: 0!important;
    }
    #divENTTest [readonly] {
        background-color: #E9E9E9;
    }
</style>

<div id="divENTTest">
    @{
        Ajax.BeginForm(
         ViewBag.Mode == "create" ? "CreateENTTest" : "UpdateENTTest"
         , new AjaxOptions
         {
             UpdateTargetId = "divENTTest",
             OnSuccess = "javascript: if ($.trim($('#message-enttest').html()) != '') {"
             + "smas.alert($('#message-enttest').html());"
             + (Model == null || !Model.ENTTestID.HasValue ? "" : "smas.closeDialog('create-edit-ent-test');")
             + "loadENTTest();"
             + "}",
             OnFailure = "smas.handleAjaxException",
             OnComplete = ""
         }); 
    }
    @Html.AntiForgeryToken()
    @Html.Hidden("PupilID")
    @Html.HiddenFor(m => m.ENTTestID)
    @Html.HiddenFor(m => m.MonitoringBookID)
    <div id="message-enttest" style="display:none;">
        @Html.Raw(message)
    </div>
    <div class="GenaralInfoSection">
        <div class="GIInSection">
            <div class="GeneralForm PPProfile1Form PPProfilePForm">
                <div class="row">
                    @*Dot kham*@
                    @Html.LabelFor(m => m.HealthPeriodID)
                    <div class="validation-container">
                    @Html.DropDownListFor(m => m.HealthPeriodID
                        , new SelectList(ListHealthPeriod, "HealthPeriodID", "Resolution", DefaultHealthPeriodID)
                        , new
                        {
                            @class = "InputTextStyle InputText3Style"
                            ,
                            onchange = string.Format("getDefaultMonitoringDateAndDefaultUnitName({0},$(this).val(),'{1}');", PupilID, Model == null || !Model.ENTTestID.HasValue || Model.ENTTestID <= 0 ? "create" : "edit")
                        })
                        <br />
                         @Html.ValidationMessageFor(m => m.HealthPeriodID)
                    </div>
                    @*Ngay kham*@
                    @Html.LabelFor(m => m.MonitoringDate)
                    <div class="validation-container">
                    @{Html.Telerik().DatePicker()
                        .Name("MonitoringDate")
                        .Value(Model == null ? DefaultMonitoringDate : Model.MonitoringDate)
                        .Enable(EnableToEditMonitoringDate)
                        .ClientEvents(o => o.OnChange("OnMonitoringDateChange"))
                        .TodayButton("Now")
                        .Max(DateTime.Now)
                        .InputHtmlAttributes(new { @class = "InputTextStyle InputText3Style", style = "height:20px!important;" })
                        .Render();}
                     <br />
                     @Html.ValidationMessageFor(m => m.MonitoringDate)
                     </div>
                </div>
                <div class="row">
                    @*don vi kham*@
                    @Html.LabelFor(m => m.UnitName)
                    <div class="validation-container">
                        @if (EnableToEditUnitName)
                        {
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "InputTextStyle InputText2Style", maxlength = 100, data_default_value = DefaultUnitName })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "InputTextStyle InputText2Style", maxlength = 100, data_default_value = DefaultUnitName, @readonly = "readonly" })
                        }
                        <br />
                        @Html.ValidationMessageFor(m => m.UnitName)
                    </div>
                </div>
                <div class="row">
                    @Html.Label("SucNghe", "Sức nghe")
                    @Html.LabelFor(m => m.LCapacityHearing)
                    <div class="validation-container">
                        @Html.TextBoxFor(o => o.LCapacityHearing, new { @class = "capacity-hearing integer-negative valid InputTextStyle InputText1Style", maxlength = 4 })
                        <br />
                        @Html.ValidationMessageFor(o => o.LCapacityHearing)
                    </div>
                    @Html.Label("dB")
                    @Html.LabelFor(m => m.RCapacityHearing)
                    <div class="validation-container">
                        @Html.TextBoxFor(o => o.RCapacityHearing, new { @class = "capacity-hearing integer-negative valid InputTextStyle InputText1Style", maxlength = 4 })
                        <br />
                        @Html.ValidationMessageFor(o => o.RCapacityHearing)
                    </div>
                    @Html.Label("dB")
                    <div class="validation-container">
                        @Html.CheckBoxFor(m => m.IsDeaf, new { OnClick = "changeValueCheckbox(this)" })
                        <br />
                        @Html.ValidationMessageFor(o => o.IsDeaf)
                    </div>
                    @Html.LabelFor(m => m.IsDeaf)
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Description)
                    <div style="display: inline-block;">
                        <div style="padding: 2px 0;">
                            @if (Model != null && Model.IsSick)
                            {
                                @Html.RadioButtonFor(m => m.IsSick, true, new { id = "IsSick1", onchange = "$('#Description').attr('disabled', !$(this).is(':checked'))", @checked = "checked" })
                                <label for="IsSick1">@Res.Get("ENTTest_Label_Sick")</label>
                                @Html.RadioButtonFor(m => m.IsSick, false, new { id = "IsSick2"
                                    , onchange = "$('#Description').attr('disabled', $(this).is(':checked'));"
                                                +"if ($(this).is(':checked')){$('#Description').change();}" })
                                <label for="IsSick2">@Res.Get("ENTTest_Label_Normal")</label>
                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.IsSick, true, new { id = "IsSick1", onchange = "$('#Description').attr('disabled', !$(this).is(':checked'))" })
                                <label for="IsSick1">@Res.Get("ENTTest_Label_Sick")</label>
                                @Html.RadioButtonFor(m => m.IsSick, false, new { id = "IsSick2"
                                    , onchange = "$('#Description').attr('disabled', $(this).is(':checked'));"
                                                +"if ($(this).is(':checked')){$('#Description').change();}"
                                    , @checked = "checked" })
                                <label for="IsSick2">@Res.Get("ENTTest_Label_Normal")</label>
                            }
                        </div>
                        <div>
                            @if (Model != null && Model.IsSick)
                            {
                                @Html.TextBoxFor(m => m.Description, new { @class = "InputTextStyle InputText2Style", style = "margin-bottom:0px;" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Description, new { @class = "InputTextStyle InputText2Style", style = "margin-bottom:0px;", disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    @*button luu*@
                    <input type="submit" value="Lưu" class="t-button" />
                    @*button xoa*@
                    <input type="button" value="Đóng" class="t-button" onclick="smas.closeDialog('create-edit-ent-test')" />
                </div>
            </div>
        </div>
    </div>
    @{Html.EndForm();}
</div>

<script type="text/javascript">
    var debug = true;
    function changeValueCheckbox(checkbox) {
        if ($(checkbox).val() == "True") {
            $(checkbox).val("False");
        } else {
            $(checkbox).val("True");
        }
    }

    $(function () {
        $("[data-default-value]").each(function () {
            if ($(this).val() == null || $(this).val() == '') {
                $(this).val($(this).attr("data-default-value"))
            }
        });
    });
    //Them dau * do vao Don vi kham va ngay kham
    $(function () {
        $("label[for='MonitoringDate'],label[for='UnitName']").each(function () {
            var newHtml = $(this).html() + "<span style='color:red'>*</span>"
            $(this).html(newHtml);
        });
    });
    // Bao cac thong bao loi bang mot the span de hien thi cho dung giao dien
    $(function () {
        $('.field-validation-error').each(function () { // Tim cac thong bao loi
            $(this).html("<span>" + $(this).html() + "</span>"); // Bao lai bang the span
        });
    });
    // Xu ly su kien thay doi cua ngay kham khi chon bang telerik
    var OnMonitoringDateChange = function (e) {
        $(e.target).change(); // Kich phat su kien change cua textbox de cac doi tuong khac biet duoc
        console.log(e);
    }
    // Khi nguoi dung nhan phim vao mot input dang bi bao loi thi xoa thong bao loi tuong ung voi input do
    $(function () {
        var removeErrorMessage = function (control) {
            $(this).removeClass("input-validation-error");
            $(".field-validation-error").filter("[data-valmsg-for='" + $(this).attr("name") + "']").hide();
        };
        $(".input-validation-error").on("change", removeErrorMessage);
    });
    // Lay ten ngay kham va dot kham mac dinh khi thay doi dot kham
    var getDefaultMonitoringDateAndDefaultUnitName = function (pupilProfileID, healthPeriodID, mode, baseURL) {
        if (!baseURL) baseURL = "@Url.Action("getDefaultMonitoringDateAndDefaultUnitName")";
        $.ajax({
            url: baseURL,
            data: { ppid: pupilProfileID, hpid: healthPeriodID },
            type: "GET",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                var picker = $("[name=MonitoringDate]").filter(":visible").data('tDatePicker');
                picker.value(data.DefaultMonitoringDate);
                $(picker.$element).change(); // Kich su kien thay doi cua textbox
                if (data.EnableToEditMonitoringDate || mode == "edit") enableDatePicker(picker)
                else disableDatePicker(picker);
                var unitName = $("[name=UnitName]");
                unitName.val(data.DefaultUnitName);
                unitName.change(); // Kich su kien thay doi cua textbox
                if (data.EnableToEditUnitName || mode == "edit") unitName.prop("readonly", false);
                else unitName.prop("readonly", "readonly");
            }
        });

    }
    var disableDatePicker = function (picker) {
        picker.disable();
        picker.$element.prop("disabled", false);
        picker.$element.prop("readonly", "readonly");
    }
    var enableDatePicker = function (picker) {
        picker.enable();
        picker.$element.prop("disabled", false);
        picker.$element.prop("readonly", false);
    }
    $(function () {
        var deleted = $("[name=MonitoringDate]").filter(":not(:visible)");
        if (debug) console.log(deleted);
        deleted.remove();
        setTimeout(function () {
            var picker = $("[name=MonitoringDate]").filter(":visible").data('tDatePicker');
            console.log(picker);
            if (picker) {
                if (picker.enabled) {
                    enableDatePicker(picker);
                }
                else {
                    disableDatePicker(picker);
                }
            }
        }, 1000);
    })
</script>