﻿@model PhysicalTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Web.Areas.HealthTestArea.Models
@using (Ajax.BeginForm("CreateHealthTest",
                       "HealthTest",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateHealthTestSuccess",
                           OnFailure = "CreateHealthTestFail"
                       },
                       new { id = "frmCreateHealthTest" }
                       ))
{
        @Html.AntiForgeryToken()

<div class="SlideSection">
    @Html.Partial("_SlidePupil")
</div>
<div class="CntTabSection">
    <div class="GIInSection">
        <div class="GeneralForm PPProfile1Form">
            <label class="LabelStyle Label1Style">@Res.Get("HealthTest_Label_HealthPeriod")</label>
            <div class="BoxSelect BoxSelect1">
                @Html.ViettelCombobox("", "cboHealthPeriod", (IEnumerable<SelectListItem>)ViewData[HealthTestConstants.LISTHEALTHPERIOD], 2, new Dictionary<string, object>()
                                     {
                                        { "onChange", "HealthPeriodChange(this)" },
                                        {"class","MySelectBoxClass"}
                                     }
                                     , false, false)
            </div>
            <label class="LabelStyle Label2Style">
                @Res.Get("PhysicalTest_Label_Date")<span class="RequireStyle">*</span>
            </label>
            @{    
           Html.Telerik().DatePicker()
           .Name("MonitoringDate")
           .Value(DateTime.Now.ToString("dd/MM/yyyy"))
               //.ClientEvents(events => events.OnChange("SelectClass"))
           .InputHtmlAttributes(new { @class = "InputTextStyle InputText1Style" })
           .TodayButton("Now")
           .Max(DateTime.Now)
           .Render();
            }
            <label class="LabelStyle Label2Style">
                Đơn vị khám<span class="RequireStyle">*</span></label>
            @Html.ViettelTextbox("", "unit_Name", "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText2Style" } }, false, false)
            <div class="Clear">
            </div>
        </div>
    </div>

    @Html.Partial("_createPhysicalTest")
    @Html.Partial("_createEyeTest")
    @Html.Partial("_createENTTest")
    @Html.Partial("_createSpineTest")
    @Html.Partial("_createDentalTest")
    @Html.Partial("_createOverallTest")
    <div class="BtnCenterSection">
        <input type="button" class="t-button" onclick="" value="Lưu và qua học sinh tiếp theo">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
        @Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "OnCloseClick()", "t-buttonGray")
    </div>
</div>
}
<style type="text/css">
  .CntTabSection .PPProfilePForm .Label4Style{width:86px;text-align:left}.CntTabSection .PPProfile1Form .Label1Style{width:61px;text-align:left}.CntTabSection .t-buttonGray{background:-moz-linear-gradient(center bottom,#D9DBDC 30%,#ECECED 70%) repeat scroll 0 0 transparent;border:1px solid #BFC0C1;color:#333}
</style>
