﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.HealthTestArea
@model CustomView
<div class="GenaralInfoSection">
    <h2 class="Title2Style">
        <strong>Răng hàm mặt</strong></h2>
    <div class="GIInSection">
        <div class="GeneralForm PPProfile1Form PPProfilePForm">
            <label class="LabelStyle Label3Style">
                &nbsp;</label>
            <ul class="ResetList ListTextBox">
                @for (var i = 8; i > 0; i--)
                {
                    <li><span>@i</span>
                     @if (!string.IsNullOrWhiteSpace(Model.dentalTest.NumDentalFillingOne) && Model.dentalTest.NumDentalFillingOne.Contains(i.ToString()))
                     {
                        <input type="text" class="InputTextStyle InputText1Style" value="x" id="@("Dental_1_" + i)" name="@("Dental_1_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"  style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(1);" ndv="DentalTest" dentalnum="dental1" stt="@i"/>
                     }
                     else
                     {
                          <input type="text" class="InputTextStyle InputText1Style" value="" id="@("Dental_1_" + i)" name="@("Dental_1_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"  style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(1);" ndv="DentalTest" dentalnum="dental1" stt="@i"/>
                     }
                         </li>
                }
            </ul>
            <ul class="ResetList ListTextBox">
                @for (var i = 8; i > 0; i--)
                {
                    <li><span>@i</span>
                     @if (!string.IsNullOrWhiteSpace(Model.dentalTest.NumDentalFillingTwo) && Model.dentalTest.NumDentalFillingTwo.Contains(i.ToString()))
                     {
                        <input type="text" class="InputTextStyle InputText1Style" value="x" id="@("Dental_2_" + i)" name="@("Dental_2_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"  style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(2);" ndv="DentalTest" dentalnum="dental2" stt="@i"/>
                     }
                     else
                     {
                          <input type="text" class="InputTextStyle InputText1Style" value="" id="@("Dental_2_" + i)" name="@("Dental_2_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"  style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(2);" ndv="DentalTest" dentalnum="dental2" stt="@i"/>
                     }
                    </li>
                }
            </ul>
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                &nbsp;</label>
            <ul class="ResetList ListTextBox">
                @for (var i = 8; i > 0; i--)
                {
                    <li><span>@i</span>
                     @if (!string.IsNullOrWhiteSpace(Model.dentalTest.NumDentalFillingFour) && Model.dentalTest.NumDentalFillingFour.Contains(i.ToString()))
                     {
                        <input type="text" class="InputTextStyle InputText1Style" value="x" id="@("Dental_4_" + i)" name="@("Dental_4_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"   style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(4);" ndv="DentalTest" dentalnum="dental4" stt="@i"/>
                     }
                     else
                     {
                          <input type="text" class="InputTextStyle InputText1Style" value="" id="@("Dental_4_" + i)" name="@("Dental_4_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"   style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(4);" ndv="DentalTest" dentalnum="dental4" stt="@i"/>
                     }
                    </li>
                }
            </ul>
            <ul class="ResetList ListTextBox">
                @for (var i = 8; i > 0; i--)
                {
                    <li><span>@i</span>
                     @if (!string.IsNullOrWhiteSpace(Model.dentalTest.NumDentalFillingThree) && Model.dentalTest.NumDentalFillingThree.Contains(i.ToString()))
                     {
                        <input type="text" class="InputTextStyle InputText1Style" value="x" id="@("Dental_3_" + i)" name="@("Dental_3_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"   style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(3);" ndv="DentalTest" dentalnum="dental3" stt="@i"/>
                     }
                     else
                     {
                          <input type="text" class="InputTextStyle InputText1Style" value="" id="@("Dental_3_" + i)" name="@("Dental_3_" + i)" maxlength = "1" onkeypress = "return checkInput(event);"   style="width:15px; text-align:center;" onchange="SetTotalNumDentalFilling(3);" ndv="DentalTest" dentalnum="dental3" stt="@i"/>
                     }
                    </li>
                }
            </ul>
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                &nbsp;</label>
            <label class="LabelStyle LabelIStyle">
                @Res.Get("DentalTest_Label_Note")</label>
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                @Res.Get("DentalTest_Label_NumDentalFilling")</label>
            @Html.ViettelTextboxFor(u => u.dentalTest.NumDentalFilling, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText1Style" } }, true, true)
            <label class="LabelStyle Label2Style">
                @Res.Get("DentalTest_Label_Description")</label>
            @(Html.ViettelTextboxFor(u => u.dentalTest.DescriptionDentalFilling, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText8Style" } }, false))
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                @Res.Get("DentalTest_Label_NumPreventiveDentalFilling")</label>
            @Html.ViettelTextboxFor(u => u.dentalTest.NumPreventiveDentalFilling, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText1Style" }, { "onkeypress", "return checkNumInput(event);" }, { "maxlength", "2" } }, false, false, false, false)
            <label class="LabelStyle Label2Style">
                @Res.Get("DentalTest_Label_Description")</label>
            @(Html.ViettelTextboxFor(u => u.dentalTest.DescriptionPreventiveDentalFilling, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText8Style" } }, false))
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                @Res.Get("DentalTest_Label_NumTeethExtracted")</label>
            @Html.ViettelTextboxFor(u => u.dentalTest.NumTeethExtracted, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText1Style" }, { "onkeypress", "return checkNumInput(event);" }, { "maxlength", "2" } }, false, false, false, false)
            <label class="LabelStyle Label2Style">
                @Res.Get("DentalTest_Label_Description")</label>
            @(Html.ViettelTextboxFor(u => u.dentalTest.DescriptionTeethExtracted, "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText8Style" } }, false))
            <div class="Clear">
            </div>
            @Html.ViettelCheckBoxFor(u => u.dentalTest.IsScraptTeeth, new Dictionary<string, object>() { { "class", "InputCkboxStyle" } }, "", false)
            <label class="LabelStyle Label5Style">
                @Res.Get("DentalTest_Label_IsScraptTeeth")
            </label>
            @Html.ViettelCheckBoxFor(u => u.dentalTest.IsTreatment, new Dictionary<string, object>() { { "class", "InputCkboxStyle InputCkbox1Style" } }, "", false)
            <label class="LabelStyle Label5Style">
                @Res.Get("DentalTest_Label_IsTreatment")</label>
            <div class="Clear">
            </div>
            <label class="LabelStyle Label3Style">
                @Res.Get("DentalTest_Label_Other")</label>
            @Html.ViettelTextbox("", "OtherDentalTest", "", new Dictionary<string, object>() { { "class", "InputTextStyle InputText2Style" } }, false, false)
             <div class="Clear">
            </div>
            @Html.HiddenFor(u => u.dentalTest.NumDentalFillingOne)
            @Html.HiddenFor(u => u.dentalTest.NumDentalFillingTwo)
            @Html.HiddenFor(u => u.dentalTest.NumDentalFillingThree)
            @Html.HiddenFor(u => u.dentalTest.NumDentalFillingFour)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        SetTotalNumDentalFilling(1)
    });
    function SetTotalNumDentalFilling(stt) {
        var NumDentalFilling = 0;
        var NumDentalFillingOne = "";
        var NumDentalFillingTwo = "";
        var NumDentalFillingThree = "";
        var NumDentalFillingFour = "";
        $("input[ndv='DentalTest']").each(function () {
            var dental = $(this).attr('value');
            if (dental == "X" || dental == "x") {
                NumDentalFilling = parseInt(NumDentalFilling) + 1;
            }
        });
        $("#dentalTest_NumDentalFilling").attr("value", NumDentalFilling);

        $("input[dentalnum='dental" + stt + "']").each(function () {
            var dental_num = $(this).attr('stt');
            var dental_val = $(this).attr('value');
            if (dental_val == "X" || dental_val == "x") {
                if (stt == 1) {
                    NumDentalFillingOne += dental_num + ",";
                }
                if (stt == 2) {
                    NumDentalFillingTwo += dental_num + ",";
                }
                if (stt == 3) {
                    NumDentalFillingThree += dental_num + ",";
                }
                if (stt == 4) {
                    NumDentalFillingFour += dental_num + ",";
                }
            }
        });
        if (stt == 1) {
            $("#dentalTest_NumDentalFillingOne").attr("value", NumDentalFillingOne);
        }
        if (stt == 2) {
            $("#dentalTest_NumDentalFillingTwo").attr("value", NumDentalFillingTwo);
        }
        if (stt == 3) {
            $("#dentalTest_NumDentalFillingThree").attr("value", NumDentalFillingThree);
        }
        if (stt == 4) {
            $("#dentalTest_NumDentalFillingFour").attr("value", NumDentalFillingFour);
        }
    }

    //Check Input
    function checkInput(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        var txt = e.currentTarget;
        if (key != 88 && key != 8 && key != 0 && key != 120) {
            return false;
        }
    }

    //Check Input
    function checkNumInput(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        var txt = e.currentTarget;
        if ((key < 48 || key > 57) && key != 0 && key != 8) {
            return false;
        }
    }
</script>
