﻿@model EyeTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea.Models
@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Business.Common
@{
    int PupilID = ViewBag.PupilID;
    var index = 1;
    var lstEyeTest = (IEnumerable<EyeTestViewModel>)ViewData[HealthTestConstants.LIST_EYETEST];
    GlobalInfo _global = new GlobalInfo();

    bool RoleAdd = false;
    bool RoleDelete = false;
    bool RoleEdit = false;
    if (ViewData[SystemParamsInFile.PERMISSION_CREATE] != null)
    {
        RoleAdd = (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE];
    }
    if (ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null)
    {
        RoleEdit = (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE];
    }
    if (ViewData[SystemParamsInFile.PERMISSION_DELETE] != null)
    {
        RoleDelete = (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE];
    }
    
     @(Html.Telerik().Window()
            .Name("create-edit-eye-test")
            .Title("Ghi kết quả khám mắt")
            .Content("Ghi kết quả khám mắt")
            .Buttons(buttons => buttons.Close())
            .Draggable(true)
            .ClientEvents(events => events.OnOpen("smas.onOpenDialog").OnClose("smas.onCloseDialog"))
            .Visible(false)
            .Modal(true)
            .Width(680)
            .Height(360)
            )
    
    <div style="padding: 5px; text-align: right;">
        @{
            if((RoleAdd || RoleDelete || RoleEdit) && _global.IsCurrentYear)
            {
        <input class="t-button" type="button" value="Ghi kết quả khám sức khỏe" 
                onclick="$('#create-edit-eye-test').data('tWindow').title('Ghi kết quả khám sức khỏe');
                        smas.openDialog('create-edit-eye-test', '@Url.Action("CreateEyeTest", new { id = PupilID })    ', {})" />
           }
        }
        <div style="clear: both"></div>
          
    </div>
    
    if (lstEyeTest.Count() > 0)
    {
        Html.Telerik()
            .Grid((IEnumerable<EyeTestViewModel>)ViewData[HealthTestConstants.LIST_EYETEST])
            .Name("GridEysTest")
            .Columns(c =>
            {

                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(35);

                c.Template(@<a href="@Url.Action("DetailHealthTest", new { monitoringBookID = item.MonitoringBookID, type = 1 })">@item.MonitoringDate.ToString("dd/MM/yyyy")
                    @Html.ViettelHidden("DisplayLink", item.DisplayLink)</a>).Title(Res.Get("PhysicalTest_Label_Date")).Width(65);

                c.Template(@<text>
    <table class ="col1-center col2-center">
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
            <tr>
            @if (item.IsTreatment == false)
            {
                <td>
                    @if (item.LEye.HasValue)
                    {
                        @(item.LEye.ToString() + "/10")
                    }
                </td>
                <td>
                    @if (item.REye.HasValue)
                    {
                        @(item.REye.ToString() + "/10")
                    }
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
        </tbody>
    </table></text>)
    .HeaderTemplate(@<text>
    <table>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2">
                <center>@Res.Get("EyeTest_Label_NoTreatment")</center>
            </td>
        </tr>
        <tr>
            <td>@Res.Get("EyeTest_Label_LEye")
            </td>
            <td>@Res.Get("EyeTest_Label_REye")
            </td>
        </tr>
            </tbody>
    </table>
    </text>).Width(130);

                c.Template(@<text>
<table class ="col1-center col2-center">
    <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
    <tbody>
                    <tr>
                        <td>
                            @if (item.IsTreatment == true)
                            {
                                if (item.LEye.HasValue)
                                {
                                @(item.LEye.ToString() + "/10")
                                }
                            }
                            else
                            {

                            }
                        </td>
                        <td>
                            @if (item.IsTreatment == true)
                            {
                                if (item.REye.HasValue)
                                {
                                @(item.REye.ToString() + "/10")
                                }
                            }
                            else
                            {

                            }
                        </td>
                    </tr>
        </tbody>
    </table></text>)
    .HeaderTemplate(@<text>
    <table>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2">
                <center>@Res.Get("EyeTest_Label_YesTreatment")</center>
            </td>
        </tr>
        <tr>
            <td>@Res.Get("EyeTest_Label_LEye")
            </td>
            <td>@Res.Get("EyeTest_Label_REye")
            </td>
        </tr>
            </tbody>
    </table>
    </text>).Width(130);

                c.Template(@<text>
<table class ="col1-center col2-center">
    <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
                    <tr>
                        <td>
                            @if (item.LMyopic.HasValue)
                            {
                                @(item.LMyopic.ToString() + " D")
                            }
                        </td>
                        <td>
                            @if (item.RMyopic.HasValue)
                            {
                                @(item.RMyopic.ToString() + " D")
                            }
                        </td>
                    </tr>
            </tbody>
                </table></text>)
    .HeaderTemplate(@<text>
    <table>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2">
                <center>@Res.Get("EyeTest_Label_Myopic")</center>
            </td>
        </tr>
        <tr>
            <td>@Res.Get("EyeTest_Label_LEye")
            </td>
            <td>@Res.Get("EyeTest_Label_REye")
            </td>
        </tr>
            </tbody>
    </table>
    </text>).Width(130);

                c.Template(@<text>
    <table class ="col1-center col2-center">
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
                    <tr>
                        <td>
                            @if (item.LFarsightedness.HasValue)
                            {
                                @(item.LFarsightedness.ToString() + " D")
                            }
                        </td>
                        <td>
                            @if (item.RFarsightedness.HasValue)
                            {
                                @(item.RFarsightedness.ToString() + " D")
                            }
                        </td>
                    </tr>
            </tbody>
                </table></text>).HeaderTemplate(@<text>
    <table>
         <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2">
                <center>@Res.Get("EyeTest_Label_Farsightedness")</center>
            </td>
        </tr>
        <tr>
            <td>@Res.Get("EyeTest_Label_LEye")
            </td>
            <td>@Res.Get("EyeTest_Label_REye")
            </td>
        </tr>
            </tbody>
    </table>
    </text>).Width(130);

                c.Template(@<text>
    <table class ="col1-center col2-center">
         <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
                    <tr>
                        <td>
                            @if (item.LAstigmatism.HasValue)
                            { 
                                @(item.LAstigmatism.ToString() + " D")
                            }
                        </td>
                        <td>
                            @if (item.RAstigmatism.HasValue)
                            { 
                                @(item.RAstigmatism.ToString() + " D")
                            }
                        </td>
                    </tr>
            </tbody>
                </table></text>).HeaderTemplate(@<text>
    <table>
         <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2">
                <center>@Res.Get("EyeTest_Label_Astigmatism")</center>
            </td>
        </tr>
        <tr>
            <td>@Res.Get("EyeTest_Label_LEye")
            </td>
            <td>@Res.Get("EyeTest_Label_REye")
            </td>
        </tr>
            </tbody>
    </table>
    </text>).Width(130);
                c.Bound(o => o.Other).Sortable(true);

                c.Template(
                    @<text>
                    <span style ="@(item.CreateDate == null ? "display:none":"display:inherit")">
                     @{
                         if(RoleEdit && _global.IsCurrentYear)
                         {
                    <span class ="t-button t-button-icon">
                        @Html.ActionLink(" ", "EditEyeTest", new { id = item.EyeTestID }
                            , new
                            {
                                @class = "t-icon t-edit",
                                onclick = "var window = 'create-edit-eye-test';$('#'+window).data('tWindow').title('Sửa kết quả khám sức khỏe'); var url = $(this).attr('href'); smas.openDialog(window, url, {}); return false;"
                            })
                </span>
                         }
                         if(RoleDelete && _global.IsCurrentYear)
                         {

                            Ajax.BeginForm(
                    "DeleteEyeTest"
                    , null
                    , new AjaxOptions
                    {
                        //OnBegin = "javascript: if ($.trim($('#message').html()) != '') smas.alert($('#message').html());",
                        OnSuccess = "smas.alert('Xóa thành công.');$('.deleting').closest('tr').remove();",
                        OnFailure = "smas.alert('Xóa thất bại.');$('.deleting').removeClass('deleting')"
                    }
                    ,new{style="display:inline;"}
                            );
                    @Html.AntiForgeryToken()
                    <input type ="hidden" name ="id" value ="@item.EyeTestID" />             
                    <span class ="t-button t-button-icon">
                    <input type ="submit" value ="Lưu" style ="display:none;" />
                    @Html.ActionLink(" ", "DeleteEyeTest", new { id = item.EyeTestID }
                                , new
                                {
                                    @class = "t-icon t-delete",
                                    onclick = "$('.deleting').removeClass('deleting');$(this).closest('form').addClass('deleting');smas.confirm('Thầy/cô thật sự muốn xóa thông tin này?', function () {$('.deleting').find(\"input[type='submit']\").click();});return false;"})
                    </span>
                         Html.EndForm();
                        }
                   }
    </span>
                    </text>)
                .Title("Tác vụ")
                .Width(80);

            })
            .DataKeys(keys => keys.Add(o => o.EyeTestID))
            .Selectable()
            .Render();
    }
}
<script type="text/javascript">
    var lstInd = 0;
    function DeleteButtonEye() {
        $("#divGridEyeTest .t-grid-header").next().children().each(function () {
            var DisplayLink = $(this).find("#DisplayLink").val();
            if (DisplayLink == 0) {
                $(this).find(".t-grid-vtEdit").css("display", "none");
                $(this).find(".t-grid-vtDelete").css("display", "none");
            }
        });
    }

    function LEye_onkeypress(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox      
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0 && key != 32) {
                return false;
            }
        }
    }

</script>
<style type="text/css">
    #GridEysTest .t-link
    {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .t-grid td
    {
        border-color: #808080;
    }
    .col1-right td:nth-child(1) {text-align: right}
    .col2-right td:nth-child(2) {text-align: right}
    .col3-right td:nth-child(3) {text-align: right}
    .col1-center td:nth-child(1) {text-align: center}
    .col2-center td:nth-child(2) {text-align: center}
    .col3-center td:nth-child(3) {text-align: center}
</style>
