﻿@model ENTTestBO
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea.Models
@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Business.BusinessObject
@using SMAS.Business.Common
@{
    var index = 1;
    var lstENTTest = ((IEnumerable<ENTTestBO>)ViewData[HealthTestConstants.LIST_ENTTESTVIEWMODEL]).ToList();
    int PupilID = ViewBag.PupilID;
    GlobalInfo _global = new GlobalInfo();

    bool RoleAdd = false;
    bool RoleDelete = false;
    bool RoleEdit = false;
    if (ViewData[SystemParamsInFile.PERMISSION_CREATE] != null)
    {
        RoleAdd = (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE];
    }
    if (ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null)
    {
        RoleEdit = (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE];
    }
    if (ViewData[SystemParamsInFile.PERMISSION_DELETE] != null)
    {
        RoleDelete = (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE];
    }
    
    @(Html.Telerik().Window()
        .Name("create-edit-ent-test")
        .Title("Ghi kết quả khám tai mũi họng")
        .Content("Ghi kết quả khám tai mũi họng")
        .Buttons(buttons => buttons.Close())
        .Draggable(true)
        .ClientEvents(events => events.OnOpen("smas.onOpenDialog").OnClose("smas.onCloseDialog"))
        .Visible(false)
        .Modal(true)
        .Width(700)
        .Height(260)
        )
    <div style ="padding:5px;text-align:right;" >
        @{
            if((RoleAdd || RoleDelete || RoleEdit) && _global.IsCurrentYear)
            {
        <input class="t-button" type="button" value="Ghi kết quả khám sức khỏe" 
            onclick="$('#create-edit-ent-test').data('tWindow').title('Ghi kết quả khám sức khỏe');
                    smas.openDialog('create-edit-ent-test', '@Url.Action("CreateENTTest", new { id = PupilID })    ', {})" />
        }
        }
        <div style="clear:both"></div>
    </div>
    if (lstENTTest.Count() > 0)
    {
        Html.Telerik()
            .Grid(lstENTTest)
            .Name("GridENTTest")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>")
                    .HeaderTemplate(Res.Get("Common_Column_Order"))
                    .HtmlAttributes(new { style = "text-align:right" }).Width(20);

                c.Template(@<text><a href="@Url.Action("DetailHealthTest", new { monitoringBookID = item.MonitoringBookID, type = 2 })">@item.MonitoringBookDate.Value.ToString("dd/MM/yyyy")</a></text>)
                    .HeaderTemplate(Res.Get("Common_Column_DateTest"))
                    .HtmlAttributes(new { style = "text-align:center" }).Width(80);

                c.Template(
                    @<text>
                            @(item.LCapacityHearing.HasValue ? item.LCapacityHearing.Value + " dB" : "" )
                            @Html.ViettelHidden("NumberOldDay", item.CreatedDate != null ? Math.Abs(DateTime.Now.Date.Subtract(item.CreatedDate.Value).Days).ToString() : "0")
                            @Html.ViettelHidden("ENTTestID", item.ENTTestID)
                    </text>)
                    .HtmlAttributes(new { style = "text-align:right" })
                    .HeaderTemplate(@<text>@Res.Get("ENTTest_Label_LeftHear")</text>)
                    .HeaderHtmlAttributes(new { @class = "LCapacityHearingCol", style = "height: 20px;" })
                    .Width(80);
                    
                c.Template(@<text>
                            @(item.RCapacityHearing.HasValue ? item.RCapacityHearing.Value + " dB" : "" )
                    </text>)
                    .HtmlAttributes(new { style = "text-align:right" })
                    .HeaderTemplate(
                    @<text>
                        <span>
                            @Res.Get("ENTTest_Label_RightHear")
                        </span>
                    </text>)
                    .HeaderHtmlAttributes(new { @class = "RCapacityHearingCol", style = "height: 20px;" })
                    .Width(80);

                c.Template(
                    @<text>@if (@item.IsDeaf != null)
                                  {
                                      if (@item.IsDeaf.Value == true)
                                      {
                    <span>X</span>
                                      }
                                  }
                    </text>)
                    .HtmlAttributes(new { style = "text-align:center" })
                    .HeaderTemplate(@Res.Get("ENTTest_Label_Deaf"))
                    .Width(90);

                c.Bound(o => o.Description).Sortable(true).Visible(true).Width(400).HeaderTemplate(Res.Get("ENTTest_Label_Description"));

                //c.Template(@<text><a class="t-button t-button-icon t-grid-vtEdit" href="/HealthTestArea/HealthTest/EditHealthTest?type=2&MonitoringBookID=@item.MonitoringBookID"><span
                //    class="t-icon t-edit"></span></a></text>).Title("Tác vụ").Width(42);

                c.Template(
                    @<text>
            <span style ="@(item.CreatedDate == null ? "display:none":"display:inherit")">
    @{
        if(RoleEdit && _global.IsCurrentYear)
        {
                    <span class ="t-button t-button-icon">
                        @Html.ActionLink(" ", "EditENTTest", new { id = item.ENTTestID }
                            , new
                            {
                                @class = "t-icon t-edit",
                                onclick = "var window = 'create-edit-ent-test';$('#'+window).data('tWindow').title('Sửa kết quả khám sức khỏe'); var url = $(this).attr('href'); smas.openDialog(window, url, {}); return false;"
                            })
                </span>
      }
      if(RoleDelete && _global.IsCurrentYear)
      {
        
                   Ajax.BeginForm(
                    "DeleteENTTest"
                    , null
                    , new AjaxOptions
                    {
                        //OnBegin = "javascript: if ($.trim($('#message').html()) != '') smas.alert($('#message').html());",
                        OnSuccess = "smas.alert('Xóa thành công.');$('.deleting').closest('tr').remove();",
                        OnFailure = "smas.alert('Xóa thất bại.');$('.deleting').removeClass('deleting')"
                    }
                    , new { style = "display:inline;" }
                    );
                    @Html.AntiForgeryToken()
                    <input type ="hidden" name ="ENTTestID" value ="@item.ENTTestID" />             
                    <span class ="t-button t-button-icon">
                    <input type ="submit" value ="Lưu" style ="display:none;" />
                    @Html.ActionLink(" ", "DeleteEyeTest", new { id = item.ENTTestID }
                                , new
                                {
                                    @class = "t-icon t-delete",
                                    onclick = "$('.deleting').removeClass('deleting');$(this).closest('form').addClass('deleting');smas.confirm('Thầy/cô thật sự muốn xóa thông tin này?', function () {$('.deleting').find(\"input[type='submit']\").click();});return false;"
                                })
                    </span>
                Html.EndForm();
                }
                }
    </span>
                    </text>)
                .Title("Tác vụ")
                .Width(80);
            })
            //.ClientEvents(o=>o.OnLoad("makeHeader"))
            .DataKeys(keys => keys.Add(o => o.ENTTestID))
            .Render();
    }
}
<style type="text/css">
    #GridENTTest .t-header
    {
        padding: 0px !important;
    }
    .LCapacityHearingCol {
        border-left-width:1px!important;
    }
</style>
<script type="text/javascript">
    function test() {
        alert('asdf');
    }
    function DeleteButtonENT() {
        $("#divGridENTTest .t-grid-content tr").each(function () {
            var ENTTestID = $(this).find("#ENTTestID").val();
            var NumberOldDay = $(this).find("#NumberOldDay").val();
            if ((ENTTestID == 0) || (NumberOldDay > 2)) {
                $(this).find(".t-grid-vtEdit").css("display", "none");
                $(this).find(".t-grid-vtDelete").css("display", "none");
            }
        });
    }
    // Tao header cho bang du lieu
    var makeHeader = function(){
        var headers = $("thead");
        headers.each(function(){
            var header = $(this).find("tr").first();
            var lclo = header.find(".LCapacityHearingCol"); // Tim cot tai trai
            var rcol = header.find(".RCapacityHearingCol"); // Tim cot tai phai
            if (lclo.length == 1 && rcol.length == 1){
                var heaerCopy = header.clone(); // copy header
                header.find("th:not(.LCapacityHearingCol):not(.RCapacityHearingCol)").prop("rowspan",2); // gan rowspan = cho cac cot khong phai cot tai trai va tai phai
                header.find("th.LCapacityHearingCol").prop("colspan",2).removeClass("LCapacityHearingCol").text("@Res.Get("ENTTest_Label_CapacityHearing")");
                header.find("th.RCapacityHearingCol").remove();
                heaerCopy.find("th:not(.LCapacityHearingCol):not(.RCapacityHearingCol)").remove();
                heaerCopy.insertAfter(header);
            }
        });
    }
    $(function(){
        makeHeader();
    });

</script>
