﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.HealthTestArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.HealthTestArea
@using SMAS.Business.Common
@model HealthTestDetailModel
@{
    ViewBag.Title = Res.Get("HealthTest_Label_DetailTest");
    int type = -1;
    if (ViewData[HealthTestConstants.TYPE] != null)
    {
        type = (int)ViewData[HealthTestConstants.TYPE];
    }
    int monitoringBookID = Model.MonitoringBook.MonitoringBookID;
}
<div id="firstPage" class="page" style="page-break-after: always;">
    <div class="TitleHealth">
        <div class="fTitle">
            <h3>LIÊN SỞ GIÁO DỤC & ĐÀO TẠO – Y TẾ</h3>
            <h3>@Model.ProvinceName.ToUpper()</h3>
            <br />
            <h2>CHƯƠNG TRÌNH Y TẾ HỌC ĐƯỜNG</h2>
            <br />
            <h1>PHIẾU THEO DÕI SỨC KHỎE HỌC SINH</h1>
        </div>
    </div>
    <div class="GIInSection HealthInSection">
        <div class="GeneralTable General9Table">
            <table class="health-test-info" width="100%" border="0" cellspacing="0" cellpadding="0">
                <colgroup>
                    <col style="width: 153px;" />
                    <col style="width: 819px;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="2" class="EndCols">
                            <label class="LabelStyle Label1Style" style="width: 50%!important">
                                @Res.Get("PupilProfile_Label_FullName"): <strong>@Model.FullName</strong>
                            </label>
                            <label class="LabelStyle">
                                @{
                                    bool GenreNameFeMale = false;
                                    bool GenreNameMale = false;
                                    if (Model.GenreName.Equals(Res.Get("Common_Label_Female")))
                                    {
                                        GenreNameFeMale = true;
                                    }
                                    else
                                    {
                                        GenreNameMale = true;
                                    }                                  
                                    <span>@Html.CheckBox("Nam", GenreNameMale, new { disabled = "disabled" }) Nam</span>
                                    <span style="margin-left: 20px;">@Html.CheckBox("Nữ", GenreNameFeMale, new { disabled = "disabled" }) Nữ </span>
                                }
                            </label>
                            <div class="Clear">
                            </div>
                            <label class="LabelStyle Label1Style">
                                @Res.Get("PupilProfile_Label_BirthDate"): @Model.BirthDate.ToString("dd/MM/yyyy")
                            </label>
                            <div class="Clear">
                            </div>
                            <label class="LabelStyle Label2Style" style="width: 50%!important">
                                Địa chỉ: @Model.Address
                            </label>
                            <div class="Clear">
                            </div>
                            <p style="text-align: left;">
                                <label style="display: inline-block; min-width: 50%;">
                                    Trường: @Model.SchoolName
                                </label>
                                <label>
                                    @Res.Get("ClassProfile_Label_DisplayName"): @Model.ClassName
                                </label>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("HealthTest_Label_PhysicalTest")
                        </td>
                        <td class="EndCols ClassPhysical">
                            @{ if (Model.PhysicalTest != null)
                               {
                                <p class="paragraph">
                                    @*Chieu cao*@
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("PhysicalTest_Label_Height"):</label>
                                        @Model.PhysicalTest.Height cm
                                    </span>
                                    @*Can nang*@
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("PhysicalTest_Label_Weight"):</label>
                                        @Model.PhysicalTest.Weight kg
                                    </span>
                                    @*Vong nguc*@
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("PhysicalTest_Label_Breast"):</label>
                                        @Model.PhysicalTest.Breast cm
                                    </span>
                                </p>
                               }
                               else
                               {
                                <p class="paragraph">
                                    <label class="LabelStyle ClassPhysical">
                                        @Res.Get("HealthTest_Label_NotYetTested")
                                    </label>
                                </p>
                               }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("HealthTest_Label_EyeTest")
                        </td>
                        <td class="EndCols" style="padding-top: 10px;">
                            @{ if (Model.EyeTest != null)
                               {
                                   if (Model.EyeTest.REye != 0 && Model.EyeTest.LEye != 0)
                                   {
                                <p class="paragraph">
                                    @*co kinh hoac khong kinh*@
                                    <span class="width-normal">
                                        <label class="for-display">
                                            @(Model.EyeTest.IsTreatment ? Res.Get("EyeTest_Label_YesTreatment") : Res.Get("EyeTest_Label_NoTreatment"))
                                        </label>
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_LeftEye"):</label>
                                        @Model.EyeTest.LEye/10
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_RightEye"):</label>
                                        @Model.EyeTest.REye/10
                                    </span>
                                </p>
                                   }
                                   if (Model.EyeTest.LMyopic != null && Model.EyeTest.RMyopic != null)
                                   {
                                <p class="paragraph">
                                    @*Can thi*@
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Column_Myopic")</label>
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_LeftEye"):</label>
                                        @Model.EyeTest.LMyopic D
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_RightEye"):</label>
                                        @Model.EyeTest.RMyopic D
                                    </span>
                                </p>
                                   }

                                   if (Model.EyeTest.RFarsightedness != null && Model.EyeTest.LFarsightedness != null)
                                   {
                                <p class="paragraph">
                                    @*Vien thi*@
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Column_Farsightedness")</label>
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_LeftEye"):</label>
                                        @Model.EyeTest.LFarsightedness D
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_RightEye"):</label>
                                        @Model.EyeTest.RFarsightedness D
                                    </span>
                                </p>
                                   }

                                   if (Model.EyeTest.RAstigmatism != null && Model.EyeTest.LAstigmatism != null)
                                   {
                                <p class="paragraph">
                                    @*Lien thi*@
                                    <span class="width-normal">
                                        <label class="for-display">
                                            @Res.Get("EyeTest_Label_Astigmatism")
                                        </label>
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_LeftEye"):</label>
                                        @Model.EyeTest.LAstigmatism D
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_RightEye"):</label>
                                        @Model.EyeTest.RAstigmatism D
                                    </span>
                                </p>
                                   }
                                   if (!string.IsNullOrEmpty(Model.EyeTest.Other))
                                   {
                                <p class="paragraph">
                                    <label class="for-paragraph">
                                        @Res.Get("Eyetest_Label_Other"):
                                    </label>
                                    @Model.EyeTest.Other
                                </p>
                                   }
                               }
                               else
                               {
                                <p class="paragraph">
                                    <label class="for-paragraph">
                                        @Res.Get("HealthTest_Label_NotYetTested")
                                    </label>
                                </p>      
                               }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("HealthTest_Label_ENTTest")
                        </td>
                        <td class="EndCols">
                            @{ if (Model.ENTTest != null)
                               {
                                <p class="paragraph">
                                    @*Suc nghe*@
                                    <span class="width-normal">
                                        <label class="for-display">
                                            @Res.Get("Common_Column_CapacityHearing")
                                        </label>
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("Common_Label_LeftEar"):</label>
                                        @Model.ENTTest.LCapacityHearing dB
                                    </span>
                                    <span class="width-small">
                                        <label class="for-display">@Res.Get("Common_Label_RightEar"):</label>
                                        @Model.ENTTest.RCapacityHearing dB
                                    </span>
                                    <span class="width-small">
                                        <input type="checkbox" class="inline-with-text" disabled="disabled" @(Model.ENTTest.IsDeaf.Value == true ? "checked='checked'" : "")/>
                                        <label class="for-checkbox">@Res.Get("Common_Column_IsDeaf")</label>
                                    </span>
                                </p>
                                <p class="paragraph">
                                    <label class="for-paragraph">Bệnh tai mũi họng:</label>
                                    @Model.ENTTest.Description
                                </p>
                               }
                               else
                               {
                                <p class="paragraph">
                                    <label class="for-paragraph">
                                        @Res.Get("HealthTest_Label_NotYetTested")
                                    </label>
                                </p>
                               }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("HealthTest_Label_SpineTest")
                        </td>
                        <td class="EndCols">
                            @{ if (Model.SpineTest != null)
                               {
                                <p class="paragraph">
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("SpineTest_Label_ExaminationStraight"):</label>
                                        @Model.SpineTest.ExaminationStraight
                                    </span>
                                    <span class="width-normal">
                                        <label class="for-display">@Res.Get("SpineTest_Label_ExaminationItalic"):</label>
                                        @Model.SpineTest.ExaminationItalic
                                    </span>
                                    <span class="width-normal">
                                        <input type="checkbox" class="inline-with-text" disabled="disabled" @(Model.SpineTest.IsDeformityOfTheSpine ? "checked='checked'" : "")/>
                                        <label class="for-checkbox">@Res.Get("SpineTest_Label_IsDeformityOfTheSpine")</label>
                                    </span>
                                </p>
                               
                                <p class="paragraph">
                                    <label class="for-paragraph">Bệnh cột sống khác:</label>
                                    @Model.SpineTest.Other
                                </p>
                               }
                               else
                               {
                                <p class="paragraph">
                                    <label class="for-paragraph">
                                        @Res.Get("HealthTest_Label_NotYetTested")
                                    </label>
                                </p>       
                               }    
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("HealthTest_Label_DentalTest")
                        </td>
                        <td class="EndCols">

                            @if (Model.DentalTest != null)
                            {
                                <table style="width: 65%; margin-left: 150px; text-align: center">
                                    <tr>
                                        <td class="cell11">
                                            <ul class="ResetList ListTextBox">
                                                @for (var i = 8; i > 0; i--)
                                                {
                                                    <li><span>@i</span>
                                                        @if (!string.IsNullOrWhiteSpace(Model.DentalTest.NumDentalFillingOne) && Model.DentalTest.NumDentalFillingOne.Contains(i.ToString()))
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" value="x" disabled="disabled"/>
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" disabled="disabled" />
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td class="cell1n" style="border-right: none;">
                                            <ul class="ResetList ListTextBox">
                                                @for (var i = 1; i <= 8; i++)
                                                {
                                                    <li><span>@i</span>
                                                        @if (!string.IsNullOrWhiteSpace(Model.DentalTest.NumDentalFillingTwo) && Model.DentalTest.NumDentalFillingTwo.Contains(i.ToString()))
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" value="x" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" disabled="disabled" />
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                            <div class="Clear">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="celln1" style="border-bottom: none;">
                                            <ul class="ResetList ListTextBox">
                                                @for (var i = 8; i > 0; i--)
                                                {
                                                    <li><span>@i</span>
                                                        @if (!string.IsNullOrWhiteSpace(Model.DentalTest.NumDentalFillingFour) && Model.DentalTest.NumDentalFillingFour.Contains(i.ToString()))
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" value="x" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" disabled="disabled" />
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td class="cellnn" style="border: none;">
                                            <ul class="ResetList ListTextBox">
                                                @for (var i = 1; i <= 8; i++)
                                                {
                                                    <li><span>@i</span>
                                                        @if (!string.IsNullOrWhiteSpace(Model.DentalTest.NumDentalFillingThree) && Model.DentalTest.NumDentalFillingThree.Contains(i.ToString()))
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" value="x" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="InputTextStyle InputText1Style" disabled="disabled" />
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                            <div class="Clear">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="border: none">
                                            <label class="LabelStyle LabelIStyle">
                                                @Res.Get("DentalTest_Label_Note")</label>
                                            <div class="Clear">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                                //So rang sau
                                <p class="paragraph">
                                    <label class="muc">@Res.Get("DentalTest_Label_NumDentalFilling"):</label>
                                    @Model.DentalTest.NumDentalFilling
                                    @(string.IsNullOrWhiteSpace(Model.DentalTest.DescriptionDentalFilling) ? "" : "(" + Model.DentalTest.DescriptionDentalFilling + ")")
                                </p>
                                                // So rang can tram
                                <p class="paragraph">
                                    <label class="muc">@Res.Get("DentalTest_Label_NumPreventiveDentalFilling"):</label>
                                    @Model.DentalTest.NumPreventiveDentalFilling
                                    @(string.IsNullOrWhiteSpace(Model.DentalTest.DescriptionPreventiveDentalFilling) ? "" : "(" + Model.DentalTest.DescriptionPreventiveDentalFilling + ")")
                                </p>
                                                //So rang can nho
                                <p class="paragraph">
                                    <label class="muc">@Res.Get("DentalTest_Label_NumTeethExtracted"):</label>
                                    @Model.DentalTest.NumTeethExtracted
                                    @(string.IsNullOrWhiteSpace(Model.DentalTest.DescriptionTeethExtracted) ? "" : "(" + Model.DentalTest.DescriptionTeethExtracted + ")")
                                </p>
                                <p class="paragraph">
                                    <span class="width-normal">
                                        <input type="checkbox" class="inline-with-text" disabled="disabled" @(Model.DentalTest.IsScraptTeeth ? "checked='checked'" : "")/>
                                        <label class="for-checkbox">@Res.Get("DentalTest_Label_IsScraptTeeth")</label>
                                    </span>
                                    <span class="width-normal">
                                        <input type="checkbox" class="inline-with-text" disabled="disabled" @(Model.DentalTest.IsTreatment ? "checked='checked'" : "")/>
                                        <label class="for-checkbox">@Res.Get("DentalTest_Label_IsTreatment")</label>
                                    </span>
                                </p>
@*Benh rang ham mat khac*@
                                <p class="paragraph">
                                    <label class="for-paragraph">@Res.Get("DentalTest_Label_Other"):</label>
                                    @Model.DentalTest.Other
                                </p>
                            }
                            else
                            {
                                <p class="paragraph">
                                    <label class="for-paragraph">
                                        @Res.Get("HealthTest_Label_NotYetTested")
                                    </label>
                                </p>       
                            }

                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_OverallInternal")
                        </td>
                        <td class="EndCols">
                            @*Mo ta benh noi tong quat*@
                            <p class="paragraph">
                                @( Model.OverallTest != null ? (Model.OverallTest.OverallInternal == SystemParamsInFile.HEALTH_STATE_DISEASE ? Model.OverallTest.DescriptionOverallInternall : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_OverallForeign")
                        </td>
                        <td class="EndCols">
                            @*Mo ta benh ngoai tong quat*@
                            <p class="paragraph">
                                @( Model.OverallTest != null ? (Model.OverallTest.OverallForeign == SystemParamsInFile.HEALTH_STATE_DISEASE ? Model.OverallTest.DescriptionForeign : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_SkinDiseases")
                        </td>
                        <td class="EndCols">
                            @*Mo ta benh ngoai da*@
                            <p class="paragraph">
                                @( Model.OverallTest != null ? (Model.OverallTest.SkinDiseases == SystemParamsInFile.HEALTH_STATE_DISEASE ? Model.OverallTest.DescriptionSkinDiseases : Res.Get("Common_Label_HealthStateNormal")) : string.Empty)
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Clear">
        </div>
        <div class="footerFirst">
            <div class="Clear">
            </div>
            <i>@Model.FullName - @Res.Get("ClassProfile_Label_DisplayName") @Model.ClassName </i>
            <p style="text-align: center;">Page <b>1/2</b> </p>
        </div>
    </div>
</div>

<div id="secondPage" class="page" style="page-break-after: always;">
    <div class="GIInSection HealthInSection">
        <div class="GeneralTable General9Table">
            <table class="health-test-info" width="100%" border="0" cellspacing="0" cellpadding="0">
                <colgroup>
                    <col style="width: 153px;" />
                    <col style="width: 819px;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_Other")
                        </td>
                        <td class="EndCols">
                            <p class="paragraph">
                                <span class="width-normal">
                                    <input type="checkbox" class="inline-with-text" class="InputCkboxStyle InputCkbox1Style"  @( Model.OverallTest != null && Model.OverallTest.IsHeartDiseases ? "checked='checked'" : "")  disabled="disabled"/>
                                    <label class="for-checkbox">@Res.Get("OverallTest_Label_IsHeartDiseases")</label>
                                </span>
                                <span class="width-normal">
                                    <input type="checkbox" class="inline-with-text"  @( Model.OverallTest != null && Model.OverallTest.IsBirthDefect ? "checked='checked'" : "")  disabled="disabled"/>
                                    <label class="for-checkbox">@Res.Get("OverallTest_Label_IsBirthDefect")</label>
                                </span>
                            </p>
                            @if (Model.OverallTest != null)
                            {
                                <p class="paragraph">
                                    @Model.OverallTest.Other
                                </p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_EvaluationHealth")
                        </td>
                        <td class="EndCols">
                            <p class="paragraph">
                                <span class="width-normal">
                                    @*Phan loai the luc*@
                                    <label class="for-display">@Res.Get("PhysicalTest_Label_PhysicalClassification"):</label>
                                    @{
                                        List<ComboObject> ListPhysicalClassification = CommonList.PhysicalClassification();
                                        ComboObject comboObject;
                                        if (Model.PhysicalTest == null)
                                        {
                                            comboObject = null;
                                        }
                                        else
                                        {
                                            comboObject = ListPhysicalClassification.FirstOrDefault(u => u.key == Model.PhysicalTest.PhysicalClassification.ToString());
                                        }
                                    }
                                    @(comboObject == null ? string.Empty : comboObject.value)
                                </span>
                                <span class="width-normal">
                                    @*Dinh duong*@
                                    <label class="for-display">@Res.Get("PhysicalTest_Label_Nutrition"):</label>
                                    @{
                                        List<ComboObject> ListNutritionType = CommonList.NutritionType();
                                    }
                                    @(Model.PhysicalTest != null && (Model.PhysicalTest.Nutrition.HasValue && Model.PhysicalTest.Nutrition.Value != 0) ? ListNutritionType.Where(u => u.key.Equals(Model.PhysicalTest.Nutrition.Value.ToString())).FirstOrDefault().value : string.Empty)
                                </span>
                                <span class="width-normal">
                                    <label class="for-display">Phân loại sức khỏe:</label>
                                    @{
                                        List<ComboObject> ListEvaluationHealth = CommonList.EvaluationHealth();
                                    }
                                    @(Model.OverallTest != null ? ListEvaluationHealth.Where(u => u.key.Equals(Model.OverallTest.EvaluationHealth.ToString())).FirstOrDefault().value : string.Empty)
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">
                            @Res.Get("OverallTest_Label_RequireOfDoctor")
                        </td>
                        <td class="EndCols">
                            <p class="paragraph">
                                @(Model.OverallTest != null ? Model.OverallTest.RequireOfDoctor : string.Empty)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ColsTd1">&nbsp;
                        </td>
                        <td class="ColsTrEnd EndCols">
                            @*Ngay kham*@
                            <p class="paragraph" style="font-style: italic;">
                                Ngày @(Model.MonitoringBook == null ? "......" : Model.MonitoringBook.MonitoringDate.Day.ToString()) tháng @(Model.MonitoringBook == null ? "......" : Model.MonitoringBook.MonitoringDate.Month.ToString()) năm @(Model.MonitoringBook == null ? "......" : Model.MonitoringBook.MonitoringDate.Year.ToString())
                            </p>
                            @*Bac si kham*@
                            <p class="paragraph">
                                <label class="for-display">@Res.Get("OverallTest_Label_Doctor"):</label>
                                <span style="font-weight: bold">@(Model.OverallTest != null ? Model.OverallTest.Doctor : string.Empty)</span>
                            </p>
                            <p class="paragraph">
                                @*Don vi kham*@
                                <label class="for-display">@Res.Get("MonitoringBook_Label_UnitName"):</label>
                                <span style="font-weight: bold">
                                    @(Model.MonitoringBook != null ? Model.MonitoringBook.UnitName : string.Empty)
                                    @(Model.OverallTest != null && Model.OverallTest.IsDredging ? " (khám vét)" : "")
                                </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="footerSecond">
        <i>@Model.FullName - @Res.Get("ClassProfile_Label_DisplayName") @Model.ClassName </i>
        <p style="text-align: center;">Page<b> 2/2 </b></p>
    </div>
</div>

<style type="text/css">
    table tr td {
        padding-top: 10px!important;
    }

    .ClassYeeP {
        padding-left: 12px;
    }

    .ClassYeeT {
        padding-left: 23px;
    }

    .ClassEye {
    }

    .ClassPhysical {
        margin: 1px !important;
        padding: 5px !important;
        padding-left: 0px;
    }

    body {
        background: white !important;
        font-size: 12pt;
    }

    .fTitle {
        font-weight: normal;
        text-align: center;
    }

        .fTitle * {
            text-align: center;
        }

    #content {
        border: none !important;
    }

    #secondPage {
        height: 35cm;
        position: relative;
    }

    .footerSecond {
        bottom: 0;
        width: 100%;
        position: absolute;
    }

    #firstPage {
        /*  height: 35cm; */
        position: relative;
    }

    .footerFirst {
        bottom: 0;
        width: 100%;
    }

    .width-small {
        display: inline-block;
        min-width: 140px;
    }

    .width-normal {
        display: inline-block;
        min-width: 250px;
    }

    .width-large {
        display: inline-block;
        min-width: 500px;
    }

    .paragraph {
        display: block;
        padding: 5px;
    }

    label.for-checkbox {
    }

    input[type=checkbox].inline-with-text {
        position: relative;
        top: 2px;
    }

    .health-test-info td {
        padding: 5px!important;
    }
    /*    
    .page
    {
        min-height: 29.7cm;
        margin: 1cm auto;
        font-size: 12pt;
        position: relative;
    }
    
    .footer
    {
        bottom: 0;
        position: absolute;
    }
    
    @@page {
        size: A4;
        margin: 0;
    }
    @@media print {
        .page {
           margin: 1cm auto;
             min-height: 29.5cm;
            page-break-after: always;
        }
    }
    */
</style>
