﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamBagArea.Models

@using (Ajax.BeginForm("Search",
                           "ExamBag",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "ListExamBag",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div class="vt-SearchPanel-Title">
            @Res.Get("ExamBag_Title_Page").ToUpper()
        </div>
        <div class="vt-SearchPanel-Content">
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-SearchPanel-Button" style="display:block">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-search")
        </div>
    </div>
}

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>