﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamPupilViolateArea
@using SMAS.Web.Areas.ExamPupilViolateArea.Models

@{
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
}

@using (Ajax.BeginForm("Update",
                       "ExamPupilViolate",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <div id="EditExamPupilViolate" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExaminationsID, new Dictionary<string, object>() {})
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExamGroupID, new Dictionary<string, object>() {})
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExamSubjectID, new Dictionary<string, object>() {})
                </div>
                <div class="col-md-6">
                    @Html.ViettelEditorFor(model => model.ExamRoomID, new Dictionary<string, object>() {})
                </div>
            </div>
           
        </div>
        <div id="ListExamPupilViolateUpdate">
            @Html.Partial("_ListUpdate")
        </div>
        <div class="vt-EditorPanel-Button" style="margin-top:25px;">
            <input type="button" class="btn btn-info btn-icon btn-round btn-icon-save" id="btnSaveEditGrid" value="@Res.Get("Common_Button_Save")" onclick="CheckValidateEdit()"/>
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
            <input type="submit" id="saveEditGrid"  style="display:none" />
        </div>
    </div>
}

<script type="text/javascript">

    function CheckValidateEdit()
    {
        var countSubmit = 0;
        $("#frmEdit .CheckItem").each(function () {
            var isdisable = $(this).is(":disabled");
            var ischecked = $(this).is(":checked");
            var valueCheked = $(this).val();
            if (isdisable && ischecked) {
                var textreson = $.trim($(this).closest("tr").find(".TextItem").val());
                if (textreson == null || textreson == "") {
                    countSubmit++;
                    $(this).closest("tr").find(".TextItem").after('<span id="LError-' + valueCheked + '" class="field-validation-error" data-valmsg-replace="true"><span>' + 'Thầy/cô chưa nhập nội dung vi phạm' + '</span></span>');
                } else {
                    $(this).closest("tr").find(".TextItem").next("#LError-" + valueCheked).remove();
                }

                var cbreason = $.trim($(this).closest("tr").find(".CbxItem").val());
                if (cbreason == null || cbreason == "" || cbreason == 0) {
                    countSubmit++;
                    $(this).closest("tr").find(".CbxItem").after('<span id="CbError-' + valueCheked + '" class="field-validation-error" data-valmsg-replace="true"><span>' + 'Thầy/cô chưa chọn hình thức xử lý' + '</span></span>');
                } else {
                    $(this).closest("tr").find(".CbxItem").next("#CbError-" + valueCheked).remove();
                }
            }
        });

        if (countSubmit == 0) {
            $("#saveEditGrid").click();
        }
    }

    function CheckValidateTextBoxInsertEdit(obj) {
        if ($(obj).next(".field-validation-error") != null) {
            $(obj).next(".field-validation-error").remove();
        } else {
            var IdChecked = $(obj).attr("defaultvalue");
            var textInputReason = $(obj).val();
            if (textInputReason == null || textInputReason == "" || textInputReason == 0) {
                $(obj).after('<span id="CbError-' + IdChecked + '" class="field-validation-error" data-valmsg-replace="true"><span>' + 'Thầy/cô chưa nhập nội dung vi phạm' + '</span></span>');
            } else {
                $(obj).next(".field-validation-error").remove();
            }
        }
    }

    function CheckValidateTextBoxInsertCBEdit(obj) {
        if ($(obj).next(".field-validation-error") != null) {
            $(obj).next(".field-validation-error").remove();
        } else {
            var IdChecked = $(obj).attr("defaultvalue");
            var textInputReason = $(obj).val();
            if (textInputReason == null || textInputReason == "") {
                $(obj).after('<span id="LError-' + IdChecked + '" class="field-validation-error" data-valmsg-replace="true"><span>' + 'Thầy/cô chưa nhập nội dung vi phạm' + '</span></span>');
            } else {
                $(obj).next(".field-validation-error").remove();
            }
        }
    }

    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmEdit");
            formUtils.focusForm("frmEdit");
            search();
            smas.closeDialog("editDialog", "", {});
        }
    }

    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function searchUpdate() {
        var examinationsID = $("#EditExamPupilViolate").find("#ExaminationsID").val();
        var examGroupID = $("#EditExamPupilViolate").find("#ExamGroupID").val();
        var examSubjectID = $("#EditExamPupilViolate").find("#ExamSubjectID").val();
        var examRoomID = $("#EditExamPupilViolate").find("#ExamRoomID").val();
        $.ajax({
            url: '@Url.Action("SearchUpdate", "ExamPupilViolate")',
            type: 'post',
            data: { ExaminationsID: examinationsID, ExamGroupID: examGroupID, ExamSubjectID: examSubjectID, ExamRoomID: examRoomID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#ListExamPupilViolateUpdate").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }
</script>