﻿@model ExamPupilViolateViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ExamPupilViolateArea.Models
@using SMAS.Web.Areas.ExamPupilViolateArea
@using SMAS.Models.Models

@{
    List<ExamViolationType> listType = (List<ExamViolationType>)ViewData[ExamPupilViolateConstants.LIST_EXAM_VIOLATION_TYPE];
}
@if (listType == null || listType.Count == 0)
{
    <div style ="margin-left:7px;">
        @Html.Raw(Res.Get("Note_Label_ExamPupilViolate"))
    </div>
}
<div class="vt-ResultPanel">
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ExamPupilViolateViewModel>)ViewData[ExamPupilViolateConstants.LIST_EXAM_PUPIL_VIOLATE_INSERT])
            .Name("GridExamPupilViolateInsert")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("#"))
                    .HtmlAttributes(new { style = "text-align:center" }).Width(40)
                    .HeaderHtmlAttributes(new { style = "text-align:center" });

                c.Bound(o => o.SBD).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(120)
                    .HtmlAttributes(new { style = "text-align:center; word-wrap: break-word;" });
                c.Bound(o => o.FullName).Sortable(true)
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);
                    
                c.Template(@<text>
                    <div class="editor-field">
                        <input class="TextItem" type="text" onkeyup="CheckValidateTextBoxInsert(this)" defaultvalue="@item.ExamPupilID" name="ContentViolate" id="@("ContentViolate" + item.ExamPupilID)" maxlength="100" value="" disabled="disabled" style="width:247px" />
                        <span style="color: red;">*</span>
                    </div>
                </text>)
                .Title(Res.Get("ViolatedInvigilator_Label_ViolationDetail"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(280)
                    .HtmlAttributes(new { style = "text-align:center" });
                    
                c.Template(@<text>
                    <div class="editor-field">
                                    <select class="CbxItem" onchange="CheckValidateTextBoxInsertCB(this)" name="ExamViolateType" defaultvalue="@item.ExamPupilID" id="@("ExamViolateType" + @item.ExamPupilID)" style="width:155px" disabled="disabled">
                                         <option value="0">@Res.Get("CHOICE")</option>
                                    @foreach (var single in listType)
                                    {
                                        <option value="@single.ExamViolationTypeID">@single.Resolution</option>
                                    }
                                    </select>
                          <span style="color: red;">*</span>
                    </div>
                </text>)
                .Title(Res.Get("ExamPupilViolate_Column_ViolateTypeName"))
                    .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200)
                    .HtmlAttributes(new { style = "text-align:left" });

                c.Template(@<text>
                    <input type="hidden" name="HiddenExamPupilID" id="@("HiddenExamPupilID" + @item.ExamPupilID)" value="@item.ExamPupilID" />
                    <label class="custom-checkbox p-r-0 p-l-15">
                        <input type="checkbox" class="CheckItem" id='@("CheckPupilViolateInsert" + item.ExamPupilID)' name="CheckPupilViolateInsert" onchange="SelectOneInsert(this)" value="@item.ExamPupilID" />
                        <span class="checkmark"></span>
                    </label>
                </text>)
                .HeaderTemplate(@<text>
                    <label class="custom-checkbox p-r-0 p-l-15">
                        <input type="checkbox" name="CheckAllPupilViolateInsert" id="CheckAllPupilViolateInsert" onchange="SelectAllInsert(this)" />
                        <span class="checkmark"></span>
                    </label>
                </text>)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(60);
            })
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .ClientEvents(e => e.OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.ExamPupilViolateID))
            .Scrollable(o => o.Height(260))
            .Selectable()
            .Render();
    }
</div>


<script type="text/javascript">
    function SelectAllInsert(checkBox) {
        var checked = $("#CheckAllPupilViolateInsert").is(':checked');
        if (checked) {
            $('#frmCreate .CheckItem').attr("checked", "checked");
            $('#frmCreate .TextItem').removeAttr("disabled");
            $('#frmCreate .CbxItem').removeAttr("disabled");
        } else {
            $('#frmCreate .CheckItem').removeAttr("checked");
            $('#frmCreate .TextItem').attr("disabled", "disabled");
            $('#frmCreate .CbxItem').attr("disabled", "disabled");
            $(".field-validation-error").remove();

        }
        var countcheckItem = 0;
        $('#frmCreate .CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            $("#btnSaveCreateGrid").removeAttr("disabled");
            $("#btnSaveCreateGrid").removeClass("t-state-disabled");
        }
        else {
            $("#btnSaveCreateGrid").attr("disabled", "disabled");
            $("#btnSaveCreateGrid").addClass("t-state-disabled");

        }
    }

    function SelectOneInsert(checkItem) {

        var id = $(checkItem).val();
        var check = $(checkItem).attr("checked");
        if (check == "checked") {
            $("#frmCreate #ContentViolate" + id).removeAttr("disabled");
            $("#frmCreate #ExamViolateType" + id).removeAttr("disabled");
        }
        else {
            $("#frmCreate #ContentViolate" + id).attr("disabled", "disabled");
            $("#frmCreate #ExamViolateType" + id).attr("disabled", "disabled");
            $("#ContentViolate" + id).next(".field-validation-error").remove(); 
            $("#ExamViolateType" + id).next(".field-validation-error").remove();
        }

        var numberCheckboxItem = $('#frmCreate .CheckItem').length;
        var countcheckItem = 0;

        $('#frmCreate .CheckItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            $("#btnSaveCreateGrid").removeAttr("disabled");
            $("#btnSaveCreateGrid").removeClass("t-state-disabled");
        }
        else {
            $("#btnSaveCreateGrid").attr("disabled", "disabled");
            $("#btnSaveCreateGrid").addClass("t-state-disabled");
        }

        if (countcheckItem == numberCheckboxItem) {
            $("#CheckAllPupilViolateInsert").attr("checked", "checked");
        } else {
            $("#CheckAllPupilViolateInsert").removeAttr("checked");
        }
    }
</script>
