﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.SMSEduArea.Controllers
@{
    var educationLevelList = ViewData[SMSFreeRegistrationConstants.EducationLevelList] as List<Selector> ?? new List<Selector>();
    var classList = ViewData[SMSFreeRegistrationConstants.ClassList] as List<Selector> ?? new List<Selector>();
    var statusList = ViewData[SMSFreeRegistrationConstants.StatusList] as List<Selector> ?? new List<Selector>();
}
<div class="vt-SearchPanelEdit vt-SearchPanel vt-InfoPanel sms-free-reg-page-search">
    <div class="vt-SearchPanel-TitleEdit vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        Tìm kiếm
    </div>
    <div class="vt-SearchPanel-Content">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                <div class="vt-control">
                    <div class="editor-label formSearchTd formSearchTdLabel">
                        <label for="education-level-list">@Res.Get("Common_Label_EducationShort")</label>
                    </div>
                    <div class="editor-field formSearchTd formSearchTdInput">
                        <select id="education-level-list">
                            @foreach (Selector item in educationLevelList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="vt-control">
                    <div class="editor-label formSearchTd formSearchTdLabel">
                        <label for="class-list">@Res.Get("Common_Label_ClassShort")</label>
                    </div>
                    <div class="editor-field formSearchTd formSearchTdInput">
                        <select id="class-list">
                            @foreach (Selector item in classList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            </div>      
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="vt-control">
                        <div class="editor-label formSearchTd formSearchTdLabel">
                            <label for="pupil-code">@Res.Get("Label_Pupil_Code")</label>
                        </div>
                        <div class="editor-field formSearchTd formSearchTdInput">
                            <input class="text-box" id="pupil-code" type="text" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="vt-control">
                        <div class="editor-label formSearchTd formSearchTdLabel">
                            <label for="pupil-fullname">@Res.Get("Employee_Column_FullName")</label>
                        </div>

                        <div class="editor-field formSearchTd formSearchTdInput">
                            <input class="text-box" type="text" id="pupil-fullname" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="vt-control">
                        <div class="editor-label formSearchTd formSearchTdLabel">
                            <label for="status-list">@Res.Get("Label_Tittle_Status")</label>
                        </div>
                        <div class="editor-field formSearchTd formSearchTdInput">
                            <select id="status-list">
                                @foreach (Selector item in statusList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="vt-SearchPanel-Button text-center">
        <button id="rsf-search" class=" btn btn-info btn-round btn-icon btn-icon-search mg-b-10">@Res.Get("Common_Search")</button>
    </div>
</div>