﻿@model SummedEvaluationViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SummedEvaluationArea
@using SMAS.Web.Areas.SummedEvaluationArea.Models
@using SMAS.Web.Areas.ClassSubjectArea.Models
@using SMAS.Models.Models
@using SMAS.Business.Common
@using SMAS.Business.BusinessObject
@using Microsoft.Security;
@{
    bool isSubjectNull = false;
    bool disabled_button = false;
    if (ViewData[SummedEvaluationConstant.DISABLED_BUTTON] != null)
    {
        disabled_button = (bool)ViewData[SummedEvaluationConstant.DISABLED_BUTTON];
    }
    if (ViewData[SummedEvaluationConstant.CHECK_SUBJECT_NULL] != null)
    {
        isSubjectNull = (bool)ViewData[SummedEvaluationConstant.CHECK_SUBJECT_NULL];
    }
    List<ClassSubjectBO> lsSubject = ViewData[SummedEvaluationConstant.LIST_SUBJECT] as List<ClassSubjectBO>;
    IDictionary<string, object> dicSubject = new Dictionary<string, object>();
    dicSubject["style"] = "width:99%";
    List<SummedEvaluationViewModel> lstSummed = ViewData[SummedEvaluationConstant.LIST_SUMMED_EVALUATION] as List<SummedEvaluationViewModel>;
    IHtmlString ctStyle = Html.Raw("style='color: red;text-align:center;font-weight: bold;'");
    IHtmlString mgStyle = Html.Raw("style='color: green;text-align:center;font-weight: bold;'");
    IHtmlString redStyle = Html.Raw("style='color: red;text-align:center;'");
    IHtmlString noStyle = Html.Raw("");
    IHtmlString judgeStyle = Html.Raw("style='text-align:center;'");
    IHtmlString recordStyle = Html.Raw("style='text-align:center;'");
    int semesterID = 0;
    if (ViewData[SummedEvaluationConstant.SEMESTER_ID] != null)
    {
        semesterID = (int)ViewData[SummedEvaluationConstant.SEMESTER_ID];
    }
 }
<style type="text/css">
    /*#GridSummedEvaluation .t-header{vertical-align:middle!important;font-weight:700!important;text-align:center!important}#GridSummedEvaluation .t-grid-content table td{padding:0!important;height:30px}.vt-ResultPanel{margin:2px!important}#GridSummedEvaluation .t-header{padding-top:0!important;padding-bottom:0!important;height:30px!important}#GridSummedEvaluation .t-header table td{padding:3px 0!important;text-align:center;height:20px}
    .listbutton {
        margin-left: 10px;
        margin-top: 111px;
    }
     #ListButtonRight {
        float: right;
    }
    #GridSummedEvaluation .editor-field {
        width:96%;
        margin-left:2px;
    }*/
</style>
@{
    <input type ="hidden" id ="hfIsSubjectNull" value ="@isSubjectNull" />
    if (!isSubjectNull)
    {
        using (Ajax.BeginForm("DeleteEvaluationResult",
                        "SummedEvaluation",
                        new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnBegin = "DeleteOnBegin",
                            OnComplete = "DeleteComplete",
                            OnSuccess = "OnDeleteSuccess",
                            OnFailure = "OnDeleteFailure"
                        },
                        new { id = "frmEvaluationResult" }))
        {
          @Html.AntiForgeryToken()
          <input type="hidden" name="HfClassID" id="HfClassID" value="0"/>

            var index = 1;
            Html.Telerik()
              .Grid(lstSummed)
              .Name("GridSummedEvaluation")
              .HtmlAttributes(dicSubject)
              .Columns(c =>
              {
                  c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                  c.Template(@<text> 
                        @if(item.Status == SystemParamsInFile.PUPIL_STATUS_GRADUATED || item.Status == SystemParamsInFile.PUPIL_STATUS_STUDYING)
                        {
                             <span style ="margin-left:3px;">@item.FullName</span>
                        }else
                        {
                            <span style ="margin-left:3px; color: red;")>@item.FullName</span>
                        }
                </text>).Title(Res.Get("PupilProfile_Label_FullName")).Width(140);

                  c.Template(@<table>
                    <tr>
                        @{
                            IHtmlString pupilStyle = item.Status == SystemParamsInFile.PUPIL_STATUS_GRADUATED || item.Status == SystemParamsInFile.PUPIL_STATUS_STUDYING ? null : redStyle;
                            foreach (ClassSubjectBO cs in lsSubject)
                            {
                                var subject = item.lstSubject.Where(u => u.SubjectID == cs.SubjectID).SingleOrDefault();
                            <td style ="text-align:center;">
                                @if (subject.Display == "MG")
                                {
                                      <span style="color: red; font-weight: bold;">
                                          @subject.Display
                                      </span>
                                }
                                else
                                {
                                    if (item.Status != SystemParamsInFile.PUPIL_STATUS_STUDYING)
                                    {
                                        if (!item.IsMove)
                                        {
                                            if (!string.IsNullOrEmpty(subject.EvaluationEnding))
                                            {
                                            <span style="color: red;font-weight:bold;">
                                            @subject.EvaluationEnding<br/></span>
                                            }
                                            else
                                            {
                                                <span style="color: red;font-weight:bold;">
                                                CĐG<br/></span>
                                            }
                                            if(subject.IsCommenting == GlobalConstants.SUBJECTCAT_ISCOMMENTING_MARK)
                                            {
                                                <span style ="color:red;">KTHK: </span><span style ="color:red;font-weight:bold;" >@subject.PeriodicEndingMark</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (subject.isCheckRate)
                                        {
                                            if ("CHT".Equals(subject.EvaluationEnding))
                                            {
                                            <span style ="text-align:center;color:red;font-weight:bold;">
                                            @subject.EvaluationEnding<br/></span>
                                            }
                                            else
                                            {
                                            <span style ="text-align:center;font-weight:bold;">
                                            @subject.EvaluationEnding<br/></span>
                                            }
                                        }
                                        else
                                        {
                                        <span style ="color:red;font-weight:bold">CĐG<br /></span>
                                        }

                                        if (subject.IsCommenting == GlobalConstants.SUBJECTCAT_ISCOMMENTING_MARK)
                                        {
                                            if (subject.PeriodicEndingMark != null && subject.PeriodicEndingMark > 4)
                                            {
		                                    <span>KTHK: </span><span style ="font-weight:bold;">@subject.PeriodicEndingMark</span>
                                            }
                                            else
                                            {
                                            <span>KTHK: </span><span style ="color:red;font-weight:bold">@subject.PeriodicEndingMark</span>
                                            }
                                        }
                                    }
                                }
                            </td>
                            
                            }
                            if (!item.IsMove)
                            {
                                if (!string.IsNullOrEmpty(item.Capacity))
                                {
                                    if (item.Status != GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <td style ="text-align:center;font-weight:bold;color:red;">
                                            <span>@item.Capacity</span>
                                        </td>
                                    }
                                    else
                                    {
                                        if ("Đ".Equals(item.Capacity))
                                        {
                                        <td style ="text-align:center;font-weight:bold;">
                                            <span>@item.Capacity</span>
                                        </td>
                                        }
                                        else
                                        {
                                        <td style ="text-align:center;font-weight:bold;color:red;">
                                            <span>@item.Capacity</span>
                                        </td>
                                        }
                                    }

                                }
                                else
                                {
                                    <td style ="text-align:center;color:red;font-weight:bold;">
                                        <span>CĐG</span>
                                    </td>
                                }

                                if (!string.IsNullOrEmpty(item.Quality))
                                {
                                    if (item.Status != GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <td style ="text-align:center;font-weight:bold;color:red;">
                                            <span>@item.Quality</span>
                                        </td>
                                    }
                                    else
                                    {
                                        if ("Đ".Equals(item.Quality))
                                        {
                                            <td style ="text-align:center;font-weight:bold;">
                                                <span>@item.Quality</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style ="text-align:center;font-weight:bold;color:red;">
                                                <span>@item.Quality</span>
                                            </td>
                                        }
                                    }

                                }
                                else
                                {
                                    <td style ="text-align:center;color:red;font-weight:bold;">
                                        <span>CĐG</span>
                                    </td>
                                }
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                if (semesterID == 2)
                                {
                                    <td></td>
                                }
                            }

                            if (semesterID == 2)
                            {
                                if (item.IsMove)
                                {
                                    <td>
                                        <span></span>
                                    </td>
                                    <td style ="width:60px;">   
                                    </td>
                                }
                                else
                                {
                                    if (item.Status != GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <td style ="text-align:center;color:red;font-weight:bold;">
                                            <span>@item.EvaluationResult</span>
                                        </td>
                                        <td style ="color:red;font-weight:bold;text-align:center;">
                                            <span>@(item.RateAdd == 0 ? "CĐG" : item.RateAdd == 1 ? "HT" : "CHT")</span>
                                        </td>
                                    }
                                    else
                                    {
                                        if ("HT".Equals(item.EvaluationResult))
                                        {
                                            <td style ="text-align:center;font-weight:bold;">
                                                <span>@item.EvaluationResult</span>
                                            </td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(item.EvaluationResult))
                                            {
                                                <td style ="text-align:center;color:red;font-weight:bold;">
                                                    <span>@item.EvaluationResult</span>
                                                </td>
                                                <td>
                                                    @Html.ViettelCombobox("", "RateAdd", (IEnumerable<SelectListItem>)(new SelectList((List<ComboObject>)ViewData[SummedEvaluationConstant.LIST_RATE_ADD],"key","value",item.RateAdd.HasValue ? item.RateAdd.Value : 0)),
                                                        2, new Dictionary<string, object>() { {"id","RateAdd_" + item.PupilID},{"style","margin-top:10px;"}}, false, false)
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                              
                                        }
                                    }
                                    
                                    <td style ="text-align:center; width:60px;">
                                        <label class="custom-checkbox p-r-0" style="padding-left:15px">
                                        <input type="checkbox" id='@("Chk_" + item.PupilID)' defaultValue="@item.PupilID" style ="text-align:center;" onchange="SelectOne(this)" class="ChkItem" name='@("Chk_" + item.PupilID)' checked="checked" />
                                        <span class="checkmark"></span>
                                            </label>
                                    </td>
                                }

                            }
                        }
                    </tr>
                </table>).HeaderTemplate(@<table>
                    <tr>
                        @foreach (ClassSubjectBO cs in lsSubject)
                        {
                            <td style="text-align:center">
                                @Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display(cs.DisplayName, 1))
                            </td>
                        }
                        <td style="text-align:center">@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display("Năng lực", 1))</td>
                        <td style="text-align:center">@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display("Phẩm chất", 1))</td>
                        @if (semesterID == 2)
                        {
                            <td style="text-align:center">@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display("Kết quả đánh giá", 1))</td>
                            <td style="text-align:center">@Html.Raw(SMAS.Web.Utils.Utils.ConvertTitle2Display("Đánh giá bổ sung", 1))</td>
                            <td style ="width:60px;">
                                <label class="custom-checkbox" >
                                <input type="checkbox" id="ChkAll" onchange="SelectAll()" name="ChkAll" checked="checked" />
                                    <span class="checkmark" style="left:22px"></span>
                                </label>        
                            </td>
                        }
                    </tr>
                </table>).HtmlAttributes(new { style = "text-align:center" }).Width(1000);

              })
              .DataKeys(keys => keys.Add(o => o.PupilID))
              .Scrollable(o => o.Enabled(true).Height(400))
              .Sortable()
              .Selectable()
              .Render();
            <br/>
            if (lstSummed.Count > 0)
            {
              <div id="ListButton" class="text-right">
              <span><input type="button" id="btnExport" class="btn btn-info btn-icon btn-round btn-icon-excel" value="@Res.Get("MarkRecordPeriod_Label_Export")" onclick="ExportExcel()"></span>
              @if ((int)ViewData[SummedEvaluationConstant.ENABLE_BTN_SAVE_RATEADD] > 0)
              {
                <span><input type="button" id="btnExportRateAdd" class="btn btn-info btn-round" value="@Res.Get("Xuất đánh giá bổ sung")" onclick="ExportRateAdd()"></span>
              }

              @if (semesterID == 2 && disabled_button)
              {
                <span id="ListButtonRight">
                    <input type="button" id="btnSave" class="btn btn-info btn-icon btn-round btn-icon-save" onclick ="OnClickRate()" value="@Res.Get("Title_GeneralEvaluationSaveDGBS")" >
                    <input type="button" id="btnDelete" class="btn btn-info btn-icon btn-round btn-icon-times" onclick = "return CheckValidateDelete();" value="@Res.Get("Common_Button_Delete")">
                    <input type="submit" style="display:none"  id="submitFormDelete">
                </span>
              }
            </div>
            }
        }
    }
    else
    {
        <div id ="MessageSubjectNull" style ="text-align:center">
            <label style ="color:red;font-weight:bold;">Chưa khai báo môn học cho lớp.</label>
        </div>
    }
 }
<script type="text/javascript">
    var lstInd = 0;
    var isValidateCheckBoxDelete = true;
    function Grid_onDataBinding(e) {
        var grid = $('#GridPupilRanking').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSave");
    }

    $(document).ready(function () {
        var classID = $('#ClassID').val();
        $('#HfClassID').val(classID);
    });

    function OnDeleteSuccess(msg) {
        smas.alert(msg);        
        AjaxLoadGrid();
    }
    function DeleteOnBegin() {
        smas.showProcessingDialog();
    }
    function DeleteComplete() {
        smas.hideProcessingDialog();
    }
    function OnDeleteFailure(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function ExportExcel() {
        ClassID = $("#ClassID").val();
        SemesterID = $("#Semester").val();
        if (ClassID > 0 && SemesterID > 0) {
            window.open('@Url.Action("ExportExcel", "SummedEvaluation")?classID=' + ClassID + '&semesterID=' + SemesterID);
        }
    }
    function ExportRateAdd() {
        ClassID = $("#ClassID").val();
        SemesterID = $("#Semester").val();
        if (ClassID > 0 && SemesterID > 0) {
            window.open('@Url.Action("ExportRateAdd", "SummedEvaluation")?classID=' + ClassID + '&semesterID=' + SemesterID);
        }
    }
    function SelectAll() {
        var cheked = $("#ChkAll").is(':checked');
        if (cheked) {
            $('.ChkItem').attr("checked", "checked");
            isValidateCheckBoxDelete = true;
        } else {
            $('.ChkItem').removeAttr("checked");
            isValidateCheckBoxDelete = false;
        }
    }

    function SelectOne() {
        var numberCheckboxItem = $('.ChkItem').length;
        var countcheckItem = 0;

        $('.ChkItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem > 0) {
            isValidateCheckBoxDelete = true;
        }
        else {
            isValidateCheckBoxDelete = false;
        }

        if (countcheckItem == numberCheckboxItem) {
            $("#ChkAll").attr("checked", "checked");
        } else {
            $("#ChkAll").removeAttr("checked");
        }

    }
    function OnClickRate()
    {
        var classID = $('#ClassID').val();
        var semesterID = $('#Semester').val();
        var arrayID = "";
        var arrayRateAdd = "";
        var token = $('[name=__RequestVerificationToken]').val();
        $('.ChkItem').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                var id = 0;
                var addID = 0;
                id = $(this).attr('defaultValue');
                addID= $("#RateAdd_" + id).val();
                arrayID += id + ",";
                arrayRateAdd += (id + "_" + addID) + ",";
            }
        });
        if (arrayID != "" && arrayID != null) {
            $.ajax({
                url: '/SummedEvaluationArea/SummedEvaluation/EvaluationRate',
                type: 'post',
                data: { arrayID: arrayID, ClassID: classID, SemesterID: semesterID, arrayAddID: arrayRateAdd, __RequestVerificationToken: token },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    smas.alert(msg);
                    smas.hideProcessingDialog();
                    AjaxLoadGrid();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }
        else {
            smas.alertColor("Thầy/cô chưa chọn học sinh.","red")
        }  
    }
    function CheckValidateDelete()
    {
        if (!isValidateCheckBoxDelete) {
            smas.alertColor('Thầy/cô chưa chọn học sinh', 'red');
            return false;
        }

        smas.confirm('@Html.Raw(Res.Get("SummedEvaluation_Confirm_Delete"))', function () {
            $('#submitFormDelete').click();
            return true;
        })
      
    }
</script>
