﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.SummedEvaluationArea
@using SMAS.Web.Constants
@{
    List<ViettelCheckboxList> listSemester = ViewData[SummedEvaluationConstant.LIST_SEMESTER] as List<ViettelCheckboxList>;
 }
<style type="text/css">
    button,input{margin:0 7px 0 0!important}.hidClass{display:none}
</style>
<div style="float: left;">
    @Html.ViettelListButtonStyle2("ListSemester", new GlobalInfo().Semester.Value.ToString(), new Dictionary<string, object>(), "javascript:ChoiceSemester(this)", listSemester, false)
</div>

<div class="BoxMenuSection">
    <!-- menu box-->
    <div style="float: right;">
        <div style="position: absolute; top: 10px; right: 25px;">
            @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
        </div>
    </div>
</div>
<script type="text/javascript">

    function ChoiceSemester(button) {
        controlUtils.ChangeStyleButton(button);
        var semesterID = $(button).parent().val();
        $('#SemesterOld').val($('#Semester').val());
        $('#Semester').val(semesterID);
        var AppliedLevel = $("#AppliedLevel").val();
        
        AjaxLoadGrid();

        var checkSubjectNull = $('#hfIsSubjectNull').val();
        if (semesterID == 2 && checkSubjectNull == 'False') {
            $('#Title').show();
            $('#Note').show();
        }
        else {
            $('#Title').hide();
            $('#Note').hide();
        }
    }
</script>
