﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportTertiarySchoolStartYearArea.Models
@using SMAS.Web.Areas.ReportTertiarySchoolStartYearArea
@using SMAS.Models.Models
@using SMAS.Web.Constants

@{
    ViewBag.Title = Res.Get("ReportTertiarySchoolStartYear_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
        <span class="icon icon-search-file"></span>
        <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        @Res.Get("Common_Label_SearchingCriteria")
    </div>
    <div class="vt-SearchPanel-Content">
        @Html.ViettelTextbox(Res.Get("SchoolProfile_Label_SchoolName"), "SchoolName", "", new Dictionary<string, object> { }, false, false, false)
        @Html.ViettelCombobox(Res.Get("ReportInputMonitoringSituation_Label_District"), "District"
                                    , new SelectList((IEnumerable<District>)ViewData[ReportTertiarySchoolStartYearConstants.LS_DISTRICT], "DistrictID", "DistrictName")
                                    , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "OnChange", "AjaxClickDistrict()" } }
                                    , false, false)

        @Html.ViettelCombobox(Res.Get("ReportInputMonitoringSituation_Label_AcademicYear"), "Year"
                                    , new SelectList((IEnumerable<ComboObject>)ViewData[ReportTertiarySchoolStartYearConstants.LS_YEAR], "key", "value")
                                    , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "OnChange", "AjaxClickYear()" } }
                                    , false, false)
        @Html.ViettelCombobox(Res.Get("ReportTertiarySchoolStartYear_Label_Status"), "Status"
                                    , new SelectList((IEnumerable<ComboObject>)ViewData[ReportTertiarySchoolStartYearConstants.LS_STATUS], "key", "value")
                                    , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "OnChange", "AjaxClickType()" } }
                                    , false, false)
    </div>

    <div class="vt-SearchPanel-Button">
        @Html.ViettelButton(Res.Get("SearchRK"), "button", "Search()", "vt-button-search", "btnSearch")
        @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitExcel")
    </div>
</div>

<div id="ListReport">


</div>
<script>
    function Search() {
        $.ajax({
            url: '@Url.Action("Search", "ReportTertiarySchoolStartYear")',
            type: 'post',
            data: $("#SearchPanel").serialize(),
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#ListReport").html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

</script>
