﻿@model ReportEmployeeProfileViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ReportEmployeeProfileArea.Models
@using SMAS.Web.Areas.ReportEmployeeProfileArea;
<style type="text/css">
    .Combobox{visibility:hidden}.vt-control .editor-label{width:30%!important;text-align:right;padding-right:10px}.LblSeniorYear{width:250px!important;padding-left:10px}.t-picker-wrap{width:200px}#colRd .editor-label{width:0}
</style>
@{
    ViewBag.Title = Res.Get("ReportEmployeeProfile_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("SearchReportEmployeeProfilee",
"ReportEmployeeProfile",
new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "smas.showProcessingDialog",
    OnComplete = "smas.hideProcessingDialog"
}, new { id = "frmSearchReportEmployeeProfile" }))
{ 
            
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2" style="padding-top: 10px">
        <table>
            <tr>
                <td style="width: 33%; padding-left: 60px">
                    <div class="label1">
                        <table>
                            <tr>
                                <td>@Res.Get("ReportEmployeeProfile_Label_ReportDate")
                                </td>
                                <td id="colRd">@Html.ViettelDatePicker("ReportDate", "",
        DateTime.Now, true, new Dictionary<string, object> { { "onChange", "checkDateTime()" }, { "style", "width: 200px" } })
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="width: 33%;">
                    <div class="label1">
                        @(Html.ViettelComboboxFor(o => o.SchoolFaculty, Res.Get("ReportEmployeeProfile_Label_Faculty"),
    new SelectList((IEnumerable)ViewData[ReportEmployeeProfileConstants.CBO_FACULTY], "SchoolFacultyID", "FacultyName"),
    SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { { "style", "width: 200px" } }, false))
                    </div>
                </td>
            </tr>
        </table>
        <div style="padding-left: 40%" id="ListRadio">
            @(Html.ViettelRadioBox("rptReport", "", new Dictionary<string, object> { { "id", "rptReport" }, { "onClick", "ClickReport()" } }, ViewData[ReportEmployeeProfileConstants.LIST_RADIO] as List<SMAS.VTUtils.HtmlHelpers.ViettelCheckboxList>, false, true))
            <table>
                <tr>
                    <td>
                        <div class="Combobox" class="LblSeniorYear">
                            @(Html.ViettelComboboxFor(o => o.Math, Res.Get("ReportEmployeeProfile_Label_SeniorYear"),
      new SelectList((IEnumerable)ViewData[ReportEmployeeProfileConstants.CBO_MATH], "Value", "Text", 1),
      SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object> { { "style", "width: 135px" } }, false))
                        </div>
                    </td>
                    <td>
                        <div class="Combobox">
                            @Html.ViettelTextboxFor(o => o.SeniorYear, "", new Dictionary<string, object> { { "style", "width: 135px" } }, false, false, false)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), "submit", "", "")
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("span[data-valmsg-for=Math]").remove();
    });

    $('#frmSearchReportEmployeeProfile').submit(function (event) {
        var Report = $("[name=rptReport]:checked").val();
        if (Report == 4) {
            if (!validateUtils.validateForm('frmSearchReportEmployeeProfile')) {
                return false;
            }
        }
        event.preventDefault();
        smas.getReport(
            'frmSearchReportEmployeeProfile',
            '@Url.Action("GetReport", "ReportEmployeeProfile")',
            '@Url.Action("GetNewReport", "ReportEmployeeProfile")' + '?GetNew=1',
            '@Url.Action("DownloadReport", "ReportEmployeeProfile")'
        );
    });

    function ClickReport() {
        var Report = $("[name=rptReport]:checked").val();
        if (Report == 4) {
            $(".Combobox").css({ 'visibility': 'visible', display: '' });

        }
        if (Report != 4) {
            $(".Combobox").css({ 'visibility': 'hidden', display: '' });

        }
    }
    function checkDateTime() {
        var date = Date.parseLocale($("#ReportDate").val(), "dd/MM/yyyy");
        if (date > Date.now()) {
            smas.alert({ Type: "error", Message: '@Html.Raw(Res.Get("ReportEmployeeSalary_Label_ErrorDate"))' });
        }
    }
    var oldValue = "";
    $("#SeniorYear").keyup(function (e) {
        if (this.value * 1 > 100 || this.value * 1 == 0) {
            this.value = oldValue;
        }
    });



    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmSearchReportEmployeeProfile"));
    });
</script>
