﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@{
    GlobalInfo _globalInfo = new GlobalInfo();
 }


<div id="summary-container" class="summary-area-page">
    <div>
        <div id="ClassPanel" class="col-sm-2 p-l-0">
             @if (!(_globalInfo.IsSuperVisingDeptRole || _globalInfo.IsSubSuperVisingDeptRole))
            {
                <div class="CollapseSideBar">
                <a class="Sprite1 Sclose2" href="#">
                    <span class="HideText">Đóng/Mở</span>
                </a>
                </div>    
            }
            <div class="SideBarTop">
                @Html.Partial("_ListClass")
            </div>
        </div>
        <div  id="RightPanel" class="col-sm-10 no-padding">
            <div id="hiddenPanel">
                @Html.ViettelHidden("ClassID", 0)
                @Html.ViettelHidden("Semester", new GlobalInfo().Semester.Value)
                @Html.ViettelHidden("EducationlevelID", 0)
                @Html.ViettelHidden("PeriodID", 0)
            </div>
            <div id="SearchPanel">
                @Html.Partial("_Search")
            </div>
            <div class="Clear">
            </div>
            <div>
                <div id="gridPupilForSummary">
                </div>
                <div class="Clear">
                </div>
            </div>
        </div>
    </div>
</div>