﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.Web.Areas.SummaryArea
@{
    IEnumerable<ClassProfile> listClass = ViewData[SummaryConstants.LIST_CLASS] as IEnumerable<ClassProfile>;
    List<EducationLevel> listEducation = new GlobalInfo().EducationLevels;
    ClassProfile cp = (ClassProfile)ViewData["ClassProfile"];
    string ClassID = cp == null ? "" : cp.ClassProfileID.ToString();
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ClassID' != '') {
            $("#summary-container #ClassID").val('@ClassID');
        }
    }); 
    function treeView() {
        return $('#TreeClassForSumary').data('tTreeView');
    }
    function selectClassForSumary(e) {
        var item = $(e.item);
        if (!$(item).parents("ul").first().hasClass('t-treeview-lines')) {
            $('#summary-container #ClassID').val(treeView().getItemValue(item));
            $('#summary-container #EducationlevelID').val($(item).closest('ul').prev().find(".t-input").val());
            reloadSumary();
        } else {
            $('#summary-container #ClassID').val('0');
            $('#gridPupilForSummary').html("");
        }
        setTimeout('ReloadMenu();', 1000);
    }
</script>


            @if (listEducation != null && listEducation.Count > 0 && cp != null)
            {
                @(Html.Telerik().TreeView()
                .Name("TreeClassForSumary")
                .Items(item =>
                {
                    foreach (EducationLevel EducationLevel in listEducation)
                    {
                        var expanded = EducationLevel.EducationLevelID == cp.EducationLevelID;
                        item.Add()
                            .Text(EducationLevel.Resolution)
                            .Value(EducationLevel.EducationLevelID.ToString())
                            .Items(child =>
                            {
                                var listClassChild = listClass.Where(o => o.EducationLevelID == EducationLevel.EducationLevelID);
                                if (listClassChild != null && listClassChild.Count() > 0)
                                {
                                    foreach (ClassProfile cl in listClassChild)
                                    {
                                        var selected = cl.ClassProfileID == cp.ClassProfileID;
                                        child.Add()
                                            .Text(cl.DisplayName)
                                            .Value(cl.ClassProfileID.ToString()).Selected(selected);
                                    }
                                }
                            }).Expanded(expanded);

                    }
        }
        )

        .ClientEvents(events => events.OnSelect("selectClassForSumary"))

        );
            }
            else
            {
                @Res.Get("Thầy cô không có quyền xem thông tin tổng kết của bất kì một lớp học nào! ");
            }
