﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.SummaryArea
@using SMAS.Web.Constants
@{
    List<ViettelCheckboxList> listSemester = ViewData[SummaryConstants.LIST_SEMESTER] as List<ViettelCheckboxList>;
    int appliedLevel = (int)ViewData[SummaryConstants.LIST_APPLIEDLEVEL];
    var listPeriod = (IEnumerable<SelectListItem>)ViewData[SummaryConstants.LIST_PERIOD];
    int countPeriod = 0;
    string styleStr = "display:none;";
    if (listPeriod != null && listPeriod.Count() > 0)
    {
        countPeriod = listPeriod.Count();
        styleStr = "display:block;";
    }
}
<div class="p-l-15 p-r-15 summary-area-page">
    <div class="row">
        <div class="col-md-5 col-sm-12 no-padding mg-b-10">
            @Html.ViettelListButtonStyle2("ListSemester", new GlobalInfo().Semester.Value.ToString(), new Dictionary<string, object>(), "javascript:ChoiceSemesterForSummary(this)", listSemester, false)
        </div>
        <div class="col-md-3 col-sm-4 p-t-10 summary-area-check-box">
            @if (appliedLevel == 1)
            {
                @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "summary_chkboxClick(this)" }, { "id", "chkPeriod" }, { "disabled", "" }, { "style", "display:none" } }, Res.Get("Điểm theo đợt"), false, false, true)
            }
            else
            { 
                @Html.ViettelCheckBox("chkPeriod", false, new Dictionary<string, object>() { { "onclick", "summary_chkboxClick(this)" }, { "id", "chkPeriod" } }, Res.Get("Điểm theo đợt"), false, false, true)
            }
        </div>
        <div class="col-md-3 col-sm-5 no-padding">
            @if (appliedLevel == 1)
            {
                @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[SummaryConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", "display:none;" }, { "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
            }
            else
            { 
                @Html.ViettelCombobox("", "cboPeriod", (IEnumerable<SelectListItem>)ViewData[SummaryConstants.LIST_PERIOD], GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>() { { "style", styleStr }, { "onchange", "onPeriod(this)" }, { "disabled", "disabled" } }, false, false)
            }
        </div>
        <div class="col-md-1 col-sm-2 BoxMenuSection">
            <!-- menu box-->
            <div style="float: right;">
                <div style="position: absolute; top: 17px; right: 20px;">
                    @Html.Partial("~/Views/Shared/_ClassQuickMenu.cshtml", null)
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () { summary_chkboxClick("Input[name=chkPeriod]"); }, 100)
    });
    function ChoiceSemesterForSummary(button) {
        controlUtils.ChangeStyleButton(button);
        $('#summary-container #Semester').val($(button).attr('value'));
        if ($(button).attr('value') == 3) {
            $("#summary-container #cboPeriod").css("display", "none");
            $("#summary-container #cboPeriod").parent().removeClass("custom-select");
            $("#summary-container #checkboxid").css("display", "none");
            reloadSumary();
        }
        else{
            onLoadCboPeriodOfSummary();
            $("#summary-container #cboPeriod").css("display", "");
            $("#summary-container #cboPeriod").parent().addClass("custom-select");
            $("#summary-container #checkboxid").css("display", "");
        }
    }

    function reloadCombo(){
        if ($("#summary-container #cboPeriod").find('option').length == 0) {
            $("#summary-container #chkPeriod").closest(".vt-control").hide();
            $("#summary-container #cboPeriod").hide();
            $("#summary-container #chkPeriod").attr("disabled", "");
        } else {
            $("#summary-container #chkPeriod").closest(".vt-control").show();
            $("#summary-container #cboPeriod").show();
            $("#summary-container #chkPeriod").removeAttr("disabled");
            $("#PeriodID").val($("#summary-container #cboPeriod").val());
            
        }
        reloadSumary();
    }


    function onLoadCboPeriodOfSummary() {
        semesterid = $('#summary-container #Semester').val();
        controlUtils.loadComboBox(
            $("#summary-container #cboPeriod"),
            '@Url.Action("GetcboPeriod")',
            { SemesterID: semesterid },
            null, function(){reloadCombo();}
        );
    }
    function summary_chkboxClick() {
        if ($("#summary-container #chkPeriod").is(":checked")) {
            $("#summary-container #cboPeriod").removeAttr("disabled");
            //            onLoadCboPeriodOfSummary();
            //            $("#PeriodID").val($("#summary-container #cboPeriod").val());
            onPeriod();
            // ẩn button cột cả năm
            $("#summary-container #ListSemester li[value=3]").css("display", "none");
            
        } 
        else {
            $("#summary-container #cboPeriod").attr("disabled", "");
            $("#summary-container #ListSemester li[value=3]").css("display", "");
            reloadSumary();
        }
    }
    function reloadSumary() {
        var ClassID = $("#summary-container #ClassID").val();
        var Semester = $("#summary-container #Semester").val();
        var PeriodID = $("#summary-container #PeriodID").val();
//        alert("CID: "+ ClassID+", SID: "+Semester+", PID: "+PeriodID);
        // Nếu là cấp 2,3 và checkbox = unchecked --> Tổng kết điểm theo kỳ
        // Nếu là cấp 2,3 và checkbox = checked --> Tổng kết điểm theo đợt
        if ('@appliedLevel' != '1') {
            if (!$("#summary-container  #chkPeriod").is(":checked") || (!$("#summary-container #chkPeriod").is(":visible"))) {
                if (!isNaN(ClassID) && ClassID > 0 && !isNaN(Semester) && Semester > 0) {
                    $.ajax({
                        url: '/PupilRankingSemesterArea/PupilRankingSemester/LoadGrid',
                        type: 'post',
                        data: { ClassID: ClassID, ranking: 0, Semester: Semester },

                        beforeSend: function () {
                            smas.showProcessingDialog();
                            //BOOMR.plugins.RT.startTimer("LoadGrid_PupilRankingSemester");   //--> bat dau do
                        },
                        success: function (msg) {
                            $("#gridPupilForSummary").html(msg);
                            smas.autoHeightTable("#gridPupilForSummary");
                            smas.hideProcessingDialog();
                            //BOOMR.plugins.RT.endTimer("LoadGrid_PupilRankingSemester");  //--> ket thúc do
                            //BOOMR.plugins.RT.done();	//-->  Gui du lieu
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                        }
                    });
                }
            }
            else {
                onPeriod();
            }

        }
        else 
        {
            // Loi vi Tong ket diem chi co cap 2 & 3
        }
    }
    
    function onPeriod() {
        var ClassID = $("#summary-container #ClassID").val();
        var Semester = $("#summary-container #Semester").val();
        $("#summary-container #PeriodID").val($("#summary-container #cboPeriod").val());
        var PeriodID = $("#summary-container #PeriodID").val();
        if (!isNaN(ClassID) && ClassID > 0 && !isNaN(Semester) && Semester > 0) {
            $.ajax({
                url: '/SummedUpRecordArea/SummedUpRecord/LoadGridData',
                type: 'post',
                data: { classId: ClassID, semesterId: Semester, periodId: PeriodID, ranking: 0 },

                beforeSend: function () {
                    //BOOMR.plugins.RT.startTimer("LoadGrid_PupilRankingPeriod");   //--> bat dau do
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                    $("#gridPupilForSummary").html(msg);
                    smas.autoHeightTable("#gridPupilForSummary");
                    smas.hideProcessingDialog();
                    //BOOMR.plugins.RT.endTimer("LoadGrid_PupilRankingPeriod");  //--> ket thúc do
                    //BOOMR.plugins.RT.done();	//-->  Gui du lieu
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
    }
</script>
