﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilEvaluationBookArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
    int semester = (int)ViewData[PupilEvaluationBookConstants.DEFAULT_SEMESTER];
    int classId = (int)ViewData[PupilEvaluationBookConstants.CLASS_ID];
}

<style>
    /*.btnUploaderCss span {
        padding-right: 20px;
    }

    .t-widget.t-upload.newclass .t-button.t-upload-selected br{
        display: none;
    }

    .t-dropzone {
        width: 65px;
        height: 15px;
    }

    #importDialog .editor-label {
        width: 34%;
    }*/
</style>


<script type="text/javascript">

    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('@Res.Get("Common_Label_ChooseFileImport")').attr("style", "text-align:center");
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });
            // Terminate the interval.
            clearInterval(_intervalId);
            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }
    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var classId = GetClass();
                        var semester = GetSemester();
                        var dataInput = { classId: classId, semester: semester};
                        e.data = dataInput;
                        return true;
                    }
                    smas.alert("Chỉ được import file excel có dung lượng <1MB")
                    error = true;
                    e.preventDefault();
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng")
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();
                return false;
            }
        });
    }

    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        if (e.response.Type == "success") {
            smas.alert(e.response.Message);
            smas.closeDialog("importDialog");
            smas.hideProcessingDialog();
            var classId = GetClass();
            var semester = GetSemester();
            search(classId, 2, semester);
            
        }
        else if (e.response.type == "ImportError") {
            $.ajax({
                url: '@Url.Action("GetViewListToImport", "PupilEvaluationBook")',
                data: { classId: e.response.classId, semester: e.response.semester },
                success: function (msg) {
                    $("#dvChooseAction").html(msg);
                    smas.hideProcessingDialog();
                }
            });
            smas.openDialog("ImportErrorDialog", "", {});
            smas.closeDialog("importDialog");
        }
        else {

            formUtils.resetForm("importDialog");
            $("#errorPanel").html(e.response.Message);

        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');
        // If the upload button was found...
        if (button.length > 0) {
           
            button.click();

            if (!error) {
                smas.showProcessingDialog();
            }
        }

    }

    function OnImportError(e) {
        smas.alertImport(e);
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>

<div style="text-align: center; padding-top: 15px;">
    <div style="float: left; width: 70%; padding-top: 4px;">
        @Html.ViettelTextbox(Res.Get("Common_Label_Choose_Import_File"), "txtFilePath", null, new Dictionary<string, object>() { }, false, true)
    </div>
    <div class="button" style="float: left;width:25%">
        @(Html.Telerik().Upload()
            .Name("attachments")
            .HtmlAttributes(new { @class = "btnUploaderCss" })
            .ShowFileList(false)
            .Multiple(false)
            .Async(async => async
            .Save("ImportExcel", "PupilEvaluationBook")
            .AutoUpload(false)
             ).ClientEvents(events => events
            .OnSelect("OnSelectImport")
            .OnUpload("OnImportUpload")
            .OnSuccess("OnImportSuccess")
            .OnError("OnImportError")
    )
)
    </div>
    <div style="clear: both;"></div>
    <div style="text-align: center;">
        <span id="errorPanel" style="color: Red; font-weight: bold;"></span>

    </div>
    <div style="clear: both;"></div>


</div>

<div style="text-align: center; padding-top: 3px;">
    @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled btn btn-info btn-round")
</div>


