﻿@model List<SMAS.Models.Models.CustomModels.ItemMenuModel> 
@using SMAS.Models.Models.CustomModels
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DefaultGroupArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.DefaultGroupArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Res.Get("ManagePrivileges_Label_System");
    int permissionColumnWidth = 130;
    int menuNameLevel1Width = 445;
    int menuNameLevel2Width = 406;
    int menuNameLevel3Width = 397;
    DefaultGroupViewModel dfViewModel = ViewData[DefaultGroupConstants.DEFAULTGROUP] as DefaultGroupViewModel;
    string DisplayName = ViewData[DefaultGroupConstants.DEFAULTGROUP_NAME] as string;
}
<style>
    .checkmark{
        margin-top: -5px;
    }
</style>
<script src="@Url.Content("~/Scripts/SMAS/MenuCheck.js")" type="text/javascript"></script>
<div class="vt-ResultPanel default-group-mana-pri-page-result">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Message">
            @Html.Label(DisplayName)
        </div>
        <div class="vt-ResultPanel-Title-Button">
        </div>
        <div class="Clear">
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        Html.Telerik().Grid<ItemMenuModel>(Model)
        .Name("GridMenu")
        .Columns(columns =>
        {
            columns.Bound(m1 => m1.Text).Width(menuNameLevel1Width).Title(Res.Get("DefaultGroup_Label_Name"));
            columns.Bound(m1 => m1.viewPermission).Width(permissionColumnWidth)
                .Title(Res.Get("DefaultGroup_Column_View")).Width(permissionColumnWidth)
                .Template(
        @<text>
        <label class="custom-checkbox p-l-0">
        <input type = "checkbox" name = "viewPermission" lv="1" onclick="CheckRole(this)"
                @if (item.viewPermission)
                {
                    <text>checked="checked"</text>
                }
                @{ 
                    var viewidl1 = "view_" + item.MenuPath + item.ItemMenuID + "-";
                    var viewclassl1 = "c" + item.MenuPath;
                    <text> value = "@item.ItemMenuID" id = "@viewidl1" class = "@viewclassl1" </text>
                }
            />
            <span class="checkmark"></span>
            </label>
        </text>
            ).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(m1 => m1.addPermission).Width(permissionColumnWidth)
                .Title(Res.Get("DefaultGroup_Column_Add")).Width(permissionColumnWidth)
                .Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "addPermission" lv="1" onclick="CheckRole(this)"
            @if (item.addPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var addidl1 = "add_" + item.MenuPath + item.ItemMenuID + "-";
            var addclassl1 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@addidl1" class = "@addclassl1"</text>
            }
        />
          <span class="checkmark"></span>
        </label>
        }
        </text>
                 ).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(m1 => m1.editPermission).Width(permissionColumnWidth)
                .Title(Res.Get("DefaultGroup_Column_Edit")).Width(permissionColumnWidth)
                .Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "editPermission" lv="1" onclick="CheckRole(this)"
            @if (item.editPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var editidl1 = "edit_" + item.MenuPath + item.ItemMenuID + "-";
            var editclassl1 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@editidl1" class = "@editclassl1"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                 ).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(m1 => m1.deletePermission)
                .Title(Res.Get("DefaultGroup_Column_Delete")).Width(permissionColumnWidth)
                .Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "deletePermission" lv="1" onclick="CheckRole(this)"
            @if (item.deletePermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var delidl1 = "del_" + item.MenuPath + item.ItemMenuID + "-";
            var delclassl1 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@delidl1" class = "@delclassl1"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
            ).HtmlAttributes(new { style = "text-align:center" });
        })
        .DetailView(detailViewLevel2 => detailViewLevel2.Template(m1 =>
        {
            {
                //region sub menu level 2
                {
                    Html.Telerik().Grid(m1.MenuChildren)
                          .Name("Level2_" + m1.ItemMenuID).Footer(false)
                          .Columns(columns =>
                          {
                              columns.Bound(m2 => m2.Text).Width(menuNameLevel2Width);
                              columns.Bound(m2 => m2.viewPermission).Width(permissionColumnWidth).Template(
        @<text>
    <label class="custom-checkbox p-l-0">
        <input type = "checkbox" name = "viewPermission" lv="2" onclick="CheckRole(this)"
                @if (item.viewPermission)
                {
                    <text>checked="checked"</text>
                }
                @{ 
                    var viewidl2 = "view_" + item.MenuPath + item.ItemMenuID + "-";
                    var viewclassl2 = "c" + item.MenuPath;
                    <text> value = "@item.ItemMenuID" id = "@viewidl2" class = "@viewclassl2" </text>
                }
            />
        <span class="checkmark"></span>
        </label>
        </text>
                                 ).Width(permissionColumnWidth).HtmlAttributes(new { style = "text-align:center" });
                              columns.Bound(m2 => m2.addPermission).Width(permissionColumnWidth).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "addPermission" lv="2" onclick="CheckRole(this)"
            @if (item.addPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var addidl2 = "add_" + item.MenuPath + item.ItemMenuID + "-";
            var addclassl2 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@addidl2" class = "@addclassl2"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                  ).Width(permissionColumnWidth).HtmlAttributes(new { style = "text-align:center" });
                              columns.Bound(m2 => m2.editPermission).Width(permissionColumnWidth).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "editPermission" lv="2" onclick="CheckRole(this)"
            @if (item.editPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var editidl2 = "edit_" + item.MenuPath + item.ItemMenuID + "-";
            var editclassl2 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@editidl2" class = "@editclassl2"</text>                        
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                  ).Width(permissionColumnWidth);
                              columns.Bound(m2 => m2.deletePermission).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "deletePermission" lv="2" onclick="CheckRole(this)"
            @if (item.deletePermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var delidl2 = "del_" + item.MenuPath + item.ItemMenuID + "-";
            var delclassl2 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@delidl2" class = "@delclassl2"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                  ).HtmlAttributes(new { style = "text-align:center" });
                          })
                           .DetailView(detailViewLevel3 => detailViewLevel3.Template(m2 =>
                           {
                               {
                                   // region level 3
                                   {
                                       Html.Telerik().Grid(m2.MenuChildren)
                                             .Name("Level3_" + m2.ItemMenuID).Footer(false)
                                             .Columns(columns =>
                                             {
                                                 columns.Bound(m3 => m3.Text).Width(menuNameLevel3Width);
                                                 columns.Bound(m3 => m3.viewPermission).Width(permissionColumnWidth).Template(
        @<text>
    <label class="custom-checkbox p-l-0">
        <input type = "checkbox" name = "viewPermission" lv="3" onclick="CheckRole(this)"
                @if (item.viewPermission)
                {
                    <text>checked="checked"</text>
                }
                @{ 
                    var viewidl3 = "view_" + item.MenuPath + item.ItemMenuID + "-";
                    var viewclassl3 = "c" + item.MenuPath;
                    <text> value = "@item.ItemMenuID" id = "@viewidl3" class = "@viewclassl3" </text>
                }
            />
        <span class="checkmark"></span>
        </label>
        </text>
                                                     );
                                                 columns.Bound(m3 => m3.addPermission).Width(permissionColumnWidth).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "addPermission" lv="3" onclick="CheckRole(this)"
            @if (item.addPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var addidl3 = "add_" + item.MenuPath + item.ItemMenuID + "-";
            var addclassl3 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@addidl3" class = "@addclassl3"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                                      );
                                                 columns.Bound(m3 => m3.editPermission).Width(permissionColumnWidth).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "editPermission" lv="3" onclick="CheckRole(this)"
            @if (item.editPermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var editidl3 = "edit_" + item.MenuPath + item.ItemMenuID + "-";
            var editclassl3 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@editidl3" class = "@editclassl3"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                                      );
                                                 columns.Bound(m3 => m3.deletePermission).Template(
        @<text>
        @if (item.IsCategory)
        {
            <label class="custom-checkbox p-l-0">
            <input type = "checkbox" name = "deletePermission" lv="3" onclick="CheckRole(this)"
            @if (item.deletePermission)
            {
                <text>checked="checked"</text>
            }
            @{ 
            var delidl3 = "del_" + item.MenuPath + item.ItemMenuID + "-";
            var delclassl3 = "c" + item.MenuPath;
                <text> value = "@item.ItemMenuID" id = "@delidl3" class = "@delclassl3"</text>
            }
        />
                <span class="checkmark"></span>
                </label>
        }
        </text>
                                                     );
                                             })
                                             .Render();
                                   }
                                   // endregion level 3
                               }
                           })).Render();
                }
                //end region sublevel2
            }
        }))
        .Render();
        <div class="vt-ResultPanel-Footer">
            <div class="vt-ResultPanel-Footer-Left">
            </div>
            <div class="vt-ResultPanel-Footer-Right">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-save")
                @Html.ViettelButton(Res.Get("Common_Button_Back"), "button", "smas.redirect('" + Url.Action("Index") + "');", "btn btn-round btn-basic")
            </div>
            <div class="Clear" />
        </div>
    }
    @(Html.Telerik().ScriptRegistrar()
        .DefaultGroup(group => group
            .Add("telerik.examples.js")
            .Compress(true))
            .OnDocumentReady(
            @<text> prettyPrint();
    </text>)
)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //ko hien thi cac header cua grid
        var array = $(".t-grid-header");
        for (var i = 1; i < array.length; i++) {
            $(array[i]).css('display', 'none');
        }
        var noRecordArray = $("table .t-no-data");
        for (var i = 0; i < array.length; i++) {
            $(noRecordArray[i]).css('display', 'none');
        }
        //hide "no records"
        //
        if ($(".t-master-row").length == 1) {
            $(".t-hierarchy-cell .t-icon").css("visibility", "hidden");
        }
        $("table .t-no-data").remove();

        var emptyBody = $("tr,tbody,.t-detail-row");
        for (var i = 0; i < emptyBody.length; i++) {
            if ($(emptyBody[i]).is(":empty")) {
                $(emptyBody[i]).parents("tr").first().empty();
            }
        }

        setTimeout(function () {
            OnLoadStateRoleCheckbox();
        }, 200);



    });


    function OnLoadStateRoleCheckbox() {
        //set indeterminate state for role checkbox
        $("input[type='checkbox']").each(function () {
            if ($(this).attr("lv") == "1") {
                var totalLevel3 = 0;
                var totalcheckLevel3 = 0;
                var idLevel1 = $(this).attr("id");
                $("input[type='checkbox'][lv='3']").each(function () {
                    if ($(this).attr("id").indexOf(idLevel1) != -1) {
                        totalLevel3++;
                        if ($(this).attr("checked") == "checked") {
                            totalcheckLevel3++;
                        }
                    }
                });
                if (totalcheckLevel3 > 0 && totalLevel3 > totalcheckLevel3) {
                    $(this).prop({
                        indeterminate: true
                    });
                }
            }
            if ($(this).attr("lv") == "2") {
                var totalLevel3 = 0;
                var totalcheckLevel3 = 0;
                var idLevel2 = $(this).attr("id"); ;
                $("input[type='checkbox'][lv='3']").each(function () {
                    if ($(this).attr("id").indexOf(idLevel2) != -1) {
                        totalLevel3++;
                        if ($(this).attr("checked") == "checked") {
                            totalcheckLevel3++;
                        }

                    }
                });
                if (totalcheckLevel3 > 0 && totalLevel3 > totalcheckLevel3) {
                    $(this).prop({
                        indeterminate: true
                    });
                }
            }
        });

        //end set
    }

    //written by namdv3
    function CheckRole(obj) {
        //get id of role element 
        var id = $(obj).attr("id");
        var array = id.split("-");
        //get level of role
        var level = $(obj).attr("lv");
        //get type of role {view_; add_; edit_; del_}
        var type = array[0];
        //get current state of item
        var checked = $(obj).prop("checked");
        var typeInput = "";
        if (type == "view_") {
            typeInput = "viewPermission";
        }
        else if (type == "add_") {
            typeInput = "addPermission";
        }
        else if (type == "edit_") {
            typeInput = "editPermission";
        }
        else if (type == "del_") {
            typeInput = "deletePermission";
        }
        //neu tich vao level 1
        if (level == "1") {
            //set checked and indeterminate for this element
            if (checked == true) {
                $(obj).prop({
                    indeterminate: false,
                    checked: checked
                });
            }
            else {
                $(obj).prop({
                    indeterminate: false,
                    checked: checked
                });
            }
            //get children role
            $("input[name='" + typeInput + "']").each(function () {
                if ($(this).attr("id").indexOf(id) != -1) {
                    if (checked == true) {
                        $(this).prop({
                            indeterminate: false,
                            checked: checked
                        });
                    }
                    else {
                        $(this).prop({
                            indeterminate: false,
                            checked: checked
                        });
                    }
                }
            });

        }
        //neu tich vao level 2
        else if (level == "2") {
            //get parent-1 ID
            var parentId = array[0] + "-" + array[1] + "-";
            //get children role
            $("input[name='" + typeInput + "'][lv='3']").each(function () {
                if ($(this).attr("id").indexOf(id) != -1) {
                    if (checked == true) {
                        $(this).prop({
                            indeterminate: false,
                            checked: checked
                        });
                    }
                    else {
                        $(this).prop({
                            indeterminate: false,
                            checked: checked
                        });
                    }
                }
            });
            var numberCheck = 0;
            var numberTotal = 0;
            var numberNotCheck = 0;
            $("input[name='" + typeInput + "']").each(function () {
                if ($(this).attr("id").indexOf(parentId) != -1 && $(this).attr("id") != parentId) {
                    numberTotal++;
                    if ($(this).attr("checked") == "checked") {
                        numberCheck++;
                    }
                    else {
                        numberNotCheck++;
                    }
                }
            });
            //Có role ko dc check
            if (numberNotCheck > 0) {
                //và co role dc check
                if (numberCheck > 0) {
                    $("#" + parentId).prop({
                        indeterminate: true,
                        checked: true
                    });
                }
                //neu ko co role nao dc check
                else if (numberNotCheck == numberTotal) {
                    $("#" + parentId).prop({
                        indeterminate: false,
                        checked: false
                    });
                }
            }
            //neu tat ca role dc check
            else {
                $("#" + parentId).prop({
                    indeterminate: false,
                    checked: true
                });
            }
        }
        //neu tich vao level 3
        else if (level == "3") {
            //get parent-1 ID
            var parentId = array[0] + "-" + array[1] + "-";
            //get parent-2 ID
            var parentId2 = array[0] + "-" + array[1] + "-" + array[2] + "-";
            //kiem tra xem tat ca cac role cung cap co dc check khong
            var numberCheckLelvel3 = 0;
            var numberTotalLelvel3 = 0;
            var numberNotCheckLelvel3 = 0;
            $("input[name='" + typeInput + "']").each(function () {
                if ($(this).attr("id").indexOf(parentId2) != -1 && $(this).attr("id") != parentId2) {
                    numberTotalLelvel3++;
                    if ($(this).attr("checked") == "checked") {
                        numberCheckLelvel3++;
                    }
                    else {
                        numberNotCheckLelvel3++;
                    }
                }
            });
            //Level 3
            //Có role ko dc check 
            if (numberNotCheckLelvel3 > 0) {
                //và co role dc check
                if (numberCheckLelvel3 > 0) {
                    $("#" + parentId2).prop({
                        indeterminate: true,
                        checked: $("#" + parentId2).attr("checked")
                    });
                }
                //neu ko co role nao dc check
                else if (numberNotCheckLelvel3 == numberTotalLelvel3) {
                    $("#" + parentId2).prop({
                        indeterminate: false,
                        checked: false
                    });
                }
            }
            //neu tat ca role dc check
            else {
                $("#" + parentId2).prop({
                    indeterminate: false,
                    checked: true
                });
            }
            //End level 3

            //Level2
            var numberCheck = 0;
            var numberTotal = 0;
            var numberNotCheck = 0;
            $("input[name='" + typeInput + "']").each(function () {
                if ($(this).attr("id").indexOf(parentId) != -1 && $(this).attr("id") != parentId) {
                    numberTotal++;
                    if ($(this).attr("checked") == "checked") {
                        numberCheck++;
                    }
                    else {
                        numberNotCheck++;
                    }
                }
            });
            //Có role ko dc check
            if (numberNotCheck > 0) {
                //và co role dc check
                if (numberCheck > 0) {
                    $("#" + parentId).prop({
                        indeterminate: true,
                        checked: true
                    });
                }
                //neu ko co role nao dc check
                else if (numberNotCheck == numberTotal) {
                    $("#" + parentId).prop({
                        indeterminate: false,
                        checked: false
                    });
                }
            }
            //neu tat ca role dc check
            else {
                $("#" + parentId).prop({
                    indeterminate: false,
                    checked: true
                });
            }
            //End Level2
        }
        if (checked == true) {
            if (type == "add_") {
                var id_view = id.toString().replace("add_", "view_");
                $("#" + id_view).prop({
                    checked: checked
                });
                CheckRole($("#" + id_view));
            }
            else if (type == "edit_") {
                var id_add = id.toString().replace("edit_", "add_");
                $("#" + id_add).prop({
                    checked: checked
                });
                var id_view = id.toString().replace("edit_", "view_");
                $("#" + id_view).prop({
                    checked: checked
                });
                CheckRole($("#" + id_add));
                CheckRole($("#" + id_view));
            }
            else if (type == "del_") {
                var id_add = id.toString().replace("del_", "add_");
                $("#" + id_add).prop({
                    checked: checked
                });
                var id_view = id.toString().replace("del_", "view_");
                $("#" + id_view).prop({
                    checked: checked
                });
                var id_edit = id.toString().replace("del_", "edit_");
                $("#" + id_edit).prop({
                    checked: checked
                });
                CheckRole($("#" + id_add));
                CheckRole($("#" + id_view));
                CheckRole($("#" + id_edit));
            }
        }
        else {
            if (type == "view_") {
                if (checked == false) {
                    var id_add = id.toString().replace("view_", "add_");
                    var id_edit = id.toString().replace("view_", "edit_");
                    var id_del = id.toString().replace("view_", "del_");
                    if ($("#" + id_add).attr("id") != undefined && $("#" + id_edit).attr("id") != undefined && $("#" + id_del).attr("id") != undefined) {
                        $("#" + id_add).prop({
                            checked: checked
                        });
                        $("#" + id_edit).prop({
                            checked: checked
                        });
                        $("#" + id_del).prop({
                            checked: checked
                        });
                        CheckRole($("#" + id_add));
                        CheckRole($("#" + id_edit));
                        CheckRole($("#" + id_del));
                    }
                }
            }
            else if (type == "add_") {
                var id_edit = id.toString().replace("add_", "edit_");
                var id_del = id.toString().replace("add_", "del_");
                $("#" + id_edit).prop({
                    checked: checked
                });
                $("#" + id_del).prop({
                    checked: checked
                });
                CheckRole($("#" + id_edit));
                CheckRole($("#" + id_del));
            }
            else if (type == "edit_") {
                var id_del = id.toString().replace("edit_", "del_");
                $("#" + id_del).prop({
                    checked: checked
                });
                CheckRole($("#" + id_del));
            }
        }
    }
</script>
