﻿@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Com.Viettel.Framework.HtmlHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    BaseController baseControl = new BaseController();
    GlobalInfo globalinfo = new GlobalInfo();
    string url = System.Configuration.ConfigurationManager.AppSettings["KEY_MENU_VNEN_REPORT"];
    List<MenuExamination> listMenu = baseControl.GetSubMenu(globalinfo.UserAccountID, globalinfo.IsAdmin, url);
}
<div class="GroupContentSection">
    <!--Tiêu đề menu trái-->
    <div class="SideBarTopMenu">
        <div class="SideBarBtmMenu">
            <div class="SideBarLoopMenu">
                <div>
                  <input class="text-box single-line" id="reportFilter" type="text" value="" placeholder="Nhập tên báo cáo">
                </div>
                <ul class="ResetList SideBarListMenu">
                       @{   
                        for (int i = 0; i < listMenu.Count; i++)
                        {
                           <li><a href="@listMenu[i].LinkMenu&Pro=@(i+1)">@listMenu[i].MenuName</a></li>
                        }            
                    }
                </ul>
            </div>
        </div>
    </div>

    <!--Hết Tiêu đề menu trái-->
    <div class="MainContentSectionRight">
        <div class="ContentSectionSmallTop">
            <div class="ContentSectionSmallBtm">
                <div class="ContentSectionSmallLoop ContentSectionSmallLoop2">
                    <div class="ContentForm">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".SideBarListMenu li a").first().addClass("Active");

        $(".Breadcrum .BreadcrumList .EndItem span").addClass("Sprite1");

        if ($(".SideBarListMenu li").length > 0) {
            var firstUrl = $(".SideBarListMenu li a").first().attr("href");

            ajaxPostUpdateDiv(firstUrl, null, "ContentForm", function () { $("#reportFilter").focus(); })
        }
           // var objLi = "<li class='EndItem'><span>" + $(".SideBarListMenu li a").first().html() + "</span></li>";
          //  $(".Breadcrum .BreadcrumList").append(objLi);
        
    });

    $(".SideBarListMenu li a").click(function (e) {
        e.preventDefault();
        $(".SideBarListMenu li a").removeClass("Active");
        var url = $(this).attr("href");
        $(this).addClass("Active");
        ajaxPostUpdateDiv(url, null, "ContentForm", null)
    });

    $("#reportFilter").keyup(function () {
        var name = $(this).val().toLowerCase().trim();
        $("ul.SideBarListMenu").find("li").hide();
        $("ul.SideBarListMenu").find("li").each(function () {
            if ($(this).text().toLowerCase().indexOf(name) >= 0) {
                $(this).show();
            }
        });
    });

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            complete: function () {
                smas.hideProcessingDialog();
            },
            success: function (data) {
                $("." + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    }
</script>