﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.InputExaminationMarkArea.Models
@using SMAS.Web.Areas.InputExaminationMarkArea
@using SMAS.Business.BusinessObject

@using (Ajax.BeginForm("UpdateMark",
                       "InputExaminationMark",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{

    @Html.AntiForgeryToken();

                            GlobalInfo glo = new GlobalInfo();

                            string fnKeyUp = string.Empty;
                            string fnChange = string.Empty;

                            bool isImportPanel = (bool)ViewData[InputExaminationMarkConstants.IS_IMPORT_PANEL];

                            var intmark = (int)ViewData[InputExaminationMarkConstants.INT_MARK_TYPE];
                            if (intmark != null)
                            {
                                if (intmark == 0)
                                {
                                    if (glo.AppliedLevel.Value == 1)
                                    {
                                        fnKeyUp = "numberUtils.FilterMarkForPrimary(this.value)";
                                        fnChange = "UpdateRealMarkForPrimary";
                                    }
                                    else if (glo.AppliedLevel.Value == 2 || glo.AppliedLevel.Value == 3)
                                    {
                                        fnKeyUp = "numberUtils.FilterMarkForSecondary(this.value)";
                                        fnChange = "UpdateRealMarkForSecondary";
                                    }
                                }
                                else
                                {
                                    if (glo.AppliedLevel.Value == 1)
                                    {
                                        fnKeyUp = "FilterMarkForPrimaryCommenting(event, this)";
                                        fnChange = "UpdateRealMarkForPrimary";
                                        <text>
                                            <p style="color: Red; font-style: italic">@Res.Get("InputExaminationMark_Label_MarkCommentingPrimary")</p></text>
                                    }
                                    else if (glo.AppliedLevel.Value == 2 || glo.AppliedLevel.Value == 3)
                                    {
                                        fnKeyUp = "FilterMarkForSecondaryCommenting(event, this)";
                                        fnChange = "UpdateRealMarkForSecondary";
                                        <text><p style="color: Red; font-style: italic">@Res.Get("InputExaminationMark_Label_MarkCommentingSecondary")</p></text>
                                    }
                                }
                            }
                            int index = 1;
                            int row = 0;
                            int col = 0;
                            Html.Telerik()
                                .Grid((IEnumerable<CandidateGridViewModel>)ViewData[InputExaminationMarkConstants.LIST_GRID_DATA])
                                .Name("GridViolatedInvigilator")
                                .Columns(c =>
                                {
                                    c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                                    c.Bound(o => o.DetachableHeadNumber).Title(Res.Get("InputExaminationMark_Label_DetachableHeadNumber")).Width(200);
                                    c.Template(@<text>
                                        @{
                                            if (!item.IsDisable)
                                            {
                                                <input type="text" name="@("ExamMark_" + item.CandidateID)" 
                                                    value="@item.ExamMark" ref="@(isImportPanel ? "import" : "input")"
                                                    onkeyup="this.value = @fnKeyUp" 
                                                    onblur="@(fnChange + "(this.value, " + ((int)ViewData[InputExaminationMarkConstants.INT_MARK_TYPE] == 0 ? "0," : "1,") + (item.PenaltyMarkPercent.HasValue ? item.PenaltyMarkPercent.Value : 0) + ", " + item.CandidateID + ", '" + (isImportPanel ? "import" : "input") + "')")" 
                                                    data-grid = "luoinhapdiem" @*Cac thuoc tinh dung de xu ly khi nguoi dung nhan cac phim mui ten*@
                                                    data-grid-row = "@row" @*Cac thuoc tinh dung de xu ly khi nguoi dung nhan cac phim mui ten*@
                                                    data-grid-col = "@col" @*Cac thuoc tinh dung de xu ly khi nguoi dung nhan cac phim mui ten*@
                                                    candidateid="@item.CandidateID" />
                                                row++;
                                            }
                                            else
                                            {
                                                @item.DisplayMark
                                            }
                                        }
                                    </text>).Title(Res.Get("InputExaminationMark_Label_ExamMark")).Width(200);

                                    c.Template(@<text> <span id="@("RealMarkValue_" + @item.CandidateID)" ref="@(isImportPanel ? "import" : "input")">@item.RealMark</span>
                                    </text>).Title(Res.Get("InputExaminationMark_Label_RealMark")).Width(150);

                                    if (isImportPanel)
                                    {
                                        c.Bound(u => u.ErrorReason).Title(Res.Get("InputExaminationMark_Label_ErrorReason"));
                                    }
                                    c.Template(@<text>
                                        <input type="checkbox" name="Candidates" value="@item.CandidateID" ref="@(isImportPanel ? "import" : "input")" @(item.IsCheck ? "checked ='checked'" : "") @(item.IsDisable ? "disabled ='disabled'" : "") onclick="fn_CandidatesClick(this, '@(isImportPanel ? "import" : "input")')" />
                                    </text>).HtmlAttributes(new { style = "text-align:center" }).HeaderTemplate(@<text>
                                        <input type="checkbox" id="CandidateCheckAll" onclick="fn_CandidateCheckAllClick(this, '@(isImportPanel ? "import" : "input")')" />
                                    </text>).Width(40);
                                })
        .DataBinding(u => u.Ajax().OperationMode(GridOperationMode.Client))
        .DataKeys(keys => keys.Add(o => o.CandidateID))
        .Scrollable(u => u.Enabled(true).Height(500))
        .Render();
        <input type="hidden" name="hddExaminationSubjectID" value="@ViewData[InputExaminationMarkConstants.INT_EXAMINATION_SUBJECT_ID]" />
        <div class="vt-ResultPanel-Footer">
            <div class="vt-ResultPanel-Footer-Center">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), new Dictionary<string, object>() { { "name", "save" } }, "submit", "return validateInputMarkForm('" + (isImportPanel ? "import" : "input") + "', " + ((int)ViewData[InputExaminationMarkConstants.INT_MARK_TYPE]) + ")")
                @Html.ViettelButton(Res.Get("Common_Button_Delete"), new Dictionary<string, object>() { { "name", "delete" } }, "submit", "return confirm('" + Res.Get("DeleteMsgRK") + "')")
            </div>
            <div class="Clear">
            </div>
        </div>
}
