﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.ConfigDataLockArea.Models
@using SMAS.Web.Areas.ConfigDataLockArea
@using SMAS.Business.Common

@{
    
    List<DataLockViewModel> lstResult = new List<DataLockViewModel>();
    if (ViewData[ConfigDataLockConstant.LIST_DATA_LOCK] != null)
    {
        lstResult = (List<DataLockViewModel>)ViewData[ConfigDataLockConstant.LIST_DATA_LOCK];
    }

    List<MonthInYear> lstMonthHK1 = new List<MonthInYear>();
    if (ViewData[ConfigDataLockConstant.LIST_MONTH_HK1] != null)
    {
        lstMonthHK1 = (List<MonthInYear>)ViewData[ConfigDataLockConstant.LIST_MONTH_HK1];
    }

    List<MonthInYear> lstMonthHK2 = new List<MonthInYear>();
    if (ViewData[ConfigDataLockConstant.LIST_MONTH_HK2] != null)
    {
        lstMonthHK2 = (List<MonthInYear>)ViewData[ConfigDataLockConstant.LIST_MONTH_HK2];
    }

    List<MonthLocked> lstMonthLocked_HK1 = new List<MonthLocked>();
    List<MonthLocked> lstMonthLocked_HK2 = new List<MonthLocked>();

    int widthColumnHK1 = (lstMonthHK1.Count() + 3) * 50;
    int widthColumnHK2 = (lstMonthHK2.Count() + 3) * 50;
    
    if (lstResult.Count() > 0)
    {   
        foreach(var item in lstResult)
        {
            var lst1 = item.ListMonthLocked.Where(x => x.Semeter == 1 && x.SubjectID == item.SubjectID).ToList();
            lstMonthLocked_HK1.AddRange(lst1);
            
            var lst2 = item.ListMonthLocked.Where(x => x.Semeter == 2 && x.SubjectID == item.SubjectID).ToList();
            lstMonthLocked_HK2.AddRange(lst2);
        }
    }

    var index = 1;
    Html.Telerik().Grid(lstResult).Name("GridDataLock").Columns(c =>
    {
        // STT
        c.Template(@<text>@{@index ; index++;}</text>)
            .Title(Res.Get("Common_Index_Number"))
            .HtmlAttributes(new { style = "text-align:center" })
            .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } })
            .Width(40);
        // Môn học
        c.Template(@<text>@{<span style="padding-left: 3px">@item.SubjectName</span>}</text>)
            .Title(Res.Get("ApprenticeshipSubject_Label_SubjectName"))
            .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } })
            .Width(120);

        c.Template(@<text>@{
            <table id="content-table-config-data-lock-HK1">
                <tr>
                    @foreach (var itemHK1 in lstMonthHK1)
                    {
                        var objcheck = lstMonthLocked_HK1.Where(x => x.SubjectID == item.SubjectID
                            && x.MonthCheck == itemHK1.MonthName
                            && x.ValueCheck == 1).FirstOrDefault();
                        
                        <td class="style-center">
                            <label class="custom-checkbox p-l-0">
                                <input type="checkbox" name="@(string.Format("checkHK1_{0}_{1}", itemHK1.MonthName, item.SubjectID))"
                                    onchange="OnclickHK1(this, '@(itemHK1.MonthName)');" id="@(string.Format("checkHK1_{0}_{1}", itemHK1.MonthName, item.SubjectID))" 
                                    @(objcheck != null ? "checked" : "")/>
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    }

                     <td class="style-center">
                         <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckCHK1 == 1 ? "checked" : "") name="@("checkHK1Late_" + item.SubjectID)" onchange="OnclickHK1Late(this);"/>
                            <span class="checkmark"></span>
                         </label>
                    </td>
                </tr>
            </table>}</text>)
            .HeaderTemplate(@<text>@{
                <table id="header-table-config-data-lock-HK1">
                    <tr>
                        <td colspan="@(lstMonthHK1.Count() + 1)" style="text-align: center;height:30px">@Res.Get("Comment_HK1")</td>
                    </tr>
                    <tr>
                        @foreach (var itemHK1 in lstMonthHK1)
                        {                           
                            <td class="style-center">
                                <div class="style-center">
                                    <span>@itemHK1.MonthName</span>
                                </div>
                                <div class="style-center">
                                    <label class="custom-checkbox p-l-0">
                                        <input onchange="OnclickAllHK1(this, '@(itemHK1.MonthName)');" type="checkbox" id="@("checkAllHK1_" + itemHK1.MonthName)"
                                                name="@("checkAllHK1_" + itemHK1.MonthName)"/>
                                        <span class="checkmark">&nbsp;</span>
                                    </label>
                                </div>
                            </td>
                        }
                        <td class="style-center" style="border-right:none !important">
                           <div class="style-center">
                               <span>Cuối HK</span>
                           </div>
                           <div class="style-center">
                               <label class="custom-checkbox p-l-0">
                                   <input onchange="OnclickAllHK1Late(this);" type="checkbox" id="@("checkAllHK1Late")"
                                                name="@("checkAllHK1Late")"/>
                                   <span class="checkmark">&nbsp;</span>
                               </label>
                           </div>
                       </td>
                    </tr>
                </table>
            }</text>)
            .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } })
            .Width(widthColumnHK1);

        c.Template(@<text>@{
            <table id="content-table-config-data-lock-HK2">
                <tr>
                    @{
                        foreach (var itemHK2 in lstMonthHK2)
                        {
                            var objcheck = lstMonthLocked_HK2.Where(x => x.SubjectID == item.SubjectID
                           && x.MonthCheck == itemHK2.MonthName
                           && x.ValueCheck == 1).FirstOrDefault();
                            <td class="style-center">
                                <label class="custom-checkbox p-l-0">
                                    <input type="checkbox" name="@(string.Format("checkHK2_{0}_{1}", itemHK2.MonthName, item.SubjectID))"
                                            onchange="OnclickHK2(this, '@(itemHK2.MonthName)');" 
                                        id="@(string.Format("checkHK2_{0}_{1}", itemHK2.MonthName, item.SubjectID))" 
                                        @(objcheck != null? "checked" : "") />
                                    <span class="checkmark">&nbsp;</span>
                               </label>
                            </td>
                    }}

                    <td class="style-center">
                        <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckCHK2 == 1 ? "checked" : "") name="@("checkHK2Late_" + item.SubjectID)" onchange="OnclickHK2Late(this);" />
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </td>
                </tr>
            </table>}</text>)
       .HeaderTemplate(@<text>@{
           <table id="header-table-config-data-lock-HK2">
               <tr>
                   <td colspan="@(lstMonthHK2.Count() + 1 )" style="text-align: center; height: 30px">@Res.Get("Comment_HK2")</td>
               </tr>
               <tr>
                   @foreach (var itemHK2 in lstMonthHK2)
                   {
                             
                       <td class="style-center">
                           <div class="style-center">
                               <span>@itemHK2.MonthName</span>
                           </div>
                           <div class="style-center">
                                <label class="custom-checkbox p-l-0">
                                    <input onchange="OnclickAllHK2(this, '@(itemHK2.MonthName)');" type="checkbox" id="@("checkAllHK2_" + itemHK2.MonthName)"
                                                name="@("checkAllHK2_" + itemHK2.MonthName)"/>
                                    <span class="checkmark">&nbsp;</span>
                                </label>
                           </div>
                       </td>
                   }

                   <td class="style-center" style="border-right:none !important">
                           <div class="style-center">
                               <span>Cuối HK</span>
                           </div>
                           <div class="style-center">
                               <label class="custom-checkbox p-l-0">
                                   <input onchange="OnclickAllHK2Late(this);" type="checkbox" id="@("checkAllHK2Late")"
                                                name="@("checkAllHK2Late")"/>
                                   <span class="checkmark">&nbsp;</span>
                                </label>
                           </div>
                       </td>
               </tr>
           </table>
       }</text>)
       .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } })
       .Width(widthColumnHK2);


        c.Template(@<text>@{
            <table id="content-table-config-data-lock-diem-ktdk">
                <tr>
                    <td class="style-center">
                        <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckDKGK1 == true ? "checked" : "") name="@("checkDKGK1_" + item.SubjectID)" onchange="Onclick_DKGK1(this);"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </td>
                    <td class="style-center">
                        <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckDKCK1 == true ? "checked" : "") name="@("checkDKCK1_" + item.SubjectID)" onchange="Onclick_DKCK1(this);"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </td>
                    <td class="style-center">
                        <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckDKGK2 == true ? "checked" : "") name="@("checkDKGK2_" + item.SubjectID)" onchange="Onclick_DKGK2(this);"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </td>
                    <td class="style-center">
                        <label class="custom-checkbox p-l-0">
                            <input type="checkbox" @(item.ValueCheckDKCK2 == true ? "checked" : "") name="@("checkDKCK2_" + item.SubjectID)" onchange="Onclick_DKCK2(this);"/>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </td>
                </tr>
            </table>}</text>)
       .HeaderTemplate(@<text>@{
           <table id="header-table-config-data-lock-diem-ktdk">
               <tr>
                   <td colspan="4" style="text-align: center; height: 30px">@Res.Get("Point_Regular_Check") </td>
               </tr>
               <tr>
                   <td class="style-center">
                       <div class="style-center">
                           <span>GK I</span>
                       </div>
                       <div class="style-center">
                            <label class="custom-checkbox p-l-0">
                                <input type="checkbox" name="checkAllDKGK1" onchange="OnclickAll_DKGK1(this);" />
                                <span class="checkmark">&nbsp;</span>
                            </label>
                       </div>

                   </td>
                   <td class="style-center">
                       <div class="style-center">
                           <span>CK I</span>
                       </div>
                       <div class="style-center">
                            <label class="custom-checkbox p-l-0">
                                <input type="checkbox" name="checkAllDKCK1" onchange="OnclickAll_DKCK1(this);" />
                                <span class="checkmark">&nbsp;</span>
                            </label>
                       </div>
                   </td>
                   <td class="style-center">
                       <div class="style-center">
                           <span>GK II</span>
                       </div>
                       <div class="style-center">
                            <label class="custom-checkbox p-l-0">
                                <input type="checkbox" name="checkAllDKGK2" onchange="OnclickAll_DKGK2(this);" />
                                <span class="checkmark">&nbsp;</span>
                            </label>
                       </div>
                   </td>
                   <td class="style-center" style="border-right:none !important">
                       <div class="style-center">
                           <span>CK II</span>
                       </div>
                       <div class="style-center">
                            <label class="custom-checkbox p-l-0">
                                <input type="checkbox" name="checkAllDKCK2" onchange="OnclickAll_DKCK2(this);" />
                                <span class="checkmark">&nbsp;</span>
                            </label>
                       </div>
                   </td>
               </tr>
           </table>
       }</text>)
       .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } })
       .Width(220);

    }).Scrollable(p => p.Height(200)).Footer(false).Render();    
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@lstResult.Count()' > 0) {
            AutoCheckAllMonthHK1();
            AutoCheckAllMonthHK2();
            AutoCheckAllHK1Late();
            AutoCheckAllHK2Late();
            AutoCheckAllKTDKGK1();
            AutoCheckAllKTDKCK1();
            AutoCheckAllKTDKGK2();
            AutoCheckAllKTDKCK2();
        }
    });

    function AutoCheckAllKTDKGK1() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
            var _count = 0;
            $('#GridDataLock').find('input[name^="checkDKGK1_"]').each(function () {
                if ($(this).is(':checked')) {
                    _count++;
                }
            });

            if (_count == '@lstResult.Count()') {
                $('#GridDataLock').find('input[name="checkAllDKGK1"]').attr('checked', true);
                    }
                }</text>
            }
            
         }
    }

    function AutoCheckAllKTDKCK1() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
            var _count = 0;
            $('#GridDataLock').find('input[name^="checkDKCK1_"]').each(function () {
                if ($(this).is(':checked')) {
                    _count++;
                }
            });

            if (_count == '@lstResult.Count()') {
                $('#GridDataLock').find('input[name="checkAllDKCK1"]').attr('checked', true);
            }
        }</text>
            }
            
         }
    }

    function AutoCheckAllKTDKGK2() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
            var _count = 0;
            $('#GridDataLock').find('input[name^="checkDKGK2_"]').each(function () {
                if ($(this).is(':checked')) {
                    _count++;
                }
            });

            if (_count == '@lstResult.Count()') {
                $('#GridDataLock').find('input[name="checkAllDKGK2"]').attr('checked', true);
            }
        }</text>
            }
            
         }
    }

    function AutoCheckAllKTDKCK2() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
            var _count = 0;
            $('#GridDataLock').find('input[name^="checkDKCK2_"]').each(function () {
                if ($(this).is(':checked')) {
                    _count++;
                }
            });

            if (_count == '@lstResult.Count()') {
                $('#GridDataLock').find('input[name="checkAllDKCK2"]').attr('checked', true);
            }
        }</text>
            }
            
         }
    }

    function AutoCheckAllMonthHK1() {
        @{
            foreach (var item in lstMonthHK1)
            {
                var month = item.MonthName;
                <text>
                {
                    var _count = 0;
                    var txt = "checkHK1_" + '@month' + "_";
                    var _input = 'input[id^="' + txt + '"]';

                    $('#GridDataLock').find(_input).each(function () {
                        if ($(this).is(':checked')) {
                            _count++;
                        }
                    });

                    if (_count == '@lstResult.Count()') {
                        var txtAll = "checkAllHK1_" + '@month' + "";
                         var _inputAll = 'input[id="' + txtAll + '"]';
                         $('#GridDataLock').find(_inputAll).attr('checked', true);
                     }
                }</text>
            }
            
         }
    }

    function AutoCheckAllHK1Late() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
                    var _count = 0;
                    $('#GridDataLock').find('input[name^="checkHK1Late_"]').each(function () {
                        if ($(this).is(':checked')) {
                            _count++;
                        }
                    });
                    
                    if (_count == '@lstResult.Count()') {
                        $('#GridDataLock').find('input[name="checkAllHK1Late"]').attr('checked', true);
                    }
                }</text>
            }
            
         }
    }

    function AutoCheckAllMonthHK2()
    {
        @{
            foreach (var item in lstMonthHK2)
            {
                var month = item.MonthName;
                <text> {
                    var _count = 0;
                    var txt = "checkHK2_" + '@month' + "_";
                    var _input = 'input[id^="' + txt + '"]';

                    $('#GridDataLock').find(_input).each(function () {
                        if ($(this).is(':checked')) {
                            _count++;
                        }
                    });

                    if (_count == '@lstResult.Count()') {
                        var txtAll = "checkAllHK2_" + '@month' + "";
                        var _inputAll = 'input[id="' + txtAll + '"]';
                        $('#GridDataLock').find(_inputAll).attr('checked', true);
                    }
                }</text>
            }          
         }
    }

    function AutoCheckAllHK2Late() {
        @{
            foreach (var item in lstResult)
            {
                <text> {
            var _count = 0;
            $('#GridDataLock').find('input[name^="checkHK2Late_"]').each(function () {
                if ($(this).is(':checked')) {
                    _count++;
                }
            });

            if (_count == '@lstResult.Count()') {
                        $('#GridDataLock').find('input[name="checkAllHK2Late"]').attr('checked', true);
                    }
                }</text>
            }
            
         }
    }
</script>
