﻿@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Lĩnh vực đánh giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
<div id="lstResult"></div>

<div style="display:none">
    <input type="hidden" id="evalID"/>
</div>

@(Html.Telerik().Window().Name("CreateEval").Title("Thêm mới lĩnh vực đánh giá")
                .Content(@<text><div id="divCreateEval" class="eval-dev-group-create"></div></text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(700).Height(320).ContentHtmlAttributes(new { style = "min-width: 700px;" })
)

@(Html.Telerik().Window().Name("EditEval").Title("Cập nhật lĩnh vực đánh giá")
                .Content(@<text><div id="divEditEval" class="eval-dev-group-edit"></div></text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(700).Height(340).ContentHtmlAttributes(new { style = "min-width: 700px;" })
)

@(Html.Telerik().Window()
                .Name("ConfirmDelete")
                .Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmDelete")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700))

<script>
   
    $(document).ready(function () {
        var showOrder = false;
        LoadData(showOrder);
    });

    function LoadData(showOrder) {
        var eduId = $('#frmSeach #EducationLevelID').val();
        var provinceId = $('#frmSeach #ProvinceID').val();
        var statusId = $('#frmSeach #StatusID').val();
        var evaluaCode = $('#frmSeach #evalDevelopementGroCode').val();
        var evaluaName = $('#frmSeach #evalDevelopementGroName').val();

        $.ajax({
            url: '@Url.Action("Search", "EvaluationDevelopmentGroup")',
            type: 'post',
            data: {
                eduId: eduId,
                provinceId: provinceId,
                statusId: statusId,
                evaluaCode: evaluaCode,
                evaluaName: evaluaName,
                showOrder: showOrder,
            },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                $('#lstResult').html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }


</script>
