﻿@model ProvinceViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ProvinceArea.Models
@using (Ajax.BeginForm("Detail",
                       "Province",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           //OnSuccess = "DetailSuccess",
                           //OnFailure = "DetailFail"
                       },
                       new { id = "frmDetail" }
                       ))
{
        @Html.AntiForgeryToken()
    <div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.ViettelDetailFor(o => o.ProvinceName)
            @Html.ViettelDetailFor(o => o.ProvinceCode)
            @Html.ViettelDetailFor(o => o.ShortName)
            @Html.ViettelDetailFor(o => o.Description)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('detailDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}
