﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.StatisticalSemesterMarkOfPrimarySchoolArea.Models
@using SMAS.Web.Areas.StatisticalSemesterMarkOfPrimarySchoolArea
@using SMAS.VTUtils.HtmlHelpers

@{
    ViewBag.Title = Res.Get("StatisticalSemesterMarkOfPrimarySchool_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
</fieldset>
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="GridPanel">
 @Html.Partial("_List")
</div>