﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Business.Common
@using SMAS.Web.Areas.DOETStatisticDataSecondaryArea
@using SMAS.Web.Areas.DOETStatisticDataSecondaryArea.Models
@model SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int semester = (int)ViewData[DOETStatisticDataSecondaryConstants.CURRENT_SEMESTER];
    using (Html.BeginForm("ExportExcel", "DOETStatisticDataSecondary", FormMethod.Post, new { id = "frmStatisticSecondary" }))
            {
        <div class="vt-SearchPanel vt-InfoPanel doet-statistic-data-page">
                <div class="vt-SearchPanel-Title">Tiêu chí báo cáo</div>
                <div class="vt-SearchPanel-Content">
                    <div>
                        <div id="Report">
                            <fieldset>
                               <legend>Loại báo cáo</legend>
                                @Html.ViettelRadioBox("ReportType", "", new Dictionary<string, object> { { "onchange", "ReportTypeChange(this)" } }, (List<ViettelCheckboxList>)ViewData[DOETStatisticDataSecondaryConstants.LIST_TYPESTATICS], false, true)
                           </fieldset>
                        </div>
                    </div>
                    <div>               
                           <fieldset>
                               <legend>Tiêu chí báo cáo</legend>
                               <div class="row">
                                   <div class="col-md-6">
                                        @Html.ViettelComboboxFor(u => u.AcademicYearID, Res.Get("AcademicYear_Label_Year"), (SelectList)ViewData[DOETStatisticDataSecondaryConstants.LIST_AcademicYear], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)        
                                   </div>
                                   <div class="col-md-6">
                                        @Html.ViettelComboboxFor(u => u.Semester, Res.Get("Common_Label_Semester"), (SelectList)ViewData[DOETStatisticDataSecondaryConstants.LIST_Semester], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
                                   </div>
                                   <div class="col-md-6">
                                        @Html.ViettelComboboxFor(u => u.EducationLevelID, Res.Get("ClassProfile_Control_EducationLevel"), (SelectList)ViewData[DOETStatisticDataSecondaryConstants.LIST_EducationLevel], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false)
                                   </div>
                               </div>
                           </fieldset>             
                    </div>
                    <div>
                        <fieldset>
                            <legend> Bổ sung tiêu chí</legend>    
                            <label class="custom-checkbox">
                                @Html.ViettelCheckBox("IsGenre") Học sinh nữ 
                                <span class="checkmark"></span>
                            </label>    
                            <label class="custom-checkbox">
                                @Html.ViettelCheckBox("IsEthnic") Học sinh dân tộc
                                <span class="checkmark"></span>
                            </label>  
                            <label class="custom-checkbox">
                                @Html.ViettelCheckBox("IsGenreEthnic") Học sinh nữ dân tộc
                                <span class="checkmark"></span>
                            </label>                      
                        </fieldset>
                    </div>
                    <span id="Message"></span>
                </div>
                
                <div class="vt-SearchPanel-Button">
                    <div class="vt-form-button">
                        @Html.ViettelButton("Tổng hợp mới", "button", "GeneralReport()", "btn btn-info btn-round","btnGeneral")
                        @Html.ViettelButton("Xuất excel", "submit", "", "btn btn-info btn-round btn-icon btn-icon-excel","btnExport")
                    </div>
                </div>

            </div>
    
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4 mg-t-10">
            <div class="vt-SearchPanel-Title">
                      @Res.Get("HTML_Pattern_Report")
            </div>
        </div>
        <div id="CapacityAllSchool" style="height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hoc_luc_THCS/SGD_THCS_ThongKeHocLuc_Khoi6_HK1.htm">
            </iframe>
        </div> 
        <div id="CapacityEdu" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hoc_luc_theo_khoi_THCS/SGD_THCS_ThongKeHocLucTheoKhoi_HK1.htm">
            </iframe>
        </div> 
       <div id="CapacityDistrict" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hoc_luc_theo_quan_huyen_THCS/SGD_THCS_ThongKeHocLucTheoQuanHuyen_HK1.htm">
            </iframe>
        </div> 
      <div id="ConductAllSchool" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hanh_kiem_THCS/Thong_ke_xep_loai_hanh_kiem.htm">
            </iframe>
        </div> 
        <div id="ConductEdu" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hanh_kiem_theo_khoi_THCS/SGD_THCS_ThongKeHanhKiemTheoKhoi_HK1.htm">
            </iframe>
        </div> 
       <div id="ConductDistrict" style="display:none;height:500px">
            <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Thong_ke_xep_loai_hanh_kiem_theo_quan_huyen_THCS/SGD_THCS_ThongKeHanhKiemTheoQuanHuyen_HK1.htm">
            </iframe>
        </div> 
}
    }
<script>
    var imageProcessing = '<img src="../../../../Content/images/smas_processing.gif" />';
    $(document).ready(function () {
        $("#IsGenre").removeAttr("checked");
        $("#IsEthnic").removeAttr("checked");
        $("#IsGenreEthnic").removeAttr("checked");
        $("input[name='ReportType']:first").attr("checked", "checked");
        $("#EducationLevelID").parent().parent().show();
        $("#CapacityAllSchool").show();

    });
    function ReportTypeChange(obj) {
        var valueReport = $(obj).val() * 1;
        if (valueReport == 1 || valueReport == 4) {
            $("#EducationLevelID").parent().parent().show();
        } else {
            $("#EducationLevelID").parent().parent().hide();
        }

        $("#IsGenre").removeAttr("checked");
        $("#IsEthnic").removeAttr("checked");
        $("#IsGenreEthnic").removeAttr("checked");
        ShowOrHideReportPatter(valueReport);
    }

    function GeneralReport() {
        var reportType = 0;
        $("input[name='ReportType']").each(function () {
            var ischeck = $(this).is(':checked');
            if (ischeck) {
                reportType = $(this).val() * 1;
            }
        });

        var data = new Object();
        data.ReportType = reportType;
        data.EducationLevelID = $("#EducationLevelID").val() * 1;        
        data.Semester = $("#Semester").val();
        data.Year = $("#AcademicYearID").val();
        data.IsGenre = $("#IsGenre").is(":checked");
        data.IsEthnic = $("#IsEthnic").is(":checked");
        data.IsGenreEthnic = $("#IsGenreEthnic").is(":checked");

        $.ajax({
            url: '@Url.Action("GeneralReport", "DOETStatisticDataSecondary")',
            type: 'post',
            data: data,
            beforeSend: function () {
                $('#Message').html("Báo cáo đang được tổng hợp" + imageProcessing);
                $("#btnGeneral").attr("disabled", "disabled");
                $("#btnExport").attr("disabled", "disabled");
            },
            success: function (data) {
                if (data.Type == "success") {
                    $('#Message').html("Báo cáo tổng hợp thành công.");
                    $("#btnGeneral").removeAttr("disabled");
                    $("#btnExport").removeAttr("disabled");
                } else {
                    $('#Message').html("Lỗi tổng hợp báo cáo xin F5 để thử lại.");
                    $("#btnGeneral").attr("disabled", "disabled");
                    $("#btnExport").attr("disabled", "disabled");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function ShowOrHideReportPatter(reportValue) {
        if (reportValue == 1) {
            $("#CapacityAllSchool").show();
            $("#CapacityEdu").hide();
            $("#CapacityDistrict").hide();            
            $("#ConductAllSchool").hide();
            $("#ConductEdu").hide();
            $("#ConductDistrict").hide();
        } else if (reportValue == 2) {
            $("#CapacityEdu").show();
            $("#CapacityAllSchool").hide();
            $("#CapacityDistrict").hide();            
            $("#ConductAllSchool").hide();
            $("#ConductEdu").hide();
            $("#ConductDistrict").hide();
        } else if (reportValue == 3) {
            $("#CapacityDistrict").show();
            $("#CapacityAllSchool").hide();
            $("#CapacityEdu").hide();            
            $("#ConductAllSchool").hide();
            $("#ConductEdu").hide();
            $("#ConductDistrict").hide();
        } else if (reportValue == 4) {
            $("#ConductAllSchool").show();
            $("#CapacityDistrict").hide();
            $("#CapacityAllSchool").hide();
            $("#CapacityEdu").hide();            
            $("#ConductEdu").hide();
            $("#ConductDistrict").hide();
        } else if (reportValue == 5) {
            $("#ConductEdu").show();
            $("#CapacityAllSchool").hide();
            $("#CapacityEdu").hide();
            $("#CapacityDistrict").hide();
            $("#ConductAllSchool").hide();            
            $("#ConductDistrict").hide();
        } else if (reportValue == 6) {
            $("#ConductDistrict").show();
            $("#CapacityAllSchool").hide();
            $("#CapacityEdu").hide();
            $("#CapacityDistrict").hide();
            $("#ConductAllSchool").hide();
            $("#ConductEdu").hide();            
        }
    }

</script>