﻿@model ReportEmpoyeeViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@using (Html.BeginForm("GetReportEmployee",
"EmployeeReport", FormMethod.Post, new { id = "frmEmployeeList" }))
{
    @Html.ViettelHidden("rptReport", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
            @Res.Get("Danh sách cán bộ")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @(Html.ViettelComboboxFor(o => o.SchoolFaculty, Res.Get("ReportEmployeeProfile_Label_Faculty"),
                    new SelectList((System.Collections.IEnumerable)ViewData[ReportMenuDirectionConstant.CBO_FACULTY] ,
                        "SchoolFacultyID", "FacultyName"),
                    SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { }, false))
                </div>
                <div class="col-md-6">
                    @Html.ViettelDatePicker("ReportDate", Res.Get("Ngày báo cáo"), DateTime.Now.Date, false, new Dictionary<string, object> { }, "dd/MM/yyyy")
                </div>
            </div>
            
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "if(!validateUtils.validateForm('frmEmployeeList')) return false;", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFEmployeeList();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center;margin-left:10px;height:500px;">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Danh_Sach_Can_Bo/GV_THCS_DanhSachCanBo.htm">
        </iframe>
</div>
<script type ="text/javascript">
    $('#frmEmployeeList').submit(function (event) {
        $('#rptReport').val(1);//Danh sách cán bộ
        event.preventDefault();
        smas.getReport('frmEmployeeList', '@Url.Action("GetReportEmployee", "EmployeeReport")',
        '@Url.Action("GetNewReportEmpoyee", "EmployeeReport")', '@Url.Action("DownloadReport", "EmployeeReport")');
    });
    function ExportPDFEmployeeList()
    {
        if (!validateUtils.validateForm('frmEmployeeList')) return;
        $('#rptReport').val(1);//Danh sách cán bộ
        var blank = '_blank';
        smas.getReportDocument('frmEmployeeList', '@Url.Action("GetReportEmployee", "EmployeeReport")',
        '@Url.Action("GetNewReportEmpoyee", "EmployeeReport")', '@Url.Action("DownloadPDFReport", "EmployeeReport")',blank);
    }
    $(function () {
        $(".editor-field").has("select").addClass("custom-select");
    });
</script>