﻿@model ReportEmpoyeeViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models

@using (Html.BeginForm("GetReportEmployee",
"EmployeeReport", FormMethod.Post, new { id = "frmTeachingAssignment" }))
{
    @Html.ViettelHidden("rptReport",0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div id ="lblTitle" class="vt-SearchPanel-Title">
                    Báo cáo phân công giảng dạy
        </div>
        <div class="vt-SearchPanel-Content">
           <div class="row">
               <div class="col-md-6">
                   @(Html.ViettelCombobox(Res.Get("ReportTeachingAssignment_Label_EducationLevel"), "EducationLevelID",
                                        new SelectList((IEnumerable<EducationLevel>)ViewData[ReportMenuDirectionConstant.LS_EDUCATION_LEVEL],
                                "EducationLevelID", "Resolution"),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> { 
                                    { "OnChange", "AjaxLoadClass(this)" } 
                                }, false, false))
               </div>
               <div class="col-md-6">
                   @(Html.ViettelCombobox(Res.Get("ReportTeachingAssignment_Label_Class"), "ClassID",
                                        new SelectList((IEnumerable<ClassProfile>)ViewData[ReportMenuDirectionConstant.LS_CLASS],
                                "ClassProfileID", "DisplayName"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { }, false, false))
               </div>
               <div class="col-md-6">
                     @(Html.ViettelCombobox(Res.Get("ReportTeachingAssignment_Label_Semester"), "SemesterID",
                                new SelectList((IEnumerable<ComboObject>)ViewData[ReportMenuDirectionConstant.LS_SEMESTER],
                                        "key", "value", ViewData[ReportMenuDirectionConstant.DF_SEMESTER]),
                                GlobalConstants.NO_PLACEHOLDER,
                                new Dictionary<string, object> {}, false, false))
                </div>
           </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "if(!validateUtils.validateForm('frmTeachingAssignment')) return false;", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFTeachingAssignment();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="text-align:center;margin-left:70px;height:500px;">
        <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Bao_Cao_Phan_Cong_Giang_Day/GV_THCS_BC_PhanCongGiangDay_6A1_HKII.htm">
        </iframe>
</div>

<script type ="text/javascript">
     $(".editor-field").has("select").addClass("custom-select");
    function AjaxLoadClass(EducationLevel) {
        frmId = $(EducationLevel).closest('form').get(0).id;
        setTimeout(controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass", "EmployeeReport")',
            { idEducationLevel: $(EducationLevel).val() },
            '@Res.Get("All")'
        ), 200);
        }

    $('#frmTeachingAssignment').submit(function (event) {
        $('#rptReport').val(5);//Phân công giảng dạy
        event.preventDefault();
        smas.getReport('frmTeachingAssignment', '@Url.Action("GetReportEmployee", "EmployeeReport")',
        '@Url.Action("GetNewReportEmpoyee", "EmployeeReport")', '@Url.Action("DownloadReport", "EmployeeReport")');
    });
    function ExportPDFTeachingAssignment() {
        if (!validateUtils.validateForm('frmTeachingAssignment')) return;
        $('#rptReport').val(5);//Phân công giảng dạy
        var blank = '_blank';
        smas.getReportDocument('frmTeachingAssignment', '@Url.Action("GetReportEmployee", "EmployeeReport")',
        '@Url.Action("GetNewReportEmpoyee", "EmployeeReport")', '@Url.Action("DownloadPDFReport", "EmployeeReport")',blank);
    }
</script>
<style>
    .vt-SearchPanel-Title .editor-field {
        padding-bottom:0;
    }
</style>