﻿@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Areas.SchoolFacultyArea
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SchoolFacultyArea
@using SMAS.Web.Areas.SchoolFacultyArea.Models
@using Com.Viettel.Framework.HtmlHelpers
@{   
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];    
}

@{
    int total = 0;
    int page = 1;
    var paging = (Paginate<SchoolFacultyObject>)ViewData[SchoolFacultyConstant.LIST_SCHOOLFACULTY];
    IEnumerable<SchoolFacultyObject> list = paging.List != null ? paging.List : new List<SchoolFacultyObject>();
    total = paging.total;
    GlobalInfo global = new GlobalInfo();
    string LableForFacultyColumn; // Tieu de cho cot ten to nhom
    string LableForDiscriptionFacultyColumn;
    string ConfirmToDelete;
    if (global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || global.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {
        // Cap mam non
        LableForFacultyColumn = Res.Get("Lable_Faculty_MN");
        LableForDiscriptionFacultyColumn = Res.Get("SchoolFaculty_Column_Description_MN");
        ConfirmToDelete = "Thầy/cô có chắc chắn muốn xóa tổ nhóm này không?";
    }
    else
    {
        // Cap 1, 2, 3
        LableForFacultyColumn = Res.Get("SchoolFaculty_Control_FacultyName");
        LableForDiscriptionFacultyColumn = Res.Get("SchoolFaculty_Column_Description");
        ConfirmToDelete = "Thầy/cô có chắc chắn muốn xóa tổ bộ môn này không?";
    }
}
    <div class="vt-ResultPanel">
        <div class="vt-ResultPanel-Title">
            <div class="vt-ResultPanel-Title-Button text-right">
            @if (checkCreate)
            {

                @Html.ViettelButton(Res.Get("Common_Button_Add"), "button", "OnCreateButtonClick()", "btn btn-info btn-round btn-icon btn-icon-plus")
            }
            </div>
            <div class="Clear">
            </div>
        </div>
        @{     
            int index = 1;
            Html.Telerik()
                .Grid(list)
                .Name("GridSchoolFaculty")
                .Columns(colums =>
                {
                    colums.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order"))
                        .Width(15).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" });
                    colums.Bound(o => o.FacultyName).Width(60).Title(LableForFacultyColumn).Sortable(true).HeaderHtmlAttributes(new { style = "text-align:center" });
                    colums.Bound(o => o.EmployeeAplied).Width(120).Title("Cán bộ quản lý tổ bộ môn").Sortable(false).HeaderHtmlAttributes(new { style = "text-align:left" });
                    colums.Bound(o => o.Description).Width(80).Title(LableForDiscriptionFacultyColumn).Sortable(true).HeaderHtmlAttributes(new { style = "text-align:left; word-wrap:break-word;" });                
                    colums.Bound(o => o.CreateDateTime).Width(30).Format("{0:dd/MM/yyyy}").Title(Res.Get("SchoolFaculty_Column_CreateDate")).HeaderHtmlAttributes(new { style = "text-align:center" });
                    colums.Command(cmd =>
                    {
                    
                        cmd.Custom("vtEdit")
                       
                           .Text(Res.Get("Common_Column_Edit")).Ajax(true).Action("GetEdit", "SchoolFaculty")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "icon icon-edit"})
                           .HtmlAttributes(new { @class = "btn-edit" });
                    }).Title(Res.Get("Common_Column_Edit")).Width(40).Visible(checkUpdate).HtmlAttributes(new { style = "text-align:center" });
                    colums.Command(cmd =>
                    {
                        cmd.Custom("vtDelete")
                           .HtmlAttributes(new { @class = "deleteschool-window" })
                           .Text(Res.Get("Common_Column_Edit"))
                           .Ajax(true)
                           .Action("Delete", "SchoolFaculty")
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "icon icon-trash" })
                           .HtmlAttributes(new { style = "" });
                    }).Title(Res.Get("Common_Column_Delete")).Width(40).Visible(checkDelete).HtmlAttributes(new { style = "text-align:center" });
                }
            )
            .DataKeys(keys => keys.Add(o => o.SchoolFacultyID))
            .DataBinding(b => b.Ajax().Select("_GridBinding", "SchoolFaculty"))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
            .Scrollable(o => o.Height("auto"))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Pageable(p => p.PageSize(SchoolFacultyConstant.PAGE_SIZE).Total(total).PageTo(page))
            .EnableCustomBinding(true)
            .Sortable()
            .Render();
        }
    </div>
<script type="text/javascript">
    var lstInd = 1;
    function Grid_onDataBinding(e) {
        e.data = jsonUtils.serializeObject("frmSearch");
        var grid = $('#GridSchoolFaculty').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }

    function Grid_onCommand(e) {       
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;
            formUtils.resetForm("editDialog");
            smas.openDialog('editDialog', '@Url.Action("GetEdit")', { id: item.SchoolFacultyID});
        }
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            smas.confirm("@ConfirmToDelete", function () {
                //smas.post("@Url.Action("Delete")", { id: item.SchoolFacultyID }, search, null);
                DeleteSF(item.SchoolFacultyID);
            })
        }
    }

    function DeleteSF(id) {
        $.ajax({
            url: '@Url.Action("Delete", "SchoolFaculty")',
            type: 'post',
            data: { id: id },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (data) {
                smas.hideProcessingDialog();
                if (data.Type == 'error') {
                    smas.alertColor(data.Message, 'red');                
                }
                else {
                    smas.alert(data.Message);
                    smas.closeDialog("ConfirmAlertDialog");
                    search();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
</script>
