@model SMAS.Models.Models.SchoolFaculty

@using Com.Viettel.Framework.HtmlHelpers
@{
    ViewBag.Title = @Resources.Resource.ResourceManager.GetString("DeleteRK");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.ResourceManager.GetString("DeleteRK")</h2>

<h3>@Resources.Resource.ResourceManager.GetString("DeleteMsgRK")</h3>
<fieldset>
    <legend>SchoolFaculty</legend>

    <div class="display-label">SchoolID</div>
    <div class="display-field">@Model.SchoolID</div>

    <div class="display-label">FacultyName</div>
    <div class="display-field">@Model.FacultyName</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>

    <div class="display-label">ConcurrentWorkAssignments</div>
    <div class="display-field">@(Model.ConcurrentWorkAssignments == null ? "None" : Model.ConcurrentWorkAssignments.Count.ToString())</div>

    <div class="display-label">ConcurrentWorkReplacements</div>
    <div class="display-field">@(Model.ConcurrentWorkReplacements == null ? "None" : Model.ConcurrentWorkReplacements.Count.ToString())</div>

    <div class="display-label">Employees</div>
    <div class="display-field">@(Model.Employees == null ? "None" : Model.Employees.Count.ToString())</div>

    <div class="display-label">EmployeePraiseDisciplines</div>
    <div class="display-field">@(Model.EmployeePraiseDisciplines == null ? "None" : Model.EmployeePraiseDisciplines.Count.ToString())</div>

    <div class="display-label">SchoolProfile</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SchoolProfile).ToString()</div>

    <div class="display-label">TeacherGradings</div>
    <div class="display-field">@(Model.TeacherGradings == null ? "None" : Model.TeacherGradings.Count.ToString())</div>

    <div class="display-label">TeacherOfFaculty</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.TeacherOfFaculties).ToString()</div>

    <div class="display-label">TeachingAssignments</div>
    <div class="display-field">@(Model.TeachingAssignments == null ? "None" : Model.TeachingAssignments.Count.ToString())</div>

    <div class="display-label">TeachingExperiences</div>
    <div class="display-field">@(Model.TeachingExperiences == null ? "None" : Model.TeachingExperiences.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ViettelActionLink(@Resources.Resource.ResourceManager.GetString("BackRK"), "Index")
    </p>
}



