﻿@model SMAS.Web.Areas.SchoolFacultyArea.Models.SchoolFacultyObject
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.SchoolFacultyArea
@using Telerik.Web.Mvc.UI
<style>
    /*.item-selected {
        border: 1px solid #4D90FE;
        display: inline-block;
        margin-top: 3px;
        margin-left: 3px;
    }
    #usserEdit{
        background:none;
    }*/
</style>

@{using (Ajax.BeginForm("EditSchoolFaculty",
                       "SchoolFaculty",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnComplete",
                           OnSuccess = "SaveSuccess",
                           OnFailure = "SaveFail"
                       },
                       new { id = "frmEdit" }
                       ))
  {
    <div id="EditSchoolFaculty" class="vt-EditorPanel vt-EditorPanel-1 school-faculty-area-edit-window" style="margin-top: 20px; margin-left: 15px; margin-bottom: 1px;">
        <div class="vt-EditorPanel-Control">
            <div class="row no-margin">
            @Html.AntiForgeryToken()
            <div class="col-md-10 col-sm-10">
                @Html.ViettelTextboxFor(model => model.FacultyName, Res.Get("SchoolFaculty_Control_FacultyName"), null, false)
            </div>

            <div class="clear"></div>
                <div class="col-md-10 col-sm-10">
            <div class="vt-control manager">
                <span class="gray editor-label">Cán bộ quản lý </span>
                <div id="comboBoxMulti" class="editor-field">
                    <span id="selectedUser_Edit"></span>
                    <div id="comboPartialEdit">
                        @Html.Partial("_ViewComboBoxMulti")
                    </div>
                </div>
            </div>
                </div>
                    <div class="clear"></div>
            <div class="col-md-10 col-sm-10" style="margin-top: 10px">
                @Html.ViettelTextboxFor(model => model.Description, Res.Get("SchoolFaculty_Column_Description"), null, false)
            </div>
            </div>
        </div>
        @Html.ViettelHiddenFor(o => o.SchoolFacultyID)

        <div class="vt-EditorPanel-Button" style="margin-top: 10px">
            <input id="btnImportRated" class="btn btn-info btn-icon btn-round btn-icon-save " type="button" onclick="SetValueHidden_Edit()" value="Lưu">
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "onCloseButtonEditClick()", "btn btn-basic btn-round")
        </div>
        <div style="display: none">
            <input id="arrEmployee_Edit" type="hidden" name="arrEmployee_Edit" />
            <input type="submit" id="btnSubmitFromEdit" class="btn btn-info btn-icon btn-round btn-icon-save" style="display: none;" />
        </div>
    </div>
  }
}


<script>
    var isFocus = false;
    var lstEmployeeIDEdit = [];
    $(document).ready(function () {

        $('#comboBoxMulti').click(function () {
            $('#usserEdit').focus();
        });

        $('#usserEdit').focus(function () {
            $('#comboBoxMulti').css('border', '1px solid #4D90FE !important');
        });
        $("#usserEdit").focusout(function () {
            $('#comboBoxMulti').css('border', '1px solid #C0C0C0 !important');
        });

        $('#comboBoxMulti').css('border', '1px solid #C0C0C0');
        $('#FacultyName').on('click', function () {
            $('#comboBoxMulti').css('border', '1px solid #C0C0C0');
        });
        $('#Description').on('click', function () {
            $('#comboBoxMulti').css('border', '1px solid #C0C0C0');
        });
        $('#usserEdit').on('click', function () {
            $('#comboBoxMulti').css('border', '1px solid #4D90FE');
        });

        $("#comboPartialEdit").css("width", "100%");
    });

    $(document).ready(function () {
        var id = $('#SchoolFacultyID').val();
        FillData(id);
        var arrEmployee = $('#arrEmployee_Edit').val();
    });

    function ReplaceText() {
        var txtEdit = $('#usserEdit').val();
        if (txtEdit.indexOf("-") != -1) {
            txtEdit = txtEdit.replace("-", "");
            $('#usserEdit').val(txtEdit);
        }
        if (txtEdit.indexOf("  ") != -1) {
            txtEdit = txtEdit.replace("  ", " ");
            $('#usserEdit').val(txtEdit);
        }
    }

    // 
    function DisiableComboBox() {
        var str = $('#arrEmployee_Edit').val();
        lstEmployeeIDEdit = str.split(",");

        if (lstEmployeeIDEdit.length >= 5) {
            $('#comboBoxMulti').css('height', '84px');
            $('#comboPartialEdit').css('display', 'none');
        }
        else {
            $('#comboBoxMulti').css('height', 'auto');
            $('#comboPartialEdit').css('display', '');
        }
    }

    function FillData(id) {
        isFocus = true;
        $.ajax({
            url: '@Url.Action("GetInfoEdit", "SchoolFaculty")',
            type: 'post',
            data: { id: id },
            success: function (data) {
                if (data.lstEmployeeBO != null) {
                    $.each(data.lstEmployeeBO, function (index, val) {
                        var arrPupil = $('#arrEmployee_Edit').val();
                        var htmlCurrent = $('#selectedUser_Edit').html();
                        var iconX = '<span onclick="deleteUser_Edit(' + "'" + val.EmployeeCode + "'" + ')"' + 'value="' + val.EmployeeCode + '"  style="cursor: pointer; padding: 1px;" class="t-icon t-delete"></span>';
                        var htmlSpan = htmlCurrent + '<span id="reEmployee_' + val.EmployeeCode + '" class="item-selected">' + val.FullName + iconX + '</span>';

                        $('#selectedUser_Edit').html(htmlSpan);
                        arrPupil += val.EmployeeCode + ",";
                        $('#arrEmployee_Edit').val(arrPupil);
                    });
                }

                DisiableComboBox();
                PartialComboBox($('#arrEmployee_Edit').val());
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function PartialComboBox(arrEmployee) {
        $.ajax({
            url: '@Url.Action("PartialComboBox", "SchoolFaculty")',
            type: 'post',
            data: { arrEmployee: arrEmployee },
            success: function (data) {
                $('#comboPartialEdit').html(data);
                if (isFocus == false)
                    $('#usserEdit').focus();

                if ($('#arrEmployee_Edit').val() == null || $('#arrEmployee_Edit').val() == '') {
                    $("#usserEdit").attr("placeholder", "Nhập họ tên, mã cán bộ hoặc tổ bộ môn");
                    $("#comboPartialEdit").css("width", "100%");
                }
                else {
                    $("#usserEdit").attr("placeholder", "");
                    $("#comboPartialEdit").css("width", "auto");
                }
                setTimeout(function () {
                    $('#usserEdit').on("input", ReplaceText);
                    $('#usserEdit').keyup(ReplaceText);
                }, 500);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function deleteUser_Edit(id) {
        $("#reEmployee_" + id).remove();
        var arrPupil = $('#arrEmployee_Edit').val();
        arrPupil = arrPupil.replace(id + ",", '');
        $('#arrEmployee_Edit').val(arrPupil);

        PartialComboBox($('#arrEmployee_Edit').val());
        isFocus = false;

        DisiableComboBox();
    }
    function onChangeEmployeeNameEdit(e) {
        var text = $(e.currentTarget).val();
        var splitText = text.split('-');
        $(e.currentTarget).val(splitText[0]);
        if (splitText.length > 1) {
            var arrPupil = $('#arrEmployee_Edit').val();
            var htmlCurrent = $('#selectedUser_Edit').html();
            var idUser = splitText[1].toString();
            var userCode = idUser.trim();
            var iconX = '<span onclick="deleteUser_Edit(' + "'" + userCode + "'" + ')"' + 'value="' + userCode + '"  style="cursor: pointer;padding: 1px;" class="t-icon t-delete"></span>';

            var userName = splitText[0].trim();
            var htmlSpan = '';
            htmlSpan = htmlCurrent + '<span id="reEmployee_' + userCode + '" class="item-selected">' + userName + iconX + '</span>';

            $('#selectedUser_Edit').html(htmlSpan);
            arrPupil += userCode + ",";
            $('#arrEmployee_Edit').val(arrPupil);

            var itemSelected = '';
            $('#usserEdit').val(itemSelected);
            PartialComboBox($('#arrEmployee_Edit').val());
            isFocus = false;
            DisiableComboBox();
        }
    }
</script>

<script type="text/javascript">

    function OnComplete() {
        smas.hideProcessingDialog();
    }

    function SaveSuccess(e) {
        smas.hideProcessingDialog();

        if (e.Type == 'success') {
            smas.alert(e.Message);
            onCloseButtonEditClick();

            var htmlNull = '';
            $('#FacultyName').val(htmlNull);
            $('#selectedUser_Edit').html(htmlNull);
            $('#Description').val(htmlNull);
            $('#arrEmployee_Edit').val(htmlNull);
        }
        else
            smas.alertColor(e.Message, 'red');


    }

    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function SetValueHidden_Edit() {
        if ($('#FacultyName').val() == '' || $('#FacultyName').val() == null
            || $('#FacultyName').val().length == 0) {
            $('#FacultyName').focus();
            smas.alertColor('Thầy/cô chưa nhập tổ bộ môn', 'red');
            return;
        }
        $('#btnSubmitFromEdit').click();
    }

    function onCloseButtonEditClick() {
        smas.closeDialog('editDialog');
        search();
    }
    function BeginSubmit() {
        smas.showProcessingDialog();
    }
    formUtils.focusForm("frmEdit");
    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    //$(function () {
    //    jQuery.validator.unobtrusive.parse($("#frmEdit"));
    //});

    // Fix bug: 185100  - Sua lai tieu de cho dung
    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE
        || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {        
    <text>
    $(document).ready(function () {
        $("#EditSchoolFaculty").find(":contains('Tổ bộ môn')").filter(":last").html("Tên tổ nhóm");
        $("#EditSchoolFaculty").find(":contains('Mô tả tổ bộ môn')").filter(":last").html("Mô tả");
    });
    </text>
    }    
</script>
