﻿@model IEnumerable<SMAS.Models.Models.SchoolFaculty>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SchoolFacultyArea
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("System_SchoolFaculty");
    Layout = "~/Areas/AcademicYearArea/Views/Shared/InitializationLayout.cshtml";
    Html.EnableClientValidation();

    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
    
}

<style type="text/css">
    #ConfirmAlertDialog .t-window-content {
           min-width: 450px!important;
    }
    #editDialog .t-window-content {
        min-height: 250px !important;
        min-width: 600px!important;
    }
    
     .t-popup .t-item {
        padding: 5px !important;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }

    div.t-animation-container {
        left: 500px !important;
    }

    div.t-popup.t-group {
        width:437px !important;
    }
    #createDialog .t-window-content.t-content {
        min-height: 260px;
        min-width: 625px;
    }
    #ConfirmAlertDialog .t-window-content.t-content{
        min-height: 115px;
    }
    #ConfirmAlertDialog .t-window-content.t-content div table tbody tr:last-child td{
        padding-top:25px;
    }
</style>
<div class="school-faculty-area-page">
<div id="formSearch">
    @Html.Partial("_Search")
</div>

<div id="lstSchoolFaculty">
    @Html.Partial("_GridSchoolFaculty")
</div>
    </div>
@(Html.Telerik().Window().Name("editDialog").Title(Res.Get("EditRK"))
                .HtmlAttributes(new { @class = "school-faculty-edit-window" })
                .Content(@<text>@Html.Partial("Edit")</text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(600).Height(200)
)

@(Html.Telerik().Window().Name("createDialog").Title(Res.Get("CreateRK"))
                .HtmlAttributes(new { @class = "school-falculty-create-window" })
                .Content(@<text>@Html.Partial("Create")</text>)
                .Buttons(buttons => buttons.Close())
                .ClientEvents(events => events.OnOpen("smas.onOpenDialog").OnClose("smas.onCloseDialog"))
                .Visible(false).Modal(true).Width(600).Height(240)
)

<script type="text/javascript">
    function OnCreateButtonClick() {
        smas.openDialog('createDialog', '@Url.Action("Create")', {});
    }
    // Fix bug: 185112   - Sua lai duong dan cho dung cho dung
    @if (GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || GlobalInfo.getInstance().AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN)
    {        
    <text>
    $(document).ready(function () {
        $(".Breadcrum").find(":contains('Khai báo tổ bộ môn')").filter(":last").html("Khai báo tổ nhóm");
    });
    </text>
    }

   
</script>

