﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.LearningResultReportArea
@using SMAS.Web.Constants
<style>
    #frmRepeater .vt-SearchPanel {
        margin:0px;
        margin-bottom:5px;
    }
    #frmRepeater .vt-SearchPanel-Content {
        padding:10px;
    }
</style>
@using (Ajax.BeginForm("ExportExcel", "RepeaterReport",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        OnBegin = "smas.showProcessingDialog",
                                        OnComplete = "smas.hideProcessingDialog"
                                    },
                                    new { id = "frmRepeater" }))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("TypeExport",1)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            @Res.Get("Danh sách học sinh lưu ban")
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="vt-control" id="radioID" style="width:175px;margin-left:60px;">
                <input type="radio" id="rdoRepeater" checked="checked" value ="1" onchange="OnChangeRadio(1)" />
                <span>Học sinh lưu ban</span>
                <br />
                <input type="radio" id="rdoRateAdd" value ="2" onchange="OnChangeRadio(2)" />
                <span>Học sinh đánh giá bổ sung</span>
            </div>
            @(Html.ViettelCombobox(Res.Get("Common_Label_Education_Level"), "EducationLevelID",(SelectList)ViewData[LearningResultReportConstants.LIST_EDUCATIONLEVEL]
                                        ,
                                    GlobalConstants.PLACEHOLDER_ALL,
                                    new Dictionary<string, object> { 
                                        {"onchange", "AjaxLoadClass()"}
                                    }, false, false))
                @(Html.ViettelCombobox(Res.Get("Common_Label_Class"), "ClassID",(SelectList)ViewData[LearningResultReportConstants.LIST_CLASS]
                            ,
                        GlobalConstants.PLACEHOLDER_ALL,
                        new Dictionary<string, object> {       
                        }, false, false))
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "ExportExcel()", "btn btn-info btn-round btn-icon btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPdf()", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div id="RepeaterTemplateID" style="margin-left:3px;scrollbar-3dlight-color:yellow;height:693px">
    <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/DS_HS_Luu_Ban/HS_TH_DSHocSinhLuuBan.htm">
        </iframe>
</div>
<div id="RateAddTemplateID" style="margin-left:3px;scrollbar-3dlight-color:yellow;height:693px;display:none;">
    <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/DS_HS_Luu_Ban/HS_TH_DSHocSinhDanhGiaBoSung.htm">
        </iframe>
</div>

<script type="text/javascript">
    function ExportExcel() {
        smas.getReport('frmRepeater', '@Url.Action("GetRepeaterReport", "RepeaterReport")',
            '@Url.Action("GetNewRepeaterReport", "RepeaterReport")', '@Url.Action("DownloadReport", "RepeaterReport")');

    };
    function ExportPdf() {
        var blank = '_blank';
        smas.getReportDocument('frmRepeater', '@Url.Action("GetRepeaterReport", "RepeaterReport")',
            '@Url.Action("GetNewRepeaterReport", "RepeaterReport")', '@Url.Action("DownloadReportPdf", "RepeaterReport")', blank);

    };
    $(document).ready(function () {
        var educationLevel = $("#EducationLevelID");
        setTimeout(AjaxLoadClass(educationLevel), 1000);
        $(".vt-SearchPanel .vt-SearchPanel-Title #btn-panel-collapse").click(function () {
            var panel_content = $(this).parent().siblings('.vt-SearchPanel-Content');
            var panel_footer = $(this).parent().siblings('.vt-SearchPanel-Button');
            panel_content.slideToggle(200);
            panel_footer.slideToggle(200);
            if ($(this).hasClass('icon-arrow-up')) {
                $(this).removeClass('icon-arrow-up').addClass('icon-arrow-down');
            } else {
                $(this).removeClass('icon-arrow-down').addClass('icon-arrow-up');
            }
        });
    });

    function AjaxLoadClass() {
        var cboClass = $("#frmRepeater #ClassID");
        cboClass.find("option").remove();
        var educationlevelID = $("#frmRepeater #EducationLevelID").val();
        if (educationlevelID == '') {
            educationlevelID = 0;
        }
        controlUtils.loadComboBox(
            $("#frmRepeater #ClassID"),
            '@Url.Action("AjaxLoadClass", "RepeaterReport")',
            { EducationLevelID: educationlevelID },
            '@Res.Get("All")'
        );
    }
    function OnChangeRadio(itemVal)
    {
        $('#TypeExport').val(itemVal);
        $('#radioID').find('input[type="radio"]').removeAttr('checked');
        if (itemVal == 1) {
            $('#rdoRepeater').attr('checked', 'checked');
            $('#RepeaterTemplateID').show();
            $('#RateAddTemplateID').hide();
        }
        else {
            $('#rdoRateAdd').attr('checked', 'checked');
            $('#RepeaterTemplateID').hide();
            $('#RateAddTemplateID').show();
        }
    }
</script>
