﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.CandidateAbsenceArea.Models
@using SMAS.Web.Areas.CandidateAbsenceArea
<div class="vt-ResultPanel">
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<CandidateGridViewModel>)ViewData[CandidateAbsenceConstants.LIST_CANDIDATE])
            .Name("GridViolatedCandidate")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
                c.Bound(o => o.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode"));
                c.Bound(o => o.FullName).Title(Res.Get("PupilProfile_Label_FullName"));
                c.Template(@<text>
        <input type="checkbox"   name='CreateCandidates' value="@item.CandidateID" />
        </text>).HeaderTemplate(@<text>
        <input type="checkbox" id="CreateCandidateCheckAll" />
        </text>).Width(30);
            })
            .DataKeys(keys => keys.Add(o => o.CandidateID))
            .Scrollable(u => u.Enabled(true).Height(300))
            .Render();
    }
</div>
@*@{
    var index = 1;

    Html.Telerik()
        .Grid((IEnumerable<CandidateGridViewModel>)ViewData[CandidateAbsenceConstants.LIST_CANDIDATE])
        .Name("GridViolatedCandidate")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(40);
            c.Bound(o => o.PupilCode).Title(Res.Get("PupilProfile_Label_PupilCode"));
            c.Bound(o => o.FullName).Title(Res.Get("PupilProfile_Label_FullName"));
            c.Template(@<text>
    <input type="checkbox"   name='CreateCandidates' value="@item.CandidateID" />
    </text>).HeaderTemplate(@<text>
    <input type="checkbox" id="CreateCandidateCheckAll" />
    </text>).Width(30);
        })
        .DataKeys(keys => keys.Add(o => o.CandidateID))
        .Scrollable(u => u.Enabled(true).Height(300))
        .Render();
}*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#CreateCandidateCheckAll").change(function () {
            if ($(this).attr('checked')) {
                $("input:checkbox[name='CreateCandidates']")
                    .each(function (index, item) {
                        $(item).attr('checked', "checked")
                    });
            }
            else {
                $("input:checkbox[name='CreateCandidates']")
                    .each(function (index, item) {
                        $(item).removeAttr('checked', "checked")
                    });
            }
        });
    });

</script>
