﻿@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.ConfigConductRankingArea
@using SMAS.Web.Areas.ConfigConductRankingArea.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{    
    ViewBag.Title = Res.Get("System_PeriodDeclaration");
    Layout = "~/Areas/ConductConfigArea/Views/Shared/ConfigLayout.cshtml";
   }
<div id="frmSearch" class="mg-l-10 mg-r-10 conf-conduct-rank-page-search">
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Content">
          @Html.ViettelEditorForModel()
        </div>
    </div>
</div>
<div class="Clear">
</div>
<div id="frmList" class="mg-t-5 conf-conduct-rank-page-list">
    @Html.Partial("_List")
</div>

<script type="text/javascript">
    function OncbEducationLevelChange(cboEducationLevel) {
        var educationlevelID = $(cboEducationLevel).val();
        var conductSPID = $("#frmSearch #cbConductSemesterOrPeriod").val();
        $.ajax({
            url: '/ConfigConductRankingArea/ConfigConductRanking/Search',
            type: 'post',
            data: { EducationLevelID : educationlevelID, ConductSPID: conductSPID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#frmList').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function OncbConductSemesterOrPeriodChange(cbConductSemesterOrPeriod) {
        var educationlevelID = $("#frmSearch #cboEducationLevel").val();
        var conductSPID = $(cbConductSemesterOrPeriod).val();
        $.ajax({
            url: '/ConfigConductRankingArea/ConfigConductRanking/Search',
            type: 'post',
            data: { EducationLevelID: educationlevelID, ConductSPID: conductSPID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#frmList').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function LoadGird() {
        var educationlevelID = $("#frmSearch #cboEducationLevel").val();
        var conductSPID = $("#frmSearch #cbConductSemesterOrPeriod").val();
        $.ajax({
            url: '/ConfigConductRankingArea/ConfigConductRanking/Search',
            type: 'post',
            data: { EducationLevelID: educationlevelID, ConductSPID: conductSPID },
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#frmList').html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }
</script>