﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@model  SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models.EmployeeWorkingHistoryForTeacherViewModel
@{ EmployeeProfileManagementForTeacherViewModel thisEmployee = ViewData[EmployeeProfileManagementForTeacherConstant.CHOSENEMPLOYEE] as EmployeeProfileManagementForTeacherViewModel;
   string employeeName = thisEmployee.FullName;
}
@Html.ViettelHidden("EmployeeProfileManagementViewModelID", thisEmployee.EmployeeID)
<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1">
    <div class="vt-EditorPanel-Control">
        @*<div class="vt-control">
            <div class="editor-label">
                @Html.ViettelLabel(Res.Get("Employee_Column_FullName"))
            </div>
            <div class="editor-field" style="padding-top: 0px;">
                @(thisEmployee.FullName)
            </div>
        </div>*@
        @Html.ViettelEditorFor(model => model.EmployeeName, new Dictionary<string, object>() { }, false, true)
        @Html.ViettelEditorFor(model => model.Organization, new Dictionary<string, object>() { { "maxlength", "100" } }, false, false)
      
        @Html.ViettelEditorFor(model => model.Department, new Dictionary<string, object>() { { "maxlength", "100" } }, false, false)
        @Html.ViettelEditorFor(model => model.Position, new Dictionary<string, object>() { { "maxlength", "100" } }, false, false)
          @Html.ViettelEditorFor(model => model.Resolution, new Dictionary<string, object>() { { "maxlength", "100" } }, false, false)
        @Html.ViettelEditorFor(model => model.FromDate, new Dictionary<string, object>() { { "maxlength", "11" } })
        @Html.ViettelEditorFor(model => model.ToDate, new Dictionary<string, object>() { { "maxlength", "11" } })
    </div>
</div>

