﻿@*@model SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models.EmployeeWorkingHistoryForTeacherViewModel*@
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils

@using (Ajax.BeginForm("CreateEmployeeWorkingHistory",
                       "EmployeeProfileManagementForTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccessEmployeeWorkingHistory",
                           OnFailure = "CreateFailEmployeeWorkingHistory"
                       },
                       new { id = "frmCreateEmployeeWorkingHistory" }
                       ))
{
	@Html.AntiForgeryToken()
   @* @Html.ViettelEditorForModel()*@
   <div>
   @Html.Partial("../EmployeeWorkingHistoryForTeacher/_CreateOrEditEmployeeWorkingHistory")
   </div>
    <div class="dialog-buttons">
       @* <input type="submit" class="t-button vt-button-save" value="@Res.Get("Common_Button_Save")"/>
        <input type="button" class="t-button vt-button-close" onclick="onEmployeeWorkingHistoryCloseClick()" value="@Res.Get("Common_Button_Close")" />*@
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "vt-button vt-button-save")
        @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "onEmployeeWorkingHistoryCloseClick()", "vt-button vt-button-close")
    </div>
}

<script type="text/javascript">
    function CreateSuccessEmployeeWorkingHistory(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {           
            reload();
            var employeename = $("#frmCreateEmployeeWorkingHistory #EmployeeName").val();
            var employeeid = $("#frmCreateEmployeeWorkingHistory #EmployeeID").val();
            formUtils.resetForm("frmCreateEmployeeWorkingHistory");
            formUtils.focusForm("frmCreateEmployeeWorkingHistory");           
            $("#frmCreateEmployeeWorkingHistory #EmployeeID").val(employeeid);
            $("#frmCreateEmployeeWorkingHistory #EmployeeName").val(employeename);
        }
    }
    function CreateFailEmployeeWorkingHistory(ajaxContext) {
        //smas.alert(ajaxContext.responseText);
    }
    function onEmployeeWorkingHistoryCloseClick() {
        smas.closeDialog('createDialogEmployeeWorkingHistory');
        reload();
    }
    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmCreateEmployeeWorkingHistory"));
    });
</script>


