﻿@model IEnumerable<EmployeeWorkingHistoryForTeacherViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea
@using SMAS.Web.Constants
<style type="text/css">
    #idEmployeeWorkingHistoryView .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
@{
    //int hasPer = (int)ViewData[EmployeeWorkingHistoryForTeacherConstants.HAS_PERMISSION];
    //int view = GlobalConstants.PERMISSION_LEVEL_VIEW;
    int create = GlobalConstants.PERMISSION_LEVEL_CREATE;
    int edit = GlobalConstants.PERMISSION_LEVEL_EDIT;
    int delete = GlobalConstants.PERMISSION_LEVEL_DELETE;
    int hasPermission = (int)ViewData[EmployeeSalaryForTeacherConstants.HAS_PERMISSION];
    bool isEmployeeWorking = ViewData[EmployeeProfileManagementForTeacherConstant.EMPLOYEE_WORKING] == "true" ? true : false;
}
<div class="vt-ResultPanel">
    <div class="vt-ResultPanel-Title">
         <div class="vt-ResultPanel-Title-Message">
            @{var list = (IEnumerable<EmployeeWorkingHistoryForTeacherViewModel>)ViewData[EmployeeWorkingHistoryForTeacherConstants.LIST_EMPLOYEEWORKINGHISTORY];
                @string.Format(Res.Get("Record_Result"), list.Count().ToString())
            }
        </div>
        <div class="vt-ResultPanel-Title-Button">
            @if ((bool)ViewData[EmployeeProfileManagementForTeacherConstant.IS_CURRENT_YEAR] && hasPermission >= create && isEmployeeWorking)
            {
                if ((bool)ViewData["checkReadonly"])
                {
                    @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", true)
                }
                else
                {
                    @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "PrepareCreateEmployeeWorkingHistory()", false)
                }
            }
            else
            {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "", true)
            }
            &nbsp;
            @*@Html.ViettelButton(Res.Get("Common_Button_GoBack"), "button", "PrepareGoBackEmployeeWorkingHistory()", "t-button vt-button-back")*@
        </div>
        <div class="Clear">
        </div>
    </div>
    <div class="t-widget t-grid">
        <div id="idEmployeeWorkingHistoryView">
            @{
                var index = 1;
                //var hasPermission = (int)ViewData[EmployeeWorkingHistoryForTeacherConstants.HAS_PERMISSION];
                Html.Telerik()
                    .Grid((IEnumerable<EmployeeWorkingHistoryForTeacherViewModel>)ViewData[EmployeeWorkingHistoryForTeacherConstants.LIST_EMPLOYEEWORKINGHISTORY])
                    .Name("GridEmployeeWorkingHistory")
                    .Columns(c =>
                    {
                        c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(@Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

                        c.Bound(o => o.Organization).Sortable(true);
                        c.Bound(o => o.Department).Sortable(true);
                        c.Bound(o => o.Position).Sortable(true);
                        c.Bound(o => o.Resolution).Sortable(true);
                        c.Bound(o => o.EmployeeName).Visible(false);
                        c.Bound(o => o.FromDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                        c.Bound(o => o.ToDate).Sortable(true).Format("{0:dd/MM/yyyy}");

                        c.Command(cmd =>
                        {
                            cmd.Custom("vtEdit")
                                .Text(Res.Get("Common_Column_Edit"))
                                .Ajax(true)
                                .Action("EditEmployeeWorkingHistory", "EmployeeProfileManagementForTeacher")
                                .ButtonType(GridButtonType.Image)
                                .ImageHtmlAttributes(new { @class = "t-icon t-vtEdit" });

                        }).Title(Res.Get("Common_Column_Edit")).Width(20);

                        c.Command(cmd =>
                        {
                            cmd.Custom("vtDelete")
                               .Text(Res.Get("Common_Column_Edit"))
                               .Ajax(true)
                              .Action("DeleteEmployeeWorkingHistory", "EmployeeProfileManagementForTeacher")
                               .ButtonType(GridButtonType.Image)
                               .ImageHtmlAttributes(new { @class = "t-icon t-vtDelete" });

                        }).Title(Res.Get("Common_Column_Delete")).Width(20);
                    })
                    .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
                    .ClientEvents(e => e.OnDataBinding("Grid_onDataBindingEmployeeWorkingHistory")
                                        .OnCommand("Grid_onCommandEmployeeWorkingHistory")
                                        .OnDataBound("Grid_OnDataBoundEmployeeWorkingHistory")
                    )
                    .DataKeys(keys => keys.Add(o => o.EmployeeWorkingHistoryID))
                    .Pageable()
                    .Sortable()
                    .Editable(editing => editing.Mode(GridEditMode.PopUp))
                    .Selectable()
                    .Render();

            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var hasPermis = '@hasPermission';
    var jedit = '@edit';
    var jdelete = '@delete';
    var isEmployeeWorking = '@isEmployeeWorking';
    function Grid_OnDataBoundEmployeeWorkingHistory(e) {
        var isCurrentYear = '@ViewData[EmployeeProfileManagementForTeacherConstant.IS_CURRENT_YEAR]';
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit) || isEmployeeWorking == "False") {
            disableLinkEmployeeWorkingHistory();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete) || isEmployeeWorking == "False") {
            disableLinkEmployeeWorkingHistoryDetele();
        }
    }

    var lstInd = 0;
    function Grid_onDataBindingEmployeeWorkingHistory(e) {
        var grid = $('#GridEmployeeWorkingHistory').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearchEmployeeWorkingHistory");
    }

    function Grid_onCommandEmployeeWorkingHistory(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialogEmployeeWorkingHistory");
            smas.bindTo(item, "editDialogEmployeeWorkingHistory");
            smas.openDialog("editDialogEmployeeWorkingHistory", "", {});
        }

        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            var s = '@Html.Raw(Res.Get("EmployeeWorkingHistory_Confirm_Delete1"))' + ' ' + item.EmployeeName + ' ' + '@Html.Raw(Res.Get("EmployeeWorkingHistory_Confirm_Delete2"))';
            if (confirm(s)) {
                smas.post('@Url.Action("DeleteEmployeeWorkingHistory", "EmployeeProfileManagementForTeacher")', { id: item.EmployeeWorkingHistoryID }, reload, null);
            }
        }
    }
    function PrepareCreateEmployeeWorkingHistory() {
        formUtils.resetForm("createDialogEmployeeWorkingHistory");
        smas.openDialog("createDialogEmployeeWorkingHistory", "", {});
        var item = { EmployeeID: $("#EmployeeID").val(), EmployeeName: $("#EmployeeName").html() };
        smas.bindTo(item, "createDialogEmployeeWorkingHistory");
        smas.openDialog("createDialogEmployeeWorkingHistory", "", {});
    }

    function PrepareGoBackEmployeeWorkingHistory() {
        smas.reload();
    }

    function disableLinkEmployeeWorkingHistory() {
        $("#GridEmployeeWorkingHistory .t-grid-vtEdit .t-icon").removeClass("t-vtEdit");
        $("#GridEmployeeWorkingHistory .t-grid-vtEdit .t-icon").addClass("t-vtEditDisabled");
        $("#GridEmployeeWorkingHistory .t-grid-vtEdit").selectable(false);
    }
    function disableLinkEmployeeWorkingHistoryDetele() {
        $("#GridEmployeeWorkingHistory .t-grid-vtDelete .t-icon").removeClass("t-vtDelete");
        $("#GridEmployeeWorkingHistory .t-grid-vtDelete .t-icon").addClass("t-vtDeleteDisabled");
        $("#GridEmployeeWorkingHistory .t-grid-vtDelete").selectable(false);
    }
    $(document).ready(function () {
        var isCurrentYear = '@ViewData[EmployeeProfileManagementForTeacherConstant.IS_CURRENT_YEAR]';

        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit) || isEmployeeWorking == "False") {
            disableLinkEmployeeWorkingHistory();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete) || isEmployeeWorking == "False") {
            disableLinkEmployeeWorkingHistoryDetele();
        }
    });
</script>
