@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SendInfoArea.Models

<fieldset>
    <legend>@Res.Get("Common_Label_SearchingCriteria")</legend>

    @using (Ajax.BeginForm("Search",
                           "SendInfo",
                           new AjaxOptions { 
                               HttpMethod = "post",
                               UpdateTargetId = "lstSendInfo",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
    {
        @Html.ViettelEditorForModel()
        
        <div class="vt-form-button">            
			@Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "")		   
        </div>
    }
</fieldset>

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
    function AjaxLoadClass(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #Class"),
            '@Url.Action("AjaxLoadClass", "SendInfo")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("All")'
        );

    }
</script>

<style type="text/css">
    #frmSearch .vt-control{width:30%}#frmSearch .vt-control .editor-label{width:30%!important}#frmSearch .vt-control .editor-field{width:65%!important}
</style>



