﻿@model SubjectPrimaryReportViewModel
@using SMAS.Web.Utils
@using SMAS.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportMenuDirectionArea
@using SMAS.Web.Areas.ReportMenuDirectionArea.Models
@using SMAS.Business.BusinessObject;
<style>
    /*#lblTitle .vt-control {
        width:190px;
    }
    #lblTitle {
        height:35px;
    }
    #frmMarkSemester .vt-SearchPanel {
        margin:0px;
        margin-bottom:5px;
    }
    #frmMarkSemester .vt-SearchPanel-Content {
        padding:10px;
    }
      #frmMarkSemester .vt-SearchPanel-Content .vt-control .editor-label {
        padding-left: 80px;
    }
     #frmMarkSemester .vt-SearchPanel-Content .vt-control .editor-field {
        padding-left: 10px;
        width: 100px;
    }*/

</style>
@using (Html.BeginForm("GetReportBySemester",
"SubjectStatisticPrimaryReport", FormMethod.Post, new { id = "frmMarkSemester" }))
{
    @Html.ViettelHidden("ReportType", 0)
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
        <div id="Search">
            <div id ="lblTitle" class="vt-SearchPanel-Title">
                        Thống kê điểm thi cuối kỳ     
            </div>
            <div class="vt-SearchPanel-Content row no-margin">
                <div class="col-md-6 col-sm-10">@Html.ViettelComboboxFor(model => model.Semester, Res.Get("ReportResultLearningByPeriod_Label_Semester"),
                          new SelectList((IEnumerable<ComboObject>)ViewData[ReportMenuDirectionConstant.LS_SEMESTER], "key", "value", ViewData[ReportMenuDirectionConstant.DEFAULT_SEMESTER]),
                            GlobalConstants.NO_PLACEHOLDER,
                                      new Dictionary<string, object> { { "style", "" }}, false)</div>
                <div class="col-md-6 col-sm-10">
                 @(Html.ViettelCombobox(Res.Get("LearningOutcomePrimaryReport_Label_Subject"), "SubjectID",
                                        new SelectList((IEnumerable<SubjectCatBO>)ViewData[ReportMenuDirectionConstant.LS_SUBJECT],
                                        "SubjectCatID", "DisplayName"),
                                SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { { "style", "" }
                                }, false, true))
                    </div>
                <div class="vt-control">
                        <fieldset>
                    <legend>
                        <label>Bổ sung số liệu</label>
                    </legend>
                            <div class="col-sm-12 col-md-4">
                             <label class="custom-checkbox">@Res.Get("Học sinh nữ")
                                <input type="checkbox" name="FemaleType" id="Female" value="1" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">@Res.Get("Học sinh dân tộc")
                                <input type="checkbox" name="EthnicType" id="Ethnic" value="2" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label class="custom-checkbox">@Res.Get("Học sinh nữ dân tộc")
                                <input type="checkbox" name="FemaleEthnicType" id="FemaleEthnic" value="3" />
                                <span class="checkmark"></span>
                            </label>
                        </div> 
                </fieldset>
               </div>
        </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "submit", "", "btn btn-info btn-icon btn-round btn-icon-excel")
            @Html.ViettelButton(Res.Get("Common_Button_ExportPDF"), "button", "ExportPDFMarkSemester();", "btn btn-info btn-round btn-icon btn-icon-pdf")
        </div>
    </div>
}

<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-4">
    <div class="vt-SearchPanel-Title">
              @Res.Get("HTML_Pattern_Report")
    </div>
</div>
<div style="margin-left:99px;height:693px">
    <iframe style ="width:100%;height:100%;" src="/HtmlTemplate/Template_Mau_Cap_1/Ket_Qua_Hoc_Tap_Va_Ren_Luyen/Thong_Ke_Diem_Thi_Cuoi_Ky/HS_TH_ThongKeDiemThiMonTinhDiem_HKII_Toan.htm">
        </iframe>
</div>

<script type="text/javascript">
     $(".editor-field").has("select").addClass("custom-select");
    $('#frmMarkSemester').submit(function (event) {
        var subjectID = $('#SubjectID').val();
        if (subjectID == 0) {
            smas.alertColor('Thầy/cô chưa chọn môn học', 'red');
            return false;
        }
        $('#frmMarkSemester #ReportType').val(1);//Điểm thi cuối kỳ
        event.preventDefault();
        smas.getReport('frmMarkSemester', '@Url.Action("GetReport", "SubjectStatisticPrimaryReport")',
        '@Url.Action("GetNewReport", "SubjectStatisticPrimaryReport")', '@Url.Action("DownloadReport", "SubjectStatisticPrimaryReport")');
    });
    function ExportPDFMarkSemester() {
        var subjectID = $('#SubjectID').val();
        if (subjectID == 0) {
            smas.alertColor('Thầy/cô chưa chọn môn học', 'red');
            return false;
        }
        $('#frmMarkSemester #ReportType').val(1);//Điểm thi cuối kỳ
        var blank = '_blank';
        smas.getReportDocument('frmMarkSemester', '@Url.Action("GetReport", "SubjectStatisticPrimaryReport")',
        '@Url.Action("GetNewReport", "SubjectStatisticPrimaryReport")', '@Url.Action("DownloadPDFReport", "SubjectStatisticPrimaryReport")',blank);
    }
    $(document).ready(function () {
        $("#Female").closest(".vt-control").find(".editor-label").remove();
    });
</script>
