﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilGraduationArea.Models
<div id="ConditionalGraduationSearchPanel">
    @Html.Partial("../ConditionalGraduation/_Search")
</div>
@using (Ajax.BeginForm("Approve",
                       "ConditionalGraduation", null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail",
                       },
                       new { id = "frmListGraduation" }
                       ))
{
    @Html.AntiForgeryToken()
    <div id="lstConditionalGraduation" class="condi-tional-graduationg-page">
    </div>
}