﻿@model List<TeacherBO>
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@{
    int side = (int)ViewData[ContactGroupConstant.RESULT_SIDE];
}

<style>
    .custom-radio-button, .custom-checkbox {
        padding-right: 0;
    }
</style>
<div class="vt-ResultPanel-Title" style="display:none">
   @if(side==1)
   {
       <span>Tìm thấy @Model.Count cán bộ</span> 
   }
    else
   {
       <span>Danh sách thành viên của nhóm: @Model.Count thành viên</span> 
   }
    
    <div class="Clear"></div>
</div>

    @{
        var index = 1;

        Html.Telerik()
            .Grid(Model)
           .HtmlAttributes(new { @class = "GeneralTable General1Table" })
            .Name("Grid")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(30);
                c.Bound(o => o.TeacherCode).Title("Mã cán bộ").Width(100);
                c.Bound(o => o.FullName).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left" }).Width(150);
                c.Bound(o => o.Genre).Template(@<text>@(item.Genre?GlobalConstants.GENRE_MALE_TITLE:GlobalConstants.GENRE_FEMALE_TITLE)</text>).Title("Giới tính").Width(60);
                c.Bound(o => o.SchoolFacultyName).HtmlAttributes(new { style = "text-align:center" }).Title("Tổ bộ môn").Width(70);
                c.Bound(o => o.WorkGroupTypeName).HtmlAttributes(new { style = "text-align:center" }).Title("Đối tượng").Width(80);
                c.Bound(o => o.WorkTypeName).Title("Công việc").Width(100);
                c.Bound(o => o.Mobile).HtmlAttributes(new { style = "text-align:center;padding:0px" }).Title("Số điện thoại").Width(85);
                    
                c.Template(@<text>
                    @{  <label class="custom-checkbox p-r-0 p-l-15">
                            <input type='checkbox' class='checkedIds' value='@item.TeacherID' onclick="onCheckboxClick(this)" />
                            <span class="checkmark"></span>
                        </label>
                        
                        if (side == 2)
                        {
                            <input type="hidden" value="@item.TeacherID" name="lstTeacherInGroupId" />
                        }
                     }
                </text>)
                    .HtmlAttributes(new { style = "text-align:center;padding:0px 0px 0px 0px" }).HeaderTemplate("<div style='text-align:center'><label class='custom-checkbox p-r-0 p-l-15'><input type='checkbox' id='chekAll' onclick='onCheckAllClick(this)'/><span class='checkmark'></span></lable></div>").Width(50);
                 
        })

            .DataKeys(keys => keys.Add(o => o.TeacherID))
            .Scrollable(u => u.Height(140))
            .Selectable()
            .Resizable(resize => resize.Columns(false))
            .Footer(false)
            .NoRecordsTemplate(@<text></text>)
            .Render();

    }
