﻿@model ContactGroupSearchViewModel
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@{
    SelectList slSchoolFaculty = (SelectList)ViewData[ContactGroupConstant.CBO_SCHOOL_FALCULTY];
    SelectList sltWorkGroupType = (SelectList)ViewData[ContactGroupConstant.CBO_WORK_GROUP_TYPE];
    SelectList slComunity = new SelectList(new List<object>
                                                {
                                                    new {
                                                        key=ContactGroupConstant.COMUNITY_YOUTH_LEAGE_MEMBER,
                                                        value="Đoàn viên"
                                                    },
                                                    new {
                                                        key=ContactGroupConstant.COMUNITY_SYNDICATE,
                                                        value="Công đoàn viên"
                                                    },
                                                    new 
                                                    {
                                                        key=ContactGroupConstant.COMUNITY_COMMUNIST_PARTY_MEMBER,
                                                        value="Đảng viên"
                                                    }
                                                }, "key", "value");

    SelectList slGenre = new SelectList(new List<object>
                                                {
                                                    new {
                                                        key=GlobalConstantsEdu.GENDER_MALE,
                                                        value="Nam"
                                                    },
                                                    new {
                                                        key=GlobalConstantsEdu.GENDER_FEMALE,
                                                        value="Nữ"
                                                    }
                                                }, "key", "value");

    SelectList slPhoneNetwork = new SelectList(new List<object>
                                                {
                                                    new {
                                                        key=ContactGroupConstant.PHONE_NETWORK_VIETTEL,
                                                        value="Viettel"
                                                    },
                                                    new {
                                                        key=ContactGroupConstant.PHONE_NETWORK_OTHER,
                                                        value="Mạng khác"
                                                    }
                                                }, "key", "value");

    SelectList slWorkType = new SelectList(new List<object>());

}

    <div class="vt-SearchPanel">
       
        <div class="vt-SearchPanel-Content no-padding">
            <div class="vt-control">
                <div class="editor-label"><label for="SchoolFacultyID">Tổ bộ môn</label></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SchoolFacultyID, slSchoolFaculty, Res.Get("All"))
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="WorkGroupTypeID">Đối tượng</label></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.WorkGroupTypeID, sltWorkGroupType, Res.Get("All"), new { onchange = "onWorkGroupTypeChange(this)" })
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="WorkGroupTypeID">Công việc</label></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.WorkTypeID, slWorkType, Res.Get("All"))
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="ComunityID">Đoàn thể</label></div>
                <div class="editor-field">
                @Html.DropDownListFor(model => model.ComunityID, slComunity, Res.Get("All"))
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="EmployeeFullName">Họ và tên</label></div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EmployeeFullName, new { maxlength = 100 })
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="EmployeeCode">Mã cán bộ</label></div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EmployeeCode, new { maxlength = 50 })
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="Genre">Giới tính</label></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Genre, slGenre, Res.Get("All"))
                </div>
            </div>
            <div class="vt-control">
                <div class="editor-label"><label for="PhoneNetwork">SĐT mạng</label></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.PhoneNetwork, slPhoneNetwork, Res.Get("All"))
                </div>
            </div>
        </div>

        <div class="BtnCenterSection mg-b-5 p-b-5" style="text-align:center!important">
            <input type="button" class="btn btn-info btn-round btn-icon btn-icon-search" onclick="TopSearch();" value="Tìm kiếm">
           
        </div>

    </div>
