﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.SMSEduArea
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Constants
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@{
    ViewBag.Title = Res.Get("SCSContactGroup_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SMS_TEACHER_CONTACT_GROUP> lstContactGroupBO = (List<SMS_TEACHER_CONTACT_GROUP>)ViewData[ContactGroupConstant.LIST_CONTACT_GROUP];
    int cgCount = lstContactGroupBO != null ? lstContactGroupBO.Count : 0;
    SMS_TEACHER_CONTACT_GROUP objContactGroup = null;
    GlobalInfo globalInfo = new GlobalInfo();
}

<script type="text/javascript">
    //variable check insert or update
    var isUpdate = true;
    //variable check isDefault group - set value in _DetailContactGroup
    var isDefaultGroup = false;
    //variable save ContactGroupInsert
    var arrTeacherInGroup = '';
    var arrTeacherOutGroup = '';
    //check isFirstLoad - dung de chay su kien button On Off trong _DetailContactGroup
    var isFirstLoad = true;
    //variable double click event - set value in _DetailContactGroup
    var isDoubleClick = false;
    //variable isExistsName - check validate contactGroupName
    var isExistsName = false;
    //variable isSaveChangeName and oldName- check if no save change name
    var isSaveChangeName = false;
    //variable - check when change contactGroup but no save
    var oldContactGroupName = '';
    //variable - check when typing search input
    var isTyping;

    // variable - Confirm Save 
    var ValueChanged = false;
    var continueHandler = null;
    //Message popup
    var msg_popup = '@Res.Get("Label_Validate_ContactGroup")';
    //Mesggage new_group_done
    var msg_new_group = '@Res.Get("SCSContactGroup_Label_NewGroup")';
    //Message new_group exitsts
    var msg_group_exists = '@Res.Get("SCSContactGroup_Label_ExistsGroupName")';
    //Load contactgroup URL
    var dtl_url = '@Url.Action("ViewDetail", "ContactGroupConfig")';
    //Save contact Group URL
    var save_url = '@Url.Action("SaveContactGroup", "ContactGroupConfig")';
    var assign_url = '@Url.Action("Assign", "ContactGroupConfig")';
    var ajaxLoadWorkType_url = '@Url.Action("AjaxLoadWorkType")';
    var search_url = '@Url.Action("Search")';
    var delete_url = '@Url.Action("Delete")';
    var index_url = '@Url.Action("Index")';
    var add_or_cancel_url = '@Url.Action("AddOrCancel")';
    var IDNew;
    var cg_count =  '@cgCount';
    var create_default_url = '@Url.Action("CreateDefaultGroup")';
    var assign_save_url = '@Url.Action("SaveAssign")';
</script>
@(Html.Telerik().Window()
    .Name("LoadConfirm")
        .Title(Res.Get("Common_Label_Alert"))
    .Content(@<text>
<div class="popup-content-fault" id="Message">
</div>
<div style="width: 100%; text-align: center;">
    <input type="button" id="btOK" value="@Res.Get("Commbon_Button_Accept")" class="t-button" onclick="Close()" />
</div>
</text>)
.Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
    )
@(Html.Telerik().Window()
    .Name("ConfirmNotEmpty")
    .Title(Res.Get("Common_Label_Alert"))
    .Content(@<text>
<div class="popup-content-fault">
    @Res.Get("ContactGroup_Confirm_NotEmpty")
</div>
<div style="width: 100%; text-align: center;">
    <input type="button" id="btCancel" value="@Res.Get("CloseRK")" class="t-button" onclick="smas.closeDialog('ConfirmNotEmpty'); smas.hideProcessingDialog();" />
</div>
</text>)
    .Buttons(b => b.Clear())
    .Draggable(true)
    .Visible(false)
    .Width(350)
    .Height(100)
    .Modal(true)
    .Scrollable(false)
    .ContentHtmlAttributes(new { style="min-width: 500px;"})
)
@{
    if (globalInfo.IsAdmin || globalInfo.IsRolePrincipal)
    {
    @Html.AntiForgeryToken() 
    <div id="divContactGroup" class="ContentSectionBtm">
        <div class="Content2Section">
            <div class="GroupContentSection">
                <div class="HomeSection">
                    <div class="SideBarTopMenu">
                        <div class="SideBarLoopMenu">
                            <ul class="ResetList SideBarListMenu" style="border-radius:5px !important;">
                                <li class="EndItem bg-green" style="padding:6px 12px;"><span class="TitleStyle" style="font-weight:bold;color:white;font-size:14px !important;">@Res.Get("SCSContactGroup_Label_GroupList")</span>  </li>
                                    <li class="ResetList">
                                        <ul class="ResetList">
                                            @for (int i = 0, size = lstContactGroupBO.Count; i < size; i++)
                                            {
                                                objContactGroup = lstContactGroupBO[i];
                                                if (objContactGroup.IS_DEFAULT)
                                                {
                                                <li onclick="CheckToLoad(this,@objContactGroup.CONTACT_GROUP_ID)"><a class="Active" href="javascript:" id="NameGroup-@objContactGroup.CONTACT_GROUP_ID" style="word-wrap: break-word;">@objContactGroup.CONTACT_GROUP_NAME</a></li>                                      
                                                }
                                                else
                                                {
                                                <li onclick="CheckToLoad(this,@objContactGroup.CONTACT_GROUP_ID)"><a href="javascript:" id="NameGroup-@objContactGroup.CONTACT_GROUP_ID" style="word-wrap: break-word;">@objContactGroup.CONTACT_GROUP_NAME</a></li>                                      
                                                }
                                            }
                                            <li class="EndItem" onclick="CheckToLoad(this, 0)"><a href="javascript:">
                                                <span style='font-size: 11pt;'>+</span> @Res.Get("AddNew")</a></li>
                                        </ul>
                                    </li>
                            </ul>
                        </div>                    
                    </div>
                    <div class="MainContentSectionRight" style="overflow: hidden">
                        <div class="StudentsListSection" id="ContactGroupDetailSection">
                            @{
                                Html.RenderPartial("_detailContactGroupNew", new ViewDataDictionary() { {ContactGroupConstant.CONTACT_GROUP, ViewData[ContactGroupConstant.CONTACT_GROUP]},
                                                                            {ContactGroupConstant.COUNT_TEACHER, ViewData[ContactGroupConstant.COUNT_TEACHER]},
                                                                            {ContactGroupConstant.CBO_SCHOOL_FALCULTY,ViewData[ContactGroupConstant.CBO_SCHOOL_FALCULTY]},
                                                                            {ContactGroupConstant.CBO_WORK_GROUP_TYPE,ViewData[ContactGroupConstant.CBO_WORK_GROUP_TYPE]}
                                                                            });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    }
    else
    {
    <div class="ContentSection">
        <div class="GroupContentSection">
            <div class="TitleTab1SectionBtm bg-green" style="padding-left: 5px;">
                <p>@Res.Get("Message_Notice_Label")</p>
            </div>
            <div class="GeneralInCtnSection">
                <div class="ContentListSection" style="display: block; padding: 0px;">
                    <p class="GroupPerson" style="text-align: center; margin: 0px;">
                        <span>@Res.Get("Message_Role_Notice")</span></p>
                </div>
            </div>
        </div>
    </div>
    }
}
@(Html.Telerik().Window()
                .Name("ConfirmAlertDialog")
                .Buttons(b => b.Clear())
                .Title(Res.Get("Common_Label_Alert"))
                .Content(@<text>@Html.Partial("_ConfirmAlert")</text>)
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
)


@Html.AntiForgeryToken()
@section script {
    @System.Web.Optimization.Scripts.Render("~/bundles/ContactGroupConfig")
}
@if(lstContactGroupBO!=null && lstContactGroupBO.Count<=1)
{
    <script>
        $(document).ready(function () {
            setTimeout(function() {
                smas.confirm('@Res.Get("ContactGroupConfig_Create_Default_Confirm")', function () {
                    var form = $('#frmDetail');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();

                    $.ajax({
                        url: create_default_url,
                        type: 'post',
                        xhrFields: {
                            withCredentials: true
                        },
                        data: { __RequestVerificationToken: token },
                        beforeSend: function () {
                            smas.showProcessingDialog();
                        },
                        complete: function () {
                            smas.hideProcessingDialog();
                        },
                        success: function (data) {
                            if (data.Type == 'error') {
                                smas.alert(data)
                            }
                            else {
                                window.location = index_url;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            smas.alert(XMLHttpRequest.responseText);
                            if (failCallBack != null) {
                                failCallBack(XMLHttpRequest.responseText);
                            }
                        }
                    });
                });
            });
    });
    </script>
}
