﻿
<div id="menu12">
    <div style=" visibility: hidden" class="panner" id="pannerLeft" data-scroll-modifier='-1'>
        <ul >
            <li > <a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-left"></a></li>
        </ul>
    </div>
    <div  id="listMonthWraper">
         @* @Html.Partial("_ViewMonth")*@
    </div>
    <div style="visibility: hidden;" class="panner" id="pannerRight" data-scroll-modifier='1'>
        <ul style="text-align: center">
            <li>
                <a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-right"></a>
            </li>
        </ul>
    </div>
</div>

<script type ="text/javascript">
    $(document).ready(function () {
        ScrollSubject();
    });
    function ChoiceMonth(button)
    {
        $("#HiddenPanel #ChooseWeekSelected").val(0);
        var monthID = $(button).attr('value');        
        controlUtils.ChangeStyleButton(button);   
        $('#HiddenPanel #MonthID').val(monthID);
        $('#lstResult').html('');
        LoadGrid();
        //LoadTitleGoodChildren();
        $('#listMonthWraper .ListMonth a.Active').focus();
    }
</script>