﻿@model ConcurrentWorkReplacementViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ConcurrentWorkAssignmentArea.Models
@using SMAS.Web.Areas.ConcurrentWorkAssignmentArea
@using SMAS.Web.Constants
@{
    GlobalInfo global = new GlobalInfo();
    var icy = global.IsCurrentYear;
    int create = GlobalConstants.PERMISSION_LEVEL_CREATE;
    int edit = GlobalConstants.PERMISSION_LEVEL_EDIT;
    int delete = GlobalConstants.PERMISSION_LEVEL_DELETE;
    int hasPermission = (int)ViewData[ConcurrentWorkAssignmentConstants.HAS_PERMISSION_REPLACE];
    bool isCurrentYear = global.IsCurrentYear;
    }
<div class="vt-ResultPanel concurrent-work-ass-page-replace-list">
    <div class="vt-ResultPanel-Title">
        <div class="vt-ResultPanel-Title-Button">
            @if(isCurrentYear && hasPermission >= create)
            {
                @Html.ViettelButton(Res.Get("Common_Button_AddNew"), new Dictionary<string, object> { { "id", "btnCreate" } }, "button", "PrepareCreateWorkReplacement();", "btn btn-info btn-round btn-icon btn-icon-plus")
            }
            else
            {
                 @Html.ViettelButton(Res.Get("Common_Button_AddNew"), "button", "","t-state-disabled btn btn-info btn-round btn-icon btn-icon-plus")
            }
        </div>
        <div class="Clear" ></div>
    </div>
    @{
        var index = 1;

        Html.Telerik()
            .Grid((IEnumerable<ConcurrentWorkReplacementViewModel>)ViewData[ConcurrentWorkAssignmentConstants.LIST_CONCURRENTWORKREPLACEMENT])
            .Name("GridConcurrentWorkReplacement")
            .Columns(c =>
            {
                c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(30);

                c.Bound(o => o.ConcurrentWorkTypeName).Sortable(true).Visible(true);
                c.Bound(o => o.TeacherName).Sortable(true).Visible(true);
                c.Bound(o => o.ReplacedTeacherName).Sortable(true).Visible(true);
                c.Bound(o => o.FromDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Sortable(true);
                c.Bound(o => o.ToDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center" }).Sortable(true);
                c.Bound(o => o.Description).Sortable(true).Visible(true);

                c.Command(cmd =>
                {
                    cmd.Custom("vtEdit")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("EditWorkReplacement", "ConcurrentWorkAssignment")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-vtEdit icon icon-edit" });
                }).Title(Res.Get("Common_Column_Edit")).Width(20);

                c.Command(cmd =>
                {
                    cmd.Custom("vtDelete")
                       .Text(Res.Get("Common_Column_Edit"))
                       .Ajax(true)
                       .Action("DeleteWorkReplacement", "ConcurrentWorkAssignment")
                       .ButtonType(GridButtonType.Image)
                       .ImageHtmlAttributes(new { @class = "t-icon t-vtDelete icon icon-trash" });

                }).Title(Res.Get("Common_Column_Delete")).Width(20);
            })
            .DataBinding(b =>
                b.Ajax().OperationMode(GridOperationMode.Client)
                        .Select("SearchWorkReplacement", "ConcurrentWorkAssignment")

             )
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBindingWorkReplacement")
                                .OnCommand("Grid_onCommandWorkReplacement")
                                .OnDataBound("Grid_OnDataBoundConcurrentWorkReplace")
            )
            .DataKeys(keys => keys.Add(o => o.ConcurrentWorkReplacementID))
            .Pageable(p => p.PageSize(ConcurrentWorkAssignmentConstants.PAGE_SIZE))
            .Sortable()
            .Resizable(o => o.Columns(true))
            //.Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Selectable()
            .Render();
    }


  
  @(Html.Telerik().Window()
                .Name("editDialogWorkReplacement")
                .Title(Res.Get("ConcurrentWorkReplacement_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_EditWorkReplacement")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(400).ContentHtmlAttributes(new { style = " min-width:600px;"}))
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@icy' == "True") {
            $("#btnCreate").removeAttr("disabled");
            $("#btnCreate").removeClass("t-state-disabled");
        }
        else {
            $("#btnCreate").attr("disabled", "disabled");
            $("#btnCreate").addClass("t-state-disabled");
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit)) {
            disableLinkConcurrentWorkRepalceEdit();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete)) {
            disableLinkConcurrentWorkReplaceDetele();
        }
    });
    var lstInd = 0;

    var hasPermis = '@hasPermission';
    var jedit = '@edit';
    var jdelete = '@delete';
    var isCurrentYear = '@isCurrentYear';
    function Grid_OnDataBoundConcurrentWorkReplace(e) {
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jedit)) {
            disableLinkConcurrentWorkRepalceEdit();
        }
        if (isCurrentYear == "False" || parseInt(hasPermis) < parseInt(jdelete)) {
            disableLinkConcurrentWorkReplaceDetele();
        }
    }

    function disableLinkConcurrentWorkRepalceEdit() {
        $("#GridConcurrentWorkReplacement .t-grid-vtEdit .t-icon").removeClass("t-vtEdit");
        $("#GridConcurrentWorkReplacement .t-grid-vtEdit .t-icon").addClass("t-vtEditDisabled icon icon-edit");
        $("#GridConcurrentWorkReplacement .t-grid-vtEdit").selectable(false);
    }
    function disableLinkConcurrentWorkReplaceDetele() {
        $("#GridConcurrentWorkReplacement .t-grid-vtDelete .t-icon").removeClass("t-vtDelete");
        $("#GridConcurrentWorkReplacement .t-grid-vtDelete .t-icon").addClass("t-vtDeleteDisabled icon icon-trash");
        $("#GridConcurrentWorkReplacement .t-grid-vtDelete").selectable(false);
    }

    function Grid_onDataBindingWorkReplacement(e) {
        var grid = $('#GridConcurrentWorkReplacement').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;

        e.data = jsonUtils.serializeObject("frmSearch");
    }
    function Grid_onCommandWorkReplacement(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var item = e.dataItem;

            formUtils.resetForm("editDialogWorkReplacement");
            smas.bindTo(item, "editDialogWorkReplacement");
            frmId = "frmEditWorkReplacement";
            controlUtils.loadComboBox(
                $("#" + frmId + " #ReplacedTeacherID"),
                '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkAssignment")',
                { SchoolFacultyID: item.SchoolFacultyID, teacherID: item.TeacherID},
                '@Res.Get("SelectRK")',
                SetReplacedTeacherID,
                item.ReplacedTeacherID
            );
                smas.openDialog("editDialogWorkReplacement", "", {});
            }

            if (e.name == "vtDelete") {
                e.preventDefault();
                var item = e.dataItem;
                var str = '@Html.Raw(Res.Get("ConcurrentWorkReplacement_Label_Confirm1"))' + ' ' + item.TeacherName + ' ' + '@Html.Raw(Res.Get("ConcurrentWorkReplacement_Label_Confirm2"))';
                smas.confirm(str, function () {
                    smas.post('@Url.Action("DeleteWorkReplacement")', { id: item.ConcurrentWorkReplacementID }, searchWorkReplacement, null);
                })
            }
        }
        function PrepareCreateWorkReplacement() {
            formUtils.resetForm("createDialogWorkReplacement");
            smas.openDialog("createDialogWorkReplacement", "", {});
        }

        function SetReplacedTeacherID(val) {
            $("#frmEditWorkReplacement #ReplacedTeacherID").val(val);

        }

        function SetTeacherID(val) {
            $("#frmEditWorkReplacement #TeacherID").val(val);
        }

        function searchWorkReplacement() {
            $("#lstConcurrentWorkReplacement").load('@Url.Action("SearchWorkReplacement", "ConcurrentWorkAssignment")',{

            });
    }
</script>



