﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Models.Models
@using SMAS.VTUtils.Utils
@using SMAS.Web.Areas.ConcurrentWorkAssignmentArea


    @{
    
        Html.Telerik()
            .Grid((IEnumerable<Employee>)ViewData[ConcurrentWorkAssignmentConstants.LIST_TEACHER])
            .Name("GridConcurrentWorkAssignment")
            .Columns(c =>
            {
                c.Template(@<text>
        @Html.ViettelCheckBox("ListTeacherID", item.EmployeeID, null, " ", false, false)
        </text>)
                 .Title(" ")
                 .HtmlAttributes(new { style = "text-align:center" })
                 .Width(80);

                c.Bound(o => o.EmployeeCode).Title(Res.Get("ConcurrentWorkAssignment_Label_TeacherCode"));
                c.Bound(o => o.FullName).Title(Res.Get("ConcurrentWorkAssignment_Label_TeacherName"));
            })
            .DataKeys(keys => keys.Add(o => o.EmployeeID))
            .Selectable()
            .Render();
    
    }




