﻿				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ConcurrentWorkAssignmentArea.Models

@{
    ViewBag.Title = Res.Get("ConcurrentWork_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add()
                .Text(Res.Get("ConcurrentWorkAssignment_Label"))
                .Content(@<text>
                    <div id="lstConcurrentWorkAssignment">
                        @Html.Partial("_List")
                    </div>
                </text>);
    
            //tabstrip.Add().Url(Url.RouteUrl("ConcurrentWorkReplacementArea_default", new {controller = "ConcurrentWorkReplacement", action = "Index"}))
            //    .Text(Res.Get("ConcurrentWorkReplacement_Label"))
            //    .Content(" ");
                
                tabstrip.Add()
                .Text(Res.Get("ConcurrentWorkReplacement_Label"))
                .Content(@<text>
                    <div id="lstConcurrentWorkReplacement">
                        @Html.Partial("_ListWorkReplacement")
                    </div>
                </text>);
        })
        .SelectedIndex(0)
        .Render();
}

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ConcurrentWorkAssignment_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(700).ContentHtmlAttributes(new { style = "min-width: 700px;" })
                //.Height(450)
)

@(Html.Telerik().Window()
                .Name("createDialogWorkReplacement")
                .Title(Res.Get("ConcurrentWorkReplacement_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_CreateWorkReplacement")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600).ContentHtmlAttributes(new { style = "min-width: 700px;" , @class = "concurrent-work-assi-page-2-create" })
        //.Height(365)
)


<script type="text/javascript">

    function validateForm() {
        if ($("#frmCreate input[name=ListTeacherID]:checked").length == 0) {
            smas.alert({Type: "error", Message: "@Res.Get("ConcurrentWorkAssignment_Label_NoTeacherSelected")"});
            return false;
        }
        return true;
    }

    function AjaxLoadTeacher(cboFaculty) {
        smas.showProcessingDialog();
        $("#ListTeacher").load(
            '@Url.Action("LoadTeacher", "ConcurrentWorkAssignment")',
            { FacultyID: $(cboFaculty).val() },
            smas.hideProcessingDialog
        );
    }

    var lstInd = 0;
    function Grid_onDataBinding(e) {
        var grid = $('#GridConcurrentWorkAssignment').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }

    // Hàm này được gọi khi thực hiện xong việc cập nhật dữ liệu lên server
    function Grid_OnComplete(e) {
        response = e.response;
        smas.alert(response);
        if (response.Type == 'success') {
            search();
        }
    }

    // Hàm thực hiện khi bắt đầu edit dữ liệu trên grid
    // 
    function Grid_onEdit(e) {
        //smas.showProcessingDialog();
        e.preventDefault();
        var form = e.form;
        var item = e.dataItem;
        $(form).find("#WorkTypeName").val(item.ConcurrentWorkTypeID);
        setTimeout('ReOrderNumber();', 200);
    }

    function Grid_onSave(e) {
        var item = e.dataItem;
        var values = e.values;
        values["ConcurrentWorkTypeID"] = values["WorkTypeName"];
        ReOnload();
    }


    function ReOrderNumber() {
        var grid = $('#GridConcurrentWorkAssignment').data('tGrid')

        var Ind = (grid.currentPage - 1) * grid.pageSize + 1;
        $("#GridConcurrentWorkAssignment .t-grid-content tr").each(function () {
            
            $(this).find("td").first().html(Ind);
            Ind = Ind + 1;
        });
        
       
    }

  
    function Grid_onCommand(e) {
        ReOnload();
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            var str = '@Html.Raw(Res.Get("ConcurrentWorkAssignment_Label_Confirm1"))' + ' ' + item.TeacherName + ' ' + '@Html.Raw(Res.Get("ConcurrentWorkAssignment_Label_Confirm2"))';
            smas.confirm(str, function () {
                smas.post('@Url.Action("Delete")', { id: item.ConcurrentWorkAssignmentID }, search, null);
             })
        }

        
    }
    function PrepareCreate() {
        formUtils.resetForm("createDialog");
        //$("#GridConcurrentWorkAssignment table tbody").find("tr").remove();
        smas.openDialog("createDialog", "", {});
    }

    function search() {
        
        $("#lstConcurrentWorkAssignment").load(
            '@Url.Action("Search", "ConcurrentWorkAssignment")',
            {}
            
        );
    }

   @* function AjaxLoadReplacedTeacher(cboSchoolFacultyID) {
        frmId = $(cboSchoolFacultyID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ReplacedTeacherID"),
            '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkAssignment")',
            { SchoolFacultyID: $(cboSchoolFacultyID).val() },
            '@Res.Get("SelectRK")', function () { removeOption();}
        );
    }*@

    function AjaxLoadReplacedTeacher(cboSchoolFacultyID) {
        frmId = $(cboSchoolFacultyID).closest('form').get(0).id;
        var cboSchoolFacultyID = $(cboSchoolFacultyID).val();
        var teacherID = $("#"+frmId).find("#TeacherID").val();
        controlUtils.loadComboBox(
            $("#" + frmId + " #ReplacedTeacherID"),
            '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkAssignment")',
            { SchoolFacultyID: cboSchoolFacultyID, TeacherID: teacherID },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadReplaTeacher(cboTeacher) {
        frmId = $(cboTeacher).closest('form').get(0).id;
        var cboSchoolFacultyID = $("#" + frmId).find("#SchoolFacultyID").val();
        var teacherId = $("#" + frmId).find("#TeacherID").val();
        controlUtils.loadComboBox(
            $("#" + frmId + " #ReplacedTeacherID"),
            '@Url.Action("AjaxLoadReplacedTeacher", "ConcurrentWorkAssignment")',
            { SchoolFacultyID: cboSchoolFacultyID, TeacherID: teacherId },
            '@Res.Get("SelectRK")'
        );
    }

    function AjaxLoadAsignedTeacher(cboConcurrentWorkTypeID) {
        frmId = $(cboConcurrentWorkTypeID).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #TeacherID"),
            '@Url.Action("AjaxLoadAsignedTeacher", "ConcurrentWorkAssignment")',
            { ConcurrentWorkTypeID: $(cboConcurrentWorkTypeID).val() },
            '@Res.Get("SelectRK")'
        );
    }
</script>