﻿@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.ReportExamViolateArea
@using SMAS.Models.Models
@using Telerik.Web.Mvc.UI
@using SMAS.Business.Business
@{
    ViewBag.Title = @Res.Get("ReportExamViolate_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ExportExcel", "ReportExamViolate", FormMethod.Post, new { id = "ReportExamViolateForm" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
        </div>
        <div class="vt-SearchPanel-Content">
            <table>
                <tr>
                    <td style="width: 80px">
                        @Res.Get("ReportExamViolate_Label_ReportType")
                    </td>
                    <td style="width: 30%; text-align: left">
                        @Html.ViettelRadioButton("rdoReportType", 1, true, new Dictionary<string, object> { { "id", "rdoListReport" } })
                        @Res.Get("ReportExamViolate_Label_ViolatedInvilgilatorReport")
                        <br />
                        @Html.ViettelRadioButton("rdoReportType", 2, false, new Dictionary<string, object> { { "id", "rdoRollReport" } })
                        @Res.Get("ReportExamViolate_Label_ViolatedCandidateReport")
                        <br />
                    </td>
                    <td class="cssClass" id="listcombo">
                        <div id="comoboList">
                            @(Html.ViettelCombobox(Res.Get("ReportExam_Label_Examination"), "ExaminationID",
                                new SelectList((IEnumerable<Examination>)ViewData[ReportExamViolateConstants.LIST_EXAMINATION], "ExaminationID", "Title"),
                                GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { 
                                    { "style", "width: 250px" },                                   
                                    {"OnChange", "AjaxLoadEducation(this)"},                                                                  
                                }, false, true))
                            @(Html.ViettelCombobox(Res.Get("ReportExam_Label_EducationLevel"), "EducationLevelID",
                                        new SelectList((IEnumerable<EducationLevel>)ViewData[ReportExamViolateConstants.LIST_EDUCATION_LEVEL], "EducationLevelID", "Resolution"),
                                GlobalConstants.PLACEHOLDER_CHOICE,
                                new Dictionary<string, object> { 
                                    { "style", "width: 250px" },                                 
                                    {"OnChange", "AjaxLoadExaminationSubject(this)"}                                  
                                }, false, true))
                            @(Html.ViettelCombobox(Res.Get("ReportExam_Label_ExaminationSubject"), "ExaminationSubjectID",
                                        new SelectList((IEnumerable<ExaminationSubject>)ViewData[ReportExamViolateConstants.LIST_EXAMINATION_SUBJECT], "ExaminationSubjectID", "SubjectCat.SubjectName"),
                                GlobalConstants.PLACEHOLDER_ALL,
                                new Dictionary<string, object> { 
                                    { "style", "width: 250px" }                                                               
                                }, false, false))
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Export"), "button", "submitForm();", "")
        </div>
    </div> 
}
<script type="text/javascript">

    function submitForm() {
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();
        if (ExaminationID == null || ExaminationID == "") {
            smas.alert({ Type: "error", Message: "@Res.Get("Examination_Label_SetExaminationStageErrorMessage")" });
            $("#ExaminationID").focus();
            return false;
        }
        if (EducationLevelID == null || EducationLevelID == "") {
            smas.alert({ Type: "error", Message: "@Res.Get("InputExaminationMark_Label_EducationLevelNotAvailable")" });
            $("#EducationLevelID").focus();
            return false;
        }
        $("#ReportExamViolateForm").submit();
    }
    function AjaxLoadExaminationSubject(item) {
        frmId = $(item).closest('form').get(0).id;
        var ExaminationID = $("#ExaminationID").val();
        var EducationLevelID = $("#EducationLevelID").val();

        controlUtils.loadComboBox(
            $("#" + frmId + " #ExaminationSubjectID"),
            '@Url.Action("AjaxLoadExaminationSubject", "ReportExamViolate")',
            {
                idExaminationID: ExaminationID,
                idEducationLevelID: EducationLevelID
            }, '@Res.Get("All")'
        );
    }

    function AjaxLoadEducation(exam) {        
        $('#ExaminationSubjectID').find('option').remove().end().append('<option value="">@Res.Get("CHOICE")</option>').val('whatever');                
        var examinationID = $(exam).val();
        controlUtils.loadComboBox(
            $("#EducationLevelID"),
            '@Url.Action("LoadEducationLevel", "ReportExamViolate")',
            { examinationID: examinationID },
            '@Res.Get("CHOICE")'
        );
        }
</script>
