@model SMAS.Models.Models.RoleMenu
@using Com.Viettel.Framework.HtmlHelpers

@{
    ViewBag.Title = @Resources.Resource.CreateRK;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@Resources.Resource.CreateRK</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>RoleMenu</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value=@Resources.Resource.CreateRK
			/>
        </p>
    </fieldset>
}

<div>
    @Html.ViettelActionLink(@Resources.Resource.BackRK, "Index")
</div>


