﻿@model ITQualificationLevelViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ITQualificationLevelArea.Models

@using (Ajax.BeginForm("Create",
                       "ITQualificationLevel",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    <div id="CreateFaultCriteria" class="vt-EditorPanel vt-EditorPanel-1 it-qual-level-page-create">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('createDialog');", "btn btn-basic btn-round")
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#frmCreate #EncouragePoint").addClass("decimal");
    });

    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            //            formUtils.focusForm("frmCreate");
            setTimeout("smas.closeDialog('createDialog')", 300);
            search();
        }
    }
    function CreateFail(ajaxContext) {
        //        smas.alert(ajaxContext.responseText);
    }
    $(document).ready(function () {
        $('#frmCreate #EncouragePoint')[0].dataset.valNumber = "Điểm khuyến khích phải là số";
    });
</script>


