﻿@model EWalletInfoViewModel
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models

<style type="text/css">
    .info-item {
        line-height: 2em;
    }
</style>

<div class="block">
    <div class="block-titlebar bg-green">Tài khoản</div>
    <div class="block-content">
        @*So du tai khoan*@
        <p class="info-item">@Html.LabelFor(m => m.Balance): @(Model == null ? "0" : Model.Balance.ToString("#,##0.#")) VNĐ</p>
        @*So tin nhan khuyen mai*@
        <p class="info-item">@(Model == null ? "" : Model.ContentPromotion) </p>
        @*<p class="info-item">@Html.LabelFor(m => m.NumOfPromotionInternalSMS): @(Model == null ? 0 : Model.NumOfPromotionInternalSMS) @Res.Get("SMSTeacher_Label_SMS")</p>*@
        @*<a href="javascript:" onclick="showPromotionDetailPopup()">(Chi tiết)</a>*@
    </div>
</div>
<style>
    .t-window-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .t-window-content {
        height: auto !important;
    }
</style>
@(Html.Telerik().Window()
        .Name("PromotionDetailPopUp")
        .Title(Res.Get("Promotion_Information_Label"))
        .Content(@<text>
            <div id="PromotionDetail" class="popup-promotion-content">
                <p>
                    <label class="LabelStyle PromotionContentStyle">
                        <span class="PromotionContentStyle"> @Res.Get("Promotion_Content_Label") </span>:
                        <span id="PromotionContent"></span>
                    </label>

                </p>
                <p>
                    <label class="LabelStyle PromotionContentStyle">
                        <span class="PromotionContentStyle">@Res.Get("Promotion_Time_Label") </span>:
                        <span id="PromotionTime"></span>
                    </label>
                </p>
            </div>
            <div class="Clear"></div>
            <div class="CloseButtonReceiverStyle">
                <input type="button" class="btn btn-info btn-round" value="@Res.Get("CloseRK")" onclick="closePopupPromotionDetail()" />
            </div>
        </text>)
        .Draggable(true)
        .Visible(false)
        .Width(500)
        .Height(200)
        .Modal(true)
        .ClientEvents(p => p.OnClose("onClosePopupPromotionDetail"))
        .Scrollable(false)
)

