@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.WorkTypeArea.Models

@{
    ViewBag.Title = @Res.Get("WorkType_Label_WorkType");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstWorkType">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("WorkType_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250).ContentHtmlAttributes(new { style = "min-width:450px;" })
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("WorkType_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(250).ContentHtmlAttributes(new { style = "min-width:450px;" })
)

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>
