@model EmployeeSalaryViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementArea.Models
@using SMAS.Web.Areas.EmployeeProfileManagementArea

@{
    int hdfIsEmployee = ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] != null ? (int)ViewData[EmployeeProfileManagementConstant.IS_EMPLOYEE] : 0;
 }
@using (Ajax.BeginForm("Edit",
                       "EmployeeSalary",
                       null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSalarySuccess",
                           OnFailure = "EditSalaryFail"
                       },
                       new { id = "frmSalaryEdit" }
                       ))
{
    <div id="EditEmulationCriteria" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control" style="width:90%">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("EmployeeSalaryID")
            @Html.ViettelHidden("hdfIsEmployeeSalaryEdit",hdfIsEmployee)
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmSalaryEdit')) return false;", " btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editSalaryDialog');searchSalary();", "btn btn-basic btn-round")
        </div>
    </div>
}
<script type="text/javascript">
    function EditSalarySuccess(msg) {
        smas.alert({ Type: msg.Type, Message: msg.Message });
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editSalaryDialog");', 500);
            searchSalary();
        }
    }
    function EditSalaryFail(ajaxContext) {
        // smas.alert(ajaxContext.responseText);
    }
</script>
