@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementArea.Models
@{
    string FullName = (string)ViewData["FullName"];
 }
<div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-2">
    <div class="vt-SearchPanel-Title">
        <div id="divTeacherName">
            @Html.ViettelLabel(Res.Get("EmployeeWorkingHistory_Label_Employee")) : <span id="EmployeeName">@FullName</span>
            @*<div class="vt-control TeacherName">
                <div class="editor-label">
                    @Html.ViettelLabel(Res.Get("EmployeeWorkingHistory_Label_Employee"))
                </div>
                <div class="editor-field">
                    @Html.ViettelTextBox("EmployeeName", "", new { @class = "vt-display-text", style = "border:0", disabled = "disabled" })
                </div>
            </div>*@
        </div>
    </div>
</div>
<div id="divError">
</div>
<div id="lstEmployeeSalary">
    @Html.Partial("../EmployeeSalary/_List")
</div>
@(Html.Telerik().Window()
                .Name("createSalaryDialog")
                .Title(Res.Get("EmployeeSalary_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("../EmployeeSalary/_Create", new EmployeeSalaryViewModel())</text>)
                                    .Buttons(buttons => buttons.Close())
                                    .Draggable(true)
                                    .Visible(false)
                                    .Modal(true)
                                    .Width(600)
                                   .Height(400)
                                   .ContentHtmlAttributes(new { style = "min-width:600px;" })
                    )
@(Html.Telerik().Window()
                .Name("editSalaryDialog")
                .Title(Res.Get("EmployeeSalary_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("../EmployeeSalary/_Edit", new EmployeeSalaryViewModel())</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(600)
                .Height(400)
                .ContentHtmlAttributes(new { style = "min-width:600px;" })
)
<script type="text/javascript">

    function searchSalary() {
        var employeeID = $("#EmployeeID").val();
        var hdfisEmployeeSalary = $('#hdfisEmployee').val();
        $.ajax({
            url: '@Url.Action("Search", "EmployeeSalary")',
            data: { EmployeeID: employeeID, hdfIsEmployee: hdfisEmployeeSalary },
            success: function (data) {
                $('#lstEmployeeSalary').html(data);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#divError').html(XMLHttpRequest.responseText);
            }
        });
    }
</script>
