﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.DistrictArea.Models
@using SMAS.Web.Utils

@model DistrictViewModel
@using (Ajax.BeginForm("Edit",
                       "District",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div id="UpdateDistrict" class="vt-EditorPanel vt-EditorPanel-1 district-area-page-edit">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()

            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("DistrictID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "btn btn-basic btn-round")
        </div>
    </div>


}

<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        console.log(ajaxContext);
        //smas.alert(ajaxContext.responseText);
    }
</script>
