﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Areas.DistrictArea.Models
@using SMAS.Web.Utils

@{
    ViewBag.Title = Res.Get("District_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool checkView = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_VIEW];
    if (!checkView)
    {
        throw new SMAS.Business.Common.BusinessException("Validate_Permission_Teacher");
    }
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstDistrict">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("District_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(450)
                .Height(300).ContentHtmlAttributes(new { style="min-width: 500px;"})
)

@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("District_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(450)
                .Height(300).ContentHtmlAttributes(new { style="min-width: 500px;"})
)

<script type="text/javascript">
    $(".multi-line").attr("rows", "5");
</script>
