﻿@model SMAS.Web.Areas.MoveDataHistoryManagerArea.Models.MoveDataHistoryManagerSearch
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.MoveDataHistoryManagerArea;
@using SMAS.Models.Models
@using SMAS.Web.Utils
@{
    ViewBag.Title = Res.Get("SchoolProfile_Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    IDictionary<string, object> dicProvince = new Dictionary<string, object> { { "OnChange", "AjaxLoadDistrict(this, this.options[this.selectedIndex].value);" } };
    IDictionary<string, object> dicDistrict = new Dictionary<string, object>();
}
 
    <div id="SearchPanel" class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6">
                    @Html.AntiForgeryToken()
                    @Html.ViettelTextbox(Res.Get("SchoolProfile_Label_Administrator"), "Administrator", "", new Dictionary<string, object> { { "id", "Administrator" } }, false, false)
                </div>
                <div class="col-md-6">
                    @Html.ViettelCombobox("Năm học chuyển dữ liệu", "YearId"
                                    , (SelectList)ViewData[MoveDataHistoryManagerConstants.LS_YEAR]
                                    , SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, new Dictionary<string, object>()
                                    , false, false)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.ViettelCombobox(Res.Get("SchoolProfile_Label_Province"), "Province"
                                    , new SelectList((IEnumerable<Province>)ViewData[MoveDataHistoryManagerConstants.LS_Province], "ProvinceID", "ProvinceName")
                                    , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, dicProvince
                                    , false, false)
                </div>
                <div class="col-md-6">
                    @(Html.ViettelCombobox(Res.Get("SchoolProfile_Label_District"), "District"
                                    , (SelectList)ViewData[MoveDataHistoryManagerConstants.LS_District]
                                    , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL
                                    , dicDistrict, false, false))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                     @(Html.ViettelComboboxFor(model => model.EducationGrade, Res.Get("SchoolProfile_Label_Grade"), new SelectList((IEnumerable<ComboObject>)ViewData[MoveDataHistoryManagerConstants.SEARCH_EDUCATIONGRADE], "key", "value")
                                    , SMAS.Web.Constants.GlobalConstants.PLACEHOLDER_ALL, new Dictionary<string, object> { }, 
                                     false))
                </div>
            </div>    
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("SearchRK"), "button", "Search()", "btn btn-info btn-round btn-icon btn-icon-search", "btnSearchSchoolProfile")
        </div>
    </div>

<div id="divGridSchoolProfile" class="vt-ResultPanel move-data-his-mana-page-result">
    @Html.Partial("_ListSchoolProfile")
</div>

<script type="text/javascript">
    $(".editor-field").has("select").addClass("custom-select");
    $(document).ready(
    function () {
        AjaxLoadDistrict();
    }
    );
   
    function Search() {
        var Administrator = $("#Administrator").val();
        var YearId = $("#YearId").val();
        var Province = $("#Province").val();
        var District = $("#District").val();
        var EducationGrade = $("#EducationGrade").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var InputData = {
                        "Administrator": Administrator,
                        "YearId": YearId,
                        "Province": Province,
                        "District": District,
                        "EducationGrade": EducationGrade,
                        "__RequestVerificationToken":token
                        };
        $.ajax({
            url: '@Url.Action("Search", "MoveDataHistoryManager")',
            type: 'post',
            data: InputData,
            beforeSend: function () {

                smas.showProcessingDialog();
            },
            success: function (data) {
                $("#divGridSchoolProfile").html(data);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function AjaxLoadDistrict() {
        var provinceId = $("#Province").val();

        smas.showProcessingDialog();
        controlUtils.loadComboBox(
            $("#District"),
            '@Url.Action("AjaxLoadingDistrict", "MoveDataHistoryManager")',
                        { provinceId: provinceId }, '@Res.Get("All")', smas.hideProcessingDialog
            );
    }

    function SaveSuccessSearchSchoolMove(data) {
        Search();
        smas.alert(data.Message);
    }
    function SaveFailSchoolMove(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    
</script>
