				
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassificationLevelHealthArea.Models

@{
    ViewBag.Title = @Res.Get("System_ClassificationLevelHealth");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel">
    @Html.Partial("_Search")
</div>

<div id="lstClassificationLevelHealth">
    @Html.Partial("_List")
</div>

@(Html.Telerik().Window()
                .Name("createDialog")
                .Title(Res.Get("ClassificationLevelHealth_DialogTitle_Add"))
                .Content(@<text>@Html.Partial("_Create")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(180)
)


@(Html.Telerik().Window()
                .Name("editDialog")
                .Title(Res.Get("ClassificationLevelHealth_DialogTitle_Edit"))
                .Content(@<text>@Html.Partial("_Edit")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(180)
)

<style type="text/css">
    .editor-field{float:left}.t-window .editor-label{width:30%}.t-window .editor-field{width:60%}.editor-field select{width:100%}.editor-field input,.editor-field textarea{width:97%}#SearchPanel .editor-label{padding-left:30%;width:12%}#SearchPanel .editor-field{width:20%;margin-right:10px}
</style>

