﻿@model DentalTestViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea

@{
    string[][] posOfRangSau = new string[4][];
    posOfRangSau[0] = Model == null ? new string[0] : Model.NumDentalFillingOne == null ? new string[0] : Model.NumDentalFillingOne.Split(new char[] { ',' });
    posOfRangSau[1] = Model == null ? new string[0] : Model.NumDentalFillingTwo == null ? new string[0] : Model.NumDentalFillingTwo.Split(new char[] { ',' });
    posOfRangSau[2] = Model == null ? new string[0] : Model.NumDentalFillingThree == null ? new string[0] : Model.NumDentalFillingThree.Split(new char[] { ',' });
    posOfRangSau[3] = Model == null ? new string[0] : Model.NumDentalFillingFour == null ? new string[0] : Model.NumDentalFillingFour.Split(new char[] { ',' });
    string[][] mapOfRangSau = new string[4][];
    for (int ii = 0; ii < mapOfRangSau.Length; ii++)
    {
        mapOfRangSau[ii] = new string[8];
        for (int jj = 0; jj < mapOfRangSau[ii].Length; jj++)
        {
            mapOfRangSau[ii][jj] = string.Empty;
        }
    }

    for (int ii = 0; ii < posOfRangSau.Length; ii++)
    {
        for (int jj = 0; jj < posOfRangSau[ii].Length; jj++)
        {
            int p;
            if (int.TryParse(posOfRangSau[ii][jj], out p) && p-1 >= 0 && p-1 < mapOfRangSau[ii].Length)
            {
                mapOfRangSau[ii][p-1] = "x";
            }
        }
    }   
}
<div class="mg-t-10">
    <div class="col-sm-6">
        <label class="mg-r-5">Họ và tên: </label><b><span id="Name"></span></b>
    </div>
    <div class="col-sm-6">
        <label class="mg-r-5">Lớp: </label><b><span id="DentalClass"></span></b>
    </div>
</div>
<div class="setBoder col-sm-12">
    <div class="GenaralInfoSection">
        <div class="GIInSection">
            <div class="GeneralForm PPProfile1Form PPProfilePForm">
                <div>
                    <label class="col-sm-6 text-center">Hàm trên phải</label><label class="col-sm-6 text-center">Hàm trên trái</label>
                </div>
                <table class="map-dental-filling" >
                    <tr>
                        <td style="border-bottom: 1px solid;border-right: 1px solid;" class="text-center p-l-10 p-r-10 p-b-10">
                           <ul class="ResetList ListTextBox">
                                @for (var i = 8; i > 0; i--)
                                {
                                    <li><span>@i</span>
                                        <input type="text" class="InputTextStyle InputText1Style text-center" value="@mapOfRangSau[0][i - 1]" id="@("Dental_1_" + i)" name="@("Dental_1_" + i)" maxlength = "1"  onchange="SetTotalNumDentalFilling(1);"  onkeypress = "return checkInput(event);" ndv="DentalTest" dentalnum="dental1" stt="@i"/>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td style="border-bottom: 1px solid;" class="text-center  p-l-10 p-r-10 p-b-10">
                            <ul class="ResetList ListTextBox">
                                @for (var i = 1; i <= 8; i++)
                                {
                                    <li><span>@i</span>
                                        <input type="text" class="InputTextStyle InputText1Style text-center" value="@mapOfRangSau[1][i - 1]" id="@("Dental_2_" + i)" name="@("Dental_2_" + i)" maxlength = "1"  onchange="SetTotalNumDentalFilling(2);" onkeypress = "return checkInput(event);"  ndv="DentalTest" dentalnum="dental2" stt="@i"/>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid;" class=" p-l-10 p-r-10 p-b-10">
                            <ul class="ResetList ListTextBox" >
                                @for (var i = 8; i > 0; i--)
                                {
                                    <li><span>@i</span>
                                        <input type="text" class="InputTextStyle InputText1Style text-center" value="@mapOfRangSau[3][i - 1]" id="@("Dental_4_" + i)" name="@("Dental_4_" + i)" maxlength = "1"  onchange="SetTotalNumDentalFilling(4);" onkeypress = "return checkInput(event);"  ndv="DentalTest"  dentalnum="dental4" stt="@i"/>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class=" p-l-10 p-r-10 p-b-10">
                            <ul class="ResetList ListTextBox" >
                                @for (var i = 1; i <= 8; i++)
                                {
                                    <li><span>@i</span>
                                        <input type="text" class="InputTextStyle InputText1Style text-center" value="@mapOfRangSau[2][i - 1]" id="@("Dental_3_" + i)" name="@("Dental_3_" + i)" maxlength = "1"  onchange="SetTotalNumDentalFilling(3);" onkeypress = "return checkInput(event);"  ndv="DentalTest"  dentalnum="dental3" stt="@i"/>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
               <label class="col-sm-6 text-center">Hàm dưới phải</label><label class="col-sm-6 text-center">Hàm dưới trái</label>
                <label class="mg-t-15 mg-b-15 col-sm-12 text-center text-danger"  ><i>Nhập X vào vị trí răng sâu</i></label>
                @Html.HiddenFor(u => u.NumDentalFillingOne)
                @Html.HiddenFor(u => u.NumDentalFillingTwo)
                @Html.HiddenFor(u => u.NumDentalFillingThree)
                @Html.HiddenFor(u => u.NumDentalFillingFour)
                <input type="hidden" id="NumDentalFilling" name="NumDentalFilling" value="" />
                <input type="hidden" id="PupilID" name="PupilID" value="" />               
            </div>
        </div>
    </div>
</div>
<br />
                <div class="row" >
                    <div class="text-center">
                        @Html.ViettelButton(Res.Get("Lưu"), "button", "Setdata()", "btn btn-info btn-round", "OK", "")
                    </div>
                </div><br />

<script type="text/javascript">
    var debug = true;
    $(document).ready(function () {
        SetTotalNumDentalFilling(1)
    });

    function Setdata() {
        var pup = $("#PupilID").text(); 
        $('#txtDentalFilling_' + pup + '').attr("value", $('#NumDentalFilling').val());
        $('#txtDentalFillingHidden_' + pup + '').attr("value", $('#NumDentalFilling').val());
        $('#txtNumDentalFillingOne_' + pup + '').attr("value", $('#NumDentalFillingOne').val());
        $('#txtNumDentalFillingTwo_' + pup + '').attr("value", $('#NumDentalFillingTwo').val());
        $('#txtNumDentalFillingThree_' + pup + '').attr("value", $('#NumDentalFillingThree').val());
        $('#txtNumDentalFillingFour_' + pup + '').attr("value", $('#NumDentalFillingFour').val());
        $("#GridGrowthEvaluation").find("#chk_" + pup + "").attr("checked", "checked");
        $("#PupilIDOne").attr("value", pup);
        smas.closeDialog("_CreateDental");
        $("#btnSave").click();
    }

    function SetTotalNumDentalFilling(stt) {
        var NumDentalFilling = 0;
        var NumDentalFillingOne = "";
        var NumDentalFillingTwo = "";
        var NumDentalFillingThree = "";
        var NumDentalFillingFour = "";
        $("input[ndv='DentalTest']").each(function () {
            var dental = $(this).attr('value');
            if (dental == "X" || dental == "x") {
                NumDentalFilling = parseInt(NumDentalFilling) + 1;
            }
        });
        $("#NumDentalFilling").attr("value", NumDentalFilling);

        $("input[dentalnum='dental" + stt + "']").each(function () {
            var dental_num = $(this).attr('stt');
            var dental_val = $(this).attr('value');
            if (dental_val == "X" || dental_val == "x") {
                if (stt == 1) {
                    NumDentalFillingOne += dental_num + ",";
                }
                if (stt == 2) {
                    NumDentalFillingTwo += dental_num + ",";
                }
                if (stt == 3) {
                    NumDentalFillingThree += dental_num + ",";
                }
                if (stt == 4) {
                    NumDentalFillingFour += dental_num + ",";
                }
            }
        });
        if (stt == 1) {
            $("#NumDentalFillingOne").attr("value", NumDentalFillingOne);
        }
        if (stt == 2) {
            $("#NumDentalFillingTwo").attr("value", NumDentalFillingTwo);
        }
        if (stt == 3) {
            $("#NumDentalFillingThree").attr("value", NumDentalFillingThree);
        }
        if (stt == 4) {
            $("#NumDentalFillingFour").attr("value", NumDentalFillingFour);
        }
    }

    //Check Input
    function checkInput(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        var txt = e.currentTarget;
        if (key != 88 && key != 8 && key != 0 && key != 120) {
            return false;
        }
    }

    //Check Input
    function checkNumInput(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        var txt = e.currentTarget;
        if ((key < 48 || key > 57) && key != 0 && key != 8) {
            return false;
        }
    }

    // Bao cac thong bao loi bang mot the span de hien thi cho dung giao dien

    // Lay ten ngay kham va dot kham mac dinh khi thay doi dot kham
</script>
