﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea.Models
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea
@using SMAS.Business.Common

@{
    GlobalInfo glo = new GlobalInfo();
    List<DentalViewModel> lstResult = new List<DentalViewModel>();
    if (ViewData[MonitoringBookYearOfPupilConstant.LIST_DENTAL_VM] != null)
    {
        lstResult = (List<DentalViewModel>)ViewData[MonitoringBookYearOfPupilConstant.LIST_DENTAL_VM];
    }

    string strLastUpdate = ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] != null ? (string)ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] : string.Empty;

    int statusPupi = SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;
    bool create = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
    bool update = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
    bool delete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
}

@if (true)
{
    using (Ajax.BeginForm("SaveDental",
                           "MonitoringBookYearOfPupil",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "OnComplete",
                               OnSuccess = "SaveSuccess",
                               OnFailure = "SaveFail"
                           },
                           new { id = "frmDental" }
                           ))
    {
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValue", "")
    @Html.Hidden("hdfTypeID", 0)
    @Html.Hidden("HealthPeriodIDCreate", 0)
    <div id="ContentMark">
        <div id="GridData">
            <!--Header-->
            <div id="Notes">
                    <div>
                        <div class="inline-block mg-t-10">
                            <span id="lblLastUpdateID">@Html.Raw(strLastUpdate)</span>
                        </div>
                        <div class="inline-block pull-right mg-t-10">
                            @if (lstResult.Count > 0)
                            {
                                <input type="button" class="btn btn-info btn-round" onclick="printMonitoringBookDental()" value="In phiếu theo dõi SK" />
                                if (glo.IsCurrentYear && create == true)
                                {
                                   
                                         @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                         <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                         @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                          }
                                          @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                          </div>
                                        <input type="submit" id="btnSubmit" class="btn btn-info btn-round" style="display: none;" />
                                        <input type="button" id="btnSave" class="btn btn-info btn-round" value="Lưu" onclick="return SetValueHidden();" />
                                        
                                        if (delete)
                                        {
                                            <input type="button" id="btnDelete" class="btn btn-basic btn-round btn-icon btn-icon-times" onclick="DeleteDental()" value="Xóa" />
                                        }
                                }
                                else{
                                         @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                         <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                         @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();                                        
                                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                          }
                                          @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                          </div>                                
                                        <input type="submit" class="t-button" style="display: none;" />
                                        <input type="button" class="btn btn-info btn-round  btn-icon btn-icon-save" value="Lưu" />
                                        <input type="button" class="btn btn-basic btn-round  btn-icon btn-icon-times"  value="Xóa" />
                                    }
                            }
                        </div>
                        <div class="col-sm-12 text-right no-padding mg-t-10">
                            <span id="idNote2">
                                Trong cột <b>Cạo vôi răng, Điều trị nha chu, Có </b>nhập <label style="color:#d56900;"><b>X</b></label> hoặc <label style="color:#d56900;"><b>x</b></label>, <b>Không </b> để trống
                            </span>  
                        </div>
                    </div>
                </div>
            <!--Table content-->
            <div class="col-sm-12 no-padding mg-t-10">
            @{
                            var index = 1;
                            Html.Telerik().Grid(lstResult).Name("GridGrowthEvaluation").Columns(c =>
                            {
                                // STT
                                c.Template(@<text>@{@index ; index++;}</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" })
            .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(45);
                                // họ tên học sinh
                                c.Template(@<text>@{
                                    if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <span style="padding-left:3px">@item.PupilName</span>
                                    }
                                    else
                                    {
                                        <span style="padding-left:3px;color:red">@item.PupilName</span>
                                    }}</text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(200);
                                c.Template(@<text>@{  
                                    if (item.Status == 1)
                                    {                                                                  
                                        <img src="../../../../Content/images/Rang.png"  onclick="DentalCheck('@item.DentalTestID','@item.PupilName', '@item.PupilID')" style="cursor: pointer;margin-left:25px;width:25px;" />

                                        <input type="hidden" value="@(item.Num_Dental_Filling_One)" id="@("txtNumDentalFillingOne_" + item.PupilID)" name="@("txtNumDentalFillingOne_" + item.PupilID)" />
                                        <input type="hidden" value="@(item.Num_Dental_Filling_Two)" id="@("txtNumDentalFillingTwo_" + item.PupilID)" name="@("txtNumDentalFillingTwo_" + item.PupilID)" />
                                        <input type="hidden" value="@(item.Num_Dental_Filling_Three)" id="@("txtNumDentalFillingThree_" + item.PupilID)" name="@("txtNumDentalFillingThree_" + item.PupilID)" />
                                        <input type="hidden" value="@(item.Num_Dental_Filling_Four)" id="@("txtNumDentalFillingFour_" + item.PupilID)" name="@("txtNumDentalFillingFour_" + item.PupilID)" />
                                    }
                                    else
                                    {
                                        <img src="../../../../Content/images/Rang.png" style="margin-left:25px; width:25px" />
                                    }                       
                                }</text>).Title(Res.Get("Vị trí <br /> răng sâu")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(80);
                                c.Template(@<text>@{
                                    if (item.Status == 1)
                                    {                    
                                        <h4 class="txtInput7" id="@("txtDentalFilling_" + item.PupilID)">@item.Num_Dental_Filling</h4>
                                        <input class="txtInputDen" type="hidden" value="@item.Num_Dental_Filling" name="@("txtDentalFillingHidden_" + item.PupilID)" id="@("txtDentalFillingHidden_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                        <h4 style="text-align:center;font-family:Arial;color:red">@(item.Num_Dental_Filling)</h4>
                                    }
                                    }</text>)
                                    .Title(Res.Get("Số răng <br /> sâu")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(80);
                                c.Template(@<text>@{
                                    if (item.Status == 1)
                                    { 
                                        <input class="txtInputDen" type="text" maxlength="2" value="@(item.Num_Preventive_Dental_Flling)" name="@("txtPreDentalFilling_" + item.PupilID)" id="@("txtPreDentalFilling_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                        <h4 style="text-align:center;font-family:Arial;color:red">@item.Num_Preventive_Dental_Flling</h4>
                                    }
                                    }</text>)
                                    .Title(Res.Get("Số răng cần <br /> trám")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(80);
                                c.Template(@<text>@{
                                    if (item.Status == 1)
                                    { 
                                        <input class="txtInputDen" type="text" maxlength="2" aria-valuemax="32" value="@(item.Num_Teeth_Extracted)" name="@("txtTeethExtracted_" + item.PupilID)" id="@("txtTeethExtracted_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                        <h4 style="text-align:center;font-family:Arial;color:red">@item.Num_Teeth_Extracted</h4>
                                    }
                                    }</text>)
                                    .Title(Res.Get("Số răng <br /> cần nhổ")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(80);
                                c.Template(@<text>@{
                                    
                                        if (item.Status == 1)
                                        { 
                                            <input class="txtInput2"  oninput="onScraptTeeth('@item.PupilID')" type="text" value="@(item.Is_Scrapt_Teeth == true ? "X" : "")" maxlength="1" name="@("txtScraptTeeth_" + item.PupilID)" id="@("txtScraptTeeth_" + item.PupilID)"/>
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@(item.Is_Scrapt_Teeth == true ? "X" : "")</h4>
                                        }}</text>)
                                    .Title(Res.Get("Cạo vôi <br /> răng")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(70);
                                c.Template(@<text>@{                                   
                                        if (item.Status == 1)
                                        { 
                                            <input class="txtInput2" oninput="onTreatment('@item.PupilID')" type="text" maxlength="1" value="@(item.Is_Treatment == true ? "X" : "")" name="@("txtTreatment_" + item.PupilID)" id="@("txtTreatment_" + item.PupilID)"/>
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@(item.Is_Treatment == true ? "X" : "")</h4>
                                        }}</text>).Title(Res.Get("Điều trị <br /> nha chu")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(70);
                                c.Template(@<text>@{
                                    if (item.Status == 1)
                                    {     
                                        <input class="txtInput3" type="text" maxlength="500" value="@(item.Other)" name="@("txtOther_" + item.PupilID)" id="@("txtOther_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                        <h4 style="font-family:Arial;color:red">@item.Other</h4>
                                    }
                                    }</text>)
                                    .Title(Res.Get("Bệnh răng hàm mặt khác")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(220);
                                c.Template(@<text>@{
                                    if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15"><input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" />    <span class="checkmark"></span></label> 
                                    }}</text>).HeaderTemplate(@<text><label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);"/><span class="checkmark"></span></label></text>).HtmlAttributes(new { style = "text-align:center" }).Width(55);
                            }).DataKeys(keys => keys.Add(o => o.PupilID)).Scrollable(p => p.Height(350)).Footer(false).Render();
            }
            </div>
        </div>
        <input type="hidden" id="PupilIDOne" name="PupilIDOne" value="" />
    </div>
    }
    
    
    <script type="text/ecmascript">
        $(document).click(function (event) {
            if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
                $("#InOutBoxChoice").css("display", "none");
            }
        });

        $(document).ready(function () {
            controlUtils.AddMoveButtonEvent("#frmDental");
            controlUtils.AddMoveTabEvent("#frmDental");
            $('#GridGrowthEvaluation').find('input[class="txtInputDen"]').bind('paste', function () { return false; });
            $('#GridGrowthEvaluation').find('input[class="txtInput2"]').bind('paste', function () { return false; });
        });

        function printMonitoringBookDental() {
            var arrPupilID = '';
            var countChecked = 0;
            $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                    arrPupilID += $(this).attr('defaultID') + ',';
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để in phiếu sức khỏe', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để in phiếu sức khỏe', 'red');
                return;
            }
            PrintHealthTotal(arrPupilID);
        }

        $(".txtInputDen").keypress(function (e) {
            if (e.which == 13) {  
                e.preventDefault();
            }
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });

        function onScraptTeeth(id) {
            var txt = $("#txtScraptTeeth_" + id).val();
            txt = txt.toUpperCase();
            $("#txtScraptTeeth_" + id).val(txt);
        }

        function onTreatment(id) {
            var txt = $("#txtTreatment_" + id).val();
            txt = txt.toUpperCase();
            $("#txtTreatment_" + id).val(txt);
        }

        $(".txtInput2").keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
            }
            if (e.which != 88 && e.which != 120 && e.which != 8) {
                return false;
            }
        });

        var smasCustom = {
            confirmSpine: function (DentalID, Name, PupilID) {                
                smasCustom.openDialog("_CreateDental", "/MonitoringBookYearOfPupilArea/MonitoringBookYearOfPupil/EditDentalTest/" + DentalID, {},Name, PupilID);
            },
            openDialog: function (dialogName, url, data,Name, PupilID) {
                w = $("#" + dialogName).data("tWindow");
                if (w != undefined) {
                    w.center().open();
                    if (url != "") {
                        $.ajax({
                            url: url,
                            type: 'get',
                            data: data,
                            beforeSend: function () {
                                var strLoad = '<div class="loadingAjax"><img width="16" height="11" src="/Content/images/icon_loading.gif" alt="loading..." style="vertical-align:midle;"/></div>'
                                $("#" + dialogName + " .t-content").html(strLoad);
                            },
                            success: function (data) {
                                $("#" + dialogName + " .t-content").html(data);
                                $("#" + dialogName + " #PupilID").html(PupilID);
                                $("#" + dialogName + " #Name").html(Name);
                                $("#" + dialogName + " #DentalClass").html($("#strClassNameID").html());
                                //$("#" + dialogName + "#OK").unbind("click").click(function () {
                                //    smas.closeDialog("#" + dialogName);
                                //});
                                formUtils.focusForm($("#" + dialogName + " form").attr("id"));
                                validateUtils.fixCommonValidate();                                
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    } else {
                        //$("#" + dialogName + " div.t-window-content").css("height", "auto");
                    }
                    formUtils.focusForm($("#" + dialogName + " form").attr("id"));

                    //fix loi import het session                   
                }
            },
        }

        function DentalCheck(DentalID, Name, PupilID) {                     
            smasCustom.confirmSpine(DentalID, Name, PupilID);
        };

        $('.t-grid-content tr').click(function () {
            var bg = $(this).css("background");
            $(this).css("background", bg);
        });

        function onInOutClick(btn) {
            $("#InOutBoxChoice").hide();
            var position = $(btn).position();
            $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 40, "z-index": "1", width:'115px' });
            $("#InOutBoxChoice").show();
            $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
        };

        // thong bao khi xuat- nhap excel 
        function InOutHandle(item) {
            if ($(item).attr('value') == 1) {
                $('#ImportHealthy .t-window-content.t-content').css('width', '600px');
                $('#ImportHealthy .t-window-content.t-content').css('height', 'auto !important');
                smas.openDialog('ImportHealthy', '', {});
            }
            else {
                var classid = $('#HiddenPanel #ClassID').val();
                var className = '';
                var standardName = $('#listSubjectWraper').find('a[class="Active"]').text();
                var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
                $('#ClassChoiceID #strClassNameID').html(temp);

                if ((temp.toUpperCase()).indexOf("LỚP") == -1) {
                    className = 'của lớp <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }
                else {
                    className = 'của <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }

                var str1 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> ' + className;
                $('#ExportHealthy #lblStandardID').html(str1);
                var str2 = 'Sổ khám tất cả danh mục ' + className;
                $('#ExportHealthy #lblAllStandardID').html(str2);
                var str3 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> của tất cả các lớp';
                $('#ExportHealthy #lblAllClassID').html(str3);
                smas.openDialog("ExportHealthy", "", {});
            }
        };

        function OnclickAll(item) {
            if ($(item).is(':checked')) {
                $('#GridGrowthEvaluation').find('input[id^="chk_"]').attr('checked', 'checked');
            }
            else {
                $('#GridGrowthEvaluation').find('input[id^="chk_"]').removeAttr('checked');
            }
        }

        function OneChecked(item) {
            var countTotal = $('#GridGrowthEvaluation').find('input[id^="chk_"]').length;
            var countChecked = 0;
            $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == countTotal) {
                $('#GridGrowthEvaluation #chkAll').attr('checked', 'checked');
            }
            else {
                $('#GridGrowthEvaluation #chkAll').removeAttr('checked');
            }
        }

        function SetValueHidden() {
            var countChecked = 0;
            $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để lưu', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để lưu', 'red');
                return;
            }
            var typeID = $('#TypeID').val();
            $('#frmDental #hdfValue').html($('#HiddenPanel').html());
            $('#frmDental #hdfTypeID').val(typeID);
            $('#frmDental #HealthPeriodIDCreate').val($('#HealthPeriodID').val());

            var countChecking = 0;
            //var countDoctorName = 0;
            $("#GridGrowthEvaluation").find(":checkbox[id*='chk_']").each(function () {
                if ($(this).is(':checked')) {
                    var b = $(this).parent().parent().find(":text[id*='txtPreDentalFilling_']").attr("value");
                    if (b < 0 || b > 32) {
                        countChecking++;
                    }
                }
            });

            var countChecking1 = 0;
            //var countDoctorName = 0;
            $("#GridGrowthEvaluation").find(":checkbox[id*='chk_']").each(function () {
                if ($(this).is(':checked')) {
                    var b = $(this).parent().parent().find(":text[id*='txtTeethExtracted_']").attr("value");
                    if (b < 0 || b > 32) {
                        countChecking1++;
                    }
                }
            });

            if (countChecking == 0 && countChecking1 == 0) {
                $('#frmDental #btnSubmit').click();
            }
            else if(countChecking != 0){
                smas.alertColor("Số răng cần trám phải nằm trong khoảng 0 đến 32", "red");
            }
            else if(countChecking1 != 0){
                smas.alertColor("Số răng cần nhổ phải nằm trong khoảng 0 đến 32", "red");
            }
            
        }

        function SaveSuccess(e) {
            smas.hideProcessingDialog();
            smas.alert(e.Message);
            LoadGrid();
        }

        function OnComplete() {
            smas.hideProcessingDialog();
        }

        function DeleteDental() {
            var form = $('#frmDental');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $('#frmDental #HealthPeriodIDCreate').val($('#HealthPeriodID').val());
            var HealthPeriodID = $('#HealthPeriodIDCreate').val();
            var classID = $('#HiddenPanel #ClassID').val();
            var arrPupiID = '';
            var pupilID = '';

            $('#GridGrowthEvaluation').find('input[id*="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    pupilID = $(this).attr('defaultID');
                    arrPupiID += pupilID + ',';
                }
            });

            if (arrPupiID == '') {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để xóa', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để xóa', 'red');
                return;
            }
            removeAssign(classID, HealthPeriodID, arrPupiID);
        }

        function removeAssign(classID, healthPeriodID, arrPupilID) {
            $('#ConfirmDelete .t-header').find('.t-window-title').text('Thông báo');
            var htmlMessage = "<br/>Thầy/cô chắc chắn có muốn xóa thông tin răng hàm mặt của học sinh?";
            confirmDelete(htmlMessage, function () {
                $.ajax({
                    url: '@Url.Action("DeleteDental", "MonitoringBookYearOfPupil")',
                    type: 'post',
                    data: { ClassID: classID, HealthPeriodID: healthPeriodID, arrPupilID: arrPupilID},
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == 'error') {
                            smas.alertColor(msg.Message, 'red');
                        }
                        else {
                            smas.alert(msg.Message);
                            LoadGrid();
                        }

                        smas.closeDialog("ConfirmDelete");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        smas.hideProcessingDialog();
                    }
                });
            });
        }

        function confirmDelete(message, func) {
            $("#ConfirmDelete .t-window-content").css("height", "auto");
            $("#ConfirmDelete #Message").html(message);
            $("#ConfirmDelete #OK").unbind("click").click(function () {
                smas.closeDialog("ConfirmDelete");
                func();
            });
            $("#ConfirmDelete #Cancel").unbind("click").click(function () {
                smas.closeDialog("ConfirmDelete");
            });
            smas.openDialog("ConfirmDelete", "", {});
        }

        function SaveFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }

        function FillSubjectHeader(valitem, item) {
            var cmtHtml = $(valitem).html();
            if (cmtHtml == "Xóa") {
                cmtHtml = "";
            }
            $('#GridGrowthEvaluation').find('input[id^="txtEvaluationIndex_' + item + '"]:enabled').val(cmtHtml);
        }

        $(document).click(function (event) {
            if (!$(event.target).hasClass("HeaderSubject") && !$(event.target).parent().hasClass("HeaderSubject")) {
                $("#BoxChoiceSubject").css("display", "none");
            }
        });
    </script>
}
