﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea.Models
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea
@using SMAS.Business.Common

    @{
        GlobalInfo glo = new GlobalInfo();
        List<SpinViewModel> lstResult = new List<SpinViewModel>();
        if(ViewData[MonitoringBookYearOfPupilConstant.LIST_SPIN_VM] != null)
        {
            lstResult = (List<SpinViewModel>)ViewData[MonitoringBookYearOfPupilConstant.LIST_SPIN_VM];
        }

        string strLastUpdate = ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] != null ? (string)ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] : string.Empty;

        int statusPupi = SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;

        bool create = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
        bool update = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
        bool delete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
    }

    @if (true)
    {
        using (Ajax.BeginForm("SaveSpin",
                               "MonitoringBookYearOfPupil",
                               new AjaxOptions
                               {
                                   HttpMethod = "post",
                                   OnBegin = "smas.showProcessingDialog",
                                   OnComplete = "OnComplete",
                                   OnSuccess = "SaveSuccess",
                                   OnFailure = "SaveFail"
                               },
                               new { id = "frmSpin" }
                               ))
        {
        @Html.AntiForgeryToken()
        @Html.Hidden("hdfValue", "")
        @Html.Hidden("hdfTypeID", 0)
        @Html.Hidden("HealthPeriodIDCreate", 0)
        <div id="ContentMark">
            <div id="GridData">
                <!--Header-->
                <div id="Notes">
                    <div>
                        <div class="inline-block mg-t-10">
                            <span id="lblLastUpdateID">@Html.Raw(strLastUpdate)</span>
                        </div>
                        <div class="inline-block pull-right mg-t-10">
                            @if (lstResult.Count > 0)
                            {
                                <input type="button" class="btn btn-info btn-round" onclick="printMonitoringBookSpin()" value="In phiếu theo dõi SK" />
                                if (glo.IsCurrentYear && create == true)
                                {
                                        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", "btn btn-info btn-round  btn-icon btn-round btn-icon-inout")
                                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                        </div>
                                    <input type="submit" id="btnSubmit" class="btn btn-info btn-round" style="display: none;" />
                                    <input type="button" id="btnSave" class="btn btn-info btn-round" value="Lưu" onclick="return SetValueHidden();" />                                                                                      
                                    if (delete)
                                    {
                                        <input type="button" id="btnDelete" class="btn btn-basic btn-round btn-icon btn-icon-times" onclick="DeleteSpin()" value="Xóa" />
                                    }
                                    }
                                    else{
                                        @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round  btn-icon btn-round btn-icon-inout")
                                        <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                        List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                        </div>                                
                                    <input type="submit" class="btn btn-info btn-round" style="display: none;" />
                                    <input type="button" class="btn btn-info btn-round  btn-icon btn-icon-save" value="Lưu" />
                                    <input type="button" class="btn btn-basic btn-round btn-icon btn-icon-times" value="Xóa" />
                                }  
                            }  
                        </div>
                        <div class="col-sm-12 text-right no-padding mg-t-10">
                            <span id="idNote2">
                                Trong cột <b>Cong vẹo cột sống, Có </b>nhập <label style="color:#d56900;"><b>X</b></label> hoặc <label style="color:#d56900;"><b>x</b></label>, <b>Không </b> để trống
                            </span>  
                        </div>
                    </div>
                </div>
                <!--//Header-->
                <!--Table content-->
                <div class="col-sm-12 no-padding mg-t-10">
                    @{
                                var index = 1;
                                Html.Telerik().Grid(lstResult).Name("GridGrowthEvaluation").Columns(c =>
                                {
                                    // STT
                                    c.Template(@<text>@{@index ; index++;}</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" })
                .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(45);
                                    // họ tên học sinh
                                    c.Template(@<text>@{
                                        if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                                        {
                                                        <span style="padding-left:3px">@item.PupilName</span>
                                        }
                                        else
                                        {
                                                    <span style="padding-left:3px;color:red">@item.PupilName</span>
                                        }}</text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(170);
                                    c.Template(@<text>@{
                                            if (item.Status == 1)
                                            {
                                                        <input value="@(item.Deformity == true ? "X" : "")" class="txtInput5" maxlength="1" type="text" id="@("txtInput_" + item.PupilID)" name="@("txtInput_" + item.PupilID)"/>
                                            }
                                            else
                                            {
                                                        <h4 style="text-align:center;font-family:Arial;color:red">@(item.Deformity == true ? "X" : "")</h4>
                                            }
                                                }</text>).Title(Res.Get("Cong vẹo <br /> cột sống"))
                                        .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(80);
                                    c.Template(@<text>@{
                                        if (item.Status == 1)
                                        {
                                            <input class="txtInput2" type="text" maxlength="100" value="@(item.Examinate_Straight)" name="@("txtStraight_" + item.PupilID)" id="@("txtStraight_" + item.PupilID)"/>
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@item.Examinate_Straight</h4>
                                        }
                                
                                        }</text>)
                                        .Title(Res.Get("Khám thẳng")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(200);
                                    c.Template(@<text>@{
                                        if (item.Status == 1)
                                        {
                                            <input class="txtInput2" type="text" maxlength="100" value="@(item.Examinate_Italic)" name="@("txtItalic_" + item.PupilID)" id="@("txtItalic_" + item.PupilID)"/>
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@item.Examinate_Italic</h4>
                                        }
                                        }</text>)
                                        .Title(Res.Get("Khám nghiêng")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(200);
                                    c.Template(@<text>@{
                                        if (item.Status == 1)
                                        {
                                            <input class="txtInput2" type="text" maxlength="500" value="@(item.Examinate_Other)" name="@("txtOther_" + item.PupilID)" id="@("txtOther_" + item.PupilID)"/>
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@item.Examinate_Other</h4>
                                        }
                                        }</text>)
                                        .Title(Res.Get("Bệnh cột sống khác")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(200);
                                    c.Template(@<text>@{
                                        if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                                        {
                                            <label class="custom-checkbox p-r-0 p-l-15"><input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" /><span class="checkmark"></span></label>    
                                        }}</text>).HeaderTemplate(@<text><label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);" style="margin-top: 10px;"/><span class="checkmark"></span></label></text>)
                                        .HtmlAttributes(new { style = "text-align:center" }).Width(60);
                                }).DataKeys(keys => keys.Add(o => o.PupilID)).Scrollable(p => p.Height(350)).Footer(false).Render();
                }
                </div>
            </div>
        </div>
        }
    
    
        <script type="text/ecmascript">
            $(document).click(function (event) {
                if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
                    $("#InOutBoxChoice").css("display", "none");
                }
            });

            $(document).ready(function () {
                controlUtils.AddMoveButtonEvent("#frmSpin");
                controlUtils.AddMoveTabEvent("#frmSpin");
                $('#GridGrowthEvaluation').find('input[class="txtInput5"]').bind('paste', function () { return false; });
            });

            function printMonitoringBookSpin() {
                var arrPupilID = '';
                var countChecked = 0;
                $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                    if ($(this).is(':checked')) {
                        countChecked++;
                        arrPupilID += $(this).attr('defaultID') + ',';
                    }
                });
                if (countChecked == 0) {
                    if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để in phiếu sức khỏe', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để in phiếu sức khỏe', 'red');
                return;
            }
                PrintHealthTotal(arrPupilID);
            }

            $('.t-grid-content tr').click(function () {
                var bg = $(this).css("background");
                $(this).css("background", bg);
            });

            function onInOutClick(btn) {
                $("#InOutBoxChoice").hide();
                var position = $(btn).position();
                $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 40, "z-index": "1", width:'115px' });
                $("#InOutBoxChoice").show();
                $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
            };

            // thong bao khi xuat- nhap excel 
            function InOutHandle(item) {
                if ($(item).attr('value') == 1) {
                    $('#ImportHealthy .t-window-content.t-content').css('width', '600px');
                    $('#ImportHealthy .t-window-content.t-content').css('height', 'auto !important');
                    smas.openDialog('ImportHealthy', '', {});
                }
                else {
                    var classid = $('#HiddenPanel #ClassID').val();
                    var className = '';
                    var standardName = $('#listSubjectWraper').find('a[class="Active"]').text();
                    var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
                    $('#ClassChoiceID #strClassNameID').html(temp);

                    if ((temp.toUpperCase()).indexOf("LỚP") == -1) {
                        className = 'của lớp <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                    }
                    else {
                        className = 'của <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                    }

                    var str1 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> ' + className;
                    $('#ExportHealthy #lblStandardID').html(str1);
                    var str2 = 'Sổ khám tất cả danh mục ' + className;
                    $('#ExportHealthy #lblAllStandardID').html(str2);
                    var str3 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> của tất cả các lớp';
                    $('#ExportHealthy #lblAllClassID').html(str3);
                    smas.openDialog("ExportHealthy", "", {});
                }
            };


            function OnclickAll(item) {
                if ($(item).is(':checked')) {
                    $('#GridGrowthEvaluation').find('input[id^="chk_"]').attr('checked', 'checked');
                }
                else {
                    $('#GridGrowthEvaluation').find('input[id^="chk_"]').removeAttr('checked');
                }
            }

            function OneChecked(item) {
                var countTotal = $('#GridGrowthEvaluation').find('input[id^="chk_"]').length;
                var countChecked = 0;
                $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                    if ($(this).is(':checked')) {
                        countChecked++;
                    }
                });
                if (countChecked == countTotal) {
                    $('#GridGrowthEvaluation #chkAll').attr('checked', 'checked');
                }
                else {
                    $('#GridGrowthEvaluation #chkAll').removeAttr('checked');
                }
            }

            function SetValueHidden() {
                var countChecked = 0;
                $('#GridGrowthEvaluation').find('input[id^="chk_"]').each(function () {
                    if ($(this).is(':checked')) {
                        countChecked++;
                    }
                });
                if (countChecked == 0) {
                    if('@glo.AppliedLevel' <= 3)
                        smas.alertColor('Thầy/cô chưa chọn học sinh để lưu', 'red');
                    if ('@glo.AppliedLevel' > 3)
                        smas.alertColor('Thầy/cô chưa chọn trẻ để lưu', 'red');
                    return;
                }
                var typeID = $('#TypeID').val();
                $('#frmSpin #hdfValue').html($('#HiddenPanel').html());
                $('#frmSpin #hdfTypeID').val(typeID);
                $('#frmSpin #HealthPeriodIDCreate').val($('#HealthPeriodID').val());
                $('#frmSpin #btnSubmit').click();
            }

            function SaveSuccess(e) {
                smas.hideProcessingDialog();
                smas.alert(e.Message);
                LoadGrid();
            }

            function OnComplete() {
                smas.hideProcessingDialog();
            }

            $('#GridGrowthEvaluation').find('input[id*="txtInput_"]').keypress(function (e) {
                var htmlVal = '';
                if (e.which == 13 || e.which == 37 || e.which == 38 || e.which == 39 || e.which == 40) {
                    e.preventDefault();
                    return;
                }
                else if (e.which == 120 || e.which == 88 || e.which == 8) {   
                    this.value = htmlVal = 'X';
                    return;
                }
                else {
                    return false;
                }             
            });

		    function DeleteSpin() {
                var form = $('#frmSpin');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $('#frmSpin #HealthPeriodIDCreate').val($('#HealthPeriodID').val());
                var HealthPeriodID = $('#HealthPeriodIDCreate').val();
                var classID = $('#HiddenPanel #ClassID').val();
                var arrPupiID = '';
                var pupilID = '';

                $('#GridGrowthEvaluation').find('input[id*="chk_"]').each(function () {
                    if ($(this).is(':checked')) {
                        pupilID = $(this).attr('defaultID');
                        arrPupiID += pupilID + ',';
                    }
                });

                if (arrPupiID == '') {
                    if ('@glo.AppliedLevel' <= 3)
                        smas.alertColor('Thầy/cô chưa chọn học sinh để xóa', 'red');
                    if ('@glo.AppliedLevel' > 3)
                        smas.alertColor('Thầy/cô chưa chọn trẻ để xóa', 'red');
                    return;
                }
		        removeAssign(classID, HealthPeriodID, arrPupiID);
            }
		
            function confirmDelete(message, func) {
                $("#ConfirmDelete .t-window-content").css("height", "auto");
                $("#ConfirmDelete #Message").html(message);
                $("#ConfirmDelete #OK").unbind("click").click(function () {
                    smas.closeDialog("ConfirmDelete");
                    func();
                });
                $("#ConfirmDelete #Cancel").unbind("click").click(function () {
                    smas.closeDialog("ConfirmDelete");
                });
                smas.openDialog("ConfirmDelete", "", {});
            }

            function removeAssign(classID, healthPeriodID, arrPupilID) {
                $('#ConfirmDelete .t-header').find('.t-window-title').text('Thông báo');
                var htmlMessage = "<br/>Thầy/cô chắc chắn có muốn xóa thông tin cột sống của học sinh?";
                confirmDelete(htmlMessage, function () {
                    $.ajax({
                        url: '@Url.Action("DeleteSpin", "MonitoringBookYearOfPupil")',
                    type: 'post',
                    data: { ClassID: classID, HealthPeriodID: healthPeriodID, arrPupilID: arrPupilID },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == 'error') {
                            smas.alertColor(msg.Message, 'red');
                        }
                        else {
                            smas.alert(msg.Message);
                            LoadGrid();
                        }

                        smas.closeDialog("ConfirmDelete");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        smas.hideProcessingDialog();
                    }
                    });
                });
            }

        function SaveFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }



        function FillSubjectHeader(valitem, item) {
            var cmtHtml = $(valitem).html();
            if (cmtHtml == "Xóa") {
                cmtHtml = "";
            }
            $('#GridGrowthEvaluation').find('input[id^="txtEvaluationIndex_' + item + '"]:enabled').val(cmtHtml);
        }

        $(document).click(function (event) {
            if (!$(event.target).hasClass("HeaderSubject") && !$(event.target).parent().hasClass("HeaderSubject")) {
                $("#BoxChoiceSubject").css("display", "none");
            }
        });
</script>
}
