﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea.Models
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea
@using SMAS.Business.Common

@{
    GlobalInfo glo = new GlobalInfo();
    List<OverAllViewModel> lstResult = new List<OverAllViewModel>();
    if (ViewData[MonitoringBookYearOfPupilConstant.LIST_OVERALL_VM] != null)
    {
        lstResult = (List<OverAllViewModel>)ViewData[MonitoringBookYearOfPupilConstant.LIST_OVERALL_VM];
    }

    string strLastUpdate = ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] != null ? (string)ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] : string.Empty;

    int statusPupi = SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;

    bool create = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
    bool update = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
    bool delete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
}

@if (true)
{
    using (Ajax.BeginForm("SaveOverAll",
                           "MonitoringBookYearOfPupil",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "OnComplete",
                               OnSuccess = "SaveSuccess",
                               OnFailure = "SaveFail"
                           },
                           new { id = "frmOverAll" }
                           ))
    {
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValue", "")
    @Html.Hidden("hdfTypeID", 0)
    @Html.Hidden("HealthPeriodIDCreate", 0)
        
    <div id="ContentMark">
        <div id="GridData">
            <!--Header-->
            <div id="Notes">
                    <div>
                        <div class="inline-block mg-t-10">
                            <span id="lblLastUpdateID">@Html.Raw(strLastUpdate)</span>
                        </div>
                        <div class="inline-block pull-right mg-t-10">
                           @if (lstResult.Count > 0)
                            {
                                
                                <input type="button" class="btn btn-info btn-round" onclick="printMonitoringBookOverAll()" value="In phiếu theo dõi SK" />
                                if (glo.IsCurrentYear && create == true)
                                {
                                   
                                    @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                    <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                    </div>
                                    <input type="submit" id="btnSubmit" class="btn btn-info btn-round" style="display: none;" />
                                    <input type="button" id="btnSave" class="btn btn-info btn-round" value="Lưu" onclick="return SetValueHidden();" />
                                
                                    if (delete)
                                    {
                                        <input type="button" id="btnDelete" class="btn btn-basic btn-round btn-icon btn-icon-times" onclick="DeleteOverAll()" value="Xóa" />
                                    }
                                }
                                else
                                {  
                                     @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                    <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                    </div>                                                   
                                <input type="submit" class="btn btn-info btn-round" style="display: none;" />
                                <input type="button" class="btn btn-info btn-round infobtn" value="Lưu" />
                                <input type="button" class="btn btn-info btn-round infobtn" value="Xóa" />
                                }
                            }
                        </div>
                        <div class="col-sm-12 text-right no-padding mg-t-10">
                            <span id="idNote2">
                                Trong cột Đánh giá sức khỏe, <b>Loại A </b>nhập <label style="color:#d56900;"><b>A</b></label> hoặc <label style="color:#d56900;"><b>a</b></label>, <b>Loại B </b>nhập <label style="color:#d56900;"><b>B</b></label> hoặc <label style="color:#d56900;"><b>b</b></label>, <b>Loại C </b>nhập <label style="color:#d56900;"><b>C</b></label> hoặc <label style="color:#d56900;"><b>c</b></label>
                            </span>  
                        </div>
                    </div>
                </div>
            <!--//Header-->

            <!--Table content-->
            <div class="col-sm-12 no-padding mg-t-10">
            @{
                            var index = 1;
                            Html.Telerik().Grid(lstResult).Name("GridOverAll").Columns(c =>
                            {
                                // STT
                                c.Template(@<text>@{@index ; index++;}</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" })
                                .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(45);
                                // họ tên học sinh
                                c.Template(@<text>@{
                                    if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                                    {
                                        <span style="padding-left:3px">@item.PupilName</span>
                                    }
                                    else
                                    {
                                        <span style="padding-left:3px;color:red">@item.PupilName</span>
                                    }}</text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(180);

                                c.Template(@<text>@{
                                 if (item.Status == statusPupi)
                                 {
                                        <input class="txtInputDate" type="text" name="@("txtDate_" + item.PupilID)" id="@("txtDate_" + item.PupilID)" value="@(item.MonitoringDateStr)"/>
                                 }
                                 else
                                 {
                                         <h4 style="color:red;text-align:center;font-family: Arial !important;">@item.MonitoringDateStr</h4>
                                 }}</text>).Title(Res.Get("Ngày khám")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" }, { "onclick", "ShowFormMonitoringDate()" }, { "title", "Nhấn chọn để nhập ngày khám cho cả lớp" } }).Width(80);

                                c.Template(@<text>@{
                                    if (item.Status == statusPupi)
                                    {
                                        <input class="txtInputUnit" type="text" maxlength="100" value="@(item.UnitName)" name="@("txtUnitName_" + item.PupilID)" id="@("txtUnitName_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                        <h4 style="color:red;padding-left:3px;font-family: Arial !important; overflow:auto">@item.UnitName</h4>
                                    }
                                }</text>).Title(Res.Get("Đơn vị khám")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" }, { "onclick", "ShowFormUnitName()" }, { "title", "Nhấn chọn để nhập đơn vị khám cho cả lớp" } }).Width(180);
                                c.Template(@<text>@{
                                    if (item.Status == 1 )
                                    {   
                                        <input class="txtInput3" type="text" value="@(item.Doctor)" maxlength="50" name="@("txtDoctor_" + item.PupilID)" id="@("txtDoctor_" + item.PupilID)"  />
                                    }
                                    else
                                    {
                                        <h4 style="font-family:Arial;color:red">@item.Doctor</h4>  
                                    }
                                    }</text>)
                                    .HeaderTemplate(@<text> 
                                                        <label onclick="OpenDoctorDialog()" style="cursor: pointer;" >Bác sĩ khám</label>
                                                    </text>).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(150);
                                c.Template(@<text>@{
                                            @*<img src="../../../../Content/images/ok_icon.png" onclick="DentalCheck('@item.PupilID', '@item.PupilName', '@item.Num_Dental_Filling_One', '@item.Num_Dental_Filling_Two', '@item.Num_Dental_Filling_Three', '@item.Num_Dental_Filling_Four')"  />*@
                                    if (item.Status == 1 )
                                    {   
                                                <img src="../../../../Content/images/TapTin.png" alt="Taptin" title="Taptin" onclick="OverAllCheck('@item.OverallTestID','@item.PupilName', '@item.PupilID')" 
                                                    style="cursor: pointer;margin-left:20px; width:30px" />
                                    
                                                <input type="hidden" value="@(item.HistoryYourSelf)" id="@("txtHistoryYourSelf_" + item.PupilID)" name="@("txtHistoryYourSelf_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.OverallInternal)" id="@("txtOverallInternal_" + item.PupilID)" name="@("txtOverallInternal_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.DescriptionOverallInternal)" id="@("txtDescriptionOverallInternal_" + item.PupilID)" name="@("txtDescriptionOverallInternal_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.OverallForeign)" id="@("txtOverallForeign_" + item.PupilID)" name="@("txtOverallForeign_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.DescriptionOverallForeign)" id="@("txtDescriptionOverallForeign_" + item.PupilID)" name="@("txtDescriptionOverallForeign_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.SkinDiseases)" id="@("txtSkinDiseases_" + item.PupilID)" name="@("txtSkinDiseases_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.DescriptionSkinDiseases)" id="@("txtDescriptionSkinDiseases_" + item.PupilID)" name="@("txtDescriptionSkinDiseases_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.Other)" id="@("txtOther_" + item.PupilID)" name="@("txtOther_" + item.PupilID)" />                                         
                                                <input type="hidden" value="@(item.IsHeartDiseases.ToString().ToLower())" id="@("txtIsHeartDiseases_" + item.PupilID)" name="@("txtIsHeartDiseases_" + item.PupilID)" />
                                                <input type="hidden" value="@(item.IsBirthDefect.ToString().ToLower())" id="@("txtIsBirthDefect_" + item.PupilID)" name="@("txtIsBirthDefect_" + item.PupilID)" />
                                    }
                                    else
                                    {
                                                <img src="../../../../Content/images/TapTin.png" alt="Taptin" title="Taptin" style="margin-left:20px; width:30px" />
                                    }
                                            }</text>).Title(Res.Get("Thông tin <br /> khám"))
                                    .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(70);
                                c.Template(@<text>@{                                 
                                        if (item.Status == 1 )
                                        {   
                                            <input class="txtInput2" value="@(item.EvaluationHealth == 1 ? "A" : item.EvaluationHealth == 2 ? "B" : item.EvaluationHealth == 3 ? "C" : "")" 
                                                name="@("txtEvaluationHealth_" + item.PupilID)" id="@("txtEvaluationHealth_" + item.PupilID)" maxlength = "1"  type="text" />
                                        }
                                        else
                                        {
                                            <h4 style="text-align:center;font-family:Arial;color:red">@(item.EvaluationHealth == 1 ? "A" : item.EvaluationHealth == 2 ? "B" : item.EvaluationHealth == 3 ? "C" : "")</h4>    
                                        }                          
                                    }</text>).Title(Res.Get("Đánh giá <br /> sức khỏe")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(70);
                                
                             c.Template(@<text>@{
                                    if (item.Status == 1 )
                                    {  
                                        <input class="txtInput3" type="text" maxlength="1000" value="@(item.RequireOfDoctor)" name="@("txtRequireOfDoctor_" + item.PupilID)" id="@("txtRequireOfDoctor_" + item.PupilID)" />
                                    }
                                    else
                                    {
                                        <h4 style="font-family:Arial;color:red">@item.RequireOfDoctor</h4> 
                                    }
                                    }</text>)
                                .Title(Res.Get("Đề nghị")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(150);
                                c.Template(@<text>@{
                                    if (item.Status == statusPupi)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15"><input type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" /><span class="checkmark"></span></label>     
                                    }}</text>).HeaderTemplate(@<text><label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);" /><span class="checkmark"></span></label></text>).HtmlAttributes(new { style = "text-align:center" }).Width(60);
                            }).DataKeys(keys => keys.Add(o => o.PupilID)).Scrollable(p => p.Height(360)).Footer(false).Render();
            }
            </div>
        </div>
        <input type="hidden" id="PupilIDOne" name="PupilIDOne" value="" />
    </div>
    }
    

    
    <script type="text/javascript">
        $(document).click(function (event) {
            if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
                $("#InOutBoxChoice").css("display", "none");
            }
        });

        $(document).ready(function () {
            controlUtils.AddMoveButtonEvent("#GridOverAll");
            controlUtils.AddMoveTabEvent("#GridOverAll");
            $("input[id^='txtDate_']").mask("99/99/9999");
            $('#GridOverAll').find('input[class="txtInput2"]').bind('paste', function () { return false; });
        });

        function printMonitoringBookOverAll() {
            var arrPupilID = '';
            var countChecked = 0;
            $('#GridOverAll').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                    arrPupilID += $(this).attr('defaultID') + ',';
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                        smas.alertColor('Thầy/cô chưa chọn học sinh để in phiếu sức khỏe', 'red');
                    if ('@glo.AppliedLevel' > 3)
                        smas.alertColor('Thầy/cô chưa chọn trẻ để in phiếu sức khỏe', 'red');
                    return;
                }
                PrintHealthTotal(arrPupilID);
            }

        $(".txtInput2").keypress(function (e) {
            var htmlVal = '';
            if (e.which == 13 || e.which == 37 || e.which == 38 || e.which == 39 || e.which == 40) {
                e.preventDefault();
                return;
            }
            if (e.which == 65 || e.which == 66 || e.which == 67 || e.which == 8) {
                return true;
            }
            else if (e.which == 97 || e.which == 8) {
                htmlVal = 'A';
                this.value = htmlVal;
                return;
            }
            else if (e.which == 98 || e.which == 8) {
                htmlVal = 'B';
                this.value = htmlVal;
                return;
            }
            else if (e.which == 99 || e.which == 8) {
                htmlVal = 'C';
                this.value = htmlVal;
                return;
            }
            else {
                return false;
            }  
        });

        function OpenDoctorDialog() {
            smas.openDialog("_CreateDoctor", "", {});
        }

        var smasCustom = {
            confirmSpine: function (OverAllID, Name, PupilID, DoctorName) {
                if (OverAllID == null || OverAllID == "") {
                    OverAllID = 0;
                }
                smasCustom.openDialog("_CreateOverAll", "/MonitoringBookYearOfPupilArea/MonitoringBookYearOfPupil/EditOverallTest/" + OverAllID, {}, Name, PupilID, DoctorName);
            },
            openDialog: function (dialogName, url, data, Name, PupilID, DoctorName) {
                w = $("#" + dialogName).data("tWindow");
                if (w != undefined) {
                    w.center().open();
                    if (url != "") {
                        $.ajax({
                            url: url,
                            type: 'get',
                            data: data,
                            beforeSend: function () {
                                var strLoad = '<div class="loadingAjax"><img width="16" height="11" src="/Content/images/icon_loading.gif" alt="loading..." style="vertical-align:midle;"/></div>'
                                $("#" + dialogName + " .t-content").html(strLoad);
                            },
                            success: function (data) {
                                $("#" + dialogName + " .t-content").html(data);
                                $("#" + dialogName + " #PupilIDOver").html(PupilID);
                                $("#" + dialogName + " #Name").html(Name);
                                $("#" + dialogName + " #DoctorName").attr("value",DoctorName);
                                $("#" + dialogName + " #DentalClass").html($("#strClassNameID").html());
                                formUtils.focusForm($("#" + dialogName + " form").attr("id"));
                                validateUtils.fixCommonValidate();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    } else {
                        //$("#" + dialogName + " div.t-window-content").css("height", "auto");
                    }
                    formUtils.focusForm($("#" + dialogName + " form").attr("id"));               
                }
            },
        }

        function OverAllCheck(OverAllID, Name, PupilID) {
            var DoctorName = $("#txtDoctor_" + PupilID + '').val();
            smasCustom.confirmSpine(OverAllID, Name, PupilID, DoctorName);
        };

        function ShowFormUnitName() {
            smas.openDialog('FormUnitName', '', null, null);
        }

        function ShowFormMonitoringDate() {
            smas.openDialog('FormMonitoringDate', '', null, null);
        }

        function onInOutClick(btn) {
            $("#InOutBoxChoice").hide();
            var position = $(btn).position();
            $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 40, "z-index": "1",width:'115px' });
            $("#InOutBoxChoice").show();
            $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
        };

        // thong bao khi xuat- nhap excel 
        function InOutHandle(item) {
            if ($(item).attr('value') == 1) {
                $('#ImportHealthy .t-window-content.t-content').css('width', '600px');
                $('#ImportHealthy .t-window-content.t-content').css('height', 'auto !important');
                smas.openDialog('ImportHealthy', '', {});
            }
            else {
                var classid = $('#HiddenPanel #ClassID').val();
                var className = '';
                var standardName = $('#listSubjectWraper').find('a[class="Active"]').text();
                var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
                $('#ClassChoiceID #strClassNameID').html(temp);

                if ((temp.toUpperCase()).indexOf("LỚP") == -1) {
                    className = 'của lớp <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }
                else {
                    className = 'của <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }

                var str1 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> ' + className;
                $('#ExportHealthy #lblStandardID').html(str1);
                var str2 = 'Sổ khám tất cả danh mục ' + className;
                $('#ExportHealthy #lblAllStandardID').html(str2);
                var str3 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> của tất cả các lớp';
                $('#ExportHealthy #lblAllClassID').html(str3);
                smas.openDialog("ExportHealthy", "", {});
            }
        };

        function OnclickAll(item) {
            if ($(item).is(':checked')) {
                $('#GridOverAll').find('input[id^="chk_"]').attr('checked', 'checked');
            }
            else {
                $('#GridOverAll').find('input[id^="chk_"]').removeAttr('checked');
            }
        }

        function OneChecked(item) {
            var countTotal = $('#GridOverAll').find('input[id^="chk_"]').length;
            var countChecked = 0;
            $('#GridOverAll').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == countTotal) {
                $('#GridOverAll #chkAll').attr('checked', 'checked');
            }
            else {
                $('#GridOverAll #chkAll').removeAttr('checked');
            }
        }

        function SetValueHidden() {
            var countChecked = 0;
            $('#GridOverAll').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để lưu', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để lưu', 'red');
                return;
            }

            var errorIndex = 0;
            $('#GridOverAll').find('input[id^="txtDate_"]').each(function () {
                if ($(this).val().length > 0) {
                    if (validateDate1($(this).val()) == false) {
                        errorIndex++;
                        smas.alertColor('Thầy/cô nhập thông tin ngày khám không hợp lệ', 'red');
                        $(this).focus();
                        return;
                    }
                }
            });
            if (errorIndex > 0) {
                smas.alertColor('Thầy/cô nhập thông tin ngày khám không hợp lệ', 'red');
                return;
            }

            var checkDate = 0;
            $('#GridOverAll').find('input[id^="txtDate_"]').each(function () {
                var txtDate = $(this).val();
                if (txtDate.length > 0 && txtDate != '' && txtDate != 'undefined') {
                    if (CompareDate(txtDate) == false) {
                        checkDate++;
                    }
                }
            });
            if (checkDate > 0) {
                smas.alertColor('Thầy/cô nhập thông tin ngày khám không được lớn hơn ngày hiện tại', 'red');
                return;
            }

            var typeID = $('#TypeID').val();
            $('#frmOverAll #hdfValue').html($('#HiddenPanel').html());
            $('#frmOverAll #hdfTypeID').val(typeID);
            $('#frmOverAll #HealthPeriodIDCreate').val($('#HealthPeriodID').val());

            //var countChecking = 0;
            //var countDoctorName = 0;
            //$("#GridOverAll").find(":checkbox[id*='chk_']").each(function () {
            //    if ($(this).is(':checked')) {
            //        countChecking++;
            //        var b = $(this).parent().parent().find(":text[id*='txtDoctor_']").attr("value");
            //        if (b != "") {
            //            countDoctorName++;
            //        }
            //    }
            //});
            //if (countChecking == countDoctorName || $("#PupilIDOne").attr("value")) {
                $('#frmOverAll #btnSubmit').click();
            //}
            //else {
            //    smas.alertColor("Thầy cô chưa nhập thông tin Tên bác sĩ", "red");
            //}                  
        }

        function DeleteOverAll() {
            var form = $('#frmOverAll');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $('#frmOverAll #HealthPeriodIDCreate').val($('#HealthPeriodID').val());
            var classID = $('#HiddenPanel #ClassID').val();
            var arrPupiID = '';
            var pupilID = '';

            $('#GridOverAll').find('input[id*="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    pupilID = $(this).attr('defaultID');
                    arrPupiID += pupilID + ',';
                }
            });

            if (arrPupiID == '') {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để xóa', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để xóa', 'red');
                return;
            }
            var healthPeriodID = $('#HealthPeriodIDCreate').val();
            removeAssign(classID, healthPeriodID, arrPupiID);
        }

        function removeAssign(classID, healthPeriodID, arrPupilID) {
            $('#ConfirmDelete .t-header').find('.t-window-title').text('Thông báo');
            var htmlMessage = "<br/>Thầy/cô chắc chắn có muốn xóa thông tin tổng quát của học sinh?";
            confirmDelete(htmlMessage, function () {
                $.ajax({
                    url: '@Url.Action("DeleteOverAll", "MonitoringBookYearOfPupil")',
                    type: 'post',
                    data: { ClassID: classID, HealthPeriodID: healthPeriodID, arrPupilID: arrPupilID },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == 'error') {
                            smas.alertColor(msg.Message, 'red');
                        }
                        else {
                            smas.alert(msg.Message);
                            LoadGrid();
                        }

                        smas.closeDialog("ConfirmDelete");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        smas.hideProcessingDialog();
                    }
                });
            });
        }

        function confirmDelete(message, func) {
            $("#ConfirmDelete .t-window-content").css("height", "auto");
            $("#ConfirmDelete #Message").html(message);
            $("#ConfirmDelete #OK").unbind("click").click(function () {
                smas.closeDialog("ConfirmDelete");
                func();
            });
            $("#ConfirmDelete #Cancel").unbind("click").click(function () {
                smas.closeDialog("ConfirmDelete");
            });
            smas.openDialog("ConfirmDelete", "", {});
        }

        function SaveSuccess(e) {
            smas.hideProcessingDialog();
            smas.alert(e.Message);
            LoadGrid();
        }

        function OnComplete() {
            smas.hideProcessingDialog();
        }

        function SaveFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }
    </script>
}
