﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@using SMAS.Web.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea.Models
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea
@using SMAS.Business.Common

@{
    GlobalInfo glo = new GlobalInfo();
    List<EntViewModel> lstResult = new List<EntViewModel>();
    if (ViewData[MonitoringBookYearOfPupilConstant.LIST_ENT_VM] != null)
    {
        lstResult = (List<EntViewModel>)ViewData[MonitoringBookYearOfPupilConstant.LIST_ENT_VM];
    }

    string strLastUpdate = ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] != null ? (string)ViewData[MonitoringBookYearOfPupilConstant.LAST_UPDATE_STRING] : string.Empty;

    int statusPupi = SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING;

    bool create = ViewData[SystemParamsInFile.PERMISSION_CREATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_CREATE] : false;
    bool update = ViewData[SystemParamsInFile.PERMISSION_UPDATE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_UPDATE] : false;
    bool delete = ViewData[SystemParamsInFile.PERMISSION_DELETE] != null ? (bool)ViewData[SystemParamsInFile.PERMISSION_DELETE] : false;
}

@if (true)
{
    using (Ajax.BeginForm("SaveEnt",
                           "MonitoringBookYearOfPupil",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "OnComplete",
                               OnSuccess = "SaveSuccess",
                               OnFailure = "SaveFail"
                           },
                           new { id = "frmEnt" }
                           ))
    {
    @Html.AntiForgeryToken()
    @Html.Hidden("hdfValue", "")
    @Html.Hidden("hdfTypeID", 0)
    @Html.Hidden("HealthPeriodIDCreate", 0)
        
    <div id="ContentMark">
        <div id="GridData">
            <!--Header-->
            <div id="Notes">    
                <div >
                    <div class="inline-block mg-t-10">
                        <span id="lblLastUpdateID">@Html.Raw(strLastUpdate)</span>
                    </div>
                    <div class="inline-block pull-right mg-t-10">
                        @if (lstResult.Count > 0)
                            {
                                 <input type="button" class="btn btn-info btn-round" onclick="printMonitoringBookEnt()" value="In phiếu theo dõi SK" />
                                if (glo.IsCurrentYear && create == true)
                                {                                   
                                    @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                    <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                    </div>
                                    <input type="submit" id="btnSubmit" class="btn btn-info btn-round" style="display: none;" />
                                    <input type="button" id="btnSave" class="btn btn-info btn-round" value="Lưu" onclick="return SetValueHidden();" />
                                
                                    if (delete)
                                    {
                                        <input type="button" id="btnDelete" class="btn btn-basic btn-round btn-icon btn-icon-times" onclick="DeleteEnt()" value="Xóa" />
                                    }
                                }
                                else
                                {  
                                     @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)","btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                    <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                        @{
                                    List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                        }
                                        @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                    </div>                                                   
                                <input type="submit" class="btn btn-info btn-round" style="display: none;" />
                                <input type="button" class="btn btn-info btn-round  btn-icon btn-icon-save" value="Lưu" />
                                <input type="button" class="btn btn-basic btn-round  btn-icon btn-icon-times" value="Xóa" />
                                }
                            }
                    </div>
                    <div class="text-right col-sm-12 no-padding mg-t-10">
                        <span id="idNote2">Trong cột <b>Điếc</b>, <b>Có bệnh, Có </b>nhập <span style="color: #d56900;"><b>X</b></span> hoặc <span style="color: #d56900;"><b>x</b></span>, <b>Không</b> để trống </span>                               
                    </div>
                </div>
            </div>
            <!--//Header-->

            <!--Table content-->
            <div class="col-sm-12 no-padding mg-t-10">
                @{
                            var index = 1;
                            Html.Telerik().Grid(lstResult).Name("GridEnt")
                                .HtmlAttributes(new { @class = "custom-table-border" })
                                .Columns(c =>
                            {
                                // STT
                                c.Template(@<text>@{@index ; index++;}</text>).Title(Res.Get("Common_Index_Number")).HtmlAttributes(new { style = "text-align:center" })
            .HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(40);
                                // họ tên học sinh
                                c.Template(@<text>@{
                                    if (item.Status == statusPupi)
                                    {
                                        <span style="padding-left:3px">@item.PupilName</span>
                                    }
                                    else
                                    {
                                        <span style="padding-left:3px;color:red">@item.PupilName</span>
                                    }}</text>).Title(Res.Get("PupilEvaluationBook_Pupil_Name")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(120);

                                c.Template(@<text>@{
                                        <table>
                                            <tr>
                                                <td>
                                                    @if (item.Status == statusPupi)
                                                    {
                                                     <input class="txtInputR" oninput="onValiteLC('@item.PupilID')" maxlength="4" type="text" value="@(item.LCapacityHearing)" name="@("txtLCapacityHearing_" + item.PupilID)" id="@("txtLCapacityHearing_" + item.PupilID)"/>
                                                    }
                                                    else
                                                    {
                                                        <h4 style="color:red;text-align:center;font-family: Arial !important;">@(item.LCapacityHearing)</h4>
                                                    } 
                                                     
                                                </td>
                                                <td>
                                                    @if (item.Status == statusPupi)
                                                    {
                                                       <input class="txtInputR" oninput="onValiteRC('@item.PupilID')" maxlength="4" type="text" value="@(item.RCapacityHearing)" name="@("txtRCapacityHearing_" + item.PupilID)" id="@("txtRCapacityHearing_" + item.PupilID)"/>
                                                    }
                                                    else
                                                    {
                                                        <h4 style="color:red;text-align:center;font-family: Arial !important;">@(item.RCapacityHearing)</h4>
                                                    } 
                                                   
                                                </td>
                                            </tr>
                                        </table>}</text>)
                                .HeaderTemplate(@<text>@{
                                        <table>
                                            <tr>
                                                <td colspan="2" style="text-align:center">Sức nghe (dB)</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center">Tai trái</td>
                                                <td style="text-align:center">Tai phải</td>
                                            </tr>
                                        </table>
                                    }</text>).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(110);
                                c.Template(@<text>@{
                                    if (item.Status == statusPupi)
                                    {
                                        <input class="txtInputIsDeaf" maxlength="1" oninput="onDeaf('@item.PupilID')" type="text" value="@(item.IsDeafStr)" name="@("txtIsDeaf_" + item.PupilID)" id="@("txtIsDeaf_" + item.PupilID)"/>
                                    }
                                    else
                                    {
                                          <h4 style="color:red;text-align:center;font-family: Arial !important;">@(item.IsDeafStr)</h4>
                                    } 
                                    }</text>)
                                    .Title(Res.Get("Điếc")).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(40);
                                c.Template(@<text>@{
                                        <table>
                                            <tr>
                                                <td colspan="2">
                                                    @if (item.Status == statusPupi)
                                                    {
                                                         <input class="txtInputIs" oninput="onStick('@item.PupilID')" maxlength="1" type="text" value="@(item.IsSickStr)" name="@("txtIsSick_" + item.PupilID)" id="@("txtIsSick_" + item.PupilID)"/>
                                                    }
                                                    else
                                                    {
                                                        <h4 style="color:red;text-align:center;font-family: Arial !important;">@(item.IsSickStr)</h4>
                                                    } 

                                                </td>
                                                <td colspan="3">
                                                    @if (item.Status == statusPupi)
                                                    {
                                                        <input class="txtInputDes" style="" type="text" maxlength="200" value="@(item.Description)" name="@("txtDescription_" + item.PupilID)" id="@("txtDescription_" + item.PupilID)"/>
                                                    }
                                                    else
                                                    {
                                                        <h4 style="color:red;text-align:left;font-family: Arial !important;">@(item.Description)</h4>
                                                    } 
                                                </td>
                                            </tr>
                                        </table>}</text>)
                               .HeaderTemplate(@<text>@{
                                        <table>
                                            <tr>
                                                <td colspan="5" style="text-align:center">Bệnh tai mũi họng</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" colspan="2">Có bệnh</td>
                                                <td class="text-center" colspan="3">Chi tiết bệnh</td>
                                            </tr>
                                        </table>
                                }</text>).HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "vertical-align:middle;" } }).Width(200);

                                c.Template(@<text>@{
                                    if (item.Status == statusPupi)
                                    {
                                        <label class="custom-checkbox p-r-0 p-l-15"><input class="classcheckbox" type ="checkbox" id="@("chk_" + item.PupilID)" name ="@("chk_" + item.PupilID)" checked ="checked" defaultID ="@item.PupilID" onchange ="OneChecked(this);" /><span class="checkmark"></span></label>    
                                    }}</text>).HeaderTemplate(@<text> <label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" id="chkAll" checked="checked" onchange="OnclickAll(this);" class="classcheckboxAll"/><span class="checkmark"></span></label></text>).HtmlAttributes(new { style = "text-align:center" }).Width(60);
                            }).DataKeys(keys => keys.Add(o => o.PupilID)).Scrollable(p => p.Height(360)).Footer(false).Render();
            }
            </div>
        </div>
    </div>
    }
    
    <script type="text/javascript">
        $(document).click(function (event) {
            if ($(event.target).closest("#btnInOut").html() == null || $(event.target).closest("#btnInOut").html() == "undefined") {
                $("#InOutBoxChoice").css("display", "none");
            }
        });

        $(document).ready(function () {
            controlUtils.AddMoveButtonEvent("#GridEnt");
            controlUtils.AddMoveTabEvent("#GridEnt");
            $("input[class='txtInputR']").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
            $(".txtInputIs, .txtInputIsDeaf").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
                if (e.which != 88 && e.which != 120 && e.which != 8) {
                    return false;
                }
            });
        });

        $(".txtInputR").keyup(function (e) {
            if ($(this).val().match(/[^0-9]/g, '')) {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            }
        });

        $(".txtInputR").bind('paste', function (e) {
            setTimeout(function () { $(this).keyup(); }, 30);
        });

        $(".txtInputIsDeaf").keyup(function (e) {
            if ($(this).val().match(/[^X^x]/g, '')) {
                $(this).val($(this).val().replace(/[^X^x]/g, ''));
            }
        });

        $(".txtInputIsDeaf").bind('paste', function (e) {
            setTimeout(function () { $(this).keyup(); }, 30);
        });

        function onValiteRC(id) {
            var txt = $('#txtRCapacityHearing_' + id).val();
            if (parseInt(txt) >= 1000) {
                $('#txtRCapacityHearing_' + id).val(1000);
            }
        }

        function onValiteLC(id) {
            var txt = $('#txtLCapacityHearing_' + id).val();
            if (parseInt(txt) >= 1000) {              
                $('#txtLCapacityHearing_' + id).val(1000);
            }
        }

        function onDeaf(id)
        {
            var txt = $("#txtIsDeaf_" + id).val();
            txt = txt.toUpperCase();
            $("#txtIsDeaf_" + id).val(txt);
        }

        function onStick(id) {
            var txt = $("#txtIsSick_" + id).val();
            txt = txt.toUpperCase();
            $("#txtIsSick_" + id).val(txt);
        }


        function onInOutClick(btn) {
            $("#InOutBoxChoice").hide();
            var position = $(btn).position();
            $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 40, "z-index": "1",width:'115px' });
            $("#InOutBoxChoice").show();
            $("#InOutBoxChoice").find("a").attr("onclick", "InOutHandle(this)");
        };

        // thong bao khi xuat- nhap excel 
        function InOutHandle(item) {
            if ($(item).attr('value') == 1) {
                $('#ImportHealthy .t-window-content.t-content').css('width', '600px');
                $('#ImportHealthy .t-window-content.t-content').css('margin-top', '5px');
                $('#ImportHealthy .t-window-content.t-content').css('height', '100px !important');
                smas.openDialog('ImportHealthy', '', {});
            }
            else {

                var classid = $('#HiddenPanel #ClassID').val();
                var className = '';
                var standardName = $('#listSubjectWraper').find('a[class="Active"]').text();
                var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
                $('#ClassChoiceID #strClassNameID').html(temp);

                if ((temp.toUpperCase()).indexOf("LỚP") == -1) {
                    className = 'của lớp <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }
                else {
                    className = 'của <span style="font-weight: 600; font-weight:bold">' + $("#TreeClass input[value=" + classid + "]").prev().html() + '</span>';
                }

                var str1 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> ' + className;
                $('#ExportHealthy #lblStandardID').html(str1);
                var str2 = 'Sổ khám tất cả danh mục ' + className;
                $('#ExportHealthy #lblAllStandardID').html(str2);
                var str3 = 'Sổ khám <span style="font-weight: 600; font-weight:bold">' + standardName + ' </span> của tất cả các lớp';
                $('#ExportHealthy #lblAllClassID').html(str3);
                smas.openDialog("ExportHealthy", "", {});
            }
        };

        function OnclickAll(item) {
            if ($(item).is(':checked')) {
                $('#GridEnt').find('input[id^="chk_"]').attr('checked', 'checked');
            }
            else {
                $('#GridEnt').find('input[id^="chk_"]').removeAttr('checked');
            }
        }

        function OneChecked(item) {
            var countTotal = $('#GridEnt').find('input[id^="chk_"]').length;
            var countChecked = 0;
            $('#GridEnt').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == countTotal) {
                $('#GridEnt #chkAll').attr('checked', 'checked');
            }
            else {
                $('#GridEnt #chkAll').removeAttr('checked');
            }
        }

        function printMonitoringBookEnt() {
            var arrPupilID = '';
            var countChecked = 0;
            $('#GridEnt').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                    arrPupilID += $(this).attr('defaultID') + ',';
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để in phiếu sức khỏe', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để in phiếu sức khỏe', 'red');
                return;
            }
            PrintHealthTotal(arrPupilID);
        }

        function SetValueHidden() {
            var countChecked = 0;
            $('#GridEnt').find('input[id^="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    countChecked++;
                }
            });
            if (countChecked == 0) {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để lưu', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để lưu', 'red');
                return;
            }

            var typeID = $('#TypeID').val();
            $('#frmEnt #hdfValue').html($('#HiddenPanel').html());
            $('#frmEnt #hdfTypeID').val(typeID);
            $('#frmEnt #HealthPeriodIDCreate').val($('#HealthPeriodID').val());
            $('#frmEnt #btnSubmit').click();
        }


        function removeAssign(classID, healthPeriodID, arrPupilID, token) {
            $('#ConfirmDelete .t-header').find('.t-window-title').text('Thông báo');
            var htmlMessage = "<br/>Thầy/cô chắc chắn có muốn xóa thông tin tai mũi họng của học sinh?";
            confirmDelete(htmlMessage, function () {
                $.ajax({
                    url: '@Url.Action("DeleteEnt", "MonitoringBookYearOfPupil")',
                    type: 'post',
                    data: { ClassID: classID, HealthPeriodID: healthPeriodID, arrPupilID: arrPupilID, __RequestVerificationToken: token },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        if (msg.Type == 'error') {
                            smas.alertColor(msg.Message, 'red');
                        }
                        else {
                            smas.alert(msg.Message);
                            LoadGrid();
                        }

                        smas.closeDialog("ConfirmDelete");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                        smas.hideProcessingDialog();
                    }
                });
            });
            }

            function confirmDelete(message, func, func2) {
                $("#ConfirmDelete .t-window-content").css("height", "auto");
                $("#ConfirmDelete #Message").html(message);
                $("#ConfirmDelete #OK").unbind("click").click(function () {
                    smas.closeDialog("ConfirmAlertDialog");
                    func();
                });
                $("#ConfirmDelete #Cancel").unbind("click").click(function () {
                    smas.closeDialog("ConfirmDelete");
                    if (func2 != undefined) {
                        func2();
                    }
                });
                smas.openDialog("ConfirmDelete", "", {});
            }

        function DeleteEnt() {
            var form = $('#frmEnt');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var classID = $('#HiddenPanel #ClassID').val();
            var arrPupiID = '';
            var pupilID = '';

            $('#GridEnt').find('input[id*="chk_"]').each(function () {
                if ($(this).is(':checked')) {
                    pupilID = $(this).attr('defaultID');
                    arrPupiID += pupilID + ',';
                }
            });

            if (arrPupiID == '') {
                if ('@glo.AppliedLevel' <= 3)
                    smas.alertColor('Thầy/cô chưa chọn học sinh để xóa', 'red');
                if ('@glo.AppliedLevel' > 3)
                    smas.alertColor('Thầy/cô chưa chọn trẻ để xóa', 'red');
                return;
            }
            var healthPeriodID = $('#HealthPeriodID').val();
            removeAssign(classID, healthPeriodID, arrPupiID, token);
        }

        function SaveSuccess(e) {
            smas.hideProcessingDialog();
            smas.alert(e.Message);
            LoadGrid();
        }

        function OnComplete() {
            smas.hideProcessingDialog();
        }

        function SaveFail(ajaxContext) {
            smas.alert(ajaxContext.responseText);
        }
    </script>
}
