﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ImportTeacherArea
@using SMAS.Web.Constants
@{
    ViewBag.Title = Res.Get("Sổ khám sức khỏe hàng năm");
}

<div>
    <div>
        <div class="col-sm-3 text-right p-t-10">
            @Res.Get("ImportPupil_Label_ImportFromExcel")
        </div>
        <div class="col-sm-9 p-b-10">
            <input type="text" value="[Chọn file]" disabled="disabled" id="txtFilePath" class="bg-light"/>
        </div>
        <div class="col-sm-9 col-sm-offset-3 p-b-10">   
            <button type="button" class="btn btn-success btn-icon btn-icon-folder" onclick="$('#ImportHealthy #attachments').click();" title="@Res.Get("Teaching_Schedule_CHON_TEP")">Chọn file</button>
        </div>
        <div style="display: none">
            @(Html.Telerik().Upload()
                .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async
                .Save("UploadFileImportSubject", "MonitoringBookYearOfPupil")
                .AutoUpload(false)
                    ).ClientEvents(events => events
                .OnSelect("OnSelectImport")
                .OnUpload("OnImportUpload")
                .OnSuccess("OnImportSuccess")
                .OnError("OnImportError")
            )
            )
        </div>

        <div class="col-sm-9 col-sm-offset-3">
            <p class="gray">@Res.Get("Teaching_Schedule_GIOI_HAN_TEP")</p>
        </div>
    </div>

    <div class="vt-SearchPanel-Button">
        <div class="text-center">
            @Html.ViettelButton("Import", new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" }, { "style", "text-align:center;margin-top:15px;" } }, "button", "OnImportButtonClick()", "t-state-disabled btn btn-info btn-round")
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFilePath").val('[Chọn file]');
        $(".btnUploaderCss").hide();
        $(".btnUploaderCss").find('span:first').text('Chọn tập tin').attr("style", "text-align:center;");
    });
    var _intervalId;
    var error = false;
    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }
    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#ImportHealthy #attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });
            // Terminate the interval.
            clearInterval(_intervalId);
            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        }
        else {
            $('#btImport').attr('disabled', 'disabled');
            $('#btImport').addClass('t-state-disabled');
            $("#txtFilePath").val("[Chọn file]");
        }
    }

    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        var classID = $('#HiddenPanel #ClassID').val();
                        var StandardID = $('#HiddenPanel #StandardID').val();

                        var dataInput = { ClassID: classID, StandardID: StandardID };
                        e.data = dataInput;
                        return true;
                    }
                    smas.alertColor('@Res.Get("Teaching_Schedule_LOI_DUNG_LUONG")', 'red');
                    error = true;
                    e.preventDefault();
                    return false;
                }
            }
            else {
                smas.alertColor('File không đúng định dạng excel', 'red');
                error = true;
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                $('#btImport').attr('disabled', 'disabled');
                e.preventDefault();
                return false;
            }
        });

        hideUploadButton();
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {
        // Find the upload button.
        var button = $('#ImportHealthy #attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Click it.
            button.click();
            hideUploadButton();
        }
        if (!error) {
            smas.showProcessingDialog();
        }
    }
    function OnImportSuccess(e) {
        smas.hideProcessingDialog();
        smas.hideProcessingDialog();
        if (e.response.Type == "grid") {
            smas.alert(e.response.Message);
            $("#txtFilePath").val("[Chọn file]");
        }
        else {
            $("#txtFilePath").val("[Chọn file]");

            var standardName = $('#listSubjectWraper .ListSubject').find('.Active').text();
            var classid = $('#HiddenPanel #ClassID').val();
            var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
            $('#ClassChoiceID #strClassNameID').html(temp);
            var className = "";
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "Lớp " + $("#TreeClass input[value=" + classid + "]").prev().html();
            }
            else {
                className = $("#TreeClass input[value=" + classid + "]").prev().html();
            }

            var typeImport = e.response.TypeImport;
            $("#TypeImport").val(typeImport);
            $("#HiddenPanel #TypeImportValue").val(typeImport);

            if (typeImport == 2 || typeImport == 3) {
                if (typeImport == 2) {
                    $("#EvaluationGroupByClassImport").html('');
                    $("#EvaluationGroupByClassImport").show();
                    $("#OptionEvaluationGroupImport").show();
                    $("#OptionClassImport").hide();
                    $("#ListAllClassImport").hide();
                    $("ArrSubjectIDImport").val('');
                    $("#EvaluationGroupByClassImport").html(e.response.strOption);
                    strTitleDialog = "Nhập dữ liệu từ Excel - " + className;
                    $('#ImportOptionDialog .t-window-title').html(strTitleDialog);
                    changeSubjectImport();
                } else if (typeImport == 3) {
                    $("#ListAllClassImport").html('');
                    $("#EvaluationGroupByClassImport").hide();
                    $("#OptionEvaluationGroupImport").hide();
                    $("#OptionClassImport").show();
                    $("#ListAllClassImport").show();
                    $("#ArrClassIDImport").val('');
                    var strClassOption = e.response.strOption;
                    strClassOption = strClassOption.replaceAll("changeClasExport", "changeClasImport");
                    strClassOption = strClassOption.replaceAll("ClassExport", "ClassImport");
                    $("#ListAllClassImport").html(strClassOption);
                    strTitleDialog = "Nhập dữ liệu từ Excel - Danh mục " + standardName;
                    $('#ImportOptionDialog .t-window-title').html(strTitleDialog);
                    changeClasImport();
                }     
                smas.openDialog("ImportOptionDialog", "", null);
            }
            else if (typeImport == 1) {
                $("#EvaluationGroupByClassImport").hide();
                $("#ListAllClassImport").hide();
                $("#OptionEvaluationGroupImport").hide();
                $("#OptionClassImport").hide();
                ImportSemester();
            } else {
                smas.alertColor(e.response.Message, 'red');
            }
        }

        smas.closeDialog("ImportHealthy");
        $('#btImport').attr('disabled', 'disabled');
        $('#btImport').addClass('t-state-disabled');
    }
    function OnImportError(e) {
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
        smas.alert(e.responseText);
        smas.hideProcessingDialog();
    }
</script>
