﻿<div id="menu12">
    <div style="visibility: hidden;" class="panner" id="pannerLeft" data-scroll-modifier="-1">
        <ul style="text-align: center">
            <li><a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-left"></a></li>
        </ul>
    </div>
    <div id="listSubjectWraper">
    </div>
    <div style="visibility: visible;" class="panner" id="pannerRight" data-scroll-modifier="1">
        <ul style="text-align: center">
            <li><a href="javascript:void(0);" class="icon icon-arrow-background icon-arrow-right"></a></li>
        </ul>
    </div>

    <div class="panner" id="pannerHDNL" data-scroll-modifier='1'>
       <a href="#" id="viewDetailA" onclick="ShowFormHelper()" class="pull-right" style="color:white;text-decoration: underline;"> [Hướng dẫn nhập liệu] </a>
    </div>
</div>

<script type ="text/javascript">
    $(document).ready(function () {
            ScrollSubject();
        });
    function ChoiceStandard(button)
    {
        var standardId = $(button).attr('value');        
        //var isCommenting = $('.ListSubject #' + declareEvaluationGroID).val();
        //$('#HiddenPanel #IsCommenting').val(isCommenting);
        controlUtils.ChangeStyleButton(button);   
        $('#HiddenPanel #StandardID').val(standardId);
        $('#lstResult').html('');
        LoadGrid();
        LoadTitleMonitoringBook();
       
        // $('#titleMsg').html(txtMsg);      
        $('#listSubjectWraper .ListSubject a.Active').focus();
    }
</script>