﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MonitoringBookYearOfPupilArea
@using SMAS.Models.Models
@using SMAS.VTUtils.HtmlHelpers
@{
    GlobalInfo _globalInfo = new GlobalInfo();

    List<HealthPeriod> lsHealth = new List<HealthPeriod>();
    if (ViewData[MonitoringBookYearOfPupilConstant.LIST_HEALTH] != null)
    {
        lsHealth = (List<HealthPeriod>)ViewData[MonitoringBookYearOfPupilConstant.LIST_HEALTH];
    }
    
}


@{
    ViewBag.Title = "Sổ theo dõi sức khỏe hàng năm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="monitoring-book-year-of-pupil">
    <div id="HiddenPanel">
    @Html.ViettelHidden("ClassID", 0)
    @Html.ViettelHidden("ClassIDOld", 0)
    @Html.ViettelHidden("EducationLevelID", 0)
    @Html.ViettelHidden("SubjectID", 0)
    @*        @Html.ViettelHidden("AppliedLevel", new GlobalInfo().AppliedLevel.Value)*@
    @Html.ViettelHidden("TypeImportValue", 0)

    @Html.ViettelHidden("StandardID", 0)
    @Html.ViettelHidden("StandardID_Old", 0)
    @Html.ViettelHidden("StageID", 0)
    @Html.ViettelHidden("StageID_Old", 0)
</div>

<div id="RightPanel" class="vt-RightPanel" >
    <div class="col-sm-12 no-padding">
        <div id="ClassChoiceID" class="inline-block mg-r-10 mg-b-10" onclick="SelectClass();">
            <div class="text-center light class-choice">
                <span class="">☰ </span>
                <span id="strClassNameID"> [Chọn lớp]</span>
            </div>
        </div>
        <div id="contentTitle" class="inline-block">
            <div id="SearchPanel">
                <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3" >
                    <div >
                        <u class="ResetList btn-group" id="ListStage">
                            @{
                                var i = 0;
                                if (_globalInfo.Semester.Value == 1)
                                {
                                    foreach (var item in lsHealth)
                                    {
                                        if (i == 0)
                                        {
                                    <a href="javascript:void(0);" onclick="javascript:ChoiceStage(this)" id="stage1" value="@item.HealthPeriodID" class="btn btn-bold btn-primary Active">@item.Resolution</a>
                                <input type="hidden" value ="@item.HealthPeriodID" id="HealthPeriodID" name="HealthPeriodID"/>
                                        }
                                        else
                                        {
                                    <a href="javascript:void(0);" onclick="javascript:ChoiceStage(this)" value="@item.HealthPeriodID" class="btn btn-bold btn-primary">@item.Resolution</a>
                                        }
                                        i++;
                                    }
                                }
                                else
                                {
                                    foreach (var item in lsHealth)
                                    {
                                        if (i == 0)
                                        {
                                    <a href="javascript:void(0);" onclick="javascript:ChoiceStage(this)" id="stage1" value="@item.HealthPeriodID" class="btn btn-bold btn-primary">@item.Resolution</a>
                                        }
                                        else
                                        {
                                            <input type="hidden" value ="@item.HealthPeriodID" id="HealthPeriodID" name="HealthPeriodID"/>
                                             <a href="javascript:void(0);" onclick="javascript:ChoiceStage(this)" value="@item.HealthPeriodID" class="btn btn-bold btn-primary Active">@item.Resolution</a>
                                        }
                                        i++;
                                    }
                                }
                            }
                        </u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
            <div id="lstSubjectResult" class="col-sm-12">
                @Html.Partial("_ListStandard")
            </div>
        </div>
    <div id="ClassPanel" class="vt-LeftPanel" style="display:none">
        <div class="SideBarTop">
            @Html.Partial("_ListClass")
        </div>
    </div>
    <div class="message hidden" id="msg">
    </div>
    <div id="lstResult"></div>
</div>

@(Html.Telerik().Window().Name("ConfirmDelete").Title("Thông báo")
                .Content(@<text>@Html.Partial("_ConfirmDelete")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(540)
)
@(Html.Telerik().Window().Name("FormHelper").Title("Hướng dẫn nhập liệu")
                .Content(@<text>@Html.Partial("_FormHelper")</text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(530).Height(880)
)
@(Html.Telerik().Window().Name("FormUnitName").Title("Nhập nhanh đơn vị khám")
                .Content(@<text>@Html.Partial("_FormUnitName")</text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(450)
                .ContentHtmlAttributes(new { style="min-width: 450px;"})
)
@(Html.Telerik().Window().Name("FormMonitoringDate").Title("Nhập nhanh ngày khám")
                .Content(@<text>@Html.Partial("_FormMonitoringDate")</text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(400)
                .ContentHtmlAttributes(new { style="min-width: 400px;"})
)
@(Html.Telerik().Window().Name("ExportHealthy").Title("Xuất excel")
                .Content(@<text>@Html.Partial("_ExportHealthy")</text>)
                .Buttons(buttons => buttons.Close()).Visible(false).Modal(true).Width(350)
)
@(Html.Telerik().Window().Name("ImportHealthy").Title("Import từ file excel")
                .Content(@<text>@Html.Partial("_ImportHealthy")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(600).Height(140)
)
@(Html.Telerik().Window().Name("ImportOptionDialog").Title("Lựa chọn")
                .Content(@<text>@Html.Partial("_ImportOption")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(600)
)
@(Html.Telerik().Window().Name("ImportErrorDialog").Title("Danh sách lỗi")
                .Content(@<text><div id="lstError"></div></text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(700)
)

@(Html.Telerik().Window().Name("_CreateDental").Title("Vị trí răng sâu")
                .Content(@<text>@Html.Partial("_createDentalPosition")</text>).Buttons(buttons => buttons.Close())
                .Draggable(true).Visible(false).Modal(true).Width(580)
                .ContentHtmlAttributes(new { style="min-width: 580px;"})
)

@(Html.Telerik().Window().Name("_CreateOverAll").Title("Thông tin khám")
                .Content(@<text>@Html.Partial("_createOverAll")</text>)
                .Buttons(buttons => buttons.Close()).Draggable(true).Visible(false).Modal(true).Width(567)
                .ContentHtmlAttributes(new { style="min-width: 567px;"})
)
@(Html.Telerik().Window().Name("_CreateDoctor").Title("Bác sĩ khám")
                .Content(@<text>@Html.Partial("_createDoctor")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true).Visible(false).Modal(true).Width(400)
                .ContentHtmlAttributes(new { style="min-width: 400px;"})
)
</div>

<script type="text/javascript">
    var arrAutocomlete = '';
 /*   $("#SearchPanel").css("height", "28px").css("border", "1px solid rgb(217, 231, 255)")
                     .css("background-color", "rgb(217, 231, 255)");*/
    $('#stage1').css('color', 'white !important');
    $(document).mousemove(function (event) {
        if ($(event.target).closest('#ClassPanel').html() == null
        && $(event.target).closest("#ClassChoiceID").html() == null) {
            $("#ClassPanel").css("display", "none");
        }
    });

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetEvaluationPanel", "MonitoringBookYearOfPupil")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $("#listSubjectWraper").html(msg);
                smas.hideProcessingDialog();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
        
    });

    function ChoiceStage(button) {
        var stage = $(button).attr('value');
        $('#HealthPeriodID').val(stage);
        $('#HealthPeriodIDCreate').val(stage);
        controlUtils.ChangeStyleButton(button);

        check = true;
        $('#StageID_Old').val($('#StageID').val());
        $('#StageID').val(stage);

        setTimeout(function () {
            LoadGrid();
        }, 200);
    }

    function LoadTitleMonitoringBook() {
        var txtMsg = '';
        var txtName = $('#listSubjectWraper .ListSubject a.Active').text();
        txtName = txtName.trim();
        var classid = $('#HiddenPanel #ClassID').val();
        if ((classid != '' || classid != null || classid != 'undefined') && classid > 0)
        {
            var className = $("#TreeClass input[value=" + classid + "]").prev().html().trim();
           
            if (txtName != "") {
                var str = className.toUpperCase();
                var index = str.indexOf("LỚP");

                var txt = '';
                if (txtName.toUpperCase() == "TỔNG QUÁT") {
                    txt = 'SỔ THEO DÕI SỨC KHỎE ';
                }
                else {
                    txt = 'SỔ THEO DÕI SỨC KHỎE VỀ ';
                }

                if (index != -1) {
                    txtMsg = txt + txtName.toUpperCase() + ' - ' + className.toUpperCase();
                }
                else {
                    txtMsg = txt + txtName.toUpperCase() + ' - LỚP ' + className.toUpperCase();
                }
            }
            else {
                txtMsg = 'SỔ THEO DÕI SỨC KHỎE';
            }
            $('#titleMsg').html(txtMsg);
        }
        else
        {
            txtMsg = 'SỔ THEO DÕI SỨC KHỎE';
            $('#titleMsg').html(txtMsg);
        }
       
    }

    function OnSelectItem(item) {
        var htmlItem = $(item).html();
        $(item).closest('div[class="CommentDiv"]').parent().find('textarea').val(htmlItem);
        $(item).closest('div[class="CommentDiv"]').hide();
    }
    function MouseOver(item) {
        $(item).addClass('OverForLi');
    }
    function MouseOut(item) {
        $(item).removeClass("OverForLi");
    }

    function selectClassForMarkRecord(e) {
        //$('#StandardID').val('0');
        $('#lstResult').html('');
        var position = $('#ClassChoiceID').position();
       /* $('#ClassPanel').css('left', position.left + 5).css('top', position.top + 60);*/
        $('#ClassPanel').hide();
        var item = $(e.item);
        var SubjectIDOld = 0;
        if ($(item).attr('id') == 'ClassID') {
            $('#ClassIDOld').val($('#ClassID').val());
            $("#HiddenPanel #ClassID").val(treeView().getItemValue(item));
            $("#EducationLevelID").val($(item).closest('ul').prev().find(".t-input").val());
        } else {
            //$("#listSubjectWraper").html("");
            $('#HiddenPanel #ClassID').val('0');
            $("#SubjectPanel").html("");
            smas.hideProcessingDialog();

            $("#pannerLeft").css('visibility', 'hidden');
            $("#pannerRight").css('visibility', 'hidden');
            $('#ClassChoiceID #strClassNameID').html('[Chọn lớp]');
            var title = "SỔ THEO DÕI SỨC KHỎE";
            $('#titleMsg').html(title);

          /*  $("#ClassChoiceID").css("height", "64px");*/
            $("#menu12").css("margin-top", "0px");
           /* $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "28px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "rgb(217, 231, 255)" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);*/
            $("#titleMsg").css("margin-top", "8px");
            return;
        }

        //load lai danh gia khi thay doi lop
        var classid = $('#HiddenPanel #ClassID').val();
        var className = "";
        if (classid == 0) {
            className = "";
            isLoadEducation = true;
        }
        else {
            var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
            $('#ClassChoiceID #strClassNameID').html(temp);
            if (stringUtils.StripVNSign(temp.toUpperCase()).indexOf("LOP") == -1) {
                className = "LỚP " + $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            else {
                className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
            }
            isLoadEducation = false;
        }

        var _className = $("#TreeClass input[value=" + classid + "]").prev().html().toUpperCase();
        if (_className.length > 10) {
            @{
            <text>
            /*$("#ClassChoiceID").css("height", "73px");*/
            $("#menu12").css("margin-top", "10px");
         /*   $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "38px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "rgb(217, 231, 255)" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);*/
            $("#titleMsg").css("margin-top", "14px");
            </text>
            }
        }
        else {
            @{
             <text>
         /*   $("#ClassChoiceID").css("height", "64px");*/
            $("#menu12").css("margin-top", "0px");
          /*  $("#SearchPanel").removeAttr("style");
            var objprocc = { height: "28px", border: "1px solid rgb(217, 231, 255)", backgroundcolor: "rgb(217, 231, 255)" }
            $("#SearchPanel").css("height", objprocc.height);
            $("#SearchPanel").css("border", objprocc.border);
            $("#SearchPanel").css("background-color", objprocc.backgroundcolor);*/
            $("#titleMsg").css("margin-top", "8px");
            </text>
            }
        }
        $('#ClassNameTitle').html(className);
        LoadTitleMonitoringBook();
        LoadGrid();
    }

    function LoadGrid() {
        var classID = $('#HiddenPanel #ClassID').val();
        var standardID = $('#HiddenPanel #StandardID').val();
        if (classID > 0 && standardID > 0) {
            LoadAjax(classID, standardID);
        }
        else {
            $('#lstResult').html('');
            smas.hideProcessingDialog();
        }
    }

    function LoadAjax(classID, standardID) {
        var healthPeriodID = $('#HealthPeriodID').val();
        $.ajax({
            url: '@Url.Action("AjaxLoadGrid", "MonitoringBookYearOfPupil")',
            data: { ClassID: classID, StandardID: standardID, HealthPeriodID: healthPeriodID },
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            success: function (msg) {
                $('#lstResult').html('');
                $('#lstResult').html(msg);
                smas.hideProcessingDialog();
                //$('#listSubjectWraper .ListSubject').find('li').first().find('a.Active').focus();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
                smas.hideProcessingDialog();
            }
        });
    }

    function SelectClass() {
        $('#ClassPanel').show();
    }

    //importexcel
    function ImportSemester() {
        var standardID = $("#HiddenPanel #StandardID").val();
        var classid = $("#HiddenPanel #ClassID").val();
        var arrStandardIDImport = $("#ImportOptionDialog #ArrStandardIDImport").val();
        var arrClassIDImport = $("#ImportOptionDialog #ArrClassIDImport").val();
        var dataInput = null;
        var typeimport = $("#HiddenPanel #TypeImportValue").val();
        var healthPeriodID = $('#HealthPeriodID').val();

        dataInput = { typeImport: typeimport, ClassID: classid, StandardID: standardID, healthPeriodID: healthPeriodID, arrStandardIDImport: arrStandardIDImport, arrClassIDImport: arrClassIDImport };

        if (typeimport == 1) {
            if (dataInput != null) {
                $.ajax({
                    url: '@Url.Action("ImportExcel", "MonitoringBookYearOfPupil")',
                    type: 'post',
                    data: dataInput,
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        smas.hideProcessingDialog();
                        smas.closeDialog('ImportHealthy');
                        smas.closeDialog('ImportOptionDialog');

                        if (msg.Type == 'CreateViewError') {
                            $('#ImportErrorDialog #lstError').html(msg.Message);
                            setTimeout(function () {
                                smas.openDialog('ImportErrorDialog', '', {});
                            }, 300);

                        }
                        else {
                            if (msg.Type == 'error') {
                                smas.alertColor(msg.Message, 'red');
                            } else {
                                smas.alert(msg.Message);
                                LoadGrid();
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            }
            else {
                smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
            }

        }
        else if (typeimport == 2 || typeimport == 3)
        {
            if (typeimport == 2)
            {
                if (arrStandardIDImport == "" || arrStandardIDImport == null) {
                    smas.alert({ Type: "error", Message: "Thầy/cô chưa chọn danh mục sức khỏe" });
                    return;
                }
                else {
                    if (dataInput != null) {
                        $.ajax({
                            url: '@Url.Action("ImportExcel", "MonitoringBookYearOfPupil")',
                            type: 'post',
                            data: dataInput,
                            beforeSend: function () {
                                smas.showProcessingDialog();
                            },
                            success: function (msg) {
                                smas.hideProcessingDialog();
                                smas.closeDialog('ImportHealthy');
                                smas.closeDialog('ImportOptionDialog');

                                if (msg.Type == 'CreateViewError') {
                                    $('#ImportErrorDialog #lstError').html(msg.Message);
                                    setTimeout(function () {
                                        smas.openDialog('ImportErrorDialog', '', {});
                                    }, 300);
                                }
                                else {
                                    if (msg.Type == 'error') {
                                        smas.alertColor(msg.Message, 'red');
                                    } else {
                                        smas.alert(msg.Message);
                                        setTimeout(function () {
                                            LoadGrid();
                                        }, 300);
                                    }
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    }
                    else {
                        smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
                    }
                }
            }
            else
            {         
                if (arrClassIDImport == "" || arrClassIDImport == null)
                {
                    smas.alert({ Type: "error", Message: "Thầy/cô chưa chọn lớp học" });
                    return;
                }
                else
                {
                    if (dataInput != null)
                    {
                        $.ajax({
                            url: '@Url.Action("ImportExcel", "MonitoringBookYearOfPupil")',
                            type: 'post',
                            data: dataInput,
                            beforeSend: function () {
                                smas.showProcessingDialog();
                            },
                            success: function (msg) {
                                smas.hideProcessingDialog();
                                smas.closeDialog('ImportHealthy');
                                smas.closeDialog('ImportOptionDialog');

                                if (msg.Type == 'CreateViewError') {
                                    $('#ImportErrorDialog #lstError').html(msg.Message);
                                    setTimeout(function () {
                                        smas.openDialog('ImportErrorDialog', '', {});
                                    }, 300);
                                }
                                else {
                                    if (msg.Type == 'error') {
                                        smas.alertColor(msg.Message, 'red');
                                    } else {
                                        smas.alert(msg.Message);
                                        setTimeout(function () {
                                            LoadGrid();
                                        }, 300);
                                    }
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    }
                    else
                    {
                        smas.alert({ Type: "error", Message: "File Excel không hợp lệ." });
                    }
                }  
            }
    }
}

function ScrollSubject()
    {
        var scrollHandle = 0,
            scrollStep = 5,
            parent = $("#listSubjectWraper");

        //Start the scrolling process
        $(".panner").on("mousedown touchstart", function () {
            var data = $(this).data('scrollModifier'),
                direction = parseInt(data, 10);

            startScrolling(direction, scrollStep);
        });

        //Kill the scrolling
        $(".panner").on("mouseup touchend", function () {
            stopScrolling();
        });

        //Actual handling of the scrolling
        function startScrolling(modifier, step) {
            if (scrollHandle === 0) {
                scrollHandle = setInterval(function () {
                    var newOffset = parent.scrollLeft() + (scrollStep * modifier);

                    parent.scrollLeft(newOffset);
                }, 10);
            }
        };

        function stopScrolling() {
            clearInterval(scrollHandle);
            scrollHandle = 0;
        };

        $('#listSubjectWraper').scroll(function () {
            var $width = $('#listSubjectWraper').outerWidth()
            var $scrollWidth = document.getElementById("listSubjectWraper").scrollWidth;
            var $scrollLeft = $('#listSubjectWraper').scrollLeft();
            if ($scrollWidth - $width === $scrollLeft) {
                $("#pannerRight").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerRight").css('visibility', 'visible');
            }
            if ($scrollLeft === 0) {
                $("#pannerLeft").css('visibility', 'hidden');
                stopScrolling();
            }
            else {
                $("#pannerLeft").css('visibility', 'visible');
            }
        });
    }
function PrintHealthTotal(arrPupilID) {
    var standardID = $("#HiddenPanel #StandardID").val();
    var classid = $("#HiddenPanel #ClassID").val();
    var healthPeriodID = $('#HealthPeriodID').val();

    if (arrPupilID.length == 0 || healthPeriodID == '' || classid == '' || standardID == '') {
        return false;
    }
    else {
        var _className = $("#TreeClass input[value=" + classid + "]").prev().html();
            $.ajax({
                url: '@Url.Action("PrintDetailHealthTest", "MonitoringBookYearOfPupil")',
                type: 'post',
                data: { arrpupilID: arrPupilID, ClassID: classid, StandardID: standardID, HealthPeriodID: healthPeriodID },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                success: function (msg) {
                        var fileName = "PhieuTheoDoiSK_" + _className;
                        var content = "";
                        content = content + "<html xmlns=\"http://www.w3.org/1999/xhtml\">";
                        content = content + "<head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" /><title>" + fileName + "</title></head>";
                        content = content + "<body><div id=\"container\"> <div id=\"content\"><div class=\"ContentSectionBtm\"> <div class=\"Content2Section\"><div class=\"GroupContentSection\"><div class=\"HomeSection\"><div class=\"CntTabSection\">";
                        content = content + msg + "</div></div> </div></div></div> </div></div></body></html>";
                        var WindowObject = window.open('', '', "width=1300,height=650,top=0,left=0,toolbars=no,scrollbars=yes,status=no,resizable=yes");
                        WindowObject.document.writeln(content);
                        WindowObject.document.close();                    
                        WindowObject.focus();
                        WindowObject.print();                      
                        WindowObject.close();
                        smas.hideProcessingDialog();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
    }
}

function CheckAllSubjectImport() {
    var ArrStandardIDImport = '';
    $("#ArrStandardIDImport").val('');
    var chckAllSubject = $("#chckAllSubjectImport").is(":checked");
    if (chckAllSubject) {
        $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
            $(this).attr("checked", "checked");
            ArrEvaluationGroupIDImport += $(this).val() + ',';
        });
    } else {
        $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
            $(this).removeAttr("checked");
        });
    }
    $("#ArrStandardIDImport").val(ArrEvaluationGroupIDImport);
}
function CheckAllClassImport() {
    var ArrClassIDImport = '';
    $("#ArrClassIDImport").val('');
    var chckAllClass = $("#chckAllClassImport").is(":checked");
    if (chckAllClass) {
        $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
            $(this).attr("checked", "checked");
            ArrClassIDImport += $(this).val() + ',';
        });
    } else {
        $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
            $(this).removeAttr("checked");
        });
    }
    $("#ArrClassIDImport").val(ArrClassIDImport);
}

function changeSubjectImport() {
    var arrSubjectImport = '';
    $("#ArrStandardIDImport").val('');
    $(".classSubjectImport").each(function () {
        var chcked = $(this).is(":checked");
        if (chcked) {
            arrSubjectImport += $(this).val() + ',';
        }
    });
    $("#ArrStandardIDImport").val(arrSubjectImport);

    var totalChecked = $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").length;
    var totalItemChecked = 0;
    $(".ListSubjectClassImport .ClassListSubjectImport .classSubjectImport").each(function () {
        var itemChecked = $(this).is(":checked");
        if (itemChecked) {
            totalItemChecked++;
        }
    });
    if (totalItemChecked == totalChecked) {
        $("#chckAllSubjectImport").attr("checked", "checked");
    } else {
        $("#chckAllSubjectImport").removeAttr("checked");
    }
}

function changeClasImport() {
    var arrClassImport = '';
    $("#ArrClassIDImport").val('');
    $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
        var chcked = $(this).is(":checked");
        if (chcked) {
            arrClassImport += $(this).val() + ',';
        }
    });
    $("#ArrClassIDImport").val(arrClassImport);

    var totalChecked = $(".ClassAllClassImport .ClassListClassOption .ClassImport").length;
    var totalItemChecked = 0;
    $(".ClassAllClassImport .ClassListClassOption .ClassImport").each(function () {
        var itemChecked = $(this).is(":checked");
        if (itemChecked) {
            totalItemChecked++;
        }
    });
    if (totalItemChecked == totalChecked) {
        $("#chckAllClassImport").attr("checked", "checked");
    } else {
        $("#chckAllClassImport").removeAttr("checked");
    }
}

function CompareDate(inputDate) {
    var today = new Date();
    var todayDateFormatted = new Date(today.getFullYear(), today.getMonth(), today.getDate());

    var lstValueDate = inputDate.split("/");
    var _inputDate = lstValueDate[1] + "/" + lstValueDate[0] + "/" + lstValueDate[2]
    var dateNotif = new Date(_inputDate);
    var dateinputFormatted = new Date(dateNotif.getFullYear(), dateNotif.getMonth(), dateNotif.getDate());

    if (todayDateFormatted >= dateinputFormatted)
        return true;

    return false;
}

function validateDate1(valDate) {
    var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
    if (valDate.match(dateformat)) {
        var seperator1 = valDate.split('/');
        var seperator2 = valDate.split('-');
        if (seperator1.length > 1) {
            var splitdate = valDate.split('/');
        }
        else if (seperator2.length > 1) {
            var splitdate = valDate.split('-');
        }
        var dd = parseInt(splitdate[0]);
        var mm = parseInt(splitdate[1]);
        var yy = parseInt(splitdate[2]);
        var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        if (mm == 1 || mm > 2) {
            if (dd > ListofDays[mm - 1]) {
                return false;
            }
        }
        if (mm == 2) {
            var lyear = false;
            if ((!(yy % 4) && yy % 100) || !(yy % 400)) {
                lyear = true;
            }
            if ((lyear == false) && (dd >= 29)) {
                return false;
            }
            if ((lyear == true) && (dd > 29)) {
                return false;
            }
        }
    }
    else {
        return false;
    }
}
</script>



