﻿@model List<PupilRepeatedViewModel>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TransferDataArea.Models
@using SMAS.Web.Areas.TransferDataArea
@{
    var lstClassStay = ViewData[TransferDataConstant.LST_CLASS_STAY] as List<ClassinGeneral>;
    if (lstClassStay == null) { lstClassStay = new List<ClassinGeneral>(0); }
    bool ENABLE_CHECKBOX = ViewBag.InTimeToTransferOrUntransfer;
}
    @{
        var index = 1;
        Html.Telerik().Grid<PupilRepeatedViewModel>(Model)
        .Name("ListClassRepeatedGrid")
         .DataKeys(keys =>
         {
             keys.Add(p => p.PupilID);
         })
        .DataBinding(dataBinding => dataBinding.Ajax().OperationMode(GridOperationMode.Client)) // <-- set the operation mode
         .Columns(c =>
         {
             //cot STT
             c.Template(@<text> @(index++)<input type='hidden' name='HiddenPupilID' value='@item.PupilID'/> </text>)
                 .ClientTemplate("<#= lstInd++ #> <input type='hidden' name='HiddenPupilID' value='<#= PupilID #>'/>")
                 .Title(@Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center;" })
                 .HeaderHtmlAttributes(new { style = "text-align:center" })
                 .Width(40);
             c.Bound(o => o.FullName).Width(180);
             c.Bound(o => o.PupilCode).HtmlAttributes(new { style = "word-wrap: break-word;" }).Width(120);
             c.Bound(o => o.BirthDate).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center;" }).Width(100);
             c.Bound(o => o.GenreName).HtmlAttributes(new { style = "text-align:center;" }).Width(80);
             c.Bound(o => o.OldClassName).HtmlAttributes(new { style = "text-align:center;" }).Width(120);
             //lop luu ban
             c.Template(
                @<text>
                @{
                    if (item.RepeatedClassID != 0)
                    {
                        <select name="RepeatedClassName" id="RepeatedClassID" disabled="disabled">
                        @foreach (var classs in lstClassStay)
                        {
                            if (classs.ID == item.RepeatedClassID)
                            {
                                <option value=@classs.ID selected="selected" >@classs.Name</option>
                            }
                            else
                            {
                                <option value=@classs.ID>@classs.Name</option>
                            }
                        }
                        </select>
                        @Html.ViettelHidden("RepeatedClassNameHidden", item.RepeatedClassID)
                    }
                    else
                    {
                        <select name="RepeatedClassNameHidden" id="RepeatedClassID">
                        @foreach (var classs in lstClassStay)
                        {
                            <option value=@classs.ID>@classs.Name</option>
                        }
                        </select>
                    }
                }
                </text>)
            .Title(Res.Get("ClassForwarding_Label_RepeatedClassName")).Width(150);
             //ket chuyen 
             c.Template(
                @<text>
                @if (ENABLE_CHECKBOX && item.RepeatedClassID == 0)
                {
                    <div style="text-align: center">
                        <label class="custom-checkbox no-padding">
                            <input name="checkAllTransfer" type="checkbox"
                                checked="checked" CheckForJavaScript="CheckForJavaScript" onchange="OncbTransferRepeateChange(this)"
                                value="@item.PupilID " title="checkedTransfer" />
                            <span class="checkmark" style="top:-5px; left:-10px"></span>
                        </label>
                    </div>
                }
                else
                {
                    <div style="text-align: center"> 
                        <label class="custom-checkbox no-padding">
                        <input name="checkAllTransfer" type="checkbox"   checked="checked" disabled="disabled" value="@item.PupilID " title="checkedTransfer" />
                        <span class="checkmark" style="top:-5px; left:-10px"></span>
                        </label>
                    </div>
                }
                </text>)            
                .HeaderTemplate(
                @<text>
                    <label class="custom-checkbox">
                        <input type="checkbox" checked="checked" title="check all " onclick="checkAllTransferCB(this)" id="checkAllTransfer" />
                        @Res.Get("TransferData_Label_Transfer")
                        <span class="checkmark">&nbsp;</span>
                    </label>
                </text>)
                .ClientTemplate("<label class=\"custom-checkbox no-padding\"><input type=\"checkbox\" checked=\"checked\" name=\"checkAllTransfer\" value=\"<#=OldClassID #>\" /><span class=\"checkmark\"style=\"top:-5px; left:-10px\">&nbsp;</span></label>").Width(150);
             // huy ket chuyen 
             c.Template(
        @<text>
        @if (ENABLE_CHECKBOX && item.RepeatedClassID != 0)
        {
    <div style="text-align: center">
    <label class="custom-checkbox no-padding">
     <input name="checkAllUnTransfer" type="checkbox"
            CheckForJavaScript="CheckForJavaScript" onchange="OncbUnTransferRepeateChange(this)"
            value="@item.PupilID " title="checkAllUnTransfer" />
        <span class="checkmark" style="top:-5px; left:-10px"></span>
        </label>
        </div>
        }
        else
        {
    <div style="text-align: center"> 
        <label class="custom-checkbox no-padding">
        <input name="checkAllUnTransfer" type="checkbox"
            disabled="disabled" value="@item.PupilID " title="checkAllUnTransfer" /> 
            <span class="checkmark" style="top:-5px; left:-10px"></span>
        </label>
     </div>
        }
        </text>)
        .HeaderTemplate(
            @<text>
                <label class="custom-checkbox">
                    <input type="checkbox" title="check all " onclick="checkAllUnTransferCB(this)" id="checkAllUnTransfer" />
                    @Res.Get("TransferData_Label_UnTransfer")
                    <span class="checkmark">&nbsp;</span>
                </label>
            </text>)
        .ClientTemplate("<label class=\"custom-checkbox no-padding\"><input type=\"checkbox\"  name=\"checkAllUnTransfer\" value=\"<#=OldClassID #>\" /><span class=\"checkmark\"style=\"top:-5px; left:-10px\">&nbsp;</span></label>").Width(150); 
        })  
        .Editable(editing => editing.Mode(GridEditMode.PopUp))  
        .ClientEvents(events => events.OnDataBinding("ListClassRepeatedGrid_onDataBinding"))
        .Selectable()
        .Resizable(c=>c.Columns(true))
        .Scrollable(o => o.Height("400px"))
        .Render();                    
    }

<script type="text/javascript">
    var lstInd = 0;
    function ListClassRepeatedGrid_onDataBinding(e) {
        var grid = $('#ListClassRepeatedGrid').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    function checkAllTransferCB(obj) {
        $("#ListClassRepeatedGrid tbody input[name='checkAllTransfer'][CheckForJavaScript='CheckForJavaScript']").attr("checked", obj.checked);
    }

    function checkAllUnTransferCB(obj) {
        $("#ListClassRepeatedGrid tbody input[name='checkAllUnTransfer'][CheckForJavaScript='CheckForJavaScript']").attr("checked", obj.checked);
    }

    function OncbTransferRepeateChange(cbTransferRepeate) {
        var IsAllCheck = true;
        if (cbTransferRepeate.checked) {
            $("#ListClassRepeatedGrid tbody input[name='checkAllTransfer'][CheckForJavaScript='CheckForJavaScript']").each(function () {
                if (!this.checked) {
                    IsAllCheck = false;
                    return;
                }
            });
            if (IsAllCheck) {
                $("#checkAllTransfer").attr("checked", "checked")
            }
        } else {
            $("#checkAllTransfer").removeAttr("checked")
        }
    }

    function OncbUnTransferRepeateChange(cbUnTransferRepeate) {
        var IsAllCheck = true;
        if (cbUnTransferRepeate.checked) {
            $("#ListClassRepeatedGrid tbody input[name='checkAllUnTransfer'][CheckForJavaScript='CheckForJavaScript']").each(function () {
                if (!this.checked) {
                    IsAllCheck = false;
                    return;
                }
            });
            if (IsAllCheck) {
                $("#checkAllUnTransfer").attr("checked", "checked")
            }
        } else {
            $("#checkAllUnTransfer").removeAttr("checked")
        }
    }
</script>

