﻿@model IEnumerable<TransferDataOptionObject>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TransferDataArea.Models
@using SMAS.Web.Areas.TransferDataArea
@{
    var lstPupilInOldClass = ViewData[TransferDataConstant.LS_LISTOLDCLASS] as List<TransferDataOptionObject>;
    if (lstPupilInOldClass == null) { lstPupilInOldClass = new List<TransferDataOptionObject>(0); }
    var index = 1;
}

@{Html.Telerik().Grid(lstPupilInOldClass)
        .Name("OldClassGird")
        .DataKeys(keys =>
        {
            keys.Add(p => p.PupilProfileID);
        })
        .Columns(columns =>
        {
            // Column STT
            columns.Template(@<text>@(index++)</text>)
                    .ClientTemplate("<#= lstInd++ #>")
                    .Title(@Res.Get("Common_Column_Order"))
                    .HtmlAttributes(new { style = "text-align:center" })
                    .Width(35);
            // Column fullname of pupil
            columns.Bound(p => p.FullName).Width(120).HtmlAttributes(new { style = "text-align:left" });
            // Column Birthday
            columns.Template(p => p.Birthday.ToShortDateString())
                .Width(80)
                .HeaderTemplate(Res.Get("PupilProfile_Label_BirthDate"))
                .HtmlAttributes(new { style = "text-align:center" });
            // Column genre of pupil
            columns.Template(p => p.Genre == 0 ? "Nữ" : p.Genre == 1 ? "Nam" : "Không xác định")
                .HeaderTemplate(Res.Get("PupilProfile_Label_Genre"))
                .Width(80).HtmlAttributes(new { style = "text-align: center" }); ;
            // Column checkbox
            columns.Template(
                    @<text>
                        <label class="custom-checkbox no-padding">
                            <input name="checkedOldPupil" type="checkbox"  
                                onchange="OncbCheckedOldChange(this)"
                                value="@item.PupilProfileID "
                                @(item.DisableTransferDataOption? " disabled=disabled ":" ")
                                title="@item.ReasonForDisableTransferDataOption" />
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </text>
                )
                .HeaderTemplate(
                    @<text>
                        <label class="custom-checkbox no-padding">
                            <input type="checkbox" title="Chọn tất cả học sinh" onclick="checkAllOldPupil(this)" id="checkedAllOldPupil" />
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </text>
                )
                .Width(50)
                .HeaderHtmlAttributes(new { style = "text-align:center" })
                .HtmlAttributes(new { style = "text-align:center" });
        })
        .EnableCustomBinding(true)
        .Scrollable(o => o.Height(400))
        .Render();
    }

<script type="text/javascript">
    var lstInd = 0;
    function OldClassGrid_onDataBinding(e) {
        var grid = $('#OldClassGird').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }
    function checkAllOldPupil(obj) {
        $("#OldClassGird tbody input:checkbox:enabled").attr("checked", obj.checked);
    }

    function OncbCheckedOldChange(cbCheckedOld) {
        var IsAllCheck = true;
        if (cbCheckedOld.checked) {
            $("#OldClassGird tbody input[name='checkedOldPupil']:enabled").each(function () {
                
                if (!this.checked) {
                    IsAllCheck = false;
                    return;
                }
            });
            if (IsAllCheck) {
                $("#checkedAllOldPupil").attr("checked", "checked")
            }
        } else {
            $("#checkedAllOldPupil").removeAttr("checked")
        }
    }

    $(document).ready(function () {
        var numberOfPupil = @(lstPupilInOldClass.Count);
        if (numberOfPupil > 0) {
            $("#ForwardButton").removeClass("hide");
        } else {
            $("#ForwardButton").addClass("hide");
        }
    });
</script>
