﻿@model ClassForwardViewModel
@using SMAS.Web.Areas.TransferDataArea.Models
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TransferDataArea
@using SMAS.Web.Constants
@{
    GlobalInfo globalInfo = GlobalInfo.getInstance();
    bool checkCreate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_CREATE];
    bool checkUpdate = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_UPDATE];
    bool checkDelete = (bool)ViewData[SMAS.Business.Common.SystemParamsInFile.PERMISSION_DELETE];
    IEnumerable<SelectListItem> lstEducationLevel = (IEnumerable<SelectListItem>)ViewData[TransferDataConstant.LS_LISTEDUCATIONLEVEL];
    IEnumerable<SelectListItem> lstClass = (IEnumerable<SelectListItem>)ViewData[TransferDataConstant.LISTCLASS];
    bool enableButtonTransfer = globalInfo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_CRECHE
        || globalInfo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN ? ViewBag.IsInAcademicYear : ViewBag.IsInSemester1;
    // Cap mam non thi hien thi nut Ket chuyen, huy ket chuyen neu con trong nam hoc hien tai
    // Cap 1, 2, 3 thi hien thi nut Ket chuyen, huy ket chuyen neu con trong hoc ky 1
    bool visibleButtonTranfer = globalInfo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_CRECHE
        || globalInfo.AppliedLevel == GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN ? ViewBag.IsInAcademicYear : ViewBag.IsInSemester1;
    bool isMamnon = globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_CRECHE || globalInfo.AppliedLevel == SMAS.Web.Constants.GlobalConstants.APPLIED_LEVEL_KINDER_GARTEN;
    int EducationLevelID = globalInfo.AppliedLevel.HasValue ? globalInfo.AppliedLevel.Value : 0;
    string startdate = (string)ViewData[TransferDataConstant.SECOND_SEMESTER_STARTDATE];
    string enddate = (string)ViewData[TransferDataConstant.SECOND_SEMESTER_ENDDATE];   
}
<style type="text/css">
    html body .t-button
    {
        margin-left: 5px!important;
        text-decoration: none;
    }
</style>

@using (Ajax.BeginForm("TransferClassForward", "TransferData",
     new AjaxOptions
     {
         //UpdateTargetId = "lsClassForward",
         OnBegin = "TransferClassForwardBegin",
         OnSuccess = "TransferClassForwardSuccess",
         OnFailure = "TransferClassForwardFailure",
         OnComplete = "TransferClassForwardComplete"
     },
     new { id = "frmTransferClassForward" }))
{
    @Html.AntiForgeryToken()
    @Html.ViettelHidden("ButtonType", "");
                                         //kiem tra checkbox ket chuyen hoc sinh co dc check hay hk
    @Html.ViettelHidden("ButtonTypeCheckPupil", "")
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div id="forwardTransferPanel">
                @Html.ViettelCombobox(isMamnon ? "Nhóm lớp (năm học cũ)" : Res.Get("ClassForwarding_Label_ClosedEducationLevel")
                        , "cbEducationLevelForward"
                        , lstEducationLevel
                        , GlobalConstants.NO_PLACEHOLDER
                        , new Dictionary<string, object>(){
                            {"OnChange","onClassForwardChange(this);"}
                        }
                        , false, false)
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div id="forwardTransferClassPanel">
                @Html.ViettelCombobox(Res.Get("Lớp")
                        , "cbClassForward"
                        , lstClass
                        , GlobalConstants.PLACEHOLDER_ALL
                        , new Dictionary<string, object>(){
                            {"OnChange","onPupilForwardChange(this);"},
                            {"disabled","disabled"}
                        }
                        , false, false)
            </div>
        </div>
        <div class="col-md-6">
            <div id="checkTranPupil">
                <div class="vt-control ckbox-label">
                    <div class="editor-label"></div>
                    <div class="editor-field">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="checkTransferPupil" onchange="changeCheckPupil(this)" class="checkTransferPupil" name="checkTransferPupil" />
                            <label>Kết chuyển theo học sinh</label>
                            <span class="checkmark">&nbsp;</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div id="CheckClassForword">
                <div class="vt-control ckbox-label">
                    <label class="custom-checkbox">
                        @Html.CheckBox("TransferAllPupilInSelectedClass", false, new { onclick = "TransferAllPupilInSelectedClass_onclick(this);", @class = "ckbox" })
                        @Html.Label("Không kiểm tra ràng buộc lên lớp, lưu ban")
                        <span class="checkmark">&nbsp;</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <p id="msgTransferAllPupilInSelectedClass" style="display: none; color: red;">Khi thực hiện kết chuyển hệ thống sẽ không xét điều kiện lên lớp, lưu ban. Tất cả các học sinh đang học sẽ kết chuyển lên lớp</p>
    <div id="Note">
        <span style="color: red">Lưu ý: Hệ thống chỉ cho phép kết chuyển dữ liệu học sinh khi thời gian thuộc học kỳ I</span>
        <div style="margin-bottom: 8px; margin-left: 8px;" class="text-right">
            @if (checkCreate)
            {
                @Html.ViettelButton(
                        Res.Get("Common_Label_TransferData")
                        , "submit"
                        , "return OnTransferDataClick();"
                        , "btn btn-info btn-round mg-r-5" + (enableButtonTransfer ? "" : "t-state-disabled ") + (visibleButtonTranfer ? "" : "vt-button hidden "));
            }
            @if (checkDelete)
            {
                @Html.ViettelButton(
                        Res.Get("Common_Label_CancelTransferData")
                        , "submit"
                        , "return OnCancelTransferDataClick();"
                        , "btn btn-info btn-round mg-r-5" + (enableButtonTransfer ? "" : "t-state-disabled ") + (visibleButtonTranfer ? "" : "vt-button hidden "));
            }
        </div>
        <span class="NoteCheckPupil mg-b-5" style="color: red; float: right; display: none">Nhấn vào lớp chuyển đến để chọn lớp chuyển đến cho tất cả học sinh </span>
    </div>
    
    
    
            //Kết chuyển lên lớp theo lớp
    <div id="lsClassForward">
        @Html.Action("SearchTab1", new { EducationLevelID = int.Parse(lstEducationLevel.ElementAt(0).Value) })
    </div>
    //Kết chuyển lên lớp thoe học sinh 
    <div id="lsClassPupilForward" style="display: none">
        @* @Html.Partial("_ListClassPupilForward")*@
    </div>
    <div class="Clear"></div>
     
}

<script type="text/javascript">
    $(document).ready(function () {
        console.log('@EducationLevelID');
        if ('@EducationLevelID' <= 3) {
        } else {
            $('#CheckClassForword').css("display", "none");
        }
    });

    function TransferClassForwardBegin() {
        smas.showProcessingDialog();
    }

    function TransferClassForwardFailure(data) {
        smas.hideProcessingDialog();
        smas.alert(data.responseText);
    }
    function TransferClassForwardSuccess(msg) {
        smas.hideProcessingDialog();
        var chk = $('#checkTransferPupil').is(':checked');
        if (chk) {
            $('#lsClassPupilForward').html('');
            $('#lsClassPupilForward').html(msg);
        }
        else {
            $('#lsClassForward').html('');
            $('#lsClassForward').html(msg);
        }

        var inputType = $("#frmTransferClassForward #ButtonType").val();
        var inputTypePupil = $("#frmTransferClassForward #ButtonTypeCheckPupil").val();

        var countPupilChoose = $("#frmTransferClassForward #ButtonTypeCountPupilChoose").val();
        var countPupilTrans = $("#frmTransferClassForward #ButtonTypeCountPupilTrans").val();

        var stringInfo = "Kết chuyển thành công " + countPupilChoose + "/" + countPupilTrans + " học sinh";

        DisabledCheckbox();

        if (inputType == 2) {//huy ket chuyen
            smas.alert({ Message: '@Res.Get("Common_Label_CancelTransferSuccessMessage")', Type: "success" });
        } else if (inputTypePupil != 3) {//ket chuyen cho lop
            smas.alert({ Message: '@Res.Get("Common_Label_TransferSuccessMessage")', Type: "success" });
        } else {// ket chuyen cho tung hoc sinh trong lop
            smas.alert({ Message: stringInfo, Type: "success" });
        }

    loadNumberPupil(); // Cap nhat lai so luong hoc sinh thuoc dien len lop tuy vao trang thai chon cua checkbox ket chuyen ko rang buoc       
}

function TransferClassForwardComplete() {
}

function onClassForwardChange(cbEducationLevelForward) {
    var EducationLevelID = $(cbEducationLevelForward).val();
    var inputTypePupil = $("#frmTransferClassForward #ButtonTypeCheckPupil").val();
    controlUtils.loadComboBox(
                $("#cbClassForward"),
               '@Url.Action("AjaxLoadClass", "TransferData")',
                                { educationLevelID: EducationLevelID },
                                '@Res.Get("All")', null)
                                $.ajax({
                                    url: '@Url.Action("SearchTab1", "TransferData")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { EducationLevelID: EducationLevelID },
            success: function (data) {
                smas.hideProcessingDialog();
                $('#lsClassForward').html(data);
                loadNumberPupil(); // Cap nhat lai so luong hoc sinh thuoc dien len lop tuy vao trang thai chon cua checkbox ket chuyen ko rang buoc
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })

        //load danh sach hoc sinh
        if (inputTypePupil == 3) {
            $("#frmTransferClassForward #cbClassForward").val("");
            LoadGirdPupilForward();
        }
    }

    function onPupilForwardChange(cbClassForward) {
        LoadGirdPupilForward();
    }

    function LoadGirdPupilForward() {
        var EducationLevelID = $("#frmTransferClassForward #cbEducationLevelForward").val();
        var ClassID = $("#frmTransferClassForward #cbClassForward").val();
        var TransferAllPupilInSelectedClass = $('#TransferAllPupilInSelectedClass').is(':checked');
        if (ClassID == "") {
            ClassID = 0;
        }
        $.ajax({
            url: '@Url.Action("SearchPupilTab1", "TransferData")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { EducationLevelID: EducationLevelID, ClassID: ClassID, TransferAllPupilInSelectedClass: TransferAllPupilInSelectedClass },
            success: function (data) {
                smas.hideProcessingDialog();
                $('#lsClassPupilForward').html('');
                $('#lsClassPupilForward').html(data);
                loadNumberPupil(); // Cap nhat lai so luong hoc sinh thuoc dien len lop tuy vao trang thai chon cua checkbox ket chuyen ko rang buoc
                DisabledCheckbox();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function LoadGirdForward() {
        var EducationLevelID = $("#frmTransferClassForward #cbEducationLevelForward").val();

        $.ajax({
            url: '@Url.Action("SearchTab1", "TransferData")',
            type: 'post',
            beforeSend: function () {
                smas.showProcessingDialog();
            },
            data: { EducationLevelID: EducationLevelID },
            success: function (data) {
                smas.hideProcessingDialog();
                $('#lsClassForward').html(data);
                loadNumberPupil(); // Cap nhat lai so luong hoc sinh thuoc dien len lop tuy vao trang thai chon cua checkbox ket chuyen ko rang buoc
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        })
    }

    function OnTransferDataClick() {
        $("#frmTransferClassForward #ButtonType").val(1);
        var buttonTypeCheckPupil = $("#frmTransferClassForward #ButtonTypeCheckPupil").val();
        if (buttonTypeCheckPupil != 3) {//cho lop
            var checkedTransferData = $("#ListClassForwardingGrid tbody input[name='checkAllTransferForward'][CheckForJavaScript='CheckForJavaScript']:checked");
            if (checkedTransferData.length == 0) {
                smas.alert({ Message: '@Res.Get("TransferData_Label_ErrorCheckTransferData")', Type: "error" });
                return false;
            }
            else {
                return true;
            }
        }
        else {//cho hoc sinh
            var checkedTransferPupil = $("#ListPupilForwardGrid tbody input[name='checkAllTransferPupil'][CheckForJavaScript='CheckForJavaScript']:checked");
            if (checkedTransferPupil.length == 0) {
                smas.alert({ Message: '@Res.Get("Thầy cô chọn ít nhất một học sinh trong lớp để kết chuyển")', Type: "error" });
                return false;
            }
            else {
                return true;
            }
        }
    }

    function OnCancelTransferDataClick() {
        $("#frmTransferClassForward #ButtonType").val(2);

        var dataform = $("#frmTransferClassForward").serialize();

        var buttonTypeCheckPupil = $("#frmTransferClassForward #ButtonTypeCheckPupil").val();
        $.ajax({
            url: '@Url.Action("CancelTransferData", "TransferData")',
             type: 'post',
             data: $("#frmTransferClassForward").serialize(),
             beforeSend: function () {
                 smas.showProcessingDialog();
             },
             success: function (data) {
                 if (buttonTypeCheckPupil != 3) {
                     $("#lsClassForward").html(data);
                 }
                 else {
                     $("#lsClassPupilForward").html(data);
                 }
                 smas.hideProcessingDialog();
                 smas.alert({ Message: '@Res.Get("Common_Label_CancelTransferSuccessMessage")', Type: "success" });
             },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 smas.alert(XMLHttpRequest.responseText);
             }
         });
         return false;
     }
     function TransferAllPupilInSelectedClass_onclick() {
         var chk = $('#checkTransferPupil').is(':checked');
         if (chk) {
             LoadGirdPupilForward();
         }
         else {
             loadNumberPupil();
         }
     }

     function loadNumberPupil() {
         if ($("#TransferAllPupilInSelectedClass").is(":checked")) {
             // Hien thi cau thong bao
             $("#msgTransferAllPupilInSelectedClass").show();
             // Dieu chinh lai cot so luong len lop bang voi si so lop
             $(".tongsolenlop").each(function (index, item) { // lop tongsolenlop trong view _ListClassForward
                 // Luu lai gia tri so luong hoc sinh len lop
                 var tongsolenlop = $(item).text();
                 $(item).data("siso", tongsolenlop);
                 // Lay si so cua lop dua sang
                 var siso = $(item).closest("tr").find(".siso").text();
                 $(item).text(siso);
             });
         }
         else {
             // An cau thong bao
             $("#msgTransferAllPupilInSelectedClass").hide();
             // Dieu chinh lai cot so luong len lop bang voi si so lop
             $(".tongsolenlop").each(function (index, item) { // lop tongsolenlop trong view _ListClassForward
                 var tongsolenlop = $(item).data("siso"); // Lay lai gia tri so luong hoc sinh len lop
                 $(item).text(tongsolenlop); // Hien thi lai gia tri
             });
         }
     }

     function changeCheckPupil() {
         var cheked = $("#checkTransferPupil").is(':checked');
         if (cheked) {
             $("#frmTransferClassForward #cbClassForward").removeAttr("disabled");
             $("#lsClassPupilForward").show();
             $("#lsClassForward").hide();
             $("#frmTransferClassForward #ButtonTypeCheckPupil").val(3);
             $("#frmTransferClassForward .NoteCheckPupil").css("display", "block");
             LoadGirdPupilForward();
         }
         else {
             $("#frmTransferClassForward #cbClassForward").attr("disabled", "disabled");
             $("#lsClassPupilForward").hide();
             $("#lsClassForward").show();
             $("#frmTransferClassForward #ButtonTypeCheckPupil").val("");
             $("#frmTransferClassForward .NoteCheckPupil").css("display", "none");
             LoadGirdForward();
         }

     }
</script>
