﻿@model IEnumerable<SMAS.Web.Areas.TransferDataArea.Models.TransferDataObject>
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using SMAS.Web.Areas.EmployeeArea
@using SMAS.Models.Models
@using SMAS.Web.Utils
@using SMAS.Web.Areas.TransferDataArea.Models
@using SMAS.Web.Areas.TransferDataArea

 @{
       
     Paginate<TransferDataObject> paging = (Paginate<TransferDataObject>)ViewData[TransferDataConstant.LS_CLOSEDCLASS];
     var index = 0;
     index = (paging.page - 1) * paging.size + 1;
         
    }
    
    <div id="TransferDataGrid">
    @{Html.Telerik().Grid<TransferDataObject>(paging.List)
        .Name("Grid")
        .Footer(false)
         .DataKeys(keys =>
         {
             keys.Add(p => p.ClosedClassID);
         })

        .DataBinding(dataBinding => dataBinding
             .Ajax()
                   .OperationMode(GridOperationMode.Client) // <-- set the operation mode
                   .Select("SelectTransferDataObject", "TransferData")
        )

         .Columns(columns =>
         {
             //cot STT
             columns.Template(@<text>@(index++)</text>)
                 .ClientTemplate("<#= lstInd++ #>")
                 .Title(@Res.Get("Common_Column_Order"))
                 .HtmlAttributes(new { style = "text-align:center" })
                 .Width(20);

             //cot test
            
             //cot lop hoc nam trc
             columns.Template(
                         @<text>                                                    
                            <table cellspacing="0" class="data-row">
                                <tr>
                                    <td style="color:Black;text-align:center;">@item.ClosedClassName</td>
                                    <td style="color:Black;text-align:center;">@item.TotalClosedPupil</td>
                                </tr>
                            </table>
                        </text>)
           .HeaderTemplate(
               @<text>        
                        <table cellspacing="0" class="data-header">
                            <tr>
                                <td colspan="2" style="text-align:center";><strong>@Res.Get("ClassForwarding_Label_ClosedClass")</strong></td>
                            </tr>
                            <tr>
                               <td>@Res.Get("ClassForwarding_Label_ClosedClassName")</td>
                                <td>@Res.Get("ClassForwarding_Label_TotalClosedPupil")</td>
                               
                            </tr>
                        </table>
                        </text>)
           .Width(200);

             //cot lop hoc chuyen len
             columns.Template(
                         @<text>                                                        
                            <table cellspacing="0" class="data-row">
                                <tr>
                                  <td style="color:Black;text-align:center;">
                            <select name="ForwardedClassName" id="ForwardedClassID" style="width:100px" onchange="ForwardedClassComboBoxOnChange(this)">
                            @*<select name='dic["@item.ClosedClassID"]' id='dic["@item.ClosedClassID"]' style="width:100px" onchange="ForwardedClassComboBoxOnChange(this)">*@
                            @foreach (var single in item.ListForwardedClass)
                            {
                                if(single.ID == item.ClassForwardingID)
                                {
                                <option value="@item.ClosedClassID-@single.ID" selected="selected">@single.Name</option>
                                }else
                                {
                                <option value="@item.ClosedClassID-@single.ID">@single.Name</option>
                                }
                            }
                            </select>
                                 </td>
                                    <td style="color:Black;padding-left:50px;text-align:center;">@item.TotalForwardedPupil</td>
                                </tr>
                            </table>
                        </text>)
                     .HeaderTemplate(
                         @<text>        
                        <table cellspacing="0" class="data-header">
                            <tr>
                                <td colspan="2" style="text-align:center";><strong>@Res.Get("ClassForwarding_Label_ForwardedClass")</strong></td>
                            </tr>
                            <tr>
                               <td>@Res.Get("ClassForwarding_Label_ForwardedClassName")</td>
                                <td>@Res.Get("ClassForwarding_Label_TotalForwardedPupil")</td>
                            </tr>
                        </table>
                        </text>)
                     .Width(200);

             //lop luu ban
             columns.Template(
                     @<text>                                                        
                            <table cellspacing="0" class="data-row">
                                <tr>
                                  <td style="color:Black;text-align:center;">
                             <select name="RepeatedClassName" id="RepeatedClassID" style="width:100px" onchange="RepeatedClassComboBoxOnChange(this)">
                            @foreach (var single in item.ListRepeatedClass)
                            {
                                if(single.ID == item.ClosedClassID)
                                {
                                <option value="@item.ClosedClassID-@single.ID" selected ="selected">@single.Name</option>
                                }
                                else
                                {
                               <option value="@item.ClosedClassID-@single.ID">@single.Name</option>
                                }
                            }
                            </select>
                                 </td>
                                    <td style="color:Black;padding-left:50px;text-align:center;">@item.TotalRepeatedPupil</td>
                                </tr>
                            </table>
                        </text>)
                 .HeaderTemplate(
                     @<text>        
                        <table cellspacing="0" class="data-header">
                            <tr>
                                <td colspan="2" style="text-align:center";><strong>@Res.Get("ClassForwarding_Label_RepeatedClass")</strong></td>
                            </tr>
                            <tr>
                                <td>@Res.Get("ClassForwarding_Label_RepeatedClassName")</td>
                                <td>@Res.Get("ClassForwarding_Label_TotalRepeatedPupil")</td>
                            </tr>
                        </table>
                        </text>)
                 .Width(200);


             //checkbox
             columns.Template(
              @<text>
                            <input name="checkedClass" type="checkbox" checked="checked" 
                                value="@item.ClosedClassID" title="checkedClass"                         
                                                                />
                        </text>
          )

          .Title(@Res.Get("ClassForwarding_Label_Choice"))
          .Width(50)
          .HeaderHtmlAttributes(new { style = "text-align:center" })
          .HtmlAttributes(new { style = "text-align:center" });




         })
              .Editable(editing => editing.Mode(GridEditMode.InCell))
              .ClientEvents(events => events.OnDataBinding("Grid_onDataBinding").OnEdit("onEdit"))

            .Pageable(p => p.Total(paging.total).PageTo(paging.page).PageSize(paging.size))
          //  .Scrollable()
            .EnableCustomBinding(true)
            .Render();
         }
    </div>
<script type="text/javascript">
    var lstInd = 0;
    function Grid_onDataBinding(e) {
        e.data = jsonUtils.serializeObject("frmTransferData");

        var grid = $('#Grid').data('tGrid')
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
    }

    function onEdit(e) {
        $(e.form).find('#RepeatedClassName').data('tDropDownList').select(function (dataItem) {
            return dataItem.Text == e.dataItem['RepeatedClassName'];
        });
        $(e.form).find('#ForwardedClassName').data('tDropDownList').select(function (dataItem) {
            return dataItem.Text == e.dataItem['ForwardedClassName'];
        });
    }


    function ForwardedClassComboBoxOnChange(combo) {
        // var x = document.getElementById("ForwardedClassID");

        // alert(combo.value);
    }


    function RepeatedClassComboBoxOnChange(combo) {
        //var x = document.getElementById("RepeatedClassID");
        // alert(combo.value);
    }
</script>


