﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Text.RegularExpressions
@{
    List<MonthComments> monthList = new List<MonthComments>();
    List<EvaluationGridModel> result = new List<EvaluationGridModel>();
    GlobalInfo glo = new GlobalInfo();
    string strLastUpdate = ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LAST_UPDATE_STRING] != null ? (string)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LAST_UPDATE_STRING] : "";
    int MonthSelect = 0;
    int currentSemester = glo.Semester.Value;
    bool HeadTeacher = false;
    bool checkLockSemester = false;
    int semester = 0;
    int EvaluationCriteria = 0;
    bool isVisibleButton = true;
    string check_disabled = string.Empty;
    string strLockMark = string.Empty;
    string LockT1 = "";
    string LockT2 = "";
    string LockT3 = "";
    string LockT4 = "";
    string LockT5 = "";
    string LockCK = "";
    string TiteComment1 = "";
    string TiteComment2 = "";
    string TiteComment3 = "";
    string TiteComment4 = "";
    string TiteComment5 = "";
    string MonthPopup1 = " nhất";
    string MonthPopup2 = " hai";
    string MonthPopup3 = " ba";
    string MonthPopup4 = " tư";
    string MonthPopup5 = " năm";
    string font_style = "";
    int columnWidth1 = 170;
    int columnWidth2 = 170;
    int columnWidth3 = 170;
    int columnWidth4 = 170;
    int columnWidth5 = 170;
    int columnWidthCK = 170;
    int isPrincipal = 0;
    bool isSuperVisingDept = glo.IsSuperVisingDeptRole;
    bool isSubSuperVisingDept = glo.IsSubSuperVisingDeptRole;
    bool isVisiableColumnCheckBox = true;
    if (isSubSuperVisingDept || isSuperVisingDept)
    {
        isVisiableColumnCheckBox = false;
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.IS_VISIBLED_BUTTON] != null)
    {
        isVisibleButton = (bool)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.IS_VISIBLED_BUTTON];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_PUPIL_EVALUATION] != null)
    {
        result = (List<EvaluationGridModel>)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_PUPIL_EVALUATION];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.EVALUATION_CRITERIA_ID] != null)
    {
        EvaluationCriteria = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.EVALUATION_CRITERIA_ID];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_MONTH] != null)
    {
        monthList = (List<MonthComments>)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_MONTH];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.MONTH_SELECT] != null)
    {
        MonthSelect = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.MONTH_SELECT];
        if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_1 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_6)
        {
            columnWidth1 = 250;
        }
        else if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_2 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_7)
        {
            columnWidth2 = 250;
        }
        else if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_3 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_8)
        {
            columnWidth3 = 250;
        }
        else if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_4 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_9)
        {
            columnWidth4 = 250;
        }
        else if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_5 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_10)
        {
            columnWidth5 = 250;
        }
        else if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_11)
        {
            columnWidthCK = 250;
        }
    }
    List<EvaluationCriteria> list = new List<EvaluationCriteria>();
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_EVALUATION_CRITERIA] != null)
    {
        list = (List<EvaluationCriteria>)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_EVALUATION_CRITERIA];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SEMESTER_ID];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LOCK_MARK] != null)
    {
        strLockMark = (string)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LOCK_MARK];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.IS_ROLE_PRINCIPAL] != null)
    {
        isPrincipal = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.IS_ROLE_PRINCIPAL];
    }
    bool VisiableEnding = false;
    if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_11)
    {
        VisiableEnding = true;
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.HEAD_TEACHE] != null)
    {
        HeadTeacher = (bool)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.HEAD_TEACHE];
    }
    strLockMark = strLockMark.Replace("T10", "TH10");
    if (semester == 1)
    {
        TiteComment1 = "Tháng<br/>thứ<br/>nhất";
        TiteComment2 = "Tháng<br/>thứ<br/>hai";
        TiteComment3 = "Tháng<br/>thứ<br/>ba";
        TiteComment4 = "Tháng<br/>thứ<br/>tư";
        TiteComment5 = "Tháng<br/>thứ<br/>năm";
        checkLockSemester = strLockMark.Contains("HK1");
        LockT1 = "T1";
        LockT2 = "T2";
        LockT3 = "T3";
        LockT4 = "T4";
        LockT5 = "T5";
        LockCK = "CK1";
    }
    else
    {
        MonthPopup1 = " sáu";
        MonthPopup2 = " bảy";
        MonthPopup3 = " tám";
        MonthPopup4 = " chín";
        MonthPopup5 = " mười";
        TiteComment1 = "Tháng<br/>thứ<br/>sáu";
        TiteComment2 = "Tháng<br/>thứ<br/>bảy";
        TiteComment3 = "Tháng<br/>thứ<br/>tám";
        TiteComment4 = "Tháng<br/>thứ<br/>chín";
        TiteComment5 = "Tháng<br/>thứ<br/>mười";
        checkLockSemester = strLockMark.Contains("HK2");
        LockT1 = "T6";
        LockT2 = "T7";
        LockT3 = "T8";
        LockT4 = "T9";
        LockT5 = "TH10";
        LockCK = "CK2";
    }

    List<string> lstComment = (List<string>)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_COMMENT];
    string tmpCommentQualities = "";
    for (int i = 0; i < lstComment.Count; i++)
    {
        tmpCommentQualities += lstComment[i] + "@@IdComment_" + i + "©";
    }
    if (!string.IsNullOrEmpty(tmpCommentQualities))
    {
        tmpCommentQualities = Regex.Replace(tmpCommentQualities, @"\t|\n|\r", " ");
        tmpCommentQualities = tmpCommentQualities.Replace(@"\x", SMAS.Business.Common.GlobalConstants.STR_SPECIAL_COMMENT_X);
        tmpCommentQualities = tmpCommentQualities.Replace(@"\u", SMAS.Business.Common.GlobalConstants.STR_SPECIAL_COMMENT_U);
        tmpCommentQualities = tmpCommentQualities.Replace(@"'s", "is");
        tmpCommentQualities = tmpCommentQualities.Replace(@"''", "");
        tmpCommentQualities = tmpCommentQualities.Replace(@"'", "");
    }
    
}

@using (Ajax.BeginForm("SaveComentsEducationQuality",
                       "MarkRecordOfPrimaryHeadTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnCompleteQualities",
                           OnSuccess = "SaveSuccessQualities",
                           OnFailure = "SaveFailQualities"
                       },
                       new { id = "frmDataEducationQualities" }
                       ))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Tab" id="TabQualities" value="@MarkRecordOfPrimaryHeadTeacherConstant.TAB_QUALITIES" />
    <input type="hidden" name="HfClassID" id="HfClassID" value="@ViewData[MarkRecordOfPrimaryHeadTeacherConstant.CLASS_ID]"/>
    <input type="hidden" name="HfSemesterID" id="HfSemesterID" value="@semester"/>
    <input type="hidden" name="HfEducationLevelID" id="HfEducationLevelID" value="" />
    <input type="hidden" name="HfMonthID" id="HfMonthID" value="" />
    <input type="hidden" name="HfSubjectID" id="HfSubjectID" value="" />
    <div id="ContentMark">
        <div id="GridData">
            <div id="Notes" style="margin:10px 0">
                <table>
                    <tr>
                        <td>
                            <span>
                                <img src="/Content/images/folder_evaluation.png" width="25" height="25" />Đã nhập nhận xét</span>
                            <span>
                                <img src="/Content/images/folder2_evaluation2.png" width="25" height="25" />Chưa nhập nhận xét</span>
                        </td>
                        <td style="text-align: right;">
                            @{
                                <input type="button" id="btnZoomIn" class="btn btn-info btn-round" onclick="FullScreen(this)" value="@Res.Get("Common_Button_ZoomIn")" />
    if (result.Count > 0)
    {
        if (glo.IsCurrentYear && !(isSuperVisingDept && isSubSuperVisingDept))
        {
            if ((HeadTeacher && currentSemester == semester && isVisibleButton) || glo.IsAdminSchoolRole)
            {  
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", "btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
                List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                if (!checkLockSemester)
                {
                    listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_FromExcel"), "1", false, false));
                }
                listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
                                <input type="submit" id="btnSave" class="btn btn-info btn-icon btn-round btn-icon-save" value="Lưu" />
                                <input type="button" id="btnDeleteQualities" class="btn btn-info btn-icon btn-round btn-icon-times" onclick="DeleteQualities()" value="Xóa" />
            }
            else
            {
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", "btn btn-info btn-round  btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
                List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
            }
        }
        else
        {
                                @Html.ViettelButton(Res.Get("Common_Button_InOut"), new Dictionary<string, object> { { "id", "btnInOut" } }, "button", "onInOutClick(this)", "btn btn-info btn-round btn-icon btn-round btn-icon-inout")
                                <div id="InOutBoxChoice" style="display: none;" class="NameSection">
                                    @{
            List<ViettelCheckboxList> listSelectList = new List<ViettelCheckboxList>();
                                        listSelectList.Add(new ViettelCheckboxList(Res.Get("Common_Button_ToExcel"), "2", false, false));
                                    }
                                    @Html.ViettelListButtonStyle2("InOutBoxChoiceID", "", new Dictionary<string, object>() { }, "", listSelectList, true)
                                </div>
        }
    }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td><span style="margin-left: 10px;">@Html.Raw(strLastUpdate)</span></td>
                        <td style="text-align: right;">
                            <span>Trong cột <b>Đánh giá</b>, <b>Đạt</b> nhập <span style="color: #d56900;"><b>D</b></span>, <b>Chưa đạt</b> nhập <span style="color: #d56900;"><b>C</b></span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            @{
    var index = 1;

    Html.Telerik()
        .Grid(result)
        .Name("GridQualities")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(30);
            c.Template(@<text>@{
                if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {
<span> @item.FullName </span>
                }
                else
                {
<span style="color:red"> @item.FullName </span>
                }
            }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:left;padding-left:5px;" }).Width(150);
            c.Template(@<text>@{ 
                check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "T1", item.Status, false, "");
                font_style = item.ischk1 ? "" : "style=font-style:italic";
                if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_1 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_6)
                {
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsM16_" + item.PupilID)' @font_style @check_disabled name='@("AreaCommentsM16_" + item.PupilID)'>@item.Comment1</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment1) && item.ischk1)
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_1)" />                                           
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_1)" />
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowCommentsQualities(@item.PupilID,@item.MonthID_1)">
                                                <div id='@("PopupPC_" + item.MonthID_1 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Phẩm chất - Tháng thứ @MonthPopup1 </span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea onkeyup="ShowAutoCompleteQualities(this,event)" @font_style class="txtCommentQualities" style="border: 1px solid #D7D7D7!important;" id='@("txapopupqualities_" + item.MonthID_1 + "_" + item.PupilID)' cols="37" rows="6">@item.Comment1</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                            @if (string.IsNullOrEmpty(check_disabled) && isVisibleButton && glo.IsCurrentYear)
                                                            {  
<input type="button" class="btn btn-info" onclick="SaveOneCommentsQualities(@item.PupilID,@item.MonthID_1)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialogQualities(@item.PupilID,@item.MonthID_1)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw(TiteComment1)
                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td style="border:none">
                                        @if (strLockMark.Contains(LockT1) || checkLockSemester)
                                        {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                        }
                                        else
                                        {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                        }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title(TiteComment1)
        .HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth1);
            c.Template(@<text>@{ 
                check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "T2", item.Status, false, "");
                font_style = item.ischk2 ? "" : "style=font-style:italic";
                if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_2 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_7)
                {
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsM27_" + item.PupilID)' @font_style @check_disabled name='@("AreaCommentsM27_" + item.PupilID)'>@item.Comment2</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment2) && item.ischk2)
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_2)" />                                             
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_2)" />
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowCommentsQualities(@item.PupilID,@item.MonthID_2)">
                                                <div id='@("PopupPC_" + item.MonthID_2 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Phẩm chất - Tháng thứ @MonthPopup2</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea onkeyup="ShowAutoCompleteQualities(this,event)" @font_style class="txtCommentQualities" style="border: 1px solid #D7D7D7!important;" id='@("txapopupqualities_" + item.MonthID_2 + "_" + item.PupilID)' cols="37" rows="6">@item.Comment2</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                            @if (string.IsNullOrEmpty(check_disabled) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneCommentsQualities(@item.PupilID,@item.MonthID_2)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialogQualities(@item.PupilID,@item.MonthID_2)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw(TiteComment2)
                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td style="border:none">
                                        @if (strLockMark.Contains(LockT2) || checkLockSemester)
                                        {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                        }
                                        else
                                        {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                        }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title(TiteComment2)
        .HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth2);
            c.Template(@<text>@{ 
                check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "T3", item.Status, false, "");
                font_style = item.ischk3 ? "" : "style=font-style:italic";
                if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_3 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_8)
                {
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsM38_" + item.PupilID)' @font_style @check_disabled name='@("AreaCommentsM38_" + item.PupilID)'>@item.Comment3</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment3) && item.ischk3)
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_3)"/>                                            
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_3)"/>
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowCommentsQualities(@item.PupilID,@item.MonthID_3)">
                                                <div id='@("PopupPC_" + item.MonthID_3 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Phẩm chất - Tháng thứ @MonthPopup3</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" style="border: 1px solid #D7D7D7!important;" @font_style id='@("txapopupqualities_" + item.MonthID_3 + "_" + item.PupilID)' cols="37" rows="6">@item.Comment3</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                            @if (string.IsNullOrWhiteSpace(check_disabled) && isVisibleButton && glo.IsCurrentYear)
                                                            {
<input type="button" class="btn btn-info" onclick="SaveOneCommentsQualities(@item.PupilID,@item.MonthID_3)" value="Lưu" />
                                                            }
                <input type="button" class="btn btn-info" onclick="CloseDialogQualities(@item.PupilID,@item.MonthID_3)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw(TiteComment3)
                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td style="border:none">
                                        @if (strLockMark.Contains(LockT3) || checkLockSemester)
                                        {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                        }
                                        else
                                        {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                        }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title(TiteComment3)
        .HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth3);
            c.Template(@<text>@{ 
                check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "T4", item.Status, false, "");
                font_style = item.ischk4 ? "" : "style=font-style:italic";
                if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_4 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_9)
                {
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsM49_" + item.PupilID)' @font_style @check_disabled name='@("AreaCommentsM49_" + item.PupilID)'>@item.Comment4</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment4) && item.ischk4)
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_4)"/>
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_4)"/>
                                        
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowCommentsQualities(@item.PupilID,@item.MonthID_4)">
                                                <div id='@("PopupPC_" + item.MonthID_4 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Phẩm chất - Tháng thứ @MonthPopup4</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea onkeyup="ShowAutoCompleteQualities(this,event)" @font_style class="txtCommentQualities" style="border: 1px solid #D7D7D7!important;" id='@("txapopupqualities_" + item.MonthID_4 + "_" + item.PupilID)' cols="37" rows="6">@item.Comment4</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                             @if (string.IsNullOrWhiteSpace(check_disabled) && isVisibleButton && glo.IsCurrentYear)
                                                             {
<input type="button" class="btn btn-info" onclick="SaveOneCommentsQualities(@item.PupilID,@item.MonthID_4)" value="Lưu" />
                                                             }
                <input type="button" class="btn btn-info" onclick="CloseDialogQualities(@item.PupilID,@item.MonthID_4)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw(TiteComment4)
                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td style="border:none">
                                        @if (strLockMark.Contains(LockT4) || checkLockSemester)
                                        {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                        }
                                        else
                                        {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                        }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title(TiteComment4)
        .HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth4);
            c.Template(@<text>@{ 
                check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "T5", item.Status, false, "");
                font_style = item.ischk5 ? "" : "style=font-style:italic";
                if (MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_5 || MonthSelect == MarkRecordOfPrimaryHeadTeacherConstant.MONTH_10)
                {
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsM510_" + item.PupilID)' @font_style @check_disabled name='@("AreaCommentsM510_" + item.PupilID)'>@item.Comment5</textarea>
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Comment5) && item.ischk5)
                    {
<img src="/Content/images/folder_evaluation.png" width="25" height="25"  onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_5)"/>
                    }
                    else
                    {
<img src="/Content/images/folder2_evaluation2.png" width="25" height="25" onclick="ShowCommentsQualities(@item.PupilID,@item.MonthID_5)"/>
                    }
<div id='@("DvPopup_" + item.PupilID)' onmouseover="ShowCommentsQualities(@item.PupilID,@item.MonthID_5)">
                                                <div id='@("PopupPC_" + item.MonthID_5 + "_" + item.PupilID)' class="ClassPopup" >
                                                <div class="popfullname">@item.FullName</div>
                                                <span style="padding-left:10px;margin:5px;">Phẩm chất - Tháng thứ @MonthPopup5</span>
                                                    <hr />
                                                    <div class="DvEvaluationText"> Đánh giá :</div> 
                                                    <div class="DvShowComments"><textarea onkeyup="ShowAutoCompleteQualities(this,event)" @font_style class="txtCommentQualities" style="border: 1px solid #D7D7D7!important;" id='@("txapopupqualities_" + item.MonthID_5 + "_" + item.PupilID)' cols="37" rows="6">@item.Comment5</textarea></div>
                                                    <div style="width:100%"></div>
                                                    <div class="listbutton mg-t-5">
                                                        <span>
                                                             @if (string.IsNullOrWhiteSpace(check_disabled) && isVisibleButton && glo.IsCurrentYear)
                                                             {
<input type="button" class="btn btn-info" onclick="SaveOneCommentsQualities(@item.PupilID,@item.MonthID_5)" value="Lưu" />
                                                             }
                <input type="button" class="btn btn-info" onclick="CloseDialogQualities(@item.PupilID,@item.MonthID_5)" value="Đóng" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                }
            }</text>).HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw(TiteComment5)
                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td style="border:none">
                                        @if (strLockMark.Contains(LockT5) || checkLockSemester)
                                        {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                        }
                                        else
                                        {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                        }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title(TiteComment5)
        .HtmlAttributes(new { style = "text-align:center" }).Width(columnWidth5);
            c.Template(@<text>
                @{
                    check_disabled = Utils.CheckLockMarkBySemester(semester, strLockMark, "", item.Status, false, "CK");
<textarea onkeyup="ShowAutoCompleteQualities(this,event)" class="txtCommentQualities" id='@("AreaCommentsEnding_" + item.PupilID)' @check_disabled name='@("AreaCommentsEnding_" + item.PupilID)'>@item.CommentsEnding</textarea>
                }
                </text>)
            .HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none">
                                        Nhận xét cuối kỳ
                    </td>
                                </tr>
                                <tr style="border:none">
                                        <td style="border:none">
                                            @if (strLockMark.Contains(LockCK) || checkLockSemester)
                                            {      
<input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                            }
                                            else
                                            {
<input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                            }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title("Nhận xét cuối kỳ")
            .HtmlAttributes(new { style = "text-align:center" }).Visible(VisiableEnding).Width(columnWidthCK);
            c.Template(@<text>@{
                check_disabled = Utils.CheckLockCheckBoxBySemester(semester, strLockMark, MonthSelect, item.Status);
                if (string.IsNullOrWhiteSpace(check_disabled))
                {
<input type="text" onkeyup="return ValidateKeyQualities(this, event)" onblur="CheckEvaluationQualities(this)" value="@if (!string.IsNullOrEmpty(item.EvaluationReTraining))
                                                                                                                     {@item.EvaluationReTraining }
                                                                                                                     else
                                                                                                                     {@item.EvaluationEnding}"  class="txtInputMark clEvaQualities text-center" maxlength="2" id='@("txtEvaluation_" + item.PupilID)' name='@("txtEvaluation_" + item.PupilID)'  />
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.EvaluationReTraining))
                    {@item.EvaluationReTraining }
                    else
                    {@item.EvaluationEnding}
                }
            }</text>)
            .HeaderTemplate(@<text>
                @{
<table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none;text-align:center">
                                        @Html.Raw("Đánh<br/>giá")
                    </td>
                                </tr>
                                <tr style="border:none">
                                        <td style="border:none">
                                            @if (strLockMark.Contains(LockCK) || checkLockSemester)
                                            {      
                <input type ="button" class="mark-lock-button tooltip" title="@Html.Raw(Res.Get("Common_Label_Lock_Title_Primary"))"/>
                                            }
                                            else
                                            {
                <input type ="button" class="mark-lock-button tooltip" style="visibility:hidden"/>
                                            }
                    </td>
                                </tr>
                            </table>
                }
                </text>)
                //.Title("Đánh<br/>giá")
            .HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new Dictionary<string, object>{
                 { "class" , "headerQualitiesMark"}, {"id", "DGQua"}
                 }).Width(70);
            c.Template(@<text>
                @{
                    check_disabled = Utils.CheckLockCheckBoxBySemester(semester, strLockMark, MonthSelect, item.Status);
                    if (string.IsNullOrWhiteSpace(check_disabled))
                    {
                        //chi hien cac checkbox voi hoc sinh dang hoc
                        <label class="custom-checkbox p-r-0" style="padding-left:15px">
                        <input type="checkbox" id='@("ChkPC_" + item.PupilID)' onchange="SelectOneQualities()" defaultSummedEnding ="@item.SummedEndingEvaluationID" defaulSummed="@item.SummedEvaluationID"  defaultValue="@item.EvaluationCommentsID" class="ChkItemPC" name='@("Chk_" + item.PupilID)' checked="checked" />
                        <span class="checkmark"></span>
                        </label>
                    }
                }
                </text>)
            .HeaderTemplate(@<text>
            <label class="custom-checkbox p-r-0" style="padding-left:15px">
            <input type="checkbox" id="ChkAllPC" onchange="SelectAllQualities()" name="ChkAllPC" checked="checked" />
            <span class="checkmark"></span>
                        </label>
            </text>).HtmlAttributes(new { style = "text-align:center" }).Width(60).Visible(isVisiableColumnCheckBox);
        })
        //.DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        // .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Selectable()
        .Scrollable(p => p.Height(310))
        .Footer(false)
       .Render();
            }
            <div style ="margin-top:8px;"><span style ="color:#d56900">Lưu ý: Nội dung chữ <span style ="font-style:italic;font-weight:bold;">in nghiêng</span> được tổng hợp từ Sổ TDCLGD của GVBM và chưa được lưu.</span></div>
        </div>
    </div>
      
    <div id="BoxChoiceQualities" class="NameSection" style="position: absolute; left: 835.967px; top: 220px; width: 100px; z-index: 1000; display: none;">
        <ul id="BoxChoiceID" class="ResetCapacitiesList">
            <li value="Đ">
                <a class="ButtonStyle1 " value="Đ" onclick="FillEvaluationForGridQualities(this)" href="javascript:void(0);">Đ</a>
            </li>
            <li value="CĐ">
                <a class="ButtonStyle1 " value="CĐ" onclick="FillEvaluationForGridQualities(this)" href="javascript:void(0);">CĐ</a>
            </li>
        </ul>
    </div>
    
    <div id="contentautocompleteQualities" style="display: none">
        <div id="listCommentQualities" class="PopupAutoComplete ClCommentPopup">
            <ul>
                @{
    for (int i = 0; i < lstComment.Count; i++)
    {
                    <li onclick="GetCommentForAreaQualities(this)" onmouseover="MouseOver(this)" commentQualitiesId='@("@@IdComment_" + i)' onmouseout="MouseOut(this)" comment="@lstComment[i]"  id='@("comment_" + i)'>@lstComment[i]</li>
    }
                }
            </ul>
        </div>
    </div>
}
<script>
    var EducationLevelID = $('#EducationLevelID').val();
    var classID = $('#ClassID').val();
    var MonthID = $('#SearchPanel #MonthID').val();
    var subjectID = $('#HiddenPanel #SubjectQuaID').val();
    $("#HfMonthID").val(MonthID);
    $("#HfSubjectID").val(subjectID);
    $("#frmDataEducationQualities #HfClassID").val(classID);
    $('#frmDataEducationQualities #HfEducationLevelID').val(EducationLevelID);
    monthSelectQualities = '@MonthSelect';
    var strAutoCompleteQualitiesTmp = stringUtils.HtmlDecode('@Html.Raw(tmpCommentQualities)');
    strAutoCompleteQualitiesTmp = stringUtils.StripVNSign(strAutoCompleteQualitiesTmp);
    strAutoCompleteQualitiesTmp = strAutoCompleteQualitiesTmp.replaceAll('@SMAS.Business.Common.GlobalConstants.STR_SPECIAL_COMMENT_X',"\ x");
    strAutoCompleteQualitiesTmp = strAutoCompleteQualitiesTmp.replaceAll('@SMAS.Business.Common.GlobalConstants.STR_SPECIAL_COMMENT_U',"\ u");
    $(document).ready(function(){
        var classid = $('#HiddenPanel #ClassID').val();
        var temp = $("#TreeClass input[value=" + classid + "]").prev().html();
        $('#ClassChoiceID #strClassNameID').html(temp);
        $('#MonthID option[value=' + @MonthSelect +']').attr("selected", "selected"); 
        controlUtils.AddMoveButtonEvent("#GridQualities");
        controlUtils.AddMoveTabEvent("#GridQualities");
        $('textarea').attr("maxlength","500");
        if(@isPrincipal == 1)
        {
            $('.btnPopup').remove();
        }

        //Xu ly nut zoom
        if ($('#content').hasClass("fullscreen")) {
            $("#btnZoomIn").val('@Html.Raw(Res.Get("Common_Button_ZoomOut"))');
        }
        else {
            $("#btnZoomIn").val('@Html.Raw(Res.Get("Common_Button_ZoomIn"))');
        }

        var classID = $('#ClassID').val();
        if(classID == 0)
        {
            $("#ClassNameTitle").html("");
        }
    });

    //NC
    function GetCommentForAreaQualities(obj)
    {
        var valu = $(obj).attr("comment");            
        $(obj).parent().parent().parent().children("textarea").val(valu);
        $(".txtCommentQualities").nextAll().remove();        
    }
    //NC
    function ShowAutoCompleteQualities(obj,event)
    {
        if(event.keyCode != 33 && event.keyCode != 34)
        {
            var valComment = $.trim($(obj).val());  
            valComment = stringUtils.StripVNSign(valComment);
            if(valComment != "" && valComment != null)
            {
                var arr = strAutoCompleteQualitiesTmp.split('©');
                var strText = '';
                var textNotStrip ='';
                var commentId = '';
                var countElement = 0;
                var i=0 ;
                for(i =0 ; i < arr.length;i++)
                {
                    val = arr[i];
                    commentId = val.substr(val.indexOf("@@"),val.length);
                    val = val.substr(0,val.indexOf("@@"));                  
                    if (val.toUpperCase().indexOf(valComment.toUpperCase()) >= 0)
                    {
                        textNotStrip = $("#contentautocompleteQualities #listCommentQualities").find('li[commentQualitiesId="'+commentId+'"]').html();                        
                        strText += textNotStrip + "©";
                        countElement++;
                        if(countElement == 10)
                        {
                            i = arr.length;
                        }
                    }
                }                

                //Lay chuoi text duoc chon them vao html
                var arrStrText = '';
                var strHtml = '';
                if(strText != "" && strText != null)
                {
                    arrStrText = strText.split('©');    
                    //Lay 10 phan tu gan nhan roi gan vao autocomplete
                    arrStrText = arrStrText.slice(0,10);
                    strHtml = '<div id="listComment" class="PopupAutoComplete ClCommentPopup"><ul>{0}</ul></div>';
                    var strHtmlLi ='';
                    jQuery.each( arrStrText, function( j, strval ) {
                        if(j == 0)
                        {
                            strHtmlLi += '<li onclick="GetCommentForAreaQualities(this)" class="OverForLi" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)" comment="'+ $.trim(strval) +'"  id="comment_'+ j +'" >'+ $.trim(strval) +'</li>';
                        }
                        else
                        {
                            strHtmlLi += '<li onclick="GetCommentForAreaQualities(this)" onmouseout="MouseOut(this)" onmouseover="MouseOver(this)" comment="'+ $.trim(strval) +'"  id="comment_'+ j +'" >'+ $.trim(strval) +'</li>';
                        }
                    });
                    strHtml = strHtml.replace('{0}',strHtmlLi);
                }
                $(obj).nextAll().remove();
                $(obj).after(strHtml);                    
            }
            else
            {
                $(".txtCommentQualities").nextAll().remove();
            }
        }
        else
        {
            $(".txtCommentQualities").nextAll().remove();
        }
    }

    //NC
    $(document).click(function(){
        $(".txtCommentQualities").nextAll().remove();
    });


    function OpenDialogImport()
    {
        var classID = $('#HiddenPanel #ClassID').val();
        var semesterID = $('#Semester').val();
        var monthID = $('#MonthID').val();
        $("#ImportDialogQualities #lblError").html("");
        if (monthID == '@MarkRecordOfPrimaryHeadTeacherConstant.MONTH_11') {
            $.ajax({
                url: '@Url.Action("AjaxLoadSubjectImport", "MarkRecordOfPrimaryHeadTeacher")',
                type: 'post',
                data: { ClassID: classID, SemesterID: semesterID,TypeSelectID : 3 },
                beforeSend: function () {
                },
                success: function (msg) {
                    $('#divQualities').html(msg);
                    SetHeightDialogImportQualities();
                    smas.openDialog("ImportDialogQualities", "", {});
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                    smas.hideProcessingDialog();
                }
            });
        }
        else {
            $('#divQualities').html("");
            SetHeightDialogImportQualities();
            smas.openDialog("ImportDialogQualities", "", {});
        }
    }

    function CloseDialogImport()
    {
        smas.closeDialog("ImportDialogQualities", "", {});
    }

    function DeleteQualities()
    {
        var semesterID = $('#frmDataEducationQualities #HfSemesterID').val();;
        var classID = $('#frmDataEducationQualities #HfClassID').val();
        var evaluationCriteriaID= $('#HfSubjectID').val();
        var educationLevelID = $('#frmDataEducationQualities #HfEducationLevelID').val();
        var evaluationID = $('#TypeID').val();
        var monthID = $('#MonthID').val();
        var arrayID = "";
        var arraySummedID ="";
        if(monthID == '@MarkRecordOfPrimaryHeadTeacherConstant.MONTH_11')
        {
            if(!confirm('Dữ liệu nhận xét cuối kỳ, Đánh giá phẩm chất sẽ bị xóa. Thầy/cô có chắc muốn xóa không?'))
            {
                return;
            }           
        }
        else
        {
            if(!confirm('Dữ liệu nhận xét phẩm chất tháng sẽ bị xóa. Thầy/cô có chắc muốn xóa không?'))
            {
                return;
            }
        }
        $('.ChkItemPC').each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                var id = 0;
                var idSummedEnding =0;
                if(monthID == '@MarkRecordOfPrimaryHeadTeacherConstant.MONTH_11')
                {
                    id = $(this).attr('defaulsummed');
                    idSummedEnding = $(this).attr('defaultSummedEnding');
                }else
                {
                    id = $(this).attr('defaultvalue');
                }
                arrayID += id + ",";
                arraySummedID += idSummedEnding + ",";
                
            }
        });
        if((arrayID != "" && arrayID != null) || (arraySummedID != "" && arraySummedID != null))
        {
            $.ajax({
                url:  '@Url.Action("DeleteEvaluationCommments", "MarkRecordOfPrimaryHeadTeacher")',
                data: { arrayID:arrayID,arraySummedID : arraySummedID,semesterID:semesterID,classID:classID,evaluationCriteriaID:evaluationCriteriaID,educationLevelID:educationLevelID,evaluationID:evaluationID, monthID : monthID },
                type: 'post',
                success: function (msg) {
                    smas.alert(msg.Message);
                    if(msg.Type =="success")
                    {
                        GetQualities();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }else
        {
            smas.alert("Thầy/cô chưa chọn học sinh");
        }
    }


    function ExportExcelQualities() {
        
        var educationLevelID = $('#EducationLevelID').val();
        var classID = $('#ClassID').val();
        var semester = $('#Semester').val();
        var evaluationID = $('#TypeID').val();
        var monthID = $('#MonthID').val();
        var className = $('#ClassNameTitle').html();        
        var downloadUrl = '@Url.Action("ExportExcel", "MarkRecordOfPrimaryHeadTeacher")';
        downloadUrl += '?classID=' + classID;
        downloadUrl += '&semester=' + semester;
        downloadUrl += '&evaluationID=' + evaluationID;
        downloadUrl += '&monthID=' + monthID;
        downloadUrl += '&className=' + className;
        window.open(downloadUrl);
    }

    function SaveOneCommentsQualities(pupilID,MonthID)
    {
        var comments = $('#txapopupqualities_'+ MonthID +'_'+ pupilID).val();
        var evaluationCriteria = $('#HiddenPanel #SubjectQuaID').val();
        var classID = $('#ClassID').val();
        var educationLevelID = $('#EducationLevelID').val();
        var semester = $('#Semester').val();
        var evaluationID = $('#TabQualities').val();
        $.ajax({
            url:  '@Url.Action("SaveOneComments", "MarkRecordOfPrimaryHeadTeacher")',
            data: { comments : comments,pupilID :pupilID, monthID : MonthID, subjectID : evaluationCriteria , classID : classID, educationLevelID : educationLevelID,semester :semester, tab : evaluationID},
            type: 'post',
            success: function (msg) {
                smas.alert(msg.Message);
                if(msg.Type =="success")
                {
                    GetQualities()
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }


    function SaveSuccessQualities(data) {
        GetQualities();
        smas.alert(data.Message);
    }
    function OnCompleteQualities(data)
    {
        smas.hideProcessingDialog();
    }
    function SaveFailQualities(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function SelectAllQualities()
    {
        var cheked = $("#ChkAllPC").is(':checked');
        if(cheked)
        {
            $('.ChkItemPC').attr("checked","checked");
        }else
        {
            $('.ChkItemPC').removeAttr("checked");
        }
    }
    function SelectOneQualities()
    {
        var  numberCheckboxItem = $('.ChkItemPC').length;
        var countcheckItem = 0;
       
        $('.ChkItemPC').each(function(){
            var ischecked = $(this).is(':checked');
            if(ischecked)
            {
                countcheckItem++;
            }
        });

        if(countcheckItem == numberCheckboxItem)
        {
            $("#ChkAllPC").attr("checked","checked");
        }else
        {
            $("#ChkAllPC").removeAttr("checked");
        }
    }
    function ShowCommentsQualities(idPupil,monthID)
    {
        $('.ClassPopup').css('display', 'none');      
        $('#PopupPC_'+ monthID +'_' + idPupil).css('display', 'block');
      
    }    
    function CloseDialogQualities(idPupil,monthID)
    {
        $('#PopupPC_'+ monthID +'_' + idPupil).css('display', 'none');
       
    }

    function ValidateKeyQualities(obj, event)
    {
        // MSIE hack
        if (window.event)
        {
            event = window.event;
        }
        if(event.keyCode >= 37 && event.keyCode <= 40) {
            return false;
        }else
            if (event.keyCode == 68)//D
            {
                $(obj).val("Đ");

            } else if (event.keyCode === 67)//C
            {
                $(obj).val("CĐ");

            } else
            {
                $(obj).val("");
            }
        return true;
    }

    function CheckEvaluationQualities(obj)
    {
        var txt = $.trim($(obj).val());
        if(txt == "Đ")
        {
            $(obj).val("Đ");
        }else if(txt == "CĐ")
        {
            $(obj).val("CĐ");
        }else 
        {
            $(obj).val("");
        }
    }

    $('td').click( function() {
        if($('td').find('input[type=text]').length > 0)
        {
            $(this).find('input[type=text]').focus();
        }
    });

    $('textarea').change(function(){
        checkmaxlength($(this));
    });  

    $('textarea').blur(function(){
        checkmaxlength($(this));
    });


    function checkmaxlength(obj)
    {
        var text = $(obj).val();        
        if(text != "")
        {
            var leng = $(obj).val().match(/(\r\n|\n|\r)/g);
            if(leng != null)
            {
                leng = leng.length;
            }else
            {
                leng = 0;
            }
            $(obj).val($.trim(text).substring(0,500 - leng));
        }
    }
  
    function SetHeightDialogImportQualities() {
        var monthSelectQualities = $('#MonthID').val();
        if (monthSelectQualities != '11') {
            $('#ImportDialogQualities').find('.t-content').css("height", "120");
        } else {
            $('#ImportDialogQualities').find('.t-content').css("height", "auto");
        }
    }


    //NC
    function FillEvaluationForGridQualities(obj)
    {
        var valSelected = $(obj).attr('value');     
        $(".clEvaQualities").val(valSelected);
    }

    //NC
    $(".t-header td,.headerQualitiesMark").click(function (e) {
        if ($(this).closest("td").hasClass('headerQualitiesMark') || $(this).hasClass('headerQualitiesMark')) {
            $("#BoxChoiceQualities").hide();
            var position = $(this).position();
            var leftPos = 0;
            if ($('#content').hasClass("fullscreen")) {
                leftPos = position.left -9;
            }
            else {
                leftPos = position.left -16;
            }
            $("#BoxChoiceQualities").css({ position: "absolute", left: leftPos, top: position.top + 260, width: "100px", "z-index": "1000" });
            $("#BoxChoiceQualities").show(200);
            $(".clSelect").removeClass("clSelect");
            $(this).addClass("clSelect");              
        }
    });

    $(document).click(function (event) {
        if ($(event.target).closest(".headerQualitiesMark").html() == null || $(event.target).closest(".headerQualitiesMark").html() == "undefined") {
            $("#BoxChoiceQualities").css("display", "none");
            $(".clSelect").each(function () {
                $(this).removeClass("clSelect");
            });
        }
    });
    function onInOutClick(btn) {
        $("#InOutBoxChoice").hide();
        var position = $(btn).position();
        $("#InOutBoxChoice").css({ position: "absolute", left: position.left, top: position.top + 24, "z-index": "1000" });
        $("#InOutBoxChoice").show();
        $("#InOutBoxChoice").find("li a").attr("onclick", "InOutHandle(this)");
    };
    function InOutHandle(item) {
        if ($(item).attr('value') == 1) {
            OpenDialogImport();
        }
        else {
            ExportExcelQualities();
        }
    }
    $(function () {
        $(".ClassPopup").draggable();
    });
</script>
