﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using SMAS.Business.Common
@{
    List<ViettelCheckboxList> lstSubject = new List<ViettelCheckboxList>();
    int column = 3;
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_SUBJECT] != null)
    {
        lstSubject = ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_SUBJECT] as List<ViettelCheckboxList>;   
    }
}

<div class="titleFinalSemester">
    <label>Lựa chọn lưu dữ liệu từ file:</label>
    <hr />
</div>

<div style="margin:10px 7px 0 10px">
    <div class="TitleTabSection">
        <div class="TitleTabSection" style="height: 30px; margin-top:20px;">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">I.Môn học và hoạt động giáo dục</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk" style="vertical-align: central">
                    <input type="checkbox" id="checkAllTab3" name="checkAllTab3" onchange="ValidateDatebtImportDialogQualities()" checked="checked"  />
                </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            
            </div>
        </div>

        <div class="GeneralTable General1Table" style="text-align:left!important;margin-bottom:10px;">
            <table>
            @for (int i = 0; i < lstSubject.Count; i++)
            {
                if (i % column == 0)
                {
                @Html.Raw("<tr>")
                }
        
                <td class="ColStyle" align="left">
                    <input type="checkbox" id='@("chkSubjectTab3" + lstSubject[i].Value)' checked="checked" onchange="SelectOneSubjectTab3(this)" defaultValue='@lstSubject[i].Value' class="chkSubjectTab3" name='@("chkSubjectTab3" + lstSubject[i].Value)' style="text-align:left"/>
                    @lstSubject[i].Label
                </td>
                if ((i != 0 && ((i + 1) % column == 0)) || i == lstSubject.Count - 1)
                {
                @Html.Raw("</tr>")
                }
            }
                </table>
        </div>

    </div>

    <div class="TitleTabSection" style="height: 40px; margin-top:20px;">
        <div class="TitleTabSection">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">II.Năng lực</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk" style="margin-left:13px;">
                    <input type="checkbox" id="chkCapacitiesTab3" name="chkCapacitiesTab3" checked="checked" />
                </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            </div>
        </div>
    </div>

    <div class="TitleTabSection" style="height: 40px; margin-top:20px;">
        <div class="TitleTabSection">
            <div class="TitlePanel">
                <a class="Sprite1">
                    <span class="Sprite1">III.Phẩm chất</span>
                </a>
            </div>
            <div class="leftalign">
                <div class="controlChk" style="vertical-align: central">
                    <input type="checkbox" id="chkQualitiesTab3" name="chkQualitiesTab3" checked="checked" />
                </div>
                <div style="float: right;"></div>
                <div class="Clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="clear">
</div>

<style type="text/css">
    .clear {
        clear: both;
    }

    .leftalign .vt-control {
        margin-left: 10px;
    }

    .leftalign {
        height: 28px;
    }

    .labelleftalign {
        float: left;
        padding-top: 2px;
        font-weight: 700;
    }

    .TitlePanel {
        float: left;
    }

    .GeneralTable td {
        border: 0!important;
        text-align:left
    }

    .GeneralTable {
        width: 97%;
        padding: 5px;
        border-bottom: 1px solid #AABFD4;
        text-align:left;
    }

    .vt-SearchPanel {
        width: 98%;
        margin-left: 0;
    }

    .controlChk {
        float: left;
        padding-top: 10px;
        padding-left:10px;
    }

    .ColStyle {        
        padding-top: 20px;
        height:20px;
        padding-left:10px;
        text-align:left;
    }

    .vt-checkbox-item .editor-field {
        margin-top: 7px;
        margin-right: -6px;
    }

    .editor-label-right {
        padding-left: 3px;
    }

</style>
