﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea.Models
@using SMAS.Web.Areas.MarkRecordOfPrimaryHeadTeacherArea
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@using System.Linq

@{
    List<EvaluationGridQualitiesCapacitiesModel> result = new List<EvaluationGridQualitiesCapacitiesModel>();
    GlobalInfo glo = new GlobalInfo();
    int MonthSelect = 0;
    int SubjectID = 0;  
    int semester = 0;
    int evaluationID =0;
    bool visiableColumn_4 = false;
    string titeleColumn_1 = "";
    string titeleColumn_2 = "";
    string titeleColumn_3 = "";
    string titeleColumn_4 = "";
    
    
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.MONTH_SELECT] != null)
    {
        MonthSelect = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.MONTH_SELECT];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.EVALUATION_ID] != null)
    {
        evaluationID = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.EVALUATION_ID];
    }    
   
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SUBJECT_ID] != null)
    {
        SubjectID = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SUBJECT_ID];
    }

    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_PUPIL_EVALUATION] != null)
    {
        result = (List<EvaluationGridQualitiesCapacitiesModel>)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.LIST_PUPIL_EVALUATION];
    }
    if (ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SEMESTER_ID] != null)
    {
        semester = (int)ViewData[MarkRecordOfPrimaryHeadTeacherConstant.SEMESTER_ID];
    }
    if(evaluationID == MarkRecordOfPrimaryHeadTeacherConstant.TAB_CAPACTIES)
    {
         visiableColumn_4 = false;
         titeleColumn_1 = "a) Tự phục vụ, tự quản";
         titeleColumn_2 = "b) Giao tiếp, hợp tác";
         titeleColumn_3 = "c) Tự học và giải quyết vấn đề";
         
        
    }else if(evaluationID == MarkRecordOfPrimaryHeadTeacherConstant.TAB_QUALITIES)
    {
        visiableColumn_4 = true;
        titeleColumn_1 = "a) Chăm học, chăm làm,<br/>tích cực tham gia<br/> các hoạt động giáo dục";
        titeleColumn_2 = "b) Tự trọng,<br/> tự tin,<br/> tự chịu trách nhiệm";
        titeleColumn_3 = "c) Trung thực,<br/>, kỉ luật,<br/> đoàn kết";
        titeleColumn_4 = "d) Tình cảm<br/> thái độ";
        
    }
  
}

@using (Ajax.BeginForm("SaveComentsCapacitesImport",
                       "MarkRecordOfPrimaryHeadTeacher",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "OnCompleteCQ",
                           OnSuccess = "SaveSuccessCQ",
                           OnFailure = "SaveFailCQ"
                       },
                       new { id = "frmDataQC" }
                       ))
{
    @Html.AntiForgeryToken()
 
    <input type="hidden" name="Tab" id="Tab" value="@evaluationID" />
    <input type="hidden" name="HfClassID" id="HfClassID" value="@ViewData[MarkRecordOfPrimaryHeadTeacherConstant.CLASS_ID]"/>
    <input type="hidden" name="HfSemesterID" id="HfSemesterID" value="@semester"/>
    <input type="hidden" name="HfEducationLevelID" id="HfEducationLevelID" value="@ViewData[MarkRecordOfPrimaryHeadTeacherConstant.EDUCATION_LEVEL_ID]"/>
    <input type="hidden" name="Month" value="@MonthSelect"/>
    <input type="hidden" name="Subject_ID" value="@SubjectID"/>
<div id="ContentMark">
        @{
    var index = 1;

    Html.Telerik()
        .Grid(result)
        .Name("GridCapacitiesQualitiesErr")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { style = "text-align:center" }).Width(20);
            c.Template(@<text>@item.PupilCode</text>).Title("Mã học sinh").HtmlAttributes(new { style = "text-align:center" }).Width(100);
            c.Template(@<text>@{
                if (item.Status == SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    <span>@item.FullName</span>
                }
                else
                {
                    <span style="color:red"> @item.FullName</span>
                }          
            }</text>).Title("Họ và tên").HtmlAttributes(new { style = "text-align:center" }).Width(200);

            c.Template(@<text> @item.Column_1
            <input type="hidden" name='@("txtComments1_" + item.PupilID)' value="@item.Column_1" />
            </text>).Title(titeleColumn_1).HtmlAttributes(new { style = "text-align:center" }).Width(200);

            c.Template(@<text> @item.Column_2
            <input type="hidden" name='@("txtComments2_" + item.PupilID)' value="@item.Column_2" />
           </text>).Title(titeleColumn_2).HtmlAttributes(new { style = "text-align:center" }).Width(200);

            c.Template(@<text>@item.Column_3
            <input type="hidden" name='@("txtComments3_" + item.PupilID)' value="@item.Column_3" />
        </text>).Title(titeleColumn_3).HtmlAttributes(new { style = "text-align:center" }).Width(200);

            c.Template(@<text>@item.Column_4
            <input type="hidden" name='@("txtComments4_" + item.PupilID)' value="@item.Column_4" />
        </text>).Title(titeleColumn_4).Visible(visiableColumn_4).HtmlAttributes(new { style = "text-align:center" }).Width(170);


            c.Template(@<text> @{
                string strEvaluation = string.Empty;
                if (item.Column_5 == MarkRecordOfPrimaryHeadTeacherConstant.SHORT_NOT_OK)
                {
                    strEvaluation = MarkRecordOfPrimaryHeadTeacherConstant.NOT_OK;
                }
                else if (item.Column_5 == MarkRecordOfPrimaryHeadTeacherConstant.SHORT_OK)
                {
                    strEvaluation = MarkRecordOfPrimaryHeadTeacherConstant.OK;
                }
                @strEvaluation
                                     }
            <input type="hidden" name='@("txtComments5_" + item.PupilID)' value="@strEvaluation" />
        </text>).Title("Đánh<br/>giá").HtmlAttributes(new { style = "text-align:center" });

            c.Template(@<text><span style="color:red">@item.MessageError</span></text>).Title("Mô tả lỗi").HtmlAttributes(new { style = "text-align:left:color:red" }).Width(300);
            c.Template(@<text>@{
                if (!string.IsNullOrEmpty(item.MessageError) || item.Status != SMAS.Business.Common.GlobalConstants.PUPIL_STATUS_STUDYING)
                {
                    <input type="checkbox" disabled="disabled" />
                }
                else
                {
                    <input type="checkbox" name='@("chck_" + item.PupilID)' checked="checked" disabled="disabled" />
                    <input type="hidden" name='@("chck_" + item.PupilID)' value="on" />
                }                 
                }</text>).Title("#").HtmlAttributes(new { style = "text-align:center" });

        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
         .Selectable()        
       .Render();
        }
    </div>
            <div id="ListButton">               
                <span id="ListButtonRight">
                    <input type="submit" id="btnSave" class="t-button " value="Lưu">
                <input type="button" id="btnDelete" class="t-button " onclick="CloseDialogQC()" value="Đóng">
                </span>
            </div>
}
<script>

    function ShowCommentsErrorQC(idPupil, monthID) {
        $('.ErrorPupup').css('display', 'none');
        $('#DvPopupError_' + monthID + '_' + idPupil).css('display', 'block');
    }

    function CloseDialogErrorQC(idPupil, monthID) {
        $('#DvPopupError_' + monthID + '_' + idPupil).css('display', 'none');
    }

    function SaveSuccessCQ(data) {
        smas.alert(data.Message);
    }

    function OnCompleteCQ(data)
    {
        if ('@evaluationID' == '@MarkRecordOfPrimaryHeadTeacherConstant.TAB_CAPACTIES') {
            CloseDialogQC();
            GetCapacities();
        } else {
            smas.closeDialog("ImportDialogErrorQualities");
            GetQualities();
        }
        smas.hideProcessingDialog();
    }
    function SaveFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function CloseDialogQC()
    {
        if ('@evaluationID' == '@MarkRecordOfPrimaryHeadTeacherConstant.TAB_CAPACTIES') {
            smas.closeDialog("ImportDialogQC");
        }
        else {
            smas.closeDialog("ImportDialogErrorQualities");
        }
    }
</script>
<style>
    #GridData, #HeadGrid {
        margin-top: 20px;
    }   
    .listbutton {
    margin-top:122px;
    }
    .textComments {
     margin : 5px;
    }
    .ErrorPupup {
    background-color:white;display:none;position:absolute;width:290px;height:auto;border:1px solid #f5ecec
    }
    .txtInputMark {
    width: 80%;border:none;background-color:transparent;border-width:0px;
    }

    #ListButton {
     margin-top:20px;
     margin-bottom:10px;
    }
    #ListButtonRight {
     float:right;
    }
</style>



