﻿@model EmployeeSalaryForTeacherViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.EmployeeProfileManagementForTeacherArea.Models
<style type="text/css">
    #frmSalaryEdit .Coefficient .editor-field input,#frmSalaryEdit .EmployeeName .editor-field input{width:298px}#frmSalaryEdit .SalaryAmount .editor-field input,#frmSalaryEdit .SalaryResolution .editor-field input{width:295px}#frmSalaryEdit .Description .editor-field textarea{width:282px;height:80px}
</style>
@using (Ajax.BeginForm("Edit",
                       "EmployeeSalaryForTeacher",
                       null,
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSalarySuccess",
                           OnFailure = "EditSalaryFail"
                       },
                       new { id = "frmSalaryEdit" }
                       ))
{
    <div id="EditEmulationCriteria" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorForModel()
            @Html.ViettelHidden("EmployeeSalaryID")
            @Html.ViettelHidden("SalaryLevelID")
        </div>
        <div class="vt-EditorPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "t-button vt-button-save")
            @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editSalaryDialog');searchSalary();", "t-button vt-button-close")
        </div>
    </div>
}
<script type="text/javascript">
    function EditSalarySuccess(msg) {

        smas.alert(msg.Message);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editSalaryDialog");', 500);
            searchSalary();
        }
    }
    function EditSalaryFail(ajaxContext) {
        // smas.alert(ajaxContext.responseText);
    }
</script>
