﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilFaultArea.Models
@model PupilFaultCreateOrUpdateViewModel
<style>
    .vt-EditorPanel-Control .vt-control.PupilID
    {
        width: 98%;
    }
    
    .vt-EditorPanel-Control .vt-control.PupilID .editor-label
    {
        width: 15%;
    }
    
    .vt-EditorPanel-Control .vt-control.PupilID .editor-field
    {
        width: 83%;
    }
</style>
@using (Ajax.BeginForm("Create",
                       "PupilFault",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "CreateSuccess",
                           OnFailure = "CreateFail"
                       },
                       new { id = "frmCreate" }
                       ))
{
    
    <div class="vt-EditorPanel vt-EditorPanel-2">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorFor(model => model.EducationLevelID)
            @Html.ViettelEditorFor(model => model.ClassID)
            @Html.ViettelEditorFor(model => model.PupilID)
            @Html.ViettelEditorFor(model => model.FaultGroupID)
            @Html.ViettelEditorFor(model => model.ViolatedDate)
        </div>
        <div class="vt-ResultPanel">
            <div class="vt-ResultPanel-Title">
                <div class="vt-ResultPanel-Title-Message">
                    @Res.Get("Thông tin lỗi vi phạm")
                </div>
                <div class="vt-ResultPanel-Title-Button">
                </div>
                <div class="Clear">
                </div>
            </div>
            <div id="ListFault">
                @Html.Partial("_FaultList")
            </div>
            <div class="vt-ResultPanel-Footer">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmCreate')) return false;", "")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "createClose()", "")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function CreateSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("createDialog");', 500);
            search();
        }
    }
    function createClose() {
        smas.closeDialog("createDialog");
    }
    function CreateFail(ajaxContext) {
        //  smas.alert(ajaxContext.responseText);
    }

    function AjaxLoadClass1(cboEducationLevel) {
        frmId = $(cboEducationLevel).closest('form').get(0).id;
        controlUtils.loadComboBox(
            $("#" + frmId + " #ClassID"),
            '@Url.Action("AjaxLoadClass1", "PupilFault")',
            { EducationLevelID: $(cboEducationLevel).val() },
            '@Res.Get("SelectRK")'
        );
    }
    //    Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmCreate"));
    });
</script>
