﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilFaultArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models

<style type="text/css">
    .t-cell-number {
        text-align: right;
        padding: 4px!important;
    }

    .TotalTD {
        text-align: center;
        font-weight: 700;
    }

    .t-grid .t-grid-content tr td:first-child {
        border-left-width: 0;
    }

    .t-grid .t-grid-content tr:last-child td {
        border-bottom-width: 0;
    }
</style>

@{
    List<PupilFaultModel> lstPF = (List<PupilFaultModel>)ViewData["lstPupilFault"];
    var classID = (int?)ViewData["classSelectedID"];
    var pupilID = (int?)ViewData["pupilSelectedID"];
    var currentClsID = (int?)ViewData["currentClassID"];
    var faultDate = (DateTime?)ViewData["faultDate"];
    var dic = new Dictionary<string, object>();
    // Thong tin khoa diem danh
    bool isLock = (ViewData["isLock"] != null) && (bool)ViewData["isLock"];
    string lockTitle = ViewData["lockTitle"] != null ? ViewData["lockTitle"].ToString() : string.Empty;
}
@Html.ViettelHidden("classSelectedID", classID)
@Html.ViettelHidden("pupilSelectedID", pupilID)
@Html.ViettelHidden("currentClassID", currentClsID)

<div class="BtnCenterSection">
    @if (!isLock)
    {
        <button id="btsavefault" class="t-button btn btn-info btn-icon btn-round btn-icon-save" onclick="SaveFault();" style="font-size: 12px;">@Res.Get("Common_Button_Save")</button>
    }
    <button class="t-button btn btn-info btn-round" onclick="BackToCurrentClass();" style="font-size: 12px;">@Res.Get("Common_Button_Back")</button>
    <br />
    <br />
    <span style="color: red">@lockTitle</span>
</div>
<div class="vt-ResultPanel vt-td-edit">
    @{
        if (lstPF.Count == 0)
        {
        <p>Trường chưa cấu hinh lỗi vi phạm.</p>
        }
        else
        {
            Html.Telerik()
                        .Grid(lstPF)
                        .Name("GridPupilFault")
                        .HtmlAttributes(new { style = "width:100%;overflow:auto" })
                        .Columns(c =>
                        {

                            c.Template(@<text>
        <label class="custom-checkbox">
            <input type="checkbox" id ="@item.FaultCriteriaID" @(!item.CanEdit ? " disabled=\"disabled\"" : "") @(item.NumberOfFault > 0 ? "checked" : "")/>
            <span class="checkmark">&nbsp;</span>
        </label>
        </text>).Title("").HtmlAttributes(new { style = "text-align:center" }).Width(30);

                            c.Template(@<text>
        <span>@item.FaultName</span></text>)
                        .HtmlAttributes(new { @class = "t-name" }).HeaderHtmlAttributes(new { @class = "t-name" }).Width(150).HeaderTemplate(@Res.Get("Fault_Name_Title"));

                            c.Template(@<text>
        <input type="text" class="txtNumberOfFault"  value="@Html.Raw((item.NumberOfFault > 0) ? item.NumberOfFault.ToString() : string.Empty)" 
        FaultCriteriaID="@item.FaultCriteriaID" 
            PenalizedMark="@item.PenalizedMark"
            @(!item.CanEdit ? " disabled=\"disabled\"" : "") />
        </text>)
                                                                  .HeaderTemplate(@<text>@Res.Get("Fault_Count_Title")</text>).Width(30);

                            c.Template(@<text>
        @item.PenalizedMark
        </text>)
                                                                              .HeaderTemplate(@<text>@Res.Get("Fault_PenalizedMark")</text>).HtmlAttributes(new { @class = "t-cell-number colPeni" }).Width(30);

                            c.Template(@<text>
        @Html.Raw((item.NumberOfFault > 0) ? (item.NumberOfFault * item.PenalizedMark).ToString() : "0")
        </text>)
                                                                                  .HeaderTemplate(@<text>Tổng điểm trừ</text>).HtmlAttributes(new { @class = "t-cell-number colTotal" }).Width(30);
                            c.Template(@<text>
        <textarea id="@("NoteID_" + item.FaultCriteriaID)" class ="txtNote" maxlength="200" @(item.NumberOfFault == 0 ? "disabled=disabled" : "")>@item.Note</textarea>
        </text>).Title(Res.Get("Common_Label_Note")).Width(160);

                        })
                        .Footer(false)
                        .Render();
        }
    }
</div>

<script type="text/javascript">
    var _DataList = "";
    $(document).ready(function () {
        $('#GridPupilFault tr:last').after('<tr><td></td><td id="TotalFault" class="TotalTD">0 lỗi vi phạm</td><td id="TotalTime" class="TotalTD">0 lần vi phạm</td><td></td><td id="TotalMark" style="text-align:right;padding:4px !important;" class="TotalTD">0</td><td></td></tr>');

        $("#GridPupilFault tr").removeClass("t-alt");
        $("#GridPupilFault tbody").addClass("t-grid-content");
        controlUtils.AddMoveButtonEvent("#GridPupilFault");
        ReCalculateForGrid();

        $("#GridPupilFault input[class='txtNumberOfFault']").keyup(function (event) {
            var keyCode = ('which' in event) ? event.which : event.keyCode;
            if (keyCode >= 97 && keyCode <= 105) {
                keyCode = keyCode - 48;
            }
            var keyValue = String.fromCharCode(keyCode).toUpperCase();
            if (keyCode == 9 || keyCode == 16 || keyCode == 17 || keyCode == 18) {
                return event.target.value;
            }
            else if (keyCode == 37 || keyCode == 38 || keyCode == 39 || keyCode == 40) {
                return false;
            }
            switch (keyValue) {
                case "1":
                case "2":
                case "3":
                case "4":
                case "5":
                case "6":
                case "7":
                case "8":
                case "9":
                    $(this).attr("value", keyValue);
                    var tr = $(this).closest("tr");
                    var input = $(" input[type='checkbox']", tr);
                    var textNote = $(".txtNote", tr);
                    $(textNote).removeAttr('disabled');
                    $(input).attr("checked", true);
                    break;
                default:
                    $(this).attr("value", "");
                    break;
            }
            if ($(this).attr("value") == '') {
                var tr = $(this).closest("tr");
                var input = $(" input[type='checkbox']", tr);
                var textNote = $(".txtNote", tr);
                $(textNote).attr('disabled', 'disabled');
                $(input).attr("checked", false);
            }
            var tr = $(this).closest("tr");
            if ($(this).attr("value") != "") {
                a = $(this).attr("PenalizedMark").toString().replace(",", ".");
                $(".colTotal", tr).html((parseFloat($(this).attr("value")) * parseFloat(a)).toString().replace(".", ","));

            }
            else {
                $(".colTotal", tr).html("0");
            }
            ReCalculateForGrid();
            return false;
        });

        $("#GridPupilFault input[class='txtNumberOfFault']").blur(function (event) {
            var text = $(this).val();
            if (text != "1"
                && text != "2"
                && text != "3"
                && text != "4"
                && text != "5"
                && text != "6"
                && text != "7"
                && text != "8"
                && text != "9") {
                $(this).val("");
                $(this).attr("value", "");
            }
            var tr = $(this).closest("tr");
            if ($(this).attr("value") != "") {
                a = $(this).attr("PenalizedMark").toString().replace(",", ".");
                $(".colTotal", tr).html(($(this).attr("value") * parseFloat(a)).toString().replace(".", ","));
                var tr = $(this).closest("tr");
                var textNote = $(".txtNote", tr);
                var input = $(" input[type='checkbox']", tr);
                $(input).attr("checked", true);
                $(textNote).removeAttr('disabled');
            }
            else {
                $(".colTotal", tr).html("0");
            }
            ReCalculateForGrid();
            return true;
        });

        $("#GridPupilFault input[type='checkbox']").click(function (event) {
            ReCalculateForGrid();
        });

        _DataList = GetData();
    });

    $("#GridPupilFault input[type='checkbox']").change(function () {
        if ($(this).is(":checked")) {
            var tr = $(this).closest("tr");
            var input = $("input[class='txtNumberOfFault']", tr);
            $(input).attr("value", 1);
            var a = ($(input).attr("PenalizedMark").toString().replace(",", "."));
            $(".colTotal", tr).html(parseFloat(a)).toString().replace(".", ",");
            $(this).closest('td').closest('tr').find('textarea').removeAttr('disabled');
            ReCalculateForGrid();
        }
        else {
            var tr = $(this).closest("tr");
            var input = $("input[class='txtNumberOfFault']", tr);
            $(input).attr("value", "");
            $(".colTotal", tr).html("0").toString().replace(".", ",");
            $(this).closest('td').closest('tr').find('textarea').attr('disabled', 'disabled');
            ReCalculateForGrid();
        }

    });

    function ReCalculateForGrid() {
        //var arrInput = $("#GridPupilFault input[type='text']");
        //arrInput.each(function () {
        //    var tr = $(this).closest("tr");
        //    var input = $(" input[type='checkbox']", tr);
        //    if ($(input).attr("value") != "") {
        //        $(input).attr("checked", true);
        //    }
        //});

        var arrChecked = $("#GridPupilFault input[type='checkbox']:checked");
        var totalFault = arrChecked.length;
        var totalTime = 0;
        var totalMark = 0;
        arrChecked.each(function () {
            var tr = $(this).closest("tr");
            var input = $("input[class='txtNumberOfFault']", tr);
            var time = $(input).attr("value") == "" ? 0 : parseInt($(input).attr("value"));
            totalTime += time;
            totalMark += time * parseFloat($(input).attr("PenalizedMark").toString().replace(",", "."));
        });
        $("#TotalFault").html(totalFault + " lỗi vi phạm");
        $("#TotalTime").html(totalTime + " lần vi phạm");
        $("#TotalMark").html(totalMark.toString().replace(".", ","));
    }

    function GetData() {
        var DataList = "";
        $("#GridPupilFault input[type='checkbox']:checked").each(function () {
            if (validateUtils.IsEditable(this)) {
                var tr = $(this).closest("tr");
                var strNote = $("textarea[class='txtNote']", tr);
                var valNote = $(strNote).val();
                var input = $("input[class='txtNumberOfFault']", tr);
                var val = $(input).attr("value");
                DataList += $(input).attr("FaultCriteriaID") + "_" + val + "_" + valNote + ",";
            }
        });
        return DataList;
    }

    function SaveFault() {
        var PupilID = $("#xCurrentPupilID").attr("value");
        var Date = $("#SearchDate").attr("value");
        var DataList = "";
        var IsValid = true;
        $("#GridPupilFault input[type='checkbox']:checked").each(function () {
            //if (validateUtils.IsEditable(this)) {
            var tr = $(this).closest("tr");
            var input = $("input[class='txtNumberOfFault']", tr);
            var strNote = $("textarea[class='txtNote']", tr);
            var val = $(input).attr("value");
            var valNote = $(strNote).val();
            if (val == "") {
                smas.alert("Bạn chưa nhập số lần vi phạm");
                $(input).focus();
                IsValid = false;
            }
            DataList += $(input).attr("FaultCriteriaID") + "_" + val + "_" + valNote + ",";
            //}
        });
        if (!IsValid) {
            return;
        }
        if (PupilID != null && PupilID != 0 && PupilID != ""
        && Date != null && Date != "" && Date != 0) {
            $.ajax({
                url: '@Url.Action("Save", "PupilFault")',
                data: { PupilID: PupilID, Date: Date, DataList: DataList },
                type: "post",
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    smas.alert(data);
                    $("#savedPupilID").val(PupilID);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }

    }
</script>
