﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilFaultArea.Models
@model PupilFaultCreateOrUpdateViewModel
<style>
    #frmEdit .vt-EditorPanel-Control .vt-control.PupilName
    {
        width: 98%;
    }
    
    #frmEdit .vt-EditorPanel-Control .vt-control.PupilName .editor-label
    {
        width: 15%;
    }
    
    #frmEdit .vt-EditorPanel-Control .vt-control.PupilName .editor-field
    {
        width: 83%;
    }
    
    #frmEdit .vt-EditorPanel-Control .vt-control .editor-field input[type="text"]
    {
        width: 100%;
    }
    
    #frmEdit .vt-EditorPanel-Control .vt-control .editor-field select
    {
        width: 103%;
    }
    
    
    
     #frmEdit .vt-EditorPanel-Control .vt-control .editor-field .t-picker-wrap
    {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("Edit",
                       "PupilFault",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmEdit" }
                       ))
{
    <div class="vt-EditorPanel vt-EditorPanel-2">
        <div class="vt-EditorPanel-Control">
            @Html.AntiForgeryToken()
            @Html.ViettelEditorFor(model => model.EducationLevelName)
            @Html.ViettelEditorFor(model => model.ClassName)
            @Html.ViettelEditorFor(model => model.PupilName)
            @Html.ViettelEditorFor(model => model.FaultGroupID, new Dictionary<string, object>() { { "disabled", "disabled" } })
            @Html.ViettelHiddenFor(model => model.FaultGroupID)
            @Html.ViettelEditorFor(model => model.ViolatedDate, new Dictionary<string, object>() { { "disabled", "disabled" } })
            @Html.ViettelHidden("PupilFaultID")
        </div>
        <div class="vt-ResultPanel">
            <div class="vt-ResultPanel-Title">
                <div class="vt-ResultPanel-Title-Message">
                    @Res.Get("Thông tin lỗi vi phạm")
                </div>
                <div class="vt-ResultPanel-Title-Button">
                </div>
                <div class="Clear">
                </div>
            </div>
            <div id="ListFault">
                @Html.Partial("_FaultList")
            </div>
            <div class="vt-ResultPanel-Footer">
                @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "if(!validateUtils.validateForm('frmEdit')) return false;", "")
                @Html.ViettelButton(Res.Get("Common_Button_Close"), "button", "smas.closeDialog('editDialog');", "")
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            setTimeout('smas.closeDialog("editDialog");', 500);
            search();
        }
    }
    function EditFail(ajaxContext) {
        // smas.alert(ajaxContext.responseText);
    }

    // Ham nay su dung de thuc hien validate o client khi load Form bang Ajax
    $(function () {
        jQuery.validator.unobtrusive.parse($("#frmEdit"));
    });
    $(document).ready(function () {
        $("#frmEdit .t-icon-calendar").each(function () { $(this).attr("style", "display:none") })
    });
</script>
