﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilFaultArea.Models
@using SMAS.VTUtils.HtmlHelpers
@using SMAS.Models.Models
@{
    List<ListPupilModel> lstPupil = (List<ListPupilModel>)ViewData["lstPupil"];
    var classID = (int?)ViewData["classSelectedID"];
    var pupilID = (int?)ViewData["pupilSelectedID"];
    bool check = ViewData["SearchAjax"] != null ? (bool)ViewData["SearchAjax"] : false;
    var global = new GlobalInfo();
    int index = 1;
}
@Html.ViettelHidden("xCurrentPupilID", pupilID)
@Html.ViettelHidden("savedPupilID")

<style type="text/css">
    .FocusTR{background-color:#0ff}.NoAvatarTR{height:30px!important}.t-grid-content{max-height:500px}
</style>

<script type="text/javascript">
    //btsavefault
    $(document).ready(function () {
        $("#btsavefault").removeAttr("disabled");
        $("#listPupil").css("height", "100%");
    });
</script>
<div class="vt-ResultPanel vt-td-edit mg-t-10">
    @{
        if (lstPupil.Count == 0)
        {
            if (check)
            {
                <p>Tìm thấy 0 kết quả.</p>
            }
            else
            {
        <p>Lớp chưa có học sinh.</p>
        }

        }
        else
        {
            Html.Telerik()
                        .Grid(lstPupil)
                        .Name("GridPupil")
                        .HtmlAttributes(new { style = "width:100%;overflow:auto;" })
                        .Scrollable(u =>
                            {
                                u.Height("Auto");
                            })
                        .Columns(c =>
                        {
                            c.Template(@<text>@(index++)</text>)
                               .ClientTemplate("<#=lstInd++ #>")
                               .Title(Res.Get("Common_Column_Order"))
                               .HtmlAttributes(new { style = "text-align:center" })
                               .Width(30);
                            if (global.IsShowPupilImage)
                            {
                                c.Template(@<text><div class="AlignLeft PhotoNameSection">

                                    <p class="AvatarSection">
                                        @{  
                                            if (item.ImageData == null)
                                            { 
                                            <img src="../../../Content/images/pupil_avatar.jpg" width="70" height="70" alt="Avatar" /> 
                                            }
                                            else
                                            {
                                            <img src="@Url.Action("GetPupilImage", "PupilFault", new { id = item.PupilID })" width="70" height="70" alt="Avatar" /> 
                                            }
                                        }
                                    </p>

                                </div></text>)
                                    .Title("Ảnh")
                                    .Width(70);
                            }
                            c.Template(@<text><p class="TextStyle Text2Style Name@(item.PupilID)">
                                <span style="color:@(item.Status != SMAS.Web.Constants.GlobalConstants.PUPIL_STATUS_STUDYING ? "red" : "")">
                                    @item.PupilName
                                </span>
                            </p>
        </text>)
                               .Title(Res.Get("Fault_Pupil_Name_Title"))
                               .HtmlAttributes(new { style = "text-align:left" })
                               .Width(260);
                        })
                        .RowAction(r =>
                            {
                                r.HtmlAttributes["onclick"] = (r.DataItem.Status != SMAS.Web.Constants.GlobalConstants.PUPIL_STATUS_STUDYING) ? "return" : "LoadDataByPupil(" + r.DataItem.PupilID + ")";
                                r.HtmlAttributes["class"] = (r.DataItem.PupilID == pupilID) ? "FocusTR" : "";
                                r.HtmlAttributes["id"] = "trpupil" + r.DataItem.PupilID;
                            })
                        .Footer(false)
                        .Render();

        }
    }
</div>

<script type="text/javascript">

    var lstInd = 0;

    function LoadDataByPupil(pupilID) {
        var savedPupilID = $("#savedPupilID").val();
        var xCurrentPupilID = $("#xCurrentPupilID").val();
        if (GetData() != _DataList && xCurrentPupilID != savedPupilID) {
            var tenCuaHocSinhChuaLuu = $(".Name" + xCurrentPupilID).text(); // Tim ten cua hoc sinh chua luu
            smas.confirm("Bạn có muốn lưu ghi nhận vi phạm với học sinh " + tenCuaHocSinhChuaLuu + "?",
                function () {
                    var PupilID = $("#xCurrentPupilID").attr("value");
                    var Date = $("#SearchDate").attr("value");
                    var DataList = "";
                    var IsValid = true;
                    $("#GridPupilFault input[type='checkbox']:checked").each(function () {
                        if (validateUtils.IsEditable(this)) {
                            var tr = $(this).closest("tr");
                            var input = $("input[type='text']", tr);
                            var val = $(input).attr("value");
                            if (val == "") {
                                smas.alert("Bạn chưa nhập số lần vi phạm");
                                $(input).focus();
                                IsValid = false;
                            }
                            DataList += $(input).attr("FaultCriteriaID") + "_" + val + ",";
                        }
                    });
                    if (!IsValid) {
                        return;
                    }
                    if (PupilID != null && PupilID != 0 && PupilID != ""
                    && Date != null && Date != "" && Date != 0) {
                        $.ajax({
                            url: '@Url.Action("Save", "PupilFault")',
                            data: { PupilID: PupilID, Date: Date, DataList: DataList },
                            type: "post",
                            beforeSend: function () {
                                smas.showProcessingDialog();
                            },
                            complete: function () {
                                smas.hideProcessingDialog();
                            },
                            success: function (data) {
                                smas.alert(data);
                                $("#xCurrentPupilID").val(pupilID);
                                $("#savedPupilID").val(PupilID);
                                $("#listPupil tr").removeClass("FocusTR");
                                $("#trpupil" + pupilID).addClass("FocusTR");
                                SelectPupil();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                smas.alert(XMLHttpRequest.responseText);
                            }
                        });
                    }
                },
                function () {
                    $("#xCurrentPupilID").val(pupilID);
                    $("#listPupil tr").removeClass("FocusTR");
                    $("#trpupil" + pupilID).addClass("FocusTR");
                    SelectPupil();
                });
            } else {
                $("#xCurrentPupilID").val(pupilID);
                $("#listPupil tr").removeClass("FocusTR");
                $("#trpupil" + pupilID).addClass("FocusTR");
                SelectPupil();
            }
        }
        //Load Fault List From PupilFIleID
        function SelectPupil() {
            var searchDate = document.getElementById("selDate").value;
            var datepicker = $("#SearchDate").data('tDatePicker');
            var classID = $('select[name="classSelector"]').val();
            var curClassID = document.getElementById("curClassID");
            var pupilItm = document.getElementById("xCurrentPupilID");
            var pupilID = 0;
            if (pupilItm) {
                pupilID = pupilItm.value;
                $('[name="trpupil"]').removeClass("PupilActive");
                $("#trpupil" + pupilID).addClass("PupilActive");
            }
            if (!datepicker) {
                alert("@Res.Get("Fault_Error_Time")");
            datepicker.value(searchDate);
            return;
        }
        var curDate = datepicker.value();
        if (!curDate) {
            alert("@Res.Get("Fault_Error_Time")");
                datepicker.value(searchDate);
                return;
            }
            if (curDate > new Date()) {
                alert("@Res.Get("Fault_Error_Time_Now")");
                datepicker.value(searchDate);
                return;
            }
            if (classID) {
                //Load data
                $.ajax({
                    url: '@Url.Action("LoadByPupil", "PupilFault")',
                    type: 'post',
                    traditional: true,
                    datatype: 'json',
                    data: { classID: classID, curDate: curDate.toUTCString(), curClassID: curClassID.value, pupilID: pupilID },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    success: function (msg) {
                        $('#listFault').html("");
                        $('#listFault').html(msg);
                        smas.hideProcessingDialog();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                });
            }
        }
</script>
