﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.PupilFaultArea.Models
@using SMAS.Web.Areas.PupilFaultArea
@{
    var index = 1;
    var str = "";
    Html.Telerik()
        .Grid((IEnumerable<FaultGridViewModel>)ViewData[PupilFaultConstants.LIST_PUPILFAULT])
        .Name("GridFault")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)@Html.Hidden("[" + (index - 2) + "].key", item.FaultID)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { style = "text-align:center" }).Width(20);

            c.Bound(o => o.FaultName);
            c.Template(@<text>
    @{
        str = "";
        if (item.IsFaultCriteriaAbsence)
        {
            str = "readonly disabled";
        }
    }
    <input id="[@(index - 2)].value" type="text" value="@item.NumberOfFault" 
                onkeypress="return runScript(event);" name="[@(index - 2)].value" onchange="NumberOfFaultChange(this)" @str/>
    @*   @Html.ViettelTextbox("", "[" + (index - 2) + "].value", item.NumberOfFault, new Dictionary<string, object>() { { "OnChange", "NumberOfFaultChange(this)" }, { "id", "[" + (index - 2) + "].value" },{"onkeypress", "return runScript(event);"} }, false, item.IsFaultCriteriaAbsence, item.IsFaultCriteriaAbsence)
                     *@ @Html.ViettelHidden("[" + (index - 2) + "].value.PenalizedMark", item.PenalizedMark, new Dictionary<string, object>() { { "id", "[" + (index - 2) + "].value.PenalizedMark" } })
    </text>).Title(Res.Get("PupilFault_Label_NumberOfFault"));

            c.Bound(o => o.PenalizedMark);

            c.Template(@<text>
            <input id="[@(index - 2)].value.TotalPenalizedMark" type="text" value="@item.TotalPenalizedMark" 
            readonly="readonly" name="[@(index - 2)].value.TotalPenalizedMark"/>
        </text>).Title(Res.Get("PupilFault_Label_TotalPenalizedMark"));
        })
        .DataBinding(b =>
            b.Ajax().OperationMode(GridOperationMode.Client)
        //.Select("Search", "PupilFault")

         )
        .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding")
                            .OnCommand("Grid_onCommand")
        )
        .Selectable()
        .Render();
                      
}
<script type="text/javascript">
    function NumberOfFaultChange(cbNumberOfFault) {
        var thisNumberOfFault = $(cbNumberOfFault).val();
        var thisNumberOfFaultID = $(cbNumberOfFault).attr("name");
        var thisPenalizedMark = $("input[name='" + thisNumberOfFaultID + ".PenalizedMark']").val();
        thisPenalizedMark = thisPenalizedMark.replace(",", ".");
        thisNumberOfFault = thisNumberOfFault.replace(",", ".");

        var thisTotal = parseFloat(thisNumberOfFault) * parseFloat(thisPenalizedMark);
        $("input[name='" + thisNumberOfFaultID + ".TotalPenalizedMark']").val(thisTotal.toFixed(2).replace(".", ","));

    }
    function runScript(e) {
        var key;
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox
        if (key == 13) {
            return false;
        }
        if (key < 48 || 57 < key) {
            if (key != 8 && key != 0) {
                return false;
            }
        }
    } 
</script>
