﻿@model List<Province>
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Models.Models;
@using System.Web.Mvc.Ajax;
@using log4net;
@using Microsoft.Security.Application;
@using SMAS.Web.Areas.SMSEduArea.Models
@{
    List<int> lstAppliedID = (List<int>)ViewData["lstAppliedProvinceID"];
    string checkAllChecked = Model.Where(o => !lstAppliedID.Contains(o.ProvinceID)).Count() == 0 ? "checked" : string.Empty;
}

<div class="vt-ResultPanelEdit" style="width: 100%; margin-left: 0px;">
    
    @{
        var id0 = 0;
        var id1 = 0;
        int index = 1;
        string name;
        
        Html.Telerik()
           .Grid<Province>(Model)
           .Name("GridSchoolProvince")
           .HtmlAttributes(new { @class = "GeneralTable General1Table" })
           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { @class = "ColsTd1 AlignCCols", style = "text-align:center;vertical-align:middle;" }).Width(40);
               c.Bound(p => p.ProvinceName).Title("Tỉnh/TP").Width(80).HtmlAttributes(new { style = "word-wrap: break-word;text-align:left;padding-left:10px;vertical-align:middle;" });
               c.Template(@<text>
                    @{

                    name = "lstAppliedProvince[" + id0 + "]." + "IsChecked";
                    <label class="custom-checkbox p-r-0 p-l-15">
                        <input type="checkbox" class="ProvinceCheckbox ProvinceCheckbox1" value="@item.ProvinceID" name="@name" value="true" @(lstAppliedID.Contains(item.ProvinceID) ? "checked" : string.Empty) onchange="onProvinceCheckboxChange()" />
                        <span class="checkmark"></span>
                    </label>
                    id0++;
                }
                </text>)
                 .Width(50)
                 .HeaderTemplate("<label class='custom-checkbox p-r-0 p-l-15'><input type='checkbox' id='chekAll1' onchange='checkAllCol1Change(this)' " + checkAllChecked + "/><span class='checkmark'></span></label>")
                 .HeaderHtmlAttributes(new { style = "text-align:center" })
                 .HtmlAttributes(new { style = "text-align:center" });
           })
            .Scrollable(p => p.Enabled(true).Height(200))
            .Footer(false)
            .Render();

           
    }
</div>
