﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@{
    List<SelectListItem> lstYear = (List<SelectListItem>)ViewData[DeclarePackageConstant.LIST_YEAR];
    List<ServicePackageBO> lstPackage = (List<ServicePackageBO>)ViewData[DeclarePackageConstant.LIST_PACKAGE];
    ServicePackageBO servicepackageObj = (ServicePackageBO)ViewData[DeclarePackageConstant.INFO_SERVICE_PACKAGE];
    int appliedSchoolNum = 0;
}

<style type="text/css">
      .t-picker-wrap .t-icon {
        vertical-align: top;
        margin-top: 5px;
    }
     td{
        padding: 5px 0;
    }
   
</style>
<div id="InsertOrUpdateTreatment" class="vt-EditorPanel vt-EditorPanel-1" style="padding-top:10px">
    @using (Ajax.BeginForm("Edit",
                       "DeclarePackage",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmCreate" }
                       ))
    {
        @Html.AntiForgeryToken()
         <input type="hidden" id="ServicePackageDeclareDetailID" name="ServicePackageDeclareDetailID" value='@servicepackageObj.ServicePackageDeclareDetailID' />
        <input type="hidden" id="ServicePackageID" name="ServicePackageID" value='@servicepackageObj.ServicePackageID' />
        
        <table id="CreateDeclarePackage" style="width:100%;table-layout: fixed;">
            <colgroup>
                <col width="45px" >
                <col width="70px" >
                <col width="30px" >
                <col width="100px" >
            </colgroup>
            <tr>
                <td style="text-align:right;padding-right:10px"">@Res.Get("ReportCodeOnline_Label_SchoolYearTitle")</td>
                <td>
                    <select name="CboAcademicYear" id="CboAcademicYear" style="width:158px">
                                @{  
                                    for (int i = 0; i < lstYear.Count; i++)
                                    {
                                        if (servicepackageObj.Year != null)
                                        {                                            
                                            if (int.Parse(lstYear[i].Value) == servicepackageObj.Year)
                                            {
                                                <option value="@lstYear[i].Value" selected="selected">@lstYear[i].Text</option>
                                            }
                                            else
                                            {
                                                <option value="@lstYear[i].Value" >@lstYear[i].Text</option>
                                            }    
                                        }
                                        else
                                        {
                                            if (int.Parse(lstYear[i].Value) == DateTime.Now.Year)
                                            {
                                                <option value="@lstYear[i].Value" selected="selected">@lstYear[i].Text</option>
                                            }
                                            else
                                            {
                                                <option value="@lstYear[i].Value" >@lstYear[i].Text</option>
                                            }    
                                        }
                                                                            
                                    }
                                }
                            </select>
                </td>
                <td  style="text-align:right;padding-right:10px"">
                    <label for="DeclarePackage">@Res.Get("Label_Package")</label>
                    <span style="color:red;">*</span>
                </td>
                <td>
                     <select  id="CboPackage" style="width: 158px;" onchange="GetInfoPackage()" disabled="disabled">
                                 @{
                                    for (int i = 0; i < lstPackage.Count; i++)
                                    {
                                        if (lstPackage[i].ServiceCode == servicepackageObj.ServiceCode)
                                        {
                                            <option value="@lstPackage[i].ServiceCode" selected="selected">@lstPackage[i].ServiceCode</option>
                                        }
                                        else
                                        {
                                            <option value="@lstPackage[i].ServiceCode">@lstPackage[i].ServiceCode</option>
                                        }
                                    }
                                }
                            </select>                           
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                     <div class="mg-t-5">
                         <input type="hidden" name="CboPackage" value="@servicepackageObj.ServiceCode"/>
                        <input type="button" onclick="CreatePackage()" class="btn btn-round btn-info btn-icon btn-icon-plus t-state-disabled" name="BtnCreatePackage" id="BtnCreatePackage" value='@Res.Get("Thêm")' disabled="disabled"/>
                        <input type="button" onclick="EditPackage()" class="btn btn-round btn-info" name="BtnUpdate" id="BtnUpdate" value='@Res.Get("Common_Update")' />
                     </div>
                </td>
            </tr>
            <tr>
                <td  style="text-align:right;padding-right:10px""> 
                    <label for="DeclarePackage">@Res.Get("Học kỳ áp dụng")</label>
                    <span style="color:red;">*</span>
                </td>
                <td colspan="3">
                    @{
                            
                            if (servicepackageObj.Semester == DeclarePackageConstant.SEMESTER_ALL)
                            {
                                <label class="custom-checkbox">
                                    <input type="checkbox" id="checkI" class="ChkHKI" name="checkI" checked="checked"/> <span>Học kỳ I</span> 
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" id="checkII" class="ChkHKII" name="checkII" style="margin-left: 40px;"  checked ="checked"/> <span>HK II</span> 
                                    <span class="checkmark"></span>
                                </label>
                                
                                
                            }
                            else
                            {
                                if (servicepackageObj.Semester == DeclarePackageConstant.SEMESTER_I)
                                {
                                    <label class="custom-checkbox">
                                        <input type="checkbox" id="checkI" class="ChkHKI" name="checkI" checked="checked"/> <span>Học kỳ I</span> 
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" id="checkII" class="ChkHKII" name="checkII" style="margin-left: 40px;"/> <span>Học kỳ II</span> 
                                        <span class="checkmark"></span>
                                    </label>     
                                }
                                else
                                {
                                    if (servicepackageObj.Semester == DeclarePackageConstant.SEMESTER_II)
                                    {
                                        <label class="custom-checkbox">
                                            <input type="checkbox" id="checkI" class="ChkHKI" name="checkI"/> <span>Học kỳ I</span> 
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom-checkbox">
                                            <input type="checkbox" id="checkII" class="ChkHKII" name="checkII" style="margin-left: 40px;" checked="checked"/> <span>Học kỳ II</span> 
                                            <span class="checkmark"></span>
                                        </label>         
                                    }
                                    else
                                    {
                                        <label class="custom-checkbox">
                                            <input type="checkbox" id="checkI" class="ChkHKI" name="checkI"/> <span>Học kỳ I</span> 
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom-checkbox">
                                            <input type="checkbox" id="checkII" class="ChkHKII" name="checkII" style="margin-left: 40px;"/> <span>Học kỳ II</span> 
                                            <span class="checkmark"></span>
                                        </label>    
                                    }
                                }                                       
                            } 
                                                   
                        }     
                </td>
            </tr>
            <tr>
                <td  style="text-align:right;padding-right:10px;vertical-align:middle"><p>Thời gian áp dụng từ</p></td>
                <td>
                    @{
                            Html.Telerik().DatePicker()
                            .Name("FromDate")
                            .Value(servicepackageObj.FromDate)
                            .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                            .TodayButton("Now")
                            .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                            .Render();
                    }
                </td>
                <td style="text-align:right;padding-right:10px;vertical-align:middle"><p>Đến</p></td>
                <td>
                    @{
                        Html.Telerik().DatePicker()
                                .Name("ToDate")
                                .Value(servicepackageObj.ToDate)
                                .InputHtmlAttributes(new { @class = "InputTextStyle InputText2Style" })
                                .TodayButton("Now")
                                .Format(GlobalConstantsEdu.DATE_FORMAT_DDMMYYYY)
                                .Render();
                    }
                </td>
            </tr>
            <tr>
                <td style="text-align:right;padding-right:10px"">
                    @Res.Get("Thời gian hiệu lực")
                </td>
                <td colspan="3">
                    <input type="text" name="EffectiveDay" id="EffectiveDay" maxlength="3" style="width:50px; text-align:center" class="number" value='@servicepackageObj.EffectiveDays.ToString()'/> ngày, kể từ ngày đấu nối
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="IsForOnlyInternal" name="IsForOnlyInternal" style="margin-right:5px" @(servicepackageObj.IsForOnlyInternal == true?"checked":string.Empty)/>Chỉ áp dụng nội mạng 
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td></td>
                <td>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="IsForOnlyExternal" name="IsForOnlyExternal" style="margin-right:5px" @(servicepackageObj.IsForOnlyExternal == true ? "checked" : string.Empty)/>Chỉ áp dụng ngoại mạng
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="IsExtraPackage" name="IsExtraPackage" style="margin-right:5px" @(servicepackageObj.IsExtraPackage == true ? "checked" : string.Empty)/>Gói cước mua thêm
                        <span class="checkmark"></span>
                    </label>
                </td>                
                <td></td>
                <td>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="IsWholeYearPackage" name="IsWholeYearPackage" style="margin-right:5px" @(servicepackageObj.IsWholeYearPackage == true ? "checked" : string.Empty)/>Gói cước cả năm (chỉ cho phép đấu cả năm)
                        <span class="checkmark"></span>
                    </label>
                </td>      
            </tr>
        </table>
        
        <input type="hidden" name="ApplyType" id="ApplyType" />
        <input type="hidden" name="ListProvinceApply" id="ListProvinceApply" />
        <input type="hidden" name="ListSchoolApply" id="ListSchoolApply" />
        <input type="hidden" name="CheckAllSchool" id="CheckAllSchool" />
        <input type="hidden" name="ListSchoolNotApply" id="ListSchoolNotApply" />
        <input type="hidden" name="ProvinceID" id="hProvinceID" />
        <input type="hidden" name="DistrictID" id="hDistrictID" />
        <input type="hidden" name="SchoolName" id="hSchoolName" />
        <input type="hidden" name="UserName" id="hUserName" />
        <input type="hidden" name="Status" id="hStatus" />
        
        <input type="submit" style="display:none" name="BtnSave" id="BtnSave"/>
    }
</div>

<div class="vt-ResultPanelEdit" style=" margin: 5px 0px 0px 0px !important;margin-top:5px">
        <div class="vt-ResultPanel-TitleEdit" style="padding:5px;border-bottom:none">
            <div class="vt-ResultPanel-Title-MessageEdit" id="numAppliedInfo">
            </div>
            <div class="Clear">
            </div>
        </div>
    </div>

<div id="SchoolProvinceApplied" class="vt-EditorPanel vt-EditorPanel-1" style="padding:5px 0px 0px 0px;">
    <p style="text-align:center">
        <label class="custom-radio-button">
            <input type="radio" name="AppliedType" id="ProvinceApplied" onchange="LoadAppliedUnit(2)"/>Áp dụng theo tỉnh
            <span class="checkmark"></span>
        </label>
        <label class="custom-radio-button">
            <input type="radio" name="AppliedType" id="SchoolApplied" onchange="LoadAppliedUnit(1)"/>Áp dụng theo trường
            <span class="checkmark"></span>
        </label>
    </p>
    <div id="AppliedConent">

    </div>
</div>
<div class="vt-EditorPanel-Button" style="text-align: center; margin-bottom: 10px;margin-top:5px">
                
                <input type="button" class="btn btn-basic btn-round" onclick="ClosePopup()" name="BtnClose" id="BtnClose" value='@Res.Get("Quay lại")' />
                <input type="button" onclick="return CheckValidate()" class="btn btn-info btn-round btn-icon btn-icon-save" name="BtnSave" id="BtnSave" value='@Res.Get("Common_Button_Save")' />
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetInfoPackage();
    });

    var lstInd = 0;

   
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function ClosePopup(){
        smas.closeDialog('editDialog');
        $("#editeDialog .t-window-content").empty();

    }

    function EditSuccess(msg) {
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmCreate");
            setTimeout("smas.closeDialog('editDialog')", 300);
            search();
        }
    }

    function CheckValidate() {
        // Kiem tra check Goi cuoc gioi han
        var checkIndefinitely = $('#CreateDeclarePackage #CheckIndefinitely').attr("checked");

        if (checkIndefinitely != "checked")
        {
            // Nam hoc
            var year = $('#CreateDeclarePackage #CboAcademicYear').val();
            if (year == "") {
                smas.alertColor("Chưa chọn năm học", "red");
                return;
            }
            var packa = $('#CreateDeclarePackage #CboPackage').val();
            if (packa == "") {
                smas.alertColor("Chưa chọn gói cước", "red");
                return;
            }
            // Hoc ki
            var hkI = $('#CreateDeclarePackage #checkI').attr('checked');
            var hkII = $('#CreateDeclarePackage #checkII').attr('checked');
            if (hkI != "checked" && hkII != "checked") {
                smas.alertColor("Chưa chọn học kỳ áp dụng", "red");
                return;
            }
            // Kiem tra tu ngay, den ngay khong hop le
            var fromdate = $('#CreateDeclarePackage #FromDate').val();
            if (fromdate == '') {
                smas.alertColor("Chưa nhập từ ngày", "red");
                return;
            }
            else
            {
                if (isDate(fromdate) == 0) {
                    smas.alertColor("Từ ngày không hợp lệ.Vui lòng nhập theo định dạng dd/mm/yyyy", "red");
                    return;
                }
                else if (isDate(fromdate) == 1) {
                    smas.alertColor("Từ ngày không tồn tại.Vui lòng nhập theo định dạng dd/mm/yyyy", "red");
                    return;
                }
            }
            var todate = $('#CreateDeclarePackage #ToDate').val();
            if (todate == '') {
                smas.alertColor("Chưa nhập đến ngày", "red");
                return;
            }
            else {
                if (isDate(todate) == 0) {
                    smas.alertColor("Đến ngày không hợp lệ.Vui lòng nhập theo định dạng dd/mm/yyyy", "red");
                    return;
                }
                else if (isDate(todate) == 1) {
                    smas.alertColor("Đến ngày không tồn tại.Vui lòng nhập theo định dạng dd/mm/yyyy", "red");
                    return;
                }
            }

            var fromD = $('#CreateDeclarePackage #FromDate').val().toString();
            var toD = $('#CreateDeclarePackage #ToDate').val().toString();
            var d = new Date();
            var nDate = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
            var fDate = parseDate(fromD).getTime();
            var tDate = parseDate(toD).getTime();
            var nowDate = parseDate(nDate).getTime();
            if (fDate > tDate) {
                smas.alertColor("Giá trị từ ngày phải nhỏ hơn hoặc bằng đến ngày", "red");
                return;
            }

            if (tDate < nowDate) {
                smas.alertColor("Giá trị đến ngày phải lớn hơn hoặc bằng ngày hiện tại", "red");
                return;
            }

            // Thoi gian hieu luc
            var effectiveDay = parseInt($('#CreateDeclarePackage #EffectiveDay').val());
            if (effectiveDay == '0') {
                smas.alertColor("Thời gian hiệu lực không hợp lệ", "red");
                return;
            }
        }

        var appliedType = 2;
        if($("#SchoolApplied").is(":checked")){
            appliedType = 1;
        }
        $("#frmCreate #ApplyType").val(appliedType);

        if (appliedType == 2) {
            var arrProvinceChecked = '';
            $("#GridSchoolProvince  .ProvinceCheckbox:checked").each(function () {
                arrProvinceChecked = arrProvinceChecked + $(this).val() + ",";
            });

            $("#frmCreate #ListProvinceApply").val(arrProvinceChecked);
        }
        else {
            var arrSchoolChecked = '';
            var arrSchoolNotChecked = '';
            $("#GridSchool").find(".checkItem").each(function () {
                if ($(this).is(":checked")) {
                    arrSchoolChecked = arrSchoolChecked + $(this).val() + ',';
                } else {
                    arrSchoolNotChecked = arrSchoolNotChecked + $(this).val() + ',';
                }
            });

            $("#frmCreate #ListSchoolApply").val(arrSchoolChecked);
            $("#frmCreate #ListSchoolNotApply").val(arrSchoolNotChecked);
            $("#frmCreate #CheckAllSchool").val($("#SchoolInfo #chkAllUnit").is(":checked"));

            var provinceID = $("#ProvinceID").val();
            var districtID = $("#DistrictID").val();
            var schoolName = $("#SchoolName").val();
            var userName = $("#UserName").val();
            var status = $("#Status").val();

            $("#frmCreate #hProvinceID").val(provinceID);
            $("#frmCreate #hDistrictID").val(districtID);
            $("#frmCreate #hSchoolName").val(schoolName);
            $("#frmCreate #hUserName").val(userName);
            $("#frmCreate #hStatus").val(status);
        }

        $("#frmCreate input[type='submit']").click();
    }

    function EditPackage() {
        var ServiceCode = $('#CreateDeclarePackage #CboPackage').val();
        $.ajax({
            url: '@Url.Action("GetPackageDetail", "DeclarePackage")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            data: { ServiceCodeUpdate: ServiceCode },
            success: function (msg) {
                $("#editDialogPackage .t-window-content").html(msg);
                smas.openDialog('editDialogPackage', "", {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }

    function SelectIndefinitely(checkBox) {
        var check = $(checkBox).attr("checked");
        if (check == "checked") {
            $("#InsertOrUpdateTreatment").find("#checkI").attr("disabled", "disabled");
            $("#InsertOrUpdateTreatment").find("#checkII").attr("disabled", "disabled");
            $('#CreateDeclarePackage #FromDate').attr("disabled", "disabled");
            $('#CreateDeclarePackage #ToDate').attr("disabled", "disabled");
            //$('#CreateDeclarePackage #EffectiveDay').attr("disabled", "disabled");
        }
        else {
            $("#InsertOrUpdateTreatment").find("#checkI").removeAttr("disabled");
            $("#InsertOrUpdateTreatment").find("#checkII").removeAttr("disabled");
            $('#CreateDeclarePackage #FromDate').removeAttr("disabled");
            $('#CreateDeclarePackage #ToDate').removeAttr("disabled");
            //$('#CreateDeclarePackage #EffectiveDay').removeAttr("disabled");
        }
    }

    //kiem tra thoi gian hieu luc la so nguyen
    jQuery(function () {
        jQuery("input.number").keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 ||
                (event.keyCode == 65 && event.ctrlKey === true) ||
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            }
            else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    })

    function GetInfoPackage() {
        var serviceCode = $('#CreateDeclarePackage #CboPackage').val();
        var year = @(servicepackageObj.Year.HasValue?servicepackageObj.Year.Value:DateTime.Now.Year);
        $.ajax({
            url: urlGetInfoPackageEdit,
            data: { ServiceCode: serviceCode, Year:year },
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            traditional: true,
            success: function (msg) {
               
                $('#CreateDeclarePackage #checkI').removeAttr("checked");
                $('#CreateDeclarePackage #checkII').removeAttr("checked");

                if (msg.data.Semester == '1') {
                    $('#CreateDeclarePackage #checkI').attr('checked', 'checked');
                }

                if (msg.data.Semester == '2') {
                    $('#CreateDeclarePackage #checkII').attr('checked', 'checked');
                }

                if (msg.data.Semester == '3') {
                    $('#CreateDeclarePackage #checkI').attr('checked', 'checked');
                    $('#CreateDeclarePackage #checkII').attr('checked', 'checked');
                }

                if (msg.data.IsForOnlyInternal) {
                    $('#CreateDeclarePackage #IsForOnlyInternal').attr('checked', 'checked');
                } else {
                    $('#CreateDeclarePackage #IsForOnlyInternal').removeAttr("checked");
                }

                if (msg.data.IsForOnlyExternal) {
                    $('#CreateDeclarePackage #IsForOnlyExternal').attr('checked', 'checked');
                } else {
                    $('#CreateDeclarePackage #IsForOnlyExternal').removeAttr("checked");
                }

                if (msg.data.IsExtraPackage) {
                    $('#CreateDeclarePackage #IsExtraPackage').attr('checked', 'checked');
                } else {
                    $('#CreateDeclarePackage #IsExtraPackage').removeAttr("checked");
                }

                if (msg.data.IsWholeYearPackage) {
                    $('#CreateDeclarePackage #IsWholeYearPackage').attr('checked', 'checked');
                } else {
                    $('#CreateDeclarePackage #IsWholeYearPackage').removeAttr("checked");
                }

                $('#CreateDeclarePackage #EffectiveDay').val(msg.data.EffectiveDays);

                if (msg.data.ApplyType == 1) {
                    $("#numAppliedInfo").text("Đơn vị áp dụng: " + msg.num + " trường")
                    $("#SchoolApplied").attr("checked", "checked");
                    LoadAppliedUnit(1);
                }
                else {
                    $("#numAppliedInfo").text("Đơn vị áp dụng: " + msg.num + " tỉnh")
                    $("#ProvinceApplied").attr("checked", "checked");
                    LoadAppliedUnit(2);
                }
             
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
       
    }

    function checkChildCreate(ckbcChild) {
        var numberCheckboxItem = $('.CheckItemCreate').length;
        var countcheckItem = 0;

        $('.CheckItemCreate').each(function () {
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                countcheckItem++;
            }
        });

        if (countcheckItem == numberCheckboxItem) {
            $("#CheckAllCreate").attr("checked", "checked");
        }
        else {
            $("#CheckAllCreate").removeAttr("checked");
        }
    }

    function checkAllCreate(ckbAll) {
        var checked = $("#CheckAllCreate").is(':checked');

        if (checked) {
            $('.CheckItemCreate').attr("checked", "checked");
        } else {
            $('.CheckItemCreate').removeAttr("checked");
        }
    }

    /////// VIEW SCHOOL SCHOOL SCREEN   ///////////////
    function viewSchoolApply() {
        // Get ServicePackageID
        var serviceCode = $('#CreateDeclarePackage #CboPackage').val();
        if (serviceCode == '') {
            smas.alert({ Message: "Chưa chọn gói cước", Type: "error" });
        }
        else {
            smas.openDialog("SchoolApplyDialog", urlViewSchoolApplyScreen, { ServiceCode: serviceCode });
            // Bind to close popup (close in Frame)
            $('#SchoolApplyDialog div.t-header a.t-link').unbind('click').click(function () {
                closeApplyScreen();
            });
        }
    }

    /////// END VIEW SCHOOL SCHOOL SCREEN

    function OnApplyTypeChange(sl) {
      
        var type = $(sl).val();
        var serviceCode = $('#CreateDeclarePackage #CboPackage').val();
        if (type == 1) {
            $("#CreateDeclarePackage #ListSchoolApplied").show();
            $("#CreateDeclarePackage #ListProvinceApplied").hide();
        }
        else {
            $("#CreateDeclarePackage #ListSchoolApplied").hide();
            $("#CreateDeclarePackage #ListProvinceApplied").show();

            $.ajax({
                url: '@Url.Action("GetProvinceList")',
                data: { ServiceCode: serviceCode },
                type: 'post',
                xhrFields: {
                    withCredentials: true
                },
                traditional: true,
                success: function (data) {

                    $('#CreateDeclarePackage #ListProvinceApplied').html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
       
    }

    function LoadAppliedUnit(type) {
        if (type == 2) {
            var serviceCode = $('#CreateDeclarePackage #CboPackage').val();
            ajaxPostUpdateDiv('@Url.Action("GetProvinceList")', { ServiceCode: serviceCode }, "AppliedConent", null);
        }
        else {
            var serviceCode = $('#CreateDeclarePackage #CboPackage').val();

            ajaxPostUpdateDiv(urlViewSchoolApplyScreen, { ServiceCode: serviceCode }, "AppliedConent", null);
        }
    }

    function ajaxPostUpdateDiv(url, data, divID, callBack) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (data) {
                $("#" + divID).html(data);
                if (callBack != null && callBack != '') {
                    callBack();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (data.type == '@JsonMessage.ERROR') {
                    smas.alertColor(XMLHttpRequest.responseText, 'red');
                } else {
                    smas.alert(XMLHttpRequest.responseText);

                }

                if (failCallBack != null) {
                    failCallBack(XMLHttpRequest.responseText);
                }
            }
        });
    };

    function EditPackageUpdate() {
        var ServiceCode = $('#CreateDeclarePackage #CboPackage').val();
        $.ajax({
            url: '@Url.Action("GetPackageDetail", "DeclarePackage")',
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            data: { ServiceCodeUpdate: ServiceCode },
            success: function (msg) {
                $("#editDialogPackage .t-window-content").html(msg);
                smas.openDialog('editDialogPackage', "", {});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
</script>
        