﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Constants;
@using SMAS.Business.BusinessObject;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@{
    decimal viettelPrice = 0;
    decimal otherPrice = 0;   
    ServicePackageBO objSerDetail = new ServicePackageBO();
    if (ViewData[DeclarePackageConstant.INFO_PACKAGE_DETAIL] != null)
    {
        objSerDetail = (ServicePackageBO)ViewData[DeclarePackageConstant.INFO_PACKAGE_DETAIL];
        if (objSerDetail.ViettelPrice != null)
        {
            viettelPrice = Math.Round(objSerDetail.ViettelPrice.Value);
        }
        if (objSerDetail.OtherPrice != null)
        {
            otherPrice = Math.Round(objSerDetail.OtherPrice.Value);
        }       
    }       
}

@using (Ajax.BeginForm("EditPackage",
                       "DeclarePackage",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccessPackage",
                           OnFailure = "EditFailPackage"
                       },
                       new { id = "frmPackageEdit" }
                       ))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="ServicePackageID" name="ServicePackageID" value='@objSerDetail.ServicePackageID' />
    <input type="hidden" id="ServicePackageDetailID" name="ServicePackageDetailID"  value='@objSerDetail.ServicePackageDetailID'/>
    <div id="EditServicePackage" class="vt-EditorPanel vt-EditorPanel-1">
        <div class="vt-EditorPanel-Control">
            <div class="vt-control ServicePackage">
                <div class="editor-label">
                    @Res.Get("Common_Label_PackageName")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">
                    <input type="text" name="ServicePackageCode" id="ServicePackageCode" maxlength="20" style="width:200px;" value='@objSerDetail.ServiceCode' />
                </div>
            </div>
            <div class="vt-control CountMessage">
                <div class="editor-label">
                    @Res.Get("Common_Label_NumberSMS")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">
                    <input type="text" name="CountMessage" id="CountMessage" maxlength="3" style="width:200px;" value='@objSerDetail.MaxSMS' class="numberPackageUp" />
                </div>
            </div>
            <div class="vt-control PriceIn">
                <div class="editor-label">
                    @Res.Get("Common_Label_PriceIn")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">                    
                    <input type="text" name="PriceIn" id="PriceIn" maxlength="6" style="width:90px;" value='@viettelPrice' class="numberPackageUp" />
                    <span>@Res.Get("Common_Label_Price")</span> 
                </div>
            </div>
            <div class="vt-control PriceOut">
                <div class="editor-label">
                    @Res.Get("Common_Label_PriceOut")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">
                    <input type="text" name="PriceOut" id="PriceOut" maxlength="6" style="width:90px;" value='@otherPrice' class="numberPackageUp" />
                    <span>@Res.Get("Common_Label_Price")</span>
                </div>
            </div>
            <div class="vt-control PricePHHS">
                <div class="editor-label">
                    @Res.Get("Common_Label_PricePHHS")
                    <span style="color: red;">*</span>
                </div>
                <div class="editor-field">
                    <input type="text" name="PricePHHS" id="PricePHHS" maxlength="6" style="width:90px;" value='@Math.Round(objSerDetail.PriceForCustomer)' class="numberPackageUp" />
                    <span>@Res.Get("Common_Label_Price")</span>
                </div>
            </div>

            @*<div class="vt-control">
                <div class="editor-label" style="width:39%">
                    <label style="margin-right:5px;">Gói cước miễn phí</label>
                </div>
                <div class="editor-field" style="width:5%">
                    <input type="checkbox" id="IsFreePackage" name="IsFreePackage" value="True" onchange="OnIsFreePackageChangeEdit(this)" @(objSerDetail.IsFreePackage == true?"checked":string.Empty)/>
                </div>
            </div>*@

            @*Tỉ lệ chia sẻ doanh thu*@
            <div class="vt-control InternalSharingRatio">
                <div class="editor-label">
                    TL chia sẻ DT nội mạng
                </div>
                <div class="editor-field">
                    <input type="text" name="InternalSharingRatio" id="InternalSharingRatio" maxlength="6" style="width:50px;"
                           value="@(objSerDetail.InternalSharingRatio.HasValue ? Math.Round(objSerDetail.InternalSharingRatio.Value * 100) : 0)"
                           class="numberPackageUp" />
                    <span>%</span>
                </div>
            </div>
            <div class="vt-control ExternalSharingRatio">
                <div class="editor-label">
                    TL chia sẻ DT ngoại mạng
                </div>
                <div class="editor-field">
                    <input type="text" name="ExternalSharingRatio" id="ExternalSharingRatio" maxlength="6" style="width:50px;"
                           value="@(objSerDetail.ExternalSharingRatio.HasValue ? Math.Round(objSerDetail.ExternalSharingRatio.Value * 100) : 0)"
                           class="numberPackageUp" />
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="vt-EditorPanel-Button" style="margin-top:15px; text-align:center;">
            <input class="btn btn-info btn-round btn-icon btn-icon-save" type="button" name="CommonSaveButton" value='@Res.Get("Common_Button_Save")' onclick="CheckValidateEdit()" />
            <input class="btn btn-basic btn-round" type="button" name="CommonCloseButton" value='@Res.Get("CloseRK")' onclick="CloseServicePackagePopupEdit()" />
            <input type="submit" style="display:none;" />
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        OnIsFreePackageChangeEdit($("#frmPackageEdit").find("#IsFreePackage")[0]);
    });
    function EditSuccessPackage(msg) {
        var ServiceCode = $('#EditServicePackage #ServicePackageCode').val();
        smas.alert(msg);
        if (msg.Type == "success") {
            formUtils.resetForm("frmPackageEdit");
            smas.closeDialog('editDialogPackage');
            /// Load lai ComboBox
            AjaxLoadServicePackage(ServiceCode, "InsertOrUpdateDeclare");
            search();
        }
    }

    function EditFailPackage(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function CloseServicePackagePopupEdit() {
        smas.closeDialog('editDialogPackage');
    }

    function CheckValidateEdit() {
        var checkErr = true;
        var ServicePackageCode = $('#EditServicePackage #ServicePackageCode').val();
        var CountMessage = $('#EditServicePackage #CountMessage').val();
        var PriceIn = $('#EditServicePackage #PriceIn').val();
        var PriceOut = $('#EditServicePackage #PriceOut').val();
        var PricePHHS = $('#EditServicePackage #PricePHHS').val();

        var CountMessageInt = parseInt($('#EditServicePackage #CountMessage').val());
        var PriceInInt = parseInt($('#EditServicePackage #PriceIn').val());
        var PriceOutInt = parseInt($('#EditServicePackage #PriceOut').val());
        var PricePHHSInt = parseInt($('#EditServicePackage #PricePHHS').val());

        //kiem tra rong
        if (ServicePackageCode == "")
        {
            smas.alert("Tên gói cước không được để trống");
            checkErr = false;
        }
        else
        {
            if (CountMessage == "") {
                smas.alert("Số lượng SMS/HK không được để trống");
                checkErr = false;
            }
            else
            {
                if (PriceIn == "") {
                    smas.alert("Đơn giá nội mạng không được để trống");
                    checkErr = false;
                }
                else {
                    if (PriceOut == "") {
                        smas.alert("Đơn giá ngoại mạng không được để trống");
                        checkErr = false;
                    }
                    else
                    {
                        if (PricePHHS == "") {
                            smas.alert("Giá bán cho PHHS không được để trống");
                            checkErr = false;
                        }
                        else
                        {
                            if (isNaN(CountMessageInt) || isNaN(PriceInInt) || isNaN(PriceOutInt) || isNaN(PricePHHSInt)) {
                                smas.alert("Dữ liệu không hợp lệ, vui lòng kiểm tra lại");
                                checkErr = false;
                            }
                        }
                    }
                }
            }
        }

        if (checkErr) {
            $("#frmPackageEdit input[type='submit']").click();
        }

    }

    $("#EditServicePackage #ServicePackageCode").blur(function () {
        var servicecode = $("#EditServicePackage #ServicePackageCode").val();
        servicecode = servicecode.trim();
        $("#EditServicePackage #ServicePackageCode").val(servicecode);
    });
    $("#EditServicePackage #CountMessage").blur(function () {
        var CountMessage = $("#EditServicePackage #CountMessage").val();
        CountMessage = CountMessage.trim();
        $("#EditServicePackage #CountMessage").val(CountMessage);
    });
    $("#EditServicePackage #PriceIn").blur(function () {
        var PriceIn = $("#EditServicePackage #PriceIn").val();
        PriceIn = PriceIn.trim();
        $("#EditServicePackage #PriceIn").val(PriceIn);
    });
    $("#EditServicePackage #PriceOut").blur(function () {
        var PriceOut = $("#EditServicePackage #PriceOut").val();
        PriceOut = PriceOut.trim();
        $("#EditServicePackage #PriceOut").val(PriceOut);
    });
    $("#EditServicePackage #PricePHHS").blur(function () {
        var PricePHHS = $("#EditServicePackage #PricePHHS").val();
        PricePHHS = PricePHHS.trim();
        $("#EditServicePackage #PricePHHS").val(PricePHHS);
    });
    
    function OnIsFreePackageChangeEdit(cb) {
        if ($(cb).is(":checked")) {
          
            $("#frmPackageEdit").find("#PriceIn").attr("disabled", "disabled");
            $("#frmPackageEdit").find("#PriceOut").attr("disabled", "disabled");
            $("#frmPackageEdit").find("#PricePHHS").attr("disabled", "disabled");
            $("#frmPackageEdit").find("#InternalSharingRatio").attr("disabled", "disabled");
            $("#frmPackageEdit").find("#ExternalSharingRatio").attr("disabled", "disabled");
            
        }
        else {
            $("#frmPackageEdit").find("#PriceIn").removeAttr("disabled");
            $("#frmPackageEdit").find("#PriceOut").removeAttr("disabled");
            $("#frmPackageEdit").find("#PricePHHS").removeAttr("disabled", "disabled");
            $("#frmPackageEdit").find("#InternalSharingRatio").removeAttr("disabled");
            $("#frmPackageEdit").find("#ExternalSharingRatio").removeAttr("disabled");
            
        }
    }

    jQuery(function () {
        jQuery("input.numberPackageUp").keydown(function (event) {
            // Allow: backspace, delete, tab and escape
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress, allow dot (.)
                if (event.shiftKey || (event.keyCode != 190 && event.keyCode != 110 && (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105))) {
                    event.preventDefault();
                }
            }
        });
    })
</script>

<style type="text/css">
    #EditServicePackage .ServicePackage {
        margin-top: 15px;
    }

    #EditServicePackage .vt-control {
        width: 99%;
    }

        #EditServicePackage .vt-control .editor-label {
            width: 40%;
            text-align: left;
        }

        #EditServicePackage .vt-control .editor-field {
            width: 55%;
        }
</style>