﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using System.Web.Mvc.Ajax;
@using log4net;
@using Microsoft.Security.Application;
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Areas.SMSEduArea.Constants
@{
    int count = 0;
    List<ServicePackageBO> lstServicePackage = new List<ServicePackageBO>();
    if (ViewData[DeclarePackageConstant.LIST_SERVICE_PACKAGE] != null)
    {
        lstServicePackage = (List<ServicePackageBO>)ViewData[DeclarePackageConstant.LIST_SERVICE_PACKAGE];
        count = lstServicePackage.Count;
    }
    int index = 1;
}

<style type="text/css">
    .t-grid > table > tbody > tr > td > table > tbody > tr > td, .t-grid > table > thead > tr > th > table > tbody > tr > td {
        border-left: none !important; 
}
    .t-grid-header .t-header {
        padding: 5px;
    }


</style>

<div class="vt-ResultPanel-Title "  style="width: 100%; margin-left: 0px;">
    <!-- <div class="vt-ResultPanel-Title"> -->
        <!-- <div class="vt-ResultPanel-Title-Message" style="width:69%; float:left; text-align:left; margin-top:8px;"> -->
            <!-- @string.Format(Res.Get("Search_Result"), count) -->
        <!-- </div> -->
        <div class="text-right mg-t-10 mg-b-10">
            <input type="button" onclick="PrepareCreate();" class="btn btn-info btn-round btn-icon btn-icon-plus" name="BtnCreate" id="BtnCreate" value='@Res.Get("AddNew")' />
        </div>
    <!-- </div> -->
    @{
        Html.Telerik()
           .Grid(lstServicePackage)
           .Name("GridServicePackage")
           .HtmlAttributes(new { @class = "GeneralTable General1Table custom-table-border" })
           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title(Res.Get("Common_Column_Order")).HtmlAttributes(new { @class = "ColsTd1 AlignCCols", style = "text-align:center;" }).Width(40);

               c.Template(
                @<text>
                    @{
                        if (item.Year.HasValue)
                        {
                            <span>@(item.Year + " - " + (item.Year + 1))</span>
                        }
                    }
                </text>)
                       .ClientTemplate("<#= htmlYear(Year) #>")
                       .Title(Res.Get("ReportCodeOnline_Label_SchoolYearTitle"))
                       .HtmlAttributes(new { style = "text-align:center;vertical-align: middle;" }).Width(100);
               c.Bound(p => p.StrApplyType).Title("Loại").HtmlAttributes(new { @class = "", style = "text-align:center;vertical-align: middle;" }).Width(120);
               c.Bound(p => p.ServiceCode).Title(Res.Get("Label_Package")).HtmlAttributes(new { @class = "", style = "text-align:center;vertical-align: middle;" }).Width(160);
               c.Bound(p => p.EffectiveDays).Title(Res.Get("Label_EffectiveDays")).HtmlAttributes(new { @class = "", style = "text-align:center;vertical-align: middle;" }).Width(100);
               c.Template(@<text>
                @{
                    <table border="0" style="height: 35px;">
                        <tr>
                            @if (item.FromDate.ToString() != string.Empty && item.FromDate != null && item.ToDate.ToString() != string.Empty && item.ToDate != null)
                            {
                                <td style="border-bottom:none;vertical-align: middle;">@(item.FromDate.Value.ToString("dd/MM/yyyy"))</td>
                                <td style="border-bottom:none;vertical-align: middle;">@(item.ToDate.Value.ToString("dd/MM/yyyy"))</td>
                            }
                            else
                            {
                                <td style="border-bottom:none"></td>
                                <td style="border-bottom:none"></td>
                            }
                        </tr>
                    </table>
                }
            </text>).HtmlAttributes(new { @class = ""}).HeaderTemplate(@<text>
        <table border="0">
            <tr>
                <th colspan="2" scope="col" class="t-header">@Res.Get("Common_Label_TimeApply")</th>
            </tr>
            <tr>
                <th scope="col" class="t-header">@Res.Get("Message_Label_FromDate")</th>
                <th scope="col" class="t-header">@Res.Get("Message_Label_ToDate")</th>
            </tr>
        </table>
            </text>).HtmlAttributes(new { @class = "" }).ClientTemplate("<#= htmlApplyTime(FromDate, ToDate) #>").Width(200);

               c.Template(@<text>
                @{
                    <table border="0" style="height: 35px;">
                        <tr>
                            @if (item.Semester == DeclarePackageConstant.SEMESTER_I)
                            {
                                <td style="border-bottom:none;vertical-align: middle;">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkI_" + item.ServiceCode)' class="ChkHKI" name='@("chkI_" + item.ServiceCode)' checked="checked" disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td style="border-bottom:none;vertical-align: middle;">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkII_" + item.ServiceCode)' class="ChkHKII" name='@("chkII_" + item.ServiceCode)' disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>                                   
                                </td>
                            }

                            @if (item.Semester == DeclarePackageConstant.SEMESTER_II)
                            {
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkI_" + item.ServiceCode)' class="ChkHKI" name='@("chkI_" + item.ServiceCode)' disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>                                   
                                </td>
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkII_" + item.ServiceCode)' class="ChkHKII" name='@("chkII_" + item.ServiceCode)' checked="checked" disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>  
                                </td>
                            }

                            @if (item.Semester == DeclarePackageConstant.SEMESTER_ALL)
                            {
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkI_" + item.ServiceCode)' class="ChkHKI" name='@("chkI_" + item.ServiceCode)' checked="checked" disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>                                  
                                </td>
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkII_" + item.ServiceCode)' class="ChkHKII" name='@("chkII_" + item.ServiceCode)' checked="checked" disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label> 
                                </td>
                            }

                            @if (item.Semester == null)
                            {
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkI_" + item.ServiceCode)' class="ChkHKI" name='@("chkI_" + item.ServiceCode)' disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td style="border-bottom:none">
                                    <label class="custom-checkbox p-r-0 p-l-15">
                                        <input type="checkbox" id='@("chkII_" + item.ServiceCode)' class="ChkHKII" name='@("chkII_" + item.ServiceCode)' disabled="disabled" />
                                        <span class="checkmark"></span>
                                    </label> 
                                </td>
                            }

                        </tr>
                    </table>
                }
            </text>).HtmlAttributes(new { @class = "" }).HeaderTemplate(@<text>
        <table border="0" >
            <tr>
                <th colspan="2" scope="col" class="t-header">@Res.Get("Common_Label_SemesterApply")</th>
            </tr>
            <tr>
                <th scope="col" class="t-header">@Res.Get("HKI")</th>
                <th scope="col" class="t-header">@Res.Get("HKII")</th>
            </tr>
        </table>
            </text>).ClientTemplate("<#= htmlApplySemester(Semester, ServiceCode) #>").Width(150);

               c.Command(cmd =>
               {
                   cmd.Custom("vtEdit")
                      .Text(Res.Get("Common_Column_Edit"))
                      .Ajax(true)
                      .Action("GetEdit", "DeclarePackage")
                      .ButtonType(GridButtonType.Image)
                      .ImageHtmlAttributes(new { @class = "t-icon t-edit" });
               }).Title(Res.Get("Common_Column_Edit")).HtmlAttributes(new { @class = "" }).Width(70).Visible(true);


               c.Command(cmd =>
               {
                   cmd.Custom("vtDelete")
                      .Text(Res.Get("Common_Column_Delete"))
                      .Ajax(true)
                      .Action("Delete", "DeclarePackage")
                      .ButtonType(GridButtonType.Image)
                      .ImageHtmlAttributes(new { @class = "t-icon t-delete" });
               }).Title(Res.Get("Common_Column_Delete")).HtmlAttributes(new { @class = "" }).Width(70).Visible(true);

           })
           .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client).Select("Search", "DeclarePackage"))
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .ClientEvents(e => e.OnDataBinding("Grid_onDataBinding").OnCommand("Grid_onCommand"))
            .DataKeys(keys => keys.Add(o => o.ServicePackageID))
            .Pageable(p => p.PageSize(10)).Resizable(o => o.Columns(false))
            .Scrollable(c => c.Enabled(true).Height("auto"))
            .Selectable()
            .Render();
    }
</div>

<script type="text/javascript">
    var lstInd = 0;

    function Grid_onDataBinding(e) {
        var grid = $('#GridServicePackage').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearch");
    }

    function loadWaiting() {
        smas.showProcessingDialog();
    }

    function PrepareCreate() {
        var year = $('#SearchPanel #CboAcademicYear').val();
        $('#InsertOrUpdateTreatment #CboAcademicYear').val(year);
        $("#editDialog .t-window-content").empty();
        smas.openDialog('createDialog', "@Url.Action("GetCreate")", {year:year});
    }

    function Grid_onCommand(e) {
        if (e.name == "vtEdit") {
            e.preventDefault();
            var data = e.dataItem;
            smas.openDialog("editDialog", '@Url.Action("GetEdit")', { ServicePackageID: data.ServicePackageID, ServicePackageDeclareDetailID: data.ServicePackageDeclareDetailID });
        }
        var token = $('[name=__RequestVerificationToken]').val();
        if (e.name == "vtDelete") {
            e.preventDefault();
            var item = e.dataItem;
            $("#ConfirmAlertDialog #OK").unbind("click").click(function () {
                smas.closeDialog("ConfirmAlertDialog");
                $.ajax({
                    url: '@Url.Action("Delete", "DeclarePackage")',
                    type: 'post',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: { ServicePackageID: item.ServicePackageID, ServicePackageDeclareDetailID: item.ServicePackageDeclareDetailID, __RequestVerificationToken: token },
                    beforeSend: function () {
                        smas.showProcessingDialog();
                    },
                    complete: function () {
                        smas.hideProcessingDialog();
                    },
                    success: function (data) {
                        smas.alert(data);
                        search();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        smas.alert(XMLHttpRequest.responseText);
                    }
                })
            });
            smas.openDialog("ConfirmAlertDialog", "", {});
        }
    }

    function htmlApplyTime(FromDate, ToDate) {
        var html = '';
        if (FromDate != null && ToDate != null) {
            html = '<table border="0" style="height: 35px;"><tr><td style="border-bottom:none">' + dateUtils.convertDate(FromDate) + '</td><td style="border-bottom:none">' + dateUtils.convertDate(ToDate) + '</td></tr></table>';
            return html;
        }
    }

    function htmlApplySemester(Semester, ServiceCode) {
        var html = '';
        if (Semester == 1) {
            html = '<table border="0" style="height: 35px;"><tr><td style="border-bottom:none"><input type="checkbox" id="chkI_' + ServiceCode + '"  class="ChkHKI" name="chkI_' + ServiceCode + '" checked="checked" disabled="disabled" /></td><td style="border-bottom:none"><input type="checkbox" id="chkII_' + ServiceCode + '"  class="ChkHKII" name="chkII_' + ServiceCode + '" disabled="disabled" /></td></tr></table>';
        }
        if (Semester == 2) {
            html = '<table border="0" style="height: 35px;"><tr><td style="border-bottom:none"><input type="checkbox" id="chkI_' + ServiceCode + '" class="ChkHKI" name="chkI_' + ServiceCode + '" disabled="disabled" /></td><td style="border-bottom:none"><input type="checkbox" id="chkII_' + ServiceCode + '" class="ChkHKII" name="chkII_' + ServiceCode + '" checked="checked" disabled="disabled" /></td></tr></table>';
        }
        if (Semester == 3) {
            html = '<table border="0" style="height: 35px;"><tr><td style="border-bottom:none"><input type="checkbox" id="chkI_' + ServiceCode + '" class="ChkHKI" name="chkI_' + ServiceCode + '" checked="checked" disabled="disabled" /></td><td style="border-bottom:none"><input type="checkbox" id="chkII_' + ServiceCode + '" class="ChkHKII" name="chkII_' + ServiceCode + '" checked="checked" disabled="disabled" /></td></tr></table>';
        }
        if (Semester == null) {
            html = '<table border="0" style="height: 35px;"><tr><td style="border-bottom:none"><input type="checkbox" id="chkI_' + ServiceCode + '" class="ChkHKI" name="chkI_' + ServiceCode + '" disabled="disabled" /></td><td style="border-bottom:none"><input type="checkbox" id="chkII_' + ServiceCode + '" class="ChkHKII" name="chkII_' + ServiceCode + '" disabled="disabled" /></td></tr></table>';
        }
        return html;
    }

    function htmlYear(Year) {
        var html = '';
        if (Year != null) {
            html = '<span>' + Year + " - " + (Year + 1) + '</span>';
        }
        return html;
    }
</script>