﻿@using Telerik.Web.Mvc.UI
@using System.Collections
@using System.Web.Mvc.Ajax;
@using log4net;
@using Microsoft.Security.Application;
@using SMAS.Web.Areas.SMSEduArea.Models
@using SMAS.Web.Areas.SMSEduArea.Constants

@{
    List<SchoolApplyModel> lstSchools = new List<SchoolApplyModel>();
    if (ViewData[DeclarePackageConstant.LIST_SCHOOL] != null)
    {
        lstSchools = ((List<SchoolApplyModel>)ViewData[DeclarePackageConstant.LIST_SCHOOL]);
    }
    int page = 1;
    if (ViewData[DeclarePackageConstant.Page] != null)
    {
        page = (int)ViewData[DeclarePackageConstant.Page];
    }
    int Total = 0;
    if (ViewData[DeclarePackageConstant.Total] != null)
    {
        Total = (int)ViewData[DeclarePackageConstant.Total];
    }
    int index = 1;
}

<div class="vt-ResultPanelEdit" style="width: 98%; margin-left: 8px;">
    <div class="vt-ResultPanel-TitleEdit">
        <div class="vt-ResultPanel-Title-MessageEdit">
            <!-- Tìm thấy @Total kết quả. -->
        </div>
        <div class="Clear">
        </div>
    </div>
    @{
        Html.Telerik()
           .Grid<SchoolApplyModel>(lstSchools)
           .Name("GridSchool")
           .HtmlAttributes(new { @class = "GeneralTable General1Table" })
           .Columns(c =>
           {
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").Title("STT").HtmlAttributes(new { @class = "ColsTd1 AlignCCols", style = "text-align:center;word-wrap: break-word;" }).Width(40);
               c.Bound(p => p.UserName).Title("Tên tài khoản").Width(70).HtmlAttributes(new { style = "word-wrap: break-word;text-align:left;" });
               c.Bound(p => p.SchoolName).Title("Tên trường").Width(120).HtmlAttributes(new { style = "word-wrap: break-word;text-align:left;" });
               c.Bound(p => p.ProvinceName).Title("Tỉnh/TP").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;text-align:left;" }).Width(60);
               c.Bound(p => p.DistrictName).Title("Quận/Huyện").HtmlAttributes(new { style = "text-align:center;word-wrap: break-word;text-align:left;" }).Width(60);

               c.Template(@<text>@{<label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" class="chekbox checkItem" id="@item.SchoolID" name="@item.SchoolID" value="@item.SchoolID" @(item.IsApply?"checked":string.Empty) onchange="CheckChange()" style="margin-left:7px" /><span class="checkmark"></span></label>
            }</text>).HtmlAttributes(new { @style = "text-align:center" }).ClientTemplate("<#= fillCKApply(SchoolID, IsApply) #>")
                            .HeaderTemplate(@<text>
                
                <span class="t-link">Áp dụng</span>
                <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" id="ApplyAll" onchange="CheckAll(this)" />
                    <span class="checkmark"></span>
                </label>
                            </text>).HeaderHtmlAttributes(new { @style = "text-align:center" }).Width(50);

           })
            .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchSchoolAjax", "DeclarePackage"))
            .Selectable(p => p.Enabled(true))
            .DataKeys(p => p.Add("SchoolID"))
            //.Scrollable(p => p.Enabled(true).Height(350))
            .Pageable(p => p.Enabled(true).PageSize(DeclarePackageConstant.PAGE_SIZE).PageTo(page).Total(Total))
            .EnableCustomBinding(true)
            .ClientEvents(p => p.OnDataBinding("SchoolBinding").OnDataBound("SchoolClient").OnLoad("SchoolClient"))
             .Scrollable(p => p.Enabled(true).Height(120))
            .Render();

            <div style="padding-top: 15px;">
                <label class="custom-checkbox">
                    <input type="checkbox" id="chkAllUnit" onclick="ApplyAllUnit(this)" /> Áp dụng toàn bộ danh sách
                    <span class="checkmark"></span>
                </label>
               @* <div style="float: right; margin-right: 25px;">
                    <input type="submit" value="hidden" id="ApplySchool-submit" style="display: none;" />
                    <input type="button" class="t-button" name="btnSaveApply" id="btnSaveApply" value="Lưu" onclick="return SaveApplySchool(this)" />

                    <input type="button" class="t-button" name="btnCloseApplyScreen" id="btnCloseApplyScreen" value="Đóng" onclick="closeApplyScreen()" />
                </div>*@

            </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        CheckChange();
    });
    function fillCKApply(SchoolID, IsApply) {
        if (IsApply) {
            return '<label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" class="chekbox checkItem" id="' + SchoolID + '" name="' + SchoolID + '" value="' + SchoolID + '" checked="' + IsApply + '" onchange="CheckChange(this)"/><span class="checkmark"></span></label>';
        } else {
            return '<label class="custom-checkbox p-r-0 p-l-15"><input type="checkbox" class="chekbox checkItem" id="' + SchoolID + '" name="' + SchoolID + '" value="' + SchoolID + '" onchange="CheckChange(this)"/><span class="checkmark"></span></label> ';
        }
    }

    function ApplyAllUnit(item) {
        if ($(item).is(":checked")) {
            var checkAll = true;
            $("#GridSchool").find("input[type='checkbox']").each(function () {
                $(this).attr("checked", true);
            });
        }
    }

    function SaveApplySchool(btn) {
        var lstSchoolIDCheck = [];
        var lstSchoolIDUnCheck = [];
        var servicePackageID = $("#HfServicePackageID").val();
        var provinceID = $("#ProvinceID").val();
        var districtID = $("#DistrictID").val();
        var schoolName = $("#SchoolName").val();
        var userName = $("#UserName").val();
        var status = $("#Status").val();
        var isApplyAll = $("#chkAllUnit").is(":checked");
        if (isApplyAll) { // Áp dụng toàn bộ
            
        } else { // Áp dụng/Bỏ áp dụng theo trường
            $("#GridSchool").find("input[class='chekbox checkItem']").each(function () {
                if ($(this).is(":checked")) {
                    lstSchoolIDCheck.push($(this).val());
                } else {
                    lstSchoolIDUnCheck.push($(this).val());
                }
            });
        }
        var token = $('[name=__RequestVerificationToken]').val();
        if (servicePackageID == null || servicePackageID == '') servicePackageID = 0;
        // Lưu áp dụng
        $.ajax({
            url: urlApplySchool,
            data: {
                IsApplyAll: isApplyAll, ServicePackageID: servicePackageID, LstSchoolIDCheck: lstSchoolIDCheck, LstSchoolIDUnCheck: lstSchoolIDUnCheck,
                ProvinceID: provinceID, DistrictID: districtID, SchoolName: schoolName, UserName: userName, Status: status, __RequestVerificationToken: token
            },
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            traditional: true,
            success: function (msg) {
                if (msg.Type != "error") {
                    smas.alert({ Type: 'success', Message: msg.Message });
                    $('.numSchoolClass').html(msg.num);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                smas.alert(XMLHttpRequest.responseText);
            }
        });
    }
</script>