﻿@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using SMAS.Models.Models
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Web.Utils
@{
    List<Province> lstProvince = (List<Province>)ViewData[DeclarePackageConstant.LIST_PROVINCE];

    int servicePackageID = 0;
    if (ViewData[DeclarePackageConstant.SERVICE_PACKAGE_ID] != null)
    {
        servicePackageID = (int)ViewData[DeclarePackageConstant.SERVICE_PACKAGE_ID];
    }
}
<style type="text/css">
   #SchoolName ,#UserName{
       width: 100%;
       height: 32px;
       border-radius: 3px;
       padding: 0 10px 0 10px;
   }

</style>
<div>
    @using (Ajax.BeginForm("_GridSchool",
                           "DeclarePackage",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "GridSchool",
                               OnBegin = "smas.showProcessingDialog()",
                               OnComplete = "smas.hideProcessingDialog()",
                               OnSuccess = "loadSchool(data)",
                               OnFailure = "failureRequest"
                           },
                           new { id = "frmSearchSchool" }))
    {
        @Html.AntiForgeryToken()
        <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-3">
            <div class="vt-SearchPanel-Content">
                @Html.Hidden("HfServicePackageID", servicePackageID)
                <div class="row">
                    <div class="col-sm-6">
                        <div class="vt-control ">
                            <div class="editor-label">
                                <label for="ProvinceID">Tỉnh/TP</label>
                            </div>
                            <div class="editor-field">
                                <select name="ProvinceID" id="ProvinceID" onchange="AjaxLoadDistrict(this)">
                                    <option value="">[Tất cả]</option>
                                    @for (int i = 0; i < lstProvince.Count; i++)
                                    {
                                        <option value="@lstProvince[i].ProvinceID">@Sanitizer.GetSafeHtmlFragment(lstProvince[i].ProvinceName)</option>
                                }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="vt-control ">
                            <div class="editor-label">
                                <label for="DistrictID">Quận/Huyện</label>
                            </div>
                            <div class="editor-field">
                                <select name="DistrictID" id="DistrictID">
                                    <option value="">[Tất cả]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="vt-control ">
                            <div class="editor-label">
                                <label for="SchoolName">Tên trường</label>
                            </div>
                            <div class="editor-field">
                                <input name="SchoolName" id="SchoolName" maxlength="200" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="vt-control ">
                            <div class="editor-label">
                                <label for="UserName">Tên tài khoản</label>
                            </div>
                            <div class="editor-field">
                                <input name="UserName" id="UserName" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="vt-control ">
                            <div class="editor-label">
                                <label for="">Trạng thái</label>
                            </div>
                            <div class="editor-field">
                                <select id="Status" name="Status">
                                    <option selected="selected" value="0">[Tất cả]</option>
                                    <option value="1">Đang áp dụng</option>
                                    <option value="2">Chưa áp dụng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="vt-SearchPanel-Button">
                <input type="submit" class="btn btn-info btn-round btn-icon btn-icon-search" name="BtnSearchSchool" id="BtnSearchSchool" value='@Res.Get("Common_Search")' />
            </div>
        </div>
        
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BtnSearchSchool").click();
    });
    function AjaxLoadDistrict() {
        var provinceId = $("#ProvinceID").val();
        if (provinceId == "") {
            provinceId = 0;
            $("#DistrictID").attr("disabled", "disabled");
        } else {
            $("#DistrictID").removeAttr("disabled");
        }
        controlUtils.loadComboBox(
            $("#DistrictID"), '@Url.Action("AjaxLoadDistrict", "DeclarePackage")', { provinceId: provinceId }, 'Tất cả');
    }

    var lstInd = 0;
    function SchoolBinding(e) {
        smas.showProcessingDialog();
        var grid = $('#GridSchool').data('tGrid');
        lstInd = (grid.currentPage - 1) * grid.pageSize + 1;
        e.data = jsonUtils.serializeObject("frmSearchSchool");
    }
    function SchoolClient(e) {
        smas.hideProcessingDialog();
        CheckChange();
    }

    function loadSchool(data) {
        $('#lstSchool').html(data);
    }
</script>

