﻿@using Telerik.Web.Mvc.UI
@using Com.Viettel.Framework.HtmlHelpers
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTestArea
@{
    ViewBag.Title = Res.Get("Common_Label_ChooseExcel");
}
@using (Ajax.BeginForm("ImportExcel",
                       "ApprenticeshipTest",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnSuccess = "CreateImportSuccess",
                           OnFailure = "CreateImportFail"
                       },
                       new { id = "frmImportExcel" }
                       ))
{
        @Html.AntiForgeryToken()
    <div style="float: left; width: 100%">
        @Html.ViettelCombobox(Res.Get("ApprenticeshipTest_Label_Year"), "YearID", (SelectList)ViewData[ApprenticeshipTestConstants.LIST_ACADEMICYEAR], SMAS.Web.Constants.GlobalConstants.NO_PLACEHOLDER, null, false, true)
    </div>
    <div style="float: left; width: 70%">
        @Html.ViettelTextbox(Res.Get("PrimaryJudgeRecord_Label_ImportMarkFromExcel"), "txtFilePath", null, new Dictionary<string, object>() { { "style", "width: 230px" } }, false, false)
    </div>
    <div style="float: right; width: 30%;">
        @(Html.Telerik().Upload()
                .Name("attachments")
                .HtmlAttributes(new { @class = "btnUploaderCss" })
                .ShowFileList(false)
                .Multiple(false)
                .Async(async => async
                .Save("SaveFile", "ApprenticeshipTest")
                .AutoUpload(false))
                .ClientEvents(events => events
                    .OnSelect("OnSelectImport")
                    .OnUpload("OnImportUpload")
                    .OnSuccess("OnImportSuccess")
                    .OnError("OnImportError")))
    </div>
    <div style="text-align: center; padding-top: 7px; padding-left: 100px">
        @Html.ViettelButton(Res.Get("Common_Button_Import"), new Dictionary<string, object>() { { "disabled", "disabled" }, { "id", "btImport" } }, "button", "OnImportButtonClick()", "t-state-disabled")
    </div>
    @Html.ViettelButton(Res.Get("Common_Button_ExportExcel"), new Dictionary<string, object> { { "style", "display:none" } }, "submit", "", "btnSubmitImportExcel")  
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnUploaderCss").find('span:first').text('Chọn file').attr("style", "text-align:center");
    });

    var _intervalId;

    function OnSelectImport(e) {
        var files = e.files;
        $("#txtFilePath").val(files[0].name);
        _intervalId = setInterval("hideUploadButton();", 10);
    }

    function hideUploadButton() {
        // Try and find the upload button.
        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        // If the upload button was found...
        if (button.length > 0) {
            // Hide it.
            button.css({
                visibility: 'hidden',
                position: 'absolute'
            });

            // Terminate the interval.
            clearInterval(_intervalId);

            // Enable the OK button.
            $('#btImport').removeAttr('disabled');
            $('#btImport').removeClass('t-state-disabled');
        } else {
            $('#btImport').attr('disabled');
            $('#btImport').addClass('t-state-disabled');
        }
    }

    function OnImportUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if ((this.extension == ".xls") || (this.extension == ".xlsx")) {
                //check file size
                if (this.size > 0) {
                    var fileSize = Math.ceil(this.size / (1024));
                    if (fileSize < 1024) {
                        return true;
                    }
                    smas.alert("Dung lượng file excel không được lớn hơn 1MB")
                    e.preventDefault();
                    setTimeout('smas.hideProcessingDialog();', 200);
                    return false;
                }
            } else {
                smas.alert("File không đúng định dạng")
                $('#btImport').attr('disabled');
                $('#btImport').addClass('t-state-disabled');
                e.preventDefault();

                setTimeout('smas.hideProcessingDialog();', 200);
                return false;
            }
        });
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }

    function getFileSize(e) {
        return $.map(e.files, function (file) {
            if (file.size > 0) {
                var info = " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

    function OnImportButtonClick() {

        if ($("#frmImportExcel #YearID").val() <= 0) {
            smas.alert({ Message: "Thầy/Cô chưa chọn năm học", Type: "error" });
            e.preventDefault();
            return false;
        }

        var button = $('#attachments').closest('div.t-upload').find('button.t-upload-selected');

        if (button.length > 0) {
            button.click();
        }
        smas.showProcessingDialog();
    }

    function OnImportSuccess(e) {
        $(".btnSubmitImportExcel").click();
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }

    function CreateImportSuccess(data) {
        smas.hideProcessingDialog();
        setTimeout(function () {
            $(".d-disabled").removeClass("t-state-disabled");
            $(".d-disabled").removeAttr("disabled");
            $("#d-disabled").removeClass("t-state-disabled");
            $("#d-disabled").removeAttr("disabled");
        }, 200);
        if (data.success == 1) {
            setTimeout('smas.closeDialog("importDialog");', 500);
            search();
            smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
        }
        else
            if (data.success == 0) {
                setTimeout('smas.closeDialog("importDialog");', 500);

                formUtils.resetForm("SelectImport");
                smas.openDialog("SelectImport", "", {});
            }
            else {
                setTimeout(function () { $("#frmImportDataPass #TitleError").html(data.success); $(".d-disabled").addClass("t-state-disabled"); $(".d-disabled").attr("disabled", ""); $("#d-disabled").addClass("t-state-disabled"); $("#d-disabled").attr("disabled", ""); }, 200);
                setTimeout('smas.closeDialog("importDialog");', 500);

                formUtils.resetForm("SelectImport");
                smas.openDialog("SelectImport", "", {});
            }
    }

    function CreateImportFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }

    function OnImportError(e) {
        smas.hideProcessingDialog();
        smas.alert(e);
        formUtils.resetForm("importDialog");
        $('#btImport').attr('disabled');
        $('#btImport').addClass('t-state-disabled');
    }
</script>
<style type="text/css">  
    .btnUploaderCss span{padding-right:20px}.t-widget.t-upload.newclass .t-button.t-upload-selected<br>{display:none}.t-dropzone{padding-left:60px;padding-top:0}#frmImportExcel .editor-label{width:145px}#frmImportExcel select{width:350px}
</style>
