@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTestArea.Models
@using SMAS.Web.Areas.ApprenticeshipTestArea
@using SMAS.Business.Common
@{
    ViewBag.Title = Res.Get("ApprenticeshipTest_Label_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalInfo glo = new GlobalInfo();
    <script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    string disabled = "";
    string classButton = "";
    List<ApprenticeshipTestViewModel> list = (List<ApprenticeshipTestViewModel>)ViewData[ApprenticeshipTestConstants.LIST_APPRENTICESHIPTRAINING];
    int count = 0;
    if (list == null)
    {
        disabled = "disabled";
        classButton = "t-state-disabled";
    }
    else
    {
        count = list.Count;
        if (list.Count() == 0)
        {
            disabled = "disabled";
            classButton = "t-state-disabled";
        }
    }
    
}
<div id="SearchPanel">
    @Html.Partial("_Search")
</div>
@using (Ajax.BeginForm("Create",
                           "ApprenticeshipTest",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstApprenticeshipTraining",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog",
                               OnSuccess = "CreateSuccess",
                               OnFailure = "CreateFail"
                           },
                           new { id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    <div id="lstApprenticeshipTraining" class="vt-ResultPanel">
     
        @Html.Partial("_List")
    </div>
    <div id="divHidden">
        <input type="hidden" id="hidExcellent" value="@SystemParamsInFile.APPRENTICESHIP_TRAINING_REANKING_EXPERT" />
        <input type="hidden" id="hidGood" value="@SystemParamsInFile.APPRENTICESHIP_TRAINING_REANKING_GOOD" />
        <input type="hidden" id="hidNormal" value="@SystemParamsInFile.APPRENTICESHIP_TRAINING_REANKING_NORMAL" />
    </div>
   
}
@(Html.Telerik().Window()
                .Name("importDialog")
                .Title(Res.Get("MarkRecord_Label_ImportExcel"))
                .Content(@<text>@Html.Partial("ImportExcel")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(160)
                .Resizable(u => u.Enabled(true))
)
@(Html.Telerik().Window()
                .Name("SelectImport")
                .Title(Res.Get("MarkRecord_Label_SelectImport"))
                .Content(@<text>@Html.Partial("SelectImport")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(500)
                .Height(160)
)
@(Html.Telerik().Window()
                .Name("ViewData")
                    .Title(Res.Get("ApprenticeshipTest_Label_ViewImportErrorData"))
                .Content(@<text>@Html.Partial("ViewData")</text>)
                .Buttons(buttons => buttons.Close())
                .Draggable(true)
                .Visible(false)
                .Modal(true)
                .Width(1300)
                .Height(500)
)
<script type="text/javascript">

    $(document).ready(function () {
        setTimeout('$("#AcademicYearID").focus()', 500);

    });


    function validateForm() {
        var isChecked = false;
        var isValid = true;
        $(".chkRow").each(function () {
            if (this.checked) {
                isChecked = true;
                // Kiem tra luon du lieu cac truong tren grid
                var id = this.id;
                if (!validate("Theory_" + id)) {
                    isValid = false;
                }
                if (isValid && !validate("Action_" + id)) {
                    isValid = false;
                }
                if (isValid && !validate("Result_" + id)) {
                    isValid = false;
                }
                
                return isValid;
            }
        });
        if (!isValid) {
            return false;
        }
        if (!isChecked) {
            smas.alert({ Type: "error", Message: '@Res.Get("Common_Label_ErrorCheckRow")' });
            return false;
        }
        return true;
    }

    function validate(id) {
        ctr = $("#" + id);
        var val = $.trim(ctr.val());
        if (val == "") {
            smas.alert({ Type: "error", Message: '@Res.Get("ApprenticeshipTest_Label_ErrInfo")' });
            ctr.focus();
            return false;
        }
        return true;
    }

    function CreateSuccess(msg) {
        smas.alert(msg);
        search();
    }
    function CreateFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }


    function importReport() {
        formUtils.resetForm("importDialog");

        $("#frmImportExcel").find("#YearID").val('@glo.AcademicYearID');

        smas.openDialog("importDialog", "", {});
    }

    function exportReport() {
        var academicYearID = $("#frmSearch #AcademicYearID").val();
        var apprenticeshipClassID = $("#frmSearch #ClassID").val();
        var fullName = $("#frmSearch #FullName").val();
        var pupilCode = $("#frmSearch #PupilCode").val();

        var downloadUrl = '@Url.Action("ExportExcel", "ApprenticeshipTest")';
        downloadUrl += '?academicYearID=' + academicYearID;
        downloadUrl += '&apprenticeshipClassID=' + apprenticeshipClassID;
        downloadUrl += '&fullName=' + fullName;
        downloadUrl += '&pupilCode=' + pupilCode;
        window.open(downloadUrl);
    }

</script>
<style type="text/css">
    #lstApprenticeshipTraining .t-link{display:inline!important;padding:0!important;margin:0!important;text-align:center}
</style>
