﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ApprenticeshipTestArea.Models
@using SMAS.Web.Areas.ApprenticeshipTestArea
@using (Ajax.BeginForm("ImportDataPass",
                       "ApprenticeshipTest",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "ImportSuccess",
                           OnFailure = "ImportFail"
                       },
                       new { id = "frmViewData" }
                       ))
{
    @Html.AntiForgeryToken()  
    List<ApprenticeshipTestBO> paging = ViewData[ApprenticeshipTestConstants.LIST_APPRENTICESHIPTRAINING] != null
                                                    ? (List<ApprenticeshipTestBO>)ViewData[ApprenticeshipTestConstants.LIST_APPRENTICESHIPTRAINING]
                                                    : new List<ApprenticeshipTestBO>();
    var index = 1;
    Html.Telerik()
        .Grid(paging)
        .Name("GridApprenticeshipTrainingViewData")
        .Columns(c =>
        {
            c.Template(@<text>@(index++)</text>)
                .ClientTemplate("<#= lstIndViewData++ #>")
                .Title(Res.Get("Common_Column_Order"))
                .Width(20);
            c.Bound(o => o.PupilCode).Title(Res.Get("ApprenticeshipTest_Label_PupilCode")).Width(120);
            c.Bound(o => o.FullName).Title(Res.Get("ApprenticeshipTest_Label_FullName")).Width(150);
            c.Bound(o => o.Subject).Title(Res.Get("ApprenticeshipTest_Label_NPTSubject")).Width(120);
            c.Bound(o => o.TheoryMark).Title(Res.Get("ApprenticeshipTest_Label_LTMark")).Width(80);
            c.Bound(o => o.ActionMark).Title(Res.Get("ApprenticeshipTest_Label_THMark")).Width(80);
            c.Bound(o => o.Grade).Title(Res.Get("ApprenticeshipTest_Label_MarkResult")).Width(80);
            c.Bound(o => o.Grank).Title(Res.Get("ApprenticeshipTest_Label_Grade")).Width(80);
            c.Template(@<text>
    <input name="Check" disabled="disabled" type="checkbox" @(item.Pass ? Html.Raw("checked='checked'") : null) />
    </text>).ClientTemplate("<input name='Check' disabled='disabled' type='checkbox' <#= Pass ? 'checked=\"checked\"' : '' #> />").Title(Res.Get("Hợp lệ")).HtmlAttributes(new { style = "text-align: center" }).Width(40);
            c.Bound(o => o.Note).Title(Res.Get("ImportPupil_Label_ErrorMessage"));
        })
        .DataBinding(b => b.Ajax().OperationMode(GridOperationMode.Client))
        .ClientEvents(e => e.OnDataBinding("OnGridApprenticeshipTrainingViewDataBinding"))
        .DataKeys(keys => keys.Add(o => o.PupilID))
        .Pageable(o => o.Enabled(true))
        .Selectable()
        .Render();
           
    <div class="dialog-buttons">
        @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "")
        @Html.ViettelButton(Res.Get("Common_Button_Cancel"), "button", "OnCloseClickViewData()", "")
    </div>      

}
<script type="text/javascript">
    var lstIndViewData = 0;

    function OnGridApprenticeshipTrainingViewDataBinding(e) {
        var grid = $('#GridApprenticeshipTrainingViewData').data('tGrid')
        lstIndViewData = (grid.currentPage - 1) * grid.pageSize + 1;
    }

    function OnCloseClickViewData() {
        smas.closeDialog("ViewData");
    }
    function ImportSuccess(data) {
        smas.alert('@Res.Get("Common_Label_ImportSuccessMessage")');
        setTimeout('smas.closeDialog("ViewData");', 500);
        search();
    }
    function ImportFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }    

</script>
