@model SearchViewModel
@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.DisabledTypeArea.Models

@using (Ajax.BeginForm("Search",
                           "DisabledType",
                           new AjaxOptions
                           {
                               HttpMethod = "post",
                               UpdateTargetId = "lstDisabledType",
                               OnBegin = "smas.showProcessingDialog",
                               OnComplete = "smas.hideProcessingDialog"
                           },
                           new { id = "frmSearch" }))
{
    <div class="vt-SearchPanel vt-InfoPanel vt-InfoPanel-1">
        <div class="vt-SearchPanel-Title">
            <span class="icon icon-search-file"></span>
            @Res.Get("Common_Label_SearchingCriteria")
            <span id="btn-panel-collapse" class="icon icon-arrow-background icon-arrow-down"></span>
        </div>
        <div class="vt-SearchPanel-Content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @Html.ViettelEditorForModel()
                </div>
            </div>
        </div>
        <div class="vt-SearchPanel-Button">
            @Html.ViettelButton(Res.Get("Common_Button_Search"), "submit", "", "btn btn-info btn-icon btn-round btn-icon btn-icon-search")
        </div>
    </div>
}

<script type="text/javascript">
    function search() {
        $("#frmSearch input[type='submit']").click();
    }
</script>




