﻿@model List<ClassProfile>
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Models.Models
@{
  
    int schoolId = (int)ViewData[TransactionHistoryConstants.SCHOOL_ID];
    string schoolName = (string)ViewData[TransactionHistoryConstants.UNIT_NAME];
    string title = (string)ViewData[TransactionHistoryConstants.TITLE];
}
<style type="text/css">
   #GridRefund table td {
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    }
    #GridRefund table td input {
    box-shadow:none;
    border:none;
    }
</style>
<div style="text-align:right;padding-bottom:5px;">
    <span id="title" style="color:#d56900;font-weight:bold;">@title</span>
</div>

@using (Ajax.BeginForm("SaveSMSRefund",
                       "TransactionHistory",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveRefundSuccess",
                           OnFailure = "SaveRefundFail"
                       },
                       new { id = "frmRefund" }
                       ))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="schoolId" value="@schoolId" />
    <input type="hidden" name="schoolName" value="@schoolName" />
    int index = 1;
    int id0 = 0;
    int id1 = 0;
    int id2 = 0;
    int id3 = 0;
    string name;
    Html.Telerik()
           .Grid<ClassProfile>(Model)
           .Name("GridRefund")
           .HtmlAttributes(new { @class = "GeneralTable General1Table" })
           .Columns(c =>
           {
               //STT
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Title(Res.Get("Common_Column_Order")).Width(40);
               c.Template(@<text>
                    <span>@item.DisplayName</span>
                </text>).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Title("Lớp").Width(80);
               c.Template(@<text>
                    @{
                        name = "lstModel[" + id0 + "].Semester";
                        
                        <select name = "@name" style="width:99%;">
                            <option value="1">Học kỳ I</option>
                            <option value="2">Học kỳ II</option>
                            <option value="3">Cả năm</option>
                        </select>
                        
                        name = "lstModel[" + id0 + "].ClassID";
                        <input type="hidden" name="@name" value="@item.ClassProfileID" />
                        
                        name = "lstModel[" + id0 + "].ClassName";
                        <input type="hidden" name="@name" value="@item.DisplayName" />
                        
                        id0++;
                    }
                    
                </text>).Title(Res.Get("Học kỳ hoàn tin nhắn")).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Width(50);
               c.Template(@<text>
                @{
                    <span style="color:red">*</span>
                    name = "lstModel[" + id1 + "].SMSNum";
                    <input type="text" name="@name" class="txtInput CountSMS"  onkeypress="return AllowNumbersOnly(event)" maxlength="4"/>

                    id1++;
                }
                    
                </text>).Title(Res.Get("Số tin nhắn")).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Width(80);
               c.Template(@<text>
                @{
                    <span style="color:red">*</span>
                    name = "lstModel[" + id2 + "].Content";
                    <input type="text" name="@name" class="txtInput" maxlength="1000"/>

                    id2++;
                }

                </text>).Title(Res.Get("Lý do")).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Width(300);
               c.Template(@<text>
                @{
                    name = "lstModel[" + id3 + "].IsChecked";
                    <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" name="@name" onclick="checkOneChange()" value="True" class="checkitem"/>
                        <span class="checkmark"></span>
                        </label>

                    id3++;
                }
                    
                </text>).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).HeaderTemplate(@<text>
                    <label class="custom-checkbox p-r-0 p-l-15">                    
                    <input type="checkbox" id="chkAll" onclick="checkAllChange(this)"/>
                        <span class="checkmark"></span>
                        </label>
                </text>)
               .Title("Trạng thái").HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Width(50);
           })
           .Footer(false)
           .Render();


    if (Model != null && Model.Count > 0)
    {
        <div class="vt-ResultPanel-Footer-Right" style="padding-top:10px; text-align:right" >
            <input type="submit" class="btn btn-info btn-icon btn-round btn-icon-save" value="Lưu" />
        </div>
    }   
}
<script type="text/javascript">
    function checkOneChange()
    {
        var countAllchk = $('#GridRefund').find('.checkitem').length;
        var countChecked = $('#GridRefund').find('.checkitem:checked').length;
        if (countAllchk == countChecked) {
            $('#GridRefund #chkAll').attr('checked', 'checked');
        }
        else {
            $('#GridRefund #chkAll').removeAttr('checked', 'checked');
        }
    }
    function checkAllChange(item)
    {
        if ($(item).is(':checked')) {
            $('#GridRefund').find('.checkitem').attr('checked', 'checked');
        }
        else {
            $('#GridRefund').find('.checkitem').removeAttr('checked');
        }
    }
    $('.CountSMS').blur(function (e) {
        var text = $(this).val();
        var num = "0123456789";
        if (num.indexOf(text.charAt(0)) == -1) {
            $(this).val('');
        }
    });
    
</script>

