﻿@model List<TransferMoneyModel>
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
@{

    int senderEwalletID = (int)ViewData[TransactionHistoryConstants.SENDER_EW_ID];
    int receiverEwalletID = (int)ViewData[TransactionHistoryConstants.RECEIVER_EW_ID];
    int senderId = (int)ViewData[TransactionHistoryConstants.SENDER_ID];
    string senderName = (string)ViewData[TransactionHistoryConstants.SENDER_NAME];
    string receiverName = (string)ViewData[TransactionHistoryConstants.RECEIVER_NAME];
}
<style type="text/css">
   #GridRefund table td {
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    }
    #GridRefund table td input {
    box-shadow:none;
    border:none;
    }
</style>
@using (Ajax.BeginForm("SaveTransferMoney",
                       "TransactionHistory",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "SaveTransferSuccess",
                           OnFailure = "SaveTransferFail"
                       },
                       new { id = "frmTransfer" }
                       ))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@senderEwalletID" id="SenderEwalletID" name="SenderEwalletID" />
    <input type="hidden" id="ReceiverEwallerID" name="ReceiverEwallerID" />
    <input type="hidden" value="@senderId" id="SenderSchoolD" name="SenderSchoolD" />
    <input type="hidden" id="ReceiverName" name="ReceiverName"/>
    <input type="hidden" id="SenderName" value="@Html.Raw(senderName)" name="SenderName"/>
    <input type="hidden" id="TransferContent" name="TransferContent" />
    <label id="LblTotalMoney" style="padding-bottom:5px">Tổng số tiền chuyển: <span style='color:red; font-weight:bold'>0</span></label>
    int index = 1;
    int id0 = 0;
    string name;
    Html.Telerik()
           .Grid<TransferMoneyModel>(Model)
           .Name("GridTransfer")
           .HtmlAttributes(new { @class = "GeneralTable General1Table" })
           .Columns(c =>
           {
               //STT
               c.Template(@<text>@(index++)</text>).ClientTemplate("<#= lstInd++ #>").HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Title(Res.Get("Common_Column_Order")).Width(50);
               c.Bound(o => o.TransactionDate).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Title("Ngày giao dịch").Width(200);
               c.Bound(o => o.Content).Title("Nội dung giao dịch");
               c.Bound(o => o.Money).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Title("Số tiền").Width(250);
               c.Template(@<text>
                @{
                    name = "lstModel[" + id0 + "].IsChecked";
               <label class="custom-checkbox p-r-0 p-l-15">
                    <input type="checkbox" name="@name" onclick="checkOneChange()" value="True" class="checkitem" />
                    <span class="checkmark"></span>
                   </label>
                    name = "lstModel[" + id0 + "].EwalletTransactionID";
                    <input type="hidden" name="@name" value="@item.EwalletTransactionID" />
                    
                    name = "lstModel[" + id0 + "].Amount";
                    <input type="hidden" name="@name" value="@item.Amount" class="hidAmount"/>
                    
                    id0++;
                }

            </text>).HtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).HeaderTemplate(@<text>
               <label class="custom-checkbox p-r-0 p-l-15">
                 <input type="checkbox" id="chkAll" onclick="checkAllChange(this)" />
                   <span class="checkmark"></span>
                   </label>
            </text>)
               .Title("Trạng thái").HeaderHtmlAttributes(new Dictionary<string, object> { { "style", "text-align:center;" } }).Width(50);
           })
           .Footer(false)
           .Scrollable(p => p.Height(350))
           .Render();



    if (Model.Count > 0)
    { 
            <div class="vt-ResultPanel-Footer-Right" style="padding-top:10px; text-align:right">
                <input type="button" class="btn btn-info btn-round" value="Chuyển tiền" onclick="openTransferPopup('@senderName')"/>
                <input type="submit" class="btn btn-info btn-round" style="display:none" id="btnSubmit"/>
            </div>
    }

}
<script type="text/javascript">
    function checkOneChange() {
        var countAllchk = $('#GridTransfer').find('.checkitem').length;
        var countChecked = $('#GridTransfer').find('.checkitem:checked').length;
        if (countAllchk == countChecked) {
            $('#GridTransfer #chkAll').attr('checked', 'checked');
        }
        else {
            $('#GridTransfer #chkAll').removeAttr('checked', 'checked');
        }

        var totalAmount = 0;
        $("#GridTransfer").find(".checkitem:checked").each(function () {
            var amount = parseInt($(this).closest("tr").find(".hidAmount").val());
            totalAmount = totalAmount + amount;
        });

        var strAmount = smas.FormatMoney(totalAmount) + " VNĐ";

        $("#LblTotalMoney").html("Tổng số tiền chuyển: <span style='color:red; font-weight:bold'>" + strAmount + "</span>");
    };

    function checkAllChange(item) {
        if ($(item).is(':checked')) {
            $('#GridTransfer').find('.checkitem').attr('checked', 'checked');
        }
        else {
            $('#GridTransfer').find('.checkitem').removeAttr('checked');
        }

        var totalAmount = 0;
        $("#GridTransfer").find(".checkitem:checked").each(function () {
            var amount = parseInt($(this).closest("tr").find(".hidAmount").val());
            totalAmount = totalAmount + amount;
        });

        var strAmount = smas.FormatMoney(totalAmount) + " VNĐ";

        $("#LblTotalMoney").html("Tổng số tiền chuyển: <span style='color:red; font-weight:bold'>" + strAmount + "</span>");
    };

    function openTransferPopup(senderName) {
        if ($("#GridTransfer").find(".checkitem:checked").length == 0) {
            smas.alert({ Message: "Cần chọn giao dịch trước khi chuyển", Type: "error" });
            return;
        }
        var accountName = $('#ReceiverAccountName').val();
        if (accountName != '') {
            $.ajax({
                url: '@Url.Action("GetSchoolAccountInfo", "TransactionHistory")',
                type: 'post',
                xhrFields: {
                    withCredentials: true
                },
                data: { userName: accountName },
                beforeSend: function () {
                    smas.showProcessingDialog();
                },
                complete: function () {
                    smas.hideProcessingDialog();
                },
                success: function (data) {
                    $("#ReceiverWrapper #SchoolName").text(data.SchoolName);
                    $("#ReceiverWrapper #EwalletID").val(data.EwalletID);
                    $("#transferDialog #SenderSchoolName").html(senderName);
                    $("#transferDialog #ReceiverSchoolName").html(data.SchoolName);
                    var totalAmount = 0;
                    $("#GridTransfer").find(".checkitem:checked").each(function () {
                        var amount = parseInt($(this).closest("tr").find(".hidAmount").val());
                        totalAmount = totalAmount + amount;
                    });
                    $("#transferDialog #TransferMoney").text(smas.FormatMoney(totalAmount) + " VNĐ");
                    $("#transferDialog #Content").val('');
                    smas.openDialog("transferDialog", "", null);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    smas.alert(XMLHttpRequest.responseText);
                }
            });
        }
        else {
            smas.alertColor('Trường nhận không được để trống.', 'red');
        }
    }
</script>

