﻿@model List<TransferMoneyModel>
@using System.Collections;
@using System.Web.Mvc.Ajax;
@using Microsoft.Security.Application;
@using Telerik.Web.Mvc.UI;
@using SMAS.Web.Areas.SMSEduArea.Constants
@using SMAS.Business.BusinessObject
@using SMAS.Web.Utils
@using SMAS.Web.Constants
@using SMAS.Web.Areas.SMSEduArea.Models
<style>
    .InfoText {
        color:orange;
        font-weight:bold;
    }

    #transferDialog p {
        padding:10px 0px;
    }
</style>

<div style="padding:15px">
    <p>Chuyển tiền từ <span id="SenderSchoolName" class="InfoText"></span> sang <span id="ReceiverSchoolName" class="InfoText"></span></p>
    <p>Tổng số tiền: <span id="TransferMoney" class="InfoText"></span></p>
    <p>Lý do chuyển <span style="color:red">*</span>:</p>
    <div>
        <textarea id="Content" style="width:100%;height:70px" maxlength="1000"></textarea>
    </div>
    <div style="text-align:center;padding-top:10px" >
        <input type="button" value="Chuyển" onclick="onTransferClick()" class="t-button" />
        <input type="button" value="Đóng" onclick="smas.closeDialog('transferDialog')" class="t-button" />
    </div>
    
</div>
<script>
    function onTransferClick() {
        var content = $("#transferDialog #Content").val();
        var receiverName = $("#ReceiverWrapper").find("#SchoolName").text();
        var receiverEwId = $("#ReceiverWrapper").find("#EwalletID").val();
        if (content == '') {
            smas.alert({ Message: "Cần nhập lý do chuyển tiền.", Type: "error" });
            return;
        }

        $("#frmTransfer #TransferContent").val(content);
        $("#frmTransfer #ReceiverEwallerID").val(receiverEwId);
        $("#frmTransfer #ReceiverName").val(receiverName);

        $("#frmTransfer #btnSubmit").click();
    }
</script>