﻿@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassSupervisorAssignmentArea.Models
@using SMAS.Web.Areas.ClassSupervisorAssignmentArea
@using SMAS.Models.Models
@using SMAS.VTUtils.Utils
@model SearchViewModel
@{
    var count = 0;
    IEnumerable<ClassSupervisorAssignmentViewModel> lstClass = (IEnumerable<ClassSupervisorAssignmentViewModel>)ViewData[ClassSupervisorAssignmentConstants.LIST_CLASSSUPERVISORASSIGNMENT];
    if (lstClass != null && lstClass.Count() > 0)
    {
        count = lstClass.Count();
    }
    bool HeaderHeadTeacher = false;
    bool HeaderSubjectTeacher = false;
    bool HeaderOverseeing = false;
    if (lstClass != null && count > 0 && lstClass.Where(o => o.HeadTeacher == true).Count() == count)
    {
        HeaderHeadTeacher = true;
    }
    if (lstClass != null && count> 0  && lstClass.Where(o => o.SubjectTeacher == true).Count() == count)
    {
        HeaderSubjectTeacher = true;
    }
    if (lstClass != null && count > 0 && lstClass.Where(o => o.Overseeing == true).Count() == count)
    {
        HeaderOverseeing = true;
    }
    var index = 1;
}
<div class="vt-ResultPanel">
    @using (Ajax.BeginForm("SaveAssignment",
                       "ClassSupervisorAssignment",
                       new AjaxOptions
                       {
                           HttpMethod = "post",
                           OnBegin = "smas.showProcessingDialog",
                           OnComplete = "smas.hideProcessingDialog",
                           OnSuccess = "EditSuccess",
                           OnFailure = "EditFail"
                       },
                       new { id = "frmAssign", style = "width:100%;" }
                       ))
    {
        @Html.AntiForgeryToken()
        <div class="vt-ResultPanel-Title">
           
            <div class="vt-ResultPanel-Title-Button">
                @if ((bool)ViewData[ClassSupervisorAssignmentConstants.ENABLE_BUTTON_SAVE])
                {
                    @Html.ViettelButton(Res.Get("Common_Button_Save"), "submit", "", "btn btn-info btn-round btn-icon btn-icon-save")
                }
            </div>
            <div class="Clear">
            </div>
        </div>
        
        @Html.ViettelHiddenFor(o => o.EducationLevelID);
        @Html.ViettelHiddenFor(o => o.TeacherID);


                                                Html.Telerik()
                                                    .Grid((IEnumerable<ClassSupervisorAssignmentViewModel>)ViewData[ClassSupervisorAssignmentConstants.LIST_CLASSSUPERVISORASSIGNMENT])
                                                    .Name("GridClassSupervisorAssignment")
                                                    .Columns(c =>
                                                    {
                                                        c.Template(@<text>
        @(index++)
        @Html.Hidden("[" + (index - 2) + "].key", item.ClassID)
        @Html.Hidden("[" + (index - 2) + "].value", "")
        </text>)
                                                         .Title("STT")
                                                         .Width(20).HtmlAttributes(new {style="text-align:center"});

                                                        c.Bound(o => o.ClassName).Title(Res.Get("ClassSupervisorAssignment_Column_Class")).Sortable(true).Width(40).HtmlAttributes(new { style = "max-width: 100px; text-align: center" });
                                                        c.Template(@<text>
        @Html.ViettelCheckBox("[" + (index - 2) + "].value", SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_HEAD_TEACHER, new Dictionary<string, object> { { "typemode", "permissionHeadTeacher" }, { "onclick", "selectOne1()" }, { "class", "chkStatus1" } }, " ", item.HeadTeacher, false)
        @* @if(@item.HeadTeacher == true)
          {
              <input type = "checkbox" typeMode="permissionHeadTeacher" name = "@("["+(index - 2) + "].value")" value = "@SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_HEAD_TEACHER" class = "chkStatus" checked = "checked" onchange="changeValue(this)"  onclick = "selectOne()"/>
              }
              else
              {
               <input type = "checkbox" typeMode="permissionHeadTeacher" name = "@("[" + (index - 2) + "].value")" value = "@SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_HEAD_TEACHER" class = "chkStatus"  onchange="changeValue(this)"  onclick = "selectOne()"/>
              }*@
        </text>)
                                                            //.Title(Res.Get("ClassSupervisorAssignment_Column_Permission_HeadTeacher"))
                                                         .HeaderTemplate(
        @<text>
        @Res.Get("ClassSupervisorAssignment_Column_Permission_HeadTeacher")<br />
        @if (HeaderHeadTeacher == true)
        {
            <label class="custom-checkbox">
                <input type="checkbox" typecheck="checkboxAll1" typemode="permissionHeadTeacher"
                    name="semesterAll" onchange="clickStatus(this)" checked = "checked"/>
                <span class="checkmark">&nbsp;</span>
            </label>
        }
        else
        {
            <label class="custom-checkbox">
            <input type="checkbox" typecheck="checkboxAll1" typemode="permissionHeadTeacher"
                name="semesterAll" onchange="clickStatus(this)" />
                <span class="checkmark">&nbsp;</span>
            </label>
        }
        </text>)
                                                         .Width(20).HtmlAttributes(new { style = "text-align:center" });

                                                        c.Template(@<text> @*  <input type = "checkbox" typeMode="strMode" name = "@("["+(index - 2) + "].value")" value = "@SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_SUBJECT_TEACHER"/>*@
        @Html.ViettelCheckBox("[" + (index - 2) + "].value", SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_SUBJECT_TEACHER, new Dictionary<string, object> { { "typemode", "permissionSubjectTeacher" }, { "onclick", "selectOne2()" }, { "class", "chkStatus2" } }, " ", item.SubjectTeacher, false)
        </text>)
                                                            //.Title(Res.Get("ClassSupervisorAssignment_Column_Permission_SubjectTeacher"))
                                                         .HeaderTemplate(
        @<text>
        @Res.Get("ClassSupervisorAssignment_Column_Permission_SubjectTeacher")<br />
        @if (HeaderSubjectTeacher == true)
        {
            <label class="custom-checkbox">
                <input type="checkbox" typecheck="checkboxAll2" typemode="permissionSubjectTeacher"
                    name="semesterAll" onchange="clickStatus(this)" checked="checked"/>
                <span class="checkmark">&nbsp;</span>
            </label>
        }
        else
        {
            <label class="custom-checkbox">
                <input type="checkbox" typecheck="checkboxAll2" typemode="permissionSubjectTeacher"
                    name="semesterAll" onchange="clickStatus(this)" />
                <span class="checkmark">&nbsp;</span>
            </label>
        }
        </text>
                                                         )
                                                         .Width(20).HtmlAttributes(new { style = "text-align:center" });

                                                        c.Template(@<text>
        @Html.ViettelCheckBox("[" + (index - 2) + "].value", SMAS.Business.Common.SystemParamsInFile.SUPERVISING_PERMISSION_OVERSEEING, new Dictionary<string, object> { { "typemode", "permissionOverseeing" }, { "onclick", "selectOne3()" }, { "class", "chkStatus3" } }, " ", item.Overseeing, false)
        </text>)
                                                            //.Title(Res.Get("ClassSupervisorAssignment_Column_Permission_Overseeing"))
                                                         .HeaderTemplate(
        @<text>
        @Res.Get("ClassSupervisorAssignment_Column_Permission_Overseeing")<br />
        @if (HeaderOverseeing == true)
        {
            <label class="custom-checkbox">
                <input type="checkbox" typecheck="checkboxAll3" typemode="permissionOverseeing"
                    name="semesterAll" onchange="clickStatus(this)" checked="checked"/>
                <span class="checkmark">&nbsp;</span>
            </label>
        }
        else
        {
            <label class="custom-checkbox">
                <input type="checkbox" typecheck="checkboxAll3" typemode="permissionOverseeing"
                    name="semesterAll" onchange="clickStatus(this)" />
                <span class="checkmark">&nbsp;</span>
            </label>
            }
        </text>
                                                         )
                                                         .Width(20).HtmlAttributes(new { style = "text-align:center" });
                                                    })
                                                    .DataKeys(keys => keys.Add(o => o.ClassName))
                                                    .Resizable(o => o.Columns(true))
                                                    .Selectable()
                                                    .Render();

    }
    <br />
    <span>
        @Html.Raw(Res.Get("Note_Label_ClassSupervisorAssignment"))
    </span>
</div>
<script type="text/javascript">
    var sum = @count
    function EditSuccess(data) {
        smas.alert(data);
    }
    function EditFail(ajaxContext) {
        smas.alert(ajaxContext.responseText);
    }
    function clickStatus(checkall) {
        var typemode = $(checkall).attr("typeMode");
        var check = $(checkall).attr("checked");
        $("input[typemode=" + typemode + "]").each(function () {
            if (check == "checked") {
                $(this).attr("checked", "");
            } else {
                $(this).removeAttr("checked");
            }
        });
    }

    function selectOne1() {
        var check = $(".chkStatus1:checked").length;
        
        if (check == sum) {
            $('input[typecheck=checkboxAll1]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll1]').attr('checked', false);
        }

    }

    function selectOne2() {
        var check = $(".chkStatus2:checked").length;
        if (check == sum) {
            $('input[typecheck=checkboxAll2]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll2]').attr('checked', false);
        }

    }

    function selectOne3() {
        var check = $(".chkStatus3:checked").length;
        if (check == sum) {
            $('input[typecheck=checkboxAll3]').attr('checked', true);
        }
        else {
            $('input[typecheck=checkboxAll3]').attr('checked', false);
        }

    }
</script>
<style type="text/css">
    #lstClassSupervisorAssignment .vt-ResultPanel-Title-Button{text-align:right}#GridClassSupervisorAssignment .vt-control .editor-label{text-align:left;width:0;height:0}#GridClassSupervisorAssignment .vt-control{text-align:center}
</style>
