@using Com.Viettel.Framework.HtmlHelpers
@using Telerik.Web.Mvc.UI
@using System.Collections
@using SMAS.Web.Utils
@using SMAS.Web.Areas.ClassSupervisorAssignmentArea.Models

@{
    ViewBag.Title = Res.Get("ClassSupervisorAssignment_Label");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchPanel" class="class-super-assi-page-search">
    @Html.Partial("_Search")
</div>

<div id="lstClassSupervisorAssignment" class="class-super-assi-page-list">
    @Html.Partial("_List")
</div>

